{
  "documentation": "<p>Contains all data plane API operations and data types for the Amazon SageMaker Feature Store. Use this API to put, delete, and retrieve (get) features from a feature store.</p> <p>Use the following operations to configure your <code>OnlineStore</code> and <code>OfflineStore</code> features, and to create and manage feature groups:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateFeatureGroup.html\">CreateFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DeleteFeatureGroup.html\">DeleteFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_DescribeFeatureGroup.html\">DescribeFeatureGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_ListFeatureGroups.html\">ListFeatureGroups</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2020-07-01",
    "endpointPrefix": "featurestore-runtime.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon SageMaker Feature Store Runtime",
    "serviceId": "SageMaker FeatureStore Runtime",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "uid": "sagemaker-featurestore-runtime-2020-07-01"
  },
  "operations": {
    "BatchGetRecord": {
      "documentation": "<p>Retrieves a batch of <code>Records</code> from a <code>FeatureGroup</code>.</p>",
      "errors": [
        {
          "shape": "ValidationError"
        },
        {
          "shape": "InternalFailure"
        },
        {
          "shape": "ServiceUnavailable"
        },
        {
          "shape": "AccessForbidden"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/BatchGetRecord"
      },
      "input": {
        "shape": "BatchGetRecordRequest"
      },
      "name": "BatchGetRecord",
      "output": {
        "shape": "BatchGetRecordResponse"
      }
    },
    "DeleteRecord": {
      "documentation": "<p>Deletes a <code>Record</code> from a <code>FeatureGroup</code>. A new record will show up in the <code>OfflineStore</code> when the <code>DeleteRecord</code> API is called. This record will have a value of <code>True</code> in the <code>is_deleted</code> column.</p>",
      "errors": [
        {
          "shape": "ValidationError"
        },
        {
          "shape": "InternalFailure"
        },
        {
          "shape": "ServiceUnavailable"
        },
        {
          "shape": "AccessForbidden"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/FeatureGroup/{FeatureGroupName}"
      },
      "input": {
        "shape": "DeleteRecordRequest"
      },
      "name": "DeleteRecord"
    },
    "GetRecord": {
      "documentation": "<p>Use for <code>OnlineStore</code> serving from a <code>FeatureStore</code>. Only the latest records stored in the <code>OnlineStore</code> can be retrieved. If no Record with <code>RecordIdentifierValue</code> is found, then an empty result is returned. </p>",
      "errors": [
        {
          "shape": "ValidationError"
        },
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "InternalFailure"
        },
        {
          "shape": "ServiceUnavailable"
        },
        {
          "shape": "AccessForbidden"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/FeatureGroup/{FeatureGroupName}"
      },
      "input": {
        "shape": "GetRecordRequest"
      },
      "name": "GetRecord",
      "output": {
        "shape": "GetRecordResponse"
      }
    },
    "PutRecord": {
      "documentation": "<p>Used for data ingestion into the <code>FeatureStore</code>. The <code>PutRecord</code> API writes to both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the record is the latest record for the <code>recordIdentifier</code>, the record is written to both the <code>OnlineStore</code> and <code>OfflineStore</code>. If the record is a historic record, it is written only to the <code>OfflineStore</code>.</p>",
      "errors": [
        {
          "shape": "ValidationError"
        },
        {
          "shape": "InternalFailure"
        },
        {
          "shape": "ServiceUnavailable"
        },
        {
          "shape": "AccessForbidden"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/FeatureGroup/{FeatureGroupName}"
      },
      "input": {
        "shape": "PutRecordRequest"
      },
      "name": "PutRecord"
    }
  },
  "shapes": {
    "AccessForbidden": {
      "documentation": "<p>You do not have permission to perform an action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "BatchGetRecordError": {
      "documentation": "<p>The error that has occurred when attempting to retrieve a batch of Records.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code of an error that has occured when attempting to retrieve a batch of Records. For more information on errors, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_feature_store_GetRecord.html#API_feature_store_GetRecord_Errors\"> Errors</a>.</p>",
          "shape": "ValueAsString"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message of an error that has occured when attempting to retrieve a record in the batch.</p>",
          "shape": "Message"
        },
        "FeatureGroupName": {
          "documentation": "<p>The name of the feature group that the record belongs to.</p>",
          "shape": "ValueAsString"
        },
        "RecordIdentifierValueAsString": {
          "documentation": "<p>The value for the <code>RecordIdentifier</code> in string format of a Record from a <code>FeatureGroup</code> that is causing an error when attempting to be retrieved.</p>",
          "shape": "ValueAsString"
        }
      },
      "required": [
        "FeatureGroupName",
        "RecordIdentifierValueAsString",
        "ErrorCode",
        "ErrorMessage"
      ],
      "type": "structure"
    },
    "BatchGetRecordErrors": {
      "member": {
        "shape": "BatchGetRecordError"
      },
      "min": 0,
      "type": "list"
    },
    "BatchGetRecordIdentifier": {
      "documentation": "<p>The identifier that identifies the batch of Records you are retrieving in a batch.</p>",
      "members": {
        "FeatureGroupName": {
          "documentation": "<p>A <code>FeatureGroupName</code> containing Records you are retrieving in a batch.</p>",
          "shape": "FeatureGroupName"
        },
        "FeatureNames": {
          "documentation": "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
          "shape": "FeatureNames"
        },
        "RecordIdentifiersValueAsString": {
          "documentation": "<p>The value for a list of record identifiers in string format.</p>",
          "shape": "RecordIdentifiers"
        }
      },
      "required": [
        "FeatureGroupName",
        "RecordIdentifiersValueAsString"
      ],
      "type": "structure"
    },
    "BatchGetRecordIdentifiers": {
      "max": 10,
      "member": {
        "shape": "BatchGetRecordIdentifier"
      },
      "min": 1,
      "type": "list"
    },
    "BatchGetRecordRequest": {
      "members": {
        "Identifiers": {
          "documentation": "<p>A list of <code>FeatureGroup</code> names, with their corresponding <code>RecordIdentifier</code> value, and Feature name that have been requested to be retrieved in batch.</p>",
          "shape": "BatchGetRecordIdentifiers"
        }
      },
      "required": [
        "Identifiers"
      ],
      "type": "structure"
    },
    "BatchGetRecordResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>A list of errors that have occured when retrieving a batch of Records.</p>",
          "shape": "BatchGetRecordErrors"
        },
        "Records": {
          "documentation": "<p>A list of Records you requested to be retrieved in batch.</p>",
          "shape": "BatchGetRecordResultDetails"
        },
        "UnprocessedIdentifiers": {
          "documentation": "<p>A unprocessed list of <code>FeatureGroup</code> names, with their corresponding <code>RecordIdentifier</code> value, and Feature name.</p>",
          "shape": "UnprocessedIdentifiers"
        }
      },
      "required": [
        "Records",
        "Errors",
        "UnprocessedIdentifiers"
      ],
      "type": "structure"
    },
    "BatchGetRecordResultDetail": {
      "documentation": "<p>The output of Records that have been retrieved in a batch.</p>",
      "members": {
        "FeatureGroupName": {
          "documentation": "<p>The <code>FeatureGroupName</code> containing Records you retrieved in a batch.</p>",
          "shape": "ValueAsString"
        },
        "Record": {
          "documentation": "<p>The <code>Record</code> retrieved.</p>",
          "shape": "Record"
        },
        "RecordIdentifierValueAsString": {
          "documentation": "<p>The value of the record identifer in string format.</p>",
          "shape": "ValueAsString"
        }
      },
      "required": [
        "FeatureGroupName",
        "RecordIdentifierValueAsString",
        "Record"
      ],
      "type": "structure"
    },
    "BatchGetRecordResultDetails": {
      "member": {
        "shape": "BatchGetRecordResultDetail"
      },
      "min": 0,
      "type": "list"
    },
    "DeleteRecordRequest": {
      "members": {
        "EventTime": {
          "documentation": "<p>Timestamp indicating when the deletion event occurred. <code>EventTime</code> can be used to query data at a certain point in time.</p>",
          "location": "querystring",
          "locationName": "EventTime",
          "shape": "ValueAsString"
        },
        "FeatureGroupName": {
          "documentation": "<p>The name of the feature group to delete the record from. </p>",
          "location": "uri",
          "locationName": "FeatureGroupName",
          "shape": "FeatureGroupName"
        },
        "RecordIdentifierValueAsString": {
          "documentation": "<p>The value for the <code>RecordIdentifier</code> that uniquely identifies the record, in string format. </p>",
          "location": "querystring",
          "locationName": "RecordIdentifierValueAsString",
          "shape": "ValueAsString"
        }
      },
      "required": [
        "FeatureGroupName",
        "RecordIdentifierValueAsString",
        "EventTime"
      ],
      "type": "structure"
    },
    "FeatureGroupName": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "FeatureName": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]([-_]*[a-zA-Z0-9])*",
      "type": "string"
    },
    "FeatureNames": {
      "member": {
        "shape": "FeatureName"
      },
      "min": 1,
      "type": "list"
    },
    "FeatureValue": {
      "documentation": "<p>The value associated with a feature.</p>",
      "members": {
        "FeatureName": {
          "documentation": "<p>The name of a feature that a feature value corresponds to.</p>",
          "shape": "FeatureName"
        },
        "ValueAsString": {
          "documentation": "<p>The value associated with a feature, in string format. Note that features types can be String, Integral, or Fractional. This value represents all three types as a string.</p>",
          "shape": "ValueAsString"
        }
      },
      "required": [
        "FeatureName",
        "ValueAsString"
      ],
      "type": "structure"
    },
    "GetRecordRequest": {
      "members": {
        "FeatureGroupName": {
          "documentation": "<p>The name of the feature group in which you want to put the records.</p>",
          "location": "uri",
          "locationName": "FeatureGroupName",
          "shape": "FeatureGroupName"
        },
        "FeatureNames": {
          "documentation": "<p>List of names of Features to be retrieved. If not specified, the latest value for all the Features are returned.</p>",
          "location": "querystring",
          "locationName": "FeatureName",
          "shape": "FeatureNames"
        },
        "RecordIdentifierValueAsString": {
          "documentation": "<p>The value that corresponds to <code>RecordIdentifier</code> type and uniquely identifies the record in the <code>FeatureGroup</code>. </p>",
          "location": "querystring",
          "locationName": "RecordIdentifierValueAsString",
          "shape": "ValueAsString"
        }
      },
      "required": [
        "FeatureGroupName",
        "RecordIdentifierValueAsString"
      ],
      "type": "structure"
    },
    "GetRecordResponse": {
      "members": {
        "Record": {
          "documentation": "<p>The record you requested. A list of <code>FeatureValues</code>.</p>",
          "shape": "Record"
        }
      },
      "type": "structure"
    },
    "InternalFailure": {
      "documentation": "<p>An internal failure occurred. Try your request again. If the problem persists, contact AWS customer support.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "Message": {
      "max": 2048,
      "type": "string"
    },
    "PutRecordRequest": {
      "members": {
        "FeatureGroupName": {
          "documentation": "<p>The name of the feature group that you want to insert the record into.</p>",
          "location": "uri",
          "locationName": "FeatureGroupName",
          "shape": "FeatureGroupName"
        },
        "Record": {
          "documentation": "<p>List of FeatureValues to be inserted. This will be a full over-write. If you only want to update few of the feature values, do the following:</p> <ul> <li> <p>Use <code>GetRecord</code> to retrieve the latest record.</p> </li> <li> <p>Update the record returned from <code>GetRecord</code>. </p> </li> <li> <p>Use <code>PutRecord</code> to update feature values.</p> </li> </ul>",
          "shape": "Record"
        }
      },
      "required": [
        "FeatureGroupName",
        "Record"
      ],
      "type": "structure"
    },
    "Record": {
      "member": {
        "shape": "FeatureValue"
      },
      "min": 1,
      "type": "list"
    },
    "RecordIdentifiers": {
      "max": 100,
      "member": {
        "shape": "ValueAsString"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceNotFound": {
      "documentation": "<p>A resource that is required to perform an action was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ServiceUnavailable": {
      "documentation": "<p>The service is currently unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "UnprocessedIdentifiers": {
      "member": {
        "shape": "BatchGetRecordIdentifier"
      },
      "min": 0,
      "type": "list"
    },
    "ValidationError": {
      "documentation": "<p>There was an error validating your request.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ValueAsString": {
      "max": 358400,
      "pattern": ".*",
      "type": "string"
    }
  },
  "version": "2.0"
}
