{
  "documentation": "<fullname>Amazon OpenSearch Configuration Service</fullname> <p>Use the Amazon OpenSearch configuration API to create, configure, and manage Amazon OpenSearch Service domains.</p> <p>For sample code that uses the configuration API, see the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/opensearch-configuration-samples.html\"> Amazon OpenSearch Service Developer Guide</a>. The guide also contains <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html\"> sample code for sending signed HTTP requests to the OpenSearch APIs</a>. </p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#service-regions\" target=\"_blank\">Regions and Endpoints</a>. </p>",
  "metadata": {
    "apiVersion": "2021-01-01",
    "endpointPrefix": "es",
    "protocol": "rest-json",
    "serviceFullName": "Amazon OpenSearch Service",
    "serviceId": "OpenSearch",
    "signatureVersion": "v4",
    "uid": "opensearch-2021-01-01"
  },
  "operations": {
    "AcceptInboundConnection": {
      "documentation": "<p>Allows the remote domain owner to accept an inbound cross-cluster connection request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept"
      },
      "input": {
        "shape": "AcceptInboundConnectionRequest"
      },
      "name": "AcceptInboundConnection",
      "output": {
        "shape": "AcceptInboundConnectionResponse"
      }
    },
    "AddTags": {
      "documentation": "<p>Attaches tags to an existing domain. Tags are a set of case-sensitive key value pairs. An domain can have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains.html#managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon OpenSearch Service domains</a> for more information. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/tags"
      },
      "input": {
        "shape": "AddTagsRequest"
      },
      "name": "AddTags"
    },
    "AssociatePackage": {
      "documentation": "<p>Associates a package with an Amazon OpenSearch Service domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/packages/associate/{PackageID}/{DomainName}"
      },
      "input": {
        "shape": "AssociatePackageRequest"
      },
      "name": "AssociatePackage",
      "output": {
        "shape": "AssociatePackageResponse"
      }
    },
    "CancelServiceSoftwareUpdate": {
      "documentation": "<p>Cancels a scheduled service software update for an Amazon OpenSearch Service domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/serviceSoftwareUpdate/cancel"
      },
      "input": {
        "shape": "CancelServiceSoftwareUpdateRequest"
      },
      "name": "CancelServiceSoftwareUpdate",
      "output": {
        "shape": "CancelServiceSoftwareUpdateResponse"
      }
    },
    "CreateDomain": {
      "documentation": "<p>Creates a new Amazon OpenSearch Service domain. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html\" target=\"_blank\">Creating and managing Amazon OpenSearch Service domains </a> in the <i>Amazon OpenSearch Service Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/domain"
      },
      "input": {
        "shape": "CreateDomainRequest"
      },
      "name": "CreateDomain",
      "output": {
        "shape": "CreateDomainResponse"
      }
    },
    "CreateOutboundConnection": {
      "documentation": "<p>Creates a new cross-cluster connection from a local OpenSearch domain to a remote OpenSearch domain.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection"
      },
      "input": {
        "shape": "CreateOutboundConnectionRequest"
      },
      "name": "CreateOutboundConnection",
      "output": {
        "shape": "CreateOutboundConnectionResponse"
      }
    },
    "CreatePackage": {
      "documentation": "<p>Create a package for use with Amazon OpenSearch Service domains.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/packages"
      },
      "input": {
        "shape": "CreatePackageRequest"
      },
      "name": "CreatePackage",
      "output": {
        "shape": "CreatePackageResponse"
      }
    },
    "DeleteDomain": {
      "documentation": "<p>Permanently deletes the specified domain and all of its data. Once a domain is deleted, it cannot be recovered. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "name": "DeleteDomain",
      "output": {
        "shape": "DeleteDomainResponse"
      }
    },
    "DeleteInboundConnection": {
      "documentation": "<p>Allows the remote domain owner to delete an existing inbound cross-cluster connection.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}"
      },
      "input": {
        "shape": "DeleteInboundConnectionRequest"
      },
      "name": "DeleteInboundConnection",
      "output": {
        "shape": "DeleteInboundConnectionResponse"
      }
    },
    "DeleteOutboundConnection": {
      "documentation": "<p>Allows the local domain owner to delete an existing outbound cross-cluster connection.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/{ConnectionId}"
      },
      "input": {
        "shape": "DeleteOutboundConnectionRequest"
      },
      "name": "DeleteOutboundConnection",
      "output": {
        "shape": "DeleteOutboundConnectionResponse"
      }
    },
    "DeletePackage": {
      "documentation": "<p>Deletes the package.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2021-01-01/packages/{PackageID}"
      },
      "input": {
        "shape": "DeletePackageRequest"
      },
      "name": "DeletePackage",
      "output": {
        "shape": "DeletePackageResponse"
      }
    },
    "DescribeDomain": {
      "documentation": "<p>Returns domain configuration information about the specified domain, including the domain ID, domain endpoint, and domain ARN. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input": {
        "shape": "DescribeDomainRequest"
      },
      "name": "DescribeDomain",
      "output": {
        "shape": "DescribeDomainResponse"
      }
    },
    "DescribeDomainAutoTunes": {
      "documentation": "<p>Provides scheduled Auto-Tune action details for the domain, such as Auto-Tune action type, description, severity, and scheduled date. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/autoTunes"
      },
      "input": {
        "shape": "DescribeDomainAutoTunesRequest"
      },
      "name": "DescribeDomainAutoTunes",
      "output": {
        "shape": "DescribeDomainAutoTunesResponse"
      }
    },
    "DescribeDomainChangeProgress": {
      "documentation": "<p>Returns information about the current blue/green deployment happening on a domain, including a change ID, status, and progress stages.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/progress"
      },
      "input": {
        "shape": "DescribeDomainChangeProgressRequest"
      },
      "name": "DescribeDomainChangeProgress",
      "output": {
        "shape": "DescribeDomainChangeProgressResponse"
      }
    },
    "DescribeDomainConfig": {
      "documentation": "<p>Provides cluster configuration information about the specified domain, such as the state, creation date, update version, and update date for cluster options. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input": {
        "shape": "DescribeDomainConfigRequest"
      },
      "name": "DescribeDomainConfig",
      "output": {
        "shape": "DescribeDomainConfigResponse"
      }
    },
    "DescribeDomains": {
      "documentation": "<p>Returns domain configuration information about the specified domains, including the domain ID, domain endpoint, and domain ARN. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/domain-info"
      },
      "input": {
        "shape": "DescribeDomainsRequest"
      },
      "name": "DescribeDomains",
      "output": {
        "shape": "DescribeDomainsResponse"
      }
    },
    "DescribeInboundConnections": {
      "documentation": "<p>Lists all the inbound cross-cluster connections for a remote domain.</p>",
      "errors": [
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/search"
      },
      "input": {
        "shape": "DescribeInboundConnectionsRequest"
      },
      "name": "DescribeInboundConnections",
      "output": {
        "shape": "DescribeInboundConnectionsResponse"
      }
    },
    "DescribeInstanceTypeLimits": {
      "documentation": "<p> Describe the limits for a given instance type and OpenSearch or Elasticsearch version. When modifying an existing domain, specify the <code> <a>DomainName</a> </code> to see which limits you can modify. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/instanceTypeLimits/{EngineVersion}/{InstanceType}"
      },
      "input": {
        "shape": "DescribeInstanceTypeLimitsRequest"
      },
      "name": "DescribeInstanceTypeLimits",
      "output": {
        "shape": "DescribeInstanceTypeLimitsResponse"
      }
    },
    "DescribeOutboundConnections": {
      "documentation": "<p>Lists all the outbound cross-cluster connections for a local domain.</p>",
      "errors": [
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/cc/outboundConnection/search"
      },
      "input": {
        "shape": "DescribeOutboundConnectionsRequest"
      },
      "name": "DescribeOutboundConnections",
      "output": {
        "shape": "DescribeOutboundConnectionsResponse"
      }
    },
    "DescribePackages": {
      "documentation": "<p>Describes all packages available to Amazon OpenSearch Service domains. Includes options for filtering, limiting the number of results, and pagination. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/packages/describe"
      },
      "input": {
        "shape": "DescribePackagesRequest"
      },
      "name": "DescribePackages",
      "output": {
        "shape": "DescribePackagesResponse"
      }
    },
    "DescribeReservedInstanceOfferings": {
      "documentation": "<p>Lists available reserved OpenSearch instance offerings.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/reservedInstanceOfferings"
      },
      "input": {
        "shape": "DescribeReservedInstanceOfferingsRequest"
      },
      "name": "DescribeReservedInstanceOfferings",
      "output": {
        "shape": "DescribeReservedInstanceOfferingsResponse"
      }
    },
    "DescribeReservedInstances": {
      "documentation": "<p>Returns information about reserved OpenSearch instances for this account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/reservedInstances"
      },
      "input": {
        "shape": "DescribeReservedInstancesRequest"
      },
      "name": "DescribeReservedInstances",
      "output": {
        "shape": "DescribeReservedInstancesResponse"
      }
    },
    "DissociatePackage": {
      "documentation": "<p>Dissociates a package from the Amazon OpenSearch Service domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/packages/dissociate/{PackageID}/{DomainName}"
      },
      "input": {
        "shape": "DissociatePackageRequest"
      },
      "name": "DissociatePackage",
      "output": {
        "shape": "DissociatePackageResponse"
      }
    },
    "GetCompatibleVersions": {
      "documentation": "<p> Returns a list of upgrade-compatible versions of OpenSearch/Elasticsearch. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade-compatible versions of OpenSearch/Elasticsearch for that specific domain. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/compatibleVersions"
      },
      "input": {
        "shape": "GetCompatibleVersionsRequest"
      },
      "name": "GetCompatibleVersions",
      "output": {
        "shape": "GetCompatibleVersionsResponse"
      }
    },
    "GetPackageVersionHistory": {
      "documentation": "<p>Returns a list of package versions, along with their creation time and commit message.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/packages/{PackageID}/history"
      },
      "input": {
        "shape": "GetPackageVersionHistoryRequest"
      },
      "name": "GetPackageVersionHistory",
      "output": {
        "shape": "GetPackageVersionHistoryResponse"
      }
    },
    "GetUpgradeHistory": {
      "documentation": "<p>Retrieves the complete history of the last 10 upgrades performed on the domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/upgradeDomain/{DomainName}/history"
      },
      "input": {
        "shape": "GetUpgradeHistoryRequest"
      },
      "name": "GetUpgradeHistory",
      "output": {
        "shape": "GetUpgradeHistoryResponse"
      }
    },
    "GetUpgradeStatus": {
      "documentation": "<p>Retrieves the latest status of the last upgrade or upgrade eligibility check performed on the domain. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/upgradeDomain/{DomainName}/status"
      },
      "input": {
        "shape": "GetUpgradeStatusRequest"
      },
      "name": "GetUpgradeStatus",
      "output": {
        "shape": "GetUpgradeStatusResponse"
      }
    },
    "ListDomainNames": {
      "documentation": "<p>Returns the names of all domains owned by the current user's account.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/domain"
      },
      "input": {
        "shape": "ListDomainNamesRequest"
      },
      "name": "ListDomainNames",
      "output": {
        "shape": "ListDomainNamesResponse"
      }
    },
    "ListDomainsForPackage": {
      "documentation": "<p>Lists all Amazon OpenSearch Service domains associated with the package.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/packages/{PackageID}/domains"
      },
      "input": {
        "shape": "ListDomainsForPackageRequest"
      },
      "name": "ListDomainsForPackage",
      "output": {
        "shape": "ListDomainsForPackageResponse"
      }
    },
    "ListInstanceTypeDetails": {
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/instanceTypeDetails/{EngineVersion}"
      },
      "input": {
        "shape": "ListInstanceTypeDetailsRequest"
      },
      "name": "ListInstanceTypeDetails",
      "output": {
        "shape": "ListInstanceTypeDetailsResponse"
      }
    },
    "ListPackagesForDomain": {
      "documentation": "<p>Lists all packages associated with the Amazon OpenSearch Service domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/domain/{DomainName}/packages"
      },
      "input": {
        "shape": "ListPackagesForDomainRequest"
      },
      "name": "ListPackagesForDomain",
      "output": {
        "shape": "ListPackagesForDomainResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Returns all tags for the given domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/tags/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "ListVersions": {
      "documentation": "<p>List all supported versions of OpenSearch and Elasticsearch.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2021-01-01/opensearch/versions"
      },
      "input": {
        "shape": "ListVersionsRequest"
      },
      "name": "ListVersions",
      "output": {
        "shape": "ListVersionsResponse"
      }
    },
    "PurchaseReservedInstanceOffering": {
      "documentation": "<p>Allows you to purchase reserved OpenSearch instances.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/purchaseReservedInstanceOffering"
      },
      "input": {
        "shape": "PurchaseReservedInstanceOfferingRequest"
      },
      "name": "PurchaseReservedInstanceOffering",
      "output": {
        "shape": "PurchaseReservedInstanceOfferingResponse"
      }
    },
    "RejectInboundConnection": {
      "documentation": "<p>Allows the remote domain owner to reject an inbound cross-cluster connection request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/reject"
      },
      "input": {
        "shape": "RejectInboundConnectionRequest"
      },
      "name": "RejectInboundConnection",
      "output": {
        "shape": "RejectInboundConnectionResponse"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes the specified set of tags from the given domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/tags-removal"
      },
      "input": {
        "shape": "RemoveTagsRequest"
      },
      "name": "RemoveTags"
    },
    "StartServiceSoftwareUpdate": {
      "documentation": "<p>Schedules a service software update for an Amazon OpenSearch Service domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/serviceSoftwareUpdate/start"
      },
      "input": {
        "shape": "StartServiceSoftwareUpdateRequest"
      },
      "name": "StartServiceSoftwareUpdate",
      "output": {
        "shape": "StartServiceSoftwareUpdateResponse"
      }
    },
    "UpdateDomainConfig": {
      "documentation": "<p>Modifies the cluster configuration of the specified domain, such as setting the instance type and the number of instances. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input": {
        "shape": "UpdateDomainConfigRequest"
      },
      "name": "UpdateDomainConfig",
      "output": {
        "shape": "UpdateDomainConfigResponse"
      }
    },
    "UpdatePackage": {
      "documentation": "<p>Updates a package for use with Amazon OpenSearch Service domains.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/packages/update"
      },
      "input": {
        "shape": "UpdatePackageRequest"
      },
      "name": "UpdatePackage",
      "output": {
        "shape": "UpdatePackageResponse"
      }
    },
    "UpgradeDomain": {
      "documentation": "<p>Allows you to either upgrade your domain or perform an upgrade eligibility check to a compatible version of OpenSearch or Elasticsearch. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2021-01-01/opensearch/upgradeDomain"
      },
      "input": {
        "shape": "UpgradeDomainRequest"
      },
      "name": "UpgradeDomain",
      "output": {
        "shape": "UpgradeDomainResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "documentation": "<p>The Amazon Resource Name (ARN) of the domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html\" target=\"_blank\">Identifiers for IAM Entities </a> in <i>Using AWS Identity and Access Management</i> for more information. </p>",
      "max": 2048,
      "min": 20,
      "pattern": ".*",
      "type": "string"
    },
    "AWSDomainInformation": {
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "OwnerId": {
          "shape": "OwnerId"
        },
        "Region": {
          "shape": "Region"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "AcceptInboundConnectionRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>AcceptInboundConnection</a> </code> operation. </p>",
      "members": {
        "ConnectionId": {
          "documentation": "<p>The ID of the inbound connection you want to accept.</p>",
          "location": "uri",
          "locationName": "ConnectionId",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "ConnectionId"
      ],
      "type": "structure"
    },
    "AcceptInboundConnectionResponse": {
      "documentation": "<p>The result of an <code> <a>AcceptInboundConnection</a> </code> operation. Contains details about the accepted inbound connection. </p>",
      "members": {
        "Connection": {
          "documentation": "<p>The <code> <a>InboundConnection</a> </code> of the accepted inbound connection. </p>",
          "shape": "InboundConnection"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AccessPoliciesStatus": {
      "documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules. </p>",
      "members": {
        "Options": {
          "documentation": "<p>The access policy configured for the domain. Access policies can be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-access-policies\" target=\"_blank\"> Configuring access policies</a>for more information. </p>",
          "shape": "PolicyDocument"
        },
        "Status": {
          "documentation": "<p>The status of the access policy for the domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AddTagsRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>AddTags</a> </code> operation. Specifies the tags to attach to the domain. </p>",
      "members": {
        "ARN": {
          "documentation": "<p>Specify the <code>ARN</code> of the domain you want to add tags to. </p>",
          "shape": "ARN"
        },
        "TagList": {
          "documentation": "<p>List of <code>Tag</code> to add to the domain. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ARN",
        "TagList"
      ],
      "type": "structure"
    },
    "AdditionalLimit": {
      "documentation": "<p> List of limits that are specific to a given InstanceType and for each of its <code> <a>InstanceRole</a> </code> . </p>",
      "members": {
        "LimitName": {
          "documentation": "<p> Additional limit is specific to a given InstanceType and for each of its <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute is present on the master node only to specify how much data nodes up to which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute is present on data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> up to which you don't need any master nodes to govern them. </ul> </p>",
          "shape": "LimitName"
        },
        "LimitValues": {
          "documentation": "<p> Value for a given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>",
          "shape": "LimitValueList"
        }
      },
      "type": "structure"
    },
    "AdditionalLimitList": {
      "member": {
        "shape": "AdditionalLimit"
      },
      "type": "list"
    },
    "AdvancedOptions": {
      "documentation": "<p>Exposes select native OpenSearch configuration values from <code>opensearch.yml</code>. Currently, the following advanced options are available: </p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters </a> for more information. </li> <li>Option to specify the percentage of heap space allocated to field data. By default, this setting is unbounded. </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\"> Advanced cluster parameters</a>. </p>",
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "AdvancedOptionsStatus": {
      "documentation": "<p>Status of the advanced options for the specified domain. Currently, the following advanced options are available: </p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters </a> for more information. </li> <li>Option to specify the percentage of heap space allocated to field data. By default, this setting is unbounded. </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\"> Advanced cluster parameters</a>. </p>",
      "members": {
        "Options": {
          "documentation": "<p>The status of advanced options for the specified domain.</p>",
          "shape": "AdvancedOptions"
        },
        "Status": {
          "documentation": "<p>The <code>OptionStatus</code> for advanced options for the specified domain. </p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AdvancedSecurityOptions": {
      "documentation": "<p>The advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled. </p>",
      "members": {
        "AnonymousAuthDisableDate": {
          "documentation": "<p>Specifies the Anonymous Auth Disable Date when Anonymous Auth is enabled.</p>",
          "shape": "DisableTimestamp"
        },
        "AnonymousAuthEnabled": {
          "documentation": "<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>",
          "shape": "Boolean"
        },
        "Enabled": {
          "documentation": "<p>True if advanced security is enabled.</p>",
          "shape": "Boolean"
        },
        "InternalUserDatabaseEnabled": {
          "documentation": "<p>True if the internal user database is enabled.</p>",
          "shape": "Boolean"
        },
        "SAMLOptions": {
          "documentation": "<p>Describes the SAML application configured for a domain.</p>",
          "shape": "SAMLOptionsOutput"
        }
      },
      "type": "structure"
    },
    "AdvancedSecurityOptionsInput": {
      "documentation": "<p>The advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled). </p>",
      "members": {
        "AnonymousAuthEnabled": {
          "documentation": "<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>",
          "shape": "Boolean"
        },
        "Enabled": {
          "documentation": "<p>True if advanced security is enabled.</p>",
          "shape": "Boolean"
        },
        "InternalUserDatabaseEnabled": {
          "documentation": "<p>True if the internal user database is enabled.</p>",
          "shape": "Boolean"
        },
        "MasterUserOptions": {
          "documentation": "<p>Credentials for the master user: username and password, ARN, or both.</p>",
          "shape": "MasterUserOptions"
        },
        "SAMLOptions": {
          "documentation": "<p>The SAML application configuration for the domain.</p>",
          "shape": "SAMLOptionsInput"
        }
      },
      "type": "structure"
    },
    "AdvancedSecurityOptionsStatus": {
      "documentation": "<p>The status of advanced security options for the specified domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Advanced security options for the specified domain.</p>",
          "shape": "AdvancedSecurityOptions"
        },
        "Status": {
          "documentation": "<p>Status of the advanced security options for the specified domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AssociatePackageRequest": {
      "documentation": "<p> Container for the request parameters to the <code> <a>AssociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain to associate the package with.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "PackageID": {
          "documentation": "<p>Internal ID of the package to associate with a domain. Use <code>DescribePackages</code> to find this value. </p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID",
        "DomainName"
      ],
      "type": "structure"
    },
    "AssociatePackageResponse": {
      "documentation": "<p> Container for the response returned by <code> <a>AssociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetails": {
          "documentation": "<p> <code>DomainPackageDetails</code> </p>",
          "shape": "DomainPackageDetails"
        }
      },
      "type": "structure"
    },
    "AutoTune": {
      "documentation": "<p>Specifies the Auto-Tune type and Auto-Tune action details.</p>",
      "members": {
        "AutoTuneDetails": {
          "documentation": "<p>Specifies details about the Auto-Tune action. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "AutoTuneDetails"
        },
        "AutoTuneType": {
          "documentation": "<p>Specifies the Auto-Tune type. Valid value is SCHEDULED_ACTION.</p>",
          "shape": "AutoTuneType"
        }
      },
      "type": "structure"
    },
    "AutoTuneDate": {
      "documentation": "<p>The timestamp of the Auto-Tune action scheduled for the domain.</p>",
      "type": "timestamp"
    },
    "AutoTuneDesiredState": {
      "documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>",
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "AutoTuneDetails": {
      "documentation": "<p>Specifies details about the Auto-Tune action. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
      "members": {
        "ScheduledAutoTuneDetails": {
          "shape": "ScheduledAutoTuneDetails"
        }
      },
      "type": "structure"
    },
    "AutoTuneList": {
      "member": {
        "shape": "AutoTune"
      },
      "type": "list"
    },
    "AutoTuneMaintenanceSchedule": {
      "documentation": "<p>Specifies the Auto-Tune maintenance schedule. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
      "members": {
        "CronExpressionForRecurrence": {
          "documentation": "<p>A cron expression for a recurring maintenance schedule. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "String"
        },
        "Duration": {
          "documentation": "<p>Specifies maintenance schedule duration: duration value and duration unit. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "Duration"
        },
        "StartAt": {
          "documentation": "<p>The timestamp at which the Auto-Tune maintenance schedule starts.</p>",
          "shape": "StartAt"
        }
      },
      "type": "structure"
    },
    "AutoTuneMaintenanceScheduleList": {
      "max": 100,
      "member": {
        "shape": "AutoTuneMaintenanceSchedule"
      },
      "type": "list"
    },
    "AutoTuneOptions": {
      "documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain, rollback state when disabling Auto-Tune options and list of maintenance schedules. </p>",
      "members": {
        "DesiredState": {
          "documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>",
          "shape": "AutoTuneDesiredState"
        },
        "MaintenanceSchedules": {
          "documentation": "<p>A list of maintenance schedules. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "AutoTuneMaintenanceScheduleList"
        },
        "RollbackOnDisable": {
          "documentation": "<p>The rollback state while disabling Auto-Tune for the domain. Valid values are NO_ROLLBACK and DEFAULT_ROLLBACK. </p>",
          "shape": "RollbackOnDisable"
        }
      },
      "type": "structure"
    },
    "AutoTuneOptionsInput": {
      "documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules. </p>",
      "members": {
        "DesiredState": {
          "documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>",
          "shape": "AutoTuneDesiredState"
        },
        "MaintenanceSchedules": {
          "documentation": "<p>A list of maintenance schedules. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "AutoTuneMaintenanceScheduleList"
        }
      },
      "type": "structure"
    },
    "AutoTuneOptionsOutput": {
      "documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules. </p>",
      "members": {
        "ErrorMessage": {
          "documentation": "<p>The error message while enabling or disabling Auto-Tune.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>The <code>AutoTuneState</code> for the domain. </p>",
          "shape": "AutoTuneState"
        }
      },
      "type": "structure"
    },
    "AutoTuneOptionsStatus": {
      "documentation": "<p>The Auto-Tune status for the domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Specifies Auto-Tune options for the domain.</p>",
          "shape": "AutoTuneOptions"
        },
        "Status": {
          "documentation": "<p>The status of the Auto-Tune options for the domain.</p>",
          "shape": "AutoTuneStatus"
        }
      },
      "type": "structure"
    },
    "AutoTuneState": {
      "documentation": "<p>The Auto-Tune state for the domain. For valid states see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service</a>. </p>",
      "enum": [
        "ENABLED",
        "DISABLED",
        "ENABLE_IN_PROGRESS",
        "DISABLE_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_SCHEDULED",
        "DISABLED_AND_ROLLBACK_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_COMPLETE",
        "DISABLED_AND_ROLLBACK_ERROR",
        "ERROR"
      ],
      "type": "string"
    },
    "AutoTuneStatus": {
      "documentation": "<p>Provides the current Auto-Tune status for the domain.</p>",
      "members": {
        "CreationDate": {
          "documentation": "<p>The timestamp of the Auto-Tune options creation date.</p>",
          "shape": "UpdateTimestamp"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message while enabling or disabling Auto-Tune.</p>",
          "shape": "String"
        },
        "PendingDeletion": {
          "documentation": "<p>Indicates whether the domain is being deleted.</p>",
          "shape": "Boolean"
        },
        "State": {
          "documentation": "<p>The <code>AutoTuneState</code> for the domain. </p>",
          "shape": "AutoTuneState"
        },
        "UpdateDate": {
          "documentation": "<p>The timestamp of when the Auto-Tune options were last updated.</p>",
          "shape": "UpdateTimestamp"
        },
        "UpdateVersion": {
          "documentation": "<p>The latest version of the Auto-Tune options.</p>",
          "shape": "UIntValue"
        }
      },
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "type": "structure"
    },
    "AutoTuneType": {
      "documentation": "<p>Specifies the Auto-Tune type. Valid value is SCHEDULED_ACTION.</p>",
      "enum": [
        "SCHEDULED_ACTION"
      ],
      "type": "string"
    },
    "BackendRole": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "BaseException": {
      "documentation": "<p>An error occurred while processing the request.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A description of the error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelServiceSoftwareUpdateRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>CancelServiceSoftwareUpdate</a> </code> operation. Specifies the name of the domain that you wish to cancel a service software update on. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to stop the latest service software update on.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CancelServiceSoftwareUpdateResponse": {
      "documentation": "<p>The result of a <code>CancelServiceSoftwareUpdate</code> operation. Contains the status of the update. </p>",
      "members": {
        "ServiceSoftwareOptions": {
          "documentation": "<p>The current status of the OpenSearch service software update.</p>",
          "shape": "ServiceSoftwareOptions"
        }
      },
      "type": "structure"
    },
    "ChangeProgressDetails": {
      "documentation": "<p>Specifies change details of the domain configuration change.</p>",
      "members": {
        "ChangeId": {
          "documentation": "<p>The unique change identifier associated with a specific domain configuration change.</p>",
          "shape": "GUID"
        },
        "Message": {
          "documentation": "<p>Contains an optional message associated with the domain configuration change.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ChangeProgressStage": {
      "documentation": "<p>A progress stage details of a specific domain configuration change.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the progress stage.</p>",
          "shape": "Description"
        },
        "LastUpdated": {
          "documentation": "<p>The last updated timestamp of the progress stage.</p>",
          "shape": "LastUpdated"
        },
        "Name": {
          "documentation": "<p>The name of the specific progress stage.</p>",
          "shape": "ChangeProgressStageName"
        },
        "Status": {
          "documentation": "<p>The overall status of a specific progress stage.</p>",
          "shape": "ChangeProgressStageStatus"
        }
      },
      "type": "structure"
    },
    "ChangeProgressStageList": {
      "documentation": "<p>The list of progress stages of a specific domain configuration change.</p>",
      "member": {
        "shape": "ChangeProgressStage"
      },
      "type": "list"
    },
    "ChangeProgressStageName": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ChangeProgressStageStatus": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ChangeProgressStatusDetails": {
      "documentation": "<p>The progress details of a specific domain configuration change.</p>",
      "members": {
        "ChangeId": {
          "documentation": "<p>The unique change identifier associated with a specific domain configuration change.</p>",
          "shape": "GUID"
        },
        "ChangeProgressStages": {
          "documentation": "<p>The specific stages that the domain is going through to perform the configuration change.</p>",
          "shape": "ChangeProgressStageList"
        },
        "CompletedProperties": {
          "documentation": "<p>The list of properties involved in the domain configuration change that are completed.</p>",
          "shape": "StringList"
        },
        "PendingProperties": {
          "documentation": "<p>The list of properties involved in the domain configuration change that are still in pending.</p>",
          "shape": "StringList"
        },
        "StartTime": {
          "documentation": "<p>The time at which the configuration change is made on the domain.</p>",
          "shape": "UpdateTimestamp"
        },
        "Status": {
          "documentation": "<p>The overall status of the domain configuration change. This field can take the following values: <code>PENDING</code>, <code>PROCESSING</code>, <code>COMPLETED</code> and <code>FAILED</code></p>",
          "shape": "OverallChangeStatus"
        },
        "TotalNumberOfStages": {
          "documentation": "<p>The total number of stages required for the configuration change.</p>",
          "shape": "TotalNumberOfStages"
        }
      },
      "type": "structure"
    },
    "CloudWatchLogsLogGroupArn": {
      "documentation": "<p>ARN of the Cloudwatch log group to publish logs to.</p>",
      "max": 2048,
      "min": 20,
      "pattern": ".*",
      "type": "string"
    },
    "ClusterConfig": {
      "documentation": "<p>The configuration for the domain cluster, such as the type and number of instances.</p>",
      "members": {
        "ColdStorageOptions": {
          "documentation": "<p>Specifies the <code>ColdStorageOptions</code> config for a Domain</p>",
          "shape": "ColdStorageOptions"
        },
        "DedicatedMasterCount": {
          "documentation": "<p>Total number of dedicated master nodes, active and on standby, for the cluster.</p>",
          "shape": "IntegerClass"
        },
        "DedicatedMasterEnabled": {
          "documentation": "<p>A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains.html#managedomains-dedicatedmasternodes\" target=\"_blank\">Dedicated master nodes in Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "Boolean"
        },
        "DedicatedMasterType": {
          "documentation": "<p>The instance type for a dedicated master node.</p>",
          "shape": "OpenSearchPartitionInstanceType"
        },
        "InstanceCount": {
          "documentation": "<p>The number of instances in the specified domain cluster.</p>",
          "shape": "IntegerClass"
        },
        "InstanceType": {
          "documentation": "<p>The instance type for an OpenSearch cluster. UltraWarm instance types are not supported for data instances. </p>",
          "shape": "OpenSearchPartitionInstanceType"
        },
        "WarmCount": {
          "documentation": "<p>The number of UltraWarm nodes in the cluster.</p>",
          "shape": "IntegerClass"
        },
        "WarmEnabled": {
          "documentation": "<p>True to enable UltraWarm storage.</p>",
          "shape": "Boolean"
        },
        "WarmType": {
          "documentation": "<p>The instance type for the OpenSearch cluster's warm nodes.</p>",
          "shape": "OpenSearchWarmPartitionInstanceType"
        },
        "ZoneAwarenessConfig": {
          "documentation": "<p>The zone awareness configuration for a domain when zone awareness is enabled.</p>",
          "shape": "ZoneAwarenessConfig"
        },
        "ZoneAwarenessEnabled": {
          "documentation": "<p>A boolean value to indicate whether zone awareness is enabled. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-multiaz.html\" target=\"_blank\">Configuring a multi-AZ domain in Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ClusterConfigStatus": {
      "documentation": "<p>The configuration status for the specified domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p>The cluster configuration for the specified domain.</p>",
          "shape": "ClusterConfig"
        },
        "Status": {
          "documentation": "<p>The cluster configuration status for the specified domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "CognitoOptions": {
      "documentation": "<p>Options to specify the Cognito user and identity pools for OpenSearch Dashboards authentication. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/cognito-auth.html\" target=\"_blank\">Configuring Amazon Cognito authentication for OpenSearch Dashboards</a>. </p>",
      "members": {
        "Enabled": {
          "documentation": "<p>The option to enable Cognito for OpenSearch Dashboards authentication.</p>",
          "shape": "Boolean"
        },
        "IdentityPoolId": {
          "documentation": "<p>The Cognito identity pool ID for OpenSearch Dashboards authentication.</p>",
          "shape": "IdentityPoolId"
        },
        "RoleArn": {
          "documentation": "<p>The role ARN that provides OpenSearch permissions for accessing Cognito resources.</p>",
          "shape": "RoleArn"
        },
        "UserPoolId": {
          "documentation": "<p>The Cognito user pool ID for OpenSearch Dashboards authentication.</p>",
          "shape": "UserPoolId"
        }
      },
      "type": "structure"
    },
    "CognitoOptionsStatus": {
      "documentation": "<p>The status of the Cognito options for the specified domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Cognito options for the specified domain.</p>",
          "shape": "CognitoOptions"
        },
        "Status": {
          "documentation": "<p>The status of the Cognito options for the specified domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "ColdStorageOptions": {
      "documentation": "<p>Specifies the configuration for cold storage options such as enabled</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enable cold storage option. Accepted values true or false</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "CommitMessage": {
      "max": 160,
      "type": "string"
    },
    "CompatibleVersionsList": {
      "member": {
        "shape": "CompatibleVersionsMap"
      },
      "type": "list"
    },
    "CompatibleVersionsMap": {
      "documentation": "<p> A map from an <code> <a>EngineVersion</a> </code> to a list of compatible <code> <a>EngineVersion</a> </code> s to which the domain can be upgraded. </p>",
      "members": {
        "SourceVersion": {
          "documentation": "<p>The current version of OpenSearch a domain is on.</p>",
          "shape": "VersionString"
        },
        "TargetVersions": {
          "shape": "VersionList"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>An error occurred because the client attempts to remove a resource that is currently in use. Returns HTTP status code 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ConnectionAlias": {
      "max": 100,
      "min": 2,
      "pattern": "[a-zA-Z][a-zA-Z0-9\\-\\_]+",
      "type": "string"
    },
    "ConnectionId": {
      "max": 256,
      "min": 10,
      "pattern": "[a-z][a-z0-9\\-]+",
      "type": "string"
    },
    "ConnectionStatusMessage": {
      "type": "string"
    },
    "CreateDomainRequest": {
      "members": {
        "AccessPolicies": {
          "documentation": "<p>IAM access policy as a JSON-formatted string.</p>",
          "shape": "PolicyDocument"
        },
        "AdvancedOptions": {
          "documentation": "<p>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters </a> for more information. </p>",
          "shape": "AdvancedOptions"
        },
        "AdvancedSecurityOptions": {
          "documentation": "<p>Specifies advanced security options.</p>",
          "shape": "AdvancedSecurityOptionsInput"
        },
        "AutoTuneOptions": {
          "documentation": "<p>Specifies Auto-Tune options.</p>",
          "shape": "AutoTuneOptionsInput"
        },
        "ClusterConfig": {
          "documentation": "<p>Configuration options for a domain. Specifies the instance type and number of instances in the domain. </p>",
          "shape": "ClusterConfig"
        },
        "CognitoOptions": {
          "documentation": "<p>Options to specify the Cognito user and identity pools for OpenSearch Dashboards authentication. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/cognito-auth.html\" target=\"_blank\">Configuring Amazon Cognito authentication for OpenSearch Dashboards</a>. </p>",
          "shape": "CognitoOptions"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>Options to specify configurations that will be applied to the domain endpoint.</p>",
          "shape": "DomainEndpointOptions"
        },
        "DomainName": {
          "documentation": "<p>The name of the Amazon OpenSearch Service domain you're creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a lowercase letter and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen). </p>",
          "shape": "DomainName"
        },
        "EBSOptions": {
          "documentation": "<p>Options to enable, disable, and specify the type and size of EBS storage volumes.</p>",
          "shape": "EBSOptions"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p>Options for encryption of data at rest.</p>",
          "shape": "EncryptionAtRestOptions"
        },
        "EngineVersion": {
          "documentation": "<p>String of format Elasticsearch_X.Y or OpenSearch_X.Y to specify the engine version for the Amazon OpenSearch Service domain. For example, \"OpenSearch_1.0\" or \"Elasticsearch_7.9\". For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomains\" target=\"_blank\">Creating and managing Amazon OpenSearch Service domains </a>. </p>",
          "shape": "VersionString"
        },
        "LogPublishingOptions": {
          "documentation": "<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of OpenSearch log. </p>",
          "shape": "LogPublishingOptions"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>Node-to-node encryption options.</p>",
          "shape": "NodeToNodeEncryptionOptions"
        },
        "SnapshotOptions": {
          "documentation": "<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours.</p>",
          "shape": "SnapshotOptions"
        },
        "TagList": {
          "documentation": "<p>A list of <code>Tag</code> added during domain creation. </p>",
          "shape": "TagList"
        },
        "VPCOptions": {
          "documentation": "<p>Options to specify the subnets and security groups for a VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/vpc.html\" target=\"_blank\">Launching your Amazon OpenSearch Service domains using a VPC </a>. </p>",
          "shape": "VPCOptions"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateDomainResponse": {
      "documentation": "<p>The result of a <code>CreateDomain</code> operation. Contains the status of the newly created Amazon OpenSearch Service domain. </p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The status of the newly created domain.</p>",
          "shape": "DomainStatus"
        }
      },
      "type": "structure"
    },
    "CreateOutboundConnectionRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>CreateOutboundConnection</a> </code> operation. </p>",
      "members": {
        "ConnectionAlias": {
          "documentation": "<p>The connection alias used used by the customer for this cross-cluster connection.</p>",
          "shape": "ConnectionAlias"
        },
        "LocalDomainInfo": {
          "documentation": "<p>The <code> <a>AWSDomainInformation</a> </code> for the local OpenSearch domain. </p>",
          "shape": "DomainInformationContainer"
        },
        "RemoteDomainInfo": {
          "documentation": "<p>The <code> <a>AWSDomainInformation</a> </code> for the remote OpenSearch domain. </p>",
          "shape": "DomainInformationContainer"
        }
      },
      "required": [
        "LocalDomainInfo",
        "RemoteDomainInfo",
        "ConnectionAlias"
      ],
      "type": "structure"
    },
    "CreateOutboundConnectionResponse": {
      "documentation": "<p>The result of a <code> <a>CreateOutboundConnection</a> </code> request. Contains the details about the newly created cross-cluster connection. </p>",
      "members": {
        "ConnectionAlias": {
          "documentation": "<p>The connection alias provided during the create connection request.</p>",
          "shape": "ConnectionAlias"
        },
        "ConnectionId": {
          "documentation": "<p>The unique ID for the created outbound connection, which is used for subsequent operations on the connection.</p>",
          "shape": "ConnectionId"
        },
        "ConnectionStatus": {
          "documentation": "<p>The <code> <a>OutboundConnectionStatus</a> </code> for the newly created connection. </p>",
          "shape": "OutboundConnectionStatus"
        },
        "LocalDomainInfo": {
          "documentation": "<p>The <code> <a>AWSDomainInformation</a> </code> for the local OpenSearch domain. </p>",
          "shape": "DomainInformationContainer"
        },
        "RemoteDomainInfo": {
          "documentation": "<p>The <code> <a>AWSDomainInformation</a> </code> for the remote OpenSearch domain. </p>",
          "shape": "DomainInformationContainer"
        }
      },
      "type": "structure"
    },
    "CreatePackageRequest": {
      "documentation": "<p> Container for request parameters to the <code> <a>CreatePackage</a> </code> operation. </p>",
      "members": {
        "PackageDescription": {
          "documentation": "<p>Description of the package.</p>",
          "shape": "PackageDescription"
        },
        "PackageName": {
          "documentation": "<p>Unique identifier for the package.</p>",
          "shape": "PackageName"
        },
        "PackageSource": {
          "documentation": "<p>The Amazon S3 location from which to import the package. </p>",
          "shape": "PackageSource"
        },
        "PackageType": {
          "documentation": "<p>Type of package. Currently supports only TXT-DICTIONARY.</p>",
          "shape": "PackageType"
        }
      },
      "required": [
        "PackageName",
        "PackageType",
        "PackageSource"
      ],
      "type": "structure"
    },
    "CreatePackageResponse": {
      "documentation": "<p> Container for the response returned by the <code> <a>CreatePackage</a> </code> operation. </p>",
      "members": {
        "PackageDetails": {
          "documentation": "<p>Information about the package. </p>",
          "shape": "PackageDetails"
        }
      },
      "type": "structure"
    },
    "CreatedAt": {
      "type": "timestamp"
    },
    "DeleteDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DeleteDomain</a> </code> operation. Specifies the name of the domain you want to delete. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain you want to permanently delete.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DeleteDomainResponse": {
      "documentation": "<p>The result of a <code>DeleteDomain</code> request. Contains the status of the pending deletion, or a \"domain not found\" error if the domain and all of its resources have been deleted. </p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The status of the domain being deleted.</p>",
          "shape": "DomainStatus"
        }
      },
      "type": "structure"
    },
    "DeleteInboundConnectionRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DeleteInboundConnection</a> </code> operation. </p>",
      "members": {
        "ConnectionId": {
          "documentation": "<p>The ID of the inbound connection to permanently delete.</p>",
          "location": "uri",
          "locationName": "ConnectionId",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "ConnectionId"
      ],
      "type": "structure"
    },
    "DeleteInboundConnectionResponse": {
      "documentation": "<p>The result of a <code> <a>DeleteInboundConnection</a> </code> operation. Contains details about the deleted inbound connection. </p>",
      "members": {
        "Connection": {
          "documentation": "<p>The <code> <a>InboundConnection</a> </code> of the deleted inbound connection. </p>",
          "shape": "InboundConnection"
        }
      },
      "type": "structure"
    },
    "DeleteOutboundConnectionRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DeleteOutboundConnection</a> </code> operation. </p>",
      "members": {
        "ConnectionId": {
          "documentation": "<p>The ID of the outbound connection you want to permanently delete.</p>",
          "location": "uri",
          "locationName": "ConnectionId",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "ConnectionId"
      ],
      "type": "structure"
    },
    "DeleteOutboundConnectionResponse": {
      "documentation": "<p>The result of a <code> <a>DeleteOutboundConnection</a> </code> operation. Contains details about the deleted outbound connection. </p>",
      "members": {
        "Connection": {
          "documentation": "<p>The <code> <a>OutboundConnection</a> </code> of the deleted outbound connection. </p>",
          "shape": "OutboundConnection"
        }
      },
      "type": "structure"
    },
    "DeletePackageRequest": {
      "documentation": "<p> Container for the request parameters to the <code> <a>DeletePackage</a> </code> operation. </p>",
      "members": {
        "PackageID": {
          "documentation": "<p>The internal ID of the package you want to delete. Use <code>DescribePackages</code> to find this value. </p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID"
      ],
      "type": "structure"
    },
    "DeletePackageResponse": {
      "documentation": "<p> Container for the response parameters to the <code> <a>DeletePackage</a> </code> operation. </p>",
      "members": {
        "PackageDetails": {
          "documentation": "<p> <code>PackageDetails</code> </p>",
          "shape": "PackageDetails"
        }
      },
      "type": "structure"
    },
    "DeploymentCloseDateTimeStamp": {
      "type": "timestamp"
    },
    "DeploymentStatus": {
      "enum": [
        "PENDING_UPDATE",
        "IN_PROGRESS",
        "COMPLETED",
        "NOT_ELIGIBLE",
        "ELIGIBLE"
      ],
      "type": "string"
    },
    "DeploymentType": {
      "max": 128,
      "min": 2,
      "type": "string"
    },
    "DescribeDomainAutoTunesRequest": {
      "documentation": "<p>Container for the parameters to the <code>DescribeDomainAutoTunes</code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain name for which you want Auto-Tune action details.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>NextToken is sent in case the earlier API call results contain the NextToken. Used for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeDomainAutoTunesResponse": {
      "documentation": "<p>The result of a <code>DescribeDomainAutoTunes</code> request. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
      "members": {
        "AutoTunes": {
          "documentation": "<p>The list of setting adjustments that Auto-Tune has made to the domain. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\"> Auto-Tune for Amazon OpenSearch Service </a> for more information. </p>",
          "shape": "AutoTuneList"
        },
        "NextToken": {
          "documentation": "<p>An identifier to allow retrieval of paginated results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeDomainChangeProgressRequest": {
      "documentation": "<p>Container for the parameters to the <code>DescribeDomainChangeProgress</code> operation. Specifies the domain name and optional change specific identity for which you want progress information. </p>",
      "members": {
        "ChangeId": {
          "documentation": "<p>The specific change ID for which you want to get progress information. This is an optional parameter. If omitted, the service returns information about the most recent configuration change. </p>",
          "location": "querystring",
          "locationName": "changeid",
          "shape": "GUID"
        },
        "DomainName": {
          "documentation": "<p>The domain you want to get the progress information about.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeDomainChangeProgressResponse": {
      "documentation": "<p>The result of a <code>DescribeDomainChangeProgress</code> request. Contains the progress information of the requested domain change. </p>",
      "members": {
        "ChangeProgressStatus": {
          "documentation": "<p>Progress information for the configuration change that is requested in the <code>DescribeDomainChangeProgress</code> request. </p>",
          "shape": "ChangeProgressStatusDetails"
        }
      },
      "type": "structure"
    },
    "DescribeDomainConfigRequest": {
      "documentation": "<p>Container for the parameters to the <code>DescribeDomainConfig</code> operation. Specifies the domain name for which you want configuration information. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain you want to get information about.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeDomainConfigResponse": {
      "documentation": "<p>The result of a <code>DescribeDomainConfig</code> request. Contains the configuration information of the requested domain. </p>",
      "members": {
        "DomainConfig": {
          "documentation": "<p>The configuration information of the domain requested in the <code>DescribeDomainConfig</code> request. </p>",
          "shape": "DomainConfig"
        }
      },
      "required": [
        "DomainConfig"
      ],
      "type": "structure"
    },
    "DescribeDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DescribeDomain</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain for which you want information.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeDomainResponse": {
      "documentation": "<p>The result of a <code>DescribeDomain</code> request. Contains the status of the domain specified in the request. </p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The current status of the domain.</p>",
          "shape": "DomainStatus"
        }
      },
      "required": [
        "DomainStatus"
      ],
      "type": "structure"
    },
    "DescribeDomainsRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DescribeDomains</a> </code> operation. By default, the API returns the status of all domains. </p>",
      "members": {
        "DomainNames": {
          "documentation": "<p>The domains for which you want information.</p>",
          "shape": "DomainNameList"
        }
      },
      "required": [
        "DomainNames"
      ],
      "type": "structure"
    },
    "DescribeDomainsResponse": {
      "documentation": "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the specified domains or all domains owned by the account. </p>",
      "members": {
        "DomainStatusList": {
          "documentation": "<p>The status of the domains requested in the <code>DescribeDomains</code> request. </p>",
          "shape": "DomainStatusList"
        }
      },
      "required": [
        "DomainStatusList"
      ],
      "type": "structure"
    },
    "DescribeInboundConnectionsRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DescribeInboundConnections</a> </code> operation. </p>",
      "members": {
        "Filters": {
          "documentation": "<p> A list of filters used to match properties for inbound cross-cluster connections. Available <code> <a>Filter</a> </code> values are: <ul> <li>connection-id</li> <li>local-domain-info.domain-name</li> <li>local-domain-info.owner-id</li> <li>local-domain-info.region</li> <li>remote-domain-info.domain-name</li> </ul> </p>",
          "shape": "FilterList"
        },
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeInboundConnectionsResponse": {
      "documentation": "<p>The result of a <code> <a>DescribeInboundConnections</a> </code> request. Contains a list of connections matching the filter criteria. </p>",
      "members": {
        "Connections": {
          "documentation": "<p>A list of <code> <a>InboundConnection</a> </code> matching the specified filter criteria. </p>",
          "shape": "InboundConnections"
        },
        "NextToken": {
          "documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeInstanceTypeLimitsRequest": {
      "documentation": "<p> Container for the parameters to the <code> <a>DescribeInstanceTypeLimits</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p> The name of the domain you want to modify. Only include this value if you're querying OpenSearch <code> <a>Limits</a> </code> for an existing domain. </p>",
          "location": "querystring",
          "locationName": "domainName",
          "shape": "DomainName"
        },
        "EngineVersion": {
          "documentation": "<p> Version of OpenSearch for which <code> <a>Limits</a> </code> are needed. </p>",
          "location": "uri",
          "locationName": "EngineVersion",
          "shape": "VersionString"
        },
        "InstanceType": {
          "documentation": "<p> The instance type for an OpenSearch cluster for which OpenSearch <code> <a>Limits</a> </code> are needed. </p>",
          "location": "uri",
          "locationName": "InstanceType",
          "shape": "OpenSearchPartitionInstanceType"
        }
      },
      "required": [
        "InstanceType",
        "EngineVersion"
      ],
      "type": "structure"
    },
    "DescribeInstanceTypeLimitsResponse": {
      "documentation": "<p> Container for the parameters received from the <code> <a>DescribeInstanceTypeLimits</a> </code> operation. </p>",
      "members": {
        "LimitsByRole": {
          "shape": "LimitsByRole"
        }
      },
      "type": "structure"
    },
    "DescribeOutboundConnectionsRequest": {
      "documentation": "<p>Container for the parameters to the <code> <a>DescribeOutboundConnections</a> </code> operation. </p>",
      "members": {
        "Filters": {
          "documentation": "<p> A list of filters used to match properties for outbound cross-cluster connections. Available <code> <a>Filter</a> </code> names for this operation are: <ul> <li>connection-id</li> <li>remote-domain-info.domain-name</li> <li>remote-domain-info.owner-id</li> <li>remote-domain-info.region</li> <li>local-domain-info.domain-name</li> </ul> </p>",
          "shape": "FilterList"
        },
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>NextToken is sent in case the earlier API call results contain the NextToken parameter. Used for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeOutboundConnectionsResponse": {
      "documentation": "<p>The result of a <code> <a>DescribeOutboundConnections</a> </code> request. Contains the list of connections matching the filter criteria. </p>",
      "members": {
        "Connections": {
          "documentation": "<p>A list of <code> <a>OutboundConnection</a> </code> matching the specified filter criteria. </p>",
          "shape": "OutboundConnections"
        },
        "NextToken": {
          "documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribePackagesFilter": {
      "documentation": "<p>A filter to apply to the <code>DescribePackage</code> response. </p>",
      "members": {
        "Name": {
          "documentation": "<p>Any field from <code>PackageDetails</code>. </p>",
          "shape": "DescribePackagesFilterName"
        },
        "Value": {
          "documentation": "<p>A list of values for the specified field.</p>",
          "shape": "DescribePackagesFilterValues"
        }
      },
      "type": "structure"
    },
    "DescribePackagesFilterList": {
      "documentation": "<p>A list of <code>DescribePackagesFilter</code> to filter the packages included in a <code>DescribePackages</code> response. </p>",
      "member": {
        "shape": "DescribePackagesFilter"
      },
      "type": "list"
    },
    "DescribePackagesFilterName": {
      "enum": [
        "PackageID",
        "PackageName",
        "PackageStatus"
      ],
      "type": "string"
    },
    "DescribePackagesFilterValue": {
      "pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$",
      "type": "string"
    },
    "DescribePackagesFilterValues": {
      "member": {
        "shape": "DescribePackagesFilterValue"
      },
      "type": "list"
    },
    "DescribePackagesRequest": {
      "documentation": "<p> Container for the request parameters to the <code> <a>DescribePackage</a> </code> operation. </p>",
      "members": {
        "Filters": {
          "documentation": "<p>Only returns packages that match the <code>DescribePackagesFilterList</code> values. </p>",
          "shape": "DescribePackagesFilterList"
        },
        "MaxResults": {
          "documentation": "<p>Limits results to a maximum number of packages.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribePackagesResponse": {
      "documentation": "<p> Container for the response returned by the <code> <a>DescribePackages</a> </code> operation. </p>",
      "members": {
        "NextToken": {
          "shape": "String"
        },
        "PackageDetailsList": {
          "documentation": "<p>List of <code>PackageDetails</code> objects. </p>",
          "shape": "PackageDetailsList"
        }
      },
      "type": "structure"
    },
    "DescribeReservedInstanceOfferingsRequest": {
      "documentation": "<p>Container for parameters to <code>DescribeReservedInstanceOfferings</code> </p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "ReservedInstanceOfferingId": {
          "documentation": "<p>The offering identifier filter value. Use this parameter to show only the available offering that matches the specified reservation identifier. </p>",
          "location": "querystring",
          "locationName": "offeringId",
          "shape": "GUID"
        }
      },
      "type": "structure"
    },
    "DescribeReservedInstanceOfferingsResponse": {
      "documentation": "<p>Container for results from <code>DescribeReservedInstanceOfferings</code> </p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "NextToken"
        },
        "ReservedInstanceOfferings": {
          "documentation": "<p>List of reserved OpenSearch instance offerings</p>",
          "shape": "ReservedInstanceOfferingList"
        }
      },
      "type": "structure"
    },
    "DescribeReservedInstancesRequest": {
      "documentation": "<p>Container for parameters to <code>DescribeReservedInstances</code> </p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "ReservedInstanceId": {
          "documentation": "<p>The reserved instance identifier filter value. Use this parameter to show only the reservation that matches the specified reserved OpenSearch instance ID. </p>",
          "location": "querystring",
          "locationName": "reservationId",
          "shape": "GUID"
        }
      },
      "type": "structure"
    },
    "DescribeReservedInstancesResponse": {
      "documentation": "<p>Container for results from <code>DescribeReservedInstances</code> </p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "String"
        },
        "ReservedInstances": {
          "documentation": "<p>List of reserved OpenSearch instances.</p>",
          "shape": "ReservedInstanceList"
        }
      },
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DisableTimestamp": {
      "type": "timestamp"
    },
    "DisabledOperationException": {
      "documentation": "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DissociatePackageRequest": {
      "documentation": "<p> Container for the request parameters to the <code> <a>DissociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain to associate the package with.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "PackageID": {
          "documentation": "<p>The internal ID of the package to associate with a domain. Use <code>DescribePackages</code> to find this value. </p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID",
        "DomainName"
      ],
      "type": "structure"
    },
    "DissociatePackageResponse": {
      "documentation": "<p> Container for the response returned by <code> <a>DissociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetails": {
          "documentation": "<p> <code>DomainPackageDetails</code> </p>",
          "shape": "DomainPackageDetails"
        }
      },
      "type": "structure"
    },
    "DomainConfig": {
      "documentation": "<p>The configuration of a domain.</p>",
      "members": {
        "AccessPolicies": {
          "documentation": "<p>IAM access policy as a JSON-formatted string.</p>",
          "shape": "AccessPoliciesStatus"
        },
        "AdvancedOptions": {
          "documentation": "<p>The <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced options </a> for more information. </p>",
          "shape": "AdvancedOptionsStatus"
        },
        "AdvancedSecurityOptions": {
          "documentation": "<p>Specifies <code>AdvancedSecurityOptions</code> for the domain. </p>",
          "shape": "AdvancedSecurityOptionsStatus"
        },
        "AutoTuneOptions": {
          "documentation": "<p>Specifies <code>AutoTuneOptions</code> for the domain. </p>",
          "shape": "AutoTuneOptionsStatus"
        },
        "ChangeProgressDetails": {
          "documentation": "<p>Specifies change details of the domain configuration change.</p>",
          "shape": "ChangeProgressDetails"
        },
        "ClusterConfig": {
          "documentation": "<p>The <code>ClusterConfig</code> for the domain. </p>",
          "shape": "ClusterConfigStatus"
        },
        "CognitoOptions": {
          "documentation": "<p>The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/cognito-auth.html\" target=\"_blank\">Configuring Amazon Cognito authentication for OpenSearch Dashboards</a>. </p>",
          "shape": "CognitoOptionsStatus"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>The <code>DomainEndpointOptions</code> for the domain. </p>",
          "shape": "DomainEndpointOptionsStatus"
        },
        "EBSOptions": {
          "documentation": "<p>The <code>EBSOptions</code> for the domain. </p>",
          "shape": "EBSOptionsStatus"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p>The <code>EncryptionAtRestOptions</code> for the domain. </p>",
          "shape": "EncryptionAtRestOptionsStatus"
        },
        "EngineVersion": {
          "documentation": "<p>String of format Elasticsearch_X.Y or OpenSearch_X.Y to specify the engine version for the OpenSearch or Elasticsearch domain.</p>",
          "shape": "VersionStatus"
        },
        "LogPublishingOptions": {
          "documentation": "<p>Log publishing options for the given domain.</p>",
          "shape": "LogPublishingOptionsStatus"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>The <code>NodeToNodeEncryptionOptions</code> for the domain. </p>",
          "shape": "NodeToNodeEncryptionOptionsStatus"
        },
        "SnapshotOptions": {
          "documentation": "<p>The <code>SnapshotOptions</code> for the domain. </p>",
          "shape": "SnapshotOptionsStatus"
        },
        "VPCOptions": {
          "documentation": "<p>The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/vpc.html\" target=\"_blank\"> Launching your Amazon OpenSearch Service domains using a VPC</a>. </p>",
          "shape": "VPCDerivedInfoStatus"
        }
      },
      "type": "structure"
    },
    "DomainEndpointOptions": {
      "documentation": "<p>Options to configure the endpoint for the domain.</p>",
      "members": {
        "CustomEndpoint": {
          "documentation": "<p>The fully qualified domain for your custom endpoint.</p>",
          "shape": "DomainNameFqdn"
        },
        "CustomEndpointCertificateArn": {
          "documentation": "<p>The ACM certificate ARN for your custom endpoint.</p>",
          "shape": "ARN"
        },
        "CustomEndpointEnabled": {
          "documentation": "<p>Whether to enable a custom endpoint for the domain.</p>",
          "shape": "Boolean"
        },
        "EnforceHTTPS": {
          "documentation": "<p>Whether only HTTPS endpoint should be enabled for the domain.</p>",
          "shape": "Boolean"
        },
        "TLSSecurityPolicy": {
          "documentation": "<p>Specify the TLS security policy to apply to the HTTPS endpoint of the domain. <br/> Can be one of the following values: <ul> <li> <b>Policy-Min-TLS-1-0-2019-07:</b> TLS security policy which supports TLSv1.0 and higher. </li> <li> <b>Policy-Min-TLS-1-2-2019-07:</b> TLS security policy which supports only TLSv1.2 </li> </ul> </p>",
          "shape": "TLSSecurityPolicy"
        }
      },
      "type": "structure"
    },
    "DomainEndpointOptionsStatus": {
      "documentation": "<p>The configured endpoint options for the domain and their current status.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Options to configure the endpoint for the domain.</p>",
          "shape": "DomainEndpointOptions"
        },
        "Status": {
[...]
