{
  "documentation": "<p>This API reference provides descriptions, syntax, and other details about each of the actions and data types for AWS Migration Hub Orchestrator. he topic for each action shows the API request parameters and the response. Alternatively, you can use one of the AWS SDKs to access an API that is tailored to the programming language or platform that you're using.</p>",
  "metadata": {
    "apiVersion": "2021-08-28",
    "endpointPrefix": "migrationhub-orchestrator",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Migration Hub Orchestrator",
    "serviceId": "MigrationHubOrchestrator",
    "signatureVersion": "v4",
    "signingName": "migrationhub-orchestrator",
    "uid": "migrationhuborchestrator-2021-08-28"
  },
  "operations": {
    "CreateWorkflow": {
      "documentation": "<p>Create a workflow to orchestrate your migrations.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/migrationworkflow/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMigrationWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateMigrationWorkflowResponse"
      }
    },
    "CreateWorkflowStep": {
      "documentation": "<p>Create a step in the migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflowstep",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateWorkflowStepRequest"
      },
      "name": "CreateWorkflowStep",
      "output": {
        "shape": "CreateWorkflowStepResponse"
      }
    },
    "CreateWorkflowStepGroup": {
      "documentation": "<p>Create a step group in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflowstepgroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateWorkflowStepGroupRequest"
      },
      "name": "CreateWorkflowStepGroup",
      "output": {
        "shape": "CreateWorkflowStepGroupResponse"
      }
    },
    "DeleteWorkflow": {
      "documentation": "<p>Delete a migration workflow. You must pause a running workflow in Migration Hub Orchestrator console to delete it.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/migrationworkflow/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMigrationWorkflowRequest"
      },
      "name": "DeleteWorkflow",
      "output": {
        "shape": "DeleteMigrationWorkflowResponse"
      }
    },
    "DeleteWorkflowStep": {
      "documentation": "<p>Delete a step in a migration workflow. Pause the workflow to delete a running step.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/workflowstep/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkflowStepRequest"
      },
      "name": "DeleteWorkflowStep",
      "output": {
        "shape": "DeleteWorkflowStepResponse"
      }
    },
    "DeleteWorkflowStepGroup": {
      "documentation": "<p>Delete a step group in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/workflowstepgroup/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkflowStepGroupRequest"
      },
      "name": "DeleteWorkflowStepGroup",
      "output": {
        "shape": "DeleteWorkflowStepGroupResponse"
      }
    },
    "GetTemplate": {
      "documentation": "<p>Get the template you want to use for creating a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/migrationworkflowtemplate/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMigrationWorkflowTemplateRequest"
      },
      "name": "GetTemplate",
      "output": {
        "shape": "GetMigrationWorkflowTemplateResponse"
      }
    },
    "GetTemplateStep": {
      "documentation": "<p>Get a specific step in a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/templatestep/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTemplateStepRequest"
      },
      "name": "GetTemplateStep",
      "output": {
        "shape": "GetTemplateStepResponse"
      }
    },
    "GetTemplateStepGroup": {
      "documentation": "<p>Get a step group in a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/templates/{templateId}/stepgroups/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTemplateStepGroupRequest"
      },
      "name": "GetTemplateStepGroup",
      "output": {
        "shape": "GetTemplateStepGroupResponse"
      }
    },
    "GetWorkflow": {
      "documentation": "<p>Get migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/migrationworkflow/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMigrationWorkflowRequest"
      },
      "name": "GetWorkflow",
      "output": {
        "shape": "GetMigrationWorkflowResponse"
      }
    },
    "GetWorkflowStep": {
      "documentation": "<p>Get a step in the migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflowstep/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWorkflowStepRequest"
      },
      "name": "GetWorkflowStep",
      "output": {
        "shape": "GetWorkflowStepResponse"
      }
    },
    "GetWorkflowStepGroup": {
      "documentation": "<p>Get the step group of a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflowstepgroup/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWorkflowStepGroupRequest"
      },
      "name": "GetWorkflowStepGroup",
      "output": {
        "shape": "GetWorkflowStepGroupResponse"
      }
    },
    "ListPlugins": {
      "documentation": "<p>List AWS Migration Hub Orchestrator plugins.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/plugins",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPluginsRequest"
      },
      "name": "ListPlugins",
      "output": {
        "shape": "ListPluginsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags added to a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTemplateStepGroups": {
      "documentation": "<p>List the step groups in a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/templatestepgroups/{templateId}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTemplateStepGroupsRequest"
      },
      "name": "ListTemplateStepGroups",
      "output": {
        "shape": "ListTemplateStepGroupsResponse"
      }
    },
    "ListTemplateSteps": {
      "documentation": "<p>List the steps in a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/templatesteps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTemplateStepsRequest"
      },
      "name": "ListTemplateSteps",
      "output": {
        "shape": "ListTemplateStepsResponse"
      }
    },
    "ListTemplates": {
      "documentation": "<p>List the templates available in Migration Hub Orchestrator to create a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/migrationworkflowtemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMigrationWorkflowTemplatesRequest"
      },
      "name": "ListTemplates",
      "output": {
        "shape": "ListMigrationWorkflowTemplatesResponse"
      }
    },
    "ListWorkflowStepGroups": {
      "documentation": "<p>List the step groups in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflowstepgroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWorkflowStepGroupsRequest"
      },
      "name": "ListWorkflowStepGroups",
      "output": {
        "shape": "ListWorkflowStepGroupsResponse"
      }
    },
    "ListWorkflowSteps": {
      "documentation": "<p>List the steps in a workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflow/{workflowId}/workflowstepgroups/{stepGroupId}/workflowsteps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWorkflowStepsRequest"
      },
      "name": "ListWorkflowSteps",
      "output": {
        "shape": "ListWorkflowStepsResponse"
      }
    },
    "ListWorkflows": {
      "documentation": "<p>List the migration workflows.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/migrationworkflows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMigrationWorkflowsRequest"
      },
      "name": "ListWorkflows",
      "output": {
        "shape": "ListMigrationWorkflowsResponse"
      }
    },
    "RetryWorkflowStep": {
      "documentation": "<p>Retry a failed step in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/retryworkflowstep/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "RetryWorkflowStepRequest"
      },
      "name": "RetryWorkflowStep",
      "output": {
        "shape": "RetryWorkflowStepResponse"
      }
    },
    "StartWorkflow": {
      "documentation": "<p>Start a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/migrationworkflow/{id}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartMigrationWorkflowRequest"
      },
      "name": "StartWorkflow",
      "output": {
        "shape": "StartMigrationWorkflowResponse"
      }
    },
    "StopWorkflow": {
      "documentation": "<p>Stop an ongoing migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/migrationworkflow/{id}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopMigrationWorkflowRequest"
      },
      "name": "StopWorkflow",
      "output": {
        "shape": "StopMigrationWorkflowResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Tag a resource by specifying its Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes the tags for a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateWorkflow": {
      "documentation": "<p>Update a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/migrationworkflow/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMigrationWorkflowRequest"
      },
      "name": "UpdateWorkflow",
      "output": {
        "shape": "UpdateMigrationWorkflowResponse"
      }
    },
    "UpdateWorkflowStep": {
      "documentation": "<p>Update a step in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflowstep/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateWorkflowStepRequest"
      },
      "name": "UpdateWorkflowStep",
      "output": {
        "shape": "UpdateWorkflowStepResponse"
      }
    },
    "UpdateWorkflowStepGroup": {
      "documentation": "<p>Update the step group in a migration workflow.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflowstepgroup/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateWorkflowStepGroupRequest"
      },
      "name": "UpdateWorkflowStepGroup",
      "output": {
        "shape": "UpdateWorkflowStepGroupResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "ApplicationConfigurationName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CreateMigrationWorkflowRequest": {
      "members": {
        "applicationConfigurationId": {
          "documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>",
          "shape": "CreateMigrationWorkflowRequestApplicationConfigurationIdString"
        },
        "description": {
          "documentation": "<p>The description of the migration workflow.</p>",
          "shape": "CreateMigrationWorkflowRequestDescriptionString"
        },
        "inputParameters": {
          "documentation": "<p>The input parameters required to create a migration workflow.</p>",
          "shape": "StepInputParameters"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "CreateMigrationWorkflowRequestNameString"
        },
        "stepTargets": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "tags": {
          "documentation": "<p>The tags to add on a migration workflow.</p>",
          "shape": "StringMap"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "CreateMigrationWorkflowRequestTemplateIdString"
        }
      },
      "required": [
        "name",
        "templateId",
        "applicationConfigurationId",
        "inputParameters"
      ],
      "type": "structure"
    },
    "CreateMigrationWorkflowRequestApplicationConfigurationIdString": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "CreateMigrationWorkflowRequestDescriptionString": {
      "max": 500,
      "min": 0,
      "pattern": "[-a-zA-Z0-9_.+, ]*",
      "type": "string"
    },
    "CreateMigrationWorkflowRequestNameString": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "CreateMigrationWorkflowRequestTemplateIdString": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "CreateMigrationWorkflowResponse": {
      "members": {
        "adsApplicationConfigurationId": {
          "documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>",
          "shape": "String"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "creationTime": {
          "documentation": "<p>The time at which the migration workflow was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the migration workflow.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "stepTargets": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "tags": {
          "documentation": "<p>The tags to add on a migration workflow.</p>",
          "shape": "StringMap"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "workflowInputs": {
          "documentation": "<p>The inputs for creating a migration workflow.</p>",
          "shape": "StepInputParameters"
        }
      },
      "type": "structure"
    },
    "CreateWorkflowStepGroupRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "StepGroupDescription"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "StepGroupName"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow that will contain the step group.</p>",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "name"
      ],
      "type": "structure"
    },
    "CreateWorkflowStepGroupResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the step group is created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow that contains the step group.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateWorkflowStepRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the step.</p>",
          "shape": "MigrationWorkflowDescription"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "MigrationWorkflowName"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "outputs": {
          "documentation": "<p>The key value pairs added for the expected output.</p>",
          "shape": "WorkflowStepOutputList"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "StepGroupId"
        },
        "stepTarget": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "workflowStepAutomationConfiguration": {
          "documentation": "<p>The custom script to run tests on source or target environments.</p>",
          "shape": "WorkflowStepAutomationConfiguration"
        }
      },
      "required": [
        "name",
        "stepGroupId",
        "workflowId",
        "stepActionType"
      ],
      "type": "structure"
    },
    "CreateWorkflowStepResponse": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DataType": {
      "enum": [
        "STRING",
        "INTEGER",
        "STRINGLIST",
        "STRINGMAP"
      ],
      "type": "string"
    },
    "DeleteMigrationWorkflowRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the migration workflow you want to delete.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteMigrationWorkflowResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        }
      },
      "type": "structure"
    },
    "DeleteWorkflowStepGroupRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step group you want to delete.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "id"
      ],
      "type": "structure"
    },
    "DeleteWorkflowStepGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteWorkflowStepRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step you want to delete.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepId"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group that contains the step you want to delete.</p>",
          "location": "querystring",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id",
        "stepGroupId",
        "workflowId"
      ],
      "type": "structure"
    },
    "DeleteWorkflowStepResponse": {
      "members": {},
      "type": "structure"
    },
    "GetMigrationWorkflowRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetMigrationWorkflowResponse": {
      "members": {
        "adsApplicationConfigurationId": {
          "documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>",
          "shape": "String"
        },
        "adsApplicationName": {
          "documentation": "<p>The name of the application configured in Application Discovery Service.</p>",
          "shape": "String"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "completedSteps": {
          "documentation": "<p>Get a list of completed steps in the migration workflow.</p>",
          "shape": "Integer"
        },
        "creationTime": {
          "documentation": "<p>The time at which the migration workflow was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the migration workflow.</p>",
          "shape": "String"
        },
        "endTime": {
          "documentation": "<p>The time at which the migration workflow ended.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "lastModifiedTime": {
          "documentation": "<p>The time at which the migration workflow was last modified.</p>",
          "shape": "Timestamp"
        },
        "lastStartTime": {
          "documentation": "<p>The time at which the migration workflow was last started.</p>",
          "shape": "Timestamp"
        },
        "lastStopTime": {
          "documentation": "<p>The time at which the migration workflow was last stopped.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags added to the migration workflow.</p>",
          "shape": "StringMap"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        },
        "totalSteps": {
          "documentation": "<p>The total number of steps in the migration workflow.</p>",
          "shape": "Integer"
        },
        "workflowBucket": {
          "documentation": "<p>The Amazon S3 bucket where the migration logs are stored.</p>",
          "shape": "String"
        },
        "workflowInputs": {
          "documentation": "<p>The inputs required for creating the migration workflow.</p>",
          "shape": "StepInputParameters"
        }
      },
      "type": "structure"
    },
    "GetMigrationWorkflowTemplateRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "TemplateId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "GetMigrationWorkflowTemplateResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the template was last created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The time at which the template was last created.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "inputs": {
          "documentation": "<p>The inputs provided for the creation of the migration workflow.</p>",
          "shape": "TemplateInputList"
        },
        "name": {
          "documentation": "<p>The name of the template.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the template.</p>",
          "shape": "TemplateStatus"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        }
      },
      "type": "structure"
    },
    "GetTemplateStepGroupRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepGroupId"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "uri",
          "locationName": "templateId",
          "shape": "TemplateId"
        }
      },
      "required": [
        "templateId",
        "id"
      ],
      "type": "structure"
    },
    "GetTemplateStepGroupResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the step group was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "lastModifiedTime": {
          "documentation": "<p>The time at which the step group was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "status": {
          "documentation": "<p>The status of the step group.</p>",
          "shape": "StepGroupStatus"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        }
      },
      "type": "structure"
    },
    "GetTemplateStepRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepId"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "querystring",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "querystring",
          "locationName": "templateId",
          "shape": "TemplateId"
        }
      },
      "required": [
        "id",
        "templateId",
        "stepGroupId"
      ],
      "type": "structure"
    },
    "GetTemplateStepResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the step was created.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the step.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "StepId"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "outputs": {
          "documentation": "<p>The outputs of the step.</p>",
          "shape": "StepOutputList"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepAutomationConfiguration": {
          "documentation": "<p>The custom script to run tests on source or target environments.</p>",
          "shape": "StepAutomationConfiguration"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "StepGroupId"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "TemplateId"
        }
      },
      "type": "structure"
    },
    "GetWorkflowStepGroupRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id",
        "workflowId"
      ],
      "type": "structure"
    },
    "GetWorkflowStepGroupResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the step group was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "String"
        },
        "endTime": {
          "documentation": "<p>The time at which the step group ended.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "StepGroupId"
        },
        "lastModifiedTime": {
          "documentation": "<p>The time at which the step group was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "owner": {
          "documentation": "<p>The owner of the step group.</p>",
          "shape": "Owner"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "status": {
          "documentation": "<p>The status of the step group.</p>",
          "shape": "StepGroupStatus"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetWorkflowStepRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepId"
        },
        "stepGroupId": {
          "documentation": "<p>desThe ID of the step group.</p>",
          "location": "querystring",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "stepGroupId",
        "id"
      ],
      "type": "structure"
    },
    "GetWorkflowStepResponse": {
      "members": {
        "creationTime": {
          "documentation": "<p>The time at which the step was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the step.</p>",
          "shape": "String"
        },
        "endTime": {
          "documentation": "<p>The time at which the step ended.</p>",
          "shape": "Timestamp"
        },
        "lastStartTime": {
          "documentation": "<p>The time at which the workflow was last started.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "noOfSrvCompleted": {
          "documentation": "<p>The number of servers that have been migrated.</p>",
          "shape": "Integer"
        },
        "noOfSrvFailed": {
          "documentation": "<p>The number of servers that have failed to migrate.</p>",
          "shape": "Integer"
        },
        "outputs": {
          "documentation": "<p>The outputs of the step.</p>",
          "shape": "GetWorkflowStepResponseOutputsList"
        },
        "owner": {
          "documentation": "<p>The owner of the step.</p>",
          "shape": "Owner"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "scriptOutputLocation": {
          "documentation": "<p>The output location of the script.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "StepStatus"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "stepId": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "String"
        },
        "stepTarget": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "totalNoOfSrv": {
          "documentation": "<p>The total number of servers that have been migrated.</p>",
          "shape": "Integer"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        },
        "workflowStepAutomationConfiguration": {
          "documentation": "<p>The custom script to run tests on source or target environments.</p>",
          "shape": "WorkflowStepAutomationConfiguration"
        }
      },
      "type": "structure"
    },
    "GetWorkflowStepResponseOutputsList": {
      "max": 5,
      "member": {
        "shape": "WorkflowStepOutput"
      },
      "min": 0,
      "type": "list"
    },
    "IPAddress": {
      "max": 15,
      "min": 0,
      "pattern": "(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])",
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>An internal error has occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ListMigrationWorkflowTemplatesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "name": {
          "documentation": "<p>The name of the template.</p>",
          "location": "querystring",
          "locationName": "name",
          "shape": "TemplateName"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMigrationWorkflowTemplatesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "templateSummary": {
          "documentation": "<p>The summary of the template.</p>",
          "shape": "TemplateSummaryList"
        }
      },
      "required": [
        "templateSummary"
      ],
      "type": "structure"
    },
    "ListMigrationWorkflowsRequest": {
      "members": {
        "adsApplicationConfigurationName": {
          "documentation": "<p>The name of the application configured in Application Discovery Service.</p>",
          "location": "querystring",
          "locationName": "adsApplicationConfigurationName",
          "shape": "ApplicationConfigurationName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "name",
          "shape": "String"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "status",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "querystring",
          "locationName": "templateId",
          "shape": "TemplateId"
        }
      },
      "type": "structure"
    },
    "ListMigrationWorkflowsResponse": {
      "members": {
        "migrationWorkflowSummary": {
          "documentation": "<p>The summary of the migration workflow.</p>",
          "shape": "MigrationWorkflowSummaryList"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "migrationWorkflowSummary"
      ],
      "type": "structure"
    },
    "ListPluginsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of plugins that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListPluginsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "plugins": {
          "documentation": "<p>Migration Hub Orchestrator plugins.</p>",
          "shape": "PluginSummaries"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags added to a resource.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ListTemplateStepGroupsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "uri",
          "locationName": "templateId",
          "shape": "TemplateId"
        }
      },
      "required": [
        "templateId"
      ],
      "type": "structure"
    },
    "ListTemplateStepGroupsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "templateStepGroupSummary": {
          "documentation": "<p>The summary of the step group in the template.</p>",
          "shape": "TemplateStepGroupSummaryList"
        }
      },
      "required": [
        "templateStepGroupSummary"
      ],
      "type": "structure"
    },
    "ListTemplateStepsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "querystring",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "location": "querystring",
          "locationName": "templateId",
          "shape": "TemplateId"
        }
      },
      "required": [
        "templateId",
        "stepGroupId"
      ],
      "type": "structure"
    },
    "ListTemplateStepsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "templateStepSummaryList": {
          "documentation": "<p>The list of summaries of steps in a template.</p>",
          "shape": "TemplateStepSummaryList"
        }
      },
      "type": "structure"
    },
    "ListWorkflowStepGroupsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId"
      ],
      "type": "structure"
    },
    "ListWorkflowStepGroupsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "workflowStepGroupsSummary": {
          "documentation": "<p>The summary of step groups in a migration workflow.</p>",
          "shape": "WorkflowStepGroupsSummaryList"
        }
      },
      "required": [
        "workflowStepGroupsSummary"
      ],
      "type": "structure"
    },
    "ListWorkflowStepsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that can be returned.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "uri",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "uri",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "stepGroupId"
      ],
      "type": "structure"
    },
    "ListWorkflowStepsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "NextToken"
        },
        "workflowStepsSummary": {
          "documentation": "<p>The summary of steps in a migration workflow.</p>",
          "shape": "WorkflowStepsSummaryList"
        }
      },
      "required": [
        "workflowStepsSummary"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "MigrationWorkflowDescription": {
      "max": 500,
      "min": 0,
      "pattern": "[-a-zA-Z0-9_.+, ]*",
      "type": "string"
    },
    "MigrationWorkflowId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "MigrationWorkflowName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "MigrationWorkflowStatusEnum": {
      "enum": [
        "CREATING",
        "NOT_STARTED",
        "CREATION_FAILED",
        "STARTING",
        "IN_PROGRESS",
        "WORKFLOW_FAILED",
        "PAUSED",
        "PAUSING",
        "PAUSING_FAILED",
        "USER_ATTENTION_REQUIRED",
        "DELETING",
        "DELETION_FAILED",
        "DELETED",
        "COMPLETED"
      ],
      "type": "string"
    },
    "MigrationWorkflowSummary": {
      "documentation": "<p>The summary of a migration workflow.</p>",
      "members": {
        "adsApplicationConfigurationName": {
          "documentation": "<p>The name of the application configured in Application Discovery Service.</p>",
          "shape": "String"
        },
        "completedSteps": {
          "documentation": "<p>The steps completed in the migration workflow.</p>",
          "shape": "Integer"
        },
        "creationTime": {
          "documentation": "<p>The time at which the migration workflow was created.</p>",
          "shape": "Timestamp"
        },
        "endTime": {
          "documentation": "<p>The time at which the migration workflow ended.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "totalSteps": {
          "documentation": "<p>All the steps in a migration workflow.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "MigrationWorkflowSummaryList": {
      "member": {
        "shape": "MigrationWorkflowSummary"
      },
      "type": "list"
    },
    "NextToken": {
      "max": 2048,
      "min": 0,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "Owner": {
      "enum": [
        "AWS_MANAGED",
        "CUSTOM"
      ],
      "type": "string"
    },
    "PlatformCommand": {
      "documentation": "<p>Command to be run on a particular operating system.</p>",
      "members": {
        "linux": {
          "documentation": "<p>Command for Linux.</p>",
          "shape": "String"
        },
        "windows": {
          "documentation": "<p>Command for Windows.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PlatformScriptKey": {
      "documentation": "<p>The script location for a particular operating system.</p>",
      "members": {
        "linux": {
          "documentation": "<p>The script location for Linux.</p>",
          "shape": "S3Key"
        },
        "windows": {
          "documentation": "<p>The script location for Windows.</p>",
          "shape": "S3Key"
        }
      },
      "type": "structure"
    },
    "PluginHealth": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "PluginId": {
      "max": 60,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "PluginSummaries": {
      "member": {
        "shape": "PluginSummary"
      },
      "type": "list"
    },
    "PluginSummary": {
      "documentation": "<p>The summary of the Migration Hub Orchestrator plugin.</p>",
      "members": {
        "hostname": {
          "documentation": "<p>The name of the host.</p>",
          "shape": "String"
        },
        "ipAddress": {
          "documentation": "<p>The IP address at which the plugin is located.</p>",
          "shape": "IPAddress"
        },
        "pluginId": {
          "documentation": "<p>The ID of the plugin.</p>",
          "shape": "PluginId"
        },
        "registeredTime": {
          "documentation": "<p>The time at which the plugin was registered.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the plugin.</p>",
          "shape": "PluginHealth"
        },
        "version": {
          "documentation": "<p>The version of the plugin.</p>",
          "shape": "PluginVersion"
        }
      },
      "type": "structure"
    },
    "PluginVersion": {
      "max": 1024,
      "min": 0,
      "pattern": ".*",
      "type": "string"
    },
    "ResourceArn": {
      "pattern": "arn:aws:migrationhub-orchestrator:[a-z0-9-]+:[0-9]+:workflow/[.]*",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource is not available.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "RetryWorkflowStepRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepId"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "querystring",
          "locationName": "stepGroupId",
          "shape": "StepGroupId"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "stepGroupId",
        "id"
      ],
      "type": "structure"
    },
    "RetryWorkflowStepResponse": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "StepStatus"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RunEnvironment": {
      "enum": [
        "AWS",
        "ONPREMISE"
      ],
      "type": "string"
    },
    "S3Bucket": {
      "max": 63,
      "min": 0,
      "pattern": "[0-9a-z]+[0-9a-z\\.\\-]*[0-9a-z]+",
      "type": "string"
    },
    "S3Key": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "StartMigrationWorkflowRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "StartMigrationWorkflowResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "lastStartTime": {
          "documentation": "<p>The time at which the migration workflow was last started.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "StepActionType": {
      "enum": [
        "MANUAL",
        "AUTOMATED"
      ],
      "type": "string"
    },
    "StepAutomationConfiguration": {
      "documentation": "<p>The custom script to run tests on source or target environments.</p>",
      "members": {
        "command": {
          "documentation": "<p>The command to run the script.</p>",
          "shape": "PlatformCommand"
        },
        "runEnvironment": {
          "documentation": "<p>The source or target environment.</p>",
          "shape": "RunEnvironment"
        },
        "scriptLocationS3Bucket": {
          "documentation": "<p>The Amazon S3 bucket where the script is located.</p>",
          "shape": "String"
        },
        "scriptLocationS3Key": {
          "documentation": "<p>The Amazon S3 key for the script location.</p>",
          "shape": "PlatformScriptKey"
        },
        "targetType": {
          "documentation": "<p>The servers on which to run the script.</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "StepDescription": {
      "max": 500,
      "min": 0,
      "pattern": "[-a-zA-Z0-9_.+, ]*",
      "type": "string"
    },
    "StepGroupDescription": {
      "max": 500,
      "min": 0,
      "pattern": "[-a-zA-Z0-9_.+, ]*",
      "type": "string"
    },
    "StepGroupId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "StepGroupName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "StepGroupStatus": {
      "enum": [
        "AWAITING_DEPENDENCIES",
        "READY",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "PAUSED",
        "PAUSING",
        "USER_ATTENTION_REQUIRED"
      ],
      "type": "string"
    },
    "StepId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "StepInput": {
      "documentation": "<p>A map of key value pairs that is generated when you create a migration workflow. The key value pairs will differ based on your selection of the template.</p>",
      "members": {
        "integerValue": {
          "box": true,
          "documentation": "<p>The value of the integer.</p>",
          "shape": "Integer"
        },
        "listOfStringsValue": {
          "documentation": "<p>List of string values.</p>",
          "shape": "StringList"
        },
        "mapOfStringValue": {
          "documentation": "<p>Map of string values.</p>",
          "shape": "StringMap"
        },
        "stringValue": {
          "documentation": "<p>String value.</p>",
          "shape": "StringValue"
        }
      },
      "type": "structure",
      "union": true
    },
    "StepInputParameters": {
      "key": {
        "shape": "StepInputParametersKey"
      },
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "StepInput"
      }
    },
    "StepInputParametersKey": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_ ()]+",
      "type": "string"
    },
    "StepName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "StepOutput": {
      "documentation": "<p>The output of the step.</p>",
      "members": {
        "dataType": {
          "documentation": "<p>The data type of the step output.</p>",
          "shape": "DataType"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "required": {
          "documentation": "<p>Determine if an output is required from a step.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "StepOutputList": {
      "member": {
        "shape": "StepOutput"
      },
      "type": "list"
    },
    "StepStatus": {
      "enum": [
        "AWAITING_DEPENDENCIES",
        "READY",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "PAUSED",
        "USER_ATTENTION_REQUIRED"
      ],
      "type": "string"
    },
    "StopMigrationWorkflowRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "StopMigrationWorkflowResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "lastStopTime": {
          "documentation": "<p>The time at which the migration workflow was stopped.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "StringListMember"
      },
      "type": "list"
    },
    "StringListMember": {
      "max": 100,
      "min": 0,
      "type": "string"
    },
    "StringMap": {
      "key": {
        "shape": "StringMapKey"
      },
      "type": "map",
      "value": {
        "shape": "StringMapValue"
      }
    },
    "StringMapKey": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_ ()]+",
      "type": "string"
    },
    "StringMapValue": {
      "max": 100,
      "min": 0,
      "type": "string"
    },
    "StringValue": {
      "max": 100,
      "min": 0,
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "(?!aws:)[a-zA-Z+-=._:/]+",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to which you want to add tags.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "TargetType": {
      "enum": [
        "SINGLE",
        "ALL",
        "NONE"
      ],
      "type": "string"
    },
    "TemplateId": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "TemplateInput": {
      "documentation": "<p>The input parameters of a template.</p>",
      "members": {
        "dataType": {
          "documentation": "<p>The data type of the template input.</p>",
          "shape": "DataType"
        },
        "inputName": {
          "documentation": "<p>The name of the template.</p>",
          "shape": "TemplateInputName"
        },
        "required": {
          "documentation": "<p>Determine if an input is required from the template.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "TemplateInputList": {
      "member": {
        "shape": "TemplateInput"
      },
      "type": "list"
    },
    "TemplateInputName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "TemplateName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "TemplateStatus": {
      "enum": [
        "CREATED"
      ],
      "type": "string"
    },
    "TemplateStepGroupSummary": {
      "documentation": "<p>The summary of the step group in the template.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        }
      },
      "type": "structure"
    },
    "TemplateStepGroupSummaryList": {
      "member": {
        "shape": "TemplateStepGroupSummary"
      },
      "type": "list"
    },
    "TemplateStepSummary": {
      "documentation": "<p>The summary of the step.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "owner": {
          "documentation": "<p>The owner of the step.</p>",
          "shape": "Owner"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "targetType": {
          "documentation": "<p>The servers on which to run the script.</p>",
          "shape": "TargetType"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TemplateStepSummaryList": {
      "member": {
        "shape": "TemplateStepSummary"
      },
      "type": "list"
    },
    "TemplateSummary": {
      "documentation": "<p>The summary of the template.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the template.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the template.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the template.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TemplateSummaryList": {
      "member": {
        "shape": "TemplateSummary"
      },
      "type": "list"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling.</p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Tool": {
      "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of an AWS service. </p>",
          "shape": "String"
        },
        "url": {
          "documentation": "<p>The URL of an AWS service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ToolsList": {
      "member": {
        "shape": "Tool"
      },
      "type": "list"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource from which you want to remove tags.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tagKeys": {
          "documentation": "<p>One or more tag keys. Specify only the tag keys, not the tag values.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateMigrationWorkflowRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the migration workflow.</p>",
          "shape": "UpdateMigrationWorkflowRequestDescriptionString"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "MigrationWorkflowId"
        },
        "inputParameters": {
          "documentation": "<p>The input parameters required to update a migration workflow.</p>",
          "shape": "StepInputParameters"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "UpdateMigrationWorkflowRequestNameString"
        },
        "stepTargets": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "UpdateMigrationWorkflowRequestDescriptionString": {
      "max": 500,
      "min": 0,
      "pattern": "[-a-zA-Z0-9_.+, ]*",
      "type": "string"
    },
    "UpdateMigrationWorkflowRequestNameString": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "UpdateMigrationWorkflowResponse": {
      "members": {
        "adsApplicationConfigurationId": {
          "documentation": "<p>The ID of the application configured in Application Discovery Service.</p>",
          "shape": "String"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>",
          "shape": "String"
        },
        "creationTime": {
          "documentation": "<p>The time at which the migration workflow was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the migration workflow.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "lastModifiedTime": {
          "documentation": "<p>The time at which the migration workflow was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the migration workflow.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the migration workflow.</p>",
          "shape": "MigrationWorkflowStatusEnum"
        },
        "stepTargets": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "tags": {
          "documentation": "<p>The tags added to the migration workflow.</p>",
          "shape": "StringMap"
        },
        "templateId": {
          "documentation": "<p>The ID of the template.</p>",
          "shape": "String"
        },
        "workflowInputs": {
          "documentation": "<p>The inputs required to update a migration workflow.</p>",
          "shape": "StepInputParameters"
        }
      },
      "type": "structure"
    },
    "UpdateWorkflowStepGroupRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "StepGroupDescription"
        },
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepGroupId"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "StepGroupName"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "location": "querystring",
          "locationName": "workflowId",
          "shape": "MigrationWorkflowId"
        }
      },
      "required": [
        "workflowId",
        "id"
      ],
      "type": "structure"
    },
    "UpdateWorkflowStepGroupResponse": {
      "members": {
        "description": {
          "documentation": "<p>The description of the step group.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "lastModifiedTime": {
          "documentation": "<p>The time at which the step group was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "tools": {
          "documentation": "<p>List of AWS services utilized in a migration workflow.</p>",
          "shape": "ToolsList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UpdateWorkflowStepRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the step.</p>",
          "shape": "StepDescription"
        },
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "StepId"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "StepName"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "outputs": {
          "documentation": "<p>The outputs of a step.</p>",
          "shape": "WorkflowStepOutputList"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "StepStatus"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "StepGroupId"
        },
        "stepTarget": {
          "documentation": "<p>The servers on which a step will be run.</p>",
          "shape": "StringList"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "MigrationWorkflowId"
        },
        "workflowStepAutomationConfiguration": {
          "documentation": "<p>The custom script to run tests on the source and target environments.</p>",
          "shape": "WorkflowStepAutomationConfiguration"
        }
      },
      "required": [
        "id",
        "stepGroupId",
        "workflowId"
      ],
      "type": "structure"
    },
    "UpdateWorkflowStepResponse": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "StepId"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "stepGroupId": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "workflowId": {
          "documentation": "<p>The ID of the migration workflow.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "WorkflowStepAutomationConfiguration": {
      "documentation": "<p>The custom script to run tests on source or target environments.</p>",
      "members": {
        "command": {
          "documentation": "<p>The command required to run the script.</p>",
          "shape": "PlatformCommand"
        },
        "runEnvironment": {
          "documentation": "<p>The source or target environment.</p>",
          "shape": "RunEnvironment"
        },
        "scriptLocationS3Bucket": {
          "documentation": "<p>The Amazon S3 bucket where the script is located.</p>",
          "shape": "S3Bucket"
        },
        "scriptLocationS3Key": {
          "documentation": "<p>The Amazon S3 key for the script location.</p>",
          "shape": "PlatformScriptKey"
        },
        "targetType": {
          "documentation": "<p>The servers on which to run the script.</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "WorkflowStepGroupSummary": {
      "documentation": "<p>The summary of a step group in a workflow.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the step group.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step group.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step group.</p>",
          "shape": "StringList"
        },
        "owner": {
          "documentation": "<p>The owner of the step group.</p>",
          "shape": "Owner"
        },
        "previous": {
          "documentation": "<p>The previous step group.</p>",
          "shape": "StringList"
        },
        "status": {
          "documentation": "<p>The status of the step group.</p>",
          "shape": "StepGroupStatus"
        }
      },
      "type": "structure"
    },
    "WorkflowStepGroupsSummaryList": {
      "member": {
        "shape": "WorkflowStepGroupSummary"
      },
      "type": "list"
    },
    "WorkflowStepOutput": {
      "documentation": "<p>The output of a step.</p>",
      "members": {
        "dataType": {
          "documentation": "<p>The data type of the output.</p>",
          "shape": "DataType"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "WorkflowStepOutputName"
        },
        "required": {
          "documentation": "<p>Determine if an output is required from a step.</p>",
          "shape": "Boolean"
        },
        "value": {
          "documentation": "<p>The value of the output.</p>",
          "shape": "WorkflowStepOutputUnion"
        }
      },
      "type": "structure"
    },
    "WorkflowStepOutputList": {
      "member": {
        "shape": "WorkflowStepOutput"
      },
      "type": "list"
    },
    "WorkflowStepOutputName": {
      "max": 100,
      "min": 1,
      "pattern": "[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*",
      "type": "string"
    },
    "WorkflowStepOutputUnion": {
      "documentation": "<p>A structure to hold multiple values of an output.</p>",
      "members": {
        "integerValue": {
          "box": true,
          "documentation": "<p>The integer value. </p>",
          "shape": "Integer"
        },
        "listOfStringValue": {
          "documentation": "<p>The list of string value.</p>",
          "shape": "StringList"
        },
        "stringValue": {
          "documentation": "<p>The string value.</p>",
          "shape": "StringValue"
        }
      },
      "type": "structure",
      "union": true
    },
    "WorkflowStepSummary": {
      "documentation": "<p>The summary of the step in a migration workflow.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the step.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "String"
        },
        "next": {
          "documentation": "<p>The next step.</p>",
          "shape": "StringList"
        },
        "noOfSrvCompleted": {
          "documentation": "<p>The number of servers that have been migrated.</p>",
          "shape": "Integer"
        },
        "noOfSrvFailed": {
          "documentation": "<p>The number of servers that have failed to migrate.</p>",
          "shape": "Integer"
        },
        "owner": {
          "documentation": "<p>The owner of the step.</p>",
          "shape": "Owner"
        },
        "previous": {
          "documentation": "<p>The previous step.</p>",
          "shape": "StringList"
        },
        "scriptLocation": {
          "documentation": "<p>The location of the script.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "StepStatus"
        },
        "statusMessage": {
          "documentation": "<p>The status message of the migration workflow.</p>",
          "shape": "String"
        },
        "stepActionType": {
          "documentation": "<p>The action type of the step. You must run and update the status of a manual step for the workflow to continue after the completion of the step.</p>",
          "shape": "StepActionType"
        },
        "stepId": {
          "documentation": "<p>The ID of the step.</p>",
          "shape": "String"
        },
        "totalNoOfSrv": {
          "documentation": "<p>The total number of servers that have been migrated.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "WorkflowStepsSummaryList": {
      "member": {
        "shape": "WorkflowStepSummary"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
