{
  "documentation": "<p>The Amazon Chime SDK Identity APIs in this section allow software developers to create and manage unique instances of their messaging applications. These APIs provide the overarching framework for creating and sending messages. For more information about the identity APIs, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Identity.html\">Amazon Chime SDK identity</a>.</p>",
  "metadata": {
    "apiVersion": "2021-04-20",
    "endpointPrefix": "identity-chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime SDK Identity",
    "serviceId": "Chime SDK Identity",
    "signatureVersion": "v4",
    "signingName": "chime",
    "uid": "chime-sdk-identity-2021-04-20"
  },
  "operations": {
    "CreateAppInstance": {
      "documentation": "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.</p> <p>identity</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instances",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceRequest"
      },
      "name": "CreateAppInstance",
      "output": {
        "shape": "CreateAppInstanceResponse"
      }
    },
    "CreateAppInstanceAdmin": {
      "documentation": "<p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The promoted user can perform the following actions. </p> <ul> <li> <p> <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p> </li> <li> <p> <code>DeleteChannelMessage</code> actions.</p> </li> </ul> <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instances/{appInstanceArn}/admins",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceAdminRequest"
      },
      "name": "CreateAppInstanceAdmin",
      "output": {
        "shape": "CreateAppInstanceAdminResponse"
      }
    },
    "CreateAppInstanceUser": {
      "documentation": "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instance-users",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceUserRequest"
      },
      "name": "CreateAppInstanceUser",
      "output": {
        "shape": "CreateAppInstanceUserResponse"
      }
    },
    "DeleteAppInstance": {
      "documentation": "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceRequest"
      },
      "name": "DeleteAppInstance"
    },
    "DeleteAppInstanceAdmin": {
      "documentation": "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code>. This action does not delete the user.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceAdminRequest"
      },
      "name": "DeleteAppInstanceAdmin"
    },
    "DeleteAppInstanceUser": {
      "documentation": "<p>Deletes an <code>AppInstanceUser</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceUserRequest"
      },
      "name": "DeleteAppInstanceUser"
    },
    "DeregisterAppInstanceUserEndpoint": {
      "documentation": "<p>Deregisters an <code>AppInstanceUserEndpoint</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instance-users/{appInstanceUserArn}/endpoints/{endpointId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeregisterAppInstanceUserEndpointRequest"
      },
      "name": "DeregisterAppInstanceUserEndpoint"
    },
    "DescribeAppInstance": {
      "documentation": "<p>Returns the full details of an <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}"
      },
      "input": {
        "shape": "DescribeAppInstanceRequest"
      },
      "name": "DescribeAppInstance",
      "output": {
        "shape": "DescribeAppInstanceResponse"
      }
    },
    "DescribeAppInstanceAdmin": {
      "documentation": "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppInstanceAdminRequest"
      },
      "name": "DescribeAppInstanceAdmin",
      "output": {
        "shape": "DescribeAppInstanceAdminResponse"
      }
    },
    "DescribeAppInstanceUser": {
      "documentation": "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users/{appInstanceUserArn}"
      },
      "input": {
        "shape": "DescribeAppInstanceUserRequest"
      },
      "name": "DescribeAppInstanceUser",
      "output": {
        "shape": "DescribeAppInstanceUserResponse"
      }
    },
    "DescribeAppInstanceUserEndpoint": {
      "documentation": "<p>Returns the full details of an <code>AppInstanceUserEndpoint</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users/{appInstanceUserArn}/endpoints/{endpointId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppInstanceUserEndpointRequest"
      },
      "name": "DescribeAppInstanceUserEndpoint",
      "output": {
        "shape": "DescribeAppInstanceUserEndpointResponse"
      }
    },
    "GetAppInstanceRetentionSettings": {
      "documentation": "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/retention-settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppInstanceRetentionSettingsRequest"
      },
      "name": "GetAppInstanceRetentionSettings",
      "output": {
        "shape": "GetAppInstanceRetentionSettingsResponse"
      }
    },
    "ListAppInstanceAdmins": {
      "documentation": "<p>Returns a list of the administrators in the <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/admins",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppInstanceAdminsRequest"
      },
      "name": "ListAppInstanceAdmins",
      "output": {
        "shape": "ListAppInstanceAdminsResponse"
      }
    },
    "ListAppInstanceUserEndpoints": {
      "documentation": "<p>Lists all the <code>AppInstanceUserEndpoints</code> created under a single <code>AppInstanceUser</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users/{appInstanceUserArn}/endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppInstanceUserEndpointsRequest"
      },
      "name": "ListAppInstanceUserEndpoints",
      "output": {
        "shape": "ListAppInstanceUserEndpointsResponse"
      }
    },
    "ListAppInstanceUsers": {
      "documentation": "<p>List all <code>AppInstanceUsers</code> created under a single <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users"
      },
      "input": {
        "shape": "ListAppInstanceUsersRequest"
      },
      "name": "ListAppInstanceUsers",
      "output": {
        "shape": "ListAppInstanceUsersResponse"
      }
    },
    "ListAppInstances": {
      "documentation": "<p>Lists all Amazon Chime <code>AppInstance</code>s created under a single AWS account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances"
      },
      "input": {
        "shape": "ListAppInstancesRequest"
      },
      "name": "ListAppInstances",
      "output": {
        "shape": "ListAppInstancesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags applied to an Amazon Chime SDK identity resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutAppInstanceRetentionSettings": {
      "documentation": "<p>Sets the amount of time in days that a given <code>AppInstance</code> retains data.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/app-instances/{appInstanceArn}/retention-settings",
        "responseCode": 200
      },
      "input": {
        "shape": "PutAppInstanceRetentionSettingsRequest"
      },
      "name": "PutAppInstanceRetentionSettings",
      "output": {
        "shape": "PutAppInstanceRetentionSettingsResponse"
      }
    },
    "RegisterAppInstanceUserEndpoint": {
      "documentation": "<p>Registers an endpoint under an Amazon Chime <code>AppInstanceUser</code>. The endpoint receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instance-users/{appInstanceUserArn}/endpoints",
        "responseCode": 201
      },
      "input": {
        "shape": "RegisterAppInstanceUserEndpointRequest"
      },
      "name": "RegisterAppInstanceUserEndpoint",
      "output": {
        "shape": "RegisterAppInstanceUserEndpointResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies the specified tags to the specified Amazon Chime SDK identity resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags?operation=tag-resource",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified Amazon Chime SDK identity resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags?operation=untag-resource",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAppInstance": {
      "documentation": "<p>Updates <code>AppInstance</code> metadata.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAppInstanceRequest"
      },
      "name": "UpdateAppInstance",
      "output": {
        "shape": "UpdateAppInstanceResponse"
      }
    },
    "UpdateAppInstanceUser": {
      "documentation": "<p>Updates the details of an <code>AppInstanceUser</code>. You can update names and metadata.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAppInstanceUserRequest"
      },
      "name": "UpdateAppInstanceUser",
      "output": {
        "shape": "UpdateAppInstanceUserResponse"
      }
    },
    "UpdateAppInstanceUserEndpoint": {
      "documentation": "<p>Updates the details of an <code>AppInstanceUserEndpoint</code>. You can update the name and <code>AllowMessage</code> values.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/app-instance-users/{appInstanceUserArn}/endpoints/{endpointId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAppInstanceUserEndpointRequest"
      },
      "name": "UpdateAppInstanceUserEndpoint",
      "output": {
        "shape": "UpdateAppInstanceUserEndpointResponse"
      }
    }
  },
  "shapes": {
    "AllowMessages": {
      "enum": [
        "ALL",
        "NONE"
      ],
      "type": "string"
    },
    "AppInstance": {
      "documentation": "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging application.</p>",
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the messaging instance.</p>",
          "shape": "ChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>",
          "shape": "Timestamp"
        },
        "Metadata": {
          "documentation": "<p>The metadata of an <code>AppInstance</code>.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of an <code>AppInstance</code>.</p>",
          "shape": "NonEmptyResourceName"
        }
      },
      "type": "structure"
    },
    "AppInstanceAdmin": {
      "documentation": "<p>The details of an <code>AppInstanceAdmin</code>.</p>",
      "members": {
        "Admin": {
          "documentation": "<p>The <code>AppInstanceAdmin</code> data.</p>",
          "shape": "Identity"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>",
          "shape": "ChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which an administrator was created.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AppInstanceAdminList": {
      "member": {
        "shape": "AppInstanceAdminSummary"
      },
      "type": "list"
    },
    "AppInstanceAdminSummary": {
      "documentation": "<p>Summary of the details of an <code>AppInstanceAdmin</code>.</p>",
      "members": {
        "Admin": {
          "documentation": "<p>The details of the <code>AppInstanceAdmin</code>.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "AppInstanceList": {
      "member": {
        "shape": "AppInstanceSummary"
      },
      "type": "list"
    },
    "AppInstanceRetentionSettings": {
      "documentation": "<p>The details of the data-retention settings for an <code>AppInstance</code>.</p>",
      "members": {
        "ChannelRetentionSettings": {
          "documentation": "<p>The length of time in days to retain the messages in a channel.</p>",
          "shape": "ChannelRetentionSettings"
        }
      },
      "type": "structure"
    },
    "AppInstanceSummary": {
      "documentation": "<p>Summary of the data for an <code>AppInstance</code>.</p>",
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The <code>AppInstance</code> ARN.</p>",
          "shape": "ChimeArn"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the <code>AppInstance</code>.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstance</code>.</p>",
          "shape": "NonEmptyResourceName"
        }
      },
      "type": "structure"
    },
    "AppInstanceUser": {
      "documentation": "<p>The details of an <code>AppInstanceUser</code>.</p>",
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "ChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the <code>AppInstanceUser</code> was created.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which the <code>AppInstanceUser</code> was last updated.</p>",
          "shape": "Timestamp"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>",
          "shape": "UserName"
        }
      },
      "type": "structure"
    },
    "AppInstanceUserEndpoint": {
      "documentation": "<p>An endpoint under an Amazon Chime <code>AppInstanceUser</code> that receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>",
      "members": {
        "AllowMessages": {
          "documentation": "<p>Boolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. <code>NONE</code> indicates the endpoint will receive no messages.</p>",
          "shape": "AllowMessages"
        },
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "SensitiveChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was created.</p>",
          "shape": "Timestamp"
        },
        "EndpointAttributes": {
          "documentation": "<p>The attributes of an <code>Endpoint</code>.</p>",
          "shape": "EndpointAttributes"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString64"
        },
        "EndpointState": {
          "documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p> <ul> <li> <p> <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p> </li> <li> <p> <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive message. When <code>INACTIVE</code>, the corresponding reason will be conveyed through <code>EndpointStatusReason</code>.</p> </li> <li> <p> <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p> </li> <li> <p> <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input through the <code>ResourceArn</code> field.</p> </li> </ul>",
          "shape": "EndpointState"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was last updated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString1600"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource to which the endpoint belongs.</p>",
          "shape": "SensitiveChimeArn"
        },
        "Type": {
          "documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "AppInstanceUserEndpointType"
        }
      },
      "type": "structure"
    },
    "AppInstanceUserEndpointSummary": {
      "documentation": "<p>Summary of the details of an <code>AppInstanceUserEndpoint</code>.</p>",
      "members": {
        "AllowMessages": {
          "documentation": "<p>BBoolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. <code>NONE</code> indicates the endpoint will receive no messages.</p>",
          "shape": "AllowMessages"
        },
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "SensitiveChimeArn"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString64"
        },
        "EndpointState": {
          "documentation": "<p>A read-only field that represent the state of an <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "EndpointState"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString1600"
        },
        "Type": {
          "documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "AppInstanceUserEndpointType"
        }
      },
      "type": "structure"
    },
    "AppInstanceUserEndpointSummaryList": {
      "member": {
        "shape": "AppInstanceUserEndpointSummary"
      },
      "type": "list"
    },
    "AppInstanceUserEndpointType": {
      "enum": [
        "APNS",
        "APNS_SANDBOX",
        "GCM"
      ],
      "type": "string"
    },
    "AppInstanceUserList": {
      "member": {
        "shape": "AppInstanceUserSummary"
      },
      "type": "list"
    },
    "AppInstanceUserSummary": {
      "documentation": "<p>Summary of the details of an <code>AppInstanceUser</code>.</p>",
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "ChimeArn"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of an <code>AppInstanceUser</code>.</p>",
          "shape": "UserName"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>The input parameters don't match the service's restrictions.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ChannelRetentionSettings": {
      "documentation": "<p>The details of the retention settings for a channel.</p>",
      "members": {
        "RetentionDays": {
          "documentation": "<p>The time in days to retain the messages in a channel.</p>",
          "shape": "RetentionDays"
        }
      },
      "type": "structure"
    },
    "ChimeArn": {
      "max": 1600,
      "min": 5,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 2,
      "pattern": "[-_a-zA-Z0-9]*",
      "sensitive": true,
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateAppInstanceAdminRequest": {
      "members": {
        "AppInstanceAdminArn": {
          "documentation": "<p>The ARN of the administrator of the current <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceAdminArn",
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "CreateAppInstanceAdminResponse": {
      "members": {
        "AppInstanceAdmin": {
          "documentation": "<p>The name and ARN of the admin for the <code>AppInstance</code>.</p>",
          "shape": "Identity"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the of the admin for the <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "CreateAppInstanceRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>The <code>ClientRequestToken</code> of the <code>AppInstance</code>.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the <code>AppInstance</code>. Limited to a 1KB string in UTF-8.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstance</code>.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Tags": {
          "documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "CreateAppInstanceResponse": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "CreateAppInstanceUserRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code> request.</p>",
          "shape": "ChimeArn"
        },
        "AppInstanceUserId": {
          "documentation": "<p>The user ID of the <code>AppInstance</code>.</p>",
          "shape": "UserId"
        },
        "ClientRequestToken": {
          "documentation": "<p>The token assigned to the user requesting an <code>AppInstance</code>.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Metadata": {
          "documentation": "<p>The request's metadata. Limited to a 1KB string in UTF-8.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The user's name.</p>",
          "shape": "UserName"
        },
        "Tags": {
          "documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "AppInstanceArn",
        "AppInstanceUserId",
        "Name",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "CreateAppInstanceUserResponse": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The user's ARN.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "DeleteAppInstanceAdminRequest": {
      "members": {
        "AppInstanceAdminArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>'s administrator.</p>",
          "location": "uri",
          "locationName": "appInstanceAdminArn",
          "shape": "ChimeArn"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceAdminArn",
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "DeleteAppInstanceRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "DeleteAppInstanceUserRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the user request being deleted.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceUserArn"
      ],
      "type": "structure"
    },
    "DeregisterAppInstanceUserEndpointRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "SensitiveChimeArn"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "location": "uri",
          "locationName": "endpointId",
          "shape": "SensitiveString64"
        }
      },
      "required": [
        "AppInstanceUserArn",
        "EndpointId"
      ],
      "type": "structure"
    },
    "DescribeAppInstanceAdminRequest": {
      "members": {
        "AppInstanceAdminArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceAdmin</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceAdminArn",
          "shape": "ChimeArn"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceAdminArn",
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "DescribeAppInstanceAdminResponse": {
      "members": {
        "AppInstanceAdmin": {
          "documentation": "<p>The ARN and name of the <code>AppInstanceUser</code>, the ARN of the <code>AppInstance</code>, and the created and last-updated timestamps. All timestamps use epoch milliseconds.</p>",
          "shape": "AppInstanceAdmin"
        }
      },
      "type": "structure"
    },
    "DescribeAppInstanceRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "DescribeAppInstanceResponse": {
      "members": {
        "AppInstance": {
          "documentation": "<p>The ARN, metadata, created and last-updated timestamps, and the name of the <code>AppInstance</code>. All timestamps use epoch milliseconds.</p>",
          "shape": "AppInstance"
        }
      },
      "type": "structure"
    },
    "DescribeAppInstanceUserEndpointRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "SensitiveString1600"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "location": "uri",
          "locationName": "endpointId",
          "shape": "SensitiveString64"
        }
      },
      "required": [
        "AppInstanceUserArn",
        "EndpointId"
      ],
      "type": "structure"
    },
    "DescribeAppInstanceUserEndpointResponse": {
      "members": {
        "AppInstanceUserEndpoint": {
          "documentation": "<p>The full details of an <code>AppInstanceUserEndpoint</code>: the <code>AppInstanceUserArn</code>, ID, name, type, resource ARN, attributes, allow messages, state, and created and last updated timestamps. All timestamps use epoch milliseconds.</p>",
          "shape": "AppInstanceUserEndpoint"
        }
      },
      "type": "structure"
    },
    "DescribeAppInstanceUserRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceUserArn"
      ],
      "type": "structure"
    },
    "DescribeAppInstanceUserResponse": {
      "members": {
        "AppInstanceUser": {
          "documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>",
          "shape": "AppInstanceUser"
        }
      },
      "type": "structure"
    },
    "EndpointAttributes": {
      "documentation": "<p>The attributes of an <code>Endpoint</code>.</p>",
      "members": {
        "DeviceToken": {
          "documentation": "<p>The device token for the GCM, APNS, and APNS_SANDBOX endpoint types.</p>",
          "shape": "NonEmptySensitiveString1600"
        },
        "VoipDeviceToken": {
          "documentation": "<p>The VOIP device token for the APNS and APNS_SANDBOX endpoint types.</p>",
          "shape": "NonEmptySensitiveString1600"
        }
      },
      "required": [
        "DeviceToken"
      ],
      "type": "structure"
    },
    "EndpointState": {
      "documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p> <ul> <li> <p> <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p> </li> <li> <p> <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive message. When INACTIVE, the corresponding reason will be conveyed through EndpointStatusReason.</p> </li> <li> <p> <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p> </li> <li> <p> <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input through the <code>ResourceArn</code> field.</p> </li> </ul>",
      "members": {
        "Status": {
          "documentation": "<p>Enum that indicates the Status of an <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "EndpointStatus"
        },
        "StatusReason": {
          "documentation": "<p>The reason for the <code>EndpointStatus</code>.</p>",
          "shape": "EndpointStatusReason"
        }
      },
      "required": [
        "Status"
      ],
      "type": "structure"
    },
    "EndpointStatus": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "EndpointStatusReason": {
      "enum": [
        "INVALID_DEVICE_TOKEN",
        "INVALID_PINPOINT_ARN"
      ],
      "type": "string"
    },
    "ErrorCode": {
      "enum": [
        "BadRequest",
        "Conflict",
        "Forbidden",
        "NotFound",
        "PreconditionFailed",
        "ResourceLimitExceeded",
        "ServiceFailure",
        "AccessDenied",
        "ServiceUnavailable",
        "Throttled",
        "Throttling",
        "Unauthorized",
        "Unprocessable",
        "VoiceConnectorGroupAssociationsExist",
        "PhoneNumberAssociationsExist"
      ],
      "type": "string"
    },
    "ForbiddenException": {
      "documentation": "<p>The client is permanently forbidden from making the request.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetAppInstanceRetentionSettingsRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "GetAppInstanceRetentionSettingsResponse": {
      "members": {
        "AppInstanceRetentionSettings": {
          "documentation": "<p>The retention settings for the <code>AppInstance</code>.</p>",
          "shape": "AppInstanceRetentionSettings"
        },
        "InitiateDeletionTimestamp": {
          "documentation": "<p>The timestamp representing the time at which the specified items are retained, in Epoch Seconds.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "Identity": {
      "documentation": "<p>The details of a user.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN in an Identity.</p>",
          "shape": "ChimeArn"
        },
        "Name": {
          "documentation": "<p>The name in an Identity.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "ListAppInstanceAdminsRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of administrators that you want to return.</p>",
          "location": "querystring",
          "locationName": "max-results",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token returned from previous API requests until the number of administrators is reached.</p>",
          "location": "querystring",
          "locationName": "next-token",
          "shape": "NextToken"
        }
      },
      "required": [
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "ListAppInstanceAdminsResponse": {
      "members": {
        "AppInstanceAdmins": {
          "documentation": "<p>The information for each administrator.</p>",
          "shape": "AppInstanceAdminList"
        },
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        },
        "NextToken": {
          "documentation": "<p>The token returned from previous API requests until the number of administrators is reached.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppInstanceUserEndpointsRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "SensitiveChimeArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of endpoints that you want to return.</p>",
          "location": "querystring",
          "locationName": "max-results",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API calls until all requested endpoints are returned.</p>",
          "location": "querystring",
          "locationName": "next-token",
          "shape": "NextToken"
        }
      },
      "required": [
        "AppInstanceUserArn"
      ],
      "type": "structure"
    },
    "ListAppInstanceUserEndpointsResponse": {
      "members": {
        "AppInstanceUserEndpoints": {
          "documentation": "<p>The information for each requested <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "AppInstanceUserEndpointSummaryList"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API calls until all requested endpoints are returned.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppInstanceUsersRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "querystring",
          "locationName": "app-instance-arn",
          "shape": "ChimeArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of requests that you want returned.</p>",
          "location": "querystring",
          "locationName": "max-results",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API calls until all requested users are returned.</p>",
          "location": "querystring",
          "locationName": "next-token",
          "shape": "NextToken"
        }
      },
      "required": [
        "AppInstanceArn"
      ],
      "type": "structure"
    },
    "ListAppInstanceUsersResponse": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        },
        "AppInstanceUsers": {
          "documentation": "<p>The information for each requested <code>AppInstanceUser</code>.</p>",
          "shape": "AppInstanceUserList"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API calls until all requested users are returned.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppInstancesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of <code>AppInstance</code>s that you want to return.</p>",
          "location": "querystring",
          "locationName": "max-results",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API requests until you reach the maximum number of <code>AppInstances</code>.</p>",
          "location": "querystring",
          "locationName": "next-token",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppInstancesResponse": {
      "members": {
        "AppInstances": {
          "documentation": "<p>The information for each <code>AppInstance</code>.</p>",
          "shape": "AppInstanceList"
        },
        "NextToken": {
          "documentation": "<p>The token passed by previous API requests until the maximum number of <code>AppInstance</code>s is reached.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "querystring",
          "locationName": "arn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tag key-value pairs.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "Metadata": {
      "max": 1024,
      "min": 0,
      "pattern": ".*",
      "sensitive": true,
      "type": "string"
    },
    "NextToken": {
      "max": 2048,
      "min": 0,
      "pattern": ".*",
      "sensitive": true,
      "type": "string"
    },
    "NonEmptyResourceName": {
      "max": 256,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "sensitive": true,
      "type": "string"
    },
    "NonEmptySensitiveString1600": {
      "max": 1600,
      "min": 1,
      "pattern": ".*",
      "sensitive": true,
      "type": "string"
    },
    "PutAppInstanceRetentionSettingsRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        },
        "AppInstanceRetentionSettings": {
          "documentation": "<p>The time in days to retain data. Data type: number.</p>",
          "shape": "AppInstanceRetentionSettings"
        }
      },
      "required": [
        "AppInstanceArn",
        "AppInstanceRetentionSettings"
      ],
      "type": "structure"
    },
    "PutAppInstanceRetentionSettingsResponse": {
      "members": {
        "AppInstanceRetentionSettings": {
          "documentation": "<p>The time in days to retain data. Data type: number.</p>",
          "shape": "AppInstanceRetentionSettings"
        },
        "InitiateDeletionTimestamp": {
          "documentation": "<p>The time at which the API deletes data.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "RegisterAppInstanceUserEndpointRequest": {
      "members": {
        "AllowMessages": {
          "documentation": "<p>Boolean that controls whether the AppInstanceUserEndpoint is opted in to receive messages. <code>ALL</code> indicates the endpoint receives all messages. <code>NONE</code> indicates the endpoint receives no messages.</p>",
          "shape": "AllowMessages"
        },
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "SensitiveChimeArn"
        },
        "ClientRequestToken": {
          "documentation": "<p>The idempotency token for each client request. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "EndpointAttributes": {
          "documentation": "<p>The attributes of an <code>Endpoint</code>.</p>",
          "shape": "EndpointAttributes"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString1600"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource to which the endpoint belongs.</p>",
          "shape": "SensitiveChimeArn"
        },
        "Type": {
          "documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>. Supported types:</p> <ul> <li> <p> <code>APNS</code>: The mobile notification service for an Apple device.</p> </li> <li> <p> <code>APNS_SANDBOX</code>: The sandbox environment of the mobile notification service for an Apple device.</p> </li> <li> <p> <code>GCM</code>: The mobile notification service for an Android device.</p> </li> </ul> <p>Populate the <code>ResourceArn</code> value of each type as <code>PinpointAppArn</code>.</p>",
          "shape": "AppInstanceUserEndpointType"
        }
      },
      "required": [
        "AppInstanceUserArn",
        "Type",
        "ResourceArn",
        "EndpointAttributes",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "RegisterAppInstanceUserEndpointResponse": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "SensitiveChimeArn"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString64"
        }
      },
      "type": "structure"
    },
    "ResourceLimitExceededException": {
      "documentation": "<p>The request exceeds the resource limit.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceName": {
      "max": 256,
      "min": 0,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "sensitive": true,
      "type": "string"
    },
    "RetentionDays": {
      "max": 5475,
      "min": 1,
      "type": "integer"
    },
    "SensitiveChimeArn": {
      "max": 1600,
      "min": 5,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "sensitive": true,
      "type": "string"
    },
    "SensitiveString1600": {
      "max": 1600,
      "min": 0,
      "pattern": ".*",
      "sensitive": true,
      "type": "string"
    },
    "SensitiveString64": {
      "max": 64,
      "min": 0,
      "pattern": ".*",
      "sensitive": true,
      "type": "string"
    },
    "ServiceFailureException": {
      "documentation": "<p>The service encountered an unexpected error.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The service is currently unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A tag object containing a key-value pair.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key in a tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value in a tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "ChimeArn"
        },
        "Tags": {
          "documentation": "<p>The tag key-value pairs.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ThrottledClientException": {
      "documentation": "<p>The client exceeded its request rate limit.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UnauthorizedClientException": {
      "documentation": "<p>The client is not currently authorized to make the request.</p>",
      "error": {
        "httpStatusCode": 401
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "ChimeArn"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceARN",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UpdateAppInstanceRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceArn",
          "shape": "ChimeArn"
        },
        "Metadata": {
          "documentation": "<p>The metadata that you want to change.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name that you want to change.</p>",
          "shape": "NonEmptyResourceName"
        }
      },
      "required": [
        "AppInstanceArn",
        "Name",
        "Metadata"
      ],
      "type": "structure"
    },
    "UpdateAppInstanceResponse": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "UpdateAppInstanceUserEndpointRequest": {
      "members": {
        "AllowMessages": {
          "documentation": "<p>Boolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. <code>NONE</code> indicates the endpoint will receive no messages.</p>",
          "shape": "AllowMessages"
        },
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "SensitiveChimeArn"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "location": "uri",
          "locationName": "endpointId",
          "shape": "SensitiveString64"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString1600"
        }
      },
      "required": [
        "AppInstanceUserArn",
        "EndpointId"
      ],
      "type": "structure"
    },
    "UpdateAppInstanceUserEndpointResponse": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "SensitiveChimeArn"
        },
        "EndpointId": {
          "documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
          "shape": "SensitiveString64"
        }
      },
      "type": "structure"
    },
    "UpdateAppInstanceUserRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "location": "uri",
          "locationName": "appInstanceUserArn",
          "shape": "ChimeArn"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>",
          "shape": "UserName"
        }
      },
      "required": [
        "AppInstanceUserArn",
        "Name",
        "Metadata"
      ],
      "type": "structure"
    },
    "UpdateAppInstanceUserResponse": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "UserId": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9]([A-Za-z0-9\\:\\-\\_\\.\\@]{0,62}[A-Za-z0-9])?",
      "sensitive": true,
      "type": "string"
    },
    "UserName": {
      "max": 100,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    }
  },
  "version": "2.0"
}
