{
  "documentation": "<p>Contact Lens for Amazon Connect enables you to analyze conversations between customer and agents, by using speech transcription, natural language processing, and intelligent search capabilities. It performs sentiment analysis, detects issues, and enables you to automatically categorize contacts.</p> <p>Contact Lens for Amazon Connect provides both real-time and post-call analytics of customer-agent conversations. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/analyze-conversations.html\">Analyze conversations using Contact Lens</a> in the <i>Amazon Connect Administrator Guide</i>. </p>",
  "metadata": {
    "apiVersion": "2020-08-21",
    "endpointPrefix": "contact-lens",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon Connect Contact Lens",
    "serviceFullName": "Amazon Connect Contact Lens",
    "serviceId": "Connect Contact Lens",
    "signatureVersion": "v4",
    "signingName": "connect",
    "uid": "connect-contact-lens-2020-08-21"
  },
  "operations": {
    "ListRealtimeContactAnalysisSegments": {
      "documentation": "<p>Provides a list of analysis segments for a real-time analysis session.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/realtime-contact-analysis/analysis-segments"
      },
      "input": {
        "shape": "ListRealtimeContactAnalysisSegmentsRequest"
      },
      "name": "ListRealtimeContactAnalysisSegments",
      "output": {
        "shape": "ListRealtimeContactAnalysisSegmentsResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Categories": {
      "documentation": "<p>Provides the category rules that are used to automatically categorize contacts based on uttered keywords and phrases.</p>",
      "members": {
        "MatchedCategories": {
          "documentation": "<p>The category rules that have been matched in the analyzed segment.</p>",
          "shape": "MatchedCategories"
        },
        "MatchedDetails": {
          "documentation": "<p>The category rule that was matched and when it occurred in the transcript.</p>",
          "shape": "MatchedDetails"
        }
      },
      "required": [
        "MatchedCategories",
        "MatchedDetails"
      ],
      "type": "structure"
    },
    "CategoryDetails": {
      "documentation": "<p>Provides information about the category rule that was matched.</p>",
      "members": {
        "PointsOfInterest": {
          "documentation": "<p>The section of audio where the category rule was detected.</p>",
          "shape": "PointsOfInterest"
        }
      },
      "required": [
        "PointsOfInterest"
      ],
      "type": "structure"
    },
    "CategoryName": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "CharacterOffset": {
      "min": 0,
      "type": "integer"
    },
    "CharacterOffsets": {
      "documentation": "<p>For characters that were detected as issues, where they occur in the transcript.</p>",
      "members": {
        "BeginOffsetChar": {
          "documentation": "<p>The beginning of the issue.</p>",
          "shape": "CharacterOffset"
        },
        "EndOffsetChar": {
          "documentation": "<p>The end of the issue.</p>",
          "shape": "CharacterOffset"
        }
      },
      "required": [
        "BeginOffsetChar",
        "EndOffsetChar"
      ],
      "type": "structure"
    },
    "ContactId": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "InstanceId": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "InternalServiceException": {
      "documentation": "<p>Request processing failed due to an error or failure with the service.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "IssueDetected": {
      "documentation": "<p>Potential issues that are detected based on an artificial intelligence analysis of each turn in the conversation.</p>",
      "members": {
        "CharacterOffsets": {
          "documentation": "<p>The offset for when the issue was detected in the segment.</p>",
          "shape": "CharacterOffsets"
        }
      },
      "required": [
        "CharacterOffsets"
      ],
      "type": "structure"
    },
    "IssuesDetected": {
      "max": 20,
      "member": {
        "shape": "IssueDetected"
      },
      "min": 0,
      "type": "list"
    },
    "ListRealtimeContactAnalysisSegmentsRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The identifier of the contact.</p>",
          "shape": "ContactId"
        },
        "InstanceId": {
          "documentation": "<p>The identifier of the Amazon Connect instance.</p>",
          "shape": "InstanceId"
        },
        "MaxResults": {
          "documentation": "<p>The maximimum number of results to return per page.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "InstanceId",
        "ContactId"
      ],
      "type": "structure"
    },
    "ListRealtimeContactAnalysisSegmentsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If there are additional results, this is the token for the next set of results. If response includes <code>nextToken</code> there are two possible scenarios:</p> <ul> <li> <p>There are more segments so another call is required to get them.</p> </li> <li> <p>There are no more segments at this time, but more may be available later (real-time analysis is in progress) so the client should call the operation again to get new segments.</p> </li> </ul> <p>If response does not include <code>nextToken</code>, the analysis is completed (successfully or failed) and there are no more segments to retrieve.</p>",
          "shape": "NextToken"
        },
        "Segments": {
          "documentation": "<p>An analyzed transcript or category.</p>",
          "shape": "RealtimeContactAnalysisSegments"
        }
      },
      "required": [
        "Segments"
      ],
      "type": "structure"
    },
    "MatchedCategories": {
      "max": 150,
      "member": {
        "shape": "CategoryName"
      },
      "min": 0,
      "type": "list"
    },
    "MatchedDetails": {
      "key": {
        "shape": "CategoryName"
      },
      "max": 150,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "CategoryDetails"
      }
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "NextToken": {
      "max": 131070,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "OffsetMillis": {
      "min": 0,
      "type": "integer"
    },
    "ParticipantId": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "ParticipantRole": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "PointOfInterest": {
      "documentation": "<p>The section of the contact audio where that category rule was detected.</p>",
      "members": {
        "BeginOffsetMillis": {
          "documentation": "<p>The beginning offset in milliseconds where the category rule was detected.</p>",
          "shape": "OffsetMillis"
        },
        "EndOffsetMillis": {
          "documentation": "<p>The ending offset in milliseconds where the category rule was detected.</p>",
          "shape": "OffsetMillis"
        }
      },
      "required": [
        "BeginOffsetMillis",
        "EndOffsetMillis"
      ],
      "type": "structure"
    },
    "PointsOfInterest": {
      "max": 20,
      "member": {
        "shape": "PointOfInterest"
      },
      "min": 0,
      "type": "list"
    },
    "RealtimeContactAnalysisSegment": {
      "documentation": "<p>An analyzed segment for a real-time analysis session.</p>",
      "members": {
        "Categories": {
          "documentation": "<p>The matched category rules.</p>",
          "shape": "Categories"
        },
        "Transcript": {
          "documentation": "<p>The analyzed transcript.</p>",
          "shape": "Transcript"
        }
      },
      "type": "structure"
    },
    "RealtimeContactAnalysisSegments": {
      "max": 100,
      "member": {
        "shape": "RealtimeContactAnalysisSegment"
      },
      "min": 0,
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "SentimentValue": {
      "enum": [
        "POSITIVE",
        "NEUTRAL",
        "NEGATIVE"
      ],
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The throttling limit has been exceeded.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Transcript": {
      "documentation": "<p>A list of messages in the session.</p>",
      "members": {
        "BeginOffsetMillis": {
          "documentation": "<p>The beginning offset in the contact for this transcript.</p>",
          "shape": "OffsetMillis"
        },
        "Content": {
          "documentation": "<p>The content of the transcript.</p>",
          "shape": "TranscriptContent"
        },
        "EndOffsetMillis": {
          "documentation": "<p>The end offset in the contact for this transcript.</p>",
          "shape": "OffsetMillis"
        },
        "Id": {
          "documentation": "<p>The identifier of the transcript.</p>",
          "shape": "TranscriptId"
        },
        "IssuesDetected": {
          "documentation": "<p>List of positions where issues were detected on the transcript.</p>",
          "shape": "IssuesDetected"
        },
        "ParticipantId": {
          "documentation": "<p>The identifier of the participant.</p>",
          "shape": "ParticipantId"
        },
        "ParticipantRole": {
          "documentation": "<p>The role of participant. For example, is it a customer, agent, or system.</p>",
          "shape": "ParticipantRole"
        },
        "Sentiment": {
          "documentation": "<p>The sentiment of the detected for this piece of transcript.</p>",
          "shape": "SentimentValue"
        }
      },
      "required": [
        "Id",
        "ParticipantId",
        "ParticipantRole",
        "Content",
        "BeginOffsetMillis",
        "EndOffsetMillis",
        "Sentiment"
      ],
      "type": "structure"
    },
    "TranscriptContent": {
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "TranscriptId": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    }
  },
  "version": "2.0"
}
