{
  "documentation": "<p>Amazon Web Services Private 5G is a managed service that makes it easy to deploy, operate, and scale your own private mobile network at your on-premises location. Private 5G provides the pre-configured hardware and software for mobile networks, helps automate setup, and scales capacity on demand to support additional devices as needed.</p>",
  "metadata": {
    "apiVersion": "2021-12-03",
    "endpointPrefix": "private-networks",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Private 5G",
    "serviceId": "PrivateNetworks",
    "signatureVersion": "v4",
    "signingName": "private-networks",
    "uid": "privatenetworks-2021-12-03"
  },
  "operations": {
    "AcknowledgeOrderReceipt": {
      "documentation": "<p>Acknowledges that the specified network order was received.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/orders/acknowledge",
        "responseCode": 200
      },
      "input": {
        "shape": "AcknowledgeOrderReceiptRequest"
      },
      "name": "AcknowledgeOrderReceipt",
      "output": {
        "shape": "AcknowledgeOrderReceiptResponse"
      }
    },
    "ActivateDeviceIdentifier": {
      "documentation": "<p>Activates the specified device identifier.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/device-identifiers/activate",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ActivateDeviceIdentifierRequest"
      },
      "name": "ActivateDeviceIdentifier",
      "output": {
        "shape": "ActivateDeviceIdentifierResponse"
      }
    },
    "ActivateNetworkSite": {
      "documentation": "<p>Activates the specified network site.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/network-sites/activate",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ActivateNetworkSiteRequest"
      },
      "name": "ActivateNetworkSite",
      "output": {
        "shape": "ActivateNetworkSiteResponse"
      }
    },
    "ConfigureAccessPoint": {
      "documentation": "<p>Configures the specified network resource. </p> <p> Use this action to specify the geographic position of the hardware. You must provide Certified Professional Installer (CPI) credentials in the request so that we can obtain spectrum grants. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/radio-units.html\">Radio units</a> in the <i>Amazon Web Services Private 5G User Guide</i>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/network-resources/configure",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ConfigureAccessPointRequest"
      },
      "name": "ConfigureAccessPoint",
      "output": {
        "shape": "ConfigureAccessPointResponse"
      }
    },
    "CreateNetwork": {
      "documentation": "<p>Creates a network.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/networks",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateNetworkRequest"
      },
      "name": "CreateNetwork",
      "output": {
        "shape": "CreateNetworkResponse"
      }
    },
    "CreateNetworkSite": {
      "documentation": "<p>Creates a network site.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/network-sites",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateNetworkSiteRequest"
      },
      "name": "CreateNetworkSite",
      "output": {
        "shape": "CreateNetworkSiteResponse"
      }
    },
    "DeactivateDeviceIdentifier": {
      "documentation": "<p>Deactivates the specified device identifier.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/device-identifiers/deactivate",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeactivateDeviceIdentifierRequest"
      },
      "name": "DeactivateDeviceIdentifier",
      "output": {
        "shape": "DeactivateDeviceIdentifierResponse"
      }
    },
    "DeleteNetwork": {
      "documentation": "<p>Deletes the specified network. You must delete network sites before you delete the network. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/APIReference/API_DeleteNetworkSite.html\">DeleteNetworkSite</a> in the <i>API Reference for Amazon Web Services Private 5G</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/networks/{networkArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteNetworkRequest"
      },
      "name": "DeleteNetwork",
      "output": {
        "shape": "DeleteNetworkResponse"
      }
    },
    "DeleteNetworkSite": {
      "documentation": "<p>Deletes the specified network site. Return the hardware after you delete the network site. You are responsible for minimum charges. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/hardware-maintenance.html\">Hardware returns</a> in the <i>Amazon Web Services Private 5G User Guide</i>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/network-sites/{networkSiteArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteNetworkSiteRequest"
      },
      "name": "DeleteNetworkSite",
      "output": {
        "shape": "DeleteNetworkSiteResponse"
      }
    },
    "GetDeviceIdentifier": {
      "documentation": "<p>Gets the specified device identifier.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/device-identifiers/{deviceIdentifierArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeviceIdentifierRequest"
      },
      "name": "GetDeviceIdentifier",
      "output": {
        "shape": "GetDeviceIdentifierResponse"
      }
    },
    "GetNetwork": {
      "documentation": "<p>Gets the specified network.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/networks/{networkArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetNetworkRequest"
      },
      "name": "GetNetwork",
      "output": {
        "shape": "GetNetworkResponse"
      }
    },
    "GetNetworkResource": {
      "documentation": "<p>Gets the specified network resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/network-resources/{networkResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetNetworkResourceRequest"
      },
      "name": "GetNetworkResource",
      "output": {
        "shape": "GetNetworkResourceResponse"
      }
    },
    "GetNetworkSite": {
      "documentation": "<p>Gets the specified network site.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/network-sites/{networkSiteArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetNetworkSiteRequest"
      },
      "name": "GetNetworkSite",
      "output": {
        "shape": "GetNetworkSiteResponse"
      }
    },
    "GetOrder": {
      "documentation": "<p>Gets the specified order.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/orders/{orderArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetOrderRequest"
      },
      "name": "GetOrder",
      "output": {
        "shape": "GetOrderResponse"
      }
    },
    "ListDeviceIdentifiers": {
      "documentation": "<p>Lists device identifiers. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of an order, the status of device identifiers, or the ARN of the traffic group.</p> <pre><code> &lt;p&gt;If you specify multiple filters, filters are joined with an OR, and the request </code></pre> <p>returns results that match all of the specified filters.</p></p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/device-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeviceIdentifiersRequest"
      },
      "name": "ListDeviceIdentifiers",
      "output": {
        "shape": "ListDeviceIdentifiersResponse"
      }
    },
    "ListNetworkResources": {
      "documentation": "<p>Lists network resources. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of an order or the status of network resources.</p> <p>If you specify multiple filters, filters are joined with an OR, and the request returns results that match all of the specified filters.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/network-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNetworkResourcesRequest"
      },
      "name": "ListNetworkResources",
      "output": {
        "shape": "ListNetworkResourcesResponse"
      }
    },
    "ListNetworkSites": {
      "documentation": "<p>Lists network sites. Add filters to your request to return a more specific list of results. Use filters to match the status of the network site.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/network-sites/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNetworkSitesRequest"
      },
      "name": "ListNetworkSites",
      "output": {
        "shape": "ListNetworkSitesResponse"
      }
    },
    "ListNetworks": {
      "documentation": "<p>Lists networks. Add filters to your request to return a more specific list of results. Use filters to match the status of the network.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/networks/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNetworksRequest"
      },
      "name": "ListNetworks",
      "output": {
        "shape": "ListNetworksResponse"
      }
    },
    "ListOrders": {
      "documentation": "<p>Lists orders. Add filters to your request to return a more specific list of results. Use filters to match the Amazon Resource Name (ARN) of the network site or the status of the order.</p> <p>If you specify multiple filters, filters are joined with an OR, and the request returns results that match all of the specified filters.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/orders/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrdersRequest"
      },
      "name": "ListOrders",
      "output": {
        "shape": "ListOrdersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "Ping": {
      "documentation": "<p>Checks the health of the service.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/ping",
        "responseCode": 200
      },
      "name": "Ping",
      "output": {
        "shape": "PingResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Adds tags to the specified resource. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateNetworkSite": {
      "documentation": "<p>Updates the specified network site.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/network-sites/site",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateNetworkSiteRequest"
      },
      "name": "UpdateNetworkSite",
      "output": {
        "shape": "UpdateNetworkSiteResponse"
      }
    },
    "UpdateNetworkSitePlan": {
      "documentation": "<p>Updates the specified network site plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/network-sites/plan",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateNetworkSitePlanRequest"
      },
      "name": "UpdateNetworkSitePlan",
      "output": {
        "shape": "UpdateNetworkSiteResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have permission to perform this operation.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AcknowledgeOrderReceiptRequest": {
      "members": {
        "orderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the order.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "orderArn"
      ],
      "type": "structure"
    },
    "AcknowledgeOrderReceiptResponse": {
      "members": {
        "order": {
          "documentation": "<p>Information about the order.</p>",
          "shape": "Order"
        }
      },
      "required": [
        "order"
      ],
      "type": "structure"
    },
    "AcknowledgmentStatus": {
      "enum": [
        "ACKNOWLEDGING",
        "ACKNOWLEDGED",
        "UNACKNOWLEDGED"
      ],
      "type": "string"
    },
    "ActivateDeviceIdentifierRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "deviceIdentifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "deviceIdentifierArn"
      ],
      "type": "structure"
    },
    "ActivateDeviceIdentifierResponse": {
      "members": {
        "deviceIdentifier": {
          "documentation": "<p>Information about the device identifier.</p>",
          "shape": "DeviceIdentifier"
        },
        "tags": {
          "documentation": "<p> The tags on the device identifier. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "deviceIdentifier"
      ],
      "type": "structure"
    },
    "ActivateNetworkSiteRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "shape": "Arn"
        },
        "shippingAddress": {
          "documentation": "<p>The shipping address of the network site.</p>",
          "shape": "Address"
        }
      },
      "required": [
        "networkSiteArn",
        "shippingAddress"
      ],
      "type": "structure"
    },
    "ActivateNetworkSiteResponse": {
      "members": {
        "networkSite": {
          "documentation": "<p>Information about the network site.</p>",
          "shape": "NetworkSite"
        }
      },
      "type": "structure"
    },
    "Address": {
      "documentation": "<p>Information about an address.</p>",
      "members": {
        "city": {
          "documentation": "<p>The city for this address.</p>",
          "shape": "AddressContent"
        },
        "company": {
          "documentation": "<p>The company name for this address.</p>",
          "shape": "AddressContent"
        },
        "country": {
          "documentation": "<p>The country for this address.</p>",
          "shape": "AddressContent"
        },
        "name": {
          "documentation": "<p>The recipient's name for this address.</p>",
          "shape": "AddressContent"
        },
        "phoneNumber": {
          "documentation": "<p>The phone number for this address.</p>",
          "shape": "AddressContent"
        },
        "postalCode": {
          "documentation": "<p>The postal code for this address.</p>",
          "shape": "AddressContent"
        },
        "stateOrProvince": {
          "documentation": "<p>The state or province for this address.</p>",
          "shape": "AddressContent"
        },
        "street1": {
          "documentation": "<p>The first line of the street address.</p>",
          "shape": "AddressContent"
        },
        "street2": {
          "documentation": "<p>The second line of the street address.</p>",
          "shape": "AddressContent"
        },
        "street3": {
          "documentation": "<p>The third line of the street address.</p>",
          "shape": "AddressContent"
        }
      },
      "required": [
        "city",
        "country",
        "name",
        "postalCode",
        "stateOrProvince",
        "street1"
      ],
      "type": "structure"
    },
    "AddressContent": {
      "max": 1024,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "Arn": {
      "pattern": "^arn:aws:private-networks:[a-z0-9-]+:[^:]*:.*$",
      "type": "string"
    },
    "ClientToken": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ConfigureAccessPointRequest": {
      "members": {
        "accessPointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>",
          "shape": "Arn"
        },
        "cpiSecretKey": {
          "documentation": "<p>A Base64 encoded string of the CPI certificate associated with the CPI user who is certifying the coordinates of the network resource. </p>",
          "shape": "ConfigureAccessPointRequestCpiSecretKeyString"
        },
        "cpiUserId": {
          "documentation": "<p>The CPI user ID of the CPI user who is certifying the coordinates of the network resource. </p>",
          "shape": "ConfigureAccessPointRequestCpiUserIdString"
        },
        "cpiUserPassword": {
          "documentation": "<p>The CPI password associated with the CPI certificate in <code>cpiSecretKey</code>.</p>",
          "shape": "ConfigureAccessPointRequestCpiUserPasswordString"
        },
        "cpiUsername": {
          "documentation": "<p>The CPI user name of the CPI user who is certifying the coordinates of the radio unit.</p>",
          "shape": "ConfigureAccessPointRequestCpiUsernameString"
        },
        "position": {
          "documentation": "<p>The position of the network resource.</p>",
          "shape": "Position"
        }
      },
      "required": [
        "accessPointArn"
      ],
      "type": "structure"
    },
    "ConfigureAccessPointRequestCpiSecretKeyString": {
      "max": 100000,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ConfigureAccessPointRequestCpiUserIdString": {
      "max": 4096,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ConfigureAccessPointRequestCpiUserPasswordString": {
      "max": 4096,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ConfigureAccessPointRequestCpiUsernameString": {
      "max": 4096,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ConfigureAccessPointResponse": {
      "members": {
        "accessPoint": {
          "documentation": "<p>Information about the network resource.</p>",
          "shape": "NetworkResource"
        }
      },
      "required": [
        "accessPoint"
      ],
      "type": "structure"
    },
    "CreateNetworkRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The description of the network.</p>",
          "shape": "Description"
        },
        "networkName": {
          "documentation": "<p>The name of the network. You can't change the name after you create the network.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p> The tags to apply to the network. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "networkName"
      ],
      "type": "structure"
    },
    "CreateNetworkResponse": {
      "members": {
        "network": {
          "documentation": "<p>Information about the network.</p>",
          "shape": "Network"
        },
        "tags": {
          "documentation": "<p> The network tags. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "network"
      ],
      "type": "structure"
    },
    "CreateNetworkSiteRequest": {
      "members": {
        "availabilityZone": {
          "documentation": "<p>The Availability Zone that is the parent of this site. You can't change the Availability Zone after you create the site.</p>",
          "shape": "String"
        },
        "availabilityZoneId": {
          "documentation": "<p>The ID of the Availability Zone that is the parent of this site. You can't change the Availability Zone after you create the site.</p>",
          "shape": "String"
        },
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The description of the site.</p>",
          "shape": "Description"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "networkSiteName": {
          "documentation": "<p>The name of the site. You can't change the name after you create the site.</p>",
          "shape": "Name"
        },
        "pendingPlan": {
          "documentation": "<p>Information about the pending plan for this site.</p>",
          "shape": "SitePlan"
        },
        "tags": {
          "documentation": "<p> The tags to apply to the network site. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "networkArn",
        "networkSiteName"
      ],
      "type": "structure"
    },
    "CreateNetworkSiteResponse": {
      "members": {
        "networkSite": {
          "documentation": "<p>Information about the network site.</p>",
          "shape": "NetworkSite"
        },
        "tags": {
          "documentation": "<p> The network site tags. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DeactivateDeviceIdentifierRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "deviceIdentifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "deviceIdentifierArn"
      ],
      "type": "structure"
    },
    "DeactivateDeviceIdentifierResponse": {
      "members": {
        "deviceIdentifier": {
          "documentation": "<p>Information about the device identifier.</p>",
          "shape": "DeviceIdentifier"
        }
      },
      "required": [
        "deviceIdentifier"
      ],
      "type": "structure"
    },
    "DeleteNetworkRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "location": "uri",
          "locationName": "networkArn",
          "shape": "Arn"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "DeleteNetworkResponse": {
      "members": {
        "network": {
          "documentation": "<p>Information about the network.</p>",
          "shape": "Network"
        }
      },
      "required": [
        "network"
      ],
      "type": "structure"
    },
    "DeleteNetworkSiteRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "location": "uri",
          "locationName": "networkSiteArn",
          "shape": "Arn"
        }
      },
      "required": [
        "networkSiteArn"
      ],
      "type": "structure"
    },
    "DeleteNetworkSiteResponse": {
      "members": {
        "networkSite": {
          "documentation": "<p>Information about the network site.</p>",
          "shape": "NetworkSite"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 100,
      "min": 0,
      "type": "string"
    },
    "DeviceIdentifier": {
      "documentation": "<p>Information about a subscriber of a device that can use a network.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The creation time of this device identifier.</p>",
          "shape": "Timestamp"
        },
        "deviceIdentifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "shape": "Arn"
        },
        "iccid": {
          "documentation": "<p>The Integrated Circuit Card Identifier of the device identifier.</p>",
          "shape": "String"
        },
        "imsi": {
          "documentation": "<p>The International Mobile Subscriber Identity of the device identifier.</p>",
          "shape": "DeviceIdentifierImsiString"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network on which the device identifier appears.</p>",
          "shape": "Arn"
        },
        "orderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the order used to purchase the device identifier.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the device identifier.</p>",
          "shape": "DeviceIdentifierStatus"
        },
        "trafficGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the traffic group to which the device identifier belongs.</p>",
          "shape": "Arn"
        },
        "vendor": {
          "documentation": "<p>The vendor of the device identifier.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeviceIdentifierFilterKeys": {
      "enum": [
        "STATUS",
        "ORDER",
        "TRAFFIC_GROUP"
      ],
      "type": "string"
    },
    "DeviceIdentifierFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DeviceIdentifierFilters": {
      "key": {
        "shape": "DeviceIdentifierFilterKeys"
      },
      "type": "map",
      "value": {
        "shape": "DeviceIdentifierFilterValues"
      }
    },
    "DeviceIdentifierImsiString": {
      "pattern": "^[0-9]{15}$",
      "sensitive": true,
      "type": "string"
    },
    "DeviceIdentifierList": {
      "member": {
        "shape": "DeviceIdentifier"
      },
      "type": "list"
    },
    "DeviceIdentifierStatus": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "ElevationReference": {
      "enum": [
        "AGL",
        "AMSL"
      ],
      "type": "string"
    },
    "ElevationUnit": {
      "enum": [
        "FEET"
      ],
      "type": "string"
    },
    "GetDeviceIdentifierRequest": {
      "members": {
        "deviceIdentifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
          "location": "uri",
          "locationName": "deviceIdentifierArn",
          "shape": "Arn"
        }
      },
      "required": [
        "deviceIdentifierArn"
      ],
      "type": "structure"
    },
    "GetDeviceIdentifierResponse": {
      "members": {
        "deviceIdentifier": {
          "documentation": "<p>Information about the device identifier.</p>",
          "shape": "DeviceIdentifier"
        },
        "tags": {
          "documentation": "<p> The device identifier tags. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GetNetworkRequest": {
      "members": {
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "location": "uri",
          "locationName": "networkArn",
          "shape": "Arn"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "GetNetworkResourceRequest": {
      "members": {
        "networkResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>",
          "location": "uri",
          "locationName": "networkResourceArn",
          "shape": "Arn"
        }
      },
      "required": [
        "networkResourceArn"
      ],
      "type": "structure"
    },
    "GetNetworkResourceResponse": {
      "members": {
        "networkResource": {
          "documentation": "<p>Information about the network resource.</p>",
          "shape": "NetworkResource"
        },
        "tags": {
          "documentation": "<p> The network resource tags. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "networkResource"
      ],
      "type": "structure"
    },
    "GetNetworkResponse": {
      "members": {
        "network": {
          "documentation": "<p>Information about the network.</p>",
          "shape": "Network"
        },
        "tags": {
          "documentation": "<p> The network tags. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "network"
      ],
      "type": "structure"
    },
    "GetNetworkSiteRequest": {
      "members": {
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "location": "uri",
          "locationName": "networkSiteArn",
          "shape": "Arn"
        }
      },
      "required": [
        "networkSiteArn"
      ],
      "type": "structure"
    },
    "GetNetworkSiteResponse": {
      "members": {
        "networkSite": {
          "documentation": "<p>Information about the network site.</p>",
          "shape": "NetworkSite"
        },
        "tags": {
          "documentation": "<p> The network site tags. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GetOrderRequest": {
      "members": {
        "orderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the order.</p>",
          "location": "uri",
          "locationName": "orderArn",
          "shape": "Arn"
        }
      },
      "required": [
        "orderArn"
      ],
      "type": "structure"
    },
    "GetOrderResponse": {
      "members": {
        "order": {
          "documentation": "<p>Information about the order.</p>",
          "shape": "Order"
        },
        "tags": {
          "documentation": "<p> The order tags. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "order"
      ],
      "type": "structure"
    },
    "HealthStatus": {
      "enum": [
        "INITIAL",
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Information about an internal error.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error.</p>",
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>Advice to clients on when the call can be safely retried.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>The limit was exceeded.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ListDeviceIdentifiersRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p> <ul> <li> <p> <code>ORDER</code> - The Amazon Resource Name (ARN) of the order.</p> </li> <li> <p> <code>STATUS</code> - The status (<code>ACTIVE</code> | <code>INACTIVE</code>).</p> </li> <li> <p> <code>TRAFFIC_GROUP</code> - The Amazon Resource Name (ARN) of the traffic group.</p> </li> </ul> <p>Filter values are case sensitive. If you specify multiple values for a filter, the values are joined with an <code>OR</code>, and the request returns all results that match any of the specified values.</p>",
          "shape": "DeviceIdentifierFilters"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "ListDeviceIdentifiersRequestMaxResultsInteger"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "startToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "ListDeviceIdentifiersRequestMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListDeviceIdentifiersResponse": {
      "members": {
        "deviceIdentifiers": {
          "documentation": "<p>Information about the device identifiers.</p>",
          "shape": "DeviceIdentifierList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListNetworkResourcesRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p> <ul> <li> <p> <code>ORDER</code> - The Amazon Resource Name (ARN) of the order.</p> </li> <li> <p> <code>STATUS</code> - The status (<code>AVAILABLE</code> | <code>DELETED</code> | <code>DELETING</code> | <code>PENDING</code> | <code>PENDING_RETURN</code> | <code>PROVISIONING</code> | <code>SHIPPED</code>).</p> </li> </ul> <p>Filter values are case sensitive. If you specify multiple values for a filter, the values are joined with an <code>OR</code>, and the request returns all results that match any of the specified values.</p>",
          "shape": "NetworkResourceFilters"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "ListNetworkResourcesRequestMaxResultsInteger"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "startToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "ListNetworkResourcesRequestMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListNetworkResourcesResponse": {
      "members": {
        "networkResources": {
          "documentation": "<p>Information about network resources.</p>",
          "shape": "NetworkResourceList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListNetworkSitesRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters. Add filters to your request to return a more specific list of results. Use filters to match the status of the network sites.</p> <ul> <li> <p> <code>STATUS</code> - The status (<code>AVAILABLE</code> | <code>CREATED</code> | <code>DELETED</code> | <code>DEPROVISIONING</code> | <code>PROVISIONING</code>).</p> </li> </ul> <p>Filter values are case sensitive. If you specify multiple values for a filter, the values are joined with an <code>OR</code>, and the request returns all results that match any of the specified values.</p>",
          "shape": "NetworkSiteFilters"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "ListNetworkSitesRequestMaxResultsInteger"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "startToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "ListNetworkSitesRequestMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListNetworkSitesResponse": {
      "members": {
        "networkSites": {
          "documentation": "<p>Information about the network sites.</p>",
          "shape": "NetworkSiteList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListNetworksRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p> <ul> <li> <p> <code>STATUS</code> - The status (<code>AVAILABLE</code> | <code>CREATED</code> | <code>DELETED</code> | <code>DEPROVISIONING</code> | <code>PROVISIONING</code>).</p> </li> </ul> <p>Filter values are case sensitive. If you specify multiple values for a filter, the values are joined with an <code>OR</code>, and the request returns all results that match any of the specified values.</p>",
          "shape": "NetworkFilters"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "ListNetworksRequestMaxResultsInteger"
        },
        "startToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListNetworksRequestMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListNetworksResponse": {
      "members": {
        "networks": {
          "documentation": "<p>The networks.</p>",
          "shape": "NetworkList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListOrdersRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p> <ul> <li> <p> <code>NETWORK_SITE</code> - The Amazon Resource Name (ARN) of the network site.</p> </li> <li> <p> <code>STATUS</code> - The status (<code>ACKNOWLEDGING</code> | <code>ACKNOWLEDGED</code> | <code>UNACKNOWLEDGED</code>).</p> </li> </ul> <p>Filter values are case sensitive. If you specify multiple values for a filter, the values are joined with an <code>OR</code>, and the request returns all results that match any of the specified values.</p>",
          "shape": "OrderFilters"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "ListOrdersRequestMaxResultsInteger"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "startToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "networkArn"
      ],
      "type": "structure"
    },
    "ListOrdersRequestMaxResultsInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListOrdersResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "orders": {
          "documentation": "<p>Information about the orders.</p>",
          "shape": "OrderList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The resource tags.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "Name": {
      "max": 64,
      "min": 1,
      "pattern": "^[0-9a-zA-Z-]*$",
      "type": "string"
    },
    "NameValuePair": {
      "documentation": "<p>Information about a name/value pair.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the pair.</p>",
          "shape": "String"
        },
        "value": {
          "documentation": "<p>The value of the pair.</p>",
          "shape": "String"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "NameValuePairs": {
      "member": {
        "shape": "NameValuePair"
      },
      "type": "list"
    },
    "Network": {
      "documentation": "<p>Information about a network.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The creation time of the network.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the network.</p>",
          "shape": "Description"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
          "shape": "Arn"
        },
        "networkName": {
          "documentation": "<p>The name of the network.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the network.</p>",
          "shape": "NetworkStatus"
        },
        "statusReason": {
          "documentation": "<p>The status reason of the network.</p>",
          "shape": "String"
        }
      },
      "required": [
        "networkArn",
        "networkName",
        "status"
      ],
      "type": "structure"
    },
    "NetworkFilterKeys": {
      "enum": [
        "STATUS"
      ],
      "type": "string"
    },
    "NetworkFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "NetworkFilters": {
      "key": {
        "shape": "NetworkFilterKeys"
      },
      "type": "map",
      "value": {
        "shape": "NetworkFilterValues"
      }
    },
    "NetworkList": {
      "member": {
        "shape": "Network"
      },
      "type": "list"
    },
    "NetworkResource": {
      "documentation": "<p>Information about a network resource.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The attributes of the network resource.</p>",
          "shape": "NameValuePairs"
        },
        "createdAt": {
          "documentation": "<p>The creation time of the network resource.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the network resource.</p>",
          "shape": "Description"
        },
        "health": {
          "documentation": "<p>The health of the network resource.</p>",
          "shape": "HealthStatus"
        },
        "model": {
          "documentation": "<p>The model of the network resource.</p>",
          "shape": "String"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network on which this network resource appears.</p>",
          "shape": "Arn"
        },
        "networkResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>",
          "shape": "Arn"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site on which this network resource appears.</p>",
          "shape": "Arn"
        },
        "orderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the order used to purchase this network resource.</p>",
          "shape": "Arn"
        },
        "position": {
          "documentation": "<p>The position of the network resource.</p>",
          "shape": "Position"
        },
        "serialNumber": {
          "documentation": "<p>The serial number of the network resource.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status of the network resource.</p>",
          "shape": "NetworkResourceStatus"
        },
        "statusReason": {
          "documentation": "<p>The status reason of the network resource.</p>",
          "shape": "String"
        },
        "type": {
          "documentation": "<p>The type of the network resource.</p>",
          "shape": "NetworkResourceType"
        },
        "vendor": {
          "documentation": "<p>The vendor of the network resource.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "NetworkResourceDefinition": {
      "documentation": "<p>Information about a network resource definition.</p>",
      "members": {
        "count": {
          "documentation": "<p>The count in the network resource definition.</p>",
          "shape": "NetworkResourceDefinitionCountInteger"
        },
        "options": {
          "documentation": "<p>The options in the network resource definition.</p>",
          "shape": "Options"
        },
        "type": {
          "documentation": "<p>The type in the network resource definition.</p>",
          "shape": "NetworkResourceDefinitionType"
        }
      },
      "required": [
        "count",
        "type"
      ],
      "type": "structure"
    },
    "NetworkResourceDefinitionCountInteger": {
      "box": true,
      "min": 0,
      "type": "integer"
    },
    "NetworkResourceDefinitionType": {
      "enum": [
        "RADIO_UNIT",
        "DEVICE_IDENTIFIER"
      ],
      "type": "string"
    },
    "NetworkResourceDefinitions": {
      "member": {
        "shape": "NetworkResourceDefinition"
      },
      "type": "list"
    },
    "NetworkResourceFilterKeys": {
      "enum": [
        "ORDER",
        "STATUS"
      ],
      "type": "string"
    },
    "NetworkResourceFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "NetworkResourceFilters": {
      "key": {
        "shape": "NetworkResourceFilterKeys"
      },
      "type": "map",
      "value": {
        "shape": "NetworkResourceFilterValues"
      }
    },
    "NetworkResourceList": {
      "member": {
        "shape": "NetworkResource"
      },
      "type": "list"
    },
    "NetworkResourceStatus": {
      "enum": [
        "PENDING",
        "SHIPPED",
        "PROVISIONING",
        "PROVISIONED",
        "AVAILABLE",
        "DELETING",
        "PENDING_RETURN",
        "DELETED"
      ],
      "type": "string"
    },
    "NetworkResourceType": {
      "enum": [
        "RADIO_UNIT"
      ],
      "type": "string"
    },
    "NetworkSite": {
      "documentation": "<p>Information about a network site.</p>",
      "members": {
        "availabilityZone": {
          "documentation": "<p> The parent Availability Zone for the network site. </p>",
          "shape": "String"
        },
        "availabilityZoneId": {
          "documentation": "<p> The parent Availability Zone ID for the network site. </p>",
          "shape": "String"
        },
        "createdAt": {
          "documentation": "<p>The creation time of the network site.</p>",
          "shape": "Timestamp"
        },
        "currentPlan": {
          "documentation": "<p>The current plan of the network site.</p>",
          "shape": "SitePlan"
        },
        "description": {
          "documentation": "<p>The description of the network site.</p>",
          "shape": "Description"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network to which the network site belongs.</p>",
          "shape": "Arn"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "shape": "Arn"
        },
        "networkSiteName": {
          "documentation": "<p>The name of the network site.</p>",
          "shape": "Name"
        },
        "pendingPlan": {
          "documentation": "<p>The pending plan of the network site.</p>",
          "shape": "SitePlan"
        },
        "status": {
          "documentation": "<p>The status of the network site.</p>",
          "shape": "NetworkSiteStatus"
        },
        "statusReason": {
          "documentation": "<p>The status reason of the network site.</p>",
          "shape": "String"
        }
      },
      "required": [
        "networkArn",
        "networkSiteArn",
        "networkSiteName",
        "status"
      ],
      "type": "structure"
    },
    "NetworkSiteFilterKeys": {
      "enum": [
        "STATUS"
      ],
      "type": "string"
    },
    "NetworkSiteFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "NetworkSiteFilters": {
      "key": {
        "shape": "NetworkSiteFilterKeys"
      },
      "type": "map",
      "value": {
        "shape": "NetworkSiteFilterValues"
      }
    },
    "NetworkSiteList": {
      "member": {
        "shape": "NetworkSite"
      },
      "type": "list"
    },
    "NetworkSiteStatus": {
      "enum": [
        "CREATED",
        "PROVISIONING",
        "AVAILABLE",
        "DEPROVISIONING",
        "DELETED"
      ],
      "type": "string"
    },
    "NetworkStatus": {
      "enum": [
        "CREATED",
        "PROVISIONING",
        "AVAILABLE",
        "DEPROVISIONING",
        "DELETED"
      ],
      "type": "string"
    },
    "Options": {
      "member": {
        "shape": "NameValuePair"
      },
      "type": "list"
    },
    "Order": {
      "documentation": "<p>Information about an order.</p>",
      "members": {
        "acknowledgmentStatus": {
          "documentation": "<p>The acknowledgement status of the order.</p>",
          "shape": "AcknowledgmentStatus"
        },
        "createdAt": {
          "documentation": "<p>The creation time of the order.</p>",
          "shape": "Timestamp"
        },
        "networkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network associated with this order.</p>",
          "shape": "Arn"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site associated with this order.</p>",
          "shape": "Arn"
        },
        "orderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the order.</p>",
          "shape": "Arn"
        },
        "shippingAddress": {
          "documentation": "<p>The shipping address of the order.</p>",
          "shape": "Address"
        },
        "trackingInformation": {
          "documentation": "<p>The tracking information of the order.</p>",
          "shape": "TrackingInformationList"
        }
      },
      "type": "structure"
    },
    "OrderFilterKeys": {
      "enum": [
        "STATUS",
        "NETWORK_SITE"
      ],
      "type": "string"
    },
    "OrderFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "OrderFilters": {
      "key": {
        "shape": "OrderFilterKeys"
      },
      "type": "map",
      "value": {
        "shape": "OrderFilterValues"
      }
    },
    "OrderList": {
      "member": {
        "shape": "Order"
      },
      "type": "list"
    },
    "PaginationToken": {
      "type": "string"
    },
    "PingResponse": {
      "members": {
        "status": {
          "documentation": "<p>Information about the health of the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Position": {
      "documentation": "<p>Information about a position.</p>",
      "members": {
        "elevation": {
          "documentation": "<p>The elevation of the equipment at this position.</p>",
          "shape": "Double"
        },
        "elevationReference": {
          "documentation": "<p>The reference point from which elevation is reported.</p>",
          "shape": "ElevationReference"
        },
        "elevationUnit": {
          "documentation": "<p>The units used to measure the elevation of the position.</p>",
          "shape": "ElevationUnit"
        },
        "latitude": {
          "documentation": "<p>The latitude of the position.</p>",
          "shape": "Double"
        },
        "longitude": {
          "documentation": "<p>The longitude of the position.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource was not found.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error.</p>",
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>Identifier of the affected resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>Type of the affected resource.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "SitePlan": {
      "documentation": "<p>Information about a site plan.</p>",
      "members": {
        "options": {
          "documentation": "<p>The options of the plan.</p>",
          "shape": "Options"
        },
        "resourceDefinitions": {
          "documentation": "<p>The resource definitions of the plan.</p>",
          "shape": "NetworkResourceDefinitions"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[^\\x00-\\x1f\\x22]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "sensitive": true,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the resource. </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>The tags to add to the resource.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^[^\\x00-\\x1f\\x22]*$",
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p> The request was denied due to request throttling. </p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "retryable": {
        "throttling": true
      },
      "type": "structure"
    },
    "Timestamp": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "TrackingInformation": {
      "documentation": "<p>Information about tracking a shipment.</p>",
      "members": {
        "trackingNumber": {
          "documentation": "<p>The tracking number of the shipment.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TrackingInformationList": {
      "member": {
        "shape": "TrackingInformation"
      },
      "type": "list"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "Arn"
        },
        "tagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateNetworkSitePlanRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "shape": "Arn"
        },
        "pendingPlan": {
          "documentation": "<p>The pending plan.</p>",
          "shape": "SitePlan"
        }
      },
      "required": [
        "networkSiteArn",
        "pendingPlan"
      ],
      "type": "structure"
    },
    "UpdateNetworkSiteRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure idempotency</a>.</p>",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "Description"
        },
        "networkSiteArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "networkSiteArn"
      ],
      "type": "structure"
    },
    "UpdateNetworkSiteResponse": {
      "members": {
        "networkSite": {
          "documentation": "<p>Information about the network site.</p>",
          "shape": "NetworkSite"
        },
        "tags": {
          "documentation": "<p> The network site tags. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The request failed validation.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "fieldList": {
          "documentation": "<p>The list of fields that caused the error, if applicable.</p>",
          "shape": "ValidationExceptionFieldList"
        },
        "message": {
          "documentation": "<p>Description of the error.</p>",
          "shape": "String"
        },
        "reason": {
          "documentation": "<p>Reason the request failed validation.</p>",
          "shape": "ValidationExceptionReason"
        }
      },
      "required": [
        "message",
        "reason"
      ],
      "type": "structure"
    },
    "ValidationExceptionField": {
      "documentation": "<p>Information about a field that failed validation.</p>",
      "members": {
        "message": {
          "documentation": "<p>The message about the validation failure.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The field name that failed validation.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "name"
      ],
      "type": "structure"
    },
    "ValidationExceptionFieldList": {
      "member": {
        "shape": "ValidationExceptionField"
      },
      "type": "list"
    },
    "ValidationExceptionReason": {
      "enum": [
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "CANNOT_ASSUME_ROLE",
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ],
      "type": "string"
    }
  },
  "version": "2.0"
}
