{
  "documentation": "<p>Detective uses machine learning and purpose-built visualizations to help you to analyze and investigate security issues across your Amazon Web Services (Amazon Web Services) workloads. Detective automatically extracts time-based events such as login attempts, API calls, and network traffic from CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by Amazon GuardDuty.</p> <p>The Detective API primarily supports the creation and management of behavior graphs. A behavior graph contains the extracted data from a set of member accounts, and is created and managed by an administrator account.</p> <p>To add a member account to the behavior graph, the administrator account sends an invitation to the account. When the account accepts the invitation, it becomes a member account in the behavior graph.</p> <p>Detective is also integrated with Organizations. The organization management account designates the Detective administrator account for the organization. That account becomes the administrator account for the organization behavior graph. The Detective administrator account is also the delegated administrator account for Detective in Organizations.</p> <p>The Detective administrator account can enable any organization account as a member account in the organization behavior graph. The organization accounts do not receive invitations. The Detective administrator account can also invite other accounts to the organization behavior graph.</p> <p>Every behavior graph is specific to a Region. You can only use the API to manage behavior graphs that belong to the Region that is associated with the currently selected endpoint.</p> <p>The administrator account for a behavior graph can use the Detective API to do the following:</p> <ul> <li> <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p> </li> <li> <p>View the list of member accounts in a behavior graph.</p> </li> <li> <p>Add member accounts to a behavior graph.</p> </li> <li> <p>Remove member accounts from a behavior graph.</p> </li> <li> <p>Apply tags to a behavior graph.</p> </li> </ul> <p>The organization management account can use the Detective API to select the delegated administrator for Detective.</p> <p>The Detective administrator account for an organization can use the Detective API to do the following:</p> <ul> <li> <p>Perform all of the functions of an administrator account.</p> </li> <li> <p>Determine whether to automatically enable new organization accounts as member accounts in the organization behavior graph.</p> </li> </ul> <p>An invited member account can use the Detective API to do the following:</p> <ul> <li> <p>View the list of behavior graphs that they are invited to.</p> </li> <li> <p>Accept an invitation to contribute to a behavior graph.</p> </li> <li> <p>Decline an invitation to contribute to a behavior graph.</p> </li> <li> <p>Remove their account from a behavior graph.</p> </li> </ul> <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p> <note> <p>We replaced the term \"master account\" with the term \"administrator account.\" An administrator account is used to centrally manage multiple accounts. In the case of Detective, the administrator account manages the accounts in their behavior graph.</p> </note>",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "api.detective",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Detective",
    "serviceId": "Detective",
    "signatureVersion": "v4",
    "signingName": "detective",
    "uid": "detective-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "documentation": "<p>Accepts an invitation for the member account to contribute data to a behavior graph. This operation can only be called by an invited member account. </p> <p>The request provides the ARN of behavior graph.</p> <p>The member account status in the graph must be <code>INVITED</code>.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/invitation"
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation"
    },
    "BatchGetGraphMemberDatasources": {
      "documentation": "<p>Gets data source package information for the behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/datasources/get"
      },
      "input": {
        "shape": "BatchGetGraphMemberDatasourcesRequest"
      },
      "name": "BatchGetGraphMemberDatasources",
      "output": {
        "shape": "BatchGetGraphMemberDatasourcesResponse"
      }
    },
    "BatchGetMembershipDatasources": {
      "documentation": "<p>Gets information on the data source package history for an account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/membership/datasources/get"
      },
      "input": {
        "shape": "BatchGetMembershipDatasourcesRequest"
      },
      "name": "BatchGetMembershipDatasources",
      "output": {
        "shape": "BatchGetMembershipDatasourcesResponse"
      }
    },
    "CreateGraph": {
      "documentation": "<p>Creates a new behavior graph for the calling account, and sets that account as the administrator account. This operation is called by the account that is enabling Detective.</p> <p>Before you try to enable Detective, make sure that your account has been enrolled in Amazon GuardDuty for at least 48 hours. If you do not meet this requirement, you cannot enable Detective. If you do meet the GuardDuty prerequisite, then when you make the request to enable Detective, it checks whether your data volume is within the Detective quota. If it exceeds the quota, then you cannot enable Detective. </p> <p>The operation also enables Detective for the calling account in the currently selected Region. It returns the ARN of the new behavior graph.</p> <p> <code>CreateGraph</code> triggers a process to create the corresponding data tables for the new behavior graph.</p> <p>An account can only be the administrator account for one behavior graph within a Region. If the same account calls <code>CreateGraph</code> with the same administrator account, it always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph"
      },
      "input": {
        "shape": "CreateGraphRequest"
      },
      "name": "CreateGraph",
      "output": {
        "shape": "CreateGraphResponse"
      }
    },
    "CreateMembers": {
      "documentation": "<p> <code>CreateMembers</code> is used to send invitations to accounts. For the organization behavior graph, the Detective administrator account uses <code>CreateMembers</code> to enable organization accounts as member accounts.</p> <p>For invited accounts, <code>CreateMembers</code> sends a request to invite the specified Amazon Web Services accounts to be member accounts in the behavior graph. This operation can only be called by the administrator account for a behavior graph. </p> <p> <code>CreateMembers</code> verifies the accounts and then invites the verified accounts. The administrator can optionally specify to not send invitation emails to the member accounts. This would be used when the administrator manages their member accounts centrally.</p> <p>For organization accounts in the organization behavior graph, <code>CreateMembers</code> attempts to enable the accounts. The organization accounts do not receive invitations.</p> <p>The request provides the behavior graph ARN and the list of accounts to invite or to enable.</p> <p>The response separates the requested accounts into two lists:</p> <ul> <li> <p>The accounts that <code>CreateMembers</code> was able to process. For invited accounts, includes member accounts that are being verified, that have passed verification and are to be invited, and that have failed verification. For organization accounts in the organization behavior graph, includes accounts that can be enabled and that cannot be enabled.</p> </li> <li> <p>The accounts that <code>CreateMembers</code> was unable to process. This list includes accounts that were already invited to be member accounts in the behavior graph.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members"
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "name": "CreateMembers",
      "output": {
        "shape": "CreateMembersResponse"
      }
    },
    "DeleteGraph": {
      "documentation": "<p>Disables the specified behavior graph and queues it to be deleted. This operation removes the behavior graph from each member account's list of behavior graphs.</p> <p> <code>DeleteGraph</code> can only be called by the administrator account for a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/removal"
      },
      "input": {
        "shape": "DeleteGraphRequest"
      },
      "name": "DeleteGraph"
    },
    "DeleteMembers": {
      "documentation": "<p>Removes the specified member accounts from the behavior graph. The removed accounts no longer contribute data to the behavior graph. This operation can only be called by the administrator account for the behavior graph.</p> <p>For invited accounts, the removed accounts are deleted from the list of accounts in the behavior graph. To restore the account, the administrator account must send another invitation.</p> <p>For organization accounts in the organization behavior graph, the Detective administrator account can always enable the organization account again. Organization accounts that are not enabled as member accounts are not included in the <code>ListMembers</code> results for the organization behavior graph.</p> <p>An administrator account cannot use <code>DeleteMembers</code> to remove their own account from the behavior graph. To disable a behavior graph, the administrator account uses the <code>DeleteGraph</code> API method.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/removal"
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "name": "DeleteMembers",
      "output": {
        "shape": "DeleteMembersResponse"
      }
    },
    "DescribeOrganizationConfiguration": {
      "documentation": "<p>Returns information about the configuration for the organization behavior graph. Currently indicates whether to automatically enable new organization accounts as member accounts.</p> <p>Can only be called by the Detective administrator account for the organization. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/orgs/describeOrganizationConfiguration"
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "name": "DescribeOrganizationConfiguration",
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse"
      }
    },
    "DisableOrganizationAdminAccount": {
      "documentation": "<p>Removes the Detective administrator account in the current Region. Deletes the organization behavior graph.</p> <p>Can only be called by the organization management account.</p> <p>Removing the Detective administrator account does not affect the delegated administrator account for Detective in Organizations.</p> <p>To remove the delegated administrator account in Organizations, use the Organizations API. Removing the delegated administrator account also removes the Detective administrator account in all Regions, except for Regions where the Detective administrator account is the organization management account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/orgs/disableAdminAccount"
      },
      "name": "DisableOrganizationAdminAccount"
    },
    "DisassociateMembership": {
      "documentation": "<p>Removes the member account from the specified behavior graph. This operation can only be called by an invited member account that has the <code>ENABLED</code> status.</p> <p> <code>DisassociateMembership</code> cannot be called by an organization account in the organization behavior graph. For the organization behavior graph, the Detective administrator account determines which organization accounts to enable or disable as member accounts.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/membership/removal"
      },
      "input": {
        "shape": "DisassociateMembershipRequest"
      },
      "name": "DisassociateMembership"
    },
    "EnableOrganizationAdminAccount": {
      "documentation": "<p>Designates the Detective administrator account for the organization in the current Region.</p> <p>If the account does not have Detective enabled, then enables Detective for that account and creates a new behavior graph.</p> <p>Can only be called by the organization management account.</p> <p>If the organization has a delegated administrator account in Organizations, then the Detective administrator account must be either the delegated administrator account or the organization management account.</p> <p>If the organization does not have a delegated administrator account in Organizations, then you can choose any account in the organization. If you choose an account other than the organization management account, Detective calls Organizations to make that account the delegated administrator account for Detective. The organization management account cannot be the delegated administrator account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/orgs/enableAdminAccount"
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "name": "EnableOrganizationAdminAccount"
    },
    "GetMembers": {
      "documentation": "<p>Returns the membership details for specified member accounts for a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/get"
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "name": "GetMembers",
      "output": {
        "shape": "GetMembersResponse"
      }
    },
    "ListDatasourcePackages": {
      "documentation": "<p>Lists data source packages in the behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/datasources/list"
      },
      "input": {
        "shape": "ListDatasourcePackagesRequest"
      },
      "name": "ListDatasourcePackages",
      "output": {
        "shape": "ListDatasourcePackagesResponse"
      }
    },
    "ListGraphs": {
      "documentation": "<p>Returns the list of behavior graphs that the calling account is an administrator account of. This operation can only be called by an administrator account.</p> <p>Because an account can currently only be the administrator of one behavior graph within a Region, the results always contain a single behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graphs/list"
      },
      "input": {
        "shape": "ListGraphsRequest"
      },
      "name": "ListGraphs",
      "output": {
        "shape": "ListGraphsResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Retrieves the list of open and accepted behavior graph invitations for the member account. This operation can only be called by an invited member account.</p> <p>Open invitations are invitations that the member account has not responded to.</p> <p>The results do not include behavior graphs for which the member account declined the invitation. The results also do not include behavior graphs that the member account resigned from or was removed from.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/list"
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "shape": "ListInvitationsResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Retrieves the list of member accounts for a behavior graph.</p> <p>For invited accounts, the results do not include member accounts that were removed from the behavior graph.</p> <p>For the organization behavior graph, the results do not include organization accounts that the Detective administrator account has not enabled as member accounts.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/list"
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersResponse"
      }
    },
    "ListOrganizationAdminAccounts": {
      "documentation": "<p>Returns information about the Detective administrator account for an organization. Can only be called by the organization management account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/orgs/adminAccountslist"
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "name": "ListOrganizationAdminAccounts",
      "output": {
        "shape": "ListOrganizationAdminAccountsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns the tag values that are assigned to a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RejectInvitation": {
      "documentation": "<p>Rejects an invitation to contribute the account data to a behavior graph. This operation must be called by an invited member account that has the <code>INVITED</code> status.</p> <p> <code>RejectInvitation</code> cannot be called by an organization account in the organization behavior graph. In the organization behavior graph, organization accounts do not receive an invitation.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitation/removal"
      },
      "input": {
        "shape": "RejectInvitationRequest"
      },
      "name": "RejectInvitation"
    },
    "StartMonitoringMember": {
      "documentation": "<p>Sends a request to enable data ingest for a member account that has a status of <code>ACCEPTED_BUT_DISABLED</code>.</p> <p>For valid member accounts, the status is updated as follows.</p> <ul> <li> <p>If Detective enabled the member account, then the new status is <code>ENABLED</code>.</p> </li> <li> <p>If Detective cannot enable the member account, the status remains <code>ACCEPTED_BUT_DISABLED</code>. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/member/monitoringstate"
      },
      "input": {
        "shape": "StartMonitoringMemberRequest"
      },
      "name": "StartMonitoringMember"
    },
    "TagResource": {
      "documentation": "<p>Applies tag values to a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDatasourcePackages": {
      "documentation": "<p>Starts a data source packages for the behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/datasources/update"
      },
      "input": {
        "shape": "UpdateDatasourcePackagesRequest"
      },
      "name": "UpdateDatasourcePackages"
    },
    "UpdateOrganizationConfiguration": {
      "documentation": "<p>Updates the configuration for the Organizations integration in the current Region. Can only be called by the Detective administrator account for the organization.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/orgs/updateOrganizationConfiguration"
      },
      "input": {
        "shape": "UpdateOrganizationConfigurationRequest"
      },
      "name": "UpdateOrganizationConfiguration"
    }
  },
  "shapes": {
    "AcceptInvitationRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "Account": {
      "documentation": "<p>An Amazon Web Services account that is the administrator account of or a member of a behavior graph.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account identifier of the Amazon Web Services account.</p>",
          "shape": "AccountId"
        },
        "EmailAddress": {
          "documentation": "<p>The Amazon Web Services account root user email address for the Amazon Web Services account.</p>",
          "shape": "EmailAddress"
        }
      },
      "required": [
        "AccountId",
        "EmailAddress"
      ],
      "type": "structure"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "AccountIdExtendedList": {
      "max": 200,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountIdList": {
      "max": 50,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountList": {
      "max": 50,
      "member": {
        "shape": "Account"
      },
      "min": 1,
      "type": "list"
    },
    "Administrator": {
      "documentation": "<p>Information about the Detective administrator account for an organization.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The Amazon Web Services account identifier of the Detective administrator account for the organization.</p>",
          "shape": "AccountId"
        },
        "DelegationTime": {
          "documentation": "<p>The date and time when the Detective administrator account was enabled. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the organization behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "type": "structure"
    },
    "AdministratorList": {
      "member": {
        "shape": "Administrator"
      },
      "type": "list"
    },
    "BatchGetGraphMemberDatasourcesRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of Amazon Web Services accounts to get data source package information on.</p>",
          "shape": "AccountIdExtendedList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "BatchGetGraphMemberDatasourcesResponse": {
      "members": {
        "MemberDatasources": {
          "documentation": "<p>Details on the status of data source packages for members of the behavior graph.</p>",
          "shape": "MembershipDatasourcesList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>Accounts that data source package information could not be retrieved for.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "BatchGetMembershipDatasourcesRequest": {
      "members": {
        "GraphArns": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArnList"
        }
      },
      "required": [
        "GraphArns"
      ],
      "type": "structure"
    },
    "BatchGetMembershipDatasourcesResponse": {
      "members": {
        "MembershipDatasources": {
          "documentation": "<p>Details on the data source package history for an member of the behavior graph.</p>",
          "shape": "MembershipDatasourcesList"
        },
        "UnprocessedGraphs": {
          "documentation": "<p>Graphs that data source package information could not be retrieved for.</p>",
          "shape": "UnprocessedGraphList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ByteValue": {
      "type": "long"
    },
    "ConflictException": {
      "documentation": "<p>The request attempted an invalid action.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateGraphRequest": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags to assign to the new behavior graph. You can add up to 50 tags. For each tag, you provide the tag key and the tag value. Each tag key can contain up to 128 characters. Each tag value can contain up to 256 characters.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateGraphResponse": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the new behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "type": "structure"
    },
    "CreateMembersRequest": {
      "members": {
        "Accounts": {
          "documentation": "<p>The list of Amazon Web Services accounts to invite or to enable. You can invite or enable up to 50 accounts at a time. For each invited account, the account list contains the account identifier and the Amazon Web Services account root user email address. For organization accounts in the organization behavior graph, the email address is not required.</p>",
          "shape": "AccountList"
        },
        "DisableEmailNotification": {
          "documentation": "<p>if set to <code>true</code>, then the invited accounts do not receive email notifications. By default, this is set to <code>false</code>, and the invited accounts receive email notifications.</p> <p>Organization accounts in the organization behavior graph do not receive email notifications.</p>",
          "shape": "Boolean"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        },
        "Message": {
          "documentation": "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
          "shape": "EmailMessage"
        }
      },
      "required": [
        "GraphArn",
        "Accounts"
      ],
      "type": "structure"
    },
    "CreateMembersResponse": {
      "members": {
        "Members": {
          "documentation": "<p>The set of member account invitation or enablement requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation or are being enabled.</p>",
          "shape": "MemberDetailList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The list of accounts for which Detective was unable to process the invitation or enablement request. For each account, the list provides the reason why the request could not be processed. The list includes accounts that are already member accounts in the behavior graph.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "DatasourcePackage": {
      "enum": [
        "DETECTIVE_CORE",
        "EKS_AUDIT"
      ],
      "type": "string"
    },
    "DatasourcePackageIngestDetail": {
      "documentation": "<p>Details about the data source packages ingested by your behavior graph.</p>",
      "members": {
        "DatasourcePackageIngestState": {
          "documentation": "<p>Details on which data source packages are ingested for a member account.</p>",
          "shape": "DatasourcePackageIngestState"
        },
        "LastIngestStateChange": {
          "documentation": "<p>The date a data source package was enabled for this account</p>",
          "shape": "LastIngestStateChangeDates"
        }
      },
      "type": "structure"
    },
    "DatasourcePackageIngestDetails": {
      "key": {
        "shape": "DatasourcePackage"
      },
      "type": "map",
      "value": {
        "shape": "DatasourcePackageIngestDetail"
      }
    },
    "DatasourcePackageIngestHistory": {
      "key": {
        "shape": "DatasourcePackage"
      },
      "type": "map",
      "value": {
        "shape": "LastIngestStateChangeDates"
      }
    },
    "DatasourcePackageIngestState": {
      "enum": [
        "STARTED",
        "STOPPED",
        "DISABLED"
      ],
      "type": "string"
    },
    "DatasourcePackageIngestStates": {
      "key": {
        "shape": "DatasourcePackage"
      },
      "type": "map",
      "value": {
        "shape": "DatasourcePackageIngestState"
      }
    },
    "DatasourcePackageList": {
      "max": 25,
      "member": {
        "shape": "DatasourcePackage"
      },
      "min": 1,
      "type": "list"
    },
    "DatasourcePackageUsageInfo": {
      "documentation": "<p>Information on the usage of a data source package in the behavior graph.</p>",
      "members": {
        "VolumeUsageInBytes": {
          "documentation": "<p>Total volume of data in bytes per day ingested for a given data source package.</p>",
          "shape": "ByteValue"
        },
        "VolumeUsageUpdateTime": {
          "documentation": "<p>The data and time when the member account data volume was last updated. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DeleteGraphRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to disable.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "DeleteMembersRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts to remove from the behavior graph. You can remove up to 50 member accounts at a time.</p>",
          "shape": "AccountIdList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to remove members from.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "DeleteMembersResponse": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts that Detective successfully removed from the behavior graph.</p>",
          "shape": "AccountIdList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The list of member accounts that Detective was not able to remove from the behavior graph. For each member account, provides the reason that the deletion could not be processed.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "DescribeOrganizationConfigurationRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the organization behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "DescribeOrganizationConfigurationResponse": {
      "members": {
        "AutoEnable": {
          "documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts in the organization behavior graph.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "DisassociateMembershipRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to remove the member account from.</p> <p>The member account's member status in the behavior graph must be <code>ENABLED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "EmailAddress": {
      "max": 64,
      "min": 1,
      "pattern": "^.+@.+$",
      "type": "string"
    },
    "EmailMessage": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "EnableOrganizationAdminAccountRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The Amazon Web Services account identifier of the account to designate as the Detective administrator account for the organization.</p>",
          "shape": "AccountId"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "ErrorCode": {
      "enum": [
        "INVALID_GRAPH_ARN",
        "INVALID_REQUEST_BODY",
        "INTERNAL_ERROR"
      ],
      "type": "string"
    },
    "ErrorCodeReason": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "GetMembersRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of Amazon Web Services account identifiers for the member account for which to return member details. You can request details for up to 50 member accounts at a time.</p> <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts that were removed from the behavior graph.</p>",
          "shape": "AccountIdList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "GetMembersResponse": {
      "members": {
        "MemberDetails": {
          "documentation": "<p>The member account details that Detective is returning in response to the request.</p>",
          "shape": "MemberDetailList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The requested member accounts for which Detective was unable to return member details.</p> <p>For each account, provides the reason why the request could not be processed.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "Graph": {
      "documentation": "<p>A behavior graph in Detective.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time that the behavior graph was created. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GraphArn": {
      "pattern": "^arn:aws[-\\w]{0,10}?:detective:[-\\w]{2,20}?:\\d{12}?:graph:[abcdef\\d]{32}?$",
      "type": "string"
    },
    "GraphArnList": {
      "max": 50,
      "member": {
        "shape": "GraphArn"
      },
      "min": 1,
      "type": "list"
    },
    "GraphList": {
      "member": {
        "shape": "Graph"
      },
      "type": "list"
    },
    "InternalServerException": {
      "documentation": "<p>The request was valid but failed because of a problem with the service.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvitationType": {
      "enum": [
        "INVITATION",
        "ORGANIZATION"
      ],
      "type": "string"
    },
    "LastIngestStateChangeDates": {
      "key": {
        "shape": "DatasourcePackageIngestState"
      },
      "type": "map",
      "value": {
        "shape": "TimestampForCollection"
      }
    },
    "ListDatasourcePackagesRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "ListDatasourcePackagesResponse": {
      "members": {
        "DatasourcePackages": {
          "documentation": "<p>Details on the data source packages active in the behavior graph.</p>",
          "shape": "DatasourcePackageIngestDetails"
        },
        "NextToken": {
          "documentation": "<p>For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGraphsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of graphs to return at a time. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGraphsResponse": {
      "members": {
        "GraphList": {
          "documentation": "<p>A list of behavior graphs that the account is an administrator account for.</p>",
          "shape": "GraphList"
        },
        "NextToken": {
          "documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListInvitationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of behavior graph invitations to return in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to retrieve the next page of results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListInvitationsResponse": {
      "members": {
        "Invitations": {
          "documentation": "<p>The list of behavior graphs for which the member account has open or accepted invitations.</p>",
          "shape": "MemberDetailList"
        },
        "NextToken": {
          "documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListMembersRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph for which to retrieve the list of member accounts.</p>",
          "shape": "GraphArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of member accounts to include in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to retrieve the next page of member account results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "ListMembersResponse": {
      "members": {
        "MemberDetails": {
          "documentation": "<p>The list of member accounts in the behavior graph.</p> <p>For invited accounts, the results include member accounts that did not pass verification and member accounts that have not yet accepted the invitation to the behavior graph. The results do not include member accounts that were removed from the behavior graph.</p> <p>For the organization behavior graph, the results do not include organization accounts that the Detective administrator account has not enabled as member accounts.</p>",
          "shape": "MemberDetailList"
        },
        "NextToken": {
          "documentation": "<p>If there are more member accounts remaining in the results, then use this pagination token to request the next page of member accounts.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListOrganizationAdminAccountsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListOrganizationAdminAccountsResponse": {
      "members": {
        "Administrators": {
          "documentation": "<p>The list of Detective administrator accounts.</p>",
          "shape": "AdministratorList"
        },
        "NextToken": {
          "documentation": "<p>If there are more accounts remaining in the results, then this is the pagination token to use to request the next page of accounts.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the behavior graph for which to retrieve the tag values.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "GraphArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tag values that are assigned to the behavior graph. The request returns up to 50 tag values.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "MemberDetail": {
      "documentation": "<p>Details about a member account in a behavior graph.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The Amazon Web Services account identifier for the member account.</p>",
          "shape": "AccountId"
        },
        "AdministratorId": {
          "documentation": "<p>The Amazon Web Services account identifier of the administrator account for the behavior graph.</p>",
          "shape": "AccountId"
        },
        "DatasourcePackageIngestStates": {
          "documentation": "<p>The state of a data source package for the behavior graph.</p>",
          "shape": "DatasourcePackageIngestStates"
        },
        "DisabledReason": {
          "documentation": "<p>For member accounts with a status of <code>ACCEPTED_BUT_DISABLED</code>, the reason that the member account is not enabled.</p> <p>The reason can have one of the following values:</p> <ul> <li> <p> <code>VOLUME_TOO_HIGH</code> - Indicates that adding the member account would cause the data volume for the behavior graph to be too high.</p> </li> <li> <p> <code>VOLUME_UNKNOWN</code> - Indicates that Detective is unable to verify the data volume for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty. </p> </li> </ul>",
          "shape": "MemberDisabledReason"
        },
        "EmailAddress": {
          "documentation": "<p>The Amazon Web Services account root user email address for the member account.</p>",
          "shape": "EmailAddress"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        },
        "InvitationType": {
          "documentation": "<p>The type of behavior graph membership.</p> <p>For an organization account in the organization behavior graph, the type is <code>ORGANIZATION</code>.</p> <p>For an account that was invited to a behavior graph, the type is <code>INVITATION</code>. </p>",
          "shape": "InvitationType"
        },
        "InvitedTime": {
          "documentation": "<p>For invited accounts, the date and time that Detective sent the invitation to the account. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        },
        "MasterId": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated. Use AdministratorId instead.",
          "documentation": "<p>The Amazon Web Services account identifier of the administrator account for the behavior graph.</p>",
          "shape": "AccountId"
        },
        "PercentOfGraphUtilization": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated. Use VolumeUsageByDatasourcePackage instead.",
          "documentation": "<p>The member account data volume as a percentage of the maximum allowed data volume. 0 indicates 0 percent, and 100 indicates 100 percent.</p> <p>Note that this is not the percentage of the behavior graph data volume.</p> <p>For example, the data volume for the behavior graph is 80 GB per day. The maximum data volume is 160 GB per day. If the data volume for the member account is 40 GB per day, then <code>PercentOfGraphUtilization</code> is 25. It represents 25% of the maximum allowed data volume. </p>",
          "shape": "Percentage"
        },
        "PercentOfGraphUtilizationUpdatedTime": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated. Use VolumeUsageByDatasourcePackage instead.",
          "documentation": "<p>The date and time when the graph utilization percentage was last updated. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The current membership status of the member account. The status can have one of the following values:</p> <ul> <li> <p> <code>INVITED</code> - For invited accounts only. Indicates that the member was sent an invitation but has not yet responded.</p> </li> <li> <p> <code>VERIFICATION_IN_PROGRESS</code> - For invited accounts only, indicates that Detective is verifying that the account identifier and email address provided for the member account match. If they do match, then Detective sends the invitation. If the email address and account identifier don't match, then the member cannot be added to the behavior graph.</p> <p>For organization accounts in the organization behavior graph, indicates that Detective is verifying that the account belongs to the organization.</p> </li> <li> <p> <code>VERIFICATION_FAILED</code> - For invited accounts only. Indicates that the account and email address provided for the member account do not match, and Detective did not send an invitation to the account.</p> </li> <li> <p> <code>ENABLED</code> - Indicates that the member account currently contributes data to the behavior graph. For invited accounts, the member account accepted the invitation. For organization accounts in the organization behavior graph, the Detective administrator account enabled the organization account as a member account.</p> </li> <li> <p> <code>ACCEPTED_BUT_DISABLED</code> - The account accepted the invitation, or was enabled by the Detective administrator account, but is prevented from contributing data to the behavior graph. <code>DisabledReason</code> provides the reason why the member account is not enabled.</p> </li> </ul> <p>Invited accounts that declined an invitation or that were removed from the behavior graph are not included. In the organization behavior graph, organization accounts that the Detective administrator account did not enable are not included.</p>",
          "shape": "MemberStatus"
        },
        "UpdatedTime": {
          "documentation": "<p>The date and time that the member account was last updated. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        },
        "VolumeUsageByDatasourcePackage": {
          "documentation": "<p>Details on the volume of usage for each data source package in a behavior graph.</p>",
          "shape": "VolumeUsageByDatasourcePackage"
        },
        "VolumeUsageInBytes": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated. Use VolumeUsageByDatasourcePackage instead.",
          "documentation": "<p>The data volume in bytes per day for the member account.</p>",
          "shape": "ByteValue"
        },
        "VolumeUsageUpdatedTime": {
          "deprecated": true,
          "deprecatedMessage": "This property is deprecated. Use VolumeUsageByDatasourcePackage instead.",
          "documentation": "<p>The data and time when the member account data volume was last updated. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "MemberDetailList": {
      "member": {
        "shape": "MemberDetail"
      },
      "type": "list"
    },
    "MemberDisabledReason": {
      "enum": [
        "VOLUME_TOO_HIGH",
        "VOLUME_UNKNOWN"
      ],
      "type": "string"
    },
    "MemberResultsLimit": {
      "box": true,
      "max": 200,
      "min": 1,
      "type": "integer"
    },
    "MemberStatus": {
      "enum": [
        "INVITED",
        "VERIFICATION_IN_PROGRESS",
        "VERIFICATION_FAILED",
        "ENABLED",
        "ACCEPTED_BUT_DISABLED"
      ],
      "type": "string"
    },
    "MembershipDatasources": {
      "documentation": "<p>Details on data source packages for members of the behavior graph.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account identifier of the Amazon Web Services account.</p>",
          "shape": "AccountId"
        },
        "DatasourcePackageIngestHistory": {
          "documentation": "<p>Details on when a data source package was added to a behavior graph.</p>",
          "shape": "DatasourcePackageIngestHistory"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the organization behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "type": "structure"
    },
    "MembershipDatasourcesList": {
      "member": {
        "shape": "MembershipDatasources"
      },
      "type": "list"
    },
    "PaginationToken": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "Percentage": {
      "type": "double"
    },
    "RejectInvitationRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to reject the invitation to.</p> <p>The member account's current member status in the behavior graph must be <code>INVITED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "Resource": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ResourceList": {
      "max": 50,
      "member": {
        "shape": "Resource"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The request refers to a nonexistent resource.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1200 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty.</p> </li> </ul>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Resources": {
          "documentation": "<p>The type of resource that has exceeded the service quota.</p>",
          "shape": "ResourceList"
        }
      },
      "type": "structure"
    },
    "StartMonitoringMemberRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID of the member account to try to enable.</p> <p>The account must be an invited member account with a status of <code>ACCEPTED_BUT_DISABLED</code>. </p>",
          "shape": "AccountId"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountId"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the behavior graph to assign the tags to.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "GraphArn"
        },
        "Tags": {
          "documentation": "<p>The tags to assign to the behavior graph. You can add up to 50 tags. For each tag, you provide the tag key and the tag value. Each tag key can contain up to 128 characters. Each tag value can contain up to 256 characters.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "type": "string"
    },
    "Timestamp": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "TimestampForCollection": {
      "documentation": "<p>Details on when data collection began for a source package.</p>",
      "members": {
        "Timestamp": {
          "documentation": "<p>The data and time when data collection began for a source package. The value is an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "TooManyRequestsException": {
      "documentation": "<p>The request cannot be completed because too many other requests are occurring at the same time.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UnprocessedAccount": {
      "documentation": "<p>A member account that was included in a request but for which the request could not be processed.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The Amazon Web Services account identifier of the member account that was not processed.</p>",
          "shape": "AccountId"
        },
        "Reason": {
          "documentation": "<p>The reason that the member account request could not be processed.</p>",
          "shape": "UnprocessedReason"
        }
      },
      "type": "structure"
    },
    "UnprocessedAccountList": {
      "member": {
        "shape": "UnprocessedAccount"
      },
      "type": "list"
    },
    "UnprocessedGraph": {
      "documentation": "<p>Behavior graphs that could not be processed in the request.</p>",
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the organization behavior graph.</p>",
          "shape": "GraphArn"
        },
        "Reason": {
          "documentation": "<p>The reason data source package information could not be processed for a behavior graph.</p>",
          "shape": "UnprocessedReason"
        }
      },
      "type": "structure"
    },
    "UnprocessedGraphList": {
      "member": {
        "shape": "UnprocessedGraph"
      },
      "type": "list"
    },
    "UnprocessedReason": {
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the behavior graph to remove the tags from.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "GraphArn"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys of the tags to remove from the behavior graph. You can remove up to 50 tags at a time.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateDatasourcePackagesRequest": {
      "members": {
        "DatasourcePackages": {
          "documentation": "<p>The data source package start for the behavior graph.</p>",
          "shape": "DatasourcePackageList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "DatasourcePackages"
      ],
      "type": "structure"
    },
    "UpdateOrganizationConfigurationRequest": {
      "members": {
        "AutoEnable": {
          "documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts in the organization behavior graph.</p>",
          "shape": "Boolean"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the organization behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The request parameters are invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code associated with the validation failure.</p>",
          "shape": "ErrorCode"
        },
        "ErrorCodeReason": {
          "documentation": "<p> An explanation of why validation failed.</p>",
          "shape": "ErrorCodeReason"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "VolumeUsageByDatasourcePackage": {
      "key": {
        "shape": "DatasourcePackage"
      },
      "type": "map",
      "value": {
        "shape": "DatasourcePackageUsageInfo"
      }
    }
  },
  "version": "2.0"
}
