{
  "documentation": "<p>Systems Manager Incident Manager is an incident management console designed to help users mitigate and recover from incidents affecting their Amazon Web Services-hosted applications. An incident is any unplanned interruption or reduction in quality of services. </p> <p>Incident Manager increases incident resolution by notifying responders of impact, highlighting relevant troubleshooting data, and providing collaboration tools to get services back up and running. To achieve the primary goal of reducing the time-to-resolution of critical incidents, Incident Manager automates response plans and enables responder team escalation. </p>",
  "metadata": {
    "apiVersion": "2021-05-03",
    "endpointPrefix": "ssm-contacts",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SSM Contacts",
    "serviceFullName": "AWS Systems Manager Incident Manager Contacts",
    "serviceId": "SSM Contacts",
    "signatureVersion": "v4",
    "signingName": "ssm-contacts",
    "targetPrefix": "SSMContacts",
    "uid": "ssm-contacts-2021-05-03"
  },
  "operations": {
    "AcceptPage": {
      "documentation": "<p>Used to acknowledge an engagement to a contact channel during an incident.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptPageRequest"
      },
      "name": "AcceptPage",
      "output": {
        "shape": "AcceptPageResult"
      }
    },
    "ActivateContactChannel": {
      "documentation": "<p>Activates a contact's contact channel. Incident Manager can't engage a contact until the contact channel has been activated.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ActivateContactChannelRequest"
      },
      "name": "ActivateContactChannel",
      "output": {
        "shape": "ActivateContactChannelResult"
      }
    },
    "CreateContact": {
      "documentation": "<p>Contacts are either the contacts that Incident Manager engages during an incident or the escalation plans that Incident Manager uses to engage contacts in phases during an incident. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DataEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContactRequest"
      },
      "name": "CreateContact",
      "output": {
        "shape": "CreateContactResult"
      }
    },
    "CreateContactChannel": {
      "documentation": "<p>A contact channel is the method that Incident Manager uses to engage your contact.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContactChannelRequest"
      },
      "name": "CreateContactChannel",
      "output": {
        "shape": "CreateContactChannelResult"
      }
    },
    "DeactivateContactChannel": {
      "documentation": "<p>To no longer receive Incident Manager engagements to a contact channel, you can deactivate the channel.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeactivateContactChannelRequest"
      },
      "name": "DeactivateContactChannel",
      "output": {
        "shape": "DeactivateContactChannelResult"
      }
    },
    "DeleteContact": {
      "documentation": "<p>To remove a contact from Incident Manager, you can delete the contact. Deleting a contact removes them from all escalation plans and related response plans. Deleting an escalation plan removes it from all related response plans. You will have to recreate the contact and its contact channels before you can use it again.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContactRequest"
      },
      "name": "DeleteContact",
      "output": {
        "shape": "DeleteContactResult"
      }
    },
    "DeleteContactChannel": {
      "documentation": "<p>To no longer receive engagements on a contact channel, you can delete the channel from a contact. Deleting the contact channel removes it from the contact's engagement plan. If you delete the only contact channel for a contact, you won't be able to engage that contact during an incident.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContactChannelRequest"
      },
      "name": "DeleteContactChannel",
      "output": {
        "shape": "DeleteContactChannelResult"
      }
    },
    "DescribeEngagement": {
      "documentation": "<p>Incident Manager uses engagements to engage contacts and escalation plans during an incident. Use this command to describe the engagement that occurred during an incident.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngagementRequest"
      },
      "name": "DescribeEngagement",
      "output": {
        "shape": "DescribeEngagementResult"
      }
    },
    "DescribePage": {
      "documentation": "<p>Lists details of the engagement to a contact channel.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePageRequest"
      },
      "name": "DescribePage",
      "output": {
        "shape": "DescribePageResult"
      }
    },
    "GetContact": {
      "documentation": "<p>Retrieves information about the specified contact or escalation plan.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DataEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactRequest"
      },
      "name": "GetContact",
      "output": {
        "shape": "GetContactResult"
      }
    },
    "GetContactChannel": {
      "documentation": "<p>List details about a specific contact channel.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactChannelRequest"
      },
      "name": "GetContactChannel",
      "output": {
        "shape": "GetContactChannelResult"
      }
    },
    "GetContactPolicy": {
      "documentation": "<p>Retrieves the resource policies attached to the specified contact or escalation plan.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactPolicyRequest"
      },
      "name": "GetContactPolicy",
      "output": {
        "shape": "GetContactPolicyResult"
      }
    },
    "ListContactChannels": {
      "documentation": "<p>Lists all contact channels for the specified contact.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListContactChannelsRequest"
      },
      "name": "ListContactChannels",
      "output": {
        "shape": "ListContactChannelsResult"
      }
    },
    "ListContacts": {
      "documentation": "<p>Lists all contacts and escalation plans in Incident Manager.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListContactsRequest"
      },
      "name": "ListContacts",
      "output": {
        "shape": "ListContactsResult"
      }
    },
    "ListEngagements": {
      "documentation": "<p>Lists all engagements that have happened in an incident.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEngagementsRequest"
      },
      "name": "ListEngagements",
      "output": {
        "shape": "ListEngagementsResult"
      }
    },
    "ListPageReceipts": {
      "documentation": "<p>Lists all of the engagements to contact channels that have been acknowledged. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPageReceiptsRequest"
      },
      "name": "ListPageReceipts",
      "output": {
        "shape": "ListPageReceiptsResult"
      }
    },
    "ListPagesByContact": {
      "documentation": "<p>Lists the engagements to a contact's contact channels.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPagesByContactRequest"
      },
      "name": "ListPagesByContact",
      "output": {
        "shape": "ListPagesByContactResult"
      }
    },
    "ListPagesByEngagement": {
      "documentation": "<p>Lists the engagements to contact channels that occurred by engaging a contact.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPagesByEngagementRequest"
      },
      "name": "ListPagesByEngagement",
      "output": {
        "shape": "ListPagesByEngagementResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags of an escalation plan or contact.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "PutContactPolicy": {
      "documentation": "<p>Adds a resource policy to the specified contact or escalation plan. The resource policy is used to share the contact or escalation plan using Resource Access Manager (RAM). For more information about cross-account sharing, see <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/xa.html\">Setting up cross-account functionality</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutContactPolicyRequest"
      },
      "name": "PutContactPolicy",
      "output": {
        "shape": "PutContactPolicyResult"
      }
    },
    "SendActivationCode": {
      "documentation": "<p>Sends an activation code to a contact channel. The contact can use this code to activate the contact channel in the console or with the <code>ActivateChannel</code> operation. Incident Manager can't engage a contact channel until it has been activated.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendActivationCodeRequest"
      },
      "name": "SendActivationCode",
      "output": {
        "shape": "SendActivationCodeResult"
      }
    },
    "StartEngagement": {
      "documentation": "<p>Starts an engagement to a contact or escalation plan. The engagement engages each contact specified in the incident.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEngagementRequest"
      },
      "name": "StartEngagement",
      "output": {
        "shape": "StartEngagementResult"
      }
    },
    "StopEngagement": {
      "documentation": "<p>Stops an engagement before it finishes the final stage of the escalation plan or engagement plan. Further contacts aren't engaged.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEngagementRequest"
      },
      "name": "StopEngagement",
      "output": {
        "shape": "StopEngagementResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Tags a contact or escalation plan. You can tag only contacts and escalation plans in the first region of your replication set. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from the specified resource. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    },
    "UpdateContact": {
      "documentation": "<p>Updates the contact or escalation plan specified. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DataEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateContactRequest"
      },
      "name": "UpdateContact",
      "output": {
        "shape": "UpdateContactResult"
      }
    },
    "UpdateContactChannel": {
      "documentation": "<p>Updates a contact's contact channel.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "DataEncryptionException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateContactChannelRequest"
      },
      "name": "UpdateContactChannel",
      "output": {
        "shape": "UpdateContactChannelResult"
      }
    }
  },
  "shapes": {
    "AcceptCode": {
      "max": 10,
      "min": 6,
      "pattern": "^[0-9]*$",
      "type": "string"
    },
    "AcceptCodeValidation": {
      "enum": [
        "IGNORE",
        "ENFORCE"
      ],
      "type": "string"
    },
    "AcceptPageRequest": {
      "members": {
        "AcceptCode": {
          "documentation": "<p>The accept code is a 6-digit code used to acknowledge the page.</p>",
          "shape": "AcceptCode"
        },
        "AcceptCodeValidation": {
          "documentation": "<p>An optional field that Incident Manager uses to <code>ENFORCE</code> <code>AcceptCode</code> validation when acknowledging an page. Acknowledgement can occur by replying to a page, or when entering the AcceptCode in the console. Enforcing AcceptCode validation causes Incident Manager to verify that the code entered by the user matches the code sent by Incident Manager with the page.</p> <p>Incident Manager can also <code>IGNORE</code> <code>AcceptCode</code> validation. Ignoring <code>AcceptCode</code> validation causes Incident Manager to accept any value entered for the <code>AcceptCode</code>.</p>",
          "shape": "AcceptCodeValidation"
        },
        "AcceptType": {
          "documentation": "<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>",
          "shape": "AcceptType"
        },
        "ContactChannelId": {
          "documentation": "<p>The ARN of the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "Note": {
          "documentation": "<p>Information provided by the user when the user acknowledges the page.</p>",
          "shape": "ReceiptInfo"
        },
        "PageId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "PageId",
        "AcceptType",
        "AcceptCode"
      ],
      "type": "structure"
    },
    "AcceptPageResult": {
      "members": {},
      "type": "structure"
    },
    "AcceptType": {
      "enum": [
        "DELIVERED",
        "READ"
      ],
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You don't have sufficient access to perform this operation.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ActivateContactChannelRequest": {
      "members": {
        "ActivationCode": {
          "documentation": "<p>The code sent to the contact channel when it was created in the contact. </p>",
          "shape": "ActivationCode"
        },
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelId",
        "ActivationCode"
      ],
      "type": "structure"
    },
    "ActivateContactChannelResult": {
      "members": {},
      "type": "structure"
    },
    "ActivationCode": {
      "max": 10,
      "min": 6,
      "pattern": "^[0-9]*$",
      "type": "string"
    },
    "ActivationStatus": {
      "enum": [
        "ACTIVATED",
        "NOT_ACTIVATED"
      ],
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "ChannelName": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$",
      "type": "string"
    },
    "ChannelTargetInfo": {
      "documentation": "<p>Information about the contact channel that Incident Manager uses to engage the contact.</p>",
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "RetryIntervalInMinutes": {
          "documentation": "<p>The number of minutes to wait to retry sending engagement in the case the engagement initially fails.</p>",
          "shape": "RetryIntervalInMinutes"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "ChannelType": {
      "enum": [
        "SMS",
        "VOICE",
        "EMAIL"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Updating or deleting a resource causes an inconsistent state.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "Identifier of the resource in use",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "ype of the resource in use",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "Contact": {
      "documentation": "<p>A personal contact or escalation plan that Incident Manager engages during an incident.</p>",
      "members": {
        "Alias": {
          "documentation": "<p>The unique and identifiable alias of the contact or escalation plan.</p>",
          "shape": "ContactAlias"
        },
        "ContactArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        },
        "DisplayName": {
          "documentation": "<p>The full name of the contact or escalation plan.</p>",
          "shape": "ContactName"
        },
        "Type": {
          "documentation": "<p>Refers to the type of contact. A single contact is type <code>PERSONAL</code> and an escalation plan is type <code>ESCALATION</code>.</p>",
          "shape": "ContactType"
        }
      },
      "required": [
        "ContactArn",
        "Alias",
        "Type"
      ],
      "type": "structure"
    },
    "ContactAlias": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-z0-9_\\-]*$",
      "type": "string"
    },
    "ContactChannel": {
      "documentation": "<p>The method that Incident Manager uses to engage a contact.</p>",
      "members": {
        "ActivationStatus": {
          "documentation": "<p>A Boolean value describing if the contact channel has been activated or not. If the contact channel isn't activated, Incident Manager can't engage the contact through it. </p>",
          "shape": "ActivationStatus"
        },
        "ContactArn": {
          "documentation": "<p>The ARN of the contact that contains the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "ContactChannelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "DeliveryAddress": {
          "documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel.</p>",
          "shape": "ContactChannelAddress"
        },
        "Name": {
          "documentation": "<p>The name of the contact channel.</p>",
          "shape": "ChannelName"
        },
        "Type": {
          "documentation": "<p>The type of the contact channel. Incident Manager supports three contact methods:</p> <ul> <li> <p>SMS</p> </li> <li> <p>VOICE</p> </li> <li> <p>EMAIL</p> </li> </ul>",
          "shape": "ChannelType"
        }
      },
      "required": [
        "ContactChannelArn",
        "ContactArn",
        "Name",
        "DeliveryAddress",
        "ActivationStatus"
      ],
      "type": "structure"
    },
    "ContactChannelAddress": {
      "documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. </p>",
      "members": {
        "SimpleAddress": {
          "documentation": "<p>The format is dependent on the type of the contact channel. The following are the expected formats:</p> <ul> <li> <p>SMS - '+' followed by the country code and phone number</p> </li> <li> <p>VOICE - '+' followed by the country code and phone number</p> </li> <li> <p>EMAIL - any standard email format</p> </li> </ul>",
          "shape": "SimpleAddress"
        }
      },
      "type": "structure"
    },
    "ContactChannelList": {
      "member": {
        "shape": "ContactChannel"
      },
      "type": "list"
    },
    "ContactName": {
      "max": 255,
      "min": 0,
      "pattern": "^[\\p{L}\\p{Z}\\p{N}_.\\-]*$",
      "type": "string"
    },
    "ContactTargetInfo": {
      "documentation": "<p>The contact that Incident Manager is engaging during an incident.</p>",
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact.</p>",
          "shape": "SsmContactsArn"
        },
        "IsEssential": {
          "documentation": "<p>A Boolean value determining if the contact's acknowledgement stops the progress of stages in the plan.</p>",
          "shape": "IsEssential"
        }
      },
      "required": [
        "IsEssential"
      ],
      "type": "structure"
    },
    "ContactType": {
      "enum": [
        "PERSONAL",
        "ESCALATION"
      ],
      "type": "string"
    },
    "ContactsList": {
      "member": {
        "shape": "Contact"
      },
      "type": "list"
    },
    "Content": {
      "max": 8192,
      "min": 1,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "CreateContactChannelRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact you are adding the contact channel to.</p>",
          "shape": "SsmContactsArn"
        },
        "DeferActivation": {
          "documentation": "<p>If you want to activate the channel at a later time, you can choose to defer activation. Incident Manager can't engage your contact channel until it has been activated.</p>",
          "shape": "DeferActivation"
        },
        "DeliveryAddress": {
          "documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. The format is dependent on the type of the contact channel. The following are the expected formats:</p> <ul> <li> <p>SMS - '+' followed by the country code and phone number</p> </li> <li> <p>VOICE - '+' followed by the country code and phone number</p> </li> <li> <p>EMAIL - any standard email format</p> </li> </ul>",
          "shape": "ContactChannelAddress"
        },
        "IdempotencyToken": {
          "documentation": "<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Name": {
          "documentation": "<p>The name of the contact channel.</p>",
          "shape": "ChannelName"
        },
        "Type": {
          "documentation": "<p>Incident Manager supports three types of contact channels:</p> <ul> <li> <p> <code>SMS</code> </p> </li> <li> <p> <code>VOICE</code> </p> </li> <li> <p> <code>EMAIL</code> </p> </li> </ul>",
          "shape": "ChannelType"
        }
      },
      "required": [
        "ContactId",
        "Name",
        "Type",
        "DeliveryAddress"
      ],
      "type": "structure"
    },
    "CreateContactChannelResult": {
      "members": {
        "ContactChannelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelArn"
      ],
      "type": "structure"
    },
    "CreateContactRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The short name to quickly identify a contact or escalation plan. The contact alias must be unique and identifiable. </p>",
          "shape": "ContactAlias"
        },
        "DisplayName": {
          "documentation": "<p>The full name of the contact or escalation plan. </p>",
          "shape": "ContactName"
        },
        "IdempotencyToken": {
          "documentation": "<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Plan": {
          "documentation": "<p>A list of stages. A contact has an engagement plan with stages that contact specified contact channels. An escalation plan uses stages that contact specified contacts. </p>",
          "shape": "Plan"
        },
        "Tags": {
          "documentation": "<p>Adds a tag to the target. You can only tag resources created in the first Region of your replication set. </p>",
          "shape": "TagsList"
        },
        "Type": {
          "documentation": "<p>To create an escalation plan use <code>ESCALATION</code>. To create a contact use <code>PERSONAL</code>.</p>",
          "shape": "ContactType"
        }
      },
      "required": [
        "Alias",
        "Type",
        "Plan"
      ],
      "type": "structure"
    },
    "CreateContactResult": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the created contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactArn"
      ],
      "type": "structure"
    },
    "DataEncryptionException": {
      "documentation": "<p>The operation failed to due an encryption key error.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeactivateContactChannelRequest": {
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you're deactivating.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "DeactivateContactChannelResult": {
      "members": {},
      "type": "structure"
    },
    "DeferActivation": {
      "box": true,
      "type": "boolean"
    },
    "DeleteContactChannelRequest": {
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "DeleteContactChannelResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteContactRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact that you're deleting.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactId"
      ],
      "type": "structure"
    },
    "DeleteContactResult": {
      "members": {},
      "type": "structure"
    },
    "DescribeEngagementRequest": {
      "members": {
        "EngagementId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement you want the details of.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "EngagementId"
      ],
      "type": "structure"
    },
    "DescribeEngagementResult": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the escalation plan or contacts involved in the engagement.</p>",
          "shape": "SsmContactsArn"
        },
        "Content": {
          "documentation": "<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
          "shape": "Content"
        },
        "EngagementArn": {
          "documentation": "<p>The ARN of the engagement.</p>",
          "shape": "SsmContactsArn"
        },
        "IncidentId": {
          "documentation": "<p>The ARN of the incident in which the engagement occurred.</p>",
          "shape": "IncidentId"
        },
        "PublicContent": {
          "documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicContent"
        },
        "PublicSubject": {
          "documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicSubject"
        },
        "Sender": {
          "documentation": "<p>The user that started the engagement.</p>",
          "shape": "Sender"
        },
        "StartTime": {
          "documentation": "<p>The time that the engagement started.</p>",
          "shape": "DateTime"
        },
        "StopTime": {
          "documentation": "<p>The time that the engagement ended.</p>",
          "shape": "DateTime"
        },
        "Subject": {
          "documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
          "shape": "Subject"
        }
      },
      "required": [
        "ContactArn",
        "EngagementArn",
        "Sender",
        "Subject",
        "Content"
      ],
      "type": "structure"
    },
    "DescribePageRequest": {
      "members": {
        "PageId": {
          "documentation": "<p>The ID of the engagement to a contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "PageId"
      ],
      "type": "structure"
    },
    "DescribePageResult": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact that was engaged.</p>",
          "shape": "SsmContactsArn"
        },
        "Content": {
          "documentation": "<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
          "shape": "Content"
        },
        "DeliveryTime": {
          "documentation": "<p>The time that the contact channel received the engagement.</p>",
          "shape": "DateTime"
        },
        "EngagementArn": {
          "documentation": "<p>The ARN of the engagement that engaged the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "IncidentId": {
          "documentation": "<p>The ARN of the incident that engaged the contact channel.</p>",
          "shape": "IncidentId"
        },
        "PageArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "PublicContent": {
          "documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicContent"
        },
        "PublicSubject": {
          "documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicSubject"
        },
        "ReadTime": {
          "documentation": "<p>The time that the contact channel acknowledged the engagement.</p>",
          "shape": "DateTime"
        },
        "Sender": {
          "documentation": "<p>The user that started the engagement.</p>",
          "shape": "Sender"
        },
        "SentTime": {
          "documentation": "<p>The time the engagement was sent to the contact channel.</p>",
          "shape": "DateTime"
        },
        "Subject": {
          "documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>",
          "shape": "Subject"
        }
      },
      "required": [
        "PageArn",
        "EngagementArn",
        "ContactArn",
        "Sender",
        "Subject",
        "Content"
      ],
      "type": "structure"
    },
    "Engagement": {
      "documentation": "<p>Incident Manager reaching out to a contact or escalation plan to engage contact during an incident.</p>",
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the escalation plan or contact that Incident Manager is engaging.</p>",
          "shape": "SsmContactsArn"
        },
        "EngagementArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
          "shape": "SsmContactsArn"
        },
        "IncidentId": {
          "documentation": "<p>The ARN of the incident that's engaging the contact.</p>",
          "shape": "IncidentId"
        },
        "Sender": {
          "documentation": "<p>The user that started the engagement.</p>",
          "shape": "Sender"
        },
        "StartTime": {
          "documentation": "<p>The time that the engagement began.</p>",
          "shape": "DateTime"
        },
        "StopTime": {
          "documentation": "<p>The time that the engagement ended.</p>",
          "shape": "DateTime"
        }
      },
      "required": [
        "EngagementArn",
        "ContactArn",
        "Sender"
      ],
      "type": "structure"
    },
    "EngagementsList": {
      "member": {
        "shape": "Engagement"
      },
      "type": "list"
    },
    "GetContactChannelRequest": {
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you want information about.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "GetContactChannelResult": {
      "members": {
        "ActivationStatus": {
          "documentation": "<p>A Boolean value indicating if the contact channel has been activated or not.</p>",
          "shape": "ActivationStatus"
        },
        "ContactArn": {
          "documentation": "<p>The ARN of the contact that the channel belongs to.</p>",
          "shape": "SsmContactsArn"
        },
        "ContactChannelArn": {
          "documentation": "<p>The ARN of the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "DeliveryAddress": {
          "documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. </p>",
          "shape": "ContactChannelAddress"
        },
        "Name": {
          "documentation": "<p>The name of the contact channel</p>",
          "shape": "ChannelName"
        },
        "Type": {
          "documentation": "<p>The type of contact channel. The type is <code>SMS</code>, <code>VOICE</code>, or <code>EMAIL</code>.</p>",
          "shape": "ChannelType"
        }
      },
      "required": [
        "ContactArn",
        "ContactChannelArn",
        "Name",
        "Type",
        "DeliveryAddress"
      ],
      "type": "structure"
    },
    "GetContactPolicyRequest": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactArn"
      ],
      "type": "structure"
    },
    "GetContactPolicyResult": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        },
        "Policy": {
          "documentation": "<p>Details about the resource policy attached to the contact or escalation plan.</p>",
          "shape": "Policy"
        }
      },
      "type": "structure"
    },
    "GetContactRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactId"
      ],
      "type": "structure"
    },
    "GetContactResult": {
      "members": {
        "Alias": {
          "documentation": "<p>The alias of the contact or escalation plan. The alias is unique and identifiable.</p>",
          "shape": "ContactAlias"
        },
        "ContactArn": {
          "documentation": "<p>The ARN of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        },
        "DisplayName": {
          "documentation": "<p>The full name of the contact or escalation plan.</p>",
          "shape": "ContactName"
        },
        "Plan": {
          "documentation": "<p>Details about the specific timing or stages and targets of the escalation plan or engagement plan.</p>",
          "shape": "Plan"
        },
        "Type": {
          "documentation": "<p>The type of contact, either <code>PERSONAL</code> or <code>ESCALATION</code>. </p>",
          "shape": "ContactType"
        }
      },
      "required": [
        "ContactArn",
        "Alias",
        "Type",
        "Plan"
      ],
      "type": "structure"
    },
    "IdempotencyToken": {
      "max": 2048,
      "pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$",
      "type": "string"
    },
    "IncidentId": {
      "max": 1024,
      "pattern": "^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$",
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>Unexpected error occurred while processing the request.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "RetryAfterSeconds": {
          "documentation": "Advice to clients on when the call can be safely retried",
          "shape": "RetryAfterSeconds"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "IsEssential": {
      "box": true,
      "type": "boolean"
    },
    "ListContactChannelsRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact. </p>",
          "shape": "SsmContactsArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of contact channels per page.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "ContactId"
      ],
      "type": "structure"
    },
    "ListContactChannelsResult": {
      "members": {
        "ContactChannels": {
          "documentation": "<p>A list of contact channels related to the specified contact.</p>",
          "shape": "ContactChannelList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "ContactChannels"
      ],
      "type": "structure"
    },
    "ListContactsRequest": {
      "members": {
        "AliasPrefix": {
          "documentation": "<p>Used to list only contacts who's aliases start with the specified prefix.</p>",
          "shape": "ContactAlias"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of contacts and escalation plans per page of results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "Type": {
          "documentation": "<p>The type of contact. A contact is type <code>PERSONAL</code> and an escalation plan is type <code>ESCALATION</code>.</p>",
          "shape": "ContactType"
        }
      },
      "type": "structure"
    },
    "ListContactsResult": {
      "members": {
        "Contacts": {
          "documentation": "<p>A list of the contacts and escalation plans in your Incident Manager account.</p>",
          "shape": "ContactsList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListEngagementsRequest": {
      "members": {
        "IncidentId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the incident you're listing engagements for.</p>",
          "shape": "IncidentId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of engagements per page of results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "TimeRangeValue": {
          "documentation": "<p>The time range to lists engagements for an incident.</p>",
          "shape": "TimeRange"
        }
      },
      "type": "structure"
    },
    "ListEngagementsResult": {
      "members": {
        "Engagements": {
          "documentation": "<p>A list of each engagement that occurred during the specified time range of an incident.</p>",
          "shape": "EngagementsList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "Engagements"
      ],
      "type": "structure"
    },
    "ListPageReceiptsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of acknowledgements per page of results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "PageId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement to a specific contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "PageId"
      ],
      "type": "structure"
    },
    "ListPageReceiptsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "Receipts": {
          "documentation": "<p>A list of each acknowledgement.</p>",
          "shape": "ReceiptsList"
        }
      },
      "type": "structure"
    },
    "ListPagesByContactRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact you are retrieving engagements for.</p>",
          "shape": "SsmContactsArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of engagements to contact channels to list per page of results. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "ContactId"
      ],
      "type": "structure"
    },
    "ListPagesByContactResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "Pages": {
          "documentation": "<p>The list of engagements to a contact's contact channel.</p>",
          "shape": "PagesList"
        }
      },
      "required": [
        "Pages"
      ],
      "type": "structure"
    },
    "ListPagesByEngagementRequest": {
      "members": {
        "EngagementId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
          "shape": "SsmContactsArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of engagements to contact channels to list per page of results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "EngagementId"
      ],
      "type": "structure"
    },
    "ListPagesByEngagementResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to continue to the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "Pages": {
          "documentation": "<p>The list of engagements to contact channels.</p>",
          "shape": "PagesList"
        }
      },
      "required": [
        "Pages"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResult": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags related to the contact or escalation plan.</p>",
          "shape": "TagsList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 1024,
      "min": 0,
      "type": "integer"
    },
    "Page": {
      "documentation": "<p>Incident Manager engaging a contact's contact channel.</p>",
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact that Incident Manager is engaging.</p>",
          "shape": "SsmContactsArn"
        },
        "DeliveryTime": {
          "documentation": "<p>The time the message was delivered to the contact channel.</p>",
          "shape": "DateTime"
        },
        "EngagementArn": {
          "documentation": "<p>The ARN of the engagement that this page is part of.</p>",
          "shape": "SsmContactsArn"
        },
        "IncidentId": {
          "documentation": "<p>The ARN of the incident that's engaging the contact channel.</p>",
          "shape": "IncidentId"
        },
        "PageArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the page to the contact channel.</p>",
          "shape": "SsmContactsArn"
        },
        "ReadTime": {
          "documentation": "<p>The time that the contact channel acknowledged engagement.</p>",
          "shape": "DateTime"
        },
        "Sender": {
          "documentation": "<p>The user that started the engagement.</p>",
          "shape": "Sender"
        },
        "SentTime": {
          "documentation": "<p>The time that Incident Manager engaged the contact channel.</p>",
          "shape": "DateTime"
        }
      },
      "required": [
        "PageArn",
        "EngagementArn",
        "ContactArn",
        "Sender"
      ],
      "type": "structure"
    },
    "PagesList": {
      "member": {
        "shape": "Page"
      },
      "type": "list"
    },
    "PaginationToken": {
      "max": 2048,
      "pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$",
      "type": "string"
    },
    "Plan": {
      "documentation": "<p>The stages that an escalation plan or engagement plan engages contacts and contact methods in.</p>",
      "members": {
        "Stages": {
          "documentation": "<p>A list of stages that the escalation plan or engagement plan uses to engage contacts and contact methods.</p>",
          "shape": "StagesList"
        }
      },
      "required": [
        "Stages"
      ],
      "type": "structure"
    },
    "Policy": {
      "max": 395000,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "PublicContent": {
      "max": 8192,
      "min": 1,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "PublicSubject": {
      "max": 2048,
      "min": 1,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "PutContactPolicyRequest": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "SsmContactsArn"
        },
        "Policy": {
          "documentation": "<p>Details of the resource policy.</p>",
          "shape": "Policy"
        }
      },
      "required": [
        "ContactArn",
        "Policy"
      ],
      "type": "structure"
    },
    "PutContactPolicyResult": {
      "members": {},
      "type": "structure"
    },
    "Receipt": {
      "documentation": "<p>Records events during an engagement.</p>",
      "members": {
        "ContactChannelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel Incident Manager engaged.</p>",
          "shape": "SsmContactsArn"
        },
        "ReceiptInfo": {
          "documentation": "<p>Information provided during the page acknowledgement.</p>",
          "shape": "ReceiptInfo"
        },
        "ReceiptTime": {
          "documentation": "<p>The time receipt was <code>SENT</code>, <code>DELIVERED</code>, or <code>READ</code>.</p>",
          "shape": "DateTime"
        },
        "ReceiptType": {
          "documentation": "<p>The type follows the engagement cycle, <code>SENT</code>, <code>DELIVERED</code>, and <code>READ</code>.</p>",
          "shape": "ReceiptType"
        }
      },
      "required": [
        "ReceiptType",
        "ReceiptTime"
      ],
      "type": "structure"
    },
    "ReceiptInfo": {
      "max": 2048,
      "min": 1,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "ReceiptType": {
      "enum": [
        "DELIVERED",
        "ERROR",
        "READ",
        "SENT",
        "STOP"
      ],
      "type": "string"
    },
    "ReceiptsList": {
      "member": {
        "shape": "Receipt"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Request references a resource that doesn't exist.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "Hypothetical resource identifier that was not found",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "Hypothetical resource type that was not found",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "RetryAfterSeconds": {
      "type": "integer"
    },
    "RetryIntervalInMinutes": {
      "box": true,
      "max": 60,
      "min": 0,
      "type": "integer"
    },
    "SendActivationCodeRequest": {
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "SendActivationCodeResult": {
      "members": {},
      "type": "structure"
    },
    "Sender": {
      "max": 255,
      "pattern": "^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$",
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Request would cause a service quota to be exceeded.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "QuotaCode": {
          "documentation": "Service Quotas requirement to identify originating service",
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "Identifier of the resource affected",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "Type of the resource affected",
          "shape": "String"
        },
        "ServiceCode": {
          "documentation": "Service Quotas requirement to identify originating quota",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "QuotaCode",
        "ServiceCode"
      ],
      "type": "structure"
    },
    "SimpleAddress": {
      "max": 320,
      "min": 1,
      "type": "string"
    },
    "SsmContactsArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws|aws-cn|aws-us-gov):ssm-contacts:[-\\w+=\\/,.@]*:[0-9]+:([\\w+=\\/,.@:-]+)*",
      "type": "string"
    },
    "Stage": {
      "documentation": "<p>A set amount of time that an escalation plan or engagement plan engages the specified contacts or contact methods.</p>",
      "members": {
        "DurationInMinutes": {
          "documentation": "<p>The time to wait until beginning the next stage. The duration can only be set to 0 if a target is specified.</p>",
          "shape": "StageDurationInMins"
        },
        "Targets": {
          "documentation": "<p>The contacts or contact methods that the escalation plan or engagement plan is engaging.</p>",
          "shape": "TargetsList"
        }
      },
      "required": [
        "DurationInMinutes",
        "Targets"
      ],
      "type": "structure"
    },
    "StageDurationInMins": {
      "box": true,
      "max": 30,
      "min": 0,
      "type": "integer"
    },
    "StagesList": {
      "member": {
        "shape": "Stage"
      },
      "type": "list"
    },
    "StartEngagementRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact being engaged.</p>",
          "shape": "SsmContactsArn"
        },
        "Content": {
          "documentation": "<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> or <code>EMAIL</code>.</p>",
          "shape": "Content"
        },
        "IdempotencyToken": {
          "documentation": "<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "IncidentId": {
          "documentation": "<p>The ARN of the incident that the engagement is part of.</p>",
          "shape": "IncidentId"
        },
        "PublicContent": {
          "documentation": "<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicContent"
        },
        "PublicSubject": {
          "documentation": "<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>",
          "shape": "PublicSubject"
        },
        "Sender": {
          "documentation": "<p>The user that started the engagement.</p>",
          "shape": "Sender"
        },
        "Subject": {
          "documentation": "<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> or <code>EMAIL</code>.</p>",
          "shape": "Subject"
        }
      },
      "required": [
        "ContactId",
        "Sender",
        "Subject",
        "Content"
      ],
      "type": "structure"
    },
    "StartEngagementResult": {
      "members": {
        "EngagementArn": {
          "documentation": "<p>The ARN of the engagement.</p>",
          "shape": "SsmContactsArn"
        }
      },
      "required": [
        "EngagementArn"
      ],
      "type": "structure"
    },
    "StopEngagementRequest": {
      "members": {
        "EngagementId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the engagement.</p>",
          "shape": "SsmContactsArn"
        },
        "Reason": {
          "documentation": "<p>The reason that you're stopping the engagement. </p>",
          "shape": "StopReason"
        }
      },
      "required": [
        "EngagementId"
      ],
      "type": "structure"
    },
    "StopEngagementResult": {
      "members": {},
      "type": "structure"
    },
    "StopReason": {
      "max": 255,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "Subject": {
      "max": 2048,
      "min": 1,
      "pattern": "^[.\\s\\S]*$",
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A container of a key-value name pair.</p>",
      "members": {
        "Key": {
          "documentation": "<p>Name of the object key.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>Value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^[\\\\\\/a-zA-Z0-9_+=\\-]*$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "documentation": "<p>A list of tags that you are adding to the contact or escalation plan.</p>",
          "shape": "TagsList"
        }
      },
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 1,
      "pattern": "^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*$",
      "type": "string"
    },
    "TagsList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "Target": {
      "documentation": "<p>The contact or contact channel that's being engaged.</p>",
      "members": {
        "ChannelTargetInfo": {
          "documentation": "<p>Information about the contact channel Incident Manager is engaging.</p>",
          "shape": "ChannelTargetInfo"
        },
        "ContactTargetInfo": {
          "documentation": "<p>Information about the contact that Incident Manager is engaging.</p>",
          "shape": "ContactTargetInfo"
        }
      },
      "type": "structure"
    },
    "TargetsList": {
      "member": {
        "shape": "Target"
      },
      "type": "list"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "QuotaCode": {
          "documentation": "Service Quotas requirement to identify originating service",
          "shape": "String"
        },
        "RetryAfterSeconds": {
          "documentation": "Advice to clients on when the call can be safely retried",
          "shape": "RetryAfterSeconds"
        },
        "ServiceCode": {
          "documentation": "Service Quotas requirement to identify originating quota",
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "TimeRange": {
      "documentation": "<p>A range of between two set times</p>",
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time range.</p>",
          "shape": "DateTime"
        },
        "StartTime": {
          "documentation": "<p>The start of the time range.</p>",
          "shape": "DateTime"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>",
          "shape": "AmazonResourceName"
        },
        "TagKeys": {
          "documentation": "<p>The key of the tag that you want to remove.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceARN",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateContactChannelRequest": {
      "members": {
        "ContactChannelId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact channel you want to update.</p>",
          "shape": "SsmContactsArn"
        },
        "DeliveryAddress": {
          "documentation": "<p>The details that Incident Manager uses when trying to engage the contact channel. </p>",
          "shape": "ContactChannelAddress"
        },
        "Name": {
          "documentation": "<p>The name of the contact channel.</p>",
          "shape": "ChannelName"
        }
      },
      "required": [
        "ContactChannelId"
      ],
      "type": "structure"
    },
    "UpdateContactChannelResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateContactRequest": {
      "members": {
        "ContactId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the contact or escalation plan you're updating.</p>",
          "shape": "SsmContactsArn"
        },
        "DisplayName": {
          "documentation": "<p>The full name of the contact or escalation plan.</p>",
          "shape": "ContactName"
        },
        "Plan": {
          "documentation": "<p>A list of stages. A contact has an engagement plan with stages for specified contact channels. An escalation plan uses these stages to contact specified contacts. </p>",
          "shape": "Plan"
        }
      },
      "required": [
        "ContactId"
      ],
      "type": "structure"
    },
    "UpdateContactResult": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
      "exception": true,
      "members": {
        "Fields": {
          "documentation": "The fields that caused the error",
          "shape": "ValidationExceptionFieldList"
        },
        "Message": {
          "shape": "String"
        },
        "Reason": {
          "documentation": "Reason the request failed validation",
          "shape": "ValidationExceptionReason"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ValidationExceptionField": {
      "documentation": "<p>Provides information about which field caused the exception.</p>",
      "members": {
        "Message": {
          "documentation": "<p>Information about what caused the field to cause an exception.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the field that caused the exception.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Message"
      ],
      "type": "structure"
    },
    "ValidationExceptionFieldList": {
      "member": {
        "shape": "ValidationExceptionField"
      },
      "type": "list"
    },
    "ValidationExceptionReason": {
      "enum": [
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ],
      "type": "string"
    }
  },
  "version": "2.0"
}
