{
  "documentation": "<fullname>Global Accelerator</fullname> <p>This is the <i>Global Accelerator API Reference</i>. This guide is for developers who need detailed information about Global Accelerator API actions, data types, and errors. For more information about Global Accelerator features, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/what-is-global-accelerator.html\">Global Accelerator Developer Guide</a>.</p> <p>Global Accelerator is a service in which you create <i>accelerators</i> to improve the performance of your applications for local and global users. Depending on the type of accelerator you choose, you can gain additional benefits. </p> <ul> <li> <p>By using a standard accelerator, you can improve availability of your internet applications that are used by a global audience. With a standard accelerator, Global Accelerator directs traffic to optimal endpoints over the Amazon Web Services global network. </p> </li> <li> <p>For other scenarios, you might choose a custom routing accelerator. With a custom routing accelerator, you can use application logic to directly map one or more users to a specific endpoint among many endpoints.</p> </li> </ul> <important> <p>Global Accelerator is a global service that supports endpoints in multiple Amazon Web Services Regions but you must specify the US West (Oregon) Region to create, update, or otherwise work with accelerators. That is, for example, specify <code>--region us-west-2</code> on AWS CLI commands.</p> </important> <p>By default, Global Accelerator provides you with static IP addresses that you associate with your accelerator. The static IP addresses are anycast from the Amazon Web Services edge network. For IPv4, Global Accelerator provides two static IPv4 addresses. For dual-stack, Global Accelerator provides a total of four addresses: two static IPv4 addresses and two static IPv6 addresses. With a standard accelerator for IPv4, instead of using the addresses that Global Accelerator provides, you can configure these entry points to be IPv4 addresses from your own IP address ranges that you bring toGlobal Accelerator (BYOIP). </p> <p>For a standard accelerator, they distribute incoming application traffic across multiple endpoint resources in multiple Amazon Web Services Regions , which increases the availability of your applications. Endpoints for standard accelerators can be Network Load Balancers, Application Load Balancers, Amazon EC2 instances, or Elastic IP addresses that are located in one Amazon Web Services Region or multiple Amazon Web Services Regions. For custom routing accelerators, you map traffic that arrives to the static IP addresses to specific Amazon EC2 servers in endpoints that are virtual private cloud (VPC) subnets.</p> <important> <p>The static IP addresses remain assigned to your accelerator for as long as it exists, even if you disable the accelerator and it no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the static IP addresses that are assigned to it, so you can no longer route traffic by using them. You can use IAM policies like tag-based permissions with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/access-control-manage-access-tag-policies.html\">Tag-based policies</a>.</p> </important> <p>For standard accelerators, Global Accelerator uses the Amazon Web Services global network to route traffic to the optimal regional endpoint based on health, client location, and policies that you configure. The service reacts instantly to changes in health or configuration to ensure that internet traffic from clients is always directed to healthy endpoints.</p> <p>For more information about understanding and using Global Accelerator, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/what-is-global-accelerator.html\">Global Accelerator Developer Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2018-08-08",
    "endpointPrefix": "globalaccelerator",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Global Accelerator",
    "serviceId": "Global Accelerator",
    "signatureVersion": "v4",
    "signingName": "globalaccelerator",
    "targetPrefix": "GlobalAccelerator_V20180706",
    "uid": "globalaccelerator-2018-08-08"
  },
  "operations": {
    "AddCustomRoutingEndpoints": {
      "documentation": "<p>Associate a virtual private cloud (VPC) subnet endpoint with your custom routing accelerator.</p> <p>The listener port range must be large enough to support the number of IP addresses that can be specified in your subnet. The number of ports required is: subnet size times the number of ports per destination EC2 instances. For example, a subnet defined as /24 requires a listener port range of at least 255 ports. </p> <p>Note: You must have enough remaining listener ports available to map to the subnet ports, or the call will fail with a LimitExceededException.</p> <p>By default, all destinations in a subnet in a custom routing accelerator cannot receive traffic. To enable all destinations to receive traffic, or to specify individual port mappings that can receive traffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\"> AllowCustomRoutingTraffic</a> operation.</p>",
      "errors": [
        {
          "shape": "EndpointAlreadyExistsException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCustomRoutingEndpointsRequest"
      },
      "name": "AddCustomRoutingEndpoints",
      "output": {
        "shape": "AddCustomRoutingEndpointsResponse"
      }
    },
    "AddEndpoints": {
      "documentation": "<p>Add endpoints to an endpoint group. The <code>AddEndpoints</code> API operation is the recommended option for adding endpoints. The alternative options are to add endpoints when you create an endpoint group (with the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_CreateEndpointGroup.html\">CreateEndpointGroup</a> API) or when you update an endpoint group (with the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_UpdateEndpointGroup.html\">UpdateEndpointGroup</a> API). </p> <p>There are two advantages to using <code>AddEndpoints</code> to add endpoints:</p> <ul> <li> <p>It's faster, because Global Accelerator only has to resolve the new endpoints that you're adding.</p> </li> <li> <p>It's more convenient, because you don't need to specify all of the current endpoints that are already in the endpoint group in addition to the new endpoints that you want to add.</p> </li> </ul>",
      "errors": [
        {
          "shape": "TransactionInProgressException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddEndpointsRequest"
      },
      "name": "AddEndpoints",
      "output": {
        "shape": "AddEndpointsResponse"
      }
    },
    "AdvertiseByoipCidr": {
      "documentation": "<p>Advertises an IPv4 address range that is provisioned for use with your Amazon Web Services resources through bring your own IP addresses (BYOIP). It can take a few minutes before traffic to the specified addresses starts routing to Amazon Web Services because of propagation delays. </p> <p>To stop advertising the BYOIP address range, use <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\"> WithdrawByoipCidr</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ByoipCidrNotFoundException"
        },
        {
          "shape": "IncorrectCidrStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdvertiseByoipCidrRequest"
      },
      "name": "AdvertiseByoipCidr",
      "output": {
        "shape": "AdvertiseByoipCidrResponse"
      }
    },
    "AllowCustomRoutingTraffic": {
      "documentation": "<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that can receive traffic for a custom routing accelerator. You can allow traffic to all destinations in the subnet endpoint, or allow traffic to a specified list of destination IP addresses and ports in the subnet. Note that you cannot specify IP addresses or ports outside of the range that you configured for the endpoint group.</p> <p>After you make changes, you can verify that the updates are complete by checking the status of your accelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>",
      "errors": [
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllowCustomRoutingTrafficRequest"
      },
      "name": "AllowCustomRoutingTraffic"
    },
    "CreateAccelerator": {
      "documentation": "<p>Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic to one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. </p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple Amazon Web Services Regions but you must specify the US West (Oregon) Region to create, update, or otherwise work with accelerators. That is, for example, specify <code>--region us-west-2</code> on AWS CLI commands.</p> </important>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAcceleratorRequest"
      },
      "name": "CreateAccelerator",
      "output": {
        "shape": "CreateAcceleratorResponse"
      }
    },
    "CreateCustomRoutingAccelerator": {
      "documentation": "<p>Create a custom routing accelerator. A custom routing accelerator directs traffic to one of possibly thousands of Amazon EC2 instance destinations running in a single or multiple virtual private clouds (VPC) subnet endpoints.</p> <p>Be aware that, by default, all destination EC2 instances in a VPC subnet endpoint cannot receive traffic. To enable all destinations to receive traffic, or to specify individual port mappings that can receive traffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\"> AllowCustomRoutingTraffic</a> operation.</p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple Amazon Web Services Regions but you must specify the US West (Oregon) Region to create, update, or otherwise work with accelerators. That is, for example, specify <code>--region us-west-2</code> on AWS CLI commands.</p> </important>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomRoutingAcceleratorRequest"
      },
      "name": "CreateCustomRoutingAccelerator",
      "output": {
        "shape": "CreateCustomRoutingAcceleratorResponse"
      }
    },
    "CreateCustomRoutingEndpointGroup": {
      "documentation": "<p>Create an endpoint group for the specified listener for a custom routing accelerator. An endpoint group is a collection of endpoints in one Amazon Web Services Region. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "EndpointGroupAlreadyExistsException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidPortRangeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomRoutingEndpointGroupRequest"
      },
      "name": "CreateCustomRoutingEndpointGroup",
      "output": {
        "shape": "CreateCustomRoutingEndpointGroupResponse"
      }
    },
    "CreateCustomRoutingListener": {
      "documentation": "<p>Create a listener to process inbound connections from clients to a custom routing accelerator. Connections arrive to assigned static IP addresses on the port range that you specify. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InvalidPortRangeException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomRoutingListenerRequest"
      },
      "name": "CreateCustomRoutingListener",
      "output": {
        "shape": "CreateCustomRoutingListenerResponse"
      }
    },
    "CreateEndpointGroup": {
      "documentation": "<p>Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one Amazon Web Services Region. A resource must be valid and active when you add it as an endpoint.</p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "EndpointGroupAlreadyExistsException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointGroupRequest"
      },
      "name": "CreateEndpointGroup",
      "output": {
        "shape": "CreateEndpointGroupResponse"
      }
    },
    "CreateListener": {
      "documentation": "<p>Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static IP addresses on a port, port range, or list of port ranges that you specify. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InvalidPortRangeException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateListenerRequest"
      },
      "name": "CreateListener",
      "output": {
        "shape": "CreateListenerResponse"
      }
    },
    "DeleteAccelerator": {
      "documentation": "<p>Delete an accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p> <important> <p>When you create an accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. Alternatively, you can bring your own IP address ranges to Global Accelerator and assign IP addresses from those ranges. </p> <p>The IP addresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and it no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the static IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them. As a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You can use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Identity and access management</a> in the <i>Global Accelerator Developer Guide</i>.</p> </important>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "AcceleratorNotDisabledException"
        },
        {
          "shape": "AssociatedListenerFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAcceleratorRequest"
      },
      "name": "DeleteAccelerator"
    },
    "DeleteCustomRoutingAccelerator": {
      "documentation": "<p>Delete a custom routing accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p> <important> <p>When you create a custom routing accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. </p> <p>The IP addresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and it no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the static IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them. As a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You can use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Identity and access management</a> in the <i>Global Accelerator Developer Guide</i>.</p> </important>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "AcceleratorNotDisabledException"
        },
        {
          "shape": "AssociatedListenerFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomRoutingAcceleratorRequest"
      },
      "name": "DeleteCustomRoutingAccelerator"
    },
    "DeleteCustomRoutingEndpointGroup": {
      "documentation": "<p>Delete an endpoint group from a listener for a custom routing accelerator.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomRoutingEndpointGroupRequest"
      },
      "name": "DeleteCustomRoutingEndpointGroup"
    },
    "DeleteCustomRoutingListener": {
      "documentation": "<p>Delete a listener for a custom routing accelerator.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "AssociatedEndpointGroupFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomRoutingListenerRequest"
      },
      "name": "DeleteCustomRoutingListener"
    },
    "DeleteEndpointGroup": {
      "documentation": "<p>Delete an endpoint group from a listener.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointGroupRequest"
      },
      "name": "DeleteEndpointGroup"
    },
    "DeleteListener": {
      "documentation": "<p>Delete a listener from an accelerator.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "AssociatedEndpointGroupFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteListenerRequest"
      },
      "name": "DeleteListener"
    },
    "DenyCustomRoutingTraffic": {
      "documentation": "<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that cannot receive traffic for a custom routing accelerator. You can deny traffic to all destinations in the VPC endpoint, or deny traffic to a specified list of destination IP addresses and ports. Note that you cannot specify IP addresses or ports outside of the range that you configured for the endpoint group.</p> <p>After you make changes, you can verify that the updates are complete by checking the status of your accelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>",
      "errors": [
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DenyCustomRoutingTrafficRequest"
      },
      "name": "DenyCustomRoutingTraffic"
    },
    "DeprovisionByoipCidr": {
      "documentation": "<p>Releases the specified address range that you provisioned to use with your Amazon Web Services resources through bring your own IP addresses (BYOIP) and deletes the corresponding address pool. </p> <p>Before you can release an address range, you must stop advertising it by using <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\">WithdrawByoipCidr</a> and you must not have any accelerators that are using static IP addresses allocated from its address range. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ByoipCidrNotFoundException"
        },
        {
          "shape": "IncorrectCidrStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeprovisionByoipCidrRequest"
      },
      "name": "DeprovisionByoipCidr",
      "output": {
        "shape": "DeprovisionByoipCidrResponse"
      }
    },
    "DescribeAccelerator": {
      "documentation": "<p>Describe an accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAcceleratorRequest"
      },
      "name": "DescribeAccelerator",
      "output": {
        "shape": "DescribeAcceleratorResponse"
      }
    },
    "DescribeAcceleratorAttributes": {
      "documentation": "<p>Describe the attributes of an accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAcceleratorAttributesRequest"
      },
      "name": "DescribeAcceleratorAttributes",
      "output": {
        "shape": "DescribeAcceleratorAttributesResponse"
      }
    },
    "DescribeCustomRoutingAccelerator": {
      "documentation": "<p>Describe a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomRoutingAcceleratorRequest"
      },
      "name": "DescribeCustomRoutingAccelerator",
      "output": {
        "shape": "DescribeCustomRoutingAcceleratorResponse"
      }
    },
    "DescribeCustomRoutingAcceleratorAttributes": {
      "documentation": "<p>Describe the attributes of a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomRoutingAcceleratorAttributesRequest"
      },
      "name": "DescribeCustomRoutingAcceleratorAttributes",
      "output": {
        "shape": "DescribeCustomRoutingAcceleratorAttributesResponse"
      }
    },
    "DescribeCustomRoutingEndpointGroup": {
      "documentation": "<p>Describe an endpoint group for a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomRoutingEndpointGroupRequest"
      },
      "name": "DescribeCustomRoutingEndpointGroup",
      "output": {
        "shape": "DescribeCustomRoutingEndpointGroupResponse"
      }
    },
    "DescribeCustomRoutingListener": {
      "documentation": "<p>The description of a listener for a custom routing accelerator.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomRoutingListenerRequest"
      },
      "name": "DescribeCustomRoutingListener",
      "output": {
        "shape": "DescribeCustomRoutingListenerResponse"
      }
    },
    "DescribeEndpointGroup": {
      "documentation": "<p>Describe an endpoint group. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointGroupRequest"
      },
      "name": "DescribeEndpointGroup",
      "output": {
        "shape": "DescribeEndpointGroupResponse"
      }
    },
    "DescribeListener": {
      "documentation": "<p>Describe a listener. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeListenerRequest"
      },
      "name": "DescribeListener",
      "output": {
        "shape": "DescribeListenerResponse"
      }
    },
    "ListAccelerators": {
      "documentation": "<p>List the accelerators for an Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAcceleratorsRequest"
      },
      "name": "ListAccelerators",
      "output": {
        "shape": "ListAcceleratorsResponse"
      }
    },
    "ListByoipCidrs": {
      "documentation": "<p>Lists the IP address ranges that were specified in calls to <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/ProvisionByoipCidr.html\">ProvisionByoipCidr</a>, including the current state and a history of state changes.</p>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListByoipCidrsRequest"
      },
      "name": "ListByoipCidrs",
      "output": {
        "shape": "ListByoipCidrsResponse"
      }
    },
    "ListCustomRoutingAccelerators": {
      "documentation": "<p>List the custom routing accelerators for an Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomRoutingAcceleratorsRequest"
      },
      "name": "ListCustomRoutingAccelerators",
      "output": {
        "shape": "ListCustomRoutingAcceleratorsResponse"
      }
    },
    "ListCustomRoutingEndpointGroups": {
      "documentation": "<p>List the endpoint groups that are associated with a listener for a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomRoutingEndpointGroupsRequest"
      },
      "name": "ListCustomRoutingEndpointGroups",
      "output": {
        "shape": "ListCustomRoutingEndpointGroupsResponse"
      }
    },
    "ListCustomRoutingListeners": {
      "documentation": "<p>List the listeners for a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomRoutingListenersRequest"
      },
      "name": "ListCustomRoutingListeners",
      "output": {
        "shape": "ListCustomRoutingListenersResponse"
      }
    },
    "ListCustomRoutingPortMappings": {
      "documentation": "<p>Provides a complete mapping from the public accelerator IP address and port to destination EC2 instance IP addresses and ports in the virtual public cloud (VPC) subnet endpoint for a custom routing accelerator. For each subnet endpoint that you add, Global Accelerator creates a new static port mapping for the accelerator. The port mappings don't change after Global Accelerator generates them, so you can retrieve and cache the full mapping on your servers. </p> <p>If you remove a subnet from your accelerator, Global Accelerator removes (reclaims) the port mappings. If you add a subnet to your accelerator, Global Accelerator creates new port mappings (the existing ones don't change). If you add or remove EC2 instances in your subnet, the port mappings don't change, because the mappings are created when you add the subnet to Global Accelerator.</p> <p>The mappings also include a flag for each destination denoting which destination IP addresses and ports are allowed or denied traffic.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomRoutingPortMappingsRequest"
      },
      "name": "ListCustomRoutingPortMappings",
      "output": {
        "shape": "ListCustomRoutingPortMappingsResponse"
      }
    },
    "ListCustomRoutingPortMappingsByDestination": {
      "documentation": "<p>List the port mappings for a specific EC2 instance (destination) in a VPC subnet endpoint. The response is the mappings for one destination IP address. This is useful when your subnet endpoint has mappings that span multiple custom routing accelerators in your account, or for scenarios where you only want to list the port mappings for a specific destination instance.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "EndpointNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomRoutingPortMappingsByDestinationRequest"
      },
      "name": "ListCustomRoutingPortMappingsByDestination",
      "output": {
        "shape": "ListCustomRoutingPortMappingsByDestinationResponse"
      }
    },
    "ListEndpointGroups": {
      "documentation": "<p>List the endpoint groups that are associated with a listener. </p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointGroupsRequest"
      },
      "name": "ListEndpointGroups",
      "output": {
        "shape": "ListEndpointGroupsResponse"
      }
    },
    "ListListeners": {
      "documentation": "<p>List the listeners for an accelerator. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListListenersRequest"
      },
      "name": "ListListeners",
      "output": {
        "shape": "ListListenersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List all tags for an accelerator. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ProvisionByoipCidr": {
      "documentation": "<p>Provisions an IP address range to use with your Amazon Web Services resources through bring your own IP addresses (BYOIP) and creates a corresponding address pool. After the address range is provisioned, it is ready to be advertised using <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/AdvertiseByoipCidr.html\"> AdvertiseByoipCidr</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "IncorrectCidrStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ProvisionByoipCidrRequest"
      },
      "name": "ProvisionByoipCidr",
      "output": {
        "shape": "ProvisionByoipCidrResponse"
      }
    },
    "RemoveCustomRoutingEndpoints": {
      "documentation": "<p>Remove endpoints from a custom routing accelerator.</p>",
      "errors": [
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "EndpointNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveCustomRoutingEndpointsRequest"
      },
      "name": "RemoveCustomRoutingEndpoints"
    },
    "RemoveEndpoints": {
      "documentation": "<p>Remove endpoints from an endpoint group. </p> <p>The <code>RemoveEndpoints</code> API operation is the recommended option for removing endpoints. The alternative is to remove endpoints by updating an endpoint group by using the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_UpdateEndpointGroup.html\">UpdateEndpointGroup</a> API operation. There are two advantages to using <code>AddEndpoints</code> to remove endpoints instead:</p> <ul> <li> <p>It's more convenient, because you only need to specify the endpoints that you want to remove. With the <code>UpdateEndpointGroup</code> API operation, you must specify all of the endpoints in the endpoint group except the ones that you want to remove from the group.</p> </li> <li> <p>It's faster, because Global Accelerator doesn't need to resolve any endpoints. With the <code>UpdateEndpointGroup</code> API operation, Global Accelerator must resolve all of the endpoints that remain in the group.</p> </li> </ul>",
      "errors": [
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "TransactionInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveEndpointsRequest"
      },
      "name": "RemoveEndpoints"
    },
    "TagResource": {
      "documentation": "<p>Add tags to an accelerator resource. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from a Global Accelerator resource. When you specify a tag key, the action removes both that key and its associated value. The operation succeeds even if you attempt to remove tags from an accelerator that was already removed.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAccelerator": {
      "documentation": "<p>Update an accelerator. </p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple Amazon Web Services Regions but you must specify the US West (Oregon) Region to create, update, or otherwise work with accelerators. That is, for example, specify <code>--region us-west-2</code> on AWS CLI commands.</p> </important>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAcceleratorRequest"
      },
      "name": "UpdateAccelerator",
      "output": {
        "shape": "UpdateAcceleratorResponse"
      }
    },
    "UpdateAcceleratorAttributes": {
      "documentation": "<p>Update the attributes for an accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAcceleratorAttributesRequest"
      },
      "name": "UpdateAcceleratorAttributes",
      "output": {
        "shape": "UpdateAcceleratorAttributesResponse"
      }
    },
    "UpdateCustomRoutingAccelerator": {
      "documentation": "<p>Update a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCustomRoutingAcceleratorRequest"
      },
      "name": "UpdateCustomRoutingAccelerator",
      "output": {
        "shape": "UpdateCustomRoutingAcceleratorResponse"
      }
    },
    "UpdateCustomRoutingAcceleratorAttributes": {
      "documentation": "<p>Update the attributes for a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "AcceleratorNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCustomRoutingAcceleratorAttributesRequest"
      },
      "name": "UpdateCustomRoutingAcceleratorAttributes",
      "output": {
        "shape": "UpdateCustomRoutingAcceleratorAttributesResponse"
      }
    },
    "UpdateCustomRoutingListener": {
      "documentation": "<p>Update a listener for a custom routing accelerator. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidPortRangeException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCustomRoutingListenerRequest"
      },
      "name": "UpdateCustomRoutingListener",
      "output": {
        "shape": "UpdateCustomRoutingListenerResponse"
      }
    },
    "UpdateEndpointGroup": {
      "documentation": "<p>Update an endpoint group. A resource must be valid and active when you add it as an endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "EndpointGroupNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointGroupRequest"
      },
      "name": "UpdateEndpointGroup",
      "output": {
        "shape": "UpdateEndpointGroupResponse"
      }
    },
    "UpdateListener": {
      "documentation": "<p>Update a listener. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidPortRangeException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateListenerRequest"
      },
      "name": "UpdateListener",
      "output": {
        "shape": "UpdateListenerResponse"
      }
    },
    "WithdrawByoipCidr": {
      "documentation": "<p>Stops advertising an address range that is provisioned as an address pool. You can perform this operation at most once every 10 seconds, even if you specify different address ranges each time.</p> <p>It can take a few minutes before traffic to the specified addresses stops routing to Amazon Web Services because of propagation delays.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ByoipCidrNotFoundException"
        },
        {
          "shape": "IncorrectCidrStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "WithdrawByoipCidrRequest"
      },
      "name": "WithdrawByoipCidr",
      "output": {
        "shape": "WithdrawByoipCidrResponse"
      }
    }
  },
  "shapes": {
    "Accelerator": {
      "documentation": "<p>An accelerator is a complex type that includes one or more listeners that process inbound connections and then direct traffic to one or more endpoint groups, each of which includes endpoints, such as load balancers.</p>",
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the accelerator.</p>",
          "shape": "GenericString"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time that the accelerator was created.</p>",
          "shape": "Timestamp"
        },
        "DnsName": {
          "documentation": "<p>The Domain Name System (DNS) name that Global Accelerator creates that points to an accelerator's static IPv4 addresses.</p> <p>The naming convention for the DNS name for an accelerator is the following: A lowercase letter a, followed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example: a1234567890abcdef.awsglobalaccelerator.com.</p> <p>If you have a dual-stack accelerator, you also have a second DNS name, <code>DualStackDnsName</code>, that points to both the A record and the AAAA record for all four static addresses for the accelerator: two IPv4 addresses and two IPv6 addresses.</p> <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/dns-addressing-custom-domains.dns-addressing.html\"> Support for DNS addressing in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "GenericString"
        },
        "DualStackDnsName": {
          "documentation": "<p>The Domain Name System (DNS) name that Global Accelerator creates that points to a dual-stack accelerator's four static IP addresses: two IPv4 addresses and two IPv6 addresses.</p> <p>The naming convention for the dual-stack DNS name is the following: A lowercase letter a, followed by a 16-bit random hex string, followed by .dualstack.awsglobalaccelerator.com. For example: a1234567890abcdef.dualstack.awsglobalaccelerator.com.</p> <p>Note: Global Accelerator also assigns a default DNS name, <code>DnsName</code>, to your accelerator that points just to the static IPv4 addresses. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing\"> Support for DNS addressing in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "GenericString"
        },
        "Enabled": {
          "documentation": "<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
          "shape": "GenericBoolean"
        },
        "Events": {
          "documentation": "<p>A history of changes that you make to an accelerator in Global Accelerator.</p>",
          "shape": "AcceleratorEvents"
        },
        "IpAddressType": {
          "documentation": "<p>The IP address type that an accelerator supports. For a standard accelerator, the value can be IPV4 or DUAL_STACK.</p>",
          "shape": "IpAddressType"
        },
        "IpSets": {
          "documentation": "<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>",
          "shape": "IpSets"
        },
        "LastModifiedTime": {
          "documentation": "<p>The date and time that the accelerator was last modified.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the accelerator. The name must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
          "shape": "GenericString"
        },
        "Status": {
          "documentation": "<p>Describes the deployment status of the accelerator.</p>",
          "shape": "AcceleratorStatus"
        }
      },
      "type": "structure"
    },
    "AcceleratorAttributes": {
      "documentation": "<p>Attributes of an accelerator.</p>",
      "members": {
        "FlowLogsEnabled": {
          "documentation": "<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow logs</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "GenericBoolean"
        },
        "FlowLogsS3Bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants Global Accelerator permission to write to the bucket.</p>",
          "shape": "GenericString"
        },
        "FlowLogsS3Prefix": {
          "documentation": "<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>.</p> <p>If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p> <p>s3-bucket_name//AWSLogs/aws_account_id</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "AcceleratorEvent": {
      "documentation": "<p>A complex type that contains a <code>Timestamp</code> value and <code>Message</code> for changes that you make to an accelerator in Global Accelerator. Messages stored here provide progress or error information when you update an accelerator from IPv4 to dual-stack, or from dual-stack to IPv4. Global Accelerator stores a maximum of ten event messages. </p>",
      "members": {
        "Message": {
          "documentation": "<p>A string that contains an <code>Event</code> message describing changes or errors when you update an accelerator in Global Accelerator from IPv4 to dual-stack, or dual-stack to IPv4.</p>",
          "shape": "GenericString"
        },
        "Timestamp": {
          "documentation": "<p>A timestamp for when you update an accelerator in Global Accelerator from IPv4 to dual-stack, or dual-stack to IPv4.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AcceleratorEvents": {
      "member": {
        "shape": "AcceleratorEvent"
      },
      "type": "list"
    },
    "AcceleratorNotDisabledException": {
      "documentation": "<p>The accelerator that you specified could not be disabled.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AcceleratorNotFoundException": {
      "documentation": "<p>The accelerator that you specified doesn't exist.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AcceleratorStatus": {
      "enum": [
        "DEPLOYED",
        "IN_PROGRESS"
      ],
      "type": "string"
    },
    "Accelerators": {
      "member": {
        "shape": "Accelerator"
      },
      "type": "list"
    },
    "AccessDeniedException": {
      "documentation": "<p>You don't have access permission.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AddCustomRoutingEndpointsRequest": {
      "members": {
        "EndpointConfigurations": {
          "documentation": "<p>The list of endpoint objects to add to a custom routing accelerator.</p>",
          "shape": "CustomRoutingEndpointConfigurations"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "EndpointConfigurations",
        "EndpointGroupArn"
      ],
      "type": "structure"
    },
    "AddCustomRoutingEndpointsResponse": {
      "members": {
        "EndpointDescriptions": {
          "documentation": "<p>The endpoint objects added to the custom routing accelerator.</p>",
          "shape": "CustomRoutingEndpointDescriptions"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "AddEndpointsRequest": {
      "members": {
        "EndpointConfigurations": {
          "documentation": "<p>The list of endpoint objects.</p>",
          "shape": "EndpointConfigurations"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "EndpointConfigurations",
        "EndpointGroupArn"
      ],
      "type": "structure"
    },
    "AddEndpointsResponse": {
      "members": {
        "EndpointDescriptions": {
          "documentation": "<p>The list of endpoint objects.</p>",
          "shape": "EndpointDescriptions"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "AdvertiseByoipCidrRequest": {
      "members": {
        "Cidr": {
          "documentation": "<p>The address range, in CIDR notation. This must be the exact range that you provisioned. You can't advertise only a portion of the provisioned range.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "Cidr"
      ],
      "type": "structure"
    },
    "AdvertiseByoipCidrResponse": {
      "members": {
        "ByoipCidr": {
          "documentation": "<p>Information about the address range.</p>",
          "shape": "ByoipCidr"
        }
      },
      "type": "structure"
    },
    "AllowCustomRoutingTrafficRequest": {
      "members": {
        "AllowAllTrafficToEndpoint": {
          "documentation": "<p>Indicates whether all destination IP addresses and ports for a specified VPC subnet endpoint can receive traffic from a custom routing accelerator. The value is TRUE or FALSE. </p> <p>When set to TRUE, <i>all</i> destinations in the custom routing VPC subnet can receive traffic. Note that you cannot specify destination IP addresses and ports when the value is set to TRUE.</p> <p>When set to FALSE (or not specified), you <i>must</i> specify a list of destination IP addresses that are allowed to receive traffic. A list of ports is optional. If you don't specify a list of ports, the ports that can accept traffic is the same as the ports configured for the endpoint group.</p> <p>The default value is FALSE.</p>",
          "shape": "GenericBoolean"
        },
        "DestinationAddresses": {
          "documentation": "<p>A list of specific Amazon EC2 instance IP addresses (destination addresses) in a subnet that you want to allow to receive traffic. The IP addresses must be a subset of the IP addresses that you specified for the endpoint group.</p> <p> <code>DestinationAddresses</code> is required if <code>AllowAllTrafficToEndpoint</code> is <code>FALSE</code> or is not specified.</p>",
          "shape": "DestinationAddresses"
        },
        "DestinationPorts": {
          "documentation": "<p>A list of specific Amazon EC2 instance ports (destination ports) that you want to allow to receive traffic.</p>",
          "shape": "DestinationPorts"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
          "shape": "GenericString"
        },
        "EndpointId": {
          "documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "EndpointGroupArn",
        "EndpointId"
      ],
      "type": "structure"
    },
    "AssociatedEndpointGroupFoundException": {
      "documentation": "<p>The listener that you specified has an endpoint group associated with it. You must remove all dependent resources from a listener before you can delete it.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AssociatedListenerFoundException": {
      "documentation": "<p>The accelerator that you specified has a listener associated with it. You must remove all dependent resources from an accelerator before you can delete it.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ByoipCidr": {
      "documentation": "<p>Information about an IP address range that is provisioned for use with your Amazon Web Services resources through bring your own IP address (BYOIP).</p> <p>The following describes each BYOIP <code>State</code> that your IP address range can be in.</p> <ul> <li> <p> <b>PENDING_PROVISIONING</b> \u2014 You\u2019ve submitted a request to provision an IP address range but it is not yet provisioned with Global Accelerator.</p> </li> <li> <p> <b>READY</b> \u2014 The address range is provisioned with Global Accelerator and can be advertised.</p> </li> <li> <p> <b>PENDING_ADVERTISING</b> \u2014 You\u2019ve submitted a request for Global Accelerator to advertise an address range but it is not yet being advertised.</p> </li> <li> <p> <b>ADVERTISING</b> \u2014 The address range is being advertised by Global Accelerator.</p> </li> <li> <p> <b>PENDING_WITHDRAWING</b> \u2014 You\u2019ve submitted a request to withdraw an address range from being advertised but it is still being advertised by Global Accelerator.</p> </li> <li> <p> <b>PENDING_DEPROVISIONING</b> \u2014 You\u2019ve submitted a request to deprovision an address range from Global Accelerator but it is still provisioned.</p> </li> <li> <p> <b>DEPROVISIONED</b> \u2014 The address range is deprovisioned from Global Accelerator.</p> </li> <li> <p> <b>FAILED_PROVISION </b> \u2014 The request to provision the address range from Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact Amazon Web Services support.</p> </li> <li> <p> <b>FAILED_ADVERTISING</b> \u2014 The request for Global Accelerator to advertise the address range was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact Amazon Web Services support.</p> </li> <li> <p> <b>FAILED_WITHDRAW</b> \u2014 The request to withdraw the address range from advertising by Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact Amazon Web Services support.</p> </li> <li> <p> <b>FAILED_DEPROVISION </b> \u2014 The request to deprovision the address range from Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact Amazon Web Services support.</p> </li> </ul>",
      "members": {
        "Cidr": {
          "documentation": "<p>The address range, in CIDR notation.</p>",
          "shape": "GenericString"
        },
        "Events": {
          "documentation": "<p>A history of status changes for an IP address range that you bring to Global Accelerator through bring your own IP address (BYOIP).</p>",
          "shape": "ByoipCidrEvents"
        },
        "State": {
          "documentation": "<p>The state of the address pool.</p>",
          "shape": "ByoipCidrState"
        }
      },
      "type": "structure"
    },
    "ByoipCidrEvent": {
      "documentation": "<p>A complex type that contains a <code>Message</code> and a <code>Timestamp</code> value for changes that you make in the status of an IP address range that you bring to Global Accelerator through bring your own IP address (BYOIP).</p>",
      "members": {
        "Message": {
          "documentation": "<p>A string that contains an <code>Event</code> message describing changes that you make in the status of an IP address range that you bring to Global Accelerator through bring your own IP address (BYOIP).</p>",
          "shape": "GenericString"
        },
        "Timestamp": {
          "documentation": "<p>A timestamp for when you make a status change for an IP address range that you bring to Global Accelerator through bring your own IP address (BYOIP).</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ByoipCidrEvents": {
      "member": {
        "shape": "ByoipCidrEvent"
      },
      "type": "list"
    },
    "ByoipCidrNotFoundException": {
      "documentation": "<p>The CIDR that you specified was not found or is incorrect.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ByoipCidrState": {
      "enum": [
        "PENDING_PROVISIONING",
        "READY",
        "PENDING_ADVERTISING",
        "ADVERTISING",
        "PENDING_WITHDRAWING",
        "PENDING_DEPROVISIONING",
        "DEPROVISIONED",
        "FAILED_PROVISION",
        "FAILED_ADVERTISING",
        "FAILED_WITHDRAW",
        "FAILED_DEPROVISION"
      ],
      "type": "string"
    },
    "ByoipCidrs": {
      "member": {
        "shape": "ByoipCidr"
      },
      "type": "list"
    },
    "CidrAuthorizationContext": {
      "documentation": "<p>Provides authorization for Amazon to bring a specific IP address range to a specific Amazon Web Services account using bring your own IP addresses (BYOIP). </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
      "members": {
        "Message": {
          "documentation": "<p>The plain-text authorization message for the prefix and account.</p>",
          "shape": "GenericString"
        },
        "Signature": {
          "documentation": "<p>The signed authorization message for the prefix and account.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "Message",
        "Signature"
      ],
      "type": "structure"
    },
    "ClientAffinity": {
      "enum": [
        "NONE",
        "SOURCE_IP"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>You can't use both of those options.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateAcceleratorRequest": {
      "members": {
        "Enabled": {
          "documentation": "<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>",
          "shape": "GenericBoolean"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of an accelerator.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "IpAddressType": {
          "documentation": "<p>The IP address type that an accelerator supports. For a standard accelerator, the value can be IPV4 or DUAL_STACK.</p>",
          "shape": "IpAddressType"
        },
        "IpAddresses": {
          "documentation": "<p>Optionally, if you've added your own IP address pool to Global Accelerator (BYOIP), you can choose an IPv4 address from your own pool to use for the accelerator's static IPv4 address when you create an accelerator. </p> <p>After you bring an address range to Amazon Web Services, it appears in your account as an address pool. When you create an accelerator, you can assign one IPv4 address from your range to it. Global Accelerator assigns you a second static IPv4 address from an Amazon IP address range. If you bring two IPv4 address ranges to Amazon Web Services, you can assign one IPv4 address from each range to your accelerator. This restriction is because Global Accelerator assigns each address range to a different network zone, for high availability.</p> <p>You can specify one or two addresses, separated by a space. Do not include the /32 suffix.</p> <p>Note that you can't update IP addresses for an existing accelerator. To change them, you must create a new accelerator with the new addresses.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "IpAddresses"
        },
        "Name": {
          "documentation": "<p>The name of the accelerator. The name can have a maximum of 64 characters, must contain only alphanumeric characters, periods (.), or hyphens (-), and must not begin or end with a hyphen or period.</p>",
          "shape": "GenericString"
        },
        "Tags": {
          "documentation": "<p>Create tags for an accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Name",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateAcceleratorResponse": {
      "members": {
        "Accelerator": {
          "documentation": "<p>The accelerator that is created by specifying a listener and the supported IP address types.</p>",
          "shape": "Accelerator"
        }
      },
      "type": "structure"
    },
    "CreateCustomRoutingAcceleratorRequest": {
      "members": {
        "Enabled": {
          "documentation": "<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>",
          "shape": "GenericBoolean"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "IpAddressType": {
          "documentation": "<p>The IP address type that an accelerator supports. For a custom routing accelerator, the value must be IPV4.</p>",
          "shape": "IpAddressType"
        },
        "IpAddresses": {
          "documentation": "<p>Optionally, if you've added your own IP address pool to Global Accelerator (BYOIP), you can choose an IPv4 address from your own pool to use for the accelerator's static IPv4 address when you create an accelerator. </p> <p>After you bring an address range to Amazon Web Services, it appears in your account as an address pool. When you create an accelerator, you can assign one IPv4 address from your range to it. Global Accelerator assigns you a second static IPv4 address from an Amazon IP address range. If you bring two IPv4 address ranges to Amazon Web Services, you can assign one IPv4 address from each range to your accelerator. This restriction is because Global Accelerator assigns each address range to a different network zone, for high availability.</p> <p>You can specify one or two addresses, separated by a space. Do not include the /32 suffix.</p> <p>Note that you can't update IP addresses for an existing accelerator. To change them, you must create a new accelerator with the new addresses.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "IpAddresses"
        },
        "Name": {
          "documentation": "<p>The name of a custom routing accelerator. The name can have a maximum of 64 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
          "shape": "GenericString"
        },
        "Tags": {
          "documentation": "<p>Create tags for an accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Name",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateCustomRoutingAcceleratorResponse": {
      "members": {
        "Accelerator": {
          "documentation": "<p>The accelerator that is created.</p>",
          "shape": "CustomRoutingAccelerator"
        }
      },
      "type": "structure"
    },
    "CreateCustomRoutingEndpointGroupRequest": {
      "members": {
        "DestinationConfigurations": {
          "documentation": "<p>Sets the port range and protocol for all endpoints (virtual private cloud subnets) in a custom routing endpoint group to accept client traffic on.</p>",
          "shape": "CustomRoutingDestinationConfigurations"
        },
        "EndpointGroupRegion": {
          "documentation": "<p>The Amazon Web Services Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.</p>",
          "shape": "GenericString"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener for a custom routing endpoint.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "ListenerArn",
        "EndpointGroupRegion",
        "DestinationConfigurations",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateCustomRoutingEndpointGroupResponse": {
      "members": {
        "EndpointGroup": {
          "documentation": "<p>The information about the endpoint group created for a custom routing accelerator.</p>",
          "shape": "CustomRoutingEndpointGroup"
        }
      },
      "type": "structure"
    },
    "CreateCustomRoutingListenerRequest": {
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the accelerator for a custom routing listener.</p>",
          "shape": "GenericString"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "PortRanges": {
          "documentation": "<p>The port range to support for connections from clients to your accelerator.</p> <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About endpoints for custom routing accelerators</a>.</p>",
          "shape": "PortRanges"
        }
      },
      "required": [
        "AcceleratorArn",
        "PortRanges",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateCustomRoutingListenerResponse": {
      "members": {
        "Listener": {
          "documentation": "<p>The listener that you've created for a custom routing accelerator.</p>",
          "shape": "CustomRoutingListener"
        }
      },
      "type": "structure"
    },
    "CreateEndpointGroupRequest": {
      "members": {
        "EndpointConfigurations": {
          "documentation": "<p>The list of endpoint objects.</p>",
          "shape": "EndpointConfigurations"
        },
        "EndpointGroupRegion": {
          "documentation": "<p>The Amazon Web Services Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.</p>",
          "shape": "GenericString"
        },
        "HealthCheckIntervalSeconds": {
          "documentation": "<p>The time\u201410 seconds or 30 seconds\u2014between each health check for an endpoint. The default value is 30.</p>",
          "shape": "HealthCheckIntervalSeconds"
        },
        "HealthCheckPath": {
          "documentation": "<p>If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The default value is slash (/).</p>",
          "shape": "HealthCheckPath"
        },
        "HealthCheckPort": {
          "documentation": "<p>The port that Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port is the listener port that this endpoint group is associated with. If listener port is a list of ports, Global Accelerator uses the first port in the list.</p>",
          "shape": "HealthCheckPort"
        },
        "HealthCheckProtocol": {
          "documentation": "<p>The protocol that Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default value is TCP.</p>",
          "shape": "HealthCheckProtocol"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "GenericString"
        },
        "PortOverrides": {
          "documentation": "<p>Override specific listener ports used to route traffic to endpoints that are part of this endpoint group. For example, you can create a port override in which the listener receives user traffic on ports 80 and 443, but your accelerator routes that traffic to ports 1080 and 1443, respectively, on the endpoints.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoint-groups-port-override.html\"> Overriding listener ports</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "PortOverrides"
        },
        "ThresholdCount": {
          "documentation": "<p>The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.</p>",
          "shape": "ThresholdCount"
        },
        "TrafficDialPercentage": {
          "documentation": "<p>The percentage of traffic to send to an Amazon Web Services Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>",
          "shape": "TrafficDialPercentage"
        }
      },
      "required": [
        "ListenerArn",
        "EndpointGroupRegion",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateEndpointGroupResponse": {
      "members": {
        "EndpointGroup": {
          "documentation": "<p>The information about the endpoint group that was created.</p>",
          "shape": "EndpointGroup"
        }
      },
      "type": "structure"
    },
    "CreateListenerRequest": {
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of your accelerator.</p>",
          "shape": "GenericString"
        },
        "ClientAffinity": {
          "documentation": "<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Client affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the \"five-tuple\" (5-tuple) properties\u2014source IP address, source port, destination IP address, destination port, and protocol\u2014to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the \"two-tuple\" (2-tuple) properties\u2014 source (client) IP address and destination IP address\u2014to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>",
          "shape": "ClientAffinity"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency\u2014that is, the uniqueness\u2014of the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "PortRanges": {
          "documentation": "<p>The list of port ranges to support for connections from clients to your accelerator.</p>",
          "shape": "PortRanges"
        },
        "Protocol": {
          "documentation": "<p>The protocol for connections from clients to your accelerator.</p>",
          "shape": "Protocol"
        }
      },
      "required": [
        "AcceleratorArn",
        "PortRanges",
        "Protocol",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateListenerResponse": {
      "members": {
        "Listener": {
          "documentation": "<p>The listener that you've created.</p>",
          "shape": "Listener"
        }
      },
      "type": "structure"
    },
    "CustomRoutingAccelerator": {
      "documentation": "<p>Attributes of a custom routing accelerator.</p>",
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator.</p>",
          "shape": "GenericString"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time that the accelerator was created.</p>",
          "shape": "Timestamp"
        },
        "DnsName": {
          "documentation": "<p>The Domain Name System (DNS) name that Global Accelerator creates that points to an accelerator's static IPv4 addresses. </p> <p>The naming convention for the DNS name is the following: A lowercase letter a, followed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example: a1234567890abcdef.awsglobalaccelerator.com.</p> <p>If you have a dual-stack accelerator, you also have a second DNS name, <code>DualStackDnsName</code>, that points to both the A record and the AAAA record for all four static addresses for the accelerator: two IPv4 addresses and two IPv6 addresses.</p> <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/dns-addressing-custom-domains.dns-addressing.html\"> Support for DNS addressing in Global Accelerator</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "GenericString"
        },
        "Enabled": {
          "documentation": "<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>",
          "shape": "GenericBoolean"
        },
        "IpAddressType": {
          "documentation": "<p>The IP address type that an accelerator supports. For a custom routing accelerator, the value must be IPV4.</p>",
          "shape": "IpAddressType"
        },
        "IpSets": {
          "documentation": "<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>",
          "shape": "IpSets"
        },
        "LastModifiedTime": {
          "documentation": "<p>The date and time that the accelerator was last modified.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the accelerator. The name must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
          "shape": "GenericString"
        },
        "Status": {
          "documentation": "<p>Describes the deployment status of the accelerator.</p>",
          "shape": "CustomRoutingAcceleratorStatus"
        }
      },
      "type": "structure"
    },
    "CustomRoutingAcceleratorAttributes": {
      "documentation": "<p>Attributes of a custom routing accelerator.</p>",
      "members": {
        "FlowLogsEnabled": {
          "documentation": "<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow logs</a> in the <i>Global Accelerator Developer Guide</i>.</p>",
          "shape": "GenericBoolean"
        },
        "FlowLogsS3Bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants Global Accelerator permission to write to the bucket.</p>",
          "shape": "GenericString"
        },
        "FlowLogsS3Prefix": {
          "documentation": "<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>.</p> <p>If you don\u2019t specify a prefix, the flow logs are stored in the root of the bucket. If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p> <p>DOC-EXAMPLE-BUCKET//AWSLogs/aws_account_id</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "CustomRoutingAcceleratorStatus": {
      "enum": [
        "DEPLOYED",
        "IN_PROGRESS"
      ],
      "type": "string"
    },
    "CustomRoutingAccelerators": {
      "member": {
        "shape": "CustomRoutingAccelerator"
      },
      "type": "list"
    },
    "CustomRoutingDestinationConfiguration": {
      "documentation": "<p>For a custom routing accelerator, sets the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>",
      "members": {
        "FromPort": {
          "documentation": "<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
          "shape": "PortNumber"
        },
        "Protocols": {
          "documentation": "<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>",
          "shape": "CustomRoutingProtocols"
        },
        "ToPort": {
          "documentation": "<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
          "shape": "PortNumber"
        }
      },
      "required": [
        "FromPort",
        "ToPort",
        "Protocols"
      ],
      "type": "structure"
    },
    "CustomRoutingDestinationConfigurations": {
      "max": 100,
      "member": {
        "shape": "CustomRoutingDestinationConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "CustomRoutingDestinationDescription": {
      "documentation": "<p>For a custom routing accelerator, describes the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>",
      "members": {
        "FromPort": {
          "documentation": "<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
          "shape": "PortNumber"
        },
        "Protocols": {
          "documentation": "<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>",
          "shape": "Protocols"
        },
        "ToPort": {
          "documentation": "<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
          "shape": "PortNumber"
        }
      },
      "type": "structure"
    },
    "CustomRoutingDestinationDescriptions": {
      "member": {
        "shape": "CustomRoutingDestinationDescription"
      },
      "type": "list"
    },
    "CustomRoutingDestinationTrafficState": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "CustomRoutingEndpointConfiguration": {
      "documentation": "<p>The list of endpoint objects. For custom routing, this is a list of virtual private cloud (VPC) subnet IDs.</p>",
      "members": {
        "EndpointId": {
          "documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID. </p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "CustomRoutingEndpointConfigurations": {
      "max": 20,
      "member": {
        "shape": "CustomRoutingEndpointConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "CustomRoutingEndpointDescription": {
      "documentation": "<p>A complex type for an endpoint for a custom routing accelerator. Each endpoint group can include one or more endpoints, which are virtual private cloud (VPC) subnets.</p>",
      "members": {
        "EndpointId": {
          "documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID. </p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "CustomRoutingEndpointDescriptions": {
      "member": {
        "shape": "CustomRoutingEndpointDescription"
      },
      "type": "list"
    },
    "CustomRoutingEndpointGroup": {
      "documentation": "<p>A complex type for the endpoint group for a custom routing accelerator. An Amazon Web Services Region can have only one endpoint group for a specific listener. </p>",
      "members": {
        "DestinationDescriptions": {
          "documentation": "<p>For a custom routing accelerator, describes the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>",
          "shape": "CustomRoutingDestinationDescriptions"
        },
        "EndpointDescriptions": {
          "documentation": "<p>For a custom routing accelerator, describes the endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>",
          "shape": "CustomRoutingEndpointDescriptions"
        },
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
          "shape": "GenericString"
        },
        "EndpointGroupRegion": {
          "documentation": "<p>The Amazon Web Services Region where the endpoint group is located.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "CustomRoutingEndpointGroups": {
      "member": {
        "shape": "CustomRoutingEndpointGroup"
      },
      "type": "list"
    },
    "CustomRoutingListener": {
      "documentation": "<p>A complex type for a listener for a custom routing accelerator.</p>",
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "GenericString"
        },
        "PortRanges": {
          "documentation": "<p>The port range to support for connections from clients to your accelerator.</p> <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About endpoints for custom routing accelerators</a>.</p>",
          "shape": "PortRanges"
        }
      },
      "type": "structure"
    },
    "CustomRoutingListeners": {
      "member": {
        "shape": "CustomRoutingListener"
      },
      "type": "list"
    },
    "CustomRoutingProtocol": {
      "enum": [
        "TCP",
        "UDP"
      ],
      "type": "string"
    },
    "CustomRoutingProtocols": {
      "max": 2,
      "member": {
        "shape": "CustomRoutingProtocol"
      },
      "min": 1,
      "type": "list"
    },
    "DeleteAcceleratorRequest": {
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an accelerator.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "AcceleratorArn"
      ],
      "type": "structure"
    },
    "DeleteCustomRoutingAcceleratorRequest": {
      "members": {
        "AcceleratorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator to delete.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "AcceleratorArn"
      ],
      "type": "structure"
    },
    "DeleteCustomRoutingEndpointGroupRequest": {
      "members": {
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "EndpointGroupArn"
      ],
      "type": "structure"
    },
    "DeleteCustomRoutingListenerRequest": {
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener to delete.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "ListenerArn"
      ],
      "type": "structure"
    },
    "DeleteEndpointGroupRequest": {
      "members": {
        "EndpointGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "EndpointGroupArn"
      ],
      "type": "structure"
    },
    "DeleteListenerRequest": {
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "ListenerArn"
      ],
      "type": "structure"
    },
    "DenyCustomRoutingTrafficRequest": {
      "members": {
        "DenyAllTrafficToEndpoint": {
[...]
