{
  "documentation": "<p>Welcome to the IoT SiteWise API Reference. IoT SiteWise is an Amazon Web Services service that connects <a href=\"https://en.wikipedia.org/wiki/Internet_of_things#Industrial_applications\">Industrial Internet of Things (IIoT)</a> devices to the power of the Amazon Web Services Cloud. For more information, see the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/\">IoT SiteWise User Guide</a>. For information about IoT SiteWise quotas, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>IoT SiteWise User Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2019-12-02",
    "endpointPrefix": "iotsitewise",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT SiteWise",
    "serviceId": "IoTSiteWise",
    "signatureVersion": "v4",
    "signingName": "iotsitewise",
    "uid": "iotsitewise-2019-12-02"
  },
  "operations": {
    "AssociateAssets": {
      "documentation": "<p>Associates a child asset with the given parent asset through a hierarchy defined in the parent asset's model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/add-associated-assets.html\">Associating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/assets/{assetId}/associate"
      },
      "input": {
        "shape": "AssociateAssetsRequest"
      },
      "name": "AssociateAssets"
    },
    "AssociateTimeSeriesToAssetProperty": {
      "documentation": "<p>Associates a time series (data stream) with an asset property.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/timeseries/associate/"
      },
      "input": {
        "shape": "AssociateTimeSeriesToAssetPropertyRequest"
      },
      "name": "AssociateTimeSeriesToAssetProperty"
    },
    "BatchAssociateProjectAssets": {
      "documentation": "<p>Associates a group (batch) of assets with an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/projects/{projectId}/assets/associate",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchAssociateProjectAssetsRequest"
      },
      "name": "BatchAssociateProjectAssets",
      "output": {
        "shape": "BatchAssociateProjectAssetsResponse"
      }
    },
    "BatchDisassociateProjectAssets": {
      "documentation": "<p>Disassociates a group (batch) of assets from an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/projects/{projectId}/assets/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDisassociateProjectAssetsRequest"
      },
      "name": "BatchDisassociateProjectAssets",
      "output": {
        "shape": "BatchDisassociateProjectAssetsResponse"
      }
    },
    "BatchGetAssetPropertyAggregates": {
      "documentation": "<p>Gets aggregated values (for example, average, minimum, and maximum) for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/properties/batch/aggregates"
      },
      "input": {
        "shape": "BatchGetAssetPropertyAggregatesRequest"
      },
      "name": "BatchGetAssetPropertyAggregates",
      "output": {
        "shape": "BatchGetAssetPropertyAggregatesResponse"
      }
    },
    "BatchGetAssetPropertyValue": {
      "documentation": "<p>Gets the current value for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/properties/batch/latest"
      },
      "input": {
        "shape": "BatchGetAssetPropertyValueRequest"
      },
      "name": "BatchGetAssetPropertyValue",
      "output": {
        "shape": "BatchGetAssetPropertyValueResponse"
      }
    },
    "BatchGetAssetPropertyValueHistory": {
      "documentation": "<p>Gets the historical values for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/properties/batch/history"
      },
      "input": {
        "shape": "BatchGetAssetPropertyValueHistoryRequest"
      },
      "name": "BatchGetAssetPropertyValueHistory",
      "output": {
        "shape": "BatchGetAssetPropertyValueHistoryResponse"
      }
    },
    "BatchPutAssetPropertyValue": {
      "documentation": "<p>Sends a list of asset property values to IoT SiteWise. Each value is a timestamp-quality-value (TQV) data point. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ingest-api.html\">Ingesting data using the API</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul> <important> <p>With respect to Unix epoch time, IoT SiteWise accepts only TQVs that have a timestamp of no more than 7 days in the past and no more than 10 minutes in the future. IoT SiteWise rejects timestamps outside of the inclusive range of [-7 days, +10 minutes] and returns a <code>TimestampOutOfRangeException</code> error.</p> <p>For each asset property, IoT SiteWise overwrites TQVs with duplicate timestamps unless the newer TQV has a different quality. For example, if you store a TQV <code>{T1, GOOD, V1}</code>, then storing <code>{T1, GOOD, V2}</code> replaces the existing TQV.</p> </important> <p>IoT SiteWise authorizes access to each <code>BatchPutAssetPropertyValue</code> entry individually. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-batchputassetpropertyvalue-action\">BatchPutAssetPropertyValue authorization</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/properties"
      },
      "input": {
        "shape": "BatchPutAssetPropertyValueRequest"
      },
      "name": "BatchPutAssetPropertyValue",
      "output": {
        "shape": "BatchPutAssetPropertyValueResponse"
      }
    },
    "CreateAccessPolicy": {
      "documentation": "<p>Creates an access policy that grants the specified identity (Amazon Web Services SSO user, Amazon Web Services SSO group, or IAM user) access to the specified IoT SiteWise Monitor portal or project resource.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/access-policies",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAccessPolicyRequest"
      },
      "name": "CreateAccessPolicy",
      "output": {
        "shape": "CreateAccessPolicyResponse"
      }
    },
    "CreateAsset": {
      "documentation": "<p>Creates an asset from an existing asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/create-assets.html\">Creating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/assets",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateAssetRequest"
      },
      "name": "CreateAsset",
      "output": {
        "shape": "CreateAssetResponse"
      }
    },
    "CreateAssetModel": {
      "documentation": "<p>Creates an asset model from specified property and hierarchy definitions. You create assets from asset models. With asset models, you can easily create assets of the same type that have standardized definitions. Each asset created from a model inherits the asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/define-models.html\">Defining asset models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/asset-models",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateAssetModelRequest"
      },
      "name": "CreateAssetModel",
      "output": {
        "shape": "CreateAssetModelResponse"
      }
    },
    "CreateBulkImportJob": {
      "documentation": "<p>Defines a job to ingest data to IoT SiteWise from Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/CreateBulkImportJob.html\">Create a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <important> <p>You must enable IoT SiteWise to export data to Amazon S3 before you create a bulk import job. For more information about how to configure storage settings, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_PutStorageConfiguration.html\">PutStorageConfiguration</a>.</p> </important>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/jobs",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateBulkImportJobRequest"
      },
      "name": "CreateBulkImportJob",
      "output": {
        "shape": "CreateBulkImportJobResponse"
      }
    },
    "CreateDashboard": {
      "documentation": "<p>Creates a dashboard in an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/dashboards",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDashboardRequest"
      },
      "name": "CreateDashboard",
      "output": {
        "shape": "CreateDashboardResponse"
      }
    },
    "CreateGateway": {
      "documentation": "<p>Creates a gateway, which is a virtual or edge device that delivers industrial data streams from local servers to IoT SiteWise. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/gateway-connector.html\">Ingesting data using a gateway</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/20200301/gateways",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateGatewayRequest"
      },
      "name": "CreateGateway",
      "output": {
        "shape": "CreateGatewayResponse"
      }
    },
    "CreatePortal": {
      "documentation": "<p>Creates a portal, which can contain projects and dashboards. IoT SiteWise Monitor uses Amazon Web Services SSO or IAM to authenticate portal users and manage user permissions.</p> <note> <p>Before you can sign in to a new portal, you must add at least one identity to that portal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/administer-portals.html#portal-change-admins\">Adding or removing portal administrators</a> in the <i>IoT SiteWise User Guide</i>.</p> </note>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/portals",
        "responseCode": 202
      },
      "input": {
        "shape": "CreatePortalRequest"
      },
      "name": "CreatePortal",
      "output": {
        "shape": "CreatePortalResponse"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a project in the specified portal.</p> <note> <p>Make sure that the project name and description don't contain confidential information.</p> </note>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/projects",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateProjectRequest"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectResponse"
      }
    },
    "DeleteAccessPolicy": {
      "documentation": "<p>Deletes an access policy that grants the specified identity access to the specified IoT SiteWise Monitor resource. You can use this operation to revoke access to an IoT SiteWise Monitor resource.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/access-policies/{accessPolicyId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAccessPolicyRequest"
      },
      "name": "DeleteAccessPolicy",
      "output": {
        "shape": "DeleteAccessPolicyResponse"
      }
    },
    "DeleteAsset": {
      "documentation": "<p>Deletes an asset. This action can't be undone. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>. </p> <note> <p>You can't delete an asset that's associated to another asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DisassociateAssets.html\">DisassociateAssets</a>.</p> </note>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/assets/{assetId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteAssetRequest"
      },
      "name": "DeleteAsset",
      "output": {
        "shape": "DeleteAssetResponse"
      }
    },
    "DeleteAssetModel": {
      "documentation": "<p>Deletes an asset model. This action can't be undone. You must delete all assets created from an asset model before you can delete the model. Also, you can't delete an asset model if a parent asset model exists that contains a property formula expression that depends on the asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/asset-models/{assetModelId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteAssetModelRequest"
      },
      "name": "DeleteAssetModel",
      "output": {
        "shape": "DeleteAssetModelResponse"
      }
    },
    "DeleteDashboard": {
      "documentation": "<p>Deletes a dashboard from IoT SiteWise Monitor.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/dashboards/{dashboardId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDashboardRequest"
      },
      "name": "DeleteDashboard",
      "output": {
        "shape": "DeleteDashboardResponse"
      }
    },
    "DeleteGateway": {
      "documentation": "<p>Deletes a gateway from IoT SiteWise. When you delete a gateway, some of the gateway's files remain in your gateway's file system.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/20200301/gateways/{gatewayId}"
      },
      "input": {
        "shape": "DeleteGatewayRequest"
      },
      "name": "DeleteGateway"
    },
    "DeletePortal": {
      "documentation": "<p>Deletes a portal from IoT SiteWise Monitor.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/portals/{portalId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePortalRequest"
      },
      "name": "DeletePortal",
      "output": {
        "shape": "DeletePortalResponse"
      }
    },
    "DeleteProject": {
      "documentation": "<p>Deletes a project from IoT SiteWise Monitor.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/projects/{projectId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteProjectRequest"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectResponse"
      }
    },
    "DeleteTimeSeries": {
      "documentation": "<p>Deletes a time series (data stream). If you delete a time series that's associated with an asset property, the asset property still exists, but the time series will no longer be associated with this asset property.</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/timeseries/delete/"
      },
      "input": {
        "shape": "DeleteTimeSeriesRequest"
      },
      "name": "DeleteTimeSeries"
    },
    "DescribeAccessPolicy": {
      "documentation": "<p>Describes an access policy, which specifies an identity's access to an IoT SiteWise Monitor portal or project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/access-policies/{accessPolicyId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAccessPolicyRequest"
      },
      "name": "DescribeAccessPolicy",
      "output": {
        "shape": "DescribeAccessPolicyResponse"
      }
    },
    "DescribeAsset": {
      "documentation": "<p>Retrieves information about an asset.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/assets/{assetId}"
      },
      "input": {
        "shape": "DescribeAssetRequest"
      },
      "name": "DescribeAsset",
      "output": {
        "shape": "DescribeAssetResponse"
      }
    },
    "DescribeAssetModel": {
      "documentation": "<p>Retrieves information about an asset model.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/asset-models/{assetModelId}"
      },
      "input": {
        "shape": "DescribeAssetModelRequest"
      },
      "name": "DescribeAssetModel",
      "output": {
        "shape": "DescribeAssetModelResponse"
      }
    },
    "DescribeAssetProperty": {
      "documentation": "<p>Retrieves information about an asset property.</p> <note> <p>When you call this operation for an attribute property, this response includes the default attribute value that you define in the asset model. If you update the default value in the model, this operation's response includes the new default value.</p> </note> <p>This operation doesn't return the value of the asset property. To get the value of an asset property, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_GetAssetPropertyValue.html\">GetAssetPropertyValue</a>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/assets/{assetId}/properties/{propertyId}"
      },
      "input": {
        "shape": "DescribeAssetPropertyRequest"
      },
      "name": "DescribeAssetProperty",
      "output": {
        "shape": "DescribeAssetPropertyResponse"
      }
    },
    "DescribeBulkImportJob": {
      "documentation": "<p>Retrieves information about a bulk import job request. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/DescribeBulkImportJob.html\">Describe a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}"
      },
      "input": {
        "shape": "DescribeBulkImportJobRequest"
      },
      "name": "DescribeBulkImportJob",
      "output": {
        "shape": "DescribeBulkImportJobResponse"
      }
    },
    "DescribeDashboard": {
      "documentation": "<p>Retrieves information about a dashboard.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/dashboards/{dashboardId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeDashboardRequest"
      },
      "name": "DescribeDashboard",
      "output": {
        "shape": "DescribeDashboardResponse"
      }
    },
    "DescribeDefaultEncryptionConfiguration": {
      "documentation": "<p>Retrieves information about the default encryption configuration for the Amazon Web Services account in the default or specified Region. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/configuration/account/encryption"
      },
      "input": {
        "shape": "DescribeDefaultEncryptionConfigurationRequest"
      },
      "name": "DescribeDefaultEncryptionConfiguration",
      "output": {
        "shape": "DescribeDefaultEncryptionConfigurationResponse"
      }
    },
    "DescribeGateway": {
      "documentation": "<p>Retrieves information about a gateway.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/20200301/gateways/{gatewayId}"
      },
      "input": {
        "shape": "DescribeGatewayRequest"
      },
      "name": "DescribeGateway",
      "output": {
        "shape": "DescribeGatewayResponse"
      }
    },
    "DescribeGatewayCapabilityConfiguration": {
      "documentation": "<p>Retrieves information about a gateway capability configuration. Each gateway capability defines data sources for a gateway. A capability configuration can contain multiple data source configurations. If you define OPC-UA sources for a gateway in the IoT SiteWise console, all of your OPC-UA sources are stored in one capability configuration. To list all capability configurations for a gateway, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeGateway.html\">DescribeGateway</a>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/20200301/gateways/{gatewayId}/capability/{capabilityNamespace}"
      },
      "input": {
        "shape": "DescribeGatewayCapabilityConfigurationRequest"
      },
      "name": "DescribeGatewayCapabilityConfiguration",
      "output": {
        "shape": "DescribeGatewayCapabilityConfigurationResponse"
      }
    },
    "DescribeLoggingOptions": {
      "documentation": "<p>Retrieves the current IoT SiteWise logging options.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "DescribeLoggingOptionsRequest"
      },
      "name": "DescribeLoggingOptions",
      "output": {
        "shape": "DescribeLoggingOptionsResponse"
      }
    },
    "DescribePortal": {
      "documentation": "<p>Retrieves information about a portal.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/portals/{portalId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribePortalRequest"
      },
      "name": "DescribePortal",
      "output": {
        "shape": "DescribePortalResponse"
      }
    },
    "DescribeProject": {
      "documentation": "<p>Retrieves information about a project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeProjectRequest"
      },
      "name": "DescribeProject",
      "output": {
        "shape": "DescribeProjectResponse"
      }
    },
    "DescribeStorageConfiguration": {
      "documentation": "<p>Retrieves information about the storage configuration for IoT SiteWise.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/configuration/account/storage"
      },
      "input": {
        "shape": "DescribeStorageConfigurationRequest"
      },
      "name": "DescribeStorageConfiguration",
      "output": {
        "shape": "DescribeStorageConfigurationResponse"
      }
    },
    "DescribeTimeSeries": {
      "documentation": "<p>Retrieves information about a time series (data stream).</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/timeseries/describe/"
      },
      "input": {
        "shape": "DescribeTimeSeriesRequest"
      },
      "name": "DescribeTimeSeries",
      "output": {
        "shape": "DescribeTimeSeriesResponse"
      }
    },
    "DisassociateAssets": {
      "documentation": "<p>Disassociates a child asset from the given parent asset through a hierarchy defined in the parent asset's model.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/assets/{assetId}/disassociate"
      },
      "input": {
        "shape": "DisassociateAssetsRequest"
      },
      "name": "DisassociateAssets"
    },
    "DisassociateTimeSeriesFromAssetProperty": {
      "documentation": "<p>Disassociates a time series (data stream) from an asset property.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/timeseries/disassociate/"
      },
      "input": {
        "shape": "DisassociateTimeSeriesFromAssetPropertyRequest"
      },
      "name": "DisassociateTimeSeriesFromAssetProperty"
    },
    "GetAssetPropertyAggregates": {
      "documentation": "<p>Gets aggregated values for an asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/properties/aggregates"
      },
      "input": {
        "shape": "GetAssetPropertyAggregatesRequest"
      },
      "name": "GetAssetPropertyAggregates",
      "output": {
        "shape": "GetAssetPropertyAggregatesResponse"
      }
    },
    "GetAssetPropertyValue": {
      "documentation": "<p>Gets an asset property's current value. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/properties/latest"
      },
      "input": {
        "shape": "GetAssetPropertyValueRequest"
      },
      "name": "GetAssetPropertyValue",
      "output": {
        "shape": "GetAssetPropertyValueResponse"
      }
    },
    "GetAssetPropertyValueHistory": {
      "documentation": "<p>Gets the history of an asset property's values. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/properties/history"
      },
      "input": {
        "shape": "GetAssetPropertyValueHistoryRequest"
      },
      "name": "GetAssetPropertyValueHistory",
      "output": {
        "shape": "GetAssetPropertyValueHistoryResponse"
      }
    },
    "GetInterpolatedAssetPropertyValues": {
      "documentation": "<p>Get interpolated values for an asset property for a specified time interval, during a period of time. If your time series is missing data points during the specified time interval, you can use interpolation to estimate the missing data.</p> <p>For example, you can use this operation to return the interpolated temperature values for a wind turbine every 24 hours over a duration of 7 days.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/properties/interpolated"
      },
      "input": {
        "shape": "GetInterpolatedAssetPropertyValuesRequest"
      },
      "name": "GetInterpolatedAssetPropertyValues",
      "output": {
        "shape": "GetInterpolatedAssetPropertyValuesResponse"
      }
    },
    "ListAccessPolicies": {
      "documentation": "<p>Retrieves a paginated list of access policies for an identity (an Amazon Web Services SSO user, an Amazon Web Services SSO group, or an IAM user) or an IoT SiteWise Monitor resource (a portal or project).</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/access-policies",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccessPoliciesRequest"
      },
      "name": "ListAccessPolicies",
      "output": {
        "shape": "ListAccessPoliciesResponse"
      }
    },
    "ListAssetModels": {
      "documentation": "<p>Retrieves a paginated list of summaries of all asset models.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/asset-models"
      },
      "input": {
        "shape": "ListAssetModelsRequest"
      },
      "name": "ListAssetModels",
      "output": {
        "shape": "ListAssetModelsResponse"
      }
    },
    "ListAssetRelationships": {
      "documentation": "<p>Retrieves a paginated list of asset relationships for an asset. You can use this operation to identify an asset's root asset and all associated assets between that asset and its root.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/assets/{assetId}/assetRelationships"
      },
      "input": {
        "shape": "ListAssetRelationshipsRequest"
      },
      "name": "ListAssetRelationships",
      "output": {
        "shape": "ListAssetRelationshipsResponse"
      }
    },
    "ListAssets": {
      "documentation": "<p>Retrieves a paginated list of asset summaries.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p>List assets based on a specific asset model.</p> </li> <li> <p>List top-level assets.</p> </li> </ul> <p>You can't use this operation to list all assets. To retrieve summaries for all of your assets, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_ListAssetModels.html\">ListAssetModels</a> to get all of your asset model IDs. Then, use ListAssets to get all assets for each asset model.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/assets"
      },
      "input": {
        "shape": "ListAssetsRequest"
      },
      "name": "ListAssets",
      "output": {
        "shape": "ListAssetsResponse"
      }
    },
    "ListAssociatedAssets": {
      "documentation": "<p>Retrieves a paginated list of associated assets.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p>List child assets associated to a parent asset by a hierarchy that you specify.</p> </li> <li> <p>List an asset's parent asset.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/assets/{assetId}/hierarchies"
      },
      "input": {
        "shape": "ListAssociatedAssetsRequest"
      },
      "name": "ListAssociatedAssets",
      "output": {
        "shape": "ListAssociatedAssetsResponse"
      }
    },
    "ListBulkImportJobs": {
      "documentation": "<p>Retrieves a paginated list of bulk import job requests. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ListBulkImportJobs.html\">List bulk import jobs (CLI)</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "data."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/jobs"
      },
      "input": {
        "shape": "ListBulkImportJobsRequest"
      },
      "name": "ListBulkImportJobs",
      "output": {
        "shape": "ListBulkImportJobsResponse"
      }
    },
    "ListDashboards": {
      "documentation": "<p>Retrieves a paginated list of dashboards for an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/dashboards",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDashboardsRequest"
      },
      "name": "ListDashboards",
      "output": {
        "shape": "ListDashboardsResponse"
      }
    },
    "ListGateways": {
      "documentation": "<p>Retrieves a paginated list of gateways.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/20200301/gateways"
      },
      "input": {
        "shape": "ListGatewaysRequest"
      },
      "name": "ListGateways",
      "output": {
        "shape": "ListGatewaysResponse"
      }
    },
    "ListPortals": {
      "documentation": "<p>Retrieves a paginated list of IoT SiteWise Monitor portals.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/portals",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPortalsRequest"
      },
      "name": "ListPortals",
      "output": {
        "shape": "ListPortalsResponse"
      }
    },
    "ListProjectAssets": {
      "documentation": "<p>Retrieves a paginated list of assets associated with an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/projects/{projectId}/assets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProjectAssetsRequest"
      },
      "name": "ListProjectAssets",
      "output": {
        "shape": "ListProjectAssetsResponse"
      }
    },
    "ListProjects": {
      "documentation": "<p>Retrieves a paginated list of projects for an IoT SiteWise Monitor portal.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/projects",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProjectsRequest"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of tags for an IoT SiteWise resource.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTimeSeries": {
      "documentation": "<p>Retrieves a paginated list of time series (data streams).</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/timeseries/"
      },
      "input": {
        "shape": "ListTimeSeriesRequest"
      },
      "name": "ListTimeSeries",
      "output": {
        "shape": "ListTimeSeriesResponse"
      }
    },
    "PutDefaultEncryptionConfiguration": {
      "documentation": "<p>Sets the default encryption configuration for the Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/configuration/account/encryption"
      },
      "input": {
        "shape": "PutDefaultEncryptionConfigurationRequest"
      },
      "name": "PutDefaultEncryptionConfiguration",
      "output": {
        "shape": "PutDefaultEncryptionConfigurationResponse"
      }
    },
    "PutLoggingOptions": {
      "documentation": "<p>Sets logging options for IoT SiteWise.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "PutLoggingOptionsRequest"
      },
      "name": "PutLoggingOptions",
      "output": {
        "shape": "PutLoggingOptionsResponse"
      }
    },
    "PutStorageConfiguration": {
      "documentation": "<p>Configures storage settings for IoT SiteWise.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/configuration/account/storage"
      },
      "input": {
        "shape": "PutStorageConfigurationRequest"
      },
      "name": "PutStorageConfiguration",
      "output": {
        "shape": "PutStorageConfigurationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds tags to an IoT SiteWise resource. If a tag already exists for the resource, this operation updates the tag's value.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from an IoT SiteWise resource.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAccessPolicy": {
      "documentation": "<p>Updates an existing access policy that specifies an identity's access to an IoT SiteWise Monitor portal or project resource.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/access-policies/{accessPolicyId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAccessPolicyRequest"
      },
      "name": "UpdateAccessPolicy",
      "output": {
        "shape": "UpdateAccessPolicyResponse"
      }
    },
    "UpdateAsset": {
      "documentation": "<p>Updates an asset's name. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-assets-and-models.html\">Updating assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/assets/{assetId}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateAssetRequest"
      },
      "name": "UpdateAsset",
      "output": {
        "shape": "UpdateAssetResponse"
      }
    },
    "UpdateAssetModel": {
      "documentation": "<p>Updates an asset model and all of the assets that were created from the model. Each asset created from the model inherits the updated asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-assets-and-models.html\">Updating assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p> <important> <p>This operation overwrites the existing model with the provided model. To avoid deleting your asset model's properties or hierarchies, you must include their IDs and definitions in the updated asset model payload. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeAssetModel.html\">DescribeAssetModel</a>.</p> <p>If you remove a property from an asset model, IoT SiteWise deletes all previous data for that property. If you remove a hierarchy definition from an asset model, IoT SiteWise disassociates every asset associated with that hierarchy. You can't change the type or data type of an existing property.</p> </important>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/asset-models/{assetModelId}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateAssetModelRequest"
      },
      "name": "UpdateAssetModel",
      "output": {
        "shape": "UpdateAssetModelResponse"
      }
    },
    "UpdateAssetProperty": {
      "documentation": "<p>Updates an asset property's alias and notification state.</p> <important> <p>This operation overwrites the property's existing alias and notification state. To keep your existing property's alias or notification state, you must include the existing values in the UpdateAssetProperty request. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeAssetProperty.html\">DescribeAssetProperty</a>.</p> </important>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/assets/{assetId}/properties/{propertyId}"
      },
      "input": {
        "shape": "UpdateAssetPropertyRequest"
      },
      "name": "UpdateAssetProperty"
    },
    "UpdateDashboard": {
      "documentation": "<p>Updates an IoT SiteWise Monitor dashboard.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/dashboards/{dashboardId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDashboardRequest"
      },
      "name": "UpdateDashboard",
      "output": {
        "shape": "UpdateDashboardResponse"
      }
    },
    "UpdateGateway": {
      "documentation": "<p>Updates a gateway's name.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/20200301/gateways/{gatewayId}"
      },
      "input": {
        "shape": "UpdateGatewayRequest"
      },
      "name": "UpdateGateway"
    },
    "UpdateGatewayCapabilityConfiguration": {
      "documentation": "<p>Updates a gateway capability configuration or defines a new capability configuration. Each gateway capability defines data sources for a gateway. A capability configuration can contain multiple data source configurations. If you define OPC-UA sources for a gateway in the IoT SiteWise console, all of your OPC-UA sources are stored in one capability configuration. To list all capability configurations for a gateway, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeGateway.html\">DescribeGateway</a>.</p>",
      "endpoint": {
        "hostPrefix": "api."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictingOperationException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/20200301/gateways/{gatewayId}/capability",
        "responseCode": 201
      },
      "input": {
        "shape": "UpdateGatewayCapabilityConfigurationRequest"
      },
      "name": "UpdateGatewayCapabilityConfiguration",
      "output": {
        "shape": "UpdateGatewayCapabilityConfigurationResponse"
      }
    },
    "UpdatePortal": {
      "documentation": "<p>Updates an IoT SiteWise Monitor portal.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictingOperationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/portals/{portalId}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdatePortalRequest"
      },
      "name": "UpdatePortal",
      "output": {
        "shape": "UpdatePortalResponse"
      }
    },
    "UpdateProject": {
      "documentation": "<p>Updates an IoT SiteWise Monitor project.</p>",
      "endpoint": {
        "hostPrefix": "monitor."
      },
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/projects/{projectId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateProjectRequest"
      },
      "name": "UpdateProject",
      "output": {
        "shape": "UpdateProjectResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 1600,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "AccessPolicySummaries": {
      "member": {
        "shape": "AccessPolicySummary"
      },
      "type": "list"
    },
    "AccessPolicySummary": {
      "documentation": "<p>Contains an access policy that defines an identity's access to an IoT SiteWise Monitor resource.</p>",
      "members": {
        "creationDate": {
          "documentation": "<p>The date the access policy was created, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The ID of the access policy.</p>",
          "shape": "ID"
        },
        "identity": {
          "documentation": "<p>The identity (an Amazon Web Services SSO user, an Amazon Web Services SSO group, or an IAM user).</p>",
          "shape": "Identity"
        },
        "lastUpdateDate": {
          "documentation": "<p>The date the access policy was last updated, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "permission": {
          "documentation": "<p>The permissions for the access policy. Note that a project <code>ADMINISTRATOR</code> is also known as a project owner.</p>",
          "shape": "Permission"
        },
        "resource": {
          "documentation": "<p>The IoT SiteWise Monitor resource (a portal or project).</p>",
          "shape": "Resource"
        }
      },
      "required": [
        "id",
        "identity",
        "resource",
        "permission"
      ],
      "type": "structure"
    },
    "AggregateType": {
      "enum": [
        "AVERAGE",
        "COUNT",
        "MAXIMUM",
        "MINIMUM",
        "SUM",
        "STANDARD_DEVIATION"
      ],
      "type": "string"
    },
    "AggregateTypes": {
      "member": {
        "shape": "AggregateType"
      },
      "min": 1,
      "type": "list"
    },
    "AggregatedDoubleValue": {
      "type": "double"
    },
    "AggregatedValue": {
      "documentation": "<p>Contains aggregated asset property values (for example, average, minimum, and maximum).</p>",
      "members": {
        "quality": {
          "documentation": "<p>The quality of the aggregated data.</p>",
          "shape": "Quality"
        },
        "timestamp": {
          "documentation": "<p>The date the aggregating computations occurred, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "value": {
          "documentation": "<p>The value of the aggregates.</p>",
          "shape": "Aggregates"
        }
      },
      "required": [
        "timestamp",
        "value"
      ],
      "type": "structure"
    },
    "AggregatedValues": {
      "member": {
        "shape": "AggregatedValue"
      },
      "type": "list"
    },
    "Aggregates": {
      "documentation": "<p>Contains the (pre-calculated) aggregate values for an asset property.</p>",
      "members": {
        "average": {
          "documentation": "<p>The average (mean) value of the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        },
        "count": {
          "documentation": "<p>The count of data points in the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        },
        "maximum": {
          "documentation": "<p>The maximum value of the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        },
        "minimum": {
          "documentation": "<p>The minimum value of the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        },
        "standardDeviation": {
          "documentation": "<p>The standard deviation of the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        },
        "sum": {
          "documentation": "<p>The sum of the time series over a time interval window.</p>",
          "shape": "AggregatedDoubleValue"
        }
      },
      "type": "structure"
    },
    "Alarms": {
      "documentation": "<p>Contains the configuration information of an alarm created in an IoT SiteWise Monitor portal. You can use the alarm to monitor an asset property and get notified when the asset property value is outside a specified range. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/monitor-alarms.html\">Monitoring with alarms</a> in the <i>IoT SiteWise Application Guide</i>.</p>",
      "members": {
        "alarmRoleArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IAM role that allows the alarm to perform actions and access Amazon Web Services resources and services, such as IoT Events.</p>",
          "shape": "ARN"
        },
        "notificationLambdaArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the Lambda function that manages alarm notifications. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/lambda-support.html\">Managing alarm notifications</a> in the <i>IoT Events Developer Guide</i>.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "alarmRoleArn"
      ],
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssetCompositeModel": {
      "documentation": "<p>Contains information about a composite model in an asset. This object contains the asset's properties that you define in the composite model.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the composite model.</p>",
          "shape": "Description"
        },
        "name": {
          "documentation": "<p>The name of the composite model.</p>",
          "shape": "Name"
        },
        "properties": {
          "documentation": "<p>The asset properties that this composite model defines.</p>",
          "shape": "AssetProperties"
        },
        "type": {
          "documentation": "<p>The type of the composite model. For alarm composite models, this type is <code>AWS/ALARM</code>.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "type",
        "properties"
      ],
      "type": "structure"
    },
    "AssetCompositeModels": {
      "member": {
        "shape": "AssetCompositeModel"
      },
      "type": "list"
    },
    "AssetErrorCode": {
      "enum": [
        "INTERNAL_FAILURE"
      ],
      "type": "string"
    },
    "AssetErrorDetails": {
      "documentation": "<p>Contains error details for the requested associate project asset action.</p>",
      "members": {
        "assetId": {
          "documentation": "<p>The ID of the asset.</p>",
          "shape": "ID"
        },
        "code": {
          "documentation": "<p>The error code.</p>",
          "shape": "AssetErrorCode"
        },
        "message": {
          "documentation": "<p>The error message.</p>",
          "shape": "AssetErrorMessage"
        }
      },
      "required": [
        "assetId",
        "code",
        "message"
      ],
      "type": "structure"
    },
    "AssetErrorMessage": {
      "type": "string"
    },
    "AssetHierarchies": {
      "member": {
        "shape": "AssetHierarchy"
      },
      "type": "list"
    },
    "AssetHierarchy": {
      "documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name and ID.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the hierarchy. This ID is a <code>hierarchyId</code>.</p>",
          "shape": "ID"
        },
        "name": {
          "documentation": "<p>The hierarchy name provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "AssetHierarchyInfo": {
      "documentation": "<p>Contains information about a parent asset and a child asset that are related through an asset hierarchy.</p>",
      "members": {
        "childAssetId": {
          "documentation": "<p>The ID of the child asset in this asset relationship.</p>",
          "shape": "ID"
        },
        "parentAssetId": {
          "documentation": "<p>The ID of the parent asset in this asset relationship.</p>",
          "shape": "ID"
        }
      },
      "type": "structure"
    },
    "AssetIDs": {
      "member": {
        "shape": "ID"
      },
      "type": "list"
    },
    "AssetModelCompositeModel": {
      "documentation": "<p>Contains information about a composite model in an asset model. This object contains the asset property definitions that you define in the composite model.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the composite model.</p>",
          "shape": "Description"
        },
        "name": {
          "documentation": "<p>The name of the composite model.</p>",
          "shape": "Name"
        },
        "properties": {
          "documentation": "<p>The asset property definitions for this composite model.</p>",
          "shape": "AssetModelProperties"
        },
        "type": {
          "documentation": "<p>The type of the composite model. For alarm composite models, this type is <code>AWS/ALARM</code>.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "AssetModelCompositeModelDefinition": {
      "documentation": "<p>Contains a composite model definition in an asset model. This composite model definition is applied to all assets created from the asset model.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the composite model.</p>",
          "shape": "Description"
        },
        "name": {
          "documentation": "<p>The name of the composite model.</p>",
          "shape": "Name"
        },
        "properties": {
          "documentation": "<p>The asset property definitions for this composite model.</p>",
          "shape": "AssetModelPropertyDefinitions"
        },
        "type": {
          "documentation": "<p>The type of the composite model. For alarm composite models, this type is <code>AWS/ALARM</code>.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "AssetModelCompositeModelDefinitions": {
      "member": {
        "shape": "AssetModelCompositeModelDefinition"
      },
      "type": "list"
    },
    "AssetModelCompositeModels": {
      "member": {
        "shape": "AssetModelCompositeModel"
      },
      "type": "list"
    },
    "AssetModelHierarchies": {
      "member": {
        "shape": "AssetModelHierarchy"
      },
      "type": "list"
    },
    "AssetModelHierarchy": {
      "documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name, ID, and child asset model ID that specifies the type of asset that can be in this hierarchy.</p>",
      "members": {
        "childAssetModelId": {
          "documentation": "<p>The ID of the asset model. All assets in this hierarchy must be instances of the <code>childAssetModelId</code> asset model.</p>",
          "shape": "ID"
        },
        "id": {
          "documentation": "<p>The ID of the asset model hierarchy. This ID is a <code>hierarchyId</code>.</p>",
          "shape": "ID"
        },
        "name": {
          "documentation": "<p>The name of the asset model hierarchy that you specify by using the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "childAssetModelId"
      ],
      "type": "structure"
    },
    "AssetModelHierarchyDefinition": {
      "documentation": "<p>Contains an asset model hierarchy used in asset model creation. An asset model hierarchy determines the kind (or type) of asset that can belong to a hierarchy.</p>",
      "members": {
        "childAssetModelId": {
          "documentation": "<p>The ID of an asset model for this hierarchy.</p>",
          "shape": "ID"
        },
        "name": {
          "documentation": "<p>The name of the asset model hierarchy definition (as specified in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation).</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "childAssetModelId"
      ],
      "type": "structure"
    },
    "AssetModelHierarchyDefinitions": {
      "member": {
        "shape": "AssetModelHierarchyDefinition"
      },
      "type": "list"
    },
    "AssetModelProperties": {
      "member": {
        "shape": "AssetModelProperty"
      },
      "type": "list"
    },
    "AssetModelProperty": {
      "documentation": "<p>Contains information about an asset model property.</p>",
      "members": {
        "dataType": {
          "documentation": "<p>The data type of the asset model property.</p>",
          "shape": "PropertyDataType"
        },
        "dataTypeSpec": {
          "documentation": "<p>The data type of the structure for this property. This parameter exists on properties that have the <code>STRUCT</code> data type.</p>",
          "shape": "Name"
        },
        "id": {
          "documentation": "<p>The ID of the asset model property.</p>",
          "shape": "ID"
        },
        "name": {
          "documentation": "<p>The name of the asset model property.</p>",
          "shape": "Name"
        },
        "type": {
          "documentation": "<p>The property type (see <code>PropertyType</code>).</p>",
          "shape": "PropertyType"
        },
        "unit": {
          "documentation": "<p>The unit of the asset model property, such as <code>Newtons</code> or <code>RPM</code>.</p>",
          "shape": "PropertyUnit"
        }
      },
      "required": [
        "name",
        "dataType",
        "type"
      ],
      "type": "structure"
    },
    "AssetModelPropertyDefinition": {
      "documentation": "<p>Contains an asset model property definition. This property definition is applied to all assets created from the asset model.</p>",
      "members": {
        "dataType": {
          "documentation": "<p>The data type of the property definition.</p> <p>If you specify <code>STRUCT</code>, you must also specify <code>dataTypeSpec</code> to identify the type of the structure for this property.</p>",
          "shape": "PropertyDataType"
        },
        "dataTypeSpec": {
          "documentation": "<p>The data type of the structure for this property. This parameter is required on properties that have the <code>STRUCT</code> data type.</p> <p>The options for this parameter depend on the type of the composite model in which you define this property. Use <code>AWS/ALARM_STATE</code> for alarm state in alarm composite models.</p>",
          "shape": "Name"
        },
        "name": {
          "documentation": "<p>The name of the property definition.</p>",
          "shape": "Name"
        },
        "type": {
          "documentation": "<p>The property definition type (see <code>PropertyType</code>). You can only specify one type in a property definition.</p>",
          "shape": "PropertyType"
        },
        "unit": {
          "documentation": "<p>The unit of the property definition, such as <code>Newtons</code> or <code>RPM</code>.</p>",
          "shape": "PropertyUnit"
        }
      },
      "required": [
        "name",
        "dataType",
        "type"
      ],
      "type": "structure"
    },
    "AssetModelPropertyDefinitions": {
      "member": {
        "shape": "AssetModelPropertyDefinition"
      },
      "type": "list"
    },
    "AssetModelState": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "PROPAGATING",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "AssetModelStatus": {
      "documentation": "<p>Contains current status information for an asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and model states</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "members": {
        "error": {
          "documentation": "<p>Contains associated error information, if any.</p>",
          "shape": "ErrorDetails"
        },
        "state": {
          "documentation": "<p>The current state of the asset model.</p>",
          "shape": "AssetModelState"
        }
      },
      "required": [
        "state"
      ],
      "type": "structure"
    },
    "AssetModelSummaries": {
      "member": {
        "shape": "AssetModelSummary"
      },
      "type": "list"
    },
    "AssetModelSummary": {
      "documentation": "<p>Contains a summary of an asset model.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset model, which has the following format.</p> <p> <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset-model/${AssetModelId}</code> </p>",
          "shape": "ARN"
        },
        "creationDate": {
          "documentation": "<p>The date the asset model was created, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The asset model description.</p>",
          "shape": "Description"
        },
        "id": {
          "documentation": "<p>The ID of the asset model (used with IoT SiteWise APIs).</p>",
          "shape": "ID"
        },
        "lastUpdateDate": {
          "documentation": "<p>The date the asset model was last updated, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the asset model.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The current status of the asset model.</p>",
          "shape": "AssetModelStatus"
        }
      },
      "required": [
        "id",
        "arn",
        "name",
        "description",
        "creationDate",
        "lastUpdateDate",
        "status"
      ],
      "type": "structure"
    },
    "AssetProperties": {
      "member": {
        "shape": "AssetProperty"
      },
      "type": "list"
    },
    "AssetProperty": {
      "documentation": "<p>Contains asset property information.</p>",
      "members": {
        "alias": {
          "documentation": "<p>The alias that identifies the property, such as an OPC-UA server data stream path (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/connect-data-streams.html\">Mapping industrial data streams to asset properties</a> in the <i>IoT SiteWise User Guide</i>.</p>",
          "shape": "PropertyAlias"
        },
        "dataType": {
          "documentation": "<p>The data type of the asset property.</p>",
          "shape": "PropertyDataType"
        },
        "dataTypeSpec": {
          "documentation": "<p>The data type of the structure for this property. This parameter exists on properties that have the <code>STRUCT</code> data type.</p>",
          "shape": "Name"
        },
        "id": {
          "documentation": "<p>The ID of the asset property.</p>",
          "shape": "ID"
        },
        "name": {
          "documentation": "<p>The name of the property.</p>",
          "shape": "Name"
        },
        "notification": {
          "documentation": "<p>The asset property's notification topic and state. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p>",
          "shape": "PropertyNotification"
        },
        "unit": {
          "documentation": "<p>The unit (such as <code>Newtons</code> or <code>RPM</code>) of the asset property.</p>",
          "shape": "PropertyUnit"
        }
      },
      "required": [
        "id",
        "name",
        "dataType"
      ],
      "type": "structure"
    },
    "AssetPropertyAlias": {
      "max": 2048,
      "min": 1,
      "pattern": "[^\\u0000-\\u001F\\u007F]+",
      "type": "string"
    },
    "AssetPropertyValue": {
      "documentation": "<p>Contains asset property value information.</p>",
      "members": {
        "quality": {
          "documentation": "<p>The quality of the asset property value.</p>",
          "shape": "Quality"
        },
        "timestamp": {
          "documentation": "<p>The timestamp of the asset property value.</p>",
          "shape": "TimeInNanos"
        },
        "value": {
          "documentation": "<p>The value of the asset property (see <code>Variant</code>).</p>",
          "shape": "Variant"
        }
      },
      "required": [
        "value",
        "timestamp"
      ],
      "type": "structure"
    },
    "AssetPropertyValueHistory": {
      "member": {
        "shape": "AssetPropertyValue"
      },
      "type": "list"
    },
    "AssetPropertyValues": {
      "member": {
        "shape": "AssetPropertyValue"
      },
      "type": "list"
    },
    "AssetRelationshipSummaries": {
      "member": {
        "shape": "AssetRelationshipSummary"
      },
      "type": "list"
    },
    "AssetRelationshipSummary": {
      "documentation": "<p>Contains information about assets that are related to one another.</p>",
      "members": {
        "hierarchyInfo": {
          "documentation": "<p>The assets that are related through an asset hierarchy.</p> <p>This object is present if the <code>relationshipType</code> is <code>HIERARCHY</code>.</p>",
          "shape": "AssetHierarchyInfo"
        },
        "relationshipType": {
          "documentation": "<p>The relationship type of the assets in this relationship. This value is one of the following:</p> <ul> <li> <p> <code>HIERARCHY</code> \u2013 The assets are related through an asset hierarchy. If you specify this relationship type, this asset relationship includes the <code>hierarchyInfo</code> object.</p> </li> </ul>",
          "shape": "AssetRelationshipType"
        }
      },
      "required": [
        "relationshipType"
      ],
      "type": "structure"
    },
    "AssetRelationshipType": {
      "enum": [
        "HIERARCHY"
      ],
      "type": "string"
    },
    "AssetState": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "AssetStatus": {
      "documentation": "<p>Contains information about the current status of an asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and model states</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "members": {
        "error": {
          "documentation": "<p>Contains associated error information, if any.</p>",
          "shape": "ErrorDetails"
        },
        "state": {
          "documentation": "<p>The current status of the asset.</p>",
          "shape": "AssetState"
        }
      },
      "required": [
        "state"
      ],
      "type": "structure"
    },
    "AssetSummaries": {
      "member": {
        "shape": "AssetSummary"
      },
      "type": "list"
    },
    "AssetSummary": {
      "documentation": "<p>Contains a summary of an asset.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p> <p> <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code> </p>",
          "shape": "ARN"
        },
        "assetModelId": {
          "documentation": "<p>The ID of the asset model used to create this asset.</p>",
          "shape": "ID"
        },
        "creationDate": {
          "documentation": "<p>The date the asset was created, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description for the asset.</p>",
          "shape": "Description"
        },
        "hierarchies": {
          "documentation": "<p>A list of asset hierarchies that each contain a <code>hierarchyId</code>. A hierarchy specifies allowed parent/child asset relationships.</p>",
          "shape": "AssetHierarchies"
        },
        "id": {
          "documentation": "<p>The ID of the asset.</p>",
          "shape": "ID"
        },
        "lastUpdateDate": {
          "documentation": "<p>The date the asset was last updated, in Unix epoch time.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the asset.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The current status of the asset.</p>",
          "shape": "AssetStatus"
        }
      },
      "required": [
        "id",
        "arn",
        "name",
        "assetModelId",
        "creationDate",
        "lastUpdateDate",
        "status",
        "hierarchies"
      ],
      "type": "structure"
    },
    "AssociateAssetsRequest": {
      "members": {
        "assetId": {
          "documentation": "<p>The ID of the parent asset.</p>",
          "location": "uri",
          "locationName": "assetId",
          "shape": "ID"
        },
        "childAssetId": {
          "documentation": "<p>The ID of the child asset to be associated.</p>",
          "shape": "ID"
        },
        "clientToken": {
[...]
