{
  "documentation": "<p>Welcome to the Amazon AppFlow API reference. This guide is for developers who need detailed information about the Amazon AppFlow API operations, data types, and errors. </p> <p>Amazon AppFlow is a fully managed integration service that enables you to securely transfer data between software as a service (SaaS) applications like Salesforce, Marketo, Slack, and ServiceNow, and Amazon Web Services like Amazon S3 and Amazon Redshift. </p> <p>Use the following links to get started on the Amazon AppFlow API:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon AppFlow API operations.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all Amazon AppFlow data types.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonParameters.html\">Common parameters</a>: Parameters that all Query operations can use.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/appflow/1.0/APIReference/CommonErrors.html\">Common errors</a>: Client and server errors that all operations can return.</p> </li> </ul> <p>If you're new to Amazon AppFlow, we recommend that you review the <a href=\"https://docs.aws.amazon.com/appflow/latest/userguide/what-is-appflow.html\">Amazon AppFlow User Guide</a>.</p> <p>Amazon AppFlow API users can use vendor-specific mechanisms for OAuth, and include applicable OAuth attributes (such as <code>auth-code</code> and <code>redirecturi</code>) with the connector-specific <code>ConnectorProfileProperties</code> when creating a new connector profile using Amazon AppFlow API operations. For example, Salesforce users can refer to the <a href=\"https://help.salesforce.com/articleView?id=remoteaccess_authenticate.htm\"> <i>Authorize Apps with OAuth</i> </a> documentation.</p>",
  "metadata": {
    "apiVersion": "2020-08-23",
    "endpointPrefix": "appflow",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Appflow",
    "serviceId": "Appflow",
    "signatureVersion": "v4",
    "signingName": "appflow",
    "uid": "appflow-2020-08-23"
  },
  "operations": {
    "CreateConnectorProfile": {
      "documentation": "<p> Creates a new connector profile associated with your Amazon Web Services account. There is a soft quota of 100 connector profiles per Amazon Web Services account. If you need more connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel. In each connector profile that you create, you can provide the credentials and properties for only one connector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-connector-profile"
      },
      "input": {
        "shape": "CreateConnectorProfileRequest"
      },
      "name": "CreateConnectorProfile",
      "output": {
        "shape": "CreateConnectorProfileResponse"
      }
    },
    "CreateFlow": {
      "documentation": "<p> Enables your application to create a new flow using Amazon AppFlow. You must create a connector profile before calling this API. Please note that the Request Syntax below shows syntax for multiple destinations, however, you can only transfer data to one item in this list at a time. Amazon AppFlow does not currently support flows to multiple destinations at once. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "ConnectorServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-flow"
      },
      "input": {
        "shape": "CreateFlowRequest"
      },
      "name": "CreateFlow",
      "output": {
        "shape": "CreateFlowResponse"
      }
    },
    "DeleteConnectorProfile": {
      "documentation": "<p> Enables you to delete an existing connector profile. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-connector-profile"
      },
      "input": {
        "shape": "DeleteConnectorProfileRequest"
      },
      "name": "DeleteConnectorProfile",
      "output": {
        "shape": "DeleteConnectorProfileResponse"
      }
    },
    "DeleteFlow": {
      "documentation": "<p> Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can delete flows one at a time. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-flow"
      },
      "input": {
        "shape": "DeleteFlowRequest"
      },
      "name": "DeleteFlow",
      "output": {
        "shape": "DeleteFlowResponse"
      }
    },
    "DescribeConnector": {
      "documentation": "<p>Describes the given custom connector registered in your Amazon Web Services account. This API can be used for custom connectors that are registered in your account and also for Amazon authored connectors.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-connector"
      },
      "input": {
        "shape": "DescribeConnectorRequest"
      },
      "name": "DescribeConnector",
      "output": {
        "shape": "DescribeConnectorResponse"
      }
    },
    "DescribeConnectorEntity": {
      "documentation": "<p> Provides details regarding the entity used with the connector, with a description of the data model for each field in that entity. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "ConnectorServerException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-connector-entity"
      },
      "input": {
        "shape": "DescribeConnectorEntityRequest"
      },
      "name": "DescribeConnectorEntity",
      "output": {
        "shape": "DescribeConnectorEntityResponse"
      }
    },
    "DescribeConnectorProfiles": {
      "documentation": "<p> Returns a list of <code>connector-profile</code> details matching the provided <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are optional, and you can use them to filter the result. </p> <p>If no names or <code>connector-types</code> are provided, returns all connector profiles in a paginated form. If there is no match, this operation returns an empty list.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-connector-profiles"
      },
      "input": {
        "shape": "DescribeConnectorProfilesRequest"
      },
      "name": "DescribeConnectorProfiles",
      "output": {
        "shape": "DescribeConnectorProfilesResponse"
      }
    },
    "DescribeConnectors": {
      "documentation": "<p> Describes the connectors vended by Amazon AppFlow for specified connector types. If you don't specify a connector type, this operation describes all connectors vended by Amazon AppFlow. If there are more connectors than can be returned in one page, the response contains a <code>nextToken</code> object, which can be be passed in to the next call to the <code>DescribeConnectors</code> API operation to retrieve the next page. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-connectors"
      },
      "input": {
        "shape": "DescribeConnectorsRequest"
      },
      "name": "DescribeConnectors",
      "output": {
        "shape": "DescribeConnectorsResponse"
      }
    },
    "DescribeFlow": {
      "documentation": "<p> Provides a description of the specified flow. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-flow"
      },
      "input": {
        "shape": "DescribeFlowRequest"
      },
      "name": "DescribeFlow",
      "output": {
        "shape": "DescribeFlowResponse"
      }
    },
    "DescribeFlowExecutionRecords": {
      "documentation": "<p> Fetches the execution history of the flow. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-flow-execution-records"
      },
      "input": {
        "shape": "DescribeFlowExecutionRecordsRequest"
      },
      "name": "DescribeFlowExecutionRecords",
      "output": {
        "shape": "DescribeFlowExecutionRecordsResponse"
      }
    },
    "ListConnectorEntities": {
      "documentation": "<p> Returns the list of available connector entities supported by Amazon AppFlow. For example, you can query Salesforce for <i>Account</i> and <i>Opportunity</i> entities, or query ServiceNow for the <i>Incident</i> entity. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "ConnectorServerException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-connector-entities"
      },
      "input": {
        "shape": "ListConnectorEntitiesRequest"
      },
      "name": "ListConnectorEntities",
      "output": {
        "shape": "ListConnectorEntitiesResponse"
      }
    },
    "ListConnectors": {
      "documentation": "<p>Returns the list of all registered custom connectors in your Amazon Web Services account. This API lists only custom connectors registered in this account, not the Amazon Web Services authored connectors. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-connectors"
      },
      "input": {
        "shape": "ListConnectorsRequest"
      },
      "name": "ListConnectors",
      "output": {
        "shape": "ListConnectorsResponse"
      }
    },
    "ListFlows": {
      "documentation": "<p> Lists all of the flows associated with your account. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-flows"
      },
      "input": {
        "shape": "ListFlowsRequest"
      },
      "name": "ListFlows",
      "output": {
        "shape": "ListFlowsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Retrieves the tags that are associated with a specified flow. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RegisterConnector": {
      "documentation": "<p>Registers a new connector with your Amazon Web Services account. Before you can register the connector, you must deploy lambda in your account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConnectorServerException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/register-connector"
      },
      "input": {
        "shape": "RegisterConnectorRequest"
      },
      "name": "RegisterConnector",
      "output": {
        "shape": "RegisterConnectorResponse"
      }
    },
    "StartFlow": {
      "documentation": "<p> Activates an existing flow. For on-demand flows, this operation runs the flow immediately. For schedule and event-triggered flows, this operation activates the flow. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/start-flow"
      },
      "input": {
        "shape": "StartFlowRequest"
      },
      "name": "StartFlow",
      "output": {
        "shape": "StartFlowResponse"
      }
    },
    "StopFlow": {
      "documentation": "<p> Deactivates the existing flow. For on-demand flows, this operation returns an <code>unsupportedOperationException</code> error message. For schedule and event-triggered flows, this operation deactivates the flow. </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/stop-flow"
      },
      "input": {
        "shape": "StopFlowRequest"
      },
      "name": "StopFlow",
      "output": {
        "shape": "StopFlowResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Applies a tag to the specified flow. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UnregisterConnector": {
      "documentation": "<p>Unregisters the custom connector registered in your account that matches the connectorLabel provided in the request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/unregister-connector"
      },
      "input": {
        "shape": "UnregisterConnectorRequest"
      },
      "name": "UnregisterConnector",
      "output": {
        "shape": "UnregisterConnectorResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Removes a tag from the specified flow. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateConnectorProfile": {
      "documentation": "<p> Updates a given connector profile associated with your account. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-connector-profile"
      },
      "input": {
        "shape": "UpdateConnectorProfileRequest"
      },
      "name": "UpdateConnectorProfile",
      "output": {
        "shape": "UpdateConnectorProfileResponse"
      }
    },
    "UpdateFlow": {
      "documentation": "<p> Updates an existing flow. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ConnectorAuthenticationException"
        },
        {
          "shape": "ConnectorServerException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-flow"
      },
      "input": {
        "shape": "UpdateFlowRequest"
      },
      "name": "UpdateFlow",
      "output": {
        "shape": "UpdateFlowResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 512,
      "pattern": "arn:aws:.*:.*:[0-9]+:.*",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>AppFlow/Requester has invalid or missing permissions.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AccessKeyId": {
      "max": 256,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "AccessToken": {
      "max": 4096,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "AccountName": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "AggregationConfig": {
      "documentation": "<p> The aggregation settings that you can use to customize the output format of your flow data. </p>",
      "members": {
        "aggregationType": {
          "documentation": "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>",
          "shape": "AggregationType"
        }
      },
      "type": "structure"
    },
    "AggregationType": {
      "enum": [
        "None",
        "SingleFile"
      ],
      "type": "string"
    },
    "AmplitudeConnectorOperator": {
      "enum": [
        "BETWEEN"
      ],
      "type": "string"
    },
    "AmplitudeConnectorProfileCredentials": {
      "documentation": "<p> The connector-specific credentials required when using Amplitude. </p>",
      "members": {
        "apiKey": {
          "documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
          "shape": "ApiKey"
        },
        "secretKey": {
          "documentation": "<p> The Secret Access Key portion of the credentials. </p>",
          "shape": "SecretKey"
        }
      },
      "required": [
        "apiKey",
        "secretKey"
      ],
      "type": "structure"
    },
    "AmplitudeConnectorProfileProperties": {
      "documentation": "<p> The connector-specific profile properties required when using Amplitude. </p>",
      "members": {},
      "type": "structure"
    },
    "AmplitudeMetadata": {
      "documentation": "<p> The connector metadata specific to Amplitude. </p>",
      "members": {},
      "type": "structure"
    },
    "AmplitudeSourceProperties": {
      "documentation": "<p> The properties that are applied when Amplitude is being used as a source. </p>",
      "members": {
        "object": {
          "documentation": "<p> The object specified in the Amplitude flow source. </p>",
          "shape": "Object"
        }
      },
      "required": [
        "object"
      ],
      "type": "structure"
    },
    "ApiKey": {
      "max": 256,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "ApiKeyCredentials": {
      "documentation": "<p>The API key credentials required for API key authentication.</p>",
      "members": {
        "apiKey": {
          "documentation": "<p>The API key required for API key authentication.</p>",
          "shape": "ApiKey"
        },
        "apiSecretKey": {
          "documentation": "<p>The API secret key required for API key authentication.</p>",
          "shape": "ApiSecretKey"
        }
      },
      "required": [
        "apiKey"
      ],
      "type": "structure"
    },
    "ApiSecretKey": {
      "max": 256,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "ApiToken": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApiVersion": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApplicationHostUrl": {
      "max": 256,
      "pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]",
      "type": "string"
    },
    "ApplicationKey": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApplicationServicePath": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "ApplicationType": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "AuthCode": {
      "max": 2048,
      "pattern": "\\S+",
      "type": "string"
    },
    "AuthCodeUrl": {
      "max": 256,
      "pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]",
      "type": "string"
    },
    "AuthCodeUrlList": {
      "member": {
        "shape": "AuthCodeUrl"
      },
      "type": "list"
    },
    "AuthParameter": {
      "documentation": "<p>Information about required authentication parameters.</p>",
      "members": {
        "connectorSuppliedValues": {
          "documentation": "<p>Contains default values for this authentication parameter that are supplied by the connector.</p>",
          "shape": "ConnectorSuppliedValueList"
        },
        "description": {
          "documentation": "<p>A description about the authentication parameter.</p>",
          "shape": "Description"
        },
        "isRequired": {
          "documentation": "<p>Indicates whether this authentication parameter is required.</p>",
          "shape": "Boolean"
        },
        "isSensitiveField": {
          "documentation": "<p>Indicates whether this authentication parameter is a sensitive field.</p>",
          "shape": "Boolean"
        },
        "key": {
          "documentation": "<p>The authentication key required to authenticate with the connector.</p>",
          "shape": "Key"
        },
        "label": {
          "documentation": "<p>Label used for authentication parameter.</p>",
          "shape": "Label"
        }
      },
      "type": "structure"
    },
    "AuthParameterList": {
      "member": {
        "shape": "AuthParameter"
      },
      "type": "list"
    },
    "AuthenticationConfig": {
      "documentation": "<p>Contains information about the authentication config that the connector supports.</p>",
      "members": {
        "customAuthConfigs": {
          "documentation": "<p>Contains information required for custom authentication.</p>",
          "shape": "CustomAuthConfigList"
        },
        "isApiKeyAuthSupported": {
          "documentation": "<p>Indicates whether API key authentication is supported by the connector</p>",
          "shape": "Boolean"
        },
        "isBasicAuthSupported": {
          "documentation": "<p>Indicates whether basic authentication is supported by the connector.</p>",
          "shape": "Boolean"
        },
        "isCustomAuthSupported": {
          "documentation": "<p>Indicates whether custom authentication is supported by the connector</p>",
          "shape": "Boolean"
        },
        "isOAuth2Supported": {
          "documentation": "<p>Indicates whether OAuth 2.0 authentication is supported by the connector.</p>",
          "shape": "Boolean"
        },
        "oAuth2Defaults": {
          "documentation": "<p>Contains the default values required for OAuth 2.0 authentication.</p>",
          "shape": "OAuth2Defaults"
        }
      },
      "type": "structure"
    },
    "AuthenticationType": {
      "enum": [
        "OAUTH2",
        "APIKEY",
        "BASIC",
        "CUSTOM"
      ],
      "type": "string"
    },
    "BasicAuthCredentials": {
      "documentation": "<p> The basic auth credentials required for basic authentication. </p>",
      "members": {
        "password": {
          "documentation": "<p> The password to use to connect to a resource.</p>",
          "shape": "Password"
        },
        "username": {
          "documentation": "<p> The username to use to connect to a resource. </p>",
          "shape": "Username"
        }
      },
      "required": [
        "username",
        "password"
      ],
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketName": {
      "max": 63,
      "min": 3,
      "pattern": "\\S+",
      "type": "string"
    },
    "BucketPrefix": {
      "max": 512,
      "pattern": ".*",
      "type": "string"
    },
    "ClientCredentialsArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws:secretsmanager:.*:[0-9]+:.*",
      "sensitive": true,
      "type": "string"
    },
    "ClientId": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "ClientNumber": {
      "max": 3,
      "min": 3,
      "pattern": "^\\d{3}$",
      "type": "string"
    },
    "ClientSecret": {
      "max": 512,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConnectionMode": {
      "enum": [
        "Public",
        "Private"
      ],
      "type": "string"
    },
    "ConnectorAuthenticationException": {
      "documentation": "<p> An error occurred when authenticating with the connector endpoint. </p>",
      "error": {
        "httpStatusCode": 401
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConnectorConfiguration": {
      "documentation": "<p> The configuration settings related to a given connector. </p>",
      "members": {
        "authenticationConfig": {
          "documentation": "<p>The authentication config required for the connector.</p>",
          "shape": "AuthenticationConfig"
        },
        "canUseAsDestination": {
          "documentation": "<p> Specifies whether the connector can be used as a destination. </p>",
          "shape": "Boolean"
        },
        "canUseAsSource": {
          "documentation": "<p> Specifies whether the connector can be used as a source. </p>",
          "shape": "Boolean"
        },
        "connectorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the registered connector.</p>",
          "shape": "ARN"
        },
        "connectorDescription": {
          "documentation": "<p>A description about the connector.</p>",
          "shape": "ConnectorDescription"
        },
        "connectorLabel": {
          "documentation": "<p>The label used for registering the connector.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorMetadata": {
          "documentation": "<p> Specifies connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>",
          "shape": "ConnectorMetadata"
        },
        "connectorModes": {
          "documentation": "<p>The connection modes that the connector supports.</p>",
          "shape": "ConnectorModeList"
        },
        "connectorName": {
          "documentation": "<p>The connector name.</p>",
          "shape": "ConnectorName"
        },
        "connectorOwner": {
          "documentation": "<p>The owner who developed the connector.</p>",
          "shape": "ConnectorOwner"
        },
        "connectorProvisioningConfig": {
          "documentation": "<p>The configuration required for registering the connector.</p>",
          "shape": "ConnectorProvisioningConfig"
        },
        "connectorProvisioningType": {
          "documentation": "<p>The provisioning type used to register the connector.</p>",
          "shape": "ConnectorProvisioningType"
        },
        "connectorRuntimeSettings": {
          "documentation": "<p>The required connector runtime settings.</p>",
          "shape": "ConnectorRuntimeSettingList"
        },
        "connectorType": {
          "documentation": "<p>The connector type.</p>",
          "shape": "ConnectorType"
        },
        "connectorVersion": {
          "documentation": "<p>The connector version.</p>",
          "shape": "ConnectorVersion"
        },
        "isPrivateLinkEnabled": {
          "documentation": "<p> Specifies if PrivateLink is enabled for that connector. </p>",
          "shape": "Boolean"
        },
        "isPrivateLinkEndpointUrlRequired": {
          "documentation": "<p> Specifies if a PrivateLink endpoint URL is required. </p>",
          "shape": "Boolean"
        },
        "logoURL": {
          "documentation": "<p>Logo URL of the connector.</p>",
          "shape": "LogoURL"
        },
        "registeredAt": {
          "documentation": "<p>The date on which the connector was registered.</p>",
          "shape": "Date"
        },
        "registeredBy": {
          "documentation": "<p>Information about who registered the connector.</p>",
          "shape": "RegisteredBy"
        },
        "supportedApiVersions": {
          "documentation": "<p>A list of API versions that are supported by the connector.</p>",
          "shape": "SupportedApiVersionList"
        },
        "supportedDestinationConnectors": {
          "documentation": "<p> Lists the connectors that are available for use as destinations. </p>",
          "shape": "ConnectorTypeList"
        },
        "supportedOperators": {
          "documentation": "<p>A list of operators supported by the connector.</p>",
          "shape": "SupportedOperatorList"
        },
        "supportedSchedulingFrequencies": {
          "documentation": "<p> Specifies the supported flow frequency for that connector. </p>",
          "shape": "SchedulingFrequencyTypeList"
        },
        "supportedTriggerTypes": {
          "documentation": "<p> Specifies the supported trigger types for the flow. </p>",
          "shape": "TriggerTypeList"
        },
        "supportedWriteOperations": {
          "documentation": "<p>A list of write operations supported by the connector.</p>",
          "shape": "SupportedWriteOperationList"
        }
      },
      "type": "structure"
    },
    "ConnectorConfigurationsMap": {
      "key": {
        "shape": "ConnectorType"
      },
      "type": "map",
      "value": {
        "shape": "ConnectorConfiguration"
      }
    },
    "ConnectorDescription": {
      "max": 2048,
      "pattern": "[\\w!@#\\-.?,\\s]*",
      "type": "string"
    },
    "ConnectorDetail": {
      "documentation": "<p>Information about the registered connector.</p>",
      "members": {
        "applicationType": {
          "documentation": "<p>The application type of the connector.</p>",
          "shape": "ApplicationType"
        },
        "connectorDescription": {
          "documentation": "<p>A description about the registered connector.</p>",
          "shape": "ConnectorDescription"
        },
        "connectorLabel": {
          "documentation": "<p>A label used for the connector.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorModes": {
          "documentation": "<p>The connection mode that the connector supports.</p>",
          "shape": "ConnectorModeList"
        },
        "connectorName": {
          "documentation": "<p>The name of the connector.</p>",
          "shape": "ConnectorName"
        },
        "connectorOwner": {
          "documentation": "<p>The owner of the connector.</p>",
          "shape": "ConnectorOwner"
        },
        "connectorProvisioningType": {
          "documentation": "<p>The provisioning type that the connector uses.</p>",
          "shape": "ConnectorProvisioningType"
        },
        "connectorType": {
          "documentation": "<p>The connector type.</p>",
          "shape": "ConnectorType"
        },
        "connectorVersion": {
          "documentation": "<p>The connector version.</p>",
          "shape": "ConnectorVersion"
        },
        "registeredAt": {
          "documentation": "<p>The time at which the connector was registered.</p>",
          "shape": "Date"
        },
        "registeredBy": {
          "documentation": "<p>The user who registered the connector.</p>",
          "shape": "RegisteredBy"
        }
      },
      "type": "structure"
    },
    "ConnectorEntity": {
      "documentation": "<p> The high-level entity that can be queried in Amazon AppFlow. For example, a Salesforce entity might be an <i>Account</i> or <i>Opportunity</i>, whereas a ServiceNow entity might be an <i>Incident</i>. </p>",
      "members": {
        "hasNestedEntities": {
          "documentation": "<p> Specifies whether the connector entity is a parent or a category and has more entities nested underneath it. If another call is made with <code>entitiesPath = \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested entities underneath it. This provides a way to retrieve all supported entities in a recursive fashion. </p>",
          "shape": "Boolean"
        },
        "label": {
          "documentation": "<p> The label applied to the connector entity. </p>",
          "shape": "Label"
        },
        "name": {
          "documentation": "<p> The name of the connector entity. </p>",
          "shape": "Name"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "ConnectorEntityField": {
      "documentation": "<p> Describes the data model of a connector field. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on. </p>",
      "members": {
        "customProperties": {
          "documentation": "<p>A map that has specific properties related to the ConnectorEntityField.</p>",
          "shape": "CustomProperties"
        },
        "defaultValue": {
          "documentation": "<p>Default value that can be assigned to this field.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p> A description of the connector entity field. </p>",
          "shape": "Description"
        },
        "destinationProperties": {
          "documentation": "<p> The properties applied to a field when the connector is being used as a destination. </p>",
          "shape": "DestinationFieldProperties"
        },
        "identifier": {
          "documentation": "<p> The unique identifier of the connector field. </p>",
          "shape": "Identifier"
        },
        "isDeprecated": {
          "documentation": "<p>Booelan value that indicates whether this field is deprecated or not.</p>",
          "shape": "Boolean"
        },
        "isPrimaryKey": {
          "documentation": "<p>Booelan value that indicates whether this field can be used as a primary key.</p>",
          "shape": "Boolean"
        },
        "label": {
          "documentation": "<p> The label applied to a connector entity field. </p>",
          "shape": "Label"
        },
        "parentIdentifier": {
          "documentation": "<p>The parent identifier of the connector field.</p>",
          "shape": "Identifier"
        },
        "sourceProperties": {
          "documentation": "<p> The properties that can be applied to a field when the connector is being used as a source. </p>",
          "shape": "SourceFieldProperties"
        },
        "supportedFieldTypeDetails": {
          "documentation": "<p> Contains details regarding the supported <code>FieldType</code>, including the corresponding <code>filterOperators</code> and <code>supportedValues</code>. </p>",
          "shape": "SupportedFieldTypeDetails"
        }
      },
      "required": [
        "identifier"
      ],
      "type": "structure"
    },
    "ConnectorEntityFieldList": {
      "member": {
        "shape": "ConnectorEntityField"
      },
      "type": "list"
    },
    "ConnectorEntityList": {
      "member": {
        "shape": "ConnectorEntity"
      },
      "type": "list"
    },
    "ConnectorEntityMap": {
      "key": {
        "shape": "Group"
      },
      "type": "map",
      "value": {
        "shape": "ConnectorEntityList"
      }
    },
    "ConnectorLabel": {
      "max": 256,
      "pattern": "[a-zA-Z0-9][\\w!@#.-]+",
      "type": "string"
    },
    "ConnectorList": {
      "member": {
        "shape": "ConnectorDetail"
      },
      "type": "list"
    },
    "ConnectorMetadata": {
      "documentation": "<p> A structure to specify connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>",
      "members": {
        "Amplitude": {
          "documentation": "<p> The connector metadata specific to Amplitude. </p>",
          "shape": "AmplitudeMetadata"
        },
        "CustomerProfiles": {
          "documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>",
          "shape": "CustomerProfilesMetadata"
        },
        "Datadog": {
          "documentation": "<p> The connector metadata specific to Datadog. </p>",
          "shape": "DatadogMetadata"
        },
        "Dynatrace": {
          "documentation": "<p> The connector metadata specific to Dynatrace. </p>",
          "shape": "DynatraceMetadata"
        },
        "EventBridge": {
          "documentation": "<p> The connector metadata specific to Amazon EventBridge. </p>",
          "shape": "EventBridgeMetadata"
        },
        "GoogleAnalytics": {
          "documentation": "<p> The connector metadata specific to Google Analytics. </p>",
          "shape": "GoogleAnalyticsMetadata"
        },
        "Honeycode": {
          "documentation": "<p> The connector metadata specific to Amazon Honeycode. </p>",
          "shape": "HoneycodeMetadata"
        },
        "InforNexus": {
          "documentation": "<p> The connector metadata specific to Infor Nexus. </p>",
          "shape": "InforNexusMetadata"
        },
        "Marketo": {
          "documentation": "<p> The connector metadata specific to Marketo. </p>",
          "shape": "MarketoMetadata"
        },
        "Redshift": {
          "documentation": "<p> The connector metadata specific to Amazon Redshift. </p>",
          "shape": "RedshiftMetadata"
        },
        "S3": {
          "documentation": "<p> The connector metadata specific to Amazon S3. </p>",
          "shape": "S3Metadata"
        },
        "SAPOData": {
          "shape": "SAPODataMetadata"
        },
        "Salesforce": {
          "documentation": "<p> The connector metadata specific to Salesforce. </p>",
          "shape": "SalesforceMetadata"
        },
        "ServiceNow": {
          "documentation": "<p> The connector metadata specific to ServiceNow. </p>",
          "shape": "ServiceNowMetadata"
        },
        "Singular": {
          "documentation": "<p> The connector metadata specific to Singular. </p>",
          "shape": "SingularMetadata"
        },
        "Slack": {
          "documentation": "<p> The connector metadata specific to Slack. </p>",
          "shape": "SlackMetadata"
        },
        "Snowflake": {
          "documentation": "<p> The connector metadata specific to Snowflake. </p>",
          "shape": "SnowflakeMetadata"
        },
        "Trendmicro": {
          "documentation": "<p> The connector metadata specific to Trend Micro. </p>",
          "shape": "TrendmicroMetadata"
        },
        "Upsolver": {
          "documentation": "<p> The connector metadata specific to Upsolver. </p>",
          "shape": "UpsolverMetadata"
        },
        "Veeva": {
          "documentation": "<p> The connector metadata specific to Veeva. </p>",
          "shape": "VeevaMetadata"
        },
        "Zendesk": {
          "documentation": "<p> The connector metadata specific to Zendesk. </p>",
          "shape": "ZendeskMetadata"
        }
      },
      "type": "structure"
    },
    "ConnectorMode": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ConnectorModeList": {
      "member": {
        "shape": "ConnectorMode"
      },
      "type": "list"
    },
    "ConnectorName": {
      "max": 256,
      "pattern": ".*",
      "type": "string"
    },
    "ConnectorOAuthRequest": {
      "documentation": "<p> Used by select connectors for which the OAuth workflow is supported, such as Salesforce, Google Analytics, Marketo, Zendesk, and Slack. </p>",
      "members": {
        "authCode": {
          "documentation": "<p> The code provided by the connector when it has been authenticated via the connected app. </p>",
          "shape": "AuthCode"
        },
        "redirectUri": {
          "documentation": "<p> The URL to which the authentication server redirects the browser after authorization has been granted. </p>",
          "shape": "RedirectUri"
        }
      },
      "type": "structure"
    },
    "ConnectorOperator": {
      "documentation": "<p> The operation to be performed on the provided source fields. </p>",
      "members": {
        "Amplitude": {
          "documentation": "<p> The operation to be performed on the provided Amplitude source fields. </p>",
          "shape": "AmplitudeConnectorOperator"
        },
        "CustomConnector": {
          "documentation": "<p>Operators supported by the custom connector.</p>",
          "shape": "Operator"
        },
        "Datadog": {
          "documentation": "<p> The operation to be performed on the provided Datadog source fields. </p>",
          "shape": "DatadogConnectorOperator"
        },
        "Dynatrace": {
          "documentation": "<p> The operation to be performed on the provided Dynatrace source fields. </p>",
          "shape": "DynatraceConnectorOperator"
        },
        "GoogleAnalytics": {
          "documentation": "<p> The operation to be performed on the provided Google Analytics source fields. </p>",
          "shape": "GoogleAnalyticsConnectorOperator"
        },
        "InforNexus": {
          "documentation": "<p> The operation to be performed on the provided Infor Nexus source fields. </p>",
          "shape": "InforNexusConnectorOperator"
        },
        "Marketo": {
          "documentation": "<p> The operation to be performed on the provided Marketo source fields. </p>",
          "shape": "MarketoConnectorOperator"
        },
        "S3": {
          "documentation": "<p> The operation to be performed on the provided Amazon S3 source fields. </p>",
          "shape": "S3ConnectorOperator"
        },
        "SAPOData": {
          "documentation": "<p> The operation to be performed on the provided SAPOData source fields. </p>",
          "shape": "SAPODataConnectorOperator"
        },
        "Salesforce": {
          "documentation": "<p> The operation to be performed on the provided Salesforce source fields. </p>",
          "shape": "SalesforceConnectorOperator"
        },
        "ServiceNow": {
          "documentation": "<p> The operation to be performed on the provided ServiceNow source fields. </p>",
          "shape": "ServiceNowConnectorOperator"
        },
        "Singular": {
          "documentation": "<p> The operation to be performed on the provided Singular source fields. </p>",
          "shape": "SingularConnectorOperator"
        },
        "Slack": {
          "documentation": "<p> The operation to be performed on the provided Slack source fields. </p>",
          "shape": "SlackConnectorOperator"
        },
        "Trendmicro": {
          "documentation": "<p> The operation to be performed on the provided Trend Micro source fields. </p>",
          "shape": "TrendmicroConnectorOperator"
        },
        "Veeva": {
          "documentation": "<p> The operation to be performed on the provided Veeva source fields. </p>",
          "shape": "VeevaConnectorOperator"
        },
        "Zendesk": {
          "documentation": "<p> The operation to be performed on the provided Zendesk source fields. </p>",
          "shape": "ZendeskConnectorOperator"
        }
      },
      "type": "structure"
    },
    "ConnectorOwner": {
      "max": 256,
      "pattern": ".*",
      "type": "string"
    },
    "ConnectorProfile": {
      "documentation": "<p> Describes an instance of a connector. This includes the provided name, credentials ARN, connection-mode, and so on. To keep the API intuitive and extensible, the fields that are common to all types of connector profiles are explicitly specified at the top level. The rest of the connector-specific properties are available via the <code>connectorProfileProperties</code> field. </p>",
      "members": {
        "connectionMode": {
          "documentation": "<p> Indicates the connection mode and if it is public or private. </p>",
          "shape": "ConnectionMode"
        },
        "connectorLabel": {
          "documentation": "<p>The label for the connector profile being created.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorProfileArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>",
          "shape": "ConnectorProfileArn"
        },
        "connectorProfileName": {
          "documentation": "<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>",
          "shape": "ConnectorProfileName"
        },
        "connectorProfileProperties": {
          "documentation": "<p> The connector-specific properties of the profile configuration. </p>",
          "shape": "ConnectorProfileProperties"
        },
        "connectorType": {
          "documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorType"
        },
        "createdAt": {
          "documentation": "<p> Specifies when the connector profile was created. </p>",
          "shape": "Date"
        },
        "credentialsArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the connector profile credentials. </p>",
          "shape": "ARN"
        },
        "lastUpdatedAt": {
          "documentation": "<p> Specifies when the connector profile was last updated. </p>",
          "shape": "Date"
        },
        "privateConnectionProvisioningState": {
          "documentation": "<p> Specifies the private connection provisioning state. </p>",
          "shape": "PrivateConnectionProvisioningState"
        }
      },
      "type": "structure"
    },
    "ConnectorProfileArn": {
      "max": 512,
      "pattern": "arn:aws:appflow:.*:[0-9]+:.*",
      "type": "string"
    },
    "ConnectorProfileConfig": {
      "documentation": "<p> Defines the connector-specific configuration and credentials for the connector profile. </p>",
      "members": {
        "connectorProfileCredentials": {
          "documentation": "<p> The connector-specific credentials required by each connector. </p>",
          "shape": "ConnectorProfileCredentials"
        },
        "connectorProfileProperties": {
          "documentation": "<p> The connector-specific properties of the profile configuration. </p>",
          "shape": "ConnectorProfileProperties"
        }
      },
      "required": [
        "connectorProfileProperties",
        "connectorProfileCredentials"
      ],
      "type": "structure"
    },
    "ConnectorProfileCredentials": {
      "documentation": "<p> The connector-specific credentials required by a connector. </p>",
      "members": {
        "Amplitude": {
          "documentation": "<p> The connector-specific credentials required when using Amplitude. </p>",
          "shape": "AmplitudeConnectorProfileCredentials"
        },
        "CustomConnector": {
          "shape": "CustomConnectorProfileCredentials"
        },
        "Datadog": {
          "documentation": "<p> The connector-specific credentials required when using Datadog. </p>",
          "shape": "DatadogConnectorProfileCredentials"
        },
        "Dynatrace": {
          "documentation": "<p> The connector-specific credentials required when using Dynatrace. </p>",
          "shape": "DynatraceConnectorProfileCredentials"
        },
        "GoogleAnalytics": {
          "documentation": "<p> The connector-specific credentials required when using Google Analytics. </p>",
          "shape": "GoogleAnalyticsConnectorProfileCredentials"
        },
        "Honeycode": {
          "documentation": "<p> The connector-specific credentials required when using Amazon Honeycode. </p>",
          "shape": "HoneycodeConnectorProfileCredentials"
        },
        "InforNexus": {
          "documentation": "<p> The connector-specific credentials required when using Infor Nexus. </p>",
          "shape": "InforNexusConnectorProfileCredentials"
        },
        "Marketo": {
          "documentation": "<p> The connector-specific credentials required when using Marketo. </p>",
          "shape": "MarketoConnectorProfileCredentials"
        },
        "Redshift": {
          "documentation": "<p> The connector-specific credentials required when using Amazon Redshift. </p>",
          "shape": "RedshiftConnectorProfileCredentials"
        },
        "SAPOData": {
          "shape": "SAPODataConnectorProfileCredentials"
        },
        "Salesforce": {
          "documentation": "<p> The connector-specific credentials required when using Salesforce. </p>",
          "shape": "SalesforceConnectorProfileCredentials"
        },
        "ServiceNow": {
          "documentation": "<p> The connector-specific credentials required when using ServiceNow. </p>",
          "shape": "ServiceNowConnectorProfileCredentials"
        },
        "Singular": {
          "documentation": "<p> The connector-specific credentials required when using Singular. </p>",
          "shape": "SingularConnectorProfileCredentials"
        },
        "Slack": {
          "documentation": "<p> The connector-specific credentials required when using Slack. </p>",
          "shape": "SlackConnectorProfileCredentials"
        },
        "Snowflake": {
          "documentation": "<p> The connector-specific credentials required when using Snowflake. </p>",
          "shape": "SnowflakeConnectorProfileCredentials"
        },
        "Trendmicro": {
          "documentation": "<p> The connector-specific credentials required when using Trend Micro. </p>",
          "shape": "TrendmicroConnectorProfileCredentials"
        },
        "Veeva": {
          "documentation": "<p> The connector-specific credentials required when using Veeva. </p>",
          "shape": "VeevaConnectorProfileCredentials"
        },
        "Zendesk": {
          "documentation": "<p> The connector-specific credentials required when using Zendesk. </p>",
          "shape": "ZendeskConnectorProfileCredentials"
        }
      },
      "type": "structure"
    },
    "ConnectorProfileDetailList": {
      "member": {
        "shape": "ConnectorProfile"
      },
      "type": "list"
    },
    "ConnectorProfileName": {
      "max": 256,
      "pattern": "[\\w/!@#+=.-]+",
      "type": "string"
    },
    "ConnectorProfileNameList": {
      "max": 100,
      "member": {
        "shape": "ConnectorProfileName"
      },
      "min": 0,
      "type": "list"
    },
    "ConnectorProfileProperties": {
      "documentation": "<p> The connector-specific profile properties required by each connector. </p>",
      "members": {
        "Amplitude": {
          "documentation": "<p> The connector-specific properties required by Amplitude. </p>",
          "shape": "AmplitudeConnectorProfileProperties"
        },
        "CustomConnector": {
          "documentation": "<p>The properties required by the custom connector.</p>",
          "shape": "CustomConnectorProfileProperties"
        },
        "Datadog": {
          "documentation": "<p> The connector-specific properties required by Datadog. </p>",
          "shape": "DatadogConnectorProfileProperties"
        },
        "Dynatrace": {
          "documentation": "<p> The connector-specific properties required by Dynatrace. </p>",
          "shape": "DynatraceConnectorProfileProperties"
        },
        "GoogleAnalytics": {
          "documentation": "<p> The connector-specific properties required Google Analytics. </p>",
          "shape": "GoogleAnalyticsConnectorProfileProperties"
        },
        "Honeycode": {
          "documentation": "<p> The connector-specific properties required by Amazon Honeycode. </p>",
          "shape": "HoneycodeConnectorProfileProperties"
        },
        "InforNexus": {
          "documentation": "<p> The connector-specific properties required by Infor Nexus. </p>",
          "shape": "InforNexusConnectorProfileProperties"
        },
        "Marketo": {
          "documentation": "<p> The connector-specific properties required by Marketo. </p>",
          "shape": "MarketoConnectorProfileProperties"
        },
        "Redshift": {
          "documentation": "<p> The connector-specific properties required by Amazon Redshift. </p>",
          "shape": "RedshiftConnectorProfileProperties"
        },
        "SAPOData": {
          "shape": "SAPODataConnectorProfileProperties"
        },
        "Salesforce": {
          "documentation": "<p> The connector-specific properties required by Salesforce. </p>",
          "shape": "SalesforceConnectorProfileProperties"
        },
        "ServiceNow": {
          "documentation": "<p> The connector-specific properties required by serviceNow. </p>",
          "shape": "ServiceNowConnectorProfileProperties"
        },
        "Singular": {
          "documentation": "<p> The connector-specific properties required by Singular. </p>",
          "shape": "SingularConnectorProfileProperties"
        },
        "Slack": {
          "documentation": "<p> The connector-specific properties required by Slack. </p>",
          "shape": "SlackConnectorProfileProperties"
        },
        "Snowflake": {
          "documentation": "<p> The connector-specific properties required by Snowflake. </p>",
          "shape": "SnowflakeConnectorProfileProperties"
        },
        "Trendmicro": {
          "documentation": "<p> The connector-specific properties required by Trend Micro. </p>",
          "shape": "TrendmicroConnectorProfileProperties"
        },
        "Veeva": {
          "documentation": "<p> The connector-specific properties required by Veeva. </p>",
          "shape": "VeevaConnectorProfileProperties"
        },
        "Zendesk": {
          "documentation": "<p> The connector-specific properties required by Zendesk. </p>",
          "shape": "ZendeskConnectorProfileProperties"
        }
      },
      "type": "structure"
    },
    "ConnectorProvisioningConfig": {
      "documentation": "<p>Contains information about the configuration of the connector being registered.</p>",
      "members": {
        "lambda": {
          "documentation": "<p>Contains information about the configuration of the lambda which is being registered as the connector.</p>",
          "shape": "LambdaConnectorProvisioningConfig"
        }
      },
      "type": "structure"
    },
    "ConnectorProvisioningType": {
      "documentation": "<p>The type of provisioning that the connector supports, such as Lambda.</p>",
      "enum": [
        "LAMBDA"
      ],
      "type": "string"
    },
    "ConnectorRuntimeSetting": {
      "documentation": "<p>Contains information about the connector runtime settings that are required for flow execution.</p>",
      "members": {
        "connectorSuppliedValueOptions": {
          "documentation": "<p>Contains default values for the connector runtime setting that are supplied by the connector.</p>",
          "shape": "ConnectorSuppliedValueOptionList"
        },
        "dataType": {
          "documentation": "<p>Data type of the connector runtime setting.</p>",
          "shape": "ConnectorRuntimeSettingDataType"
        },
        "description": {
          "documentation": "<p>A description about the connector runtime setting.</p>",
          "shape": "Description"
        },
        "isRequired": {
          "documentation": "<p>Indicates whether this connector runtime setting is required.</p>",
          "shape": "Boolean"
        },
        "key": {
          "documentation": "<p>Contains value information about the connector runtime setting.</p>",
          "shape": "Key"
        },
        "label": {
          "documentation": "<p>A label used for connector runtime setting.</p>",
          "shape": "Label"
        },
        "scope": {
          "documentation": "<p>Indicates the scope of the connector runtime setting.</p>",
          "shape": "ConnectorRuntimeSettingScope"
        }
      },
      "type": "structure"
    },
    "ConnectorRuntimeSettingDataType": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ConnectorRuntimeSettingList": {
      "member": {
        "shape": "ConnectorRuntimeSetting"
      },
      "type": "list"
    },
    "ConnectorRuntimeSettingScope": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ConnectorServerException": {
      "documentation": "<p> An error occurred when retrieving data from the connector endpoint. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConnectorSuppliedValue": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ConnectorSuppliedValueList": {
      "member": {
        "shape": "ConnectorSuppliedValue"
      },
      "type": "list"
    },
    "ConnectorSuppliedValueOptionList": {
      "member": {
        "shape": "ConnectorSuppliedValue"
      },
      "type": "list"
    },
    "ConnectorType": {
      "enum": [
        "Salesforce",
        "Singular",
        "Slack",
        "Redshift",
        "S3",
        "Marketo",
        "Googleanalytics",
        "Zendesk",
        "Servicenow",
        "Datadog",
        "Trendmicro",
        "Snowflake",
        "Dynatrace",
        "Infornexus",
        "Amplitude",
        "Veeva",
        "EventBridge",
        "LookoutMetrics",
        "Upsolver",
        "Honeycode",
        "CustomerProfiles",
        "SAPOData",
        "CustomConnector"
      ],
      "type": "string"
    },
    "ConnectorTypeList": {
      "max": 100,
      "member": {
        "shape": "ConnectorType"
      },
      "min": 0,
      "type": "list"
    },
    "ConnectorVersion": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "CreateConnectorProfileRequest": {
      "members": {
        "connectionMode": {
          "documentation": "<p> Indicates the connection mode and specifies whether it is public or private. Private flows use Amazon Web Services PrivateLink to route data over Amazon Web Services infrastructure without exposing it to the public internet. </p>",
          "shape": "ConnectionMode"
        },
        "connectorLabel": {
          "documentation": "<p>The label of the connector. The label is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorProfileConfig": {
          "documentation": "<p> Defines the connector-specific configuration and credentials. </p>",
          "shape": "ConnectorProfileConfig"
        },
        "connectorProfileName": {
          "documentation": "<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your Amazon Web Services account. </p>",
          "shape": "ConnectorProfileName"
        },
        "connectorType": {
          "documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorType"
        },
        "kmsArn": {
          "documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>",
          "shape": "KMSArn"
        }
      },
      "required": [
        "connectorProfileName",
        "connectorType",
        "connectionMode",
        "connectorProfileConfig"
      ],
      "type": "structure"
    },
    "CreateConnectorProfileResponse": {
      "members": {
        "connectorProfileArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>",
          "shape": "ConnectorProfileArn"
        }
      },
      "type": "structure"
    },
    "CreateFlowRequest": {
      "members": {
        "description": {
          "documentation": "<p> A description of the flow you want to create. </p>",
          "shape": "FlowDescription"
        },
        "destinationFlowConfigList": {
          "documentation": "<p> The configuration that controls how Amazon AppFlow places data in the destination connector. </p>",
          "shape": "DestinationFlowConfigList"
        },
        "flowName": {
          "documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>",
          "shape": "FlowName"
        },
        "kmsArn": {
          "documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>",
          "shape": "KMSArn"
        },
        "sourceFlowConfig": {
          "documentation": "<p> The configuration that controls how Amazon AppFlow retrieves data from the source connector. </p>",
          "shape": "SourceFlowConfig"
        },
        "tags": {
          "documentation": "<p> The tags used to organize, track, or control access for your flow. </p>",
          "shape": "TagMap"
        },
        "tasks": {
          "documentation": "<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. </p>",
          "shape": "Tasks"
        },
        "triggerConfig": {
          "documentation": "<p> The trigger settings that determine how and when the flow runs. </p>",
          "shape": "TriggerConfig"
        }
      },
      "required": [
        "flowName",
        "triggerConfig",
        "sourceFlowConfig",
        "destinationFlowConfigList",
        "tasks"
      ],
      "type": "structure"
    },
    "CreateFlowResponse": {
      "members": {
        "flowArn": {
          "documentation": "<p> The flow's Amazon Resource Name (ARN). </p>",
          "shape": "FlowArn"
        },
        "flowStatus": {
          "documentation": "<p> Indicates the current status of the flow. </p>",
          "shape": "FlowStatus"
        }
      },
      "type": "structure"
    },
    "CreatedBy": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "CredentialsMap": {
      "key": {
        "shape": "CredentialsMapKey"
      },
      "max": 50,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "CredentialsMapValue"
      }
    },
    "CredentialsMapKey": {
      "max": 128,
      "min": 1,
      "pattern": "[\\w]+",
      "sensitive": true,
      "type": "string"
    },
    "CredentialsMapValue": {
      "max": 2048,
      "pattern": "\\S+",
      "sensitive": true,
      "type": "string"
    },
    "CustomAuthConfig": {
      "documentation": "<p>Configuration information required for custom authentication.</p>",
      "members": {
        "authParameters": {
          "documentation": "<p>Information about authentication parameters required for authentication.</p>",
          "shape": "AuthParameterList"
        },
        "customAuthenticationType": {
          "documentation": "<p>The authentication type that the custom connector uses.</p>",
          "shape": "CustomAuthenticationType"
        }
      },
      "type": "structure"
    },
    "CustomAuthConfigList": {
      "member": {
        "shape": "CustomAuthConfig"
      },
      "type": "list"
    },
    "CustomAuthCredentials": {
      "documentation": "<p>The custom credentials required for custom authentication.</p>",
      "members": {
        "credentialsMap": {
          "documentation": "<p>A map that holds custom authentication credentials.</p>",
          "shape": "CredentialsMap"
        },
        "customAuthenticationType": {
          "documentation": "<p>The custom authentication type that the connector uses.</p>",
          "shape": "CustomAuthenticationType"
        }
      },
      "required": [
        "customAuthenticationType"
      ],
      "type": "structure"
    },
    "CustomAuthenticationType": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "CustomConnectorDestinationProperties": {
      "documentation": "<p>The properties that are applied when the custom connector is being used as a destination.</p>",
      "members": {
        "customProperties": {
          "documentation": "<p>The custom properties that are specific to the connector when it's used as a destination in the flow.</p>",
          "shape": "CustomProperties"
        },
        "entityName": {
          "documentation": "<p>The entity specified in the custom connector as a destination in the flow.</p>",
          "shape": "EntityName"
        },
        "errorHandlingConfig": {
          "documentation": "<p>The settings that determine how Amazon AppFlow handles an error when placing data in the custom connector as destination.</p>",
          "shape": "ErrorHandlingConfig"
        },
        "idFieldNames": {
          "documentation": "<p>The name of the field that Amazon AppFlow uses as an ID when performing a write operation such as update, delete, or upsert.</p>",
          "shape": "IdFieldNameList"
        },
        "writeOperationType": {
          "documentation": "<p>Specifies the type of write operation to be performed in the custom connector when it's used as destination.</p>",
          "shape": "WriteOperationType"
        }
      },
      "required": [
        "entityName"
      ],
      "type": "structure"
    },
    "CustomConnectorProfileCredentials": {
      "documentation": "<p>The connector-specific profile credentials that are required when using the custom connector.</p>",
      "members": {
        "apiKey": {
          "documentation": "<p>The API keys required for the authentication of the user.</p>",
          "shape": "ApiKeyCredentials"
        },
        "authenticationType": {
          "documentation": "<p>The authentication type that the custom connector uses for authenticating while creating a connector profile.</p>",
          "shape": "AuthenticationType"
        },
        "basic": {
          "documentation": "<p>The basic credentials that are required for the authentication of the user.</p>",
          "shape": "BasicAuthCredentials"
        },
        "custom": {
          "documentation": "<p>If the connector uses the custom authentication mechanism, this holds the required credentials.</p>",
          "shape": "CustomAuthCredentials"
        },
        "oauth2": {
          "documentation": "<p>The OAuth 2.0 credentials required for the authentication of the user.</p>",
          "shape": "OAuth2Credentials"
        }
      },
      "required": [
        "authenticationType"
      ],
      "type": "structure"
    },
    "CustomConnectorProfileProperties": {
      "documentation": "<p>The profile properties required by the custom connector.</p>",
      "members": {
        "oAuth2Properties": {
          "shape": "OAuth2Properties"
        },
        "profileProperties": {
          "documentation": "<p>A map of properties that are required to create a profile for the custom connector.</p>",
          "shape": "ProfilePropertiesMap"
        }
      },
      "type": "structure"
    },
    "CustomConnectorSourceProperties": {
      "documentation": "<p>The properties that are applied when the custom connector is being used as a source.</p>",
      "members": {
        "customProperties": {
          "documentation": "<p>Custom properties that are required to use the custom connector as a source.</p>",
          "shape": "CustomProperties"
        },
        "entityName": {
          "documentation": "<p>The entity specified in the custom connector as a source in the flow.</p>",
          "shape": "EntityName"
        }
      },
      "required": [
        "entityName"
      ],
      "type": "structure"
    },
    "CustomProperties": {
      "key": {
        "shape": "CustomPropertyKey"
      },
      "max": 50,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "CustomPropertyValue"
      }
    },
    "CustomPropertyKey": {
      "max": 128,
      "min": 1,
      "pattern": "[\\w]+",
      "type": "string"
    },
    "CustomPropertyValue": {
      "max": 2048,
      "pattern": "\\S+",
      "type": "string"
    },
    "CustomerProfilesDestinationProperties": {
      "documentation": "<p> The properties that are applied when Amazon Connect Customer Profiles is used as a destination. </p>",
      "members": {
        "domainName": {
          "documentation": "<p> The unique name of the Amazon Connect Customer Profiles domain. </p>",
          "shape": "DomainName"
        },
        "objectTypeName": {
          "documentation": "<p> The object specified in the Amazon Connect Customer Profiles flow destination. </p>",
          "shape": "ObjectTypeName"
        }
      },
      "required": [
        "domainName"
      ],
      "type": "structure"
    },
    "CustomerProfilesMetadata": {
      "documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>",
      "members": {},
      "type": "structure"
    },
    "DataPullMode": {
      "enum": [
        "Incremental",
        "Complete"
      ],
      "type": "string"
    },
    "DatabaseUrl": {
      "max": 512,
      "pattern": "\\S+",
      "type": "string"
    },
    "DatadogConnectorOperator": {
      "enum": [
        "PROJECTION",
        "BETWEEN",
        "EQUAL_TO",
        "ADDITION",
        "MULTIPLICATION",
        "DIVISION",
        "SUBTRACTION",
        "MASK_ALL",
        "MASK_FIRST_N",
        "MASK_LAST_N",
        "VALIDATE_NON_NULL",
        "VALIDATE_NON_ZERO",
        "VALIDATE_NON_NEGATIVE",
        "VALIDATE_NUMERIC",
        "NO_OP"
      ],
      "type": "string"
    },
    "DatadogConnectorProfileCredentials": {
      "documentation": "<p> The connector-specific credentials required by Datadog. </p>",
      "members": {
        "apiKey": {
          "documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>",
          "shape": "ApiKey"
        },
        "applicationKey": {
          "documentation": "<p> Application keys, in conjunction with your API key, give you full access to Datadog\u2019s programmatic API. Application keys are associated with the user account that created them. The application key is used to log all requests made to the API. </p>",
          "shape": "ApplicationKey"
        }
      },
      "required": [
        "apiKey",
        "applicationKey"
      ],
      "type": "structure"
    },
    "DatadogConnectorProfileProperties": {
      "documentation": "<p> The connector-specific profile properties required by Datadog. </p>",
      "members": {
        "instanceUrl": {
          "documentation": "<p> The location of the Datadog resource. </p>",
          "shape": "InstanceUrl"
        }
      },
      "required": [
        "instanceUrl"
      ],
      "type": "structure"
    },
    "DatadogMetadata": {
      "documentation": "<p> The connector metadata specific to Datadog. </p>",
      "members": {},
      "type": "structure"
    },
    "DatadogSourceProperties": {
      "documentation": "<p> The properties that are applied when Datadog is being used as a source. </p>",
      "members": {
        "object": {
          "documentation": "<p> The object specified in the Datadog flow source. </p>",
          "shape": "Object"
        }
      },
      "required": [
        "object"
      ],
      "type": "structure"
    },
    "Date": {
      "type": "timestamp"
    },
    "DatetimeTypeFieldName": {
      "max": 256,
      "pattern": ".*",
      "type": "string"
    },
    "DeleteConnectorProfileRequest": {
      "members": {
        "connectorProfileName": {
          "documentation": "<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your account. </p>",
          "shape": "ConnectorProfileName"
        },
        "forceDelete": {
          "documentation": "<p> Indicates whether Amazon AppFlow should delete the profile, even if it is currently in use in one or more flows. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "connectorProfileName"
      ],
      "type": "structure"
    },
    "DeleteConnectorProfileResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteFlowRequest": {
      "members": {
        "flowName": {
          "documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>",
          "shape": "FlowName"
        },
        "forceDelete": {
          "documentation": "<p> Indicates whether Amazon AppFlow should delete the flow, even if it is currently in use. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "flowName"
      ],
      "type": "structure"
    },
    "DeleteFlowResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeConnectorEntityRequest": {
      "members": {
        "apiVersion": {
          "documentation": "<p>The version of the API that's used by the connector.</p>",
          "shape": "ApiVersion"
        },
        "connectorEntityName": {
          "documentation": "<p> The entity name for that connector. </p>",
          "shape": "EntityName"
        },
        "connectorProfileName": {
          "documentation": "<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>",
          "shape": "ConnectorProfileName"
        },
        "connectorType": {
          "documentation": "<p> The type of connector application, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorType"
        }
      },
      "required": [
        "connectorEntityName"
      ],
      "type": "structure"
    },
    "DescribeConnectorEntityResponse": {
      "members": {
        "connectorEntityFields": {
          "documentation": "<p> Describes the fields for that connector entity. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on. </p>",
          "shape": "ConnectorEntityFieldList"
        }
      },
      "required": [
        "connectorEntityFields"
      ],
      "type": "structure"
    },
    "DescribeConnectorProfilesRequest": {
      "members": {
        "connectorLabel": {
          "documentation": "<p>The name of the connector. The name is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorProfileNames": {
          "documentation": "<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>",
          "shape": "ConnectorProfileNameList"
        },
        "connectorType": {
          "documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorType"
        },
        "maxResults": {
          "documentation": "<p> Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeConnectorProfilesResponse": {
      "members": {
        "connectorProfileDetails": {
          "documentation": "<p> Returns information about the connector profiles associated with the flow. </p>",
          "shape": "ConnectorProfileDetailList"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. If <code>nextToken=null</code>, this means that all records have been fetched. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeConnectorRequest": {
      "members": {
        "connectorLabel": {
          "documentation": "<p>The label of the connector. The label is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>",
          "shape": "ConnectorLabel"
        },
        "connectorType": {
          "documentation": "<p>The connector type, such as CUSTOMCONNECTOR, Saleforce, Marketo. Please choose CUSTOMCONNECTOR for Lambda based custom connectors.</p>",
          "shape": "ConnectorType"
        }
      },
      "required": [
        "connectorType"
      ],
      "type": "structure"
    },
    "DescribeConnectorResponse": {
      "members": {
        "connectorConfiguration": {
          "documentation": "<p>Configuration info of all the connectors that the user requested.</p>",
          "shape": "ConnectorConfiguration"
        }
      },
      "type": "structure"
    },
    "DescribeConnectorsRequest": {
      "members": {
        "connectorTypes": {
          "documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorTypeList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items that should be returned in the result set. The default is 20.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeConnectorsResponse": {
      "members": {
        "connectorConfigurations": {
          "documentation": "<p> The configuration that is applied to the connectors used in the flow. </p>",
          "shape": "ConnectorConfigurationsMap"
        },
        "connectors": {
          "documentation": "<p>Information about the connectors supported in Amazon AppFlow.</p>",
          "shape": "ConnectorList"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeFlowExecutionRecordsRequest": {
      "members": {
        "flowName": {
          "documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>",
          "shape": "FlowName"
        },
        "maxResults": {
          "documentation": "<p> Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "flowName"
      ],
      "type": "structure"
    },
    "DescribeFlowExecutionRecordsResponse": {
      "members": {
        "flowExecutions": {
          "documentation": "<p> Returns a list of all instances when this flow was run. </p>",
          "shape": "FlowExecutionList"
        },
        "nextToken": {
          "documentation": "<p> The pagination token for the next page of data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeFlowRequest": {
      "members": {
        "flowName": {
          "documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>",
          "shape": "FlowName"
        }
      },
      "required": [
        "flowName"
      ],
      "type": "structure"
    },
    "DescribeFlowResponse": {
      "members": {
        "createdAt": {
          "documentation": "<p> Specifies when the flow was created. </p>",
          "shape": "Date"
        },
        "createdBy": {
          "documentation": "<p> The ARN of the user who created the flow. </p>",
          "shape": "CreatedBy"
        },
        "description": {
          "documentation": "<p> A description of the flow. </p>",
          "shape": "FlowDescription"
        },
        "destinationFlowConfigList": {
          "documentation": "<p> The configuration that controls how Amazon AppFlow transfers data to the destination connector. </p>",
          "shape": "DestinationFlowConfigList"
        },
        "flowArn": {
          "documentation": "<p> The flow's Amazon Resource Name (ARN). </p>",
          "shape": "FlowArn"
        },
        "flowName": {
          "documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>",
          "shape": "FlowName"
        },
        "flowStatus": {
          "documentation": "<p> Indicates the current status of the flow. </p>",
          "shape": "FlowStatus"
        },
        "flowStatusMessage": {
          "documentation": "<p> Contains an error message if the flow status is in a suspended or error state. This applies only to scheduled or event-triggered flows. </p>",
          "shape": "FlowStatusMessage"
        },
        "kmsArn": {
          "documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>",
          "shape": "KMSArn"
        },
        "lastRunExecutionDetails": {
          "documentation": "<p> Describes the details of the most recent flow run. </p>",
          "shape": "ExecutionDetails"
        },
        "lastUpdatedAt": {
          "documentation": "<p> Specifies when the flow was last updated. </p>",
          "shape": "Date"
        },
        "lastUpdatedBy": {
          "documentation": "<p> Specifies the user name of the account that performed the most recent update. </p>",
          "shape": "UpdatedBy"
        },
        "sourceFlowConfig": {
          "documentation": "<p> The configuration that controls how Amazon AppFlow retrieves data from the source connector. </p>",
          "shape": "SourceFlowConfig"
        },
        "tags": {
          "documentation": "<p> The tags used to organize, track, or control access for your flow. </p>",
          "shape": "TagMap"
        },
        "tasks": {
          "documentation": "<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. </p>",
          "shape": "Tasks"
        },
        "triggerConfig": {
          "documentation": "<p> The trigger settings that determine how and when the flow runs. </p>",
          "shape": "TriggerConfig"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 1024,
      "pattern": "[\\s\\w/!@#+=.-]*",
      "type": "string"
    },
    "DestinationConnectorProperties": {
      "documentation": "<p> This stores the information that is required to query a particular connector. </p>",
      "members": {
        "CustomConnector": {
          "documentation": "<p>The properties that are required to query the custom Connector.</p>",
          "shape": "CustomConnectorDestinationProperties"
        },
        "CustomerProfiles": {
          "documentation": "<p> The properties required to query Amazon Connect Customer Profiles. </p>",
          "shape": "CustomerProfilesDestinationProperties"
        },
        "EventBridge": {
          "documentation": "<p> The properties required to query Amazon EventBridge. </p>",
          "shape": "EventBridgeDestinationProperties"
        },
        "Honeycode": {
          "documentation": "<p> The properties required to query Amazon Honeycode. </p>",
          "shape": "HoneycodeDestinationProperties"
        },
        "LookoutMetrics": {
          "documentation": "<p> The properties required to query Amazon Lookout for Metrics. </p>",
          "shape": "LookoutMetricsDestinationProperties"
        },
        "Marketo": {
          "documentation": "<p>The properties required to query Marketo.</p>",
          "shape": "MarketoDestinationProperties"
        },
        "Redshift": {
          "documentation": "<p> The properties required to query Amazon Redshift. </p>",
          "shape": "RedshiftDestinationProperties"
        },
        "S3": {
          "documentation": "<p> The properties required to query Amazon S3. </p>",
          "shape": "S3DestinationProperties"
        },
        "SAPOData": {
          "documentation": "<p>The properties required to query SAPOData.</p>",
          "shape": "SAPODataDestinationProperties"
        },
        "Salesforce": {
          "documentation": "<p> The properties required to query Salesforce. </p>",
          "shape": "SalesforceDestinationProperties"
        },
        "Snowflake": {
          "documentation": "<p> The properties required to query Snowflake. </p>",
          "shape": "SnowflakeDestinationProperties"
        },
        "Upsolver": {
          "documentation": "<p> The properties required to query Upsolver. </p>",
          "shape": "UpsolverDestinationProperties"
        },
        "Zendesk": {
          "documentation": "<p>The properties required to query Zendesk.</p>",
          "shape": "ZendeskDestinationProperties"
        }
      },
      "type": "structure"
    },
    "DestinationField": {
      "max": 256,
      "pattern": ".*",
      "type": "string"
    },
    "DestinationFieldProperties": {
      "documentation": "<p> The properties that can be applied to a field when connector is being used as a destination. </p>",
      "members": {
        "isCreatable": {
          "documentation": "<p> Specifies if the destination field can be created by the current user. </p>",
          "shape": "Boolean"
        },
        "isDefaultedOnCreate": {
          "documentation": "<p>Specifies whether the field can use the default value during a Create operation.</p>",
          "shape": "Boolean"
        },
        "isNullable": {
          "documentation": "<p> Specifies if the destination field can have a null value. </p>",
          "shape": "Boolean"
        },
        "isUpdatable": {
          "documentation": "<p> Specifies whether the field can be updated during an <code>UPDATE</code> or <code>UPSERT</code> write operation. </p>",
          "shape": "Boolean"
        },
        "isUpsertable": {
          "documentation": "<p> Specifies if the flow run can either insert new rows in the destination field if they do not already exist, or update them if they do. </p>",
          "shape": "Boolean"
        },
        "supportedWriteOperations": {
          "documentation": "<p> A list of supported write operations. For each write operation listed, this field can be used in <code>idFieldNames</code> when that write operation is present as a destination option. </p>",
          "shape": "SupportedWriteOperationList"
        }
      },
      "type": "structure"
    },
    "DestinationFlowConfig": {
      "documentation": "<p> Contains information about the configuration of destination connectors present in the flow. </p>",
      "members": {
        "apiVersion": {
          "documentation": "<p>The API version that the destination connector uses.</p>",
          "shape": "ApiVersion"
        },
        "connectorProfileName": {
          "documentation": "<p> The name of the connector profile. This name must be unique for each connector profile in the Amazon Web Services account. </p>",
          "shape": "ConnectorProfileName"
        },
        "connectorType": {
          "documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
          "shape": "ConnectorType"
        },
        "destinationConnectorProperties": {
          "documentation": "<p> This stores the information that is required to query a particular connector. </p>",
          "shape": "DestinationConnectorProperties"
        }
      },
      "required": [
        "connectorType",
        "destinationConnectorProperties"
      ],
      "type": "structure"
    },
    "DestinationFlowConfigList": {
      "member": {
        "shape": "DestinationFlowConfig"
      },
      "type": "list"
    },
    "DocumentType": {
      "max": 512,
      "pattern": "[\\s\\w_-]+",
      "type": "string"
    },
    "DomainName": {
      "max": 64,
      "pattern": "\\S+",
      "type": "string"
    },
    "Double": {
      "type": "double"
    },
    "DynatraceConnectorOperator": {
      "enum": [
        "PROJECTION",
        "BETWEEN",
        "EQUAL_TO",
        "ADDITION",
        "MULTIPLICATION",
        "DIVISION",
        "SUBTRACTION",
        "MASK_ALL",
        "MASK_FIRST_N",
        "MASK_LAST_N",
        "VALIDATE_NON_NULL",
        "VALIDATE_NON_ZERO",
        "VALIDATE_NON_NEGATIVE",
        "VALIDATE_NUMERIC",
        "NO_OP"
      ],
      "type": "string"
    },
    "DynatraceConnectorProfileCredentials": {
      "documentation": "<p> The connector-specific profile credentials required by Dynatrace. </p>",
      "members": {
        "apiToken": {
          "documentation": "<p> The API tokens used by Dynatrace API to authenticate various API calls. </p>",
          "shape": "ApiToken"
        }
      },
      "required": [
        "apiToken"
      ],
      "type": "structure"
    },
    "DynatraceConnectorProfileProperties": {
      "documentation": "<p> The connector-specific profile properties required by Dynatrace. </p>",
      "members": {
        "instanceUrl": {
          "documentation": "<p> The location of the Dynatrace resource. </p>",
          "shape": "InstanceUrl"
        }
      },
      "required": [
        "instanceUrl"
      ],
      "type": "structure"
    },
    "DynatraceMetadata": {
      "documentation": "<p> The connector metadata specific to Dynatrace. </p>",
      "members": {},
      "type": "structure"
    },
    "DynatraceSourceProperties": {
      "documentation": "<p> The properties that are applied when Dynatrace is being used as a source. </p>",
      "members": {
        "object": {
          "documentation": "<p> The object specified in the Dynatrace flow source. </p>",
          "shape": "Object"
        }
      },
      "required": [
        "object"
      ],
      "type": "structure"
    },
    "EntitiesPath": {
      "max": 256,
      "pattern": "[\\s\\w/!@#+=.-]*",
      "type": "string"
    },
    "EntityName": {
      "max": 1024,
      "pattern": "\\S+",
      "type": "string"
    },
    "ErrorHandlingConfig": {
      "documentation": "<p> The settings that determine how Amazon AppFlow handles an error when placing data in the destination. For example, this setting would determine if the flow should fail after one insertion error, or continue and attempt to insert every record regardless of the initial failure. <code>ErrorHandlingConfig</code> is a part of the destination connector details. </p>",
      "members": {
        "bucketName": {
          "documentation": "<p> Specifies the name of the Amazon S3 bucket. </p>",
          "shape": "BucketName"
        },
        "bucketPrefix": {
          "documentation": "<p> Specifies the Amazon S3 bucket prefix. </p>",
          "shape": "BucketPrefix"
        },
        "failOnFirstDestinationError": {
          "documentation": "<p> Specifies if the flow should fail after the first instance of a failure when attempting to place data in the destination. </p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ErrorInfo": {
      "documentation": "<p> Provides details in the event of a failed flow, including the failure count and the related error messages. </p>",
      "members": {
        "executionMessage": {
          "documentation": "<p> Specifies the error message that appears if a flow fails. </p>",
          "shape": "ExecutionMessage"
        },
        "putFailuresCount": {
          "documentation": "<p> Specifies the failure count for the attempted flow. </p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 2048,
      "pattern": "[\\s\\w/!@#+=.-]*",
      "type": "string"
    },
    "EventBridgeDestinationProperties": {
      "documentation": "<p> The properties that are applied when Amazon EventBridge is being used as a destination. </p>",
      "members": {
        "errorHandlingConfig": {
          "shape": "ErrorHandlingConfig"
        },
        "object": {
          "documentation": "<p> The object specified in the Amazon EventBridge flow destination. </p>",
          "shape": "Object"
        }
      },
      "required": [
        "object"
      ],
      "type": "structure"
    },
    "EventBridgeMetadata": {
      "documentation": "<p> The connector metadata specific to Amazon EventBridge. </p>",
      "members": {},
      "type": "structure"
    },
    "ExecutionDetails": {
      "documentation": "<p> Describes the details of the flow run, including the timestamp, status, and message. </p>",
      "members": {
        "mostRecentExecutionMessage": {
          "documentation": "<p> Describes the details of the most recent flow run. </p>",
          "shape": "MostRecentExecutionMessage"
        },
        "mostRecentExecutionStatus": {
          "documentation": "<p> Specifies the status of the most recent flow run. </p>",
          "shape": "ExecutionStatus"
        },
        "mostRecentExecutionTime": {
          "documentation": "<p> Specifies the time of the most recent flow run. </p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "ExecutionId": {
      "max": 256,
      "pattern": "\\S+",
      "type": "string"
    },
    "ExecutionMessage": {
      "max": 2048,
      "pattern": "[\\s\\w/!@#+=.-]*",
      "type": "string"
    },
    "ExecutionRecord": {
      "documentation": "<p> Specifies information about the past flow run instances for a given flow. </p>",
      "members": {
        "dataPullEndTime": {
          "documentation": "<p> The timestamp that indicates the last new or updated record to be transferred in the flow run. </p>",
          "shape": "Date"
        },
        "dataPullStartTime": {
          "documentation": "<p> The timestamp that determines the first new or updated record to be transferred in the flow run. </p>",
          "shape": "Date"
        },
        "executionId": {
          "documentation": "<p> Specifies the identifier of the given flow run. </p>",
          "shape": "ExecutionId"
        },
        "executionResult": {
          "documentation": "<p> Describes the result of the given flow run. </p>",
          "shape": "ExecutionResult"
        },
        "executionStatus": {
          "documentation": "<p> Specifies the flow run status and whether it is in progress, has completed successfully, or has failed. </p>",
          "shape": "ExecutionStatus"
        },
        "lastUpdatedAt": {
          "documentation": "<p> Specifies the time of the most recent update. </p>",
          "shape": "Date"
        },
        "startedAt": {
[...]
