{
  "documentation": "<fullname>Backup</fullname> <p>Backup is a unified backup service designed to protect Amazon Web Services services and their associated data. Backup simplifies the creation, migration, restoration, and deletion of backups, while also providing reporting and auditing.</p>",
  "metadata": {
    "apiVersion": "2018-11-15",
    "endpointPrefix": "backup",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Backup",
    "serviceId": "Backup",
    "signatureVersion": "v4",
    "uid": "backup-2018-11-15"
  },
  "operations": {
    "CreateBackupPlan": {
      "documentation": "<p>Creates a backup plan using a backup plan name and backup rules. A backup plan is a document that contains information that Backup uses to schedule tasks that create recovery points for resources.</p> <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, you receive an <code>AlreadyExistsException</code> exception.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup/plans/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupPlanInput"
      },
      "name": "CreateBackupPlan",
      "output": {
        "shape": "CreateBackupPlanOutput"
      }
    },
    "CreateBackupSelection": {
      "documentation": "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan. For examples, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/assigning-resources.html#assigning-resources-json\">Assigning resources programmatically</a>. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup/plans/{backupPlanId}/selections/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupSelectionInput"
      },
      "name": "CreateBackupSelection",
      "output": {
        "shape": "CreateBackupSelectionOutput"
      }
    },
    "CreateBackupVault": {
      "documentation": "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code> request includes a name, optionally one or more resource tags, an encryption key, and a request ID.</p> <note> <p>Do not include sensitive data, such as passport numbers, in the name of a backup vault.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupVaultInput"
      },
      "name": "CreateBackupVault",
      "output": {
        "shape": "CreateBackupVaultOutput"
      }
    },
    "CreateFramework": {
      "documentation": "<p>Creates a framework with one or more controls. A framework is a collection of controls that you can use to evaluate your backup practices. By using pre-built customizable controls to define your policies, you can evaluate whether your backup practices comply with your policies and which resources are not yet in compliance.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/audit/frameworks"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateFrameworkInput"
      },
      "name": "CreateFramework",
      "output": {
        "shape": "CreateFrameworkOutput"
      }
    },
    "CreateReportPlan": {
      "documentation": "<p>Creates a report plan. A report plan is a document that contains information about the contents of the report and where Backup will deliver it.</p> <p>If you call <code>CreateReportPlan</code> with a plan that already exists, you receive an <code>AlreadyExistsException</code> exception.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/audit/report-plans"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateReportPlanInput"
      },
      "name": "CreateReportPlan",
      "output": {
        "shape": "CreateReportPlanOutput"
      }
    },
    "DeleteBackupPlan": {
      "documentation": "<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections of resources have been deleted. Deleting a backup plan deletes the current version of a backup plan. Previous versions, if any, will still exist.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup/plans/{backupPlanId}"
      },
      "input": {
        "shape": "DeleteBackupPlanInput"
      },
      "name": "DeleteBackupPlan",
      "output": {
        "shape": "DeleteBackupPlanOutput"
      }
    },
    "DeleteBackupSelection": {
      "documentation": "<p>Deletes the resource selection associated with a backup plan that is specified by the <code>SelectionId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input": {
        "shape": "DeleteBackupSelectionInput"
      },
      "name": "DeleteBackupSelection"
    },
    "DeleteBackupVault": {
      "documentation": "<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is empty.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "input": {
        "shape": "DeleteBackupVaultInput"
      },
      "name": "DeleteBackupVault"
    },
    "DeleteBackupVaultAccessPolicy": {
      "documentation": "<p>Deletes the policy document that manages permissions on a backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBackupVaultAccessPolicyInput"
      },
      "name": "DeleteBackupVaultAccessPolicy"
    },
    "DeleteBackupVaultLockConfiguration": {
      "documentation": "<p>Deletes Backup Vault Lock from a backup vault specified by a backup vault name.</p> <p>If the Vault Lock configuration is immutable, then you cannot delete Vault Lock using API operations, and you will receive an <code>InvalidRequestException</code> if you attempt to do so. For more information, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/vault-lock.html\">Vault Lock</a> in the <i>Backup Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/vault-lock"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBackupVaultLockConfigurationInput"
      },
      "name": "DeleteBackupVaultLockConfiguration"
    },
    "DeleteBackupVaultNotifications": {
      "documentation": "<p>Deletes event notifications for the specified backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBackupVaultNotificationsInput"
      },
      "name": "DeleteBackupVaultNotifications"
    },
    "DeleteFramework": {
      "documentation": "<p>Deletes the framework specified by a framework name.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/audit/frameworks/{frameworkName}"
      },
      "input": {
        "shape": "DeleteFrameworkInput"
      },
      "name": "DeleteFramework"
    },
    "DeleteRecoveryPoint": {
      "documentation": "<p>Deletes the recovery point specified by a recovery point ID.</p> <p>If the recovery point ID belongs to a continuous backup, calling this endpoint deletes the existing continuous backup and stops future continuous backup.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRecoveryPointInput"
      },
      "name": "DeleteRecoveryPoint"
    },
    "DeleteReportPlan": {
      "documentation": "<p>Deletes the report plan specified by a report plan name.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/audit/report-plans/{reportPlanName}"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReportPlanInput"
      },
      "name": "DeleteReportPlan"
    },
    "DescribeBackupJob": {
      "documentation": "<p>Returns backup job details for the specified <code>BackupJobId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "DependencyFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-jobs/{backupJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBackupJobInput"
      },
      "name": "DescribeBackupJob",
      "output": {
        "shape": "DescribeBackupJobOutput"
      }
    },
    "DescribeBackupVault": {
      "documentation": "<p>Returns metadata about a backup vault specified by its name.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBackupVaultInput"
      },
      "name": "DescribeBackupVault",
      "output": {
        "shape": "DescribeBackupVaultOutput"
      }
    },
    "DescribeCopyJob": {
      "documentation": "<p>Returns metadata associated with creating a copy of a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/copy-jobs/{copyJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeCopyJobInput"
      },
      "name": "DescribeCopyJob",
      "output": {
        "shape": "DescribeCopyJobOutput"
      }
    },
    "DescribeFramework": {
      "documentation": "<p>Returns the framework details for the specified <code>FrameworkName</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/frameworks/{frameworkName}"
      },
      "input": {
        "shape": "DescribeFrameworkInput"
      },
      "name": "DescribeFramework",
      "output": {
        "shape": "DescribeFrameworkOutput"
      }
    },
    "DescribeGlobalSettings": {
      "documentation": "<p>Describes whether the Amazon Web Services account is opted in to cross-account backup. Returns an error if the account is not a member of an Organizations organization. Example: <code>describe-global-settings --region us-west-2</code> </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-settings"
      },
      "input": {
        "shape": "DescribeGlobalSettingsInput"
      },
      "name": "DescribeGlobalSettings",
      "output": {
        "shape": "DescribeGlobalSettingsOutput"
      }
    },
    "DescribeProtectedResource": {
      "documentation": "<p>Returns information about a saved resource, including the last time it was backed up, its Amazon Resource Name (ARN), and the Amazon Web Services service type of the saved resource.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeProtectedResourceInput"
      },
      "name": "DescribeProtectedResource",
      "output": {
        "shape": "DescribeProtectedResourceOutput"
      }
    },
    "DescribeRecoveryPoint": {
      "documentation": "<p>Returns metadata associated with a recovery point, including ID, status, encryption, and lifecycle.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRecoveryPointInput"
      },
      "name": "DescribeRecoveryPoint",
      "output": {
        "shape": "DescribeRecoveryPointOutput"
      }
    },
    "DescribeRegionSettings": {
      "documentation": "<p>Returns the current service opt-in settings for the Region. If service opt-in is enabled for a service, Backup tries to protect that service's resources in this Region, when the resource is included in an on-demand backup or scheduled backup plan. Otherwise, Backup does not try to protect that service's resources in this Region.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/account-settings"
      },
      "input": {
        "shape": "DescribeRegionSettingsInput"
      },
      "name": "DescribeRegionSettings",
      "output": {
        "shape": "DescribeRegionSettingsOutput"
      }
    },
    "DescribeReportJob": {
      "documentation": "<p>Returns the details associated with creating a report as specified by its <code>ReportJobId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/report-jobs/{reportJobId}"
      },
      "input": {
        "shape": "DescribeReportJobInput"
      },
      "name": "DescribeReportJob",
      "output": {
        "shape": "DescribeReportJobOutput"
      }
    },
    "DescribeReportPlan": {
      "documentation": "<p>Returns a list of all report plans for an Amazon Web Services account and Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/report-plans/{reportPlanName}"
      },
      "input": {
        "shape": "DescribeReportPlanInput"
      },
      "name": "DescribeReportPlan",
      "output": {
        "shape": "DescribeReportPlanOutput"
      }
    },
    "DescribeRestoreJob": {
      "documentation": "<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "DependencyFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restore-jobs/{restoreJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRestoreJobInput"
      },
      "name": "DescribeRestoreJob",
      "output": {
        "shape": "DescribeRestoreJobOutput"
      }
    },
    "DisassociateRecoveryPoint": {
      "documentation": "<p>Deletes the specified continuous backup recovery point from Backup and releases control of that continuous backup to the source service, such as Amazon RDS. The source service will continue to create and retain continuous backups using the lifecycle that you specified in your original backup plan.</p> <p>Does not support snapshot backup recovery points.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/disassociate"
      },
      "input": {
        "shape": "DisassociateRecoveryPointInput"
      },
      "name": "DisassociateRecoveryPoint"
    },
    "ExportBackupPlanTemplate": {
      "documentation": "<p>Returns the backup plan that is specified by the plan ID as a backup template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/toTemplate/"
      },
      "input": {
        "shape": "ExportBackupPlanTemplateInput"
      },
      "name": "ExportBackupPlanTemplate",
      "output": {
        "shape": "ExportBackupPlanTemplateOutput"
      }
    },
    "GetBackupPlan": {
      "documentation": "<p>Returns <code>BackupPlan</code> details for the specified <code>BackupPlanId</code>. The details are the body of a backup plan in JSON format, in addition to plan metadata.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupPlanInput"
      },
      "name": "GetBackupPlan",
      "output": {
        "shape": "GetBackupPlanOutput"
      }
    },
    "GetBackupPlanFromJSON": {
      "documentation": "<p>Returns a valid JSON document specifying a backup plan or an error.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup/template/json/toPlan"
      },
      "input": {
        "shape": "GetBackupPlanFromJSONInput"
      },
      "name": "GetBackupPlanFromJSON",
      "output": {
        "shape": "GetBackupPlanFromJSONOutput"
      }
    },
    "GetBackupPlanFromTemplate": {
      "documentation": "<p>Returns the template specified by its <code>templateId</code> as a backup plan.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/template/plans/{templateId}/toPlan"
      },
      "input": {
        "shape": "GetBackupPlanFromTemplateInput"
      },
      "name": "GetBackupPlanFromTemplate",
      "output": {
        "shape": "GetBackupPlanFromTemplateOutput"
      }
    },
    "GetBackupSelection": {
      "documentation": "<p>Returns selection metadata and a document in JSON format that specifies a list of resources that are associated with a backup plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupSelectionInput"
      },
      "name": "GetBackupSelection",
      "output": {
        "shape": "GetBackupSelectionOutput"
      }
    },
    "GetBackupVaultAccessPolicy": {
      "documentation": "<p>Returns the access policy document that is associated with the named backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupVaultAccessPolicyInput"
      },
      "name": "GetBackupVaultAccessPolicy",
      "output": {
        "shape": "GetBackupVaultAccessPolicyOutput"
      }
    },
    "GetBackupVaultNotifications": {
      "documentation": "<p>Returns event notifications for the specified backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupVaultNotificationsInput"
      },
      "name": "GetBackupVaultNotifications",
      "output": {
        "shape": "GetBackupVaultNotificationsOutput"
      }
    },
    "GetRecoveryPointRestoreMetadata": {
      "documentation": "<p>Returns a set of metadata key-value pairs that were used to create the backup.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/restore-metadata"
      },
      "idempotent": true,
      "input": {
        "shape": "GetRecoveryPointRestoreMetadataInput"
      },
      "name": "GetRecoveryPointRestoreMetadata",
      "output": {
        "shape": "GetRecoveryPointRestoreMetadataOutput"
      }
    },
    "GetSupportedResourceTypes": {
      "documentation": "<p>Returns the Amazon Web Services resource types supported by Backup.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/supported-resource-types"
      },
      "name": "GetSupportedResourceTypes",
      "output": {
        "shape": "GetSupportedResourceTypesOutput"
      }
    },
    "ListBackupJobs": {
      "documentation": "<p>Returns a list of existing backup jobs for an authenticated account for the last 30 days. For a longer period of time, consider using these <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/monitoring.html\">monitoring tools</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-jobs/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupJobsInput"
      },
      "name": "ListBackupJobs",
      "output": {
        "shape": "ListBackupJobsOutput"
      }
    },
    "ListBackupPlanTemplates": {
      "documentation": "<p>Returns metadata of your saved backup plan templates, including the template ID, name, and the creation and deletion dates.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/template/plans"
      },
      "input": {
        "shape": "ListBackupPlanTemplatesInput"
      },
      "name": "ListBackupPlanTemplates",
      "output": {
        "shape": "ListBackupPlanTemplatesOutput"
      }
    },
    "ListBackupPlanVersions": {
      "documentation": "<p>Returns version metadata of your backup plans, including Amazon Resource Names (ARNs), backup plan IDs, creation and deletion dates, plan names, and version IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/versions/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupPlanVersionsInput"
      },
      "name": "ListBackupPlanVersions",
      "output": {
        "shape": "ListBackupPlanVersionsOutput"
      }
    },
    "ListBackupPlans": {
      "documentation": "<p>Returns a list of all active backup plans for an authenticated account. The list contains information such as Amazon Resource Names (ARNs), plan IDs, creation and deletion dates, version IDs, plan names, and creator request IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupPlansInput"
      },
      "name": "ListBackupPlans",
      "output": {
        "shape": "ListBackupPlansOutput"
      }
    },
    "ListBackupSelections": {
      "documentation": "<p>Returns an array containing metadata of the resources associated with the target backup plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/selections/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupSelectionsInput"
      },
      "name": "ListBackupSelections",
      "output": {
        "shape": "ListBackupSelectionsOutput"
      }
    },
    "ListBackupVaults": {
      "documentation": "<p>Returns a list of recovery point storage containers along with information about them.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupVaultsInput"
      },
      "name": "ListBackupVaults",
      "output": {
        "shape": "ListBackupVaultsOutput"
      }
    },
    "ListCopyJobs": {
      "documentation": "<p>Returns metadata about your copy jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/copy-jobs/"
      },
      "input": {
        "shape": "ListCopyJobsInput"
      },
      "name": "ListCopyJobs",
      "output": {
        "shape": "ListCopyJobsOutput"
      }
    },
    "ListFrameworks": {
      "documentation": "<p>Returns a list of all frameworks for an Amazon Web Services account and Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/frameworks"
      },
      "input": {
        "shape": "ListFrameworksInput"
      },
      "name": "ListFrameworks",
      "output": {
        "shape": "ListFrameworksOutput"
      }
    },
    "ListProtectedResources": {
      "documentation": "<p>Returns an array of resources successfully backed up by Backup, including the time the resource was saved, an Amazon Resource Name (ARN) of the resource, and a resource type.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListProtectedResourcesInput"
      },
      "name": "ListProtectedResources",
      "output": {
        "shape": "ListProtectedResourcesOutput"
      }
    },
    "ListRecoveryPointsByBackupVault": {
      "documentation": "<p>Returns detailed information about the recovery points stored in a backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecoveryPointsByBackupVaultInput"
      },
      "name": "ListRecoveryPointsByBackupVault",
      "output": {
        "shape": "ListRecoveryPointsByBackupVaultOutput"
      }
    },
    "ListRecoveryPointsByResource": {
      "documentation": "<p>Returns detailed information about all the recovery points of the type specified by a resource Amazon Resource Name (ARN).</p> <note> <p>For Amazon EFS and Amazon EC2, this action only lists recovery points created by Backup.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{resourceArn}/recovery-points/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecoveryPointsByResourceInput"
      },
      "name": "ListRecoveryPointsByResource",
      "output": {
        "shape": "ListRecoveryPointsByResourceOutput"
      }
    },
    "ListReportJobs": {
      "documentation": "<p>Returns details about your report jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/report-jobs"
      },
      "input": {
        "shape": "ListReportJobsInput"
      },
      "name": "ListReportJobs",
      "output": {
        "shape": "ListReportJobsOutput"
      }
    },
    "ListReportPlans": {
      "documentation": "<p>Returns a list of your report plans. For detailed information about a single report plan, use <code>DescribeReportPlan</code>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/report-plans"
      },
      "input": {
        "shape": "ListReportPlansInput"
      },
      "name": "ListReportPlans",
      "output": {
        "shape": "ListReportPlansOutput"
      }
    },
    "ListRestoreJobs": {
      "documentation": "<p>Returns a list of jobs that Backup initiated to restore a saved resource, including details about the recovery process.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restore-jobs/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRestoreJobsInput"
      },
      "name": "ListRestoreJobs",
      "output": {
        "shape": "ListRestoreJobsOutput"
      }
    },
    "ListTags": {
      "documentation": "<p>Returns a list of key-value pairs assigned to a target recovery point, backup plan, or backup vault.</p> <p> <code>ListTags</code> only works for resource types that support full Backup management of their backups. Those resource types are listed in the \"Full Backup management\" section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> Feature availability by resource</a> table.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTagsInput"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsOutput"
      }
    },
    "PutBackupVaultAccessPolicy": {
      "documentation": "<p>Sets a resource-based policy that is used to manage access permissions on the target backup vault. Requires a backup vault name and an access policy document in JSON format.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "PutBackupVaultAccessPolicyInput"
      },
      "name": "PutBackupVaultAccessPolicy"
    },
    "PutBackupVaultLockConfiguration": {
      "documentation": "<p>Applies Backup Vault Lock to a backup vault, preventing attempts to delete any recovery point stored in or created in a backup vault. Vault Lock also prevents attempts to update the lifecycle policy that controls the retention period of any recovery point currently stored in a backup vault. If specified, Vault Lock enforces a minimum and maximum retention period for future backup and copy jobs that target a backup vault.</p> <note> <p>Backup Vault Lock has yet to receive a third-party assessment for SEC 17a-4(f) and CFTC.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}/vault-lock"
      },
      "idempotent": true,
      "input": {
        "shape": "PutBackupVaultLockConfigurationInput"
      },
      "name": "PutBackupVaultLockConfiguration"
    },
    "PutBackupVaultNotifications": {
      "documentation": "<p>Turns on notifications on a backup vault for the specified topic and events.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "PutBackupVaultNotificationsInput"
      },
      "name": "PutBackupVaultNotifications"
    },
    "StartBackupJob": {
      "documentation": "<p>Starts an on-demand backup job for the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartBackupJobInput"
      },
      "name": "StartBackupJob",
      "output": {
        "shape": "StartBackupJobOutput"
      }
    },
    "StartCopyJob": {
      "documentation": "<p>Starts a job to create a one-time copy of the specified resource.</p> <p>Does not support continuous backups.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/copy-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartCopyJobInput"
      },
      "name": "StartCopyJob",
      "output": {
        "shape": "StartCopyJobOutput"
      }
    },
    "StartReportJob": {
      "documentation": "<p>Starts an on-demand report job for the specified report plan.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/audit/report-jobs/{reportPlanName}"
      },
      "idempotent": true,
      "input": {
        "shape": "StartReportJobInput"
      },
      "name": "StartReportJob",
      "output": {
        "shape": "StartReportJobOutput"
      }
    },
    "StartRestoreJob": {
      "documentation": "<p>Recovers the saved resource identified by an Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restore-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartRestoreJobInput"
      },
      "name": "StartRestoreJob",
      "output": {
        "shape": "StartRestoreJobOutput"
      }
    },
    "StopBackupJob": {
      "documentation": "<p>Attempts to cancel a job to create a one-time backup of a resource.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup-jobs/{backupJobId}"
      },
      "input": {
        "shape": "StopBackupJobInput"
      },
      "name": "StopBackupJob"
    },
    "TagResource": {
      "documentation": "<p>Assigns a set of key-value pairs to a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes a set of key-value pairs from a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN)</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/untag/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource"
    },
    "UpdateBackupPlan": {
      "documentation": "<p>Updates an existing backup plan identified by its <code>backupPlanId</code> with the input document in JSON format. The new version is uniquely identified by a <code>VersionId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup/plans/{backupPlanId}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateBackupPlanInput"
      },
      "name": "UpdateBackupPlan",
      "output": {
        "shape": "UpdateBackupPlanOutput"
      }
    },
    "UpdateFramework": {
      "documentation": "<p>Updates an existing framework identified by its <code>FrameworkName</code> with the input document in JSON format.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/audit/frameworks/{frameworkName}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateFrameworkInput"
      },
      "name": "UpdateFramework",
      "output": {
        "shape": "UpdateFrameworkOutput"
      }
    },
    "UpdateGlobalSettings": {
      "documentation": "<p>Updates whether the Amazon Web Services account is opted in to cross-account backup. Returns an error if the account is not an Organizations management account. Use the <code>DescribeGlobalSettings</code> API to determine the current settings.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/global-settings"
      },
      "input": {
        "shape": "UpdateGlobalSettingsInput"
      },
      "name": "UpdateGlobalSettings"
    },
    "UpdateRecoveryPointLifecycle": {
      "documentation": "<p>Sets the transition lifecycle of a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. Backup transitions and expires backups automatically according to the lifecycle that you define.</p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cretention\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold.</p> <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> Feature availability by resource</a> table. Backup ignores this expression for other resource types.</p> <p>This operation does not support continuous backups.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRecoveryPointLifecycleInput"
      },
      "name": "UpdateRecoveryPointLifecycle",
      "output": {
        "shape": "UpdateRecoveryPointLifecycleOutput"
      }
    },
    "UpdateRegionSettings": {
      "documentation": "<p>Updates the current service opt-in settings for the Region. If service-opt-in is enabled for a service, Backup tries to protect that service's resources in this Region, when the resource is included in an on-demand backup or scheduled backup plan. Otherwise, Backup does not try to protect that service's resources in this Region. Use the <code>DescribeRegionSettings</code> API to determine the resource types that are supported.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/account-settings"
      },
      "input": {
        "shape": "UpdateRegionSettingsInput"
      },
      "name": "UpdateRegionSettings"
    },
    "UpdateReportPlan": {
      "documentation": "<p>Updates an existing report plan identified by its <code>ReportPlanName</code> with the input document in JSON format.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/audit/report-plans/{reportPlanName}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateReportPlanInput"
      },
      "name": "UpdateReportPlan",
      "output": {
        "shape": "UpdateReportPlanOutput"
      }
    }
  },
  "shapes": {
    "ARN": {
      "type": "string"
    },
    "AccountId": {
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "AdvancedBackupSetting": {
      "documentation": "<p>A list of backup options for each resource type.</p>",
      "members": {
        "BackupOptions": {
          "documentation": "<p>Specifies the backup option for a selected resource. This option is only available for Windows VSS backup jobs.</p> <p>Valid values: </p> <p>Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup option and create a Windows VSS backup. </p> <p>Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. The <code>WindowsVSS</code> option is not enabled by default.</p> <p>If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p> <p>For more information about Windows VSS backups, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/windows-backups.html\">Creating a VSS-Enabled Windows Backup</a>.</p>",
          "shape": "BackupOptions"
        },
        "ResourceType": {
          "documentation": "<p>Specifies an object containing resource type and backup options. The only supported resource type is Amazon EC2 instances with Windows Volume Shadow Copy Service (VSS). For a CloudFormation example, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/integrate-cloudformation-with-aws-backup.html\">sample CloudFormation template to enable Windows VSS</a> in the <i>Backup User Guide</i>.</p> <p>Valid values: <code>EC2</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "AdvancedBackupSettings": {
      "member": {
        "shape": "AdvancedBackupSetting"
      },
      "type": "list"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The required resource already exists.</p>",
      "exception": true,
      "members": {
        "Arn": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Code": {
          "shape": "string"
        },
        "Context": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "CreatorRequestId": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Message": {
          "shape": "string"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupJob": {
      "documentation": "<p>Contains detailed information about a backup job.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID that owns the backup job.</p>",
          "shape": "AccountId"
        },
        "BackupJobId": {
          "documentation": "<p>Uniquely identifies a request to Backup to back up a resource.</p>",
          "shape": "string"
        },
        "BackupOptions": {
          "documentation": "<p>Specifies the backup option for a selected resource. This option is only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p> <p>Valid values: Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup option and create a Windows VSS backup. Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p>",
          "shape": "BackupOptions"
        },
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a backup.</p>",
          "shape": "Long"
        },
        "BackupType": {
          "documentation": "<p>Represents the type of backup for a backup job.</p>",
          "shape": "string"
        },
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "BytesTransferred": {
          "documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was queried.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time a job to create a backup job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatedBy": {
          "documentation": "<p>Contains identifying information about the creation of a backup job, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan used to create it.</p>",
          "shape": "RecoveryPointCreator"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "ExpectedCompletionDate": {
          "documentation": "<p>The date and time a job to back up resources is expected to be completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to create the target recovery point. IAM roles other than the default role must include either <code>AWSBackup</code> or <code>AwsBackup</code> in the role name. For example, <code>arn:aws:iam::123456789012:role/AWSBackupRDSAccess</code>. Role names without those strings lack permissions to perform backup jobs.</p>",
          "shape": "IAMRoleArn"
        },
        "PercentDone": {
          "documentation": "<p>Contains an estimated percentage complete of a job at the time the job status was queried.</p>",
          "shape": "string"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "shape": "ARN"
        },
        "ResourceArn": {
          "documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of Amazon Web Services resource to be backed up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. For Windows Volume Shadow Copy Service (VSS) backups, the only supported resource type is Amazon EC2.</p>",
          "shape": "ResourceType"
        },
        "StartBy": {
          "documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job must be started before it is canceled. The value is calculated by adding the start window to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2 hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "State": {
          "documentation": "<p>The current state of a resource recovery point.</p>",
          "shape": "BackupJobState"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupJobState": {
      "enum": [
        "CREATED",
        "PENDING",
        "RUNNING",
        "ABORTING",
        "ABORTED",
        "COMPLETED",
        "FAILED",
        "EXPIRED"
      ],
      "type": "string"
    },
    "BackupJobsList": {
      "member": {
        "shape": "BackupJob"
      },
      "type": "list"
    },
    "BackupOptionKey": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupOptionValue": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupOptions": {
      "key": {
        "shape": "BackupOptionKey"
      },
      "type": "map",
      "value": {
        "shape": "BackupOptionValue"
      }
    },
    "BackupPlan": {
      "documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of Amazon Web Services resources.</p>",
      "members": {
        "AdvancedBackupSettings": {
          "documentation": "<p>Contains a list of <code>BackupOptions</code> for each resource type.</p>",
          "shape": "AdvancedBackupSettings"
        },
        "BackupPlanName": {
          "documentation": "<p>The display name of a backup plan. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "BackupPlanName"
        },
        "Rules": {
          "documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources. </p>",
          "shape": "BackupRules"
        }
      },
      "required": [
        "BackupPlanName",
        "Rules"
      ],
      "type": "structure"
    },
    "BackupPlanInput": {
      "documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task. </p>",
      "members": {
        "AdvancedBackupSettings": {
          "documentation": "<p>Specifies a list of <code>BackupOptions</code> for each resource type. These settings are only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>",
          "shape": "AdvancedBackupSettings"
        },
        "BackupPlanName": {
          "documentation": "<p>The display name of a backup plan. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "BackupPlanName"
        },
        "Rules": {
          "documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.</p>",
          "shape": "BackupRulesInput"
        }
      },
      "required": [
        "BackupPlanName",
        "Rules"
      ],
      "type": "structure"
    },
    "BackupPlanName": {
      "type": "string"
    },
    "BackupPlanTemplatesList": {
      "member": {
        "shape": "BackupPlanTemplatesListMember"
      },
      "type": "list"
    },
    "BackupPlanTemplatesListMember": {
      "documentation": "<p>An object specifying metadata associated with a backup plan template.</p>",
      "members": {
        "BackupPlanTemplateId": {
          "documentation": "<p>Uniquely identifies a stored backup plan template.</p>",
          "shape": "string"
        },
        "BackupPlanTemplateName": {
          "documentation": "<p>The optional display name of a backup plan template.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupPlanVersionsList": {
      "member": {
        "shape": "BackupPlansListMember"
      },
      "type": "list"
    },
    "BackupPlansList": {
      "member": {
        "shape": "BackupPlansListMember"
      },
      "type": "list"
    },
    "BackupPlansListMember": {
      "documentation": "<p>Contains metadata about a backup plan.</p>",
      "members": {
        "AdvancedBackupSettings": {
          "documentation": "<p>Contains a list of <code>BackupOptions</code> for a resource type.</p>",
          "shape": "AdvancedBackupSettings"
        },
        "BackupPlanArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>",
          "shape": "ARN"
        },
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "BackupPlanName": {
          "documentation": "<p>The display name of a saved backup plan.</p>",
          "shape": "BackupPlanName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a resource backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice. This parameter is optional.</p> <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "string"
        },
        "DeletionDate": {
          "documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "LastExecutionDate": {
          "documentation": "<p>The last time a job to back up resources was run with this rule. A date and time, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "VersionId": {
          "documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version IDs cannot be edited.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupRule": {
      "documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>",
      "members": {
        "CompletionWindowMinutes": {
          "documentation": "<p>A value in minutes after a backup job is successfully started before it must be completed or it will be canceled by Backup. This value is optional.</p>",
          "shape": "WindowMinutes"
        },
        "CopyActions": {
          "documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>",
          "shape": "CopyActions"
        },
        "EnableContinuousBackup": {
          "documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False (or not specified) causes Backup to create snapshot backups.</p>",
          "shape": "Boolean"
        },
        "Lifecycle": {
          "documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cretention\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p> <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> Feature availability by resource</a> table. Backup ignores this expression for other resource types.</p>",
          "shape": "Lifecycle"
        },
        "RecoveryPointTags": {
          "documentation": "<p>An array of key-value pair strings that are assigned to resources that are associated with this rule when restored from backup.</p>",
          "shape": "Tags"
        },
        "RuleId": {
          "documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of resources.</p>",
          "shape": "string"
        },
        "RuleName": {
          "documentation": "<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "BackupRuleName"
        },
        "ScheduleExpression": {
          "documentation": "<p>A cron expression in UTC specifying when Backup initiates a backup job. For more information about Amazon Web Services cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a> in the <i>Amazon CloudWatch Events User Guide.</i>. Two examples of Amazon Web Services cron expressions are <code> 15 * ? * * *</code> (take a backup every hour at 15 minutes past the hour) and <code>0 12 * * ? *</code> (take a backup every day at 12 noon UTC). For a table of examples, click the preceding link and scroll down the page.</p>",
          "shape": "CronExpression"
        },
        "StartWindowMinutes": {
          "documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully. This value is optional.</p>",
          "shape": "WindowMinutes"
        },
        "TargetBackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "RuleName",
        "TargetBackupVaultName"
      ],
      "type": "structure"
    },
    "BackupRuleInput": {
      "documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>",
      "members": {
        "CompletionWindowMinutes": {
          "documentation": "<p>A value in minutes after a backup job is successfully started before it must be completed or it will be canceled by Backup. This value is optional.</p>",
          "shape": "WindowMinutes"
        },
        "CopyActions": {
          "documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>",
          "shape": "CopyActions"
        },
        "EnableContinuousBackup": {
          "documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False (or not specified) causes Backup to create snapshot backups.</p>",
          "shape": "Boolean"
        },
        "Lifecycle": {
          "documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. Backup will transition and expire backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cretention\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold.</p> <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> Feature availability by resource</a> table. Backup ignores this expression for other resource types.</p>",
          "shape": "Lifecycle"
        },
        "RecoveryPointTags": {
          "documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that you create. Each tag is a key-value pair.</p>",
          "shape": "Tags"
        },
        "RuleName": {
          "documentation": "<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "BackupRuleName"
        },
        "ScheduleExpression": {
          "documentation": "<p>A CRON expression in UTC specifying when Backup initiates a backup job.</p>",
          "shape": "CronExpression"
        },
        "StartWindowMinutes": {
          "documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully. This value is optional.</p>",
          "shape": "WindowMinutes"
        },
        "TargetBackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "RuleName",
        "TargetBackupVaultName"
      ],
      "type": "structure"
    },
    "BackupRuleName": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupRules": {
      "member": {
        "shape": "BackupRule"
      },
      "type": "list"
    },
    "BackupRulesInput": {
      "member": {
        "shape": "BackupRuleInput"
      },
      "type": "list"
    },
    "BackupSelection": {
      "documentation": "<p>Used to specify a set of resources to a backup plan.</p> <p>Specifying your desired <code>Conditions</code>, <code>ListOfTags</code>, <code>NotResources</code>, and/or <code>Resources</code> is recommended. If none of these are specified, Backup will attempt to select all supported and opted-in storage resources, which could have unintended cost implications.</p>",
      "members": {
        "Conditions": {
          "documentation": "<p>A list of conditions that you define to assign resources to your backup plans using tags. For example, <code>\"StringEquals\": { \"ConditionKey\": \"aws:ResourceTag/CreatedByCryo\", \"ConditionValue\": \"true\" },</code>. Condition operators are case sensitive.</p> <p> <code>Conditions</code> differs from <code>ListOfTags</code> as follows:</p> <ul> <li> <p>When you specify more than one condition, you only assign the resources that match ALL conditions (using AND logic).</p> </li> <li> <p> <code>Conditions</code> supports <code>StringEquals</code>, <code>StringLike</code>, <code>StringNotEquals</code>, and <code>StringNotLike</code>. <code>ListOfTags</code> only supports <code>StringEquals</code>.</p> </li> </ul>",
          "shape": "Conditions"
        },
        "IamRoleArn": {
          "documentation": "<p>The ARN of the IAM role that Backup uses to authenticate when backing up the target resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "ListOfTags": {
          "documentation": "<p>A list of conditions that you define to assign resources to your backup plans using tags. For example, <code>\"StringEquals\": { \"ConditionKey\": \"aws:ResourceTag/CreatedByCryo\", \"ConditionValue\": \"true\" },</code>. Condition operators are case sensitive.</p> <p> <code>ListOfTags</code> differs from <code>Conditions</code> as follows:</p> <ul> <li> <p>When you specify more than one condition, you assign all resources that match AT LEAST ONE condition (using OR logic).</p> </li> <li> <p> <code>ListOfTags</code> only supports <code>StringEquals</code>. <code>Conditions</code> supports <code>StringEquals</code>, <code>StringLike</code>, <code>StringNotEquals</code>, and <code>StringNotLike</code>. </p> </li> </ul>",
          "shape": "ListOfTags"
        },
        "NotResources": {
          "documentation": "<p>A list of Amazon Resource Names (ARNs) to exclude from a backup plan. The maximum number of ARNs is 500 without wildcards, or 30 ARNs with wildcards.</p> <p>If you need to exclude many resources from a backup plan, consider a different resource selection strategy, such as assigning only one or a few resource types or refining your resource selection using tags.</p>",
          "shape": "ResourceArns"
        },
        "Resources": {
          "documentation": "<p>A list of Amazon Resource Names (ARNs) to assign to a backup plan. The maximum number of ARNs is 500 without wildcards, or 30 ARNs with wildcards.</p> <p>If you need to assign many resources to a backup plan, consider a different resource selection strategy, such as assigning all resources of a resource type or refining your resource selection using tags.</p>",
          "shape": "ResourceArns"
        },
        "SelectionName": {
          "documentation": "<p>The display name of a resource selection document. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "BackupSelectionName"
        }
      },
      "required": [
        "SelectionName",
        "IamRoleArn"
      ],
      "type": "structure"
    },
    "BackupSelectionName": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupSelectionsList": {
      "member": {
        "shape": "BackupSelectionsListMember"
      },
      "type": "list"
    },
    "BackupSelectionsListMember": {
      "documentation": "<p>Contains metadata about a <code>BackupSelection</code> object.</p>",
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice. This parameter is optional.</p> <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "string"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "SelectionId": {
          "documentation": "<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>",
          "shape": "string"
        },
        "SelectionName": {
          "documentation": "<p>The display name of a resource selection document.</p>",
          "shape": "BackupSelectionName"
        }
      },
      "type": "structure"
    },
    "BackupVaultEvent": {
      "enum": [
        "BACKUP_JOB_STARTED",
        "BACKUP_JOB_COMPLETED",
        "BACKUP_JOB_SUCCESSFUL",
        "BACKUP_JOB_FAILED",
        "BACKUP_JOB_EXPIRED",
        "RESTORE_JOB_STARTED",
        "RESTORE_JOB_COMPLETED",
        "RESTORE_JOB_SUCCESSFUL",
        "RESTORE_JOB_FAILED",
        "COPY_JOB_STARTED",
        "COPY_JOB_SUCCESSFUL",
        "COPY_JOB_FAILED",
        "RECOVERY_POINT_MODIFIED",
        "BACKUP_PLAN_CREATED",
        "BACKUP_PLAN_MODIFIED",
        "S3_BACKUP_OBJECT_FAILED",
        "S3_RESTORE_OBJECT_FAILED"
      ],
      "type": "string"
    },
    "BackupVaultEvents": {
      "member": {
        "shape": "BackupVaultEvent"
      },
      "type": "list"
    },
    "BackupVaultList": {
      "member": {
        "shape": "BackupVaultListMember"
      },
      "type": "list"
    },
    "BackupVaultListMember": {
      "documentation": "<p>Contains metadata about a backup vault.</p>",
      "members": {
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a resource backup is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice. This parameter is optional.</p> <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>",
          "shape": "string"
        },
        "EncryptionKeyArn": {
          "documentation": "<p>A server-side encryption key you can specify to encrypt your backups from services that support full Backup management; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>. If you specify a key, you must specify its ARN, not its alias. If you do not specify a key, Backup creates a KMS key for you by default.</p> <p>To learn which Backup services support full Backup management and how Backup handles encryption for backups from services that do not yet support full Backup, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/encryption.html\"> Encryption for backups in Backup</a> </p>",
          "shape": "ARN"
        },
        "LockDate": {
          "documentation": "<p>The date and time when Backup Vault Lock configuration becomes immutable, meaning it cannot be changed or deleted.</p> <p>If you applied Vault Lock to your vault without specifying a lock date, you can change your Vault Lock settings, or delete Vault Lock from the vault entirely, at any time.</p> <p>This value is in Unix format, Coordinated Universal Time (UTC), and accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "Locked": {
          "documentation": "<p>A Boolean value that indicates whether Backup Vault Lock applies to the selected backup vault. If <code>true</code>, Vault Lock prevents delete and update operations on the recovery points in the selected vault.</p>",
          "shape": "Boolean"
        },
        "MaxRetentionDays": {
          "documentation": "<p>The Backup Vault Lock setting that specifies the maximum retention period that the vault retains its recovery points. If this parameter is not specified, Vault Lock does not enforce a maximum retention period on the recovery points in the vault (allowing indefinite storage).</p> <p>If specified, any backup or copy job to the vault must have a lifecycle policy with a retention period equal to or shorter than the maximum retention period. If the job's retention period is longer than that maximum retention period, then the vault fails the backup or copy job, and you should either modify your lifecycle settings or use a different vault. Recovery points already stored in the vault prior to Vault Lock are not affected.</p>",
          "shape": "Long"
        },
        "MinRetentionDays": {
          "documentation": "<p>The Backup Vault Lock setting that specifies the minimum retention period that the vault retains its recovery points. If this parameter is not specified, Vault Lock does not enforce a minimum retention period.</p> <p>If specified, any backup or copy job to the vault must have a lifecycle policy with a retention period equal to or longer than the minimum retention period. If the job's retention period is shorter than that minimum retention period, then the vault fails the backup or copy job, and you should either modify your lifecycle settings or use a different vault. Recovery points already stored in the vault prior to Vault Lock are not affected.</p>",
          "shape": "Long"
        },
        "NumberOfRecoveryPoints": {
          "documentation": "<p>The number of recovery points that are stored in a backup vault.</p>",
          "shape": "long"
        }
      },
      "type": "structure"
    },
    "BackupVaultName": {
      "pattern": "^[a-zA-Z0-9\\-\\_]{2,50}$",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CalculatedLifecycle": {
      "documentation": "<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which are used to specify a lifecycle for a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. Backup transitions and expires backups automatically according to the lifecycle that you define.</p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cretention\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold.</p> <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> Feature availability by resource</a> table. Backup ignores this expression for other resource types.</p>",
      "members": {
        "DeleteAt": {
          "documentation": "<p>A timestamp that specifies when to delete a recovery point.</p>",
          "shape": "timestamp"
        },
        "MoveToColdStorageAt": {
          "documentation": "<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>",
          "shape": "timestamp"
        }
      },
      "type": "structure"
    },
    "ComplianceResourceIdList": {
      "max": 100,
      "member": {
        "shape": "string"
      },
      "min": 1,
      "type": "list"
    },
    "Condition": {
      "documentation": "<p>Contains an array of triplets made up of a condition type (such as <code>StringEquals</code>), a key, and a value. Used to filter resources using their tags and assign them to a backup plan. Case sensitive.</p>",
      "members": {
        "ConditionKey": {
          "documentation": "<p>The key in a key-value pair. For example, in the tag <code>Department: Accounting</code>, <code>Department</code> is the key.</p>",
          "shape": "ConditionKey"
        },
        "ConditionType": {
          "documentation": "<p>An operation applied to a key-value pair used to assign resources to your backup plan. Condition only supports <code>StringEquals</code>. For more flexible assignment options, including <code>StringLike</code> and the ability to exclude resources from your backup plan, use <code>Conditions</code> (with an \"s\" on the end) for your <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/API_BackupSelection.html\"> <code>BackupSelection</code> </a>.</p>",
          "shape": "ConditionType"
        },
        "ConditionValue": {
          "documentation": "<p>The value in a key-value pair. For example, in the tag <code>Department: Accounting</code>, <code>Accounting</code> is the value.</p>",
          "shape": "ConditionValue"
        }
      },
      "required": [
        "ConditionType",
        "ConditionKey",
        "ConditionValue"
      ],
      "type": "structure"
    },
    "ConditionKey": {
      "type": "string"
    },
    "ConditionParameter": {
      "documentation": "<p>Includes information about tags you define to assign tagged resources to a backup plan.</p>",
      "members": {
        "ConditionKey": {
          "documentation": "<p>The key in a key-value pair. For example, in the tag <code>Department: Accounting</code>, <code>Department</code> is the key.</p>",
          "shape": "ConditionKey"
        },
        "ConditionValue": {
          "documentation": "<p>The value in a key-value pair. For example, in the tag <code>Department: Accounting</code>, <code>Accounting</code> is the value.</p>",
          "shape": "ConditionValue"
        }
      },
      "type": "structure"
    },
    "ConditionParameters": {
      "member": {
        "shape": "ConditionParameter"
      },
      "type": "list"
    },
    "ConditionType": {
      "enum": [
        "STRINGEQUALS"
      ],
      "type": "string"
    },
    "ConditionValue": {
      "type": "string"
    },
    "Conditions": {
      "documentation": "<p>Contains information about which resources to include or exclude from a backup plan using their tags. Conditions are case sensitive.</p>",
      "members": {
        "StringEquals": {
          "documentation": "<p>Filters the values of your tagged resources for only those resources that you tagged with the same value. Also called \"exact matching.\"</p>",
          "shape": "ConditionParameters"
        },
        "StringLike": {
          "documentation": "<p>Filters the values of your tagged resources for matching tag values with the use of a wildcard character (*) anywhere in the string. For example, \"prod*\" or \"*rod*\" matches the tag value \"production\".</p>",
          "shape": "ConditionParameters"
        },
        "StringNotEquals": {
          "documentation": "<p>Filters the values of your tagged resources for only those resources that you tagged that do not have the same value. Also called \"negated matching.\"</p>",
          "shape": "ConditionParameters"
        },
        "StringNotLike": {
          "documentation": "<p>Filters the values of your tagged resources for non-matching tag values with the use of a wildcard character (*) anywhere in the string.</p>",
          "shape": "ConditionParameters"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>Backup can't perform the action that you requested until it finishes performing a previous action. Try again later.</p>",
      "exception": true,
      "members": {
        "Code": {
          "shape": "string"
        },
        "Context": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Message": {
          "shape": "string"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ControlInputParameter": {
      "documentation": "<p>A list of parameters for a control. A control can have zero, one, or more than one parameter. An example of a control with two parameters is: \"backup plan frequency is at least <code>daily</code> and the retention period is at least <code>1 year</code>\". The first parameter is <code>daily</code>. The second parameter is <code>1 year</code>.</p>",
      "members": {
        "ParameterName": {
          "documentation": "<p>The name of a parameter, for example, <code>BackupPlanFrequency</code>.</p>",
          "shape": "ParameterName"
        },
        "ParameterValue": {
          "documentation": "<p>The value of parameter, for example, <code>hourly</code>.</p>",
          "shape": "ParameterValue"
        }
      },
      "type": "structure"
    },
    "ControlInputParameters": {
      "member": {
        "shape": "ControlInputParameter"
      },
      "type": "list"
    },
    "ControlName": {
      "type": "string"
    },
    "ControlScope": {
      "documentation": "<p>A framework consists of one or more controls. Each control has its own control scope. The control scope can include one or more resource types, a combination of a tag key and value, or a combination of one resource type and one resource ID. If no scope is specified, evaluations for the rule are triggered when any resource in your recording group changes in configuration.</p> <note> <p>To set a control scope that includes all of a particular resource, leave the <code>ControlScope</code> empty or do not pass it when calling <code>CreateFramework</code>.</p> </note>",
      "members": {
        "ComplianceResourceIds": {
          "documentation": "<p>The ID of the only Amazon Web Services resource that you want your control scope to contain.</p>",
          "shape": "ComplianceResourceIdList"
        },
        "ComplianceResourceTypes": {
          "documentation": "<p>Describes whether the control scope includes one or more types of resources, such as <code>EFS</code> or <code>RDS</code>.</p>",
          "shape": "ResourceTypeList"
        },
        "Tags": {
          "documentation": "<p>The tag key-value pair applied to those Amazon Web Services resources that you want to trigger an evaluation for a rule. A maximum of one key-value pair can be provided. The tag value is optional, but it cannot be an empty string. The structure to assign a tag is: <code>[{\"Key\":\"string\",\"Value\":\"string\"}]</code>.</p>",
          "shape": "stringMap"
        }
      },
      "type": "structure"
    },
    "CopyAction": {
      "documentation": "<p>The details of the copy operation.</p>",
      "members": {
        "DestinationBackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for the copied backup. For example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "Lifecycle": {
          "shape": "Lifecycle"
        }
      },
      "required": [
        "DestinationBackupVaultArn"
      ],
      "type": "structure"
    },
    "CopyActions": {
      "member": {
        "shape": "CopyAction"
      },
      "type": "list"
    },
    "CopyJob": {
      "documentation": "<p>Contains detailed information about a copy job.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID that owns the copy job.</p>",
          "shape": "AccountId"
        },
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a copy job.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
[...]
