{
  "documentation": "<p>This is the Amazon Lookout for Vision API Reference. It provides descriptions of actions, data types, common parameters, and common errors.</p> <p>Amazon Lookout for Vision enables you to find visual defects in industrial products, accurately and at scale. It uses computer vision to identify missing components in an industrial product, damage to vehicles or structures, irregularities in production lines, and even minuscule defects in silicon wafers \u2014 or any other physical item where quality is important such as a missing capacitor on printed circuit boards.</p>",
  "metadata": {
    "apiVersion": "2020-11-20",
    "endpointPrefix": "lookoutvision",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Lookout for Vision",
    "serviceId": "LookoutVision",
    "signatureVersion": "v4",
    "signingName": "lookoutvision",
    "uid": "lookoutvision-2020-11-20"
  },
  "operations": {
    "CreateDataset": {
      "documentation": "<p>Creates a new dataset in an Amazon Lookout for Vision project. <code>CreateDataset</code> can create a training or a test dataset from a valid dataset source (<code>DatasetSource</code>).</p> <p>If you want a single dataset project, specify <code>train</code> for the value of <code>DatasetType</code>.</p> <p>To have a project with separate training and test datasets, call <code>CreateDataset</code> twice. On the first call, specify <code>train</code> for the value of <code>DatasetType</code>. On the second call, specify <code>test</code> for the value of <code>DatasetType</code>. </p> <p>This operation requires permissions to perform the <code>lookoutvision:CreateDataset</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateModel": {
      "documentation": "<p>Creates a new version of a model within an an Amazon Lookout for Vision project. <code>CreateModel</code> is an asynchronous operation in which Amazon Lookout for Vision trains, tests, and evaluates a new version of a model. </p> <p>To get the current status, check the <code>Status</code> field returned in the response from <a>DescribeModel</a>.</p> <p>If the project has a single dataset, Amazon Lookout for Vision internally splits the dataset to create a training and a test dataset. If the project has a training and a test dataset, Lookout for Vision uses the respective datasets to train and test the model. </p> <p>After training completes, the evaluation metrics are stored at the location specified in <code>OutputConfig</code>. </p> <p>This operation requires permissions to perform the <code>lookoutvision:CreateModel</code> operation. If you want to tag your model, you also require permission to the <code>lookoutvision:TagResource</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/models",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "shape": "CreateModelResponse"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates an empty Amazon Lookout for Vision project. After you create the project, add a dataset by calling <a>CreateDataset</a>.</p> <p>This operation requires permissions to perform the <code>lookoutvision:CreateProject</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects"
      },
      "input": {
        "shape": "CreateProjectRequest"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectResponse"
      }
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes an existing Amazon Lookout for Vision <code>dataset</code>. </p> <p>If your the project has a single dataset, you must create a new dataset before you can create a model.</p> <p>If you project has a training dataset and a test dataset consider the following. </p> <ul> <li> <p>If you delete the test dataset, your project reverts to a single dataset project. If you then train the model, Amazon Lookout for Vision internally splits the remaining dataset into a training and test dataset.</p> </li> <li> <p>If you delete the training dataset, you must create a training dataset before you can create a model.</p> </li> </ul> <p>This operation requires permissions to perform the <code>lookoutvision:DeleteDataset</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset",
      "output": {
        "shape": "DeleteDatasetResponse"
      }
    },
    "DeleteModel": {
      "documentation": "<p>Deletes an Amazon Lookout for Vision model. You can't delete a running model. To stop a running model, use the <a>StopModel</a> operation.</p> <p>It might take a few seconds to delete a model. To determine if a model has been deleted, call <a>ListModels</a> and check if the version of the model (<code>ModelVersion</code>) is in the <code>Models</code> array. </p> <p/> <p>This operation requires permissions to perform the <code>lookoutvision:DeleteModel</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel",
      "output": {
        "shape": "DeleteModelResponse"
      }
    },
    "DeleteProject": {
      "documentation": "<p>Deletes an Amazon Lookout for Vision project.</p> <p>To delete a project, you must first delete each version of the model associated with the project. To delete a model use the <a>DeleteModel</a> operation.</p> <p>You also have to delete the dataset(s) associated with the model. For more information, see <a>DeleteDataset</a>. The images referenced by the training and test datasets aren't deleted. </p> <p>This operation requires permissions to perform the <code>lookoutvision:DeleteProject</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/projects/{projectName}"
      },
      "input": {
        "shape": "DeleteProjectRequest"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Describe an Amazon Lookout for Vision dataset.</p> <p>This operation requires permissions to perform the <code>lookoutvision:DescribeDataset</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}"
      },
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeModel": {
      "documentation": "<p>Describes a version of an Amazon Lookout for Vision model.</p> <p>This operation requires permissions to perform the <code>lookoutvision:DescribeModel</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}"
      },
      "input": {
        "shape": "DescribeModelRequest"
      },
      "name": "DescribeModel",
      "output": {
        "shape": "DescribeModelResponse"
      }
    },
    "DescribeModelPackagingJob": {
      "documentation": "<p>Describes an Amazon Lookout for Vision model packaging job. </p> <p>This operation requires permissions to perform the <code>lookoutvision:DescribeModelPackagingJob</code> operation.</p> <p>For more information, see <i>Using your Amazon Lookout for Vision model on an edge device</i> in the Amazon Lookout for Vision Developer Guide. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs/{jobName}"
      },
      "input": {
        "shape": "DescribeModelPackagingJobRequest"
      },
      "name": "DescribeModelPackagingJob",
      "output": {
        "shape": "DescribeModelPackagingJobResponse"
      }
    },
    "DescribeProject": {
      "documentation": "<p>Describes an Amazon Lookout for Vision project.</p> <p>This operation requires permissions to perform the <code>lookoutvision:DescribeProject</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}"
      },
      "input": {
        "shape": "DescribeProjectRequest"
      },
      "name": "DescribeProject",
      "output": {
        "shape": "DescribeProjectResponse"
      }
    },
    "DetectAnomalies": {
      "documentation": "<p>Detects anomalies in an image that you supply. </p> <p>The response from <code>DetectAnomalies</code> includes a boolean prediction that the image contains one or more anomalies and a confidence value for the prediction. If the model is an image segmentation model, the response also includes segmentation information for each type of anomaly found in the image.</p> <note> <p>Before calling <code>DetectAnomalies</code>, you must first start your model with the <a>StartModel</a> operation. You are charged for the amount of time, in minutes, that a model runs and for the number of anomaly detection units that your model uses. If you are not using a model, use the <a>StopModel</a> operation to stop your model. </p> </note> <p>For more information, see <i>Detecting anomalies in an image</i> in the Amazon Lookout for Vision developer guide.</p> <p>This operation requires permissions to perform the <code>lookoutvision:DetectAnomalies</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/detect"
      },
      "input": {
        "shape": "DetectAnomaliesRequest"
      },
      "name": "DetectAnomalies",
      "output": {
        "shape": "DetectAnomaliesResponse"
      }
    },
    "ListDatasetEntries": {
      "documentation": "<p>Lists the JSON Lines within a dataset. An Amazon Lookout for Vision JSON Line contains the anomaly information for a single image, including the image location and the assigned label.</p> <p>This operation requires permissions to perform the <code>lookoutvision:ListDatasetEntries</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries"
      },
      "input": {
        "shape": "ListDatasetEntriesRequest"
      },
      "name": "ListDatasetEntries",
      "output": {
        "shape": "ListDatasetEntriesResponse"
      }
    },
    "ListModelPackagingJobs": {
      "documentation": "<p> Lists the model packaging jobs created for an Amazon Lookout for Vision project. </p> <p>This operation requires permissions to perform the <code>lookoutvision:ListModelPackagingJobs</code> operation. </p> <p>For more information, see <i>Using your Amazon Lookout for Vision model on an edge device</i> in the Amazon Lookout for Vision Developer Guide. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
      },
      "input": {
        "shape": "ListModelPackagingJobsRequest"
      },
      "name": "ListModelPackagingJobs",
      "output": {
        "shape": "ListModelPackagingJobsResponse"
      }
    },
    "ListModels": {
      "documentation": "<p>Lists the versions of a model in an Amazon Lookout for Vision project.</p> <p>The <code>ListModels</code> operation is eventually consistent. Recent calls to <code>CreateModel</code> might take a while to appear in the response from <code>ListProjects</code>.</p> <p>This operation requires permissions to perform the <code>lookoutvision:ListModels</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects/{projectName}/models"
      },
      "input": {
        "shape": "ListModelsRequest"
      },
      "name": "ListModels",
      "output": {
        "shape": "ListModelsResponse"
      }
    },
    "ListProjects": {
      "documentation": "<p>Lists the Amazon Lookout for Vision projects in your AWS account that are in the AWS Region in which you call <code>ListProjects</code>.</p> <p>The <code>ListProjects</code> operation is eventually consistent. Recent calls to <code>CreateProject</code> and <code>DeleteProject</code> might take a while to appear in the response from <code>ListProjects</code>.</p> <p>This operation requires permissions to perform the <code>lookoutvision:ListProjects</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/projects"
      },
      "input": {
        "shape": "ListProjectsRequest"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of tags attached to the specified Amazon Lookout for Vision model.</p> <p>This operation requires permissions to perform the <code>lookoutvision:ListTagsForResource</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-11-20/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartModel": {
      "documentation": "<p>Starts the running of the version of an Amazon Lookout for Vision model. Starting a model takes a while to complete. To check the current state of the model, use <a>DescribeModel</a>.</p> <p>A model is ready to use when its status is <code>HOSTED</code>.</p> <p>Once the model is running, you can detect custom labels in new images by calling <a>DetectAnomalies</a>.</p> <note> <p>You are charged for the amount of time that the model is running. To stop a running model, call <a>StopModel</a>.</p> </note> <p>This operation requires permissions to perform the <code>lookoutvision:StartModel</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartModelRequest"
      },
      "name": "StartModel",
      "output": {
        "shape": "StartModelResponse"
      }
    },
    "StartModelPackagingJob": {
      "documentation": "<p>Starts an Amazon Lookout for Vision model packaging job. A model packaging job creates an AWS IoT Greengrass component for a Lookout for Vision model. You can use the component to deploy your model to an edge device managed by Greengrass. </p> <p>Use the <a>DescribeModelPackagingJob</a> API to determine the current status of the job. The model packaging job is complete if the value of <code>Status</code> is <code>SUCCEEDED</code>.</p> <p>To deploy the component to the target device, use the component name and component version with the AWS IoT Greengrass <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_CreateDeployment.html\">CreateDeployment</a> API.</p> <p>This operation requires the following permissions:</p> <ul> <li> <p> <code>lookoutvision:StartModelPackagingJob</code> </p> </li> <li> <p> <code>s3:PutObject</code> </p> </li> <li> <p> <code>s3:GetBucketLocation</code> </p> </li> <li> <p> <code>greengrass:CreateComponentVersion</code> </p> </li> <li> <p> <code>greengrass:DescribeComponent</code> </p> </li> <li> <p>(Optional) <code>greengrass:TagResource</code>. Only required if you want to tag the component.</p> </li> </ul> <p>For more information, see <i>Using your Amazon Lookout for Vision model on an edge device</i> in the Amazon Lookout for Vision Developer Guide. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/modelpackagingjobs"
      },
      "input": {
        "shape": "StartModelPackagingJobRequest"
      },
      "name": "StartModelPackagingJob",
      "output": {
        "shape": "StartModelPackagingJobResponse"
      }
    },
    "StopModel": {
      "documentation": "<p>Stops the hosting of a running model. The operation might take a while to complete. To check the current status, call <a>DescribeModel</a>. </p> <p>After the model hosting stops, the <code>Status</code> of the model is <code>TRAINED</code>.</p> <p>This operation requires permissions to perform the <code>lookoutvision:StopModel</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/projects/{projectName}/models/{modelVersion}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopModelRequest"
      },
      "name": "StopModel",
      "output": {
        "shape": "StopModelResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more key-value tags to an Amazon Lookout for Vision model. For more information, see <i>Tagging a model</i> in the <i>Amazon Lookout for Vision Developer Guide</i>. </p> <p>This operation requires permissions to perform the <code>lookoutvision:TagResource</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-11-20/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from an Amazon Lookout for Vision model. For more information, see <i>Tagging a model</i> in the <i>Amazon Lookout for Vision Developer Guide</i>. </p> <p>This operation requires permissions to perform the <code>lookoutvision:UntagResource</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-11-20/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDatasetEntries": {
      "documentation": "<p>Adds or updates one or more JSON Line entries in a dataset. A JSON Line includes information about an image used for training or testing an Amazon Lookout for Vision model.</p> <p>To update an existing JSON Line, use the <code>source-ref</code> field to identify the JSON Line. The JSON line that you supply replaces the existing JSON line. Any existing annotations that are not in the new JSON line are removed from the dataset. </p> <p>For more information, see <i>Defining JSON lines for anomaly classification</i> in the Amazon Lookout for Vision Developer Guide. </p> <note> <p>The images you reference in the <code>source-ref</code> field of a JSON line, must be in the same S3 bucket as the existing images in the dataset. </p> </note> <p>Updating a dataset might take a while to complete. To check the current status, call <a>DescribeDataset</a> and check the <code>Status</code> field in the response.</p> <p>This operation requires permissions to perform the <code>lookoutvision:UpdateDatasetEntries</code> operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-11-20/projects/{projectName}/datasets/{datasetType}/entries",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateDatasetEntriesRequest"
      },
      "name": "UpdateDatasetEntries",
      "output": {
        "shape": "UpdateDatasetEntriesResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You are not authorized to perform the action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Anomaly": {
      "documentation": "<p>Information about an anomaly type found on an image by an image segmentation model. For more information, see <a>DetectAnomalies</a>.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of an anomaly type found in an image. <code>Name</code> maps to an anomaly type in the training dataset, apart from the anomaly type <code>background</code>. The service automatically inserts the <code>background</code> anomaly type into the response from <code>DetectAnomalies</code>. </p>",
          "shape": "AnomalyName"
        },
        "PixelAnomaly": {
          "documentation": "<p>Information about the pixel mask that covers an anomaly type.</p>",
          "shape": "PixelAnomaly"
        }
      },
      "type": "structure"
    },
    "AnomalyClassFilter": {
      "max": 10,
      "min": 1,
      "pattern": "(normal|anomaly)",
      "type": "string"
    },
    "AnomalyList": {
      "member": {
        "shape": "Anomaly"
      },
      "type": "list"
    },
    "AnomalyMask": {
      "max": 5242880,
      "min": 1,
      "type": "blob"
    },
    "AnomalyName": {
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9]*",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "Color": {
      "max": 7,
      "min": 7,
      "pattern": "\\#[a-zA-Z0-9]{6}",
      "type": "string"
    },
    "CompilerOptions": {
      "max": 1024,
      "min": 3,
      "pattern": ".*",
      "type": "string"
    },
    "ComponentDescription": {
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_. ()':,;?]+",
      "type": "string"
    },
    "ComponentName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_.]+",
      "type": "string"
    },
    "ComponentVersion": {
      "max": 64,
      "min": 1,
      "pattern": "^([0-9]{1,6})\\.([0-9]{1,6})\\.([0-9]{1,6})$",
      "type": "string"
    },
    "ComponentVersionArn": {
      "pattern": "arn:[^:]*:greengrass:[^:]*:aws:components:[^:]+",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The update or deletion of a resource caused an inconsistent state.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionString"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "ExceptionString"
        },
        "ResourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "ContentType": {
      "max": 255,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "CreateDatasetRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateDataset</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>CreateDataset</code>. In this case, safely retry your call to <code>CreateDataset</code> by using the same <code>ClientToken</code> parameter value.</p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple dataset creation requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>CreateDataset</code>. An idempotency token is active for 8 hours. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "DatasetSource": {
          "documentation": "<p>The location of the manifest file that Amazon Lookout for Vision uses to create the dataset.</p> <p>If you don't specify <code>DatasetSource</code>, an empty dataset is created and the operation synchronously returns. Later, you can add JSON Lines by calling <a>UpdateDatasetEntries</a>. </p> <p>If you specify a value for <code>DataSource</code>, the manifest at the S3 location is validated and used to create the dataset. The call to <code>CreateDataset</code> is asynchronous and might take a while to complete. To find out the current status, Check the value of <code>Status</code> returned in a call to <a>DescribeDataset</a>.</p>",
          "shape": "DatasetSource"
        },
        "DatasetType": {
          "documentation": "<p>The type of the dataset. Specify <code>train</code> for a training dataset. Specify <code>test</code> for a test dataset.</p>",
          "shape": "DatasetType"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project in which you want to create a dataset.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "DatasetType"
      ],
      "type": "structure"
    },
    "CreateDatasetResponse": {
      "members": {
        "DatasetMetadata": {
          "documentation": "<p>Information about the dataset.</p>",
          "shape": "DatasetMetadata"
        }
      },
      "type": "structure"
    },
    "CreateModelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateModel</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>CreateModel</code>. In this case, safely retry your call to <code>CreateModel</code> by using the same <code>ClientToken</code> parameter value. </p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from starting multiple training jobs. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>CreateModel</code>. An idempotency token is active for 8 hours.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>A description for the version of the model.</p>",
          "shape": "ModelDescriptionMessage"
        },
        "KmsKeyId": {
          "documentation": "<p>The identifier for your AWS KMS key. The key is used to encrypt training and test images copied into the service for model training. Your source images are unaffected. If this parameter is not specified, the copied images are encrypted by a key that AWS owns and manages.</p>",
          "shape": "KmsKeyId"
        },
        "OutputConfig": {
          "documentation": "<p>The location where Amazon Lookout for Vision saves the training results.</p>",
          "shape": "OutputConfig"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project in which you want to create a model version.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        },
        "Tags": {
          "documentation": "<p>A set of tags (key-value pairs) that you want to attach to the model.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ProjectName",
        "OutputConfig"
      ],
      "type": "structure"
    },
    "CreateModelResponse": {
      "members": {
        "ModelMetadata": {
          "documentation": "<p>The response from a call to <code>CreateModel</code>.</p>",
          "shape": "ModelMetadata"
        }
      },
      "type": "structure"
    },
    "CreateProjectRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateProject</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>CreateProject</code>. In this case, safely retry your call to <code>CreateProject</code> by using the same <code>ClientToken</code> parameter value. </p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple project creation requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>CreateProject</code>. An idempotency token is active for 8 hours.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "ProjectName": {
          "documentation": "<p>The name for the project.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName"
      ],
      "type": "structure"
    },
    "CreateProjectResponse": {
      "members": {
        "ProjectMetadata": {
          "documentation": "<p>Information about the project.</p>",
          "shape": "ProjectMetadata"
        }
      },
      "type": "structure"
    },
    "DatasetChanges": {
      "max": 10485760,
      "min": 1,
      "type": "blob"
    },
    "DatasetDescription": {
      "documentation": "<p>The description for a dataset. For more information, see <a>DescribeDataset</a>.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The Unix timestamp for the time and date that the dataset was created.</p>",
          "shape": "DateTime"
        },
        "DatasetType": {
          "documentation": "<p>The type of the dataset. The value <code>train</code> represents a training dataset or single dataset project. The value <code>test</code> represents a test dataset.</p>",
          "shape": "DatasetType"
        },
        "ImageStats": {
          "documentation": "<p>Statistics about the images in a dataset.</p>",
          "shape": "DatasetImageStats"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The Unix timestamp for the date and time that the dataset was last updated.</p>",
          "shape": "DateTime"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the dataset.</p>",
          "shape": "ProjectName"
        },
        "Status": {
          "documentation": "<p>The status of the dataset.</p>",
          "shape": "DatasetStatus"
        },
        "StatusMessage": {
          "documentation": "<p>The status message for the dataset. </p>",
          "shape": "DatasetStatusMessage"
        }
      },
      "type": "structure"
    },
    "DatasetEntry": {
      "max": 8192,
      "min": 2,
      "pattern": "^\\{.*\\}$",
      "type": "string"
    },
    "DatasetEntryList": {
      "member": {
        "shape": "DatasetEntry"
      },
      "type": "list"
    },
    "DatasetGroundTruthManifest": {
      "documentation": "<p>Location information about a manifest file. You can use a manifest file to create a dataset.</p>",
      "members": {
        "S3Object": {
          "documentation": "<p>The S3 bucket location for the manifest file.</p>",
          "shape": "InputS3Object"
        }
      },
      "type": "structure"
    },
    "DatasetImageStats": {
      "documentation": "<p>Statistics about the images in a dataset.</p>",
      "members": {
        "Anomaly": {
          "documentation": "<p>the total number of images labeled as an anomaly.</p>",
          "shape": "Integer"
        },
        "Labeled": {
          "documentation": "<p>The total number of labeled images.</p>",
          "shape": "Integer"
        },
        "Normal": {
          "documentation": "<p>The total number of images labeled as normal.</p>",
          "shape": "Integer"
        },
        "Total": {
          "documentation": "<p>The total number of images in the dataset.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "DatasetMetadata": {
      "documentation": "<p>Summary information for an Amazon Lookout for Vision dataset. For more information, see <a>DescribeDataset</a> and <a>ProjectDescription</a>.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The Unix timestamp for the date and time that the dataset was created. </p>",
          "shape": "DateTime"
        },
        "DatasetType": {
          "documentation": "<p>The type of the dataset.</p>",
          "shape": "DatasetType"
        },
        "Status": {
          "documentation": "<p>The status for the dataset.</p>",
          "shape": "DatasetStatus"
        },
        "StatusMessage": {
          "documentation": "<p>The status message for the dataset.</p>",
          "shape": "DatasetStatusMessage"
        }
      },
      "type": "structure"
    },
    "DatasetMetadataList": {
      "member": {
        "shape": "DatasetMetadata"
      },
      "type": "list"
    },
    "DatasetSource": {
      "documentation": "<p>Information about the location of a manifest file that Amazon Lookout for Vision uses to to create a dataset.</p>",
      "members": {
        "GroundTruthManifest": {
          "documentation": "<p>Location information for the manifest file.</p>",
          "shape": "DatasetGroundTruthManifest"
        }
      },
      "type": "structure"
    },
    "DatasetStatus": {
      "enum": [
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "CREATE_FAILED",
        "UPDATE_IN_PROGRESS",
        "UPDATE_COMPLETE",
        "UPDATE_FAILED_ROLLBACK_IN_PROGRESS",
        "UPDATE_FAILED_ROLLBACK_COMPLETE",
        "DELETE_IN_PROGRESS",
        "DELETE_COMPLETE",
        "DELETE_FAILED"
      ],
      "type": "string"
    },
    "DatasetStatusMessage": {
      "type": "string"
    },
    "DatasetType": {
      "max": 10,
      "min": 1,
      "pattern": "train|test",
      "type": "string"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeleteDatasetRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteDataset</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>DeleteDataset</code>. In this case, safely retry your call to <code>DeleteDataset</code> by using the same <code>ClientToken</code> parameter value. </p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple deletetion requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>DeleteDataset</code>. An idempotency token is active for 8 hours.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "DatasetType": {
          "documentation": "<p>The type of the dataset to delete. Specify <code>train</code> to delete the training dataset. Specify <code>test</code> to delete the test dataset. To delete the dataset in a single dataset project, specify <code>train</code>.</p>",
          "location": "uri",
          "locationName": "datasetType",
          "shape": "DatasetType"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the dataset that you want to delete.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "DatasetType"
      ],
      "type": "structure"
    },
    "DeleteDatasetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteModelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteModel</code> completes only once. You choose the value to pass. For example, an issue might prevent you from getting a response from <code>DeleteModel</code>. In this case, safely retry your call to <code>DeleteModel</code> by using the same <code>ClientToken</code> parameter value.</p> <p>If you don't supply a value for ClientToken, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple model deletion requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>DeleteModel</code>. An idempotency token is active for 8 hours.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model that you want to delete.</p>",
          "location": "uri",
          "locationName": "modelVersion",
          "shape": "ModelVersionNoLatest"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model that you want to delete.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "DeleteModelResponse": {
      "members": {
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model that was deleted.</p>",
          "shape": "ModelArn"
        }
      },
      "type": "structure"
    },
    "DeleteProjectRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteProject</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>DeleteProject</code>. In this case, safely retry your call to <code>DeleteProject</code> by using the same <code>ClientToken</code> parameter value. </p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple project deletion requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>DeleteProject</code>. An idempotency token is active for 8 hours.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project to delete.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName"
      ],
      "type": "structure"
    },
    "DeleteProjectResponse": {
      "members": {
        "ProjectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project that was deleted.</p>",
          "shape": "ProjectArn"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "members": {
        "DatasetType": {
          "documentation": "<p>The type of the dataset to describe. Specify <code>train</code> to describe the training dataset. Specify <code>test</code> to describe the test dataset. If you have a single dataset project, specify <code>train</code> </p>",
          "location": "uri",
          "locationName": "datasetType",
          "shape": "DatasetType"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the dataset that you want to describe.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "DatasetType"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "members": {
        "DatasetDescription": {
          "documentation": "<p>The description of the requested dataset. </p>",
          "shape": "DatasetDescription"
        }
      },
      "type": "structure"
    },
    "DescribeModelPackagingJobRequest": {
      "members": {
        "JobName": {
          "documentation": "<p>The job name for the model packaging job. </p>",
          "location": "uri",
          "locationName": "jobName",
          "shape": "ModelPackagingJobName"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model packaging job that you want to describe. </p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "JobName"
      ],
      "type": "structure"
    },
    "DescribeModelPackagingJobResponse": {
      "members": {
        "ModelPackagingDescription": {
          "documentation": "<p>The description of the model packaging job. </p>",
          "shape": "ModelPackagingDescription"
        }
      },
      "type": "structure"
    },
    "DescribeModelRequest": {
      "members": {
        "ModelVersion": {
          "documentation": "<p>The version of the model that you want to describe.</p>",
          "location": "uri",
          "locationName": "modelVersion",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p>The project that contains the version of a model that you want to describe.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "DescribeModelResponse": {
      "members": {
        "ModelDescription": {
          "documentation": "<p>Contains the description of the model.</p>",
          "shape": "ModelDescription"
        }
      },
      "type": "structure"
    },
    "DescribeProjectRequest": {
      "members": {
        "ProjectName": {
          "documentation": "<p>The name of the project that you want to describe.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName"
      ],
      "type": "structure"
    },
    "DescribeProjectResponse": {
      "members": {
        "ProjectDescription": {
          "documentation": "<p>The description of the project.</p>",
          "shape": "ProjectDescription"
        }
      },
      "type": "structure"
    },
    "DetectAnomaliesRequest": {
      "members": {
        "Body": {
          "documentation": "<p>The unencrypted image bytes that you want to analyze. </p>",
          "shape": "Stream"
        },
        "ContentType": {
          "documentation": "<p>The type of the image passed in <code>Body</code>. Valid values are <code>image/png</code> (PNG format images) and <code>image/jpeg</code> (JPG format images). </p>",
          "location": "header",
          "locationName": "Content-Type",
          "shape": "ContentType"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model that you want to use.</p>",
          "location": "uri",
          "locationName": "modelVersion",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model version that you want to use.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "payload": "Body",
      "required": [
        "ProjectName",
        "ModelVersion",
        "Body",
        "ContentType"
      ],
      "type": "structure"
    },
    "DetectAnomaliesResponse": {
      "members": {
        "DetectAnomalyResult": {
          "documentation": "<p>The results of the <code>DetectAnomalies</code> operation.</p>",
          "shape": "DetectAnomalyResult"
        }
      },
      "type": "structure"
    },
    "DetectAnomalyResult": {
      "documentation": "<p>The prediction results from a call to <a>DetectAnomalies</a>. <code>DetectAnomalyResult</code> includes classification information for the prediction (<code>IsAnomalous</code> and <code>Confidence</code>). If the model you use is an image segementation model, <code>DetectAnomalyResult</code> also includes segmentation information (<code>Anomalies</code> and <code>AnomalyMask</code>). Classification information is calculated separately from segmentation information and you shouldn't assume a relationship between them.</p>",
      "members": {
        "Anomalies": {
          "documentation": "<p>If the model is an image segmentation model, <code>Anomalies</code> contains a list of anomaly types found in the image. There is one entry for each type of anomaly found (even if multiple instances of an anomaly type exist on the image). The first element in the list is always an anomaly type representing the image background ('background') and shouldn't be considered an anomaly. Amazon Lookout for Vision automatically add the background anomaly type to the response, and you don't need to declare a background anomaly type in your dataset.</p> <p>If the list has one entry ('background'), no anomalies were found on the image.</p> <p/> <p>An image classification model doesn't return an <code>Anomalies</code> list. </p>",
          "shape": "AnomalyList"
        },
        "AnomalyMask": {
          "documentation": "<p>If the model is an image segmentation model, <code>AnomalyMask</code> contains pixel masks that covers all anomaly types found on the image. Each anomaly type has a different mask color. To map a color to an anomaly type, see the <code>color</code> field of the <a>PixelAnomaly</a> object.</p> <p>An image classification model doesn't return an <code>Anomalies</code> list. </p>",
          "shape": "AnomalyMask"
        },
        "Confidence": {
          "documentation": "<p>The confidence that Lookout for Vision has in the accuracy of the classification in <code>IsAnomalous</code>.</p>",
          "shape": "Float"
        },
        "IsAnomalous": {
          "documentation": "<p>True if Amazon Lookout for Vision classifies the image as containing an anomaly, otherwise false.</p>",
          "shape": "Boolean"
        },
        "Source": {
          "documentation": "<p>The source of the image that was analyzed. <code>direct</code> means that the images was supplied from the local computer. No other values are supported.</p>",
          "shape": "ImageSource"
        }
      },
      "type": "structure"
    },
    "ExceptionString": {
      "type": "string"
    },
    "Float": {
      "type": "float"
    },
    "GreengrassConfiguration": {
      "documentation": "<p>Configuration information for the AWS IoT Greengrass component created in a model packaging job. For more information, see <a>StartModelPackagingJob</a>. </p> <note> <p>You can't specify a component with the same <code>ComponentName</code> and <code>Componentversion</code> as an existing component with the same component name and component version.</p> </note>",
      "members": {
        "CompilerOptions": {
          "documentation": "<p>Additional compiler options for the Greengrass component. Currently, only NVIDIA Graphics Processing Units (GPU) and CPU accelerators are supported. If you specify <code>TargetDevice</code>, don't specify <code>CompilerOptions</code>.</p> <p>For more information, see <i>Compiler options</i> in the Amazon Lookout for Vision Developer Guide. </p>",
          "shape": "CompilerOptions"
        },
        "ComponentDescription": {
          "documentation": "<p> A description for the AWS IoT Greengrass component. </p>",
          "shape": "ComponentDescription"
        },
        "ComponentName": {
          "documentation": "<p> A name for the AWS IoT Greengrass component. </p>",
          "shape": "ComponentName"
        },
        "ComponentVersion": {
          "documentation": "<p>A Version for the AWS IoT Greengrass component. If you don't provide a value, a default value of <code> <i>Model Version</i>.0.0</code> is used. </p>",
          "shape": "ComponentVersion"
        },
        "S3OutputLocation": {
          "documentation": "<p> An S3 location in which Lookout for Vision stores the component artifacts. </p>",
          "shape": "S3Location"
        },
        "Tags": {
          "documentation": "<p> A set of tags (key-value pairs) that you want to attach to the AWS IoT Greengrass component. </p>",
          "shape": "TagList"
        },
        "TargetDevice": {
          "documentation": "<p>The target device for the model. Currently the only supported value is <code>jetson_xavier</code>. If you specify <code>TargetDevice</code>, you can't specify <code>TargetPlatform</code>. </p>",
          "shape": "TargetDevice"
        },
        "TargetPlatform": {
          "documentation": "<p>The target platform for the model. If you specify <code>TargetPlatform</code>, you can't specify <code>TargetDevice</code>. </p>",
          "shape": "TargetPlatform"
        }
      },
      "required": [
        "S3OutputLocation",
        "ComponentName"
      ],
      "type": "structure"
    },
    "GreengrassOutputDetails": {
      "documentation": "<p>Information about the AWS IoT Greengrass component created by a model packaging job. </p>",
      "members": {
        "ComponentName": {
          "documentation": "<p> The name of the component. </p>",
          "shape": "ComponentName"
        },
        "ComponentVersion": {
          "documentation": "<p> The version of the component. </p>",
          "shape": "ComponentVersion"
        },
        "ComponentVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component. </p>",
          "shape": "ComponentVersionArn"
        }
      },
      "type": "structure"
    },
    "ImageSource": {
      "documentation": "<p>The source for an image.</p>",
      "members": {
        "Type": {
          "documentation": "<p>The type of the image.</p>",
          "shape": "ImageSourceType"
        }
      },
      "type": "structure"
    },
    "ImageSourceType": {
      "pattern": "direct",
      "type": "string"
    },
    "InferenceUnits": {
      "min": 1,
      "type": "integer"
    },
    "InputS3Object": {
      "documentation": "<p>Amazon S3 Location information for an input manifest file. </p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The Amazon S3 bucket that contains the manifest.</p>",
          "shape": "S3BucketName"
        },
        "Key": {
          "documentation": "<p>The name and location of the manifest file withiin the bucket.</p>",
          "shape": "S3ObjectKey"
        },
        "VersionId": {
          "documentation": "<p>The version ID of the bucket.</p>",
          "shape": "S3ObjectVersion"
        }
      },
      "required": [
        "Bucket",
        "Key"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Amazon Lookout for Vision experienced a service issue. Try your call again.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionString"
        },
        "RetryAfterSeconds": {
          "documentation": "<p>The period of time, in seconds, before the operation can be retried.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "RetryAfterSeconds"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "IsLabeled": {
      "type": "boolean"
    },
    "KmsKeyId": {
      "max": 2048,
      "min": 1,
      "pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$",
      "type": "string"
    },
    "ListDatasetEntriesRequest": {
      "members": {
        "AfterCreationDate": {
          "documentation": "<p>Only includes entries after the specified date in the response. For example, <code>2020-06-23T00:00:00</code>.</p>",
          "location": "querystring",
          "locationName": "createdAfter",
          "shape": "DateTime"
        },
        "AnomalyClass": {
          "documentation": "<p>Specify <code>normal</code> to include only normal images. Specify <code>anomaly</code> to only include anomalous entries. If you don't specify a value, Amazon Lookout for Vision returns normal and anomalous images.</p>",
          "location": "querystring",
          "locationName": "anomalyClass",
          "shape": "AnomalyClassFilter"
        },
        "BeforeCreationDate": {
          "documentation": "<p>Only includes entries before the specified date in the response. For example, <code>2020-06-23T00:00:00</code>.</p>",
          "location": "querystring",
          "locationName": "createdBefore",
          "shape": "DateTime"
        },
        "DatasetType": {
          "documentation": "<p>The type of the dataset that you want to list. Specify <code>train</code> to list the training dataset. Specify <code>test</code> to list the test dataset. If you have a single dataset project, specify <code>train</code>.</p>",
          "location": "uri",
          "locationName": "datasetType",
          "shape": "DatasetType"
        },
        "Labeled": {
          "documentation": "<p>Specify <code>true</code> to include labeled entries, otherwise specify <code>false</code>. If you don't specify a value, Lookout for Vision returns all entries.</p>",
          "location": "querystring",
          "locationName": "labeled",
          "shape": "IsLabeled"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. If you specify a value greater than 100, a ValidationException error occurs. The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more data to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to retrieve the next set of dataset entries.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the dataset that you want to list.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        },
        "SourceRefContains": {
          "documentation": "<p>Perform a \"contains\" search on the values of the <code>source-ref</code> key within the dataset. For example a value of \"IMG_17\" returns all JSON Lines where the <code>source-ref</code> key value matches <i>*IMG_17*</i>.</p>",
          "location": "querystring",
          "locationName": "sourceRefContains",
          "shape": "QueryString"
        }
      },
      "required": [
        "ProjectName",
        "DatasetType"
      ],
      "type": "structure"
    },
    "ListDatasetEntriesResponse": {
      "members": {
        "DatasetEntries": {
          "documentation": "<p>A list of the entries (JSON Lines) within the dataset.</p>",
          "shape": "DatasetEntryList"
        },
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token that you can use in the subsequent request to retrieve the next set ofdataset entries.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListModelPackagingJobsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. If you specify a value greater than 100, a ValidationException error occurs. The default value is 100. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more results to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to retrieve the next set of results. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "ProjectName": {
          "documentation": "<p> The name of the project for which you want to list the model packaging jobs. </p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName"
      ],
      "type": "structure"
    },
    "ListModelPackagingJobsResponse": {
      "members": {
        "ModelPackagingJobs": {
          "documentation": "<p> A list of the model packaging jobs created for the specified Amazon Lookout for Vision project. </p>",
          "shape": "ModelPackagingJobsList"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more results to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to retrieve the next set of results. </p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListModelsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. If you specify a value greater than 100, a ValidationException error occurs. The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more data to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to retrieve the next set of models.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model versions that you want to list.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName"
      ],
      "type": "structure"
    },
    "ListModelsResponse": {
      "members": {
        "Models": {
          "documentation": "<p>A list of model versions in the specified project. </p>",
          "shape": "ModelMetadataList"
        },
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token that you can use in the subsequent request to retrieve the next set of models. </p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListProjectsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. If you specify a value greater than 100, a ValidationException error occurs. The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more data to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to retrieve the next set of projects.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListProjectsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token that you can use in the subsequent request to retrieve the next set of projects.</p>",
          "shape": "PaginationToken"
        },
        "Projects": {
          "documentation": "<p>A list of projects in your AWS account.</p>",
          "shape": "ProjectMetadataList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model for which you want to list tags. </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "TagArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>A map of tag keys and values attached to the specified model.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ModelArn": {
      "type": "string"
    },
    "ModelDescription": {
      "documentation": "<p>Describes an Amazon Lookout for Vision model.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The unix timestamp for the date and time that the model was created. </p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description for the model.</p>",
          "shape": "ModelDescriptionMessage"
        },
        "EvaluationEndTimestamp": {
          "documentation": "<p>The unix timestamp for the date and time that the evaluation ended. </p>",
          "shape": "DateTime"
        },
        "EvaluationManifest": {
          "documentation": "<p>The S3 location where Amazon Lookout for Vision saves the manifest file that was used to test the trained model and generate the performance scores.</p>",
          "shape": "OutputS3Object"
        },
        "EvaluationResult": {
          "documentation": "<p>The S3 location where Amazon Lookout for Vision saves the performance metrics.</p>",
          "shape": "OutputS3Object"
        },
        "KmsKeyId": {
          "documentation": "<p>The identifer for the AWS Key Management Service (AWS KMS) key that was used to encrypt the model during training.</p>",
          "shape": "KmsKeyId"
        },
        "MaxInferenceUnits": {
          "documentation": "<p>The maximum number of inference units Amazon Lookout for Vision uses to auto-scale the model. For more information, see <a>StartModel</a>.</p>",
          "shape": "InferenceUnits"
        },
        "MinInferenceUnits": {
          "documentation": "<p>The minimum number of inference units used by the model. For more information, see <a>StartModel</a> </p>",
          "shape": "InferenceUnits"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model.</p>",
          "shape": "ModelArn"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model</p>",
          "shape": "ModelVersion"
        },
        "OutputConfig": {
          "documentation": "<p>The S3 location where Amazon Lookout for Vision saves model training files.</p>",
          "shape": "OutputConfig"
        },
        "Performance": {
          "documentation": "<p>Performance metrics for the model. Created during training.</p>",
          "shape": "ModelPerformance"
        },
        "Status": {
          "documentation": "<p>The status of the model.</p>",
          "shape": "ModelStatus"
        },
        "StatusMessage": {
          "documentation": "<p>The status message for the model.</p>",
          "shape": "ModelStatusMessage"
        }
      },
      "type": "structure"
    },
    "ModelDescriptionMessage": {
      "max": 500,
      "min": 1,
      "pattern": "[0-9A-Za-z\\.\\-_]*",
      "type": "string"
    },
    "ModelHostingStatus": {
      "enum": [
        "STARTING_HOSTING",
        "HOSTED",
        "HOSTING_FAILED",
        "STOPPING_HOSTING",
        "SYSTEM_UPDATING"
      ],
      "type": "string"
    },
    "ModelMetadata": {
      "documentation": "<p>Describes an Amazon Lookout for Vision model.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The unix timestamp for the date and time that the model was created. </p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description for the model.</p>",
          "shape": "ModelDescriptionMessage"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model.</p>",
          "shape": "ModelArn"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model.</p>",
          "shape": "ModelVersion"
        },
        "Performance": {
          "documentation": "<p>Performance metrics for the model. Not available until training has successfully completed.</p>",
          "shape": "ModelPerformance"
        },
        "Status": {
          "documentation": "<p>The status of the model.</p>",
          "shape": "ModelStatus"
        },
        "StatusMessage": {
          "documentation": "<p>The status message for the model.</p>",
          "shape": "ModelStatusMessage"
        }
      },
      "type": "structure"
    },
    "ModelMetadataList": {
      "member": {
        "shape": "ModelMetadata"
      },
      "type": "list"
    },
    "ModelPackagingConfiguration": {
      "documentation": "<p> Configuration information for a Amazon Lookout for Vision model packaging job. For more information, see <a>StartModelPackagingJob</a>. </p>",
      "members": {
        "Greengrass": {
          "documentation": "<p> Configuration information for the AWS IoT Greengrass component in a model packaging job. </p>",
          "shape": "GreengrassConfiguration"
        }
      },
      "required": [
        "Greengrass"
      ],
      "type": "structure"
    },
    "ModelPackagingDescription": {
      "documentation": "<p> Information about a model packaging job. For more information, see <a>DescribeModelPackagingJob</a>. </p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p> The Unix timestamp for the time and date that the model packaging job was created. </p>",
          "shape": "DateTime"
        },
        "JobName": {
          "documentation": "<p> The name of the model packaging job. </p>",
          "shape": "ModelPackagingJobName"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p> The Unix timestamp for the time and date that the model packaging job was last updated. </p>",
          "shape": "DateTime"
        },
        "ModelPackagingConfiguration": {
          "documentation": "<p> The configuration information used in the model packaging job. </p>",
          "shape": "ModelPackagingConfiguration"
        },
        "ModelPackagingJobDescription": {
          "documentation": "<p>The description for the model packaging job. </p>",
          "shape": "ModelPackagingJobDescription"
        },
        "ModelPackagingMethod": {
          "documentation": "<p>The AWS service used to package the job. Currently Lookout for Vision can package jobs with AWS IoT Greengrass. </p>",
          "shape": "ModelPackagingMethod"
        },
        "ModelPackagingOutputDetails": {
          "documentation": "<p>Information about the output of the model packaging job. For more information, see <a>DescribeModelPackagingJob</a>. </p>",
          "shape": "ModelPackagingOutputDetails"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used in the model packaging job. </p>",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that's associated with a model that's in the model package. </p>",
          "shape": "ProjectName"
        },
        "Status": {
          "documentation": "<p> The status of the model packaging job. </p>",
          "shape": "ModelPackagingJobStatus"
        },
        "StatusMessage": {
          "documentation": "<p> The status message for the model packaging job. </p>",
          "shape": "ModelPackagingStatusMessage"
        }
      },
      "type": "structure"
    },
    "ModelPackagingJobDescription": {
      "max": 256,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_. ()':,;?]+",
      "type": "string"
    },
    "ModelPackagingJobMetadata": {
      "documentation": "<p> Metadata for a model packaging job. For more information, see <a>ListModelPackagingJobs</a>. </p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The Unix timestamp for the time and date that the model packaging job was created.</p>",
          "shape": "DateTime"
        },
        "JobName": {
          "documentation": "<p> The name of the model packaging job. </p>",
          "shape": "ModelPackagingJobName"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The Unix timestamp for the time and date that the model packaging job was last updated.</p>",
          "shape": "DateTime"
        },
        "ModelPackagingJobDescription": {
          "documentation": "<p> The description for the model packaging job. </p>",
          "shape": "ModelPackagingJobDescription"
        },
        "ModelPackagingMethod": {
          "documentation": "<p> The AWS service used to package the job. Currently Lookout for Vision can package jobs with AWS IoT Greengrass. </p>",
          "shape": "ModelPackagingMethod"
        },
        "ModelVersion": {
          "documentation": "<p> The version of the model that is in the model package. </p>",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p> The project that contains the model that is in the model package. </p>",
          "shape": "ProjectName"
        },
        "Status": {
          "documentation": "<p>The status of the model packaging job. </p>",
          "shape": "ModelPackagingJobStatus"
        },
        "StatusMessage": {
          "documentation": "<p>The status message for the model packaging job. </p>",
          "shape": "ModelPackagingStatusMessage"
        }
      },
      "type": "structure"
    },
    "ModelPackagingJobName": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "ModelPackagingJobStatus": {
      "enum": [
        "CREATED",
        "RUNNING",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "ModelPackagingJobsList": {
      "member": {
        "shape": "ModelPackagingJobMetadata"
      },
      "type": "list"
    },
    "ModelPackagingMethod": {
      "max": 32,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]+",
      "type": "string"
    },
    "ModelPackagingOutputDetails": {
      "documentation": "<p> Information about the output from a model packaging job. </p>",
      "members": {
        "Greengrass": {
          "documentation": "<p> Information about the AWS IoT Greengrass component in a model packaging job. </p>",
          "shape": "GreengrassOutputDetails"
        }
      },
      "type": "structure"
    },
    "ModelPackagingStatusMessage": {
      "type": "string"
    },
    "ModelPerformance": {
      "documentation": "<p>Information about the evaluation performance of a trained model. </p>",
      "members": {
        "F1Score": {
          "documentation": "<p>The overall F1 score metric for the trained model.</p>",
          "shape": "Float"
        },
        "Precision": {
          "documentation": "<p>The overall precision metric value for the trained model.</p>",
          "shape": "Float"
        },
        "Recall": {
          "documentation": "<p>The overall recall metric value for the trained model. </p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "ModelStatus": {
      "enum": [
        "TRAINING",
        "TRAINED",
        "TRAINING_FAILED",
        "STARTING_HOSTING",
        "HOSTED",
        "HOSTING_FAILED",
        "STOPPING_HOSTING",
        "SYSTEM_UPDATING",
        "DELETING"
      ],
      "type": "string"
    },
    "ModelStatusMessage": {
      "type": "string"
    },
    "ModelVersion": {
      "max": 10,
      "min": 1,
      "pattern": "([1-9][0-9]*|latest)",
      "type": "string"
    },
    "ModelVersionNoLatest": {
      "max": 10,
      "min": 1,
      "pattern": "([1-9][0-9]*)",
      "type": "string"
    },
    "OutputConfig": {
      "documentation": "<p>The S3 location where Amazon Lookout for Vision saves model training files.</p>",
      "members": {
        "S3Location": {
          "documentation": "<p>The S3 location for the output.</p>",
          "shape": "S3Location"
        }
      },
      "required": [
        "S3Location"
      ],
      "type": "structure"
    },
    "OutputS3Object": {
      "documentation": "<p>The S3 location where Amazon Lookout for Vision saves training output.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The bucket that contains the training output.</p>",
          "shape": "S3BucketName"
        },
        "Key": {
          "documentation": "<p>The location of the training output in the bucket.</p>",
          "shape": "S3ObjectKey"
        }
      },
      "required": [
        "Bucket",
        "Key"
      ],
      "type": "structure"
    },
    "PageSize": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "PaginationToken": {
      "max": 2048,
      "pattern": "^[a-zA-Z0-9\\/\\+\\=]{0,2048}$",
      "type": "string"
    },
    "PixelAnomaly": {
      "documentation": "<p>Information about the pixels in an anomaly mask. For more information, see <a>Anomaly</a>. <code>PixelAnomaly</code> is only returned by image segmentation models.</p>",
      "members": {
        "Color": {
          "documentation": "<p>A hex color value for the mask that covers an anomaly type. Each anomaly type has a different mask color. The color maps to the color of the anomaly type used in the training dataset. </p>",
          "shape": "Color"
        },
        "TotalPercentageArea": {
          "documentation": "<p>The percentage area of the image that the anomaly type covers.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "ProjectArn": {
      "type": "string"
    },
    "ProjectDescription": {
      "documentation": "<p>Describe an Amazon Lookout for Vision project. For more information, see <a>DescribeProject</a>.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The unix timestamp for the date and time that the project was created. </p>",
          "shape": "DateTime"
        },
        "Datasets": {
          "documentation": "<p>A list of datasets in the project.</p>",
          "shape": "DatasetMetadataList"
        },
        "ProjectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project.</p>",
          "shape": "ProjectArn"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project.</p>",
          "shape": "ProjectName"
        }
      },
      "type": "structure"
    },
    "ProjectMetadata": {
      "documentation": "<p>Metadata about an Amazon Lookout for Vision project.</p>",
      "members": {
        "CreationTimestamp": {
          "documentation": "<p>The unix timestamp for the date and time that the project was created. </p>",
          "shape": "DateTime"
        },
        "ProjectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project.</p>",
          "shape": "ProjectArn"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project.</p>",
          "shape": "ProjectName"
        }
      },
      "type": "structure"
    },
    "ProjectMetadataList": {
      "member": {
        "shape": "ProjectMetadata"
      },
      "type": "list"
    },
    "ProjectName": {
      "max": 255,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_\\-]*",
      "type": "string"
    },
    "QueryString": {
      "max": 2048,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource could not be found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionString"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "ExceptionString"
        },
        "ResourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "PROJECT",
        "DATASET",
        "MODEL",
        "TRIAL",
        "MODEL_PACKAGE_JOB"
      ],
      "type": "string"
    },
    "RetryAfterSeconds": {
      "type": "integer"
    },
    "S3BucketName": {
      "max": 63,
      "min": 3,
      "pattern": "[0-9A-Za-z\\.\\-_]*",
      "type": "string"
    },
    "S3KeyPrefix": {
      "max": 1024,
      "pattern": "^([a-zA-Z0-9!_.*'()-][/a-zA-Z0-9!_.*'()-]*)?$",
      "type": "string"
    },
    "S3Location": {
      "documentation": "<p>Information about the location of training output or the output of a model packaging job.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The S3 bucket that contains the training or model packaging job output. If you are training a model, the bucket must in your AWS account. If you use an S3 bucket for a model packaging job, the S3 bucket must be in the same AWS Region and AWS account in which you use AWS IoT Greengrass.</p>",
          "shape": "S3BucketName"
        },
        "Prefix": {
          "documentation": "<p>The path of the folder, within the S3 bucket, that contains the output.</p>",
          "shape": "S3KeyPrefix"
        }
      },
      "required": [
        "Bucket"
      ],
      "type": "structure"
    },
    "S3ObjectKey": {
      "max": 1024,
      "min": 1,
      "pattern": "^([a-zA-Z0-9!_.*'()-][/a-zA-Z0-9!_.*'()-]*)?$",
      "type": "string"
    },
    "S3ObjectVersion": {
      "max": 1024,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>A service quota was exceeded the allowed limit. For more information, see Limits in Amazon Lookout for Vision in the Amazon Lookout for Vision Developer Guide. </p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionString"
        },
        "QuotaCode": {
          "documentation": "<p>The quota code. </p>",
          "shape": "ExceptionString"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "ExceptionString"
        },
        "ResourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "ResourceType"
        },
        "ServiceCode": {
          "documentation": "<p>The service code. </p>",
          "shape": "ExceptionString"
        }
      },
      "required": [
        "Message",
        "QuotaCode",
        "ServiceCode"
      ],
      "type": "structure"
    },
    "StartModelPackagingJobRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>StartModelPackagingJob</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>StartModelPackagingJob</code>. In this case, safely retry your call to <code>StartModelPackagingJob</code> by using the same <code>ClientToken</code> parameter value.</p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple dataset creation requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>StartModelPackagingJob</code>. An idempotency token is active for 8 hours. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "Configuration": {
          "documentation": "<p>The configuration for the model packaging job. </p>",
          "shape": "ModelPackagingConfiguration"
        },
        "Description": {
          "documentation": "<p>A description for the model packaging job. </p>",
          "shape": "ModelPackagingJobDescription"
        },
        "JobName": {
          "documentation": "<p>A name for the model packaging job. If you don't supply a value, the service creates a job name for you. </p>",
          "shape": "ModelPackagingJobName"
        },
        "ModelVersion": {
          "documentation": "<p> The version of the model within the project that you want to package. </p>",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p> The name of the project which contains the version of the model that you want to package. </p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "ModelVersion",
        "Configuration"
      ],
      "type": "structure"
    },
    "StartModelPackagingJobResponse": {
      "members": {
        "JobName": {
          "documentation": "<p>The job name for the model packaging job. If you don't supply a job name in the <code>JobName</code> input parameter, the service creates a job name for you. </p>",
          "shape": "ModelPackagingJobName"
        }
      },
      "type": "structure"
    },
    "StartModelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>StartModel</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>StartModel</code>. In this case, safely retry your call to <code>StartModel</code> by using the same <code>ClientToken</code> parameter value. </p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple start requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>StartModel</code>. An idempotency token is active for 8 hours. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "MaxInferenceUnits": {
          "documentation": "<p>The maximum number of inference units to use for auto-scaling the model. If you don't specify a value, Amazon Lookout for Vision doesn't auto-scale the model.</p>",
          "shape": "InferenceUnits"
        },
        "MinInferenceUnits": {
          "documentation": "<p>The minimum number of inference units to use. A single inference unit represents 1 hour of processing. Use a higher number to increase the TPS throughput of your model. You are charged for the number of inference units that you use. </p>",
          "shape": "InferenceUnits"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model that you want to start.</p>",
          "location": "uri",
          "locationName": "modelVersion",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model that you want to start.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "ModelVersion",
        "MinInferenceUnits"
      ],
      "type": "structure"
    },
    "StartModelResponse": {
      "members": {
        "Status": {
          "documentation": "<p>The current running status of the model.</p>",
          "shape": "ModelHostingStatus"
        }
      },
      "type": "structure"
    },
    "StopModelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>StopModel</code> completes only once. You choose the value to pass. For example, An issue might prevent you from getting a response from <code>StopModel</code>. In this case, safely retry your call to <code>StopModel</code> by using the same <code>ClientToken</code> parameter value.</p> <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. This prevents retries after a network error from making multiple stop requests. You'll need to provide your own value for other use cases. </p> <p>An error occurs if the other input parameters are not the same as in the first request. Using a different value for <code>ClientToken</code> is considered a new call to <code>StopModel</code>. An idempotency token is active for 8 hours. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model that you want to stop.</p>",
          "location": "uri",
          "locationName": "modelVersion",
          "shape": "ModelVersion"
        },
        "ProjectName": {
          "documentation": "<p>The name of the project that contains the model that you want to stop.</p>",
          "location": "uri",
          "locationName": "projectName",
          "shape": "ProjectName"
        }
      },
      "required": [
        "ProjectName",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "StopModelResponse": {
      "members": {
        "Status": {
          "documentation": "<p>The status of the model.</p>",
          "shape": "ModelHostingStatus"
        }
      },
      "type": "structure"
    },
    "Stream": {
      "requiresLength": true,
      "streaming": true,
      "type": "blob"
    },
    "Tag": {
      "documentation": "<p>A key and value pair that is attached to the specified Amazon Lookout for Vision model.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the tag that is attached to the specified model.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag that is attached to the specified model.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagArn": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model to assign the tags.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "TagArn"
        },
        "Tags": {
          "documentation": "<p>The key-value tags to assign to the model.</p>",
          "shape": "TagList"
        }
[...]
