if ! has pre-commit; then
  log_status 'Warning: pre-commit not found. Hooks will not run.'
else
  pre-commit install
fi

if ! has verchew; then
  log_status 'Warning: verchew not found. Envronment checks will not run.'
else
  verchew --exit-code
  watch_file verchew.ini
fi

