{
  "documentation": "<p>Provides language translation for input text in the source language to the specified target language.</p>",
  "metadata": {
    "apiVersion": "2017-07-01",
    "endpointPrefix": "translate",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Translate",
    "serviceId": "Translate",
    "signatureVersion": "v4",
    "signingName": "translate",
    "targetPrefix": "AWSShineFrontendService_20170701",
    "uid": "translate-2017-07-01"
  },
  "operations": {
    "CreateParallelData": {
      "documentation": "<p>Creates a parallel data resource in Amazon Translate by importing an input file from Amazon S3. Parallel data files contain examples that show how you want segments of text to be translated. By adding parallel data, you can influence the style, tone, and word choice in your translation output.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateParallelDataRequest"
      },
      "name": "CreateParallelData",
      "output": {
        "shape": "CreateParallelDataResponse"
      }
    },
    "DeleteParallelData": {
      "documentation": "<p>Deletes a parallel data resource in Amazon Translate.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteParallelDataRequest"
      },
      "name": "DeleteParallelData",
      "output": {
        "shape": "DeleteParallelDataResponse"
      }
    },
    "DeleteTerminology": {
      "documentation": "<p>A synchronous action that deletes a custom terminology.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTerminologyRequest"
      },
      "name": "DeleteTerminology"
    },
    "DescribeTextTranslationJob": {
      "documentation": "<p>Gets the properties associated with an asynchronous batch translation job including name, ID, status, source and target languages, input/output S3 buckets, and so on.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTextTranslationJobRequest"
      },
      "name": "DescribeTextTranslationJob",
      "output": {
        "shape": "DescribeTextTranslationJobResponse"
      }
    },
    "GetParallelData": {
      "documentation": "<p>Provides information about a parallel data resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParallelDataRequest"
      },
      "name": "GetParallelData",
      "output": {
        "shape": "GetParallelDataResponse"
      }
    },
    "GetTerminology": {
      "documentation": "<p>Retrieves a custom terminology.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTerminologyRequest"
      },
      "name": "GetTerminology",
      "output": {
        "shape": "GetTerminologyResponse"
      }
    },
    "ImportTerminology": {
      "documentation": "<p>Creates or updates a custom terminology, depending on whether one already exists for the given terminology name. Importing a terminology with the same name as an existing one will merge the terminologies based on the chosen merge strategy. The only supported merge strategy is OVERWRITE, where the imported terminology overwrites the existing terminology of the same name.</p> <p>If you import a terminology that overwrites an existing one, the new terminology takes up to 10 minutes to fully propagate. After that, translations have access to the new terminology.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportTerminologyRequest"
      },
      "name": "ImportTerminology",
      "output": {
        "shape": "ImportTerminologyResponse"
      }
    },
    "ListLanguages": {
      "documentation": "<p>Provides a list of languages (RFC-5646 codes and names) that Amazon Translate supports.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "UnsupportedDisplayLanguageCodeException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLanguagesRequest"
      },
      "name": "ListLanguages",
      "output": {
        "shape": "ListLanguagesResponse"
      }
    },
    "ListParallelData": {
      "documentation": "<p>Provides a list of your parallel data resources in Amazon Translate.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListParallelDataRequest"
      },
      "name": "ListParallelData",
      "output": {
        "shape": "ListParallelDataResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with a given Amazon Translate resource. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\"> Tagging your resources</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTerminologies": {
      "documentation": "<p>Provides a list of custom terminologies associated with your account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTerminologiesRequest"
      },
      "name": "ListTerminologies",
      "output": {
        "shape": "ListTerminologiesResponse"
      }
    },
    "ListTextTranslationJobs": {
      "documentation": "<p>Gets a list of the batch translation jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTextTranslationJobsRequest"
      },
      "name": "ListTextTranslationJobs",
      "output": {
        "shape": "ListTextTranslationJobsResponse"
      }
    },
    "StartTextTranslationJob": {
      "documentation": "<p>Starts an asynchronous batch translation job. Use batch translation jobs to translate large volumes of text across multiple documents at once. For batch translation, the input documents must share the same source language. You can specify one or more target languages. Batch translation translates each input document into each of the target languages. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/async.html\">Asynchronous batch processing</a> </p> <p>Batch translation jobs can be described with the <a>DescribeTextTranslationJob</a> operation, listed with the <a>ListTextTranslationJobs</a> operation, and stopped with the <a>StopTextTranslationJob</a> operation.</p> <note> <p>Amazon Translate does not support batch translation of multiple source languages at once.</p> </note>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "UnsupportedLanguagePairException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTextTranslationJobRequest"
      },
      "name": "StartTextTranslationJob",
      "output": {
        "shape": "StartTextTranslationJobResponse"
      }
    },
    "StopTextTranslationJob": {
      "documentation": "<p>Stops an asynchronous batch translation job that is in progress.</p> <p>If the job's state is <code>IN_PROGRESS</code>, the job will be marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state. Otherwise, the job is put into the <code>STOPPED</code> state.</p> <p>Asynchronous batch translation jobs are started with the <a>StartTextTranslationJob</a> operation. You can use the <a>DescribeTextTranslationJob</a> or <a>ListTextTranslationJobs</a> operations to get a batch translation job's <code>JobId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTextTranslationJobRequest"
      },
      "name": "StopTextTranslationJob",
      "output": {
        "shape": "StopTextTranslationJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a specific tag with a resource. A tag is a key-value pair that adds as a metadata to a resource. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\"> Tagging your resources</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "TranslateText": {
      "documentation": "<p>Translates input text from the source language to the target language. For a list of available languages and language codes, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/what-is-languages.html\">Supported languages</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "UnsupportedLanguagePairException"
        },
        {
          "shape": "DetectedLanguageLowConfidenceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TranslateTextRequest"
      },
      "name": "TranslateText",
      "output": {
        "shape": "TranslateTextResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a specific tag associated with an Amazon Translate resource. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\"> Tagging your resources</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateParallelData": {
      "documentation": "<p>Updates a previously created parallel data resource by importing a new input file from Amazon S3.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateParallelDataRequest"
      },
      "name": "UpdateParallelData",
      "output": {
        "shape": "UpdateParallelDataResponse"
      }
    }
  },
  "shapes": {
    "AppliedTerminology": {
      "documentation": "<p>The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.</p>",
          "shape": "ResourceName"
        },
        "Terms": {
          "documentation": "<p>The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. </p>",
          "shape": "TermList"
        }
      },
      "type": "structure"
    },
    "AppliedTerminologyList": {
      "member": {
        "shape": "AppliedTerminology"
      },
      "type": "list"
    },
    "BoundedLengthString": {
      "max": 5000,
      "min": 1,
      "pattern": "[\\P{M}\\p{M}]{1,5000}",
      "type": "string"
    },
    "ClientTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>There was a conflict processing the request. Try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ContentType": {
      "max": 256,
      "pattern": "^[-\\w.]+\\/[-\\w.+]+$",
      "type": "string"
    },
    "CreateParallelDataRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "Description": {
          "documentation": "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
          "shape": "Description"
        },
        "EncryptionKey": {
          "shape": "EncryptionKey"
        },
        "Name": {
          "documentation": "<p>A custom name for the parallel data resource in Amazon Translate. You must assign a name that is unique in the account and region.</p>",
          "shape": "ResourceName"
        },
        "ParallelDataConfig": {
          "documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
          "shape": "ParallelDataConfig"
        },
        "Tags": {
          "documentation": "<p>Tags to be associated with this resource. A tag is a key-value pair that adds metadata to a resource. Each tag key for the resource must be unique. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\"> Tagging your resources</a>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "ParallelDataConfig",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateParallelDataResponse": {
      "members": {
        "Name": {
          "documentation": "<p>The custom name that you assigned to the parallel data resource.</p>",
          "shape": "ResourceName"
        },
        "Status": {
          "documentation": "<p>The status of the parallel data resource. When the resource is ready for you to use, the status is <code>ACTIVE</code>.</p>",
          "shape": "ParallelDataStatus"
        }
      },
      "type": "structure"
    },
    "DeleteParallelDataRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the parallel data resource that is being deleted.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteParallelDataResponse": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the parallel data resource that is being deleted.</p>",
          "shape": "ResourceName"
        },
        "Status": {
          "documentation": "<p>The status of the parallel data deletion.</p>",
          "shape": "ParallelDataStatus"
        }
      },
      "type": "structure"
    },
    "DeleteTerminologyRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the custom terminology being deleted. </p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeTextTranslationJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Translate generated for the job. The <a>StartTextTranslationJob</a> operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeTextTranslationJobResponse": {
      "members": {
        "TextTranslationJobProperties": {
          "documentation": "<p>An object that contains the properties associated with an asynchronous batch translation job.</p>",
          "shape": "TextTranslationJobProperties"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 256,
      "pattern": "[\\P{M}\\p{M}]{0,256}",
      "type": "string"
    },
    "DetectedLanguageLowConfidenceException": {
      "documentation": "<p>The confidence that Amazon Comprehend accurately detected the source language is low. If a low confidence level is acceptable for your application, you can use the language in the exception to call Amazon Translate again. For more information, see the <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/API_DetectDominantLanguage.html\">DetectDominantLanguage</a> operation in the <i>Amazon Comprehend Developer Guide</i>. </p>",
      "exception": true,
      "members": {
        "DetectedLanguageCode": {
          "documentation": "<p>The language code of the auto-detected language from Amazon Comprehend.</p>",
          "shape": "LanguageCodeString"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Directionality": {
      "enum": [
        "UNI",
        "MULTI"
      ],
      "type": "string"
    },
    "DisplayLanguageCode": {
      "enum": [
        "de",
        "en",
        "es",
        "fr",
        "it",
        "ja",
        "ko",
        "pt",
        "zh",
        "zh-TW"
      ],
      "type": "string"
    },
    "EncryptionKey": {
      "documentation": "<p>The encryption key used to encrypt this object.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the encryption key being used to encrypt this object.</p>",
          "shape": "EncryptionKeyID"
        },
        "Type": {
          "documentation": "<p>The type of encryption key used by Amazon Translate to encrypt this object.</p>",
          "shape": "EncryptionKeyType"
        }
      },
      "required": [
        "Type",
        "Id"
      ],
      "type": "structure"
    },
    "EncryptionKeyID": {
      "max": 400,
      "min": 1,
      "pattern": "(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
      "type": "string"
    },
    "EncryptionKeyType": {
      "enum": [
        "KMS"
      ],
      "type": "string"
    },
    "Formality": {
      "enum": [
        "FORMAL",
        "INFORMAL"
      ],
      "type": "string"
    },
    "GetParallelDataRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the parallel data resource that is being retrieved.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetParallelDataResponse": {
      "members": {
        "AuxiliaryDataLocation": {
          "documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to create a parallel data resource. The location is returned as a presigned URL to that has a 30-minute expiration.</p>",
          "shape": "ParallelDataDataLocation"
        },
        "DataLocation": {
          "documentation": "<p>The Amazon S3 location of the most recent parallel data input file that was successfully imported into Amazon Translate. The location is returned as a presigned URL that has a 30-minute expiration.</p> <important> <p>Amazon Translate doesn't scan all input files for the risk of CSV injection attacks. </p> <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains malicious code. The record begins with a special character, such as =, +, -, or @. When the file is opened in a spreadsheet program, the program might interpret the record as a formula and run the code within it.</p> <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p> </important>",
          "shape": "ParallelDataDataLocation"
        },
        "LatestUpdateAttemptAuxiliaryDataLocation": {
          "documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to update a parallel data resource. The location is returned as a presigned URL to that has a 30-minute expiration.</p>",
          "shape": "ParallelDataDataLocation"
        },
        "ParallelDataProperties": {
          "documentation": "<p>The properties of the parallel data resource that is being retrieved.</p>",
          "shape": "ParallelDataProperties"
        }
      },
      "type": "structure"
    },
    "GetTerminologyRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the custom terminology being retrieved.</p>",
          "shape": "ResourceName"
        },
        "TerminologyDataFormat": {
          "documentation": "<p>The data format of the custom terminology being retrieved.</p> <p>If you don't specify this parameter, Amazon Translate returns a file with the same format as the file that was imported to create the terminology. </p> <p>If you specify this parameter when you retrieve a multi-directional terminology resource, you must specify the same format as the input file that was imported to create it. Otherwise, Amazon Translate throws an error.</p>",
          "shape": "TerminologyDataFormat"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetTerminologyResponse": {
      "members": {
        "AuxiliaryDataLocation": {
          "documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to create a terminology resource. The location is returned as a presigned URL to that has a 30-minute expiration.</p>",
          "shape": "TerminologyDataLocation"
        },
        "TerminologyDataLocation": {
          "documentation": "<p>The Amazon S3 location of the most recent custom terminology input file that was successfully imported into Amazon Translate. The location is returned as a presigned URL that has a 30-minute expiration.</p> <important> <p>Amazon Translate doesn't scan all input files for the risk of CSV injection attacks. </p> <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains malicious code. The record begins with a special character, such as =, +, -, or @. When the file is opened in a spreadsheet program, the program might interpret the record as a formula and run the code within it.</p> <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p> </important>",
          "shape": "TerminologyDataLocation"
        },
        "TerminologyProperties": {
          "documentation": "<p>The properties of the custom terminology being retrieved.</p>",
          "shape": "TerminologyProperties"
        }
      },
      "type": "structure"
    },
    "IamRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "ImportTerminologyRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the custom terminology being imported.</p>",
          "shape": "Description"
        },
        "EncryptionKey": {
          "documentation": "<p>The encryption key for the custom terminology being imported.</p>",
          "shape": "EncryptionKey"
        },
        "MergeStrategy": {
          "documentation": "<p>The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE merge strategy is supported. In this case, the imported terminology will overwrite an existing terminology of the same name.</p>",
          "shape": "MergeStrategy"
        },
        "Name": {
          "documentation": "<p>The name of the custom terminology being imported.</p>",
          "shape": "ResourceName"
        },
        "Tags": {
          "documentation": "<p>Tags to be associated with this resource. A tag is a key-value pair that adds metadata to a resource. Each tag key for the resource must be unique. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/tagging.html\"> Tagging your resources</a>.</p>",
          "shape": "TagList"
        },
        "TerminologyData": {
          "documentation": "<p>The terminology data for the custom terminology being imported.</p>",
          "shape": "TerminologyData"
        }
      },
      "required": [
        "Name",
        "MergeStrategy",
        "TerminologyData"
      ],
      "type": "structure"
    },
    "ImportTerminologyResponse": {
      "members": {
        "AuxiliaryDataLocation": {
          "documentation": "<p>The Amazon S3 location of a file that provides any errors or warnings that were produced by your input file. This file was created when Amazon Translate attempted to create a terminology resource. The location is returned as a presigned URL to that has a 30 minute expiration.</p>",
          "shape": "TerminologyDataLocation"
        },
        "TerminologyProperties": {
          "documentation": "<p>The properties of the custom terminology being imported.</p>",
          "shape": "TerminologyProperties"
        }
      },
      "type": "structure"
    },
    "InputDataConfig": {
      "documentation": "<p>The input configuration properties for requesting a batch translation job.</p>",
      "members": {
        "ContentType": {
          "documentation": "<p>Describes the format of the data that you submit to Amazon Translate as input. You can specify one of the following multipurpose internet mail extension (MIME) types:</p> <ul> <li> <p> <code>text/html</code>: The input data consists of one or more HTML files. Amazon Translate translates only the text that resides in the <code>html</code> element in each file.</p> </li> <li> <p> <code>text/plain</code>: The input data consists of one or more unformatted text files. Amazon Translate translates every character in this type of input.</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.wordprocessingml.document</code>: The input data consists of one or more Word documents (.docx).</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.presentationml.presentation</code>: The input data consists of one or more PowerPoint Presentation files (.pptx).</p> </li> <li> <p> <code>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</code>: The input data consists of one or more Excel Workbook files (.xlsx).</p> </li> <li> <p> <code>application/x-xliff+xml</code>: The input data consists of one or more XML Localization Interchange File Format (XLIFF) files (.xlf). Amazon Translate supports only XLIFF version 1.2.</p> </li> </ul> <important> <p>If you structure your input data as HTML, ensure that you set this parameter to <code>text/html</code>. By doing so, you cut costs by limiting the translation to the contents of the <code>html</code> element in each file. Otherwise, if you set this parameter to <code>text/plain</code>, your costs will cover the translation of every character.</p> </important>",
          "shape": "ContentType"
        },
        "S3Uri": {
          "documentation": "<p>The URI of the AWS S3 folder that contains the input files. Amazon Translate translates all the files in the folder. The folder must be in the same Region as the API endpoint you are calling.</p> <note> <p>The URI can also point to a single input document, or it can provide the prefix for a collection of input documents. For example. if you use the URI <code>S3://bucketName/prefix</code> and the prefix is a single file, Amazon Translate uses that files as input. If more than one file begins with the prefix, Amazon Translate uses all of them as input.</p> </note>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri",
        "ContentType"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>An internal server error occurred. Retry your request.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidFilterException": {
      "documentation": "<p>The filter specified for the operation is not valid. Specify a different filter.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValueException": {
      "documentation": "<p>The value of the parameter is not valid. Review the value of the parameter you are using to correct it, and then retry your operation.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p> The request that you made is not valid. Check your request to determine why it's not valid and then retry the request. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "JobDetails": {
      "documentation": "<p>The number of documents successfully and unsuccessfully processed during a translation job.</p>",
      "members": {
        "DocumentsWithErrorsCount": {
          "documentation": "<p>The number of documents that could not be processed during a translation job.</p>",
          "shape": "Integer"
        },
        "InputDocumentsCount": {
          "documentation": "<p>The number of documents used as input in a translation job.</p>",
          "shape": "Integer"
        },
        "TranslatedDocumentsCount": {
          "documentation": "<p>The number of documents successfully processed during a translation job.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "JobId": {
      "max": 32,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobName": {
      "max": 256,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERROR",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ],
      "type": "string"
    },
    "Language": {
      "documentation": "<p>A supported language.</p>",
      "members": {
        "LanguageCode": {
          "documentation": "<p>Language code for the supported language.</p>",
          "shape": "LanguageCodeString"
        },
        "LanguageName": {
          "documentation": "<p>Language name of the supported language.</p>",
          "shape": "LocalizedNameString"
        }
      },
      "required": [
        "LanguageName",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "LanguageCodeString": {
      "max": 5,
      "min": 2,
      "type": "string"
    },
    "LanguageCodeStringList": {
      "member": {
        "shape": "LanguageCodeString"
      },
      "type": "list"
    },
    "LanguagesList": {
      "member": {
        "shape": "Language"
      },
      "type": "list"
    },
    "LimitExceededException": {
      "documentation": "<p>The specified limit has been exceeded. Review your request and retry it with a quantity below the stated limit.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListLanguagesRequest": {
      "members": {
        "DisplayLanguageCode": {
          "documentation": "<p>The language code for the language to use to display the language names in the response. The language code is <code>en</code> by default. </p>",
          "shape": "DisplayLanguageCode"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in each response.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Include the NextToken value to fetch the next group of supported languages. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListLanguagesResponse": {
      "members": {
        "DisplayLanguageCode": {
          "documentation": "<p>The language code passed in with the request.</p>",
          "shape": "DisplayLanguageCode"
        },
        "Languages": {
          "documentation": "<p>The list of supported languages.</p>",
          "shape": "LanguagesList"
        },
        "NextToken": {
          "documentation": "<p> If the response does not include all remaining results, use the NextToken in the next request to fetch the next group of supported languages.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListParallelDataRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of parallel data resources returned for each request.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>A string that specifies the next page of results to return in a paginated response.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListParallelDataResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated response. This value is null if there are no additional pages.</p>",
          "shape": "NextToken"
        },
        "ParallelDataPropertiesList": {
          "documentation": "<p>The properties of the parallel data resources returned by this request.</p>",
          "shape": "ParallelDataPropertiesList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the given Amazon Translate resource you are querying. </p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>Tags associated with the Amazon Translate resource being queried. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Translate. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTerminologiesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of custom terminologies returned per list request.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>If the result of the request to ListTerminologies was truncated, include the NextToken to fetch the next group of custom terminologies. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTerminologiesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p> If the response to the ListTerminologies was truncated, the NextToken fetches the next group of custom terminologies.</p>",
          "shape": "NextToken"
        },
        "TerminologyPropertiesList": {
          "documentation": "<p>The properties list of the custom terminologies returned on the list request.</p>",
          "shape": "TerminologyPropertiesList"
        }
      },
      "type": "structure"
    },
    "ListTextTranslationJobsRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>The parameters that specify which batch translation jobs to retrieve. Filters include job name, job status, and submission time. You can only set one filter at a time.</p>",
          "shape": "TextTranslationJobFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in each page. The default value is 100.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>The token to request the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTextTranslationJobsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "TextTranslationJobPropertiesList": {
          "documentation": "<p>A list containing the properties of each job that is returned.</p>",
          "shape": "TextTranslationJobPropertiesList"
        }
      },
      "type": "structure"
    },
    "LocalizedNameString": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "Long": {
      "type": "long"
    },
    "MaxResultsInteger": {
      "max": 500,
      "min": 1,
      "type": "integer"
    },
    "MergeStrategy": {
      "enum": [
        "OVERWRITE"
      ],
      "type": "string"
    },
    "NextToken": {
      "max": 8192,
      "pattern": "\\p{ASCII}{0,8192}",
      "type": "string"
    },
    "OutputDataConfig": {
      "documentation": "<p>The output configuration properties for a batch translation job.</p>",
      "members": {
        "EncryptionKey": {
          "shape": "EncryptionKey"
        },
        "S3Uri": {
          "documentation": "<p>The URI of the S3 folder that contains a translation job's output file. The folder must be in the same Region as the API endpoint that you are calling.</p>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "structure"
    },
    "ParallelDataArn": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ParallelDataConfig": {
      "documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
      "members": {
        "Format": {
          "documentation": "<p>The format of the parallel data input file.</p>",
          "shape": "ParallelDataFormat"
        },
        "S3Uri": {
          "documentation": "<p>The URI of the Amazon S3 folder that contains the parallel data input file. The folder must be in the same Region as the API endpoint you are calling.</p>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri",
        "Format"
      ],
      "type": "structure"
    },
    "ParallelDataDataLocation": {
      "documentation": "<p>The location of the most recent parallel data input file that was successfully imported into Amazon Translate.</p>",
      "members": {
        "Location": {
          "documentation": "<p>The Amazon S3 location of the parallel data input file. The location is returned as a presigned URL to that has a 30-minute expiration.</p> <important> <p>Amazon Translate doesn't scan all input files for the risk of CSV injection attacks. </p> <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains malicious code. The record begins with a special character, such as =, +, -, or @. When the file is opened in a spreadsheet program, the program might interpret the record as a formula and run the code within it.</p> <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p> </important>",
          "shape": "String"
        },
        "RepositoryType": {
          "documentation": "<p>Describes the repository that contains the parallel data input file.</p>",
          "shape": "String"
        }
      },
      "required": [
        "RepositoryType",
        "Location"
      ],
      "type": "structure"
    },
    "ParallelDataFormat": {
      "enum": [
        "TSV",
        "CSV",
        "TMX"
      ],
      "type": "string"
    },
    "ParallelDataProperties": {
      "documentation": "<p>The properties of a parallel data resource.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the parallel data resource.</p>",
          "shape": "ParallelDataArn"
        },
        "CreatedAt": {
          "documentation": "<p>The time at which the parallel data resource was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description assigned to the parallel data resource.</p>",
          "shape": "Description"
        },
        "EncryptionKey": {
          "shape": "EncryptionKey"
        },
        "FailedRecordCount": {
          "documentation": "<p>The number of records unsuccessfully imported from the parallel data input file.</p>",
          "shape": "Long"
        },
        "ImportedDataSize": {
          "documentation": "<p>The number of UTF-8 characters that Amazon Translate imported from the parallel data input file. This number includes only the characters in your translation examples. It does not include characters that are used to format your file. For example, if you provided a Translation Memory Exchange (.tmx) file, this number does not include the tags.</p>",
          "shape": "Long"
        },
        "ImportedRecordCount": {
          "documentation": "<p>The number of records successfully imported from the parallel data input file.</p>",
          "shape": "Long"
        },
        "LastUpdatedAt": {
          "documentation": "<p>The time at which the parallel data resource was last updated.</p>",
          "shape": "Timestamp"
        },
        "LatestUpdateAttemptAt": {
          "documentation": "<p>The time that the most recent update was attempted.</p>",
          "shape": "Timestamp"
        },
        "LatestUpdateAttemptStatus": {
          "documentation": "<p>The status of the most recent update attempt for the parallel data resource.</p>",
          "shape": "ParallelDataStatus"
        },
        "Message": {
          "documentation": "<p>Additional information from Amazon Translate about the parallel data resource. </p>",
          "shape": "UnboundedLengthString"
        },
        "Name": {
          "documentation": "<p>The custom name assigned to the parallel data resource.</p>",
          "shape": "ResourceName"
        },
        "ParallelDataConfig": {
          "documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
          "shape": "ParallelDataConfig"
        },
        "SkippedRecordCount": {
          "documentation": "<p>The number of items in the input file that Amazon Translate skipped when you created or updated the parallel data resource. For example, Amazon Translate skips empty records, empty target texts, and empty lines.</p>",
          "shape": "Long"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The source language of the translations in the parallel data file.</p>",
          "shape": "LanguageCodeString"
        },
        "Status": {
          "documentation": "<p>The status of the parallel data resource. When the parallel data is ready for you to use, the status is <code>ACTIVE</code>.</p>",
          "shape": "ParallelDataStatus"
        },
        "TargetLanguageCodes": {
          "documentation": "<p>The language codes for the target languages available in the parallel data file. All possible target languages are returned as an array.</p>",
          "shape": "LanguageCodeStringList"
        }
      },
      "type": "structure"
    },
    "ParallelDataPropertiesList": {
      "member": {
        "shape": "ParallelDataProperties"
      },
      "type": "list"
    },
    "ParallelDataStatus": {
      "enum": [
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "Profanity": {
      "enum": [
        "MASK"
      ],
      "type": "string"
    },
    "ResourceArn": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ResourceName": {
      "max": 256,
      "min": 1,
      "pattern": "^([A-Za-z0-9-]_?)+$",
      "type": "string"
    },
    "ResourceNameList": {
      "member": {
        "shape": "ResourceName"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource you are looking for has not been found. Review the resource you're looking for and see if a different resource will accomplish your needs before retrying the revised request.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "S3Uri": {
      "max": 1024,
      "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
      "type": "string"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The Amazon Translate service is temporarily unavailable. Wait a bit and then retry your request.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "StartTextTranslationJobRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier for the request. This token is generated for you when using the Amazon Translate SDK.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role that grants Amazon Translate read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/identity-and-access-management.html\">Identity and access management </a>.</p>",
          "shape": "IamRoleArn"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input documents for the translation job.</p>",
          "shape": "InputDataConfig"
        },
        "JobName": {
          "documentation": "<p>The name of the batch translation job to be performed.</p>",
          "shape": "JobName"
        },
        "OutputDataConfig": {
          "documentation": "<p>Specifies the S3 folder to which your job output will be saved. </p>",
          "shape": "OutputDataConfig"
        },
        "ParallelDataNames": {
          "documentation": "<p>The name of a parallel data resource to add to the translation job. This resource consists of examples that show how you want segments of text to be translated. If you specify multiple target languages for the job, the parallel data file must include translations for all the target languages.</p> <p>When you add parallel data to a translation job, you create an <i>Active Custom Translation</i> job. </p> <p>This parameter accepts only one parallel data resource.</p> <note> <p>Active Custom Translation jobs are priced at a higher rate than other jobs that don't use parallel data. For more information, see <a href=\"http://aws.amazon.com/translate/pricing/\">Amazon Translate pricing</a>.</p> </note> <p>For a list of available parallel data resources, use the <a>ListParallelData</a> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/customizing-translations-parallel-data.html\"> Customizing your translations with parallel data</a>.</p>",
          "shape": "ResourceNameList"
        },
        "Settings": {
          "documentation": "<p>Settings to configure your translation output, including the option to set the formality level of the output text and the option to mask profane words and phrases.</p>",
          "shape": "TranslationSettings"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code of the input language. For a list of language codes, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/what-is-languages.html\">Supported languages</a>.</p> <p>Amazon Translate does not automatically detect a source language during batch translation jobs.</p>",
          "shape": "LanguageCodeString"
        },
        "TargetLanguageCodes": {
          "documentation": "<p>The target languages of the translation job. Enter up to 10 language codes. Each input file is translated into each target language.</p> <p>Each language code is two or five characters long. For a list of language codes, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/what-is-languages.html\">Supported languages</a>.</p>",
          "shape": "TargetLanguageCodeStringList"
        },
        "TerminologyNames": {
          "documentation": "<p>The name of a custom terminology resource to add to the translation job. This resource lists examples source terms and the desired translation for each term.</p> <p>This parameter accepts only one custom terminology resource.</p> <p>If you specify multiple target languages for the job, translate uses the designated terminology for each requested target language that has an entry for the source term in the terminology file.</p> <p>For a list of available custom terminology resources, use the <a>ListTerminologies</a> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/how-custom-terminology.html\">Custom terminology</a>.</p>",
          "shape": "ResourceNameList"
        }
      },
      "required": [
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "SourceLanguageCode",
        "TargetLanguageCodes",
        "ClientToken"
      ],
      "type": "structure"
    },
    "StartTextTranslationJobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier generated for the job. To get the status of a job, use this ID with the <a>DescribeTextTranslationJob</a> operation.</p>",
          "shape": "JobId"
        },
        "JobStatus": {
          "documentation": "<p>The status of the job. Possible values include:</p> <ul> <li> <p> <code>SUBMITTED</code> - The job has been received and is queued for processing.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Amazon Translate is processing the job.</p> </li> <li> <p> <code>COMPLETED</code> - The job was successfully completed and the output is available.</p> </li> <li> <p> <code>COMPLETED_WITH_ERROR</code> - The job was completed with errors. The errors can be analyzed in the job's output.</p> </li> <li> <p> <code>FAILED</code> - The job did not complete. To get details, use the <a>DescribeTextTranslationJob</a> operation.</p> </li> <li> <p> <code>STOP_REQUESTED</code> - The user who started the job has requested that it be stopped.</p> </li> <li> <p> <code>STOPPED</code> - The job has been stopped.</p> </li> </ul>",
          "shape": "JobStatus"
        }
      },
      "type": "structure"
    },
    "StopTextTranslationJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The job ID of the job to be stopped.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "StopTextTranslationJobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The job ID of the stopped batch translation job.</p>",
          "shape": "JobId"
        },
        "JobStatus": {
          "documentation": "<p>The status of the designated job. Upon successful completion, the job's status will be <code>STOPPED</code>.</p>",
          "shape": "JobStatus"
        }
      },
      "type": "structure"
    },
    "String": {
      "max": 10000,
      "pattern": "[\\P{M}\\p{M}]{0,10000}",
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A key-value pair that adds as a metadata to a resource used by Amazon Translate. </p>",
      "members": {
        "Key": {
          "documentation": "<p>The initial part of a key-value pair that forms a tag associated with a given resource. </p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p> The second part of a key-value pair that forms a tag associated with a given resource.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the given Amazon Translate resource to which you want to associate the tags. </p>",
          "shape": "ResourceArn"
        },
        "Tags": {
          "documentation": "<p>Tags being associated with a specific Amazon Translate resource. There can be a maximum of 50 tags (both existing and pending) associated with a specific resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "TargetLanguageCodeStringList": {
      "member": {
        "shape": "LanguageCodeString"
      },
      "min": 1,
      "type": "list"
    },
    "Term": {
      "documentation": "<p>The term being translated by the custom terminology.</p>",
      "members": {
        "SourceText": {
          "documentation": "<p>The source text of the term being translated by the custom terminology.</p>",
          "shape": "String"
        },
        "TargetText": {
          "documentation": "<p>The target text of the term being translated by the custom terminology.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TermList": {
      "member": {
        "shape": "Term"
      },
      "type": "list"
    },
    "TerminologyArn": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "TerminologyData": {
      "documentation": "<p>The data associated with the custom terminology. For information about the custom terminology file, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/creating-custom-terminology.html\"> Creating a Custom Terminology</a>.</p>",
      "members": {
        "Directionality": {
          "documentation": "<p>The directionality of your terminology resource indicates whether it has one source language (uni-directional) or multiple (multi-directional).</p> <dl> <dt>UNI</dt> <dd> <p>The terminology resource has one source language (for example, the first column in a CSV file), and all of its other languages are target languages. </p> </dd> <dt>MULTI</dt> <dd> <p>Any language in the terminology resource can be the source language or a target language. A single multi-directional terminology resource can be used for jobs that translate different language pairs. For example, if the terminology contains English and Spanish terms, it can be used for jobs that translate English to Spanish and Spanish to English.</p> </dd> </dl> <p>When you create a custom terminology resource without specifying the directionality, it behaves as uni-directional terminology, although this parameter will have a null value.</p>",
          "shape": "Directionality"
        },
        "File": {
          "documentation": "<p>The file containing the custom terminology data. Your version of the AWS SDK performs a Base64-encoding on this field before sending a request to the AWS service. Users of the SDK should not perform Base64-encoding themselves.</p>",
          "shape": "TerminologyFile"
        },
        "Format": {
          "documentation": "<p>The data format of the custom terminology.</p>",
          "shape": "TerminologyDataFormat"
        }
      },
      "required": [
        "File",
        "Format"
      ],
      "type": "structure"
    },
    "TerminologyDataFormat": {
      "enum": [
        "CSV",
        "TMX",
        "TSV"
      ],
      "type": "string"
    },
    "TerminologyDataLocation": {
      "documentation": "<p>The location of the custom terminology data.</p>",
      "members": {
        "Location": {
          "documentation": "<p>The Amazon S3 location of the most recent custom terminology input file that was successfully imported into Amazon Translate. The location is returned as a presigned URL that has a 30-minute expiration .</p> <important> <p>Amazon Translate doesn't scan all input files for the risk of CSV injection attacks. </p> <p>CSV injection occurs when a .csv or .tsv file is altered so that a record contains malicious code. The record begins with a special character, such as =, +, -, or @. When the file is opened in a spreadsheet program, the program might interpret the record as a formula and run the code within it.</p> <p>Before you download an input file from Amazon S3, ensure that you recognize the file and trust its creator.</p> </important>",
          "shape": "String"
        },
        "RepositoryType": {
          "documentation": "<p>The repository type for the custom terminology data.</p>",
          "shape": "String"
        }
      },
      "required": [
        "RepositoryType",
        "Location"
      ],
      "type": "structure"
    },
    "TerminologyFile": {
      "max": 10485760,
      "sensitive": true,
      "type": "blob"
    },
    "TerminologyProperties": {
      "documentation": "<p>The properties of the custom terminology.</p>",
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the custom terminology. </p>",
          "shape": "TerminologyArn"
        },
        "CreatedAt": {
          "documentation": "<p>The time at which the custom terminology was created, based on the timestamp.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the custom terminology properties.</p>",
          "shape": "Description"
        },
        "Directionality": {
          "documentation": "<p>The directionality of your terminology resource indicates whether it has one source language (uni-directional) or multiple (multi-directional). </p> <dl> <dt>UNI</dt> <dd> <p>The terminology resource has one source language (the first column in a CSV file), and all of its other languages are target languages.</p> </dd> <dt>MULTI</dt> <dd> <p>Any language in the terminology resource can be the source language.</p> </dd> </dl>",
          "shape": "Directionality"
        },
        "EncryptionKey": {
          "documentation": "<p>The encryption key for the custom terminology.</p>",
          "shape": "EncryptionKey"
        },
        "Format": {
          "documentation": "<p>The format of the custom terminology input file.</p>",
          "shape": "TerminologyDataFormat"
        },
        "LastUpdatedAt": {
          "documentation": "<p>The time at which the custom terminology was last update, based on the timestamp.</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>Additional information from Amazon Translate about the terminology resource.</p>",
          "shape": "UnboundedLengthString"
        },
        "Name": {
          "documentation": "<p>The name of the custom terminology.</p>",
          "shape": "ResourceName"
        },
        "SizeBytes": {
          "documentation": "<p>The size of the file used when importing a custom terminology.</p>",
          "shape": "Integer"
        },
        "SkippedTermCount": {
          "documentation": "<p>The number of terms in the input file that Amazon Translate skipped when you created or updated the terminology resource.</p>",
          "shape": "Integer"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code for the source text of the translation request for which the custom terminology is being used.</p>",
          "shape": "LanguageCodeString"
        },
        "TargetLanguageCodes": {
          "documentation": "<p>The language codes for the target languages available with the custom terminology resource. All possible target languages are returned in array.</p>",
          "shape": "LanguageCodeStringList"
        },
        "TermCount": {
          "documentation": "<p>The number of terms included in the custom terminology.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "TerminologyPropertiesList": {
      "member": {
        "shape": "TerminologyProperties"
      },
      "type": "list"
    },
    "TextSizeLimitExceededException": {
      "documentation": "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TextTranslationJobFilter": {
      "documentation": "<p>Provides information for filtering a list of translation jobs. For more information, see <a>ListTextTranslationJobs</a>.</p>",
      "members": {
        "JobName": {
          "documentation": "<p>Filters the list of jobs by name.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>Filters the list of jobs based by job status.</p>",
          "shape": "JobStatus"
        },
        "SubmittedAfterTime": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing and returns only the jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.</p>",
          "shape": "Timestamp"
        },
        "SubmittedBeforeTime": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing and returns only the jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "TextTranslationJobProperties": {
      "documentation": "<p>Provides information about a translation job.</p>",
      "members": {
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity Access and Management (IAM) role that granted Amazon Translate read access to the job's input data.</p>",
          "shape": "IamRoleArn"
        },
        "EndTime": {
          "documentation": "<p>The time at which the translation job ended.</p>",
          "shape": "Timestamp"
        },
        "InputDataConfig": {
          "documentation": "<p>The input configuration properties that were specified when the job was requested.</p>",
          "shape": "InputDataConfig"
        },
        "JobDetails": {
          "documentation": "<p>The number of documents successfully and unsuccessfully processed during the translation job.</p>",
          "shape": "JobDetails"
        },
        "JobId": {
          "documentation": "<p>The ID of the translation job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The user-defined name of the translation job.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>The status of the translation job.</p>",
          "shape": "JobStatus"
        },
        "Message": {
          "documentation": "<p>An explanation of any errors that may have occurred during the translation job.</p>",
          "shape": "UnboundedLengthString"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output configuration properties that were specified when the job was requested.</p>",
          "shape": "OutputDataConfig"
        },
        "ParallelDataNames": {
          "documentation": "<p>A list containing the names of the parallel data resources applied to the translation job.</p>",
          "shape": "ResourceNameList"
        },
        "Settings": {
          "documentation": "<p>Settings that configure the translation output.</p>",
          "shape": "TranslationSettings"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code of the language of the source text. The language must be a language supported by Amazon Translate.</p>",
          "shape": "LanguageCodeString"
        },
        "SubmittedTime": {
          "documentation": "<p>The time at which the translation job was submitted.</p>",
          "shape": "Timestamp"
        },
        "TargetLanguageCodes": {
          "documentation": "<p>The language code of the language of the target text. The language must be a language supported by Amazon Translate.</p>",
          "shape": "TargetLanguageCodeStringList"
        },
        "TerminologyNames": {
          "documentation": "<p>A list containing the names of the terminologies applied to a translation job. Only one terminology can be applied per <a>StartTextTranslationJob</a> request at this time.</p>",
          "shape": "ResourceNameList"
        }
      },
      "type": "structure"
    },
    "TextTranslationJobPropertiesList": {
      "member": {
        "shape": "TextTranslationJobProperties"
      },
      "type": "list"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyRequestsException": {
      "documentation": "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TooManyTagsException": {
      "documentation": "<p>You have added too many tags to this resource. The maximum is 50 tags.</p>",
      "exception": true,
      "members": {
        "ResourceArn": {
          "shape": "ResourceArn"
        },
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TranslateTextRequest": {
      "members": {
        "Settings": {
          "documentation": "<p>Settings to configure your translation output, including the option to set the formality level of the output text and the option to mask profane words and phrases.</p>",
          "shape": "TranslationSettings"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code for the language of the source text. The language must be a language supported by Amazon Translate. For a list of language codes, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/what-is-languages.html\">Supported languages</a>.</p> <p>To have Amazon Translate determine the source language of your text, you can specify <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify <code>auto</code>, Amazon Translate will call <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/comprehend-general.html\">Amazon Comprehend</a> to determine the source language.</p> <note> <p>If you specify <code>auto</code>, you must send the <code>TranslateText</code> request in a region that supports Amazon Comprehend. Otherwise, the request returns an error indicating that autodetect is not supported. </p> </note>",
          "shape": "LanguageCodeString"
        },
        "TargetLanguageCode": {
          "documentation": "<p>The language code requested for the language of the target text. The language must be a language supported by Amazon Translate.</p>",
          "shape": "LanguageCodeString"
        },
        "TerminologyNames": {
          "documentation": "<p>The name of the terminology list file to be used in the TranslateText request. You can use 1 terminology list at most in a <code>TranslateText</code> request. Terminology lists can contain a maximum of 256 terms.</p>",
          "shape": "ResourceNameList"
        },
        "Text": {
          "documentation": "<p>The text to translate. The text string can be a maximum of 5,000 bytes long. Depending on your character set, this may be fewer than 5,000 characters.</p>",
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Text",
        "SourceLanguageCode",
        "TargetLanguageCode"
      ],
      "type": "structure"
    },
    "TranslateTextResponse": {
      "members": {
        "AppliedSettings": {
          "documentation": "<p>Settings that configure the translation output.</p>",
          "shape": "TranslationSettings"
        },
        "AppliedTerminologies": {
          "documentation": "<p>The names of the custom terminologies applied to the input text by Amazon Translate for the translated text response.</p>",
          "shape": "AppliedTerminologyList"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code for the language of the source text.</p>",
          "shape": "LanguageCodeString"
        },
        "TargetLanguageCode": {
          "documentation": "<p>The language code for the language of the target text. </p>",
          "shape": "LanguageCodeString"
        },
        "TranslatedText": {
          "documentation": "<p>The translated text.</p>",
          "shape": "String"
        }
      },
      "required": [
        "TranslatedText",
        "SourceLanguageCode",
        "TargetLanguageCode"
      ],
      "type": "structure"
    },
    "TranslationSettings": {
      "documentation": "<p>Optional settings that configure the translation output. Use these settings for real time translations and asynchronous translation jobs.</p>",
      "members": {
        "Formality": {
          "documentation": "<p>You can optionally specify the desired level of formality for translations to supported target languages. The formality setting controls the level of formal language usage (also known as <a href=\"https://en.wikipedia.org/wiki/Register_(sociolinguistics)\">register</a>) in the translation output. You can set the value to informal or formal. If you don't specify a value for formality, or if the target language doesn't support formality, the translation will ignore the formality setting.</p> <p> If you specify multiple target languages for the job, translate ignores the formality setting for any unsupported target language.</p> <p>For a list of target languages that support formality, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/customizing-translations-formality.html\">Setting Formality</a> in the Amazon Translate Developer Guide.</p>",
          "shape": "Formality"
        },
        "Profanity": {
          "documentation": "<p>Enable the profanity setting if you want Amazon Translate to mask profane words and phrases in your translation output.</p> <p>To mask profane words and phrases, Amazon Translate replaces them with the grawlix string \u201c?$#@$\u201c. This 5-character sequence is used for each profane word or phrase, regardless of the length or number of words.</p> <p>Amazon Translate doesn't detect profanity in all of its supported languages. For languages that support profanity detection, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/customizing-translations-profanity.html\">Masking profanity</a> in the Amazon Translate Developer Guide.</p> <p>If you specify multiple target languages for the job, all the target languages must support profanity masking. If any of the target languages don't support profanity masking, the translation job won't mask profanity for any target language.</p>",
          "shape": "Profanity"
        }
      },
      "type": "structure"
    },
    "UnboundedLengthString": {
      "type": "string"
    },
    "UnsupportedDisplayLanguageCodeException": {
      "documentation": "<p>Requested display language code is not supported.</p>",
      "exception": true,
      "members": {
        "DisplayLanguageCode": {
          "documentation": "<p>Language code passed in with the request.</p>",
          "shape": "LanguageCodeString"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UnsupportedLanguagePairException": {
      "documentation": "<p>Amazon Translate does not support translation from the language of the source text into the requested target language. For more information, see <a href=\"https://docs.aws.amazon.com/translate/latest/dg/how-to-error-msg.html\">Error messages</a>. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "SourceLanguageCode": {
          "documentation": "<p>The language code for the language of the input text. </p>",
          "shape": "LanguageCodeString"
        },
        "TargetLanguageCode": {
          "documentation": "<p>The language code for the language of the translated text. </p>",
          "shape": "LanguageCodeString"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the given Amazon Translate resource from which you want to remove the tags. </p>",
          "shape": "ResourceArn"
        },
        "TagKeys": {
          "documentation": "<p>The initial part of a key-value pair that forms a tag being removed from a given resource. Keys must be unique and cannot be duplicated for a particular resource. </p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateParallelDataRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier for the request. This token is automatically generated when you use Amazon Translate through an AWS SDK.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "Description": {
          "documentation": "<p>A custom description for the parallel data resource in Amazon Translate.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the parallel data resource being updated.</p>",
          "shape": "ResourceName"
        },
        "ParallelDataConfig": {
          "documentation": "<p>Specifies the format and S3 location of the parallel data input file.</p>",
          "shape": "ParallelDataConfig"
        }
      },
      "required": [
        "Name",
        "ParallelDataConfig",
        "ClientToken"
      ],
      "type": "structure"
    },
    "UpdateParallelDataResponse": {
      "members": {
        "LatestUpdateAttemptAt": {
          "documentation": "<p>The time that the most recent update was attempted.</p>",
          "shape": "Timestamp"
        },
        "LatestUpdateAttemptStatus": {
          "documentation": "<p>The status of the parallel data update attempt. When the updated parallel data resource is ready for you to use, the status is <code>ACTIVE</code>.</p>",
          "shape": "ParallelDataStatus"
        },
        "Name": {
          "documentation": "<p>The name of the parallel data resource being updated.</p>",
          "shape": "ResourceName"
        },
        "Status": {
          "documentation": "<p>The status of the parallel data resource that you are attempting to update. Your update request is accepted only if this status is either <code>ACTIVE</code> or <code>FAILED</code>.</p>",
          "shape": "ParallelDataStatus"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
