{
  "documentation": "<fullname>Glue</fullname> <p>Defines the public endpoint for the Glue service.</p>",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "documentation": "<p>Creates one or more partitions in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchCreatePartitionRequest"
      },
      "name": "BatchCreatePartition",
      "output": {
        "shape": "BatchCreatePartitionResponse"
      }
    },
    "BatchDeleteConnection": {
      "documentation": "<p>Deletes a list of connection definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteConnectionRequest"
      },
      "name": "BatchDeleteConnection",
      "output": {
        "shape": "BatchDeleteConnectionResponse"
      }
    },
    "BatchDeletePartition": {
      "documentation": "<p>Deletes one or more partitions in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeletePartitionRequest"
      },
      "name": "BatchDeletePartition",
      "output": {
        "shape": "BatchDeletePartitionResponse"
      }
    },
    "BatchDeleteTable": {
      "documentation": "<p>Deletes multiple tables at once.</p> <note> <p>After completing this operation, you no longer have access to the table versions and partitions that belong to the deleted table. Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>BatchDeleteTable</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or <code>BatchDeletePartition</code>, to delete any resources that belong to the table.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteTableRequest"
      },
      "name": "BatchDeleteTable",
      "output": {
        "shape": "BatchDeleteTableResponse"
      }
    },
    "BatchDeleteTableVersion": {
      "documentation": "<p>Deletes a specified batch of versions of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteTableVersionRequest"
      },
      "name": "BatchDeleteTableVersion",
      "output": {
        "shape": "BatchDeleteTableVersionResponse"
      }
    },
    "BatchGetBlueprints": {
      "documentation": "<p>Retrieves information about a list of blueprints.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetBlueprintsRequest"
      },
      "name": "BatchGetBlueprints",
      "output": {
        "shape": "BatchGetBlueprintsResponse"
      }
    },
    "BatchGetCrawlers": {
      "documentation": "<p>Returns a list of resource metadata for a given list of crawler names. After calling the <code>ListCrawlers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetCrawlersRequest"
      },
      "name": "BatchGetCrawlers",
      "output": {
        "shape": "BatchGetCrawlersResponse"
      }
    },
    "BatchGetCustomEntityTypes": {
      "documentation": "<p>Retrieves the details for the custom patterns specified by a list of names.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetCustomEntityTypesRequest"
      },
      "name": "BatchGetCustomEntityTypes",
      "output": {
        "shape": "BatchGetCustomEntityTypesResponse"
      }
    },
    "BatchGetDevEndpoints": {
      "documentation": "<p>Returns a list of resource metadata for a given list of development endpoint names. After calling the <code>ListDevEndpoints</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDevEndpointsRequest"
      },
      "name": "BatchGetDevEndpoints",
      "output": {
        "shape": "BatchGetDevEndpointsResponse"
      }
    },
    "BatchGetJobs": {
      "documentation": "<p>Returns a list of resource metadata for a given list of job names. After calling the <code>ListJobs</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetJobsRequest"
      },
      "name": "BatchGetJobs",
      "output": {
        "shape": "BatchGetJobsResponse"
      }
    },
    "BatchGetPartition": {
      "documentation": "<p>Retrieves partitions in a batch request.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetPartitionRequest"
      },
      "name": "BatchGetPartition",
      "output": {
        "shape": "BatchGetPartitionResponse"
      }
    },
    "BatchGetTriggers": {
      "documentation": "<p>Returns a list of resource metadata for a given list of trigger names. After calling the <code>ListTriggers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetTriggersRequest"
      },
      "name": "BatchGetTriggers",
      "output": {
        "shape": "BatchGetTriggersResponse"
      }
    },
    "BatchGetWorkflows": {
      "documentation": "<p>Returns a list of resource metadata for a given list of workflow names. After calling the <code>ListWorkflows</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetWorkflowsRequest"
      },
      "name": "BatchGetWorkflows",
      "output": {
        "shape": "BatchGetWorkflowsResponse"
      }
    },
    "BatchStopJobRun": {
      "documentation": "<p>Stops one or more job runs for a specified job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchStopJobRunRequest"
      },
      "name": "BatchStopJobRun",
      "output": {
        "shape": "BatchStopJobRunResponse"
      }
    },
    "BatchUpdatePartition": {
      "documentation": "<p>Updates one or more partitions in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchUpdatePartitionRequest"
      },
      "name": "BatchUpdatePartition",
      "output": {
        "shape": "BatchUpdatePartitionResponse"
      }
    },
    "CancelMLTaskRun": {
      "documentation": "<p>Cancels (stops) a task run. Machine learning task runs are asynchronous tasks that Glue runs on your behalf as part of various machine learning workflows. You can cancel a machine learning task run at any time by calling <code>CancelMLTaskRun</code> with a task run's parent transform's <code>TransformID</code> and the task run's <code>TaskRunId</code>. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelMLTaskRunRequest"
      },
      "name": "CancelMLTaskRun",
      "output": {
        "shape": "CancelMLTaskRunResponse"
      }
    },
    "CancelStatement": {
      "documentation": "<p>Cancels the statement.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IllegalSessionStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelStatementRequest"
      },
      "name": "CancelStatement",
      "output": {
        "shape": "CancelStatementResponse"
      }
    },
    "CheckSchemaVersionValidity": {
      "documentation": "<p>Validates the supplied schema. This call has no side effects, it simply validates using the supplied schema using <code>DataFormat</code> as the format. Since it does not take a schema set name, no compatibility checks are performed.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckSchemaVersionValidityInput"
      },
      "name": "CheckSchemaVersionValidity",
      "output": {
        "shape": "CheckSchemaVersionValidityResponse"
      }
    },
    "CreateBlueprint": {
      "documentation": "<p>Registers a blueprint with Glue.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBlueprintRequest"
      },
      "name": "CreateBlueprint",
      "output": {
        "shape": "CreateBlueprintResponse"
      }
    },
    "CreateClassifier": {
      "documentation": "<p>Creates a classifier in the user's account. This can be a <code>GrokClassifier</code>, an <code>XMLClassifier</code>, a <code>JsonClassifier</code>, or a <code>CsvClassifier</code>, depending on which field of the request is present.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateClassifierRequest"
      },
      "name": "CreateClassifier",
      "output": {
        "shape": "CreateClassifierResponse"
      }
    },
    "CreateConnection": {
      "documentation": "<p>Creates a connection definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectionRequest"
      },
      "name": "CreateConnection",
      "output": {
        "shape": "CreateConnectionResponse"
      }
    },
    "CreateCrawler": {
      "documentation": "<p>Creates a new crawler with specified targets, role, configuration, and optional schedule. At least one crawl target must be specified, in the <code>s3Targets</code> field, the <code>jdbcTargets</code> field, or the <code>DynamoDBTargets</code> field.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCrawlerRequest"
      },
      "name": "CreateCrawler",
      "output": {
        "shape": "CreateCrawlerResponse"
      }
    },
    "CreateCustomEntityType": {
      "documentation": "<p>Creates a custom pattern that is used to detect sensitive data across the columns and rows of your structured data.</p> <p>Each custom pattern you create specifies a regular expression and an optional list of context words. If no context words are passed only a regular expression is checked.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomEntityTypeRequest"
      },
      "name": "CreateCustomEntityType",
      "output": {
        "shape": "CreateCustomEntityTypeResponse"
      }
    },
    "CreateDatabase": {
      "documentation": "<p>Creates a new database in a Data Catalog.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatabaseRequest"
      },
      "name": "CreateDatabase",
      "output": {
        "shape": "CreateDatabaseResponse"
      }
    },
    "CreateDevEndpoint": {
      "documentation": "<p>Creates a new development endpoint.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDevEndpointRequest"
      },
      "name": "CreateDevEndpoint",
      "output": {
        "shape": "CreateDevEndpointResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>Creates a new job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateMLTransform": {
      "documentation": "<p>Creates an Glue machine learning transform. This operation creates the transform and all the necessary parameters to train it.</p> <p>Call this operation as the first step in the process of using a machine learning transform (such as the <code>FindMatches</code> transform) for deduplicating data. You can provide an optional <code>Description</code>, in addition to the parameters that you want to use for your algorithm.</p> <p>You must also specify certain parameters for the tasks that Glue runs on your behalf as part of learning from your data and creating a high-quality machine learning transform. These parameters include <code>Role</code>, and optionally, <code>AllocatedCapacity</code>, <code>Timeout</code>, and <code>MaxRetries</code>. For more information, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-jobs-job.html\">Jobs</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMLTransformRequest"
      },
      "name": "CreateMLTransform",
      "output": {
        "shape": "CreateMLTransformResponse"
      }
    },
    "CreatePartition": {
      "documentation": "<p>Creates a new partition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePartitionRequest"
      },
      "name": "CreatePartition",
      "output": {
        "shape": "CreatePartitionResponse"
      }
    },
    "CreatePartitionIndex": {
      "documentation": "<p>Creates a specified partition index in an existing table.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePartitionIndexRequest"
      },
      "name": "CreatePartitionIndex",
      "output": {
        "shape": "CreatePartitionIndexResponse"
      }
    },
    "CreateRegistry": {
      "documentation": "<p>Creates a new registry which may be used to hold a collection of schemas.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRegistryInput"
      },
      "name": "CreateRegistry",
      "output": {
        "shape": "CreateRegistryResponse"
      }
    },
    "CreateSchema": {
      "documentation": "<p>Creates a new schema set and registers the schema definition. Returns an error if the schema set already exists without actually registering the version.</p> <p>When the schema set is created, a version checkpoint will be set to the first version. Compatibility mode \"DISABLED\" restricts any additional schema versions from being added after the first schema version. For all other compatibility modes, validation of compatibility settings will be applied only from the second version onwards when the <code>RegisterSchemaVersion</code> API is used.</p> <p>When this API is called without a <code>RegistryId</code>, this will create an entry for a \"default-registry\" in the registry database tables, if it is not already present.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSchemaInput"
      },
      "name": "CreateSchema",
      "output": {
        "shape": "CreateSchemaResponse"
      }
    },
    "CreateScript": {
      "documentation": "<p>Transforms a directed acyclic graph (DAG) into code.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateScriptRequest"
      },
      "name": "CreateScript",
      "output": {
        "shape": "CreateScriptResponse"
      }
    },
    "CreateSecurityConfiguration": {
      "documentation": "<p>Creates a new security configuration. A security configuration is a set of security properties that can be used by Glue. You can use a security configuration to encrypt data at rest. For information about using security configurations in Glue, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/encryption-security-configuration.html\">Encrypting Data Written by Crawlers, Jobs, and Development Endpoints</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSecurityConfigurationRequest"
      },
      "name": "CreateSecurityConfiguration",
      "output": {
        "shape": "CreateSecurityConfigurationResponse"
      }
    },
    "CreateSession": {
      "documentation": "<p>Creates a new session.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSessionRequest"
      },
      "name": "CreateSession",
      "output": {
        "shape": "CreateSessionResponse"
      }
    },
    "CreateTable": {
      "documentation": "<p>Creates a new table definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTableRequest"
      },
      "name": "CreateTable",
      "output": {
        "shape": "CreateTableResponse"
      }
    },
    "CreateTrigger": {
      "documentation": "<p>Creates a new trigger.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTriggerRequest"
      },
      "name": "CreateTrigger",
      "output": {
        "shape": "CreateTriggerResponse"
      }
    },
    "CreateUserDefinedFunction": {
      "documentation": "<p>Creates a new function definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserDefinedFunctionRequest"
      },
      "name": "CreateUserDefinedFunction",
      "output": {
        "shape": "CreateUserDefinedFunctionResponse"
      }
    },
    "CreateWorkflow": {
      "documentation": "<p>Creates a new workflow.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateWorkflowResponse"
      }
    },
    "DeleteBlueprint": {
      "documentation": "<p>Deletes an existing blueprint.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBlueprintRequest"
      },
      "name": "DeleteBlueprint",
      "output": {
        "shape": "DeleteBlueprintResponse"
      }
    },
    "DeleteClassifier": {
      "documentation": "<p>Removes a classifier from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteClassifierRequest"
      },
      "name": "DeleteClassifier",
      "output": {
        "shape": "DeleteClassifierResponse"
      }
    },
    "DeleteColumnStatisticsForPartition": {
      "documentation": "<p>Delete the partition column statistics of a column.</p> <p>The Identity and Access Management (IAM) permission required for this operation is <code>DeletePartition</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteColumnStatisticsForPartitionRequest"
      },
      "name": "DeleteColumnStatisticsForPartition",
      "output": {
        "shape": "DeleteColumnStatisticsForPartitionResponse"
      }
    },
    "DeleteColumnStatisticsForTable": {
      "documentation": "<p>Retrieves table statistics of columns.</p> <p>The Identity and Access Management (IAM) permission required for this operation is <code>DeleteTable</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteColumnStatisticsForTableRequest"
      },
      "name": "DeleteColumnStatisticsForTable",
      "output": {
        "shape": "DeleteColumnStatisticsForTableResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Deletes a connection from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionRequest"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "DeleteConnectionResponse"
      }
    },
    "DeleteCrawler": {
      "documentation": "<p>Removes a specified crawler from the Glue Data Catalog, unless the crawler state is <code>RUNNING</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "CrawlerRunningException"
        },
        {
          "shape": "SchedulerTransitioningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCrawlerRequest"
      },
      "name": "DeleteCrawler",
      "output": {
        "shape": "DeleteCrawlerResponse"
      }
    },
    "DeleteCustomEntityType": {
      "documentation": "<p>Deletes a custom pattern by specifying its name.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomEntityTypeRequest"
      },
      "name": "DeleteCustomEntityType",
      "output": {
        "shape": "DeleteCustomEntityTypeResponse"
      }
    },
    "DeleteDatabase": {
      "documentation": "<p>Removes a specified database from a Data Catalog.</p> <note> <p>After completing this operation, you no longer have access to the tables (and all table versions and partitions that might belong to the tables) and the user-defined functions in the deleted database. Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>DeleteDatabase</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, <code>DeletePartition</code> or <code>BatchDeletePartition</code>, <code>DeleteUserDefinedFunction</code>, and <code>DeleteTable</code> or <code>BatchDeleteTable</code>, to delete any resources that belong to the database.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDatabaseRequest"
      },
      "name": "DeleteDatabase",
      "output": {
        "shape": "DeleteDatabaseResponse"
      }
    },
    "DeleteDevEndpoint": {
      "documentation": "<p>Deletes a specified development endpoint.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDevEndpointRequest"
      },
      "name": "DeleteDevEndpoint",
      "output": {
        "shape": "DeleteDevEndpointResponse"
      }
    },
    "DeleteJob": {
      "documentation": "<p>Deletes a specified job definition. If the job definition is not found, no exception is thrown.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob",
      "output": {
        "shape": "DeleteJobResponse"
      }
    },
    "DeleteMLTransform": {
      "documentation": "<p>Deletes an Glue machine learning transform. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by Glue. If you no longer need a transform, you can delete it by calling <code>DeleteMLTransforms</code>. However, any Glue jobs that still reference the deleted transform will no longer succeed.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMLTransformRequest"
      },
      "name": "DeleteMLTransform",
      "output": {
        "shape": "DeleteMLTransformResponse"
      }
    },
    "DeletePartition": {
      "documentation": "<p>Deletes a specified partition.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePartitionRequest"
      },
      "name": "DeletePartition",
      "output": {
        "shape": "DeletePartitionResponse"
      }
    },
    "DeletePartitionIndex": {
      "documentation": "<p>Deletes a specified partition index from an existing table.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePartitionIndexRequest"
      },
      "name": "DeletePartitionIndex",
      "output": {
        "shape": "DeletePartitionIndexResponse"
      }
    },
    "DeleteRegistry": {
      "documentation": "<p>Delete the entire registry including schema and all of its versions. To get the status of the delete operation, you can call the <code>GetRegistry</code> API after the asynchronous call. Deleting a registry will deactivate all online operations for the registry such as the <code>UpdateRegistry</code>, <code>CreateSchema</code>, <code>UpdateSchema</code>, and <code>RegisterSchemaVersion</code> APIs. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRegistryInput"
      },
      "name": "DeleteRegistry",
      "output": {
        "shape": "DeleteRegistryResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a specified policy.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ConditionCheckFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteSchema": {
      "documentation": "<p>Deletes the entire schema set, including the schema set and all of its versions. To get the status of the delete operation, you can call <code>GetSchema</code> API after the asynchronous call. Deleting a registry will deactivate all online operations for the schema, such as the <code>GetSchemaByDefinition</code>, and <code>RegisterSchemaVersion</code> APIs.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSchemaInput"
      },
      "name": "DeleteSchema",
      "output": {
        "shape": "DeleteSchemaResponse"
      }
    },
    "DeleteSchemaVersions": {
      "documentation": "<p>Remove versions from the specified schema. A version number or range may be supplied. If the compatibility mode forbids deleting of a version that is necessary, such as BACKWARDS_FULL, an error is returned. Calling the <code>GetSchemaVersions</code> API after this call will list the status of the deleted versions.</p> <p>When the range of version numbers contain check pointed version, the API will return a 409 conflict and will not proceed with the deletion. You have to remove the checkpoint first using the <code>DeleteSchemaCheckpoint</code> API before using this API.</p> <p>You cannot use the <code>DeleteSchemaVersions</code> API to delete the first schema version in the schema set. The first schema version can only be deleted by the <code>DeleteSchema</code> API. This operation will also delete the attached <code>SchemaVersionMetadata</code> under the schema versions. Hard deletes will be enforced on the database.</p> <p>If the compatibility mode forbids deleting of a version that is necessary, such as BACKWARDS_FULL, an error is returned.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSchemaVersionsInput"
      },
      "name": "DeleteSchemaVersions",
      "output": {
        "shape": "DeleteSchemaVersionsResponse"
      }
    },
    "DeleteSecurityConfiguration": {
      "documentation": "<p>Deletes a specified security configuration.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSecurityConfigurationRequest"
      },
      "name": "DeleteSecurityConfiguration",
      "output": {
        "shape": "DeleteSecurityConfigurationResponse"
      }
    },
    "DeleteSession": {
      "documentation": "<p>Deletes the session.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IllegalSessionStateException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSessionRequest"
      },
      "name": "DeleteSession",
      "output": {
        "shape": "DeleteSessionResponse"
      }
    },
    "DeleteTable": {
      "documentation": "<p>Removes a table definition from the Data Catalog.</p> <note> <p>After completing this operation, you no longer have access to the table versions and partitions that belong to the deleted table. Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>DeleteTable</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or <code>BatchDeletePartition</code>, to delete any resources that belong to the table.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTableRequest"
      },
      "name": "DeleteTable",
      "output": {
        "shape": "DeleteTableResponse"
      }
    },
    "DeleteTableVersion": {
      "documentation": "<p>Deletes a specified version of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTableVersionRequest"
      },
      "name": "DeleteTableVersion",
      "output": {
        "shape": "DeleteTableVersionResponse"
      }
    },
    "DeleteTrigger": {
      "documentation": "<p>Deletes a specified trigger. If the trigger is not found, no exception is thrown.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTriggerRequest"
      },
      "name": "DeleteTrigger",
      "output": {
        "shape": "DeleteTriggerResponse"
      }
    },
    "DeleteUserDefinedFunction": {
      "documentation": "<p>Deletes an existing function definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserDefinedFunctionRequest"
      },
      "name": "DeleteUserDefinedFunction",
      "output": {
        "shape": "DeleteUserDefinedFunctionResponse"
      }
    },
    "DeleteWorkflow": {
      "documentation": "<p>Deletes a workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkflowRequest"
      },
      "name": "DeleteWorkflow",
      "output": {
        "shape": "DeleteWorkflowResponse"
      }
    },
    "GetBlueprint": {
      "documentation": "<p>Retrieves the details of a blueprint.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlueprintRequest"
      },
      "name": "GetBlueprint",
      "output": {
        "shape": "GetBlueprintResponse"
      }
    },
    "GetBlueprintRun": {
      "documentation": "<p>Retrieves the details of a blueprint run.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlueprintRunRequest"
      },
      "name": "GetBlueprintRun",
      "output": {
        "shape": "GetBlueprintRunResponse"
      }
    },
    "GetBlueprintRuns": {
      "documentation": "<p>Retrieves the details of blueprint runs for a specified blueprint.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlueprintRunsRequest"
      },
      "name": "GetBlueprintRuns",
      "output": {
        "shape": "GetBlueprintRunsResponse"
      }
    },
    "GetCatalogImportStatus": {
      "documentation": "<p>Retrieves the status of a migration operation.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCatalogImportStatusRequest"
      },
      "name": "GetCatalogImportStatus",
      "output": {
        "shape": "GetCatalogImportStatusResponse"
      }
    },
    "GetClassifier": {
      "documentation": "<p>Retrieve a classifier by name.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetClassifierRequest"
      },
      "name": "GetClassifier",
      "output": {
        "shape": "GetClassifierResponse"
      }
    },
    "GetClassifiers": {
      "documentation": "<p>Lists all classifier objects in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetClassifiersRequest"
      },
      "name": "GetClassifiers",
      "output": {
        "shape": "GetClassifiersResponse"
      }
    },
    "GetColumnStatisticsForPartition": {
      "documentation": "<p>Retrieves partition statistics of columns.</p> <p>The Identity and Access Management (IAM) permission required for this operation is <code>GetPartition</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetColumnStatisticsForPartitionRequest"
      },
      "name": "GetColumnStatisticsForPartition",
      "output": {
        "shape": "GetColumnStatisticsForPartitionResponse"
      }
    },
    "GetColumnStatisticsForTable": {
      "documentation": "<p>Retrieves table statistics of columns.</p> <p>The Identity and Access Management (IAM) permission required for this operation is <code>GetTable</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetColumnStatisticsForTableRequest"
      },
      "name": "GetColumnStatisticsForTable",
      "output": {
        "shape": "GetColumnStatisticsForTableResponse"
      }
    },
    "GetConnection": {
      "documentation": "<p>Retrieves a connection definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionRequest"
      },
      "name": "GetConnection",
      "output": {
        "shape": "GetConnectionResponse"
      }
    },
    "GetConnections": {
      "documentation": "<p>Retrieves a list of connection definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionsRequest"
      },
      "name": "GetConnections",
      "output": {
        "shape": "GetConnectionsResponse"
      }
    },
    "GetCrawler": {
      "documentation": "<p>Retrieves metadata for a specified crawler.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlerRequest"
      },
      "name": "GetCrawler",
      "output": {
        "shape": "GetCrawlerResponse"
      }
    },
    "GetCrawlerMetrics": {
      "documentation": "<p>Retrieves metrics about specified crawlers.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlerMetricsRequest"
      },
      "name": "GetCrawlerMetrics",
      "output": {
        "shape": "GetCrawlerMetricsResponse"
      }
    },
    "GetCrawlers": {
      "documentation": "<p>Retrieves metadata for all crawlers defined in the customer account.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlersRequest"
      },
      "name": "GetCrawlers",
      "output": {
        "shape": "GetCrawlersResponse"
      }
    },
    "GetCustomEntityType": {
      "documentation": "<p>Retrieves the details of a custom pattern by specifying its name.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCustomEntityTypeRequest"
      },
      "name": "GetCustomEntityType",
      "output": {
        "shape": "GetCustomEntityTypeResponse"
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "documentation": "<p>Retrieves the security configuration for a specified catalog.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataCatalogEncryptionSettingsRequest"
      },
      "name": "GetDataCatalogEncryptionSettings",
      "output": {
        "shape": "GetDataCatalogEncryptionSettingsResponse"
      }
    },
    "GetDatabase": {
      "documentation": "<p>Retrieves the definition of a specified database.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDatabaseRequest"
      },
      "name": "GetDatabase",
      "output": {
        "shape": "GetDatabaseResponse"
      }
    },
    "GetDatabases": {
      "documentation": "<p>Retrieves all databases defined in a given Data Catalog.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDatabasesRequest"
      },
      "name": "GetDatabases",
      "output": {
        "shape": "GetDatabasesResponse"
      }
    },
    "GetDataflowGraph": {
      "documentation": "<p>Transforms a Python script into a directed acyclic graph (DAG). </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataflowGraphRequest"
      },
      "name": "GetDataflowGraph",
      "output": {
        "shape": "GetDataflowGraphResponse"
      }
    },
    "GetDevEndpoint": {
      "documentation": "<p>Retrieves information about a specified development endpoint.</p> <note> <p>When you create a development endpoint in a virtual private cloud (VPC), Glue returns only a private IP address, and the public IP address field is not populated. When you create a non-VPC development endpoint, Glue returns only a public IP address.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevEndpointRequest"
      },
      "name": "GetDevEndpoint",
      "output": {
        "shape": "GetDevEndpointResponse"
      }
    },
    "GetDevEndpoints": {
      "documentation": "<p>Retrieves all the development endpoints in this AWS account.</p> <note> <p>When you create a development endpoint in a virtual private cloud (VPC), Glue returns only a private IP address and the public IP address field is not populated. When you create a non-VPC development endpoint, Glue returns only a public IP address.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevEndpointsRequest"
      },
      "name": "GetDevEndpoints",
      "output": {
        "shape": "GetDevEndpointsResponse"
      }
    },
    "GetJob": {
      "documentation": "<p>Retrieves an existing job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetJobBookmark": {
      "documentation": "<p>Returns information on a job bookmark entry.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobBookmarkRequest"
      },
      "name": "GetJobBookmark",
      "output": {
        "shape": "GetJobBookmarkResponse"
      }
    },
    "GetJobRun": {
      "documentation": "<p>Retrieves the metadata for a given job run.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRunRequest"
      },
      "name": "GetJobRun",
      "output": {
        "shape": "GetJobRunResponse"
      }
    },
    "GetJobRuns": {
      "documentation": "<p>Retrieves metadata for all runs of a given job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRunsRequest"
      },
      "name": "GetJobRuns",
      "output": {
        "shape": "GetJobRunsResponse"
      }
    },
    "GetJobs": {
      "documentation": "<p>Retrieves all current job definitions.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobsRequest"
      },
      "name": "GetJobs",
      "output": {
        "shape": "GetJobsResponse"
      }
    },
    "GetMLTaskRun": {
      "documentation": "<p>Gets details for a specific task run on a machine learning transform. Machine learning task runs are asynchronous tasks that Glue runs on your behalf as part of various machine learning workflows. You can check the stats of any task run by calling <code>GetMLTaskRun</code> with the <code>TaskRunID</code> and its parent transform's <code>TransformID</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTaskRunRequest"
      },
      "name": "GetMLTaskRun",
      "output": {
        "shape": "GetMLTaskRunResponse"
      }
    },
    "GetMLTaskRuns": {
      "documentation": "<p>Gets a list of runs for a machine learning transform. Machine learning task runs are asynchronous tasks that Glue runs on your behalf as part of various machine learning workflows. You can get a sortable, filterable list of machine learning task runs by calling <code>GetMLTaskRuns</code> with their parent transform's <code>TransformID</code> and other optional parameters as documented in this section.</p> <p>This operation returns a list of historic runs and must be paginated.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTaskRunsRequest"
      },
      "name": "GetMLTaskRuns",
      "output": {
        "shape": "GetMLTaskRunsResponse"
      }
    },
    "GetMLTransform": {
      "documentation": "<p>Gets an Glue machine learning transform artifact and all its corresponding metadata. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by Glue. You can retrieve their metadata by calling <code>GetMLTransform</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTransformRequest"
      },
      "name": "GetMLTransform",
      "output": {
        "shape": "GetMLTransformResponse"
      }
    },
    "GetMLTransforms": {
      "documentation": "<p>Gets a sortable, filterable list of existing Glue machine learning transforms. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by Glue, and you can retrieve their metadata by calling <code>GetMLTransforms</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTransformsRequest"
      },
      "name": "GetMLTransforms",
      "output": {
        "shape": "GetMLTransformsResponse"
      }
    },
    "GetMapping": {
      "documentation": "<p>Creates mappings.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMappingRequest"
      },
      "name": "GetMapping",
      "output": {
        "shape": "GetMappingResponse"
      }
    },
    "GetPartition": {
      "documentation": "<p>Retrieves information about a specified partition.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPartitionRequest"
      },
      "name": "GetPartition",
      "output": {
        "shape": "GetPartitionResponse"
      }
    },
    "GetPartitionIndexes": {
      "documentation": "<p>Retrieves the partition indexes associated with a table.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPartitionIndexesRequest"
      },
      "name": "GetPartitionIndexes",
      "output": {
        "shape": "GetPartitionIndexesResponse"
      }
    },
    "GetPartitions": {
      "documentation": "<p>Retrieves information about the partitions in a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPartitionsRequest"
      },
      "name": "GetPartitions",
      "output": {
        "shape": "GetPartitionsResponse"
      }
    },
    "GetPlan": {
      "documentation": "<p>Gets code to perform a specified mapping.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPlanRequest"
      },
      "name": "GetPlan",
      "output": {
        "shape": "GetPlanResponse"
      }
    },
    "GetRegistry": {
      "documentation": "<p>Describes the specified registry in detail.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegistryInput"
      },
      "name": "GetRegistry",
      "output": {
        "shape": "GetRegistryResponse"
      }
    },
    "GetResourcePolicies": {
      "documentation": "<p>Retrieves the resource policies set on individual resources by Resource Access Manager during cross-account permission grants. Also retrieves the Data Catalog resource policy.</p> <p>If you enabled metadata encryption in Data Catalog settings, and you do not have permission on the KMS key, the operation can't return the Data Catalog resource policy.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePoliciesRequest"
      },
      "name": "GetResourcePolicies",
      "output": {
        "shape": "GetResourcePoliciesResponse"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p>Retrieves a specified resource policy.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyResponse"
      }
    },
    "GetSchema": {
      "documentation": "<p>Describes the specified schema in detail.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSchemaInput"
      },
      "name": "GetSchema",
      "output": {
        "shape": "GetSchemaResponse"
      }
    },
    "GetSchemaByDefinition": {
      "documentation": "<p>Retrieves a schema by the <code>SchemaDefinition</code>. The schema definition is sent to the Schema Registry, canonicalized, and hashed. If the hash is matched within the scope of the <code>SchemaName</code> or ARN (or the default registry, if none is supplied), that schema\u2019s metadata is returned. Otherwise, a 404 or NotFound error is returned. Schema versions in <code>Deleted</code> statuses will not be included in the results.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSchemaByDefinitionInput"
      },
      "name": "GetSchemaByDefinition",
      "output": {
        "shape": "GetSchemaByDefinitionResponse"
      }
    },
    "GetSchemaVersion": {
      "documentation": "<p>Get the specified schema by its unique ID assigned when a version of the schema is created or registered. Schema versions in Deleted status will not be included in the results.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSchemaVersionInput"
      },
      "name": "GetSchemaVersion",
      "output": {
        "shape": "GetSchemaVersionResponse"
      }
    },
    "GetSchemaVersionsDiff": {
      "documentation": "<p>Fetches the schema version difference in the specified difference type between two stored schema versions in the Schema Registry.</p> <p>This API allows you to compare two schema versions between two schema definitions under the same schema.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSchemaVersionsDiffInput"
      },
      "name": "GetSchemaVersionsDiff",
      "output": {
        "shape": "GetSchemaVersionsDiffResponse"
      }
    },
    "GetSecurityConfiguration": {
      "documentation": "<p>Retrieves a specified security configuration.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityConfigurationRequest"
      },
      "name": "GetSecurityConfiguration",
      "output": {
        "shape": "GetSecurityConfigurationResponse"
      }
    },
    "GetSecurityConfigurations": {
      "documentation": "<p>Retrieves a list of all security configurations.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityConfigurationsRequest"
      },
      "name": "GetSecurityConfigurations",
      "output": {
        "shape": "GetSecurityConfigurationsResponse"
      }
    },
    "GetSession": {
      "documentation": "<p>Retrieves the session.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSessionRequest"
      },
      "name": "GetSession",
      "output": {
        "shape": "GetSessionResponse"
      }
    },
    "GetStatement": {
      "documentation": "<p>Retrieves the statement.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IllegalSessionStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetStatementRequest"
      },
      "name": "GetStatement",
      "output": {
        "shape": "GetStatementResponse"
      }
    },
    "GetTable": {
      "documentation": "<p>Retrieves the <code>Table</code> definition in a Data Catalog for a specified table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableRequest"
      },
      "name": "GetTable",
      "output": {
        "shape": "GetTableResponse"
      }
    },
    "GetTableVersion": {
      "documentation": "<p>Retrieves a specified version of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableVersionRequest"
      },
      "name": "GetTableVersion",
      "output": {
        "shape": "GetTableVersionResponse"
      }
    },
    "GetTableVersions": {
      "documentation": "<p>Retrieves a list of strings that identify available versions of a specified table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableVersionsRequest"
      },
      "name": "GetTableVersions",
      "output": {
        "shape": "GetTableVersionsResponse"
      }
    },
    "GetTables": {
      "documentation": "<p>Retrieves the definitions of some or all of the tables in a given <code>Database</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTablesRequest"
      },
      "name": "GetTables",
      "output": {
        "shape": "GetTablesResponse"
      }
    },
    "GetTags": {
      "documentation": "<p>Retrieves a list of tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "GetTagsResponse"
      }
    },
    "GetTrigger": {
      "documentation": "<p>Retrieves the definition of a trigger.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTriggerRequest"
      },
      "name": "GetTrigger",
      "output": {
        "shape": "GetTriggerResponse"
      }
    },
    "GetTriggers": {
      "documentation": "<p>Gets all the triggers associated with a job.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTriggersRequest"
      },
      "name": "GetTriggers",
      "output": {
        "shape": "GetTriggersResponse"
      }
    },
    "GetUnfilteredPartitionMetadata": {
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "PermissionTypeMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUnfilteredPartitionMetadataRequest"
      },
      "name": "GetUnfilteredPartitionMetadata",
      "output": {
        "shape": "GetUnfilteredPartitionMetadataResponse"
      }
    },
    "GetUnfilteredPartitionsMetadata": {
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "PermissionTypeMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUnfilteredPartitionsMetadataRequest"
      },
      "name": "GetUnfilteredPartitionsMetadata",
      "output": {
        "shape": "GetUnfilteredPartitionsMetadataResponse"
      }
    },
    "GetUnfilteredTableMetadata": {
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        },
        {
          "shape": "PermissionTypeMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUnfilteredTableMetadataRequest"
      },
      "name": "GetUnfilteredTableMetadata",
      "output": {
        "shape": "GetUnfilteredTableMetadataResponse"
      }
    },
    "GetUserDefinedFunction": {
      "documentation": "<p>Retrieves a specified function definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserDefinedFunctionRequest"
      },
      "name": "GetUserDefinedFunction",
      "output": {
        "shape": "GetUserDefinedFunctionResponse"
      }
    },
    "GetUserDefinedFunctions": {
      "documentation": "<p>Retrieves multiple function definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserDefinedFunctionsRequest"
      },
      "name": "GetUserDefinedFunctions",
      "output": {
        "shape": "GetUserDefinedFunctionsResponse"
      }
    },
    "GetWorkflow": {
      "documentation": "<p>Retrieves resource metadata for a workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRequest"
      },
      "name": "GetWorkflow",
      "output": {
        "shape": "GetWorkflowResponse"
      }
    },
    "GetWorkflowRun": {
      "documentation": "<p>Retrieves the metadata for a given workflow run. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunRequest"
      },
      "name": "GetWorkflowRun",
      "output": {
        "shape": "GetWorkflowRunResponse"
      }
    },
    "GetWorkflowRunProperties": {
      "documentation": "<p>Retrieves the workflow run properties which were set during the run.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunPropertiesRequest"
      },
      "name": "GetWorkflowRunProperties",
      "output": {
        "shape": "GetWorkflowRunPropertiesResponse"
      }
    },
    "GetWorkflowRuns": {
      "documentation": "<p>Retrieves metadata for all runs of a given workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunsRequest"
      },
      "name": "GetWorkflowRuns",
      "output": {
        "shape": "GetWorkflowRunsResponse"
      }
    },
    "ImportCatalogToGlue": {
      "documentation": "<p>Imports an existing Amazon Athena Data Catalog to Glue.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportCatalogToGlueRequest"
      },
      "name": "ImportCatalogToGlue",
      "output": {
        "shape": "ImportCatalogToGlueResponse"
      }
    },
    "ListBlueprints": {
      "documentation": "<p>Lists all the blueprint names in an account.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBlueprintsRequest"
      },
      "name": "ListBlueprints",
      "output": {
        "shape": "ListBlueprintsResponse"
      }
    },
    "ListCrawlers": {
      "documentation": "<p>Retrieves the names of all crawler resources in this Amazon Web Services account, or the resources with the specified tag. This operation allows you to see which resources are available in your account, and their names.</p> <p>This operation takes the optional <code>Tags</code> field, which you can use as a filter on the response so that tagged resources can be retrieved as a group. If you choose to use tags filtering, only resources with the tag are retrieved.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCrawlersRequest"
      },
      "name": "ListCrawlers",
      "output": {
        "shape": "ListCrawlersResponse"
      }
    },
    "ListCrawls": {
      "documentation": "<p>Returns all the crawls of a specified crawler. Returns only the crawls that have occurred since the launch date of the crawler history feature, and only retains up to 12 months of crawls. Older crawls will not be returned.</p> <p>You may use this API to:</p> <ul> <li> <p>Retrive all the crawls of a specified crawler.</p> </li> <li> <p>Retrieve all the crawls of a specified crawler within a limited count.</p> </li> <li> <p>Retrieve all the crawls of a specified crawler in a specific time range.</p> </li> <li> <p>Retrieve all the crawls of a specified crawler with a particular state, crawl ID, or DPU hour value.</p> </li> </ul>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
[...]
