{
  "documentation": "<p>Amazon Web Services enables you to centrally manage your Amazon Web Services Cloud WAN core network and your Transit Gateway network across Amazon Web Services accounts, Regions, and on-premises locations.</p>",
  "metadata": {
    "apiVersion": "2019-07-05",
    "endpointPrefix": "networkmanager",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "NetworkManager",
    "serviceFullName": "AWS Network Manager",
    "serviceId": "NetworkManager",
    "signatureVersion": "v4",
    "signingName": "networkmanager",
    "uid": "networkmanager-2019-07-05"
  },
  "operations": {
    "AcceptAttachment": {
      "documentation": "<p>Accepts a core network attachment request. </p> <p>Once the attachment request is accepted by a core network owner, the attachment is created and connected to a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/attachments/{attachmentId}/accept"
      },
      "input": {
        "shape": "AcceptAttachmentRequest"
      },
      "name": "AcceptAttachment",
      "output": {
        "shape": "AcceptAttachmentResponse"
      }
    },
    "AssociateConnectPeer": {
      "documentation": "<p>Associates a core network Connect peer with a device and optionally, with a link. </p> <p>If you specify a link, it must be associated with the specified device. You can only associate core network Connect peers that have been created on a core network Connect attachment on a core network. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations"
      },
      "input": {
        "shape": "AssociateConnectPeerRequest"
      },
      "name": "AssociateConnectPeer",
      "output": {
        "shape": "AssociateConnectPeerResponse"
      }
    },
    "AssociateCustomerGateway": {
      "documentation": "<p>Associates a customer gateway with a device and optionally, with a link. If you specify a link, it must be associated with the specified device. </p> <p>You can only associate customer gateways that are connected to a VPN attachment on a transit gateway or core network registered in your global network. When you register a transit gateway or core network, customer gateways that are connected to the transit gateway are automatically included in the global network. To list customer gateways that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by <code>transit-gateway-id</code>.</p> <p>You cannot associate a customer gateway with more than one device and link. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input": {
        "shape": "AssociateCustomerGatewayRequest"
      },
      "name": "AssociateCustomerGateway",
      "output": {
        "shape": "AssociateCustomerGatewayResponse"
      }
    },
    "AssociateLink": {
      "documentation": "<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "shape": "AssociateLinkRequest"
      },
      "name": "AssociateLink",
      "output": {
        "shape": "AssociateLinkResponse"
      }
    },
    "AssociateTransitGatewayConnectPeer": {
      "documentation": "<p>Associates a transit gateway Connect peer with a device, and optionally, with a link. If you specify a link, it must be associated with the specified device. </p> <p>You can only associate transit gateway Connect peers that have been created on a transit gateway that's registered in your global network.</p> <p>You cannot associate a transit gateway Connect peer with more than one device and link. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations"
      },
      "input": {
        "shape": "AssociateTransitGatewayConnectPeerRequest"
      },
      "name": "AssociateTransitGatewayConnectPeer",
      "output": {
        "shape": "AssociateTransitGatewayConnectPeerResponse"
      }
    },
    "CreateConnectAttachment": {
      "documentation": "<p>Creates a core network Connect attachment from a specified core network attachment. </p> <p>A core network Connect attachment is a GRE-based tunnel attachment that you can use to establish a connection between a core network and an appliance. A core network Connect attachment uses an existing VPC attachment as the underlying transport mechanism.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/connect-attachments"
      },
      "input": {
        "shape": "CreateConnectAttachmentRequest"
      },
      "name": "CreateConnectAttachment",
      "output": {
        "shape": "CreateConnectAttachmentResponse"
      }
    },
    "CreateConnectPeer": {
      "documentation": "<p>Creates a core network Connect peer for a specified core network connect attachment between a core network and an appliance. The peer address and transit gateway address must be the same IP address family (IPv4 or IPv6).</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/connect-peers"
      },
      "input": {
        "shape": "CreateConnectPeerRequest"
      },
      "name": "CreateConnectPeer",
      "output": {
        "shape": "CreateConnectPeerResponse"
      }
    },
    "CreateConnection": {
      "documentation": "<p>Creates a connection between two devices. The devices can be a physical or virtual appliance that connects to a third-party appliance in a VPC, or a physical appliance that connects to another physical appliance in an on-premises network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/connections"
      },
      "input": {
        "shape": "CreateConnectionRequest"
      },
      "name": "CreateConnection",
      "output": {
        "shape": "CreateConnectionResponse"
      }
    },
    "CreateCoreNetwork": {
      "documentation": "<p>Creates a core network as part of your global network, and optionally, with a core network policy.</p>",
      "errors": [
        {
          "shape": "CoreNetworkPolicyException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/core-networks"
      },
      "input": {
        "shape": "CreateCoreNetworkRequest"
      },
      "name": "CreateCoreNetwork",
      "output": {
        "shape": "CreateCoreNetworkResponse"
      }
    },
    "CreateDevice": {
      "documentation": "<p>Creates a new device in a global network. If you specify both a site ID and a location, the location of the site is used for visualization in the Network Manager console.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/devices"
      },
      "input": {
        "shape": "CreateDeviceRequest"
      },
      "name": "CreateDevice",
      "output": {
        "shape": "CreateDeviceResponse"
      }
    },
    "CreateGlobalNetwork": {
      "documentation": "<p>Creates a new, empty global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks"
      },
      "input": {
        "shape": "CreateGlobalNetworkRequest"
      },
      "name": "CreateGlobalNetwork",
      "output": {
        "shape": "CreateGlobalNetworkResponse"
      }
    },
    "CreateLink": {
      "documentation": "<p>Creates a new link for a specified site.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/links"
      },
      "input": {
        "shape": "CreateLinkRequest"
      },
      "name": "CreateLink",
      "output": {
        "shape": "CreateLinkResponse"
      }
    },
    "CreateSite": {
      "documentation": "<p>Creates a new site in a global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/sites"
      },
      "input": {
        "shape": "CreateSiteRequest"
      },
      "name": "CreateSite",
      "output": {
        "shape": "CreateSiteResponse"
      }
    },
    "CreateSiteToSiteVpnAttachment": {
      "documentation": "<p>Creates an Amazon Web Services site-to-site VPN attachment on an edge location of a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/site-to-site-vpn-attachments"
      },
      "input": {
        "shape": "CreateSiteToSiteVpnAttachmentRequest"
      },
      "name": "CreateSiteToSiteVpnAttachment",
      "output": {
        "shape": "CreateSiteToSiteVpnAttachmentResponse"
      }
    },
    "CreateTransitGatewayPeering": {
      "documentation": "<p>Creates a transit gateway peering connection.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/transit-gateway-peerings"
      },
      "input": {
        "shape": "CreateTransitGatewayPeeringRequest"
      },
      "name": "CreateTransitGatewayPeering",
      "output": {
        "shape": "CreateTransitGatewayPeeringResponse"
      }
    },
    "CreateTransitGatewayRouteTableAttachment": {
      "documentation": "<p>Creates a transit gateway route table attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/transit-gateway-route-table-attachments"
      },
      "input": {
        "shape": "CreateTransitGatewayRouteTableAttachmentRequest"
      },
      "name": "CreateTransitGatewayRouteTableAttachment",
      "output": {
        "shape": "CreateTransitGatewayRouteTableAttachmentResponse"
      }
    },
    "CreateVpcAttachment": {
      "documentation": "<p>Creates a VPC attachment on an edge location of a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/vpc-attachments"
      },
      "input": {
        "shape": "CreateVpcAttachmentRequest"
      },
      "name": "CreateVpcAttachment",
      "output": {
        "shape": "CreateVpcAttachmentResponse"
      }
    },
    "DeleteAttachment": {
      "documentation": "<p>Deletes an attachment. Supports all attachment types.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/attachments/{attachmentId}"
      },
      "input": {
        "shape": "DeleteAttachmentRequest"
      },
      "name": "DeleteAttachment",
      "output": {
        "shape": "DeleteAttachmentResponse"
      }
    },
    "DeleteConnectPeer": {
      "documentation": "<p>Deletes a Connect peer.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/connect-peers/{connectPeerId}"
      },
      "input": {
        "shape": "DeleteConnectPeerRequest"
      },
      "name": "DeleteConnectPeer",
      "output": {
        "shape": "DeleteConnectPeerResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Deletes the specified connection in your global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/connections/{connectionId}"
      },
      "input": {
        "shape": "DeleteConnectionRequest"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "DeleteConnectionResponse"
      }
    },
    "DeleteCoreNetwork": {
      "documentation": "<p>Deletes a core network along with all core network policies. This can only be done if there are no attachments on a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/core-networks/{coreNetworkId}"
      },
      "input": {
        "shape": "DeleteCoreNetworkRequest"
      },
      "name": "DeleteCoreNetwork",
      "output": {
        "shape": "DeleteCoreNetworkResponse"
      }
    },
    "DeleteCoreNetworkPolicyVersion": {
      "documentation": "<p>Deletes a policy version from a core network. You can't delete the current LIVE policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-policy-versions/{policyVersionId}"
      },
      "input": {
        "shape": "DeleteCoreNetworkPolicyVersionRequest"
      },
      "name": "DeleteCoreNetworkPolicyVersion",
      "output": {
        "shape": "DeleteCoreNetworkPolicyVersionResponse"
      }
    },
    "DeleteDevice": {
      "documentation": "<p>Deletes an existing device. You must first disassociate the device from any links and customer gateways.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input": {
        "shape": "DeleteDeviceRequest"
      },
      "name": "DeleteDevice",
      "output": {
        "shape": "DeleteDeviceResponse"
      }
    },
    "DeleteGlobalNetwork": {
      "documentation": "<p>Deletes an existing global network. You must first delete all global network objects (devices, links, and sites), deregister all transit gateways, and delete any core networks.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}"
      },
      "input": {
        "shape": "DeleteGlobalNetworkRequest"
      },
      "name": "DeleteGlobalNetwork",
      "output": {
        "shape": "DeleteGlobalNetworkResponse"
      }
    },
    "DeleteLink": {
      "documentation": "<p>Deletes an existing link. You must first disassociate the link from any devices and customer gateways.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input": {
        "shape": "DeleteLinkRequest"
      },
      "name": "DeleteLink",
      "output": {
        "shape": "DeleteLinkResponse"
      }
    },
    "DeletePeering": {
      "documentation": "<p>Deletes an existing peering connection.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/peerings/{peeringId}"
      },
      "input": {
        "shape": "DeletePeeringRequest"
      },
      "name": "DeletePeering",
      "output": {
        "shape": "DeletePeeringResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a resource policy for the specified resource. This revokes the access of the principals specified in the resource policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/resource-policy/{resourceArn}"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteSite": {
      "documentation": "<p>Deletes an existing site. The site cannot be associated with any device or link.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input": {
        "shape": "DeleteSiteRequest"
      },
      "name": "DeleteSite",
      "output": {
        "shape": "DeleteSiteResponse"
      }
    },
    "DeregisterTransitGateway": {
      "documentation": "<p>Deregisters a transit gateway from your global network. This action does not delete your transit gateway, or modify any of its attachments. This action removes any customer gateway associations.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations/{transitGatewayArn}"
      },
      "input": {
        "shape": "DeregisterTransitGatewayRequest"
      },
      "name": "DeregisterTransitGateway",
      "output": {
        "shape": "DeregisterTransitGatewayResponse"
      }
    },
    "DescribeGlobalNetworks": {
      "documentation": "<p>Describes one or more global networks. By default, all global networks are described. To describe the objects in your global network, you must use the appropriate <code>Get*</code> action. For example, to list the transit gateways in your global network, use <a>GetTransitGatewayRegistrations</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks"
      },
      "input": {
        "shape": "DescribeGlobalNetworksRequest"
      },
      "name": "DescribeGlobalNetworks",
      "output": {
        "shape": "DescribeGlobalNetworksResponse"
      }
    },
    "DisassociateConnectPeer": {
      "documentation": "<p>Disassociates a core network Connect peer from a device and a link. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations/{connectPeerId}"
      },
      "input": {
        "shape": "DisassociateConnectPeerRequest"
      },
      "name": "DisassociateConnectPeer",
      "output": {
        "shape": "DisassociateConnectPeerResponse"
      }
    },
    "DisassociateCustomerGateway": {
      "documentation": "<p>Disassociates a customer gateway from a device and a link.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations/{customerGatewayArn}"
      },
      "input": {
        "shape": "DisassociateCustomerGatewayRequest"
      },
      "name": "DisassociateCustomerGateway",
      "output": {
        "shape": "DisassociateCustomerGatewayResponse"
      }
    },
    "DisassociateLink": {
      "documentation": "<p>Disassociates an existing device from a link. You must first disassociate any customer gateways that are associated with the link.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "shape": "DisassociateLinkRequest"
      },
      "name": "DisassociateLink",
      "output": {
        "shape": "DisassociateLinkResponse"
      }
    },
    "DisassociateTransitGatewayConnectPeer": {
      "documentation": "<p>Disassociates a transit gateway Connect peer from a device and link.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations/{transitGatewayConnectPeerArn}"
      },
      "input": {
        "shape": "DisassociateTransitGatewayConnectPeerRequest"
      },
      "name": "DisassociateTransitGatewayConnectPeer",
      "output": {
        "shape": "DisassociateTransitGatewayConnectPeerResponse"
      }
    },
    "ExecuteCoreNetworkChangeSet": {
      "documentation": "<p>Executes a change set on your core network. Deploys changes globally based on the policy submitted..</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}/execute"
      },
      "input": {
        "shape": "ExecuteCoreNetworkChangeSetRequest"
      },
      "name": "ExecuteCoreNetworkChangeSet",
      "output": {
        "shape": "ExecuteCoreNetworkChangeSetResponse"
      }
    },
    "GetConnectAttachment": {
      "documentation": "<p>Returns information about a core network Connect attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/connect-attachments/{attachmentId}"
      },
      "input": {
        "shape": "GetConnectAttachmentRequest"
      },
      "name": "GetConnectAttachment",
      "output": {
        "shape": "GetConnectAttachmentResponse"
      }
    },
    "GetConnectPeer": {
      "documentation": "<p>Returns information about a core network Connect peer.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/connect-peers/{connectPeerId}"
      },
      "input": {
        "shape": "GetConnectPeerRequest"
      },
      "name": "GetConnectPeer",
      "output": {
        "shape": "GetConnectPeerResponse"
      }
    },
    "GetConnectPeerAssociations": {
      "documentation": "<p>Returns information about a core network Connect peer associations.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/connect-peer-associations"
      },
      "input": {
        "shape": "GetConnectPeerAssociationsRequest"
      },
      "name": "GetConnectPeerAssociations",
      "output": {
        "shape": "GetConnectPeerAssociationsResponse"
      }
    },
    "GetConnections": {
      "documentation": "<p>Gets information about one or more of your connections in a global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/connections"
      },
      "input": {
        "shape": "GetConnectionsRequest"
      },
      "name": "GetConnections",
      "output": {
        "shape": "GetConnectionsResponse"
      }
    },
    "GetCoreNetwork": {
      "documentation": "<p>Returns information about the LIVE policy for a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks/{coreNetworkId}"
      },
      "input": {
        "shape": "GetCoreNetworkRequest"
      },
      "name": "GetCoreNetwork",
      "output": {
        "shape": "GetCoreNetworkResponse"
      }
    },
    "GetCoreNetworkChangeEvents": {
      "documentation": "<p>Returns information about a core network change event.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-change-events/{policyVersionId}"
      },
      "input": {
        "shape": "GetCoreNetworkChangeEventsRequest"
      },
      "name": "GetCoreNetworkChangeEvents",
      "output": {
        "shape": "GetCoreNetworkChangeEventsResponse"
      }
    },
    "GetCoreNetworkChangeSet": {
      "documentation": "<p>Returns a change set between the LIVE core network policy and a submitted policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}"
      },
      "input": {
        "shape": "GetCoreNetworkChangeSetRequest"
      },
      "name": "GetCoreNetworkChangeSet",
      "output": {
        "shape": "GetCoreNetworkChangeSetResponse"
      }
    },
    "GetCoreNetworkPolicy": {
      "documentation": "<p>Returns details about a core network policy. You can get details about your current live policy or any previous policy version.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-policy"
      },
      "input": {
        "shape": "GetCoreNetworkPolicyRequest"
      },
      "name": "GetCoreNetworkPolicy",
      "output": {
        "shape": "GetCoreNetworkPolicyResponse"
      }
    },
    "GetCustomerGatewayAssociations": {
      "documentation": "<p>Gets the association information for customer gateways that are associated with devices and links in your global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input": {
        "shape": "GetCustomerGatewayAssociationsRequest"
      },
      "name": "GetCustomerGatewayAssociations",
      "output": {
        "shape": "GetCustomerGatewayAssociationsResponse"
      }
    },
    "GetDevices": {
      "documentation": "<p>Gets information about one or more of your devices in a global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/devices"
      },
      "input": {
        "shape": "GetDevicesRequest"
      },
      "name": "GetDevices",
      "output": {
        "shape": "GetDevicesResponse"
      }
    },
    "GetLinkAssociations": {
      "documentation": "<p>Gets the link associations for a device or a link. Either the device ID or the link ID must be specified.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/link-associations"
      },
      "input": {
        "shape": "GetLinkAssociationsRequest"
      },
      "name": "GetLinkAssociations",
      "output": {
        "shape": "GetLinkAssociationsResponse"
      }
    },
    "GetLinks": {
      "documentation": "<p>Gets information about one or more links in a specified global network.</p> <p>If you specify the site ID, you cannot specify the type or provider in the same request. You can specify the type and provider in the same request.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/links"
      },
      "input": {
        "shape": "GetLinksRequest"
      },
      "name": "GetLinks",
      "output": {
        "shape": "GetLinksResponse"
      }
    },
    "GetNetworkResourceCounts": {
      "documentation": "<p>Gets the count of network resources, by resource type, for the specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/network-resource-count"
      },
      "input": {
        "shape": "GetNetworkResourceCountsRequest"
      },
      "name": "GetNetworkResourceCounts",
      "output": {
        "shape": "GetNetworkResourceCountsResponse"
      }
    },
    "GetNetworkResourceRelationships": {
      "documentation": "<p>Gets the network resource relationships for the specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/network-resource-relationships"
      },
      "input": {
        "shape": "GetNetworkResourceRelationshipsRequest"
      },
      "name": "GetNetworkResourceRelationships",
      "output": {
        "shape": "GetNetworkResourceRelationshipsResponse"
      }
    },
    "GetNetworkResources": {
      "documentation": "<p>Describes the network resources for the specified global network.</p> <p>The results include information from the corresponding Describe call for the resource, minus any sensitive information such as pre-shared keys.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/network-resources"
      },
      "input": {
        "shape": "GetNetworkResourcesRequest"
      },
      "name": "GetNetworkResources",
      "output": {
        "shape": "GetNetworkResourcesResponse"
      }
    },
    "GetNetworkRoutes": {
      "documentation": "<p>Gets the network routes of the specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/network-routes"
      },
      "input": {
        "shape": "GetNetworkRoutesRequest"
      },
      "name": "GetNetworkRoutes",
      "output": {
        "shape": "GetNetworkRoutesResponse"
      }
    },
    "GetNetworkTelemetry": {
      "documentation": "<p>Gets the network telemetry of the specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/network-telemetry"
      },
      "input": {
        "shape": "GetNetworkTelemetryRequest"
      },
      "name": "GetNetworkTelemetry",
      "output": {
        "shape": "GetNetworkTelemetryResponse"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p>Returns information about a resource policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resource-policy/{resourceArn}"
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyResponse"
      }
    },
    "GetRouteAnalysis": {
      "documentation": "<p>Gets information about the specified route analysis.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/route-analyses/{routeAnalysisId}"
      },
      "input": {
        "shape": "GetRouteAnalysisRequest"
      },
      "name": "GetRouteAnalysis",
      "output": {
        "shape": "GetRouteAnalysisResponse"
      }
    },
    "GetSiteToSiteVpnAttachment": {
      "documentation": "<p>Returns information about a site-to-site VPN attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/site-to-site-vpn-attachments/{attachmentId}"
      },
      "input": {
        "shape": "GetSiteToSiteVpnAttachmentRequest"
      },
      "name": "GetSiteToSiteVpnAttachment",
      "output": {
        "shape": "GetSiteToSiteVpnAttachmentResponse"
      }
    },
    "GetSites": {
      "documentation": "<p>Gets information about one or more of your sites in a global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/sites"
      },
      "input": {
        "shape": "GetSitesRequest"
      },
      "name": "GetSites",
      "output": {
        "shape": "GetSitesResponse"
      }
    },
    "GetTransitGatewayConnectPeerAssociations": {
      "documentation": "<p>Gets information about one or more of your transit gateway Connect peer associations in a global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations"
      },
      "input": {
        "shape": "GetTransitGatewayConnectPeerAssociationsRequest"
      },
      "name": "GetTransitGatewayConnectPeerAssociations",
      "output": {
        "shape": "GetTransitGatewayConnectPeerAssociationsResponse"
      }
    },
    "GetTransitGatewayPeering": {
      "documentation": "<p>Returns information about a transit gateway peer.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/transit-gateway-peerings/{peeringId}"
      },
      "input": {
        "shape": "GetTransitGatewayPeeringRequest"
      },
      "name": "GetTransitGatewayPeering",
      "output": {
        "shape": "GetTransitGatewayPeeringResponse"
      }
    },
    "GetTransitGatewayRegistrations": {
      "documentation": "<p>Gets information about the transit gateway registrations in a specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input": {
        "shape": "GetTransitGatewayRegistrationsRequest"
      },
      "name": "GetTransitGatewayRegistrations",
      "output": {
        "shape": "GetTransitGatewayRegistrationsResponse"
      }
    },
    "GetTransitGatewayRouteTableAttachment": {
      "documentation": "<p>Returns information about a transit gateway route table attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/transit-gateway-route-table-attachments/{attachmentId}"
      },
      "input": {
        "shape": "GetTransitGatewayRouteTableAttachmentRequest"
      },
      "name": "GetTransitGatewayRouteTableAttachment",
      "output": {
        "shape": "GetTransitGatewayRouteTableAttachmentResponse"
      }
    },
    "GetVpcAttachment": {
      "documentation": "<p>Returns information about a VPC attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/vpc-attachments/{attachmentId}"
      },
      "input": {
        "shape": "GetVpcAttachmentRequest"
      },
      "name": "GetVpcAttachment",
      "output": {
        "shape": "GetVpcAttachmentResponse"
      }
    },
    "ListAttachments": {
      "documentation": "<p>Returns a list of core network attachments.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/attachments"
      },
      "input": {
        "shape": "ListAttachmentsRequest"
      },
      "name": "ListAttachments",
      "output": {
        "shape": "ListAttachmentsResponse"
      }
    },
    "ListConnectPeers": {
      "documentation": "<p>Returns a list of core network Connect peers.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/connect-peers"
      },
      "input": {
        "shape": "ListConnectPeersRequest"
      },
      "name": "ListConnectPeers",
      "output": {
        "shape": "ListConnectPeersResponse"
      }
    },
    "ListCoreNetworkPolicyVersions": {
      "documentation": "<p>Returns a list of core network policy versions.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-policy-versions"
      },
      "input": {
        "shape": "ListCoreNetworkPolicyVersionsRequest"
      },
      "name": "ListCoreNetworkPolicyVersions",
      "output": {
        "shape": "ListCoreNetworkPolicyVersionsResponse"
      }
    },
    "ListCoreNetworks": {
      "documentation": "<p>Returns a list of owned and shared core networks.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/core-networks"
      },
      "input": {
        "shape": "ListCoreNetworksRequest"
      },
      "name": "ListCoreNetworks",
      "output": {
        "shape": "ListCoreNetworksResponse"
      }
    },
    "ListOrganizationServiceAccessStatus": {
      "documentation": "<p>Gets the status of the Service Linked Role (SLR) deployment for the accounts in a given Amazon Web Services Organization.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/organizations/service-access"
      },
      "input": {
        "shape": "ListOrganizationServiceAccessStatusRequest"
      },
      "name": "ListOrganizationServiceAccessStatus",
      "output": {
        "shape": "ListOrganizationServiceAccessStatusResponse"
      }
    },
    "ListPeerings": {
      "documentation": "<p>Lists the peerings for a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/peerings"
      },
      "input": {
        "shape": "ListPeeringsRequest"
      },
      "name": "ListPeerings",
      "output": {
        "shape": "ListPeeringsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for a specified resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutCoreNetworkPolicy": {
      "documentation": "<p>Creates a new, immutable version of a core network policy. A subsequent change set is created showing the differences between the LIVE policy and the submitted policy.</p>",
      "errors": [
        {
          "shape": "CoreNetworkPolicyException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-policy"
      },
      "input": {
        "shape": "PutCoreNetworkPolicyRequest"
      },
      "name": "PutCoreNetworkPolicy",
      "output": {
        "shape": "PutCoreNetworkPolicyResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Creates or updates a resource policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resource-policy/{resourceArn}"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "RegisterTransitGateway": {
      "documentation": "<p>Registers a transit gateway in your global network. The transit gateway can be in any Amazon Web Services Region, but it must be owned by the same Amazon Web Services account that owns the global network. You cannot register a transit gateway in more than one global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input": {
        "shape": "RegisterTransitGatewayRequest"
      },
      "name": "RegisterTransitGateway",
      "output": {
        "shape": "RegisterTransitGatewayResponse"
      }
    },
    "RejectAttachment": {
      "documentation": "<p>Rejects a core network attachment request.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/attachments/{attachmentId}/reject"
      },
      "input": {
        "shape": "RejectAttachmentRequest"
      },
      "name": "RejectAttachment",
      "output": {
        "shape": "RejectAttachmentResponse"
      }
    },
    "RestoreCoreNetworkPolicyVersion": {
      "documentation": "<p>Restores a previous policy version as a new, immutable version of a core network policy. A subsequent change set is created showing the differences between the LIVE policy and restored policy.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/core-networks/{coreNetworkId}/core-network-policy-versions/{policyVersionId}/restore"
      },
      "input": {
        "shape": "RestoreCoreNetworkPolicyVersionRequest"
      },
      "name": "RestoreCoreNetworkPolicyVersion",
      "output": {
        "shape": "RestoreCoreNetworkPolicyVersionResponse"
      }
    },
    "StartOrganizationServiceAccessUpdate": {
      "documentation": "<p>Enables for the Network Manager service for an Amazon Web Services Organization. This can only be called by a management account within the organization. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organizations/service-access"
      },
      "input": {
        "shape": "StartOrganizationServiceAccessUpdateRequest"
      },
      "name": "StartOrganizationServiceAccessUpdate",
      "output": {
        "shape": "StartOrganizationServiceAccessUpdateResponse"
      }
    },
    "StartRouteAnalysis": {
      "documentation": "<p>Starts analyzing the routing path between the specified source and destination. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/route-analyzer.html\">Route Analyzer</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/global-networks/{globalNetworkId}/route-analyses"
      },
      "input": {
        "shape": "StartRouteAnalysisRequest"
      },
      "name": "StartRouteAnalysis",
      "output": {
        "shape": "StartRouteAnalysisResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Tags a specified resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateConnection": {
      "documentation": "<p>Updates the information for an existing connection. To remove information for any of the parameters, specify an empty string.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/connections/{connectionId}"
      },
      "input": {
        "shape": "UpdateConnectionRequest"
      },
      "name": "UpdateConnection",
      "output": {
        "shape": "UpdateConnectionResponse"
      }
    },
    "UpdateCoreNetwork": {
      "documentation": "<p>Updates the description of a core network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/core-networks/{coreNetworkId}"
      },
      "input": {
        "shape": "UpdateCoreNetworkRequest"
      },
      "name": "UpdateCoreNetwork",
      "output": {
        "shape": "UpdateCoreNetworkResponse"
      }
    },
    "UpdateDevice": {
      "documentation": "<p>Updates the details for an existing device. To remove information for any of the parameters, specify an empty string.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input": {
        "shape": "UpdateDeviceRequest"
      },
      "name": "UpdateDevice",
      "output": {
        "shape": "UpdateDeviceResponse"
      }
    },
    "UpdateGlobalNetwork": {
      "documentation": "<p>Updates an existing global network. To remove information for any of the parameters, specify an empty string.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}"
      },
      "input": {
        "shape": "UpdateGlobalNetworkRequest"
      },
      "name": "UpdateGlobalNetwork",
      "output": {
        "shape": "UpdateGlobalNetworkResponse"
      }
    },
    "UpdateLink": {
      "documentation": "<p>Updates the details for an existing link. To remove information for any of the parameters, specify an empty string.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input": {
        "shape": "UpdateLinkRequest"
      },
      "name": "UpdateLink",
      "output": {
        "shape": "UpdateLinkResponse"
      }
    },
    "UpdateNetworkResourceMetadata": {
      "documentation": "<p>Updates the resource metadata for the specified global network.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/network-resources/{resourceArn}/metadata"
      },
      "input": {
        "shape": "UpdateNetworkResourceMetadataRequest"
      },
      "name": "UpdateNetworkResourceMetadata",
      "output": {
        "shape": "UpdateNetworkResourceMetadataResponse"
      }
    },
    "UpdateSite": {
      "documentation": "<p>Updates the information for an existing site. To remove information for any of the parameters, specify an empty string.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input": {
        "shape": "UpdateSiteRequest"
      },
      "name": "UpdateSite",
      "output": {
        "shape": "UpdateSiteResponse"
      }
    },
    "UpdateVpcAttachment": {
      "documentation": "<p>Updates a VPC attachment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/vpc-attachments/{attachmentId}"
      },
      "input": {
        "shape": "UpdateVpcAttachmentRequest"
      },
      "name": "UpdateVpcAttachment",
      "output": {
        "shape": "UpdateVpcAttachmentResponse"
      }
    }
  },
  "shapes": {
    "AWSAccountId": {
      "max": 12,
      "min": 12,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "AWSLocation": {
      "documentation": "<p>Specifies a location in Amazon Web Services.</p>",
      "members": {
        "SubnetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the subnet that the device is located in.</p>",
          "shape": "SubnetArn"
        },
        "Zone": {
          "documentation": "<p>The Zone that the device is located in. Specify the ID of an Availability Zone, Local Zone, Wavelength Zone, or an Outpost.</p>",
          "shape": "ConstrainedString"
        }
      },
      "type": "structure"
    },
    "AcceptAttachmentRequest": {
      "members": {
        "AttachmentId": {
          "documentation": "<p>The ID of the attachment. </p>",
          "location": "uri",
          "locationName": "attachmentId",
          "shape": "AttachmentId"
        }
      },
      "required": [
        "AttachmentId"
      ],
      "type": "structure"
    },
    "AcceptAttachmentResponse": {
      "members": {
        "Attachment": {
          "documentation": "<p>The response to the attachment request. </p>",
          "shape": "Attachment"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ServerSideString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AccountId": {
      "max": 50,
      "min": 0,
      "type": "string"
    },
    "AccountStatus": {
      "documentation": "<p>Describes the current status of an account within an Amazon Web Services Organization, including service-linked roles (SLRs).</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of an account within the Amazon Web Services Organization.</p>",
          "shape": "AccountId"
        },
        "SLRDeploymentStatus": {
          "documentation": "<p>The status of SLR deployment for the account.</p>",
          "shape": "SLRDeploymentStatus"
        }
      },
      "type": "structure"
    },
    "AccountStatusList": {
      "member": {
        "shape": "AccountStatus"
      },
      "type": "list"
    },
    "Action": {
      "max": 50,
      "min": 0,
      "type": "string"
    },
    "AssociateConnectPeerRequest": {
      "members": {
        "ConnectPeerId": {
          "documentation": "<p>The ID of the Connect peer.</p>",
          "shape": "ConnectPeerId"
        },
        "DeviceId": {
          "documentation": "<p>The ID of the device.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of your global network.</p>",
          "location": "uri",
          "locationName": "globalNetworkId",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link.</p>",
          "shape": "LinkId"
        }
      },
      "required": [
        "GlobalNetworkId",
        "ConnectPeerId",
        "DeviceId"
      ],
      "type": "structure"
    },
    "AssociateConnectPeerResponse": {
      "members": {
        "ConnectPeerAssociation": {
          "documentation": "<p>The response to the Connect peer request.</p>",
          "shape": "ConnectPeerAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateCustomerGatewayRequest": {
      "members": {
        "CustomerGatewayArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>",
          "shape": "CustomerGatewayArn"
        },
        "DeviceId": {
          "documentation": "<p>The ID of the device.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network.</p>",
          "location": "uri",
          "locationName": "globalNetworkId",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link.</p>",
          "shape": "LinkId"
        }
      },
      "required": [
        "CustomerGatewayArn",
        "GlobalNetworkId",
        "DeviceId"
      ],
      "type": "structure"
    },
    "AssociateCustomerGatewayResponse": {
      "members": {
        "CustomerGatewayAssociation": {
          "documentation": "<p>The customer gateway association.</p>",
          "shape": "CustomerGatewayAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateLinkRequest": {
      "members": {
        "DeviceId": {
          "documentation": "<p>The ID of the device.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network.</p>",
          "location": "uri",
          "locationName": "globalNetworkId",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link.</p>",
          "shape": "LinkId"
        }
      },
      "required": [
        "GlobalNetworkId",
        "DeviceId",
        "LinkId"
      ],
      "type": "structure"
    },
    "AssociateLinkResponse": {
      "members": {
        "LinkAssociation": {
          "documentation": "<p>The link association.</p>",
          "shape": "LinkAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateTransitGatewayConnectPeerRequest": {
      "members": {
        "DeviceId": {
          "documentation": "<p>The ID of the device.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network.</p>",
          "location": "uri",
          "locationName": "globalNetworkId",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link.</p>",
          "shape": "LinkId"
        },
        "TransitGatewayConnectPeerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Connect peer.</p>",
          "shape": "TransitGatewayConnectPeerArn"
        }
      },
      "required": [
        "GlobalNetworkId",
        "TransitGatewayConnectPeerArn",
        "DeviceId"
      ],
      "type": "structure"
    },
    "AssociateTransitGatewayConnectPeerResponse": {
      "members": {
        "TransitGatewayConnectPeerAssociation": {
          "documentation": "<p>The transit gateway Connect peer association.</p>",
          "shape": "TransitGatewayConnectPeerAssociation"
        }
      },
      "type": "structure"
    },
    "Attachment": {
      "documentation": "<p>Describes a core network attachment.</p>",
      "members": {
        "AttachmentId": {
          "documentation": "<p>The ID of the attachment.</p>",
          "shape": "AttachmentId"
        },
        "AttachmentPolicyRuleNumber": {
          "documentation": "<p>The policy rule number associated with the attachment.</p>",
          "shape": "Integer"
        },
        "AttachmentType": {
          "documentation": "<p>The type of attachment.</p>",
          "shape": "AttachmentType"
        },
        "CoreNetworkArn": {
          "documentation": "<p>The ARN of a core network.</p>",
          "shape": "CoreNetworkArn"
        },
        "CoreNetworkId": {
          "documentation": "<p>The ID of a core network.</p>",
          "shape": "CoreNetworkId"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp when the attachment was created.</p>",
          "shape": "DateTime"
        },
        "EdgeLocation": {
          "documentation": "<p>The Region where the edge is located.</p>",
          "shape": "ExternalRegionCode"
        },
        "OwnerAccountId": {
          "documentation": "<p>The ID of the attachment account owner.</p>",
          "shape": "AWSAccountId"
        },
        "ProposedSegmentChange": {
          "documentation": "<p>The attachment to move from one segment to another.</p>",
          "shape": "ProposedSegmentChange"
        },
        "ResourceArn": {
          "documentation": "<p>The attachment resource ARN.</p>",
          "shape": "ResourceArn"
        },
        "SegmentName": {
          "documentation": "<p>The name of the segment attachment.</p>",
          "shape": "ConstrainedString"
        },
        "State": {
          "documentation": "<p>The state of the attachment.</p>",
          "shape": "AttachmentState"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the attachment.</p>",
          "shape": "TagList"
        },
        "UpdatedAt": {
          "documentation": "<p>The timestamp when the attachment was last updated.</p>",
          "shape": "DateTime"
        }
      },
      "type": "structure"
    },
    "AttachmentId": {
      "max": 50,
      "min": 0,
      "pattern": "^attachment-([0-9a-f]{8,17})$",
      "type": "string"
    },
    "AttachmentList": {
      "member": {
        "shape": "Attachment"
      },
      "type": "list"
    },
    "AttachmentState": {
      "enum": [
        "REJECTED",
        "PENDING_ATTACHMENT_ACCEPTANCE",
        "CREATING",
        "FAILED",
        "AVAILABLE",
        "UPDATING",
        "PENDING_NETWORK_UPDATE",
        "PENDING_TAG_ACCEPTANCE",
        "DELETING"
      ],
      "type": "string"
    },
    "AttachmentType": {
      "enum": [
        "CONNECT",
        "SITE_TO_SITE_VPN",
        "VPC",
        "TRANSIT_GATEWAY_ROUTE_TABLE"
      ],
      "type": "string"
    },
    "Bandwidth": {
      "documentation": "<p>Describes bandwidth information.</p>",
      "members": {
        "DownloadSpeed": {
          "documentation": "<p>Download speed in Mbps.</p>",
          "shape": "Integer"
        },
        "UploadSpeed": {
          "documentation": "<p>Upload speed in Mbps.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BgpOptions": {
      "documentation": "<p>Describes the BGP options.</p>",
      "members": {
        "PeerAsn": {
          "documentation": "<p>The Peer ASN of the BGP.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChangeAction": {
      "enum": [
        "ADD",
        "MODIFY",
        "REMOVE"
      ],
      "type": "string"
    },
    "ChangeSetState": {
      "enum": [
        "PENDING_GENERATION",
        "FAILED_GENERATION",
        "READY_TO_EXECUTE",
        "EXECUTING",
        "EXECUTION_SUCCEEDED",
        "OUT_OF_DATE"
      ],
      "type": "string"
    },
    "ChangeStatus": {
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ],
      "type": "string"
    },
    "ChangeType": {
      "enum": [
        "CORE_NETWORK_SEGMENT",
        "CORE_NETWORK_EDGE",
        "ATTACHMENT_MAPPING",
        "ATTACHMENT_ROUTE_PROPAGATION",
        "ATTACHMENT_ROUTE_STATIC",
        "CORE_NETWORK_CONFIGURATION",
        "SEGMENTS_CONFIGURATION",
        "SEGMENT_ACTIONS_CONFIGURATION",
        "ATTACHMENT_POLICIES_CONFIGURATION"
      ],
      "type": "string"
    },
    "ClientToken": {
      "max": 256,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ServerSideString"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "ServerSideString"
        },
        "ResourceType": {
          "documentation": "<p>The resource type.</p>",
          "shape": "ServerSideString"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "ConnectAttachment": {
      "documentation": "<p>Describes a core network Connect attachment.</p>",
      "members": {
        "Attachment": {
          "documentation": "<p>The attachment details.</p>",
          "shape": "Attachment"
        },
        "Options": {
          "documentation": "<p>Options for connecting an attachment.</p>",
          "shape": "ConnectAttachmentOptions"
        },
        "TransportAttachmentId": {
          "documentation": "<p>The ID of the transport attachment.</p>",
          "shape": "AttachmentId"
        }
      },
      "type": "structure"
    },
    "ConnectAttachmentOptions": {
      "documentation": "<p>Describes a core network Connect attachment options.</p>",
      "members": {
        "Protocol": {
          "documentation": "<p>The protocol used for the attachment connection.</p>",
          "shape": "TunnelProtocol"
        }
      },
      "type": "structure"
    },
    "ConnectPeer": {
      "documentation": "<p>Describes a core network Connect peer.</p>",
      "members": {
        "Configuration": {
          "documentation": "<p>The configuration of the Connect peer.</p>",
          "shape": "ConnectPeerConfiguration"
        },
        "ConnectAttachmentId": {
          "documentation": "<p>The ID of the attachment to connect.</p>",
          "shape": "AttachmentId"
        },
        "ConnectPeerId": {
          "documentation": "<p>The ID of the Connect peer.</p>",
          "shape": "ConnectPeerId"
        },
        "CoreNetworkId": {
          "documentation": "<p>The ID of a core network.</p>",
          "shape": "CoreNetworkId"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp when the Connect peer was created.</p>",
          "shape": "DateTime"
        },
        "EdgeLocation": {
          "documentation": "<p>The Connect peer Regions where edges are located.</p>",
          "shape": "ExternalRegionCode"
        },
        "State": {
          "documentation": "<p>The state of the Connect peer.</p>",
          "shape": "ConnectPeerState"
        },
        "Tags": {
          "documentation": "<p>The list of key-value tags associated with the Connect peer.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ConnectPeerAssociation": {
      "documentation": "<p>Describes a core network Connect peer association.</p>",
      "members": {
        "ConnectPeerId": {
          "documentation": "<p>The ID of the Connect peer.</p>",
          "shape": "ConnectPeerId"
        },
        "DeviceId": {
          "documentation": "<p>The ID of the device to connect to.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network.</p>",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link.</p>",
          "shape": "LinkId"
        },
        "State": {
          "documentation": "<p>The state of the Connect peer association.</p>",
          "shape": "ConnectPeerAssociationState"
        }
      },
      "type": "structure"
    },
    "ConnectPeerAssociationList": {
      "member": {
        "shape": "ConnectPeerAssociation"
      },
      "type": "list"
    },
    "ConnectPeerAssociationState": {
      "enum": [
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "ConnectPeerBgpConfiguration": {
      "documentation": "<p>Describes a core network BGP configuration.</p>",
      "members": {
        "CoreNetworkAddress": {
          "documentation": "<p>The address of a core network.</p>",
          "shape": "IPAddress"
        },
        "CoreNetworkAsn": {
          "documentation": "<p>The ASN of the Coret Network.</p>",
          "shape": "Long"
        },
        "PeerAddress": {
          "documentation": "<p>The address of a core network Connect peer.</p>",
          "shape": "IPAddress"
        },
        "PeerAsn": {
          "documentation": "<p>The ASN of the Connect peer.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "ConnectPeerBgpConfigurationList": {
      "member": {
        "shape": "ConnectPeerBgpConfiguration"
      },
      "type": "list"
    },
    "ConnectPeerConfiguration": {
      "documentation": "<p>Describes a core network Connect peer configuration.</p>",
      "members": {
        "BgpConfigurations": {
          "documentation": "<p>The Connect peer BGP configurations.</p>",
          "shape": "ConnectPeerBgpConfigurationList"
        },
        "CoreNetworkAddress": {
          "documentation": "<p>The IP address of a core network.</p>",
          "shape": "IPAddress"
        },
        "InsideCidrBlocks": {
          "documentation": "<p>The inside IP addresses used for a Connect peer configuration.</p>",
          "shape": "ConstrainedStringList"
        },
        "PeerAddress": {
          "documentation": "<p>The IP address of the Connect peer.</p>",
          "shape": "IPAddress"
        },
        "Protocol": {
          "documentation": "<p>The protocol used for a Connect peer configuration.</p>",
          "shape": "TunnelProtocol"
        }
      },
      "type": "structure"
    },
    "ConnectPeerId": {
      "max": 50,
      "min": 0,
      "pattern": "^connect-peer-([0-9a-f]{8,17})$",
      "type": "string"
    },
    "ConnectPeerIdList": {
      "member": {
        "shape": "ConnectPeerId"
      },
      "type": "list"
    },
    "ConnectPeerState": {
      "enum": [
        "CREATING",
        "FAILED",
        "AVAILABLE",
        "DELETING"
      ],
      "type": "string"
    },
    "ConnectPeerSummary": {
      "documentation": "<p>Summary description of a Connect peer.</p>",
      "members": {
        "ConnectAttachmentId": {
          "documentation": "<p>The ID of a Connect peer attachment.</p>",
          "shape": "AttachmentId"
        },
        "ConnectPeerId": {
          "documentation": "<p>The ID of a Connect peer.</p>",
          "shape": "ConnectPeerId"
        },
        "ConnectPeerState": {
          "documentation": "<p>The state of a Connect peer.</p>",
          "shape": "ConnectPeerState"
        },
        "CoreNetworkId": {
          "documentation": "<p>The ID of a core network.</p>",
          "shape": "CoreNetworkId"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp when a Connect peer was created.</p>",
          "shape": "DateTime"
        },
        "EdgeLocation": {
          "documentation": "<p>The Region where the edge is located.</p>",
          "shape": "ExternalRegionCode"
        },
        "Tags": {
          "documentation": "<p>The list of key-value tags associated with the Connect peer summary.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ConnectPeerSummaryList": {
      "member": {
        "shape": "ConnectPeerSummary"
      },
      "type": "list"
    },
    "Connection": {
      "documentation": "<p>Describes a connection.</p>",
      "members": {
        "ConnectedDeviceId": {
          "documentation": "<p>The ID of the second device in the connection.</p>",
          "shape": "DeviceId"
        },
        "ConnectedLinkId": {
          "documentation": "<p>The ID of the link for the second device in the connection.</p>",
          "shape": "LinkId"
        },
        "ConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the connection.</p>",
          "shape": "ConnectionArn"
        },
        "ConnectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the connection was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of the connection.</p>",
          "shape": "ConstrainedString"
        },
        "DeviceId": {
          "documentation": "<p>The ID of the first device in the connection.</p>",
          "shape": "DeviceId"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network.</p>",
          "shape": "GlobalNetworkId"
        },
        "LinkId": {
          "documentation": "<p>The ID of the link for the first device in the connection.</p>",
          "shape": "LinkId"
        },
        "State": {
          "documentation": "<p>The state of the connection.</p>",
          "shape": "ConnectionState"
        },
        "Tags": {
          "documentation": "<p>The tags for the connection.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ConnectionArn": {
      "max": 500,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "ConnectionHealth": {
      "documentation": "<p>Describes connection health.</p>",
      "members": {
        "Status": {
          "documentation": "<p>The connection status.</p>",
          "shape": "ConnectionStatus"
        },
        "Timestamp": {
          "documentation": "<p>The time the status was last updated.</p>",
          "shape": "DateTime"
        },
        "Type": {
          "documentation": "<p>The connection type.</p>",
          "shape": "ConnectionType"
        }
      },
      "type": "structure"
    },
    "ConnectionId": {
      "max": 50,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "ConnectionIdList": {
      "member": {
        "shape": "ConnectionId"
      },
      "type": "list"
    },
    "ConnectionList": {
      "member": {
        "shape": "Connection"
      },
      "type": "list"
    },
    "ConnectionState": {
      "enum": [
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "UPDATING"
      ],
      "type": "string"
    },
    "ConnectionStatus": {
      "enum": [
        "UP",
        "DOWN"
      ],
      "type": "string"
    },
    "ConnectionType": {
      "enum": [
        "BGP",
        "IPSEC"
      ],
      "type": "string"
    },
    "ConstrainedString": {
      "max": 256,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "ConstrainedStringList": {
      "member": {
        "shape": "ConstrainedString"
      },
      "type": "list"
    },
    "CoreNetwork": {
      "documentation": "<p>Describes a core network.</p>",
      "members": {
        "CoreNetworkArn": {
          "documentation": "<p>The ARN of a core network.</p>",
          "shape": "CoreNetworkArn"
        },
        "CoreNetworkId": {
          "documentation": "<p>The ID of a core network.</p>",
          "shape": "CoreNetworkId"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp when a core network was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of a core network.</p>",
          "shape": "ConstrainedString"
        },
        "Edges": {
          "documentation": "<p>The edges within a core network.</p>",
          "shape": "CoreNetworkEdgeList"
        },
        "GlobalNetworkId": {
          "documentation": "<p>The ID of the global network that your core network is a part of. </p>",
          "shape": "GlobalNetworkId"
        },
        "Segments": {
          "documentation": "<p>The segments within a core network.</p>",
          "shape": "CoreNetworkSegmentList"
        },
        "State": {
          "documentation": "<p>The current state of a core network.</p>",
          "shape": "CoreNetworkState"
        },
        "Tags": {
          "documentation": "<p>The list of key-value tags associated with a core network.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "CoreNetworkArn": {
      "max": 500,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "CoreNetworkChange": {
      "documentation": "<p>Details describing a core network change.</p>",
      "members": {
        "Action": {
          "documentation": "<p>The action to take for a core network.</p>",
          "shape": "ChangeAction"
        },
        "Identifier": {
          "documentation": "<p>The resource identifier.</p>",
          "shape": "ConstrainedString"
        },
        "IdentifierPath": {
          "documentation": "<p>Uniquely identifies the path for a change within the changeset. For example, the <code>IdentifierPath</code> for a core network segment change might be <code>\"CORE_NETWORK_SEGMENT/us-east-1/devsegment\"</code>.</p>",
          "shape": "ConstrainedString"
        },
[...]
