{
  "documentation": "<p>Identity and Access Management Access Analyzer helps identify potential resource-access risks by enabling you to identify any policies that grant access to an external principal. It does this by using logic-based reasoning to analyze resource-based policies in your Amazon Web Services environment. An external principal can be another Amazon Web Services account, a root user, an IAM user or role, a federated user, an Amazon Web Services service, or an anonymous user. You can also use IAM Access Analyzer to preview and validate public and cross-account access to your resources before deploying permissions changes. This guide describes the Identity and Access Management Access Analyzer operations that you can call programmatically. For general information about IAM Access Analyzer, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">Identity and Access Management Access Analyzer</a> in the <b>IAM User Guide</b>.</p> <p>To start using IAM Access Analyzer, you first need to create an analyzer.</p>",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "access-analyzer",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Access Analyzer",
    "serviceId": "AccessAnalyzer",
    "signatureVersion": "v4",
    "signingName": "access-analyzer",
    "uid": "accessanalyzer-2019-11-01"
  },
  "operations": {
    "ApplyArchiveRule": {
      "documentation": "<p>Retroactively applies the archive rule to existing findings that meet the archive rule criteria.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/archive-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ApplyArchiveRuleRequest"
      },
      "name": "ApplyArchiveRule"
    },
    "CancelPolicyGeneration": {
      "documentation": "<p>Cancels the requested policy generation.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/policy/generation/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelPolicyGenerationRequest"
      },
      "name": "CancelPolicyGeneration",
      "output": {
        "shape": "CancelPolicyGenerationResponse"
      }
    },
    "CreateAccessPreview": {
      "documentation": "<p>Creates an access preview that allows you to preview IAM Access Analyzer findings for your resource before deploying resource permissions.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAccessPreviewRequest"
      },
      "name": "CreateAccessPreview",
      "output": {
        "shape": "CreateAccessPreviewResponse"
      }
    },
    "CreateAnalyzer": {
      "documentation": "<p>Creates an analyzer for your account.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAnalyzerRequest"
      },
      "name": "CreateAnalyzer",
      "output": {
        "shape": "CreateAnalyzerResponse"
      }
    },
    "CreateArchiveRule": {
      "documentation": "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive new findings that meet the criteria you define when you create the rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateArchiveRuleRequest"
      },
      "name": "CreateArchiveRule"
    },
    "DeleteAnalyzer": {
      "documentation": "<p>Deletes the specified analyzer. When you delete an analyzer, IAM Access Analyzer is disabled for the account or organization in the current or specific Region. All findings that were generated by the analyzer are deleted. You cannot undo this action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnalyzerRequest"
      },
      "name": "DeleteAnalyzer"
    },
    "DeleteArchiveRule": {
      "documentation": "<p>Deletes the specified archive rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteArchiveRuleRequest"
      },
      "name": "DeleteArchiveRule"
    },
    "GetAccessPreview": {
      "documentation": "<p>Retrieves information about an access preview for the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAccessPreviewRequest"
      },
      "name": "GetAccessPreview",
      "output": {
        "shape": "GetAccessPreviewResponse"
      }
    },
    "GetAnalyzedResource": {
      "documentation": "<p>Retrieves information about a resource that was analyzed.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzedResourceRequest"
      },
      "name": "GetAnalyzedResource",
      "output": {
        "shape": "GetAnalyzedResourceResponse"
      }
    },
    "GetAnalyzer": {
      "documentation": "<p>Retrieves information about the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzerRequest"
      },
      "name": "GetAnalyzer",
      "output": {
        "shape": "GetAnalyzerResponse"
      }
    },
    "GetArchiveRule": {
      "documentation": "<p>Retrieves information about an archive rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetArchiveRuleRequest"
      },
      "name": "GetArchiveRule",
      "output": {
        "shape": "GetArchiveRuleResponse"
      }
    },
    "GetFinding": {
      "documentation": "<p>Retrieves information about the specified finding.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/finding/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingRequest"
      },
      "name": "GetFinding",
      "output": {
        "shape": "GetFindingResponse"
      }
    },
    "GetGeneratedPolicy": {
      "documentation": "<p>Retrieves the policy that was generated using <code>StartPolicyGeneration</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policy/generation/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGeneratedPolicyRequest"
      },
      "name": "GetGeneratedPolicy",
      "output": {
        "shape": "GetGeneratedPolicyResponse"
      }
    },
    "ListAccessPreviewFindings": {
      "documentation": "<p>Retrieves a list of access preview findings generated by the specified access preview.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/access-preview/{accessPreviewId}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccessPreviewFindingsRequest"
      },
      "name": "ListAccessPreviewFindings",
      "output": {
        "shape": "ListAccessPreviewFindingsResponse"
      }
    },
    "ListAccessPreviews": {
      "documentation": "<p>Retrieves a list of access previews for the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/access-preview",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccessPreviewsRequest"
      },
      "name": "ListAccessPreviews",
      "output": {
        "shape": "ListAccessPreviewsResponse"
      }
    },
    "ListAnalyzedResources": {
      "documentation": "<p>Retrieves a list of resources of the specified type that have been analyzed by the specified analyzer..</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzedResourcesRequest"
      },
      "name": "ListAnalyzedResources",
      "output": {
        "shape": "ListAnalyzedResourcesResponse"
      }
    },
    "ListAnalyzers": {
      "documentation": "<p>Retrieves a list of analyzers.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzersRequest"
      },
      "name": "ListAnalyzers",
      "output": {
        "shape": "ListAnalyzersResponse"
      }
    },
    "ListArchiveRules": {
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "ListArchiveRulesRequest"
      },
      "name": "ListArchiveRules",
      "output": {
        "shape": "ListArchiveRulesResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p> <p>To learn about filter keys that you can use to retrieve a list of findings, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "shape": "ListFindingsResponse"
      }
    },
    "ListPolicyGenerations": {
      "documentation": "<p>Lists all of the policy generations requested in the last seven days.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policy/generation",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPolicyGenerationsRequest"
      },
      "name": "ListPolicyGenerations",
      "output": {
        "shape": "ListPolicyGenerationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartPolicyGeneration": {
      "documentation": "<p>Starts the policy generation request.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/policy/generation",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartPolicyGenerationRequest"
      },
      "name": "StartPolicyGeneration",
      "output": {
        "shape": "StartPolicyGenerationResponse"
      }
    },
    "StartResourceScan": {
      "documentation": "<p>Immediately starts a scan of the policies applied to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resource/scan",
        "responseCode": 200
      },
      "input": {
        "shape": "StartResourceScanRequest"
      },
      "name": "StartResourceScan"
    },
    "TagResource": {
      "documentation": "<p>Adds a tag to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateArchiveRule": {
      "documentation": "<p>Updates the criteria and values for the specified archive rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateArchiveRuleRequest"
      },
      "name": "UpdateArchiveRule"
    },
    "UpdateFindings": {
      "documentation": "<p>Updates the status for the specified findings.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "name": "UpdateFindings"
    },
    "ValidatePolicy": {
      "documentation": "<p>Requests the validation of a policy and returns a list of findings. The findings help you identify issues and provide actionable recommendations to resolve the issue and enable you to author functional policies that meet security best practices. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policy/validation",
        "responseCode": 200
      },
      "input": {
        "shape": "ValidatePolicyRequest"
      },
      "name": "ValidatePolicy",
      "output": {
        "shape": "ValidatePolicyResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AccessPointArn": {
      "pattern": "arn:[^:]*:s3:[^:]*:[^:]*:accesspoint/.*",
      "type": "string"
    },
    "AccessPointPolicy": {
      "type": "string"
    },
    "AccessPreview": {
      "documentation": "<p>Contains information about an access preview.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
          "shape": "AnalyzerArn"
        },
        "configurations": {
          "documentation": "<p>A map of resource ARNs for the proposed resource configuration.</p>",
          "shape": "ConfigurationsMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the access preview was created.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The unique ID for the access preview.</p>",
          "shape": "AccessPreviewId"
        },
        "status": {
          "documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
          "shape": "AccessPreviewStatus"
        },
        "statusReason": {
          "documentation": "<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>",
          "shape": "AccessPreviewStatusReason"
        }
      },
      "required": [
        "id",
        "analyzerArn",
        "configurations",
        "createdAt",
        "status"
      ],
      "type": "structure"
    },
    "AccessPreviewFinding": {
      "documentation": "<p>An access preview finding generated by the access preview.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to perform.</p>",
          "shape": "ActionList"
        },
        "changeType": {
          "documentation": "<p>Provides context on how the access preview finding compares to existing access identified in IAM Access Analyzer.</p> <ul> <li> <p> <code>New</code> - The finding is for newly-introduced access.</p> </li> <li> <p> <code>Unchanged</code> - The preview finding is an existing finding that would remain unchanged.</p> </li> <li> <p> <code>Changed</code> - The preview finding is an existing finding with a change in status.</p> </li> </ul> <p>For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>",
          "shape": "FindingChangeType"
        },
        "condition": {
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
          "shape": "ConditionKeyMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the access preview finding was created.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>An error.</p>",
          "shape": "String"
        },
        "existingFindingId": {
          "documentation": "<p>The existing ID of the finding in IAM Access Analyzer, provided only for existing findings.</p>",
          "shape": "FindingId"
        },
        "existingFindingStatus": {
          "documentation": "<p>The existing status of the finding, provided only for existing findings.</p>",
          "shape": "FindingStatus"
        },
        "id": {
          "documentation": "<p>The ID of the access preview finding. This ID uniquely identifies the element in the list of access preview findings and is not related to the finding ID in Access Analyzer.</p>",
          "shape": "AccessPreviewFindingId"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>",
          "shape": "Boolean"
        },
        "principal": {
          "documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>",
          "shape": "PrincipalMap"
        },
        "resource": {
          "documentation": "<p>The resource that an external principal has access to. This is the resource associated with the access preview.</p>",
          "shape": "String"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the resource. For most Amazon Web Services resources, the owning account is the account in which the resource was created.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that can be accessed in the finding.</p>",
          "shape": "ResourceType"
        },
        "sources": {
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>",
          "shape": "FindingSourceList"
        },
        "status": {
          "documentation": "<p>The preview status of the finding. This is what the status of the finding would be after permissions deployment. For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>",
          "shape": "FindingStatus"
        }
      },
      "required": [
        "id",
        "resourceType",
        "createdAt",
        "changeType",
        "status",
        "resourceOwnerAccount"
      ],
      "type": "structure"
    },
    "AccessPreviewFindingId": {
      "type": "string"
    },
    "AccessPreviewFindingsList": {
      "member": {
        "shape": "AccessPreviewFinding"
      },
      "type": "list"
    },
    "AccessPreviewId": {
      "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}",
      "type": "string"
    },
    "AccessPreviewStatus": {
      "enum": [
        "COMPLETED",
        "CREATING",
        "FAILED"
      ],
      "type": "string"
    },
    "AccessPreviewStatusReason": {
      "documentation": "<p>Provides more details about the current status of the access preview. For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid proposed resource configuration.</p>",
      "members": {
        "code": {
          "documentation": "<p>The reason code for the current status of the access preview.</p>",
          "shape": "AccessPreviewStatusReasonCode"
        }
      },
      "required": [
        "code"
      ],
      "type": "structure"
    },
    "AccessPreviewStatusReasonCode": {
      "enum": [
        "INTERNAL_ERROR",
        "INVALID_CONFIGURATION"
      ],
      "type": "string"
    },
    "AccessPreviewSummary": {
      "documentation": "<p>Contains a summary of information about an access preview.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
          "shape": "AnalyzerArn"
        },
        "createdAt": {
          "documentation": "<p>The time at which the access preview was created.</p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p>The unique ID for the access preview.</p>",
          "shape": "AccessPreviewId"
        },
        "status": {
          "documentation": "<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete and previews the findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>",
          "shape": "AccessPreviewStatus"
        },
        "statusReason": {
          "shape": "AccessPreviewStatusReason"
        }
      },
      "required": [
        "id",
        "analyzerArn",
        "createdAt",
        "status"
      ],
      "type": "structure"
    },
    "AccessPreviewsList": {
      "member": {
        "shape": "AccessPreviewSummary"
      },
      "type": "list"
    },
    "AclCanonicalId": {
      "type": "string"
    },
    "AclGrantee": {
      "documentation": "<p>You specify each grantee as a type-value pair using one of these types. You can specify only one type of grantee. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAcl.html\">PutBucketAcl</a>.</p>",
      "members": {
        "id": {
          "documentation": "<p>The value specified is the canonical user ID of an Amazon Web Services account.</p>",
          "shape": "AclCanonicalId"
        },
        "uri": {
          "documentation": "<p>Used for granting permissions to a predefined group.</p>",
          "shape": "AclUri"
        }
      },
      "type": "structure",
      "union": true
    },
    "AclPermission": {
      "enum": [
        "READ",
        "WRITE",
        "READ_ACP",
        "WRITE_ACP",
        "FULL_CONTROL"
      ],
      "type": "string"
    },
    "AclUri": {
      "type": "string"
    },
    "ActionList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AnalyzedResource": {
      "documentation": "<p>Contains details about the analyzed resource.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The actions that an external principal is granted permission to use by the policy that generated the finding.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was created.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>An error message.</p>",
          "shape": "String"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the policy that generated the finding grants public access to the resource.</p>",
          "shape": "Boolean"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource that was analyzed.</p>",
          "shape": "ResourceArn"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that was analyzed.</p>",
          "shape": "ResourceType"
        },
        "sharedVia": {
          "documentation": "<p>Indicates how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>",
          "shape": "SharedViaList"
        },
        "status": {
          "documentation": "<p>The current status of the finding generated from the analyzed resource.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "resourceArn",
        "resourceType",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "isPublic",
        "resourceOwnerAccount"
      ],
      "type": "structure"
    },
    "AnalyzedResourceSummary": {
      "documentation": "<p>Contains the ARN of the analyzed resource.</p>",
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the analyzed resource.</p>",
          "shape": "ResourceArn"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of resource that was analyzed.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType"
      ],
      "type": "structure"
    },
    "AnalyzedResourcesList": {
      "member": {
        "shape": "AnalyzedResourceSummary"
      },
      "type": "list"
    },
    "AnalyzerArn": {
      "pattern": "[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}",
      "type": "string"
    },
    "AnalyzerStatus": {
      "enum": [
        "ACTIVE",
        "CREATING",
        "DISABLED",
        "FAILED"
      ],
      "type": "string"
    },
    "AnalyzerSummary": {
      "documentation": "<p>Contains information about the analyzer.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the analyzer.</p>",
          "shape": "AnalyzerArn"
        },
        "createdAt": {
          "documentation": "<p>A timestamp for the time at which the analyzer was created.</p>",
          "shape": "Timestamp"
        },
        "lastResourceAnalyzed": {
          "documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>",
          "shape": "String"
        },
        "lastResourceAnalyzedAt": {
          "documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the analyzer.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors supported resources and generates new findings. The analyzer is <code>Disabled</code> when a user action, such as removing trusted access for Identity and Access Management Access Analyzer from Organizations, causes the analyzer to stop generating new findings. The status is <code>Creating</code> when the analyzer creation is in progress and <code>Failed</code> when the analyzer creation has failed. </p>",
          "shape": "AnalyzerStatus"
        },
        "statusReason": {
          "documentation": "<p>The <code>statusReason</code> provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is returned. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the Amazon Web Services organization.</p>",
          "shape": "StatusReason"
        },
        "tags": {
          "documentation": "<p>The tags added to the analyzer.</p>",
          "shape": "TagsMap"
        },
        "type": {
          "documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the analyzer.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "arn",
        "name",
        "type",
        "createdAt",
        "status"
      ],
      "type": "structure"
    },
    "AnalyzersList": {
      "member": {
        "shape": "AnalyzerSummary"
      },
      "type": "list"
    },
    "ApplyArchiveRuleRequest": {
      "documentation": "<p>Retroactively applies an archive rule.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The Amazon resource name (ARN) of the analyzer.</p>",
          "shape": "AnalyzerArn"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to apply.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerArn",
        "ruleName"
      ],
      "type": "structure"
    },
    "ArchiveRuleSummary": {
      "documentation": "<p>Contains information about an archive rule.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The time at which the archive rule was created.</p>",
          "shape": "Timestamp"
        },
        "filter": {
          "documentation": "<p>A filter used to define the archive rule.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the archive rule.</p>",
          "shape": "Name"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the archive rule was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "ruleName",
        "filter",
        "createdAt",
        "updatedAt"
      ],
      "type": "structure"
    },
    "ArchiveRulesList": {
      "member": {
        "shape": "ArchiveRuleSummary"
      },
      "type": "list"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelPolicyGenerationRequest": {
      "members": {
        "jobId": {
          "documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code> operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel the policy generation request.</p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelPolicyGenerationResponse": {
      "members": {},
      "type": "structure"
    },
    "CloudTrailArn": {
      "pattern": "arn:[^:]*:cloudtrail:[^:]*:[^:]*:trail/.{1,576}",
      "type": "string"
    },
    "CloudTrailDetails": {
      "documentation": "<p>Contains information about CloudTrail access.</p>",
      "members": {
        "accessRole": {
          "documentation": "<p>The ARN of the service role that IAM Access Analyzer uses to access your CloudTrail trail and service last accessed information.</p>",
          "shape": "RoleArn"
        },
        "endTime": {
          "documentation": "<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp after this time are not considered to generate a policy. If this is not included in the request, the default value is the current time.</p>",
          "shape": "Timestamp"
        },
        "startTime": {
          "documentation": "<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp before this time are not considered to generate a policy.</p>",
          "shape": "Timestamp"
        },
        "trails": {
          "documentation": "<p>A <code>Trail</code> object that contains settings for a trail.</p>",
          "shape": "TrailList"
        }
      },
      "required": [
        "trails",
        "accessRole",
        "startTime"
      ],
      "type": "structure"
    },
    "CloudTrailProperties": {
      "documentation": "<p>Contains information about CloudTrail access.</p>",
      "members": {
        "endTime": {
          "documentation": "<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp after this time are not considered to generate a policy. If this is not included in the request, the default value is the current time.</p>",
          "shape": "Timestamp"
        },
        "startTime": {
          "documentation": "<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp before this time are not considered to generate a policy.</p>",
          "shape": "Timestamp"
        },
        "trailProperties": {
          "documentation": "<p>A <code>TrailProperties</code> object that contains settings for trail properties.</p>",
          "shape": "TrailPropertiesList"
        }
      },
      "required": [
        "trailProperties",
        "startTime",
        "endTime"
      ],
      "type": "structure"
    },
    "ConditionKeyMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "Configuration": {
      "documentation": "<p>Access control configuration structures for your resource. You specify the configuration as a type-value pair. You can specify only one type of access control configuration.</p>",
      "members": {
        "ebsSnapshot": {
          "documentation": "<p>The access control configuration is for an Amazon EBS volume snapshot.</p>",
          "shape": "EbsSnapshotConfiguration"
        },
        "ecrRepository": {
          "documentation": "<p>The access control configuration is for an Amazon ECR repository.</p>",
          "shape": "EcrRepositoryConfiguration"
        },
        "efsFileSystem": {
          "documentation": "<p>The access control configuration is for an Amazon EFS file system.</p>",
          "shape": "EfsFileSystemConfiguration"
        },
        "iamRole": {
          "documentation": "<p>The access control configuration is for an IAM role. </p>",
          "shape": "IamRoleConfiguration"
        },
        "kmsKey": {
          "documentation": "<p>The access control configuration is for a KMS key. </p>",
          "shape": "KmsKeyConfiguration"
        },
        "rdsDbClusterSnapshot": {
          "documentation": "<p>The access control configuration is for an Amazon RDS DB cluster snapshot.</p>",
          "shape": "RdsDbClusterSnapshotConfiguration"
        },
        "rdsDbSnapshot": {
          "documentation": "<p>The access control configuration is for an Amazon RDS DB snapshot.</p>",
          "shape": "RdsDbSnapshotConfiguration"
        },
        "s3Bucket": {
          "documentation": "<p>The access control configuration is for an Amazon S3 Bucket. </p>",
          "shape": "S3BucketConfiguration"
        },
        "secretsManagerSecret": {
          "documentation": "<p>The access control configuration is for a Secrets Manager secret.</p>",
          "shape": "SecretsManagerSecretConfiguration"
        },
        "snsTopic": {
          "documentation": "<p>The access control configuration is for an Amazon SNS topic</p>",
          "shape": "SnsTopicConfiguration"
        },
        "sqsQueue": {
          "documentation": "<p>The access control configuration is for an Amazon SQS queue. </p>",
          "shape": "SqsQueueConfiguration"
        }
      },
      "type": "structure",
      "union": true
    },
    "ConfigurationsMap": {
      "key": {
        "shape": "ConfigurationsMapKey"
      },
      "type": "map",
      "value": {
        "shape": "Configuration"
      }
    },
    "ConfigurationsMapKey": {
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>A conflict exception error.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The resource type.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "CreateAccessPreviewRequest": {
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the account analyzer</a> used to generate the access preview. You can only create an access preview for analyzers with an <code>Account</code> type and <code>Active</code> status.</p>",
          "shape": "AnalyzerArn"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "configurations": {
          "documentation": "<p>Access control configuration for your resource that is used to generate the access preview. The access preview includes findings for external access allowed to the resource with the proposed access control configuration. The configuration must contain exactly one element.</p>",
          "shape": "ConfigurationsMap"
        }
      },
      "required": [
        "analyzerArn",
        "configurations"
      ],
      "type": "structure"
    },
    "CreateAccessPreviewResponse": {
      "members": {
        "id": {
          "documentation": "<p>The unique ID for the access preview.</p>",
          "shape": "AccessPreviewId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "CreateAnalyzerRequest": {
      "documentation": "<p>Creates an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to create.</p>",
          "shape": "Name"
        },
        "archiveRules": {
          "documentation": "<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive findings that meet the criteria you define for the rule.</p>",
          "shape": "InlineArchiveRulesList"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags to apply to the analyzer.</p>",
          "shape": "TagsMap"
        },
        "type": {
          "documentation": "<p>The type of analyzer to create. Only ACCOUNT and ORGANIZATION analyzers are supported. You can create only one analyzer per account per Region. You can create up to 5 analyzers per organization per Region.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "analyzerName",
        "type"
      ],
      "type": "structure"
    },
    "CreateAnalyzerResponse": {
      "documentation": "<p>The response to the request to create an analyzer.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the analyzer that was created by the request.</p>",
          "shape": "AnalyzerArn"
        }
      },
      "type": "structure"
    },
    "CreateArchiveRuleRequest": {
      "documentation": "<p>Creates an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the created analyzer.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "filter": {
          "documentation": "<p>The criteria for the rule.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to create.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "ruleName",
        "filter"
      ],
      "type": "structure"
    },
    "Criterion": {
      "documentation": "<p>The criteria to use in the filter that defines the archive rule.</p>",
      "members": {
        "contains": {
          "documentation": "<p>A \"contains\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        },
        "eq": {
          "documentation": "<p>An \"equals\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        },
        "exists": {
          "documentation": "<p>An \"exists\" operator to match for the filter used to create the rule. </p>",
          "shape": "Boolean"
        },
        "neq": {
          "documentation": "<p>A \"not equals\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        }
      },
      "type": "structure"
    },
    "DeleteAnalyzerRequest": {
      "documentation": "<p>Deletes an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "String"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "DeleteArchiveRuleRequest": {
      "documentation": "<p>Deletes an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer that associated with the archive rule to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "String"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to delete.</p>",
          "location": "uri",
          "locationName": "ruleName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "type": "structure"
    },
    "EbsGroup": {
      "type": "string"
    },
    "EbsGroupList": {
      "member": {
        "shape": "EbsGroup"
      },
      "type": "list"
    },
    "EbsSnapshotConfiguration": {
      "documentation": "<p>The proposed access control configuration for an Amazon EBS volume snapshot. You can propose a configuration for a new Amazon EBS volume snapshot or an Amazon EBS volume snapshot that you own by specifying the user IDs, groups, and optional KMS encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifySnapshotAttribute.html\">ModifySnapshotAttribute</a>.</p>",
      "members": {
        "groups": {
          "documentation": "<p>The groups that have access to the Amazon EBS volume snapshot. If the value <code>all</code> is specified, then the Amazon EBS volume snapshot is public.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>groups</code>, then the access preview uses the existing shared <code>groups</code> for the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>groups</code>, then the access preview considers the snapshot without any <code>groups</code>.</p> </li> <li> <p>To propose deletion of existing shared <code>groups</code>, you can specify an empty list for <code>groups</code>.</p> </li> </ul>",
          "shape": "EbsGroupList"
        },
        "kmsKeyId": {
          "documentation": "<p>The KMS key identifier for an encrypted Amazon EBS volume snapshot. The KMS key identifier is the key ARN, key ID, alias ARN, or alias name for the KMS key.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>kmsKeyId</code>, or you specify an empty string, then the access preview uses the existing <code>kmsKeyId</code> of the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>kmsKeyId</code>, the access preview considers the snapshot as unencrypted.</p> </li> </ul>",
          "shape": "EbsSnapshotDataEncryptionKeyId"
        },
        "userIds": {
          "documentation": "<p>The IDs of the Amazon Web Services accounts that have access to the Amazon EBS volume snapshot.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>userIds</code>, then the access preview uses the existing shared <code>userIds</code> for the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>userIds</code>, then the access preview considers the snapshot without any <code>userIds</code>.</p> </li> <li> <p>To propose deletion of existing shared <code>accountIds</code>, you can specify an empty list for <code>userIds</code>.</p> </li> </ul>",
          "shape": "EbsUserIdList"
        }
      },
      "type": "structure"
    },
    "EbsSnapshotDataEncryptionKeyId": {
      "type": "string"
    },
    "EbsUserId": {
      "type": "string"
    },
    "EbsUserIdList": {
      "member": {
        "shape": "EbsUserId"
      },
      "type": "list"
    },
    "EcrRepositoryConfiguration": {
      "documentation": "<p>The proposed access control configuration for an Amazon ECR repository. You can propose a configuration for a new Amazon ECR repository or an existing Amazon ECR repository that you own by specifying the Amazon ECR policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/APIReference/API_Repository.html\">Repository</a>.</p> <ul> <li> <p>If the configuration is for an existing Amazon ECR repository and you do not specify the Amazon ECR policy, then the access preview uses the existing Amazon ECR policy for the repository.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes an Amazon ECR repository without a policy.</p> </li> <li> <p>To propose deletion of an existing Amazon ECR repository policy, you can specify an empty string for the Amazon ECR policy.</p> </li> </ul>",
      "members": {
        "repositoryPolicy": {
          "documentation": "<p>The JSON repository policy text to apply to the Amazon ECR repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html\">Private repository policy examples</a> in the <i>Amazon ECR User Guide</i>.</p>",
          "shape": "EcrRepositoryPolicy"
        }
      },
      "type": "structure"
    },
    "EcrRepositoryPolicy": {
      "type": "string"
    },
    "EfsFileSystemConfiguration": {
      "documentation": "<p>The proposed access control configuration for an Amazon EFS file system. You can propose a configuration for a new Amazon EFS file system or an existing Amazon EFS file system that you own by specifying the Amazon EFS policy. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-fs.html\">Using file systems in Amazon EFS</a>.</p> <ul> <li> <p>If the configuration is for an existing Amazon EFS file system and you do not specify the Amazon EFS policy, then the access preview uses the existing Amazon EFS policy for the file system.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes an Amazon EFS file system without a policy.</p> </li> <li> <p>To propose deletion of an existing Amazon EFS file system policy, you can specify an empty string for the Amazon EFS policy.</p> </li> </ul>",
      "members": {
        "fileSystemPolicy": {
          "documentation": "<p>The JSON policy definition to apply to the Amazon EFS file system. For more information on the elements that make up a file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/access-control-overview.html#access-control-manage-access-intro-resource-policies\">Amazon EFS Resource-based policies</a>.</p>",
          "shape": "EfsFileSystemPolicy"
        }
      },
      "type": "structure"
    },
    "EfsFileSystemPolicy": {
      "type": "string"
    },
    "FilterCriteriaMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Criterion"
      }
    },
    "Finding": {
      "documentation": "<p>Contains information about a finding.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "condition": {
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
          "shape": "ConditionKeyMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was generated.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>An error.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the finding.</p>",
          "shape": "FindingId"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>",
          "shape": "Boolean"
        },
        "principal": {
          "documentation": "<p>The external principal that access to a resource within the zone of trust.</p>",
          "shape": "PrincipalMap"
        },
        "resource": {
          "documentation": "<p>The resource that an external principal has access to.</p>",
          "shape": "String"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource identified in the finding.</p>",
          "shape": "ResourceType"
        },
        "sources": {
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>",
          "shape": "FindingSourceList"
        },
        "status": {
          "documentation": "<p>The current status of the finding.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "resourceType",
        "condition",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "status",
        "resourceOwnerAccount"
      ],
      "type": "structure"
    },
    "FindingChangeType": {
      "enum": [
        "CHANGED",
        "NEW",
        "UNCHANGED"
      ],
      "type": "string"
    },
    "FindingId": {
      "type": "string"
    },
    "FindingIdList": {
      "member": {
        "shape": "FindingId"
      },
      "type": "list"
    },
    "FindingSource": {
      "documentation": "<p>The source of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>",
      "members": {
        "detail": {
          "documentation": "<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>",
          "shape": "FindingSourceDetail"
        },
        "type": {
          "documentation": "<p>Indicates the type of access that generated the finding.</p>",
          "shape": "FindingSourceType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "FindingSourceDetail": {
      "documentation": "<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>",
      "members": {
        "accessPointArn": {
          "documentation": "<p>The ARN of the access point that generated the finding. The ARN format depends on whether the ARN represents an access point or a multi-region access point.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FindingSourceList": {
      "member": {
        "shape": "FindingSource"
      },
      "type": "list"
    },
    "FindingSourceType": {
      "enum": [
        "POLICY",
        "BUCKET_ACL",
        "S3_ACCESS_POINT"
      ],
      "type": "string"
    },
    "FindingStatus": {
      "enum": [
        "ACTIVE",
        "ARCHIVED",
        "RESOLVED"
      ],
      "type": "string"
    },
    "FindingStatusUpdate": {
      "enum": [
        "ACTIVE",
        "ARCHIVED"
      ],
      "type": "string"
    },
    "FindingSummary": {
      "documentation": "<p>Contains information about a finding.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource-based policy that generated the finding was analyzed.</p>",
          "shape": "Timestamp"
        },
        "condition": {
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
          "shape": "ConditionKeyMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was created.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>The error that resulted in an Error finding.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the finding.</p>",
          "shape": "FindingId"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the finding reports a resource that has a policy that allows public access.</p>",
          "shape": "Boolean"
        },
        "principal": {
          "documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>",
          "shape": "PrincipalMap"
        },
        "resource": {
          "documentation": "<p>The resource that the external principal has access to.</p>",
          "shape": "String"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that the external principal has access to.</p>",
          "shape": "ResourceType"
        },
        "sources": {
          "documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>",
          "shape": "FindingSourceList"
        },
        "status": {
          "documentation": "<p>The status of the finding.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was most recently updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "id",
        "resourceType",
        "condition",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "status",
        "resourceOwnerAccount"
      ],
      "type": "structure"
    },
    "FindingsList": {
      "member": {
        "shape": "FindingSummary"
      },
      "type": "list"
    },
    "GeneratedPolicy": {
      "documentation": "<p>Contains the text for the generated policy.</p>",
      "members": {
        "policy": {
          "documentation": "<p>The text to use as the content for the new policy. The policy is created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>",
          "shape": "String"
        }
      },
      "required": [
        "policy"
      ],
      "type": "structure"
    },
    "GeneratedPolicyList": {
      "member": {
        "shape": "GeneratedPolicy"
      },
      "type": "list"
    },
    "GeneratedPolicyProperties": {
      "documentation": "<p>Contains the generated policy details.</p>",
      "members": {
        "cloudTrailProperties": {
          "documentation": "<p>Lists details about the <code>Trail</code> used to generated policy.</p>",
          "shape": "CloudTrailProperties"
        },
        "isComplete": {
          "documentation": "<p>This value is set to <code>true</code> if the generated policy contains all possible actions for a service that IAM Access Analyzer identified from the CloudTrail trail that you specified, and <code>false</code> otherwise.</p>",
          "shape": "Boolean"
        },
        "principalArn": {
          "documentation": "<p>The ARN of the IAM entity (user or role) for which you are generating a policy.</p>",
          "shape": "PrincipalArn"
        }
      },
      "required": [
        "principalArn"
      ],
      "type": "structure"
    },
    "GeneratedPolicyResult": {
      "documentation": "<p>Contains the text for the generated policy and its details.</p>",
      "members": {
        "generatedPolicies": {
          "documentation": "<p>The text to use as the content for the new policy. The policy is created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>",
          "shape": "GeneratedPolicyList"
        },
        "properties": {
          "documentation": "<p>A <code>GeneratedPolicyProperties</code> object that contains properties of the generated policy.</p>",
          "shape": "GeneratedPolicyProperties"
        }
      },
      "required": [
        "properties"
      ],
      "type": "structure"
    },
    "GetAccessPreviewRequest": {
      "members": {
        "accessPreviewId": {
          "documentation": "<p>The unique ID for the access preview.</p>",
          "location": "uri",
          "locationName": "accessPreviewId",
          "shape": "AccessPreviewId"
        },
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access preview.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        }
      },
      "required": [
        "accessPreviewId",
        "analyzerArn"
      ],
      "type": "structure"
    },
    "GetAccessPreviewResponse": {
      "members": {
        "accessPreview": {
          "documentation": "<p>An object that contains information about the access preview.</p>",
          "shape": "AccessPreview"
        }
      },
      "required": [
        "accessPreview"
      ],
      "type": "structure"
    },
    "GetAnalyzedResourceRequest": {
      "documentation": "<p>Retrieves an analyzed resource.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve information from.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to retrieve information about.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "analyzerArn",
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetAnalyzedResourceResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "resource": {
          "documentation": "<p>An <code>AnalyzedResource</code> object that contains information that IAM Access Analyzer found when it analyzed the resource.</p>",
          "shape": "AnalyzedResource"
        }
      },
      "type": "structure"
    },
    "GetAnalyzerRequest": {
      "documentation": "<p>Retrieves an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer retrieved.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "GetAnalyzerResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzer": {
          "documentation": "<p>An <code>AnalyzerSummary</code> object that contains information about the analyzer.</p>",
          "shape": "AnalyzerSummary"
        }
      },
      "required": [
        "analyzer"
      ],
      "type": "structure"
    },
    "GetArchiveRuleRequest": {
      "documentation": "<p>Retrieves an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to retrieve.</p>",
          "location": "uri",
          "locationName": "ruleName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "type": "structure"
    },
    "GetArchiveRuleResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "archiveRule": {
          "shape": "ArchiveRuleSummary"
        }
      },
      "required": [
        "archiveRule"
      ],
      "type": "structure"
    },
    "GetFindingRequest": {
      "documentation": "<p>Retrieves a finding.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> that generated the finding.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        },
        "id": {
          "documentation": "<p>The ID of the finding to retrieve.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "FindingId"
        }
      },
      "required": [
        "analyzerArn",
        "id"
      ],
      "type": "structure"
    },
    "GetFindingResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "finding": {
          "documentation": "<p>A <code>finding</code> object that contains finding details.</p>",
          "shape": "Finding"
        }
      },
      "type": "structure"
    },
    "GetGeneratedPolicyRequest": {
      "members": {
        "includeResourcePlaceholders": {
          "documentation": "<p>The level of detail that you want to generate. You can specify whether to generate policies with placeholders for resource ARNs for actions that support resource level granularity in policies.</p> <p>For example, in the resource section of a policy, you can receive a placeholder such as <code>\"Resource\":\"arn:aws:s3:::${BucketName}\"</code> instead of <code>\"*\"</code>.</p>",
          "location": "querystring",
          "locationName": "includeResourcePlaceholders",
          "shape": "Boolean"
        },
        "includeServiceLevelTemplate": {
          "documentation": "<p>The level of detail that you want to generate. You can specify whether to generate service-level policies. </p> <p>IAM Access Analyzer uses <code>iam:servicelastaccessed</code> to identify services that have been used recently to create this service-level template.</p>",
          "location": "querystring",
          "locationName": "includeServiceLevelTemplate",
          "shape": "Boolean"
        },
        "jobId": {
          "documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code> operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel the policy generation request.</p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "GetGeneratedPolicyResponse": {
      "members": {
        "generatedPolicyResult": {
          "documentation": "<p>A <code>GeneratedPolicyResult</code> object that contains the generated policies and associated details.</p>",
          "shape": "GeneratedPolicyResult"
        },
        "jobDetails": {
          "documentation": "<p>A <code>GeneratedPolicyDetails</code> object that contains details about the generated policy.</p>",
          "shape": "JobDetails"
        }
      },
      "required": [
        "jobDetails",
        "generatedPolicyResult"
      ],
      "type": "structure"
    },
    "GranteePrincipal": {
      "type": "string"
    },
    "IamRoleConfiguration": {
      "documentation": "<p>The proposed access control configuration for an IAM role. You can propose a configuration for a new IAM role or an existing IAM role that you own by specifying the trust policy. If the configuration is for a new IAM role, you must specify the trust policy. If the configuration is for an existing IAM role that you own and you do not propose the trust policy, the access preview uses the existing trust policy for the role. The proposed trust policy cannot be an empty string. For more information about role trust policy limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a>.</p>",
      "members": {
        "trustPolicy": {
          "documentation": "<p>The proposed trust policy for the IAM role.</p>",
          "shape": "IamTrustPolicy"
        }
      },
      "type": "structure"
    },
    "IamTrustPolicy": {
      "type": "string"
    },
    "InlineArchiveRule": {
      "documentation": "<p>An criterion statement in an archive rule. Each archive rule may have multiple criteria.</p>",
      "members": {
        "filter": {
          "documentation": "<p>The condition and values for a criterion.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "ruleName",
        "filter"
      ],
      "type": "structure"
    },
    "InlineArchiveRulesList": {
      "member": {
        "shape": "InlineArchiveRule"
      },
      "type": "list"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Internal server error.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The seconds to wait to retry.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "InternetConfiguration": {
      "documentation": "<p>This configuration sets the network origin for the Amazon S3 access point or multi-region access point to <code>Internet</code>.</p>",
      "members": {},
      "type": "structure"
    },
    "IssueCode": {
      "type": "string"
    },
    "IssuingAccount": {
      "type": "string"
    },
    "JobDetails": {
      "documentation": "<p>Contains details about the policy generation request.</p>",
      "members": {
        "completedOn": {
          "documentation": "<p>A timestamp of when the job was completed.</p>",
          "shape": "Timestamp"
        },
        "jobError": {
          "documentation": "<p>The job error for the policy generation request.</p>",
          "shape": "JobError"
        },
        "jobId": {
          "documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code> operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel the policy generation request.</p>",
          "shape": "JobId"
        },
        "startedOn": {
          "documentation": "<p>A timestamp of when the job was started.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the job request.</p>",
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobId",
        "status",
        "startedOn"
      ],
      "type": "structure"
    },
    "JobError": {
      "documentation": "<p>Contains the details about the policy generation error.</p>",
      "members": {
        "code": {
          "documentation": "<p>The job error code.</p>",
          "shape": "JobErrorCode"
        },
        "message": {
          "documentation": "<p>Specific information about the error. For example, which service quota was exceeded or which resource was not found.</p>",
          "shape": "String"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "type": "structure"
    },
    "JobErrorCode": {
      "enum": [
        "AUTHORIZATION_ERROR",
        "RESOURCE_NOT_FOUND_ERROR",
        "SERVICE_QUOTA_EXCEEDED_ERROR",
        "SERVICE_ERROR"
      ],
      "type": "string"
    },
    "JobId": {
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED",
        "CANCELED"
      ],
      "type": "string"
    },
    "KmsConstraintsKey": {
      "type": "string"
    },
    "KmsConstraintsMap": {
      "key": {
        "shape": "KmsConstraintsKey"
      },
      "type": "map",
      "value": {
        "shape": "KmsConstraintsValue"
      }
    },
    "KmsConstraintsValue": {
      "type": "string"
    },
    "KmsGrantConfiguration": {
      "documentation": "<p>A proposed grant configuration for a KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a>.</p>",
      "members": {
        "constraints": {
          "documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> in the grant only when the operation request includes the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>.</p>",
          "shape": "KmsGrantConstraints"
        },
        "granteePrincipal": {
          "documentation": "<p>The principal that is given permission to perform the operations that the grant permits.</p>",
          "shape": "GranteePrincipal"
        },
        "issuingAccount": {
          "documentation": "<p> The Amazon Web Services account under which the grant was issued. The account is used to propose KMS grants issued by accounts other than the owner of the key.</p>",
          "shape": "IssuingAccount"
        },
        "operations": {
          "documentation": "<p>A list of operations that the grant permits.</p>",
          "shape": "KmsGrantOperationsList"
        },
        "retiringPrincipal": {
          "documentation": "<p>The principal that is given permission to retire the grant by using <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RetireGrant.html\">RetireGrant</a> operation.</p>",
          "shape": "RetiringPrincipal"
        }
      },
      "required": [
        "operations",
        "granteePrincipal",
        "issuingAccount"
      ],
      "type": "structure"
    },
    "KmsGrantConfigurationsList": {
      "member": {
        "shape": "KmsGrantConfiguration"
      },
      "type": "list"
    },
    "KmsGrantConstraints": {
      "documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> in the grant only when the operation request includes the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>. You can specify only one type of encryption context. An empty map is treated as not specified. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GrantConstraints.html\">GrantConstraints</a>.</p>",
      "members": {
        "encryptionContextEquals": {
          "documentation": "<p>A list of key-value pairs that must match the encryption context in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operation</a> request. The grant allows the operation only when the encryption context in the request is the same as the encryption context specified in this constraint.</p>",
          "shape": "KmsConstraintsMap"
        },
        "encryptionContextSubset": {
          "documentation": "<p>A list of key-value pairs that must be included in the encryption context of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operation</a> request. The grant allows the cryptographic operation only when the encryption context in the request includes the key-value pairs specified in this constraint, although it can include additional key-value pairs.</p>",
          "shape": "KmsConstraintsMap"
        }
      },
      "type": "structure"
    },
    "KmsGrantOperation": {
      "enum": [
        "CreateGrant",
        "Decrypt",
        "DescribeKey",
        "Encrypt",
        "GenerateDataKey",
        "GenerateDataKeyPair",
        "GenerateDataKeyPairWithoutPlaintext",
        "GenerateDataKeyWithoutPlaintext",
        "GetPublicKey",
        "ReEncryptFrom",
        "ReEncryptTo",
        "RetireGrant",
        "Sign",
        "Verify"
      ],
      "type": "string"
    },
    "KmsGrantOperationsList": {
      "member": {
        "shape": "KmsGrantOperation"
      },
      "type": "list"
    },
    "KmsKeyConfiguration": {
      "documentation": "<p>Proposed access control configuration for a KMS key. You can propose a configuration for a new KMS key or an existing KMS key that you own by specifying the key policy and KMS grant configuration. If the configuration is for an existing key and you do not specify the key policy, the access preview uses the existing policy for the key. If the access preview is for a new resource and you do not specify the key policy, then the access preview uses the default key policy. The proposed key policy cannot be an empty string. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default key policy</a>. For more information about key policy limits, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/resource-limits.html\">Resource quotas</a>.</p> <p/>",
      "members": {
        "grants": {
          "documentation": "<p>A list of proposed grant configurations for the KMS key. If the proposed grant configuration is for an existing key, the access preview uses the proposed list of grant configurations in place of the existing grants. Otherwise, the access preview uses the existing grants for the key.</p>",
          "shape": "KmsGrantConfigurationsList"
        },
        "keyPolicies": {
          "documentation": "<p>Resource policy configuration for the KMS key. The only valid value for the name of the key policy is <code>default</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default key policy</a>.</p>",
          "shape": "KmsKeyPoliciesMap"
        }
      },
      "type": "structure"
    },
    "KmsKeyPoliciesMap": {
      "key": {
        "shape": "PolicyName"
      },
      "type": "map",
      "value": {
        "shape": "KmsKeyPolicy"
      }
    },
    "KmsKeyPolicy": {
      "type": "string"
    },
    "LearnMoreLink": {
      "type": "string"
    },
    "ListAccessPreviewFindingsRequest": {
      "members": {
        "accessPreviewId": {
          "documentation": "<p>The unique ID for the access preview.</p>",
          "location": "uri",
          "locationName": "accessPreviewId",
          "shape": "AccessPreviewId"
        },
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access.</p>",
          "shape": "AnalyzerArn"
        },
        "filter": {
          "documentation": "<p>Criteria to filter the returned findings.</p>",
          "shape": "FilterCriteriaMap"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "accessPreviewId",
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListAccessPreviewFindingsResponse": {
      "members": {
        "findings": {
          "documentation": "<p>A list of access preview findings that match the specified filter criteria.</p>",
          "shape": "AccessPreviewFindingsList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "findings"
      ],
      "type": "structure"
    },
    "ListAccessPreviewsRequest": {
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the access preview.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        }
      },
      "required": [
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListAccessPreviewsResponse": {
      "members": {
        "accessPreviews": {
          "documentation": "<p>A list of access previews retrieved for the analyzer.</p>",
          "shape": "AccessPreviewsList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "accessPreviews"
      ],
      "type": "structure"
    },
    "ListAnalyzedResourcesRequest": {
      "documentation": "<p>Retrieves a list of resources that have been analyzed.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve a list of analyzed resources from.</p>",
          "shape": "AnalyzerArn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        },
        "resourceType": {
          "documentation": "<p>The type of resource.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListAnalyzedResourcesResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzedResources": {
          "documentation": "<p>A list of resources that were analyzed.</p>",
          "shape": "AnalyzedResourcesList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "analyzedResources"
      ],
      "type": "structure"
    },
    "ListAnalyzersRequest": {
      "documentation": "<p>Retrieves a list of analyzers.</p>",
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        },
        "type": {
          "documentation": "<p>The type of analyzer.</p>",
          "location": "querystring",
          "locationName": "type",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "ListAnalyzersResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzers": {
          "documentation": "<p>The analyzers retrieved.</p>",
          "shape": "AnalyzersList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "analyzers"
      ],
      "type": "structure"
    },
    "ListArchiveRulesRequest": {
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "ListArchiveRulesResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "archiveRules": {
          "documentation": "<p>A list of archive rules created for the specified analyzer.</p>",
          "shape": "ArchiveRulesList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "archiveRules"
      ],
      "type": "structure"
    },
    "ListFindingsRequest": {
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> to retrieve findings from.</p>",
          "shape": "AnalyzerArn"
        },
        "filter": {
          "documentation": "<p>A filter to match for the findings to return.</p>",
          "shape": "FilterCriteriaMap"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        },
        "sort": {
          "documentation": "<p>The sort order for the findings returned.</p>",
          "shape": "SortCriteria"
        }
      },
      "required": [
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListFindingsResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "findings": {
          "documentation": "<p>A list of findings retrieved from the analyzer that match the filter criteria specified, if any.</p>",
          "shape": "FindingsList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "findings"
      ],
      "type": "structure"
    },
    "ListPolicyGenerationsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListPolicyGenerationsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        },
        "principalArn": {
          "documentation": "<p>The ARN of the IAM entity (user or role) for which you are generating a policy. Use this with <code>ListGeneratedPolicies</code> to filter the results to only include results for a specific principal.</p>",
          "location": "querystring",
          "locationName": "principalArn",
          "shape": "PrincipalArn"
        }
      },
      "type": "structure"
    },
    "ListPolicyGenerationsRequestMaxResultsInteger": {
[...]
