{
  "documentation": "<p>Welcome to the <i>Amazon Pinpoint SMS and Voice, version 2 API Reference</i>. This guide provides information about Amazon Pinpoint SMS and Voice, version 2 API resources, including supported HTTP methods, parameters, and schemas.</p> <p>Amazon Pinpoint is an Amazon Web Services service that you can use to engage with your recipients across multiple messaging channels. The Amazon Pinpoint SMS and Voice, version 2 API provides programmatic access to options that are unique to the SMS and voice channels and supplements the resources provided by the Amazon Pinpoint API.</p> <p>If you're new to Amazon Pinpoint, it's also helpful to review the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\"> Amazon Pinpoint Developer Guide</a>. The <i>Amazon Pinpoint Developer Guide</i> provides tutorials, code samples, and procedures that demonstrate how to use Amazon Pinpoint features programmatically and how to integrate Amazon Pinpoint functionality into mobile apps and other types of applications. The guide also provides key information, such as Amazon Pinpoint integration with other Amazon Web Services services, and the quotas that apply to use of the service.</p>",
  "metadata": {
    "apiVersion": "2022-03-31",
    "endpointPrefix": "sms-voice",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "Amazon Pinpoint SMS Voice V2",
    "serviceId": "Pinpoint SMS Voice V2",
    "signatureVersion": "v4",
    "signingName": "sms-voice",
    "targetPrefix": "PinpointSMSVoiceV2",
    "uid": "pinpoint-sms-voice-v2-2022-03-31"
  },
  "operations": {
    "AssociateOriginationIdentity": {
      "documentation": "<p>Associates the specified origination identity with a pool.</p> <p>If the origination identity is a phone number and is already associated with another pool, an Error is returned. A sender ID can be associated with multiple pools.</p> <p>If the origination identity configuration doesn't match the pool's configuration, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateOriginationIdentityRequest"
      },
      "name": "AssociateOriginationIdentity",
      "output": {
        "shape": "AssociateOriginationIdentityResult"
      }
    },
    "CreateConfigurationSet": {
      "documentation": "<p>Creates a new configuration set. After you create the configuration set, you can add one or more event destinations to it.</p> <p>A configuration set is a set of rules that you apply to the SMS and voice messages that you send.</p> <p>When you send a message, you can optionally specify a single configuration set.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConfigurationSetRequest"
      },
      "name": "CreateConfigurationSet",
      "output": {
        "shape": "CreateConfigurationSetResult"
      }
    },
    "CreateEventDestination": {
      "documentation": "<p>Creates a new event destination in a configuration set.</p> <p>An event destination is a location where you send message events. The event options are Amazon CloudWatch, Amazon Kinesis Data Firehose, or Amazon SNS. For example, when a message is delivered successfully, you can send information about that event to an event destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic.</p> <p>Each configuration set can contain between 0 and 5 event destinations. Each event destination can contain a reference to a single destination, such as a CloudWatch or Kinesis Data Firehose destination.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventDestinationRequest"
      },
      "name": "CreateEventDestination",
      "output": {
        "shape": "CreateEventDestinationResult"
      }
    },
    "CreateOptOutList": {
      "documentation": "<p>Creates a new opt-out list.</p> <p>If the opt-out list name already exists, an Error is returned.</p> <p>An opt-out list is a list of phone numbers that are opted out, meaning you can't send SMS or voice messages to them. If end user replies with the keyword \"STOP,\" an entry for the phone number is added to the opt-out list. In addition to STOP, your recipients can use any supported opt-out keyword, such as CANCEL or OPTOUT. For a list of supported opt-out keywords, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-manage.html#channels-sms-manage-optout\"> SMS opt out </a> in the <i>Amazon Pinpoint User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOptOutListRequest"
      },
      "name": "CreateOptOutList",
      "output": {
        "shape": "CreateOptOutListResult"
      }
    },
    "CreatePool": {
      "documentation": "<p>Creates a new pool and associates the specified origination identity to the pool. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p> <p>The new pool inherits its configuration from the specified origination identity. This includes keywords, message type, opt-out list, two-way configuration, and self-managed opt-out configuration. Deletion protection isn't inherited from the origination identity and defaults to false.</p> <p>If the origination identity is a phone number and is already associated with another pool, an Error is returned. A sender ID can be associated with multiple pools.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePoolRequest"
      },
      "name": "CreatePool",
      "output": {
        "shape": "CreatePoolResult"
      }
    },
    "DeleteConfigurationSet": {
      "documentation": "<p>Deletes an existing configuration set.</p> <p>A configuration set is a set of rules that you apply to voice and SMS messages that you send. In a configuration set, you can specify a destination for specific types of events related to voice and SMS messages. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConfigurationSetRequest"
      },
      "name": "DeleteConfigurationSet",
      "output": {
        "shape": "DeleteConfigurationSetResult"
      }
    },
    "DeleteDefaultMessageType": {
      "documentation": "<p>Deletes an existing default message type on a configuration set.</p> <p> A message type is a type of messages that you plan to send. If you send account-related messages or time-sensitive messages such as one-time passcodes, choose <b>Transactional</b>. If you plan to send messages that contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDefaultMessageTypeRequest"
      },
      "name": "DeleteDefaultMessageType",
      "output": {
        "shape": "DeleteDefaultMessageTypeResult"
      }
    },
    "DeleteDefaultSenderId": {
      "documentation": "<p>Deletes an existing default sender ID on a configuration set.</p> <p>A default sender ID is the identity that appears on recipients' devices when they receive SMS messages. Support for sender ID capabilities varies by country or region.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDefaultSenderIdRequest"
      },
      "name": "DeleteDefaultSenderId",
      "output": {
        "shape": "DeleteDefaultSenderIdResult"
      }
    },
    "DeleteEventDestination": {
      "documentation": "<p>Deletes an existing event destination.</p> <p>An event destination is a location where you send response information about the messages that you send. For example, when a message is delivered successfully, you can send information about that event to an Amazon CloudWatch destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventDestinationRequest"
      },
      "name": "DeleteEventDestination",
      "output": {
        "shape": "DeleteEventDestinationResult"
      }
    },
    "DeleteKeyword": {
      "documentation": "<p>Deletes an existing keyword from an origination phone number or pool.</p> <p>A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, Amazon Pinpoint responds with a customizable message.</p> <p>Keywords \"HELP\" and \"STOP\" can't be deleted or modified.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteKeywordRequest"
      },
      "name": "DeleteKeyword",
      "output": {
        "shape": "DeleteKeywordResult"
      }
    },
    "DeleteOptOutList": {
      "documentation": "<p>Deletes an existing opt-out list. All opted out phone numbers in the opt-out list are deleted.</p> <p>If the specified opt-out list name doesn't exist or is in-use by an origination phone number or pool, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOptOutListRequest"
      },
      "name": "DeleteOptOutList",
      "output": {
        "shape": "DeleteOptOutListResult"
      }
    },
    "DeleteOptedOutNumber": {
      "documentation": "<p>Deletes an existing opted out destination phone number from the specified opt-out list.</p> <p>Each destination phone number can only be deleted once every 30 days.</p> <p>If the specified destination phone number doesn't exist or if the opt-out list doesn't exist, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOptedOutNumberRequest"
      },
      "name": "DeleteOptedOutNumber",
      "output": {
        "shape": "DeleteOptedOutNumberResult"
      }
    },
    "DeletePool": {
      "documentation": "<p>Deletes an existing pool. Deleting a pool disassociates all origination identities from that pool.</p> <p>If the pool status isn't active or if deletion protection is enabled, an Error is returned.</p> <p>A pool is a collection of phone numbers and SenderIds. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePoolRequest"
      },
      "name": "DeletePool",
      "output": {
        "shape": "DeletePoolResult"
      }
    },
    "DeleteTextMessageSpendLimitOverride": {
      "documentation": "<p>Deletes an account-level monthly spending limit override for sending text messages. Deleting a spend limit override will set the <code>EnforcedLimit</code> to equal the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spend limits (quotas) see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\">Amazon Pinpoint quotas </a> in the <i>Amazon Pinpoint Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTextMessageSpendLimitOverrideRequest"
      },
      "name": "DeleteTextMessageSpendLimitOverride",
      "output": {
        "shape": "DeleteTextMessageSpendLimitOverrideResult"
      }
    },
    "DeleteVoiceMessageSpendLimitOverride": {
      "documentation": "<p>Deletes an account level monthly spend limit override for sending voice messages. Deleting a spend limit override sets the <code>EnforcedLimit</code> equal to the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spending limits (quotas) see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\">Amazon Pinpoint quotas</a> in the <i>Amazon Pinpoint Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVoiceMessageSpendLimitOverrideRequest"
      },
      "name": "DeleteVoiceMessageSpendLimitOverride",
      "output": {
        "shape": "DeleteVoiceMessageSpendLimitOverrideResult"
      }
    },
    "DescribeAccountAttributes": {
      "documentation": "<p>Describes attributes of your Amazon Web Services account. The supported account attributes include account tier, which indicates whether your account is in the sandbox or production environment. When you're ready to move your account out of the sandbox, create an Amazon Web Services Support case for a service limit increase request.</p> <p>New Amazon Pinpoint accounts are placed into an SMS or voice sandbox. The sandbox protects both Amazon Web Services end recipients and SMS or voice recipients from fraud and abuse. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountAttributesRequest"
      },
      "name": "DescribeAccountAttributes",
      "output": {
        "shape": "DescribeAccountAttributesResult"
      }
    },
    "DescribeAccountLimits": {
      "documentation": "<p>Describes the current Amazon Pinpoint SMS Voice V2 resource quotas for your account. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>When you establish an Amazon Web Services account, the account has initial quotas on the maximum number of configuration sets, opt-out lists, phone numbers, and pools that you can create in a given Region. For more information see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/quotas.html\"> Amazon Pinpoint quotas </a> in the <i>Amazon Pinpoint Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountLimitsRequest"
      },
      "name": "DescribeAccountLimits",
      "output": {
        "shape": "DescribeAccountLimitsResult"
      }
    },
    "DescribeConfigurationSets": {
      "documentation": "<p>Describes the specified configuration sets or all in your account.</p> <p>If you specify configuration set names, the output includes information for only the specified configuration sets. If you specify filters, the output includes information for only those configuration sets that meet the filter criteria. If you don't specify configuration set names or filters, the output includes information for all configuration sets.</p> <p>If you specify a configuration set name that isn't valid, an error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationSetsRequest"
      },
      "name": "DescribeConfigurationSets",
      "output": {
        "shape": "DescribeConfigurationSetsResult"
      }
    },
    "DescribeKeywords": {
      "documentation": "<p>Describes the specified keywords or all keywords on your origination phone number or pool.</p> <p>A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, Amazon Pinpoint responds with a customizable message.</p> <p>If you specify a keyword that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeKeywordsRequest"
      },
      "name": "DescribeKeywords",
      "output": {
        "shape": "DescribeKeywordsResult"
      }
    },
    "DescribeOptOutLists": {
      "documentation": "<p>Describes the specified opt-out list or all opt-out lists in your account.</p> <p>If you specify opt-out list names, the output includes information for only the specified opt-out lists. Opt-out lists include only those that meet the filter criteria. If you don't specify opt-out list names or filters, the output includes information for all opt-out lists.</p> <p>If you specify an opt-out list name that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOptOutListsRequest"
      },
      "name": "DescribeOptOutLists",
      "output": {
        "shape": "DescribeOptOutListsResult"
      }
    },
    "DescribeOptedOutNumbers": {
      "documentation": "<p>Describes the specified opted out destination numbers or all opted out destination numbers in an opt-out list.</p> <p>If you specify opted out numbers, the output includes information for only the specified opted out numbers. If you specify filters, the output includes information for only those opted out numbers that meet the filter criteria. If you don't specify opted out numbers or filters, the output includes information for all opted out destination numbers in your opt-out list.</p> <p>If you specify an opted out number that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOptedOutNumbersRequest"
      },
      "name": "DescribeOptedOutNumbers",
      "output": {
        "shape": "DescribeOptedOutNumbersResult"
      }
    },
    "DescribePhoneNumbers": {
      "documentation": "<p>Describes the specified origination phone number, or all the phone numbers in your account.</p> <p>If you specify phone number IDs, the output includes information for only the specified phone numbers. If you specify filters, the output includes information for only those phone numbers that meet the filter criteria. If you don't specify phone number IDs or filters, the output includes information for all phone numbers.</p> <p>If you specify a phone number ID that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePhoneNumbersRequest"
      },
      "name": "DescribePhoneNumbers",
      "output": {
        "shape": "DescribePhoneNumbersResult"
      }
    },
    "DescribePools": {
      "documentation": "<p>Retrieves the specified pools or all pools associated with your Amazon Web Services account.</p> <p>If you specify pool IDs, the output includes information for only the specified pools. If you specify filters, the output includes information for only those pools that meet the filter criteria. If you don't specify pool IDs or filters, the output includes information for all pools.</p> <p>If you specify a pool ID that isn't valid, an Error is returned.</p> <p>A pool is a collection of phone numbers and SenderIds. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePoolsRequest"
      },
      "name": "DescribePools",
      "output": {
        "shape": "DescribePoolsResult"
      }
    },
    "DescribeSenderIds": {
      "documentation": "<p>Describes the specified SenderIds or all SenderIds associated with your Amazon Web Services account.</p> <p>If you specify SenderIds, the output includes information for only the specified SenderIds. If you specify filters, the output includes information for only those SenderIds that meet the filter criteria. If you don't specify SenderIds or filters, the output includes information for all SenderIds.</p> <p>f you specify a sender ID that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSenderIdsRequest"
      },
      "name": "DescribeSenderIds",
      "output": {
        "shape": "DescribeSenderIdsResult"
      }
    },
    "DescribeSpendLimits": {
      "documentation": "<p>Describes the current Amazon Pinpoint monthly spend limits for sending voice and text messages.</p> <p>When you establish an Amazon Web Services account, the account has initial monthly spend limit in a given Region. For more information on increasing your monthly spend limit, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-awssupport-spend-threshold.html\"> Requesting increases to your monthly SMS spending quota for Amazon Pinpoint </a> in the <i>Amazon Pinpoint User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSpendLimitsRequest"
      },
      "name": "DescribeSpendLimits",
      "output": {
        "shape": "DescribeSpendLimitsResult"
      }
    },
    "DisassociateOriginationIdentity": {
      "documentation": "<p>Removes the specified origination identity from an existing pool.</p> <p>If the origination identity isn't associated with the specified pool, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateOriginationIdentityRequest"
      },
      "name": "DisassociateOriginationIdentity",
      "output": {
        "shape": "DisassociateOriginationIdentityResult"
      }
    },
    "ListPoolOriginationIdentities": {
      "documentation": "<p>Lists all associated origination identities in your pool.</p> <p>If you specify filters, the output includes information for only those origination identities that meet the filter criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPoolOriginationIdentitiesRequest"
      },
      "name": "ListPoolOriginationIdentities",
      "output": {
        "shape": "ListPoolOriginationIdentitiesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List all tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "PutKeyword": {
      "documentation": "<p>Creates or updates a keyword configuration on an origination phone number or pool.</p> <p> A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, Amazon Pinpoint responds with a customizable message.</p> <p>If you specify a keyword that isn't valid, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutKeywordRequest"
      },
      "name": "PutKeyword",
      "output": {
        "shape": "PutKeywordResult"
      }
    },
    "PutOptedOutNumber": {
      "documentation": "<p>Creates an opted out destination phone number in the opt-out list.</p> <p>If the destination phone number isn't valid or if the specified opt-out list doesn't exist, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutOptedOutNumberRequest"
      },
      "name": "PutOptedOutNumber",
      "output": {
        "shape": "PutOptedOutNumberResult"
      }
    },
    "ReleasePhoneNumber": {
      "documentation": "<p>Releases an existing origination phone number in your account. Once released, a phone number is no longer available for sending messages.</p> <p>If the origination phone number has deletion protection enabled or is associated with a pool, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ReleasePhoneNumberRequest"
      },
      "name": "ReleasePhoneNumber",
      "output": {
        "shape": "ReleasePhoneNumberResult"
      }
    },
    "RequestPhoneNumber": {
      "documentation": "<p>Request an origination phone number for use in your account. For more information on phone number request see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/settings-sms-request-number.html\"> Requesting a number </a> in the <i>Amazon Pinpoint User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RequestPhoneNumberRequest"
      },
      "name": "RequestPhoneNumber",
      "output": {
        "shape": "RequestPhoneNumberResult"
      }
    },
    "SendTextMessage": {
      "documentation": "<p>Creates a new text message and sends it to a recipient's phone number.</p> <p>SMS throughput limits are measured in Message Parts per Second (MPS). Your MPS limit depends on the destination country of your messages, as well as the type of phone number (origination number) that you use to send the message. For more information, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-limitations-mps.html\">Message Parts per Second (MPS) limits</a> in the <i>Amazon Pinpoint User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendTextMessageRequest"
      },
      "name": "SendTextMessage",
      "output": {
        "shape": "SendTextMessageResult"
      }
    },
    "SendVoiceMessage": {
      "documentation": "<p>Allows you to send a request that sends a text message through Amazon Pinpoint. This operation uses <a href=\"http://aws.amazon.com/polly/\">Amazon Polly</a> to convert a text script into a voice message.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendVoiceMessageRequest"
      },
      "name": "SendVoiceMessage",
      "output": {
        "shape": "SendVoiceMessageResult"
      }
    },
    "SetDefaultMessageType": {
      "documentation": "<p>Sets the default message type on a configuration set.</p> <p>Choose the category of SMS messages that you plan to send from this account. If you send account-related messages or time-sensitive messages such as one-time passcodes, choose <b>Transactional</b>. If you plan to send messages that contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetDefaultMessageTypeRequest"
      },
      "name": "SetDefaultMessageType",
      "output": {
        "shape": "SetDefaultMessageTypeResult"
      }
    },
    "SetDefaultSenderId": {
      "documentation": "<p>Sets default sender ID on a configuration set.</p> <p>When sending a text message to a destination country that supports sender IDs, the default sender ID on the configuration set specified will be used if no dedicated origination phone numbers or registered sender IDs are available in your account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetDefaultSenderIdRequest"
      },
      "name": "SetDefaultSenderId",
      "output": {
        "shape": "SetDefaultSenderIdResult"
      }
    },
    "SetTextMessageSpendLimitOverride": {
      "documentation": "<p>Sets an account level monthly spend limit override for sending text messages. The requested spend limit must be less than or equal to the <code>MaxLimit</code>, which is set by Amazon Web Services. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTextMessageSpendLimitOverrideRequest"
      },
      "name": "SetTextMessageSpendLimitOverride",
      "output": {
        "shape": "SetTextMessageSpendLimitOverrideResult"
      }
    },
    "SetVoiceMessageSpendLimitOverride": {
      "documentation": "<p>Sets an account level monthly spend limit override for sending voice messages. The requested spend limit must be less than or equal to the <code>MaxLimit</code>, which is set by Amazon Web Services. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetVoiceMessageSpendLimitOverrideRequest"
      },
      "name": "SetVoiceMessageSpendLimitOverride",
      "output": {
        "shape": "SetVoiceMessageSpendLimitOverrideResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or overwrites only the specified tags for the specified Amazon Pinpoint SMS Voice, version 2 resource. When you specify an existing tag key, the value is overwritten with the new value. Each resource can have a maximum of 50 tags. Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/tagging-resources.html\"> Tagging Amazon Pinpoint resources</a> in the <i>Amazon Pinpoint Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the association of the specified tags from an Amazon Pinpoint SMS Voice V2 resource. For more information on tags see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/tagging-resources.html\"> Tagging Amazon Pinpoint resources</a> in the <i>Amazon Pinpoint Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    },
    "UpdateEventDestination": {
      "documentation": "<p>Updates an existing event destination in a configuration set. You can update the IAM role ARN for CloudWatch Logs and Kinesis Data Firehose. You can also enable or disable the event destination.</p> <p>You may want to update an event destination to change its matching event types or updating the destination resource ARN. You can't change an event destination's type between CloudWatch Logs, Kinesis Data Firehose, and Amazon SNS.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEventDestinationRequest"
      },
      "name": "UpdateEventDestination",
      "output": {
        "shape": "UpdateEventDestinationResult"
      }
    },
    "UpdatePhoneNumber": {
      "documentation": "<p>Updates the configuration of an existing origination phone number. You can update the opt-out list, enable or disable two-way messaging, change the TwoWayChannelArn, enable or disable self-managed opt-outs, and enable or disable deletion protection.</p> <p>If the origination phone number is associated with a pool, an Error is returned.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePhoneNumberRequest"
      },
      "name": "UpdatePhoneNumber",
      "output": {
        "shape": "UpdatePhoneNumberResult"
      }
    },
    "UpdatePool": {
      "documentation": "<p>Updates the configuration of an existing pool. You can update the opt-out list, enable or disable two-way messaging, change the <code>TwoWayChannelArn</code>, enable or disable self-managed opt-outs, enable or disable deletion protection, and enable or disable shared routes.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePoolRequest"
      },
      "name": "UpdatePool",
      "output": {
        "shape": "UpdatePoolResult"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>The request was denied because you don't have sufficient permissions to access the resource.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "AccessDeniedExceptionReason"
        }
      },
      "type": "structure"
    },
    "AccessDeniedExceptionReason": {
      "enum": [
        "INSUFFICIENT_ACCOUNT_REPUTATION",
        "ACCOUNT_DISABLED"
      ],
      "type": "string"
    },
    "AccountAttribute": {
      "documentation": "<p>Displays the attributes associated with a single Amazon Web Services account.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the account attribute.</p>",
          "shape": "AccountAttributeName"
        },
        "Value": {
          "documentation": "<p>The value associated with the account attribute name.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "AccountAttributeList": {
      "member": {
        "shape": "AccountAttribute"
      },
      "type": "list"
    },
    "AccountAttributeName": {
      "enum": [
        "ACCOUNT_TIER"
      ],
      "type": "string"
    },
    "AccountLimit": {
      "documentation": "<p>The current resource quotas associated with an Amazon Web Services account.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The Amazon Web Services set limit for that resource type, in US dollars.</p>",
          "shape": "PrimitiveLong"
        },
        "Name": {
          "documentation": "<p>The name of the attribute to apply the account limit to.</p>",
          "shape": "AccountLimitName"
        },
        "Used": {
          "documentation": "<p>The current amount that has been spent, in US dollars.</p>",
          "shape": "PrimitiveLong"
        }
      },
      "required": [
        "Name",
        "Used",
        "Max"
      ],
      "type": "structure"
    },
    "AccountLimitList": {
      "member": {
        "shape": "AccountLimit"
      },
      "type": "list"
    },
    "AccountLimitName": {
      "enum": [
        "PHONE_NUMBERS",
        "POOLS",
        "CONFIGURATION_SETS",
        "OPT_OUT_LISTS"
      ],
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 256,
      "min": 20,
      "pattern": "arn:[A-Za-z0-9_:/-]+",
      "type": "string"
    },
    "AssociateOriginationIdentityRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "IsoCountryCode": {
          "documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the origination identity.</p>",
          "shape": "IsoCountryCode"
        },
        "OriginationIdentity": {
          "documentation": "<p>The origination identity to use, such as PhoneNumberId, PhoneNumberArn, SenderId, or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn, while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p>",
          "shape": "PhoneOrSenderIdOrArn"
        },
        "PoolId": {
          "documentation": "<p>The pool to update with the new Identity. This value can be either the PoolId or PoolArn, and you can find these values using <a>DescribePools</a>.</p>",
          "shape": "PoolIdOrArn"
        }
      },
      "required": [
        "PoolId",
        "OriginationIdentity",
        "IsoCountryCode"
      ],
      "type": "structure"
    },
    "AssociateOriginationIdentityResult": {
      "members": {
        "IsoCountryCode": {
          "documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. </p>",
          "shape": "IsoCountryCode"
        },
        "OriginationIdentity": {
          "documentation": "<p>The PhoneNumberId or SenderId of the origination identity.</p>",
          "shape": "String"
        },
        "OriginationIdentityArn": {
          "documentation": "<p>The PhoneNumberArn or SenderIdArn of the origination identity.</p>",
          "shape": "String"
        },
        "PoolArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the pool that is now associated with the origination identity.</p>",
          "shape": "String"
        },
        "PoolId": {
          "documentation": "<p>The PoolId of the pool that is now associated with the origination identity.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "pattern": "[!-~]+",
      "type": "string"
    },
    "CloudWatchLogsDestination": {
      "documentation": "<p>Contains the destination configuration to use when publishing message sending events. </p>",
      "members": {
        "IamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Identity and Access Management (IAM) role that is able to write event data to an Amazon CloudWatch destination.</p>",
          "shape": "IamRoleArn"
        },
        "LogGroupArn": {
          "documentation": "<p>The name of the Amazon CloudWatch log group that you want to record events in. </p>",
          "shape": "LogGroupArn"
        }
      },
      "required": [
        "IamRoleArn",
        "LogGroupArn"
      ],
      "type": "structure"
    },
    "ConfigurationSetFilter": {
      "documentation": "<p>The information for configuration sets that meet a specified criteria.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the attribute to filter on.</p>",
          "shape": "ConfigurationSetFilterName"
        },
        "Values": {
          "documentation": "<p>An array values to filter for.</p>",
          "shape": "FilterValueList"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "ConfigurationSetFilterList": {
      "max": 20,
      "member": {
        "shape": "ConfigurationSetFilter"
      },
      "min": 0,
      "type": "list"
    },
    "ConfigurationSetFilterName": {
      "enum": [
        "event-destination-name",
        "matching-event-types",
        "default-message-type",
        "default-sender-id"
      ],
      "type": "string"
    },
    "ConfigurationSetInformation": {
      "documentation": "<p>Information related to a given configuration set in your Amazon Web Services account.</p>",
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Resource Name (ARN) of the ConfigurationSet.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the ConfigurationSet.</p>",
          "shape": "ConfigurationSetName"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time when the ConfigurationSet was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "DefaultMessageType": {
          "documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive.</p>",
          "shape": "MessageType"
        },
        "DefaultSenderId": {
          "documentation": "<p>The default sender ID used by the ConfigurationSet.</p>",
          "shape": "SenderId"
        },
        "EventDestinations": {
          "documentation": "<p>An array of EventDestination objects that describe any events to log and where to log them.</p>",
          "shape": "EventDestinationList"
        }
      },
      "required": [
        "ConfigurationSetArn",
        "ConfigurationSetName",
        "EventDestinations",
        "CreatedTimestamp"
      ],
      "type": "structure"
    },
    "ConfigurationSetInformationList": {
      "member": {
        "shape": "ConfigurationSetInformation"
      },
      "type": "list"
    },
    "ConfigurationSetName": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9_-]+",
      "type": "string"
    },
    "ConfigurationSetNameList": {
      "max": 5,
      "member": {
        "shape": "ConfigurationSetNameOrArn"
      },
      "min": 0,
      "type": "list"
    },
    "ConfigurationSetNameOrArn": {
      "max": 256,
      "min": 1,
      "pattern": "[A-Za-z0-9_:/-]+",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time or it could be that the requested action isn't valid for the current state or configuration of the resource.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ConflictExceptionReason"
        },
        "ResourceId": {
          "documentation": "<p>The unique identifier of the request.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>The type of resource that caused the exception.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ConflictExceptionReason": {
      "enum": [
        "DELETION_PROTECTION_ENABLED",
        "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
        "DESTINATION_PHONE_NUMBER_OPTED_OUT",
        "EVENT_DESTINATION_MISMATCH",
        "KEYWORD_MISMATCH",
        "LAST_PHONE_NUMBER",
        "SELF_MANAGED_OPT_OUTS_MISMATCH",
        "MESSAGE_TYPE_MISMATCH",
        "NO_ORIGINATION_IDENTITIES_FOUND",
        "OPT_OUT_LIST_MISMATCH",
        "PHONE_NUMBER_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
        "RESOURCE_ALREADY_EXISTS",
        "RESOURCE_DELETION_NOT_ALLOWED",
        "RESOURCE_MODIFICATION_NOT_ALLOWED",
        "RESOURCE_NOT_ACTIVE",
        "RESOURCE_NOT_EMPTY",
        "TWO_WAY_CONFIG_MISMATCH"
      ],
      "type": "string"
    },
    "ContextKey": {
      "max": 100,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "ContextMap": {
      "key": {
        "shape": "ContextKey"
      },
      "max": 5,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "ContextValue"
      }
    },
    "ContextValue": {
      "max": 800,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "CreateConfigurationSetRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name to use for the new configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "Tags": {
          "documentation": "<p>An array of key and value pair tags that's associated with the new configuration set. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "CreateConfigurationSetResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the newly created configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the new configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time when the configuration set was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "Tags": {
          "documentation": "<p>An array of key and value pair tags that's associated with the configuration set.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "CreateEventDestinationRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "CloudWatchLogsDestination": {
          "documentation": "<p>An object that contains information about an event destination for logging to Amazon CloudWatch logs.</p>",
          "shape": "CloudWatchLogsDestination"
        },
        "ConfigurationSetName": {
          "documentation": "<p>Either the name of the configuration set or the configuration set ARN to apply event logging to. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
          "shape": "ConfigurationSetNameOrArn"
        },
        "EventDestinationName": {
          "documentation": "<p>The name that identifies the event destination.</p>",
          "shape": "EventDestinationName"
        },
        "KinesisFirehoseDestination": {
          "documentation": "<p>An object that contains information about an event destination for logging to Amazon Kinesis Data Firehose.</p>",
          "shape": "KinesisFirehoseDestination"
        },
        "MatchingEventTypes": {
          "documentation": "<p>An array of event types that determine which events to log. If \"ALL\" is used, then Amazon Pinpoint logs every event type.</p>",
          "shape": "EventTypeList"
        },
        "SnsDestination": {
          "documentation": "<p>An object that contains information about an event destination for logging to Amazon SNS.</p>",
          "shape": "SnsDestination"
        }
      },
      "required": [
        "ConfigurationSetName",
        "EventDestinationName",
        "MatchingEventTypes"
      ],
      "type": "structure"
    },
    "CreateEventDestinationResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The ARN of the configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "EventDestination": {
          "documentation": "<p>The details of the destination where events are logged.</p>",
          "shape": "EventDestination"
        }
      },
      "type": "structure"
    },
    "CreateOptOutListRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the new OptOutList.</p>",
          "shape": "OptOutListName"
        },
        "Tags": {
          "documentation": "<p>An array of tags (key and value pairs) to associate with the new OptOutList.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "OptOutListName"
      ],
      "type": "structure"
    },
    "CreateOptOutListResult": {
      "members": {
        "CreatedTimestamp": {
          "documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "OptOutListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the OptOutList.</p>",
          "shape": "String"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the new OptOutList.</p>",
          "shape": "OptOutListName"
        },
        "Tags": {
          "documentation": "<p>An array of tags (key and value pairs) associated with the new OptOutList.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "CreatePoolRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "DeletionProtectionEnabled": {
          "documentation": "<p>By default this is set to false. When set to true the pool can't be deleted. You can change this value using the <a>UpdatePool</a> action.</p>",
          "shape": "Boolean"
        },
        "IsoCountryCode": {
          "documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the new pool.</p>",
          "shape": "IsoCountryCode"
        },
        "MessageType": {
          "documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive.</p>",
          "shape": "MessageType"
        },
        "OriginationIdentity": {
          "documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p>",
          "shape": "PhoneOrSenderIdOrArn"
        },
        "Tags": {
          "documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "OriginationIdentity",
        "IsoCountryCode",
        "MessageType"
      ],
      "type": "structure"
    },
    "CreatePoolResult": {
      "members": {
        "CreatedTimestamp": {
          "documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "DeletionProtectionEnabled": {
          "documentation": "<p>When set to true deletion protection is enabled. By default this is set to false. </p>",
          "shape": "PrimitiveBoolean"
        },
        "MessageType": {
          "documentation": "<p>The type of message for the pool to use.</p>",
          "shape": "MessageType"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the OptOutList associated with the pool.</p>",
          "shape": "OptOutListName"
        },
        "PoolArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the pool.</p>",
          "shape": "String"
        },
        "PoolId": {
          "documentation": "<p>The unique identifier for the pool.</p>",
          "shape": "String"
        },
        "SelfManagedOptOutsEnabled": {
          "documentation": "<p>By default this is set to false. When an end recipient sends a message that begins with HELP or STOP to one of your dedicated numbers, Amazon Pinpoint automatically replies with a customizable message and adds the end recipient to the OptOutList. When set to true you're responsible for responding to HELP and STOP requests. You're also responsible for tracking and honoring opt-out requests.</p>",
          "shape": "PrimitiveBoolean"
        },
        "SharedRoutesEnabled": {
          "documentation": "<p>Indicates whether shared routes are enabled for the pool.</p>",
          "shape": "PrimitiveBoolean"
        },
        "Status": {
          "documentation": "<p>The current status of the pool.</p> <ul> <li> <p>CREATING: The pool is currently being created and isn't yet available for use.</p> </li> <li> <p>ACTIVE: The pool is active and available for use.</p> </li> <li> <p>DELETING: The pool is being deleted.</p> </li> </ul>",
          "shape": "PoolStatus"
        },
        "Tags": {
          "documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>",
          "shape": "TagList"
        },
        "TwoWayChannelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the two way channel.</p>",
          "shape": "TwoWayChannelArn"
        },
        "TwoWayEnabled": {
          "documentation": "<p>By default this is set to false. When set to true you can receive incoming text messages from your end recipients.</p>",
          "shape": "PrimitiveBoolean"
        }
      },
      "type": "structure"
    },
    "DeleteConfigurationSetRequest": {
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set or the configuration set ARN that you want to delete. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
          "shape": "ConfigurationSetNameOrArn"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "DeleteConfigurationSetResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deleted configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the deleted configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time that the deleted configuration set was created in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "DefaultMessageType": {
          "documentation": "<p>The default message type of the configuration set that was deleted.</p>",
          "shape": "MessageType"
        },
        "DefaultSenderId": {
          "documentation": "<p>The default Sender ID of the configuration set that was deleted.</p>",
          "shape": "SenderId"
        },
        "EventDestinations": {
          "documentation": "<p>An array of any EventDestination objects that were associated with the deleted configuration set.</p>",
          "shape": "EventDestinationList"
        }
      },
      "type": "structure"
    },
    "DeleteDefaultMessageTypeRequest": {
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN) to delete the default message type from. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
          "shape": "ConfigurationSetNameOrArn"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "DeleteDefaultMessageTypeResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "MessageType": {
          "documentation": "<p>The current message type for the configuration set.</p>",
          "shape": "MessageType"
        }
      },
      "type": "structure"
    },
    "DeleteDefaultSenderIdRequest": {
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN) to delete the default sender ID from. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
          "shape": "ConfigurationSetNameOrArn"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "DeleteDefaultSenderIdResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "SenderId": {
          "documentation": "<p>The current sender ID for the configuration set.</p>",
          "shape": "SenderId"
        }
      },
      "type": "structure"
    },
    "DeleteEventDestinationRequest": {
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set or the configuration set's Amazon Resource Name (ARN) to remove the event destination from. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
          "shape": "ConfigurationSetNameOrArn"
        },
        "EventDestinationName": {
          "documentation": "<p>The name of the event destination to delete.</p>",
          "shape": "EventDestinationName"
        }
      },
      "required": [
        "ConfigurationSetName",
        "EventDestinationName"
      ],
      "type": "structure"
    },
    "DeleteEventDestinationResult": {
      "members": {
        "ConfigurationSetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>",
          "shape": "String"
        },
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set the event destination was deleted from.</p>",
          "shape": "ConfigurationSetName"
        },
        "EventDestination": {
          "documentation": "<p>The event destination object that was deleted.</p>",
          "shape": "EventDestination"
        }
      },
      "type": "structure"
    },
    "DeleteKeywordRequest": {
      "members": {
        "Keyword": {
          "documentation": "<p>The keyword to delete.</p>",
          "shape": "Keyword"
        },
        "OriginationIdentity": {
          "documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, PoolId or PoolArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn and <a>DescribePools</a> to find the values of PoolId and PoolArn.</p>",
          "shape": "PhoneOrPoolIdOrArn"
        }
      },
      "required": [
        "OriginationIdentity",
        "Keyword"
      ],
      "type": "structure"
    },
    "DeleteKeywordResult": {
      "members": {
        "Keyword": {
          "documentation": "<p>The keyword that was deleted.</p>",
          "shape": "Keyword"
        },
        "KeywordAction": {
          "documentation": "<p>The action that was associated with the deleted keyword.</p>",
          "shape": "KeywordAction"
        },
        "KeywordMessage": {
          "documentation": "<p>The message that was associated with the deleted keyword.</p>",
          "shape": "KeywordMessage"
        },
        "OriginationIdentity": {
          "documentation": "<p>The PhoneNumberId or PoolId that the keyword was associated with.</p>",
          "shape": "String"
        },
        "OriginationIdentityArn": {
          "documentation": "<p>The PhoneNumberArn or PoolArn that the keyword was associated with.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteOptOutListRequest": {
      "members": {
        "OptOutListName": {
          "documentation": "<p>The OptOutListName or OptOutListArn of the OptOutList to delete. You can use <a>DescribeOptOutLists</a> to find the values for OptOutListName and OptOutListArn.</p>",
          "shape": "OptOutListNameOrArn"
        }
      },
      "required": [
        "OptOutListName"
      ],
      "type": "structure"
    },
    "DeleteOptOutListResult": {
      "members": {
        "CreatedTimestamp": {
          "documentation": "<p>The time when the OptOutList was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "OptOutListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the OptOutList that was removed.</p>",
          "shape": "String"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the OptOutList that was removed.</p>",
          "shape": "OptOutListName"
        }
      },
      "type": "structure"
    },
    "DeleteOptedOutNumberRequest": {
      "members": {
        "OptOutListName": {
          "documentation": "<p>The OptOutListName or OptOutListArn to remove the phone number from.</p>",
          "shape": "OptOutListNameOrArn"
        },
        "OptedOutNumber": {
          "documentation": "<p>The phone number, in E.164 format, to remove from the OptOutList.</p>",
          "shape": "PhoneNumber"
        }
      },
      "required": [
        "OptOutListName",
        "OptedOutNumber"
      ],
      "type": "structure"
    },
    "DeleteOptedOutNumberResult": {
      "members": {
        "EndUserOptedOut": {
          "documentation": "<p>This is true if it was the end user who requested their phone number be removed. </p>",
          "shape": "PrimitiveBoolean"
        },
        "OptOutListArn": {
          "documentation": "<p>The OptOutListArn that the phone number was removed from.</p>",
          "shape": "String"
        },
        "OptOutListName": {
          "documentation": "<p>The OptOutListName that the phone number was removed from.</p>",
          "shape": "OptOutListName"
        },
        "OptedOutNumber": {
          "documentation": "<p>The phone number that was removed from the OptOutList.</p>",
          "shape": "PhoneNumber"
        },
        "OptedOutTimestamp": {
          "documentation": "<p>The time that the number was removed at, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DeletePoolRequest": {
      "members": {
        "PoolId": {
          "documentation": "<p>The PoolId or PoolArn of the pool to delete. You can use <a>DescribePools</a> to find the values for PoolId and PoolArn .</p>",
          "shape": "PoolIdOrArn"
        }
      },
      "required": [
        "PoolId"
      ],
      "type": "structure"
    },
    "DeletePoolResult": {
      "members": {
        "CreatedTimestamp": {
          "documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
          "shape": "Timestamp"
        },
        "MessageType": {
          "documentation": "<p>The message type that was associated with the deleted pool.</p>",
          "shape": "MessageType"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the OptOutList that was associated with the deleted pool.</p>",
          "shape": "OptOutListName"
        },
        "PoolArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the pool that was deleted.</p>",
          "shape": "String"
        },
        "PoolId": {
          "documentation": "<p>The PoolId of the pool that was deleted.</p>",
          "shape": "String"
        },
        "SelfManagedOptOutsEnabled": {
          "documentation": "<p>By default this is set to false. When an end recipient sends a message that begins with HELP or STOP to one of your dedicated numbers, Amazon Pinpoint automatically replies with a customizable message and adds the end recipient to the OptOutList. When set to true you're responsible for responding to HELP and STOP requests. You're also responsible for tracking and honoring opt-out requests.</p>",
          "shape": "PrimitiveBoolean"
        },
        "SharedRoutesEnabled": {
          "documentation": "<p>Indicates whether shared routes are enabled for the pool.</p>",
          "shape": "PrimitiveBoolean"
        },
        "Status": {
          "documentation": "<p>The current status of the pool.</p> <ul> <li> <p>CREATING: The pool is currently being created and isn't yet available for use.</p> </li> <li> <p>ACTIVE: The pool is active and available for use.</p> </li> <li> <p>DELETING: The pool is being deleted.</p> </li> </ul>",
          "shape": "PoolStatus"
        },
        "TwoWayChannelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the TwoWayChannel.</p>",
          "shape": "TwoWayChannelArn"
        },
        "TwoWayEnabled": {
          "documentation": "<p>By default this is set to false. When set to true you can receive incoming text messages from your end recipients.</p>",
          "shape": "PrimitiveBoolean"
        }
      },
      "type": "structure"
    },
    "DeleteTextMessageSpendLimitOverrideRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteTextMessageSpendLimitOverrideResult": {
      "members": {
        "MonthlyLimit": {
          "documentation": "<p>The current monthly limit, in US dollars.</p>",
          "shape": "MonthlyLimit"
        }
      },
      "type": "structure"
    },
    "DeleteVoiceMessageSpendLimitOverrideRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteVoiceMessageSpendLimitOverrideResult": {
      "members": {
        "MonthlyLimit": {
          "documentation": "<p>The current monthly limit, in US dollars.</p>",
          "shape": "MonthlyLimit"
        }
      },
      "type": "structure"
    },
    "DeliveryStreamArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:\\S+",
      "type": "string"
    },
    "DescribeAccountAttributesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeAccountAttributesResult": {
      "members": {
        "AccountAttributes": {
          "documentation": "<p>An array of AccountAttributes objects.</p>",
          "shape": "AccountAttributeList"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeAccountLimitsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeAccountLimitsResult": {
      "members": {
        "AccountLimits": {
          "documentation": "<p>An array of AccountLimit objects that show the current spend limits.</p>",
          "shape": "AccountLimitList"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationSetsRequest": {
      "members": {
        "ConfigurationSetNames": {
          "documentation": "<p>An array of strings. Each element can be either a ConfigurationSetName or ConfigurationSetArn.</p>",
          "shape": "ConfigurationSetNameList"
        },
        "Filters": {
          "documentation": "<p>An array of filters to apply to the results that are returned.</p>",
          "shape": "ConfigurationSetFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationSetsResult": {
      "members": {
        "ConfigurationSets": {
          "documentation": "<p>An array of ConfigurationSets objects.</p>",
          "shape": "ConfigurationSetInformationList"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeKeywordsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of keyword filters to filter the results.</p>",
          "shape": "KeywordFilterList"
        },
        "Keywords": {
          "documentation": "<p>An array of keywords to search for.</p>",
          "shape": "KeywordList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "OriginationIdentity": {
          "documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p>",
          "shape": "PhoneOrPoolIdOrArn"
        }
      },
      "required": [
        "OriginationIdentity"
      ],
      "type": "structure"
    },
    "DescribeKeywordsResult": {
      "members": {
        "Keywords": {
          "documentation": "<p>An array of KeywordInformation objects that contain the results.</p>",
          "shape": "KeywordInformationList"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "OriginationIdentity": {
          "documentation": "<p>The PhoneNumberId or PoolId that is associated with the OriginationIdentity.</p>",
          "shape": "String"
        },
        "OriginationIdentityArn": {
          "documentation": "<p>The PhoneNumberArn or PoolArn that is associated with the OriginationIdentity. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeOptOutListsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "OptOutListNames": {
          "documentation": "<p>The OptOutLists to show the details of. This is an array of strings that can be either the OptOutListName or OptOutListArn.</p>",
          "shape": "OptOutListNameList"
        }
      },
      "type": "structure"
    },
    "DescribeOptOutListsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "OptOutLists": {
          "documentation": "<p>An array of OptOutListInformation objects that contain the details for the requested OptOutLists.</p>",
          "shape": "OptOutListInformationList"
        }
      },
      "type": "structure"
    },
    "DescribeOptedOutNumbersRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of OptedOutFilter objects to filter the results on.</p>",
          "shape": "OptedOutFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "OptOutListName": {
          "documentation": "<p>The OptOutListName or OptOutListArn of the OptOutList. You can use <a>DescribeOptOutLists</a> to find the values for OptOutListName and OptOutListArn.</p>",
          "shape": "OptOutListNameOrArn"
        },
        "OptedOutNumbers": {
          "documentation": "<p>An array of phone numbers to search for in the OptOutList.</p>",
          "shape": "OptedOutNumberList"
        }
      },
      "required": [
        "OptOutListName"
      ],
      "type": "structure"
    },
    "DescribeOptedOutNumbersResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "OptOutListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the OptOutList.</p>",
          "shape": "String"
        },
        "OptOutListName": {
          "documentation": "<p>The name of the OptOutList.</p>",
          "shape": "OptOutListName"
        },
        "OptedOutNumbers": {
          "documentation": "<p>An array of OptedOutNumbersInformation objects that provide information about the requested OptedOutNumbers.</p>",
          "shape": "OptedOutNumberInformationList"
        }
      },
      "type": "structure"
    },
    "DescribePhoneNumbersRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of PhoneNumberFilter objects to filter the results.</p>",
          "shape": "PhoneNumberFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "PhoneNumberIds": {
          "documentation": "<p>The unique identifier of phone numbers to find information about. This is an array of strings that can be either the PhoneNumberId or PhoneNumberArn.</p>",
          "shape": "PhoneNumberIdList"
        }
      },
      "type": "structure"
    },
    "DescribePhoneNumbersResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "PhoneNumbers": {
          "documentation": "<p>An array of PhoneNumberInformation objects that contain the details for the requested phone numbers.</p>",
          "shape": "PhoneNumberInformationList"
        }
      },
      "type": "structure"
    },
    "DescribePoolsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of PoolFilter objects to filter the results.</p>",
          "shape": "PoolFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "PoolIds": {
          "documentation": "<p>The unique identifier of pools to find. This is an array of strings that can be either the PoolId or PoolArn.</p>",
          "shape": "PoolIdList"
        }
      },
      "type": "structure"
    },
    "DescribePoolsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "Pools": {
          "documentation": "<p>An array of PoolInformation objects that contain the details for the requested pools. </p>",
          "shape": "PoolInformationList"
        }
      },
      "type": "structure"
    },
    "DescribeSenderIdsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of SenderIdFilter objects to filter the results.</p>",
          "shape": "SenderIdFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        },
        "SenderIds": {
          "documentation": "<p>An array of SenderIdAndCountry objects to search for.</p>",
          "shape": "SenderIdList"
        }
      },
      "type": "structure"
    },
    "DescribeSenderIdsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "SenderIds": {
          "documentation": "<p>An array of SernderIdInformation objects that contain the details for the requested SenderIds.</p>",
          "shape": "SenderIdInformationList"
        }
      },
      "type": "structure"
    },
    "DescribeSpendLimitsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return per each request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. You don't need to supply a value for this field in the initial request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeSpendLimitsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to be used for the next set of paginated results. If this field is empty then there are no more results.</p>",
          "shape": "NextToken"
        },
        "SpendLimits": {
          "documentation": "<p>An array of SpendLimit objects that contain the details for the requested spend limits.</p>",
          "shape": "SpendLimitList"
        }
      },
      "type": "structure"
    },
    "DestinationCountryParameterKey": {
      "enum": [
        "IN_TEMPLATE_ID",
        "IN_ENTITY_ID"
      ],
      "type": "string"
    },
    "DestinationCountryParameterValue": {
      "max": 64,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "DestinationCountryParameters": {
      "key": {
        "shape": "DestinationCountryParameterKey"
      },
      "max": 10,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "DestinationCountryParameterValue"
      }
    },
    "DisassociateOriginationIdentityRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "IsoCountryCode": {
          "documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. </p>",
          "shape": "IsoCountryCode"
        },
        "OriginationIdentity": {
          "documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use <a>DescribePhoneNumbers</a> find the values for PhoneNumberId and PhoneNumberArn, or use <a>DescribeSenderIds</a> to get the values for SenderId and SenderIdArn.</p>",
          "shape": "PhoneOrSenderIdOrArn"
        },
        "PoolId": {
          "documentation": "<p>The unique identifier for the pool to disassociate with the origination identity. This value can be either the PoolId or PoolArn.</p>",
          "shape": "PoolIdOrArn"
        }
      },
      "required": [
        "PoolId",
        "OriginationIdentity",
        "IsoCountryCode"
      ],
      "type": "structure"
    },
    "DisassociateOriginationIdentityResult": {
      "members": {
        "IsoCountryCode": {
          "documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region.</p>",
          "shape": "IsoCountryCode"
        },
        "OriginationIdentity": {
          "documentation": "<p>The PhoneNumberId or SenderId of the origination identity.</p>",
          "shape": "String"
        },
        "OriginationIdentityArn": {
          "documentation": "<p>The PhoneNumberArn or SenderIdArn of the origination identity.</p>",
          "shape": "String"
        },
        "PoolArn": {
[...]
