{
  "documentation": "API for AWS Elemental MediaConnect",
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "mediaconnect",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS MediaConnect",
    "serviceId": "MediaConnect",
    "signatureVersion": "v4",
    "signingName": "mediaconnect",
    "uid": "mediaconnect-2018-11-14"
  },
  "operations": {
    "AddFlowMediaStreams": {
      "documentation": "Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowMediaStreamsRequest"
      },
      "name": "AddFlowMediaStreams",
      "output": {
        "documentation": "MediaConnect created the new resource successfully.",
        "shape": "AddFlowMediaStreamsResponse"
      }
    },
    "AddFlowOutputs": {
      "documentation": "Adds outputs to an existing flow. You can create up to 50 outputs per flow.",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed outputs (50). For more information, contact AWS Customer Support.",
          "shape": "AddFlowOutputs420Exception"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/outputs",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowOutputsRequest"
      },
      "name": "AddFlowOutputs",
      "output": {
        "documentation": "AWS Elemental MediaConnect added the outputs successfully.",
        "shape": "AddFlowOutputsResponse"
      }
    },
    "AddFlowSources": {
      "documentation": "Adds Sources to flow",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/source",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowSourcesRequest"
      },
      "name": "AddFlowSources",
      "output": {
        "documentation": "AWS Elemental MediaConnect added sources to the flow successfully.",
        "shape": "AddFlowSourcesResponse"
      }
    },
    "AddFlowVpcInterfaces": {
      "documentation": "Adds VPC interfaces to flow",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/vpcInterfaces",
        "responseCode": 201
      },
      "input": {
        "shape": "AddFlowVpcInterfacesRequest"
      },
      "name": "AddFlowVpcInterfaces",
      "output": {
        "documentation": "The following VPC interface was added to the Flow configuration.",
        "shape": "AddFlowVpcInterfacesResponse"
      }
    },
    "CreateFlow": {
      "documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
      "errors": [
        {
          "documentation": "Your account already contains the maximum number of 20 flows per account, per Region. For more information, contact AWS Customer Support.",
          "shape": "CreateFlow420Exception"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFlowRequest"
      },
      "name": "CreateFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect created the new flow successfully.",
        "shape": "CreateFlowResponse"
      }
    },
    "DeleteFlow": {
      "documentation": "Deletes a flow. Before you can delete a flow, you must stop the flow.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteFlowRequest"
      },
      "name": "DeleteFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect is deleting the flow.",
        "shape": "DeleteFlowResponse"
      }
    },
    "DescribeFlow": {
      "documentation": "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeFlowRequest"
      },
      "name": "DescribeFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect returned the flow details successfully.",
        "shape": "DescribeFlowResponse"
      }
    },
    "DescribeOffering": {
      "documentation": "Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN).",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/offerings/{offeringArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "name": "DescribeOffering",
      "output": {
        "documentation": "MediaConnect returned the offering details successfully.",
        "shape": "DescribeOfferingResponse"
      }
    },
    "DescribeReservation": {
      "documentation": "Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth).",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/reservations/{reservationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "name": "DescribeReservation",
      "output": {
        "documentation": "MediaConnect returned the reservation details successfully.",
        "shape": "DescribeReservationResponse"
      }
    },
    "GrantFlowEntitlements": {
      "documentation": "Grants entitlements to an existing flow.",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect can't complete this request because this flow already has the maximum number of allowed entitlements (50). For more information, contact AWS Customer Support.",
          "shape": "GrantFlowEntitlements420Exception"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/{flowArn}/entitlements",
        "responseCode": 200
      },
      "input": {
        "shape": "GrantFlowEntitlementsRequest"
      },
      "name": "GrantFlowEntitlements",
      "output": {
        "documentation": "AWS Elemental MediaConnect granted the entitlements successfully.",
        "shape": "GrantFlowEntitlementsResponse"
      }
    },
    "ListEntitlements": {
      "documentation": "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/entitlements",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEntitlementsRequest"
      },
      "name": "ListEntitlements",
      "output": {
        "documentation": "AWS Elemental MediaConnect returned the list of entitlements successfully.",
        "shape": "ListEntitlementsResponse"
      }
    },
    "ListFlows": {
      "documentation": "Displays a list of flows that are associated with this account. This request returns a paginated result.",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/flows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFlowsRequest"
      },
      "name": "ListFlows",
      "output": {
        "documentation": "AWS Elemental MediaConnect returned the list of flows successfully.",
        "shape": "ListFlowsResponse"
      }
    },
    "ListOfferings": {
      "documentation": "Displays a list of all offerings that are available to this account in the current AWS Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings.",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "name": "ListOfferings",
      "output": {
        "documentation": "MediaConnect returned the list of offerings successfully.",
        "shape": "ListOfferingsResponse"
      }
    },
    "ListReservations": {
      "documentation": "Displays a list of all reservations that have been purchased by this account in the current AWS Region. This list includes all reservations in all states (such as active and expired).",
      "errors": [
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "name": "ListReservations",
      "output": {
        "documentation": "MediaConnect returned the list of reservations successfully.",
        "shape": "ListReservationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "List all tags on an AWS Elemental MediaConnect resource",
      "errors": [
        {
          "documentation": "The requested resource was not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "The client performed an invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "The tags for the resource",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PurchaseOffering": {
      "documentation": "Submits a request to purchase an offering. If you already have an active reservation, you can't purchase another offering.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/offerings/{offeringArn}",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "name": "PurchaseOffering",
      "output": {
        "documentation": "AWS Elemental MediaConnect purchased offering successfully.",
        "shape": "PurchaseOfferingResponse"
      }
    },
    "RemoveFlowMediaStream": {
      "documentation": "Removes a media stream from a flow. This action is only available if the media stream is not associated with a source or output.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams/{mediaStreamName}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveFlowMediaStreamRequest"
      },
      "name": "RemoveFlowMediaStream",
      "output": {
        "documentation": "The media stream was successfully removed from the flow.",
        "shape": "RemoveFlowMediaStreamResponse"
      }
    },
    "RemoveFlowOutput": {
      "documentation": "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/outputs/{outputArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveFlowOutputRequest"
      },
      "name": "RemoveFlowOutput",
      "output": {
        "documentation": "output successfully removed from flow configuration.",
        "shape": "RemoveFlowOutputResponse"
      }
    },
    "RemoveFlowSource": {
      "documentation": "Removes a source from an existing flow. This request can be made only if there is more than one source on the flow.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/source/{sourceArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RemoveFlowSourceRequest"
      },
      "name": "RemoveFlowSource",
      "output": {
        "documentation": "source successfully removed from flow configuration.",
        "shape": "RemoveFlowSourceResponse"
      }
    },
    "RemoveFlowVpcInterface": {
      "documentation": "Removes a VPC Interface from an existing flow. This request can be made only on a VPC interface that does not have a Source or Output associated with it. If the VPC interface is referenced by a Source or Output, you must first delete or update the Source or Output to no longer reference the VPC interface.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/vpcInterfaces/{vpcInterfaceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveFlowVpcInterfaceRequest"
      },
      "name": "RemoveFlowVpcInterface",
      "output": {
        "documentation": "VPC interface successfully removed from flow configuration.",
        "shape": "RemoveFlowVpcInterfaceResponse"
      }
    },
    "RevokeFlowEntitlement": {
      "documentation": "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/flows/{flowArn}/entitlements/{entitlementArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "RevokeFlowEntitlementRequest"
      },
      "name": "RevokeFlowEntitlement",
      "output": {
        "documentation": "AWS Elemental MediaConnect revoked the entitlement successfully.",
        "shape": "RevokeFlowEntitlementResponse"
      }
    },
    "StartFlow": {
      "documentation": "Starts a flow.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/start/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "StartFlowRequest"
      },
      "name": "StartFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect is starting the flow.",
        "shape": "StartFlowResponse"
      }
    },
    "StopFlow": {
      "documentation": "Stops a flow.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/flows/stop/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "StopFlowRequest"
      },
      "name": "StopFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect is stopping the flow.",
        "shape": "StopFlowResponse"
      }
    },
    "TagResource": {
      "documentation": "Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.",
      "errors": [
        {
          "documentation": "The requested resource was not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "The client performed an invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "Deletes specified tags from a resource.",
      "errors": [
        {
          "documentation": "The requested resource was not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "The client performed an invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateFlow": {
      "documentation": "Updates flow",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowRequest"
      },
      "name": "UpdateFlow",
      "output": {
        "documentation": "AWS Elemental MediaConnect updated the flow successfully.",
        "shape": "UpdateFlowResponse"
      }
    },
    "UpdateFlowEntitlement": {
      "documentation": "You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/entitlements/{entitlementArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowEntitlementRequest"
      },
      "name": "UpdateFlowEntitlement",
      "output": {
        "documentation": "AWS Elemental MediaConnect updated the entitlement successfully.",
        "shape": "UpdateFlowEntitlementResponse"
      }
    },
    "UpdateFlowMediaStream": {
      "documentation": "Updates an existing media stream.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/mediaStreams/{mediaStreamName}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowMediaStreamRequest"
      },
      "name": "UpdateFlowMediaStream",
      "output": {
        "documentation": "MediaConnect is updating the media stream.",
        "shape": "UpdateFlowMediaStreamResponse"
      }
    },
    "UpdateFlowOutput": {
      "documentation": "Updates an existing flow output.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/outputs/{outputArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowOutputRequest"
      },
      "name": "UpdateFlowOutput",
      "output": {
        "documentation": "AWS Elemental MediaConnect updated the output successfully.",
        "shape": "UpdateFlowOutputResponse"
      }
    },
    "UpdateFlowSource": {
      "documentation": "Updates the source of a flow.",
      "errors": [
        {
          "documentation": "The request that you submitted is not valid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "AWS Elemental MediaConnect can't fulfill your request because it encountered an unexpected condition.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the required permissions to perform this operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "AWS Elemental MediaConnect did not find the resource that you specified in the request.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "AWS Elemental MediaConnect is currently unavailable. Try again later.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "You have exceeded the service request rate limit for your AWS Elemental MediaConnect account.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/flows/{flowArn}/source/{sourceArn}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateFlowSourceRequest"
      },
      "name": "UpdateFlowSource",
      "output": {
        "documentation": "AWS Elemental MediaConnect updated the flow successfully.",
        "shape": "UpdateFlowSourceResponse"
      }
    }
  },
  "shapes": {
    "AddFlowMediaStreamsRequest": {
      "documentation": "A request to add media streams to the flow.",
      "members": {
        "FlowArn": {
          "documentation": "The Amazon Resource Name (ARN) of the flow.",
          "location": "uri",
          "locationName": "flowArn",
          "pattern": "^arn:.+:mediaconnect.+:flow:.+$",
          "shape": "__string"
        },
        "MediaStreams": {
          "documentation": "The media streams that you want to add to the flow.",
          "locationName": "mediaStreams",
          "shape": "__listOfAddMediaStreamRequest"
        }
      },
      "required": [
        "FlowArn",
        "MediaStreams"
      ],
      "type": "structure"
    },
    "AddFlowMediaStreamsResponse": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that you added media streams to.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "MediaStreams": {
          "documentation": "The media streams that you added to the flow.",
          "locationName": "mediaStreams",
          "shape": "__listOfMediaStream"
        }
      },
      "type": "structure"
    },
    "AddFlowOutputs420Exception": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 420
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AddFlowOutputsRequest": {
      "documentation": "A request to add outputs to the specified flow.",
      "members": {
        "FlowArn": {
          "documentation": "The flow that you want to add outputs to.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Outputs": {
          "documentation": "A list of outputs that you want to add.",
          "locationName": "outputs",
          "shape": "__listOfAddOutputRequest"
        }
      },
      "required": [
        "FlowArn",
        "Outputs"
      ],
      "type": "structure"
    },
    "AddFlowOutputsResponse": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that these outputs were added to.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Outputs": {
          "documentation": "The details of the newly added outputs.",
          "locationName": "outputs",
          "shape": "__listOfOutput"
        }
      },
      "type": "structure"
    },
    "AddFlowSourcesRequest": {
      "documentation": "A request to add sources to the flow.",
      "members": {
        "FlowArn": {
          "documentation": "The flow that you want to mutate.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Sources": {
          "documentation": "A list of sources that you want to add.",
          "locationName": "sources",
          "shape": "__listOfSetSourceRequest"
        }
      },
      "required": [
        "FlowArn",
        "Sources"
      ],
      "type": "structure"
    },
    "AddFlowSourcesResponse": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that these sources were added to.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Sources": {
          "documentation": "The details of the newly added sources.",
          "locationName": "sources",
          "shape": "__listOfSource"
        }
      },
      "type": "structure"
    },
    "AddFlowVpcInterfacesRequest": {
      "documentation": "A request to add VPC interfaces to the flow.",
      "members": {
        "FlowArn": {
          "documentation": "The flow that you want to mutate.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "VpcInterfaces": {
          "documentation": "A list of VPC interfaces that you want to add.",
          "locationName": "vpcInterfaces",
          "shape": "__listOfVpcInterfaceRequest"
        }
      },
      "required": [
        "FlowArn",
        "VpcInterfaces"
      ],
      "type": "structure"
    },
    "AddFlowVpcInterfacesResponse": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that these VPC interfaces were added to.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "VpcInterfaces": {
          "documentation": "The details of the newly added VPC interfaces.",
          "locationName": "vpcInterfaces",
          "shape": "__listOfVpcInterface"
        }
      },
      "type": "structure"
    },
    "AddMaintenance": {
      "documentation": "Create maintenance setting for a flow",
      "members": {
        "MaintenanceDay": {
          "documentation": "A day of a week when the maintenance will happen. Use Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday.",
          "locationName": "maintenanceDay",
          "shape": "MaintenanceDay"
        },
        "MaintenanceStartHour": {
          "documentation": "UTC time when the maintenance will happen. Use 24-hour HH:MM format. Minutes must be 00. Example: 13:00. The default value is 02:00.",
          "locationName": "maintenanceStartHour",
          "shape": "__string"
        }
      },
      "required": [
        "MaintenanceDay",
        "MaintenanceStartHour"
      ],
      "type": "structure"
    },
    "AddMediaStreamRequest": {
      "documentation": "The media stream that you want to add to the flow.",
      "members": {
        "Attributes": {
          "documentation": "The attributes that you want to assign to the new media stream.",
          "locationName": "attributes",
          "shape": "MediaStreamAttributesRequest"
        },
        "ClockRate": {
          "documentation": "The sample rate (in Hz) for the stream. If the media stream type is video or ancillary data, set this value to 90000. If the media stream type is audio, set this value to either 48000 or 96000.",
          "locationName": "clockRate",
          "shape": "__integer"
        },
        "Description": {
          "documentation": "A description that can help you quickly identify what your media stream is used for.",
          "locationName": "description",
          "shape": "__string"
        },
        "MediaStreamId": {
          "documentation": "A unique identifier for the media stream.",
          "locationName": "mediaStreamId",
          "shape": "__integer"
        },
        "MediaStreamName": {
          "documentation": "A name that helps you distinguish one media stream from another.",
          "locationName": "mediaStreamName",
          "shape": "__string"
        },
        "MediaStreamType": {
          "documentation": "The type of media stream.",
          "locationName": "mediaStreamType",
          "shape": "MediaStreamType"
        },
        "VideoFormat": {
          "documentation": "The resolution of the video.",
          "locationName": "videoFormat",
          "shape": "__string"
        }
      },
      "required": [
        "MediaStreamType",
        "MediaStreamId",
        "MediaStreamName"
      ],
      "type": "structure"
    },
    "AddOutputRequest": {
      "documentation": "The output that you want to add to this flow.",
      "members": {
        "CidrAllowList": {
          "documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
          "locationName": "cidrAllowList",
          "shape": "__listOf__string"
        },
        "Description": {
          "documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
          "locationName": "description",
          "shape": "__string"
        },
        "Destination": {
          "documentation": "The IP address from which video will be sent to output destinations.",
          "locationName": "destination",
          "shape": "__string"
        },
        "Encryption": {
          "documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
          "locationName": "encryption",
          "shape": "Encryption"
        },
        "MaxLatency": {
          "documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based, Zixi-based, and Fujitsu-based streams.",
          "locationName": "maxLatency",
          "shape": "__integer"
        },
        "MediaStreamOutputConfigurations": {
          "documentation": "The media streams that are associated with the output, and the parameters for those associations.",
          "locationName": "mediaStreamOutputConfigurations",
          "shape": "__listOfMediaStreamOutputConfigurationRequest"
        },
        "MinLatency": {
          "documentation": "The minimum latency in milliseconds for SRT-based streams. In streams that use the SRT protocol, this value that you set on your MediaConnect source or output represents the minimal potential latency of that connection. The latency of the stream is set to the highest number between the sender\u2019s minimum latency and the receiver\u2019s minimum latency.",
          "locationName": "minLatency",
          "shape": "__integer"
        },
        "Name": {
          "documentation": "The name of the output. This value must be unique within the current flow.",
          "locationName": "name",
          "shape": "__string"
        },
        "Port": {
          "documentation": "The port to use when content is distributed to this output.",
          "locationName": "port",
          "shape": "__integer"
        },
        "Protocol": {
          "documentation": "The protocol to use for the output.",
          "locationName": "protocol",
          "shape": "Protocol"
        },
        "RemoteId": {
          "documentation": "The remote ID for the Zixi-pull output stream.",
          "locationName": "remoteId",
          "shape": "__string"
        },
        "SenderControlPort": {
          "documentation": "The port that the flow uses to send outbound requests to initiate connection with the sender.",
          "locationName": "senderControlPort",
          "shape": "__integer"
        },
        "SmoothingLatency": {
          "documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
          "locationName": "smoothingLatency",
          "shape": "__integer"
        },
        "StreamId": {
          "documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
          "locationName": "streamId",
          "shape": "__string"
        },
        "VpcInterfaceAttachment": {
          "documentation": "The name of the VPC interface attachment to use for this output.",
          "locationName": "vpcInterfaceAttachment",
          "shape": "VpcInterfaceAttachment"
        }
      },
      "required": [
        "Protocol"
      ],
      "type": "structure"
    },
    "Algorithm": {
      "enum": [
        "aes128",
        "aes192",
        "aes256"
      ],
      "type": "string"
    },
    "BadRequestException": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Colorimetry": {
      "enum": [
        "BT601",
        "BT709",
        "BT2020",
        "BT2100",
        "ST2065-1",
        "ST2065-3",
        "XYZ"
      ],
      "type": "string"
    },
    "CreateFlow420Exception": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 420
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "CreateFlowRequest": {
      "documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
      "members": {
        "AvailabilityZone": {
          "documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS Region.",
          "locationName": "availabilityZone",
          "shape": "__string"
        },
        "Entitlements": {
          "documentation": "The entitlements that you want to grant on a flow.",
          "locationName": "entitlements",
          "shape": "__listOfGrantEntitlementRequest"
        },
        "Maintenance": {
          "locationName": "maintenance",
          "shape": "AddMaintenance"
        },
        "MediaStreams": {
          "documentation": "The media streams that you want to add to the flow. You can associate these media streams with sources and outputs on the flow.",
          "locationName": "mediaStreams",
          "shape": "__listOfAddMediaStreamRequest"
        },
        "Name": {
          "documentation": "The name of the flow.",
          "locationName": "name",
          "shape": "__string"
        },
        "Outputs": {
          "documentation": "The outputs that you want to add to this flow.",
          "locationName": "outputs",
          "shape": "__listOfAddOutputRequest"
        },
        "Source": {
          "locationName": "source",
          "shape": "SetSourceRequest"
        },
        "SourceFailoverConfig": {
          "locationName": "sourceFailoverConfig",
          "shape": "FailoverConfig"
        },
        "Sources": {
          "locationName": "sources",
          "shape": "__listOfSetSourceRequest"
        },
        "VpcInterfaces": {
          "documentation": "The VPC interfaces you want on the flow.",
          "locationName": "vpcInterfaces",
          "shape": "__listOfVpcInterfaceRequest"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateFlowResponse": {
      "members": {
        "Flow": {
          "locationName": "flow",
          "shape": "Flow"
        }
      },
      "type": "structure"
    },
    "DeleteFlowRequest": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that you want to delete.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        }
      },
      "required": [
        "FlowArn"
      ],
      "type": "structure"
    },
    "DeleteFlowResponse": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that was deleted.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Status": {
          "documentation": "The status of the flow when the DeleteFlow process begins.",
          "locationName": "status",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DescribeFlowRequest": {
      "members": {
        "FlowArn": {
          "documentation": "The ARN of the flow that you want to describe.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        }
      },
      "required": [
        "FlowArn"
      ],
      "type": "structure"
    },
    "DescribeFlowResponse": {
      "members": {
        "Flow": {
          "locationName": "flow",
          "shape": "Flow"
        },
        "Messages": {
          "locationName": "messages",
          "shape": "Messages"
        }
      },
      "type": "structure"
    },
    "DescribeOfferingRequest": {
      "members": {
        "OfferingArn": {
          "documentation": "The Amazon Resource Name (ARN) of the offering.",
          "location": "uri",
          "locationName": "offeringArn",
          "shape": "__string"
        }
      },
      "required": [
        "OfferingArn"
      ],
      "type": "structure"
    },
    "DescribeOfferingResponse": {
      "members": {
        "Offering": {
          "locationName": "offering",
          "shape": "Offering"
        }
      },
      "type": "structure"
    },
    "DescribeReservationRequest": {
      "members": {
        "ReservationArn": {
          "documentation": "The Amazon Resource Name (ARN) of the reservation.",
          "location": "uri",
          "locationName": "reservationArn",
          "shape": "__string"
        }
      },
      "required": [
        "ReservationArn"
      ],
      "type": "structure"
    },
    "DescribeReservationResponse": {
      "members": {
        "Reservation": {
          "locationName": "reservation",
          "shape": "Reservation"
        }
      },
      "type": "structure"
    },
    "DestinationConfiguration": {
      "documentation": "The transport parameters that are associated with an outbound media stream.",
      "members": {
        "DestinationIp": {
          "documentation": "The IP address where contents of the media stream will be sent.",
          "locationName": "destinationIp",
          "shape": "__string"
        },
        "DestinationPort": {
          "documentation": "The port to use when the content of the media stream is distributed to the output.",
          "locationName": "destinationPort",
          "shape": "__integer"
        },
        "Interface": {
          "documentation": "The VPC interface that is used for the media stream associated with the output.",
          "locationName": "interface",
          "shape": "Interface"
        },
        "OutboundIp": {
          "documentation": "The IP address that the receiver requires in order to establish a connection with the flow. This value is represented by the elastic network interface IP address of the VPC. This field applies only to outputs that use the CDI or ST 2110 JPEG XS protocol.",
          "locationName": "outboundIp",
          "shape": "__string"
        }
      },
      "required": [
        "DestinationIp",
        "DestinationPort",
        "Interface",
        "OutboundIp"
      ],
      "type": "structure"
    },
    "DestinationConfigurationRequest": {
      "documentation": "The transport parameters that you want to associate with an outbound media stream.",
      "members": {
        "DestinationIp": {
          "documentation": "The IP address where you want MediaConnect to send contents of the media stream.",
          "locationName": "destinationIp",
          "shape": "__string"
        },
        "DestinationPort": {
          "documentation": "The port that you want MediaConnect to use when it distributes the media stream to the output.",
          "locationName": "destinationPort",
          "shape": "__integer"
        },
        "Interface": {
          "documentation": "The VPC interface that you want to use for the media stream associated with the output.",
          "locationName": "interface",
          "shape": "InterfaceRequest"
        }
      },
      "required": [
        "DestinationIp",
        "DestinationPort",
        "Interface"
      ],
      "type": "structure"
    },
    "DurationUnits": {
      "enum": [
        "MONTHS"
      ],
      "type": "string"
    },
    "EncoderProfile": {
      "enum": [
        "main",
        "high"
      ],
      "type": "string"
    },
    "EncodingName": {
      "enum": [
        "jxsv",
        "raw",
        "smpte291",
        "pcm"
      ],
      "type": "string"
    },
    "EncodingParameters": {
      "documentation": "A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source.",
      "members": {
        "CompressionFactor": {
          "documentation": "A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.",
          "locationName": "compressionFactor",
          "shape": "__double"
        },
        "EncoderProfile": {
          "documentation": "A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol.",
          "locationName": "encoderProfile",
          "shape": "EncoderProfile"
        }
      },
      "required": [
        "EncoderProfile",
        "CompressionFactor"
      ],
      "type": "structure"
    },
    "EncodingParametersRequest": {
      "documentation": "A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source.",
      "members": {
        "CompressionFactor": {
          "documentation": "A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.",
          "locationName": "compressionFactor",
          "shape": "__double"
        },
        "EncoderProfile": {
          "documentation": "A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, if at least one source on the flow uses the CDI protocol.",
          "locationName": "encoderProfile",
          "shape": "EncoderProfile"
        }
      },
      "required": [
        "EncoderProfile",
        "CompressionFactor"
      ],
      "type": "structure"
    },
    "Encryption": {
      "documentation": "Information about the encryption of the flow.",
      "members": {
        "Algorithm": {
          "documentation": "The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).",
          "locationName": "algorithm",
          "shape": "Algorithm"
        },
        "ConstantInitializationVector": {
          "documentation": "A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.",
          "locationName": "constantInitializationVector",
          "shape": "__string"
        },
        "DeviceId": {
          "documentation": "The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
          "locationName": "deviceId",
          "shape": "__string"
        },
        "KeyType": {
          "documentation": "The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
          "locationName": "keyType",
          "shape": "KeyType"
        },
        "Region": {
          "documentation": "The AWS Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
          "locationName": "region",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
          "locationName": "resourceId",
          "shape": "__string"
        },
        "RoleArn": {
          "documentation": "The ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect as a trusted entity).",
          "locationName": "roleArn",
          "shape": "__string"
        },
        "SecretArn": {
          "documentation": "The ARN of the secret that you created in AWS Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.",
          "locationName": "secretArn",
          "shape": "__string"
        },
        "Url": {
          "documentation": "The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
          "locationName": "url",
          "shape": "__string"
        }
      },
      "required": [
        "RoleArn"
      ],
      "type": "structure"
    },
    "Entitlement": {
      "documentation": "The settings for a flow entitlement.",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
          "locationName": "dataTransferSubscriberFeePercent",
          "shape": "__integer"
        },
        "Description": {
          "documentation": "A description of the entitlement.",
          "locationName": "description",
          "shape": "__string"
        },
        "Encryption": {
          "documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
          "locationName": "encryption",
          "shape": "Encryption"
        },
        "EntitlementArn": {
          "documentation": "The ARN of the entitlement.",
          "locationName": "entitlementArn",
          "shape": "__string"
        },
        "EntitlementStatus": {
          "documentation": "An indication of whether the entitlement is enabled.",
          "locationName": "entitlementStatus",
          "shape": "EntitlementStatus"
        },
        "Name": {
          "documentation": "The name of the entitlement.",
          "locationName": "name",
          "shape": "__string"
        },
        "Subscribers": {
          "documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flow using your content as the source.",
          "locationName": "subscribers",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "EntitlementArn",
        "Subscribers",
        "Name"
      ],
      "type": "structure"
    },
    "EntitlementStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "FailoverConfig": {
      "documentation": "The settings for source failover.",
      "members": {
        "FailoverMode": {
          "documentation": "The type of failover you choose for this flow. MERGE combines the source streams into a single stream, allowing graceful recovery from any single-source loss. FAILOVER allows switching between different streams.",
          "locationName": "failoverMode",
          "shape": "FailoverMode"
        },
        "RecoveryWindow": {
          "documentation": "Search window time to look for dash-7 packets",
          "locationName": "recoveryWindow",
          "shape": "__integer"
        },
        "SourcePriority": {
          "documentation": "The priority you want to assign to a source. You can have a primary stream and a backup stream or two equally prioritized streams.",
          "locationName": "sourcePriority",
          "shape": "SourcePriority"
        },
        "State": {
          "locationName": "state",
          "shape": "State"
        }
      },
      "type": "structure"
    },
    "FailoverMode": {
      "enum": [
        "MERGE",
        "FAILOVER"
      ],
      "type": "string"
    },
    "Flow": {
      "documentation": "The settings for a flow, including its source, outputs, and entitlements.",
      "members": {
        "AvailabilityZone": {
          "documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS.",
          "locationName": "availabilityZone",
          "shape": "__string"
        },
        "Description": {
          "documentation": "A description of the flow. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
          "locationName": "description",
          "shape": "__string"
        },
        "EgressIp": {
          "documentation": "The IP address from which video will be sent to output destinations.",
          "locationName": "egressIp",
          "shape": "__string"
        },
        "Entitlements": {
          "documentation": "The entitlements in this flow.",
          "locationName": "entitlements",
          "shape": "__listOfEntitlement"
        },
        "FlowArn": {
          "documentation": "The Amazon Resource Name (ARN), a unique identifier for any AWS resource, of the flow.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Maintenance": {
          "locationName": "maintenance",
          "shape": "Maintenance"
        },
        "MediaStreams": {
          "documentation": "The media streams that are associated with the flow. After you associate a media stream with a source, you can also associate it with outputs on the flow.",
          "locationName": "mediaStreams",
          "shape": "__listOfMediaStream"
        },
        "Name": {
          "documentation": "The name of the flow.",
          "locationName": "name",
          "shape": "__string"
        },
        "Outputs": {
          "documentation": "The outputs in this flow.",
          "locationName": "outputs",
          "shape": "__listOfOutput"
        },
        "Source": {
          "locationName": "source",
          "shape": "Source"
        },
        "SourceFailoverConfig": {
          "locationName": "sourceFailoverConfig",
          "shape": "FailoverConfig"
        },
        "Sources": {
          "locationName": "sources",
          "shape": "__listOfSource"
        },
        "Status": {
          "documentation": "The current status of the flow.",
          "locationName": "status",
          "shape": "Status"
        },
        "VpcInterfaces": {
          "documentation": "The VPC Interfaces for this flow.",
          "locationName": "vpcInterfaces",
          "shape": "__listOfVpcInterface"
        }
      },
      "required": [
        "Status",
        "Entitlements",
        "Outputs",
        "AvailabilityZone",
        "FlowArn",
        "Source",
        "Name"
      ],
      "type": "structure"
    },
    "Fmtp": {
      "documentation": "FMTP",
      "members": {
        "ChannelOrder": {
          "documentation": "The format of the audio channel.",
          "locationName": "channelOrder",
          "shape": "__string"
        },
        "Colorimetry": {
          "documentation": "The format that is used for the representation of color.",
          "locationName": "colorimetry",
          "shape": "Colorimetry"
        },
        "ExactFramerate": {
          "documentation": "The frame rate for the video stream, in frames/second. For example: 60000/1001. If you specify a whole number, MediaConnect uses a ratio of N/1. For example, if you specify 60, MediaConnect uses 60/1 as the exactFramerate.",
          "locationName": "exactFramerate",
          "shape": "__string"
        },
        "Par": {
          "documentation": "The pixel aspect ratio (PAR) of the video.",
          "locationName": "par",
          "shape": "__string"
        },
        "Range": {
          "documentation": "The encoding range of the video.",
          "locationName": "range",
          "shape": "Range"
        },
        "ScanMode": {
          "documentation": "The type of compression that was used to smooth the video\u2019s appearance",
          "locationName": "scanMode",
          "shape": "ScanMode"
        },
        "Tcs": {
          "documentation": "The transfer characteristic system (TCS) that is used in the video.",
          "locationName": "tcs",
          "shape": "Tcs"
        }
      },
      "type": "structure"
    },
    "FmtpRequest": {
      "documentation": "The settings that you want to use to define the media stream.",
      "members": {
        "ChannelOrder": {
          "documentation": "The format of the audio channel.",
          "locationName": "channelOrder",
          "shape": "__string"
        },
        "Colorimetry": {
          "documentation": "The format that is used for the representation of color.",
          "locationName": "colorimetry",
          "shape": "Colorimetry"
        },
        "ExactFramerate": {
          "documentation": "The frame rate for the video stream, in frames/second. For example: 60000/1001. If you specify a whole number, MediaConnect uses a ratio of N/1. For example, if you specify 60, MediaConnect uses 60/1 as the exactFramerate.",
          "locationName": "exactFramerate",
          "shape": "__string"
        },
        "Par": {
          "documentation": "The pixel aspect ratio (PAR) of the video.",
          "locationName": "par",
          "shape": "__string"
        },
        "Range": {
          "documentation": "The encoding range of the video.",
          "locationName": "range",
          "shape": "Range"
        },
        "ScanMode": {
          "documentation": "The type of compression that was used to smooth the video\u2019s appearance.",
          "locationName": "scanMode",
          "shape": "ScanMode"
        },
        "Tcs": {
          "documentation": "The transfer characteristic system (TCS) that is used in the video.",
          "locationName": "tcs",
          "shape": "Tcs"
        }
      },
      "type": "structure"
    },
    "ForbiddenException": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "GrantEntitlementRequest": {
      "documentation": "The entitlements that you want to grant on a flow.",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
          "locationName": "dataTransferSubscriberFeePercent",
          "shape": "__integer"
        },
        "Description": {
          "documentation": "A description of the entitlement. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the subscriber or end user.",
          "locationName": "description",
          "shape": "__string"
        },
        "Encryption": {
          "documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
          "locationName": "encryption",
          "shape": "Encryption"
        },
        "EntitlementStatus": {
          "documentation": "An indication of whether the new entitlement should be enabled or disabled as soon as it is created. If you don\u2019t specify the entitlementStatus field in your request, MediaConnect sets it to ENABLED.",
          "locationName": "entitlementStatus",
          "shape": "EntitlementStatus"
        },
        "Name": {
          "documentation": "The name of the entitlement. This value must be unique within the current flow.",
          "locationName": "name",
          "shape": "__string"
        },
        "Subscribers": {
          "documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flows using your content as the source.",
          "locationName": "subscribers",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "Subscribers"
      ],
      "type": "structure"
    },
    "GrantFlowEntitlements420Exception": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 420
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "GrantFlowEntitlementsRequest": {
      "documentation": "A request to grant entitlements on a flow.",
      "members": {
        "Entitlements": {
          "documentation": "The list of entitlements that you want to grant.",
          "locationName": "entitlements",
          "shape": "__listOfGrantEntitlementRequest"
        },
        "FlowArn": {
          "documentation": "The flow that you want to grant entitlements on.",
          "location": "uri",
          "locationName": "flowArn",
          "shape": "__string"
        }
      },
      "required": [
        "FlowArn",
        "Entitlements"
      ],
      "type": "structure"
    },
    "GrantFlowEntitlementsResponse": {
      "members": {
        "Entitlements": {
          "documentation": "The entitlements that were just granted.",
          "locationName": "entitlements",
          "shape": "__listOfEntitlement"
        },
        "FlowArn": {
          "documentation": "The ARN of the flow that these entitlements were granted to.",
          "locationName": "flowArn",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "InputConfiguration": {
      "documentation": "The transport parameters that are associated with an incoming media stream.",
      "members": {
        "InputIp": {
          "documentation": "The IP address that the flow listens on for incoming content for a media stream.",
          "locationName": "inputIp",
          "shape": "__string"
        },
        "InputPort": {
          "documentation": "The port that the flow listens on for an incoming media stream.",
          "locationName": "inputPort",
          "shape": "__integer"
        },
        "Interface": {
          "documentation": "The VPC interface where the media stream comes in from.",
          "locationName": "interface",
          "shape": "Interface"
        }
      },
      "required": [
        "InputPort",
        "InputIp",
        "Interface"
      ],
      "type": "structure"
    },
    "InputConfigurationRequest": {
      "documentation": "The transport parameters that you want to associate with an incoming media stream.",
      "members": {
        "InputPort": {
          "documentation": "The port that you want the flow to listen on for an incoming media stream.",
          "locationName": "inputPort",
          "shape": "__integer"
        },
        "Interface": {
          "documentation": "The VPC interface that you want to use for the incoming media stream.",
          "locationName": "interface",
          "shape": "InterfaceRequest"
        }
      },
      "required": [
        "InputPort",
        "Interface"
      ],
      "type": "structure"
    },
    "Interface": {
      "documentation": "The VPC interface that is used for the media stream associated with the source or output.",
      "members": {
        "Name": {
          "documentation": "The name of the VPC interface.",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "InterfaceRequest": {
      "documentation": "The VPC interface that you want to designate where the media stream is coming from or going to.",
      "members": {
        "Name": {
          "documentation": "The name of the VPC interface.",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "InternalServerErrorException": {
      "documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The error message returned by AWS Elemental MediaConnect.",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "KeyType": {
      "enum": [
        "speke",
        "static-key",
        "srt-password"
      ],
      "type": "string"
    },
    "ListEntitlementsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "The maximum number of results to return per API request. For example, you submit a ListEntitlements request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 20 results per page.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListEntitlementsResponse": {
      "members": {
        "Entitlements": {
          "documentation": "A list of entitlements that have been granted to you from other AWS accounts.",
          "locationName": "entitlements",
          "shape": "__listOfListedEntitlement"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListFlowsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "The maximum number of results to return per API request. For example, you submit a ListFlows request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListFlowsResponse": {
      "members": {
        "Flows": {
          "documentation": "A list of flow summaries.",
          "locationName": "flows",
          "shape": "__listOfListedFlow"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListOfferingsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "The maximum number of results to return per API request. For example, you submit a ListOfferings request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListOfferingsResponse": {
      "members": {
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "Offerings": {
          "documentation": "A list of offerings that are available to this account in the current AWS Region.",
          "locationName": "offerings",
          "shape": "__listOfOffering"
        }
      },
      "type": "structure"
    },
    "ListReservationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "The maximum number of results to return per API request. For example, you submit a ListReservations request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListReservationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListReservations request a second time and specify the NextToken value.",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "Reservations": {
          "documentation": "A list of all reservations that have been purchased by this account in the current AWS Region.",
          "locationName": "reservations",
          "shape": "__listOfReservation"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource for which to list the tags.",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "A map from tag keys to values. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "type": "structure"
    },
    "ListedEntitlement": {
      "documentation": "An entitlement that has been granted to you from other AWS accounts.",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
          "locationName": "dataTransferSubscriberFeePercent",
          "shape": "__integer"
        },
        "EntitlementArn": {
          "documentation": "The ARN of the entitlement.",
          "locationName": "entitlementArn",
          "shape": "__string"
        },
        "EntitlementName": {
          "documentation": "The name of the entitlement.",
          "locationName": "entitlementName",
          "shape": "__string"
        }
      },
      "required": [
        "EntitlementArn",
        "EntitlementName"
      ],
      "type": "structure"
    },
    "ListedFlow": {
      "documentation": "Provides a summary of a flow, including its ARN, Availability Zone, and source type.",
      "members": {
        "AvailabilityZone": {
          "documentation": "The Availability Zone that the flow was created in.",
          "locationName": "availabilityZone",
          "shape": "__string"
        },
        "Description": {
          "documentation": "A description of the flow.",
          "locationName": "description",
          "shape": "__string"
        },
        "FlowArn": {
          "documentation": "The ARN of the flow.",
          "locationName": "flowArn",
          "shape": "__string"
        },
        "Maintenance": {
          "locationName": "maintenance",
          "shape": "Maintenance"
        },
        "Name": {
          "documentation": "The name of the flow.",
          "locationName": "name",
          "shape": "__string"
        },
        "SourceType": {
          "documentation": "The type of source. This value is either owned (originated somewhere other than an AWS Elemental MediaConnect flow owned by another AWS account) or entitled (originated at an AWS Elemental MediaConnect flow owned by another AWS account).",
          "locationName": "sourceType",
          "shape": "SourceType"
        },
        "Status": {
          "documentation": "The current status of the flow.",
          "locationName": "status",
          "shape": "Status"
        }
      },
[...]
