{
  "documentation": "<p>Provides APIs for creating and managing SageMaker resources. </p> <p>Other Resources:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/whatis.html#first-time-user\">SageMaker Developer Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/augmented-ai/2019-11-07/APIReference/Welcome.html\">Amazon Augmented AI Runtime API Reference</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2017-07-24",
    "endpointPrefix": "api.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SageMaker",
    "serviceFullName": "Amazon SageMaker Service",
    "serviceId": "SageMaker",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "targetPrefix": "SageMaker",
    "uid": "sagemaker-2017-07-24"
  },
  "operations": {
    "AddAssociation": {
      "documentation": "<p>Creates an <i>association</i> between the source and the destination. A source can be associated with multiple destinations, and a destination can be associated with multiple sources. An association is a lineage tracking entity. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker ML Lineage Tracking</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddAssociationRequest"
      },
      "name": "AddAssociation",
      "output": {
        "shape": "AddAssociationResponse"
      }
    },
    "AddTags": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified SageMaker resource. You can add tags to notebook instances, training jobs, hyperparameter tuning jobs, batch transform jobs, models, labeling jobs, work teams, endpoint configurations, and endpoints.</p> <p>Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">Amazon Web Services Tagging Strategies</a>.</p> <note> <p>Tags that you add to a hyperparameter tuning job by calling this API are also added to any training jobs that the hyperparameter tuning job launches after you call this API, but not to training jobs that the hyperparameter tuning job launched before you called this API. To make sure that the tags associated with a hyperparameter tuning job are also added to all training jobs that the hyperparameter tuning job launches, add the tags when you first create the tuning job by specifying them in the <code>Tags</code> parameter of <a>CreateHyperParameterTuningJob</a> </p> </note> <note> <p>Tags that you add to a SageMaker Studio Domain or User Profile by calling this API are also added to any Apps that the Domain or User Profile launches after you call this API, but not to Apps that the Domain or User Profile launched before you called this API. To make sure that the tags associated with a Domain or User Profile are also added to all Apps that the Domain or User Profile launches, add the tags when you first create the Domain or User Profile by specifying them in the <code>Tags</code> parameter of <a>CreateDomain</a> or <a>CreateUserProfile</a>.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsInput"
      },
      "name": "AddTags",
      "output": {
        "shape": "AddTagsOutput"
      }
    },
    "AssociateTrialComponent": {
      "documentation": "<p>Associates a trial component with a trial. A trial component can be associated with multiple trials. To disassociate a trial component from a trial, call the <a>DisassociateTrialComponent</a> API.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTrialComponentRequest"
      },
      "name": "AssociateTrialComponent",
      "output": {
        "shape": "AssociateTrialComponentResponse"
      }
    },
    "BatchDescribeModelPackage": {
      "documentation": "<p>This action batch describes a list of versioned model packages</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDescribeModelPackageInput"
      },
      "name": "BatchDescribeModelPackage",
      "output": {
        "shape": "BatchDescribeModelPackageOutput"
      }
    },
    "CreateAction": {
      "documentation": "<p>Creates an <i>action</i>. An action is a lineage tracking entity that represents an action or activity. For example, a model deployment or an HPO job. Generally, an action involves at least one input or output artifact. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker ML Lineage Tracking</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateActionRequest"
      },
      "name": "CreateAction",
      "output": {
        "shape": "CreateActionResponse"
      }
    },
    "CreateAlgorithm": {
      "documentation": "<p>Create a machine learning algorithm that you can use in SageMaker and list in the Amazon Web Services Marketplace.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAlgorithmInput"
      },
      "name": "CreateAlgorithm",
      "output": {
        "shape": "CreateAlgorithmOutput"
      }
    },
    "CreateApp": {
      "documentation": "<p>Creates a running app for the specified UserProfile. This operation is automatically invoked by Amazon SageMaker Studio upon access to the associated Domain, and when new kernel configurations are selected by the user. A user may have multiple Apps active simultaneously.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "name": "CreateApp",
      "output": {
        "shape": "CreateAppResponse"
      }
    },
    "CreateAppImageConfig": {
      "documentation": "<p>Creates a configuration for running a SageMaker image as a KernelGateway app. The configuration specifies the Amazon Elastic File System (EFS) storage volume on the image, and a list of the kernels in the image.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppImageConfigRequest"
      },
      "name": "CreateAppImageConfig",
      "output": {
        "shape": "CreateAppImageConfigResponse"
      }
    },
    "CreateArtifact": {
      "documentation": "<p>Creates an <i>artifact</i>. An artifact is a lineage tracking entity that represents a URI addressable object or data. Some examples are the S3 URI of a dataset and the ECR registry path of an image. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker ML Lineage Tracking</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateArtifactRequest"
      },
      "name": "CreateArtifact",
      "output": {
        "shape": "CreateArtifactResponse"
      }
    },
    "CreateAutoMLJob": {
      "documentation": "<p>Creates an Autopilot job.</p> <p>Find the best-performing model after you run an Autopilot job by calling .</p> <p>For information about how to use Autopilot, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/autopilot-automate-model-development.html\">Automate Model Development with Amazon SageMaker Autopilot</a>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAutoMLJobRequest"
      },
      "name": "CreateAutoMLJob",
      "output": {
        "shape": "CreateAutoMLJobResponse"
      }
    },
    "CreateCodeRepository": {
      "documentation": "<p>Creates a Git repository as a resource in your SageMaker account. You can associate the repository with notebook instances so that you can use Git source control for the notebooks you create. The Git repository is a resource in your SageMaker account, so it can be associated with more than one notebook instance, and it persists independently from the lifecycle of any notebook instances it is associated with.</p> <p>The repository can be hosted either in <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">Amazon Web Services CodeCommit</a> or in any other Git repository.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCodeRepositoryInput"
      },
      "name": "CreateCodeRepository",
      "output": {
        "shape": "CreateCodeRepositoryOutput"
      }
    },
    "CreateCompilationJob": {
      "documentation": "<p>Starts a model compilation job. After the model has been compiled, Amazon SageMaker saves the resulting model artifacts to an Amazon Simple Storage Service (Amazon S3) bucket that you specify. </p> <p>If you choose to host your model using Amazon SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts with Amazon Web Services IoT Greengrass. In that case, deploy them as an ML resource.</p> <p>In the request body, you provide the following:</p> <ul> <li> <p>A name for the compilation job</p> </li> <li> <p> Information about the input model artifacts </p> </li> <li> <p>The output location for the compiled model and the device (target) that the model runs on </p> </li> <li> <p>The Amazon Resource Name (ARN) of the IAM role that Amazon SageMaker assumes to perform the model compilation job. </p> </li> </ul> <p>You can also provide a <code>Tag</code> to track the model compilation job's resource use and costs. The response body contains the <code>CompilationJobArn</code> for the compiled job.</p> <p>To stop a model compilation job, use <a>StopCompilationJob</a>. To get information about a particular model compilation job, use <a>DescribeCompilationJob</a>. To get information about multiple model compilation jobs, use <a>ListCompilationJobs</a>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCompilationJobRequest"
      },
      "name": "CreateCompilationJob",
      "output": {
        "shape": "CreateCompilationJobResponse"
      }
    },
    "CreateContext": {
      "documentation": "<p>Creates a <i>context</i>. A context is a lineage tracking entity that represents a logical grouping of other tracking or experiment entities. Some examples are an endpoint and a model package. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/lineage-tracking.html\">Amazon SageMaker ML Lineage Tracking</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContextRequest"
      },
      "name": "CreateContext",
      "output": {
        "shape": "CreateContextResponse"
      }
    },
    "CreateDataQualityJobDefinition": {
      "documentation": "<p>Creates a definition for a job that monitors data quality and drift. For information about model monitor, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-monitor.html\">Amazon SageMaker Model Monitor</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDataQualityJobDefinitionRequest"
      },
      "name": "CreateDataQualityJobDefinition",
      "output": {
        "shape": "CreateDataQualityJobDefinitionResponse"
      }
    },
    "CreateDeviceFleet": {
      "documentation": "<p>Creates a device fleet.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDeviceFleetRequest"
      },
      "name": "CreateDeviceFleet"
    },
    "CreateDomain": {
      "documentation": "<p>Creates a <code>Domain</code> used by Amazon SageMaker Studio. A domain consists of an associated Amazon Elastic File System (EFS) volume, a list of authorized users, and a variety of security, application, policy, and Amazon Virtual Private Cloud (VPC) configurations. An Amazon Web Services account is limited to one domain per region. Users within a domain can share notebook files and other artifacts with each other.</p> <p> <b>EFS storage</b> </p> <p>When a domain is created, an EFS volume is created for use by all of the users within the domain. Each user receives a private home directory within the EFS volume for notebooks, Git repositories, and data files.</p> <p>SageMaker uses the Amazon Web Services Key Management Service (Amazon Web Services KMS) to encrypt the EFS volume attached to the domain with an Amazon Web Services managed key by default. For more control, you can specify a customer managed key. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/encryption-at-rest.html\">Protect Data at Rest Using Encryption</a>.</p> <p> <b>VPC configuration</b> </p> <p>All SageMaker Studio traffic between the domain and the EFS volume is through the specified VPC and subnets. For other Studio traffic, you can specify the <code>AppNetworkAccessType</code> parameter. <code>AppNetworkAccessType</code> corresponds to the network access type that you choose when you onboard to Studio. The following options are available:</p> <ul> <li> <p> <code>PublicInternetOnly</code> - Non-EFS traffic goes through a VPC managed by Amazon SageMaker, which allows internet access. This is the default value.</p> </li> <li> <p> <code>VpcOnly</code> - All Studio traffic is through the specified VPC and subnets. Internet access is disabled by default. To allow internet access, you must specify a NAT gateway.</p> <p>When internet access is disabled, you won't be able to run a Studio notebook or to train or host models unless your VPC has an interface endpoint to the SageMaker API and runtime or a NAT gateway and your security groups allow outbound connections.</p> </li> </ul> <important> <p>NFS traffic over TCP on port 2049 needs to be allowed in both inbound and outbound rules in order to launch a SageMaker Studio app successfully.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/studio-notebooks-and-internet-access.html\">Connect SageMaker Studio Notebooks to Resources in a VPC</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDomainRequest"
      },
      "name": "CreateDomain",
      "output": {
        "shape": "CreateDomainResponse"
      }
    },
    "CreateEdgeDeploymentPlan": {
      "documentation": "<p>Creates an edge deployment plan, consisting of multiple stages. Each stage may have a different deployment configuration and devices.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEdgeDeploymentPlanRequest"
      },
      "name": "CreateEdgeDeploymentPlan",
      "output": {
        "shape": "CreateEdgeDeploymentPlanResponse"
      }
    },
    "CreateEdgeDeploymentStage": {
      "documentation": "<p>Creates a new stage in an existing edge deployment plan.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEdgeDeploymentStageRequest"
      },
      "name": "CreateEdgeDeploymentStage"
    },
    "CreateEdgePackagingJob": {
      "documentation": "<p>Starts a SageMaker Edge Manager model packaging job. Edge Manager will use the model artifacts from the Amazon Simple Storage Service bucket that you specify. After the model has been packaged, Amazon SageMaker saves the resulting artifacts to an S3 bucket that you specify.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEdgePackagingJobRequest"
      },
      "name": "CreateEdgePackagingJob"
    },
    "CreateEndpoint": {
      "documentation": "<p>Creates an endpoint using the endpoint configuration specified in the request. SageMaker uses the endpoint to provision resources and deploy models. You create the endpoint configuration with the <a>CreateEndpointConfig</a> API. </p> <p> Use this API to deploy models using SageMaker hosting services. </p> <p>For an example that calls this method when deploying a model to SageMaker hosting services, see the <a href=\"https://github.com/aws/amazon-sagemaker-examples/blob/master/sagemaker-fundamentals/create-endpoint/create_endpoint.ipynb\">Create Endpoint example notebook.</a> </p> <note> <p> You must not delete an <code>EndpointConfig</code> that is in use by an endpoint that is live or while the <code>UpdateEndpoint</code> or <code>CreateEndpoint</code> operations are being performed on the endpoint. To update an endpoint, you must create a new <code>EndpointConfig</code>.</p> </note> <p>The endpoint name must be unique within an Amazon Web Services Region in your Amazon Web Services account. </p> <p>When it receives the request, SageMaker creates the endpoint, launches the resources (ML compute instances), and deploys the model(s) on them. </p> <note> <p>When you call <a>CreateEndpoint</a>, a load call is made to DynamoDB to verify that your endpoint configuration exists. When you read data from a DynamoDB table supporting <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadConsistency.html\"> <code>Eventually Consistent Reads</code> </a>, the response might not reflect the results of a recently completed write operation. The response might include some stale data. If the dependent entities are not yet in DynamoDB, this causes a validation error. If you repeat your read request after a short time, the response should return the latest data. So retry logic is recommended to handle these possible issues. We also recommend that customers call <a>DescribeEndpointConfig</a> before calling <a>CreateEndpoint</a> to minimize the potential impact of a DynamoDB eventually consistent read.</p> </note> <p>When SageMaker receives the request, it sets the endpoint status to <code>Creating</code>. After it creates the endpoint, it sets the status to <code>InService</code>. SageMaker can then process incoming requests for inferences. To check the status of an endpoint, use the <a>DescribeEndpoint</a> API.</p> <p>If any of the models hosted at this endpoint get model data from an Amazon S3 location, SageMaker uses Amazon Web Services Security Token Service to download model artifacts from the S3 path you provided. Amazon Web Services STS is activated in your IAM user account by default. If you previously deactivated Amazon Web Services STS for a region, you need to reactivate Amazon Web Services STS for that region. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.</p> <note> <p> To add the IAM role policies for using this API operation, go to the <a href=\"https://console.aws.amazon.com/iam/\">IAM console</a>, and choose Roles in the left navigation pane. Search the IAM role that you want to grant access to use the <a>CreateEndpoint</a> and <a>CreateEndpointConfig</a> API operations, add the following policies to the role. </p> <ul> <li> <p>Option 1: For a full SageMaker access, search and attach the <code>AmazonSageMakerFullAccess</code> policy.</p> </li> <li> <p>Option 2: For granting a limited access to an IAM role, paste the following Action elements manually into the JSON file of the IAM role: </p> <p> <code>\"Action\": [\"sagemaker:CreateEndpoint\", \"sagemaker:CreateEndpointConfig\"]</code> </p> <p> <code>\"Resource\": [</code> </p> <p> <code>\"arn:aws:sagemaker:region:account-id:endpoint/endpointName\"</code> </p> <p> <code>\"arn:aws:sagemaker:region:account-id:endpoint-config/endpointConfigName\"</code> </p> <p> <code>]</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/api-permissions-reference.html\">SageMaker API Permissions: Actions, Permissions, and Resources Reference</a>.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointInput"
      },
      "name": "CreateEndpoint",
      "output": {
        "shape": "CreateEndpointOutput"
      }
    },
    "CreateEndpointConfig": {
      "documentation": "<p>Creates an endpoint configuration that SageMaker hosting services uses to deploy models. In the configuration, you identify one or more models, created using the <code>CreateModel</code> API, to deploy and the resources that you want SageMaker to provision. Then you call the <a>CreateEndpoint</a> API.</p> <note> <p> Use this API if you want to use SageMaker hosting services to deploy models into production. </p> </note> <p>In the request, you define a <code>ProductionVariant</code>, for each model that you want to deploy. Each <code>ProductionVariant</code> parameter also describes the resources that you want SageMaker to provision. This includes the number and type of ML compute instances to deploy. </p> <p>If you are hosting multiple models, you also assign a <code>VariantWeight</code> to specify how much traffic you want to allocate to each model. For example, suppose that you want to host two models, A and B, and you assign traffic weight 2 for model A and 1 for model B. SageMaker distributes two-thirds of the traffic to Model A, and one-third to model B. </p> <note> <p>When you call <a>CreateEndpoint</a>, a load call is made to DynamoDB to verify that your endpoint configuration exists. When you read data from a DynamoDB table supporting <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadConsistency.html\"> <code>Eventually Consistent Reads</code> </a>, the response might not reflect the results of a recently completed write operation. The response might include some stale data. If the dependent entities are not yet in DynamoDB, this causes a validation error. If you repeat your read request after a short time, the response should return the latest data. So retry logic is recommended to handle these possible issues. We also recommend that customers call <a>DescribeEndpointConfig</a> before calling <a>CreateEndpoint</a> to minimize the potential impact of a DynamoDB eventually consistent read.</p> </note>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointConfigInput"
      },
      "name": "CreateEndpointConfig",
      "output": {
        "shape": "CreateEndpointConfigOutput"
      }
    },
    "CreateExperiment": {
      "documentation": "<p>Creates an SageMaker <i>experiment</i>. An experiment is a collection of <i>trials</i> that are observed, compared and evaluated as a group. A trial is a set of steps, called <i>trial components</i>, that produce a machine learning model.</p> <p>The goal of an experiment is to determine the components that produce the best model. Multiple trials are performed, each one isolating and measuring the impact of a change to one or more inputs, while keeping the remaining inputs constant.</p> <p>When you use SageMaker Studio or the SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the Amazon Web Services SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to experiments, trials, trial components and then use the <a>Search</a> API to search for the tags.</p> <p>To add a description to an experiment, specify the optional <code>Description</code> parameter. To add a description later, or to change the description, call the <a>UpdateExperiment</a> API.</p> <p>To get a list of all your experiments, call the <a>ListExperiments</a> API. To view an experiment's properties, call the <a>DescribeExperiment</a> API. To get a list of all the trials associated with an experiment, call the <a>ListTrials</a> API. To create a trial call the <a>CreateTrial</a> API.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExperimentRequest"
      },
      "name": "CreateExperiment",
      "output": {
        "shape": "CreateExperimentResponse"
      }
    },
    "CreateFeatureGroup": {
      "documentation": "<p>Create a new <code>FeatureGroup</code>. A <code>FeatureGroup</code> is a group of <code>Features</code> defined in the <code>FeatureStore</code> to describe a <code>Record</code>. </p> <p>The <code>FeatureGroup</code> defines the schema and features contained in the FeatureGroup. A <code>FeatureGroup</code> definition is composed of a list of <code>Features</code>, a <code>RecordIdentifierFeatureName</code>, an <code>EventTimeFeatureName</code> and configurations for its <code>OnlineStore</code> and <code>OfflineStore</code>. Check <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">Amazon Web Services service quotas</a> to see the <code>FeatureGroup</code>s quota for your Amazon Web Services account.</p> <important> <p>You must include at least one of <code>OnlineStoreConfig</code> and <code>OfflineStoreConfig</code> to create a <code>FeatureGroup</code>.</p> </important>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFeatureGroupRequest"
      },
      "name": "CreateFeatureGroup",
      "output": {
        "shape": "CreateFeatureGroupResponse"
      }
    },
    "CreateFlowDefinition": {
      "documentation": "<p>Creates a flow definition.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFlowDefinitionRequest"
      },
      "name": "CreateFlowDefinition",
      "output": {
        "shape": "CreateFlowDefinitionResponse"
      }
    },
    "CreateHumanTaskUi": {
      "documentation": "<p>Defines the settings you will use for the human review workflow user interface. Reviewers will see a three-panel interface with an instruction area, the item to review, and an input area.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHumanTaskUiRequest"
      },
      "name": "CreateHumanTaskUi",
      "output": {
        "shape": "CreateHumanTaskUiResponse"
      }
    },
    "CreateHyperParameterTuningJob": {
      "documentation": "<p>Starts a hyperparameter tuning job. A hyperparameter tuning job finds the best version of a model by running many training jobs on your dataset using the algorithm you choose and values for hyperparameters within ranges that you specify. It then chooses the hyperparameter values that result in a model that performs the best, as measured by an objective metric that you choose.</p> <p>A hyperparameter tuning job automatically creates Amazon SageMaker experiments, trials, and trial components for each training job that it runs. You can view these entities in Amazon SageMaker Studio. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/experiments-view-compare.html#experiments-view\">View Experiments, Trials, and Trial Components</a>.</p> <important> <p>Do not include any security-sensitive information including account access IDs, secrets or tokens in any hyperparameter field. If the use of security-sensitive credentials are detected, SageMaker will reject your training job request and return an exception error.</p> </important>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHyperParameterTuningJobRequest"
      },
      "name": "CreateHyperParameterTuningJob",
      "output": {
        "shape": "CreateHyperParameterTuningJobResponse"
      }
    },
    "CreateImage": {
      "documentation": "<p>Creates a custom SageMaker image. A SageMaker image is a set of image versions. Each image version represents a container image stored in Amazon Elastic Container Registry (ECR). For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/studio-byoi.html\">Bring your own SageMaker image</a>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResponse"
      }
    },
    "CreateImageVersion": {
      "documentation": "<p>Creates a version of the SageMaker image specified by <code>ImageName</code>. The version represents the Amazon Elastic Container Registry (ECR) container image specified by <code>BaseImage</code>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageVersionRequest"
      },
      "name": "CreateImageVersion",
      "output": {
        "shape": "CreateImageVersionResponse"
      }
    },
    "CreateInferenceRecommendationsJob": {
      "documentation": "<p>Starts a recommendation job. You can create either an instance recommendation or load test job.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInferenceRecommendationsJobRequest"
      },
      "name": "CreateInferenceRecommendationsJob",
      "output": {
        "shape": "CreateInferenceRecommendationsJobResponse"
      }
    },
    "CreateLabelingJob": {
      "documentation": "<p>Creates a job that uses workers to label the data objects in your input dataset. You can use the labeled data to train machine learning models. </p> <p>You can select your workforce from one of three providers:</p> <ul> <li> <p>A private workforce that you create. It can include employees, contractors, and outside experts. Use a private workforce when want the data to stay within your organization or when a specific set of skills is required.</p> </li> <li> <p>One or more vendors that you select from the Amazon Web Services Marketplace. Vendors provide expertise in specific areas. </p> </li> <li> <p>The Amazon Mechanical Turk workforce. This is the largest workforce, but it should only be used for public data or data that has been stripped of any personally identifiable information.</p> </li> </ul> <p>You can also use <i>automated data labeling</i> to reduce the number of data objects that need to be labeled by a human. Automated data labeling uses <i>active learning</i> to determine if a data object can be labeled by machine or if it needs to be sent to a human worker. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-automated-labeling.html\">Using Automated Data Labeling</a>.</p> <p>The data objects to be labeled are contained in an Amazon S3 bucket. You create a <i>manifest file</i> that describes the location of each object. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-data.html\">Using Input and Output Data</a>.</p> <p>The output can be used as the manifest file for another labeling job or as training data for your machine learning models.</p> <p>You can use this operation to create a static labeling job or a streaming labeling job. A static labeling job stops if all data objects in the input manifest file identified in <code>ManifestS3Uri</code> have been labeled. A streaming labeling job runs perpetually until it is manually stopped, or remains idle for 10 days. You can send new data objects to an active (<code>InProgress</code>) streaming labeling job in real time. To learn how to create a static labeling job, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-create-labeling-job-api.html\">Create a Labeling Job (API) </a> in the Amazon SageMaker Developer Guide. To learn how to create a streaming labeling job, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-streaming-create-job.html\">Create a Streaming Labeling Job</a>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLabelingJobRequest"
      },
      "name": "CreateLabelingJob",
      "output": {
        "shape": "CreateLabelingJobResponse"
      }
    },
    "CreateModel": {
      "documentation": "<p>Creates a model in SageMaker. In the request, you name the model and describe a primary container. For the primary container, you specify the Docker image that contains inference code, artifacts (from prior training), and a custom environment map that the inference code uses when you deploy the model for predictions.</p> <p>Use this API to create a model if you want to use SageMaker hosting services or run a batch transform job.</p> <p>To host your model, you create an endpoint configuration with the <code>CreateEndpointConfig</code> API, and then create an endpoint with the <code>CreateEndpoint</code> API. SageMaker then deploys all of the containers that you defined for the model in the hosting environment. </p> <p>For an example that calls this method when deploying a model to SageMaker hosting services, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/realtime-endpoints-deployment.html#realtime-endpoints-deployment-create-model\">Create a Model (Amazon Web Services SDK for Python (Boto 3)).</a> </p> <p>To run a batch transform using your model, you start a job with the <code>CreateTransformJob</code> API. SageMaker uses your model and your dataset to get inferences which are then saved to a specified S3 location.</p> <p>In the request, you also provide an IAM role that SageMaker can assume to access model artifacts and docker image for deployment on ML compute hosting instances or for batch transform jobs. In addition, you also use the IAM role to manage permissions the inference code needs. For example, if the inference code access any other Amazon Web Services resources, you grant necessary permissions via this role.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelInput"
      },
      "name": "CreateModel",
      "output": {
        "shape": "CreateModelOutput"
      }
    },
    "CreateModelBiasJobDefinition": {
      "documentation": "<p>Creates the definition for a model bias job.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelBiasJobDefinitionRequest"
      },
      "name": "CreateModelBiasJobDefinition",
      "output": {
        "shape": "CreateModelBiasJobDefinitionResponse"
      }
    },
    "CreateModelExplainabilityJobDefinition": {
      "documentation": "<p>Creates the definition for a model explainability job.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelExplainabilityJobDefinitionRequest"
      },
      "name": "CreateModelExplainabilityJobDefinition",
      "output": {
        "shape": "CreateModelExplainabilityJobDefinitionResponse"
      }
    },
    "CreateModelPackage": {
      "documentation": "<p>Creates a model package that you can use to create SageMaker models or list on Amazon Web Services Marketplace, or a versioned model that is part of a model group. Buyers can subscribe to model packages listed on Amazon Web Services Marketplace to create models in SageMaker.</p> <p>To create a model package by specifying a Docker container that contains your inference code and the Amazon S3 location of your model artifacts, provide values for <code>InferenceSpecification</code>. To create a model from an algorithm resource that you created or subscribed to in Amazon Web Services Marketplace, provide a value for <code>SourceAlgorithmSpecification</code>.</p> <note> <p>There are two types of model packages:</p> <ul> <li> <p>Versioned - a model that is part of a model group in the model registry.</p> </li> <li> <p>Unversioned - a model package that is not part of a model group.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelPackageInput"
      },
      "name": "CreateModelPackage",
      "output": {
        "shape": "CreateModelPackageOutput"
      }
    },
    "CreateModelPackageGroup": {
      "documentation": "<p>Creates a model group. A model group contains a group of model versions.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelPackageGroupInput"
      },
      "name": "CreateModelPackageGroup",
      "output": {
        "shape": "CreateModelPackageGroupOutput"
      }
    },
    "CreateModelQualityJobDefinition": {
      "documentation": "<p>Creates a definition for a job that monitors model quality and drift. For information about model monitor, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-monitor.html\">Amazon SageMaker Model Monitor</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelQualityJobDefinitionRequest"
      },
      "name": "CreateModelQualityJobDefinition",
      "output": {
        "shape": "CreateModelQualityJobDefinitionResponse"
      }
    },
    "CreateMonitoringSchedule": {
      "documentation": "<p>Creates a schedule that regularly starts Amazon SageMaker Processing Jobs to monitor the data captured for an Amazon SageMaker Endoint.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMonitoringScheduleRequest"
      },
      "name": "CreateMonitoringSchedule",
      "output": {
        "shape": "CreateMonitoringScheduleResponse"
      }
    },
    "CreateNotebookInstance": {
      "documentation": "<p>Creates an SageMaker notebook instance. A notebook instance is a machine learning (ML) compute instance running on a Jupyter notebook. </p> <p>In a <code>CreateNotebookInstance</code> request, specify the type of ML compute instance that you want to run. SageMaker launches the instance, installs common libraries that you can use to explore datasets for model training, and attaches an ML storage volume to the notebook instance. </p> <p>SageMaker also provides a set of example notebooks. Each notebook demonstrates how to use SageMaker with a specific algorithm or with a machine learning framework. </p> <p>After receiving the request, SageMaker does the following:</p> <ol> <li> <p>Creates a network interface in the SageMaker VPC.</p> </li> <li> <p>(Option) If you specified <code>SubnetId</code>, SageMaker creates a network interface in your own VPC, which is inferred from the subnet ID that you provide in the input. When creating this network interface, SageMaker attaches the security group that you specified in the request to the network interface that it creates in your VPC.</p> </li> <li> <p>Launches an EC2 instance of the type specified in the request in the SageMaker VPC. If you specified <code>SubnetId</code> of your VPC, SageMaker specifies both network interfaces when launching this instance. This enables inbound traffic from your own VPC to the notebook instance, assuming that the security groups allow it.</p> </li> </ol> <p>After creating the notebook instance, SageMaker returns its Amazon Resource Name (ARN). You can't change the name of a notebook instance after you create it.</p> <p>After SageMaker creates the notebook instance, you can connect to the Jupyter server and work in Jupyter notebooks. For example, you can write code to explore a dataset that you can use for model training, train a model, host models by creating SageMaker endpoints, and validate hosted models. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNotebookInstanceInput"
      },
      "name": "CreateNotebookInstance",
      "output": {
        "shape": "CreateNotebookInstanceOutput"
      }
    },
    "CreateNotebookInstanceLifecycleConfig": {
      "documentation": "<p>Creates a lifecycle configuration that you can associate with a notebook instance. A <i>lifecycle configuration</i> is a collection of shell scripts that run when you create or start a notebook instance.</p> <p>Each lifecycle configuration script has a limit of 16384 characters.</p> <p>The value of the <code>$PATH</code> environment variable that is available to both scripts is <code>/sbin:bin:/usr/sbin:/usr/bin</code>.</p> <p>View CloudWatch Logs for notebook instance lifecycle configurations in log group <code>/aws/sagemaker/NotebookInstances</code> in log stream <code>[notebook-instance-name]/[LifecycleConfigHook]</code>.</p> <p>Lifecycle configuration scripts cannot run for longer than 5 minutes. If a script runs for longer than 5 minutes, it fails and the notebook instance is not created or started.</p> <p>For information about notebook instance lifestyle configurations, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/notebook-lifecycle-config.html\">Step 2.1: (Optional) Customize a Notebook Instance</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNotebookInstanceLifecycleConfigInput"
      },
      "name": "CreateNotebookInstanceLifecycleConfig",
      "output": {
        "shape": "CreateNotebookInstanceLifecycleConfigOutput"
      }
    },
    "CreatePipeline": {
      "documentation": "<p>Creates a pipeline using a JSON pipeline definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePipelineRequest"
      },
      "name": "CreatePipeline",
      "output": {
        "shape": "CreatePipelineResponse"
      }
    },
    "CreatePresignedDomainUrl": {
      "documentation": "<p>Creates a URL for a specified UserProfile in a Domain. When accessed in a web browser, the user will be automatically signed in to Amazon SageMaker Studio, and granted access to all of the Apps and files associated with the Domain's Amazon Elastic File System (EFS) volume. This operation can only be called when the authentication mode equals IAM. </p> <p>The IAM role or user passed to this API defines the permissions to access the app. Once the presigned URL is created, no additional permission is required to access this URL. IAM authorization policies for this API are also enforced for every HTTP request and WebSocket frame that attempts to connect to the app.</p> <p>You can restrict access to this API and to the URL that it returns to a list of IP addresses, Amazon VPCs or Amazon VPC Endpoints that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/studio-interface-endpoint.html\">Connect to SageMaker Studio Through an Interface VPC Endpoint</a> .</p> <note> <p>The URL that you get from a call to <code>CreatePresignedDomainUrl</code> has a default timeout of 5 minutes. You can configure this value using <code>ExpiresInSeconds</code>. If you try to use the URL after the timeout limit expires, you are directed to the Amazon Web Services console sign-in page.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePresignedDomainUrlRequest"
      },
      "name": "CreatePresignedDomainUrl",
      "output": {
        "shape": "CreatePresignedDomainUrlResponse"
      }
    },
    "CreatePresignedNotebookInstanceUrl": {
      "documentation": "<p>Returns a URL that you can use to connect to the Jupyter server from a notebook instance. In the SageMaker console, when you choose <code>Open</code> next to a notebook instance, SageMaker opens a new tab showing the Jupyter server home page from the notebook instance. The console uses this API to get the URL and show the page.</p> <p> The IAM role or user used to call this API defines the permissions to access the notebook instance. Once the presigned URL is created, no additional permission is required to access this URL. IAM authorization policies for this API are also enforced for every HTTP request and WebSocket frame that attempts to connect to the notebook instance.</p> <p>You can restrict access to this API and to the URL that it returns to a list of IP addresses that you specify. Use the <code>NotIpAddress</code> condition operator and the <code>aws:SourceIP</code> condition context key to specify the list of IP addresses that you want to have access to the notebook instance. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/security_iam_id-based-policy-examples.html#nbi-ip-filter\">Limit Access to a Notebook Instance by IP Address</a>.</p> <note> <p>The URL that you get from a call to <a>CreatePresignedNotebookInstanceUrl</a> is valid only for 5 minutes. If you try to use the URL after the 5-minute limit expires, you are directed to the Amazon Web Services console sign-in page.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePresignedNotebookInstanceUrlInput"
      },
      "name": "CreatePresignedNotebookInstanceUrl",
      "output": {
        "shape": "CreatePresignedNotebookInstanceUrlOutput"
      }
    },
    "CreateProcessingJob": {
      "documentation": "<p>Creates a processing job.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProcessingJobRequest"
      },
      "name": "CreateProcessingJob",
      "output": {
        "shape": "CreateProcessingJobResponse"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a machine learning (ML) project that can contain one or more templates that set up an ML pipeline from training to deploying an approved model.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProjectInput"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectOutput"
      }
    },
    "CreateStudioLifecycleConfig": {
      "documentation": "<p>Creates a new Studio Lifecycle Configuration.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStudioLifecycleConfigRequest"
      },
      "name": "CreateStudioLifecycleConfig",
      "output": {
        "shape": "CreateStudioLifecycleConfigResponse"
      }
    },
    "CreateTrainingJob": {
      "documentation": "<p>Starts a model training job. After training completes, SageMaker saves the resulting model artifacts to an Amazon S3 location that you specify. </p> <p>If you choose to host your model using SageMaker hosting services, you can use the resulting model artifacts as part of the model. You can also use the artifacts in a machine learning service other than SageMaker, provided that you know how to use them for inference. </p> <p>In the request body, you provide the following: </p> <ul> <li> <p> <code>AlgorithmSpecification</code> - Identifies the training algorithm to use. </p> </li> <li> <p> <code>HyperParameters</code> - Specify these algorithm-specific parameters to enable the estimation of model parameters during training. Hyperparameters can be tuned to optimize this learning process. For a list of hyperparameters for each training algorithm provided by SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/algos.html\">Algorithms</a>. </p> <important> <p>Do not include any security-sensitive information including account access IDs, secrets or tokens in any hyperparameter field. If the use of security-sensitive credentials are detected, SageMaker will reject your training job request and return an exception error.</p> </important> </li> <li> <p> <code>InputDataConfig</code> - Describes the input required by the training job and the Amazon S3, EFS, or FSx location where it is stored.</p> </li> <li> <p> <code>OutputDataConfig</code> - Identifies the Amazon S3 bucket where you want SageMaker to save the results of model training. </p> </li> <li> <p> <code>ResourceConfig</code> - Identifies the resources, ML compute instances, and ML storage volumes to deploy for model training. In distributed training, you specify more than one instance. </p> </li> <li> <p> <code>EnableManagedSpotTraining</code> - Optimize the cost of training machine learning models by up to 80% by using Amazon EC2 Spot instances. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/model-managed-spot-training.html\">Managed Spot Training</a>. </p> </li> <li> <p> <code>RoleArn</code> - The Amazon Resource Name (ARN) that SageMaker assumes to perform tasks on your behalf during model training. You must grant this role the necessary permissions so that SageMaker can successfully complete model training. </p> </li> <li> <p> <code>StoppingCondition</code> - To help cap training costs, use <code>MaxRuntimeInSeconds</code> to set a time limit for training. Use <code>MaxWaitTimeInSeconds</code> to specify how long a managed spot training job has to complete. </p> </li> <li> <p> <code>Environment</code> - The environment variables to set in the Docker container.</p> </li> <li> <p> <code>RetryStrategy</code> - The number of times to retry the job when the job fails due to an <code>InternalServerError</code>.</p> </li> </ul> <p> For more information about SageMaker, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/how-it-works.html\">How It Works</a>. </p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrainingJobRequest"
      },
      "name": "CreateTrainingJob",
      "output": {
        "shape": "CreateTrainingJobResponse"
      }
    },
    "CreateTransformJob": {
      "documentation": "<p>Starts a transform job. A transform job uses a trained model to get inferences on a dataset and saves these results to an Amazon S3 location that you specify.</p> <p>To perform batch transformations, you create a transform job and use the data that you have readily available.</p> <p>In the request body, you provide the following:</p> <ul> <li> <p> <code>TransformJobName</code> - Identifies the transform job. The name must be unique within an Amazon Web Services Region in an Amazon Web Services account.</p> </li> <li> <p> <code>ModelName</code> - Identifies the model to use. <code>ModelName</code> must be the name of an existing Amazon SageMaker model in the same Amazon Web Services Region and Amazon Web Services account. For information on creating a model, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateModel.html\">CreateModel</a>.</p> </li> <li> <p> <code>TransformInput</code> - Describes the dataset to be transformed and the Amazon S3 location where it is stored.</p> </li> <li> <p> <code>TransformOutput</code> - Identifies the Amazon S3 location where you want Amazon SageMaker to save the results from the transform job.</p> </li> <li> <p> <code>TransformResources</code> - Identifies the ML compute instances for the transform job.</p> </li> </ul> <p>For more information about how batch transformation works, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/batch-transform.html\">Batch Transform</a>.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransformJobRequest"
      },
      "name": "CreateTransformJob",
      "output": {
        "shape": "CreateTransformJobResponse"
      }
    },
    "CreateTrial": {
      "documentation": "<p>Creates an SageMaker <i>trial</i>. A trial is a set of steps called <i>trial components</i> that produce a machine learning model. A trial is part of a single SageMaker <i>experiment</i>.</p> <p>When you use SageMaker Studio or the SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the Amazon Web Services SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to a trial and then use the <a>Search</a> API to search for the tags.</p> <p>To get a list of all your trials, call the <a>ListTrials</a> API. To view a trial's properties, call the <a>DescribeTrial</a> API. To create a trial component, call the <a>CreateTrialComponent</a> API.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrialRequest"
      },
      "name": "CreateTrial",
      "output": {
        "shape": "CreateTrialResponse"
      }
    },
    "CreateTrialComponent": {
      "documentation": "<p>Creates a <i>trial component</i>, which is a stage of a machine learning <i>trial</i>. A trial is composed of one or more trial components. A trial component can be used in multiple trials.</p> <p>Trial components include pre-processing jobs, training jobs, and batch transform jobs.</p> <p>When you use SageMaker Studio or the SageMaker Python SDK, all experiments, trials, and trial components are automatically tracked, logged, and indexed. When you use the Amazon Web Services SDK for Python (Boto), you must use the logging APIs provided by the SDK.</p> <p>You can add tags to a trial component and then use the <a>Search</a> API to search for the tags.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrialComponentRequest"
      },
      "name": "CreateTrialComponent",
      "output": {
        "shape": "CreateTrialComponentResponse"
      }
    },
    "CreateUserProfile": {
      "documentation": "<p>Creates a user profile. A user profile represents a single user within a domain, and is the main way to reference a \"person\" for the purposes of sharing, reporting, and other user-oriented features. This entity is created when a user onboards to Amazon SageMaker Studio. If an administrator invites a person by email or imports them from IAM Identity Center, a user profile is automatically created. A user profile is the primary holder of settings for an individual user and has a reference to the user's private Amazon Elastic File System (EFS) home directory. </p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserProfileRequest"
      },
      "name": "CreateUserProfile",
      "output": {
        "shape": "CreateUserProfileResponse"
      }
    },
    "CreateWorkforce": {
      "documentation": "<p>Use this operation to create a workforce. This operation will return an error if a workforce already exists in the Amazon Web Services Region that you specify. You can only create one workforce in each Amazon Web Services Region per Amazon Web Services account.</p> <p>If you want to create a new workforce in an Amazon Web Services Region where a workforce already exists, use the API operation to delete the existing workforce and then use <code>CreateWorkforce</code> to create a new workforce.</p> <p>To create a private workforce using Amazon Cognito, you must specify a Cognito user pool in <code>CognitoConfig</code>. You can also create an Amazon Cognito workforce using the Amazon SageMaker console. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-workforce-create-private.html\"> Create a Private Workforce (Amazon Cognito)</a>.</p> <p>To create a private workforce using your own OIDC Identity Provider (IdP), specify your IdP configuration in <code>OidcConfig</code>. Your OIDC IdP must support <i>groups</i> because groups are used by Ground Truth and Amazon A2I to create work teams. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/sms-workforce-create-private-oidc.html\"> Create a Private Workforce (OIDC IdP)</a>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkforceRequest"
      },
      "name": "CreateWorkforce",
      "output": {
        "shape": "CreateWorkforceResponse"
      }
    },
    "CreateWorkteam": {
      "documentation": "<p>Creates a new work team for labeling your data. A work team is defined by one or more Amazon Cognito user pools. You must first create the user pools before you can create a work team.</p> <p>You cannot create more than 25 work teams in an account and region.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkteamRequest"
      },
      "name": "CreateWorkteam",
      "output": {
        "shape": "CreateWorkteamResponse"
      }
    },
    "DeleteAction": {
      "documentation": "<p>Deletes an action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteActionRequest"
      },
      "name": "DeleteAction",
      "output": {
        "shape": "DeleteActionResponse"
      }
    },
    "DeleteAlgorithm": {
      "documentation": "<p>Removes the specified algorithm from your account.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAlgorithmInput"
      },
      "name": "DeleteAlgorithm"
    },
    "DeleteApp": {
      "documentation": "<p>Used to stop and delete an app.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "name": "DeleteApp"
    },
    "DeleteAppImageConfig": {
      "documentation": "<p>Deletes an AppImageConfig.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppImageConfigRequest"
      },
      "name": "DeleteAppImageConfig"
    },
    "DeleteArtifact": {
      "documentation": "<p>Deletes an artifact. Either <code>ArtifactArn</code> or <code>Source</code> must be specified.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteArtifactRequest"
      },
      "name": "DeleteArtifact",
      "output": {
        "shape": "DeleteArtifactResponse"
      }
    },
    "DeleteAssociation": {
      "documentation": "<p>Deletes an association.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssociationRequest"
      },
      "name": "DeleteAssociation",
      "output": {
        "shape": "DeleteAssociationResponse"
      }
    },
    "DeleteCodeRepository": {
      "documentation": "<p>Deletes the specified Git repository from your account.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCodeRepositoryInput"
      },
      "name": "DeleteCodeRepository"
    },
    "DeleteContext": {
      "documentation": "<p>Deletes an context.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContextRequest"
      },
      "name": "DeleteContext",
      "output": {
        "shape": "DeleteContextResponse"
      }
    },
    "DeleteDataQualityJobDefinition": {
      "documentation": "<p>Deletes a data quality monitoring job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDataQualityJobDefinitionRequest"
      },
      "name": "DeleteDataQualityJobDefinition"
    },
    "DeleteDeviceFleet": {
      "documentation": "<p>Deletes a fleet.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeviceFleetRequest"
      },
      "name": "DeleteDeviceFleet"
    },
    "DeleteDomain": {
      "documentation": "<p>Used to delete a domain. If you onboarded with IAM mode, you will need to delete your domain to onboard again using IAM Identity Center. Use with caution. All of the members of the domain will lose access to their EFS volume, including data, notebooks, and other artifacts. </p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "name": "DeleteDomain"
    },
    "DeleteEdgeDeploymentPlan": {
      "documentation": "<p>Deletes an edge deployment plan if (and only if) all the stages in the plan are inactive or there are no stages in the plan.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEdgeDeploymentPlanRequest"
      },
      "name": "DeleteEdgeDeploymentPlan"
    },
    "DeleteEdgeDeploymentStage": {
      "documentation": "<p>Delete a stage in an edge deployment plan if (and only if) the stage is inactive.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEdgeDeploymentStageRequest"
      },
      "name": "DeleteEdgeDeploymentStage"
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes an endpoint. SageMaker frees up all of the resources that were deployed when the endpoint was created. </p> <p>SageMaker retires any custom KMS key grants associated with the endpoint, meaning you don't need to use the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> API call.</p> <p>When you delete your endpoint, SageMaker asynchronously deletes associated endpoint resources such as KMS key grants. You might still see these resources in your account for a few minutes after deleting your endpoint. Do not delete or revoke the permissions for your <code> <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_CreateModel.html#sagemaker-CreateModel-request-ExecutionRoleArn\">ExecutionRoleArn</a> </code>, otherwise SageMaker cannot delete these resources.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointInput"
      },
      "name": "DeleteEndpoint"
    },
    "DeleteEndpointConfig": {
      "documentation": "<p>Deletes an endpoint configuration. The <code>DeleteEndpointConfig</code> API deletes only the specified configuration. It does not delete endpoints created using the configuration. </p> <p>You must not delete an <code>EndpointConfig</code> in use by an endpoint that is live or while the <code>UpdateEndpoint</code> or <code>CreateEndpoint</code> operations are being performed on the endpoint. If you delete the <code>EndpointConfig</code> of an endpoint that is active or being created or updated you may lose visibility into the instance type the endpoint is using. The endpoint must be deleted in order to stop incurring charges.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointConfigInput"
      },
      "name": "DeleteEndpointConfig"
    },
    "DeleteExperiment": {
      "documentation": "<p>Deletes an SageMaker experiment. All trials associated with the experiment must be deleted first. Use the <a>ListTrials</a> API to get a list of the trials associated with the experiment.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExperimentRequest"
      },
      "name": "DeleteExperiment",
      "output": {
        "shape": "DeleteExperimentResponse"
      }
    },
    "DeleteFeatureGroup": {
      "documentation": "<p>Delete the <code>FeatureGroup</code> and any data that was written to the <code>OnlineStore</code> of the <code>FeatureGroup</code>. Data cannot be accessed from the <code>OnlineStore</code> immediately after <code>DeleteFeatureGroup</code> is called. </p> <p>Data written into the <code>OfflineStore</code> will not be deleted. The Amazon Web Services Glue database and tables that are automatically created for your <code>OfflineStore</code> are not deleted. </p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFeatureGroupRequest"
      },
      "name": "DeleteFeatureGroup"
    },
    "DeleteFlowDefinition": {
      "documentation": "<p>Deletes the specified flow definition.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFlowDefinitionRequest"
      },
      "name": "DeleteFlowDefinition",
      "output": {
        "shape": "DeleteFlowDefinitionResponse"
      }
    },
    "DeleteHumanTaskUi": {
      "documentation": "<p>Use this operation to delete a human task user interface (worker task template).</p> <p> To see a list of human task user interfaces (work task templates) in your account, use . When you delete a worker task template, it no longer appears when you call <code>ListHumanTaskUis</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteHumanTaskUiRequest"
      },
      "name": "DeleteHumanTaskUi",
      "output": {
        "shape": "DeleteHumanTaskUiResponse"
      }
    },
    "DeleteImage": {
      "documentation": "<p>Deletes a SageMaker image and all versions of the image. The container images aren't deleted.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResponse"
      }
    },
    "DeleteImageVersion": {
      "documentation": "<p>Deletes a version of a SageMaker image. The container image the version represents isn't deleted.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageVersionRequest"
      },
      "name": "DeleteImageVersion",
      "output": {
        "shape": "DeleteImageVersionResponse"
      }
    },
    "DeleteModel": {
      "documentation": "<p>Deletes a model. The <code>DeleteModel</code> API deletes only the model entry that was created in SageMaker when you called the <code>CreateModel</code> API. It does not delete model artifacts, inference code, or the IAM role that you specified when creating the model. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelInput"
      },
      "name": "DeleteModel"
    },
    "DeleteModelBiasJobDefinition": {
      "documentation": "<p>Deletes an Amazon SageMaker model bias job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelBiasJobDefinitionRequest"
      },
      "name": "DeleteModelBiasJobDefinition"
    },
    "DeleteModelExplainabilityJobDefinition": {
      "documentation": "<p>Deletes an Amazon SageMaker model explainability job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelExplainabilityJobDefinitionRequest"
      },
      "name": "DeleteModelExplainabilityJobDefinition"
    },
    "DeleteModelPackage": {
      "documentation": "<p>Deletes a model package.</p> <p>A model package is used to create SageMaker models or list on Amazon Web Services Marketplace. Buyers can subscribe to model packages listed on Amazon Web Services Marketplace to create models in SageMaker.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelPackageInput"
      },
      "name": "DeleteModelPackage"
    },
    "DeleteModelPackageGroup": {
      "documentation": "<p>Deletes the specified model group.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelPackageGroupInput"
      },
      "name": "DeleteModelPackageGroup"
    },
    "DeleteModelPackageGroupPolicy": {
      "documentation": "<p>Deletes a model group resource policy.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelPackageGroupPolicyInput"
      },
      "name": "DeleteModelPackageGroupPolicy"
    },
    "DeleteModelQualityJobDefinition": {
      "documentation": "<p>Deletes the secified model quality monitoring job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelQualityJobDefinitionRequest"
      },
      "name": "DeleteModelQualityJobDefinition"
    },
    "DeleteMonitoringSchedule": {
      "documentation": "<p>Deletes a monitoring schedule. Also stops the schedule had not already been stopped. This does not delete the job execution history of the monitoring schedule. </p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMonitoringScheduleRequest"
      },
      "name": "DeleteMonitoringSchedule"
    },
    "DeleteNotebookInstance": {
      "documentation": "<p> Deletes an SageMaker notebook instance. Before you can delete a notebook instance, you must call the <code>StopNotebookInstance</code> API. </p> <important> <p>When you delete a notebook instance, you lose all of your data. SageMaker removes the ML compute instance, and deletes the ML storage volume and the network interface associated with the notebook instance. </p> </important>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotebookInstanceInput"
      },
      "name": "DeleteNotebookInstance"
    },
    "DeleteNotebookInstanceLifecycleConfig": {
      "documentation": "<p>Deletes a notebook instance lifecycle configuration.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotebookInstanceLifecycleConfigInput"
      },
      "name": "DeleteNotebookInstanceLifecycleConfig"
    },
    "DeletePipeline": {
      "documentation": "<p>Deletes a pipeline if there are no running instances of the pipeline. To delete a pipeline, you must stop all running instances of the pipeline using the <code>StopPipelineExecution</code> API. When you delete a pipeline, all instances of the pipeline are deleted.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePipelineRequest"
      },
      "name": "DeletePipeline",
      "output": {
        "shape": "DeletePipelineResponse"
      }
    },
    "DeleteProject": {
      "documentation": "<p>Delete the specified project.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProjectInput"
      },
      "name": "DeleteProject"
    },
    "DeleteStudioLifecycleConfig": {
      "documentation": "<p>Deletes the Studio Lifecycle Configuration. In order to delete the Lifecycle Configuration, there must be no running apps using the Lifecycle Configuration. You must also remove the Lifecycle Configuration from UserSettings in all Domains and UserProfiles.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStudioLifecycleConfigRequest"
      },
      "name": "DeleteStudioLifecycleConfig"
    },
    "DeleteTags": {
      "documentation": "<p>Deletes the specified tags from an SageMaker resource.</p> <p>To list a resource's tags, use the <code>ListTags</code> API. </p> <note> <p>When you call this API to delete tags from a hyperparameter tuning job, the deleted tags are not removed from training jobs that the hyperparameter tuning job launched before you called this API.</p> </note> <note> <p>When you call this API to delete tags from a SageMaker Studio Domain or User Profile, the deleted tags are not removed from Apps that the SageMaker Studio Domain or User Profile launched before you called this API.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsInput"
      },
      "name": "DeleteTags",
      "output": {
        "shape": "DeleteTagsOutput"
      }
    },
    "DeleteTrial": {
      "documentation": "<p>Deletes the specified trial. All trial components that make up the trial must be deleted first. Use the <a>DescribeTrialComponent</a> API to get the list of trial components.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTrialRequest"
      },
      "name": "DeleteTrial",
      "output": {
        "shape": "DeleteTrialResponse"
      }
    },
    "DeleteTrialComponent": {
      "documentation": "<p>Deletes the specified trial component. A trial component must be disassociated from all trials before the trial component can be deleted. To disassociate a trial component from a trial, call the <a>DisassociateTrialComponent</a> API.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTrialComponentRequest"
      },
      "name": "DeleteTrialComponent",
      "output": {
        "shape": "DeleteTrialComponentResponse"
      }
    },
    "DeleteUserProfile": {
      "documentation": "<p>Deletes a user profile. When a user profile is deleted, the user loses access to their EFS volume, including data, notebooks, and other artifacts.</p>",
      "errors": [
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserProfileRequest"
      },
      "name": "DeleteUserProfile"
    },
    "DeleteWorkforce": {
      "documentation": "<p>Use this operation to delete a workforce.</p> <p>If you want to create a new workforce in an Amazon Web Services Region where a workforce already exists, use this operation to delete the existing workforce and then use to create a new workforce.</p> <important> <p>If a private workforce contains one or more work teams, you must use the operation to delete all work teams before you delete the workforce. If you try to delete a workforce that contains one or more work teams, you will recieve a <code>ResourceInUse</code> error.</p> </important>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkforceRequest"
      },
      "name": "DeleteWorkforce",
      "output": {
        "shape": "DeleteWorkforceResponse"
      }
    },
    "DeleteWorkteam": {
      "documentation": "<p>Deletes an existing work team. This operation can't be undone.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkteamRequest"
      },
      "name": "DeleteWorkteam",
      "output": {
        "shape": "DeleteWorkteamResponse"
      }
    },
    "DeregisterDevices": {
      "documentation": "<p>Deregisters the specified devices. After you deregister a device, you will need to re-register the devices.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterDevicesRequest"
      },
      "name": "DeregisterDevices"
    },
    "DescribeAction": {
      "documentation": "<p>Describes an action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeActionRequest"
      },
      "name": "DescribeAction",
      "output": {
        "shape": "DescribeActionResponse"
      }
    },
    "DescribeAlgorithm": {
      "documentation": "<p>Returns a description of the specified algorithm that is in your account.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAlgorithmInput"
      },
      "name": "DescribeAlgorithm",
      "output": {
        "shape": "DescribeAlgorithmOutput"
      }
    },
    "DescribeApp": {
      "documentation": "<p>Describes the app.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAppRequest"
      },
      "name": "DescribeApp",
      "output": {
        "shape": "DescribeAppResponse"
      }
    },
    "DescribeAppImageConfig": {
      "documentation": "<p>Describes an AppImageConfig.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAppImageConfigRequest"
      },
      "name": "DescribeAppImageConfig",
      "output": {
        "shape": "DescribeAppImageConfigResponse"
      }
    },
    "DescribeArtifact": {
      "documentation": "<p>Describes an artifact.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeArtifactRequest"
      },
      "name": "DescribeArtifact",
      "output": {
        "shape": "DescribeArtifactResponse"
      }
    },
    "DescribeAutoMLJob": {
      "documentation": "<p>Returns information about an Amazon SageMaker AutoML job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutoMLJobRequest"
      },
      "name": "DescribeAutoMLJob",
      "output": {
        "shape": "DescribeAutoMLJobResponse"
      }
    },
    "DescribeCodeRepository": {
      "documentation": "<p>Gets details about the specified Git repository.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCodeRepositoryInput"
      },
      "name": "DescribeCodeRepository",
      "output": {
        "shape": "DescribeCodeRepositoryOutput"
      }
    },
    "DescribeCompilationJob": {
      "documentation": "<p>Returns information about a model compilation job.</p> <p>To create a model compilation job, use <a>CreateCompilationJob</a>. To get information about multiple model compilation jobs, use <a>ListCompilationJobs</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCompilationJobRequest"
      },
      "name": "DescribeCompilationJob",
      "output": {
        "shape": "DescribeCompilationJobResponse"
      }
    },
    "DescribeContext": {
      "documentation": "<p>Describes a context.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeContextRequest"
      },
      "name": "DescribeContext",
      "output": {
        "shape": "DescribeContextResponse"
      }
    },
    "DescribeDataQualityJobDefinition": {
      "documentation": "<p>Gets the details of a data quality monitoring job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDataQualityJobDefinitionRequest"
      },
      "name": "DescribeDataQualityJobDefinition",
      "output": {
        "shape": "DescribeDataQualityJobDefinitionResponse"
      }
    },
    "DescribeDevice": {
      "documentation": "<p>Describes the device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDeviceRequest"
      },
      "name": "DescribeDevice",
      "output": {
        "shape": "DescribeDeviceResponse"
      }
    },
    "DescribeDeviceFleet": {
      "documentation": "<p>A description of the fleet the device belongs to.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDeviceFleetRequest"
      },
      "name": "DescribeDeviceFleet",
      "output": {
        "shape": "DescribeDeviceFleetResponse"
      }
    },
    "DescribeDomain": {
      "documentation": "<p>The description of the domain.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainRequest"
      },
      "name": "DescribeDomain",
      "output": {
        "shape": "DescribeDomainResponse"
      }
    },
    "DescribeEdgeDeploymentPlan": {
      "documentation": "<p>Describes an edge deployment plan with deployment status per stage.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEdgeDeploymentPlanRequest"
      },
      "name": "DescribeEdgeDeploymentPlan",
      "output": {
        "shape": "DescribeEdgeDeploymentPlanResponse"
      }
    },
    "DescribeEdgePackagingJob": {
      "documentation": "<p>A description of edge packaging jobs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEdgePackagingJobRequest"
      },
      "name": "DescribeEdgePackagingJob",
      "output": {
        "shape": "DescribeEdgePackagingJobResponse"
      }
    },
    "DescribeEndpoint": {
      "documentation": "<p>Returns the description of an endpoint.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointInput"
      },
      "name": "DescribeEndpoint",
      "output": {
        "shape": "DescribeEndpointOutput"
      }
    },
    "DescribeEndpointConfig": {
      "documentation": "<p>Returns the description of an endpoint configuration created using the <code>CreateEndpointConfig</code> API.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointConfigInput"
      },
      "name": "DescribeEndpointConfig",
      "output": {
        "shape": "DescribeEndpointConfigOutput"
      }
    },
    "DescribeExperiment": {
      "documentation": "<p>Provides a list of an experiment's properties.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExperimentRequest"
      },
      "name": "DescribeExperiment",
      "output": {
        "shape": "DescribeExperimentResponse"
      }
    },
    "DescribeFeatureGroup": {
      "documentation": "<p>Use this operation to describe a <code>FeatureGroup</code>. The response includes information on the creation time, <code>FeatureGroup</code> name, the unique identifier for each <code>FeatureGroup</code>, and more.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFeatureGroupRequest"
      },
      "name": "DescribeFeatureGroup",
      "output": {
        "shape": "DescribeFeatureGroupResponse"
      }
    },
    "DescribeFeatureMetadata": {
      "documentation": "<p>Shows the metadata for a feature within a feature group.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFeatureMetadataRequest"
      },
      "name": "DescribeFeatureMetadata",
      "output": {
        "shape": "DescribeFeatureMetadataResponse"
      }
    },
    "DescribeFlowDefinition": {
      "documentation": "<p>Returns information about the specified flow definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFlowDefinitionRequest"
      },
      "name": "DescribeFlowDefinition",
      "output": {
        "shape": "DescribeFlowDefinitionResponse"
      }
    },
    "DescribeHumanTaskUi": {
      "documentation": "<p>Returns information about the requested human task user interface (worker task template).</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHumanTaskUiRequest"
      },
      "name": "DescribeHumanTaskUi",
      "output": {
        "shape": "DescribeHumanTaskUiResponse"
      }
    },
    "DescribeHyperParameterTuningJob": {
      "documentation": "<p>Gets a description of a hyperparameter tuning job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHyperParameterTuningJobRequest"
      },
      "name": "DescribeHyperParameterTuningJob",
      "output": {
        "shape": "DescribeHyperParameterTuningJobResponse"
      }
    },
    "DescribeImage": {
      "documentation": "<p>Describes a SageMaker image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImageRequest"
      },
      "name": "DescribeImage",
      "output": {
        "shape": "DescribeImageResponse"
      }
    },
    "DescribeImageVersion": {
      "documentation": "<p>Describes a version of a SageMaker image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImageVersionRequest"
      },
      "name": "DescribeImageVersion",
      "output": {
        "shape": "DescribeImageVersionResponse"
      }
    },
    "DescribeInferenceRecommendationsJob": {
      "documentation": "<p>Provides the results of the Inference Recommender job. One or more recommendation jobs are returned.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInferenceRecommendationsJobRequest"
      },
      "name": "DescribeInferenceRecommendationsJob",
      "output": {
        "shape": "DescribeInferenceRecommendationsJobResponse"
      }
    },
    "DescribeLabelingJob": {
      "documentation": "<p>Gets information about a labeling job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLabelingJobRequest"
      },
      "name": "DescribeLabelingJob",
      "output": {
        "shape": "DescribeLabelingJobResponse"
      }
    },
    "DescribeLineageGroup": {
      "documentation": "<p>Provides a list of properties for the requested lineage group. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/xaccount-lineage-tracking.html\"> Cross-Account Lineage Tracking </a> in the <i>Amazon SageMaker Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLineageGroupRequest"
      },
      "name": "DescribeLineageGroup",
      "output": {
        "shape": "DescribeLineageGroupResponse"
      }
    },
    "DescribeModel": {
      "documentation": "<p>Describes a model that you created using the <code>CreateModel</code> API.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelInput"
      },
      "name": "DescribeModel",
      "output": {
        "shape": "DescribeModelOutput"
      }
    },
    "DescribeModelBiasJobDefinition": {
      "documentation": "<p>Returns a description of a model bias job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelBiasJobDefinitionRequest"
      },
      "name": "DescribeModelBiasJobDefinition",
      "output": {
        "shape": "DescribeModelBiasJobDefinitionResponse"
      }
    },
    "DescribeModelExplainabilityJobDefinition": {
      "documentation": "<p>Returns a description of a model explainability job definition.</p>",
      "errors": [
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelExplainabilityJobDefinitionRequest"
      },
      "name": "DescribeModelExplainabilityJobDefinition",
      "output": {
        "shape": "DescribeModelExplainabilityJobDefinitionResponse"
      }
    },
    "DescribeModelPackage": {
[...]
