{
  "documentation": "AWS Elemental MediaConvert",
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaConvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "signatureVersion": "v4",
    "signingName": "mediaconvert",
    "uid": "mediaconvert-2017-08-29"
  },
  "operations": {
    "AssociateCertificate": {
      "documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/certificates",
        "responseCode": 201
      },
      "input": {
        "shape": "AssociateCertificateRequest"
      },
      "name": "AssociateCertificate",
      "output": {
        "shape": "AssociateCertificateResponse"
      }
    },
    "CancelJob": {
      "documentation": "Permanently cancel a job. Once you have canceled a job, you can't start it again.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "name": "CancelJob",
      "output": {
        "shape": "CancelJobResponse"
      }
    },
    "CreateJob": {
      "documentation": "Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateJobTemplate": {
      "documentation": "Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobTemplateRequest"
      },
      "name": "CreateJobTemplate",
      "output": {
        "shape": "CreateJobTemplateResponse"
      }
    },
    "CreatePreset": {
      "documentation": "Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePresetRequest"
      },
      "name": "CreatePreset",
      "output": {
        "shape": "CreatePresetResponse"
      }
    },
    "CreateQueue": {
      "documentation": "Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateQueueRequest"
      },
      "name": "CreateQueue",
      "output": {
        "shape": "CreateQueueResponse"
      }
    },
    "DeleteJobTemplate": {
      "documentation": "Permanently delete a job template you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteJobTemplateRequest"
      },
      "name": "DeleteJobTemplate",
      "output": {
        "shape": "DeleteJobTemplateResponse"
      }
    },
    "DeletePolicy": {
      "documentation": "Permanently delete a policy that you created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "name": "DeletePolicy",
      "output": {
        "shape": "DeletePolicyResponse"
      }
    },
    "DeletePreset": {
      "documentation": "Permanently delete a preset you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePresetRequest"
      },
      "name": "DeletePreset",
      "output": {
        "shape": "DeletePresetResponse"
      }
    },
    "DeleteQueue": {
      "documentation": "Permanently delete a queue you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteQueueRequest"
      },
      "name": "DeleteQueue",
      "output": {
        "shape": "DeleteQueueResponse"
      }
    },
    "DescribeEndpoints": {
      "documentation": "Send an request with an empty body to the regional API endpoint to get your account API endpoint.",
      "errors": [
        {
          "documentation": "BadRequestException",
          "shape": "BadRequestException"
        },
        {
          "documentation": "InternalServiceException",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "AccessDeniedException",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "ResourceNotFoundException",
          "shape": "NotFoundException"
        },
        {
          "documentation": "LimitExceededException",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "ResourceInUseException",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeEndpointsRequest"
      },
      "name": "DescribeEndpoints",
      "output": {
        "shape": "DescribeEndpointsResponse"
      }
    },
    "DisassociateCertificate": {
      "documentation": "Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/certificates/{arn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DisassociateCertificateRequest"
      },
      "name": "DisassociateCertificate",
      "output": {
        "shape": "DisassociateCertificateResponse"
      }
    },
    "GetJob": {
      "documentation": "Retrieve the JSON for a specific completed transcoding job.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetJobTemplate": {
      "documentation": "Retrieve the JSON for a specific job template.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobTemplateRequest"
      },
      "name": "GetJobTemplate",
      "output": {
        "shape": "GetJobTemplateResponse"
      }
    },
    "GetPolicy": {
      "documentation": "Retrieve the JSON for your policy.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "GetPreset": {
      "documentation": "Retrieve the JSON for a specific preset.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPresetRequest"
      },
      "name": "GetPreset",
      "output": {
        "shape": "GetPresetResponse"
      }
    },
    "GetQueue": {
      "documentation": "Retrieve the JSON for a specific queue.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueRequest"
      },
      "name": "GetQueue",
      "output": {
        "shape": "GetQueueResponse"
      }
    },
    "ListJobTemplates": {
      "documentation": "Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobTemplatesRequest"
      },
      "name": "ListJobTemplates",
      "output": {
        "shape": "ListJobTemplatesResponse"
      }
    },
    "ListJobs": {
      "documentation": "Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResponse"
      }
    },
    "ListPresets": {
      "documentation": "Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPresetsRequest"
      },
      "name": "ListPresets",
      "output": {
        "shape": "ListPresetsResponse"
      }
    },
    "ListQueues": {
      "documentation": "Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueuesRequest"
      },
      "name": "ListQueues",
      "output": {
        "shape": "ListQueuesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "Retrieve the tags for a MediaConvert resource.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutPolicy": {
      "documentation": "Create or change your policy. For more information about policies, see the user guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "PutPolicyRequest"
      },
      "name": "PutPolicy",
      "output": {
        "shape": "PutPolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateJobTemplate": {
      "documentation": "Modify one of your existing job templates.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJobTemplateRequest"
      },
      "name": "UpdateJobTemplate",
      "output": {
        "shape": "UpdateJobTemplateResponse"
      }
    },
    "UpdatePreset": {
      "documentation": "Modify one of your existing presets.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePresetRequest"
      },
      "name": "UpdatePreset",
      "output": {
        "shape": "UpdatePresetResponse"
      }
    },
    "UpdateQueue": {
      "documentation": "Modify one of your existing queues.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateQueueRequest"
      },
      "name": "UpdateQueue",
      "output": {
        "shape": "UpdateQueueResponse"
      }
    }
  },
  "shapes": {
    "AacAudioDescriptionBroadcasterMix": {
      "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ],
      "type": "string"
    },
    "AacCodecProfile": {
      "documentation": "AAC Profile.",
      "enum": [
        "LC",
        "HEV1",
        "HEV2"
      ],
      "type": "string"
    },
    "AacCodingMode": {
      "documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ],
      "type": "string"
    },
    "AacRateControlMode": {
      "documentation": "Rate Control Mode.",
      "enum": [
        "CBR",
        "VBR"
      ],
      "type": "string"
    },
    "AacRawFormat": {
      "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ],
      "type": "string"
    },
    "AacSettings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
          "locationName": "audioDescriptionBroadcasterMix",
          "shape": "AacAudioDescriptionBroadcasterMix"
        },
        "Bitrate": {
          "documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
          "locationName": "bitrate",
          "shape": "__integerMin6000Max1024000"
        },
        "CodecProfile": {
          "documentation": "AAC Profile.",
          "locationName": "codecProfile",
          "shape": "AacCodecProfile"
        },
        "CodingMode": {
          "documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
          "locationName": "codingMode",
          "shape": "AacCodingMode"
        },
        "RateControlMode": {
          "documentation": "Rate Control Mode.",
          "locationName": "rateControlMode",
          "shape": "AacRateControlMode"
        },
        "RawFormat": {
          "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
          "locationName": "rawFormat",
          "shape": "AacRawFormat"
        },
        "SampleRate": {
          "documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
          "locationName": "sampleRate",
          "shape": "__integerMin8000Max96000"
        },
        "Specification": {
          "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
          "locationName": "specification",
          "shape": "AacSpecification"
        },
        "VbrQuality": {
          "documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
          "locationName": "vbrQuality",
          "shape": "AacVbrQuality"
        }
      },
      "type": "structure"
    },
    "AacSpecification": {
      "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
      "enum": [
        "MPEG2",
        "MPEG4"
      ],
      "type": "string"
    },
    "AacVbrQuality": {
      "documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
      "enum": [
        "LOW",
        "MEDIUM_LOW",
        "MEDIUM_HIGH",
        "HIGH"
      ],
      "type": "string"
    },
    "Ac3BitstreamMode": {
      "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
      "enum": [
        "COMPLETE_MAIN",
        "COMMENTARY",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ],
      "type": "string"
    },
    "Ac3CodingMode": {
      "documentation": "Dolby Digital coding mode. Determines number of channels.",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ],
      "type": "string"
    },
    "Ac3DynamicRangeCompressionLine": {
      "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
      "enum": [
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3DynamicRangeCompressionProfile": {
      "documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes.",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3DynamicRangeCompressionRf": {
      "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
      "enum": [
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3LfeFilter": {
      "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "Ac3MetadataControl": {
      "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "Ac3Settings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
      "members": {
        "Bitrate": {
          "documentation": "Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.",
          "locationName": "bitrate",
          "shape": "__integerMin64000Max640000"
        },
        "BitstreamMode": {
          "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
          "locationName": "bitstreamMode",
          "shape": "Ac3BitstreamMode"
        },
        "CodingMode": {
          "documentation": "Dolby Digital coding mode. Determines number of channels.",
          "locationName": "codingMode",
          "shape": "Ac3CodingMode"
        },
        "Dialnorm": {
          "documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
          "locationName": "dialnorm",
          "shape": "__integerMin1Max31"
        },
        "DynamicRangeCompressionLine": {
          "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
          "locationName": "dynamicRangeCompressionLine",
          "shape": "Ac3DynamicRangeCompressionLine"
        },
        "DynamicRangeCompressionProfile": {
          "documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes.",
          "locationName": "dynamicRangeCompressionProfile",
          "shape": "Ac3DynamicRangeCompressionProfile"
        },
        "DynamicRangeCompressionRf": {
          "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
          "locationName": "dynamicRangeCompressionRf",
          "shape": "Ac3DynamicRangeCompressionRf"
        },
        "LfeFilter": {
          "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
          "locationName": "lfeFilter",
          "shape": "Ac3LfeFilter"
        },
        "MetadataControl": {
          "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
          "locationName": "metadataControl",
          "shape": "Ac3MetadataControl"
        },
        "SampleRate": {
          "documentation": "This value is always 48000. It represents the sample rate in Hz.",
          "locationName": "sampleRate",
          "shape": "__integerMin48000Max48000"
        }
      },
      "type": "structure"
    },
    "AccelerationMode": {
      "documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
      "enum": [
        "DISABLED",
        "ENABLED",
        "PREFERRED"
      ],
      "type": "string"
    },
    "AccelerationSettings": {
      "documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content.",
      "members": {
        "Mode": {
          "documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
          "locationName": "mode",
          "shape": "AccelerationMode"
        }
      },
      "required": [
        "Mode"
      ],
      "type": "structure"
    },
    "AccelerationStatus": {
      "documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
      "enum": [
        "NOT_APPLICABLE",
        "IN_PROGRESS",
        "ACCELERATED",
        "NOT_ACCELERATED"
      ],
      "type": "string"
    },
    "AfdSignaling": {
      "documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
      "enum": [
        "NONE",
        "AUTO",
        "FIXED"
      ],
      "type": "string"
    },
    "AiffSettings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
      "members": {
        "BitDepth": {
          "documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
          "locationName": "bitDepth",
          "shape": "__integerMin16Max24"
        },
        "Channels": {
          "documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
          "locationName": "channels",
          "shape": "__integerMin1Max64"
        },
        "SampleRate": {
          "documentation": "Sample rate in hz.",
          "locationName": "sampleRate",
          "shape": "__integerMin8000Max192000"
        }
      },
      "type": "structure"
    },
    "AllowedRenditionSize": {
      "documentation": "Use Allowed renditions to specify a list of possible resolutions in your ABR stack. * MediaConvert will create an ABR stack exclusively from the list of resolutions that you specify. * Some resolutions in the Allowed renditions list may not be included, however you can force a resolution to be included by setting Required to ENABLED. * You must specify at least one resolution that is greater than or equal to any resolutions that you specify in Min top rendition size or Min bottom rendition size. * If you specify Allowed renditions, you must not specify a separate rule for Force include renditions.",
      "members": {
        "Height": {
          "documentation": "Use Height to define the video resolution height, in pixels, for this rule.",
          "locationName": "height",
          "shape": "__integerMin32Max8192"
        },
        "Required": {
          "documentation": "Set to ENABLED to force a rendition to be included.",
          "locationName": "required",
          "shape": "RequiredFlag"
        },
        "Width": {
          "documentation": "Use Width to define the video resolution width, in pixels, for this rule.",
          "locationName": "width",
          "shape": "__integerMin32Max8192"
        }
      },
      "type": "structure"
    },
    "AlphaBehavior": {
      "documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
      "enum": [
        "DISCARD",
        "REMAP_TO_LUMA"
      ],
      "type": "string"
    },
    "AncillaryConvert608To708": {
      "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ],
      "type": "string"
    },
    "AncillarySourceSettings": {
      "documentation": "Settings for ancillary captions source.",
      "members": {
        "Convert608To708": {
          "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
          "locationName": "convert608To708",
          "shape": "AncillaryConvert608To708"
        },
        "SourceAncillaryChannelNumber": {
          "documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
          "locationName": "sourceAncillaryChannelNumber",
          "shape": "__integerMin1Max4"
        },
        "TerminateCaptions": {
          "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
          "locationName": "terminateCaptions",
          "shape": "AncillaryTerminateCaptions"
        }
      },
      "type": "structure"
    },
    "AncillaryTerminateCaptions": {
      "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
      "enum": [
        "END_OF_INPUT",
        "DISABLED"
      ],
      "type": "string"
    },
    "AntiAlias": {
      "documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "AssociateCertificateRequest": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
          "locationName": "arn",
          "shape": "__string"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "AssociateCertificateResponse": {
      "members": {},
      "type": "structure"
    },
    "AudioChannelTag": {
      "documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS).",
      "enum": [
        "L",
        "R",
        "C",
        "LFE",
        "LS",
        "RS",
        "LC",
        "RC",
        "CS",
        "LSD",
        "RSD",
        "TCS",
        "VHL",
        "VHC",
        "VHR"
      ],
      "type": "string"
    },
    "AudioChannelTaggingSettings": {
      "documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel.",
      "members": {
        "ChannelTag": {
          "documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS).",
          "locationName": "channelTag",
          "shape": "AudioChannelTag"
        }
      },
      "type": "structure"
    },
    "AudioCodec": {
      "documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
      "enum": [
        "AAC",
        "MP2",
        "MP3",
        "WAV",
        "AIFF",
        "AC3",
        "EAC3",
        "EAC3_ATMOS",
        "VORBIS",
        "OPUS",
        "PASSTHROUGH"
      ],
      "type": "string"
    },
    "AudioCodecSettings": {
      "documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec.",
      "members": {
        "AacSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
          "locationName": "aacSettings",
          "shape": "AacSettings"
        },
        "Ac3Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
          "locationName": "ac3Settings",
          "shape": "Ac3Settings"
        },
        "AiffSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
          "locationName": "aiffSettings",
          "shape": "AiffSettings"
        },
        "Codec": {
          "documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
          "locationName": "codec",
          "shape": "AudioCodec"
        },
        "Eac3AtmosSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
          "locationName": "eac3AtmosSettings",
          "shape": "Eac3AtmosSettings"
        },
        "Eac3Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
          "locationName": "eac3Settings",
          "shape": "Eac3Settings"
        },
        "Mp2Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
          "locationName": "mp2Settings",
          "shape": "Mp2Settings"
        },
        "Mp3Settings": {
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
          "locationName": "mp3Settings",
          "shape": "Mp3Settings"
        },
        "OpusSettings": {
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value OPUS.",
          "locationName": "opusSettings",
          "shape": "OpusSettings"
        },
        "VorbisSettings": {
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value Vorbis.",
          "locationName": "vorbisSettings",
          "shape": "VorbisSettings"
        },
        "WavSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
          "locationName": "wavSettings",
          "shape": "WavSettings"
        }
      },
      "type": "structure"
    },
    "AudioDefaultSelection": {
      "documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
      "enum": [
        "DEFAULT",
        "NOT_DEFAULT"
      ],
      "type": "string"
    },
    "AudioDescription": {
      "documentation": "Settings related to one audio tab on the MediaConvert console. In your job JSON, an instance of AudioDescription is equivalent to one audio tab in the console. Usually, one audio tab corresponds to one output audio track. Depending on how you set up your input audio selectors and whether you use audio selector groups, one audio tab can correspond to a group of output audio tracks.",
      "members": {
        "AudioChannelTaggingSettings": {
          "documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel.",
          "locationName": "audioChannelTaggingSettings",
          "shape": "AudioChannelTaggingSettings"
        },
        "AudioNormalizationSettings": {
          "documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
          "locationName": "audioNormalizationSettings",
          "shape": "AudioNormalizationSettings"
        },
        "AudioSourceName": {
          "documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
          "locationName": "audioSourceName",
          "shape": "__string"
        },
        "AudioType": {
          "documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
          "locationName": "audioType",
          "shape": "__integerMin0Max255"
        },
        "AudioTypeControl": {
          "documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
          "locationName": "audioTypeControl",
          "shape": "AudioTypeControl"
        },
        "CodecSettings": {
          "documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec.",
          "locationName": "codecSettings",
          "shape": "AudioCodecSettings"
        },
        "CustomLanguageCode": {
          "documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
          "locationName": "customLanguageCode",
          "shape": "__stringPatternAZaZ23AZaZ"
        },
        "LanguageCode": {
          "documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
          "locationName": "languageCode",
          "shape": "LanguageCode"
        },
        "LanguageCodeControl": {
          "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
          "locationName": "languageCodeControl",
          "shape": "AudioLanguageCodeControl"
        },
        "RemixSettings": {
          "documentation": "Advanced audio remixing settings.",
          "locationName": "remixSettings",
          "shape": "RemixSettings"
        },
        "StreamName": {
          "documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
          "locationName": "streamName",
          "shape": "__stringPatternWS"
        }
      },
      "type": "structure"
    },
    "AudioDurationCorrection": {
      "documentation": "Apply audio timing corrections to help synchronize audio and video in your output. To apply timing corrections, your input must meet the following requirements: * Container: MP4, or MOV, with an accurate time-to-sample (STTS) table. * Audio track: AAC. Choose from the following audio timing correction settings: * Disabled (Default): Apply no correction. * Auto: Recommended for most inputs. MediaConvert analyzes the audio timing in your input and determines which correction setting to use, if needed. * Track: Adjust the duration of each audio frame by a constant amount to align the audio track length with STTS duration. Track-level correction does not affect pitch, and is recommended for tonal audio content such as music. * Frame: Adjust the duration of each audio frame by a variable amount to align audio frames with STTS timestamps. No corrections are made to already-aligned frames. Frame-level correction may affect the pitch of corrected frames, and is recommended for atonal audio content such as speech or percussion.",
      "enum": [
        "DISABLED",
        "AUTO",
        "TRACK",
        "FRAME"
      ],
      "type": "string"
    },
    "AudioLanguageCodeControl": {
      "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithm": {
      "documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
      "enum": [
        "ITU_BS_1770_1",
        "ITU_BS_1770_2",
        "ITU_BS_1770_3",
        "ITU_BS_1770_4"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithmControl": {
      "documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
      "enum": [
        "CORRECT_AUDIO",
        "MEASURE_ONLY"
      ],
      "type": "string"
    },
    "AudioNormalizationLoudnessLogging": {
      "documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
      "enum": [
        "LOG",
        "DONT_LOG"
      ],
      "type": "string"
    },
    "AudioNormalizationPeakCalculation": {
      "documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
      "enum": [
        "TRUE_PEAK",
        "NONE"
      ],
      "type": "string"
    },
    "AudioNormalizationSettings": {
      "documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
      "members": {
        "Algorithm": {
          "documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
          "locationName": "algorithm",
          "shape": "AudioNormalizationAlgorithm"
        },
        "AlgorithmControl": {
          "documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
          "locationName": "algorithmControl",
          "shape": "AudioNormalizationAlgorithmControl"
        },
        "CorrectionGateLevel": {
          "documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected.",
          "locationName": "correctionGateLevel",
          "shape": "__integerMinNegative70Max0"
        },
        "LoudnessLogging": {
          "documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
          "locationName": "loudnessLogging",
          "shape": "AudioNormalizationLoudnessLogging"
        },
        "PeakCalculation": {
          "documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
          "locationName": "peakCalculation",
          "shape": "AudioNormalizationPeakCalculation"
        },
        "TargetLkfs": {
          "documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
          "locationName": "targetLkfs",
          "shape": "__doubleMinNegative59Max0"
        }
      },
      "type": "structure"
    },
    "AudioSelector": {
      "documentation": "Use Audio selectors (AudioSelectors) to specify a track or set of tracks from the input that you will use in your outputs. You can use multiple Audio selectors per input.",
      "members": {
        "AudioDurationCorrection": {
          "documentation": "Apply audio timing corrections to help synchronize audio and video in your output. To apply timing corrections, your input must meet the following requirements: * Container: MP4, or MOV, with an accurate time-to-sample (STTS) table. * Audio track: AAC. Choose from the following audio timing correction settings: * Disabled (Default): Apply no correction. * Auto: Recommended for most inputs. MediaConvert analyzes the audio timing in your input and determines which correction setting to use, if needed. * Track: Adjust the duration of each audio frame by a constant amount to align the audio track length with STTS duration. Track-level correction does not affect pitch, and is recommended for tonal audio content such as music. * Frame: Adjust the duration of each audio frame by a variable amount to align audio frames with STTS timestamps. No corrections are made to already-aligned frames. Frame-level correction may affect the pitch of corrected frames, and is recommended for atonal audio content such as speech or percussion.",
          "locationName": "audioDurationCorrection",
          "shape": "AudioDurationCorrection"
        },
        "CustomLanguageCode": {
          "documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
          "locationName": "customLanguageCode",
          "shape": "__stringMin3Max3PatternAZaZ3"
        },
        "DefaultSelection": {
          "documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
          "locationName": "defaultSelection",
          "shape": "AudioDefaultSelection"
        },
        "ExternalAudioFileInput": {
          "documentation": "Specifies audio data from an external file source.",
          "locationName": "externalAudioFileInput",
          "shape": "__stringPatternS3MM2PPWWEEBBMMMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSSOOGGGGaAHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSSOOGGGGaA"
        },
        "HlsRenditionGroupSettings": {
          "documentation": "Settings specific to audio sources in an HLS alternate rendition group. Specify the properties (renditionGroupId, renditionName or renditionLanguageCode) to identify the unique audio track among the alternative rendition groups present in the HLS manifest. If no unique track is found, or multiple tracks match the properties provided, the job fails. If no properties in hlsRenditionGroupSettings are specified, the default audio track within the video segment is chosen. If there is no audio within video segment, the alternative audio with DEFAULT=YES is chosen instead.",
          "locationName": "hlsRenditionGroupSettings",
          "shape": "HlsRenditionGroupSettings"
        },
        "LanguageCode": {
          "documentation": "Selects a specific language code from within an audio source.",
          "locationName": "languageCode",
          "shape": "LanguageCode"
        },
        "Offset": {
          "documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
          "locationName": "offset",
          "shape": "__integerMinNegative2147483648Max2147483647"
        },
        "Pids": {
          "documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
          "locationName": "pids",
          "shape": "__listOf__integerMin1Max2147483647"
        },
        "ProgramSelection": {
          "documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
          "locationName": "programSelection",
          "shape": "__integerMin0Max8"
        },
        "RemixSettings": {
          "documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
          "locationName": "remixSettings",
          "shape": "RemixSettings"
        },
        "SelectorType": {
          "documentation": "Specifies the type of the audio selector.",
          "locationName": "selectorType",
          "shape": "AudioSelectorType"
        },
        "Tracks": {
          "documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
          "locationName": "tracks",
          "shape": "__listOf__integerMin1Max2147483647"
        }
      },
      "type": "structure"
    },
    "AudioSelectorGroup": {
      "documentation": "Use audio selector groups to combine multiple sidecar audio inputs so that you can assign them to a single output audio tab (AudioDescription). Note that, if you're working with embedded audio, it's simpler to assign multiple input tracks into a single audio selector rather than use an audio selector group.",
      "members": {
        "AudioSelectorNames": {
          "documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
          "locationName": "audioSelectorNames",
          "shape": "__listOf__stringMin1"
        }
      },
      "type": "structure"
    },
    "AudioSelectorType": {
      "documentation": "Specifies the type of the audio selector.",
      "enum": [
        "PID",
        "TRACK",
        "LANGUAGE_CODE",
        "HLS_RENDITION_GROUP"
      ],
      "type": "string"
    },
    "AudioTypeControl": {
      "documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "AutomatedAbrRule": {
      "documentation": "Specify one or more Automated ABR rule types. Note: Force include and Allowed renditions are mutually exclusive.",
      "members": {
        "AllowedRenditions": {
          "documentation": "When customer adds the allowed renditions rule for auto ABR ladder, they are required to add at leat one rendition to allowedRenditions list",
          "locationName": "allowedRenditions",
          "shape": "__listOfAllowedRenditionSize"
        },
        "ForceIncludeRenditions": {
          "documentation": "When customer adds the force include renditions rule for auto ABR ladder, they are required to add at leat one rendition to forceIncludeRenditions list",
          "locationName": "forceIncludeRenditions",
          "shape": "__listOfForceIncludeRenditionSize"
        },
        "MinBottomRenditionSize": {
          "documentation": "Use Min bottom rendition size to specify a minimum size for the lowest resolution in your ABR stack. * The lowest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 640x360 the lowest resolution in your ABR stack will be equal to or greater than to 640x360. * If you specify a Min top rendition size rule, the value that you specify for Min bottom rendition size must be less than, or equal to, Min top rendition size.",
          "locationName": "minBottomRenditionSize",
          "shape": "MinBottomRenditionSize"
        },
        "MinTopRenditionSize": {
          "documentation": "Use Min top rendition size to specify a minimum size for the highest resolution in your ABR stack. * The highest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 1280x720 the highest resolution in your ABR stack will be equal to or greater than 1280x720. * If you specify a value for Max resolution, the value that you specify for Min top rendition size must be less than, or equal to, Max resolution.",
          "locationName": "minTopRenditionSize",
          "shape": "MinTopRenditionSize"
        },
        "Type": {
          "documentation": "Use Min top rendition size to specify a minimum size for the highest resolution in your ABR stack. * The highest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 1280x720 the highest resolution in your ABR stack will be equal to or greater than 1280x720. * If you specify a value for Max resolution, the value that you specify for Min top rendition size must be less than, or equal to, Max resolution. Use Min bottom rendition size to specify a minimum size for the lowest resolution in your ABR stack. * The lowest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 640x360 the lowest resolution in your ABR stack will be equal to or greater than to 640x360. * If you specify a Min top rendition size rule, the value that you specify for Min bottom rendition size must be less than, or equal to, Min top rendition size. Use Force include renditions to specify one or more resolutions to include your ABR stack. * (Recommended) To optimize automated ABR, specify as few resolutions as possible. * (Required) The number of resolutions that you specify must be equal to, or less than, the Max renditions setting. * If you specify a Min top rendition size rule, specify at least one resolution that is equal to, or greater than, Min top rendition size. * If you specify a Min bottom rendition size rule, only specify resolutions that are equal to, or greater than, Min bottom rendition size. * If you specify a Force include renditions rule, do not specify a separate rule for Allowed renditions. * Note: The ABR stack may include other resolutions that you do not specify here, depending on the Max renditions setting. Use Allowed renditions to specify a list of possible resolutions in your ABR stack. * (Required) The number of resolutions that you specify must be equal to, or greater than, the Max renditions setting. * MediaConvert will create an ABR stack exclusively from the list of resolutions that you specify. * Some resolutions in the Allowed renditions list may not be included, however you can force a resolution to be included by setting Required to ENABLED. * You must specify at least one resolution that is greater than or equal to any resolutions that you specify in Min top rendition size or Min bottom rendition size. * If you specify Allowed renditions, you must not specify a separate rule for Force include renditions.",
          "locationName": "type",
          "shape": "RuleType"
        }
      },
      "type": "structure"
    },
    "AutomatedAbrSettings": {
[...]
