{
  "documentation": "<p>Amazon EMR Serverless is a new deployment option for Amazon EMR. EMR Serverless provides a serverless runtime environment that simplifies running analytics applications using the latest open source frameworks such as Apache Spark and Apache Hive. With EMR Serverless, you don\u2019t have to configure, optimize, secure, or operate clusters to run applications with these frameworks.</p> <p>The API reference to Amazon EMR Serverless is <code>emr-serverless</code>. The <code>emr-serverless</code> prefix is used in the following scenarios: </p> <ul> <li> <p>It is the prefix in the CLI commands for Amazon EMR Serverless. For example, <code>aws emr-serverless start-job-run</code>.</p> </li> <li> <p>It is the prefix before IAM policy actions for Amazon EMR Serverless. For example, <code>\"Action\": [\"emr-serverless:StartJobRun\"]</code>. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-Serverless-UserGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR Serverless</a>.</p> </li> <li> <p>It is the prefix used in Amazon EMR Serverless service endpoints. For example, <code>emr-serverless.us-east-2.amazonaws.com</code>.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2021-07-13",
    "endpointPrefix": "emr-serverless",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "EMR Serverless",
    "serviceId": "EMR Serverless",
    "signatureVersion": "v4",
    "signingName": "emr-serverless",
    "uid": "emr-serverless-2021-07-13"
  },
  "operations": {
    "CancelJobRun": {
      "documentation": "<p>Cancels a job run.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelJobRunRequest"
      },
      "name": "CancelJobRun",
      "output": {
        "shape": "CancelJobRunResponse"
      }
    },
    "CreateApplication": {
      "documentation": "<p>Creates an application.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes an application. An application has to be in a stopped or created state in order to be deleted.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "GetApplication": {
      "documentation": "<p>Displays detailed information about a specified application.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationRequest"
      },
      "name": "GetApplication",
      "output": {
        "shape": "GetApplicationResponse"
      }
    },
    "GetDashboardForJobRun": {
      "documentation": "<p>Returns a URL to access the job run dashboard.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/dashboard",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDashboardForJobRunRequest"
      },
      "name": "GetDashboardForJobRun",
      "output": {
        "shape": "GetDashboardForJobRunResponse"
      }
    },
    "GetJobRun": {
      "documentation": "<p>Displays detailed information about a job run.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRunRequest"
      },
      "name": "GetJobRun",
      "output": {
        "shape": "GetJobRunResponse"
      }
    },
    "ListApplications": {
      "documentation": "<p>Lists applications based on a set of parameters.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications",
        "responseCode": 200
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListJobRuns": {
      "documentation": "<p>Lists job runs based on a set of parameters.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/jobruns",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobRunsRequest"
      },
      "name": "ListJobRuns",
      "output": {
        "shape": "ListJobRunsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags assigned to the resources.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartApplication": {
      "documentation": "<p>Starts a specified application and initializes initial capacity if configured.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/start",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartApplicationRequest"
      },
      "name": "StartApplication",
      "output": {
        "shape": "StartApplicationResponse"
      }
    },
    "StartJobRun": {
      "documentation": "<p>Starts a job run.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/jobruns",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartJobRunRequest"
      },
      "name": "StartJobRun",
      "output": {
        "shape": "StartJobRunResponse"
      }
    },
    "StopApplication": {
      "documentation": "<p>Stops a specified application and releases initial capacity if configured. All scheduled and running jobs must be completed or cancelled before stopping an application.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/stop",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StopApplicationRequest"
      },
      "name": "StopApplication",
      "output": {
        "shape": "StopApplicationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns tags to resources. A tag is a label that you assign to an AWS resource. Each tag consists of a key and an optional value, both of which you define. Tags enable you to categorize your AWS resources by attributes such as purpose, owner, or environment. When you have many resources of the same type, you can quickly identify a specific resource based on the tags you've assigned to it. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from resources.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates a specified application. An application has to be in a stopped or created state in order to be updated.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    }
  },
  "shapes": {
    "Application": {
      "documentation": "<p>Information about an application. EMR Serverless uses applications to run jobs.</p>",
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "ApplicationId"
        },
        "arn": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ApplicationArn"
        },
        "autoStartConfiguration": {
          "documentation": "<p>The configuration for an application to automatically start on job submission.</p>",
          "shape": "AutoStartConfig"
        },
        "autoStopConfiguration": {
          "documentation": "<p>The configuration for an application to automatically stop after a certain amount of time being idle.</p>",
          "shape": "AutoStopConfig"
        },
        "createdAt": {
          "documentation": "<p>The date and time when the application run was created.</p>",
          "shape": "Date"
        },
        "initialCapacity": {
          "documentation": "<p>The initial capacity of the application.</p>",
          "shape": "InitialCapacityConfigMap"
        },
        "maximumCapacity": {
          "documentation": "<p>The maximum capacity of the application. This is cumulative across all workers at any given point in time during the lifespan of the application is created. No new resources will be created once any one of the defined limits is hit.</p>",
          "shape": "MaximumAllowedResources"
        },
        "name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "networkConfiguration": {
          "documentation": "<p>The network configuration for customer VPC connectivity for the application.</p>",
          "shape": "NetworkConfiguration"
        },
        "releaseLabel": {
          "documentation": "<p>The EMR release version associated with the application.</p>",
          "shape": "ReleaseLabel"
        },
        "state": {
          "documentation": "<p>The state of the application.</p>",
          "shape": "ApplicationState"
        },
        "stateDetails": {
          "documentation": "<p>The state details of the application.</p>",
          "shape": "String256"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the application.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of application, such as Spark or Hive.</p>",
          "shape": "EngineType"
        },
        "updatedAt": {
          "documentation": "<p>The date and time when the application run was last updated.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "applicationId",
        "arn",
        "releaseLabel",
        "type",
        "state",
        "createdAt",
        "updatedAt"
      ],
      "type": "structure"
    },
    "ApplicationArn": {
      "max": 1024,
      "min": 60,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+",
      "type": "string"
    },
    "ApplicationId": {
      "max": 64,
      "min": 1,
      "pattern": "[0-9a-z]+",
      "type": "string"
    },
    "ApplicationList": {
      "member": {
        "shape": "ApplicationSummary"
      },
      "type": "list"
    },
    "ApplicationName": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9._/#-]+",
      "type": "string"
    },
    "ApplicationState": {
      "enum": [
        "CREATING",
        "CREATED",
        "STARTING",
        "STARTED",
        "STOPPING",
        "STOPPED",
        "TERMINATED"
      ],
      "type": "string"
    },
    "ApplicationStateSet": {
      "max": 7,
      "member": {
        "shape": "ApplicationState"
      },
      "min": 1,
      "type": "list"
    },
    "ApplicationSummary": {
      "documentation": "<p>The summary of attributes associated with an application.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ApplicationArn"
        },
        "createdAt": {
          "documentation": "<p>The date and time when the application was created.</p>",
          "shape": "Date"
        },
        "id": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "ApplicationId"
        },
        "name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "releaseLabel": {
          "documentation": "<p>The EMR release version associated with the application.</p>",
          "shape": "ReleaseLabel"
        },
        "state": {
          "documentation": "<p>The state of the application.</p>",
          "shape": "ApplicationState"
        },
        "stateDetails": {
          "documentation": "<p>The state details of the application.</p>",
          "shape": "String256"
        },
        "type": {
          "documentation": "<p>The type of application, such as Spark or Hive.</p>",
          "shape": "EngineType"
        },
        "updatedAt": {
          "documentation": "<p>The date and time when the application was last updated.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "id",
        "arn",
        "releaseLabel",
        "type",
        "state",
        "createdAt",
        "updatedAt"
      ],
      "type": "structure"
    },
    "AutoStartConfig": {
      "documentation": "<p>The configuration for an application to automatically start on job submission.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>Enables the application to automatically start on job submission. Defaults to true.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AutoStopConfig": {
      "documentation": "<p>The configuration for an application to automatically stop after a certain amount of time being idle.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>Enables the application to automatically stop after a certain amount of time being idle. Defaults to true.</p>",
          "shape": "Boolean"
        },
        "idleTimeoutMinutes": {
          "documentation": "<p>The amount of idle time in minutes after which your application will automatically stop. Defaults to 15 minutes.</p>",
          "shape": "AutoStopConfigIdleTimeoutMinutesInteger"
        }
      },
      "type": "structure"
    },
    "AutoStopConfigIdleTimeoutMinutesInteger": {
      "box": true,
      "max": 10080,
      "min": 1,
      "type": "integer"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelJobRunRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application on which the job run will be canceled.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "jobRunId": {
          "documentation": "<p>The ID of the job run to cancel.</p>",
          "location": "uri",
          "locationName": "jobRunId",
          "shape": "JobRunId"
        }
      },
      "required": [
        "applicationId",
        "jobRunId"
      ],
      "type": "structure"
    },
    "CancelJobRunResponse": {
      "members": {
        "applicationId": {
          "documentation": "<p>The output contains the application ID on which the job run is cancelled.</p>",
          "shape": "ApplicationId"
        },
        "jobRunId": {
          "documentation": "<p>The output contains the ID of the cancelled job run.</p>",
          "shape": "JobRunId"
        }
      },
      "required": [
        "applicationId",
        "jobRunId"
      ],
      "type": "structure"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9._-]+",
      "type": "string"
    },
    "Configuration": {
      "documentation": "<p>A configuration specification to be used when provisioning an application. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file.</p>",
      "members": {
        "classification": {
          "documentation": "<p>The classification within a configuration.</p>",
          "shape": "String1024"
        },
        "configurations": {
          "documentation": "<p>A list of additional configurations to apply within a configuration object.</p>",
          "shape": "ConfigurationList"
        },
        "properties": {
          "documentation": "<p>A set of properties specified within a configuration classification.</p>",
          "shape": "SensitivePropertiesMap"
        }
      },
      "required": [
        "classification"
      ],
      "type": "structure"
    },
    "ConfigurationList": {
      "max": 100,
      "member": {
        "shape": "Configuration"
      },
      "min": 0,
      "type": "list"
    },
    "ConfigurationOverrides": {
      "documentation": "<p>A configuration specification to be used to override existing configurations.</p>",
      "members": {
        "applicationConfiguration": {
          "documentation": "<p>The override configurations for the application.</p>",
          "shape": "ConfigurationList"
        },
        "monitoringConfiguration": {
          "documentation": "<p>The override configurations for monitoring.</p>",
          "shape": "MonitoringConfiguration"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String1024"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CpuSize": {
      "max": 15,
      "min": 1,
      "pattern": "[1-9][0-9]*(\\s)?(vCPU|vcpu|VCPU)?",
      "type": "string"
    },
    "CreateApplicationRequest": {
      "members": {
        "autoStartConfiguration": {
          "documentation": "<p>The configuration for an application to automatically start on job submission.</p>",
          "shape": "AutoStartConfig"
        },
        "autoStopConfiguration": {
          "documentation": "<p>The configuration for an application to automatically stop after a certain amount of time being idle.</p>",
          "shape": "AutoStopConfig"
        },
        "clientToken": {
          "documentation": "<p>The client idempotency token of the application to create. Its value must be unique for each request.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "initialCapacity": {
          "documentation": "<p>The capacity to initialize when the application is created.</p>",
          "shape": "InitialCapacityConfigMap"
        },
        "maximumCapacity": {
          "documentation": "<p>The maximum capacity to allocate when the application is created. This is cumulative across all workers at any given point in time, not just when an application is created. No new resources will be created once any one of the defined limits is hit.</p>",
          "shape": "MaximumAllowedResources"
        },
        "name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "networkConfiguration": {
          "documentation": "<p>The network configuration for customer VPC connectivity.</p>",
          "shape": "NetworkConfiguration"
        },
        "releaseLabel": {
          "documentation": "<p>The EMR release version associated with the application.</p>",
          "shape": "ReleaseLabel"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the application.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of application you want to start, such as Spark or Hive.</p>",
          "shape": "EngineType"
        }
      },
      "required": [
        "releaseLabel",
        "type",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "members": {
        "applicationId": {
          "documentation": "<p>The output contains the application ID.</p>",
          "shape": "ApplicationId"
        },
        "arn": {
          "documentation": "<p>The output contains the ARN of the application.</p>",
          "shape": "ApplicationArn"
        },
        "name": {
          "documentation": "<p>The output contains the name of the application.</p>",
          "shape": "ApplicationName"
        }
      },
      "required": [
        "applicationId",
        "arn"
      ],
      "type": "structure"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteApplicationRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application that will be deleted.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DiskSize": {
      "max": 15,
      "min": 1,
      "pattern": "[1-9][0-9]*(\\s)?(GB|gb|gB|Gb)",
      "type": "string"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "Duration": {
      "max": 1000000,
      "min": 0,
      "type": "long"
    },
    "EncryptionKeyArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):kms:[a-zA-Z0-9\\-]*:(\\d{12})?:key\\/[a-zA-Z0-9-]+",
      "type": "string"
    },
    "EngineType": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "EntryPointArgument": {
      "max": 10280,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "EntryPointArguments": {
      "member": {
        "shape": "EntryPointArgument"
      },
      "type": "list"
    },
    "EntryPointPath": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "GetApplicationRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application that will be described.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "GetApplicationResponse": {
      "members": {
        "application": {
          "documentation": "<p>The output displays information about the specified application.</p>",
          "shape": "Application"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "GetDashboardForJobRunRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "jobRunId": {
          "documentation": "<p>The ID of the job run.</p>",
          "location": "uri",
          "locationName": "jobRunId",
          "shape": "JobRunId"
        }
      },
      "required": [
        "applicationId",
        "jobRunId"
      ],
      "type": "structure"
    },
    "GetDashboardForJobRunResponse": {
      "members": {
        "url": {
          "documentation": "<p>The URL to view job run's dashboard.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "GetJobRunRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application on which the job run is submitted.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "jobRunId": {
          "documentation": "<p>The ID of the job run.</p>",
          "location": "uri",
          "locationName": "jobRunId",
          "shape": "JobRunId"
        }
      },
      "required": [
        "applicationId",
        "jobRunId"
      ],
      "type": "structure"
    },
    "GetJobRunResponse": {
      "members": {
        "jobRun": {
          "documentation": "<p>The output displays information about the job run.</p>",
          "shape": "JobRun"
        }
      },
      "required": [
        "jobRun"
      ],
      "type": "structure"
    },
    "Hive": {
      "documentation": "<p>The configurations for the Hive job driver.</p>",
      "members": {
        "initQueryFile": {
          "documentation": "<p>The query file for the Hive job run.</p>",
          "shape": "InitScriptPath"
        },
        "parameters": {
          "documentation": "<p>The parameters for the Hive job run.</p>",
          "shape": "HiveCliParameters"
        },
        "query": {
          "documentation": "<p>The query for the Hive job run.</p>",
          "shape": "Query"
        }
      },
      "required": [
        "query"
      ],
      "type": "structure"
    },
    "HiveCliParameters": {
      "max": 102400,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "IAMRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):iam::(\\d{12})?:(role((\\u002F)|(\\u002F[\\u0021-\\u007F]+\\u002F))[\\w+=,.@-]+)",
      "type": "string"
    },
    "InitScriptPath": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "InitialCapacityConfig": {
      "documentation": "<p>The initial capacity configuration per worker.</p>",
      "members": {
        "workerConfiguration": {
          "documentation": "<p>The resource configuration of the initial capacity configuration.</p>",
          "shape": "WorkerResourceConfig"
        },
        "workerCount": {
          "documentation": "<p>The number of workers in the initial capacity configuration.</p>",
          "shape": "WorkerCounts"
        }
      },
      "required": [
        "workerCount"
      ],
      "type": "structure"
    },
    "InitialCapacityConfigMap": {
      "key": {
        "shape": "WorkerTypeString"
      },
      "max": 10,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "InitialCapacityConfig"
      }
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Request processing failed because of an error or failure with the service.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String1024"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "JobArn": {
      "max": 1024,
      "min": 60,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+\\/jobruns\\/[0-9a-zA-Z]+",
      "type": "string"
    },
    "JobDriver": {
      "documentation": "<p>The driver that the job runs on.</p>",
      "members": {
        "hive": {
          "documentation": "<p>The job driver parameters specified for Hive.</p>",
          "shape": "Hive"
        },
        "sparkSubmit": {
          "documentation": "<p>The job driver parameters specified for Spark.</p>",
          "shape": "SparkSubmit"
        }
      },
      "type": "structure",
      "union": true
    },
    "JobRun": {
      "documentation": "<p>Information about a job run. A job run is a unit of work, such as a Spark JAR, Hive query, or SparkSQL query, that you submit to an EMR Serverless application.</p>",
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application the job is running on.</p>",
          "shape": "ApplicationId"
        },
        "arn": {
          "documentation": "<p>The execution role ARN of the job run.</p>",
          "shape": "JobArn"
        },
        "configurationOverrides": {
          "documentation": "<p>The configuration settings that are used to override default configuration.</p>",
          "shape": "ConfigurationOverrides"
        },
        "createdAt": {
          "documentation": "<p>The date and time when the job run was created.</p>",
          "shape": "Date"
        },
        "createdBy": {
          "documentation": "<p>The user who created the job run.</p>",
          "shape": "RequestIdentityUserArn"
        },
        "executionRole": {
          "documentation": "<p>The execution role ARN of the job run.</p>",
          "shape": "IAMRoleArn"
        },
        "jobDriver": {
          "documentation": "<p>The job driver for the job run.</p>",
          "shape": "JobDriver"
        },
        "jobRunId": {
          "documentation": "<p>The ID of the job run.</p>",
          "shape": "JobRunId"
        },
        "name": {
          "documentation": "<p>The optional job run name. This doesn't have to be unique.</p>",
          "shape": "String256"
        },
        "networkConfiguration": {
          "shape": "NetworkConfiguration"
        },
        "releaseLabel": {
          "documentation": "<p>The EMR release version associated with the application your job is running on.</p>",
          "shape": "ReleaseLabel"
        },
        "state": {
          "documentation": "<p>The state of the job run.</p>",
          "shape": "JobRunState"
        },
        "stateDetails": {
          "documentation": "<p>The state details of the job run.</p>",
          "shape": "String256"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the job run.</p>",
          "shape": "TagMap"
        },
        "totalExecutionDurationSeconds": {
          "documentation": "<p>The job run total execution duration in seconds. This field is only available for job runs in a <code>COMPLETED</code>, <code>FAILED</code>, or <code>CANCELLED</code> state.</p>",
          "shape": "Integer"
        },
        "totalResourceUtilization": {
          "documentation": "<p>The aggregate vCPU, memory, and storage resources used from the time job start executing till the time job is terminated, rounded up to the nearest second.</p>",
          "shape": "TotalResourceUtilization"
        },
        "updatedAt": {
          "documentation": "<p>The date and time when the job run was updated.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "applicationId",
        "jobRunId",
        "arn",
        "createdBy",
        "createdAt",
        "updatedAt",
        "executionRole",
        "state",
        "stateDetails",
        "releaseLabel",
        "jobDriver"
      ],
      "type": "structure"
    },
    "JobRunId": {
      "max": 64,
      "min": 1,
      "pattern": "[0-9a-z]+",
      "type": "string"
    },
    "JobRunState": {
      "enum": [
        "SUBMITTED",
        "PENDING",
        "SCHEDULED",
        "RUNNING",
        "SUCCESS",
        "FAILED",
        "CANCELLING",
        "CANCELLED"
      ],
      "type": "string"
    },
    "JobRunStateSet": {
      "max": 8,
      "member": {
        "shape": "JobRunState"
      },
      "min": 0,
      "type": "list"
    },
    "JobRunSummary": {
      "documentation": "<p>The summary of attributes associated with a job run.</p>",
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application the job is running on.</p>",
          "shape": "ApplicationId"
        },
        "arn": {
          "documentation": "<p>The ARN of the job run.</p>",
          "shape": "JobArn"
        },
        "createdAt": {
          "documentation": "<p>The date and time when the job run was created.</p>",
          "shape": "Date"
        },
        "createdBy": {
          "documentation": "<p>The user who created the job run.</p>",
          "shape": "RequestIdentityUserArn"
        },
        "executionRole": {
          "documentation": "<p>The execution role ARN of the job run.</p>",
          "shape": "IAMRoleArn"
        },
        "id": {
          "documentation": "<p>The ID of the job run.</p>",
          "shape": "JobRunId"
        },
        "name": {
          "documentation": "<p>The optional job run name. This doesn't have to be unique.</p>",
          "shape": "String256"
        },
        "releaseLabel": {
          "documentation": "<p>The EMR release version associated with the application your job is running on.</p>",
          "shape": "ReleaseLabel"
        },
        "state": {
          "documentation": "<p>The state of the job run.</p>",
          "shape": "JobRunState"
        },
        "stateDetails": {
          "documentation": "<p>The state details of the job run.</p>",
          "shape": "String256"
        },
        "type": {
          "documentation": "<p>The type of job run, such as Spark or Hive.</p>",
          "shape": "JobRunType"
        },
        "updatedAt": {
          "documentation": "<p>The date and time when the job run was last updated.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "applicationId",
        "id",
        "arn",
        "createdBy",
        "createdAt",
        "updatedAt",
        "executionRole",
        "state",
        "stateDetails",
        "releaseLabel"
      ],
      "type": "structure"
    },
    "JobRunType": {
      "type": "string"
    },
    "JobRuns": {
      "member": {
        "shape": "JobRunSummary"
      },
      "type": "list"
    },
    "ListApplicationsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of applications that can be listed.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListApplicationsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of application results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "states": {
          "documentation": "<p>An optional filter for application states. Note that if this filter contains multiple states, the resulting list will be grouped by the state.</p>",
          "location": "querystring",
          "locationName": "states",
          "shape": "ApplicationStateSet"
        }
      },
      "type": "structure"
    },
    "ListApplicationsRequestMaxResultsInteger": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListApplicationsResponse": {
      "members": {
        "applications": {
          "documentation": "<p>The output lists the specified applications.</p>",
          "shape": "ApplicationList"
        },
        "nextToken": {
          "documentation": "<p>The output displays the token for the next set of application results. This is required for pagination and is available as a response of the previous request.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "applications"
      ],
      "type": "structure"
    },
    "ListJobRunsRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application for which to list the job run.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "createdAtAfter": {
          "documentation": "<p>The lower bound of the option to filter by creation date and time.</p>",
          "location": "querystring",
          "locationName": "createdAtAfter",
          "shape": "Date"
        },
        "createdAtBefore": {
          "documentation": "<p>The upper bound of the option to filter by creation date and time.</p>",
          "location": "querystring",
          "locationName": "createdAtBefore",
          "shape": "Date"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of job runs that can be listed.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListJobRunsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of job run results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "states": {
          "documentation": "<p>An optional filter for job run states. Note that if this filter contains multiple states, the resulting list will be grouped by the state.</p>",
          "location": "querystring",
          "locationName": "states",
          "shape": "JobRunStateSet"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "ListJobRunsRequestMaxResultsInteger": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListJobRunsResponse": {
      "members": {
        "jobRuns": {
          "documentation": "<p>The output lists information about the specified job runs.</p>",
          "shape": "JobRuns"
        },
        "nextToken": {
          "documentation": "<p>The output displays the token for the next set of job run results. This is required for pagination and is available as a response of the previous request.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "jobRuns"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource to list the tags for. Currently, the supported resources are Amazon EMR Serverless applications and job runs.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags for the resource.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ManagedPersistenceMonitoringConfiguration": {
      "documentation": "<p>The managed log persistence configuration for a job run.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>Enables managed logging and defaults to true. If set to false, managed logging will be turned off.</p>",
          "shape": "Boolean"
        },
        "encryptionKeyArn": {
          "documentation": "<p>The KMS key ARN to encrypt the logs stored in managed log persistence.</p>",
          "shape": "EncryptionKeyArn"
        }
      },
      "type": "structure"
    },
    "MaximumAllowedResources": {
      "documentation": "<p>The maximum allowed cumulative resources for an application. No new resources will be created once the limit is hit.</p>",
      "members": {
        "cpu": {
          "documentation": "<p>The maximum allowed CPU for an application.</p>",
          "shape": "CpuSize"
        },
        "disk": {
          "documentation": "<p>The maximum allowed disk for an application.</p>",
          "shape": "DiskSize"
        },
        "memory": {
          "documentation": "<p>The maximum allowed resources for an application.</p>",
          "shape": "MemorySize"
        }
      },
      "required": [
        "cpu",
        "memory"
      ],
      "type": "structure"
    },
    "MemorySize": {
      "max": 15,
      "min": 1,
      "pattern": "[1-9][0-9]*(\\s)?(GB|gb|gB|Gb)?",
      "type": "string"
    },
    "MonitoringConfiguration": {
      "documentation": "<p>The configuration setting for monitoring.</p>",
      "members": {
        "managedPersistenceMonitoringConfiguration": {
          "documentation": "<p>The managed log persistence configuration for a job run.</p>",
          "shape": "ManagedPersistenceMonitoringConfiguration"
        },
        "s3MonitoringConfiguration": {
          "documentation": "<p>The Amazon S3 configuration for monitoring log publishing.</p>",
          "shape": "S3MonitoringConfiguration"
        }
      },
      "type": "structure"
    },
    "NetworkConfiguration": {
      "documentation": "<p>The network configuration for customer VPC connectivity.</p>",
      "members": {
        "securityGroupIds": {
          "documentation": "<p>The array of security group Ids for customer VPC connectivity.</p>",
          "shape": "SecurityGroupIds"
        },
        "subnetIds": {
          "documentation": "<p>The array of subnet Ids for customer VPC connectivity.</p>",
          "shape": "SubnetIds"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 1024,
      "min": 1,
      "pattern": "[A-Za-z0-9_=-]+",
      "type": "string"
    },
    "Query": {
      "max": 10280,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "ReleaseLabel": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9._/-]+",
      "type": "string"
    },
    "RequestIdentityUserArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):(iam|sts)::(\\d{12})?:[\\w/+=,.@-]+",
      "type": "string"
    },
    "ResourceArn": {
      "max": 1024,
      "min": 60,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):emr-serverless:.+:(\\d{12}):\\/applications\\/[0-9a-zA-Z]+(\\/jobruns\\/[0-9a-zA-Z]+)?",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String1024"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "S3MonitoringConfiguration": {
      "documentation": "<p>The Amazon S3 configuration for monitoring log publishing. You can configure your jobs to send log information to Amazon S3.</p>",
      "members": {
        "encryptionKeyArn": {
          "documentation": "<p>The KMS key ARN to encrypt the logs published to the given Amazon S3 destination.</p>",
          "shape": "EncryptionKeyArn"
        },
        "logUri": {
          "documentation": "<p>The Amazon S3 destination URI for log publishing.</p>",
          "shape": "UriString"
        }
      },
      "type": "structure"
    },
    "SecurityGroupIds": {
      "max": 5,
      "member": {
        "shape": "SecurityGroupString"
      },
      "min": 0,
      "type": "list"
    },
    "SecurityGroupString": {
      "max": 32,
      "min": 1,
      "pattern": "[-0-9a-zA-Z]+.*",
      "type": "string"
    },
    "SensitivePropertiesMap": {
      "key": {
        "shape": "String1024"
      },
      "max": 100,
      "min": 0,
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "String1024"
      }
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The maximum number of resources per account has been reached.</p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String1024"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "SparkSubmit": {
      "documentation": "<p>The configurations for the Spark submit job driver.</p>",
      "members": {
        "entryPoint": {
          "documentation": "<p>The entry point for the Spark submit job run.</p>",
          "shape": "EntryPointPath"
        },
        "entryPointArguments": {
          "documentation": "<p>The arguments for the Spark submit job run.</p>",
          "shape": "EntryPointArguments"
        },
        "sparkSubmitParameters": {
          "documentation": "<p>The parameters for the Spark submit job run.</p>",
          "shape": "SparkSubmitParameters"
        }
      },
      "required": [
        "entryPoint"
      ],
      "type": "structure"
    },
    "SparkSubmitParameters": {
      "max": 102400,
      "min": 1,
      "pattern": ".*\\S.*",
      "sensitive": true,
      "type": "string"
    },
    "StartApplicationRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application to start.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "StartApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "StartJobRunRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application on which to run the job.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "clientToken": {
          "documentation": "<p>The client idempotency token of the job run to start. Its value must be unique for each request.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "configurationOverrides": {
          "documentation": "<p>The configuration overrides for the job run.</p>",
          "shape": "ConfigurationOverrides"
        },
        "executionRoleArn": {
          "documentation": "<p>The execution role ARN for the job run.</p>",
          "shape": "IAMRoleArn"
        },
        "executionTimeoutMinutes": {
          "box": true,
          "documentation": "<p>The maximum duration for the job run to run. If the job run runs beyond this duration, it will be automatically cancelled.</p>",
          "shape": "Duration"
        },
        "jobDriver": {
          "documentation": "<p>The job driver for the job run.</p>",
          "shape": "JobDriver"
        },
        "name": {
          "documentation": "<p>The optional job run name. This doesn't have to be unique.</p>",
          "shape": "String256"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the job run.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "applicationId",
        "clientToken",
        "executionRoleArn"
      ],
      "type": "structure"
    },
    "StartJobRunResponse": {
      "members": {
        "applicationId": {
          "documentation": "<p>This output displays the application ID on which the job run was submitted.</p>",
          "shape": "ApplicationId"
        },
        "arn": {
          "documentation": "<p>The output lists the execution role ARN of the job run.</p>",
          "shape": "JobArn"
        },
        "jobRunId": {
          "documentation": "<p>The output contains the ID of the started job run.</p>",
          "shape": "JobRunId"
        }
      },
      "required": [
        "applicationId",
        "jobRunId",
        "arn"
      ],
      "type": "structure"
    },
    "StopApplicationRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application to stop.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "StopApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "String1024": {
      "max": 1024,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "String256": {
      "max": 256,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "SubnetIds": {
      "max": 16,
      "member": {
        "shape": "SubnetString"
      },
      "min": 0,
      "type": "list"
    },
    "SubnetString": {
      "max": 32,
      "min": 1,
      "pattern": "[-0-9a-zA-Z]+.*",
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "[A-Za-z0-9 /_.:=+@-]+",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 200,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource to list the tags for. Currently, the supported resources are Amazon EMR Serverless applications and job runs.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tags": {
          "documentation": "<p>The tags to add to the resource. A tag is an array of key-value pairs.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "[A-Za-z0-9 /_.:=+@-]*",
      "type": "string"
    },
    "TotalResourceUtilization": {
      "documentation": "<p>The aggregate vCPU, memory, and storage resources used from the time job start executing till the time job is terminated, rounded up to the nearest second.</p>",
      "members": {
        "memoryGBHour": {
          "documentation": "<p>The aggregated memory used per hour from the time job start executing till the time job is terminated.</p>",
          "shape": "Double"
        },
        "storageGBHour": {
          "documentation": "<p>The aggregated storage used per hour from the time job start executing till the time job is terminated.</p>",
          "shape": "Double"
        },
        "vCPUHour": {
          "documentation": "<p>The aggregated vCPU used per hour from the time job start executing till the time job is terminated.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource to list the tags for. Currently, the supported resources are Amazon EMR Serverless applications and job runs.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tagKeys": {
          "documentation": "<p>The keys of the tags to be removed.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateApplicationRequest": {
      "members": {
        "applicationId": {
          "documentation": "<p>The ID of the application to update.</p>",
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "autoStartConfiguration": {
          "documentation": "<p>The configuration for an application to automatically start on job submission.</p>",
          "shape": "AutoStartConfig"
        },
        "autoStopConfiguration": {
          "documentation": "<p>The configuration for an application to automatically stop after a certain amount of time being idle.</p>",
          "shape": "AutoStopConfig"
        },
        "clientToken": {
          "documentation": "<p>The client idempotency token of the application to update. Its value must be unique for each request.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "initialCapacity": {
          "documentation": "<p>The capacity to initialize when the application is updated.</p>",
          "shape": "InitialCapacityConfigMap"
        },
        "maximumCapacity": {
          "documentation": "<p>The maximum capacity to allocate when the application is updated. This is cumulative across all workers at any given point in time during the lifespan of the application. No new resources will be created once any one of the defined limits is hit.</p>",
          "shape": "MaximumAllowedResources"
        },
        "networkConfiguration": {
          "shape": "NetworkConfiguration"
        }
      },
      "required": [
        "applicationId",
        "clientToken"
      ],
      "type": "structure"
    },
    "UpdateApplicationResponse": {
      "members": {
        "application": {
          "documentation": "<p>Information about the updated application.</p>",
          "shape": "Application"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "UriString": {
      "max": 10280,
      "min": 1,
      "pattern": ".*[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\r\\n\\t]*.*",
      "type": "string"
    },
    "Url": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "ValidationException": {
      "documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String1024"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "WorkerCounts": {
      "max": 1000000,
      "min": 1,
      "type": "long"
    },
    "WorkerResourceConfig": {
      "documentation": "<p>The cumulative configuration requirements for every worker instance of the worker type.</p>",
      "members": {
        "cpu": {
          "documentation": "<p>The CPU requirements for every worker instance of the worker type.</p>",
          "shape": "CpuSize"
        },
        "disk": {
          "documentation": "<p>The disk requirements for every worker instance of the worker type.</p>",
          "shape": "DiskSize"
        },
        "memory": {
          "documentation": "<p>The memory requirements for every worker instance of the worker type.</p>",
          "shape": "MemorySize"
        }
      },
      "required": [
        "cpu",
        "memory"
      ],
      "type": "structure"
    },
    "WorkerTypeString": {
      "max": 50,
      "min": 1,
      "pattern": "[a-zA-Z]+[-_]*[a-zA-Z]+",
      "type": "string"
    }
  },
  "version": "2.0"
}
