{
  "documentation": "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. You can use AWS IoT Events API operations to create, read, update, and delete inputs and detector models, and to list their versions.</p>",
  "metadata": {
    "apiVersion": "2018-07-27",
    "endpointPrefix": "iotevents",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Events",
    "serviceId": "IoT Events",
    "signatureVersion": "v4",
    "signingName": "iotevents",
    "uid": "iotevents-2018-07-27"
  },
  "operations": {
    "CreateAlarmModel": {
      "documentation": "<p>Creates an alarm model to monitor an AWS IoT Events input attribute. You can use the alarm to get notified when the value is outside a specified range. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/create-alarms.html\">Create an alarm model</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarm-models"
      },
      "input": {
        "shape": "CreateAlarmModelRequest"
      },
      "name": "CreateAlarmModel",
      "output": {
        "shape": "CreateAlarmModelResponse"
      }
    },
    "CreateDetectorModel": {
      "documentation": "<p>Creates a detector model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector-models"
      },
      "input": {
        "shape": "CreateDetectorModelRequest"
      },
      "name": "CreateDetectorModel",
      "output": {
        "shape": "CreateDetectorModelResponse"
      }
    },
    "CreateInput": {
      "documentation": "<p>Creates an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "name": "CreateInput",
      "output": {
        "shape": "CreateInputResponse"
      }
    },
    "DeleteAlarmModel": {
      "documentation": "<p>Deletes an alarm model. Any alarm instances that were created based on this alarm model are also deleted. This action can't be undone.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/alarm-models/{alarmModelName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAlarmModelRequest"
      },
      "name": "DeleteAlarmModel",
      "output": {
        "shape": "DeleteAlarmModelResponse"
      }
    },
    "DeleteDetectorModel": {
      "documentation": "<p>Deletes a detector model. Any active instances of the detector model are also deleted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector-models/{detectorModelName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDetectorModelRequest"
      },
      "name": "DeleteDetectorModel",
      "output": {
        "shape": "DeleteDetectorModelResponse"
      }
    },
    "DeleteInput": {
      "documentation": "<p>Deletes an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "name": "DeleteInput",
      "output": {
        "shape": "DeleteInputResponse"
      }
    },
    "DescribeAlarmModel": {
      "documentation": "<p>Retrieves information about an alarm model. If you don't specify a value for the <code>alarmModelVersion</code> parameter, the latest version is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/alarm-models/{alarmModelName}"
      },
      "input": {
        "shape": "DescribeAlarmModelRequest"
      },
      "name": "DescribeAlarmModel",
      "output": {
        "shape": "DescribeAlarmModelResponse"
      }
    },
    "DescribeDetectorModel": {
      "documentation": "<p>Describes a detector model. If the <code>version</code> parameter is not specified, information about the latest version is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models/{detectorModelName}"
      },
      "input": {
        "shape": "DescribeDetectorModelRequest"
      },
      "name": "DescribeDetectorModel",
      "output": {
        "shape": "DescribeDetectorModelResponse"
      }
    },
    "DescribeDetectorModelAnalysis": {
      "documentation": "<p>Retrieves runtime information about a detector model analysis.</p> <note> <p>After AWS IoT Events starts analyzing your detector model, you have up to 24 hours to retrieve the analysis results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analysis/detector-models/{analysisId}"
      },
      "input": {
        "shape": "DescribeDetectorModelAnalysisRequest"
      },
      "name": "DescribeDetectorModelAnalysis",
      "output": {
        "shape": "DescribeDetectorModelAnalysisResponse"
      }
    },
    "DescribeInput": {
      "documentation": "<p>Describes an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "name": "DescribeInput",
      "output": {
        "shape": "DescribeInputResponse"
      }
    },
    "DescribeLoggingOptions": {
      "documentation": "<p>Retrieves the current settings of the AWS IoT Events logging options.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "DescribeLoggingOptionsRequest"
      },
      "name": "DescribeLoggingOptions",
      "output": {
        "shape": "DescribeLoggingOptionsResponse"
      }
    },
    "GetDetectorModelAnalysisResults": {
      "documentation": "<p>Retrieves one or more analysis results of the detector model.</p> <note> <p>After AWS IoT Events starts analyzing your detector model, you have up to 24 hours to retrieve the analysis results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analysis/detector-models/{analysisId}/results"
      },
      "input": {
        "shape": "GetDetectorModelAnalysisResultsRequest"
      },
      "name": "GetDetectorModelAnalysisResults",
      "output": {
        "shape": "GetDetectorModelAnalysisResultsResponse"
      }
    },
    "ListAlarmModelVersions": {
      "documentation": "<p>Lists all the versions of an alarm model. The operation returns only the metadata associated with each alarm model version.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/alarm-models/{alarmModelName}/versions"
      },
      "input": {
        "shape": "ListAlarmModelVersionsRequest"
      },
      "name": "ListAlarmModelVersions",
      "output": {
        "shape": "ListAlarmModelVersionsResponse"
      }
    },
    "ListAlarmModels": {
      "documentation": "<p>Lists the alarm models that you created. The operation returns only the metadata associated with each alarm model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/alarm-models"
      },
      "input": {
        "shape": "ListAlarmModelsRequest"
      },
      "name": "ListAlarmModels",
      "output": {
        "shape": "ListAlarmModelsResponse"
      }
    },
    "ListDetectorModelVersions": {
      "documentation": "<p>Lists all the versions of a detector model. Only the metadata associated with each detector model version is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models/{detectorModelName}/versions"
      },
      "input": {
        "shape": "ListDetectorModelVersionsRequest"
      },
      "name": "ListDetectorModelVersions",
      "output": {
        "shape": "ListDetectorModelVersionsResponse"
      }
    },
    "ListDetectorModels": {
      "documentation": "<p>Lists the detector models you have created. Only the metadata associated with each detector model is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models"
      },
      "input": {
        "shape": "ListDetectorModelsRequest"
      },
      "name": "ListDetectorModels",
      "output": {
        "shape": "ListDetectorModelsResponse"
      }
    },
    "ListInputRoutings": {
      "documentation": "<p> Lists one or more input routings. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/input-routings"
      },
      "input": {
        "shape": "ListInputRoutingsRequest"
      },
      "name": "ListInputRoutings",
      "output": {
        "shape": "ListInputRoutingsResponse"
      }
    },
    "ListInputs": {
      "documentation": "<p>Lists the inputs you have created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/inputs"
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "name": "ListInputs",
      "output": {
        "shape": "ListInputsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags (metadata) you have assigned to the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutLoggingOptions": {
      "documentation": "<p>Sets or updates the AWS IoT Events logging options.</p> <p>If you update the value of any <code>loggingOptions</code> field, it takes up to one minute for the change to take effect. If you change the policy attached to the role you specified in the <code>roleArn</code> field (for example, to correct an invalid policy), it takes up to five minutes for that change to take effect.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "PutLoggingOptionsRequest"
      },
      "name": "PutLoggingOptions"
    },
    "StartDetectorModelAnalysis": {
      "documentation": "<p>Performs an analysis of your detector model. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-analyze-api.html\">Troubleshooting a detector model</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/analysis/detector-models/"
      },
      "input": {
        "shape": "StartDetectorModelAnalysisRequest"
      },
      "name": "StartDetectorModelAnalysis",
      "output": {
        "shape": "StartDetectorModelAnalysisResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the given tags (metadata) from the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAlarmModel": {
      "documentation": "<p>Updates an alarm model. Any alarms that were created based on the previous version are deleted and then created again as new data arrives.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarm-models/{alarmModelName}"
      },
      "input": {
        "shape": "UpdateAlarmModelRequest"
      },
      "name": "UpdateAlarmModel",
      "output": {
        "shape": "UpdateAlarmModelResponse"
      }
    },
    "UpdateDetectorModel": {
      "documentation": "<p>Updates a detector model. Detectors (instances) spawned by the previous version are deleted and then re-created as new inputs arrive.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector-models/{detectorModelName}"
      },
      "input": {
        "shape": "UpdateDetectorModelRequest"
      },
      "name": "UpdateDetectorModel",
      "output": {
        "shape": "UpdateDetectorModelResponse"
      }
    },
    "UpdateInput": {
      "documentation": "<p>Updates an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "name": "UpdateInput",
      "output": {
        "shape": "UpdateInputResponse"
      }
    }
  },
  "shapes": {
    "AcknowledgeFlow": {
      "documentation": "<p>Specifies whether to get notified for alarm state changes.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>The value must be <code>TRUE</code> or <code>FALSE</code>. If <code>TRUE</code>, you receive a notification when the alarm state changes. You must choose to acknowledge the notification before the alarm state can return to <code>NORMAL</code>. If <code>FALSE</code>, you won't receive notifications. The alarm automatically changes to the <code>NORMAL</code> state when the input property value returns to the specified range.</p>",
          "shape": "AcknowledgeFlowEnabled"
        }
      },
      "required": [
        "enabled"
      ],
      "type": "structure"
    },
    "AcknowledgeFlowEnabled": {
      "box": true,
      "type": "boolean"
    },
    "Action": {
      "documentation": "<p>An action to be performed when the <code>condition</code> is TRUE.</p>",
      "members": {
        "clearTimer": {
          "documentation": "<p>Information needed to clear the timer.</p>",
          "shape": "ClearTimerAction"
        },
        "dynamoDB": {
          "documentation": "<p>Writes to the DynamoDB table that you created. The default action payload contains all attribute-value pairs that have the information about the detector model instance and the event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. One column of the DynamoDB table receives all attribute-value pairs in the payload that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-event-actions.html\">Actions</a> in <i>AWS IoT Events Developer Guide</i>.</p>",
          "shape": "DynamoDBAction"
        },
        "dynamoDBv2": {
          "documentation": "<p>Writes to the DynamoDB table that you created. The default action payload contains all attribute-value pairs that have the information about the detector model instance and the event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. A separate column of the DynamoDB table receives one attribute-value pair in the payload that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-event-actions.html\">Actions</a> in <i>AWS IoT Events Developer Guide</i>.</p>",
          "shape": "DynamoDBv2Action"
        },
        "firehose": {
          "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon Kinesis Data Firehose delivery stream.</p>",
          "shape": "FirehoseAction"
        },
        "iotEvents": {
          "documentation": "<p>Sends AWS IoT Events input, which passes information about the detector model instance and the event that triggered the action.</p>",
          "shape": "IotEventsAction"
        },
        "iotSiteWise": {
          "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an asset property in AWS IoT SiteWise .</p>",
          "shape": "IotSiteWiseAction"
        },
        "iotTopicPublish": {
          "documentation": "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
          "shape": "IotTopicPublishAction"
        },
        "lambda": {
          "documentation": "<p>Calls a Lambda function, passing in information about the detector model instance and the event that triggered the action.</p>",
          "shape": "LambdaAction"
        },
        "resetTimer": {
          "documentation": "<p>Information needed to reset the timer.</p>",
          "shape": "ResetTimerAction"
        },
        "setTimer": {
          "documentation": "<p>Information needed to set the timer.</p>",
          "shape": "SetTimerAction"
        },
        "setVariable": {
          "documentation": "<p>Sets a variable to a specified value.</p>",
          "shape": "SetVariableAction"
        },
        "sns": {
          "documentation": "<p>Sends an Amazon SNS message.</p>",
          "shape": "SNSTopicPublishAction"
        },
        "sqs": {
          "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon SQS queue.</p>",
          "shape": "SqsAction"
        }
      },
      "type": "structure"
    },
    "Actions": {
      "member": {
        "shape": "Action"
      },
      "type": "list"
    },
    "AlarmAction": {
      "documentation": "<p>Specifies one of the following actions to receive notifications when the alarm state changes.</p>",
      "members": {
        "dynamoDB": {
          "shape": "DynamoDBAction"
        },
        "dynamoDBv2": {
          "shape": "DynamoDBv2Action"
        },
        "firehose": {
          "shape": "FirehoseAction"
        },
        "iotEvents": {
          "shape": "IotEventsAction"
        },
        "iotSiteWise": {
          "shape": "IotSiteWiseAction"
        },
        "iotTopicPublish": {
          "shape": "IotTopicPublishAction"
        },
        "lambda": {
          "shape": "LambdaAction"
        },
        "sns": {
          "shape": "SNSTopicPublishAction"
        },
        "sqs": {
          "shape": "SqsAction"
        }
      },
      "type": "structure"
    },
    "AlarmActions": {
      "member": {
        "shape": "AlarmAction"
      },
      "type": "list"
    },
    "AlarmCapabilities": {
      "documentation": "<p>Contains the configuration information of alarm state changes.</p>",
      "members": {
        "acknowledgeFlow": {
          "documentation": "<p>Specifies whether to get notified for alarm state changes.</p>",
          "shape": "AcknowledgeFlow"
        },
        "initializationConfiguration": {
          "documentation": "<p>Specifies the default alarm state. The configuration applies to all alarms that were created based on this alarm model.</p>",
          "shape": "InitializationConfiguration"
        }
      },
      "type": "structure"
    },
    "AlarmEventActions": {
      "documentation": "<p>Contains information about one or more alarm actions.</p>",
      "members": {
        "alarmActions": {
          "documentation": "<p>Specifies one or more supported actions to receive notifications when the alarm state changes.</p>",
          "shape": "AlarmActions"
        }
      },
      "type": "structure"
    },
    "AlarmModelArn": {
      "type": "string"
    },
    "AlarmModelDescription": {
      "max": 128,
      "type": "string"
    },
    "AlarmModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "AlarmModelSummaries": {
      "member": {
        "shape": "AlarmModelSummary"
      },
      "type": "list"
    },
    "AlarmModelSummary": {
      "documentation": "<p>Contains a summary of an alarm model.</p>",
      "members": {
        "alarmModelDescription": {
          "documentation": "<p>The description of the alarm model.</p>",
          "shape": "AlarmModelDescription"
        },
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AlarmModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AlarmModelVersionStatus": {
      "enum": [
        "ACTIVE",
        "ACTIVATING",
        "INACTIVE",
        "FAILED"
      ],
      "type": "string"
    },
    "AlarmModelVersionSummaries": {
      "member": {
        "shape": "AlarmModelVersionSummary"
      },
      "type": "list"
    },
    "AlarmModelVersionSummary": {
      "documentation": "<p>Contains a summary of an alarm model version.</p>",
      "members": {
        "alarmModelArn": {
          "documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AlarmModelArn"
        },
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "shape": "AlarmModelVersion"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AmazonResourceName"
        },
        "status": {
          "documentation": "<p>The status of the alarm model. The status can be one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p> </li> <li> <p> <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. Activating an alarm model can take up to a few minutes.</p> </li> <li> <p> <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. Check your alarm model information and update the alarm model.</p> </li> <li> <p> <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information and try again.</p> </li> </ul>",
          "shape": "AlarmModelVersionStatus"
        },
        "statusMessage": {
          "documentation": "<p> Contains information about the status of the alarm model version. </p>",
          "shape": "StatusMessage"
        }
      },
      "type": "structure"
    },
    "AlarmNotification": {
      "documentation": "<p>Contains information about one or more notification actions.</p>",
      "members": {
        "notificationActions": {
          "documentation": "<p>Contains the notification settings of an alarm model. The settings apply to all alarms that were created based on this alarm model.</p>",
          "shape": "NotificationActions"
        }
      },
      "type": "structure"
    },
    "AlarmRule": {
      "documentation": "<p>Defines when your alarm is invoked.</p>",
      "members": {
        "simpleRule": {
          "documentation": "<p>A rule that compares an input property value to a threshold value with a comparison operator.</p>",
          "shape": "SimpleRule"
        }
      },
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "AnalysisId": {
      "type": "string"
    },
    "AnalysisMessage": {
      "type": "string"
    },
    "AnalysisResult": {
      "documentation": "<p>Contains the result of the analysis.</p>",
      "members": {
        "level": {
          "documentation": "<p>The severity level of the analysis result. Based on the severity level, analysis results fall into three general categories:</p> <ul> <li> <p> <code>INFO</code> - An information result tells you about a significant field in your detector model. This type of result usually doesn't require immediate action.</p> </li> <li> <p> <code>WARNING</code> - A warning result draws special attention to fields that might cause issues for your detector model. We recommend that you review warnings and take necessary actions before you use your detector model in production environments. Otherwise, the detector model might not work as expected.</p> </li> <li> <p> <code>ERROR</code> - An error result notifies you about a problem found in your detector model. You must fix all errors before you can publish your detector model.</p> </li> </ul>",
          "shape": "AnalysisResultLevel"
        },
        "locations": {
          "documentation": "<p>Contains one or more locations that you can use to locate the fields in your detector model that the analysis result references.</p>",
          "shape": "AnalysisResultLocations"
        },
        "message": {
          "documentation": "<p>Contains additional information about the analysis result.</p>",
          "shape": "AnalysisMessage"
        },
        "type": {
          "documentation": "<p>The type of the analysis result. Analyses fall into the following types based on the validators used to generate the analysis result:</p> <ul> <li> <p> <code>supported-actions</code> - You must specify AWS IoT Events supported actions that work with other AWS services in a supported AWS Region.</p> </li> <li> <p> <code>service-limits</code> - Resources or API operations can't exceed service quotas (also known as limits). Update your detector model or request a quota increase.</p> </li> <li> <p> <code>structure</code> - The detector model must follow a structure that AWS IoT Events supports. </p> </li> <li> <p> <code>expression-syntax</code> - Your expression must follow the required syntax.</p> </li> <li> <p> <code>data-type</code> - Data types referenced in the detector model must be compatible.</p> </li> <li> <p> <code>referenced-data</code> - You must define the data referenced in your detector model before you can use the data.</p> </li> <li> <p> <code>referenced-resource</code> - Resources that the detector model uses must be available.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-analyze-api.html\">Running detector model analyses</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
          "shape": "AnalysisType"
        }
      },
      "type": "structure"
    },
    "AnalysisResultLevel": {
      "enum": [
        "INFO",
        "WARNING",
        "ERROR"
      ],
      "type": "string"
    },
    "AnalysisResultLocation": {
      "documentation": "<p>Contains information that you can use to locate the field in your detector model that the analysis result references.</p>",
      "members": {
        "path": {
          "documentation": "<p>A <a href=\"https://github.com/json-path/JsonPath\">JsonPath</a> expression that identifies the error field in your detector model.</p>",
          "shape": "AnalysisResultLocationPath"
        }
      },
      "type": "structure"
    },
    "AnalysisResultLocationPath": {
      "type": "string"
    },
    "AnalysisResultLocations": {
      "member": {
        "shape": "AnalysisResultLocation"
      },
      "type": "list"
    },
    "AnalysisResults": {
      "member": {
        "shape": "AnalysisResult"
      },
      "type": "list"
    },
    "AnalysisStatus": {
      "enum": [
        "RUNNING",
        "COMPLETE",
        "FAILED"
      ],
      "type": "string"
    },
    "AnalysisType": {
      "type": "string"
    },
    "AssetId": {
      "type": "string"
    },
    "AssetModelId": {
      "type": "string"
    },
    "AssetPropertyAlias": {
      "type": "string"
    },
    "AssetPropertyBooleanValue": {
      "type": "string"
    },
    "AssetPropertyDoubleValue": {
      "type": "string"
    },
    "AssetPropertyEntryId": {
      "type": "string"
    },
    "AssetPropertyId": {
      "type": "string"
    },
    "AssetPropertyIntegerValue": {
      "type": "string"
    },
    "AssetPropertyOffsetInNanos": {
      "type": "string"
    },
    "AssetPropertyQuality": {
      "type": "string"
    },
    "AssetPropertyStringValue": {
      "type": "string"
    },
    "AssetPropertyTimeInSeconds": {
      "type": "string"
    },
    "AssetPropertyTimestamp": {
      "documentation": "<p>A structure that contains timestamp information. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_TimeInNanos.html\">TimeInNanos</a> in the <i>AWS IoT SiteWise API Reference</i>.</p> <p>You must use expressions for all parameters in <code>AssetPropertyTimestamp</code>. The expressions accept literals, operators, functions, references, and substitution templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>timeInSeconds</code> parameter can be <code>'1586400675'</code>.</p> </li> <li> <p>For references, you must specify either variables or input values. For example, the value for the <code>offsetInNanos</code> parameter can be <code>$variable.time</code>.</p> </li> <li> <p>For a substitution template, you must use <code>${}</code>, and the template must be in single quotes. A substitution template can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>timeInSeconds</code> parameter uses a substitution template.</p> <p> <code>'${$input.TemperatureInput.sensorData.timestamp / 1000}'</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
      "members": {
        "offsetInNanos": {
          "documentation": "<p>The nanosecond offset converted from <code>timeInSeconds</code>. The valid range is between 0-999999999.</p>",
          "shape": "AssetPropertyOffsetInNanos"
        },
        "timeInSeconds": {
          "documentation": "<p>The timestamp, in seconds, in the Unix epoch format. The valid range is between 1-31556889864403199.</p>",
          "shape": "AssetPropertyTimeInSeconds"
        }
      },
      "required": [
        "timeInSeconds"
      ],
      "type": "structure"
    },
    "AssetPropertyValue": {
      "documentation": "<p>A structure that contains value information. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_AssetPropertyValue.html\">AssetPropertyValue</a> in the <i>AWS IoT SiteWise API Reference</i>.</p> <p>You must use expressions for all parameters in <code>AssetPropertyValue</code>. The expressions accept literals, operators, functions, references, and substitution templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>quality</code> parameter can be <code>'GOOD'</code>.</p> </li> <li> <p>For references, you must specify either variables or input values. For example, the value for the <code>quality</code> parameter can be <code>$input.TemperatureInput.sensorData.quality</code>.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
      "members": {
        "quality": {
          "documentation": "<p>The quality of the asset property value. The value must be <code>'GOOD'</code>, <code>'BAD'</code>, or <code>'UNCERTAIN'</code>.</p>",
          "shape": "AssetPropertyQuality"
        },
        "timestamp": {
          "documentation": "<p>The timestamp associated with the asset property value. The default is the current event time.</p>",
          "shape": "AssetPropertyTimestamp"
        },
        "value": {
          "documentation": "<p>The value to send to an asset property.</p>",
          "shape": "AssetPropertyVariant"
        }
      },
      "type": "structure"
    },
    "AssetPropertyVariant": {
      "documentation": "<p>A structure that contains an asset property value. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_Variant.html\">Variant</a> in the <i>AWS IoT SiteWise API Reference</i>.</p> <p>You must use expressions for all parameters in <code>AssetPropertyVariant</code>. The expressions accept literals, operators, functions, references, and substitution templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>integerValue</code> parameter can be <code>'100'</code>.</p> </li> <li> <p>For references, you must specify either variables or parameters. For example, the value for the <code>booleanValue</code> parameter can be <code>$variable.offline</code>.</p> </li> <li> <p>For a substitution template, you must use <code>${}</code>, and the template must be in single quotes. A substitution template can also contain a combination of literals, operators, functions, references, and substitution templates. </p> <p>In the following example, the value for the <code>doubleValue</code> parameter uses a substitution template. </p> <p> <code>'${$input.TemperatureInput.sensorData.temperature * 6 / 5 + 32}'</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p> <p>You must specify one of the following value types, depending on the <code>dataType</code> of the specified asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_AssetProperty.html\">AssetProperty</a> in the <i>AWS IoT SiteWise API Reference</i>.</p>",
      "members": {
        "booleanValue": {
          "documentation": "<p>The asset property value is a Boolean value that must be <code>'TRUE'</code> or <code>'FALSE'</code>. You must use an expression, and the evaluated result should be a Boolean value.</p>",
          "shape": "AssetPropertyBooleanValue"
        },
        "doubleValue": {
          "documentation": "<p>The asset property value is a double. You must use an expression, and the evaluated result should be a double.</p>",
          "shape": "AssetPropertyDoubleValue"
        },
        "integerValue": {
          "documentation": "<p>The asset property value is an integer. You must use an expression, and the evaluated result should be an integer.</p>",
          "shape": "AssetPropertyIntegerValue"
        },
        "stringValue": {
          "documentation": "<p>The asset property value is a string. You must use an expression, and the evaluated result should be a string.</p>",
          "shape": "AssetPropertyStringValue"
        }
      },
      "type": "structure"
    },
    "Attribute": {
      "documentation": "<p>The attributes from the JSON payload that are made available by the input. Inputs are derived from messages sent to the AWS IoT Events system using <code>BatchPutMessage</code>. Each such message contains a JSON payload. Those attributes (and their paired values) specified here are available for use in the <code>condition</code> expressions used by detectors. </p>",
      "members": {
        "jsonPath": {
          "documentation": "<p>An expression that specifies an attribute-value pair in a JSON structure. Use this to specify an attribute from the JSON payload that is made available by the input. Inputs are derived from messages sent to AWS IoT Events (<code>BatchPutMessage</code>). Each such message contains a JSON payload. The attribute (and its paired value) specified here are available for use in the <code>condition</code> expressions used by detectors. </p> <p>Syntax: <code>&lt;field-name&gt;.&lt;field-name&gt;...</code> </p>",
          "shape": "AttributeJsonPath"
        }
      },
      "required": [
        "jsonPath"
      ],
      "type": "structure"
    },
    "AttributeJsonPath": {
      "max": 128,
      "min": 1,
      "pattern": "^((`[\\w\\- ]+`)|([\\w\\-]+))(\\.((`[\\w- ]+`)|([\\w\\-]+)))*$",
      "type": "string"
    },
    "Attributes": {
      "max": 200,
      "member": {
        "shape": "Attribute"
      },
      "min": 1,
      "type": "list"
    },
    "ClearTimerAction": {
      "documentation": "<p>Information needed to clear the timer.</p>",
      "members": {
        "timerName": {
          "documentation": "<p>The name of the timer to clear.</p>",
          "shape": "TimerName"
        }
      },
      "required": [
        "timerName"
      ],
      "type": "structure"
    },
    "ComparisonOperator": {
      "enum": [
        "GREATER",
        "GREATER_OR_EQUAL",
        "LESS",
        "LESS_OR_EQUAL",
        "EQUAL",
        "NOT_EQUAL"
      ],
      "type": "string"
    },
    "Condition": {
      "max": 512,
      "type": "string"
    },
    "ContentExpression": {
      "min": 1,
      "type": "string"
    },
    "CreateAlarmModelRequest": {
      "members": {
        "alarmCapabilities": {
          "documentation": "<p>Contains the configuration information of alarm state changes.</p>",
          "shape": "AlarmCapabilities"
        },
        "alarmEventActions": {
          "documentation": "<p>Contains information about one or more alarm actions.</p>",
          "shape": "AlarmEventActions"
        },
        "alarmModelDescription": {
          "documentation": "<p>A description that tells you what the alarm model detects.</p>",
          "shape": "AlarmModelDescription"
        },
        "alarmModelName": {
          "documentation": "<p>A unique name that helps you identify the alarm model. You can't change this name after you create the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "alarmNotification": {
          "documentation": "<p>Contains information about one or more notification actions.</p>",
          "shape": "AlarmNotification"
        },
        "alarmRule": {
          "documentation": "<p>Defines when your alarm is invoked.</p>",
          "shape": "AlarmRule"
        },
        "key": {
          "documentation": "<p>An input attribute used as a key to create an alarm. AWS IoT Events routes <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Input.html\">inputs</a> associated with this key to the alarm.</p>",
          "shape": "AttributeJsonPath"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AmazonResourceName"
        },
        "severity": {
          "documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>",
          "shape": "Severity"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the alarm model. The tags help you manage the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/tagging-iotevents.html\">Tagging your AWS IoT Events resources</a> in the <i>AWS IoT Events Developer Guide</i>.</p> <p>You can create up to 50 tags for one alarm model.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "alarmModelName",
        "roleArn",
        "alarmRule"
      ],
      "type": "structure"
    },
    "CreateAlarmModelResponse": {
      "members": {
        "alarmModelArn": {
          "documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AlarmModelArn"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "shape": "AlarmModelVersion"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the alarm model. The status can be one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p> </li> <li> <p> <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. Activating an alarm model can take up to a few minutes.</p> </li> <li> <p> <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. Check your alarm model information and update the alarm model.</p> </li> <li> <p> <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information and try again.</p> </li> </ul>",
          "shape": "AlarmModelVersionStatus"
        }
      },
      "type": "structure"
    },
    "CreateDetectorModelRequest": {
      "members": {
        "detectorModelDefinition": {
          "documentation": "<p>Information that defines how the detectors operate.</p>",
          "shape": "DetectorModelDefinition"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "key": {
          "documentation": "<p>The input attribute key used to identify a device or system to create a detector (an instance of the detector model) and then to route each input received to the appropriate detector (instance). This parameter uses a JSON-path expression in the message payload of each input to specify the attribute-value pair that is used to identify the device associated with the input.</p>",
          "shape": "AttributeJsonPath"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
          "shape": "AmazonResourceName"
        },
        "tags": {
          "documentation": "<p>Metadata that can be used to manage the detector model.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "detectorModelName",
        "detectorModelDefinition",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateDetectorModelResponse": {
      "members": {
        "detectorModelConfiguration": {
          "documentation": "<p>Information about how the detector model is configured.</p>",
          "shape": "DetectorModelConfiguration"
        }
      },
      "type": "structure"
    },
    "CreateInputRequest": {
      "members": {
        "inputDefinition": {
          "documentation": "<p>The definition of the input.</p>",
          "shape": "InputDefinition"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name you want to give to the input.</p>",
          "shape": "InputName"
        },
        "tags": {
          "documentation": "<p>Metadata that can be used to manage the input.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "inputName",
        "inputDefinition"
      ],
      "type": "structure"
    },
    "CreateInputResponse": {
      "members": {
        "inputConfiguration": {
          "documentation": "<p>Information about the configuration of the input.</p>",
          "shape": "InputConfiguration"
        }
      },
      "type": "structure"
    },
    "DeleteAlarmModelRequest": {
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "location": "uri",
          "locationName": "alarmModelName",
          "shape": "AlarmModelName"
        }
      },
      "required": [
        "alarmModelName"
      ],
      "type": "structure"
    },
    "DeleteAlarmModelResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDetectorModelRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model to be deleted.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DeleteDetectorModelResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteInputRequest": {
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input to delete.</p>",
          "location": "uri",
          "locationName": "inputName",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "DeleteInputResponse": {
      "members": {},
      "type": "structure"
    },
    "DeliveryStreamName": {
      "type": "string"
    },
    "DescribeAlarmModelRequest": {
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "location": "uri",
          "locationName": "alarmModelName",
          "shape": "AlarmModelName"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "location": "querystring",
          "locationName": "version",
          "shape": "AlarmModelVersion"
        }
      },
      "required": [
        "alarmModelName"
      ],
      "type": "structure"
    },
    "DescribeAlarmModelResponse": {
      "members": {
        "alarmCapabilities": {
          "documentation": "<p>Contains the configuration information of alarm state changes.</p>",
          "shape": "AlarmCapabilities"
        },
        "alarmEventActions": {
          "documentation": "<p>Contains information about one or more alarm actions.</p>",
          "shape": "AlarmEventActions"
        },
        "alarmModelArn": {
          "documentation": "<p>The ARN of the alarm model. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AlarmModelArn"
        },
        "alarmModelDescription": {
          "documentation": "<p>The description of the alarm model.</p>",
          "shape": "AlarmModelDescription"
        },
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "shape": "AlarmModelVersion"
        },
        "alarmNotification": {
          "documentation": "<p>Contains information about one or more notification actions.</p>",
          "shape": "AlarmNotification"
        },
        "alarmRule": {
          "documentation": "<p>Defines when your alarm is invoked.</p>",
          "shape": "AlarmRule"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm model was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "key": {
          "documentation": "<p>An input attribute used as a key to create an alarm. AWS IoT Events routes <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Input.html\">inputs</a> associated with this key to the alarm.</p>",
          "shape": "AttributeJsonPath"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the alarm model was last updated, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that allows the alarm to perform actions and access AWS resources. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "AmazonResourceName"
        },
        "severity": {
          "documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>",
          "shape": "Severity"
        },
        "status": {
          "documentation": "<p>The status of the alarm model. The status can be one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - The alarm model is active and it's ready to evaluate data.</p> </li> <li> <p> <code>ACTIVATING</code> - AWS IoT Events is activating your alarm model. Activating an alarm model can take up to a few minutes.</p> </li> <li> <p> <code>INACTIVE</code> - The alarm model is inactive, so it isn't ready to evaluate data. Check your alarm model information and update the alarm model.</p> </li> <li> <p> <code>FAILED</code> - You couldn't create or update the alarm model. Check your alarm model information and try again.</p> </li> </ul>",
          "shape": "AlarmModelVersionStatus"
        },
        "statusMessage": {
          "documentation": "<p> Contains information about the status of the alarm model. </p>",
          "shape": "StatusMessage"
        }
      },
      "type": "structure"
    },
    "DescribeDetectorModelAnalysisRequest": {
      "members": {
        "analysisId": {
          "documentation": "<p>The ID of the analysis result that you want to retrieve.</p>",
          "location": "uri",
          "locationName": "analysisId",
          "shape": "AnalysisId"
        }
      },
      "required": [
        "analysisId"
      ],
      "type": "structure"
    },
    "DescribeDetectorModelAnalysisResponse": {
      "members": {
        "status": {
          "documentation": "<p>The status of the analysis activity. The status can be one of the following values:</p> <ul> <li> <p> <code>RUNNING</code> - AWS IoT Events is analyzing your detector model. This process can take several minutes to complete.</p> </li> <li> <p> <code>COMPLETE</code> - AWS IoT Events finished analyzing your detector model.</p> </li> <li> <p> <code>FAILED</code> - AWS IoT Events couldn't analyze your detector model. Try again later.</p> </li> </ul>",
          "shape": "AnalysisStatus"
        }
      },
      "type": "structure"
    },
    "DescribeDetectorModelRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model.</p>",
          "location": "querystring",
          "locationName": "version",
          "shape": "DetectorModelVersion"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DescribeDetectorModelResponse": {
      "members": {
        "detectorModel": {
          "documentation": "<p>Information about the detector model.</p>",
          "shape": "DetectorModel"
        }
      },
      "type": "structure"
    },
    "DescribeInputRequest": {
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "location": "uri",
          "locationName": "inputName",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "DescribeInputResponse": {
      "members": {
        "input": {
          "documentation": "<p>Information about the input.</p>",
          "shape": "Input"
        }
      },
      "type": "structure"
    },
    "DescribeLoggingOptionsRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeLoggingOptionsResponse": {
      "members": {
        "loggingOptions": {
          "documentation": "<p>The current settings of the AWS IoT Events logging options.</p>",
          "shape": "LoggingOptions"
        }
      },
      "type": "structure"
    },
    "DetectorDebugOption": {
      "documentation": "<p>The detector model and the specific detectors (instances) for which the logging level is given.</p>",
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the input attribute key used to create the detector (the instance of the detector model).</p>",
          "shape": "KeyValue"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DetectorDebugOptions": {
      "member": {
        "shape": "DetectorDebugOption"
      },
      "min": 1,
      "type": "list"
    },
    "DetectorModel": {
      "documentation": "<p>Information about the detector model.</p>",
      "members": {
        "detectorModelConfiguration": {
          "documentation": "<p>Information about how the detector is configured.</p>",
          "shape": "DetectorModelConfiguration"
        },
        "detectorModelDefinition": {
          "documentation": "<p>Information that defines how a detector operates.</p>",
          "shape": "DetectorModelDefinition"
        }
      },
      "type": "structure"
    },
    "DetectorModelArn": {
      "type": "string"
    },
    "DetectorModelConfiguration": {
      "documentation": "<p>Information about how the detector model is configured.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelArn": {
          "documentation": "<p>The ARN of the detector model.</p>",
          "shape": "DetectorModelArn"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model.</p>",
          "shape": "DetectorModelVersion"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "key": {
          "documentation": "<p>The value used to identify a detector instance. When a device or system sends input, a new detector instance with a unique key value is created. AWS IoT Events can continue to route input to its corresponding detector instance based on this identifying information. </p> <p>This parameter uses a JSON-path expression to select the attribute-value pair in the message payload that is used for identification. To route the message to the correct detector instance, the device must send a message payload that contains the same attribute-value.</p>",
          "shape": "AttributeJsonPath"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector model was last updated.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
          "shape": "AmazonResourceName"
        },
        "status": {
          "documentation": "<p>The status of the detector model.</p>",
          "shape": "DetectorModelVersionStatus"
        }
      },
      "type": "structure"
    },
    "DetectorModelDefinition": {
      "documentation": "<p>Information that defines how a detector operates.</p>",
      "members": {
        "initialStateName": {
          "documentation": "<p>The state that is entered at the creation of each detector (instance).</p>",
          "shape": "StateName"
        },
        "states": {
          "documentation": "<p>Information about the states of the detector.</p>",
          "shape": "States"
        }
      },
      "required": [
        "states",
        "initialStateName"
      ],
      "type": "structure"
    },
    "DetectorModelDescription": {
      "max": 128,
      "type": "string"
    },
    "DetectorModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "DetectorModelSummaries": {
      "member": {
        "shape": "DetectorModelSummary"
      },
      "type": "list"
    },
    "DetectorModelSummary": {
      "documentation": "<p>Information about the detector model.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        }
      },
      "type": "structure"
    },
    "DetectorModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "DetectorModelVersionStatus": {
      "enum": [
        "ACTIVE",
        "ACTIVATING",
        "INACTIVE",
        "DEPRECATED",
        "DRAFT",
        "PAUSED",
        "FAILED"
      ],
      "type": "string"
    },
    "DetectorModelVersionSummaries": {
      "member": {
        "shape": "DetectorModelVersionSummary"
      },
      "type": "list"
    },
    "DetectorModelVersionSummary": {
      "documentation": "<p>Information about the detector model version.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model version was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelArn": {
          "documentation": "<p>The ARN of the detector model version.</p>",
          "shape": "DetectorModelArn"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The ID of the detector model version.</p>",
          "shape": "DetectorModelVersion"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the detector model version was updated.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants the detector model permission to perform its tasks.</p>",
          "shape": "AmazonResourceName"
        },
        "status": {
          "documentation": "<p>The status of the detector model version.</p>",
          "shape": "DetectorModelVersionStatus"
        }
      },
      "type": "structure"
    },
    "DisabledOnInitialization": {
      "box": true,
      "type": "boolean"
    },
    "DynamoDBAction": {
      "documentation": "<p>Defines an action to write to the Amazon DynamoDB table that you created. The standard action payload contains all the information about the detector model instance and the event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. One column of the DynamoDB table receives all attribute-value pairs in the payload that you specify.</p> <p>You must use expressions for all parameters in <code>DynamoDBAction</code>. The expressions accept literals, operators, functions, references, and substitution templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>hashKeyType</code> parameter can be <code>'STRING'</code>.</p> </li> <li> <p>For references, you must specify either variables or input values. For example, the value for the <code>hashKeyField</code> parameter can be <code>$input.GreenhouseInput.name</code>.</p> </li> <li> <p>For a substitution template, you must use <code>${}</code>, and the template must be in single quotes. A substitution template can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>hashKeyValue</code> parameter uses a substitution template. </p> <p> <code>'${$input.GreenhouseInput.temperature * 6 / 5 + 32} in Fahrenheit'</code> </p> </li> <li> <p>For a string concatenation, you must use <code>+</code>. A string concatenation can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>tableName</code> parameter uses a string concatenation. </p> <p> <code>'GreenhouseTemperatureTable ' + $input.GreenhouseInput.date</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p> <p>If the defined payload type is a string, <code>DynamoDBAction</code> writes non-JSON data to the DynamoDB table as binary data. The DynamoDB console displays the data as Base64-encoded text. The value for the <code>payloadField</code> parameter is <code>&lt;payload-field&gt;_raw</code>.</p>",
      "members": {
        "hashKeyField": {
          "documentation": "<p>The name of the hash key (also called the partition key). The <code>hashKeyField</code> value must match the partition key of the target DynamoDB table.</p>",
          "shape": "DynamoKeyField"
        },
        "hashKeyType": {
          "documentation": "<p>The data type for the hash key (also called the partition key). You can specify the following values:</p> <ul> <li> <p> <code>'STRING'</code> - The hash key is a string.</p> </li> <li> <p> <code>'NUMBER'</code> - The hash key is a number.</p> </li> </ul> <p>If you don't specify <code>hashKeyType</code>, the default value is <code>'STRING'</code>.</p>",
          "shape": "DynamoKeyType"
        },
        "hashKeyValue": {
          "documentation": "<p>The value of the hash key (also called the partition key).</p>",
          "shape": "DynamoKeyValue"
        },
        "operation": {
          "documentation": "<p>The type of operation to perform. You can specify the following values: </p> <ul> <li> <p> <code>'INSERT'</code> - Insert data as a new item into the DynamoDB table. This item uses the specified hash key as a partition key. If you specified a range key, the item uses the range key as a sort key.</p> </li> <li> <p> <code>'UPDATE'</code> - Update an existing item of the DynamoDB table with new data. This item's partition key must match the specified hash key. If you specified a range key, the range key must match the item's sort key.</p> </li> <li> <p> <code>'DELETE'</code> - Delete an existing item of the DynamoDB table. This item's partition key must match the specified hash key. If you specified a range key, the range key must match the item's sort key.</p> </li> </ul> <p>If you don't specify this parameter, AWS IoT Events triggers the <code>'INSERT'</code> operation.</p>",
          "shape": "DynamoOperation"
        },
        "payload": {
          "shape": "Payload"
        },
        "payloadField": {
          "documentation": "<p>The name of the DynamoDB column that receives the action payload.</p> <p>If you don't specify this parameter, the name of the DynamoDB column is <code>payload</code>.</p>",
          "shape": "DynamoKeyField"
        },
        "rangeKeyField": {
          "documentation": "<p>The name of the range key (also called the sort key). The <code>rangeKeyField</code> value must match the sort key of the target DynamoDB table. </p>",
          "shape": "DynamoKeyField"
        },
        "rangeKeyType": {
          "documentation": "<p>The data type for the range key (also called the sort key), You can specify the following values:</p> <ul> <li> <p> <code>'STRING'</code> - The range key is a string.</p> </li> <li> <p> <code>'NUMBER'</code> - The range key is number.</p> </li> </ul> <p>If you don't specify <code>rangeKeyField</code>, the default value is <code>'STRING'</code>.</p>",
          "shape": "DynamoKeyType"
        },
        "rangeKeyValue": {
          "documentation": "<p>The value of the range key (also called the sort key).</p>",
          "shape": "DynamoKeyValue"
        },
        "tableName": {
          "documentation": "<p>The name of the DynamoDB table. The <code>tableName</code> value must match the table name of the target DynamoDB table. </p>",
          "shape": "DynamoTableName"
        }
      },
      "required": [
        "hashKeyField",
        "hashKeyValue",
        "tableName"
      ],
      "type": "structure"
    },
    "DynamoDBv2Action": {
      "documentation": "<p>Defines an action to write to the Amazon DynamoDB table that you created. The default action payload contains all the information about the detector model instance and the event that triggered the action. You can customize the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_Payload.html\">payload</a>. A separate column of the DynamoDB table receives one attribute-value pair in the payload that you specify.</p> <p>You must use expressions for all parameters in <code>DynamoDBv2Action</code>. The expressions accept literals, operators, functions, references, and substitution templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>tableName</code> parameter can be <code>'GreenhouseTemperatureTable'</code>.</p> </li> <li> <p>For references, you must specify either variables or input values. For example, the value for the <code>tableName</code> parameter can be <code>$variable.ddbtableName</code>.</p> </li> <li> <p>For a substitution template, you must use <code>${}</code>, and the template must be in single quotes. A substitution template can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>contentExpression</code> parameter in <code>Payload</code> uses a substitution template. </p> <p> <code>'{\\\"sensorID\\\": \\\"${$input.GreenhouseInput.sensor_id}\\\", \\\"temperature\\\": \\\"${$input.GreenhouseInput.temperature * 9 / 5 + 32}\\\"}'</code> </p> </li> <li> <p>For a string concatenation, you must use <code>+</code>. A string concatenation can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>tableName</code> parameter uses a string concatenation. </p> <p> <code>'GreenhouseTemperatureTable ' + $input.GreenhouseInput.date</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p> <p>The value for the <code>type</code> parameter in <code>Payload</code> must be <code>JSON</code>.</p>",
      "members": {
        "payload": {
          "shape": "Payload"
        },
        "tableName": {
          "documentation": "<p>The name of the DynamoDB table.</p>",
          "shape": "DynamoTableName"
        }
      },
      "required": [
        "tableName"
      ],
      "type": "structure"
    },
    "DynamoKeyField": {
      "type": "string"
    },
    "DynamoKeyType": {
      "type": "string"
    },
    "DynamoKeyValue": {
      "type": "string"
    },
    "DynamoOperation": {
      "type": "string"
    },
    "DynamoTableName": {
      "type": "string"
    },
    "EmailConfiguration": {
      "documentation": "<p>Contains the configuration information of email notifications.</p>",
      "members": {
        "content": {
          "documentation": "<p>Contains the subject and message of an email.</p>",
          "shape": "EmailContent"
        },
        "from": {
          "documentation": "<p>The email address that sends emails.</p> <important> <p>If you use the AWS IoT Events managed AWS Lambda function to manage your emails, you must <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-email-addresses.html\">verify the email address that sends emails in Amazon SES</a>.</p> </important>",
          "shape": "FromEmail"
        },
        "recipients": {
          "documentation": "<p>Contains the information of one or more recipients who receive the emails.</p> <important> <p>You must <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/addusers.html\">add the users that receive emails to your AWS SSO store</a>.</p> </important>",
          "shape": "EmailRecipients"
        }
      },
      "required": [
        "from",
        "recipients"
      ],
      "type": "structure"
    },
    "EmailConfigurations": {
      "member": {
        "shape": "EmailConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "EmailContent": {
      "documentation": "<p>Contains the subject and message of an email.</p>",
      "members": {
        "additionalMessage": {
          "documentation": "<p>The message that you want to send. The message can be up to 200 characters.</p>",
          "shape": "NotificationAdditionalMessage"
        },
        "subject": {
          "documentation": "<p>The subject of the email.</p>",
          "shape": "EmailSubject"
        }
      },
      "type": "structure"
    },
    "EmailRecipients": {
      "documentation": "<p>Contains the information of one or more recipients who receive the emails.</p> <important> <p>You must <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/addusers.html\">add the users that receive emails to your AWS SSO store</a>.</p> </important>",
      "members": {
        "to": {
          "documentation": "<p>Specifies one or more recipients who receive the email.</p>",
          "shape": "RecipientDetails"
        }
      },
      "type": "structure"
    },
    "EmailSubject": {
      "type": "string"
    },
    "EvaluationMethod": {
      "enum": [
        "BATCH",
        "SERIAL"
      ],
      "type": "string"
    },
    "Event": {
      "documentation": "<p>Specifies the <code>actions</code> to be performed when the <code>condition</code> evaluates to TRUE.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The actions to be performed.</p>",
          "shape": "Actions"
        },
        "condition": {
          "documentation": "<p>Optional. The Boolean expression that, when TRUE, causes the <code>actions</code> to be performed. If not present, the actions are performed (=TRUE). If the expression result is not a Boolean value, the actions are not performed (=FALSE).</p>",
          "shape": "Condition"
        },
        "eventName": {
          "documentation": "<p>The name of the event.</p>",
          "shape": "EventName"
        }
      },
      "required": [
        "eventName"
      ],
      "type": "structure"
    },
    "EventName": {
      "max": 128,
      "type": "string"
    },
    "Events": {
      "member": {
        "shape": "Event"
      },
      "type": "list"
    },
    "FirehoseAction": {
      "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon Kinesis Data Firehose delivery stream.</p>",
      "members": {
        "deliveryStreamName": {
          "documentation": "<p>The name of the Kinesis Data Firehose delivery stream where the data is written.</p>",
          "shape": "DeliveryStreamName"
        },
        "payload": {
          "documentation": "<p>You can configure the action payload when you send a message to an Amazon Kinesis Data Firehose delivery stream.</p>",
          "shape": "Payload"
        },
        "separator": {
          "documentation": "<p>A character separator that is used to separate records written to the Kinesis Data Firehose delivery stream. Valid values are: '\\n' (newline), '\\t' (tab), '\\r\\n' (Windows newline), ',' (comma).</p>",
          "shape": "FirehoseSeparator"
        }
      },
      "required": [
        "deliveryStreamName"
      ],
      "type": "structure"
    },
    "FirehoseSeparator": {
      "pattern": "([\\n\\t])|(\\r\\n)|(,)",
      "type": "string"
    },
    "FromEmail": {
      "type": "string"
    },
    "GetDetectorModelAnalysisResultsRequest": {
      "members": {
        "analysisId": {
          "documentation": "<p>The ID of the analysis result that you want to retrieve.</p>",
          "location": "uri",
          "locationName": "analysisId",
          "shape": "AnalysisId"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to be returned per request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxAnalysisResults"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "analysisId"
      ],
      "type": "structure"
    },
    "GetDetectorModelAnalysisResultsResponse": {
      "members": {
        "analysisResults": {
          "documentation": "<p>Contains information about one or more analysis results.</p>",
          "shape": "AnalysisResults"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "IdentityStoreId": {
      "type": "string"
    },
    "InitializationConfiguration": {
      "documentation": "<p>Specifies the default alarm state. The configuration applies to all alarms that were created based on this alarm model.</p>",
      "members": {
        "disabledOnInitialization": {
          "documentation": "<p>The value must be <code>TRUE</code> or <code>FALSE</code>. If <code>FALSE</code>, all alarm instances created based on the alarm model are activated. The default value is <code>TRUE</code>.</p>",
          "shape": "DisabledOnInitialization"
        }
      },
      "required": [
        "disabledOnInitialization"
      ],
      "type": "structure"
    },
    "Input": {
      "documentation": "<p>Information about the input.</p>",
      "members": {
        "inputConfiguration": {
          "documentation": "<p>Information about the configuration of an input.</p>",
          "shape": "InputConfiguration"
        },
        "inputDefinition": {
          "documentation": "<p>The definition of the input.</p>",
          "shape": "InputDefinition"
        }
      },
      "type": "structure"
    },
    "InputArn": {
      "type": "string"
    },
    "InputConfiguration": {
      "documentation": "<p>Information about the configuration of an input.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the input was created.</p>",
          "shape": "Timestamp"
        },
        "inputArn": {
          "documentation": "<p>The ARN of the input.</p>",
          "shape": "InputArn"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "shape": "InputName"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the input was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the input.</p>",
          "shape": "InputStatus"
        }
      },
      "required": [
        "inputName",
        "inputArn",
        "creationTime",
        "lastUpdateTime",
        "status"
      ],
      "type": "structure"
    },
    "InputDefinition": {
      "documentation": "<p>The definition of the input.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The attributes from the JSON payload that are made available by the input. Inputs are derived from messages sent to the AWS IoT Events system using <code>BatchPutMessage</code>. Each such message contains a JSON payload, and those attributes (and their paired values) specified here are available for use in the <code>condition</code> expressions used by detectors that monitor this input. </p>",
          "shape": "Attributes"
        }
      },
      "required": [
        "attributes"
      ],
      "type": "structure"
    },
    "InputDescription": {
      "max": 128,
      "type": "string"
    },
    "InputIdentifier": {
      "documentation": "<p> The identifer of the input. </p>",
      "members": {
        "iotEventsInputIdentifier": {
          "documentation": "<p> The identifier of the input routed to AWS IoT Events. </p>",
          "shape": "IotEventsInputIdentifier"
        },
        "iotSiteWiseInputIdentifier": {
          "documentation": "<p> The identifer of the input routed from AWS IoT SiteWise. </p>",
          "shape": "IotSiteWiseInputIdentifier"
        }
      },
      "type": "structure"
    },
    "InputName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "InputProperty": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "InputStatus": {
      "enum": [
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "InputSummaries": {
      "member": {
        "shape": "InputSummary"
      },
      "type": "list"
    },
    "InputSummary": {
      "documentation": "<p>Information about the input.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the input was created.</p>",
          "shape": "Timestamp"
        },
        "inputArn": {
          "documentation": "<p>The ARN of the input.</p>",
          "shape": "InputArn"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "shape": "InputName"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the input was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the input.</p>",
          "shape": "InputStatus"
        }
      },
      "type": "structure"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal failure occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "IotEventsAction": {
      "documentation": "<p>Sends an AWS IoT Events input, passing in information about the detector model instance and the event that triggered the action.</p>",
      "members": {
        "inputName": {
          "documentation": "<p>The name of the AWS IoT Events input where the data is sent.</p>",
          "shape": "InputName"
        },
        "payload": {
          "documentation": "<p>You can configure the action payload when you send a message to an AWS IoT Events input.</p>",
          "shape": "Payload"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "IotEventsInputIdentifier": {
      "documentation": "<p> The identifier of the input routed to AWS IoT Events. </p>",
      "members": {
        "inputName": {
          "documentation": "<p> The name of the input routed to AWS IoT Events. </p>",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "IotSiteWiseAction": {
      "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to a specified asset property in AWS IoT SiteWise.</p> <p>You must use expressions for all parameters in <code>IotSiteWiseAction</code>. The expressions accept literals, operators, functions, references, and substitutions templates.</p> <p class=\"title\"> <b>Examples</b> </p> <ul> <li> <p>For literal values, the expressions must contain single quotes. For example, the value for the <code>propertyAlias</code> parameter can be <code>'/company/windfarm/3/turbine/7/temperature'</code>.</p> </li> <li> <p>For references, you must specify either variables or input values. For example, the value for the <code>assetId</code> parameter can be <code>$input.TurbineInput.assetId1</code>.</p> </li> <li> <p>For a substitution template, you must use <code>${}</code>, and the template must be in single quotes. A substitution template can also contain a combination of literals, operators, functions, references, and substitution templates.</p> <p>In the following example, the value for the <code>propertyAlias</code> parameter uses a substitution template. </p> <p> <code>'company/windfarm/${$input.TemperatureInput.sensorData.windfarmID}/turbine/ ${$input.TemperatureInput.sensorData.turbineID}/temperature'</code> </p> </li> </ul> <p>You must specify either <code>propertyAlias</code> or both <code>assetId</code> and <code>propertyId</code> to identify the target asset property in AWS IoT SiteWise.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/iotevents-expressions.html\">Expressions</a> in the <i>AWS IoT Events Developer Guide</i>.</p>",
      "members": {
        "assetId": {
          "documentation": "<p>The ID of the asset that has the specified property.</p>",
          "shape": "AssetId"
        },
        "entryId": {
          "documentation": "<p>A unique identifier for this entry. You can use the entry ID to track which data entry causes an error in case of failure. The default is a new unique identifier.</p>",
          "shape": "AssetPropertyEntryId"
        },
        "propertyAlias": {
          "documentation": "<p>The alias of the asset property.</p>",
          "shape": "AssetPropertyAlias"
        },
        "propertyId": {
          "documentation": "<p>The ID of the asset property.</p>",
          "shape": "AssetPropertyId"
        },
        "propertyValue": {
          "documentation": "<p>The value to send to the asset property. This value contains timestamp, quality, and value (TQV) information. </p>",
          "shape": "AssetPropertyValue"
        }
      },
      "type": "structure"
    },
    "IotSiteWiseAssetModelPropertyIdentifier": {
      "documentation": "<p> The asset model property identifer of the input routed from AWS IoT SiteWise. </p>",
      "members": {
        "assetModelId": {
          "documentation": "<p> The ID of the AWS IoT SiteWise asset model. </p>",
          "shape": "AssetModelId"
        },
        "propertyId": {
          "documentation": "<p> The ID of the AWS IoT SiteWise asset property. </p>",
          "shape": "AssetPropertyId"
        }
      },
      "required": [
        "assetModelId",
        "propertyId"
      ],
      "type": "structure"
    },
    "IotSiteWiseInputIdentifier": {
      "documentation": "<p> The identifer of the input routed from AWS IoT SiteWise. </p>",
      "members": {
        "iotSiteWiseAssetModelPropertyIdentifier": {
          "documentation": "<p> The identifier of the AWS IoT SiteWise asset model property. </p>",
          "shape": "IotSiteWiseAssetModelPropertyIdentifier"
        }
      },
      "type": "structure"
    },
    "IotTopicPublishAction": {
      "documentation": "<p>Information required to publish the MQTT message through the AWS IoT message broker.</p>",
      "members": {
        "mqttTopic": {
          "documentation": "<p>The MQTT topic of the message. You can use a string expression that includes variables (<code>$variable.&lt;variable-name&gt;</code>) and input values (<code>$input.&lt;input-name&gt;.&lt;path-to-datum&gt;</code>) as the topic string.</p>",
          "shape": "MQTTTopic"
        },
        "payload": {
          "documentation": "<p>You can configure the action payload when you publish a message to an AWS IoT Core topic.</p>",
          "shape": "Payload"
        }
      },
      "required": [
        "mqttTopic"
      ],
      "type": "structure"
    },
    "KeyValue": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_:]+$",
      "type": "string"
    },
    "LambdaAction": {
      "documentation": "<p>Calls a Lambda function, passing in information about the detector model instance and the event that triggered the action.</p>",
      "members": {
        "functionArn": {
          "documentation": "<p>The ARN of the Lambda function that is executed.</p>",
          "shape": "AmazonResourceName"
        },
        "payload": {
          "documentation": "<p>You can configure the action payload when you send a message to a Lambda function.</p>",
          "shape": "Payload"
        }
      },
      "required": [
        "functionArn"
      ],
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>A limit was exceeded.</p>",
      "error": {
        "httpStatusCode": 410
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListAlarmModelVersionsRequest": {
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "location": "uri",
          "locationName": "alarmModelName",
          "shape": "AlarmModelName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to be returned per request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "alarmModelName"
      ],
      "type": "structure"
    },
    "ListAlarmModelVersionsResponse": {
      "members": {
        "alarmModelVersionSummaries": {
          "documentation": "<p>A list that summarizes each alarm model version.</p>",
          "shape": "AlarmModelVersionSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAlarmModelsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to be returned per request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
[...]
