{
  "documentation": "<p>AWS Resilience Hub helps you proactively prepare and protect your Amazon Web Services applications from disruptions. Resilience Hub offers continuous resiliency assessment and validation that integrates into your software development lifecycle. This enables you to uncover resiliency weaknesses, ensure recovery time objective (RTO) and recovery point objective (RPO) targets for your applications are met, and resolve issues before they are released into production. </p>",
  "metadata": {
    "apiVersion": "2020-04-30",
    "endpointPrefix": "resiliencehub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Resilience Hub",
    "serviceId": "resiliencehub",
    "signatureVersion": "v4",
    "signingName": "resiliencehub",
    "uid": "resiliencehub-2020-04-30"
  },
  "operations": {
    "AddDraftAppVersionResourceMappings": {
      "documentation": "<p>Adds the resource mapping for the draft application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/add-draft-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "shape": "AddDraftAppVersionResourceMappingsRequest"
      },
      "name": "AddDraftAppVersionResourceMappings",
      "output": {
        "shape": "AddDraftAppVersionResourceMappingsResponse"
      }
    },
    "CreateApp": {
      "documentation": "<p>Creates a Resilience Hub application. A Resilience Hub application is a collection of Amazon Web Services resources structured to prevent and recover Amazon Web Services application disruptions. To describe a Resilience Hub application, you provide an application name, resources from one or more\u2013up to five\u2013CloudFormation stacks, and an appropriate resiliency policy.</p> <p>After you create a Resilience Hub application, you publish it so that you can run a resiliency assessment on it. You can then use recommendations from the assessment to improve resiliency by running another assessment, comparing results, and then iterating the process until you achieve your goals for recovery time objective (RTO) and recovery point objective (RPO).</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-app",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "name": "CreateApp",
      "output": {
        "shape": "CreateAppResponse"
      }
    },
    "CreateRecommendationTemplate": {
      "documentation": "<p>Creates a new recommendation template.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-recommendation-template",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateRecommendationTemplateRequest"
      },
      "name": "CreateRecommendationTemplate",
      "output": {
        "shape": "CreateRecommendationTemplateResponse"
      }
    },
    "CreateResiliencyPolicy": {
      "documentation": "<p>Creates a resiliency policy for an application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResiliencyPolicyRequest"
      },
      "name": "CreateResiliencyPolicy",
      "output": {
        "shape": "CreateResiliencyPolicyResponse"
      }
    },
    "DeleteApp": {
      "documentation": "<p>Deletes an AWS Resilience Hub application. This is a destructive action that can't be undone.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-app",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "name": "DeleteApp",
      "output": {
        "shape": "DeleteAppResponse"
      }
    },
    "DeleteAppAssessment": {
      "documentation": "<p>Deletes an AWS Resilience Hub application assessment. This is a destructive action that can't be undone.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-app-assessment",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAppAssessmentRequest"
      },
      "name": "DeleteAppAssessment",
      "output": {
        "shape": "DeleteAppAssessmentResponse"
      }
    },
    "DeleteRecommendationTemplate": {
      "documentation": "<p>Deletes a recommendation template. This is a destructive action that can't be undone.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-recommendation-template",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRecommendationTemplateRequest"
      },
      "name": "DeleteRecommendationTemplate",
      "output": {
        "shape": "DeleteRecommendationTemplateResponse"
      }
    },
    "DeleteResiliencyPolicy": {
      "documentation": "<p>Deletes a resiliency policy. This is a destructive action that can't be undone.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteResiliencyPolicyRequest"
      },
      "name": "DeleteResiliencyPolicy",
      "output": {
        "shape": "DeleteResiliencyPolicyResponse"
      }
    },
    "DescribeApp": {
      "documentation": "<p>Describes an AWS Resilience Hub application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-app",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppRequest"
      },
      "name": "DescribeApp",
      "output": {
        "shape": "DescribeAppResponse"
      }
    },
    "DescribeAppAssessment": {
      "documentation": "<p>Describes an assessment for an AWS Resilience Hub application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-app-assessment",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppAssessmentRequest"
      },
      "name": "DescribeAppAssessment",
      "output": {
        "shape": "DescribeAppAssessmentResponse"
      }
    },
    "DescribeAppVersionResourcesResolutionStatus": {
      "documentation": "<p>Returns the resolution status for the specified resolution identifier for an application version. If <code>resolutionId</code> is not specified, the current resolution status is returned.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-app-version-resources-resolution-status",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppVersionResourcesResolutionStatusRequest"
      },
      "name": "DescribeAppVersionResourcesResolutionStatus",
      "output": {
        "shape": "DescribeAppVersionResourcesResolutionStatusResponse"
      }
    },
    "DescribeAppVersionTemplate": {
      "documentation": "<p>Describes details about an AWS Resilience Hub </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-app-version-template",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppVersionTemplateRequest"
      },
      "name": "DescribeAppVersionTemplate",
      "output": {
        "shape": "DescribeAppVersionTemplateResponse"
      }
    },
    "DescribeDraftAppVersionResourcesImportStatus": {
      "documentation": "<p>Describes the status of importing resources to an application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-draft-app-version-resources-import-status",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeDraftAppVersionResourcesImportStatusRequest"
      },
      "name": "DescribeDraftAppVersionResourcesImportStatus",
      "output": {
        "shape": "DescribeDraftAppVersionResourcesImportStatusResponse"
      }
    },
    "DescribeResiliencyPolicy": {
      "documentation": "<p>Describes a specified resiliency policy for an AWS Resilience Hub application. The returned policy object includes creation time, data location constraints, the Amazon Resource Name (ARN) for the policy, tags, tier, and more.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describe-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeResiliencyPolicyRequest"
      },
      "name": "DescribeResiliencyPolicy",
      "output": {
        "shape": "DescribeResiliencyPolicyResponse"
      }
    },
    "ImportResourcesToDraftAppVersion": {
      "documentation": "<p>Imports resources from sources such as a CloudFormation stack, resource-groups, or application registry app to a draft application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import-resources-to-draft-app-version",
        "responseCode": 200
      },
      "input": {
        "shape": "ImportResourcesToDraftAppVersionRequest"
      },
      "name": "ImportResourcesToDraftAppVersion",
      "output": {
        "shape": "ImportResourcesToDraftAppVersionResponse"
      }
    },
    "ListAlarmRecommendations": {
      "documentation": "<p>Lists the alarm recommendations for a AWS Resilience Hub application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-alarm-recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAlarmRecommendationsRequest"
      },
      "name": "ListAlarmRecommendations",
      "output": {
        "shape": "ListAlarmRecommendationsResponse"
      }
    },
    "ListAppAssessments": {
      "documentation": "<p>Lists the assessments for an AWS Resilience Hub application. You can use request parameters to refine the results for the response object.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/list-app-assessments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppAssessmentsRequest"
      },
      "name": "ListAppAssessments",
      "output": {
        "shape": "ListAppAssessmentsResponse"
      }
    },
    "ListAppComponentCompliances": {
      "documentation": "<p>Lists the compliances for an AWS Resilience Hub component.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-app-component-compliances",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppComponentCompliancesRequest"
      },
      "name": "ListAppComponentCompliances",
      "output": {
        "shape": "ListAppComponentCompliancesResponse"
      }
    },
    "ListAppComponentRecommendations": {
      "documentation": "<p>Lists the recommendations for an AWS Resilience Hub component.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-app-component-recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppComponentRecommendationsRequest"
      },
      "name": "ListAppComponentRecommendations",
      "output": {
        "shape": "ListAppComponentRecommendationsResponse"
      }
    },
    "ListAppVersionResourceMappings": {
      "documentation": "<p>Lists how the resources in an application version are mapped/sourced from. Mappings can be physical resource identifiers, CloudFormation stacks, resource-groups, or an application registry app.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppVersionResourceMappingsRequest"
      },
      "name": "ListAppVersionResourceMappings",
      "output": {
        "shape": "ListAppVersionResourceMappingsResponse"
      }
    },
    "ListAppVersionResources": {
      "documentation": "<p>Lists all the resources in an application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppVersionResourcesRequest"
      },
      "name": "ListAppVersionResources",
      "output": {
        "shape": "ListAppVersionResourcesResponse"
      }
    },
    "ListAppVersions": {
      "documentation": "<p>Lists the different versions for the Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-app-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppVersionsRequest"
      },
      "name": "ListAppVersions",
      "output": {
        "shape": "ListAppVersionsResponse"
      }
    },
    "ListApps": {
      "documentation": "<p>Lists your Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/list-apps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppsRequest"
      },
      "name": "ListApps",
      "output": {
        "shape": "ListAppsResponse"
      }
    },
    "ListRecommendationTemplates": {
      "documentation": "<p>Lists the recommendation templates for the Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/list-recommendation-templates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRecommendationTemplatesRequest"
      },
      "name": "ListRecommendationTemplates",
      "output": {
        "shape": "ListRecommendationTemplatesResponse"
      }
    },
    "ListResiliencyPolicies": {
      "documentation": "<p>Lists the resiliency policies for the Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/list-resiliency-policies",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResiliencyPoliciesRequest"
      },
      "name": "ListResiliencyPolicies",
      "output": {
        "shape": "ListResiliencyPoliciesResponse"
      }
    },
    "ListSopRecommendations": {
      "documentation": "<p>Lists the standard operating procedure (SOP) recommendations for the Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-sop-recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSopRecommendationsRequest"
      },
      "name": "ListSopRecommendations",
      "output": {
        "shape": "ListSopRecommendationsResponse"
      }
    },
    "ListSuggestedResiliencyPolicies": {
      "documentation": "<p>Lists the suggested resiliency policies for the Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/list-suggested-resiliency-policies",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSuggestedResiliencyPoliciesRequest"
      },
      "name": "ListSuggestedResiliencyPolicies",
      "output": {
        "shape": "ListSuggestedResiliencyPoliciesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for your resources in your Resilience Hub applications.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTestRecommendations": {
      "documentation": "<p>Lists the test recommendations for the Resilience Hub application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-test-recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTestRecommendationsRequest"
      },
      "name": "ListTestRecommendations",
      "output": {
        "shape": "ListTestRecommendationsResponse"
      }
    },
    "ListUnsupportedAppVersionResources": {
      "documentation": "<p>Lists the resources that are not currently supported in AWS Resilience Hub. An unsupported resource is a resource that exists in the object that was used to create an app, but is not supported by Resilience Hub.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-unsupported-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListUnsupportedAppVersionResourcesRequest"
      },
      "name": "ListUnsupportedAppVersionResources",
      "output": {
        "shape": "ListUnsupportedAppVersionResourcesResponse"
      }
    },
    "PublishAppVersion": {
      "documentation": "<p>Publishes a new version of a specific Resilience Hub application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/publish-app-version",
        "responseCode": 200
      },
      "input": {
        "shape": "PublishAppVersionRequest"
      },
      "name": "PublishAppVersion",
      "output": {
        "shape": "PublishAppVersionResponse"
      }
    },
    "PutDraftAppVersionTemplate": {
      "documentation": "<p>Adds or updates the app template for a draft version of a Resilience Hub app.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/put-draft-app-version-template",
        "responseCode": 200
      },
      "input": {
        "shape": "PutDraftAppVersionTemplateRequest"
      },
      "name": "PutDraftAppVersionTemplate",
      "output": {
        "shape": "PutDraftAppVersionTemplateResponse"
      }
    },
    "RemoveDraftAppVersionResourceMappings": {
      "documentation": "<p>Removes resource mappings from a draft application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/remove-draft-app-version-resource-mappings",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveDraftAppVersionResourceMappingsRequest"
      },
      "name": "RemoveDraftAppVersionResourceMappings",
      "output": {
        "shape": "RemoveDraftAppVersionResourceMappingsResponse"
      }
    },
    "ResolveAppVersionResources": {
      "documentation": "<p>Resolves the resources for an application version.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resolve-app-version-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ResolveAppVersionResourcesRequest"
      },
      "name": "ResolveAppVersionResources",
      "output": {
        "shape": "ResolveAppVersionResourcesResponse"
      }
    },
    "StartAppAssessment": {
      "documentation": "<p>Creates a new application assessment for an application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/start-app-assessment",
        "responseCode": 200
      },
      "input": {
        "shape": "StartAppAssessmentRequest"
      },
      "name": "StartAppAssessment",
      "output": {
        "shape": "StartAppAssessmentResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies one or more tags to a resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApp": {
      "documentation": "<p>Updates an application.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-app",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAppRequest"
      },
      "name": "UpdateApp",
      "output": {
        "shape": "UpdateAppResponse"
      }
    },
    "UpdateResiliencyPolicy": {
      "documentation": "<p>Updates a resiliency policy.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-resiliency-policy",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateResiliencyPolicyRequest"
      },
      "name": "UpdateResiliencyPolicy",
      "output": {
        "shape": "UpdateResiliencyPolicyResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String500"
        }
      },
      "type": "structure"
    },
    "AddDraftAppVersionResourceMappingsRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "resourceMappings": {
          "documentation": "<p> Mappings used to map logical resources from the template to physical resources. You can use the mapping type <code>CFN_STACK</code> if the application template uses a logical stack name. Or you can map individual resources by using the mapping type <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the application is backed by a CloudFormation stack.</p>",
          "shape": "ResourceMappingList"
        }
      },
      "required": [
        "appArn",
        "resourceMappings"
      ],
      "type": "structure"
    },
    "AddDraftAppVersionResourceMappingsResponse": {
      "members": {
        "appArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "resourceMappings": {
          "documentation": "<p>Mappings used to map logical resources from the template to physical resources. You can use the mapping type <code>CFN_STACK</code> if the application template uses a logical stack name. Or you can map individual resources by using the mapping type <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the application is backed by a CloudFormation stack.</p>",
          "shape": "ResourceMappingList"
        }
      },
      "required": [
        "appArn",
        "appVersion",
        "resourceMappings"
      ],
      "type": "structure"
    },
    "AlarmRecommendation": {
      "documentation": "<p>Defines a recommendation for a CloudWatch alarm.</p>",
      "members": {
        "appComponentName": {
          "documentation": "<p>The application component for the CloudWatch alarm recommendation.</p>",
          "shape": "EntityId"
        },
        "description": {
          "documentation": "<p>The description of the recommendation.</p>",
          "shape": "EntityDescription"
        },
        "items": {
          "documentation": "<p>The list of CloudWatch alarm recommendations.</p>",
          "shape": "RecommendationItemList"
        },
        "name": {
          "documentation": "<p>The name of the alarm recommendation.</p>",
          "shape": "String500"
        },
        "prerequisite": {
          "documentation": "<p>The prerequisite for the alarm recommendation.</p>",
          "shape": "String500"
        },
        "recommendationId": {
          "documentation": "<p>The identifier of the alarm recommendation.</p>",
          "shape": "Uuid"
        },
        "referenceId": {
          "documentation": "<p>The reference identifier of the alarm recommendation.</p>",
          "shape": "SpecReferenceId"
        },
        "type": {
          "documentation": "<p>The type of alarm recommendation.</p>",
          "shape": "AlarmType"
        }
      },
      "required": [
        "name",
        "recommendationId",
        "referenceId",
        "type"
      ],
      "type": "structure"
    },
    "AlarmRecommendationList": {
      "member": {
        "shape": "AlarmRecommendation"
      },
      "type": "list"
    },
    "AlarmReferenceIdList": {
      "max": 200,
      "member": {
        "shape": "String500"
      },
      "min": 1,
      "type": "list"
    },
    "AlarmType": {
      "enum": [
        "Metric",
        "Composite",
        "Canary",
        "Logs",
        "Event"
      ],
      "type": "string"
    },
    "App": {
      "documentation": "<p>Defines a Resilience Hub application.</p>",
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "assessmentSchedule": {
          "documentation": "<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>",
          "shape": "AppAssessmentScheduleType"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of compliance for the resiliency policy.</p>",
          "shape": "AppComplianceStatusType"
        },
        "creationTime": {
          "documentation": "<p>The timestamp for when the app was created.</p>",
          "shape": "TimeStamp"
        },
        "description": {
          "documentation": "<p>The optional description for an app.</p>",
          "shape": "EntityDescription"
        },
        "lastAppComplianceEvaluationTime": {
          "documentation": "<p>The timestamp for the most recent compliance evaluation.</p>",
          "shape": "TimeStamp"
        },
        "lastResiliencyScoreEvaluationTime": {
          "documentation": "<p>The timestamp for the most recent resiliency score evaluation.</p>",
          "shape": "TimeStamp"
        },
        "name": {
          "documentation": "<p>The name for the application.</p>",
          "shape": "EntityName"
        },
        "policyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "resiliencyScore": {
          "documentation": "<p>The current resiliency score for the application.</p>",
          "shape": "Double"
        },
        "status": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "AppStatusType"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "appArn",
        "creationTime",
        "name"
      ],
      "type": "structure"
    },
    "AppAssessment": {
      "documentation": "<p>Defines an application assessment.</p>",
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>The name of the assessment.</p>",
          "shape": "EntityName"
        },
        "assessmentStatus": {
          "documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
          "shape": "AssessmentStatus"
        },
        "compliance": {
          "documentation": "<p>The application compliance against the resiliency policy.</p>",
          "shape": "AssessmentCompliance"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of the compliance for the resiliency policy.</p>",
          "shape": "ComplianceStatus"
        },
        "cost": {
          "documentation": "<p>The cost for the application.</p>",
          "shape": "Cost"
        },
        "endTime": {
          "documentation": "<p>The end time for the action.</p>",
          "shape": "TimeStamp"
        },
        "invoker": {
          "documentation": "<p>The entity that invoked the assessment.</p>",
          "shape": "AssessmentInvoker"
        },
        "message": {
          "documentation": "<p>Error or warning message from the assessment execution</p>",
          "shape": "String500"
        },
        "policy": {
          "documentation": "<p>The resiliency policy.</p>",
          "shape": "ResiliencyPolicy"
        },
        "resiliencyScore": {
          "documentation": "<p>The current resiliency score for the application.</p>",
          "shape": "ResiliencyScore"
        },
        "resourceErrorsDetails": {
          "documentation": "<p> A resource error object containing a list of errors retrieving an application's resources. </p>",
          "shape": "ResourceErrorsDetails"
        },
        "startTime": {
          "documentation": "<p>The starting time for the action.</p>",
          "shape": "TimeStamp"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "assessmentArn",
        "assessmentStatus",
        "invoker"
      ],
      "type": "structure"
    },
    "AppAssessmentScheduleType": {
      "enum": [
        "Disabled",
        "Daily"
      ],
      "type": "string"
    },
    "AppAssessmentSummary": {
      "documentation": "<p>Defines an application assessment summary.</p>",
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>The name of the assessment.</p>",
          "shape": "EntityName"
        },
        "assessmentStatus": {
          "documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
          "shape": "AssessmentStatus"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of compliance for the resiliency policy.</p>",
          "shape": "ComplianceStatus"
        },
        "cost": {
          "documentation": "<p>The cost for the application.</p>",
          "shape": "Cost"
        },
        "endTime": {
          "documentation": "<p>The end time for the action.</p>",
          "shape": "TimeStamp"
        },
        "invoker": {
          "documentation": "<p>The entity that invoked the assessment.</p>",
          "shape": "AssessmentInvoker"
        },
        "message": {
          "documentation": "<p>The message from the assessment run.</p>",
          "shape": "String500"
        },
        "resiliencyScore": {
          "documentation": "<p>The current resiliency score for the application.</p>",
          "shape": "Double"
        },
        "startTime": {
          "documentation": "<p>The starting time for the action.</p>",
          "shape": "TimeStamp"
        }
      },
      "required": [
        "assessmentArn",
        "assessmentStatus"
      ],
      "type": "structure"
    },
    "AppAssessmentSummaryList": {
      "member": {
        "shape": "AppAssessmentSummary"
      },
      "type": "list"
    },
    "AppComplianceStatusType": {
      "enum": [
        "PolicyBreached",
        "PolicyMet",
        "NotAssessed",
        "ChangesDetected"
      ],
      "type": "string"
    },
    "AppComponent": {
      "documentation": "<p>Defines an application component.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the application component.</p>",
          "shape": "String255"
        },
        "type": {
          "documentation": "<p>The type of application component.</p>",
          "shape": "String255"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "AppComponentCompliance": {
      "documentation": "<p>Defines the compliance of an application component against the resiliency policy.</p>",
      "members": {
        "appComponentName": {
          "documentation": "<p>The name of the application component.</p>",
          "shape": "EntityId"
        },
        "compliance": {
          "documentation": "<p>The compliance of the application component against the resiliency policy.</p>",
          "shape": "AssessmentCompliance"
        },
        "cost": {
          "documentation": "<p>The cost for the application.</p>",
          "shape": "Cost"
        },
        "message": {
          "documentation": "<p>The compliance message.</p>",
          "shape": "String500"
        },
        "resiliencyScore": {
          "documentation": "<p>The current resiliency score for the application.</p>",
          "shape": "ResiliencyScore"
        },
        "status": {
          "documentation": "<p>The status of the action.</p>",
          "shape": "ComplianceStatus"
        }
      },
      "type": "structure"
    },
    "AppComponentList": {
      "member": {
        "shape": "AppComponent"
      },
      "type": "list"
    },
    "AppStatusType": {
      "enum": [
        "Active",
        "Deleting"
      ],
      "type": "string"
    },
    "AppSummary": {
      "documentation": "<p>Defines an application summary.</p>",
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "assessmentSchedule": {
          "documentation": "<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>",
          "shape": "AppAssessmentScheduleType"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of compliance for the resiliency policy.</p>",
          "shape": "AppComplianceStatusType"
        },
        "creationTime": {
          "documentation": "<p>The timestamp for when the app was created.</p>",
          "shape": "TimeStamp"
        },
        "description": {
          "documentation": "<p>The optional description for an app.</p>",
          "shape": "EntityDescription"
        },
        "name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "EntityName"
        },
        "resiliencyScore": {
          "documentation": "<p>The current resiliency score for the application.</p>",
          "shape": "Double"
        },
        "status": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "AppStatusType"
        }
      },
      "required": [
        "appArn",
        "creationTime",
        "name"
      ],
      "type": "structure"
    },
    "AppSummaryList": {
      "member": {
        "shape": "AppSummary"
      },
      "type": "list"
    },
    "AppTemplateBody": {
      "max": 204800,
      "min": 0,
      "pattern": "^[\\w\\s:,-\\.'{}\\[\\]:\"]+$",
      "type": "string"
    },
    "AppVersionList": {
      "member": {
        "shape": "AppVersionSummary"
      },
      "type": "list"
    },
    "AppVersionSummary": {
      "documentation": "<p>The version of the application.</p>",
      "members": {
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        }
      },
      "required": [
        "appVersion"
      ],
      "type": "structure"
    },
    "Arn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+=,@.-]{0,1023}$",
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AssessmentCompliance": {
      "key": {
        "shape": "DisruptionType"
      },
      "type": "map",
      "value": {
        "shape": "DisruptionCompliance"
      }
    },
    "AssessmentInvoker": {
      "enum": [
        "User",
        "System"
      ],
      "type": "string"
    },
    "AssessmentStatus": {
      "enum": [
        "Pending",
        "InProgress",
        "Failed",
        "Success"
      ],
      "type": "string"
    },
    "AssessmentStatusList": {
      "max": 10,
      "member": {
        "shape": "AssessmentStatus"
      },
      "min": 1,
      "type": "list"
    },
    "AwsRegion": {
      "pattern": "^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$",
      "type": "string"
    },
    "BooleanOptional": {
      "box": true,
      "type": "boolean"
    },
    "ClientToken": {
      "max": 63,
      "min": 1,
      "pattern": "^[A-za-z0-9_.-]{0,63}$",
      "type": "string"
    },
    "ComplianceStatus": {
      "enum": [
        "PolicyBreached",
        "PolicyMet"
      ],
      "type": "string"
    },
    "ComponentCompliancesList": {
      "member": {
        "shape": "AppComponentCompliance"
      },
      "type": "list"
    },
    "ComponentRecommendation": {
      "documentation": "<p>Defines recommendations for a Resilience Hub application component, returned as an object. This object contains component names, configuration recommendations, and recommendation statuses.</p>",
      "members": {
        "appComponentName": {
          "documentation": "<p>The name of the application component.</p>",
          "shape": "EntityId"
        },
        "configRecommendations": {
          "documentation": "<p>The list of recommendations.</p>",
          "shape": "ConfigRecommendationList"
        },
        "recommendationStatus": {
          "documentation": "<p>The recommendation status.</p>",
          "shape": "RecommendationComplianceStatus"
        }
      },
      "required": [
        "appComponentName",
        "configRecommendations",
        "recommendationStatus"
      ],
      "type": "structure"
    },
    "ComponentRecommendationList": {
      "member": {
        "shape": "ComponentRecommendation"
      },
      "type": "list"
    },
    "ConfigRecommendation": {
      "documentation": "<p>Defines a configuration recommendation.</p>",
      "members": {
        "appComponentName": {
          "documentation": "<p>The application component name.</p>",
          "shape": "EntityId"
        },
        "compliance": {
          "documentation": "<p>The current compliance against the resiliency policy before applying the configuration change.</p>",
          "shape": "AssessmentCompliance"
        },
        "cost": {
          "documentation": "<p>The cost for the application.</p>",
          "shape": "Cost"
        },
        "description": {
          "documentation": "<p>The optional description for an app.</p>",
          "shape": "EntityDescription"
        },
        "haArchitecture": {
          "documentation": "<p>The architecture type.</p>",
          "shape": "HaArchitecture"
        },
        "name": {
          "documentation": "<p>The name of the recommendation configuration.</p>",
          "shape": "EntityName"
        },
        "optimizationType": {
          "documentation": "<p>The type of optimization.</p>",
          "shape": "ConfigRecommendationOptimizationType"
        },
        "recommendationCompliance": {
          "documentation": "<p>The expected compliance against the resiliency policy after applying the configuration change.</p>",
          "shape": "RecommendationCompliance"
        },
        "referenceId": {
          "documentation": "<p>The reference identifier for the recommendation configuration.</p>",
          "shape": "SpecReferenceId"
        },
        "suggestedChanges": {
          "documentation": "<p>List of the suggested configuration changes.</p>",
          "shape": "SuggestedChangesList"
        }
      },
      "required": [
        "name",
        "optimizationType",
        "referenceId"
      ],
      "type": "structure"
    },
    "ConfigRecommendationList": {
      "member": {
        "shape": "ConfigRecommendation"
      },
      "type": "list"
    },
    "ConfigRecommendationOptimizationType": {
      "enum": [
        "LeastCost",
        "LeastChange",
        "BestAZRecovery",
        "LeastErrors",
        "BestAttainable",
        "BestRegionRecovery"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String500"
        },
        "resourceId": {
          "documentation": "<p>The identifier of the resource that the exception applies to.</p>",
          "shape": "ResourceId"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that the exception applies to.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "Cost": {
      "documentation": "<p>Defines a cost object.</p>",
      "members": {
        "amount": {
          "documentation": "<p>The cost amount.</p>",
          "shape": "Double"
        },
        "currency": {
          "documentation": "<p>The cost currency, for example <code>USD</code>.</p>",
          "shape": "CurrencyCode"
        },
        "frequency": {
          "documentation": "<p>The cost frequency.</p>",
          "shape": "CostFrequency"
        }
      },
      "required": [
        "amount",
        "currency",
        "frequency"
      ],
      "type": "structure"
    },
    "CostFrequency": {
      "enum": [
        "Hourly",
        "Daily",
        "Monthly",
        "Yearly"
      ],
      "type": "string"
    },
    "CreateAppRequest": {
      "members": {
        "assessmentSchedule": {
          "documentation": "<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>",
          "shape": "AppAssessmentScheduleType"
        },
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The optional description for an app.</p>",
          "shape": "EntityDescription"
        },
        "name": {
          "documentation": "<p>The name for the application.</p>",
          "shape": "EntityName"
        },
        "policyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateAppResponse": {
      "members": {
        "app": {
          "documentation": "<p>The created application returned as an object with details including compliance status, creation time, description, resiliency score, and more.</p>",
          "shape": "App"
        }
      },
      "required": [
        "app"
      ],
      "type": "structure"
    },
    "CreateRecommendationTemplateRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "bucketName": {
          "documentation": "<p>The name of the Amazon S3 bucket that will contain the recommendation template.</p>",
          "shape": "EntityName"
        },
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "format": {
          "documentation": "<p>The format for the recommendation template.</p> <dl> <dt>CfnJson</dt> <dd> <p>The template is CloudFormation JSON.</p> </dd> <dt>CfnYaml</dt> <dd> <p>The template is CloudFormation YAML.</p> </dd> </dl>",
          "shape": "TemplateFormat"
        },
        "name": {
          "documentation": "<p>The name for the recommendation template.</p>",
          "shape": "EntityName"
        },
        "recommendationIds": {
          "documentation": "<p>Identifiers for the recommendations used to create a recommendation template.</p>",
          "shape": "RecommendationIdList"
        },
        "recommendationTypes": {
          "documentation": "<p>An array of strings that specify the recommendation template type or types.</p> <dl> <dt>Alarm</dt> <dd> <p>The template is an <a>AlarmRecommendation</a> template.</p> </dd> <dt>Sop</dt> <dd> <p>The template is a <a>SopRecommendation</a> template.</p> </dd> <dt>Test</dt> <dd> <p>The template is a <a>TestRecommendation</a> template.</p> </dd> </dl>",
          "shape": "RenderRecommendationTypeList"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "assessmentArn",
        "name"
      ],
      "type": "structure"
    },
    "CreateRecommendationTemplateResponse": {
      "members": {
        "recommendationTemplate": {
          "documentation": "<p>The newly created recommendation template, returned as an object. This object includes the template's name, format, status, tags, Amazon S3 bucket location, and more.</p>",
          "shape": "RecommendationTemplate"
        }
      },
      "type": "structure"
    },
    "CreateResiliencyPolicyRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "dataLocationConstraint": {
          "documentation": "<p>Specifies a high-level geographical location constraint for where your resilience policy data can be stored.</p>",
          "shape": "DataLocationConstraint"
        },
        "policy": {
          "documentation": "<p>The type of resiliency policy to be created, including the recovery time objective (RTO) and recovery point objective (RPO) in seconds.</p>",
          "shape": "DisruptionPolicy"
        },
        "policyDescription": {
          "documentation": "<p>The description for the policy.</p>",
          "shape": "EntityDescription"
        },
        "policyName": {
          "documentation": "<p>The name of the policy</p>",
          "shape": "EntityName"
        },
        "tags": {
          "documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>",
          "shape": "TagMap"
        },
        "tier": {
          "documentation": "<p>The tier for this resiliency policy, ranging from the highest severity (<code>MissionCritical</code>) to lowest (<code>NonCritical</code>).</p>",
          "shape": "ResiliencyPolicyTier"
        }
      },
      "required": [
        "policy",
        "policyName",
        "tier"
      ],
      "type": "structure"
    },
    "CreateResiliencyPolicyResponse": {
      "members": {
        "policy": {
          "documentation": "<p>The type of resiliency policy that was created, including the recovery time objective (RTO) and recovery point objective (RPO) in seconds.</p>",
          "shape": "ResiliencyPolicy"
        }
      },
      "required": [
        "policy"
      ],
      "type": "structure"
    },
    "CurrencyCode": {
      "max": 3,
      "min": 0,
      "type": "string"
    },
    "CustomerId": {
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "DataLocationConstraint": {
      "enum": [
        "AnyLocation",
        "SameContinent",
        "SameCountry"
      ],
      "type": "string"
    },
    "DeleteAppAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "DeleteAppAssessmentResponse": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "assessmentStatus": {
          "documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
          "shape": "AssessmentStatus"
        }
      },
      "required": [
        "assessmentArn",
        "assessmentStatus"
      ],
      "type": "structure"
    },
    "DeleteAppRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "forceDelete": {
          "documentation": "<p>A boolean option to force the deletion of a Resilience Hub application. </p>",
          "shape": "BooleanOptional"
        }
      },
      "required": [
        "appArn"
      ],
      "type": "structure"
    },
    "DeleteAppResponse": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "appArn"
      ],
      "type": "structure"
    },
    "DeleteRecommendationTemplateRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "recommendationTemplateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for a recommendation template.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "recommendationTemplateArn"
      ],
      "type": "structure"
    },
    "DeleteRecommendationTemplateResponse": {
      "members": {
        "recommendationTemplateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for a recommendation template.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the action.</p>",
          "shape": "RecommendationTemplateStatus"
        }
      },
      "required": [
        "recommendationTemplateArn",
        "status"
      ],
      "type": "structure"
    },
    "DeleteResiliencyPolicyRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "policyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "policyArn"
      ],
      "type": "structure"
    },
    "DeleteResiliencyPolicyResponse": {
      "members": {
        "policyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "policyArn"
      ],
      "type": "structure"
    },
    "DescribeAppAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "DescribeAppAssessmentResponse": {
      "members": {
        "assessment": {
          "documentation": "<p>The assessment for an AWS Resilience Hub application, returned as an object. This object includes Amazon Resource Names (ARNs), compliance information, compliance status, cost, messages, resiliency scores, and more.</p>",
          "shape": "AppAssessment"
        }
      },
      "required": [
        "assessment"
      ],
      "type": "structure"
    },
    "DescribeAppRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "appArn"
      ],
      "type": "structure"
    },
    "DescribeAppResponse": {
      "members": {
        "app": {
          "documentation": "<p>The specified application, returned as an object with details including compliance status, creation time, description, resiliency score, and more.</p>",
          "shape": "App"
        }
      },
      "required": [
        "app"
      ],
      "type": "structure"
    },
    "DescribeAppVersionResourcesResolutionStatusRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "resolutionId": {
          "documentation": "<p>The identifier for a specific resolution.</p>",
          "shape": "String255"
        }
      },
      "required": [
        "appArn",
        "appVersion"
      ],
      "type": "structure"
    },
    "DescribeAppVersionResourcesResolutionStatusResponse": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "errorMessage": {
          "documentation": "<p>The returned error message for the request.</p>",
          "shape": "String500"
        },
        "resolutionId": {
          "documentation": "<p>The identifier for a specific resolution.</p>",
          "shape": "String255"
        },
        "status": {
          "documentation": "<p>The status of the action.</p>",
          "shape": "ResourceResolutionStatusType"
        }
      },
      "required": [
        "appArn",
        "appVersion",
        "resolutionId",
        "status"
      ],
      "type": "structure"
    },
    "DescribeAppVersionTemplateRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        }
      },
      "required": [
        "appArn",
        "appVersion"
      ],
      "type": "structure"
    },
    "DescribeAppVersionTemplateResponse": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appTemplateBody": {
          "documentation": "<p>The body of the template.</p>",
          "shape": "AppTemplateBody"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        }
      },
      "required": [
        "appArn",
        "appTemplateBody",
        "appVersion"
      ],
      "type": "structure"
    },
    "DescribeDraftAppVersionResourcesImportStatusRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "appArn"
      ],
      "type": "structure"
    },
    "DescribeDraftAppVersionResourcesImportStatusResponse": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "errorMessage": {
          "documentation": "<p>The returned error message for the request.</p>",
          "shape": "String500"
        },
        "status": {
          "documentation": "<p>The status of the action.</p>",
          "shape": "ResourceImportStatusType"
        },
        "statusChangeTime": {
          "documentation": "<p>The timestamp for when the status last changed.</p>",
          "shape": "TimeStamp"
        }
      },
      "required": [
        "appArn",
        "appVersion",
        "status",
        "statusChangeTime"
      ],
      "type": "structure"
    },
    "DescribeResiliencyPolicyRequest": {
      "members": {
        "policyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "policyArn"
      ],
      "type": "structure"
    },
    "DescribeResiliencyPolicyResponse": {
      "members": {
        "policy": {
          "documentation": "<p>Information about the specific resiliency policy, returned as an object. This object includes creation time, data location constraints, its name, description, tags, the recovery time objective (RTO) and recovery point objective (RPO) in seconds, and more.</p>",
          "shape": "ResiliencyPolicy"
        }
      },
      "required": [
        "policy"
      ],
      "type": "structure"
    },
    "DisruptionCompliance": {
      "documentation": "<p>Defines the compliance against the resiliency policy for a disruption.</p>",
      "members": {
        "achievableRpoInSecs": {
          "documentation": "<p>The Recovery Point Objective (RPO) that is achievable, in seconds.</p>",
          "shape": "Seconds"
        },
        "achievableRtoInSecs": {
          "documentation": "<p>The Recovery Time Objective (RTO) that is achievable, in seconds</p>",
          "shape": "Seconds"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of compliance for the resiliency policy.</p>",
          "shape": "ComplianceStatus"
        },
        "currentRpoInSecs": {
          "documentation": "<p>The current RPO, in seconds.</p>",
          "shape": "Seconds"
        },
        "currentRtoInSecs": {
          "documentation": "<p>The current RTO, in seconds.</p>",
          "shape": "Seconds"
        },
        "message": {
          "documentation": "<p>The disruption compliance message.</p>",
          "shape": "String500"
        },
        "rpoDescription": {
          "documentation": "<p>The RPO description.</p>",
          "shape": "String500"
        },
        "rpoReferenceId": {
          "documentation": "<p>The RPO reference identifier.</p>",
          "shape": "String500"
        },
        "rtoDescription": {
          "documentation": "<p>The RTO description.</p>",
          "shape": "String500"
        },
        "rtoReferenceId": {
          "documentation": "<p>The RTO reference identifier.</p>",
          "shape": "String500"
        }
      },
      "required": [
        "complianceStatus"
      ],
      "type": "structure"
    },
    "DisruptionPolicy": {
      "key": {
        "shape": "DisruptionType"
      },
      "type": "map",
      "value": {
        "shape": "FailurePolicy"
      }
    },
    "DisruptionResiliencyScore": {
      "key": {
        "shape": "DisruptionType"
      },
      "type": "map",
      "value": {
        "shape": "Double"
      }
    },
    "DisruptionType": {
      "enum": [
        "Software",
        "Hardware",
        "AZ",
        "Region"
      ],
      "type": "string"
    },
    "DocumentName": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "Double": {
      "type": "double"
    },
    "EntityDescription": {
      "max": 500,
      "min": 0,
      "type": "string"
    },
    "EntityId": {
      "pattern": "^\\S{1,100}$",
      "type": "string"
    },
    "EntityName": {
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_\\-]{1,59}$",
      "type": "string"
    },
    "EntityNameList": {
      "member": {
        "shape": "EntityName"
      },
      "type": "list"
    },
    "EntityVersion": {
      "pattern": "^\\S{1,50}$",
      "type": "string"
    },
    "ErrorMessage": {
      "max": 500,
      "min": 0,
      "type": "string"
    },
    "EstimatedCostTier": {
      "enum": [
        "L1",
        "L2",
        "L3",
        "L4"
      ],
      "type": "string"
    },
    "FailurePolicy": {
      "documentation": "<p>Defines a failure policy.</p>",
      "members": {
        "rpoInSecs": {
          "documentation": "<p>The Recovery Point Objective (RPO), in seconds.</p>",
          "shape": "Seconds"
        },
        "rtoInSecs": {
          "documentation": "<p>The Recovery Time Objective (RTO), in seconds.</p>",
          "shape": "Seconds"
        }
      },
      "required": [
        "rpoInSecs",
        "rtoInSecs"
      ],
      "type": "structure"
    },
    "HaArchitecture": {
      "enum": [
        "MultiSite",
        "WarmStandby",
        "PilotLight",
        "BackupAndRestore",
        "NoRecoveryPlan"
      ],
      "type": "string"
    },
    "ImportResourcesToDraftAppVersionRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "sourceArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) for the resources that you want to import.</p>",
          "shape": "ArnList"
        },
        "terraformSources": {
          "documentation": "<p> A list of terraform file s3 URLs you need to import. </p>",
          "shape": "TerraformSourceList"
        }
      },
      "required": [
        "appArn"
      ],
      "type": "structure"
    },
    "ImportResourcesToDraftAppVersionResponse": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "sourceArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) for the resources that you imported.</p>",
          "shape": "ArnList"
        },
        "status": {
          "documentation": "<p>The status of the action.</p>",
          "shape": "ResourceImportStatusType"
        },
        "terraformSources": {
          "documentation": "<p> A list of terraform file s3 URLs you need to import. </p>",
          "shape": "TerraformSourceList"
        }
      },
      "required": [
        "appArn",
        "appVersion",
        "status"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>This exception occurs when there is an internal failure in the AWS Resilience Hub service.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String500"
        }
      },
      "type": "structure"
    },
    "ListAlarmRecommendationsRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Null, or the token from a previous call to get the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "ListAlarmRecommendationsResponse": {
      "members": {
        "alarmRecommendations": {
          "documentation": "<p>The alarm recommendations for an AWS Resilience Hub application, returned as an object. This object includes application component names, descriptions, information about whether a recommendation has already been implemented or not, prerequisites, and more.</p>",
          "shape": "AlarmRecommendationList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "alarmRecommendations"
      ],
      "type": "structure"
    },
    "ListAppAssessmentsRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "location": "querystring",
          "locationName": "appArn",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>The name for the assessment.</p>",
          "location": "querystring",
          "locationName": "assessmentName",
          "shape": "EntityName"
        },
        "assessmentStatus": {
          "documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
          "location": "querystring",
          "locationName": "assessmentStatus",
          "shape": "AssessmentStatusList"
        },
        "complianceStatus": {
          "documentation": "<p>The current status of compliance for the resiliency policy.</p>",
          "location": "querystring",
          "locationName": "complianceStatus",
          "shape": "ComplianceStatus"
        },
        "invoker": {
          "documentation": "<p>Specifies the entity that invoked a specific assessment, either a <code>User</code> or the <code>System</code>.</p>",
          "location": "querystring",
          "locationName": "invoker",
          "shape": "AssessmentInvoker"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Null, or the token from a previous call to get the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "reverseOrder": {
          "documentation": "<p>The default is to sort by ascending <b>startTime</b>. To sort by descending <b>startTime</b>, set reverseOrder to <code>true</code>.</p>",
          "location": "querystring",
          "locationName": "reverseOrder",
          "shape": "BooleanOptional"
        }
      },
      "type": "structure"
    },
    "ListAppAssessmentsResponse": {
      "members": {
        "assessmentSummaries": {
          "documentation": "<p>The summaries for the specified assessments, returned as an object. This object includes application versions, associated Amazon Resource Numbers (ARNs), cost, messages, resiliency scores, and more.</p>",
          "shape": "AppAssessmentSummaryList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "assessmentSummaries"
      ],
      "type": "structure"
    },
    "ListAppComponentCompliancesRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Null, or the token from a previous call to get the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "ListAppComponentCompliancesResponse": {
      "members": {
        "componentCompliances": {
          "documentation": "<p>The compliances for an AWS Resilience Hub application component, returned as an object. This object contains component names, compliances, costs, resiliency scores, outage scores, and more.</p>",
          "shape": "ComponentCompliancesList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "componentCompliances"
      ],
      "type": "structure"
    },
    "ListAppComponentRecommendationsRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Null, or the token from a previous call to get the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "ListAppComponentRecommendationsResponse": {
      "members": {
        "componentRecommendations": {
          "documentation": "<p>The recommendations for an Resilience Hub application component, returned as an object. This object contains component names, configuration recommendations, and recommendation statuses.</p>",
          "shape": "ComponentRecommendationList"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "componentRecommendations"
      ],
      "type": "structure"
    },
    "ListAppVersionResourceMappingsRequest": {
      "members": {
        "appArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "Arn"
        },
        "appVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "EntityVersion"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified <code>MaxResults</code> value, a token is included in the response so that the remaining results can be retrieved.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Null, or the token from a previous call to get the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "appArn",
        "appVersion"
      ],
      "type": "structure"
    },
    "ListAppVersionResourceMappingsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no more results.</p>",
          "shape": "NextToken"
        },
        "resourceMappings": {
[...]
