{
  "documentation": "<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from EC2 instances, CloudTrail, and other sources. You can then retrieve the associated log data from CloudWatch Logs using the CloudWatch console, CloudWatch Logs commands in the Amazon Web Services CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor logs from EC2 instances in real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold that you specify. CloudWatch Logs uses your log data for monitoring so no code changes are required. For example, you can monitor application logs for specific literal terms (such as \"NullReferenceException\") or count the number of occurrences of a literal term at a particular position in log data (such as \"404\" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor CloudTrail logged events</b>: You can create alarms in CloudWatch and receive notifications of particular API activity as captured by CloudTrail. You can use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive log data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2014-03-28",
    "endpointPrefix": "logs",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon CloudWatch Logs",
    "serviceId": "CloudWatch Logs",
    "signatureVersion": "v4",
    "targetPrefix": "Logs_20140328",
    "uid": "logs-2014-03-28"
  },
  "operations": {
    "AssociateKmsKey": {
      "documentation": "<p>Associates the specified Key Management Service customer master key (CMK) with the specified log group.</p> <p>Associating an KMS CMK with a log group overrides any existing associations between the log group and a CMK. After a CMK is associated with a log group, all newly ingested data for the log group is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within CloudWatch Logs. This enables CloudWatch Logs to decrypt this data whenever it is requested.</p> <important> <p>CloudWatch Logs supports only symmetric CMKs. Do not use an associate an asymmetric CMK with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p> </important> <p>It can take up to 5 minutes for this operation to take effect.</p> <p>If you attempt to associate a CMK with a log group but the CMK does not exist or the CMK is disabled, you receive an <code>InvalidParameterException</code> error. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateKmsKeyRequest"
      },
      "name": "AssociateKmsKey"
    },
    "CancelExportTask": {
      "documentation": "<p>Cancels the specified export task.</p> <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelExportTaskRequest"
      },
      "name": "CancelExportTask"
    },
    "CreateExportTask": {
      "documentation": "<p>Creates an export task, which allows you to efficiently export data from a log group to an Amazon S3 bucket. When you perform a <code>CreateExportTask</code> operation, you must use credentials that have permission to write to the S3 bucket that you specify as the destination.</p> <p>This is an asynchronous call. If all the required information is provided, this operation initiates an export task and responds with the ID of the task. After the task has started, you can use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeExportTasks.html\">DescribeExportTasks</a> to get the status of the export task. Each account can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To cancel an export task, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CancelExportTask.html\">CancelExportTask</a>.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same S3 bucket. To separate out log data for each export task, you can specify a prefix to be used as the Amazon S3 key prefix for all exported objects.</p> <p>Exporting to S3 buckets that are encrypted with AES-256 is supported. Exporting to S3 buckets encrypted with SSE-KMS is not supported. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExportTaskRequest"
      },
      "name": "CreateExportTask",
      "output": {
        "shape": "CreateExportTaskResponse"
      }
    },
    "CreateLogGroup": {
      "documentation": "<p>Creates a log group with the specified name. You can create up to 20,000 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names must be unique within a region for an Amazon Web Services account.</p> </li> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), '.' (period), and '#' (number sign)</p> </li> </ul> <p>When you create a log group, by default the log events in the log group never expire. To set a retention policy so that events expire and are deleted after a specified time, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html\">PutRetentionPolicy</a>.</p> <p>If you associate a Key Management Service customer master key (CMK) with the log group, ingested data is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within CloudWatch Logs. This enables CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>If you attempt to associate a CMK with the log group but the CMK does not exist or the CMK is disabled, you receive an <code>InvalidParameterException</code> error. </p> <important> <p>CloudWatch Logs supports only symmetric CMKs. Do not associate an asymmetric CMK with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLogGroupRequest"
      },
      "name": "CreateLogGroup"
    },
    "CreateLogStream": {
      "documentation": "<p>Creates a log stream for the specified log group. A log stream is a sequence of log events that originate from a single source, such as an application instance or a resource that is being monitored.</p> <p>There is no limit on the number of log streams that you can create for a log group. There is a limit of 50 TPS on <code>CreateLogStream</code> operations, after which transactions are throttled.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names must be unique within the log group.</p> </li> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The ':' (colon) and '*' (asterisk) characters are not allowed.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLogStreamRequest"
      },
      "name": "CreateLogStream"
    },
    "DeleteDestination": {
      "documentation": "<p>Deletes the specified destination, and eventually disables all the subscription filters that publish to it. This operation does not delete the physical resource encapsulated by the destination.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDestinationRequest"
      },
      "name": "DeleteDestination"
    },
    "DeleteLogGroup": {
      "documentation": "<p>Deletes the specified log group and permanently deletes all the archived log events associated with the log group.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLogGroupRequest"
      },
      "name": "DeleteLogGroup"
    },
    "DeleteLogStream": {
      "documentation": "<p>Deletes the specified log stream and permanently deletes all the archived log events associated with the log stream.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLogStreamRequest"
      },
      "name": "DeleteLogStream"
    },
    "DeleteMetricFilter": {
      "documentation": "<p>Deletes the specified metric filter.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMetricFilterRequest"
      },
      "name": "DeleteMetricFilter"
    },
    "DeleteQueryDefinition": {
      "documentation": "<p>Deletes a saved CloudWatch Logs Insights query definition. A query definition contains details about a saved CloudWatch Logs Insights query.</p> <p>Each <code>DeleteQueryDefinition</code> operation can delete one query definition.</p> <p>You must have the <code>logs:DeleteQueryDefinition</code> permission to be able to perform this operation.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteQueryDefinitionRequest"
      },
      "name": "DeleteQueryDefinition",
      "output": {
        "shape": "DeleteQueryDefinitionResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a resource policy from this account. This revokes the access of the identities in that policy to put log events to this account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy"
    },
    "DeleteRetentionPolicy": {
      "documentation": "<p>Deletes the specified retention policy.</p> <p>Log events do not expire if they belong to log groups without a retention policy.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRetentionPolicyRequest"
      },
      "name": "DeleteRetentionPolicy"
    },
    "DeleteSubscriptionFilter": {
      "documentation": "<p>Deletes the specified subscription filter.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSubscriptionFilterRequest"
      },
      "name": "DeleteSubscriptionFilter"
    },
    "DescribeDestinations": {
      "documentation": "<p>Lists all your destinations. The results are ASCII-sorted by destination name.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDestinationsRequest"
      },
      "name": "DescribeDestinations",
      "output": {
        "shape": "DescribeDestinationsResponse"
      }
    },
    "DescribeExportTasks": {
      "documentation": "<p>Lists the specified export tasks. You can list all your export tasks or filter the results based on task ID or task status.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExportTasksRequest"
      },
      "name": "DescribeExportTasks",
      "output": {
        "shape": "DescribeExportTasksResponse"
      }
    },
    "DescribeLogGroups": {
      "documentation": "<p>Lists the specified log groups. You can list all your log groups or filter the results by prefix. The results are ASCII-sorted by log group name.</p> <p>CloudWatch Logs doesn\u2019t support IAM policies that control access to the <code>DescribeLogGroups</code> action by using the <code>aws:ResourceTag/<i>key-name</i> </code> condition key. Other CloudWatch Logs actions do support the use of the <code>aws:ResourceTag/<i>key-name</i> </code> condition key to control access. For more information about using tags to control access, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Controlling access to Amazon Web Services resources using tags</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLogGroupsRequest"
      },
      "name": "DescribeLogGroups",
      "output": {
        "shape": "DescribeLogGroupsResponse"
      }
    },
    "DescribeLogStreams": {
      "documentation": "<p>Lists the log streams for the specified log group. You can list all the log streams or filter the results by prefix. You can also control how the results are ordered.</p> <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLogStreamsRequest"
      },
      "name": "DescribeLogStreams",
      "output": {
        "shape": "DescribeLogStreamsResponse"
      }
    },
    "DescribeMetricFilters": {
      "documentation": "<p>Lists the specified metric filters. You can list all of the metric filters or filter the results by log name, prefix, metric name, or metric namespace. The results are ASCII-sorted by filter name.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMetricFiltersRequest"
      },
      "name": "DescribeMetricFilters",
      "output": {
        "shape": "DescribeMetricFiltersResponse"
      }
    },
    "DescribeQueries": {
      "documentation": "<p>Returns a list of CloudWatch Logs Insights queries that are scheduled, executing, or have been executed recently in this account. You can request all queries or limit it to queries of a specific log group or queries with a certain status.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQueriesRequest"
      },
      "name": "DescribeQueries",
      "output": {
        "shape": "DescribeQueriesResponse"
      }
    },
    "DescribeQueryDefinitions": {
      "documentation": "<p>This operation returns a paginated list of your saved CloudWatch Logs Insights query definitions.</p> <p>You can use the <code>queryDefinitionNamePrefix</code> parameter to limit the results to only the query definitions that have names that start with a certain string.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQueryDefinitionsRequest"
      },
      "name": "DescribeQueryDefinitions",
      "output": {
        "shape": "DescribeQueryDefinitionsResponse"
      }
    },
    "DescribeResourcePolicies": {
      "documentation": "<p>Lists the resource policies in this account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourcePoliciesRequest"
      },
      "name": "DescribeResourcePolicies",
      "output": {
        "shape": "DescribeResourcePoliciesResponse"
      }
    },
    "DescribeSubscriptionFilters": {
      "documentation": "<p>Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix. The results are ASCII-sorted by filter name.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSubscriptionFiltersRequest"
      },
      "name": "DescribeSubscriptionFilters",
      "output": {
        "shape": "DescribeSubscriptionFiltersResponse"
      }
    },
    "DisassociateKmsKey": {
      "documentation": "<p>Disassociates the associated Key Management Service customer master key (CMK) from the specified log group.</p> <p>After the KMS CMK is disassociated from the log group, CloudWatch Logs stops encrypting newly ingested data for the log group. All previously ingested data remains encrypted, and CloudWatch Logs requires permissions for the CMK whenever the encrypted data is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateKmsKeyRequest"
      },
      "name": "DisassociateKmsKey"
    },
    "FilterLogEvents": {
      "documentation": "<p>Lists log events from the specified log group. You can list all the log events or filter the results using a filter pattern, a time range, and the name of the log stream.</p> <p>By default, this operation returns as many log events as can fit in 1 MB (up to 10,000 log events) or all the events found within the time range that you specify. If the results include a token, then there are more log events available, and you can get additional results by specifying the token in a subsequent call. This operation can return empty results while there are more log events available through the token.</p> <p>The returned log events are sorted by event timestamp, the timestamp when the event was ingested by CloudWatch Logs, and the ID of the <code>PutLogEvents</code> request.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "FilterLogEventsRequest"
      },
      "name": "FilterLogEvents",
      "output": {
        "shape": "FilterLogEventsResponse"
      }
    },
    "GetLogEvents": {
      "documentation": "<p>Lists log events from the specified log stream. You can list all of the log events or filter using a time range.</p> <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). You can get additional log events by specifying one of the tokens in a subsequent call. This operation can return empty results while there are more log events available through the token.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLogEventsRequest"
      },
      "name": "GetLogEvents",
      "output": {
        "shape": "GetLogEventsResponse"
      }
    },
    "GetLogGroupFields": {
      "documentation": "<p>Returns a list of the fields that are included in log events in the specified log group, along with the percentage of log events that contain each field. The search is limited to a time period that you specify.</p> <p>In the results, fields that start with @ are fields generated by CloudWatch Logs. For example, <code>@timestamp</code> is the timestamp of each log event. For more information about the fields that are generated by CloudWatch logs, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_AnalyzeLogData-discoverable-fields.html\">Supported Logs and Discovered Fields</a>.</p> <p>The response results are sorted by the frequency percentage, starting with the highest percentage.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLogGroupFieldsRequest"
      },
      "name": "GetLogGroupFields",
      "output": {
        "shape": "GetLogGroupFieldsResponse"
      }
    },
    "GetLogRecord": {
      "documentation": "<p>Retrieves all of the fields and values of a single log event. All fields are retrieved, even if the original query that produced the <code>logRecordPointer</code> retrieved only a subset of fields. Fields are returned as field name/field value pairs.</p> <p>The full unparsed log event is returned within <code>@message</code>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLogRecordRequest"
      },
      "name": "GetLogRecord",
      "output": {
        "shape": "GetLogRecordResponse"
      }
    },
    "GetQueryResults": {
      "documentation": "<p>Returns the results from the specified query.</p> <p>Only the fields requested in the query are returned, along with a <code>@ptr</code> field, which is the identifier for the log record. You can use the value of <code>@ptr</code> in a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_GetLogRecord.html\">GetLogRecord</a> operation to get the full log record.</p> <p> <code>GetQueryResults</code> does not start a query execution. To run a query, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_StartQuery.html\">StartQuery</a>.</p> <p>If the value of the <code>Status</code> field in the output is <code>Running</code>, this operation returns only partial results. If you see a value of <code>Scheduled</code> or <code>Running</code> for the status, you can retry the operation later to see the final results. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQueryResultsRequest"
      },
      "name": "GetQueryResults",
      "output": {
        "shape": "GetQueryResultsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Displays the tags associated with a CloudWatch Logs resource. Currently, log groups and destinations support tagging.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTagsLogGroup": {
      "deprecated": true,
      "deprecatedMessage": "Please use the generic tagging API ListTagsForResource",
      "documentation": "<important> <p>The ListTagsLogGroup operation is on the path to deprecation. We recommend that you use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a> instead.</p> </important> <p>Lists the tags for the specified log group.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsLogGroupRequest"
      },
      "name": "ListTagsLogGroup",
      "output": {
        "shape": "ListTagsLogGroupResponse"
      }
    },
    "PutDestination": {
      "documentation": "<p>Creates or updates a destination. This operation is used only to create destinations for cross-account subscriptions.</p> <p>A destination encapsulates a physical resource (such as an Amazon Kinesis stream) and enables you to subscribe to a real-time stream of log events for a different account, ingested using <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html\">PutLogEvents</a>.</p> <p>Through an access policy, a destination controls what is written to it. By default, <code>PutDestination</code> does not set any access policy with the destination, which means a cross-account user cannot call <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutSubscriptionFilter.html\">PutSubscriptionFilter</a> against this destination. To enable this, the destination owner must call <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDestinationPolicy.html\">PutDestinationPolicy</a> after <code>PutDestination</code>.</p> <p>To perform a <code>PutDestination</code> operation, you must also have the <code>iam:PassRole</code> permission.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDestinationRequest"
      },
      "name": "PutDestination",
      "output": {
        "shape": "PutDestinationResponse"
      }
    },
    "PutDestinationPolicy": {
      "documentation": "<p>Creates or updates an access policy associated with an existing destination. An access policy is an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html\">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.</p> <p>If multiple Amazon Web Services accounts are sending logs to this destination, each sender account must be listed separately in the policy. The policy does not support specifying <code>*</code> as the Principal or the use of the <code>aws:PrincipalOrgId</code> global key.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDestinationPolicyRequest"
      },
      "name": "PutDestinationPolicy"
    },
    "PutLogEvents": {
      "documentation": "<p>Uploads a batch of log events to the specified log stream.</p> <p>You must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. You can also get the sequence token in the <code>expectedSequenceToken</code> field from <code>InvalidSequenceTokenException</code>. If you call <code>PutLogEvents</code> twice within a narrow time period using the same value for <code>sequenceToken</code>, both calls might be successful or one might be rejected.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes. This size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or older than the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological order by their timestamp. The timestamp is the time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. (In Amazon Web Services Tools for PowerShell and the Amazon Web Services SDK for .NET, the timestamp is specified in .NET format: yyyy-mm-ddThh:mm:ss. For example, 2017-09-15T13:45:30.) </p> </li> <li> <p>A batch of log events in a single request cannot span more than 24 hours. Otherwise, the operation fails.</p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>There is a quota of 5 requests per second per log stream. Additional requests are throttled. This quota can't be changed.</p> </li> </ul> <p>If a call to <code>PutLogEvents</code> returns \"UnrecognizedClientException\" the most likely cause is an invalid Amazon Web Services access key ID or secret key. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidSequenceTokenException"
        },
        {
          "shape": "DataAlreadyAcceptedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnrecognizedClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLogEventsRequest"
      },
      "name": "PutLogEvents",
      "output": {
        "shape": "PutLogEventsResponse"
      }
    },
    "PutMetricFilter": {
      "documentation": "<p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html\">PutLogEvents</a>.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p> <p>When you create a metric filter, you can also optionally assign a unit and dimensions to the metric that is created.</p> <important> <p>Metrics extracted from log events are charged as custom metrics. To prevent unexpected high charges, do not specify high-cardinality fields such as <code>IPAddress</code> or <code>requestID</code> as dimensions. Each different value found for a dimension is treated as a separate metric and accrues charges as a separate custom metric. </p> <p>To help prevent accidental high charges, Amazon disables a metric filter if it generates 1000 different name/value pairs for the dimensions that you have specified within a certain amount of time.</p> <p>You can also set up a billing alarm to alert you if your charges are higher than expected. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/monitor_estimated_charges_with_cloudwatch.html\"> Creating a Billing Alarm to Monitor Your Estimated Amazon Web Services Charges</a>. </p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutMetricFilterRequest"
      },
      "name": "PutMetricFilter"
    },
    "PutQueryDefinition": {
      "documentation": "<p>Creates or updates a query definition for CloudWatch Logs Insights. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AnalyzingLogData.html\">Analyzing Log Data with CloudWatch Logs Insights</a>.</p> <p>To update a query definition, specify its <code>queryDefinitionId</code> in your request. The values of <code>name</code>, <code>queryString</code>, and <code>logGroupNames</code> are changed to the values that you specify in your update operation. No current values are retained from the current query definition. For example, if you update a current query definition that includes log groups, and you don't specify the <code>logGroupNames</code> parameter in your update operation, the query definition changes to contain no log groups.</p> <p>You must have the <code>logs:PutQueryDefinition</code> permission to be able to perform this operation.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutQueryDefinitionRequest"
      },
      "name": "PutQueryDefinition",
      "output": {
        "shape": "PutQueryDefinitionResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Creates or updates a resource policy allowing other Amazon Web Services services to put log events to this account, such as Amazon Route 53. An account can have up to 10 resource policies per Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "PutRetentionPolicy": {
      "documentation": "<p>Sets the retention of the specified log group. A retention policy allows you to configure the number of days for which to retain log events in the specified log group.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRetentionPolicyRequest"
      },
      "name": "PutRetentionPolicy"
    },
    "PutSubscriptionFilter": {
      "documentation": "<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html\">PutLogEvents</a> and have them delivered to a specific destination. When log events are sent to the receiving service, they are Base64 encoded and compressed with the gzip format.</p> <p>The following destinations are supported for subscription filters:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A logical destination that belongs to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose delivery stream that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An Lambda function that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>Each log group can have up to two subscription filters associated with it. If you are updating an existing filter, you must specify the correct name in <code>filterName</code>. </p> <p>To perform a <code>PutSubscriptionFilter</code> operation, you must also have the <code>iam:PassRole</code> permission.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationAbortedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutSubscriptionFilterRequest"
      },
      "name": "PutSubscriptionFilter"
    },
    "StartQuery": {
      "documentation": "<p>Schedules a query of a log group using CloudWatch Logs Insights. You specify the log group and time range to query and the query string to use.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html\">CloudWatch Logs Insights Query Syntax</a>.</p> <p>Queries time out after 15 minutes of execution. If your queries are timing out, reduce the time range being searched or partition your query into a number of queries.</p>",
      "errors": [
        {
          "shape": "MalformedQueryException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartQueryRequest"
      },
      "name": "StartQuery",
      "output": {
        "shape": "StartQueryResponse"
      }
    },
    "StopQuery": {
      "documentation": "<p>Stops a CloudWatch Logs Insights query that is in progress. If the query has already ended, the operation returns an error indicating that the specified query is not running.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopQueryRequest"
      },
      "name": "StopQuery",
      "output": {
        "shape": "StopQueryResponse"
      }
    },
    "TagLogGroup": {
      "deprecated": true,
      "deprecatedMessage": "Please use the generic tagging API TagResource",
      "documentation": "<important> <p>The TagLogGroup operation is on the path to deprecation. We recommend that you use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_TagResource.html\">TagResource</a> instead.</p> </important> <p>Adds or updates the specified tags for the specified log group.</p> <p>To list the tags for a log group, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a>. To remove tags, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UntagResource.html\">UntagResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html#log-group-tagging\">Tag Log Groups in Amazon CloudWatch Logs</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p> <p>CloudWatch Logs doesn\u2019t support IAM policies that prevent users from assigning specified tags to log groups using the <code>aws:Resource/<i>key-name</i> </code> or <code>aws:TagKeys</code> condition keys. For more information about using tags to control access, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Controlling access to Amazon Web Services resources using tags</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagLogGroupRequest"
      },
      "name": "TagLogGroup"
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch Logs resource. Currently, the only CloudWatch Logs resources that can be tagged are log groups and destinations. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the alarm, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the alarm, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a CloudWatch Logs resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "TestMetricFilter": {
      "documentation": "<p>Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestMetricFilterRequest"
      },
      "name": "TestMetricFilter",
      "output": {
        "shape": "TestMetricFilterResponse"
      }
    },
    "UntagLogGroup": {
      "deprecated": true,
      "deprecatedMessage": "Please use the generic tagging API UntagResource",
      "documentation": "<important> <p>The UntagLogGroup operation is on the path to deprecation. We recommend that you use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UntagResource.html\">UntagResource</a> instead.</p> </important> <p>Removes the specified tags from the specified log group.</p> <p>To list the tags for a log group, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a>. To add tags, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_TagResource.html\">TagResource</a>.</p> <p>CloudWatch Logs doesn\u2019t support IAM policies that prevent users from assigning specified tags to log groups using the <code>aws:Resource/<i>key-name</i> </code> or <code>aws:TagKeys</code> condition keys. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagLogGroupRequest"
      },
      "name": "UntagLogGroup"
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    }
  },
  "shapes": {
    "AccessPolicy": {
      "min": 1,
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "pattern": "[\\w+=/:,.@-]*",
      "type": "string"
    },
    "Arn": {
      "type": "string"
    },
    "AssociateKmsKeyRequest": {
      "members": {
        "kmsKeyId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. This must be a symmetric CMK. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - Key Management Service</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p>",
          "shape": "KmsKeyId"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName",
        "kmsKeyId"
      ],
      "type": "structure"
    },
    "CancelExportTaskRequest": {
      "members": {
        "taskId": {
          "documentation": "<p>The ID of the export task.</p>",
          "shape": "ExportTaskId"
        }
      },
      "required": [
        "taskId"
      ],
      "type": "structure"
    },
    "CreateExportTaskRequest": {
      "members": {
        "destination": {
          "documentation": "<p>The name of S3 bucket for the exported log data. The bucket must be in the same Amazon Web Services region.</p>",
          "shape": "ExportDestinationBucket"
        },
        "destinationPrefix": {
          "documentation": "<p>The prefix used as the start of the key for every object exported. If you don't specify a value, the default is <code>exportedlogs</code>.</p>",
          "shape": "ExportDestinationPrefix"
        },
        "from": {
          "documentation": "<p>The start time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.</p>",
          "shape": "Timestamp"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "logStreamNamePrefix": {
          "documentation": "<p>Export only log streams that match the provided prefix. If you don't specify a value, no prefix filter is applied.</p>",
          "shape": "LogStreamName"
        },
        "taskName": {
          "documentation": "<p>The name of the export task.</p>",
          "shape": "ExportTaskName"
        },
        "to": {
          "documentation": "<p>The end time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "logGroupName",
        "from",
        "to",
        "destination"
      ],
      "type": "structure"
    },
    "CreateExportTaskResponse": {
      "members": {
        "taskId": {
          "documentation": "<p>The ID of the export task.</p>",
          "shape": "ExportTaskId"
        }
      },
      "type": "structure"
    },
    "CreateLogGroupRequest": {
      "members": {
        "kmsKeyId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - Key Management Service</a>.</p>",
          "shape": "KmsKeyId"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "tags": {
          "documentation": "<p>The key-value pairs to use for the tags.</p> <p>CloudWatch Logs doesn\u2019t support IAM policies that prevent users from assigning specified tags to log groups using the <code>aws:Resource/<i>key-name</i> </code> or <code>aws:TagKeys</code> condition keys. For more information about using tags to control access, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Controlling access to Amazon Web Services resources using tags</a>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "CreateLogStreamRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "logStreamName": {
          "documentation": "<p>The name of the log stream.</p>",
          "shape": "LogStreamName"
        }
      },
      "required": [
        "logGroupName",
        "logStreamName"
      ],
      "type": "structure"
    },
    "DataAlreadyAcceptedException": {
      "documentation": "<p>The event was already logged.</p>",
      "exception": true,
      "members": {
        "expectedSequenceToken": {
          "shape": "SequenceToken"
        }
      },
      "type": "structure"
    },
    "Days": {
      "documentation": "<p>The number of days to retain the log events in the specified log group. Possible values are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, and 3653.</p> <p>To set a log group to never have log events expire, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DeleteRetentionPolicy.html\">DeleteRetentionPolicy</a>. </p>",
      "type": "integer"
    },
    "DefaultValue": {
      "type": "double"
    },
    "DeleteDestinationRequest": {
      "members": {
        "destinationName": {
          "documentation": "<p>The name of the destination.</p>",
          "shape": "DestinationName"
        }
      },
      "required": [
        "destinationName"
      ],
      "type": "structure"
    },
    "DeleteLogGroupRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "DeleteLogStreamRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "logStreamName": {
          "documentation": "<p>The name of the log stream.</p>",
          "shape": "LogStreamName"
        }
      },
      "required": [
        "logGroupName",
        "logStreamName"
      ],
      "type": "structure"
    },
    "DeleteMetricFilterRequest": {
      "members": {
        "filterName": {
          "documentation": "<p>The name of the metric filter.</p>",
          "shape": "FilterName"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName",
        "filterName"
      ],
      "type": "structure"
    },
    "DeleteQueryDefinitionRequest": {
      "members": {
        "queryDefinitionId": {
          "documentation": "<p>The ID of the query definition that you want to delete. You can use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeQueryDefinitions.html\">DescribeQueryDefinitions</a> to retrieve the IDs of your saved query definitions.</p>",
          "shape": "QueryId"
        }
      },
      "required": [
        "queryDefinitionId"
      ],
      "type": "structure"
    },
    "DeleteQueryDefinitionResponse": {
      "members": {
        "success": {
          "documentation": "<p>A value of TRUE indicates that the operation succeeded. FALSE indicates that the operation failed.</p>",
          "shape": "Success"
        }
      },
      "type": "structure"
    },
    "DeleteResourcePolicyRequest": {
      "members": {
        "policyName": {
          "documentation": "<p>The name of the policy to be revoked. This parameter is required.</p>",
          "shape": "PolicyName"
        }
      },
      "type": "structure"
    },
    "DeleteRetentionPolicyRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "DeleteSubscriptionFilterRequest": {
      "members": {
        "filterName": {
          "documentation": "<p>The name of the subscription filter.</p>",
          "shape": "FilterName"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName",
        "filterName"
      ],
      "type": "structure"
    },
    "Descending": {
      "type": "boolean"
    },
    "DescribeDestinationsRequest": {
      "members": {
        "DestinationNamePrefix": {
          "documentation": "<p>The prefix to match. If you don't specify a value, no prefix filter is applied.</p>",
          "shape": "DestinationName"
        },
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeDestinationsResponse": {
      "members": {
        "destinations": {
          "documentation": "<p>The destinations.</p>",
          "shape": "Destinations"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeExportTasksRequest": {
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        },
        "statusCode": {
          "documentation": "<p>The status code of the export task. Specifying a status code filters the results to zero or more export tasks.</p>",
          "shape": "ExportTaskStatusCode"
        },
        "taskId": {
          "documentation": "<p>The ID of the export task. Specifying a task ID filters the results to zero or one export tasks.</p>",
          "shape": "ExportTaskId"
        }
      },
      "type": "structure"
    },
    "DescribeExportTasksResponse": {
      "members": {
        "exportTasks": {
          "documentation": "<p>The export tasks.</p>",
          "shape": "ExportTasks"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeLimit": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "DescribeLogGroupsRequest": {
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "logGroupNamePrefix": {
          "documentation": "<p>The prefix to match.</p>",
          "shape": "LogGroupName"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeLogGroupsResponse": {
      "members": {
        "logGroups": {
          "documentation": "<p>The log groups.</p> <p>If the <code>retentionInDays</code> value is not included for a log group, then that log group is set to have its events never expire.</p>",
          "shape": "LogGroups"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeLogStreamsRequest": {
      "members": {
        "descending": {
          "documentation": "<p>If the value is true, results are returned in descending order. If the value is to false, results are returned in ascending order. The default value is false.</p>",
          "shape": "Descending"
        },
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "logStreamNamePrefix": {
          "documentation": "<p>The prefix to match.</p> <p>If <code>orderBy</code> is <code>LastEventTime</code>, you cannot specify this parameter.</p>",
          "shape": "LogStreamName"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        },
        "orderBy": {
          "documentation": "<p>If the value is <code>LogStreamName</code>, the results are ordered by log stream name. If the value is <code>LastEventTime</code>, the results are ordered by the event time. The default value is <code>LogStreamName</code>.</p> <p>If you order the results by event time, you cannot specify the <code>logStreamNamePrefix</code> parameter.</p> <p> <code>lastEventTimestamp</code> represents the time of the most recent log event in the log stream in CloudWatch Logs. This number is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. <code>lastEventTimestamp</code> updates on an eventual consistency basis. It typically updates in less than an hour from ingestion, but in rare situations might take longer.</p>",
          "shape": "OrderBy"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "DescribeLogStreamsResponse": {
      "members": {
        "logStreams": {
          "documentation": "<p>The log streams.</p>",
          "shape": "LogStreams"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeMetricFiltersRequest": {
      "members": {
        "filterNamePrefix": {
          "documentation": "<p>The prefix to match. CloudWatch Logs uses the value you set here only if you also include the <code>logGroupName</code> parameter in your request.</p>",
          "shape": "FilterName"
        },
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "metricName": {
          "documentation": "<p>Filters results to include only those with the specified metric name. If you include this parameter in your request, you must also include the <code>metricNamespace</code> parameter.</p>",
          "shape": "MetricName"
        },
        "metricNamespace": {
          "documentation": "<p>Filters results to include only those in the specified namespace. If you include this parameter in your request, you must also include the <code>metricName</code> parameter.</p>",
          "shape": "MetricNamespace"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeMetricFiltersResponse": {
      "members": {
        "metricFilters": {
          "documentation": "<p>The metric filters.</p>",
          "shape": "MetricFilters"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeQueriesMaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "DescribeQueriesRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>Limits the returned queries to only those for the specified log group.</p>",
          "shape": "LogGroupName"
        },
        "maxResults": {
          "documentation": "<p>Limits the number of returned queries to the specified number.</p>",
          "shape": "DescribeQueriesMaxResults"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "status": {
          "documentation": "<p>Limits the returned queries to only those that have the specified status. Valid values are <code>Cancelled</code>, <code>Complete</code>, <code>Failed</code>, <code>Running</code>, and <code>Scheduled</code>.</p>",
          "shape": "QueryStatus"
        }
      },
      "type": "structure"
    },
    "DescribeQueriesResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "queries": {
          "documentation": "<p>The list of queries that match the request.</p>",
          "shape": "QueryInfoList"
        }
      },
      "type": "structure"
    },
    "DescribeQueryDefinitionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Limits the number of returned query definitions to the specified number.</p>",
          "shape": "QueryListMaxResults"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "queryDefinitionNamePrefix": {
          "documentation": "<p>Use this parameter to filter your results to only the query definitions that have names that start with the prefix you specify.</p>",
          "shape": "QueryDefinitionName"
        }
      },
      "type": "structure"
    },
    "DescribeQueryDefinitionsResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "queryDefinitions": {
          "documentation": "<p>The list of query definitions that match your request.</p>",
          "shape": "QueryDefinitionList"
        }
      },
      "type": "structure"
    },
    "DescribeResourcePoliciesRequest": {
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of resource policies to be displayed with one call of this API.</p>",
          "shape": "DescribeLimit"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeResourcePoliciesResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "resourcePolicies": {
          "documentation": "<p>The resource policies that exist in this account.</p>",
          "shape": "ResourcePolicies"
        }
      },
      "type": "structure"
    },
    "DescribeSubscriptionFiltersRequest": {
      "members": {
        "filterNamePrefix": {
          "documentation": "<p>The prefix to match. If you don't specify a value, no prefix filter is applied.</p>",
          "shape": "FilterName"
        },
        "limit": {
          "documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>",
          "shape": "DescribeLimit"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "DescribeSubscriptionFiltersResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "subscriptionFilters": {
          "documentation": "<p>The subscription filters.</p>",
          "shape": "SubscriptionFilters"
        }
      },
      "type": "structure"
    },
    "Destination": {
      "documentation": "<p>Represents a cross-account destination that receives subscription log events.</p>",
      "members": {
        "accessPolicy": {
          "documentation": "<p>An IAM policy document that governs which Amazon Web Services accounts can create subscription filters against this destination.</p>",
          "shape": "AccessPolicy"
        },
        "arn": {
          "documentation": "<p>The ARN of this destination.</p>",
          "shape": "Arn"
        },
        "creationTime": {
          "documentation": "<p>The creation time of the destination, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "destinationName": {
          "documentation": "<p>The name of the destination.</p>",
          "shape": "DestinationName"
        },
        "roleArn": {
          "documentation": "<p>A role for impersonation, used when delivering log events to the target.</p>",
          "shape": "RoleArn"
        },
        "targetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the physical target where the log events are delivered (for example, a Kinesis stream).</p>",
          "shape": "TargetArn"
        }
      },
      "type": "structure"
    },
    "DestinationArn": {
      "min": 1,
      "type": "string"
    },
    "DestinationName": {
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*",
      "type": "string"
    },
    "Destinations": {
      "member": {
        "shape": "Destination"
      },
      "type": "list"
    },
    "Dimensions": {
      "key": {
        "shape": "DimensionsKey"
      },
      "type": "map",
      "value": {
        "shape": "DimensionsValue"
      }
    },
    "DimensionsKey": {
      "max": 255,
      "type": "string"
    },
    "DimensionsValue": {
      "max": 255,
      "type": "string"
    },
    "DisassociateKmsKeyRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "Distribution": {
      "documentation": "<p>The method used to distribute log data to the destination, which can be either random or grouped by log stream.</p>",
      "enum": [
        "Random",
        "ByLogStream"
      ],
      "type": "string"
    },
    "EventId": {
      "type": "string"
    },
    "EventMessage": {
      "min": 1,
      "type": "string"
    },
    "EventNumber": {
      "type": "long"
    },
    "EventsLimit": {
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "ExportDestinationBucket": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ExportDestinationPrefix": {
      "type": "string"
    },
    "ExportTask": {
      "documentation": "<p>Represents an export task.</p>",
      "members": {
        "destination": {
          "documentation": "<p>The name of the S3 bucket to which the log data was exported.</p>",
          "shape": "ExportDestinationBucket"
        },
        "destinationPrefix": {
          "documentation": "<p>The prefix that was used as the start of Amazon S3 key for every object exported.</p>",
          "shape": "ExportDestinationPrefix"
        },
        "executionInfo": {
          "documentation": "<p>Execution information about the export task.</p>",
          "shape": "ExportTaskExecutionInfo"
        },
        "from": {
          "documentation": "<p>The start time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp before this time are not exported.</p>",
          "shape": "Timestamp"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group from which logs data was exported.</p>",
          "shape": "LogGroupName"
        },
        "status": {
          "documentation": "<p>The status of the export task.</p>",
          "shape": "ExportTaskStatus"
        },
        "taskId": {
          "documentation": "<p>The ID of the export task.</p>",
          "shape": "ExportTaskId"
        },
        "taskName": {
          "documentation": "<p>The name of the export task.</p>",
          "shape": "ExportTaskName"
        },
        "to": {
          "documentation": "<p>The end time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ExportTaskExecutionInfo": {
      "documentation": "<p>Represents the status of an export task.</p>",
      "members": {
        "completionTime": {
          "documentation": "<p>The completion time of the export task, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "creationTime": {
          "documentation": "<p>The creation time of the export task, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ExportTaskId": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ExportTaskName": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ExportTaskStatus": {
      "documentation": "<p>Represents the status of an export task.</p>",
      "members": {
        "code": {
          "documentation": "<p>The status code of the export task.</p>",
          "shape": "ExportTaskStatusCode"
        },
        "message": {
          "documentation": "<p>The status message related to the status code.</p>",
          "shape": "ExportTaskStatusMessage"
        }
      },
      "type": "structure"
    },
    "ExportTaskStatusCode": {
      "enum": [
        "CANCELLED",
        "COMPLETED",
        "FAILED",
        "PENDING",
        "PENDING_CANCEL",
        "RUNNING"
      ],
      "type": "string"
    },
    "ExportTaskStatusMessage": {
      "type": "string"
    },
    "ExportTasks": {
      "member": {
        "shape": "ExportTask"
      },
      "type": "list"
    },
    "ExtractedValues": {
      "key": {
        "shape": "Token"
      },
      "type": "map",
      "value": {
        "shape": "Value"
      }
    },
    "Field": {
      "type": "string"
    },
    "FilterCount": {
      "type": "integer"
    },
    "FilterLogEventsRequest": {
      "members": {
        "endTime": {
          "documentation": "<p>The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not returned.</p>",
          "shape": "Timestamp"
        },
        "filterPattern": {
          "documentation": "<p>The filter pattern to use. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html\">Filter and Pattern Syntax</a>.</p> <p>If not provided, all the events are matched.</p>",
          "shape": "FilterPattern"
        },
        "interleaved": {
          "deprecated": true,
          "deprecatedMessage": "Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group.",
          "documentation": "<p>If the value is true, the operation makes a best effort to provide responses that contain events from multiple log streams within the log group, interleaved in a single response. If the value is false, all the matched log events in the first log stream are searched first, then those in the next log stream, and so on. The default is false.</p> <p> <b>Important:</b> Starting on June 17, 2019, this parameter is ignored and the value is assumed to be true. The response from this operation always interleaves events from multiple log streams within a log group.</p>",
          "shape": "Interleaved"
        },
        "limit": {
          "documentation": "<p>The maximum number of events to return. The default is 10,000 events.</p>",
          "shape": "EventsLimit"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group to search.</p>",
          "shape": "LogGroupName"
        },
        "logStreamNamePrefix": {
          "documentation": "<p>Filters the results to include only events from log streams that have names starting with this prefix.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, but the value for <code>logStreamNamePrefix</code> does not match any log stream names specified in <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>",
          "shape": "LogStreamName"
        },
        "logStreamNames": {
          "documentation": "<p>Filters the results to only logs from the log streams in this list.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>",
          "shape": "InputLogStreamNames"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of events to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        },
        "startTime": {
          "documentation": "<p>The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp before this time are not returned.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "FilterLogEventsResponse": {
      "members": {
        "events": {
          "documentation": "<p>The matched events.</p>",
          "shape": "FilteredLogEvents"
        },
        "nextToken": {
          "documentation": "<p>The token to use when requesting the next set of items. The token expires after 24 hours.</p>",
          "shape": "NextToken"
        },
        "searchedLogStreams": {
          "documentation": "<p> <b>IMPORTANT</b> Starting on May 15, 2020, this parameter will be deprecated. This parameter will be an empty list after the deprecation occurs.</p> <p>Indicates which log streams have been searched and whether each has been searched completely.</p>",
          "shape": "SearchedLogStreams"
        }
      },
      "type": "structure"
    },
    "FilterName": {
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*",
      "type": "string"
    },
    "FilterPattern": {
      "documentation": "<p>A symbolic description of how CloudWatch Logs should interpret the data in each log event. For example, a log event can contain timestamps, IP addresses, strings, and so on. You use the filter pattern to specify what to look for in the log event message.</p>",
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "FilteredLogEvent": {
      "documentation": "<p>Represents a matched event.</p>",
      "members": {
        "eventId": {
          "documentation": "<p>The ID of the event.</p>",
          "shape": "EventId"
        },
        "ingestionTime": {
          "documentation": "<p>The time the event was ingested, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "logStreamName": {
          "documentation": "<p>The name of the log stream to which this event belongs.</p>",
          "shape": "LogStreamName"
        },
        "message": {
          "documentation": "<p>The data contained in the log event.</p>",
          "shape": "EventMessage"
        },
        "timestamp": {
          "documentation": "<p>The time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "FilteredLogEvents": {
      "member": {
        "shape": "FilteredLogEvent"
      },
      "type": "list"
    },
    "ForceUpdate": {
      "type": "boolean"
    },
    "GetLogEventsRequest": {
      "members": {
        "endTime": {
          "documentation": "<p>The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to or later than this time are not included.</p>",
          "shape": "Timestamp"
        },
        "limit": {
          "documentation": "<p>The maximum number of log events returned. If you don't specify a value, the maximum is as many log events as can fit in a response size of 1 MB, up to 10,000 log events.</p>",
          "shape": "EventsLimit"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "logStreamName": {
          "documentation": "<p>The name of the log stream.</p>",
          "shape": "LogStreamName"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "NextToken"
        },
        "startFromHead": {
          "documentation": "<p>If the value is true, the earliest log events are returned first. If the value is false, the latest log events are returned first. The default value is false.</p> <p>If you are using a previous <code>nextForwardToken</code> value as the <code>nextToken</code> in this operation, you must specify <code>true</code> for <code>startFromHead</code>.</p>",
          "shape": "StartFromHead"
        },
        "startTime": {
          "documentation": "<p>The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to this time or later than this time are included. Events with a timestamp earlier than this time are not included.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "logGroupName",
        "logStreamName"
      ],
      "type": "structure"
    },
    "GetLogEventsResponse": {
      "members": {
        "events": {
          "documentation": "<p>The events.</p>",
          "shape": "OutputLogEvents"
        },
        "nextBackwardToken": {
          "documentation": "<p>The token for the next set of items in the backward direction. The token expires after 24 hours. This token is never null. If you have reached the end of the stream, it returns the same token you passed in.</p>",
          "shape": "NextToken"
        },
        "nextForwardToken": {
          "documentation": "<p>The token for the next set of items in the forward direction. The token expires after 24 hours. If you have reached the end of the stream, it returns the same token you passed in.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetLogGroupFieldsRequest": {
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group to search.</p>",
          "shape": "LogGroupName"
        },
        "time": {
          "documentation": "<p>The time to set as the center of the query. If you specify <code>time</code>, the 15 minutes before this time are queries. If you omit <code>time</code> the 8 minutes before and 8 minutes after this time are searched.</p> <p>The <code>time</code> value is specified as epoch time, the number of seconds since January 1, 1970, 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "GetLogGroupFieldsResponse": {
      "members": {
        "logGroupFields": {
          "documentation": "<p>The array of fields found in the query. Each object in the array contains the name of the field, along with the percentage of time it appeared in the log events that were queried.</p>",
          "shape": "LogGroupFieldList"
        }
      },
      "type": "structure"
    },
    "GetLogRecordRequest": {
      "members": {
        "logRecordPointer": {
          "documentation": "<p>The pointer corresponding to the log event record you want to retrieve. You get this from the response of a <code>GetQueryResults</code> operation. In that response, the value of the <code>@ptr</code> field for a log event is the value to use as <code>logRecordPointer</code> to retrieve that complete log event record.</p>",
          "shape": "LogRecordPointer"
        }
      },
      "required": [
        "logRecordPointer"
      ],
      "type": "structure"
    },
    "GetLogRecordResponse": {
      "members": {
        "logRecord": {
          "documentation": "<p>The requested log event, as a JSON string.</p>",
          "shape": "LogRecord"
        }
      },
      "type": "structure"
    },
    "GetQueryResultsRequest": {
      "members": {
        "queryId": {
          "documentation": "<p>The ID number of the query.</p>",
          "shape": "QueryId"
        }
      },
      "required": [
        "queryId"
      ],
      "type": "structure"
    },
    "GetQueryResultsResponse": {
      "members": {
        "results": {
          "documentation": "<p>The log events that matched the query criteria during the most recent time it ran.</p> <p>The <code>results</code> value is an array of arrays. Each log event is one object in the top-level array. Each of these log event objects is an array of <code>field</code>/<code>value</code> pairs.</p>",
          "shape": "QueryResults"
        },
        "statistics": {
          "documentation": "<p>Includes the number of log events scanned by the query, the number of log events that matched the query criteria, and the total number of bytes in the log events that were scanned. These values reflect the full raw results of the query.</p>",
          "shape": "QueryStatistics"
        },
        "status": {
          "documentation": "<p>The status of the most recent running of the query. Possible values are <code>Cancelled</code>, <code>Complete</code>, <code>Failed</code>, <code>Running</code>, <code>Scheduled</code>, <code>Timeout</code>, and <code>Unknown</code>.</p> <p>Queries time out after 15 minutes of execution. To avoid having your queries time out, reduce the time range being searched or partition your query into a number of queries.</p>",
          "shape": "QueryStatus"
        }
      },
      "type": "structure"
    },
    "InputLogEvent": {
      "documentation": "<p>Represents a log event, which is a record of activity that was recorded by the application or resource being monitored.</p>",
      "members": {
        "message": {
          "documentation": "<p>The raw event message.</p>",
          "shape": "EventMessage"
        },
        "timestamp": {
          "documentation": "<p>The time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "timestamp",
        "message"
      ],
      "type": "structure"
    },
    "InputLogEvents": {
      "max": 10000,
      "member": {
        "shape": "InputLogEvent"
      },
      "min": 1,
      "type": "list"
    },
    "InputLogStreamNames": {
      "max": 100,
      "member": {
        "shape": "LogStreamName"
      },
      "min": 1,
      "type": "list"
    },
    "Interleaved": {
      "type": "boolean"
    },
    "InvalidOperationException": {
      "documentation": "<p>The operation is not valid on the specified resource.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>A parameter is specified incorrectly.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidSequenceTokenException": {
      "documentation": "<p>The sequence token is not valid. You can get the correct sequence token in the <code>expectedSequenceToken</code> field in the <code>InvalidSequenceTokenException</code> message. </p>",
      "exception": true,
      "members": {
        "expectedSequenceToken": {
          "shape": "SequenceToken"
        }
      },
      "type": "structure"
    },
    "KmsKeyId": {
      "max": 256,
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>You have reached the maximum number of resources that can be created.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource that you want to view tags for.</p> <p>The ARN format of a log group is <code>arn:aws:logs:<i>Region</i>:<i>account-id</i>:log-group:<i>log-group-name</i> </code> </p> <p>The ARN format of a destination is <code>arn:aws:logs:<i>Region</i>:<i>account-id</i>:destination:<i>destination-name</i> </code> </p> <p>For more information about ARN format, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/iam-access-control-overview-cwl.html\">CloudWatch Logs resources and operations</a>.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The list of tags associated with the requested resource.&gt;</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ListTagsLogGroupRequest": {
      "deprecated": true,
      "deprecatedMessage": "Please use the generic tagging API model ListTagsForResourceRequest and ListTagsForResourceResponse",
      "members": {
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "logGroupName"
      ],
      "type": "structure"
    },
    "ListTagsLogGroupResponse": {
      "deprecated": true,
      "deprecatedMessage": "Please use the generic tagging API model ListTagsForResourceRequest and ListTagsForResourceResponse",
      "members": {
        "tags": {
          "documentation": "<p>The tags for the log group.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "LogEventIndex": {
      "type": "integer"
    },
    "LogGroup": {
      "documentation": "<p>Represents a log group.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the log group.</p>",
          "shape": "Arn"
        },
        "creationTime": {
          "documentation": "<p>The creation time of the log group, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "kmsKeyId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data.</p>",
          "shape": "KmsKeyId"
        },
        "logGroupName": {
          "documentation": "<p>The name of the log group.</p>",
          "shape": "LogGroupName"
        },
        "metricFilterCount": {
          "documentation": "<p>The number of metric filters.</p>",
          "shape": "FilterCount"
        },
        "retentionInDays": {
          "shape": "Days"
        },
        "storedBytes": {
          "documentation": "<p>The number of bytes stored.</p>",
          "shape": "StoredBytes"
        }
      },
      "type": "structure"
    },
    "LogGroupField": {
      "documentation": "<p>The fields contained in log events found by a <code>GetLogGroupFields</code> operation, along with the percentage of queried log events in which each field appears.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of a log field.</p>",
          "shape": "Field"
        },
        "percent": {
          "documentation": "<p>The percentage of log events queried that contained the field.</p>",
          "shape": "Percentage"
        }
      },
      "type": "structure"
    },
    "LogGroupFieldList": {
      "member": {
        "shape": "LogGroupField"
      },
      "type": "list"
    },
    "LogGroupName": {
      "max": 512,
      "min": 1,
      "pattern": "[\\.\\-_/#A-Za-z0-9]+",
      "type": "string"
    },
    "LogGroupNames": {
      "member": {
        "shape": "LogGroupName"
      },
      "type": "list"
    },
    "LogGroups": {
      "member": {
        "shape": "LogGroup"
      },
      "type": "list"
    },
    "LogRecord": {
      "key": {
        "shape": "Field"
      },
      "type": "map",
      "value": {
        "shape": "Value"
      }
    },
    "LogRecordPointer": {
      "type": "string"
    },
    "LogStream": {
      "documentation": "<p>Represents a log stream, which is a sequence of log events from a single emitter of logs.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the log stream.</p>",
          "shape": "Arn"
        },
        "creationTime": {
          "documentation": "<p>The creation time of the stream, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "firstEventTimestamp": {
          "documentation": "<p>The time of the first event, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "lastEventTimestamp": {
          "documentation": "<p>The time of the most recent log event in the log stream in CloudWatch Logs. This number is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. The <code>lastEventTime</code> value updates on an eventual consistency basis. It typically updates in less than an hour from ingestion, but in rare situations might take longer.</p>",
          "shape": "Timestamp"
        },
        "lastIngestionTime": {
          "documentation": "<p>The ingestion time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.</p>",
          "shape": "Timestamp"
        },
        "logStreamName": {
          "documentation": "<p>The name of the log stream.</p>",
          "shape": "LogStreamName"
        },
        "storedBytes": {
          "deprecated": true,
          "deprecatedMessage": "Starting on June 17, 2019, this parameter will be deprecated for log streams, and will be reported as zero. This change applies only to log streams. The storedBytes parameter for log groups is not affected.",
          "documentation": "<p>The number of bytes stored.</p> <p> <b>Important:</b> On June 17, 2019, this parameter was deprecated for log streams, and is always reported as zero. This change applies only to log streams. The <code>storedBytes</code> parameter for log groups is not affected.</p>",
          "shape": "StoredBytes"
        },
        "uploadSequenceToken": {
          "documentation": "<p>The sequence token.</p>",
          "shape": "SequenceToken"
        }
      },
      "type": "structure"
    },
    "LogStreamName": {
      "max": 512,
      "min": 1,
      "pattern": "[^:*]*",
      "type": "string"
    },
    "LogStreamSearchedCompletely": {
      "type": "boolean"
    },
    "LogStreams": {
      "member": {
        "shape": "LogStream"
      },
      "type": "list"
    },
    "MalformedQueryException": {
      "documentation": "<p>The query string is not valid. Details about this error are displayed in a <code>QueryCompileError</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_QueryCompileError.html\">QueryCompileError</a>.</p> <p>For more information about valid query syntax, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html\">CloudWatch Logs Insights Query Syntax</a>.</p>",
      "exception": true,
      "members": {
        "queryCompileError": {
          "shape": "QueryCompileError"
        }
      },
      "type": "structure"
    },
    "Message": {
      "type": "string"
    },
    "MetricFilter": {
      "documentation": "<p>Metric filters express how CloudWatch Logs would extract metric observations from ingested log events and transform them into metric data in a CloudWatch metric.</p>",
      "members": {
        "creationTime": {
[...]
