{
  "documentation": "<p/>",
  "metadata": {
    "apiVersion": "2018-05-22",
    "endpointPrefix": "personalize-runtime",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Personalize Runtime",
    "serviceId": "Personalize Runtime",
    "signatureVersion": "v4",
    "signingName": "personalize",
    "uid": "personalize-runtime-2018-05-22"
  },
  "operations": {
    "GetPersonalizedRanking": {
      "documentation": "<p>Re-ranks a list of recommended items for the given user. The first item in the list is deemed the most likely item to be of interest to the user.</p> <note> <p>The solution backing the campaign must have been created using a recipe of type PERSONALIZED_RANKING.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/personalize-ranking"
      },
      "idempotent": true,
      "input": {
        "shape": "GetPersonalizedRankingRequest"
      },
      "name": "GetPersonalizedRanking",
      "output": {
        "shape": "GetPersonalizedRankingResponse"
      }
    },
    "GetRecommendations": {
      "documentation": "<p>Returns a list of recommended items. For campaigns, the campaign's Amazon Resource Name (ARN) is required and the required user and item input depends on the recipe type used to create the solution backing the campaign as follows:</p> <ul> <li> <p>USER_PERSONALIZATION - <code>userId</code> required, <code>itemId</code> not used</p> </li> <li> <p>RELATED_ITEMS - <code>itemId</code> required, <code>userId</code> not used</p> </li> </ul> <note> <p>Campaigns that are backed by a solution created using a recipe of type PERSONALIZED_RANKING use the API.</p> </note> <p> For recommenders, the recommender's ARN is required and the required item and user input depends on the use case (domain-based recipe) backing the recommender. For information on use case requirements see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/domain-use-cases.html\">Choosing recommender use cases</a>. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/recommendations"
      },
      "idempotent": true,
      "input": {
        "shape": "GetRecommendationsRequest"
      },
      "name": "GetRecommendations",
      "output": {
        "shape": "GetRecommendationsResponse"
      }
    }
  },
  "shapes": {
    "Arn": {
      "max": 256,
      "pattern": "arn:([a-z\\d-]+):personalize:.*:.*:.+",
      "type": "string"
    },
    "AttributeName": {
      "max": 150,
      "pattern": "[A-Za-z\\d_]+",
      "type": "string"
    },
    "AttributeValue": {
      "max": 1000,
      "sensitive": true,
      "type": "string"
    },
    "Context": {
      "key": {
        "shape": "AttributeName"
      },
      "max": 150,
      "type": "map",
      "value": {
        "shape": "AttributeValue"
      }
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FilterAttributeName": {
      "max": 50,
      "pattern": "[A-Za-z0-9_]+",
      "type": "string"
    },
    "FilterAttributeValue": {
      "max": 1000,
      "sensitive": true,
      "type": "string"
    },
    "FilterValues": {
      "key": {
        "shape": "FilterAttributeName"
      },
      "max": 25,
      "type": "map",
      "value": {
        "shape": "FilterAttributeValue"
      }
    },
    "GetPersonalizedRankingRequest": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized ranking.</p>",
          "shape": "Arn"
        },
        "context": {
          "documentation": "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes any interaction information that might be relevant when getting a user's recommendations, such as the user's current location or device type.</p>",
          "shape": "Context"
        },
        "filterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a filter you created to include items or exclude items from recommendations for a given user. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>",
          "shape": "Arn"
        },
        "filterValues": {
          "documentation": "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case) as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma. </p> <p>For filter expressions that use an <code>INCLUDE</code> element to include items, you must provide values for all parameters that are defined in the expression. For filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of the expression to filter recommendations.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>",
          "shape": "FilterValues"
        },
        "inputList": {
          "documentation": "<p>A list of items (by <code>itemId</code>) to rank. If an item was not included in the training dataset, the item is appended to the end of the reranked list. The maximum is 500.</p>",
          "shape": "InputList"
        },
        "userId": {
          "documentation": "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
          "shape": "UserID"
        }
      },
      "required": [
        "campaignArn",
        "inputList",
        "userId"
      ],
      "type": "structure"
    },
    "GetPersonalizedRankingResponse": {
      "members": {
        "personalizedRanking": {
          "documentation": "<p>A list of items in order of most likely interest to the user. The maximum is 500.</p>",
          "shape": "ItemList"
        },
        "recommendationId": {
          "documentation": "<p>The ID of the recommendation.</p>",
          "shape": "RecommendationID"
        }
      },
      "type": "structure"
    },
    "GetRecommendationsRequest": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>",
          "shape": "Arn"
        },
        "context": {
          "documentation": "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes any interaction information that might be relevant when getting a user's recommendations, such as the user's current location or device type.</p>",
          "shape": "Context"
        },
        "filterArn": {
          "documentation": "<p>The ARN of the filter to apply to the returned recommendations. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p> <p>When using this parameter, be sure the filter resource is <code>ACTIVE</code>.</p>",
          "shape": "Arn"
        },
        "filterValues": {
          "documentation": "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case) as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma. </p> <p>For filter expressions that use an <code>INCLUDE</code> element to include items, you must provide values for all parameters that are defined in the expression. For filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of the expression to filter recommendations.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>",
          "shape": "FilterValues"
        },
        "itemId": {
          "documentation": "<p>The item ID to provide recommendations for.</p> <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>",
          "shape": "ItemID"
        },
        "numResults": {
          "documentation": "<p>The number of results to return. The default is 25. The maximum is 500.</p>",
          "shape": "NumResults"
        },
        "promotions": {
          "documentation": "<p>The promotions to apply to the recommendation request. A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>",
          "shape": "PromotionList"
        },
        "recommenderArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the recommender to use to get recommendations. Provide a recommender ARN if you created a Domain dataset group with a recommender for a domain use case.</p>",
          "shape": "Arn"
        },
        "userId": {
          "documentation": "<p>The user ID to provide recommendations for.</p> <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>",
          "shape": "UserID"
        }
      },
      "type": "structure"
    },
    "GetRecommendationsResponse": {
      "members": {
        "itemList": {
          "documentation": "<p>A list of recommendations sorted in descending order by prediction score. There can be a maximum of 500 items in the list.</p>",
          "shape": "ItemList"
        },
        "recommendationId": {
          "documentation": "<p>The ID of the recommendation.</p>",
          "shape": "RecommendationID"
        }
      },
      "type": "structure"
    },
    "InputList": {
      "member": {
        "shape": "ItemID"
      },
      "type": "list"
    },
    "InvalidInputException": {
      "documentation": "<p>Provide a valid value for the field or parameter.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ItemID": {
      "max": 256,
      "type": "string"
    },
    "ItemList": {
      "member": {
        "shape": "PredictedItem"
      },
      "type": "list"
    },
    "Name": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*",
      "type": "string"
    },
    "NumResults": {
      "min": 0,
      "type": "integer"
    },
    "PercentPromotedItems": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "PredictedItem": {
      "documentation": "<p>An object that identifies an item.</p> <p>The and APIs return a list of <code>PredictedItem</code>s.</p>",
      "members": {
        "itemId": {
          "documentation": "<p>The recommended item ID.</p>",
          "shape": "ItemID"
        },
        "promotionName": {
          "documentation": "<p>The name of the promotion that included the predicted item.</p>",
          "shape": "Name"
        },
        "score": {
          "documentation": "<p>A numeric representation of the model's certainty that the item will be the next user selection. For more information on scoring logic, see <a>how-scores-work</a>.</p>",
          "shape": "Score"
        }
      },
      "type": "structure"
    },
    "Promotion": {
      "documentation": "<p>Contains information on a promotion. A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>",
      "members": {
        "filterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the filter used by the promotion. This filter defines the criteria for promoted items. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/promoting-items.html#promotion-filters\">Promotion filters</a>.</p>",
          "shape": "Arn"
        },
        "filterValues": {
          "documentation": "<p>The values to use when promoting items. For each placeholder parameter in your promotion's filter expression, provide the parameter name (in matching case) as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma. </p> <p>For filter expressions that use an <code>INCLUDE</code> element to include items, you must provide values for all parameters that are defined in the expression. For filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you can omit the <code>filter-values</code>. In this case, Amazon Personalize doesn't use that portion of the expression to filter recommendations.</p> <p>For more information on creating filters, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>",
          "shape": "FilterValues"
        },
        "name": {
          "documentation": "<p>The name of the promotion.</p>",
          "shape": "Name"
        },
        "percentPromotedItems": {
          "documentation": "<p>The percentage of recommended items to apply the promotion to.</p>",
          "shape": "PercentPromotedItems"
        }
      },
      "type": "structure"
    },
    "PromotionList": {
      "max": 1,
      "member": {
        "shape": "Promotion"
      },
      "type": "list"
    },
    "RecommendationID": {
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource does not exist.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Score": {
      "type": "double"
    },
    "UserID": {
      "max": 256,
      "type": "string"
    }
  },
  "version": "2.0"
}
