{
  "documentation": "<fullname>App Runner</fullname> <p>App Runner is an application service that provides a fast, simple, and cost-effective way to go directly from an existing container image or source code to a running service in the Amazon Web Services Cloud in seconds. You don't need to learn new technologies, decide which compute service to use, or understand how to provision and configure Amazon Web Services resources.</p> <p>App Runner connects directly to your container registry or source code repository. It provides an automatic delivery pipeline with fully managed operations, high performance, scalability, and security.</p> <p>For more information about App Runner, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/dg/\">App Runner Developer Guide</a>. For release information, see the <a href=\"https://docs.aws.amazon.com/apprunner/latest/relnotes/\">App Runner Release Notes</a>.</p> <p> To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that you can use to access the API, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p> <b>Endpoints</b> </p> <p>For a list of Region-specific endpoints that App Runner supports, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/apprunner.html\">App Runner endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
  "metadata": {
    "apiVersion": "2020-05-15",
    "endpointPrefix": "apprunner",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS App Runner",
    "serviceId": "AppRunner",
    "signatureVersion": "v4",
    "signingName": "apprunner",
    "targetPrefix": "AppRunner",
    "uid": "apprunner-2020-05-15"
  },
  "operations": {
    "AssociateCustomDomain": {
      "documentation": "<p>Associate your own domain name with the App Runner subdomain URL of your App Runner service.</p> <p>After you call <code>AssociateCustomDomain</code> and receive a successful response, use the information in the <a>CustomDomain</a> record that's returned to add CNAME records to your Domain Name System (DNS). For each mapped domain name, add a mapping to the target App Runner subdomain and one or more certificate validation records. App Runner then performs DNS validation to verify that you own or control the domain name that you associated. App Runner tracks domain validity in a certificate stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateCustomDomainRequest"
      },
      "name": "AssociateCustomDomain",
      "output": {
        "shape": "AssociateCustomDomainResponse"
      }
    },
    "CreateAutoScalingConfiguration": {
      "documentation": "<p>Create an App Runner automatic scaling configuration resource. App Runner requires this resource when you create or update App Runner services and you require non-default auto scaling settings. You can share an auto scaling configuration across multiple services.</p> <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>AutoScalingConfigurationName</code>. The call returns incremental <code>AutoScalingConfigurationRevision</code> values. When you create a service and configure an auto scaling configuration resource, the service uses the latest active revision of the auto scaling configuration by default. You can optionally configure the service to use a specific revision.</p> <p>Configure a higher <code>MinSize</code> to increase the spread of your App Runner service over more Availability Zones in the Amazon Web Services Region. The tradeoff is a higher minimal cost.</p> <p>Configure a lower <code>MaxSize</code> to control your cost. The tradeoff is lower responsiveness during peak demand.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAutoScalingConfigurationRequest"
      },
      "name": "CreateAutoScalingConfiguration",
      "output": {
        "shape": "CreateAutoScalingConfigurationResponse"
      }
    },
    "CreateConnection": {
      "documentation": "<p>Create an App Runner connection resource. App Runner requires a connection resource when you create App Runner services that access private repositories from certain third-party providers. You can share a connection across multiple services.</p> <p>A connection resource is needed to access GitHub repositories. GitHub requires a user interface approval process through the App Runner console before you can use the connection.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectionRequest"
      },
      "name": "CreateConnection",
      "output": {
        "shape": "CreateConnectionResponse"
      }
    },
    "CreateObservabilityConfiguration": {
      "documentation": "<p>Create an App Runner observability configuration resource. App Runner requires this resource when you create or update App Runner services and you want to enable non-default observability features. You can share an observability configuration across multiple services.</p> <p>Create multiple revisions of a configuration by calling this action multiple times using the same <code>ObservabilityConfigurationName</code>. The call returns incremental <code>ObservabilityConfigurationRevision</code> values. When you create a service and configure an observability configuration resource, the service uses the latest active revision of the observability configuration by default. You can optionally configure the service to use a specific revision.</p> <p>The observability configuration resource is designed to configure multiple features (currently one feature, tracing). This action takes optional parameters that describe the configuration of these features (currently one parameter, <code>TraceConfiguration</code>). If you don't specify a feature parameter, App Runner doesn't enable the feature.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateObservabilityConfigurationRequest"
      },
      "name": "CreateObservabilityConfiguration",
      "output": {
        "shape": "CreateObservabilityConfigurationResponse"
      }
    },
    "CreateService": {
      "documentation": "<p>Create an App Runner service. After the service is created, the action also automatically starts a deployment.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceRequest"
      },
      "name": "CreateService",
      "output": {
        "shape": "CreateServiceResponse"
      }
    },
    "CreateVpcConnector": {
      "documentation": "<p>Create an App Runner VPC connector resource. App Runner requires this resource when you want to associate your App Runner service to a custom Amazon Virtual Private Cloud (Amazon VPC).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcConnectorRequest"
      },
      "name": "CreateVpcConnector",
      "output": {
        "shape": "CreateVpcConnectorResponse"
      }
    },
    "CreateVpcIngressConnection": {
      "documentation": "<p>Create an App Runner VPC Ingress Connection resource. App Runner requires this resource when you want to associate your App Runner service with an Amazon VPC endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVpcIngressConnectionRequest"
      },
      "name": "CreateVpcIngressConnection",
      "output": {
        "shape": "CreateVpcIngressConnectionResponse"
      }
    },
    "DeleteAutoScalingConfiguration": {
      "documentation": "<p>Delete an App Runner automatic scaling configuration resource. You can delete a specific revision or the latest active revision. You can't delete a configuration that's used by one or more App Runner services.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAutoScalingConfigurationRequest"
      },
      "name": "DeleteAutoScalingConfiguration",
      "output": {
        "shape": "DeleteAutoScalingConfigurationResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Delete an App Runner connection. You must first ensure that there are no running App Runner services that use this connection. If there are any, the <code>DeleteConnection</code> action fails.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionRequest"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "DeleteConnectionResponse"
      }
    },
    "DeleteObservabilityConfiguration": {
      "documentation": "<p>Delete an App Runner observability configuration resource. You can delete a specific revision or the latest active revision. You can't delete a configuration that's used by one or more App Runner services.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteObservabilityConfigurationRequest"
      },
      "name": "DeleteObservabilityConfiguration",
      "output": {
        "shape": "DeleteObservabilityConfigurationResponse"
      }
    },
    "DeleteService": {
      "documentation": "<p>Delete an App Runner service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p> <note> <p>Make sure that you don't have any active VPCIngressConnections associated with the service you want to delete. </p> </note>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceRequest"
      },
      "name": "DeleteService",
      "output": {
        "shape": "DeleteServiceResponse"
      }
    },
    "DeleteVpcConnector": {
      "documentation": "<p>Delete an App Runner VPC connector resource. You can't delete a connector that's used by one or more App Runner services.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcConnectorRequest"
      },
      "name": "DeleteVpcConnector",
      "output": {
        "shape": "DeleteVpcConnectorResponse"
      }
    },
    "DeleteVpcIngressConnection": {
      "documentation": "<p>Delete an App Runner VPC Ingress Connection resource that's associated with an App Runner service. The VPC Ingress Connection must be in one of the following states to be deleted: </p> <ul> <li> <p> <code>AVAILABLE</code> </p> </li> <li> <p> <code>FAILED_CREATION</code> </p> </li> <li> <p> <code>FAILED_UPDATE</code> </p> </li> <li> <p> <code>FAILED_DELETION</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVpcIngressConnectionRequest"
      },
      "name": "DeleteVpcIngressConnection",
      "output": {
        "shape": "DeleteVpcIngressConnectionResponse"
      }
    },
    "DescribeAutoScalingConfiguration": {
      "documentation": "<p>Return a full description of an App Runner automatic scaling configuration resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutoScalingConfigurationRequest"
      },
      "name": "DescribeAutoScalingConfiguration",
      "output": {
        "shape": "DescribeAutoScalingConfigurationResponse"
      }
    },
    "DescribeCustomDomains": {
      "documentation": "<p>Return a description of custom domain names that are associated with an App Runner service.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomDomainsRequest"
      },
      "name": "DescribeCustomDomains",
      "output": {
        "shape": "DescribeCustomDomainsResponse"
      }
    },
    "DescribeObservabilityConfiguration": {
      "documentation": "<p>Return a full description of an App Runner observability configuration resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeObservabilityConfigurationRequest"
      },
      "name": "DescribeObservabilityConfiguration",
      "output": {
        "shape": "DescribeObservabilityConfigurationResponse"
      }
    },
    "DescribeService": {
      "documentation": "<p>Return a full description of an App Runner service.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServiceRequest"
      },
      "name": "DescribeService",
      "output": {
        "shape": "DescribeServiceResponse"
      }
    },
    "DescribeVpcConnector": {
      "documentation": "<p>Return a description of an App Runner VPC connector resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeVpcConnectorRequest"
      },
      "name": "DescribeVpcConnector",
      "output": {
        "shape": "DescribeVpcConnectorResponse"
      }
    },
    "DescribeVpcIngressConnection": {
      "documentation": "<p>Return a full description of an App Runner VPC Ingress Connection resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeVpcIngressConnectionRequest"
      },
      "name": "DescribeVpcIngressConnection",
      "output": {
        "shape": "DescribeVpcIngressConnectionResponse"
      }
    },
    "DisassociateCustomDomain": {
      "documentation": "<p>Disassociate a custom domain name from an App Runner service.</p> <p>Certificates tracking domain validity are associated with a custom domain and are stored in <a href=\"https://docs.aws.amazon.com/acm/latest/userguide\">AWS Certificate Manager (ACM)</a>. These certificates aren't deleted as part of this action. App Runner delays certificate deletion for 30 days after a domain is disassociated from your service.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateCustomDomainRequest"
      },
      "name": "DisassociateCustomDomain",
      "output": {
        "shape": "DisassociateCustomDomainResponse"
      }
    },
    "ListAutoScalingConfigurations": {
      "documentation": "<p>Returns a list of active App Runner automatic scaling configurations in your Amazon Web Services account. You can query the revisions for a specific configuration name or the revisions for all active configurations in your account. You can optionally query only the latest revision of each requested name.</p> <p>To retrieve a full description of a particular configuration revision, call and provide one of the ARNs returned by <code>ListAutoScalingConfigurations</code>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAutoScalingConfigurationsRequest"
      },
      "name": "ListAutoScalingConfigurations",
      "output": {
        "shape": "ListAutoScalingConfigurationsResponse"
      }
    },
    "ListConnections": {
      "documentation": "<p>Returns a list of App Runner connections that are associated with your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConnectionsRequest"
      },
      "name": "ListConnections",
      "output": {
        "shape": "ListConnectionsResponse"
      }
    },
    "ListObservabilityConfigurations": {
      "documentation": "<p>Returns a list of active App Runner observability configurations in your Amazon Web Services account. You can query the revisions for a specific configuration name or the revisions for all active configurations in your account. You can optionally query only the latest revision of each requested name.</p> <p>To retrieve a full description of a particular configuration revision, call and provide one of the ARNs returned by <code>ListObservabilityConfigurations</code>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListObservabilityConfigurationsRequest"
      },
      "name": "ListObservabilityConfigurations",
      "output": {
        "shape": "ListObservabilityConfigurationsResponse"
      }
    },
    "ListOperations": {
      "documentation": "<p>Return a list of operations that occurred on an App Runner service.</p> <p>The resulting list of <a>OperationSummary</a> objects is sorted in reverse chronological order. The first object on the list represents the last started operation.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOperationsRequest"
      },
      "name": "ListOperations",
      "output": {
        "shape": "ListOperationsResponse"
      }
    },
    "ListServices": {
      "documentation": "<p>Returns a list of running App Runner services in your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicesRequest"
      },
      "name": "ListServices",
      "output": {
        "shape": "ListServicesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List tags that are associated with for an App Runner resource. The response contains a list of tag key-value pairs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListVpcConnectors": {
      "documentation": "<p>Returns a list of App Runner VPC connectors in your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVpcConnectorsRequest"
      },
      "name": "ListVpcConnectors",
      "output": {
        "shape": "ListVpcConnectorsResponse"
      }
    },
    "ListVpcIngressConnections": {
      "documentation": "<p>Return a list of App Runner VPC Ingress Connections in your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVpcIngressConnectionsRequest"
      },
      "name": "ListVpcIngressConnections",
      "output": {
        "shape": "ListVpcIngressConnectionsResponse"
      }
    },
    "PauseService": {
      "documentation": "<p>Pause an active App Runner service. App Runner reduces compute capacity for the service to zero and loses state (for example, ephemeral storage is removed).</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PauseServiceRequest"
      },
      "name": "PauseService",
      "output": {
        "shape": "PauseServiceResponse"
      }
    },
    "ResumeService": {
      "documentation": "<p>Resume an active App Runner service. App Runner provisions compute capacity for the service.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResumeServiceRequest"
      },
      "name": "ResumeService",
      "output": {
        "shape": "ResumeServiceResponse"
      }
    },
    "StartDeployment": {
      "documentation": "<p>Initiate a manual deployment of the latest commit in a source code repository or the latest image in a source image repository to an App Runner service.</p> <p>For a source code repository, App Runner retrieves the commit and builds a Docker image. For a source image repository, App Runner retrieves the latest Docker image. In both cases, App Runner then deploys the new image to your service and starts a new container instance.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDeploymentRequest"
      },
      "name": "StartDeployment",
      "output": {
        "shape": "StartDeploymentResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to, or update the tag values of, an App Runner resource. A tag is a key-value pair.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from an App Runner resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateService": {
      "documentation": "<p>Update an App Runner service. You can update the source configuration and instance configuration of the service. You can also update the ARN of the auto scaling configuration resource that's associated with the service. However, you can't change the name or the encryption configuration of the service. These can be set only when you create the service.</p> <p>To update the tags applied to your service, use the separate actions <a>TagResource</a> and <a>UntagResource</a>.</p> <p>This is an asynchronous operation. On a successful call, you can use the returned <code>OperationId</code> and the <a>ListOperations</a> call to track the operation's progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceRequest"
      },
      "name": "UpdateService",
      "output": {
        "shape": "UpdateServiceResponse"
      }
    },
    "UpdateVpcIngressConnection": {
      "documentation": "<p>Update an existing App Runner VPC Ingress Connection resource. The VPC Ingress Connection must be in one of the following states to be updated:</p> <ul> <li> <p> AVAILABLE </p> </li> <li> <p> FAILED_CREATION </p> </li> <li> <p> FAILED_UPDATE </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateVpcIngressConnectionRequest"
      },
      "name": "UpdateVpcIngressConnection",
      "output": {
        "shape": "UpdateVpcIngressConnectionResponse"
      }
    }
  },
  "shapes": {
    "ASConfigMaxConcurrency": {
      "max": 200,
      "min": 1,
      "type": "integer"
    },
    "ASConfigMaxSize": {
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "ASConfigMinSize": {
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "AppRunnerResourceArn": {
      "max": 1011,
      "min": 1,
      "pattern": "arn:aws(-[\\w]+)*:[a-z0-9-\\\\.]{0,63}:[a-z0-9-\\\\.]{0,63}:[0-9]{12}:(\\w|\\/|-){1,1011}",
      "type": "string"
    },
    "AssociateCustomDomainRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>A custom domain endpoint to associate. Specify a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
          "shape": "DomainName"
        },
        "EnableWWWSubdomain": {
          "documentation": "<p>Set to <code>true</code> to associate the subdomain <code>www.<i>DomainName</i> </code> with the App Runner service in addition to the base domain.</p> <p>Default: <code>true</code> </p>",
          "shape": "NullableBoolean"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to associate a custom domain name with.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn",
        "DomainName"
      ],
      "type": "structure"
    },
    "AssociateCustomDomainResponse": {
      "members": {
        "CustomDomain": {
          "documentation": "<p>A description of the domain name that's being associated.</p>",
          "shape": "CustomDomain"
        },
        "DNSTarget": {
          "documentation": "<p>The App Runner subdomain of the App Runner service. The custom domain name is mapped to this target name.</p>",
          "shape": "String"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service with which a custom domain name is associated.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "VpcDNSTargets": {
          "documentation": "<p>DNS Target records for the custom domains of this Amazon VPC. </p>",
          "shape": "VpcDNSTargetList"
        }
      },
      "required": [
        "DNSTarget",
        "ServiceArn",
        "CustomDomain",
        "VpcDNSTargets"
      ],
      "type": "structure"
    },
    "AuthenticationConfiguration": {
      "documentation": "<p>Describes resources needed to authenticate access to some source repositories. The specific resource depends on the repository provider.</p>",
      "members": {
        "AccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants the App Runner service access to a source repository. It's required for ECR image repositories (but not for ECR Public repositories).</p>",
          "shape": "RoleArn"
        },
        "ConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner connection that enables the App Runner service to connect to a source repository. It's required for GitHub code repositories.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "type": "structure"
    },
    "AutoScalingConfiguration": {
      "documentation": "<p>Describes an App Runner automatic scaling configuration resource.</p> <p>A higher <code>MinSize</code> increases the spread of your App Runner service over more Availability Zones in the Amazon Web Services Region. The tradeoff is a higher minimal cost.</p> <p>A lower <code>MaxSize</code> controls your cost. The tradeoff is lower responsiveness during peak demand.</p> <p>Multiple revisions of a configuration might have the same <code>AutoScalingConfigurationName</code> and different <code>AutoScalingConfigurationRevision</code> values.</p>",
      "members": {
        "AutoScalingConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of this auto scaling configuration.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "AutoScalingConfigurationName": {
          "documentation": "<p>The customer-provided auto scaling configuration name. It can be used in multiple revisions of a configuration.</p>",
          "shape": "AutoScalingConfigurationName"
        },
        "AutoScalingConfigurationRevision": {
          "documentation": "<p>The revision of this auto scaling configuration. It's unique among all the active configurations (<code>\"Status\": \"ACTIVE\"</code>) that share the same <code>AutoScalingConfigurationName</code>.</p>",
          "shape": "Integer"
        },
        "CreatedAt": {
          "documentation": "<p>The time when the auto scaling configuration was created. It's in Unix time stamp format.</p>",
          "shape": "Timestamp"
        },
        "DeletedAt": {
          "documentation": "<p>The time when the auto scaling configuration was deleted. It's in Unix time stamp format.</p>",
          "shape": "Timestamp"
        },
        "Latest": {
          "documentation": "<p>It's set to <code>true</code> for the configuration with the highest <code>Revision</code> among all configurations that share the same <code>AutoScalingConfigurationName</code>. It's set to <code>false</code> otherwise.</p>",
          "shape": "Boolean"
        },
        "MaxConcurrency": {
          "documentation": "<p>The maximum number of concurrent requests that an instance processes. If the number of concurrent requests exceeds this limit, App Runner scales the service up.</p>",
          "shape": "Integer"
        },
        "MaxSize": {
          "documentation": "<p>The maximum number of instances that a service scales up to. At most <code>MaxSize</code> instances actively serve traffic for your service.</p>",
          "shape": "Integer"
        },
        "MinSize": {
          "documentation": "<p>The minimum number of instances that App Runner provisions for a service. The service always has at least <code>MinSize</code> provisioned instances. Some of them actively serve traffic. The rest of them (provisioned and inactive instances) are a cost-effective compute capacity reserve and are ready to be quickly activated. You pay for memory usage of all the provisioned instances. You pay for CPU usage of only the active subset.</p> <p>App Runner temporarily doubles the number of provisioned instances during deployments, to maintain the same capacity for both old and new code.</p>",
          "shape": "Integer"
        },
        "Status": {
          "documentation": "<p>The current state of the auto scaling configuration. If the status of a configuration revision is <code>INACTIVE</code>, it was deleted and can't be used. Inactive configuration revisions are permanently removed some time after they are deleted.</p>",
          "shape": "AutoScalingConfigurationStatus"
        }
      },
      "type": "structure"
    },
    "AutoScalingConfigurationName": {
      "max": 32,
      "min": 4,
      "pattern": "[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}",
      "type": "string"
    },
    "AutoScalingConfigurationStatus": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "AutoScalingConfigurationSummary": {
      "documentation": "<p>Provides summary information about an App Runner automatic scaling configuration resource.</p> <p>This type contains limited information about an auto scaling configuration. It includes only identification information, without configuration details. It's returned by the <a>ListAutoScalingConfigurations</a> action. Complete configuration information is returned by the <a>CreateAutoScalingConfiguration</a>, <a>DescribeAutoScalingConfiguration</a>, and <a>DeleteAutoScalingConfiguration</a> actions using the <a>AutoScalingConfiguration</a> type.</p>",
      "members": {
        "AutoScalingConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of this auto scaling configuration.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "AutoScalingConfigurationName": {
          "documentation": "<p>The customer-provided auto scaling configuration name. It can be used in multiple revisions of a configuration.</p>",
          "shape": "AutoScalingConfigurationName"
        },
        "AutoScalingConfigurationRevision": {
          "documentation": "<p>The revision of this auto scaling configuration. It's unique among all the active configurations (<code>\"Status\": \"ACTIVE\"</code>) with the same <code>AutoScalingConfigurationName</code>.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "AutoScalingConfigurationSummaryList": {
      "member": {
        "shape": "AutoScalingConfigurationSummary"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BuildCommand": {
      "pattern": "[^\\x0a\\x0d]+",
      "sensitive": true,
      "type": "string"
    },
    "CertificateValidationRecord": {
      "documentation": "<p>Describes a certificate CNAME record to add to your DNS. For more information, see <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_AssociateCustomDomain.html\">AssociateCustomDomain</a>.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The certificate CNAME record name.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The current state of the certificate CNAME record validation. It should change to <code>SUCCESS</code> after App Runner completes validation with your DNS.</p>",
          "shape": "CertificateValidationRecordStatus"
        },
        "Type": {
          "documentation": "<p>The record type, always <code>CNAME</code>.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The certificate CNAME record value.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CertificateValidationRecordList": {
      "member": {
        "shape": "CertificateValidationRecord"
      },
      "type": "list"
    },
    "CertificateValidationRecordStatus": {
      "enum": [
        "PENDING_VALIDATION",
        "SUCCESS",
        "FAILED"
      ],
      "type": "string"
    },
    "CodeConfiguration": {
      "documentation": "<p>Describes the configuration that App Runner uses to build and run an App Runner service from a source code repository.</p>",
      "members": {
        "CodeConfigurationValues": {
          "documentation": "<p>The basic configuration for building and running the App Runner service. Use it to quickly launch an App Runner service without providing a <code>apprunner.yaml</code> file in the source code repository (or ignoring the file if it exists).</p>",
          "shape": "CodeConfigurationValues"
        },
        "ConfigurationSource": {
          "documentation": "<p>The source of the App Runner configuration. Values are interpreted as follows:</p> <ul> <li> <p> <code>REPOSITORY</code> \u2013 App Runner reads configuration values from the <code>apprunner.yaml</code> file in the source code repository and ignores <code>CodeConfigurationValues</code>.</p> </li> <li> <p> <code>API</code> \u2013 App Runner uses configuration values provided in <code>CodeConfigurationValues</code> and ignores the <code>apprunner.yaml</code> file in the source code repository.</p> </li> </ul>",
          "shape": "ConfigurationSource"
        }
      },
      "required": [
        "ConfigurationSource"
      ],
      "type": "structure"
    },
    "CodeConfigurationValues": {
      "documentation": "<p>Describes the basic configuration needed for building and running an App Runner service. This type doesn't support the full set of possible configuration options. Fur full configuration capabilities, use a <code>apprunner.yaml</code> file in the source code repository.</p>",
      "members": {
        "BuildCommand": {
          "documentation": "<p>The command App Runner runs to build your application.</p>",
          "shape": "BuildCommand"
        },
        "Port": {
          "documentation": "<p>The port that your application listens to in the container.</p> <p>Default: <code>8080</code> </p>",
          "shape": "String"
        },
        "Runtime": {
          "documentation": "<p>A runtime environment type for building and running an App Runner service. It represents a programming language runtime.</p>",
          "shape": "Runtime"
        },
        "RuntimeEnvironmentVariables": {
          "documentation": "<p>The environment variables that are available to your running App Runner service. An array of key-value pairs. Keys with a prefix of <code>AWSAPPRUNNER</code> are reserved for system use and aren't valid.</p>",
          "shape": "RuntimeEnvironmentVariables"
        },
        "StartCommand": {
          "documentation": "<p>The command App Runner runs to start your application.</p>",
          "shape": "StartCommand"
        }
      },
      "required": [
        "Runtime"
      ],
      "type": "structure"
    },
    "CodeRepository": {
      "documentation": "<p>Describes a source code repository.</p>",
      "members": {
        "CodeConfiguration": {
          "documentation": "<p>Configuration for building and running the service from a source code repository.</p> <note> <p> <code>CodeConfiguration</code> is required only for <code>CreateService</code> request.</p> </note>",
          "shape": "CodeConfiguration"
        },
        "RepositoryUrl": {
          "documentation": "<p>The location of the repository that contains the source code.</p>",
          "shape": "String"
        },
        "SourceCodeVersion": {
          "documentation": "<p>The version that should be used within the source code repository.</p>",
          "shape": "SourceCodeVersion"
        }
      },
      "required": [
        "RepositoryUrl",
        "SourceCodeVersion"
      ],
      "type": "structure"
    },
    "ConfigurationSource": {
      "enum": [
        "REPOSITORY",
        "API"
      ],
      "type": "string"
    },
    "Connection": {
      "documentation": "<p>Describes an App Runner connection resource.</p>",
      "members": {
        "ConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of this connection.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "ConnectionName": {
          "documentation": "<p>The customer-provided connection name.</p>",
          "shape": "ConnectionName"
        },
        "CreatedAt": {
          "documentation": "<p>The App Runner connection creation time, expressed as a Unix time stamp.</p>",
          "shape": "Timestamp"
        },
        "ProviderType": {
          "documentation": "<p>The source repository provider.</p>",
          "shape": "ProviderType"
        },
        "Status": {
          "documentation": "<p>The current state of the App Runner connection. When the state is <code>AVAILABLE</code>, you can use the connection to create an App Runner service.</p>",
          "shape": "ConnectionStatus"
        }
      },
      "type": "structure"
    },
    "ConnectionName": {
      "max": 32,
      "min": 4,
      "pattern": "[A-Za-z0-9][A-Za-z0-9\\-_]{3,31}",
      "type": "string"
    },
    "ConnectionStatus": {
      "enum": [
        "PENDING_HANDSHAKE",
        "AVAILABLE",
        "ERROR",
        "DELETED"
      ],
      "type": "string"
    },
    "ConnectionSummary": {
      "documentation": "<p>Provides summary information about an App Runner connection resource.</p>",
      "members": {
        "ConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of this connection.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "ConnectionName": {
          "documentation": "<p>The customer-provided connection name.</p>",
          "shape": "ConnectionName"
        },
        "CreatedAt": {
          "documentation": "<p>The App Runner connection creation time, expressed as a Unix time stamp.</p>",
          "shape": "Timestamp"
        },
        "ProviderType": {
          "documentation": "<p>The source repository provider.</p>",
          "shape": "ProviderType"
        },
        "Status": {
          "documentation": "<p>The current state of the App Runner connection. When the state is <code>AVAILABLE</code>, you can use the connection to create an App Runner service.</p>",
          "shape": "ConnectionStatus"
        }
      },
      "type": "structure"
    },
    "ConnectionSummaryList": {
      "member": {
        "shape": "ConnectionSummary"
      },
      "type": "list"
    },
    "Cpu": {
      "max": 6,
      "min": 4,
      "pattern": "1024|2048|(1|2) vCPU",
      "type": "string"
    },
    "CreateAutoScalingConfigurationRequest": {
      "members": {
        "AutoScalingConfigurationName": {
          "documentation": "<p>A name for the auto scaling configuration. When you use it for the first time in an Amazon Web Services Region, App Runner creates revision number <code>1</code> of this name. When you use the same name in subsequent calls, App Runner creates incremental revisions of the configuration.</p> <note> <p>The name <code>DefaultConfiguration</code> is reserved (it's the configuration that App Runner uses if you don't provide a custome one). You can't use it to create a new auto scaling configuration, and you can't create a revision of it.</p> <p>When you want to use your own auto scaling configuration for your App Runner service, <i>create a configuration with a different name</i>, and then provide it when you create or update your service.</p> </note>",
          "shape": "AutoScalingConfigurationName"
        },
        "MaxConcurrency": {
          "documentation": "<p>The maximum number of concurrent requests that you want an instance to process. If the number of concurrent requests exceeds this limit, App Runner scales up your service.</p> <p>Default: <code>100</code> </p>",
          "shape": "ASConfigMaxConcurrency"
        },
        "MaxSize": {
          "documentation": "<p>The maximum number of instances that your service scales up to. At most <code>MaxSize</code> instances actively serve traffic for your service.</p> <p>Default: <code>25</code> </p>",
          "shape": "ASConfigMaxSize"
        },
        "MinSize": {
          "documentation": "<p>The minimum number of instances that App Runner provisions for your service. The service always has at least <code>MinSize</code> provisioned instances. Some of them actively serve traffic. The rest of them (provisioned and inactive instances) are a cost-effective compute capacity reserve and are ready to be quickly activated. You pay for memory usage of all the provisioned instances. You pay for CPU usage of only the active subset.</p> <p>App Runner temporarily doubles the number of provisioned instances during deployments, to maintain the same capacity for both old and new code.</p> <p>Default: <code>1</code> </p>",
          "shape": "ASConfigMinSize"
        },
        "Tags": {
          "documentation": "<p>A list of metadata items that you can associate with your auto scaling configuration resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "AutoScalingConfigurationName"
      ],
      "type": "structure"
    },
    "CreateAutoScalingConfigurationResponse": {
      "members": {
        "AutoScalingConfiguration": {
          "documentation": "<p>A description of the App Runner auto scaling configuration that's created by this request.</p>",
          "shape": "AutoScalingConfiguration"
        }
      },
      "required": [
        "AutoScalingConfiguration"
      ],
      "type": "structure"
    },
    "CreateConnectionRequest": {
      "members": {
        "ConnectionName": {
          "documentation": "<p>A name for the new connection. It must be unique across all App Runner connections for the Amazon Web Services account in the Amazon Web Services Region.</p>",
          "shape": "ConnectionName"
        },
        "ProviderType": {
          "documentation": "<p>The source repository provider.</p>",
          "shape": "ProviderType"
        },
        "Tags": {
          "documentation": "<p>A list of metadata items that you can associate with your connection resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ConnectionName",
        "ProviderType"
      ],
      "type": "structure"
    },
    "CreateConnectionResponse": {
      "members": {
        "Connection": {
          "documentation": "<p>A description of the App Runner connection that's created by this request.</p>",
          "shape": "Connection"
        }
      },
      "required": [
        "Connection"
      ],
      "type": "structure"
    },
    "CreateObservabilityConfigurationRequest": {
      "members": {
        "ObservabilityConfigurationName": {
          "documentation": "<p>A name for the observability configuration. When you use it for the first time in an Amazon Web Services Region, App Runner creates revision number <code>1</code> of this name. When you use the same name in subsequent calls, App Runner creates incremental revisions of the configuration.</p> <note> <p>The name <code>DefaultConfiguration</code> is reserved. You can't use it to create a new observability configuration, and you can't create a revision of it.</p> <p>When you want to use your own observability configuration for your App Runner service, <i>create a configuration with a different name</i>, and then provide it when you create or update your service.</p> </note>",
          "shape": "ObservabilityConfigurationName"
        },
        "Tags": {
          "documentation": "<p>A list of metadata items that you can associate with your observability configuration resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        },
        "TraceConfiguration": {
          "documentation": "<p>The configuration of the tracing feature within this observability configuration. If you don't specify it, App Runner doesn't enable tracing.</p>",
          "shape": "TraceConfiguration"
        }
      },
      "required": [
        "ObservabilityConfigurationName"
      ],
      "type": "structure"
    },
    "CreateObservabilityConfigurationResponse": {
      "members": {
        "ObservabilityConfiguration": {
          "documentation": "<p>A description of the App Runner observability configuration that's created by this request.</p>",
          "shape": "ObservabilityConfiguration"
        }
      },
      "required": [
        "ObservabilityConfiguration"
      ],
      "type": "structure"
    },
    "CreateServiceRequest": {
      "members": {
        "AutoScalingConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an App Runner automatic scaling configuration resource that you want to associate with your service. If not provided, App Runner associates the latest revision of a default auto scaling configuration.</p> <p>Specify an ARN with a name and a revision number to associate that revision. For example: <code>arn:aws:apprunner:us-east-1:123456789012:autoscalingconfiguration/high-availability/3</code> </p> <p>Specify just the name to associate the latest revision. For example: <code>arn:aws:apprunner:us-east-1:123456789012:autoscalingconfiguration/high-availability</code> </p>",
          "shape": "AppRunnerResourceArn"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>An optional custom encryption key that App Runner uses to encrypt the copy of your source repository that it maintains and your service logs. By default, App Runner uses an Amazon Web Services managed key.</p>",
          "shape": "EncryptionConfiguration"
        },
        "HealthCheckConfiguration": {
          "documentation": "<p>The settings for the health check that App Runner performs to monitor the health of the App Runner service.</p>",
          "shape": "HealthCheckConfiguration"
        },
        "InstanceConfiguration": {
          "documentation": "<p>The runtime configuration of instances (scaling units) of your service.</p>",
          "shape": "InstanceConfiguration"
        },
        "NetworkConfiguration": {
          "documentation": "<p>Configuration settings related to network traffic of the web application that the App Runner service runs.</p>",
          "shape": "NetworkConfiguration"
        },
        "ObservabilityConfiguration": {
          "documentation": "<p>The observability configuration of your service.</p>",
          "shape": "ServiceObservabilityConfiguration"
        },
        "ServiceName": {
          "documentation": "<p>A name for the App Runner service. It must be unique across all the running App Runner services in your Amazon Web Services account in the Amazon Web Services Region.</p>",
          "shape": "ServiceName"
        },
        "SourceConfiguration": {
          "documentation": "<p>The source to deploy to the App Runner service. It can be a code or an image repository.</p>",
          "shape": "SourceConfiguration"
        },
        "Tags": {
          "documentation": "<p>An optional list of metadata items that you can associate with the App Runner service resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ServiceName",
        "SourceConfiguration"
      ],
      "type": "structure"
    },
    "CreateServiceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>The unique ID of the asynchronous operation that this request started. You can use it combined with the <a href=\"https://docs.aws.amazon.com/apprunner/latest/api/API_ListOperations.html\">ListOperations</a> call to track the operation's progress.</p>",
          "shape": "UUID"
        },
        "Service": {
          "documentation": "<p>A description of the App Runner service that's created by this request.</p>",
          "shape": "Service"
        }
      },
      "required": [
        "Service",
        "OperationId"
      ],
      "type": "structure"
    },
    "CreateVpcConnectorRequest": {
      "members": {
        "SecurityGroups": {
          "documentation": "<p>A list of IDs of security groups that App Runner should use for access to Amazon Web Services resources under the specified subnets. If not specified, App Runner uses the default security group of the Amazon VPC. The default security group allows all outbound traffic.</p>",
          "shape": "StringList"
        },
        "Subnets": {
          "documentation": "<p>A list of IDs of subnets that App Runner should use when it associates your service with a custom Amazon VPC. Specify IDs of subnets of a single Amazon VPC. App Runner determines the Amazon VPC from the subnets you specify.</p> <note> <p> App Runner currently only provides support for IPv4. </p> </note>",
          "shape": "StringList"
        },
        "Tags": {
          "documentation": "<p>A list of metadata items that you can associate with your VPC connector resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        },
        "VpcConnectorName": {
          "documentation": "<p>A name for the VPC connector.</p>",
          "shape": "VpcConnectorName"
        }
      },
      "required": [
        "VpcConnectorName",
        "Subnets"
      ],
      "type": "structure"
    },
    "CreateVpcConnectorResponse": {
      "members": {
        "VpcConnector": {
          "documentation": "<p>A description of the App Runner VPC connector that's created by this request.</p>",
          "shape": "VpcConnector"
        }
      },
      "required": [
        "VpcConnector"
      ],
      "type": "structure"
    },
    "CreateVpcIngressConnectionRequest": {
      "members": {
        "IngressVpcConfiguration": {
          "documentation": "<p>Specifications for the customer\u2019s Amazon VPC and the related Amazon Web Services PrivateLink VPC endpoint that are used to create the VPC Ingress Connection resource.</p>",
          "shape": "IngressVpcConfiguration"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for this App Runner service that is used to create the VPC Ingress Connection resource.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "Tags": {
          "documentation": "<p>An optional list of metadata items that you can associate with the VPC Ingress Connection resource. A tag is a key-value pair.</p>",
          "shape": "TagList"
        },
        "VpcIngressConnectionName": {
          "documentation": "<p>A name for the VPC Ingress Connection resource. It must be unique across all the active VPC Ingress Connections in your Amazon Web Services account in the Amazon Web Services Region. </p>",
          "shape": "VpcIngressConnectionName"
        }
      },
      "required": [
        "ServiceArn",
        "VpcIngressConnectionName",
        "IngressVpcConfiguration"
      ],
      "type": "structure"
    },
    "CreateVpcIngressConnectionResponse": {
      "members": {
        "VpcIngressConnection": {
          "documentation": "<p>A description of the App Runner VPC Ingress Connection resource that's created by this request. </p>",
          "shape": "VpcIngressConnection"
        }
      },
      "required": [
        "VpcIngressConnection"
      ],
      "type": "structure"
    },
    "CustomDomain": {
      "documentation": "<p>Describes a custom domain that's associated with an App Runner service.</p>",
      "members": {
        "CertificateValidationRecords": {
          "documentation": "<p>A list of certificate CNAME records that's used for this domain name.</p>",
          "shape": "CertificateValidationRecordList"
        },
        "DomainName": {
          "documentation": "<p>An associated custom domain endpoint. It can be a root domain (for example, <code>example.com</code>), a subdomain (for example, <code>login.example.com</code> or <code>admin.login.example.com</code>), or a wildcard (for example, <code>*.example.com</code>).</p>",
          "shape": "DomainName"
        },
        "EnableWWWSubdomain": {
          "documentation": "<p>When <code>true</code>, the subdomain <code>www.<i>DomainName</i> </code> is associated with the App Runner service in addition to the base domain.</p>",
          "shape": "NullableBoolean"
        },
        "Status": {
          "documentation": "<p>The current state of the domain name association.</p>",
          "shape": "CustomDomainAssociationStatus"
        }
      },
      "required": [
        "DomainName",
        "EnableWWWSubdomain",
        "Status"
      ],
      "type": "structure"
    },
    "CustomDomainAssociationStatus": {
      "enum": [
        "CREATING",
        "CREATE_FAILED",
        "ACTIVE",
        "DELETING",
        "DELETE_FAILED",
        "PENDING_CERTIFICATE_DNS_VALIDATION",
        "BINDING_CERTIFICATE"
      ],
      "type": "string"
    },
    "CustomDomainList": {
      "member": {
        "shape": "CustomDomain"
      },
      "type": "list"
    },
    "CustomerAccountId": {
      "max": 12,
      "min": 12,
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "DeleteAutoScalingConfigurationRequest": {
      "members": {
        "AutoScalingConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner auto scaling configuration that you want to delete.</p> <p>The ARN can be a full auto scaling configuration ARN, or a partial ARN ending with either <code>.../<i>name</i> </code> or <code>.../<i>name</i>/<i>revision</i> </code>. If a revision isn't specified, the latest active revision is deleted.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "AutoScalingConfigurationArn"
      ],
      "type": "structure"
    },
    "DeleteAutoScalingConfigurationResponse": {
      "members": {
        "AutoScalingConfiguration": {
          "documentation": "<p>A description of the App Runner auto scaling configuration that this request just deleted.</p>",
          "shape": "AutoScalingConfiguration"
        }
      },
      "required": [
        "AutoScalingConfiguration"
      ],
      "type": "structure"
    },
    "DeleteConnectionRequest": {
      "members": {
        "ConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner connection that you want to delete.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ConnectionArn"
      ],
      "type": "structure"
    },
    "DeleteConnectionResponse": {
      "members": {
        "Connection": {
          "documentation": "<p>A description of the App Runner connection that this request just deleted.</p>",
          "shape": "Connection"
        }
      },
      "type": "structure"
    },
    "DeleteObservabilityConfigurationRequest": {
      "members": {
        "ObservabilityConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner observability configuration that you want to delete.</p> <p>The ARN can be a full observability configuration ARN, or a partial ARN ending with either <code>.../<i>name</i> </code> or <code>.../<i>name</i>/<i>revision</i> </code>. If a revision isn't specified, the latest active revision is deleted.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ObservabilityConfigurationArn"
      ],
      "type": "structure"
    },
    "DeleteObservabilityConfigurationResponse": {
      "members": {
        "ObservabilityConfiguration": {
          "documentation": "<p>A description of the App Runner observability configuration that this request just deleted.</p>",
          "shape": "ObservabilityConfiguration"
        }
      },
      "required": [
        "ObservabilityConfiguration"
      ],
      "type": "structure"
    },
    "DeleteServiceRequest": {
      "members": {
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to delete.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn"
      ],
      "type": "structure"
    },
    "DeleteServiceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>The unique ID of the asynchronous operation that this request started. You can use it combined with the <a>ListOperations</a> call to track the operation's progress.</p>",
          "shape": "UUID"
        },
        "Service": {
          "documentation": "<p>A description of the App Runner service that this request just deleted.</p>",
          "shape": "Service"
        }
      },
      "required": [
        "Service",
        "OperationId"
      ],
      "type": "structure"
    },
    "DeleteVpcConnectorRequest": {
      "members": {
        "VpcConnectorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner VPC connector that you want to delete.</p> <p>The ARN must be a full VPC connector ARN.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "VpcConnectorArn"
      ],
      "type": "structure"
    },
    "DeleteVpcConnectorResponse": {
      "members": {
        "VpcConnector": {
          "documentation": "<p>A description of the App Runner VPC connector that this request just deleted.</p>",
          "shape": "VpcConnector"
        }
      },
      "required": [
        "VpcConnector"
      ],
      "type": "structure"
    },
    "DeleteVpcIngressConnectionRequest": {
      "members": {
        "VpcIngressConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner VPC Ingress Connection that you want to delete.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "VpcIngressConnectionArn"
      ],
      "type": "structure"
    },
    "DeleteVpcIngressConnectionResponse": {
      "members": {
        "VpcIngressConnection": {
          "documentation": "<p>A description of the App Runner VPC Ingress Connection that this request just deleted.</p>",
          "shape": "VpcIngressConnection"
        }
      },
      "required": [
        "VpcIngressConnection"
      ],
      "type": "structure"
    },
    "DescribeAutoScalingConfigurationRequest": {
      "members": {
        "AutoScalingConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner auto scaling configuration that you want a description for.</p> <p>The ARN can be a full auto scaling configuration ARN, or a partial ARN ending with either <code>.../<i>name</i> </code> or <code>.../<i>name</i>/<i>revision</i> </code>. If a revision isn't specified, the latest active revision is described.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "AutoScalingConfigurationArn"
      ],
      "type": "structure"
    },
    "DescribeAutoScalingConfigurationResponse": {
      "members": {
        "AutoScalingConfiguration": {
          "documentation": "<p>A full description of the App Runner auto scaling configuration that you specified in this request.</p>",
          "shape": "AutoScalingConfiguration"
        }
      },
      "required": [
        "AutoScalingConfiguration"
      ],
      "type": "structure"
    },
    "DescribeCustomDomainsMaxResults": {
      "max": 5,
      "min": 1,
      "type": "integer"
    },
    "DescribeCustomDomainsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results that each response (result page) can include. It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "DescribeCustomDomainsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. It's used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones that are specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "String"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want associated custom domain names to be described for.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn"
      ],
      "type": "structure"
    },
    "DescribeCustomDomainsResponse": {
      "members": {
        "CustomDomains": {
          "documentation": "<p>A list of descriptions of custom domain names that are associated with the service. In a paginated request, the request returns up to <code>MaxResults</code> records per call.</p>",
          "shape": "CustomDomainList"
        },
        "DNSTarget": {
          "documentation": "<p>The App Runner subdomain of the App Runner service. The associated custom domain names are mapped to this target name.</p>",
          "shape": "String"
        },
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "String"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service whose associated custom domain names you want to describe.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "VpcDNSTargets": {
          "documentation": "<p>DNS Target records for the custom domains of this Amazon VPC. </p>",
          "shape": "VpcDNSTargetList"
        }
      },
      "required": [
        "DNSTarget",
        "ServiceArn",
        "CustomDomains",
        "VpcDNSTargets"
      ],
      "type": "structure"
    },
    "DescribeObservabilityConfigurationRequest": {
      "members": {
        "ObservabilityConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner observability configuration that you want a description for.</p> <p>The ARN can be a full observability configuration ARN, or a partial ARN ending with either <code>.../<i>name</i> </code> or <code>.../<i>name</i>/<i>revision</i> </code>. If a revision isn't specified, the latest active revision is described.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ObservabilityConfigurationArn"
      ],
      "type": "structure"
    },
    "DescribeObservabilityConfigurationResponse": {
      "members": {
        "ObservabilityConfiguration": {
          "documentation": "<p>A full description of the App Runner observability configuration that you specified in this request.</p>",
          "shape": "ObservabilityConfiguration"
        }
      },
      "required": [
        "ObservabilityConfiguration"
      ],
      "type": "structure"
    },
    "DescribeServiceRequest": {
      "members": {
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want a description for.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn"
      ],
      "type": "structure"
    },
    "DescribeServiceResponse": {
      "members": {
        "Service": {
          "documentation": "<p>A full description of the App Runner service that you specified in this request.</p>",
          "shape": "Service"
        }
      },
      "required": [
        "Service"
      ],
      "type": "structure"
    },
    "DescribeVpcConnectorRequest": {
      "members": {
        "VpcConnectorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner VPC connector that you want a description for.</p> <p>The ARN must be a full VPC connector ARN.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "VpcConnectorArn"
      ],
      "type": "structure"
    },
    "DescribeVpcConnectorResponse": {
      "members": {
        "VpcConnector": {
          "documentation": "<p>A description of the App Runner VPC connector that you specified in this request.</p>",
          "shape": "VpcConnector"
        }
      },
      "required": [
        "VpcConnector"
      ],
      "type": "structure"
    },
    "DescribeVpcIngressConnectionRequest": {
      "members": {
        "VpcIngressConnectionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner VPC Ingress Connection that you want a description for.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "VpcIngressConnectionArn"
      ],
      "type": "structure"
    },
    "DescribeVpcIngressConnectionResponse": {
      "members": {
        "VpcIngressConnection": {
          "documentation": "<p>A description of the App Runner VPC Ingress Connection that you specified in this request.</p>",
          "shape": "VpcIngressConnection"
        }
      },
      "required": [
        "VpcIngressConnection"
      ],
      "type": "structure"
    },
    "DisassociateCustomDomainRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>The domain name that you want to disassociate from the App Runner service.</p>",
          "shape": "DomainName"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want to disassociate a custom domain name from.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn",
        "DomainName"
      ],
      "type": "structure"
    },
    "DisassociateCustomDomainResponse": {
      "members": {
        "CustomDomain": {
          "documentation": "<p>A description of the domain name that's being disassociated.</p>",
          "shape": "CustomDomain"
        },
        "DNSTarget": {
          "documentation": "<p>The App Runner subdomain of the App Runner service. The disassociated custom domain name was mapped to this target name.</p>",
          "shape": "String"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that a custom domain name is disassociated from.</p>",
          "shape": "AppRunnerResourceArn"
        },
        "VpcDNSTargets": {
          "documentation": "<p>DNS Target records for the custom domains of this Amazon VPC. </p>",
          "shape": "VpcDNSTargetList"
        }
      },
      "required": [
        "DNSTarget",
        "ServiceArn",
        "CustomDomain",
        "VpcDNSTargets"
      ],
      "type": "structure"
    },
    "DomainName": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9*.-]{1,255}",
      "type": "string"
    },
    "EgressConfiguration": {
      "documentation": "<p>Describes configuration settings related to outbound network traffic of an App Runner service.</p>",
      "members": {
        "EgressType": {
          "documentation": "<p>The type of egress configuration.</p> <p>Set to <code>DEFAULT</code> for access to resources hosted on public networks.</p> <p>Set to <code>VPC</code> to associate your service to a custom VPC specified by <code>VpcConnectorArn</code>.</p>",
          "shape": "EgressType"
        },
        "VpcConnectorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner VPC connector that you want to associate with your App Runner service. Only valid when <code>EgressType = VPC</code>.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "type": "structure"
    },
    "EgressType": {
      "enum": [
        "DEFAULT",
        "VPC"
      ],
      "type": "string"
    },
    "EncryptionConfiguration": {
      "documentation": "<p>Describes a custom encryption key that App Runner uses to encrypt copies of the source repository and service logs.</p>",
      "members": {
        "KmsKey": {
          "documentation": "<p>The ARN of the KMS key that's used for encryption.</p>",
          "shape": "KmsKeyArn"
        }
      },
      "required": [
        "KmsKey"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 600,
      "type": "string"
    },
    "HealthCheckConfiguration": {
      "documentation": "<p>Describes the settings for the health check that App Runner performs to monitor the health of a service.</p>",
      "members": {
        "HealthyThreshold": {
          "documentation": "<p>The number of consecutive checks that must succeed before App Runner decides that the service is healthy.</p> <p>Default: <code>1</code> </p>",
          "shape": "HealthCheckHealthyThreshold"
        },
        "Interval": {
          "documentation": "<p>The time interval, in seconds, between health checks.</p> <p>Default: <code>5</code> </p>",
          "shape": "HealthCheckInterval"
        },
        "Path": {
          "documentation": "<p>The URL that health check requests are sent to.</p> <p> <code>Path</code> is only applicable when you set <code>Protocol</code> to <code>HTTP</code>.</p> <p>Default: <code>\"/\"</code> </p>",
          "shape": "HealthCheckPath"
        },
        "Protocol": {
          "documentation": "<p>The IP protocol that App Runner uses to perform health checks for your service.</p> <p>If you set <code>Protocol</code> to <code>HTTP</code>, App Runner sends health check requests to the HTTP path specified by <code>Path</code>.</p> <p>Default: <code>TCP</code> </p>",
          "shape": "HealthCheckProtocol"
        },
        "Timeout": {
          "documentation": "<p>The time, in seconds, to wait for a health check response before deciding it failed.</p> <p>Default: <code>2</code> </p>",
          "shape": "HealthCheckTimeout"
        },
        "UnhealthyThreshold": {
          "documentation": "<p>The number of consecutive checks that must fail before App Runner decides that the service is unhealthy.</p> <p>Default: <code>5</code> </p>",
          "shape": "HealthCheckUnhealthyThreshold"
        }
      },
      "type": "structure"
    },
    "HealthCheckHealthyThreshold": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "HealthCheckInterval": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "HealthCheckPath": {
      "min": 1,
      "type": "string"
    },
    "HealthCheckProtocol": {
      "enum": [
        "TCP",
        "HTTP"
      ],
      "type": "string"
    },
    "HealthCheckTimeout": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "HealthCheckUnhealthyThreshold": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ImageConfiguration": {
      "documentation": "<p>Describes the configuration that App Runner uses to run an App Runner service using an image pulled from a source image repository.</p>",
      "members": {
        "Port": {
          "documentation": "<p>The port that your application listens to in the container.</p> <p>Default: <code>8080</code> </p>",
          "shape": "String"
        },
        "RuntimeEnvironmentVariables": {
          "documentation": "<p>Environment variables that are available to your running App Runner service. An array of key-value pairs. Keys with a prefix of <code>AWSAPPRUNNER</code> are reserved for system use and aren't valid.</p>",
          "shape": "RuntimeEnvironmentVariables"
        },
        "StartCommand": {
          "documentation": "<p>An optional command that App Runner runs to start the application in the source image. If specified, this command overrides the Docker image\u2019s default start command.</p>",
          "shape": "StartCommand"
        }
      },
      "type": "structure"
    },
    "ImageIdentifier": {
      "max": 1024,
      "min": 1,
      "pattern": "([0-9]{12}.dkr.ecr.[a-z\\-]+-[0-9]{1}.amazonaws.com\\/((?:[a-z0-9]+(?:[._-][a-z0-9]+)*\\/)*[a-z0-9]+(?:[._-][a-z0-9]+)*)(:([\\w\\d+\\-=._:\\/@])+|@([\\w\\d\\:]+))?)|(^public\\.ecr\\.aws\\/.+\\/((?:[a-z0-9]+(?:[._-][a-z0-9]+)*\\/)*[a-z0-9]+(?:[._-][a-z0-9]+)*)(:([\\w\\d+\\-=._:\\/@])+|@([\\w\\d\\:]+))?)",
      "type": "string"
    },
    "ImageRepository": {
      "documentation": "<p>Describes a source image repository.</p>",
      "members": {
        "ImageConfiguration": {
          "documentation": "<p>Configuration for running the identified image.</p>",
          "shape": "ImageConfiguration"
        },
        "ImageIdentifier": {
          "documentation": "<p>The identifier of an image.</p> <p>For an image in Amazon Elastic Container Registry (Amazon ECR), this is an image name. For the image name format, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-pull-ecr-image.html\">Pulling an image</a> in the <i>Amazon ECR User Guide</i>.</p>",
          "shape": "ImageIdentifier"
        },
        "ImageRepositoryType": {
          "documentation": "<p>The type of the image repository. This reflects the repository provider and whether the repository is private or public.</p>",
          "shape": "ImageRepositoryType"
        }
      },
      "required": [
        "ImageIdentifier",
        "ImageRepositoryType"
      ],
      "type": "structure"
    },
    "ImageRepositoryType": {
      "enum": [
        "ECR",
        "ECR_PUBLIC"
      ],
      "type": "string"
    },
    "IngressConfiguration": {
      "documentation": "<p>Network configuration settings for inbound network traffic.</p>",
      "members": {
        "IsPubliclyAccessible": {
          "documentation": "<p>Specifies whether your App Runner service is publicly accessible. To make the service publicly accessible set it to <code>True</code>. To make the service privately accessible, from only within an Amazon VPC set it to <code>False</code>. </p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "IngressVpcConfiguration": {
      "documentation": "<p>The configuration of your VPC and the associated VPC endpoint. The VPC endpoint is an Amazon Web Services PrivateLink resource that allows access to your App Runner services from within an Amazon VPC.</p>",
      "members": {
        "VpcEndpointId": {
          "documentation": "<p>The ID of the VPC endpoint that your App Runner service connects to. </p>",
          "shape": "String"
        },
        "VpcId": {
          "documentation": "<p>The ID of the VPC that is used for the VPC endpoint.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstanceConfiguration": {
      "documentation": "<p>Describes the runtime configuration of an App Runner service instance (scaling unit).</p>",
      "members": {
        "Cpu": {
          "documentation": "<p>The number of CPU units reserved for each instance of your App Runner service.</p> <p>Default: <code>1 vCPU</code> </p>",
          "shape": "Cpu"
        },
        "InstanceRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that provides permissions to your App Runner service. These are permissions that your code needs when it calls any Amazon Web Services APIs.</p>",
          "shape": "RoleArn"
        },
        "Memory": {
          "documentation": "<p>The amount of memory, in MB or GB, reserved for each instance of your App Runner service.</p> <p>Default: <code>2 GB</code> </p>",
          "shape": "Memory"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServiceErrorException": {
      "documentation": "<p>An unexpected service exception occurred.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>One or more input parameters aren't valid. Refer to the API action's document page, correct the input parameters, and try the action again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidStateException": {
      "documentation": "<p>You can't perform this action when the resource is in its current state.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KmsKeyArn": {
      "max": 256,
      "min": 0,
      "pattern": "arn:aws(-[\\w]+)*:kms:[a-z\\-]+-[0-9]{1}:[0-9]{12}:key\\/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "ListAutoScalingConfigurationsRequest": {
      "members": {
        "AutoScalingConfigurationName": {
          "documentation": "<p>The name of the App Runner auto scaling configuration that you want to list. If specified, App Runner lists revisions that share this name. If not specified, App Runner returns revisions of all active configurations.</p>",
          "shape": "AutoScalingConfigurationName"
        },
        "LatestOnly": {
          "documentation": "<p>Set to <code>true</code> to list only the latest revision for each requested configuration name.</p> <p>Set to <code>false</code> to list all revisions for each requested configuration name.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. It's used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones that are specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAutoScalingConfigurationsResponse": {
      "members": {
        "AutoScalingConfigurationSummaryList": {
          "documentation": "<p>A list of summary information records for auto scaling configurations. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "AutoScalingConfigurationSummaryList"
        },
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "AutoScalingConfigurationSummaryList"
      ],
      "type": "structure"
    },
    "ListConnectionsRequest": {
      "members": {
        "ConnectionName": {
          "documentation": "<p>If specified, only this connection is returned. If not specified, the result isn't filtered by name.</p>",
          "shape": "ConnectionName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). Used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. Used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListConnectionsResponse": {
      "members": {
        "ConnectionSummaryList": {
          "documentation": "<p>A list of summary information records for connections. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "ConnectionSummaryList"
        },
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. Returned in a paginated request.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "ConnectionSummaryList"
      ],
      "type": "structure"
    },
    "ListObservabilityConfigurationsRequest": {
      "members": {
        "LatestOnly": {
          "documentation": "<p>Set to <code>true</code> to list only the latest revision for each requested configuration name.</p> <p>Set to <code>false</code> to list all revisions for each requested configuration name.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. It's used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones that are specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "NextToken"
        },
        "ObservabilityConfigurationName": {
          "documentation": "<p>The name of the App Runner observability configuration that you want to list. If specified, App Runner lists revisions that share this name. If not specified, App Runner returns revisions of all active configurations.</p>",
          "shape": "ObservabilityConfigurationName"
        }
      },
      "type": "structure"
    },
    "ListObservabilityConfigurationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "NextToken"
        },
        "ObservabilityConfigurationSummaryList": {
          "documentation": "<p>A list of summary information records for observability configurations. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "ObservabilityConfigurationSummaryList"
        }
      },
      "required": [
        "ObservabilityConfigurationSummaryList"
      ],
      "type": "structure"
    },
    "ListOperationsMaxResults": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListOperationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "ListOperationsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. It's used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "String"
        },
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the App Runner service that you want a list of operations for.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ServiceArn"
      ],
      "type": "structure"
    },
    "ListOperationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "String"
        },
        "OperationSummaryList": {
          "documentation": "<p>A list of operation summary information records. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "OperationSummaryList"
        }
      },
      "type": "structure"
    },
    "ListServicesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "ServiceMaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. Used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListServicesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "String"
        },
        "ServiceSummaryList": {
          "documentation": "<p>A list of service summary information records. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "ServiceSummaryList"
        }
      },
      "required": [
        "ServiceSummaryList"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource that a tag list is requested for.</p> <p>It must be the ARN of an App Runner resource.</p>",
          "shape": "AppRunnerResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>A list of the tag key-value pairs that are associated with the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListVpcConnectorsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to include in each response (result page). It's used for a paginated request.</p> <p>If you don't specify <code>MaxResults</code>, the request retrieves all available results in a single response.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token from a previous result page. It's used for a paginated request. The request retrieves the next result page. All other parameter values must be identical to the ones that are specified in the initial request.</p> <p>If you don't specify <code>NextToken</code>, the request retrieves the first result page.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListVpcConnectorsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that you can pass in a subsequent request to get the next result page. It's returned in a paginated request.</p>",
          "shape": "NextToken"
        },
        "VpcConnectors": {
          "documentation": "<p>A list of information records for VPC connectors. In a paginated request, the request returns up to <code>MaxResults</code> records for each call.</p>",
          "shape": "VpcConnectors"
        }
      },
      "required": [
        "VpcConnectors"
      ],
      "type": "structure"
    },
    "ListVpcIngressConnectionsFilter": {
      "documentation": "<p>Returns a list of VPC Ingress Connections based on the filter provided. It can return either <code>ServiceArn</code> or <code>VpcEndpointId</code>, or both.</p>",
      "members": {
        "ServiceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a service to filter by. </p>",
          "shape": "AppRunnerResourceArn"
        },
        "VpcEndpointId": {
          "documentation": "<p>The ID of a VPC Endpoint to filter by. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListVpcIngressConnectionsRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>The VPC Ingress Connections to be listed based on either the Service Arn or Vpc Endpoint Id, or both.</p>",
          "shape": "ListVpcIngressConnectionsFilter"
        },
[...]
