{
  "documentation": "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.</p>",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "comprehend",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Comprehend",
    "serviceId": "Comprehend",
    "signatureVersion": "v4",
    "signingName": "comprehend",
    "targetPrefix": "Comprehend_20171127",
    "uid": "comprehend-2017-11-27"
  },
  "operations": {
    "BatchDetectDominantLanguage": {
      "documentation": "<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectDominantLanguageRequest"
      },
      "name": "BatchDetectDominantLanguage",
      "output": {
        "shape": "BatchDetectDominantLanguageResponse"
      }
    },
    "BatchDetectEntities": {
      "documentation": "<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-entities.html\">Entities</a> in the Comprehend Developer Guide. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectEntitiesRequest"
      },
      "name": "BatchDetectEntities",
      "output": {
        "shape": "BatchDetectEntitiesResponse"
      }
    },
    "BatchDetectKeyPhrases": {
      "documentation": "<p>Detects the key noun phrases found in a batch of documents.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectKeyPhrasesRequest"
      },
      "name": "BatchDetectKeyPhrases",
      "output": {
        "shape": "BatchDetectKeyPhrasesResponse"
      }
    },
    "BatchDetectSentiment": {
      "documentation": "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectSentimentRequest"
      },
      "name": "BatchDetectSentiment",
      "output": {
        "shape": "BatchDetectSentimentResponse"
      }
    },
    "BatchDetectSyntax": {
      "documentation": "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-syntax.html\">Syntax</a> in the Comprehend Developer Guide. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectSyntaxRequest"
      },
      "name": "BatchDetectSyntax",
      "output": {
        "shape": "BatchDetectSyntaxResponse"
      }
    },
    "BatchDetectTargetedSentiment": {
      "documentation": "<p>Inspects a batch of documents and returns a sentiment analysis for each entity identified in the documents.</p> <p>For more information about targeted sentiment, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-targeted-sentiment.html\">Targeted sentiment</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectTargetedSentimentRequest"
      },
      "name": "BatchDetectTargetedSentiment",
      "output": {
        "shape": "BatchDetectTargetedSentimentResponse"
      }
    },
    "ClassifyDocument": {
      "documentation": "<p>Creates a new document classification request to analyze a single document in real-time, using a previously created and trained custom model and an endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ClassifyDocumentRequest"
      },
      "name": "ClassifyDocument",
      "output": {
        "shape": "ClassifyDocumentResponse"
      }
    },
    "ContainsPiiEntities": {
      "documentation": "<p>Analyzes input text for the presence of personally identifiable information (PII) and returns the labels of identified PII entity types such as name, address, bank account number, or phone number.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ContainsPiiEntitiesRequest"
      },
      "name": "ContainsPiiEntities",
      "output": {
        "shape": "ContainsPiiEntitiesResponse"
      }
    },
    "CreateDocumentClassifier": {
      "documentation": "<p>Creates a new document classifier that you can use to categorize documents. To create a classifier, you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-document-classification.html\">Document Classification</a> in the Comprehend Developer Guide. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDocumentClassifierRequest"
      },
      "name": "CreateDocumentClassifier",
      "output": {
        "shape": "CreateDocumentClassifierResponse"
      }
    },
    "CreateEndpoint": {
      "documentation": "<p>Creates a model-specific endpoint for synchronous inference for a previously trained custom model For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointRequest"
      },
      "name": "CreateEndpoint",
      "output": {
        "shape": "CreateEndpointResponse"
      }
    },
    "CreateEntityRecognizer": {
      "documentation": "<p>Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEntityRecognizerRequest"
      },
      "name": "CreateEntityRecognizer",
      "output": {
        "shape": "CreateEntityRecognizerResponse"
      }
    },
    "DeleteDocumentClassifier": {
      "documentation": "<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDocumentClassifierRequest"
      },
      "name": "DeleteDocumentClassifier",
      "output": {
        "shape": "DeleteDocumentClassifierResponse"
      }
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes a model-specific endpoint for a previously-trained custom model. All endpoints must be deleted in order for the model to be deleted. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointRequest"
      },
      "name": "DeleteEndpoint",
      "output": {
        "shape": "DeleteEndpointResponse"
      }
    },
    "DeleteEntityRecognizer": {
      "documentation": "<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEntityRecognizerRequest"
      },
      "name": "DeleteEntityRecognizer",
      "output": {
        "shape": "DeleteEntityRecognizerResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a resource-based policy that is attached to a custom model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DescribeDocumentClassificationJob": {
      "documentation": "<p>Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentClassificationJobRequest"
      },
      "name": "DescribeDocumentClassificationJob",
      "output": {
        "shape": "DescribeDocumentClassificationJobResponse"
      }
    },
    "DescribeDocumentClassifier": {
      "documentation": "<p>Gets the properties associated with a document classifier.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentClassifierRequest"
      },
      "name": "DescribeDocumentClassifier",
      "output": {
        "shape": "DescribeDocumentClassifierResponse"
      }
    },
    "DescribeDominantLanguageDetectionJob": {
      "documentation": "<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDominantLanguageDetectionJobRequest"
      },
      "name": "DescribeDominantLanguageDetectionJob",
      "output": {
        "shape": "DescribeDominantLanguageDetectionJobResponse"
      }
    },
    "DescribeEndpoint": {
      "documentation": "<p>Gets the properties associated with a specific endpoint. Use this operation to get the status of an endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointRequest"
      },
      "name": "DescribeEndpoint",
      "output": {
        "shape": "DescribeEndpointResponse"
      }
    },
    "DescribeEntitiesDetectionJob": {
      "documentation": "<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntitiesDetectionJobRequest"
      },
      "name": "DescribeEntitiesDetectionJob",
      "output": {
        "shape": "DescribeEntitiesDetectionJobResponse"
      }
    },
    "DescribeEntityRecognizer": {
      "documentation": "<p>Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntityRecognizerRequest"
      },
      "name": "DescribeEntityRecognizer",
      "output": {
        "shape": "DescribeEntityRecognizerResponse"
      }
    },
    "DescribeEventsDetectionJob": {
      "documentation": "<p>Gets the status and details of an events detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsDetectionJobRequest"
      },
      "name": "DescribeEventsDetectionJob",
      "output": {
        "shape": "DescribeEventsDetectionJobResponse"
      }
    },
    "DescribeKeyPhrasesDetectionJob": {
      "documentation": "<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeKeyPhrasesDetectionJobRequest"
      },
      "name": "DescribeKeyPhrasesDetectionJob",
      "output": {
        "shape": "DescribeKeyPhrasesDetectionJobResponse"
      }
    },
    "DescribePiiEntitiesDetectionJob": {
      "documentation": "<p>Gets the properties associated with a PII entities detection job. For example, you can use this operation to get the job status.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePiiEntitiesDetectionJobRequest"
      },
      "name": "DescribePiiEntitiesDetectionJob",
      "output": {
        "shape": "DescribePiiEntitiesDetectionJobResponse"
      }
    },
    "DescribeResourcePolicy": {
      "documentation": "<p>Gets the details of a resource-based policy that is attached to a custom model, including the JSON body of the policy.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourcePolicyRequest"
      },
      "name": "DescribeResourcePolicy",
      "output": {
        "shape": "DescribeResourcePolicyResponse"
      }
    },
    "DescribeSentimentDetectionJob": {
      "documentation": "<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSentimentDetectionJobRequest"
      },
      "name": "DescribeSentimentDetectionJob",
      "output": {
        "shape": "DescribeSentimentDetectionJobResponse"
      }
    },
    "DescribeTargetedSentimentDetectionJob": {
      "documentation": "<p>Gets the properties associated with a targeted sentiment detection job. Use this operation to get the status of the job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTargetedSentimentDetectionJobRequest"
      },
      "name": "DescribeTargetedSentimentDetectionJob",
      "output": {
        "shape": "DescribeTargetedSentimentDetectionJobResponse"
      }
    },
    "DescribeTopicsDetectionJob": {
      "documentation": "<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTopicsDetectionJobRequest"
      },
      "name": "DescribeTopicsDetectionJob",
      "output": {
        "shape": "DescribeTopicsDetectionJobResponse"
      }
    },
    "DetectDominantLanguage": {
      "documentation": "<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectDominantLanguageRequest"
      },
      "name": "DetectDominantLanguage",
      "output": {
        "shape": "DetectDominantLanguageResponse"
      }
    },
    "DetectEntities": {
      "documentation": "<p>Inspects text for named entities, and returns information about them. For more information, about named entities, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-entities.html\">Entities</a> in the Comprehend Developer Guide.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectEntitiesRequest"
      },
      "name": "DetectEntities",
      "output": {
        "shape": "DetectEntitiesResponse"
      }
    },
    "DetectKeyPhrases": {
      "documentation": "<p>Detects the key noun phrases found in the text. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectKeyPhrasesRequest"
      },
      "name": "DetectKeyPhrases",
      "output": {
        "shape": "DetectKeyPhrasesResponse"
      }
    },
    "DetectPiiEntities": {
      "documentation": "<p>Inspects the input text for entities that contain personally identifiable information (PII) and returns information about them.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectPiiEntitiesRequest"
      },
      "name": "DetectPiiEntities",
      "output": {
        "shape": "DetectPiiEntitiesResponse"
      }
    },
    "DetectSentiment": {
      "documentation": "<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectSentimentRequest"
      },
      "name": "DetectSentiment",
      "output": {
        "shape": "DetectSentimentResponse"
      }
    },
    "DetectSyntax": {
      "documentation": "<p>Inspects text for syntax and the part of speech of words in the document. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-syntax.html\">Syntax</a> in the Comprehend Developer Guide. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectSyntaxRequest"
      },
      "name": "DetectSyntax",
      "output": {
        "shape": "DetectSyntaxResponse"
      }
    },
    "DetectTargetedSentiment": {
      "documentation": "<p>Inspects the input text and returns a sentiment analysis for each entity identified in the text.</p> <p>For more information about targeted sentiment, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-targeted-sentiment.html\">Targeted sentiment</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectTargetedSentimentRequest"
      },
      "name": "DetectTargetedSentiment",
      "output": {
        "shape": "DetectTargetedSentimentResponse"
      }
    },
    "ImportModel": {
      "documentation": "<p>Creates a new custom model that replicates a source custom model that you import. The source model can be in your AWS account or another one.</p> <p>If the source model is in another AWS account, then it must have a resource-based policy that authorizes you to import it.</p> <p>The source model must be in the same AWS region that you're using when you import. You can't import a model that's in a different region.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportModelRequest"
      },
      "name": "ImportModel",
      "output": {
        "shape": "ImportModelResponse"
      }
    },
    "ListDocumentClassificationJobs": {
      "documentation": "<p>Gets a list of the documentation classification jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentClassificationJobsRequest"
      },
      "name": "ListDocumentClassificationJobs",
      "output": {
        "shape": "ListDocumentClassificationJobsResponse"
      }
    },
    "ListDocumentClassifierSummaries": {
      "documentation": "<p>Gets a list of summaries of the document classifiers that you have created</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentClassifierSummariesRequest"
      },
      "name": "ListDocumentClassifierSummaries",
      "output": {
        "shape": "ListDocumentClassifierSummariesResponse"
      }
    },
    "ListDocumentClassifiers": {
      "documentation": "<p>Gets a list of the document classifiers that you have created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentClassifiersRequest"
      },
      "name": "ListDocumentClassifiers",
      "output": {
        "shape": "ListDocumentClassifiersResponse"
      }
    },
    "ListDominantLanguageDetectionJobs": {
      "documentation": "<p>Gets a list of the dominant language detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDominantLanguageDetectionJobsRequest"
      },
      "name": "ListDominantLanguageDetectionJobs",
      "output": {
        "shape": "ListDominantLanguageDetectionJobsResponse"
      }
    },
    "ListEndpoints": {
      "documentation": "<p>Gets a list of all existing endpoints that you've created. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointsRequest"
      },
      "name": "ListEndpoints",
      "output": {
        "shape": "ListEndpointsResponse"
      }
    },
    "ListEntitiesDetectionJobs": {
      "documentation": "<p>Gets a list of the entity detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntitiesDetectionJobsRequest"
      },
      "name": "ListEntitiesDetectionJobs",
      "output": {
        "shape": "ListEntitiesDetectionJobsResponse"
      }
    },
    "ListEntityRecognizerSummaries": {
      "documentation": "<p>Gets a list of summaries for the entity recognizers that you have created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntityRecognizerSummariesRequest"
      },
      "name": "ListEntityRecognizerSummaries",
      "output": {
        "shape": "ListEntityRecognizerSummariesResponse"
      }
    },
    "ListEntityRecognizers": {
      "documentation": "<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntityRecognizersRequest"
      },
      "name": "ListEntityRecognizers",
      "output": {
        "shape": "ListEntityRecognizersResponse"
      }
    },
    "ListEventsDetectionJobs": {
      "documentation": "<p>Gets a list of the events detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEventsDetectionJobsRequest"
      },
      "name": "ListEventsDetectionJobs",
      "output": {
        "shape": "ListEventsDetectionJobsResponse"
      }
    },
    "ListKeyPhrasesDetectionJobs": {
      "documentation": "<p>Get a list of key phrase detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListKeyPhrasesDetectionJobsRequest"
      },
      "name": "ListKeyPhrasesDetectionJobs",
      "output": {
        "shape": "ListKeyPhrasesDetectionJobsResponse"
      }
    },
    "ListPiiEntitiesDetectionJobs": {
      "documentation": "<p>Gets a list of the PII entity detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPiiEntitiesDetectionJobsRequest"
      },
      "name": "ListPiiEntitiesDetectionJobs",
      "output": {
        "shape": "ListPiiEntitiesDetectionJobsResponse"
      }
    },
    "ListSentimentDetectionJobs": {
      "documentation": "<p>Gets a list of sentiment detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSentimentDetectionJobsRequest"
      },
      "name": "ListSentimentDetectionJobs",
      "output": {
        "shape": "ListSentimentDetectionJobsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with a given Amazon Comprehend resource. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTargetedSentimentDetectionJobs": {
      "documentation": "<p>Gets a list of targeted sentiment detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTargetedSentimentDetectionJobsRequest"
      },
      "name": "ListTargetedSentimentDetectionJobs",
      "output": {
        "shape": "ListTargetedSentimentDetectionJobsResponse"
      }
    },
    "ListTopicsDetectionJobs": {
      "documentation": "<p>Gets a list of the topic detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTopicsDetectionJobsRequest"
      },
      "name": "ListTopicsDetectionJobs",
      "output": {
        "shape": "ListTopicsDetectionJobsResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Attaches a resource-based policy to a custom model. You can use this policy to authorize an entity in another AWS account to import the custom model, which replicates it in Amazon Comprehend in their account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "StartDocumentClassificationJob": {
      "documentation": "<p>Starts an asynchronous document classification job. Use the operation to track the progress of the job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDocumentClassificationJobRequest"
      },
      "name": "StartDocumentClassificationJob",
      "output": {
        "shape": "StartDocumentClassificationJobResponse"
      }
    },
    "StartDominantLanguageDetectionJob": {
      "documentation": "<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDominantLanguageDetectionJobRequest"
      },
      "name": "StartDominantLanguageDetectionJob",
      "output": {
        "shape": "StartDominantLanguageDetectionJobResponse"
      }
    },
    "StartEntitiesDetectionJob": {
      "documentation": "<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEntitiesDetectionJobRequest"
      },
      "name": "StartEntitiesDetectionJob",
      "output": {
        "shape": "StartEntitiesDetectionJobResponse"
      }
    },
    "StartEventsDetectionJob": {
      "documentation": "<p>Starts an asynchronous event detection job for a collection of documents.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEventsDetectionJobRequest"
      },
      "name": "StartEventsDetectionJob",
      "output": {
        "shape": "StartEventsDetectionJobResponse"
      }
    },
    "StartKeyPhrasesDetectionJob": {
      "documentation": "<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartKeyPhrasesDetectionJobRequest"
      },
      "name": "StartKeyPhrasesDetectionJob",
      "output": {
        "shape": "StartKeyPhrasesDetectionJobResponse"
      }
    },
    "StartPiiEntitiesDetectionJob": {
      "documentation": "<p>Starts an asynchronous PII entity detection job for a collection of documents.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartPiiEntitiesDetectionJobRequest"
      },
      "name": "StartPiiEntitiesDetectionJob",
      "output": {
        "shape": "StartPiiEntitiesDetectionJobResponse"
      }
    },
    "StartSentimentDetectionJob": {
      "documentation": "<p>Starts an asynchronous sentiment detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSentimentDetectionJobRequest"
      },
      "name": "StartSentimentDetectionJob",
      "output": {
        "shape": "StartSentimentDetectionJobResponse"
      }
    },
    "StartTargetedSentimentDetectionJob": {
      "documentation": "<p>Starts an asynchronous targeted sentiment detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTargetedSentimentDetectionJobRequest"
      },
      "name": "StartTargetedSentimentDetectionJob",
      "output": {
        "shape": "StartTargetedSentimentDetectionJobResponse"
      }
    },
    "StartTopicsDetectionJob": {
      "documentation": "<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTopicsDetectionJobRequest"
      },
      "name": "StartTopicsDetectionJob",
      "output": {
        "shape": "StartTopicsDetectionJobResponse"
      }
    },
    "StopDominantLanguageDetectionJob": {
      "documentation": "<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDominantLanguageDetectionJobRequest"
      },
      "name": "StopDominantLanguageDetectionJob",
      "output": {
        "shape": "StopDominantLanguageDetectionJobResponse"
      }
    },
    "StopEntitiesDetectionJob": {
      "documentation": "<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEntitiesDetectionJobRequest"
      },
      "name": "StopEntitiesDetectionJob",
      "output": {
        "shape": "StopEntitiesDetectionJobResponse"
      }
    },
    "StopEventsDetectionJob": {
      "documentation": "<p>Stops an events detection job in progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEventsDetectionJobRequest"
      },
      "name": "StopEventsDetectionJob",
      "output": {
        "shape": "StopEventsDetectionJobResponse"
      }
    },
    "StopKeyPhrasesDetectionJob": {
      "documentation": "<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopKeyPhrasesDetectionJobRequest"
      },
      "name": "StopKeyPhrasesDetectionJob",
      "output": {
        "shape": "StopKeyPhrasesDetectionJobResponse"
      }
    },
    "StopPiiEntitiesDetectionJob": {
      "documentation": "<p>Stops a PII entities detection job in progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopPiiEntitiesDetectionJobRequest"
      },
      "name": "StopPiiEntitiesDetectionJob",
      "output": {
        "shape": "StopPiiEntitiesDetectionJobResponse"
      }
    },
    "StopSentimentDetectionJob": {
      "documentation": "<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopSentimentDetectionJobRequest"
      },
      "name": "StopSentimentDetectionJob",
      "output": {
        "shape": "StopSentimentDetectionJobResponse"
      }
    },
    "StopTargetedSentimentDetectionJob": {
      "documentation": "<p>Stops a targeted sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTargetedSentimentDetectionJobRequest"
      },
      "name": "StopTargetedSentimentDetectionJob",
      "output": {
        "shape": "StopTargetedSentimentDetectionJobResponse"
      }
    },
    "StopTrainingDocumentClassifier": {
      "documentation": "<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingDocumentClassifierRequest"
      },
      "name": "StopTrainingDocumentClassifier",
      "output": {
        "shape": "StopTrainingDocumentClassifierResponse"
      }
    },
    "StopTrainingEntityRecognizer": {
      "documentation": "<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingEntityRecognizerRequest"
      },
      "name": "StopTrainingEntityRecognizer",
      "output": {
        "shape": "StopTrainingEntityRecognizerResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a specific tag with an Amazon Comprehend resource. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a specific tag associated with an Amazon Comprehend resource. </p>",
      "errors": [
        {
          "shape": "TooManyTagKeysException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateEndpoint": {
      "documentation": "<p>Updates information about the specified endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointRequest"
      },
      "name": "UpdateEndpoint",
      "output": {
        "shape": "UpdateEndpointResponse"
      }
    }
  },
  "shapes": {
    "AnyLengthString": {
      "type": "string"
    },
    "AttributeNamesList": {
      "member": {
        "shape": "AttributeNamesListItem"
      },
      "type": "list"
    },
    "AttributeNamesListItem": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "AugmentedManifestsDocumentTypeFormat": {
      "enum": [
        "PLAIN_TEXT_DOCUMENT",
        "SEMI_STRUCTURED_DOCUMENT"
      ],
      "type": "string"
    },
    "AugmentedManifestsListItem": {
      "documentation": "<p>An augmented manifest file that provides training data for your custom model. An augmented manifest file is a labeled dataset that is produced by Amazon SageMaker Ground Truth.</p>",
      "members": {
        "AnnotationDataS3Uri": {
          "documentation": "<p>The S3 prefix to the annotation files that are referred in the augmented manifest file.</p>",
          "shape": "S3Uri"
        },
        "AttributeNames": {
          "documentation": "<p>The JSON attribute that contains the annotations for your training documents. The number of attribute names that you specify depends on whether your augmented manifest file is the output of a single labeling job or a chained labeling job.</p> <p>If your file is the output of a single labeling job, specify the LabelAttributeName key that was used when the job was created in Ground Truth.</p> <p>If your file is the output of a chained labeling job, specify the LabelAttributeName key for one or more jobs in the chain. Each LabelAttributeName key provides the annotations from an individual job.</p>",
          "shape": "AttributeNamesList"
        },
        "DocumentType": {
          "documentation": "<p>The type of augmented manifest. PlainTextDocument or SemiStructuredDocument. If you don't specify, the default is PlainTextDocument. </p> <ul> <li> <p> <code>PLAIN_TEXT_DOCUMENT</code> A document type that represents any unicode text that is encoded in UTF-8.</p> </li> <li> <p> <code>SEMI_STRUCTURED_DOCUMENT</code> A document type with positional and structural context, like a PDF. For training with Amazon Comprehend, only PDFs are supported. For inference, Amazon Comprehend support PDFs, DOCX and TXT.</p> </li> </ul>",
          "shape": "AugmentedManifestsDocumentTypeFormat"
        },
        "S3Uri": {
          "documentation": "<p>The Amazon S3 location of the augmented manifest file.</p>",
          "shape": "S3Uri"
        },
        "SourceDocumentsS3Uri": {
          "documentation": "<p>The S3 prefix to the source files (PDFs) that are referred to in the augmented manifest file.</p>",
          "shape": "S3Uri"
        },
        "Split": {
          "documentation": "<p>The purpose of the data you've provided in the augmented manifest. You can either train or test this data. If you don't specify, the default is train.</p> <p>TRAIN - all of the documents in the manifest will be used for training. If no test documents are provided, Amazon Comprehend will automatically reserve a portion of the training documents for testing.</p> <p> TEST - all of the documents in the manifest will be used for testing.</p>",
          "shape": "Split"
        }
      },
      "required": [
        "S3Uri",
        "AttributeNames"
      ],
      "type": "structure"
    },
    "BatchDetectDominantLanguageItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "Languages": {
          "documentation": "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "shape": "ListOfDominantLanguages"
        }
      },
      "type": "structure"
    },
    "BatchDetectDominantLanguageRequest": {
      "members": {
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters. The maximum size of each document is 5 KB.</p>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList"
      ],
      "type": "structure"
    },
    "BatchDetectDominantLanguageResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectDominantLanguageResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchDetectEntitiesItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Entities": {
          "documentation": "<p>One or more <a>Entity</a> objects, one for each entity detected in the document.</p>",
          "shape": "ListOfEntities"
        },
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchDetectEntitiesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectEntitiesResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectEntitiesResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchDetectKeyPhrasesItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "KeyPhrases": {
          "documentation": "<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.</p>",
          "shape": "ListOfKeyPhrases"
        }
      },
      "type": "structure"
    },
    "BatchDetectKeyPhrasesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectKeyPhrasesResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectKeyPhrasesResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchDetectSentimentItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "Sentiment": {
          "documentation": "<p>The sentiment detected in the document.</p>",
          "shape": "SentimentType"
        },
        "SentimentScore": {
          "documentation": "<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.</p>",
          "shape": "SentimentScore"
        }
      },
      "type": "structure"
    },
    "BatchDetectSentimentRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB. </p> <note> <p>Amazon Comprehend performs real-time sentiment analysis on the first 500 characters of the input text and ignores any additional text in the input.</p> </note>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectSentimentResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectSentimentResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchDetectSyntaxItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "SyntaxTokens": {
          "documentation": "<p>The syntax tokens for the words in the document, one token for each word.</p>",
          "shape": "ListOfSyntaxTokens"
        }
      },
      "type": "structure"
    },
    "BatchDetectSyntaxRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
          "shape": "SyntaxLanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size for each document is 5 KB.</p>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectSyntaxResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectSyntaxResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchDetectTargetedSentimentItemResult": {
      "documentation": "<p>Analysis results for one of the documents in the batch.</p>",
      "members": {
        "Entities": {
          "documentation": "<p>An array of targeted sentiment entities.</p>",
          "shape": "ListOfTargetedSentimentEntities"
        },
        "Index": {
          "documentation": "<p>The zero-based index of this result in the input list.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchDetectTargetedSentimentRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. Currently, English is the only supported language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>",
          "shape": "CustomerInputStringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectTargetedSentimentResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>List of errors that the operation can return.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectTargetedSentimentResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchItemError": {
      "documentation": "<p>Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The numeric error code of the error.</p>",
          "shape": "String"
        },
        "ErrorMessage": {
          "documentation": "<p>A text description of the error.</p>",
          "shape": "String"
        },
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchItemErrorList": {
      "member": {
        "shape": "BatchItemError"
      },
      "type": "list"
    },
    "BatchSizeLimitExceededException": {
      "documentation": "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ClassifierEvaluationMetrics": {
      "documentation": "<p>Describes the result metrics for the test data associated with an documentation classifier.</p>",
      "members": {
        "Accuracy": {
          "documentation": "<p>The fraction of the labels that were correct recognized. It is computed by dividing the number of labels in the test documents that were correctly recognized by the total number of labels in the test documents.</p>",
          "shape": "Double"
        },
        "F1Score": {
          "documentation": "<p>A measure of how accurate the classifier results are for the test data. It is derived from the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>",
          "shape": "Double"
        },
        "HammingLoss": {
          "documentation": "<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction of wrong labels compared to the total number of labels. Scores closer to zero are better.</p>",
          "shape": "Double"
        },
        "MicroF1Score": {
          "documentation": "<p>A measure of how accurate the classifier results are for the test data. It is a combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1, and the worst score is 0.</p>",
          "shape": "Double"
        },
        "MicroPrecision": {
          "documentation": "<p>A measure of the usefulness of the recognizer results in the test data. High precision means that the recognizer returned substantially more relevant results than irrelevant ones. Unlike the Precision metric which comes from averaging the precision of all available labels, this is based on the overall score of all precision scores added together.</p>",
          "shape": "Double"
        },
        "MicroRecall": {
          "documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. Specifically, this indicates how many of the correct categories in the text that the model can predict. It is a percentage of correct categories in the text that can found. Instead of averaging the recall scores of all labels (as with Recall), micro Recall is based on the overall score of all recall scores added together.</p>",
          "shape": "Double"
        },
        "Precision": {
          "documentation": "<p>A measure of the usefulness of the classifier results in the test data. High precision means that the classifier returned substantially more relevant results than irrelevant ones.</p>",
          "shape": "Double"
        },
        "Recall": {
          "documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. </p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "ClassifierMetadata": {
      "documentation": "<p>Provides information about a document classifier.</p>",
      "members": {
        "EvaluationMetrics": {
          "documentation": "<p> Describes the result metrics for the test data associated with an documentation classifier.</p>",
          "shape": "ClassifierEvaluationMetrics"
        },
        "NumberOfLabels": {
          "documentation": "<p>The number of labels in the input data. </p>",
          "shape": "Integer"
        },
        "NumberOfTestDocuments": {
          "documentation": "<p>The number of documents in the input data that were used to test the classifier. Typically this is 10 to 20 percent of the input documents, up to 10,000 documents.</p>",
          "shape": "Integer"
        },
        "NumberOfTrainedDocuments": {
          "documentation": "<p>The number of documents in the input data that were used to train the classifier. Typically this is 80 to 90 percent of the input documents.</p>",
          "shape": "Integer"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ClassifyDocumentRequest": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
          "shape": "DocumentClassifierEndpointArn"
        },
        "Text": {
          "documentation": "<p>The document text to be analyzed.</p>",
          "shape": "CustomerInputString"
        }
      },
      "required": [
        "Text",
        "EndpointArn"
      ],
      "type": "structure"
    },
    "ClassifyDocumentResponse": {
      "members": {
        "Classes": {
          "documentation": "<p>The classes used by the document being analyzed. These are used for multi-class trained models. Individual classes are mutually exclusive and each document is expected to have only a single class assigned to it. For example, an animal can be a dog or a cat, but not both at the same time. </p>",
          "shape": "ListOfClasses"
        },
        "Labels": {
          "documentation": "<p>The labels used the document being analyzed. These are used for multi-label trained models. Individual labels represent different categories that are related in some manner and are not mutually exclusive. For example, a movie can be just an action movie, or it can be an action movie, a science fiction movie, and a comedy, all at the same time. </p>",
          "shape": "ListOfLabels"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ClientRequestTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ComprehendArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*)?",
      "type": "string"
    },
    "ComprehendArnName": {
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ComprehendEndpointArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "ComprehendEndpointName": {
      "max": 40,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ComprehendModelArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier|entity-recognizer)/[a-zA-Z0-9](-*[a-zA-Z0-9])*(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*)?",
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Concurrent modification of the tags associated with an Amazon Comprehend resource is not supported. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ContainsPiiEntitiesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. Currently, English is the only valid language.</p>",
          "shape": "LanguageCode"
        },
        "Text": {
          "documentation": "<p>A UTF-8 text string. The maximum string size is 100 KB.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "ContainsPiiEntitiesResponse": {
      "members": {
        "Labels": {
          "documentation": "<p>The labels used in the document being analyzed. Individual labels represent personally identifiable information (PII) entity types.</p>",
          "shape": "ListOfEntityLabels"
        }
      },
      "type": "structure"
    },
    "CreateDocumentClassifierRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "DocumentClassifierName": {
          "documentation": "<p>The name of the document classifier.</p>",
          "shape": "ComprehendArnName"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data for the job.</p>",
          "shape": "DocumentClassifierInputDataConfig"
        },
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "Mode": {
          "documentation": "<p>Indicates the mode in which the classifier will be trained. The classifier can be trained in multi-class mode, which identifies one and only one class for each document, or multi-label mode, which identifies one or more labels for each document. In multi-label mode, multiple labels for an individual document are separated by a delimiter. The default delimiter between labels is a pipe (|).</p>",
          "shape": "DocumentClassifierMode"
        },
        "ModelKmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt trained custom models. The ModelKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "ModelPolicy": {
          "documentation": "<p>The resource-based policy to attach to your custom document classifier model. You can use this policy to allow another AWS account to import your custom model.</p> <p>Provide your policy as a JSON body that you enter as a UTF-8 encoded string without line breaks. To provide valid JSON, enclose the attribute names and values in double quotes. If the JSON body is also enclosed in double quotes, then you must escape the double quotes that are inside the policy:</p> <p> <code>\"{\\\"attribute\\\": \\\"value\\\", \\\"attribute\\\": [\\\"value\\\"]}\"</code> </p> <p>To avoid escaping quotes, you can use single quotes to enclose the policy and double quotes to enclose the JSON names and values:</p> <p> <code>'{\"attribute\": \"value\", \"attribute\": [\"value\"]}'</code> </p>",
          "shape": "Policy"
        },
        "OutputDataConfig": {
          "documentation": "<p>Enables the addition of output results configuration parameters for custom classifier jobs.</p>",
          "shape": "DocumentClassifierOutputDataConfig"
        },
        "Tags": {
          "documentation": "<p>Tags to be associated with the document classifier being created. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
          "shape": "TagList"
        },
        "VersionName": {
          "documentation": "<p>The version name given to the newly created classifier. Version names can have a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The version name must be unique among all models with the same classifier name in the account/AWS Region.</p>",
          "shape": "VersionName"
        },
        "VolumeKmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "VpcConfig": {
          "documentation": "<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing the resources you are using for your custom classifier. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "DocumentClassifierName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "CreateDocumentClassifierResponse": {
      "members": {
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier.</p>",
          "shape": "DocumentClassifierArn"
        }
      },
      "type": "structure"
    },
    "CreateEndpointRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>An idempotency token provided by the customer. If this token matches a previous endpoint creation request, Amazon Comprehend will not return a <code>ResourceInUseException</code>. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS identity and Access Management (IAM) role that grants Amazon Comprehend read access to trained custom models encrypted with a customer managed key (ModelKmsKeyId).</p>",
          "shape": "IamRoleArn"
        },
        "DesiredInferenceUnits": {
          "documentation": "<p> The desired number of inference units to be used by the model using this endpoint. Each inference unit represents of a throughput of 100 characters per second.</p>",
          "shape": "InferenceUnitsInteger"
        },
        "EndpointName": {
          "documentation": "<p>This is the descriptive suffix that becomes part of the <code>EndpointArn</code> used for all subsequent requests to this resource. </p>",
          "shape": "ComprehendEndpointName"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the model to which the endpoint will be attached.</p>",
          "shape": "ComprehendModelArn"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the endpoint being created. A tag is a key-value pair that adds metadata to the endpoint. For example, a tag with \"Sales\" as the key might be added to an endpoint to indicate its use by the sales department. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "EndpointName",
        "ModelArn",
        "DesiredInferenceUnits"
      ],
      "type": "structure"
    },
    "CreateEndpointResponse": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being created.</p>",
          "shape": "ComprehendEndpointArn"
        }
      },
      "type": "structure"
    },
    "CreateEntityRecognizerRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p> A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data. The S3 bucket containing the input data must be located in the same region as the entity recognizer being created. </p>",
          "shape": "EntityRecognizerInputDataConfig"
        },
        "LanguageCode": {
          "documentation": "<p> You can specify any of the following languages supported by Amazon Comprehend: English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), German (\"de\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
[...]
