{
  "documentation": "<p> Amazon Honeycode is a fully managed service that allows you to quickly build mobile and web apps for teams\u2014without programming. Build Honeycode apps for managing almost anything, like projects, customers, operations, approvals, resources, and even your team. </p>",
  "metadata": {
    "apiVersion": "2020-03-01",
    "endpointPrefix": "honeycode",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Honeycode",
    "serviceFullName": "Amazon Honeycode",
    "serviceId": "Honeycode",
    "signatureVersion": "v4",
    "signingName": "honeycode",
    "uid": "honeycode-2020-03-01"
  },
  "operations": {
    "BatchCreateTableRows": {
      "documentation": "<p> The BatchCreateTableRows API allows you to create one or more rows at the end of a table in a workbook. The API allows you to specify the values to set in some or all of the columns in the new rows. </p> <p> If a column is not explicitly set in a specific row, then the column level formula specified in the table will be applied to the new row. If there is no column level formula but the last row of the table has a formula, then that formula will be copied down to the new row. If there is no column level formula and no formula in the last row of the table, then that column will be left blank for the new rows. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchcreate"
      },
      "input": {
        "shape": "BatchCreateTableRowsRequest"
      },
      "name": "BatchCreateTableRows",
      "output": {
        "shape": "BatchCreateTableRowsResult"
      }
    },
    "BatchDeleteTableRows": {
      "documentation": "<p> The BatchDeleteTableRows API allows you to delete one or more rows from a table in a workbook. You need to specify the ids of the rows that you want to delete from the table. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchdelete"
      },
      "input": {
        "shape": "BatchDeleteTableRowsRequest"
      },
      "name": "BatchDeleteTableRows",
      "output": {
        "shape": "BatchDeleteTableRowsResult"
      }
    },
    "BatchUpdateTableRows": {
      "documentation": "<p> The BatchUpdateTableRows API allows you to update one or more rows in a table in a workbook. </p> <p> You can specify the values to set in some or all of the columns in the table for the specified rows. If a column is not explicitly specified in a particular row, then that column will not be updated for that row. To clear out the data in a specific cell, you need to set the value as an empty string (\"\"). </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupdate"
      },
      "input": {
        "shape": "BatchUpdateTableRowsRequest"
      },
      "name": "BatchUpdateTableRows",
      "output": {
        "shape": "BatchUpdateTableRowsResult"
      }
    },
    "BatchUpsertTableRows": {
      "documentation": "<p> The BatchUpsertTableRows API allows you to upsert one or more rows in a table. The upsert operation takes a filter expression as input and evaluates it to find matching rows on the destination table. If matching rows are found, it will update the cells in the matching rows to new values specified in the request. If no matching rows are found, a new row is added at the end of the table and the cells in that row are set to the new values specified in the request. </p> <p> You can specify the values to set in some or all of the columns in the table for the matching or newly appended rows. If a column is not explicitly specified for a particular row, then that column will not be updated for that row. To clear out the data in a specific cell, you need to set the value as an empty string (\"\"). </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupsert"
      },
      "input": {
        "shape": "BatchUpsertTableRowsRequest"
      },
      "name": "BatchUpsertTableRows",
      "output": {
        "shape": "BatchUpsertTableRowsResult"
      }
    },
    "DescribeTableDataImportJob": {
      "documentation": "<p> The DescribeTableDataImportJob API allows you to retrieve the status and details of a table data import job. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/import/{jobId}"
      },
      "input": {
        "shape": "DescribeTableDataImportJobRequest"
      },
      "name": "DescribeTableDataImportJob",
      "output": {
        "shape": "DescribeTableDataImportJobResult"
      }
    },
    "GetScreenData": {
      "documentation": "<p> The GetScreenData API allows retrieval of data from a screen in a Honeycode app. The API allows setting local variables in the screen to filter, sort or otherwise affect what will be displayed on the screen. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/screendata"
      },
      "input": {
        "shape": "GetScreenDataRequest"
      },
      "name": "GetScreenData",
      "output": {
        "shape": "GetScreenDataResult"
      }
    },
    "InvokeScreenAutomation": {
      "documentation": "<p> The InvokeScreenAutomation API allows invoking an action defined in a screen in a Honeycode app. The API allows setting local variables, which can then be used in the automation being invoked. This allows automating the Honeycode app interactions to write, update or delete data in the workbook. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AutomationExecutionException"
        },
        {
          "shape": "AutomationExecutionTimeoutException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/apps/{appId}/screens/{screenId}/automations/{automationId}"
      },
      "input": {
        "shape": "InvokeScreenAutomationRequest"
      },
      "name": "InvokeScreenAutomation",
      "output": {
        "shape": "InvokeScreenAutomationResult"
      }
    },
    "ListTableColumns": {
      "documentation": "<p> The ListTableColumns API allows you to retrieve a list of all the columns in a table in a workbook. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/columns"
      },
      "input": {
        "shape": "ListTableColumnsRequest"
      },
      "name": "ListTableColumns",
      "output": {
        "shape": "ListTableColumnsResult"
      }
    },
    "ListTableRows": {
      "documentation": "<p> The ListTableRows API allows you to retrieve a list of all the rows in a table in a workbook. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/list"
      },
      "input": {
        "shape": "ListTableRowsRequest"
      },
      "name": "ListTableRows",
      "output": {
        "shape": "ListTableRowsResult"
      }
    },
    "ListTables": {
      "documentation": "<p> The ListTables API allows you to retrieve a list of all the tables in a workbook. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workbooks/{workbookId}/tables"
      },
      "input": {
        "shape": "ListTablesRequest"
      },
      "name": "ListTables",
      "output": {
        "shape": "ListTablesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> The ListTagsForResource API allows you to return a resource's tags. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "QueryTableRows": {
      "documentation": "<p> The QueryTableRows API allows you to use a filter formula to query for specific rows in a table. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/rows/query"
      },
      "input": {
        "shape": "QueryTableRowsRequest"
      },
      "name": "QueryTableRows",
      "output": {
        "shape": "QueryTableRowsResult"
      }
    },
    "StartTableDataImportJob": {
      "documentation": "<p> The StartTableDataImportJob API allows you to start an import job on a table. This API will only return the id of the job that was started. To find out the status of the import request, you need to call the DescribeTableDataImportJob API. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workbooks/{workbookId}/tables/{tableId}/import"
      },
      "input": {
        "shape": "StartTableDataImportJobRequest"
      },
      "name": "StartTableDataImportJob",
      "output": {
        "shape": "StartTableDataImportJobResult"
      }
    },
    "TagResource": {
      "documentation": "<p> The TagResource API allows you to add tags to an ARN-able resource. Resource includes workbook, table, screen and screen-automation. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "UntagResource": {
      "documentation": "<p> The UntagResource API allows you to removes tags from an ARN-able resource. Resource includes workbook, table, screen and screen-automation. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestTimeoutException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p> You do not have sufficient access to perform this action. Check that the workbook is owned by you and your IAM policy allows access to the resource in the request. </p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AutomationExecutionException": {
      "documentation": "<p>The automation execution did not end successfully.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AutomationExecutionTimeoutException": {
      "documentation": "<p>The automation execution timed out.</p>",
      "error": {
        "httpStatusCode": 504,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AwsUserArn": {
      "max": 2048,
      "min": 20,
      "type": "string"
    },
    "BatchCreateTableRowsRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the batch create operation. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the operation again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "rowsToCreate": {
          "documentation": "<p> The list of rows to create at the end of the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request and the cells to create for that row. You need to specify at least one item in this list. </p> <p> Note that if one of the column ids in any of the rows in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
          "shape": "CreateRowDataList"
        },
        "tableId": {
          "documentation": "<p>The ID of the table where the new rows are being added.</p> <p> If a table with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook where the new rows are being added.</p> <p> If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "rowsToCreate"
      ],
      "type": "structure"
    },
    "BatchCreateTableRowsResult": {
      "members": {
        "createdRows": {
          "documentation": "<p>The map of batch item id to the row id that was created for that item.</p>",
          "shape": "CreatedRowsMap"
        },
        "failedBatchItems": {
          "documentation": "<p> The list of batch items in the request that could not be added to the table. Each element in this list contains one item from the request that could not be added to the table along with the reason why that item could not be added. </p>",
          "shape": "FailedBatchItems"
        },
        "workbookCursor": {
          "documentation": "<p>The updated workbook cursor after adding the new rows at the end of the table.</p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "workbookCursor",
        "createdRows"
      ],
      "type": "structure"
    },
    "BatchDeleteTableRowsRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the delete action. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the action again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "rowIds": {
          "documentation": "<p> The list of row ids to delete from the table. You need to specify at least one row id in this list. </p> <p> Note that if one of the row ids provided in the request does not exist in the table, then the request fails and no rows are deleted from the table. </p>",
          "shape": "RowIdList"
        },
        "tableId": {
          "documentation": "<p>The ID of the table where the rows are being deleted.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook where the rows are being deleted.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "rowIds"
      ],
      "type": "structure"
    },
    "BatchDeleteTableRowsResult": {
      "members": {
        "failedBatchItems": {
          "documentation": "<p> The list of row ids in the request that could not be deleted from the table. Each element in this list contains one row id from the request that could not be deleted along with the reason why that item could not be deleted. </p>",
          "shape": "FailedBatchItems"
        },
        "workbookCursor": {
          "documentation": "<p>The updated workbook cursor after deleting the rows from the table.</p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "workbookCursor"
      ],
      "type": "structure"
    },
    "BatchErrorMessage": {
      "pattern": "^(?!\\s*$).+",
      "type": "string"
    },
    "BatchItemId": {
      "max": 64,
      "min": 1,
      "pattern": "^(?!\\s*$).+",
      "type": "string"
    },
    "BatchUpdateTableRowsRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the update action. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the action again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "rowsToUpdate": {
          "documentation": "<p> The list of rows to update in the table. Each item in this list needs to contain the row id to update along with the map of column id to cell values for each column in that row that needs to be updated. You need to specify at least one row in this list, and for each row, you need to specify at least one column to update. </p> <p> Note that if one of the row or column ids in the request does not exist in the table, then the request fails and no updates are made to the table. </p>",
          "shape": "UpdateRowDataList"
        },
        "tableId": {
          "documentation": "<p>The ID of the table where the rows are being updated.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook where the rows are being updated.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "rowsToUpdate"
      ],
      "type": "structure"
    },
    "BatchUpdateTableRowsResult": {
      "members": {
        "failedBatchItems": {
          "documentation": "<p> The list of batch items in the request that could not be updated in the table. Each element in this list contains one item from the request that could not be updated in the table along with the reason why that item could not be updated. </p>",
          "shape": "FailedBatchItems"
        },
        "workbookCursor": {
          "documentation": "<p>The updated workbook cursor after adding the new rows at the end of the table.</p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "workbookCursor"
      ],
      "type": "structure"
    },
    "BatchUpsertTableRowsRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the update action. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the action again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "rowsToUpsert": {
          "documentation": "<p> The list of rows to upsert in the table. Each item in this list needs to have a batch item id to uniquely identify the element in the request, a filter expression to find the rows to update for that element and the cell values to set for each column in the upserted rows. You need to specify at least one item in this list. </p> <p> Note that if one of the filter formulas in the request fails to evaluate because of an error or one of the column ids in any of the rows does not exist in the table, then the request fails and no updates are made to the table. </p>",
          "shape": "UpsertRowDataList"
        },
        "tableId": {
          "documentation": "<p>The ID of the table where the rows are being upserted.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook where the rows are being upserted.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "rowsToUpsert"
      ],
      "type": "structure"
    },
    "BatchUpsertTableRowsResult": {
      "members": {
        "failedBatchItems": {
          "documentation": "<p> The list of batch items in the request that could not be updated or appended in the table. Each element in this list contains one item from the request that could not be updated in the table along with the reason why that item could not be updated or appended. </p>",
          "shape": "FailedBatchItems"
        },
        "rows": {
          "documentation": "<p> A map with the batch item id as the key and the result of the upsert operation as the value. The result of the upsert operation specifies whether existing rows were updated or a new row was appended, along with the list of row ids that were affected. </p>",
          "shape": "UpsertRowsResultMap"
        },
        "workbookCursor": {
          "documentation": "<p>The updated workbook cursor after updating or appending rows in the table.</p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "rows",
        "workbookCursor"
      ],
      "type": "structure"
    },
    "Cell": {
      "documentation": "<p>An object that represents a single cell in a table.</p>",
      "members": {
        "format": {
          "documentation": "<p>The format of the cell. If this field is empty, then the format is either not specified in the workbook or the format is set to AUTO.</p>",
          "shape": "Format"
        },
        "formattedValue": {
          "documentation": "<p> The formatted value of the cell. This is the value that you see displayed in the cell in the UI. </p> <p> Note that the formatted value of a cell is always represented as a string irrespective of the data that is stored in the cell. For example, if a cell contains a date, the formatted value of the cell is the string representation of the formatted date being shown in the cell in the UI. See details in the rawValue field below for how cells of different formats will have different raw and formatted values. </p>",
          "shape": "FormattedValue"
        },
        "formattedValues": {
          "documentation": "<p> A list of formatted values of the cell. This field is only returned when the cell is ROWSET format (aka multi-select or multi-record picklist). Values in the list are always represented as strings. The formattedValue field will be empty if this field is returned. </p>",
          "shape": "FormattedValuesList"
        },
        "formula": {
          "documentation": "<p> The formula contained in the cell. This field is empty if a cell does not have a formula. </p>",
          "shape": "Formula"
        },
        "rawValue": {
          "documentation": "<p> The raw value of the data contained in the cell. The raw value depends on the format of the data in the cell. However the attribute in the API return value is always a string containing the raw value. </p> <p> Cells with format DATE, DATE_TIME or TIME have the raw value as a floating point number where the whole number represents the number of days since 1/1/1900 and the fractional part represents the fraction of the day since midnight. For example, a cell with date 11/3/2020 has the raw value \"44138\". A cell with the time 9:00 AM has the raw value \"0.375\" and a cell with date/time value of 11/3/2020 9:00 AM has the raw value \"44138.375\". Notice that even though the raw value is a number in all three cases, it is still represented as a string. </p> <p> Cells with format NUMBER, CURRENCY, PERCENTAGE and ACCOUNTING have the raw value of the data as the number representing the data being displayed. For example, the number 1.325 with two decimal places in the format will have it's raw value as \"1.325\" and formatted value as \"1.33\". A currency value for $10 will have the raw value as \"10\" and formatted value as \"$10.00\". A value representing 20% with two decimal places in the format will have its raw value as \"0.2\" and the formatted value as \"20.00%\". An accounting value of -$25 will have \"-25\" as the raw value and \"$ (25.00)\" as the formatted value. </p> <p> Cells with format TEXT will have the raw text as the raw value. For example, a cell with text \"John Smith\" will have \"John Smith\" as both the raw value and the formatted value. </p> <p> Cells with format CONTACT will have the name of the contact as a formatted value and the email address of the contact as the raw value. For example, a contact for John Smith will have \"John Smith\" as the formatted value and \"john.smith@example.com\" as the raw value. </p> <p> Cells with format ROWLINK (aka picklist) will have the first column of the linked row as the formatted value and the row id of the linked row as the raw value. For example, a cell containing a picklist to a table that displays task status might have \"Completed\" as the formatted value and \"row:dfcefaee-5b37-4355-8f28-40c3e4ff5dd4/ca432b2f-b8eb-431d-9fb5-cbe0342f9f03\" as the raw value. </p> <p> Cells with format ROWSET (aka multi-select or multi-record picklist) will by default have the first column of each of the linked rows as the formatted value in the list, and the rowset id of the linked rows as the raw value. For example, a cell containing a multi-select picklist to a table that contains items might have \"Item A\", \"Item B\" in the formatted value list and \"rows:b742c1f4-6cb0-4650-a845-35eb86fcc2bb/ [fdea123b-8f68-474a-aa8a-5ff87aa333af,6daf41f0-a138-4eee-89da-123086d36ecf]\" as the raw value. </p> <p> Cells with format ATTACHMENT will have the name of the attachment as the formatted value and the attachment id as the raw value. For example, a cell containing an attachment named \"image.jpeg\" will have \"image.jpeg\" as the formatted value and \"attachment:ca432b2f-b8eb-431d-9fb5-cbe0342f9f03\" as the raw value. </p> <p> Cells with format AUTO or cells without any format that are auto-detected as one of the formats above will contain the raw and formatted values as mentioned above, based on the auto-detected formats. If there is no auto-detected format, the raw and formatted values will be the same as the data in the cell. </p>",
          "shape": "RawValue"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "CellInput": {
      "documentation": "<p> CellInput object contains the data needed to create or update cells in a table. </p> <note> <p> CellInput object has only a facts field or a fact field, but not both. A 400 bad request will be thrown if both fact and facts field are present. </p> </note>",
      "members": {
        "fact": {
          "documentation": "<p> Fact represents the data that is entered into a cell. This data can be free text or a formula. Formulas need to start with the equals (=) sign. </p>",
          "shape": "Fact"
        },
        "facts": {
          "documentation": "<p> A list representing the values that are entered into a ROWSET cell. Facts list can have either only values or rowIDs, and rowIDs should from the same table. </p>",
          "shape": "FactList"
        }
      },
      "type": "structure"
    },
    "Cells": {
      "member": {
        "shape": "Cell"
      },
      "type": "list"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 32,
      "pattern": "^(?!\\s*$).+",
      "type": "string"
    },
    "ColumnMetadata": {
      "documentation": "<p>Metadata for column in the table.</p>",
      "members": {
        "format": {
          "documentation": "<p>The format of the column.</p>",
          "shape": "Format"
        },
        "name": {
          "documentation": "<p>The name of the column.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "format"
      ],
      "type": "structure"
    },
    "CreateRowData": {
      "documentation": "<p> Data needed to create a single row in a table as part of the BatchCreateTableRows request. </p>",
      "members": {
        "batchItemId": {
          "documentation": "<p> An external identifier that represents the single row that is being created as part of the BatchCreateTableRows request. This can be any string that you can use to identify the row in the request. The BatchCreateTableRows API puts the batch item id in the results to allow you to link data in the request to data in the results. </p>",
          "shape": "BatchItemId"
        },
        "cellsToCreate": {
          "documentation": "<p> A map representing the cells to create in the new row. The key is the column id of the cell and the value is the CellInput object that represents the data to set in that cell. </p>",
          "shape": "RowDataInput"
        }
      },
      "required": [
        "batchItemId",
        "cellsToCreate"
      ],
      "type": "structure"
    },
    "CreateRowDataList": {
      "max": 100,
      "member": {
        "shape": "CreateRowData"
      },
      "min": 1,
      "type": "list"
    },
    "CreatedRowsMap": {
      "key": {
        "shape": "BatchItemId"
      },
      "type": "map",
      "value": {
        "shape": "RowId"
      }
    },
    "DataItem": {
      "documentation": "<p>The data in a particular data cell defined on the screen.</p>",
      "members": {
        "formattedValue": {
          "documentation": "<p>The formatted value of the data. e.g. John Smith.</p>",
          "shape": "FormattedValue"
        },
        "overrideFormat": {
          "documentation": "<p> The overrideFormat is optional and is specified only if a particular row of data has a different format for the data than the default format defined on the screen or the table. </p>",
          "shape": "Format"
        },
        "rawValue": {
          "documentation": "<p>The raw value of the data. e.g. jsmith@example.com</p>",
          "shape": "RawValue"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "DataItems": {
      "member": {
        "shape": "DataItem"
      },
      "type": "list"
    },
    "DelimitedTextDelimiter": {
      "max": 1,
      "min": 1,
      "pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]?$",
      "type": "string"
    },
    "DelimitedTextImportOptions": {
      "documentation": "<p> An object that contains the options relating to parsing delimited text as part of an import request. </p>",
      "members": {
        "dataCharacterEncoding": {
          "documentation": "<p>The encoding of the data in the input file.</p>",
          "shape": "ImportDataCharacterEncoding"
        },
        "delimiter": {
          "documentation": "<p>The delimiter to use for separating columns in a single row of the input.</p>",
          "shape": "DelimitedTextDelimiter"
        },
        "hasHeaderRow": {
          "documentation": "<p>Indicates whether the input file has a header row at the top containing the column names.</p>",
          "shape": "HasHeaderRow"
        },
        "ignoreEmptyRows": {
          "documentation": "<p>A parameter to indicate whether empty rows should be ignored or be included in the import.</p>",
          "shape": "IgnoreEmptyRows"
        }
      },
      "required": [
        "delimiter"
      ],
      "type": "structure"
    },
    "DescribeTableDataImportJobRequest": {
      "members": {
        "jobId": {
          "documentation": "<p>The ID of the job that was returned by the StartTableDataImportJob request.</p> <p> If a job with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "tableId": {
          "documentation": "<p>The ID of the table into which data was imported.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook into which data was imported.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "jobId"
      ],
      "type": "structure"
    },
    "DescribeTableDataImportJobResult": {
      "members": {
        "errorCode": {
          "documentation": "<p> If job status is failed, error code to understand reason for the failure. </p>",
          "shape": "ErrorCode"
        },
        "jobMetadata": {
          "documentation": "<p> The metadata about the job that was submitted for import. </p>",
          "shape": "TableDataImportJobMetadata"
        },
        "jobStatus": {
          "documentation": "<p> The current status of the import job. </p>",
          "shape": "TableDataImportJobStatus"
        },
        "message": {
          "documentation": "<p> A message providing more details about the current status of the import job. </p>",
          "shape": "TableDataImportJobMessage"
        }
      },
      "required": [
        "jobStatus",
        "message",
        "jobMetadata"
      ],
      "type": "structure"
    },
    "DestinationOptions": {
      "documentation": "<p>An object that contains the options relating to the destination of the import request.</p>",
      "members": {
        "columnMap": {
          "documentation": "<p>A map of the column id to the import properties for each column.</p>",
          "shape": "ImportColumnMap"
        }
      },
      "type": "structure"
    },
    "Email": {
      "max": 254,
      "min": 3,
      "pattern": "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$",
      "sensitive": true,
      "type": "string"
    },
    "ErrorCode": {
      "enum": [
        "ACCESS_DENIED",
        "INVALID_URL_ERROR",
        "INVALID_IMPORT_OPTIONS_ERROR",
        "INVALID_TABLE_ID_ERROR",
        "INVALID_TABLE_COLUMN_ID_ERROR",
        "TABLE_NOT_FOUND_ERROR",
        "FILE_EMPTY_ERROR",
        "INVALID_FILE_TYPE_ERROR",
        "FILE_PARSING_ERROR",
        "FILE_SIZE_LIMIT_ERROR",
        "FILE_NOT_FOUND_ERROR",
        "UNKNOWN_ERROR",
        "RESOURCE_NOT_FOUND_ERROR",
        "SYSTEM_LIMIT_ERROR"
      ],
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Fact": {
      "max": 8192,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "sensitive": true,
      "type": "string"
    },
    "FactList": {
      "max": 220,
      "member": {
        "shape": "Fact"
      },
      "min": 0,
      "type": "list"
    },
    "FailedBatchItem": {
      "documentation": "<p> A single item in a batch that failed to perform the intended action because of an error preventing it from succeeding. </p>",
      "members": {
        "errorMessage": {
          "documentation": "<p> The error message that indicates why the batch item failed. </p>",
          "shape": "BatchErrorMessage"
        },
        "id": {
          "documentation": "<p> The id of the batch item that failed. This is the batch item id for the BatchCreateTableRows and BatchUpsertTableRows operations and the row id for the BatchUpdateTableRows and BatchDeleteTableRows operations. </p>",
          "shape": "BatchItemId"
        }
      },
      "required": [
        "id",
        "errorMessage"
      ],
      "type": "structure"
    },
    "FailedBatchItems": {
      "max": 100,
      "member": {
        "shape": "FailedBatchItem"
      },
      "min": 0,
      "type": "list"
    },
    "Filter": {
      "documentation": "<p> An object that represents a filter formula along with the id of the context row under which the filter function needs to evaluate. </p>",
      "members": {
        "contextRowId": {
          "documentation": "<p> The optional contextRowId attribute can be used to specify the row id of the context row if the filter formula contains unqualified references to table columns and needs a context row to evaluate them successfully. </p>",
          "shape": "RowId"
        },
        "formula": {
          "documentation": "<p> A formula representing a filter function that returns zero or more matching rows from a table. Valid formulas in this field return a list of rows from a table. The most common ways of writing a formula to return a list of rows are to use the FindRow() or Filter() functions. Any other formula that returns zero or more rows is also acceptable. For example, you can use a formula that points to a cell that contains a filter function. </p>",
          "shape": "Formula"
        }
      },
      "required": [
        "formula"
      ],
      "type": "structure"
    },
    "Format": {
      "enum": [
        "AUTO",
        "NUMBER",
        "CURRENCY",
        "DATE",
        "TIME",
        "DATE_TIME",
        "PERCENTAGE",
        "TEXT",
        "ACCOUNTING",
        "CONTACT",
        "ROWLINK",
        "ROWSET"
      ],
      "type": "string"
    },
    "FormattedValue": {
      "max": 8192,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "FormattedValuesList": {
      "max": 220,
      "member": {
        "shape": "FormattedValue"
      },
      "min": 0,
      "type": "list"
    },
    "Formula": {
      "max": 8192,
      "min": 0,
      "pattern": "^=.*",
      "sensitive": true,
      "type": "string"
    },
    "GetScreenDataRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the app that contains the screen.</p>",
          "shape": "ResourceId"
        },
        "maxResults": {
          "documentation": "<p> The number of results to be returned on a single page. Specify a number between 1 and 100. The maximum value is 100. </p> <p> This parameter is optional. If you don't specify this parameter, the default page size is 100. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> This parameter is optional. If a nextToken is not specified, the API returns the first page of data. </p> <p> Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API will throw ValidationException. </p>",
          "shape": "PaginationToken"
        },
        "screenId": {
          "documentation": "<p>The ID of the screen.</p>",
          "shape": "ResourceId"
        },
        "variables": {
          "documentation": "<p> Variables are optional and are needed only if the screen requires them to render correctly. Variables are specified as a map where the key is the name of the variable as defined on the screen. The value is an object which currently has only one property, rawValue, which holds the value of the variable to be passed to the screen. </p>",
          "shape": "VariableValueMap"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook that contains the screen.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "appId",
        "screenId"
      ],
      "type": "structure"
    },
    "GetScreenDataResult": {
      "members": {
        "nextToken": {
          "documentation": "<p> Provides the pagination token to load the next page if there are more results matching the request. If a pagination token is not present in the response, it means that all data matching the query has been loaded. </p>",
          "shape": "PaginationToken"
        },
        "results": {
          "documentation": "<p>A map of all the rows on the screen keyed by block name.</p>",
          "shape": "ResultSetMap"
        },
        "workbookCursor": {
          "documentation": "<p> Indicates the cursor of the workbook at which the data returned by this workbook is read. Workbook cursor keeps increasing with every update and the increments are not sequential. </p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "results",
        "workbookCursor"
      ],
      "type": "structure"
    },
    "HasHeaderRow": {
      "type": "boolean"
    },
    "IgnoreEmptyRows": {
      "type": "boolean"
    },
    "ImportColumnMap": {
      "key": {
        "shape": "ResourceId"
      },
      "max": 100,
      "type": "map",
      "value": {
        "shape": "SourceDataColumnProperties"
      }
    },
    "ImportDataCharacterEncoding": {
      "enum": [
        "UTF-8",
        "US-ASCII",
        "ISO-8859-1",
        "UTF-16BE",
        "UTF-16LE",
        "UTF-16"
      ],
      "type": "string"
    },
    "ImportDataSource": {
      "documentation": "<p>An object that has details about the source of the data that was submitted for import.</p>",
      "members": {
        "dataSourceConfig": {
          "documentation": "<p>The configuration parameters for the data source of the import</p>",
          "shape": "ImportDataSourceConfig"
        }
      },
      "required": [
        "dataSourceConfig"
      ],
      "type": "structure"
    },
    "ImportDataSourceConfig": {
      "documentation": "<p> An object that contains the configuration parameters for the data source of an import request. </p>",
      "members": {
        "dataSourceUrl": {
          "documentation": "<p> The URL from which source data will be downloaded for the import request. </p>",
          "shape": "SecureURL"
        }
      },
      "type": "structure"
    },
    "ImportJobSubmitter": {
      "documentation": "<p>An object that contains the attributes of the submitter of the import job.</p>",
      "members": {
        "email": {
          "documentation": "<p>The email id of the submitter of the import job, if available.</p>",
          "shape": "Email"
        },
        "userArn": {
          "documentation": "<p>The AWS user ARN of the submitter of the import job, if available.</p>",
          "shape": "AwsUserArn"
        }
      },
      "type": "structure"
    },
    "ImportOptions": {
      "documentation": "<p>An object that contains the options specified by the sumitter of the import request.</p>",
      "members": {
        "delimitedTextOptions": {
          "documentation": "<p>Options relating to parsing delimited text. Required if dataFormat is DELIMITED_TEXT.</p>",
          "shape": "DelimitedTextImportOptions"
        },
        "destinationOptions": {
          "documentation": "<p>Options relating to the destination of the import request.</p>",
          "shape": "DestinationOptions"
        }
      },
      "type": "structure"
    },
    "ImportSourceDataFormat": {
      "enum": [
        "DELIMITED_TEXT"
      ],
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>There were unexpected errors from the server.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvokeScreenAutomationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the app that contains the screen automation.</p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "ResourceId"
        },
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the automation action. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will return the response of the previous call rather than performing the action again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "rowId": {
          "documentation": "<p> The row ID for the automation if the automation is defined inside a block with source or list. </p>",
          "shape": "RowId"
        },
        "screenAutomationId": {
          "documentation": "<p>The ID of the automation action to be performed.</p>",
          "location": "uri",
          "locationName": "automationId",
          "shape": "ResourceId"
        },
        "screenId": {
          "documentation": "<p>The ID of the screen that contains the screen automation.</p>",
          "location": "uri",
          "locationName": "screenId",
          "shape": "ResourceId"
        },
        "variables": {
          "documentation": "<p> Variables are specified as a map where the key is the name of the variable as defined on the screen. The value is an object which currently has only one property, rawValue, which holds the value of the variable to be passed to the screen. Any variables defined in a screen are required to be passed in the call. </p>",
          "shape": "VariableValueMap"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook that contains the screen automation.</p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "appId",
        "screenId",
        "screenAutomationId"
      ],
      "type": "structure"
    },
    "InvokeScreenAutomationResult": {
      "members": {
        "workbookCursor": {
          "documentation": "<p>The updated workbook cursor after performing the automation action.</p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "workbookCursor"
      ],
      "type": "structure"
    },
    "JobId": {
      "max": 100,
      "min": 1,
      "pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$",
      "type": "string"
    },
    "ListTableColumnsRequest": {
      "members": {
        "nextToken": {
          "documentation": "<p> This parameter is optional. If a nextToken is not specified, the API returns the first page of data. </p> <p> Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API will throw ValidationException. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "tableId": {
          "documentation": "<p>The ID of the table whose columns are being retrieved.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook that contains the table whose columns are being retrieved.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId"
      ],
      "type": "structure"
    },
    "ListTableColumnsResult": {
      "members": {
        "nextToken": {
          "documentation": "<p> Provides the pagination token to load the next page if there are more results matching the request. If a pagination token is not present in the response, it means that all data matching the request has been loaded. </p>",
          "shape": "PaginationToken"
        },
        "tableColumns": {
          "documentation": "<p> The list of columns in the table. </p>",
          "shape": "TableColumns"
        },
        "workbookCursor": {
          "documentation": "<p> Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor keeps increasing with every update and the increments are not sequential. </p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "tableColumns"
      ],
      "type": "structure"
    },
    "ListTableRowsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of rows to return in each page of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> This parameter is optional. If a nextToken is not specified, the API returns the first page of data. </p> <p> Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API will throw ValidationException. </p>",
          "shape": "PaginationToken"
        },
        "rowIds": {
          "documentation": "<p> This parameter is optional. If one or more row ids are specified in this list, then only the specified row ids are returned in the result. If no row ids are specified here, then all the rows in the table are returned. </p>",
          "shape": "RowIdList"
        },
        "tableId": {
          "documentation": "<p>The ID of the table whose rows are being retrieved.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook that contains the table whose rows are being retrieved.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId"
      ],
      "type": "structure"
    },
    "ListTableRowsResult": {
      "members": {
        "columnIds": {
          "documentation": "<p> The list of columns in the table whose row data is returned in the result. </p>",
          "shape": "ResourceIds"
        },
        "nextToken": {
          "documentation": "<p> Provides the pagination token to load the next page if there are more results matching the request. If a pagination token is not present in the response, it means that all data matching the request has been loaded. </p>",
          "shape": "PaginationToken"
        },
        "rowIdsNotFound": {
          "documentation": "<p> The list of row ids included in the request that were not found in the table. </p>",
          "shape": "RowIdList"
        },
        "rows": {
          "documentation": "<p> The list of rows in the table. Note that this result is paginated, so this list contains a maximum of 100 rows. </p>",
          "shape": "TableRows"
        },
        "workbookCursor": {
          "documentation": "<p> Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor keeps increasing with every update and the increments are not sequential. </p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "columnIds",
        "rows",
        "workbookCursor"
      ],
      "type": "structure"
    },
    "ListTablesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of tables to return in each page of the results.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> This parameter is optional. If a nextToken is not specified, the API returns the first page of data. </p> <p> Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API will throw ValidationException. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook whose tables are being retrieved.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId"
      ],
      "type": "structure"
    },
    "ListTablesResult": {
      "members": {
        "nextToken": {
          "documentation": "<p> Provides the pagination token to load the next page if there are more results matching the request. If a pagination token is not present in the response, it means that all data matching the request has been loaded. </p>",
          "shape": "PaginationToken"
        },
        "tables": {
          "documentation": "<p> The list of tables in the workbook. </p>",
          "shape": "Tables"
        },
        "workbookCursor": {
          "documentation": "<p> Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor keeps increasing with every update and the increments are not sequential. </p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "tables"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The resource's Amazon Resource Name (ARN).</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResult": {
      "members": {
        "tags": {
          "documentation": "<p>The resource's tags.</p>",
          "shape": "TagsMap"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "sensitive": true,
      "type": "string"
    },
    "PaginationToken": {
      "max": 1024,
      "min": 1,
      "pattern": "^(?!\\s*$).+",
      "type": "string"
    },
    "QueryTableRowsRequest": {
      "members": {
        "filterFormula": {
          "documentation": "<p>An object that represents a filter formula along with the id of the context row under which the filter function needs to evaluate.</p>",
          "shape": "Filter"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of rows to return in each page of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> This parameter is optional. If a nextToken is not specified, the API returns the first page of data. </p> <p> Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API will throw ValidationException. </p>",
          "shape": "PaginationToken"
        },
        "tableId": {
          "documentation": "<p>The ID of the table whose rows are being queried.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook whose table rows are being queried.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "tableId",
        "filterFormula"
      ],
      "type": "structure"
    },
    "QueryTableRowsResult": {
      "members": {
        "columnIds": {
          "documentation": "<p> The list of columns in the table whose row data is returned in the result. </p>",
          "shape": "ResourceIds"
        },
        "nextToken": {
          "documentation": "<p> Provides the pagination token to load the next page if there are more results matching the request. If a pagination token is not present in the response, it means that all data matching the request has been loaded. </p>",
          "shape": "PaginationToken"
        },
        "rows": {
          "documentation": "<p> The list of rows in the table that match the query filter. </p>",
          "shape": "TableRows"
        },
        "workbookCursor": {
          "documentation": "<p> Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor keeps increasing with every update and the increments are not sequential. </p>",
          "shape": "WorkbookCursor"
        }
      },
      "required": [
        "columnIds",
        "rows",
        "workbookCursor"
      ],
      "type": "structure"
    },
    "RawValue": {
      "max": 32767,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "RequestTimeoutException": {
      "documentation": "<p>The request timed out.</p>",
      "error": {
        "httpStatusCode": 504,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceArn": {
      "max": 256,
      "min": 1,
      "pattern": "^arn:aws:honeycode:.+:[0-9]{12}:.+:.+$",
      "type": "string"
    },
    "ResourceId": {
      "max": 36,
      "min": 36,
      "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
      "type": "string"
    },
    "ResourceIds": {
      "max": 100,
      "member": {
        "shape": "ResourceId"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResultHeader": {
      "member": {
        "shape": "ColumnMetadata"
      },
      "type": "list"
    },
    "ResultRow": {
      "documentation": "<p>A single row in the ResultSet.</p>",
      "members": {
        "dataItems": {
          "documentation": "<p>List of all the data cells in a row.</p>",
          "shape": "DataItems"
        },
        "rowId": {
          "documentation": "<p>The ID for a particular row.</p>",
          "shape": "RowId"
        }
      },
      "required": [
        "dataItems"
      ],
      "type": "structure"
    },
    "ResultRows": {
      "member": {
        "shape": "ResultRow"
      },
      "type": "list"
    },
    "ResultSet": {
      "documentation": "<p> ResultSet contains the results of the request for a single block or list defined on the screen. </p>",
      "members": {
        "headers": {
          "documentation": "<p> List of headers for all the data cells in the block. The header identifies the name and default format of the data cell. Data cells appear in the same order in all rows as defined in the header. The names and formats are not repeated in the rows. If a particular row does not have a value for a data cell, a blank value is used. </p> <p> For example, a task list that displays the task name, due date and assigned person might have headers [ { \"name\": \"Task Name\"}, {\"name\": \"Due Date\", \"format\": \"DATE\"}, {\"name\": \"Assigned\", \"format\": \"CONTACT\"} ]. Every row in the result will have the task name as the first item, due date as the second item and assigned person as the third item. If a particular task does not have a due date, that row will still have a blank value in the second element and the assigned person will still be in the third element. </p>",
          "shape": "ResultHeader"
        },
        "rows": {
          "documentation": "<p> List of rows returned by the request. Each row has a row Id and a list of data cells in that row. The data cells will be present in the same order as they are defined in the header. </p>",
          "shape": "ResultRows"
        }
      },
      "required": [
        "headers",
        "rows"
      ],
      "type": "structure"
    },
    "ResultSetMap": {
      "key": {
        "shape": "Name"
      },
      "type": "map",
      "value": {
        "shape": "ResultSet"
      }
    },
    "RowDataInput": {
      "key": {
        "shape": "ResourceId"
      },
      "max": 100,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "CellInput"
      }
    },
    "RowId": {
      "max": 77,
      "min": 77,
      "pattern": "row:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\\/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}",
      "type": "string"
    },
    "RowIdList": {
      "max": 100,
      "member": {
        "shape": "RowId"
      },
      "min": 1,
      "type": "list"
    },
    "SecureURL": {
      "max": 8000,
      "min": 1,
      "pattern": "^https:\\/\\/[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$",
      "sensitive": true,
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p> The request caused service quota to be breached. </p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>Remote service is unreachable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "SourceDataColumnIndex": {
      "min": 1,
      "type": "integer"
    },
    "SourceDataColumnProperties": {
      "documentation": "<p>An object that contains the properties for importing data to a specific column in a table.</p>",
      "members": {
        "columnIndex": {
          "documentation": "<p>The index of the column in the input file.</p>",
          "shape": "SourceDataColumnIndex"
        }
      },
      "type": "structure"
    },
    "StartTableDataImportJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p> The request token for performing the update action. Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error like a failed network connection, you can retry the call with the same request token. The service ensures that if the first call using that request token is successfully performed, the second call will not perform the action again. </p> <p> Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests spanning hours or days. </p>",
          "shape": "ClientRequestToken"
        },
        "dataFormat": {
          "documentation": "<p> The format of the data that is being imported. Currently the only option supported is \"DELIMITED_TEXT\". </p>",
          "shape": "ImportSourceDataFormat"
        },
        "dataSource": {
          "documentation": "<p> The source of the data that is being imported. The size of source must be no larger than 100 MB. Source must have no more than 100,000 cells and no more than 1,000 rows. </p>",
          "shape": "ImportDataSource"
        },
        "destinationTableId": {
          "documentation": "<p>The ID of the table where the rows are being imported.</p> <p> If a table with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "tableId",
          "shape": "ResourceId"
        },
        "importOptions": {
          "documentation": "<p> The options for customizing this import request. </p>",
          "shape": "ImportOptions"
        },
        "workbookId": {
          "documentation": "<p>The ID of the workbook where the rows are being imported.</p> <p> If a workbook with the specified id could not be found, this API throws ResourceNotFoundException. </p>",
          "location": "uri",
          "locationName": "workbookId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "workbookId",
        "dataSource",
        "dataFormat",
        "destinationTableId",
        "importOptions",
        "clientRequestToken"
      ],
      "type": "structure"
    },
    "StartTableDataImportJobResult": {
      "members": {
        "jobId": {
          "documentation": "<p> The id that is assigned to this import job. Future requests to find out the status of this import job need to send this id in the appropriate parameter in the request. </p>",
          "shape": "JobId"
        },
        "jobStatus": {
          "documentation": "<p> The status of the import job immediately after submitting the request. </p>",
          "shape": "TableDataImportJobStatus"
        }
      },
      "required": [
        "jobId",
        "jobStatus"
      ],
      "type": "structure"
    },
    "Table": {
      "documentation": "<p>An object representing the properties of a table in a workbook.</p>",
      "members": {
        "tableId": {
          "documentation": "<p>The id of the table.</p>",
          "shape": "ResourceId"
        },
        "tableName": {
          "documentation": "<p>The name of the table.</p>",
          "shape": "TableName"
        }
      },
      "type": "structure"
    },
    "TableColumn": {
      "documentation": "<p>An object that contains attributes about a single column in a table</p>",
      "members": {
        "format": {
          "documentation": "<p> The column level format that is applied in the table. An empty value in this field means that the column format is the default value 'AUTO'. </p>",
          "shape": "Format"
        },
        "tableColumnId": {
          "documentation": "<p>The id of the column in the table.</p>",
          "shape": "ResourceId"
        },
        "tableColumnName": {
          "documentation": "<p>The name of the column in the table.</p>",
          "shape": "TableColumnName"
        }
      },
      "type": "structure"
    },
    "TableColumnName": {
      "type": "string"
    },
    "TableColumns": {
      "member": {
        "shape": "TableColumn"
      },
      "type": "list"
    },
    "TableDataImportJobMessage": {
      "type": "string"
    },
    "TableDataImportJobMetadata": {
      "documentation": "<p>The metadata associated with the table data import job that was submitted.</p>",
      "members": {
        "dataSource": {
          "documentation": "<p>The source of the data that was submitted for import.</p>",
          "shape": "ImportDataSource"
        },
        "importOptions": {
          "documentation": "<p>The options that was specified at the time of submitting the import request.</p>",
          "shape": "ImportOptions"
        },
        "submitTime": {
          "documentation": "<p>The timestamp when the job was submitted for import.</p>",
          "shape": "TimestampInMillis"
        },
        "submitter": {
          "documentation": "<p>Details about the submitter of the import request.</p>",
          "shape": "ImportJobSubmitter"
        }
      },
      "required": [
        "submitter",
        "submitTime",
        "importOptions",
        "dataSource"
      ],
      "type": "structure"
    },
    "TableDataImportJobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "TableName": {
      "type": "string"
    },
    "TableRow": {
      "documentation": "<p>An object that contains attributes about a single row in a table</p>",
      "members": {
        "cells": {
          "documentation": "<p>A list of cells in the table row. The cells appear in the same order as the columns of the table. </p>",
          "shape": "Cells"
        },
        "rowId": {
          "documentation": "<p>The id of the row in the table.</p>",
          "shape": "RowId"
        }
      },
      "required": [
        "rowId",
        "cells"
      ],
      "type": "structure"
    },
    "TableRows": {
      "member": {
        "shape": "TableRow"
      },
      "type": "list"
    },
    "Tables": {
      "member": {
        "shape": "Table"
      },
      "type": "list"
    },
    "TagKey": {
      "max": 100,
      "min": 1,
      "pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$",
      "type": "string"
    },
    "TagKeysList": {
      "documentation": "<p>A list of tag keys</p>",
      "max": 100,
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The resource's Amazon Resource Name (ARN).</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tags": {
          "documentation": "<p>A list of tags to apply to the resource.</p>",
          "shape": "TagsMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 100,
      "min": 1,
      "pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$",
      "type": "string"
    },
    "TagsMap": {
      "documentation": "<p>A string to string map representing tags</p>",
      "key": {
        "shape": "TagKey"
      },
      "max": 100,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "ThrottlingException": {
      "documentation": "<p>Tps(transactions per second) rate reached.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "TimestampInMillis": {
      "type": "timestamp"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The resource's Amazon Resource Name (ARN).</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tagKeys": {
          "documentation": "<p>A list of tag keys to remove from the resource.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeysList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateRowData": {
      "documentation": "<p> Data needed to create a single row in a table as part of the BatchCreateTableRows request. </p>",
      "members": {
        "cellsToUpdate": {
          "documentation": "<p> A map representing the cells to update in the given row. The key is the column id of the cell and the value is the CellInput object that represents the data to set in that cell. </p>",
          "shape": "RowDataInput"
        },
        "rowId": {
          "documentation": "<p> The id of the row that needs to be updated. </p>",
          "shape": "RowId"
        }
      },
      "required": [
        "rowId",
        "cellsToUpdate"
      ],
      "type": "structure"
    },
    "UpdateRowDataList": {
      "max": 100,
      "member": {
        "shape": "UpdateRowData"
      },
      "min": 1,
      "type": "list"
    },
    "UpsertAction": {
      "enum": [
        "UPDATED",
        "APPENDED"
      ],
      "type": "string"
    },
    "UpsertRowData": {
      "documentation": "<p> Data needed to upsert rows in a table as part of a single item in the BatchUpsertTableRows request. </p>",
      "members": {
        "batchItemId": {
          "documentation": "<p> An external identifier that represents a single item in the request that is being upserted as part of the BatchUpsertTableRows request. This can be any string that you can use to identify the item in the request. The BatchUpsertTableRows API puts the batch item id in the results to allow you to link data in the request to data in the results. </p>",
          "shape": "BatchItemId"
        },
        "cellsToUpdate": {
          "documentation": "<p> A map representing the cells to update for the matching rows or an appended row. The key is the column id of the cell and the value is the CellInput object that represents the data to set in that cell. </p>",
          "shape": "RowDataInput"
        },
        "filter": {
          "documentation": "<p> The filter formula to use to find existing matching rows to update. The formula needs to return zero or more rows. If the formula returns 0 rows, then a new row will be appended in the target table. If the formula returns one or more rows, then the returned rows will be updated. </p> <p> Note that the filter formula needs to return rows from the target table for the upsert operation to succeed. If the filter formula has a syntax error or it doesn't evaluate to zero or more rows in the target table for any one item in the input list, then the entire BatchUpsertTableRows request fails and no updates are made to the table. </p>",
          "shape": "Filter"
        }
      },
      "required": [
        "batchItemId",
        "filter",
        "cellsToUpdate"
      ],
      "type": "structure"
    },
    "UpsertRowDataList": {
      "member": {
        "shape": "UpsertRowData"
      },
      "type": "list"
    },
    "UpsertRowsResult": {
      "documentation": "<p> An object that represents the result of a single upsert row request. </p>",
      "members": {
        "rowIds": {
          "documentation": "<p> The list of row ids that were changed as part of an upsert row operation. If the upsert resulted in an update, this list could potentially contain multiple rows that matched the filter and hence got updated. If the upsert resulted in an append, this list would only have the single row that was appended. </p>",
          "shape": "RowIdList"
        },
        "upsertAction": {
          "documentation": "<p> The result of the upsert action. </p>",
          "shape": "UpsertAction"
        }
      },
      "required": [
        "rowIds",
        "upsertAction"
      ],
      "type": "structure"
    },
    "UpsertRowsResultMap": {
      "key": {
        "shape": "BatchItemId"
      },
      "type": "map",
      "value": {
        "shape": "UpsertRowsResult"
      }
    },
    "ValidationException": {
      "documentation": "<p> Request is invalid. The message in the response contains details on why the request is invalid. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "VariableName": {
      "max": 255,
      "min": 1,
      "pattern": "^(?!\\s*$).+",
      "sensitive": true,
      "type": "string"
    },
    "VariableValue": {
      "documentation": "<p>The input variables to the app to be used by the InvokeScreenAutomation action request.</p>",
      "members": {
        "rawValue": {
          "documentation": "<p>Raw value of the variable.</p>",
          "shape": "RawValue"
        }
      },
      "required": [
        "rawValue"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "VariableValueMap": {
      "key": {
        "shape": "VariableName"
      },
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "VariableValue"
      }
    },
    "WorkbookCursor": {
      "type": "long"
    }
  },
  "version": "2.0"
}
