{
  "documentation": "<fullname>Amazon CloudWatch Synthetics</fullname> <p>You can use Amazon CloudWatch Synthetics to continually monitor your services. You can create and manage <i>canaries</i>, which are modular, lightweight scripts that monitor your endpoints and APIs from the outside-in. You can set up your canaries to run 24 hours a day, once per minute. The canaries help you check the availability and latency of your web services and troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and metrics. The canaries seamlessly integrate with CloudWatch ServiceLens to help you trace the causes of impacted nodes in your applications. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ServiceLens.html\">Using ServiceLens to Monitor the Health of Your Applications</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Before you create and manage canaries, be aware of the security considerations. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security Considerations for Synthetics Canaries</a>.</p>",
  "metadata": {
    "apiVersion": "2017-10-11",
    "endpointPrefix": "synthetics",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Synthetics",
    "serviceFullName": "Synthetics",
    "serviceId": "synthetics",
    "signatureVersion": "v4",
    "signingName": "synthetics",
    "uid": "synthetics-2017-10-11"
  },
  "operations": {
    "AssociateResource": {
      "documentation": "<p>Associates a canary with a group. Using groups can help you with managing and automating your canaries, and you can also view aggregated run results and statistics for all canaries in a group. </p> <p>You must run this operation in the Region where the canary exists.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/group/{groupIdentifier}/associate"
      },
      "input": {
        "shape": "AssociateResourceRequest"
      },
      "name": "AssociateResource",
      "output": {
        "shape": "AssociateResourceResponse"
      }
    },
    "CreateCanary": {
      "documentation": "<p>Creates a canary. Canaries are scripts that monitor your endpoints and APIs from the outside-in. Canaries help you check the availability and latency of your web services and troubleshoot anomalies by investigating load time data, screenshots of the UI, logs, and metrics. You can set up a canary to run continuously or just once. </p> <p>Do not use <code>CreateCanary</code> to modify an existing canary. Use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_UpdateCanary.html\">UpdateCanary</a> instead.</p> <p>To create canaries, you must have the <code>CloudWatchSyntheticsFullAccess</code> policy. If you are creating a new IAM role for the canary, you also need the <code>iam:CreateRole</code>, <code>iam:CreatePolicy</code> and <code>iam:AttachRolePolicy</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Roles\">Necessary Roles and Permissions</a>.</p> <p>Do not include secrets or proprietary information in your canary names. The canary name makes up part of the Amazon Resource Name (ARN) for the canary, and the ARN is included in outbound calls over the internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security Considerations for Synthetics Canaries</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestEntityTooLargeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canary"
      },
      "input": {
        "shape": "CreateCanaryRequest"
      },
      "name": "CreateCanary",
      "output": {
        "shape": "CreateCanaryResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a group which you can use to associate canaries with each other, including cross-Region canaries. Using groups can help you with managing and automating your canaries, and you can also view aggregated run results and statistics for all canaries in a group. </p> <p>Groups are global resources. When you create a group, it is replicated across Amazon Web Services Regions, and you can view it and add canaries to it from any Region. Although the group ARN format reflects the Region name where it was created, a group is not constrained to any Region. This means that you can put canaries from multiple Regions into the same group, and then use that group to view and manage all of those canaries in a single view.</p> <p>Groups are supported in all Regions except the Regions that are disabled by default. For more information about these Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\">Enabling a Region</a>.</p> <p>Each group can contain as many as 10 canaries. You can have as many as 20 groups in your account. Any single canary can be a member of up to 10 groups.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/group"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "DeleteCanary": {
      "documentation": "<p>Permanently deletes the specified canary.</p> <p>If you specify <code>DeleteLambda</code> to <code>true</code>, CloudWatch Synthetics also deletes the Lambda functions and layers that are used by the canary.</p> <p>Other resources used and created by the canary are not automatically deleted. After you delete a canary that you do not intend to use again, you should also delete the following:</p> <ul> <li> <p>The CloudWatch alarms created for this canary. These alarms have a name of <code>Synthetics-SharpDrop-Alarm-<i>MyCanaryName</i> </code>.</p> </li> <li> <p>Amazon S3 objects and buckets, such as the canary's artifact location.</p> </li> <li> <p>IAM roles created for the canary. If they were created in the console, these roles have the name <code> role/service-role/CloudWatchSyntheticsRole-<i>MyCanaryName</i> </code>.</p> </li> <li> <p>CloudWatch Logs log groups created for the canary. These logs groups have the name <code>/aws/lambda/cwsyn-<i>MyCanaryName</i> </code>. </p> </li> </ul> <p>Before you delete a canary, you might want to use <code>GetCanary</code> to display the information about this canary. Make note of the information returned by this operation so that you can delete these resources after you delete the canary.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/canary/{name}"
      },
      "input": {
        "shape": "DeleteCanaryRequest"
      },
      "name": "DeleteCanary",
      "output": {
        "shape": "DeleteCanaryResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group. The group doesn't need to be empty to be deleted. If there are canaries in the group, they are not deleted when you delete the group. </p> <p>Groups are a global resource that appear in all Regions, but the request to delete a group must be made from its home Region. You can find the home Region of a group within its ARN.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/group/{groupIdentifier}"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DescribeCanaries": {
      "documentation": "<p>This operation returns a list of the canaries in your account, along with full details about each canary.</p> <p>This operation supports resource-level authorization using an IAM policy and the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canaries"
      },
      "input": {
        "shape": "DescribeCanariesRequest"
      },
      "name": "DescribeCanaries",
      "output": {
        "shape": "DescribeCanariesResponse"
      }
    },
    "DescribeCanariesLastRun": {
      "documentation": "<p>Use this operation to see information from the most recent run of each canary that you have created.</p> <p>This operation supports resource-level authorization using an IAM policy and the <code>Names</code> parameter. If you specify the <code>Names</code> parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canaries/last-run"
      },
      "input": {
        "shape": "DescribeCanariesLastRunRequest"
      },
      "name": "DescribeCanariesLastRun",
      "output": {
        "shape": "DescribeCanariesLastRunResponse"
      }
    },
    "DescribeRuntimeVersions": {
      "documentation": "<p>Returns a list of Synthetics canary runtime versions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runtime-versions"
      },
      "input": {
        "shape": "DescribeRuntimeVersionsRequest"
      },
      "name": "DescribeRuntimeVersions",
      "output": {
        "shape": "DescribeRuntimeVersionsResponse"
      }
    },
    "DisassociateResource": {
      "documentation": "<p>Removes a canary from a group. You must run this operation in the Region where the canary exists.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/group/{groupIdentifier}/disassociate"
      },
      "input": {
        "shape": "DisassociateResourceRequest"
      },
      "name": "DisassociateResource",
      "output": {
        "shape": "DisassociateResourceResponse"
      }
    },
    "GetCanary": {
      "documentation": "<p>Retrieves complete information about one canary. You must specify the name of the canary that you want. To get a list of canaries and their names, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/canary/{name}"
      },
      "input": {
        "shape": "GetCanaryRequest"
      },
      "name": "GetCanary",
      "output": {
        "shape": "GetCanaryResponse"
      }
    },
    "GetCanaryRuns": {
      "documentation": "<p>Retrieves a list of runs for a specified canary.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canary/{name}/runs"
      },
      "input": {
        "shape": "GetCanaryRunsRequest"
      },
      "name": "GetCanaryRuns",
      "output": {
        "shape": "GetCanaryRunsResponse"
      }
    },
    "GetGroup": {
      "documentation": "<p>Returns information about one group. Groups are a global resource, so you can use this operation from any Region.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/group/{groupIdentifier}"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResponse"
      }
    },
    "ListAssociatedGroups": {
      "documentation": "<p>Returns a list of the groups that the specified canary is associated with. The canary that you specify must be in the current Region.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resource/{resourceArn}/groups"
      },
      "input": {
        "shape": "ListAssociatedGroupsRequest"
      },
      "name": "ListAssociatedGroups",
      "output": {
        "shape": "ListAssociatedGroupsResponse"
      }
    },
    "ListGroupResources": {
      "documentation": "<p>This operation returns a list of the ARNs of the canaries that are associated with the specified group.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/group/{groupIdentifier}/resources"
      },
      "input": {
        "shape": "ListGroupResourcesRequest"
      },
      "name": "ListGroupResources",
      "output": {
        "shape": "ListGroupResourcesResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Returns a list of all groups in the account, displaying their names, unique IDs, and ARNs. The groups from all Regions are returned.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/groups"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Displays the tags associated with a canary or group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartCanary": {
      "documentation": "<p>Use this operation to run a canary that has already been created. The frequency of the canary runs is determined by the value of the canary's <code>Schedule</code>. To see a canary's schedule, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_GetCanary.html\">GetCanary</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canary/{name}/start"
      },
      "input": {
        "shape": "StartCanaryRequest"
      },
      "name": "StartCanary",
      "output": {
        "shape": "StartCanaryResponse"
      }
    },
    "StopCanary": {
      "documentation": "<p>Stops the canary to prevent all future runs. If the canary is currently running,the run that is in progress completes on its own, publishes metrics, and uploads artifacts, but it is not recorded in Synthetics as a completed run.</p> <p>You can use <code>StartCanary</code> to start it running again with the canary\u2019s current schedule at any point in the future. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/canary/{name}/stop"
      },
      "input": {
        "shape": "StopCanaryRequest"
      },
      "name": "StopCanary",
      "output": {
        "shape": "StopCanaryResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified canary or group. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a canary or group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateCanary": {
      "documentation": "<p>Updates the configuration of a canary that has already been created.</p> <p>You can't use this operation to update the tags of an existing canary. To change the tags of an existing canary, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_TagResource.html\">TagResource</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "RequestEntityTooLargeException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/canary/{name}"
      },
      "input": {
        "shape": "UpdateCanaryRequest"
      },
      "name": "UpdateCanary",
      "output": {
        "shape": "UpdateCanaryResponse"
      }
    }
  },
  "shapes": {
    "ArtifactConfigInput": {
      "documentation": "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
      "members": {
        "S3Encryption": {
          "documentation": "<p>A structure that contains the configuration of the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3. Artifact encryption functionality is available only for canaries that use Synthetics runtime version syn-nodejs-puppeteer-3.3 or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
          "shape": "S3EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "ArtifactConfigOutput": {
      "documentation": "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
      "members": {
        "S3Encryption": {
          "documentation": "<p>A structure that contains the configuration of encryption settings for canary artifacts that are stored in Amazon S3. </p>",
          "shape": "S3EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "AssociateResourceRequest": {
      "members": {
        "GroupIdentifier": {
          "documentation": "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "location": "uri",
          "locationName": "groupIdentifier",
          "shape": "GroupIdentifier"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary that you want to associate with the specified group.</p>",
          "shape": "CanaryArn"
        }
      },
      "required": [
        "GroupIdentifier",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "AssociateResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>The request was not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "BaseScreenshot": {
      "documentation": "<p>A structure representing a screenshot that is used as a baseline during visual monitoring comparisons made by the canary.</p>",
      "members": {
        "IgnoreCoordinates": {
          "documentation": "<p>Coordinates that define the part of a screen to ignore during screenshot comparisons. To obtain the coordinates to use here, use the CloudWatch console to draw the boundaries on the screen. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/synthetics_canaries_deletion.html\"> Editing or deleting a canary</a> </p>",
          "shape": "BaseScreenshotIgnoreCoordinates"
        },
        "ScreenshotName": {
          "documentation": "<p>The name of the screenshot. This is generated the first time the canary is run after the <code>UpdateCanary</code> operation that specified for this canary to perform visual monitoring.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ScreenshotName"
      ],
      "type": "structure"
    },
    "BaseScreenshotConfigIgnoreCoordinate": {
      "pattern": "^(-?\\d{1,5}\\.?\\d{0,2},){3}(-?\\d{1,5}\\.?\\d{0,2}){1}$",
      "type": "string"
    },
    "BaseScreenshotIgnoreCoordinates": {
      "max": 20,
      "member": {
        "shape": "BaseScreenshotConfigIgnoreCoordinate"
      },
      "min": 0,
      "type": "list"
    },
    "BaseScreenshots": {
      "member": {
        "shape": "BaseScreenshot"
      },
      "type": "list"
    },
    "Blob": {
      "max": 10000000,
      "min": 1,
      "type": "blob"
    },
    "Canaries": {
      "member": {
        "shape": "Canary"
      },
      "type": "list"
    },
    "CanariesLastRun": {
      "member": {
        "shape": "CanaryLastRun"
      },
      "type": "list"
    },
    "Canary": {
      "documentation": "<p>This structure contains all information about one canary in your account.</p>",
      "members": {
        "ArtifactConfig": {
          "documentation": "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
          "shape": "ArtifactConfigOutput"
        },
        "ArtifactS3Location": {
          "documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the runs of this canary. Artifacts include the log file, screenshots, and HAR files.</p>",
          "shape": "String"
        },
        "Code": {
          "shape": "CanaryCodeOutput"
        },
        "EngineArn": {
          "documentation": "<p>The ARN of the Lambda function that is used as your canary's engine. For more information about Lambda ARN format, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-api-permissions-ref.html\">Resources and Conditions for Lambda Actions</a>.</p>",
          "shape": "FunctionArn"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The ARN of the IAM role used to run the canary. This role must include <code>lambda.amazonaws.com</code> as a principal in the trust policy.</p>",
          "shape": "RoleArn"
        },
        "FailureRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about failed runs of this canary.</p>",
          "shape": "MaxSize1024"
        },
        "Id": {
          "documentation": "<p>The unique ID of this canary.</p>",
          "shape": "UUID"
        },
        "Name": {
          "documentation": "<p>The name of the canary.</p>",
          "shape": "CanaryName"
        },
        "RunConfig": {
          "shape": "CanaryRunConfigOutput"
        },
        "RuntimeVersion": {
          "documentation": "<p>Specifies the runtime version to use for the canary. For more information about runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
          "shape": "String"
        },
        "Schedule": {
          "documentation": "<p>A structure that contains information about how often the canary is to run, and when these runs are to stop.</p>",
          "shape": "CanaryScheduleOutput"
        },
        "Status": {
          "documentation": "<p>A structure that contains information about the canary's status.</p>",
          "shape": "CanaryStatus"
        },
        "SuccessRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about successful runs of this canary.</p>",
          "shape": "MaxSize1024"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs that are associated with the canary.</p>",
          "shape": "TagMap"
        },
        "Timeline": {
          "documentation": "<p>A structure that contains information about when the canary was created, modified, and most recently run.</p>",
          "shape": "CanaryTimeline"
        },
        "VisualReference": {
          "documentation": "<p>If this canary performs visual monitoring by comparing screenshots, this structure contains the ID of the canary run to use as the baseline for screenshots, and the coordinates of any parts of the screen to ignore during the visual monitoring comparison.</p>",
          "shape": "VisualReferenceOutput"
        },
        "VpcConfig": {
          "shape": "VpcConfigOutput"
        }
      },
      "type": "structure"
    },
    "CanaryArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:canary:[0-9a-z_\\-]{1,21}",
      "type": "string"
    },
    "CanaryCodeInput": {
      "documentation": "<p>Use this structure to input your script code for the canary. This structure contains the Lambda handler with the location where the canary should start running the script. If the script is stored in an S3 bucket, the bucket name, key, and version are also included. If the script was passed into the canary directly, the script code is contained in the value of <code>Zipfile</code>. </p>",
      "members": {
        "Handler": {
          "documentation": "<p>The entry point to use for the source code when running the canary. For canaries that use the <code>syn-python-selenium-1.0</code> runtime or a <code>syn-nodejs.puppeteer</code> runtime earlier than <code>syn-nodejs.puppeteer-3.4</code>, the handler must be specified as <code> <i>fileName</i>.handler</code>. For <code>syn-python-selenium-1.1</code>, <code>syn-nodejs.puppeteer-3.4</code>, and later runtimes, the handler can be specified as <code> <i>fileName</i>.<i>functionName</i> </code>, or you can specify a folder where canary scripts reside as <code> <i>folder</i>/<i>fileName</i>.<i>functionName</i> </code>.</p>",
          "shape": "CodeHandler"
        },
        "S3Bucket": {
          "documentation": "<p>If your canary script is located in S3, specify the bucket name here. Do not include <code>s3://</code> as the start of the bucket name.</p>",
          "shape": "String"
        },
        "S3Key": {
          "documentation": "<p>The S3 key of your script. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingObjects.html\">Working with Amazon S3 Objects</a>.</p>",
          "shape": "String"
        },
        "S3Version": {
          "documentation": "<p>The S3 version ID of your script.</p>",
          "shape": "String"
        },
        "ZipFile": {
          "documentation": "<p>If you input your canary script directly into the canary instead of referring to an S3 location, the value of this parameter is the base64-encoded contents of the .zip file that contains the script. It must be smaller than 225 Kb.</p> <p>For large canary scripts, we recommend that you use an S3 location instead of inputting it directly with this parameter.</p>",
          "shape": "Blob"
        }
      },
      "required": [
        "Handler"
      ],
      "type": "structure"
    },
    "CanaryCodeOutput": {
      "documentation": "<p>This structure contains information about the canary's Lambda handler and where its code is stored by CloudWatch Synthetics.</p>",
      "members": {
        "Handler": {
          "documentation": "<p>The entry point to use for the source code when running the canary.</p>",
          "shape": "String"
        },
        "SourceLocationArn": {
          "documentation": "<p>The ARN of the Lambda layer where Synthetics stores the canary script code.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CanaryLastRun": {
      "documentation": "<p>This structure contains information about the most recent run of a single canary.</p>",
      "members": {
        "CanaryName": {
          "documentation": "<p>The name of the canary.</p>",
          "shape": "CanaryName"
        },
        "LastRun": {
          "documentation": "<p>The results from this canary's most recent run.</p>",
          "shape": "CanaryRun"
        }
      },
      "type": "structure"
    },
    "CanaryName": {
      "max": 21,
      "min": 1,
      "pattern": "^[0-9a-z_\\-]+$",
      "type": "string"
    },
    "CanaryRun": {
      "documentation": "<p>This structure contains the details about one run of one canary.</p>",
      "members": {
        "ArtifactS3Location": {
          "documentation": "<p>The location where the canary stored artifacts from the run. Artifacts include the log file, screenshots, and HAR files.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>A unique ID that identifies this canary run.</p>",
          "shape": "UUID"
        },
        "Name": {
          "documentation": "<p>The name of the canary.</p>",
          "shape": "CanaryName"
        },
        "Status": {
          "documentation": "<p>The status of this run.</p>",
          "shape": "CanaryRunStatus"
        },
        "Timeline": {
          "documentation": "<p>A structure that contains the start and end times of this run.</p>",
          "shape": "CanaryRunTimeline"
        }
      },
      "type": "structure"
    },
    "CanaryRunConfigInput": {
      "documentation": "<p>A structure that contains input information for a canary run.</p>",
      "members": {
        "ActiveTracing": {
          "documentation": "<p>Specifies whether this canary is to use active X-Ray tracing when it runs. Active tracing enables this canary run to be displayed in the ServiceLens and X-Ray service maps even if the canary does not hit an endpoint that has X-Ray tracing enabled. Using X-Ray tracing incurs charges. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_tracing.html\"> Canaries and X-Ray tracing</a>.</p> <p>You can enable active tracing only for canaries that use version <code>syn-nodejs-2.0</code> or later for their canary runtime.</p>",
          "shape": "NullableBoolean"
        },
        "EnvironmentVariables": {
          "documentation": "<p>Specifies the keys and values to use for any environment variables used in the canary script. Use the following format:</p> <p>{ \"key1\" : \"value1\", \"key2\" : \"value2\", ...}</p> <p>Keys must start with a letter and be at least two characters. The total size of your environment variables cannot exceed 4 KB. You can't specify any Lambda reserved environment variables as the keys for your environment variables. For more information about reserved keys, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime\"> Runtime environment variables</a>.</p> <important> <p>The environment variables keys and values are not encrypted. Do not store sensitive information in this field.</p> </important>",
          "shape": "EnvironmentVariablesMap"
        },
        "MemoryInMB": {
          "documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value must be a multiple of 64.</p>",
          "shape": "MaxSize3008"
        },
        "TimeoutInSeconds": {
          "documentation": "<p>How long the canary is allowed to run before it must stop. You can't set this time to be longer than the frequency of the runs of this canary.</p> <p>If you omit this field, the frequency of the canary is used as this value, up to a maximum of 14 minutes.</p>",
          "shape": "MaxFifteenMinutesInSeconds"
        }
      },
      "type": "structure"
    },
    "CanaryRunConfigOutput": {
      "documentation": "<p>A structure that contains information about a canary run.</p>",
      "members": {
        "ActiveTracing": {
          "documentation": "<p>Displays whether this canary run used active X-Ray tracing. </p>",
          "shape": "NullableBoolean"
        },
        "MemoryInMB": {
          "documentation": "<p>The maximum amount of memory available to the canary while it is running, in MB. This value must be a multiple of 64.</p>",
          "shape": "MaxSize3008"
        },
        "TimeoutInSeconds": {
          "documentation": "<p>How long the canary is allowed to run before it must stop.</p>",
          "shape": "MaxFifteenMinutesInSeconds"
        }
      },
      "type": "structure"
    },
    "CanaryRunState": {
      "enum": [
        "RUNNING",
        "PASSED",
        "FAILED"
      ],
      "type": "string"
    },
    "CanaryRunStateReasonCode": {
      "enum": [
        "CANARY_FAILURE",
        "EXECUTION_FAILURE"
      ],
      "type": "string"
    },
    "CanaryRunStatus": {
      "documentation": "<p>This structure contains the status information about a canary run.</p>",
      "members": {
        "State": {
          "documentation": "<p>The current state of the run.</p>",
          "shape": "CanaryRunState"
        },
        "StateReason": {
          "documentation": "<p>If run of the canary failed, this field contains the reason for the error.</p>",
          "shape": "String"
        },
        "StateReasonCode": {
          "documentation": "<p>If this value is <code>CANARY_FAILURE</code>, an exception occurred in the canary code. If this value is <code>EXECUTION_FAILURE</code>, an exception occurred in CloudWatch Synthetics.</p>",
          "shape": "CanaryRunStateReasonCode"
        }
      },
      "type": "structure"
    },
    "CanaryRunTimeline": {
      "documentation": "<p>This structure contains the start and end times of a single canary run.</p>",
      "members": {
        "Completed": {
          "documentation": "<p>The end time of the run.</p>",
          "shape": "Timestamp"
        },
        "Started": {
          "documentation": "<p>The start time of the run.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CanaryRuns": {
      "member": {
        "shape": "CanaryRun"
      },
      "type": "list"
    },
    "CanaryScheduleInput": {
      "documentation": "<p>This structure specifies how often a canary is to make runs and the date and time when it should stop making runs.</p>",
      "members": {
        "DurationInSeconds": {
          "documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to the schedule in the <code>Expression</code> value. If you specify 0, the canary continues making runs until you stop it. If you omit this field, the default of 0 is used.</p>",
          "shape": "MaxOneYearInSeconds"
        },
        "Expression": {
          "documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p> <p>For a rate expression, The syntax is <code>rate(<i>number unit</i>)</code>. <i>unit</i> can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p> <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every 10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p> <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value that causes the canary to run only once when it is started.</p> <p>Use <code>cron(<i>expression</i>)</code> to specify a cron expression. You can't schedule a canary to wait for more than a year before running. For information about the syntax for cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\"> Scheduling canary runs using cron</a>.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Expression"
      ],
      "type": "structure"
    },
    "CanaryScheduleOutput": {
      "documentation": "<p>How long, in seconds, for the canary to continue making regular runs according to the schedule in the <code>Expression</code> value.</p>",
      "members": {
        "DurationInSeconds": {
          "documentation": "<p>How long, in seconds, for the canary to continue making regular runs after it was created. The runs are performed according to the schedule in the <code>Expression</code> value.</p>",
          "shape": "MaxOneYearInSeconds"
        },
        "Expression": {
          "documentation": "<p>A <code>rate</code> expression or a <code>cron</code> expression that defines how often the canary is to run.</p> <p>For a rate expression, The syntax is <code>rate(<i>number unit</i>)</code>. <i>unit</i> can be <code>minute</code>, <code>minutes</code>, or <code>hour</code>. </p> <p>For example, <code>rate(1 minute)</code> runs the canary once a minute, <code>rate(10 minutes)</code> runs it once every 10 minutes, and <code>rate(1 hour)</code> runs it once every hour. You can specify a frequency between <code>rate(1 minute)</code> and <code>rate(1 hour)</code>.</p> <p>Specifying <code>rate(0 minute)</code> or <code>rate(0 hour)</code> is a special value that causes the canary to run only once when it is started.</p> <p>Use <code>cron(<i>expression</i>)</code> to specify a cron expression. For information about the syntax for cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_cron.html\"> Scheduling canary runs using cron</a>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CanaryState": {
      "enum": [
        "CREATING",
        "READY",
        "STARTING",
        "RUNNING",
        "UPDATING",
        "STOPPING",
        "STOPPED",
        "ERROR",
        "DELETING"
      ],
      "type": "string"
    },
    "CanaryStateReasonCode": {
      "enum": [
        "INVALID_PERMISSIONS",
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "UPDATE_PENDING",
        "UPDATE_IN_PROGRESS",
        "UPDATE_COMPLETE",
        "ROLLBACK_COMPLETE",
        "ROLLBACK_FAILED",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "SYNC_DELETE_IN_PROGRESS"
      ],
      "type": "string"
    },
    "CanaryStatus": {
      "documentation": "<p>A structure that contains the current state of the canary.</p>",
      "members": {
        "State": {
          "documentation": "<p>The current state of the canary.</p>",
          "shape": "CanaryState"
        },
        "StateReason": {
          "documentation": "<p>If the canary has insufficient permissions to run, this field provides more details.</p>",
          "shape": "String"
        },
        "StateReasonCode": {
          "documentation": "<p>If the canary cannot run or has failed, this field displays the reason.</p>",
          "shape": "CanaryStateReasonCode"
        }
      },
      "type": "structure"
    },
    "CanaryTimeline": {
      "documentation": "<p>This structure contains information about when the canary was created and modified.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The date and time the canary was created.</p>",
          "shape": "Timestamp"
        },
        "LastModified": {
          "documentation": "<p>The date and time the canary was most recently modified.</p>",
          "shape": "Timestamp"
        },
        "LastStarted": {
          "documentation": "<p>The date and time that the canary's most recent run started.</p>",
          "shape": "Timestamp"
        },
        "LastStopped": {
          "documentation": "<p>The date and time that the canary's most recent run ended.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CodeHandler": {
      "max": 128,
      "min": 1,
      "pattern": "^([0-9a-zA-Z_-]+\\/)*[0-9A-Za-z_\\\\-]+\\.[A-Za-z_][A-Za-z0-9_]*$",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>A conflicting operation is already in progress.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateCanaryRequest": {
      "members": {
        "ArtifactConfig": {
          "documentation": "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
          "shape": "ArtifactConfigInput"
        },
        "ArtifactS3Location": {
          "documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the test runs of this canary. Artifacts include the log file, screenshots, and HAR files. The name of the S3 bucket can't include a period (.).</p>",
          "shape": "String"
        },
        "Code": {
          "documentation": "<p>A structure that includes the entry point from which the canary should start running your script. If the script is stored in an S3 bucket, the bucket name, key, and version are also included. </p>",
          "shape": "CanaryCodeInput"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The ARN of the IAM role to be used to run the canary. This role must already exist, and must include <code>lambda.amazonaws.com</code> as a principal in the trust policy. The role must also have the following permissions:</p> <ul> <li> <p> <code>s3:PutObject</code> </p> </li> <li> <p> <code>s3:GetBucketLocation</code> </p> </li> <li> <p> <code>s3:ListAllMyBuckets</code> </p> </li> <li> <p> <code>cloudwatch:PutMetricData</code> </p> </li> <li> <p> <code>logs:CreateLogGroup</code> </p> </li> <li> <p> <code>logs:CreateLogStream</code> </p> </li> <li> <p> <code>logs:PutLogEvents</code> </p> </li> </ul>",
          "shape": "RoleArn"
        },
        "FailureRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about failed runs of this canary. If you omit this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>",
          "shape": "MaxSize1024"
        },
        "Name": {
          "documentation": "<p>The name for this canary. Be sure to give it a descriptive name that distinguishes it from other canaries in your account.</p> <p>Do not include secrets or proprietary information in your canary names. The canary name makes up part of the canary ARN, and the ARN is included in outbound calls over the internet. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/servicelens_canaries_security.html\">Security Considerations for Synthetics Canaries</a>.</p>",
          "shape": "CanaryName"
        },
        "RunConfig": {
          "documentation": "<p>A structure that contains the configuration for individual canary runs, such as timeout value and environment variables.</p> <important> <p>The environment variables keys and values are not encrypted. Do not store sensitive information in this field.</p> </important>",
          "shape": "CanaryRunConfigInput"
        },
        "RuntimeVersion": {
          "documentation": "<p>Specifies the runtime version to use for the canary. For a list of valid runtime versions and more information about runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
          "shape": "String"
        },
        "Schedule": {
          "documentation": "<p>A structure that contains information about how often the canary is to run and when these test runs are to stop.</p>",
          "shape": "CanaryScheduleInput"
        },
        "SuccessRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about successful runs of this canary. If you omit this field, the default of 31 days is used. The valid range is 1 to 455 days.</p>",
          "shape": "MaxSize1024"
        },
        "Tags": {
          "documentation": "<p>A list of key-value pairs to associate with the canary. You can associate as many as 50 tags with a canary.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only the resources that have certain tag values.</p>",
          "shape": "TagMap"
        },
        "VpcConfig": {
          "documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains information about the subnet and security groups of the VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\"> Running a Canary in a VPC</a>.</p>",
          "shape": "VpcConfigInput"
        }
      },
      "required": [
        "Name",
        "Code",
        "ArtifactS3Location",
        "ExecutionRoleArn",
        "Schedule",
        "RuntimeVersion"
      ],
      "type": "structure"
    },
    "CreateCanaryResponse": {
      "members": {
        "Canary": {
          "documentation": "<p>The full details about the canary you have created.</p>",
          "shape": "Canary"
        }
      },
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name for the group. It can include any Unicode characters.</p> <p>The names for all groups in your account, across all Regions, must be unique.</p>",
          "shape": "GroupName"
        },
        "Tags": {
          "documentation": "<p>A list of key-value pairs to associate with the group. You can associate as many as 50 tags with a group.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only the resources that have certain tag values.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "Group": {
          "documentation": "<p>A structure that contains information about the group that was just created.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "DeleteCanaryRequest": {
      "members": {
        "DeleteLambda": {
          "documentation": "<p>Specifies whether to also delete the Lambda functions and layers used by this canary. The default is false.</p> <p>Type: Boolean</p>",
          "location": "querystring",
          "locationName": "deleteLambda",
          "shape": "boolean"
        },
        "Name": {
          "documentation": "<p>The name of the canary that you want to delete. To find the names of your canaries, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteCanaryResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupIdentifier": {
          "documentation": "<p>Specifies which group to delete. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "location": "uri",
          "locationName": "groupIdentifier",
          "shape": "GroupIdentifier"
        }
      },
      "required": [
        "GroupIdentifier"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeCanariesLastRunNameFilter": {
      "max": 5,
      "member": {
        "shape": "CanaryName"
      },
      "min": 1,
      "type": "list"
    },
    "DescribeCanariesLastRunRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many runs are returned each time you use the <code>DescribeLastRun</code> operation. If you omit this parameter, the default of 100 is used.</p>",
          "shape": "MaxSize100"
        },
        "Names": {
          "documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can specify as many as five canary names.</p> <p>If you specify this parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use the <code>Names</code> parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
          "shape": "DescribeCanariesLastRunNameFilter"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "DescribeCanariesLastRunResponse": {
      "members": {
        "CanariesLastRun": {
          "documentation": "<p>An array that contains the information from the most recent run of each canary.</p>",
          "shape": "CanariesLastRun"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>DescribeCanariesLastRun</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "DescribeCanariesNameFilter": {
      "max": 5,
      "member": {
        "shape": "CanaryName"
      },
      "min": 1,
      "type": "list"
    },
    "DescribeCanariesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many canaries are returned each time you use the <code>DescribeCanaries</code> operation. If you omit this parameter, the default of 100 is used.</p>",
          "shape": "MaxCanaryResults"
        },
        "Names": {
          "documentation": "<p>Use this parameter to return only canaries that match the names that you specify here. You can specify as many as five canary names.</p> <p>If you specify this parameter, the operation is successful only if you have authorization to view all the canaries that you specify in your request. If you do not have permission to view any of the canaries, the request fails with a 403 response.</p> <p>You are required to use this parameter if you are logged on to a user or role that has an IAM policy that restricts which canaries that you are allowed to view. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Restricted.html\"> Limiting a user to viewing specific canaries</a>.</p>",
          "shape": "DescribeCanariesNameFilter"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "DescribeCanariesResponse": {
      "members": {
        "Canaries": {
          "documentation": "<p>Returns an array. Each item in the array contains the full information about one canary.</p>",
          "shape": "Canaries"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>DescribeCanaries</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "DescribeRuntimeVersionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many runs are returned each time you use the <code>DescribeRuntimeVersions</code> operation. If you omit this parameter, the default of 100 is used.</p>",
          "shape": "MaxSize100"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>DescribeRuntimeVersions</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "DescribeRuntimeVersionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>DescribeRuntimeVersions</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        },
        "RuntimeVersions": {
          "documentation": "<p>An array of objects that display the details about each Synthetics canary runtime version.</p>",
          "shape": "RuntimeVersionList"
        }
      },
      "type": "structure"
    },
    "DisassociateResourceRequest": {
      "members": {
        "GroupIdentifier": {
          "documentation": "<p>Specifies the group. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "location": "uri",
          "locationName": "groupIdentifier",
          "shape": "GroupIdentifier"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary that you want to remove from the specified group.</p>",
          "shape": "CanaryArn"
        }
      },
      "required": [
        "GroupIdentifier",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DisassociateResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "EncryptionMode": {
      "enum": [
        "SSE_S3",
        "SSE_KMS"
      ],
      "type": "string"
    },
    "EnvironmentVariableName": {
      "pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
      "type": "string"
    },
    "EnvironmentVariableValue": {
      "type": "string"
    },
    "EnvironmentVariablesMap": {
      "key": {
        "shape": "EnvironmentVariableName"
      },
      "type": "map",
      "value": {
        "shape": "EnvironmentVariableValue"
      }
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FunctionArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
      "type": "string"
    },
    "GetCanaryRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the canary that you want details for.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetCanaryResponse": {
      "members": {
        "Canary": {
          "documentation": "<p>A structure that contains the full information about the canary.</p>",
          "shape": "Canary"
        }
      },
      "type": "structure"
    },
    "GetCanaryRunsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many runs are returned each time you use the <code>GetCanaryRuns</code> operation. If you omit this parameter, the default of 100 is used.</p>",
          "shape": "MaxSize100"
        },
        "Name": {
          "documentation": "<p>The name of the canary that you want to see runs for.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>GetCanaryRuns</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetCanaryRunsResponse": {
      "members": {
        "CanaryRuns": {
          "documentation": "<p>An array of structures. Each structure contains the details of one of the retrieved canary runs.</p>",
          "shape": "CanaryRuns"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>GetCanaryRuns</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "GetGroupRequest": {
      "members": {
        "GroupIdentifier": {
          "documentation": "<p>Specifies the group to return information for. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "location": "uri",
          "locationName": "groupIdentifier",
          "shape": "GroupIdentifier"
        }
      },
      "required": [
        "GroupIdentifier"
      ],
      "type": "structure"
    },
    "GetGroupResponse": {
      "members": {
        "Group": {
          "documentation": "<p>A structure that contains information about the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>This structure contains information about one group.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the group.</p>",
          "shape": "GroupArn"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time that the group was created.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The unique ID of the group.</p>",
          "shape": "String"
        },
        "LastModifiedTime": {
          "documentation": "<p>The date and time that the group was most recently updated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "GroupName"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs that are associated with the canary.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GroupArn": {
      "max": 128,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:group:[0-9a-z]+",
      "type": "string"
    },
    "GroupIdentifier": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "GroupName": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "GroupSummary": {
      "documentation": "<p>A structure containing some information about a group.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the group.</p>",
          "shape": "GroupArn"
        },
        "Id": {
          "documentation": "<p>The unique ID of the group.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "GroupSummaryList": {
      "member": {
        "shape": "GroupSummary"
      },
      "type": "list"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal failure occurred. Try the operation again.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>An unknown internal error occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KmsKeyArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:kms:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:key/[\\w\\-\\/]+",
      "type": "string"
    },
    "ListAssociatedGroupsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many groups are returned each time you use the <code>ListAssociatedGroups</code> operation. If you omit this parameter, the default of 20 is used.</p>",
          "shape": "MaxGroupResults"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "PaginationToken"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary that you want to view groups for.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "CanaryArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListAssociatedGroupsResponse": {
      "members": {
        "Groups": {
          "documentation": "<p>An array of structures that contain information about the groups that this canary is associated with.</p>",
          "shape": "GroupSummaryList"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>ListAssociatedGroups</code> operation to retrieve the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGroupResourcesRequest": {
      "members": {
        "GroupIdentifier": {
          "documentation": "<p>Specifies the group to return information for. You can specify the group name, the ARN, or the group ID as the <code>GroupIdentifier</code>.</p>",
          "location": "uri",
          "locationName": "groupIdentifier",
          "shape": "GroupIdentifier"
        },
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many canary ARNs are returned each time you use the <code>ListGroupResources</code> operation. If you omit this parameter, the default of 20 is used.</p>",
          "shape": "MaxGroupResults"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "GroupIdentifier"
      ],
      "type": "structure"
    },
    "ListGroupResourcesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>ListGroupResources</code> operation to retrieve the next set of results.</p>",
          "shape": "PaginationToken"
        },
        "Resources": {
          "documentation": "<p>An array of ARNs. These ARNs are for the canaries that are associated with the group.</p>",
          "shape": "StringList"
        }
      },
      "type": "structure"
    },
    "ListGroupsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specify this parameter to limit how many groups are returned each time you use the <code>ListGroups</code> operation. If you omit this parameter, the default of 20 is used.</p>",
          "shape": "MaxGroupResults"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGroupsResponse": {
      "members": {
        "Groups": {
          "documentation": "<p>An array of structures that each contain information about one group.</p>",
          "shape": "GroupSummaryList"
        },
        "NextToken": {
          "documentation": "<p>A token that indicates that there is more data available. You can use this token in a subsequent <code>ListGroups</code> operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary or group that you want to view tags for.</p> <p>The ARN format of a canary is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:canary:<i>canary-name</i> </code>.</p> <p>The ARN format of a group is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:group:<i>group-name</i> </code> </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The list of tag keys and values associated with the resource that you specified.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "MaxCanaryResults": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "MaxFifteenMinutesInSeconds": {
      "max": 840,
      "min": 3,
      "type": "integer"
    },
    "MaxGroupResults": {
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "MaxOneYearInSeconds": {
      "max": 31622400,
      "min": 0,
      "type": "long"
    },
    "MaxSize100": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxSize1024": {
      "max": 1024,
      "min": 1,
      "type": "integer"
    },
    "MaxSize3008": {
      "max": 3008,
      "min": 960,
      "type": "integer"
    },
    "NotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NullableBoolean": {
      "type": "boolean"
    },
    "PaginationToken": {
      "max": 512,
      "min": 1,
      "pattern": "^.+$",
      "type": "string"
    },
    "RequestEntityTooLargeException": {
      "documentation": "<p>One of the input resources is larger than is allowed.</p>",
      "error": {
        "httpStatusCode": 413
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:synthetics:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:(canary|group):[0-9a-z_\\-]+",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>One of the specified resources was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "RoleArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
      "type": "string"
    },
    "RuntimeVersion": {
      "documentation": "<p>This structure contains information about one canary runtime version. For more information about runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
      "members": {
        "DeprecationDate": {
          "documentation": "<p>If this runtime version is deprecated, this value is the date of deprecation.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>A description of the runtime version, created by Amazon.</p>",
          "shape": "String"
        },
        "ReleaseDate": {
          "documentation": "<p>The date that the runtime version was released.</p>",
          "shape": "Timestamp"
        },
        "VersionName": {
          "documentation": "<p>The name of the runtime version. For a list of valid runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RuntimeVersionList": {
      "member": {
        "shape": "RuntimeVersion"
      },
      "type": "list"
    },
    "S3EncryptionConfig": {
      "documentation": "<p>A structure that contains the configuration of encryption-at-rest settings for canary artifacts that the canary uploads to Amazon S3. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_artifact_encryption.html\">Encrypting canary artifacts</a> </p>",
      "members": {
        "EncryptionMode": {
          "documentation": "<p> The encryption method to use for artifacts created by this canary. Specify <code>SSE_S3</code> to use server-side encryption (SSE) with an Amazon S3-managed key. Specify <code>SSE-KMS</code> to use server-side encryption with a customer-managed KMS key.</p> <p>If you omit this parameter, an Amazon Web Services-managed KMS key is used. </p>",
          "shape": "EncryptionMode"
        },
        "KmsKeyArn": {
          "documentation": "<p>The ARN of the customer-managed KMS key to use, if you specify <code>SSE-KMS</code> for <code>EncryptionMode</code> </p>",
          "shape": "KmsKeyArn"
        }
      },
      "type": "structure"
    },
    "SecurityGroupId": {
      "type": "string"
    },
    "SecurityGroupIds": {
      "max": 5,
      "member": {
        "shape": "SecurityGroupId"
      },
      "min": 0,
      "type": "list"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The request exceeded a service quota value.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StartCanaryRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the canary that you want to run. To find canary names, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "StartCanaryResponse": {
      "members": {},
      "type": "structure"
    },
    "StopCanaryRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the canary that you want to stop. To find the names of your canaries, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">ListCanaries</a>.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "StopCanaryResponse": {
      "members": {},
      "type": "structure"
    },
    "String": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SubnetId": {
      "type": "string"
    },
    "SubnetIds": {
      "max": 16,
      "member": {
        "shape": "SubnetId"
      },
      "min": 0,
      "type": "list"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary or group that you're adding tags to.</p> <p>The ARN format of a canary is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:canary:<i>canary-name</i> </code>.</p> <p>The ARN format of a group is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:group:<i>group-name</i> </code> </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs to associate with the resource.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Token": {
      "max": 252,
      "min": 4,
      "type": "string"
    },
    "TooManyRequestsException": {
      "documentation": "<p>There were too many simultaneous requests. Try the operation again.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UUID": {
      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the canary or group that you're removing tags from.</p> <p>The ARN format of a canary is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:canary:<i>canary-name</i> </code>.</p> <p>The ARN format of a group is <code>arn:aws:synthetics:<i>Region</i>:<i>account-id</i>:group:<i>group-name</i> </code> </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "TagKeys": {
          "documentation": "<p>The list of tag keys to remove from the resource.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateCanaryRequest": {
      "members": {
        "ArtifactConfig": {
          "documentation": "<p>A structure that contains the configuration for canary artifacts, including the encryption-at-rest settings for artifacts that the canary uploads to Amazon S3.</p>",
          "shape": "ArtifactConfigInput"
        },
        "ArtifactS3Location": {
          "documentation": "<p>The location in Amazon S3 where Synthetics stores artifacts from the test runs of this canary. Artifacts include the log file, screenshots, and HAR files. The name of the S3 bucket can't include a period (.).</p>",
          "shape": "String"
        },
        "Code": {
          "documentation": "<p>A structure that includes the entry point from which the canary should start running your script. If the script is stored in an S3 bucket, the bucket name, key, and version are also included. </p>",
          "shape": "CanaryCodeInput"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The ARN of the IAM role to be used to run the canary. This role must already exist, and must include <code>lambda.amazonaws.com</code> as a principal in the trust policy. The role must also have the following permissions:</p> <ul> <li> <p> <code>s3:PutObject</code> </p> </li> <li> <p> <code>s3:GetBucketLocation</code> </p> </li> <li> <p> <code>s3:ListAllMyBuckets</code> </p> </li> <li> <p> <code>cloudwatch:PutMetricData</code> </p> </li> <li> <p> <code>logs:CreateLogGroup</code> </p> </li> <li> <p> <code>logs:CreateLogStream</code> </p> </li> <li> <p> <code>logs:CreateLogStream</code> </p> </li> </ul>",
          "shape": "RoleArn"
        },
        "FailureRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about failed runs of this canary.</p>",
          "shape": "MaxSize1024"
        },
        "Name": {
          "documentation": "<p>The name of the canary that you want to update. To find the names of your canaries, use <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_DescribeCanaries.html\">DescribeCanaries</a>.</p> <p>You cannot change the name of a canary that has already been created.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "CanaryName"
        },
        "RunConfig": {
          "documentation": "<p>A structure that contains the timeout value that is used for each individual run of the canary.</p> <important> <p>The environment variables keys and values are not encrypted. Do not store sensitive information in this field.</p> </important>",
          "shape": "CanaryRunConfigInput"
        },
        "RuntimeVersion": {
          "documentation": "<p>Specifies the runtime version to use for the canary. For a list of valid runtime versions and for more information about runtime versions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Library.html\"> Canary Runtime Versions</a>.</p>",
          "shape": "String"
        },
        "Schedule": {
          "documentation": "<p>A structure that contains information about how often the canary is to run, and when these runs are to stop.</p>",
          "shape": "CanaryScheduleInput"
        },
        "SuccessRetentionPeriodInDays": {
          "documentation": "<p>The number of days to retain data about successful runs of this canary.</p>",
          "shape": "MaxSize1024"
        },
        "VisualReference": {
          "documentation": "<p>Defines the screenshots to use as the baseline for comparisons during visual monitoring comparisons during future runs of this canary. If you omit this parameter, no changes are made to any baseline screenshots that the canary might be using already.</p> <p>Visual monitoring is supported only on canaries running the <b>syn-puppeteer-node-3.2</b> runtime or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Library_SyntheticsLogger_VisualTesting.html\"> Visual monitoring</a> and <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Blueprints_VisualTesting.html\"> Visual monitoring blueprint</a> </p>",
          "shape": "VisualReferenceInput"
        },
        "VpcConfig": {
          "documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains information about the subnet and security groups of the VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\"> Running a Canary in a VPC</a>.</p>",
          "shape": "VpcConfigInput"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "UpdateCanaryResponse": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>A parameter could not be validated.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "VisualReferenceInput": {
      "documentation": "<p>An object that specifies what screenshots to use as a baseline for visual monitoring by this canary. It can optionally also specify parts of the screenshots to ignore during the visual monitoring comparison.</p> <p>Visual monitoring is supported only on canaries running the <b>syn-puppeteer-node-3.2</b> runtime or later. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Library_SyntheticsLogger_VisualTesting.html\"> Visual monitoring</a> and <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_Blueprints_VisualTesting.html\"> Visual monitoring blueprint</a> </p>",
      "members": {
        "BaseCanaryRunId": {
          "documentation": "<p>Specifies which canary run to use the screenshots from as the baseline for future visual monitoring with this canary. Valid values are <code>nextrun</code> to use the screenshots from the next run after this update is made, <code>lastrun</code> to use the screenshots from the most recent run before this update was made, or the value of <code>Id</code> in the <a href=\"https://docs.aws.amazon.com/AmazonSynthetics/latest/APIReference/API_CanaryRun.html\"> CanaryRun</a> from any past run of this canary.</p>",
          "shape": "String"
        },
        "BaseScreenshots": {
          "documentation": "<p>An array of screenshots that will be used as the baseline for visual monitoring in future runs of this canary. If there is a screenshot that you don't want to be used for visual monitoring, remove it from this array.</p>",
          "shape": "BaseScreenshots"
        }
      },
      "required": [
        "BaseCanaryRunId"
      ],
      "type": "structure"
    },
    "VisualReferenceOutput": {
      "documentation": "<p>If this canary performs visual monitoring by comparing screenshots, this structure contains the ID of the canary run that is used as the baseline for screenshots, and the coordinates of any parts of those screenshots that are ignored during visual monitoring comparison.</p> <p>Visual monitoring is supported only on canaries running the <b>syn-puppeteer-node-3.2</b> runtime or later.</p>",
      "members": {
        "BaseCanaryRunId": {
          "documentation": "<p>The ID of the canary run that produced the baseline screenshots that are used for visual monitoring comparisons by this canary.</p>",
          "shape": "String"
        },
        "BaseScreenshots": {
          "documentation": "<p>An array of screenshots that are used as the baseline for comparisons during visual monitoring.</p>",
          "shape": "BaseScreenshots"
        }
      },
      "type": "structure"
    },
    "VpcConfigInput": {
      "documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains information about the subnets and security groups of the VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\"> Running a Canary in a VPC</a>.</p>",
      "members": {
        "SecurityGroupIds": {
          "documentation": "<p>The IDs of the security groups for this canary.</p>",
          "shape": "SecurityGroupIds"
        },
        "SubnetIds": {
          "documentation": "<p>The IDs of the subnets where this canary is to run.</p>",
          "shape": "SubnetIds"
        }
      },
      "type": "structure"
    },
    "VpcConfigOutput": {
      "documentation": "<p>If this canary is to test an endpoint in a VPC, this structure contains information about the subnets and security groups of the VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Synthetics_Canaries_VPC.html\"> Running a Canary in a VPC</a>.</p>",
      "members": {
        "SecurityGroupIds": {
          "documentation": "<p>The IDs of the security groups for this canary.</p>",
          "shape": "SecurityGroupIds"
        },
        "SubnetIds": {
          "documentation": "<p>The IDs of the subnets where this canary is to run.</p>",
          "shape": "SubnetIds"
        },
        "VpcId": {
          "documentation": "<p>The IDs of the VPC where this canary is to run.</p>",
          "shape": "VpcId"
        }
      },
      "type": "structure"
    },
    "VpcId": {
      "type": "string"
    },
    "boolean": {
      "type": "boolean"
    }
  },
  "version": "2.0"
}
