{
  "documentation": "<p>This is the <i>Firewall Manager API Reference</i>. This guide is for developers who need detailed information about the Firewall Manager API actions, data types, and errors. For detailed information about Firewall Manager features, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">Firewall Manager Developer Guide</a>.</p> <p>Some API actions require explicit resource permissions. For information, see the developer guide topic <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a>. </p>",
  "metadata": {
    "apiVersion": "2018-01-01",
    "endpointPrefix": "fms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "FMS",
    "serviceFullName": "Firewall Management Service",
    "serviceId": "FMS",
    "signatureVersion": "v4",
    "targetPrefix": "AWSFMS_20180101",
    "uid": "fms-2018-01-01"
  },
  "operations": {
    "AssociateAdminAccount": {
      "documentation": "<p>Sets the Firewall Manager administrator account. The account must be a member of the organization in Organizations whose resources you want to protect. Firewall Manager sets the permissions that allow the account to administer your Firewall Manager policies.</p> <p>The account that you associate with Firewall Manager is called the Firewall Manager administrator account. </p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateAdminAccountRequest"
      },
      "name": "AssociateAdminAccount"
    },
    "AssociateThirdPartyFirewall": {
      "documentation": "<p>Sets the Firewall Manager policy administrator as a tenant administrator of a third-party firewall service. A tenant is an instance of the third-party firewall service that's associated with your Amazon Web Services customer account.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateThirdPartyFirewallRequest"
      },
      "name": "AssociateThirdPartyFirewall",
      "output": {
        "shape": "AssociateThirdPartyFirewallResponse"
      }
    },
    "DeleteAppsList": {
      "documentation": "<p>Permanently deletes an Firewall Manager applications list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppsListRequest"
      },
      "name": "DeleteAppsList"
    },
    "DeleteNotificationChannel": {
      "documentation": "<p>Deletes an Firewall Manager association with the IAM role and the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotificationChannelRequest"
      },
      "name": "DeleteNotificationChannel"
    },
    "DeletePolicy": {
      "documentation": "<p>Permanently deletes an Firewall Manager policy. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "name": "DeletePolicy"
    },
    "DeleteProtocolsList": {
      "documentation": "<p>Permanently deletes an Firewall Manager protocols list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProtocolsListRequest"
      },
      "name": "DeleteProtocolsList"
    },
    "DisassociateAdminAccount": {
      "documentation": "<p>Disassociates the account that has been set as the Firewall Manager administrator account. To set a different account as the administrator account, you must submit an <code>AssociateAdminAccount</code> request.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateAdminAccountRequest"
      },
      "name": "DisassociateAdminAccount"
    },
    "DisassociateThirdPartyFirewall": {
      "documentation": "<p>Disassociates a Firewall Manager policy administrator from a third-party firewall tenant. When you call <code>DisassociateThirdPartyFirewall</code>, the third-party firewall vendor deletes all of the firewalls that are associated with the account.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateThirdPartyFirewallRequest"
      },
      "name": "DisassociateThirdPartyFirewall",
      "output": {
        "shape": "DisassociateThirdPartyFirewallResponse"
      }
    },
    "GetAdminAccount": {
      "documentation": "<p>Returns the Organizations account that is associated with Firewall Manager as the Firewall Manager administrator.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAdminAccountRequest"
      },
      "name": "GetAdminAccount",
      "output": {
        "shape": "GetAdminAccountResponse"
      }
    },
    "GetAppsList": {
      "documentation": "<p>Returns information about the specified Firewall Manager applications list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppsListRequest"
      },
      "name": "GetAppsList",
      "output": {
        "shape": "GetAppsListResponse"
      }
    },
    "GetComplianceDetail": {
      "documentation": "<p>Returns detailed compliance information about the specified member account. Details include resources that are in and out of compliance with the specified policy. </p> <ul> <li> <p>Resources are considered noncompliant for WAF and Shield Advanced policies if the specified policy has not been applied to them.</p> </li> <li> <p>Resources are considered noncompliant for security group policies if they are in scope of the policy, they violate one or more of the policy rules, and remediation is disabled or not possible.</p> </li> <li> <p>Resources are considered noncompliant for Network Firewall policies if a firewall is missing in the VPC, if the firewall endpoint isn't set up in an expected Availability Zone and subnet, if a subnet created by the Firewall Manager doesn't have the expected route table, and for modifications to a firewall policy that violate the Firewall Manager policy's rules.</p> </li> <li> <p>Resources are considered noncompliant for DNS Firewall policies if a DNS Firewall rule group is missing from the rule group associations for the VPC. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetComplianceDetailRequest"
      },
      "name": "GetComplianceDetail",
      "output": {
        "shape": "GetComplianceDetailResponse"
      }
    },
    "GetNotificationChannel": {
      "documentation": "<p>Information about the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNotificationChannelRequest"
      },
      "name": "GetNotificationChannel",
      "output": {
        "shape": "GetNotificationChannelResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p>Returns information about the specified Firewall Manager policy.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "GetProtectionStatus": {
      "documentation": "<p>If you created a Shield Advanced policy, returns policy-level attack summary information in the event of a potential DDoS attack. Other policy types are currently unsupported.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetProtectionStatusRequest"
      },
      "name": "GetProtectionStatus",
      "output": {
        "shape": "GetProtectionStatusResponse"
      }
    },
    "GetProtocolsList": {
      "documentation": "<p>Returns information about the specified Firewall Manager protocols list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetProtocolsListRequest"
      },
      "name": "GetProtocolsList",
      "output": {
        "shape": "GetProtocolsListResponse"
      }
    },
    "GetThirdPartyFirewallAssociationStatus": {
      "documentation": "<p>The onboarding status of a Firewall Manager admin account to third-party firewall vendor tenant.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetThirdPartyFirewallAssociationStatusRequest"
      },
      "name": "GetThirdPartyFirewallAssociationStatus",
      "output": {
        "shape": "GetThirdPartyFirewallAssociationStatusResponse"
      }
    },
    "GetViolationDetails": {
      "documentation": "<p>Retrieves violations for a resource based on the specified Firewall Manager policy and Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetViolationDetailsRequest"
      },
      "name": "GetViolationDetails",
      "output": {
        "shape": "GetViolationDetailsResponse"
      }
    },
    "ListAppsLists": {
      "documentation": "<p>Returns an array of <code>AppsListDataSummary</code> objects.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAppsListsRequest"
      },
      "name": "ListAppsLists",
      "output": {
        "shape": "ListAppsListsResponse"
      }
    },
    "ListComplianceStatus": {
      "documentation": "<p>Returns an array of <code>PolicyComplianceStatus</code> objects. Use <code>PolicyComplianceStatus</code> to get a summary of which member accounts are protected by the specified policy. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComplianceStatusRequest"
      },
      "name": "ListComplianceStatus",
      "output": {
        "shape": "ListComplianceStatusResponse"
      }
    },
    "ListMemberAccounts": {
      "documentation": "<p>Returns a <code>MemberAccounts</code> object that lists the member accounts in the administrator's Amazon Web Services organization.</p> <p>The <code>ListMemberAccounts</code> must be submitted by the account that is set as the Firewall Manager administrator.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMemberAccountsRequest"
      },
      "name": "ListMemberAccounts",
      "output": {
        "shape": "ListMemberAccountsResponse"
      }
    },
    "ListPolicies": {
      "documentation": "<p>Returns an array of <code>PolicySummary</code> objects.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPoliciesRequest"
      },
      "name": "ListPolicies",
      "output": {
        "shape": "ListPoliciesResponse"
      }
    },
    "ListProtocolsLists": {
      "documentation": "<p>Returns an array of <code>ProtocolsListDataSummary</code> objects.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProtocolsListsRequest"
      },
      "name": "ListProtocolsLists",
      "output": {
        "shape": "ListProtocolsListsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of tags for the specified Amazon Web Services resource. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListThirdPartyFirewallFirewallPolicies": {
      "documentation": "<p>Retrieves a list of all of the third-party firewall policies that are associated with the third-party firewall administrator's account.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListThirdPartyFirewallFirewallPoliciesRequest"
      },
      "name": "ListThirdPartyFirewallFirewallPolicies",
      "output": {
        "shape": "ListThirdPartyFirewallFirewallPoliciesResponse"
      }
    },
    "PutAppsList": {
      "documentation": "<p>Creates an Firewall Manager applications list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppsListRequest"
      },
      "name": "PutAppsList",
      "output": {
        "shape": "PutAppsListResponse"
      }
    },
    "PutNotificationChannel": {
      "documentation": "<p>Designates the IAM role and Amazon Simple Notification Service (SNS) topic that Firewall Manager uses to record SNS logs.</p> <p>To perform this action outside of the console, you must configure the SNS topic to allow the Firewall Manager role <code>AWSServiceRoleForFMS</code> to publish SNS logs. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a> in the <i>Firewall Manager Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutNotificationChannelRequest"
      },
      "name": "PutNotificationChannel"
    },
    "PutPolicy": {
      "documentation": "<p>Creates an Firewall Manager policy.</p> <p>Firewall Manager provides the following types of policies: </p> <ul> <li> <p>An WAF policy (type WAFV2), which defines rule groups to run first in the corresponding WAF web ACL and rule groups to run last in the web ACL.</p> </li> <li> <p>An WAF Classic policy (type WAF), which defines a rule group. </p> </li> <li> <p>A Shield Advanced policy, which applies Shield Advanced protection to specified accounts and resources.</p> </li> <li> <p>A security group policy, which manages VPC security groups across your Amazon Web Services organization. </p> </li> <li> <p>An Network Firewall policy, which provides firewall rules to filter network traffic in specified Amazon VPCs.</p> </li> <li> <p>A DNS Firewall policy, which provides Route\u00a053 Resolver DNS Firewall rules to filter DNS queries for specified VPCs.</p> </li> </ul> <p>Each policy is specific to one of the types. If you want to enforce more than one policy type across accounts, create multiple policies. You can create multiple policies for each type.</p> <p>You must be subscribed to Shield Advanced to create a Shield Advanced policy. For more information about subscribing to Shield Advanced, see <a href=\"https://docs.aws.amazon.com/waf/latest/DDOSAPIReference/API_CreateSubscription.html\">CreateSubscription</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPolicyRequest"
      },
      "name": "PutPolicy",
      "output": {
        "shape": "PutPolicyResponse"
      }
    },
    "PutProtocolsList": {
      "documentation": "<p>Creates an Firewall Manager protocols list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutProtocolsListRequest"
      },
      "name": "PutProtocolsList",
      "output": {
        "shape": "PutProtocolsListResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to an Amazon Web Services resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from an Amazon Web Services resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "AWSAccountId": {
      "max": 1024,
      "min": 1,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "AccountRoleStatus": {
      "enum": [
        "READY",
        "CREATING",
        "PENDING_DELETION",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "ActionTarget": {
      "documentation": "<p>Describes a remediation action target.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the remediation action target.</p>",
          "shape": "LengthBoundedString"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the remediation target.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "App": {
      "documentation": "<p>An individual Firewall Manager application.</p>",
      "members": {
        "AppName": {
          "documentation": "<p>The application's name.</p>",
          "shape": "ResourceName"
        },
        "Port": {
          "documentation": "<p>The application's port number, for example <code>80</code>.</p>",
          "shape": "IPPortNumber"
        },
        "Protocol": {
          "documentation": "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
          "shape": "Protocol"
        }
      },
      "required": [
        "AppName",
        "Protocol",
        "Port"
      ],
      "type": "structure"
    },
    "AppsList": {
      "member": {
        "shape": "App"
      },
      "type": "list"
    },
    "AppsListData": {
      "documentation": "<p>An Firewall Manager applications list.</p>",
      "members": {
        "AppsList": {
          "documentation": "<p>An array of applications in the Firewall Manager applications list.</p>",
          "shape": "AppsList"
        },
        "CreateTime": {
          "documentation": "<p>The time that the Firewall Manager applications list was created.</p>",
          "shape": "TimeStamp"
        },
        "LastUpdateTime": {
          "documentation": "<p>The time that the Firewall Manager applications list was last updated.</p>",
          "shape": "TimeStamp"
        },
        "ListId": {
          "documentation": "<p>The ID of the Firewall Manager applications list.</p>",
          "shape": "ListId"
        },
        "ListName": {
          "documentation": "<p>The name of the Firewall Manager applications list.</p>",
          "shape": "ResourceName"
        },
        "ListUpdateToken": {
          "documentation": "<p>A unique identifier for each update to the list. When you update the list, the update token must match the token of the current version of the application list. You can retrieve the update token by getting the list. </p>",
          "shape": "UpdateToken"
        },
        "PreviousAppsList": {
          "documentation": "<p>A map of previous version numbers to their corresponding <code>App</code> object arrays.</p>",
          "shape": "PreviousAppsList"
        }
      },
      "required": [
        "ListName",
        "AppsList"
      ],
      "type": "structure"
    },
    "AppsListDataSummary": {
      "documentation": "<p>Details of the Firewall Manager applications list.</p>",
      "members": {
        "AppsList": {
          "documentation": "<p>An array of <code>App</code> objects in the Firewall Manager applications list.</p>",
          "shape": "AppsList"
        },
        "ListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>",
          "shape": "ResourceArn"
        },
        "ListId": {
          "documentation": "<p>The ID of the applications list.</p>",
          "shape": "ListId"
        },
        "ListName": {
          "documentation": "<p>The name of the applications list.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "AppsListsData": {
      "member": {
        "shape": "AppsListDataSummary"
      },
      "type": "list"
    },
    "AssociateAdminAccountRequest": {
      "members": {
        "AdminAccount": {
          "documentation": "<p>The Amazon Web Services account ID to associate with Firewall Manager as the Firewall Manager administrator account. This must be an Organizations member account. For more information about Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the Amazon Web Services Accounts in Your Organization</a>. </p>",
          "shape": "AWSAccountId"
        }
      },
      "required": [
        "AdminAccount"
      ],
      "type": "structure"
    },
    "AssociateThirdPartyFirewallRequest": {
      "members": {
        "ThirdPartyFirewall": {
          "documentation": "<p>The name of the third-party firewall vendor.</p>",
          "shape": "ThirdPartyFirewall"
        }
      },
      "required": [
        "ThirdPartyFirewall"
      ],
      "type": "structure"
    },
    "AssociateThirdPartyFirewallResponse": {
      "members": {
        "ThirdPartyFirewallStatus": {
          "documentation": "<p>The current status for setting a Firewall Manager policy administrator's account as an administrator of the third-party firewall tenant.</p> <ul> <li> <p> <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p> </li> <li> <p> <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p> </li> <li> <p> <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p> </li> </ul>",
          "shape": "ThirdPartyFirewallAssociationStatus"
        }
      },
      "type": "structure"
    },
    "AwsEc2InstanceViolation": {
      "documentation": "<p>Violation detail for an EC2 instance resource.</p>",
      "members": {
        "AwsEc2NetworkInterfaceViolations": {
          "documentation": "<p>Violation detail for network interfaces associated with the EC2 instance.</p>",
          "shape": "AwsEc2NetworkInterfaceViolations"
        },
        "ViolationTarget": {
          "documentation": "<p>The resource ID of the EC2 instance.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceViolation": {
      "documentation": "<p>Violation detail for network interfaces associated with an EC2 instance.</p>",
      "members": {
        "ViolatingSecurityGroups": {
          "documentation": "<p>List of security groups that violate the rules specified in the primary security group of the Firewall Manager policy.</p>",
          "shape": "ResourceIdList"
        },
        "ViolationTarget": {
          "documentation": "<p>The resource ID of the network interface.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceViolations": {
      "member": {
        "shape": "AwsEc2NetworkInterfaceViolation"
      },
      "type": "list"
    },
    "AwsVPCSecurityGroupViolation": {
      "documentation": "<p>Violation detail for the rule violation in a security group when compared to the primary security group of the Firewall Manager policy.</p>",
      "members": {
        "PartialMatches": {
          "documentation": "<p>List of rules specified in the security group of the Firewall Manager policy that partially match the <code>ViolationTarget</code> rule.</p>",
          "shape": "PartialMatches"
        },
        "PossibleSecurityGroupRemediationActions": {
          "documentation": "<p>Remediation options for the rule specified in the <code>ViolationTarget</code>.</p>",
          "shape": "SecurityGroupRemediationActions"
        },
        "ViolationTarget": {
          "documentation": "<p>The security group rule that is being evaluated.</p>",
          "shape": "ViolationTarget"
        },
        "ViolationTargetDescription": {
          "documentation": "<p>A description of the security group that violates the policy.</p>",
          "shape": "LengthBoundedString"
        }
      },
      "type": "structure"
    },
    "BasicInteger": {
      "max": 2147483647,
      "min": -2147483648,
      "type": "integer"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CIDR": {
      "max": 256,
      "min": 0,
      "pattern": "[a-f0-9:./]+",
      "type": "string"
    },
    "ComplianceViolator": {
      "documentation": "<p>Details of the resource that is not protected by the policy.</p>",
      "members": {
        "Metadata": {
          "documentation": "<p>Metadata about the resource that doesn't comply with the policy scope.</p>",
          "shape": "ComplianceViolatorMetadata"
        },
        "ResourceId": {
          "documentation": "<p>The resource ID.</p>",
          "shape": "ResourceId"
        },
        "ResourceType": {
          "documentation": "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. For example: <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>, <code>AWS::CloudFront::Distribution</code>, or <code>AWS::NetworkFirewall::FirewallPolicy</code>.</p>",
          "shape": "ResourceType"
        },
        "ViolationReason": {
          "documentation": "<p>The reason that the resource is not protected by the policy.</p>",
          "shape": "ViolationReason"
        }
      },
      "type": "structure"
    },
    "ComplianceViolatorMetadata": {
      "key": {
        "shape": "LengthBoundedString"
      },
      "type": "map",
      "value": {
        "shape": "LengthBoundedString"
      }
    },
    "ComplianceViolators": {
      "member": {
        "shape": "ComplianceViolator"
      },
      "type": "list"
    },
    "CustomerPolicyScopeId": {
      "max": 1024,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "CustomerPolicyScopeIdList": {
      "member": {
        "shape": "CustomerPolicyScopeId"
      },
      "type": "list"
    },
    "CustomerPolicyScopeIdType": {
      "enum": [
        "ACCOUNT",
        "ORG_UNIT"
      ],
      "type": "string"
    },
    "CustomerPolicyScopeMap": {
      "key": {
        "shape": "CustomerPolicyScopeIdType"
      },
      "type": "map",
      "value": {
        "shape": "CustomerPolicyScopeIdList"
      }
    },
    "DeleteAppsListRequest": {
      "members": {
        "ListId": {
          "documentation": "<p>The ID of the applications list that you want to delete. You can retrieve this ID from <code>PutAppsList</code>, <code>ListAppsLists</code>, and <code>GetAppsList</code>.</p>",
          "shape": "ListId"
        }
      },
      "required": [
        "ListId"
      ],
      "type": "structure"
    },
    "DeleteNotificationChannelRequest": {
      "members": {},
      "type": "structure"
    },
    "DeletePolicyRequest": {
      "members": {
        "DeleteAllPolicyResources": {
          "documentation": "<p>If <code>True</code>, the request performs cleanup according to the policy type. </p> <p>For WAF and Shield Advanced policies, the cleanup does the following:</p> <ul> <li> <p>Deletes rule groups created by Firewall Manager</p> </li> <li> <p>Removes web ACLs from in-scope resources</p> </li> <li> <p>Deletes web ACLs that contain no rules or rule groups</p> </li> </ul> <p>For security group policies, the cleanup does the following for each security group in the policy:</p> <ul> <li> <p>Disassociates the security group from in-scope resources </p> </li> <li> <p>Deletes the security group if it was created through Firewall Manager and if it's no longer associated with any resources through another policy</p> </li> </ul> <p>After the cleanup, in-scope resources are no longer protected by web ACLs in this policy. Protection of out-of-scope resources remains unchanged. Scope is determined by tags that you create and accounts that you associate with the policy. When creating the policy, if you specify that only resources in specific accounts or with specific tags are in scope of the policy, those accounts and resources are handled by the policy. All others are out of scope. If you don't specify tags or accounts, all resources are in scope. </p>",
          "shape": "Boolean"
        },
        "PolicyId": {
          "documentation": "<p>The ID of the policy that you want to delete. You can retrieve this ID from <code>PutPolicy</code> and <code>ListPolicies</code>.</p>",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "DeleteProtocolsListRequest": {
      "members": {
        "ListId": {
          "documentation": "<p>The ID of the protocols list that you want to delete. You can retrieve this ID from <code>PutProtocolsList</code>, <code>ListProtocolsLists</code>, and <code>GetProtocolsLost</code>.</p>",
          "shape": "ListId"
        }
      },
      "required": [
        "ListId"
      ],
      "type": "structure"
    },
    "DependentServiceName": {
      "enum": [
        "AWSCONFIG",
        "AWSWAF",
        "AWSSHIELD_ADVANCED",
        "AWSVPC"
      ],
      "type": "string"
    },
    "DestinationType": {
      "enum": [
        "IPV4",
        "IPV6",
        "PREFIX_LIST"
      ],
      "type": "string"
    },
    "DetailedInfo": {
      "max": 1024,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=,+\\-@]*)$",
      "type": "string"
    },
    "DisassociateAdminAccountRequest": {
      "members": {},
      "type": "structure"
    },
    "DisassociateThirdPartyFirewallRequest": {
      "members": {
        "ThirdPartyFirewall": {
          "documentation": "<p>The name of the third-party firewall vendor.</p>",
          "shape": "ThirdPartyFirewall"
        }
      },
      "required": [
        "ThirdPartyFirewall"
      ],
      "type": "structure"
    },
    "DisassociateThirdPartyFirewallResponse": {
      "members": {
        "ThirdPartyFirewallStatus": {
          "documentation": "<p>The current status for the disassociation of a Firewall Manager administrators account with a third-party firewall.</p>",
          "shape": "ThirdPartyFirewallAssociationStatus"
        }
      },
      "type": "structure"
    },
    "DnsDuplicateRuleGroupViolation": {
      "documentation": "<p>A DNS Firewall rule group that Firewall Manager tried to associate with a VPC is already associated with the VPC and can't be associated again. </p>",
      "members": {
        "ViolationTarget": {
          "documentation": "<p>Information about the VPC ID. </p>",
          "shape": "ViolationTarget"
        },
        "ViolationTargetDescription": {
          "documentation": "<p>A description of the violation that specifies the rule group and VPC.</p>",
          "shape": "LengthBoundedString"
        }
      },
      "type": "structure"
    },
    "DnsRuleGroupLimitExceededViolation": {
      "documentation": "<p>The VPC that Firewall Manager was applying a DNS Fireall policy to reached the limit for associated DNS Firewall rule groups. Firewall Manager tried to associate another rule group with the VPC and failed due to the limit. </p>",
      "members": {
        "NumberOfRuleGroupsAlreadyAssociated": {
          "documentation": "<p>The number of rule groups currently associated with the VPC. </p>",
          "shape": "BasicInteger"
        },
        "ViolationTarget": {
          "documentation": "<p>Information about the VPC ID. </p>",
          "shape": "ViolationTarget"
        },
        "ViolationTargetDescription": {
          "documentation": "<p>A description of the violation that specifies the rule group and VPC.</p>",
          "shape": "LengthBoundedString"
        }
      },
      "type": "structure"
    },
    "DnsRuleGroupPriorities": {
      "member": {
        "shape": "DnsRuleGroupPriority"
      },
      "type": "list"
    },
    "DnsRuleGroupPriority": {
      "max": 10000,
      "min": 0,
      "type": "integer"
    },
    "DnsRuleGroupPriorityConflictViolation": {
      "documentation": "<p>A rule group that Firewall Manager tried to associate with a VPC has the same priority as a rule group that's already associated. </p>",
      "members": {
        "ConflictingPolicyId": {
          "documentation": "<p>The ID of the Firewall Manager DNS Firewall policy that was already applied to the VPC. This policy contains the rule group that's already associated with the VPC. </p>",
          "shape": "PolicyId"
        },
        "ConflictingPriority": {
          "documentation": "<p>The priority setting of the two conflicting rule groups.</p>",
          "shape": "DnsRuleGroupPriority"
        },
        "UnavailablePriorities": {
          "documentation": "<p>The priorities of rule groups that are already associated with the VPC. To retry your operation, choose priority settings that aren't in this list for the rule groups in your new DNS Firewall policy. </p>",
          "shape": "DnsRuleGroupPriorities"
        },
        "ViolationTarget": {
          "documentation": "<p>Information about the VPC ID. </p>",
          "shape": "ViolationTarget"
        },
        "ViolationTargetDescription": {
          "documentation": "<p>A description of the violation that specifies the VPC and the rule group that's already associated with it.</p>",
          "shape": "LengthBoundedString"
        }
      },
      "type": "structure"
    },
    "EC2AssociateRouteTableAction": {
      "documentation": "<p>The action of associating an EC2 resource, such as a subnet or internet gateway, with a route table.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the EC2 route table that is associated with the remediation action.</p>",
          "shape": "LengthBoundedString"
        },
        "GatewayId": {
          "documentation": "<p>The ID of the gateway to be used with the EC2 route table that is associated with the remediation action.</p>",
          "shape": "ActionTarget"
        },
        "RouteTableId": {
          "documentation": "<p>The ID of the EC2 route table that is associated with the remediation action.</p>",
          "shape": "ActionTarget"
        },
        "SubnetId": {
          "documentation": "<p>The ID of the subnet for the EC2 route table that is associated with the remediation action.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "RouteTableId"
      ],
      "type": "structure"
    },
    "EC2CopyRouteTableAction": {
      "documentation": "<p>An action that copies the EC2 route table for use in remediation.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the copied EC2 route table that is associated with the remediation action.</p>",
          "shape": "LengthBoundedString"
        },
        "RouteTableId": {
          "documentation": "<p>The ID of the copied EC2 route table that is associated with the remediation action.</p>",
          "shape": "ActionTarget"
        },
        "VpcId": {
          "documentation": "<p>The VPC ID of the copied EC2 route table that is associated with the remediation action.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "VpcId",
        "RouteTableId"
      ],
      "type": "structure"
    },
    "EC2CreateRouteAction": {
      "documentation": "<p>Information about the CreateRoute action in Amazon EC2.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of CreateRoute action in Amazon EC2.</p>",
          "shape": "LengthBoundedString"
        },
        "DestinationCidrBlock": {
          "documentation": "<p>Information about the IPv4 CIDR address block used for the destination match.</p>",
          "shape": "CIDR"
        },
        "DestinationIpv6CidrBlock": {
          "documentation": "<p>Information about the IPv6 CIDR block destination.</p>",
          "shape": "CIDR"
        },
        "DestinationPrefixListId": {
          "documentation": "<p>Information about the ID of a prefix list used for the destination match.</p>",
          "shape": "ResourceId"
        },
        "GatewayId": {
          "documentation": "<p>Information about the ID of an internet gateway or virtual private gateway attached to your VPC.</p>",
          "shape": "ActionTarget"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the ID of the route table for the route.</p>",
          "shape": "ActionTarget"
        },
        "VpcEndpointId": {
          "documentation": "<p>Information about the ID of a VPC endpoint. Supported for Gateway Load Balancer endpoints only.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "RouteTableId"
      ],
      "type": "structure"
    },
    "EC2CreateRouteTableAction": {
      "documentation": "<p>Information about the CreateRouteTable action in Amazon EC2.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the CreateRouteTable action.</p>",
          "shape": "LengthBoundedString"
        },
        "VpcId": {
          "documentation": "<p>Information about the ID of a VPC.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "VpcId"
      ],
      "type": "structure"
    },
    "EC2DeleteRouteAction": {
      "documentation": "<p>Information about the DeleteRoute action in Amazon EC2.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the DeleteRoute action.</p>",
          "shape": "LengthBoundedString"
        },
        "DestinationCidrBlock": {
          "documentation": "<p>Information about the IPv4 CIDR range for the route. The value you specify must match the CIDR for the route exactly.</p>",
          "shape": "CIDR"
        },
        "DestinationIpv6CidrBlock": {
          "documentation": "<p>Information about the IPv6 CIDR range for the route. The value you specify must match the CIDR for the route exactly.</p>",
          "shape": "CIDR"
        },
        "DestinationPrefixListId": {
          "documentation": "<p>Information about the ID of the prefix list for the route.</p>",
          "shape": "ResourceId"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the ID of the route table.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "RouteTableId"
      ],
      "type": "structure"
    },
    "EC2ReplaceRouteAction": {
      "documentation": "<p>Information about the ReplaceRoute action in Amazon EC2.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the ReplaceRoute action in Amazon EC2.</p>",
          "shape": "LengthBoundedString"
        },
        "DestinationCidrBlock": {
          "documentation": "<p>Information about the IPv4 CIDR address block used for the destination match. The value that you provide must match the CIDR of an existing route in the table.</p>",
          "shape": "CIDR"
        },
        "DestinationIpv6CidrBlock": {
          "documentation": "<p>Information about the IPv6 CIDR address block used for the destination match. The value that you provide must match the CIDR of an existing route in the table.</p>",
          "shape": "CIDR"
        },
        "DestinationPrefixListId": {
          "documentation": "<p>Information about the ID of the prefix list for the route.</p>",
          "shape": "ResourceId"
        },
        "GatewayId": {
          "documentation": "<p>Information about the ID of an internet gateway or virtual private gateway.</p>",
          "shape": "ActionTarget"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the ID of the route table.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "RouteTableId"
      ],
      "type": "structure"
    },
    "EC2ReplaceRouteTableAssociationAction": {
      "documentation": "<p>Information about the ReplaceRouteTableAssociation action in Amazon EC2.</p>",
      "members": {
        "AssociationId": {
          "documentation": "<p>Information about the association ID.</p>",
          "shape": "ActionTarget"
        },
        "Description": {
          "documentation": "<p>A description of the ReplaceRouteTableAssociation action in Amazon EC2.</p>",
          "shape": "LengthBoundedString"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the ID of the new route table to associate with the subnet.</p>",
          "shape": "ActionTarget"
        }
      },
      "required": [
        "AssociationId",
        "RouteTableId"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EvaluationResult": {
      "documentation": "<p>Describes the compliance status for the account. An account is considered noncompliant if it includes resources that are not protected by the specified policy or that don't comply with the policy.</p>",
      "members": {
        "ComplianceStatus": {
          "documentation": "<p>Describes an Amazon Web Services account's compliance with the Firewall Manager policy.</p>",
          "shape": "PolicyComplianceStatusType"
        },
        "EvaluationLimitExceeded": {
          "documentation": "<p>Indicates that over 100 resources are noncompliant with the Firewall Manager policy.</p>",
          "shape": "Boolean"
        },
        "ViolatorCount": {
          "documentation": "<p>The number of resources that are noncompliant with the specified policy. For WAF and Shield Advanced policies, a resource is considered noncompliant if it is not associated with the policy. For security group policies, a resource is considered noncompliant if it doesn't comply with the rules of the policy and remediation is disabled or not possible.</p>",
          "shape": "ResourceCount"
        }
      },
      "type": "structure"
    },
    "EvaluationResults": {
      "member": {
        "shape": "EvaluationResult"
      },
      "type": "list"
    },
    "ExpectedRoute": {
      "documentation": "<p>Information about the expected route in the route table.</p>",
      "members": {
        "AllowedTargets": {
          "documentation": "<p>Information about the allowed targets.</p>",
          "shape": "LengthBoundedStringList"
        },
        "ContributingSubnets": {
          "documentation": "<p>Information about the contributing subnets.</p>",
          "shape": "ResourceIdList"
        },
        "IpV4Cidr": {
          "documentation": "<p>Information about the IPv4 CIDR block.</p>",
          "shape": "CIDR"
        },
        "IpV6Cidr": {
          "documentation": "<p>Information about the IPv6 CIDR block.</p>",
          "shape": "CIDR"
        },
        "PrefixListId": {
          "documentation": "<p>Information about the ID of the prefix list for the route.</p>",
          "shape": "CIDR"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the route table ID.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "ExpectedRoutes": {
      "member": {
        "shape": "ExpectedRoute"
      },
      "type": "list"
    },
    "FMSPolicyUpdateFirewallCreationConfigAction": {
      "documentation": "<p>Contains information about the actions that you can take to remediate scope violations caused by your policy's <code>FirewallCreationConfig</code>. <code>FirewallCreationConfig</code> is an optional configuration that you can use to choose which Availability Zones Firewall Manager creates Network Firewall endpoints in.</p>",
      "members": {
        "Description": {
          "documentation": "<p>Describes the remedial action.</p>",
          "shape": "LengthBoundedString"
        },
        "FirewallCreationConfig": {
          "documentation": "<p>A <code>FirewallCreationConfig</code> that you can copy into your current policy's <a href=\"https://docs.aws.amazon.com/fms/2018-01-01/APIReference/API_SecurityServicePolicyData.html\">SecurityServiceData</a> in order to remedy scope violations.</p>",
          "shape": "ManagedServiceData"
        }
      },
      "type": "structure"
    },
    "FirewallDeploymentModel": {
      "enum": [
        "CENTRALIZED",
        "DISTRIBUTED"
      ],
      "type": "string"
    },
    "FirewallPolicyId": {
      "max": 1024,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "FirewallPolicyName": {
      "max": 1024,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "FirewallSubnetIsOutOfScopeViolation": {
      "documentation": "<p>Contains details about the firewall subnet that violates the policy scope.</p>",
      "members": {
        "FirewallSubnetId": {
          "documentation": "<p>The ID of the firewall subnet that violates the policy scope.</p>",
          "shape": "ResourceId"
        },
        "SubnetAvailabilityZone": {
          "documentation": "<p>The Availability Zone of the firewall subnet that violates the policy scope.</p>",
          "shape": "LengthBoundedString"
        },
        "SubnetAvailabilityZoneId": {
          "documentation": "<p>The Availability Zone ID of the firewall subnet that violates the policy scope.</p>",
          "shape": "LengthBoundedString"
        },
        "VpcEndpointId": {
          "documentation": "<p>The VPC endpoint ID of the firewall subnet that violates the policy scope.</p>",
          "shape": "ResourceId"
        },
        "VpcId": {
          "documentation": "<p>The VPC ID of the firewall subnet that violates the policy scope.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "FirewallSubnetMissingVPCEndpointViolation": {
      "documentation": "<p>The violation details for a firewall subnet's VPC endpoint that's deleted or missing.</p>",
      "members": {
        "FirewallSubnetId": {
          "documentation": "<p>The ID of the firewall that this VPC endpoint is associated with.</p>",
          "shape": "ResourceId"
        },
        "SubnetAvailabilityZone": {
          "documentation": "<p>The name of the Availability Zone of the deleted VPC subnet.</p>",
          "shape": "LengthBoundedString"
        },
        "SubnetAvailabilityZoneId": {
          "documentation": "<p>The ID of the Availability Zone of the deleted VPC subnet.</p>",
          "shape": "LengthBoundedString"
        },
        "VpcId": {
          "documentation": "<p>The resource ID of the VPC associated with the deleted VPC subnet.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "GetAdminAccountRequest": {
      "members": {},
      "type": "structure"
    },
    "GetAdminAccountResponse": {
      "members": {
        "AdminAccount": {
          "documentation": "<p>The Amazon Web Services account that is set as the Firewall Manager administrator.</p>",
          "shape": "AWSAccountId"
        },
        "RoleStatus": {
          "documentation": "<p>The status of the Amazon Web Services account that you set as the Firewall Manager administrator.</p>",
          "shape": "AccountRoleStatus"
        }
      },
      "type": "structure"
    },
    "GetAppsListRequest": {
      "members": {
        "DefaultList": {
          "documentation": "<p>Specifies whether the list to retrieve is a default list owned by Firewall Manager.</p>",
          "shape": "Boolean"
        },
        "ListId": {
          "documentation": "<p>The ID of the Firewall Manager applications list that you want the details for.</p>",
          "shape": "ListId"
        }
      },
      "required": [
        "ListId"
      ],
      "type": "structure"
    },
    "GetAppsListResponse": {
      "members": {
        "AppsList": {
          "documentation": "<p>Information about the specified Firewall Manager applications list.</p>",
          "shape": "AppsListData"
        },
        "AppsListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "GetComplianceDetailRequest": {
      "members": {
        "MemberAccount": {
          "documentation": "<p>The Amazon Web Services account that owns the resources that you want to get the details for.</p>",
          "shape": "AWSAccountId"
        },
        "PolicyId": {
          "documentation": "<p>The ID of the policy that you want to get the details for. <code>PolicyId</code> is returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.</p>",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId",
        "MemberAccount"
      ],
      "type": "structure"
    },
    "GetComplianceDetailResponse": {
      "members": {
        "PolicyComplianceDetail": {
          "documentation": "<p>Information about the resources and the policy that you specified in the <code>GetComplianceDetail</code> request.</p>",
          "shape": "PolicyComplianceDetail"
        }
      },
      "type": "structure"
    },
    "GetNotificationChannelRequest": {
      "members": {},
      "type": "structure"
    },
    "GetNotificationChannelResponse": {
      "members": {
        "SnsRoleName": {
          "documentation": "<p>The IAM role that is used by Firewall Manager to record activity to SNS.</p>",
          "shape": "ResourceArn"
        },
        "SnsTopicArn": {
          "documentation": "<p>The SNS topic that records Firewall Manager activity. </p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "GetPolicyRequest": {
      "members": {
        "PolicyId": {
          "documentation": "<p>The ID of the Firewall Manager policy that you want the details for.</p>",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "GetPolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>Information about the specified Firewall Manager policy.</p>",
          "shape": "Policy"
        },
        "PolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the specified policy.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "GetProtectionStatusRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time period to query for the attacks. This is a <code>timestamp</code> type. The request syntax listing indicates a <code>number</code> type because the default used by Firewall Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is allowed.</p>",
          "shape": "TimeStamp"
        },
        "MaxResults": {
          "documentation": "<p>Specifies the number of objects that you want Firewall Manager to return for this request. If you have more objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of objects.</p>",
          "shape": "PaginationMaxResults"
        },
        "MemberAccountId": {
          "documentation": "<p>The Amazon Web Services account that is in scope of the policy that you want to get the details for.</p>",
          "shape": "AWSAccountId"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more objects than the number that you specify for <code>MaxResults</code>, Firewall Manager returns a <code>NextToken</code> value in the response, which you can use to retrieve another group of objects. For the second and subsequent <code>GetProtectionStatus</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of objects.</p>",
          "shape": "PaginationToken"
        },
        "PolicyId": {
          "documentation": "<p>The ID of the policy for which you want to get the attack information.</p>",
          "shape": "PolicyId"
        },
        "StartTime": {
          "documentation": "<p>The start of the time period to query for the attacks. This is a <code>timestamp</code> type. The request syntax listing indicates a <code>number</code> type because the default used by Firewall Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is allowed.</p>",
          "shape": "TimeStamp"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "GetProtectionStatusResponse": {
      "members": {
        "AdminAccountId": {
          "documentation": "<p>The ID of the Firewall Manager administrator account for this policy.</p>",
          "shape": "AWSAccountId"
        },
        "Data": {
          "documentation": "<p>Details about the attack, including the following:</p> <ul> <li> <p>Attack type</p> </li> <li> <p>Account ID</p> </li> <li> <p>ARN of the resource attacked</p> </li> <li> <p>Start time of the attack</p> </li> <li> <p>End time of the attack (ongoing attacks will not have an end time)</p> </li> </ul> <p>The details are in JSON format. </p>",
          "shape": "ProtectionData"
        },
        "NextToken": {
          "documentation": "<p>If you have more objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more objects, submit another <code>GetProtectionStatus</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.</p> <p>Amazon Web Services SDKs provide auto-pagination that identify <code>NextToken</code> in a response and make subsequent request calls automatically on your behalf. However, this feature is not supported by <code>GetProtectionStatus</code>. You must submit subsequent requests with <code>NextToken</code> using your own processes. </p>",
          "shape": "PaginationToken"
        },
        "ServiceType": {
          "documentation": "<p>The service type that is protected by the policy. Currently, this is always <code>SHIELD_ADVANCED</code>.</p>",
          "shape": "SecurityServiceType"
        }
      },
      "type": "structure"
    },
    "GetProtocolsListRequest": {
      "members": {
        "DefaultList": {
          "documentation": "<p>Specifies whether the list to retrieve is a default list owned by Firewall Manager.</p>",
          "shape": "Boolean"
        },
        "ListId": {
          "documentation": "<p>The ID of the Firewall Manager protocols list that you want the details for.</p>",
          "shape": "ListId"
        }
      },
      "required": [
        "ListId"
      ],
      "type": "structure"
    },
    "GetProtocolsListResponse": {
      "members": {
        "ProtocolsList": {
          "documentation": "<p>Information about the specified Firewall Manager protocols list.</p>",
          "shape": "ProtocolsListData"
        },
        "ProtocolsListArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the specified protocols list.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "GetThirdPartyFirewallAssociationStatusRequest": {
      "members": {
        "ThirdPartyFirewall": {
          "documentation": "<p>The name of the third-party firewall vendor.</p>",
          "shape": "ThirdPartyFirewall"
        }
      },
      "required": [
        "ThirdPartyFirewall"
      ],
      "type": "structure"
    },
    "GetThirdPartyFirewallAssociationStatusResponse": {
      "members": {
        "MarketplaceOnboardingStatus": {
          "documentation": "<p>The status for subscribing to the third-party firewall vendor in the Amazon Web Services Marketplace.</p> <ul> <li> <p> <code>NO_SUBSCRIPTION</code> - The Firewall Manager policy administrator isn't subscribed to the third-party firewall service in the Amazon Web Services Marketplace.</p> </li> <li> <p> <code>NOT_COMPLETE</code> - The Firewall Manager policy administrator is in the process of subscribing to the third-party firewall service in the Amazon Web Services Marketplace, but doesn't yet have an active subscription.</p> </li> <li> <p> <code>COMPLETE</code> - The Firewall Manager policy administrator has an active subscription to the third-party firewall service in the Amazon Web Services Marketplace.</p> </li> </ul>",
          "shape": "MarketplaceSubscriptionOnboardingStatus"
        },
        "ThirdPartyFirewallStatus": {
          "documentation": "<p>The current status for setting a Firewall Manager policy administrators account as an administrator of the third-party firewall tenant.</p> <ul> <li> <p> <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p> </li> <li> <p> <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p> </li> <li> <p> <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p> </li> </ul>",
          "shape": "ThirdPartyFirewallAssociationStatus"
        }
      },
      "type": "structure"
    },
    "GetViolationDetailsRequest": {
      "members": {
        "MemberAccount": {
          "documentation": "<p>The Amazon Web Services account ID that you want the details for.</p>",
          "shape": "AWSAccountId"
        },
        "PolicyId": {
          "documentation": "<p>The ID of the Firewall Manager policy that you want the details for. This currently only supports security group content audit policies.</p>",
          "shape": "PolicyId"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the resource that has violations.</p>",
          "shape": "ResourceId"
        },
        "ResourceType": {
          "documentation": "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. Supported resource types are: <code>AWS::EC2::Instance</code>, <code>AWS::EC2::NetworkInterface</code>, <code>AWS::EC2::SecurityGroup</code>, <code>AWS::NetworkFirewall::FirewallPolicy</code>, and <code>AWS::EC2::Subnet</code>. </p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "PolicyId",
        "MemberAccount",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "GetViolationDetailsResponse": {
      "members": {
        "ViolationDetail": {
          "documentation": "<p>Violation detail for a resource.</p>",
          "shape": "ViolationDetail"
        }
      },
      "type": "structure"
    },
    "IPPortNumber": {
      "max": 65535,
      "min": 0,
      "type": "long"
    },
    "InternalErrorException": {
      "documentation": "<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidInputException": {
      "documentation": "<p>The parameters of the request were invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidOperationException": {
      "documentation": "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidTypeException": {
      "documentation": "<p>The value of the <code>Type</code> parameter is invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "IssueInfoMap": {
      "key": {
        "shape": "DependentServiceName"
      },
      "type": "map",
      "value": {
        "shape": "DetailedInfo"
      }
    },
    "LengthBoundedString": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "LengthBoundedStringList": {
      "member": {
        "shape": "LengthBoundedString"
      },
      "type": "list"
    },
    "LimitExceededException": {
      "documentation": "<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListAppsListsRequest": {
      "members": {
        "DefaultLists": {
          "documentation": "<p>Specifies whether the lists to retrieve are default lists owned by Firewall Manager.</p>",
          "shape": "Boolean"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of objects that you want Firewall Manager to return for this request. If more objects are available, in the response, Firewall Manager provides a <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p> <p>If you don't specify this, Firewall Manager returns all available objects.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, Firewall Manager returns this token in the response. For all but the first request, you provide the token returned by the prior request in the request parameters, to retrieve the next batch of objects.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "MaxResults"
      ],
      "type": "structure"
    },
    "ListAppsListsResponse": {
      "members": {
        "AppsLists": {
          "documentation": "<p>An array of <code>AppsListDataSummary</code> objects.</p>",
          "shape": "AppsListsData"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, Firewall Manager returns this token in the response. You can use this token in subsequent requests to retrieve the next batch of objects.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListComplianceStatusRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specifies the number of <code>PolicyComplianceStatus</code> objects that you want Firewall Manager to return for this request. If you have more <code>PolicyComplianceStatus</code> objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of <code>PolicyComplianceStatus</code> objects.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more <code>PolicyComplianceStatus</code> objects than the number that you specify for <code>MaxResults</code>, Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of <code>PolicyComplianceStatus</code> objects. For the second and subsequent <code>ListComplianceStatus</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of <code>PolicyComplianceStatus</code> objects.</p>",
          "shape": "PaginationToken"
        },
        "PolicyId": {
          "documentation": "<p>The ID of the Firewall Manager policy that you want the details for.</p>",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "ListComplianceStatusResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you have more <code>PolicyComplianceStatus</code> objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more <code>PolicyComplianceStatus</code> objects, submit another <code>ListComplianceStatus</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.</p>",
          "shape": "PaginationToken"
        },
        "PolicyComplianceStatusList": {
          "documentation": "<p>An array of <code>PolicyComplianceStatus</code> objects.</p>",
          "shape": "PolicyComplianceStatusList"
        }
      },
      "type": "structure"
    },
    "ListId": {
      "max": 36,
      "min": 36,
      "pattern": "^[a-z0-9A-Z-]{36}$",
      "type": "string"
    },
    "ListMemberAccountsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specifies the number of member account IDs that you want Firewall Manager to return for this request. If you have more IDs than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of member account IDs.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more account IDs than the number that you specify for <code>MaxResults</code>, Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of IDs. For the second and subsequent <code>ListMemberAccountsRequest</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of member account IDs.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListMemberAccountsResponse": {
      "members": {
        "MemberAccounts": {
          "documentation": "<p>An array of account IDs.</p>",
          "shape": "MemberAccounts"
        },
        "NextToken": {
          "documentation": "<p>If you have more member account IDs than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more IDs, submit another <code>ListMemberAccounts</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListPoliciesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specifies the number of <code>PolicySummary</code> objects that you want Firewall Manager to return for this request. If you have more <code>PolicySummary</code> objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of <code>PolicySummary</code> objects.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more <code>PolicySummary</code> objects than the number that you specify for <code>MaxResults</code>, Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of <code>PolicySummary</code> objects. For the second and subsequent <code>ListPolicies</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of <code>PolicySummary</code> objects.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListPoliciesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you have more <code>PolicySummary</code> objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more <code>PolicySummary</code> objects, submit another <code>ListPolicies</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.</p>",
          "shape": "PaginationToken"
        },
        "PolicyList": {
          "documentation": "<p>An array of <code>PolicySummary</code> objects.</p>",
          "shape": "PolicySummaryList"
        }
      },
      "type": "structure"
    },
    "ListProtocolsListsRequest": {
      "members": {
        "DefaultLists": {
          "documentation": "<p>Specifies whether the lists to retrieve are default lists owned by Firewall Manager.</p>",
          "shape": "Boolean"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of objects that you want Firewall Manager to return for this request. If more objects are available, in the response, Firewall Manager provides a <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p> <p>If you don't specify this, Firewall Manager returns all available objects.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, Firewall Manager returns this token in the response. For all but the first request, you provide the token returned by the prior request in the request parameters, to retrieve the next batch of objects.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "MaxResults"
      ],
      "type": "structure"
    },
    "ListProtocolsListsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, Firewall Manager returns this token in the response. You can use this token in subsequent requests to retrieve the next batch of objects.</p>",
          "shape": "PaginationToken"
        },
        "ProtocolsLists": {
          "documentation": "<p>An array of <code>ProtocolsListDataSummary</code> objects.</p>",
          "shape": "ProtocolsListsData"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to return tags for. The Firewall Manager resources that support tagging are policies, applications lists, and protocols lists. </p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "TagList": {
          "documentation": "<p>The tags associated with the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListThirdPartyFirewallFirewallPoliciesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of third-party firewall policies that you want Firewall Manager to return. If the specified third-party firewall vendor is associated with more than <code>MaxResults</code> firewall policies, the response includes a <code>NextToken</code> element. <code>NextToken</code> contains an encrypted token that identifies the first third-party firewall policies that Firewall Manager will return if you submit another request.</p>",
          "shape": "PaginationMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If the previous response included a <code>NextToken</code> element, the specified third-party firewall vendor is associated with more third-party firewall policies. To get more third-party firewall policies, submit another <code>ListThirdPartyFirewallFirewallPoliciesRequest</code> request.</p> <p> For the value of <code>NextToken</code>, specify the value of <code>NextToken</code> from the previous response. If the previous response didn't include a <code>NextToken</code> element, there are no more third-party firewall policies to get. </p>",
          "shape": "PaginationToken"
        },
        "ThirdPartyFirewall": {
          "documentation": "<p>The name of the third-party firewall vendor.</p>",
          "shape": "ThirdPartyFirewall"
        }
      },
      "required": [
        "ThirdPartyFirewall",
        "MaxResults"
      ],
      "type": "structure"
    },
    "ListThirdPartyFirewallFirewallPoliciesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The value that you will use for <code>NextToken</code> in the next <code>ListThirdPartyFirewallFirewallPolicies</code> request.</p>",
          "shape": "PaginationToken"
        },
        "ThirdPartyFirewallFirewallPolicies": {
          "documentation": "<p>A list that contains one <code>ThirdPartyFirewallFirewallPolicies</code> element for each third-party firewall policies that the specified third-party firewall vendor is associated with. Each <code>ThirdPartyFirewallFirewallPolicies</code> element contains the firewall policy name and ID.</p>",
          "shape": "ThirdPartyFirewallFirewallPolicies"
        }
      },
      "type": "structure"
    },
    "ManagedServiceData": {
      "max": 8192,
      "min": 1,
      "pattern": "^((?!\\\\[nr]).)+",
      "type": "string"
    },
    "MarketplaceSubscriptionOnboardingStatus": {
      "enum": [
        "NO_SUBSCRIPTION",
        "NOT_COMPLETE",
        "COMPLETE"
      ],
      "type": "string"
    },
    "MemberAccounts": {
      "member": {
        "shape": "AWSAccountId"
      },
      "type": "list"
    },
    "NetworkFirewallAction": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]+$",
      "type": "string"
    },
    "NetworkFirewallActionList": {
      "member": {
        "shape": "NetworkFirewallAction"
      },
      "type": "list"
    },
    "NetworkFirewallBlackHoleRouteDetectedViolation": {
      "documentation": "<p>Violation detail for an internet gateway route with an inactive state in the customer subnet route table or Network Firewall subnet route table.</p>",
      "members": {
        "RouteTableId": {
          "documentation": "<p>Information about the route table ID.</p>",
          "shape": "ResourceId"
        },
        "ViolatingRoutes": {
          "documentation": "<p>Information about the route or routes that are in violation.</p>",
          "shape": "Routes"
        },
        "ViolationTarget": {
          "documentation": "<p>The subnet that has an inactive state.</p>",
          "shape": "ViolationTarget"
        },
        "VpcId": {
          "documentation": "<p>Information about the VPC ID.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallInternetTrafficNotInspectedViolation": {
      "documentation": "<p>Violation detail for the subnet for which internet traffic that hasn't been inspected.</p>",
      "members": {
        "ActualFirewallSubnetRoutes": {
          "documentation": "<p>The actual firewall subnet routes.</p>",
          "shape": "Routes"
        },
        "ActualInternetGatewayRoutes": {
          "documentation": "<p>The actual internet gateway routes.</p>",
          "shape": "Routes"
        },
        "CurrentFirewallSubnetRouteTable": {
          "documentation": "<p>Information about the subnet route table for the current firewall.</p>",
          "shape": "ResourceId"
        },
        "CurrentInternetGatewayRouteTable": {
          "documentation": "<p>The current route table for the internet gateway.</p>",
          "shape": "ResourceId"
        },
        "ExpectedFirewallEndpoint": {
          "documentation": "<p>The expected endpoint for the current firewall.</p>",
          "shape": "ResourceId"
        },
        "ExpectedFirewallSubnetRoutes": {
          "documentation": "<p>The firewall subnet routes that are expected.</p>",
          "shape": "ExpectedRoutes"
        },
        "ExpectedInternetGatewayRoutes": {
          "documentation": "<p>The internet gateway routes that are expected.</p>",
          "shape": "ExpectedRoutes"
        },
        "FirewallSubnetId": {
          "documentation": "<p>The firewall subnet ID.</p>",
          "shape": "ResourceId"
        },
        "InternetGatewayId": {
          "documentation": "<p>The internet gateway ID.</p>",
          "shape": "ResourceId"
        },
        "IsRouteTableUsedInDifferentAZ": {
          "documentation": "<p>Information about whether the route table is used in another Availability Zone.</p>",
          "shape": "Boolean"
        },
        "RouteTableId": {
          "documentation": "<p>Information about the route table ID.</p>",
          "shape": "ResourceId"
        },
        "SubnetAvailabilityZone": {
          "documentation": "<p>The subnet Availability Zone.</p>",
          "shape": "LengthBoundedString"
        },
        "SubnetId": {
          "documentation": "<p>The subnet ID.</p>",
          "shape": "ResourceId"
        },
        "ViolatingRoutes": {
          "documentation": "<p>The route or routes that are in violation.</p>",
          "shape": "Routes"
        },
        "VpcId": {
          "documentation": "<p>Information about the VPC ID.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallInvalidRouteConfigurationViolation": {
      "documentation": "<p>Violation detail for the improperly configured subnet route. It's possible there is a missing route table route, or a configuration that causes traffic to cross an Availability Zone boundary.</p>",
      "members": {
        "ActualFirewallEndpoint": {
          "documentation": "<p>The actual firewall endpoint.</p>",
          "shape": "ResourceId"
        },
        "ActualFirewallSubnetId": {
          "documentation": "<p>The actual subnet ID for the firewall.</p>",
          "shape": "ResourceId"
        },
        "ActualFirewallSubnetRoutes": {
          "documentation": "<p>The actual firewall subnet routes that are expected.</p>",
          "shape": "Routes"
        },
        "ActualInternetGatewayRoutes": {
          "documentation": "<p>The actual internet gateway routes.</p>",
          "shape": "Routes"
        },
        "AffectedSubnets": {
          "documentation": "<p>The subnets that are affected.</p>",
          "shape": "ResourceIdList"
        },
        "CurrentFirewallSubnetRouteTable": {
          "documentation": "<p>The subnet route table for the current firewall.</p>",
          "shape": "ResourceId"
        },
        "CurrentInternetGatewayRouteTable": {
          "documentation": "<p>The route table for the current internet gateway.</p>",
          "shape": "ResourceId"
        },
        "ExpectedFirewallEndpoint": {
          "documentation": "<p>The firewall endpoint that's expected.</p>",
          "shape": "ResourceId"
        },
        "ExpectedFirewallSubnetId": {
          "documentation": "<p>The expected subnet ID for the firewall.</p>",
          "shape": "ResourceId"
        },
        "ExpectedFirewallSubnetRoutes": {
          "documentation": "<p>The firewall subnet routes that are expected.</p>",
          "shape": "ExpectedRoutes"
        },
        "ExpectedInternetGatewayRoutes": {
          "documentation": "<p>The expected routes for the internet gateway.</p>",
          "shape": "ExpectedRoutes"
        },
        "InternetGatewayId": {
          "documentation": "<p>The internet gateway ID.</p>",
          "shape": "ResourceId"
        },
        "IsRouteTableUsedInDifferentAZ": {
          "documentation": "<p>Information about whether the route table is used in another Availability Zone.</p>",
          "shape": "Boolean"
        },
        "RouteTableId": {
          "documentation": "<p>The route table ID.</p>",
          "shape": "ResourceId"
        },
        "ViolatingRoute": {
          "documentation": "<p>The route that's in violation.</p>",
          "shape": "Route"
        },
        "VpcId": {
          "documentation": "<p>Information about the VPC ID.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallMissingExpectedRTViolation": {
      "documentation": "<p>Violation detail for Network Firewall for a subnet that's not associated to the expected Firewall Manager managed route table.</p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone of a violating subnet. </p>",
          "shape": "LengthBoundedString"
        },
        "CurrentRouteTable": {
          "documentation": "<p>The resource ID of the current route table that's associated with the subnet, if one is available.</p>",
          "shape": "ResourceId"
        },
        "ExpectedRouteTable": {
          "documentation": "<p>The resource ID of the route table that should be associated with the subnet.</p>",
          "shape": "ResourceId"
        },
        "VPC": {
          "documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>",
          "shape": "ResourceId"
        },
        "ViolationTarget": {
          "documentation": "<p>The ID of the Network Firewall or VPC resource that's in violation.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallMissingExpectedRoutesViolation": {
      "documentation": "<p>Violation detail for an expected route missing in Network Firewall.</p>",
      "members": {
        "ExpectedRoutes": {
          "documentation": "<p>The expected routes.</p>",
          "shape": "ExpectedRoutes"
        },
        "ViolationTarget": {
          "documentation": "<p>The target of the violation.</p>",
          "shape": "ViolationTarget"
        },
        "VpcId": {
          "documentation": "<p>Information about the VPC ID.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallMissingFirewallViolation": {
      "documentation": "<p>Violation detail for Network Firewall for a subnet that doesn't have a Firewall Manager managed firewall in its VPC. </p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone of a violating subnet. </p>",
          "shape": "LengthBoundedString"
        },
        "TargetViolationReason": {
          "documentation": "<p>The reason the resource has this violation, if one is available. </p>",
          "shape": "TargetViolationReason"
        },
        "VPC": {
          "documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>",
          "shape": "ResourceId"
        },
        "ViolationTarget": {
          "documentation": "<p>The ID of the Network Firewall or VPC resource that's in violation.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallMissingSubnetViolation": {
      "documentation": "<p>Violation detail for Network Firewall for an Availability Zone that's missing the expected Firewall Manager managed subnet.</p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone of a violating subnet. </p>",
          "shape": "LengthBoundedString"
        },
        "TargetViolationReason": {
          "documentation": "<p>The reason the resource has this violation, if one is available. </p>",
          "shape": "TargetViolationReason"
        },
        "VPC": {
          "documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>",
          "shape": "ResourceId"
        },
        "ViolationTarget": {
          "documentation": "<p>The ID of the Network Firewall or VPC resource that's in violation.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallOverrideAction": {
      "enum": [
        "DROP_TO_ALERT"
      ],
      "type": "string"
    },
    "NetworkFirewallPolicy": {
      "documentation": "<p>Configures the firewall policy deployment model of Network Firewall. For information about Network Firewall deployment models, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/architectures.html\">Network Firewall example architectures with routing</a> in the <i>Network Firewall Developer Guide</i>.</p>",
      "members": {
        "FirewallDeploymentModel": {
          "documentation": "<p>Defines the deployment model to use for the firewall policy. To use a distributed model, set <a href=\"https://docs.aws.amazon.com/fms/2018-01-01/APIReference/API_PolicyOption.html\">PolicyOption</a> to <code>NULL</code>.</p>",
          "shape": "FirewallDeploymentModel"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallPolicyDescription": {
      "documentation": "<p>The definition of the Network Firewall firewall policy.</p>",
      "members": {
        "StatefulDefaultActions": {
          "documentation": "<p>The default actions to take on a packet that doesn't match any stateful rules. The stateful default action is optional, and is only valid when using the strict rule order.</p> <p> Valid values of the stateful default action: </p> <ul> <li> <p>aws:drop_strict</p> </li> <li> <p>aws:drop_established</p> </li> <li> <p>aws:alert_strict</p> </li> <li> <p>aws:alert_established</p> </li> </ul>",
          "shape": "NetworkFirewallActionList"
        },
        "StatefulEngineOptions": {
          "documentation": "<p>Additional options governing how Network Firewall handles stateful rules. The stateful rule groups that you use in your policy must have stateful rule options settings that are compatible with these settings.</p>",
          "shape": "StatefulEngineOptions"
        },
        "StatefulRuleGroups": {
          "documentation": "<p>The stateful rule groups that are used in the Network Firewall firewall policy. </p>",
          "shape": "StatefulRuleGroupList"
        },
        "StatelessCustomActions": {
          "documentation": "<p>Names of custom actions that are available for use in the stateless default actions settings.</p>",
          "shape": "NetworkFirewallActionList"
        },
        "StatelessDefaultActions": {
          "documentation": "<p>The actions to take on packets that don't match any of the stateless rule groups. </p>",
          "shape": "NetworkFirewallActionList"
        },
        "StatelessFragmentDefaultActions": {
          "documentation": "<p>The actions to take on packet fragments that don't match any of the stateless rule groups. </p>",
          "shape": "NetworkFirewallActionList"
        },
        "StatelessRuleGroups": {
          "documentation": "<p>The stateless rule groups that are used in the Network Firewall firewall policy. </p>",
          "shape": "StatelessRuleGroupList"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallPolicyModifiedViolation": {
      "documentation": "<p>Violation detail for Network Firewall for a firewall policy that has a different <a>NetworkFirewallPolicyDescription</a> than is required by the Firewall Manager policy. </p>",
      "members": {
        "CurrentPolicyDescription": {
          "documentation": "<p>The policy that's currently in use in the individual account. </p>",
          "shape": "NetworkFirewallPolicyDescription"
        },
        "ExpectedPolicyDescription": {
          "documentation": "<p>The policy that should be in use in the individual account in order to be compliant. </p>",
          "shape": "NetworkFirewallPolicyDescription"
        },
        "ViolationTarget": {
          "documentation": "<p>The ID of the Network Firewall or VPC resource that's in violation.</p>",
          "shape": "ViolationTarget"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallResourceName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "NetworkFirewallStatefulRuleGroupOverride": {
      "documentation": "<p>The setting that allows the policy owner to change the behavior of the rule group within a policy.</p>",
      "members": {
        "Action": {
          "documentation": "<p>The action that changes the rule group from <code>DROP</code> to <code>ALERT</code>. This only applies to managed rule groups.</p>",
          "shape": "NetworkFirewallOverrideAction"
        }
      },
      "type": "structure"
    },
    "NetworkFirewallUnexpectedFirewallRoutesViolation": {
      "documentation": "<p>Violation detail for an unexpected route that's present in a route table.</p>",
      "members": {
        "FirewallEndpoint": {
          "documentation": "<p>The endpoint of the firewall.</p>",
          "shape": "ResourceId"
        },
        "FirewallSubnetId": {
          "documentation": "<p>The subnet ID for the firewall.</p>",
          "shape": "ResourceId"
        },
        "RouteTableId": {
          "documentation": "<p>The ID of the route table.</p>",
[...]
