{
  "documentation": "<p>This is an interface reference for Amazon Redshift Serverless. It contains documentation for one of the programming or command line interfaces you can use to manage Amazon Redshift Serverless. </p> <p>Amazon Redshift Serverless automatically provisions data warehouse capacity and intelligently scales the underlying resources based on workload demands. Amazon Redshift Serverless adjusts capacity in seconds to deliver consistently high performance and simplified operations for even the most demanding and volatile workloads. Amazon Redshift Serverless lets you focus on using your data to acquire new insights for your business and customers. </p> <p> To learn more about Amazon Redshift Serverless, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-whatis.html\">What is Amazon Redshift Serverless</a>. </p>",
  "metadata": {
    "apiVersion": "2021-04-21",
    "endpointPrefix": "redshift-serverless",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Redshift Serverless",
    "serviceId": "Redshift Serverless",
    "signatureVersion": "v4",
    "signingName": "redshift-serverless",
    "targetPrefix": "RedshiftServerless",
    "uid": "redshift-serverless-2021-04-21"
  },
  "operations": {
    "ConvertRecoveryPointToSnapshot": {
      "documentation": "<p>Converts a recovery point to a snapshot. For more information about recovery points and snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery.html\">Working with snapshots and recovery points</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConvertRecoveryPointToSnapshotRequest"
      },
      "name": "ConvertRecoveryPointToSnapshot",
      "output": {
        "shape": "ConvertRecoveryPointToSnapshotResponse"
      }
    },
    "CreateEndpointAccess": {
      "documentation": "<p>Creates an Amazon Redshift Serverless managed VPC endpoint.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEndpointAccessRequest"
      },
      "name": "CreateEndpointAccess",
      "output": {
        "shape": "CreateEndpointAccessResponse"
      }
    },
    "CreateNamespace": {
      "documentation": "<p>Creates a namespace in Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateNamespaceRequest"
      },
      "name": "CreateNamespace",
      "output": {
        "shape": "CreateNamespaceResponse"
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>Creates a snapshot of all databases in a namespace. For more information about snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery.html\"> Working with snapshots and recovery points</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateSnapshotRequest"
      },
      "name": "CreateSnapshot",
      "output": {
        "shape": "CreateSnapshotResponse"
      }
    },
    "CreateUsageLimit": {
      "documentation": "<p>Creates a usage limit for a specified Amazon Redshift Serverless usage type. The usage limit is identified by the returned usage limit identifier. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateUsageLimitRequest"
      },
      "name": "CreateUsageLimit",
      "output": {
        "shape": "CreateUsageLimitResponse"
      }
    },
    "CreateWorkgroup": {
      "documentation": "<p>Creates an workgroup in Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InsufficientCapacityException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateWorkgroupRequest"
      },
      "name": "CreateWorkgroup",
      "output": {
        "shape": "CreateWorkgroupResponse"
      }
    },
    "DeleteEndpointAccess": {
      "documentation": "<p>Deletes an Amazon Redshift Serverless managed VPC endpoint.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEndpointAccessRequest"
      },
      "name": "DeleteEndpointAccess",
      "output": {
        "shape": "DeleteEndpointAccessResponse"
      }
    },
    "DeleteNamespace": {
      "documentation": "<p>Deletes a namespace from Amazon Redshift Serverless. Before you delete the namespace, you can create a final snapshot that has all of the data within the namespace.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteNamespaceRequest"
      },
      "name": "DeleteNamespace",
      "output": {
        "shape": "DeleteNamespaceResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes the specified resource policy.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteSnapshot": {
      "documentation": "<p>Deletes a snapshot from Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSnapshotRequest"
      },
      "name": "DeleteSnapshot",
      "output": {
        "shape": "DeleteSnapshotResponse"
      }
    },
    "DeleteUsageLimit": {
      "documentation": "<p>Deletes a usage limit from Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUsageLimitRequest"
      },
      "name": "DeleteUsageLimit",
      "output": {
        "shape": "DeleteUsageLimitResponse"
      }
    },
    "DeleteWorkgroup": {
      "documentation": "<p>Deletes a workgroup.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkgroupRequest"
      },
      "name": "DeleteWorkgroup",
      "output": {
        "shape": "DeleteWorkgroupResponse"
      }
    },
    "GetCredentials": {
      "documentation": "<p>Returns a database user name and temporary password with temporary authorization to log in to Amazon Redshift Serverless.</p> <p>By default, the temporary credentials expire in 900 seconds. You can optionally specify a duration between 900 seconds (15 minutes) and 3600 seconds (60 minutes).</p> <pre><code> &lt;p&gt; The Identity and Access Management (IAM) user or role that runs GetCredentials must have an IAM policy attached that allows access to all necessary actions and resources. &lt;/p&gt; &lt;p&gt; If the &lt;code&gt;DbName&lt;/code&gt; parameter is specified, the IAM policy must allow access to the resource dbname for the specified database name.&lt;/p&gt; </code></pre>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCredentialsRequest"
      },
      "name": "GetCredentials",
      "output": {
        "shape": "GetCredentialsResponse"
      }
    },
    "GetEndpointAccess": {
      "documentation": "<p>Returns information, such as the name, about a VPC endpoint.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEndpointAccessRequest"
      },
      "name": "GetEndpointAccess",
      "output": {
        "shape": "GetEndpointAccessResponse"
      }
    },
    "GetNamespace": {
      "documentation": "<p>Returns information about a namespace in Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNamespaceRequest"
      },
      "name": "GetNamespace",
      "output": {
        "shape": "GetNamespaceResponse"
      }
    },
    "GetRecoveryPoint": {
      "documentation": "<p>Returns information about a recovery point.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRecoveryPointRequest"
      },
      "name": "GetRecoveryPoint",
      "output": {
        "shape": "GetRecoveryPointResponse"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p>Returns a resource policy.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyResponse"
      }
    },
    "GetSnapshot": {
      "documentation": "<p>Returns information about a specific snapshot.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSnapshotRequest"
      },
      "name": "GetSnapshot",
      "output": {
        "shape": "GetSnapshotResponse"
      }
    },
    "GetUsageLimit": {
      "documentation": "<p>Returns information about a usage limit.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUsageLimitRequest"
      },
      "name": "GetUsageLimit",
      "output": {
        "shape": "GetUsageLimitResponse"
      }
    },
    "GetWorkgroup": {
      "documentation": "<p>Returns information about a specific workgroup.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkgroupRequest"
      },
      "name": "GetWorkgroup",
      "output": {
        "shape": "GetWorkgroupResponse"
      }
    },
    "ListEndpointAccess": {
      "documentation": "<p>Returns an array of <code>EndpointAccess</code> objects and relevant information.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointAccessRequest"
      },
      "name": "ListEndpointAccess",
      "output": {
        "shape": "ListEndpointAccessResponse"
      }
    },
    "ListNamespaces": {
      "documentation": "<p>Returns information about a list of specified namespaces.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNamespacesRequest"
      },
      "name": "ListNamespaces",
      "output": {
        "shape": "ListNamespacesResponse"
      }
    },
    "ListRecoveryPoints": {
      "documentation": "<p>Returns an array of recovery points.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRecoveryPointsRequest"
      },
      "name": "ListRecoveryPoints",
      "output": {
        "shape": "ListRecoveryPointsResponse"
      }
    },
    "ListSnapshots": {
      "documentation": "<p>Returns a list of snapshots.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSnapshotsRequest"
      },
      "name": "ListSnapshots",
      "output": {
        "shape": "ListSnapshotsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags assigned to a resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUsageLimits": {
      "documentation": "<p>Lists all usage limits within Amazon Redshift Serverless.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidPaginationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsageLimitsRequest"
      },
      "name": "ListUsageLimits",
      "output": {
        "shape": "ListUsageLimitsResponse"
      }
    },
    "ListWorkgroups": {
      "documentation": "<p>Returns information about a list of specified workgroups.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkgroupsRequest"
      },
      "name": "ListWorkgroups",
      "output": {
        "shape": "ListWorkgroupsResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Creates or updates a resource policy. Currently, you can use policies to share snapshots across Amazon Web Services accounts.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "RestoreFromRecoveryPoint": {
      "documentation": "<p>Restore the data from a recovery point.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreFromRecoveryPointRequest"
      },
      "name": "RestoreFromRecoveryPoint",
      "output": {
        "shape": "RestoreFromRecoveryPointResponse"
      }
    },
    "RestoreFromSnapshot": {
      "documentation": "<p>Restores a namespace from a snapshot.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RestoreFromSnapshotRequest"
      },
      "name": "RestoreFromSnapshot",
      "output": {
        "shape": "RestoreFromSnapshotResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags to a resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag or set of tags from a resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateEndpointAccess": {
      "documentation": "<p>Updates an Amazon Redshift Serverless managed endpoint.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointAccessRequest"
      },
      "name": "UpdateEndpointAccess",
      "output": {
        "shape": "UpdateEndpointAccessResponse"
      }
    },
    "UpdateNamespace": {
      "documentation": "<p>Updates a namespace with the specified settings.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNamespaceRequest"
      },
      "name": "UpdateNamespace",
      "output": {
        "shape": "UpdateNamespaceResponse"
      }
    },
    "UpdateSnapshot": {
      "documentation": "<p>Updates a snapshot.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSnapshotRequest"
      },
      "name": "UpdateSnapshot",
      "output": {
        "shape": "UpdateSnapshotResponse"
      }
    },
    "UpdateUsageLimit": {
      "documentation": "<p>Update a usage limit in Amazon Redshift Serverless. You can't update the usage type or period of a usage limit.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUsageLimitRequest"
      },
      "name": "UpdateUsageLimit",
      "output": {
        "shape": "UpdateUsageLimitResponse"
      }
    },
    "UpdateWorkgroup": {
      "documentation": "<p>Updates a workgroup with the specified configuration settings.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InsufficientCapacityException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkgroupRequest"
      },
      "name": "UpdateWorkgroup",
      "output": {
        "shape": "UpdateWorkgroupResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "code": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AccountIdList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ConfigParameter": {
      "documentation": "<p>An array of key-value pairs to set for advanced control over Amazon Redshift Serverless.</p>",
      "members": {
        "parameterKey": {
          "documentation": "<p>The key of the parameter. The options are <code>datestyle</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, and <code>max_query_execution_time</code>.</p>",
          "shape": "ParameterKey"
        },
        "parameterValue": {
          "documentation": "<p>The value of the parameter to set.</p>",
          "shape": "ParameterValue"
        }
      },
      "type": "structure"
    },
    "ConfigParameterList": {
      "member": {
        "shape": "ConfigParameter"
      },
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>The submitted action has conflicts.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ConvertRecoveryPointToSnapshotRequest": {
      "members": {
        "recoveryPointId": {
          "documentation": "<p>The unique identifier of the recovery point.</p>",
          "shape": "String"
        },
        "retentionPeriod": {
          "documentation": "<p>How long to retain the snapshot.</p>",
          "shape": "Integer"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot.</p>",
          "shape": "String"
        }
      },
      "required": [
        "recoveryPointId",
        "snapshotName"
      ],
      "type": "structure"
    },
    "ConvertRecoveryPointToSnapshotResponse": {
      "members": {
        "snapshot": {
          "documentation": "<p>The snapshot converted from the recovery point.</p>",
          "shape": "Snapshot"
        }
      },
      "type": "structure"
    },
    "CreateEndpointAccessRequest": {
      "members": {
        "endpointName": {
          "documentation": "<p>The name of the VPC endpoint. An endpoint name must contain 1-30 characters. Valid characters are A-Z, a-z, 0-9, and hyphen(-). The first character must be a letter. The name can't contain two consecutive hyphens or end with a hyphen.</p>",
          "shape": "String"
        },
        "subnetIds": {
          "documentation": "<p>The unique identifers of subnets from which Amazon Redshift Serverless chooses one to deploy a VPC endpoint.</p>",
          "shape": "SubnetIdList"
        },
        "vpcSecurityGroupIds": {
          "documentation": "<p>The unique identifiers of the security group that defines the ports, protocols, and sources for inbound traffic that you are authorizing into your endpoint.</p>",
          "shape": "VpcSecurityGroupIdList"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup to associate with the VPC endpoint.</p>",
          "shape": "String"
        }
      },
      "required": [
        "endpointName",
        "subnetIds",
        "workgroupName"
      ],
      "type": "structure"
    },
    "CreateEndpointAccessResponse": {
      "members": {
        "endpoint": {
          "documentation": "<p>The created VPC endpoint.</p>",
          "shape": "EndpointAccess"
        }
      },
      "type": "structure"
    },
    "CreateNamespaceRequest": {
      "members": {
        "adminUserPassword": {
          "documentation": "<p>The password of the administrator for the first database created in the namespace.</p>",
          "shape": "DbPassword"
        },
        "adminUsername": {
          "documentation": "<p>The username of the administrator for the first database created in the namespace.</p>",
          "shape": "DbUser"
        },
        "dbName": {
          "documentation": "<p>The name of the first database created in the namespace.</p>",
          "shape": "String"
        },
        "defaultIamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to set as a default in the namespace.</p>",
          "shape": "String"
        },
        "iamRoles": {
          "documentation": "<p>A list of IAM roles to associate with the namespace.</p>",
          "shape": "IamRoleArnList"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the Amazon Web Services Key Management Service key used to encrypt your data.</p>",
          "shape": "String"
        },
        "logExports": {
          "documentation": "<p>The types of logs the namespace can export. Available export types are <code>userlog</code>, <code>connectionlog</code>, and <code>useractivitylog</code>.</p>",
          "shape": "LogExportList"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace.</p>",
          "shape": "NamespaceName"
        },
        "tags": {
          "documentation": "<p>A list of tag instances.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "namespaceName"
      ],
      "type": "structure"
    },
    "CreateNamespaceResponse": {
      "members": {
        "namespace": {
          "documentation": "<p>The created namespace object.</p>",
          "shape": "Namespace"
        }
      },
      "type": "structure"
    },
    "CreateSnapshotRequest": {
      "members": {
        "namespaceName": {
          "documentation": "<p>The namespace to create a snapshot for.</p>",
          "shape": "String"
        },
        "retentionPeriod": {
          "documentation": "<p>How long to retain the created snapshot.</p>",
          "shape": "Integer"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot.</p>",
          "shape": "String"
        }
      },
      "required": [
        "namespaceName",
        "snapshotName"
      ],
      "type": "structure"
    },
    "CreateSnapshotResponse": {
      "members": {
        "snapshot": {
          "documentation": "<p>The created snapshot object.</p>",
          "shape": "Snapshot"
        }
      },
      "type": "structure"
    },
    "CreateUsageLimitRequest": {
      "members": {
        "amount": {
          "documentation": "<p>The limit amount. If time-based, this amount is in Redshift Processing Units (RPU) consumed per hour. If data-based, this amount is in terabytes (TB) of data transferred between Regions in cross-account sharing. The value must be a positive number.</p>",
          "shape": "Long"
        },
        "breachAction": {
          "documentation": "<p>The action that Amazon Redshift Serverless takes when the limit is reached. The default is log.</p>",
          "shape": "UsageLimitBreachAction"
        },
        "period": {
          "documentation": "<p>The time period that the amount applies to. A weekly period begins on Sunday. The default is monthly.</p>",
          "shape": "UsageLimitPeriod"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Redshift Serverless resource to create the usage limit for.</p>",
          "shape": "String"
        },
        "usageType": {
          "documentation": "<p>The type of Amazon Redshift Serverless usage to create a usage limit for.</p>",
          "shape": "UsageLimitUsageType"
        }
      },
      "required": [
        "amount",
        "resourceArn",
        "usageType"
      ],
      "type": "structure"
    },
    "CreateUsageLimitResponse": {
      "members": {
        "usageLimit": {
          "documentation": "<p>The returned usage limit object.</p>",
          "shape": "UsageLimit"
        }
      },
      "type": "structure"
    },
    "CreateWorkgroupRequest": {
      "members": {
        "baseCapacity": {
          "documentation": "<p>The base data warehouse capacity of the workgroup in Redshift Processing Units (RPUs).</p>",
          "shape": "Integer"
        },
        "configParameters": {
          "documentation": "<p>An array of parameters to set for more control over a serverless database. The options are <code>datestyle</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, and <code>max_query_execution_time</code>.</p>",
          "shape": "ConfigParameterList"
        },
        "enhancedVpcRouting": {
          "documentation": "<p>The value that specifies whether to turn on enhanced virtual private cloud (VPC) routing, which forces Amazon Redshift Serverless to route traffic through your VPC instead of over the internet.</p>",
          "shape": "Boolean"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace to associate with the workgroup.</p>",
          "shape": "NamespaceName"
        },
        "publiclyAccessible": {
          "documentation": "<p>A value that specifies whether the workgroup can be accessed from a public network.</p>",
          "shape": "Boolean"
        },
        "securityGroupIds": {
          "documentation": "<p>An array of security group IDs to associate with the workgroup.</p>",
          "shape": "SecurityGroupIdList"
        },
        "subnetIds": {
          "documentation": "<p>An array of VPC subnet IDs to associate with the workgroup.</p>",
          "shape": "SubnetIdList"
        },
        "tags": {
          "documentation": "<p>A array of tag instances.</p>",
          "shape": "TagList"
        },
        "workgroupName": {
          "documentation": "<p>The name of the created workgroup.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "namespaceName",
        "workgroupName"
      ],
      "type": "structure"
    },
    "CreateWorkgroupResponse": {
      "members": {
        "workgroup": {
          "documentation": "<p>The created workgroup object.</p>",
          "shape": "Workgroup"
        }
      },
      "type": "structure"
    },
    "DbName": {
      "type": "string"
    },
    "DbPassword": {
      "sensitive": true,
      "type": "string"
    },
    "DbUser": {
      "sensitive": true,
      "type": "string"
    },
    "DeleteEndpointAccessRequest": {
      "members": {
        "endpointName": {
          "documentation": "<p>The name of the VPC endpoint to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "endpointName"
      ],
      "type": "structure"
    },
    "DeleteEndpointAccessResponse": {
      "members": {
        "endpoint": {
          "documentation": "<p>The deleted VPC endpoint.</p>",
          "shape": "EndpointAccess"
        }
      },
      "type": "structure"
    },
    "DeleteNamespaceRequest": {
      "members": {
        "finalSnapshotName": {
          "documentation": "<p>The name of the snapshot to be created before the namespace is deleted.</p>",
          "shape": "String"
        },
        "finalSnapshotRetentionPeriod": {
          "documentation": "<p>How long to retain the final snapshot.</p>",
          "shape": "Integer"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace to delete.</p>",
          "shape": "NamespaceName"
        }
      },
      "required": [
        "namespaceName"
      ],
      "type": "structure"
    },
    "DeleteNamespaceResponse": {
      "members": {
        "namespace": {
          "documentation": "<p>The deleted namespace object.</p>",
          "shape": "Namespace"
        }
      },
      "required": [
        "namespace"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the policy to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSnapshotRequest": {
      "members": {
        "snapshotName": {
          "documentation": "<p>The name of the snapshot to be deleted.</p>",
          "shape": "String"
        }
      },
      "required": [
        "snapshotName"
      ],
      "type": "structure"
    },
    "DeleteSnapshotResponse": {
      "members": {
        "snapshot": {
          "documentation": "<p>The deleted snapshot object.</p>",
          "shape": "Snapshot"
        }
      },
      "type": "structure"
    },
    "DeleteUsageLimitRequest": {
      "members": {
        "usageLimitId": {
          "documentation": "<p>The unique identifier of the usage limit to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "usageLimitId"
      ],
      "type": "structure"
    },
    "DeleteUsageLimitResponse": {
      "members": {
        "usageLimit": {
          "documentation": "<p>The deleted usage limit object.</p>",
          "shape": "UsageLimit"
        }
      },
      "type": "structure"
    },
    "DeleteWorkgroupRequest": {
      "members": {
        "workgroupName": {
          "documentation": "<p>The name of the workgroup to be deleted.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "workgroupName"
      ],
      "type": "structure"
    },
    "DeleteWorkgroupResponse": {
      "members": {
        "workgroup": {
          "documentation": "<p>The deleted workgroup object.</p>",
          "shape": "Workgroup"
        }
      },
      "required": [
        "workgroup"
      ],
      "type": "structure"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "Endpoint": {
      "documentation": "<p>The VPC endpoint object.</p>",
      "members": {
        "address": {
          "documentation": "<p>The DNS address of the VPC endpoint.</p>",
          "shape": "String"
        },
        "port": {
          "documentation": "<p>The port that Amazon Redshift Serverless listens on.</p>",
          "shape": "Integer"
        },
        "vpcEndpoints": {
          "documentation": "<p>An array of <code>VpcEndpoint</code> objects.</p>",
          "shape": "VpcEndpointList"
        }
      },
      "type": "structure"
    },
    "EndpointAccess": {
      "documentation": "<p>Information about an Amazon Redshift Serverless VPC endpoint.</p>",
      "members": {
        "address": {
          "documentation": "<p>The DNS address of the endpoint.</p>",
          "shape": "String"
        },
        "endpointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the VPC endpoint.</p>",
          "shape": "String"
        },
        "endpointCreateTime": {
          "documentation": "<p>The time that the endpoint was created.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "endpointName": {
          "documentation": "<p>The name of the VPC endpoint.</p>",
          "shape": "String"
        },
        "endpointStatus": {
          "documentation": "<p>The status of the VPC endpoint.</p>",
          "shape": "String"
        },
        "port": {
          "documentation": "<p>The port number on which Amazon Redshift Serverless accepts incoming connections.</p>",
          "shape": "Integer"
        },
        "subnetIds": {
          "documentation": "<p>The unique identifier of subnets where Amazon Redshift Serverless choose to deploy the VPC endpoint.</p>",
          "shape": "SubnetIdList"
        },
        "vpcEndpoint": {
          "documentation": "<p>The connection endpoint for connecting to Amazon Redshift Serverless.</p>",
          "shape": "VpcEndpoint"
        },
        "vpcSecurityGroups": {
          "documentation": "<p>The security groups associated with the endpoint.</p>",
          "shape": "VpcSecurityGroupMembershipList"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup associated with the endpoint.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EndpointAccessList": {
      "member": {
        "shape": "EndpointAccess"
      },
      "type": "list"
    },
    "GetCredentialsRequest": {
      "members": {
        "dbName": {
          "documentation": "<p>The name of the database to get temporary authorization to log on to.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 64 alphanumeric characters or hyphens.</p> </li> <li> <p>Must contain only lowercase letters, numbers, underscore, plus sign, period (dot), at symbol (@), or hyphen.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Must not contain a colon ( : ) or slash ( / ).</p> </li> <li> <p>Cannot be a reserved word. A list of reserved words can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words </a> in the Amazon Redshift Database Developer Guide</p> </li> </ul>",
          "shape": "DbName"
        },
        "durationSeconds": {
          "documentation": "<p>The number of seconds until the returned temporary password expires. The minimum is 900 seconds, and the maximum is 3600 seconds.</p>",
          "shape": "Integer"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup associated with the database.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "workgroupName"
      ],
      "type": "structure"
    },
    "GetCredentialsResponse": {
      "members": {
        "dbPassword": {
          "documentation": "<p>A temporary password that authorizes the user name returned by <code>DbUser</code> to log on to the database <code>DbName</code>.</p>",
          "shape": "DbPassword"
        },
        "dbUser": {
          "documentation": "<p>A database user name that is authorized to log on to the database <code>DbName</code> using the password <code>DbPassword</code>. If the specified <code>DbUser</code> exists in the database, the new user name has the same database privileges as the the user named in <code>DbUser</code>. By default, the user is added to PUBLIC.</p>",
          "shape": "DbUser"
        },
        "expiration": {
          "documentation": "<p>The date and time the password in <code>DbPassword</code> expires.</p>",
          "shape": "Timestamp"
        },
        "nextRefreshTime": {
          "documentation": "<p>The date and time of when the <code>DbUser</code> and <code>DbPassword</code> authorization refreshes.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetEndpointAccessRequest": {
      "members": {
        "endpointName": {
          "documentation": "<p>The name of the VPC endpoint to return information for.</p>",
          "shape": "String"
        }
      },
      "required": [
        "endpointName"
      ],
      "type": "structure"
    },
    "GetEndpointAccessResponse": {
      "members": {
        "endpoint": {
          "documentation": "<p>The returned VPC endpoint.</p>",
          "shape": "EndpointAccess"
        }
      },
      "type": "structure"
    },
    "GetNamespaceRequest": {
      "members": {
        "namespaceName": {
          "documentation": "<p>The name of the namespace to retrieve information for.</p>",
          "shape": "NamespaceName"
        }
      },
      "required": [
        "namespaceName"
      ],
      "type": "structure"
    },
    "GetNamespaceResponse": {
      "members": {
        "namespace": {
          "documentation": "<p>The returned namespace object.</p>",
          "shape": "Namespace"
        }
      },
      "required": [
        "namespace"
      ],
      "type": "structure"
    },
    "GetRecoveryPointRequest": {
      "members": {
        "recoveryPointId": {
          "documentation": "<p>The unique identifier of the recovery point to return information for.</p>",
          "shape": "String"
        }
      },
      "required": [
        "recoveryPointId"
      ],
      "type": "structure"
    },
    "GetRecoveryPointResponse": {
      "members": {
        "recoveryPoint": {
          "documentation": "<p>The returned recovery point object.</p>",
          "shape": "RecoveryPoint"
        }
      },
      "type": "structure"
    },
    "GetResourcePolicyRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to return.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetResourcePolicyResponse": {
      "members": {
        "resourcePolicy": {
          "documentation": "<p>The returned resource policy.</p>",
          "shape": "ResourcePolicy"
        }
      },
      "type": "structure"
    },
    "GetSnapshotRequest": {
      "members": {
        "ownerAccount": {
          "documentation": "<p>The owner Amazon Web Services account of a snapshot shared with another user.</p>",
          "shape": "String"
        },
        "snapshotArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the snapshot to return.</p>",
          "shape": "String"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSnapshotResponse": {
      "members": {
        "snapshot": {
          "documentation": "<p>The returned snapshot object.</p>",
          "shape": "Snapshot"
        }
      },
      "type": "structure"
    },
    "GetUsageLimitRequest": {
      "members": {
        "usageLimitId": {
          "documentation": "<p>The unique identifier of the usage limit to return information for.</p>",
          "shape": "String"
        }
      },
      "required": [
        "usageLimitId"
      ],
      "type": "structure"
    },
    "GetUsageLimitResponse": {
      "members": {
        "usageLimit": {
          "documentation": "<p>The returned usage limit object.</p>",
          "shape": "UsageLimit"
        }
      },
      "type": "structure"
    },
    "GetWorkgroupRequest": {
      "members": {
        "workgroupName": {
          "documentation": "<p>The name of the workgroup to return information for.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "workgroupName"
      ],
      "type": "structure"
    },
    "GetWorkgroupResponse": {
      "members": {
        "workgroup": {
          "documentation": "<p>The returned workgroup object.</p>",
          "shape": "Workgroup"
        }
      },
      "required": [
        "workgroup"
      ],
      "type": "structure"
    },
    "IamRoleArn": {
      "type": "string"
    },
    "IamRoleArnList": {
      "member": {
        "shape": "IamRoleArn"
      },
      "type": "list"
    },
    "InsufficientCapacityException": {
      "documentation": "<p>There is an insufficient capacity to perform the action.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "InvalidPaginationException": {
      "documentation": "<p>The provided pagination token is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "KmsKeyId": {
      "type": "string"
    },
    "ListEndpointAccessRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results.</p>",
          "shape": "ListEndpointAccessRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>If your initial <code>ListEndpointAccess</code> operation returns a <code>nextToken</code>, you can include the returned <code>nextToken</code> in subsequent <code>ListEndpointAccess</code> operations, which returns results in the next page.</p>",
          "shape": "String"
        },
        "vpcId": {
          "documentation": "<p>The unique identifier of the virtual private cloud with access to Amazon Redshift Serverless.</p>",
          "shape": "String"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup associated with the VPC endpoint to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListEndpointAccessRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListEndpointAccessResponse": {
      "members": {
        "endpoints": {
          "documentation": "<p>The returned VPC endpoints.</p>",
          "shape": "EndpointAccessList"
        },
        "nextToken": {
          "documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "String"
        }
      },
      "required": [
        "endpoints"
      ],
      "type": "structure"
    },
    "ListNamespacesRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results.</p>",
          "shape": "ListNamespacesRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>If your initial <code>ListNamespaces</code> operation returns a <code>nextToken</code>, you can include the returned <code>nextToken</code> in subsequent <code>ListNamespaces</code> operations, which returns results in the next page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListNamespacesRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListNamespacesResponse": {
      "members": {
        "namespaces": {
          "documentation": "<p>The list of returned namespaces.</p>",
          "shape": "NamespaceList"
        },
        "nextToken": {
          "documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "String"
        }
      },
      "required": [
        "namespaces"
      ],
      "type": "structure"
    },
    "ListRecoveryPointsRequest": {
      "members": {
        "endTime": {
          "documentation": "<p>The time when creation of the recovery point finished.</p>",
          "shape": "Timestamp"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results.</p>",
          "shape": "ListRecoveryPointsRequestMaxResultsInteger"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace to list recovery points for.</p>",
          "shape": "NamespaceName"
        },
        "nextToken": {
          "documentation": "<p>If your initial <code>ListRecoveryPoints</code> operation returns a <code>nextToken</code>, you can include the returned <code>nextToken</code> in subsequent <code>ListRecoveryPoints</code> operations, which returns results in the next page.</p>",
          "shape": "String"
        },
        "startTime": {
          "documentation": "<p>The time when the recovery point's creation was initiated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ListRecoveryPointsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListRecoveryPointsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "String"
        },
        "recoveryPoints": {
          "documentation": "<p>The returned recovery point objects.</p>",
          "shape": "RecoveryPointList"
        }
      },
      "type": "structure"
    },
    "ListSnapshotsRequest": {
      "members": {
        "endTime": {
          "documentation": "<p>The timestamp showing when the snapshot creation finished.</p>",
          "shape": "Timestamp"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results.</p>",
          "shape": "ListSnapshotsRequestMaxResultsInteger"
        },
        "namespaceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the namespace from which to list all snapshots.</p>",
          "shape": "String"
        },
        "namespaceName": {
          "documentation": "<p>The namespace from which to list all snapshots.</p>",
          "shape": "String"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "String"
        },
        "ownerAccount": {
          "documentation": "<p>The owner Amazon Web Services account of the snapshot.</p>",
          "shape": "String"
        },
        "startTime": {
          "documentation": "<p>The time when the creation of the snapshot was initiated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ListSnapshotsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSnapshotsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "String"
        },
        "snapshots": {
          "documentation": "<p>All of the returned snapshot objects.</p>",
          "shape": "SnapshotList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to list tags for.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>A map of the key-value pairs assigned to the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListUsageLimitsRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results. The default is 100.</p>",
          "shape": "ListUsageLimitsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>If your initial <code>ListUsageLimits</code> operation returns a <code>nextToken</code>, you can include the returned <code>nextToken</code> in subsequent <code>ListUsageLimits</code> operations, which returns results in the next page. </p>",
          "shape": "PaginationToken"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) associated with the resource whose usage limits you want to list.</p>",
          "shape": "String"
        },
        "usageType": {
          "documentation": "<p>The Amazon Redshift Serverless feature whose limits you want to see.</p>",
          "shape": "UsageLimitUsageType"
        }
      },
      "type": "structure"
    },
    "ListUsageLimitsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListUsageLimitsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page.</p>",
          "shape": "PaginationToken"
        },
        "usageLimits": {
          "documentation": "<p>An array of returned usage limit objects.</p>",
          "shape": "UsageLimits"
        }
      },
      "type": "structure"
    },
    "ListWorkgroupsRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can use <code>nextToken</code> to get the next page of results.</p>",
          "shape": "ListWorkgroupsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>If your initial ListWorkgroups operation returns a <code>nextToken</code>, you can include the returned <code>nextToken</code> in subsequent ListNamespaces operations, which returns results in the next page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListWorkgroupsRequestMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListWorkgroupsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p> If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. To retrieve the next page, make the call again using the returned token.</p>",
          "shape": "String"
        },
        "workgroups": {
          "documentation": "<p>The returned array of workgroups.</p>",
          "shape": "WorkgroupList"
        }
      },
      "required": [
        "workgroups"
      ],
      "type": "structure"
    },
    "LogExport": {
      "enum": [
        "useractivitylog",
        "userlog",
        "connectionlog"
      ],
      "type": "string"
    },
    "LogExportList": {
      "max": 16,
      "member": {
        "shape": "LogExport"
      },
      "min": 0,
      "type": "list"
    },
    "Long": {
      "box": true,
      "type": "long"
    },
    "Namespace": {
      "documentation": "<p>A collection of database objects and users.</p>",
      "members": {
        "adminUsername": {
          "documentation": "<p>The username of the administrator for the first database created in the namespace.</p>",
          "shape": "DbUser"
        },
        "creationDate": {
          "documentation": "<p>The date of when the namespace was created.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "dbName": {
          "documentation": "<p>The name of the first database created in the namespace.</p>",
          "shape": "String"
        },
        "defaultIamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to set as a default in the namespace.</p>",
          "shape": "String"
        },
        "iamRoles": {
          "documentation": "<p>A list of IAM roles to associate with the namespace.</p>",
          "shape": "IamRoleArnList"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the Amazon Web Services Key Management Service key used to encrypt your data.</p>",
          "shape": "String"
        },
        "logExports": {
          "documentation": "<p>The types of logs the namespace can export. Available export types are User log, Connection log, and User activity log.</p>",
          "shape": "LogExportList"
        },
        "namespaceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) associated with a namespace.</p>",
          "shape": "String"
        },
        "namespaceId": {
          "documentation": "<p>The unique identifier of a namespace.</p>",
          "shape": "String"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace. Must be between 3-64 alphanumeric characters in lowercase, and it cannot be a reserved word. A list of reserved words can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words</a> in the Amazon Redshift Database Developer Guide.</p>",
          "shape": "NamespaceName"
        },
        "status": {
          "documentation": "<p>The status of the namespace.</p>",
          "shape": "NamespaceStatus"
        }
      },
      "type": "structure"
    },
    "NamespaceList": {
      "member": {
        "shape": "Namespace"
      },
      "type": "list"
    },
    "NamespaceName": {
      "max": 64,
      "min": 3,
      "pattern": "^[a-z0-9-]+$",
      "type": "string"
    },
    "NamespaceStatus": {
      "enum": [
        "AVAILABLE",
        "MODIFYING",
        "DELETING"
      ],
      "type": "string"
    },
    "NetworkInterface": {
      "documentation": "<p>Contains information about a network interface in an Amazon Redshift Serverless managed VPC endpoint. </p>",
      "members": {
        "availabilityZone": {
          "documentation": "<p>The availability Zone.</p>",
          "shape": "String"
        },
        "networkInterfaceId": {
          "documentation": "<p>The unique identifier of the network interface.</p>",
          "shape": "String"
        },
        "privateIpAddress": {
          "documentation": "<p>The IPv4 address of the network interface within the subnet.</p>",
          "shape": "String"
        },
        "subnetId": {
          "documentation": "<p>The unique identifier of the subnet.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "NetworkInterfaceList": {
      "member": {
        "shape": "NetworkInterface"
      },
      "type": "list"
    },
    "PaginationToken": {
      "max": 1024,
      "min": 8,
      "type": "string"
    },
    "ParameterKey": {
      "type": "string"
    },
    "ParameterValue": {
      "type": "string"
    },
    "PutResourcePolicyRequest": {
      "members": {
        "policy": {
          "documentation": "<p>The policy to create or update. For example, the following policy grants a user authorization to restore a snapshot.</p> <p> <code>\"{\\\"Version\\\": \\\"2012-10-17\\\", \\\"Statement\\\" : [{ \\\"Sid\\\": \\\"AllowUserRestoreFromSnapshot\\\", \\\"Principal\\\":{\\\"AWS\\\": [\\\"739247239426\\\"]}, \\\"Action\\\": [\\\"redshift-serverless:RestoreFromSnapshot\\\"] , \\\"Effect\\\": \\\"Allow\\\" }]}\"</code> </p>",
          "shape": "String"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the account to create or update a resource policy for.</p>",
          "shape": "String"
        }
      },
      "required": [
        "policy",
        "resourceArn"
      ],
      "type": "structure"
    },
    "PutResourcePolicyResponse": {
      "members": {
        "resourcePolicy": {
          "documentation": "<p>The policy that was created or updated.</p>",
          "shape": "ResourcePolicy"
        }
      },
      "type": "structure"
    },
    "RecoveryPoint": {
      "documentation": "<p>The automatically created recovery point of a namespace. Recovery points are created every 30 minutes and kept for 24 hours.</p>",
      "members": {
        "namespaceName": {
          "documentation": "<p>The name of the namespace the recovery point is associated with.</p>",
          "shape": "NamespaceName"
        },
        "recoveryPointCreateTime": {
          "documentation": "<p>The time the recovery point is created.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "recoveryPointId": {
          "documentation": "<p>The unique identifier of the recovery point.</p>",
          "shape": "String"
        },
        "totalSizeInMegaBytes": {
          "documentation": "<p>The total size of the data in the recovery point in megabytes.</p>",
          "shape": "Double"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup the recovery point is associated with.</p>",
          "shape": "WorkgroupName"
        }
      },
      "type": "structure"
    },
    "RecoveryPointList": {
      "member": {
        "shape": "RecoveryPoint"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource could not be found.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceName": {
          "documentation": "<p>The name of the resource that could not be found.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ResourcePolicy": {
      "documentation": "<p>The resource policy object. Currently, you can use policies to share snapshots across Amazon Web Services accounts.</p>",
      "members": {
        "policy": {
          "documentation": "<p>The resource policy.</p>",
          "shape": "String"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RestoreFromRecoveryPointRequest": {
      "members": {
        "namespaceName": {
          "documentation": "<p>The name of the namespace to restore data into.</p>",
          "shape": "NamespaceName"
        },
        "recoveryPointId": {
          "documentation": "<p>The unique identifier of the recovery point to restore from.</p>",
          "shape": "String"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup used to restore data.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "namespaceName",
        "recoveryPointId",
        "workgroupName"
      ],
      "type": "structure"
    },
    "RestoreFromRecoveryPointResponse": {
      "members": {
        "namespace": {
          "documentation": "<p>The namespace that data was restored into.</p>",
          "shape": "Namespace"
        },
        "recoveryPointId": {
          "documentation": "<p>The unique identifier of the recovery point used for the restore.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RestoreFromSnapshotRequest": {
      "members": {
        "namespaceName": {
          "documentation": "<p>The name of the namespace to restore the snapshot to.</p>",
          "shape": "NamespaceName"
        },
        "ownerAccount": {
          "documentation": "<p>The Amazon Web Services account that owns the snapshot.</p>",
          "shape": "String"
        },
        "snapshotArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the snapshot to restore from.</p>",
          "shape": "String"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot to restore from.</p>",
          "shape": "String"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup used to restore the snapshot.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "namespaceName",
        "workgroupName"
      ],
      "type": "structure"
    },
    "RestoreFromSnapshotResponse": {
      "members": {
        "namespace": {
          "shape": "Namespace"
        },
        "ownerAccount": {
          "documentation": "<p>The owner Amazon Web Services; account of the snapshot that was restored.</p>",
          "shape": "String"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot used to restore the namespace.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SecurityGroupId": {
      "type": "string"
    },
    "SecurityGroupIdList": {
      "member": {
        "shape": "SecurityGroupId"
      },
      "type": "list"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The service limit was exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Snapshot": {
      "documentation": "<p>A snapshot object that contains databases.</p>",
      "members": {
        "accountsWithProvisionedRestoreAccess": {
          "documentation": "<p>All of the Amazon Web Services accounts that have access to restore a snapshot to a provisioned cluster.</p>",
          "shape": "AccountIdList"
        },
        "accountsWithRestoreAccess": {
          "documentation": "<p>All of the Amazon Web Services accounts that have access to restore a snapshot to a namespace.</p>",
          "shape": "AccountIdList"
        },
        "actualIncrementalBackupSizeInMegaBytes": {
          "documentation": "<p>The size of the incremental backup in megabytes.</p>",
          "shape": "Double"
        },
        "adminUsername": {
          "documentation": "<p>The username of the database within a snapshot.</p>",
          "shape": "String"
        },
        "backupProgressInMegaBytes": {
          "documentation": "<p>The size in megabytes of the data that has been backed up to a snapshot.</p>",
          "shape": "Double"
        },
        "currentBackupRateInMegaBytesPerSecond": {
          "documentation": "<p>The rate at which data is backed up into a snapshot in megabytes per second.</p>",
          "shape": "Double"
        },
        "elapsedTimeInSeconds": {
          "documentation": "<p>The amount of time it took to back up data into a snapshot.</p>",
          "shape": "Long"
        },
        "estimatedSecondsToCompletion": {
          "documentation": "<p>The estimated amount of seconds until the snapshot completes backup.</p>",
          "shape": "Long"
        },
        "kmsKeyId": {
          "documentation": "<p>The unique identifier of the KMS key used to encrypt the snapshot.</p>",
          "shape": "KmsKeyId"
        },
        "namespaceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the namespace the snapshot was created from.</p>",
          "shape": "String"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namepsace.</p>",
          "shape": "String"
        },
        "ownerAccount": {
          "documentation": "<p>The owner Amazon Web Services; account of the snapshot.</p>",
          "shape": "String"
        },
        "snapshotArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the snapshot.</p>",
          "shape": "String"
        },
        "snapshotCreateTime": {
          "documentation": "<p>The timestamp of when the snapshot was created.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot.</p>",
          "shape": "String"
        },
        "snapshotRemainingDays": {
          "documentation": "<p>The amount of days until the snapshot is deleted.</p>",
          "shape": "Integer"
        },
        "snapshotRetentionPeriod": {
          "documentation": "<p>The period of time, in days, of how long the snapshot is retained.</p>",
          "shape": "Integer"
        },
        "snapshotRetentionStartTime": {
          "documentation": "<p>The timestamp of when data within the snapshot started getting retained.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "status": {
          "documentation": "<p>The status of the snapshot.</p>",
          "shape": "SnapshotStatus"
        },
        "totalBackupSizeInMegaBytes": {
          "documentation": "<p>The total size, in megabytes, of how big the snapshot is.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "SnapshotList": {
      "member": {
        "shape": "Snapshot"
      },
      "type": "list"
    },
    "SnapshotStatus": {
      "enum": [
        "AVAILABLE",
        "CREATING",
        "DELETED",
        "CANCELLED",
        "FAILED",
        "COPYING"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubnetId": {
      "type": "string"
    },
    "SubnetIdList": {
      "member": {
        "shape": "SubnetId"
      },
      "type": "list"
    },
    "SyntheticTimestamp_date_time": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "Tag": {
      "documentation": "<p>A map of key-value pairs.</p>",
      "members": {
        "key": {
          "documentation": "<p>The key to use in the tag.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to tag.</p>",
          "shape": "AmazonResourceName"
        },
        "tags": {
          "documentation": "<p>The map of the key-value pairs used to tag the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling.</p>",
      "exception": true,
      "members": {
        "code": {
          "shape": "String"
        },
        "message": {
          "shape": "String"
        }
      },
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyTagsException": {
      "documentation": "<p>The request exceeded the number of tags allowed for a resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceName": {
          "documentation": "<p>The name of the resource that exceeded the number of tags allowed for a resource.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to remove tags from.</p>",
          "shape": "AmazonResourceName"
        },
        "tagKeys": {
          "documentation": "<p>The tag or set of tags to remove from the resource.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateEndpointAccessRequest": {
      "members": {
        "endpointName": {
          "documentation": "<p>The name of the VPC endpoint to update.</p>",
          "shape": "String"
        },
        "vpcSecurityGroupIds": {
          "documentation": "<p>The list of VPC security groups associated with the endpoint after the endpoint is modified.</p>",
          "shape": "VpcSecurityGroupIdList"
        }
      },
      "required": [
        "endpointName"
      ],
      "type": "structure"
    },
    "UpdateEndpointAccessResponse": {
      "members": {
        "endpoint": {
          "documentation": "<p>The updated VPC endpoint.</p>",
          "shape": "EndpointAccess"
        }
      },
      "type": "structure"
    },
    "UpdateNamespaceRequest": {
      "members": {
        "adminUserPassword": {
          "documentation": "<p>The password of the administrator for the first database created in the namespace.</p>",
          "shape": "DbPassword"
        },
        "adminUsername": {
          "documentation": "<p>The username of the administrator for the first database created in the namespace.</p>",
          "shape": "DbUser"
        },
        "defaultIamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to set as a default in the namespace.</p>",
          "shape": "String"
        },
        "iamRoles": {
          "documentation": "<p>A list of IAM roles to associate with the namespace.</p>",
          "shape": "IamRoleArnList"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the Amazon Web Services Key Management Service key used to encrypt your data.</p>",
          "shape": "String"
        },
        "logExports": {
          "documentation": "<p>The types of logs the namespace can export. The export types are <code>userlog</code>, <code>connectionlog</code>, and <code>useractivitylog</code>.</p>",
          "shape": "LogExportList"
        },
        "namespaceName": {
          "documentation": "<p>The name of the namespace.</p>",
          "shape": "NamespaceName"
        }
      },
      "required": [
        "namespaceName"
      ],
      "type": "structure"
    },
    "UpdateNamespaceResponse": {
      "members": {
        "namespace": {
          "documentation": "<p>A list of tag instances.</p>",
          "shape": "Namespace"
        }
      },
      "required": [
        "namespace"
      ],
      "type": "structure"
    },
    "UpdateSnapshotRequest": {
      "members": {
        "retentionPeriod": {
          "documentation": "<p>The new retention period of the snapshot.</p>",
          "shape": "Integer"
        },
        "snapshotName": {
          "documentation": "<p>The name of the snapshot.</p>",
          "shape": "String"
        }
      },
      "required": [
        "snapshotName"
      ],
      "type": "structure"
    },
    "UpdateSnapshotResponse": {
      "members": {
        "snapshot": {
          "documentation": "<p>The updated snapshot object.</p>",
          "shape": "Snapshot"
        }
      },
      "type": "structure"
    },
    "UpdateUsageLimitRequest": {
      "members": {
        "amount": {
          "documentation": "<p>The new limit amount. For more information about this parameter.</p>",
          "shape": "Long"
        },
        "breachAction": {
          "documentation": "<p>The new action that Amazon Redshift Serverless takes when the limit is reached.</p>",
          "shape": "UsageLimitBreachAction"
        },
        "usageLimitId": {
          "documentation": "<p>The identifier of the usage limit to update.</p>",
          "shape": "String"
        }
      },
      "required": [
        "usageLimitId"
      ],
      "type": "structure"
    },
    "UpdateUsageLimitResponse": {
      "members": {
        "usageLimit": {
          "documentation": "<p>The updated usage limit object.</p>",
          "shape": "UsageLimit"
        }
      },
      "type": "structure"
    },
    "UpdateWorkgroupRequest": {
      "members": {
        "baseCapacity": {
          "documentation": "<p>The new base data warehouse capacity in Redshift Processing Units (RPUs).</p>",
          "shape": "Integer"
        },
        "configParameters": {
          "documentation": "<p>An array of parameters to set for advanced control over a database. The options are <code>datestyle</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, and <code>max_query_execution_time</code>.</p>",
          "shape": "ConfigParameterList"
        },
        "enhancedVpcRouting": {
          "documentation": "<p>The value that specifies whether to turn on enhanced virtual private cloud (VPC) routing, which forces Amazon Redshift Serverless to route traffic through your VPC.</p>",
          "shape": "Boolean"
        },
        "publiclyAccessible": {
          "documentation": "<p>A value that specifies whether the workgroup can be accessible from a public network.</p>",
          "shape": "Boolean"
        },
        "securityGroupIds": {
          "documentation": "<p>An array of security group IDs to associate with the workgroup.</p>",
          "shape": "SecurityGroupIdList"
        },
        "subnetIds": {
          "documentation": "<p>An array of VPC subnet IDs to associate with the workgroup.</p>",
          "shape": "SubnetIdList"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup to update.</p>",
          "shape": "WorkgroupName"
        }
      },
      "required": [
        "workgroupName"
      ],
      "type": "structure"
    },
    "UpdateWorkgroupResponse": {
      "members": {
        "workgroup": {
          "documentation": "<p>The updated workgroup object.</p>",
          "shape": "Workgroup"
        }
      },
      "required": [
        "workgroup"
      ],
      "type": "structure"
    },
    "UsageLimit": {
      "documentation": "<p>The usage limit object.</p>",
      "members": {
        "amount": {
          "documentation": "<p>The limit amount. If time-based, this amount is in RPUs consumed per hour. If data-based, this amount is in terabytes (TB). The value must be a positive number.</p>",
          "shape": "Long"
        },
        "breachAction": {
          "documentation": "<p>The action that Amazon Redshift Serverless takes when the limit is reached.</p>",
          "shape": "UsageLimitBreachAction"
        },
        "period": {
          "documentation": "<p>The time period that the amount applies to. A weekly period begins on Sunday. The default is monthly.</p>",
          "shape": "UsageLimitPeriod"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the Amazon Redshift Serverless resource.</p>",
          "shape": "String"
        },
        "usageLimitArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource associated with the usage limit.</p>",
          "shape": "String"
        },
        "usageLimitId": {
          "documentation": "<p>The identifier of the usage limit.</p>",
          "shape": "String"
        },
        "usageType": {
          "documentation": "<p>The Amazon Redshift Serverless feature to limit.</p>",
          "shape": "UsageLimitUsageType"
        }
      },
      "type": "structure"
    },
    "UsageLimitBreachAction": {
      "enum": [
        "log",
        "emit-metric",
        "deactivate"
      ],
      "type": "string"
    },
    "UsageLimitPeriod": {
      "enum": [
        "daily",
        "weekly",
        "monthly"
      ],
      "type": "string"
    },
    "UsageLimitUsageType": {
      "enum": [
        "serverless-compute",
        "cross-region-datasharing"
      ],
      "type": "string"
    },
    "UsageLimits": {
      "max": 100,
      "member": {
        "shape": "UsageLimit"
      },
      "min": 1,
      "type": "list"
    },
    "ValidationException": {
      "documentation": "<p>The input failed to satisfy the constraints specified by an AWS service.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "VpcEndpoint": {
      "documentation": "<p>The connection endpoint for connecting to Amazon Redshift Serverless through the proxy.</p>",
      "members": {
        "networkInterfaces": {
          "documentation": "<p>One or more network interfaces of the endpoint. Also known as an interface endpoint.</p>",
          "shape": "NetworkInterfaceList"
        },
        "vpcEndpointId": {
          "documentation": "<p>The connection endpoint ID for connecting to Amazon Redshift Serverless.</p>",
          "shape": "String"
        },
        "vpcId": {
          "documentation": "<p>The VPC identifier that the endpoint is associated with.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "VpcEndpointList": {
      "member": {
        "shape": "VpcEndpoint"
      },
      "type": "list"
    },
    "VpcSecurityGroupId": {
      "type": "string"
    },
    "VpcSecurityGroupIdList": {
      "member": {
        "shape": "VpcSecurityGroupId"
      },
      "type": "list"
    },
    "VpcSecurityGroupMembership": {
      "documentation": "<p>Describes the members of a VPC security group.</p>",
      "members": {
        "status": {
          "documentation": "<p>The status of the VPC security group.</p>",
          "shape": "String"
        },
        "vpcSecurityGroupId": {
          "documentation": "<p>The unique identifier of the VPC security group.</p>",
          "shape": "VpcSecurityGroupId"
        }
      },
      "type": "structure"
    },
    "VpcSecurityGroupMembershipList": {
      "member": {
        "shape": "VpcSecurityGroupMembership"
      },
      "type": "list"
    },
    "Workgroup": {
      "documentation": "<p>The collection of computing resources from which an endpoint is created.</p>",
      "members": {
        "baseCapacity": {
          "documentation": "<p>The base data warehouse capacity of the workgroup in Redshift Processing Units (RPUs).</p>",
          "shape": "Integer"
        },
        "configParameters": {
          "documentation": "<p>An array of parameters to set for finer control over a database. The options are <code>datestyle</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, and <code>max_query_execution_time</code>.</p>",
          "shape": "ConfigParameterList"
        },
        "creationDate": {
          "documentation": "<p>The creation date of the workgroup.</p>",
          "shape": "SyntheticTimestamp_date_time"
        },
        "endpoint": {
          "documentation": "<p>The endpoint that is created from the workgroup.</p>",
          "shape": "Endpoint"
        },
        "enhancedVpcRouting": {
          "documentation": "<p>The value that specifies whether to enable enhanced virtual private cloud (VPC) routing, which forces Amazon Redshift Serverless to route traffic through your VPC.</p>",
          "shape": "Boolean"
        },
        "namespaceName": {
          "documentation": "<p>The namespace the workgroup is associated with.</p>",
          "shape": "String"
        },
        "publiclyAccessible": {
          "documentation": "<p>A value that specifies whether the workgroup can be accessible from a public network</p>",
          "shape": "Boolean"
        },
        "securityGroupIds": {
          "documentation": "<p>An array of security group IDs to associate with the workgroup.</p>",
          "shape": "SecurityGroupIdList"
        },
        "status": {
          "documentation": "<p>The status of the workgroup.</p>",
          "shape": "WorkgroupStatus"
        },
        "subnetIds": {
          "documentation": "<p>An array of subnet IDs the workgroup is associated with.</p>",
          "shape": "SubnetIdList"
        },
        "workgroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that links to the workgroup.</p>",
          "shape": "String"
        },
        "workgroupId": {
          "documentation": "<p>The unique identifier of the workgroup.</p>",
          "shape": "String"
        },
        "workgroupName": {
          "documentation": "<p>The name of the workgroup.</p>",
          "shape": "WorkgroupName"
        }
      },
      "type": "structure"
    },
    "WorkgroupList": {
      "member": {
        "shape": "Workgroup"
      },
      "type": "list"
    },
    "WorkgroupName": {
      "max": 64,
      "min": 3,
      "pattern": "^[a-z0-9-]+$",
      "type": "string"
    },
    "WorkgroupStatus": {
      "enum": [
        "CREATING",
        "AVAILABLE",
        "MODIFYING",
        "DELETING"
      ],
      "type": "string"
    }
  },
  "version": "2.0"
}
