{
  "documentation": "<p>This reference provides descriptions of the AWS Application Cost Profiler API.</p> <p>The AWS Application Cost Profiler API provides programmatic access to view, create, update, and delete application cost report definitions, as well as to import your usage data into the Application Cost Profiler service.</p> <p>For more information about using this service, see the <a href=\"https://docs.aws.amazon.com/application-cost-profiler/latest/userguide/introduction.html\">AWS Application Cost Profiler User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2020-09-10",
    "endpointPrefix": "application-cost-profiler",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Application Cost Profiler",
    "serviceId": "ApplicationCostProfiler",
    "signatureVersion": "v4",
    "signingName": "application-cost-profiler",
    "uid": "AWSApplicationCostProfiler-2020-09-10"
  },
  "operations": {
    "DeleteReportDefinition": {
      "documentation": "<p>Deletes the specified report definition in AWS Application Cost Profiler. This stops the report from being generated.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/reportDefinition/{reportId}"
      },
      "input": {
        "shape": "DeleteReportDefinitionRequest"
      },
      "name": "DeleteReportDefinition",
      "output": {
        "shape": "DeleteReportDefinitionResult"
      }
    },
    "GetReportDefinition": {
      "documentation": "<p>Retrieves the definition of a report already configured in AWS Application Cost Profiler.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/reportDefinition/{reportId}"
      },
      "input": {
        "shape": "GetReportDefinitionRequest"
      },
      "name": "GetReportDefinition",
      "output": {
        "shape": "GetReportDefinitionResult"
      }
    },
    "ImportApplicationUsage": {
      "documentation": "<p>Ingests application usage data from Amazon Simple Storage Service (Amazon S3).</p> <p>The data must already exist in the S3 location. As part of the action, AWS Application Cost Profiler copies the object from your S3 bucket to an S3 bucket owned by Amazon for processing asynchronously.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/importApplicationUsage"
      },
      "input": {
        "shape": "ImportApplicationUsageRequest"
      },
      "name": "ImportApplicationUsage",
      "output": {
        "shape": "ImportApplicationUsageResult"
      }
    },
    "ListReportDefinitions": {
      "documentation": "<p>Retrieves a list of all reports and their configurations for your AWS account.</p> <p>The maximum number of reports is one.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/reportDefinition"
      },
      "input": {
        "shape": "ListReportDefinitionsRequest"
      },
      "name": "ListReportDefinitions",
      "output": {
        "shape": "ListReportDefinitionsResult"
      }
    },
    "PutReportDefinition": {
      "documentation": "<p>Creates the report definition for a report in Application Cost Profiler.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/reportDefinition"
      },
      "input": {
        "shape": "PutReportDefinitionRequest"
      },
      "name": "PutReportDefinition",
      "output": {
        "shape": "PutReportDefinitionResult"
      }
    },
    "UpdateReportDefinition": {
      "documentation": "<p>Updates existing report in AWS Application Cost Profiler.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/reportDefinition/{reportId}"
      },
      "input": {
        "shape": "UpdateReportDefinitionRequest"
      },
      "name": "UpdateReportDefinition",
      "output": {
        "shape": "UpdateReportDefinitionResult"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have permission to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DeleteReportDefinitionRequest": {
      "members": {
        "reportId": {
          "documentation": "<p>Required. ID of the report to delete.</p>",
          "location": "uri",
          "locationName": "reportId",
          "shape": "ReportId"
        }
      },
      "required": [
        "reportId"
      ],
      "type": "structure"
    },
    "DeleteReportDefinitionResult": {
      "members": {
        "reportId": {
          "documentation": "<p>ID of the report that was deleted.</p>",
          "shape": "ReportId"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Format": {
      "enum": [
        "CSV",
        "PARQUET"
      ],
      "type": "string"
    },
    "GetReportDefinitionRequest": {
      "members": {
        "reportId": {
          "documentation": "<p>ID of the report to retrieve.</p>",
          "location": "uri",
          "locationName": "reportId",
          "shape": "ReportId"
        }
      },
      "required": [
        "reportId"
      ],
      "type": "structure"
    },
    "GetReportDefinitionResult": {
      "members": {
        "createdAt": {
          "documentation": "<p>Timestamp (milliseconds) when this report definition was created.</p>",
          "shape": "Timestamp"
        },
        "destinationS3Location": {
          "documentation": "<p>Amazon Simple Storage Service (Amazon S3) location where the report is uploaded.</p>",
          "shape": "S3Location"
        },
        "format": {
          "documentation": "<p>Format of the generated report.</p>",
          "shape": "Format"
        },
        "lastUpdated": {
          "documentation": "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
          "shape": "Timestamp"
        },
        "reportDescription": {
          "documentation": "<p>Description of the report.</p>",
          "shape": "ReportDescription"
        },
        "reportFrequency": {
          "documentation": "<p>Cadence used to generate the report.</p>",
          "shape": "ReportFrequency"
        },
        "reportId": {
          "documentation": "<p>ID of the report retrieved.</p>",
          "shape": "ReportId"
        }
      },
      "required": [
        "reportId",
        "reportDescription",
        "reportFrequency",
        "format",
        "destinationS3Location",
        "createdAt",
        "lastUpdated"
      ],
      "type": "structure"
    },
    "ImportApplicationUsageRequest": {
      "members": {
        "sourceS3Location": {
          "documentation": "<p>Amazon S3 location to import application usage data from.</p>",
          "shape": "SourceS3Location"
        }
      },
      "required": [
        "sourceS3Location"
      ],
      "type": "structure"
    },
    "ImportApplicationUsageResult": {
      "members": {
        "importId": {
          "documentation": "<p>ID of the import request.</p>",
          "shape": "ImportId"
        }
      },
      "required": [
        "importId"
      ],
      "type": "structure"
    },
    "ImportId": {
      "max": 255,
      "min": 1,
      "pattern": "[0-9A-Za-z\\.\\-_]*",
      "type": "string"
    },
    "Integer": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>An internal server error occurred. Retry your request.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListReportDefinitionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>The token value from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListReportDefinitionsResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The value of the next token, if it exists. Null if there are no more results.</p>",
          "shape": "Token"
        },
        "reportDefinitions": {
          "documentation": "<p>The retrieved reports.</p>",
          "shape": "ReportDefinitionList"
        }
      },
      "type": "structure"
    },
    "PutReportDefinitionRequest": {
      "members": {
        "destinationS3Location": {
          "documentation": "<p>Required. Amazon Simple Storage Service (Amazon S3) location where Application Cost Profiler uploads the report.</p>",
          "shape": "S3Location"
        },
        "format": {
          "documentation": "<p>Required. The format to use for the generated report.</p>",
          "shape": "Format"
        },
        "reportDescription": {
          "documentation": "<p>Required. Description of the report.</p>",
          "shape": "ReportDescription"
        },
        "reportFrequency": {
          "documentation": "<p>Required. The cadence to generate the report.</p>",
          "shape": "ReportFrequency"
        },
        "reportId": {
          "documentation": "<p>Required. ID of the report. You can choose any valid string matching the pattern for the ID.</p>",
          "shape": "ReportId"
        }
      },
      "required": [
        "reportId",
        "reportDescription",
        "reportFrequency",
        "format",
        "destinationS3Location"
      ],
      "type": "structure"
    },
    "PutReportDefinitionResult": {
      "members": {
        "reportId": {
          "documentation": "<p>ID of the report.</p>",
          "shape": "ReportId"
        }
      },
      "type": "structure"
    },
    "ReportDefinition": {
      "documentation": "<p>The configuration of a report in AWS Application Cost Profiler.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>Timestamp (milliseconds) when this report definition was created.</p>",
          "shape": "Timestamp"
        },
        "destinationS3Location": {
          "documentation": "<p>The location in Amazon Simple Storage Service (Amazon S3) the reports should be saved to.</p>",
          "shape": "S3Location"
        },
        "format": {
          "documentation": "<p>The format used for the generated reports.</p>",
          "shape": "Format"
        },
        "lastUpdatedAt": {
          "documentation": "<p>Timestamp (milliseconds) when this report definition was last updated.</p>",
          "shape": "Timestamp"
        },
        "reportDescription": {
          "documentation": "<p>Description of the report</p>",
          "shape": "ReportDescription"
        },
        "reportFrequency": {
          "documentation": "<p>The cadence at which the report is generated.</p>",
          "shape": "ReportFrequency"
        },
        "reportId": {
          "documentation": "<p>The ID of the report.</p>",
          "shape": "ReportId"
        }
      },
      "type": "structure"
    },
    "ReportDefinitionList": {
      "member": {
        "shape": "ReportDefinition"
      },
      "type": "list"
    },
    "ReportDescription": {
      "max": 1024,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "ReportFrequency": {
      "enum": [
        "MONTHLY",
        "DAILY",
        "ALL"
      ],
      "type": "string"
    },
    "ReportId": {
      "max": 255,
      "min": 1,
      "pattern": "^[0-9A-Za-z\\.\\-_]+$",
      "type": "string"
    },
    "S3Bucket": {
      "max": 63,
      "min": 3,
      "pattern": "(?=^.{3,63}$)(?!^(\\d+\\.)+\\d+$)(^(([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])\\.)*([a-z0-9]|[a-z0-9][a-z0-9\\-]*[a-z0-9])$)",
      "type": "string"
    },
    "S3BucketRegion": {
      "enum": [
        "ap-east-1",
        "me-south-1",
        "eu-south-1",
        "af-south-1"
      ],
      "type": "string"
    },
    "S3Key": {
      "max": 512,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "S3Location": {
      "documentation": "<p>Represents the Amazon Simple Storage Service (Amazon S3) location where AWS Application Cost Profiler reports are generated and then written to.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>Name of the S3 bucket.</p>",
          "shape": "S3Bucket"
        },
        "prefix": {
          "documentation": "<p>Prefix for the location to write to.</p>",
          "shape": "S3Prefix"
        }
      },
      "required": [
        "bucket",
        "prefix"
      ],
      "type": "structure"
    },
    "S3Prefix": {
      "max": 512,
      "min": 1,
      "pattern": ".*\\S.*",
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Your request exceeds one or more of the service quotas.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "SourceS3Location": {
      "documentation": "<p>Represents the Amazon Simple Storage Service (Amazon S3) location where usage data is read from.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>Name of the bucket.</p>",
          "shape": "S3Bucket"
        },
        "key": {
          "documentation": "<p>Key of the object.</p>",
          "shape": "S3Key"
        },
        "region": {
          "documentation": "<p>Region of the bucket. Only required for Regions that are disabled by default. For more infomration about Regions that are disabled by default, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\"> Enabling a Region</a> in the <i>AWS General Reference guide</i>.</p>",
          "shape": "S3BucketRegion"
        }
      },
      "required": [
        "bucket",
        "key"
      ],
      "type": "structure"
    },
    "ThrottlingException": {
      "documentation": "<p>The calls to AWS Application Cost Profiler API are throttled. The request was denied.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Token": {
      "max": 102400,
      "min": 1,
      "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
      "type": "string"
    },
    "UpdateReportDefinitionRequest": {
      "members": {
        "destinationS3Location": {
          "documentation": "<p>Required. Amazon Simple Storage Service (Amazon S3) location where Application Cost Profiler uploads the report.</p>",
          "shape": "S3Location"
        },
        "format": {
          "documentation": "<p>Required. The format to use for the generated report.</p>",
          "shape": "Format"
        },
        "reportDescription": {
          "documentation": "<p>Required. Description of the report.</p>",
          "shape": "ReportDescription"
        },
        "reportFrequency": {
          "documentation": "<p>Required. The cadence to generate the report.</p>",
          "shape": "ReportFrequency"
        },
        "reportId": {
          "documentation": "<p>Required. ID of the report to update.</p>",
          "location": "uri",
          "locationName": "reportId",
          "shape": "ReportId"
        }
      },
      "required": [
        "reportId",
        "reportDescription",
        "reportFrequency",
        "format",
        "destinationS3Location"
      ],
      "type": "structure"
    },
    "UpdateReportDefinitionResult": {
      "members": {
        "reportId": {
          "documentation": "<p>ID of the report.</p>",
          "shape": "ReportId"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The input fails to satisfy the constraints for the API.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
