{
  "documentation": "<p>Amazon Personalize is a machine learning service that makes it easy to add individualized recommendations to customers.</p>",
  "metadata": {
    "apiVersion": "2018-05-22",
    "endpointPrefix": "personalize",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Personalize",
    "serviceId": "Personalize",
    "signatureVersion": "v4",
    "signingName": "personalize",
    "targetPrefix": "AmazonPersonalize",
    "uid": "personalize-2018-05-22"
  },
  "operations": {
    "CreateBatchInferenceJob": {
      "documentation": "<p>Creates a batch inference job. The operation can handle up to 50 million records and the input file must be in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/creating-batch-inference-job.html\">Creating a batch inference job</a>. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBatchInferenceJobRequest"
      },
      "name": "CreateBatchInferenceJob",
      "output": {
        "shape": "CreateBatchInferenceJobResponse"
      }
    },
    "CreateBatchSegmentJob": {
      "documentation": "<p>Creates a batch segment job. The operation can handle up to 50 million records and the input file must be in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recommendations-batch.html\">Getting batch recommendations and user segments</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBatchSegmentJobRequest"
      },
      "name": "CreateBatchSegmentJob",
      "output": {
        "shape": "CreateBatchSegmentJobResponse"
      }
    },
    "CreateCampaign": {
      "documentation": "<p>Creates a campaign that deploys a solution version. When a client calls the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> and <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetPersonalizedRanking.html\">GetPersonalizedRanking</a> APIs, a campaign is specified in the request.</p> <p> <b>Minimum Provisioned TPS and Auto-Scaling</b> </p> <p>A transaction is a single <code>GetRecommendations</code> or <code>GetPersonalizedRanking</code> call. Transactions per second (TPS) is the throughput and unit of billing for Amazon Personalize. The minimum provisioned TPS (<code>minProvisionedTPS</code>) specifies the baseline throughput provisioned by Amazon Personalize, and thus, the minimum billing charge. </p> <p> If your TPS increases beyond <code>minProvisionedTPS</code>, Amazon Personalize auto-scales the provisioned capacity up and down, but never below <code>minProvisionedTPS</code>. There's a short time delay while the capacity is increased that might cause loss of transactions.</p> <p>The actual TPS used is calculated as the average requests/second within a 5-minute window. You pay for maximum of either the minimum provisioned TPS or the actual TPS. We recommend starting with a low <code>minProvisionedTPS</code>, track your usage using Amazon CloudWatch metrics, and then increase the <code>minProvisionedTPS</code> as necessary.</p> <p> <b>Status</b> </p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the campaign status, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a>.</p> <note> <p>Wait until the <code>status</code> of the campaign is <code>ACTIVE</code> before asking the campaign for recommendations.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListCampaigns.html\">ListCampaigns</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UpdateCampaign.html\">UpdateCampaign</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteCampaign.html\">DeleteCampaign</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateCampaignRequest"
      },
      "name": "CreateCampaign",
      "output": {
        "shape": "CreateCampaignResponse"
      }
    },
    "CreateDataset": {
      "documentation": "<p>Creates an empty dataset and adds it to the specified dataset group. Use <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetImportJob.html\">CreateDatasetImportJob</a> to import your training data to a dataset.</p> <p>There are three types of datasets:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p>Each dataset type has an associated schema with required field types. Only the <code>Interactions</code> dataset is required in order to train a model (also referred to as creating a solution).</p> <p>A dataset can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the dataset, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDataset.html\">DescribeDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetGroup.html\">CreateDatasetGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListDatasets.html\">ListDatasets</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDataset.html\">DescribeDataset</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteDataset.html\">DeleteDataset</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateDatasetExportJob": {
      "documentation": "<p> Creates a job that exports data from your dataset to an Amazon S3 bucket. To allow Amazon Personalize to export the training data, you must specify an service-linked IAM role that gives Amazon Personalize <code>PutObject</code> permissions for your Amazon S3 bucket. For information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/export-data.html\">Exporting a dataset</a> in the Amazon Personalize developer guide. </p> <p> <b>Status</b> </p> <p>A dataset export job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p> To get the status of the export job, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetExportJob.html\">DescribeDatasetExportJob</a>, and specify the Amazon Resource Name (ARN) of the dataset export job. The dataset export is complete when the status shows as ACTIVE. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateDatasetExportJobRequest"
      },
      "name": "CreateDatasetExportJob",
      "output": {
        "shape": "CreateDatasetExportJobResponse"
      }
    },
    "CreateDatasetGroup": {
      "documentation": "<p>Creates an empty dataset group. A dataset group is a container for Amazon Personalize resources. A dataset group can contain at most three datasets, one for each type of dataset:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p> A dataset group can be a Domain dataset group, where you specify a domain and use pre-configured resources like recommenders, or a Custom dataset group, where you use custom resources, such as a solution with a solution version, that you deploy with a campaign. If you start with a Domain dataset group, you can still add custom resources such as solutions and solution versions trained with recipes for custom use cases and deployed with campaigns. </p> <p>A dataset group can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING</p> </li> </ul> <p>To get the status of the dataset group, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetGroup.html\">DescribeDatasetGroup</a>. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the creation failed.</p> <note> <p>You must wait until the <code>status</code> of the dataset group is <code>ACTIVE</code> before adding a dataset to the group.</p> </note> <p>You can specify an Key Management Service (KMS) key to encrypt the datasets in the group. If you specify a KMS key, you must also include an Identity and Access Management (IAM) role that has permission to access the key.</p> <p class=\"title\"> <b>APIs that require a dataset group ARN in the request</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html\">CreateEventTracker</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a> </p> </li> </ul> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListDatasetGroups.html\">ListDatasetGroups</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetGroup.html\">DescribeDatasetGroup</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteDatasetGroup.html\">DeleteDatasetGroup</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetGroupRequest"
      },
      "name": "CreateDatasetGroup",
      "output": {
        "shape": "CreateDatasetGroupResponse"
      }
    },
    "CreateDatasetImportJob": {
      "documentation": "<p>Creates a job that imports training data from your data source (an Amazon S3 bucket) to an Amazon Personalize dataset. To allow Amazon Personalize to import the training data, you must specify an IAM service role that has permission to read from the data source, as Amazon Personalize makes a copy of your data and processes it internally. For information on granting access to your Amazon S3 bucket, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/granting-personalize-s3-access.html\">Giving Amazon Personalize Access to Amazon S3 Resources</a>. </p> <important> <p>By default, a dataset import job replaces any existing data in the dataset that you imported in bulk. To add new records without replacing existing data, specify INCREMENTAL for the import mode in the CreateDatasetImportJob operation.</p> </important> <p> <b>Status</b> </p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p>To get the status of the import job, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetImportJob.html\">DescribeDatasetImportJob</a>, providing the Amazon Resource Name (ARN) of the dataset import job. The dataset import is complete when the status shows as ACTIVE. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <note> <p>Importing takes time. You must wait until the status shows as ACTIVE before training a model using the dataset.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListDatasetImportJobs.html\">ListDatasetImportJobs</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetImportJob.html\">DescribeDatasetImportJob</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetImportJobRequest"
      },
      "name": "CreateDatasetImportJob",
      "output": {
        "shape": "CreateDatasetImportJobResponse"
      }
    },
    "CreateEventTracker": {
      "documentation": "<p>Creates an event tracker that you use when adding event data to a specified dataset group using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p> <note> <p>Only one event tracker can be associated with a dataset group. You will get an error if you call <code>CreateEventTracker</code> using the same dataset group as an existing event tracker.</p> </note> <p>When you create an event tracker, the response includes a tracking ID, which you pass as a parameter when you use the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> operation. Amazon Personalize then appends the event data to the Interactions dataset of the dataset group you specify in your event tracker. </p> <p>The event tracker can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the event tracker, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeEventTracker.html\">DescribeEventTracker</a>.</p> <note> <p>The event tracker must be in the ACTIVE state before using the tracking ID.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListEventTrackers.html\">ListEventTrackers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeEventTracker.html\">DescribeEventTracker</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteEventTracker.html\">DeleteEventTracker</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEventTrackerRequest"
      },
      "name": "CreateEventTracker",
      "output": {
        "shape": "CreateEventTrackerResponse"
      }
    },
    "CreateFilter": {
      "documentation": "<p>Creates a recommendation filter. For more information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFilterRequest"
      },
      "name": "CreateFilter",
      "output": {
        "shape": "CreateFilterResponse"
      }
    },
    "CreateRecommender": {
      "documentation": "<p>Creates a recommender with the recipe (a Domain dataset group use case) you specify. You create recommenders for a Domain dataset group and specify the recommender's Amazon Resource Name (ARN) when you make a <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> request. </p> <p> <b>Minimum recommendation requests per second</b> </p> <p>When you create a recommender, you can configure the recommender's minimum recommendation requests per second. The minimum recommendation requests per second (<code>minRecommendationRequestsPerSecond</code>) specifies the baseline recommendation request throughput provisioned by Amazon Personalize. The default minRecommendationRequestsPerSecond is <code>1</code>. A recommendation request is a single <code>GetRecommendations</code> operation. Request throughput is measured in requests per second and Amazon Personalize uses your requests per second to derive your requests per hour and the price of your recommender usage. </p> <p> If your requests per second increases beyond <code>minRecommendationRequestsPerSecond</code>, Amazon Personalize auto-scales the provisioned capacity up and down, but never below <code>minRecommendationRequestsPerSecond</code>. There's a short time delay while the capacity is increased that might cause loss of requests.</p> <p> Your bill is the greater of either the minimum requests per hour (based on minRecommendationRequestsPerSecond) or the actual number of requests. The actual request throughput used is calculated as the average requests/second within a one-hour window. We recommend starting with the default <code>minRecommendationRequestsPerSecond</code>, track your usage using Amazon CloudWatch metrics, and then increase the <code>minRecommendationRequestsPerSecond</code> as necessary. </p> <p> <b>Status</b> </p> <p>A recommender can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>STOP PENDING &gt; STOP IN_PROGRESS &gt; INACTIVE &gt; START PENDING &gt; START IN_PROGRESS &gt; ACTIVE</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the recommender status, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeRecommender.html\">DescribeRecommender</a>.</p> <note> <p>Wait until the <code>status</code> of the recommender is <code>ACTIVE</code> before asking the recommender for recommendations.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListRecommenders.html\">ListRecommenders</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeRecommender.html\">DescribeRecommender</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UpdateRecommender.html\">UpdateRecommender</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteRecommender.html\">DeleteRecommender</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRecommenderRequest"
      },
      "name": "CreateRecommender",
      "output": {
        "shape": "CreateRecommenderResponse"
      }
    },
    "CreateSchema": {
      "documentation": "<p>Creates an Amazon Personalize schema from the specified schema string. The schema you create must be in Avro JSON format.</p> <p>Amazon Personalize recognizes three schema variants. Each schema is associated with a dataset type and has a set of required field and keywords. If you are creating a schema for a dataset in a Domain dataset group, you provide the domain of the Domain dataset group. You specify a schema when you call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListSchemas.html\">ListSchemas</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSchema.html\">DescribeSchema</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteSchema.html\">DeleteSchema</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateSchemaRequest"
      },
      "name": "CreateSchema",
      "output": {
        "shape": "CreateSchemaResponse"
      }
    },
    "CreateSolution": {
      "documentation": "<p>Creates the configuration for training a model. A trained model is known as a solution. After the configuration is created, you train the model (create a solution) by calling the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolutionVersion.html\">CreateSolutionVersion</a> operation. Every time you call <code>CreateSolutionVersion</code>, a new version of the solution is created.</p> <p>After creating a solution version, you check its accuracy by calling <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_GetSolutionMetrics.html\">GetSolutionMetrics</a>. When you are satisfied with the version, you deploy it using <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>. The campaign provides recommendations to a client through the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p> <p>To train a model, Amazon Personalize requires training data and a recipe. The training data comes from the dataset group that you provide in the request. A recipe specifies the training algorithm and a feature transformation. You can specify one of the predefined recipes provided by Amazon Personalize. Alternatively, you can specify <code>performAutoML</code> and Amazon Personalize will analyze your data and select the optimum USER_PERSONALIZATION recipe for you.</p> <note> <p>Amazon Personalize doesn't support configuring the <code>hpoObjective</code> for solution hyperparameter optimization at this time.</p> </note> <p> <b>Status</b> </p> <p>A solution can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the solution, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolution.html\">DescribeSolution</a>. Wait until the status shows as ACTIVE before calling <code>CreateSolutionVersion</code>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListSolutions.html\">ListSolutions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolutionVersion.html\">CreateSolutionVersion</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolution.html\">DescribeSolution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteSolution.html\">DeleteSolution</a> </p> </li> </ul> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListSolutionVersions.html\">ListSolutionVersions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolutionVersion.html\">DescribeSolutionVersion</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSolutionRequest"
      },
      "name": "CreateSolution",
      "output": {
        "shape": "CreateSolutionResponse"
      }
    },
    "CreateSolutionVersion": {
      "documentation": "<p>Trains or retrains an active solution in a Custom dataset group. A solution is created using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a> operation and must be in the ACTIVE state before calling <code>CreateSolutionVersion</code>. A new version of the solution is created every time you call this operation.</p> <p> <b>Status</b> </p> <p>A solution version can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING</p> </li> <li> <p>CREATE IN_PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> <li> <p>CREATE STOPPING</p> </li> <li> <p>CREATE STOPPED</p> </li> </ul> <p>To get the status of the version, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolutionVersion.html\">DescribeSolutionVersion</a>. Wait until the status shows as ACTIVE before calling <code>CreateCampaign</code>.</p> <p>If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListSolutionVersions.html\">ListSolutionVersions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolutionVersion.html\">DescribeSolutionVersion</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListSolutions.html\">ListSolutions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeSolution.html\">DescribeSolution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteSolution.html\">DeleteSolution</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSolutionVersionRequest"
      },
      "name": "CreateSolutionVersion",
      "output": {
        "shape": "CreateSolutionVersionResponse"
      }
    },
    "DeleteCampaign": {
      "documentation": "<p>Removes a campaign by deleting the solution deployment. The solution that the campaign is based on is not deleted and can be redeployed when needed. A deleted campaign can no longer be specified in a <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> request. For information on creating campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteCampaignRequest"
      },
      "name": "DeleteCampaign"
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes a dataset. You can't delete a dataset if an associated <code>DatasetImportJob</code> or <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on datasets, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset"
    },
    "DeleteDatasetGroup": {
      "documentation": "<p>Deletes a dataset group. Before you delete a dataset group, you must delete the following:</p> <ul> <li> <p>All associated event trackers.</p> </li> <li> <p>All associated solutions.</p> </li> <li> <p>All datasets in the dataset group.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetGroupRequest"
      },
      "name": "DeleteDatasetGroup"
    },
    "DeleteEventTracker": {
      "documentation": "<p>Deletes the event tracker. Does not delete the event-interactions dataset from the associated dataset group. For more information on event trackers, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html\">CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEventTrackerRequest"
      },
      "name": "DeleteEventTracker"
    },
    "DeleteFilter": {
      "documentation": "<p>Deletes a filter.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFilterRequest"
      },
      "name": "DeleteFilter"
    },
    "DeleteRecommender": {
      "documentation": "<p>Deactivates and removes a recommender. A deleted recommender can no longer be specified in a <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> request.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRecommenderRequest"
      },
      "name": "DeleteRecommender"
    },
    "DeleteSchema": {
      "documentation": "<p>Deletes a schema. Before deleting a schema, you must delete all datasets referencing the schema. For more information on schemas, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSchema.html\">CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSchemaRequest"
      },
      "name": "DeleteSchema"
    },
    "DeleteSolution": {
      "documentation": "<p>Deletes all versions of a solution and the <code>Solution</code> object itself. Before deleting a solution, you must delete all campaigns based on the solution. To determine what campaigns are using the solution, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListCampaigns.html\">ListCampaigns</a> and supply the Amazon Resource Name (ARN) of the solution. You can't delete a solution if an associated <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on solutions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSolutionRequest"
      },
      "name": "DeleteSolution"
    },
    "DescribeAlgorithm": {
      "documentation": "<p>Describes the given algorithm.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeAlgorithmRequest"
      },
      "name": "DescribeAlgorithm",
      "output": {
        "shape": "DescribeAlgorithmResponse"
      }
    },
    "DescribeBatchInferenceJob": {
      "documentation": "<p>Gets the properties of a batch inference job including name, Amazon Resource Name (ARN), status, input and output configurations, and the ARN of the solution version used to generate the recommendations.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBatchInferenceJobRequest"
      },
      "name": "DescribeBatchInferenceJob",
      "output": {
        "shape": "DescribeBatchInferenceJobResponse"
      }
    },
    "DescribeBatchSegmentJob": {
      "documentation": "<p>Gets the properties of a batch segment job including name, Amazon Resource Name (ARN), status, input and output configurations, and the ARN of the solution version used to generate segments.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBatchSegmentJobRequest"
      },
      "name": "DescribeBatchSegmentJob",
      "output": {
        "shape": "DescribeBatchSegmentJobResponse"
      }
    },
    "DescribeCampaign": {
      "documentation": "<p>Describes the given campaign, including its status.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>When the <code>status</code> is <code>CREATE FAILED</code>, the response includes the <code>failureReason</code> key, which describes why.</p> <p>For more information on campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeCampaignRequest"
      },
      "name": "DescribeCampaign",
      "output": {
        "shape": "DescribeCampaignResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Describes the given dataset. For more information on datasets, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeDatasetExportJob": {
      "documentation": "<p>Describes the dataset export job created by <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetExportJob.html\">CreateDatasetExportJob</a>, including the export job status.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetExportJobRequest"
      },
      "name": "DescribeDatasetExportJob",
      "output": {
        "shape": "DescribeDatasetExportJobResponse"
      }
    },
    "DescribeDatasetGroup": {
      "documentation": "<p>Describes the given dataset group. For more information on dataset groups, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetGroup.html\">CreateDatasetGroup</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetGroupRequest"
      },
      "name": "DescribeDatasetGroup",
      "output": {
        "shape": "DescribeDatasetGroupResponse"
      }
    },
    "DescribeDatasetImportJob": {
      "documentation": "<p>Describes the dataset import job created by <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetImportJob.html\">CreateDatasetImportJob</a>, including the import job status.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetImportJobRequest"
      },
      "name": "DescribeDatasetImportJob",
      "output": {
        "shape": "DescribeDatasetImportJobResponse"
      }
    },
    "DescribeEventTracker": {
      "documentation": "<p>Describes an event tracker. The response includes the <code>trackingId</code> and <code>status</code> of the event tracker. For more information on event trackers, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html\">CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventTrackerRequest"
      },
      "name": "DescribeEventTracker",
      "output": {
        "shape": "DescribeEventTrackerResponse"
      }
    },
    "DescribeFeatureTransformation": {
      "documentation": "<p>Describes the given feature transformation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeFeatureTransformationRequest"
      },
      "name": "DescribeFeatureTransformation",
      "output": {
        "shape": "DescribeFeatureTransformationResponse"
      }
    },
    "DescribeFilter": {
      "documentation": "<p>Describes a filter's properties.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeFilterRequest"
      },
      "name": "DescribeFilter",
      "output": {
        "shape": "DescribeFilterResponse"
      }
    },
    "DescribeRecipe": {
      "documentation": "<p>Describes a recipe.</p> <p>A recipe contains three items:</p> <ul> <li> <p>An algorithm that trains a model.</p> </li> <li> <p>Hyperparameters that govern the training.</p> </li> <li> <p>Feature transformation information for modifying the input data before training.</p> </li> </ul> <p>Amazon Personalize provides a set of predefined recipes. You specify a recipe when you create a solution with the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a> API. <code>CreateSolution</code> trains a model by using the algorithm in the specified recipe and a training dataset. The solution, when deployed as a campaign, can provide recommendations using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRecipeRequest"
      },
      "name": "DescribeRecipe",
      "output": {
        "shape": "DescribeRecipeResponse"
      }
    },
    "DescribeRecommender": {
      "documentation": "<p>Describes the given recommender, including its status.</p> <p>A recommender can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>STOP PENDING &gt; STOP IN_PROGRESS &gt; INACTIVE &gt; START PENDING &gt; START IN_PROGRESS &gt; ACTIVE</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>When the <code>status</code> is <code>CREATE FAILED</code>, the response includes the <code>failureReason</code> key, which describes why.</p> <p>The <code>modelMetrics</code> key is null when the recommender is being created or deleted.</p> <p>For more information on recommenders, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateRecommender.html\">CreateRecommender</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRecommenderRequest"
      },
      "name": "DescribeRecommender",
      "output": {
        "shape": "DescribeRecommenderResponse"
      }
    },
    "DescribeSchema": {
      "documentation": "<p>Describes a schema. For more information on schemas, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSchema.html\">CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSchemaRequest"
      },
      "name": "DescribeSchema",
      "output": {
        "shape": "DescribeSchemaResponse"
      }
    },
    "DescribeSolution": {
      "documentation": "<p>Describes a solution. For more information on solutions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSolutionRequest"
      },
      "name": "DescribeSolution",
      "output": {
        "shape": "DescribeSolutionResponse"
      }
    },
    "DescribeSolutionVersion": {
      "documentation": "<p>Describes a specific version of a solution. For more information on solutions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a> </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSolutionVersionRequest"
      },
      "name": "DescribeSolutionVersion",
      "output": {
        "shape": "DescribeSolutionVersionResponse"
      }
    },
    "GetSolutionMetrics": {
      "documentation": "<p>Gets the metrics for the specified solution version.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSolutionMetricsRequest"
      },
      "name": "GetSolutionMetrics",
      "output": {
        "shape": "GetSolutionMetricsResponse"
      }
    },
    "ListBatchInferenceJobs": {
      "documentation": "<p>Gets a list of the batch inference jobs that have been performed off of a solution version.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBatchInferenceJobsRequest"
      },
      "name": "ListBatchInferenceJobs",
      "output": {
        "shape": "ListBatchInferenceJobsResponse"
      }
    },
    "ListBatchSegmentJobs": {
      "documentation": "<p>Gets a list of the batch segment jobs that have been performed off of a solution version that you specify.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBatchSegmentJobsRequest"
      },
      "name": "ListBatchSegmentJobs",
      "output": {
        "shape": "ListBatchSegmentJobsResponse"
      }
    },
    "ListCampaigns": {
      "documentation": "<p>Returns a list of campaigns that use the given solution. When a solution is not specified, all the campaigns associated with the account are listed. The response provides the properties for each campaign, including the Amazon Resource Name (ARN). For more information on campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListCampaignsRequest"
      },
      "name": "ListCampaigns",
      "output": {
        "shape": "ListCampaignsResponse"
      }
    },
    "ListDatasetExportJobs": {
      "documentation": "<p>Returns a list of dataset export jobs that use the given dataset. When a dataset is not specified, all the dataset export jobs associated with the account are listed. The response provides the properties for each dataset export job, including the Amazon Resource Name (ARN). For more information on dataset export jobs, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetExportJob.html\">CreateDatasetExportJob</a>. For more information on datasets, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetExportJobsRequest"
      },
      "name": "ListDatasetExportJobs",
      "output": {
        "shape": "ListDatasetExportJobsResponse"
      }
    },
    "ListDatasetGroups": {
      "documentation": "<p>Returns a list of dataset groups. The response provides the properties for each dataset group, including the Amazon Resource Name (ARN). For more information on dataset groups, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetGroup.html\">CreateDatasetGroup</a>.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetGroupsRequest"
      },
      "name": "ListDatasetGroups",
      "output": {
        "shape": "ListDatasetGroupsResponse"
      }
    },
    "ListDatasetImportJobs": {
      "documentation": "<p>Returns a list of dataset import jobs that use the given dataset. When a dataset is not specified, all the dataset import jobs associated with the account are listed. The response provides the properties for each dataset import job, including the Amazon Resource Name (ARN). For more information on dataset import jobs, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetImportJob.html\">CreateDatasetImportJob</a>. For more information on datasets, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetImportJobsRequest"
      },
      "name": "ListDatasetImportJobs",
      "output": {
        "shape": "ListDatasetImportJobsResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Returns the list of datasets contained in the given dataset group. The response provides the properties for each dataset, including the Amazon Resource Name (ARN). For more information on datasets, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDataset.html\">CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "shape": "ListDatasetsResponse"
      }
    },
    "ListEventTrackers": {
      "documentation": "<p>Returns the list of event trackers associated with the account. The response provides the properties for each event tracker, including the Amazon Resource Name (ARN) and tracking ID. For more information on event trackers, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateEventTracker.html\">CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListEventTrackersRequest"
      },
      "name": "ListEventTrackers",
      "output": {
        "shape": "ListEventTrackersResponse"
      }
    },
    "ListFilters": {
      "documentation": "<p>Lists all filters that belong to a given dataset group.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListFiltersRequest"
      },
      "name": "ListFilters",
      "output": {
        "shape": "ListFiltersResponse"
      }
    },
    "ListRecipes": {
      "documentation": "<p>Returns a list of available recipes. The response provides the properties for each recipe, including the recipe's Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecipesRequest"
      },
      "name": "ListRecipes",
      "output": {
        "shape": "ListRecipesResponse"
      }
    },
    "ListRecommenders": {
      "documentation": "<p>Returns a list of recommenders in a given Domain dataset group. When a Domain dataset group is not specified, all the recommenders associated with the account are listed. The response provides the properties for each recommender, including the Amazon Resource Name (ARN). For more information on recommenders, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateRecommender.html\">CreateRecommender</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecommendersRequest"
      },
      "name": "ListRecommenders",
      "output": {
        "shape": "ListRecommendersResponse"
      }
    },
    "ListSchemas": {
      "documentation": "<p>Returns the list of schemas associated with the account. The response provides the properties for each schema, including the Amazon Resource Name (ARN). For more information on schemas, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSchema.html\">CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSchemasRequest"
      },
      "name": "ListSchemas",
      "output": {
        "shape": "ListSchemasResponse"
      }
    },
    "ListSolutionVersions": {
      "documentation": "<p>Returns a list of solution versions for the given solution. When a solution is not specified, all the solution versions associated with the account are listed. The response provides the properties for each solution version, including the Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSolutionVersionsRequest"
      },
      "name": "ListSolutionVersions",
      "output": {
        "shape": "ListSolutionVersionsResponse"
      }
    },
    "ListSolutions": {
      "documentation": "<p>Returns a list of solutions that use the given dataset group. When a dataset group is not specified, all the solutions associated with the account are listed. The response provides the properties for each solution, including the Amazon Resource Name (ARN). For more information on solutions, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSolutionsRequest"
      },
      "name": "ListSolutions",
      "output": {
        "shape": "ListSolutionsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Get a list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> attached to a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartRecommender": {
      "documentation": "<p>Starts a recommender that is INACTIVE. Starting a recommender does not create any new models, but resumes billing and automatic retraining for the recommender.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartRecommenderRequest"
      },
      "name": "StartRecommender",
      "output": {
        "shape": "StartRecommenderResponse"
      }
    },
    "StopRecommender": {
      "documentation": "<p>Stops a recommender that is ACTIVE. Stopping a recommender halts billing and automatic retraining for the recommender.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StopRecommenderRequest"
      },
      "name": "StopRecommender",
      "output": {
        "shape": "StopRecommenderResponse"
      }
    },
    "StopSolutionVersionCreation": {
      "documentation": "<p>Stops creating a solution version that is in a state of CREATE_PENDING or CREATE IN_PROGRESS. </p> <p>Depending on the current state of the solution version, the solution version state changes as follows:</p> <ul> <li> <p>CREATE_PENDING &gt; CREATE_STOPPED</p> <p>or</p> </li> <li> <p>CREATE_IN_PROGRESS &gt; CREATE_STOPPING &gt; CREATE_STOPPED</p> </li> </ul> <p>You are billed for all of the training completed up until you stop the solution version creation. You cannot resume creating a solution version once it has been stopped.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StopSolutionVersionCreationRequest"
      },
      "name": "StopSolutionVersionCreation"
    },
    "TagResource": {
      "documentation": "<p>Add a list of tags to a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> that are attached to a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagKeysException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateCampaign": {
      "documentation": "<p>Updates a campaign by either deploying a new solution or changing the value of the campaign's <code>minProvisionedTPS</code> parameter.</p> <p>To update a campaign, the campaign status must be ACTIVE or CREATE FAILED. Check the campaign status using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> operation.</p> <note> <p>You can still get recommendations from a campaign while an update is in progress. The campaign will use the previous solution version and campaign configuration to generate recommendations until the latest campaign update status is <code>Active</code>. </p> </note> <p>For more information on campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateCampaignRequest"
      },
      "name": "UpdateCampaign",
      "output": {
        "shape": "UpdateCampaignResponse"
      }
    },
    "UpdateRecommender": {
      "documentation": "<p>Updates the recommender to modify the recommender configuration.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRecommenderRequest"
      },
      "name": "UpdateRecommender",
      "output": {
        "shape": "UpdateRecommenderResponse"
      }
    }
  },
  "shapes": {
    "AccountId": {
      "max": 256,
      "type": "string"
    },
    "Algorithm": {
      "documentation": "<p>Describes a custom algorithm.</p>",
      "members": {
        "algorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>",
          "shape": "Arn"
        },
        "algorithmImage": {
          "documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
          "shape": "AlgorithmImage"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the algorithm was created.</p>",
          "shape": "Date"
        },
        "defaultHyperParameterRanges": {
          "documentation": "<p>Specifies the default hyperparameters, their ranges, and whether they are tunable. A tunable hyperparameter can have its value determined during hyperparameter optimization (HPO).</p>",
          "shape": "DefaultHyperParameterRanges"
        },
        "defaultHyperParameters": {
          "documentation": "<p>Specifies the default hyperparameters.</p>",
          "shape": "HyperParameters"
        },
        "defaultResourceConfig": {
          "documentation": "<p>Specifies the default maximum number of training jobs and parallel training jobs.</p>",
          "shape": "ResourceConfig"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the algorithm was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the algorithm.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role.</p>",
          "shape": "Arn"
        },
        "trainingInputMode": {
          "documentation": "<p>The training input mode.</p>",
          "shape": "TrainingInputMode"
        }
      },
      "type": "structure"
    },
    "AlgorithmImage": {
      "documentation": "<p>Describes an algorithm image.</p>",
      "members": {
        "dockerURI": {
          "documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
          "shape": "DockerURI"
        },
        "name": {
          "documentation": "<p>The name of the algorithm image.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "dockerURI"
      ],
      "type": "structure"
    },
    "Arn": {
      "max": 256,
      "pattern": "arn:([a-z\\d-]+):personalize:.*:.*:.+",
      "type": "string"
    },
    "ArnList": {
      "max": 100,
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AutoMLConfig": {
      "documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>), Amazon Personalize determines which recipe, from the specified list, optimizes the given metric. Amazon Personalize then uses that recipe for the solution.</p>",
      "members": {
        "metricName": {
          "documentation": "<p>The metric to optimize.</p>",
          "shape": "MetricName"
        },
        "recipeList": {
          "documentation": "<p>The list of candidate recipes.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "AutoMLResult": {
      "documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>), specifies the recipe that best optimized the specified metric.</p>",
      "members": {
        "bestRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the best recipe.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "AvroSchema": {
      "max": 10000,
      "type": "string"
    },
    "BatchInferenceJob": {
      "documentation": "<p>Contains information on a batch inference job.</p>",
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>",
          "shape": "Arn"
        },
        "batchInferenceJobConfig": {
          "documentation": "<p>A string to string map of the configuration details of a batch inference job.</p>",
          "shape": "BatchInferenceJobConfig"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch inference job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch inference job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "filterArn": {
          "documentation": "<p>The ARN of the filter used on the batch inference job.</p>",
          "shape": "Arn"
        },
        "jobInput": {
          "documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch inference job.</p>",
          "shape": "BatchInferenceJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch inference job.</p>",
          "shape": "BatchInferenceJobOutput"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch inference job was last updated.</p>",
          "shape": "Date"
        },
        "numResults": {
          "documentation": "<p>The number of recommendations generated by the batch inference job. This number includes the error messages generated for failed input records.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch inference job.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version from which the batch inference job was created.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch inference job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchInferenceJobConfig": {
      "documentation": "<p>The configuration details of a batch inference job.</p>",
      "members": {
        "itemExplorationConfig": {
          "documentation": "<p>A string to string map specifying the exploration configuration hyperparameters, including <code>explorationWeight</code> and <code>explorationItemAgeCutOff</code>, you want to use to configure the amount of item exploration Amazon Personalize uses when recommending items. See <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/native-recipe-new-item-USER_PERSONALIZATION.html\">User-Personalization</a>.</p>",
          "shape": "HyperParameters"
        }
      },
      "type": "structure"
    },
    "BatchInferenceJobInput": {
      "documentation": "<p>The input configuration of a batch inference job.</p>",
      "members": {
        "s3DataSource": {
          "documentation": "<p>The URI of the Amazon S3 location that contains your input data. The Amazon S3 bucket must be in the same region as the API endpoint you are calling.</p>",
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataSource"
      ],
      "type": "structure"
    },
    "BatchInferenceJobOutput": {
      "documentation": "<p>The output configuration parameters of a batch inference job.</p>",
      "members": {
        "s3DataDestination": {
          "documentation": "<p>Information on the Amazon S3 bucket in which the batch inference job's output is stored.</p>",
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataDestination"
      ],
      "type": "structure"
    },
    "BatchInferenceJobSummary": {
      "documentation": "<p>A truncated version of the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_BatchInferenceJob.html\">BatchInferenceJob</a>. The <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListBatchInferenceJobs.html\">ListBatchInferenceJobs</a> operation returns a list of batch inference job summaries.</p>",
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch inference job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch inference job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job.</p>",
          "shape": "Name"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch inference job was last updated.</p>",
          "shape": "Date"
        },
        "solutionVersionArn": {
          "documentation": "<p>The ARN of the solution version used by the batch inference job.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch inference job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchInferenceJobs": {
      "max": 100,
      "member": {
        "shape": "BatchInferenceJobSummary"
      },
      "type": "list"
    },
    "BatchSegmentJob": {
      "documentation": "<p>Contains information on a batch segment job.</p>",
      "members": {
        "batchSegmentJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch segment job.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch segment job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch segment job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "filterArn": {
          "documentation": "<p>The ARN of the filter used on the batch segment job.</p>",
          "shape": "Arn"
        },
        "jobInput": {
          "documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch segment job.</p>",
          "shape": "BatchSegmentJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch segment job.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch segment job.</p>",
          "shape": "BatchSegmentJobOutput"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch segment job last updated.</p>",
          "shape": "Date"
        },
        "numResults": {
          "documentation": "<p>The number of predicted users generated by the batch segment job for each line of input data.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch segment job.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version used by the batch segment job to generate batch segments.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch segment job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchSegmentJobInput": {
      "documentation": "<p>The input configuration of a batch segment job.</p>",
      "members": {
        "s3DataSource": {
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataSource"
      ],
      "type": "structure"
    },
    "BatchSegmentJobOutput": {
      "documentation": "<p>The output configuration parameters of a batch segment job.</p>",
      "members": {
        "s3DataDestination": {
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataDestination"
      ],
      "type": "structure"
    },
    "BatchSegmentJobSummary": {
      "documentation": "<p>A truncated version of the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_BatchSegmentJob.html\">BatchSegmentJob</a> datatype. <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListBatchSegmentJobs.html\">ListBatchSegmentJobs</a> operation returns a list of batch segment job summaries.</p>",
      "members": {
        "batchSegmentJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch segment job.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch segment job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch segment job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "jobName": {
          "documentation": "<p>The name of the batch segment job.</p>",
          "shape": "Name"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch segment job was last updated.</p>",
          "shape": "Date"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version used by the batch segment job to generate batch segments.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch segment job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchSegmentJobs": {
      "max": 100,
      "member": {
        "shape": "BatchSegmentJobSummary"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Campaign": {
      "documentation": "<p>An object that describes the deployment of a solution version. For more information on campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>",
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign. </p>",
          "shape": "Arn"
        },
        "campaignConfig": {
          "documentation": "<p>The configuration details of a campaign.</p>",
          "shape": "CampaignConfig"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix format) that the campaign was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix format) that the campaign was last updated.</p>",
          "shape": "Date"
        },
        "latestCampaignUpdate": {
          "shape": "CampaignUpdateSummary"
        },
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second.</p>",
          "shape": "TransactionsPerSecond"
        },
        "name": {
          "documentation": "<p>The name of the campaign.</p>",
          "shape": "Name"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a specific version of the solution.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the campaign.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CampaignConfig": {
      "documentation": "<p>The configuration details of a campaign.</p>",
      "members": {
        "itemExplorationConfig": {
          "documentation": "<p>Specifies the exploration configuration hyperparameters, including <code>explorationWeight</code> and <code>explorationItemAgeCutOff</code>, you want to use to configure the amount of item exploration Amazon Personalize uses when recommending items. Provide <code>itemExplorationConfig</code> data only if your solution uses the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/native-recipe-new-item-USER_PERSONALIZATION.html\">User-Personalization</a> recipe.</p>",
          "shape": "HyperParameters"
        }
      },
      "type": "structure"
    },
    "CampaignSummary": {
      "documentation": "<p>Provides a summary of the properties of a campaign. For a complete listing, call the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> API.</p>",
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the campaign.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the campaign.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CampaignUpdateSummary": {
      "documentation": "<p>Provides a summary of the properties of a campaign update. For a complete listing, call the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> API.</p>",
      "members": {
        "campaignConfig": {
          "shape": "CampaignConfig"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign update was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign update fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign update was last updated.</p>",
          "shape": "Date"
        },
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that Amazon Personalize will support.</p>",
          "shape": "TransactionsPerSecond"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployed solution version.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the campaign update.</p> <p>A campaign update can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "Campaigns": {
      "max": 100,
      "member": {
        "shape": "CampaignSummary"
      },
      "type": "list"
    },
    "CategoricalHyperParameterRange": {
      "documentation": "<p>Provides the name and range of a categorical hyperparameter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        },
        "values": {
          "documentation": "<p>A list of the categories for the hyperparameter.</p>",
          "shape": "CategoricalValues"
        }
      },
      "type": "structure"
    },
    "CategoricalHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "CategoricalHyperParameterRange"
      },
      "type": "list"
    },
    "CategoricalValue": {
      "max": 1000,
      "type": "string"
    },
    "CategoricalValues": {
      "max": 100,
      "member": {
        "shape": "CategoricalValue"
      },
      "type": "list"
    },
    "ContinuousHyperParameterRange": {
      "documentation": "<p>Provides the name and range of a continuous hyperparameter.</p>",
      "members": {
        "maxValue": {
          "documentation": "<p>The maximum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMaxValue"
        },
        "minValue": {
          "documentation": "<p>The minimum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMinValue"
        },
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        }
      },
      "type": "structure"
    },
    "ContinuousHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "ContinuousHyperParameterRange"
      },
      "type": "list"
    },
    "ContinuousMaxValue": {
      "min": -1000000,
      "type": "double"
    },
    "ContinuousMinValue": {
      "min": -1000000,
      "type": "double"
    },
    "CreateBatchInferenceJobRequest": {
      "members": {
        "batchInferenceJobConfig": {
          "documentation": "<p>The configuration details of a batch inference job.</p>",
          "shape": "BatchInferenceJobConfig"
        },
        "filterArn": {
          "documentation": "<p>The ARN of the filter to apply to the batch inference job. For more information on using filters, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter-batch.html\">Filtering batch recommendations</a>.</p>",
          "shape": "Arn"
        },
        "jobInput": {
          "documentation": "<p>The Amazon S3 path that leads to the input file to base your recommendations on. The input material must be in JSON format.</p>",
          "shape": "BatchInferenceJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job to create.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The path to the Amazon S3 bucket where the job's output will be stored.</p>",
          "shape": "BatchInferenceJobOutput"
        },
        "numResults": {
          "documentation": "<p>The number of recommendations to retrieve.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and output Amazon S3 buckets respectively.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version that will be used to generate the batch inference recommendations.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the batch inference job.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "jobName",
        "solutionVersionArn",
        "jobInput",
        "jobOutput",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateBatchInferenceJobResponse": {
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The ARN of the batch inference job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateBatchSegmentJobRequest": {
      "members": {
        "filterArn": {
          "documentation": "<p>The ARN of the filter to apply to the batch segment job. For more information on using filters, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter-batch.html\">Filtering batch recommendations</a>.</p>",
          "shape": "Arn"
        },
        "jobInput": {
          "documentation": "<p>The Amazon S3 path for the input data used to generate the batch segment job.</p>",
          "shape": "BatchSegmentJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch segment job to create.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The Amazon S3 path for the bucket where the job's output will be stored.</p>",
          "shape": "BatchSegmentJobOutput"
        },
        "numResults": {
          "documentation": "<p>The number of predicted users generated by the batch segment job for each line of input data.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and output Amazon S3 buckets respectively.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version you want the batch segment job to use to generate batch segments.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the batch segment job.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "jobName",
        "solutionVersionArn",
        "jobInput",
        "jobOutput",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateBatchSegmentJobResponse": {
      "members": {
        "batchSegmentJobArn": {
          "documentation": "<p>The ARN of the batch segment job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateCampaignRequest": {
      "members": {
        "campaignConfig": {
          "documentation": "<p>The configuration details of a campaign.</p>",
          "shape": "CampaignConfig"
        },
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that Amazon Personalize will support.</p>",
          "shape": "TransactionsPerSecond"
        },
        "name": {
          "documentation": "<p>A name for the new campaign. The campaign name must be unique within your account.</p>",
          "shape": "Name"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version to deploy.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the campaign.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "name",
        "solutionVersionArn"
      ],
      "type": "structure"
    },
    "CreateCampaignResponse": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetExportJobRequest": {
      "members": {
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset that contains the data to export.</p>",
          "shape": "Arn"
        },
        "ingestionMode": {
          "documentation": "<p>The data to export, based on how you imported the data. You can choose to export only <code>BULK</code> data that you imported using a dataset import job, only <code>PUT</code> data that you imported incrementally (using the console, PutEvents, PutUsers and PutItems operations), or <code>ALL</code> for both types. The default value is <code>PUT</code>. </p>",
          "shape": "IngestionMode"
        },
        "jobName": {
          "documentation": "<p>The name for the dataset export job.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The path to the Amazon S3 bucket where the job's output is stored.</p>",
          "shape": "DatasetExportJobOutput"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that has permissions to add data to your output Amazon S3 bucket.</p>",
          "shape": "RoleArn"
        },
        "tags": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the dataset export job.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "jobName",
        "datasetArn",
        "roleArn",
        "jobOutput"
      ],
      "type": "structure"
    },
    "CreateDatasetExportJobResponse": {
      "members": {
        "datasetExportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset export job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetGroupRequest": {
      "members": {
        "domain": {
          "documentation": "<p>The domain of the dataset group. Specify a domain to create a Domain dataset group. The domain you specify determines the default schemas for datasets and the use cases available for recommenders. If you don't specify a domain, you create a Custom dataset group with solution versions that you deploy with a campaign. </p>",
          "shape": "Domain"
        },
        "kmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a Key Management Service (KMS) key used to encrypt the datasets.</p>",
          "shape": "KmsKeyArn"
        },
        "name": {
          "documentation": "<p>The name for the new dataset group.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Identity and Access Management (IAM) role that has permissions to access the Key Management Service (KMS) key. Supplying an IAM role is only valid when also specifying a KMS key.</p>",
          "shape": "RoleArn"
        },
[...]
