{
  "documentation": "<p>\"Suite of geospatial services including Maps, Places, Routes, Tracking, and Geofencing\"</p>",
  "metadata": {
    "apiVersion": "2020-11-19",
    "endpointPrefix": "geo",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Location Service",
    "serviceId": "Location",
    "signatureVersion": "v4",
    "signingName": "geo",
    "uid": "location-2020-11-19"
  },
  "operations": {
    "AssociateTrackerConsumer": {
      "documentation": "<p>Creates an association between a geofence collection and a tracker resource. This allows the tracker resource to communicate location data to the linked geofence collection. </p> <p>You can associate up to five geofence collections to each tracker resource.</p> <note> <p>Currently not supported \u2014 Cross-account configurations, such as creating associations between a tracker resource in one account and a geofence collection in another account.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/consumers",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateTrackerConsumerRequest"
      },
      "name": "AssociateTrackerConsumer",
      "output": {
        "shape": "AssociateTrackerConsumerResponse"
      }
    },
    "BatchDeleteDevicePositionHistory": {
      "documentation": "<p>Deletes the position history of one or more devices from a tracker resource.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/delete-positions",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteDevicePositionHistoryRequest"
      },
      "name": "BatchDeleteDevicePositionHistory",
      "output": {
        "shape": "BatchDeleteDevicePositionHistoryResponse"
      }
    },
    "BatchDeleteGeofence": {
      "documentation": "<p>Deletes a batch of geofences from a geofence collection.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/delete-geofences",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteGeofenceRequest"
      },
      "name": "BatchDeleteGeofence",
      "output": {
        "shape": "BatchDeleteGeofenceResponse"
      }
    },
    "BatchEvaluateGeofences": {
      "documentation": "<p>Evaluates device positions against the geofence geometries from a given geofence collection.</p> <p>This operation always returns an empty response because geofences are asynchronously evaluated. The evaluation determines if the device has entered or exited a geofenced area, and then publishes one of the following events to Amazon EventBridge:</p> <ul> <li> <p> <code>ENTER</code> if Amazon Location determines that the tracked device has entered a geofenced area.</p> </li> <li> <p> <code>EXIT</code> if Amazon Location determines that the tracked device has exited a geofenced area.</p> </li> </ul> <note> <p>The last geofence that a device was observed within is tracked for 30 days after the most recent device position update.</p> </note> <note> <p>Geofence evaluation uses the given device position. It does not account for the optional <code>Accuracy</code> of a <code>DevicePositionUpdate</code>.</p> </note> <note> <p>The <code>DeviceID</code> is used as a string to represent the device. You do not need to have a <code>Tracker</code> associated with the <code>DeviceID</code>.</p> </note>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/positions",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchEvaluateGeofencesRequest"
      },
      "name": "BatchEvaluateGeofences",
      "output": {
        "shape": "BatchEvaluateGeofencesResponse"
      }
    },
    "BatchGetDevicePosition": {
      "documentation": "<p>Lists the latest device positions for requested devices.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/get-positions",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetDevicePositionRequest"
      },
      "name": "BatchGetDevicePosition",
      "output": {
        "shape": "BatchGetDevicePositionResponse"
      }
    },
    "BatchPutGeofence": {
      "documentation": "<p>A batch request for storing geofence geometries into a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/put-geofences",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchPutGeofenceRequest"
      },
      "name": "BatchPutGeofence",
      "output": {
        "shape": "BatchPutGeofenceResponse"
      }
    },
    "BatchUpdateDevicePosition": {
      "documentation": "<p>Uploads position update data for one or more devices to a tracker resource. Amazon Location uses the data when it reports the last known device position and position history. Amazon Location retains location data for 30 days.</p> <note> <p>Position updates are handled based on the <code>PositionFiltering</code> property of the tracker. When <code>PositionFiltering</code> is set to <code>TimeBased</code>, updates are evaluated against linked geofence collections, and location data is stored at a maximum of one position per 30 second interval. If your update frequency is more often than every 30 seconds, only one update per 30 seconds is stored for each unique device ID.</p> <p>When <code>PositionFiltering</code> is set to <code>DistanceBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than 30 m (98.4 ft).</p> <p>When <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than the measured accuracy. For example, if two consecutive updates from a device have a horizontal accuracy of 5 m and 10 m, the second update is neither stored or evaluated if the device has moved less than 15 m. If <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, Amazon Location uses the default value <code>{ \"Horizontal\": 0}</code> when accuracy is not provided on a <code>DevicePositionUpdate</code>.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/positions",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateDevicePositionRequest"
      },
      "name": "BatchUpdateDevicePosition",
      "output": {
        "shape": "BatchUpdateDevicePositionResponse"
      }
    },
    "CalculateRoute": {
      "documentation": "<p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html\">Calculates a route</a> given the following required parameters: <code>DeparturePosition</code> and <code>DestinationPosition</code>. Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating the route.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/departure-time.html\">Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates a route based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> <note> <p>If you specify <code>walking</code> for the travel mode and your data provider is Esri, the start and destination must be within 40km.</p> </note> </li> </ul>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/routes/v0/calculators/{CalculatorName}/calculate/route",
        "responseCode": 200
      },
      "input": {
        "shape": "CalculateRouteRequest"
      },
      "name": "CalculateRoute",
      "output": {
        "shape": "CalculateRouteResponse"
      }
    },
    "CalculateRouteMatrix": {
      "documentation": "<p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route-matrix.html\"> Calculates a route matrix</a> given the following required parameters: <code>DeparturePositions</code> and <code>DestinationPositions</code>. <code>CalculateRouteMatrix</code> calculates routes and returns the travel time and travel distance from each departure position to each destination position in the request. For example, given departure positions A and B, and destination positions X and Y, <code>CalculateRouteMatrix</code> will return time and distance for routes from A to X, A to Y, B to X, and B to Y (in that order). The number of results returned (and routes calculated) will be the number of <code>DeparturePositions</code> times the number of <code>DestinationPositions</code>.</p> <note> <p>Your account is charged for each route calculated, not the number of requests.</p> </note> <p>Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating routes.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/departure-time.html\"> Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates routes based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> </li> </ul>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/routes/v0/calculators/{CalculatorName}/calculate/route-matrix",
        "responseCode": 200
      },
      "input": {
        "shape": "CalculateRouteMatrixRequest"
      },
      "name": "CalculateRouteMatrix",
      "output": {
        "shape": "CalculateRouteMatrixResponse"
      }
    },
    "CreateGeofenceCollection": {
      "documentation": "<p>Creates a geofence collection, which manages and stores geofences.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/collections",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateGeofenceCollectionRequest"
      },
      "name": "CreateGeofenceCollection",
      "output": {
        "shape": "CreateGeofenceCollectionResponse"
      }
    },
    "CreateMap": {
      "documentation": "<p>Creates a map resource in your AWS account, which provides map tiles of different styles sourced from global location data providers.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you may only use HERE as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">AWS service terms</a> for more details.</p> </note>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/maps/v0/maps",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateMapRequest"
      },
      "name": "CreateMap",
      "output": {
        "shape": "CreateMapResponse"
      }
    },
    "CreatePlaceIndex": {
      "documentation": "<p>Creates a place index resource in your AWS account. Use a place index resource to geocode addresses and other text queries by using the <code>SearchPlaceIndexForText</code> operation, and reverse geocode coordinates by using the <code>SearchPlaceIndexForPosition</code> operation, and enable autosuggestions by using the <code>SearchPlaceIndexForSuggestions</code> operation.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you may only use HERE as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">AWS service terms</a> for more details.</p> </note>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/places/v0/indexes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreatePlaceIndexRequest"
      },
      "name": "CreatePlaceIndex",
      "output": {
        "shape": "CreatePlaceIndexResponse"
      }
    },
    "CreateRouteCalculator": {
      "documentation": "<p>Creates a route calculator resource in your AWS account.</p> <p>You can send requests to a route calculator resource to estimate travel time, distance, and get directions. A route calculator sources traffic and road network data from your chosen data provider.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you may only use HERE as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">AWS service terms</a> for more details.</p> </note>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/routes/v0/calculators",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRouteCalculatorRequest"
      },
      "name": "CreateRouteCalculator",
      "output": {
        "shape": "CreateRouteCalculatorResponse"
      }
    },
    "CreateTracker": {
      "documentation": "<p>Creates a tracker resource in your AWS account, which lets you retrieve current and historical location of devices.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateTrackerRequest"
      },
      "name": "CreateTracker",
      "output": {
        "shape": "CreateTrackerResponse"
      }
    },
    "DeleteGeofenceCollection": {
      "documentation": "<p>Deletes a geofence collection from your AWS account.</p> <note> <p>This operation deletes the resource permanently. If the geofence collection is the target of a tracker resource, the devices will no longer be monitored.</p> </note>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/geofencing/v0/collections/{CollectionName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGeofenceCollectionRequest"
      },
      "name": "DeleteGeofenceCollection",
      "output": {
        "shape": "DeleteGeofenceCollectionResponse"
      }
    },
    "DeleteMap": {
      "documentation": "<p>Deletes a map resource from your AWS account.</p> <note> <p>This operation deletes the resource permanently. If the map is being used in an application, the map may not render.</p> </note>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/maps/v0/maps/{MapName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMapRequest"
      },
      "name": "DeleteMap",
      "output": {
        "shape": "DeleteMapResponse"
      }
    },
    "DeletePlaceIndex": {
      "documentation": "<p>Deletes a place index resource from your AWS account.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/places/v0/indexes/{IndexName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePlaceIndexRequest"
      },
      "name": "DeletePlaceIndex",
      "output": {
        "shape": "DeletePlaceIndexResponse"
      }
    },
    "DeleteRouteCalculator": {
      "documentation": "<p>Deletes a route calculator resource from your AWS account.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/routes/v0/calculators/{CalculatorName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRouteCalculatorRequest"
      },
      "name": "DeleteRouteCalculator",
      "output": {
        "shape": "DeleteRouteCalculatorResponse"
      }
    },
    "DeleteTracker": {
      "documentation": "<p>Deletes a tracker resource from your AWS account.</p> <note> <p>This operation deletes the resource permanently. If the tracker resource is in use, you may encounter an error. Make sure that the target resource isn't a dependency for your applications.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tracking/v0/trackers/{TrackerName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteTrackerRequest"
      },
      "name": "DeleteTracker",
      "output": {
        "shape": "DeleteTrackerResponse"
      }
    },
    "DescribeGeofenceCollection": {
      "documentation": "<p>Retrieves the geofence collection details.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/geofencing/v0/collections/{CollectionName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeGeofenceCollectionRequest"
      },
      "name": "DescribeGeofenceCollection",
      "output": {
        "shape": "DescribeGeofenceCollectionResponse"
      }
    },
    "DescribeMap": {
      "documentation": "<p>Retrieves the map resource details.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/maps/v0/maps/{MapName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMapRequest"
      },
      "name": "DescribeMap",
      "output": {
        "shape": "DescribeMapResponse"
      }
    },
    "DescribePlaceIndex": {
      "documentation": "<p>Retrieves the place index resource details.</p>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/places/v0/indexes/{IndexName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribePlaceIndexRequest"
      },
      "name": "DescribePlaceIndex",
      "output": {
        "shape": "DescribePlaceIndexResponse"
      }
    },
    "DescribeRouteCalculator": {
      "documentation": "<p>Retrieves the route calculator resource details.</p>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/routes/v0/calculators/{CalculatorName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRouteCalculatorRequest"
      },
      "name": "DescribeRouteCalculator",
      "output": {
        "shape": "DescribeRouteCalculatorResponse"
      }
    },
    "DescribeTracker": {
      "documentation": "<p>Retrieves the tracker resource details.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tracking/v0/trackers/{TrackerName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeTrackerRequest"
      },
      "name": "DescribeTracker",
      "output": {
        "shape": "DescribeTrackerResponse"
      }
    },
    "DisassociateTrackerConsumer": {
      "documentation": "<p>Removes the association between a tracker resource and a geofence collection.</p> <note> <p>Once you unlink a tracker resource from a geofence collection, the tracker positions will no longer be automatically evaluated against geofences.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/consumers/{ConsumerArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateTrackerConsumerRequest"
      },
      "name": "DisassociateTrackerConsumer",
      "output": {
        "shape": "DisassociateTrackerConsumerResponse"
      }
    },
    "GetDevicePosition": {
      "documentation": "<p>Retrieves a device's most recent position according to its sample time.</p> <note> <p>Device positions are deleted after 30 days.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/positions/latest",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDevicePositionRequest"
      },
      "name": "GetDevicePosition",
      "output": {
        "shape": "GetDevicePositionResponse"
      }
    },
    "GetDevicePositionHistory": {
      "documentation": "<p>Retrieves the device position history from a tracker resource within a specified range of time.</p> <note> <p>Device positions are deleted after 30 days.</p> </note>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/list-positions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDevicePositionHistoryRequest"
      },
      "name": "GetDevicePositionHistory",
      "output": {
        "shape": "GetDevicePositionHistoryResponse"
      }
    },
    "GetGeofence": {
      "documentation": "<p>Retrieves the geofence details from a geofence collection.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGeofenceRequest"
      },
      "name": "GetGeofence",
      "output": {
        "shape": "GetGeofenceResponse"
      }
    },
    "GetMapGlyphs": {
      "documentation": "<p>Retrieves glyphs used to display labels on a map.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/maps/v0/maps/{MapName}/glyphs/{FontStack}/{FontUnicodeRange}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMapGlyphsRequest"
      },
      "name": "GetMapGlyphs",
      "output": {
        "shape": "GetMapGlyphsResponse"
      }
    },
    "GetMapSprites": {
      "documentation": "<p>Retrieves the sprite sheet corresponding to a map resource. The sprite sheet is a PNG image paired with a JSON document describing the offsets of individual icons that will be displayed on a rendered map.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/maps/v0/maps/{MapName}/sprites/{FileName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMapSpritesRequest"
      },
      "name": "GetMapSprites",
      "output": {
        "shape": "GetMapSpritesResponse"
      }
    },
    "GetMapStyleDescriptor": {
      "documentation": "<p>Retrieves the map style descriptor from a map resource. </p> <p>The style descriptor contains speci\ufb01cations on how features render on a map. For example, what data to display, what order to display the data in, and the style for the data. Style descriptors follow the Mapbox Style Specification.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/maps/v0/maps/{MapName}/style-descriptor",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMapStyleDescriptorRequest"
      },
      "name": "GetMapStyleDescriptor",
      "output": {
        "shape": "GetMapStyleDescriptorResponse"
      }
    },
    "GetMapTile": {
      "documentation": "<p>Retrieves a vector data tile from the map resource. Map tiles are used by clients to render a map. they're addressed using a grid arrangement with an X coordinate, Y coordinate, and Z (zoom) level. </p> <p>The origin (0, 0) is the top left of the map. Increasing the zoom level by 1 doubles both the X and Y dimensions, so a tile containing data for the entire world at (0/0/0) will be split into 4 tiles at zoom 1 (1/0/0, 1/0/1, 1/1/0, 1/1/1).</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/maps/v0/maps/{MapName}/tiles/{Z}/{X}/{Y}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMapTileRequest"
      },
      "name": "GetMapTile",
      "output": {
        "shape": "GetMapTileResponse"
      }
    },
    "GetPlace": {
      "documentation": "<p>Finds a place by its unique ID. A <code>PlaceId</code> is returned by other search operations.</p> <note> <p>A PlaceId is valid only if all of the following are the same in the original search request and the call to <code>GetPlace</code>.</p> <ul> <li> <p>Customer AWS account</p> </li> <li> <p>AWS Region</p> </li> <li> <p>Data provider specified in the place index resource</p> </li> </ul> </note>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/places/v0/indexes/{IndexName}/places/{PlaceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPlaceRequest"
      },
      "name": "GetPlace",
      "output": {
        "shape": "GetPlaceResponse"
      }
    },
    "ListDevicePositions": {
      "documentation": "<p>A batch request to retrieve all device positions.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/list-positions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDevicePositionsRequest"
      },
      "name": "ListDevicePositions",
      "output": {
        "shape": "ListDevicePositionsResponse"
      }
    },
    "ListGeofenceCollections": {
      "documentation": "<p>Lists geofence collections in your AWS account.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/list-collections",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGeofenceCollectionsRequest"
      },
      "name": "ListGeofenceCollections",
      "output": {
        "shape": "ListGeofenceCollectionsResponse"
      }
    },
    "ListGeofences": {
      "documentation": "<p>Lists geofences stored in a given geofence collection.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/list-geofences",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGeofencesRequest"
      },
      "name": "ListGeofences",
      "output": {
        "shape": "ListGeofencesResponse"
      }
    },
    "ListMaps": {
      "documentation": "<p>Lists map resources in your AWS account.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/maps/v0/list-maps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMapsRequest"
      },
      "name": "ListMaps",
      "output": {
        "shape": "ListMapsResponse"
      }
    },
    "ListPlaceIndexes": {
      "documentation": "<p>Lists place index resources in your AWS account.</p>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/places/v0/list-indexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPlaceIndexesRequest"
      },
      "name": "ListPlaceIndexes",
      "output": {
        "shape": "ListPlaceIndexesResponse"
      }
    },
    "ListRouteCalculators": {
      "documentation": "<p>Lists route calculator resources in your AWS account.</p>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/routes/v0/list-calculators",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRouteCalculatorsRequest"
      },
      "name": "ListRouteCalculators",
      "output": {
        "shape": "ListRouteCalculatorsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of tags that are applied to the specified Amazon Location resource.</p>",
      "endpoint": {
        "hostPrefix": "metadata."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTrackerConsumers": {
      "documentation": "<p>Lists geofence collections currently associated to the given tracker resource.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/trackers/{TrackerName}/list-consumers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTrackerConsumersRequest"
      },
      "name": "ListTrackerConsumers",
      "output": {
        "shape": "ListTrackerConsumersResponse"
      }
    },
    "ListTrackers": {
      "documentation": "<p>Lists tracker resources in your AWS account.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tracking/v0/list-trackers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTrackersRequest"
      },
      "name": "ListTrackers",
      "output": {
        "shape": "ListTrackersResponse"
      }
    },
    "PutGeofence": {
      "documentation": "<p>Stores a geofence geometry in a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request. </p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutGeofenceRequest"
      },
      "name": "PutGeofence",
      "output": {
        "shape": "PutGeofenceResponse"
      }
    },
    "SearchPlaceIndexForPosition": {
      "documentation": "<p>Reverse geocodes a given coordinate and returns a legible address. Allows you to search for Places or points of interest near a given position.</p>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/places/v0/indexes/{IndexName}/search/position",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchPlaceIndexForPositionRequest"
      },
      "name": "SearchPlaceIndexForPosition",
      "output": {
        "shape": "SearchPlaceIndexForPositionResponse"
      }
    },
    "SearchPlaceIndexForSuggestions": {
      "documentation": "<p>Generates suggestions for addresses and points of interest based on partial or misspelled free-form text. This operation is also known as autocomplete, autosuggest, or fuzzy matching.</p> <p>Optional parameters let you narrow your search results by bounding box or country, or bias your search toward a specific position on the globe.</p> <note> <p>You can search for suggested place names near a specified position by using <code>BiasPosition</code>, or filter results within a bounding box by using <code>FilterBBox</code>. These parameters are mutually exclusive; using both <code>BiasPosition</code> and <code>FilterBBox</code> in the same command returns an error.</p> </note>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/places/v0/indexes/{IndexName}/search/suggestions",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchPlaceIndexForSuggestionsRequest"
      },
      "name": "SearchPlaceIndexForSuggestions",
      "output": {
        "shape": "SearchPlaceIndexForSuggestionsResponse"
      }
    },
    "SearchPlaceIndexForText": {
      "documentation": "<p>Geocodes free-form text, such as an address, name, city, or region to allow you to search for Places or points of interest. </p> <p>Optional parameters let you narrow your search results by bounding box or country, or bias your search toward a specific position on the globe.</p> <note> <p>You can search for places near a given position using <code>BiasPosition</code>, or filter results within a bounding box using <code>FilterBBox</code>. Providing both parameters simultaneously returns an error.</p> </note> <p>Search results are returned in order of highest to lowest relevance.</p>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/places/v0/indexes/{IndexName}/search/text",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchPlaceIndexForTextRequest"
      },
      "name": "SearchPlaceIndexForText",
      "output": {
        "shape": "SearchPlaceIndexForTextResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified Amazon Location Service resource.</p> <pre><code> &lt;p&gt;Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values.&lt;/p&gt; &lt;p&gt;You can use the &lt;code&gt;TagResource&lt;/code&gt; operation with an Amazon Location Service resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the tags already associated with the resource. If you specify a tag key that's already associated with the resource, the new tag value that you specify replaces the previous value for that tag. &lt;/p&gt; &lt;p&gt;You can associate up to 50 tags with a resource.&lt;/p&gt; </code></pre>",
      "endpoint": {
        "hostPrefix": "metadata."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified Amazon Location resource.</p>",
      "endpoint": {
        "hostPrefix": "metadata."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateGeofenceCollection": {
      "documentation": "<p>Updates the specified properties of a given geofence collection.</p>",
      "endpoint": {
        "hostPrefix": "geofencing."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/geofencing/v0/collections/{CollectionName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateGeofenceCollectionRequest"
      },
      "name": "UpdateGeofenceCollection",
      "output": {
        "shape": "UpdateGeofenceCollectionResponse"
      }
    },
    "UpdateMap": {
      "documentation": "<p>Updates the specified properties of a given map resource.</p>",
      "endpoint": {
        "hostPrefix": "maps."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/maps/v0/maps/{MapName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMapRequest"
      },
      "name": "UpdateMap",
      "output": {
        "shape": "UpdateMapResponse"
      }
    },
    "UpdatePlaceIndex": {
      "documentation": "<p>Updates the specified properties of a given place index resource.</p>",
      "endpoint": {
        "hostPrefix": "places."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/places/v0/indexes/{IndexName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePlaceIndexRequest"
      },
      "name": "UpdatePlaceIndex",
      "output": {
        "shape": "UpdatePlaceIndexResponse"
      }
    },
    "UpdateRouteCalculator": {
      "documentation": "<p>Updates the specified properties for a given route calculator resource.</p>",
      "endpoint": {
        "hostPrefix": "routes."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/routes/v0/calculators/{CalculatorName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRouteCalculatorRequest"
      },
      "name": "UpdateRouteCalculator",
      "output": {
        "shape": "UpdateRouteCalculatorResponse"
      }
    },
    "UpdateTracker": {
      "documentation": "<p>Updates the specified properties of a given tracker resource.</p>",
      "endpoint": {
        "hostPrefix": "tracking."
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/tracking/v0/trackers/{TrackerName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateTrackerRequest"
      },
      "name": "UpdateTracker",
      "output": {
        "shape": "UpdateTrackerResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>The request was denied because of insufficient access or permissions. Check with an administrator to verify your permissions.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Arn": {
      "max": 1600,
      "min": 0,
      "pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$",
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AssociateTrackerConsumerRequest": {
      "members": {
        "ConsumerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the geofence collection to be associated to tracker resource. Used when you need to specify a resource across all AWS.</p> <ul> <li> <p>Format example: <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollectionConsumer</code> </p> </li> </ul>",
          "shape": "Arn"
        },
        "TrackerName": {
          "documentation": "<p>The name of the tracker resource to be associated with a geofence collection.</p>",
          "location": "uri",
          "locationName": "TrackerName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "ConsumerArn",
        "TrackerName"
      ],
      "type": "structure"
    },
    "AssociateTrackerConsumerResponse": {
      "members": {},
      "type": "structure"
    },
    "BatchDeleteDevicePositionHistoryError": {
      "documentation": "<p>Contains the tracker resource details.</p>",
      "members": {
        "DeviceId": {
          "documentation": "<p>The ID of the device for this position.</p>",
          "shape": "Id"
        },
        "Error": {
          "shape": "BatchItemError"
        }
      },
      "required": [
        "DeviceId",
        "Error"
      ],
      "type": "structure"
    },
    "BatchDeleteDevicePositionHistoryErrorList": {
      "member": {
        "shape": "BatchDeleteDevicePositionHistoryError"
      },
      "type": "list"
    },
    "BatchDeleteDevicePositionHistoryRequest": {
      "members": {
        "DeviceIds": {
          "documentation": "<p>Devices whose position history you want to delete.</p> <ul> <li> <p>For example, for two devices: <code>\u201cDeviceIds\u201d : [DeviceId1,DeviceId2]</code> </p> </li> </ul>",
          "shape": "BatchDeleteDevicePositionHistoryRequestDeviceIdsList"
        },
        "TrackerName": {
          "documentation": "<p>The name of the tracker resource to delete the device position history from.</p>",
          "location": "uri",
          "locationName": "TrackerName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "DeviceIds",
        "TrackerName"
      ],
      "type": "structure"
    },
    "BatchDeleteDevicePositionHistoryRequestDeviceIdsList": {
      "max": 100,
      "member": {
        "shape": "Id"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteDevicePositionHistoryResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>Contains error details for each device history that failed to delete.</p>",
          "shape": "BatchDeleteDevicePositionHistoryErrorList"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "BatchDeleteGeofenceError": {
      "documentation": "<p>Contains error details for each geofence that failed to delete from the geofence collection.</p>",
      "members": {
        "Error": {
          "documentation": "<p>Contains details associated to the batch error.</p>",
          "shape": "BatchItemError"
        },
        "GeofenceId": {
          "documentation": "<p>The geofence associated with the error message.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Error",
        "GeofenceId"
      ],
      "type": "structure"
    },
    "BatchDeleteGeofenceErrorList": {
      "member": {
        "shape": "BatchDeleteGeofenceError"
      },
      "type": "list"
    },
    "BatchDeleteGeofenceRequest": {
      "members": {
        "CollectionName": {
          "documentation": "<p>The geofence collection storing the geofences to be deleted.</p>",
          "location": "uri",
          "locationName": "CollectionName",
          "shape": "ResourceName"
        },
        "GeofenceIds": {
          "documentation": "<p>The batch of geofences to be deleted.</p>",
          "shape": "BatchDeleteGeofenceRequestGeofenceIdsList"
        }
      },
      "required": [
        "CollectionName",
        "GeofenceIds"
      ],
      "type": "structure"
    },
    "BatchDeleteGeofenceRequestGeofenceIdsList": {
      "max": 10,
      "member": {
        "shape": "Id"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteGeofenceResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>Contains error details for each geofence that failed to delete.</p>",
          "shape": "BatchDeleteGeofenceErrorList"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "BatchEvaluateGeofencesError": {
      "documentation": "<p>Contains error details for each device that failed to evaluate its position against the geofences in a given geofence collection.</p>",
      "members": {
        "DeviceId": {
          "documentation": "<p>The device associated with the position evaluation error.</p>",
          "shape": "Id"
        },
        "Error": {
          "documentation": "<p>Contains details associated to the batch error.</p>",
          "shape": "BatchItemError"
        },
        "SampleTime": {
          "documentation": "<p>Specifies a timestamp for when the error occurred in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "DeviceId",
        "Error",
        "SampleTime"
      ],
      "type": "structure"
    },
    "BatchEvaluateGeofencesErrorList": {
      "member": {
        "shape": "BatchEvaluateGeofencesError"
      },
      "type": "list"
    },
    "BatchEvaluateGeofencesRequest": {
      "members": {
        "CollectionName": {
          "documentation": "<p>The geofence collection used in evaluating the position of devices against its geofences.</p>",
          "location": "uri",
          "locationName": "CollectionName",
          "shape": "ResourceName"
        },
        "DevicePositionUpdates": {
          "documentation": "<p>Contains device details for each device to be evaluated against the given geofence collection.</p>",
          "shape": "BatchEvaluateGeofencesRequestDevicePositionUpdatesList"
        }
      },
      "required": [
        "CollectionName",
        "DevicePositionUpdates"
      ],
      "type": "structure"
    },
    "BatchEvaluateGeofencesRequestDevicePositionUpdatesList": {
      "max": 10,
      "member": {
        "shape": "DevicePositionUpdate"
      },
      "min": 1,
      "type": "list"
    },
    "BatchEvaluateGeofencesResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>Contains error details for each device that failed to evaluate its position against the given geofence collection.</p>",
          "shape": "BatchEvaluateGeofencesErrorList"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "BatchGetDevicePositionError": {
      "documentation": "<p>Contains error details for each device that didn't return a position.</p>",
      "members": {
        "DeviceId": {
          "documentation": "<p>The ID of the device that didn't return a position.</p>",
          "shape": "Id"
        },
        "Error": {
          "documentation": "<p>Contains details related to the error code.</p>",
          "shape": "BatchItemError"
        }
      },
      "required": [
        "DeviceId",
        "Error"
      ],
      "type": "structure"
    },
    "BatchGetDevicePositionErrorList": {
      "member": {
        "shape": "BatchGetDevicePositionError"
      },
      "type": "list"
    },
    "BatchGetDevicePositionRequest": {
      "members": {
        "DeviceIds": {
          "documentation": "<p>Devices whose position you want to retrieve.</p> <ul> <li> <p>For example, for two devices: <code>device-ids=DeviceId1&amp;device-ids=DeviceId2</code> </p> </li> </ul>",
          "shape": "BatchGetDevicePositionRequestDeviceIdsList"
        },
        "TrackerName": {
          "documentation": "<p>The tracker resource retrieving the device position.</p>",
          "location": "uri",
          "locationName": "TrackerName",
          "shape": "BatchGetDevicePositionRequestTrackerNameString"
        }
      },
      "required": [
        "DeviceIds",
        "TrackerName"
      ],
      "type": "structure"
    },
    "BatchGetDevicePositionRequestDeviceIdsList": {
      "max": 10,
      "member": {
        "shape": "Id"
      },
      "min": 1,
      "type": "list"
    },
    "BatchGetDevicePositionRequestTrackerNameString": {
      "min": 1,
      "pattern": "^[-._\\w]+$",
      "type": "string"
    },
    "BatchGetDevicePositionResponse": {
      "members": {
        "DevicePositions": {
          "documentation": "<p>Contains device position details such as the device ID, position, and timestamps for when the position was received and sampled.</p>",
          "shape": "DevicePositionList"
        },
        "Errors": {
          "documentation": "<p>Contains error details for each device that failed to send its position to the tracker resource.</p>",
          "shape": "BatchGetDevicePositionErrorList"
        }
      },
      "required": [
        "DevicePositions",
        "Errors"
      ],
      "type": "structure"
    },
    "BatchItemError": {
      "documentation": "<p>Contains the batch request error details associated with the request.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The error code associated with the batch request error.</p>",
          "shape": "BatchItemErrorCode"
        },
        "Message": {
          "documentation": "<p>A message with the reason for the batch request error.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BatchItemErrorCode": {
      "enum": [
        "AccessDeniedError",
        "ConflictError",
        "InternalServerError",
        "ResourceNotFoundError",
        "ThrottlingError",
        "ValidationError"
      ],
      "type": "string"
    },
    "BatchPutGeofenceError": {
      "documentation": "<p>Contains error details for each geofence that failed to be stored in a given geofence collection.</p>",
      "members": {
        "Error": {
          "documentation": "<p>Contains details associated to the batch error.</p>",
          "shape": "BatchItemError"
        },
        "GeofenceId": {
          "documentation": "<p>The geofence associated with the error message.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Error",
        "GeofenceId"
      ],
      "type": "structure"
    },
    "BatchPutGeofenceErrorList": {
      "member": {
        "shape": "BatchPutGeofenceError"
      },
      "type": "list"
    },
    "BatchPutGeofenceRequest": {
      "members": {
        "CollectionName": {
          "documentation": "<p>The geofence collection storing the geofences.</p>",
          "location": "uri",
          "locationName": "CollectionName",
          "shape": "ResourceName"
        },
        "Entries": {
          "documentation": "<p>The batch of geofences to be stored in a geofence collection.</p>",
          "shape": "BatchPutGeofenceRequestEntriesList"
        }
      },
      "required": [
        "CollectionName",
        "Entries"
      ],
      "type": "structure"
    },
    "BatchPutGeofenceRequestEntriesList": {
      "max": 10,
      "member": {
        "shape": "BatchPutGeofenceRequestEntry"
      },
      "min": 1,
      "type": "list"
    },
    "BatchPutGeofenceRequestEntry": {
      "documentation": "<p>Contains geofence geometry details. </p>",
      "members": {
        "GeofenceId": {
          "documentation": "<p>The identifier for the geofence to be stored in a given geofence collection.</p>",
          "shape": "Id"
        },
        "Geometry": {
          "documentation": "<p>Contains the details of the position of the geofence. Can be either a polygon or a circle. Including both will return a validation error.</p> <note> <p>Each <a href=\"https://docs.aws.amazon.com/location-geofences/latest/APIReference/API_GeofenceGeometry.html\"> geofence polygon</a> can have a maximum of 1,000 vertices.</p> </note>",
          "shape": "GeofenceGeometry"
        }
      },
      "required": [
        "GeofenceId",
        "Geometry"
      ],
      "type": "structure"
    },
    "BatchPutGeofenceResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>Contains additional error details for each geofence that failed to be stored in a geofence collection.</p>",
          "shape": "BatchPutGeofenceErrorList"
        },
        "Successes": {
          "documentation": "<p>Contains each geofence that was successfully stored in a geofence collection.</p>",
          "shape": "BatchPutGeofenceSuccessList"
        }
      },
      "required": [
        "Errors",
        "Successes"
      ],
      "type": "structure"
    },
    "BatchPutGeofenceSuccess": {
      "documentation": "<p>Contains a summary of each geofence that was successfully stored in a given geofence collection.</p>",
      "members": {
        "CreateTime": {
          "documentation": "<p>The timestamp for when the geofence was stored in a geofence collection in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
          "shape": "Timestamp"
        },
        "GeofenceId": {
          "documentation": "<p>The geofence successfully stored in a geofence collection.</p>",
          "shape": "Id"
        },
        "UpdateTime": {
          "documentation": "<p>The timestamp for when the geofence was last updated in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "CreateTime",
        "GeofenceId",
        "UpdateTime"
      ],
      "type": "structure"
    },
    "BatchPutGeofenceSuccessList": {
      "member": {
        "shape": "BatchPutGeofenceSuccess"
      },
      "type": "list"
    },
    "BatchUpdateDevicePositionError": {
      "documentation": "<p>Contains error details for each device that failed to update its position.</p>",
      "members": {
        "DeviceId": {
          "documentation": "<p>The device associated with the failed location update.</p>",
          "shape": "Id"
        },
        "Error": {
          "documentation": "<p>Contains details related to the error code such as the error code and error message.</p>",
          "shape": "BatchItemError"
        },
        "SampleTime": {
          "documentation": "<p>The timestamp at which the device position was determined. Uses <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "DeviceId",
        "Error",
        "SampleTime"
      ],
      "type": "structure"
    },
    "BatchUpdateDevicePositionErrorList": {
      "member": {
        "shape": "BatchUpdateDevicePositionError"
      },
      "type": "list"
    },
    "BatchUpdateDevicePositionRequest": {
      "members": {
        "TrackerName": {
          "documentation": "<p>The name of the tracker resource to update.</p>",
          "location": "uri",
          "locationName": "TrackerName",
          "shape": "ResourceName"
        },
        "Updates": {
          "documentation": "<p>Contains the position update details for each device.</p>",
          "shape": "BatchUpdateDevicePositionRequestUpdatesList"
        }
      },
      "required": [
        "TrackerName",
        "Updates"
      ],
      "type": "structure"
    },
    "BatchUpdateDevicePositionRequestUpdatesList": {
      "max": 10,
      "member": {
        "shape": "DevicePositionUpdate"
      },
      "min": 1,
      "type": "list"
    },
    "BatchUpdateDevicePositionResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>Contains error details for each device that failed to update its position.</p>",
          "shape": "BatchUpdateDevicePositionErrorList"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "BoundingBox": {
      "max": 4,
      "member": {
        "shape": "Double"
      },
      "min": 4,
      "sensitive": true,
      "type": "list"
    },
    "CalculateRouteCarModeOptions": {
      "documentation": "<p>Contains details about additional route preferences for requests that specify <code>TravelMode</code> as <code>Car</code>.</p>",
      "members": {
        "AvoidFerries": {
          "documentation": "<p>Avoids ferries when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "AvoidTolls": {
          "documentation": "<p>Avoids tolls when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "CalculateRouteMatrixRequest": {
      "members": {
        "CalculatorName": {
          "documentation": "<p>The name of the route calculator resource that you want to use to calculate the route matrix. </p>",
          "location": "uri",
          "locationName": "CalculatorName",
          "shape": "ResourceName"
        },
        "CarModeOptions": {
          "documentation": "<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>",
          "shape": "CalculateRouteCarModeOptions"
        },
        "DepartNow": {
          "documentation": "<p>Sets the time of departure as the current time. Uses the current time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "DeparturePositions": {
          "documentation": "<p>The list of departure (origin) positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-123.115, 49.285]</code>.</p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDeparturePositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
          "shape": "CalculateRouteMatrixRequestDeparturePositionsList"
        },
        "DepartureTime": {
          "documentation": "<p>Specifies the desired time of departure. Uses the given time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <note> <p>Setting a departure time in the past returns a <code>400 ValidationException</code> error.</p> </note> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020\u201307-2T12:15:20.000Z+01:00</code> </p> </li> </ul>",
          "shape": "Timestamp"
        },
        "DestinationPositions": {
          "documentation": "<p>The list of destination positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-122.339, 47.615]</code> </p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDestinationPositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
          "shape": "CalculateRouteMatrixRequestDestinationPositionsList"
        },
        "DistanceUnit": {
          "documentation": "<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>",
          "shape": "DistanceUnit"
        },
        "TravelMode": {
          "documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <p>Default Value: <code>Car</code> </p>",
          "shape": "TravelMode"
        },
        "TruckModeOptions": {
          "documentation": "<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>",
          "shape": "CalculateRouteTruckModeOptions"
        }
      },
      "required": [
        "CalculatorName",
        "DeparturePositions",
        "DestinationPositions"
      ],
      "type": "structure"
    },
    "CalculateRouteMatrixRequestDeparturePositionsList": {
      "max": 350,
      "member": {
        "shape": "Position"
      },
      "min": 1,
      "type": "list"
    },
    "CalculateRouteMatrixRequestDestinationPositionsList": {
      "max": 350,
      "member": {
        "shape": "Position"
      },
      "min": 1,
      "type": "list"
    },
    "CalculateRouteMatrixResponse": {
      "documentation": "<p>Returns the result of the route matrix calculation.</p>",
      "members": {
        "RouteMatrix": {
          "documentation": "<p>The calculated route matrix containing the results for all pairs of <code>DeparturePositions</code> to <code>DestinationPositions</code>. Each row corresponds to one entry in <code>DeparturePositions</code>. Each entry in the row corresponds to the route from that entry in <code>DeparturePositions</code> to an entry in <code>DestinationPositions</code>. </p>",
          "shape": "RouteMatrix"
        },
        "SnappedDeparturePositions": {
          "documentation": "<p>For routes calculated using an Esri route calculator resource, departure positions are snapped to the closest road. For Esri route calculator resources, this returns the list of departure/origin positions used for calculation of the <code>RouteMatrix</code>.</p>",
          "shape": "CalculateRouteMatrixResponseSnappedDeparturePositionsList"
        },
        "SnappedDestinationPositions": {
          "documentation": "<p>The list of destination positions for the route matrix used for calculation of the <code>RouteMatrix</code>.</p>",
          "shape": "CalculateRouteMatrixResponseSnappedDestinationPositionsList"
        },
        "Summary": {
          "documentation": "<p>Contains information about the route matrix, <code>DataSource</code>, <code>DistanceUnit</code>, <code>RouteCount</code> and <code>ErrorCount</code>.</p>",
          "shape": "CalculateRouteMatrixSummary"
        }
      },
      "required": [
        "RouteMatrix",
        "Summary"
      ],
      "type": "structure"
    },
    "CalculateRouteMatrixResponseSnappedDeparturePositionsList": {
      "max": 350,
      "member": {
        "shape": "Position"
      },
      "min": 1,
      "type": "list"
    },
    "CalculateRouteMatrixResponseSnappedDestinationPositionsList": {
      "max": 350,
      "member": {
        "shape": "Position"
      },
      "min": 1,
      "type": "list"
    },
    "CalculateRouteMatrixSummary": {
      "documentation": "<p>A summary of the calculated route matrix.</p>",
      "members": {
        "DataSource": {
          "documentation": "<p>The data provider of traffic and road network data used to calculate the routes. Indicates one of the available providers:</p> <ul> <li> <p> <code>Esri</code> </p> </li> <li> <p> <code>Here</code> </p> </li> </ul> <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>",
          "shape": "String"
        },
        "DistanceUnit": {
          "documentation": "<p>The unit of measurement for route distances.</p>",
          "shape": "DistanceUnit"
        },
        "ErrorCount": {
          "documentation": "<p>The count of error results in the route matrix. If this number is 0, all routes were calculated successfully.</p>",
          "shape": "CalculateRouteMatrixSummaryErrorCountInteger"
        },
        "RouteCount": {
          "documentation": "<p>The count of cells in the route matrix. Equal to the number of <code>DeparturePositions</code> multiplied by the number of <code>DestinationPositions</code>.</p>",
          "shape": "CalculateRouteMatrixSummaryRouteCountInteger"
        }
      },
      "required": [
        "DataSource",
        "DistanceUnit",
        "ErrorCount",
        "RouteCount"
      ],
      "type": "structure"
    },
    "CalculateRouteMatrixSummaryErrorCountInteger": {
      "box": true,
      "max": 160000,
      "min": 1,
      "type": "integer"
    },
    "CalculateRouteMatrixSummaryRouteCountInteger": {
      "box": true,
      "max": 160000,
      "min": 1,
      "type": "integer"
    },
    "CalculateRouteRequest": {
      "members": {
        "CalculatorName": {
          "documentation": "<p>The name of the route calculator resource that you want to use to calculate the route. </p>",
          "location": "uri",
          "locationName": "CalculatorName",
          "shape": "ResourceName"
        },
        "CarModeOptions": {
          "documentation": "<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>",
          "shape": "CalculateRouteCarModeOptions"
        },
        "DepartNow": {
          "documentation": "<p>Sets the time of departure as the current time. Uses the current time to calculate a route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "DeparturePosition": {
          "documentation": "<p>The start position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p>For example, <code>[-123.115, 49.285]</code> </p> </li> </ul> <note> <p>If you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
          "shape": "Position"
        },
        "DepartureTime": {
          "documentation": "<p>Specifies the desired time of departure. Uses the given time to calculate the route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <note> <p>Setting a departure time in the past returns a <code>400 ValidationException</code> error.</p> </note> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020\u201307-2T12:15:20.000Z+01:00</code> </p> </li> </ul>",
          "shape": "Timestamp"
        },
        "DestinationPosition": {
          "documentation": "<p>The finish position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p> For example, <code>[-122.339, 47.615]</code> </p> </li> </ul> <note> <p>If you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
          "shape": "Position"
        },
        "DistanceUnit": {
          "documentation": "<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>",
          "shape": "DistanceUnit"
        },
        "IncludeLegGeometry": {
          "documentation": "<p>Set to include the geometry details in the result for each path between a pair of positions.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "TravelMode": {
          "documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility. You can choose <code>Car</code>, <code>Truck</code>, or <code>Walking</code> as options for the <code>TravelMode</code>.</p> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <p>Default Value: <code>Car</code> </p>",
          "shape": "TravelMode"
        },
        "TruckModeOptions": {
          "documentation": "<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>",
          "shape": "CalculateRouteTruckModeOptions"
        },
        "WaypointPositions": {
          "documentation": "<p>Specifies an ordered list of up to 23 intermediate positions to include along a route between the departure position and destination position. </p> <ul> <li> <p>For example, from the <code>DeparturePosition</code> <code>[-123.115, 49.285]</code>, the route follows the order that the waypoint positions are given <code>[[-122.757, 49.0021],[-122.349, 47.620]]</code> </p> </li> </ul> <note> <p>If you specify a waypoint position that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> <p>Specifying more than 23 waypoints returns a <code>400 ValidationException</code> error.</p> <p>If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
          "shape": "CalculateRouteRequestWaypointPositionsList"
        }
      },
      "required": [
        "CalculatorName",
        "DeparturePosition",
        "DestinationPosition"
      ],
      "type": "structure"
    },
    "CalculateRouteRequestWaypointPositionsList": {
      "max": 23,
      "member": {
        "shape": "Position"
      },
      "min": 0,
      "type": "list"
    },
    "CalculateRouteResponse": {
      "documentation": "<p>Returns the result of the route calculation. Metadata includes legs and route summary.</p>",
      "members": {
        "Legs": {
          "documentation": "<p>Contains details about each path between a pair of positions included along a route such as: <code>StartPosition</code>, <code>EndPosition</code>, <code>Distance</code>, <code>DurationSeconds</code>, <code>Geometry</code>, and <code>Steps</code>. The number of legs returned corresponds to one fewer than the total number of positions in the request. </p> <p>For example, a route with a departure position and destination position returns one leg with the positions <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/snap-to-nearby-road.html\">snapped to a nearby road</a>:</p> <ul> <li> <p>The <code>StartPosition</code> is the departure position.</p> </li> <li> <p>The <code>EndPosition</code> is the destination position.</p> </li> </ul> <p>A route with a waypoint between the departure and destination position returns two legs with the positions snapped to a nearby road:</p> <ul> <li> <p>Leg 1: The <code>StartPosition</code> is the departure position . The <code>EndPosition</code> is the waypoint positon.</p> </li> <li> <p>Leg 2: The <code>StartPosition</code> is the waypoint position. The <code>EndPosition</code> is the destination position.</p> </li> </ul>",
          "shape": "LegList"
        },
        "Summary": {
          "documentation": "<p>Contains information about the whole route, such as: <code>RouteBBox</code>, <code>DataSource</code>, <code>Distance</code>, <code>DistanceUnit</code>, and <code>DurationSeconds</code>.</p>",
          "shape": "CalculateRouteSummary"
        }
      },
      "required": [
        "Legs",
        "Summary"
      ],
      "type": "structure"
    },
    "CalculateRouteSummary": {
      "documentation": "<p>A summary of the calculated route.</p>",
      "members": {
        "DataSource": {
          "documentation": "<p>The data provider of traffic and road network data used to calculate the route. Indicates one of the available providers:</p> <ul> <li> <p> <code>Esri</code> </p> </li> <li> <p> <code>Here</code> </p> </li> </ul> <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>",
          "shape": "String"
        },
        "Distance": {
          "documentation": "<p>The total distance covered by the route. The sum of the distance travelled between every stop on the route.</p> <note> <p>If Esri is the data source for the route calculator, the route distance can\u2019t be greater than 400 km. If the route exceeds 400 km, the response is a <code>400 RoutesValidationException</code> error.</p> </note>",
          "shape": "CalculateRouteSummaryDistanceDouble"
        },
        "DistanceUnit": {
          "documentation": "<p>The unit of measurement for route distances.</p>",
          "shape": "DistanceUnit"
        },
        "DurationSeconds": {
          "documentation": "<p>The total travel time for the route measured in seconds. The sum of the travel time between every stop on the route.</p>",
          "shape": "CalculateRouteSummaryDurationSecondsDouble"
        },
        "RouteBBox": {
          "documentation": "<p>Specifies a geographical box surrounding a route. Used to zoom into a route when displaying it in a map. For example, <code>[min x, min y, max x, max y]</code>.</p> <p>The first 2 <code>bbox</code> parameters describe the lower southwest corner: </p> <ul> <li> <p>The first <code>bbox</code> position is the X coordinate or longitude of the lower southwest corner. </p> </li> <li> <p>The second <code>bbox</code> position is the Y coordinate or latitude of the lower southwest corner. </p> </li> </ul> <p>The next 2 <code>bbox</code> parameters describe the upper northeast corner: </p> <ul> <li> <p>The third <code>bbox</code> position is the X coordinate, or longitude of the upper northeast corner. </p> </li> <li> <p>The fourth <code>bbox</code> position is the Y coordinate, or latitude of the upper northeast corner. </p> </li> </ul>",
          "shape": "BoundingBox"
        }
      },
      "required": [
        "DataSource",
        "Distance",
        "DistanceUnit",
        "DurationSeconds",
        "RouteBBox"
      ],
      "type": "structure"
    },
    "CalculateRouteSummaryDistanceDouble": {
      "box": true,
      "min": 0,
      "type": "double"
    },
    "CalculateRouteSummaryDurationSecondsDouble": {
      "box": true,
      "min": 0,
      "type": "double"
    },
    "CalculateRouteTruckModeOptions": {
      "documentation": "<p>Contains details about additional route preferences for requests that specify <code>TravelMode</code> as <code>Truck</code>.</p>",
      "members": {
        "AvoidFerries": {
          "documentation": "<p>Avoids ferries when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "AvoidTolls": {
          "documentation": "<p>Avoids tolls when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>",
          "shape": "Boolean"
        },
        "Dimensions": {
          "documentation": "<p>Specifies the truck's dimension specifications including length, height, width, and unit of measurement. Used to avoid roads that can't support the truck's dimensions.</p>",
          "shape": "TruckDimensions"
        },
        "Weight": {
          "documentation": "<p>Specifies the truck's weight specifications including total weight and unit of measurement. Used to avoid roads that can't support the truck's weight.</p>",
          "shape": "TruckWeight"
        }
      },
      "type": "structure"
    },
    "Circle": {
      "documentation": "<p>A circle on the earth, as defined by a center point and a radius.</p>",
      "members": {
        "Center": {
          "documentation": "<p>A single point geometry, specifying the center of the circle, using <a href=\"https://gisgeography.com/wgs84-world-geodetic-system/\">WGS 84</a> coordinates, in the form <code>[longitude, latitude]</code>.</p>",
          "shape": "Position"
        },
        "Radius": {
          "documentation": "<p>The radius of the circle in meters. Must be greater than zero and no larger than 100,000 (100 kilometers).</p>",
          "shape": "Double"
        }
      },
      "required": [
        "Center",
        "Radius"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request was unsuccessful because of a conflict.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
[...]
