{
  "documentation": "<p>IoT Greengrass brings local compute, messaging, data management, sync, and ML inference capabilities to edge devices. This enables devices to collect and analyze data closer to the source of information, react autonomously to local events, and communicate securely with each other on local networks. Local devices can also communicate securely with Amazon Web Services IoT Core and export IoT data to the Amazon Web Services Cloud. IoT Greengrass developers can use Lambda functions and components to create and deploy applications to fleets of edge devices for local operation.</p> <p>IoT Greengrass Version 2 provides a new major version of the IoT Greengrass Core software, new APIs, and a new console. Use this API reference to learn how to use the IoT Greengrass V2 API operations to manage components, manage deployments, and core devices.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/what-is-iot-greengrass.html\">What is IoT Greengrass?</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2020-11-30",
    "endpointPrefix": "greengrass",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWS GreengrassV2",
    "serviceFullName": "AWS IoT Greengrass V2",
    "serviceId": "GreengrassV2",
    "signatureVersion": "v4",
    "uid": "greengrassv2-2020-11-30"
  },
  "operations": {
    "AssociateServiceRoleToAccount": {
      "documentation": "<p>Associates a Greengrass service role with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. IoT Greengrass uses this role to verify the identity of client devices and manage core device connectivity information. The role must include the <a href=\"https://console.aws.amazon.com/iam/home#/policies/arn:awsiam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy\">AWSGreengrassResourceAccessRolePolicy</a> managed policy or a custom policy that defines equivalent permissions for the IoT Greengrass features that you use. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateServiceRoleToAccountRequest"
      },
      "name": "AssociateServiceRoleToAccount",
      "output": {
        "shape": "AssociateServiceRoleToAccountResponse"
      }
    },
    "BatchAssociateClientDeviceWithCoreDevice": {
      "documentation": "<p>Associates a list of client devices with a core device. Use this API operation to specify which client devices can discover a core device through cloud discovery. With cloud discovery, client devices connect to IoT Greengrass to retrieve associated core devices' connectivity information and certificates. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-cloud-discovery.html\">Configure cloud discovery</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> <note> <p>Client devices are local IoT devices that connect to and communicate with an IoT Greengrass core device over MQTT. You can connect client devices to a core device to sync MQTT messages and data to Amazon Web Services IoT Core and interact with client devices in Greengrass components. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interact-with-local-iot-devices.html\">Interact with local IoT devices</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associateClientDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchAssociateClientDeviceWithCoreDeviceRequest"
      },
      "name": "BatchAssociateClientDeviceWithCoreDevice",
      "output": {
        "shape": "BatchAssociateClientDeviceWithCoreDeviceResponse"
      }
    },
    "BatchDisassociateClientDeviceFromCoreDevice": {
      "documentation": "<p>Disassociates a list of client devices from a core device. After you disassociate a client device from a core device, the client device won't be able to use cloud discovery to retrieve the core device's connectivity information and certificates.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/disassociateClientDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDisassociateClientDeviceFromCoreDeviceRequest"
      },
      "name": "BatchDisassociateClientDeviceFromCoreDevice",
      "output": {
        "shape": "BatchDisassociateClientDeviceFromCoreDeviceResponse"
      }
    },
    "CancelDeployment": {
      "documentation": "<p>Cancels a deployment. This operation cancels the deployment for devices that haven't yet received it. If a device already received the deployment, this operation doesn't change anything for that device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/deployments/{deploymentId}/cancel"
      },
      "input": {
        "shape": "CancelDeploymentRequest"
      },
      "name": "CancelDeployment",
      "output": {
        "shape": "CancelDeploymentResponse"
      }
    },
    "CreateComponentVersion": {
      "documentation": "<p>Creates a component. Components are software that run on Greengrass core devices. After you develop and test a component on your core device, you can use this operation to upload your component to IoT Greengrass. Then, you can deploy the component to other core devices.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p> <b>Create components from recipes</b> </p> <p>Create a component from a recipe, which is a file that defines the component's metadata, parameters, dependencies, lifecycle, artifacts, and platform capability. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/component-recipe-reference.html\">IoT Greengrass component recipe reference</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> <p>To create a component from a recipe, specify <code>inlineRecipe</code> when you call this operation.</p> </li> <li> <p> <b>Create components from Lambda functions</b> </p> <p>Create a component from an Lambda function that runs on IoT Greengrass. This creates a recipe and artifacts from the Lambda function's deployment package. You can use this operation to migrate Lambda functions from IoT Greengrass V1 to IoT Greengrass V2.</p> <p>This function only accepts Lambda functions that use the following runtimes:</p> <ul> <li> <p>Python 2.7 \u2013 <code>python2.7</code> </p> </li> <li> <p>Python 3.7 \u2013 <code>python3.7</code> </p> </li> <li> <p>Python 3.8 \u2013 <code>python3.8</code> </p> </li> <li> <p>Python 3.9 \u2013 <code>python3.9</code> </p> </li> <li> <p>Java 8 \u2013 <code>java8</code> </p> </li> <li> <p>Java 11 \u2013 <code>java11</code> </p> </li> <li> <p>Node.js 10 \u2013 <code>nodejs10.x</code> </p> </li> <li> <p>Node.js 12 \u2013 <code>nodejs12.x</code> </p> </li> <li> <p>Node.js 14 \u2013 <code>nodejs14.x</code> </p> </li> </ul> <p>To create a component from a Lambda function, specify <code>lambdaFunction</code> when you call this operation.</p> <note> <p>IoT Greengrass currently supports Lambda functions on only Linux core devices.</p> </note> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RequestAlreadyInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/createComponentVersion",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateComponentVersionRequest"
      },
      "name": "CreateComponentVersion",
      "output": {
        "shape": "CreateComponentVersionResponse"
      }
    },
    "CreateDeployment": {
      "documentation": "<p>Creates a continuous deployment for a target, which is a Greengrass core device or group of core devices. When you add a new core device to a group of core devices that has a deployment, IoT Greengrass deploys that group's deployment to the new device.</p> <p>You can define one deployment for each target. When you create a new deployment for a target that has an existing deployment, you replace the previous deployment. IoT Greengrass applies the new deployment to the target devices.</p> <p>Every deployment has a revision number that indicates how many deployment revisions you define for a target. Use this operation to create a new revision of an existing deployment.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "RequestAlreadyInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/deployments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "shape": "CreateDeploymentResponse"
      }
    },
    "DeleteComponent": {
      "documentation": "<p>Deletes a version of a component from IoT Greengrass.</p> <note> <p>This operation deletes the component's recipe and artifacts. As a result, deployments that refer to this component version will fail. If you have deployments that use this component version, you can remove the component from the deployment or update the deployment to use a valid version.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/v2/components/{arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteComponentRequest"
      },
      "name": "DeleteComponent"
    },
    "DeleteCoreDevice": {
      "documentation": "<p>Deletes a Greengrass core device, which is an IoT thing. This operation removes the core device from the list of core devices. This operation doesn't delete the IoT thing. For more information about how to delete the IoT thing, see <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_DeleteThing.html\">DeleteThing</a> in the <i>IoT API Reference</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCoreDeviceRequest"
      },
      "name": "DeleteCoreDevice"
    },
    "DeleteDeployment": {
      "documentation": "<p>Deletes a deployment. To delete an active deployment, you must first cancel it. For more information, see <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_CancelDeployment.html\">CancelDeployment</a>.</p> <p>Deleting a deployment doesn't affect core devices that run that deployment, because core devices store the deployment's configuration on the device. Additionally, core devices can roll back to a previous deployment that has been deleted.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/v2/deployments/{deploymentId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDeploymentRequest"
      },
      "name": "DeleteDeployment"
    },
    "DescribeComponent": {
      "documentation": "<p>Retrieves metadata for a version of a component.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/components/{arn}/metadata"
      },
      "input": {
        "shape": "DescribeComponentRequest"
      },
      "name": "DescribeComponent",
      "output": {
        "shape": "DescribeComponentResponse"
      }
    },
    "DisassociateServiceRoleFromAccount": {
      "documentation": "<p>Disassociates the Greengrass service role from IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. Without a service role, IoT Greengrass can't verify the identity of client devices or manage core device connectivity information. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateServiceRoleFromAccountRequest"
      },
      "name": "DisassociateServiceRoleFromAccount",
      "output": {
        "shape": "DisassociateServiceRoleFromAccountResponse"
      }
    },
    "GetComponent": {
      "documentation": "<p>Gets the recipe for a version of a component.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/components/{arn}"
      },
      "input": {
        "shape": "GetComponentRequest"
      },
      "name": "GetComponent",
      "output": {
        "shape": "GetComponentResponse"
      }
    },
    "GetComponentVersionArtifact": {
      "documentation": "<p>Gets the pre-signed URL to download a public or a Lambda component artifact. Core devices call this operation to identify the URL that they can use to download an artifact to install.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/components/{arn}/artifacts/{artifactName+}"
      },
      "input": {
        "shape": "GetComponentVersionArtifactRequest"
      },
      "name": "GetComponentVersionArtifact",
      "output": {
        "shape": "GetComponentVersionArtifactResponse"
      }
    },
    "GetConnectivityInfo": {
      "documentation": "<p>Retrieves connectivity information for a Greengrass core device.</p> <p>Connectivity information includes endpoints and ports where client devices can connect to an MQTT broker on the core device. When a client device calls the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-discover-api.html\">IoT Greengrass discovery API</a>, IoT Greengrass returns connectivity information for all of the core devices where the client device can connect. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/connect-client-devices.html\">Connect client devices to core devices</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/things/{thingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectivityInfoRequest"
      },
      "name": "GetConnectivityInfo",
      "output": {
        "shape": "GetConnectivityInfoResponse"
      }
    },
    "GetCoreDevice": {
      "documentation": "<p>Retrieves metadata for a Greengrass core device.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}"
      },
      "input": {
        "shape": "GetCoreDeviceRequest"
      },
      "name": "GetCoreDevice",
      "output": {
        "shape": "GetCoreDeviceResponse"
      }
    },
    "GetDeployment": {
      "documentation": "<p>Gets a deployment. Deployments define the components that run on Greengrass core devices.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/deployments/{deploymentId}"
      },
      "input": {
        "shape": "GetDeploymentRequest"
      },
      "name": "GetDeployment",
      "output": {
        "shape": "GetDeploymentResponse"
      }
    },
    "GetServiceRoleForAccount": {
      "documentation": "<p>Gets the service role associated with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region. IoT Greengrass uses this role to verify the identity of client devices and manage core device connectivity information. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-service-role.html\">Greengrass service role</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "GetServiceRoleForAccountRequest"
      },
      "name": "GetServiceRoleForAccount",
      "output": {
        "shape": "GetServiceRoleForAccountResponse"
      }
    },
    "ListClientDevicesAssociatedWithCoreDevice": {
      "documentation": "<p>Retrieves a paginated list of client devices that are associated with a core device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associatedClientDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClientDevicesAssociatedWithCoreDeviceRequest"
      },
      "name": "ListClientDevicesAssociatedWithCoreDevice",
      "output": {
        "shape": "ListClientDevicesAssociatedWithCoreDeviceResponse"
      }
    },
    "ListComponentVersions": {
      "documentation": "<p>Retrieves a paginated list of all versions for a component. Greater versions are listed first.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/components/{arn}/versions"
      },
      "input": {
        "shape": "ListComponentVersionsRequest"
      },
      "name": "ListComponentVersions",
      "output": {
        "shape": "ListComponentVersionsResponse"
      }
    },
    "ListComponents": {
      "documentation": "<p>Retrieves a paginated list of component summaries. This list includes components that you have permission to view.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/components"
      },
      "input": {
        "shape": "ListComponentsRequest"
      },
      "name": "ListComponents",
      "output": {
        "shape": "ListComponentsResponse"
      }
    },
    "ListCoreDevices": {
      "documentation": "<p>Retrieves a paginated list of Greengrass core devices.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/coreDevices"
      },
      "input": {
        "shape": "ListCoreDevicesRequest"
      },
      "name": "ListCoreDevices",
      "output": {
        "shape": "ListCoreDevicesResponse"
      }
    },
    "ListDeployments": {
      "documentation": "<p>Retrieves a paginated list of deployments.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/deployments"
      },
      "input": {
        "shape": "ListDeploymentsRequest"
      },
      "name": "ListDeployments",
      "output": {
        "shape": "ListDeploymentsResponse"
      }
    },
    "ListEffectiveDeployments": {
      "documentation": "<p>Retrieves a paginated list of deployment jobs that IoT Greengrass sends to Greengrass core devices.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/effectiveDeployments"
      },
      "input": {
        "shape": "ListEffectiveDeploymentsRequest"
      },
      "name": "ListEffectiveDeployments",
      "output": {
        "shape": "ListEffectiveDeploymentsResponse"
      }
    },
    "ListInstalledComponents": {
      "documentation": "<p>Retrieves a paginated list of the components that a Greengrass core device runs. By default, this list doesn't include components that are deployed as dependencies of other components. To include dependencies in the response, set the <code>topologyFilter</code> parameter to <code>ALL</code>.</p> <note> <p>IoT Greengrass relies on individual devices to send status updates to the Amazon Web Services Cloud. If the IoT Greengrass Core software isn't running on the device, or if device isn't connected to the Amazon Web Services Cloud, then the reported status of that device might not reflect its current status. The status timestamp indicates when the device status was last updated.</p> <p>Core devices send status updates at the following times:</p> <ul> <li> <p>When the IoT Greengrass Core software starts</p> </li> <li> <p>When the core device receives a deployment from the Amazon Web Services Cloud</p> </li> <li> <p>When the status of any component on the core device becomes <code>BROKEN</code> </p> </li> <li> <p>At a <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html#greengrass-nucleus-component-configuration-fss\">regular interval that you can configure</a>, which defaults to 24 hours</p> </li> <li> <p>For IoT Greengrass Core v2.7.0, the core device sends status updates upon local deployment and cloud deployment</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/installedComponents"
      },
      "input": {
        "shape": "ListInstalledComponentsRequest"
      },
      "name": "ListInstalledComponents",
      "output": {
        "shape": "ListInstalledComponentsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of tags for an IoT Greengrass resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ResolveComponentCandidates": {
      "documentation": "<p>Retrieves a list of components that meet the component, version, and platform requirements of a deployment. Greengrass core devices call this operation when they receive a deployment to identify the components to install.</p> <p>This operation identifies components that meet all dependency requirements for a deployment. If the requirements conflict, then this operation returns an error and the deployment fails. For example, this occurs if component <code>A</code> requires version <code>&gt;2.0.0</code> and component <code>B</code> requires version <code>&lt;2.0.0</code> of a component dependency.</p> <p>When you specify the component candidates to resolve, IoT Greengrass compares each component's digest from the core device with the component's digest in the Amazon Web Services Cloud. If the digests don't match, then IoT Greengrass specifies to use the version from the Amazon Web Services Cloud.</p> <important> <p>To use this operation, you must use the data plane API endpoint and authenticate with an IoT device certificate. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/greengrass.html\">IoT Greengrass endpoints and quotas</a>.</p> </important>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/v2/resolveComponentCandidates"
      },
      "input": {
        "shape": "ResolveComponentCandidatesRequest"
      },
      "name": "ResolveComponentCandidates",
      "output": {
        "shape": "ResolveComponentCandidatesResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds tags to an IoT Greengrass resource. If a tag already exists for the resource, this operation updates the tag's value.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from an IoT Greengrass resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateConnectivityInfo": {
      "documentation": "<p>Updates connectivity information for a Greengrass core device.</p> <p>Connectivity information includes endpoints and ports where client devices can connect to an MQTT broker on the core device. When a client device calls the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-discover-api.html\">IoT Greengrass discovery API</a>, IoT Greengrass returns connectivity information for all of the core devices where the client device can connect. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/connect-client-devices.html\">Connect client devices to core devices</a> in the <i>IoT Greengrass Version 2 Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/things/{thingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectivityInfoRequest"
      },
      "name": "UpdateConnectivityInfo",
      "output": {
        "shape": "UpdateConnectivityInfoResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You don't have permission to perform the action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AssociateClientDeviceWithCoreDeviceEntry": {
      "documentation": "<p>Contains a request to associate a client device with a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation consumes a list of these requests.</p>",
      "members": {
        "thingName": {
          "documentation": "<p>The name of the IoT thing that represents the client device to associate.</p>",
          "shape": "IoTThingName"
        }
      },
      "required": [
        "thingName"
      ],
      "type": "structure"
    },
    "AssociateClientDeviceWithCoreDeviceEntryList": {
      "max": 100,
      "member": {
        "shape": "AssociateClientDeviceWithCoreDeviceEntry"
      },
      "min": 1,
      "type": "list"
    },
    "AssociateClientDeviceWithCoreDeviceErrorEntry": {
      "documentation": "<p>Contains an error that occurs from a request to associate a client device with a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation returns a list of these errors.</p>",
      "members": {
        "code": {
          "documentation": "<p>The error code for the request.</p>",
          "shape": "NonEmptyString"
        },
        "message": {
          "documentation": "<p>A message that provides additional information about the error.</p>",
          "shape": "NonEmptyString"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT thing whose associate request failed.</p>",
          "shape": "IoTThingName"
        }
      },
      "type": "structure"
    },
    "AssociateClientDeviceWithCoreDeviceErrorList": {
      "max": 100,
      "member": {
        "shape": "AssociateClientDeviceWithCoreDeviceErrorEntry"
      },
      "type": "list"
    },
    "AssociateServiceRoleToAccountRequest": {
      "members": {
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service role to associate with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region.</p>",
          "locationName": "RoleArn",
          "shape": "String"
        }
      },
      "required": [
        "roleArn"
      ],
      "type": "structure"
    },
    "AssociateServiceRoleToAccountResponse": {
      "members": {
        "associatedAt": {
          "documentation": "<p>The time when the service role was associated with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region.</p>",
          "locationName": "AssociatedAt",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AssociatedClientDevice": {
      "documentation": "<p>Contains information about a client device that is associated to a core device for cloud discovery.</p>",
      "members": {
        "associationTimestamp": {
          "documentation": "<p>The time that the client device was associated, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT thing that represents the associated client device.</p>",
          "shape": "IoTThingName"
        }
      },
      "type": "structure"
    },
    "AssociatedClientDeviceList": {
      "max": 100,
      "member": {
        "shape": "AssociatedClientDevice"
      },
      "min": 1,
      "type": "list"
    },
    "BatchAssociateClientDeviceWithCoreDeviceRequest": {
      "members": {
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "location": "uri",
          "locationName": "coreDeviceThingName",
          "shape": "IoTThingName"
        },
        "entries": {
          "documentation": "<p>The list of client devices to associate.</p>",
          "shape": "AssociateClientDeviceWithCoreDeviceEntryList"
        }
      },
      "required": [
        "coreDeviceThingName"
      ],
      "type": "structure"
    },
    "BatchAssociateClientDeviceWithCoreDeviceResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>The list of any errors for the entries in the request. Each error entry contains the name of the IoT thing that failed to associate.</p>",
          "shape": "AssociateClientDeviceWithCoreDeviceErrorList"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateClientDeviceFromCoreDeviceRequest": {
      "members": {
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "location": "uri",
          "locationName": "coreDeviceThingName",
          "shape": "IoTThingName"
        },
        "entries": {
          "documentation": "<p>The list of client devices to disassociate.</p>",
          "shape": "DisassociateClientDeviceFromCoreDeviceEntryList"
        }
      },
      "required": [
        "coreDeviceThingName"
      ],
      "type": "structure"
    },
    "BatchDisassociateClientDeviceFromCoreDeviceResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>The list of any errors for the entries in the request. Each error entry contains the name of the IoT thing that failed to disassociate.</p>",
          "shape": "DisassociateClientDeviceFromCoreDeviceErrorList"
        }
      },
      "type": "structure"
    },
    "CPU": {
      "min": 0,
      "type": "double"
    },
    "CancelDeploymentRequest": {
      "members": {
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "location": "uri",
          "locationName": "deploymentId",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "deploymentId"
      ],
      "type": "structure"
    },
    "CancelDeploymentResponse": {
      "members": {
        "message": {
          "documentation": "<p>A message that communicates if the cancel was successful.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ClientTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "CloudComponentState": {
      "enum": [
        "REQUESTED",
        "INITIATED",
        "DEPLOYABLE",
        "FAILED",
        "DEPRECATED"
      ],
      "type": "string"
    },
    "CloudComponentStatus": {
      "documentation": "<p>Contains the status of a component version in the IoT Greengrass service.</p>",
      "members": {
        "componentState": {
          "documentation": "<p>The state of the component version.</p>",
          "shape": "CloudComponentState"
        },
        "errors": {
          "documentation": "<p>A dictionary of errors that communicate why the component version is in an error state. For example, if IoT Greengrass can't access an artifact for the component version, then <code>errors</code> contains the artifact's URI as a key, and the error message as the value for that key.</p>",
          "shape": "StringMap"
        },
        "message": {
          "documentation": "<p>A message that communicates details, such as errors, about the status of the component version.</p>",
          "shape": "NonEmptyString"
        },
        "vendorGuidance": {
          "documentation": "<p>The vendor guidance state for the component version. This state indicates whether the component version has any issues that you should consider before you deploy it. The vendor guidance state can be:</p> <ul> <li> <p> <code>ACTIVE</code> \u2013 This component version is available and recommended for use.</p> </li> <li> <p> <code>DISCONTINUED</code> \u2013 This component version has been discontinued by its publisher. You can deploy this component version, but we recommend that you use a different version of this component.</p> </li> <li> <p> <code>DELETED</code> \u2013 This component version has been deleted by its publisher, so you can't deploy it. If you have any existing deployments that specify this component version, those deployments will fail.</p> </li> </ul>",
          "shape": "VendorGuidance"
        },
        "vendorGuidanceMessage": {
          "documentation": "<p>A message that communicates details about the vendor guidance state of the component version. This message communicates why a component version is discontinued or deleted.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "Component": {
      "documentation": "<p>Contains information about a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "shape": "ComponentARN"
        },
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "latestVersion": {
          "documentation": "<p>The latest version of the component and its details.</p>",
          "shape": "ComponentLatestVersion"
        }
      },
      "type": "structure"
    },
    "ComponentARN": {
      "pattern": "arn:[^:]*:greengrass:[^:]*:(aws|[0-9]+):components:[^:]+",
      "type": "string"
    },
    "ComponentCandidate": {
      "documentation": "<p>Contains information about a component that is a candidate to deploy to a Greengrass core device.</p>",
      "members": {
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "versionRequirements": {
          "documentation": "<p>The version requirements for the component's dependencies. Greengrass core devices get the version requirements from component recipes.</p> <p>IoT Greengrass V2 uses semantic version constraints. For more information, see <a href=\"https://semver.org/\">Semantic Versioning</a>.</p>",
          "shape": "ComponentVersionRequirementMap"
        }
      },
      "type": "structure"
    },
    "ComponentCandidateList": {
      "member": {
        "shape": "ComponentCandidate"
      },
      "type": "list"
    },
    "ComponentConfigurationPath": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "ComponentConfigurationPathList": {
      "member": {
        "shape": "ComponentConfigurationPath"
      },
      "type": "list"
    },
    "ComponentConfigurationString": {
      "max": 10485760,
      "min": 1,
      "type": "string"
    },
    "ComponentConfigurationUpdate": {
      "documentation": "<p>Contains information about a deployment's update to a component's configuration on Greengrass core devices. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html\">Update component configurations</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
      "members": {
        "merge": {
          "documentation": "<p>A serialized JSON string that contains the configuration object to merge to target devices. The core device merges this configuration with the component's existing configuration. If this is the first time a component deploys on a device, the core device merges this configuration with the component's default configuration. This means that the core device keeps it's existing configuration for keys and values that you don't specify in this object. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html#merge-configuration-update\">Merge configuration updates</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "ComponentConfigurationString"
        },
        "reset": {
          "documentation": "<p>The list of configuration nodes to reset to default values on target devices. Use JSON pointers to specify each node to reset. JSON pointers start with a forward slash (<code>/</code>) and use forward slashes to separate the key for each level in the object. For more information, see the <a href=\"https://tools.ietf.org/html/rfc6901\">JSON pointer specification</a> and <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html#reset-configuration-update\">Reset configuration updates</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "ComponentConfigurationPathList"
        }
      },
      "type": "structure"
    },
    "ComponentDependencyMap": {
      "key": {
        "shape": "NonEmptyString"
      },
      "type": "map",
      "value": {
        "shape": "ComponentDependencyRequirement"
      }
    },
    "ComponentDependencyRequirement": {
      "documentation": "<p>Contains information about a component dependency for a Lambda function component.</p>",
      "members": {
        "dependencyType": {
          "documentation": "<p>The type of this dependency. Choose from the following options:</p> <ul> <li> <p> <code>SOFT</code> \u2013 The component doesn't restart if the dependency changes state.</p> </li> <li> <p> <code>HARD</code> \u2013 The component restarts if the dependency changes state.</p> </li> </ul> <p>Default: <code>HARD</code> </p>",
          "shape": "ComponentDependencyType"
        },
        "versionRequirement": {
          "documentation": "<p>The component version requirement for the component dependency.</p> <p>IoT Greengrass V2 uses semantic version constraints. For more information, see <a href=\"https://semver.org/\">Semantic Versioning</a>.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ComponentDependencyType": {
      "enum": [
        "HARD",
        "SOFT"
      ],
      "type": "string"
    },
    "ComponentDeploymentSpecification": {
      "documentation": "<p>Contains information about a component to deploy.</p>",
      "members": {
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "configurationUpdate": {
          "documentation": "<p>The configuration updates to deploy for the component. You can define <i>reset</i> updates and <i>merge</i> updates. A reset updates the keys that you specify to the default configuration for the component. A merge updates the core device's component configuration with the keys and values that you specify. The IoT Greengrass Core software applies reset updates before it applies merge updates. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html\">Update component configurations</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "ComponentConfigurationUpdate"
        },
        "runWith": {
          "documentation": "<p>The system user and group that the IoT Greengrass Core software uses to run component processes on the core device. If you omit this parameter, the IoT Greengrass Core software uses the system user and group that you configure for the core device. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "ComponentRunWith"
        }
      },
      "type": "structure"
    },
    "ComponentDeploymentSpecifications": {
      "key": {
        "shape": "NonEmptyString"
      },
      "type": "map",
      "value": {
        "shape": "ComponentDeploymentSpecification"
      }
    },
    "ComponentLatestVersion": {
      "documentation": "<p>Contains information about the latest version of a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "shape": "ComponentVersionARN"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "creationTimestamp": {
          "documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the component version.</p>",
          "shape": "NonEmptyString"
        },
        "platforms": {
          "documentation": "<p>The platforms that the component version supports.</p>",
          "shape": "ComponentPlatformList"
        },
        "publisher": {
          "documentation": "<p>The publisher of the component version.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ComponentList": {
      "member": {
        "shape": "Component"
      },
      "type": "list"
    },
    "ComponentNameString": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "ComponentPlatform": {
      "documentation": "<p>Contains information about a platform that a component supports.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A dictionary of attributes for the platform. The IoT Greengrass Core software defines the <code>os</code> and <code>architecture</code> by default. You can specify additional platform attributes for a core device when you deploy the Greengrass nucleus component. For more information, see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html\">Greengrass nucleus component</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "PlatformAttributesMap"
        },
        "name": {
          "documentation": "<p>The friendly name of the platform. This name helps you identify the platform.</p> <p>If you omit this parameter, IoT Greengrass creates a friendly name from the <code>os</code> and <code>architecture</code> of the platform.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ComponentPlatformList": {
      "member": {
        "shape": "ComponentPlatform"
      },
      "type": "list"
    },
    "ComponentRunWith": {
      "documentation": "<p>Contains information system user and group that the IoT Greengrass Core software uses to run component processes on the core device. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
      "members": {
        "posixUser": {
          "documentation": "<p>The POSIX system user and, optionally, group to use to run this component on Linux core devices. The user, and group if specified, must exist on each Linux core device. Specify the user and group separated by a colon (<code>:</code>) in the following format: <code>user:group</code>. The group is optional. If you don't specify a group, the IoT Greengrass Core software uses the primary user for the group.</p> <p>If you omit this parameter, the IoT Greengrass Core software uses the default system user and group that you configure on the Greengrass nucleus component. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a>.</p>",
          "shape": "NonEmptyString"
        },
        "systemResourceLimits": {
          "documentation": "<p>The system resource limits to apply to this component's process on the core device. IoT Greengrass currently supports this feature on only Linux core devices.</p> <p>If you omit this parameter, the IoT Greengrass Core software uses the default system resource limits that you configure on the Greengrass nucleus component. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-system-resource-limits\">Configure system resource limits for components</a>.</p>",
          "shape": "SystemResourceLimits"
        },
        "windowsUser": {
          "documentation": "<p>The Windows user to use to run this component on Windows core devices. The user must exist on each Windows core device, and its name and password must be in the LocalSystem account's Credentials Manager instance.</p> <p>If you omit this parameter, the IoT Greengrass Core software uses the default Windows user that you configure on the Greengrass nucleus component. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a>.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ComponentVersionARN": {
      "pattern": "arn:[^:]*:greengrass:[^:]*:(aws|[0-9]+):components:[^:]+:versions:[^:]+",
      "type": "string"
    },
    "ComponentVersionList": {
      "member": {
        "shape": "ComponentVersionListItem"
      },
      "type": "list"
    },
    "ComponentVersionListItem": {
      "documentation": "<p>Contains information about a component version in a list.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "shape": "NonEmptyString"
        },
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        }
      },
      "type": "structure"
    },
    "ComponentVersionRequirementMap": {
      "key": {
        "shape": "NonEmptyString"
      },
      "type": "map",
      "value": {
        "shape": "NonEmptyString"
      }
    },
    "ComponentVersionString": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ComponentVisibilityScope": {
      "enum": [
        "PRIVATE",
        "PUBLIC"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource that conflicts with the request.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that conflicts with the request.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "ConnectivityInfo": {
      "documentation": "<p>Contains information about an endpoint and port where client devices can connect to an MQTT broker on a Greengrass core device.</p>",
      "members": {
        "hostAddress": {
          "documentation": "<p>The IP address or DNS address where client devices can connect to an MQTT broker on the Greengrass core device.</p>",
          "locationName": "HostAddress",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>An ID for the connectivity information.</p>",
          "locationName": "Id",
          "shape": "String"
        },
        "metadata": {
          "documentation": "<p>Additional metadata to provide to client devices that connect to this core device.</p>",
          "locationName": "Metadata",
          "shape": "String"
        },
        "portNumber": {
          "documentation": "<p>The port where the MQTT broker operates on the core device. This port is typically 8883, which is the default port for the MQTT broker component that runs on core devices.</p>",
          "locationName": "PortNumber",
          "shape": "PortNumberInt"
        }
      },
      "type": "structure"
    },
    "CoreDevice": {
      "documentation": "<p>Contains information about a Greengrass core device, which is an IoT thing that runs the IoT Greengrass Core software.</p>",
      "members": {
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "shape": "CoreDeviceThingName"
        },
        "lastStatusUpdateTimestamp": {
          "documentation": "<p>The time at which the core device's status last updated, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the core device. Core devices can have the following statuses:</p> <ul> <li> <p> <code>HEALTHY</code> \u2013 The IoT Greengrass Core software and all components run on the core device without issue.</p> </li> <li> <p> <code>UNHEALTHY</code> \u2013 The IoT Greengrass Core software or a component is in a failed state on the core device.</p> </li> </ul>",
          "shape": "CoreDeviceStatus"
        }
      },
      "type": "structure"
    },
    "CoreDeviceArchitectureString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "CoreDevicePlatformString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "CoreDeviceStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "CoreDeviceThingName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "CoreDevicesList": {
      "member": {
        "shape": "CoreDevice"
      },
      "type": "list"
    },
    "CreateComponentVersionRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you can provide to ensure that the request is idempotent. Idempotency means that the request is successfully processed only once, even if you send the request multiple times. When a request succeeds, and you specify the same client token for subsequent successful requests, the IoT Greengrass V2 service returns the successful response that it caches from the previous request. IoT Greengrass V2 caches successful responses for idempotent requests for up to 8 hours.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "inlineRecipe": {
          "documentation": "<p>The recipe to use to create the component. The recipe defines the component's metadata, parameters, dependencies, lifecycle, artifacts, and platform compatibility.</p> <p>You must specify either <code>inlineRecipe</code> or <code>lambdaFunction</code>.</p>",
          "shape": "RecipeBlob"
        },
        "lambdaFunction": {
          "documentation": "<p>The parameters to create a component from a Lambda function.</p> <p>You must specify either <code>inlineRecipe</code> or <code>lambdaFunction</code>.</p>",
          "shape": "LambdaFunctionRecipeSource"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateComponentVersionResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "shape": "ComponentVersionARN"
        },
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "creationTimestamp": {
          "documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the component version in IoT Greengrass V2. This status is different from the status of the component on a core device.</p>",
          "shape": "CloudComponentStatus"
        }
      },
      "required": [
        "componentName",
        "componentVersion",
        "creationTimestamp",
        "status"
      ],
      "type": "structure"
    },
    "CreateDeploymentRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you can provide to ensure that the request is idempotent. Idempotency means that the request is successfully processed only once, even if you send the request multiple times. When a request succeeds, and you specify the same client token for subsequent successful requests, the IoT Greengrass V2 service returns the successful response that it caches from the previous request. IoT Greengrass V2 caches successful responses for idempotent requests for up to 8 hours.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "components": {
          "documentation": "<p>The components to deploy. This is a dictionary, where each key is the name of a component, and each key's value is the version and configuration to deploy for that component.</p>",
          "shape": "ComponentDeploymentSpecifications"
        },
        "deploymentName": {
          "documentation": "<p>The name of the deployment.</p>",
          "shape": "DeploymentNameString"
        },
        "deploymentPolicies": {
          "documentation": "<p>The deployment policies for the deployment. These policies define how the deployment updates components and handles failure.</p>",
          "shape": "DeploymentPolicies"
        },
        "iotJobConfiguration": {
          "documentation": "<p>The job configuration for the deployment configuration. The job configuration specifies the rollout, timeout, and stop configurations for the deployment configuration.</p>",
          "shape": "DeploymentIoTJobConfiguration"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        },
        "targetArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
          "shape": "TargetARN"
        }
      },
      "required": [
        "targetArn"
      ],
      "type": "structure"
    },
    "CreateDeploymentResponse": {
      "members": {
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "iotJobArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>",
          "shape": "IoTJobARN"
        },
        "iotJobId": {
          "documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DefaultMaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "DeleteComponentRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "location": "uri",
          "locationName": "arn",
          "shape": "ComponentVersionARN"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteCoreDeviceRequest": {
      "members": {
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "location": "uri",
          "locationName": "coreDeviceThingName",
          "shape": "CoreDeviceThingName"
        }
      },
      "required": [
        "coreDeviceThingName"
      ],
      "type": "structure"
    },
    "DeleteDeploymentRequest": {
      "members": {
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "location": "uri",
          "locationName": "deploymentId",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "deploymentId"
      ],
      "type": "structure"
    },
    "Deployment": {
      "documentation": "<p>Contains information about a deployment.</p>",
      "members": {
        "creationTimestamp": {
          "documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "deploymentName": {
          "documentation": "<p>The name of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "deploymentStatus": {
          "documentation": "<p>The status of the deployment.</p>",
          "shape": "DeploymentStatus"
        },
        "isLatestForTarget": {
          "documentation": "<p>Whether or not the deployment is the latest revision for its target.</p>",
          "shape": "IsLatestForTarget"
        },
        "revisionId": {
          "documentation": "<p>The revision number of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "targetArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
          "shape": "TargetARN"
        }
      },
      "type": "structure"
    },
    "DeploymentComponentUpdatePolicy": {
      "documentation": "<p>Contains information about a deployment's policy that defines when components are safe to update.</p> <p>Each component on a device can report whether or not it's ready to update. After a component and its dependencies are ready, they can apply the update in the deployment. You can configure whether or not the deployment notifies components of an update and waits for a response. You specify the amount of time each component has to respond to the update notification.</p>",
      "members": {
        "action": {
          "documentation": "<p>Whether or not to notify components and wait for components to become safe to update. Choose from the following options:</p> <ul> <li> <p> <code>NOTIFY_COMPONENTS</code> \u2013 The deployment notifies each component before it stops and updates that component. Components can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-subscribetocomponentupdates\">SubscribeToComponentUpdates</a> IPC operation to receive these notifications. Then, components can respond with the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-defercomponentupdate\">DeferComponentUpdate</a> IPC operation. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p> </li> <li> <p> <code>SKIP_NOTIFY_COMPONENTS</code> \u2013 The deployment doesn't notify components or wait for them to be safe to update.</p> </li> </ul> <p>Default: <code>NOTIFY_COMPONENTS</code> </p>",
          "shape": "DeploymentComponentUpdatePolicyAction"
        },
        "timeoutInSeconds": {
          "box": true,
          "documentation": "<p>The amount of time in seconds that each component on a device has to report that it's safe to update. If the component waits for longer than this timeout, then the deployment proceeds on the device.</p> <p>Default: <code>60</code> </p>",
          "shape": "OptionalInteger"
        }
      },
      "type": "structure"
    },
    "DeploymentComponentUpdatePolicyAction": {
      "enum": [
        "NOTIFY_COMPONENTS",
        "SKIP_NOTIFY_COMPONENTS"
      ],
      "type": "string"
    },
    "DeploymentConfigurationValidationPolicy": {
      "documentation": "<p>Contains information about how long a component on a core device can validate its configuration updates before it times out. Components can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-subscribetovalidateconfigurationupdates\">SubscribeToValidateConfigurationUpdates</a> IPC operation to receive notifications when a deployment specifies a configuration update. Then, components can respond with the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-sendconfigurationvalidityreport\">SendConfigurationValidityReport</a> IPC operation. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
      "members": {
        "timeoutInSeconds": {
          "box": true,
          "documentation": "<p>The amount of time in seconds that a component can validate its configuration updates. If the validation time exceeds this timeout, then the deployment proceeds for the device.</p> <p>Default: <code>30</code> </p>",
          "shape": "OptionalInteger"
        }
      },
      "type": "structure"
    },
    "DeploymentFailureHandlingPolicy": {
      "enum": [
        "ROLLBACK",
        "DO_NOTHING"
      ],
      "type": "string"
    },
    "DeploymentHistoryFilter": {
      "enum": [
        "ALL",
        "LATEST_ONLY"
      ],
      "type": "string"
    },
    "DeploymentID": {
      "type": "string"
    },
    "DeploymentIoTJobConfiguration": {
      "documentation": "<p>Contains information about an IoT job configuration.</p>",
      "members": {
        "abortConfig": {
          "documentation": "<p>The stop configuration for the job. This configuration defines when and how to stop a job rollout.</p>",
          "shape": "IoTJobAbortConfig"
        },
        "jobExecutionsRolloutConfig": {
          "documentation": "<p>The rollout configuration for the job. This configuration defines the rate at which the job rolls out to the fleet of target devices.</p>",
          "shape": "IoTJobExecutionsRolloutConfig"
        },
        "timeoutConfig": {
          "documentation": "<p>The timeout configuration for the job. This configuration defines the amount of time each device has to complete the job.</p>",
          "shape": "IoTJobTimeoutConfig"
        }
      },
      "type": "structure"
    },
    "DeploymentList": {
      "member": {
        "shape": "Deployment"
      },
      "type": "list"
    },
    "DeploymentName": {
      "type": "string"
    },
    "DeploymentNameString": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "DeploymentPolicies": {
      "documentation": "<p>Contains information about policies that define how a deployment updates components and handles failure.</p>",
      "members": {
        "componentUpdatePolicy": {
          "documentation": "<p>The component update policy for the configuration deployment. This policy defines when it's safe to deploy the configuration to devices.</p>",
          "shape": "DeploymentComponentUpdatePolicy"
        },
        "configurationValidationPolicy": {
          "documentation": "<p>The configuration validation policy for the configuration deployment. This policy defines how long each component has to validate its configure updates.</p>",
          "shape": "DeploymentConfigurationValidationPolicy"
        },
        "failureHandlingPolicy": {
          "documentation": "<p>The failure handling policy for the configuration deployment. This policy defines what to do if the deployment fails.</p> <p>Default: <code>ROLLBACK</code> </p>",
          "shape": "DeploymentFailureHandlingPolicy"
        }
      },
      "type": "structure"
    },
    "DeploymentStatus": {
      "enum": [
        "ACTIVE",
        "COMPLETED",
        "CANCELED",
        "FAILED",
        "INACTIVE"
      ],
      "type": "string"
    },
    "DescribeComponentRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "location": "uri",
          "locationName": "arn",
          "shape": "ComponentVersionARN"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DescribeComponentResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "shape": "ComponentVersionARN"
        },
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "creationTimestamp": {
          "documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the component version.</p>",
          "shape": "DescriptionString"
        },
        "platforms": {
          "documentation": "<p>The platforms that the component version supports.</p>",
          "shape": "ComponentPlatformList"
        },
        "publisher": {
          "documentation": "<p>The publisher of the component version.</p>",
          "shape": "PublisherString"
        },
        "status": {
          "documentation": "<p>The status of the component version in IoT Greengrass V2. This status is different from the status of the component on a core device.</p>",
          "shape": "CloudComponentStatus"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "DescriptionString": {
      "type": "string"
    },
    "DisassociateClientDeviceFromCoreDeviceEntry": {
      "documentation": "<p>Contains a request to disassociate a client device from a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchDisassociateClientDeviceWithCoreDevice.html\">BatchDisassociateClientDeviceWithCoreDevice</a> operation consumes a list of these requests.</p>",
      "members": {
        "thingName": {
          "documentation": "<p>The name of the IoT thing that represents the client device to disassociate.</p>",
          "shape": "IoTThingName"
        }
      },
      "required": [
        "thingName"
      ],
      "type": "structure"
    },
    "DisassociateClientDeviceFromCoreDeviceEntryList": {
      "max": 100,
      "member": {
        "shape": "DisassociateClientDeviceFromCoreDeviceEntry"
      },
      "min": 1,
      "type": "list"
    },
    "DisassociateClientDeviceFromCoreDeviceErrorEntry": {
      "documentation": "<p>Contains an error that occurs from a request to disassociate a client device from a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchDisassociateClientDeviceWithCoreDevice.html\">BatchDisassociateClientDeviceWithCoreDevice</a> operation returns a list of these errors.</p>",
      "members": {
        "code": {
          "documentation": "<p>The error code for the request.</p>",
          "shape": "NonEmptyString"
        },
        "message": {
          "documentation": "<p>A message that provides additional information about the error.</p>",
          "shape": "NonEmptyString"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT thing whose disassociate request failed.</p>",
          "shape": "IoTThingName"
        }
      },
      "type": "structure"
    },
    "DisassociateClientDeviceFromCoreDeviceErrorList": {
      "max": 100,
      "member": {
        "shape": "DisassociateClientDeviceFromCoreDeviceErrorEntry"
      },
      "type": "list"
    },
    "DisassociateServiceRoleFromAccountRequest": {
      "members": {},
      "type": "structure"
    },
    "DisassociateServiceRoleFromAccountResponse": {
      "members": {
        "disassociatedAt": {
          "documentation": "<p>The time when the service role was disassociated from IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region.</p>",
          "locationName": "DisassociatedAt",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EffectiveDeployment": {
      "documentation": "<p>Contains information about a deployment job that IoT Greengrass sends to a Greengrass core device.</p>",
      "members": {
        "coreDeviceExecutionStatus": {
          "documentation": "<p>The status of the deployment job on the Greengrass core device.</p>",
          "shape": "EffectiveDeploymentExecutionStatus"
        },
        "creationTimestamp": {
          "documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "shape": "DeploymentID"
        },
        "deploymentName": {
          "documentation": "<p>The name of the deployment.</p>",
          "shape": "DeploymentName"
        },
        "description": {
          "documentation": "<p>The description of the deployment job.</p>",
          "shape": "Description"
        },
        "iotJobArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>",
          "shape": "IoTJobARN"
        },
        "iotJobId": {
          "documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>",
          "shape": "IoTJobId"
        },
        "modifiedTimestamp": {
          "documentation": "<p>The time at which the deployment job was last modified, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "reason": {
          "documentation": "<p>The reason code for the update, if the job was updated.</p>",
          "shape": "Reason"
        },
        "statusDetails": {
          "documentation": "<p>The status details that explain why a deployment has an error. This response will be null if the deployment is in a success state.</p>",
          "shape": "EffectiveDeploymentStatusDetails"
        },
        "targetArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
          "shape": "TargetARN"
        }
      },
      "required": [
        "deploymentId",
        "deploymentName",
        "targetArn",
        "coreDeviceExecutionStatus",
        "creationTimestamp",
        "modifiedTimestamp"
      ],
      "type": "structure"
    },
    "EffectiveDeploymentErrorCode": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "EffectiveDeploymentErrorStack": {
      "member": {
        "shape": "EffectiveDeploymentErrorCode"
      },
      "type": "list"
    },
    "EffectiveDeploymentErrorType": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "EffectiveDeploymentErrorTypeList": {
      "member": {
        "shape": "EffectiveDeploymentErrorType"
      },
      "type": "list"
    },
    "EffectiveDeploymentExecutionStatus": {
      "enum": [
        "IN_PROGRESS",
        "QUEUED",
        "FAILED",
        "COMPLETED",
        "TIMED_OUT",
        "CANCELED",
        "REJECTED"
      ],
      "type": "string"
    },
    "EffectiveDeploymentStatusDetails": {
      "documentation": "<p>Contains all error-related information for the deployment record. The status details will be null if the deployment is in a success state.</p> <note> <p>Greengrass nucleus v2.8.0 or later is required to get an accurate <code>errorStack</code> and <code>errorTypes</code> response. This field will not be returned for earlier Greengrass nucleus versions.</p> </note>",
      "members": {
        "errorStack": {
          "documentation": "<p>Contains an ordered list of short error codes that range from the most generic error to the most specific one. The error codes describe the reason for failure whenever the <code>coreDeviceExecutionStatus</code> is in a failed state. The response will be an empty list if there is no error.</p>",
          "shape": "EffectiveDeploymentErrorStack"
        },
        "errorTypes": {
          "documentation": "<p>Contains tags which describe the error. You can use the error types to classify errors to assist with remediating the failure. The response will be an empty list if there is no error.</p>",
          "shape": "EffectiveDeploymentErrorTypeList"
        }
      },
      "type": "structure"
    },
    "EffectiveDeploymentsList": {
      "member": {
        "shape": "EffectiveDeployment"
      },
      "type": "list"
    },
    "FileSystemPath": {
      "type": "string"
    },
    "GGCVersion": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "GenericV2ARN": {
      "pattern": "arn:[^:]*:greengrass:[^:]*:(aws|[0-9]+):(components|deployments|coreDevices):.*",
      "type": "string"
    },
    "GetComponentRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
          "location": "uri",
          "locationName": "arn",
          "shape": "ComponentVersionARN"
        },
        "recipeOutputFormat": {
          "documentation": "<p>The format of the recipe.</p>",
          "location": "querystring",
          "locationName": "recipeOutputFormat",
          "shape": "RecipeOutputFormat"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "GetComponentResponse": {
      "members": {
        "recipe": {
          "documentation": "<p>The recipe of the component version.</p>",
          "shape": "RecipeBlob"
        },
        "recipeOutputFormat": {
          "documentation": "<p>The format of the recipe.</p>",
          "shape": "RecipeOutputFormat"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "recipeOutputFormat",
        "recipe"
      ],
      "type": "structure"
    },
    "GetComponentVersionArtifactRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version. Specify the ARN of a public or a Lambda component version.</p>",
          "location": "uri",
          "locationName": "arn",
          "shape": "ComponentVersionARN"
        },
        "artifactName": {
          "documentation": "<p>The name of the artifact.</p> <p>You can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_GetComponent.html\">GetComponent</a> operation to download the component recipe, which includes the URI of the artifact. The artifact name is the section of the URI after the scheme. For example, in the artifact URI <code>greengrass:SomeArtifact.zip</code>, the artifact name is <code>SomeArtifact.zip</code>.</p>",
          "location": "uri",
          "locationName": "artifactName",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn",
        "artifactName"
      ],
      "type": "structure"
    },
    "GetComponentVersionArtifactResponse": {
      "members": {
        "preSignedUrl": {
          "documentation": "<p>The URL of the artifact.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "preSignedUrl"
      ],
      "type": "structure"
    },
    "GetConnectivityInfoRequest": {
      "members": {
        "thingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "location": "uri",
          "locationName": "thingName",
          "shape": "CoreDeviceThingName"
        }
      },
      "required": [
        "thingName"
      ],
      "type": "structure"
    },
    "GetConnectivityInfoResponse": {
      "members": {
        "connectivityInfo": {
          "documentation": "<p>The connectivity information for the core device.</p>",
          "locationName": "ConnectivityInfo",
          "shape": "connectivityInfoList"
        },
        "message": {
          "documentation": "<p>A message about the connectivity information request.</p>",
          "locationName": "Message",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetCoreDeviceRequest": {
      "members": {
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "location": "uri",
          "locationName": "coreDeviceThingName",
          "shape": "CoreDeviceThingName"
        }
      },
      "required": [
        "coreDeviceThingName"
      ],
      "type": "structure"
    },
    "GetCoreDeviceResponse": {
      "members": {
        "architecture": {
          "documentation": "<p>The computer architecture of the core device.</p>",
          "shape": "CoreDeviceArchitectureString"
        },
        "coreDeviceThingName": {
          "documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
          "shape": "CoreDeviceThingName"
        },
        "coreVersion": {
          "documentation": "<p>The version of the IoT Greengrass Core software that the core device runs. This version is equivalent to the version of the Greengrass nucleus component that runs on the core device. For more information, see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html\">Greengrass nucleus component</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "GGCVersion"
        },
        "lastStatusUpdateTimestamp": {
          "documentation": "<p>The time at which the core device's status last updated, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "platform": {
          "documentation": "<p>The operating system platform that the core device runs.</p>",
          "shape": "CoreDevicePlatformString"
        },
        "status": {
          "documentation": "<p>The status of the core device. The core device status can be:</p> <ul> <li> <p> <code>HEALTHY</code> \u2013 The IoT Greengrass Core software and all components run on the core device without issue.</p> </li> <li> <p> <code>UNHEALTHY</code> \u2013 The IoT Greengrass Core software or a component is in a failed state on the core device.</p> </li> </ul>",
          "shape": "CoreDeviceStatus"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GetDeploymentRequest": {
      "members": {
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "location": "uri",
          "locationName": "deploymentId",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "deploymentId"
      ],
      "type": "structure"
    },
    "GetDeploymentResponse": {
      "members": {
        "components": {
          "documentation": "<p>The components to deploy. This is a dictionary, where each key is the name of a component, and each key's value is the version and configuration to deploy for that component.</p>",
          "shape": "ComponentDeploymentSpecifications"
        },
        "creationTimestamp": {
          "documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "deploymentId": {
          "documentation": "<p>The ID of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "deploymentName": {
          "documentation": "<p>The name of the deployment.</p>",
          "shape": "NullableString"
        },
        "deploymentPolicies": {
          "documentation": "<p>The deployment policies for the deployment. These policies define how the deployment updates components and handles failure.</p>",
          "shape": "DeploymentPolicies"
        },
        "deploymentStatus": {
          "documentation": "<p>The status of the deployment.</p>",
          "shape": "DeploymentStatus"
        },
        "iotJobArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>",
          "shape": "IoTJobARN"
        },
        "iotJobConfiguration": {
          "documentation": "<p>The job configuration for the deployment configuration. The job configuration specifies the rollout, timeout, and stop configurations for the deployment configuration.</p>",
          "shape": "DeploymentIoTJobConfiguration"
        },
        "iotJobId": {
          "documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>",
          "shape": "NullableString"
        },
        "isLatestForTarget": {
          "documentation": "<p>Whether or not the deployment is the latest revision for its target.</p>",
          "shape": "IsLatestForTarget"
        },
        "revisionId": {
          "documentation": "<p>The revision number of the deployment.</p>",
          "shape": "NonEmptyString"
        },
        "tags": {
          "documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
          "shape": "TagMap"
        },
        "targetArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
          "shape": "TargetARN"
        }
      },
      "type": "structure"
    },
    "GetServiceRoleForAccountRequest": {
      "members": {},
      "type": "structure"
    },
    "GetServiceRoleForAccountResponse": {
      "members": {
        "associatedAt": {
          "documentation": "<p>The time when the service role was associated with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region.</p>",
          "locationName": "AssociatedAt",
          "shape": "String"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the service role that is associated with IoT Greengrass for your Amazon Web Services account in this Amazon Web Services Region.</p>",
          "locationName": "RoleArn",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstalledComponent": {
      "documentation": "<p>Contains information about a component on a Greengrass core device.</p>",
      "members": {
        "componentName": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ComponentNameString"
        },
        "componentVersion": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "ComponentVersionString"
        },
        "isRoot": {
          "documentation": "<p>Whether or not the component is a root component.</p>",
          "shape": "IsRoot"
        },
        "lastInstallationSource": {
          "documentation": "<p>The most recent deployment source that brought the component to the Greengrass core device. For a thing group deployment or thing deployment, the source will be the The ID of the deployment. and for local deployments it will be <code>LOCAL</code>.</p>",
          "shape": "NonEmptyString"
        },
        "lastReportedTimestamp": {
          "documentation": "<p>The last time the Greengrass core device sent a message containing a certain component to the Amazon Web Services Cloud.</p> <p>A component does not need to see a state change for this field to update.</p>",
          "shape": "Timestamp"
        },
        "lastStatusChangeTimestamp": {
          "documentation": "<p>The status of how current the data is.</p> <p>This response is based off of component state changes. The status reflects component disruptions and deployments. If a component only sees a configuration update during a deployment, it might not undergo a state change and this status would not be updated.</p>",
          "shape": "Timestamp"
        },
[...]
