{
  "documentation": "<p>The Amazon Chime API (application programming interface) is designed for developers to perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes. It also includes API actions for use with the Amazon Chime SDK, which developers use to build their own communication applications. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\"> Using the Amazon Chime SDK </a> in the <i>Amazon Chime Developer Guide</i>.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p> You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>. </p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>. </p> </dd> <dt>Using REST APIs</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/security-iam.html\">Identity and Access Management for Amazon Chime</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2018-05-01",
    "endpointPrefix": "chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime",
    "serviceId": "Chime",
    "signatureVersion": "v4",
    "uid": "chime-2018-05-01"
  },
  "operations": {
    "AssociatePhoneNumberWithUser": {
      "documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumberWithUserRequest"
      },
      "name": "AssociatePhoneNumberWithUser",
      "output": {
        "shape": "AssociatePhoneNumberWithUserResponse"
      }
    },
    "AssociatePhoneNumbersWithVoiceConnector": {
      "documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "name": "AssociatePhoneNumbersWithVoiceConnector",
      "output": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorResponse"
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "name": "AssociatePhoneNumbersWithVoiceConnectorGroup",
      "output": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      }
    },
    "AssociateSigninDelegateGroupsWithAccount": {
      "documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}?operation=associate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "name": "AssociateSigninDelegateGroupsWithAccount",
      "output": {
        "shape": "AssociateSigninDelegateGroupsWithAccountResponse"
      }
    },
    "BatchCreateAttendee": {
      "documentation": "<p> Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "shape": "BatchCreateAttendeeRequest"
      },
      "name": "BatchCreateAttendee",
      "output": {
        "shape": "BatchCreateAttendeeResponse"
      }
    },
    "BatchCreateChannelMembership": {
      "documentation": "<p>Adds a specified number of users to a channel.</p>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/memberships?operation=batch-create",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchCreateChannelMembershipRequest"
      },
      "name": "BatchCreateChannelMembership",
      "output": {
        "shape": "BatchCreateChannelMembershipResponse"
      }
    },
    "BatchCreateRoomMembership": {
      "documentation": "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "shape": "BatchCreateRoomMembershipRequest"
      },
      "name": "BatchCreateRoomMembership",
      "output": {
        "shape": "BatchCreateRoomMembershipResponse"
      }
    },
    "BatchDeletePhoneNumber": {
      "documentation": "<p> Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted. </p> <p> Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently. </p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeletePhoneNumberRequest"
      },
      "name": "BatchDeletePhoneNumber",
      "output": {
        "shape": "BatchDeletePhoneNumberResponse"
      }
    },
    "BatchSuspendUser": {
      "documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account,but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action.</p> <p> To sign out users without suspending them, use the <a>LogoutUser</a> action. </p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=suspend",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchSuspendUserRequest"
      },
      "name": "BatchSuspendUser",
      "output": {
        "shape": "BatchSuspendUserResponse"
      }
    },
    "BatchUnsuspendUser": {
      "documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\"> Managing Your Amazon Chime Accounts </a> in the account types, in the <i>Amazon Chime Administration Guide</i>. </p> <p> Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored. </p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUnsuspendUserRequest"
      },
      "name": "BatchUnsuspendUser",
      "output": {
        "shape": "BatchUnsuspendUserResponse"
      }
    },
    "BatchUpdatePhoneNumber": {
      "documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type or the calling name.</p> <p>For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdatePhoneNumberRequest"
      },
      "name": "BatchUpdatePhoneNumber",
      "output": {
        "shape": "BatchUpdatePhoneNumberResponse"
      }
    },
    "BatchUpdateUser": {
      "documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateUserRequest"
      },
      "name": "BatchUpdateUser",
      "output": {
        "shape": "BatchUpdateUserResponse"
      }
    },
    "CreateAccount": {
      "documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAccountRequest"
      },
      "name": "CreateAccount",
      "output": {
        "shape": "CreateAccountResponse"
      }
    },
    "CreateAppInstance": {
      "documentation": "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instances",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceRequest"
      },
      "name": "CreateAppInstance",
      "output": {
        "shape": "CreateAppInstanceResponse"
      }
    },
    "CreateAppInstanceAdmin": {
      "documentation": "<p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The promoted user can perform the following actions. </p> <ul> <li> <p> <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p> </li> <li> <p> <code>DeleteChannelMessage</code> actions.</p> </li> </ul> <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instances/{appInstanceArn}/admins",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceAdminRequest"
      },
      "name": "CreateAppInstanceAdmin",
      "output": {
        "shape": "CreateAppInstanceAdminResponse"
      }
    },
    "CreateAppInstanceUser": {
      "documentation": "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/app-instance-users",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppInstanceUserRequest"
      },
      "name": "CreateAppInstanceUser",
      "output": {
        "shape": "CreateAppInstanceUserResponse"
      }
    },
    "CreateAttendee": {
      "documentation": "<p> Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAttendeeRequest"
      },
      "name": "CreateAttendee",
      "output": {
        "shape": "CreateAttendeeResponse"
      }
    },
    "CreateBot": {
      "documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBotRequest"
      },
      "name": "CreateBot",
      "output": {
        "shape": "CreateBotResponse"
      }
    },
    "CreateChannel": {
      "documentation": "<p>Creates a channel to which you can add users and send messages.</p> <p> <b>Restriction</b>: You can't change a channel's privacy.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "name": "CreateChannel",
      "output": {
        "shape": "CreateChannelResponse"
      }
    },
    "CreateChannelBan": {
      "documentation": "<p>Permanently bans a member from a channel. Moderators can't add banned members to a channel. To undo a ban, you first have to <code>DeleteChannelBan</code>, and then <code>CreateChannelMembership</code>. Bans are cleaned up when you delete users or channels.</p> <p>If you ban a user who is already part of a channel, that user is automatically kicked from the channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelBanRequest"
      },
      "name": "CreateChannelBan",
      "output": {
        "shape": "CreateChannelBanResponse"
      }
    },
    "CreateChannelMembership": {
      "documentation": "<p>Adds a user to a channel. The <code>InvitedBy</code> response field is derived from the request header. A channel member can:</p> <ul> <li> <p>List messages</p> </li> <li> <p>Send messages</p> </li> <li> <p>Receive messages</p> </li> <li> <p>Edit their own messages</p> </li> <li> <p>Leave the channel</p> </li> </ul> <p>Privacy settings impact this action as follows:</p> <ul> <li> <p>Public Channels: You do not need to be a member to list messages, but you must be a member to send messages.</p> </li> <li> <p>Private Channels: You must be a member to list or send messages.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelMembershipRequest"
      },
      "name": "CreateChannelMembership",
      "output": {
        "shape": "CreateChannelMembershipResponse"
      }
    },
    "CreateChannelModerator": {
      "documentation": "<p>Creates a new <code>ChannelModerator</code>. A channel moderator can:</p> <ul> <li> <p>Add and remove other members of the channel.</p> </li> <li> <p>Add and remove other moderators of the channel.</p> </li> <li> <p>Add and remove user bans for the channel.</p> </li> <li> <p>Redact messages in the channel.</p> </li> <li> <p>List messages in the channel.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelModeratorRequest"
      },
      "name": "CreateChannelModerator",
      "output": {
        "shape": "CreateChannelModeratorResponse"
      }
    },
    "CreateMediaCapturePipeline": {
      "documentation": "<p>Creates a media capture pipeline.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/media-capture-pipelines",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMediaCapturePipelineRequest"
      },
      "name": "CreateMediaCapturePipeline",
      "output": {
        "shape": "CreateMediaCapturePipelineResponse"
      }
    },
    "CreateMeeting": {
      "documentation": "<p> Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i> . For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i> . </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMeetingRequest"
      },
      "name": "CreateMeeting",
      "output": {
        "shape": "CreateMeetingResponse"
      }
    },
    "CreateMeetingDialOut": {
      "documentation": "<p>Uses the join token and call metadata in a meeting request (From number, To number, and so forth) to initiate an outbound call to a public switched telephone network (PSTN) and join them into a Chime meeting. Also ensures that the From number belongs to the customer.</p> <p>To play welcome audio or implement an interactive voice response (IVR), use the <code>CreateSipMediaApplicationCall</code> action with the corresponding SIP media application ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings/{meetingId}/dial-outs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMeetingDialOutRequest"
      },
      "name": "CreateMeetingDialOut",
      "output": {
        "shape": "CreateMeetingDialOutResponse"
      }
    },
    "CreateMeetingWithAttendees": {
      "documentation": "<p> Creates a new Amazon Chime SDK meeting in the specified media Region, with attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i> . For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i> . </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings?operation=create-attendees",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMeetingWithAttendeesRequest"
      },
      "name": "CreateMeetingWithAttendees",
      "output": {
        "shape": "CreateMeetingWithAttendeesResponse"
      }
    },
    "CreatePhoneNumberOrder": {
      "documentation": "<p>Creates an order for phone numbers to be provisioned. For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePhoneNumberOrderRequest"
      },
      "name": "CreatePhoneNumberOrder",
      "output": {
        "shape": "CreatePhoneNumberOrderResponse"
      }
    },
    "CreateProxySession": {
      "documentation": "<p>Creates a proxy session on the specified Amazon Chime Voice Connector for the specified participant phone numbers.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateProxySessionRequest"
      },
      "name": "CreateProxySession",
      "output": {
        "shape": "CreateProxySessionResponse"
      }
    },
    "CreateRoom": {
      "documentation": "<p>Creates a chat room for the specified Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRoomRequest"
      },
      "name": "CreateRoom",
      "output": {
        "shape": "CreateRoomResponse"
      }
    },
    "CreateRoomMembership": {
      "documentation": "<p>Adds a member to a chat room in an Amazon Chime Enterprise account. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRoomMembershipRequest"
      },
      "name": "CreateRoomMembership",
      "output": {
        "shape": "CreateRoomMembershipResponse"
      }
    },
    "CreateSipMediaApplication": {
      "documentation": "<p>Creates a SIP media application.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sip-media-applications",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSipMediaApplicationRequest"
      },
      "name": "CreateSipMediaApplication",
      "output": {
        "shape": "CreateSipMediaApplicationResponse"
      }
    },
    "CreateSipMediaApplicationCall": {
      "documentation": "<p>Creates an outbound call to a phone number from the phone number specified in the request, and it invokes the endpoint of the specified <code>sipMediaApplicationId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}/calls",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSipMediaApplicationCallRequest"
      },
      "name": "CreateSipMediaApplicationCall",
      "output": {
        "shape": "CreateSipMediaApplicationCallResponse"
      }
    },
    "CreateSipRule": {
      "documentation": "<p>Creates a SIP rule which can be used to run a SIP media application as a target for a specific trigger type.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sip-rules",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSipRuleRequest"
      },
      "name": "CreateSipRule",
      "output": {
        "shape": "CreateSipRuleResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user under the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=create",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "CreateVoiceConnector": {
      "documentation": "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. You can choose to create an Amazon Chime Voice Connector in a specific AWS Region.</p> <p> Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceConnectorRequest"
      },
      "name": "CreateVoiceConnector",
      "output": {
        "shape": "CreateVoiceConnectorResponse"
      }
    },
    "CreateVoiceConnectorGroup": {
      "documentation": "<p>Creates an Amazon Chime Voice Connector group under the administrator's AWS account. You can associate Amazon Chime Voice Connectors with the Amazon Chime Voice Connector group by including <code>VoiceConnectorItems</code> in the request.</p> <p>You can include Amazon Chime Voice Connectors from different AWS Regions in your group. This creates a fault tolerant mechanism for fallback in case of availability events.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceConnectorGroupRequest"
      },
      "name": "CreateVoiceConnectorGroup",
      "output": {
        "shape": "CreateVoiceConnectorGroupResponse"
      }
    },
    "DeleteAccount": {
      "documentation": "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to dodo.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAccountRequest"
      },
      "name": "DeleteAccount",
      "output": {
        "shape": "DeleteAccountResponse"
      }
    },
    "DeleteAppInstance": {
      "documentation": "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceRequest"
      },
      "name": "DeleteAppInstance"
    },
    "DeleteAppInstanceAdmin": {
      "documentation": "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code>. This action does not delete the user.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceAdminRequest"
      },
      "name": "DeleteAppInstanceAdmin"
    },
    "DeleteAppInstanceStreamingConfigurations": {
      "documentation": "<p>Deletes the streaming configurations of an <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instances/{appInstanceArn}/streaming-configurations",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceStreamingConfigurationsRequest"
      },
      "name": "DeleteAppInstanceStreamingConfigurations"
    },
    "DeleteAppInstanceUser": {
      "documentation": "<p>Deletes an <code>AppInstanceUser</code>.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAppInstanceUserRequest"
      },
      "name": "DeleteAppInstanceUser"
    },
    "DeleteAttendee": {
      "documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAttendeeRequest"
      },
      "name": "DeleteAttendee"
    },
    "DeleteChannel": {
      "documentation": "<p>Immediately makes a channel and its memberships inaccessible and marks them for deletion. This is an irreversible process.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "name": "DeleteChannel"
    },
    "DeleteChannelBan": {
      "documentation": "<p>Removes a user from a channel's ban list.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelBanRequest"
      },
      "name": "DeleteChannelBan"
    },
    "DeleteChannelMembership": {
      "documentation": "<p>Removes a member from a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelMembershipRequest"
      },
      "name": "DeleteChannelMembership"
    },
    "DeleteChannelMessage": {
      "documentation": "<p>Deletes a channel message. Only admins can perform this action. Deletion makes messages inaccessible immediately. A background process deletes any revisions created by <code>UpdateChannelMessage</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelMessageRequest"
      },
      "name": "DeleteChannelMessage"
    },
    "DeleteChannelModerator": {
      "documentation": "<p>Deletes a channel moderator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelModeratorRequest"
      },
      "name": "DeleteChannelModerator"
    },
    "DeleteEventsConfiguration": {
      "documentation": "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteEventsConfigurationRequest"
      },
      "name": "DeleteEventsConfiguration"
    },
    "DeleteMediaCapturePipeline": {
      "documentation": "<p>Deletes the media capture pipeline.</p>",
      "errors": [
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/media-capture-pipelines/{mediaPipelineId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMediaCapturePipelineRequest"
      },
      "name": "DeleteMediaCapturePipeline"
    },
    "DeleteMeeting": {
      "documentation": "<p>Deletes the specified Amazon Chime SDK meeting. The operation deletes all attendees, disconnects all clients, and prevents new clients from joining the meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMeetingRequest"
      },
      "name": "DeleteMeeting"
    },
    "DeletePhoneNumber": {
      "documentation": "<p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePhoneNumberRequest"
      },
      "name": "DeletePhoneNumber"
    },
    "DeleteProxySession": {
      "documentation": "<p>Deletes the specified proxy session from the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteProxySessionRequest"
      },
      "name": "DeleteProxySession"
    },
    "DeleteRoom": {
      "documentation": "<p>Deletes a chat room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRoomRequest"
      },
      "name": "DeleteRoom"
    },
    "DeleteRoomMembership": {
      "documentation": "<p>Removes a member from a chat room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRoomMembershipRequest"
      },
      "name": "DeleteRoomMembership"
    },
    "DeleteSipMediaApplication": {
      "documentation": "<p>Deletes a SIP media application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-media-applications/{sipMediaApplicationId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSipMediaApplicationRequest"
      },
      "name": "DeleteSipMediaApplication"
    },
    "DeleteSipRule": {
      "documentation": "<p>Deletes a SIP rule. You must disable a SIP rule before you can delete it.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sip-rules/{sipRuleId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSipRuleRequest"
      },
      "name": "DeleteSipRule"
    },
    "DeleteVoiceConnector": {
      "documentation": "<p>Deletes the specified Amazon Chime Voice Connector. Any phone numbers associated with the Amazon Chime Voice Connector must be disassociated from it before it can be deleted.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorRequest"
      },
      "name": "DeleteVoiceConnector"
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration": {
      "documentation": "<p>Deletes the emergency calling configuration details from the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorEmergencyCallingConfigurationRequest"
      },
      "name": "DeleteVoiceConnectorEmergencyCallingConfiguration"
    },
    "DeleteVoiceConnectorGroup": {
      "documentation": "<p>Deletes the specified Amazon Chime Voice Connector group. Any <code>VoiceConnectorItems</code> and phone numbers associated with the group must be removed before it can be deleted.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorGroupRequest"
      },
      "name": "DeleteVoiceConnectorGroup"
    },
    "DeleteVoiceConnectorOrigination": {
      "documentation": "<p>Deletes the origination settings for the specified Amazon Chime Voice Connector.</p> <note> <p>If emergency calling is configured for the Amazon Chime Voice Connector, it must be deleted prior to deleting the origination settings.</p> </note>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorOriginationRequest"
      },
      "name": "DeleteVoiceConnectorOrigination"
    },
    "DeleteVoiceConnectorProxy": {
      "documentation": "<p>Deletes the proxy configuration from the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorProxyRequest"
      },
      "name": "DeleteVoiceConnectorProxy"
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "documentation": "<p>Deletes the streaming configuration for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorStreamingConfigurationRequest"
      },
      "name": "DeleteVoiceConnectorStreamingConfiguration"
    },
    "DeleteVoiceConnectorTermination": {
      "documentation": "<p>Deletes the termination settings for the specified Amazon Chime Voice Connector.</p> <note> <p>If emergency calling is configured for the Amazon Chime Voice Connector, it must be deleted prior to deleting the termination settings.</p> </note>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorTerminationRequest"
      },
      "name": "DeleteVoiceConnectorTermination"
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "documentation": "<p>Deletes the specified SIP credentials used by your equipment to authenticate during call termination.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorTerminationCredentialsRequest"
      },
      "name": "DeleteVoiceConnectorTerminationCredentials"
    },
    "DescribeAppInstance": {
      "documentation": "<p>Returns the full details of an <code>AppInstance</code>.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppInstanceRequest"
      },
      "name": "DescribeAppInstance",
      "output": {
        "shape": "DescribeAppInstanceResponse"
      }
    },
    "DescribeAppInstanceAdmin": {
      "documentation": "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/admins/{appInstanceAdminArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppInstanceAdminRequest"
      },
      "name": "DescribeAppInstanceAdmin",
      "output": {
        "shape": "DescribeAppInstanceAdminResponse"
      }
    },
    "DescribeAppInstanceUser": {
      "documentation": "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instance-users/{appInstanceUserArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAppInstanceUserRequest"
      },
      "name": "DescribeAppInstanceUser",
      "output": {
        "shape": "DescribeAppInstanceUserResponse"
      }
    },
    "DescribeChannel": {
      "documentation": "<p>Returns the full details of a channel in an Amazon Chime <code>AppInstance</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "name": "DescribeChannel",
      "output": {
        "shape": "DescribeChannelResponse"
      }
    },
    "DescribeChannelBan": {
      "documentation": "<p>Returns the full details of a channel ban.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelBanRequest"
      },
      "name": "DescribeChannelBan",
      "output": {
        "shape": "DescribeChannelBanResponse"
      }
    },
    "DescribeChannelMembership": {
      "documentation": "<p>Returns the full details of a user's channel membership.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelMembershipRequest"
      },
      "name": "DescribeChannelMembership",
      "output": {
        "shape": "DescribeChannelMembershipResponse"
      }
    },
    "DescribeChannelMembershipForAppInstanceUser": {
      "documentation": "<p> Returns the details of a channel based on the membership of the specified <code>AppInstanceUser</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-membership",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelMembershipForAppInstanceUserRequest"
      },
      "name": "DescribeChannelMembershipForAppInstanceUser",
      "output": {
        "shape": "DescribeChannelMembershipForAppInstanceUserResponse"
      }
    },
    "DescribeChannelModeratedByAppInstanceUser": {
      "documentation": "<p>Returns the full details of a channel moderated by the specified <code>AppInstanceUser</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-moderated-channel",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelModeratedByAppInstanceUserRequest"
      },
      "name": "DescribeChannelModeratedByAppInstanceUser",
      "output": {
        "shape": "DescribeChannelModeratedByAppInstanceUserResponse"
      }
    },
    "DescribeChannelModerator": {
      "documentation": "<p>Returns the full details of a single ChannelModerator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelModeratorRequest"
      },
      "name": "DescribeChannelModerator",
      "output": {
        "shape": "DescribeChannelModeratorResponse"
      }
    },
    "DisassociatePhoneNumberFromUser": {
      "documentation": "<p>Disassociates the primary provisioned phone number from the specified Amazon Chime user.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumberFromUserRequest"
      },
      "name": "DisassociatePhoneNumberFromUser",
      "output": {
        "shape": "DisassociatePhoneNumberFromUserResponse"
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "documentation": "<p>Disassociates the specified phone numbers from the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorRequest"
      },
      "name": "DisassociatePhoneNumbersFromVoiceConnector",
      "output": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorResponse"
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "documentation": "<p>Disassociates the specified phone numbers from the specified Amazon Chime Voice Connector group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"
      },
      "name": "DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "output": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"
      }
    },
    "DisassociateSigninDelegateGroupsFromAccount": {
      "documentation": "<p>Disassociates the specified sign-in delegate groups from the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}?operation=disassociate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateSigninDelegateGroupsFromAccountRequest"
      },
      "name": "DisassociateSigninDelegateGroupsFromAccount",
      "output": {
        "shape": "DisassociateSigninDelegateGroupsFromAccountResponse"
      }
    },
    "GetAccount": {
      "documentation": "<p>Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "GetAccountResponse"
      }
    },
    "GetAccountSettings": {
      "documentation": "<p>Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dialout settings. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>. </p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/settings"
      },
      "input": {
        "shape": "GetAccountSettingsRequest"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsResponse"
      }
    },
    "GetAppInstanceRetentionSettings": {
      "documentation": "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
      "endpoint": {
        "hostPrefix": "identity-"
      },
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/retention-settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppInstanceRetentionSettingsRequest"
      },
      "name": "GetAppInstanceRetentionSettings",
      "output": {
        "shape": "GetAppInstanceRetentionSettingsResponse"
      }
    },
    "GetAppInstanceStreamingConfigurations": {
      "documentation": "<p>Gets the streaming settings for an <code>AppInstance</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/app-instances/{appInstanceArn}/streaming-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppInstanceStreamingConfigurationsRequest"
      },
      "name": "GetAppInstanceStreamingConfigurations",
      "output": {
        "shape": "GetAppInstanceStreamingConfigurationsResponse"
      }
    },
    "GetAttendee": {
      "documentation": "<p> Gets the Amazon Chime SDK attendee details for a specified meeting ID and attendee ID. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i> . </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAttendeeRequest"
      },
      "name": "GetAttendee",
      "output": {
        "shape": "GetAttendeeResponse"
      }
    },
    "GetBot": {
      "documentation": "<p>Retrieves details for the specified bot, such as bot email address, bot type, status, and display name.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotRequest"
      },
      "name": "GetBot",
      "output": {
        "shape": "GetBotResponse"
      }
    },
    "GetChannelMessage": {
      "documentation": "<p>Gets the full details of a channel message.</p> <note> <p>The x-amz-chime-bearer request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "endpoint": {
        "hostPrefix": "messaging-"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelMessageRequest"
      },
      "name": "GetChannelMessage",
      "output": {
        "shape": "GetChannelMessageResponse"
      }
    },
    "GetEventsConfiguration": {
      "documentation": "<p>Gets details for an events configuration that allows a bot to receive outgoing events, such as an HTTPS endpoint or Lambda function ARN.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventsConfigurationRequest"
      },
      "name": "GetEventsConfiguration",
      "output": {
        "shape": "GetEventsConfigurationResponse"
      }
    },
    "GetGlobalSettings": {
      "documentation": "<p>Retrieves global settings for the administrator's AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/settings",
[...]
