{
  "documentation": "<p>Security Hub provides you with a comprehensive view of the security state of your Amazon Web Services environment and resources. It also provides you with the readiness status of your environment based on controls from supported security standards. Security Hub collects security data from Amazon Web Services accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html\"> <i>Security HubUser Guide</i> </a>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the Amazon Web Services Region that is currently active or in the specific Amazon Web Services Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to.</p> <p>For example, if your Region is set to <code>us-west-2</code>, when you use <code>CreateMembers</code> to add a member account to Security Hub, the association of the member account with the administrator account is created only in the <code>us-west-2</code> Region. Security Hub must be enabled for the member account in the same Region that the invitation was sent from.</p> <p>The following throttling limits apply to using Security Hub API operations.</p> <ul> <li> <p> <code>BatchEnableStandards</code> - <code>RateLimit</code> of 1 request per second, <code>BurstLimit</code> of 1 request per second.</p> </li> <li> <p> <code>GetFindings</code> - <code>RateLimit</code> of 3 requests per second. <code>BurstLimit</code> of 6 requests per second.</p> </li> <li> <p> <code>BatchImportFindings</code> - <code>RateLimit</code> of 10 requests per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> <li> <p> <code>BatchUpdateFindings</code> - <code>RateLimit</code> of 10 requests per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> <li> <p> <code>UpdateStandardsControl</code> - <code>RateLimit</code> of 1 request per second, <code>BurstLimit</code> of 5 requests per second.</p> </li> <li> <p>All other operations - <code>RateLimit</code> of 10 requests per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/administrator"
      },
      "input": {
        "shape": "AcceptAdministratorInvitationRequest"
      },
      "name": "AcceptAdministratorInvitation",
      "output": {
        "shape": "AcceptAdministratorInvitationResponse"
      }
    },
    "AcceptInvitation": {
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use AcceptAdministratorInvitation API instead.",
      "documentation": "<p>This method is deprecated. Instead, use <code>AcceptAdministratorInvitation</code>.</p> <p>The Security Hub console continues to use <code>AcceptInvitation</code>. It will eventually change to use <code>AcceptAdministratorInvitation</code>. Any IAM policies that specifically control access to this function must continue to use <code>AcceptInvitation</code>. You should also add <code>AcceptAdministratorInvitation</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>AcceptAdministratorInvitation</code>.</p> <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/master"
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation",
      "output": {
        "shape": "AcceptInvitationResponse"
      }
    },
    "BatchDisableStandards": {
      "documentation": "<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/deregister"
      },
      "input": {
        "shape": "BatchDisableStandardsRequest"
      },
      "name": "BatchDisableStandards",
      "output": {
        "shape": "BatchDisableStandardsResponse"
      }
    },
    "BatchEnableStandards": {
      "documentation": "<p>Enables the standards specified by the provided <code>StandardsArn</code>. To obtain the ARN for a standard, use the <code>DescribeStandards</code> operation.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/register"
      },
      "input": {
        "shape": "BatchEnableStandardsRequest"
      },
      "name": "BatchEnableStandards",
      "output": {
        "shape": "BatchEnableStandardsResponse"
      }
    },
    "BatchImportFindings": {
      "documentation": "<p>Imports security findings generated by a finding provider into Security Hub. This action is requested by the finding provider to import its findings into Security Hub.</p> <p> <code>BatchImportFindings</code> must be called by one of the following:</p> <ul> <li> <p>The Amazon Web Services account that is associated with a finding if you are using the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-custom-providers.html#securityhub-custom-providers-bfi-reqs\">default product ARN</a> or are a partner sending findings from within a customer's Amazon Web Services account. In these cases, the identifier of the account that you are calling <code>BatchImportFindings</code> from needs to be the same as the <code>AwsAccountId</code> attribute for the finding.</p> </li> <li> <p>An Amazon Web Services account that Security Hub has allow-listed for an official partner integration. In this case, you can call <code>BatchImportFindings</code> from the allow-listed account and send findings from different customer accounts in the same batch.</p> </li> </ul> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p> <p>After a finding is created, <code>BatchImportFindings</code> cannot be used to update the following finding fields and objects, which Security Hub customers use to manage their investigation workflow.</p> <ul> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p>Finding providers also should not use <code>BatchImportFindings</code> to update the following attributes.</p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> </ul> <p>Instead, finding providers use <code>FindingProviderFields</code> to provide values for these attributes.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings/import"
      },
      "input": {
        "shape": "BatchImportFindingsRequest"
      },
      "name": "BatchImportFindings",
      "output": {
        "shape": "BatchImportFindingsResponse"
      }
    },
    "BatchUpdateFindings": {
      "documentation": "<p>Used by Security Hub customers to update information about their investigation into a finding. Requested by administrator accounts or member accounts. Administrator accounts can update findings for their account and their member accounts. Member accounts can update findings for their account.</p> <p>Updates from <code>BatchUpdateFindings</code> do not affect the value of <code>UpdatedAt</code> for a finding.</p> <p>Administrator and member accounts can use <code>BatchUpdateFindings</code> to update the following finding fields and objects.</p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p>You can configure IAM policies to restrict access to fields and field values. For example, you might not want member accounts to be able to suppress findings or change the finding severity. See <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-update-batchupdatefindings.html#batchupdatefindings-configure-access\">Configuring access to BatchUpdateFindings</a> in the <i>Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/findings/batchupdate"
      },
      "input": {
        "shape": "BatchUpdateFindingsRequest"
      },
      "name": "BatchUpdateFindings",
      "output": {
        "shape": "BatchUpdateFindingsResponse"
      }
    },
    "CreateActionTarget": {
      "documentation": "<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets"
      },
      "input": {
        "shape": "CreateActionTargetRequest"
      },
      "name": "CreateActionTarget",
      "output": {
        "shape": "CreateActionTargetResponse"
      }
    },
    "CreateFindingAggregator": {
      "documentation": "<p>Used to enable finding aggregation. Must be called from the aggregation Region.</p> <p>For more details about cross-Region replication, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-aggregation.html\">Configuring finding aggregation</a> in the <i>Security Hub User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findingAggregator/create"
      },
      "input": {
        "shape": "CreateFindingAggregatorRequest"
      },
      "name": "CreateFindingAggregator",
      "output": {
        "shape": "CreateFindingAggregatorResponse"
      }
    },
    "CreateInsight": {
      "documentation": "<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights"
      },
      "input": {
        "shape": "CreateInsightRequest"
      },
      "name": "CreateInsight",
      "output": {
        "shape": "CreateInsightResponse"
      }
    },
    "CreateMembers": {
      "documentation": "<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the administrator account. If you are integrated with Organizations, then the administrator account is designated by the organization management account.</p> <p> <code>CreateMembers</code> is always used to add accounts that are not organization members.</p> <p>For accounts that are managed using Organizations, <code>CreateMembers</code> is only used in the following cases:</p> <ul> <li> <p>Security Hub is not configured to automatically add new organization accounts.</p> </li> <li> <p>The account was disassociated or deleted in Security Hub.</p> </li> </ul> <p>This action can only be used by an account that has Security Hub enabled. To enable Security Hub, you can use the <code>EnableSecurityHub</code> operation.</p> <p>For accounts that are not organization members, you create the account association and then send an invitation to the member account. To send the invitation, you use the <code>InviteMembers</code> operation. If the account owner accepts the invitation, the account becomes a member account in Security Hub.</p> <p>Accounts that are managed using Organizations do not receive an invitation. They automatically become a member account in Security Hub.</p> <ul> <li> <p>If the organization account does not have Security Hub enabled, then Security Hub and the default standards are automatically enabled. Note that Security Hub cannot be enabled automatically for the organization management account. The organization management account must enable Security Hub before the administrator account enables it as a member account.</p> </li> <li> <p>For organization accounts that already have Security Hub enabled, Security Hub does not make any other changes to those accounts. It does not change their enabled standards or controls.</p> </li> </ul> <p>A permissions policy is added that permits the administrator account to view the findings generated in the member account.</p> <p>To remove the association between the administrator and member accounts, use the <code>DisassociateFromMasterAccount</code> or <code>DisassociateMembers</code> operation.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members"
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "name": "CreateMembers",
      "output": {
        "shape": "CreateMembersResponse"
      }
    },
    "DeclineInvitations": {
      "documentation": "<p>Declines invitations to become a member account.</p> <p>This operation is only used by accounts that are not part of an organization. Organization accounts do not receive invitations.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline"
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "name": "DeclineInvitations",
      "output": {
        "shape": "DeclineInvitationsResponse"
      }
    },
    "DeleteActionTarget": {
      "documentation": "<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "DeleteActionTargetRequest"
      },
      "name": "DeleteActionTarget",
      "output": {
        "shape": "DeleteActionTargetResponse"
      }
    },
    "DeleteFindingAggregator": {
      "documentation": "<p>Deletes a finding aggregator. When you delete the finding aggregator, you stop finding aggregation.</p> <p>When you stop finding aggregation, findings that were already aggregated to the aggregation Region are still visible from the aggregation Region. New findings and finding updates are not aggregated. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/findingAggregator/delete/{FindingAggregatorArn+}"
      },
      "input": {
        "shape": "DeleteFindingAggregatorRequest"
      },
      "name": "DeleteFindingAggregator",
      "output": {
        "shape": "DeleteFindingAggregatorResponse"
      }
    },
    "DeleteInsight": {
      "documentation": "<p>Deletes the insight specified by the <code>InsightArn</code>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "DeleteInsightRequest"
      },
      "name": "DeleteInsight",
      "output": {
        "shape": "DeleteInsightResponse"
      }
    },
    "DeleteInvitations": {
      "documentation": "<p>Deletes invitations received by the Amazon Web Services account to become a member account.</p> <p>This operation is only used by accounts that are not part of an organization. Organization accounts do not receive invitations.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete"
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "name": "DeleteInvitations",
      "output": {
        "shape": "DeleteInvitationsResponse"
      }
    },
    "DeleteMembers": {
      "documentation": "<p>Deletes the specified member accounts from Security Hub.</p> <p>Can be used to delete member accounts that belong to an organization as well as member accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/delete"
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "name": "DeleteMembers",
      "output": {
        "shape": "DeleteMembersResponse"
      }
    },
    "DescribeActionTargets": {
      "documentation": "<p>Returns a list of the custom action targets in Security Hub in your account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "shape": "DescribeActionTargetsRequest"
      },
      "name": "DescribeActionTargets",
      "output": {
        "shape": "DescribeActionTargetsResponse"
      }
    },
    "DescribeHub": {
      "documentation": "<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DescribeHubRequest"
      },
      "name": "DescribeHub",
      "output": {
        "shape": "DescribeHubResponse"
      }
    },
    "DescribeOrganizationConfiguration": {
      "documentation": "<p>Returns information about the Organizations configuration for Security Hub. Can only be called from a Security Hub administrator account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/organization/configuration"
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "name": "DescribeOrganizationConfiguration",
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse"
      }
    },
    "DescribeProducts": {
      "documentation": "<p>Returns information about product integrations in Security Hub.</p> <p>You can optionally provide an integration ARN. If you provide an integration ARN, then the results only include that integration.</p> <p>If you do not provide an integration ARN, then the results include all of the available product integrations. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "shape": "DescribeProductsRequest"
      },
      "name": "DescribeProducts",
      "output": {
        "shape": "DescribeProductsResponse"
      }
    },
    "DescribeStandards": {
      "documentation": "<p>Returns a list of the available standards in Security Hub.</p> <p>For each standard, the results include the standard ARN, the name, and a description. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "shape": "DescribeStandardsRequest"
      },
      "name": "DescribeStandards",
      "output": {
        "shape": "DescribeStandardsResponse"
      }
    },
    "DescribeStandardsControls": {
      "documentation": "<p>Returns a list of security standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "shape": "DescribeStandardsControlsRequest"
      },
      "name": "DescribeStandardsControls",
      "output": {
        "shape": "DescribeStandardsControlsResponse"
      }
    },
    "DisableImportFindingsForProduct": {
      "documentation": "<p>Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "shape": "DisableImportFindingsForProductRequest"
      },
      "name": "DisableImportFindingsForProduct",
      "output": {
        "shape": "DisableImportFindingsForProductResponse"
      }
    },
    "DisableOrganizationAdminAccount": {
      "documentation": "<p>Disables a Security Hub administrator account. Can only be called by the organization management account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/admin/disable"
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "name": "DisableOrganizationAdminAccount",
      "output": {
        "shape": "DisableOrganizationAdminAccountResponse"
      }
    },
    "DisableSecurityHub": {
      "documentation": "<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for an administrator account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your administrator and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DisableSecurityHubRequest"
      },
      "name": "DisableSecurityHub",
      "output": {
        "shape": "DisableSecurityHubResponse"
      }
    },
    "DisassociateFromAdministratorAccount": {
      "documentation": "<p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/administrator/disassociate"
      },
      "input": {
        "shape": "DisassociateFromAdministratorAccountRequest"
      },
      "name": "DisassociateFromAdministratorAccount",
      "output": {
        "shape": "DisassociateFromAdministratorAccountResponse"
      }
    },
    "DisassociateFromMasterAccount": {
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use DisassociateFromAdministratorAccount API instead.",
      "documentation": "<p>This method is deprecated. Instead, use <code>DisassociateFromAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>DisassociateFromMasterAccount</code>. It will eventually change to use <code>DisassociateFromAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>DisassociateFromMasterAccount</code>. You should also add <code>DisassociateFromAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>DisassociateFromAdministratorAccount</code>.</p> <p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate"
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "name": "DisassociateFromMasterAccount",
      "output": {
        "shape": "DisassociateFromMasterAccountResponse"
      }
    },
    "DisassociateMembers": {
      "documentation": "<p>Disassociates the specified member accounts from the associated administrator account.</p> <p>Can be used to disassociate both accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate"
      },
      "input": {
        "shape": "DisassociateMembersRequest"
      },
      "name": "DisassociateMembers",
      "output": {
        "shape": "DisassociateMembersResponse"
      }
    },
    "EnableImportFindingsForProduct": {
      "documentation": "<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permissions policy that grants permission for the product to send findings to Security Hub is applied.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "EnableImportFindingsForProductRequest"
      },
      "name": "EnableImportFindingsForProduct",
      "output": {
        "shape": "EnableImportFindingsForProductResponse"
      }
    },
    "EnableOrganizationAdminAccount": {
      "documentation": "<p>Designates the Security Hub administrator account for an organization. Can only be called by the organization management account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/admin/enable"
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "name": "EnableOrganizationAdminAccount",
      "output": {
        "shape": "EnableOrganizationAdminAccountResponse"
      }
    },
    "EnableSecurityHub": {
      "documentation": "<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from other services that are integrated with Security Hub.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the following standards.</p> <ul> <li> <p>CIS Amazon Web Services Foundations</p> </li> <li> <p>Amazon Web Services Foundational Security Best Practices</p> </li> </ul> <p>You do not enable the Payment Card Industry Data Security Standard (PCI DSS) standard. </p> <p>To not enable the automatically enabled standards, set <code>EnableDefaultStandards</code> to <code>false</code>.</p> <p>After you enable Security Hub, to enable a standard, use the <code>BatchEnableStandards</code> operation. To disable a standard, use the <code>BatchDisableStandards</code> operation.</p> <p>To learn more, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">setup information</a> in the <i>Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "EnableSecurityHubRequest"
      },
      "name": "EnableSecurityHub",
      "output": {
        "shape": "EnableSecurityHubResponse"
      }
    },
    "GetAdministratorAccount": {
      "documentation": "<p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/administrator"
      },
      "input": {
        "shape": "GetAdministratorAccountRequest"
      },
      "name": "GetAdministratorAccount",
      "output": {
        "shape": "GetAdministratorAccountResponse"
      }
    },
    "GetEnabledStandards": {
      "documentation": "<p>Returns a list of the standards that are currently enabled.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/get"
      },
      "input": {
        "shape": "GetEnabledStandardsRequest"
      },
      "name": "GetEnabledStandards",
      "output": {
        "shape": "GetEnabledStandardsResponse"
      }
    },
    "GetFindingAggregator": {
      "documentation": "<p>Returns the current finding aggregation configuration.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/get/{FindingAggregatorArn+}"
      },
      "input": {
        "shape": "GetFindingAggregatorRequest"
      },
      "name": "GetFindingAggregator",
      "output": {
        "shape": "GetFindingAggregatorResponse"
      }
    },
    "GetFindings": {
      "documentation": "<p>Returns a list of findings that match the specified criteria.</p> <p>If finding aggregation is enabled, then when you call <code>GetFindings</code> from the aggregation Region, the results include all of the matching findings from both the aggregation Region and the linked Regions.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "name": "GetFindings",
      "output": {
        "shape": "GetFindingsResponse"
      }
    },
    "GetInsightResults": {
      "documentation": "<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "shape": "GetInsightResultsRequest"
      },
      "name": "GetInsightResults",
      "output": {
        "shape": "GetInsightResultsResponse"
      }
    },
    "GetInsights": {
      "documentation": "<p>Lists and describes insights for the specified insight ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights/get"
      },
      "input": {
        "shape": "GetInsightsRequest"
      },
      "name": "GetInsights",
      "output": {
        "shape": "GetInsightsResponse"
      }
    },
    "GetInvitationsCount": {
      "documentation": "<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "name": "GetInvitationsCount",
      "output": {
        "shape": "GetInvitationsCountResponse"
      }
    },
    "GetMasterAccount": {
      "deprecated": true,
      "deprecatedMessage": "This API has been deprecated, use GetAdministratorAccount API instead.",
      "documentation": "<p>This method is deprecated. Instead, use <code>GetAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>GetMasterAccount</code>. It will eventually change to use <code>GetAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>GetMasterAccount</code>. You should also add <code>GetAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>GetAdministratorAccount</code>.</p> <p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "name": "GetMasterAccount",
      "output": {
        "shape": "GetMasterAccountResponse"
      }
    },
    "GetMembers": {
      "documentation": "<p>Returns the details for the Security Hub member accounts for the specified account IDs.</p> <p>An administrator account can be either the delegated Security Hub administrator account for an organization or an administrator account that enabled Security Hub manually.</p> <p>The results include both member accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/get"
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "name": "GetMembers",
      "output": {
        "shape": "GetMembersResponse"
      }
    },
    "InviteMembers": {
      "documentation": "<p>Invites other Amazon Web Services accounts to become member accounts for the Security Hub administrator account that the invitation is sent from.</p> <p>This operation is only used to invite accounts that do not belong to an organization. Organization accounts do not receive invitations.</p> <p>Before you can use this action to invite a member, you must first use the <code>CreateMembers</code> action to create the member account in Security Hub.</p> <p>When the account owner enables Security Hub and accepts the invitation to become a member account, the administrator account can view the findings generated from the member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/invite"
      },
      "input": {
        "shape": "InviteMembersRequest"
      },
      "name": "InviteMembers",
      "output": {
        "shape": "InviteMembersResponse"
      }
    },
    "ListEnabledProductsForImport": {
      "documentation": "<p>Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "ListEnabledProductsForImportRequest"
      },
      "name": "ListEnabledProductsForImport",
      "output": {
        "shape": "ListEnabledProductsForImportResponse"
      }
    },
    "ListFindingAggregators": {
      "documentation": "<p>If finding aggregation is enabled, then <code>ListFindingAggregators</code> returns the ARN of the finding aggregator. You can run this operation from any Region.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findingAggregator/list"
      },
      "input": {
        "shape": "ListFindingAggregatorsRequest"
      },
      "name": "ListFindingAggregators",
      "output": {
        "shape": "ListFindingAggregatorsResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Lists all Security Hub membership invitations that were sent to the current Amazon Web Services account.</p> <p>This operation is only used by accounts that are managed by invitation. Accounts that are managed using the integration with Organizations do not receive invitations.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "shape": "ListInvitationsResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Lists details about all member accounts for the current Security Hub administrator account.</p> <p>The results include both member accounts that belong to an organization and member accounts that were invited manually.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersResponse"
      }
    },
    "ListOrganizationAdminAccounts": {
      "documentation": "<p>Lists the Security Hub administrator accounts. Can only be called by the organization management account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/organization/admin"
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "name": "ListOrganizationAdminAccounts",
      "output": {
        "shape": "ListOrganizationAdminAccountsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateActionTarget": {
      "documentation": "<p>Updates the name and description of a custom action target in Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "UpdateActionTargetRequest"
      },
      "name": "UpdateActionTarget",
      "output": {
        "shape": "UpdateActionTargetResponse"
      }
    },
    "UpdateFindingAggregator": {
      "documentation": "<p>Updates the finding aggregation configuration. Used to update the Region linking mode and the list of included or excluded Regions. You cannot use <code>UpdateFindingAggregator</code> to change the aggregation Region.</p> <p>You must run <code>UpdateFindingAggregator</code> from the current aggregation Region. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/findingAggregator/update"
      },
      "input": {
        "shape": "UpdateFindingAggregatorRequest"
      },
      "name": "UpdateFindingAggregator",
      "output": {
        "shape": "UpdateFindingAggregatorResponse"
      }
    },
    "UpdateFindings": {
      "documentation": "<p> <code>UpdateFindings</code> is deprecated. Instead of <code>UpdateFindings</code>, use <code>BatchUpdateFindings</code>.</p> <p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "name": "UpdateFindings",
      "output": {
        "shape": "UpdateFindingsResponse"
      }
    },
    "UpdateInsight": {
      "documentation": "<p>Updates the Security Hub insight identified by the specified insight ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "UpdateInsightRequest"
      },
      "name": "UpdateInsight",
      "output": {
        "shape": "UpdateInsightResponse"
      }
    },
    "UpdateOrganizationConfiguration": {
      "documentation": "<p>Used to update the configuration related to Organizations. Can only be called from a Security Hub administrator account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/configuration"
      },
      "input": {
        "shape": "UpdateOrganizationConfigurationRequest"
      },
      "name": "UpdateOrganizationConfiguration",
      "output": {
        "shape": "UpdateOrganizationConfigurationResponse"
      }
    },
    "UpdateSecurityHubConfiguration": {
      "documentation": "<p>Updates configuration options for Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "UpdateSecurityHubConfigurationRequest"
      },
      "name": "UpdateSecurityHubConfiguration",
      "output": {
        "shape": "UpdateSecurityHubConfigurationResponse"
      }
    },
    "UpdateStandardsControl": {
      "documentation": "<p>Used to control whether an individual security standard control is enabled or disabled.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "shape": "UpdateStandardsControlRequest"
      },
      "name": "UpdateStandardsControl",
      "output": {
        "shape": "UpdateStandardsControlResponse"
      }
    }
  },
  "shapes": {
    "AcceptAdministratorInvitationRequest": {
      "members": {
        "AdministratorId": {
          "documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
          "shape": "NonEmptyString"
        },
        "InvitationId": {
          "documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "AdministratorId",
        "InvitationId"
      ],
      "type": "structure"
    },
    "AcceptAdministratorInvitationResponse": {
      "members": {},
      "type": "structure"
    },
    "AcceptInvitationRequest": {
      "members": {
        "InvitationId": {
          "documentation": "<p>The identifier of the invitation sent from the Security Hub administrator account.</p>",
          "shape": "NonEmptyString"
        },
        "MasterId": {
          "documentation": "<p>The account ID of the Security Hub administrator account that sent the invitation.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "MasterId",
        "InvitationId"
      ],
      "type": "structure"
    },
    "AcceptInvitationResponse": {
      "members": {},
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "NonEmptyString"
        },
        "Message": {
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AccountDetails": {
      "documentation": "<p>The details of an Amazon Web Services account.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of an Amazon Web Services account.</p>",
          "shape": "AccountId"
        },
        "Email": {
          "documentation": "<p>The email of an Amazon Web Services account.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "AccountDetailsList": {
      "member": {
        "shape": "AccountDetails"
      },
      "type": "list"
    },
    "AccountId": {
      "type": "string"
    },
    "AccountIdList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "Action": {
      "documentation": "<p>Provides details about one of the following actions that affects or that was taken on a resource:</p> <ul> <li> <p>A remote IP address issued an Amazon Web Services API call</p> </li> <li> <p>A DNS request was received</p> </li> <li> <p>A remote IP address attempted to connect to an EC2 instance</p> </li> <li> <p>A remote IP address attempted a port probe on an EC2 instance</p> </li> </ul>",
      "members": {
        "ActionType": {
          "documentation": "<p>The type of action that was detected. The possible action types are:</p> <ul> <li> <p> <code>NETWORK_CONNECTION</code> </p> </li> <li> <p> <code>AWS_API_CALL</code> </p> </li> <li> <p> <code>DNS_REQUEST</code> </p> </li> <li> <p> <code>PORT_PROBE</code> </p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "AwsApiCallAction": {
          "documentation": "<p>Included if <code>ActionType</code> is <code>AWS_API_CALL</code>. Provides details about the API call that was detected. </p>",
          "shape": "AwsApiCallAction"
        },
        "DnsRequestAction": {
          "documentation": "<p>Included if <code>ActionType</code> is <code>DNS_REQUEST</code>. Provides details about the DNS request that was detected. </p>",
          "shape": "DnsRequestAction"
        },
        "NetworkConnectionAction": {
          "documentation": "<p>Included if <code>ActionType</code> is <code>NETWORK_CONNECTION</code>. Provides details about the network connection that was detected.</p>",
          "shape": "NetworkConnectionAction"
        },
        "PortProbeAction": {
          "documentation": "<p>Included if <code>ActionType</code> is <code>PORT_PROBE</code>. Provides details about the port probe that was detected. </p>",
          "shape": "PortProbeAction"
        }
      },
      "type": "structure"
    },
    "ActionLocalIpDetails": {
      "documentation": "<p>Provides information about the IP address where the scanned port is located.</p>",
      "members": {
        "IpAddressV4": {
          "documentation": "<p>The IP address.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ActionLocalPortDetails": {
      "documentation": "<p>For <code>NetworkConnectionAction</code> and <code>PortProbeDetails</code>, <code>LocalPortDetails</code> provides information about the local port that was involved in the action.</p>",
      "members": {
        "Port": {
          "documentation": "<p>The number of the port.</p>",
          "shape": "Integer"
        },
        "PortName": {
          "documentation": "<p>The port name of the local connection.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ActionRemoteIpDetails": {
      "documentation": "<p>For <code>AwsApiAction</code>, <code>NetworkConnectionAction</code>, and <code>PortProbeAction</code>, <code>RemoteIpDetails</code> provides information about the remote IP address that was involved in the action.</p>",
      "members": {
        "City": {
          "documentation": "<p>The city where the remote IP address is located.</p>",
          "shape": "City"
        },
        "Country": {
          "documentation": "<p>The country where the remote IP address is located.</p>",
          "shape": "Country"
        },
        "GeoLocation": {
          "documentation": "<p>The coordinates of the location of the remote IP address.</p>",
          "shape": "GeoLocation"
        },
        "IpAddressV4": {
          "documentation": "<p>The IP address.</p>",
          "shape": "NonEmptyString"
        },
        "Organization": {
          "documentation": "<p>The internet service provider (ISP) organization associated with the remote IP address.</p>",
          "shape": "IpOrganizationDetails"
        }
      },
      "type": "structure"
    },
    "ActionRemotePortDetails": {
      "documentation": "<p>Provides information about the remote port that was involved in an attempted network connection.</p>",
      "members": {
        "Port": {
          "documentation": "<p>The number of the port.</p>",
          "shape": "Integer"
        },
        "PortName": {
          "documentation": "<p>The port name of the remote connection.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ActionTarget": {
      "documentation": "<p>An <code>ActionTarget</code> object.</p>",
      "members": {
        "ActionTargetArn": {
          "documentation": "<p>The ARN for the target action.</p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>The description of the target action.</p>",
          "shape": "NonEmptyString"
        },
        "Name": {
          "documentation": "<p>The name of the action target.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "type": "structure"
    },
    "ActionTargetList": {
      "member": {
        "shape": "ActionTarget"
      },
      "type": "list"
    },
    "Adjustment": {
      "documentation": "<p>An adjustment to the CVSS metric.</p>",
      "members": {
        "Metric": {
          "documentation": "<p>The metric to adjust.</p>",
          "shape": "NonEmptyString"
        },
        "Reason": {
          "documentation": "<p>The reason for the adjustment.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AdjustmentList": {
      "member": {
        "shape": "Adjustment"
      },
      "type": "list"
    },
    "AdminAccount": {
      "documentation": "<p>Represents a Security Hub administrator account designated by an organization management account.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The Amazon Web Services account identifier of the Security Hub administrator account.</p>",
          "shape": "NonEmptyString"
        },
        "Status": {
          "documentation": "<p>The current status of the Security Hub administrator account. Indicates whether the account is currently enabled as a Security Hub administrator.</p>",
          "shape": "AdminStatus"
        }
      },
      "type": "structure"
    },
    "AdminAccounts": {
      "member": {
        "shape": "AdminAccount"
      },
      "type": "list"
    },
    "AdminStatus": {
      "enum": [
        "ENABLED",
        "DISABLE_IN_PROGRESS"
      ],
      "type": "string"
    },
    "AdminsMaxResults": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "ArnList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "AutoEnableStandards": {
      "enum": [
        "NONE",
        "DEFAULT"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>Information about an Availability Zone.</p>",
      "members": {
        "SubnetId": {
          "documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>",
          "shape": "NonEmptyString"
        },
        "ZoneName": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "AvailabilityZone"
      },
      "type": "list"
    },
    "AwsApiCallAction": {
      "documentation": "<p>Provided if <code>ActionType</code> is <code>AWS_API_CALL</code>. It provides details about the API call that was detected.</p>",
      "members": {
        "AffectedResources": {
          "documentation": "<p>Identifies the resources that were affected by the API call.</p>",
          "shape": "FieldMap"
        },
        "Api": {
          "documentation": "<p>The name of the API method that was issued.</p>",
          "shape": "NonEmptyString"
        },
        "CallerType": {
          "documentation": "<p>Indicates whether the API call originated from a remote IP address (<code>remoteip</code>) or from a DNS domain (<code>domain</code>).</p>",
          "shape": "NonEmptyString"
        },
        "DomainDetails": {
          "documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. Provides information about the DNS domain that the API call originated from.</p>",
          "shape": "AwsApiCallActionDomainDetails"
        },
        "FirstSeen": {
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was first observed.</p>",
          "shape": "NonEmptyString"
        },
        "LastSeen": {
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the API call was most recently observed.</p>",
          "shape": "NonEmptyString"
        },
        "RemoteIpDetails": {
          "documentation": "<p>Provided if <code>CallerType</code> is <code>remoteIp</code>. Provides information about the remote IP address that the API call originated from.</p>",
          "shape": "ActionRemoteIpDetails"
        },
        "ServiceName": {
          "documentation": "<p>The name of the Amazon Web Services service that the API method belongs to.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiCallActionDomainDetails": {
      "documentation": "<p>Provided if <code>CallerType</code> is <code>domain</code>. It provides information about the DNS domain that issued the API call.</p>",
      "members": {
        "Domain": {
          "documentation": "<p>The name of the DNS domain that issued the API call.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayAccessLogSettings": {
      "documentation": "<p>Contains information about settings for logging access for the stage.</p>",
      "members": {
        "DestinationArn": {
          "documentation": "<p>The ARN of the CloudWatch Logs log group that receives the access logs.</p>",
          "shape": "NonEmptyString"
        },
        "Format": {
          "documentation": "<p>A single-line format of the access logs of data, as specified by selected <code>$context</code> variables. The format must include at least <code>$context.requestId</code>.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayCanarySettings": {
      "documentation": "<p>Contains information about settings for canary deployment in the stage.</p>",
      "members": {
        "DeploymentId": {
          "documentation": "<p>The deployment identifier for the canary deployment.</p>",
          "shape": "NonEmptyString"
        },
        "PercentTraffic": {
          "documentation": "<p>The percentage of traffic that is diverted to a canary deployment.</p>",
          "shape": "Double"
        },
        "StageVariableOverrides": {
          "documentation": "<p>Stage variables that are overridden in the canary release deployment. The variables include new stage variables that are introduced in the canary.</p> <p>Each variable is represented as a string-to-string map between the stage variable name and the variable value.</p>",
          "shape": "FieldMap"
        },
        "UseStageCache": {
          "documentation": "<p>Indicates whether the canary deployment uses the stage cache.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayEndpointConfiguration": {
      "documentation": "<p>Contains information about the endpoints for the API.</p>",
      "members": {
        "Types": {
          "documentation": "<p>A list of endpoint types for the REST API.</p> <p>For an edge-optimized API, the endpoint type is <code>EDGE</code>. For a Regional API, the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is <code>PRIVATE</code>.</p>",
          "shape": "NonEmptyStringList"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayMethodSettings": {
      "documentation": "<p>Defines settings for a method for the stage.</p>",
      "members": {
        "CacheDataEncrypted": {
          "documentation": "<p>Indicates whether the cached responses are encrypted. </p>",
          "shape": "Boolean"
        },
        "CacheTtlInSeconds": {
          "documentation": "<p>Specifies the time to live (TTL), in seconds, for cached responses. The higher the TTL, the longer the response is cached.</p>",
          "shape": "Integer"
        },
        "CachingEnabled": {
          "documentation": "<p>Indicates whether responses are cached and returned for requests. For responses to be cached, a cache cluster must be enabled on the stage.</p>",
          "shape": "Boolean"
        },
        "DataTraceEnabled": {
          "documentation": "<p>Indicates whether data trace logging is enabled for the method. Data trace logging affects the log entries that are pushed to CloudWatch Logs.</p>",
          "shape": "Boolean"
        },
        "HttpMethod": {
          "documentation": "<p>The HTTP method. You can use an asterisk (*) as a wildcard to apply method settings to multiple methods.</p>",
          "shape": "NonEmptyString"
        },
        "LoggingLevel": {
          "documentation": "<p>The logging level for this method. The logging level affects the log entries that are pushed to CloudWatch Logs.</p> <p>If the logging level is <code>ERROR</code>, then the logs only include error-level entries.</p> <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code> events and extra informational events.</p> <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code> </p>",
          "shape": "NonEmptyString"
        },
        "MetricsEnabled": {
          "documentation": "<p>Indicates whether CloudWatch metrics are enabled for the method. </p>",
          "shape": "Boolean"
        },
        "RequireAuthorizationForCacheControl": {
          "documentation": "<p>Indicates whether authorization is required for a cache invalidation request.</p>",
          "shape": "Boolean"
        },
        "ResourcePath": {
          "documentation": "<p>The resource path for this method. Forward slashes (/) are encoded as ~1 . The initial slash must include a forward slash.</p> <p>For example, the path value <code>/resource/subresource</code> must be encoded as <code>/~1resource~1subresource</code>.</p> <p>To specify the root path, use only a slash (/). You can use an asterisk (*) as a wildcard to apply method settings to multiple methods.</p>",
          "shape": "NonEmptyString"
        },
        "ThrottlingBurstLimit": {
          "documentation": "<p>The throttling burst limit for the method.</p>",
          "shape": "Integer"
        },
        "ThrottlingRateLimit": {
          "documentation": "<p>The throttling rate limit for the method.</p>",
          "shape": "Double"
        },
        "UnauthorizedCacheControlHeaderStrategy": {
          "documentation": "<p>Indicates how to handle unauthorized requests for cache invalidation.</p> <p>Valid values: <code>FAIL_WITH_403</code> | <code>SUCCEED_WITH_RESPONSE_HEADER</code> | <code>SUCCEED_WITHOUT_RESPONSE_HEADER</code> </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayMethodSettingsList": {
      "member": {
        "shape": "AwsApiGatewayMethodSettings"
      },
      "type": "list"
    },
    "AwsApiGatewayRestApiDetails": {
      "documentation": "<p>Contains information about a REST API in version 1 of Amazon API Gateway.</p>",
      "members": {
        "ApiKeySource": {
          "documentation": "<p>The source of the API key for metering requests according to a usage plan.</p> <p> <code>HEADER</code> indicates whether to read the API key from the X-API-Key header of a request.</p> <p> <code>AUTHORIZER</code> indicates whether to read the API key from the <code>UsageIdentifierKey</code> from a custom authorizer.</p>",
          "shape": "NonEmptyString"
        },
        "BinaryMediaTypes": {
          "documentation": "<p>The list of binary media types supported by the REST API.</p>",
          "shape": "NonEmptyStringList"
        },
        "CreatedDate": {
          "documentation": "<p>Indicates when the API was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>A description of the REST API.</p>",
          "shape": "NonEmptyString"
        },
        "EndpointConfiguration": {
          "documentation": "<p>The endpoint configuration of the REST API.</p>",
          "shape": "AwsApiGatewayEndpointConfiguration"
        },
        "Id": {
          "documentation": "<p>The identifier of the REST API.</p>",
          "shape": "NonEmptyString"
        },
        "MinimumCompressionSize": {
          "documentation": "<p>The minimum size in bytes of a payload before compression is enabled.</p> <p>If <code>null</code>, then compression is disabled.</p> <p>If 0, then all payloads are compressed.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>The name of the REST API.</p>",
          "shape": "NonEmptyString"
        },
        "Version": {
          "documentation": "<p>The version identifier for the REST API.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayStageDetails": {
      "documentation": "<p>Provides information about a version 1 Amazon API Gateway stage.</p>",
      "members": {
        "AccessLogSettings": {
          "documentation": "<p>Settings for logging access for the stage.</p>",
          "shape": "AwsApiGatewayAccessLogSettings"
        },
        "CacheClusterEnabled": {
          "documentation": "<p>Indicates whether a cache cluster is enabled for the stage.</p>",
          "shape": "Boolean"
        },
        "CacheClusterSize": {
          "documentation": "<p>If a cache cluster is enabled, the size of the cache cluster.</p>",
          "shape": "NonEmptyString"
        },
        "CacheClusterStatus": {
          "documentation": "<p>If a cache cluster is enabled, the status of the cache cluster.</p>",
          "shape": "NonEmptyString"
        },
        "CanarySettings": {
          "documentation": "<p>Information about settings for canary deployment in the stage.</p>",
          "shape": "AwsApiGatewayCanarySettings"
        },
        "ClientCertificateId": {
          "documentation": "<p>The identifier of the client certificate for the stage.</p>",
          "shape": "NonEmptyString"
        },
        "CreatedDate": {
          "documentation": "<p>Indicates when the stage was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "DeploymentId": {
          "documentation": "<p>The identifier of the deployment that the stage points to.</p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>A description of the stage.</p>",
          "shape": "NonEmptyString"
        },
        "DocumentationVersion": {
          "documentation": "<p>The version of the API documentation that is associated with the stage.</p>",
          "shape": "NonEmptyString"
        },
        "LastUpdatedDate": {
          "documentation": "<p>Indicates when the stage was most recently updated.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "MethodSettings": {
          "documentation": "<p>Defines the method settings for the stage.</p>",
          "shape": "AwsApiGatewayMethodSettingsList"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "shape": "NonEmptyString"
        },
        "TracingEnabled": {
          "documentation": "<p>Indicates whether active tracing with X-Ray is enabled for the stage.</p>",
          "shape": "Boolean"
        },
        "Variables": {
          "documentation": "<p>A map that defines the stage variables for the stage.</p> <p>Variable names can have alphanumeric and underscore characters.</p> <p>Variable values can contain the following characters:</p> <ul> <li> <p>Uppercase and lowercase letters</p> </li> <li> <p>Numbers</p> </li> <li> <p>Special characters -._~:/?#&amp;=,</p> </li> </ul>",
          "shape": "FieldMap"
        },
        "WebAclArn": {
          "documentation": "<p>The ARN of the web ACL associated with the stage.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayV2ApiDetails": {
      "documentation": "<p>Contains information about a version 2 API in Amazon API Gateway.</p>",
      "members": {
        "ApiEndpoint": {
          "documentation": "<p>The URI of the API. </p> <p>Uses the format <code> <i>&lt;api-id&gt;</i>.execute-api.<i>&lt;region&gt;</i>.amazonaws.com</code> </p> <p>The stage name is typically appended to the URI to form a complete path to a deployed API stage.</p>",
          "shape": "NonEmptyString"
        },
        "ApiId": {
          "documentation": "<p>The identifier of the API.</p>",
          "shape": "NonEmptyString"
        },
        "ApiKeySelectionExpression": {
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. </p>",
          "shape": "NonEmptyString"
        },
        "CorsConfiguration": {
          "documentation": "<p>A cross-origin resource sharing (CORS) configuration. Supported only for HTTP APIs.</p>",
          "shape": "AwsCorsConfiguration"
        },
        "CreatedDate": {
          "documentation": "<p>Indicates when the API was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>A description of the API.</p>",
          "shape": "NonEmptyString"
        },
        "Name": {
          "documentation": "<p>The name of the API.</p>",
          "shape": "NonEmptyString"
        },
        "ProtocolType": {
          "documentation": "<p>The API protocol for the API.</p> <p>Valid values: <code>WEBSOCKET</code> | <code>HTTP</code> </p>",
          "shape": "NonEmptyString"
        },
        "RouteSelectionExpression": {
          "documentation": "<p>The route selection expression for the API.</p> <p>For HTTP APIs, must be <code>${request.method} ${request.path}</code>. This is the default value for HTTP APIs.</p> <p>For WebSocket APIs, there is no default value.</p>",
          "shape": "NonEmptyString"
        },
        "Version": {
          "documentation": "<p>The version identifier for the API.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayV2RouteSettings": {
      "documentation": "<p>Contains route settings for a stage.</p>",
      "members": {
        "DataTraceEnabled": {
          "documentation": "<p>Indicates whether data trace logging is enabled. Data trace logging affects the log entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p>",
          "shape": "Boolean"
        },
        "DetailedMetricsEnabled": {
          "documentation": "<p>Indicates whether detailed metrics are enabled.</p>",
          "shape": "Boolean"
        },
        "LoggingLevel": {
          "documentation": "<p>The logging level. The logging level affects the log entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p> <p>If the logging level is <code>ERROR</code>, then the logs only include error-level entries.</p> <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code> events and extra informational events.</p> <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code> </p>",
          "shape": "NonEmptyString"
        },
        "ThrottlingBurstLimit": {
          "documentation": "<p>The throttling burst limit.</p>",
          "shape": "Integer"
        },
        "ThrottlingRateLimit": {
          "documentation": "<p>The throttling rate limit.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "AwsApiGatewayV2StageDetails": {
      "documentation": "<p>Contains information about a version 2 stage for Amazon API Gateway.</p>",
      "members": {
        "AccessLogSettings": {
          "documentation": "<p>Information about settings for logging access for the stage.</p>",
          "shape": "AwsApiGatewayAccessLogSettings"
        },
        "ApiGatewayManaged": {
          "documentation": "<p>Indicates whether the stage is managed by API Gateway.</p>",
          "shape": "Boolean"
        },
        "AutoDeploy": {
          "documentation": "<p>Indicates whether updates to an API automatically trigger a new deployment.</p>",
          "shape": "Boolean"
        },
        "ClientCertificateId": {
          "documentation": "<p>The identifier of a client certificate for a stage. Supported only for WebSocket API calls.</p>",
          "shape": "NonEmptyString"
        },
        "CreatedDate": {
          "documentation": "<p>Indicates when the stage was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "DefaultRouteSettings": {
          "documentation": "<p>Default route settings for the stage.</p>",
          "shape": "AwsApiGatewayV2RouteSettings"
        },
        "DeploymentId": {
          "documentation": "<p>The identifier of the deployment that the stage is associated with. </p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>The description of the stage.</p>",
          "shape": "NonEmptyString"
        },
        "LastDeploymentStatusMessage": {
          "documentation": "<p>The status of the last deployment of a stage. Supported only if the stage has automatic deployment enabled.</p>",
          "shape": "NonEmptyString"
        },
        "LastUpdatedDate": {
          "documentation": "<p>Indicates when the stage was most recently updated.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "RouteSettings": {
          "documentation": "<p>The route settings for the stage.</p>",
          "shape": "AwsApiGatewayV2RouteSettings"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "shape": "NonEmptyString"
        },
        "StageVariables": {
          "documentation": "<p>A map that defines the stage variables for the stage.</p> <p>Variable names can have alphanumeric and underscore characters.</p> <p>Variable values can contain the following characters:</p> <ul> <li> <p>Uppercase and lowercase letters</p> </li> <li> <p>Numbers</p> </li> <li> <p>Special characters -._~:/?#&amp;=,</p> </li> </ul>",
          "shape": "FieldMap"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupAvailabilityZonesList": {
      "member": {
        "shape": "AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails"
      },
      "type": "list"
    },
    "AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails": {
      "documentation": "<p>An Availability Zone for the automatic scaling group.</p>",
      "members": {
        "Value": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupDetails": {
      "documentation": "<p>Provides details about an auto scaling group.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The list of Availability Zones for the automatic scaling group.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupAvailabilityZonesList"
        },
        "CapacityRebalance": {
          "documentation": "<p>Indicates whether capacity rebalancing is enabled. </p>",
          "shape": "Boolean"
        },
        "CreatedTime": {
          "documentation": "<p>Indicates when the auto scaling group was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>",
          "shape": "NonEmptyString"
        },
        "HealthCheckGracePeriod": {
          "documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before it checks the health status of an EC2 instance that has come into service.</p>",
          "shape": "Integer"
        },
        "HealthCheckType": {
          "documentation": "<p>The service to use for the health checks. Valid values are <code>EC2</code> or <code>ELB</code>.</p>",
          "shape": "NonEmptyString"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The name of the launch configuration.</p>",
          "shape": "NonEmptyString"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template to use.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification"
        },
        "LoadBalancerNames": {
          "documentation": "<p>The list of load balancers associated with the group.</p>",
          "shape": "StringList"
        },
        "MixedInstancesPolicy": {
          "documentation": "<p>The mixed instances policy for the automatic scaling group.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification": {
      "documentation": "<p>Details about the launch template to use.</p>",
      "members": {
        "LaunchTemplateId": {
          "documentation": "<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>",
          "shape": "NonEmptyString"
        },
        "LaunchTemplateName": {
          "documentation": "<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>",
          "shape": "NonEmptyString"
        },
        "Version": {
          "documentation": "<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails": {
      "documentation": "<p>The mixed instances policy for the automatic scaling group.</p>",
      "members": {
        "InstancesDistribution": {
          "documentation": "<p>The instances distribution. The instances distribution specifies the distribution of On-Demand Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacity.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template to use and the instance types (overrides) to use to provision EC2 instances to fulfill On-Demand and Spot capacities.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails": {
      "documentation": "<p>Information about the instances distribution.</p>",
      "members": {
        "OnDemandAllocationStrategy": {
          "documentation": "<p>How to allocate instance types to fulfill On-Demand capacity. The valid value is <code>prioritized</code>.</p>",
          "shape": "NonEmptyString"
        },
        "OnDemandBaseCapacity": {
          "documentation": "<p>The minimum amount of the Auto Scaling group's capacity that must be fulfilled by On-Demand Instances.</p>",
          "shape": "Integer"
        },
        "OnDemandPercentageAboveBaseCapacity": {
          "documentation": "<p>The percentage of On-Demand Instances and Spot Instances for additional capacity beyond <code>OnDemandBaseCapacity</code>.</p>",
          "shape": "Integer"
        },
        "SpotAllocationStrategy": {
          "documentation": "<p>How to allocate instances across Spot Instance pools. Valid values are as follows:</p> <ul> <li> <p> <code>lowest-price</code> </p> </li> <li> <p> <code>capacity-optimized</code> </p> </li> <li> <p> <code>capacity-optimized-prioritized</code> </p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "SpotInstancePools": {
          "documentation": "<p>The number of Spot Instance pools across which to allocate your Spot Instances.</p>",
          "shape": "Integer"
        },
        "SpotMaxPrice": {
          "documentation": "<p>The maximum price per unit hour that you are willing to pay for a Spot Instance.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails": {
      "documentation": "<p>Describes a launch template and overrides for a mixed instances policy.</p>",
      "members": {
        "LaunchTemplateSpecification": {
          "documentation": "<p>The launch template to use for a mixed instances policy.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification"
        },
        "Overrides": {
          "documentation": "<p>Property values to use to override the values in the launch template.</p>",
          "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification": {
      "documentation": "<p>Details about the launch template to use for a mixed instances policy.</p>",
      "members": {
        "LaunchTemplateId": {
          "documentation": "<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>",
          "shape": "NonEmptyString"
        },
        "LaunchTemplateName": {
          "documentation": "<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>",
          "shape": "NonEmptyString"
        },
        "Version": {
          "documentation": "<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList": {
      "member": {
        "shape": "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails"
      },
      "type": "list"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails": {
      "documentation": "<p>Property values to use to override the values in the launch template.</p>",
      "members": {
        "InstanceType": {
          "documentation": "<p>The instance type. For example, <code>m3.xlarge</code>.</p>",
          "shape": "NonEmptyString"
        },
        "WeightedCapacity": {
          "documentation": "<p>The number of capacity units provided by the specified instance type in terms of virtual CPUs, memory, storage, throughput, or other relative performance characteristic.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails": {
      "documentation": "<p>A block device for the instance.</p>",
      "members": {
        "DeviceName": {
[...]
