{
  "documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
  "metadata": {
    "apiVersion": "2019-02-03",
    "endpointPrefix": "kendra",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "kendra",
    "serviceFullName": "AWSKendraFrontendService",
    "serviceId": "kendra",
    "signatureVersion": "v4",
    "signingName": "kendra",
    "targetPrefix": "AWSKendraFrontendService",
    "uid": "kendra-2019-02-03"
  },
  "operations": {
    "AssociateEntitiesToExperience": {
      "documentation": "<p>Grants users or groups in your IAM Identity Center identity source access to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateEntitiesToExperienceRequest"
      },
      "name": "AssociateEntitiesToExperience",
      "output": {
        "shape": "AssociateEntitiesToExperienceResponse"
      }
    },
    "AssociatePersonasToEntities": {
      "documentation": "<p>Defines the specific permissions of users or groups in your IAM Identity Center identity source with access to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociatePersonasToEntitiesRequest"
      },
      "name": "AssociatePersonasToEntities",
      "output": {
        "shape": "AssociatePersonasToEntitiesResponse"
      }
    },
    "BatchDeleteDocument": {
      "documentation": "<p>Removes one or more documents from an index. The documents must have been added with the <code>BatchPutDocument</code> API.</p> <p>The documents are deleted asynchronously. You can see the progress of the deletion by using Amazon Web Services CloudWatch. Any error messages related to the processing of the batch are sent to you CloudWatch log.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteDocumentRequest"
      },
      "name": "BatchDeleteDocument",
      "output": {
        "shape": "BatchDeleteDocumentResponse"
      }
    },
    "BatchGetDocumentStatus": {
      "documentation": "<p>Returns the indexing status for one or more documents submitted with the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\"> BatchPutDocument</a> API.</p> <p>When you use the <code>BatchPutDocument</code> API, documents are indexed asynchronously. You can use the <code>BatchGetDocumentStatus</code> API to get the current status of a list of documents so that you can determine if they have been successfully indexed.</p> <p>You can also use the <code>BatchGetDocumentStatus</code> API to check the status of the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchDeleteDocument.html\"> BatchDeleteDocument</a> API. When a document is deleted from the index, Amazon Kendra returns <code>NOT_FOUND</code> as the status.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDocumentStatusRequest"
      },
      "name": "BatchGetDocumentStatus",
      "output": {
        "shape": "BatchGetDocumentStatusResponse"
      }
    },
    "BatchPutDocument": {
      "documentation": "<p>Adds one or more documents to an index.</p> <p>The <code>BatchPutDocument</code> API enables you to ingest inline documents or a set of documents stored in an Amazon S3 bucket. Use this API to ingest your text and unstructured text into an index, add custom attributes to the documents, and to attach an access control list to the documents added to the index.</p> <p>The documents are indexed asynchronously. You can see the progress of the batch using Amazon Web Services CloudWatch. Any error messages related to processing the batch are sent to your Amazon Web Services CloudWatch log.</p> <p>For an example of ingesting inline documents using Python and Java SDKs, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-adding-binary-doc.html\">Adding files directly to an index</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchPutDocumentRequest"
      },
      "name": "BatchPutDocument",
      "output": {
        "shape": "BatchPutDocumentResponse"
      }
    },
    "ClearQuerySuggestions": {
      "documentation": "<p>Clears existing query suggestions from an index.</p> <p>This deletes existing suggestions only, not the queries in the query log. After you clear suggestions, Amazon Kendra learns new suggestions based on new queries added to the query log from the time you cleared suggestions. If you do not see any new suggestions, then please allow Amazon Kendra to collect enough queries to learn new suggestions.</p> <p> <code>ClearQuerySuggestions</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ClearQuerySuggestionsRequest"
      },
      "name": "ClearQuerySuggestions"
    },
    "CreateAccessControlConfiguration": {
      "documentation": "<p>Creates an access configuration for your documents. This includes user and group access information for your documents. This is useful for user context filtering, where search results are filtered based on the user or their group access to documents.</p> <p>You can use this to re-configure your existing document level access control without indexing all of your documents again. For example, your index contains top-secret company documents that only certain employees or users should access. One of these users leaves the company or switches to a team that should be blocked from accessing top-secret documents. The user still has access to top-secret documents because the user had access when your documents were previously indexed. You can create a specific access control configuration for the user with deny access. You can later update the access control configuration to allow access if the user returns to the company and re-joins the 'top-secret' team. You can re-configure access control for your documents as circumstances change.</p> <p>To apply your access control configuration to certain documents, you call the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\">BatchPutDocument</a> API with the <code>AccessControlConfigurationId</code> included in the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_Document.html\">Document</a> object. If you use an S3 bucket as a data source, you update the <code>.metadata.json</code> with the <code>AccessControlConfigurationId</code> and synchronize your data source. Amazon Kendra currently only supports access control configuration for S3 data sources and documents indexed using the <code>BatchPutDocument</code> API.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccessControlConfigurationRequest"
      },
      "name": "CreateAccessControlConfiguration",
      "output": {
        "shape": "CreateAccessControlConfigurationResponse"
      }
    },
    "CreateDataSource": {
      "documentation": "<p>Creates a data source connector that you want to use with an Amazon Kendra index.</p> <p>You specify a name, data source connector type and description for your data source. You also specify configuration information for the data source connector.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p> <p>Amazon S3 and <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-custom.html\">custom</a> data sources are the only supported data sources in the Amazon Web Services GovCloud (US-West) region.</p> <p>For an example of creating an index and data source using the Python SDK, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/gs-python.html\">Getting started with Python SDK</a>. For an example of creating an index and data source using the Java SDK, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/gs-java.html\">Getting started with Java SDK</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "name": "CreateDataSource",
      "output": {
        "shape": "CreateDataSourceResponse"
      }
    },
    "CreateExperience": {
      "documentation": "<p>Creates an Amazon Kendra experience such as a search application. For more information on creating a search application experience, including using the Python and Java SDKs, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExperienceRequest"
      },
      "name": "CreateExperience",
      "output": {
        "shape": "CreateExperienceResponse"
      }
    },
    "CreateFaq": {
      "documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p> <p>Adding FAQs to an index is an asynchronous operation.</p> <p>For an example of adding an FAQ to an index using Python and Java SDKs, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-creating-faq.html#using-faq-file\">Using your FAQ file</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFaqRequest"
      },
      "name": "CreateFaq",
      "output": {
        "shape": "CreateFaqResponse"
      }
    },
    "CreateIndex": {
      "documentation": "<p>Creates an Amazon Kendra index. Index creation is an asynchronous API. To determine if index creation has completed, check the <code>Status</code> field returned from a call to <code>DescribeIndex</code>. The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active you can index your documents using the <code>BatchPutDocument</code> API or using one of the supported data sources.</p> <p>For an example of creating an index and data source using the Python SDK, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/gs-python.html\">Getting started with Python SDK</a>. For an example of creating an index and data source using the Java SDK, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/gs-java.html\">Getting started with Java SDK</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIndexRequest"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexResponse"
      }
    },
    "CreateQuerySuggestionsBlockList": {
      "documentation": "<p>Creates a block list to exlcude certain queries from suggestions.</p> <p>Any query that contains words or phrases specified in the block list is blocked or filtered out from being shown as a suggestion.</p> <p>You need to provide the file location of your block list text file in your S3 bucket. In your text file, enter each block word or phrase on a separate line.</p> <p>For information on the current quota limits for block lists, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas for Amazon Kendra</a>.</p> <p> <code>CreateQuerySuggestionsBlockList</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p> <p>For an example of creating a block list for query suggestions using the Python SDK, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/query-suggestions.html#suggestions-block-list\">Query suggestions block list</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateQuerySuggestionsBlockListRequest"
      },
      "name": "CreateQuerySuggestionsBlockList",
      "output": {
        "shape": "CreateQuerySuggestionsBlockListResponse"
      }
    },
    "CreateThesaurus": {
      "documentation": "<p>Creates a thesaurus for an index. The thesaurus contains a list of synonyms in Solr format.</p> <p>For an example of adding a thesaurus file to an index, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/index-synonyms-adding-thesaurus-file.html\">Adding custom synonyms to an index</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateThesaurusRequest"
      },
      "name": "CreateThesaurus",
      "output": {
        "shape": "CreateThesaurusResponse"
      }
    },
    "DeleteAccessControlConfiguration": {
      "documentation": "<p>Deletes an access control configuration that you created for your documents in an index. This includes user and group access information for your documents. This is useful for user context filtering, where search results are filtered based on the user or their group access to documents.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessControlConfigurationRequest"
      },
      "name": "DeleteAccessControlConfiguration",
      "output": {
        "shape": "DeleteAccessControlConfigurationResponse"
      }
    },
    "DeleteDataSource": {
      "documentation": "<p>Deletes an Amazon Kendra data source connector. An exception is not thrown if the data source is already being deleted. While the data source is being deleted, the <code>Status</code> field returned by a call to the <code>DescribeDataSource</code> API is set to <code>DELETING</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/delete-data-source.html\">Deleting Data Sources</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "name": "DeleteDataSource"
    },
    "DeleteExperience": {
      "documentation": "<p>Deletes your Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExperienceRequest"
      },
      "name": "DeleteExperience",
      "output": {
        "shape": "DeleteExperienceResponse"
      }
    },
    "DeleteFaq": {
      "documentation": "<p>Removes an FAQ from an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFaqRequest"
      },
      "name": "DeleteFaq"
    },
    "DeleteIndex": {
      "documentation": "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already being deleted. While the index is being deleted, the <code>Status</code> field returned by a call to the <code>DescribeIndex</code> API is set to <code>DELETING</code>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIndexRequest"
      },
      "name": "DeleteIndex"
    },
    "DeletePrincipalMapping": {
      "documentation": "<p>Deletes a group so that all users and sub groups that belong to the group can no longer access documents only available to that group.</p> <p>For example, after deleting the group \"Summer Interns\", all interns who belonged to that group no longer see intern-only documents in their search results.</p> <p>If you want to delete or replace users or sub groups of a group, you need to use the <code>PutPrincipalMapping</code> operation. For example, if a user in the group \"Engineering\" leaves the engineering team and another user takes their place, you provide an updated list of users or sub groups that belong to the \"Engineering\" group when calling <code>PutPrincipalMapping</code>. You can update your internal list of users or sub groups and input this list when calling <code>PutPrincipalMapping</code>.</p> <p> <code>DeletePrincipalMapping</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePrincipalMappingRequest"
      },
      "name": "DeletePrincipalMapping"
    },
    "DeleteQuerySuggestionsBlockList": {
      "documentation": "<p>Deletes a block list used for query suggestions for an index.</p> <p>A deleted block list might not take effect right away. Amazon Kendra needs to refresh the entire suggestions list to add back the queries that were previously blocked.</p> <p> <code>DeleteQuerySuggestionsBlockList</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteQuerySuggestionsBlockListRequest"
      },
      "name": "DeleteQuerySuggestionsBlockList"
    },
    "DeleteThesaurus": {
      "documentation": "<p>Deletes an existing Amazon Kendra thesaurus. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteThesaurusRequest"
      },
      "name": "DeleteThesaurus"
    },
    "DescribeAccessControlConfiguration": {
      "documentation": "<p>Gets information about an access control configuration that you created for your documents in an index. This includes user and group access information for your documents. This is useful for user context filtering, where search results are filtered based on the user or their group access to documents.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccessControlConfigurationRequest"
      },
      "name": "DescribeAccessControlConfiguration",
      "output": {
        "shape": "DescribeAccessControlConfigurationResponse"
      }
    },
    "DescribeDataSource": {
      "documentation": "<p>Gets information about an Amazon Kendra data source connector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDataSourceRequest"
      },
      "name": "DescribeDataSource",
      "output": {
        "shape": "DescribeDataSourceResponse"
      }
    },
    "DescribeExperience": {
      "documentation": "<p>Gets information about your Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExperienceRequest"
      },
      "name": "DescribeExperience",
      "output": {
        "shape": "DescribeExperienceResponse"
      }
    },
    "DescribeFaq": {
      "documentation": "<p>Gets information about an FAQ list.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFaqRequest"
      },
      "name": "DescribeFaq",
      "output": {
        "shape": "DescribeFaqResponse"
      }
    },
    "DescribeIndex": {
      "documentation": "<p>Gets information about an existing Amazon Kendra index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIndexRequest"
      },
      "name": "DescribeIndex",
      "output": {
        "shape": "DescribeIndexResponse"
      }
    },
    "DescribePrincipalMapping": {
      "documentation": "<p>Describes the processing of <code>PUT</code> and <code>DELETE</code> actions for mapping users to their groups. This includes information on the status of actions currently processing or yet to be processed, when actions were last updated, when actions were received by Amazon Kendra, the latest action that should process and apply after other actions, and useful error messages if an action could not be processed.</p> <p> <code>DescribePrincipalMapping</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePrincipalMappingRequest"
      },
      "name": "DescribePrincipalMapping",
      "output": {
        "shape": "DescribePrincipalMappingResponse"
      }
    },
    "DescribeQuerySuggestionsBlockList": {
      "documentation": "<p>Gets information about a block list used for query suggestions for an index.</p> <p>This is used to check the current settings that are applied to a block list.</p> <p> <code>DescribeQuerySuggestionsBlockList</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQuerySuggestionsBlockListRequest"
      },
      "name": "DescribeQuerySuggestionsBlockList",
      "output": {
        "shape": "DescribeQuerySuggestionsBlockListResponse"
      }
    },
    "DescribeQuerySuggestionsConfig": {
      "documentation": "<p>Gets information on the settings of query suggestions for an index.</p> <p>This is used to check the current settings applied to query suggestions.</p> <p> <code>DescribeQuerySuggestionsConfig</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeQuerySuggestionsConfigRequest"
      },
      "name": "DescribeQuerySuggestionsConfig",
      "output": {
        "shape": "DescribeQuerySuggestionsConfigResponse"
      }
    },
    "DescribeThesaurus": {
      "documentation": "<p>Gets information about an existing Amazon Kendra thesaurus.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeThesaurusRequest"
      },
      "name": "DescribeThesaurus",
      "output": {
        "shape": "DescribeThesaurusResponse"
      }
    },
    "DisassociateEntitiesFromExperience": {
      "documentation": "<p>Prevents users or groups in your IAM Identity Center identity source from accessing your Amazon Kendra experience. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateEntitiesFromExperienceRequest"
      },
      "name": "DisassociateEntitiesFromExperience",
      "output": {
        "shape": "DisassociateEntitiesFromExperienceResponse"
      }
    },
    "DisassociatePersonasFromEntities": {
      "documentation": "<p>Removes the specific permissions of users or groups in your IAM Identity Center identity source with access to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociatePersonasFromEntitiesRequest"
      },
      "name": "DisassociatePersonasFromEntities",
      "output": {
        "shape": "DisassociatePersonasFromEntitiesResponse"
      }
    },
    "GetQuerySuggestions": {
      "documentation": "<p>Fetches the queries that are suggested to your users.</p> <p> <code>GetQuerySuggestions</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQuerySuggestionsRequest"
      },
      "name": "GetQuerySuggestions",
      "output": {
        "shape": "GetQuerySuggestionsResponse"
      }
    },
    "GetSnapshots": {
      "documentation": "<p>Retrieves search metrics data. The data provides a snapshot of how your users interact with your search application and how effective the application is.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSnapshotsRequest"
      },
      "name": "GetSnapshots",
      "output": {
        "shape": "GetSnapshotsResponse"
      }
    },
    "ListAccessControlConfigurations": {
      "documentation": "<p>Lists one or more access control configurations for an index. This includes user and group access information for your documents. This is useful for user context filtering, where search results are filtered based on the user or their group access to documents.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessControlConfigurationsRequest"
      },
      "name": "ListAccessControlConfigurations",
      "output": {
        "shape": "ListAccessControlConfigurationsResponse"
      }
    },
    "ListDataSourceSyncJobs": {
      "documentation": "<p>Gets statistics about synchronizing a data source connector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourceSyncJobsRequest"
      },
      "name": "ListDataSourceSyncJobs",
      "output": {
        "shape": "ListDataSourceSyncJobsResponse"
      }
    },
    "ListDataSources": {
      "documentation": "<p>Lists the data source connectors that you have created.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListEntityPersonas": {
      "documentation": "<p>Lists specific permissions of users and groups with access to your Amazon Kendra experience.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntityPersonasRequest"
      },
      "name": "ListEntityPersonas",
      "output": {
        "shape": "ListEntityPersonasResponse"
      }
    },
    "ListExperienceEntities": {
      "documentation": "<p>Lists users or groups in your IAM Identity Center identity source that are granted access to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExperienceEntitiesRequest"
      },
      "name": "ListExperienceEntities",
      "output": {
        "shape": "ListExperienceEntitiesResponse"
      }
    },
    "ListExperiences": {
      "documentation": "<p>Lists one or more Amazon Kendra experiences. You can create an Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExperiencesRequest"
      },
      "name": "ListExperiences",
      "output": {
        "shape": "ListExperiencesResponse"
      }
    },
    "ListFaqs": {
      "documentation": "<p>Gets a list of FAQ lists associated with an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFaqsRequest"
      },
      "name": "ListFaqs",
      "output": {
        "shape": "ListFaqsResponse"
      }
    },
    "ListGroupsOlderThanOrderingId": {
      "documentation": "<p>Provides a list of groups that are mapped to users before a given ordering or timestamp identifier.</p> <p> <code>ListGroupsOlderThanOrderingId</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsOlderThanOrderingIdRequest"
      },
      "name": "ListGroupsOlderThanOrderingId",
      "output": {
        "shape": "ListGroupsOlderThanOrderingIdResponse"
      }
    },
    "ListIndices": {
      "documentation": "<p>Lists the Amazon Kendra indexes that you created.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIndicesRequest"
      },
      "name": "ListIndices",
      "output": {
        "shape": "ListIndicesResponse"
      }
    },
    "ListQuerySuggestionsBlockLists": {
      "documentation": "<p>Lists the block lists used for query suggestions for an index.</p> <p>For information on the current quota limits for block lists, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas for Amazon Kendra</a>.</p> <p> <code>ListQuerySuggestionsBlockLists</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListQuerySuggestionsBlockListsRequest"
      },
      "name": "ListQuerySuggestionsBlockLists",
      "output": {
        "shape": "ListQuerySuggestionsBlockListsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Gets a list of tags associated with a specified resource. Indexes, FAQs, and data sources can have tags associated with them.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListThesauri": {
      "documentation": "<p>Lists the thesauri for an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListThesauriRequest"
      },
      "name": "ListThesauri",
      "output": {
        "shape": "ListThesauriResponse"
      }
    },
    "PutPrincipalMapping": {
      "documentation": "<p>Maps users to their groups so that you only need to provide the user ID when you issue the query.</p> <p>You can also map sub groups to groups. For example, the group \"Company Intellectual Property Teams\" includes sub groups \"Research\" and \"Engineering\". These sub groups include their own list of users or people who work in these teams. Only users who work in research and engineering, and therefore belong in the intellectual property group, can see top-secret company documents in their search results.</p> <p>This is useful for user context filtering, where search results are filtered based on the user or their group access to documents. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/user-context-filter.html\">Filtering on user context</a>.</p> <p>If more than five <code>PUT</code> actions for a group are currently processing, a validation exception is thrown.</p> <p> <code>PutPrincipalMapping</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPrincipalMappingRequest"
      },
      "name": "PutPrincipalMapping"
    },
    "Query": {
      "documentation": "<p>Searches an active index. Use this API to search your documents using query. The <code>Query</code> API enables to do faceted search and to filter results based on document attributes.</p> <p>It also enables you to provide user context that Amazon Kendra uses to enforce document access control in the search results.</p> <p>Amazon Kendra searches your index for text content and question and answer (FAQ) content. By default the response contains three types of results.</p> <ul> <li> <p>Relevant passages</p> </li> <li> <p>Matching FAQs</p> </li> <li> <p>Relevant documents</p> </li> </ul> <p>You can specify that the query return only one type of result using the <code>QueryResultTypeConfig</code> parameter.</p> <p>Each query returns the 100 most relevant results. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "QueryRequest"
      },
      "name": "Query",
      "output": {
        "shape": "QueryResult"
      }
    },
    "StartDataSourceSyncJob": {
      "documentation": "<p>Starts a synchronization job for a data source connector. If a synchronization job is already in progress, Amazon Kendra returns a <code>ResourceInUseException</code> exception.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDataSourceSyncJobRequest"
      },
      "name": "StartDataSourceSyncJob",
      "output": {
        "shape": "StartDataSourceSyncJobResponse"
      }
    },
    "StopDataSourceSyncJob": {
      "documentation": "<p>Stops a synchronization job that is currently running. You can't stop a scheduled synchronization job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDataSourceSyncJobRequest"
      },
      "name": "StopDataSourceSyncJob"
    },
    "SubmitFeedback": {
      "documentation": "<p>Enables you to provide feedback to Amazon Kendra to improve the performance of your index.</p> <p> <code>SubmitFeedback</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubmitFeedbackRequest"
      },
      "name": "SubmitFeedback"
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tag to the specified index, FAQ, or data source resource. If the tag already exists, the existing value is replaced with the new value.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from an index, FAQ, or a data source.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAccessControlConfiguration": {
      "documentation": "<p>Updates an access control configuration for your documents in an index. This includes user and group access information for your documents. This is useful for user context filtering, where search results are filtered based on the user or their group access to documents.</p> <p>You can update an access control configuration you created without indexing all of your documents again. For example, your index contains top-secret company documents that only certain employees or users should access. You created an 'allow' access control configuration for one user who recently joined the 'top-secret' team, switching from a team with 'deny' access to top-secret documents. However, the user suddenly returns to their previous team and should no longer have access to top secret documents. You can update the access control configuration to re-configure access control for your documents as circumstances change.</p> <p>You call the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\">BatchPutDocument</a> API to apply the updated access control configuration, with the <code>AccessControlConfigurationId</code> included in the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_Document.html\">Document</a> object. If you use an S3 bucket as a data source, you synchronize your data source to apply the <code>AccessControlConfigurationId</code> in the <code>.metadata.json</code> file. Amazon Kendra currently only supports access control configuration for S3 data sources and documents indexed using the <code>BatchPutDocument</code> API.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAccessControlConfigurationRequest"
      },
      "name": "UpdateAccessControlConfiguration",
      "output": {
        "shape": "UpdateAccessControlConfigurationResponse"
      }
    },
    "UpdateDataSource": {
      "documentation": "<p>Updates an existing Amazon Kendra data source connector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "name": "UpdateDataSource"
    },
    "UpdateExperience": {
      "documentation": "<p>Updates your Amazon Kendra experience such as a search application. For more information on creating a search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building a search experience with no code</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateExperienceRequest"
      },
      "name": "UpdateExperience"
    },
    "UpdateIndex": {
      "documentation": "<p>Updates an existing Amazon Kendra index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIndexRequest"
      },
      "name": "UpdateIndex"
    },
    "UpdateQuerySuggestionsBlockList": {
      "documentation": "<p>Updates a block list used for query suggestions for an index.</p> <p>Updates to a block list might not take effect right away. Amazon Kendra needs to refresh the entire suggestions list to apply any updates to the block list. Other changes not related to the block list apply immediately.</p> <p>If a block list is updating, then you need to wait for the first update to finish before submitting another update.</p> <p>Amazon Kendra supports partial updates, so you only need to provide the fields you want to update.</p> <p> <code>UpdateQuerySuggestionsBlockList</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateQuerySuggestionsBlockListRequest"
      },
      "name": "UpdateQuerySuggestionsBlockList"
    },
    "UpdateQuerySuggestionsConfig": {
      "documentation": "<p>Updates the settings of query suggestions for an index.</p> <p>Amazon Kendra supports partial updates, so you only need to provide the fields you want to update.</p> <p>If an update is currently processing (i.e. 'happening'), you need to wait for the update to finish before making another update.</p> <p>Updates to query suggestions settings might not take effect right away. The time for your updated settings to take effect depends on the updates made and the number of search queries in your index.</p> <p>You can still enable/disable query suggestions at any time.</p> <p> <code>UpdateQuerySuggestionsConfig</code> is currently not supported in the Amazon Web Services GovCloud (US-West) region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateQuerySuggestionsConfigRequest"
      },
      "name": "UpdateQuerySuggestionsConfig"
    },
    "UpdateThesaurus": {
      "documentation": "<p>Updates a thesaurus for an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateThesaurusRequest"
      },
      "name": "UpdateThesaurus"
    }
  },
  "shapes": {
    "AccessControlConfigurationId": {
      "max": 36,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "AccessControlConfigurationName": {
      "max": 200,
      "min": 1,
      "pattern": "[\\S\\s]*",
      "type": "string"
    },
    "AccessControlConfigurationSummary": {
      "documentation": "<p>Summary information on an access control configuration that you created for your documents in an index.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the access control configuration.</p>",
          "shape": "AccessControlConfigurationId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "AccessControlConfigurationSummaryList": {
      "member": {
        "shape": "AccessControlConfigurationSummary"
      },
      "type": "list"
    },
    "AccessControlListConfiguration": {
      "documentation": "<p>Access Control List files for the documents in a data source. For the format of the file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control for S3 data sources</a>.</p>",
      "members": {
        "KeyPath": {
          "documentation": "<p>Path to the Amazon S3 bucket that contains the ACL files.</p>",
          "shape": "S3ObjectKey"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AclConfiguration": {
      "documentation": "<p>Provides information about the column that should be used for filtering the query response by groups.</p>",
      "members": {
        "AllowedGroupsColumnName": {
          "documentation": "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <code>Query</code> API.</p>",
          "shape": "ColumnName"
        }
      },
      "required": [
        "AllowedGroupsColumnName"
      ],
      "type": "structure"
    },
    "AdditionalResultAttribute": {
      "documentation": "<p>An attribute returned from an index query.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key that identifies the attribute.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>An object that contains the attribute value.</p>",
          "shape": "AdditionalResultAttributeValue"
        },
        "ValueType": {
          "documentation": "<p>The data type of the <code>Value</code> property.</p>",
          "shape": "AdditionalResultAttributeValueType"
        }
      },
      "required": [
        "Key",
        "ValueType",
        "Value"
      ],
      "type": "structure"
    },
    "AdditionalResultAttributeList": {
      "member": {
        "shape": "AdditionalResultAttribute"
      },
      "type": "list"
    },
    "AdditionalResultAttributeValue": {
      "documentation": "<p>An attribute returned with a document from a search.</p>",
      "members": {
        "TextWithHighlightsValue": {
          "documentation": "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
          "shape": "TextWithHighlights"
        }
      },
      "type": "structure"
    },
    "AdditionalResultAttributeValueType": {
      "enum": [
        "TEXT_WITH_HIGHLIGHTS_VALUE"
      ],
      "type": "string"
    },
    "AlfrescoConfiguration": {
      "documentation": "<p>Provides the configuration information to connect to Alfresco as your data source.</p> <note> <p>Alfresco data source connector is currently in preview mode. Basic authentication is currently supported. If you would like to use Alfresco connector in production, contact <a href=\"http://aws.amazon.com/contact-us/\">Support</a>.</p> </note>",
      "members": {
        "BlogFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Alfresco blogs to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\"> Mapping data source fields</a>. The Alfresco data source field names must exist in your Alfresco custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "CrawlComments": {
          "documentation": "<p> <code>TRUE</code> to index comments of blogs and other content.</p>",
          "shape": "Boolean"
        },
        "CrawlSystemFolders": {
          "documentation": "<p> <code>TRUE</code> to index shared files.</p>",
          "shape": "Boolean"
        },
        "DocumentLibraryFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Alfresco document libraries to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\"> Mapping data source fields</a>. The Alfresco data source field names must exist in your Alfresco custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "EntityFilter": {
          "documentation": "<p>Specify whether to index document libraries, wikis, or blogs. You can specify one or more of these options.</p>",
          "shape": "EntityFilter"
        },
        "ExclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns to exclude certain files in your Alfresco data source. Files that match the patterns are excluded from the index. Files that don't match the patterns are included in the index. If a file matches both an inclusion pattern and an exclusion pattern, the exclusion pattern takes precedence and the file isn't included in the index.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "InclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns to include certain files in your Alfresco data source. Files that match the patterns are included in the index. Files that don't match the patterns are excluded from the index. If a file matches both an inclusion pattern and an exclusion pattern, the exclusion pattern takes precedence and the file isn't included in the index.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "SecretArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret that contains the key-value pairs required to connect to your Alfresco data source. The secret must contain a JSON structure with the following keys:</p> <ul> <li> <p>username\u2014The user name of the Alfresco account.</p> </li> <li> <p>password\u2014The password of the Alfresco account.</p> </li> </ul>",
          "shape": "SecretArn"
        },
        "SiteId": {
          "documentation": "<p>The identifier of the Alfresco site. For example, <i>my-site</i>.</p>",
          "shape": "SiteId"
        },
        "SiteUrl": {
          "documentation": "<p>The URL of the Alfresco site. For example, <i>https://hostname:8080</i>.</p>",
          "shape": "SiteUrl"
        },
        "SslCertificateS3Path": {
          "documentation": "<p>The path to the SSL certificate stored in an Amazon S3 bucket. You use this to connect to Alfresco if you require a secure SSL connection.</p> <p>You can simply generate a self-signed X509 certificate on any computer using OpenSSL. For an example of using OpenSSL to create an X509 certificate, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https-ssl.html\">Create and sign an X509 certificate</a>.</p>",
          "shape": "S3Path"
        },
        "VpcConfiguration": {
          "documentation": "<p>Configuration information for an Amazon Virtual Private Cloud to connect to your Alfresco. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/vpc-configuration.html\">Configuring a VPC</a>.</p>",
          "shape": "DataSourceVpcConfiguration"
        },
        "WikiFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Alfresco wikis to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\"> Mapping data source fields</a>. The Alfresco data source field names must exist in your Alfresco custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "SiteUrl",
        "SiteId",
        "SecretArn",
        "SslCertificateS3Path"
      ],
      "type": "structure"
    },
    "AlfrescoEntity": {
      "enum": [
        "wiki",
        "blog",
        "documentLibrary"
      ],
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociateEntitiesToExperienceFailedEntityList": {
      "max": 20,
      "member": {
        "shape": "FailedEntity"
      },
      "min": 1,
      "type": "list"
    },
    "AssociateEntitiesToExperienceRequest": {
      "members": {
        "EntityList": {
          "documentation": "<p>Lists users or groups in your IAM Identity Center identity source.</p>",
          "shape": "AssociateEntityList"
        },
        "Id": {
          "documentation": "<p>The identifier of your Amazon Kendra experience.</p>",
          "shape": "ExperienceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index for your Amazon Kendra experience.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "EntityList"
      ],
      "type": "structure"
    },
    "AssociateEntitiesToExperienceResponse": {
      "members": {
        "FailedEntityList": {
          "documentation": "<p>Lists the users or groups in your IAM Identity Center identity source that failed to properly configure with your Amazon Kendra experience.</p>",
          "shape": "AssociateEntitiesToExperienceFailedEntityList"
        }
      },
      "type": "structure"
    },
    "AssociateEntityList": {
      "max": 20,
      "member": {
        "shape": "EntityConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "AssociatePersonasToEntitiesRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of your Amazon Kendra experience.</p>",
          "shape": "ExperienceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index for your Amazon Kendra experience.</p>",
          "shape": "IndexId"
        },
        "Personas": {
          "documentation": "<p>The personas that define the specific permissions of users or groups in your IAM Identity Center identity source. The available personas or access roles are <code>Owner</code> and <code>Viewer</code>. For more information on these personas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html#access-search-experience\">Providing access to your search page</a>.</p>",
          "shape": "EntityPersonaConfigurationList"
        }
      },
      "required": [
        "Id",
        "IndexId",
        "Personas"
      ],
      "type": "structure"
    },
    "AssociatePersonasToEntitiesResponse": {
      "members": {
        "FailedEntityList": {
          "documentation": "<p>Lists the users or groups in your IAM Identity Center identity source that failed to properly configure with your Amazon Kendra experience.</p>",
          "shape": "FailedEntityList"
        }
      },
      "type": "structure"
    },
    "AttributeFilter": {
      "documentation": "<p>Provides filtering the query results based on document attributes or metadata fields.</p> <p>When you use the <code>AndAllFilters</code> or <code>OrAllFilters</code>, filters you can use 2 layers under the first attribute filter. For example, you can use:</p> <p> <code>&lt;AndAllFilters&gt;</code> </p> <ol> <li> <p> <code> &lt;OrAllFilters&gt;</code> </p> </li> <li> <p> <code> &lt;EqualsTo&gt;</code> </p> </li> </ol> <p>If you use more than 2 layers, you receive a <code>ValidationException</code> exception with the message \"<code>AttributeFilter</code> cannot have a depth of more than 2.\"</p> <p>If you use more than 10 attribute filters in a given list for <code>AndAllFilters</code> or <code>OrAllFilters</code>, you receive a <code>ValidationException</code> with the message \"<code>AttributeFilter</code> cannot have a length of more than 10\".</p>",
      "members": {
        "AndAllFilters": {
          "documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilterList"
        },
        "ContainsAll": {
          "documentation": "<p>Returns true when a document contains all of the specified document attributes or metadata fields. This filter is only applicable to <code>StringListValue</code> metadata.</p>",
          "shape": "DocumentAttribute"
        },
        "ContainsAny": {
          "documentation": "<p>Returns true when a document contains any of the specified document attributes or metadata fields. This filter is only applicable to <code>StringListValue</code> metadata.</p>",
          "shape": "DocumentAttribute"
        },
        "EqualsTo": {
          "documentation": "<p>Performs an equals operation on two document attributes or metadata fields.</p>",
          "shape": "DocumentAttribute"
        },
        "GreaterThan": {
          "documentation": "<p>Performs a greater than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "GreaterThanOrEquals": {
          "documentation": "<p>Performs a greater or equals than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "LessThan": {
          "documentation": "<p>Performs a less than operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "LessThanOrEquals": {
          "documentation": "<p>Performs a less than or equals operation on two document attributes or metadata fields. Use with a document attribute of type <code>Date</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "NotFilter": {
          "documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilter"
        },
        "OrAllFilters": {
          "documentation": "<p>Performs a logical <code>OR</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilterList"
        }
      },
      "type": "structure"
    },
    "AttributeFilterList": {
      "member": {
        "shape": "AttributeFilter"
      },
      "type": "list"
    },
    "AuthenticationConfiguration": {
      "documentation": "<p>Provides the configuration information to connect to websites that require user authentication.</p>",
      "members": {
        "BasicAuthentication": {
          "documentation": "<p>The list of configuration information that's required to connect to and crawl a website host using basic authentication credentials.</p> <p>The list includes the name and port number of the website host.</p>",
          "shape": "BasicAuthenticationConfigurationList"
        }
      },
      "type": "structure"
    },
    "BasicAuthenticationConfiguration": {
      "documentation": "<p>Provides the configuration information to connect to websites that require basic user authentication.</p>",
      "members": {
        "Credentials": {
          "documentation": "<p>Your secret ARN, which you can create in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">Secrets Manager</a> </p> <p>You use a secret if basic authentication credentials are required to connect to a website. The secret stores your credentials of user name and password.</p>",
          "shape": "SecretArn"
        },
        "Host": {
          "documentation": "<p>The name of the website host you want to connect to using authentication credentials.</p> <p>For example, the host name of https://a.example.com/page1.html is \"a.example.com\".</p>",
          "shape": "Host"
        },
        "Port": {
          "documentation": "<p>The port number of the website host you want to connect to using authentication credentials.</p> <p>For example, the port for https://a.example.com/page1.html is 443, the standard port for HTTPS.</p>",
          "shape": "Port"
        }
      },
      "required": [
        "Host",
        "Port",
        "Credentials"
      ],
      "type": "structure"
    },
    "BasicAuthenticationConfigurationList": {
      "max": 10,
      "member": {
        "shape": "BasicAuthenticationConfiguration"
      },
      "min": 0,
      "type": "list"
    },
    "BatchDeleteDocumentRequest": {
      "members": {
        "DataSourceSyncJobMetricTarget": {
          "shape": "DataSourceSyncJobMetricTarget"
        },
        "DocumentIdList": {
          "documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
          "shape": "DocumentIdList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the documents to delete.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "DocumentIdList"
      ],
      "type": "structure"
    },
    "BatchDeleteDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "documentation": "<p>A list of documents that could not be removed from the index. Each entry contains an error message that indicates why the document couldn't be removed from the index.</p>",
          "shape": "BatchDeleteDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocument": {
      "documentation": "<p>Provides information about documents that could not be removed from an index by the <code>BatchDeleteDocument</code> API.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code for why the document couldn't be removed from the index.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>An explanation for why the document couldn't be removed from the index.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The identifier of the document that couldn't be removed from the index.</p>",
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchDeleteDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "BatchGetDocumentStatusRequest": {
      "members": {
        "DocumentInfoList": {
          "documentation": "<p>A list of <code>DocumentInfo</code> objects that identify the documents for which to get the status. You identify the documents by their document ID and optional attributes.</p>",
          "shape": "DocumentInfoList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index to add documents to. The index ID is returned by the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_CreateIndex.html\">CreateIndex </a> API.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "DocumentInfoList"
      ],
      "type": "structure"
    },
    "BatchGetDocumentStatusResponse": {
      "members": {
        "DocumentStatusList": {
          "documentation": "<p>The status of documents. The status indicates if the document is waiting to be indexed, is in the process of indexing, has completed indexing, or failed indexing. If a document failed indexing, the status provides the reason why.</p>",
          "shape": "DocumentStatusList"
        },
        "Errors": {
          "documentation": "<p>A list of documents that Amazon Kendra couldn't get the status for. The list includes the ID of the document and the reason that the status couldn't be found.</p>",
          "shape": "BatchGetDocumentStatusResponseErrors"
        }
      },
      "type": "structure"
    },
    "BatchGetDocumentStatusResponseError": {
      "documentation": "<p>Provides a response when the status of a document could not be retrieved.</p>",
      "members": {
        "DocumentId": {
          "documentation": "<p>The unique identifier of the document whose status could not be retrieved.</p>",
          "shape": "DocumentId"
        },
        "ErrorCode": {
          "documentation": "<p>Indicates the source of the error.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>States that the API could not get the status of a document. This could be because the request is not valid or there is a system error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "BatchGetDocumentStatusResponseErrors": {
      "member": {
        "shape": "BatchGetDocumentStatusResponseError"
      },
      "type": "list"
    },
    "BatchPutDocumentRequest": {
      "members": {
        "CustomDocumentEnrichmentConfiguration": {
          "documentation": "<p>Configuration information for altering your document metadata and content during the document ingestion process when you use the <code>BatchPutDocument</code> API.</p> <p>For more information on how to create, modify and delete document metadata, or make other content alterations when you ingest documents into Amazon Kendra, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/custom-document-enrichment.html\">Customizing document metadata during the ingestion process</a>.</p>",
          "shape": "CustomDocumentEnrichmentConfiguration"
        },
        "Documents": {
          "documentation": "<p>One or more documents to add to the index.</p> <p>Documents have the following file size limits.</p> <ul> <li> <p>5 MB total size for inline documents</p> </li> <li> <p>50 MB total size for files from an S3 bucket</p> </li> <li> <p>5 MB extracted text for any file</p> </li> </ul> <p>For more information about file size and transaction per second quotas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
          "shape": "DocumentList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index to add the documents to. You need to create the index first using the <code>CreateIndex</code> API.</p>",
          "shape": "IndexId"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the <code>BatchPutDocument</code> API. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "IndexId",
        "Documents"
      ],
      "type": "structure"
    },
    "BatchPutDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "documentation": "<p>A list of documents that were not added to the index because the document failed a validation check. Each document contains an error message that indicates why the document couldn't be added to the index.</p> <p>If there was an error adding a document to an index the error is reported in your Amazon Web Services CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring Amazon Kendra with Amazon CloudWatch Logs</a> </p>",
          "shape": "BatchPutDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocument": {
      "documentation": "<p>Provides information about a document that could not be indexed.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The type of error that caused the document to fail to be indexed.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>A description of the reason why the document could not be indexed.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The unique identifier of the document.</p>",
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchPutDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxConfiguration": {
      "documentation": "<p>Provides the configuration information to connect to Box as your data source.</p>",
      "members": {
        "CommentFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Box comments to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. The Box field names must exist in your Box custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "CrawlComments": {
          "documentation": "<p> <code>TRUE</code> to index comments.</p>",
          "shape": "Boolean"
        },
        "CrawlTasks": {
          "documentation": "<p> <code>TRUE</code> to index the contents of tasks.</p>",
          "shape": "Boolean"
        },
        "CrawlWebLinks": {
          "documentation": "<p> <code>TRUE</code> to index web links.</p>",
          "shape": "Boolean"
        },
        "EnterpriseId": {
          "documentation": "<p>The identifier of the Box Enterprise platform. You can find the enterprise ID in the Box Developer Console settings or when you create an app in Box and download your authentication credentials. For example, <i>801234567</i>.</p>",
          "shape": "EnterpriseId"
        },
        "ExclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns to exclude certain files and folders from your Box platform. Files and folders that match the patterns are excluded from the index.Files and folders that don't match the patterns are included in the index. If a file or folder matches both an inclusion and exclusion pattern, the exclusion pattern takes precedence and the file or folder isn't included in the index.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "FileFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Box files to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. The Box field names must exist in your Box custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "InclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns to include certain files and folders in your Box platform. Files and folders that match the patterns are included in the index. Files and folders that don't match the patterns are excluded from the index. If a file or folder matches both an inclusion and exclusion pattern, the exclusion pattern takes precedence and the file or folder isn't included in the index.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "SecretArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret that contains the key-value pairs required to connect to your Box platform. The secret must contain a JSON structure with the following keys:</p> <ul> <li> <p>clientID\u2014The identifier of the client OAuth 2.0 authentication application created in Box.</p> </li> <li> <p>clientSecret\u2014A set of characters known only to the OAuth 2.0 authentication application created in Box.</p> </li> <li> <p>publicKeyId\u2014The identifier of the public key contained within an identity certificate.</p> </li> <li> <p>privateKey\u2014A set of characters that make up an encryption key.</p> </li> <li> <p>passphrase\u2014A set of characters that act like a password.</p> </li> </ul> <p>You create an application in Box to generate the keys or credentials required for the secret. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-box.html#box-authentication\">Authentication for a Box data source</a>.</p>",
          "shape": "SecretArn"
        },
        "TaskFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Box tasks to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. The Box field names must exist in your Box custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "UseChangeLog": {
          "documentation": "<p> <code>TRUE</code> to use the Slack change log to determine which documents require updating in the index. Depending on the data source change log's size, it may take longer for Amazon Kendra to use the change log than to scan all of your documents.</p>",
          "shape": "Boolean"
        },
        "VpcConfiguration": {
          "documentation": "<p>Configuration information for an Amazon VPC to connect to your Box. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/vpc-configuration.html\">Configuring a VPC</a>.</p>",
          "shape": "DataSourceVpcConfiguration"
        },
        "WebLinkFieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or field names of Box web links to Amazon Kendra index field names. To create custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. The Box field names must exist in your Box custom metadata.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "EnterpriseId",
        "SecretArn"
      ],
      "type": "structure"
    },
    "CapacityUnitsConfiguration": {
      "documentation": "<p>Specifies additional capacity units configured for your Enterprise Edition index. You can add and remove capacity units to fit your usage requirements.</p>",
      "members": {
        "QueryCapacityUnits": {
          "documentation": "<p>The amount of extra query capacity for an index and <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_GetQuerySuggestions.html\">GetQuerySuggestions</a> capacity.</p> <p>A single extra capacity unit for an index provides 0.1 queries per second or approximately 8,000 queries per day. You can add up to 100 extra capacity units.</p> <p> <code>GetQuerySuggestions</code> capacity is five times the provisioned query capacity for an index, or the base capacity of 2.5 calls per second, whichever is higher. For example, the base capacity for an index is 0.1 queries per second, and <code>GetQuerySuggestions</code> capacity has a base of 2.5 calls per second. If you add another 0.1 queries per second to total 0.2 queries per second for an index, the <code>GetQuerySuggestions</code> capacity is 2.5 calls per second (higher than five times 0.2 queries per second).</p>",
          "shape": "QueryCapacityUnit"
        },
        "StorageCapacityUnits": {
          "documentation": "<p>The amount of extra storage capacity for an index. A single capacity unit provides 30 GB of storage space or 100,000 documents, whichever is reached first. You can add up to 100 extra capacity units.</p>",
          "shape": "StorageCapacityUnit"
        }
      },
      "required": [
        "StorageCapacityUnits",
        "QueryCapacityUnits"
      ],
      "type": "structure"
    },
    "ChangeDetectingColumns": {
      "max": 5,
      "member": {
        "shape": "ColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "ClaimRegex": {
      "max": 100,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "ClearQuerySuggestionsRequest": {
      "members": {
        "IndexId": {
          "documentation": "<p>The identifier of the index you want to clear query suggestions from.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId"
      ],
      "type": "structure"
    },
    "ClickFeedback": {
      "documentation": "<p>Gathers information about when a particular result was clicked by a user. Your application uses the <code>SubmitFeedback</code> API to provide click information.</p>",
[...]
