{
  "documentation": "<p>IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. You can use IoT Events Data API commands to send inputs to detectors, list detectors, and view or update a detector's status.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/what-is-iotevents.html\">What is IoT Events?</a> in the <i>IoT Events Developer Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2018-10-23",
    "endpointPrefix": "data.iotevents",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Events Data",
    "serviceId": "IoT Events Data",
    "signatureVersion": "v4",
    "signingName": "ioteventsdata",
    "uid": "iotevents-data-2018-10-23"
  },
  "operations": {
    "BatchAcknowledgeAlarm": {
      "documentation": "<p>Acknowledges one or more alarms. The alarms change to the <code>ACKNOWLEDGED</code> state after you acknowledge them.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarms/acknowledge",
        "responseCode": 202
      },
      "input": {
        "shape": "BatchAcknowledgeAlarmRequest"
      },
      "name": "BatchAcknowledgeAlarm",
      "output": {
        "shape": "BatchAcknowledgeAlarmResponse"
      }
    },
    "BatchDeleteDetector": {
      "documentation": "<p>Deletes one or more detectors that were created. When a detector is deleted, its state will be cleared and the detector will be removed from the list of detectors. The deleted detector will no longer appear if referenced in the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_ListDetectors.html\">ListDetectors</a> API call.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detectors/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteDetectorRequest"
      },
      "name": "BatchDeleteDetector",
      "output": {
        "shape": "BatchDeleteDetectorResponse"
      }
    },
    "BatchDisableAlarm": {
      "documentation": "<p>Disables one or more alarms. The alarms change to the <code>DISABLED</code> state after you disable them.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarms/disable",
        "responseCode": 202
      },
      "input": {
        "shape": "BatchDisableAlarmRequest"
      },
      "name": "BatchDisableAlarm",
      "output": {
        "shape": "BatchDisableAlarmResponse"
      }
    },
    "BatchEnableAlarm": {
      "documentation": "<p>Enables one or more alarms. The alarms change to the <code>NORMAL</code> state after you enable them.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarms/enable",
        "responseCode": 202
      },
      "input": {
        "shape": "BatchEnableAlarmRequest"
      },
      "name": "BatchEnableAlarm",
      "output": {
        "shape": "BatchEnableAlarmResponse"
      }
    },
    "BatchPutMessage": {
      "documentation": "<p>Sends a set of messages to the IoT Events system. Each message payload is transformed into the input you specify (<code>\"inputName\"</code>) and ingested into any detectors that monitor that input. If multiple messages are sent, the order in which the messages are processed isn't guaranteed. To guarantee ordering, you must send messages one at a time and wait for a successful response.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/inputs/messages",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchPutMessageRequest"
      },
      "name": "BatchPutMessage",
      "output": {
        "shape": "BatchPutMessageResponse"
      }
    },
    "BatchResetAlarm": {
      "documentation": "<p>Resets one or more alarms. The alarms return to the <code>NORMAL</code> state after you reset them.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarms/reset",
        "responseCode": 202
      },
      "input": {
        "shape": "BatchResetAlarmRequest"
      },
      "name": "BatchResetAlarm",
      "output": {
        "shape": "BatchResetAlarmResponse"
      }
    },
    "BatchSnoozeAlarm": {
      "documentation": "<p>Changes one or more alarms to the snooze mode. The alarms change to the <code>SNOOZE_DISABLED</code> state after you set them to the snooze mode.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/alarms/snooze",
        "responseCode": 202
      },
      "input": {
        "shape": "BatchSnoozeAlarmRequest"
      },
      "name": "BatchSnoozeAlarm",
      "output": {
        "shape": "BatchSnoozeAlarmResponse"
      }
    },
    "BatchUpdateDetector": {
      "documentation": "<p>Updates the state, variable values, and timer settings of one or more detectors (instances) of a specified detector model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detectors",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateDetectorRequest"
      },
      "name": "BatchUpdateDetector",
      "output": {
        "shape": "BatchUpdateDetectorResponse"
      }
    },
    "DescribeAlarm": {
      "documentation": "<p>Retrieves information about an alarm.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/alarms/{alarmModelName}/keyValues/"
      },
      "input": {
        "shape": "DescribeAlarmRequest"
      },
      "name": "DescribeAlarm",
      "output": {
        "shape": "DescribeAlarmResponse"
      }
    },
    "DescribeDetector": {
      "documentation": "<p>Returns information about the specified detector (instance).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detectors/{detectorModelName}/keyValues/"
      },
      "input": {
        "shape": "DescribeDetectorRequest"
      },
      "name": "DescribeDetector",
      "output": {
        "shape": "DescribeDetectorResponse"
      }
    },
    "ListAlarms": {
      "documentation": "<p>Lists one or more alarms. The operation returns only the metadata associated with each alarm.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/alarms/{alarmModelName}"
      },
      "input": {
        "shape": "ListAlarmsRequest"
      },
      "name": "ListAlarms",
      "output": {
        "shape": "ListAlarmsResponse"
      }
    },
    "ListDetectors": {
      "documentation": "<p>Lists detectors (the instances of a detector model).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detectors/{detectorModelName}"
      },
      "input": {
        "shape": "ListDetectorsRequest"
      },
      "name": "ListDetectors",
      "output": {
        "shape": "ListDetectorsResponse"
      }
    }
  },
  "shapes": {
    "AcknowledgeActionConfiguration": {
      "documentation": "<p>Contains the configuration information of an acknowledge action.</p>",
      "members": {
        "note": {
          "documentation": "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "shape": "Note"
        }
      },
      "type": "structure"
    },
    "AcknowledgeAlarmActionRequest": {
      "documentation": "<p>Information needed to acknowledge the alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "note": {
          "documentation": "<p>The note that you can leave when you acknowledge the alarm.</p>",
          "shape": "Note"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        }
      },
      "required": [
        "requestId",
        "alarmModelName"
      ],
      "type": "structure"
    },
    "AcknowledgeAlarmActionRequests": {
      "member": {
        "shape": "AcknowledgeAlarmActionRequest"
      },
      "min": 1,
      "type": "list"
    },
    "Alarm": {
      "documentation": "<p>Contains information about an alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "shape": "AlarmModelVersion"
        },
        "alarmState": {
          "documentation": "<p>Contains information about the current state of the alarm.</p>",
          "shape": "AlarmState"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the alarm was last updated, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "severity": {
          "documentation": "<p>A non-negative integer that reflects the severity level of the alarm.</p>",
          "shape": "Severity"
        }
      },
      "type": "structure"
    },
    "AlarmModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "AlarmModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AlarmState": {
      "documentation": "<p>Contains information about the current state of the alarm.</p>",
      "members": {
        "customerAction": {
          "documentation": "<p>Contains information about the action that you can take to respond to the alarm.</p>",
          "shape": "CustomerAction"
        },
        "ruleEvaluation": {
          "documentation": "<p>Information needed to evaluate data.</p>",
          "shape": "RuleEvaluation"
        },
        "stateName": {
          "documentation": "<p>The name of the alarm state. The state name can be one of the following values:</p> <ul> <li> <p> <code>DISABLED</code> - When the alarm is in the <code>DISABLED</code> state, it isn't ready to evaluate data. To enable the alarm, you must change the alarm to the <code>NORMAL</code> state.</p> </li> <li> <p> <code>NORMAL</code> - When the alarm is in the <code>NORMAL</code> state, it's ready to evaluate data.</p> </li> <li> <p> <code>ACTIVE</code> - If the alarm is in the <code>ACTIVE</code> state, the alarm is invoked.</p> </li> <li> <p> <code>ACKNOWLEDGED</code> - When the alarm is in the <code>ACKNOWLEDGED</code> state, the alarm was invoked and you acknowledged the alarm.</p> </li> <li> <p> <code>SNOOZE_DISABLED</code> - When the alarm is in the <code>SNOOZE_DISABLED</code> state, the alarm is disabled for a specified period of time. After the snooze time, the alarm automatically changes to the <code>NORMAL</code> state. </p> </li> <li> <p> <code>LATCHED</code> - When the alarm is in the <code>LATCHED</code> state, the alarm was invoked. However, the data that the alarm is currently evaluating is within the specified range. To change the alarm to the <code>NORMAL</code> state, you must acknowledge the alarm.</p> </li> </ul>",
          "shape": "AlarmStateName"
        },
        "systemEvent": {
          "documentation": "<p>Contains information about alarm state changes.</p>",
          "shape": "SystemEvent"
        }
      },
      "type": "structure"
    },
    "AlarmStateName": {
      "enum": [
        "DISABLED",
        "NORMAL",
        "ACTIVE",
        "ACKNOWLEDGED",
        "SNOOZE_DISABLED",
        "LATCHED"
      ],
      "type": "string"
    },
    "AlarmSummaries": {
      "member": {
        "shape": "AlarmSummary"
      },
      "type": "list"
    },
    "AlarmSummary": {
      "documentation": "<p>Contains a summary of an alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "alarmModelVersion": {
          "documentation": "<p>The version of the alarm model.</p>",
          "shape": "AlarmModelVersion"
        },
        "creationTime": {
          "documentation": "<p>The time the alarm was created, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the alarm was last updated, in the Unix epoch format.</p>",
          "shape": "Timestamp"
        },
        "stateName": {
          "documentation": "<p>The name of the alarm state. The state name can be one of the following values:</p> <ul> <li> <p> <code>DISABLED</code> - When the alarm is in the <code>DISABLED</code> state, it isn't ready to evaluate data. To enable the alarm, you must change the alarm to the <code>NORMAL</code> state.</p> </li> <li> <p> <code>NORMAL</code> - When the alarm is in the <code>NORMAL</code> state, it's ready to evaluate data.</p> </li> <li> <p> <code>ACTIVE</code> - If the alarm is in the <code>ACTIVE</code> state, the alarm is invoked.</p> </li> <li> <p> <code>ACKNOWLEDGED</code> - When the alarm is in the <code>ACKNOWLEDGED</code> state, the alarm was invoked and you acknowledged the alarm.</p> </li> <li> <p> <code>SNOOZE_DISABLED</code> - When the alarm is in the <code>SNOOZE_DISABLED</code> state, the alarm is disabled for a specified period of time. After the snooze time, the alarm automatically changes to the <code>NORMAL</code> state. </p> </li> <li> <p> <code>LATCHED</code> - When the alarm is in the <code>LATCHED</code> state, the alarm was invoked. However, the data that the alarm is currently evaluating is within the specified range. To change the alarm to the <code>NORMAL</code> state, you must acknowledge the alarm.</p> </li> </ul>",
          "shape": "AlarmStateName"
        }
      },
      "type": "structure"
    },
    "BatchAcknowledgeAlarmRequest": {
      "members": {
        "acknowledgeActionRequests": {
          "documentation": "<p>The list of acknowledge action requests. You can specify up to 10 requests per operation.</p>",
          "shape": "AcknowledgeAlarmActionRequests"
        }
      },
      "required": [
        "acknowledgeActionRequests"
      ],
      "type": "structure"
    },
    "BatchAcknowledgeAlarmResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. Each error entry contains an entry ID that helps you identify the entry that failed.</p>",
          "shape": "BatchAlarmActionErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchAlarmActionErrorEntries": {
      "member": {
        "shape": "BatchAlarmActionErrorEntry"
      },
      "type": "list"
    },
    "BatchAlarmActionErrorEntry": {
      "documentation": "<p>Contains error messages associated with one of the following requests:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchAcknowledgeAlarm.html\">BatchAcknowledgeAlarm</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchDisableAlarm.html\">BatchDisableAlarm</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchEnableAlarm.html\">BatchEnableAlarm</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchResetAlarm.html\">BatchResetAlarm</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchSnoozeAlarm.html\">BatchSnoozeAlarm</a> </p> </li> </ul>",
      "members": {
        "errorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p>",
          "shape": "ErrorMessage"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDetectorErrorEntries": {
      "member": {
        "shape": "BatchDeleteDetectorErrorEntry"
      },
      "type": "list"
    },
    "BatchDeleteDetectorErrorEntry": {
      "documentation": "<p>Contains error messages associated with the deletion request.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The ID of the message that caused the error. (See the value of the <code>\"messageId\"</code> in the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_BatchDeleteDetector.html#iotevents-iotevents-data_BatchDeleteDetector-request-detectors\">detectors</a> object of the <code>DeleteDetectorRequest</code>.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDetectorRequest": {
      "members": {
        "detectors": {
          "documentation": "<p>The list of one or more detectors to be deleted.</p>",
          "shape": "DeleteDetectorRequests"
        }
      },
      "required": [
        "detectors"
      ],
      "type": "structure"
    },
    "BatchDeleteDetectorResponse": {
      "members": {
        "batchDeleteDetectorErrorEntries": {
          "documentation": "<p>A list of errors associated with the request, or an empty array (<code>[]</code>) if there are no errors. Each error entry contains a <code>messageId</code> that helps you identify the entry that failed.</p>",
          "shape": "BatchDeleteDetectorErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchDisableAlarmRequest": {
      "members": {
        "disableActionRequests": {
          "documentation": "<p>The list of disable action requests. You can specify up to 10 requests per operation.</p>",
          "shape": "DisableAlarmActionRequests"
        }
      },
      "required": [
        "disableActionRequests"
      ],
      "type": "structure"
    },
    "BatchDisableAlarmResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. Each error entry contains an entry ID that helps you identify the entry that failed.</p>",
          "shape": "BatchAlarmActionErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchEnableAlarmRequest": {
      "members": {
        "enableActionRequests": {
          "documentation": "<p>The list of enable action requests. You can specify up to 10 requests per operation.</p>",
          "shape": "EnableAlarmActionRequests"
        }
      },
      "required": [
        "enableActionRequests"
      ],
      "type": "structure"
    },
    "BatchEnableAlarmResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. Each error entry contains an entry ID that helps you identify the entry that failed.</p>",
          "shape": "BatchAlarmActionErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchPutMessageErrorEntries": {
      "member": {
        "shape": "BatchPutMessageErrorEntry"
      },
      "type": "list"
    },
    "BatchPutMessageErrorEntry": {
      "documentation": "<p>Contains information about the errors encountered.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The ID of the message that caused the error. (See the value corresponding to the <code>\"messageId\"</code> key in the <code>\"message\"</code> object.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchPutMessageRequest": {
      "members": {
        "messages": {
          "documentation": "<p>The list of messages to send. Each message has the following format: <code>'{ \"messageId\": \"string\", \"inputName\": \"string\", \"payload\": \"string\"}'</code> </p>",
          "shape": "Messages"
        }
      },
      "required": [
        "messages"
      ],
      "type": "structure"
    },
    "BatchPutMessageResponse": {
      "members": {
        "BatchPutMessageErrorEntries": {
          "documentation": "<p>A list of any errors encountered when sending the messages.</p>",
          "shape": "BatchPutMessageErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchResetAlarmRequest": {
      "members": {
        "resetActionRequests": {
          "documentation": "<p>The list of reset action requests. You can specify up to 10 requests per operation.</p>",
          "shape": "ResetAlarmActionRequests"
        }
      },
      "required": [
        "resetActionRequests"
      ],
      "type": "structure"
    },
    "BatchResetAlarmResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. Each error entry contains an entry ID that helps you identify the entry that failed.</p>",
          "shape": "BatchAlarmActionErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchSnoozeAlarmRequest": {
      "members": {
        "snoozeActionRequests": {
          "documentation": "<p>The list of snooze action requests. You can specify up to 10 requests per operation.</p>",
          "shape": "SnoozeAlarmActionRequests"
        }
      },
      "required": [
        "snoozeActionRequests"
      ],
      "type": "structure"
    },
    "BatchSnoozeAlarmResponse": {
      "members": {
        "errorEntries": {
          "documentation": "<p>A list of errors associated with the request, or <code>null</code> if there are no errors. Each error entry contains an entry ID that helps you identify the entry that failed.</p>",
          "shape": "BatchAlarmActionErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchUpdateDetectorErrorEntries": {
      "member": {
        "shape": "BatchUpdateDetectorErrorEntry"
      },
      "type": "list"
    },
    "BatchUpdateDetectorErrorEntry": {
      "documentation": "<p>Information about the error that occurred when attempting to update a detector.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The <code>\"messageId\"</code> of the update request that caused the error. (The value of the <code>\"messageId\"</code> in the update request <code>\"Detector\"</code> object.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchUpdateDetectorRequest": {
      "members": {
        "detectors": {
          "documentation": "<p>The list of detectors (instances) to update, along with the values to update.</p>",
          "shape": "UpdateDetectorRequests"
        }
      },
      "required": [
        "detectors"
      ],
      "type": "structure"
    },
    "BatchUpdateDetectorResponse": {
      "members": {
        "batchUpdateDetectorErrorEntries": {
          "documentation": "<p>A list of those detector updates that resulted in errors. (If an error is listed here, the specific update did not occur.)</p>",
          "shape": "BatchUpdateDetectorErrorEntries"
        }
      },
      "type": "structure"
    },
    "ComparisonOperator": {
      "enum": [
        "GREATER",
        "GREATER_OR_EQUAL",
        "LESS",
        "LESS_OR_EQUAL",
        "EQUAL",
        "NOT_EQUAL"
      ],
      "type": "string"
    },
    "CustomerAction": {
      "documentation": "<p>Contains information about the action that you can take to respond to the alarm.</p>",
      "members": {
        "acknowledgeActionConfiguration": {
          "documentation": "<p>Contains the configuration information of an acknowledge action.</p>",
          "shape": "AcknowledgeActionConfiguration"
        },
        "actionName": {
          "documentation": "<p>The name of the action. The action name can be one of the following values:</p> <ul> <li> <p> <code>SNOOZE</code> - When you snooze the alarm, the alarm state changes to <code>SNOOZE_DISABLED</code>.</p> </li> <li> <p> <code>ENABLE</code> - When you enable the alarm, the alarm state changes to <code>NORMAL</code>.</p> </li> <li> <p> <code>DISABLE</code> - When you disable the alarm, the alarm state changes to <code>DISABLED</code>.</p> </li> <li> <p> <code>ACKNOWLEDGE</code> - When you acknowledge the alarm, the alarm state changes to <code>ACKNOWLEDGED</code>.</p> </li> <li> <p> <code>RESET</code> - When you reset the alarm, the alarm state changes to <code>NORMAL</code>.</p> </li> </ul> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_iotevents-data_AlarmState.html\">AlarmState</a> API.</p>",
          "shape": "CustomerActionName"
        },
        "disableActionConfiguration": {
          "documentation": "<p>Contains the configuration information of a disable action.</p>",
          "shape": "DisableActionConfiguration"
        },
        "enableActionConfiguration": {
          "documentation": "<p>Contains the configuration information of an enable action.</p>",
          "shape": "EnableActionConfiguration"
        },
        "resetActionConfiguration": {
          "documentation": "<p>Contains the configuration information of a reset action.</p>",
          "shape": "ResetActionConfiguration"
        },
        "snoozeActionConfiguration": {
          "documentation": "<p>Contains the configuration information of a snooze action.</p>",
          "shape": "SnoozeActionConfiguration"
        }
      },
      "type": "structure"
    },
    "CustomerActionName": {
      "enum": [
        "SNOOZE",
        "ENABLE",
        "DISABLE",
        "ACKNOWLEDGE",
        "RESET"
      ],
      "type": "string"
    },
    "DeleteDetectorRequest": {
      "documentation": "<p>Information used to delete the detector model.</p>",
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that was used to create the detector instance.</p>",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateDetectorModel.html#iotevents-CreateDetectorModel-request-key\">key</a> used to identify the detector. </p>",
          "shape": "KeyValue"
        },
        "messageId": {
          "documentation": "<p>The ID to assign to the <code>DeleteDetectorRequest</code>. Each <code>\"messageId\"</code> must be unique within each batch sent.</p>",
          "shape": "MessageId"
        }
      },
      "required": [
        "messageId",
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DeleteDetectorRequests": {
      "member": {
        "shape": "DeleteDetectorRequest"
      },
      "min": 1,
      "type": "list"
    },
    "DescribeAlarmRequest": {
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "location": "uri",
          "locationName": "alarmModelName",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "location": "querystring",
          "locationName": "keyValue",
          "shape": "KeyValue"
        }
      },
      "required": [
        "alarmModelName"
      ],
      "type": "structure"
    },
    "DescribeAlarmResponse": {
      "members": {
        "alarm": {
          "documentation": "<p>Contains information about an alarm.</p>",
          "shape": "Alarm"
        }
      },
      "type": "structure"
    },
    "DescribeDetectorRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model whose detectors (instances) you want information about.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>A filter used to limit results to detectors (instances) created because of the given key ID.</p>",
          "location": "querystring",
          "locationName": "keyValue",
          "shape": "KeyValue"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DescribeDetectorResponse": {
      "members": {
        "detector": {
          "documentation": "<p>Information about the detector (instance).</p>",
          "shape": "Detector"
        }
      },
      "type": "structure"
    },
    "Detector": {
      "documentation": "<p>Information about the detector (instance).</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector (instance) was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelVersion"
        },
        "keyValue": {
          "documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector (instance) was last updated.</p>",
          "shape": "Timestamp"
        },
        "state": {
          "documentation": "<p>The current state of the detector (instance).</p>",
          "shape": "DetectorState"
        }
      },
      "type": "structure"
    },
    "DetectorModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "DetectorModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "DetectorState": {
      "documentation": "<p>Information about the current state of the detector instance.</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "StateName"
        },
        "timers": {
          "documentation": "<p>The current state of the detector's timers.</p>",
          "shape": "Timers"
        },
        "variables": {
          "documentation": "<p>The current values of the detector's variables.</p>",
          "shape": "Variables"
        }
      },
      "required": [
        "stateName",
        "variables",
        "timers"
      ],
      "type": "structure"
    },
    "DetectorStateDefinition": {
      "documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the new state of the detector (instance).</p>",
          "shape": "StateName"
        },
        "timers": {
          "documentation": "<p>The new values of the detector's timers. Any timer whose value isn't specified is cleared, and its timeout event won't occur.</p>",
          "shape": "TimerDefinitions"
        },
        "variables": {
          "documentation": "<p>The new values of the detector's variables. Any variable whose value isn't specified is cleared.</p>",
          "shape": "VariableDefinitions"
        }
      },
      "required": [
        "stateName",
        "variables",
        "timers"
      ],
      "type": "structure"
    },
    "DetectorStateSummary": {
      "documentation": "<p>Information about the detector state.</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "StateName"
        }
      },
      "type": "structure"
    },
    "DetectorSummaries": {
      "member": {
        "shape": "DetectorSummary"
      },
      "type": "list"
    },
    "DetectorSummary": {
      "documentation": "<p>Information about the detector (instance).</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector (instance) was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelVersion"
        },
        "keyValue": {
          "documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector (instance) was last updated.</p>",
          "shape": "Timestamp"
        },
        "state": {
          "documentation": "<p>The current state of the detector (instance).</p>",
          "shape": "DetectorStateSummary"
        }
      },
      "type": "structure"
    },
    "DisableActionConfiguration": {
      "documentation": "<p>Contains the configuration information of a disable action.</p>",
      "members": {
        "note": {
          "documentation": "<p>The note that you can leave when you disable the alarm.</p>",
          "shape": "Note"
        }
      },
      "type": "structure"
    },
    "DisableAlarmActionRequest": {
      "documentation": "<p>Information used to disable the alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "note": {
          "documentation": "<p>The note that you can leave when you disable the alarm.</p>",
          "shape": "Note"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        }
      },
      "required": [
        "requestId",
        "alarmModelName"
      ],
      "type": "structure"
    },
    "DisableAlarmActionRequests": {
      "member": {
        "shape": "DisableAlarmActionRequest"
      },
      "min": 1,
      "type": "list"
    },
    "EnableActionConfiguration": {
      "documentation": "<p>Contains the configuration information of an enable action.</p>",
      "members": {
        "note": {
          "documentation": "<p>The note that you can leave when you enable the alarm.</p>",
          "shape": "Note"
        }
      },
      "type": "structure"
    },
    "EnableAlarmActionRequest": {
      "documentation": "<p>Information needed to enable the alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "note": {
          "documentation": "<p>The note that you can leave when you enable the alarm.</p>",
          "shape": "Note"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        }
      },
      "required": [
        "requestId",
        "alarmModelName"
      ],
      "type": "structure"
    },
    "EnableAlarmActionRequests": {
      "member": {
        "shape": "EnableAlarmActionRequest"
      },
      "min": 1,
      "type": "list"
    },
    "EphemeralInputName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
      "type": "string"
    },
    "EpochMilliTimestamp": {
      "max": 9223372036854775807,
      "min": 1,
      "type": "long"
    },
    "ErrorCode": {
      "enum": [
        "ResourceNotFoundException",
        "InvalidRequestException",
        "InternalFailureException",
        "ServiceUnavailableException",
        "ThrottlingException"
      ],
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventType": {
      "enum": [
        "STATE_CHANGE"
      ],
      "type": "string"
    },
    "InputPropertyValue": {
      "type": "string"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal failure occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "KeyValue": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_:]+$",
      "type": "string"
    },
    "ListAlarmsRequest": {
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "location": "uri",
          "locationName": "alarmModelName",
          "shape": "AlarmModelName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to be returned per request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "alarmModelName"
      ],
      "type": "structure"
    },
    "ListAlarmsResponse": {
      "members": {
        "alarmSummaries": {
          "documentation": "<p>A list that summarizes each alarm.</p>",
          "shape": "AlarmSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDetectorsRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model whose detectors (instances) are listed.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to be returned per request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "stateName": {
          "documentation": "<p>A filter that limits results to those detectors (instances) in the given state.</p>",
          "location": "querystring",
          "locationName": "stateName",
          "shape": "StateName"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "ListDetectorsResponse": {
      "members": {
        "detectorSummaries": {
          "documentation": "<p>A list of summary information about the detectors (instances).</p>",
          "shape": "DetectorSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token that you can use to return the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 250,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "documentation": "<p>Information about a message.</p>",
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input into which the message payload is transformed.</p>",
          "shape": "EphemeralInputName"
        },
        "messageId": {
          "documentation": "<p>The ID to assign to the message. Within each batch sent, each <code>\"messageId\"</code> must be unique.</p>",
          "shape": "MessageId"
        },
        "payload": {
          "documentation": "<p>The payload of the message. This can be a JSON string or a Base-64-encoded string representing binary data (in which case you must decode it).</p>",
          "shape": "Payload"
        },
        "timestamp": {
          "documentation": "<p>The timestamp associated with the message.</p>",
          "shape": "TimestampValue"
        }
      },
      "required": [
        "messageId",
        "inputName",
        "payload"
      ],
      "type": "structure"
    },
    "MessageId": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "Messages": {
      "member": {
        "shape": "Message"
      },
      "min": 1,
      "type": "list"
    },
    "NextToken": {
      "type": "string"
    },
    "Note": {
      "max": 256,
      "type": "string"
    },
    "Payload": {
      "type": "blob"
    },
    "RequestId": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "ResetActionConfiguration": {
      "documentation": "<p>Contains the configuration information of a reset action.</p>",
      "members": {
        "note": {
          "documentation": "<p>The note that you can leave when you reset the alarm.</p>",
          "shape": "Note"
        }
      },
      "type": "structure"
    },
    "ResetAlarmActionRequest": {
      "documentation": "<p>Information needed to reset the alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "note": {
          "documentation": "<p>The note that you can leave when you reset the alarm.</p>",
          "shape": "Note"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        }
      },
      "required": [
        "requestId",
        "alarmModelName"
      ],
      "type": "structure"
    },
    "ResetAlarmActionRequests": {
      "member": {
        "shape": "ResetAlarmActionRequest"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "RuleEvaluation": {
      "documentation": "<p>Information needed to evaluate data.</p>",
      "members": {
        "simpleRuleEvaluation": {
          "documentation": "<p>Information needed to compare two values with a comparison operator.</p>",
          "shape": "SimpleRuleEvaluation"
        }
      },
      "type": "structure"
    },
    "Seconds": {
      "type": "integer"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The service is currently unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Severity": {
      "box": true,
      "max": 2147483647,
      "min": 0,
      "type": "integer"
    },
    "SimpleRuleEvaluation": {
      "documentation": "<p>Information needed to compare two values with a comparison operator.</p>",
      "members": {
        "inputPropertyValue": {
          "documentation": "<p>The value of the input property, on the left side of the comparison operator.</p>",
          "shape": "InputPropertyValue"
        },
        "operator": {
          "documentation": "<p>The comparison operator.</p>",
          "shape": "ComparisonOperator"
        },
        "thresholdValue": {
          "documentation": "<p>The threshold value, on the right side of the comparison operator.</p>",
          "shape": "ThresholdValue"
        }
      },
      "type": "structure"
    },
    "SnoozeActionConfiguration": {
      "documentation": "<p>Contains the configuration information of a snooze action.</p>",
      "members": {
        "note": {
          "documentation": "<p>The note that you can leave when you snooze the alarm.</p>",
          "shape": "Note"
        },
        "snoozeDuration": {
          "documentation": "<p>The snooze time in seconds. The alarm automatically changes to the <code>NORMAL</code> state after this duration.</p>",
          "shape": "SnoozeDuration"
        }
      },
      "type": "structure"
    },
    "SnoozeAlarmActionRequest": {
      "documentation": "<p>Information needed to snooze the alarm.</p>",
      "members": {
        "alarmModelName": {
          "documentation": "<p>The name of the alarm model.</p>",
          "shape": "AlarmModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the key used as a filter to select only the alarms associated with the <a href=\"https://docs.aws.amazon.com/iotevents/latest/apireference/API_CreateAlarmModel.html#iotevents-CreateAlarmModel-request-key\">key</a>.</p>",
          "shape": "KeyValue"
        },
        "note": {
          "documentation": "<p>The note that you can leave when you snooze the alarm.</p>",
          "shape": "Note"
        },
        "requestId": {
          "documentation": "<p>The request ID. Each ID must be unique within each batch.</p>",
          "shape": "RequestId"
        },
        "snoozeDuration": {
          "documentation": "<p>The snooze time in seconds. The alarm automatically changes to the <code>NORMAL</code> state after this duration.</p>",
          "shape": "SnoozeDuration"
        }
      },
      "required": [
        "requestId",
        "alarmModelName",
        "snoozeDuration"
      ],
      "type": "structure"
    },
    "SnoozeAlarmActionRequests": {
      "member": {
        "shape": "SnoozeAlarmActionRequest"
      },
      "min": 1,
      "type": "list"
    },
    "SnoozeDuration": {
      "type": "integer"
    },
    "StateChangeConfiguration": {
      "documentation": "<p>Contains the configuration information of alarm state changes.</p>",
      "members": {
        "triggerType": {
          "documentation": "<p>The trigger type. If the value is <code>SNOOZE_TIMEOUT</code>, the snooze duration ends and the alarm automatically changes to the <code>NORMAL</code> state.</p>",
          "shape": "TriggerType"
        }
      },
      "type": "structure"
    },
    "StateName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "SystemEvent": {
      "documentation": "<p>Contains information about alarm state changes.</p>",
      "members": {
        "eventType": {
          "documentation": "<p>The event type. If the value is <code>STATE_CHANGE</code>, the event contains information about alarm state changes.</p>",
          "shape": "EventType"
        },
        "stateChangeConfiguration": {
          "documentation": "<p>Contains the configuration information of alarm state changes.</p>",
          "shape": "StateChangeConfiguration"
        }
      },
      "type": "structure"
    },
    "ThresholdValue": {
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request could not be completed due to throttling.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Timer": {
      "documentation": "<p>The current state of a timer.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the timer.</p>",
          "shape": "TimerName"
        },
        "timestamp": {
          "documentation": "<p>The expiration time for the timer.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "name",
        "timestamp"
      ],
      "type": "structure"
    },
    "TimerDefinition": {
      "documentation": "<p>The new setting of a timer.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the timer.</p>",
          "shape": "TimerName"
        },
        "seconds": {
          "documentation": "<p>The new setting of the timer (the number of seconds before the timer elapses).</p>",
          "shape": "Seconds"
        }
      },
      "required": [
        "name",
        "seconds"
      ],
      "type": "structure"
    },
    "TimerDefinitions": {
      "member": {
        "shape": "TimerDefinition"
      },
      "type": "list"
    },
    "TimerName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "Timers": {
      "member": {
        "shape": "Timer"
      },
      "type": "list"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TimestampValue": {
      "documentation": "<p>Contains information about a timestamp.</p>",
      "members": {
        "timeInMillis": {
          "documentation": "<p>The value of the timestamp, in the Unix epoch format.</p>",
          "shape": "EpochMilliTimestamp"
        }
      },
      "type": "structure"
    },
    "TriggerType": {
      "enum": [
        "SNOOZE_TIMEOUT"
      ],
      "type": "string"
    },
    "UpdateDetectorRequest": {
      "documentation": "<p>Information used to update the detector (instance).</p>",
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created the detectors (instances).</p>",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the input key attribute (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "messageId": {
          "documentation": "<p>The ID to assign to the detector update <code>\"message\"</code>. Each <code>\"messageId\"</code> must be unique within each batch sent.</p>",
          "shape": "MessageId"
        },
        "state": {
          "documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>",
          "shape": "DetectorStateDefinition"
        }
      },
      "required": [
        "messageId",
        "detectorModelName",
        "state"
      ],
      "type": "structure"
    },
    "UpdateDetectorRequests": {
      "member": {
        "shape": "UpdateDetectorRequest"
      },
      "min": 1,
      "type": "list"
    },
    "Variable": {
      "documentation": "<p>The current state of the variable.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "VariableName"
        },
        "value": {
          "documentation": "<p>The current value of the variable.</p>",
          "shape": "VariableValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "VariableDefinition": {
      "documentation": "<p>The new value of the variable.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "VariableName"
        },
        "value": {
          "documentation": "<p>The new value of the variable.</p>",
          "shape": "VariableValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "VariableDefinitions": {
      "member": {
        "shape": "VariableDefinition"
      },
      "type": "list"
    },
    "VariableName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "VariableValue": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "Variables": {
      "member": {
        "shape": "Variable"
      },
      "type": "list"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
