{
  "documentation": "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see the <a href=\"http://aws.amazon.com/sns/\">Amazon SNS product page</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-authentication-and-access-control.html\">Identity and access management in Amazon SNS</a> in the <i>Amazon SNS Developer Guide.</i> </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
  "metadata": {
    "apiVersion": "2010-03-31",
    "endpointPrefix": "sns",
    "protocol": "query",
    "serviceAbbreviation": "Amazon SNS",
    "serviceFullName": "Amazon Simple Notification Service",
    "serviceId": "SNS",
    "signatureVersion": "v4",
    "uid": "sns-2010-03-31",
    "xmlNamespace": "http://sns.amazonaws.com/doc/2010-03-31/"
  },
  "operations": {
    "AddPermission": {
      "documentation": "<p>Adds a statement to a topic's access control policy, granting access for the specified Amazon Web Services accounts to the specified actions.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddPermissionInput"
      },
      "name": "AddPermission"
    },
    "CheckIfPhoneNumberIsOptedOut": {
      "documentation": "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your Amazon Web Services account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckIfPhoneNumberIsOptedOutInput"
      },
      "name": "CheckIfPhoneNumberIsOptedOut",
      "output": {
        "resultWrapper": "CheckIfPhoneNumberIsOptedOutResult",
        "shape": "CheckIfPhoneNumberIsOptedOutResponse"
      }
    },
    "ConfirmSubscription": {
      "documentation": "<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>",
      "errors": [
        {
          "shape": "SubscriptionLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmSubscriptionInput"
      },
      "name": "ConfirmSubscription",
      "output": {
        "resultWrapper": "ConfirmSubscriptionResult",
        "shape": "ConfirmSubscriptionResponse"
      }
    },
    "CreatePlatformApplication": {
      "documentation": "<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging), to which devices and mobile apps may register. You must specify <code>PlatformPrincipal</code> and <code>PlatformCredential</code> attributes when using the <code>CreatePlatformApplication</code> action.</p> <p> <code>PlatformPrincipal</code> and <code>PlatformCredential</code> are received from the notification service.</p> <ul> <li> <p>For <code>ADM</code>, <code>PlatformPrincipal</code> is <code>client id</code> and <code>PlatformCredential</code> is <code>client secret</code>.</p> </li> <li> <p>For <code>Baidu</code>, <code>PlatformPrincipal</code> is <code>API key</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> <li> <p>For <code>APNS</code> and <code>APNS_SANDBOX</code> using certificate credentials, <code>PlatformPrincipal</code> is <code>SSL certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>APNS</code> and <code>APNS_SANDBOX</code> using token credentials, <code>PlatformPrincipal</code> is <code>signing key ID</code> and <code>PlatformCredential</code> is <code>signing key</code>.</p> </li> <li> <p>For <code>GCM</code> (Firebase Cloud Messaging), there is no <code>PlatformPrincipal</code> and the <code>PlatformCredential</code> is <code>API key</code>.</p> </li> <li> <p>For <code>MPNS</code>, <code>PlatformPrincipal</code> is <code>TLS certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For <code>WNS</code>, <code>PlatformPrincipal</code> is <code>Package Security Identifier</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> </ul> <p>You can use the returned <code>PlatformApplicationArn</code> as an attribute for the <code>CreatePlatformEndpoint</code> action.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePlatformApplicationInput"
      },
      "name": "CreatePlatformApplication",
      "output": {
        "resultWrapper": "CreatePlatformApplicationResult",
        "shape": "CreatePlatformApplicationResponse"
      }
    },
    "CreatePlatformEndpoint": {
      "documentation": "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. <code>CreatePlatformEndpoint</code> requires the <code>PlatformApplicationArn</code> that is returned from <code>CreatePlatformApplication</code>. You can use the returned <code>EndpointArn</code> to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePlatformEndpointInput"
      },
      "name": "CreatePlatformEndpoint",
      "output": {
        "resultWrapper": "CreatePlatformEndpointResult",
        "shape": "CreateEndpointResponse"
      }
    },
    "CreateSMSSandboxPhoneNumber": {
      "documentation": "<p>Adds a destination phone number to an Amazon Web Services account in the SMS sandbox and sends a one-time password (OTP) to that phone number.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OptedOutException"
        },
        {
          "shape": "UserErrorException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSMSSandboxPhoneNumberInput"
      },
      "name": "CreateSMSSandboxPhoneNumber",
      "output": {
        "resultWrapper": "CreateSMSSandboxPhoneNumberResult",
        "shape": "CreateSMSSandboxPhoneNumberResult"
      }
    },
    "CreateTopic": {
      "documentation": "<p>Creates a topic to which notifications can be published. Users can create at most 100,000 standard topics (at most 1,000 FIFO topics). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-create-topic.html\">Creating an Amazon SNS topic</a> in the <i>Amazon SNS Developer Guide</i>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TopicLimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTopicInput"
      },
      "name": "CreateTopic",
      "output": {
        "resultWrapper": "CreateTopicResult",
        "shape": "CreateTopicResponse"
      }
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointInput"
      },
      "name": "DeleteEndpoint"
    },
    "DeletePlatformApplication": {
      "documentation": "<p>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePlatformApplicationInput"
      },
      "name": "DeletePlatformApplication"
    },
    "DeleteSMSSandboxPhoneNumber": {
      "documentation": "<p>Deletes an Amazon Web Services account's verified or pending phone number from the SMS sandbox.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UserErrorException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSMSSandboxPhoneNumberInput"
      },
      "name": "DeleteSMSSandboxPhoneNumber",
      "output": {
        "resultWrapper": "DeleteSMSSandboxPhoneNumberResult",
        "shape": "DeleteSMSSandboxPhoneNumberResult"
      }
    },
    "DeleteTopic": {
      "documentation": "<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTopicInput"
      },
      "name": "DeleteTopic"
    },
    "GetDataProtectionPolicy": {
      "documentation": "<p>Retrieves the specified inline <code>DataProtectionPolicy</code> document that is stored in the specified Amazon SNS topic. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataProtectionPolicyInput"
      },
      "name": "GetDataProtectionPolicy",
      "output": {
        "resultWrapper": "GetDataProtectionPolicyResult",
        "shape": "GetDataProtectionPolicyResponse"
      }
    },
    "GetEndpointAttributes": {
      "documentation": "<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEndpointAttributesInput"
      },
      "name": "GetEndpointAttributes",
      "output": {
        "resultWrapper": "GetEndpointAttributesResult",
        "shape": "GetEndpointAttributesResponse"
      }
    },
    "GetPlatformApplicationAttributes": {
      "documentation": "<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPlatformApplicationAttributesInput"
      },
      "name": "GetPlatformApplicationAttributes",
      "output": {
        "resultWrapper": "GetPlatformApplicationAttributesResult",
        "shape": "GetPlatformApplicationAttributesResponse"
      }
    },
    "GetSMSAttributes": {
      "documentation": "<p>Returns the settings for sending SMS messages from your Amazon Web Services account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSMSAttributesInput"
      },
      "name": "GetSMSAttributes",
      "output": {
        "resultWrapper": "GetSMSAttributesResult",
        "shape": "GetSMSAttributesResponse"
      }
    },
    "GetSMSSandboxAccountStatus": {
      "documentation": "<p>Retrieves the SMS sandbox status for the calling Amazon Web Services account in the target Amazon Web Services Region.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSMSSandboxAccountStatusInput"
      },
      "name": "GetSMSSandboxAccountStatus",
      "output": {
        "resultWrapper": "GetSMSSandboxAccountStatusResult",
        "shape": "GetSMSSandboxAccountStatusResult"
      }
    },
    "GetSubscriptionAttributes": {
      "documentation": "<p>Returns all of the properties of a subscription.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSubscriptionAttributesInput"
      },
      "name": "GetSubscriptionAttributes",
      "output": {
        "resultWrapper": "GetSubscriptionAttributesResult",
        "shape": "GetSubscriptionAttributesResponse"
      }
    },
    "GetTopicAttributes": {
      "documentation": "<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTopicAttributesInput"
      },
      "name": "GetTopicAttributes",
      "output": {
        "resultWrapper": "GetTopicAttributesResult",
        "shape": "GetTopicAttributesResponse"
      }
    },
    "ListEndpointsByPlatformApplication": {
      "documentation": "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM (Firebase Cloud Messaging) and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointsByPlatformApplicationInput"
      },
      "name": "ListEndpointsByPlatformApplication",
      "output": {
        "resultWrapper": "ListEndpointsByPlatformApplicationResult",
        "shape": "ListEndpointsByPlatformApplicationResponse"
      }
    },
    "ListOriginationNumbers": {
      "documentation": "<p>Lists the calling Amazon Web Services account's dedicated origination numbers and their metadata. For more information about origination numbers, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/channels-sms-originating-identities-origination-numbers.html\">Origination numbers</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOriginationNumbersRequest"
      },
      "name": "ListOriginationNumbers",
      "output": {
        "resultWrapper": "ListOriginationNumbersResult",
        "shape": "ListOriginationNumbersResult"
      }
    },
    "ListPhoneNumbersOptedOut": {
      "documentation": "<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPhoneNumbersOptedOutInput"
      },
      "name": "ListPhoneNumbersOptedOut",
      "output": {
        "resultWrapper": "ListPhoneNumbersOptedOutResult",
        "shape": "ListPhoneNumbersOptedOutResponse"
      }
    },
    "ListPlatformApplications": {
      "documentation": "<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPlatformApplicationsInput"
      },
      "name": "ListPlatformApplications",
      "output": {
        "resultWrapper": "ListPlatformApplicationsResult",
        "shape": "ListPlatformApplicationsResponse"
      }
    },
    "ListSMSSandboxPhoneNumbers": {
      "documentation": "<p>Lists the calling Amazon Web Services account's current verified and pending destination phone numbers in the SMS sandbox.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSMSSandboxPhoneNumbersInput"
      },
      "name": "ListSMSSandboxPhoneNumbers",
      "output": {
        "resultWrapper": "ListSMSSandboxPhoneNumbersResult",
        "shape": "ListSMSSandboxPhoneNumbersResult"
      }
    },
    "ListSubscriptions": {
      "documentation": "<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscriptionsInput"
      },
      "name": "ListSubscriptions",
      "output": {
        "resultWrapper": "ListSubscriptionsResult",
        "shape": "ListSubscriptionsResponse"
      }
    },
    "ListSubscriptionsByTopic": {
      "documentation": "<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscriptionsByTopicInput"
      },
      "name": "ListSubscriptionsByTopic",
      "output": {
        "resultWrapper": "ListSubscriptionsByTopicResult",
        "shape": "ListSubscriptionsByTopicResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List all tags added to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTopics": {
      "documentation": "<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTopicsInput"
      },
      "name": "ListTopics",
      "output": {
        "resultWrapper": "ListTopicsResult",
        "shape": "ListTopicsResponse"
      }
    },
    "OptInPhoneNumber": {
      "documentation": "<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "OptInPhoneNumberInput"
      },
      "name": "OptInPhoneNumber",
      "output": {
        "resultWrapper": "OptInPhoneNumberResult",
        "shape": "OptInPhoneNumberResponse"
      }
    },
    "Publish": {
      "documentation": "<p>Sends a message to an Amazon SNS topic, a text message (SMS message) directly to a phone number, or a message to a mobile platform endpoint (when you specify the <code>TargetArn</code>).</p> <p>If you send a message to a topic, Amazon SNS delivers the message to each endpoint that is subscribed to the topic. The format of the message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the message is saved and Amazon SNS immediately delivers it to subscribers.</p> <p>To use the <code>Publish</code> action for publishing a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn for the TargetArn parameter. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. </p> <p>For more information about formatting messages, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html\">Send Custom Platform-Specific Payloads in Messages to Mobile Devices</a>. </p> <important> <p>You can publish messages only to topics and endpoints in the same Amazon Web Services Region.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "EndpointDisabledException"
        },
        {
          "shape": "PlatformApplicationDisabledException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "KMSDisabledException"
        },
        {
          "shape": "KMSInvalidStateException"
        },
        {
          "shape": "KMSNotFoundException"
        },
        {
          "shape": "KMSOptInRequired"
        },
        {
          "shape": "KMSThrottlingException"
        },
        {
          "shape": "KMSAccessDeniedException"
        },
        {
          "shape": "InvalidSecurityException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PublishInput"
      },
      "name": "Publish",
      "output": {
        "resultWrapper": "PublishResult",
        "shape": "PublishResponse"
      }
    },
    "PublishBatch": {
      "documentation": "<p>Publishes up to ten messages to the specified topic. This is a batch version of <code>Publish</code>. For FIFO topics, multiple messages within a single batch are published in the order they are sent, and messages are deduplicated within the batch and across batches for 5 minutes.</p> <p>The result of publishing each message is reported individually in the response. Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p> <p>The maximum allowed individual message size and the maximum total payload size (the sum of the individual lengths of all of the batched messages) are both 256 KB (262,144 bytes). </p> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this: </p> <p>&amp;AttributeName.1=first</p> <p>&amp;AttributeName.2=second</p> <p>If you send a batch message to a topic, Amazon SNS publishes the batch message to each endpoint that is subscribed to the topic. The format of the batch message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the batch message is saved and Amazon SNS immediately delivers the message to subscribers.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "EndpointDisabledException"
        },
        {
          "shape": "PlatformApplicationDisabledException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "BatchEntryIdsNotDistinctException"
        },
        {
          "shape": "BatchRequestTooLongException"
        },
        {
          "shape": "EmptyBatchRequestException"
        },
        {
          "shape": "InvalidBatchEntryIdException"
        },
        {
          "shape": "TooManyEntriesInBatchRequestException"
        },
        {
          "shape": "KMSDisabledException"
        },
        {
          "shape": "KMSInvalidStateException"
        },
        {
          "shape": "KMSNotFoundException"
        },
        {
          "shape": "KMSOptInRequired"
        },
        {
          "shape": "KMSThrottlingException"
        },
        {
          "shape": "KMSAccessDeniedException"
        },
        {
          "shape": "InvalidSecurityException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PublishBatchInput"
      },
      "name": "PublishBatch",
      "output": {
        "resultWrapper": "PublishBatchResult",
        "shape": "PublishBatchResponse"
      }
    },
    "PutDataProtectionPolicy": {
      "documentation": "<p>Adds or updates an inline policy document that is stored in the specified Amazon SNS topic.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDataProtectionPolicyInput"
      },
      "name": "PutDataProtectionPolicy"
    },
    "RemovePermission": {
      "documentation": "<p>Removes a statement from a topic's access control policy.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemovePermissionInput"
      },
      "name": "RemovePermission"
    },
    "SetEndpointAttributes": {
      "documentation": "<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetEndpointAttributesInput"
      },
      "name": "SetEndpointAttributes"
    },
    "SetPlatformApplicationAttributes": {
      "documentation": "<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For information on configuring attributes for message delivery status, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetPlatformApplicationAttributesInput"
      },
      "name": "SetPlatformApplicationAttributes"
    },
    "SetSMSAttributes": {
      "documentation": "<p>Use this request to set the default settings for sending SMS messages and receiving daily SMS usage reports.</p> <p>You can override some of these settings for a single message when you use the <code>Publish</code> action with the <code>MessageAttributes.entry.N</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html\">Publishing to a mobile phone</a> in the <i>Amazon SNS Developer Guide</i>.</p> <note> <p>To use this operation, you must grant the Amazon SNS service principal (<code>sns.amazonaws.com</code>) permission to perform the <code>s3:ListBucket</code> action. </p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSMSAttributesInput"
      },
      "name": "SetSMSAttributes",
      "output": {
        "resultWrapper": "SetSMSAttributesResult",
        "shape": "SetSMSAttributesResponse"
      }
    },
    "SetSubscriptionAttributes": {
      "documentation": "<p>Allows a subscription owner to set an attribute of the subscription to a new value.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSubscriptionAttributesInput"
      },
      "name": "SetSubscriptionAttributes"
    },
    "SetTopicAttributes": {
      "documentation": "<p>Allows a topic owner to set an attribute of the topic to a new value.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTopicAttributesInput"
      },
      "name": "SetTopicAttributes"
    },
    "Subscribe": {
      "documentation": "<p>Subscribes an endpoint to an Amazon SNS topic. If the endpoint type is HTTP/S or email, or if the endpoint and the topic are not in the same Amazon Web Services account, the endpoint owner must run the <code>ConfirmSubscription</code> action to confirm the subscription.</p> <p>You call the <code>ConfirmSubscription</code> action with the token from the subscription response. Confirmation tokens are valid for three days.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "SubscriptionLimitExceededException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubscribeInput"
      },
      "name": "Subscribe",
      "output": {
        "resultWrapper": "SubscribeResult",
        "shape": "SubscribeResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p> <p>When you use topic tags, keep the following guidelines in mind:</p> <ul> <li> <p>Adding more than 50 tags to a topic isn't recommended.</p> </li> <li> <p>Tags don't have any semantic meaning. Amazon SNS interprets tags as character strings.</p> </li> <li> <p>Tags are case-sensitive.</p> </li> <li> <p>A new tag with a key identical to that of an existing tag overwrites the existing tag.</p> </li> <li> <p>Tagging actions are limited to 10 TPS per Amazon Web Services account, per Amazon Web Services Region. If your application requires a higher throughput, file a <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=technical\">technical support request</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "resultWrapper": "TagResourceResult",
        "shape": "TagResourceResponse"
      }
    },
    "Unsubscribe": {
      "documentation": "<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an Amazon Web Services signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UnsubscribeInput"
      },
      "name": "Unsubscribe"
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "resultWrapper": "UntagResourceResult",
        "shape": "UntagResourceResponse"
      }
    },
    "VerifySMSSandboxPhoneNumber": {
      "documentation": "<p>Verifies a destination phone number with a one-time password (OTP) for the calling Amazon Web Services account.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "VerificationException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "VerifySMSSandboxPhoneNumberInput"
      },
      "name": "VerifySMSSandboxPhoneNumber",
      "output": {
        "resultWrapper": "VerifySMSSandboxPhoneNumberResult",
        "shape": "VerifySMSSandboxPhoneNumberResult"
      }
    }
  },
  "shapes": {
    "ActionsList": {
      "member": {
        "shape": "action"
      },
      "type": "list"
    },
    "AddPermissionInput": {
      "members": {
        "AWSAccountId": {
          "documentation": "<p>The Amazon Web Services account IDs of the users (principals) who will be given access to the specified actions. The users must have Amazon Web Services account, but do not need to be signed up for this service.</p>",
          "shape": "DelegatesList"
        },
        "ActionName": {
          "documentation": "<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: Any Amazon SNS action name, for example <code>Publish</code>.</p>",
          "shape": "ActionsList"
        },
        "Label": {
          "documentation": "<p>A unique identifier for the new policy statement.</p>",
          "shape": "label"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic whose access control policy you wish to modify.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Label",
        "AWSAccountId",
        "ActionName"
      ],
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AuthorizationErrorException": {
      "documentation": "<p>Indicates that the user has been denied access to the requested resource.</p>",
      "error": {
        "code": "AuthorizationError",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BatchEntryIdsNotDistinctException": {
      "documentation": "<p>Two or more batch entries in the request have the same <code>Id</code>.</p>",
      "error": {
        "code": "BatchEntryIdsNotDistinct",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BatchRequestTooLongException": {
      "documentation": "<p>The length of all the batch messages put together is more than the limit.</p>",
      "error": {
        "code": "BatchRequestTooLong",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BatchResultErrorEntry": {
      "documentation": "<p>Gives a detailed description of failed messages in the batch.</p>",
      "members": {
        "Code": {
          "documentation": "<p>An error code representing why the action failed on this entry.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>The <code>Id</code> of an entry in a batch request</p>",
          "shape": "String"
        },
        "Message": {
          "documentation": "<p>A message explaining why the action failed on this entry.</p>",
          "shape": "String"
        },
        "SenderFault": {
          "documentation": "<p>Specifies whether the error happened due to the caller of the batch API action.</p>",
          "shape": "boolean"
        }
      },
      "required": [
        "Id",
        "Code",
        "SenderFault"
      ],
      "type": "structure"
    },
    "BatchResultErrorEntryList": {
      "member": {
        "shape": "BatchResultErrorEntry"
      },
      "type": "list"
    },
    "Binary": {
      "type": "blob"
    },
    "CheckIfPhoneNumberIsOptedOutInput": {
      "documentation": "<p>The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
      "members": {
        "phoneNumber": {
          "documentation": "<p>The phone number for which you want to check the opt out status.</p>",
          "shape": "PhoneNumber"
        }
      },
      "required": [
        "phoneNumber"
      ],
      "type": "structure"
    },
    "CheckIfPhoneNumberIsOptedOutResponse": {
      "documentation": "<p>The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
      "members": {
        "isOptedOut": {
          "documentation": "<p>Indicates whether the phone number is opted out:</p> <ul> <li> <p> <code>true</code> \u2013 The phone number is opted out, meaning you cannot publish SMS messages to it.</p> </li> <li> <p> <code>false</code> \u2013 The phone number is opted in, meaning you can publish SMS messages to it.</p> </li> </ul>",
          "shape": "boolean"
        }
      },
      "type": "structure"
    },
    "ConcurrentAccessException": {
      "documentation": "<p>Can't perform multiple operations on a tag simultaneously. Perform the operations sequentially.</p>",
      "error": {
        "code": "ConcurrentAccess",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ConfirmSubscriptionInput": {
      "documentation": "<p>Input for ConfirmSubscription action.</p>",
      "members": {
        "AuthenticateOnUnsubscribe": {
          "documentation": "<p>Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an Amazon Web Services signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires Amazon Web Services authentication. </p>",
          "shape": "authenticateOnUnsubscribe"
        },
        "Token": {
          "documentation": "<p>Short-lived token sent to an endpoint during the <code>Subscribe</code> action.</p>",
          "shape": "token"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic for which you wish to confirm a subscription.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Token"
      ],
      "type": "structure"
    },
    "ConfirmSubscriptionResponse": {
      "documentation": "<p>Response for ConfirmSubscriptions action.</p>",
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the created subscription.</p>",
          "shape": "subscriptionARN"
        }
      },
      "type": "structure"
    },
    "CreateEndpointResponse": {
      "documentation": "<p>Response from CreateEndpoint action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn returned from CreateEndpoint action.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreatePlatformApplicationInput": {
      "documentation": "<p>Input for CreatePlatformApplication action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a>.</p>",
          "shape": "MapStringToString"
        },
        "Name": {
          "documentation": "<p>Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.</p>",
          "shape": "String"
        },
        "Platform": {
          "documentation": "<p>The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Firebase Cloud Messaging).</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Platform",
        "Attributes"
      ],
      "type": "structure"
    },
    "CreatePlatformApplicationResponse": {
      "documentation": "<p>Response from CreatePlatformApplication action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn is returned.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreatePlatformEndpointInput": {
      "documentation": "<p>Input for CreatePlatformEndpoint action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>.</p>",
          "shape": "MapStringToString"
        },
        "CustomUserData": {
          "documentation": "<p>Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p>",
          "shape": "String"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>",
          "shape": "String"
        },
        "Token": {
          "documentation": "<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM (Firebase Cloud Messaging) or ADM, the device token equivalent is called the registration ID.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn",
        "Token"
      ],
      "type": "structure"
    },
    "CreateSMSSandboxPhoneNumberInput": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language to use for sending the OTP. The default value is <code>en-US</code>.</p>",
          "shape": "LanguageCodeString"
        },
        "PhoneNumber": {
          "documentation": "<p>The destination phone number to verify. On verification, Amazon SNS adds this phone number to the list of verified phone numbers that you can send SMS messages to.</p>",
          "shape": "PhoneNumberString"
        }
      },
      "required": [
        "PhoneNumber"
      ],
      "type": "structure"
    },
    "CreateSMSSandboxPhoneNumberResult": {
      "members": {},
      "type": "structure"
    },
    "CreateTopicInput": {
      "documentation": "<p>Input for CreateTopic action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateTopic</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>DisplayName</code> \u2013 The display name to use for a topic with SMS subscriptions.</p> </li> <li> <p> <code>FifoTopic</code> \u2013 Set to true to create a FIFO topic.</p> </li> <li> <p> <code>Policy</code> \u2013 The policy that defines who can access your topic. By default, only the topic owner can publish or subscribe to the topic.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> \u2013 The ID of an Amazon Web Services managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>Key Management Service API Reference</i>. </p> </li> </ul> <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-fifo-topics.html\">FIFO topics</a>:</p> <ul> <li> <p> <code>FifoTopic</code> \u2013 When this is set to <code>true</code>, a FIFO topic is created.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> \u2013 Enables content-based deduplication for FIFO topics.</p> <ul> <li> <p>By default, <code>ContentBasedDeduplication</code> is set to <code>false</code>. If you create a FIFO topic and this attribute is <code>false</code>, you must specify a value for the <code>MessageDeduplicationId</code> parameter for the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a> action. </p> </li> <li> <p>When you set <code>ContentBasedDeduplication</code> to <code>true</code>, Amazon SNS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).</p> <p>(Optional) To override the generated value, you can specify a value for the <code>MessageDeduplicationId</code> parameter for the <code>Publish</code> action.</p> </li> </ul> </li> </ul>",
          "shape": "TopicAttributesMap"
        },
        "DataProtectionPolicy": {
          "documentation": "<p>The body of the policy document you want to use for this topic.</p> <p>You can only add one policy per topic.</p> <p>The policy must be in JSON string format.</p> <p>Length Constraints: Maximum length of 30,720.</p>",
          "shape": "attributeValue"
        },
        "Name": {
          "documentation": "<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p> <p>For a FIFO (first-in-first-out) topic, the name must end with the <code>.fifo</code> suffix. </p>",
          "shape": "topicName"
        },
        "Tags": {
          "documentation": "<p>The list of tags to add to a new topic.</p> <note> <p>To be able to tag a topic on creation, you must have the <code>sns:CreateTopic</code> and <code>sns:TagResource</code> permissions.</p> </note>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateTopicResponse": {
      "documentation": "<p>Response from CreateTopic action.</p>",
      "members": {
        "TopicArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) assigned to the created topic.</p>",
          "shape": "topicARN"
        }
      },
      "type": "structure"
    },
    "DelegatesList": {
      "member": {
        "shape": "delegate"
      },
      "type": "list"
    },
    "DeleteEndpointInput": {
      "documentation": "<p>Input for DeleteEndpoint action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn of endpoint to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DeletePlatformApplicationInput": {
      "documentation": "<p>Input for DeletePlatformApplication action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn of platform application object to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "DeleteSMSSandboxPhoneNumberInput": {
      "members": {
        "PhoneNumber": {
          "documentation": "<p>The destination phone number to delete.</p>",
          "shape": "PhoneNumberString"
        }
      },
      "required": [
        "PhoneNumber"
      ],
      "type": "structure"
    },
    "DeleteSMSSandboxPhoneNumberResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteTopicInput": {
      "members": {
        "TopicArn": {
          "documentation": "<p>The ARN of the topic you want to delete.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "EmptyBatchRequestException": {
      "documentation": "<p>The batch request doesn't contain any entries.</p>",
      "error": {
        "code": "EmptyBatchRequest",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "Endpoint": {
      "documentation": "<p>The endpoint for mobile app and device.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes for endpoint.</p>",
          "shape": "MapStringToString"
        },
        "EndpointArn": {
          "documentation": "<p>The <code>EndpointArn</code> for mobile app and device.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EndpointDisabledException": {
      "documentation": "<p>Exception error indicating endpoint disabled.</p>",
      "error": {
        "code": "EndpointDisabled",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Message for endpoint disabled.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "FilterPolicyLimitExceededException": {
      "documentation": "<p>Indicates that the number of filter polices in your Amazon Web Services account exceeds the limit. To add more filter polices, submit an Amazon SNS Limit Increase case in the Amazon Web Services Support Center.</p>",
      "error": {
        "code": "FilterPolicyLimitExceeded",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "GetDataProtectionPolicyInput": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the topic whose <code>DataProtectionPolicy</code> you want to get.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the Amazon Web Services General Reference.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "GetDataProtectionPolicyResponse": {
      "members": {
        "DataProtectionPolicy": {
          "documentation": "<p>Retrieves the <code>DataProtectionPolicy</code> in JSON string format.</p>",
          "shape": "attributeValue"
        }
      },
      "type": "structure"
    },
    "GetEndpointAttributesInput": {
      "documentation": "<p>Input for GetEndpointAttributes action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn for GetEndpointAttributes input.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "GetEndpointAttributesResponse": {
      "documentation": "<p>Response from GetEndpointAttributes of the EndpointArn.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes include the following:</p> <ul> <li> <p> <code>CustomUserData</code> \u2013 arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> \u2013 flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> \u2013 device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> <note> <p>The device token for the iOS platform is returned in lowercase.</p> </note> </li> </ul>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetPlatformApplicationAttributesInput": {
      "documentation": "<p>Input for GetPlatformApplicationAttributes action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for GetPlatformApplicationAttributesInput.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "GetPlatformApplicationAttributesResponse": {
      "documentation": "<p>Response for GetPlatformApplicationAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes include the following:</p> <ul> <li> <p> <code>AppleCertificateExpiryDate</code> \u2013 The expiry date of the SSL certificate used to configure certificate-based authentication.</p> </li> <li> <p> <code>ApplePlatformTeamID</code> \u2013 The Apple developer account ID used to configure token-based authentication.</p> </li> <li> <p> <code>ApplePlatformBundleID</code> \u2013 The app identifier used to configure token-based authentication.</p> </li> <li> <p> <code>EventEndpointCreated</code> \u2013 Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> \u2013 Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> \u2013 Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> \u2013 Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> </ul>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetSMSAttributesInput": {
      "documentation": "<p>The input for the <code>GetSMSAttributes</code> request.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p> <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>",
          "shape": "ListString"
        }
      },
      "type": "structure"
    },
    "GetSMSAttributesResponse": {
      "documentation": "<p>The response from the <code>GetSMSAttributes</code> request.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The SMS attribute names and their values.</p>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetSMSSandboxAccountStatusInput": {
      "members": {},
      "type": "structure"
    },
    "GetSMSSandboxAccountStatusResult": {
      "members": {
        "IsInSandbox": {
          "documentation": "<p>Indicates whether the calling Amazon Web Services account is in the SMS sandbox.</p>",
          "shape": "boolean"
        }
      },
      "required": [
        "IsInSandbox"
      ],
      "type": "structure"
    },
    "GetSubscriptionAttributesInput": {
      "documentation": "<p>Input for GetSubscriptionAttributes.</p>",
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the subscription whose properties you want to get.</p>",
          "shape": "subscriptionARN"
        }
      },
      "required": [
        "SubscriptionArn"
      ],
      "type": "structure"
    },
    "GetSubscriptionAttributesResponse": {
      "documentation": "<p>Response for GetSubscriptionAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the subscription's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>ConfirmationWasAuthenticated</code> \u2013 <code>true</code> if the subscription confirmation request was authenticated.</p> </li> <li> <p> <code>DeliveryPolicy</code> \u2013 The JSON serialization of the subscription's delivery policy.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> \u2013 The JSON serialization of the effective delivery policy that takes into account the topic delivery policy and account system defaults.</p> </li> <li> <p> <code>FilterPolicy</code> \u2013 The filter policy JSON that is assigned to the subscription. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-message-filtering.html\">Amazon SNS Message Filtering</a> in the <i>Amazon SNS Developer Guide</i>.</p> </li> <li> <p> <code>Owner</code> \u2013 The Amazon Web Services account ID of the subscription's owner.</p> </li> <li> <p> <code>PendingConfirmation</code> \u2013 <code>true</code> if the subscription hasn't been confirmed. To confirm a pending subscription, call the <code>ConfirmSubscription</code> action with a confirmation token.</p> </li> <li> <p> <code>RawMessageDelivery</code> \u2013 <code>true</code> if raw message delivery is enabled for the subscription. Raw messages are free of JSON formatting and can be sent to HTTP/S and Amazon SQS endpoints.</p> </li> <li> <p> <code>RedrivePolicy</code> \u2013 When specified, sends undeliverable messages to the specified Amazon SQS dead-letter queue. Messages that can't be delivered due to client errors (for example, when the subscribed endpoint is unreachable) or server errors (for example, when the service that powers the subscribed endpoint becomes unavailable) are held in the dead-letter queue for further analysis or reprocessing.</p> </li> <li> <p> <code>SubscriptionArn</code> \u2013 The subscription's ARN.</p> </li> <li> <p> <code>TopicArn</code> \u2013 The topic ARN that the subscription is associated with.</p> </li> </ul> <p>The following attribute applies only to Amazon Kinesis Data Firehose delivery stream subscriptions:</p> <ul> <li> <p> <code>SubscriptionRoleArn</code> \u2013 The ARN of the IAM role that has the following:</p> <ul> <li> <p>Permission to write to the Kinesis Data Firehose delivery stream</p> </li> <li> <p>Amazon SNS listed as a trusted entity</p> </li> </ul> <p>Specifying a valid ARN for this attribute is required for Kinesis Data Firehose delivery stream subscriptions. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-firehose-as-subscriber.html\">Fanout to Kinesis Data Firehose delivery streams</a> in the <i>Amazon SNS Developer Guide</i>.</p> </li> </ul>",
          "shape": "SubscriptionAttributesMap"
        }
      },
      "type": "structure"
    },
    "GetTopicAttributesInput": {
      "documentation": "<p>Input for GetTopicAttributes action.</p>",
      "members": {
        "TopicArn": {
          "documentation": "<p>The ARN of the topic whose properties you want to get.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "GetTopicAttributesResponse": {
      "documentation": "<p>Response for GetTopicAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the topic's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The JSON serialization of the topic's delivery policy.</p> </li> <li> <p> <code>DisplayName</code> \u2013 The human-readable name used in the <code>From</code> field for notifications to <code>email</code> and <code>email-json</code> endpoints.</p> </li> <li> <p> <code>Owner</code> \u2013 The Amazon Web Services account ID of the topic's owner.</p> </li> <li> <p> <code>Policy</code> \u2013 The JSON serialization of the topic's access control policy.</p> </li> <li> <p> <code>SubscriptionsConfirmed</code> \u2013 The number of confirmed subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsDeleted</code> \u2013 The number of deleted subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsPending</code> \u2013 The number of subscriptions pending confirmation for the topic.</p> </li> <li> <p> <code>TopicArn</code> \u2013 The topic's ARN.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> \u2013 The JSON serialization of the effective delivery policy, taking system defaults into account.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an Amazon Web Services managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>Key Management Service API Reference</i>.</p> </li> </ul> <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-fifo-topics.html\">FIFO topics</a>:</p> <ul> <li> <p> <code>FifoTopic</code> \u2013 When this is set to <code>true</code>, a FIFO topic is created.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> \u2013 Enables content-based deduplication for FIFO topics.</p> <ul> <li> <p>By default, <code>ContentBasedDeduplication</code> is set to <code>false</code>. If you create a FIFO topic and this attribute is <code>false</code>, you must specify a value for the <code>MessageDeduplicationId</code> parameter for the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a> action. </p> </li> <li> <p>When you set <code>ContentBasedDeduplication</code> to <code>true</code>, Amazon SNS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).</p> <p>(Optional) To override the generated value, you can specify a value for the <code>MessageDeduplicationId</code> parameter for the <code>Publish</code> action.</p> </li> </ul> </li> </ul>",
          "shape": "TopicAttributesMap"
        }
      },
      "type": "structure"
    },
    "InternalErrorException": {
      "documentation": "<p>Indicates an internal service error.</p>",
      "error": {
        "code": "InternalError",
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidBatchEntryIdException": {
      "documentation": "<p>The <code>Id</code> of a batch entry in a batch request doesn't abide by the specification. </p>",
      "error": {
        "code": "InvalidBatchEntryId",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error": {
        "code": "InvalidParameter",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValueException": {
      "documentation": "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error": {
        "code": "ParameterValueInvalid",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The parameter of an entry in a request doesn't abide by the specification. </p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidSecurityException": {
      "documentation": "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
      "error": {
        "code": "InvalidSecurity",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "Iso2CountryCode": {
      "documentation": "The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. For example, GB or US.",
      "max": 2,
      "pattern": "^[A-Za-z]{2}$",
      "type": "string"
    },
    "KMSAccessDeniedException": {
      "documentation": "<p>The ciphertext references a key that doesn't exist or that you don't have access to.</p>",
      "error": {
        "code": "KMSAccessDenied",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSDisabledException": {
      "documentation": "<p>The request was rejected because the specified customer master key (CMK) isn't enabled.</p>",
      "error": {
        "code": "KMSDisabled",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSInvalidStateException": {
      "documentation": "<p>The request was rejected because the state of the specified resource isn't valid for this request. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>Key Management Service Developer Guide</i>.</p>",
      "error": {
        "code": "KMSInvalidState",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSNotFoundException": {
      "documentation": "<p>The request was rejected because the specified entity or resource can't be found.</p>",
      "error": {
        "code": "KMSNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSOptInRequired": {
      "documentation": "<p>The Amazon Web Services access key ID needs a subscription for the service.</p>",
      "error": {
        "code": "KMSOptInRequired",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling. For more information about throttling, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in the <i>Key Management Service Developer Guide.</i> </p>",
      "error": {
        "code": "KMSThrottling",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "LanguageCodeString": {
      "documentation": "Supported language code for sending OTP message",
      "enum": [
        "en-US",
        "en-GB",
        "es-419",
        "es-ES",
        "de-DE",
        "fr-CA",
        "fr-FR",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "kr-KR",
        "zh-CN",
        "zh-TW"
      ],
      "type": "string"
    },
    "ListEndpointsByPlatformApplicationInput": {
      "documentation": "<p>Input for ListEndpointsByPlatformApplication action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.</p>",
          "shape": "String"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "ListEndpointsByPlatformApplicationResponse": {
      "documentation": "<p>Response for ListEndpointsByPlatformApplication action.</p>",
      "members": {
        "Endpoints": {
          "documentation": "<p>Endpoints returned for ListEndpointsByPlatformApplication action.</p>",
          "shape": "ListOfEndpoints"
        },
        "NextToken": {
          "documentation": "<p>NextToken string is returned when calling ListEndpointsByPlatformApplication action if additional records are available after the first page results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListOfEndpoints": {
      "member": {
        "shape": "Endpoint"
      },
      "type": "list"
    },
    "ListOfPlatformApplications": {
      "member": {
        "shape": "PlatformApplication"
      },
      "type": "list"
    },
    "ListOriginationNumbersRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of origination numbers to return.</p>",
          "shape": "MaxItemsListOriginationNumbers"
        },
        "NextToken": {
          "documentation": "<p>Token that the previous <code>ListOriginationNumbers</code> request returns.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListOriginationNumbersResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>A <code>NextToken</code> string is returned when you call the <code>ListOriginationNumbers</code> operation if additional pages of records are available.</p>",
          "shape": "nextToken"
        },
        "PhoneNumbers": {
          "documentation": "<p>A list of the calling account's verified and pending origination numbers.</p>",
          "shape": "PhoneNumberInformationList"
        }
      },
      "type": "structure"
    },
    "ListPhoneNumbersOptedOutInput": {
      "documentation": "<p>The input for the <code>ListPhoneNumbersOptedOut</code> action.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ListPhoneNumbersOptedOutResponse": {
      "documentation": "<p>The response from the <code>ListPhoneNumbersOptedOut</code> action.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>A <code>NextToken</code> string is returned when you call the <code>ListPhoneNumbersOptedOut</code> action if additional records are available after the first page of results.</p>",
          "shape": "string"
        },
        "phoneNumbers": {
          "documentation": "<p>A list of phone numbers that are opted out of receiving SMS messages. The list is paginated, and each page can contain up to 100 phone numbers.</p>",
          "shape": "PhoneNumberList"
        }
      },
      "type": "structure"
    },
    "ListPlatformApplicationsInput": {
      "documentation": "<p>Input for ListPlatformApplications action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListPlatformApplicationsResponse": {
      "documentation": "<p>Response for ListPlatformApplications action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is returned when calling ListPlatformApplications action if additional records are available after the first page results.</p>",
          "shape": "String"
        },
        "PlatformApplications": {
          "documentation": "<p>Platform applications returned when calling ListPlatformApplications action.</p>",
          "shape": "ListOfPlatformApplications"
        }
      },
      "type": "structure"
    },
    "ListSMSSandboxPhoneNumbersInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of phone numbers to return.</p>",
          "shape": "MaxItems"
        },
        "NextToken": {
          "documentation": "<p>Token that the previous <code>ListSMSSandboxPhoneNumbersInput</code> request returns.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListSMSSandboxPhoneNumbersResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>A <code>NextToken</code> string is returned when you call the <code>ListSMSSandboxPhoneNumbersInput</code> operation if additional pages of records are available.</p>",
          "shape": "string"
        },
        "PhoneNumbers": {
          "documentation": "<p>A list of the calling account's pending and verified phone numbers.</p>",
          "shape": "SMSSandboxPhoneNumberList"
        }
      },
      "required": [
        "PhoneNumbers"
      ],
      "type": "structure"
    },
    "ListString": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ListSubscriptionsByTopicInput": {
      "documentation": "<p>Input for ListSubscriptionsByTopic action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
          "shape": "nextToken"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "ListSubscriptionsByTopicResponse": {
      "documentation": "<p>Response for ListSubscriptionsByTopic action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListSubscriptionsByTopic</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "shape": "nextToken"
        },
        "Subscriptions": {
          "documentation": "<p>A list of subscriptions.</p>",
          "shape": "SubscriptionsList"
        }
      },
      "type": "structure"
    },
    "ListSubscriptionsInput": {
      "documentation": "<p>Input for ListSubscriptions action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListSubscriptions</code> request.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListSubscriptionsResponse": {
      "documentation": "<p>Response for ListSubscriptions action</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "shape": "nextToken"
        },
        "Subscriptions": {
          "documentation": "<p>A list of subscriptions.</p>",
          "shape": "SubscriptionsList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the topic for which to list tags.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags associated with the specified topic.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTopicsInput": {
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListTopicsResponse": {
      "documentation": "<p>Response for ListTopics action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListTopics</code> request. This element is returned if there are additional topics to retrieve.</p>",
          "shape": "nextToken"
        },
        "Topics": {
          "documentation": "<p>A list of topic ARNs.</p>",
          "shape": "TopicsList"
        }
      },
      "type": "structure"
    },
    "MapStringToString": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "MaxItems": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxItemsListOriginationNumbers": {
      "max": 30,
      "min": 1,
      "type": "integer"
    },
    "MessageAttributeMap": {
      "key": {
        "locationName": "Name",
        "shape": "String"
      },
      "type": "map",
      "value": {
        "locationName": "Value",
        "shape": "MessageAttributeValue"
      }
    },
    "MessageAttributeValue": {
[...]
