{
  "documentation": "<p>Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>Amazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The Amazon Web Services Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the Amazon Web Services Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
  "metadata": {
    "apiVersion": "2016-10-20",
    "endpointPrefix": "budgets",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSBudgets",
    "serviceFullName": "AWS Budgets",
    "serviceId": "Budgets",
    "signatureVersion": "v4",
    "targetPrefix": "AWSBudgetServiceGateway",
    "uid": "budgets-2016-10-20"
  },
  "operations": {
    "CreateBudget": {
      "documentation": "<p>Creates a budget and, if included, notifications and subscribers. </p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples\">Examples</a> section. </p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "CreationLimitExceededException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBudgetRequest"
      },
      "name": "CreateBudget",
      "output": {
        "shape": "CreateBudgetResponse"
      }
    },
    "CreateBudgetAction": {
      "documentation": "<p> Creates a budget action. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "CreationLimitExceededException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBudgetActionRequest"
      },
      "name": "CreateBudgetAction",
      "output": {
        "shape": "CreateBudgetActionResponse"
      }
    },
    "CreateNotification": {
      "documentation": "<p>Creates a notification. You must create the budget before you create the associated notification.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "CreationLimitExceededException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNotificationRequest"
      },
      "name": "CreateNotification",
      "output": {
        "shape": "CreateNotificationResponse"
      }
    },
    "CreateSubscriber": {
      "documentation": "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "CreationLimitExceededException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSubscriberRequest"
      },
      "name": "CreateSubscriber",
      "output": {
        "shape": "CreateSubscriberResponse"
      }
    },
    "DeleteBudget": {
      "documentation": "<p>Deletes a budget. You can delete your budget at any time.</p> <important> <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p> </important>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBudgetRequest"
      },
      "name": "DeleteBudget",
      "output": {
        "shape": "DeleteBudgetResponse"
      }
    },
    "DeleteBudgetAction": {
      "documentation": "<p> Deletes a budget action. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceLockedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBudgetActionRequest"
      },
      "name": "DeleteBudgetAction",
      "output": {
        "shape": "DeleteBudgetActionResponse"
      }
    },
    "DeleteNotification": {
      "documentation": "<p>Deletes a notification.</p> <important> <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotificationRequest"
      },
      "name": "DeleteNotification",
      "output": {
        "shape": "DeleteNotificationResponse"
      }
    },
    "DeleteSubscriber": {
      "documentation": "<p>Deletes a subscriber.</p> <important> <p>Deleting the last subscriber to a notification also deletes the notification.</p> </important>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSubscriberRequest"
      },
      "name": "DeleteSubscriber",
      "output": {
        "shape": "DeleteSubscriberResponse"
      }
    },
    "DescribeBudget": {
      "documentation": "<p>Describes a budget.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\">Examples</a> section. </p> </important>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetRequest"
      },
      "name": "DescribeBudget",
      "output": {
        "shape": "DescribeBudgetResponse"
      }
    },
    "DescribeBudgetAction": {
      "documentation": "<p> Describes a budget action detail. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetActionRequest"
      },
      "name": "DescribeBudgetAction",
      "output": {
        "shape": "DescribeBudgetActionResponse"
      }
    },
    "DescribeBudgetActionHistories": {
      "documentation": "<p> Describes a budget action history detail. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetActionHistoriesRequest"
      },
      "name": "DescribeBudgetActionHistories",
      "output": {
        "shape": "DescribeBudgetActionHistoriesResponse"
      }
    },
    "DescribeBudgetActionsForAccount": {
      "documentation": "<p> Describes all of the budget actions for an account. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetActionsForAccountRequest"
      },
      "name": "DescribeBudgetActionsForAccount",
      "output": {
        "shape": "DescribeBudgetActionsForAccountResponse"
      }
    },
    "DescribeBudgetActionsForBudget": {
      "documentation": "<p> Describes all of the budget actions for a budget. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetActionsForBudgetRequest"
      },
      "name": "DescribeBudgetActionsForBudget",
      "output": {
        "shape": "DescribeBudgetActionsForBudgetResponse"
      }
    },
    "DescribeBudgetNotificationsForAccount": {
      "documentation": "<p> Lists the budget names and notifications that are associated with an account. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ExpiredNextTokenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetNotificationsForAccountRequest"
      },
      "name": "DescribeBudgetNotificationsForAccount",
      "output": {
        "shape": "DescribeBudgetNotificationsForAccountResponse"
      }
    },
    "DescribeBudgetPerformanceHistory": {
      "documentation": "<p>Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn't available for <code>ANNUAL</code> budgets.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ExpiredNextTokenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetPerformanceHistoryRequest"
      },
      "name": "DescribeBudgetPerformanceHistory",
      "output": {
        "shape": "DescribeBudgetPerformanceHistoryResponse"
      }
    },
    "DescribeBudgets": {
      "documentation": "<p>Lists the budgets that are associated with an account.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples\">Examples</a> section. </p> </important>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ExpiredNextTokenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBudgetsRequest"
      },
      "name": "DescribeBudgets",
      "output": {
        "shape": "DescribeBudgetsResponse"
      }
    },
    "DescribeNotificationsForBudget": {
      "documentation": "<p>Lists the notifications that are associated with a budget.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ExpiredNextTokenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotificationsForBudgetRequest"
      },
      "name": "DescribeNotificationsForBudget",
      "output": {
        "shape": "DescribeNotificationsForBudgetResponse"
      }
    },
    "DescribeSubscribersForNotification": {
      "documentation": "<p>Lists the subscribers that are associated with a notification.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ExpiredNextTokenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSubscribersForNotificationRequest"
      },
      "name": "DescribeSubscribersForNotification",
      "output": {
        "shape": "DescribeSubscribersForNotificationResponse"
      }
    },
    "ExecuteBudgetAction": {
      "documentation": "<p> Executes a budget action. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceLockedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecuteBudgetActionRequest"
      },
      "name": "ExecuteBudgetAction",
      "output": {
        "shape": "ExecuteBudgetActionResponse"
      }
    },
    "UpdateBudget": {
      "documentation": "<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until Amazon Web Services has new usage data to use for forecasting.</p> <important> <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples\">Examples</a> section. </p> </important>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateBudgetRequest"
      },
      "name": "UpdateBudget",
      "output": {
        "shape": "UpdateBudgetResponse"
      }
    },
    "UpdateBudgetAction": {
      "documentation": "<p> Updates a budget action. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceLockedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateBudgetActionRequest"
      },
      "name": "UpdateBudgetAction",
      "output": {
        "shape": "UpdateBudgetActionResponse"
      }
    },
    "UpdateNotification": {
      "documentation": "<p>Updates a notification.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNotificationRequest"
      },
      "name": "UpdateNotification",
      "output": {
        "shape": "UpdateNotificationResponse"
      }
    },
    "UpdateSubscriber": {
      "documentation": "<p>Updates a subscriber.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "DuplicateRecordException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSubscriberRequest"
      },
      "name": "UpdateSubscriber",
      "output": {
        "shape": "UpdateSubscriberResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You are not authorized to use this operation with the given parameters.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "AccountId": {
      "documentation": "<p>The account ID of the user. It's a 12-digit number.</p>",
      "max": 12,
      "min": 12,
      "pattern": "\\d{12}",
      "type": "string"
    },
    "Action": {
      "documentation": "<p>A budget action resource. </p>",
      "members": {
        "ActionId": {
          "documentation": "<p>A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "ActionThreshold": {
          "documentation": "<p>The trigger threshold of the action. </p>",
          "shape": "ActionThreshold"
        },
        "ActionType": {
          "documentation": "<p>The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>",
          "shape": "ActionType"
        },
        "ApprovalModel": {
          "documentation": "<p>This specifies if the action needs manual or automatic approval. </p>",
          "shape": "ApprovalModel"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "Definition": {
          "documentation": "<p>Where you specify all of the type-specific parameters. </p>",
          "shape": "Definition"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The role passed for action execution and reversion. Roles and actions must be in the same account. </p>",
          "shape": "RoleArn"
        },
        "NotificationType": {
          "shape": "NotificationType"
        },
        "Status": {
          "documentation": "<p>The status of the action. </p>",
          "shape": "ActionStatus"
        },
        "Subscribers": {
          "shape": "Subscribers"
        }
      },
      "required": [
        "ActionId",
        "BudgetName",
        "NotificationType",
        "ActionType",
        "ActionThreshold",
        "Definition",
        "ExecutionRoleArn",
        "ApprovalModel",
        "Status",
        "Subscribers"
      ],
      "type": "structure"
    },
    "ActionHistories": {
      "max": 100,
      "member": {
        "shape": "ActionHistory"
      },
      "min": 0,
      "type": "list"
    },
    "ActionHistory": {
      "documentation": "<p>The historical records for a budget action. </p>",
      "members": {
        "ActionHistoryDetails": {
          "documentation": "<p>The description of the details for the event. </p>",
          "shape": "ActionHistoryDetails"
        },
        "EventType": {
          "documentation": "<p>This distinguishes between whether the events are triggered by the user or are generated by the system. </p>",
          "shape": "EventType"
        },
        "Status": {
          "documentation": "<p>The status of action at the time of the event. </p>",
          "shape": "ActionStatus"
        },
        "Timestamp": {
          "shape": "GenericTimestamp"
        }
      },
      "required": [
        "Timestamp",
        "Status",
        "EventType",
        "ActionHistoryDetails"
      ],
      "type": "structure"
    },
    "ActionHistoryDetails": {
      "documentation": "<p>The description of the details for the event. </p>",
      "members": {
        "Action": {
          "documentation": "<p>The budget action resource. </p>",
          "shape": "Action"
        },
        "Message": {
          "shape": "GenericString"
        }
      },
      "required": [
        "Message",
        "Action"
      ],
      "type": "structure"
    },
    "ActionId": {
      "max": 36,
      "min": 36,
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
      "type": "string"
    },
    "ActionStatus": {
      "enum": [
        "STANDBY",
        "PENDING",
        "EXECUTION_IN_PROGRESS",
        "EXECUTION_SUCCESS",
        "EXECUTION_FAILURE",
        "REVERSE_IN_PROGRESS",
        "REVERSE_SUCCESS",
        "REVERSE_FAILURE",
        "RESET_IN_PROGRESS",
        "RESET_FAILURE"
      ],
      "type": "string"
    },
    "ActionSubType": {
      "enum": [
        "STOP_EC2_INSTANCES",
        "STOP_RDS_INSTANCES"
      ],
      "type": "string"
    },
    "ActionThreshold": {
      "documentation": "<p>The trigger threshold of the action. </p>",
      "members": {
        "ActionThresholdType": {
          "shape": "ThresholdType"
        },
        "ActionThresholdValue": {
          "shape": "NotificationThreshold"
        }
      },
      "required": [
        "ActionThresholdValue",
        "ActionThresholdType"
      ],
      "type": "structure"
    },
    "ActionType": {
      "enum": [
        "APPLY_IAM_POLICY",
        "APPLY_SCP_POLICY",
        "RUN_SSM_DOCUMENTS"
      ],
      "type": "string"
    },
    "Actions": {
      "max": 100,
      "member": {
        "shape": "Action"
      },
      "min": 0,
      "type": "list"
    },
    "AdjustmentPeriod": {
      "box": true,
      "max": 60,
      "min": 1,
      "type": "integer"
    },
    "ApprovalModel": {
      "enum": [
        "AUTOMATIC",
        "MANUAL"
      ],
      "type": "string"
    },
    "AutoAdjustData": {
      "documentation": "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>",
      "members": {
        "AutoAdjustType": {
          "documentation": "<p>The string that defines whether your budget auto-adjusts based on historical or forecasted data.</p>",
          "shape": "AutoAdjustType"
        },
        "HistoricalOptions": {
          "documentation": "<p>The parameters that define or describe the historical data that your auto-adjusting budget is based on.</p>",
          "shape": "HistoricalOptions"
        },
        "LastAutoAdjustTime": {
          "documentation": "<p>The last time that your budget was auto-adjusted.</p>",
          "shape": "GenericTimestamp"
        }
      },
      "required": [
        "AutoAdjustType"
      ],
      "type": "structure"
    },
    "AutoAdjustType": {
      "enum": [
        "HISTORICAL",
        "FORECAST"
      ],
      "type": "string"
    },
    "Budget": {
      "documentation": "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p> <p>This is the Amazon Resource Name (ARN) pattern for a budget: </p> <p> <code>arn:aws:budgets::AccountId:budget/budgetName</code> </p>",
      "members": {
        "AutoAdjustData": {
          "documentation": "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>",
          "shape": "AutoAdjustData"
        },
        "BudgetLimit": {
          "documentation": "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to <code>100</code>. This is the only valid value for RI or Savings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code> with <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and <code>UpdateBudget</code> actions. </p>",
          "shape": "Spend"
        },
        "BudgetName": {
          "documentation": "<p>The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>",
          "shape": "BudgetName"
        },
        "BudgetType": {
          "documentation": "<p>Specifies whether this budget tracks costs, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage.</p>",
          "shape": "BudgetType"
        },
        "CalculatedSpend": {
          "documentation": "<p>The actual and forecasted cost or usage that the budget tracks.</p>",
          "shape": "CalculatedSpend"
        },
        "CostFilters": {
          "documentation": "<p>The cost filters, such as <code>Region</code>, <code>Service</code>, <code>member account</code>, <code>Tag</code>, or <code>Cost Category</code>, that are applied to a budget.</p> <p>Amazon Web Services Budgets supports the following services as a <code>Service</code> filter for RI budgets:</p> <ul> <li> <p>Amazon EC2</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon OpenSearch Service</p> </li> </ul>",
          "shape": "CostFilters"
        },
        "CostTypes": {
          "documentation": "<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>",
          "shape": "CostTypes"
        },
        "LastUpdatedTime": {
          "documentation": "<p>The last time that you updated this budget.</p>",
          "shape": "GenericTimestamp"
        },
        "PlannedBudgetLimits": {
          "documentation": "<p>A map containing multiple <code>BudgetLimit</code>, including current or future limits.</p> <p> <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports both monthly and quarterly <code>TimeUnit</code>. </p> <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values. This must start from the current month and include the next 11 months. The <code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p> <p>For quarterly budgets, provide four quarters of <code>PlannedBudgetLimits</code> value entries in standard calendar quarter increments. This must start from the current quarter and include the next three quarters. The <code>key</code> is the start of the quarter, <code>UTC</code> in epoch seconds. </p> <p>If the planned budget expires before 12 months for monthly or four quarters for quarterly, provide the <code>PlannedBudgetLimits</code> values only for the remaining periods.</p> <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code> values from the start date of the budget. </p> <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code> are used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At that point, the planned budget provides the same experience as a fixed budget. </p> <p> <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with <code>PlannedBudgetLimits</code> also contain <code>BudgetLimit</code> representing the current month or quarter limit present in <code>PlannedBudgetLimits</code>. This only applies to budgets that are created with <code>PlannedBudgetLimits</code>. Budgets that are created without <code>PlannedBudgetLimits</code> only contain <code>BudgetLimit</code>. They don't contain <code>PlannedBudgetLimits</code>.</p>",
          "shape": "PlannedBudgetLimits"
        },
        "TimePeriod": {
          "documentation": "<p>The period of time that's covered by a budget. You setthe start date and end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, Amazon Web Services set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, Amazon Web Services set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers.</p>",
          "shape": "TimePeriod"
        },
        "TimeUnit": {
          "documentation": "<p>The length of time until a budget resets the actual and forecasted spend.</p>",
          "shape": "TimeUnit"
        }
      },
      "required": [
        "BudgetName",
        "TimeUnit",
        "BudgetType"
      ],
      "type": "structure"
    },
    "BudgetName": {
      "documentation": "<p> A string that represents the budget name. The \":\" and \"\\\" characters aren't allowed.</p>",
      "max": 100,
      "min": 1,
      "pattern": "[^:\\\\]+",
      "type": "string"
    },
    "BudgetNotificationsForAccount": {
      "documentation": "<p> The budget name and associated notifications for an account. </p>",
      "members": {
        "BudgetName": {
          "shape": "BudgetName"
        },
        "Notifications": {
          "shape": "Notifications"
        }
      },
      "type": "structure"
    },
    "BudgetNotificationsForAccountList": {
      "max": 50,
      "member": {
        "shape": "BudgetNotificationsForAccount"
      },
      "type": "list"
    },
    "BudgetPerformanceHistory": {
      "documentation": "<p>A history of the state of a budget at the end of the budget's specified time period.</p>",
      "members": {
        "BudgetName": {
          "shape": "BudgetName"
        },
        "BudgetType": {
          "shape": "BudgetType"
        },
        "BudgetedAndActualAmountsList": {
          "documentation": "<p>A list of amounts of cost or usage that you created budgets for, which are compared to your actual costs or usage.</p>",
          "shape": "BudgetedAndActualAmountsList"
        },
        "CostFilters": {
          "documentation": "<p>The history of the cost filters for a budget during the specified time period.</p>",
          "shape": "CostFilters"
        },
        "CostTypes": {
          "documentation": "<p>The history of the cost types for a budget during the specified time period.</p>",
          "shape": "CostTypes"
        },
        "TimeUnit": {
          "shape": "TimeUnit"
        }
      },
      "type": "structure"
    },
    "BudgetType": {
      "documentation": "<p> The type of a budget. It must be one of the following types: </p> <p> <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, or <code>SAVINGS_PLANS_COVERAGE</code>.</p>",
      "enum": [
        "USAGE",
        "COST",
        "RI_UTILIZATION",
        "RI_COVERAGE",
        "SAVINGS_PLANS_UTILIZATION",
        "SAVINGS_PLANS_COVERAGE"
      ],
      "type": "string"
    },
    "BudgetedAndActualAmounts": {
      "documentation": "<p>The amount of cost or usage that you created the budget for, compared to your actual costs or usage.</p>",
      "members": {
        "ActualAmount": {
          "documentation": "<p>Your actual costs or usage for a budget period.</p>",
          "shape": "Spend"
        },
        "BudgetedAmount": {
          "documentation": "<p>The amount of cost or usage that you created the budget for.</p>",
          "shape": "Spend"
        },
        "TimePeriod": {
          "documentation": "<p>The time period that's covered by this budget comparison.</p>",
          "shape": "TimePeriod"
        }
      },
      "type": "structure"
    },
    "BudgetedAndActualAmountsList": {
      "member": {
        "shape": "BudgetedAndActualAmounts"
      },
      "type": "list"
    },
    "Budgets": {
      "documentation": "<p> A list of budgets.</p>",
      "member": {
        "shape": "Budget"
      },
      "type": "list"
    },
    "CalculatedSpend": {
      "documentation": "<p>The spend objects that are associated with this budget. The <code>actualSpend</code> tracks how much you've used, cost, usage, RI units, or Savings Plans units and the <code>forecastedSpend</code> tracks how much that you're predicted to spend based on your historical usage profile.</p> <p>For example, if it's the 20th of the month and you have spent <code>50</code> dollars on Amazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your <code>forecastedSpend</code> is <code>75 USD</code>.</p>",
      "members": {
        "ActualSpend": {
          "documentation": "<p>The amount of cost, usage, RI units, or Savings Plans units that you used.</p>",
          "shape": "Spend"
        },
        "ForecastedSpend": {
          "documentation": "<p>The amount of cost, usage, RI units, or Savings Plans units that you're forecasted to use.</p>",
          "shape": "Spend"
        }
      },
      "required": [
        "ActualSpend"
      ],
      "type": "structure"
    },
    "ComparisonOperator": {
      "documentation": "<p> The comparison operator of a notification. Currently, the service supports the following operators:</p> <p> <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code> </p>",
      "enum": [
        "GREATER_THAN",
        "LESS_THAN",
        "EQUAL_TO"
      ],
      "type": "string"
    },
    "CostFilters": {
      "documentation": "<p> A map that represents the cost filters that are applied to the budget.</p>",
      "key": {
        "shape": "GenericString"
      },
      "type": "map",
      "value": {
        "shape": "DimensionValues"
      }
    },
    "CostTypes": {
      "documentation": "<p>The types of cost that are included in a <code>COST</code> budget, such as tax and subscriptions.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code> budgets don't have <code>CostTypes</code>.</p>",
      "members": {
        "IncludeCredit": {
          "documentation": "<p>Specifies whether a budget includes credits.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeDiscount": {
          "documentation": "<p>Specifies whether a budget includes discounts.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeOtherSubscription": {
          "documentation": "<p>Specifies whether a budget includes non-RI subscription costs.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeRecurring": {
          "documentation": "<p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeRefund": {
          "documentation": "<p>Specifies whether a budget includes refunds.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeSubscription": {
          "documentation": "<p>Specifies whether a budget includes subscriptions.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeSupport": {
          "documentation": "<p>Specifies whether a budget includes support subscription fees.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeTax": {
          "documentation": "<p>Specifies whether a budget includes taxes.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "IncludeUpfront": {
          "documentation": "<p>Specifies whether a budget includes upfront RI costs.</p> <p>The default value is <code>true</code>.</p>",
          "shape": "NullableBoolean"
        },
        "UseAmortized": {
          "documentation": "<p>Specifies whether a budget uses the amortized rate.</p> <p>The default value is <code>false</code>.</p>",
          "shape": "NullableBoolean"
        },
        "UseBlended": {
          "documentation": "<p>Specifies whether a budget uses a blended rate.</p> <p>The default value is <code>false</code>.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "CreateBudgetActionRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionThreshold": {
          "shape": "ActionThreshold"
        },
        "ActionType": {
          "documentation": "<p> The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition. </p>",
          "shape": "ActionType"
        },
        "ApprovalModel": {
          "documentation": "<p> This specifies if the action needs manual or automatic approval. </p>",
          "shape": "ApprovalModel"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "Definition": {
          "shape": "Definition"
        },
        "ExecutionRoleArn": {
          "documentation": "<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>",
          "shape": "RoleArn"
        },
        "NotificationType": {
          "shape": "NotificationType"
        },
        "Subscribers": {
          "shape": "Subscribers"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "NotificationType",
        "ActionType",
        "ActionThreshold",
        "Definition",
        "ExecutionRoleArn",
        "ApprovalModel",
        "Subscribers"
      ],
      "type": "structure"
    },
    "CreateBudgetActionResponse": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId"
      ],
      "type": "structure"
    },
    "CreateBudgetRequest": {
      "documentation": "<p> Request of CreateBudget </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget.</p>",
          "shape": "AccountId"
        },
        "Budget": {
          "documentation": "<p>The budget object that you want to create.</p>",
          "shape": "Budget"
        },
        "NotificationsWithSubscribers": {
          "documentation": "<p>A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, Amazon Web Services creates the notifications and subscribers for you.</p>",
          "shape": "NotificationWithSubscribersList"
        }
      },
      "required": [
        "AccountId",
        "Budget"
      ],
      "type": "structure"
    },
    "CreateBudgetResponse": {
      "documentation": "<p> Response of CreateBudget </p>",
      "members": {},
      "type": "structure"
    },
    "CreateNotificationRequest": {
      "documentation": "<p> Request of CreateNotification </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a notification for.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget that you want Amazon Web Services to notify you about. Budget names must be unique within an account.</p>",
          "shape": "BudgetName"
        },
        "Notification": {
          "documentation": "<p>The notification that you want to create.</p>",
          "shape": "Notification"
        },
        "Subscribers": {
          "documentation": "<p>A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.</p>",
          "shape": "Subscribers"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification",
        "Subscribers"
      ],
      "type": "structure"
    },
    "CreateNotificationResponse": {
      "documentation": "<p> Response of CreateNotification </p>",
      "members": {},
      "type": "structure"
    },
    "CreateSubscriberRequest": {
      "documentation": "<p> Request of CreateSubscriber </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget that you want to subscribe to. Budget names must be unique within an account.</p>",
          "shape": "BudgetName"
        },
        "Notification": {
          "documentation": "<p>The notification that you want to create a subscriber for.</p>",
          "shape": "Notification"
        },
        "Subscriber": {
          "documentation": "<p>The subscriber that you want to associate with a budget notification.</p>",
          "shape": "Subscriber"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification",
        "Subscriber"
      ],
      "type": "structure"
    },
    "CreateSubscriberResponse": {
      "documentation": "<p> Response of CreateSubscriber </p>",
      "members": {},
      "type": "structure"
    },
    "CreationLimitExceededException": {
      "documentation": "<p>You've exceeded the notification or subscriber limit.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Definition": {
      "documentation": "<p>Specifies all of the type-specific parameters. </p>",
      "members": {
        "IamActionDefinition": {
          "documentation": "<p>The Identity and Access Management (IAM) action definition details. </p>",
          "shape": "IamActionDefinition"
        },
        "ScpActionDefinition": {
          "documentation": "<p>The service control policies (SCPs) action definition details. </p>",
          "shape": "ScpActionDefinition"
        },
        "SsmActionDefinition": {
          "documentation": "<p>The Amazon Web Services Systems Manager (SSM) action definition details. </p>",
          "shape": "SsmActionDefinition"
        }
      },
      "type": "structure"
    },
    "DeleteBudgetActionRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId"
      ],
      "type": "structure"
    },
    "DeleteBudgetActionResponse": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "Action": {
          "shape": "Action"
        },
        "BudgetName": {
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Action"
      ],
      "type": "structure"
    },
    "DeleteBudgetRequest": {
      "documentation": "<p> Request of DeleteBudget </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to delete.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget that you want to delete.</p>",
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName"
      ],
      "type": "structure"
    },
    "DeleteBudgetResponse": {
      "documentation": "<p> Response of DeleteBudget </p>",
      "members": {},
      "type": "structure"
    },
    "DeleteNotificationRequest": {
      "documentation": "<p> Request of DeleteNotification </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose notification you want to delete.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose notification you want to delete.</p>",
          "shape": "BudgetName"
        },
        "Notification": {
          "documentation": "<p>The notification that you want to delete.</p>",
          "shape": "Notification"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification"
      ],
      "type": "structure"
    },
    "DeleteNotificationResponse": {
      "documentation": "<p> Response of DeleteNotification </p>",
      "members": {},
      "type": "structure"
    },
    "DeleteSubscriberRequest": {
      "documentation": "<p> Request of DeleteSubscriber </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose subscriber you want to delete.</p>",
          "shape": "BudgetName"
        },
        "Notification": {
          "documentation": "<p>The notification whose subscriber you want to delete.</p>",
          "shape": "Notification"
        },
        "Subscriber": {
          "documentation": "<p>The subscriber that you want to delete.</p>",
          "shape": "Subscriber"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification",
        "Subscriber"
      ],
      "type": "structure"
    },
    "DeleteSubscriberResponse": {
      "documentation": "<p> Response of DeleteSubscriber </p>",
      "members": {},
      "type": "structure"
    },
    "DescribeBudgetActionHistoriesRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "GenericString"
        },
        "TimePeriod": {
          "shape": "TimePeriod"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionHistoriesResponse": {
      "members": {
        "ActionHistories": {
          "documentation": "<p> The historical record of the budget action resource. </p>",
          "shape": "ActionHistories"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "ActionHistories"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionResponse": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "Action": {
          "documentation": "<p> A budget action resource. </p>",
          "shape": "Action"
        },
        "BudgetName": {
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Action"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionsForAccountRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionsForAccountResponse": {
      "members": {
        "Actions": {
          "documentation": "<p> A list of the budget action resources information. </p>",
          "shape": "Actions"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "Actions"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionsForBudgetRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "AccountId",
        "BudgetName"
      ],
      "type": "structure"
    },
    "DescribeBudgetActionsForBudgetResponse": {
      "members": {
        "Actions": {
          "documentation": "<p> A list of the budget action resources information. </p>",
          "shape": "Actions"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "Actions"
      ],
      "type": "structure"
    },
    "DescribeBudgetNotificationsForAccountRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "MaxResults": {
          "documentation": "<p> An integer that shows how many budget name entries a paginated response contains. </p>",
          "shape": "MaxResultsBudgetNotifications"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "DescribeBudgetNotificationsForAccountResponse": {
      "members": {
        "BudgetNotificationsForAccount": {
          "documentation": "<p> A list of budget names and associated notifications for an account. </p>",
          "shape": "BudgetNotificationsForAccountList"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "DescribeBudgetPerformanceHistoryRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "MaxResults": {
          "shape": "MaxResults"
        },
        "NextToken": {
          "shape": "GenericString"
        },
        "TimePeriod": {
          "documentation": "<p>Retrieves how often the budget went into an <code>ALARM</code> state for the specified time period.</p>",
          "shape": "TimePeriod"
        }
      },
      "required": [
        "AccountId",
        "BudgetName"
      ],
      "type": "structure"
    },
    "DescribeBudgetPerformanceHistoryResponse": {
      "members": {
        "BudgetPerformanceHistory": {
          "documentation": "<p>The history of how often the budget has gone into an <code>ALARM</code> state.</p> <p>For <code>DAILY</code> budgets, the history saves the state of the budget for the last 60 days. For <code>MONTHLY</code> budgets, the history saves the state of the budget for the current month plus the last 12 months. For <code>QUARTERLY</code> budgets, the history saves the state of the budget for the last four quarters.</p>",
          "shape": "BudgetPerformanceHistory"
        },
        "NextToken": {
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "DescribeBudgetRequest": {
      "documentation": "<p> Request of DescribeBudget </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget that you want a description of.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget that you want a description of.</p>",
          "shape": "BudgetName"
        }
      },
      "required": [
        "AccountId",
        "BudgetName"
      ],
      "type": "structure"
    },
    "DescribeBudgetResponse": {
      "documentation": "<p> Response of DescribeBudget </p>",
      "members": {
        "Budget": {
          "documentation": "<p>The description of the budget.</p>",
          "shape": "Budget"
        }
      },
      "type": "structure"
    },
    "DescribeBudgetsRequest": {
      "documentation": "<p> Request of DescribeBudgets </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budgets that you want descriptions of.</p>",
          "shape": "AccountId"
        },
        "MaxResults": {
          "documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "DescribeBudgetsResponse": {
      "documentation": "<p> Response of DescribeBudgets </p>",
      "members": {
        "Budgets": {
          "documentation": "<p>A list of budgets.</p>",
          "shape": "Budgets"
        },
        "NextToken": {
          "documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "DescribeNotificationsForBudgetRequest": {
      "documentation": "<p> Request of DescribeNotificationsForBudget </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose notifications you want descriptions of.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose notifications you want descriptions of.</p>",
          "shape": "BudgetName"
        },
        "MaxResults": {
          "documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "AccountId",
        "BudgetName"
      ],
      "type": "structure"
    },
    "DescribeNotificationsForBudgetResponse": {
      "documentation": "<p> Response of GetNotificationsForBudget </p>",
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>",
          "shape": "GenericString"
        },
        "Notifications": {
          "documentation": "<p>A list of notifications that are associated with a budget.</p>",
          "shape": "Notifications"
        }
      },
      "type": "structure"
    },
    "DescribeSubscribersForNotificationRequest": {
      "documentation": "<p> Request of DescribeSubscribersForNotification </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscribers you want descriptions of.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose subscribers you want descriptions of.</p>",
          "shape": "BudgetName"
        },
        "MaxResults": {
          "documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>",
          "shape": "GenericString"
        },
        "Notification": {
          "documentation": "<p>The notification whose subscribers you want to list.</p>",
          "shape": "Notification"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification"
      ],
      "type": "structure"
    },
    "DescribeSubscribersForNotificationResponse": {
      "documentation": "<p> Response of DescribeSubscribersForNotification </p>",
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>",
          "shape": "GenericString"
        },
        "Subscribers": {
          "documentation": "<p>A list of subscribers that are associated with a notification.</p>",
          "shape": "Subscribers"
        }
      },
      "type": "structure"
    },
    "DimensionValue": {
      "max": 2147483647,
      "min": 0,
      "pattern": "[\\S\\s]*",
      "type": "string"
    },
    "DimensionValues": {
      "member": {
        "shape": "DimensionValue"
      },
      "type": "list"
    },
    "DuplicateRecordException": {
      "documentation": "<p>The budget name already exists. Budget names must be unique within an account.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "EventType": {
      "enum": [
        "SYSTEM",
        "CREATE_ACTION",
        "DELETE_ACTION",
        "UPDATE_ACTION",
        "EXECUTE_ACTION"
      ],
      "type": "string"
    },
    "ExecuteBudgetActionRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "ExecutionType": {
          "documentation": "<p> The type of execution. </p>",
          "shape": "ExecutionType"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId",
        "ExecutionType"
      ],
      "type": "structure"
    },
    "ExecuteBudgetActionResponse": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "ExecutionType": {
          "documentation": "<p> The type of execution. </p>",
          "shape": "ExecutionType"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId",
        "ExecutionType"
      ],
      "type": "structure"
    },
    "ExecutionType": {
      "enum": [
        "APPROVE_BUDGET_ACTION",
        "RETRY_BUDGET_ACTION",
        "REVERSE_BUDGET_ACTION",
        "RESET_BUDGET_ACTION"
      ],
      "type": "string"
    },
    "ExpiredNextTokenException": {
      "documentation": "<p>The pagination token expired.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "GenericString": {
      "documentation": "<p> A generic string.</p>",
      "max": 2147483647,
      "min": 0,
      "pattern": ".*",
      "type": "string"
    },
    "GenericTimestamp": {
      "documentation": "<p> A generic time stamp. In Java, it's transformed to a <code>Date</code> object.</p>",
      "type": "timestamp"
    },
    "Group": {
      "max": 640,
      "min": 1,
      "pattern": "^([\\u0021-\\u007F]+\\u002F)?[\\w+=,.@-]+$",
      "type": "string"
    },
    "Groups": {
      "max": 100,
      "member": {
        "shape": "Group"
      },
      "min": 1,
      "type": "list"
    },
    "HistoricalOptions": {
      "documentation": "<p>The parameters that define or describe the historical data that your auto-adjusting budget is based on.</p>",
      "members": {
        "BudgetAdjustmentPeriod": {
          "documentation": "<p>The number of budget periods included in the moving-average calculation that determines your auto-adjusted budget amount. The maximum value depends on the <code>TimeUnit</code> granularity of the budget:</p> <ul> <li> <p>For the <code>DAILY</code> granularity, the maximum value is <code>60</code>.</p> </li> <li> <p>For the <code>MONTHLY</code> granularity, the maximum value is <code>12</code>.</p> </li> <li> <p>For the <code>QUARTERLY</code> granularity, the maximum value is <code>4</code>.</p> </li> <li> <p>For the <code>ANNUALLY</code> granularity, the maximum value is <code>1</code>.</p> </li> </ul>",
          "shape": "AdjustmentPeriod"
        },
        "LookBackAvailablePeriods": {
          "documentation": "<p>The integer that describes how many budget periods in your <code>BudgetAdjustmentPeriod</code> are included in the calculation of your current <code>BudgetLimit</code>. If the first budget period in your <code>BudgetAdjustmentPeriod</code> has no cost data, then that budget period isn\u2019t included in the average that determines your budget limit. </p> <p>For example, if you set <code>BudgetAdjustmentPeriod</code> as <code>4</code> quarters, but your account had no cost data in the first quarter, then only the last three quarters are included in the calculation. In this scenario, <code>LookBackAvailablePeriods</code> returns <code>3</code>. </p> <p>You can\u2019t set your own <code>LookBackAvailablePeriods</code>. The value is automatically calculated from the <code>BudgetAdjustmentPeriod</code> and your historical cost data.</p>",
          "shape": "AdjustmentPeriod"
        }
      },
      "required": [
        "BudgetAdjustmentPeriod"
      ],
      "type": "structure"
    },
    "IamActionDefinition": {
      "documentation": "<p>The Identity and Access Management (IAM) action definition details. </p>",
      "members": {
        "Groups": {
          "documentation": "<p>A list of groups to be attached. There must be at least one group. </p>",
          "shape": "Groups"
        },
        "PolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the policy to be attached. </p>",
          "shape": "PolicyArn"
        },
        "Roles": {
          "documentation": "<p>A list of roles to be attached. There must be at least one role. </p>",
          "shape": "Roles"
        },
        "Users": {
          "documentation": "<p>A list of users to be attached. There must be at least one user. </p>",
          "shape": "Users"
        }
      },
      "required": [
        "PolicyArn"
      ],
      "type": "structure"
    },
    "InstanceId": {
      "max": 63,
      "min": 1,
      "pattern": "^i-(\\w{8}|\\w{17})$|^[a-zA-Z]([\\w-]{0,61}\\w)?$",
      "type": "string"
    },
    "InstanceIds": {
      "max": 100,
      "member": {
        "shape": "InstanceId"
      },
      "min": 1,
      "type": "list"
    },
    "InternalErrorException": {
      "documentation": "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The pagination token is invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "documentation": "<p> An integer that represents how many entries a paginated response contains. The maximum is 100.</p>",
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxResultsBudgetNotifications": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "NotFoundException": {
      "documentation": "<p>We can\u2019t locate the resource that you specified.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Notification": {
      "documentation": "<p>A notification that's associated with a budget. A budget can have up to ten notifications. </p> <p>Each notification must have at least one subscriber. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p> <p>For example, if you have a budget for 200 dollars and you want to be notified when you go over 160 dollars, create a notification with the following parameters:</p> <ul> <li> <p>A notificationType of <code>ACTUAL</code> </p> </li> <li> <p>A <code>thresholdType</code> of <code>PERCENTAGE</code> </p> </li> <li> <p>A <code>comparisonOperator</code> of <code>GREATER_THAN</code> </p> </li> <li> <p>A notification <code>threshold</code> of <code>80</code> </p> </li> </ul>",
      "members": {
        "ComparisonOperator": {
          "documentation": "<p>The comparison that's used for this notification.</p>",
          "shape": "ComparisonOperator"
        },
        "NotificationState": {
          "documentation": "<p>Specifies whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you passed the set threshold for the budget.</p>",
          "shape": "NotificationState"
        },
        "NotificationType": {
          "documentation": "<p>Specifies whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much that you're forecasted to spend (<code>FORECASTED</code>).</p>",
          "shape": "NotificationType"
        },
        "Threshold": {
          "documentation": "<p>The threshold that's associated with a notification. Thresholds are always a percentage, and many customers find value being alerted between 50% - 200% of the budgeted amount. The maximum limit for your threshold is 1,000,000% above the budgeted amount.</p>",
          "shape": "NotificationThreshold"
        },
        "ThresholdType": {
          "documentation": "<p>The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, Amazon Web Services notifies you when you go over 160 dollars.</p>",
          "shape": "ThresholdType"
        }
      },
      "required": [
        "NotificationType",
        "ComparisonOperator",
        "Threshold"
      ],
      "type": "structure"
    },
    "NotificationState": {
      "enum": [
        "OK",
        "ALARM"
      ],
      "type": "string"
    },
    "NotificationThreshold": {
      "documentation": "<p> The threshold of a notification.</p>",
      "max": 15000000000000,
      "min": 0,
      "type": "double"
    },
    "NotificationType": {
      "documentation": "<p> The type of a notification. It must be ACTUAL or FORECASTED.</p>",
      "enum": [
        "ACTUAL",
        "FORECASTED"
      ],
      "type": "string"
    },
    "NotificationWithSubscribers": {
      "documentation": "<p>A notification with subscribers. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p>",
      "members": {
        "Notification": {
          "documentation": "<p>The notification that's associated with a budget.</p>",
          "shape": "Notification"
        },
        "Subscribers": {
          "documentation": "<p>A list of subscribers who are subscribed to this notification.</p>",
          "shape": "Subscribers"
        }
      },
      "required": [
        "Notification",
        "Subscribers"
      ],
      "type": "structure"
    },
    "NotificationWithSubscribersList": {
      "documentation": "<p> A list of notifications, each with a list of subscribers.</p>",
      "max": 10,
      "member": {
        "shape": "NotificationWithSubscribers"
      },
      "type": "list"
    },
    "Notifications": {
      "documentation": "<p> A list of notifications.</p>",
      "member": {
        "shape": "Notification"
      },
      "type": "list"
    },
    "NullableBoolean": {
      "box": true,
      "type": "boolean"
    },
    "NumericValue": {
      "documentation": "<p> A string that represents a numeric value.</p>",
      "max": 2147483647,
      "min": 1,
      "pattern": "([0-9]*\\.)?[0-9]+",
      "type": "string"
    },
    "PlannedBudgetLimits": {
      "key": {
        "shape": "GenericString"
      },
      "type": "map",
      "value": {
        "shape": "Spend"
      }
    },
    "PolicyArn": {
      "max": 684,
      "min": 25,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|us-iso-east-1|us-isob-east-1):iam::(\\d{12}|aws):policy(\\u002F[\\u0021-\\u007F]+\\u002F|\\u002F)[\\w+=,.@-]+$",
      "type": "string"
    },
    "PolicyId": {
      "max": 130,
      "min": 10,
      "pattern": "^p-[0-9a-zA-Z_]{8,128}$",
      "type": "string"
    },
    "Region": {
      "max": 20,
      "min": 9,
      "pattern": "^\\w{2}-\\w+(-\\w+)?-\\d$",
      "type": "string"
    },
    "ResourceLockedException": {
      "documentation": "<p> The request was received and recognized by the server, but the server rejected that particular method for the requested resource. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Role": {
      "max": 576,
      "min": 1,
      "pattern": "^([\\u0021-\\u007F]+\\u002F)?[\\w+=,.@-]+$",
      "type": "string"
    },
    "RoleArn": {
      "max": 618,
      "min": 32,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|us-iso-east-1|us-isob-east-1):iam::\\d{12}:role(\\u002F[\\u0021-\\u007F]+\\u002F|\\u002F)[\\w+=,.@-]+$",
      "type": "string"
    },
    "Roles": {
      "max": 100,
      "member": {
        "shape": "Role"
      },
      "min": 1,
      "type": "list"
    },
    "ScpActionDefinition": {
      "documentation": "<p>The service control policies (SCP) action definition details. </p>",
      "members": {
        "PolicyId": {
          "documentation": "<p>The policy ID attached. </p>",
          "shape": "PolicyId"
        },
        "TargetIds": {
          "documentation": "<p>A list of target IDs. </p>",
          "shape": "TargetIds"
        }
      },
      "required": [
        "PolicyId",
        "TargetIds"
      ],
      "type": "structure"
    },
    "Spend": {
      "documentation": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>",
      "members": {
        "Amount": {
          "documentation": "<p>The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold.</p>",
          "shape": "NumericValue"
        },
        "Unit": {
          "documentation": "<p>The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP.</p>",
          "shape": "UnitValue"
        }
      },
      "required": [
        "Amount",
        "Unit"
      ],
      "type": "structure"
    },
    "SsmActionDefinition": {
      "documentation": "<p>The Amazon Web Services Systems Manager (SSM) action definition details. </p>",
      "members": {
        "ActionSubType": {
          "documentation": "<p>The action subType. </p>",
          "shape": "ActionSubType"
        },
        "InstanceIds": {
          "documentation": "<p>The EC2 and RDS instance IDs. </p>",
          "shape": "InstanceIds"
        },
        "Region": {
          "documentation": "<p>The Region to run the SSM document. </p>",
          "shape": "Region"
        }
      },
      "required": [
        "ActionSubType",
        "Region",
        "InstanceIds"
      ],
      "type": "structure"
    },
    "Subscriber": {
      "documentation": "<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p> <p>For example, an email subscriber has the following parameters:</p> <ul> <li> <p>A <code>subscriptionType</code> of <code>EMAIL</code> </p> </li> <li> <p>An <code>address</code> of <code>example@example.com</code> </p> </li> </ul>",
      "members": {
        "Address": {
          "documentation": "<p>The address that Amazon Web Services sends budget notifications to, either an SNS topic or an email.</p> <p>When you create a subscriber, the value of <code>Address</code> can't contain line breaks.</p>",
          "shape": "SubscriberAddress"
        },
        "SubscriptionType": {
          "documentation": "<p>The type of notification that Amazon Web Services sends to a subscriber.</p>",
          "shape": "SubscriptionType"
        }
      },
      "required": [
        "SubscriptionType",
        "Address"
      ],
      "type": "structure"
    },
    "SubscriberAddress": {
      "documentation": "<p> A string that contains an email address or SNS topic for the subscriber's address.</p>",
      "max": 2147483647,
      "min": 1,
      "pattern": "(.*[\\n\\r\\t\\f\\ ]?)*",
      "sensitive": true,
      "type": "string"
    },
    "Subscribers": {
      "documentation": "<p> A list of subscribers.</p>",
      "max": 11,
      "member": {
        "shape": "Subscriber"
      },
      "min": 1,
      "type": "list"
    },
    "SubscriptionType": {
      "documentation": "<p> The subscription type of the subscriber. It can be SMS or EMAIL.</p>",
      "enum": [
        "SNS",
        "EMAIL"
      ],
      "type": "string"
    },
    "TargetId": {
      "max": 68,
      "min": 12,
      "pattern": "^(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32}$)|(\\d{12})",
      "type": "string"
    },
    "TargetIds": {
      "max": 100,
      "member": {
        "shape": "TargetId"
      },
      "min": 1,
      "type": "list"
    },
    "ThresholdType": {
      "documentation": "<p> The type of threshold for a notification.</p>",
      "enum": [
        "PERCENTAGE",
        "ABSOLUTE_VALUE"
      ],
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p> The number of API requests has exceeded the maximum allowed API request throttling limit for the account. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "TimePeriod": {
      "documentation": "<p>The period of time that's covered by a budget. The period has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p>",
      "members": {
        "End": {
          "documentation": "<p>The end date for a budget. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API.</p> <p>After the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers. You can change your end date with the <code>UpdateBudget</code> operation.</p>",
          "shape": "GenericTimestamp"
        },
        "Start": {
          "documentation": "<p>The start date for a budget. If you created your budget and didn't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, Amazon Web Services set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, Amazon Web Services set your start date to <code>01/01/18 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API.</p> <p>You can change your start date with the <code>UpdateBudget</code> operation.</p>",
          "shape": "GenericTimestamp"
        }
      },
      "type": "structure"
    },
    "TimeUnit": {
      "documentation": "<p> The time unit of the budget, such as MONTHLY or QUARTERLY.</p>",
      "enum": [
        "DAILY",
        "MONTHLY",
        "QUARTERLY",
        "ANNUALLY"
      ],
      "type": "string"
    },
    "UnitValue": {
      "documentation": "<p> A string that represents the spend unit of a budget. It can't be null or empty.</p>",
      "max": 2147483647,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "UpdateBudgetActionRequest": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "ActionId": {
          "documentation": "<p> A system-generated universally unique identifier (UUID) for the action. </p>",
          "shape": "ActionId"
        },
        "ActionThreshold": {
          "shape": "ActionThreshold"
        },
        "ApprovalModel": {
          "documentation": "<p> This specifies if the action needs manual or automatic approval. </p>",
          "shape": "ApprovalModel"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "Definition": {
          "shape": "Definition"
        },
        "ExecutionRoleArn": {
          "documentation": "<p> The role passed for action execution and reversion. Roles and actions must be in the same account. </p>",
          "shape": "RoleArn"
        },
        "NotificationType": {
          "shape": "NotificationType"
        },
        "Subscribers": {
          "shape": "Subscribers"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "ActionId"
      ],
      "type": "structure"
    },
    "UpdateBudgetActionResponse": {
      "members": {
        "AccountId": {
          "shape": "AccountId"
        },
        "BudgetName": {
          "shape": "BudgetName"
        },
        "NewAction": {
          "documentation": "<p> The updated action resource information. </p>",
          "shape": "Action"
        },
        "OldAction": {
          "documentation": "<p> The previous action resource information. </p>",
          "shape": "Action"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "OldAction",
        "NewAction"
      ],
      "type": "structure"
    },
    "UpdateBudgetRequest": {
      "documentation": "<p> Request of UpdateBudget </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to update.</p>",
          "shape": "AccountId"
        },
        "NewBudget": {
          "documentation": "<p>The budget that you want to update your budget to.</p>",
          "shape": "Budget"
        }
      },
      "required": [
        "AccountId",
        "NewBudget"
      ],
      "type": "structure"
    },
    "UpdateBudgetResponse": {
      "documentation": "<p> Response of UpdateBudget </p>",
      "members": {},
      "type": "structure"
    },
    "UpdateNotificationRequest": {
      "documentation": "<p> Request of UpdateNotification </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose notification you want to update.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose notification you want to update.</p>",
          "shape": "BudgetName"
        },
        "NewNotification": {
          "documentation": "<p>The updated notification to be associated with a budget.</p>",
          "shape": "Notification"
        },
        "OldNotification": {
          "documentation": "<p>The previous notification that is associated with a budget.</p>",
          "shape": "Notification"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "OldNotification",
        "NewNotification"
      ],
      "type": "structure"
    },
    "UpdateNotificationResponse": {
      "documentation": "<p> Response of UpdateNotification </p>",
      "members": {},
      "type": "structure"
    },
    "UpdateSubscriberRequest": {
      "documentation": "<p> Request of UpdateSubscriber </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscriber you want to update.</p>",
          "shape": "AccountId"
        },
        "BudgetName": {
          "documentation": "<p>The name of the budget whose subscriber you want to update.</p>",
          "shape": "BudgetName"
        },
        "NewSubscriber": {
          "documentation": "<p>The updated subscriber that is associated with a budget notification.</p>",
          "shape": "Subscriber"
        },
        "Notification": {
          "documentation": "<p>The notification whose subscriber you want to update.</p>",
          "shape": "Notification"
        },
        "OldSubscriber": {
          "documentation": "<p>The previous subscriber that is associated with a budget notification.</p>",
          "shape": "Subscriber"
        }
      },
      "required": [
        "AccountId",
        "BudgetName",
        "Notification",
        "OldSubscriber",
        "NewSubscriber"
      ],
      "type": "structure"
    },
    "UpdateSubscriberResponse": {
      "documentation": "<p> Response of UpdateSubscriber </p>",
      "members": {},
      "type": "structure"
    },
    "User": {
      "max": 576,
      "min": 1,
      "pattern": "^([\\u0021-\\u007F]+\\u002F)?[\\w+=,.@-]+$",
      "type": "string"
    },
    "Users": {
      "max": 100,
      "member": {
        "shape": "User"
      },
      "min": 1,
      "type": "list"
    },
    "errorMessage": {
      "documentation": "<p>The error message the exception carries.</p>",
      "type": "string"
    }
  },
  "version": "2.0"
}
