{
  "documentation": "<p>You can use the Amazon Elastic Block Store (Amazon EBS) direct APIs to create Amazon EBS snapshots, write data directly to your snapshots, read data on your snapshots, and identify the differences or changes between two snapshots. If you\u2019re an independent software vendor (ISV) who offers backup services for Amazon EBS, the EBS direct APIs make it more efficient and cost-effective to track incremental changes on your Amazon EBS volumes through snapshots. This can be done without having to create new volumes from snapshots, and then use Amazon Elastic Compute Cloud (Amazon EC2) instances to compare the differences.</p> <p>You can create incremental snapshots directly from data on-premises into volumes and the cloud to use for quick disaster recovery. With the ability to write and read snapshots, you can write your on-premises data to an snapshot during a disaster. Then after recovery, you can restore it back to Amazon Web Services or on-premises from the snapshot. You no longer need to build and maintain complex mechanisms to copy data to and from Amazon EBS.</p> <p>This API reference provides detailed information about the actions, data types, parameters, and errors of the EBS direct APIs. For more information about the elements that make up the EBS direct APIs, and examples of how to use them effectively, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html\">Accessing the Contents of an Amazon EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. For more information about the supported Amazon Web Services Regions, endpoints, and service quotas for the EBS direct APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ebs-service.html\">Amazon Elastic Block Store Endpoints and Quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>",
  "metadata": {
    "apiVersion": "2019-11-02",
    "endpointPrefix": "ebs",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon EBS",
    "serviceFullName": "Amazon Elastic Block Store",
    "serviceId": "EBS",
    "signatureVersion": "v4",
    "uid": "ebs-2019-11-02"
  },
  "operations": {
    "CompleteSnapshot": {
      "documentation": "<p>Seals and completes the snapshot after all of the required blocks of data have been written to it. Completing the snapshot changes the status to <code>completed</code>. You cannot write new blocks to a snapshot after it has been completed.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/snapshots/completion/{snapshotId}",
        "responseCode": 202
      },
      "input": {
        "shape": "CompleteSnapshotRequest"
      },
      "name": "CompleteSnapshot",
      "output": {
        "shape": "CompleteSnapshotResponse"
      }
    },
    "GetSnapshotBlock": {
      "documentation": "<p>Returns the data in a block in an Amazon Elastic Block Store snapshot.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/snapshots/{snapshotId}/blocks/{blockIndex}"
      },
      "input": {
        "shape": "GetSnapshotBlockRequest"
      },
      "name": "GetSnapshotBlock",
      "output": {
        "shape": "GetSnapshotBlockResponse"
      }
    },
    "ListChangedBlocks": {
      "documentation": "<p>Returns information about the blocks that are different between two Amazon Elastic Block Store snapshots of the same volume/snapshot lineage.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/snapshots/{secondSnapshotId}/changedblocks"
      },
      "input": {
        "shape": "ListChangedBlocksRequest"
      },
      "name": "ListChangedBlocks",
      "output": {
        "shape": "ListChangedBlocksResponse"
      }
    },
    "ListSnapshotBlocks": {
      "documentation": "<p>Returns information about the blocks in an Amazon Elastic Block Store snapshot.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/snapshots/{snapshotId}/blocks"
      },
      "input": {
        "shape": "ListSnapshotBlocksRequest"
      },
      "name": "ListSnapshotBlocks",
      "output": {
        "shape": "ListSnapshotBlocksResponse"
      }
    },
    "PutSnapshotBlock": {
      "authtype": "v4-unsigned-body",
      "documentation": "<p>Writes a block of data to a snapshot. If the specified block contains data, the existing data is overwritten. The target snapshot must be in the <code>pending</code> state.</p> <p>Data written to a snapshot must be aligned with 512-KiB sectors.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/snapshots/{snapshotId}/blocks/{blockIndex}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutSnapshotBlockRequest"
      },
      "name": "PutSnapshotBlock",
      "output": {
        "shape": "PutSnapshotBlockResponse"
      }
    },
    "StartSnapshot": {
      "documentation": "<p>Creates a new Amazon EBS snapshot. The new snapshot enters the <code>pending</code> state after the request completes. </p> <p>After creating the snapshot, use <a href=\"https://docs.aws.amazon.com/ebs/latest/APIReference/API_PutSnapshotBlock.html\"> PutSnapshotBlock</a> to write blocks of data to the snapshot.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "RequestThrottledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConcurrentLimitExceededException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/snapshots",
        "responseCode": 201
      },
      "input": {
        "shape": "StartSnapshotRequest"
      },
      "name": "StartSnapshot",
      "output": {
        "shape": "StartSnapshotResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "AccessDeniedExceptionReason"
        }
      },
      "required": [
        "Reason"
      ],
      "type": "structure"
    },
    "AccessDeniedExceptionReason": {
      "enum": [
        "UNAUTHORIZED_ACCOUNT",
        "DEPENDENCY_ACCESS_DENIED"
      ],
      "type": "string"
    },
    "Block": {
      "documentation": "<p>A block of data in an Amazon Elastic Block Store snapshot.</p>",
      "members": {
        "BlockIndex": {
          "documentation": "<p>The block index.</p>",
          "shape": "BlockIndex"
        },
        "BlockToken": {
          "documentation": "<p>The block token for the block index.</p>",
          "shape": "BlockToken"
        }
      },
      "type": "structure"
    },
    "BlockData": {
      "sensitive": true,
      "streaming": true,
      "type": "blob"
    },
    "BlockIndex": {
      "min": 0,
      "type": "integer"
    },
    "BlockSize": {
      "type": "integer"
    },
    "BlockToken": {
      "max": 256,
      "pattern": "^[A-Za-z0-9+/=]+$",
      "type": "string"
    },
    "Blocks": {
      "member": {
        "shape": "Block"
      },
      "sensitive": true,
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChangedBlock": {
      "documentation": "<p>A block of data in an Amazon Elastic Block Store snapshot that is different from another snapshot of the same volume/snapshot lineage.</p>",
      "members": {
        "BlockIndex": {
          "documentation": "<p>The block index.</p>",
          "shape": "BlockIndex"
        },
        "FirstBlockToken": {
          "documentation": "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot does not have the changed block that is on the second snapshot.</p>",
          "shape": "BlockToken"
        },
        "SecondBlockToken": {
          "documentation": "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in the <code>ListChangedBlocks</code> operation.</p>",
          "shape": "BlockToken"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ChangedBlocks": {
      "member": {
        "shape": "ChangedBlock"
      },
      "type": "list"
    },
    "ChangedBlocksCount": {
      "min": 0,
      "type": "integer"
    },
    "Checksum": {
      "max": 64,
      "pattern": "^[A-Za-z0-9+/=]+$",
      "type": "string"
    },
    "ChecksumAggregationMethod": {
      "enum": [
        "LINEAR"
      ],
      "max": 32,
      "pattern": "^[A-Za-z0-9]+$",
      "type": "string"
    },
    "ChecksumAlgorithm": {
      "enum": [
        "SHA256"
      ],
      "max": 32,
      "pattern": "^[A-Za-z0-9]+$",
      "type": "string"
    },
    "CompleteSnapshotRequest": {
      "members": {
        "ChangedBlocksCount": {
          "documentation": "<p>The number of blocks that were written to the snapshot.</p>",
          "location": "header",
          "locationName": "x-amz-ChangedBlocksCount",
          "shape": "ChangedBlocksCount"
        },
        "Checksum": {
          "documentation": "<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written block.</p> <p>To generate the aggregated checksum using the linear aggregation method, arrange the checksums for each written block in ascending order of their block index, concatenate them to form a single string, and then generate the checksum on the entire string using the SHA256 algorithm.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum",
          "shape": "Checksum"
        },
        "ChecksumAggregationMethod": {
          "documentation": "<p>The aggregation method used to generate the checksum. Currently, the only supported aggregation method is <code>LINEAR</code>.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum-Aggregation-Method",
          "shape": "ChecksumAggregationMethod"
        },
        "ChecksumAlgorithm": {
          "documentation": "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum-Algorithm",
          "shape": "ChecksumAlgorithm"
        },
        "SnapshotId": {
          "documentation": "<p>The ID of the snapshot.</p>",
          "location": "uri",
          "locationName": "snapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "SnapshotId",
        "ChangedBlocksCount"
      ],
      "type": "structure"
    },
    "CompleteSnapshotResponse": {
      "members": {
        "Status": {
          "documentation": "<p>The status of the snapshot.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "ConcurrentLimitExceededException": {
      "documentation": "<p>You have reached the limit for concurrent API requests. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapi-performance\">Optimizing performance of the EBS direct APIs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request uses the same client token as a previous, but non-identical request.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DataLength": {
      "type": "integer"
    },
    "Description": {
      "max": 255,
      "pattern": "^[\\S\\s]+$",
      "type": "string"
    },
    "ErrorMessage": {
      "max": 256,
      "type": "string"
    },
    "GetSnapshotBlockRequest": {
      "members": {
        "BlockIndex": {
          "documentation": "<p>The block index of the block in which to read the data. A block index is a logical index in units of <code>512</code> KiB blocks. To identify the block index, divide the logical offset of the data in the logical volume by the block size (logical offset of data/<code>524288</code>). The logical offset of the data must be <code>512</code> KiB aligned.</p>",
          "location": "uri",
          "locationName": "blockIndex",
          "shape": "BlockIndex"
        },
        "BlockToken": {
          "documentation": "<p>The block token of the block from which to get data. You can obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or <code>ListSnapshotBlocks</code> operations.</p>",
          "location": "querystring",
          "locationName": "blockToken",
          "shape": "BlockToken"
        },
        "SnapshotId": {
          "documentation": "<p>The ID of the snapshot containing the block from which to get data.</p> <important> <p>If the specified snapshot is encrypted, you must have permission to use the KMS key that was used to encrypt the snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapis-using-encryption.html\"> Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> </important>",
          "location": "uri",
          "locationName": "snapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "SnapshotId",
        "BlockIndex",
        "BlockToken"
      ],
      "type": "structure"
    },
    "GetSnapshotBlockResponse": {
      "members": {
        "BlockData": {
          "documentation": "<p>The data content of the block.</p>",
          "shape": "BlockData"
        },
        "Checksum": {
          "documentation": "<p>The checksum generated for the block, which is Base64 encoded.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum",
          "shape": "Checksum"
        },
        "ChecksumAlgorithm": {
          "documentation": "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum-Algorithm",
          "shape": "ChecksumAlgorithm"
        },
        "DataLength": {
          "documentation": "<p>The size of the data in the block.</p>",
          "location": "header",
          "locationName": "x-amz-Data-Length",
          "shape": "DataLength"
        }
      },
      "payload": "BlockData",
      "type": "structure"
    },
    "IdempotencyToken": {
      "max": 255,
      "pattern": "^[\\S]+$",
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>An internal error has occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KmsKeyArn": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:aws[a-z\\-]*:kms:.*:[0-9]{12}:key/.*",
      "sensitive": true,
      "type": "string"
    },
    "ListChangedBlocksRequest": {
      "members": {
        "FirstSnapshotId": {
          "documentation": "<p>The ID of the first snapshot to use for the comparison.</p> <important> <p>The <code>FirstSnapshotID</code> parameter must be specified with a <code>SecondSnapshotId</code> parameter; otherwise, an error occurs.</p> </important>",
          "location": "querystring",
          "locationName": "firstSnapshotId",
          "shape": "SnapshotId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of blocks to be returned by the request.</p> <p>Even if additional blocks can be retrieved from the snapshot, the request can return less blocks than <b>MaxResults</b> or an empty array of blocks.</p> <p>To retrieve the next set of blocks from the snapshot, make another request with the returned <b>NextToken</b> value. The value of <b>NextToken</b> is <code>null</code> when there are no more blocks to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to request the next page of results.</p> <p>If you specify <b>NextToken</b>, then <b>StartingBlockIndex</b> is ignored.</p>",
          "location": "querystring",
          "locationName": "pageToken",
          "shape": "PageToken"
        },
        "SecondSnapshotId": {
          "documentation": "<p>The ID of the second snapshot to use for the comparison.</p> <important> <p>The <code>SecondSnapshotId</code> parameter must be specified with a <code>FirstSnapshotID</code> parameter; otherwise, an error occurs.</p> </important>",
          "location": "uri",
          "locationName": "secondSnapshotId",
          "shape": "SnapshotId"
        },
        "StartingBlockIndex": {
          "documentation": "<p>The block index from which the comparison should start.</p> <p>The list in the response will start from this block index or the next valid block index in the snapshots.</p> <p>If you specify <b>NextToken</b>, then <b>StartingBlockIndex</b> is ignored.</p>",
          "location": "querystring",
          "locationName": "startingBlockIndex",
          "shape": "BlockIndex"
        }
      },
      "required": [
        "SecondSnapshotId"
      ],
      "type": "structure"
    },
    "ListChangedBlocksResponse": {
      "members": {
        "BlockSize": {
          "documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>",
          "shape": "BlockSize"
        },
        "ChangedBlocks": {
          "documentation": "<p>An array of objects containing information about the changed blocks.</p>",
          "shape": "ChangedBlocks"
        },
        "ExpiryTime": {
          "documentation": "<p>The time when the <code>BlockToken</code> expires.</p>",
          "shape": "TimeStamp"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PageToken"
        },
        "VolumeSize": {
          "documentation": "<p>The size of the volume in GB.</p>",
          "shape": "VolumeSize"
        }
      },
      "type": "structure"
    },
    "ListSnapshotBlocksRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of blocks to be returned by the request.</p> <p>Even if additional blocks can be retrieved from the snapshot, the request can return less blocks than <b>MaxResults</b> or an empty array of blocks.</p> <p>To retrieve the next set of blocks from the snapshot, make another request with the returned <b>NextToken</b> value. The value of <b>NextToken</b> is <code>null</code> when there are no more blocks to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to request the next page of results.</p> <p>If you specify <b>NextToken</b>, then <b>StartingBlockIndex</b> is ignored.</p>",
          "location": "querystring",
          "locationName": "pageToken",
          "shape": "PageToken"
        },
        "SnapshotId": {
          "documentation": "<p>The ID of the snapshot from which to get block indexes and block tokens.</p>",
          "location": "uri",
          "locationName": "snapshotId",
          "shape": "SnapshotId"
        },
        "StartingBlockIndex": {
          "documentation": "<p>The block index from which the list should start. The list in the response will start from this block index or the next valid block index in the snapshot.</p> <p>If you specify <b>NextToken</b>, then <b>StartingBlockIndex</b> is ignored.</p>",
          "location": "querystring",
          "locationName": "startingBlockIndex",
          "shape": "BlockIndex"
        }
      },
      "required": [
        "SnapshotId"
      ],
      "type": "structure"
    },
    "ListSnapshotBlocksResponse": {
      "members": {
        "BlockSize": {
          "documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>",
          "shape": "BlockSize"
        },
        "Blocks": {
          "documentation": "<p>An array of objects containing information about the blocks.</p>",
          "shape": "Blocks"
        },
        "ExpiryTime": {
          "documentation": "<p>The time when the <code>BlockToken</code> expires.</p>",
          "shape": "TimeStamp"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PageToken"
        },
        "VolumeSize": {
          "documentation": "<p>The size of the volume in GB.</p>",
          "shape": "VolumeSize"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 10000,
      "min": 100,
      "type": "integer"
    },
    "OwnerId": {
      "max": 24,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "PageToken": {
      "max": 256,
      "pattern": "^[A-Za-z0-9+/=]+$",
      "type": "string"
    },
    "Progress": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "PutSnapshotBlockRequest": {
      "members": {
        "BlockData": {
          "documentation": "<p>The data to write to the block.</p> <p>The block data is not signed as part of the Signature Version 4 signing process. As a result, you must generate and provide a Base64-encoded SHA256 checksum for the block data using the <b>x-amz-Checksum</b> header. Also, you must specify the checksum algorithm using the <b>x-amz-Checksum-Algorithm</b> header. The checksum that you provide is part of the Signature Version 4 signing process. It is validated against a checksum generated by Amazon EBS to ensure the validity and authenticity of the data. If the checksums do not correspond, the request fails. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapis-using-checksums\"> Using checksums with the EBS direct APIs</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
          "shape": "BlockData"
        },
        "BlockIndex": {
          "documentation": "<p>The block index of the block in which to write the data. A block index is a logical index in units of <code>512</code> KiB blocks. To identify the block index, divide the logical offset of the data in the logical volume by the block size (logical offset of data/<code>524288</code>). The logical offset of the data must be <code>512</code> KiB aligned.</p>",
          "location": "uri",
          "locationName": "blockIndex",
          "shape": "BlockIndex"
        },
        "Checksum": {
          "documentation": "<p>A Base64-encoded SHA256 checksum of the data. Only SHA256 checksums are supported.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum",
          "shape": "Checksum"
        },
        "ChecksumAlgorithm": {
          "documentation": "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm is <code>SHA256</code>.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum-Algorithm",
          "shape": "ChecksumAlgorithm"
        },
        "DataLength": {
          "documentation": "<p>The size of the data to write to the block, in bytes. Currently, the only supported size is <code>524288</code> bytes.</p> <p>Valid values: <code>524288</code> </p>",
          "location": "header",
          "locationName": "x-amz-Data-Length",
          "shape": "DataLength"
        },
        "Progress": {
          "documentation": "<p>The progress of the write process, as a percentage.</p>",
          "location": "header",
          "locationName": "x-amz-Progress",
          "shape": "Progress"
        },
        "SnapshotId": {
          "documentation": "<p>The ID of the snapshot.</p> <important> <p>If the specified snapshot is encrypted, you must have permission to use the KMS key that was used to encrypt the snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapis-using-encryption.html\"> Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>..</p> </important>",
          "location": "uri",
          "locationName": "snapshotId",
          "shape": "SnapshotId"
        }
      },
      "payload": "BlockData",
      "required": [
        "SnapshotId",
        "BlockIndex",
        "BlockData",
        "DataLength",
        "Checksum",
        "ChecksumAlgorithm"
      ],
      "type": "structure"
    },
    "PutSnapshotBlockResponse": {
      "members": {
        "Checksum": {
          "documentation": "<p>The SHA256 checksum generated for the block data by Amazon EBS.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum",
          "shape": "Checksum"
        },
        "ChecksumAlgorithm": {
          "documentation": "<p>The algorithm used by Amazon EBS to generate the checksum.</p>",
          "location": "header",
          "locationName": "x-amz-Checksum-Algorithm",
          "shape": "ChecksumAlgorithm"
        }
      },
      "type": "structure"
    },
    "RequestThrottledException": {
      "documentation": "<p>The number of API requests has exceed the maximum allowed API request throttling limit.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "RequestThrottledExceptionReason"
        }
      },
      "type": "structure"
    },
    "RequestThrottledExceptionReason": {
      "enum": [
        "ACCOUNT_THROTTLED",
        "DEPENDENCY_REQUEST_THROTTLED",
        "RESOURCE_LEVEL_THROTTLE"
      ],
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource does not exist.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ResourceNotFoundExceptionReason"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundExceptionReason": {
      "enum": [
        "SNAPSHOT_NOT_FOUND",
        "DEPENDENCY_RESOURCE_NOT_FOUND"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Your current service quotas do not allow you to perform this action.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ServiceQuotaExceededExceptionReason"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededExceptionReason": {
      "enum": [
        "DEPENDENCY_SERVICE_QUOTA_EXCEEDED"
      ],
      "type": "string"
    },
    "SnapshotId": {
      "max": 64,
      "min": 1,
      "pattern": "^snap-[0-9a-f]+$",
      "type": "string"
    },
    "StartSnapshotRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully. The subsequent retries with the same client token return the result from the original successful request and they have no additional effect.</p> <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-direct-api-idempotency.html\"> Idempotency for StartSnapshot API</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Description": {
          "documentation": "<p>A description for the snapshot.</p>",
          "shape": "Description"
        },
        "Encrypted": {
          "documentation": "<p>Indicates whether to encrypt the snapshot.</p> <p>You can't specify <b>Encrypted</b> and <b> ParentSnapshotId</b> in the same request. If you specify both parameters, the request fails with <code>ValidationException</code>.</p> <p>The encryption status of the snapshot depends on the values that you specify for <b>Encrypted</b>, <b>KmsKeyArn</b>, and <b>ParentSnapshotId</b>, and whether your Amazon Web Services account is enabled for <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default\"> encryption by default</a>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapis-using-encryption.html\"> Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <important> <p>To create an encrypted snapshot, you must have permission to use the KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapi-permissions.html#ebsapi-kms-permissions\"> Permissions to use Key Management Service keys</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> </important>",
          "shape": "Boolean"
        },
        "KmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) key to be used to encrypt the snapshot.</p> <p>The encryption status of the snapshot depends on the values that you specify for <b>Encrypted</b>, <b>KmsKeyArn</b>, and <b>ParentSnapshotId</b>, and whether your Amazon Web Services account is enabled for <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default\"> encryption by default</a>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapis-using-encryption.html\"> Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <important> <p>To create an encrypted snapshot, you must have permission to use the KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapi-permissions.html#ebsapi-kms-permissions\"> Permissions to use Key Management Service keys</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> </important>",
          "shape": "KmsKeyArn"
        },
        "ParentSnapshotId": {
          "documentation": "<p>The ID of the parent snapshot. If there is no parent snapshot, or if you are creating the first snapshot for an on-premises volume, omit this parameter.</p> <p>You can't specify <b>ParentSnapshotId</b> and <b>Encrypted</b> in the same request. If you specify both parameters, the request fails with <code>ValidationException</code>.</p> <p>The encryption status of the snapshot depends on the values that you specify for <b>Encrypted</b>, <b>KmsKeyArn</b>, and <b>ParentSnapshotId</b>, and whether your Amazon Web Services account is enabled for <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html#encryption-by-default\"> encryption by default</a>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapis-using-encryption.html\"> Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> <important> <p>If you specify an encrypted parent snapshot, you must have permission to use the KMS key that was used to encrypt the parent snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebsapi-permissions.html#ebsapi-kms-permissions\"> Permissions to use Key Management Service keys</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p> </important>",
          "shape": "SnapshotId"
        },
        "Tags": {
          "documentation": "<p>The tags to apply to the snapshot.</p>",
          "shape": "Tags"
        },
        "Timeout": {
          "documentation": "<p>The amount of time (in minutes) after which the snapshot is automatically cancelled if:</p> <ul> <li> <p>No blocks are written to the snapshot.</p> </li> <li> <p>The snapshot is not completed after writing the last block of data.</p> </li> </ul> <p>If no value is specified, the timeout defaults to <code>60</code> minutes.</p>",
          "shape": "Timeout"
        },
        "VolumeSize": {
          "documentation": "<p>The size of the volume, in GiB. The maximum size is <code>65536</code> GiB (64 TiB).</p>",
          "shape": "VolumeSize"
        }
      },
      "required": [
        "VolumeSize"
      ],
      "type": "structure"
    },
    "StartSnapshotResponse": {
      "members": {
        "BlockSize": {
          "documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>",
          "shape": "BlockSize"
        },
        "Description": {
          "documentation": "<p>The description of the snapshot.</p>",
          "shape": "Description"
        },
        "KmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) key used to encrypt the snapshot.</p>",
          "shape": "KmsKeyArn"
        },
        "OwnerId": {
          "documentation": "<p>The Amazon Web Services account ID of the snapshot owner.</p>",
          "shape": "OwnerId"
        },
        "ParentSnapshotId": {
          "documentation": "<p>The ID of the parent snapshot.</p>",
          "shape": "SnapshotId"
        },
        "SnapshotId": {
          "documentation": "<p>The ID of the snapshot.</p>",
          "shape": "SnapshotId"
        },
        "StartTime": {
          "documentation": "<p>The timestamp when the snapshot was created.</p>",
          "shape": "TimeStamp"
        },
        "Status": {
          "documentation": "<p>The status of the snapshot.</p>",
          "shape": "Status"
        },
        "Tags": {
          "documentation": "<p>The tags applied to the snapshot. You can specify up to 50 tags per snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\"> Tagging your Amazon EC2 resources</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
          "shape": "Tags"
        },
        "VolumeSize": {
          "documentation": "<p>The size of the volume, in GiB.</p>",
          "shape": "VolumeSize"
        }
      },
      "type": "structure"
    },
    "Status": {
      "enum": [
        "completed",
        "pending",
        "error"
      ],
      "max": 32,
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>Describes a tag.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 127,
      "pattern": "^[\\S\\s]+$",
      "type": "string"
    },
    "TagValue": {
      "max": 255,
      "pattern": "^[\\S\\s]*$",
      "type": "string"
    },
    "Tags": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TimeStamp": {
      "type": "timestamp"
    },
    "Timeout": {
      "max": 4320,
      "min": 10,
      "type": "integer"
    },
    "ValidationException": {
      "documentation": "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the validation exception.</p>",
          "shape": "ValidationExceptionReason"
        }
      },
      "type": "structure"
    },
    "ValidationExceptionReason": {
      "enum": [
        "INVALID_CUSTOMER_KEY",
        "INVALID_PAGE_TOKEN",
        "INVALID_BLOCK_TOKEN",
        "INVALID_SNAPSHOT_ID",
        "UNRELATED_SNAPSHOTS",
        "INVALID_BLOCK",
        "INVALID_CONTENT_ENCODING",
        "INVALID_TAG",
        "INVALID_DEPENDENCY_REQUEST",
        "INVALID_PARAMETER_VALUE",
        "INVALID_VOLUME_SIZE",
        "CONFLICTING_BLOCK_UPDATE"
      ],
      "type": "string"
    },
    "VolumeSize": {
      "min": 1,
      "type": "long"
    }
  },
  "version": "2.0"
}
