{
  "documentation": "<p>Welcome to the Amazon Nimble Studio API reference. This API reference provides methods, schema, resources, parameters, and more to help you get the most out of Nimble Studio.</p> <p>Nimble Studio is a virtual studio that empowers visual effects, animation, and interactive content teams to create content securely within a scalable, private cloud service.</p>",
  "metadata": {
    "apiVersion": "2020-08-01",
    "endpointPrefix": "nimble",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AmazonNimbleStudio",
    "serviceId": "nimble",
    "signatureVersion": "v4",
    "signingName": "nimble",
    "uid": "nimble-2020-08-01"
  },
  "operations": {
    "AcceptEulas": {
      "documentation": "<p>Accept EULAs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptEulasRequest"
      },
      "name": "AcceptEulas",
      "output": {
        "shape": "AcceptEulasResponse"
      }
    },
    "CreateLaunchProfile": {
      "documentation": "<p>Create a launch profile.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateLaunchProfileRequest"
      },
      "name": "CreateLaunchProfile",
      "output": {
        "shape": "CreateLaunchProfileResponse"
      }
    },
    "CreateStreamingImage": {
      "documentation": "<p>Creates a streaming image resource in a studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateStreamingImageRequest"
      },
      "name": "CreateStreamingImage",
      "output": {
        "shape": "CreateStreamingImageResponse"
      }
    },
    "CreateStreamingSession": {
      "documentation": "<p>Creates a streaming session in a studio.</p> <p>After invoking this operation, you must poll GetStreamingSession until the streaming session is in state READY.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateStreamingSessionRequest"
      },
      "name": "CreateStreamingSession",
      "output": {
        "shape": "CreateStreamingSessionResponse"
      }
    },
    "CreateStreamingSessionStream": {
      "documentation": "<p>Creates a streaming session stream for a streaming session.</p> <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId to poll the resource until it is in state READY.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateStreamingSessionStreamRequest"
      },
      "name": "CreateStreamingSessionStream",
      "output": {
        "shape": "CreateStreamingSessionStreamResponse"
      }
    },
    "CreateStudio": {
      "documentation": "<p>Create a new Studio.</p> <p>When creating a Studio, two IAM roles must be provided: the admin role and the user Role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p> <p>The user role must have the AmazonNimbleStudio-StudioUser managed policy attached for the portal to function properly.</p> <p>The Admin Role must have the AmazonNimbleStudio-StudioAdmin managed policy attached for the portal to function properly.</p> <p>You may optionally specify a KMS key in the StudioEncryptionConfiguration.</p> <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other data you provide are always encrypted at rest using an KMS key. By default, this key is owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key when calling CreateStudio to encrypt this data using a key you own and manage.</p> <p>When providing an KMS key during studio creation, Nimble Studio creates KMS grants in your account to provide your studio user and admin roles access to these KMS keys.</p> <p>If you delete this grant, the studio will no longer be accessible to your portal users.</p> <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateStudioRequest"
      },
      "name": "CreateStudio",
      "output": {
        "shape": "CreateStudioResponse"
      }
    },
    "CreateStudioComponent": {
      "documentation": "<p>Creates a studio component resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateStudioComponentRequest"
      },
      "name": "CreateStudioComponent",
      "output": {
        "shape": "CreateStudioComponentResponse"
      }
    },
    "DeleteLaunchProfile": {
      "documentation": "<p>Permanently delete a launch profile.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteLaunchProfileRequest"
      },
      "name": "DeleteLaunchProfile",
      "output": {
        "shape": "DeleteLaunchProfileResponse"
      }
    },
    "DeleteLaunchProfileMember": {
      "documentation": "<p>Delete a user from launch profile membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteLaunchProfileMemberRequest"
      },
      "name": "DeleteLaunchProfileMember",
      "output": {
        "shape": "DeleteLaunchProfileMemberResponse"
      }
    },
    "DeleteStreamingImage": {
      "documentation": "<p>Delete streaming image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStreamingImageRequest"
      },
      "name": "DeleteStreamingImage",
      "output": {
        "shape": "DeleteStreamingImageResponse"
      }
    },
    "DeleteStreamingSession": {
      "documentation": "<p>Deletes streaming session resource.</p> <p>After invoking this operation, use GetStreamingSession to poll the resource until it transitions to a DELETED state.</p> <p>A streaming session will count against your streaming session quota until it is marked DELETED.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStreamingSessionRequest"
      },
      "name": "DeleteStreamingSession",
      "output": {
        "shape": "DeleteStreamingSessionResponse"
      }
    },
    "DeleteStudio": {
      "documentation": "<p>Delete a studio resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStudioRequest"
      },
      "name": "DeleteStudio",
      "output": {
        "shape": "DeleteStudioResponse"
      }
    },
    "DeleteStudioComponent": {
      "documentation": "<p>Deletes a studio component resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStudioComponentRequest"
      },
      "name": "DeleteStudioComponent",
      "output": {
        "shape": "DeleteStudioComponentResponse"
      }
    },
    "DeleteStudioMember": {
      "documentation": "<p>Delete a user from studio membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStudioMemberRequest"
      },
      "name": "DeleteStudioMember",
      "output": {
        "shape": "DeleteStudioMemberResponse"
      }
    },
    "GetEula": {
      "documentation": "<p>Get Eula.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/eulas/{eulaId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEulaRequest"
      },
      "name": "GetEula",
      "output": {
        "shape": "GetEulaResponse"
      }
    },
    "GetLaunchProfile": {
      "documentation": "<p>Get a launch profile.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLaunchProfileRequest"
      },
      "name": "GetLaunchProfile",
      "output": {
        "shape": "GetLaunchProfileResponse"
      }
    },
    "GetLaunchProfileDetails": {
      "documentation": "<p>Launch profile details include the launch profile resource and summary information of resources that are used by, or available to, the launch profile. This includes the name and description of all studio components used by the launch profiles, and the name and description of streaming images that can be used with this launch profile.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLaunchProfileDetailsRequest"
      },
      "name": "GetLaunchProfileDetails",
      "output": {
        "shape": "GetLaunchProfileDetailsResponse"
      }
    },
    "GetLaunchProfileInitialization": {
      "documentation": "<p>Get a launch profile initialization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLaunchProfileInitializationRequest"
      },
      "name": "GetLaunchProfileInitialization",
      "output": {
        "shape": "GetLaunchProfileInitializationResponse"
      }
    },
    "GetLaunchProfileMember": {
      "documentation": "<p>Get a user persona in launch profile membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLaunchProfileMemberRequest"
      },
      "name": "GetLaunchProfileMember",
      "output": {
        "shape": "GetLaunchProfileMemberResponse"
      }
    },
    "GetStreamingImage": {
      "documentation": "<p>Get streaming image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStreamingImageRequest"
      },
      "name": "GetStreamingImage",
      "output": {
        "shape": "GetStreamingImageResponse"
      }
    },
    "GetStreamingSession": {
      "documentation": "<p>Gets StreamingSession resource.</p> <p>Invoke this operation to poll for a streaming session state while creating or deleting a session.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStreamingSessionRequest"
      },
      "name": "GetStreamingSession",
      "output": {
        "shape": "GetStreamingSessionResponse"
      }
    },
    "GetStreamingSessionStream": {
      "documentation": "<p>Gets a StreamingSessionStream for a streaming session.</p> <p>Invoke this operation to poll the resource after invoking CreateStreamingSessionStream.</p> <p>After the StreamingSessionStream changes to the state READY, the url property will contain a stream to be used with the DCV streaming client.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStreamingSessionStreamRequest"
      },
      "name": "GetStreamingSessionStream",
      "output": {
        "shape": "GetStreamingSessionStreamResponse"
      }
    },
    "GetStudio": {
      "documentation": "<p>Get a Studio resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStudioRequest"
      },
      "name": "GetStudio",
      "output": {
        "shape": "GetStudioResponse"
      }
    },
    "GetStudioComponent": {
      "documentation": "<p>Gets a studio component resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStudioComponentRequest"
      },
      "name": "GetStudioComponent",
      "output": {
        "shape": "GetStudioComponentResponse"
      }
    },
    "GetStudioMember": {
      "documentation": "<p>Get a user's membership in a studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStudioMemberRequest"
      },
      "name": "GetStudioMember",
      "output": {
        "shape": "GetStudioMemberResponse"
      }
    },
    "ListEulaAcceptances": {
      "documentation": "<p>List Eula Acceptances.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEulaAcceptancesRequest"
      },
      "name": "ListEulaAcceptances",
      "output": {
        "shape": "ListEulaAcceptancesResponse"
      }
    },
    "ListEulas": {
      "documentation": "<p>List Eulas.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/eulas",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEulasRequest"
      },
      "name": "ListEulas",
      "output": {
        "shape": "ListEulasResponse"
      }
    },
    "ListLaunchProfileMembers": {
      "documentation": "<p>Get all users in a given launch profile membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLaunchProfileMembersRequest"
      },
      "name": "ListLaunchProfileMembers",
      "output": {
        "shape": "ListLaunchProfileMembersResponse"
      }
    },
    "ListLaunchProfiles": {
      "documentation": "<p>List all the launch profiles a studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLaunchProfilesRequest"
      },
      "name": "ListLaunchProfiles",
      "output": {
        "shape": "ListLaunchProfilesResponse"
      }
    },
    "ListStreamingImages": {
      "documentation": "<p>List the streaming image resources available to this studio.</p> <p>This list will contain both images provided by Amazon Web Services, as well as streaming images that you have created in your studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStreamingImagesRequest"
      },
      "name": "ListStreamingImages",
      "output": {
        "shape": "ListStreamingImagesResponse"
      }
    },
    "ListStreamingSessions": {
      "documentation": "<p>Lists the streaming sessions in a studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStreamingSessionsRequest"
      },
      "name": "ListStreamingSessions",
      "output": {
        "shape": "ListStreamingSessionsResponse"
      }
    },
    "ListStudioComponents": {
      "documentation": "<p>Lists the StudioComponents in a studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStudioComponentsRequest"
      },
      "name": "ListStudioComponents",
      "output": {
        "shape": "ListStudioComponentsResponse"
      }
    },
    "ListStudioMembers": {
      "documentation": "<p>Get all users in a given studio membership.</p> <note> <p> <code>ListStudioMembers</code> only returns admin members.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios/{studioId}/membership",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStudioMembersRequest"
      },
      "name": "ListStudioMembers",
      "output": {
        "shape": "ListStudioMembersResponse"
      }
    },
    "ListStudios": {
      "documentation": "<p>List studios in your Amazon Web Services account in the requested Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/studios",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStudiosRequest"
      },
      "name": "ListStudios",
      "output": {
        "shape": "ListStudiosResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Gets the tags for a resource, given its Amazon Resource Names (ARN).</p> <p>This operation supports ARNs for all resource types in Nimble Studio that support tags, including studio, studio component, launch profile, streaming image, and streaming session. All resources that can be tagged will contain an ARN property, so you do not have to create this ARN yourself.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutLaunchProfileMembers": {
      "documentation": "<p>Add/update users with given persona to launch profile membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode": 200
      },
      "input": {
        "shape": "PutLaunchProfileMembersRequest"
      },
      "name": "PutLaunchProfileMembers",
      "output": {
        "shape": "PutLaunchProfileMembersResponse"
      }
    },
    "PutStudioMembers": {
      "documentation": "<p>Add/update users with given persona to studio membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/membership",
        "responseCode": 200
      },
      "input": {
        "shape": "PutStudioMembersRequest"
      },
      "name": "PutStudioMembers",
      "output": {
        "shape": "PutStudioMembersResponse"
      }
    },
    "StartStreamingSession": {
      "documentation": "<p> Transitions sessions from the STOPPED state into the READY state. The START_IN_PROGRESS state is the intermediate state between the STOPPED and READY states.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/start",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartStreamingSessionRequest"
      },
      "name": "StartStreamingSession",
      "output": {
        "shape": "StartStreamingSessionResponse"
      }
    },
    "StartStudioSSOConfigurationRepair": {
      "documentation": "<p>Repairs the IAM Identity Center configuration for a given studio.</p> <p>If the studio has a valid IAM Identity Center configuration currently associated with it, this operation will fail with a validation error.</p> <p>If the studio does not have a valid IAM Identity Center configuration currently associated with it, then a new IAM Identity Center application is created for the studio and the studio is changed to the READY state.</p> <p>After the IAM Identity Center application is repaired, you must use the Amazon Nimble Studio console to add administrators and users to your studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2020-08-01/studios/{studioId}/sso-configuration",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartStudioSSOConfigurationRepairRequest"
      },
      "name": "StartStudioSSOConfigurationRepair",
      "output": {
        "shape": "StartStudioSSOConfigurationRepairResponse"
      }
    },
    "StopStreamingSession": {
      "documentation": "<p>Transitions sessions from the READY state into the STOPPED state. The STOP_IN_PROGRESS state is the intermediate state between the READY and STOPPED states.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/stop",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StopStreamingSessionRequest"
      },
      "name": "StopStreamingSession",
      "output": {
        "shape": "StopStreamingSessionResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Creates tags for a resource, given its ARN.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes the tags for a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-08-01/tags/{resourceArn}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateLaunchProfile": {
      "documentation": "<p>Update a launch profile.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLaunchProfileRequest"
      },
      "name": "UpdateLaunchProfile",
      "output": {
        "shape": "UpdateLaunchProfileResponse"
      }
    },
    "UpdateLaunchProfileMember": {
      "documentation": "<p>Update a user persona in launch profile membership.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLaunchProfileMemberRequest"
      },
      "name": "UpdateLaunchProfileMember",
      "output": {
        "shape": "UpdateLaunchProfileMemberResponse"
      }
    },
    "UpdateStreamingImage": {
      "documentation": "<p>Update streaming image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStreamingImageRequest"
      },
      "name": "UpdateStreamingImage",
      "output": {
        "shape": "UpdateStreamingImageResponse"
      }
    },
    "UpdateStudio": {
      "documentation": "<p>Update a Studio resource.</p> <p>Currently, this operation only supports updating the displayName of your studio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStudioRequest"
      },
      "name": "UpdateStudio",
      "output": {
        "shape": "UpdateStudioResponse"
      }
    },
    "UpdateStudioComponent": {
      "documentation": "<p>Updates a studio component resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStudioComponentRequest"
      },
      "name": "UpdateStudioComponent",
      "output": {
        "shape": "UpdateStudioComponentResponse"
      }
    }
  },
  "shapes": {
    "AcceptEulasRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "eulaIds": {
          "documentation": "<p>The EULA ID.</p>",
          "shape": "EulaIdList"
        },
        "studioId": {
          "documentation": "<p>The studio ID.</p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "studioId"
      ],
      "type": "structure"
    },
    "AcceptEulasResponse": {
      "members": {
        "eulaAcceptances": {
          "documentation": "<p>A collection of EULA acceptances.</p>",
          "shape": "EulaAcceptanceList"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "code": {
          "documentation": "<p>A more specific error code.</p>",
          "shape": "String"
        },
        "context": {
          "documentation": "<p>The exception context.</p>",
          "shape": "ExceptionContext"
        },
        "message": {
          "documentation": "<p>A human-readable description of the error.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ActiveDirectoryComputerAttribute": {
      "documentation": "<p>An LDAP attribute of an Active Directory computer account, in the form of a name:value pair.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name for the LDAP attribute.</p>",
          "shape": "ActiveDirectoryComputerAttributeName"
        },
        "value": {
          "documentation": "<p>The value for the LDAP attribute.</p>",
          "shape": "ActiveDirectoryComputerAttributeValue"
        }
      },
      "type": "structure"
    },
    "ActiveDirectoryComputerAttributeList": {
      "documentation": "<p>A collection of LDAP attributes to apply to Active Directory computer accounts that are created for streaming sessions.</p>",
      "max": 50,
      "member": {
        "shape": "ActiveDirectoryComputerAttribute"
      },
      "min": 0,
      "sensitive": true,
      "type": "list"
    },
    "ActiveDirectoryComputerAttributeName": {
      "documentation": "<p>The name for the LDAP attribute.</p>",
      "max": 40,
      "min": 1,
      "type": "string"
    },
    "ActiveDirectoryComputerAttributeValue": {
      "documentation": "<p>The value for the LDAP attribute.</p>",
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ActiveDirectoryConfiguration": {
      "documentation": "<p>The configuration for a Microsoft Active Directory (Microsoft AD) studio resource.</p>",
      "members": {
        "computerAttributes": {
          "documentation": "<p>A collection of custom attributes for an Active Directory computer.</p>",
          "shape": "ActiveDirectoryComputerAttributeList"
        },
        "directoryId": {
          "documentation": "<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this studio component.</p>",
          "shape": "DirectoryId"
        },
        "organizationalUnitDistinguishedName": {
          "documentation": "<p>The distinguished name (DN) and organizational unit (OU) of an Active Directory computer.</p>",
          "shape": "ActiveDirectoryOrganizationalUnitDistinguishedName"
        }
      },
      "type": "structure"
    },
    "ActiveDirectoryDnsIpAddress": {
      "type": "string"
    },
    "ActiveDirectoryDnsIpAddressList": {
      "max": 10,
      "member": {
        "shape": "ActiveDirectoryDnsIpAddress"
      },
      "min": 0,
      "type": "list"
    },
    "ActiveDirectoryOrganizationalUnitDistinguishedName": {
      "documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>",
      "max": 2000,
      "min": 1,
      "type": "string"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ComputeFarmConfiguration": {
      "documentation": "<p>The configuration for a render farm that is associated with a studio resource.</p>",
      "members": {
        "activeDirectoryUser": {
          "documentation": "<p>The name of an Active Directory user that is used on ComputeFarm worker instances.</p>",
          "shape": "String"
        },
        "endpoint": {
          "documentation": "<p>The endpoint of the ComputeFarm that is accessed by the studio component resource.</p>",
          "shape": "SensitiveString"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>Another operation is in progress. </p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "code": {
          "documentation": "<p>A more specific error code.</p>",
          "shape": "String"
        },
        "context": {
          "documentation": "<p>The exception context.</p>",
          "shape": "ExceptionContext"
        },
        "message": {
          "documentation": "<p>A human-readable description of the error.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateLaunchProfileRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "LaunchProfileDescription"
        },
        "ec2SubnetIds": {
          "documentation": "<p>Specifies the IDs of the EC2 subnets where streaming sessions will be accessible from. These subnets must support the specified instance types. </p>",
          "shape": "EC2SubnetIdList"
        },
        "launchProfileProtocolVersions": {
          "documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
          "shape": "LaunchProfileProtocolVersionList"
        },
        "name": {
          "documentation": "<p>The name for the launch profile.</p>",
          "shape": "LaunchProfileName"
        },
        "streamConfiguration": {
          "documentation": "<p>A configuration for a streaming session.</p>",
          "shape": "StreamConfigurationCreate"
        },
        "studioComponentIds": {
          "documentation": "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>",
          "shape": "LaunchProfileStudioComponentIdList"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ec2SubnetIds",
        "launchProfileProtocolVersions",
        "name",
        "streamConfiguration",
        "studioComponentIds",
        "studioId"
      ],
      "type": "structure"
    },
    "CreateLaunchProfileResponse": {
      "members": {
        "launchProfile": {
          "documentation": "<p>The launch profile.</p>",
          "shape": "LaunchProfile"
        }
      },
      "type": "structure"
    },
    "CreateStreamingImageRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>A human-readable description of the streaming image.</p>",
          "shape": "StreamingImageDescription"
        },
        "ec2ImageId": {
          "documentation": "<p>The ID of an EC2 machine image with which to create this streaming image.</p>",
          "shape": "EC2ImageId"
        },
        "name": {
          "documentation": "<p>A friendly name for a streaming image resource.</p>",
          "shape": "StreamingImageName"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ec2ImageId",
        "name",
        "studioId"
      ],
      "type": "structure"
    },
    "CreateStreamingImageResponse": {
      "members": {
        "streamingImage": {
          "documentation": "<p>The streaming image.</p>",
          "shape": "StreamingImage"
        }
      },
      "type": "structure"
    },
    "CreateStreamingSessionRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "ec2InstanceType": {
          "documentation": "<p>The EC2 Instance type used for the streaming session.</p>",
          "shape": "StreamingInstanceType"
        },
        "launchProfileId": {
          "documentation": "<p>The launch profile ID.</p>",
          "shape": "String"
        },
        "ownedBy": {
          "documentation": "<p>The user ID of the user that owns the streaming session. The user that owns the session will be logging into the session and interacting with the virtual workstation.</p>",
          "shape": "String"
        },
        "streamingImageId": {
          "documentation": "<p>The ID of the streaming image.</p>",
          "shape": "StreamingImageId"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "studioId"
      ],
      "type": "structure"
    },
    "CreateStreamingSessionResponse": {
      "members": {
        "session": {
          "documentation": "<p>The session.</p>",
          "shape": "StreamingSession"
        }
      },
      "type": "structure"
    },
    "CreateStreamingSessionStreamRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "expirationInSeconds": {
          "documentation": "<p>The expiration time in seconds.</p>",
          "shape": "StreamingSessionStreamExpirationInSeconds"
        },
        "sessionId": {
          "documentation": "<p>The streaming session ID.</p>",
          "location": "uri",
          "locationName": "sessionId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "sessionId",
        "studioId"
      ],
      "type": "structure"
    },
    "CreateStreamingSessionStreamResponse": {
      "members": {
        "stream": {
          "documentation": "<p>The stream.</p>",
          "shape": "StreamingSessionStream"
        }
      },
      "type": "structure"
    },
    "CreateStudioComponentRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "configuration": {
          "documentation": "<p>The configuration of the studio component, based on component type.</p>",
          "shape": "StudioComponentConfiguration"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "StudioComponentDescription"
        },
        "ec2SecurityGroupIds": {
          "documentation": "<p>The EC2 security groups that control access to the studio component.</p>",
          "shape": "StudioComponentSecurityGroupIdList"
        },
        "initializationScripts": {
          "documentation": "<p>Initialization scripts for studio components.</p>",
          "shape": "StudioComponentInitializationScriptList"
        },
        "name": {
          "documentation": "<p>The name for the studio component.</p>",
          "shape": "StudioComponentName"
        },
        "runtimeRoleArn": {
          "documentation": "<p>An IAM role attached to a Studio Component that gives the studio component access to AWS resources at anytime while the instance is running. </p>",
          "shape": "RoleArn"
        },
        "scriptParameters": {
          "documentation": "<p>Parameters for the studio component scripts.</p>",
          "shape": "StudioComponentScriptParameterKeyValueList"
        },
        "secureInitializationRoleArn": {
          "documentation": "<p>An IAM role attached to Studio Component when the system initialization script runs which give the studio component access to AWS resources when the system initialization script runs.</p>",
          "shape": "RoleArn"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        },
        "subtype": {
          "documentation": "<p>The specific subtype of a studio component.</p>",
          "shape": "StudioComponentSubtype"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        },
        "type": {
          "documentation": "<p>The type of the studio component.</p>",
          "shape": "StudioComponentType"
        }
      },
      "required": [
        "name",
        "studioId",
        "type"
      ],
      "type": "structure"
    },
    "CreateStudioComponentResponse": {
      "members": {
        "studioComponent": {
          "documentation": "<p>Information about the studio component.</p>",
          "shape": "StudioComponent"
        }
      },
      "type": "structure"
    },
    "CreateStudioRequest": {
      "members": {
        "adminRoleArn": {
          "documentation": "<p>The IAM role that Studio Admins will assume when logging in to the Nimble Studio portal.</p>",
          "shape": "RoleArn"
        },
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "displayName": {
          "documentation": "<p>A friendly name for the studio.</p>",
          "shape": "StudioDisplayName"
        },
        "studioEncryptionConfiguration": {
          "documentation": "<p>The studio encryption configuration.</p>",
          "shape": "StudioEncryptionConfiguration"
        },
        "studioName": {
          "documentation": "<p>The studio name that is used in the URL of the Nimble Studio portal when accessed by Nimble Studio users.</p>",
          "shape": "StudioName"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        },
        "userRoleArn": {
          "documentation": "<p>The IAM role that Studio Users will assume when logging in to the Nimble Studio portal.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "adminRoleArn",
        "displayName",
        "studioName",
        "userRoleArn"
      ],
      "type": "structure"
    },
    "CreateStudioResponse": {
      "members": {
        "studio": {
          "documentation": "<p>Information about a studio.</p>",
          "shape": "Studio"
        }
      },
      "type": "structure"
    },
    "DeleteLaunchProfileMemberRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "principalId": {
          "documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
          "location": "uri",
          "locationName": "principalId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "principalId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteLaunchProfileMemberResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteLaunchProfileRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteLaunchProfileResponse": {
      "members": {
        "launchProfile": {
          "documentation": "<p>The launch profile.</p>",
          "shape": "LaunchProfile"
        }
      },
      "type": "structure"
    },
    "DeleteStreamingImageRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "streamingImageId": {
          "documentation": "<p>The streaming image ID.</p>",
          "location": "uri",
          "locationName": "streamingImageId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "streamingImageId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteStreamingImageResponse": {
      "members": {
        "streamingImage": {
          "documentation": "<p>The streaming image.</p>",
          "shape": "StreamingImage"
        }
      },
      "type": "structure"
    },
    "DeleteStreamingSessionRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "sessionId": {
          "documentation": "<p>The streaming session ID.</p>",
          "location": "uri",
          "locationName": "sessionId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "sessionId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteStreamingSessionResponse": {
      "members": {
        "session": {
          "documentation": "<p>The session.</p>",
          "shape": "StreamingSession"
        }
      },
      "type": "structure"
    },
    "DeleteStudioComponentRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "studioComponentId": {
          "documentation": "<p>The studio component ID.</p>",
          "location": "uri",
          "locationName": "studioComponentId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "studioComponentId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteStudioComponentResponse": {
      "members": {
        "studioComponent": {
          "documentation": "<p>Information about the studio component.</p>",
          "shape": "StudioComponent"
        }
      },
      "type": "structure"
    },
    "DeleteStudioMemberRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "principalId": {
          "documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
          "location": "uri",
          "locationName": "principalId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "principalId",
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteStudioMemberResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteStudioRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don\u2019t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amz-Client-Token",
          "shape": "ClientToken"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "studioId"
      ],
      "type": "structure"
    },
    "DeleteStudioResponse": {
      "members": {
        "studio": {
          "documentation": "<p>Information about a studio.</p>",
          "shape": "Studio"
        }
      },
      "required": [
        "studio"
      ],
      "type": "structure"
    },
    "DirectoryId": {
      "type": "string"
    },
    "EC2ImageId": {
      "pattern": "^ami-[0-9A-z]+$",
      "type": "string"
    },
    "EC2SubnetId": {
      "type": "string"
    },
    "EC2SubnetIdList": {
      "max": 6,
      "member": {
        "shape": "EC2SubnetId"
      },
      "min": 0,
      "type": "list"
    },
    "Eula": {
      "documentation": "<p>Represents a EULA resource.</p>",
      "members": {
        "content": {
          "documentation": "<p>The EULA content.</p>",
          "shape": "String"
        },
        "createdAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
          "shape": "Timestamp"
        },
        "eulaId": {
          "documentation": "<p>The EULA ID.</p>",
          "shape": "EulaId"
        },
        "name": {
          "documentation": "<p>The name for the EULA.</p>",
          "shape": "EulaName"
        },
        "updatedAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "EulaAcceptance": {
      "documentation": "<p>The acceptance of a EULA, required to use Amazon-provided streaming images.</p>",
      "members": {
        "acceptedAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the EULA was accepted.</p>",
          "shape": "Timestamp"
        },
        "acceptedBy": {
          "documentation": "<p>The ID of the person who accepted the EULA.</p>",
          "shape": "String"
        },
        "accepteeId": {
          "documentation": "<p>The ID of the acceptee.</p>",
          "shape": "String"
        },
        "eulaAcceptanceId": {
          "documentation": "<p>The EULA acceptance ID.</p>",
          "shape": "EulaAcceptanceId"
        },
        "eulaId": {
          "documentation": "<p>The EULA ID.</p>",
          "shape": "EulaId"
        }
      },
      "type": "structure"
    },
    "EulaAcceptanceId": {
      "documentation": "<p>The EULA acceptance ID.</p>",
      "max": 22,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$",
      "type": "string"
    },
    "EulaAcceptanceList": {
      "member": {
        "shape": "EulaAcceptance"
      },
      "type": "list"
    },
    "EulaId": {
      "documentation": "<p>Represents a EULA resource.</p>",
      "max": 22,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$",
      "type": "string"
    },
    "EulaIdList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "EulaList": {
      "member": {
        "shape": "Eula"
      },
      "type": "list"
    },
    "EulaName": {
      "max": 64,
      "min": 0,
      "type": "string"
    },
    "ExceptionContext": {
      "documentation": "<p>ExceptionContext is a set of key-value pairs that provide you with more information about the error that occurred. For example, when the service returns a 404 ResourceNotFound error, ExceptionContext will contain the key `resourceId` with the value of resource that was not found.</p> <p>ExceptionContext enables scripts and other programmatic clients to provide for better error handling.</p>",
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "GetEulaRequest": {
      "members": {
        "eulaId": {
          "documentation": "<p>The EULA ID.</p>",
          "location": "uri",
          "locationName": "eulaId",
          "shape": "String"
        }
      },
      "required": [
        "eulaId"
      ],
      "type": "structure"
    },
    "GetEulaResponse": {
      "members": {
        "eula": {
          "documentation": "<p>The EULA.</p>",
          "shape": "Eula"
        }
      },
      "type": "structure"
    },
    "GetLaunchProfileDetailsRequest": {
      "members": {
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetLaunchProfileDetailsResponse": {
      "members": {
        "launchProfile": {
          "documentation": "<p>The launch profile.</p>",
          "shape": "LaunchProfile"
        },
        "streamingImages": {
          "documentation": "<p>A collection of streaming images.</p>",
          "shape": "StreamingImageList"
        },
        "studioComponentSummaries": {
          "documentation": "<p>A collection of studio component summaries.</p>",
          "shape": "StudioComponentSummaryList"
        }
      },
      "type": "structure"
    },
    "GetLaunchProfileInitializationRequest": {
      "members": {
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "launchProfileProtocolVersions": {
          "documentation": "<p>The launch profile protocol versions supported by the client.</p>",
          "location": "querystring",
          "locationName": "launchProfileProtocolVersions",
          "shape": "StringList"
        },
        "launchPurpose": {
          "documentation": "<p>The launch purpose.</p>",
          "location": "querystring",
          "locationName": "launchPurpose",
          "shape": "String"
        },
        "platform": {
          "documentation": "<p>The platform where this Launch Profile will be used, either WINDOWS or LINUX.</p>",
          "location": "querystring",
          "locationName": "platform",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "launchProfileProtocolVersions",
        "launchPurpose",
        "platform",
        "studioId"
      ],
      "type": "structure"
    },
    "GetLaunchProfileInitializationResponse": {
      "members": {
        "launchProfileInitialization": {
          "documentation": "<p>The launch profile initialization.</p>",
          "shape": "LaunchProfileInitialization"
        }
      },
      "type": "structure"
    },
    "GetLaunchProfileMemberRequest": {
      "members": {
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "principalId": {
          "documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
          "location": "uri",
          "locationName": "principalId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "principalId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetLaunchProfileMemberResponse": {
      "members": {
        "member": {
          "documentation": "<p>The member.</p>",
          "shape": "LaunchProfileMembership"
        }
      },
      "type": "structure"
    },
    "GetLaunchProfileRequest": {
      "members": {
        "launchProfileId": {
          "documentation": "<p>The Launch Profile ID.</p>",
          "location": "uri",
          "locationName": "launchProfileId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "launchProfileId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetLaunchProfileResponse": {
      "members": {
        "launchProfile": {
          "documentation": "<p>The launch profile.</p>",
          "shape": "LaunchProfile"
        }
      },
      "type": "structure"
    },
    "GetStreamingImageRequest": {
      "members": {
        "streamingImageId": {
          "documentation": "<p>The streaming image ID.</p>",
          "location": "uri",
          "locationName": "streamingImageId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "streamingImageId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetStreamingImageResponse": {
      "members": {
        "streamingImage": {
          "documentation": "<p>The streaming image.</p>",
          "shape": "StreamingImage"
        }
      },
      "type": "structure"
    },
    "GetStreamingSessionRequest": {
      "members": {
        "sessionId": {
          "documentation": "<p>The streaming session ID.</p>",
          "location": "uri",
          "locationName": "sessionId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "sessionId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetStreamingSessionResponse": {
      "members": {
        "session": {
          "documentation": "<p>The session.</p>",
          "shape": "StreamingSession"
        }
      },
      "type": "structure"
    },
    "GetStreamingSessionStreamRequest": {
      "members": {
        "sessionId": {
          "documentation": "<p>The streaming session ID.</p>",
          "location": "uri",
          "locationName": "sessionId",
          "shape": "String"
        },
        "streamId": {
          "documentation": "<p>The streaming session stream ID.</p>",
          "location": "uri",
          "locationName": "streamId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "sessionId",
        "streamId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetStreamingSessionStreamResponse": {
      "members": {
        "stream": {
          "documentation": "<p>The stream.</p>",
          "shape": "StreamingSessionStream"
        }
      },
      "type": "structure"
    },
    "GetStudioComponentRequest": {
      "members": {
        "studioComponentId": {
          "documentation": "<p>The studio component ID.</p>",
          "location": "uri",
          "locationName": "studioComponentId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "studioComponentId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetStudioComponentResponse": {
      "members": {
        "studioComponent": {
          "documentation": "<p>Information about the studio component.</p>",
          "shape": "StudioComponent"
        }
      },
      "type": "structure"
    },
    "GetStudioMemberRequest": {
      "members": {
        "principalId": {
          "documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
          "location": "uri",
          "locationName": "principalId",
          "shape": "String"
        },
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "principalId",
        "studioId"
      ],
      "type": "structure"
    },
    "GetStudioMemberResponse": {
      "members": {
        "member": {
          "documentation": "<p>The member.</p>",
          "shape": "StudioMembership"
        }
      },
      "type": "structure"
    },
    "GetStudioRequest": {
      "members": {
        "studioId": {
          "documentation": "<p>The studio ID. </p>",
          "location": "uri",
          "locationName": "studioId",
          "shape": "String"
        }
      },
      "required": [
        "studioId"
      ],
      "type": "structure"
    },
    "GetStudioResponse": {
      "members": {
        "studio": {
          "documentation": "<p>Information about a studio.</p>",
          "shape": "Studio"
        }
      },
      "required": [
        "studio"
      ],
      "type": "structure"
    },
    "InternalServerErrorException": {
      "documentation": "<p>An internal error has occurred. Please retry your request.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "code": {
          "documentation": "<p>A more specific error code.</p>",
          "shape": "String"
        },
        "context": {
          "documentation": "<p>The exception context.</p>",
          "shape": "ExceptionContext"
        },
        "message": {
          "documentation": "<p>A human-readable description of the error.</p>",
          "shape": "String"
        }
      },
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "LaunchProfile": {
      "documentation": "<p>A launch profile controls your artist workforce\u2019s access to studio components, like compute farms, shared file systems, managed file systems, and license server configurations, as well as instance types and Amazon Machine Images (AMIs). </p> <pre><code> &lt;p&gt;Studio administrators create launch profiles in the Nimble Studio console. Artists can use their launch profiles to launch an instance from the Nimble Studio portal. Each user\u2019s launch profile defines how they can launch a streaming session. By default, studio admins can use all launch profiles.&lt;/p&gt; </code></pre>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "shape": "String"
        },
        "createdAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
          "shape": "Timestamp"
        },
        "createdBy": {
          "documentation": "<p>The user ID of the user that created the launch profile.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>A human-readable description of the launch profile.</p>",
          "shape": "LaunchProfileDescription"
        },
        "ec2SubnetIds": {
          "documentation": "<p>Unique identifiers for a collection of EC2 subnets.</p>",
          "shape": "EC2SubnetIdList"
        },
        "launchProfileId": {
          "documentation": "<p>The launch profile ID.</p>",
          "shape": "LaunchProfileId"
        },
        "launchProfileProtocolVersions": {
          "documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
          "shape": "LaunchProfileProtocolVersionList"
        },
        "name": {
          "documentation": "<p>A friendly name for the launch profile.</p>",
          "shape": "LaunchProfileName"
        },
        "state": {
          "documentation": "<p>The current state.</p>",
          "shape": "LaunchProfileState"
        },
        "statusCode": {
          "documentation": "<p>The status code.</p>",
          "shape": "LaunchProfileStatusCode"
        },
        "statusMessage": {
          "documentation": "<p>The status message for the launch profile.</p>",
          "shape": "String"
        },
        "streamConfiguration": {
          "documentation": "<p>A configuration for a streaming session.</p>",
          "shape": "StreamConfiguration"
        },
        "studioComponentIds": {
          "documentation": "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>",
          "shape": "LaunchProfileStudioComponentIdList"
        },
        "tags": {
          "documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
          "shape": "Tags"
        },
        "updatedAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>",
          "shape": "Timestamp"
        },
        "updatedBy": {
          "documentation": "<p>The user ID of the user that most recently updated the resource.</p>",
          "shape": "String"
        },
        "validationResults": {
          "documentation": "<p>The list of the latest validation results.</p>",
          "shape": "ValidationResults"
        }
      },
      "type": "structure"
    },
    "LaunchProfileDescription": {
      "documentation": "<p>A human-readable description of the launch profile.</p>",
      "max": 256,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "LaunchProfileId": {
      "max": 22,
      "min": 0,
      "pattern": "^[a-zA-Z0-9-_]*$",
      "type": "string"
    },
    "LaunchProfileInitialization": {
      "documentation": "<p>A Launch Profile Initialization contains information required for a workstation or server to connect to a launch profile.</p> <p>This includes scripts, endpoints, security groups, subnets, and other configuration.</p>",
      "members": {
        "activeDirectory": {
          "documentation": "<p>A LaunchProfileInitializationActiveDirectory resource.</p>",
          "shape": "LaunchProfileInitializationActiveDirectory"
        },
        "ec2SecurityGroupIds": {
          "documentation": "<p>The EC2 security groups that control access to the studio component.</p>",
          "shape": "LaunchProfileSecurityGroupIdList"
        },
        "launchProfileId": {
          "documentation": "<p>The launch profile ID.</p>",
          "shape": "LaunchProfileId"
        },
        "launchProfileProtocolVersion": {
          "documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
          "shape": "LaunchProfileProtocolVersion"
        },
        "launchPurpose": {
          "documentation": "<p>The launch purpose.</p>",
          "shape": "LaunchPurpose"
        },
        "name": {
          "documentation": "<p>The name for the launch profile.</p>",
          "shape": "LaunchProfileName"
        },
        "platform": {
          "documentation": "<p>The platform of the launch platform, either WINDOWS or LINUX.</p>",
          "shape": "LaunchProfilePlatform"
        },
        "systemInitializationScripts": {
          "documentation": "<p>The system initializtion scripts.</p>",
          "shape": "LaunchProfileInitializationScriptList"
        },
        "userInitializationScripts": {
          "documentation": "<p>The user initializtion scripts.</p>",
          "shape": "LaunchProfileInitializationScriptList"
        }
      },
      "type": "structure"
    },
    "LaunchProfileInitializationActiveDirectory": {
      "documentation": "<p>The Launch Profile Initialization Active Directory contains information required for the launch profile to connect to the Active Directory.</p>",
      "members": {
        "computerAttributes": {
          "documentation": "<p>A collection of custom attributes for an Active Directory computer.</p>",
          "shape": "ActiveDirectoryComputerAttributeList"
        },
        "directoryId": {
          "documentation": "<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this launch profile.</p>",
          "shape": "DirectoryId"
        },
        "directoryName": {
          "documentation": "<p>The directory name.</p>",
          "shape": "String"
        },
        "dnsIpAddresses": {
          "documentation": "<p>The DNS IP address.</p>",
          "shape": "ActiveDirectoryDnsIpAddressList"
        },
        "organizationalUnitDistinguishedName": {
          "documentation": "<p>The name for the organizational unit distinguished name.</p>",
          "shape": "ActiveDirectoryOrganizationalUnitDistinguishedName"
        },
        "studioComponentId": {
          "documentation": "<p>The unique identifier for a studio component resource.</p>",
          "shape": "StudioComponentId"
        },
        "studioComponentName": {
          "documentation": "<p>The name for the studio component.</p>",
          "shape": "StudioComponentName"
        }
      },
      "type": "structure"
    },
    "LaunchProfileInitializationScript": {
      "documentation": "<p>The Launch Profile Initialization Script is used when start streaming session runs.</p>",
      "members": {
        "runtimeRoleArn": {
          "documentation": "<p>An IAM role attached to a Studio Component that gives the studio component access to AWS resources at anytime while the instance is running. </p>",
          "shape": "RoleArn"
        },
        "script": {
          "documentation": "<p>The initialization script.</p>",
          "shape": "StudioComponentInitializationScriptContent"
        },
        "secureInitializationRoleArn": {
          "documentation": "<p>An IAM role attached to Studio Component when the system initialization script runs which give the studio component access to AWS resources when the system initialization script runs.</p>",
          "shape": "RoleArn"
        },
        "studioComponentId": {
          "documentation": "<p>The unique identifier for a studio component resource.</p>",
          "shape": "StudioComponentId"
        },
        "studioComponentName": {
          "documentation": "<p>The name for the studio component.</p>",
          "shape": "StudioComponentName"
        }
      },
      "type": "structure"
    },
    "LaunchProfileInitializationScriptList": {
      "member": {
        "shape": "LaunchProfileInitializationScript"
      },
      "type": "list"
    },
    "LaunchProfileList": {
      "member": {
        "shape": "LaunchProfile"
      },
      "type": "list"
    },
    "LaunchProfileMembership": {
      "documentation": "<p>Launch profile membership enables your studio admins to delegate launch profile access to other studio users in the Nimble Studio portal without needing to write or maintain complex IAM policies. A launch profile member is a user association from your studio identity source who is granted permissions to a launch profile.</p> <p>A launch profile member (type USER) provides the following permissions to that launch profile:</p> <ul> <li> <p>GetLaunchProfile</p> </li> <li> <p>GetLaunchProfileInitialization</p> </li> <li> <p>GetLaunchProfileMembers</p> </li> <li> <p>GetLaunchProfileMember</p> </li> <li> <p>CreateStreamingSession</p> </li> <li> <p>GetLaunchProfileDetails</p> </li> </ul>",
      "members": {
        "identityStoreId": {
          "documentation": "<p>The ID of the identity store.</p>",
          "shape": "String"
        },
        "persona": {
          "documentation": "<p>The persona.</p>",
          "shape": "LaunchProfilePersona"
        },
        "principalId": {
          "documentation": "<p>The principal ID.</p>",
          "shape": "String"
        },
        "sid": {
          "documentation": "<p>The Active Directory Security Identifier for this user, if available.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LaunchProfileMembershipList": {
      "max": 20,
      "member": {
        "shape": "LaunchProfileMembership"
      },
      "min": 0,
      "type": "list"
[...]
