{
  "documentation": "<p>Amazon Web Services Systems Manager is a collection of capabilities to help you manage your applications and infrastructure running in the Amazon Web Services Cloud;. Systems Manager simplifies application and resource management, shortens the time to detect and resolve operational problems, and helps you manage your Amazon Web Services resources securely at scale.</p> <p>This reference is intended to be used with the <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/\">Amazon Web Services Systems Manager User Guide</a>.</p> <p>To get started, verify prerequisites. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html\">Setting up Amazon Web Services Systems Manager</a>.</p> <p class=\"title\"> <b>Related resources</b> </p> <ul> <li> <p>For information about how to use a Query API, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/making-api-requests.html\">Making API requests</a>. </p> </li> <li> <p>For information about other API operations you can perform on EC2 instances, see the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/\">Amazon EC2 API Reference</a>.</p> </li> <li> <p>For information about AppConfig, a capability of Systems Manager, see the <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/\">AppConfig User Guide</a> and the <a href=\"https://docs.aws.amazon.com/appconfig/2019-10-09/APIReference/\">AppConfig API Reference</a>.</p> </li> <li> <p>For information about Incident Manager, a capability of Systems Manager, see the <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/\">Incident Manager User Guide</a> and the <a href=\"https://docs.aws.amazon.com/incident-manager/latest/APIReference/\">Incident Manager API Reference</a>.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2014-11-06",
    "endpointPrefix": "ssm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon SSM",
    "serviceFullName": "Amazon Simple Systems Manager (SSM)",
    "serviceId": "SSM",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonSSM",
    "uid": "ssm-2014-11-06"
  },
  "operations": {
    "AddTagsToResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified resource. <i>Tags</i> are metadata that you can assign to your automations, documents, managed nodes, maintenance windows, Parameter Store parameters, and patch baselines. Tags enable you to categorize your resources in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. For example, you could define a set of tags for your account's managed nodes that helps you track each node's owner and stack level. For example:</p> <ul> <li> <p> <code>Key=Owner,Value=DbAdmin</code> </p> </li> <li> <p> <code>Key=Owner,Value=SysAdmin</code> </p> </li> <li> <p> <code>Key=Owner,Value=Dev</code> </p> </li> <li> <p> <code>Key=Stack,Value=Production</code> </p> </li> <li> <p> <code>Key=Stack,Value=Pre-Production</code> </p> </li> <li> <p> <code>Key=Stack,Value=Test</code> </p> </li> </ul> <p>Most resources can have a maximum of 50 tags. Automations can have a maximum of 5 tags.</p> <p>We recommend that you devise a set of tag keys that meets your needs for each resource type. Using a consistent set of tag keys makes it easier for you to manage your resources. You can search and filter the resources based on the tags you add. Tags don't have any semantic meaning to and are interpreted strictly as a string of characters.</p> <p>For more information about using tags with Amazon Elastic Compute Cloud (Amazon EC2) instances, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging your Amazon EC2 resources</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyTagsError"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceRequest"
      },
      "name": "AddTagsToResource",
      "output": {
        "shape": "AddTagsToResourceResult"
      }
    },
    "AssociateOpsItemRelatedItem": {
      "documentation": "<p>Associates a related item to a Systems Manager OpsCenter OpsItem. For example, you can associate an Incident Manager incident or analysis with an OpsItem. Incident Manager and OpsCenter are capabilities of Amazon Web Services Systems Manager.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemNotFoundException"
        },
        {
          "shape": "OpsItemLimitExceededException"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        },
        {
          "shape": "OpsItemRelatedItemAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateOpsItemRelatedItemRequest"
      },
      "name": "AssociateOpsItemRelatedItem",
      "output": {
        "shape": "AssociateOpsItemRelatedItemResponse"
      }
    },
    "CancelCommand": {
      "documentation": "<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "DuplicateInstanceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelCommandRequest"
      },
      "name": "CancelCommand",
      "output": {
        "shape": "CancelCommandResult"
      }
    },
    "CancelMaintenanceWindowExecution": {
      "documentation": "<p>Stops a maintenance window execution that is already in progress and cancels any tasks in the window that haven't already starting running. Tasks already in progress will continue to completion.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelMaintenanceWindowExecutionRequest"
      },
      "name": "CancelMaintenanceWindowExecution",
      "output": {
        "shape": "CancelMaintenanceWindowExecutionResult"
      }
    },
    "CreateActivation": {
      "documentation": "<p>Generates an activation code and activation ID you can use to register your on-premises servers, edge devices, or virtual machine (VM) with Amazon Web Services Systems Manager. Registering these machines with Systems Manager makes it possible to manage them using Systems Manager capabilities. You use the activation code and ID when installing SSM Agent on machines in your hybrid environment. For more information about requirements for managing on-premises machines using Systems Manager, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-managedinstances.html\">Setting up Amazon Web Services Systems Manager for hybrid environments</a> in the <i>Amazon Web Services Systems Manager User Guide</i>. </p> <note> <p>Amazon Elastic Compute Cloud (Amazon EC2) instances, edge devices, and on-premises servers and VMs that are configured for Systems Manager are all called <i>managed nodes</i>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateActivationRequest"
      },
      "name": "CreateActivation",
      "output": {
        "shape": "CreateActivationResult"
      }
    },
    "CreateAssociation": {
      "documentation": "<p>A State Manager association defines the state that you want to maintain on your managed nodes. For example, an association can specify that anti-virus software must be installed and running on your managed nodes, or that certain ports must be closed. For static targets, the association specifies a schedule for when the configuration is reapplied. For dynamic targets, such as an Amazon Web Services resource group or an Amazon Web Services autoscaling group, State Manager, a capability of Amazon Web Services Systems Manager applies the configuration when new managed nodes are added to the group. The association also specifies actions to take when applying the configuration. For example, an association for anti-virus software might run once a day. If the software isn't installed, then State Manager installs it. If the software is installed, but the service isn't running, then the association might instruct State Manager to start the service. </p>",
      "errors": [
        {
          "shape": "AssociationAlreadyExists"
        },
        {
          "shape": "AssociationLimitExceeded"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "UnsupportedPlatformType"
        },
        {
          "shape": "InvalidOutputLocation"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InvalidSchedule"
        },
        {
          "shape": "InvalidTargetMaps"
        },
        {
          "shape": "InvalidTag"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssociationRequest"
      },
      "name": "CreateAssociation",
      "output": {
        "shape": "CreateAssociationResult"
      }
    },
    "CreateAssociationBatch": {
      "documentation": "<p>Associates the specified Amazon Web Services Systems Manager document (SSM document) with the specified managed nodes or targets.</p> <p>When you associate a document with one or more managed nodes using IDs or tags, Amazon Web Services Systems Manager Agent (SSM Agent) running on the managed node processes the document and configures the node as specified.</p> <p>If you associate a document with a managed node that already has an associated document, the system returns the AssociationAlreadyExists exception.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "DuplicateInstanceId"
        },
        {
          "shape": "AssociationLimitExceeded"
        },
        {
          "shape": "UnsupportedPlatformType"
        },
        {
          "shape": "InvalidOutputLocation"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InvalidSchedule"
        },
        {
          "shape": "InvalidTargetMaps"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssociationBatchRequest"
      },
      "name": "CreateAssociationBatch",
      "output": {
        "shape": "CreateAssociationBatchResult"
      }
    },
    "CreateDocument": {
      "documentation": "<p>Creates a Amazon Web Services Systems Manager (SSM document). An SSM document defines the actions that Systems Manager performs on your managed nodes. For more information about SSM documents, including information about supported schemas, features, and syntax, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-ssm-docs.html\">Amazon Web Services Systems Manager Documents</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p>",
      "errors": [
        {
          "shape": "DocumentAlreadyExists"
        },
        {
          "shape": "MaxDocumentSizeExceeded"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocumentContent"
        },
        {
          "shape": "DocumentLimitExceeded"
        },
        {
          "shape": "InvalidDocumentSchemaVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDocumentRequest"
      },
      "name": "CreateDocument",
      "output": {
        "shape": "CreateDocumentResult"
      }
    },
    "CreateMaintenanceWindow": {
      "documentation": "<p>Creates a new maintenance window.</p> <note> <p>The value you specify for <code>Duration</code> determines the specific end time for the maintenance window based on the time it begins. No maintenance window tasks are permitted to start after the resulting endtime minus the number of hours you specify for <code>Cutoff</code>. For example, if the maintenance window starts at 3 PM, the duration is three hours, and the value you specify for <code>Cutoff</code> is one hour, no maintenance window tasks can start after 5 PM.</p> </note>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMaintenanceWindowRequest"
      },
      "name": "CreateMaintenanceWindow",
      "output": {
        "shape": "CreateMaintenanceWindowResult"
      }
    },
    "CreateOpsItem": {
      "documentation": "<p>Creates a new OpsItem. You must have permission in Identity and Access Management (IAM) to create a new OpsItem. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting started with OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use Amazon Web Services Systems Manager OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their Amazon Web Services resources. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">Amazon Web Services Systems Manager OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemAlreadyExistsException"
        },
        {
          "shape": "OpsItemLimitExceededException"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOpsItemRequest"
      },
      "name": "CreateOpsItem",
      "output": {
        "shape": "CreateOpsItemResponse"
      }
    },
    "CreateOpsMetadata": {
      "documentation": "<p>If you create a new application in Application Manager, Amazon Web Services Systems Manager calls this API operation to specify information about the new application, including the application type.</p>",
      "errors": [
        {
          "shape": "OpsMetadataAlreadyExistsException"
        },
        {
          "shape": "OpsMetadataTooManyUpdatesException"
        },
        {
          "shape": "OpsMetadataInvalidArgumentException"
        },
        {
          "shape": "OpsMetadataLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOpsMetadataRequest"
      },
      "name": "CreateOpsMetadata",
      "output": {
        "shape": "CreateOpsMetadataResult"
      }
    },
    "CreatePatchBaseline": {
      "documentation": "<p>Creates a patch baseline.</p> <note> <p>For information about valid key-value pairs in <code>PatchFilters</code> for each supported operating system type, see <a>PatchFilter</a>.</p> </note>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePatchBaselineRequest"
      },
      "name": "CreatePatchBaseline",
      "output": {
        "shape": "CreatePatchBaselineResult"
      }
    },
    "CreateResourceDataSync": {
      "documentation": "<p>A resource data sync helps you view data from multiple sources in a single location. Amazon Web Services Systems Manager offers two types of resource data sync: <code>SyncToDestination</code> and <code>SyncFromSource</code>.</p> <p>You can configure Systems Manager Inventory to use the <code>SyncToDestination</code> type to synchronize Inventory data from multiple Amazon Web Services Regions to a single Amazon Simple Storage Service (Amazon S3) bucket. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-inventory-datasync.html\">Configuring resource data sync for Inventory</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p> <p>You can configure Systems Manager Explorer to use the <code>SyncFromSource</code> type to synchronize operational work items (OpsItems) and operational data (OpsData) from multiple Amazon Web Services Regions to a single Amazon S3 bucket. This type can synchronize OpsItems and OpsData from multiple Amazon Web Services accounts and Amazon Web Services Regions or <code>EntireOrganization</code> by using Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/Explorer-resource-data-sync.html\">Setting up Systems Manager Explorer to display data from multiple accounts and Regions</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p> <p>A resource data sync is an asynchronous operation that returns immediately. After a successful initial sync is completed, the system continuously syncs data. To check the status of a sync, use the <a>ListResourceDataSync</a>.</p> <note> <p>By default, data isn't encrypted in Amazon S3. We strongly recommend that you enable encryption in Amazon S3 to ensure secure data storage. We also recommend that you secure access to the Amazon S3 bucket by creating a restrictive bucket policy. </p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncCountExceededException"
        },
        {
          "shape": "ResourceDataSyncAlreadyExistsException"
        },
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceDataSyncRequest"
      },
      "name": "CreateResourceDataSync",
      "output": {
        "shape": "CreateResourceDataSyncResult"
      }
    },
    "DeleteActivation": {
      "documentation": "<p>Deletes an activation. You aren't required to delete an activation. If you delete an activation, you can no longer use it to register additional managed nodes. Deleting an activation doesn't de-register managed nodes. You must manually de-register managed nodes.</p>",
      "errors": [
        {
          "shape": "InvalidActivationId"
        },
        {
          "shape": "InvalidActivation"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteActivationRequest"
      },
      "name": "DeleteActivation",
      "output": {
        "shape": "DeleteActivationResult"
      }
    },
    "DeleteAssociation": {
      "documentation": "<p>Disassociates the specified Amazon Web Services Systems Manager document (SSM document) from the specified managed node. If you created the association by using the <code>Targets</code> parameter, then you must delete the association by using the association ID.</p> <p>When you disassociate a document from a managed node, it doesn't change the configuration of the node. To change the configuration state of a managed node after you disassociate a document, you must create a new document with the desired configuration and associate it with the node.</p>",
      "errors": [
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssociationRequest"
      },
      "name": "DeleteAssociation",
      "output": {
        "shape": "DeleteAssociationResult"
      }
    },
    "DeleteDocument": {
      "documentation": "<p>Deletes the Amazon Web Services Systems Manager document (SSM document) and all managed node associations to the document.</p> <p>Before you delete the document, we recommend that you use <a>DeleteAssociation</a> to disassociate all managed nodes that are associated with the document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentOperation"
        },
        {
          "shape": "AssociatedInstances"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDocumentRequest"
      },
      "name": "DeleteDocument",
      "output": {
        "shape": "DeleteDocumentResult"
      }
    },
    "DeleteInventory": {
      "documentation": "<p>Delete a custom inventory type or the data associated with a custom Inventory type. Deleting a custom inventory type is also referred to as deleting a custom inventory schema.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidOptionException"
        },
        {
          "shape": "InvalidDeleteInventoryParametersException"
        },
        {
          "shape": "InvalidInventoryRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInventoryRequest"
      },
      "name": "DeleteInventory",
      "output": {
        "shape": "DeleteInventoryResult"
      }
    },
    "DeleteMaintenanceWindow": {
      "documentation": "<p>Deletes a maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMaintenanceWindowRequest"
      },
      "name": "DeleteMaintenanceWindow",
      "output": {
        "shape": "DeleteMaintenanceWindowResult"
      }
    },
    "DeleteOpsMetadata": {
      "documentation": "<p>Delete OpsMetadata related to an application.</p>",
      "errors": [
        {
          "shape": "OpsMetadataNotFoundException"
        },
        {
          "shape": "OpsMetadataInvalidArgumentException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOpsMetadataRequest"
      },
      "name": "DeleteOpsMetadata",
      "output": {
        "shape": "DeleteOpsMetadataResult"
      }
    },
    "DeleteParameter": {
      "documentation": "<p>Delete a parameter from the system. After deleting a parameter, wait for at least 30 seconds to create a parameter with the same name.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ParameterNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteParameterRequest"
      },
      "name": "DeleteParameter",
      "output": {
        "shape": "DeleteParameterResult"
      }
    },
    "DeleteParameters": {
      "documentation": "<p>Delete a list of parameters. After deleting a parameter, wait for at least 30 seconds to create a parameter with the same name.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteParametersRequest"
      },
      "name": "DeleteParameters",
      "output": {
        "shape": "DeleteParametersResult"
      }
    },
    "DeletePatchBaseline": {
      "documentation": "<p>Deletes a patch baseline.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePatchBaselineRequest"
      },
      "name": "DeletePatchBaseline",
      "output": {
        "shape": "DeletePatchBaselineResult"
      }
    },
    "DeleteResourceDataSync": {
      "documentation": "<p>Deletes a resource data sync configuration. After the configuration is deleted, changes to data on managed nodes are no longer synced to or from the target. Deleting a sync configuration doesn't delete data.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncNotFoundException"
        },
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceDataSyncRequest"
      },
      "name": "DeleteResourceDataSync",
      "output": {
        "shape": "DeleteResourceDataSyncResult"
      }
    },
    "DeregisterManagedInstance": {
      "documentation": "<p>Removes the server or virtual machine from the list of registered servers. You can reregister the node again at any time. If you don't plan to use Run Command on the server, we suggest uninstalling SSM Agent first.</p>",
      "errors": [
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterManagedInstanceRequest"
      },
      "name": "DeregisterManagedInstance",
      "output": {
        "shape": "DeregisterManagedInstanceResult"
      }
    },
    "DeregisterPatchBaselineForPatchGroup": {
      "documentation": "<p>Removes a patch group from a patch baseline.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterPatchBaselineForPatchGroupRequest"
      },
      "name": "DeregisterPatchBaselineForPatchGroup",
      "output": {
        "shape": "DeregisterPatchBaselineForPatchGroupResult"
      }
    },
    "DeregisterTargetFromMaintenanceWindow": {
      "documentation": "<p>Removes a target from a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TargetInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTargetFromMaintenanceWindowRequest"
      },
      "name": "DeregisterTargetFromMaintenanceWindow",
      "output": {
        "shape": "DeregisterTargetFromMaintenanceWindowResult"
      }
    },
    "DeregisterTaskFromMaintenanceWindow": {
      "documentation": "<p>Removes a task from a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTaskFromMaintenanceWindowRequest"
      },
      "name": "DeregisterTaskFromMaintenanceWindow",
      "output": {
        "shape": "DeregisterTaskFromMaintenanceWindowResult"
      }
    },
    "DescribeActivations": {
      "documentation": "<p>Describes details about the activation, such as the date and time the activation was created, its expiration date, the Identity and Access Management (IAM) role assigned to the managed nodes in the activation, and the number of nodes registered by using this activation.</p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeActivationsRequest"
      },
      "name": "DescribeActivations",
      "output": {
        "shape": "DescribeActivationsResult"
      }
    },
    "DescribeAssociation": {
      "documentation": "<p>Describes the association for the specified target or managed node. If you created the association by using the <code>Targets</code> parameter, then you must retrieve the association by using the association ID.</p>",
      "errors": [
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidAssociationVersion"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidInstanceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationRequest"
      },
      "name": "DescribeAssociation",
      "output": {
        "shape": "DescribeAssociationResult"
      }
    },
    "DescribeAssociationExecutionTargets": {
      "documentation": "<p>Views information about a specific execution of a specific association.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "AssociationExecutionDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationExecutionTargetsRequest"
      },
      "name": "DescribeAssociationExecutionTargets",
      "output": {
        "shape": "DescribeAssociationExecutionTargetsResult"
      }
    },
    "DescribeAssociationExecutions": {
      "documentation": "<p>Views all executions for a specific association ID. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationExecutionsRequest"
      },
      "name": "DescribeAssociationExecutions",
      "output": {
        "shape": "DescribeAssociationExecutionsResult"
      }
    },
    "DescribeAutomationExecutions": {
      "documentation": "<p>Provides details about all active and terminated Automation executions.</p>",
      "errors": [
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutomationExecutionsRequest"
      },
      "name": "DescribeAutomationExecutions",
      "output": {
        "shape": "DescribeAutomationExecutionsResult"
      }
    },
    "DescribeAutomationStepExecutions": {
      "documentation": "<p>Information about all active and terminated step executions in an Automation workflow.</p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutomationStepExecutionsRequest"
      },
      "name": "DescribeAutomationStepExecutions",
      "output": {
        "shape": "DescribeAutomationStepExecutionsResult"
      }
    },
    "DescribeAvailablePatches": {
      "documentation": "<p>Lists all patches eligible to be included in a patch baseline.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAvailablePatchesRequest"
      },
      "name": "DescribeAvailablePatches",
      "output": {
        "shape": "DescribeAvailablePatchesResult"
      }
    },
    "DescribeDocument": {
      "documentation": "<p>Describes the specified Amazon Web Services Systems Manager document (SSM document).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentRequest"
      },
      "name": "DescribeDocument",
      "output": {
        "shape": "DescribeDocumentResult"
      }
    },
    "DescribeDocumentPermission": {
      "documentation": "<p>Describes the permissions for a Amazon Web Services Systems Manager document (SSM document). If you created the document, you are the owner. If a document is shared, it can either be shared privately (by specifying a user's Amazon Web Services account ID) or publicly (<i>All</i>). </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidPermissionType"
        },
        {
          "shape": "InvalidDocumentOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentPermissionRequest"
      },
      "name": "DescribeDocumentPermission",
      "output": {
        "shape": "DescribeDocumentPermissionResponse"
      }
    },
    "DescribeEffectiveInstanceAssociations": {
      "documentation": "<p>All associations for the managed node(s).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEffectiveInstanceAssociationsRequest"
      },
      "name": "DescribeEffectiveInstanceAssociations",
      "output": {
        "shape": "DescribeEffectiveInstanceAssociationsResult"
      }
    },
    "DescribeEffectivePatchesForPatchBaseline": {
      "documentation": "<p>Retrieves the current effective patches (the patch and the approval state) for the specified patch baseline. Applies to patch baselines for Windows only.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "UnsupportedOperatingSystem"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEffectivePatchesForPatchBaselineRequest"
      },
      "name": "DescribeEffectivePatchesForPatchBaseline",
      "output": {
        "shape": "DescribeEffectivePatchesForPatchBaselineResult"
      }
    },
    "DescribeInstanceAssociationsStatus": {
      "documentation": "<p>The status of the associations for the managed node(s).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceAssociationsStatusRequest"
      },
      "name": "DescribeInstanceAssociationsStatus",
      "output": {
        "shape": "DescribeInstanceAssociationsStatusResult"
      }
    },
    "DescribeInstanceInformation": {
      "documentation": "<p>Describes one or more of your managed nodes, including information about the operating system platform, the version of SSM Agent installed on the managed node, node status, and so on.</p> <p>If you specify one or more managed node IDs, it returns information for those managed nodes. If you don't specify node IDs, it returns information for all your managed nodes. If you specify a node ID that isn't valid or a node that you don't own, you receive an error.</p> <note> <p>The <code>IamRole</code> field for this API operation is the Identity and Access Management (IAM) role assigned to on-premises managed nodes. This call doesn't return the IAM role for EC2 instances.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidInstanceInformationFilterValue"
        },
        {
          "shape": "InvalidFilterKey"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceInformationRequest"
      },
      "name": "DescribeInstanceInformation",
      "output": {
        "shape": "DescribeInstanceInformationResult"
      }
    },
    "DescribeInstancePatchStates": {
      "documentation": "<p>Retrieves the high-level patch state of one or more managed nodes.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchStatesRequest"
      },
      "name": "DescribeInstancePatchStates",
      "output": {
        "shape": "DescribeInstancePatchStatesResult"
      }
    },
    "DescribeInstancePatchStatesForPatchGroup": {
      "documentation": "<p>Retrieves the high-level patch state for the managed nodes in the specified patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchStatesForPatchGroupRequest"
      },
      "name": "DescribeInstancePatchStatesForPatchGroup",
      "output": {
        "shape": "DescribeInstancePatchStatesForPatchGroupResult"
      }
    },
    "DescribeInstancePatches": {
      "documentation": "<p>Retrieves information about the patches on the specified managed node and their state relative to the patch baseline being used for the node.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchesRequest"
      },
      "name": "DescribeInstancePatches",
      "output": {
        "shape": "DescribeInstancePatchesResult"
      }
    },
    "DescribeInventoryDeletions": {
      "documentation": "<p>Describes a specific delete inventory operation.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDeletionIdException"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInventoryDeletionsRequest"
      },
      "name": "DescribeInventoryDeletions",
      "output": {
        "shape": "DescribeInventoryDeletionsResult"
      }
    },
    "DescribeMaintenanceWindowExecutionTaskInvocations": {
      "documentation": "<p>Retrieves the individual task executions (one per target) for a particular task run as part of a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionTaskInvocationsRequest"
      },
      "name": "DescribeMaintenanceWindowExecutionTaskInvocations",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionTaskInvocationsResult"
      }
    },
    "DescribeMaintenanceWindowExecutionTasks": {
      "documentation": "<p>For a given maintenance window execution, lists the tasks that were run.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionTasksRequest"
      },
      "name": "DescribeMaintenanceWindowExecutionTasks",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionTasksResult"
      }
    },
    "DescribeMaintenanceWindowExecutions": {
      "documentation": "<p>Lists the executions of a maintenance window. This includes information about when the maintenance window was scheduled to be active, and information about tasks registered and run with the maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionsRequest"
      },
      "name": "DescribeMaintenanceWindowExecutions",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionsResult"
      }
    },
    "DescribeMaintenanceWindowSchedule": {
      "documentation": "<p>Retrieves information about upcoming executions of a maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowScheduleRequest"
      },
      "name": "DescribeMaintenanceWindowSchedule",
      "output": {
        "shape": "DescribeMaintenanceWindowScheduleResult"
      }
    },
    "DescribeMaintenanceWindowTargets": {
      "documentation": "<p>Lists the targets registered with the maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowTargetsRequest"
      },
      "name": "DescribeMaintenanceWindowTargets",
      "output": {
        "shape": "DescribeMaintenanceWindowTargetsResult"
      }
    },
    "DescribeMaintenanceWindowTasks": {
      "documentation": "<p>Lists the tasks in a maintenance window.</p> <note> <p>For maintenance window tasks without a specified target, you can't supply values for <code>--max-errors</code> and <code>--max-concurrency</code>. Instead, the system inserts a placeholder value of <code>1</code>, which may be reported in the response to this command. These values don't affect the running of your task and can be ignored.</p> </note>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowTasksRequest"
      },
      "name": "DescribeMaintenanceWindowTasks",
      "output": {
        "shape": "DescribeMaintenanceWindowTasksResult"
      }
    },
    "DescribeMaintenanceWindows": {
      "documentation": "<p>Retrieves the maintenance windows in an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowsRequest"
      },
      "name": "DescribeMaintenanceWindows",
      "output": {
        "shape": "DescribeMaintenanceWindowsResult"
      }
    },
    "DescribeMaintenanceWindowsForTarget": {
      "documentation": "<p>Retrieves information about the maintenance window targets or tasks that a managed node is associated with.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowsForTargetRequest"
      },
      "name": "DescribeMaintenanceWindowsForTarget",
      "output": {
        "shape": "DescribeMaintenanceWindowsForTargetResult"
      }
    },
    "DescribeOpsItems": {
      "documentation": "<p>Query a set of OpsItems. You must have permission in Identity and Access Management (IAM) to query a list of OpsItems. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting started with OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use Amazon Web Services Systems Manager OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their Amazon Web Services resources. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOpsItemsRequest"
      },
      "name": "DescribeOpsItems",
      "output": {
        "shape": "DescribeOpsItemsResponse"
      }
    },
    "DescribeParameters": {
      "documentation": "<p>Get information about a parameter.</p> <p>Request results are returned on a best-effort basis. If you specify <code>MaxResults</code> in the request, the response includes information up to the limit specified. The number of items returned, however, can be between zero and the value of <code>MaxResults</code>. If the service reaches an internal limit while processing the results, it stops the operation and returns the matching values up to that point and a <code>NextToken</code>. You can specify the <code>NextToken</code> in a subsequent call to get the next set of results.</p> <important> <p>If you change the KMS key alias for the KMS key used to encrypt a parameter, then you must also update the key alias the parameter uses to reference KMS. Otherwise, <code>DescribeParameters</code> retrieves whatever the original key alias was referencing.</p> </important>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterOption"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeParametersRequest"
      },
      "name": "DescribeParameters",
      "output": {
        "shape": "DescribeParametersResult"
      }
    },
    "DescribePatchBaselines": {
      "documentation": "<p>Lists the patch baselines in your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchBaselinesRequest"
      },
      "name": "DescribePatchBaselines",
      "output": {
        "shape": "DescribePatchBaselinesResult"
      }
    },
    "DescribePatchGroupState": {
      "documentation": "<p>Returns high-level aggregated patch compliance state information for a patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchGroupStateRequest"
      },
      "name": "DescribePatchGroupState",
      "output": {
        "shape": "DescribePatchGroupStateResult"
      }
    },
    "DescribePatchGroups": {
      "documentation": "<p>Lists all patch groups that have been registered with patch baselines.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchGroupsRequest"
      },
      "name": "DescribePatchGroups",
      "output": {
        "shape": "DescribePatchGroupsResult"
      }
    },
    "DescribePatchProperties": {
      "documentation": "<p>Lists the properties of available patches organized by product, product family, classification, severity, and other properties of available patches. You can use the reported properties in the filters you specify in requests for operations such as <a>CreatePatchBaseline</a>, <a>UpdatePatchBaseline</a>, <a>DescribeAvailablePatches</a>, and <a>DescribePatchBaselines</a>.</p> <p>The following section lists the properties that can be used in filters for each major operating system type:</p> <dl> <dt>AMAZON_LINUX</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>AMAZON_LINUX_2</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>CENTOS</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>DEBIAN</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>PRIORITY</code> </p> </dd> <dt>MACOS</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> </p> </dd> <dt>ORACLE_LINUX</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>REDHAT_ENTERPRISE_LINUX</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>SUSE</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>CLASSIFICATION</code> | <code>SEVERITY</code> </p> </dd> <dt>UBUNTU</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>PRIORITY</code> </p> </dd> <dt>WINDOWS</dt> <dd> <p>Valid properties: <code>PRODUCT</code> | <code>PRODUCT_FAMILY</code> | <code>CLASSIFICATION</code> | <code>MSRC_SEVERITY</code> </p> </dd> </dl>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchPropertiesRequest"
      },
      "name": "DescribePatchProperties",
      "output": {
        "shape": "DescribePatchPropertiesResult"
      }
    },
    "DescribeSessions": {
      "documentation": "<p>Retrieves a list of all active sessions (both connected and disconnected) or terminated sessions from the past 30 days.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSessionsRequest"
      },
      "name": "DescribeSessions",
      "output": {
        "shape": "DescribeSessionsResponse"
      }
    },
    "DisassociateOpsItemRelatedItem": {
      "documentation": "<p>Deletes the association between an OpsItem and a related item. For example, this API operation can delete an Incident Manager incident from an OpsItem. Incident Manager is a capability of Amazon Web Services Systems Manager.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemRelatedItemAssociationNotFoundException"
        },
        {
          "shape": "OpsItemNotFoundException"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateOpsItemRelatedItemRequest"
      },
      "name": "DisassociateOpsItemRelatedItem",
      "output": {
        "shape": "DisassociateOpsItemRelatedItemResponse"
      }
    },
    "GetAutomationExecution": {
      "documentation": "<p>Get detailed information about a particular Automation execution.</p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAutomationExecutionRequest"
      },
      "name": "GetAutomationExecution",
      "output": {
        "shape": "GetAutomationExecutionResult"
      }
    },
    "GetCalendarState": {
      "documentation": "<p>Gets the state of a Amazon Web Services Systems Manager change calendar at the current time or a specified time. If you specify a time, <code>GetCalendarState</code> returns the state of the calendar at that specific time, and returns the next time that the change calendar state will transition. If you don't specify a time, <code>GetCalendarState</code> uses the current time. Change Calendar entries have two possible states: <code>OPEN</code> or <code>CLOSED</code>.</p> <p>If you specify more than one calendar in a request, the command returns the status of <code>OPEN</code> only if all calendars in the request are open. If one or more calendars in the request are closed, the status returned is <code>CLOSED</code>.</p> <p>For more information about Change Calendar, a capability of Amazon Web Services Systems Manager, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-change-calendar.html\">Amazon Web Services Systems Manager Change Calendar</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentType"
        },
        {
          "shape": "UnsupportedCalendarException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCalendarStateRequest"
      },
      "name": "GetCalendarState",
      "output": {
        "shape": "GetCalendarStateResponse"
      }
    },
    "GetCommandInvocation": {
      "documentation": "<p>Returns detailed information about command execution for an invocation or plugin.</p> <p> <code>GetCommandInvocation</code> only gives the execution status of a plugin in a document. To get the command execution status on a specific managed node, use <a>ListCommandInvocations</a>. To get the command execution status across managed nodes, use <a>ListCommands</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidPluginName"
        },
        {
          "shape": "InvocationDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCommandInvocationRequest"
      },
      "name": "GetCommandInvocation",
      "output": {
        "shape": "GetCommandInvocationResult"
      }
    },
    "GetConnectionStatus": {
      "documentation": "<p>Retrieves the Session Manager connection status for a managed node to determine whether it is running and ready to receive Session Manager connections.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionStatusRequest"
      },
      "name": "GetConnectionStatus",
      "output": {
        "shape": "GetConnectionStatusResponse"
      }
    },
    "GetDefaultPatchBaseline": {
      "documentation": "<p>Retrieves the default patch baseline. Amazon Web Services Systems Manager supports creating multiple default patch baselines. For example, you can create a default patch baseline for each operating system.</p> <p>If you don't specify an operating system value, the default patch baseline for Windows is returned.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDefaultPatchBaselineRequest"
      },
      "name": "GetDefaultPatchBaseline",
      "output": {
        "shape": "GetDefaultPatchBaselineResult"
      }
    },
    "GetDeployablePatchSnapshotForInstance": {
      "documentation": "<p>Retrieves the current snapshot for the patch baseline the managed node uses. This API is primarily used by the <code>AWS-RunPatchBaseline</code> Systems Manager document (SSM document).</p> <note> <p>If you run the command locally, such as with the Command Line Interface (CLI), the system attempts to use your local Amazon Web Services credentials and the operation fails. To avoid this, you can run the command in the Amazon Web Services Systems Manager console. Use Run Command, a capability of Amazon Web Services Systems Manager, with an SSM document that enables you to target a managed node with a script or command. For example, run the command using the <code>AWS-RunShellScript</code> document or the <code>AWS-RunPowerShellScript</code> document.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "UnsupportedOperatingSystem"
        },
        {
          "shape": "UnsupportedFeatureRequiredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeployablePatchSnapshotForInstanceRequest"
      },
      "name": "GetDeployablePatchSnapshotForInstance",
      "output": {
        "shape": "GetDeployablePatchSnapshotForInstanceResult"
      }
    },
    "GetDocument": {
      "documentation": "<p>Gets the contents of the specified Amazon Web Services Systems Manager document (SSM document).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDocumentRequest"
      },
      "name": "GetDocument",
      "output": {
        "shape": "GetDocumentResult"
      }
    },
    "GetInventory": {
      "documentation": "<p>Query inventory information. This includes managed node status, such as <code>Stopped</code> or <code>Terminated</code>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidInventoryGroupException"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidAggregatorException"
        },
        {
          "shape": "InvalidResultAttributeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInventoryRequest"
      },
      "name": "GetInventory",
      "output": {
        "shape": "GetInventoryResult"
      }
    },
    "GetInventorySchema": {
      "documentation": "<p>Return a list of inventory type names for the account, or return a list of attribute names for a specific Inventory item type.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInventorySchemaRequest"
      },
      "name": "GetInventorySchema",
      "output": {
        "shape": "GetInventorySchemaResult"
      }
    },
    "GetMaintenanceWindow": {
      "documentation": "<p>Retrieves a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowRequest"
      },
      "name": "GetMaintenanceWindow",
      "output": {
        "shape": "GetMaintenanceWindowResult"
      }
    },
    "GetMaintenanceWindowExecution": {
      "documentation": "<p>Retrieves details about a specific a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionRequest"
      },
      "name": "GetMaintenanceWindowExecution",
      "output": {
        "shape": "GetMaintenanceWindowExecutionResult"
      }
    },
    "GetMaintenanceWindowExecutionTask": {
      "documentation": "<p>Retrieves the details about a specific task run as part of a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionTaskRequest"
      },
      "name": "GetMaintenanceWindowExecutionTask",
      "output": {
        "shape": "GetMaintenanceWindowExecutionTaskResult"
      }
    },
    "GetMaintenanceWindowExecutionTaskInvocation": {
      "documentation": "<p>Retrieves information about a specific task running on a specific target.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionTaskInvocationRequest"
      },
      "name": "GetMaintenanceWindowExecutionTaskInvocation",
      "output": {
        "shape": "GetMaintenanceWindowExecutionTaskInvocationResult"
      }
    },
    "GetMaintenanceWindowTask": {
      "documentation": "<p>Retrieves the details of a maintenance window task.</p> <note> <p>For maintenance window tasks without a specified target, you can't supply values for <code>--max-errors</code> and <code>--max-concurrency</code>. Instead, the system inserts a placeholder value of <code>1</code>, which may be reported in the response to this command. These values don't affect the running of your task and can be ignored.</p> </note> <p>To retrieve a list of tasks in a maintenance window, instead use the <a>DescribeMaintenanceWindowTasks</a> command.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowTaskRequest"
      },
      "name": "GetMaintenanceWindowTask",
      "output": {
        "shape": "GetMaintenanceWindowTaskResult"
      }
    },
    "GetOpsItem": {
      "documentation": "<p>Get information about an OpsItem by using the ID. You must have permission in Identity and Access Management (IAM) to view information about an OpsItem. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting started with OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use Amazon Web Services Systems Manager OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their Amazon Web Services resources. For more information, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">OpsCenter</a> in the <i>Amazon Web Services Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpsItemRequest"
      },
      "name": "GetOpsItem",
      "output": {
        "shape": "GetOpsItemResponse"
      }
    },
    "GetOpsMetadata": {
      "documentation": "<p>View operational metadata related to an application in Application Manager.</p>",
      "errors": [
        {
          "shape": "OpsMetadataNotFoundException"
        },
        {
          "shape": "OpsMetadataInvalidArgumentException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpsMetadataRequest"
      },
      "name": "GetOpsMetadata",
      "output": {
        "shape": "GetOpsMetadataResult"
      }
    },
    "GetOpsSummary": {
      "documentation": "<p>View a summary of operations metadata (OpsData) based on specified filters and aggregators. OpsData can include information about Amazon Web Services Systems Manager OpsCenter operational workitems (OpsItems) as well as information about any Amazon Web Services resource or service configured to report OpsData to Amazon Web Services Systems Manager Explorer. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncNotFoundException"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpsSummaryRequest"
      },
      "name": "GetOpsSummary",
      "output": {
        "shape": "GetOpsSummaryResult"
      }
    },
    "GetParameter": {
      "documentation": "<p>Get information about a single parameter by specifying the parameter name.</p> <note> <p>To get information about more than one parameter at a time, use the <a>GetParameters</a> operation.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "ParameterVersionNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParameterRequest"
      },
      "name": "GetParameter",
      "output": {
        "shape": "GetParameterResult"
      }
    },
    "GetParameterHistory": {
      "documentation": "<p>Retrieves the history of all changes to a parameter.</p> <important> <p>If you change the KMS key alias for the KMS key used to encrypt a parameter, then you must also update the key alias the parameter uses to reference KMS. Otherwise, <code>GetParameterHistory</code> retrieves whatever the original key alias was referencing.</p> </important>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidKeyId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParameterHistoryRequest"
      },
      "name": "GetParameterHistory",
      "output": {
        "shape": "GetParameterHistoryResult"
      }
    },
    "GetParameters": {
      "documentation": "<p>Get information about one or more parameters by specifying multiple parameter names.</p> <note> <p>To get information about a single parameter, you can use the <a>GetParameter</a> operation instead.</p> </note>",
      "errors": [
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParametersRequest"
      },
      "name": "GetParameters",
      "output": {
        "shape": "GetParametersResult"
      }
    },
    "GetParametersByPath": {
      "documentation": "<p>Retrieve information about one or more parameters in a specific hierarchy. </p> <p>Request results are returned on a best-effort basis. If you specify <code>MaxResults</code> in the request, the response includes information up to the limit specified. The number of items returned, however, can be between zero and the value of <code>MaxResults</code>. If the service reaches an internal limit while processing the results, it stops the operation and returns the matching values up to that point and a <code>NextToken</code>. You can specify the <code>NextToken</code> in a subsequent call to get the next set of results.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterOption"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParametersByPathRequest"
      },
      "name": "GetParametersByPath",
      "output": {
        "shape": "GetParametersByPathResult"
      }
    },
    "GetPatchBaseline": {
      "documentation": "<p>Retrieves information about a patch baseline.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPatchBaselineRequest"
      },
      "name": "GetPatchBaseline",
      "output": {
        "shape": "GetPatchBaselineResult"
      }
    },
    "GetPatchBaselineForPatchGroup": {
      "documentation": "<p>Retrieves the patch baseline that should be used for the specified patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPatchBaselineForPatchGroupRequest"
      },
      "name": "GetPatchBaselineForPatchGroup",
      "output": {
        "shape": "GetPatchBaselineForPatchGroupResult"
      }
    },
    "GetServiceSetting": {
      "documentation": "<p> <code>ServiceSetting</code> is an account-level setting for an Amazon Web Services service. This setting defines how a user interacts with or uses a service or a feature of a service. For example, if an Amazon Web Services service charges money to the account based on feature or service usage, then the Amazon Web Services service team might create a default setting of <code>false</code>. This means the user can't use this feature unless they change the setting to <code>true</code> and intentionally opt in for a paid feature.</p> <p>Services map a <code>SettingId</code> object to a setting value. Amazon Web Services services teams define the default value for a <code>SettingId</code>. You can't create a new <code>SettingId</code>, but you can overwrite the default value if you have the <code>ssm:UpdateServiceSetting</code> permission for the setting. Use the <a>UpdateServiceSetting</a> API operation to change the default setting. Or use the <a>ResetServiceSetting</a> to change the value back to the original value defined by the Amazon Web Services service team.</p> <p>Query the current service setting for the Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ServiceSettingNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceSettingRequest"
      },
      "name": "GetServiceSetting",
      "output": {
        "shape": "GetServiceSettingResult"
      }
    },
    "LabelParameterVersion": {
      "documentation": "<p>A parameter label is a user-defined alias to help you manage different versions of a parameter. When you modify a parameter, Amazon Web Services Systems Manager automatically saves a new version and increments the version number by one. A label can help you remember the purpose of a parameter when there are multiple versions. </p> <p>Parameter labels have the following requirements and restrictions.</p> <ul> <li> <p>A version of a parameter can have a maximum of 10 labels.</p> </li> <li> <p>You can't attach the same label to different versions of the same parameter. For example, if version 1 has the label Production, then you can't attach Production to version 2.</p> </li> <li> <p>You can move a label from one version of a parameter to another.</p> </li> <li> <p>You can't create a label when you create a new parameter. You must attach a label to a specific version of a parameter.</p> </li> <li> <p>If you no longer want to use a parameter label, then you can either delete it or move it to a different version of a parameter.</p> </li> <li> <p>A label can have a maximum of 100 characters.</p> </li> <li> <p>Labels can contain letters (case sensitive), numbers, periods (.), hyphens (-), or underscores (_).</p> </li> <li> <p>Labels can't begin with a number, \"<code>aws</code>\" or \"<code>ssm</code>\" (not case sensitive). If a label fails to meet these requirements, then the label isn't associated with a parameter and the system displays it in the list of InvalidLabels.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyUpdates"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "ParameterVersionNotFound"
        },
        {
          "shape": "ParameterVersionLabelLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LabelParameterVersionRequest"
      },
      "name": "LabelParameterVersion",
      "output": {
        "shape": "LabelParameterVersionResult"
      }
    },
    "ListAssociationVersions": {
      "documentation": "<p>Retrieves all versions of an association for a specific association ID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "AssociationDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociationVersionsRequest"
      },
      "name": "ListAssociationVersions",
      "output": {
        "shape": "ListAssociationVersionsResult"
      }
    },
    "ListAssociations": {
      "documentation": "<p>Returns all State Manager associations in the current Amazon Web Services account and Amazon Web Services Region. You can limit the results to a specific State Manager association document or managed node by specifying a filter. State Manager is a capability of Amazon Web Services Systems Manager.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociationsRequest"
      },
      "name": "ListAssociations",
      "output": {
        "shape": "ListAssociationsResult"
      }
    },
    "ListCommandInvocations": {
      "documentation": "<p>An invocation is copy of a command sent to a specific managed node. A command can apply to one or more managed nodes. A command invocation applies to one managed node. For example, if a user runs <code>SendCommand</code> against three managed nodes, then a command invocation is created for each requested managed node ID. <code>ListCommandInvocations</code> provide status about command execution.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCommandInvocationsRequest"
      },
      "name": "ListCommandInvocations",
      "output": {
        "shape": "ListCommandInvocationsResult"
      }
    },
    "ListCommands": {
      "documentation": "<p>Lists the commands requested by users of the Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCommandsRequest"
      },
      "name": "ListCommands",
      "output": {
        "shape": "ListCommandsResult"
      }
    },
    "ListComplianceItems": {
      "documentation": "<p>For a specified resource ID, this API operation returns a list of compliance statuses for different resource types. Currently, you can only specify one resource ID per call. List results depend on the criteria specified in the filter.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComplianceItemsRequest"
      },
      "name": "ListComplianceItems",
      "output": {
        "shape": "ListComplianceItemsResult"
      }
    },
    "ListComplianceSummaries": {
      "documentation": "<p>Returns a summary count of compliant and non-compliant resources for a compliance type. For example, this call can return State Manager associations, patches, or custom compliance types according to the filter criteria that you specify.</p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComplianceSummariesRequest"
      },
      "name": "ListComplianceSummaries",
      "output": {
        "shape": "ListComplianceSummariesResult"
      }
    },
    "ListDocumentMetadataHistory": {
      "documentation": "<p>Information about approval reviews for a version of a change template in Change Manager.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentMetadataHistoryRequest"
      },
      "name": "ListDocumentMetadataHistory",
      "output": {
        "shape": "ListDocumentMetadataHistoryResponse"
      }
    },
    "ListDocumentVersions": {
      "documentation": "<p>List all versions for a document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidDocument"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentVersionsRequest"
      },
      "name": "ListDocumentVersions",
      "output": {
        "shape": "ListDocumentVersionsResult"
      }
    },
    "ListDocuments": {
      "documentation": "<p>Returns all Systems Manager (SSM) documents in the current Amazon Web Services account and Amazon Web Services Region. You can limit the results of this request by using a filter.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidFilterKey"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentsRequest"
      },
      "name": "ListDocuments",
      "output": {
        "shape": "ListDocumentsResult"
      }
    },
    "ListInventoryEntries": {
      "documentation": "<p>A list of inventory items returned by the request.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInventoryEntriesRequest"
      },
      "name": "ListInventoryEntries",
      "output": {
        "shape": "ListInventoryEntriesResult"
      }
    },
    "ListOpsItemEvents": {
      "documentation": "<p>Returns a list of all OpsItem events in the current Amazon Web Services Region and Amazon Web Services account. You can limit the results to events associated with specific OpsItems by specifying a filter.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemNotFoundException"
        },
        {
          "shape": "OpsItemLimitExceededException"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOpsItemEventsRequest"
      },
      "name": "ListOpsItemEvents",
      "output": {
        "shape": "ListOpsItemEventsResponse"
      }
    },
    "ListOpsItemRelatedItems": {
      "documentation": "<p>Lists all related-item resources associated with a Systems Manager OpsCenter OpsItem. OpsCenter is a capability of Amazon Web Services Systems Manager.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOpsItemRelatedItemsRequest"
      },
      "name": "ListOpsItemRelatedItems",
      "output": {
        "shape": "ListOpsItemRelatedItemsResponse"
      }
    },
    "ListOpsMetadata": {
      "documentation": "<p>Amazon Web Services Systems Manager calls this API operation when displaying all Application Manager OpsMetadata objects or blobs.</p>",
      "errors": [
        {
          "shape": "OpsMetadataInvalidArgumentException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOpsMetadataRequest"
      },
      "name": "ListOpsMetadata",
      "output": {
        "shape": "ListOpsMetadataResult"
      }
    },
    "ListResourceComplianceSummaries": {
      "documentation": "<p>Returns a resource-level summary count. The summary includes information about compliant and non-compliant statuses and detailed compliance-item severity counts, according to the filter criteria you specify.</p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceComplianceSummariesRequest"
      },
      "name": "ListResourceComplianceSummaries",
      "output": {
        "shape": "ListResourceComplianceSummariesResult"
      }
    },
    "ListResourceDataSync": {
      "documentation": "<p>Lists your resource data sync configurations. Includes information about the last time a sync attempted to start, the last sync status, and the last time a sync successfully completed.</p> <p>The number of sync configurations might be too large to return using a single call to <code>ListResourceDataSync</code>. You can limit the number of sync configurations returned by using the <code>MaxResults</code> parameter. To determine whether there are more sync configurations to list, check the value of <code>NextToken</code> in the output. If there are more sync configurations to list, you can request them by specifying the <code>NextToken</code> returned in the call to the parameter of a subsequent call. </p>",
      "errors": [
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceDataSyncRequest"
      },
      "name": "ListResourceDataSync",
      "output": {
        "shape": "ListResourceDataSyncResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of the tags assigned to the specified resource.</p> <p>For information about the ID format for each supported resource type, see <a>AddTagsToResource</a>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "ModifyDocumentPermission": {
      "documentation": "<p>Shares a Amazon Web Services Systems Manager document (SSM document)publicly or privately. If you share a document privately, you must specify the Amazon Web Services user account IDs for those people who can use the document. If you share a document publicly, you must specify <i>All</i> as the account ID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidPermissionType"
        },
        {
          "shape": "DocumentPermissionLimit"
        },
        {
          "shape": "DocumentLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDocumentPermissionRequest"
      },
      "name": "ModifyDocumentPermission",
      "output": {
        "shape": "ModifyDocumentPermissionResponse"
      }
    },
    "PutComplianceItems": {
      "documentation": "<p>Registers a compliance type and other compliance details on a designated resource. This operation lets you register custom compliance details with a resource. This call overwrites existing compliance information on the resource, so you must provide a full list of compliance items each time that you send the request.</p> <p>ComplianceType can be one of the following:</p> <ul> <li> <p>ExecutionId: The execution ID when the patch, association, or custom compliance item was applied.</p> </li> <li> <p>ExecutionType: Specify patch, association, or Custom:<code>string</code>.</p> </li> <li> <p>ExecutionTime. The time the patch, association, or custom compliance item was applied to the managed node.</p> </li> <li> <p>Id: The patch, association, or custom compliance ID.</p> </li> <li> <p>Title: A title.</p> </li> <li> <p>Status: The status of the compliance item. For example, <code>approved</code> for patches, or <code>Failed</code> for associations.</p> </li> <li> <p>Severity: A patch severity. For example, <code>Critical</code>.</p> </li> <li> <p>DocumentName: An SSM document name. For example, <code>AWS-RunPatchBaseline</code>.</p> </li> <li> <p>DocumentVersion: An SSM document version number. For example, 4.</p> </li> <li> <p>Classification: A patch classification. For example, <code>security updates</code>.</p> </li> <li> <p>PatchBaselineId: A patch baseline ID.</p> </li> <li> <p>PatchSeverity: A patch severity. For example, <code>Critical</code>.</p> </li> <li> <p>PatchState: A patch state. For example, <code>InstancesWithFailedPatches</code>.</p> </li> <li> <p>PatchGroup: The name of a patch group.</p> </li> <li> <p>InstalledTime: The time the association, patch, or custom compliance item was applied to the resource. Specify the time by using the following format: yyyy-MM-dd'T'HH:mm:ss'Z'</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidItemContentException"
        },
        {
          "shape": "TotalSizeLimitExceededException"
        },
        {
          "shape": "ItemSizeLimitExceededException"
        },
        {
          "shape": "ComplianceTypeCountLimitExceededException"
        },
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutComplianceItemsRequest"
      },
      "name": "PutComplianceItems",
      "output": {
        "shape": "PutComplianceItemsResult"
      }
    },
    "PutInventory": {
      "documentation": "<p>Bulk update custom inventory items on one or more managed nodes. The request adds an inventory item, if it doesn't already exist, or updates an inventory item, if it does exist.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidItemContentException"
        },
        {
          "shape": "TotalSizeLimitExceededException"
        },
        {
          "shape": "ItemSizeLimitExceededException"
        },
        {
          "shape": "ItemContentMismatchException"
        },
        {
          "shape": "CustomSchemaCountLimitExceededException"
        },
        {
          "shape": "UnsupportedInventorySchemaVersionException"
        },
        {
          "shape": "UnsupportedInventoryItemContextException"
        },
        {
          "shape": "InvalidInventoryItemContextException"
        },
        {
          "shape": "SubTypeCountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutInventoryRequest"
      },
      "name": "PutInventory",
      "output": {
        "shape": "PutInventoryResult"
      }
    },
    "PutParameter": {
      "documentation": "<p>Add a parameter to the system.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "ParameterLimitExceeded"
        },
        {
          "shape": "TooManyUpdates"
        },
        {
          "shape": "ParameterAlreadyExists"
        },
        {
          "shape": "HierarchyLevelLimitExceededException"
        },
        {
          "shape": "HierarchyTypeMismatchException"
        },
        {
          "shape": "InvalidAllowedPatternException"
        },
        {
          "shape": "ParameterMaxVersionLimitExceeded"
        },
        {
          "shape": "ParameterPatternMismatchException"
        },
        {
          "shape": "UnsupportedParameterType"
        },
        {
          "shape": "PoliciesLimitExceededException"
        },
        {
          "shape": "InvalidPolicyTypeException"
        },
        {
          "shape": "InvalidPolicyAttributeException"
        },
        {
          "shape": "IncompatiblePolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutParameterRequest"
      },
      "name": "PutParameter",
      "output": {
        "shape": "PutParameterResult"
      }
    },
    "RegisterDefaultPatchBaseline": {
      "documentation": "<p>Defines the default patch baseline for the relevant operating system.</p> <p>To reset the Amazon Web Services-predefined patch baseline as the default, specify the full patch baseline Amazon Resource Name (ARN) as the baseline ID value. For example, for CentOS, specify <code>arn:aws:ssm:us-east-2:733109147000:patchbaseline/pb-0574b43a65ea646ed</code> instead of <code>pb-0574b43a65ea646ed</code>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterDefaultPatchBaselineRequest"
      },
      "name": "RegisterDefaultPatchBaseline",
      "output": {
        "shape": "RegisterDefaultPatchBaselineResult"
      }
    },
    "RegisterPatchBaselineForPatchGroup": {
      "documentation": "<p>Registers a patch baseline for a patch group.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterPatchBaselineForPatchGroupRequest"
      },
      "name": "RegisterPatchBaselineForPatchGroup",
      "output": {
        "shape": "RegisterPatchBaselineForPatchGroupResult"
      }
    },
    "RegisterTargetWithMaintenanceWindow": {
      "documentation": "<p>Registers a target with a maintenance window.</p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
[...]
