{
  "documentation": "<fullname>Amazon SES API v2</fullname> <p> <a href=\"http://aws.amazon.com/ses\">Amazon SES</a> is an Amazon Web Services service that you can use to send email messages to your customers.</p> <p>If you're new to Amazon SES API v2, you might find it helpful to review the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/\">Amazon Simple Email Service Developer Guide</a>. The <i>Amazon SES Developer Guide</i> provides information and code samples that demonstrate how to use Amazon SES API v2 features programmatically.</p>",
  "metadata": {
    "apiVersion": "2019-09-27",
    "endpointPrefix": "email",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon SES V2",
    "serviceFullName": "Amazon Simple Email Service",
    "serviceId": "SESv2",
    "signatureVersion": "v4",
    "signingName": "ses",
    "uid": "sesv2-2019-09-27"
  },
  "operations": {
    "BatchGetMetricData": {
      "documentation": "<p>Retrieves batches of metric data collected based on your sending activity.</p> <p>You can execute this operation no more than 16 times per second, and with at most 160 queries from the batches per second (cumulative).</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/metrics/batch"
      },
      "input": {
        "shape": "BatchGetMetricDataRequest"
      },
      "name": "BatchGetMetricData",
      "output": {
        "shape": "BatchGetMetricDataResponse"
      }
    },
    "CreateConfigurationSet": {
      "documentation": "<p>Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails that you send. You apply a configuration set to an email by specifying the name of the configuration set when you call the Amazon SES API v2. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. </p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/configuration-sets"
      },
      "input": {
        "shape": "CreateConfigurationSetRequest"
      },
      "name": "CreateConfigurationSet",
      "output": {
        "shape": "CreateConfigurationSetResponse"
      }
    },
    "CreateConfigurationSetEventDestination": {
      "documentation": "<p>Create an event destination. <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p> <p>A single configuration set can include more than one event destination.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "shape": "CreateConfigurationSetEventDestinationRequest"
      },
      "name": "CreateConfigurationSetEventDestination",
      "output": {
        "shape": "CreateConfigurationSetEventDestinationResponse"
      }
    },
    "CreateContact": {
      "documentation": "<p>Creates a contact, which is an end-user who is receiving the email, and adds them to a contact list.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
      },
      "input": {
        "shape": "CreateContactRequest"
      },
      "name": "CreateContact",
      "output": {
        "shape": "CreateContactResponse"
      }
    },
    "CreateContactList": {
      "documentation": "<p>Creates a contact list.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/contact-lists"
      },
      "input": {
        "shape": "CreateContactListRequest"
      },
      "name": "CreateContactList",
      "output": {
        "shape": "CreateContactListResponse"
      }
    },
    "CreateCustomVerificationEmailTemplate": {
      "documentation": "<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/custom-verification-email-templates"
      },
      "input": {
        "shape": "CreateCustomVerificationEmailTemplateRequest"
      },
      "name": "CreateCustomVerificationEmailTemplate",
      "output": {
        "shape": "CreateCustomVerificationEmailTemplateResponse"
      }
    },
    "CreateDedicatedIpPool": {
      "documentation": "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Web Services account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, the message is sent from one of the addresses in the associated pool.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/dedicated-ip-pools"
      },
      "input": {
        "shape": "CreateDedicatedIpPoolRequest"
      },
      "name": "CreateDedicatedIpPool",
      "output": {
        "shape": "CreateDedicatedIpPoolResponse"
      }
    },
    "CreateDeliverabilityTestReport": {
      "documentation": "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon SES then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "errors": [
        {
          "shape": "AccountSuspendedException"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/deliverability-dashboard/test"
      },
      "input": {
        "shape": "CreateDeliverabilityTestReportRequest"
      },
      "name": "CreateDeliverabilityTestReport",
      "output": {
        "shape": "CreateDeliverabilityTestReportResponse"
      }
    },
    "CreateEmailIdentity": {
      "documentation": "<p>Starts the process of verifying an email identity. An <i>identity</i> is an email address or domain that you use when you send email. Before you can use an identity to send email, you first have to verify it. By verifying an identity, you demonstrate that you're the owner of the identity, and that you've given Amazon SES API v2 permission to send email from the identity.</p> <p>When you verify an email address, Amazon SES sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain without specifying the <code>DkimSigningAttributes</code> object, this operation provides a set of DKIM tokens. You can convert these tokens into CNAME records, which you then add to the DNS configuration for your domain. Your domain is verified when Amazon SES detects these records in the DNS configuration for your domain. This verification method is known as <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a>.</p> <p>Alternatively, you can perform the verification process by providing your own public-private key pair. This verification method is known as Bring Your Own DKIM (BYODKIM). To use BYODKIM, your call to the <code>CreateEmailIdentity</code> operation has to include the <code>DkimSigningAttributes</code> object. When you specify this object, you provide a selector (a component of the DNS record name that identifies the public key to use for DKIM authentication) and a private key.</p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon SES detects these records in the DNS configuration for your domain. For some DNS providers, it can take 72 hours or more to complete the domain verification process.</p> <p>Additionally, you can associate an existing configuration set with the email identity that you're verifying.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/identities"
      },
      "input": {
        "shape": "CreateEmailIdentityRequest"
      },
      "name": "CreateEmailIdentity",
      "output": {
        "shape": "CreateEmailIdentityResponse"
      }
    },
    "CreateEmailIdentityPolicy": {
      "documentation": "<p>Creates the specified sending authorization policy for the given identity (an email address or a domain).</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "shape": "CreateEmailIdentityPolicyRequest"
      },
      "name": "CreateEmailIdentityPolicy",
      "output": {
        "shape": "CreateEmailIdentityPolicyResponse"
      }
    },
    "CreateEmailTemplate": {
      "documentation": "<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/templates"
      },
      "input": {
        "shape": "CreateEmailTemplateRequest"
      },
      "name": "CreateEmailTemplate",
      "output": {
        "shape": "CreateEmailTemplateResponse"
      }
    },
    "CreateImportJob": {
      "documentation": "<p>Creates an import job for a data destination.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/import-jobs"
      },
      "input": {
        "shape": "CreateImportJobRequest"
      },
      "name": "CreateImportJob",
      "output": {
        "shape": "CreateImportJobResponse"
      }
    },
    "DeleteConfigurationSet": {
      "documentation": "<p>Delete an existing configuration set.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "shape": "DeleteConfigurationSetRequest"
      },
      "name": "DeleteConfigurationSet",
      "output": {
        "shape": "DeleteConfigurationSetResponse"
      }
    },
    "DeleteConfigurationSetEventDestination": {
      "documentation": "<p>Delete an event destination.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "shape": "DeleteConfigurationSetEventDestinationRequest"
      },
      "name": "DeleteConfigurationSetEventDestination",
      "output": {
        "shape": "DeleteConfigurationSetEventDestinationResponse"
      }
    },
    "DeleteContact": {
      "documentation": "<p>Removes a contact from a contact list.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "shape": "DeleteContactRequest"
      },
      "name": "DeleteContact",
      "output": {
        "shape": "DeleteContactResponse"
      }
    },
    "DeleteContactList": {
      "documentation": "<p>Deletes a contact list and all of the contacts on that list.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "shape": "DeleteContactListRequest"
      },
      "name": "DeleteContactList",
      "output": {
        "shape": "DeleteContactListResponse"
      }
    },
    "DeleteCustomVerificationEmailTemplate": {
      "documentation": "<p>Deletes an existing custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "shape": "DeleteCustomVerificationEmailTemplateRequest"
      },
      "name": "DeleteCustomVerificationEmailTemplate",
      "output": {
        "shape": "DeleteCustomVerificationEmailTemplateResponse"
      }
    },
    "DeleteDedicatedIpPool": {
      "documentation": "<p>Delete a dedicated IP pool.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "shape": "DeleteDedicatedIpPoolRequest"
      },
      "name": "DeleteDedicatedIpPool",
      "output": {
        "shape": "DeleteDedicatedIpPoolResponse"
      }
    },
    "DeleteEmailIdentity": {
      "documentation": "<p>Deletes an email identity. An identity can be either an email address or a domain name.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/identities/{EmailIdentity}"
      },
      "input": {
        "shape": "DeleteEmailIdentityRequest"
      },
      "name": "DeleteEmailIdentity",
      "output": {
        "shape": "DeleteEmailIdentityResponse"
      }
    },
    "DeleteEmailIdentityPolicy": {
      "documentation": "<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "shape": "DeleteEmailIdentityPolicyRequest"
      },
      "name": "DeleteEmailIdentityPolicy",
      "output": {
        "shape": "DeleteEmailIdentityPolicyResponse"
      }
    },
    "DeleteEmailTemplate": {
      "documentation": "<p>Deletes an email template.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "shape": "DeleteEmailTemplateRequest"
      },
      "name": "DeleteEmailTemplate",
      "output": {
        "shape": "DeleteEmailTemplateResponse"
      }
    },
    "DeleteSuppressedDestination": {
      "documentation": "<p>Removes an email address from the suppression list for your account.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input": {
        "shape": "DeleteSuppressedDestinationRequest"
      },
      "name": "DeleteSuppressedDestination",
      "output": {
        "shape": "DeleteSuppressedDestinationResponse"
      }
    },
    "GetAccount": {
      "documentation": "<p>Obtain information about the email-sending status and capabilities of your Amazon SES account in the current Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/account"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "GetAccountResponse"
      }
    },
    "GetBlacklistReports": {
      "documentation": "<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/blacklist-report"
      },
      "input": {
        "shape": "GetBlacklistReportsRequest"
      },
      "name": "GetBlacklistReports",
      "output": {
        "shape": "GetBlacklistReportsResponse"
      }
    },
    "GetConfigurationSet": {
      "documentation": "<p>Get information about an existing configuration set, including the dedicated IP pool that it's associated with, whether or not it's enabled for sending email, and more.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "shape": "GetConfigurationSetRequest"
      },
      "name": "GetConfigurationSet",
      "output": {
        "shape": "GetConfigurationSetResponse"
      }
    },
    "GetConfigurationSetEventDestinations": {
      "documentation": "<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "shape": "GetConfigurationSetEventDestinationsRequest"
      },
      "name": "GetConfigurationSetEventDestinations",
      "output": {
        "shape": "GetConfigurationSetEventDestinationsResponse"
      }
    },
    "GetContact": {
      "documentation": "<p>Returns a contact from a contact list.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "shape": "GetContactRequest"
      },
      "name": "GetContact",
      "output": {
        "shape": "GetContactResponse"
      }
    },
    "GetContactList": {
      "documentation": "<p>Returns contact list metadata. It does not return any information about the contacts present in the list.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "shape": "GetContactListRequest"
      },
      "name": "GetContactList",
      "output": {
        "shape": "GetContactListResponse"
      }
    },
    "GetCustomVerificationEmailTemplate": {
      "documentation": "<p>Returns the custom email verification template for the template name you specify.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "shape": "GetCustomVerificationEmailTemplateRequest"
      },
      "name": "GetCustomVerificationEmailTemplate",
      "output": {
        "shape": "GetCustomVerificationEmailTemplateResponse"
      }
    },
    "GetDedicatedIp": {
      "documentation": "<p>Get information about a dedicated IP address, including the name of the dedicated IP pool that it's associated with, as well information about the automatic warm-up process for the address.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ips/{IP}"
      },
      "input": {
        "shape": "GetDedicatedIpRequest"
      },
      "name": "GetDedicatedIp",
      "output": {
        "shape": "GetDedicatedIpResponse"
      }
    },
    "GetDedicatedIpPool": {
      "documentation": "<p>Retrieve information about the dedicated pool.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "shape": "GetDedicatedIpPoolRequest"
      },
      "name": "GetDedicatedIpPool",
      "output": {
        "shape": "GetDedicatedIpPoolResponse"
      }
    },
    "GetDedicatedIps": {
      "documentation": "<p>List the dedicated IP addresses that are associated with your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ips"
      },
      "input": {
        "shape": "GetDedicatedIpsRequest"
      },
      "name": "GetDedicatedIps",
      "output": {
        "shape": "GetDedicatedIpsResponse"
      }
    },
    "GetDeliverabilityDashboardOptions": {
      "documentation": "<p>Retrieve information about the status of the Deliverability dashboard for your account. When the Deliverability dashboard is enabled, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon SES and other Amazon Web Services services. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/ses/pricing/\">Amazon SES Pricing</a>.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard"
      },
      "input": {
        "shape": "GetDeliverabilityDashboardOptionsRequest"
      },
      "name": "GetDeliverabilityDashboardOptions",
      "output": {
        "shape": "GetDeliverabilityDashboardOptionsResponse"
      }
    },
    "GetDeliverabilityTestReport": {
      "documentation": "<p>Retrieve the results of a predictive inbox placement test.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/test-reports/{ReportId}"
      },
      "input": {
        "shape": "GetDeliverabilityTestReportRequest"
      },
      "name": "GetDeliverabilityTestReport",
      "output": {
        "shape": "GetDeliverabilityTestReportResponse"
      }
    },
    "GetDomainDeliverabilityCampaign": {
      "documentation": "<p>Retrieve all the deliverability data for a specific campaign. This data is available for a campaign only if the campaign sent email by using a domain that the Deliverability dashboard is enabled for.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/campaigns/{CampaignId}"
      },
      "input": {
        "shape": "GetDomainDeliverabilityCampaignRequest"
      },
      "name": "GetDomainDeliverabilityCampaign",
      "output": {
        "shape": "GetDomainDeliverabilityCampaignResponse"
      }
    },
    "GetDomainStatisticsReport": {
      "documentation": "<p>Retrieve inbox placement and engagement rates for the domains that you use to send email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/statistics-report/{Domain}"
      },
      "input": {
        "shape": "GetDomainStatisticsReportRequest"
      },
      "name": "GetDomainStatisticsReport",
      "output": {
        "shape": "GetDomainStatisticsReportResponse"
      }
    },
    "GetEmailIdentity": {
      "documentation": "<p>Provides information about a specific identity, including the identity's verification status, sending authorization policies, its DKIM authentication status, and its custom Mail-From settings.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities/{EmailIdentity}"
      },
      "input": {
        "shape": "GetEmailIdentityRequest"
      },
      "name": "GetEmailIdentity",
      "output": {
        "shape": "GetEmailIdentityResponse"
      }
    },
    "GetEmailIdentityPolicies": {
      "documentation": "<p>Returns the requested sending authorization policies for the given identity (an email address or a domain). The policies are returned as a map of policy names to policy contents. You can retrieve a maximum of 20 policies at a time.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies"
      },
      "input": {
        "shape": "GetEmailIdentityPoliciesRequest"
      },
      "name": "GetEmailIdentityPolicies",
      "output": {
        "shape": "GetEmailIdentityPoliciesResponse"
      }
    },
    "GetEmailTemplate": {
      "documentation": "<p>Displays the template object (which includes the subject line, HTML part and text part) for the template you specify.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "shape": "GetEmailTemplateRequest"
      },
      "name": "GetEmailTemplate",
      "output": {
        "shape": "GetEmailTemplateResponse"
      }
    },
    "GetImportJob": {
      "documentation": "<p>Provides information about an import job.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/import-jobs/{JobId}"
      },
      "input": {
        "shape": "GetImportJobRequest"
      },
      "name": "GetImportJob",
      "output": {
        "shape": "GetImportJobResponse"
      }
    },
    "GetSuppressedDestination": {
      "documentation": "<p>Retrieves information about a specific email address that's on the suppression list for your account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input": {
        "shape": "GetSuppressedDestinationRequest"
      },
      "name": "GetSuppressedDestination",
      "output": {
        "shape": "GetSuppressedDestinationResponse"
      }
    },
    "ListConfigurationSets": {
      "documentation": "<p>List all of the configuration sets associated with your account in the current region.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/configuration-sets"
      },
      "input": {
        "shape": "ListConfigurationSetsRequest"
      },
      "name": "ListConfigurationSets",
      "output": {
        "shape": "ListConfigurationSetsResponse"
      }
    },
    "ListContactLists": {
      "documentation": "<p>Lists all of the contact lists available.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists"
      },
      "input": {
        "shape": "ListContactListsRequest"
      },
      "name": "ListContactLists",
      "output": {
        "shape": "ListContactListsResponse"
      }
    },
    "ListContacts": {
      "documentation": "<p>Lists the contacts present in a specific contact list.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
      },
      "input": {
        "shape": "ListContactsRequest"
      },
      "name": "ListContacts",
      "output": {
        "shape": "ListContactsResponse"
      }
    },
    "ListCustomVerificationEmailTemplates": {
      "documentation": "<p>Lists the existing custom verification email templates for your account in the current Amazon Web Services Region.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/custom-verification-email-templates"
      },
      "input": {
        "shape": "ListCustomVerificationEmailTemplatesRequest"
      },
      "name": "ListCustomVerificationEmailTemplates",
      "output": {
        "shape": "ListCustomVerificationEmailTemplatesResponse"
      }
    },
    "ListDedicatedIpPools": {
      "documentation": "<p>List all of the dedicated IP pools that exist in your Amazon Web Services account in the current Region.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/dedicated-ip-pools"
      },
      "input": {
        "shape": "ListDedicatedIpPoolsRequest"
      },
      "name": "ListDedicatedIpPools",
      "output": {
        "shape": "ListDedicatedIpPoolsResponse"
      }
    },
    "ListDeliverabilityTestReports": {
      "documentation": "<p>Show a list of the predictive inbox placement tests that you've performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/test-reports"
      },
      "input": {
        "shape": "ListDeliverabilityTestReportsRequest"
      },
      "name": "ListDeliverabilityTestReports",
      "output": {
        "shape": "ListDeliverabilityTestReportsResponse"
      }
    },
    "ListDomainDeliverabilityCampaigns": {
      "documentation": "<p>Retrieve deliverability data for all the campaigns that used a specific domain to send email during a specified time range. This data is available for a domain only if you enabled the Deliverability dashboard for the domain.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/deliverability-dashboard/domains/{SubscribedDomain}/campaigns"
      },
      "input": {
        "shape": "ListDomainDeliverabilityCampaignsRequest"
      },
      "name": "ListDomainDeliverabilityCampaigns",
      "output": {
        "shape": "ListDomainDeliverabilityCampaignsResponse"
      }
    },
    "ListEmailIdentities": {
      "documentation": "<p>Returns a list of all of the email identities that are associated with your Amazon Web Services account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't. This operation returns identities that are associated with Amazon SES and Amazon Pinpoint.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/identities"
      },
      "input": {
        "shape": "ListEmailIdentitiesRequest"
      },
      "name": "ListEmailIdentities",
      "output": {
        "shape": "ListEmailIdentitiesResponse"
      }
    },
    "ListEmailTemplates": {
      "documentation": "<p>Lists the email templates present in your Amazon SES account in the current Amazon Web Services Region.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/templates"
      },
      "input": {
        "shape": "ListEmailTemplatesRequest"
      },
      "name": "ListEmailTemplates",
      "output": {
        "shape": "ListEmailTemplatesResponse"
      }
    },
    "ListImportJobs": {
      "documentation": "<p>Lists all of the import jobs.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/import-jobs"
      },
      "input": {
        "shape": "ListImportJobsRequest"
      },
      "name": "ListImportJobs",
      "output": {
        "shape": "ListImportJobsResponse"
      }
    },
    "ListRecommendations": {
      "documentation": "<p>Lists the recommendations present in your Amazon SES account in the current Amazon Web Services Region.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/vdm/recommendations"
      },
      "input": {
        "shape": "ListRecommendationsRequest"
      },
      "name": "ListRecommendations",
      "output": {
        "shape": "ListRecommendationsResponse"
      }
    },
    "ListSuppressedDestinations": {
      "documentation": "<p>Retrieves a list of email addresses that are on the suppression list for your account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/suppression/addresses"
      },
      "input": {
        "shape": "ListSuppressedDestinationsRequest"
      },
      "name": "ListSuppressedDestinations",
      "output": {
        "shape": "ListSuppressedDestinationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieve a list of the tags (keys and values) that are associated with a specified resource. A\u00a0<i>tag</i>\u00a0is a label that you optionally define and associate with a resource. Each tag consists of a required\u00a0<i>tag key</i>\u00a0and an optional associated\u00a0<i>tag value</i>. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutAccountDedicatedIpWarmupAttributes": {
      "documentation": "<p>Enable or disable the automatic warm-up feature for dedicated IP addresses.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/dedicated-ips/warmup"
      },
      "input": {
        "shape": "PutAccountDedicatedIpWarmupAttributesRequest"
      },
      "name": "PutAccountDedicatedIpWarmupAttributes",
      "output": {
        "shape": "PutAccountDedicatedIpWarmupAttributesResponse"
      }
    },
    "PutAccountDetails": {
      "documentation": "<p>Update your Amazon SES account details.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/account/details"
      },
      "input": {
        "shape": "PutAccountDetailsRequest"
      },
      "name": "PutAccountDetails",
      "output": {
        "shape": "PutAccountDetailsResponse"
      }
    },
    "PutAccountSendingAttributes": {
      "documentation": "<p>Enable or disable the ability of your account to send email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/sending"
      },
      "input": {
        "shape": "PutAccountSendingAttributesRequest"
      },
      "name": "PutAccountSendingAttributes",
      "output": {
        "shape": "PutAccountSendingAttributesResponse"
      }
    },
    "PutAccountSuppressionAttributes": {
      "documentation": "<p>Change the settings for the account-level suppression list.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/suppression"
      },
      "input": {
        "shape": "PutAccountSuppressionAttributesRequest"
      },
      "name": "PutAccountSuppressionAttributes",
      "output": {
        "shape": "PutAccountSuppressionAttributesResponse"
      }
    },
    "PutAccountVdmAttributes": {
      "documentation": "<p>Update your Amazon SES account VDM attributes.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/account/vdm"
      },
      "input": {
        "shape": "PutAccountVdmAttributesRequest"
      },
      "name": "PutAccountVdmAttributes",
      "output": {
        "shape": "PutAccountVdmAttributesResponse"
      }
    },
    "PutConfigurationSetDeliveryOptions": {
      "documentation": "<p>Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input": {
        "shape": "PutConfigurationSetDeliveryOptionsRequest"
      },
      "name": "PutConfigurationSetDeliveryOptions",
      "output": {
        "shape": "PutConfigurationSetDeliveryOptionsResponse"
      }
    },
    "PutConfigurationSetReputationOptions": {
      "documentation": "<p>Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input": {
        "shape": "PutConfigurationSetReputationOptionsRequest"
      },
      "name": "PutConfigurationSetReputationOptions",
      "output": {
        "shape": "PutConfigurationSetReputationOptionsResponse"
      }
    },
    "PutConfigurationSetSendingOptions": {
      "documentation": "<p>Enable or disable email sending for messages that use a particular configuration set in a specific Amazon Web Services Region.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input": {
        "shape": "PutConfigurationSetSendingOptionsRequest"
      },
      "name": "PutConfigurationSetSendingOptions",
      "output": {
        "shape": "PutConfigurationSetSendingOptionsResponse"
      }
    },
    "PutConfigurationSetSuppressionOptions": {
      "documentation": "<p>Specify the account suppression list preferences for a configuration set.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/suppression-options"
      },
      "input": {
        "shape": "PutConfigurationSetSuppressionOptionsRequest"
      },
      "name": "PutConfigurationSetSuppressionOptions",
      "output": {
        "shape": "PutConfigurationSetSuppressionOptionsResponse"
      }
    },
    "PutConfigurationSetTrackingOptions": {
      "documentation": "<p>Specify a custom domain to use for open and click tracking elements in email that you send.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input": {
        "shape": "PutConfigurationSetTrackingOptionsRequest"
      },
      "name": "PutConfigurationSetTrackingOptions",
      "output": {
        "shape": "PutConfigurationSetTrackingOptionsResponse"
      }
    },
    "PutConfigurationSetVdmOptions": {
      "documentation": "<p>Specify VDM preferences for email that you send using the configuration set.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/vdm-options"
      },
      "input": {
        "shape": "PutConfigurationSetVdmOptionsRequest"
      },
      "name": "PutConfigurationSetVdmOptions",
      "output": {
        "shape": "PutConfigurationSetVdmOptionsResponse"
      }
    },
    "PutDedicatedIpInPool": {
      "documentation": "<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Web Services account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/dedicated-ips/{IP}/pool"
      },
      "input": {
        "shape": "PutDedicatedIpInPoolRequest"
      },
      "name": "PutDedicatedIpInPool",
      "output": {
        "shape": "PutDedicatedIpInPoolResponse"
      }
    },
    "PutDedicatedIpWarmupAttributes": {
      "documentation": "<p/>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/dedicated-ips/{IP}/warmup"
      },
      "input": {
        "shape": "PutDedicatedIpWarmupAttributesRequest"
      },
      "name": "PutDedicatedIpWarmupAttributes",
      "output": {
        "shape": "PutDedicatedIpWarmupAttributesResponse"
      }
    },
    "PutDeliverabilityDashboardOption": {
      "documentation": "<p>Enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon SES and other Amazon Web Services services. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/ses/pricing/\">Amazon SES Pricing</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/deliverability-dashboard"
      },
      "input": {
        "shape": "PutDeliverabilityDashboardOptionRequest"
      },
      "name": "PutDeliverabilityDashboardOption",
      "output": {
        "shape": "PutDeliverabilityDashboardOptionResponse"
      }
    },
    "PutEmailIdentityConfigurationSetAttributes": {
      "documentation": "<p>Used to associate a configuration set with an email identity.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/configuration-set"
      },
      "input": {
        "shape": "PutEmailIdentityConfigurationSetAttributesRequest"
      },
      "name": "PutEmailIdentityConfigurationSetAttributes",
      "output": {
        "shape": "PutEmailIdentityConfigurationSetAttributesResponse"
      }
    },
    "PutEmailIdentityDkimAttributes": {
      "documentation": "<p>Used to enable or disable DKIM authentication for an email identity.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/dkim"
      },
      "input": {
        "shape": "PutEmailIdentityDkimAttributesRequest"
      },
      "name": "PutEmailIdentityDkimAttributes",
      "output": {
        "shape": "PutEmailIdentityDkimAttributesResponse"
      }
    },
    "PutEmailIdentityDkimSigningAttributes": {
      "documentation": "<p>Used to configure or change the DKIM authentication settings for an email domain identity. You can use this operation to do any of the following:</p> <ul> <li> <p>Update the signing attributes for an identity that uses Bring Your Own DKIM (BYODKIM).</p> </li> <li> <p>Update the key length that should be used for Easy DKIM.</p> </li> <li> <p>Change from using no DKIM authentication to using Easy DKIM.</p> </li> <li> <p>Change from using no DKIM authentication to using BYODKIM.</p> </li> <li> <p>Change from using Easy DKIM to using BYODKIM.</p> </li> <li> <p>Change from using BYODKIM to using Easy DKIM.</p> </li> </ul>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/dkim/signing"
      },
      "input": {
        "shape": "PutEmailIdentityDkimSigningAttributesRequest"
      },
      "name": "PutEmailIdentityDkimSigningAttributes",
      "output": {
        "shape": "PutEmailIdentityDkimSigningAttributesResponse"
      }
    },
    "PutEmailIdentityFeedbackAttributes": {
      "documentation": "<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>If the value is <code>true</code>, you receive email notifications when bounce or complaint events occur. These notifications are sent to the address that you specified in the <code>Return-Path</code> header of the original email.</p> <p>You're required to have a method of tracking bounces and complaints. If you haven't set up another mechanism for receiving bounce or complaint notifications (for example, by setting up an event destination), you receive an email notification when these events occur (even if this setting is disabled).</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/feedback"
      },
      "input": {
        "shape": "PutEmailIdentityFeedbackAttributesRequest"
      },
      "name": "PutEmailIdentityFeedbackAttributes",
      "output": {
        "shape": "PutEmailIdentityFeedbackAttributesResponse"
      }
    },
    "PutEmailIdentityMailFromAttributes": {
      "documentation": "<p>Used to enable or disable the custom Mail-From domain configuration for an email identity.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/mail-from"
      },
      "input": {
        "shape": "PutEmailIdentityMailFromAttributesRequest"
      },
      "name": "PutEmailIdentityMailFromAttributes",
      "output": {
        "shape": "PutEmailIdentityMailFromAttributesResponse"
      }
    },
    "PutSuppressedDestination": {
      "documentation": "<p>Adds an email address to the suppression list for your account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/suppression/addresses"
      },
      "input": {
        "shape": "PutSuppressedDestinationRequest"
      },
      "name": "PutSuppressedDestination",
      "output": {
        "shape": "PutSuppressedDestinationResponse"
      }
    },
    "SendBulkEmail": {
      "documentation": "<p>Composes an email message to multiple destinations.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccountSuspendedException"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/outbound-bulk-emails"
      },
      "input": {
        "shape": "SendBulkEmailRequest"
      },
      "name": "SendBulkEmail",
      "output": {
        "shape": "SendBulkEmailResponse"
      }
    },
    "SendCustomVerificationEmail": {
      "documentation": "<p>Adds an email address to the list of identities for your Amazon SES account in the current Amazon Web Services Region and attempts to verify it. As a result of executing this operation, a customized verification email is sent to the specified address.</p> <p>To use this operation, you must first create a custom verification email template. For more information about creating and using custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/outbound-custom-verification-emails"
      },
      "input": {
        "shape": "SendCustomVerificationEmailRequest"
      },
      "name": "SendCustomVerificationEmail",
      "output": {
        "shape": "SendCustomVerificationEmailResponse"
      }
    },
    "SendEmail": {
      "documentation": "<p>Sends an email message. You can use the Amazon SES API v2 to send the following types of messages:</p> <ul> <li> <p> <b>Simple</b> \u2013 A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon SES assembles the message for you.</p> </li> <li> <p> <b>Raw</b> \u2013 A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> <li> <p> <b>Templated</b> \u2013 A message that contains personalization tags. When you send this type of email, Amazon SES API v2 automatically replaces the tags with values that you specify.</p> </li> </ul>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccountSuspendedException"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/outbound-emails"
      },
      "input": {
        "shape": "SendEmailRequest"
      },
      "name": "SendEmail",
      "output": {
        "shape": "SendEmailResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add one or more tags (keys and values) to a specified resource. A <i>tag</i>\u00a0is a label that you optionally define and associate with a resource. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required\u00a0<i>tag key</i>\u00a0and an associated\u00a0<i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "TestRenderEmailTemplate": {
      "documentation": "<p>Creates a preview of the MIME content of an email when provided with a template and a set of replacement data.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/email/templates/{TemplateName}/render"
      },
      "input": {
        "shape": "TestRenderEmailTemplateRequest"
      },
      "name": "TestRenderEmailTemplate",
      "output": {
        "shape": "TestRenderEmailTemplateResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove one or more tags (keys and values) from a specified resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/email/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateConfigurationSetEventDestination": {
      "documentation": "<p>Update the configuration of an event destination for a configuration set.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "shape": "UpdateConfigurationSetEventDestinationRequest"
      },
      "name": "UpdateConfigurationSetEventDestination",
      "output": {
        "shape": "UpdateConfigurationSetEventDestinationResponse"
      }
    },
    "UpdateContact": {
      "documentation": "<p>Updates a contact's preferences for a list. It is not necessary to specify all existing topic preferences in the TopicPreferences object, just the ones that need updating.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input": {
        "shape": "UpdateContactRequest"
      },
      "name": "UpdateContact",
      "output": {
        "shape": "UpdateContactResponse"
      }
    },
    "UpdateContactList": {
      "documentation": "<p>Updates contact list metadata. This operation does a complete replacement.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/contact-lists/{ContactListName}"
      },
      "input": {
        "shape": "UpdateContactListRequest"
      },
      "name": "UpdateContactList",
      "output": {
        "shape": "UpdateContactListResponse"
      }
    },
    "UpdateCustomVerificationEmailTemplate": {
      "documentation": "<p>Updates an existing custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input": {
        "shape": "UpdateCustomVerificationEmailTemplateRequest"
      },
      "name": "UpdateCustomVerificationEmailTemplate",
      "output": {
        "shape": "UpdateCustomVerificationEmailTemplateResponse"
      }
    },
    "UpdateEmailIdentityPolicy": {
      "documentation": "<p>Updates the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input": {
        "shape": "UpdateEmailIdentityPolicyRequest"
      },
      "name": "UpdateEmailIdentityPolicy",
      "output": {
        "shape": "UpdateEmailIdentityPolicyResponse"
      }
    },
    "UpdateEmailTemplate": {
      "documentation": "<p>Updates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/email/templates/{TemplateName}"
      },
      "input": {
        "shape": "UpdateEmailTemplateRequest"
      },
      "name": "UpdateEmailTemplate",
      "output": {
        "shape": "UpdateEmailTemplateResponse"
      }
    }
  },
  "shapes": {
    "AccountDetails": {
      "documentation": "<p>An object that contains information about your account details.</p>",
      "members": {
        "AdditionalContactEmailAddresses": {
          "documentation": "<p>Additional email addresses where updates are sent about your account review process.</p>",
          "shape": "AdditionalContactEmailAddresses"
        },
        "ContactLanguage": {
          "documentation": "<p>The language you would prefer for the case. The contact language can be one of <code>ENGLISH</code> or <code>JAPANESE</code>.</p>",
          "shape": "ContactLanguage"
        },
        "MailType": {
          "documentation": "<p>The type of email your account is sending. The mail type can be one of the following:</p> <ul> <li> <p> <code>MARKETING</code> \u2013 Most of your sending traffic is to keep your customers informed of your latest offering.</p> </li> <li> <p> <code>TRANSACTIONAL</code> \u2013 Most of your sending traffic is to communicate during a transaction with a customer.</p> </li> </ul>",
          "shape": "MailType"
        },
        "ReviewDetails": {
          "documentation": "<p>Information about the review of the latest details you submitted.</p>",
          "shape": "ReviewDetails"
        },
        "UseCaseDescription": {
          "documentation": "<p>A description of the types of email that you plan to send.</p>",
          "shape": "UseCaseDescription"
        },
        "WebsiteURL": {
          "documentation": "<p>The URL of your website. This information helps us better understand the type of content that you plan to send.</p>",
          "shape": "WebsiteURL"
        }
      },
      "type": "structure"
    },
    "AccountSuspendedException": {
      "documentation": "<p>The message can't be sent because the account's ability to send email has been permanently restricted.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AdditionalContactEmailAddress": {
      "max": 254,
      "min": 6,
      "pattern": "^(.+)@(.+)$",
      "sensitive": true,
      "type": "string"
    },
    "AdditionalContactEmailAddresses": {
      "max": 4,
      "member": {
        "shape": "AdditionalContactEmailAddress"
      },
      "min": 1,
      "sensitive": true,
      "type": "list"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The resource specified in your request already exists.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AmazonResourceName": {
      "type": "string"
    },
    "AttributesData": {
      "type": "string"
    },
    "BadRequestException": {
      "documentation": "<p>The input you provided is invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "BatchGetMetricDataQueries": {
      "max": 10,
      "member": {
        "shape": "BatchGetMetricDataQuery"
      },
      "min": 1,
      "type": "list"
    },
    "BatchGetMetricDataQuery": {
      "documentation": "<p>Represents a single metric data query to include in a batch.</p>",
      "members": {
        "Dimensions": {
          "documentation": "<p>An object that contains mapping between <code>MetricDimensionName</code> and <code>MetricDimensionValue</code> to filter metrics by.</p>",
          "shape": "Dimensions"
        },
        "EndDate": {
          "documentation": "<p>Represents the end date for the query interval.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The query identifier.</p>",
          "shape": "QueryIdentifier"
        },
        "Metric": {
          "documentation": "<p>The queried metric. This can be one of the following:</p> <ul> <li> <p> <code>SEND</code> \u2013 Emails sent eligible for tracking in the VDM dashboard. This excludes emails sent to the mailbox simulator and emails addressed to more than one recipient.</p> </li> <li> <p> <code>COMPLAINT</code> \u2013 Complaints received for your account. This excludes complaints from the mailbox simulator, those originating from your account-level suppression list (if enabled), and those for emails addressed to more than one recipient</p> </li> <li> <p> <code>PERMANENT_BOUNCE</code> \u2013 Permanent bounces - i.e. feedback received for emails sent to non-existent mailboxes. Excludes bounces from the mailbox simulator, those originating from your account-level suppression list (if enabled), and those for emails addressed to more than one recipient.</p> </li> <li> <p> <code>TRANSIENT_BOUNCE</code> \u2013 Transient bounces - i.e. feedback received for delivery failures excluding issues with non-existent mailboxes. Excludes bounces from the mailbox simulator, and those for emails addressed to more than one recipient.</p> </li> <li> <p> <code>OPEN</code> \u2013 Unique open events for emails including open trackers. Excludes opens for emails addressed to more than one recipient.</p> </li> <li> <p> <code>CLICK</code> \u2013 Unique click events for emails including wrapped links. Excludes clicks for emails addressed to more than one recipient.</p> </li> <li> <p> <code>DELIVERY</code> \u2013 Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator and for emails addressed to more than one recipient.</p> </li> <li> <p> <code>DELIVERY_OPEN</code> \u2013 Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails without open trackers.</p> </li> <li> <p> <code>DELIVERY_CLICK</code> \u2013 Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails without click trackers.</p> </li> <li> <p> <code>DELIVERY_COMPLAINT</code> \u2013 Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails addressed to recipients hosted by ISPs with which Amazon SES does not have a feedback loop agreement.</p> </li> </ul>",
          "shape": "Metric"
        },
        "Namespace": {
          "documentation": "<p>The query namespace - e.g. <code>VDM</code> </p>",
          "shape": "MetricNamespace"
        },
        "StartDate": {
          "documentation": "<p>Represents the start date for the query interval.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Id",
        "Namespace",
        "Metric",
        "StartDate",
        "EndDate"
      ],
      "type": "structure"
    },
    "BatchGetMetricDataRequest": {
      "documentation": "<p>Represents a request to retrieve a batch of metric data.</p>",
      "members": {
        "Queries": {
          "documentation": "<p>A list of queries for metrics to be retrieved.</p>",
          "shape": "BatchGetMetricDataQueries"
        }
      },
      "required": [
        "Queries"
      ],
      "type": "structure"
    },
    "BatchGetMetricDataResponse": {
      "documentation": "<p>Represents the result of processing your metric data batch request</p>",
      "members": {
        "Errors": {
          "documentation": "<p>A list of <code>MetricDataError</code> encountered while processing your metric data batch request.</p>",
          "shape": "MetricDataErrorList"
        },
        "Results": {
          "documentation": "<p>A list of successfully retrieved <code>MetricDataResult</code>.</p>",
          "shape": "MetricDataResultList"
        }
      },
      "type": "structure"
    },
    "BehaviorOnMxFailure": {
      "documentation": "<p>The action to take if the required MX record can't be found when you send an email. When you set this value to <code>UseDefaultValue</code>, the mail is sent using <i>amazonses.com</i> as the MAIL FROM domain. When you set this value to <code>RejectMessage</code>, the Amazon SES API v2 returns a <code>MailFromDomainNotVerified</code> error, and doesn't attempt to deliver the email.</p> <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code> states.</p>",
      "enum": [
        "USE_DEFAULT_VALUE",
        "REJECT_MESSAGE"
      ],
      "type": "string"
    },
    "BlacklistEntries": {
      "member": {
        "shape": "BlacklistEntry"
      },
      "type": "list"
    },
    "BlacklistEntry": {
      "documentation": "<p>An object that contains information about a blacklisting event that impacts one of the dedicated IP addresses that is associated with your account.</p>",
      "members": {
        "Description": {
          "documentation": "<p>Additional information about the blacklisting event, as provided by the blacklist maintainer.</p>",
          "shape": "BlacklistingDescription"
        },
        "ListingTime": {
          "documentation": "<p>The time when the blacklisting event occurred.</p>",
          "shape": "Timestamp"
        },
        "RblName": {
          "documentation": "<p>The name of the blacklist that the IP address appears on.</p>",
          "shape": "RblName"
        }
      },
      "type": "structure"
    },
    "BlacklistItemName": {
      "documentation": "<p>An IP address that you want to obtain blacklist information for.</p>",
      "type": "string"
    },
    "BlacklistItemNames": {
      "member": {
        "shape": "BlacklistItemName"
      },
      "type": "list"
    },
    "BlacklistReport": {
      "key": {
        "shape": "BlacklistItemName"
      },
      "type": "map",
      "value": {
        "shape": "BlacklistEntries"
      }
    },
    "BlacklistingDescription": {
      "documentation": "<p>A description of the blacklisting event.</p>",
      "type": "string"
    },
    "Body": {
      "documentation": "<p>Represents the body of the email message.</p>",
      "members": {
        "Html": {
          "documentation": "<p>An object that represents the version of the message that is displayed in email clients that support HTML. HTML messages can include formatted text, hyperlinks, images, and more. </p>",
          "shape": "Content"
        },
        "Text": {
          "documentation": "<p>An object that represents the version of the message that is displayed in email clients that don't support HTML, or clients where the recipient has disabled HTML rendering.</p>",
          "shape": "Content"
        }
      },
      "type": "structure"
    },
    "BulkEmailContent": {
      "documentation": "<p>An object that contains the body of the message. You can specify a template message.</p>",
      "members": {
        "Template": {
          "documentation": "<p>The template to use for the bulk email message.</p>",
          "shape": "Template"
        }
      },
      "type": "structure"
    },
    "BulkEmailEntry": {
      "members": {
        "Destination": {
          "documentation": "<p>Represents the destination of the message, consisting of To:, CC:, and BCC: fields.</p> <note> <p>Amazon SES does not support the SMTPUTF8 extension, as described in <a href=\"https://tools.ietf.org/html/rfc6531\">RFC6531</a>. For this reason, the local part of a destination email address (the part of the email address that precedes the @ sign) may only contain <a href=\"https://en.wikipedia.org/wiki/Email_address#Local-part\">7-bit ASCII characters</a>. If the domain part of an address (the part after the @ sign) contains non-ASCII characters, they must be encoded using Punycode, as described in <a href=\"https://tools.ietf.org/html/rfc3492.html\">RFC3492</a>.</p> </note>",
          "shape": "Destination"
        },
        "ReplacementEmailContent": {
          "documentation": "<p>The <code>ReplacementEmailContent</code> associated with a <code>BulkEmailEntry</code>.</p>",
          "shape": "ReplacementEmailContent"
        },
        "ReplacementTags": {
          "documentation": "<p>A list of tags, in the form of name/value pairs, to apply to an email that you send using the <code>SendBulkTemplatedEmail</code> operation. Tags correspond to characteristics of the email that you define, so that you can publish email sending events.</p>",
          "shape": "MessageTagList"
        }
      },
      "required": [
        "Destination"
      ],
      "type": "structure"
    },
    "BulkEmailEntryList": {
      "documentation": "<p>A list of <code>BulkEmailEntry</code> objects.</p>",
      "member": {
        "shape": "BulkEmailEntry"
      },
      "type": "list"
    },
    "BulkEmailEntryResult": {
      "documentation": "<p>The result of the <code>SendBulkEmail</code> operation of each specified <code>BulkEmailEntry</code>.</p>",
      "members": {
        "Error": {
          "documentation": "<p>A description of an error that prevented a message being sent using the <code>SendBulkTemplatedEmail</code> operation.</p>",
          "shape": "ErrorMessage"
        },
        "MessageId": {
          "documentation": "<p>The unique message identifier returned from the <code>SendBulkTemplatedEmail</code> operation.</p>",
          "shape": "OutboundMessageId"
        },
        "Status": {
          "documentation": "<p>The status of a message sent using the <code>SendBulkTemplatedEmail</code> operation.</p> <p>Possible values for this parameter include:</p> <ul> <li> <p>SUCCESS: Amazon SES accepted the message, and will attempt to deliver it to the recipients.</p> </li> <li> <p>MESSAGE_REJECTED: The message was rejected because it contained a virus.</p> </li> <li> <p>MAIL_FROM_DOMAIN_NOT_VERIFIED: The sender's email address or domain was not verified.</p> </li> <li> <p>CONFIGURATION_SET_DOES_NOT_EXIST: The configuration set you specified does not exist.</p> </li> <li> <p>TEMPLATE_DOES_NOT_EXIST: The template you specified does not exist.</p> </li> <li> <p>ACCOUNT_SUSPENDED: Your account has been shut down because of issues related to your email sending practices.</p> </li> <li> <p>ACCOUNT_THROTTLED: The number of emails you can send has been reduced because your account has exceeded its allocated sending limit.</p> </li> <li> <p>ACCOUNT_DAILY_QUOTA_EXCEEDED: You have reached or exceeded the maximum number of emails you can send from your account in a 24-hour period.</p> </li> <li> <p>INVALID_SENDING_POOL_NAME: The configuration set you specified refers to an IP pool that does not exist.</p> </li> <li> <p>ACCOUNT_SENDING_PAUSED: Email sending for the Amazon SES account was disabled using the <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference/API_UpdateAccountSendingEnabled.html\">UpdateAccountSendingEnabled</a> operation.</p> </li> <li> <p>CONFIGURATION_SET_SENDING_PAUSED: Email sending for this configuration set was disabled using the <a href=\"https://docs.aws.amazon.com/ses/latest/APIReference/API_UpdateConfigurationSetSendingEnabled.html\">UpdateConfigurationSetSendingEnabled</a> operation.</p> </li> <li> <p>INVALID_PARAMETER_VALUE: One or more of the parameters you specified when calling this operation was invalid. See the error message for additional information.</p> </li> <li> <p>TRANSIENT_FAILURE: Amazon SES was unable to process your request because of a temporary issue.</p> </li> <li> <p>FAILED: Amazon SES was unable to process your request. See the error message for additional information.</p> </li> </ul>",
          "shape": "BulkEmailStatus"
        }
      },
      "type": "structure"
    },
    "BulkEmailEntryResultList": {
      "documentation": "<p>A list of <code>BulkMailEntry</code> objects.</p>",
      "member": {
        "shape": "BulkEmailEntryResult"
      },
      "type": "list"
    },
    "BulkEmailStatus": {
      "enum": [
        "SUCCESS",
        "MESSAGE_REJECTED",
        "MAIL_FROM_DOMAIN_NOT_VERIFIED",
        "CONFIGURATION_SET_NOT_FOUND",
        "TEMPLATE_NOT_FOUND",
        "ACCOUNT_SUSPENDED",
        "ACCOUNT_THROTTLED",
        "ACCOUNT_DAILY_QUOTA_EXCEEDED",
        "INVALID_SENDING_POOL_NAME",
        "ACCOUNT_SENDING_PAUSED",
        "CONFIGURATION_SET_SENDING_PAUSED",
        "INVALID_PARAMETER",
        "TRANSIENT_FAILURE",
        "FAILED"
      ],
      "type": "string"
    },
    "CampaignId": {
      "type": "string"
    },
    "CaseId": {
      "type": "string"
    },
    "Charset": {
      "type": "string"
    },
    "CloudWatchDestination": {
      "documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.</p>",
      "members": {
        "DimensionConfigurations": {
          "documentation": "<p>An array of objects that define the dimensions to use when you send email events to Amazon CloudWatch.</p>",
          "shape": "CloudWatchDimensionConfigurations"
        }
      },
      "required": [
        "DimensionConfigurations"
      ],
      "type": "structure"
    },
    "CloudWatchDimensionConfiguration": {
      "documentation": "<p>An object that defines the dimension configuration to use when you send email events to Amazon CloudWatch.</p>",
      "members": {
        "DefaultDimensionValue": {
          "documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the value of the dimension when you send an email. This value has to meet the following criteria:</p> <ul> <li> <p>Can only contain ASCII letters (a\u2013z, A\u2013Z), numbers (0\u20139), underscores (_), or dashes (-), at signs (@), and periods (.).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
          "shape": "DefaultDimensionValue"
        },
        "DimensionName": {
          "documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a\u2013z, A\u2013Z), numbers (0\u20139), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
          "shape": "DimensionName"
        },
        "DimensionValueSource": {
          "documentation": "<p>The location where the Amazon SES API v2 finds the value of a dimension to publish to Amazon CloudWatch. To use the message tags that you specify using an <code>X-SES-MESSAGE-TAGS</code> header or a parameter to the <code>SendEmail</code> or <code>SendRawEmail</code> API, choose <code>messageTag</code>. To use your own email headers, choose <code>emailHeader</code>. To use link tags, choose <code>linkTags</code>.</p>",
          "shape": "DimensionValueSource"
        }
      },
      "required": [
        "DimensionName",
        "DimensionValueSource",
        "DefaultDimensionValue"
      ],
      "type": "structure"
    },
    "CloudWatchDimensionConfigurations": {
      "member": {
        "shape": "CloudWatchDimensionConfiguration"
      },
      "type": "list"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>The resource is being modified by another operation or thread.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "ConfigurationSetName": {
      "documentation": "<p>The name of a configuration set.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "type": "string"
    },
    "ConfigurationSetNameList": {
      "member": {
        "shape": "ConfigurationSetName"
      },
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>If there is already an ongoing account details update under review.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Contact": {
      "documentation": "<p>A contact is the end-user who is receiving the email.</p>",
      "members": {
        "EmailAddress": {
          "documentation": "<p>The contact's email address.</p>",
          "shape": "EmailAddress"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>A timestamp noting the last time the contact's information was updated.</p>",
          "shape": "Timestamp"
        },
        "TopicDefaultPreferences": {
          "documentation": "<p>The default topic preferences applied to the contact.</p>",
          "shape": "TopicPreferenceList"
        },
        "TopicPreferences": {
          "documentation": "<p>The contact's preference for being opted-in to or opted-out of a topic.</p>",
          "shape": "TopicPreferenceList"
        },
        "UnsubscribeAll": {
          "documentation": "<p>A boolean value status noting if the contact is unsubscribed from all contact list topics.</p>",
[...]
