{
  "documentation": "<p>Amazon Keyspaces (for Apache Cassandra) is a scalable, highly available, and managed Apache Cassandra-compatible database service. Amazon Keyspaces makes it easy to migrate, run, and scale Cassandra workloads in the Amazon Web Services Cloud. With just a few clicks on the Amazon Web Services Management Console or a few lines of code, you can create keyspaces and tables in Amazon Keyspaces, without deploying any infrastructure or installing software. </p> <p>In addition to supporting Cassandra Query Language (CQL) requests via open-source Cassandra drivers, Amazon Keyspaces supports data definition language (DDL) operations to manage keyspaces and tables using the Amazon Web Services SDK and CLI. This API reference describes the supported DDL operations in detail.</p> <p>For the list of all supported CQL APIs, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cassandra-apis.html\">Supported Cassandra APIs, operations, and data types in Amazon Keyspaces</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>To learn how Amazon Keyspaces API actions are recorded with CloudTrail, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/logging-using-cloudtrail.html#service-name-info-in-cloudtrail\">Amazon Keyspaces information in CloudTrail</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>For more information about Amazon Web Services APIs, for example how to implement retry logic or how to sign Amazon Web Services API requests, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-apis.html\">Amazon Web Services APIs</a> in the <i>General Reference</i>.</p>",
  "metadata": {
    "apiVersion": "2022-02-10",
    "endpointPrefix": "cassandra",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "Amazon Keyspaces",
    "serviceId": "Keyspaces",
    "signatureVersion": "v4",
    "signingName": "cassandra",
    "targetPrefix": "KeyspacesService",
    "uid": "keyspaces-2022-02-10"
  },
  "operations": {
    "CreateKeyspace": {
      "documentation": "<p>The <code>CreateKeyspace</code> operation adds a new keyspace to your account. In an Amazon Web Services account, keyspace names must be unique within each Region.</p> <p> <code>CreateKeyspace</code> is an asynchronous operation. You can monitor the creation status of the new keyspace by using the <code>GetKeyspace</code> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/working-with-keyspaces.html#keyspaces-create\">Creating keyspaces</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateKeyspaceRequest"
      },
      "name": "CreateKeyspace",
      "output": {
        "shape": "CreateKeyspaceResponse"
      }
    },
    "CreateTable": {
      "documentation": "<p>The <code>CreateTable</code> operation adds a new table to the specified keyspace. Within a keyspace, table names must be unique.</p> <p> <code>CreateTable</code> is an asynchronous operation. When the request is received, the status of the table is set to <code>CREATING</code>. You can monitor the creation status of the new table by using the <code>GetTable</code> operation, which returns the current <code>status</code> of the table. You can start using a table when the status is <code>ACTIVE</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/working-with-tables.html#tables-create\">Creating tables</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTableRequest"
      },
      "name": "CreateTable",
      "output": {
        "shape": "CreateTableResponse"
      }
    },
    "DeleteKeyspace": {
      "documentation": "<p>The <code>DeleteKeyspace</code> operation deletes a keyspace and all of its tables. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteKeyspaceRequest"
      },
      "name": "DeleteKeyspace",
      "output": {
        "shape": "DeleteKeyspaceResponse"
      }
    },
    "DeleteTable": {
      "documentation": "<p>The <code>DeleteTable</code> operation deletes a table and all of its data. After a <code>DeleteTable</code> request is received, the specified table is in the <code>DELETING</code> state until Amazon Keyspaces completes the deletion. If the table is in the <code>ACTIVE</code> state, you can delete it. If a table is either in the <code>CREATING</code> or <code>UPDATING</code> states, then Amazon Keyspaces returns a <code>ResourceInUseException</code>. If the specified table does not exist, Amazon Keyspaces returns a <code>ResourceNotFoundException</code>. If the table is already in the <code>DELETING</code> state, no error is returned.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTableRequest"
      },
      "name": "DeleteTable",
      "output": {
        "shape": "DeleteTableResponse"
      }
    },
    "GetKeyspace": {
      "documentation": "<p>Returns the name and the Amazon Resource Name (ARN) of the specified table.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetKeyspaceRequest"
      },
      "name": "GetKeyspace",
      "output": {
        "shape": "GetKeyspaceResponse"
      }
    },
    "GetTable": {
      "documentation": "<p>Returns information about the table, including the table's name and current status, the keyspace name, configuration settings, and metadata.</p> <p>To read table metadata using <code>GetTable</code>, <code>Select</code> action permissions for the table and system tables are required to complete the operation.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableRequest"
      },
      "name": "GetTable",
      "output": {
        "shape": "GetTableResponse"
      }
    },
    "ListKeyspaces": {
      "documentation": "<p>Returns a list of keyspaces.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListKeyspacesRequest"
      },
      "name": "ListKeyspaces",
      "output": {
        "shape": "ListKeyspacesResponse"
      }
    },
    "ListTables": {
      "documentation": "<p>Returns a list of tables for a specified keyspace.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTablesRequest"
      },
      "name": "ListTables",
      "output": {
        "shape": "ListTablesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of all tags associated with the specified Amazon Keyspaces resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RestoreTable": {
      "documentation": "<p>Restores the specified table to the specified point in time within the <code>earliest_restorable_timestamp</code> and the current time. For more information about restore points, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery_HowItWorks.html#howitworks_backup_window\"> Time window for PITR continuous backups</a> in the <i>Amazon Keyspaces Developer Guide</i>. </p> <p>Any number of users can execute up to 4 concurrent restores (any type of restore) in a given account.</p> <p>When you restore using point in time recovery, Amazon Keyspaces restores your source table's schema and data to the state based on the selected timestamp <code>(day:hour:minute:second)</code> to a new table. The Time to Live (TTL) settings are also restored to the state based on the selected timestamp.</p> <p>In addition to the table's schema, data, and TTL settings, <code>RestoreTable</code> restores the capacity mode, encryption, and point-in-time recovery settings from the source table. Unlike the table's schema data and TTL settings, which are restored based on the selected timestamp, these settings are always restored based on the table's settings as of the current time or when the table was deleted.</p> <p>You can also overwrite these settings during restore:</p> <p>\u2022 Read/write capacity mode</p> <p>\u2022 Provisioned throughput capacity settings</p> <p>\u2022 Point-in-time (PITR) settings</p> <p>\u2022 Tags</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery_HowItWorks.html#howitworks_backup_settings\">PITR restore settings</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>Note that the following settings are not restored, and you must configure them manually for the new table:</p> <p>\u2022 Automatic scaling policies (for tables that use provisioned capacity mode)</p> <p>\u2022 Identity and Access Management (IAM) policies</p> <p>\u2022 Amazon CloudWatch metrics and alarms</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreTableRequest"
      },
      "name": "RestoreTable",
      "output": {
        "shape": "RestoreTableResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a set of tags with a Amazon Keyspaces resource. You can then activate these user-defined tags so that they appear on the Cost Management Console for cost allocation tracking. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>For IAM policy examples that show how to control access to Amazon Keyspaces resources based on tags, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/security_iam_id-based-policy-examples-tags\">Amazon Keyspaces resource access based on tags</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the association of tags from a Amazon Keyspaces resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateTable": {
      "documentation": "<p>Adds new columns to the table or updates one of the table's settings, for example capacity mode, encryption, point-in-time recovery, or ttl settings. Note that you can only update one specific table setting per update operation.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTableRequest"
      },
      "name": "UpdateTable",
      "output": {
        "shape": "UpdateTableResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 1000,
      "min": 20,
      "pattern": "arn:(aws[a-zA-Z0-9-]*):cassandra:.+.*",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action. </p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CapacitySpecification": {
      "documentation": "<p>Amazon Keyspaces has two read/write capacity modes for processing reads and writes on your tables: </p> <p>\u2022 On-demand (default)</p> <p>\u2022 Provisioned</p> <p> The read/write capacity mode that you choose controls how you are charged for read and write throughput and how table throughput capacity is managed.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "members": {
        "readCapacityUnits": {
          "documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code> <code>(RCUs)</code>.</p>",
          "shape": "CapacityUnits"
        },
        "throughputMode": {
          "documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> and </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p> <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "ThroughputMode"
        },
        "writeCapacityUnits": {
          "documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code> <code>(WCUs)</code>.</p>",
          "shape": "CapacityUnits"
        }
      },
      "required": [
        "throughputMode"
      ],
      "type": "structure"
    },
    "CapacitySpecificationSummary": {
      "documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> and </p> <p>\u2022 <code>throughputMode:PROVISIONED</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "members": {
        "lastUpdateToPayPerRequestTimestamp": {
          "documentation": "<p>The timestamp of the last operation that changed the provisioned throughput capacity of a table.</p>",
          "shape": "Timestamp"
        },
        "readCapacityUnits": {
          "documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code> <code>(RCUs)</code>.</p>",
          "shape": "CapacityUnits"
        },
        "throughputMode": {
          "documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> and </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input. </p> <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "ThroughputMode"
        },
        "writeCapacityUnits": {
          "documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code> <code>(WCUs)</code>.</p>",
          "shape": "CapacityUnits"
        }
      },
      "required": [
        "throughputMode"
      ],
      "type": "structure"
    },
    "CapacityUnits": {
      "box": true,
      "min": 1,
      "type": "long"
    },
    "ClusteringKey": {
      "documentation": "<p>The optional clustering column portion of your primary key determines how the data is clustered and sorted within each partition.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name(s) of the clustering column(s).</p>",
          "shape": "GenericString"
        },
        "orderBy": {
          "documentation": "<p>Sets the ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "name",
        "orderBy"
      ],
      "type": "structure"
    },
    "ClusteringKeyList": {
      "member": {
        "shape": "ClusteringKey"
      },
      "type": "list"
    },
    "ColumnDefinition": {
      "documentation": "<p>The names and data types of regular columns.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the column.</p>",
          "shape": "GenericString"
        },
        "type": {
          "documentation": "<p>The data type of the column. For a list of available data types, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "ColumnDefinitionList": {
      "member": {
        "shape": "ColumnDefinition"
      },
      "min": 1,
      "type": "list"
    },
    "Comment": {
      "documentation": "<p>An optional comment that describes the table.</p>",
      "members": {
        "message": {
          "documentation": "<p>An optional description of the table.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>Amazon Keyspaces could not complete the requested action. This error may occur if you try to perform an action and the same or a different action is already in progress, or if you try to create a resource that already exists. </p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateKeyspaceRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace to be created.</p>",
          "shape": "KeyspaceName"
        },
        "tags": {
          "documentation": "<p>A list of key-value pair tags to be attached to the keyspace.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "keyspaceName"
      ],
      "type": "structure"
    },
    "CreateKeyspaceResponse": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "CreateTableRequest": {
      "members": {
        "capacitySpecification": {
          "documentation": "<p>Specifies the read/write throughput capacity mode for the table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> and </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p> <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "CapacitySpecification"
        },
        "comment": {
          "documentation": "<p>This parameter allows to enter a description of the table.</p>",
          "shape": "Comment"
        },
        "defaultTimeToLive": {
          "documentation": "<p>The default Time to Live setting in seconds for the table.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL-how-it-works.html#ttl-howitworks_default_ttl\">Setting the default TTL value for a table</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "DefaultTimeToLive"
        },
        "encryptionSpecification": {
          "documentation": "<p>Specifies how the encryption key for encryption at rest is managed for the table. You can choose one of the following KMS key (KMS key):</p> <p>\u2022 <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p> <p>\u2022 <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. This option requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input.</p> <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "EncryptionSpecification"
        },
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace that the table is going to be created in.</p>",
          "shape": "KeyspaceName"
        },
        "pointInTimeRecovery": {
          "documentation": "<p>Specifies if <code>pointInTimeRecovery</code> is enabled or disabled for the table. The options are:</p> <p>\u2022 <code>ENABLED</code> </p> <p>\u2022 <code>DISABLED</code> </p> <p>If it's not specified, the default is <code>DISABLED</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "PointInTimeRecovery"
        },
        "schemaDefinition": {
          "documentation": "<p>The <code>schemaDefinition</code> consists of the following parameters.</p> <p>For each column to be created:</p> <p>\u2022 <code>name</code> - The name of the column.</p> <p>\u2022 <code>type</code> - An Amazon Keyspaces data type. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>The primary key of the table consists of the following columns:</p> <p>\u2022 <code>partitionKeys</code> - The partition key can be a single column, or it can be a compound value composed of two or more columns. The partition key portion of the primary key is required and determines how Amazon Keyspaces stores your data.</p> <p>\u2022 <code>name</code> - The name of each partition key column.</p> <p>\u2022 <code>clusteringKeys</code> - The optional clustering column portion of your primary key determines how the data is clustered and sorted within each partition.</p> <p>\u2022 <code>name</code> - The name of the clustering column. </p> <p>\u2022 <code>orderBy</code> - Sets the ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p> <p>To define a column as static use <code>staticColumns</code> - Static columns store values that are shared by all rows in the same partition:</p> <p>\u2022 <code>name</code> - The name of the column.</p> <p>\u2022 <code>type</code> - An Amazon Keyspaces data type.</p>",
          "shape": "SchemaDefinition"
        },
        "tableName": {
          "documentation": "<p>The name of the table.</p>",
          "shape": "TableName"
        },
        "tags": {
          "documentation": "<p>A list of key-value pair tags to be attached to the resource. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "TagList"
        },
        "ttl": {
          "documentation": "<p>Enables Time to Live custom settings for the table. The options are:</p> <p>\u2022 <code>status:enabled</code> </p> <p>\u2022 <code>status:disabled</code> </p> <p>The default is <code>status:disabled</code>. After <code>ttl</code> is enabled, you can't disable it for the table.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL.html\">Expiring data by using Amazon Keyspaces Time to Live (TTL)</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "TimeToLive"
        }
      },
      "required": [
        "keyspaceName",
        "tableName",
        "schemaDefinition"
      ],
      "type": "structure"
    },
    "CreateTableResponse": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The unique identifier of the table in the format of an Amazon Resource Name (ARN).</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "DefaultTimeToLive": {
      "box": true,
      "max": 630720000,
      "min": 1,
      "type": "integer"
    },
    "DeleteKeyspaceRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace to be deleted.</p>",
          "shape": "KeyspaceName"
        }
      },
      "required": [
        "keyspaceName"
      ],
      "type": "structure"
    },
    "DeleteKeyspaceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteTableRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace of the to be deleted table.</p>",
          "shape": "KeyspaceName"
        },
        "tableName": {
          "documentation": "<p>The name of the table to be deleted.</p>",
          "shape": "TableName"
        }
      },
      "required": [
        "keyspaceName",
        "tableName"
      ],
      "type": "structure"
    },
    "DeleteTableResponse": {
      "members": {},
      "type": "structure"
    },
    "EncryptionSpecification": {
      "documentation": "<p>Amazon Keyspaces encrypts and decrypts the table data at rest transparently and integrates with Key Management Service for storing and managing the encryption key. You can choose one of the following KMS keys (KMS keys):</p> <p>\u2022 Amazon Web Services owned key - This is the default encryption type. The key is owned by Amazon Keyspaces (no additional charge). </p> <p>\u2022 Customer managed key - This key is stored in your account and is created, owned, and managed by you. You have full control over the customer managed key (KMS charges apply).</p> <p>For more information about encryption at rest in Amazon Keyspaces, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p> <p>For more information about KMS, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">KMS management service concepts</a> in the <i>Key Management Service Developer Guide</i>.</p>",
      "members": {
        "kmsKeyIdentifier": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the customer managed KMS key, for example <code>kms_key_identifier:ARN</code>.</p>",
          "shape": "kmsKeyARN"
        },
        "type": {
          "documentation": "<p>The encryption option specified for the table. You can choose one of the following KMS keys (KMS keys):</p> <p>\u2022 <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p> <p>\u2022 <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. This option requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input. </p> <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "EncryptionType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "EncryptionType": {
      "enum": [
        "CUSTOMER_MANAGED_KMS_KEY",
        "AWS_OWNED_KMS_KEY"
      ],
      "type": "string"
    },
    "GenericString": {
      "type": "string"
    },
    "GetKeyspaceRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace.</p>",
          "shape": "KeyspaceName"
        }
      },
      "required": [
        "keyspaceName"
      ],
      "type": "structure"
    },
    "GetKeyspaceResponse": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace.</p>",
          "shape": "KeyspaceName"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the keyspace.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "keyspaceName",
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetTableRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace that the table is stored in.</p>",
          "shape": "KeyspaceName"
        },
        "tableName": {
          "documentation": "<p>The name of the table.</p>",
          "shape": "TableName"
        }
      },
      "required": [
        "keyspaceName",
        "tableName"
      ],
      "type": "structure"
    },
    "GetTableResponse": {
      "members": {
        "capacitySpecification": {
          "documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> </p>",
          "shape": "CapacitySpecificationSummary"
        },
        "comment": {
          "documentation": "<p>The the description of the specified table.</p>",
          "shape": "Comment"
        },
        "creationTimestamp": {
          "documentation": "<p>The creation timestamp of the specified table.</p>",
          "shape": "Timestamp"
        },
        "defaultTimeToLive": {
          "documentation": "<p>The default Time to Live settings of the specified table.</p>",
          "shape": "DefaultTimeToLive"
        },
        "encryptionSpecification": {
          "documentation": "<p>The encryption settings of the specified table.</p>",
          "shape": "EncryptionSpecification"
        },
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace that the specified table is stored in.</p>",
          "shape": "KeyspaceName"
        },
        "pointInTimeRecovery": {
          "documentation": "<p>The point-in-time recovery status of the specified table.</p>",
          "shape": "PointInTimeRecoverySummary"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the specified table.</p>",
          "shape": "ARN"
        },
        "schemaDefinition": {
          "documentation": "<p>The schema definition of the specified table.</p>",
          "shape": "SchemaDefinition"
        },
        "status": {
          "documentation": "<p>The current status of the specified table.</p>",
          "shape": "TableStatus"
        },
        "tableName": {
          "documentation": "<p>The name of the specified table.</p>",
          "shape": "TableName"
        },
        "ttl": {
          "documentation": "<p>The custom Time to Live settings of the specified table.</p>",
          "shape": "TimeToLive"
        }
      },
      "required": [
        "keyspaceName",
        "tableName",
        "resourceArn"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>Amazon Keyspaces was unable to fully process this request because of an internal server error.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "KeyspaceName": {
      "max": 48,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_]{1,47}",
      "type": "string"
    },
    "KeyspaceSummary": {
      "documentation": "<p>Represents the properties of a keyspace.</p>",
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace.</p>",
          "shape": "KeyspaceName"
        },
        "resourceArn": {
          "documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "keyspaceName",
        "resourceArn"
      ],
      "type": "structure"
    },
    "KeyspaceSummaryList": {
      "member": {
        "shape": "KeyspaceSummary"
      },
      "type": "list"
    },
    "ListKeyspacesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The total number of keyspaces to return in the output. If the total number of keyspaces available is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as argument of a subsequent API invocation.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListKeyspacesResponse": {
      "members": {
        "keyspaces": {
          "documentation": "<p>A list of keyspaces.</p>",
          "shape": "KeyspaceSummaryList"
        },
        "nextToken": {
          "documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "keyspaces"
      ],
      "type": "structure"
    },
    "ListTablesRequest": {
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace.</p>",
          "shape": "KeyspaceName"
        },
        "maxResults": {
          "documentation": "<p>The total number of tables to return in the output. If the total number of tables available is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "keyspaceName"
      ],
      "type": "structure"
    },
    "ListTablesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>",
          "shape": "NextToken"
        },
        "tables": {
          "documentation": "<p>A list of tables.</p>",
          "shape": "TableSummaryList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The total number of tags to return in the output. If the total number of tags available is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as argument of a subsequent API invocation.</p>",
          "shape": "NextToken"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Keyspaces resource.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>",
          "shape": "NextToken"
        },
        "tags": {
          "documentation": "<p>A list of tags.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "PartitionKey": {
      "documentation": "<p>The partition key portion of the primary key is required and determines how Amazon Keyspaces stores the data. The partition key can be a single column, or it can be a compound value composed of two or more columns.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name(s) of the partition key column(s).</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "PartitionKeyList": {
      "member": {
        "shape": "PartitionKey"
      },
      "min": 1,
      "type": "list"
    },
    "PointInTimeRecovery": {
      "documentation": "<p>Point-in-time recovery (PITR) helps protect your Amazon Keyspaces tables from accidental write or delete operations by providing you continuous backups of your table data.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "members": {
        "status": {
          "documentation": "<p>The options are:</p> <p>\u2022 <code>ENABLED</code> </p> <p>\u2022 <code>DISABLED</code> </p>",
          "shape": "PointInTimeRecoveryStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "PointInTimeRecoveryStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "PointInTimeRecoverySummary": {
      "documentation": "<p>The point-in-time recovery status of the specified table.</p>",
      "members": {
        "earliestRestorableTimestamp": {
          "documentation": "<p>Specifies the earliest possible restore point of the table in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>Shows if point-in-time recovery is enabled or disabled for the specified table.</p>",
          "shape": "PointInTimeRecoveryStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The operation tried to access a keyspace or table that doesn't exist. The resource might not be specified correctly, or its status might not be <code>ACTIVE</code>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceArn": {
          "documentation": "<p>The unique identifier in the format of Amazon Resource Name (ARN), for the resource not found.</p>",
          "shape": "ARN"
        }
      },
      "type": "structure"
    },
    "RestoreTableRequest": {
      "members": {
        "capacitySpecificationOverride": {
          "documentation": "<p>Specifies the read/write throughput capacity mode for the target table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p> <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "CapacitySpecification"
        },
        "encryptionSpecificationOverride": {
          "documentation": "<p>Specifies the encryption settings for the target table. You can choose one of the following KMS key (KMS key):</p> <p>\u2022 <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p> <p>\u2022 <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. This option requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input. </p> <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "EncryptionSpecification"
        },
        "pointInTimeRecoveryOverride": {
          "documentation": "<p>Specifies the <code>pointInTimeRecovery</code> settings for the target table. The options are:</p> <p>\u2022 <code>ENABLED</code> </p> <p>\u2022 <code>DISABLED</code> </p> <p>If it's not specified, the default is <code>DISABLED</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "PointInTimeRecovery"
        },
        "restoreTimestamp": {
          "documentation": "<p>The restore timestamp in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "sourceKeyspaceName": {
          "documentation": "<p>The keyspace name of the source table.</p>",
          "shape": "KeyspaceName"
        },
        "sourceTableName": {
          "documentation": "<p>The name of the source table.</p>",
          "shape": "TableName"
        },
        "tagsOverride": {
          "documentation": "<p>A list of key-value pair tags to be attached to the restored table. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "TagList"
        },
        "targetKeyspaceName": {
          "documentation": "<p>The name of the target keyspace.</p>",
          "shape": "KeyspaceName"
        },
        "targetTableName": {
          "documentation": "<p>The name of the target table.</p>",
          "shape": "TableName"
        }
      },
      "required": [
        "sourceKeyspaceName",
        "sourceTableName",
        "targetKeyspaceName",
        "targetTableName"
      ],
      "type": "structure"
    },
    "RestoreTableResponse": {
      "members": {
        "restoredTableARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the restored table.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "restoredTableARN"
      ],
      "type": "structure"
    },
    "SchemaDefinition": {
      "documentation": "<p>Describes the schema of the table.</p>",
      "members": {
        "allColumns": {
          "documentation": "<p>The regular columns of the table.</p>",
          "shape": "ColumnDefinitionList"
        },
        "clusteringKeys": {
          "documentation": "<p>The columns that are part of the clustering key of the table.</p>",
          "shape": "ClusteringKeyList"
        },
        "partitionKeys": {
          "documentation": "<p>The columns that are part of the partition key of the table .</p>",
          "shape": "PartitionKeyList"
        },
        "staticColumns": {
          "documentation": "<p>The columns that have been defined as <code>STATIC</code>. Static columns store values that are shared by all rows in the same partition.</p>",
          "shape": "StaticColumnList"
        }
      },
      "required": [
        "allColumns",
        "partitionKeys"
      ],
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The operation exceeded the service quota for this resource. For more information on service quotas, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/quotas.html\">Quotas</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SortOrder": {
      "enum": [
        "ASC",
        "DESC"
      ],
      "type": "string"
    },
    "StaticColumn": {
      "documentation": "<p>The static columns of the table. Static columns store values that are shared by all rows in the same partition.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the static column.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "StaticColumnList": {
      "member": {
        "shape": "StaticColumn"
      },
      "type": "list"
    },
    "String": {
      "type": "string"
    },
    "TableName": {
      "max": 48,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_]{1,47}",
      "type": "string"
    },
    "TableStatus": {
      "enum": [
        "ACTIVE",
        "CREATING",
        "UPDATING",
        "DELETING",
        "DELETED",
        "RESTORING",
        "INACCESSIBLE_ENCRYPTION_CREDENTIALS"
      ],
      "type": "string"
    },
    "TableSummary": {
      "documentation": "<p>Returns the name of the specified table, the keyspace it is stored in, and the unique identifier in the format of an Amazon Resource Name (ARN).</p>",
      "members": {
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace that the table is stored in.</p>",
          "shape": "KeyspaceName"
        },
        "resourceArn": {
          "documentation": "<p>The unique identifier of the table in the format of an Amazon Resource Name (ARN).</p>",
          "shape": "ARN"
        },
        "tableName": {
          "documentation": "<p>The name of the table.</p>",
          "shape": "TableName"
        }
      },
      "required": [
        "keyspaceName",
        "tableName",
        "resourceArn"
      ],
      "type": "structure"
    },
    "TableSummaryList": {
      "member": {
        "shape": "TableSummary"
      },
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>Describes a tag. A tag is a key-value pair. You can add up to 50 tags to a single Amazon Keyspaces resource.</p> <p>Amazon Web Services-assigned tag names and values are automatically assigned the <code>aws:</code> prefix, which the user cannot assign. Amazon Web Services-assigned tag names do not count towards the tag limit of 50. User-assigned tag names have the prefix <code>user:</code> in the Cost Allocation Report. You cannot backdate the application of a tag.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "members": {
        "key": {
          "documentation": "<p>The key of the tag. Tag keys are case sensitive. Each Amazon Keyspaces resource can only have up to one tag with the same key. If you try to add an existing tag (same key), the existing tag value will be updated to the new value.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The value of the tag. Tag values are case-sensitive and can be null.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagList": {
      "max": 60,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Keyspaces resource to which to add tags.</p>",
          "shape": "ARN"
        },
        "tags": {
          "documentation": "<p>The tags to be assigned to the Amazon Keyspaces resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ThroughputMode": {
      "enum": [
        "PAY_PER_REQUEST",
        "PROVISIONED"
      ],
      "type": "string"
    },
    "TimeToLive": {
      "documentation": "<p>Enable custom Time to Live (TTL) settings for rows and columns without setting a TTL default for the specified table.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL-how-it-works.html#ttl-howitworks_enabling\">Enabling TTL on tables</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
      "members": {
        "status": {
          "documentation": "<p>Shows how to enable custom Time to Live (TTL) settings for the specified table.</p>",
          "shape": "TimeToLiveStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "TimeToLiveStatus": {
      "enum": [
        "ENABLED"
      ],
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Keyspaces resource that the tags will be removed from. This value is an Amazon Resource Name (ARN).</p>",
          "shape": "ARN"
        },
        "tags": {
          "documentation": "<p>A list of existing tags to be removed from the Amazon Keyspaces resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateTableRequest": {
      "members": {
        "addColumns": {
          "documentation": "<p>For each column to be added to the specified table:</p> <p>\u2022 <code>name</code> - The name of the column.</p> <p>\u2022 <code>type</code> - An Amazon Keyspaces data type. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "ColumnDefinitionList"
        },
        "capacitySpecification": {
          "documentation": "<p>Modifies the read/write throughput capacity mode for the table. The options are:</p> <p>\u2022 <code>throughputMode:PAY_PER_REQUEST</code> and </p> <p>\u2022 <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p> <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "CapacitySpecification"
        },
        "defaultTimeToLive": {
          "documentation": "<p>The default Time to Live setting in seconds for the table.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL-how-it-works.html#ttl-howitworks_default_ttl\">Setting the default TTL value for a table</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "DefaultTimeToLive"
        },
        "encryptionSpecification": {
          "documentation": "<p>Modifies the encryption settings of the table. You can choose one of the following KMS key (KMS key):</p> <p>\u2022 <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p> <p>\u2022 <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. This option requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input. </p> <p>The default is <code>AWS_OWNED_KMS_KEY</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "EncryptionSpecification"
        },
        "keyspaceName": {
          "documentation": "<p>The name of the keyspace the specified table is stored in.</p>",
          "shape": "KeyspaceName"
        },
        "pointInTimeRecovery": {
          "documentation": "<p>Modifies the <code>pointInTimeRecovery</code> settings of the table. The options are:</p> <p>\u2022 <code>ENABLED</code> </p> <p>\u2022 <code>DISABLED</code> </p> <p>If it's not specified, the default is <code>DISABLED</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "PointInTimeRecovery"
        },
        "tableName": {
          "documentation": "<p>The name of the table.</p>",
          "shape": "TableName"
        },
        "ttl": {
          "documentation": "<p>Modifies Time to Live custom settings for the table. The options are:</p> <p>\u2022 <code>status:enabled</code> </p> <p>\u2022 <code>status:disabled</code> </p> <p>The default is <code>status:disabled</code>. After <code>ttl</code> is enabled, you can't disable it for the table.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL.html\">Expiring data by using Amazon Keyspaces Time to Live (TTL)</a> in the <i>Amazon Keyspaces Developer Guide</i>.</p>",
          "shape": "TimeToLive"
        }
      },
      "required": [
        "keyspaceName",
        "tableName"
      ],
      "type": "structure"
    },
    "UpdateTableResponse": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the modified table.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The operation failed due to an invalid or malformed request.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "kmsKeyARN": {
      "max": 5096,
      "min": 1,
      "type": "string"
    }
  },
  "version": "2.0"
}
