{
  "documentation": "<fullname>Amazon EC2 Auto Scaling</fullname> <p>Amazon EC2 Auto Scaling is designed to automatically launch and terminate EC2 instances based on user-defined scaling policies, scheduled actions, and health checks.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/\">Amazon EC2 Auto Scaling User Guide</a> and the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/Welcome.html\">Amazon EC2 Auto Scaling API Reference</a>.</p>",
  "metadata": {
    "apiVersion": "2011-01-01",
    "endpointPrefix": "autoscaling",
    "protocol": "query",
    "serviceFullName": "Auto Scaling",
    "serviceId": "Auto Scaling",
    "signatureVersion": "v4",
    "uid": "autoscaling-2011-01-01",
    "xmlNamespace": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
  },
  "operations": {
    "AttachInstances": {
      "documentation": "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html\">Attach EC2 instances to your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachInstancesQuery"
      },
      "name": "AttachInstances"
    },
    "AttachLoadBalancerTargetGroups": {
      "documentation": "<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>This operation is used with the following load balancer types: </p> <ul> <li> <p>Application Load Balancer - Operates at the application layer (layer 7) and supports HTTP and HTTPS. </p> </li> <li> <p>Network Load Balancer - Operates at the transport layer (layer 4) and supports TCP, TLS, and UDP. </p> </li> <li> <p>Gateway Load Balancer - Operates at the network layer (layer 3).</p> </li> </ul> <p>To describe the target groups for an Auto Scaling group, call the <a>DescribeLoadBalancerTargetGroups</a> API. To detach the target group from the Auto Scaling group, call the <a>DetachLoadBalancerTargetGroups</a> API.</p> <p>This operation is additive and does not detach existing target groups or Classic Load Balancers from the Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachLoadBalancerTargetGroupsType"
      },
      "name": "AttachLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "AttachLoadBalancerTargetGroupsResult",
        "shape": "AttachLoadBalancerTargetGroupsResultType"
      }
    },
    "AttachLoadBalancers": {
      "documentation": "<note> <p>To attach an Application Load Balancer, Network Load Balancer, or Gateway Load Balancer, use the <a>AttachLoadBalancerTargetGroups</a> API operation instead.</p> </note> <p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group. Amazon EC2 Auto Scaling registers the running instances with these Classic Load Balancers.</p> <p>To describe the load balancers for an Auto Scaling group, call the <a>DescribeLoadBalancers</a> API. To detach a load balancer from the Auto Scaling group, call the <a>DetachLoadBalancers</a> API.</p> <p>This operation is additive and does not detach existing Classic Load Balancers or target groups from the Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachLoadBalancersType"
      },
      "name": "AttachLoadBalancers",
      "output": {
        "resultWrapper": "AttachLoadBalancersResult",
        "shape": "AttachLoadBalancersResultType"
      }
    },
    "BatchDeleteScheduledAction": {
      "documentation": "<p>Deletes one or more scheduled actions for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteScheduledActionType"
      },
      "name": "BatchDeleteScheduledAction",
      "output": {
        "resultWrapper": "BatchDeleteScheduledActionResult",
        "shape": "BatchDeleteScheduledActionAnswer"
      }
    },
    "BatchPutScheduledUpdateGroupAction": {
      "documentation": "<p>Creates or updates one or more scheduled scaling actions for an Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchPutScheduledUpdateGroupActionType"
      },
      "name": "BatchPutScheduledUpdateGroupAction",
      "output": {
        "resultWrapper": "BatchPutScheduledUpdateGroupActionResult",
        "shape": "BatchPutScheduledUpdateGroupActionAnswer"
      }
    },
    "CancelInstanceRefresh": {
      "documentation": "<p>Cancels an instance refresh operation in progress. Cancellation does not roll back any replacements that have already been completed, but it prevents new replacements from being started. </p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group after you make configuration changes.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ActiveInstanceRefreshNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelInstanceRefreshType"
      },
      "name": "CancelInstanceRefresh",
      "output": {
        "resultWrapper": "CancelInstanceRefreshResult",
        "shape": "CancelInstanceRefreshAnswer"
      }
    },
    "CompleteLifecycleAction": {
      "documentation": "<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, send a callback by using the <a>CompleteLifecycleAction</a> API call.</b> </p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CompleteLifecycleActionType"
      },
      "name": "CompleteLifecycleAction",
      "output": {
        "resultWrapper": "CompleteLifecycleActionResult",
        "shape": "CompleteLifecycleActionAnswer"
      }
    },
    "CreateAutoScalingGroup": {
      "documentation": "<p> <b>We strongly recommend using a launch template when calling this operation to ensure full functionality for Amazon EC2 Auto Scaling and Amazon EC2.</b> </p> <p>Creates an Auto Scaling group with the specified name and attributes. </p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. To query this limit, call the <a>DescribeAccountLimits</a> API. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For introductory exercises for creating an Auto Scaling group, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/GettingStartedTutorial.html\">Getting started with Amazon EC2 Auto Scaling</a> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-register-lbs-with-asg.html\">Tutorial: Set up a scaled and load-balanced application</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html\">Auto Scaling groups</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Every Auto Scaling group has three size properties (<code>DesiredCapacity</code>, <code>MaxSize</code>, and <code>MinSize</code>). Usually, you set these sizes based on a specific number of instances. However, if you configure a mixed instances policy that defines weights for the instance types, you must specify these sizes with the same units that you use for weighting instances.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAutoScalingGroupType"
      },
      "name": "CreateAutoScalingGroup"
    },
    "CreateLaunchConfiguration": {
      "documentation": "<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. To query this limit, call the <a>DescribeAccountLimits</a> API. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html\">Launch configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLaunchConfigurationType"
      },
      "name": "CreateLaunchConfiguration"
    },
    "CreateOrUpdateTags": {
      "documentation": "<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-tagging.html\">Tag Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ResourceInUseFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOrUpdateTagsType"
      },
      "name": "CreateOrUpdateTags"
    },
    "DeleteAutoScalingGroup": {
      "documentation": "<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call the <a>DetachInstances</a> API with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call the <a>UpdateAutoScalingGroup</a> API and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAutoScalingGroupType"
      },
      "name": "DeleteAutoScalingGroup"
    },
    "DeleteLaunchConfiguration": {
      "documentation": "<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchConfigurationNameType"
      },
      "name": "DeleteLaunchConfiguration"
    },
    "DeleteLifecycleHook": {
      "documentation": "<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLifecycleHookType"
      },
      "name": "DeleteLifecycleHook",
      "output": {
        "resultWrapper": "DeleteLifecycleHookResult",
        "shape": "DeleteLifecycleHookAnswer"
      }
    },
    "DeleteNotificationConfiguration": {
      "documentation": "<p>Deletes the specified notification.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotificationConfigurationType"
      },
      "name": "DeleteNotificationConfiguration"
    },
    "DeletePolicy": {
      "documentation": "<p>Deletes the specified scaling policy.</p> <p>Deleting either a step scaling policy or a simple scaling policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/deleting-scaling-policy.html\">Deleting a scaling policy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyType"
      },
      "name": "DeletePolicy"
    },
    "DeleteScheduledAction": {
      "documentation": "<p>Deletes the specified scheduled action.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteScheduledActionType"
      },
      "name": "DeleteScheduledAction"
    },
    "DeleteTags": {
      "documentation": "<p>Deletes the specified tags.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ResourceInUseFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsType"
      },
      "name": "DeleteTags"
    },
    "DeleteWarmPool": {
      "documentation": "<p>Deletes the warm pool for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceInUseFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWarmPoolType"
      },
      "name": "DeleteWarmPool",
      "output": {
        "resultWrapper": "DeleteWarmPoolResult",
        "shape": "DeleteWarmPoolAnswer"
      }
    },
    "DescribeAccountLimits": {
      "documentation": "<p>Describes the current Amazon EC2 Auto Scaling resource quotas for your account.</p> <p>When you establish an Amazon Web Services account, the account has initial quotas on the maximum number of Auto Scaling groups and launch configurations that you can create in a given Region. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAccountLimits",
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "shape": "DescribeAccountLimitsAnswer"
      }
    },
    "DescribeAdjustmentTypes": {
      "documentation": "<p>Describes the available adjustment types for step scaling and simple scaling policies.</p> <p>The following adjustment types are supported:</p> <ul> <li> <p> <code>ChangeInCapacity</code> </p> </li> <li> <p> <code>ExactCapacity</code> </p> </li> <li> <p> <code>PercentChangeInCapacity</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAdjustmentTypes",
      "output": {
        "resultWrapper": "DescribeAdjustmentTypesResult",
        "shape": "DescribeAdjustmentTypesAnswer"
      }
    },
    "DescribeAutoScalingGroups": {
      "documentation": "<p>Gets information about the Auto Scaling groups in the account and Region.</p> <p>If you specify Auto Scaling group names, the output includes information for only the specified Auto Scaling groups. If you specify filters, the output includes information for only those Auto Scaling groups that meet the filter criteria. If you do not specify group names or filters, the output includes information for all Auto Scaling groups. </p> <p>This operation also returns information about instances in Auto Scaling groups. To retrieve information about the instances in a warm pool, you must call the <a>DescribeWarmPool</a> API. </p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AutoScalingGroupNamesType"
      },
      "name": "DescribeAutoScalingGroups",
      "output": {
        "resultWrapper": "DescribeAutoScalingGroupsResult",
        "shape": "AutoScalingGroupsType"
      }
    },
    "DescribeAutoScalingInstances": {
      "documentation": "<p>Gets information about the Auto Scaling instances in the account and Region.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutoScalingInstancesType"
      },
      "name": "DescribeAutoScalingInstances",
      "output": {
        "resultWrapper": "DescribeAutoScalingInstancesResult",
        "shape": "AutoScalingInstancesType"
      }
    },
    "DescribeAutoScalingNotificationTypes": {
      "documentation": "<p>Describes the notification types that are supported by Amazon EC2 Auto Scaling.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAutoScalingNotificationTypes",
      "output": {
        "resultWrapper": "DescribeAutoScalingNotificationTypesResult",
        "shape": "DescribeAutoScalingNotificationTypesAnswer"
      }
    },
    "DescribeInstanceRefreshes": {
      "documentation": "<p>Gets information about the instance refreshes for the specified Auto Scaling group.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group after you make configuration changes.</p> <p>To help you determine the status of an instance refresh, this operation returns information about the instance refreshes you previously initiated, including their status, end time, the percentage of the instance refresh that is complete, and the number of instances remaining to update before the instance refresh is complete.</p> <p>The following are the possible statuses: </p> <ul> <li> <p> <code>Pending</code> - The request was created, but the operation has not started.</p> </li> <li> <p> <code>InProgress</code> - The operation is in progress.</p> </li> <li> <p> <code>Successful</code> - The operation completed successfully.</p> </li> <li> <p> <code>Failed</code> - The operation failed to complete. You can troubleshoot using the status reason and the scaling activities. </p> </li> <li> <p> <code>Cancelling</code> - An ongoing operation is being cancelled. Cancellation does not roll back any replacements that have already been completed, but it prevents new replacements from being started. </p> </li> <li> <p> <code>Cancelled</code> - The operation is cancelled. </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceRefreshesType"
      },
      "name": "DescribeInstanceRefreshes",
      "output": {
        "resultWrapper": "DescribeInstanceRefreshesResult",
        "shape": "DescribeInstanceRefreshesAnswer"
      }
    },
    "DescribeLaunchConfigurations": {
      "documentation": "<p>Gets information about the launch configurations in the account and Region.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchConfigurationNamesType"
      },
      "name": "DescribeLaunchConfigurations",
      "output": {
        "resultWrapper": "DescribeLaunchConfigurationsResult",
        "shape": "LaunchConfigurationsType"
      }
    },
    "DescribeLifecycleHookTypes": {
      "documentation": "<p>Describes the available types of lifecycle hooks.</p> <p>The following hook types are supported:</p> <ul> <li> <p> <code>autoscaling:EC2_INSTANCE_LAUNCHING</code> </p> </li> <li> <p> <code>autoscaling:EC2_INSTANCE_TERMINATING</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeLifecycleHookTypes",
      "output": {
        "resultWrapper": "DescribeLifecycleHookTypesResult",
        "shape": "DescribeLifecycleHookTypesAnswer"
      }
    },
    "DescribeLifecycleHooks": {
      "documentation": "<p>Gets information about the lifecycle hooks for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLifecycleHooksType"
      },
      "name": "DescribeLifecycleHooks",
      "output": {
        "resultWrapper": "DescribeLifecycleHooksResult",
        "shape": "DescribeLifecycleHooksAnswer"
      }
    },
    "DescribeLoadBalancerTargetGroups": {
      "documentation": "<p>Gets information about the Elastic Load Balancing target groups for the specified Auto Scaling group.</p> <p>To determine the attachment status of the target group, use the <code>State</code> element in the response. When you attach a target group to an Auto Scaling group, the initial <code>State</code> value is <code>Adding</code>. The state transitions to <code>Added</code> after all Auto Scaling instances are registered with the target group. If Elastic Load Balancing health checks are enabled for the Auto Scaling group, the state transitions to <code>InService</code> after at least one Auto Scaling instance passes the health check. When the target group is in the <code>InService</code> state, Amazon EC2 Auto Scaling can terminate and replace any instances that are reported as unhealthy. If no registered instances pass the health checks, the target group doesn't enter the <code>InService</code> state. </p> <p>Target groups also have an <code>InService</code> state if you attach them in the <a>CreateAutoScalingGroup</a> API call. If your target group state is <code>InService</code>, but it is not working properly, check the scaling activities by calling <a>DescribeScalingActivities</a> and take any corrective actions necessary.</p> <p>For help with failed health checks, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ts-as-healthchecks.html\">Troubleshooting Amazon EC2 Auto Scaling: Health checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancerTargetGroupsRequest"
      },
      "name": "DescribeLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "DescribeLoadBalancerTargetGroupsResult",
        "shape": "DescribeLoadBalancerTargetGroupsResponse"
      }
    },
    "DescribeLoadBalancers": {
      "documentation": "<p>Gets information about the load balancers for the specified Auto Scaling group.</p> <p>This operation describes only Classic Load Balancers. If you have Application Load Balancers, Network Load Balancers, or Gateway Load Balancer, use the <a>DescribeLoadBalancerTargetGroups</a> API instead.</p> <p>To determine the attachment status of the load balancer, use the <code>State</code> element in the response. When you attach a load balancer to an Auto Scaling group, the initial <code>State</code> value is <code>Adding</code>. The state transitions to <code>Added</code> after all Auto Scaling instances are registered with the load balancer. If Elastic Load Balancing health checks are enabled for the Auto Scaling group, the state transitions to <code>InService</code> after at least one Auto Scaling instance passes the health check. When the load balancer is in the <code>InService</code> state, Amazon EC2 Auto Scaling can terminate and replace any instances that are reported as unhealthy. If no registered instances pass the health checks, the load balancer doesn't enter the <code>InService</code> state. </p> <p>Load balancers also have an <code>InService</code> state if you attach them in the <a>CreateAutoScalingGroup</a> API call. If your load balancer state is <code>InService</code>, but it is not working properly, check the scaling activities by calling <a>DescribeScalingActivities</a> and take any corrective actions necessary.</p> <p>For help with failed health checks, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ts-as-healthchecks.html\">Troubleshooting Amazon EC2 Auto Scaling: Health checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "resultWrapper": "DescribeLoadBalancersResult",
        "shape": "DescribeLoadBalancersResponse"
      }
    },
    "DescribeMetricCollectionTypes": {
      "documentation": "<p>Describes the available CloudWatch metrics for Amazon EC2 Auto Scaling.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeMetricCollectionTypes",
      "output": {
        "resultWrapper": "DescribeMetricCollectionTypesResult",
        "shape": "DescribeMetricCollectionTypesAnswer"
      }
    },
    "DescribeNotificationConfigurations": {
      "documentation": "<p>Gets information about the Amazon SNS notifications that are configured for one or more Auto Scaling groups.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotificationConfigurationsType"
      },
      "name": "DescribeNotificationConfigurations",
      "output": {
        "resultWrapper": "DescribeNotificationConfigurationsResult",
        "shape": "DescribeNotificationConfigurationsAnswer"
      }
    },
    "DescribePolicies": {
      "documentation": "<p>Gets information about the scaling policies in the account and Region.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePoliciesType"
      },
      "name": "DescribePolicies",
      "output": {
        "resultWrapper": "DescribePoliciesResult",
        "shape": "PoliciesType"
      }
    },
    "DescribeScalingActivities": {
      "documentation": "<p>Gets information about the scaling activities in the account and Region.</p> <p>When scaling events occur, you see a record of the scaling activity in the scaling activities. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-verify-scaling-activity.html\">Verifying a scaling activity for an Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If the scaling event succeeds, the value of the <code>StatusCode</code> element in the response is <code>Successful</code>. If an attempt to launch instances failed, the <code>StatusCode</code> value is <code>Failed</code> or <code>Cancelled</code> and the <code>StatusMessage</code> element in the response indicates the cause of the failure. For help interpreting the <code>StatusMessage</code>, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/CHAP_Troubleshooting.html\">Troubleshooting Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeScalingActivitiesType"
      },
      "name": "DescribeScalingActivities",
      "output": {
        "resultWrapper": "DescribeScalingActivitiesResult",
        "shape": "ActivitiesType"
      }
    },
    "DescribeScalingProcessTypes": {
      "documentation": "<p>Describes the scaling process types for use with the <a>ResumeProcesses</a> and <a>SuspendProcesses</a> APIs.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeScalingProcessTypes",
      "output": {
        "resultWrapper": "DescribeScalingProcessTypesResult",
        "shape": "ProcessesType"
      }
    },
    "DescribeScheduledActions": {
      "documentation": "<p>Gets information about the scheduled actions that haven't run or that have not reached their end time.</p> <p>To describe the scaling activities for scheduled actions that have already run, call the <a>DescribeScalingActivities</a> API.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeScheduledActionsType"
      },
      "name": "DescribeScheduledActions",
      "output": {
        "resultWrapper": "DescribeScheduledActionsResult",
        "shape": "ScheduledActionsType"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-tagging.html\">Tag Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsType"
      },
      "name": "DescribeTags",
      "output": {
        "resultWrapper": "DescribeTagsResult",
        "shape": "TagsType"
      }
    },
    "DescribeTerminationPolicyTypes": {
      "documentation": "<p>Describes the termination policies supported by Amazon EC2 Auto Scaling.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-termination-policies.html\">Work with Amazon EC2 Auto Scaling termination policies</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeTerminationPolicyTypes",
      "output": {
        "resultWrapper": "DescribeTerminationPolicyTypesResult",
        "shape": "DescribeTerminationPolicyTypesAnswer"
      }
    },
    "DescribeWarmPool": {
      "documentation": "<p>Gets information about a warm pool and its instances.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWarmPoolType"
      },
      "name": "DescribeWarmPool",
      "output": {
        "resultWrapper": "DescribeWarmPoolResult",
        "shape": "DescribeWarmPoolAnswer"
      }
    },
    "DetachInstances": {
      "documentation": "<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independent of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic Load Balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/detach-instance-asg.html\">Detach EC2 instances from your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachInstancesQuery"
      },
      "name": "DetachInstances",
      "output": {
        "resultWrapper": "DetachInstancesResult",
        "shape": "DetachInstancesAnswer"
      }
    },
    "DetachLoadBalancerTargetGroups": {
      "documentation": "<p>Detaches one or more target groups from the specified Auto Scaling group.</p> <p>When you detach a target group, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the target group using the <a>DescribeLoadBalancerTargetGroups</a> API call. The instances remain running.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachLoadBalancerTargetGroupsType"
      },
      "name": "DetachLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "DetachLoadBalancerTargetGroupsResult",
        "shape": "DetachLoadBalancerTargetGroupsResultType"
      }
    },
    "DetachLoadBalancers": {
      "documentation": "<p>Detaches one or more Classic Load Balancers from the specified Auto Scaling group.</p> <p>This operation detaches only Classic Load Balancers. If you have Application Load Balancers, Network Load Balancers, or Gateway Load Balancer, use the <a>DetachLoadBalancerTargetGroups</a> API instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using the <a>DescribeLoadBalancers</a> API call. The instances remain running.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachLoadBalancersType"
      },
      "name": "DetachLoadBalancers",
      "output": {
        "resultWrapper": "DetachLoadBalancersResult",
        "shape": "DetachLoadBalancersResultType"
      }
    },
    "DisableMetricsCollection": {
      "documentation": "<p>Disables group metrics collection for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableMetricsCollectionQuery"
      },
      "name": "DisableMetricsCollection"
    },
    "EnableMetricsCollection": {
      "documentation": "<p>Enables group metrics collection for the specified Auto Scaling group.</p> <p>You can use these metrics to track changes in an Auto Scaling group and to set alarms on threshold values. You can view group metrics using the Amazon EC2 Auto Scaling console or the CloudWatch console. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-cloudwatch-monitoring.html\">Monitor CloudWatch metrics for your Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableMetricsCollectionQuery"
      },
      "name": "EnableMetricsCollection"
    },
    "EnterStandby": {
      "documentation": "<p>Moves the specified instances into the standby state.</p> <p>If you choose to decrement the desired capacity of the Auto Scaling group, the instances can enter standby as long as the desired capacity of the Auto Scaling group after the instances are placed into standby is equal to or greater than the minimum capacity of the group.</p> <p>If you choose not to decrement the desired capacity of the Auto Scaling group, the Auto Scaling group launches new instances to replace the instances on standby.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily removing instances from your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnterStandbyQuery"
      },
      "name": "EnterStandby",
      "output": {
        "resultWrapper": "EnterStandbyResult",
        "shape": "EnterStandbyAnswer"
      }
    },
    "ExecutePolicy": {
      "documentation": "<p>Executes the specified policy. This can be useful for testing the design of your scaling policy.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecutePolicyType"
      },
      "name": "ExecutePolicy"
    },
    "ExitStandby": {
      "documentation": "<p>Moves the specified instances out of the standby state.</p> <p>After you put the instances back in service, the desired capacity is incremented.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily removing instances from your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExitStandbyQuery"
      },
      "name": "ExitStandby",
      "output": {
        "resultWrapper": "ExitStandbyResult",
        "shape": "ExitStandbyAnswer"
      }
    },
    "GetPredictiveScalingForecast": {
      "documentation": "<p>Retrieves the forecast data for a predictive scaling policy.</p> <p>Load forecasts are predictions of the hourly load values using historical load data from CloudWatch and an analysis of historical trends. Capacity forecasts are represented as predicted values for the minimum capacity that is needed on an hourly basis, based on the hourly load forecast.</p> <p>A minimum of 24 hours of data is required to create the initial forecasts. However, having a full 14 days of historical data results in more accurate forecasts.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-predictive-scaling.html\">Predictive scaling for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPredictiveScalingForecastType"
      },
      "name": "GetPredictiveScalingForecast",
      "output": {
        "resultWrapper": "GetPredictiveScalingForecastResult",
        "shape": "GetPredictiveScalingForecastAnswer"
      }
    },
    "PutLifecycleHook": {
      "documentation": "<p>Creates or updates a lifecycle hook for the specified Auto Scaling group.</p> <p>Lifecycle hooks let you create solutions that are aware of events in the Auto Scaling instance lifecycle, and then perform a custom action on instances when the corresponding lifecycle event occurs.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state using the <a>RecordLifecycleActionHeartbeat</a> API call.</p> </li> <li> <p>If you finish before the timeout period ends, send a callback by using the <a>CompleteLifecycleAction</a> API call.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails.</p> <p>You can view the lifecycle hooks for an Auto Scaling group using the <a>DescribeLifecycleHooks</a> API call. If you are no longer using a lifecycle hook, you can delete it by calling the <a>DeleteLifecycleHook</a> API.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLifecycleHookType"
      },
      "name": "PutLifecycleHook",
      "output": {
        "resultWrapper": "PutLifecycleHookResult",
        "shape": "PutLifecycleHookAnswer"
      }
    },
    "PutNotificationConfiguration": {
      "documentation": "<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ASGettingNotifications.html\">Getting Amazon SNS notifications when your Auto Scaling group scales</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of SNS topics, which is 10 per Auto Scaling group, the call fails.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutNotificationConfigurationType"
      },
      "name": "PutNotificationConfiguration"
    },
    "PutScalingPolicy": {
      "documentation": "<p>Creates or updates a scaling policy for an Auto Scaling group. Scaling policies are used to scale an Auto Scaling group based on configurable metrics. If no policies are defined, the dynamic scaling and predictive scaling features are not used. </p> <p>For more information about using dynamic scaling, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-target-tracking.html\">Target tracking scaling policies</a> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-simple-step.html\">Step and simple scaling policies</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information about using predictive scaling, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-predictive-scaling.html\">Predictive scaling for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can view the scaling policies for an Auto Scaling group using the <a>DescribePolicies</a> API call. If you are no longer using a scaling policy, you can delete it by calling the <a>DeletePolicy</a> API.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutScalingPolicyType"
      },
      "name": "PutScalingPolicy",
      "output": {
        "resultWrapper": "PutScalingPolicyResult",
        "shape": "PolicyARNType"
      }
    },
    "PutScheduledUpdateGroupAction": {
      "documentation": "<p>Creates or updates a scheduled scaling action for an Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/schedule_time.html\">Scheduled scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can view the scheduled actions for an Auto Scaling group using the <a>DescribeScheduledActions</a> API call. If you are no longer using a scheduled action, you can delete it by calling the <a>DeleteScheduledAction</a> API.</p> <p>If you try to schedule your action in the past, Amazon EC2 Auto Scaling returns an error message.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutScheduledUpdateGroupActionType"
      },
      "name": "PutScheduledUpdateGroupAction"
    },
    "PutWarmPool": {
      "documentation": "<p>Creates or updates a warm pool for the specified Auto Scaling group. A warm pool is a pool of pre-initialized EC2 instances that sits alongside the Auto Scaling group. Whenever your application needs to scale out, the Auto Scaling group can draw on the warm pool to meet its new desired capacity. For more information and example configurations, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>This operation must be called from the Region in which the Auto Scaling group was created. This operation cannot be called on an Auto Scaling group that has a mixed instances policy or a launch template or launch configuration that requests Spot Instances.</p> <p>You can view the instances in the warm pool using the <a>DescribeWarmPool</a> API call. If you are no longer using a warm pool, you can delete it by calling the <a>DeleteWarmPool</a> API.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutWarmPoolType"
      },
      "name": "PutWarmPool",
      "output": {
        "resultWrapper": "PutWarmPoolResult",
        "shape": "PutWarmPoolAnswer"
      }
    },
    "RecordLifecycleActionHeartbeat": {
      "documentation": "<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using the <a>PutLifecycleHook</a> API call.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, send a callback by using the <a>CompleteLifecycleAction</a> API call.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RecordLifecycleActionHeartbeatType"
      },
      "name": "RecordLifecycleActionHeartbeat",
      "output": {
        "resultWrapper": "RecordLifecycleActionHeartbeatResult",
        "shape": "RecordLifecycleActionHeartbeatAnswer"
      }
    },
    "ResumeProcesses": {
      "documentation": "<p>Resumes the specified suspended auto scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspending and resuming scaling processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScalingProcessQuery"
      },
      "name": "ResumeProcesses"
    },
    "SetDesiredCapacity": {
      "documentation": "<p>Sets the size of the specified Auto Scaling group.</p> <p>If a scale-in activity occurs as a result of a new <code>DesiredCapacity</code> value that is lower than the current size of the group, the Auto Scaling group uses its termination policy to determine which instances to terminate. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-manual-scaling.html\">Manual scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetDesiredCapacityType"
      },
      "name": "SetDesiredCapacity"
    },
    "SetInstanceHealth": {
      "documentation": "<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html\">Health checks for Auto Scaling instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetInstanceHealthQuery"
      },
      "name": "SetInstanceHealth"
    },
    "SetInstanceProtection": {
      "documentation": "<p>Updates the instance protection settings of the specified instances. This operation cannot be called on instances in a warm pool.</p> <p>For more information about preventing instances that are part of an Auto Scaling group from terminating on scale in, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-instance-protection.html\">Using instance scale-in protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of instance IDs, which is 50 per Auto Scaling group, the call fails.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetInstanceProtectionQuery"
      },
      "name": "SetInstanceProtection",
      "output": {
        "resultWrapper": "SetInstanceProtectionResult",
        "shape": "SetInstanceProtectionAnswer"
      }
    },
    "StartInstanceRefresh": {
      "documentation": "<p>Starts a new instance refresh operation. An instance refresh performs a rolling replacement of all or some instances in an Auto Scaling group. Each instance is terminated first and then replaced, which temporarily reduces the capacity available within your Auto Scaling group.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group. This feature is helpful, for example, when you have a new AMI or a new user data script. You just need to create a new launch template that specifies the new AMI or user data script. Then start an instance refresh to immediately begin the process of updating instances in the group. </p> <p>If the call succeeds, it creates a new instance refresh request with a unique ID that you can use to track its progress. To query its status, call the <a>DescribeInstanceRefreshes</a> API. To describe the instance refreshes that have already run, call the <a>DescribeInstanceRefreshes</a> API. To cancel an instance refresh operation in progress, use the <a>CancelInstanceRefresh</a> API. </p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "InstanceRefreshInProgressFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartInstanceRefreshType"
      },
      "name": "StartInstanceRefresh",
      "output": {
        "resultWrapper": "StartInstanceRefreshResult",
        "shape": "StartInstanceRefreshAnswer"
      }
    },
    "SuspendProcesses": {
      "documentation": "<p>Suspends the specified auto scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>If you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspending and resuming scaling processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>To resume processes that have been suspended, call the <a>ResumeProcesses</a> API.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScalingProcessQuery"
      },
      "name": "SuspendProcesses"
    },
    "TerminateInstanceInAutoScalingGroup": {
      "documentation": "<p>Terminates the specified instance and optionally adjusts the desired group size. This operation cannot be called on instances in a warm pool.</p> <p>This call simply makes a termination request. The instance is not terminated immediately. When an instance is terminated, the instance status changes to <code>terminated</code>. You can't connect to or start an instance after you've terminated it.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are terminated. </p> <p>By default, Amazon EC2 Auto Scaling balances instances across all Availability Zones. If you decrement the desired capacity, your Auto Scaling group can become unbalanced between Availability Zones. Amazon EC2 Auto Scaling tries to rebalance the group, and rebalancing might terminate instances in other zones. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/auto-scaling-benefits.html#AutoScalingBehavior.InstanceUsage\">Rebalancing activities</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateInstanceInAutoScalingGroupType"
      },
      "name": "TerminateInstanceInAutoScalingGroup",
      "output": {
        "resultWrapper": "TerminateInstanceInAutoScalingGroupResult",
        "shape": "ActivityType"
      }
    },
    "UpdateAutoScalingGroup": {
      "documentation": "<p> <b>We strongly recommend that all Auto Scaling groups use launch templates to ensure full functionality for Amazon EC2 Auto Scaling and Amazon EC2.</b> </p> <p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group, specify the name of the group and the property that you want to change. Any properties that you don't specify are not changed by this update request. The new settings take effect on any scaling activities after this call returns. </p> <p>If you associate a new launch configuration or template with an Auto Scaling group, all new instances will get the updated configuration. Existing instances continue to run with the configuration that they were originally launched with. When you update a group to specify a mixed instances policy instead of a launch configuration or template, existing instances may be replaced to match the new purchasing options that you specified in the policy. For example, if the group currently has 100% On-Demand capacity and the policy specifies 50% Spot capacity, this means that half of your instances will be gradually terminated and relaunched as Spot Instances. When replacing instances, Amazon EC2 Auto Scaling launches new instances before terminating the old ones, so that updating your group does not compromise the performance or availability of your application.</p> <p>Note the following about changing <code>DesiredCapacity</code>, <code>MaxSize</code>, or <code>MinSize</code>:</p> <ul> <li> <p>If a scale-in activity occurs as a result of a new <code>DesiredCapacity</code> value that is lower than the current size of the group, the Auto Scaling group uses its termination policy to determine which instances to terminate.</p> </li> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MinSize</code> value.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MaxSize</code> value.</p> </li> </ul> <p>To see which properties have been set, call the <a>DescribeAutoScalingGroups</a> API. To view the scaling policies for an Auto Scaling group, call the <a>DescribePolicies</a> API. If the group has scaling policies, you can update them by calling the <a>PutScalingPolicy</a> API.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAutoScalingGroupType"
      },
      "name": "UpdateAutoScalingGroup"
    }
  },
  "shapes": {
    "AcceleratorCountRequest": {
      "documentation": "<p>Specifies the minimum and maximum for the <code>AcceleratorCount</code> object when you specify <a>InstanceRequirements</a> for an Auto Scaling group.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The maximum value.</p>",
          "shape": "NullablePositiveInteger"
        },
        "Min": {
          "documentation": "<p>The minimum value.</p>",
          "shape": "NullablePositiveInteger"
        }
      },
      "type": "structure"
    },
    "AcceleratorManufacturer": {
      "enum": [
        "nvidia",
        "amd",
        "amazon-web-services",
        "xilinx"
      ],
      "type": "string"
    },
    "AcceleratorManufacturers": {
      "member": {
        "shape": "AcceleratorManufacturer"
      },
      "type": "list"
    },
    "AcceleratorName": {
      "enum": [
        "a100",
        "v100",
        "k80",
        "t4",
        "m60",
        "radeon-pro-v520",
        "vu9p"
      ],
      "type": "string"
    },
    "AcceleratorNames": {
      "member": {
        "shape": "AcceleratorName"
      },
      "type": "list"
    },
    "AcceleratorTotalMemoryMiBRequest": {
      "documentation": "<p>Specifies the minimum and maximum for the <code>AcceleratorTotalMemoryMiB</code> object when you specify <a>InstanceRequirements</a> for an Auto Scaling group.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The memory maximum in MiB.</p>",
          "shape": "NullablePositiveInteger"
        },
        "Min": {
          "documentation": "<p>The memory minimum in MiB.</p>",
          "shape": "NullablePositiveInteger"
        }
      },
      "type": "structure"
    },
    "AcceleratorType": {
      "enum": [
        "gpu",
        "fpga",
        "inference"
      ],
      "type": "string"
    },
    "AcceleratorTypes": {
      "member": {
        "shape": "AcceleratorType"
      },
      "type": "list"
    },
    "ActiveInstanceRefreshNotFoundFault": {
      "documentation": "<p>The request failed because an active instance refresh for the specified Auto Scaling group was not found. </p>",
      "error": {
        "code": "ActiveInstanceRefreshNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "Activities": {
      "member": {
        "shape": "Activity"
      },
      "type": "list"
    },
    "ActivitiesType": {
      "members": {
        "Activities": {
          "documentation": "<p>The scaling activities. Activities are sorted by start time. Activities still in progress are described first.</p>",
          "shape": "Activities"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Activities"
      ],
      "type": "structure"
    },
    "Activity": {
      "documentation": "<p>Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.</p>",
      "members": {
        "ActivityId": {
          "documentation": "<p>The ID of the activity.</p>",
          "shape": "XmlString"
        },
        "AutoScalingGroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AutoScalingGroupState": {
          "documentation": "<p>The state of the Auto Scaling group, which is either <code>InService</code> or <code>Deleted</code>.</p>",
          "shape": "AutoScalingGroupState"
        },
        "Cause": {
          "documentation": "<p>The reason the activity began.</p>",
          "shape": "XmlStringMaxLen1023"
        },
        "Description": {
          "documentation": "<p>A friendly, more verbose description of the activity.</p>",
          "shape": "XmlString"
        },
        "Details": {
          "documentation": "<p>The details about the activity.</p>",
          "shape": "XmlString"
        },
        "EndTime": {
          "documentation": "<p>The end time of the activity.</p>",
          "shape": "TimestampType"
        },
        "Progress": {
          "documentation": "<p>A value between 0 and 100 that indicates the progress of the activity.</p>",
          "shape": "Progress"
        },
        "StartTime": {
          "documentation": "<p>The start time of the activity.</p>",
          "shape": "TimestampType"
        },
        "StatusCode": {
          "documentation": "<p>The current status of the activity.</p>",
          "shape": "ScalingActivityStatusCode"
        },
        "StatusMessage": {
          "documentation": "<p>A friendly, more verbose description of the activity status.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "required": [
        "ActivityId",
        "AutoScalingGroupName",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "type": "structure"
    },
    "ActivityIds": {
      "member": {
        "shape": "XmlString"
      },
      "type": "list"
    },
    "ActivityType": {
      "members": {
        "Activity": {
          "documentation": "<p>A scaling activity.</p>",
          "shape": "Activity"
        }
      },
      "type": "structure"
    },
    "AdjustmentType": {
      "documentation": "<p>Describes a policy adjustment type.</p>",
      "members": {
        "AdjustmentType": {
          "documentation": "<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "AdjustmentTypes": {
      "member": {
        "shape": "AdjustmentType"
      },
      "type": "list"
    },
    "Alarm": {
      "documentation": "<p>Describes an alarm.</p>",
      "members": {
        "AlarmARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "shape": "ResourceName"
        },
        "AlarmName": {
          "documentation": "<p>The name of the alarm.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "Alarms": {
      "member": {
        "shape": "Alarm"
      },
      "type": "list"
    },
    "AlreadyExistsFault": {
      "documentation": "<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
      "error": {
        "code": "AlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "AsciiStringMaxLen255": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9\\-_\\/]+",
      "type": "string"
    },
    "AssociatePublicIpAddress": {
      "type": "boolean"
    },
    "AttachInstancesQuery": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "InstanceIds": {
          "documentation": "<p>The IDs of the instances. You can specify up to 20 instances.</p>",
          "shape": "InstanceIds"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ],
      "type": "structure"
    },
    "AttachLoadBalancerTargetGroupsResultType": {
      "members": {},
      "type": "structure"
    },
    "AttachLoadBalancerTargetGroupsType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "TargetGroupARNs": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target groups. To get the ARN of a target group, use the Elastic Load Balancing <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>",
          "shape": "TargetGroupARNs"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "TargetGroupARNs"
      ],
      "type": "structure"
    },
    "AttachLoadBalancersResultType": {
      "members": {},
      "type": "structure"
    },
    "AttachLoadBalancersType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LoadBalancerNames": {
          "documentation": "<p>The names of the load balancers. You can specify up to 10 load balancers.</p>",
          "shape": "LoadBalancerNames"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "LoadBalancerNames"
      ],
      "type": "structure"
    },
    "AutoScalingGroup": {
      "documentation": "<p>Describes an Auto Scaling group.</p>",
      "members": {
        "AutoScalingGroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AvailabilityZones": {
          "documentation": "<p>One or more Availability Zones for the group.</p>",
          "shape": "AvailabilityZones"
        },
        "CapacityRebalance": {
          "documentation": "<p>Indicates whether Capacity Rebalancing is enabled.</p>",
          "shape": "CapacityRebalanceEnabled"
        },
        "Context": {
          "documentation": "<p>Reserved.</p>",
          "shape": "Context"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time the group was created.</p>",
          "shape": "TimestampType"
        },
        "DefaultCooldown": {
          "documentation": "<p>The duration of the default cooldown period, in seconds.</p>",
          "shape": "Cooldown"
        },
        "DefaultInstanceWarmup": {
          "documentation": "<p>The duration of the default instance warmup, in seconds.</p>",
          "shape": "DefaultInstanceWarmup"
        },
        "DesiredCapacity": {
          "documentation": "<p>The desired size of the group.</p>",
          "shape": "AutoScalingGroupDesiredCapacity"
        },
        "DesiredCapacityType": {
          "documentation": "<p>The unit of measurement for the value specified for desired capacity. Amazon EC2 Auto Scaling supports <code>DesiredCapacityType</code> for attribute-based instance type selection only.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "EnabledMetrics": {
          "documentation": "<p>The metrics enabled for the group.</p>",
          "shape": "EnabledMetrics"
        },
        "HealthCheckGracePeriod": {
          "documentation": "<p>The duration of the health check grace period, in seconds.</p>",
          "shape": "HealthCheckGracePeriod"
        },
        "HealthCheckType": {
          "documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>. If you configure an Auto Scaling group to use <code>ELB</code> health checks, it considers the instance unhealthy if it fails either the EC2 status checks or the load balancer health checks.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "Instances": {
          "documentation": "<p>The EC2 instances associated with the group.</p>",
          "shape": "Instances"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The name of the associated launch configuration.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template for the group.</p>",
          "shape": "LaunchTemplateSpecification"
        },
        "LoadBalancerNames": {
          "documentation": "<p>One or more load balancers associated with the group.</p>",
          "shape": "LoadBalancerNames"
        },
        "MaxInstanceLifetime": {
          "documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p> <p>Valid Range: Minimum value of 0.</p>",
          "shape": "MaxInstanceLifetime"
        },
        "MaxSize": {
          "documentation": "<p>The maximum size of the group.</p>",
          "shape": "AutoScalingGroupMaxSize"
        },
        "MinSize": {
          "documentation": "<p>The minimum size of the group.</p>",
          "shape": "AutoScalingGroupMinSize"
        },
        "MixedInstancesPolicy": {
          "documentation": "<p>The mixed instances policy for the group.</p>",
          "shape": "MixedInstancesPolicy"
        },
        "NewInstancesProtectedFromScaleIn": {
          "documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in.</p>",
          "shape": "InstanceProtected"
        },
        "PlacementGroup": {
          "documentation": "<p>The name of the placement group into which to launch your instances, if any.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "PredictedCapacity": {
          "documentation": "<p>The predicted capacity of the group when it has a predictive scaling policy.</p>",
          "shape": "AutoScalingGroupPredictedCapacity"
        },
        "ServiceLinkedRoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other Amazon Web Services on your behalf.</p>",
          "shape": "ResourceName"
        },
        "Status": {
          "documentation": "<p>The current state of the group when the <a>DeleteAutoScalingGroup</a> operation is in progress.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "SuspendedProcesses": {
          "documentation": "<p>The suspended processes associated with the group.</p>",
          "shape": "SuspendedProcesses"
        },
        "Tags": {
          "documentation": "<p>The tags for the group.</p>",
          "shape": "TagDescriptionList"
        },
        "TargetGroupARNs": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>",
          "shape": "TargetGroupARNs"
        },
        "TerminationPolicies": {
          "documentation": "<p>The termination policies for the group.</p>",
          "shape": "TerminationPolicies"
        },
        "VPCZoneIdentifier": {
          "documentation": "<p>One or more subnet IDs, if applicable, separated by commas.</p>",
          "shape": "XmlStringMaxLen2047"
        },
        "WarmPoolConfiguration": {
          "documentation": "<p>The warm pool for the group.</p>",
          "shape": "WarmPoolConfiguration"
        },
        "WarmPoolSize": {
          "documentation": "<p>The current size of the warm pool.</p>",
          "shape": "WarmPoolSize"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "MinSize",
        "MaxSize",
        "DesiredCapacity",
        "DefaultCooldown",
        "AvailabilityZones",
        "HealthCheckType",
        "CreatedTime"
      ],
      "type": "structure"
    },
    "AutoScalingGroupDesiredCapacity": {
      "type": "integer"
    },
    "AutoScalingGroupMaxSize": {
      "type": "integer"
    },
    "AutoScalingGroupMinSize": {
      "type": "integer"
    },
    "AutoScalingGroupNames": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "AutoScalingGroupNamesType": {
      "members": {
        "AutoScalingGroupNames": {
          "documentation": "<p>The names of the Auto Scaling groups. By default, you can only specify up to 50 names. You can optionally increase this limit using the <code>MaxRecords</code> property.</p> <p>If you omit this property, all Auto Scaling groups are described.</p>",
          "shape": "AutoScalingGroupNames"
        },
        "Filters": {
          "documentation": "<p>One or more filters to limit the results based on specific tags. </p>",
          "shape": "Filters"
        },
        "MaxRecords": {
          "documentation": "<p>The maximum number of items to return with this call. The default value is <code>50</code> and the maximum value is <code>100</code>.</p>",
          "shape": "MaxRecords"
        },
        "NextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "XmlString"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupPredictedCapacity": {
      "type": "integer"
    },
    "AutoScalingGroupState": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "AutoScalingGroups": {
      "member": {
        "shape": "AutoScalingGroup"
      },
      "type": "list"
    },
    "AutoScalingGroupsType": {
      "members": {
        "AutoScalingGroups": {
          "documentation": "<p>The groups.</p>",
          "shape": "AutoScalingGroups"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "AutoScalingGroups"
      ],
      "type": "structure"
    },
    "AutoScalingInstanceDetails": {
      "documentation": "<p>Describes an EC2 instance associated with an Auto Scaling group.</p>",
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group for the instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone for the instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "HealthStatus": {
          "documentation": "<p>The last reported health status of this instance. \"Healthy\" means that the instance is healthy and should remain in service. \"Unhealthy\" means that the instance is unhealthy and Amazon EC2 Auto Scaling should terminate and replace it.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "InstanceType": {
          "documentation": "<p>The instance type of the EC2 instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The launch configuration used to launch the instance. This value is not available if you attached the instance to the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template for the instance.</p>",
          "shape": "LaunchTemplateSpecification"
        },
        "LifecycleState": {
          "documentation": "<p>The lifecycle state for the instance. The <code>Quarantined</code> state is not used. For information about lifecycle states, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroupLifecycle.html\">Instance lifecycle</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p> <p>Valid values: <code>Pending</code> | <code>Pending:Wait</code> | <code>Pending:Proceed</code> | <code>Quarantined</code> | <code>InService</code> | <code>Terminating</code> | <code>Terminating:Wait</code> | <code>Terminating:Proceed</code> | <code>Terminated</code> | <code>Detaching</code> | <code>Detached</code> | <code>EnteringStandby</code> | <code>Standby</code> | <code>Warmed:Pending</code> | <code>Warmed:Pending:Wait</code> | <code>Warmed:Pending:Proceed</code> | <code>Warmed:Terminating</code> | <code>Warmed:Terminating:Wait</code> | <code>Warmed:Terminating:Proceed</code> | <code>Warmed:Terminated</code> | <code>Warmed:Stopped</code> | <code>Warmed:Running</code> </p>",
          "shape": "XmlStringMaxLen32"
        },
        "ProtectedFromScaleIn": {
          "documentation": "<p>Indicates whether the instance is protected from termination by Amazon EC2 Auto Scaling when scaling in.</p>",
          "shape": "InstanceProtected"
        },
        "WeightedCapacity": {
          "documentation": "<p>The number of capacity units contributed by the instance based on its instance type.</p> <p>Valid Range: Minimum value of 1. Maximum value of 999.</p>",
          "shape": "XmlStringMaxLen32"
        }
      },
      "required": [
        "InstanceId",
        "AutoScalingGroupName",
        "AvailabilityZone",
        "LifecycleState",
        "HealthStatus",
        "ProtectedFromScaleIn"
      ],
      "type": "structure"
    },
    "AutoScalingInstances": {
      "member": {
        "shape": "AutoScalingInstanceDetails"
      },
      "type": "list"
    },
    "AutoScalingInstancesType": {
      "members": {
        "AutoScalingInstances": {
          "documentation": "<p>The instances.</p>",
          "shape": "AutoScalingInstances"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "type": "structure"
    },
    "AutoScalingNotificationTypes": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "BareMetal": {
      "enum": [
        "included",
        "excluded",
        "required"
      ],
      "type": "string"
    },
    "BaselineEbsBandwidthMbpsRequest": {
      "documentation": "<p>Specifies the minimum and maximum for the <code>BaselineEbsBandwidthMbps</code> object when you specify <a>InstanceRequirements</a> for an Auto Scaling group.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The maximum value in Mbps.</p>",
          "shape": "NullablePositiveInteger"
        },
        "Min": {
          "documentation": "<p>The minimum value in Mbps.</p>",
          "shape": "NullablePositiveInteger"
        }
      },
      "type": "structure"
    },
    "BatchDeleteScheduledActionAnswer": {
      "members": {
        "FailedScheduledActions": {
          "documentation": "<p>The names of the scheduled actions that could not be deleted, including an error message.</p>",
          "shape": "FailedScheduledUpdateGroupActionRequests"
        }
      },
      "type": "structure"
    },
    "BatchDeleteScheduledActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "ScheduledActionNames": {
          "documentation": "<p>The names of the scheduled actions to delete. The maximum number allowed is 50. </p>",
          "shape": "ScheduledActionNames"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ScheduledActionNames"
      ],
      "type": "structure"
    },
    "BatchPutScheduledUpdateGroupActionAnswer": {
      "members": {
        "FailedScheduledUpdateGroupActions": {
          "documentation": "<p>The names of the scheduled actions that could not be created or updated, including an error message.</p>",
          "shape": "FailedScheduledUpdateGroupActionRequests"
        }
      },
      "type": "structure"
    },
    "BatchPutScheduledUpdateGroupActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "ScheduledUpdateGroupActions": {
          "documentation": "<p>One or more scheduled actions. The maximum number allowed is 50.</p>",
          "shape": "ScheduledUpdateGroupActionRequests"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ScheduledUpdateGroupActions"
      ],
      "type": "structure"
    },
    "BlockDeviceEbsDeleteOnTermination": {
      "type": "boolean"
    },
    "BlockDeviceEbsEncrypted": {
      "type": "boolean"
    },
    "BlockDeviceEbsIops": {
      "max": 20000,
      "min": 100,
      "type": "integer"
    },
    "BlockDeviceEbsThroughput": {
      "max": 1000,
      "min": 125,
      "type": "integer"
    },
    "BlockDeviceEbsVolumeSize": {
      "max": 16384,
      "min": 1,
      "type": "integer"
    },
    "BlockDeviceEbsVolumeType": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "BlockDeviceMapping": {
      "documentation": "<p>Describes a block device mapping.</p>",
      "members": {
        "DeviceName": {
          "documentation": "<p>The device name assigned to the volume (for example, <code>/dev/sdh</code> or <code>xvdh</code>). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html\">Device naming on Linux instances</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <note> <p>To define a block device mapping, set the device name and exactly one of the following properties: <code>Ebs</code>, <code>NoDevice</code>, or <code>VirtualName</code>.</p> </note>",
          "shape": "XmlStringMaxLen255"
        },
        "Ebs": {
          "documentation": "<p>Information to attach an EBS volume to an instance at launch.</p>",
          "shape": "Ebs"
        },
        "NoDevice": {
          "documentation": "<p>Setting this value to <code>true</code> prevents a volume that is included in the block device mapping of the AMI from being mapped to the specified device name at launch.</p> <p>If <code>NoDevice</code> is <code>true</code> for the root device, instances might fail the EC2 health check. In that case, Amazon EC2 Auto Scaling launches replacement instances.</p>",
          "shape": "NoDevice"
        },
        "VirtualName": {
          "documentation": "<p>The name of the instance store volume (virtual device) to attach to an instance at launch. The name must be in the form ephemeral<i>X</i> where <i>X</i> is a number starting from zero (0), for example, <code>ephemeral0</code>.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "required": [
        "DeviceName"
      ],
      "type": "structure"
    },
    "BlockDeviceMappings": {
      "member": {
        "shape": "BlockDeviceMapping"
      },
      "type": "list"
    },
    "BurstablePerformance": {
      "enum": [
        "included",
        "excluded",
        "required"
      ],
      "type": "string"
    },
    "CancelInstanceRefreshAnswer": {
      "members": {
        "InstanceRefreshId": {
          "documentation": "<p>The instance refresh ID.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "CancelInstanceRefreshType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ],
      "type": "structure"
    },
    "CapacityForecast": {
      "documentation": "<p>A <code>GetPredictiveScalingForecast</code> call returns the capacity forecast for a predictive scaling policy. This structure includes the data points for that capacity forecast, along with the timestamps of those data points. </p>",
      "members": {
        "Timestamps": {
          "documentation": "<p>The timestamps for the data points, in UTC format.</p>",
          "shape": "PredictiveScalingForecastTimestamps"
        },
        "Values": {
          "documentation": "<p>The values of the data points.</p>",
          "shape": "PredictiveScalingForecastValues"
        }
      },
      "required": [
        "Timestamps",
        "Values"
      ],
      "type": "structure"
    },
    "CapacityRebalanceEnabled": {
      "type": "boolean"
    },
    "CheckpointDelay": {
      "max": 172800,
      "min": 0,
      "type": "integer"
    },
    "CheckpointPercentages": {
      "member": {
        "shape": "NonZeroIntPercent"
      },
      "type": "list"
    },
    "ClassicLinkVPCSecurityGroups": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "CompleteLifecycleActionAnswer": {
      "members": {},
      "type": "structure"
    },
    "CompleteLifecycleActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "LifecycleActionResult": {
          "documentation": "<p>The action for the group to take. You can specify either <code>CONTINUE</code> or <code>ABANDON</code>.</p>",
          "shape": "LifecycleActionResult"
        },
        "LifecycleActionToken": {
          "documentation": "<p>A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.</p>",
          "shape": "LifecycleActionToken"
        },
        "LifecycleHookName": {
          "documentation": "<p>The name of the lifecycle hook.</p>",
          "shape": "AsciiStringMaxLen255"
        }
      },
      "required": [
        "LifecycleHookName",
        "AutoScalingGroupName",
        "LifecycleActionResult"
      ],
      "type": "structure"
    },
    "Context": {
      "type": "string"
    },
    "Cooldown": {
      "type": "integer"
    },
    "CpuManufacturer": {
      "enum": [
        "intel",
        "amd",
        "amazon-web-services"
      ],
[...]
