{
  "documentation": "<p>You can use the Amazon Redshift Data API to run queries on Amazon Redshift tables. You can run SQL statements, which are committed if the statement succeeds. </p> <p>For more information about the Amazon Redshift Data API and CLI usage examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p>",
  "metadata": {
    "apiVersion": "2019-12-20",
    "endpointPrefix": "redshift-data",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Redshift Data API Service",
    "serviceId": "Redshift Data",
    "signatureVersion": "v4",
    "signingName": "redshift-data",
    "targetPrefix": "RedshiftData",
    "uid": "redshift-data-2019-12-20"
  },
  "operations": {
    "BatchExecuteStatement": {
      "documentation": "<p>Runs one or more SQL statements, which can be data manipulation language (DML) or data definition language (DDL). Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ActiveStatementsExceededException"
        },
        {
          "shape": "BatchExecuteStatementException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchExecuteStatementInput"
      },
      "name": "BatchExecuteStatement",
      "output": {
        "shape": "BatchExecuteStatementOutput"
      }
    },
    "CancelStatement": {
      "documentation": "<p>Cancels a running query. To be canceled, a query must be running. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DatabaseConnectionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelStatementRequest"
      },
      "name": "CancelStatement",
      "output": {
        "shape": "CancelStatementResponse"
      }
    },
    "DescribeStatement": {
      "documentation": "<p>Describes the details about a specific instance when a query was run by the Amazon Redshift Data API. The information includes when the query started, when it finished, the query status, the number of rows returned, and the SQL statement. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStatementRequest"
      },
      "name": "DescribeStatement",
      "output": {
        "shape": "DescribeStatementResponse"
      }
    },
    "DescribeTable": {
      "documentation": "<p>Describes the detailed information about a table from metadata in the cluster. The information includes its columns. A token is returned to page through the column list. Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DatabaseConnectionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTableRequest"
      },
      "name": "DescribeTable",
      "output": {
        "shape": "DescribeTableResponse"
      }
    },
    "ExecuteStatement": {
      "documentation": "<p>Runs an SQL statement, which can be data manipulation language (DML) or data definition language (DDL). This statement must be a single SQL statement. Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ExecuteStatementException"
        },
        {
          "shape": "ActiveStatementsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecuteStatementInput"
      },
      "name": "ExecuteStatement",
      "output": {
        "shape": "ExecuteStatementOutput"
      }
    },
    "GetStatementResult": {
      "documentation": "<p>Fetches the temporarily cached result of an SQL statement. A token is returned to page through the statement results. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetStatementResultRequest"
      },
      "name": "GetStatementResult",
      "output": {
        "shape": "GetStatementResultResponse"
      }
    },
    "ListDatabases": {
      "documentation": "<p>List the databases in a cluster. A token is returned to page through the database list. Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DatabaseConnectionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDatabasesRequest"
      },
      "name": "ListDatabases",
      "output": {
        "shape": "ListDatabasesResponse"
      }
    },
    "ListSchemas": {
      "documentation": "<p>Lists the schemas in a database. A token is returned to page through the schema list. Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DatabaseConnectionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSchemasRequest"
      },
      "name": "ListSchemas",
      "output": {
        "shape": "ListSchemasResponse"
      }
    },
    "ListStatements": {
      "documentation": "<p>List of SQL statements. By default, only finished statements are shown. A token is returned to page through the statement list. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStatementsRequest"
      },
      "name": "ListStatements",
      "output": {
        "shape": "ListStatementsResponse"
      }
    },
    "ListTables": {
      "documentation": "<p>List the tables in a database. If neither <code>SchemaPattern</code> nor <code>TablePattern</code> are specified, then all tables in the database are returned. A token is returned to page through the table list. Depending on the authorization method, use one of the following combinations of request parameters: </p> <ul> <li> <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret. When connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p> </li> <li> <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. Also, permission to call the <code>redshift:GetClusterCredentials</code> operation is required. When connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DatabaseConnectionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTablesRequest"
      },
      "name": "ListTables",
      "output": {
        "shape": "ListTablesResponse"
      }
    }
  },
  "shapes": {
    "ActiveStatementsExceededException": {
      "documentation": "<p>The number of active statements exceeds the limit.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BatchExecuteStatementException": {
      "documentation": "<p>An SQL statement encountered an environmental error while running.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "StatementId": {
          "documentation": "<p>Statement identifier of the exception.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "StatementId"
      ],
      "type": "structure"
    },
    "BatchExecuteStatementInput": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "Database": {
          "documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "Sqls": {
          "documentation": "<p>One or more SQL statements to run. </p>",
          "shape": "SqlList"
        },
        "StatementName": {
          "documentation": "<p>The name of the SQL statements. You can name the SQL statements when you create them to identify the query. </p>",
          "shape": "StatementNameString"
        },
        "WithEvent": {
          "documentation": "<p>A value that indicates whether to send an event to the Amazon EventBridge event bus after the SQL statements run. </p>",
          "shape": "Boolean"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database",
        "Sqls"
      ],
      "type": "structure"
    },
    "BatchExecuteStatementOutput": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This element is not returned when connecting to a serverless workgroup. </p>",
          "shape": "Location"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time (UTC) the statement was created. </p>",
          "shape": "Timestamp"
        },
        "Database": {
          "documentation": "<p>The name of the database.</p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. This identifier is returned by <code>BatchExecuteStatment</code>. </p>",
          "shape": "StatementId"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. </p>",
          "shape": "SecretArn"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This element is not returned when connecting to a provisioned cluster.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "BoxedBoolean": {
      "box": true,
      "type": "boolean"
    },
    "BoxedDouble": {
      "box": true,
      "type": "double"
    },
    "BoxedLong": {
      "box": true,
      "type": "long"
    },
    "CancelStatementRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the SQL statement to cancel. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatment</code>, and <code>ListStatements</code>. </p>",
          "shape": "StatementId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CancelStatementResponse": {
      "members": {
        "Status": {
          "documentation": "<p>A value that indicates whether the cancel statement succeeded (true). </p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ColumnList": {
      "member": {
        "shape": "ColumnMetadata"
      },
      "type": "list"
    },
    "ColumnMetadata": {
      "documentation": "<p>The properties (metadata) of a column. </p>",
      "members": {
        "columnDefault": {
          "documentation": "<p>The default value of the column. </p>",
          "shape": "String"
        },
        "isCaseSensitive": {
          "documentation": "<p>A value that indicates whether the column is case-sensitive. </p>",
          "shape": "bool"
        },
        "isCurrency": {
          "documentation": "<p>A value that indicates whether the column contains currency values.</p>",
          "shape": "bool"
        },
        "isSigned": {
          "documentation": "<p>A value that indicates whether an integer column is signed.</p>",
          "shape": "bool"
        },
        "label": {
          "documentation": "<p>The label for the column. </p>",
          "shape": "String"
        },
        "length": {
          "documentation": "<p>The length of the column.</p>",
          "shape": "Integer"
        },
        "name": {
          "documentation": "<p>The name of the column. </p>",
          "shape": "String"
        },
        "nullable": {
          "documentation": "<p>A value that indicates whether the column is nullable. </p>",
          "shape": "Integer"
        },
        "precision": {
          "documentation": "<p>The precision value of a decimal number column. </p>",
          "shape": "Integer"
        },
        "scale": {
          "documentation": "<p>The scale value of a decimal number column. </p>",
          "shape": "Integer"
        },
        "schemaName": {
          "documentation": "<p>The name of the schema that contains the table that includes the column.</p>",
          "shape": "String"
        },
        "tableName": {
          "documentation": "<p>The name of the table that includes the column. </p>",
          "shape": "String"
        },
        "typeName": {
          "documentation": "<p>The database-specific data type of the column. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ColumnMetadataList": {
      "member": {
        "shape": "ColumnMetadata"
      },
      "type": "list"
    },
    "DatabaseConnectionException": {
      "documentation": "<p>Connection to a database failed.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "DatabaseList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DescribeStatementRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the SQL statement to describe. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates the number of the SQL statement. For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query. This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatement</code>, and <code>ListStatements</code>. </p>",
          "shape": "StatementId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeStatementResponse": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. </p>",
          "shape": "String"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time (UTC) when the SQL statement was submitted to run. </p>",
          "shape": "Timestamp"
        },
        "Database": {
          "documentation": "<p>The name of the database. </p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. </p>",
          "shape": "String"
        },
        "Duration": {
          "documentation": "<p>The amount of time in nanoseconds that the statement ran. </p>",
          "shape": "Long"
        },
        "Error": {
          "documentation": "<p>The error message from the cluster if the SQL statement encountered an error while running. </p>",
          "shape": "String"
        },
        "HasResultSet": {
          "documentation": "<p>A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set. The value is true if any substatement returns a result set.</p>",
          "shape": "Boolean"
        },
        "Id": {
          "documentation": "<p>The identifier of the SQL statement described. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
          "shape": "StatementId"
        },
        "QueryParameters": {
          "documentation": "<p>The parameters for the SQL statement.</p>",
          "shape": "SqlParametersList"
        },
        "QueryString": {
          "documentation": "<p>The SQL statement text. </p>",
          "shape": "StatementString"
        },
        "RedshiftPid": {
          "documentation": "<p>The process identifier from Amazon Redshift. </p>",
          "shape": "Long"
        },
        "RedshiftQueryId": {
          "documentation": "<p>The identifier of the query generated by Amazon Redshift. These identifiers are also available in the <code>query</code> column of the <code>STL_QUERY</code> system view. </p>",
          "shape": "Long"
        },
        "ResultRows": {
          "documentation": "<p>Either the number of rows returned from the SQL statement or the number of rows affected. If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others. A <code>-1</code> indicates the value is null.</p>",
          "shape": "Long"
        },
        "ResultSize": {
          "documentation": "<p>The size in bytes of the returned results. A <code>-1</code> indicates the value is null.</p>",
          "shape": "Long"
        },
        "SecretArn": {
          "documentation": "<p>The name or Amazon Resource Name (ARN) of the secret that enables access to the database. </p>",
          "shape": "SecretArn"
        },
        "Status": {
          "documentation": "<p>The status of the SQL statement being described. Status values are defined as follows: </p> <ul> <li> <p>ABORTED - The query run was stopped by the user. </p> </li> <li> <p>ALL - A status value that includes all query statuses. This value can be used to filter results. </p> </li> <li> <p>FAILED - The query run failed. </p> </li> <li> <p>FINISHED - The query has finished running. </p> </li> <li> <p>PICKED - The query has been chosen to be run. </p> </li> <li> <p>STARTED - The query run has started. </p> </li> <li> <p>SUBMITTED - The query was submitted, but not yet processed. </p> </li> </ul>",
          "shape": "StatusString"
        },
        "SubStatements": {
          "documentation": "<p>The SQL statements from a multiple statement run.</p>",
          "shape": "SubStatementList"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time (UTC) that the metadata for the SQL statement was last updated. An example is the time the status last changed. </p>",
          "shape": "Timestamp"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeTableRequest": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "ConnectedDatabase": {
          "documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>",
          "shape": "String"
        },
        "Database": {
          "documentation": "<p>The name of the database that contains the tables to be described. If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of tables to return in the response. If more tables exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "Schema": {
          "documentation": "<p>The schema that contains the table. If no schema is specified, then matching tables for all schemas are returned. </p>",
          "shape": "String"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "Table": {
          "documentation": "<p>The table name. If no table is specified, then all tables for all matching schemas are returned. If no table and no schema is specified, then all tables for all schemas in the database are returned</p>",
          "shape": "String"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database"
      ],
      "type": "structure"
    },
    "DescribeTableResponse": {
      "members": {
        "ColumnList": {
          "documentation": "<p>A list of columns in the table. </p>",
          "shape": "ColumnList"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "TableName": {
          "documentation": "<p>The table name. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ExecuteStatementException": {
      "documentation": "<p>The SQL statement encountered an environmental error while running.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "documentation": "<p>The exception message.</p>",
          "shape": "String"
        },
        "StatementId": {
          "documentation": "<p>Statement identifier of the exception.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "StatementId"
      ],
      "type": "structure"
    },
    "ExecuteStatementInput": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "Database": {
          "documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "Parameters": {
          "documentation": "<p>The parameters for the SQL statement.</p>",
          "shape": "SqlParametersList"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "Sql": {
          "documentation": "<p>The SQL statement text to run. </p>",
          "shape": "StatementString"
        },
        "StatementName": {
          "documentation": "<p>The name of the SQL statement. You can name the SQL statement when you create it to identify the query. </p>",
          "shape": "StatementNameString"
        },
        "WithEvent": {
          "documentation": "<p>A value that indicates whether to send an event to the Amazon EventBridge event bus after the SQL statement runs. </p>",
          "shape": "Boolean"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database",
        "Sql"
      ],
      "type": "structure"
    },
    "ExecuteStatementOutput": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This element is not returned when connecting to a serverless workgroup. </p>",
          "shape": "Location"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time (UTC) the statement was created. </p>",
          "shape": "Timestamp"
        },
        "Database": {
          "documentation": "<p>The name of the database.</p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
          "shape": "StatementId"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. </p>",
          "shape": "SecretArn"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This element is not returned when connecting to a provisioned cluster.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "type": "structure"
    },
    "Field": {
      "documentation": "<p>A data value in a column. </p>",
      "members": {
        "blobValue": {
          "documentation": "<p>A value of the BLOB data type. </p>",
          "shape": "Blob"
        },
        "booleanValue": {
          "documentation": "<p>A value of the Boolean data type. </p>",
          "shape": "BoxedBoolean"
        },
        "doubleValue": {
          "documentation": "<p>A value of the double data type. </p>",
          "shape": "BoxedDouble"
        },
        "isNull": {
          "documentation": "<p>A value that indicates whether the data is NULL. </p>",
          "shape": "BoxedBoolean"
        },
        "longValue": {
          "documentation": "<p>A value of the long data type. </p>",
          "shape": "BoxedLong"
        },
        "stringValue": {
          "documentation": "<p>A value of the string data type. </p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "union": true
    },
    "FieldList": {
      "member": {
        "shape": "Field"
      },
      "type": "list"
    },
    "GetStatementResultRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates then number of the SQL statement. For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query. This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatment</code>, and <code>ListStatements</code>. </p>",
          "shape": "StatementId"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetStatementResultResponse": {
      "members": {
        "ColumnMetadata": {
          "documentation": "<p>The properties (metadata) of a column. </p>",
          "shape": "ColumnMetadataList"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "Records": {
          "documentation": "<p>The results of the SQL statement.</p>",
          "shape": "SqlRecords"
        },
        "TotalNumRows": {
          "documentation": "<p>The total number of rows in the result set returned from a query. You can use this number to estimate the number of calls to the <code>GetStatementResult</code> operation needed to page through the results. </p>",
          "shape": "Long"
        }
      },
      "required": [
        "Records"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>The Amazon Redshift Data API operation failed due to invalid input. </p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "documentation": "<p>The exception message.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ListDatabasesRequest": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "Database": {
          "documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of databases to return in the response. If more databases exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database"
      ],
      "type": "structure"
    },
    "ListDatabasesResponse": {
      "members": {
        "Databases": {
          "documentation": "<p>The names of databases. </p>",
          "shape": "DatabaseList"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSchemasRequest": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "ConnectedDatabase": {
          "documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>",
          "shape": "String"
        },
        "Database": {
          "documentation": "<p>The name of the database that contains the schemas to list. If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of schemas to return in the response. If more schemas exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "SchemaPattern": {
          "documentation": "<p>A pattern to filter results by schema name. Within a schema pattern, \"%\" means match any substring of 0 or more characters and \"_\" means match any one character. Only schema name entries matching the search pattern are returned. </p>",
          "shape": "String"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database"
      ],
      "type": "structure"
    },
    "ListSchemasResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "Schemas": {
          "documentation": "<p>The schemas that match the request pattern. </p>",
          "shape": "SchemaList"
        }
      },
      "type": "structure"
    },
    "ListStatementsLimit": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "ListStatementsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of SQL statements to return in the response. If more SQL statements exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>",
          "shape": "ListStatementsLimit"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "RoleLevel": {
          "documentation": "<p>A value that filters which statements to return in the response. If true, all statements run by the caller's IAM role are returned. If false, only statements run by the caller's IAM role in the current IAM session are returned. The default is true. </p>",
          "shape": "Boolean"
        },
        "StatementName": {
          "documentation": "<p>The name of the SQL statement specified as input to <code>BatchExecuteStatement</code> or <code>ExecuteStatement</code> to identify the query. You can list multiple statements by providing a prefix that matches the beginning of the statement name. For example, to list myStatement1, myStatement2, myStatement3, and so on, then provide the a value of <code>myStatement</code>. Data API does a case-sensitive match of SQL statement names to the prefix value you provide. </p>",
          "shape": "StatementNameString"
        },
        "Status": {
          "documentation": "<p>The status of the SQL statement to list. Status values are defined as follows: </p> <ul> <li> <p>ABORTED - The query run was stopped by the user. </p> </li> <li> <p>ALL - A status value that includes all query statuses. This value can be used to filter results. </p> </li> <li> <p>FAILED - The query run failed. </p> </li> <li> <p>FINISHED - The query has finished running. </p> </li> <li> <p>PICKED - The query has been chosen to be run. </p> </li> <li> <p>STARTED - The query run has started. </p> </li> <li> <p>SUBMITTED - The query was submitted, but not yet processed. </p> </li> </ul>",
          "shape": "StatusString"
        }
      },
      "type": "structure"
    },
    "ListStatementsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "Statements": {
          "documentation": "<p>The SQL statements. </p>",
          "shape": "StatementList"
        }
      },
      "required": [
        "Statements"
      ],
      "type": "structure"
    },
    "ListTablesRequest": {
      "members": {
        "ClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>",
          "shape": "Location"
        },
        "ConnectedDatabase": {
          "documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>",
          "shape": "String"
        },
        "Database": {
          "documentation": "<p>The name of the database that contains the tables to list. If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
          "shape": "String"
        },
        "DbUser": {
          "documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of tables to return in the response. If more tables exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>",
          "shape": "PageSize"
        },
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "SchemaPattern": {
          "documentation": "<p>A pattern to filter results by schema name. Within a schema pattern, \"%\" means match any substring of 0 or more characters and \"_\" means match any one character. Only schema name entries matching the search pattern are returned. If <code>SchemaPattern</code> is not specified, then all tables that match <code>TablePattern</code> are returned. If neither <code>SchemaPattern</code> or <code>TablePattern</code> are specified, then all tables are returned. </p>",
          "shape": "String"
        },
        "SecretArn": {
          "documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>",
          "shape": "SecretArn"
        },
        "TablePattern": {
          "documentation": "<p>A pattern to filter results by table name. Within a table pattern, \"%\" means match any substring of 0 or more characters and \"_\" means match any one character. Only table name entries matching the search pattern are returned. If <code>TablePattern</code> is not specified, then all tables that match <code>SchemaPattern</code>are returned. If neither <code>SchemaPattern</code> or <code>TablePattern</code> are specified, then all tables are returned. </p>",
          "shape": "String"
        },
        "WorkgroupName": {
          "documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>",
          "shape": "WorkgroupNameString"
        }
      },
      "required": [
        "Database"
      ],
      "type": "structure"
    },
    "ListTablesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>",
          "shape": "String"
        },
        "Tables": {
          "documentation": "<p>The tables that match the request pattern. </p>",
          "shape": "TableList"
        }
      },
      "type": "structure"
    },
    "Location": {
      "type": "string"
    },
    "Long": {
      "type": "long"
    },
    "PageSize": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "ParameterName": {
      "pattern": "^[0-9a-zA-Z_]+$",
      "type": "string"
    },
    "ParameterValue": {
      "min": 1,
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The Amazon Redshift Data API operation failed due to a missing resource. </p>",
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The exception message.</p>",
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "<p>Resource identifier associated with the exception.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "ResourceId"
      ],
      "type": "structure"
    },
    "SchemaList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SecretArn": {
      "type": "string"
    },
    "SqlList": {
      "max": 40,
      "member": {
        "shape": "StatementString"
      },
      "min": 1,
      "type": "list"
    },
    "SqlParameter": {
      "documentation": "<p>A parameter used in a SQL statement.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the parameter.</p>",
          "shape": "ParameterName"
        },
        "value": {
          "documentation": "<p>The value of the parameter. Amazon Redshift implicitly converts to the proper data type. For more inforation, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/c_Supported_data_types.html\">Data types</a> in the <i>Amazon Redshift Database Developer Guide</i>. </p>",
          "shape": "ParameterValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "SqlParametersList": {
      "member": {
        "shape": "SqlParameter"
      },
      "min": 1,
      "type": "list"
    },
    "SqlRecords": {
      "member": {
        "shape": "FieldList"
      },
      "type": "list"
    },
    "StatementData": {
      "documentation": "<p>The SQL statement to run.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The date and time (UTC) the statement was created. </p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The SQL statement identifier. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
          "shape": "StatementId"
        },
        "IsBatchStatement": {
          "documentation": "<p>A value that indicates whether the statement is a batch query request.</p>",
          "shape": "Boolean"
        },
        "QueryParameters": {
          "documentation": "<p>The parameters used in a SQL statement.</p>",
          "shape": "SqlParametersList"
        },
        "QueryString": {
          "documentation": "<p>The SQL statement.</p>",
          "shape": "StatementString"
        },
        "QueryStrings": {
          "documentation": "<p>One or more SQL statements. Each query string in the array corresponds to one of the queries in a batch query request.</p>",
          "shape": "StatementStringList"
        },
        "SecretArn": {
          "documentation": "<p>The name or Amazon Resource Name (ARN) of the secret that enables access to the database. </p>",
          "shape": "SecretArn"
        },
        "StatementName": {
          "documentation": "<p>The name of the SQL statement. </p>",
          "shape": "StatementNameString"
        },
        "Status": {
          "documentation": "<p>The status of the SQL statement. An example is the that the SQL statement finished. </p>",
          "shape": "StatusString"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time (UTC) that the statement metadata was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "StatementId": {
      "pattern": "^[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}(:\\d+)?$",
      "type": "string"
    },
    "StatementList": {
      "member": {
        "shape": "StatementData"
      },
      "type": "list"
    },
    "StatementNameString": {
      "max": 500,
      "min": 0,
      "type": "string"
    },
    "StatementStatusString": {
      "enum": [
        "SUBMITTED",
        "PICKED",
        "STARTED",
        "FINISHED",
        "ABORTED",
        "FAILED"
      ],
      "type": "string"
    },
    "StatementString": {
      "type": "string"
    },
    "StatementStringList": {
      "member": {
        "shape": "StatementString"
      },
      "type": "list"
    },
    "StatusString": {
      "enum": [
        "SUBMITTED",
        "PICKED",
        "STARTED",
        "FINISHED",
        "ABORTED",
        "FAILED",
        "ALL"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubStatementData": {
      "documentation": "<p>Information about an SQL statement.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The date and time (UTC) the statement was created. </p>",
          "shape": "Timestamp"
        },
        "Duration": {
          "documentation": "<p>The amount of time in nanoseconds that the statement ran.</p>",
          "shape": "Long"
        },
        "Error": {
          "documentation": "<p>The error message from the cluster if the SQL statement encountered an error while running.</p>",
          "shape": "String"
        },
        "HasResultSet": {
          "documentation": "<p>A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set.</p>",
          "shape": "Boolean"
        },
        "Id": {
          "documentation": "<p>The identifier of the SQL statement. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. A suffix indicates the number of the SQL statement. For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query.</p>",
          "shape": "StatementId"
        },
        "QueryString": {
          "documentation": "<p>The SQL statement text.</p>",
          "shape": "StatementString"
        },
        "RedshiftQueryId": {
          "documentation": "<p>The SQL statement identifier. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
          "shape": "Long"
        },
        "ResultRows": {
          "documentation": "<p>Either the number of rows returned from the SQL statement or the number of rows affected. If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others. A <code>-1</code> indicates the value is null.</p>",
          "shape": "Long"
        },
        "ResultSize": {
          "documentation": "<p>The size in bytes of the returned results. A <code>-1</code> indicates the value is null.</p>",
          "shape": "Long"
        },
        "Status": {
          "documentation": "<p>The status of the SQL statement. An example is the that the SQL statement finished. </p>",
          "shape": "StatementStatusString"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time (UTC) that the statement metadata was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "SubStatementList": {
      "member": {
        "shape": "SubStatementData"
      },
      "type": "list"
    },
    "TableList": {
      "member": {
        "shape": "TableMember"
      },
      "type": "list"
    },
    "TableMember": {
      "documentation": "<p>The properties of a table. </p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the table. </p>",
          "shape": "String"
        },
        "schema": {
          "documentation": "<p>The schema containing the table. </p>",
          "shape": "String"
        },
        "type": {
          "documentation": "<p>The type of the table. Possible values include TABLE, VIEW, SYSTEM TABLE, GLOBAL TEMPORARY, LOCAL TEMPORARY, ALIAS, and SYNONYM. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "ValidationException": {
      "documentation": "<p>The Amazon Redshift Data API operation failed due to invalid input. </p>",
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The exception message.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "WorkgroupNameString": {
      "max": 64,
      "min": 3,
      "pattern": "^[a-z0-9-]+$",
      "type": "string"
    },
    "bool": {
      "type": "boolean"
    }
  },
  "version": "2.0"
}
