{
  "documentation": "<p>Transfer Family is a fully managed service that enables the transfer of files over the File Transfer Protocol (FTP), File Transfer Protocol over SSL (FTPS), or Secure Shell (SSH) File Transfer Protocol (SFTP) directly into and out of Amazon Simple Storage Service (Amazon S3) or Amazon EFS. Additionally, you can use Applicability Statement 2 (AS2) to transfer files into and out of Amazon S3. Amazon Web Services helps you seamlessly migrate your file transfer workflows to Transfer Family by integrating with existing authentication systems, and providing DNS routing with Amazon Route 53 so nothing changes for your customers and partners, or their applications. With your data in Amazon S3, you can use it with Amazon Web Services for processing, analytics, machine learning, and archiving. Getting started with Transfer Family is easy since there is no infrastructure to buy and set up.</p>",
  "metadata": {
    "apiVersion": "2018-11-05",
    "endpointPrefix": "transfer",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Transfer",
    "serviceFullName": "AWS Transfer Family",
    "serviceId": "Transfer",
    "signatureVersion": "v4",
    "signingName": "transfer",
    "targetPrefix": "TransferService",
    "uid": "transfer-2018-11-05"
  },
  "operations": {
    "CreateAccess": {
      "documentation": "<p>Used by administrators to choose which groups in the directory should have access to upload and download files over the enabled protocols using Transfer Family. For example, a Microsoft Active Directory might contain 50,000 users, but only a small fraction might need the ability to transfer files to the server. An administrator can use <code>CreateAccess</code> to limit the access to the correct set of users who need this ability.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccessRequest"
      },
      "name": "CreateAccess",
      "output": {
        "shape": "CreateAccessResponse"
      }
    },
    "CreateAgreement": {
      "documentation": "<p>Creates an agreement. An agreement is a bilateral trading partner agreement, or partnership, between an Transfer Family server and an AS2 process. The agreement defines the file and message transfer relationship between the server and the AS2 process. To define an agreement, Transfer Family combines a server, local profile, partner profile, certificate, and other attributes.</p> <p>The partner is identified with the <code>PartnerProfileId</code>, and the AS2 process is identified with the <code>LocalProfileId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAgreementRequest"
      },
      "name": "CreateAgreement",
      "output": {
        "shape": "CreateAgreementResponse"
      }
    },
    "CreateConnector": {
      "documentation": "<p>Creates the connector, which captures the parameters for an outbound connection for the AS2 protocol. The connector is required for sending files to an externally hosted AS2 server. For more details about connectors, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/create-b2b-server.html#configure-as2-connector\">Create AS2 connectors</a>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectorRequest"
      },
      "name": "CreateConnector",
      "output": {
        "shape": "CreateConnectorResponse"
      }
    },
    "CreateProfile": {
      "documentation": "<p>Creates the local or partner profile to use for AS2 transfers.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProfileRequest"
      },
      "name": "CreateProfile",
      "output": {
        "shape": "CreateProfileResponse"
      }
    },
    "CreateServer": {
      "documentation": "<p>Instantiates an auto-scaling virtual server based on the selected file transfer protocol in Amazon Web Services. When you make updates to your file transfer protocol-enabled server or when you work with users, use the service-generated <code>ServerId</code> property that is assigned to the newly created server.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServerRequest"
      },
      "name": "CreateServer",
      "output": {
        "shape": "CreateServerResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user and associates them with an existing file transfer protocol-enabled server. You can only create and associate users with servers that have the <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for <code>CreateUser</code>, you can specify the user name, set the home directory, store the user's public key, and assign the user's Identity and Access Management (IAM) role. You can also optionally add a session policy, and assign metadata with tags that can be used to group and search for users.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "CreateWorkflow": {
      "documentation": "<p> Allows you to create a workflow with specified steps and step details the workflow invokes after file transfer completes. After creating a workflow, you can associate the workflow created with any transfer servers by specifying the <code>workflow-details</code> field in <code>CreateServer</code> and <code>UpdateServer</code> operations. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateWorkflowResponse"
      }
    },
    "DeleteAccess": {
      "documentation": "<p>Allows you to delete the access specified in the <code>ServerID</code> and <code>ExternalID</code> parameters.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessRequest"
      },
      "name": "DeleteAccess"
    },
    "DeleteAgreement": {
      "documentation": "<p>Delete the agreement that's specified in the provided <code>AgreementId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAgreementRequest"
      },
      "name": "DeleteAgreement"
    },
    "DeleteCertificate": {
      "documentation": "<p>Deletes the certificate that's specified in the <code>CertificateId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCertificateRequest"
      },
      "name": "DeleteCertificate"
    },
    "DeleteConnector": {
      "documentation": "<p>Deletes the agreement that's specified in the provided <code>ConnectorId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectorRequest"
      },
      "name": "DeleteConnector"
    },
    "DeleteHostKey": {
      "documentation": "<p>Deletes the host key that's specified in the <code>HoskKeyId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteHostKeyRequest"
      },
      "name": "DeleteHostKey"
    },
    "DeleteProfile": {
      "documentation": "<p>Deletes the profile that's specified in the <code>ProfileId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProfileRequest"
      },
      "name": "DeleteProfile"
    },
    "DeleteServer": {
      "documentation": "<p>Deletes the file transfer protocol-enabled server that you specify.</p> <p>No response returns from this operation.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServerRequest"
      },
      "name": "DeleteServer"
    },
    "DeleteSshPublicKey": {
      "documentation": "<p>Deletes a user's Secure Shell (SSH) public key.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSshPublicKeyRequest"
      },
      "name": "DeleteSshPublicKey"
    },
    "DeleteUser": {
      "documentation": "<p>Deletes the user belonging to a file transfer protocol-enabled server you specify.</p> <p>No response returns from this operation.</p> <note> <p>When you delete a user from a server, the user's information is lost.</p> </note>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser"
    },
    "DeleteWorkflow": {
      "documentation": "<p>Deletes the specified workflow.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkflowRequest"
      },
      "name": "DeleteWorkflow"
    },
    "DescribeAccess": {
      "documentation": "<p>Describes the access that is assigned to the specific file transfer protocol-enabled server, as identified by its <code>ServerId</code> property and its <code>ExternalId</code>.</p> <p>The response from this call returns the properties of the access that is associated with the <code>ServerId</code> value that was specified.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccessRequest"
      },
      "name": "DescribeAccess",
      "output": {
        "shape": "DescribeAccessResponse"
      }
    },
    "DescribeAgreement": {
      "documentation": "<p>Describes the agreement that's identified by the <code>AgreementId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAgreementRequest"
      },
      "name": "DescribeAgreement",
      "output": {
        "shape": "DescribeAgreementResponse"
      }
    },
    "DescribeCertificate": {
      "documentation": "<p>Describes the certificate that's identified by the <code>CertificateId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificateRequest"
      },
      "name": "DescribeCertificate",
      "output": {
        "shape": "DescribeCertificateResponse"
      }
    },
    "DescribeConnector": {
      "documentation": "<p>Describes the connector that's identified by the <code>ConnectorId.</code> </p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectorRequest"
      },
      "name": "DescribeConnector",
      "output": {
        "shape": "DescribeConnectorResponse"
      }
    },
    "DescribeExecution": {
      "documentation": "<p>You can use <code>DescribeExecution</code> to check the details of the execution of the specified workflow.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExecutionRequest"
      },
      "name": "DescribeExecution",
      "output": {
        "shape": "DescribeExecutionResponse"
      }
    },
    "DescribeHostKey": {
      "documentation": "<p>Returns the details of the host key that's specified by the <code>HostKeyId</code> and <code>ServerId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHostKeyRequest"
      },
      "name": "DescribeHostKey",
      "output": {
        "shape": "DescribeHostKeyResponse"
      }
    },
    "DescribeProfile": {
      "documentation": "<p>Returns the details of the profile that's specified by the <code>ProfileId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProfileRequest"
      },
      "name": "DescribeProfile",
      "output": {
        "shape": "DescribeProfileResponse"
      }
    },
    "DescribeSecurityPolicy": {
      "documentation": "<p>Describes the security policy that is attached to your file transfer protocol-enabled server. The response contains a description of the security policy's properties. For more information about security policies, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/security-policies.html\">Working with security policies</a>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityPolicyRequest"
      },
      "name": "DescribeSecurityPolicy",
      "output": {
        "shape": "DescribeSecurityPolicyResponse"
      }
    },
    "DescribeServer": {
      "documentation": "<p>Describes a file transfer protocol-enabled server that you specify by passing the <code>ServerId</code> parameter.</p> <p>The response contains a description of a server's properties. When you set <code>EndpointType</code> to VPC, the response will contain the <code>EndpointDetails</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServerRequest"
      },
      "name": "DescribeServer",
      "output": {
        "shape": "DescribeServerResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Describes the user assigned to the specific file transfer protocol-enabled server, as identified by its <code>ServerId</code> property.</p> <p>The response from this call returns the properties of the user associated with the <code>ServerId</code> value that was specified.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "DescribeWorkflow": {
      "documentation": "<p>Describes the specified workflow.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkflowRequest"
      },
      "name": "DescribeWorkflow",
      "output": {
        "shape": "DescribeWorkflowResponse"
      }
    },
    "ImportCertificate": {
      "documentation": "<p>Imports the signing and encryption certificates that you need to create local (AS2) profiles and partner profiles.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportCertificateRequest"
      },
      "name": "ImportCertificate",
      "output": {
        "shape": "ImportCertificateResponse"
      }
    },
    "ImportHostKey": {
      "documentation": "<p>Adds a host key to the server that's specified by the <code>ServerId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportHostKeyRequest"
      },
      "name": "ImportHostKey",
      "output": {
        "shape": "ImportHostKeyResponse"
      }
    },
    "ImportSshPublicKey": {
      "documentation": "<p>Adds a Secure Shell (SSH) public key to a user account identified by a <code>UserName</code> value assigned to the specific file transfer protocol-enabled server, identified by <code>ServerId</code>.</p> <p>The response returns the <code>UserName</code> value, the <code>ServerId</code> value, and the name of the <code>SshPublicKeyId</code>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportSshPublicKeyRequest"
      },
      "name": "ImportSshPublicKey",
      "output": {
        "shape": "ImportSshPublicKeyResponse"
      }
    },
    "ListAccesses": {
      "documentation": "<p>Lists the details for all the accesses you have on your server.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessesRequest"
      },
      "name": "ListAccesses",
      "output": {
        "shape": "ListAccessesResponse"
      }
    },
    "ListAgreements": {
      "documentation": "<p>Returns a list of the agreements for the server that's identified by the <code>ServerId</code> that you supply. If you want to limit the results to a certain number, supply a value for the <code>MaxResults</code> parameter. If you ran the command previously and received a value for <code>NextToken</code>, you can supply that value to continue listing agreements from where you left off.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAgreementsRequest"
      },
      "name": "ListAgreements",
      "output": {
        "shape": "ListAgreementsResponse"
      }
    },
    "ListCertificates": {
      "documentation": "<p>Returns a list of the current certificates that have been imported into Transfer Family. If you want to limit the results to a certain number, supply a value for the <code>MaxResults</code> parameter. If you ran the command previously and received a value for the <code>NextToken</code> parameter, you can supply that value to continue listing certificates from where you left off.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCertificatesRequest"
      },
      "name": "ListCertificates",
      "output": {
        "shape": "ListCertificatesResponse"
      }
    },
    "ListConnectors": {
      "documentation": "<p>Lists the connectors for the specified Region.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConnectorsRequest"
      },
      "name": "ListConnectors",
      "output": {
        "shape": "ListConnectorsResponse"
      }
    },
    "ListExecutions": {
      "documentation": "<p>Lists all executions for the specified workflow.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExecutionsRequest"
      },
      "name": "ListExecutions",
      "output": {
        "shape": "ListExecutionsResponse"
      }
    },
    "ListHostKeys": {
      "documentation": "<p>Returns a list of host keys for the server that's specified by the <code>ServerId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListHostKeysRequest"
      },
      "name": "ListHostKeys",
      "output": {
        "shape": "ListHostKeysResponse"
      }
    },
    "ListProfiles": {
      "documentation": "<p>Returns a list of the profiles for your system. If you want to limit the results to a certain number, supply a value for the <code>MaxResults</code> parameter. If you ran the command previously and received a value for <code>NextToken</code>, you can supply that value to continue listing profiles from where you left off.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProfilesRequest"
      },
      "name": "ListProfiles",
      "output": {
        "shape": "ListProfilesResponse"
      }
    },
    "ListSecurityPolicies": {
      "documentation": "<p>Lists the security policies that are attached to your file transfer protocol-enabled servers.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSecurityPoliciesRequest"
      },
      "name": "ListSecurityPolicies",
      "output": {
        "shape": "ListSecurityPoliciesResponse"
      }
    },
    "ListServers": {
      "documentation": "<p>Lists the file transfer protocol-enabled servers that are associated with your Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServersRequest"
      },
      "name": "ListServers",
      "output": {
        "shape": "ListServersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The resource can be a user, server, or role.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Lists the users for a file transfer protocol-enabled server that you specify by passing the <code>ServerId</code> parameter.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "ListWorkflows": {
      "documentation": "<p>Lists all of your workflows.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkflowsRequest"
      },
      "name": "ListWorkflows",
      "output": {
        "shape": "ListWorkflowsResponse"
      }
    },
    "SendWorkflowStepState": {
      "documentation": "<p>Sends a callback for asynchronous custom steps.</p> <p> The <code>ExecutionId</code>, <code>WorkflowId</code>, and <code>Token</code> are passed to the target resource during execution of a custom step of a workflow. You must include those with their callback as well as providing a status. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendWorkflowStepStateRequest"
      },
      "name": "SendWorkflowStepState",
      "output": {
        "shape": "SendWorkflowStepStateResponse"
      }
    },
    "StartFileTransfer": {
      "documentation": "<p>Begins an outbound file transfer to a remote AS2 server. You specify the <code>ConnectorId</code> and the file paths for where to send the files. </p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartFileTransferRequest"
      },
      "name": "StartFileTransfer",
      "output": {
        "shape": "StartFileTransferResponse"
      }
    },
    "StartServer": {
      "documentation": "<p>Changes the state of a file transfer protocol-enabled server from <code>OFFLINE</code> to <code>ONLINE</code>. It has no impact on a server that is already <code>ONLINE</code>. An <code>ONLINE</code> server can accept and process file transfer jobs.</p> <p>The state of <code>STARTING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully online. The values of <code>START_FAILED</code> can indicate an error condition.</p> <p>No response is returned from this call.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartServerRequest"
      },
      "name": "StartServer"
    },
    "StopServer": {
      "documentation": "<p>Changes the state of a file transfer protocol-enabled server from <code>ONLINE</code> to <code>OFFLINE</code>. An <code>OFFLINE</code> server cannot accept and process file transfer jobs. Information tied to your server, such as server and user properties, are not affected by stopping your server.</p> <note> <p>Stopping the server does not reduce or impact your file transfer protocol endpoint billing; you must delete the server to stop being billed.</p> </note> <p>The state of <code>STOPPING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>STOP_FAILED</code> can indicate an error condition.</p> <p>No response is returned from this call.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopServerRequest"
      },
      "name": "StopServer"
    },
    "TagResource": {
      "documentation": "<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>There is no response returned from this call.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "TestIdentityProvider": {
      "documentation": "<p>If the <code>IdentityProviderType</code> of a file transfer protocol-enabled server is <code>AWS_DIRECTORY_SERVICE</code> or <code>API_Gateway</code>, tests whether your identity provider is set up successfully. We highly recommend that you call this operation to test your authentication method as soon as you create your server. By doing so, you can troubleshoot issues with the identity provider integration to ensure that your users can successfully use the service.</p> <p> The <code>ServerId</code> and <code>UserName</code> parameters are required. The <code>ServerProtocol</code>, <code>SourceIp</code>, and <code>UserPassword</code> are all optional. </p> <note> <p> You cannot use <code>TestIdentityProvider</code> if the <code>IdentityProviderType</code> of your server is <code>SERVICE_MANAGED</code>. </p> </note> <ul> <li> <p> If you provide any incorrect values for any parameters, the <code>Response</code> field is empty. </p> </li> <li> <p> If you provide a server ID for a server that uses service-managed users, you get an error: </p> <p> <code> An error occurred (InvalidRequestException) when calling the TestIdentityProvider operation: s-<i>server-ID</i> not configured for external auth </code> </p> </li> <li> <p> If you enter a Server ID for the <code>--server-id</code> parameter that does not identify an actual Transfer server, you receive the following error: </p> <p> <code>An error occurred (ResourceNotFoundException) when calling the TestIdentityProvider operation: Unknown server</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestIdentityProviderRequest"
      },
      "name": "TestIdentityProvider",
      "output": {
        "shape": "TestIdentityProviderResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Detaches a key-value pair from a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>No response is returned from this call.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAccess": {
      "documentation": "<p>Allows you to update parameters for the access specified in the <code>ServerID</code> and <code>ExternalID</code> parameters.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAccessRequest"
      },
      "name": "UpdateAccess",
      "output": {
        "shape": "UpdateAccessResponse"
      }
    },
    "UpdateAgreement": {
      "documentation": "<p>Updates some of the parameters for an existing agreement. Provide the <code>AgreementId</code> and the <code>ServerId</code> for the agreement that you want to update, along with the new values for the parameters to update.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAgreementRequest"
      },
      "name": "UpdateAgreement",
      "output": {
        "shape": "UpdateAgreementResponse"
      }
    },
    "UpdateCertificate": {
      "documentation": "<p>Updates the active and inactive dates for a certificate.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCertificateRequest"
      },
      "name": "UpdateCertificate",
      "output": {
        "shape": "UpdateCertificateResponse"
      }
    },
    "UpdateConnector": {
      "documentation": "<p>Updates some of the parameters for an existing connector. Provide the <code>ConnectorId</code> for the connector that you want to update, along with the new values for the parameters to update.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConnectorRequest"
      },
      "name": "UpdateConnector",
      "output": {
        "shape": "UpdateConnectorResponse"
      }
    },
    "UpdateHostKey": {
      "documentation": "<p>Updates the description for the host key that's specified by the <code>ServerId</code> and <code>HostKeyId</code> parameters.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateHostKeyRequest"
      },
      "name": "UpdateHostKey",
      "output": {
        "shape": "UpdateHostKeyResponse"
      }
    },
    "UpdateProfile": {
      "documentation": "<p>Updates some of the parameters for an existing profile. Provide the <code>ProfileId</code> for the profile that you want to update, along with the new values for the parameters to update.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProfileRequest"
      },
      "name": "UpdateProfile",
      "output": {
        "shape": "UpdateProfileResponse"
      }
    },
    "UpdateServer": {
      "documentation": "<p>Updates the file transfer protocol-enabled server's properties after that server has been created.</p> <p>The <code>UpdateServer</code> call returns the <code>ServerId</code> of the server you updated.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServerRequest"
      },
      "name": "UpdateServer",
      "output": {
        "shape": "UpdateServerResponse"
      }
    },
    "UpdateUser": {
      "documentation": "<p>Assigns new properties to a user. Parameters you pass modify any or all of the following: the home directory, role, and policy for the <code>UserName</code> and <code>ServerId</code> you specify.</p> <p>The response returns the <code>ServerId</code> and the <code>UserName</code> for the updated user.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServiceError"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserRequest"
      },
      "name": "UpdateUser",
      "output": {
        "shape": "UpdateUserResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ServiceErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "AddressAllocationId": {
      "type": "string"
    },
    "AddressAllocationIds": {
      "member": {
        "shape": "AddressAllocationId"
      },
      "type": "list"
    },
    "AgreementId": {
      "max": 19,
      "min": 19,
      "pattern": "^a-([0-9a-f]{17})$",
      "type": "string"
    },
    "AgreementStatusType": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 1600,
      "min": 20,
      "pattern": "arn:.*",
      "type": "string"
    },
    "As2ConnectorConfig": {
      "documentation": "<p>Contains the details for a connector object. The connector object is used for AS2 outbound processes, to connect the Transfer Family customer with the trading partner.</p>",
      "members": {
        "Compression": {
          "documentation": "<p>Specifies whether the AS2 file is compressed.</p>",
          "shape": "CompressionEnum"
        },
        "EncryptionAlgorithm": {
          "documentation": "<p>The algorithm that is used to encrypt the file.</p>",
          "shape": "EncryptionAlg"
        },
        "LocalProfileId": {
          "documentation": "<p>A unique identifier for the AS2 local profile.</p>",
          "shape": "ProfileId"
        },
        "MdnResponse": {
          "documentation": "<p>Used for outbound requests (from an Transfer Family server to a partner AS2 server) to determine whether the partner response for transfers is synchronous or asynchronous. Specify either of the following values:</p> <ul> <li> <p> <code>SYNC</code>: The system expects a synchronous MDN response, confirming that the file was transferred successfully (or not).</p> </li> <li> <p> <code>NONE</code>: Specifies that no MDN response is required.</p> </li> </ul>",
          "shape": "MdnResponse"
        },
        "MdnSigningAlgorithm": {
          "documentation": "<p>The signing algorithm for the MDN response.</p> <note> <p>If set to DEFAULT (or not set at all), the value for <code>SigningAlogorithm</code> is used.</p> </note>",
          "shape": "MdnSigningAlg"
        },
        "MessageSubject": {
          "documentation": "<p>Used as the <code>Subject</code> HTTP header attribute in AS2 messages that are being sent with the connector.</p>",
          "shape": "MessageSubject"
        },
        "PartnerProfileId": {
          "documentation": "<p>A unique identifier for the partner profile for the connector.</p>",
          "shape": "ProfileId"
        },
        "SigningAlgorithm": {
          "documentation": "<p>The algorithm that is used to sign the AS2 messages sent with the connector.</p>",
          "shape": "SigningAlg"
        }
      },
      "type": "structure"
    },
    "As2Id": {
      "max": 128,
      "min": 1,
      "pattern": "^[\\p{Print}\\s]*",
      "type": "string"
    },
    "As2Transport": {
      "enum": [
        "HTTP"
      ],
      "type": "string"
    },
    "As2Transports": {
      "max": 1,
      "member": {
        "shape": "As2Transport"
      },
      "min": 1,
      "type": "list"
    },
    "CallbackToken": {
      "max": 64,
      "min": 1,
      "pattern": "\\w+",
      "type": "string"
    },
    "CertDate": {
      "type": "timestamp"
    },
    "CertSerial": {
      "max": 48,
      "min": 0,
      "pattern": "^[\\p{XDigit}{2}:?]*",
      "type": "string"
    },
    "Certificate": {
      "max": 1600,
      "type": "string"
    },
    "CertificateBodyType": {
      "max": 16384,
      "min": 1,
      "pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*",
      "sensitive": true,
      "type": "string"
    },
    "CertificateChainType": {
      "max": 2097152,
      "min": 1,
      "pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*",
      "sensitive": true,
      "type": "string"
    },
    "CertificateId": {
      "max": 22,
      "min": 22,
      "pattern": "^cert-([0-9a-f]{17})$",
      "type": "string"
    },
    "CertificateIds": {
      "member": {
        "shape": "CertificateId"
      },
      "type": "list"
    },
    "CertificateStatusType": {
      "enum": [
        "ACTIVE",
        "PENDING_ROTATION",
        "INACTIVE"
      ],
      "type": "string"
    },
    "CertificateType": {
      "enum": [
        "CERTIFICATE",
        "CERTIFICATE_WITH_PRIVATE_KEY"
      ],
      "type": "string"
    },
    "CertificateUsageType": {
      "enum": [
        "SIGNING",
        "ENCRYPTION"
      ],
      "type": "string"
    },
    "CompressionEnum": {
      "enum": [
        "ZLIB",
        "DISABLED"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>This exception is thrown when the <code>UpdateServer</code> is called for a file transfer protocol-enabled server that has VPC as the endpoint type and the server's <code>VpcEndpointID</code> is not in the available state.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ConnectorId": {
      "max": 19,
      "min": 19,
      "pattern": "^c-([0-9a-f]{17})$",
      "type": "string"
    },
    "CopyStepDetails": {
      "documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>",
      "members": {
        "DestinationFileLocation": {
          "documentation": "<p>Specifies the location for the file being copied. Only applicable for Copy type workflow steps. Use <code>${Transfer:username}</code> in this field to parametrize the destination prefix by username.</p>",
          "shape": "InputFileLocation"
        },
        "Name": {
          "documentation": "<p>The name of the step, used as an identifier.</p>",
          "shape": "WorkflowStepName"
        },
        "OverwriteExisting": {
          "documentation": "<p>A flag that indicates whether or not to overwrite an existing file of the same name. The default is <code>FALSE</code>.</p>",
          "shape": "OverwriteExisting"
        },
        "SourceFileLocation": {
          "documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>Enter <code>${previous.file}</code> to use the previous file as the input. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p> </li> </ul>",
          "shape": "SourceFileLocation"
        }
      },
      "type": "structure"
    },
    "CreateAccessRequest": {
      "members": {
        "ExternalId": {
          "documentation": "<p>A unique identifier that is required to identify specific groups within your directory. The users of the group that you associate have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family. If you know the group name, you can view the SID values by running the following command using Windows PowerShell.</p> <p> <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code> </p> <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p> <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@:/-</p>",
          "shape": "ExternalId"
        },
        "HomeDirectory": {
          "documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p> <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>",
          "shape": "HomeDirectory"
        },
        "HomeDirectoryMappings": {
          "documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should be visible to your user and how you want to make them visible. You must specify the <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) role provides access to paths in <code>Target</code>. This value can be set only when <code>HomeDirectoryType</code> is set to <i>LOGICAL</i>.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p> <p> <code>[ { \"Entry\": \"/directory1\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p> <p>In most cases, you can use this value instead of the session policy to lock down your user to the designated home directory (\"<code>chroot</code>\"). To do this, you can set <code>Entry</code> to <code>/</code> and set <code>Target</code> to the <code>HomeDirectory</code> parameter value.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p> <p> <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p>",
          "shape": "HomeDirectoryMappings"
        },
        "HomeDirectoryType": {
          "documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients. If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p>",
          "shape": "HomeDirectoryType"
        },
        "Policy": {
          "documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p> <p>For session policies, Transfer Family stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session policy</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Security Token Service API Reference</i>.</p> </note>",
          "shape": "Policy"
        },
        "PosixProfile": {
          "shape": "PosixProfile"
        },
        "Role": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
          "shape": "Role"
        },
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "Role",
        "ServerId",
        "ExternalId"
      ],
      "type": "structure"
    },
    "CreateAccessResponse": {
      "members": {
        "ExternalId": {
          "documentation": "<p>The external identifier of the group whose users have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family.</p>",
          "shape": "ExternalId"
        },
        "ServerId": {
          "documentation": "<p>The identifier of the server that the user is attached to.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "ServerId",
        "ExternalId"
      ],
      "type": "structure"
    },
    "CreateAgreementRequest": {
      "members": {
        "AccessRole": {
          "documentation": "<p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the file paths in the request parameter, <code>SendFilePaths</code>. We use the file\u2019s parent directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file, store the MDN when we receive them from the partner, and write a final JSON file containing relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read and write access to the parent directory of the file location used in the <code>StartFileTransfer</code> request. Additionally, you need to provide read and write access to the parent directory of the files that you intend to send with <code>StartFileTransfer</code>.</p>",
          "shape": "Role"
        },
        "BaseDirectory": {
          "documentation": "<p>The landing directory (folder) for files transferred by using the AS2 protocol.</p> <p>A <code>BaseDirectory</code> example is <i>DOC-EXAMPLE-BUCKET</i>/<i>home</i>/<i>mydirectory</i>.</p>",
          "shape": "HomeDirectory"
        },
        "Description": {
          "documentation": "<p>A name or short description to identify the agreement. </p>",
          "shape": "Description"
        },
        "LocalProfileId": {
          "documentation": "<p>A unique identifier for the AS2 local profile.</p>",
          "shape": "ProfileId"
        },
        "PartnerProfileId": {
          "documentation": "<p>A unique identifier for the partner profile used in the agreement.</p>",
          "shape": "ProfileId"
        },
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that the agreement uses.</p>",
          "shape": "ServerId"
        },
        "Status": {
          "documentation": "<p>The status of the agreement. The agreement can be either <code>ACTIVE</code> or <code>INACTIVE</code>.</p>",
          "shape": "AgreementStatusType"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for agreements.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ServerId",
        "LocalProfileId",
        "PartnerProfileId",
        "BaseDirectory",
        "AccessRole"
      ],
      "type": "structure"
    },
    "CreateAgreementResponse": {
      "members": {
        "AgreementId": {
          "documentation": "<p>The unique identifier for the agreement. Use this ID for deleting, or updating an agreement, as well as in any other API calls that require that you specify the agreement ID.</p>",
          "shape": "AgreementId"
        }
      },
      "required": [
        "AgreementId"
      ],
      "type": "structure"
    },
    "CreateConnectorRequest": {
      "members": {
        "AccessRole": {
          "documentation": "<p>With AS2, you can send files by calling <code>StartFileTransfer</code> and specifying the file paths in the request parameter, <code>SendFilePaths</code>. We use the file\u2019s parent directory (for example, for <code>--send-file-paths /bucket/dir/file.txt</code>, parent directory is <code>/bucket/dir/</code>) to temporarily store a processed AS2 message file, store the MDN when we receive them from the partner, and write a final JSON file containing relevant metadata of the transmission. So, the <code>AccessRole</code> needs to provide read and write access to the parent directory of the file location used in the <code>StartFileTransfer</code> request. Additionally, you need to provide read and write access to the parent directory of the files that you intend to send with <code>StartFileTransfer</code>.</p>",
          "shape": "Role"
        },
        "As2Config": {
          "documentation": "<p>A structure that contains the parameters for a connector object.</p>",
          "shape": "As2ConnectorConfig"
        },
        "LoggingRole": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a connector to turn on CloudWatch logging for Amazon S3 events. When set, you can view connector activity in your CloudWatch logs.</p>",
          "shape": "Role"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for connectors. Tags are metadata attached to connectors for any purpose.</p>",
          "shape": "Tags"
        },
        "Url": {
          "documentation": "<p>The URL of the partner's AS2 endpoint.</p>",
          "shape": "Url"
        }
      },
      "required": [
        "Url",
        "As2Config",
        "AccessRole"
      ],
      "type": "structure"
    },
    "CreateConnectorResponse": {
      "members": {
        "ConnectorId": {
          "documentation": "<p>The unique identifier for the connector, returned after the API call succeeds.</p>",
          "shape": "ConnectorId"
        }
      },
      "required": [
        "ConnectorId"
      ],
      "type": "structure"
    },
    "CreateProfileRequest": {
      "members": {
        "As2Id": {
          "documentation": "<p>The <code>As2Id</code> is the <i>AS2-name</i>, as defined in the <a href=\"https://datatracker.ietf.org/doc/html/rfc4130\">RFC 4130</a>. For inbound transfers, this is the <code>AS2-From</code> header for the AS2 messages sent from the partner. For outbound connectors, this is the <code>AS2-To</code> header for the AS2 messages sent to the partner using the <code>StartFileTransfer</code> API operation. This ID cannot include spaces.</p>",
          "shape": "As2Id"
        },
        "CertificateIds": {
          "documentation": "<p>An array of identifiers for the imported certificates. You use this identifier for working with profiles and partner profiles.</p>",
          "shape": "CertificateIds"
        },
        "ProfileType": {
          "documentation": "<p>Determines the type of profile to create:</p> <ul> <li> <p>Specify <code>LOCAL</code> to create a local profile. A local profile represents the AS2-enabled Transfer Family server organization or party.</p> </li> <li> <p>Specify <code>PARTNER</code> to create a partner profile. A partner profile represents a remote organization, external to Transfer Family.</p> </li> </ul>",
          "shape": "ProfileType"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for AS2 profiles.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "As2Id",
        "ProfileType"
      ],
      "type": "structure"
    },
    "CreateProfileResponse": {
      "members": {
        "ProfileId": {
          "documentation": "<p>The unique identifier for the AS2 profile, returned after the API call succeeds.</p>",
          "shape": "ProfileId"
        }
      },
      "required": [
        "ProfileId"
      ],
      "type": "structure"
    },
    "CreateServerRequest": {
      "members": {
        "Certificate": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Certificate Manager (ACM) certificate. Required when <code>Protocols</code> is set to <code>FTPS</code>.</p> <p>To request a new public certificate, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-public.html\">Request a public certificate</a> in the <i>Certificate Manager User Guide</i>.</p> <p>To import an existing certificate into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing certificates into ACM</a> in the <i>Certificate Manager User Guide</i>.</p> <p>To request a private certificate to use FTPS through private IP addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-request-private.html\">Request a private certificate</a> in the <i>Certificate Manager User Guide</i>.</p> <p>Certificates with the following cryptographic algorithms and key sizes are supported:</p> <ul> <li> <p>2048-bit RSA (RSA_2048)</p> </li> <li> <p>4096-bit RSA (RSA_4096)</p> </li> <li> <p>Elliptic Prime Curve 256 bit (EC_prime256v1)</p> </li> <li> <p>Elliptic Prime Curve 384 bit (EC_secp384r1)</p> </li> <li> <p>Elliptic Prime Curve 521 bit (EC_secp521r1)</p> </li> </ul> <note> <p>The certificate must be a valid SSL/TLS X.509 version 3 certificate with FQDN or IP address specified and information about the issuer.</p> </note>",
          "shape": "Certificate"
        },
        "Domain": {
          "documentation": "<p>The domain of the storage system that is used for file transfers. There are two domains available: Amazon Simple Storage Service (Amazon S3) and Amazon Elastic File System (Amazon EFS). The default value is S3.</p> <note> <p>After the server is created, the domain cannot be changed.</p> </note>",
          "shape": "Domain"
        },
        "EndpointDetails": {
          "documentation": "<p>The virtual private cloud (VPC) endpoint settings that are configured for your server. When you host your endpoint within your VPC, you can make your endpoint accessible only to resources within your VPC, or you can attach Elastic IP addresses and make your endpoint accessible to clients over the internet. Your VPC's default security groups are automatically assigned to your endpoint.</p>",
          "shape": "EndpointDetails"
        },
        "EndpointType": {
          "documentation": "<p>The type of endpoint that you want your server to use. You can choose to make your server's endpoint publicly accessible (PUBLIC) or host it inside your VPC. With an endpoint that is hosted in a VPC, you can restrict access to your server and resources only within your VPC or choose to make it internet facing by attaching Elastic IP addresses directly to it.</p> <note> <p> After May 19, 2021, you won't be able to create a server using <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account if your account hasn't already done so before May 19, 2021. If you have already created servers with <code>EndpointType=VPC_ENDPOINT</code> in your Amazon Web Services account on or before May 19, 2021, you will not be affected. After this date, use <code>EndpointType</code>=<code>VPC</code>.</p> <p>For more information, see https://docs.aws.amazon.com/transfer/latest/userguide/create-server-in-vpc.html#deprecate-vpc-endpoint.</p> <p>It is recommended that you use <code>VPC</code> as the <code>EndpointType</code>. With this endpoint type, you have the option to directly associate up to three Elastic IPv4 addresses (BYO IP included) with your server's endpoint and use VPC security groups to restrict traffic by the client's public IP address. This is not possible with <code>EndpointType</code> set to <code>VPC_ENDPOINT</code>.</p> </note>",
          "shape": "EndpointType"
        },
        "HostKey": {
          "documentation": "<p>The RSA, ECDSA, or ED25519 private key to use for your SFTP-enabled server. You can add multiple host keys, in case you want to rotate keys, or have a set of active keys that use different algorithms.</p> <p>Use the following command to generate an RSA 2048 bit key with no passphrase:</p> <p> <code>ssh-keygen -t rsa -b 2048 -N \"\" -m PEM -f my-new-server-key</code>.</p> <p>Use a minimum value of 2048 for the <code>-b</code> option. You can create a stronger key by using 3072 or 4096.</p> <p>Use the following command to generate an ECDSA 256 bit key with no passphrase:</p> <p> <code>ssh-keygen -t ecdsa -b 256 -N \"\" -m PEM -f my-new-server-key</code>.</p> <p>Valid values for the <code>-b</code> option for ECDSA are 256, 384, and 521.</p> <p>Use the following command to generate an ED25519 key with no passphrase:</p> <p> <code>ssh-keygen -t ed25519 -N \"\" -f my-new-server-key</code>.</p> <p>For all of these commands, you can replace <i>my-new-server-key</i> with a string of your choice.</p> <important> <p>If you aren't planning to migrate existing users from an existing SFTP-enabled server to a new server, don't update the host key. Accidentally changing a server's host key can be disruptive.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/edit-server-config.html#configuring-servers-change-host-key\">Update host keys for your SFTP-enabled server</a> in the <i>Transfer Family User Guide</i>.</p>",
          "shape": "HostKey"
        },
        "IdentityProviderDetails": {
          "documentation": "<p>Required when <code>IdentityProviderType</code> is set to <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>. Accepts an array containing all of the information required to use a directory in <code>AWS_DIRECTORY_SERVICE</code> or invoke a customer-supplied authentication API, including the API Gateway URL. Not required when <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.</p>",
          "shape": "IdentityProviderDetails"
        },
        "IdentityProviderType": {
          "documentation": "<p>The mode of authentication for a server. The default value is <code>SERVICE_MANAGED</code>, which allows you to store and access user credentials within the Transfer Family service.</p> <p>Use <code>AWS_DIRECTORY_SERVICE</code> to provide access to Active Directory groups in Directory Service for Microsoft Active Directory or Microsoft Active Directory in your on-premises environment or in Amazon Web Services using AD Connector. This option also requires you to provide a Directory ID by using the <code>IdentityProviderDetails</code> parameter.</p> <p>Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The <code>API_GATEWAY</code> setting requires you to provide an Amazon API Gateway endpoint URL to call for authentication by using the <code>IdentityProviderDetails</code> parameter.</p> <p>Use the <code>AWS_LAMBDA</code> value to directly use an Lambda function as your identity provider. If you choose this value, you must specify the ARN for the Lambda function in the <code>Function</code> parameter or the <code>IdentityProviderDetails</code> data type.</p>",
          "shape": "IdentityProviderType"
        },
        "LoggingRole": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that allows a server to turn on Amazon CloudWatch logging for Amazon S3 or Amazon EFSevents. When set, you can view user activity in your CloudWatch logs.</p>",
          "shape": "Role"
        },
        "PostAuthenticationLoginBanner": {
          "documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed after the user authenticates.</p> <note> <p>The SFTP protocol does not support post-authentication display banners.</p> </note>",
          "shape": "PostAuthenticationLoginBanner"
        },
        "PreAuthenticationLoginBanner": {
          "documentation": "<p>Specifies a string to display when users connect to a server. This string is displayed before the user authenticates. For example, the following banner displays details about using the system:</p> <p> <code>This system is for the use of authorized users only. Individuals using this computer system without authority, or in excess of their authority, are subject to having all of their activities on this system monitored and recorded by system personnel.</code> </p>",
          "shape": "PreAuthenticationLoginBanner"
        },
        "ProtocolDetails": {
          "documentation": "<p>The protocol settings that are configured for your server.</p> <ul> <li> <p> To indicate passive mode (for FTP and FTPS protocols), use the <code>PassiveIp</code> parameter. Enter a single dotted-quad IPv4 address, such as the external IP address of a firewall, router, or load balancer. </p> </li> <li> <p>To ignore the error that is generated when the client attempts to use the <code>SETSTAT</code> command on a file that you are uploading to an Amazon S3 bucket, use the <code>SetStatOption</code> parameter. To have the Transfer Family server ignore the <code>SETSTAT</code> command and upload files without needing to make any changes to your SFTP client, set the value to <code>ENABLE_NO_OP</code>. If you set the <code>SetStatOption</code> parameter to <code>ENABLE_NO_OP</code>, Transfer Family generates a log entry to Amazon CloudWatch Logs, so that you can determine when the client is making a <code>SETSTAT</code> call.</p> </li> <li> <p>To determine whether your Transfer Family server resumes recent, negotiated sessions through a unique session ID, use the <code>TlsSessionResumptionMode</code> parameter.</p> </li> <li> <p> <code>As2Transports</code> indicates the transport method for the AS2 messages. Currently, only HTTP is supported.</p> </li> </ul>",
          "shape": "ProtocolDetails"
        },
        "Protocols": {
          "documentation": "<p>Specifies the file transfer protocol or protocols over which your file transfer protocol client can connect to your server's endpoint. The available protocols are:</p> <ul> <li> <p> <code>SFTP</code> (Secure Shell (SSH) File Transfer Protocol): File transfer over SSH</p> </li> <li> <p> <code>FTPS</code> (File Transfer Protocol Secure): File transfer with TLS encryption</p> </li> <li> <p> <code>FTP</code> (File Transfer Protocol): Unencrypted file transfer</p> </li> <li> <p> <code>AS2</code> (Applicability Statement 2): used for transporting structured business-to-business data</p> </li> </ul> <note> <ul> <li> <p>If you select <code>FTPS</code>, you must choose a certificate stored in Certificate Manager (ACM) which is used to identify your server when clients connect to it over FTPS.</p> </li> <li> <p>If <code>Protocol</code> includes either <code>FTP</code> or <code>FTPS</code>, then the <code>EndpointType</code> must be <code>VPC</code> and the <code>IdentityProviderType</code> must be <code>AWS_DIRECTORY_SERVICE</code> or <code>API_GATEWAY</code>.</p> </li> <li> <p>If <code>Protocol</code> includes <code>FTP</code>, then <code>AddressAllocationIds</code> cannot be associated.</p> </li> <li> <p>If <code>Protocol</code> is set only to <code>SFTP</code>, the <code>EndpointType</code> can be set to <code>PUBLIC</code> and the <code>IdentityProviderType</code> can be set to <code>SERVICE_MANAGED</code>.</p> </li> <li> <p>If <code>Protocol</code> includes <code>AS2</code>, then the <code>EndpointType</code> must be <code>VPC</code>, and domain must be Amazon S3.</p> </li> </ul> </note>",
          "shape": "Protocols"
        },
        "SecurityPolicyName": {
          "documentation": "<p>Specifies the name of the security policy that is attached to the server.</p>",
          "shape": "SecurityPolicyName"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for servers.</p>",
          "shape": "Tags"
        },
        "WorkflowDetails": {
          "documentation": "<p>Specifies the workflow ID for the workflow to assign and the execution role that's used for executing the workflow.</p> <p>In additon to a workflow to execute when a file is uploaded completely, <code>WorkflowDeatails</code> can also contain a workflow ID (and execution role) for a workflow to execute on partial upload. A partial upload occurs when a file is open when the session disconnects.</p>",
          "shape": "WorkflowDetails"
        }
      },
      "type": "structure"
    },
    "CreateServerResponse": {
      "members": {
        "ServerId": {
          "documentation": "<p>The service-assigned identifier of the server that is created.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "ServerId"
      ],
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "HomeDirectory": {
          "documentation": "<p>The landing directory (folder) for a user when they log in to the server using the client.</p> <p>A <code>HomeDirectory</code> example is <code>/bucket_name/home/mydirectory</code>.</p>",
          "shape": "HomeDirectory"
        },
        "HomeDirectoryMappings": {
          "documentation": "<p>Logical directory mappings that specify what Amazon S3 or Amazon EFS paths and keys should be visible to your user and how you want to make them visible. You must specify the <code>Entry</code> and <code>Target</code> pair, where <code>Entry</code> shows how the path is made visible and <code>Target</code> is the actual Amazon S3 or Amazon EFS path. If you only specify a target, it is displayed as is. You also must ensure that your Identity and Access Management (IAM) role provides access to paths in <code>Target</code>. This value can be set only when <code>HomeDirectoryType</code> is set to <i>LOGICAL</i>.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example.</p> <p> <code>[ { \"Entry\": \"/directory1\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p> <p>In most cases, you can use this value instead of the session policy to lock your user down to the designated home directory (\"<code>chroot</code>\"). To do this, you can set <code>Entry</code> to <code>/</code> and set <code>Target</code> to the HomeDirectory parameter value.</p> <p>The following is an <code>Entry</code> and <code>Target</code> pair example for <code>chroot</code>.</p> <p> <code>[ { \"Entry\": \"/\", \"Target\": \"/bucket_name/home/mydirectory\" } ]</code> </p>",
          "shape": "HomeDirectoryMappings"
        },
        "HomeDirectoryType": {
          "documentation": "<p>The type of landing directory (folder) that you want your users' home directory to be when they log in to the server. If you set it to <code>PATH</code>, the user will see the absolute Amazon S3 bucket or EFS paths as is in their file transfer protocol clients. If you set it <code>LOGICAL</code>, you need to provide mappings in the <code>HomeDirectoryMappings</code> for how you want to make Amazon S3 or Amazon EFS paths visible to your users.</p>",
          "shape": "HomeDirectoryType"
        },
        "Policy": {
          "documentation": "<p>A session policy for your user so that you can use the same Identity and Access Management (IAM) role across multiple users. This policy scopes down a user's access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>This policy applies only when the domain of <code>ServerId</code> is Amazon S3. Amazon EFS does not use session policies.</p> <p>For session policies, Transfer Family stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a session policy, see <a href=\"https://docs.aws.amazon.com/transfer/latest/userguide/session-policy.html\">Example session policy</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html\">AssumeRole</a> in the <i>Amazon Web Services Security Token Service API Reference</i>.</p> </note>",
          "shape": "Policy"
        },
        "PosixProfile": {
          "documentation": "<p>Specifies the full POSIX identity, including user ID (<code>Uid</code>), group ID (<code>Gid</code>), and any secondary groups IDs (<code>SecondaryGids</code>), that controls your users' access to your Amazon EFS file systems. The POSIX permissions that are set on files and directories in Amazon EFS determine the level of access your users get when transferring files into and out of your Amazon EFS file systems.</p>",
          "shape": "PosixProfile"
        },
        "Role": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that controls your users' access to your Amazon S3 bucket or Amazon EFS file system. The policies attached to this role determine the level of access that you want to provide your users when transferring files into and out of your Amazon S3 bucket or Amazon EFS file system. The IAM role should also contain a trust relationship that allows the server to access your resources when servicing your users' transfer requests.</p>",
          "shape": "Role"
        },
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a server instance. This is the specific server that you added your user to.</p>",
          "shape": "ServerId"
        },
        "SshPublicKeyBody": {
          "documentation": "<p>The public portion of the Secure Shell (SSH) key used to authenticate the user to the server.</p> <p>Transfer Family accepts RSA, ECDSA, and ED25519 keys.</p>",
          "shape": "SshPublicKeyBody"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for users. Tags are metadata attached to users for any purpose.</p>",
          "shape": "Tags"
        },
        "UserName": {
          "documentation": "<p>A unique string that identifies a user and is associated with a <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 100 characters long. The following are valid characters: a-z, A-Z, 0-9, underscore '_', hyphen '-', period '.', and at sign '@'. The user name can't start with a hyphen, period, or at sign.</p>",
          "shape": "UserName"
        }
      },
      "required": [
        "Role",
        "ServerId",
        "UserName"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "ServerId": {
          "documentation": "<p>The identifier of the server that the user is attached to.</p>",
          "shape": "ServerId"
        },
        "UserName": {
          "documentation": "<p>A unique string that identifies a user account associated with a server.</p>",
          "shape": "UserName"
        }
      },
      "required": [
        "ServerId",
        "UserName"
      ],
      "type": "structure"
    },
    "CreateWorkflowRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A textual description for the workflow.</p>",
          "shape": "WorkflowDescription"
        },
        "OnExceptionSteps": {
          "documentation": "<p>Specifies the steps (actions) to take if errors are encountered during execution of the workflow.</p> <note> <p>For custom steps, the lambda function needs to send <code>FAILURE</code> to the call back API to kick off the exception steps. Additionally, if the lambda does not send <code>SUCCESS</code> before it times out, the exception steps are executed.</p> </note>",
          "shape": "WorkflowSteps"
        },
        "Steps": {
          "documentation": "<p>Specifies the details for the steps that are in the specified workflow.</p> <p> The <code>TYPE</code> specifies which of the following actions is being taken for this step. </p> <ul> <li> <p> <i>COPY</i>: Copy the file to another location.</p> </li> <li> <p> <i>CUSTOM</i>: Perform a custom step with an Lambda function target.</p> </li> <li> <p> <i>DELETE</i>: Delete the file.</p> </li> <li> <p> <i>TAG</i>: Add a tag to the file.</p> </li> </ul> <note> <p> Currently, copying and tagging are supported only on S3. </p> </note> <p> For file location, you specify either the S3 bucket and key, or the EFS file system ID and path. </p>",
          "shape": "WorkflowSteps"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that can be used to group and search for workflows. Tags are metadata attached to workflows for any purpose.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Steps"
      ],
      "type": "structure"
    },
    "CreateWorkflowResponse": {
      "members": {
        "WorkflowId": {
          "documentation": "<p>A unique identifier for the workflow.</p>",
          "shape": "WorkflowId"
        }
      },
      "required": [
        "WorkflowId"
      ],
      "type": "structure"
    },
    "CustomStepDetails": {
      "documentation": "<p>Each step type has its own <code>StepDetails</code> structure.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the step, used as an identifier.</p>",
          "shape": "WorkflowStepName"
        },
        "SourceFileLocation": {
          "documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>Enter <code>${previous.file}</code> to use the previous file as the input. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p> </li> </ul>",
          "shape": "SourceFileLocation"
        },
        "Target": {
          "documentation": "<p>The ARN for the lambda function that is being called.</p>",
          "shape": "CustomStepTarget"
        },
        "TimeoutSeconds": {
          "documentation": "<p>Timeout, in seconds, for the step.</p>",
          "shape": "CustomStepTimeoutSeconds"
        }
      },
      "type": "structure"
    },
    "CustomStepStatus": {
      "enum": [
        "SUCCESS",
        "FAILURE"
      ],
      "type": "string"
    },
    "CustomStepTarget": {
      "max": 170,
      "pattern": "arn:[a-z-]+:lambda:.*$",
      "type": "string"
    },
    "CustomStepTimeoutSeconds": {
      "max": 1800,
      "min": 1,
      "type": "integer"
    },
    "DateImported": {
      "type": "timestamp"
    },
    "DeleteAccessRequest": {
      "members": {
        "ExternalId": {
          "documentation": "<p>A unique identifier that is required to identify specific groups within your directory. The users of the group that you associate have access to your Amazon S3 or Amazon EFS resources over the enabled protocols using Transfer Family. If you know the group name, you can view the SID values by running the following command using Windows PowerShell.</p> <p> <code>Get-ADGroup -Filter {samAccountName -like \"<i>YourGroupName</i>*\"} -Properties * | Select SamAccountName,ObjectSid</code> </p> <p>In that command, replace <i>YourGroupName</i> with the name of your Active Directory group.</p> <p>The regular expression used to validate this parameter is a string of characters consisting of uppercase and lowercase alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@:/-</p>",
          "shape": "ExternalId"
        },
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a server that has this user assigned.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "ServerId",
        "ExternalId"
      ],
      "type": "structure"
    },
    "DeleteAgreementRequest": {
      "members": {
        "AgreementId": {
          "documentation": "<p>A unique identifier for the agreement. This identifier is returned when you create an agreement.</p>",
          "shape": "AgreementId"
        },
        "ServerId": {
          "documentation": "<p>The server identifier associated with the agreement that you are deleting.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "AgreementId",
        "ServerId"
      ],
      "type": "structure"
    },
    "DeleteCertificateRequest": {
      "members": {
        "CertificateId": {
          "documentation": "<p>The identifier of the certificate object that you are deleting.</p>",
          "shape": "CertificateId"
        }
      },
      "required": [
        "CertificateId"
      ],
      "type": "structure"
    },
    "DeleteConnectorRequest": {
      "members": {
        "ConnectorId": {
          "documentation": "<p>The unique identifier for the connector.</p>",
          "shape": "ConnectorId"
        }
      },
      "required": [
        "ConnectorId"
      ],
      "type": "structure"
    },
    "DeleteHostKeyRequest": {
      "members": {
        "HostKeyId": {
          "documentation": "<p>The identifier of the host key that you are deleting.</p>",
          "shape": "HostKeyId"
        },
        "ServerId": {
          "documentation": "<p>The identifier of the server that contains the host key that you are deleting.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "ServerId",
        "HostKeyId"
      ],
      "type": "structure"
    },
    "DeleteProfileRequest": {
      "members": {
        "ProfileId": {
          "documentation": "<p>The identifier of the profile that you are deleting.</p>",
          "shape": "ProfileId"
        }
      },
      "required": [
        "ProfileId"
      ],
      "type": "structure"
    },
    "DeleteServerRequest": {
      "members": {
        "ServerId": {
          "documentation": "<p>A unique system-assigned identifier for a server instance.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "ServerId"
      ],
      "type": "structure"
    },
    "DeleteSshPublicKeyRequest": {
      "members": {
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a file transfer protocol-enabled server instance that has the user assigned to it.</p>",
          "shape": "ServerId"
        },
        "SshPublicKeyId": {
          "documentation": "<p>A unique identifier used to reference your user's specific SSH key.</p>",
          "shape": "SshPublicKeyId"
        },
        "UserName": {
          "documentation": "<p>A unique string that identifies a user whose public key is being deleted.</p>",
          "shape": "UserName"
        }
      },
      "required": [
        "ServerId",
        "SshPublicKeyId",
        "UserName"
      ],
      "type": "structure"
    },
    "DeleteStepDetails": {
      "documentation": "<p>The name of the step, used to identify the delete step.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the step, used as an identifier.</p>",
          "shape": "WorkflowStepName"
        },
        "SourceFileLocation": {
          "documentation": "<p>Specifies which file to use as input to the workflow step: either the output from the previous step, or the originally uploaded file for the workflow.</p> <ul> <li> <p>Enter <code>${previous.file}</code> to use the previous file as the input. In this case, this workflow step uses the output file from the previous workflow step as input. This is the default value.</p> </li> <li> <p>Enter <code>${original.file}</code> to use the originally-uploaded file location as input for this step.</p> </li> </ul>",
          "shape": "SourceFileLocation"
        }
      },
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "ServerId": {
          "documentation": "<p>A system-assigned unique identifier for a server instance that has the user assigned to it.</p>",
          "shape": "ServerId"
        },
        "UserName": {
          "documentation": "<p>A unique string that identifies a user that is being deleted from a server.</p>",
          "shape": "UserName"
        }
      },
      "required": [
        "ServerId",
        "UserName"
      ],
      "type": "structure"
    },
    "DeleteWorkflowRequest": {
      "members": {
        "WorkflowId": {
          "documentation": "<p>A unique identifier for the workflow.</p>",
          "shape": "WorkflowId"
        }
      },
      "required": [
        "WorkflowId"
      ],
      "type": "structure"
    },
    "DescribeAccessRequest": {
      "members": {
        "ExternalId": {
[...]
