{
  "documentation": "<p>AWS IAM Identity Center (successor to AWS Single Sign-On) helps you securely create, or connect, your workforce identities and manage their access centrally across AWS accounts and applications. IAM Identity Center is the recommended approach for workforce authentication and authorization in AWS, for organizations of any size and type.</p> <note> <p>Although AWS Single Sign-On was renamed, the <code>sso</code> and <code>identitystore</code> API namespaces will continue to retain their original name for backward compatibility purposes. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html#renamed\">IAM Identity Center rename</a>.</p> </note> <p>This reference guide provides information on single sign-on operations which could be used for access management of AWS accounts. For information about IAM Identity Center features, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">IAM Identity Center User Guide</a>.</p> <p>Many operations in the IAM Identity Center APIs rely on identifiers for users and groups, known as principals. For more information about how to work with principals and principal IDs in IAM Identity Center, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">Identity Store API Reference</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, and more). The SDKs provide a convenient way to create programmatic access to IAM Identity Center and other AWS services. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note>",
  "metadata": {
    "apiVersion": "2020-07-20",
    "endpointPrefix": "sso",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SSO Admin",
    "serviceFullName": "AWS Single Sign-On Admin",
    "serviceId": "SSO Admin",
    "signatureVersion": "v4",
    "signingName": "sso",
    "targetPrefix": "SWBExternalService",
    "uid": "sso-admin-2020-07-20"
  },
  "operations": {
    "AttachCustomerManagedPolicyReferenceToPermissionSet": {
      "documentation": "<p>Attaches the specified customer managed policy to the specified <a>PermissionSet</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachCustomerManagedPolicyReferenceToPermissionSetRequest"
      },
      "name": "AttachCustomerManagedPolicyReferenceToPermissionSet",
      "output": {
        "shape": "AttachCustomerManagedPolicyReferenceToPermissionSetResponse"
      }
    },
    "AttachManagedPolicyToPermissionSet": {
      "documentation": "<p>Attaches an AWS managed policy ARN to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this operation. Calling <code>ProvisionPermissionSet</code> applies the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachManagedPolicyToPermissionSetRequest"
      },
      "name": "AttachManagedPolicyToPermissionSet",
      "output": {
        "shape": "AttachManagedPolicyToPermissionSetResponse"
      }
    },
    "CreateAccountAssignment": {
      "documentation": "<p>Assigns access to a principal for a specified AWS account using a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in IAM Identity Center.</p> </note> <note> <p>As part of a successful <code>CreateAccountAssignment</code> call, the specified permission set will automatically be provisioned to the account in the form of an IAM policy. That policy is attached to the IAM role created in IAM Identity Center. If the permission set is subsequently updated, the corresponding IAM policies attached to roles in your accounts will not be updated automatically. In this case, you must call <code> <a>ProvisionPermissionSet</a> </code> to make these updates.</p> </note> <note> <p> After a successful response, call <code>DescribeAccountAssignmentCreationStatus</code> to describe the status of an assignment creation request. </p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccountAssignmentRequest"
      },
      "name": "CreateAccountAssignment",
      "output": {
        "shape": "CreateAccountAssignmentResponse"
      }
    },
    "CreateInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Enables the attributes-based access control (ABAC) feature for the specified IAM Identity Center instance. You can also specify new attributes to add to your ABAC configuration during the enabling process. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p> <note> <p>After a successful response, call <code>DescribeInstanceAccessControlAttributeConfiguration</code> to validate that <code>InstanceAccessControlAttributeConfiguration</code> was created.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstanceAccessControlAttributeConfigurationRequest"
      },
      "name": "CreateInstanceAccessControlAttributeConfiguration",
      "output": {
        "shape": "CreateInstanceAccessControlAttributeConfigurationResponse"
      }
    },
    "CreatePermissionSet": {
      "documentation": "<p>Creates a permission set within a specified IAM Identity Center instance.</p> <note> <p>To grant users and groups access to AWS account resources, use <code> <a>CreateAccountAssignment</a> </code>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePermissionSetRequest"
      },
      "name": "CreatePermissionSet",
      "output": {
        "shape": "CreatePermissionSetResponse"
      }
    },
    "DeleteAccountAssignment": {
      "documentation": "<p>Deletes a principal's access from a specified AWS account using a specified permission set.</p> <note> <p>After a successful response, call <code>DescribeAccountAssignmentCreationStatus</code> to describe the status of an assignment deletion request.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccountAssignmentRequest"
      },
      "name": "DeleteAccountAssignment",
      "output": {
        "shape": "DeleteAccountAssignmentResponse"
      }
    },
    "DeleteInlinePolicyFromPermissionSet": {
      "documentation": "<p>Deletes the inline policy from a specified permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInlinePolicyFromPermissionSetRequest"
      },
      "name": "DeleteInlinePolicyFromPermissionSet",
      "output": {
        "shape": "DeleteInlinePolicyFromPermissionSetResponse"
      }
    },
    "DeleteInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Disables the attributes-based access control (ABAC) feature for the specified IAM Identity Center instance and deletes all of the attribute mappings that have been configured. Once deleted, any attributes that are received from an identity source and any custom attributes you have previously configured will not be passed. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstanceAccessControlAttributeConfigurationRequest"
      },
      "name": "DeleteInstanceAccessControlAttributeConfiguration",
      "output": {
        "shape": "DeleteInstanceAccessControlAttributeConfigurationResponse"
      }
    },
    "DeletePermissionSet": {
      "documentation": "<p>Deletes the specified permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionSetRequest"
      },
      "name": "DeletePermissionSet",
      "output": {
        "shape": "DeletePermissionSetResponse"
      }
    },
    "DeletePermissionsBoundaryFromPermissionSet": {
      "documentation": "<p>Deletes the permissions boundary from a specified <a>PermissionSet</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionsBoundaryFromPermissionSetRequest"
      },
      "name": "DeletePermissionsBoundaryFromPermissionSet",
      "output": {
        "shape": "DeletePermissionsBoundaryFromPermissionSetResponse"
      }
    },
    "DescribeAccountAssignmentCreationStatus": {
      "documentation": "<p>Describes the status of the assignment creation request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountAssignmentCreationStatusRequest"
      },
      "name": "DescribeAccountAssignmentCreationStatus",
      "output": {
        "shape": "DescribeAccountAssignmentCreationStatusResponse"
      }
    },
    "DescribeAccountAssignmentDeletionStatus": {
      "documentation": "<p>Describes the status of the assignment deletion request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountAssignmentDeletionStatusRequest"
      },
      "name": "DescribeAccountAssignmentDeletionStatus",
      "output": {
        "shape": "DescribeAccountAssignmentDeletionStatusResponse"
      }
    },
    "DescribeInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Returns the list of IAM Identity Center identity store attributes that have been configured to work with attributes-based access control (ABAC) for the specified IAM Identity Center instance. This will not return attributes configured and sent by an external identity provider. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceAccessControlAttributeConfigurationRequest"
      },
      "name": "DescribeInstanceAccessControlAttributeConfiguration",
      "output": {
        "shape": "DescribeInstanceAccessControlAttributeConfigurationResponse"
      }
    },
    "DescribePermissionSet": {
      "documentation": "<p>Gets the details of the permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePermissionSetRequest"
      },
      "name": "DescribePermissionSet",
      "output": {
        "shape": "DescribePermissionSetResponse"
      }
    },
    "DescribePermissionSetProvisioningStatus": {
      "documentation": "<p>Describes the status for the given permission set provisioning request.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePermissionSetProvisioningStatusRequest"
      },
      "name": "DescribePermissionSetProvisioningStatus",
      "output": {
        "shape": "DescribePermissionSetProvisioningStatusResponse"
      }
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSet": {
      "documentation": "<p>Detaches the specified customer managed policy from the specified <a>PermissionSet</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachCustomerManagedPolicyReferenceFromPermissionSetRequest"
      },
      "name": "DetachCustomerManagedPolicyReferenceFromPermissionSet",
      "output": {
        "shape": "DetachCustomerManagedPolicyReferenceFromPermissionSetResponse"
      }
    },
    "DetachManagedPolicyFromPermissionSet": {
      "documentation": "<p>Detaches the attached AWS managed policy ARN from the specified permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachManagedPolicyFromPermissionSetRequest"
      },
      "name": "DetachManagedPolicyFromPermissionSet",
      "output": {
        "shape": "DetachManagedPolicyFromPermissionSetResponse"
      }
    },
    "GetInlinePolicyForPermissionSet": {
      "documentation": "<p>Obtains the inline policy assigned to the permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInlinePolicyForPermissionSetRequest"
      },
      "name": "GetInlinePolicyForPermissionSet",
      "output": {
        "shape": "GetInlinePolicyForPermissionSetResponse"
      }
    },
    "GetPermissionsBoundaryForPermissionSet": {
      "documentation": "<p>Obtains the permissions boundary for a specified <a>PermissionSet</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPermissionsBoundaryForPermissionSetRequest"
      },
      "name": "GetPermissionsBoundaryForPermissionSet",
      "output": {
        "shape": "GetPermissionsBoundaryForPermissionSetResponse"
      }
    },
    "ListAccountAssignmentCreationStatus": {
      "documentation": "<p>Lists the status of the AWS account assignment creation requests for a specified IAM Identity Center instance.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccountAssignmentCreationStatusRequest"
      },
      "name": "ListAccountAssignmentCreationStatus",
      "output": {
        "shape": "ListAccountAssignmentCreationStatusResponse"
      }
    },
    "ListAccountAssignmentDeletionStatus": {
      "documentation": "<p>Lists the status of the AWS account assignment deletion requests for a specified IAM Identity Center instance.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccountAssignmentDeletionStatusRequest"
      },
      "name": "ListAccountAssignmentDeletionStatus",
      "output": {
        "shape": "ListAccountAssignmentDeletionStatusResponse"
      }
    },
    "ListAccountAssignments": {
      "documentation": "<p>Lists the assignee of the specified AWS account with the specified permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccountAssignmentsRequest"
      },
      "name": "ListAccountAssignments",
      "output": {
        "shape": "ListAccountAssignmentsResponse"
      }
    },
    "ListAccountsForProvisionedPermissionSet": {
      "documentation": "<p>Lists all the AWS accounts where the specified permission set is provisioned.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccountsForProvisionedPermissionSetRequest"
      },
      "name": "ListAccountsForProvisionedPermissionSet",
      "output": {
        "shape": "ListAccountsForProvisionedPermissionSetResponse"
      }
    },
    "ListCustomerManagedPolicyReferencesInPermissionSet": {
      "documentation": "<p>Lists all customer managed policies attached to a specified <a>PermissionSet</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCustomerManagedPolicyReferencesInPermissionSetRequest"
      },
      "name": "ListCustomerManagedPolicyReferencesInPermissionSet",
      "output": {
        "shape": "ListCustomerManagedPolicyReferencesInPermissionSetResponse"
      }
    },
    "ListInstances": {
      "documentation": "<p>Lists the IAM Identity Center instances that the caller has access to.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstancesRequest"
      },
      "name": "ListInstances",
      "output": {
        "shape": "ListInstancesResponse"
      }
    },
    "ListManagedPoliciesInPermissionSet": {
      "documentation": "<p>Lists the AWS managed policy that is attached to a specified permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListManagedPoliciesInPermissionSetRequest"
      },
      "name": "ListManagedPoliciesInPermissionSet",
      "output": {
        "shape": "ListManagedPoliciesInPermissionSetResponse"
      }
    },
    "ListPermissionSetProvisioningStatus": {
      "documentation": "<p>Lists the status of the permission set provisioning requests for a specified IAM Identity Center instance.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPermissionSetProvisioningStatusRequest"
      },
      "name": "ListPermissionSetProvisioningStatus",
      "output": {
        "shape": "ListPermissionSetProvisioningStatusResponse"
      }
    },
    "ListPermissionSets": {
      "documentation": "<p>Lists the <a>PermissionSet</a>s in an IAM Identity Center instance.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPermissionSetsRequest"
      },
      "name": "ListPermissionSets",
      "output": {
        "shape": "ListPermissionSetsResponse"
      }
    },
    "ListPermissionSetsProvisionedToAccount": {
      "documentation": "<p>Lists all the permission sets that are provisioned to a specified AWS account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPermissionSetsProvisionedToAccountRequest"
      },
      "name": "ListPermissionSetsProvisionedToAccount",
      "output": {
        "shape": "ListPermissionSetsProvisionedToAccountResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that are attached to a specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ProvisionPermissionSet": {
      "documentation": "<p>The process by which a specified permission set is provisioned to the specified target.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ProvisionPermissionSetRequest"
      },
      "name": "ProvisionPermissionSet",
      "output": {
        "shape": "ProvisionPermissionSetResponse"
      }
    },
    "PutInlinePolicyToPermissionSet": {
      "documentation": "<p>Attaches an inline policy to a permission set.</p> <note> <p>If the permission set is already referenced by one or more account assignments, you will need to call <code> <a>ProvisionPermissionSet</a> </code> after this action to apply the corresponding IAM policy updates to all assigned accounts.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutInlinePolicyToPermissionSetRequest"
      },
      "name": "PutInlinePolicyToPermissionSet",
      "output": {
        "shape": "PutInlinePolicyToPermissionSetResponse"
      }
    },
    "PutPermissionsBoundaryToPermissionSet": {
      "documentation": "<p>Attaches an AWS managed or customer managed policy to the specified <a>PermissionSet</a> as a permissions boundary.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPermissionsBoundaryToPermissionSetRequest"
      },
      "name": "PutPermissionsBoundaryToPermissionSet",
      "output": {
        "shape": "PutPermissionsBoundaryToPermissionSetResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a set of tags with a specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Disassociates a set of tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateInstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Updates the IAM Identity Center identity store attributes that you can use with the IAM Identity Center instance for attributes-based access control (ABAC). When using an external identity provider as an identity source, you can pass attributes through the SAML assertion as an alternative to configuring attributes from the IAM Identity Center identity store. If a SAML assertion passes any of these attributes, IAM Identity Center replaces the attribute value with the value from the IAM Identity Center identity store. For more information about ABAC, see <a href=\"/singlesignon/latest/userguide/abac.html\">Attribute-Based Access Control</a> in the <i>IAM Identity Center User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateInstanceAccessControlAttributeConfigurationRequest"
      },
      "name": "UpdateInstanceAccessControlAttributeConfiguration",
      "output": {
        "shape": "UpdateInstanceAccessControlAttributeConfigurationResponse"
      }
    },
    "UpdatePermissionSet": {
      "documentation": "<p>Updates an existing permission set.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePermissionSetRequest"
      },
      "name": "UpdatePermissionSet",
      "output": {
        "shape": "UpdatePermissionSetResponse"
      }
    }
  },
  "shapes": {
    "AccessControlAttribute": {
      "documentation": "<p>These are IAM Identity Center identity store attributes that you can configure for use in attributes-based access control (ABAC). You can create permissions policies that determine who can access your AWS resources based upon the configured attribute values. When you enable ABAC and specify <code>AccessControlAttributes</code>, IAM Identity Center passes the attribute values of the authenticated user into IAM for use in policy evaluation.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The name of the attribute associated with your identities in your identity source. This is used to map a specified attribute in your identity source with an attribute in IAM Identity Center.</p>",
          "shape": "AccessControlAttributeKey"
        },
        "Value": {
          "documentation": "<p>The value used for mapping a specified attribute to an identity source.</p>",
          "shape": "AccessControlAttributeValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "AccessControlAttributeKey": {
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]+",
      "type": "string"
    },
    "AccessControlAttributeList": {
      "max": 50,
      "member": {
        "shape": "AccessControlAttribute"
      },
      "min": 0,
      "type": "list"
    },
    "AccessControlAttributeValue": {
      "documentation": "<p>The value used for mapping a specified attribute to an identity source. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/attributemappingsconcept.html\">Attribute mappings</a> in the <i>IAM Identity Center User Guide</i>.</p>",
      "members": {
        "Source": {
          "documentation": "<p>The identity source to use when mapping a specified attribute to IAM Identity Center.</p>",
          "shape": "AccessControlAttributeValueSourceList"
        }
      },
      "required": [
        "Source"
      ],
      "type": "structure"
    },
    "AccessControlAttributeValueSource": {
      "max": 256,
      "min": 0,
      "pattern": "[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@\\[\\]\\{\\}\\$\\\\\"]*",
      "type": "string"
    },
    "AccessControlAttributeValueSourceList": {
      "max": 1,
      "member": {
        "shape": "AccessControlAttributeValueSource"
      },
      "min": 1,
      "type": "list"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "AccessDeniedExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccessDeniedExceptionMessage": {
      "type": "string"
    },
    "AccountAssignment": {
      "documentation": "<p>The assignment that indicates a principal's limited access to a specified AWS account with a specified permission set.</p> <note> <p>The term <i>principal</i> here refers to a user or group that is defined in IAM Identity Center.</p> </note>",
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the AWS account.</p>",
          "shape": "AccountId"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        }
      },
      "type": "structure"
    },
    "AccountAssignmentList": {
      "member": {
        "shape": "AccountAssignment"
      },
      "type": "list"
    },
    "AccountAssignmentOperationStatus": {
      "documentation": "<p>The status of the creation or deletion operation of an assignment that a principal needs to access an account.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "FailureReason": {
          "documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>",
          "shape": "Reason"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "AccountAssignmentOperationStatusList": {
      "member": {
        "shape": "AccountAssignmentOperationStatusMetadata"
      },
      "type": "list"
    },
    "AccountAssignmentOperationStatusMetadata": {
      "documentation": "<p>Provides information about the <a>AccountAssignment</a> creation request.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "\\d{12}",
      "type": "string"
    },
    "AccountList": {
      "member": {
        "shape": "AccountId"
      },
      "type": "list"
    },
    "AttachCustomerManagedPolicyReferenceToPermissionSetRequest": {
      "members": {
        "CustomerManagedPolicyReference": {
          "documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
          "shape": "CustomerManagedPolicyReference"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "CustomerManagedPolicyReference"
      ],
      "type": "structure"
    },
    "AttachCustomerManagedPolicyReferenceToPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "AttachManagedPolicyToPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ManagedPolicyArn": {
          "documentation": "<p>The AWS managed policy ARN to be attached to a permission set.</p>",
          "shape": "ManagedPolicyArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> that the managed policy should be attached to.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "ManagedPolicyArn"
      ],
      "type": "structure"
    },
    "AttachManagedPolicyToPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "AttachedManagedPolicy": {
      "documentation": "<p>A structure that stores the details of the AWS managed policy.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the AWS managed policy. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "ManagedPolicyArn"
        },
        "Name": {
          "documentation": "<p>The name of the AWS managed policy.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "AttachedManagedPolicyList": {
      "member": {
        "shape": "AttachedManagedPolicy"
      },
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ConflictExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ConflictExceptionMessage": {
      "type": "string"
    },
    "CreateAccountAssignmentRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that the admin wants to grant the principal access to.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "PrincipalType"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "TargetType"
        }
      },
      "required": [
        "InstanceArn",
        "TargetId",
        "TargetType",
        "PermissionSetArn",
        "PrincipalType",
        "PrincipalId"
      ],
      "type": "structure"
    },
    "CreateAccountAssignmentResponse": {
      "members": {
        "AccountAssignmentCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "CreateInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "documentation": "<p>Specifies the IAM Identity Center identity store attributes to add to your ABAC configuration. When using an external identity provider as an identity source, you can pass attributes through the SAML assertion. Doing so provides an alternative to configuring attributes from the IAM Identity Center identity store. If a SAML assertion passes any of these attributes, IAM Identity Center will replace the attribute value with the value from the IAM Identity Center identity store.</p>",
          "shape": "InstanceAccessControlAttributeConfiguration"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": [
        "InstanceArn",
        "InstanceAccessControlAttributeConfiguration"
      ],
      "type": "structure"
    },
    "CreateInstanceAccessControlAttributeConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "CreatePermissionSetRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetDescription"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "Name": {
          "documentation": "<p>The name of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetName"
        },
        "RelayState": {
          "documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>",
          "shape": "RelayState"
        },
        "SessionDuration": {
          "documentation": "<p>The length of time that the application user sessions are valid in the ISO-8601 standard.</p>",
          "shape": "Duration"
        },
        "Tags": {
          "documentation": "<p>The tags to attach to the new <a>PermissionSet</a>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "InstanceArn"
      ],
      "type": "structure"
    },
    "CreatePermissionSetResponse": {
      "members": {
        "PermissionSet": {
          "documentation": "<p>Defines the level of access on an AWS account.</p>",
          "shape": "PermissionSet"
        }
      },
      "type": "structure"
    },
    "CustomerManagedPolicyReference": {
      "documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the IAM policy that you have configured in each account where you want to deploy your permission set.</p>",
          "shape": "ManagedPolicyName"
        },
        "Path": {
          "documentation": "<p>The path to the IAM policy that you have configured in each account where you want to deploy your permission set. The default is <code>/</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-friendly-names\">Friendly names and paths</a> in the <i>IAM User Guide</i>.</p>",
          "shape": "ManagedPolicyPath"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CustomerManagedPolicyReferenceList": {
      "member": {
        "shape": "CustomerManagedPolicyReference"
      },
      "type": "list"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteAccountAssignmentRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
          "shape": "PermissionSetArn"
        },
        "PrincipalId": {
          "documentation": "<p>An identifier for an object in IAM Identity Center, such as a user or group. PrincipalIds are GUIDs (For example, f81d4fae-7dec-11d0-a765-00a0c91e6bf6). For more information about PrincipalIds in IAM Identity Center, see the <a href=\"/singlesignon/latest/IdentityStoreAPIReference/welcome.html\">IAM Identity Center Identity Store API Reference</a>.</p>",
          "shape": "PrincipalId"
        },
        "PrincipalType": {
          "documentation": "<p>The entity type for which the assignment will be deleted.</p>",
          "shape": "PrincipalType"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be deleted.</p>",
          "shape": "TargetType"
        }
      },
      "required": [
        "InstanceArn",
        "TargetId",
        "TargetType",
        "PermissionSetArn",
        "PrincipalType",
        "PrincipalId"
      ],
      "type": "structure"
    },
    "DeleteAccountAssignmentResponse": {
      "members": {
        "AccountAssignmentDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DeleteInlinePolicyFromPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that will be used to remove access.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "DeleteInlinePolicyFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "DeleteInstanceAccessControlAttributeConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeletePermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that should be deleted.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "DeletePermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeletePermissionsBoundaryFromPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "DeletePermissionsBoundaryFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountAssignmentCreationStatusRequest": {
      "members": {
        "AccountAssignmentCreationRequestId": {
          "documentation": "<p>The identifier that is used to track the request operation progress.</p>",
          "shape": "UUId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": [
        "InstanceArn",
        "AccountAssignmentCreationRequestId"
      ],
      "type": "structure"
    },
    "DescribeAccountAssignmentCreationStatusResponse": {
      "members": {
        "AccountAssignmentCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DescribeAccountAssignmentDeletionStatusRequest": {
      "members": {
        "AccountAssignmentDeletionRequestId": {
          "documentation": "<p>The identifier that is used to track the request operation progress.</p>",
          "shape": "UUId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": [
        "InstanceArn",
        "AccountAssignmentDeletionRequestId"
      ],
      "type": "structure"
    },
    "DescribeAccountAssignmentDeletionStatusResponse": {
      "members": {
        "AccountAssignmentDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatus"
        }
      },
      "type": "structure"
    },
    "DescribeInstanceAccessControlAttributeConfigurationRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed.</p>",
          "shape": "InstanceArn"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "DescribeInstanceAccessControlAttributeConfigurationResponse": {
      "members": {
        "InstanceAccessControlAttributeConfiguration": {
          "documentation": "<p>Gets the list of IAM Identity Center identity store attributes that have been added to your ABAC configuration.</p>",
          "shape": "InstanceAccessControlAttributeConfiguration"
        },
        "Status": {
          "documentation": "<p>The status of the attribute configuration process.</p>",
          "shape": "InstanceAccessControlAttributeConfigurationStatus"
        },
        "StatusReason": {
          "documentation": "<p>Provides more details about the current status of the specified attribute.</p>",
          "shape": "InstanceAccessControlAttributeConfigurationStatusReason"
        }
      },
      "type": "structure"
    },
    "DescribePermissionSetProvisioningStatusRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ProvisionPermissionSetRequestId": {
          "documentation": "<p>The identifier that is provided by the <a>ProvisionPermissionSet</a> call to retrieve the current status of the provisioning workflow.</p>",
          "shape": "UUId"
        }
      },
      "required": [
        "InstanceArn",
        "ProvisionPermissionSetRequestId"
      ],
      "type": "structure"
    },
    "DescribePermissionSetProvisioningStatusResponse": {
      "members": {
        "PermissionSetProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatus"
        }
      },
      "type": "structure"
    },
    "DescribePermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. </p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "DescribePermissionSetResponse": {
      "members": {
        "PermissionSet": {
          "documentation": "<p>Describes the level of access on an AWS account.</p>",
          "shape": "PermissionSet"
        }
      },
      "type": "structure"
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSetRequest": {
      "members": {
        "CustomerManagedPolicyReference": {
          "documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
          "shape": "CustomerManagedPolicyReference"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "CustomerManagedPolicyReference"
      ],
      "type": "structure"
    },
    "DetachCustomerManagedPolicyReferenceFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DetachManagedPolicyFromPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "ManagedPolicyArn": {
          "documentation": "<p>The AWS managed policy ARN to be detached from a permission set.</p>",
          "shape": "ManagedPolicyArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> from which the policy should be detached.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "ManagedPolicyArn"
      ],
      "type": "structure"
    },
    "DetachManagedPolicyFromPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "Duration": {
      "max": 100,
      "min": 1,
      "pattern": "^(-?)P(?=\\d|T\\d)(?:(\\d+)Y)?(?:(\\d+)M)?(?:(\\d+)([DW]))?(?:T(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+(?:\\.\\d+)?)S)?)?$",
      "type": "string"
    },
    "GetInlinePolicyForPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "GetInlinePolicyForPermissionSetResponse": {
      "members": {
        "InlinePolicy": {
          "documentation": "<p>The inline policy that is attached to the permission set.</p>",
          "shape": "PermissionSetPolicyDocument"
        }
      },
      "type": "structure"
    },
    "GetPermissionsBoundaryForPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <code>PermissionSet</code>.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "GetPermissionsBoundaryForPermissionSetResponse": {
      "members": {
        "PermissionsBoundary": {
          "documentation": "<p>The permissions boundary attached to the specified permission set.</p>",
          "shape": "PermissionsBoundary"
        }
      },
      "type": "structure"
    },
    "Id": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]*",
      "type": "string"
    },
    "InstanceAccessControlAttributeConfiguration": {
      "documentation": "<p>Specifies the attributes to add to your attribute-based access control (ABAC) configuration.</p>",
      "members": {
        "AccessControlAttributes": {
          "documentation": "<p>Lists the attributes that are configured for ABAC in the specified IAM Identity Center instance.</p>",
          "shape": "AccessControlAttributeList"
        }
      },
      "required": [
        "AccessControlAttributes"
      ],
      "type": "structure"
    },
    "InstanceAccessControlAttributeConfigurationStatus": {
      "enum": [
        "ENABLED",
        "CREATION_IN_PROGRESS",
        "CREATION_FAILED"
      ],
      "type": "string"
    },
    "InstanceAccessControlAttributeConfigurationStatusReason": {
      "type": "string"
    },
    "InstanceArn": {
      "max": 1224,
      "min": 10,
      "pattern": "arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::instance/(sso)?ins-[a-zA-Z0-9-.]{16}",
      "type": "string"
    },
    "InstanceList": {
      "member": {
        "shape": "InstanceMetadata"
      },
      "type": "list"
    },
    "InstanceMetadata": {
      "documentation": "<p>Provides information about the IAM Identity Center instance.</p>",
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The identifier of the identity store that is connected to the IAM Identity Center instance.</p>",
          "shape": "Id"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        }
      },
      "type": "structure"
    },
    "InternalFailureMessage": {
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception, or failure with an internal server.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "InternalFailureMessage"
        }
      },
      "type": "structure"
    },
    "ListAccountAssignmentCreationStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "ListAccountAssignmentCreationStatusResponse": {
      "members": {
        "AccountAssignmentsCreationStatus": {
          "documentation": "<p>The status object for the account assignment creation operation.</p>",
          "shape": "AccountAssignmentOperationStatusList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountAssignmentDeletionStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "ListAccountAssignmentDeletionStatusResponse": {
      "members": {
        "AccountAssignmentsDeletionStatus": {
          "documentation": "<p>The status object for the account assignment deletion operation.</p>",
          "shape": "AccountAssignmentOperationStatusList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountAssignmentsRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
          "shape": "TargetId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set from which to list assignments.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "AccountId",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "ListAccountAssignmentsResponse": {
      "members": {
        "AccountAssignments": {
          "documentation": "<p>The list of assignments that match the input AWS account and permission set.</p>",
          "shape": "AccountAssignmentList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountsForProvisionedPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> from which the associated AWS accounts will be listed.</p>",
          "shape": "PermissionSetArn"
        },
        "ProvisioningStatus": {
          "documentation": "<p>The permission set provisioning status for an AWS account.</p>",
          "shape": "ProvisioningStatus"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "ListAccountsForProvisionedPermissionSetResponse": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of AWS <code>AccountIds</code>.</p>",
          "shape": "AccountList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListCustomerManagedPolicyReferencesInPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the list call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <code>PermissionSet</code>. </p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "ListCustomerManagedPolicyReferencesInPermissionSetResponse": {
      "members": {
        "CustomerManagedPolicyReferences": {
          "documentation": "<p>Specifies the names and paths of the customer managed policies that you have attached to your permission set.</p>",
          "shape": "CustomerManagedPolicyReferenceList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListInstancesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the instance.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>Lists the IAM Identity Center instances that the caller has access to.</p>",
          "shape": "InstanceList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListManagedPoliciesInPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the <a>PermissionSet</a>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the <a>PermissionSet</a> whose managed policies will be listed.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn"
      ],
      "type": "structure"
    },
    "ListManagedPoliciesInPermissionSetResponse": {
      "members": {
        "AttachedManagedPolicies": {
          "documentation": "<p>An array of the <a>AttachedManagedPolicy</a> data type object.</p>",
          "shape": "AttachedManagedPolicyList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetProvisioningStatusRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters results based on the passed attribute value.</p>",
          "shape": "OperationStatusFilter"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "ListPermissionSetProvisioningStatusResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSetsProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatusList"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetsProvisionedToAccountRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
          "shape": "AccountId"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "ProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "ProvisioningStatus"
        }
      },
      "required": [
        "InstanceArn",
        "AccountId"
      ],
      "type": "structure"
    },
    "ListPermissionSetsProvisionedToAccountResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSets": {
          "documentation": "<p>Defines the level of access that an AWS account has.</p>",
          "shape": "PermissionSetList"
        }
      },
      "type": "structure"
    },
    "ListPermissionSetsRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display for the assignment.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "InstanceArn"
      ],
      "type": "structure"
    },
    "ListPermissionSetsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "PermissionSets": {
          "documentation": "<p>Defines the level of access on an AWS account.</p>",
          "shape": "PermissionSetList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource with the tags to be listed.</p>",
          "shape": "TaggableResourceArn"
        }
      },
      "required": [
        "InstanceArn",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token for the list API. Initially the value is null. Use the output of previous API calls to make subsequent calls.</p>",
          "shape": "Token"
        },
        "Tags": {
          "documentation": "<p>A set of key-value pairs that are used to manage the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ManagedPolicyArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):iam::aws:policy/[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]+",
      "type": "string"
    },
    "ManagedPolicyName": {
      "max": 128,
      "min": 1,
      "pattern": "[\\w+=,.@-]+",
      "type": "string"
    },
    "ManagedPolicyPath": {
      "max": 512,
      "min": 1,
      "pattern": "((/[A-Za-z0-9\\.,\\+@=_-]+)*)/",
      "type": "string"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "OperationStatusFilter": {
      "documentation": "<p>Filters he operation status list based on the passed attribute value.</p>",
      "members": {
        "Status": {
          "documentation": "<p>Filters the list operations result based on the status attribute.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PermissionSet": {
      "documentation": "<p>An entity that contains IAM policies.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "Description": {
          "documentation": "<p>The description of the <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetDescription"
        },
        "Name": {
          "documentation": "<p>The name of the permission set.</p>",
          "shape": "PermissionSetName"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "RelayState": {
          "documentation": "<p>Used to redirect users within the application during the federation authentication process.</p>",
          "shape": "RelayState"
        },
        "SessionDuration": {
          "documentation": "<p>The length of time that the application user sessions are valid for in the ISO-8601 standard.</p>",
          "shape": "Duration"
        }
      },
      "type": "structure"
    },
    "PermissionSetArn": {
      "max": 1224,
      "min": 10,
      "pattern": "arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso:::permissionSet/(sso)?ins-[a-zA-Z0-9-.]{16}/ps-[a-zA-Z0-9-./]{16}",
      "type": "string"
    },
    "PermissionSetDescription": {
      "max": 700,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A0-\\u00FF]*",
      "type": "string"
    },
    "PermissionSetList": {
      "member": {
        "shape": "PermissionSetArn"
      },
      "type": "list"
    },
    "PermissionSetName": {
      "max": 32,
      "min": 1,
      "pattern": "[\\w+=,.@-]+",
      "type": "string"
    },
    "PermissionSetPolicyDocument": {
      "max": 10240,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "type": "string"
    },
    "PermissionSetProvisioningStatus": {
      "documentation": "<p>A structure that is used to provide the status of the provisioning operation for a specified permission set.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The identifier of the AWS account from which to list the assignments.</p>",
          "shape": "AccountId"
        },
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "FailureReason": {
          "documentation": "<p>The message that contains an error or exception in case of an operation failure.</p>",
          "shape": "Reason"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set that is being provisioned. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "PermissionSetArn"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PermissionSetProvisioningStatusList": {
      "member": {
        "shape": "PermissionSetProvisioningStatusMetadata"
      },
      "type": "list"
    },
    "PermissionSetProvisioningStatusMetadata": {
      "documentation": "<p>Provides information about the permission set provisioning status.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date that the permission set was created.</p>",
          "shape": "Date"
        },
        "RequestId": {
          "documentation": "<p>The identifier for tracking the request operation that is generated by the universally unique identifier (UUID) workflow.</p>",
          "shape": "UUId"
        },
        "Status": {
          "documentation": "<p>The status of the permission set provisioning process.</p>",
          "shape": "StatusValues"
        }
      },
      "type": "structure"
    },
    "PermissionsBoundary": {
      "documentation": "<p>Specifies the configuration of the AWS managed or customer managed policy that you want to set as a permissions boundary. Specify either <code>CustomerManagedPolicyReference</code> to use the name and path of a customer managed policy, or <code>ManagedPolicyArn</code> to use the ARN of an AWS managed policy. A permissions boundary represents the maximum permissions that any policy can grant your role. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html\">Permissions boundaries for IAM entities</a> in the <i>IAM User Guide</i>.</p> <important> <p>Policies used as permissions boundaries don't provide permissions. You must also attach an IAM policy to the role. To learn how the effective permissions for a role are evaluated, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html\">IAM JSON policy evaluation logic</a> in the <i>IAM User Guide</i>.</p> </important>",
      "members": {
        "CustomerManagedPolicyReference": {
          "documentation": "<p>Specifies the name and path of a customer managed policy. You must have an IAM policy that matches the name and path in each AWS account where you want to deploy your permission set.</p>",
          "shape": "CustomerManagedPolicyReference"
        },
        "ManagedPolicyArn": {
          "documentation": "<p>The AWS managed policy ARN that you want to attach to a permission set as a permissions boundary.</p>",
          "shape": "ManagedPolicyArn"
        }
      },
      "type": "structure"
    },
    "PrincipalId": {
      "max": 47,
      "min": 1,
      "pattern": "^([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$",
      "type": "string"
    },
    "PrincipalType": {
      "enum": [
        "USER",
        "GROUP"
      ],
      "type": "string"
    },
    "ProvisionPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        },
        "TargetId": {
          "documentation": "<p>TargetID is an AWS account identifier, typically a 10-12 digit string (For example, 123456789012).</p>",
          "shape": "TargetId"
        },
        "TargetType": {
          "documentation": "<p>The entity type for which the assignment will be created.</p>",
          "shape": "ProvisionTargetType"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "TargetType"
      ],
      "type": "structure"
    },
    "ProvisionPermissionSetResponse": {
      "members": {
        "PermissionSetProvisioningStatus": {
          "documentation": "<p>The status object for the permission set provisioning operation.</p>",
          "shape": "PermissionSetProvisioningStatus"
        }
      },
      "type": "structure"
    },
    "ProvisionTargetType": {
      "enum": [
        "AWS_ACCOUNT",
        "ALL_PROVISIONED_ACCOUNTS"
      ],
      "type": "string"
    },
    "ProvisioningStatus": {
      "enum": [
        "LATEST_PERMISSION_SET_PROVISIONED",
        "LATEST_PERMISSION_SET_NOT_PROVISIONED"
      ],
      "type": "string"
    },
    "PutInlinePolicyToPermissionSetRequest": {
      "members": {
        "InlinePolicy": {
          "documentation": "<p>The inline policy to attach to a <a>PermissionSet</a>.</p>",
          "shape": "PermissionSetPolicyDocument"
        },
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. For more information about ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
          "documentation": "<p>The ARN of the permission set.</p>",
          "shape": "PermissionSetArn"
        }
      },
      "required": [
        "InstanceArn",
        "PermissionSetArn",
        "InlinePolicy"
      ],
      "type": "structure"
    },
    "PutInlinePolicyToPermissionSetResponse": {
      "members": {},
      "type": "structure"
    },
    "PutPermissionsBoundaryToPermissionSetRequest": {
      "members": {
        "InstanceArn": {
          "documentation": "<p>The ARN of the IAM Identity Center instance under which the operation will be executed. </p>",
          "shape": "InstanceArn"
        },
        "PermissionSetArn": {
[...]
