{
  "documentation": "<p>Amazon EC2 Instance Connect enables system administrators to publish one-time use SSH public keys to EC2, providing users a simple and secure way to connect to their instances.</p>",
  "metadata": {
    "apiVersion": "2018-04-02",
    "endpointPrefix": "ec2-instance-connect",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "EC2 Instance Connect",
    "serviceFullName": "AWS EC2 Instance Connect",
    "serviceId": "EC2 Instance Connect",
    "signatureVersion": "v4",
    "targetPrefix": "AWSEC2InstanceConnectService",
    "uid": "ec2-instance-connect-2018-04-02"
  },
  "operations": {
    "SendSSHPublicKey": {
      "documentation": "<p>Pushes an SSH public key to the specified EC2 instance for use by the specified user. The key remains for 60 seconds. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Connect-using-EC2-Instance-Connect.html\">Connect to your Linux instance using EC2 Instance Connect</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthException"
        },
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "EC2InstanceNotFoundException"
        },
        {
          "shape": "EC2InstanceStateInvalidException"
        },
        {
          "shape": "EC2InstanceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendSSHPublicKeyRequest"
      },
      "name": "SendSSHPublicKey",
      "output": {
        "shape": "SendSSHPublicKeyResponse"
      }
    },
    "SendSerialConsoleSSHPublicKey": {
      "documentation": "<p>Pushes an SSH public key to the specified EC2 instance. The key remains for 60 seconds, which gives you 60 seconds to establish a serial console connection to the instance using SSH. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-serial-console.html\">EC2 Serial Console</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AuthException"
        },
        {
          "shape": "SerialConsoleAccessDisabledException"
        },
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "EC2InstanceNotFoundException"
        },
        {
          "shape": "EC2InstanceTypeInvalidException"
        },
        {
          "shape": "SerialConsoleSessionLimitExceededException"
        },
        {
          "shape": "SerialConsoleSessionUnavailableException"
        },
        {
          "shape": "EC2InstanceStateInvalidException"
        },
        {
          "shape": "EC2InstanceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendSerialConsoleSSHPublicKeyRequest"
      },
      "name": "SendSerialConsoleSSHPublicKey",
      "output": {
        "shape": "SendSerialConsoleSSHPublicKeyResponse"
      }
    }
  },
  "shapes": {
    "AuthException": {
      "documentation": "<p>Either your AWS credentials are not valid or you do not have access to the EC2 instance.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AvailabilityZone": {
      "max": 32,
      "min": 6,
      "pattern": "^(\\w+-){2,3}\\d+\\w+$",
      "type": "string"
    },
    "EC2InstanceNotFoundException": {
      "documentation": "<p>The specified instance was not found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EC2InstanceStateInvalidException": {
      "documentation": "<p>Unable to connect because the instance is not in a valid state. Connecting to a stopped or terminated instance is not supported. If the instance is stopped, start your instance, and try to connect again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EC2InstanceTypeInvalidException": {
      "documentation": "<p>The instance type is not supported for connecting via the serial console. Only Nitro instance types are currently supported.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EC2InstanceUnavailableException": {
      "documentation": "<p>The instance is currently unavailable. Wait a few minutes and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstanceId": {
      "max": 32,
      "min": 10,
      "pattern": "^i-[a-f0-9]+$",
      "type": "string"
    },
    "InstanceOSUser": {
      "max": 32,
      "min": 1,
      "pattern": "^[A-Za-z_][A-Za-z0-9\\@\\._-]{0,30}[A-Za-z0-9\\$_-]?$",
      "type": "string"
    },
    "InvalidArgsException": {
      "documentation": "<p>One of the parameters is not valid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RequestId": {
      "type": "string"
    },
    "SSHPublicKey": {
      "max": 4096,
      "min": 80,
      "type": "string"
    },
    "SendSSHPublicKeyRequest": {
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone in which the EC2 instance was launched.</p>",
          "shape": "AvailabilityZone"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the EC2 instance.</p>",
          "shape": "InstanceId"
        },
        "InstanceOSUser": {
          "documentation": "<p>The OS user on the EC2 instance for whom the key can be used to authenticate.</p>",
          "shape": "InstanceOSUser"
        },
        "SSHPublicKey": {
          "documentation": "<p>The public key material. To use the public key, you must have the matching private key.</p>",
          "shape": "SSHPublicKey"
        }
      },
      "required": [
        "InstanceId",
        "InstanceOSUser",
        "SSHPublicKey"
      ],
      "type": "structure"
    },
    "SendSSHPublicKeyResponse": {
      "members": {
        "RequestId": {
          "documentation": "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "shape": "RequestId"
        },
        "Success": {
          "documentation": "<p>Is true if the request succeeds and an error otherwise.</p>",
          "shape": "Success"
        }
      },
      "type": "structure"
    },
    "SendSerialConsoleSSHPublicKeyRequest": {
      "members": {
        "InstanceId": {
          "documentation": "<p>The ID of the EC2 instance.</p>",
          "shape": "InstanceId"
        },
        "SSHPublicKey": {
          "documentation": "<p>The public key material. To use the public key, you must have the matching private key. For information about the supported key formats and lengths, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#how-to-generate-your-own-key-and-import-it-to-aws\">Requirements for key pairs</a> in the <i>Amazon EC2 User Guide</i>.</p>",
          "shape": "SSHPublicKey"
        },
        "SerialPort": {
          "documentation": "<p>The serial port of the EC2 instance. Currently only port 0 is supported.</p> <p>Default: 0</p>",
          "shape": "SerialPort"
        }
      },
      "required": [
        "InstanceId",
        "SSHPublicKey"
      ],
      "type": "structure"
    },
    "SendSerialConsoleSSHPublicKeyResponse": {
      "members": {
        "RequestId": {
          "documentation": "<p>The ID of the request. Please provide this ID when contacting AWS Support for assistance.</p>",
          "shape": "RequestId"
        },
        "Success": {
          "documentation": "<p>Is true if the request succeeds and an error otherwise.</p>",
          "shape": "Success"
        }
      },
      "type": "structure"
    },
    "SerialConsoleAccessDisabledException": {
      "documentation": "<p>Your account is not authorized to use the EC2 Serial Console. To authorize your account, run the EnableSerialConsoleAccess API. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_EnableSerialConsoleAccess.html\">EnableSerialConsoleAccess</a> in the <i>Amazon EC2 API Reference</i>.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SerialConsoleSessionLimitExceededException": {
      "documentation": "<p>The instance currently has 1 active serial console session. Only 1 session is supported at a time.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SerialConsoleSessionUnavailableException": {
      "documentation": "<p>Unable to start a serial console session. Please try again.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SerialPort": {
      "max": 0,
      "min": 0,
      "type": "integer"
    },
    "ServiceException": {
      "documentation": "<p>The service encountered an error. Follow the instructions in the error message and try again.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Success": {
      "type": "boolean"
    },
    "ThrottlingException": {
      "documentation": "<p>The requests were made too frequently and have been throttled. Wait a while and try again. To increase the limit on your request frequency, contact AWS Support.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
