{
  "documentation": "<p>The Amazon Chime SDK Messaging APIs in this section allow software developers to send and receive messages in custom messaging applications. These APIs depend on the frameworks provided by the Amazon Chime SDK Identity APIs. For more information about the messaging APIs, see <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Messaging.html\">Amazon Chime SDK messaging</a>.</p>",
  "metadata": {
    "apiVersion": "2021-05-15",
    "endpointPrefix": "messaging-chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime SDK Messaging",
    "serviceId": "Chime SDK Messaging",
    "signatureVersion": "v4",
    "signingName": "chime",
    "uid": "chime-sdk-messaging-2021-05-15"
  },
  "operations": {
    "AssociateChannelFlow": {
      "documentation": "<p>Associates a channel flow with a channel. Once associated, all messages to that channel go through channel flow processors. To stop processing, use the <code>DisassociateChannelFlow</code> API.</p> <note> <p>Only administrators or channel moderators can associate a channel flow. The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/channel-flow",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateChannelFlowRequest"
      },
      "name": "AssociateChannelFlow"
    },
    "BatchCreateChannelMembership": {
      "documentation": "<p>Adds a specified number of users to a channel. </p>",
      "errors": [
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/memberships?operation=batch-create",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchCreateChannelMembershipRequest"
      },
      "name": "BatchCreateChannelMembership",
      "output": {
        "shape": "BatchCreateChannelMembershipResponse"
      }
    },
    "ChannelFlowCallback": {
      "documentation": "<p>Calls back Chime SDK Messaging with a processing response message. This should be invoked from the processor Lambda. This is a developer API.</p> <p>You can return one of the following processing responses:</p> <ul> <li> <p>Update message content or metadata</p> </li> <li> <p>Deny a message</p> </li> <li> <p>Make no changes to the message</p> </li> </ul>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}?operation=channel-flow-callback",
        "responseCode": 200
      },
      "input": {
        "shape": "ChannelFlowCallbackRequest"
      },
      "name": "ChannelFlowCallback",
      "output": {
        "shape": "ChannelFlowCallbackResponse"
      }
    },
    "CreateChannel": {
      "documentation": "<p>Creates a channel to which you can add users and send messages.</p> <p> <b>Restriction</b>: You can't change a channel's privacy.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "name": "CreateChannel",
      "output": {
        "shape": "CreateChannelResponse"
      }
    },
    "CreateChannelBan": {
      "documentation": "<p>Permanently bans a member from a channel. Moderators can't add banned members to a channel. To undo a ban, you first have to <code>DeleteChannelBan</code>, and then <code>CreateChannelMembership</code>. Bans are cleaned up when you delete users or channels.</p> <p>If you ban a user who is already part of a channel, that user is automatically kicked from the channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelBanRequest"
      },
      "name": "CreateChannelBan",
      "output": {
        "shape": "CreateChannelBanResponse"
      }
    },
    "CreateChannelFlow": {
      "documentation": "<p>Creates a channel flow, a container for processors. Processors are AWS Lambda functions that perform actions on chat messages, such as stripping out profanity. You can associate channel flows with channels, and the processors in the channel flow then take action on all messages sent to that channel. This is a developer API.</p> <p>Channel flows process the following items:</p> <ol> <li> <p>New and updated messages</p> </li> <li> <p>Persistent and non-persistent messages</p> </li> <li> <p>The Standard message type</p> </li> </ol> <note> <p>Channel flows don't process Control or System messages. For more information about the message types provided by Chime SDK Messaging, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/dg/using-the-messaging-sdk.html#msg-types\">Message types</a> in the <i>Amazon Chime developer guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channel-flows",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelFlowRequest"
      },
      "name": "CreateChannelFlow",
      "output": {
        "shape": "CreateChannelFlowResponse"
      }
    },
    "CreateChannelMembership": {
      "documentation": "<p>Adds a user to a channel. The <code>InvitedBy</code> field in <code>ChannelMembership</code> is derived from the request header. A channel member can:</p> <ul> <li> <p>List messages</p> </li> <li> <p>Send messages</p> </li> <li> <p>Receive messages</p> </li> <li> <p>Edit their own messages</p> </li> <li> <p>Leave the channel</p> </li> </ul> <p>Privacy settings impact this action as follows:</p> <ul> <li> <p>Public Channels: You do not need to be a member to list messages, but you must be a member to send messages.</p> </li> <li> <p>Private Channels: You must be a member to list or send messages.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelMembershipRequest"
      },
      "name": "CreateChannelMembership",
      "output": {
        "shape": "CreateChannelMembershipResponse"
      }
    },
    "CreateChannelModerator": {
      "documentation": "<p>Creates a new <code>ChannelModerator</code>. A channel moderator can:</p> <ul> <li> <p>Add and remove other members of the channel.</p> </li> <li> <p>Add and remove other moderators of the channel.</p> </li> <li> <p>Add and remove user bans for the channel.</p> </li> <li> <p>Redact messages in the channel.</p> </li> <li> <p>List messages in the channel.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelModeratorRequest"
      },
      "name": "CreateChannelModerator",
      "output": {
        "shape": "CreateChannelModeratorResponse"
      }
    },
    "DeleteChannel": {
      "documentation": "<p>Immediately makes a channel and its memberships inaccessible and marks them for deletion. This is an irreversible process.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "name": "DeleteChannel"
    },
    "DeleteChannelBan": {
      "documentation": "<p>Removes a user from a channel's ban list.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelBanRequest"
      },
      "name": "DeleteChannelBan"
    },
    "DeleteChannelFlow": {
      "documentation": "<p>Deletes a channel flow, an irreversible process. This is a developer API.</p> <note> <p> This API works only when the channel flow is not associated with any channel. To get a list of all channels that a channel flow is associated with, use the <code>ListChannelsAssociatedWithChannelFlow</code> API. Use the <code>DisassociateChannelFlow</code> API to disassociate a channel flow from all channels. </p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channel-flows/{channelFlowArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelFlowRequest"
      },
      "name": "DeleteChannelFlow"
    },
    "DeleteChannelMembership": {
      "documentation": "<p>Removes a member from a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelMembershipRequest"
      },
      "name": "DeleteChannelMembership"
    },
    "DeleteChannelMessage": {
      "documentation": "<p>Deletes a channel message. Only admins can perform this action. Deletion makes messages inaccessible immediately. A background process deletes any revisions created by <code>UpdateChannelMessage</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelMessageRequest"
      },
      "name": "DeleteChannelMessage"
    },
    "DeleteChannelModerator": {
      "documentation": "<p>Deletes a channel moderator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelModeratorRequest"
      },
      "name": "DeleteChannelModerator"
    },
    "DescribeChannel": {
      "documentation": "<p>Returns the full details of a channel in an Amazon Chime <code>AppInstance</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "name": "DescribeChannel",
      "output": {
        "shape": "DescribeChannelResponse"
      }
    },
    "DescribeChannelBan": {
      "documentation": "<p>Returns the full details of a channel ban.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelBanRequest"
      },
      "name": "DescribeChannelBan",
      "output": {
        "shape": "DescribeChannelBanResponse"
      }
    },
    "DescribeChannelFlow": {
      "documentation": "<p>Returns the full details of a channel flow in an Amazon Chime <code>AppInstance</code>. This is a developer API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channel-flows/{channelFlowArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelFlowRequest"
      },
      "name": "DescribeChannelFlow",
      "output": {
        "shape": "DescribeChannelFlowResponse"
      }
    },
    "DescribeChannelMembership": {
      "documentation": "<p>Returns the full details of a user's channel membership.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelMembershipRequest"
      },
      "name": "DescribeChannelMembership",
      "output": {
        "shape": "DescribeChannelMembershipResponse"
      }
    },
    "DescribeChannelMembershipForAppInstanceUser": {
      "documentation": "<p> Returns the details of a channel based on the membership of the specified <code>AppInstanceUser</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-membership",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelMembershipForAppInstanceUserRequest"
      },
      "name": "DescribeChannelMembershipForAppInstanceUser",
      "output": {
        "shape": "DescribeChannelMembershipForAppInstanceUserResponse"
      }
    },
    "DescribeChannelModeratedByAppInstanceUser": {
      "documentation": "<p>Returns the full details of a channel moderated by the specified <code>AppInstanceUser</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}?scope=app-instance-user-moderated-channel",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelModeratedByAppInstanceUserRequest"
      },
      "name": "DescribeChannelModeratedByAppInstanceUser",
      "output": {
        "shape": "DescribeChannelModeratedByAppInstanceUserResponse"
      }
    },
    "DescribeChannelModerator": {
      "documentation": "<p>Returns the full details of a single ChannelModerator.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators/{channelModeratorArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelModeratorRequest"
      },
      "name": "DescribeChannelModerator",
      "output": {
        "shape": "DescribeChannelModeratorResponse"
      }
    },
    "DisassociateChannelFlow": {
      "documentation": "<p>Disassociates a channel flow from all its channels. Once disassociated, all messages to that channel stop going through the channel flow processor.</p> <note> <p>Only administrators or channel moderators can disassociate a channel flow. The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelArn}/channel-flow/{channelFlowArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateChannelFlowRequest"
      },
      "name": "DisassociateChannelFlow"
    },
    "GetChannelMembershipPreferences": {
      "documentation": "<p>Gets the membership preferences of an <code>AppInstanceUser</code> for the specified channel. The <code>AppInstanceUser</code> must be a member of the channel. Only the <code>AppInstanceUser</code> who owns the membership can retrieve preferences. Users in the <code>AppInstanceAdmin</code> and channel moderator roles can't retrieve preferences for other users. Banned users can't retrieve membership preferences for the channel from which they are banned.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}/preferences",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelMembershipPreferencesRequest"
      },
      "name": "GetChannelMembershipPreferences",
      "output": {
        "shape": "GetChannelMembershipPreferencesResponse"
      }
    },
    "GetChannelMessage": {
      "documentation": "<p>Gets the full details of a channel message.</p> <note> <p>The x-amz-chime-bearer request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelMessageRequest"
      },
      "name": "GetChannelMessage",
      "output": {
        "shape": "GetChannelMessageResponse"
      }
    },
    "GetChannelMessageStatus": {
      "documentation": "<p>Gets message status for a specified <code>messageId</code>. Use this API to determine the intermediate status of messages going through channel flow processing. The API provides an alternative to retrieving message status if the event was not received because a client wasn't connected to a websocket. </p> <p>Messages can have any one of these statuses.</p> <dl> <dt>SENT</dt> <dd> <p>Message processed successfully</p> </dd> <dt>PENDING</dt> <dd> <p>Ongoing processing</p> </dd> <dt>FAILED</dt> <dd> <p>Processing failed</p> </dd> <dt>DENIED</dt> <dd> <p>Messasge denied by the processor</p> </dd> </dl> <note> <ul> <li> <p>This API does not return statuses for denied messages, because we don't store them once the processor denies them. </p> </li> <li> <p>Only the message sender can invoke this API.</p> </li> <li> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages/{messageId}?scope=message-status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelMessageStatusRequest"
      },
      "name": "GetChannelMessageStatus",
      "output": {
        "shape": "GetChannelMessageStatusResponse"
      }
    },
    "GetMessagingSessionEndpoint": {
      "documentation": "<p>The details of the endpoint for the messaging session.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/endpoints/messaging-session",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMessagingSessionEndpointRequest"
      },
      "name": "GetMessagingSessionEndpoint",
      "output": {
        "shape": "GetMessagingSessionEndpointResponse"
      }
    },
    "ListChannelBans": {
      "documentation": "<p>Lists all the users banned from a particular channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/bans",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelBansRequest"
      },
      "name": "ListChannelBans",
      "output": {
        "shape": "ListChannelBansResponse"
      }
    },
    "ListChannelFlows": {
      "documentation": "<p>Returns a paginated lists of all the channel flows created under a single Chime. This is a developer API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channel-flows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelFlowsRequest"
      },
      "name": "ListChannelFlows",
      "output": {
        "shape": "ListChannelFlowsResponse"
      }
    },
    "ListChannelMemberships": {
      "documentation": "<p>Lists all channel memberships in a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note> <p>If you want to list the channels to which a specific app instance user belongs, see the <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_messaging-chime_ListChannelMembershipsForAppInstanceUser.html\">ListChannelMembershipsForAppInstanceUser</a> API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/memberships",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelMembershipsRequest"
      },
      "name": "ListChannelMemberships",
      "output": {
        "shape": "ListChannelMembershipsResponse"
      }
    },
    "ListChannelMembershipsForAppInstanceUser": {
      "documentation": "<p> Lists all channels that a particular <code>AppInstanceUser</code> is a part of. Only an <code>AppInstanceAdmin</code> can call the API with a user ARN that is not their own. </p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-memberships",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelMembershipsForAppInstanceUserRequest"
      },
      "name": "ListChannelMembershipsForAppInstanceUser",
      "output": {
        "shape": "ListChannelMembershipsForAppInstanceUserResponse"
      }
    },
    "ListChannelMessages": {
      "documentation": "<p>List all the messages in a channel. Returns a paginated list of <code>ChannelMessages</code>. By default, sorted by creation timestamp in descending order.</p> <note> <p>Redacted messages appear in the results as empty, since they are only redacted, not deleted. Deleted messages do not appear in the results. This action always returns the latest version of an edited message.</p> <p>Also, the x-amz-chime-bearer request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/messages",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelMessagesRequest"
      },
      "name": "ListChannelMessages",
      "output": {
        "shape": "ListChannelMessagesResponse"
      }
    },
    "ListChannelModerators": {
      "documentation": "<p>Lists all the moderators for a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/moderators",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelModeratorsRequest"
      },
      "name": "ListChannelModerators",
      "output": {
        "shape": "ListChannelModeratorsResponse"
      }
    },
    "ListChannels": {
      "documentation": "<p>Lists all Channels created under a single Chime App as a paginated list. You can specify filters to narrow results.</p> <p class=\"title\"> <b>Functionality &amp; restrictions</b> </p> <ul> <li> <p>Use privacy = <code>PUBLIC</code> to retrieve all public channels in the account.</p> </li> <li> <p>Only an <code>AppInstanceAdmin</code> can set privacy = <code>PRIVATE</code> to list the private channels in an account.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "name": "ListChannels",
      "output": {
        "shape": "ListChannelsResponse"
      }
    },
    "ListChannelsAssociatedWithChannelFlow": {
      "documentation": "<p>Lists all channels associated with a specified channel flow. You can associate a channel flow with multiple channels, but you can only associate a channel with one channel flow. This is a developer API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=channel-flow-associations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsAssociatedWithChannelFlowRequest"
      },
      "name": "ListChannelsAssociatedWithChannelFlow",
      "output": {
        "shape": "ListChannelsAssociatedWithChannelFlowResponse"
      }
    },
    "ListChannelsModeratedByAppInstanceUser": {
      "documentation": "<p>A list of the channels moderated by an <code>AppInstanceUser</code>.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels?scope=app-instance-user-moderated-channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsModeratedByAppInstanceUserRequest"
      },
      "name": "ListChannelsModeratedByAppInstanceUser",
      "output": {
        "shape": "ListChannelsModeratedByAppInstanceUserResponse"
      }
    },
    "ListSubChannels": {
      "documentation": "<p>Lists all the SubChannels in an elastic channel when given a channel ID. Available only to the app instance admins and channel moderators of elastic channels.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelArn}/subchannels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSubChannelsRequest"
      },
      "name": "ListSubChannels",
      "output": {
        "shape": "ListSubChannelsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags applied to an Amazon Chime SDK messaging resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutChannelMembershipPreferences": {
      "documentation": "<p>Sets the membership preferences of an <code>AppInstanceUser</code> for the specified channel. The <code>AppInstanceUser</code> must be a member of the channel. Only the <code>AppInstanceUser</code> who owns the membership can set preferences. Users in the <code>AppInstanceAdmin</code> and channel moderator roles can't set preferences for other users. Banned users can't set membership preferences for the channel from which they are banned.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/memberships/{memberArn}/preferences",
        "responseCode": 200
      },
      "input": {
        "shape": "PutChannelMembershipPreferencesRequest"
      },
      "name": "PutChannelMembershipPreferences",
      "output": {
        "shape": "PutChannelMembershipPreferencesResponse"
      }
    },
    "RedactChannelMessage": {
      "documentation": "<p>Redacts message content, but not metadata. The message exists in the back end, but the action returns null content, and the state shows as redacted.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/messages/{messageId}?operation=redact",
        "responseCode": 200
      },
      "input": {
        "shape": "RedactChannelMessageRequest"
      },
      "name": "RedactChannelMessage",
      "output": {
        "shape": "RedactChannelMessageResponse"
      }
    },
    "SearchChannels": {
      "documentation": "<p>Allows <code>ChimeBearer</code> to search channels by channel members. AppInstanceUsers can search across the channels that they belong to. AppInstanceAdmins can search across all channels.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels?operation=search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchChannelsRequest"
      },
      "name": "SearchChannels",
      "output": {
        "shape": "SearchChannelsResponse"
      }
    },
    "SendChannelMessage": {
      "documentation": "<p>Sends a message to a particular channel that the member is a part of.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> <p>Also, <code>STANDARD</code> messages can contain 4KB of data and the 1KB of metadata. <code>CONTROL</code> messages can contain 30 bytes of data and no metadata.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels/{channelArn}/messages",
        "responseCode": 201
      },
      "input": {
        "shape": "SendChannelMessageRequest"
      },
      "name": "SendChannelMessage",
      "output": {
        "shape": "SendChannelMessageResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies the specified tags to the specified Amazon Chime SDK messaging resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags?operation=tag-resource",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified Amazon Chime SDK messaging resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags?operation=untag-resource",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateChannel": {
      "documentation": "<p>Update a channel's attributes.</p> <p> <b>Restriction</b>: You can't change a channel's privacy. </p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "name": "UpdateChannel",
      "output": {
        "shape": "UpdateChannelResponse"
      }
    },
    "UpdateChannelFlow": {
      "documentation": "<p>Updates channel flow attributes. This is a developer API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channel-flows/{channelFlowArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelFlowRequest"
      },
      "name": "UpdateChannelFlow",
      "output": {
        "shape": "UpdateChannelFlowResponse"
      }
    },
    "UpdateChannelMessage": {
      "documentation": "<p>Updates the content of a message.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/messages/{messageId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelMessageRequest"
      },
      "name": "UpdateChannelMessage",
      "output": {
        "shape": "UpdateChannelMessageResponse"
      }
    },
    "UpdateChannelReadMarker": {
      "documentation": "<p>The details of the time when a user last read messages in a channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelArn}/readMarker",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelReadMarkerRequest"
      },
      "name": "UpdateChannelReadMarker",
      "output": {
        "shape": "UpdateChannelReadMarkerResponse"
      }
    }
  },
  "shapes": {
    "AllowNotifications": {
      "enum": [
        "ALL",
        "NONE",
        "FILTERED"
      ],
      "type": "string"
    },
    "AppInstanceUserMembershipSummary": {
      "documentation": "<p>Summary of the membership details of an <code>AppInstanceUser</code>.</p>",
      "members": {
        "ReadMarkerTimestamp": {
          "documentation": "<p>The time at which an <code>AppInstanceUser</code> last marked a channel as read.</p>",
          "shape": "Timestamp"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel that the <code>AppInstanceUser</code> is a member of.</p>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The type of <code>ChannelMembership</code>.</p>",
          "shape": "ChannelMembershipType"
        }
      },
      "type": "structure"
    },
    "AssociateChannelFlowRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user making the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "ChannelFlowArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>The input parameters don't match the service's restrictions.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BatchChannelMemberships": {
      "documentation": "<p>The membership information, including member ARNs, the channel ARN, and membership types.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel to which you're adding users.</p>",
          "shape": "ChimeArn"
        },
        "InvitedBy": {
          "documentation": "<p>The identifier of the member who invited another member.</p>",
          "shape": "Identity"
        },
        "Members": {
          "documentation": "<p>The users successfully added to the request.</p>",
          "shape": "Members"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel.</p>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The membership types set for the channel users.</p>",
          "shape": "ChannelMembershipType"
        }
      },
      "type": "structure"
    },
    "BatchCreateChannelMembershipError": {
      "documentation": "<p>A list of failed member ARNs, error codes, and error messages.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message.</p>",
          "shape": "String"
        },
        "MemberArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the member that the service couldn't add.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "BatchCreateChannelMembershipErrors": {
      "member": {
        "shape": "BatchCreateChannelMembershipError"
      },
      "type": "list"
    },
    "BatchCreateChannelMembershipRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel to which you're adding users.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArns": {
          "documentation": "<p>The <code>AppInstanceUserArn</code>s of the members you want to add to the channel.</p>",
          "shape": "MemberArns"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the request. </p> <note> <p>Only required when creating membership in a SubChannel for a moderator in an elastic channel.</p> </note>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default members are always returned as part of <code>ListChannelMemberships</code>. Hidden members are only returned if the type filter in <code>ListChannelMemberships</code> equals <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported by moderators.</p>",
          "shape": "ChannelMembershipType"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArns",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "BatchCreateChannelMembershipResponse": {
      "members": {
        "BatchChannelMemberships": {
          "documentation": "<p>The list of channel memberships in the response.</p>",
          "shape": "BatchChannelMemberships"
        },
        "Errors": {
          "documentation": "<p>If the action fails for one or more of the memberships in the request, a list of the memberships is returned, along with error codes and error messages.</p>",
          "shape": "BatchCreateChannelMembershipErrors"
        }
      },
      "type": "structure"
    },
    "CallbackIdType": {
      "max": 64,
      "min": 32,
      "type": "string"
    },
    "Channel": {
      "documentation": "<p>The details of a channel.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of a channel.</p>",
          "shape": "ChimeArn"
        },
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "shape": "ChimeArn"
        },
        "CreatedBy": {
          "documentation": "<p>The <code>AppInstanceUser</code> who created the channel.</p>",
          "shape": "Identity"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the <code>AppInstanceUser</code> created the channel.</p>",
          "shape": "Timestamp"
        },
        "ElasticChannelConfiguration": {
          "documentation": "<p>The attributes required to configure and create an elastic channel. An elastic channel can support a maximum of 1-million members.</p>",
          "shape": "ElasticChannelConfiguration"
        },
        "LastMessageTimestamp": {
          "documentation": "<p>The time at which a member sent the last message in the channel.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which a channel was last updated.</p>",
          "shape": "Timestamp"
        },
        "Metadata": {
          "documentation": "<p>The channel's metadata.</p>",
          "shape": "Metadata"
        },
        "Mode": {
          "documentation": "<p>The mode of the channel.</p>",
          "shape": "ChannelMode"
        },
        "Name": {
          "documentation": "<p>The name of a channel.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Privacy": {
          "documentation": "<p>The channel's privacy setting.</p>",
          "shape": "ChannelPrivacy"
        }
      },
      "type": "structure"
    },
    "ChannelAssociatedWithFlowSummary": {
      "documentation": "<p>Summary of details of a channel associated with channel flow.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        },
        "Metadata": {
          "documentation": "<p>The channel's metadata.</p>",
          "shape": "Metadata"
        },
        "Mode": {
          "documentation": "<p>The mode of the channel.</p>",
          "shape": "ChannelMode"
        },
        "Name": {
          "documentation": "<p>The name of the channel flow.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Privacy": {
          "documentation": "<p>The channel's privacy setting.</p>",
          "shape": "ChannelPrivacy"
        }
      },
      "type": "structure"
    },
    "ChannelAssociatedWithFlowSummaryList": {
      "member": {
        "shape": "ChannelAssociatedWithFlowSummary"
      },
      "type": "list"
    },
    "ChannelBan": {
      "documentation": "<p>The details of a channel ban.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel from which a member is being banned.</p>",
          "shape": "ChimeArn"
        },
        "CreatedBy": {
          "documentation": "<p>The <code>AppInstanceUser</code> who created the ban.</p>",
          "shape": "Identity"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the ban was created.</p>",
          "shape": "Timestamp"
        },
        "Member": {
          "documentation": "<p>The member being banned from the channel.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ChannelBanSummary": {
      "documentation": "<p>Summary of the details of a <code>ChannelBan</code>.</p>",
      "members": {
        "Member": {
          "documentation": "<p>The member being banned from a channel.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ChannelBanSummaryList": {
      "member": {
        "shape": "ChannelBanSummary"
      },
      "type": "list"
    },
    "ChannelFlow": {
      "documentation": "<p>The details of a channel flow.</p>",
      "members": {
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "shape": "ChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the channel flow was created.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which a channel flow was updated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the channel flow.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Processors": {
          "documentation": "<p>Information about the processor Lambda functions.</p>",
          "shape": "ProcessorList"
        }
      },
      "type": "structure"
    },
    "ChannelFlowCallbackRequest": {
      "members": {
        "CallbackId": {
          "documentation": "<p>The identifier passed to the processor by the service when invoked. Use the identifier to call back the service.</p>",
          "idempotencyToken": true,
          "shape": "CallbackIdType"
        },
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChannelMessage": {
          "documentation": "<p>Stores information about the processed message.</p>",
          "shape": "ChannelMessageCallback"
        },
        "DeleteResource": {
          "documentation": "<p>When a processor determines that a message needs to be <code>DENIED</code>, pass this parameter with a value of true.</p>",
          "shape": "NonNullableBoolean"
        }
      },
      "required": [
        "CallbackId",
        "ChannelArn",
        "ChannelMessage"
      ],
      "type": "structure"
    },
    "ChannelFlowCallbackResponse": {
      "members": {
        "CallbackId": {
          "documentation": "<p>The call back ID passed in the request.</p>",
          "shape": "CallbackIdType"
        },
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "ChannelFlowExecutionOrder": {
      "max": 3,
      "min": 1,
      "type": "integer"
    },
    "ChannelFlowSummary": {
      "documentation": "<p>Summary of details of a channel flow.</p>",
      "members": {
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "shape": "ChimeArn"
        },
        "Name": {
          "documentation": "<p>The name of the channel flow.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Processors": {
          "documentation": "<p>Information about the processor Lambda functions.</p>",
          "shape": "ProcessorList"
        }
      },
      "type": "structure"
    },
    "ChannelFlowSummaryList": {
      "member": {
        "shape": "ChannelFlowSummary"
      },
      "type": "list"
    },
    "ChannelId": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9]([A-Za-z0-9\\:\\-\\_\\.\\@]{0,62}[A-Za-z0-9])?",
      "sensitive": true,
      "type": "string"
    },
    "ChannelMemberArns": {
      "max": 10,
      "member": {
        "shape": "ChimeArn"
      },
      "min": 1,
      "type": "list"
    },
    "ChannelMembership": {
      "documentation": "<p>The details of a channel member.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the member's channel.</p>",
          "shape": "ChimeArn"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the channel membership was created.</p>",
          "shape": "Timestamp"
        },
        "InvitedBy": {
          "documentation": "<p>The identifier of the member who invited another member.</p>",
          "shape": "Identity"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which a channel membership was last updated.</p>",
          "shape": "Timestamp"
        },
        "Member": {
          "documentation": "<p>The data of the channel member.</p>",
          "shape": "Identity"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel that a user belongs to.</p>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The membership type set for the channel member.</p>",
          "shape": "ChannelMembershipType"
        }
      },
      "type": "structure"
    },
    "ChannelMembershipForAppInstanceUserSummary": {
      "documentation": "<p>Summary of the channel membership details of an <code>AppInstanceUser</code>.</p>",
      "members": {
        "AppInstanceUserMembershipSummary": {
          "documentation": "<p>Returns the channel membership data for an <code>AppInstance</code>.</p>",
          "shape": "AppInstanceUserMembershipSummary"
        },
        "ChannelSummary": {
          "documentation": "<p>Returns the channel data for an <code>AppInstance</code>.</p>",
          "shape": "ChannelSummary"
        }
      },
      "type": "structure"
    },
    "ChannelMembershipForAppInstanceUserSummaryList": {
      "member": {
        "shape": "ChannelMembershipForAppInstanceUserSummary"
      },
      "type": "list"
    },
    "ChannelMembershipPreferences": {
      "documentation": "<p>The channel membership preferences for an <code>AppInstanceUser</code>.</p>",
      "members": {
        "PushNotifications": {
          "documentation": "<p>The push notification configuration of a message.</p>",
          "shape": "PushNotificationPreferences"
        }
      },
      "type": "structure"
    },
    "ChannelMembershipSummary": {
      "documentation": "<p>Summary of the details of a <code>ChannelMembership</code>.</p>",
      "members": {
        "Member": {
          "documentation": "<p>A member's summary data.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ChannelMembershipSummaryList": {
      "member": {
        "shape": "ChannelMembershipSummary"
      },
      "type": "list"
    },
    "ChannelMembershipType": {
      "enum": [
        "DEFAULT",
        "HIDDEN"
      ],
      "type": "string"
    },
    "ChannelMessage": {
      "documentation": "<p>The details of a message in a channel.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        },
        "Content": {
          "documentation": "<p>The message content.</p>",
          "shape": "Content"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the message was created.</p>",
          "shape": "Timestamp"
        },
        "LastEditedTimestamp": {
          "documentation": "<p>The time at which a message was edited.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which a message was updated.</p>",
          "shape": "Timestamp"
        },
        "MessageAttributes": {
          "documentation": "<p>The attributes for the message, used for message filtering along with a <code>FilterRule</code> defined in the <code>PushNotificationPreferences</code>.</p>",
          "shape": "MessageAttributeMap"
        },
        "MessageId": {
          "documentation": "<p>The ID of a message.</p>",
          "shape": "MessageId"
        },
        "Metadata": {
          "documentation": "<p>The message metadata.</p>",
          "shape": "Metadata"
        },
        "Persistence": {
          "documentation": "<p>The persistence setting for a channel message.</p>",
          "shape": "ChannelMessagePersistenceType"
        },
        "Redacted": {
          "documentation": "<p>Hides the content of a message.</p>",
          "shape": "NonNullableBoolean"
        },
        "Sender": {
          "documentation": "<p>The message sender.</p>",
          "shape": "Identity"
        },
        "Status": {
          "documentation": "<p>The status of the channel message.</p>",
          "shape": "ChannelMessageStatusStructure"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel.</p>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The message type.</p>",
          "shape": "ChannelMessageType"
        }
      },
      "type": "structure"
    },
    "ChannelMessageCallback": {
      "documentation": "<p>Stores information about a callback.</p>",
      "members": {
        "Content": {
          "documentation": "<p>The message content.</p>",
          "shape": "NonEmptyContent"
        },
        "MessageAttributes": {
          "documentation": "<p>The attributes for the message, used for message filtering along with a <code>FilterRule</code> defined in the <code>PushNotificationPreferences</code>. </p>",
          "shape": "MessageAttributeMap"
        },
        "MessageId": {
          "documentation": "<p>The message ID.</p>",
          "shape": "MessageId"
        },
        "Metadata": {
          "documentation": "<p>The message metadata.</p>",
          "shape": "Metadata"
        },
        "PushNotification": {
          "documentation": "<p>The push notification configuration of the message.</p>",
          "shape": "PushNotificationConfiguration"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel.</p>",
          "shape": "SubChannelId"
        }
      },
      "required": [
        "MessageId"
      ],
      "type": "structure"
    },
    "ChannelMessagePersistenceType": {
      "enum": [
        "PERSISTENT",
        "NON_PERSISTENT"
      ],
      "type": "string"
    },
    "ChannelMessageStatus": {
      "enum": [
        "SENT",
        "PENDING",
        "FAILED",
        "DENIED"
      ],
      "type": "string"
    },
    "ChannelMessageStatusStructure": {
      "documentation": "<p>Stores information about a message status.</p>",
      "members": {
        "Detail": {
          "documentation": "<p>Contains more details about the messasge status.</p>",
          "shape": "StatusDetail"
        },
        "Value": {
          "documentation": "<p>The message status value.</p>",
          "shape": "ChannelMessageStatus"
        }
      },
      "type": "structure"
    },
    "ChannelMessageSummary": {
      "documentation": "<p>Summary of the messages in a <code>Channel</code>.</p>",
      "members": {
        "Content": {
          "documentation": "<p>The content of the message.</p>",
          "shape": "Content"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the message summary was created.</p>",
          "shape": "Timestamp"
        },
        "LastEditedTimestamp": {
          "documentation": "<p>The time at which a message was last edited.</p>",
          "shape": "Timestamp"
        },
        "LastUpdatedTimestamp": {
          "documentation": "<p>The time at which a message was last updated.</p>",
          "shape": "Timestamp"
        },
        "MessageAttributes": {
          "documentation": "<p>The message attribues listed in a the summary of a channel message.</p>",
          "shape": "MessageAttributeMap"
        },
        "MessageId": {
          "documentation": "<p>The ID of the message.</p>",
          "shape": "MessageId"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the message.</p>",
          "shape": "Metadata"
        },
        "Redacted": {
          "documentation": "<p>Indicates whether a message was redacted.</p>",
          "shape": "NonNullableBoolean"
        },
        "Sender": {
          "documentation": "<p>The message sender.</p>",
          "shape": "Identity"
        },
        "Status": {
          "documentation": "<p>The message status. The status value is <code>SENT</code> for messages sent to a channel without a channel flow. For channels associated with channel flow, the value determines the processing stage.</p>",
          "shape": "ChannelMessageStatusStructure"
        },
        "Type": {
          "documentation": "<p>The type of message.</p>",
          "shape": "ChannelMessageType"
        }
      },
      "type": "structure"
    },
    "ChannelMessageSummaryList": {
      "member": {
        "shape": "ChannelMessageSummary"
      },
      "type": "list"
    },
    "ChannelMessageType": {
      "enum": [
        "STANDARD",
        "CONTROL"
      ],
      "type": "string"
    },
    "ChannelMode": {
      "enum": [
        "UNRESTRICTED",
        "RESTRICTED"
      ],
      "type": "string"
    },
    "ChannelModeratedByAppInstanceUserSummary": {
      "documentation": "<p>Summary of the details of a moderated channel.</p>",
      "members": {
        "ChannelSummary": {
          "documentation": "<p>Summary of the details of a <code>Channel</code>.</p>",
          "shape": "ChannelSummary"
        }
      },
      "type": "structure"
    },
    "ChannelModeratedByAppInstanceUserSummaryList": {
      "member": {
        "shape": "ChannelModeratedByAppInstanceUserSummary"
      },
      "type": "list"
    },
    "ChannelModerator": {
      "documentation": "<p>The details of a channel moderator.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the moderator's channel.</p>",
          "shape": "ChimeArn"
        },
        "CreatedBy": {
          "documentation": "<p>The <code>AppInstanceUser</code> who created the moderator.</p>",
          "shape": "Identity"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The time at which the moderator was created.</p>",
          "shape": "Timestamp"
        },
        "Moderator": {
          "documentation": "<p>The moderator's data.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ChannelModeratorArns": {
      "max": 10,
      "member": {
        "shape": "ChimeArn"
      },
      "min": 1,
      "type": "list"
    },
    "ChannelModeratorSummary": {
      "documentation": "<p>Summary of the details of a <code>ChannelModerator</code>.</p>",
      "members": {
        "Moderator": {
          "documentation": "<p>The data for a moderator.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ChannelModeratorSummaryList": {
      "member": {
        "shape": "ChannelModeratorSummary"
      },
      "type": "list"
    },
    "ChannelPrivacy": {
      "enum": [
        "PUBLIC",
        "PRIVATE"
      ],
      "type": "string"
    },
    "ChannelSummary": {
      "documentation": "<p>Summary of the details of a <code>Channel</code>.</p>",
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        },
        "LastMessageTimestamp": {
          "documentation": "<p>The time at which the last persistent message in a channel was sent.</p>",
          "shape": "Timestamp"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the channel.</p>",
          "shape": "Metadata"
        },
        "Mode": {
          "documentation": "<p>The mode of the channel.</p>",
          "shape": "ChannelMode"
        },
        "Name": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Privacy": {
          "documentation": "<p>The privacy setting of the channel.</p>",
          "shape": "ChannelPrivacy"
        }
      },
      "type": "structure"
    },
    "ChannelSummaryList": {
      "member": {
        "shape": "ChannelSummary"
      },
      "type": "list"
    },
    "ChimeArn": {
      "max": 1600,
      "min": 5,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 2,
      "pattern": "[-_a-zA-Z0-9]*",
      "sensitive": true,
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Content": {
      "max": 4096,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "sensitive": true,
      "type": "string"
    },
    "CreateChannelBanRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the ban request.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the member being banned.</p>",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "CreateChannelBanResponse": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the response to the ban request.</p>",
          "shape": "ChimeArn"
        },
        "Member": {
          "documentation": "<p>The <code>ChannelArn</code> and <code>BannedIdentity</code> of the member in the ban response.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "CreateChannelFlowRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the channel flow request.</p>",
          "shape": "ChimeArn"
        },
        "ClientRequestToken": {
          "documentation": "<p>The client token for the request. An Idempotency token.</p>",
          "shape": "ClientRequestToken"
        },
        "Name": {
          "documentation": "<p>The name of the channel flow.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Processors": {
          "documentation": "<p>Information about the processor Lambda functions.</p>",
          "shape": "ProcessorList"
        },
        "Tags": {
          "documentation": "<p>The tags for the creation request.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "AppInstanceArn",
        "Processors",
        "Name",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "CreateChannelFlowResponse": {
      "members": {
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "CreateChannelMembershipRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel to which you're adding users.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the member you want to add to the channel.</p>",
          "shape": "ChimeArn"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the request.</p> <note> <p>Only required when creating membership in a SubChannel for a moderator in an elastic channel.</p> </note>",
          "shape": "SubChannelId"
        },
        "Type": {
          "documentation": "<p>The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default members are always returned as part of <code>ListChannelMemberships</code>. Hidden members are only returned if the type filter in <code>ListChannelMemberships</code> equals <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported by moderators.</p>",
          "shape": "ChannelMembershipType"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArn",
        "Type",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "CreateChannelMembershipResponse": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        },
        "Member": {
          "documentation": "<p>The ARN and metadata of the member being added.</p>",
          "shape": "Identity"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the response.</p>",
          "shape": "SubChannelId"
        }
      },
      "type": "structure"
    },
    "CreateChannelModeratorRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChannelModeratorArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the moderator.</p>",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "ChannelModeratorArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "CreateChannelModeratorResponse": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        },
        "ChannelModerator": {
          "documentation": "<p>The ARNs of the channel and the moderator.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "CreateChannelRequest": {
      "members": {
        "AppInstanceArn": {
          "documentation": "<p>The ARN of the channel request.</p>",
          "shape": "ChimeArn"
        },
        "ChannelId": {
          "documentation": "<p>The ID of the channel in the request.</p>",
          "shape": "ChannelId"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "ClientRequestToken": {
          "documentation": "<p>The client token for the request. An <code>Idempotency</code> token.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "ElasticChannelConfiguration": {
          "documentation": "<p>The attributes required to configure and create an elastic channel. An elastic channel can support a maximum of 1-million users, excluding moderators.</p>",
          "shape": "ElasticChannelConfiguration"
        },
        "MemberArns": {
          "documentation": "<p>The ARNs of the channel members in the request.</p>",
          "shape": "ChannelMemberArns"
        },
        "Metadata": {
          "documentation": "<p>The metadata of the creation request. Limited to 1KB and UTF-8.</p>",
          "shape": "Metadata"
        },
        "Mode": {
          "documentation": "<p>The channel mode: <code>UNRESTRICTED</code> or <code>RESTRICTED</code>. Administrators, moderators, and channel members can add themselves and other members to unrestricted channels. Only administrators and moderators can add members to restricted channels.</p>",
          "shape": "ChannelMode"
        },
        "ModeratorArns": {
          "documentation": "<p>The ARNs of the channel moderators in the request.</p>",
          "shape": "ChannelModeratorArns"
        },
        "Name": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "NonEmptyResourceName"
        },
        "Privacy": {
          "documentation": "<p>The channel's privacy level: <code>PUBLIC</code> or <code>PRIVATE</code>. Private channels aren't discoverable by users outside the channel. Public channels are discoverable by anyone in the <code>AppInstance</code>.</p>",
          "shape": "ChannelPrivacy"
        },
        "Tags": {
          "documentation": "<p>The tags for the creation request.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "AppInstanceArn",
        "Name",
        "ClientRequestToken",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "CreateChannelResponse": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChimeArn"
        }
      },
      "type": "structure"
    },
    "DeleteChannelBanRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel from which the <code>AppInstanceUser</code> was banned.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArn": {
          "documentation": "<p>The ARN of the <code>AppInstanceUser</code> that you want to reinstate.</p>",
          "location": "uri",
          "locationName": "memberArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DeleteChannelFlowRequest": {
      "members": {
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "location": "uri",
          "locationName": "channelFlowArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelFlowArn"
      ],
      "type": "structure"
    },
    "DeleteChannelMembershipRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel from which you want to remove the user.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the member that you're removing from the channel.</p>",
          "location": "uri",
          "locationName": "memberArn",
          "shape": "ChimeArn"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the request.</p> <note> <p>Only for use by moderators.</p> </note>",
          "location": "querystring",
          "locationName": "sub-channel-id",
          "shape": "SubChannelId"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DeleteChannelMessageRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MessageId": {
          "documentation": "<p>The ID of the message being deleted.</p>",
          "location": "uri",
          "locationName": "messageId",
          "shape": "MessageId"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the request.</p> <note> <p>Only required when deleting messages in a SubChannel that the user belongs to.</p> </note>",
          "location": "querystring",
          "locationName": "sub-channel-id",
          "shape": "SubChannelId"
        }
      },
      "required": [
        "ChannelArn",
        "MessageId",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DeleteChannelModeratorRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChannelModeratorArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the moderator being deleted.</p>",
          "location": "uri",
          "locationName": "channelModeratorArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "ChannelModeratorArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DeleteChannelRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel being deleted.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "SubChannelId": {
          "documentation": "<p>The ID of the SubChannel in the request.</p>",
          "location": "querystring",
          "locationName": "sub-channel-id",
          "shape": "SubChannelId"
        }
      },
      "required": [
        "ChannelArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DescribeChannelBanRequest": {
      "members": {
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel from which the user is banned.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        },
        "MemberArn": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the member being banned.</p>",
          "location": "uri",
          "locationName": "memberArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "MemberArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DescribeChannelBanResponse": {
      "members": {
        "ChannelBan": {
          "documentation": "<p>The details of the ban.</p>",
          "shape": "ChannelBan"
        }
      },
      "type": "structure"
    },
    "DescribeChannelFlowRequest": {
      "members": {
        "ChannelFlowArn": {
          "documentation": "<p>The ARN of the channel flow.</p>",
          "location": "uri",
          "locationName": "channelFlowArn",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelFlowArn"
      ],
      "type": "structure"
    },
    "DescribeChannelFlowResponse": {
      "members": {
        "ChannelFlow": {
          "documentation": "<p>The channel flow details.</p>",
          "shape": "ChannelFlow"
        }
      },
      "type": "structure"
    },
    "DescribeChannelMembershipForAppInstanceUserRequest": {
      "members": {
        "AppInstanceUserArn": {
          "documentation": "<p>The ARN of the user in a channel.</p>",
          "location": "querystring",
          "locationName": "app-instance-user-arn",
          "shape": "ChimeArn"
        },
        "ChannelArn": {
          "documentation": "<p>The ARN of the channel to which the user belongs.</p>",
          "location": "uri",
          "locationName": "channelArn",
          "shape": "ChimeArn"
        },
        "ChimeBearer": {
          "documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
          "location": "header",
          "locationName": "x-amz-chime-bearer",
          "shape": "ChimeArn"
        }
      },
      "required": [
        "ChannelArn",
        "AppInstanceUserArn",
        "ChimeBearer"
      ],
      "type": "structure"
    },
    "DescribeChannelMembershipForAppInstanceUserResponse": {
      "members": {
        "ChannelMembership": {
          "documentation": "<p>The channel to which a user belongs.</p>",
[...]
