{
  "documentation": "<p> This section provides documentation for the Amazon CodeGuru Profiler API operations. </p> <p> Amazon CodeGuru Profiler collects runtime performance data from your live applications, and provides recommendations that can help you fine-tune your application performance. Using machine learning algorithms, CodeGuru Profiler can help you find your most expensive lines of code and suggest ways you can improve efficiency and remove CPU bottlenecks. </p> <p> Amazon CodeGuru Profiler provides different visualizations of profiling data to help you identify what code is running on the CPU, see how much time is consumed, and suggest ways to reduce CPU utilization. </p> <note> <p>Amazon CodeGuru Profiler currently supports applications written in all Java virtual machine (JVM) languages and Python. While CodeGuru Profiler supports both visualizations and recommendations for applications written in Java, it can also generate visualizations and a subset of recommendations for applications written in other JVM languages and Python.</p> </note> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-ug/what-is-codeguru-profiler.html\">What is Amazon CodeGuru Profiler</a> in the <i>Amazon CodeGuru Profiler User Guide</i>. </p>",
  "metadata": {
    "apiVersion": "2019-07-18",
    "endpointPrefix": "codeguru-profiler",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon CodeGuru Profiler",
    "serviceId": "CodeGuruProfiler",
    "signatureVersion": "v4",
    "signingName": "codeguru-profiler",
    "uid": "codeguruprofiler-2019-07-18"
  },
  "operations": {
    "AddNotificationChannels": {
      "documentation": "<p>Add up to 2 anomaly notifications channels for a profiling group.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "AddNotificationChannelsRequest"
      },
      "name": "AddNotificationChannels",
      "output": {
        "shape": "AddNotificationChannelsResponse"
      }
    },
    "BatchGetFrameMetricData": {
      "documentation": "<p> Returns the time series of values for a requested list of frame metrics from a time period.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/profilingGroups/{profilingGroupName}/frames/-/metrics",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetFrameMetricDataRequest"
      },
      "name": "BatchGetFrameMetricData",
      "output": {
        "shape": "BatchGetFrameMetricDataResponse"
      }
    },
    "ConfigureAgent": {
      "documentation": "<p> Used by profiler agents to report their current state and to receive remote configuration updates. For example, <code>ConfigureAgent</code> can be used to tell an agent whether to profile or not and for how long to return profiling data. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/profilingGroups/{profilingGroupName}/configureAgent",
        "responseCode": 200
      },
      "input": {
        "shape": "ConfigureAgentRequest"
      },
      "name": "ConfigureAgent",
      "output": {
        "shape": "ConfigureAgentResponse"
      }
    },
    "CreateProfilingGroup": {
      "documentation": "<p>Creates a profiling group.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/profilingGroups",
        "responseCode": 201
      },
      "idempotent": true,
      "input": {
        "shape": "CreateProfilingGroupRequest"
      },
      "name": "CreateProfilingGroup",
      "output": {
        "shape": "CreateProfilingGroupResponse"
      }
    },
    "DeleteProfilingGroup": {
      "documentation": "<p>Deletes a profiling group.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/profilingGroups/{profilingGroupName}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteProfilingGroupRequest"
      },
      "name": "DeleteProfilingGroup",
      "output": {
        "shape": "DeleteProfilingGroupResponse"
      }
    },
    "DescribeProfilingGroup": {
      "documentation": "<p> Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> object that contains information about the requested profiling group. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups/{profilingGroupName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeProfilingGroupRequest"
      },
      "name": "DescribeProfilingGroup",
      "output": {
        "shape": "DescribeProfilingGroupResponse"
      }
    },
    "GetFindingsReportAccountSummary": {
      "documentation": "<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_FindingsReportSummary.html\"> <code>FindingsReportSummary</code> </a> objects that contain analysis results for all profiling groups in your AWS account. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/internal/findingsReports",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsReportAccountSummaryRequest"
      },
      "name": "GetFindingsReportAccountSummary",
      "output": {
        "shape": "GetFindingsReportAccountSummaryResponse"
      }
    },
    "GetNotificationConfiguration": {
      "documentation": "<p>Get the current configuration for anomaly notifications for a profiling group.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetNotificationConfigurationRequest"
      },
      "name": "GetNotificationConfiguration",
      "output": {
        "shape": "GetNotificationConfigurationResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p> Returns the JSON-formatted resource-based policy on a profiling group. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups/{profilingGroupName}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "GetProfile": {
      "documentation": "<p> Gets the aggregated profile of a profiling group for a specified time range. Amazon CodeGuru Profiler collects posted agent profiles for a profiling group into aggregated profiles. </p> <pre><code> &lt;note&gt; &lt;p&gt; Because aggregated profiles expire over time &lt;code&gt;GetProfile&lt;/code&gt; is not idempotent. &lt;/p&gt; &lt;/note&gt; &lt;p&gt; Specify the time range for the requested aggregated profile using 1 or 2 of the following parameters: &lt;code&gt;startTime&lt;/code&gt;, &lt;code&gt;endTime&lt;/code&gt;, &lt;code&gt;period&lt;/code&gt;. The maximum time range allowed is 7 days. If you specify all 3 parameters, an exception is thrown. If you specify only &lt;code&gt;period&lt;/code&gt;, the latest aggregated profile is returned. &lt;/p&gt; &lt;p&gt; Aggregated profiles are available with aggregation periods of 5 minutes, 1 hour, and 1 day, aligned to UTC. The aggregation period of an aggregated profile determines how long it is retained. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AggregatedProfileTime.html&quot;&gt; &lt;code&gt;AggregatedProfileTime&lt;/code&gt; &lt;/a&gt;. The aggregated profile's aggregation period determines how long it is retained by CodeGuru Profiler. &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 5 minutes, the aggregated profile is retained for 15 days. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 1 hour, the aggregated profile is retained for 60 days. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If the aggregation period is 1 day, the aggregated profile is retained for 3 years. &lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt;There are two use cases for calling &lt;code&gt;GetProfile&lt;/code&gt;.&lt;/p&gt; &lt;ol&gt; &lt;li&gt; &lt;p&gt; If you want to return an aggregated profile that already exists, use &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ListProfileTimes.html&quot;&gt; &lt;code&gt;ListProfileTimes&lt;/code&gt; &lt;/a&gt; to view the time ranges of existing aggregated profiles. Use them in a &lt;code&gt;GetProfile&lt;/code&gt; request to return a specific, existing aggregated profile. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; If you want to return an aggregated profile for a time range that doesn't align with an existing aggregated profile, then CodeGuru Profiler makes a best effort to combine existing aggregated profiles from the requested time range and return them as one aggregated profile. &lt;/p&gt; &lt;p&gt; If aggregated profiles do not exist for the full time range requested, then aggregated profiles for a smaller time range are returned. For example, if the requested time range is from 00:00 to 00:20, and the existing aggregated profiles are from 00:15 and 00:25, then the aggregated profiles from 00:15 to 00:20 are returned. &lt;/p&gt; &lt;/li&gt; &lt;/ol&gt; </code></pre>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups/{profilingGroupName}/profile",
        "responseCode": 200
      },
      "input": {
        "shape": "GetProfileRequest"
      },
      "name": "GetProfile",
      "output": {
        "shape": "GetProfileResponse"
      }
    },
    "GetRecommendations": {
      "documentation": "<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_Recommendation.html\"> <code>Recommendation</code> </a> objects that contain recommendations for a profiling group for a given time period. A list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_Anomaly.html\"> <code>Anomaly</code> </a> objects that contains details about anomalies detected in the profiling group for the same time period is also returned. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/internal/profilingGroups/{profilingGroupName}/recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRecommendationsRequest"
      },
      "name": "GetRecommendations",
      "output": {
        "shape": "GetRecommendationsResponse"
      }
    },
    "ListFindingsReports": {
      "documentation": "<p>List the available reports for a given profiling group and time range.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/internal/profilingGroups/{profilingGroupName}/findingsReports",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsReportsRequest"
      },
      "name": "ListFindingsReports",
      "output": {
        "shape": "ListFindingsReportsResponse"
      }
    },
    "ListProfileTimes": {
      "documentation": "<p>Lists the start times of the available aggregated profiles of a profiling group for an aggregation period within the specified time range.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups/{profilingGroupName}/profileTimes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProfileTimesRequest"
      },
      "name": "ListProfileTimes",
      "output": {
        "shape": "ListProfileTimesResponse"
      }
    },
    "ListProfilingGroups": {
      "documentation": "<p> Returns a list of profiling groups. The profiling groups are returned as <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/profilingGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProfilingGroupsRequest"
      },
      "name": "ListProfilingGroups",
      "output": {
        "shape": "ListProfilingGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Returns a list of the tags that are assigned to a specified resource. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PostAgentProfile": {
      "documentation": "<p> Submits profiling data to an aggregated profile of a profiling group. To get an aggregated profile that is created with this profiling data, use <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_GetProfile.html\"> <code>GetProfile</code> </a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/profilingGroups/{profilingGroupName}/agentProfile",
        "responseCode": 204
      },
      "input": {
        "shape": "PostAgentProfileRequest"
      },
      "name": "PostAgentProfile",
      "output": {
        "shape": "PostAgentProfileResponse"
      }
    },
    "PutPermission": {
      "documentation": "<p> Adds permissions to a profiling group's resource-based policy that are provided using an action group. If a profiling group doesn't have a resource-based policy, one is created for it using the permissions in the action group and the roles and users in the <code>principals</code> parameter. </p> <pre><code> &lt;p&gt; The one supported action group that can be added is &lt;code&gt;agentPermission&lt;/code&gt; which grants &lt;code&gt;ConfigureAgent&lt;/code&gt; and &lt;code&gt;PostAgent&lt;/code&gt; permissions. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-ug/resource-based-policies.html&quot;&gt;Resource-based policies in CodeGuru Profiler&lt;/a&gt; in the &lt;i&gt;Amazon CodeGuru Profiler User Guide&lt;/i&gt;, &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html&quot;&gt; &lt;code&gt;ConfigureAgent&lt;/code&gt; &lt;/a&gt;, and &lt;a href=&quot;https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_PostAgentProfile.html&quot;&gt; &lt;code&gt;PostAgentProfile&lt;/code&gt; &lt;/a&gt;. &lt;/p&gt; &lt;p&gt; The first time you call &lt;code&gt;PutPermission&lt;/code&gt; on a profiling group, do not specify a &lt;code&gt;revisionId&lt;/code&gt; because it doesn't have a resource-based policy. Subsequent calls must provide a &lt;code&gt;revisionId&lt;/code&gt; to specify which revision of the resource-based policy to add the permissions to. &lt;/p&gt; &lt;p&gt; The response contains the profiling group's JSON-formatted resource policy. &lt;/p&gt; </code></pre>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutPermissionRequest"
      },
      "name": "PutPermission",
      "output": {
        "shape": "PutPermissionResponse"
      }
    },
    "RemoveNotificationChannel": {
      "documentation": "<p>Remove one anomaly notifications channel for a profiling group.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/profilingGroups/{profilingGroupName}/notificationConfiguration/{channelId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "RemoveNotificationChannelRequest"
      },
      "name": "RemoveNotificationChannel",
      "output": {
        "shape": "RemoveNotificationChannelResponse"
      }
    },
    "RemovePermission": {
      "documentation": "<p> Removes permissions from a profiling group's resource-based policy that are provided using an action group. The one supported action group that can be removed is <code>agentPermission</code> which grants <code>ConfigureAgent</code> and <code>PostAgent</code> permissions. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-ug/resource-based-policies.html\">Resource-based policies in CodeGuru Profiler</a> in the <i>Amazon CodeGuru Profiler User Guide</i>, <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a>, and <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_PostAgentProfile.html\"> <code>PostAgentProfile</code> </a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/profilingGroups/{profilingGroupName}/policy/{actionGroup}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemovePermissionRequest"
      },
      "name": "RemovePermission",
      "output": {
        "shape": "RemovePermissionResponse"
      }
    },
    "SubmitFeedback": {
      "documentation": "<p>Sends feedback to CodeGuru Profiler about whether the anomaly detected by the analysis is useful or not.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/internal/profilingGroups/{profilingGroupName}/anomalies/{anomalyInstanceId}/feedback",
        "responseCode": 204
      },
      "input": {
        "shape": "SubmitFeedbackRequest"
      },
      "name": "SubmitFeedback",
      "output": {
        "shape": "SubmitFeedbackResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Use to assign one or more tags to a resource. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Use to remove one or more tags from a resource. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateProfilingGroup": {
      "documentation": "<p>Updates a profiling group.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/profilingGroups/{profilingGroupName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateProfilingGroupRequest"
      },
      "name": "UpdateProfilingGroup",
      "output": {
        "shape": "UpdateProfilingGroupResponse"
      }
    }
  },
  "shapes": {
    "ActionGroup": {
      "enum": [
        "agentPermissions"
      ],
      "type": "string"
    },
    "AddNotificationChannelsRequest": {
      "documentation": "<p>The structure representing the AddNotificationChannelsRequest.</p>",
      "members": {
        "channels": {
          "documentation": "<p>One or 2 channels to report to when anomalies are detected.</p>",
          "shape": "Channels"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group that we are setting up notifications for.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "channels",
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "AddNotificationChannelsResponse": {
      "documentation": "<p>The structure representing the AddNotificationChannelsResponse.</p>",
      "members": {
        "notificationConfiguration": {
          "documentation": "<p>The new notification configuration for this profiling group.</p>",
          "shape": "NotificationConfiguration"
        }
      },
      "type": "structure"
    },
    "AgentConfiguration": {
      "documentation": "<p> The response of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a> that specifies if an agent profiles or not and for how long to return profiling data. </p>",
      "members": {
        "agentParameters": {
          "documentation": "<p> Parameters used by the profiler. The valid parameters are: </p> <ul> <li> <p> <code>MaxStackDepth</code> - The maximum depth of the stacks in the code that is represented in the profile. For example, if CodeGuru Profiler finds a method <code>A</code>, which calls method <code>B</code>, which calls method <code>C</code>, which calls method <code>D</code>, then the depth is 4. If the <code>maxDepth</code> is set to 2, then the profiler evaluates <code>A</code> and <code>B</code>. </p> </li> <li> <p> <code>MemoryUsageLimitPercent</code> - The percentage of memory that is used by the profiler.</p> </li> <li> <p> <code>MinimumTimeForReportingInMilliseconds</code> - The minimum time in milliseconds between sending reports. </p> </li> <li> <p> <code>ReportingIntervalInMilliseconds</code> - The reporting interval in milliseconds used to report profiles. </p> </li> <li> <p> <code>SamplingIntervalInMilliseconds</code> - The sampling interval in milliseconds that is used to profile samples. </p> </li> </ul>",
          "shape": "AgentParameters"
        },
        "periodInSeconds": {
          "documentation": "<p> How long a profiling agent should send profiling data using <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a>. For example, if this is set to 300, the profiling agent calls <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a> every 5 minutes to submit the profiled data collected during that period. </p>",
          "shape": "Integer"
        },
        "shouldProfile": {
          "documentation": "<p> A <code>Boolean</code> that specifies whether the profiling agent collects profiling data or not. Set to <code>true</code> to enable profiling. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "periodInSeconds",
        "shouldProfile"
      ],
      "type": "structure"
    },
    "AgentOrchestrationConfig": {
      "documentation": "<p> Specifies whether profiling is enabled or disabled for a profiling group. It is used by <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\"> <code>ConfigureAgent</code> </a> to enable or disable profiling for a profiling group. </p>",
      "members": {
        "profilingEnabled": {
          "documentation": "<p> A <code>Boolean</code> that specifies whether the profiling agent collects profiling data or not. Set to <code>true</code> to enable profiling. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "profilingEnabled"
      ],
      "type": "structure"
    },
    "AgentParameterField": {
      "enum": [
        "SamplingIntervalInMilliseconds",
        "ReportingIntervalInMilliseconds",
        "MinimumTimeForReportingInMilliseconds",
        "MemoryUsageLimitPercent",
        "MaxStackDepth"
      ],
      "type": "string"
    },
    "AgentParameters": {
      "key": {
        "shape": "AgentParameterField"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "AgentProfile": {
      "type": "blob"
    },
    "AggregatedProfile": {
      "type": "blob"
    },
    "AggregatedProfileTime": {
      "documentation": "<p> Specifies the aggregation period and aggregation start time for an aggregated profile. An aggregated profile is used to collect posted agent profiles during an aggregation period. There are three possible aggregation periods (1 day, 1 hour, or 5 minutes). </p>",
      "members": {
        "period": {
          "documentation": "<p> The aggregation period. This indicates the period during which an aggregation profile collects posted agent profiles for a profiling group. Use one of three valid durations that are specified using the ISO 8601 format. </p> <ul> <li> <p> <code>P1D</code> \u2014 1 day </p> </li> <li> <p> <code>PT1H</code> \u2014 1 hour </p> </li> <li> <p> <code>PT5M</code> \u2014 5 minutes </p> </li> </ul>",
          "shape": "AggregationPeriod"
        },
        "start": {
          "documentation": "<p> The time that aggregation of posted agent profiles for a profiling group starts. The aggregation profile contains profiles posted by the agent starting at this time for an aggregation period specified by the <code>period</code> property of the <code>AggregatedProfileTime</code> object. </p> <p> Specify <code>start</code> using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AggregationPeriod": {
      "enum": [
        "PT5M",
        "PT1H",
        "P1D"
      ],
      "type": "string"
    },
    "Anomalies": {
      "member": {
        "shape": "Anomaly"
      },
      "type": "list"
    },
    "Anomaly": {
      "documentation": "<p> Details about an anomaly in a specific metric of application profile. The anomaly is detected using analysis of the metric data over a period of time. </p>",
      "members": {
        "instances": {
          "documentation": "<p> A list of the instances of the detected anomalies during the requested period. </p>",
          "shape": "AnomalyInstances"
        },
        "metric": {
          "documentation": "<p> Details about the metric that the analysis used when it detected the anomaly. The metric includes the name of the frame that was analyzed with the type and thread states used to derive the metric value for that frame. </p>",
          "shape": "Metric"
        },
        "reason": {
          "documentation": "<p>The reason for which metric was flagged as anomalous.</p>",
          "shape": "String"
        }
      },
      "required": [
        "instances",
        "metric",
        "reason"
      ],
      "type": "structure"
    },
    "AnomalyInstance": {
      "documentation": "<p>The specific duration in which the metric is flagged as anomalous.</p>",
      "members": {
        "endTime": {
          "documentation": "<p> The end time of the period during which the metric is flagged as anomalous. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "id": {
          "documentation": "<p> The universally unique identifier (UUID) of an instance of an anomaly in a metric. </p>",
          "shape": "String"
        },
        "startTime": {
          "documentation": "<p> The start time of the period during which the metric is flagged as anomalous. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "userFeedback": {
          "documentation": "<p>Feedback type on a specific instance of anomaly submitted by the user.</p>",
          "shape": "UserFeedback"
        }
      },
      "required": [
        "id",
        "startTime"
      ],
      "type": "structure"
    },
    "AnomalyInstanceId": {
      "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}",
      "type": "string"
    },
    "AnomalyInstances": {
      "member": {
        "shape": "AnomalyInstance"
      },
      "type": "list"
    },
    "BatchGetFrameMetricDataRequest": {
      "documentation": "<p>The structure representing the BatchGetFrameMetricDataRequest.</p>",
      "members": {
        "endTime": {
          "documentation": "<p> The end time of the time period for the returned time series values. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "endTime",
          "shape": "Timestamp"
        },
        "frameMetrics": {
          "documentation": "<p> The details of the metrics that are used to request a time series of values. The metric includes the name of the frame, the aggregation type to calculate the metric value for the frame, and the thread states to use to get the count for the metric value of the frame.</p>",
          "shape": "FrameMetrics"
        },
        "period": {
          "documentation": "<p> The duration of the frame metrics used to return the time series values. Specify using the ISO 8601 format. The maximum period duration is one day (<code>PT24H</code> or <code>P1D</code>). </p>",
          "location": "querystring",
          "locationName": "period",
          "shape": "Period"
        },
        "profilingGroupName": {
          "documentation": "<p> The name of the profiling group associated with the the frame metrics used to return the time series values. </p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "startTime": {
          "documentation": "<p> The start time of the time period for the frame metrics used to return the time series values. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "startTime",
          "shape": "Timestamp"
        },
        "targetResolution": {
          "documentation": "<p>The requested resolution of time steps for the returned time series of values. If the requested target resolution is not available due to data not being retained we provide a best effort result by falling back to the most granular available resolution after the target resolution. There are 3 valid values. </p> <ul> <li> <p> <code>P1D</code> \u2014 1 day </p> </li> <li> <p> <code>PT1H</code> \u2014 1 hour </p> </li> <li> <p> <code>PT5M</code> \u2014 5 minutes </p> </li> </ul>",
          "location": "querystring",
          "locationName": "targetResolution",
          "shape": "AggregationPeriod"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "BatchGetFrameMetricDataResponse": {
      "documentation": "<p>The structure representing the BatchGetFrameMetricDataResponse.</p>",
      "members": {
        "endTime": {
          "documentation": "<p> The end time of the time period for the returned time series values. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "endTimes": {
          "documentation": "<p> List of instances, or time steps, in the time series. For example, if the <code>period</code> is one day (<code>PT24H)</code>), and the <code>resolution</code> is five minutes (<code>PT5M</code>), then there are 288 <code>endTimes</code> in the list that are each five minutes appart. </p>",
          "shape": "ListOfTimestamps"
        },
        "frameMetricData": {
          "documentation": "<p>Details of the metrics to request a time series of values. The metric includes the name of the frame, the aggregation type to calculate the metric value for the frame, and the thread states to use to get the count for the metric value of the frame.</p>",
          "shape": "FrameMetricData"
        },
        "resolution": {
          "documentation": "<p>Resolution or granularity of the profile data used to generate the time series. This is the value used to jump through time steps in a time series. There are 3 valid values. </p> <ul> <li> <p> <code>P1D</code> \u2014 1 day </p> </li> <li> <p> <code>PT1H</code> \u2014 1 hour </p> </li> <li> <p> <code>PT5M</code> \u2014 5 minutes </p> </li> </ul>",
          "shape": "AggregationPeriod"
        },
        "startTime": {
          "documentation": "<p> The start time of the time period for the returned time series values. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "unprocessedEndTimes": {
          "documentation": "<p>List of instances which remained unprocessed. This will create a missing time step in the list of end times.</p>",
          "shape": "UnprocessedEndTimeMap"
        }
      },
      "required": [
        "endTime",
        "endTimes",
        "frameMetricData",
        "resolution",
        "startTime",
        "unprocessedEndTimes"
      ],
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "Channel": {
      "documentation": "<p>Notification medium for users to get alerted for events that occur in application profile. We support SNS topic as a notification channel.</p>",
      "members": {
        "eventPublishers": {
          "documentation": "<p>List of publishers for different type of events that may be detected in an application from the profile. Anomaly detection is the only event publisher in Profiler.</p>",
          "shape": "EventPublishers"
        },
        "id": {
          "documentation": "<p>Unique identifier for each <code>Channel</code> in the notification configuration of a Profiling Group. A random UUID for channelId is used when adding a channel to the notification configuration if not specified in the request.</p>",
          "shape": "ChannelId"
        },
        "uri": {
          "documentation": "<p>Unique arn of the resource to be used for notifications. We support a valid SNS topic arn as a channel uri.</p>",
          "shape": "ChannelUri"
        }
      },
      "required": [
        "eventPublishers",
        "uri"
      ],
      "type": "structure"
    },
    "ChannelId": {
      "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}",
      "type": "string"
    },
    "ChannelUri": {
      "documentation": "<p>Channel URI uniquely identifies a Notification Channel. TopicArn is the uri for an SNS channel, emailId is uri for an email channel etc. Currently we only support SNS channels and thus required to be an ARN</p>",
      "type": "string"
    },
    "Channels": {
      "max": 2,
      "member": {
        "shape": "Channel"
      },
      "min": 1,
      "type": "list"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "pattern": "^[\\w-]+$",
      "type": "string"
    },
    "ComputePlatform": {
      "enum": [
        "Default",
        "AWSLambda"
      ],
      "type": "string"
    },
    "ConfigureAgentRequest": {
      "documentation": "<p>The structure representing the configureAgentRequest.</p>",
      "members": {
        "fleetInstanceId": {
          "documentation": "<p> A universally unique identifier (UUID) for a profiling instance. For example, if the profiling instance is an Amazon EC2 instance, it is the instance ID. If it is an AWS Fargate container, it is the container's task ID. </p>",
          "shape": "FleetInstanceId"
        },
        "metadata": {
          "documentation": "<p> Metadata captured about the compute platform the agent is running on. It includes information about sampling and reporting. The valid fields are:</p> <ul> <li> <p> <code>COMPUTE_PLATFORM</code> - The compute platform on which the agent is running </p> </li> <li> <p> <code>AGENT_ID</code> - The ID for an agent instance. </p> </li> <li> <p> <code>AWS_REQUEST_ID</code> - The AWS request ID of a Lambda invocation. </p> </li> <li> <p> <code>EXECUTION_ENVIRONMENT</code> - The execution environment a Lambda function is running on. </p> </li> <li> <p> <code>LAMBDA_FUNCTION_ARN</code> - The Amazon Resource Name (ARN) that is used to invoke a Lambda function. </p> </li> <li> <p> <code>LAMBDA_MEMORY_LIMIT_IN_MB</code> - The memory allocated to a Lambda function. </p> </li> <li> <p> <code>LAMBDA_REMAINING_TIME_IN_MILLISECONDS</code> - The time in milliseconds before execution of a Lambda function times out. </p> </li> <li> <p> <code>LAMBDA_TIME_GAP_BETWEEN_INVOKES_IN_MILLISECONDS</code> - The time in milliseconds between two invocations of a Lambda function. </p> </li> <li> <p> <code>LAMBDA_PREVIOUS_EXECUTION_TIME_IN_MILLISECONDS</code> - The time in milliseconds for the previous Lambda invocation. </p> </li> </ul>",
          "shape": "Metadata"
        },
        "profilingGroupName": {
          "documentation": "<p> The name of the profiling group for which the configured agent is collecting profiling data. </p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "ConfigureAgentResponse": {
      "documentation": "<p>The structure representing the configureAgentResponse.</p>",
      "members": {
        "configuration": {
          "documentation": "<p> An <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AgentConfiguration.html\"> <code>AgentConfiguration</code> </a> object that specifies if an agent profiles or not and for how long to return profiling data. </p>",
          "shape": "AgentConfiguration"
        }
      },
      "payload": "configuration",
      "required": [
        "configuration"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CreateProfilingGroupRequest": {
      "documentation": "<p>The structure representing the createProfiliingGroupRequest.</p>",
      "members": {
        "agentOrchestrationConfig": {
          "documentation": "<p> Specifies whether profiling is enabled or disabled for the created profiling group. </p>",
          "shape": "AgentOrchestrationConfig"
        },
        "clientToken": {
          "documentation": "<p> Amazon CodeGuru Profiler uses this universally unique identifier (UUID) to prevent the accidental creation of duplicate profiling groups if there are failures and retries. </p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "computePlatform": {
          "documentation": "<p> The compute platform of the profiling group. Use <code>AWSLambda</code> if your application runs on AWS Lambda. Use <code>Default</code> if your application runs on a compute platform that is not AWS Lambda, such an Amazon EC2 instance, an on-premises server, or a different platform. If not specified, <code>Default</code> is used. </p>",
          "shape": "ComputePlatform"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group to create.</p>",
          "shape": "ProfilingGroupName"
        },
        "tags": {
          "documentation": "<p> A list of tags to add to the created profiling group. </p>",
          "shape": "TagsMap"
        }
      },
      "required": [
        "clientToken",
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "CreateProfilingGroupResponse": {
      "documentation": "<p>The structure representing the createProfilingGroupResponse.</p>",
      "members": {
        "profilingGroup": {
          "documentation": "<p> The returned <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> object that contains information about the created profiling group. </p>",
          "shape": "ProfilingGroupDescription"
        }
      },
      "payload": "profilingGroup",
      "required": [
        "profilingGroup"
      ],
      "type": "structure"
    },
    "DeleteProfilingGroupRequest": {
      "documentation": "<p>The structure representing the deleteProfilingGroupRequest.</p>",
      "members": {
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group to delete.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "DeleteProfilingGroupResponse": {
      "documentation": "<p>The structure representing the deleteProfilingGroupResponse.</p>",
      "members": {},
      "type": "structure"
    },
    "DescribeProfilingGroupRequest": {
      "documentation": "<p>The structure representing the describeProfilingGroupRequest.</p>",
      "members": {
        "profilingGroupName": {
          "documentation": "<p> The name of the profiling group to get information about. </p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "DescribeProfilingGroupResponse": {
      "documentation": "<p>The structure representing the describeProfilingGroupResponse.</p>",
      "members": {
        "profilingGroup": {
          "documentation": "<p> The returned <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> object that contains information about the requested profiling group. </p>",
          "shape": "ProfilingGroupDescription"
        }
      },
      "payload": "profilingGroup",
      "required": [
        "profilingGroup"
      ],
      "type": "structure"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "EventPublisher": {
      "enum": [
        "AnomalyDetection"
      ],
      "type": "string"
    },
    "EventPublishers": {
      "max": 1,
      "member": {
        "shape": "EventPublisher"
      },
      "min": 1,
      "type": "list"
    },
    "FeedbackType": {
      "enum": [
        "Positive",
        "Negative"
      ],
      "type": "string"
    },
    "FindingsReportId": {
      "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}",
      "type": "string"
    },
    "FindingsReportSummaries": {
      "member": {
        "shape": "FindingsReportSummary"
      },
      "type": "list"
    },
    "FindingsReportSummary": {
      "documentation": "<p> Information about potential recommendations that might be created from the analysis of profiling data. </p>",
      "members": {
        "id": {
          "documentation": "<p>The universally unique identifier (UUID) of the recommendation report.</p>",
          "shape": "FindingsReportId"
        },
        "profileEndTime": {
          "documentation": "<p> The end time of the period during which the metric is flagged as anomalous. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "profileStartTime": {
          "documentation": "<p>The start time of the profile the analysis data is about. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group that is associated with the analysis data.</p>",
          "shape": "String"
        },
        "totalNumberOfFindings": {
          "documentation": "<p>The total number of different recommendations that were found by the analysis.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "FleetInstanceId": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "FrameMetric": {
      "documentation": "<p> The frame name, metric type, and thread states. These are used to derive the value of the metric for the frame.</p>",
      "members": {
        "frameName": {
          "documentation": "<p> Name of the method common across the multiple occurrences of a frame in an application profile.</p>",
          "shape": "String"
        },
        "threadStates": {
          "documentation": "<p>List of application runtime thread states used to get the counts for a frame a derive a metric value.</p>",
          "shape": "ThreadStates"
        },
        "type": {
          "documentation": "<p> A type of aggregation that specifies how a metric for a frame is analyzed. The supported value <code>AggregatedRelativeTotalTime</code> is an aggregation of the metric value for one frame that is calculated across the occurrences of all frames in a profile. </p>",
          "shape": "MetricType"
        }
      },
      "required": [
        "frameName",
        "threadStates",
        "type"
      ],
      "type": "structure"
    },
    "FrameMetricData": {
      "member": {
        "shape": "FrameMetricDatum"
      },
      "type": "list"
    },
    "FrameMetricDatum": {
      "documentation": "<p> Information about a frame metric and its values. </p>",
      "members": {
        "frameMetric": {
          "shape": "FrameMetric"
        },
        "values": {
          "documentation": "<p> A list of values that are associated with a frame metric. </p>",
          "shape": "FrameMetricValues"
        }
      },
      "required": [
        "frameMetric",
        "values"
      ],
      "type": "structure"
    },
    "FrameMetricValue": {
      "box": true,
      "type": "double"
    },
    "FrameMetricValues": {
      "member": {
        "shape": "FrameMetricValue"
      },
      "type": "list"
    },
    "FrameMetrics": {
      "member": {
        "shape": "FrameMetric"
      },
      "type": "list"
    },
    "GetFindingsReportAccountSummaryRequest": {
      "documentation": "<p>The structure representing the GetFindingsReportAccountSummaryRequest.</p>",
      "members": {
        "dailyReportsOnly": {
          "documentation": "<p>A <code>Boolean</code> value indicating whether to only return reports from daily profiles. If set to <code>True</code>, only analysis data from daily profiles is returned. If set to <code>False</code>, analysis data is returned from smaller time windows (for example, one hour).</p>",
          "location": "querystring",
          "locationName": "dailyReportsOnly",
          "shape": "Boolean"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results returned by <code> GetFindingsReportAccountSummary</code> in paginated output. When this parameter is used, <code>GetFindingsReportAccountSummary</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>GetFindingsReportAccountSummary</code> request with the returned <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>GetFindingsReportAccountSummary</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "GetFindingsReportAccountSummaryResponse": {
      "documentation": "<p>The structure representing the GetFindingsReportAccountSummaryResponse.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>GetFindingsReportAccountSummary</code> request. When the results of a <code>GetFindingsReportAccountSummary</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "PaginationToken"
        },
        "reportSummaries": {
          "documentation": "<p>The return list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_FindingsReportSummary.html\"> <code>FindingsReportSummary</code> </a> objects taht contain summaries of analysis results for all profiling groups in your AWS account.</p>",
          "shape": "FindingsReportSummaries"
        }
      },
      "required": [
        "reportSummaries"
      ],
      "type": "structure"
    },
    "GetNotificationConfigurationRequest": {
      "documentation": "<p>The structure representing the GetNotificationConfigurationRequest.</p>",
      "members": {
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group we want to get the notification configuration for.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "GetNotificationConfigurationResponse": {
      "documentation": "<p>The structure representing the GetNotificationConfigurationResponse.</p>",
      "members": {
        "notificationConfiguration": {
          "documentation": "<p>The current notification configuration for this profiling group.</p>",
          "shape": "NotificationConfiguration"
        }
      },
      "required": [
        "notificationConfiguration"
      ],
      "type": "structure"
    },
    "GetPolicyRequest": {
      "documentation": "<p> The structure representing the <code>getPolicyRequest</code>. </p>",
      "members": {
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "GetPolicyResponse": {
      "documentation": "<p>The structure representing the <code>getPolicyResponse</code>.</p>",
      "members": {
        "policy": {
          "documentation": "<p>The JSON-formatted resource-based policy attached to the <code>ProfilingGroup</code>.</p>",
          "shape": "String"
        },
        "revisionId": {
          "documentation": "<p>A unique identifier for the current revision of the returned policy.</p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "policy",
        "revisionId"
      ],
      "type": "structure"
    },
    "GetProfileRequest": {
      "documentation": "<p>The structure representing the getProfileRequest.</p>",
      "members": {
        "accept": {
          "documentation": "<p> The format of the returned profiling data. The format maps to the <code>Accept</code> and <code>Content-Type</code> headers of the HTTP request. You can specify one of the following: or the default . </p> <pre><code> &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;application/json&lt;/code&gt; \u2014 standard JSON format &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;application/x-amzn-ion&lt;/code&gt; \u2014 the Amazon Ion data format. For more information, see &lt;a href=&quot;http://amzn.github.io/ion-docs/&quot;&gt;Amazon Ion&lt;/a&gt;. &lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>",
          "location": "header",
          "locationName": "Accept",
          "shape": "String"
        },
        "endTime": {
          "documentation": "<p> The end time of the requested profile. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p> <p> If you specify <code>endTime</code>, then you must also specify <code>period</code> or <code>startTime</code>, but not both. </p>",
          "location": "querystring",
          "locationName": "endTime",
          "shape": "Timestamp"
        },
        "maxDepth": {
          "documentation": "<p> The maximum depth of the stacks in the code that is represented in the aggregated profile. For example, if CodeGuru Profiler finds a method <code>A</code>, which calls method <code>B</code>, which calls method <code>C</code>, which calls method <code>D</code>, then the depth is 4. If the <code>maxDepth</code> is set to 2, then the aggregated profile contains representations of methods <code>A</code> and <code>B</code>. </p>",
          "location": "querystring",
          "locationName": "maxDepth",
          "shape": "MaxDepth"
        },
        "period": {
          "documentation": "<p> Used with <code>startTime</code> or <code>endTime</code> to specify the time range for the returned aggregated profile. Specify using the ISO 8601 format. For example, <code>P1DT1H1M1S</code>. </p> <pre><code> &lt;p&gt; To get the latest aggregated profile, specify only &lt;code&gt;period&lt;/code&gt;. &lt;/p&gt; </code></pre>",
          "location": "querystring",
          "locationName": "period",
          "shape": "Period"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group to get.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "startTime": {
          "documentation": "<p>The start time of the profile to get. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p> <pre><code> &lt;p&gt; If you specify &lt;code&gt;startTime&lt;/code&gt;, then you must also specify &lt;code&gt;period&lt;/code&gt; or &lt;code&gt;endTime&lt;/code&gt;, but not both. &lt;/p&gt; </code></pre>",
          "location": "querystring",
          "locationName": "startTime",
          "shape": "Timestamp"
        }
      },
      "required": [
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "GetProfileResponse": {
      "documentation": "<p>The structure representing the getProfileResponse.</p>",
      "members": {
        "contentEncoding": {
          "documentation": "<p>The content encoding of the profile.</p>",
          "location": "header",
          "locationName": "Content-Encoding",
          "shape": "String"
        },
        "contentType": {
          "documentation": "<p>The content type of the profile in the payload. It is either <code>application/json</code> or the default <code>application/x-amzn-ion</code>.</p>",
          "location": "header",
          "locationName": "Content-Type",
          "shape": "String"
        },
        "profile": {
          "documentation": "<p>Information about the profile.</p>",
          "shape": "AggregatedProfile"
        }
      },
      "payload": "profile",
      "required": [
        "contentType",
        "profile"
      ],
      "type": "structure"
    },
    "GetRecommendationsRequest": {
      "documentation": "<p>The structure representing the GetRecommendationsRequest.</p>",
      "members": {
        "endTime": {
          "documentation": "<p> The start time of the profile to get analysis data about. You must specify <code>startTime</code> and <code>endTime</code>. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "endTime",
          "shape": "Timestamp"
        },
        "locale": {
          "documentation": "<p> The language used to provide analysis. Specify using a string that is one of the following <code>BCP 47</code> language codes. </p> <ul> <li> <p> <code>de-DE</code> - German, Germany </p> </li> <li> <p> <code>en-GB</code> - English, United Kingdom </p> </li> <li> <p> <code>en-US</code> - English, United States </p> </li> <li> <p> <code>es-ES</code> - Spanish, Spain </p> </li> <li> <p> <code>fr-FR</code> - French, France </p> </li> <li> <p> <code>it-IT</code> - Italian, Italy </p> </li> <li> <p> <code>ja-JP</code> - Japanese, Japan </p> </li> <li> <p> <code>ko-KR</code> - Korean, Republic of Korea </p> </li> <li> <p> <code>pt-BR</code> - Portugese, Brazil </p> </li> <li> <p> <code>zh-CN</code> - Chinese, China </p> </li> <li> <p> <code>zh-TW</code> - Chinese, Taiwan </p> </li> </ul>",
          "location": "querystring",
          "locationName": "locale",
          "shape": "Locale"
        },
        "profilingGroupName": {
          "documentation": "<p> The name of the profiling group to get analysis data about. </p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "startTime": {
          "documentation": "<p> The end time of the profile to get analysis data about. You must specify <code>startTime</code> and <code>endTime</code>. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "startTime",
          "shape": "Timestamp"
        }
      },
      "required": [
        "endTime",
        "profilingGroupName",
        "startTime"
      ],
      "type": "structure"
    },
    "GetRecommendationsResponse": {
      "documentation": "<p>The structure representing the GetRecommendationsResponse.</p>",
      "members": {
        "anomalies": {
          "documentation": "<p> The list of anomalies that the analysis has found for this profile. </p>",
          "shape": "Anomalies"
        },
        "profileEndTime": {
          "documentation": "<p> The end time of the profile the analysis data is about. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "profileStartTime": {
          "documentation": "<p> The start time of the profile the analysis data is about. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group the analysis data is about.</p>",
          "shape": "ProfilingGroupName"
        },
        "recommendations": {
          "documentation": "<p>The list of recommendations that the analysis found for this profile.</p>",
          "shape": "Recommendations"
        }
      },
      "required": [
        "anomalies",
        "profileEndTime",
        "profileStartTime",
        "profilingGroupName",
        "recommendations"
      ],
      "type": "structure"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>The server encountered an internal error and is unable to complete the request.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "ListFindingsReportsRequest": {
      "documentation": "<p>The structure representing the ListFindingsReportsRequest.</p>",
      "members": {
        "dailyReportsOnly": {
          "documentation": "<p>A <code>Boolean</code> value indicating whether to only return reports from daily profiles. If set to <code>True</code>, only analysis data from daily profiles is returned. If set to <code>False</code>, analysis data is returned from smaller time windows (for example, one hour).</p>",
          "location": "querystring",
          "locationName": "dailyReportsOnly",
          "shape": "Boolean"
        },
        "endTime": {
          "documentation": "<p> The end time of the profile to get analysis data about. You must specify <code>startTime</code> and <code>endTime</code>. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "endTime",
          "shape": "Timestamp"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of report results returned by <code>ListFindingsReports</code> in paginated output. When this parameter is used, <code>ListFindingsReports</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListFindingsReports</code> request with the returned <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListFindingsReportsRequest</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group from which to search for analysis data.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "startTime": {
          "documentation": "<p> The start time of the profile to get analysis data about. You must specify <code>startTime</code> and <code>endTime</code>. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "location": "querystring",
          "locationName": "startTime",
          "shape": "Timestamp"
        }
      },
      "required": [
        "endTime",
        "profilingGroupName",
        "startTime"
      ],
      "type": "structure"
    },
    "ListFindingsReportsResponse": {
      "documentation": "<p>The structure representing the ListFindingsReportsResponse.</p>",
      "members": {
        "findingsReportSummaries": {
          "documentation": "<p>The list of analysis results summaries.</p>",
          "shape": "FindingsReportSummaries"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListFindingsReports</code> request. When the results of a <code>ListFindingsReports</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "findingsReportSummaries"
      ],
      "type": "structure"
    },
    "ListOfTimestamps": {
      "member": {
        "shape": "TimestampStructure"
      },
      "type": "list"
    },
    "ListProfileTimesRequest": {
      "documentation": "<p>The structure representing the listProfileTimesRequest.</p>",
      "members": {
        "endTime": {
          "documentation": "<p>The end time of the time range from which to list the profiles.</p>",
          "location": "querystring",
          "locationName": "endTime",
          "shape": "Timestamp"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of profile time results returned by <code>ListProfileTimes</code> in paginated output. When this parameter is used, <code>ListProfileTimes</code> only returns <code>maxResults</code> results in a single page with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListProfileTimes</code> request with the returned <code>nextToken</code> value. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListProfileTimes</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "orderBy": {
          "documentation": "<p>The order (ascending or descending by start time of the profile) to use when listing profiles. Defaults to <code>TIMESTAMP_DESCENDING</code>. </p>",
          "location": "querystring",
          "locationName": "orderBy",
          "shape": "OrderBy"
        },
        "period": {
          "documentation": "<p> The aggregation period. This specifies the period during which an aggregation profile collects posted agent profiles for a profiling group. There are 3 valid values. </p> <ul> <li> <p> <code>P1D</code> \u2014 1 day </p> </li> <li> <p> <code>PT1H</code> \u2014 1 hour </p> </li> <li> <p> <code>PT5M</code> \u2014 5 minutes </p> </li> </ul>",
          "location": "querystring",
          "locationName": "period",
          "shape": "AggregationPeriod"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "startTime": {
          "documentation": "<p>The start time of the time range from which to list the profiles.</p>",
          "location": "querystring",
          "locationName": "startTime",
          "shape": "Timestamp"
        }
      },
      "required": [
        "endTime",
        "period",
        "profilingGroupName",
        "startTime"
      ],
      "type": "structure"
    },
    "ListProfileTimesResponse": {
      "documentation": "<p>The structure representing the listProfileTimesResponse.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListProfileTimes</code> request. When the results of a <code>ListProfileTimes</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. </p>",
          "shape": "PaginationToken"
        },
        "profileTimes": {
          "documentation": "<p>The list of start times of the available profiles for the aggregation period in the specified time range. </p>",
          "shape": "ProfileTimes"
        }
      },
      "required": [
        "profileTimes"
      ],
      "type": "structure"
    },
    "ListProfilingGroupsRequest": {
      "documentation": "<p>The structure representing the listProfilingGroupsRequest.</p>",
      "members": {
        "includeDescription": {
          "documentation": "<p>A <code>Boolean</code> value indicating whether to include a description. If <code>true</code>, then a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects that contain detailed information about profiling groups is returned. If <code>false</code>, then a list of profiling group names is returned.</p>",
          "location": "querystring",
          "locationName": "includeDescription",
          "shape": "Boolean"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of profiling groups results returned by <code>ListProfilingGroups</code> in paginated output. When this parameter is used, <code>ListProfilingGroups</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListProfilingGroups</code> request with the returned <code>nextToken</code> value. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListProfilingGroups</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListProfilingGroupsResponse": {
      "documentation": "<p>The structure representing the listProfilingGroupsResponse.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListProfilingGroups</code> request. When the results of a <code>ListProfilingGroups</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. </p>",
          "shape": "PaginationToken"
        },
        "profilingGroupNames": {
          "documentation": "<p> A returned list of profiling group names. A list of the names is returned only if <code>includeDescription</code> is <code>false</code>, otherwise a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects is returned. </p>",
          "shape": "ProfilingGroupNames"
        },
        "profilingGroups": {
          "documentation": "<p> A returned list <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects. A list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\"> <code>ProfilingGroupDescription</code> </a> objects is returned only if <code>includeDescription</code> is <code>true</code>, otherwise a list of profiling group names is returned. </p>",
          "shape": "ProfilingGroupDescriptions"
        }
      },
      "required": [
        "profilingGroupNames"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the resource that contains the tags to return. </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ProfilingGroupArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p> The list of tags assigned to the specified resource. This is the list of tags returned in the response. </p>",
          "shape": "TagsMap"
        }
      },
      "type": "structure"
    },
    "Locale": {
      "documentation": "<p>BCP47 language code. Supported locales: de-DE, en-GB, en-US, es-ES, fr-FR, it-IT, ja-JP, ko-KR, pt-BR, zh-CN, zh-TW</p>",
      "type": "string"
    },
    "Match": {
      "documentation": "<p>The part of a profile that contains a recommendation found during analysis.</p>",
      "members": {
        "frameAddress": {
          "documentation": "<p>The location in the profiling graph that contains a recommendation found during analysis.</p>",
          "shape": "String"
        },
        "targetFramesIndex": {
          "documentation": "<p>The target frame that triggered a match.</p>",
          "shape": "Integer"
        },
        "thresholdBreachValue": {
          "documentation": "<p>The value in the profile data that exceeded the recommendation threshold.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "Matches": {
      "member": {
        "shape": "Match"
      },
      "type": "list"
    },
    "MaxDepth": {
      "box": true,
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "MaxResults": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "Metadata": {
      "key": {
        "shape": "MetadataField"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "MetadataField": {
      "enum": [
        "ComputePlatform",
        "AgentId",
        "AwsRequestId",
        "ExecutionEnvironment",
        "LambdaFunctionArn",
        "LambdaMemoryLimitInMB",
        "LambdaRemainingTimeInMilliseconds",
        "LambdaTimeGapBetweenInvokesInMilliseconds",
        "LambdaPreviousExecutionTimeInMilliseconds"
      ],
      "type": "string"
    },
    "Metric": {
      "documentation": "<p> Details about the metric that the analysis used when it detected the anomaly. The metric what is analyzed to create recommendations. It includes the name of the frame that was analyzed and the type and thread states used to derive the metric value for that frame. </p>",
      "members": {
        "frameName": {
          "documentation": "<p> The name of the method that appears as a frame in any stack in a profile. </p>",
          "shape": "String"
        },
        "threadStates": {
          "documentation": "<p> The list of application runtime thread states that is used to calculate the metric value for the frame. </p>",
          "shape": "Strings"
        },
        "type": {
          "documentation": "<p> A type that specifies how a metric for a frame is analyzed. The supported value <code>AggregatedRelativeTotalTime</code> is an aggregation of the metric value for one frame that is calculated across the occurences of all frames in a profile.</p>",
          "shape": "MetricType"
        }
      },
      "required": [
        "frameName",
        "threadStates",
        "type"
      ],
      "type": "structure"
    },
    "MetricType": {
      "enum": [
        "AggregatedRelativeTotalTime"
      ],
      "type": "string"
    },
    "NotificationConfiguration": {
      "documentation": "<p>The configuration for notifications stored for each profiling group. This includes up to to two channels and a list of event publishers associated with each channel.</p>",
      "members": {
        "channels": {
          "documentation": "<p>List of up to two channels to be used for sending notifications for events detected from the application profile.</p>",
          "shape": "Channels"
        }
      },
      "type": "structure"
    },
    "OrderBy": {
      "enum": [
        "TimestampDescending",
        "TimestampAscending"
      ],
      "type": "string"
    },
    "PaginationToken": {
      "max": 64,
      "min": 1,
      "pattern": "^[\\w-]+$",
      "type": "string"
    },
    "Pattern": {
      "documentation": "<p> A set of rules used to make a recommendation during an analysis. </p>",
      "members": {
        "countersToAggregate": {
          "documentation": "<p> A list of the different counters used to determine if there is a match. </p>",
          "shape": "Strings"
        },
        "description": {
          "documentation": "<p>The description of the recommendation. This explains a potential inefficiency in a profiled application.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The universally unique identifier (UUID) of this pattern.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name for this pattern.</p>",
          "shape": "String"
        },
        "resolutionSteps": {
          "documentation": "<p> A string that contains the steps recommended to address the potential inefficiency. </p>",
          "shape": "String"
        },
        "targetFrames": {
          "documentation": "<p>A list of frame names that were searched during the analysis that generated a recommendation.</p>",
          "shape": "TargetFrames"
        },
        "thresholdPercent": {
          "documentation": "<p> The percentage of time an application spends in one method that triggers a recommendation. The percentage of time is the same as the percentage of the total gathered sample counts during analysis. </p>",
          "shape": "Percentage"
        }
      },
      "type": "structure"
    },
    "Percentage": {
      "max": 100,
      "min": 0,
      "type": "double"
    },
    "Period": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "PostAgentProfileRequest": {
      "documentation": "<p>The structure representing the postAgentProfileRequest.</p>",
      "members": {
        "agentProfile": {
          "documentation": "<p> The submitted profiling data. </p>",
          "shape": "AgentProfile"
        },
        "contentType": {
          "documentation": "<p> The format of the submitted profiling data. The format maps to the <code>Accept</code> and <code>Content-Type</code> headers of the HTTP request. You can specify one of the following: or the default . </p> <pre><code> &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;application/json&lt;/code&gt; \u2014 standard JSON format &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt;application/x-amzn-ion&lt;/code&gt; \u2014 the Amazon Ion data format. For more information, see &lt;a href=&quot;http://amzn.github.io/ion-docs/&quot;&gt;Amazon Ion&lt;/a&gt;. &lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>",
          "location": "header",
          "locationName": "Content-Type",
          "shape": "String"
        },
        "profileToken": {
          "documentation": "<p> Amazon CodeGuru Profiler uses this universally unique identifier (UUID) to prevent the accidental submission of duplicate profiling data if there are failures and retries. </p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "profileToken",
          "shape": "ClientToken"
        },
        "profilingGroupName": {
          "documentation": "<p> The name of the profiling group with the aggregated profile that receives the submitted profiling data. </p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "payload": "agentProfile",
      "required": [
        "agentProfile",
        "contentType",
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "PostAgentProfileResponse": {
      "documentation": "<p>The structure representing the postAgentProfileResponse.</p>",
      "members": {},
      "type": "structure"
    },
    "Principal": {
      "type": "string"
    },
    "Principals": {
      "max": 50,
      "member": {
        "shape": "Principal"
      },
      "min": 1,
      "type": "list"
    },
    "ProfileTime": {
      "documentation": "<p> Contains the start time of a profile. </p>",
      "members": {
        "start": {
          "documentation": "<p>The start time of a profile. It is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ProfileTimes": {
      "member": {
        "shape": "ProfileTime"
      },
      "type": "list"
    },
    "ProfilingGroupArn": {
      "type": "string"
    },
    "ProfilingGroupDescription": {
      "documentation": "<p> Contains information about a profiling group. </p>",
      "members": {
        "agentOrchestrationConfig": {
          "documentation": "<p> An <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AgentOrchestrationConfig.html\"> <code>AgentOrchestrationConfig</code> </a> object that indicates if the profiling group is enabled for profiled or not. </p>",
          "shape": "AgentOrchestrationConfig"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) identifying the profiling group resource.</p>",
          "shape": "ProfilingGroupArn"
        },
        "computePlatform": {
          "documentation": "<p> The compute platform of the profiling group. If it is set to <code>AWSLambda</code>, then the profiled application runs on AWS Lambda. If it is set to <code>Default</code>, then the profiled application runs on a compute platform that is not AWS Lambda, such an Amazon EC2 instance, an on-premises server, or a different platform. The default is <code>Default</code>. </p>",
          "shape": "ComputePlatform"
        },
        "createdAt": {
          "documentation": "<p>The time when the profiling group was created. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the profiling group.</p>",
          "shape": "ProfilingGroupName"
        },
        "profilingStatus": {
          "documentation": "<p> A <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingStatus.html\"> <code>ProfilingStatus</code> </a> object that includes information about the last time a profile agent pinged back, the last time a profile was received, and the aggregation period and start time for the most recent aggregated profile. </p>",
          "shape": "ProfilingStatus"
        },
        "tags": {
          "documentation": "<p> A list of the tags that belong to this profiling group. </p>",
          "shape": "TagsMap"
        },
        "updatedAt": {
          "documentation": "<p> The date and time when the profiling group was last updated. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ProfilingGroupDescriptions": {
      "member": {
        "shape": "ProfilingGroupDescription"
      },
      "type": "list"
    },
    "ProfilingGroupName": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\w-]+$",
      "type": "string"
    },
    "ProfilingGroupNames": {
      "member": {
        "shape": "ProfilingGroupName"
      },
      "type": "list"
    },
    "ProfilingStatus": {
      "documentation": "<p> Profiling status includes information about the last time a profile agent pinged back, the last time a profile was received, and the aggregation period and start time for the most recent aggregated profile. </p>",
      "members": {
        "latestAgentOrchestratedAt": {
          "documentation": "<p>The date and time when the profiling agent most recently pinged back. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        },
        "latestAgentProfileReportedAt": {
          "documentation": "<p>The date and time when the most recent profile was received. Specify using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        },
        "latestAggregatedProfile": {
          "documentation": "<p> An <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AggregatedProfileTime.html\"> <code>AggregatedProfileTime</code> </a> object that contains the aggregation period and start time for an aggregated profile. </p>",
          "shape": "AggregatedProfileTime"
        }
      },
      "type": "structure"
    },
    "PutPermissionRequest": {
      "documentation": "<p>The structure representing the <code>putPermissionRequest</code>.</p>",
      "members": {
        "actionGroup": {
          "documentation": "<p> Specifies an action group that contains permissions to add to a profiling group resource. One action group is supported, <code>agentPermissions</code>, which grants permission to perform actions required by the profiling agent, <code>ConfigureAgent</code> and <code>PostAgentProfile</code> permissions. </p>",
          "location": "uri",
          "locationName": "actionGroup",
          "shape": "ActionGroup"
        },
        "principals": {
          "documentation": "<p> A list ARNs for the roles and users you want to grant access to the profiling group. Wildcards are not are supported in the ARNs. </p>",
          "shape": "Principals"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group to grant access to.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "revisionId": {
          "documentation": "<p> A universally unique identifier (UUID) for the revision of the policy you are adding to the profiling group. Do not specify this when you add permissions to a profiling group for the first time. If a policy already exists on the profiling group, you must specify the <code>revisionId</code>. </p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "actionGroup",
        "principals",
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "PutPermissionResponse": {
      "documentation": "<p>The structure representing the <code>putPermissionResponse</code>.</p>",
      "members": {
        "policy": {
          "documentation": "<p> The JSON-formatted resource-based policy on the profiling group that includes the added permissions. </p>",
          "shape": "String"
        },
        "revisionId": {
          "documentation": "<p> A universally unique identifier (UUID) for the revision of the resource-based policy that includes the added permissions. The JSON-formatted policy is in the <code>policy</code> element of the response. </p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "policy",
        "revisionId"
      ],
      "type": "structure"
    },
    "Recommendation": {
      "documentation": "<p>A potential improvement that was found from analyzing the profiling data.</p>",
      "members": {
        "allMatchesCount": {
          "documentation": "<p>How many different places in the profile graph triggered a match.</p>",
          "shape": "Integer"
        },
        "allMatchesSum": {
          "documentation": "<p>How much of the total sample count is potentially affected.</p>",
          "shape": "Double"
        },
        "endTime": {
          "documentation": "<p>End time of the profile that was used by this analysis. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        },
        "pattern": {
          "documentation": "<p>The pattern that analysis recognized in the profile to make this recommendation.</p>",
          "shape": "Pattern"
        },
        "startTime": {
          "documentation": "<p>The start time of the profile that was used by this analysis. This is specified using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>",
          "shape": "Timestamp"
        },
        "topMatches": {
          "documentation": "<p>List of the matches with most impact. </p>",
          "shape": "Matches"
        }
      },
      "required": [
        "allMatchesCount",
        "allMatchesSum",
        "endTime",
        "pattern",
        "startTime",
        "topMatches"
      ],
      "type": "structure"
    },
    "Recommendations": {
      "member": {
        "shape": "Recommendation"
      },
      "type": "list"
    },
    "RemoveNotificationChannelRequest": {
      "documentation": "<p>The structure representing the RemoveNotificationChannelRequest.</p>",
      "members": {
        "channelId": {
          "documentation": "<p>The id of the channel that we want to stop receiving notifications.</p>",
          "location": "uri",
          "locationName": "channelId",
          "shape": "ChannelId"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group we want to change notification configuration for.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        }
      },
      "required": [
        "channelId",
        "profilingGroupName"
      ],
      "type": "structure"
    },
    "RemoveNotificationChannelResponse": {
      "documentation": "<p>The structure representing the RemoveNotificationChannelResponse.</p>",
      "members": {
        "notificationConfiguration": {
          "documentation": "<p>The new notification configuration for this profiling group.</p>",
          "shape": "NotificationConfiguration"
        }
      },
      "type": "structure"
    },
    "RemovePermissionRequest": {
      "documentation": "<p> <pre><code> The structure representing the &lt;code&gt;removePermissionRequest&lt;/code&gt;.&lt;/p&gt; </code></pre>",
      "members": {
        "actionGroup": {
          "documentation": "<p> Specifies an action group that contains the permissions to remove from a profiling group's resource-based policy. One action group is supported, <code>agentPermissions</code>, which grants <code>ConfigureAgent</code> and <code>PostAgentProfile</code> permissions. </p>",
          "location": "uri",
          "locationName": "actionGroup",
          "shape": "ActionGroup"
        },
        "profilingGroupName": {
          "documentation": "<p>The name of the profiling group.</p>",
          "location": "uri",
          "locationName": "profilingGroupName",
          "shape": "ProfilingGroupName"
        },
        "revisionId": {
          "documentation": "<p> A universally unique identifier (UUID) for the revision of the resource-based policy from which you want to remove permissions. </p>",
          "location": "querystring",
          "locationName": "revisionId",
          "shape": "RevisionId"
        }
      },
      "required": [
        "actionGroup",
        "profilingGroupName",
        "revisionId"
      ],
      "type": "structure"
    },
    "RemovePermissionResponse": {
      "documentation": "<p>The structure representing the <code>removePermissionResponse</code>.</p>",
      "members": {
        "policy": {
          "documentation": "<p> The JSON-formatted resource-based policy on the profiling group after the specified permissions were removed. </p>",
          "shape": "String"
        },
        "revisionId": {
          "documentation": "<p> A universally unique identifier (UUID) for the revision of the resource-based policy after the specified permissions were removed. The updated JSON-formatted policy is in the <code>policy</code> element of the response. </p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "policy",
        "revisionId"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
[...]
