{
  "documentation": "<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically\u2014executing queries in parallel\u2014so results are fast, even with large datasets and complex queries. For more information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2017-05-18",
    "endpointPrefix": "athena",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Athena",
    "serviceId": "Athena",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonAthena",
    "uid": "athena-2017-05-18"
  },
  "operations": {
    "BatchGetNamedQuery": {
      "documentation": "<p>Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of query execution IDs.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetNamedQueryInput"
      },
      "name": "BatchGetNamedQuery",
      "output": {
        "shape": "BatchGetNamedQueryOutput"
      }
    },
    "BatchGetPreparedStatement": {
      "documentation": "<p>Returns the details of a single prepared statement or a list of up to 256 prepared statements for the array of prepared statement names that you provide. Requires you to have access to the workgroup to which the prepared statements belong. If a prepared statement cannot be retrieved for the name specified, the statement is listed in <code>UnprocessedPreparedStatementNames</code>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetPreparedStatementInput"
      },
      "name": "BatchGetPreparedStatement",
      "output": {
        "shape": "BatchGetPreparedStatementOutput"
      }
    },
    "BatchGetQueryExecution": {
      "documentation": "<p>Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran. To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details about named queries.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetQueryExecutionInput"
      },
      "name": "BatchGetQueryExecution",
      "output": {
        "shape": "BatchGetQueryExecutionOutput"
      }
    },
    "CreateDataCatalog": {
      "documentation": "<p>Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDataCatalogInput"
      },
      "name": "CreateDataCatalog",
      "output": {
        "shape": "CreateDataCatalogOutput"
      }
    },
    "CreateNamedQuery": {
      "documentation": "<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateNamedQueryInput"
      },
      "name": "CreateNamedQuery",
      "output": {
        "shape": "CreateNamedQueryOutput"
      }
    },
    "CreatePreparedStatement": {
      "documentation": "<p>Creates a prepared statement for use with SQL queries in Athena.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePreparedStatementInput"
      },
      "name": "CreatePreparedStatement",
      "output": {
        "shape": "CreatePreparedStatementOutput"
      }
    },
    "CreateWorkGroup": {
      "documentation": "<p>Creates a workgroup with the specified name.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkGroupInput"
      },
      "name": "CreateWorkGroup",
      "output": {
        "shape": "CreateWorkGroupOutput"
      }
    },
    "DeleteDataCatalog": {
      "documentation": "<p>Deletes a data catalog.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDataCatalogInput"
      },
      "name": "DeleteDataCatalog",
      "output": {
        "shape": "DeleteDataCatalogOutput"
      }
    },
    "DeleteNamedQuery": {
      "documentation": "<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteNamedQueryInput"
      },
      "name": "DeleteNamedQuery",
      "output": {
        "shape": "DeleteNamedQueryOutput"
      }
    },
    "DeletePreparedStatement": {
      "documentation": "<p>Deletes the prepared statement with the specified name from the specified workgroup.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePreparedStatementInput"
      },
      "name": "DeletePreparedStatement",
      "output": {
        "shape": "DeletePreparedStatementOutput"
      }
    },
    "DeleteWorkGroup": {
      "documentation": "<p>Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkGroupInput"
      },
      "name": "DeleteWorkGroup",
      "output": {
        "shape": "DeleteWorkGroupOutput"
      }
    },
    "GetDataCatalog": {
      "documentation": "<p>Returns the specified data catalog.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataCatalogInput"
      },
      "name": "GetDataCatalog",
      "output": {
        "shape": "GetDataCatalogOutput"
      }
    },
    "GetDatabase": {
      "documentation": "<p>Returns a database object for the specified database and data catalog.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "MetadataException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDatabaseInput"
      },
      "name": "GetDatabase",
      "output": {
        "shape": "GetDatabaseOutput"
      }
    },
    "GetNamedQuery": {
      "documentation": "<p>Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNamedQueryInput"
      },
      "name": "GetNamedQuery",
      "output": {
        "shape": "GetNamedQueryOutput"
      }
    },
    "GetPreparedStatement": {
      "documentation": "<p>Retrieves the prepared statement with the specified name from the specified workgroup.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPreparedStatementInput"
      },
      "name": "GetPreparedStatement",
      "output": {
        "shape": "GetPreparedStatementOutput"
      }
    },
    "GetQueryExecution": {
      "documentation": "<p>Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQueryExecutionInput"
      },
      "name": "GetQueryExecution",
      "output": {
        "shape": "GetQueryExecutionOutput"
      }
    },
    "GetQueryResults": {
      "documentation": "<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p> <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p> <important> <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p> </important>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQueryResultsInput"
      },
      "name": "GetQueryResults",
      "output": {
        "shape": "GetQueryResultsOutput"
      }
    },
    "GetQueryRuntimeStatistics": {
      "documentation": "<p>Returns query execution runtime statistics related to a single execution of a query if you have access to the workgroup in which the query ran. The query execution runtime statistics is returned only when <a>QueryExecutionStatus$State</a> is in a SUCCEEDED or FAILED state.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetQueryRuntimeStatisticsInput"
      },
      "name": "GetQueryRuntimeStatistics",
      "output": {
        "shape": "GetQueryRuntimeStatisticsOutput"
      }
    },
    "GetTableMetadata": {
      "documentation": "<p>Returns table metadata for the specified catalog, database, and table.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "MetadataException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableMetadataInput"
      },
      "name": "GetTableMetadata",
      "output": {
        "shape": "GetTableMetadataOutput"
      }
    },
    "GetWorkGroup": {
      "documentation": "<p>Returns information about the workgroup with the specified name.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkGroupInput"
      },
      "name": "GetWorkGroup",
      "output": {
        "shape": "GetWorkGroupOutput"
      }
    },
    "ListDataCatalogs": {
      "documentation": "<p>Lists the data catalogs in the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataCatalogsInput"
      },
      "name": "ListDataCatalogs",
      "output": {
        "shape": "ListDataCatalogsOutput"
      }
    },
    "ListDatabases": {
      "documentation": "<p>Lists the databases in the specified data catalog.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "MetadataException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDatabasesInput"
      },
      "name": "ListDatabases",
      "output": {
        "shape": "ListDatabasesOutput"
      }
    },
    "ListEngineVersions": {
      "documentation": "<p>Returns a list of engine versions that are available to choose from, including the Auto option.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEngineVersionsInput"
      },
      "name": "ListEngineVersions",
      "output": {
        "shape": "ListEngineVersionsOutput"
      }
    },
    "ListNamedQueries": {
      "documentation": "<p>Provides a list of available query IDs only for queries saved in the specified workgroup. Requires that you have access to the specified workgroup. If a workgroup is not specified, lists the saved queries for the primary workgroup.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNamedQueriesInput"
      },
      "name": "ListNamedQueries",
      "output": {
        "shape": "ListNamedQueriesOutput"
      }
    },
    "ListPreparedStatements": {
      "documentation": "<p>Lists the prepared statements in the specified workgroup.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPreparedStatementsInput"
      },
      "name": "ListPreparedStatements",
      "output": {
        "shape": "ListPreparedStatementsOutput"
      }
    },
    "ListQueryExecutions": {
      "documentation": "<p>Provides a list of available query execution IDs for the queries in the specified workgroup. If a workgroup is not specified, returns a list of query execution IDs for the primary workgroup. Requires you to have access to the workgroup in which the queries ran.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListQueryExecutionsInput"
      },
      "name": "ListQueryExecutions",
      "output": {
        "shape": "ListQueryExecutionsOutput"
      }
    },
    "ListTableMetadata": {
      "documentation": "<p>Lists the metadata for the tables in the specified data catalog database.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "MetadataException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTableMetadataInput"
      },
      "name": "ListTableMetadata",
      "output": {
        "shape": "ListTableMetadataOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags associated with an Athena workgroup or data catalog resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListWorkGroups": {
      "documentation": "<p>Lists available workgroups for the account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkGroupsInput"
      },
      "name": "ListWorkGroups",
      "output": {
        "shape": "ListWorkGroupsOutput"
      }
    },
    "StartQueryExecution": {
      "documentation": "<p>Runs the SQL query statements contained in the <code>Query</code>. Requires you to have access to the workgroup in which the query ran. Running queries against an external catalog requires <a>GetDataCatalog</a> permission to the catalog. For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartQueryExecutionInput"
      },
      "name": "StartQueryExecution",
      "output": {
        "shape": "StartQueryExecutionOutput"
      }
    },
    "StopQueryExecution": {
      "documentation": "<p>Stops a query execution. Requires you to have access to the workgroup in which the query ran.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StopQueryExecutionInput"
      },
      "name": "StopQueryExecution",
      "output": {
        "shape": "StopQueryExecutionOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to an Athena resource. A tag is a label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a data catalog or workgroup resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateDataCatalog": {
      "documentation": "<p>Updates the data catalog that has the specified name.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDataCatalogInput"
      },
      "name": "UpdateDataCatalog",
      "output": {
        "shape": "UpdateDataCatalogOutput"
      }
    },
    "UpdateNamedQuery": {
      "documentation": "<p>Updates a <a>NamedQuery</a> object. The database or workgroup cannot be updated.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateNamedQueryInput"
      },
      "name": "UpdateNamedQuery",
      "output": {
        "shape": "UpdateNamedQueryOutput"
      }
    },
    "UpdatePreparedStatement": {
      "documentation": "<p>Updates a prepared statement.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePreparedStatementInput"
      },
      "name": "UpdatePreparedStatement",
      "output": {
        "shape": "UpdatePreparedStatementOutput"
      }
    },
    "UpdateWorkGroup": {
      "documentation": "<p>Updates the workgroup with the specified name. The workgroup's name cannot be changed.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkGroupInput"
      },
      "name": "UpdateWorkGroup",
      "output": {
        "shape": "UpdateWorkGroupOutput"
      }
    }
  },
  "shapes": {
    "AclConfiguration": {
      "documentation": "<p>Indicates that an Amazon S3 canned ACL should be set to control ownership of stored query results. When Athena stores query results in Amazon S3, the canned ACL is set with the <code>x-amz-acl</code> request header. For more information about S3 Object Ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html#object-ownership-overview\">Object Ownership settings</a> in the <i>Amazon S3 User Guide</i>.</p>",
      "members": {
        "S3AclOption": {
          "documentation": "<p>The Amazon S3 canned ACL that Athena should specify when storing query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.</p>",
          "shape": "S3AclOption"
        }
      },
      "required": [
        "S3AclOption"
      ],
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AthenaError": {
      "documentation": "<p>Provides information about an Athena query error. The <code>AthenaError</code> feature provides standardized error information to help you understand failed queries and take steps after a query failure occurs. <code>AthenaError</code> includes an <code>ErrorCategory</code> field that specifies whether the cause of the failed query is due to system error, user error, or other error.</p>",
      "members": {
        "ErrorCategory": {
          "documentation": "<p>An integer value that specifies the category of a query failure error. The following list shows the category for each integer value.</p> <p> <b>1</b> - System</p> <p> <b>2</b> - User</p> <p> <b>3</b> - Other</p>",
          "shape": "ErrorCategory"
        },
        "ErrorMessage": {
          "documentation": "<p>Contains a short description of the error that occurred.</p>",
          "shape": "String"
        },
        "ErrorType": {
          "documentation": "<p>An integer value that provides specific information about an Athena query error. For the meaning of specific values, see the <a href=\"https://docs.aws.amazon.com/athena/latest/ug/error-reference.html#error-reference-error-type-reference\">Error Type Reference</a> in the <i>Amazon Athena User Guide</i>.</p>",
          "shape": "ErrorType"
        },
        "Retryable": {
          "documentation": "<p>True if the query might succeed if resubmitted.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AwsAccountId": {
      "max": 12,
      "min": 12,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "BatchGetNamedQueryInput": {
      "documentation": "<p>Contains an array of named query IDs.</p>",
      "members": {
        "NamedQueryIds": {
          "documentation": "<p>An array of query IDs.</p>",
          "shape": "NamedQueryIdList"
        }
      },
      "required": [
        "NamedQueryIds"
      ],
      "type": "structure"
    },
    "BatchGetNamedQueryOutput": {
      "members": {
        "NamedQueries": {
          "documentation": "<p>Information about the named query IDs submitted.</p>",
          "shape": "NamedQueryList"
        },
        "UnprocessedNamedQueryIds": {
          "documentation": "<p>Information about provided query IDs.</p>",
          "shape": "UnprocessedNamedQueryIdList"
        }
      },
      "type": "structure"
    },
    "BatchGetPreparedStatementInput": {
      "members": {
        "PreparedStatementNames": {
          "documentation": "<p>A list of prepared statement names to return.</p>",
          "shape": "PreparedStatementNameList"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup to which the prepared statements belong.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "PreparedStatementNames",
        "WorkGroup"
      ],
      "type": "structure"
    },
    "BatchGetPreparedStatementOutput": {
      "members": {
        "PreparedStatements": {
          "documentation": "<p>The list of prepared statements returned.</p>",
          "shape": "PreparedStatementDetailsList"
        },
        "UnprocessedPreparedStatementNames": {
          "documentation": "<p>A list of one or more prepared statements that were requested but could not be returned.</p>",
          "shape": "UnprocessedPreparedStatementNameList"
        }
      },
      "type": "structure"
    },
    "BatchGetQueryExecutionInput": {
      "documentation": "<p>Contains an array of query execution IDs.</p>",
      "members": {
        "QueryExecutionIds": {
          "documentation": "<p>An array of query execution IDs.</p>",
          "shape": "QueryExecutionIdList"
        }
      },
      "required": [
        "QueryExecutionIds"
      ],
      "type": "structure"
    },
    "BatchGetQueryExecutionOutput": {
      "members": {
        "QueryExecutions": {
          "documentation": "<p>Information about a query execution.</p>",
          "shape": "QueryExecutionList"
        },
        "UnprocessedQueryExecutionIds": {
          "documentation": "<p>Information about the query executions that failed to run.</p>",
          "shape": "UnprocessedQueryExecutionIdList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxedBoolean": {
      "type": "boolean"
    },
    "BytesScannedCutoffValue": {
      "min": 10000000,
      "type": "long"
    },
    "CatalogNameString": {
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*",
      "type": "string"
    },
    "Column": {
      "documentation": "<p>Contains metadata for a column in a table.</p>",
      "members": {
        "Comment": {
          "documentation": "<p>Optional information about the column.</p>",
          "shape": "CommentString"
        },
        "Name": {
          "documentation": "<p>The name of the column.</p>",
          "shape": "NameString"
        },
        "Type": {
          "documentation": "<p>The data type of the column.</p>",
          "shape": "TypeString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "ColumnInfo": {
      "documentation": "<p>Information about the columns in a query execution result.</p>",
      "members": {
        "CaseSensitive": {
          "documentation": "<p>Indicates whether values in the column are case-sensitive.</p>",
          "shape": "Boolean"
        },
        "CatalogName": {
          "documentation": "<p>The catalog to which the query results belong.</p>",
          "shape": "String"
        },
        "Label": {
          "documentation": "<p>A column label.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the column.</p>",
          "shape": "String"
        },
        "Nullable": {
          "documentation": "<p>Indicates the column's nullable status.</p>",
          "shape": "ColumnNullable"
        },
        "Precision": {
          "documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits, up to 38. For performance reasons, we recommend up to 18 digits.</p>",
          "shape": "Integer"
        },
        "Scale": {
          "documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits in the fractional part of the value. Defaults to 0.</p>",
          "shape": "Integer"
        },
        "SchemaName": {
          "documentation": "<p>The schema name (database name) to which the query results belong.</p>",
          "shape": "String"
        },
        "TableName": {
          "documentation": "<p>The table name for the query results.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The data type of the column.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "ColumnInfoList": {
      "member": {
        "shape": "ColumnInfo"
      },
      "type": "list"
    },
    "ColumnList": {
      "member": {
        "shape": "Column"
      },
      "type": "list"
    },
    "ColumnNullable": {
      "enum": [
        "NOT_NULL",
        "NULLABLE",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "CommentString": {
      "max": 255,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*",
      "type": "string"
    },
    "CreateDataCatalogInput": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the data catalog to be created.</p>",
          "shape": "DescriptionString"
        },
        "Name": {
          "documentation": "<p>The name of the data catalog to create. The catalog name must be unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p>",
          "shape": "CatalogNameString"
        },
        "Parameters": {
          "documentation": "<p>Specifies the Lambda function or functions to use for creating the data catalog. This is a mapping whose values depend on the catalog type. </p> <ul> <li> <p>For the <code>HIVE</code> data catalog type, use the following syntax. The <code>metadata-function</code> parameter is required. <code>The sdk-version</code> parameter is optional and defaults to the currently supported version.</p> <p> <code>metadata-function=<i>lambda_arn</i>, sdk-version=<i>version_number</i> </code> </p> </li> <li> <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets of required parameters, but not both.</p> <ul> <li> <p>If you have one Lambda function that processes metadata and another for reading the actual data, use the following syntax. Both parameters are required.</p> <p> <code>metadata-function=<i>lambda_arn</i>, record-function=<i>lambda_arn</i> </code> </p> </li> <li> <p> If you have a composite Lambda function that processes both metadata and data, use the following syntax to specify your Lambda function.</p> <p> <code>function=<i>lambda_arn</i> </code> </p> </li> </ul> </li> <li> <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The <code> <i>catalog_id</i> </code> is the account ID of the Amazon Web Services account to which the Glue Data Catalog belongs.</p> <p> <code>catalog-id=<i>catalog_id</i> </code> </p> <ul> <li> <p>The <code>GLUE</code> data catalog type also applies to the default <code>AwsDataCatalog</code> that already exists in your account, of which you can have only one and cannot modify.</p> </li> <li> <p>Queries that specify a Glue Data Catalog other than the default <code>AwsDataCatalog</code> must be run on Athena engine version 2.</p> </li> <li> <p>In Regions where Athena engine version 2 is not available, creating new Glue data catalogs results in an <code>INVALID_INPUT</code> error.</p> </li> </ul> </li> </ul>",
          "shape": "ParametersMap"
        },
        "Tags": {
          "documentation": "<p>A list of comma separated tags to add to the data catalog that is created.</p>",
          "shape": "TagList"
        },
        "Type": {
          "documentation": "<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an Glue Data Catalog.</p>",
          "shape": "DataCatalogType"
        }
      },
      "required": [
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "CreateDataCatalogOutput": {
      "members": {},
      "type": "structure"
    },
    "CreateNamedQueryInput": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique case-sensitive string used to ensure the request to create the query is idempotent (executes only once). If another <code>CreateNamedQuery</code> request is received, the same response is returned and another query is not created. If a parameter has changed, for example, the <code>QueryString</code>, an error is returned.</p> <important> <p>This token is listed as not required because Amazon Web Services SDKs (for example the Amazon Web Services SDK for Java) auto-generate the token for users. If you are not using the Amazon Web Services SDK or the Amazon Web Services CLI, you must provide this token or the action will fail.</p> </important>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Database": {
          "documentation": "<p>The database to which the query belongs.</p>",
          "shape": "DatabaseString"
        },
        "Description": {
          "documentation": "<p>The query description.</p>",
          "shape": "DescriptionString"
        },
        "Name": {
          "documentation": "<p>The query name.</p>",
          "shape": "NameString"
        },
        "QueryString": {
          "documentation": "<p>The contents of the query with all query statements.</p>",
          "shape": "QueryString"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup in which the named query is being created.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "Name",
        "Database",
        "QueryString"
      ],
      "type": "structure"
    },
    "CreateNamedQueryOutput": {
      "members": {
        "NamedQueryId": {
          "documentation": "<p>The unique ID of the query.</p>",
          "shape": "NamedQueryId"
        }
      },
      "type": "structure"
    },
    "CreatePreparedStatementInput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the prepared statement.</p>",
          "shape": "DescriptionString"
        },
        "QueryStatement": {
          "documentation": "<p>The query string for the prepared statement.</p>",
          "shape": "QueryString"
        },
        "StatementName": {
          "documentation": "<p>The name of the prepared statement.</p>",
          "shape": "StatementName"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup to which the prepared statement belongs.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "StatementName",
        "WorkGroup",
        "QueryStatement"
      ],
      "type": "structure"
    },
    "CreatePreparedStatementOutput": {
      "members": {},
      "type": "structure"
    },
    "CreateWorkGroupInput": {
      "members": {
        "Configuration": {
          "documentation": "<p>The configuration for the workgroup, which includes the location in Amazon S3 where query results are stored, the encryption configuration, if any, used for encrypting query results, whether the Amazon CloudWatch Metrics are enabled for the workgroup, the limit for the amount of bytes scanned (cutoff) per query, if it is specified, and whether workgroup's settings (specified with <code>EnforceWorkGroupConfiguration</code>) in the <code>WorkGroupConfiguration</code> override client-side settings. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>",
          "shape": "WorkGroupConfiguration"
        },
        "Description": {
          "documentation": "<p>The workgroup description.</p>",
          "shape": "WorkGroupDescriptionString"
        },
        "Name": {
          "documentation": "<p>The workgroup name.</p>",
          "shape": "WorkGroupName"
        },
        "Tags": {
          "documentation": "<p>A list of comma separated tags to add to the workgroup that is created.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateWorkGroupOutput": {
      "members": {},
      "type": "structure"
    },
    "DataCatalog": {
      "documentation": "<p>Contains information about a data catalog in an Amazon Web Services account.</p>",
      "members": {
        "Description": {
          "documentation": "<p>An optional description of the data catalog.</p>",
          "shape": "DescriptionString"
        },
        "Name": {
          "documentation": "<p>The name of the data catalog. The catalog name must be unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p>",
          "shape": "CatalogNameString"
        },
        "Parameters": {
          "documentation": "<p>Specifies the Lambda function or functions to use for the data catalog. This is a mapping whose values depend on the catalog type. </p> <ul> <li> <p>For the <code>HIVE</code> data catalog type, use the following syntax. The <code>metadata-function</code> parameter is required. <code>The sdk-version</code> parameter is optional and defaults to the currently supported version.</p> <p> <code>metadata-function=<i>lambda_arn</i>, sdk-version=<i>version_number</i> </code> </p> </li> <li> <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets of required parameters, but not both.</p> <ul> <li> <p>If you have one Lambda function that processes metadata and another for reading the actual data, use the following syntax. Both parameters are required.</p> <p> <code>metadata-function=<i>lambda_arn</i>, record-function=<i>lambda_arn</i> </code> </p> </li> <li> <p> If you have a composite Lambda function that processes both metadata and data, use the following syntax to specify your Lambda function.</p> <p> <code>function=<i>lambda_arn</i> </code> </p> </li> </ul> </li> <li> <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The <code> <i>catalog_id</i> </code> is the account ID of the Amazon Web Services account to which the Glue catalog belongs.</p> <p> <code>catalog-id=<i>catalog_id</i> </code> </p> <ul> <li> <p>The <code>GLUE</code> data catalog type also applies to the default <code>AwsDataCatalog</code> that already exists in your account, of which you can have only one and cannot modify.</p> </li> <li> <p>Queries that specify a Glue Data Catalog other than the default <code>AwsDataCatalog</code> must be run on Athena engine version 2.</p> </li> </ul> </li> </ul>",
          "shape": "ParametersMap"
        },
        "Type": {
          "documentation": "<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an Glue Data Catalog.</p>",
          "shape": "DataCatalogType"
        }
      },
      "required": [
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "DataCatalogSummary": {
      "documentation": "<p>The summary information for the data catalog, which includes its name and type.</p>",
      "members": {
        "CatalogName": {
          "documentation": "<p>The name of the data catalog. The catalog name is unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p>",
          "shape": "CatalogNameString"
        },
        "Type": {
          "documentation": "<p>The data catalog type.</p>",
          "shape": "DataCatalogType"
        }
      },
      "type": "structure"
    },
    "DataCatalogSummaryList": {
      "member": {
        "shape": "DataCatalogSummary"
      },
      "type": "list"
    },
    "DataCatalogType": {
      "enum": [
        "LAMBDA",
        "GLUE",
        "HIVE"
      ],
      "type": "string"
    },
    "Database": {
      "documentation": "<p>Contains metadata information for a database in a data catalog.</p>",
      "members": {
        "Description": {
          "documentation": "<p>An optional description of the database.</p>",
          "shape": "DescriptionString"
        },
        "Name": {
          "documentation": "<p>The name of the database.</p>",
          "shape": "NameString"
        },
        "Parameters": {
          "documentation": "<p>A set of custom key/value pairs.</p>",
          "shape": "ParametersMap"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DatabaseList": {
      "member": {
        "shape": "Database"
      },
      "type": "list"
    },
    "DatabaseString": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Date": {
      "type": "timestamp"
    },
    "Datum": {
      "documentation": "<p>A piece of data (a field in the table).</p>",
      "members": {
        "VarCharValue": {
          "documentation": "<p>The value of the datum.</p>",
          "shape": "datumString"
        }
      },
      "type": "structure"
    },
    "DeleteDataCatalogInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the data catalog to delete.</p>",
          "shape": "CatalogNameString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteDataCatalogOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteNamedQueryInput": {
      "members": {
        "NamedQueryId": {
          "documentation": "<p>The unique ID of the query to delete.</p>",
          "idempotencyToken": true,
          "shape": "NamedQueryId"
        }
      },
      "required": [
        "NamedQueryId"
      ],
      "type": "structure"
    },
    "DeleteNamedQueryOutput": {
      "members": {},
      "type": "structure"
    },
    "DeletePreparedStatementInput": {
      "members": {
        "StatementName": {
          "documentation": "<p>The name of the prepared statement to delete.</p>",
          "shape": "StatementName"
        },
        "WorkGroup": {
          "documentation": "<p>The workgroup to which the statement to be deleted belongs.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "StatementName",
        "WorkGroup"
      ],
      "type": "structure"
    },
    "DeletePreparedStatementOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteWorkGroupInput": {
      "members": {
        "RecursiveDeleteOption": {
          "documentation": "<p>The option to delete the workgroup and its contents even if the workgroup contains any named queries or query executions.</p>",
          "shape": "BoxedBoolean"
        },
        "WorkGroup": {
          "documentation": "<p>The unique name of the workgroup to delete.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "WorkGroup"
      ],
      "type": "structure"
    },
    "DeleteWorkGroupOutput": {
      "members": {},
      "type": "structure"
    },
    "DescriptionString": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "EncryptionConfiguration": {
      "documentation": "<p>If query results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.</p>",
      "members": {
        "EncryptionOption": {
          "documentation": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
          "shape": "EncryptionOption"
        },
        "KmsKey": {
          "documentation": "<p>For <code>SSE_KMS</code> and <code>CSE_KMS</code>, this is the KMS key ARN or ID.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EncryptionOption"
      ],
      "type": "structure"
    },
    "EncryptionOption": {
      "enum": [
        "SSE_S3",
        "SSE_KMS",
        "CSE_KMS"
      ],
      "type": "string"
    },
    "EngineVersion": {
      "documentation": "<p>The Athena engine version for running queries.</p>",
      "members": {
        "EffectiveEngineVersion": {
          "documentation": "<p>Read only. The engine version on which the query runs. If the user requests a valid engine version other than Auto, the effective engine version is the same as the engine version that the user requested. If the user requests Auto, the effective engine version is chosen by Athena. When a request to update the engine version is made by a <code>CreateWorkGroup</code> or <code>UpdateWorkGroup</code> operation, the <code>EffectiveEngineVersion</code> field is ignored.</p>",
          "shape": "NameString"
        },
        "SelectedEngineVersion": {
          "documentation": "<p>The engine version requested by the user. Possible values are determined by the output of <code>ListEngineVersions</code>, including Auto. The default is Auto.</p>",
          "shape": "NameString"
        }
      },
      "type": "structure"
    },
    "EngineVersionsList": {
      "max": 10,
      "member": {
        "shape": "EngineVersion"
      },
      "min": 0,
      "type": "list"
    },
    "ErrorCategory": {
      "box": true,
      "max": 3,
      "min": 1,
      "type": "integer"
    },
    "ErrorCode": {
      "documentation": "<p>The error code returned when the query execution failed to process, or when the processing request for the named query failed.</p>",
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorType": {
      "box": true,
      "max": 9999,
      "min": 0,
      "type": "integer"
    },
    "ExecutionParameter": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "ExecutionParameters": {
      "member": {
        "shape": "ExecutionParameter"
      },
      "min": 1,
      "type": "list"
    },
    "ExpressionString": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "GetDataCatalogInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the data catalog to return.</p>",
          "shape": "CatalogNameString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetDataCatalogOutput": {
      "members": {
        "DataCatalog": {
          "documentation": "<p>The data catalog returned.</p>",
          "shape": "DataCatalog"
        }
      },
      "type": "structure"
    },
    "GetDatabaseInput": {
      "members": {
        "CatalogName": {
          "documentation": "<p>The name of the data catalog that contains the database to return.</p>",
          "shape": "CatalogNameString"
        },
        "DatabaseName": {
          "documentation": "<p>The name of the database to return.</p>",
          "shape": "NameString"
        }
      },
      "required": [
        "CatalogName",
        "DatabaseName"
      ],
      "type": "structure"
    },
    "GetDatabaseOutput": {
      "members": {
        "Database": {
          "documentation": "<p>The database returned.</p>",
          "shape": "Database"
        }
      },
      "type": "structure"
    },
    "GetNamedQueryInput": {
      "members": {
        "NamedQueryId": {
          "documentation": "<p>The unique ID of the query. Use <a>ListNamedQueries</a> to get query IDs.</p>",
          "shape": "NamedQueryId"
        }
      },
      "required": [
        "NamedQueryId"
      ],
      "type": "structure"
    },
    "GetNamedQueryOutput": {
      "members": {
        "NamedQuery": {
          "documentation": "<p>Information about the query.</p>",
          "shape": "NamedQuery"
        }
      },
      "type": "structure"
    },
    "GetPreparedStatementInput": {
      "members": {
        "StatementName": {
          "documentation": "<p>The name of the prepared statement to retrieve.</p>",
          "shape": "StatementName"
        },
        "WorkGroup": {
          "documentation": "<p>The workgroup to which the statement to be retrieved belongs.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "StatementName",
        "WorkGroup"
      ],
      "type": "structure"
    },
    "GetPreparedStatementOutput": {
      "members": {
        "PreparedStatement": {
          "documentation": "<p>The name of the prepared statement that was retrieved.</p>",
          "shape": "PreparedStatement"
        }
      },
      "type": "structure"
    },
    "GetQueryExecutionInput": {
      "members": {
        "QueryExecutionId": {
          "documentation": "<p>The unique ID of the query execution.</p>",
          "shape": "QueryExecutionId"
        }
      },
      "required": [
        "QueryExecutionId"
      ],
      "type": "structure"
    },
    "GetQueryExecutionOutput": {
      "members": {
        "QueryExecution": {
          "documentation": "<p>Information about the query execution.</p>",
          "shape": "QueryExecution"
        }
      },
      "type": "structure"
    },
    "GetQueryResultsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results (rows) to return in this request.</p>",
          "shape": "MaxQueryResults"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "QueryExecutionId": {
          "documentation": "<p>The unique ID of the query execution.</p>",
          "shape": "QueryExecutionId"
        }
      },
      "required": [
        "QueryExecutionId"
      ],
      "type": "structure"
    },
    "GetQueryResultsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "ResultSet": {
          "documentation": "<p>The results of the query execution.</p>",
          "shape": "ResultSet"
        },
        "UpdateCount": {
          "documentation": "<p>The number of rows inserted with a <code>CREATE TABLE AS SELECT</code> statement. </p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "GetQueryRuntimeStatisticsInput": {
      "members": {
        "QueryExecutionId": {
          "documentation": "<p>The unique ID of the query execution.</p>",
          "shape": "QueryExecutionId"
        }
      },
      "required": [
        "QueryExecutionId"
      ],
      "type": "structure"
    },
    "GetQueryRuntimeStatisticsOutput": {
      "members": {
        "QueryRuntimeStatistics": {
          "documentation": "<p>Runtime statistics about the query execution.</p>",
          "shape": "QueryRuntimeStatistics"
        }
      },
      "type": "structure"
    },
    "GetTableMetadataInput": {
      "members": {
        "CatalogName": {
          "documentation": "<p>The name of the data catalog that contains the database and table metadata to return.</p>",
          "shape": "CatalogNameString"
        },
        "DatabaseName": {
          "documentation": "<p>The name of the database that contains the table metadata to return.</p>",
          "shape": "NameString"
        },
        "TableName": {
          "documentation": "<p>The name of the table for which metadata is returned.</p>",
          "shape": "NameString"
        }
      },
      "required": [
        "CatalogName",
        "DatabaseName",
        "TableName"
      ],
      "type": "structure"
    },
    "GetTableMetadataOutput": {
      "members": {
        "TableMetadata": {
          "documentation": "<p>An object that contains table metadata.</p>",
          "shape": "TableMetadata"
        }
      },
      "type": "structure"
    },
    "GetWorkGroupInput": {
      "members": {
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "WorkGroup"
      ],
      "type": "structure"
    },
    "GetWorkGroupOutput": {
      "members": {
        "WorkGroup": {
          "documentation": "<p>Information about the workgroup.</p>",
          "shape": "WorkGroup"
        }
      },
      "type": "structure"
    },
    "IdempotencyToken": {
      "max": 128,
      "min": 32,
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Indicates a platform issue, which may be due to a transient condition or outage.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>Indicates that something is wrong with the input to the request. For example, a required parameter may be missing or out of range.</p>",
      "exception": true,
      "members": {
        "AthenaErrorCode": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KeyString": {
      "max": 255,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*",
      "type": "string"
    },
    "ListDataCatalogsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Specifies the maximum number of data catalogs to return.</p>",
          "shape": "MaxDataCatalogsCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListDataCatalogsOutput": {
      "members": {
        "DataCatalogsSummary": {
          "documentation": "<p>A summary list of data catalogs.</p>",
          "shape": "DataCatalogSummaryList"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListDatabasesInput": {
      "members": {
        "CatalogName": {
          "documentation": "<p>The name of the data catalog that contains the databases to return.</p>",
          "shape": "CatalogNameString"
        },
        "MaxResults": {
          "documentation": "<p>Specifies the maximum number of results to return.</p>",
          "shape": "MaxDatabasesCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "CatalogName"
      ],
      "type": "structure"
    },
    "ListDatabasesOutput": {
      "members": {
        "DatabaseList": {
          "documentation": "<p>A list of databases from a data catalog.</p>",
          "shape": "DatabaseList"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListEngineVersionsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of engine versions to return in this request.</p>",
          "shape": "MaxEngineVersionsCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListEngineVersionsOutput": {
      "members": {
        "EngineVersions": {
          "documentation": "<p>A list of engine versions that are available to choose from.</p>",
          "shape": "EngineVersionsList"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListNamedQueriesInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of queries to return in this request.</p>",
          "shape": "MaxNamedQueriesCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup from which the named queries are being returned. If a workgroup is not specified, the saved queries for the primary workgroup are returned.</p>",
          "shape": "WorkGroupName"
        }
      },
      "type": "structure"
    },
    "ListNamedQueriesOutput": {
      "members": {
        "NamedQueryIds": {
          "documentation": "<p>The list of unique query IDs.</p>",
          "shape": "NamedQueryIdList"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPreparedStatementsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p>",
          "shape": "MaxPreparedStatementsCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "WorkGroup": {
          "documentation": "<p>The workgroup to list the prepared statements for.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "WorkGroup"
      ],
      "type": "structure"
    },
    "ListPreparedStatementsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "PreparedStatements": {
          "documentation": "<p>The list of prepared statements for the workgroup.</p>",
          "shape": "PreparedStatementsList"
        }
      },
      "type": "structure"
    },
    "ListQueryExecutionsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of query executions to return in this request.</p>",
          "shape": "MaxQueryExecutionsCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup from which queries are being returned. If a workgroup is not specified, a list of available query execution IDs for the queries in the primary workgroup is returned.</p>",
          "shape": "WorkGroupName"
        }
      },
      "type": "structure"
    },
    "ListQueryExecutionsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token to be used by the next request if this request is truncated.</p>",
          "shape": "Token"
        },
        "QueryExecutionIds": {
          "documentation": "<p>The unique IDs of each query execution as an array of strings.</p>",
          "shape": "QueryExecutionIdList"
        }
      },
      "type": "structure"
    },
    "ListTableMetadataInput": {
      "members": {
        "CatalogName": {
          "documentation": "<p>The name of the data catalog for which table metadata should be returned.</p>",
          "shape": "CatalogNameString"
        },
        "DatabaseName": {
          "documentation": "<p>The name of the database for which table metadata should be returned.</p>",
          "shape": "NameString"
        },
        "Expression": {
          "documentation": "<p>A regex filter that pattern-matches table names. If no expression is supplied, metadata for all tables are listed.</p>",
          "shape": "ExpressionString"
        },
        "MaxResults": {
          "documentation": "<p>Specifies the maximum number of results to return.</p>",
          "shape": "MaxTableMetadataCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "CatalogName",
        "DatabaseName"
      ],
      "type": "structure"
    },
    "ListTableMetadataOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the NextToken from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "TableMetadataList": {
          "documentation": "<p>A list of table metadata.</p>",
          "shape": "TableMetadataList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned per request that lists the tags for the resource.</p>",
          "shape": "MaxTagsCount"
        },
        "NextToken": {
          "documentation": "<p>The token for the next set of results, or null if there are no additional results for this request, where the request lists the tags for the resource with the specified ARN.</p>",
          "shape": "Token"
        },
        "ResourceARN": {
          "documentation": "<p>Lists the tags for the resource with the specified ARN.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token to be used by the next request if this request is truncated.</p>",
          "shape": "Token"
        },
        "Tags": {
          "documentation": "<p>The list of tags associated with the specified resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListWorkGroupsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of workgroups to return in this request.</p>",
          "shape": "MaxWorkGroupsCount"
        },
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListWorkGroupsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token generated by the Athena service that specifies where to continue pagination if a previous request was truncated. To obtain the next set of pages, pass in the <code>NextToken</code> from the response object of the previous page call.</p>",
          "shape": "Token"
        },
        "WorkGroups": {
          "documentation": "<p>A list of <a>WorkGroupSummary</a> objects that include the names, descriptions, creation times, and states for each workgroup.</p>",
          "shape": "WorkGroupsList"
        }
      },
      "type": "structure"
    },
    "Long": {
      "type": "long"
    },
    "MaxDataCatalogsCount": {
      "box": true,
      "max": 50,
      "min": 2,
      "type": "integer"
    },
    "MaxDatabasesCount": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MaxEngineVersionsCount": {
      "box": true,
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "MaxNamedQueriesCount": {
      "box": true,
      "max": 50,
      "min": 0,
      "type": "integer"
    },
    "MaxPreparedStatementsCount": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MaxQueryExecutionsCount": {
      "box": true,
      "max": 50,
      "min": 0,
      "type": "integer"
    },
    "MaxQueryResults": {
      "box": true,
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "MaxTableMetadataCount": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MaxTagsCount": {
      "box": true,
      "min": 75,
      "type": "integer"
    },
    "MaxWorkGroupsCount": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MetadataException": {
      "documentation": "<p>An exception that Athena received when it called a custom metastore. Occurs if the error is not caused by user input (<code>InvalidRequestException</code>) or from the Athena platform (<code>InternalServerException</code>). For example, if a user-created Lambda function is missing permissions, the Lambda <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NameString": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "NamedQuery": {
      "documentation": "<p>A query, where <code>QueryString</code> contains the SQL statements that make up the query.</p>",
      "members": {
        "Database": {
          "documentation": "<p>The database to which the query belongs.</p>",
          "shape": "DatabaseString"
        },
        "Description": {
          "documentation": "<p>The query description.</p>",
          "shape": "DescriptionString"
        },
        "Name": {
          "documentation": "<p>The query name.</p>",
          "shape": "NameString"
        },
        "NamedQueryId": {
          "documentation": "<p>The unique identifier of the query.</p>",
          "shape": "NamedQueryId"
        },
        "QueryString": {
          "documentation": "<p>The SQL statements that make up the query.</p>",
          "shape": "QueryString"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup that contains the named query.</p>",
          "shape": "WorkGroupName"
        }
      },
      "required": [
        "Name",
        "Database",
        "QueryString"
      ],
      "type": "structure"
    },
    "NamedQueryDescriptionString": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "NamedQueryId": {
      "max": 128,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "NamedQueryIdList": {
      "max": 50,
      "member": {
        "shape": "NamedQueryId"
      },
      "min": 1,
      "type": "list"
    },
    "NamedQueryList": {
      "member": {
        "shape": "NamedQuery"
      },
      "type": "list"
    },
    "ParametersMap": {
      "key": {
        "shape": "KeyString"
      },
      "type": "map",
      "value": {
        "shape": "ParametersMapValue"
      }
    },
    "ParametersMapValue": {
      "max": 51200,
      "type": "string"
    },
    "PreparedStatement": {
      "documentation": "<p>A prepared SQL statement for use with Athena.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the prepared statement.</p>",
          "shape": "DescriptionString"
        },
        "LastModifiedTime": {
          "documentation": "<p>The last modified time of the prepared statement.</p>",
          "shape": "Date"
        },
        "QueryStatement": {
          "documentation": "<p>The query string for the prepared statement.</p>",
          "shape": "QueryString"
        },
        "StatementName": {
          "documentation": "<p>The name of the prepared statement.</p>",
          "shape": "StatementName"
        },
        "WorkGroupName": {
          "documentation": "<p>The name of the workgroup to which the prepared statement belongs.</p>",
          "shape": "WorkGroupName"
        }
      },
      "type": "structure"
    },
    "PreparedStatementDetailsList": {
      "member": {
        "shape": "PreparedStatement"
      },
      "type": "list"
    },
    "PreparedStatementNameList": {
      "member": {
        "shape": "StatementName"
      },
      "type": "list"
    },
    "PreparedStatementSummary": {
      "documentation": "<p>The name and last modified time of the prepared statement.</p>",
      "members": {
        "LastModifiedTime": {
          "documentation": "<p>The last modified time of the prepared statement.</p>",
          "shape": "Date"
        },
        "StatementName": {
          "documentation": "<p>The name of the prepared statement.</p>",
          "shape": "StatementName"
        }
      },
      "type": "structure"
    },
    "PreparedStatementsList": {
      "max": 50,
      "member": {
        "shape": "PreparedStatementSummary"
      },
      "min": 0,
      "type": "list"
    },
    "QueryExecution": {
      "documentation": "<p>Information about a single instance of a query execution.</p>",
      "members": {
        "EngineVersion": {
          "documentation": "<p>The engine version that executed the query.</p>",
          "shape": "EngineVersion"
        },
        "ExecutionParameters": {
          "documentation": "<p>A list of values for the parameters in a query. The values are applied sequentially to the parameters in the query in the order in which the parameters occur.</p>",
          "shape": "ExecutionParameters"
        },
        "Query": {
          "documentation": "<p>The SQL query statements which the query execution ran.</p>",
          "shape": "QueryString"
        },
        "QueryExecutionContext": {
          "documentation": "<p>The database in which the query execution occurred.</p>",
          "shape": "QueryExecutionContext"
        },
        "QueryExecutionId": {
          "documentation": "<p>The unique identifier for each query execution.</p>",
          "shape": "QueryExecutionId"
        },
        "ResultConfiguration": {
          "documentation": "<p>The location in Amazon S3 where query results were stored and the encryption option, if any, used for query results. These are known as \"client-side settings\". If workgroup settings override client-side settings, then the query uses the location for the query results and the encryption configuration that are specified for the workgroup.</p>",
          "shape": "ResultConfiguration"
        },
        "StatementType": {
          "documentation": "<p>The type of query statement that was run. <code>DDL</code> indicates DDL query statements. <code>DML</code> indicates DML (Data Manipulation Language) query statements, such as <code>CREATE TABLE AS SELECT</code>. <code>UTILITY</code> indicates query statements other than DDL and DML, such as <code>SHOW CREATE TABLE</code>, or <code>DESCRIBE TABLE</code>.</p>",
          "shape": "StatementType"
        },
        "Statistics": {
          "documentation": "<p>Query execution statistics, such as the amount of data scanned, the amount of time that the query took to process, and the type of statement that was run.</p>",
          "shape": "QueryExecutionStatistics"
        },
        "Status": {
          "documentation": "<p>The completion date, current state, submission time, and state change reason (if applicable) for the query execution.</p>",
          "shape": "QueryExecutionStatus"
        },
        "WorkGroup": {
          "documentation": "<p>The name of the workgroup in which the query ran.</p>",
          "shape": "WorkGroupName"
        }
      },
      "type": "structure"
    },
    "QueryExecutionContext": {
      "documentation": "<p>The database and data catalog context in which the query execution occurs.</p>",
      "members": {
        "Catalog": {
          "documentation": "<p>The name of the data catalog used in the query execution.</p>",
          "shape": "CatalogNameString"
        },
        "Database": {
          "documentation": "<p>The name of the database used in the query execution. The database must exist in the catalog.</p>",
          "shape": "DatabaseString"
        }
      },
      "type": "structure"
    },
    "QueryExecutionId": {
      "max": 128,
      "min": 1,
      "pattern": "\\S+",
      "type": "string"
    },
    "QueryExecutionIdList": {
      "max": 50,
      "member": {
        "shape": "QueryExecutionId"
      },
      "min": 1,
      "type": "list"
    },
    "QueryExecutionList": {
      "member": {
        "shape": "QueryExecution"
      },
      "type": "list"
    },
    "QueryExecutionState": {
      "enum": [
        "QUEUED",
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "CANCELLED"
      ],
      "type": "string"
    },
    "QueryExecutionStatistics": {
      "documentation": "<p>The amount of data scanned during the query execution and the amount of time that it took to execute, and the type of statement that was run.</p>",
      "members": {
        "DataManifestLocation": {
          "documentation": "<p>The location and file name of a data manifest file. The manifest file is saved to the Athena query results location in Amazon S3. The manifest file tracks files that the query wrote to Amazon S3. If the query fails, the manifest file also tracks files that the query intended to write. The manifest is useful for identifying orphaned files resulting from a failed query. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Working with Query Results, Output Files, and Query History</a> in the <i>Amazon Athena User Guide</i>.</p>",
          "shape": "String"
        },
        "DataScannedInBytes": {
          "documentation": "<p>The number of bytes in the data that was queried.</p>",
          "shape": "Long"
        },
        "EngineExecutionTimeInMillis": {
          "documentation": "<p>The number of milliseconds that the query took to execute.</p>",
          "shape": "Long"
        },
        "QueryPlanningTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to plan the query processing flow. This includes the time spent retrieving table partitions from the data source. Note that because the query engine performs the query planning, query planning time is a subset of engine processing time.</p>",
          "shape": "Long"
        },
        "QueryQueueTimeInMillis": {
          "documentation": "<p>The number of milliseconds that the query was in your query queue waiting for resources. Note that if transient errors occur, Athena might automatically add the query back to the queue.</p>",
          "shape": "Long"
        },
        "ServiceProcessingTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to finalize and publish the query results after the query engine finished running the query.</p>",
          "shape": "Long"
        },
        "TotalExecutionTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to run the query.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "QueryExecutionStatus": {
      "documentation": "<p>The completion date, current state, submission time, and state change reason (if applicable) for the query execution.</p>",
      "members": {
        "AthenaError": {
          "documentation": "<p>Provides information about an Athena query error.</p>",
          "shape": "AthenaError"
        },
        "CompletionDateTime": {
          "documentation": "<p>The date and time that the query completed.</p>",
          "shape": "Date"
        },
        "State": {
          "documentation": "<p>The state of query execution. <code>QUEUED</code> indicates that the query has been submitted to the service, and Athena will execute the query as soon as resources are available. <code>RUNNING</code> indicates that the query is in execution phase. <code>SUCCEEDED</code> indicates that the query completed without errors. <code>FAILED</code> indicates that the query experienced an error and did not complete processing. <code>CANCELLED</code> indicates that a user input interrupted query execution.</p> <note> <p>Athena automatically retries your queries in cases of certain transient errors. As a result, you may see the query state transition from <code>RUNNING</code> or <code>FAILED</code> to <code>QUEUED</code>. </p> </note>",
          "shape": "QueryExecutionState"
        },
        "StateChangeReason": {
          "documentation": "<p>Further detail about the status of the query.</p>",
          "shape": "String"
        },
        "SubmissionDateTime": {
          "documentation": "<p>The date and time that the query was submitted.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "QueryRuntimeStatistics": {
      "documentation": "<p>The query execution timeline, statistics on input and output rows and bytes, and the different query stages that form the query execution plan.</p>",
      "members": {
        "OutputStage": {
          "documentation": "<p>Stage statistics such as input and output rows and bytes, execution time, and stage state. This information also includes substages and the query stage plan.</p>",
          "shape": "QueryStage"
        },
        "Rows": {
          "shape": "QueryRuntimeStatisticsRows"
        },
        "Timeline": {
          "shape": "QueryRuntimeStatisticsTimeline"
        }
      },
      "type": "structure"
    },
    "QueryRuntimeStatisticsRows": {
      "documentation": "<p>Statistics such as input rows and bytes read by the query, rows and bytes output by the query, and the number of rows written by the query.</p>",
      "members": {
        "InputBytes": {
          "documentation": "<p>The number of bytes read to execute the query.</p>",
          "shape": "Long"
        },
        "InputRows": {
          "documentation": "<p>The number of rows read to execute the query.</p>",
          "shape": "Long"
        },
        "OutputBytes": {
          "documentation": "<p>The number of bytes returned by the query.</p>",
          "shape": "Long"
        },
        "OutputRows": {
          "documentation": "<p>The number of rows returned by the query.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "QueryRuntimeStatisticsTimeline": {
      "documentation": "<p>Timeline statistics such as query queue time, planning time, execution time, service processing time, and total execution time.</p>",
      "members": {
        "EngineExecutionTimeInMillis": {
          "documentation": "<p>The number of milliseconds that the query took to execute.</p>",
          "shape": "Long"
        },
        "QueryPlanningTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to plan the query processing flow. This includes the time spent retrieving table partitions from the data source. Note that because the query engine performs the query planning, query planning time is a subset of engine processing time.</p>",
          "shape": "Long"
        },
        "QueryQueueTimeInMillis": {
          "documentation": "<p>The number of milliseconds that the query was in your query queue waiting for resources. Note that if transient errors occur, Athena might automatically add the query back to the queue.</p>",
          "shape": "Long"
        },
        "ServiceProcessingTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to finalize and publish the query results after the query engine finished running the query.</p>",
          "shape": "Long"
        },
        "TotalExecutionTimeInMillis": {
          "documentation": "<p>The number of milliseconds that Athena took to run the query.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "QueryStage": {
      "documentation": "<p>Stage statistics such as input and output rows and bytes, execution time and stage state. This information also includes substages and the query stage plan.</p>",
      "members": {
        "ExecutionTime": {
          "documentation": "<p>Time taken to execute this stage.</p>",
          "shape": "Long"
        },
        "InputBytes": {
          "documentation": "<p>The number of bytes input into the stage for execution.</p>",
          "shape": "Long"
        },
        "InputRows": {
          "documentation": "<p>The number of rows input into the stage for execution.</p>",
          "shape": "Long"
        },
        "OutputBytes": {
          "documentation": "<p>The number of bytes output from the stage after execution.</p>",
          "shape": "Long"
        },
        "OutputRows": {
          "documentation": "<p>The number of rows output from the stage after execution.</p>",
          "shape": "Long"
        },
        "QueryStagePlan": {
          "documentation": "<p>Stage plan information such as name, identifier, sub plans, and source stages.</p>",
          "shape": "QueryStagePlanNode"
        },
        "StageId": {
          "documentation": "<p>The identifier for a stage.</p>",
          "shape": "Long"
        },
        "State": {
          "documentation": "<p>State of the stage after query execution.</p>",
          "shape": "String"
        },
        "SubStages": {
          "documentation": "<p>List of sub query stages that form this stage execution plan.</p>",
          "shape": "QueryStages"
        }
      },
      "type": "structure"
    },
    "QueryStagePlanNode": {
      "documentation": "<p>Stage plan information such as name, identifier, sub plans, and remote sources.</p>",
      "members": {
        "Children": {
          "documentation": "<p>Stage plan information such as name, identifier, sub plans, and remote sources of child plan nodes/</p>",
          "shape": "QueryStagePlanNodes"
        },
        "Identifier": {
          "documentation": "<p>Information about the operation this query stage plan node is performing.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>Name of the query stage plan that describes the operation this stage is performing as part of query execution.</p>",
          "shape": "String"
        },
        "RemoteSources": {
          "documentation": "<p>Source plan node IDs.</p>",
          "shape": "StringList"
        }
      },
      "type": "structure"
    },
    "QueryStagePlanNodes": {
      "member": {
        "shape": "QueryStagePlanNode"
      },
      "type": "list"
    },
    "QueryStages": {
      "member": {
        "shape": "QueryStage"
      },
      "type": "list"
    },
    "QueryString": {
      "max": 262144,
      "min": 1,
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>A resource, such as a workgroup, was not found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "ResourceName": {
          "documentation": "<p>The name of the Amazon resource.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "type": "structure"
    },
    "ResultConfiguration": {
      "documentation": "<p>The location in Amazon S3 where query results are stored and the encryption option, if any, used for query results. These are known as \"client-side settings\". If workgroup settings override client-side settings, then the query uses the workgroup settings.</p>",
      "members": {
        "AclConfiguration": {
          "documentation": "<p>Indicates that an Amazon S3 canned ACL should be set to control ownership of stored query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. This is a client-side setting. If workgroup settings override client-side settings, then the query uses the ACL configuration that is specified for the workgroup, and also uses the location for storing query results specified in the workgroup. For more information, see <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a> and <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>",
          "shape": "AclConfiguration"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>If query results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information. This is a client-side setting. If workgroup settings override client-side settings, then the query uses the encryption configuration that is specified for the workgroup, and also uses the location for storing query results specified in the workgroup. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a> and <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>",
          "shape": "EncryptionConfiguration"
        },
        "ExpectedBucketOwner": {
          "documentation": "<p>The Amazon Web Services account ID that you expect to be the owner of the Amazon S3 bucket specified by <a>ResultConfiguration$OutputLocation</a>. If set, Athena uses the value for <code>ExpectedBucketOwner</code> when it makes Amazon S3 calls to your specified output location. If the <code>ExpectedBucketOwner</code> Amazon Web Services account ID does not match the actual owner of the Amazon S3 bucket, the call fails with a permissions error.</p> <p>This is a client-side setting. If workgroup settings override client-side settings, then the query uses the <code>ExpectedBucketOwner</code> setting that is specified for the workgroup, and also uses the location for storing query results specified in the workgroup. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a> and <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>",
          "shape": "AwsAccountId"
        },
        "OutputLocation": {
          "documentation": "<p>The location in Amazon S3 where your query results are stored, such as <code>s3://path/to/query/bucket/</code>. To run the query, you must specify the query results location using one of the ways: either for individual queries using either this setting (client-side), or in the workgroup, using <a>WorkGroupConfiguration</a>. If none of them is set, Athena issues an error that no output location is provided. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a>. If workgroup settings override client-side settings, then the query uses the settings specified for the workgroup. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>",
          "shape": "ResultOutputLocation"
        }
      },
      "type": "structure"
    },
    "ResultConfigurationUpdates": {
      "documentation": "<p>The information about the updates in the query results, such as output location and encryption configuration for the query results.</p>",
      "members": {
        "AclConfiguration": {
          "documentation": "<p>The ACL configuration for the query results.</p>",
          "shape": "AclConfiguration"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>The encryption configuration for the query results.</p>",
          "shape": "EncryptionConfiguration"
        },
        "ExpectedBucketOwner": {
          "documentation": "<p>The Amazon Web Services account ID that you expect to be the owner of the Amazon S3 bucket specified by <a>ResultConfiguration$OutputLocation</a>. If set, Athena uses the value for <code>ExpectedBucketOwner</code> when it makes Amazon S3 calls to your specified output location. If the <code>ExpectedBucketOwner</code> Amazon Web Services account ID does not match the actual owner of the Amazon S3 bucket, the call fails with a permissions error.</p> <p>If workgroup settings override client-side settings, then the query uses the <code>ExpectedBucketOwner</code> setting that is specified for the workgroup, and also uses the location for storing query results specified in the workgroup. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a> and <a href=\"https://docs.aws.amazon.com/athena/latest/ug/workgroups-settings-override.html\">Workgroup Settings Override Client-Side Settings</a>.</p>",
          "shape": "AwsAccountId"
        },
        "OutputLocation": {
[...]
