{
  "documentation": "<p>This is the Proton Service API Reference. It provides descriptions, syntax and usage examples for each of the <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Operations.html\">actions</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Types.html\">data types</a> for the Proton service.</p> <p>The documentation for each action shows the Query API request parameters and the XML response.</p> <p>Alternatively, you can use the Amazon Web Services CLI to access an API. For more information, see the <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html\">Amazon Web Services Command Line Interface User Guide</a>.</p> <p>The Proton service is a two-pronged automation framework. Administrators create service templates to provide standardized infrastructure and deployment tooling for serverless and container based applications. Developers, in turn, select from the available service templates to automate their application or service deployments.</p> <p>Because administrators define the infrastructure and tooling that Proton deploys and manages, they need permissions to use all of the listed API operations.</p> <p>When developers select a specific infrastructure and tooling set, Proton deploys their applications. To monitor their applications that are running on Proton, developers need permissions to the service <i>create</i>, <i>list</i>, <i>update</i> and <i>delete</i> API operations and the service instance <i>list</i> and <i>update</i> API operations.</p> <p>To learn more about Proton, see the <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/Welcome.html\">Proton User Guide</a>.</p> <p> <b>Ensuring Idempotency</b> </p> <p>When you make a mutating API request, the request typically returns a result before the asynchronous workflows of the operation are complete. Operations might also time out or encounter other server issues before they're complete, even if the request already returned a result. This might make it difficult to determine whether the request succeeded. Moreover, you might need to retry the request multiple times to ensure that the operation completes successfully. However, if the original request and the subsequent retries are successful, the operation occurs multiple times. This means that you might create more resources than you intended.</p> <p> <i>Idempotency</i> ensures that an API request action completes no more than one time. With an idempotent request, if the original request action completes successfully, any subsequent retries complete successfully without performing any further actions. However, the result might contain updated information, such as the current creation status.</p> <p>The following lists of APIs are grouped according to methods that ensure idempotency.</p> <p> <b>Idempotent create APIs with a client token</b> </p> <p>The API actions in this list support idempotency with the use of a <i>client token</i>. The corresponding Amazon Web Services CLI commands also support idempotency using a client token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request using one of these actions, specify a client token in the request. We recommend that you <i>don't</i> reuse the same client token for other API requests. If you don\u2019t provide a client token for these APIs, a default client token is automatically provided by SDKs.</p> <p>Given a request action that has succeeded:</p> <p>If you retry the request using the same client token and the same parameters, the retry succeeds without performing any further actions other than returning the original resource detail data in the response.</p> <p>If you retry the request using the same client token, but one or more of the parameters are different, the retry throws a <code>ValidationException</code> with an <code>IdempotentParameterMismatch</code> error.</p> <p>Client tokens expire eight hours after a request is made. If you retry the request with the expired token, a new resource is created.</p> <p>If the original resource is deleted and you retry the request, a new resource is created.</p> <p>Idempotent create APIs with a client token:</p> <ul> <li> <p>CreateEnvironmentTemplateVersion</p> </li> <li> <p>CreateServiceTemplateVersion</p> </li> <li> <p>CreateEnvironmentAccountConnection</p> </li> </ul> <p> <b>Idempotent create APIs</b> </p> <p>Given a request action that has succeeded:</p> <p>If you retry the request with an API from this group, and the original resource <i>hasn't</i> been modified, the retry succeeds without performing any further actions other than returning the original resource detail data in the response.</p> <p>If the original resource has been modified, the retry throws a <code>ConflictException</code>.</p> <p>If you retry with different input parameters, the retry throws a <code>ValidationException</code> with an <code>IdempotentParameterMismatch</code> error.</p> <p>Idempotent create APIs:</p> <ul> <li> <p>CreateEnvironmentTemplate</p> </li> <li> <p>CreateServiceTemplate</p> </li> <li> <p>CreateEnvironment</p> </li> <li> <p>CreateService</p> </li> </ul> <p> <b>Idempotent delete APIs</b> </p> <p>Given a request action that has succeeded:</p> <p>When you retry the request with an API from this group and the resource was deleted, its metadata is returned in the response.</p> <p>If you retry and the resource doesn't exist, the response is empty.</p> <p>In both cases, the retry succeeds.</p> <p>Idempotent delete APIs:</p> <ul> <li> <p>DeleteEnvironmentTemplate</p> </li> <li> <p>DeleteEnvironmentTemplateVersion</p> </li> <li> <p>DeleteServiceTemplate</p> </li> <li> <p>DeleteServiceTemplateVersion</p> </li> <li> <p>DeleteEnvironmentAccountConnection</p> </li> </ul> <p> <b>Asynchronous idempotent delete APIs</b> </p> <p>Given a request action that has succeeded:</p> <p>If you retry the request with an API from this group, if the original request delete operation status is <code>DELETE_IN_PROGRESS</code>, the retry returns the resource detail data in the response without performing any further actions.</p> <p>If the original request delete operation is complete, a retry returns an empty response.</p> <p>Asynchronous idempotent delete APIs:</p> <ul> <li> <p>DeleteEnvironment</p> </li> <li> <p>DeleteService</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2020-07-20",
    "endpointPrefix": "proton",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS Proton",
    "serviceId": "Proton",
    "signatureVersion": "v4",
    "signingName": "proton",
    "targetPrefix": "AwsProton20200720",
    "uid": "proton-2020-07-20"
  },
  "operations": {
    "AcceptEnvironmentAccountConnection": {
      "documentation": "<p>In a management account, an environment account connection request is accepted. When the environment account connection request is accepted, Proton can use the associated IAM role to provision environment infrastructure resources in the associated environment account.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AcceptEnvironmentAccountConnectionInput"
      },
      "name": "AcceptEnvironmentAccountConnection",
      "output": {
        "shape": "AcceptEnvironmentAccountConnectionOutput"
      }
    },
    "CancelComponentDeployment": {
      "documentation": "<p>Attempts to cancel a component deployment (for a component that is in the <code>IN_PROGRESS</code> deployment status).</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelComponentDeploymentInput"
      },
      "name": "CancelComponentDeployment",
      "output": {
        "shape": "CancelComponentDeploymentOutput"
      }
    },
    "CancelEnvironmentDeployment": {
      "documentation": "<p>Attempts to cancel an environment deployment on an <a>UpdateEnvironment</a> action, if the deployment is <code>IN_PROGRESS</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-update.html\">Update an environment</a> in the <i>Proton User guide</i>.</p> <p>The following list includes potential cancellation scenarios.</p> <ul> <li> <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p> </li> <li> <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p> </li> <li> <p>If the current <a>UpdateEnvironment</a> action succeeds before the cancellation attempt starts, the resulting deployment state is <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelEnvironmentDeploymentInput"
      },
      "name": "CancelEnvironmentDeployment",
      "output": {
        "shape": "CancelEnvironmentDeploymentOutput"
      }
    },
    "CancelServiceInstanceDeployment": {
      "documentation": "<p>Attempts to cancel a service instance deployment on an <a>UpdateServiceInstance</a> action, if the deployment is <code>IN_PROGRESS</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-svc-instance-update.html\">Update a service instance</a> in the <i>Proton User guide</i>.</p> <p>The following list includes potential cancellation scenarios.</p> <ul> <li> <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p> </li> <li> <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p> </li> <li> <p>If the current <a>UpdateServiceInstance</a> action succeeds before the cancellation attempt starts, the resulting deployment state is <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelServiceInstanceDeploymentInput"
      },
      "name": "CancelServiceInstanceDeployment",
      "output": {
        "shape": "CancelServiceInstanceDeploymentOutput"
      }
    },
    "CancelServicePipelineDeployment": {
      "documentation": "<p>Attempts to cancel a service pipeline deployment on an <a>UpdateServicePipeline</a> action, if the deployment is <code>IN_PROGRESS</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-svc-pipeline-update.html\">Update a service pipeline</a> in the <i>Proton User guide</i>.</p> <p>The following list includes potential cancellation scenarios.</p> <ul> <li> <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p> </li> <li> <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p> </li> <li> <p>If the current <a>UpdateServicePipeline</a> action succeeds before the cancellation attempt starts, the resulting deployment state is <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelServicePipelineDeploymentInput"
      },
      "name": "CancelServicePipelineDeployment",
      "output": {
        "shape": "CancelServicePipelineDeploymentOutput"
      }
    },
    "CreateComponent": {
      "documentation": "<p>Create an Proton component. A component is an infrastructure extension for a service instance.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateComponentInput"
      },
      "name": "CreateComponent",
      "output": {
        "shape": "CreateComponentOutput"
      }
    },
    "CreateEnvironment": {
      "documentation": "<p>Deploy a new environment. An Proton environment is created from an environment template that defines infrastructure and resources that can be shared across services.</p> <p class=\"title\"> <b>You can provision environments using the following methods:</b> </p> <ul> <li> <p>Amazon Web Services-managed provisioning: Proton makes direct calls to provision your resources.</p> </li> <li> <p>Self-managed provisioning: Proton makes pull requests on your repository to provide compiled infrastructure as code (IaC) files that your IaC engine uses to provision resources.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-environments.html\">Environments</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-works-prov-methods.html\">Provisioning methods</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEnvironmentInput"
      },
      "name": "CreateEnvironment",
      "output": {
        "shape": "CreateEnvironmentOutput"
      }
    },
    "CreateEnvironmentAccountConnection": {
      "documentation": "<p>Create an environment account connection in an environment account so that environment infrastructure resources can be provisioned in the environment account from a management account.</p> <p>An environment account connection is a secure bi-directional connection between a <i>management account</i> and an <i>environment account</i> that maintains authorization and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEnvironmentAccountConnectionInput"
      },
      "name": "CreateEnvironmentAccountConnection",
      "output": {
        "shape": "CreateEnvironmentAccountConnectionOutput"
      }
    },
    "CreateEnvironmentTemplate": {
      "documentation": "<p>Create an environment template for Proton. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-templates.html\">Environment Templates</a> in the <i>Proton User Guide</i>.</p> <p>You can create an environment template in one of the two following ways:</p> <ul> <li> <p>Register and publish a <i>standard</i> environment template that instructs Proton to deploy and manage environment infrastructure.</p> </li> <li> <p>Register and publish a <i>customer managed</i> environment template that connects Proton to your existing provisioned infrastructure that you manage. Proton <i>doesn't</i> manage your existing provisioned infrastructure. To create an environment template for customer provisioned and managed infrastructure, include the <code>provisioning</code> parameter and set the value to <code>CUSTOMER_MANAGED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/template-create.html\">Register and publish an environment template</a> in the <i>Proton User Guide</i>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEnvironmentTemplateInput"
      },
      "name": "CreateEnvironmentTemplate",
      "output": {
        "shape": "CreateEnvironmentTemplateOutput"
      }
    },
    "CreateEnvironmentTemplateVersion": {
      "documentation": "<p>Create a new major or minor version of an environment template. A major version of an environment template is a version that <i>isn't</i> backwards compatible. A minor version of an environment template is a version that's backwards compatible within its major version.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEnvironmentTemplateVersionInput"
      },
      "name": "CreateEnvironmentTemplateVersion",
      "output": {
        "shape": "CreateEnvironmentTemplateVersionOutput"
      }
    },
    "CreateRepository": {
      "documentation": "<p>Create and register a link to a repository. Proton uses the link to repeatedly access the repository, to either push to it (self-managed provisioning) or pull from it (template sync). You can share a linked repository across multiple resources (like environments using self-managed provisioning, or synced templates). When you create a repository link, Proton creates a <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/using-service-linked-roles.html\">service-linked role</a> for you.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-works-prov-methods.html#ag-works-prov-methods-self\">Self-managed provisioning</a>, <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-template-authoring.html#ag-template-bundles\">Template bundles</a>, and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-template-sync-configs.html\">Template sync configurations</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRepositoryInput"
      },
      "name": "CreateRepository",
      "output": {
        "shape": "CreateRepositoryOutput"
      }
    },
    "CreateService": {
      "documentation": "<p>Create an Proton service. An Proton service is an instantiation of a service template and often includes several service instances and pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-services.html\">Services</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateServiceInput"
      },
      "name": "CreateService",
      "output": {
        "shape": "CreateServiceOutput"
      }
    },
    "CreateServiceTemplate": {
      "documentation": "<p>Create a service template. The administrator creates a service template to define standardized infrastructure and an optional CI/CD service pipeline. Developers, in turn, select the service template from Proton. If the selected service template includes a service pipeline definition, they provide a link to their source code repository. Proton then deploys and manages the infrastructure defined by the selected service template. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-templates.html\">Proton templates</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateServiceTemplateInput"
      },
      "name": "CreateServiceTemplate",
      "output": {
        "shape": "CreateServiceTemplateOutput"
      }
    },
    "CreateServiceTemplateVersion": {
      "documentation": "<p>Create a new major or minor version of a service template. A major version of a service template is a version that <i>isn't</i> backward compatible. A minor version of a service template is a version that's backward compatible within its major version.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateServiceTemplateVersionInput"
      },
      "name": "CreateServiceTemplateVersion",
      "output": {
        "shape": "CreateServiceTemplateVersionOutput"
      }
    },
    "CreateTemplateSyncConfig": {
      "documentation": "<p>Set up a template to create new template versions automatically by tracking a linked repository. A linked repository is a repository that has been registered with Proton. For more information, see <a>CreateRepository</a>.</p> <p>When a commit is pushed to your linked repository, Proton checks for changes to your repository template bundles. If it detects a template bundle change, a new major or minor version of its template is created, if the version doesn\u2019t already exist. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-template-sync-configs.html\">Template sync configurations</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateTemplateSyncConfigInput"
      },
      "name": "CreateTemplateSyncConfig",
      "output": {
        "shape": "CreateTemplateSyncConfigOutput"
      }
    },
    "DeleteComponent": {
      "documentation": "<p>Delete an Proton component resource.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteComponentInput"
      },
      "name": "DeleteComponent",
      "output": {
        "shape": "DeleteComponentOutput"
      }
    },
    "DeleteEnvironment": {
      "documentation": "<p>Delete an environment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEnvironmentInput"
      },
      "name": "DeleteEnvironment",
      "output": {
        "shape": "DeleteEnvironmentOutput"
      }
    },
    "DeleteEnvironmentAccountConnection": {
      "documentation": "<p>In an environment account, delete an environment account connection.</p> <p>After you delete an environment account connection that\u2019s in use by an Proton environment, Proton <i>can\u2019t</i> manage the environment infrastructure resources until a new environment account connection is accepted for the environment account and associated environment. You're responsible for cleaning up provisioned resources that remain without an environment connection.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEnvironmentAccountConnectionInput"
      },
      "name": "DeleteEnvironmentAccountConnection",
      "output": {
        "shape": "DeleteEnvironmentAccountConnectionOutput"
      }
    },
    "DeleteEnvironmentTemplate": {
      "documentation": "<p>If no other major or minor versions of an environment template exist, delete the environment template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEnvironmentTemplateInput"
      },
      "name": "DeleteEnvironmentTemplate",
      "output": {
        "shape": "DeleteEnvironmentTemplateOutput"
      }
    },
    "DeleteEnvironmentTemplateVersion": {
      "documentation": "<p>If no other minor versions of an environment template exist, delete a major version of the environment template if it's not the <code>Recommended</code> version. Delete the <code>Recommended</code> version of the environment template if no other major versions or minor versions of the environment template exist. A major version of an environment template is a version that's not backward compatible.</p> <p>Delete a minor version of an environment template if it <i>isn't</i> the <code>Recommended</code> version. Delete a <code>Recommended</code> minor version of the environment template if no other minor versions of the environment template exist. A minor version of an environment template is a version that's backward compatible.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEnvironmentTemplateVersionInput"
      },
      "name": "DeleteEnvironmentTemplateVersion",
      "output": {
        "shape": "DeleteEnvironmentTemplateVersionOutput"
      }
    },
    "DeleteRepository": {
      "documentation": "<p>De-register and unlink your repository.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRepositoryInput"
      },
      "name": "DeleteRepository",
      "output": {
        "shape": "DeleteRepositoryOutput"
      }
    },
    "DeleteService": {
      "documentation": "<p>Delete a service, with its instances and pipeline.</p> <note> <p>You can't delete a service if it has any service instances that have components attached to them.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteServiceInput"
      },
      "name": "DeleteService",
      "output": {
        "shape": "DeleteServiceOutput"
      }
    },
    "DeleteServiceTemplate": {
      "documentation": "<p>If no other major or minor versions of the service template exist, delete the service template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteServiceTemplateInput"
      },
      "name": "DeleteServiceTemplate",
      "output": {
        "shape": "DeleteServiceTemplateOutput"
      }
    },
    "DeleteServiceTemplateVersion": {
      "documentation": "<p>If no other minor versions of a service template exist, delete a major version of the service template if it's not the <code>Recommended</code> version. Delete the <code>Recommended</code> version of the service template if no other major versions or minor versions of the service template exist. A major version of a service template is a version that <i>isn't</i> backwards compatible.</p> <p>Delete a minor version of a service template if it's not the <code>Recommended</code> version. Delete a <code>Recommended</code> minor version of the service template if no other minor versions of the service template exist. A minor version of a service template is a version that's backwards compatible.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteServiceTemplateVersionInput"
      },
      "name": "DeleteServiceTemplateVersion",
      "output": {
        "shape": "DeleteServiceTemplateVersionOutput"
      }
    },
    "DeleteTemplateSyncConfig": {
      "documentation": "<p>Delete a template sync configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteTemplateSyncConfigInput"
      },
      "name": "DeleteTemplateSyncConfig",
      "output": {
        "shape": "DeleteTemplateSyncConfigOutput"
      }
    },
    "GetAccountSettings": {
      "documentation": "<p>Get detail data for Proton account-wide settings.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccountSettingsInput"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsOutput"
      }
    },
    "GetComponent": {
      "documentation": "<p>Get detailed data for a component.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetComponentInput"
      },
      "name": "GetComponent",
      "output": {
        "shape": "GetComponentOutput"
      }
    },
    "GetEnvironment": {
      "documentation": "<p>Get detailed data for an environment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEnvironmentInput"
      },
      "name": "GetEnvironment",
      "output": {
        "shape": "GetEnvironmentOutput"
      }
    },
    "GetEnvironmentAccountConnection": {
      "documentation": "<p>In an environment account, get the detailed data for an environment account connection.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEnvironmentAccountConnectionInput"
      },
      "name": "GetEnvironmentAccountConnection",
      "output": {
        "shape": "GetEnvironmentAccountConnectionOutput"
      }
    },
    "GetEnvironmentTemplate": {
      "documentation": "<p>Get detailed data for an environment template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEnvironmentTemplateInput"
      },
      "name": "GetEnvironmentTemplate",
      "output": {
        "shape": "GetEnvironmentTemplateOutput"
      }
    },
    "GetEnvironmentTemplateVersion": {
      "documentation": "<p>Get detailed data for a major or minor version of an environment template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEnvironmentTemplateVersionInput"
      },
      "name": "GetEnvironmentTemplateVersion",
      "output": {
        "shape": "GetEnvironmentTemplateVersionOutput"
      }
    },
    "GetRepository": {
      "documentation": "<p>Get detail data for a linked repository.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRepositoryInput"
      },
      "name": "GetRepository",
      "output": {
        "shape": "GetRepositoryOutput"
      }
    },
    "GetRepositorySyncStatus": {
      "documentation": "<p>Get the sync status of a repository used for Proton template sync. For more information about template sync, see .</p> <note> <p>A repository sync status isn't tied to the Proton Repository resource (or any other Proton resource). Therefore, tags on an Proton Repository resource have no effect on this action. Specifically, you can't use these tags to control access to this action using Attribute-based access control (ABAC).</p> <p>For more information about ABAC, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/security_iam_service-with-iam.html#security_iam_service-with-iam-tags\">ABAC</a> in the <i>Proton User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRepositorySyncStatusInput"
      },
      "name": "GetRepositorySyncStatus",
      "output": {
        "shape": "GetRepositorySyncStatusOutput"
      }
    },
    "GetService": {
      "documentation": "<p>Get detailed data for a service.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceInput"
      },
      "name": "GetService",
      "output": {
        "shape": "GetServiceOutput"
      }
    },
    "GetServiceInstance": {
      "documentation": "<p>Get detailed data for a service instance. A service instance is an instantiation of service template and it runs in a specific environment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceInstanceInput"
      },
      "name": "GetServiceInstance",
      "output": {
        "shape": "GetServiceInstanceOutput"
      }
    },
    "GetServiceTemplate": {
      "documentation": "<p>Get detailed data for a service template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceTemplateInput"
      },
      "name": "GetServiceTemplate",
      "output": {
        "shape": "GetServiceTemplateOutput"
      }
    },
    "GetServiceTemplateVersion": {
      "documentation": "<p>Get detailed data for a major or minor version of a service template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceTemplateVersionInput"
      },
      "name": "GetServiceTemplateVersion",
      "output": {
        "shape": "GetServiceTemplateVersionOutput"
      }
    },
    "GetTemplateSyncConfig": {
      "documentation": "<p>Get detail data for a template sync configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTemplateSyncConfigInput"
      },
      "name": "GetTemplateSyncConfig",
      "output": {
        "shape": "GetTemplateSyncConfigOutput"
      }
    },
    "GetTemplateSyncStatus": {
      "documentation": "<p>Get the status of a template sync.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTemplateSyncStatusInput"
      },
      "name": "GetTemplateSyncStatus",
      "output": {
        "shape": "GetTemplateSyncStatusOutput"
      }
    },
    "ListComponentOutputs": {
      "documentation": "<p>Get a list of component Infrastructure as Code (IaC) outputs.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComponentOutputsInput"
      },
      "name": "ListComponentOutputs",
      "output": {
        "shape": "ListComponentOutputsOutput"
      }
    },
    "ListComponentProvisionedResources": {
      "documentation": "<p>List provisioned resources for a component with details.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComponentProvisionedResourcesInput"
      },
      "name": "ListComponentProvisionedResources",
      "output": {
        "shape": "ListComponentProvisionedResourcesOutput"
      }
    },
    "ListComponents": {
      "documentation": "<p>List components with summary data. You can filter the result list by environment, service, or a single service instance.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComponentsInput"
      },
      "name": "ListComponents",
      "output": {
        "shape": "ListComponentsOutput"
      }
    },
    "ListEnvironmentAccountConnections": {
      "documentation": "<p>View a list of environment account connections.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentAccountConnectionsInput"
      },
      "name": "ListEnvironmentAccountConnections",
      "output": {
        "shape": "ListEnvironmentAccountConnectionsOutput"
      }
    },
    "ListEnvironmentOutputs": {
      "documentation": "<p>List the infrastructure as code outputs for your environment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentOutputsInput"
      },
      "name": "ListEnvironmentOutputs",
      "output": {
        "shape": "ListEnvironmentOutputsOutput"
      }
    },
    "ListEnvironmentProvisionedResources": {
      "documentation": "<p>List the provisioned resources for your environment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentProvisionedResourcesInput"
      },
      "name": "ListEnvironmentProvisionedResources",
      "output": {
        "shape": "ListEnvironmentProvisionedResourcesOutput"
      }
    },
    "ListEnvironmentTemplateVersions": {
      "documentation": "<p>List major or minor versions of an environment template with detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentTemplateVersionsInput"
      },
      "name": "ListEnvironmentTemplateVersions",
      "output": {
        "shape": "ListEnvironmentTemplateVersionsOutput"
      }
    },
    "ListEnvironmentTemplates": {
      "documentation": "<p>List environment templates.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentTemplatesInput"
      },
      "name": "ListEnvironmentTemplates",
      "output": {
        "shape": "ListEnvironmentTemplatesOutput"
      }
    },
    "ListEnvironments": {
      "documentation": "<p>List environments with detail data summaries.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEnvironmentsInput"
      },
      "name": "ListEnvironments",
      "output": {
        "shape": "ListEnvironmentsOutput"
      }
    },
    "ListRepositories": {
      "documentation": "<p>List linked repositories with detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRepositoriesInput"
      },
      "name": "ListRepositories",
      "output": {
        "shape": "ListRepositoriesOutput"
      }
    },
    "ListRepositorySyncDefinitions": {
      "documentation": "<p>List repository sync definitions with detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRepositorySyncDefinitionsInput"
      },
      "name": "ListRepositorySyncDefinitions",
      "output": {
        "shape": "ListRepositorySyncDefinitionsOutput"
      }
    },
    "ListServiceInstanceOutputs": {
      "documentation": "<p>Get a list service of instance Infrastructure as Code (IaC) outputs.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceInstanceOutputsInput"
      },
      "name": "ListServiceInstanceOutputs",
      "output": {
        "shape": "ListServiceInstanceOutputsOutput"
      }
    },
    "ListServiceInstanceProvisionedResources": {
      "documentation": "<p>List provisioned resources for a service instance with details.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceInstanceProvisionedResourcesInput"
      },
      "name": "ListServiceInstanceProvisionedResources",
      "output": {
        "shape": "ListServiceInstanceProvisionedResourcesOutput"
      }
    },
    "ListServiceInstances": {
      "documentation": "<p>List service instances with summary data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceInstancesInput"
      },
      "name": "ListServiceInstances",
      "output": {
        "shape": "ListServiceInstancesOutput"
      }
    },
    "ListServicePipelineOutputs": {
      "documentation": "<p>Get a list of service pipeline Infrastructure as Code (IaC) outputs.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicePipelineOutputsInput"
      },
      "name": "ListServicePipelineOutputs",
      "output": {
        "shape": "ListServicePipelineOutputsOutput"
      }
    },
    "ListServicePipelineProvisionedResources": {
      "documentation": "<p>List provisioned resources for a service and pipeline with details.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicePipelineProvisionedResourcesInput"
      },
      "name": "ListServicePipelineProvisionedResources",
      "output": {
        "shape": "ListServicePipelineProvisionedResourcesOutput"
      }
    },
    "ListServiceTemplateVersions": {
      "documentation": "<p>List major or minor versions of a service template with detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceTemplateVersionsInput"
      },
      "name": "ListServiceTemplateVersions",
      "output": {
        "shape": "ListServiceTemplateVersionsOutput"
      }
    },
    "ListServiceTemplates": {
      "documentation": "<p>List service templates with detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceTemplatesInput"
      },
      "name": "ListServiceTemplates",
      "output": {
        "shape": "ListServiceTemplatesOutput"
      }
    },
    "ListServices": {
      "documentation": "<p>List services with summaries of detail data.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicesInput"
      },
      "name": "ListServices",
      "output": {
        "shape": "ListServicesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List tags for a resource. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "NotifyResourceDeploymentStatusChange": {
      "documentation": "<p>Notify Proton of status changes to a provisioned resource when you use self-managed provisioning.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-works-prov-methods.html#ag-works-prov-methods-self\">Self-managed provisioning</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NotifyResourceDeploymentStatusChangeInput"
      },
      "name": "NotifyResourceDeploymentStatusChange",
      "output": {
        "shape": "NotifyResourceDeploymentStatusChangeOutput"
      }
    },
    "RejectEnvironmentAccountConnection": {
      "documentation": "<p>In a management account, reject an environment account connection from another environment account.</p> <p>After you reject an environment account connection request, you <i>can't</i> accept or use the rejected environment account connection.</p> <p>You <i>can\u2019t</i> reject an environment account connection that's connected to an environment.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RejectEnvironmentAccountConnectionInput"
      },
      "name": "RejectEnvironmentAccountConnection",
      "output": {
        "shape": "RejectEnvironmentAccountConnectionOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Tag a resource. A tag is a key-value pair of metadata that you associate with an Proton resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove a customer tag from a resource. A tag is a key-value pair of metadata associated with an Proton resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateAccountSettings": {
      "documentation": "<p>Update Proton settings that are used for multiple services in the Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAccountSettingsInput"
      },
      "name": "UpdateAccountSettings",
      "output": {
        "shape": "UpdateAccountSettingsOutput"
      }
    },
    "UpdateComponent": {
      "documentation": "<p>Update a component.</p> <p>There are a few modes for updating a component. The <code>deploymentType</code> field defines the mode.</p> <note> <p>You can't update a component while its deployment status, or the deployment status of a service instance attached to it, is <code>IN_PROGRESS</code>.</p> </note> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateComponentInput"
      },
      "name": "UpdateComponent",
      "output": {
        "shape": "UpdateComponentOutput"
      }
    },
    "UpdateEnvironment": {
      "documentation": "<p>Update an environment.</p> <p>If the environment is associated with an environment account connection, <i>don't</i> update or include the <code>protonServiceRoleArn</code> and <code>provisioningRepository</code> parameter to update or connect to an environment account connection.</p> <p>You can only update to a new environment account connection if that connection was created in the same environment account that the current environment account connection was created in. The account connection must also be associated with the current environment.</p> <p>If the environment <i>isn't</i> associated with an environment account connection, <i>don't</i> update or include the <code>environmentAccountConnectionId</code> parameter. You <i>can't</i> update or connect the environment to an environment account connection if it <i>isn't</i> already associated with an environment connection.</p> <p>You can update either the <code>environmentAccountConnectionId</code> or <code>protonServiceRoleArn</code> parameter and value. You can\u2019t update both.</p> <p>If the environment was configured for Amazon Web Services-managed provisioning, omit the <code>provisioningRepository</code> parameter.</p> <p>If the environment was configured for self-managed provisioning, specify the <code>provisioningRepository</code> parameter and omit the <code>protonServiceRoleArn</code> and <code>environmentAccountConnectionId</code> parameters.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-environments.html\">Environments</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-works-prov-methods.html\">Provisioning methods</a> in the <i>Proton User Guide</i>.</p> <p>There are four modes for updating an environment. The <code>deploymentType</code> field defines the mode.</p> <dl> <dt/> <dd> <p> <code>NONE</code> </p> <p>In this mode, a deployment <i>doesn't</i> occur. Only the requested metadata parameters are updated.</p> </dd> <dt/> <dd> <p> <code>CURRENT_VERSION</code> </p> <p>In this mode, the environment is deployed and updated with the new spec that you provide. Only requested parameters are updated. <i>Don\u2019t</i> include minor or major version parameters when you use this <code>deployment-type</code>.</p> </dd> <dt/> <dd> <p> <code>MINOR_VERSION</code> </p> <p>In this mode, the environment is deployed and updated with the published, recommended (latest) minor version of the current major version in use, by default. You can also specify a different minor version of the current major version in use.</p> </dd> <dt/> <dd> <p> <code>MAJOR_VERSION</code> </p> <p>In this mode, the environment is deployed and updated with the published, recommended (latest) major and minor version of the current template, by default. You can also specify a different major version that's higher than the major version in use and a minor version.</p> </dd> </dl>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEnvironmentInput"
      },
      "name": "UpdateEnvironment",
      "output": {
        "shape": "UpdateEnvironmentOutput"
      }
    },
    "UpdateEnvironmentAccountConnection": {
      "documentation": "<p>In an environment account, update an environment account connection to use a new IAM role.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateEnvironmentAccountConnectionInput"
      },
      "name": "UpdateEnvironmentAccountConnection",
      "output": {
        "shape": "UpdateEnvironmentAccountConnectionOutput"
      }
    },
    "UpdateEnvironmentTemplate": {
      "documentation": "<p>Update an environment template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEnvironmentTemplateInput"
      },
      "name": "UpdateEnvironmentTemplate",
      "output": {
        "shape": "UpdateEnvironmentTemplateOutput"
      }
    },
    "UpdateEnvironmentTemplateVersion": {
      "documentation": "<p>Update a major or minor version of an environment template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEnvironmentTemplateVersionInput"
      },
      "name": "UpdateEnvironmentTemplateVersion",
      "output": {
        "shape": "UpdateEnvironmentTemplateVersionOutput"
      }
    },
    "UpdateService": {
      "documentation": "<p>Edit a service description or use a spec to add and delete service instances.</p> <note> <p>Existing service instances and the service pipeline <i>can't</i> be edited using this API. They can only be deleted.</p> </note> <p>Use the <code>description</code> parameter to modify the description.</p> <p>Edit the <code>spec</code> parameter to add or delete instances.</p> <note> <p>You can't delete a service instance (remove it from the spec) if it has an attached component.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceInput"
      },
      "name": "UpdateService",
      "output": {
        "shape": "UpdateServiceOutput"
      }
    },
    "UpdateServiceInstance": {
      "documentation": "<p>Update a service instance.</p> <p>There are a few modes for updating a service instance. The <code>deploymentType</code> field defines the mode.</p> <note> <p>You can't update a service instance while its deployment status, or the deployment status of a component attached to it, is <code>IN_PROGRESS</code>.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceInstanceInput"
      },
      "name": "UpdateServiceInstance",
      "output": {
        "shape": "UpdateServiceInstanceOutput"
      }
    },
    "UpdateServicePipeline": {
      "documentation": "<p>Update the service pipeline.</p> <p>There are four modes for updating a service pipeline. The <code>deploymentType</code> field defines the mode.</p> <dl> <dt/> <dd> <p> <code>NONE</code> </p> <p>In this mode, a deployment <i>doesn't</i> occur. Only the requested metadata parameters are updated.</p> </dd> <dt/> <dd> <p> <code>CURRENT_VERSION</code> </p> <p>In this mode, the service pipeline is deployed and updated with the new spec that you provide. Only requested parameters are updated. <i>Don\u2019t</i> include major or minor version parameters when you use this <code>deployment-type</code>.</p> </dd> <dt/> <dd> <p> <code>MINOR_VERSION</code> </p> <p>In this mode, the service pipeline is deployed and updated with the published, recommended (latest) minor version of the current major version in use, by default. You can specify a different minor version of the current major version in use.</p> </dd> <dt/> <dd> <p> <code>MAJOR_VERSION</code> </p> <p>In this mode, the service pipeline is deployed and updated with the published, recommended (latest) major and minor version of the current template by default. You can specify a different major version that's higher than the major version in use and a minor version.</p> </dd> </dl>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServicePipelineInput"
      },
      "name": "UpdateServicePipeline",
      "output": {
        "shape": "UpdateServicePipelineOutput"
      }
    },
    "UpdateServiceTemplate": {
      "documentation": "<p>Update a service template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceTemplateInput"
      },
      "name": "UpdateServiceTemplate",
      "output": {
        "shape": "UpdateServiceTemplateOutput"
      }
    },
    "UpdateServiceTemplateVersion": {
      "documentation": "<p>Update a major or minor version of a service template.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceTemplateVersionInput"
      },
      "name": "UpdateServiceTemplateVersion",
      "output": {
        "shape": "UpdateServiceTemplateVersionOutput"
      }
    },
    "UpdateTemplateSyncConfig": {
      "documentation": "<p>Update template sync configuration parameters, except for the <code>templateName</code> and <code>templateType</code>. Repository details (branch, name, and provider) should be of a linked repository. A linked repository is a repository that has been registered with Proton. For more information, see <a>CreateRepository</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTemplateSyncConfigInput"
      },
      "name": "UpdateTemplateSyncConfig",
      "output": {
        "shape": "UpdateTemplateSyncConfigOutput"
      }
    }
  },
  "shapes": {
    "AcceptEnvironmentAccountConnectionInput": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the environment account connection.</p>",
          "shape": "EnvironmentAccountConnectionId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "AcceptEnvironmentAccountConnectionOutput": {
      "members": {
        "environmentAccountConnection": {
          "documentation": "<p>The environment account connection data that's returned by Proton.</p>",
          "shape": "EnvironmentAccountConnection"
        }
      },
      "required": [
        "environmentAccountConnection"
      ],
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>There <i>isn't</i> sufficient access for performing this action.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AccountSettings": {
      "documentation": "<p>Proton settings that are used for multiple services in the Amazon Web Services account.</p>",
      "members": {
        "pipelineProvisioningRepository": {
          "documentation": "<p>The linked repository for pipeline provisioning. Required if you have environments configured for self-managed provisioning with services that include pipelines. A linked repository is a repository that has been registered with Proton. For more information, see <a>CreateRepository</a>.</p>",
          "shape": "RepositoryBranch"
        },
        "pipelineServiceRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service role you want to use for provisioning pipelines. Assumed by Proton for Amazon Web Services-managed provisioning, and by customer-owned automation for self-managed provisioning.</p>",
          "shape": "PipelineRoleArn"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "max": 200,
      "min": 1,
      "type": "string"
    },
    "AwsAccountId": {
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelComponentDeploymentInput": {
      "members": {
        "componentName": {
          "documentation": "<p>The name of the component with the deployment to cancel.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "componentName"
      ],
      "type": "structure"
    },
    "CancelComponentDeploymentOutput": {
      "members": {
        "component": {
          "documentation": "<p>The detailed data of the component with the deployment that is being canceled.</p>",
          "shape": "Component"
        }
      },
      "required": [
        "component"
      ],
      "type": "structure"
    },
    "CancelEnvironmentDeploymentInput": {
      "members": {
        "environmentName": {
          "documentation": "<p>The name of the environment with the deployment to cancel.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "environmentName"
      ],
      "type": "structure"
    },
    "CancelEnvironmentDeploymentOutput": {
      "members": {
        "environment": {
          "documentation": "<p>The environment summary data that's returned by Proton.</p>",
          "shape": "Environment"
        }
      },
      "required": [
        "environment"
      ],
      "type": "structure"
    },
    "CancelServiceInstanceDeploymentInput": {
      "members": {
        "serviceInstanceName": {
          "documentation": "<p>The name of the service instance with the deployment to cancel.</p>",
          "shape": "ResourceName"
        },
        "serviceName": {
          "documentation": "<p>The name of the service with the service instance deployment to cancel.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "serviceInstanceName",
        "serviceName"
      ],
      "type": "structure"
    },
    "CancelServiceInstanceDeploymentOutput": {
      "members": {
        "serviceInstance": {
          "documentation": "<p>The service instance summary data that's returned by Proton.</p>",
          "shape": "ServiceInstance"
        }
      },
      "required": [
        "serviceInstance"
      ],
      "type": "structure"
    },
    "CancelServicePipelineDeploymentInput": {
      "members": {
        "serviceName": {
          "documentation": "<p>The name of the service with the service pipeline deployment to cancel.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "serviceName"
      ],
      "type": "structure"
    },
    "CancelServicePipelineDeploymentOutput": {
      "members": {
        "pipeline": {
          "documentation": "<p>The service pipeline detail data that's returned by Proton.</p>",
          "shape": "ServicePipeline"
        }
      },
      "required": [
        "pipeline"
      ],
      "type": "structure"
    },
    "ClientToken": {
      "max": 64,
      "min": 0,
      "pattern": "^[!-~]*$",
      "type": "string"
    },
    "CompatibleEnvironmentTemplate": {
      "documentation": "<p>Compatible environment template data.</p>",
      "members": {
        "majorVersion": {
          "documentation": "<p>The major version of the compatible environment template.</p>",
          "shape": "TemplateVersionPart"
        },
        "templateName": {
          "documentation": "<p>The compatible environment template name.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "majorVersion",
        "templateName"
      ],
      "type": "structure"
    },
    "CompatibleEnvironmentTemplateInput": {
      "documentation": "<p>Compatible environment template data.</p>",
      "members": {
        "majorVersion": {
          "documentation": "<p>The major version of the compatible environment template.</p>",
          "shape": "TemplateVersionPart"
        },
        "templateName": {
          "documentation": "<p>The compatible environment template name.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "majorVersion",
        "templateName"
      ],
      "type": "structure"
    },
    "CompatibleEnvironmentTemplateInputList": {
      "max": 10,
      "member": {
        "shape": "CompatibleEnvironmentTemplateInput"
      },
      "min": 1,
      "type": "list"
    },
    "CompatibleEnvironmentTemplateList": {
      "member": {
        "shape": "CompatibleEnvironmentTemplate"
      },
      "type": "list"
    },
    "Component": {
      "documentation": "<p>Detailed data of an Proton component resource.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ComponentArn"
        },
        "createdAt": {
          "documentation": "<p>The time when the component was created.</p>",
          "shape": "Timestamp"
        },
        "deploymentStatus": {
          "documentation": "<p>The component deployment status.</p>",
          "shape": "DeploymentStatus"
        },
        "deploymentStatusMessage": {
          "documentation": "<p>The message associated with the component deployment status.</p>",
          "shape": "StatusMessage"
        },
        "description": {
          "documentation": "<p>A description of the component.</p>",
          "shape": "Description"
        },
        "environmentName": {
          "documentation": "<p>The name of the Proton environment that this component is associated with.</p>",
          "shape": "ResourceName"
        },
        "lastDeploymentAttemptedAt": {
          "documentation": "<p>The time when a deployment of the component was last attempted.</p>",
          "shape": "Timestamp"
        },
        "lastDeploymentSucceededAt": {
          "documentation": "<p>The time when the component was last deployed successfully.</p>",
          "shape": "Timestamp"
        },
        "lastModifiedAt": {
          "documentation": "<p>The time when the component was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "serviceInstanceName": {
          "documentation": "<p>The name of the service instance that this component is attached to. Provided when a component is attached to a service instance.</p>",
          "shape": "ResourceName"
        },
        "serviceName": {
          "documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. Provided when a component is attached to a service instance.</p>",
          "shape": "ResourceName"
        },
        "serviceSpec": {
          "documentation": "<p>The service spec that the component uses to access service inputs. Provided when a component is attached to a service instance.</p>",
          "shape": "SpecContents"
        }
      },
      "required": [
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentName",
        "lastModifiedAt",
        "name"
      ],
      "type": "structure"
    },
    "ComponentArn": {
      "type": "string"
    },
    "ComponentDeploymentUpdateType": {
      "enum": [
        "NONE",
        "CURRENT_VERSION"
      ],
      "type": "string"
    },
    "ComponentSummary": {
      "documentation": "<p>Summary data of an Proton component resource.</p> <p>For more information about components, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the <i>Proton User Guide</i>.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ComponentArn"
        },
        "createdAt": {
          "documentation": "<p>The time when the component was created.</p>",
          "shape": "Timestamp"
        },
        "deploymentStatus": {
          "documentation": "<p>The component deployment status.</p>",
          "shape": "DeploymentStatus"
        },
        "deploymentStatusMessage": {
          "documentation": "<p>The message associated with the component deployment status.</p>",
          "shape": "StatusMessage"
        },
        "environmentName": {
          "documentation": "<p>The name of the Proton environment that this component is associated with.</p>",
          "shape": "ResourceName"
        },
        "lastDeploymentAttemptedAt": {
          "documentation": "<p>The time when a deployment of the component was last attempted.</p>",
          "shape": "Timestamp"
        },
        "lastDeploymentSucceededAt": {
          "documentation": "<p>The time when the component was last deployed successfully.</p>",
          "shape": "Timestamp"
        },
        "lastModifiedAt": {
          "documentation": "<p>The time when the component was last modified.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "serviceInstanceName": {
          "documentation": "<p>The name of the service instance that this component is attached to. Provided when a component is attached to a service instance.</p>",
          "shape": "ResourceName"
        },
        "serviceName": {
          "documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. Provided when a component is attached to a service instance.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "arn",
        "createdAt",
        "deploymentStatus",
        "environmentName",
        "lastModifiedAt",
        "name"
      ],
      "type": "structure"
    },
    "ComponentSummaryList": {
      "member": {
        "shape": "ComponentSummary"
      },
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>The request <i>couldn't</i> be made due to a conflicting operation or resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CreateComponentInput": {
      "members": {
        "description": {
          "documentation": "<p>An optional customer-provided description of the component.</p>",
          "shape": "Description"
        },
        "environmentName": {
          "documentation": "<p>The name of the Proton environment that you want to associate this component with. You must specify this when you don't specify <code>serviceInstanceName</code> and <code>serviceName</code>.</p>",
          "shape": "ResourceName"
        },
        "manifest": {
          "documentation": "<p>A path to a manifest file that lists the Infrastructure as Code (IaC) file, template language, and rendering engine for infrastructure that a custom component provisions.</p>",
          "shape": "TemplateManifestContents"
        },
        "name": {
          "documentation": "<p>The customer-provided name of the component.</p>",
          "shape": "ResourceName"
        },
        "serviceInstanceName": {
          "documentation": "<p>The name of the service instance that you want to attach this component to. If you don't specify this, the component isn't attached to any service instance. Specify both <code>serviceInstanceName</code> and <code>serviceName</code> or neither of them.</p>",
          "shape": "ResourceName"
        },
        "serviceName": {
          "documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. If you don't specify this, the component isn't attached to any service instance. Specify both <code>serviceInstanceName</code> and <code>serviceName</code> or neither of them.</p>",
[...]
