{
  "documentation": "<p>This section provides documentation for the AWS RoboMaker API operations.</p>",
  "metadata": {
    "apiVersion": "2018-06-29",
    "endpointPrefix": "robomaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "RoboMaker",
    "serviceFullName": "AWS RoboMaker",
    "serviceId": "RoboMaker",
    "signatureVersion": "v4",
    "signingName": "robomaker",
    "uid": "robomaker-2018-06-29"
  },
  "operations": {
    "BatchDeleteWorlds": {
      "documentation": "<p>Deletes one or more worlds in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/batchDeleteWorlds"
      },
      "input": {
        "shape": "BatchDeleteWorldsRequest"
      },
      "name": "BatchDeleteWorlds",
      "output": {
        "shape": "BatchDeleteWorldsResponse"
      }
    },
    "BatchDescribeSimulationJob": {
      "documentation": "<p>Describes one or more simulation jobs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/batchDescribeSimulationJob"
      },
      "input": {
        "shape": "BatchDescribeSimulationJobRequest"
      },
      "name": "BatchDescribeSimulationJob",
      "output": {
        "shape": "BatchDescribeSimulationJobResponse"
      }
    },
    "CancelDeploymentJob": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Cancels the specified deployment job.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelDeploymentJob"
      },
      "input": {
        "shape": "CancelDeploymentJobRequest"
      },
      "name": "CancelDeploymentJob",
      "output": {
        "shape": "CancelDeploymentJobResponse"
      }
    },
    "CancelSimulationJob": {
      "documentation": "<p>Cancels the specified simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelSimulationJob"
      },
      "input": {
        "shape": "CancelSimulationJobRequest"
      },
      "name": "CancelSimulationJob",
      "output": {
        "shape": "CancelSimulationJobResponse"
      }
    },
    "CancelSimulationJobBatch": {
      "documentation": "<p>Cancels a simulation job batch. When you cancel a simulation job batch, you are also cancelling all of the active simulation jobs created as part of the batch. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelSimulationJobBatch"
      },
      "input": {
        "shape": "CancelSimulationJobBatchRequest"
      },
      "name": "CancelSimulationJobBatch",
      "output": {
        "shape": "CancelSimulationJobBatchResponse"
      }
    },
    "CancelWorldExportJob": {
      "documentation": "<p>Cancels the specified export job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelWorldExportJob"
      },
      "input": {
        "shape": "CancelWorldExportJobRequest"
      },
      "name": "CancelWorldExportJob",
      "output": {
        "shape": "CancelWorldExportJobResponse"
      }
    },
    "CancelWorldGenerationJob": {
      "documentation": "<p>Cancels the specified world generator job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelWorldGenerationJob"
      },
      "input": {
        "shape": "CancelWorldGenerationJobRequest"
      },
      "name": "CancelWorldGenerationJob",
      "output": {
        "shape": "CancelWorldGenerationJobResponse"
      }
    },
    "CreateDeploymentJob": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Deploys a specific version of a robot application to robots in a fleet.</p> <important> <p>This API is no longer supported and will throw an error if used.</p> </important> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentDeploymentException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createDeploymentJob"
      },
      "input": {
        "shape": "CreateDeploymentJobRequest"
      },
      "name": "CreateDeploymentJob",
      "output": {
        "shape": "CreateDeploymentJobResponse"
      }
    },
    "CreateFleet": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Creates a fleet, a logical group of robots running the same robot application.</p> <important> <p>This API is no longer supported and will throw an error if used.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createFleet"
      },
      "input": {
        "shape": "CreateFleetRequest"
      },
      "name": "CreateFleet",
      "output": {
        "shape": "CreateFleetResponse"
      }
    },
    "CreateRobot": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Creates a robot.</p> <important> <p>This API is no longer supported and will throw an error if used.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobot"
      },
      "input": {
        "shape": "CreateRobotRequest"
      },
      "name": "CreateRobot",
      "output": {
        "shape": "CreateRobotResponse"
      }
    },
    "CreateRobotApplication": {
      "documentation": "<p>Creates a robot application. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobotApplication"
      },
      "input": {
        "shape": "CreateRobotApplicationRequest"
      },
      "name": "CreateRobotApplication",
      "output": {
        "shape": "CreateRobotApplicationResponse"
      }
    },
    "CreateRobotApplicationVersion": {
      "documentation": "<p>Creates a version of a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobotApplicationVersion"
      },
      "input": {
        "shape": "CreateRobotApplicationVersionRequest"
      },
      "name": "CreateRobotApplicationVersion",
      "output": {
        "shape": "CreateRobotApplicationVersionResponse"
      }
    },
    "CreateSimulationApplication": {
      "documentation": "<p>Creates a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationApplication"
      },
      "input": {
        "shape": "CreateSimulationApplicationRequest"
      },
      "name": "CreateSimulationApplication",
      "output": {
        "shape": "CreateSimulationApplicationResponse"
      }
    },
    "CreateSimulationApplicationVersion": {
      "documentation": "<p>Creates a simulation application with a specific revision id.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationApplicationVersion"
      },
      "input": {
        "shape": "CreateSimulationApplicationVersionRequest"
      },
      "name": "CreateSimulationApplicationVersion",
      "output": {
        "shape": "CreateSimulationApplicationVersionResponse"
      }
    },
    "CreateSimulationJob": {
      "documentation": "<p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationJob"
      },
      "input": {
        "shape": "CreateSimulationJobRequest"
      },
      "name": "CreateSimulationJob",
      "output": {
        "shape": "CreateSimulationJobResponse"
      }
    },
    "CreateWorldExportJob": {
      "documentation": "<p>Creates a world export job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createWorldExportJob"
      },
      "input": {
        "shape": "CreateWorldExportJobRequest"
      },
      "name": "CreateWorldExportJob",
      "output": {
        "shape": "CreateWorldExportJobResponse"
      }
    },
    "CreateWorldGenerationJob": {
      "documentation": "<p>Creates worlds using the specified template.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createWorldGenerationJob"
      },
      "input": {
        "shape": "CreateWorldGenerationJobRequest"
      },
      "name": "CreateWorldGenerationJob",
      "output": {
        "shape": "CreateWorldGenerationJobResponse"
      }
    },
    "CreateWorldTemplate": {
      "documentation": "<p>Creates a world template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createWorldTemplate"
      },
      "input": {
        "shape": "CreateWorldTemplateRequest"
      },
      "name": "CreateWorldTemplate",
      "output": {
        "shape": "CreateWorldTemplateResponse"
      }
    },
    "DeleteFleet": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Deletes a fleet.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteFleet"
      },
      "input": {
        "shape": "DeleteFleetRequest"
      },
      "name": "DeleteFleet",
      "output": {
        "shape": "DeleteFleetResponse"
      }
    },
    "DeleteRobot": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Deletes a robot.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteRobot"
      },
      "input": {
        "shape": "DeleteRobotRequest"
      },
      "name": "DeleteRobot",
      "output": {
        "shape": "DeleteRobotResponse"
      }
    },
    "DeleteRobotApplication": {
      "documentation": "<p>Deletes a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteRobotApplication"
      },
      "input": {
        "shape": "DeleteRobotApplicationRequest"
      },
      "name": "DeleteRobotApplication",
      "output": {
        "shape": "DeleteRobotApplicationResponse"
      }
    },
    "DeleteSimulationApplication": {
      "documentation": "<p>Deletes a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteSimulationApplication"
      },
      "input": {
        "shape": "DeleteSimulationApplicationRequest"
      },
      "name": "DeleteSimulationApplication",
      "output": {
        "shape": "DeleteSimulationApplicationResponse"
      }
    },
    "DeleteWorldTemplate": {
      "documentation": "<p>Deletes a world template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteWorldTemplate"
      },
      "input": {
        "shape": "DeleteWorldTemplateRequest"
      },
      "name": "DeleteWorldTemplate",
      "output": {
        "shape": "DeleteWorldTemplateResponse"
      }
    },
    "DeregisterRobot": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Deregisters a robot.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deregisterRobot"
      },
      "input": {
        "shape": "DeregisterRobotRequest"
      },
      "name": "DeregisterRobot",
      "output": {
        "shape": "DeregisterRobotResponse"
      }
    },
    "DescribeDeploymentJob": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Describes a deployment job.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeDeploymentJob"
      },
      "input": {
        "shape": "DescribeDeploymentJobRequest"
      },
      "name": "DescribeDeploymentJob",
      "output": {
        "shape": "DescribeDeploymentJobResponse"
      }
    },
    "DescribeFleet": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Describes a fleet.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeFleet"
      },
      "input": {
        "shape": "DescribeFleetRequest"
      },
      "name": "DescribeFleet",
      "output": {
        "shape": "DescribeFleetResponse"
      }
    },
    "DescribeRobot": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Describes a robot.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeRobot"
      },
      "input": {
        "shape": "DescribeRobotRequest"
      },
      "name": "DescribeRobot",
      "output": {
        "shape": "DescribeRobotResponse"
      }
    },
    "DescribeRobotApplication": {
      "documentation": "<p>Describes a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeRobotApplication"
      },
      "input": {
        "shape": "DescribeRobotApplicationRequest"
      },
      "name": "DescribeRobotApplication",
      "output": {
        "shape": "DescribeRobotApplicationResponse"
      }
    },
    "DescribeSimulationApplication": {
      "documentation": "<p>Describes a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationApplication"
      },
      "input": {
        "shape": "DescribeSimulationApplicationRequest"
      },
      "name": "DescribeSimulationApplication",
      "output": {
        "shape": "DescribeSimulationApplicationResponse"
      }
    },
    "DescribeSimulationJob": {
      "documentation": "<p>Describes a simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationJob"
      },
      "input": {
        "shape": "DescribeSimulationJobRequest"
      },
      "name": "DescribeSimulationJob",
      "output": {
        "shape": "DescribeSimulationJobResponse"
      }
    },
    "DescribeSimulationJobBatch": {
      "documentation": "<p>Describes a simulation job batch.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationJobBatch"
      },
      "input": {
        "shape": "DescribeSimulationJobBatchRequest"
      },
      "name": "DescribeSimulationJobBatch",
      "output": {
        "shape": "DescribeSimulationJobBatchResponse"
      }
    },
    "DescribeWorld": {
      "documentation": "<p>Describes a world.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeWorld"
      },
      "input": {
        "shape": "DescribeWorldRequest"
      },
      "name": "DescribeWorld",
      "output": {
        "shape": "DescribeWorldResponse"
      }
    },
    "DescribeWorldExportJob": {
      "documentation": "<p>Describes a world export job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeWorldExportJob"
      },
      "input": {
        "shape": "DescribeWorldExportJobRequest"
      },
      "name": "DescribeWorldExportJob",
      "output": {
        "shape": "DescribeWorldExportJobResponse"
      }
    },
    "DescribeWorldGenerationJob": {
      "documentation": "<p>Describes a world generation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeWorldGenerationJob"
      },
      "input": {
        "shape": "DescribeWorldGenerationJobRequest"
      },
      "name": "DescribeWorldGenerationJob",
      "output": {
        "shape": "DescribeWorldGenerationJobResponse"
      }
    },
    "DescribeWorldTemplate": {
      "documentation": "<p>Describes a world template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeWorldTemplate"
      },
      "input": {
        "shape": "DescribeWorldTemplateRequest"
      },
      "name": "DescribeWorldTemplate",
      "output": {
        "shape": "DescribeWorldTemplateResponse"
      }
    },
    "GetWorldTemplateBody": {
      "documentation": "<p>Gets the world template body.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getWorldTemplateBody"
      },
      "input": {
        "shape": "GetWorldTemplateBodyRequest"
      },
      "name": "GetWorldTemplateBody",
      "output": {
        "shape": "GetWorldTemplateBodyResponse"
      }
    },
    "ListDeploymentJobs": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Returns a list of deployment jobs for a fleet. You can optionally provide filters to retrieve specific deployment jobs.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listDeploymentJobs"
      },
      "input": {
        "shape": "ListDeploymentJobsRequest"
      },
      "name": "ListDeploymentJobs",
      "output": {
        "shape": "ListDeploymentJobsResponse"
      }
    },
    "ListFleets": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Returns a list of fleets. You can optionally provide filters to retrieve specific fleets.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listFleets"
      },
      "input": {
        "shape": "ListFleetsRequest"
      },
      "name": "ListFleets",
      "output": {
        "shape": "ListFleetsResponse"
      }
    },
    "ListRobotApplications": {
      "documentation": "<p>Returns a list of robot application. You can optionally provide filters to retrieve specific robot applications.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listRobotApplications"
      },
      "input": {
        "shape": "ListRobotApplicationsRequest"
      },
      "name": "ListRobotApplications",
      "output": {
        "shape": "ListRobotApplicationsResponse"
      }
    },
    "ListRobots": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Returns a list of robots. You can optionally provide filters to retrieve specific robots.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listRobots"
      },
      "input": {
        "shape": "ListRobotsRequest"
      },
      "name": "ListRobots",
      "output": {
        "shape": "ListRobotsResponse"
      }
    },
    "ListSimulationApplications": {
      "documentation": "<p>Returns a list of simulation applications. You can optionally provide filters to retrieve specific simulation applications. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationApplications"
      },
      "input": {
        "shape": "ListSimulationApplicationsRequest"
      },
      "name": "ListSimulationApplications",
      "output": {
        "shape": "ListSimulationApplicationsResponse"
      }
    },
    "ListSimulationJobBatches": {
      "documentation": "<p>Returns a list simulation job batches. You can optionally provide filters to retrieve specific simulation batch jobs. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationJobBatches"
      },
      "input": {
        "shape": "ListSimulationJobBatchesRequest"
      },
      "name": "ListSimulationJobBatches",
      "output": {
        "shape": "ListSimulationJobBatchesResponse"
      }
    },
    "ListSimulationJobs": {
      "documentation": "<p>Returns a list of simulation jobs. You can optionally provide filters to retrieve specific simulation jobs. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationJobs"
      },
      "input": {
        "shape": "ListSimulationJobsRequest"
      },
      "name": "ListSimulationJobs",
      "output": {
        "shape": "ListSimulationJobsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags on a AWS RoboMaker resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWorldExportJobs": {
      "documentation": "<p>Lists world export jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listWorldExportJobs"
      },
      "input": {
        "shape": "ListWorldExportJobsRequest"
      },
      "name": "ListWorldExportJobs",
      "output": {
        "shape": "ListWorldExportJobsResponse"
      }
    },
    "ListWorldGenerationJobs": {
      "documentation": "<p>Lists world generator jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listWorldGenerationJobs"
      },
      "input": {
        "shape": "ListWorldGenerationJobsRequest"
      },
      "name": "ListWorldGenerationJobs",
      "output": {
        "shape": "ListWorldGenerationJobsResponse"
      }
    },
    "ListWorldTemplates": {
      "documentation": "<p>Lists world templates.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listWorldTemplates"
      },
      "input": {
        "shape": "ListWorldTemplatesRequest"
      },
      "name": "ListWorldTemplates",
      "output": {
        "shape": "ListWorldTemplatesResponse"
      }
    },
    "ListWorlds": {
      "documentation": "<p>Lists worlds.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listWorlds"
      },
      "input": {
        "shape": "ListWorldsRequest"
      },
      "name": "ListWorlds",
      "output": {
        "shape": "ListWorldsResponse"
      }
    },
    "RegisterRobot": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Registers a robot with a fleet.</p> <important> <p>This API is no longer supported and will throw an error if used.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/registerRobot"
      },
      "input": {
        "shape": "RegisterRobotRequest"
      },
      "name": "RegisterRobot",
      "output": {
        "shape": "RegisterRobotResponse"
      }
    },
    "RestartSimulationJob": {
      "documentation": "<p>Restarts a running simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restartSimulationJob"
      },
      "input": {
        "shape": "RestartSimulationJobRequest"
      },
      "name": "RestartSimulationJob",
      "output": {
        "shape": "RestartSimulationJobResponse"
      }
    },
    "StartSimulationJobBatch": {
      "documentation": "<p>Starts a new simulation job batch. The batch is defined using one or more <code>SimulationJobRequest</code> objects. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/startSimulationJobBatch"
      },
      "input": {
        "shape": "StartSimulationJobBatchRequest"
      },
      "name": "StartSimulationJobBatch",
      "output": {
        "shape": "StartSimulationJobBatchResponse"
      }
    },
    "SyncDeploymentJob": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "documentation": "<p>Syncrhonizes robots in a fleet to the latest deployment. This is helpful if robots were added after a deployment.</p> <important> <p>This API will no longer be supported as of May 2, 2022. Use it to remove resources that were created for Deployment Service.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentDeploymentException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/syncDeploymentJob"
      },
      "input": {
        "shape": "SyncDeploymentJobRequest"
      },
      "name": "SyncDeploymentJob",
      "output": {
        "shape": "SyncDeploymentJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or edits tags for a AWS RoboMaker resource.</p> <p>Each tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty strings. </p> <p>For information about the rules that apply to tag keys and tag values, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified AWS RoboMaker resource.</p> <p>To remove a tag, specify the tag key. To change the tag value of an existing tag key, use <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/API_TagResource.html\"> <code>TagResource</code> </a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateRobotApplication": {
      "documentation": "<p>Updates a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateRobotApplication"
      },
      "input": {
        "shape": "UpdateRobotApplicationRequest"
      },
      "name": "UpdateRobotApplication",
      "output": {
        "shape": "UpdateRobotApplicationResponse"
      }
    },
    "UpdateSimulationApplication": {
      "documentation": "<p>Updates a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateSimulationApplication"
      },
      "input": {
        "shape": "UpdateSimulationApplicationRequest"
      },
      "name": "UpdateSimulationApplication",
      "output": {
        "shape": "UpdateSimulationApplicationResponse"
      }
    },
    "UpdateWorldTemplate": {
      "documentation": "<p>Updates a world template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateWorldTemplate"
      },
      "input": {
        "shape": "UpdateWorldTemplateRequest"
      },
      "name": "UpdateWorldTemplate",
      "output": {
        "shape": "UpdateWorldTemplateResponse"
      }
    }
  },
  "shapes": {
    "Architecture": {
      "enum": [
        "X86_64",
        "ARM64",
        "ARMHF"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 1224,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "Arns": {
      "max": 100,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteWorldsRequest": {
      "members": {
        "worlds": {
          "documentation": "<p>A list of Amazon Resource Names (arns) that correspond to worlds to delete.</p>",
          "shape": "Arns"
        }
      },
      "required": [
        "worlds"
      ],
      "type": "structure"
    },
    "BatchDeleteWorldsResponse": {
      "members": {
        "unprocessedWorlds": {
          "documentation": "<p>A list of unprocessed worlds associated with the call. These worlds were not deleted.</p>",
          "shape": "Arns"
        }
      },
      "type": "structure"
    },
    "BatchDescribeSimulationJobRequest": {
      "members": {
        "jobs": {
          "documentation": "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
          "shape": "Arns"
        }
      },
      "required": [
        "jobs"
      ],
      "type": "structure"
    },
    "BatchDescribeSimulationJobResponse": {
      "members": {
        "jobs": {
          "documentation": "<p>A list of simulation jobs.</p>",
          "shape": "SimulationJobs"
        },
        "unprocessedJobs": {
          "documentation": "<p>A list of unprocessed simulation job Amazon Resource Names (ARNs).</p>",
          "shape": "Arns"
        }
      },
      "type": "structure"
    },
    "BatchPolicy": {
      "documentation": "<p>Information about the batch policy.</p>",
      "members": {
        "maxConcurrency": {
          "documentation": "<p>The number of active simulation jobs create as part of the batch that can be in an active state at the same time. </p> <p>Active states include: <code>Pending</code>,<code>Preparing</code>, <code>Running</code>, <code>Restarting</code>, <code>RunningFailed</code> and <code>Terminating</code>. All other states are terminal states. </p>",
          "shape": "MaxConcurrency"
        },
        "timeoutInSeconds": {
          "documentation": "<p>The amount of time, in seconds, to wait for the batch to complete. </p> <p>If a batch times out, and there are pending requests that were failing due to an internal failure (like <code>InternalServiceError</code>), they will be moved to the failed list and the batch status will be <code>Failed</code>. If the pending requests were failing for any other reason, the failed pending requests will be moved to the failed list and the batch status will be <code>TimedOut</code>. </p>",
          "shape": "BatchTimeoutInSeconds"
        }
      },
      "type": "structure"
    },
    "BatchTimeoutInSeconds": {
      "type": "long"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxedBoolean": {
      "type": "boolean"
    },
    "CancelDeploymentJobRequest": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "job": {
          "documentation": "<p>The deployment job ARN to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelDeploymentJobResponse": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {},
      "type": "structure"
    },
    "CancelSimulationJobBatchRequest": {
      "members": {
        "batch": {
          "documentation": "<p>The id of the batch to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "batch"
      ],
      "type": "structure"
    },
    "CancelSimulationJobBatchResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelSimulationJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The simulation job ARN to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelSimulationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelWorldExportJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The Amazon Resource Name (arn) of the world export job to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelWorldExportJobResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelWorldGenerationJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The Amazon Resource Name (arn) of the world generator job to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelWorldGenerationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\-=]*",
      "type": "string"
    },
    "Command": {
      "max": 1024,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-]*",
      "type": "string"
    },
    "CommandList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "Compute": {
      "documentation": "<p>Compute information for the simulation job.</p>",
      "members": {
        "computeType": {
          "documentation": "<p>Compute type information for the simulation job.</p>",
          "shape": "ComputeType"
        },
        "gpuUnitLimit": {
          "documentation": "<p>Compute GPU unit limit for the simulation job. It is the same as the number of GPUs allocated to the SimulationJob.</p>",
          "shape": "GPUUnit"
        },
        "simulationUnitLimit": {
          "documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximum value provided. The default is 15. </p>",
          "shape": "SimulationUnit"
        }
      },
      "type": "structure"
    },
    "ComputeResponse": {
      "documentation": "<p>Compute information for the simulation job</p>",
      "members": {
        "computeType": {
          "documentation": "<p>Compute type response information for the simulation job.</p>",
          "shape": "ComputeType"
        },
        "gpuUnitLimit": {
          "documentation": "<p>Compute GPU unit limit for the simulation job. It is the same as the number of GPUs allocated to the SimulationJob.</p>",
          "shape": "GPUUnit"
        },
        "simulationUnitLimit": {
          "documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximum value provided. The default is 15. </p>",
          "shape": "SimulationUnit"
        }
      },
      "type": "structure"
    },
    "ComputeType": {
      "enum": [
        "CPU",
        "GPU_AND_CPU"
      ],
      "type": "string"
    },
    "ConcurrentDeploymentException": {
      "documentation": "<p>The failure percentage threshold percentage was met.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentJobRequest": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The requested deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet to deploy.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the deployment job.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "clientRequestToken",
        "fleet",
        "deploymentApplicationConfigs"
      ],
      "type": "structure"
    },
    "CreateDeploymentJobResponse": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>BadPermissionError</dt> <dd> <p>AWS Greengrass requires a service-level role permission to access other services. The role must include the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor\"> <code>AWSGreengrassResourceAccessRolePolicy</code> managed policy</a>. </p> </dd> <dt>ExtractingBundleFailure</dt> <dd> <p>The robot application could not be extracted from the bundle.</p> </dd> <dt>FailureThresholdBreached</dt> <dd> <p>The percentage of robots that could not be updated exceeded the percentage set for the deployment.</p> </dd> <dt>GreengrassDeploymentFailed</dt> <dd> <p>The robot application could not be deployed to the robot.</p> </dd> <dt>GreengrassGroupVersionDoesNotExist</dt> <dd> <p>The AWS Greengrass group or version associated with a robot is missing.</p> </dd> <dt>InternalServerError</dt> <dd> <p>An internal error has occurred. Retry your request, but if the problem persists, contact us with details.</p> </dd> <dt>MissingRobotApplicationArchitecture</dt> <dd> <p>The robot application does not have a source that matches the architecture of the robot.</p> </dd> <dt>MissingRobotDeploymentResource</dt> <dd> <p>One or more of the resources specified for the robot application are missing. For example, does the robot application have the correct launch package and launch file?</p> </dd> <dt>PostLaunchFileFailure</dt> <dd> <p>The post-launch script failed.</p> </dd> <dt>PreLaunchFileFailure</dt> <dd> <p>The pre-launch script failed.</p> </dd> <dt>ResourceNotFound</dt> <dd> <p>One or more deployment resources are missing. For example, do robot application source bundles still exist? </p> </dd> <dt>RobotDeploymentNoResponse</dt> <dd> <p>There is no response from the robot. It might not be powered on or connected to the internet.</p> </dd> </dl>",
          "shape": "DeploymentJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>The failure reason of the deployment job if it failed.</p>",
          "shape": "GenericString"
        },
        "fleet": {
          "documentation": "<p>The target fleet for the deployment job.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the deployment job.</p>",
          "shape": "DeploymentStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the deployment job.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateFleetRequest": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the fleet.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateFleetResponse": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the fleet.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateRobotApplicationRequest": {
      "members": {
        "environment": {
          "documentation": "<p>The object that contains that URI of the Docker image that you use for your robot application.</p>",
          "shape": "Environment"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribuition) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "SourceConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the robot application.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "robotSoftwareSuite"
      ],
      "type": "structure"
    },
    "CreateRobotApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "environment": {
          "documentation": "<p>An object that contains the Docker image URI used to a create your robot application.</p>",
          "shape": "Environment"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the robot application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the robot application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the robot application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateRobotApplicationVersionRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the robot application.</p>",
          "shape": "Arn"
        },
        "currentRevisionId": {
          "documentation": "<p>The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.</p>",
          "shape": "RevisionId"
        },
        "imageDigest": {
          "documentation": "<p>A SHA256 identifier for the Docker image that you use for your robot application.</p>",
          "shape": "ImageDigest"
        },
        "s3Etags": {
          "documentation": "<p>The Amazon S3 identifier for the zip file bundle that you use for your robot application.</p>",
          "shape": "S3Etags"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "CreateRobotApplicationVersionResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "environment": {
          "documentation": "<p>The object that contains the Docker image URI used to create your robot application.</p>",
          "shape": "Environment"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the robot application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "Sources"
        },
        "version": {
          "documentation": "<p>The version of the robot application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateRobotRequest": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "architecture": {
          "documentation": "<p>The target architecture of the robot.</p>",
          "shape": "Architecture"
        },
        "greengrassGroupId": {
          "documentation": "<p>The Greengrass group id.</p>",
          "shape": "Id"
        },
        "name": {
          "documentation": "<p>The name for the robot.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the robot.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "architecture",
        "greengrassGroupId"
      ],
      "type": "structure"
    },
    "CreateRobotResponse": {
      "deprecated": true,
      "deprecatedMessage": "AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "architecture": {
          "documentation": "<p>The target architecture of the robot.</p>",
          "shape": "Architecture"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot was created.</p>",
          "shape": "CreatedAt"
        },
        "greengrassGroupId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Greengrass group associated with the robot.</p>",
          "shape": "Id"
        },
        "name": {
          "documentation": "<p>The name of the robot.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the robot.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSimulationApplicationRequest": {
      "members": {
        "environment": {
          "documentation": "<p>The object that contains the Docker image URI used to create your simulation application.</p>",
          "shape": "Environment"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the simulation application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "SourceConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation application.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "simulationSoftwareSuite",
        "robotSoftwareSuite"
      ],
      "type": "structure"
    },
    "CreateSimulationApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>",
          "shape": "Arn"
        },
        "environment": {
          "documentation": "<p>The object that contains the Docker image URI that you used to create your simulation application.</p>",
          "shape": "Environment"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the simulation application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>Information about the robot software suite (ROS distribution).</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the simulation application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the simulation application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateSimulationApplicationVersionRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the simulation application.</p>",
          "shape": "Arn"
        },
        "currentRevisionId": {
          "documentation": "<p>The current revision id for the simulation application. If you provide a value and it matches the latest revision ID, a new version will be created.</p>",
          "shape": "RevisionId"
        },
        "imageDigest": {
          "documentation": "<p>The SHA256 digest used to identify the Docker image URI used to created the simulation application.</p>",
          "shape": "ImageDigest"
        },
        "s3Etags": {
          "documentation": "<p>The Amazon S3 eTag identifier for the zip file bundle that you use to create the simulation application.</p>",
          "shape": "S3Etags"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "CreateSimulationApplicationVersionResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>",
          "shape": "Arn"
        },
        "environment": {
          "documentation": "<p>The object that contains the Docker image URI used to create the simulation application.</p>",
          "shape": "Environment"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "revisionId": {
          "documentation": "<p>The revision ID of the simulation application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>Information about the robot software suite (ROS distribution).</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "Sources"
        },
        "version": {
          "documentation": "<p>The version of the simulation application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateSimulationJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "compute": {
          "documentation": "<p>Compute information for the simulation job.</p>",
          "shape": "Compute"
        },
        "dataSources": {
          "documentation": "<p>Specify data sources to mount read-only files from S3 into your simulation. These files are available under <code>/opt/robomaker/datasources/data_source_name</code>. </p> <note> <p>There is a limit of 100 files and a combined size of 25GB for all <code>DataSourceConfig</code> objects. </p> </note>",
          "shape": "DataSourceConfigs"
        },
        "failureBehavior": {
          "documentation": "<p>The failure behavior the simulation job.</p> <dl> <dt>Continue</dt> <dd> <p>Leaves the instance running for its maximum timeout duration after a <code>4XX</code> error code.</p> </dd> <dt>Fail</dt> <dd> <p>Stop the simulation job and terminate the instance.</p> </dd> </dl>",
          "shape": "FailureBehavior"
        },
        "iamRole": {
          "documentation": "<p>The IAM role name that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf. This is how credentials are passed in to your simulation job. </p>",
          "shape": "IamRole"
        },
        "loggingConfig": {
          "documentation": "<p>The logging configuration.</p>",
          "shape": "LoggingConfig"
        },
        "maxJobDurationInSeconds": {
          "documentation": "<p>The maximum simulation job duration in seconds (up to 14 days or 1,209,600 seconds. When <code>maxJobDurationInSeconds</code> is reached, the simulation job will status will transition to <code>Completed</code>.</p>",
          "shape": "JobDuration"
        },
        "outputLocation": {
          "documentation": "<p>Location for output files generated by the simulation job.</p>",
          "shape": "OutputLocation"
        },
        "robotApplications": {
          "documentation": "<p>The robot application to use in the simulation job.</p>",
          "shape": "RobotApplicationConfigs"
        },
        "simulationApplications": {
          "documentation": "<p>The simulation application to use in the simulation job.</p>",
          "shape": "SimulationApplicationConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation job.</p>",
          "shape": "TagMap"
        },
        "vpcConfig": {
          "documentation": "<p>If your simulation job accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and one subnet ID. </p>",
          "shape": "VPCConfig"
        }
      },
      "required": [
        "maxJobDurationInSeconds",
        "iamRole"
      ],
      "type": "structure"
    },
    "CreateSimulationJobRequests": {
      "max": 1000,
      "member": {
        "shape": "SimulationJobRequest"
      },
      "min": 1,
      "type": "list"
    },
    "CreateSimulationJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation job.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "compute": {
          "documentation": "<p>Compute information for the simulation job.</p>",
          "shape": "ComputeResponse"
        },
        "dataSources": {
          "documentation": "<p>The data sources for the simulation job.</p>",
          "shape": "DataSources"
        },
        "failureBehavior": {
          "documentation": "<p>the failure behavior for the simulation job.</p>",
          "shape": "FailureBehavior"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>InternalServiceError</dt> <dd> <p>Internal service error.</p> </dd> <dt>RobotApplicationCrash</dt> <dd> <p>Robot application exited abnormally.</p> </dd> <dt>SimulationApplicationCrash</dt> <dd> <p> Simulation application exited abnormally.</p> </dd> <dt>BadPermissionsRobotApplication</dt> <dd> <p>Robot application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsSimulationApplication</dt> <dd> <p>Simulation application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsS3Output</dt> <dd> <p>Unable to publish outputs to customer-provided S3 bucket.</p> </dd> <dt>BadPermissionsCloudwatchLogs</dt> <dd> <p>Unable to publish logs to customer-provided CloudWatch Logs resource.</p> </dd> <dt>SubnetIpLimitExceeded</dt> <dd> <p>Subnet IP limit exceeded.</p> </dd> <dt>ENILimitExceeded</dt> <dd> <p>ENI limit exceeded.</p> </dd> <dt>BadPermissionsUserCredentials</dt> <dd> <p>Unable to use the Role provided.</p> </dd> <dt>InvalidBundleRobotApplication</dt> <dd> <p>Robot bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>InvalidBundleSimulationApplication</dt> <dd> <p>Simulation bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>RobotApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for RobotApplication does not match value during version creation.</p> </dd> <dt>SimulationApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for SimulationApplication does not match value during version creation.</p> </dd> </dl>",
          "shape": "SimulationJobErrorCode"
        },
        "iamRole": {
          "documentation": "<p>The IAM role that allows the simulation job to call the AWS APIs that are specified in its associated policies on your behalf.</p>",
          "shape": "IamRole"
        },
        "lastStartedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last started.</p>",
          "shape": "LastStartedAt"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "loggingConfig": {
          "documentation": "<p>The logging configuration.</p>",
          "shape": "LoggingConfig"
        },
        "maxJobDurationInSeconds": {
          "documentation": "<p>The maximum simulation job duration in seconds. </p>",
          "shape": "JobDuration"
        },
        "outputLocation": {
          "documentation": "<p>Simulation job output files location.</p>",
          "shape": "OutputLocation"
        },
        "robotApplications": {
          "documentation": "<p>The robot application used by the simulation job.</p>",
          "shape": "RobotApplicationConfigs"
        },
        "simulationApplications": {
          "documentation": "<p>The simulation application used by the simulation job.</p>",
          "shape": "SimulationApplicationConfigs"
        },
        "simulationTimeMillis": {
          "documentation": "<p>The simulation job execution duration in milliseconds.</p>",
          "shape": "SimulationTimeMillis"
        },
        "status": {
          "documentation": "<p>The status of the simulation job.</p>",
          "shape": "SimulationJobStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the simulation job.</p>",
          "shape": "TagMap"
        },
        "vpcConfig": {
          "documentation": "<p>Information about the vpc configuration.</p>",
          "shape": "VPCConfigResponse"
        }
      },
      "type": "structure"
    },
    "CreateWorldExportJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "iamRole": {
          "documentation": "<p>The IAM role that the world export process uses to access the Amazon S3 bucket and put the export.</p>",
          "shape": "IamRole"
        },
        "outputLocation": {
          "shape": "OutputLocation"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world export job.</p>",
          "shape": "TagMap"
        },
        "worlds": {
          "documentation": "<p>A list of Amazon Resource Names (arns) that correspond to worlds to export.</p>",
          "shape": "Arns"
        }
      },
      "required": [
        "worlds",
        "outputLocation",
        "iamRole"
      ],
      "type": "structure"
    },
    "CreateWorldExportJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the world export job.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the world export job was created.</p>",
          "shape": "CreatedAt"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the world export job if it failed:</p> <dl> <dt>InternalServiceError</dt> <dd> <p>Internal service error.</p> </dd> <dt>LimitExceeded</dt> <dd> <p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p> </dd> <dt>ResourceNotFound</dt> <dd> <p>The specified resource could not be found. </p> </dd> <dt>RequestThrottled</dt> <dd> <p>The request was throttled.</p> </dd> <dt>InvalidInput</dt> <dd> <p>An input parameter in the request is not valid.</p> </dd> <dt>AllWorldGenerationFailed</dt> <dd> <p>All of the worlds in the world generation job failed. This can happen if your <code>worldCount</code> is greater than 50 or less than 1. </p> </dd> </dl> <p>For more information about troubleshooting WorldForge, see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/troubleshooting-worldforge.html\">Troubleshooting Simulation WorldForge</a>. </p>",
          "shape": "WorldExportJobErrorCode"
        },
        "iamRole": {
          "documentation": "<p>The IAM role that the world export process uses to access the Amazon S3 bucket and put the export. </p>",
          "shape": "IamRole"
        },
        "outputLocation": {
          "shape": "OutputLocation"
        },
        "status": {
          "documentation": "<p>The status of the world export job.</p> <dl> <dt>Pending</dt> <dd> <p>The world export job request is pending.</p> </dd> <dt>Running</dt> <dd> <p>The world export job is running. </p> </dd> <dt>Completed</dt> <dd> <p>The world export job completed. </p> </dd> <dt>Failed</dt> <dd> <p>The world export job failed. See <code>failureCode</code> for more information. </p> </dd> <dt>Canceled</dt> <dd> <p>The world export job was cancelled.</p> </dd> <dt>Canceling</dt> <dd> <p>The world export job is being cancelled.</p> </dd> </dl>",
          "shape": "WorldExportJobStatus"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world export job.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateWorldGenerationJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world generator job.</p>",
          "shape": "TagMap"
        },
        "template": {
          "documentation": "<p>The Amazon Resource Name (arn) of the world template describing the worlds you want to create.</p>",
          "shape": "Arn"
        },
        "worldCount": {
          "documentation": "<p>Information about the world count.</p>",
          "shape": "WorldCount"
        },
        "worldTags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the generated worlds.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "template",
        "worldCount"
      ],
      "type": "structure"
    },
    "CreateWorldGenerationJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the world generator job.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the world generator job was created.</p>",
          "shape": "CreatedAt"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the world generator job if it failed:</p> <dl> <dt>InternalServiceError</dt> <dd> <p>Internal service error.</p> </dd> <dt>LimitExceeded</dt> <dd> <p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p> </dd> <dt>ResourceNotFound</dt> <dd> <p>The specified resource could not be found. </p> </dd> <dt>RequestThrottled</dt> <dd> <p>The request was throttled.</p> </dd> <dt>InvalidInput</dt> <dd> <p>An input parameter in the request is not valid.</p> </dd> </dl>",
          "shape": "WorldGenerationJobErrorCode"
        },
        "status": {
          "documentation": "<p>The status of the world generator job.</p> <dl> <dt>Pending</dt> <dd> <p>The world generator job request is pending.</p> </dd> <dt>Running</dt> <dd> <p>The world generator job is running. </p> </dd> <dt>Completed</dt> <dd> <p>The world generator job completed. </p> </dd> <dt>Failed</dt> <dd> <p>The world generator job failed. See <code>failureCode</code> for more information. </p> </dd> <dt>PartialFailed</dt> <dd> <p>Some worlds did not generate.</p> </dd> <dt>Canceled</dt> <dd> <p>The world generator job was cancelled.</p> </dd> <dt>Canceling</dt> <dd> <p>The world generator job is being cancelled.</p> </dd> </dl>",
          "shape": "WorldGenerationJobStatus"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world generator job.</p>",
          "shape": "TagMap"
        },
        "template": {
          "documentation": "<p>The Amazon Resource Name (arn) of the world template.</p>",
          "shape": "Arn"
        },
        "worldCount": {
          "documentation": "<p>Information about the world count. </p>",
          "shape": "WorldCount"
        },
        "worldTags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the generated worlds.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateWorldTemplateRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "name": {
          "documentation": "<p>The name of the world template.</p>",
          "shape": "TemplateName"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world template.</p>",
          "shape": "TagMap"
        },
        "templateBody": {
          "documentation": "<p>The world template body.</p>",
          "shape": "Json"
        },
        "templateLocation": {
          "documentation": "<p>The location of the world template.</p>",
          "shape": "TemplateLocation"
        }
      },
      "type": "structure"
    },
    "CreateWorldTemplateResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the world template.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the world template was created.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the world template.</p>",
          "shape": "TemplateName"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the world template.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreatedAt": {
      "type": "timestamp"
    },
    "DataSource": {
      "documentation": "<p>Information about a data source.</p>",
      "members": {
        "destination": {
          "documentation": "<p>The location where your files are mounted in the container image.</p> <p>If you've specified the <code>type</code> of the data source as an <code>Archive</code>, you must provide an Amazon S3 object key to your archive. The object key must point to either a <code>.zip</code> or <code>.tar.gz</code> file.</p> <p>If you've specified the <code>type</code> of the data source as a <code>Prefix</code>, you provide the Amazon S3 prefix that points to the files that you are using for your data source.</p> <p>If you've specified the <code>type</code> of the data source as a <code>File</code>, you provide the Amazon S3 path to the file that you're using as your data source.</p>",
          "shape": "Path"
        },
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "Name"
        },
        "s3Bucket": {
          "documentation": "<p>The S3 bucket where the data files are located.</p>",
          "shape": "S3Bucket"
        },
        "s3Keys": {
          "documentation": "<p>The list of S3 keys identifying the data source files.</p>",
          "shape": "S3KeyOutputs"
        },
        "type": {
          "documentation": "<p>The data type for the data source that you're using for your container image or simulation job. You can use this field to specify whether your data source is an Archive, an Amazon S3 prefix, or a file.</p> <p>If you don't specify a field, the default value is <code>File</code>.</p>",
          "shape": "DataSourceType"
        }
      },
      "type": "structure"
    },
    "DataSourceConfig": {
      "documentation": "<p>Information about a data source.</p>",
      "members": {
        "destination": {
          "documentation": "<p>The location where your files are mounted in the container image.</p> <p>If you've specified the <code>type</code> of the data source as an <code>Archive</code>, you must provide an Amazon S3 object key to your archive. The object key must point to either a <code>.zip</code> or <code>.tar.gz</code> file.</p> <p>If you've specified the <code>type</code> of the data source as a <code>Prefix</code>, you provide the Amazon S3 prefix that points to the files that you are using for your data source.</p> <p>If you've specified the <code>type</code> of the data source as a <code>File</code>, you provide the Amazon S3 path to the file that you're using as your data source.</p>",
          "shape": "Path"
        },
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "Name"
        },
        "s3Bucket": {
          "documentation": "<p>The S3 bucket where the data files are located.</p>",
          "shape": "S3Bucket"
        },
        "s3Keys": {
          "documentation": "<p>The list of S3 keys identifying the data source files.</p>",
          "shape": "S3KeysOrPrefixes"
        },
        "type": {
          "documentation": "<p>The data type for the data source that you're using for your container image or simulation job. You can use this field to specify whether your data source is an Archive, an Amazon S3 prefix, or a file.</p> <p>If you don't specify a field, the default value is <code>File</code>.</p>",
          "shape": "DataSourceType"
        }
      },
      "required": [
        "name",
        "s3Bucket",
        "s3Keys"
      ],
      "type": "structure"
    },
    "DataSourceConfigs": {
      "max": 6,
      "member": {
        "shape": "DataSourceConfig"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceNames": {
      "member": {
        "shape": "Name"
      },
      "type": "list"
    },
    "DataSourceType": {
      "enum": [
        "Prefix",
        "Archive",
        "File"
      ],
      "type": "string"
    },
    "DataSources": {
      "member": {
        "shape": "DataSource"
      },
      "type": "list"
    },
    "DeleteFleetRequest": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "fleet"
      ],
      "type": "structure"
    },
    "DeleteFleetResponse": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {},
      "type": "structure"
    },
    "DeleteRobotApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the the robot application.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the robot application to delete.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DeleteRobotApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRobotRequest": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {
        "robot": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "robot"
      ],
      "type": "structure"
    },
    "DeleteRobotResponse": {
      "deprecated": true,
      "deprecatedMessage": "Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html.",
      "members": {},
      "type": "structure"
    },
    "DeleteSimulationApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the simulation application to delete.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the simulation application to delete.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DeleteSimulationApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteWorldTemplateRequest": {
      "members": {
        "template": {
[...]
