{
  "documentation": "<p>You can use the Cost Explorer API to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data. This might include the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about the costs that are associated with the Cost Explorer API, see <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
  "metadata": {
    "apiVersion": "2017-10-25",
    "endpointPrefix": "ce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Cost Explorer",
    "serviceFullName": "AWS Cost Explorer Service",
    "serviceId": "Cost Explorer",
    "signatureVersion": "v4",
    "signingName": "ce",
    "targetPrefix": "AWSInsightsIndexService",
    "uid": "ce-2017-10-25"
  },
  "operations": {
    "CreateAnomalyMonitor": {
      "documentation": "<p>Creates a new cost anomaly detection monitor with the requested type and monitor specification. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAnomalyMonitorRequest"
      },
      "name": "CreateAnomalyMonitor",
      "output": {
        "shape": "CreateAnomalyMonitorResponse"
      }
    },
    "CreateAnomalySubscription": {
      "documentation": "<p>Adds a subscription to a cost anomaly detection monitor. You can use each subscription to define subscribers with email or SNS notifications. Email subscribers can set a dollar threshold and a time frequency for receiving notifications. </p>",
      "errors": [
        {
          "shape": "UnknownMonitorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAnomalySubscriptionRequest"
      },
      "name": "CreateAnomalySubscription",
      "output": {
        "shape": "CreateAnomalySubscriptionResponse"
      }
    },
    "CreateCostCategoryDefinition": {
      "documentation": "<p>Creates a new Cost Category with the requested name and rules.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCostCategoryDefinitionRequest"
      },
      "name": "CreateCostCategoryDefinition",
      "output": {
        "shape": "CreateCostCategoryDefinitionResponse"
      }
    },
    "DeleteAnomalyMonitor": {
      "documentation": "<p>Deletes a cost anomaly monitor. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownMonitorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAnomalyMonitorRequest"
      },
      "name": "DeleteAnomalyMonitor",
      "output": {
        "shape": "DeleteAnomalyMonitorResponse"
      }
    },
    "DeleteAnomalySubscription": {
      "documentation": "<p>Deletes a cost anomaly subscription. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownSubscriptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAnomalySubscriptionRequest"
      },
      "name": "DeleteAnomalySubscription",
      "output": {
        "shape": "DeleteAnomalySubscriptionResponse"
      }
    },
    "DeleteCostCategoryDefinition": {
      "documentation": "<p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCostCategoryDefinitionRequest"
      },
      "name": "DeleteCostCategoryDefinition",
      "output": {
        "shape": "DeleteCostCategoryDefinitionResponse"
      }
    },
    "DescribeCostCategoryDefinition": {
      "documentation": "<p>Returns the name, Amazon Resource Name (ARN), rules, definition, and effective dates of a Cost Category that's defined in the account.</p> <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that's active on a specific date. If there's no <code>EffectiveOn</code> specified, you see a Cost Category that's effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCostCategoryDefinitionRequest"
      },
      "name": "DescribeCostCategoryDefinition",
      "output": {
        "shape": "DescribeCostCategoryDefinitionResponse"
      }
    },
    "GetAnomalies": {
      "documentation": "<p>Retrieves all of the cost anomalies detected on your account during the time period that's specified by the <code>DateInterval</code> object. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAnomaliesRequest"
      },
      "name": "GetAnomalies",
      "output": {
        "shape": "GetAnomaliesResponse"
      }
    },
    "GetAnomalyMonitors": {
      "documentation": "<p>Retrieves the cost anomaly monitor definitions for your account. You can filter using a list of cost anomaly monitor Amazon Resource Names (ARNs). </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownMonitorException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAnomalyMonitorsRequest"
      },
      "name": "GetAnomalyMonitors",
      "output": {
        "shape": "GetAnomalyMonitorsResponse"
      }
    },
    "GetAnomalySubscriptions": {
      "documentation": "<p>Retrieves the cost anomaly subscription objects for your account. You can filter using a list of cost anomaly monitor Amazon Resource Names (ARNs). </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownSubscriptionException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAnomalySubscriptionsRequest"
      },
      "name": "GetAnomalySubscriptions",
      "output": {
        "shape": "GetAnomalySubscriptionsResponse"
      }
    },
    "GetCostAndUsage": {
      "documentation": "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric that you want the request to return. For example, you can specify <code>BlendedCosts</code> or <code>UsageQuantity</code>. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in Organizations have access to all member accounts.</p> <p>For information about filter limitations, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-limits.html\">Quotas and restrictions</a> in the <i>Billing and Cost Management User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostAndUsageRequest"
      },
      "name": "GetCostAndUsage",
      "output": {
        "shape": "GetCostAndUsageResponse"
      }
    },
    "GetCostAndUsageWithResources": {
      "documentation": "<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud \u2013 Compute service only.</p> <note> <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information about how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>Billing and Cost Management User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostAndUsageWithResourcesRequest"
      },
      "name": "GetCostAndUsageWithResources",
      "output": {
        "shape": "GetCostAndUsageWithResourcesResponse"
      }
    },
    "GetCostCategories": {
      "documentation": "<p>Retrieves an array of Cost Category names and values incurred cost.</p> <note> <p>If some Cost Category names and values are not associated with any cost, they will not be returned by this API.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostCategoriesRequest"
      },
      "name": "GetCostCategories",
      "output": {
        "shape": "GetCostCategoriesResponse"
      }
    },
    "GetCostForecast": {
      "documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostForecastRequest"
      },
      "name": "GetCostForecast",
      "output": {
        "shape": "GetCostForecastResponse"
      }
    },
    "GetDimensionValues": {
      "documentation": "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDimensionValuesRequest"
      },
      "name": "GetDimensionValues",
      "output": {
        "shape": "GetDimensionValuesResponse"
      }
    },
    "GetReservationCoverage": {
      "documentation": "<p>Retrieves the reservation coverage for your account, which you can use to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's management account can see the coverage of the associated member accounts. This supports dimensions, Cost Categories, and nested expressions. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationCoverageRequest"
      },
      "name": "GetReservationCoverage",
      "output": {
        "shape": "GetReservationCoverageResponse"
      }
    },
    "GetReservationPurchaseRecommendation": {
      "documentation": "<p>Gets recommendations for reservation purchases. These recommendations might help you to reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>Amazon Web Services generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After Amazon Web Services has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of Reserved Instance (RI) to purchase to maximize your estimated savings. </p> <p>For example, Amazon Web Services automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. Amazon Web Services recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible Reserved Instance (RI). Amazon Web Services also shows the equal number of normalized units. This way, you can purchase any instance size that you want. For this example, your RI recommendation is for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationPurchaseRecommendationRequest"
      },
      "name": "GetReservationPurchaseRecommendation",
      "output": {
        "shape": "GetReservationPurchaseRecommendationResponse"
      }
    },
    "GetReservationUtilization": {
      "documentation": "<p>Retrieves the reservation utilization for your account. Management account in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationUtilizationRequest"
      },
      "name": "GetReservationUtilization",
      "output": {
        "shape": "GetReservationUtilizationResponse"
      }
    },
    "GetRightsizingRecommendation": {
      "documentation": "<p>Creates recommendations that help you save cost by identifying idle and underutilized Amazon EC2 instances.</p> <p>Recommendations are generated to either downsize or terminate instances, along with providing savings detail and metrics. For more information about calculation and function, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-rightsizing.html\">Optimizing Your Cost with Rightsizing Recommendations</a> in the <i>Billing and Cost Management User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRightsizingRecommendationRequest"
      },
      "name": "GetRightsizingRecommendation",
      "output": {
        "shape": "GetRightsizingRecommendationResponse"
      }
    },
    "GetSavingsPlansCoverage": {
      "documentation": "<p>Retrieves the Savings Plans covered for your account. This enables you to see how much of your cost is covered by a Savings Plan. An organization\u2019s management account can see the coverage of the associated member accounts. This supports dimensions, Cost Categories, and nested expressions. For any time period, you can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansCoverageRequest"
      },
      "name": "GetSavingsPlansCoverage",
      "output": {
        "shape": "GetSavingsPlansCoverageResponse"
      }
    },
    "GetSavingsPlansPurchaseRecommendation": {
      "documentation": "<p>Retrieves your request parameters, Savings Plan Recommendations Summary and Details. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansPurchaseRecommendationRequest"
      },
      "name": "GetSavingsPlansPurchaseRecommendation",
      "output": {
        "shape": "GetSavingsPlansPurchaseRecommendationResponse"
      }
    },
    "GetSavingsPlansUtilization": {
      "documentation": "<p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Management account in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You can't group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansUtilizationRequest"
      },
      "name": "GetSavingsPlansUtilization",
      "output": {
        "shape": "GetSavingsPlansUtilizationResponse"
      }
    },
    "GetSavingsPlansUtilizationDetails": {
      "documentation": "<p>Retrieves attribute data along with aggregate utilization and savings data for a given time period. This doesn't support granular or grouped data (daily/monthly) in response. You can't retrieve data by dates in a single response similar to <code>GetSavingsPlanUtilization</code>, but you have the option to make multiple calls to <code>GetSavingsPlanUtilizationDetails</code> by providing individual dates. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p> <code>GetSavingsPlanUtilizationDetails</code> internally groups data by <code>SavingsPlansArn</code>.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansUtilizationDetailsRequest"
      },
      "name": "GetSavingsPlansUtilizationDetails",
      "output": {
        "shape": "GetSavingsPlansUtilizationDetailsResponse"
      }
    },
    "GetTags": {
      "documentation": "<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "GetTagsResponse"
      }
    },
    "GetUsageForecast": {
      "documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select, based on your past usage. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "UnresolvableUsageUnitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUsageForecastRequest"
      },
      "name": "GetUsageForecast",
      "output": {
        "shape": "GetUsageForecastResponse"
      }
    },
    "ListCostAllocationTags": {
      "documentation": "<p>Get a list of cost allocation tags. All inputs in the API are optional and serve as filters. By default, all cost allocation tags are returned. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCostAllocationTagsRequest"
      },
      "name": "ListCostAllocationTags",
      "output": {
        "shape": "ListCostAllocationTagsResponse"
      }
    },
    "ListCostCategoryDefinitions": {
      "documentation": "<p>Returns the name, Amazon Resource Name (ARN), <code>NumberOfRules</code> and effective dates of all Cost Categories defined in the account. You have the option to use <code>EffectiveOn</code> to return a list of Cost Categories that were active on a specific date. If there is no <code>EffectiveOn</code> specified, you\u2019ll see Cost Categories that are effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. <code>ListCostCategoryDefinitions</code> supports pagination. The request can have a <code>MaxResults</code> range up to 100.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCostCategoryDefinitionsRequest"
      },
      "name": "ListCostCategoryDefinitions",
      "output": {
        "shape": "ListCostCategoryDefinitionsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of resource tags associated with the resource specified by the Amazon Resource Name (ARN). </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ProvideAnomalyFeedback": {
      "documentation": "<p>Modifies the feedback property of a given cost anomaly. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ProvideAnomalyFeedbackRequest"
      },
      "name": "ProvideAnomalyFeedback",
      "output": {
        "shape": "ProvideAnomalyFeedbackResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>An API operation for adding one or more tags (key-value pairs) to a resource.</p> <p>You can use the <code>TagResource</code> operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value you specify replaces the previous value for that tag.</p> <p>Although the maximum number of array members is 200, user-tag maximum is 50. The remaining are reserved for Amazon Web Services use.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a resource. Specify only tag keys in your request. Don't specify the value. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAnomalyMonitor": {
      "documentation": "<p>Updates an existing cost anomaly monitor. The changes made are applied going forward, and doesn't change anomalies detected in the past. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownMonitorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAnomalyMonitorRequest"
      },
      "name": "UpdateAnomalyMonitor",
      "output": {
        "shape": "UpdateAnomalyMonitorResponse"
      }
    },
    "UpdateAnomalySubscription": {
      "documentation": "<p>Updates an existing cost anomaly monitor subscription. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnknownMonitorException"
        },
        {
          "shape": "UnknownSubscriptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAnomalySubscriptionRequest"
      },
      "name": "UpdateAnomalySubscription",
      "output": {
        "shape": "UpdateAnomalySubscriptionResponse"
      }
    },
    "UpdateCostAllocationTagsStatus": {
      "documentation": "<p>Updates status for cost allocation tags in bulk, with maximum batch size of 20. If the tag status that's updated is the same as the existing tag status, the request doesn't fail. Instead, it doesn't have any effect on the tag status (for example, activating the active tag). </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCostAllocationTagsStatusRequest"
      },
      "name": "UpdateCostAllocationTagsStatus",
      "output": {
        "shape": "UpdateCostAllocationTagsStatusResponse"
      }
    },
    "UpdateCostCategoryDefinition": {
      "documentation": "<p>Updates an existing Cost Category. Changes made to the Cost Category rules will be used to categorize the current month\u2019s expenses and future expenses. This won\u2019t change categorization for the previous months.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCostCategoryDefinitionRequest"
      },
      "name": "UpdateCostCategoryDefinition",
      "output": {
        "shape": "UpdateCostCategoryDefinitionResponse"
      }
    }
  },
  "shapes": {
    "AccountScope": {
      "enum": [
        "PAYER",
        "LINKED"
      ],
      "type": "string"
    },
    "AmortizedRecurringFee": {
      "type": "string"
    },
    "AmortizedUpfrontFee": {
      "type": "string"
    },
    "Anomalies": {
      "member": {
        "shape": "Anomaly"
      },
      "type": "list"
    },
    "Anomaly": {
      "documentation": "<p>An unusual cost pattern. This consists of the detailed metadata and the current status of the anomaly object. </p>",
      "members": {
        "AnomalyEndDate": {
          "documentation": "<p>The last day the anomaly is detected. </p>",
          "shape": "YearMonthDay"
        },
        "AnomalyId": {
          "documentation": "<p>The unique identifier for the anomaly. </p>",
          "shape": "GenericString"
        },
        "AnomalyScore": {
          "documentation": "<p>The latest and maximum score for the anomaly. </p>",
          "shape": "AnomalyScore"
        },
        "AnomalyStartDate": {
          "documentation": "<p>The first day the anomaly is detected. </p>",
          "shape": "YearMonthDay"
        },
        "DimensionValue": {
          "documentation": "<p>The dimension for the anomaly (for example, an Amazon Web Service in a service monitor). </p>",
          "shape": "GenericString"
        },
        "Feedback": {
          "documentation": "<p>The feedback value. </p>",
          "shape": "AnomalyFeedbackType"
        },
        "Impact": {
          "documentation": "<p>The dollar impact for the anomaly. </p>",
          "shape": "Impact"
        },
        "MonitorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly. </p>",
          "shape": "GenericString"
        },
        "RootCauses": {
          "documentation": "<p>The list of identified root causes for the anomaly. </p>",
          "shape": "RootCauses"
        }
      },
      "required": [
        "AnomalyId",
        "AnomalyScore",
        "Impact",
        "MonitorArn"
      ],
      "type": "structure"
    },
    "AnomalyDateInterval": {
      "documentation": "<p>The time period for an anomaly. </p>",
      "members": {
        "EndDate": {
          "documentation": "<p>The last date an anomaly was observed. </p>",
          "shape": "YearMonthDay"
        },
        "StartDate": {
          "documentation": "<p>The first date an anomaly was observed. </p>",
          "shape": "YearMonthDay"
        }
      },
      "required": [
        "StartDate"
      ],
      "type": "structure"
    },
    "AnomalyFeedbackType": {
      "enum": [
        "YES",
        "NO",
        "PLANNED_ACTIVITY"
      ],
      "type": "string"
    },
    "AnomalyMonitor": {
      "documentation": "<p>This object continuously inspects your account's cost data for anomalies. It's based on <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists of detailed metadata and the current status of the monitor object. </p>",
      "members": {
        "CreationDate": {
          "documentation": "<p>The date when the monitor was created. </p>",
          "shape": "YearMonthDay"
        },
        "DimensionalValueCount": {
          "documentation": "<p>The value for evaluated dimensions. </p>",
          "shape": "NonNegativeInteger"
        },
        "LastEvaluatedDate": {
          "documentation": "<p>The date when the monitor last evaluated for anomalies. </p>",
          "shape": "YearMonthDay"
        },
        "LastUpdatedDate": {
          "documentation": "<p>The date when the monitor was last updated. </p>",
          "shape": "YearMonthDay"
        },
        "MonitorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) value. </p>",
          "shape": "GenericString"
        },
        "MonitorDimension": {
          "documentation": "<p>The dimensions to evaluate. </p>",
          "shape": "MonitorDimension"
        },
        "MonitorName": {
          "documentation": "<p>The name of the monitor. </p>",
          "shape": "GenericString"
        },
        "MonitorSpecification": {
          "shape": "Expression"
        },
        "MonitorType": {
          "documentation": "<p>The possible type values. </p>",
          "shape": "MonitorType"
        }
      },
      "required": [
        "MonitorName",
        "MonitorType"
      ],
      "type": "structure"
    },
    "AnomalyMonitors": {
      "member": {
        "shape": "AnomalyMonitor"
      },
      "type": "list"
    },
    "AnomalyScore": {
      "documentation": "<p>Quantifies the anomaly. The higher score means that it's more anomalous. </p>",
      "members": {
        "CurrentScore": {
          "documentation": "<p>The last observed score. </p>",
          "shape": "GenericDouble"
        },
        "MaxScore": {
          "documentation": "<p>The maximum score that's observed during the <code>AnomalyDateInterval</code>. </p>",
          "shape": "GenericDouble"
        }
      },
      "required": [
        "MaxScore",
        "CurrentScore"
      ],
      "type": "structure"
    },
    "AnomalySubscription": {
      "documentation": "<p>The association between a monitor, threshold, and list of subscribers used to deliver notifications about anomalies detected by a monitor that exceeds a threshold. The content consists of the detailed metadata and the current status of the <code>AnomalySubscription</code> object. </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>Your unique account identifier. </p>",
          "shape": "GenericString"
        },
        "Frequency": {
          "documentation": "<p>The frequency that anomaly reports are sent over email. </p>",
          "shape": "AnomalySubscriptionFrequency"
        },
        "MonitorArnList": {
          "documentation": "<p>A list of cost anomaly monitors. </p>",
          "shape": "MonitorArnList"
        },
        "Subscribers": {
          "documentation": "<p>A list of subscribers to notify. </p>",
          "shape": "Subscribers"
        },
        "SubscriptionArn": {
          "documentation": "<p>The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>",
          "shape": "GenericString"
        },
        "SubscriptionName": {
          "documentation": "<p>The name for the subscription. </p>",
          "shape": "GenericString"
        },
        "Threshold": {
          "documentation": "<p>The dollar value that triggers a notification if the threshold is exceeded. </p>",
          "shape": "NullableNonNegativeDouble"
        }
      },
      "required": [
        "MonitorArnList",
        "Subscribers",
        "Threshold",
        "Frequency",
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "AnomalySubscriptionFrequency": {
      "enum": [
        "DAILY",
        "IMMEDIATE",
        "WEEKLY"
      ],
      "type": "string"
    },
    "AnomalySubscriptions": {
      "member": {
        "shape": "AnomalySubscription"
      },
      "type": "list"
    },
    "Arn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+",
      "type": "string"
    },
    "AttributeType": {
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "Attributes": {
      "key": {
        "shape": "AttributeType"
      },
      "type": "map",
      "value": {
        "shape": "AttributeValue"
      }
    },
    "BillExpirationException": {
      "documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Context": {
      "enum": [
        "COST_AND_USAGE",
        "RESERVATIONS",
        "SAVINGS_PLANS"
      ],
      "type": "string"
    },
    "CostAllocationTag": {
      "documentation": "<p>The cost allocation tag structure. This includes detailed metadata for the <code>CostAllocationTag</code> object. </p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of a cost allocation tag. </p>",
          "shape": "CostAllocationTagStatus"
        },
        "TagKey": {
          "documentation": "<p>The key for the cost allocation tag. </p>",
          "shape": "TagKey"
        },
        "Type": {
          "documentation": "<p>The type of cost allocation tag. You can use <code>AWSGenerated</code> or <code>UserDefined</code> type tags. <code>AWSGenerated</code> type tags are tags that Amazon Web Services defines and applies to support Amazon Web Services resources for cost allocation purposes. <code>UserDefined</code> type tags are tags that you define, create, and apply to resources. </p>",
          "shape": "CostAllocationTagType"
        }
      },
      "required": [
        "TagKey",
        "Type",
        "Status"
      ],
      "type": "structure"
    },
    "CostAllocationTagKeyList": {
      "max": 100,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "CostAllocationTagList": {
      "max": 100,
      "member": {
        "shape": "CostAllocationTag"
      },
      "min": 0,
      "type": "list"
    },
    "CostAllocationTagStatus": {
      "enum": [
        "Active",
        "Inactive"
      ],
      "type": "string"
    },
    "CostAllocationTagStatusEntry": {
      "documentation": "<p>The cost allocation tag status. The status of a key can either be active or inactive. </p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of a cost allocation tag. </p>",
          "shape": "CostAllocationTagStatus"
        },
        "TagKey": {
          "documentation": "<p>The key for the cost allocation tag. </p>",
          "shape": "TagKey"
        }
      },
      "required": [
        "TagKey",
        "Status"
      ],
      "type": "structure"
    },
    "CostAllocationTagStatusList": {
      "max": 20,
      "member": {
        "shape": "CostAllocationTagStatusEntry"
      },
      "min": 1,
      "type": "list"
    },
    "CostAllocationTagType": {
      "enum": [
        "AWSGenerated",
        "UserDefined"
      ],
      "type": "string"
    },
    "CostAllocationTagsMaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "CostCategory": {
      "documentation": "<p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>",
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "DefaultValue": {
          "shape": "CostCategoryValue"
        },
        "EffectiveEnd": {
          "documentation": "<p>The effective end date of your Cost Category.</p>",
          "shape": "ZonedDateTime"
        },
        "EffectiveStart": {
          "documentation": "<p>The effective start date of your Cost Category.</p>",
          "shape": "ZonedDateTime"
        },
        "Name": {
          "shape": "CostCategoryName"
        },
        "ProcessingStatus": {
          "documentation": "<p>The list of processing statuses for Cost Management products for a specific cost category. </p>",
          "shape": "CostCategoryProcessingStatusList"
        },
        "RuleVersion": {
          "shape": "CostCategoryRuleVersion"
        },
        "Rules": {
          "documentation": "<p>The rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
          "shape": "CostCategoryRulesList"
        },
        "SplitChargeRules": {
          "documentation": "<p> The split charge rules that are used to allocate your charges between your Cost Category values. </p>",
          "shape": "CostCategorySplitChargeRulesList"
        }
      },
      "required": [
        "CostCategoryArn",
        "EffectiveStart",
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "type": "structure"
    },
    "CostCategoryInheritedValueDimension": {
      "documentation": "<p>When you create or update a cost category, you can define the <code>CostCategoryRule</code> rule type as <code>INHERITED_VALUE</code>. This rule type adds the flexibility to define a rule that dynamically inherits the cost category value from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to dynamically group costs that are based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use.</p>",
      "members": {
        "DimensionKey": {
          "documentation": "<p>The key to extract cost category values.</p>",
          "shape": "GenericString"
        },
        "DimensionName": {
          "documentation": "<p>The name of the dimension that's used to group costs.</p> <p>If you specify <code>LINKED_ACCOUNT_NAME</code>, the cost category value is based on account name. If you specify <code>TAG</code>, the cost category value is based on the value of the specified tag key.</p>",
          "shape": "CostCategoryInheritedValueDimensionName"
        }
      },
      "type": "structure"
    },
    "CostCategoryInheritedValueDimensionName": {
      "enum": [
        "LINKED_ACCOUNT_NAME",
        "TAG"
      ],
      "type": "string"
    },
    "CostCategoryMaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "CostCategoryName": {
      "documentation": "<p>The unique name of the Cost Category.</p>",
      "max": 50,
      "min": 1,
      "pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$",
      "type": "string"
    },
    "CostCategoryNamesList": {
      "member": {
        "shape": "CostCategoryName"
      },
      "type": "list"
    },
    "CostCategoryProcessingStatus": {
      "documentation": "<p>The list of processing statuses for Cost Management products for a specific cost category. </p>",
      "members": {
        "Component": {
          "documentation": "<p>The Cost Management product name of the applied status. </p>",
          "shape": "CostCategoryStatusComponent"
        },
        "Status": {
          "documentation": "<p>The process status for a specific cost category. </p>",
          "shape": "CostCategoryStatus"
        }
      },
      "type": "structure"
    },
    "CostCategoryProcessingStatusList": {
      "member": {
        "shape": "CostCategoryProcessingStatus"
      },
      "type": "list"
    },
    "CostCategoryReference": {
      "documentation": "<p>A reference to a Cost Category containing only enough information to identify the Cost Category.</p> <p>You can use this information to retrieve the full Cost Category information using <code>DescribeCostCategory</code>.</p>",
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "DefaultValue": {
          "shape": "CostCategoryValue"
        },
        "EffectiveEnd": {
          "documentation": "<p>The Cost Category's effective end date.</p>",
          "shape": "ZonedDateTime"
        },
        "EffectiveStart": {
          "documentation": "<p>The Cost Category's effective start date.</p>",
          "shape": "ZonedDateTime"
        },
        "Name": {
          "shape": "CostCategoryName"
        },
        "NumberOfRules": {
          "documentation": "<p>The number of rules that are associated with a specific Cost Category. </p>",
          "shape": "NonNegativeInteger"
        },
        "ProcessingStatus": {
          "documentation": "<p>The list of processing statuses for Cost Management products for a specific cost category. </p>",
          "shape": "CostCategoryProcessingStatusList"
        },
        "Values": {
          "documentation": "<p>A list of unique cost category values in a specific cost category. </p>",
          "shape": "CostCategoryValuesList"
        }
      },
      "type": "structure"
    },
    "CostCategoryReferencesList": {
      "member": {
        "shape": "CostCategoryReference"
      },
      "type": "list"
    },
    "CostCategoryRule": {
      "documentation": "<p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.</p>",
      "members": {
        "InheritedValue": {
          "documentation": "<p>The value the line item is categorized as if the line item contains the matched dimension.</p>",
          "shape": "CostCategoryInheritedValueDimension"
        },
        "Rule": {
          "documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to categorize costs. This supports dimensions, tags, and nested expressions. Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>, <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, and <code>LINKED_ACCOUNT_NAME</code>.</p> <p>Root level <code>OR</code> isn't supported. We recommend that you create a separate rule instead.</p> <p> <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also supported for Cost Category expressions. This dimension uses different terms, depending on whether you're using the console or API/JSON editor. For a detailed comparison, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>Billing and Cost Management User Guide</i>.</p>",
          "shape": "Expression"
        },
        "Type": {
          "documentation": "<p>You can define the <code>CostCategoryRule</code> rule type as either <code>REGULAR</code> or <code>INHERITED_VALUE</code>. The <code>INHERITED_VALUE</code> rule type adds the flexibility to define a rule that dynamically inherits the cost category value. This value is from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to costs to be dynamically grouped based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use.</p>",
          "shape": "CostCategoryRuleType"
        },
        "Value": {
          "shape": "CostCategoryValue"
        }
      },
      "type": "structure"
    },
    "CostCategoryRuleType": {
      "enum": [
        "REGULAR",
        "INHERITED_VALUE"
      ],
      "type": "string"
    },
    "CostCategoryRuleVersion": {
      "documentation": "<p>The rule schema version in this particular Cost Category.</p>",
      "enum": [
        "CostCategoryExpression.v1"
      ],
      "type": "string"
    },
    "CostCategoryRulesList": {
      "max": 500,
      "member": {
        "shape": "CostCategoryRule"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategorySplitChargeMethod": {
      "enum": [
        "FIXED",
        "PROPORTIONAL",
        "EVEN"
      ],
      "type": "string"
    },
    "CostCategorySplitChargeRule": {
      "documentation": "<p>Use the split charge rule to split the cost of one Cost Category value across several other target values. </p>",
      "members": {
        "Method": {
          "documentation": "<p>The method that's used to define how to split your source costs across your targets. </p> <p> <code>Proportional</code> - Allocates charges across your targets based on the proportional weighted cost of each target.</p> <p> <code>Fixed</code> - Allocates charges across your targets based on your defined allocation percentage.</p> <p>&gt;<code>Even</code> - Allocates costs evenly across all targets.</p>",
          "shape": "CostCategorySplitChargeMethod"
        },
        "Parameters": {
          "documentation": "<p>The parameters for a split charge method. This is only required for the <code>FIXED</code> method. </p>",
          "shape": "CostCategorySplitChargeRuleParametersList"
        },
        "Source": {
          "documentation": "<p>The Cost Category value that you want to split. That value can't be used as a source or a target in other split charge rules. To indicate uncategorized costs, you can use an empty string as the source.</p>",
          "shape": "GenericString"
        },
        "Targets": {
          "documentation": "<p>The Cost Category values that you want to split costs across. These values can't be used as a source in other split charge rules. </p>",
          "shape": "CostCategorySplitChargeRuleTargetsList"
        }
      },
      "required": [
        "Source",
        "Targets",
        "Method"
      ],
      "type": "structure"
    },
    "CostCategorySplitChargeRuleParameter": {
      "documentation": "<p>The parameters for a split charge method. </p>",
      "members": {
        "Type": {
          "documentation": "<p>The parameter type. </p>",
          "shape": "CostCategorySplitChargeRuleParameterType"
        },
        "Values": {
          "documentation": "<p>The parameter values. </p>",
          "shape": "CostCategorySplitChargeRuleParameterValuesList"
        }
      },
      "required": [
        "Type",
        "Values"
      ],
      "type": "structure"
    },
    "CostCategorySplitChargeRuleParameterType": {
      "enum": [
        "ALLOCATION_PERCENTAGES"
      ],
      "type": "string"
    },
    "CostCategorySplitChargeRuleParameterValuesList": {
      "max": 500,
      "member": {
        "shape": "GenericString"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategorySplitChargeRuleParametersList": {
      "max": 10,
      "member": {
        "shape": "CostCategorySplitChargeRuleParameter"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategorySplitChargeRuleTargetsList": {
      "max": 500,
      "member": {
        "shape": "GenericString"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategorySplitChargeRulesList": {
      "max": 10,
      "member": {
        "shape": "CostCategorySplitChargeRule"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategoryStatus": {
      "enum": [
        "PROCESSING",
        "APPLIED"
      ],
      "type": "string"
    },
    "CostCategoryStatusComponent": {
      "enum": [
        "COST_EXPLORER"
      ],
      "type": "string"
    },
    "CostCategoryValue": {
      "documentation": "<p>The default value for the cost category.</p>",
      "max": 50,
      "min": 1,
      "pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$",
      "type": "string"
    },
    "CostCategoryValues": {
      "documentation": "<p>The Cost Categories values used for filtering the costs.</p> <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on resources that aren't mapped to any Cost Categories.</p> <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That is, it filters on resources without the given Cost Categories key.</p>",
      "members": {
        "Key": {
          "shape": "CostCategoryName"
        },
        "MatchOptions": {
          "documentation": "<p>The match options that you can use to filter your results. MatchOptions is only applicable for actions related to cost category. The default values for <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>. </p>",
          "shape": "MatchOptions"
        },
        "Values": {
          "documentation": "<p>The specific value of the Cost Category.</p>",
          "shape": "Values"
        }
      },
      "type": "structure"
    },
    "CostCategoryValuesList": {
      "member": {
        "shape": "CostCategoryValue"
      },
      "type": "list"
    },
    "Coverage": {
      "documentation": "<p>The amount of instance usage that a reservation covered.</p>",
      "members": {
        "CoverageCost": {
          "documentation": "<p>The amount of cost that the reservation covered.</p>",
          "shape": "CoverageCost"
        },
        "CoverageHours": {
          "documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>",
          "shape": "CoverageHours"
        },
        "CoverageNormalizedUnits": {
          "documentation": "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
          "shape": "CoverageNormalizedUnits"
        }
      },
      "type": "structure"
    },
    "CoverageByTime": {
      "documentation": "<p>Reservation coverage for a specified period, in hours.</p>",
      "members": {
        "Groups": {
          "documentation": "<p>The groups of instances that the reservation covered.</p>",
          "shape": "ReservationCoverageGroups"
        },
        "TimePeriod": {
          "documentation": "<p>The period that this coverage was used over.</p>",
          "shape": "DateInterval"
        },
        "Total": {
          "documentation": "<p>The total reservation coverage, in hours.</p>",
          "shape": "Coverage"
        }
      },
      "type": "structure"
    },
    "CoverageCost": {
      "documentation": "<p>How much it costs to run an instance.</p>",
      "members": {
        "OnDemandCost": {
          "documentation": "<p>How much an On-Demand Instance costs.</p>",
          "shape": "OnDemandCost"
        }
      },
      "type": "structure"
    },
    "CoverageHours": {
      "documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>",
      "members": {
        "CoverageHoursPercentage": {
          "documentation": "<p>The percentage of instance hours that a reservation covered.</p>",
          "shape": "CoverageHoursPercentage"
        },
        "OnDemandHours": {
          "documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>",
          "shape": "OnDemandHours"
        },
        "ReservedHours": {
          "documentation": "<p>The number of instance running hours that reservations covered.</p>",
          "shape": "ReservedHours"
        },
        "TotalRunningHours": {
          "documentation": "<p>The total instance usage, in hours.</p>",
          "shape": "TotalRunningHours"
        }
      },
      "type": "structure"
    },
    "CoverageHoursPercentage": {
      "type": "string"
    },
    "CoverageNormalizedUnits": {
      "documentation": "<p>The amount of instance usage, in normalized units. You can use normalized units to see your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose that you run an xlarge instance and a 2xlarge instance. If you run both instances for the same amount of time, the 2xlarge instance uses twice as much of your reservation as the xlarge instance, even though both instances show only one instance-hour. When you use normalized units instead of instance-hours, the xlarge instance used 8 normalized units, and the 2xlarge instance used 16 normalized units.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>",
      "members": {
        "CoverageNormalizedUnitsPercentage": {
          "documentation": "<p>The percentage of your used instance normalized units that a reservation covers.</p>",
          "shape": "CoverageNormalizedUnitsPercentage"
        },
        "OnDemandNormalizedUnits": {
          "documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a reservation.</p>",
          "shape": "OnDemandNormalizedUnits"
        },
        "ReservedNormalizedUnits": {
          "documentation": "<p>The number of normalized units that a reservation covers.</p>",
          "shape": "ReservedNormalizedUnits"
        },
        "TotalRunningNormalizedUnits": {
          "documentation": "<p>The total number of normalized units that you used.</p>",
          "shape": "TotalRunningNormalizedUnits"
        }
      },
      "type": "structure"
    },
    "CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "CoveragesByTime": {
      "member": {
        "shape": "CoverageByTime"
      },
      "type": "list"
    },
    "CreateAnomalyMonitorRequest": {
      "members": {
        "AnomalyMonitor": {
          "documentation": "<p>The cost anomaly detection monitor object that you want to create.</p>",
          "shape": "AnomalyMonitor"
        },
        "ResourceTags": {
          "documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalyMonitor.html\"> <code>AnomalyMonitor</code> </a>. You can use resource tags to control access to your <code>monitor</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don\u2019t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>",
          "shape": "ResourceTagList"
        }
      },
      "required": [
        "AnomalyMonitor"
      ],
      "type": "structure"
    },
    "CreateAnomalyMonitorResponse": {
      "members": {
        "MonitorArn": {
          "documentation": "<p>The unique identifier of your newly created cost anomaly detection monitor.</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "MonitorArn"
      ],
      "type": "structure"
    },
    "CreateAnomalySubscriptionRequest": {
      "members": {
        "AnomalySubscription": {
          "documentation": "<p>The cost anomaly subscription object that you want to create. </p>",
          "shape": "AnomalySubscription"
        },
        "ResourceTags": {
          "documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\"> <code>AnomalySubscription</code> </a>. You can use resource tags to control access to your <code>subscription</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don\u2019t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>",
          "shape": "ResourceTagList"
        }
      },
      "required": [
        "AnomalySubscription"
      ],
      "type": "structure"
    },
    "CreateAnomalySubscriptionResponse": {
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The unique identifier of your newly created cost anomaly subscription. </p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "SubscriptionArn"
      ],
      "type": "structure"
    },
    "CreateCostCategoryDefinitionRequest": {
      "members": {
        "DefaultValue": {
          "shape": "CostCategoryValue"
        },
        "EffectiveStart": {
          "documentation": "<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month). If the date isn't provided, it's the first day of the current month. Dates can't be before the previous twelve months, or in the future.</p>",
          "shape": "ZonedDateTime"
        },
        "Name": {
          "shape": "CostCategoryName"
        },
        "ResourceTags": {
          "documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategory.html\"> <code>CostCategory</code> </a>. You can use resource tags to control access to your <code>cost category</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don\u2019t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>",
          "shape": "ResourceTagList"
        },
        "RuleVersion": {
          "shape": "CostCategoryRuleVersion"
        },
        "Rules": {
          "documentation": "<p>The Cost Category rules used to categorize costs. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p>",
          "shape": "CostCategoryRulesList"
        },
        "SplitChargeRules": {
          "documentation": "<p> The split charge rules used to allocate your charges between your Cost Category values. </p>",
          "shape": "CostCategorySplitChargeRulesList"
        }
      },
      "required": [
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "type": "structure"
    },
    "CreateCostCategoryDefinitionResponse": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your newly created Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveStart": {
          "documentation": "<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month).</p>",
          "shape": "ZonedDateTime"
        }
      },
      "type": "structure"
    },
    "CurrentInstance": {
      "documentation": "<p>Context about the current instance.</p>",
      "members": {
        "CurrencyCode": {
          "documentation": "<p>The currency code that Amazon Web Services used to calculate the costs for this instance.</p>",
          "shape": "GenericString"
        },
        "InstanceName": {
          "documentation": "<p>The name that you given an instance. This field shows as blank if you haven't given the instance a name.</p>",
          "shape": "GenericString"
        },
        "MonthlyCost": {
          "documentation": "<p>The current On-Demand cost of operating this instance on a monthly basis.</p>",
          "shape": "GenericString"
        },
        "OnDemandHoursInLookbackPeriod": {
          "documentation": "<p>The number of hours during the lookback period that's billed at On-Demand rates.</p>",
          "shape": "GenericString"
        },
        "ReservationCoveredHoursInLookbackPeriod": {
          "documentation": "<p>The number of hours during the lookback period that's covered by reservations.</p>",
          "shape": "GenericString"
        },
        "ResourceDetails": {
          "documentation": "<p>Details about the resource and utilization.</p>",
          "shape": "ResourceDetails"
        },
        "ResourceId": {
          "documentation": "<p>Resource ID of the current instance.</p>",
          "shape": "GenericString"
        },
        "ResourceUtilization": {
          "documentation": "<p>Utilization information of the current instance during the lookback period.</p>",
          "shape": "ResourceUtilization"
        },
        "SavingsPlansCoveredHoursInLookbackPeriod": {
          "documentation": "<p>The number of hours during the lookback period that's covered by Savings Plans.</p>",
          "shape": "GenericString"
        },
        "Tags": {
          "documentation": "<p>Cost allocation resource tags that are applied to the instance.</p>",
          "shape": "TagValuesList"
        },
        "TotalRunningHoursInLookbackPeriod": {
          "documentation": "<p>The total number of hours that the instance ran during the lookback period.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "DataUnavailableException": {
      "documentation": "<p>The requested data is unavailable.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DateInterval": {
      "documentation": "<p>The time period of the request. </p>",
      "members": {
        "End": {
          "documentation": "<p>The end of the time period. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, Amazon Web Services retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
          "shape": "YearMonthDay"
        },
        "Start": {
          "documentation": "<p>The beginning of the time period. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, Amazon Web Services retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date. The start date must be equal to or no later than the current date to avoid a validation error.</p>",
          "shape": "YearMonthDay"
        }
      },
      "required": [
        "Start",
        "End"
      ],
      "type": "structure"
    },
    "DeleteAnomalyMonitorRequest": {
      "members": {
        "MonitorArn": {
          "documentation": "<p>The unique identifier of the cost anomaly monitor that you want to delete. </p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "MonitorArn"
      ],
      "type": "structure"
    },
    "DeleteAnomalyMonitorResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAnomalySubscriptionRequest": {
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The unique identifier of the cost anomaly subscription that you want to delete. </p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "SubscriptionArn"
      ],
      "type": "structure"
    },
    "DeleteAnomalySubscriptionResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteCostCategoryDefinitionRequest": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CostCategoryArn"
      ],
      "type": "structure"
    },
    "DeleteCostCategoryDefinitionResponse": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveEnd": {
          "documentation": "<p>The effective end date of the Cost Category as a result of deleting it. No costs after this date is categorized by the deleted Cost Category. </p>",
          "shape": "ZonedDateTime"
        }
      },
      "type": "structure"
    },
    "DescribeCostCategoryDefinitionRequest": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p>The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveOn": {
          "documentation": "<p>The date when the Cost Category was effective. </p>",
          "shape": "ZonedDateTime"
        }
      },
      "required": [
        "CostCategoryArn"
      ],
      "type": "structure"
    },
    "DescribeCostCategoryDefinitionResponse": {
      "members": {
        "CostCategory": {
          "shape": "CostCategory"
        }
      },
      "type": "structure"
    },
    "Dimension": {
      "enum": [
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "LINKED_ACCOUNT_NAME",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "SERVICE_CODE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID",
        "LEGAL_ENTITY_NAME",
        "DEPLOYMENT_OPTION",
        "DATABASE_ENGINE",
        "CACHE_ENGINE",
        "INSTANCE_TYPE_FAMILY",
        "BILLING_ENTITY",
        "RESERVATION_ID",
        "RESOURCE_ID",
        "RIGHTSIZING_TYPE",
        "SAVINGS_PLANS_TYPE",
        "SAVINGS_PLAN_ARN",
        "PAYMENT_OPTION",
        "AGREEMENT_END_DATE_TIME_AFTER",
        "AGREEMENT_END_DATE_TIME_BEFORE",
        "INVOICING_ENTITY"
      ],
      "type": "string"
    },
    "DimensionValues": {
      "documentation": "<p>The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones. <code>LINK_ACCOUNT_NAME</code> and <code>SERVICE_CODE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/AAPI_CostCategoryRule.html\">CostCategoryRule</a>.</p>",
          "shape": "Dimension"
        },
        "MatchOptions": {
          "documentation": "<p>The match options that you can use to filter your results. <code>MatchOptions</code> is only applicable for actions related to Cost Category. The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p>",
          "shape": "MatchOptions"
        },
        "Values": {
          "documentation": "<p>The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>",
          "shape": "Values"
        }
      },
      "type": "structure"
    },
    "DimensionValuesWithAttributes": {
      "documentation": "<p>The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>The attribute that applies to a specific <code>Dimension</code>.</p>",
          "shape": "Attributes"
        },
        "Value": {
          "documentation": "<p>The value of a dimension with a specific attribute.</p>",
          "shape": "Value"
        }
      },
      "type": "structure"
    },
    "DimensionValuesWithAttributesList": {
      "member": {
        "shape": "DimensionValuesWithAttributes"
      },
      "type": "list"
    },
    "DiskResourceUtilization": {
      "documentation": "<p>The field that contains a list of disk (local storage) metrics that are associated with the current instance. </p>",
      "members": {
        "DiskReadBytesPerSecond": {
          "documentation": "<p>The maximum read throughput operations per second. </p>",
          "shape": "GenericString"
        },
        "DiskReadOpsPerSecond": {
          "documentation": "<p>The maximum number of read operations per second. </p>",
          "shape": "GenericString"
        },
        "DiskWriteBytesPerSecond": {
          "documentation": "<p>The maximum write throughput operations per second. </p>",
          "shape": "GenericString"
        },
        "DiskWriteOpsPerSecond": {
          "documentation": "<p>The maximum number of write operations per second. </p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EBSResourceUtilization": {
      "documentation": "<p>The EBS field that contains a list of EBS metrics that are associated with the current instance. </p>",
      "members": {
        "EbsReadBytesPerSecond": {
          "documentation": "<p>The maximum size of read operations per second </p>",
          "shape": "GenericString"
        },
        "EbsReadOpsPerSecond": {
          "documentation": "<p>The maximum number of read operations per second. </p>",
          "shape": "GenericString"
        },
        "EbsWriteBytesPerSecond": {
          "documentation": "<p>The maximum size of write operations per second. </p>",
          "shape": "GenericString"
        },
        "EbsWriteOpsPerSecond": {
          "documentation": "<p>The maximum number of write operations per second. </p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2InstanceDetails": {
      "documentation": "<p>Details about the Amazon EC2 instances that Amazon Web Services recommends that you purchase.</p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "CurrentGeneration": {
          "documentation": "<p>Determines whether the recommendation is for a current-generation instance. </p>",
          "shape": "GenericBoolean"
        },
        "Family": {
          "documentation": "<p>The instance family of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "InstanceType": {
          "documentation": "<p>The type of instance that Amazon Web Services recommends.</p>",
          "shape": "GenericString"
        },
        "Platform": {
          "documentation": "<p>The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Determines whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        },
        "Tenancy": {
          "documentation": "<p>Determines whether the recommended reservation is dedicated or shared.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2ResourceDetails": {
      "documentation": "<p>Details on the Amazon EC2 Resource.</p>",
      "members": {
        "HourlyOnDemandRate": {
          "documentation": "<p>The hourly public On-Demand rate for the instance type.</p>",
          "shape": "GenericString"
        },
        "InstanceType": {
          "documentation": "<p>The type of Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "Memory": {
          "documentation": "<p>The memory capacity of the Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "NetworkPerformance": {
          "documentation": "<p>The network performance capacity of the Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "Platform": {
          "documentation": "<p>The platform of the Amazon Web Services instance. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The Amazon Web Services Region of the instance.</p>",
          "shape": "GenericString"
        },
        "Sku": {
          "documentation": "<p>The SKU of the product.</p>",
          "shape": "GenericString"
        },
        "Storage": {
          "documentation": "<p>The disk storage of the Amazon Web Services instance. This doesn't include EBS storage.</p>",
          "shape": "GenericString"
        },
        "Vcpu": {
          "documentation": "<p>The number of VCPU cores in the Amazon Web Services instance type.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2ResourceUtilization": {
      "documentation": "<p>Utilization metrics for the instance. </p>",
      "members": {
        "DiskResourceUtilization": {
          "documentation": "<p>The field that contains a list of disk (local storage) metrics that are associated with the current instance. </p>",
          "shape": "DiskResourceUtilization"
        },
        "EBSResourceUtilization": {
          "documentation": "<p>The EBS field that contains a list of EBS metrics that are associated with the current instance. </p>",
          "shape": "EBSResourceUtilization"
        },
        "MaxCpuUtilizationPercentage": {
          "documentation": "<p>The maximum observed or expected CPU utilization of the instance.</p>",
          "shape": "GenericString"
        },
        "MaxMemoryUtilizationPercentage": {
          "documentation": "<p>The maximum observed or expected memory utilization of the instance.</p>",
          "shape": "GenericString"
        },
        "MaxStorageUtilizationPercentage": {
          "documentation": "<p>The maximum observed or expected storage utilization of the instance. This doesn't include EBS storage.</p>",
          "shape": "GenericString"
        },
        "NetworkResourceUtilization": {
          "documentation": "<p>The network field that contains a list of network metrics that are associated with the current instance. </p>",
          "shape": "NetworkResourceUtilization"
        }
      },
      "type": "structure"
    },
    "EC2Specification": {
      "documentation": "<p>The Amazon EC2 hardware specifications that you want Amazon Web Services to provide recommendations for.</p>",
      "members": {
        "OfferingClass": {
          "documentation": "<p>Indicates whether you want a recommendation for standard or convertible reservations.</p>",
          "shape": "OfferingClass"
        }
      },
      "type": "structure"
    },
    "ESInstanceDetails": {
      "documentation": "<p>Details about the Amazon OpenSearch Service instances that Amazon Web Services recommends that you purchase.</p>",
      "members": {
        "CurrentGeneration": {
          "documentation": "<p>Determines whether the recommendation is for a current-generation instance.</p>",
          "shape": "GenericBoolean"
        },
        "InstanceClass": {
          "documentation": "<p>The class of instance that Amazon Web Services recommends.</p>",
          "shape": "GenericString"
        },
        "InstanceSize": {
          "documentation": "<p>The size of instance that Amazon Web Services recommends.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Determines whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        }
      },
      "type": "structure"
    },
    "ElastiCacheInstanceDetails": {
      "documentation": "<p>Details about the Amazon ElastiCache instances that Amazon Web Services recommends that you purchase.</p>",
      "members": {
        "CurrentGeneration": {
          "documentation": "<p>Determines whether the recommendation is for a current generation instance.</p>",
          "shape": "GenericBoolean"
        },
        "Family": {
          "documentation": "<p>The instance family of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "NodeType": {
          "documentation": "<p>The type of node that Amazon Web Services recommends.</p>",
          "shape": "GenericString"
        },
        "ProductDescription": {
          "documentation": "<p>The description of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Determines whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        }
      },
      "type": "structure"
    },
    "Entity": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Estimated": {
      "type": "boolean"
    },
    "Expression": {
      "documentation": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>REGION==us-east-1 OR REGION==us-west-1</code>. For <code>GetRightsizingRecommendation</code>, the Region is a full name (for example, <code>REGION==US East (N. Virginia)</code>. The <code>Expression</code> example is as follows:</p> <p> <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \u201cus-west-1\u201d ] } }</code> </p> <p>The list of dimension values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. By doing this, you can filter on more advanced options. For example, you can filter on <code>((REGION == us-east-1 OR REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The <code>Expression</code> for that is as follows:</p> <p> <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error.</p> </note> <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul> <note> <p>For the <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT isn't supported. OR isn't supported between different dimensions, or dimensions and tags. NOT operators aren't supported. Dimensions are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or <code>RIGHTSIZING_TYPE</code>.</p> <p>For the <code>GetReservationPurchaseRecommendation</code> action, only NOT is supported. AND and OR aren't supported. Dimensions are limited to <code>LINKED_ACCOUNT</code>.</p> </note>",
      "members": {
        "And": {
          "documentation": "<p>Return results that match both <code>Dimension</code> objects.</p>",
          "shape": "Expressions"
        },
        "CostCategories": {
          "documentation": "<p>The filter that's based on <code>CostCategory</code> values.</p>",
          "shape": "CostCategoryValues"
        },
        "Dimensions": {
          "documentation": "<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>",
          "shape": "DimensionValues"
        },
        "Not": {
          "documentation": "<p>Return results that don't match a <code>Dimension</code> object.</p>",
          "shape": "Expression"
        },
        "Or": {
          "documentation": "<p>Return results that match either <code>Dimension</code> object.</p>",
          "shape": "Expressions"
        },
        "Tags": {
          "documentation": "<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>",
          "shape": "TagValues"
        }
      },
      "type": "structure"
    },
    "Expressions": {
      "member": {
        "shape": "Expression"
      },
      "type": "list"
    },
    "FindingReasonCode": {
      "enum": [
        "CPU_OVER_PROVISIONED",
        "CPU_UNDER_PROVISIONED",
        "MEMORY_OVER_PROVISIONED",
        "MEMORY_UNDER_PROVISIONED",
        "EBS_THROUGHPUT_OVER_PROVISIONED",
        "EBS_THROUGHPUT_UNDER_PROVISIONED",
        "EBS_IOPS_OVER_PROVISIONED",
        "EBS_IOPS_UNDER_PROVISIONED",
        "NETWORK_BANDWIDTH_OVER_PROVISIONED",
        "NETWORK_BANDWIDTH_UNDER_PROVISIONED",
        "NETWORK_PPS_OVER_PROVISIONED",
        "NETWORK_PPS_UNDER_PROVISIONED",
        "DISK_IOPS_OVER_PROVISIONED",
        "DISK_IOPS_UNDER_PROVISIONED",
        "DISK_THROUGHPUT_OVER_PROVISIONED",
        "DISK_THROUGHPUT_UNDER_PROVISIONED"
      ],
      "type": "string"
    },
    "FindingReasonCodes": {
      "member": {
        "shape": "FindingReasonCode"
      },
      "type": "list"
    },
    "ForecastResult": {
      "documentation": "<p>The forecast that's created for your query.</p>",
      "members": {
        "MeanValue": {
          "documentation": "<p>The mean value of the forecast.</p>",
          "shape": "GenericString"
        },
        "PredictionIntervalLowerBound": {
          "documentation": "<p>The lower limit for the prediction interval. </p>",
          "shape": "GenericString"
        },
        "PredictionIntervalUpperBound": {
          "documentation": "<p>The upper limit for the prediction interval. </p>",
          "shape": "GenericString"
        },
        "TimePeriod": {
          "documentation": "<p>The period of time that the forecast covers.</p>",
          "shape": "DateInterval"
        }
      },
      "type": "structure"
    },
    "ForecastResultsByTime": {
      "member": {
        "shape": "ForecastResult"
      },
      "type": "list"
    },
    "GenericBoolean": {
      "type": "boolean"
    },
    "GenericDouble": {
      "type": "double"
    },
    "GenericString": {
      "max": 1024,
      "min": 0,
      "pattern": "[\\S\\s]*",
      "type": "string"
    },
    "GetAnomaliesRequest": {
      "members": {
        "DateInterval": {
          "documentation": "<p>Assigns the start and end dates for retrieving cost anomalies. The returned anomaly object will have an <code>AnomalyEndDate</code> in the specified time range. </p>",
          "shape": "AnomalyDateInterval"
        },
        "Feedback": {
          "documentation": "<p>Filters anomaly results by the feedback field on the anomaly object. </p>",
          "shape": "AnomalyFeedbackType"
        },
        "MaxResults": {
          "documentation": "<p>The number of entries a paginated response contains. </p>",
          "shape": "PageSize"
        },
        "MonitorArn": {
          "documentation": "<p>Retrieves all of the cost anomalies detected for a specific cost anomaly monitor Amazon Resource Name (ARN). </p>",
          "shape": "GenericString"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        },
        "TotalImpact": {
          "documentation": "<p>Filters anomaly results by the total impact field on the anomaly object. For example, you can filter anomalies <code>GREATER_THAN 200.00</code> to retrieve anomalies, with an estimated dollar impact greater than 200. </p>",
          "shape": "TotalImpactFilter"
        }
      },
      "required": [
        "DateInterval"
      ],
      "type": "structure"
    },
    "GetAnomaliesResponse": {
      "members": {
        "Anomalies": {
          "documentation": "<p>A list of cost anomalies. </p>",
          "shape": "Anomalies"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        }
      },
      "required": [
        "Anomalies"
      ],
      "type": "structure"
    },
    "GetAnomalyMonitorsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of entries that a paginated response contains. </p>",
          "shape": "PageSize"
        },
        "MonitorArnList": {
          "documentation": "<p>A list of cost anomaly monitor ARNs. </p>",
          "shape": "Values"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        }
      },
      "type": "structure"
    },
    "GetAnomalyMonitorsResponse": {
      "members": {
        "AnomalyMonitors": {
          "documentation": "<p>A list of cost anomaly monitors that includes the detailed metadata for each monitor. </p>",
          "shape": "AnomalyMonitors"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        }
      },
      "required": [
        "AnomalyMonitors"
      ],
      "type": "structure"
    },
    "GetAnomalySubscriptionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of entries a paginated response contains. </p>",
          "shape": "PageSize"
        },
        "MonitorArn": {
          "documentation": "<p>Cost anomaly monitor ARNs. </p>",
          "shape": "GenericString"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        },
        "SubscriptionArnList": {
          "documentation": "<p>A list of cost anomaly subscription ARNs. </p>",
          "shape": "Values"
        }
      },
      "type": "structure"
    },
    "GetAnomalySubscriptionsResponse": {
      "members": {
        "AnomalySubscriptions": {
          "documentation": "<p>A list of cost anomaly subscriptions that includes the detailed metadata for each one. </p>",
          "shape": "AnomalySubscriptions"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. </p>",
          "shape": "NextPageToken"
        }
      },
      "required": [
        "AnomalySubscriptions"
      ],
      "type": "structure"
    },
    "GetCostAndUsageRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters Amazon Web Services costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p> <p>Valid values for <code>MatchOptions</code> for <code>Dimensions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p> <p>Valid values for <code>MatchOptions</code> for <code>CostCategories</code> and <code>Tags</code> are <code>EQUALS</code>, <code>ABSENT</code>, and <code>CASE_SENSITIVE</code>. Default values are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>Sets the Amazon Web Services cost granularity to <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn't set, the response object doesn't include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. </p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>You can group Amazon Web Services costs using up to two different groups, either dimensions, tag keys, cost categories, or any two group by types.</p> <p>Valid values for the <code>DIMENSION</code> type are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>INVOICING_ENTITY</code>, <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TENANCY</code>, <code>RECORD_TYPE</code>, and <code>USAGE_TYPE</code>.</p> <p>When you group by the <code>TAG</code> type and include a valid tag key, you get all tag values, including empty strings.</p>",
          "shape": "GroupDefinitions"
        },
        "Metrics": {
          "documentation": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, the results aren't meaningful because Amazon EC2 compute hours and data transfer are measured in different units (for example, hours and GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>",
          "shape": "MetricNames"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
[...]
