{
  "documentation": "<p>AWS IoT Wireless provides bi-directional communication between internet-connected wireless devices and the AWS Cloud. To onboard both LoRaWAN and Sidewalk devices to AWS IoT, use the IoT Wireless API. These wireless devices use the Low Power Wide Area Networking (LPWAN) communication protocol to communicate with AWS IoT.</p> <p>Using the API, you can perform create, read, update, and delete operations for your wireless devices, gateways, destinations, and profiles. After onboarding your devices, you can use the API operations to set log levels and monitor your devices with CloudWatch.</p> <p>You can also use the API operations to create multicast groups and schedule a multicast session for sending a downlink message to devices in the group. By using Firmware Updates Over-The-Air (FUOTA) API operations, you can create a FUOTA task and schedule a session to update the firmware of individual devices or an entire group of devices in a multicast group.</p>",
  "metadata": {
    "apiVersion": "2020-11-22",
    "endpointPrefix": "api.iotwireless",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Wireless",
    "serviceId": "IoT Wireless",
    "signatureVersion": "v4",
    "signingName": "iotwireless",
    "uid": "iotwireless-2020-11-22"
  },
  "operations": {
    "AssociateAwsAccountWithPartnerAccount": {
      "documentation": "<p>Associates a partner account with your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/partner-accounts"
      },
      "input": {
        "shape": "AssociateAwsAccountWithPartnerAccountRequest"
      },
      "name": "AssociateAwsAccountWithPartnerAccount",
      "output": {
        "shape": "AssociateAwsAccountWithPartnerAccountResponse"
      }
    },
    "AssociateMulticastGroupWithFuotaTask": {
      "documentation": "<p>Associate a multicast group with a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/fuota-tasks/{Id}/multicast-group",
        "responseCode": 204
      },
      "input": {
        "shape": "AssociateMulticastGroupWithFuotaTaskRequest"
      },
      "name": "AssociateMulticastGroupWithFuotaTask",
      "output": {
        "shape": "AssociateMulticastGroupWithFuotaTaskResponse"
      }
    },
    "AssociateWirelessDeviceWithFuotaTask": {
      "documentation": "<p>Associate a wireless device with a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/fuota-tasks/{Id}/wireless-device",
        "responseCode": 204
      },
      "input": {
        "shape": "AssociateWirelessDeviceWithFuotaTaskRequest"
      },
      "name": "AssociateWirelessDeviceWithFuotaTask",
      "output": {
        "shape": "AssociateWirelessDeviceWithFuotaTaskResponse"
      }
    },
    "AssociateWirelessDeviceWithMulticastGroup": {
      "documentation": "<p>Associates a wireless device with a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/multicast-groups/{Id}/wireless-device",
        "responseCode": 204
      },
      "input": {
        "shape": "AssociateWirelessDeviceWithMulticastGroupRequest"
      },
      "name": "AssociateWirelessDeviceWithMulticastGroup",
      "output": {
        "shape": "AssociateWirelessDeviceWithMulticastGroupResponse"
      }
    },
    "AssociateWirelessDeviceWithThing": {
      "documentation": "<p>Associates a wireless device with a thing.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-devices/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "shape": "AssociateWirelessDeviceWithThingRequest"
      },
      "name": "AssociateWirelessDeviceWithThing",
      "output": {
        "shape": "AssociateWirelessDeviceWithThingResponse"
      }
    },
    "AssociateWirelessGatewayWithCertificate": {
      "documentation": "<p>Associates a wireless gateway with a certificate.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-gateways/{Id}/certificate"
      },
      "input": {
        "shape": "AssociateWirelessGatewayWithCertificateRequest"
      },
      "name": "AssociateWirelessGatewayWithCertificate",
      "output": {
        "shape": "AssociateWirelessGatewayWithCertificateResponse"
      }
    },
    "AssociateWirelessGatewayWithThing": {
      "documentation": "<p>Associates a wireless gateway with a thing.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/wireless-gateways/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "shape": "AssociateWirelessGatewayWithThingRequest"
      },
      "name": "AssociateWirelessGatewayWithThing",
      "output": {
        "shape": "AssociateWirelessGatewayWithThingResponse"
      }
    },
    "CancelMulticastGroupSession": {
      "documentation": "<p>Cancels an existing multicast group session.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/multicast-groups/{Id}/session",
        "responseCode": 204
      },
      "input": {
        "shape": "CancelMulticastGroupSessionRequest"
      },
      "name": "CancelMulticastGroupSession",
      "output": {
        "shape": "CancelMulticastGroupSessionResponse"
      }
    },
    "CreateDestination": {
      "documentation": "<p>Creates a new destination that maps a device message to an AWS IoT rule.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/destinations",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDestinationRequest"
      },
      "name": "CreateDestination",
      "output": {
        "shape": "CreateDestinationResponse"
      }
    },
    "CreateDeviceProfile": {
      "documentation": "<p>Creates a new device profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/device-profiles",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeviceProfileRequest"
      },
      "name": "CreateDeviceProfile",
      "output": {
        "shape": "CreateDeviceProfileResponse"
      }
    },
    "CreateFuotaTask": {
      "documentation": "<p>Creates a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/fuota-tasks",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFuotaTaskRequest"
      },
      "name": "CreateFuotaTask",
      "output": {
        "shape": "CreateFuotaTaskResponse"
      }
    },
    "CreateMulticastGroup": {
      "documentation": "<p>Creates a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/multicast-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMulticastGroupRequest"
      },
      "name": "CreateMulticastGroup",
      "output": {
        "shape": "CreateMulticastGroupResponse"
      }
    },
    "CreateNetworkAnalyzerConfiguration": {
      "documentation": "<p>Creates a new network analyzer configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/network-analyzer-configurations",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateNetworkAnalyzerConfigurationRequest"
      },
      "name": "CreateNetworkAnalyzerConfiguration",
      "output": {
        "shape": "CreateNetworkAnalyzerConfigurationResponse"
      }
    },
    "CreateServiceProfile": {
      "documentation": "<p>Creates a new service profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/service-profiles",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateServiceProfileRequest"
      },
      "name": "CreateServiceProfile",
      "output": {
        "shape": "CreateServiceProfileResponse"
      }
    },
    "CreateWirelessDevice": {
      "documentation": "<p>Provisions a wireless device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-devices",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWirelessDeviceRequest"
      },
      "name": "CreateWirelessDevice",
      "output": {
        "shape": "CreateWirelessDeviceResponse"
      }
    },
    "CreateWirelessGateway": {
      "documentation": "<p>Provisions a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-gateways",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWirelessGatewayRequest"
      },
      "name": "CreateWirelessGateway",
      "output": {
        "shape": "CreateWirelessGatewayResponse"
      }
    },
    "CreateWirelessGatewayTask": {
      "documentation": "<p>Creates a task for a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-gateways/{Id}/tasks",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWirelessGatewayTaskRequest"
      },
      "name": "CreateWirelessGatewayTask",
      "output": {
        "shape": "CreateWirelessGatewayTaskResponse"
      }
    },
    "CreateWirelessGatewayTaskDefinition": {
      "documentation": "<p>Creates a gateway task definition.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-gateway-task-definitions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWirelessGatewayTaskDefinitionRequest"
      },
      "name": "CreateWirelessGatewayTaskDefinition",
      "output": {
        "shape": "CreateWirelessGatewayTaskDefinitionResponse"
      }
    },
    "DeleteDestination": {
      "documentation": "<p>Deletes a destination.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/destinations/{Name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDestinationRequest"
      },
      "name": "DeleteDestination",
      "output": {
        "shape": "DeleteDestinationResponse"
      }
    },
    "DeleteDeviceProfile": {
      "documentation": "<p>Deletes a device profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/device-profiles/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDeviceProfileRequest"
      },
      "name": "DeleteDeviceProfile",
      "output": {
        "shape": "DeleteDeviceProfileResponse"
      }
    },
    "DeleteFuotaTask": {
      "documentation": "<p>Deletes a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/fuota-tasks/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFuotaTaskRequest"
      },
      "name": "DeleteFuotaTask",
      "output": {
        "shape": "DeleteFuotaTaskResponse"
      }
    },
    "DeleteMulticastGroup": {
      "documentation": "<p>Deletes a multicast group if it is not in use by a fuota task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/multicast-groups/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMulticastGroupRequest"
      },
      "name": "DeleteMulticastGroup",
      "output": {
        "shape": "DeleteMulticastGroupResponse"
      }
    },
    "DeleteNetworkAnalyzerConfiguration": {
      "documentation": "<p>Deletes a network analyzer configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/network-analyzer-configurations/{ConfigurationName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteNetworkAnalyzerConfigurationRequest"
      },
      "name": "DeleteNetworkAnalyzerConfiguration",
      "output": {
        "shape": "DeleteNetworkAnalyzerConfigurationResponse"
      }
    },
    "DeleteQueuedMessages": {
      "documentation": "<p>Remove queued messages from the downlink queue.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-devices/{Id}/data",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteQueuedMessagesRequest"
      },
      "name": "DeleteQueuedMessages",
      "output": {
        "shape": "DeleteQueuedMessagesResponse"
      }
    },
    "DeleteServiceProfile": {
      "documentation": "<p>Deletes a service profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/service-profiles/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteServiceProfileRequest"
      },
      "name": "DeleteServiceProfile",
      "output": {
        "shape": "DeleteServiceProfileResponse"
      }
    },
    "DeleteWirelessDevice": {
      "documentation": "<p>Deletes a wireless device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-devices/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteWirelessDeviceRequest"
      },
      "name": "DeleteWirelessDevice",
      "output": {
        "shape": "DeleteWirelessDeviceResponse"
      }
    },
    "DeleteWirelessGateway": {
      "documentation": "<p>Deletes a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteWirelessGatewayRequest"
      },
      "name": "DeleteWirelessGateway",
      "output": {
        "shape": "DeleteWirelessGatewayResponse"
      }
    },
    "DeleteWirelessGatewayTask": {
      "documentation": "<p>Deletes a wireless gateway task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/tasks",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteWirelessGatewayTaskRequest"
      },
      "name": "DeleteWirelessGatewayTask",
      "output": {
        "shape": "DeleteWirelessGatewayTaskResponse"
      }
    },
    "DeleteWirelessGatewayTaskDefinition": {
      "documentation": "<p>Deletes a wireless gateway task definition. Deleting this task definition does not affect tasks that are currently in progress.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateway-task-definitions/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteWirelessGatewayTaskDefinitionRequest"
      },
      "name": "DeleteWirelessGatewayTaskDefinition",
      "output": {
        "shape": "DeleteWirelessGatewayTaskDefinitionResponse"
      }
    },
    "DisassociateAwsAccountFromPartnerAccount": {
      "documentation": "<p>Disassociates your AWS account from a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, disassociates your AWS account from all partner accounts.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/partner-accounts/{PartnerAccountId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateAwsAccountFromPartnerAccountRequest"
      },
      "name": "DisassociateAwsAccountFromPartnerAccount",
      "output": {
        "shape": "DisassociateAwsAccountFromPartnerAccountResponse"
      }
    },
    "DisassociateMulticastGroupFromFuotaTask": {
      "documentation": "<p>Disassociates a multicast group from a fuota task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/fuota-tasks/{Id}/multicast-groups/{MulticastGroupId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateMulticastGroupFromFuotaTaskRequest"
      },
      "name": "DisassociateMulticastGroupFromFuotaTask",
      "output": {
        "shape": "DisassociateMulticastGroupFromFuotaTaskResponse"
      }
    },
    "DisassociateWirelessDeviceFromFuotaTask": {
      "documentation": "<p>Disassociates a wireless device from a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/fuota-tasks/{Id}/wireless-devices/{WirelessDeviceId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateWirelessDeviceFromFuotaTaskRequest"
      },
      "name": "DisassociateWirelessDeviceFromFuotaTask",
      "output": {
        "shape": "DisassociateWirelessDeviceFromFuotaTaskResponse"
      }
    },
    "DisassociateWirelessDeviceFromMulticastGroup": {
      "documentation": "<p>Disassociates a wireless device from a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/multicast-groups/{Id}/wireless-devices/{WirelessDeviceId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateWirelessDeviceFromMulticastGroupRequest"
      },
      "name": "DisassociateWirelessDeviceFromMulticastGroup",
      "output": {
        "shape": "DisassociateWirelessDeviceFromMulticastGroupResponse"
      }
    },
    "DisassociateWirelessDeviceFromThing": {
      "documentation": "<p>Disassociates a wireless device from its currently associated thing.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-devices/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateWirelessDeviceFromThingRequest"
      },
      "name": "DisassociateWirelessDeviceFromThing",
      "output": {
        "shape": "DisassociateWirelessDeviceFromThingResponse"
      }
    },
    "DisassociateWirelessGatewayFromCertificate": {
      "documentation": "<p>Disassociates a wireless gateway from its currently associated certificate.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/certificate",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateWirelessGatewayFromCertificateRequest"
      },
      "name": "DisassociateWirelessGatewayFromCertificate",
      "output": {
        "shape": "DisassociateWirelessGatewayFromCertificateResponse"
      }
    },
    "DisassociateWirelessGatewayFromThing": {
      "documentation": "<p>Disassociates a wireless gateway from its currently associated thing.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/wireless-gateways/{Id}/thing",
        "responseCode": 204
      },
      "input": {
        "shape": "DisassociateWirelessGatewayFromThingRequest"
      },
      "name": "DisassociateWirelessGatewayFromThing",
      "output": {
        "shape": "DisassociateWirelessGatewayFromThingResponse"
      }
    },
    "GetDestination": {
      "documentation": "<p>Gets information about a destination.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/destinations/{Name}"
      },
      "input": {
        "shape": "GetDestinationRequest"
      },
      "name": "GetDestination",
      "output": {
        "shape": "GetDestinationResponse"
      }
    },
    "GetDeviceProfile": {
      "documentation": "<p>Gets information about a device profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/device-profiles/{Id}"
      },
      "input": {
        "shape": "GetDeviceProfileRequest"
      },
      "name": "GetDeviceProfile",
      "output": {
        "shape": "GetDeviceProfileResponse"
      }
    },
    "GetEventConfigurationByResourceTypes": {
      "documentation": "<p>Get the event configuration based on resource types.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/event-configurations-resource-types"
      },
      "input": {
        "shape": "GetEventConfigurationByResourceTypesRequest"
      },
      "name": "GetEventConfigurationByResourceTypes",
      "output": {
        "shape": "GetEventConfigurationByResourceTypesResponse"
      }
    },
    "GetFuotaTask": {
      "documentation": "<p>Gets information about a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/fuota-tasks/{Id}"
      },
      "input": {
        "shape": "GetFuotaTaskRequest"
      },
      "name": "GetFuotaTask",
      "output": {
        "shape": "GetFuotaTaskResponse"
      }
    },
    "GetLogLevelsByResourceTypes": {
      "documentation": "<p>Returns current default log levels or log levels by resource types. Based on resource types, log levels can be for wireless device log options or wireless gateway log options.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/log-levels",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLogLevelsByResourceTypesRequest"
      },
      "name": "GetLogLevelsByResourceTypes",
      "output": {
        "shape": "GetLogLevelsByResourceTypesResponse"
      }
    },
    "GetMulticastGroup": {
      "documentation": "<p>Gets information about a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/multicast-groups/{Id}"
      },
      "input": {
        "shape": "GetMulticastGroupRequest"
      },
      "name": "GetMulticastGroup",
      "output": {
        "shape": "GetMulticastGroupResponse"
      }
    },
    "GetMulticastGroupSession": {
      "documentation": "<p>Gets information about a multicast group session.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/multicast-groups/{Id}/session"
      },
      "input": {
        "shape": "GetMulticastGroupSessionRequest"
      },
      "name": "GetMulticastGroupSession",
      "output": {
        "shape": "GetMulticastGroupSessionResponse"
      }
    },
    "GetNetworkAnalyzerConfiguration": {
      "documentation": "<p>Get network analyzer configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/network-analyzer-configurations/{ConfigurationName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetNetworkAnalyzerConfigurationRequest"
      },
      "name": "GetNetworkAnalyzerConfiguration",
      "output": {
        "shape": "GetNetworkAnalyzerConfigurationResponse"
      }
    },
    "GetPartnerAccount": {
      "documentation": "<p>Gets information about a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, returns all partner accounts.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/partner-accounts/{PartnerAccountId}"
      },
      "input": {
        "shape": "GetPartnerAccountRequest"
      },
      "name": "GetPartnerAccount",
      "output": {
        "shape": "GetPartnerAccountResponse"
      }
    },
    "GetPosition": {
      "documentation": "<p>Get the position information for a given resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/positions/{ResourceIdentifier}"
      },
      "input": {
        "shape": "GetPositionRequest"
      },
      "name": "GetPosition",
      "output": {
        "shape": "GetPositionResponse"
      }
    },
    "GetPositionConfiguration": {
      "documentation": "<p>Get position configuration for a given resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/position-configurations/{ResourceIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPositionConfigurationRequest"
      },
      "name": "GetPositionConfiguration",
      "output": {
        "shape": "GetPositionConfigurationResponse"
      }
    },
    "GetResourceEventConfiguration": {
      "documentation": "<p>Get the event configuration for a particular resource identifier.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/event-configurations/{Identifier}"
      },
      "input": {
        "shape": "GetResourceEventConfigurationRequest"
      },
      "name": "GetResourceEventConfiguration",
      "output": {
        "shape": "GetResourceEventConfigurationResponse"
      }
    },
    "GetResourceLogLevel": {
      "documentation": "<p>Fetches the log-level override, if any, for a given resource-ID and resource-type. It can be used for a wireless device or a wireless gateway.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/log-levels/{ResourceIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceLogLevelRequest"
      },
      "name": "GetResourceLogLevel",
      "output": {
        "shape": "GetResourceLogLevelResponse"
      }
    },
    "GetServiceEndpoint": {
      "documentation": "<p>Gets the account-specific endpoint for Configuration and Update Server (CUPS) protocol or LoRaWAN Network Server (LNS) connections.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/service-endpoint"
      },
      "input": {
        "shape": "GetServiceEndpointRequest"
      },
      "name": "GetServiceEndpoint",
      "output": {
        "shape": "GetServiceEndpointResponse"
      }
    },
    "GetServiceProfile": {
      "documentation": "<p>Gets information about a service profile.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/service-profiles/{Id}"
      },
      "input": {
        "shape": "GetServiceProfileRequest"
      },
      "name": "GetServiceProfile",
      "output": {
        "shape": "GetServiceProfileResponse"
      }
    },
    "GetWirelessDevice": {
      "documentation": "<p>Gets information about a wireless device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices/{Identifier}"
      },
      "input": {
        "shape": "GetWirelessDeviceRequest"
      },
      "name": "GetWirelessDevice",
      "output": {
        "shape": "GetWirelessDeviceResponse"
      }
    },
    "GetWirelessDeviceStatistics": {
      "documentation": "<p>Gets operating information about a wireless device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices/{Id}/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWirelessDeviceStatisticsRequest"
      },
      "name": "GetWirelessDeviceStatistics",
      "output": {
        "shape": "GetWirelessDeviceStatisticsResponse"
      }
    },
    "GetWirelessGateway": {
      "documentation": "<p>Gets information about a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Identifier}"
      },
      "input": {
        "shape": "GetWirelessGatewayRequest"
      },
      "name": "GetWirelessGateway",
      "output": {
        "shape": "GetWirelessGatewayResponse"
      }
    },
    "GetWirelessGatewayCertificate": {
      "documentation": "<p>Gets the ID of the certificate that is currently associated with a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/certificate"
      },
      "input": {
        "shape": "GetWirelessGatewayCertificateRequest"
      },
      "name": "GetWirelessGatewayCertificate",
      "output": {
        "shape": "GetWirelessGatewayCertificateResponse"
      }
    },
    "GetWirelessGatewayFirmwareInformation": {
      "documentation": "<p>Gets the firmware version and other information about a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/firmware-information"
      },
      "input": {
        "shape": "GetWirelessGatewayFirmwareInformationRequest"
      },
      "name": "GetWirelessGatewayFirmwareInformation",
      "output": {
        "shape": "GetWirelessGatewayFirmwareInformationResponse"
      }
    },
    "GetWirelessGatewayStatistics": {
      "documentation": "<p>Gets operating information about a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWirelessGatewayStatisticsRequest"
      },
      "name": "GetWirelessGatewayStatistics",
      "output": {
        "shape": "GetWirelessGatewayStatisticsResponse"
      }
    },
    "GetWirelessGatewayTask": {
      "documentation": "<p>Gets information about a wireless gateway task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways/{Id}/tasks"
      },
      "input": {
        "shape": "GetWirelessGatewayTaskRequest"
      },
      "name": "GetWirelessGatewayTask",
      "output": {
        "shape": "GetWirelessGatewayTaskResponse"
      }
    },
    "GetWirelessGatewayTaskDefinition": {
      "documentation": "<p>Gets information about a wireless gateway task definition.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateway-task-definitions/{Id}"
      },
      "input": {
        "shape": "GetWirelessGatewayTaskDefinitionRequest"
      },
      "name": "GetWirelessGatewayTaskDefinition",
      "output": {
        "shape": "GetWirelessGatewayTaskDefinitionResponse"
      }
    },
    "ListDestinations": {
      "documentation": "<p>Lists the destinations registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/destinations"
      },
      "input": {
        "shape": "ListDestinationsRequest"
      },
      "name": "ListDestinations",
      "output": {
        "shape": "ListDestinationsResponse"
      }
    },
    "ListDeviceProfiles": {
      "documentation": "<p>Lists the device profiles registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/device-profiles"
      },
      "input": {
        "shape": "ListDeviceProfilesRequest"
      },
      "name": "ListDeviceProfiles",
      "output": {
        "shape": "ListDeviceProfilesResponse"
      }
    },
    "ListEventConfigurations": {
      "documentation": "<p>List event configurations where at least one event topic has been enabled.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/event-configurations"
      },
      "input": {
        "shape": "ListEventConfigurationsRequest"
      },
      "name": "ListEventConfigurations",
      "output": {
        "shape": "ListEventConfigurationsResponse"
      }
    },
    "ListFuotaTasks": {
      "documentation": "<p>Lists the FUOTA tasks registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/fuota-tasks"
      },
      "input": {
        "shape": "ListFuotaTasksRequest"
      },
      "name": "ListFuotaTasks",
      "output": {
        "shape": "ListFuotaTasksResponse"
      }
    },
    "ListMulticastGroups": {
      "documentation": "<p>Lists the multicast groups registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/multicast-groups"
      },
      "input": {
        "shape": "ListMulticastGroupsRequest"
      },
      "name": "ListMulticastGroups",
      "output": {
        "shape": "ListMulticastGroupsResponse"
      }
    },
    "ListMulticastGroupsByFuotaTask": {
      "documentation": "<p>List all multicast groups associated with a fuota task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/fuota-tasks/{Id}/multicast-groups"
      },
      "input": {
        "shape": "ListMulticastGroupsByFuotaTaskRequest"
      },
      "name": "ListMulticastGroupsByFuotaTask",
      "output": {
        "shape": "ListMulticastGroupsByFuotaTaskResponse"
      }
    },
    "ListNetworkAnalyzerConfigurations": {
      "documentation": "<p>Lists the network analyzer configurations.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/network-analyzer-configurations"
      },
      "input": {
        "shape": "ListNetworkAnalyzerConfigurationsRequest"
      },
      "name": "ListNetworkAnalyzerConfigurations",
      "output": {
        "shape": "ListNetworkAnalyzerConfigurationsResponse"
      }
    },
    "ListPartnerAccounts": {
      "documentation": "<p>Lists the partner accounts associated with your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/partner-accounts"
      },
      "input": {
        "shape": "ListPartnerAccountsRequest"
      },
      "name": "ListPartnerAccounts",
      "output": {
        "shape": "ListPartnerAccountsResponse"
      }
    },
    "ListPositionConfigurations": {
      "documentation": "<p>List position configurations for a given resource, such as positioning solvers.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/position-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPositionConfigurationsRequest"
      },
      "name": "ListPositionConfigurations",
      "output": {
        "shape": "ListPositionConfigurationsResponse"
      }
    },
    "ListQueuedMessages": {
      "documentation": "<p>List queued messages in the downlink queue.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices/{Id}/data"
      },
      "input": {
        "shape": "ListQueuedMessagesRequest"
      },
      "name": "ListQueuedMessages",
      "output": {
        "shape": "ListQueuedMessagesResponse"
      }
    },
    "ListServiceProfiles": {
      "documentation": "<p>Lists the service profiles registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/service-profiles"
      },
      "input": {
        "shape": "ListServiceProfilesRequest"
      },
      "name": "ListServiceProfiles",
      "output": {
        "shape": "ListServiceProfilesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags (metadata) you have assigned to the resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWirelessDevices": {
      "documentation": "<p>Lists the wireless devices registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-devices"
      },
      "input": {
        "shape": "ListWirelessDevicesRequest"
      },
      "name": "ListWirelessDevices",
      "output": {
        "shape": "ListWirelessDevicesResponse"
      }
    },
    "ListWirelessGatewayTaskDefinitions": {
      "documentation": "<p>List the wireless gateway tasks definitions registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateway-task-definitions"
      },
      "input": {
        "shape": "ListWirelessGatewayTaskDefinitionsRequest"
      },
      "name": "ListWirelessGatewayTaskDefinitions",
      "output": {
        "shape": "ListWirelessGatewayTaskDefinitionsResponse"
      }
    },
    "ListWirelessGateways": {
      "documentation": "<p>Lists the wireless gateways registered to your AWS account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/wireless-gateways"
      },
      "input": {
        "shape": "ListWirelessGatewaysRequest"
      },
      "name": "ListWirelessGateways",
      "output": {
        "shape": "ListWirelessGatewaysResponse"
      }
    },
    "PutPositionConfiguration": {
      "documentation": "<p>Put position configuration for a given resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/position-configurations/{ResourceIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutPositionConfigurationRequest"
      },
      "name": "PutPositionConfiguration",
      "output": {
        "shape": "PutPositionConfigurationResponse"
      }
    },
    "PutResourceLogLevel": {
      "documentation": "<p>Sets the log-level override for a resource-ID and resource-type. This option can be specified for a wireless gateway or a wireless device. A limit of 200 log level override can be set per account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/log-levels/{ResourceIdentifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutResourceLogLevelRequest"
      },
      "name": "PutResourceLogLevel",
      "output": {
        "shape": "PutResourceLogLevelResponse"
      }
    },
    "ResetAllResourceLogLevels": {
      "documentation": "<p>Removes the log-level overrides for all resources; both wireless devices and wireless gateways.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/log-levels",
        "responseCode": 204
      },
      "input": {
        "shape": "ResetAllResourceLogLevelsRequest"
      },
      "name": "ResetAllResourceLogLevels",
      "output": {
        "shape": "ResetAllResourceLogLevelsResponse"
      }
    },
    "ResetResourceLogLevel": {
      "documentation": "<p>Removes the log-level override, if any, for a specific resource-ID and resource-type. It can be used for a wireless device or a wireless gateway.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/log-levels/{ResourceIdentifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "ResetResourceLogLevelRequest"
      },
      "name": "ResetResourceLogLevel",
      "output": {
        "shape": "ResetResourceLogLevelResponse"
      }
    },
    "SendDataToMulticastGroup": {
      "documentation": "<p>Sends the specified data to a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/multicast-groups/{Id}/data",
        "responseCode": 201
      },
      "input": {
        "shape": "SendDataToMulticastGroupRequest"
      },
      "name": "SendDataToMulticastGroup",
      "output": {
        "shape": "SendDataToMulticastGroupResponse"
      }
    },
    "SendDataToWirelessDevice": {
      "documentation": "<p>Sends a decrypted application data frame to a device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-devices/{Id}/data",
        "responseCode": 202
      },
      "input": {
        "shape": "SendDataToWirelessDeviceRequest"
      },
      "name": "SendDataToWirelessDevice",
      "output": {
        "shape": "SendDataToWirelessDeviceResponse"
      }
    },
    "StartBulkAssociateWirelessDeviceWithMulticastGroup": {
      "documentation": "<p>Starts a bulk association of all qualifying wireless devices with a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/multicast-groups/{Id}/bulk",
        "responseCode": 204
      },
      "input": {
        "shape": "StartBulkAssociateWirelessDeviceWithMulticastGroupRequest"
      },
      "name": "StartBulkAssociateWirelessDeviceWithMulticastGroup",
      "output": {
        "shape": "StartBulkAssociateWirelessDeviceWithMulticastGroupResponse"
      }
    },
    "StartBulkDisassociateWirelessDeviceFromMulticastGroup": {
      "documentation": "<p>Starts a bulk disassociatin of all qualifying wireless devices from a multicast group.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/multicast-groups/{Id}/bulk",
        "responseCode": 204
      },
      "input": {
        "shape": "StartBulkDisassociateWirelessDeviceFromMulticastGroupRequest"
      },
      "name": "StartBulkDisassociateWirelessDeviceFromMulticastGroup",
      "output": {
        "shape": "StartBulkDisassociateWirelessDeviceFromMulticastGroupResponse"
      }
    },
    "StartFuotaTask": {
      "documentation": "<p>Starts a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/fuota-tasks/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "StartFuotaTaskRequest"
      },
      "name": "StartFuotaTask",
      "output": {
        "shape": "StartFuotaTaskResponse"
      }
    },
    "StartMulticastGroupSession": {
      "documentation": "<p>Starts a multicast group session.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/multicast-groups/{Id}/session",
        "responseCode": 204
      },
      "input": {
        "shape": "StartMulticastGroupSessionRequest"
      },
      "name": "StartMulticastGroupSession",
      "output": {
        "shape": "StartMulticastGroupSessionResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds a tag to a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "TestWirelessDevice": {
      "documentation": "<p>Simulates a provisioned device by sending an uplink data payload of <code>Hello</code>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/wireless-devices/{Id}/test",
        "responseCode": 200
      },
      "input": {
        "shape": "TestWirelessDeviceRequest"
      },
      "name": "TestWirelessDevice",
      "output": {
        "shape": "TestWirelessDeviceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDestination": {
      "documentation": "<p>Updates properties of a destination.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/destinations/{Name}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateDestinationRequest"
      },
      "name": "UpdateDestination",
      "output": {
        "shape": "UpdateDestinationResponse"
      }
    },
    "UpdateEventConfigurationByResourceTypes": {
      "documentation": "<p>Update the event configuration based on resource types.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/event-configurations-resource-types",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateEventConfigurationByResourceTypesRequest"
      },
      "name": "UpdateEventConfigurationByResourceTypes",
      "output": {
        "shape": "UpdateEventConfigurationByResourceTypesResponse"
      }
    },
    "UpdateFuotaTask": {
      "documentation": "<p>Updates properties of a FUOTA task.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/fuota-tasks/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateFuotaTaskRequest"
      },
      "name": "UpdateFuotaTask",
      "output": {
        "shape": "UpdateFuotaTaskResponse"
      }
    },
    "UpdateLogLevelsByResourceTypes": {
      "documentation": "<p>Set default log level, or log levels by resource types. This can be for wireless device log options or wireless gateways log options and is used to control the log messages that'll be displayed in CloudWatch.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/log-levels",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLogLevelsByResourceTypesRequest"
      },
      "name": "UpdateLogLevelsByResourceTypes",
      "output": {
        "shape": "UpdateLogLevelsByResourceTypesResponse"
      }
    },
    "UpdateMulticastGroup": {
      "documentation": "<p>Updates properties of a multicast group session.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/multicast-groups/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateMulticastGroupRequest"
      },
      "name": "UpdateMulticastGroup",
      "output": {
        "shape": "UpdateMulticastGroupResponse"
      }
    },
    "UpdateNetworkAnalyzerConfiguration": {
      "documentation": "<p>Update network analyzer configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/network-analyzer-configurations/{ConfigurationName}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateNetworkAnalyzerConfigurationRequest"
      },
      "name": "UpdateNetworkAnalyzerConfiguration",
      "output": {
        "shape": "UpdateNetworkAnalyzerConfigurationResponse"
      }
    },
    "UpdatePartnerAccount": {
      "documentation": "<p>Updates properties of a partner account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/partner-accounts/{PartnerAccountId}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdatePartnerAccountRequest"
      },
      "name": "UpdatePartnerAccount",
      "output": {
        "shape": "UpdatePartnerAccountResponse"
      }
    },
    "UpdatePosition": {
      "documentation": "<p>Update the position information of a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/positions/{ResourceIdentifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdatePositionRequest"
      },
      "name": "UpdatePosition",
      "output": {
        "shape": "UpdatePositionResponse"
      }
    },
    "UpdateResourceEventConfiguration": {
      "documentation": "<p>Update the event configuration for a particular resource identifier.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/event-configurations/{Identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateResourceEventConfigurationRequest"
      },
      "name": "UpdateResourceEventConfiguration",
      "output": {
        "shape": "UpdateResourceEventConfigurationResponse"
      }
    },
    "UpdateWirelessDevice": {
      "documentation": "<p>Updates properties of a wireless device.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/wireless-devices/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateWirelessDeviceRequest"
      },
      "name": "UpdateWirelessDevice",
      "output": {
        "shape": "UpdateWirelessDeviceResponse"
      }
    },
    "UpdateWirelessGateway": {
      "documentation": "<p>Updates properties of a wireless gateway.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/wireless-gateways/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateWirelessGatewayRequest"
      },
      "name": "UpdateWirelessGateway",
      "output": {
        "shape": "UpdateWirelessGatewayResponse"
      }
    }
  },
  "shapes": {
    "AbpV1_0_x": {
      "documentation": "<p>ABP device object for LoRaWAN specification v1.0.x</p>",
      "members": {
        "DevAddr": {
          "documentation": "<p>The DevAddr value.</p>",
          "shape": "DevAddr"
        },
        "FCntStart": {
          "documentation": "<p>The FCnt init value.</p>",
          "shape": "FCntStart"
        },
        "SessionKeys": {
          "documentation": "<p>Session keys for ABP v1.0.x</p>",
          "shape": "SessionKeysAbpV1_0_x"
        }
      },
      "type": "structure"
    },
    "AbpV1_1": {
      "documentation": "<p>ABP device object for LoRaWAN specification v1.1</p>",
      "members": {
        "DevAddr": {
          "documentation": "<p>The DevAddr value.</p>",
          "shape": "DevAddr"
        },
        "FCntStart": {
          "documentation": "<p>The FCnt init value.</p>",
          "shape": "FCntStart"
        },
        "SessionKeys": {
          "documentation": "<p>Session keys for ABP v1.1</p>",
          "shape": "SessionKeysAbpV1_1"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>User does not have permission to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "AccountLinked": {
      "type": "boolean"
    },
    "Accuracy": {
      "documentation": "<p>The accuracy of the estimated position in meters. An empty value indicates that no position data is available. A value of \u20180.0\u2019 value indicates that position data is available. This data corresponds to the position information that you specified instead of the position computed by solver.</p>",
      "members": {
        "HorizontalAccuracy": {
          "documentation": "<p>The horizontal accuracy of the estimated position in meters.</p>",
          "shape": "HorizontalAccuracy"
        },
        "VerticalAccuracy": {
          "documentation": "<p>The vertical accuracy of the estimated position in meters.</p>",
          "shape": "VerticalAccuracy"
        }
      },
      "type": "structure"
    },
    "AckModeRetryDurationSecs": {
      "max": 604800,
      "min": 0,
      "type": "integer"
    },
    "AddGwMetadata": {
      "type": "boolean"
    },
    "AmazonId": {
      "documentation": "<p>The Sidewalk Amazon ID.</p>",
      "max": 2048,
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AppEui": {
      "pattern": "[a-fA-F0-9]{16}",
      "type": "string"
    },
    "AppKey": {
      "pattern": "[a-fA-F0-9]{32}",
      "type": "string"
    },
    "AppSKey": {
      "pattern": "[a-fA-F0-9]{32}",
      "type": "string"
    },
    "AppServerPrivateKey": {
      "max": 4096,
      "min": 1,
      "pattern": "[a-fA-F0-9]{64}",
      "sensitive": true,
      "type": "string"
    },
    "AssociateAwsAccountWithPartnerAccountRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Sidewalk": {
          "documentation": "<p>The Sidewalk account credentials.</p>",
          "shape": "SidewalkAccountInfo"
        },
        "Tags": {
          "documentation": "<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Sidewalk"
      ],
      "type": "structure"
    },
    "AssociateAwsAccountWithPartnerAccountResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name of the resource.</p>",
          "shape": "PartnerAccountArn"
        },
        "Sidewalk": {
          "documentation": "<p>The Sidewalk account credentials.</p>",
          "shape": "SidewalkAccountInfo"
        }
      },
      "type": "structure"
    },
    "AssociateMulticastGroupWithFuotaTaskRequest": {
      "members": {
        "Id": {
          "location": "uri",
          "locationName": "Id",
          "shape": "FuotaTaskId"
        },
        "MulticastGroupId": {
          "shape": "MulticastGroupId"
        }
      },
      "required": [
        "Id",
        "MulticastGroupId"
      ],
      "type": "structure"
    },
    "AssociateMulticastGroupWithFuotaTaskResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateWirelessDeviceWithFuotaTaskRequest": {
      "members": {
        "Id": {
          "location": "uri",
          "locationName": "Id",
          "shape": "FuotaTaskId"
        },
        "WirelessDeviceId": {
          "shape": "WirelessDeviceId"
        }
      },
      "required": [
        "Id",
        "WirelessDeviceId"
      ],
      "type": "structure"
    },
    "AssociateWirelessDeviceWithFuotaTaskResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateWirelessDeviceWithMulticastGroupRequest": {
      "members": {
        "Id": {
          "location": "uri",
          "locationName": "Id",
          "shape": "MulticastGroupId"
        },
        "WirelessDeviceId": {
          "shape": "WirelessDeviceId"
        }
      },
      "required": [
        "Id",
        "WirelessDeviceId"
      ],
      "type": "structure"
    },
    "AssociateWirelessDeviceWithMulticastGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateWirelessDeviceWithThingRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the resource to update.</p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "WirelessDeviceId"
        },
        "ThingArn": {
          "documentation": "<p>The ARN of the thing to associate with the wireless device.</p>",
          "shape": "ThingArn"
        }
      },
      "required": [
        "Id",
        "ThingArn"
      ],
      "type": "structure"
    },
    "AssociateWirelessDeviceWithThingResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateWirelessGatewayWithCertificateRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the resource to update.</p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "WirelessGatewayId"
        },
        "IotCertificateId": {
          "documentation": "<p>The ID of the certificate to associate with the wireless gateway.</p>",
          "shape": "IotCertificateId"
        }
      },
      "required": [
        "Id",
        "IotCertificateId"
      ],
      "type": "structure"
    },
    "AssociateWirelessGatewayWithCertificateResponse": {
      "members": {
        "IotCertificateId": {
          "documentation": "<p>The ID of the certificate associated with the wireless gateway.</p>",
          "shape": "IotCertificateId"
        }
      },
      "type": "structure"
    },
    "AssociateWirelessGatewayWithThingRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the resource to update.</p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "WirelessGatewayId"
        },
        "ThingArn": {
          "documentation": "<p>The ARN of the thing to associate with the wireless gateway.</p>",
          "shape": "ThingArn"
        }
      },
      "required": [
        "Id",
        "ThingArn"
      ],
      "type": "structure"
    },
    "AssociateWirelessGatewayWithThingResponse": {
      "members": {},
      "type": "structure"
    },
    "AutoCreateTasks": {
      "type": "boolean"
    },
    "BatteryLevel": {
      "documentation": "<p>Sidewalk device battery level.</p>",
      "enum": [
        "normal",
        "low",
        "critical"
      ],
      "type": "string"
    },
    "Beaconing": {
      "documentation": "<p>Beaconing parameters for configuring the wireless gateways.</p>",
      "members": {
        "DataRate": {
          "documentation": "<p>The data rate for gateways that are sending the beacons.</p>",
          "shape": "BeaconingDataRate"
        },
        "Frequencies": {
          "documentation": "<p>The frequency list for the gateways to send the beacons.</p>",
          "shape": "BeaconingFrequencies"
        }
      },
      "type": "structure"
    },
    "BeaconingDataRate": {
      "max": 15,
      "min": 0,
      "type": "integer"
    },
    "BeaconingFrequencies": {
      "max": 10,
      "member": {
        "shape": "BeaconingFrequency"
      },
      "min": 0,
      "type": "list"
    },
    "BeaconingFrequency": {
      "max": 1000000000,
      "min": 100000000,
      "type": "integer"
    },
    "CancelMulticastGroupSessionRequest": {
      "members": {
        "Id": {
          "location": "uri",
          "locationName": "Id",
          "shape": "MulticastGroupId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CancelMulticastGroupSessionResponse": {
      "members": {},
      "type": "structure"
    },
    "CertificateList": {
      "documentation": "<p>List of sidewalk certificates.</p>",
      "members": {
        "SigningAlg": {
          "documentation": "<p>The certificate chain algorithm provided by sidewalk.</p>",
          "shape": "SigningAlg"
        },
        "Value": {
          "documentation": "<p>The value of the chosen sidewalk certificate.</p>",
          "shape": "CertificateValue"
        }
      },
      "required": [
        "SigningAlg",
        "Value"
      ],
      "type": "structure"
    },
    "CertificatePEM": {
      "max": 4096,
      "min": 1,
      "pattern": "[^-A-Za-z0-9+/=]|=[^=]|={3,}${1,4096}",
      "type": "string"
    },
    "CertificateValue": {
      "documentation": "<p>Certificate value.</p>",
      "max": 2048,
      "min": 0,
      "type": "string"
    },
    "ChannelMask": {
      "max": 2048,
      "type": "string"
    },
    "ClassBTimeout": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "ClassCTimeout": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "ClientRequestToken": {
      "documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request.</p>",
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-_]+$",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        },
        "ResourceId": {
          "documentation": "<p>Id of the resource in the conflicting operation.</p>",
          "shape": "ResourceId"
        },
        "ResourceType": {
          "documentation": "<p>Type of the resource in the conflicting operation.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ConnectionStatus": {
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "type": "string"
    },
    "ConnectionStatusEventConfiguration": {
      "documentation": "<p>Connection status event configuration object for enabling or disabling topic.</p>",
      "members": {
        "LoRaWAN": {
          "documentation": "<p>Connection status event configuration object for enabling or disabling LoRaWAN related event topics.</p>",
          "shape": "LoRaWANConnectionStatusEventNotificationConfigurations"
        },
        "WirelessGatewayIdEventTopic": {
          "documentation": "<p>Denotes whether the wireless gateway ID connection status event topic is enabled or disabled.</p>",
          "shape": "EventNotificationTopicStatus"
        }
      },
      "type": "structure"
    },
    "ConnectionStatusResourceTypeEventConfiguration": {
      "documentation": "<p>Connection status resource type event configuration object for enabling or disabling topic.</p>",
      "members": {
        "LoRaWAN": {
          "documentation": "<p>Connection status resource type event configuration object for enabling or disabling LoRaWAN related event topics.</p>",
          "shape": "LoRaWANConnectionStatusResourceTypeEventConfiguration"
        }
      },
      "type": "structure"
    },
    "Crc": {
      "max": 4294967295,
      "min": 1,
      "type": "long"
    },
    "CreateDestinationRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description of the new resource.</p>",
          "shape": "Description"
        },
        "Expression": {
          "documentation": "<p>The rule name or topic rule to send messages to.</p>",
          "shape": "Expression"
        },
        "ExpressionType": {
          "documentation": "<p>The type of value in <code>Expression</code>.</p>",
          "shape": "ExpressionType"
        },
        "Name": {
          "documentation": "<p>The name of the new resource.</p>",
          "shape": "DestinationName"
        },
        "RoleArn": {
          "documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>",
          "shape": "RoleArn"
        },
        "Tags": {
          "documentation": "<p>The tags to attach to the new destination. Tags are metadata that you can use to manage a resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "ExpressionType",
        "Expression",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateDestinationResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name of the new resource.</p>",
          "shape": "DestinationArn"
        },
        "Name": {
          "documentation": "<p>The name of the new resource.</p>",
          "shape": "DestinationName"
        }
      },
      "type": "structure"
    },
    "CreateDeviceProfileRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "LoRaWAN": {
          "documentation": "<p>The device profile information to use to create the device profile.</p>",
          "shape": "LoRaWANDeviceProfile"
        },
        "Name": {
          "documentation": "<p>The name of the new resource.</p>",
          "shape": "DeviceProfileName"
        },
        "Tags": {
          "documentation": "<p>The tags to attach to the new device profile. Tags are metadata that you can use to manage a resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "CreateDeviceProfileResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name of the new resource.</p>",
          "shape": "DeviceProfileArn"
        },
        "Id": {
          "documentation": "<p>The ID of the new device profile.</p>",
          "shape": "DeviceProfileId"
        }
      },
      "type": "structure"
    },
    "CreateFuotaTaskRequest": {
      "members": {
        "ClientRequestToken": {
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "shape": "Description"
        },
        "FirmwareUpdateImage": {
          "shape": "FirmwareUpdateImage"
        },
        "FirmwareUpdateRole": {
          "shape": "FirmwareUpdateRole"
        },
        "LoRaWAN": {
          "shape": "LoRaWANFuotaTask"
        },
        "Name": {
          "shape": "FuotaTaskName"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "FirmwareUpdateImage",
        "FirmwareUpdateRole"
      ],
      "type": "structure"
    },
    "CreateFuotaTaskResponse": {
      "members": {
        "Arn": {
          "shape": "FuotaTaskArn"
        },
        "Id": {
          "shape": "FuotaTaskId"
        }
      },
      "type": "structure"
    },
    "CreateMulticastGroupRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description of the multicast group.</p>",
          "shape": "Description"
        },
        "LoRaWAN": {
          "shape": "LoRaWANMulticast"
        },
        "Name": {
          "shape": "MulticastGroupName"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "LoRaWAN"
      ],
      "type": "structure"
    },
    "CreateMulticastGroupResponse": {
      "members": {
        "Arn": {
          "shape": "MulticastGroupArn"
        },
        "Id": {
          "shape": "MulticastGroupId"
        }
      },
      "type": "structure"
    },
    "CreateNetworkAnalyzerConfigurationRequest": {
      "members": {
        "ClientRequestToken": {
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "shape": "Description"
        },
        "Name": {
          "shape": "NetworkAnalyzerConfigurationName"
        },
        "Tags": {
          "shape": "TagList"
        },
        "TraceContent": {
          "shape": "TraceContent"
        },
        "WirelessDevices": {
          "documentation": "<p>Wireless device resources to add to the network analyzer configuration. Provide the <code>WirelessDeviceId</code> of the resource to add in the input array.</p>",
          "shape": "WirelessDeviceList"
        },
        "WirelessGateways": {
[...]
