{
  "documentation": "<p/>",
  "metadata": {
    "apiVersion": "2021-08-17",
    "endpointPrefix": "gamesparks",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "GameSparks",
    "serviceId": "GameSparks",
    "signatureVersion": "v4",
    "signingName": "gamesparks",
    "uid": "gamesparks-2021-08-17"
  },
  "operations": {
    "CreateGame": {
      "documentation": "<p> Creates a new game with an empty configuration. After creating your game, you can update the configuration using <code>UpdateGameConfiguration</code> or <code>ImportGameConfiguration</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/game",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateGameRequest"
      },
      "name": "CreateGame",
      "output": {
        "shape": "CreateGameResult"
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>Creates a snapshot of the game configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/game/{GameName}/snapshot",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSnapshotRequest"
      },
      "name": "CreateSnapshot",
      "output": {
        "shape": "CreateSnapshotResult"
      }
    },
    "CreateStage": {
      "documentation": "<p>Creates a new stage for stage-by-stage game development and deployment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/game/{GameName}/stage",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateStageRequest"
      },
      "name": "CreateStage",
      "output": {
        "shape": "CreateStageResult"
      }
    },
    "DeleteGame": {
      "documentation": "<p>Deletes a game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/game/{GameName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGameRequest"
      },
      "name": "DeleteGame",
      "output": {
        "shape": "DeleteGameResult"
      }
    },
    "DeleteStage": {
      "documentation": "<p>Deletes a stage from a game, along with the associated game runtime.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/game/{GameName}/stage/{StageName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStageRequest"
      },
      "name": "DeleteStage",
      "output": {
        "shape": "DeleteStageResult"
      }
    },
    "DisconnectPlayer": {
      "documentation": "<p>Disconnects a player from the game runtime.</p> <p> If a player has multiple connections, this operation attempts to close all of them. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/disconnect",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisconnectPlayerRequest"
      },
      "name": "DisconnectPlayer",
      "output": {
        "shape": "DisconnectPlayerResult"
      }
    },
    "ExportSnapshot": {
      "documentation": "<p>Exports a game configuration snapshot.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/export",
        "responseCode": 200
      },
      "input": {
        "shape": "ExportSnapshotRequest"
      },
      "name": "ExportSnapshot",
      "output": {
        "shape": "ExportSnapshotResult"
      }
    },
    "GetExtension": {
      "documentation": "<p>Gets details about a specified extension.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/extension/{Namespace}/{Name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExtensionRequest"
      },
      "name": "GetExtension",
      "output": {
        "shape": "GetExtensionResult"
      }
    },
    "GetExtensionVersion": {
      "documentation": "<p>Gets details about a specified extension version.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/extension/{Namespace}/{Name}/version/{ExtensionVersion}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExtensionVersionRequest"
      },
      "name": "GetExtensionVersion",
      "output": {
        "shape": "GetExtensionVersionResult"
      }
    },
    "GetGame": {
      "documentation": "<p>Gets details about a game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGameRequest"
      },
      "name": "GetGame",
      "output": {
        "shape": "GetGameResult"
      }
    },
    "GetGameConfiguration": {
      "documentation": "<p>Gets the configuration of the game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGameConfigurationRequest"
      },
      "name": "GetGameConfiguration",
      "output": {
        "shape": "GetGameConfigurationResult"
      }
    },
    "GetGeneratedCodeJob": {
      "documentation": "<p>Gets details about a job that is generating code for a snapshot.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-job/{JobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGeneratedCodeJobRequest"
      },
      "name": "GetGeneratedCodeJob",
      "output": {
        "shape": "GetGeneratedCodeJobResult"
      }
    },
    "GetPlayerConnectionStatus": {
      "documentation": "<p>Gets the status of a player's connection to the game runtime.</p> <p> It's possible for a single player to have multiple connections to the game runtime. If a player is not connected, this operation returns an empty list. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/connection",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPlayerConnectionStatusRequest"
      },
      "name": "GetPlayerConnectionStatus",
      "output": {
        "shape": "GetPlayerConnectionStatusResult"
      }
    },
    "GetSnapshot": {
      "documentation": "<p>Gets a copy of the game configuration in a snapshot.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSnapshotRequest"
      },
      "name": "GetSnapshot",
      "output": {
        "shape": "GetSnapshotResult"
      }
    },
    "GetStage": {
      "documentation": "<p>Gets information about a stage.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/stage/{StageName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStageRequest"
      },
      "name": "GetStage",
      "output": {
        "shape": "GetStageResult"
      }
    },
    "GetStageDeployment": {
      "documentation": "<p>Gets information about a stage deployment.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/stage/{StageName}/deployment",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStageDeploymentRequest"
      },
      "name": "GetStageDeployment",
      "output": {
        "shape": "GetStageDeploymentResult"
      }
    },
    "ImportGameConfiguration": {
      "documentation": "<p>Imports a game configuration.</p> <p> This operation replaces the current configuration of the game with the provided input. This is not a reversible operation. If you want to preserve the previous configuration, use <code>CreateSnapshot</code> to make a new snapshot before importing. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/game/{GameName}/configuration",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ImportGameConfigurationRequest"
      },
      "name": "ImportGameConfiguration",
      "output": {
        "shape": "ImportGameConfigurationResult"
      }
    },
    "ListExtensionVersions": {
      "documentation": "<p>Gets a paginated list of available versions for the extension.</p> <p> Each time an API change is made to an extension, the version is incremented. The list retrieved by this operation shows the versions that are currently available. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/extension/{Namespace}/{Name}/version",
        "responseCode": 200
      },
      "input": {
        "shape": "ListExtensionVersionsRequest"
      },
      "name": "ListExtensionVersions",
      "output": {
        "shape": "ListExtensionVersionsResult"
      }
    },
    "ListExtensions": {
      "documentation": "<p>Gets a paginated list of available extensions.</p> <p> Extensions provide features that games can use from scripts. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/extension",
        "responseCode": 200
      },
      "input": {
        "shape": "ListExtensionsRequest"
      },
      "name": "ListExtensions",
      "output": {
        "shape": "ListExtensionsResult"
      }
    },
    "ListGames": {
      "documentation": "<p>Gets a paginated list of games.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGamesRequest"
      },
      "name": "ListGames",
      "output": {
        "shape": "ListGamesResult"
      }
    },
    "ListGeneratedCodeJobs": {
      "documentation": "<p>Gets a paginated list of code generation jobs for a snapshot.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGeneratedCodeJobsRequest"
      },
      "name": "ListGeneratedCodeJobs",
      "output": {
        "shape": "ListGeneratedCodeJobsResult"
      }
    },
    "ListSnapshots": {
      "documentation": "<p>Gets a paginated list of snapshot summaries from the game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/snapshot",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSnapshotsRequest"
      },
      "name": "ListSnapshots",
      "output": {
        "shape": "ListSnapshotsResult"
      }
    },
    "ListStageDeployments": {
      "documentation": "<p>Gets a paginated list of stage deployment summaries from the game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/stage/{StageName}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStageDeploymentsRequest"
      },
      "name": "ListStageDeployments",
      "output": {
        "shape": "ListStageDeploymentsResult"
      }
    },
    "ListStages": {
      "documentation": "<p>Gets a paginated list of stage summaries from the game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/game/{GameName}/stage",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStagesRequest"
      },
      "name": "ListStages",
      "output": {
        "shape": "ListStagesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags associated with a GameSparks resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "StartGeneratedCodeJob": {
      "documentation": "<p> Starts an asynchronous process that generates client code for system-defined and custom messages. The resulting code is collected as a .zip file and uploaded to a pre-signed Amazon S3 URL. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-job",
        "responseCode": 200
      },
      "input": {
        "shape": "StartGeneratedCodeJobRequest"
      },
      "name": "StartGeneratedCodeJob",
      "output": {
        "shape": "StartGeneratedCodeJobResult"
      }
    },
    "StartStageDeployment": {
      "documentation": "<p>Deploys a snapshot to the stage and creates a new game runtime.</p> <p> After you call this operation, you can check the deployment status by using <code>GetStageDeployment</code>. </p> <p> If there are any players connected to the previous game runtime, then both runtimes persist. Existing connections to the previous runtime are maintained. When players disconnect and reconnect, they connect to the new runtime. After there are no connections to the previous game runtime, it is deleted. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/game/{GameName}/stage/{StageName}/deployment",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "StartStageDeploymentRequest"
      },
      "name": "StartStageDeployment",
      "output": {
        "shape": "StartStageDeploymentResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds tags to a GameSparks resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a GameSparks resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    },
    "UpdateGame": {
      "documentation": "<p>Updates details of the game.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/game/{GameName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateGameRequest"
      },
      "name": "UpdateGame",
      "output": {
        "shape": "UpdateGameResult"
      }
    },
    "UpdateGameConfiguration": {
      "documentation": "<p>Updates one or more sections of the game configuration.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/game/{GameName}/configuration",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateGameConfigurationRequest"
      },
      "name": "UpdateGameConfiguration",
      "output": {
        "shape": "UpdateGameConfigurationResult"
      }
    },
    "UpdateSnapshot": {
      "documentation": "<p>Updates the metadata of a GameSparks snapshot.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/game/{GameName}/snapshot/{SnapshotId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateSnapshotRequest"
      },
      "name": "UpdateSnapshot",
      "output": {
        "shape": "UpdateSnapshotResult"
      }
    },
    "UpdateStage": {
      "documentation": "<p>Updates the metadata of a stage.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/game/{GameName}/stage/{StageName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateStageRequest"
      },
      "name": "UpdateStage",
      "output": {
        "shape": "UpdateStageResult"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 2048,
      "min": 20,
      "pattern": "^[A-Za-z0-9:_/-]+$",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ByteSize": {
      "min": 0,
      "type": "integer"
    },
    "ClientToken": {
      "max": 126,
      "min": 33,
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The resource already exists, or another operation is in progress.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Connection": {
      "documentation": "<p>Details about a WebSocket connection.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The date and time when the connection was created.</p>",
          "shape": "DateTime"
        },
        "Id": {
          "documentation": "<p>The identifier used to indicate a specific WebSocket connection.</p>",
          "shape": "ConnectionId"
        }
      },
      "type": "structure"
    },
    "ConnectionId": {
      "max": 36,
      "min": 1,
      "type": "string"
    },
    "ConnectionIdList": {
      "member": {
        "shape": "ConnectionId"
      },
      "type": "list"
    },
    "ConnectionList": {
      "member": {
        "shape": "Connection"
      },
      "type": "list"
    },
    "CreateGameRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>The description of the game.</p>",
          "shape": "GameDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "shape": "GameName"
        },
        "Tags": {
          "documentation": "<p>The list of tags to apply to the game.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "CreateGameResult": {
      "members": {
        "Game": {
          "documentation": "<p>Details about the game that was created.</p>",
          "shape": "GameDetails"
        }
      },
      "type": "structure"
    },
    "CreateSnapshotRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the snapshot.</p>",
          "shape": "SnapshotDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "CreateSnapshotResult": {
      "members": {
        "Snapshot": {
          "documentation": "<p>Properties that provide details of the created snapshot.</p>",
          "shape": "SnapshotDetails"
        }
      },
      "type": "structure"
    },
    "CreateStageRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>The description of the stage.</p>",
          "shape": "StageDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Role": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the role to run the game with. This role can be a game-defined role or the default role that GameSparks created. </p>",
          "shape": "RoleARN"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "shape": "StageName"
        },
        "Tags": {
          "documentation": "<p>The list of tags to apply to the stage.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "GameName",
        "Role",
        "StageName"
      ],
      "type": "structure"
    },
    "CreateStageResult": {
      "members": {
        "Stage": {
          "documentation": "<p>Properties that describe the stage.</p>",
          "shape": "StageDetails"
        }
      },
      "type": "structure"
    },
    "DateTime": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "DeleteGameRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game to delete.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "DeleteGameResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteStageRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "StageName": {
          "documentation": "<p>The name of the stage to delete.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "StageName"
      ],
      "type": "structure"
    },
    "DeleteStageResult": {
      "members": {},
      "type": "structure"
    },
    "DeploymentAction": {
      "enum": [
        "DEPLOY",
        "UNDEPLOY"
      ],
      "type": "string"
    },
    "DeploymentId": {
      "max": 128,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "DeploymentResult": {
      "documentation": "<p>The result of the deployment.</p>",
      "members": {
        "Message": {
          "documentation": "<p>Details about the deployment result.</p>",
          "shape": "Message"
        },
        "ResultCode": {
          "documentation": "<p>The type of deployment result.</p>",
          "shape": "ResultCode"
        }
      },
      "type": "structure"
    },
    "DeploymentState": {
      "enum": [
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "DisconnectPlayerRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "PlayerId": {
          "documentation": "<p>The unique identifier representing a player.</p>",
          "location": "uri",
          "locationName": "PlayerId",
          "shape": "PlayerId"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "PlayerId",
        "StageName"
      ],
      "type": "structure"
    },
    "DisconnectPlayerResult": {
      "members": {
        "DisconnectFailures": {
          "documentation": "<p>The list of the connection ids that could not be disconnected.</p>",
          "shape": "ConnectionIdList"
        },
        "DisconnectSuccesses": {
          "documentation": "<p>The list of the connection ids that were disconnected.</p>",
          "shape": "ConnectionIdList"
        }
      },
      "type": "structure"
    },
    "Document": {
      "document": true,
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "ExportSnapshotRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot to export.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "ExportSnapshotResult": {
      "members": {
        "S3Url": {
          "documentation": "<p>The presigned URL for the snapshot data.</p> <p> This URL will be available for 10 minutes, and can be used to download the snapshot content. If the URL expires, a new one can be requested using the same operation. </p>",
          "shape": "S3PresignedUrl"
        }
      },
      "type": "structure"
    },
    "ExtensionDescription": {
      "max": 250,
      "min": 0,
      "pattern": "^\\S(.*\\S)?$|^$",
      "type": "string"
    },
    "ExtensionDetails": {
      "documentation": "<p>Details about the extension.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the extension.</p>",
          "shape": "ExtensionDescription"
        },
        "Name": {
          "documentation": "<p>The name of the extension.</p>",
          "shape": "ExtensionName"
        },
        "Namespace": {
          "documentation": "<p>The namespace (qualifier) of the extension.</p>",
          "shape": "ExtensionNamespace"
        }
      },
      "type": "structure"
    },
    "ExtensionDetailsList": {
      "member": {
        "shape": "ExtensionDetails"
      },
      "type": "list"
    },
    "ExtensionName": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "ExtensionNamespace": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "ExtensionVersion": {
      "max": 20,
      "min": 0,
      "type": "string"
    },
    "ExtensionVersionDetails": {
      "documentation": "<p>Details about the extension version.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the extension.</p>",
          "shape": "ExtensionName"
        },
        "Namespace": {
          "documentation": "<p>The namespace (qualifier) of the extension.</p>",
          "shape": "ExtensionNamespace"
        },
        "Schema": {
          "documentation": "<p>The model that defines the interface for this extension version.</p>",
          "shape": "ExtensionVersionSchema"
        },
        "Version": {
          "documentation": "<p>The version of the extension.</p>",
          "shape": "ExtensionVersion"
        }
      },
      "type": "structure"
    },
    "ExtensionVersionDetailsList": {
      "member": {
        "shape": "ExtensionVersionDetails"
      },
      "type": "list"
    },
    "ExtensionVersionSchema": {
      "max": 2048,
      "min": 0,
      "type": "string"
    },
    "GameConfigurationDetails": {
      "documentation": "<p>Details about the game configuration.</p> <p> The game configuration is organized into named sections, where the schema of each section is defined by an extension. The schema for these sections can be retrieved using the <code>GetExtensionVersion</code> operation. </p>",
      "members": {
        "Created": {
          "documentation": "<p>The date when the game was created.</p>",
          "shape": "DateTime"
        },
        "LastUpdated": {
          "documentation": "<p>The date when the game was last modified.</p>",
          "shape": "DateTime"
        },
        "Sections": {
          "documentation": "<p>Configuration data, organized by section name.</p>",
          "shape": "Sections"
        }
      },
      "type": "structure"
    },
    "GameDescription": {
      "max": 250,
      "min": 0,
      "pattern": "^\\S(.*\\S)?$|^$",
      "type": "string"
    },
    "GameDetails": {
      "documentation": "<p>Details about a game.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of this game.</p>",
          "shape": "ARN"
        },
        "Created": {
          "documentation": "<p>The date when the game was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of the game.</p>",
          "shape": "GameDescription"
        },
        "EnableTerminationProtection": {
          "documentation": "<p>Determines if the game can be deleted.</p>",
          "shape": "GameTerminationProtection"
        },
        "LastUpdated": {
          "documentation": "<p>The date when the game was last modified.</p>",
          "shape": "DateTime"
        },
        "Name": {
          "documentation": "<p>The name of the game.</p>",
          "shape": "GameName"
        },
        "State": {
          "documentation": "<p>The state of the game.</p>",
          "shape": "GameState"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the game.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GameKey": {
      "max": 44,
      "min": 1,
      "type": "string"
    },
    "GameName": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "GameSdkVersion": {
      "max": 10,
      "min": 5,
      "pattern": "^((\\d|[1-9]\\d*)\\.(\\d|[0-9]\\d*)\\.(\\d|[0-9]\\d*)|LATEST)$",
      "type": "string"
    },
    "GameState": {
      "enum": [
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "GameSummary": {
      "documentation": "<p>The summary of the properties of a game.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the game.</p>",
          "shape": "GameDescription"
        },
        "Name": {
          "documentation": "<p>The name of the game.</p>",
          "shape": "GameName"
        },
        "State": {
          "documentation": "<p>The state of the game.</p>",
          "shape": "GameState"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the game.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "GameSummaryList": {
      "member": {
        "shape": "GameSummary"
      },
      "type": "list"
    },
    "GameTerminationProtection": {
      "type": "boolean"
    },
    "GeneratedCodeJobDescription": {
      "max": 250,
      "min": 0,
      "pattern": "^\\S(.*\\S)?$|^$",
      "type": "string"
    },
    "GeneratedCodeJobDetails": {
      "documentation": "<p>Details about a generated code job.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the generated code job.</p>",
          "shape": "GeneratedCodeJobDescription"
        },
        "ExpirationTime": {
          "documentation": "<p>The expiration date and time for the download URL.</p> <p> The download URL us guaranteed to be available until at least this time. </p>",
          "shape": "DateTime"
        },
        "GeneratedCodeJobId": {
          "documentation": "<p>The identifier for the generated code job.</p>",
          "shape": "GeneratedCodeJobId"
        },
        "S3Url": {
          "documentation": "<p>A presigned URL that can be used to download the generated code.</p>",
          "shape": "S3PresignedUrl"
        },
        "Status": {
          "documentation": "<p>The status of the generated code job</p>",
          "shape": "GeneratedCodeJobState"
        }
      },
      "type": "structure"
    },
    "GeneratedCodeJobDetailsList": {
      "member": {
        "shape": "GeneratedCodeJobDetails"
      },
      "type": "list"
    },
    "GeneratedCodeJobId": {
      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
      "type": "string"
    },
    "GeneratedCodeJobState": {
      "enum": [
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "PENDING"
      ],
      "type": "string"
    },
    "Generator": {
      "documentation": "<p>Properties that specify the code generator for a generated code job.</p>",
      "members": {
        "GameSdkVersion": {
          "documentation": "<p>The target version of the GameSparks Game SDK.</p>",
          "shape": "GameSdkVersion"
        },
        "Language": {
          "documentation": "<p>The programming language for the generated code.</p> <p> Not all languages are supported for each platform. For cases where multiple languages are supported, this parameter specifies the language to be used. If this value is omitted, the default language for the target platform will be used. </p>",
          "shape": "Language"
        },
        "TargetPlatform": {
          "documentation": "<p>The platform that will be used to run the generated code.</p>",
          "shape": "TargetPlatform"
        }
      },
      "type": "structure"
    },
    "GetExtensionRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the extension.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "ExtensionName"
        },
        "Namespace": {
          "documentation": "<p>The namespace (qualifier) of the extension.</p>",
          "location": "uri",
          "locationName": "Namespace",
          "shape": "ExtensionNamespace"
        }
      },
      "required": [
        "Name",
        "Namespace"
      ],
      "type": "structure"
    },
    "GetExtensionResult": {
      "members": {
        "Extension": {
          "documentation": "<p>Details about the extension.</p>",
          "shape": "ExtensionDetails"
        }
      },
      "type": "structure"
    },
    "GetExtensionVersionRequest": {
      "members": {
        "ExtensionVersion": {
          "documentation": "<p>The version of the extension.</p>",
          "location": "uri",
          "locationName": "ExtensionVersion",
          "shape": "ExtensionVersion"
        },
        "Name": {
          "documentation": "<p>The name of the extension.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "ExtensionName"
        },
        "Namespace": {
          "documentation": "<p>The namespace (qualifier) of the extension.</p>",
          "location": "uri",
          "locationName": "Namespace",
          "shape": "ExtensionNamespace"
        }
      },
      "required": [
        "ExtensionVersion",
        "Name",
        "Namespace"
      ],
      "type": "structure"
    },
    "GetExtensionVersionResult": {
      "members": {
        "ExtensionVersion": {
          "documentation": "<p>The version of the extension.</p>",
          "shape": "ExtensionVersionDetails"
        }
      },
      "type": "structure"
    },
    "GetGameConfigurationRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Sections": {
          "documentation": "<p>The list of sections to return.</p>",
          "location": "querystring",
          "locationName": "Sections",
          "shape": "SectionList"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "GetGameConfigurationResult": {
      "members": {
        "GameConfiguration": {
          "documentation": "<p>Details about the game configuration.</p>",
          "shape": "GameConfigurationDetails"
        }
      },
      "type": "structure"
    },
    "GetGameRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "GetGameResult": {
      "members": {
        "Game": {
          "documentation": "<p>The details of the game.</p>",
          "shape": "GameDetails"
        }
      },
      "type": "structure"
    },
    "GetGeneratedCodeJobRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "JobId": {
          "documentation": "<p>The identifier of the code generation job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "GeneratedCodeJobId"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot for the code generation job.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "JobId",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "GetGeneratedCodeJobResult": {
      "members": {
        "GeneratedCodeJob": {
          "documentation": "<p>Details about the generated code job.</p>",
          "shape": "GeneratedCodeJobDetails"
        }
      },
      "type": "structure"
    },
    "GetPlayerConnectionStatusRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "PlayerId": {
          "documentation": "<p>The unique identifier representing a player.</p>",
          "location": "uri",
          "locationName": "PlayerId",
          "shape": "PlayerId"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "PlayerId",
        "StageName"
      ],
      "type": "structure"
    },
    "GetPlayerConnectionStatusResult": {
      "members": {
        "Connections": {
          "documentation": "<p>The list of connection ids, one for each connection in use by the player.</p>",
          "shape": "ConnectionList"
        }
      },
      "type": "structure"
    },
    "GetSnapshotRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Sections": {
          "documentation": "<p>The list of game configuration sections to be described.</p>",
          "location": "querystring",
          "locationName": "Sections",
          "shape": "SectionList"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "GetSnapshotResult": {
      "members": {
        "Snapshot": {
          "documentation": "<p>Properties that provide details of the snapshot.</p>",
          "shape": "SnapshotDetails"
        }
      },
      "type": "structure"
    },
    "GetStageDeploymentRequest": {
      "members": {
        "DeploymentId": {
          "documentation": "<p> The identifier of the stage deployment. <code>StartStageDeployment</code> returns the identifier that you use here. </p>",
          "location": "querystring",
          "locationName": "DeploymentId",
          "shape": "DeploymentId"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "StageName"
      ],
      "type": "structure"
    },
    "GetStageDeploymentResult": {
      "members": {
        "StageDeployment": {
          "documentation": "<p>Properties that provide details of the stage deployment.</p>",
          "shape": "StageDeploymentDetails"
        }
      },
      "type": "structure"
    },
    "GetStageRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "StageName"
      ],
      "type": "structure"
    },
    "GetStageResult": {
      "members": {
        "Stage": {
          "documentation": "<p>Properties that provide details of the stage.</p>",
          "shape": "StageDetails"
        }
      },
      "type": "structure"
    },
    "ImportGameConfigurationRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "ImportSource": {
          "documentation": "<p>The source used to import configuration sections.</p>",
          "shape": "ImportGameConfigurationSource"
        }
      },
      "required": [
        "GameName",
        "ImportSource"
      ],
      "type": "structure"
    },
    "ImportGameConfigurationResult": {
      "members": {
        "GameConfiguration": {
          "documentation": "<p>Details about the game configuration.</p>",
          "shape": "GameConfigurationDetails"
        }
      },
      "type": "structure"
    },
    "ImportGameConfigurationSource": {
      "documentation": "<p>The source used to import configuration sections.</p>",
      "members": {
        "File": {
          "documentation": "<p>The JSON string containing the configuration sections.</p>",
          "shape": "RawGameConfigurationData"
        }
      },
      "required": [
        "File"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>The service encountered an internal error.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Language": {
      "max": 16,
      "min": 1,
      "pattern": "^[a-zA-Z_]+$",
      "type": "string"
    },
    "ListExtensionVersionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "Name": {
          "documentation": "<p>The name of the extension.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "ExtensionName"
        },
        "Namespace": {
          "documentation": "<p>The namespace (qualifier) of the extension.</p>",
          "location": "uri",
          "locationName": "Namespace",
          "shape": "ExtensionNamespace"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "Name",
        "Namespace"
      ],
      "type": "structure"
    },
    "ListExtensionVersionsResult": {
      "members": {
        "ExtensionVersions": {
          "documentation": "<p>The list of extension versions.</p>",
          "shape": "ExtensionVersionDetailsList"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListExtensionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListExtensionsResult": {
      "members": {
        "Extensions": {
          "documentation": "<p>The list of extensions.</p>",
          "shape": "ExtensionDetailsList"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGamesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGamesResult": {
      "members": {
        "Games": {
          "documentation": "<p>The list of games.</p>",
          "shape": "GameSummaryList"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGeneratedCodeJobsRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "ListGeneratedCodeJobsResult": {
      "members": {
        "GeneratedCodeJobs": {
          "documentation": "<p>The list of generated code jobs.</p>",
          "shape": "GeneratedCodeJobDetailsList"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListSnapshotsRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "ListSnapshotsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        },
        "Snapshots": {
          "documentation": "<p> A list of snapshot summaries. You can use the returned snapshot IDs in the <code>UpdateSnapshot</code> and <code>GetSnapshot</code> operations. </p>",
          "shape": "SnapshotSummaryList"
        }
      },
      "type": "structure"
    },
    "ListStageDeploymentsRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "StageName"
      ],
      "type": "structure"
    },
    "ListStageDeploymentsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        },
        "StageDeployments": {
          "documentation": "<p> A list of stage deployment summaries. You can use the deployment IDs in the <code>UpdateStageDeployment</code> and <code>GetStageDeployment</code> actions. </p>",
          "shape": "StageDeploymentList"
        }
      },
      "type": "structure"
    },
    "ListStagesRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return.</p> <p> Use this parameter with NextToken to get results as a set of sequential pages. </p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use the token that is returned with a previous call to this operation. To start at the beginning of the result set, do not specify a value. </p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "ListStagesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that indicates the start of the next sequential page of results.</p> <p> Use this value when making the next call to this operation to continue where the last one finished. </p>",
          "shape": "NextToken"
        },
        "Stages": {
          "documentation": "<p> A list of stage summaries. You can use the stage names in the <code>UpdateStage</code> and <code>GetStage</code> actions. </p>",
          "shape": "StageSummaryList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the GameSparks resource.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResult": {
      "members": {
        "tags": {
          "documentation": "<p>The tags associated with the resource.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "LogGroupName": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "NextToken": {
      "max": 1024,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "Operation": {
      "enum": [
        "ADD",
        "REMOVE",
        "REPLACE"
      ],
      "type": "string"
    },
    "Path": {
      "max": 500,
      "min": 1,
      "pattern": "^\\/.*[^\\/]$",
      "type": "string"
    },
    "PlayerId": {
      "max": 44,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "RawGameConfigurationData": {
      "max": 1024000,
      "min": 10,
      "type": "blob"
    },
    "ResourceArn": {
      "max": 2048,
      "min": 20,
      "pattern": "^arn:aws:gamesparks:",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource specified in the request does not exist.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResultCode": {
      "enum": [
        "SUCCESS",
        "INVALID_ROLE_FAILURE",
        "UNSPECIFIED_FAILURE"
      ],
      "type": "string"
    },
    "RoleARN": {
      "max": 2048,
      "min": 20,
      "pattern": "^arn:(aws[a-zA-Z-]*)?:iam::\\d{12}:role/.+$",
      "type": "string"
    },
    "S3PresignedUrl": {
      "max": 2048,
      "min": 10,
      "pattern": "^https:\\/\\/(.*)\\.s3(.*)\\.amazonaws\\.com\\/(.*)$",
      "type": "string"
    },
    "Section": {
      "documentation": "<p>The configuration section.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>The content of a configuration section.</p>",
          "shape": "Document"
        },
        "Name": {
          "documentation": "<p>The name of the section.</p>",
          "shape": "SectionName"
        },
        "Size": {
          "documentation": "<p>The size, in bytes, of the section contents.</p>",
          "shape": "ByteSize"
        }
      },
      "type": "structure"
    },
    "SectionList": {
      "max": 100,
      "member": {
        "shape": "SectionName"
      },
      "min": 1,
      "type": "list"
    },
    "SectionModification": {
      "documentation": "<p>A single modification to the configuration section.</p>",
      "members": {
        "Operation": {
          "documentation": "<p>The operation to be performed on a configuration section.</p> <p> Content can be added, deleted, or replaced within a section. </p>",
          "shape": "Operation"
        },
        "Path": {
          "documentation": "<p>The path within the section content to be modified.</p>",
          "shape": "Path"
        },
        "Section": {
          "documentation": "<p>The name of the section to be modified.</p>",
          "shape": "SectionName"
        },
        "Value": {
          "documentation": "<p>For add and replace operations, this is the value that will be used.</p> <p> This field should be omitted for delete operations. </p>",
          "shape": "Document"
        }
      },
      "required": [
        "Operation",
        "Path",
        "Section"
      ],
      "type": "structure"
    },
    "SectionModificationList": {
      "max": 100,
      "member": {
        "shape": "SectionModification"
      },
      "min": 1,
      "type": "list"
    },
    "SectionName": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9.]+$",
      "type": "string"
    },
    "Sections": {
      "key": {
        "shape": "SectionName"
      },
      "type": "map",
      "value": {
        "shape": "Section"
      }
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The request would result in exceeding service quota.</p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "SnapshotDescription": {
      "max": 250,
      "min": 0,
      "pattern": "^\\S(.*\\S)?$|^$",
      "type": "string"
    },
    "SnapshotDetails": {
      "documentation": "<p>Properties that provide details of a snapshot.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The timestamp of when the snapshot was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of the snapshot.</p>",
          "shape": "SnapshotDescription"
        },
        "Id": {
          "documentation": "<p>The identifier of the snapshot.</p>",
          "shape": "SnapshotId"
        },
        "LastUpdated": {
          "documentation": "<p>The timestamp of when the snapshot was last updated.</p>",
          "shape": "DateTime"
        },
        "Sections": {
          "documentation": "<p>The sections in the snapshot.</p>",
          "shape": "Sections"
        }
      },
      "type": "structure"
    },
    "SnapshotId": {
      "max": 36,
      "min": 33,
      "pattern": "^Snapshot_\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{3,6}Z$",
      "type": "string"
    },
    "SnapshotSummary": {
      "documentation": "<p>The summary of the properties of a snapshot.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The timestamp of when the snapshot was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of the snapshot.</p>",
          "shape": "SnapshotDescription"
        },
        "Id": {
          "documentation": "<p>The identifier of the snapshot.</p>",
          "shape": "SnapshotId"
        },
        "LastUpdated": {
          "documentation": "<p>Then timestamp of when the snapshot was last updated.</p>",
          "shape": "DateTime"
        }
      },
      "type": "structure"
    },
    "SnapshotSummaryList": {
      "member": {
        "shape": "SnapshotSummary"
      },
      "type": "list"
    },
    "StageDeploymentDetails": {
      "documentation": "<p>Properties that provide details of a stage deployment.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The timestamp of when the stage deployment was created.</p>",
          "shape": "DateTime"
        },
        "DeploymentAction": {
          "documentation": "<p>The type of action of the stage deployment.</p>",
          "shape": "DeploymentAction"
        },
        "DeploymentId": {
          "documentation": "<p>The identifier of the deployment.</p>",
          "shape": "DeploymentId"
        },
        "DeploymentResult": {
          "documentation": "<p>The result of the deployment.</p>",
          "shape": "DeploymentResult"
        },
        "DeploymentState": {
          "documentation": "<p>The state of the deployment.</p>",
          "shape": "DeploymentState"
        },
        "LastUpdated": {
          "documentation": "<p>The timestamp of when the deployment was last updated.</p>",
          "shape": "DateTime"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot associated with the stage deployment.</p>",
          "shape": "SnapshotId"
        }
      },
      "type": "structure"
    },
    "StageDeploymentList": {
      "member": {
        "shape": "StageDeploymentSummary"
      },
      "type": "list"
    },
    "StageDeploymentSummary": {
      "documentation": "<p>The summary of the properties of a stage deployment.</p>",
      "members": {
        "DeploymentAction": {
          "documentation": "<p>The type of action of the deployment.</p>",
          "shape": "DeploymentAction"
        },
        "DeploymentId": {
          "documentation": "<p>The identifier of the deployment.</p>",
          "shape": "DeploymentId"
        },
        "DeploymentResult": {
          "documentation": "<p>The result of the deployment.</p>",
          "shape": "DeploymentResult"
        },
        "DeploymentState": {
          "documentation": "<p>The state of the deployment.</p>",
          "shape": "DeploymentState"
        },
        "LastUpdated": {
          "documentation": "<p>The timestamp of when the deployment was last updated.</p>",
          "shape": "DateTime"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot associated with the stage deployment.</p>",
          "shape": "SnapshotId"
        }
      },
      "type": "structure"
    },
    "StageDescription": {
      "max": 250,
      "min": 0,
      "pattern": "^\\S(.*\\S)?$|^$",
      "type": "string"
    },
    "StageDetails": {
      "documentation": "<p>Properties that provide details of a stage.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the stage.</p>",
          "shape": "ARN"
        },
        "Created": {
          "documentation": "<p>The timestamp of when the stage was created.</p>",
          "shape": "DateTime"
        },
        "Description": {
          "documentation": "<p>The description of the stage.</p>",
          "shape": "StageDescription"
        },
        "GameKey": {
          "documentation": "<p>The game key associated with the stage.</p> <p> The game key is a unique identifier that the game client uses to connect to the GameSparks backend. </p>",
          "shape": "GameKey"
        },
        "LastUpdated": {
          "documentation": "<p>The timestamp of when the stage was last updated.</p>",
          "shape": "DateTime"
        },
        "LogGroup": {
          "documentation": "<p>The Amazon CloudWatch log group for game runtimes deployed to the stage.</p>",
          "shape": "LogGroupName"
        },
        "Name": {
          "documentation": "<p>The name of the stage.</p>",
          "shape": "StageName"
        },
        "Role": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role used to run the game runtimes deployed to the stage.</p>",
          "shape": "RoleARN"
        },
        "State": {
          "documentation": "<p>The state of the stage.</p>",
          "shape": "StageState"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the stage.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "StageName": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "StageState": {
      "enum": [
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "StageSummary": {
      "documentation": "<p>The summary of the properties of a stage.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the stage.</p>",
          "shape": "StageDescription"
        },
        "GameKey": {
          "documentation": "<p>The game key associated with the stage.</p> <p> The game key is a unique identifier that the game client uses to connect to the GameSparks backend. </p>",
          "shape": "GameKey"
        },
        "Name": {
          "documentation": "<p>The name of the stage.</p>",
          "shape": "StageName"
        },
        "State": {
          "documentation": "<p>The state of the stage.</p>",
          "shape": "StageState"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the stage.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "StageSummaryList": {
      "member": {
        "shape": "StageSummary"
      },
      "type": "list"
    },
    "StartGeneratedCodeJobRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Generator": {
          "documentation": "<p>Properties of the generator to use for the job.</p>",
          "shape": "Generator"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot for which to generate code.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "Generator",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "StartGeneratedCodeJobResult": {
      "members": {
        "GeneratedCodeJobId": {
          "documentation": "<p> The identifier of the code generation job. You can use this identifier in the <code>GetGeneratedCodeJob</code> operation. </p>",
          "shape": "GeneratedCodeJobId"
        }
      },
      "type": "structure"
    },
    "StartStageDeploymentRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A client-defined token. With an active client token in the request, this action is idempotent. </p>",
          "shape": "ClientToken"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot to deploy.</p>",
          "shape": "SnapshotId"
        },
        "StageName": {
          "documentation": "<p>The name of the stage to deploy the snapshot onto.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "SnapshotId",
        "StageName"
      ],
      "type": "structure"
    },
    "StartStageDeploymentResult": {
      "members": {
        "StageDeployment": {
          "documentation": "<p>Properties that describe the stage deployment.</p>",
          "shape": "StageDeploymentDetails"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to add the tags to.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "ResourceArn"
        },
        "tags": {
          "documentation": "<p>The tags to add to the resource.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^[\\s\\w+-=\\.:/@]*$",
      "type": "string"
    },
    "TargetPlatform": {
      "max": 16,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request throughput limit was exceeded.</p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to remove the tags from.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "ResourceArn"
        },
        "tagKeys": {
          "documentation": "<p>The keys of the tags to remove.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateGameConfigurationRequest": {
      "members": {
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Modifications": {
          "documentation": "<p>The list of modifications to make.</p>",
          "shape": "SectionModificationList"
        }
      },
      "required": [
        "GameName",
        "Modifications"
      ],
      "type": "structure"
    },
    "UpdateGameConfigurationResult": {
      "members": {
        "GameConfiguration": {
          "documentation": "<p>Details about the game configuration.</p>",
          "shape": "GameConfigurationDetails"
        }
      },
      "type": "structure"
    },
    "UpdateGameRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the game.</p>",
          "shape": "GameDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        }
      },
      "required": [
        "GameName"
      ],
      "type": "structure"
    },
    "UpdateGameResult": {
      "members": {
        "Game": {
          "documentation": "<p>The details of the game.</p>",
          "shape": "GameDetails"
        }
      },
      "type": "structure"
    },
    "UpdateSnapshotRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the snapshot.</p>",
          "shape": "SnapshotDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot.</p>",
          "location": "uri",
          "locationName": "SnapshotId",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "GameName",
        "SnapshotId"
      ],
      "type": "structure"
    },
    "UpdateSnapshotResult": {
      "members": {
        "Snapshot": {
          "documentation": "<p>Properties that provide details of the updated snapshot.</p>",
          "shape": "SnapshotDetails"
        }
      },
      "type": "structure"
    },
    "UpdateStageRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the stage.</p>",
          "shape": "StageDescription"
        },
        "GameName": {
          "documentation": "<p>The name of the game.</p>",
          "location": "uri",
          "locationName": "GameName",
          "shape": "GameName"
        },
        "Role": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role to use for the game snapshots deployed to this stage.</p>",
          "shape": "RoleARN"
        },
        "StageName": {
          "documentation": "<p>The name of the stage.</p>",
          "location": "uri",
          "locationName": "StageName",
          "shape": "StageName"
        }
      },
      "required": [
        "GameName",
        "StageName"
      ],
      "type": "structure"
    },
    "UpdateStageResult": {
      "members": {
        "Stage": {
          "documentation": "<p>Properties that provide details of the updated stage.</p>",
          "shape": "StageDetails"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>One of the parameters in the request is invalid.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
