{
  "documentation": "<p>The Identity Store service used by AWS IAM Identity Center (successor to AWS Single Sign-On) provides a single place to retrieve all of your identities (users and groups). For more information, see the <a href=\"https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html\">IAM Identity Center User Guide</a>.</p> <pre><code> &lt;note&gt; &lt;p&gt;Although AWS Single Sign-On was renamed, the &lt;code&gt;sso&lt;/code&gt; and &lt;code&gt;identitystore&lt;/code&gt; API namespaces will continue to retain their original name for backward compatibility purposes. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/singlesignon/latest/userguide/what-is.html#renamed&quot;&gt;IAM Identity Center rename&lt;/a&gt;.&lt;/p&gt; &lt;/note&gt; &lt;p&gt;This reference guide describes the identity store operations that you can call programatically and includes detailed information on data types and errors.&lt;/p&gt; </code></pre>",
  "metadata": {
    "apiVersion": "2020-06-15",
    "endpointPrefix": "identitystore",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "IdentityStore",
    "serviceFullName": "AWS SSO Identity Store",
    "serviceId": "identitystore",
    "signatureVersion": "v4",
    "signingName": "identitystore",
    "targetPrefix": "AWSIdentityStore",
    "uid": "identitystore-2020-06-15"
  },
  "operations": {
    "CreateGroup": {
      "documentation": "<p>Creates a group within the specified identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateGroupMembership": {
      "documentation": "<p>Creates a relationship between a member and a group. The following identifiers must be specified: <code>GroupId</code>, <code>IdentityStoreId</code>, and <code>MemberId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupMembershipRequest"
      },
      "name": "CreateGroupMembership",
      "output": {
        "shape": "CreateGroupMembershipResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a new user within the specified identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Delete a group within an identity store given <code>GroupId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteGroupMembership": {
      "documentation": "<p>Delete a membership within a group given <code>MembershipId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupMembershipRequest"
      },
      "name": "DeleteGroupMembership",
      "output": {
        "shape": "DeleteGroupMembershipResponse"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a user within an identity store given <code>UserId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DescribeGroup": {
      "documentation": "<p>Retrieves the group metadata and attributes from <code>GroupId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "name": "DescribeGroup",
      "output": {
        "shape": "DescribeGroupResponse"
      }
    },
    "DescribeGroupMembership": {
      "documentation": "<p>Retrieves membership metadata and attributes from <code>MembershipId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGroupMembershipRequest"
      },
      "name": "DescribeGroupMembership",
      "output": {
        "shape": "DescribeGroupMembershipResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Retrieves the user metadata and attributes from the <code>UserId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "GetGroupId": {
      "documentation": "<p>Retrieves <code>GroupId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupIdRequest"
      },
      "name": "GetGroupId",
      "output": {
        "shape": "GetGroupIdResponse"
      }
    },
    "GetGroupMembershipId": {
      "documentation": "<p>Retrieves the <code>MembershipId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupMembershipIdRequest"
      },
      "name": "GetGroupMembershipId",
      "output": {
        "shape": "GetGroupMembershipIdResponse"
      }
    },
    "GetUserId": {
      "documentation": "<p>Retrieves the <code>UserId</code> in an identity store.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserIdRequest"
      },
      "name": "GetUserId",
      "output": {
        "shape": "GetUserIdResponse"
      }
    },
    "IsMemberInGroups": {
      "documentation": "<p>Checks the user's membership in all requested groups and returns if the member exists in all queried groups.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "IsMemberInGroupsRequest"
      },
      "name": "IsMemberInGroups",
      "output": {
        "shape": "IsMemberInGroupsResponse"
      }
    },
    "ListGroupMemberships": {
      "documentation": "<p>For the specified group in the specified identity store, returns the list of all <code>GroupMembership</code> objects and returns results in paginated form.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupMembershipsRequest"
      },
      "name": "ListGroupMemberships",
      "output": {
        "shape": "ListGroupMembershipsResponse"
      }
    },
    "ListGroupMembershipsForMember": {
      "documentation": "<p>For the specified member in the specified identity store, returns the list of all <code>GroupMembership</code> objects and returns results in paginated form.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupMembershipsForMemberRequest"
      },
      "name": "ListGroupMembershipsForMember",
      "output": {
        "shape": "ListGroupMembershipsForMemberResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Lists all groups in the identity store. Returns a paginated list of complete <code>Group</code> objects. Filtering for a <code>Group</code> by the <code>DisplayName</code> attribute is deprecated. Instead, use the <code>GetGroupId</code> API action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Lists all users in the identity store. Returns a paginated list of complete <code>User</code> objects. Filtering for a <code>User</code> by the <code>UserName</code> attribute is deprecated. Instead, use the <code>GetUserId</code> API action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "UpdateGroup": {
      "documentation": "<p>For the specified group in the specified identity store, updates the group metadata and attributes.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupResponse"
      }
    },
    "UpdateUser": {
      "documentation": "<p>For the specified user in the specified identity store, updates the user metadata and attributes.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserRequest"
      },
      "name": "UpdateUser",
      "output": {
        "shape": "UpdateUserResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "Address": {
      "documentation": "<p>The address associated with the specified user.</p>",
      "members": {
        "Country": {
          "documentation": "<p>The country of the address.</p>",
          "shape": "SensitiveStringType"
        },
        "Formatted": {
          "documentation": "<p>A string containing a formatted version of the address for display.</p>",
          "shape": "SensitiveStringType"
        },
        "Locality": {
          "documentation": "<p>A string of the address locality.</p>",
          "shape": "SensitiveStringType"
        },
        "PostalCode": {
          "documentation": "<p>The postal code of the address.</p>",
          "shape": "SensitiveStringType"
        },
        "Primary": {
          "documentation": "<p>A Boolean value representing whether this is the primary address for the associated resource.</p>",
          "shape": "SensitiveBooleanType"
        },
        "Region": {
          "documentation": "<p>The region of the address.</p>",
          "shape": "SensitiveStringType"
        },
        "StreetAddress": {
          "documentation": "<p>The street of the address.</p>",
          "shape": "SensitiveStringType"
        },
        "Type": {
          "documentation": "<p>A string representing the type of address. For example, \"Home.\"</p>",
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "Addresses": {
      "max": 1,
      "member": {
        "shape": "Address"
      },
      "min": 1,
      "type": "list"
    },
    "AlternateIdentifier": {
      "documentation": "<p>A unique identifier for a user or group that is not the primary identifier. This value can be an identifier from an external identity provider (IdP) that is associated with the user, the group, or a unique attribute. For example, a unique <code>GroupDisplayName</code>.</p>",
      "members": {
        "ExternalId": {
          "documentation": "<p>The identifier issued to this resource by an external identity provider.</p>",
          "shape": "ExternalId"
        },
        "UniqueAttribute": {
          "documentation": "<p>An entity attribute that's unique to a specific entity.</p>",
          "shape": "UniqueAttribute"
        }
      },
      "type": "structure",
      "union": true
    },
    "AttributeOperation": {
      "documentation": "<p>An operation that applies to the requested group. This operation might add, replace, or remove an attribute.</p>",
      "members": {
        "AttributePath": {
          "documentation": "<p>A string representation of the path to a given attribute or sub-attribute. Supports JMESPath.</p>",
          "shape": "AttributePath"
        },
        "AttributeValue": {
          "documentation": "<p>The value of the attribute. This is a <code>Document</code> type. This type is not supported by Java V1, Go V1, and older versions of the AWS CLI.</p>",
          "shape": "AttributeValue"
        }
      },
      "required": [
        "AttributePath"
      ],
      "type": "structure"
    },
    "AttributeOperations": {
      "max": 100,
      "member": {
        "shape": "AttributeOperation"
      },
      "min": 1,
      "type": "list"
    },
    "AttributePath": {
      "max": 255,
      "min": 1,
      "pattern": "\\p{L}+(?:\\.\\p{L}+){0,2}",
      "type": "string"
    },
    "AttributeValue": {
      "document": true,
      "documentation": "<p>The value of the attribute. This is a <code>Document</code> type. This type is not supported by Java V1, Go V1, and older versions of the AWS CLI.</p>",
      "members": {},
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>This request cannot be completed for one of the following reasons:</p> <ul> <li> <p>Performing the requested operation would violate an existing uniqueness claim in the identity store. Resolve the conflict before retrying this request.</p> </li> <li> <p>The requested resource was being concurrently modified by another request.</p> </li> </ul>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "Reason": {
          "documentation": "<p>This request cannot be completed for one of the following reasons:</p> <ul> <li> <p>Performing the requested operation would violate an existing uniqueness claim in the identity store. Resolve the conflict before retrying this request.</p> </li> <li> <p>The requested resource was being concurrently modified by another request.</p> </li> </ul>",
          "shape": "ConflictExceptionReason"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "ConflictExceptionReason": {
      "enum": [
        "UNIQUENESS_CONSTRAINT_VIOLATION",
        "CONCURRENT_MODIFICATION"
      ],
      "type": "string"
    },
    "CreateGroupMembershipRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "documentation": "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "CreateGroupMembershipResponse": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a newly created <code>GroupMembership</code> in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "MembershipId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A string containing the description of the group.</p>",
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "documentation": "<p>A string containing the name of the group. This value is commonly displayed when the group is referenced.</p>",
          "shape": "GroupDisplayName"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the newly created group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "Addresses": {
          "documentation": "<p>A list of <code>Address</code> objects containing addresses associated with the user.</p>",
          "shape": "Addresses"
        },
        "DisplayName": {
          "documentation": "<p>A string containing the user's name. This value is typically formatted for display when the user is referenced. For example, \"John Doe.\"</p>",
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "documentation": "<p>A list of <code>Email</code> objects containing email addresses associated with the user.</p>",
          "shape": "Emails"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "documentation": "<p>A string containing the user's geographical region or location.</p>",
          "shape": "SensitiveStringType"
        },
        "Name": {
          "documentation": "<p>An object containing the user's name.</p>",
          "shape": "Name"
        },
        "NickName": {
          "documentation": "<p>A string containing an alternate name for the user.</p>",
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "documentation": "<p>A list of <code>PhoneNumber</code> objects containing phone numbers associated with the user.</p>",
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "documentation": "<p>A string containing the preferred language of the user. For example, \"American English\" or \"en-us.\"</p>",
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "documentation": "<p>A string containing a URL that may be associated with the user.</p>",
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "documentation": "<p>A string containing the user's time zone.</p>",
          "shape": "SensitiveStringType"
        },
        "Title": {
          "documentation": "<p>A string containing the user's title. Possible values are left unspecified given that they depend on each customer's specific needs.</p>",
          "shape": "SensitiveStringType"
        },
        "UserName": {
          "documentation": "<p>A unique string used to identify the user. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers, and punctuation. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>",
          "shape": "UserName"
        },
        "UserType": {
          "documentation": "<p>A string indicating the user's type. Possible values depend on each customer's specific needs, so they are left unspecified.</p>",
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "documentation": "<p>The identifier of the newly created user in the identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "DeleteGroupMembershipRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId"
      ],
      "type": "structure"
    },
    "DeleteGroupMembershipResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeGroupMembershipRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId"
      ],
      "type": "structure"
    },
    "DescribeGroupMembershipResponse": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "shape": "MemberId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MembershipId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "DescribeGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DescribeGroupResponse": {
      "members": {
        "Description": {
          "documentation": "<p>A string containing a description of the group.</p>",
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "documentation": "<p>The group\u2019s display name value. The length limit is 1,024 characters. This value can consist of letters, accented characters, symbols, numbers, punctuation, tab, new line, carriage return, space, and nonbreaking space in this attribute. This value is specified at the time that the group is created and stored as an attribute of the group object in the identity store.</p>",
          "shape": "GroupDisplayName"
        },
        "ExternalIds": {
          "documentation": "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>",
          "shape": "ExternalIds"
        },
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "DescribeUserRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId"
      ],
      "type": "structure"
    },
    "DescribeUserResponse": {
      "members": {
        "Addresses": {
          "documentation": "<p>The user's physical address.</p>",
          "shape": "Addresses"
        },
        "DisplayName": {
          "documentation": "<p>The user's name value for display.</p>",
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "documentation": "<p>The user's email value.</p>",
          "shape": "Emails"
        },
        "ExternalIds": {
          "documentation": "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>",
          "shape": "ExternalIds"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "documentation": "<p>A string containing the user's geographical region or location.</p>",
          "shape": "SensitiveStringType"
        },
        "Name": {
          "documentation": "<p>The name of the user.</p>",
          "shape": "Name"
        },
        "NickName": {
          "documentation": "<p>An alternative descriptive name for the user.</p>",
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "documentation": "<p>A list of <code>PhoneNumber</code> objects associated with a user.</p>",
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "documentation": "<p>The preferred language of the user.</p>",
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "documentation": "<p>A URL link for the user's profile.</p>",
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "documentation": "<p>The time zone for a user.</p>",
          "shape": "SensitiveStringType"
        },
        "Title": {
          "documentation": "<p>A string containing the user's title.</p>",
          "shape": "SensitiveStringType"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        },
        "UserName": {
          "documentation": "<p>A unique string used to identify the user. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers, and punctuation. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>",
          "shape": "UserName"
        },
        "UserType": {
          "documentation": "<p>A string indicating the user's type.</p>",
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "Email": {
      "documentation": "<p>The email address associated with the user.</p>",
      "members": {
        "Primary": {
          "documentation": "<p>A Boolean value representing whether this is the primary email address for the associated resource.</p>",
          "shape": "SensitiveBooleanType"
        },
        "Type": {
          "documentation": "<p>A string representing the type of address. For example, \"Work.\"</p>",
          "shape": "SensitiveStringType"
        },
        "Value": {
          "documentation": "<p>A string containing an email address. For example, \"johndoe@amazon.com.\"</p>",
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "Emails": {
      "max": 1,
      "member": {
        "shape": "Email"
      },
      "min": 1,
      "type": "list"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "ExternalId": {
      "documentation": "<p>The identifier issued to this resource by an external identity provider.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The identifier issued to this resource by an external identity provider.</p>",
          "shape": "ExternalIdIdentifier"
        },
        "Issuer": {
          "documentation": "<p>The issuer for an external identifier.</p>",
          "shape": "ExternalIdIssuer"
        }
      },
      "required": [
        "Issuer",
        "Id"
      ],
      "type": "structure"
    },
    "ExternalIdIdentifier": {
      "max": 256,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "ExternalIdIssuer": {
      "max": 100,
      "min": 1,
      "pattern": "(?!(?i)(arn|aws):)[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "ExternalIds": {
      "max": 10,
      "member": {
        "shape": "ExternalId"
      },
      "min": 1,
      "type": "list"
    },
    "Filter": {
      "documentation": "<p>A query filter used by <code>ListUsers</code> and <code>ListGroups</code>. This filter object provides the attribute name and attribute value to search users or groups.</p>",
      "members": {
        "AttributePath": {
          "documentation": "<p>The attribute path that is used to specify which attribute name to search. Length limit is 255 characters. For example, <code>UserName</code> is a valid attribute path for the <code>ListUsers</code> API, and <code>DisplayName</code> is a valid attribute path for the <code>ListGroups</code> API.</p>",
          "shape": "AttributePath"
        },
        "AttributeValue": {
          "documentation": "<p>Represents the data for an attribute. Each attribute value is described as a name-value pair. </p>",
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "AttributePath",
        "AttributeValue"
      ],
      "type": "structure"
    },
    "Filters": {
      "max": 1,
      "member": {
        "shape": "Filter"
      },
      "min": 0,
      "type": "list"
    },
    "GetGroupIdRequest": {
      "members": {
        "AlternateIdentifier": {
          "documentation": "<p>A unique identifier for a user or group that is not the primary identifier. This value can be an identifier from an external identity provider (IdP) that is associated with the user, the group, or a unique attribute. For example, a unique <code>GroupDisplayName</code>.</p>",
          "shape": "AlternateIdentifier"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "AlternateIdentifier"
      ],
      "type": "structure"
    },
    "GetGroupIdResponse": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GetGroupMembershipIdRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "documentation": "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "GetGroupMembershipIdResponse": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a <code>GroupMembership</code> in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "MembershipId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GetUserIdRequest": {
      "members": {
        "AlternateIdentifier": {
          "documentation": "<p>A unique identifier for a user or group that is not the primary identifier. This value can be an identifier from an external identity provider (IdP) that is associated with the user, the group, or a unique attribute. For example, a unique <code>UserDisplayName</code>.</p>",
          "shape": "AlternateIdentifier"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "IdentityStoreId",
        "AlternateIdentifier"
      ],
      "type": "structure"
    },
    "GetUserIdResponse": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>A group object that contains a specified group\u2019s metadata and attributes.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A string containing a description of the specified group.</p>",
          "shape": "SensitiveStringType"
        },
        "DisplayName": {
          "documentation": "<p>The group\u2019s display name value. The length limit is 1,024 characters. This value can consist of letters, accented characters, symbols, numbers, punctuation, tab, new line, carriage return, space, and nonbreaking space in this attribute. This value is specified at the time the group is created and stored as an attribute of the group object in the identity store.</p>",
          "shape": "GroupDisplayName"
        },
        "ExternalIds": {
          "documentation": "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>",
          "shape": "ExternalIds"
        },
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        }
      },
      "required": [
        "GroupId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GroupDisplayName": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r \u00a0]+",
      "sensitive": true,
      "type": "string"
    },
    "GroupIds": {
      "max": 100,
      "member": {
        "shape": "ResourceId"
      },
      "min": 1,
      "type": "list"
    },
    "GroupMembership": {
      "documentation": "<p>Contains the identifiers for a group, a group member, and a <code>GroupMembership</code> object in the identity store.</p>",
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "documentation": "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
          "shape": "MemberId"
        },
        "MembershipId": {
          "documentation": "<p>The identifier for a <code>GroupMembership</code> object in an identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "GroupMembershipExistenceResult": {
      "documentation": "<p>Indicates whether a resource is a member of a group in the identity store.</p>",
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "MemberId": {
          "documentation": "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
          "shape": "MemberId"
        },
        "MembershipExists": {
          "documentation": "<p>Indicates whether a membership relation exists or not.</p>",
          "shape": "SensitiveBooleanType"
        }
      },
      "type": "structure"
    },
    "GroupMembershipExistenceResults": {
      "member": {
        "shape": "GroupMembershipExistenceResult"
      },
      "type": "list"
    },
    "GroupMemberships": {
      "member": {
        "shape": "GroupMembership"
      },
      "type": "list"
    },
    "Groups": {
      "member": {
        "shape": "Group"
      },
      "type": "list"
    },
    "IdentityStoreId": {
      "max": 36,
      "min": 1,
      "pattern": "d-[0-9a-f]{10}$|^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception or failure with an internal server.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        },
        "RetryAfterSeconds": {
          "documentation": "<p>The number of seconds that you would like to wait before retrying the next request.</p>",
          "shape": "RetryAfterSeconds"
        }
      },
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "IsMemberInGroupsRequest": {
      "members": {
        "GroupIds": {
          "documentation": "<p>A list of identifiers for groups in the identity store.</p>",
          "shape": "GroupIds"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MemberId": {
          "documentation": "<p>An object containing the identifier of a group member.</p>",
          "shape": "MemberId"
        }
      },
      "required": [
        "IdentityStoreId",
        "MemberId",
        "GroupIds"
      ],
      "type": "structure"
    },
    "IsMemberInGroupsResponse": {
      "members": {
        "Results": {
          "documentation": "<p>A list containing the results of membership existence checks.</p>",
          "shape": "GroupMembershipExistenceResults"
        }
      },
      "required": [
        "Results"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsForMemberRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned per request. This parameter is used in the <code>ListUsers</code> and <code>ListGroups</code> requests to specify how many results to return in one page. The length limit is 50 characters.</p>",
          "shape": "MaxResults"
        },
        "MemberId": {
          "documentation": "<p>An object that contains the identifier of a group member. Setting the <code>UserID</code> field to the specific identifier for a user indicates that the user is a member of the group.</p>",
          "shape": "MemberId"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code>, <code>ListGroups</code>, and <code>ListGroupMemberships</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId",
        "MemberId"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsForMemberResponse": {
      "members": {
        "GroupMemberships": {
          "documentation": "<p>A list of <code>GroupMembership</code> objects in the group for a specified member.</p>",
          "shape": "GroupMemberships"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code>, <code>ListGroups</code>, and <code>ListGroupMemberships</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "GroupMemberships"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned per request. This parameter is used in all <code>List</code> requests to specify how many results to return in one page.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code>, <code>ListGroups</code> and <code>ListGroupMemberships</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId"
      ],
      "type": "structure"
    },
    "ListGroupMembershipsResponse": {
      "members": {
        "GroupMemberships": {
          "documentation": "<p>A list of <code>GroupMembership</code> objects in the group.</p>",
          "shape": "GroupMemberships"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code>, <code>ListGroups</code>, and <code>ListGroupMemberships</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "GroupMemberships"
      ],
      "type": "structure"
    },
    "ListGroupsRequest": {
      "members": {
        "Filters": {
          "deprecated": true,
          "deprecatedMessage": "Using filters with ListGroups API is deprecated, please use GetGroupId API instead.",
          "documentation": "<p>A list of <code>Filter</code> objects, which is used in the <code>ListUsers</code> and <code>ListGroups</code> requests.</p>",
          "shape": "Filters"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned per request. This parameter is used in the <code>ListUsers</code> and <code>ListGroups</code> requests to specify how many results to return in one page. The length limit is 50 characters.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "ListGroupsResponse": {
      "members": {
        "Groups": {
          "documentation": "<p>A list of <code>Group</code> objects in the identity store.</p>",
          "shape": "Groups"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it1 is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "Groups"
      ],
      "type": "structure"
    },
    "ListUsersRequest": {
      "members": {
        "Filters": {
          "deprecated": true,
          "deprecatedMessage": "Using filters with ListUsers API is deprecated, please use GetGroupId API instead.",
          "documentation": "<p>A list of <code>Filter</code> objects, which is used in the <code>ListUsers</code> and <code>ListGroups</code> requests. </p>",
          "shape": "Filters"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store, such as <code>d-1234567890</code>. In this example, <code>d-</code> is a fixed prefix, and <code>1234567890</code> is a randomly generated string that contains numbers and lower case letters. This value is generated at the time that a new identity store is created.</p>",
          "shape": "IdentityStoreId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned per request. This parameter is used in the <code>ListUsers</code> and <code>ListGroups</code> requests to specify how many results to return in one page. The length limit is 50 characters.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "ListUsersResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> API operations. This value is generated by the identity store service. It is returned in the API response if the total results are more than the size of one page. This token is also returned when it is used in the API request to search for the next page.</p>",
          "shape": "NextToken"
        },
        "Users": {
          "documentation": "<p>A list of <code>User</code> objects in the identity store.</p>",
          "shape": "Users"
        }
      },
      "required": [
        "Users"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MemberId": {
      "documentation": "<p>An object containing the identifier of a group member.</p>",
      "members": {
        "UserId": {
          "documentation": "<p>An object containing the identifiers of resources that can be members.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure",
      "union": true
    },
    "Name": {
      "documentation": "<p>The full name of the user.</p>",
      "members": {
        "FamilyName": {
          "documentation": "<p>The family name of the user.</p>",
          "shape": "SensitiveStringType"
        },
        "Formatted": {
          "documentation": "<p>A string containing a formatted version of the name for display.</p>",
          "shape": "SensitiveStringType"
        },
        "GivenName": {
          "documentation": "<p>The given name of the user.</p>",
          "shape": "SensitiveStringType"
        },
        "HonorificPrefix": {
          "documentation": "<p>The honorific prefix of the user. For example, \"Dr.\"</p>",
          "shape": "SensitiveStringType"
        },
        "HonorificSuffix": {
          "documentation": "<p>The honorific suffix of the user. For example, \"M.D.\"</p>",
          "shape": "SensitiveStringType"
        },
        "MiddleName": {
          "documentation": "<p>The middle name of the user.</p>",
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 65535,
      "min": 1,
      "pattern": "[-a-zA-Z0-9+=/:]*",
      "type": "string"
    },
    "PhoneNumber": {
      "documentation": "<p>The phone number associated with the user.</p>",
      "members": {
        "Primary": {
          "documentation": "<p>A Boolean value representing whether this is the primary phone number for the associated resource.</p>",
          "shape": "SensitiveBooleanType"
        },
        "Type": {
          "documentation": "<p>A string representing the type of a phone number. For example, \"Mobile.\"</p>",
          "shape": "SensitiveStringType"
        },
        "Value": {
          "documentation": "<p>A string containing a phone number. For example, \"8675309\" or \"+1 (800) 123-4567\".</p>",
          "shape": "SensitiveStringType"
        }
      },
      "type": "structure"
    },
    "PhoneNumbers": {
      "max": 1,
      "member": {
        "shape": "PhoneNumber"
      },
      "min": 1,
      "type": "list"
    },
    "RequestId": {
      "max": 36,
      "min": 1,
      "pattern": "[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}",
      "type": "string"
    },
    "ResourceId": {
      "max": 47,
      "min": 1,
      "pattern": "([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Indicates that a requested resource is not found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier for a resource in the identity store that can be used as <code>UserId</code> or <code>GroupId</code>. The format for <code>ResourceId</code> is either <code>UUID</code> or <code>1234567890-UUID</code>, where <code>UUID</code> is a randomly generated value for each resource when it is created and <code>1234567890</code> represents the <code>IdentityStoreId</code> string value. In the case that the identity store is migrated from a legacy SSO identity store, the <code>ResourceId</code> for that identity store will be in the format of <code>UUID</code>. Otherwise, it will be in the <code>1234567890-UUID</code> format.</p>",
          "shape": "ResourceId"
        },
        "ResourceType": {
          "documentation": "<p>An enum object indicating the type of resource in the identity store service. Valid values include USER, GROUP, and IDENTITY_STORE.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "GROUP",
        "USER",
        "IDENTITY_STORE",
        "GROUP_MEMBERSHIP"
      ],
      "type": "string"
    },
    "RetryAfterSeconds": {
      "type": "integer"
    },
    "SensitiveBooleanType": {
      "sensitive": true,
      "type": "boolean"
    },
    "SensitiveStringType": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r \u00a0\u3000]+",
      "sensitive": true,
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The request would cause the number of users or groups in the identity store to exceed the maximum allowed.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "ThrottlingException": {
      "documentation": "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        },
        "RetryAfterSeconds": {
          "documentation": "<p>The number of seconds that you would like to wait before retrying the next request.</p>",
          "shape": "RetryAfterSeconds"
        }
      },
      "retryable": {
        "throttling": true
      },
      "type": "structure"
    },
    "UniqueAttribute": {
      "documentation": "<p>An entity attribute that's unique to a specific entity.</p>",
      "members": {
        "AttributePath": {
          "documentation": "<p>A string representation of the path to a given attribute or sub-attribute. Supports JMESPath.</p>",
          "shape": "AttributePath"
        },
        "AttributeValue": {
          "documentation": "<p>The value of the attribute. This is a <code>Document</code> type. This type is not supported by Java V1, Go V1, and older versions of the AWS CLI.</p>",
          "shape": "AttributeValue"
        }
      },
      "required": [
        "AttributePath",
        "AttributeValue"
      ],
      "type": "structure"
    },
    "UpdateGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for a group in the identity store.</p>",
          "shape": "ResourceId"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "Operations": {
          "documentation": "<p>A list of <code>AttributeOperation</code> objects to apply to the requested group. These operations might add, replace, or remove an attribute.</p>",
          "shape": "AttributeOperations"
        }
      },
      "required": [
        "IdentityStoreId",
        "GroupId",
        "Operations"
      ],
      "type": "structure"
    },
    "UpdateGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateUserRequest": {
      "members": {
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "Operations": {
          "documentation": "<p>A list of <code>AttributeOperation</code> objects to apply to the requested user. These operations might add, replace, or remove an attribute.</p>",
          "shape": "AttributeOperations"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "IdentityStoreId",
        "UserId",
        "Operations"
      ],
      "type": "structure"
    },
    "UpdateUserResponse": {
      "members": {},
      "type": "structure"
    },
    "User": {
      "documentation": "<p>A user object that contains a specified user\u2019s metadata and attributes.</p>",
      "members": {
        "Addresses": {
          "documentation": "<p>A list of <code>Address</code> objects containing addresses associated with the user.</p>",
          "shape": "Addresses"
        },
        "DisplayName": {
          "documentation": "<p>A string containing the user's name that's formatted for display when the user is referenced. For example, \"John Doe.\"</p>",
          "shape": "SensitiveStringType"
        },
        "Emails": {
          "documentation": "<p>A list of <code>Email</code> objects containing email addresses associated with the user.</p>",
          "shape": "Emails"
        },
        "ExternalIds": {
          "documentation": "<p>A list of <code>ExternalId</code> objects that contains the identifiers issued to this resource by an external identity provider.</p>",
          "shape": "ExternalIds"
        },
        "IdentityStoreId": {
          "documentation": "<p>The globally unique identifier for the identity store.</p>",
          "shape": "IdentityStoreId"
        },
        "Locale": {
          "documentation": "<p>A string containing the user's geographical region or location.</p>",
          "shape": "SensitiveStringType"
        },
        "Name": {
          "documentation": "<p>An object containing the user's name.</p>",
          "shape": "Name"
        },
        "NickName": {
          "documentation": "<p>A string containing an alternate name for the user.</p>",
          "shape": "SensitiveStringType"
        },
        "PhoneNumbers": {
          "documentation": "<p>A list of <code>PhoneNumber</code> objects containing phone numbers associated with the user.</p>",
          "shape": "PhoneNumbers"
        },
        "PreferredLanguage": {
          "documentation": "<p>A string containing the preferred language of the user. For example, \"American English\" or \"en-us.\"</p>",
          "shape": "SensitiveStringType"
        },
        "ProfileUrl": {
          "documentation": "<p>A string containing a URL that may be associated with the user.</p>",
          "shape": "SensitiveStringType"
        },
        "Timezone": {
          "documentation": "<p>A string containing the user's time zone.</p>",
          "shape": "SensitiveStringType"
        },
        "Title": {
          "documentation": "<p>A string containing the user's title. Possible values depend on each customer's specific needs, so they are left unspecified.</p>",
          "shape": "SensitiveStringType"
        },
        "UserId": {
          "documentation": "<p>The identifier for a user in the identity store.</p>",
          "shape": "ResourceId"
        },
        "UserName": {
          "documentation": "<p>A unique string used to identify the user. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers, and punctuation. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>",
          "shape": "UserName"
        },
        "UserType": {
          "documentation": "<p>A string indicating the user's type. Possible values depend on each customer's specific needs, so they are left unspecified.</p>",
          "shape": "SensitiveStringType"
        }
      },
      "required": [
        "UserId",
        "IdentityStoreId"
      ],
      "type": "structure"
    },
    "UserName": {
      "max": 128,
      "min": 1,
      "pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
      "sensitive": true,
      "type": "string"
    },
    "Users": {
      "member": {
        "shape": "User"
      },
      "type": "list"
    },
    "ValidationException": {
      "documentation": "<p>The request failed because it contains a syntax error.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the identity store service for each sent request, and is then returned inside the exception if the request fails.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
