{
  "documentation": "<p> Amazon DevOps Guru is a fully managed service that helps you identify anomalous behavior in business critical operational applications. You specify the Amazon Web Services resources that you want DevOps Guru to cover, then the Amazon CloudWatch metrics and Amazon Web Services CloudTrail events related to those resources are analyzed. When anomalous behavior is detected, DevOps Guru creates an <i>insight</i> that includes recommendations, related events, and related metrics that can help you improve your operational applications. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html\">What is Amazon DevOps Guru</a>. </p> <p> You can specify 1 or 2 Amazon Simple Notification Service topics so you are notified every time a new insight is created. You can also enable DevOps Guru to generate an OpsItem in Amazon Web Services Systems Manager for each insight to help you manage and track your work addressing insights. </p> <p> To learn about the DevOps Guru workflow, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html#how-it-works\">How DevOps Guru works</a>. To learn about DevOps Guru concepts, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/concepts.html\">Concepts in DevOps Guru</a>. </p>",
  "metadata": {
    "apiVersion": "2020-12-01",
    "endpointPrefix": "devops-guru",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon DevOps Guru",
    "serviceId": "DevOps Guru",
    "signatureVersion": "v4",
    "signingName": "devops-guru",
    "uid": "devops-guru-2020-12-01"
  },
  "operations": {
    "AddNotificationChannel": {
      "documentation": "<p> Adds a notification channel to DevOps Guru. A notification channel is used to notify you about important DevOps Guru events, such as when an insight is generated. </p> <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission to it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. DevOps Guru only supports standard SNS topics. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-required-permissions.html\">Permissions for cross account Amazon SNS topics</a>.</p> <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission to it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. For more information, see Permissions for cross account Amazon SNS topics.</p> <p>If you use an Amazon SNS topic that is encrypted by an Amazon Web Services Key Management Service customer-managed key (CMK), then you must add permissions to the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-kms-permissions.html\">Permissions for Amazon Web Services KMS\u2013encrypted Amazon SNS topics</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "AddNotificationChannelRequest"
      },
      "name": "AddNotificationChannel",
      "output": {
        "shape": "AddNotificationChannelResponse"
      }
    },
    "DeleteInsight": {
      "documentation": "<p>Deletes the insight along with the associated anomalies, events and recommendations.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{Id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInsightRequest"
      },
      "name": "DeleteInsight",
      "output": {
        "shape": "DeleteInsightResponse"
      }
    },
    "DescribeAccountHealth": {
      "documentation": "<p> Returns the number of open reactive insights, the number of open proactive insights, and the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the health of operations in your Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAccountHealthRequest"
      },
      "name": "DescribeAccountHealth",
      "output": {
        "shape": "DescribeAccountHealthResponse"
      }
    },
    "DescribeAccountOverview": {
      "documentation": "<p> For the time range passed in, returns the number of open reactive insight that were created, the number of open proactive insights that were created, and the Mean Time to Recover (MTTR) for all closed reactive insights. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/overview",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAccountOverviewRequest"
      },
      "name": "DescribeAccountOverview",
      "output": {
        "shape": "DescribeAccountOverviewResponse"
      }
    },
    "DescribeAnomaly": {
      "documentation": "<p> Returns details about an anomaly that you specify using its ID. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/anomalies/{Id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAnomalyRequest"
      },
      "name": "DescribeAnomaly",
      "output": {
        "shape": "DescribeAnomalyResponse"
      }
    },
    "DescribeEventSourcesConfig": {
      "documentation": "<p>Returns the integration status of services that are integrated with DevOps Guru as Consumer via EventBridge. The one service that can be integrated with DevOps Guru is Amazon CodeGuru Profiler, which can produce proactive recommendations which can be stored and viewed in DevOps Guru.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/event-sources",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeEventSourcesConfigRequest"
      },
      "name": "DescribeEventSourcesConfig",
      "output": {
        "shape": "DescribeEventSourcesConfigResponse"
      }
    },
    "DescribeFeedback": {
      "documentation": "<p> Returns the most recent feedback submitted in the current Amazon Web Services account and Region. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/feedback",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeFeedbackRequest"
      },
      "name": "DescribeFeedback",
      "output": {
        "shape": "DescribeFeedbackResponse"
      }
    },
    "DescribeInsight": {
      "documentation": "<p> Returns details about an insight that you specify using its ID. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/insights/{Id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInsightRequest"
      },
      "name": "DescribeInsight",
      "output": {
        "shape": "DescribeInsightResponse"
      }
    },
    "DescribeOrganizationHealth": {
      "documentation": "<p>Returns active insights, predictive insights, and resource hours analyzed in last hour.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/health",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationHealthRequest"
      },
      "name": "DescribeOrganizationHealth",
      "output": {
        "shape": "DescribeOrganizationHealthResponse"
      }
    },
    "DescribeOrganizationOverview": {
      "documentation": "<p>Returns an overview of your organization's history based on the specified time range. The overview includes the total reactive and proactive insights.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/overview",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationOverviewRequest"
      },
      "name": "DescribeOrganizationOverview",
      "output": {
        "shape": "DescribeOrganizationOverviewResponse"
      }
    },
    "DescribeOrganizationResourceCollectionHealth": {
      "documentation": "<p>Provides an overview of your system's health. If additional member accounts are part of your organization, you can filter those accounts using the <code>AccountIds</code> field.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/health/resource-collection",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationResourceCollectionHealthRequest"
      },
      "name": "DescribeOrganizationResourceCollectionHealth",
      "output": {
        "shape": "DescribeOrganizationResourceCollectionHealthResponse"
      }
    },
    "DescribeResourceCollectionHealth": {
      "documentation": "<p> Returns the number of open proactive insights, open reactive insights, and the Mean Time to Recover (MTTR) for all closed insights in resource collections in your account. You specify the type of Amazon Web Services resources collection. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/health/resource-collection/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeResourceCollectionHealthRequest"
      },
      "name": "DescribeResourceCollectionHealth",
      "output": {
        "shape": "DescribeResourceCollectionHealthResponse"
      }
    },
    "DescribeServiceIntegration": {
      "documentation": "<p> Returns the integration status of services that are integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon Web Services Systems Manager, which can be used to create an OpsItem for each generated insight. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeServiceIntegrationRequest"
      },
      "name": "DescribeServiceIntegration",
      "output": {
        "shape": "DescribeServiceIntegrationResponse"
      }
    },
    "GetCostEstimation": {
      "documentation": "<p>Returns an estimate of the monthly cost for DevOps Guru to analyze your Amazon Web Services resources. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your Amazon DevOps Guru costs</a> and <a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/cost-estimation",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCostEstimationRequest"
      },
      "name": "GetCostEstimation",
      "output": {
        "shape": "GetCostEstimationResponse"
      }
    },
    "GetResourceCollection": {
      "documentation": "<p> Returns lists Amazon Web Services resources that are of the specified resource collection type. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resource-collections/{ResourceCollectionType}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceCollectionRequest"
      },
      "name": "GetResourceCollection",
      "output": {
        "shape": "GetResourceCollectionResponse"
      }
    },
    "ListAnomaliesForInsight": {
      "documentation": "<p> Returns a list of the anomalies that belong to an insight that you specify using its ID. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/anomalies/insight/{InsightId}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnomaliesForInsightRequest"
      },
      "name": "ListAnomaliesForInsight",
      "output": {
        "shape": "ListAnomaliesForInsightResponse"
      }
    },
    "ListAnomalousLogGroups": {
      "documentation": "<p> Returns the list of log groups that contain log anomalies. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-log-anomalies",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnomalousLogGroupsRequest"
      },
      "name": "ListAnomalousLogGroups",
      "output": {
        "shape": "ListAnomalousLogGroupsResponse"
      }
    },
    "ListEvents": {
      "documentation": "<p> Returns a list of the events emitted by the resources that are evaluated by DevOps Guru. You can use filters to specify which events are returned. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/events",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEventsRequest"
      },
      "name": "ListEvents",
      "output": {
        "shape": "ListEventsResponse"
      }
    },
    "ListInsights": {
      "documentation": "<p> Returns a list of insights in your Amazon Web Services account. You can specify which insights are returned by their start time and status (<code>ONGOING</code>, <code>CLOSED</code>, or <code>ANY</code>). </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInsightsRequest"
      },
      "name": "ListInsights",
      "output": {
        "shape": "ListInsightsResponse"
      }
    },
    "ListMonitoredResources": {
      "documentation": "<p> Returns the list of all log groups that are being monitored and tagged by DevOps Guru. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/monitoredResources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMonitoredResourcesRequest"
      },
      "name": "ListMonitoredResources",
      "output": {
        "shape": "ListMonitoredResourcesResponse"
      }
    },
    "ListNotificationChannels": {
      "documentation": "<p> Returns a list of notification channels configured for DevOps Guru. Each notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNotificationChannelsRequest"
      },
      "name": "ListNotificationChannels",
      "output": {
        "shape": "ListNotificationChannelsResponse"
      }
    },
    "ListOrganizationInsights": {
      "documentation": "<p>Returns a list of insights associated with the account or OU Id.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/insights",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrganizationInsightsRequest"
      },
      "name": "ListOrganizationInsights",
      "output": {
        "shape": "ListOrganizationInsightsResponse"
      }
    },
    "ListRecommendations": {
      "documentation": "<p> Returns a list of a specified insight's recommendations. Each recommendation includes a list of related metrics and a list of related events. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/recommendations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRecommendationsRequest"
      },
      "name": "ListRecommendations",
      "output": {
        "shape": "ListRecommendationsResponse"
      }
    },
    "PutFeedback": {
      "documentation": "<p> Collects customer feedback about the specified insight. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/feedback",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFeedbackRequest"
      },
      "name": "PutFeedback",
      "output": {
        "shape": "PutFeedbackResponse"
      }
    },
    "RemoveNotificationChannel": {
      "documentation": "<p> Removes a notification channel from DevOps Guru. A notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{Id}",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveNotificationChannelRequest"
      },
      "name": "RemoveNotificationChannel",
      "output": {
        "shape": "RemoveNotificationChannelResponse"
      }
    },
    "SearchInsights": {
      "documentation": "<p> Returns a list of insights in your Amazon Web Services account. You can specify which insights are returned by their start time, one or more statuses (<code>ONGOING</code> or <code>CLOSED</code>), one or more severities (<code>LOW</code>, <code>MEDIUM</code>, and <code>HIGH</code>), and type (<code>REACTIVE</code> or <code>PROACTIVE</code>). </p> <p> Use the <code>Filters</code> parameter to specify status and severity search parameters. Use the <code>Type</code> parameter to specify <code>REACTIVE</code> or <code>PROACTIVE</code> in your search. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights/search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchInsightsRequest"
      },
      "name": "SearchInsights",
      "output": {
        "shape": "SearchInsightsResponse"
      }
    },
    "SearchOrganizationInsights": {
      "documentation": "<p> Returns a list of insights in your organization. You can specify which insights are returned by their start time, one or more statuses (<code>ONGOING</code>, <code>CLOSED</code>, and <code>CLOSED</code>), one or more severities (<code>LOW</code>, <code>MEDIUM</code>, and <code>HIGH</code>), and type (<code>REACTIVE</code> or <code>PROACTIVE</code>). </p> <p> Use the <code>Filters</code> parameter to specify status and severity search parameters. Use the <code>Type</code> parameter to specify <code>REACTIVE</code> or <code>PROACTIVE</code> in your search. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/organization/insights/search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchOrganizationInsightsRequest"
      },
      "name": "SearchOrganizationInsights",
      "output": {
        "shape": "SearchOrganizationInsightsResponse"
      }
    },
    "StartCostEstimation": {
      "documentation": "<p>Starts the creation of an estimate of the monthly cost to analyze your Amazon Web Services resources.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/cost-estimation",
        "responseCode": 200
      },
      "input": {
        "shape": "StartCostEstimationRequest"
      },
      "name": "StartCostEstimation",
      "output": {
        "shape": "StartCostEstimationResponse"
      }
    },
    "UpdateEventSourcesConfig": {
      "documentation": "<p>Enables or disables integration with a service that can be integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon CodeGuru Profiler, which can produce proactive recommendations which can be stored and viewed in DevOps Guru.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/event-sources",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateEventSourcesConfigRequest"
      },
      "name": "UpdateEventSourcesConfig",
      "output": {
        "shape": "UpdateEventSourcesConfigResponse"
      }
    },
    "UpdateResourceCollection": {
      "documentation": "<p> Updates the collection of resources that DevOps Guru analyzes. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. This method also creates the IAM role required for you to use DevOps Guru. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/resource-collections",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateResourceCollectionRequest"
      },
      "name": "UpdateResourceCollection",
      "output": {
        "shape": "UpdateResourceCollectionResponse"
      }
    },
    "UpdateServiceIntegration": {
      "documentation": "<p> Enables or disables integration with a service that can be integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon Web Services Systems Manager, which can be used to create an OpsItem for each generated insight. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/service-integrations",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateServiceIntegrationRequest"
      },
      "name": "UpdateServiceIntegration",
      "output": {
        "shape": "UpdateServiceIntegrationResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessageString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AccountHealth": {
      "documentation": "<p> Returns the number of open reactive insights, the number of open proactive insights, and the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the health of operations in your Amazon Web Services account. </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the Amazon Web Services account. </p>",
          "shape": "AwsAccountId"
        },
        "Insight": {
          "documentation": "<p> Information about the health of the Amazon Web Services resources in your account, including the number of open proactive, open reactive insights, and the Mean Time to Recover (MTTR) of closed insights. </p>",
          "shape": "AccountInsightHealth"
        }
      },
      "type": "structure"
    },
    "AccountHealths": {
      "member": {
        "shape": "AccountHealth"
      },
      "type": "list"
    },
    "AccountIdList": {
      "max": 5,
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 0,
      "type": "list"
    },
    "AccountInsightHealth": {
      "documentation": "<p> Information about the number of open reactive and proactive insights that can be used to gauge the health of your system. </p>",
      "members": {
        "OpenProactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>",
          "shape": "NumOpenProactiveInsights"
        },
        "OpenReactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>",
          "shape": "NumOpenReactiveInsights"
        }
      },
      "type": "structure"
    },
    "AddNotificationChannelRequest": {
      "members": {
        "Config": {
          "documentation": "<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
          "shape": "NotificationChannelConfig"
        }
      },
      "required": [
        "Config"
      ],
      "type": "structure"
    },
    "AddNotificationChannelResponse": {
      "members": {
        "Id": {
          "documentation": "<p> The ID of the added notification channel. </p>",
          "shape": "NotificationChannelId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "AmazonCodeGuruProfilerIntegration": {
      "documentation": "<p>Information about your account's integration with Amazon CodeGuru Profiler. This returns whether DevOps Guru is configured to consume recommendations generated from Amazon CodeGuru Profiler.</p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of the CodeGuru Profiler integration. Specifies if DevOps Guru is enabled to consume recommendations that are generated from Amazon CodeGuru Profiler.</p>",
          "shape": "EventSourceOptInStatus"
        }
      },
      "type": "structure"
    },
    "AnalyzedResourceCount": {
      "type": "long"
    },
    "AnomalousLogGroup": {
      "documentation": "<p> An Amazon CloudWatch log group that contains log anomalies and is used to generate an insight. </p>",
      "members": {
        "ImpactEndTime": {
          "documentation": "<p> The time the anomalous log events stopped. </p>",
          "shape": "Timestamp"
        },
        "ImpactStartTime": {
          "documentation": "<p> The time the anomalous log events began. The impact start time indicates the time of the first log anomaly event that occurs. </p>",
          "shape": "Timestamp"
        },
        "LogAnomalyShowcases": {
          "documentation": "<p> The log anomalies in the log group. Each log anomaly displayed represents a cluster of similar anomalous log events. </p>",
          "shape": "LogAnomalyShowcases"
        },
        "LogGroupName": {
          "documentation": "<p> The name of the CloudWatch log group. </p>",
          "shape": "LogGroupName"
        },
        "NumberOfLogLinesScanned": {
          "documentation": "<p> The number of log lines that were scanned for anomalous log events. </p>",
          "shape": "NumberOfLogLinesScanned"
        }
      },
      "type": "structure"
    },
    "AnomalousLogGroups": {
      "member": {
        "shape": "AnomalousLogGroup"
      },
      "type": "list"
    },
    "AnomalyDescription": {
      "type": "string"
    },
    "AnomalyId": {
      "max": 100,
      "min": 1,
      "pattern": "^[\\w~.-]*$",
      "type": "string"
    },
    "AnomalyLimit": {
      "box": true,
      "type": "double"
    },
    "AnomalyName": {
      "type": "string"
    },
    "AnomalyReportedTimeRange": {
      "documentation": "<p> A time range that specifies when DevOps Guru opens and then closes an anomaly. This is different from <code>AnomalyTimeRange</code>, which specifies the time range when DevOps Guru actually observes the anomalous behavior. </p>",
      "members": {
        "CloseTime": {
          "documentation": "<p> The time when an anomaly is closed. </p>",
          "shape": "Timestamp"
        },
        "OpenTime": {
          "documentation": "<p> The time when an anomaly is opened. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "OpenTime"
      ],
      "type": "structure"
    },
    "AnomalyResource": {
      "documentation": "<p>The Amazon Web Services resources in which DevOps Guru detected unusual behavior that resulted in the generation of an anomaly. When DevOps Guru detects multiple related anomalies, it creates and insight with details about the anomalous behavior and suggestions about how to correct the problem.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the Amazon Web Services resource.</p>",
          "shape": "ResourceName"
        },
        "Type": {
          "documentation": "<p>The type of the Amazon Web Services resource.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "AnomalyResources": {
      "member": {
        "shape": "AnomalyResource"
      },
      "type": "list"
    },
    "AnomalySeverity": {
      "enum": [
        "LOW",
        "MEDIUM",
        "HIGH"
      ],
      "type": "string"
    },
    "AnomalySource": {
      "type": "string"
    },
    "AnomalySourceDetails": {
      "documentation": "<p> Details about the source of the anomalous operational data that triggered the anomaly.</p>",
      "members": {
        "CloudWatchMetrics": {
          "documentation": "<p>An array of <code>CloudWatchMetricsDetail</code> objects that contain information about analyzed CloudWatch metrics that show anomalous behavior. </p>",
          "shape": "CloudWatchMetricsDetails"
        },
        "PerformanceInsightsMetrics": {
          "documentation": "<p>An array of <code>PerformanceInsightsMetricsDetail</code> objects that contain information about analyzed Performance Insights metrics that show anomalous behavior.</p>",
          "shape": "PerformanceInsightsMetricsDetails"
        }
      },
      "type": "structure"
    },
    "AnomalySourceMetadata": {
      "documentation": "<p>Metadata about the detection source that generates proactive anomalies. The anomaly is detected using analysis of the metric data&#x2028; over a period of time</p>",
      "members": {
        "Source": {
          "documentation": "<p>The source of the anomaly.</p>",
          "shape": "AnomalySource"
        },
        "SourceResourceName": {
          "documentation": "<p>The name of the anomaly's resource.</p>",
          "shape": "ResourceName"
        },
        "SourceResourceType": {
          "documentation": "<p>The anomaly's resource type.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "AnomalyStatus": {
      "enum": [
        "ONGOING",
        "CLOSED"
      ],
      "type": "string"
    },
    "AnomalyTimeRange": {
      "documentation": "<p> A time range that specifies when the observed unusual behavior in an anomaly started and ended. This is different from <code>AnomalyReportedTimeRange</code>, which specifies the time range when DevOps Guru opens and then closes an anomaly. </p>",
      "members": {
        "EndTime": {
          "documentation": "<p> The time when the anomalous behavior ended. </p>",
          "shape": "Timestamp"
        },
        "StartTime": {
          "documentation": "<p> The time when the anomalous behavior started. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime"
      ],
      "type": "structure"
    },
    "AnomalyType": {
      "enum": [
        "CAUSAL",
        "CONTEXTUAL"
      ],
      "type": "string"
    },
    "AppBoundaryKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "AssociatedResourceArns": {
      "member": {
        "shape": "ResourceArn"
      },
      "type": "list"
    },
    "AwsAccountId": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "Channels": {
      "member": {
        "shape": "NotificationChannel"
      },
      "type": "list"
    },
    "ClientToken": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]+[a-zA-Z0-9-]*$",
      "type": "string"
    },
    "CloudFormationCollection": {
      "documentation": "<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500 stacks to specify which Amazon Web Services resources in your account to analyze. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>. </p>",
      "members": {
        "StackNames": {
          "documentation": "<p> An array of CloudFormation stack names. </p>",
          "shape": "StackNames"
        }
      },
      "type": "structure"
    },
    "CloudFormationCollectionFilter": {
      "documentation": "<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500 stacks to specify which Amazon Web Services resources in your account to analyze. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>. </p>",
      "members": {
        "StackNames": {
          "documentation": "<p> An array of CloudFormation stack names. </p>",
          "shape": "StackNames"
        }
      },
      "type": "structure"
    },
    "CloudFormationCostEstimationResourceCollectionFilter": {
      "documentation": "<p>Information about an Amazon Web Services CloudFormation stack used to create a monthly cost estimate for DevOps Guru to analyze Amazon Web Services resources. The maximum number of stacks you can specify for a cost estimate is one. The estimate created is for the cost to analyze the Amazon Web Services resources defined by the stack. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>.</p>",
      "members": {
        "StackNames": {
          "documentation": "<p>An array of CloudFormation stack names. Its size is fixed at 1 item.</p>",
          "shape": "CostEstimationStackNames"
        }
      },
      "type": "structure"
    },
    "CloudFormationHealth": {
      "documentation": "<p> Information about the health of Amazon Web Services resources in your account that are specified by an Amazon Web Services CloudFormation stack. </p>",
      "members": {
        "AnalyzedResourceCount": {
          "documentation": "<p> Number of resources that DevOps Guru is monitoring in your account that are specified by an Amazon Web Services CloudFormation stack. </p>",
          "shape": "AnalyzedResourceCount"
        },
        "Insight": {
          "documentation": "<p> Information about the health of the Amazon Web Services resources in your account that are specified by an Amazon Web Services CloudFormation stack, including the number of open proactive, open reactive insights, and the Mean Time to Recover (MTTR) of closed insights. </p>",
          "shape": "InsightHealth"
        },
        "StackName": {
          "documentation": "<p> The name of the CloudFormation stack. </p>",
          "shape": "StackName"
        }
      },
      "type": "structure"
    },
    "CloudFormationHealths": {
      "member": {
        "shape": "CloudFormationHealth"
      },
      "type": "list"
    },
    "CloudWatchMetricDataStatusCode": {
      "enum": [
        "Complete",
        "InternalError",
        "PartialData"
      ],
      "type": "string"
    },
    "CloudWatchMetricsDataSummary": {
      "documentation": "<p>Contains information about the analyzed metrics that displayed anomalous behavior. </p>",
      "members": {
        "StatusCode": {
          "documentation": "<p>This is an enum of the status showing whether the metric value pair list has partial or complete data, or if there was an error.</p>",
          "shape": "CloudWatchMetricDataStatusCode"
        },
        "TimestampMetricValuePairList": {
          "documentation": "<p>This is a list of Amazon CloudWatch metric values at given timestamp.</p>",
          "shape": "TimestampMetricValuePairList"
        }
      },
      "type": "structure"
    },
    "CloudWatchMetricsDetail": {
      "documentation": "<p> Information about an Amazon CloudWatch metric. </p>",
      "members": {
        "Dimensions": {
          "documentation": "<p> An array of CloudWatch dimensions associated with </p>",
          "shape": "CloudWatchMetricsDimensions"
        },
        "MetricDataSummary": {
          "documentation": "<p>This object returns anomaly metric data.</p>",
          "shape": "CloudWatchMetricsDataSummary"
        },
        "MetricName": {
          "documentation": "<p> The name of the CloudWatch metric. </p>",
          "shape": "CloudWatchMetricsMetricName"
        },
        "Namespace": {
          "documentation": "<p> The namespace of the CloudWatch metric. A namespace is a container for CloudWatch metrics. </p>",
          "shape": "CloudWatchMetricsNamespace"
        },
        "Period": {
          "documentation": "<p> The length of time associated with the CloudWatch metric in number of seconds. </p>",
          "shape": "CloudWatchMetricsPeriod"
        },
        "Stat": {
          "documentation": "<p> The type of statistic associated with the CloudWatch metric. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Statistic\">Statistics</a> in the <i>Amazon CloudWatch User Guide</i>. </p>",
          "shape": "CloudWatchMetricsStat"
        },
        "Unit": {
          "documentation": "<p> The unit of measure used for the CloudWatch metric. For example, <code>Bytes</code>, <code>Seconds</code>, <code>Count</code>, and <code>Percent</code>. </p>",
          "shape": "CloudWatchMetricsUnit"
        }
      },
      "type": "structure"
    },
    "CloudWatchMetricsDetails": {
      "member": {
        "shape": "CloudWatchMetricsDetail"
      },
      "type": "list"
    },
    "CloudWatchMetricsDimension": {
      "documentation": "<p> The dimension of an Amazon CloudWatch metric that is used when DevOps Guru analyzes the resources in your account for operational problems and anomalous behavior. A dimension is a name/value pair that is part of the identity of a metric. A metric can have up to 10 dimensions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension\">Dimensions</a> in the <i>Amazon CloudWatch User Guide</i>. </p>",
      "members": {
        "Name": {
          "documentation": "<p> The name of the CloudWatch dimension. </p>",
          "shape": "CloudWatchMetricsDimensionName"
        },
        "Value": {
          "documentation": "<p> The value of the CloudWatch dimension. </p>",
          "shape": "CloudWatchMetricsDimensionValue"
        }
      },
      "type": "structure"
    },
    "CloudWatchMetricsDimensionName": {
      "type": "string"
    },
    "CloudWatchMetricsDimensionValue": {
      "type": "string"
    },
    "CloudWatchMetricsDimensions": {
      "member": {
        "shape": "CloudWatchMetricsDimension"
      },
      "type": "list"
    },
    "CloudWatchMetricsMetricName": {
      "type": "string"
    },
    "CloudWatchMetricsNamespace": {
      "type": "string"
    },
    "CloudWatchMetricsPeriod": {
      "type": "integer"
    },
    "CloudWatchMetricsStat": {
      "enum": [
        "Sum",
        "Average",
        "SampleCount",
        "Minimum",
        "Maximum",
        "p99",
        "p90",
        "p50"
      ],
      "type": "string"
    },
    "CloudWatchMetricsUnit": {
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p> An exception that is thrown when a conflict occurs. </p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessageString"
        },
        "ResourceId": {
          "documentation": "<p> The ID of the Amazon Web Services resource in which a conflict occurred. </p>",
          "shape": "ResourceIdString"
        },
        "ResourceType": {
          "documentation": "<p> The type of the Amazon Web Services resource in which a conflict occurred. </p>",
          "shape": "ResourceIdType"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "Cost": {
      "type": "double"
    },
    "CostEstimationResourceCollectionFilter": {
      "documentation": "<p>Information about a filter used to specify which Amazon Web Services resources are analyzed to create a monthly DevOps Guru cost estimate. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your Amazon DevOps Guru costs</a> and <a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>. </p>",
      "members": {
        "CloudFormation": {
          "documentation": "<p>An object that specifies the CloudFormation stack that defines the Amazon Web Services resources used to create a monthly estimate for DevOps Guru.</p>",
          "shape": "CloudFormationCostEstimationResourceCollectionFilter"
        },
        "Tags": {
          "documentation": "<p>The Amazon Web Services tags used to filter the resource collection that is used for a cost estimate.</p> <p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://d1.awsstatic.com/whitepapers/aws-tagging-best-practices.pdf\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>",
          "shape": "TagCostEstimationResourceCollectionFilters"
        }
      },
      "type": "structure"
    },
    "CostEstimationServiceResourceCount": {
      "type": "integer"
    },
    "CostEstimationServiceResourceState": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "CostEstimationStackNames": {
      "max": 1,
      "member": {
        "shape": "StackName"
      },
      "min": 1,
      "type": "list"
    },
    "CostEstimationStatus": {
      "enum": [
        "ONGOING",
        "COMPLETED"
      ],
      "type": "string"
    },
    "CostEstimationTagValues": {
      "max": 1,
      "member": {
        "shape": "TagValue"
      },
      "min": 1,
      "type": "list"
    },
    "CostEstimationTimeRange": {
      "documentation": "<p>The time range of a cost estimation.</p>",
      "members": {
        "EndTime": {
          "documentation": "<p>The end time of the cost estimation.</p>",
          "shape": "Timestamp"
        },
        "StartTime": {
          "documentation": "<p>The start time of the cost estimation.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DeleteInsightRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the insight.</p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "InsightId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteInsightResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountHealthRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountHealthResponse": {
      "members": {
        "AnalyzedResourceCount": {
          "documentation": "<p> Number of resources that DevOps Guru is monitoring in your Amazon Web Services account. </p>",
          "shape": "AnalyzedResourceCount"
        },
        "MetricsAnalyzed": {
          "documentation": "<p> An integer that specifies the number of metrics that have been analyzed in your Amazon Web Services account. </p>",
          "shape": "NumMetricsAnalyzed"
        },
        "OpenProactiveInsights": {
          "documentation": "<p> An integer that specifies the number of open proactive insights in your Amazon Web Services account. </p>",
          "shape": "NumOpenProactiveInsights"
        },
        "OpenReactiveInsights": {
          "documentation": "<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account. </p>",
          "shape": "NumOpenReactiveInsights"
        },
        "ResourceHours": {
          "documentation": "<p>The number of Amazon DevOps Guru resource analysis hours billed to the current Amazon Web Services account in the last hour. </p>",
          "shape": "ResourceHours"
        }
      },
      "required": [
        "OpenReactiveInsights",
        "OpenProactiveInsights",
        "MetricsAnalyzed",
        "ResourceHours"
      ],
      "type": "structure"
    },
    "DescribeAccountOverviewRequest": {
      "members": {
        "FromTime": {
          "documentation": "<p> The start of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred after this day. </p>",
          "shape": "Timestamp"
        },
        "ToTime": {
          "documentation": "<p> The end of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred before this day. If this is not specified, then the current day is used. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "FromTime"
      ],
      "type": "structure"
    },
    "DescribeAccountOverviewResponse": {
      "members": {
        "MeanTimeToRecoverInMilliseconds": {
          "documentation": "<p> The Mean Time to Recover (MTTR) for all closed insights that were created during the time range passed in. </p>",
          "shape": "MeanTimeToRecoverInMilliseconds"
        },
        "ProactiveInsights": {
          "documentation": "<p> An integer that specifies the number of open proactive insights in your Amazon Web Services account that were created during the time range passed in. </p>",
          "shape": "NumProactiveInsights"
        },
        "ReactiveInsights": {
          "documentation": "<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account that were created during the time range passed in. </p>",
          "shape": "NumReactiveInsights"
        }
      },
      "required": [
        "ReactiveInsights",
        "ProactiveInsights",
        "MeanTimeToRecoverInMilliseconds"
      ],
      "type": "structure"
    },
    "DescribeAnomalyRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the member account.</p>",
          "location": "querystring",
          "locationName": "AccountId",
          "shape": "AwsAccountId"
        },
        "Id": {
          "documentation": "<p> The ID of the anomaly. </p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "AnomalyId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeAnomalyResponse": {
      "members": {
        "ProactiveAnomaly": {
          "documentation": "<p> A <code>ProactiveAnomaly</code> object that represents the requested anomaly. </p>",
          "shape": "ProactiveAnomaly"
        },
        "ReactiveAnomaly": {
          "documentation": "<p> A <code>ReactiveAnomaly</code> object that represents the requested anomaly. </p>",
          "shape": "ReactiveAnomaly"
        }
      },
      "type": "structure"
    },
    "DescribeEventSourcesConfigRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeEventSourcesConfigResponse": {
      "members": {
        "EventSources": {
          "documentation": "<p>Lists the event sources in the configuration.</p>",
          "shape": "EventSourcesConfig"
        }
      },
      "type": "structure"
    },
    "DescribeFeedbackRequest": {
      "members": {
        "InsightId": {
          "documentation": "<p> The ID of the insight for which the feedback was provided. </p>",
          "shape": "InsightId"
        }
      },
      "type": "structure"
    },
    "DescribeFeedbackResponse": {
      "members": {
        "InsightFeedback": {
          "shape": "InsightFeedback"
        }
      },
      "type": "structure"
    },
    "DescribeInsightRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the member account in the organization.</p>",
          "location": "querystring",
          "locationName": "AccountId",
          "shape": "AwsAccountId"
        },
        "Id": {
          "documentation": "<p> The ID of the insight. </p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "InsightId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeInsightResponse": {
      "members": {
        "ProactiveInsight": {
          "documentation": "<p> A <code>ProactiveInsight</code> object that represents the requested insight. </p>",
          "shape": "ProactiveInsight"
        },
        "ReactiveInsight": {
          "documentation": "<p> A <code>ReactiveInsight</code> object that represents the requested insight. </p>",
          "shape": "ReactiveInsight"
        }
      },
      "type": "structure"
    },
    "DescribeOrganizationHealthRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The ID of the Amazon Web Services account.</p>",
          "shape": "AccountIdList"
        },
        "OrganizationalUnitIds": {
          "documentation": "<p>The ID of the organizational unit.</p>",
          "shape": "OrganizationalUnitIdList"
        }
      },
      "type": "structure"
    },
    "DescribeOrganizationHealthResponse": {
      "members": {
        "MetricsAnalyzed": {
          "documentation": "<p>An integer that specifies the number of metrics that have been analyzed in your organization.</p>",
          "shape": "NumMetricsAnalyzed"
        },
        "OpenProactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>",
          "shape": "NumOpenProactiveInsights"
        },
        "OpenReactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>",
          "shape": "NumOpenReactiveInsights"
        },
        "ResourceHours": {
          "documentation": "<p>The number of Amazon DevOps Guru resource analysis hours billed to the current Amazon Web Services account in the last hour. </p>",
          "shape": "ResourceHours"
        }
      },
      "required": [
        "OpenReactiveInsights",
        "OpenProactiveInsights",
        "MetricsAnalyzed",
        "ResourceHours"
      ],
      "type": "structure"
    },
    "DescribeOrganizationOverviewRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The ID of the Amazon Web Services account.</p>",
          "shape": "AccountIdList"
        },
        "FromTime": {
          "documentation": "<p> The start of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred after this day. </p>",
          "shape": "Timestamp"
        },
        "OrganizationalUnitIds": {
          "documentation": "<p>The ID of the organizational unit.</p>",
          "shape": "OrganizationalUnitIdList"
        },
        "ToTime": {
          "documentation": "<p> The end of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred before this day. If this is not specified, then the current day is used. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "FromTime"
      ],
      "type": "structure"
    },
    "DescribeOrganizationOverviewResponse": {
      "members": {
        "ProactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>",
          "shape": "NumProactiveInsights"
        },
        "ReactiveInsights": {
          "documentation": "<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>",
          "shape": "NumReactiveInsights"
        }
      },
      "required": [
        "ReactiveInsights",
        "ProactiveInsights"
      ],
      "type": "structure"
    },
    "DescribeOrganizationResourceCollectionHealthRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The ID of the Amazon Web Services account.</p>",
          "shape": "AccountIdList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>",
          "shape": "OrganizationResourceCollectionMaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "UuidNextToken"
        },
        "OrganizationResourceCollectionType": {
          "documentation": "<p> An Amazon Web Services resource collection type. This type specifies how analyzed Amazon Web Services resources are defined. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
          "shape": "OrganizationResourceCollectionType"
        },
        "OrganizationalUnitIds": {
          "documentation": "<p>The ID of the organizational unit.</p>",
          "shape": "OrganizationalUnitIdList"
        }
      },
      "required": [
        "OrganizationResourceCollectionType"
      ],
      "type": "structure"
    },
    "DescribeOrganizationResourceCollectionHealthResponse": {
      "members": {
        "Account": {
          "documentation": "<p>The name of the organization's account.</p>",
          "shape": "AccountHealths"
        },
        "CloudFormation": {
          "documentation": "<p>The returned <code>CloudFormationHealthOverview</code> object that contains an <code>InsightHealthOverview</code> object with the requested system health information.</p>",
          "shape": "CloudFormationHealths"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "Service": {
          "documentation": "<p>An array of <code>ServiceHealth</code> objects that describes the health of the Amazon Web Services services associated with the resources in the collection.</p>",
          "shape": "ServiceHealths"
        },
        "Tags": {
          "documentation": "<p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://d1.awsstatic.com/whitepapers/aws-tagging-best-practices.pdf\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>",
          "shape": "TagHealths"
        }
      },
      "type": "structure"
    },
    "DescribeResourceCollectionHealthRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "UuidNextToken"
        },
        "ResourceCollectionType": {
          "documentation": "<p> An Amazon Web Services resource collection type. This type specifies how analyzed Amazon Web Services resources are defined. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
          "location": "uri",
          "locationName": "ResourceCollectionType",
          "shape": "ResourceCollectionType"
        }
      },
      "required": [
        "ResourceCollectionType"
      ],
      "type": "structure"
    },
    "DescribeResourceCollectionHealthResponse": {
      "members": {
        "CloudFormation": {
          "documentation": "<p> The returned <code>CloudFormationHealthOverview</code> object that contains an <code>InsightHealthOverview</code> object with the requested system health information. </p>",
          "shape": "CloudFormationHealths"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "Service": {
          "documentation": "<p>An array of <code>ServiceHealth</code> objects that describes the health of the Amazon Web Services services associated with the resources in the collection.</p>",
          "shape": "ServiceHealths"
        },
        "Tags": {
          "documentation": "<p>The Amazon Web Services tags that are used by resources in the resource collection.</p> <p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://d1.awsstatic.com/whitepapers/aws-tagging-best-practices.pdf\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>",
          "shape": "TagHealths"
        }
      },
      "type": "structure"
    },
    "DescribeServiceIntegrationRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeServiceIntegrationResponse": {
      "members": {
        "ServiceIntegration": {
          "shape": "ServiceIntegrationConfig"
        }
      },
      "type": "structure"
    },
    "EndTimeRange": {
      "documentation": "<p> A range of time that specifies when anomalous behavior in an anomaly or insight ended. </p>",
      "members": {
        "FromTime": {
          "documentation": "<p> The earliest end time in the time range. </p>",
          "shape": "Timestamp"
        },
        "ToTime": {
          "documentation": "<p> The latest end time in the time range. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ErrorMessageString": {
      "type": "string"
    },
    "ErrorNameString": {
      "type": "string"
    },
    "ErrorQuotaCodeString": {
      "type": "string"
    },
    "ErrorServiceCodeString": {
      "type": "string"
    },
    "Event": {
      "documentation": "<p> An Amazon Web Services resource event. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>",
      "members": {
        "DataSource": {
          "documentation": "<p> The source, <code>AWS_CLOUD_TRAIL</code> or <code>AWS_CODE_DEPLOY</code>, where DevOps Guru analysis found the event. </p>",
          "shape": "EventDataSource"
        },
        "EventClass": {
          "documentation": "<p> The class of the event. The class specifies what the event is related to, such as an infrastructure change, a deployment, or a schema change. </p>",
          "shape": "EventClass"
        },
        "EventSource": {
          "documentation": "<p> The Amazon Web Services source that emitted the event. </p>",
          "shape": "EventSource"
        },
        "Id": {
          "documentation": "<p> The ID of the event. </p>",
          "shape": "EventId"
        },
        "Name": {
          "documentation": "<p> The name of the event. </p>",
          "shape": "EventName"
        },
        "ResourceCollection": {
          "shape": "ResourceCollection"
        },
        "Resources": {
          "documentation": "<p> An <code>EventResource</code> object that contains information about the resource that emitted the event. </p>",
          "shape": "EventResources"
        },
        "Time": {
          "documentation": "<p> A <code>Timestamp</code> that specifies the time the event occurred. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "EventClass": {
      "enum": [
        "INFRASTRUCTURE",
        "DEPLOYMENT",
        "SECURITY_CHANGE",
        "CONFIG_CHANGE",
        "SCHEMA_CHANGE"
      ],
      "type": "string"
    },
    "EventDataSource": {
      "enum": [
        "AWS_CLOUD_TRAIL",
        "AWS_CODE_DEPLOY"
      ],
      "type": "string"
    },
    "EventId": {
      "type": "string"
    },
    "EventName": {
      "max": 50,
      "min": 0,
      "type": "string"
    },
    "EventResource": {
      "documentation": "<p> The Amazon Web Services resource that emitted an event. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the resource that emitted an event. </p>",
          "shape": "EventResourceArn"
        },
        "Name": {
          "documentation": "<p> The name of the resource that emitted an event. </p>",
          "shape": "EventResourceName"
        },
        "Type": {
          "documentation": "<p> The type of resource that emitted an event. </p>",
          "shape": "EventResourceType"
        }
      },
      "type": "structure"
    },
    "EventResourceArn": {
      "max": 2048,
      "min": 36,
      "pattern": "^arn:aws[-a-z]*:[a-z0-9-]*:[a-z0-9-]*:\\d{12}:.*$",
      "type": "string"
    },
    "EventResourceName": {
      "max": 2048,
      "min": 0,
      "pattern": "^.*$",
      "type": "string"
    },
    "EventResourceType": {
      "max": 2048,
      "min": 0,
      "pattern": "^.*$",
      "type": "string"
    },
    "EventResources": {
      "member": {
        "shape": "EventResource"
      },
      "type": "list"
    },
    "EventSource": {
      "max": 50,
      "min": 10,
      "pattern": "^[a-z]+[a-z0-9]*\\.amazonaws\\.com|aws\\.events$",
      "type": "string"
    },
    "EventSourceOptInStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "EventSourcesConfig": {
      "documentation": "<p>Information about the integration of DevOps Guru as consumer with another AWS service, such as AWS CodeGuru Profiler via EventBridge.</p>",
      "members": {
        "AmazonCodeGuruProfiler": {
          "documentation": "<p>Information about whether DevOps Guru is configured to consume recommendations which are generated from AWS CodeGuru Profiler.</p>",
          "shape": "AmazonCodeGuruProfilerIntegration"
        }
      },
      "type": "structure"
    },
    "EventTimeRange": {
      "documentation": "<p> The time range during which an Amazon Web Services event occurred. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>",
      "members": {
        "FromTime": {
          "documentation": "<p> The time when the event started. </p>",
          "shape": "Timestamp"
        },
        "ToTime": {
          "documentation": "<p> The time when the event ended. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "FromTime",
        "ToTime"
      ],
      "type": "structure"
    },
    "Events": {
      "member": {
        "shape": "Event"
      },
      "type": "list"
    },
    "Explanation": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "GetCostEstimationRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "UuidNextToken"
        }
      },
      "type": "structure"
    },
    "GetCostEstimationResponse": {
      "members": {
        "Costs": {
          "documentation": "<p>An array of <code>ResourceCost</code> objects that each contains details about the monthly cost estimate to analyze one of your Amazon Web Services resources.</p>",
          "shape": "ServiceResourceCosts"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "ResourceCollection": {
          "documentation": "<p>The collection of the Amazon Web Services resources used to create your monthly DevOps Guru cost estimate.</p>",
          "shape": "CostEstimationResourceCollectionFilter"
        },
        "Status": {
          "documentation": "<p>The status of creating this cost estimate. If it's still in progress, the status <code>ONGOING</code> is returned. If it is finished, the status <code>COMPLETED</code> is returned.</p>",
          "shape": "CostEstimationStatus"
        },
        "TimeRange": {
          "documentation": "<p>The start and end time of the cost estimation.</p>",
          "shape": "CostEstimationTimeRange"
        },
        "TotalCost": {
          "documentation": "<p>The estimated monthly cost to analyze the Amazon Web Services resources. This value is the sum of the estimated costs to analyze each resource in the <code>Costs</code> object in this response.</p>",
          "shape": "Cost"
        }
      },
      "type": "structure"
    },
    "GetResourceCollectionRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "UuidNextToken"
        },
        "ResourceCollectionType": {
          "documentation": "<p> The type of Amazon Web Services resource collections to return. The one valid value is <code>CLOUD_FORMATION</code> for Amazon Web Services CloudFormation stacks. </p>",
          "location": "uri",
          "locationName": "ResourceCollectionType",
          "shape": "ResourceCollectionType"
        }
      },
      "required": [
        "ResourceCollectionType"
      ],
      "type": "structure"
    },
    "GetResourceCollectionResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "ResourceCollection": {
          "documentation": "<p> The requested list of Amazon Web Services resource collections. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
          "shape": "ResourceCollectionFilter"
        }
      },
      "type": "structure"
    },
    "InsightDescription": {
      "type": "string"
    },
    "InsightFeedback": {
      "documentation": "<p> Information about insight feedback received from a customer. </p>",
      "members": {
        "Feedback": {
          "documentation": "<p> The feedback provided by the customer. </p>",
          "shape": "InsightFeedbackOption"
        },
        "Id": {
          "documentation": "<p> The insight feedback ID. </p>",
          "shape": "InsightId"
        }
      },
      "type": "structure"
    },
    "InsightFeedbackOption": {
      "enum": [
        "VALID_COLLECTION",
        "RECOMMENDATION_USEFUL",
        "ALERT_TOO_SENSITIVE",
        "DATA_NOISY_ANOMALY",
        "DATA_INCORRECT"
      ],
      "type": "string"
    },
    "InsightHealth": {
      "documentation": "<p> Information about the number of open reactive and proactive insights that can be used to gauge the health of your system. </p>",
      "members": {
        "MeanTimeToRecoverInMilliseconds": {
          "documentation": "<p> The Meant Time to Recover (MTTR) for the insight. </p>",
          "shape": "MeanTimeToRecoverInMilliseconds"
        },
        "OpenProactiveInsights": {
          "documentation": "<p> The number of open proactive insights. </p>",
          "shape": "NumOpenProactiveInsights"
        },
        "OpenReactiveInsights": {
          "documentation": "<p> The number of open reactive insights. </p>",
          "shape": "NumOpenReactiveInsights"
        }
      },
      "type": "structure"
    },
    "InsightId": {
      "max": 100,
      "min": 1,
      "pattern": "^[\\w-]*$",
      "type": "string"
    },
    "InsightName": {
      "max": 530,
      "min": 1,
      "pattern": "^[\\s\\S]*$",
      "type": "string"
    },
    "InsightSeverities": {
      "max": 3,
      "member": {
        "shape": "InsightSeverity"
      },
      "min": 0,
      "type": "list"
    },
    "InsightSeverity": {
      "enum": [
        "LOW",
        "MEDIUM",
        "HIGH"
      ],
      "type": "string"
    },
    "InsightStatus": {
      "enum": [
        "ONGOING",
        "CLOSED"
      ],
      "type": "string"
    },
    "InsightStatuses": {
      "max": 2,
      "member": {
        "shape": "InsightStatus"
      },
      "min": 0,
      "type": "list"
    },
    "InsightTimeRange": {
      "documentation": "<p> A time ranged that specifies when the observed behavior in an insight started and ended. </p>",
      "members": {
        "EndTime": {
          "documentation": "<p> The time when the behavior described in an insight ended. </p>",
          "shape": "Timestamp"
        },
        "StartTime": {
          "documentation": "<p> The time when the behavior described in an insight started. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime"
      ],
      "type": "structure"
    },
    "InsightType": {
      "enum": [
        "REACTIVE",
        "PROACTIVE"
      ],
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>An internal failure in an Amazon service occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessageString"
        },
        "RetryAfterSeconds": {
          "documentation": "<p> The number of seconds after which the action that caused the internal server exception can be retried. </p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "RetryAfterSeconds"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ListAnomaliesForInsightMaxResults": {
      "max": 500,
      "min": 1,
      "type": "integer"
    },
    "ListAnomaliesForInsightRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the Amazon Web Services account. </p>",
          "shape": "AwsAccountId"
        },
        "InsightId": {
          "documentation": "<p> The ID of the insight. The returned anomalies belong to this insight. </p>",
          "location": "uri",
          "locationName": "InsightId",
          "shape": "InsightId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>",
          "shape": "ListAnomaliesForInsightMaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "UuidNextToken"
        },
        "StartTimeRange": {
          "documentation": "<p> A time range used to specify when the requested anomalies started. All returned anomalies started during this time range. </p>",
          "shape": "StartTimeRange"
        }
      },
      "required": [
        "InsightId"
      ],
      "type": "structure"
    },
    "ListAnomaliesForInsightResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "ProactiveAnomalies": {
          "documentation": "<p> An array of <code>ProactiveAnomalySummary</code> objects that represent the requested anomalies </p>",
          "shape": "ProactiveAnomalies"
        },
        "ReactiveAnomalies": {
          "documentation": "<p> An array of <code>ReactiveAnomalySummary</code> objects that represent the requested anomalies </p>",
          "shape": "ReactiveAnomalies"
        }
      },
      "type": "structure"
    },
    "ListAnomalousLogGroupsMaxResults": {
      "max": 200,
      "min": 1,
      "type": "integer"
    },
    "ListAnomalousLogGroupsRequest": {
      "members": {
        "InsightId": {
          "documentation": "<p> The ID of the insight containing the log groups. </p>",
          "shape": "InsightId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>",
          "shape": "ListAnomalousLogGroupsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "UuidNextToken"
        }
      },
      "required": [
        "InsightId"
      ],
      "type": "structure"
    },
    "ListAnomalousLogGroupsResponse": {
      "members": {
        "AnomalousLogGroups": {
          "documentation": "<p> The list of Amazon CloudWatch log groups that are related to an insight. </p>",
          "shape": "AnomalousLogGroups"
        },
        "InsightId": {
          "documentation": "<p> The ID of the insight containing the log groups. </p>",
          "shape": "InsightId"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        }
      },
      "required": [
        "InsightId",
        "AnomalousLogGroups"
      ],
      "type": "structure"
    },
    "ListEventsFilters": {
      "documentation": "<p> Filters you can use to specify which events are returned when <code>ListEvents</code> is called. </p>",
      "members": {
        "DataSource": {
          "documentation": "<p> The source, <code>AWS_CLOUD_TRAIL</code> or <code>AWS_CODE_DEPLOY</code>, of the events you want returned. </p>",
          "shape": "EventDataSource"
        },
        "EventClass": {
          "documentation": "<p> The class of the events you want to filter for, such as an infrastructure change, a deployment, or a schema change. </p>",
          "shape": "EventClass"
        },
        "EventSource": {
          "documentation": "<p> The Amazon Web Services source that emitted the events you want to filter for. </p>",
          "shape": "EventSource"
        },
        "EventTimeRange": {
          "documentation": "<p> A time range during which you want the filtered events to have occurred. </p>",
          "shape": "EventTimeRange"
        },
        "InsightId": {
          "documentation": "<p> An ID of an insight that is related to the events you want to filter for. </p>",
          "shape": "InsightId"
        },
        "ResourceCollection": {
          "shape": "ResourceCollection"
        }
      },
      "type": "structure"
    },
    "ListEventsMaxResults": {
      "max": 200,
      "min": 1,
      "type": "integer"
    },
    "ListEventsRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the Amazon Web Services account. </p>",
          "shape": "AwsAccountId"
        },
        "Filters": {
          "documentation": "<p> A <code>ListEventsFilters</code> object used to specify which events to return. </p>",
          "shape": "ListEventsFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>",
          "shape": "ListEventsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "UuidNextToken"
        }
      },
      "required": [
        "Filters"
      ],
      "type": "structure"
    },
    "ListEventsResponse": {
      "members": {
        "Events": {
          "documentation": "<p> A list of the requested events. </p>",
          "shape": "Events"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        }
      },
      "required": [
        "Events"
      ],
      "type": "structure"
    },
    "ListInsightsAccountIdList": {
      "max": 1,
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 0,
      "type": "list"
    },
    "ListInsightsAnyStatusFilter": {
      "documentation": "<p> Used to filter for insights that have any status. </p>",
      "members": {
        "StartTimeRange": {
          "documentation": "<p> A time range used to specify when the behavior of the filtered insights started. </p>",
          "shape": "StartTimeRange"
        },
        "Type": {
          "documentation": "<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>",
          "shape": "InsightType"
        }
      },
      "required": [
        "Type",
        "StartTimeRange"
      ],
      "type": "structure"
    },
    "ListInsightsClosedStatusFilter": {
      "documentation": "<p> Used to filter for insights that have the status <code>CLOSED</code>. </p>",
      "members": {
        "EndTimeRange": {
          "documentation": "<p> A time range used to specify when the behavior of the filtered insights ended. </p>",
          "shape": "EndTimeRange"
        },
        "Type": {
          "documentation": "<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>",
          "shape": "InsightType"
        }
      },
      "required": [
        "Type",
        "EndTimeRange"
      ],
      "type": "structure"
    },
    "ListInsightsMaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListInsightsOngoingStatusFilter": {
      "documentation": "<p> Used to filter for insights that have the status <code>ONGOING</code>. </p>",
      "members": {
        "Type": {
          "documentation": "<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>",
          "shape": "InsightType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "ListInsightsOrganizationalUnitIdList": {
      "max": 1,
      "member": {
        "shape": "OrganizationalUnitId"
      },
      "min": 0,
      "type": "list"
    },
    "ListInsightsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>",
          "shape": "ListInsightsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "UuidNextToken"
        },
        "StatusFilter": {
          "documentation": "<p> A filter used to filter the returned insights by their status. You can specify one status filter. </p>",
          "shape": "ListInsightsStatusFilter"
        }
      },
      "required": [
        "StatusFilter"
      ],
      "type": "structure"
    },
    "ListInsightsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "UuidNextToken"
        },
        "ProactiveInsights": {
          "documentation": "<p> The returned list of proactive insights. </p>",
          "shape": "ProactiveInsights"
        },
        "ReactiveInsights": {
          "documentation": "<p> The returned list of reactive insights. </p>",
          "shape": "ReactiveInsights"
        }
      },
      "type": "structure"
    },
    "ListInsightsStatusFilter": {
      "documentation": "<p> A filter used by <code>ListInsights</code> to specify which insights to return. </p>",
      "members": {
        "Any": {
          "documentation": "<p> A <code>ListInsightsAnyStatusFilter</code> that specifies insights of any status that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>",
          "shape": "ListInsightsAnyStatusFilter"
        },
        "Closed": {
          "documentation": "<p> A <code>ListInsightsClosedStatusFilter</code> that specifies closed insights that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>",
          "shape": "ListInsightsClosedStatusFilter"
        },
        "Ongoing": {
          "documentation": "<p> A <code>ListInsightsAnyStatusFilter</code> that specifies ongoing insights that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>",
          "shape": "ListInsightsOngoingStatusFilter"
        }
      },
      "type": "structure"
    },
    "ListMonitoredResourcesFilters": {
      "documentation": "<p> Filters to determine which monitored resources you want to retrieve. You can filter by resource type or resource permission status. </p>",
      "members": {
        "ResourcePermission": {
          "documentation": "<p> The permission status of a resource. </p>",
          "shape": "ResourcePermission"
        },
        "ResourceTypeFilters": {
          "documentation": "<p> The type of resource that you wish to retrieve, such as log groups. </p>",
          "shape": "ResourceTypeFilters"
        }
      },
      "required": [
        "ResourcePermission",
        "ResourceTypeFilters"
      ],
      "type": "structure"
    },
    "ListMonitoredResourcesMaxResults": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListMonitoredResourcesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p> Filters to determine which monitored resources you want to retrieve. You can filter by resource type or resource permission status. </p>",
          "shape": "ListMonitoredResourcesFilters"
        },
        "MaxResults": {
[...]
