{
  "documentation": "<p>Using the Amazon Cognito user pools API, you can create a user pool to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito user pools.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.html\">Amazon Cognito Documentation</a>.</p>",
  "metadata": {
    "apiVersion": "2016-04-18",
    "endpointPrefix": "cognito-idp",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Cognito Identity Provider",
    "serviceId": "Cognito Identity Provider",
    "signatureVersion": "v4",
    "targetPrefix": "AWSCognitoIdentityProviderService",
    "uid": "cognito-idp-2016-04-18"
  },
  "operations": {
    "AddCustomAttributes": {
      "documentation": "<p>Adds additional user attributes to the user pool schema.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserImportInProgressException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCustomAttributesRequest"
      },
      "name": "AddCustomAttributes",
      "output": {
        "shape": "AddCustomAttributesResponse"
      }
    },
    "AdminAddUserToGroup": {
      "documentation": "<p>Adds the specified user to the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminAddUserToGroupRequest"
      },
      "name": "AdminAddUserToGroup"
    },
    "AdminConfirmSignUp": {
      "documentation": "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminConfirmSignUpRequest"
      },
      "name": "AdminConfirmSignUp",
      "output": {
        "shape": "AdminConfirmSignUpResponse"
      }
    },
    "AdminCreateUser": {
      "documentation": "<p>Creates a new user in the specified user pool.</p> <p>If <code>MessageAction</code> isn't set, the default is to send a welcome message via email or phone (SMS).</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note> <p>This message is based on a template that you configured in your call to create or update a user pool. This template includes your custom sign-up instructions and placeholders for user name and temporary password.</p> <p>Alternatively, you can call <code>AdminCreateUser</code> with <code>SUPPRESS</code> for the <code>MessageAction</code> parameter, and Amazon Cognito won't send any email. </p> <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until they sign in and change their password.</p> <p> <code>AdminCreateUser</code> requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UsernameExistsException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UnsupportedUserStateException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminCreateUserRequest"
      },
      "name": "AdminCreateUser",
      "output": {
        "shape": "AdminCreateUserResponse"
      }
    },
    "AdminDeleteUser": {
      "documentation": "<p>Deletes a user as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDeleteUserRequest"
      },
      "name": "AdminDeleteUser"
    },
    "AdminDeleteUserAttributes": {
      "documentation": "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDeleteUserAttributesRequest"
      },
      "name": "AdminDeleteUserAttributes",
      "output": {
        "shape": "AdminDeleteUserAttributesResponse"
      }
    },
    "AdminDisableProviderForUser": {
      "documentation": "<p>Prevents the user from signing in with the specified external (SAML or social) identity provider (IdP). If the user that you want to deactivate is a Amazon Cognito user pools native username + password user, they can't use their password to sign in. If the user to deactivate is a linked external IdP user, any link between that user and an existing user is removed. When the external user signs in again, and the user is no longer attached to the previously linked <code>DestinationUser</code>, the user must create a new user account. See <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminLinkProviderForUser.html\">AdminLinkProviderForUser</a>.</p> <p>This action is enabled only for admin access and requires developer credentials.</p> <p>The <code>ProviderName</code> must match the value specified when creating an IdP for the pool. </p> <p>To deactivate a native username + password user, the <code>ProviderName</code> value must be <code>Cognito</code> and the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>. The <code>ProviderAttributeValue</code> must be the name that is used in the user pool for the user.</p> <p>The <code>ProviderAttributeName</code> must always be <code>Cognito_Subject</code> for social IdPs. The <code>ProviderAttributeValue</code> must always be the exact subject that was used when the user was originally linked as a source user.</p> <p>For de-linking a SAML identity, there are two scenarios. If the linked identity has not yet been used to sign in, the <code>ProviderAttributeName</code> and <code>ProviderAttributeValue</code> must be the same values that were used for the <code>SourceUser</code> when the identities were originally linked using <code> AdminLinkProviderForUser</code> call. (If the linking was done with <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>, the same applies here). However, if the user has already signed in, the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code> and <code>ProviderAttributeValue</code> must be the subject of the SAML assertion.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDisableProviderForUserRequest"
      },
      "name": "AdminDisableProviderForUser",
      "output": {
        "shape": "AdminDisableProviderForUserResponse"
      }
    },
    "AdminDisableUser": {
      "documentation": "<p>Deactivates a user and revokes all access tokens for the user. A deactivated user can't sign in, but still appears in the responses to <code>GetUser</code> and <code>ListUsers</code> API requests.</p> <p>You must make this API request with Amazon Web Services credentials that have <code>cognito-idp:AdminDisableUser</code> permissions.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDisableUserRequest"
      },
      "name": "AdminDisableUser",
      "output": {
        "shape": "AdminDisableUserResponse"
      }
    },
    "AdminEnableUser": {
      "documentation": "<p>Enables the specified user as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminEnableUserRequest"
      },
      "name": "AdminEnableUser",
      "output": {
        "shape": "AdminEnableUserResponse"
      }
    },
    "AdminForgetDevice": {
      "documentation": "<p>Forgets the device, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminForgetDeviceRequest"
      },
      "name": "AdminForgetDevice"
    },
    "AdminGetDevice": {
      "documentation": "<p>Gets the device, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminGetDeviceRequest"
      },
      "name": "AdminGetDevice",
      "output": {
        "shape": "AdminGetDeviceResponse"
      }
    },
    "AdminGetUser": {
      "documentation": "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminGetUserRequest"
      },
      "name": "AdminGetUser",
      "output": {
        "shape": "AdminGetUserResponse"
      }
    },
    "AdminInitiateAuth": {
      "documentation": "<p>Initiates the authentication flow, as an administrator.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminInitiateAuthRequest"
      },
      "name": "AdminInitiateAuth",
      "output": {
        "shape": "AdminInitiateAuthResponse"
      }
    },
    "AdminLinkProviderForUser": {
      "documentation": "<p>Links an existing user account in a user pool (<code>DestinationUser</code>) to an identity from an external IdP (<code>SourceUser</code>) based on a specified attribute name and value from the external IdP. This allows you to create a link from the existing user account to an external federated user identity that has not yet been used to sign in. You can then use the federated user identity to sign in as the existing user account. </p> <p> For example, if there is an existing user with a username and password, this API links that user to a federated user identity. When the user signs in with a federated user identity, they sign in as the existing user account.</p> <note> <p>The maximum number of federated identities linked to a user is five.</p> </note> <important> <p>Because this API allows a user with an external federated identity to sign in as an existing user in the user pool, it is critical that it only be used with external IdPs and provider attributes that have been trusted by the application owner.</p> </important> <p>This action is administrative and requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminLinkProviderForUserRequest"
      },
      "name": "AdminLinkProviderForUser",
      "output": {
        "shape": "AdminLinkProviderForUserResponse"
      }
    },
    "AdminListDevices": {
      "documentation": "<p>Lists devices, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListDevicesRequest"
      },
      "name": "AdminListDevices",
      "output": {
        "shape": "AdminListDevicesResponse"
      }
    },
    "AdminListGroupsForUser": {
      "documentation": "<p>Lists the groups that the user belongs to.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListGroupsForUserRequest"
      },
      "name": "AdminListGroupsForUser",
      "output": {
        "shape": "AdminListGroupsForUserResponse"
      }
    },
    "AdminListUserAuthEvents": {
      "documentation": "<p>A history of user activity and any risks detected as part of Amazon Cognito advanced security.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListUserAuthEventsRequest"
      },
      "name": "AdminListUserAuthEvents",
      "output": {
        "shape": "AdminListUserAuthEventsResponse"
      }
    },
    "AdminRemoveUserFromGroup": {
      "documentation": "<p>Removes the specified user from the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminRemoveUserFromGroupRequest"
      },
      "name": "AdminRemoveUserFromGroup"
    },
    "AdminResetUserPassword": {
      "documentation": "<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p> <p>When a developer calls this API, the current password is invalidated, so it must be changed. If a user tries to sign in after the API is called, the app will get a PasswordResetRequiredException exception back and should direct the user down the flow to reset the password, which is the same as the forgot password flow. In addition, if the user pool has phone verification selected and a verified phone number exists for the user, or if email verification is selected and a verified email exists for the user, calling this API will also result in sending a message to the end user with the code to change their password.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminResetUserPasswordRequest"
      },
      "name": "AdminResetUserPassword",
      "output": {
        "shape": "AdminResetUserPasswordResponse"
      }
    },
    "AdminRespondToAuthChallenge": {
      "documentation": "<p>Responds to an authentication challenge, as an administrator.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "SoftwareTokenMFANotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminRespondToAuthChallengeRequest"
      },
      "name": "AdminRespondToAuthChallenge",
      "output": {
        "shape": "AdminRespondToAuthChallengeResponse"
      }
    },
    "AdminSetUserMFAPreference": {
      "documentation": "<p>The user's multi-factor authentication (MFA) preference, including which MFA options are activated, and if any are preferred. Only one factor can be set as preferred. The preferred MFA factor will be used to authenticate a user if multiple factors are activated. If multiple options are activated and no preference is set, a challenge to choose an MFA option will be returned during sign-in.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserMFAPreferenceRequest"
      },
      "name": "AdminSetUserMFAPreference",
      "output": {
        "shape": "AdminSetUserMFAPreferenceResponse"
      }
    },
    "AdminSetUserPassword": {
      "documentation": "<p>Sets the specified user's password in a user pool as an administrator. Works on any user. </p> <p>The password can be temporary or permanent. If it is temporary, the user status enters the <code>FORCE_CHANGE_PASSWORD</code> state. When the user next tries to sign in, the InitiateAuth/AdminInitiateAuth response will contain the <code>NEW_PASSWORD_REQUIRED</code> challenge. If the user doesn't sign in before it expires, the user won't be able to sign in, and an administrator must reset their password. </p> <p>Once the user has set a new password, or the password is permanent, the user status is set to <code>Confirmed</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserPasswordRequest"
      },
      "name": "AdminSetUserPassword",
      "output": {
        "shape": "AdminSetUserPasswordResponse"
      }
    },
    "AdminSetUserSettings": {
      "documentation": "<p> <i>This action is no longer supported.</i> You can use it to configure only SMS MFA. You can't use it to configure time-based one-time password (TOTP) software token MFA. To configure either type of MFA, use <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminSetUserMFAPreference.html\">AdminSetUserMFAPreference</a> instead.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserSettingsRequest"
      },
      "name": "AdminSetUserSettings",
      "output": {
        "shape": "AdminSetUserSettingsResponse"
      }
    },
    "AdminUpdateAuthEventFeedback": {
      "documentation": "<p>Provides feedback for an authentication event indicating if it was from a valid user. This feedback is used for improving the risk evaluation decision for the user pool as part of Amazon Cognito advanced security.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateAuthEventFeedbackRequest"
      },
      "name": "AdminUpdateAuthEventFeedback",
      "output": {
        "shape": "AdminUpdateAuthEventFeedbackResponse"
      }
    },
    "AdminUpdateDeviceStatus": {
      "documentation": "<p>Updates the device status as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateDeviceStatusRequest"
      },
      "name": "AdminUpdateDeviceStatus",
      "output": {
        "shape": "AdminUpdateDeviceStatusResponse"
      }
    },
    "AdminUpdateUserAttributes": {
      "documentation": "<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p> <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p> <p>In addition to updating user attributes, this API can also be used to mark phone and email as verified.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateUserAttributesRequest"
      },
      "name": "AdminUpdateUserAttributes",
      "output": {
        "shape": "AdminUpdateUserAttributesResponse"
      }
    },
    "AdminUserGlobalSignOut": {
      "documentation": "<p>Signs out a user from all devices. You must sign <code>AdminUserGlobalSignOut</code> requests with Amazon Web Services credentials. It also invalidates all refresh tokens that Amazon Cognito has issued to a user. The user's current access and ID tokens remain valid until they expire. By default, access and ID tokens expire one hour after they're issued. A user can still use a hosted UI cookie to retrieve new tokens for the duration of the cookie validity period of 1 hour.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUserGlobalSignOutRequest"
      },
      "name": "AdminUserGlobalSignOut",
      "output": {
        "shape": "AdminUserGlobalSignOutResponse"
      }
    },
    "AssociateSoftwareToken": {
      "documentation": "<p>Begins setup of time-based one-time password (TOTP) multi-factor authentication (MFA) for a user, with a unique private key that Amazon Cognito generates and returns in the API response. You can authorize an <code>AssociateSoftwareToken</code> request with either the user's access token, or a session string from a challenge response that you received from Amazon Cognito.</p> <note> <p>Amazon Cognito disassociates an existing software token when you verify the new token in a <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_VerifySoftwareToken.html\"> VerifySoftwareToken</a> API request. If you don't verify the software token and your user pool doesn't require MFA, the user can then authenticate with user name and password credentials alone. If your user pool requires TOTP MFA, Amazon Cognito generates an <code>MFA_SETUP</code> or <code>SOFTWARE_TOKEN_SETUP</code> challenge each time your user signs. Complete setup with <code>AssociateSoftwareToken</code> and <code>VerifySoftwareToken</code>.</p> <p>After you set up software token MFA for your user, Amazon Cognito generates a <code>SOFTWARE_TOKEN_MFA</code> challenge when they authenticate. Respond to this challenge with your user's TOTP.</p> </note>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "SoftwareTokenMFANotFoundException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSoftwareTokenRequest"
      },
      "name": "AssociateSoftwareToken",
      "output": {
        "shape": "AssociateSoftwareTokenResponse"
      }
    },
    "ChangePassword": {
      "authtype": "none",
      "documentation": "<p>Changes the password for a specified user in a user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ChangePasswordRequest"
      },
      "name": "ChangePassword",
      "output": {
        "shape": "ChangePasswordResponse"
      }
    },
    "ConfirmDevice": {
      "documentation": "<p>Confirms tracking of the device. This API call is the call that begins device tracking.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "UsernameExistsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmDeviceRequest"
      },
      "name": "ConfirmDevice",
      "output": {
        "shape": "ConfirmDeviceResponse"
      }
    },
    "ConfirmForgotPassword": {
      "authtype": "none",
      "documentation": "<p>Allows a user to enter a confirmation code to reset a forgotten password.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmForgotPasswordRequest"
      },
      "name": "ConfirmForgotPassword",
      "output": {
        "shape": "ConfirmForgotPasswordResponse"
      }
    },
    "ConfirmSignUp": {
      "authtype": "none",
      "documentation": "<p>Confirms registration of a new user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmSignUpRequest"
      },
      "name": "ConfirmSignUp",
      "output": {
        "shape": "ConfirmSignUpResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a new group in the specified user pool.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "GroupExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateIdentityProvider": {
      "documentation": "<p>Creates an IdP for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "DuplicateProviderException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIdentityProviderRequest"
      },
      "name": "CreateIdentityProvider",
      "output": {
        "shape": "CreateIdentityProviderResponse"
      }
    },
    "CreateResourceServer": {
      "documentation": "<p>Creates a new OAuth2.0 resource server and defines custom scopes within it.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceServerRequest"
      },
      "name": "CreateResourceServer",
      "output": {
        "shape": "CreateResourceServerResponse"
      }
    },
    "CreateUserImportJob": {
      "documentation": "<p>Creates the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserImportJobRequest"
      },
      "name": "CreateUserImportJob",
      "output": {
        "shape": "CreateUserImportJobResponse"
      }
    },
    "CreateUserPool": {
      "documentation": "<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolTaggingException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolRequest"
      },
      "name": "CreateUserPool",
      "output": {
        "shape": "CreateUserPoolResponse"
      }
    },
    "CreateUserPoolClient": {
      "documentation": "<p>Creates the user pool client.</p> <p>When you create a new user pool client, token revocation is automatically activated. For more information about revoking tokens, see <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_RevokeToken.html\">RevokeToken</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ScopeDoesNotExistException"
        },
        {
          "shape": "InvalidOAuthFlowException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolClientRequest"
      },
      "name": "CreateUserPoolClient",
      "output": {
        "shape": "CreateUserPoolClientResponse"
      }
    },
    "CreateUserPoolDomain": {
      "documentation": "<p>Creates a new domain for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolDomainRequest"
      },
      "name": "CreateUserPoolDomain",
      "output": {
        "shape": "CreateUserPoolDomainResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup"
    },
    "DeleteIdentityProvider": {
      "documentation": "<p>Deletes an IdP for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedIdentityProviderException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIdentityProviderRequest"
      },
      "name": "DeleteIdentityProvider"
    },
    "DeleteResourceServer": {
      "documentation": "<p>Deletes a resource server.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceServerRequest"
      },
      "name": "DeleteResourceServer"
    },
    "DeleteUser": {
      "authtype": "none",
      "documentation": "<p>Allows a user to delete himself or herself.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser"
    },
    "DeleteUserAttributes": {
      "authtype": "none",
      "documentation": "<p>Deletes the attributes for a user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserAttributesRequest"
      },
      "name": "DeleteUserAttributes",
      "output": {
        "shape": "DeleteUserAttributesResponse"
      }
    },
    "DeleteUserPool": {
      "documentation": "<p>Deletes the specified Amazon Cognito user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserImportInProgressException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolRequest"
      },
      "name": "DeleteUserPool"
    },
    "DeleteUserPoolClient": {
      "documentation": "<p>Allows the developer to delete the user pool client.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolClientRequest"
      },
      "name": "DeleteUserPoolClient"
    },
    "DeleteUserPoolDomain": {
      "documentation": "<p>Deletes a domain for a user pool.</p>",
      "errors": [
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolDomainRequest"
      },
      "name": "DeleteUserPoolDomain",
      "output": {
        "shape": "DeleteUserPoolDomainResponse"
      }
    },
    "DescribeIdentityProvider": {
      "documentation": "<p>Gets information about a specific IdP.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIdentityProviderRequest"
      },
      "name": "DescribeIdentityProvider",
      "output": {
        "shape": "DescribeIdentityProviderResponse"
      }
    },
    "DescribeResourceServer": {
      "documentation": "<p>Describes a resource server.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourceServerRequest"
      },
      "name": "DescribeResourceServer",
      "output": {
        "shape": "DescribeResourceServerResponse"
      }
    },
    "DescribeRiskConfiguration": {
      "documentation": "<p>Describes the risk configuration.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRiskConfigurationRequest"
      },
      "name": "DescribeRiskConfiguration",
      "output": {
        "shape": "DescribeRiskConfigurationResponse"
      }
    },
    "DescribeUserImportJob": {
      "documentation": "<p>Describes the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserImportJobRequest"
      },
      "name": "DescribeUserImportJob",
      "output": {
        "shape": "DescribeUserImportJobResponse"
      }
    },
    "DescribeUserPool": {
      "documentation": "<p>Returns the configuration information and metadata of the specified user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolTaggingException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolRequest"
      },
      "name": "DescribeUserPool",
      "output": {
        "shape": "DescribeUserPoolResponse"
      }
    },
    "DescribeUserPoolClient": {
      "documentation": "<p>Client method for returning the configuration information and metadata of the specified user pool app client.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolClientRequest"
      },
      "name": "DescribeUserPoolClient",
      "output": {
        "shape": "DescribeUserPoolClientResponse"
      }
    },
    "DescribeUserPoolDomain": {
      "documentation": "<p>Gets information about a domain.</p>",
      "errors": [
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolDomainRequest"
      },
      "name": "DescribeUserPoolDomain",
      "output": {
        "shape": "DescribeUserPoolDomainResponse"
      }
    },
    "ForgetDevice": {
      "documentation": "<p>Forgets the specified device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgetDeviceRequest"
      },
      "name": "ForgetDevice"
    },
    "ForgotPassword": {
      "authtype": "none",
      "documentation": "<p>Calling this API causes a message to be sent to the end user with a confirmation code that is required to change the user's password. For the <code>Username</code> parameter, you can use the username or user alias. The method used to send the confirmation code is sent according to the specified AccountRecoverySetting. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/how-to-recover-a-user-account.html\">Recovering User Accounts</a> in the <i>Amazon Cognito Developer Guide</i>. If neither a verified phone number nor a verified email exists, an <code>InvalidParameterException</code> is thrown. To use the confirmation code for resetting the password, call <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ConfirmForgotPassword.html\">ConfirmForgotPassword</a>. </p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgotPasswordRequest"
      },
      "name": "ForgotPassword",
      "output": {
        "shape": "ForgotPasswordResponse"
      }
    },
    "GetCSVHeader": {
      "documentation": "<p>Gets the header information for the comma-separated value (CSV) file to be used as input for the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCSVHeaderRequest"
      },
      "name": "GetCSVHeader",
      "output": {
        "shape": "GetCSVHeaderResponse"
      }
    },
    "GetDevice": {
      "documentation": "<p>Gets the device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceRequest"
      },
      "name": "GetDevice",
      "output": {
        "shape": "GetDeviceResponse"
      }
    },
    "GetGroup": {
      "documentation": "<p>Gets a group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResponse"
      }
    },
    "GetIdentityProviderByIdentifier": {
      "documentation": "<p>Gets the specified IdP.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetIdentityProviderByIdentifierRequest"
      },
      "name": "GetIdentityProviderByIdentifier",
      "output": {
        "shape": "GetIdentityProviderByIdentifierResponse"
      }
    },
    "GetSigningCertificate": {
      "documentation": "<p>This method takes a user pool ID, and returns the signing certificate. The issued certificate is valid for 10 years from the date of issue.</p> <p>Amazon Cognito issues and assigns a new signing certificate annually. This process returns a new value in the response to <code>GetSigningCertificate</code>, but doesn't invalidate the original certificate.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSigningCertificateRequest"
      },
      "name": "GetSigningCertificate",
      "output": {
        "shape": "GetSigningCertificateResponse"
      }
    },
    "GetUICustomization": {
      "documentation": "<p>Gets the user interface (UI) Customization information for a particular app client's app UI, if any such information exists for the client. If nothing is set for the particular client, but there is an existing pool level customization (the app <code>clientId</code> is <code>ALL</code>), then that information is returned. If nothing is present, then an empty shape is returned.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUICustomizationRequest"
      },
      "name": "GetUICustomization",
      "output": {
        "shape": "GetUICustomizationResponse"
      }
    },
    "GetUser": {
      "authtype": "none",
      "documentation": "<p>Gets the user attributes and metadata for a user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserRequest"
      },
      "name": "GetUser",
      "output": {
        "shape": "GetUserResponse"
      }
    },
    "GetUserAttributeVerificationCode": {
      "authtype": "none",
      "documentation": "<p>Generates a user attribute verification code for the specified attribute name. Sends a message to a user with a code that they must return in a VerifyUserAttribute request.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserAttributeVerificationCodeRequest"
      },
      "name": "GetUserAttributeVerificationCode",
      "output": {
        "shape": "GetUserAttributeVerificationCodeResponse"
      }
    },
    "GetUserPoolMfaConfig": {
      "documentation": "<p>Gets the user pool multi-factor authentication (MFA) configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserPoolMfaConfigRequest"
      },
      "name": "GetUserPoolMfaConfig",
      "output": {
        "shape": "GetUserPoolMfaConfigResponse"
      }
    },
    "GlobalSignOut": {
      "documentation": "<p>Signs out users from all devices. It also invalidates all refresh tokens that Amazon Cognito has issued to a user. A user can still use a hosted UI cookie to retrieve new tokens for the duration of the 1-hour cookie validity period.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GlobalSignOutRequest"
      },
      "name": "GlobalSignOut",
      "output": {
        "shape": "GlobalSignOutResponse"
      }
    },
    "InitiateAuth": {
      "authtype": "none",
      "documentation": "<p>Initiates sign-in for a user in the Amazon Cognito user directory. You can't sign in a user with a federated IdP with <code>InitiateAuth</code>. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-identity-federation.html\"> Adding user pool sign-in through a third party</a>.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InitiateAuthRequest"
      },
      "name": "InitiateAuth",
      "output": {
        "shape": "InitiateAuthResponse"
      }
    },
    "ListDevices": {
      "documentation": "<p>Lists the sign-in devices that Amazon Cognito has registered to the current user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDevicesRequest"
      },
      "name": "ListDevices",
      "output": {
        "shape": "ListDevicesResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Lists the groups associated with a user pool.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListIdentityProviders": {
      "documentation": "<p>Lists information about all IdPs for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIdentityProvidersRequest"
      },
      "name": "ListIdentityProviders",
      "output": {
        "shape": "ListIdentityProvidersResponse"
      }
    },
    "ListResourceServers": {
      "documentation": "<p>Lists the resource servers for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceServersRequest"
      },
      "name": "ListResourceServers",
      "output": {
        "shape": "ListResourceServersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that are assigned to an Amazon Cognito user pool.</p> <p>A tag is a label that you can apply to user pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>You can use this action up to 10 times per second, per account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUserImportJobs": {
      "documentation": "<p>Lists the user import jobs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserImportJobsRequest"
      },
      "name": "ListUserImportJobs",
      "output": {
        "shape": "ListUserImportJobsResponse"
      }
    },
    "ListUserPoolClients": {
      "documentation": "<p>Lists the clients that have been created for the specified user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserPoolClientsRequest"
      },
      "name": "ListUserPoolClients",
      "output": {
        "shape": "ListUserPoolClientsResponse"
      }
    },
    "ListUserPools": {
      "documentation": "<p>Lists the user pools associated with an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserPoolsRequest"
      },
      "name": "ListUserPools",
      "output": {
        "shape": "ListUserPoolsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Lists the users in the Amazon Cognito user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "ListUsersInGroup": {
      "documentation": "<p>Lists the users in the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersInGroupRequest"
      },
      "name": "ListUsersInGroup",
      "output": {
        "shape": "ListUsersInGroupResponse"
      }
    },
    "ResendConfirmationCode": {
      "authtype": "none",
      "documentation": "<p>Resends the confirmation (for confirmation of registration) to a specific user in the user pool.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResendConfirmationCodeRequest"
      },
      "name": "ResendConfirmationCode",
      "output": {
        "shape": "ResendConfirmationCodeResponse"
      }
    },
    "RespondToAuthChallenge": {
      "authtype": "none",
      "documentation": "<p>Responds to the authentication challenge.</p> <note> <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers require you to register an origination phone number before you can send SMS messages to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>. Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must receive SMS messages might not be able to sign up, activate their accounts, or sign in.</p> <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service, Amazon Simple Notification Service might place your account in the SMS sandbox. In <i> <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox mode</a> </i>, you can send messages only to verified phone numbers. After you test your app while in the sandbox environment, you can move out of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito Developer Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
[...]
