{
  "documentation": "<p/>",
  "metadata": {
    "apiVersion": "2020-08-07",
    "endpointPrefix": "models-v2-lex",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Lex Models V2",
    "serviceFullName": "Amazon Lex Model Building V2",
    "serviceId": "Lex Models V2",
    "signatureVersion": "v4",
    "signingName": "lex",
    "uid": "models.lex.v2-2020-08-07"
  },
  "operations": {
    "BuildBotLocale": {
      "documentation": "<p>Builds a bot, its intents, and its slot types into a specific locale. A bot can be built into multiple locales. At runtime the locale is used to choose a specific build of the bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "BuildBotLocaleRequest"
      },
      "name": "BuildBotLocale",
      "output": {
        "shape": "BuildBotLocaleResponse"
      }
    },
    "CreateBot": {
      "documentation": "<p>Creates an Amazon Lex conversational bot. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateBotRequest"
      },
      "name": "CreateBot",
      "output": {
        "shape": "CreateBotResponse"
      }
    },
    "CreateBotAlias": {
      "documentation": "<p>Creates an alias for the specified version of a bot. Use an alias to enable you to change the version of a bot without updating applications that use the bot.</p> <p>For example, you can create an alias called \"PROD\" that your applications use to call the Amazon Lex bot. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateBotAliasRequest"
      },
      "name": "CreateBotAlias",
      "output": {
        "shape": "CreateBotAliasResponse"
      }
    },
    "CreateBotLocale": {
      "documentation": "<p>Creates a locale in the bot. The locale contains the intents and slot types that the bot uses in conversations with users in the specified language and locale. You must add a locale to a bot before you can add intents and slot types to the bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateBotLocaleRequest"
      },
      "name": "CreateBotLocale",
      "output": {
        "shape": "CreateBotLocaleResponse"
      }
    },
    "CreateBotVersion": {
      "documentation": "<p>Creates a new version of the bot based on the <code>DRAFT</code> version. If the <code>DRAFT</code> version of this resource hasn't changed since you created the last version, Amazon Lex doesn't create a new version, it returns the last created version.</p> <p>When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent versions increment by 1.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateBotVersionRequest"
      },
      "name": "CreateBotVersion",
      "output": {
        "shape": "CreateBotVersionResponse"
      }
    },
    "CreateExport": {
      "documentation": "<p>Creates a zip archive containing the contents of a bot or a bot locale. The archive contains a directory structure that contains JSON files that define the bot.</p> <p>You can create an archive that contains the complete definition of a bot, or you can specify that the archive contain only the definition of a single bot locale.</p> <p>For more information about exporting bots, and about the structure of the export archive, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/importing-exporting.html\"> Importing and exporting bots </a> </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/exports/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateExportRequest"
      },
      "name": "CreateExport",
      "output": {
        "shape": "CreateExportResponse"
      }
    },
    "CreateIntent": {
      "documentation": "<p>Creates an intent.</p> <p>To define the interaction between the user and your bot, you define one or more intents. For example, for a pizza ordering bot you would create an <code>OrderPizza</code> intent.</p> <p>When you create an intent, you must provide a name. You can optionally provide the following:</p> <ul> <li> <p>Sample utterances. For example, \"I want to order a pizza\" and \"Can I order a pizza.\" You can't provide utterances for built-in intents.</p> </li> <li> <p>Information to be gathered. You specify slots for the information that you bot requests from the user. You can specify standard slot types, such as date and time, or custom slot types for your application.</p> </li> <li> <p>How the intent is fulfilled. You can provide a Lambda function or configure the intent to return the intent information to your client application. If you use a Lambda function, Amazon Lex invokes the function when all of the intent information is available.</p> </li> <li> <p>A confirmation prompt to send to the user to confirm an intent. For example, \"Shall I order your pizza?\"</p> </li> <li> <p>A conclusion statement to send to the user after the intent is fulfilled. For example, \"I ordered your pizza.\"</p> </li> <li> <p>A follow-up prompt that asks the user for additional activity. For example, \"Do you want a drink with your pizza?\"</p> </li> </ul>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIntentRequest"
      },
      "name": "CreateIntent",
      "output": {
        "shape": "CreateIntentResponse"
      }
    },
    "CreateResourcePolicy": {
      "documentation": "<p>Creates a new resource policy with the specified policy statements.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourcePolicyRequest"
      },
      "name": "CreateResourcePolicy",
      "output": {
        "shape": "CreateResourcePolicyResponse"
      }
    },
    "CreateResourcePolicyStatement": {
      "documentation": "<p>Adds a new resource policy statement to a bot or bot alias. If a resource policy exists, the statement is added to the current resource policy. If a policy doesn't exist, a new policy is created.</p> <p>You can't create a resource policy statement that allows cross-account access.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policy/{resourceArn}/statements/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourcePolicyStatementRequest"
      },
      "name": "CreateResourcePolicyStatement",
      "output": {
        "shape": "CreateResourcePolicyStatementResponse"
      }
    },
    "CreateSlot": {
      "documentation": "<p>Creates a slot in an intent. A slot is a variable needed to fulfill an intent. For example, an <code>OrderPizza</code> intent might need slots for size, crust, and number of pizzas. For each slot, you define one or more utterances that Amazon Lex uses to elicit a response from the user. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSlotRequest"
      },
      "name": "CreateSlot",
      "output": {
        "shape": "CreateSlotResponse"
      }
    },
    "CreateSlotType": {
      "documentation": "<p>Creates a custom slot type</p> <p> To create a custom slot type, specify a name for the slot type and a set of enumeration values, the values that a slot of this type can assume. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSlotTypeRequest"
      },
      "name": "CreateSlotType",
      "output": {
        "shape": "CreateSlotTypeResponse"
      }
    },
    "CreateUploadUrl": {
      "documentation": "<p>Gets a pre-signed S3 write URL that you use to upload the zip archive when importing a bot or a bot locale. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createuploadurl/",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateUploadUrlRequest"
      },
      "name": "CreateUploadUrl",
      "output": {
        "shape": "CreateUploadUrlResponse"
      }
    },
    "DeleteBot": {
      "documentation": "<p>Deletes all versions of a bot, including the <code>Draft</code> version. To delete a specific version, use the <code>DeleteBotVersion</code> operation.</p> <p>When you delete a bot, all of the resources contained in the bot are also deleted. Deleting a bot removes all locales, intents, slot, and slot types defined for the bot.</p> <p>If a bot has an alias, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception. If you want to delete the bot and the alias, set the <code>skipResourceInUseCheck</code> parameter to <code>true</code>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBotRequest"
      },
      "name": "DeleteBot",
      "output": {
        "shape": "DeleteBotResponse"
      }
    },
    "DeleteBotAlias": {
      "documentation": "<p>Deletes the specified bot alias.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBotAliasRequest"
      },
      "name": "DeleteBotAlias",
      "output": {
        "shape": "DeleteBotAliasResponse"
      }
    },
    "DeleteBotLocale": {
      "documentation": "<p>Removes a locale from a bot.</p> <p>When you delete a locale, all intents, slots, and slot types defined for the locale are also deleted.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBotLocaleRequest"
      },
      "name": "DeleteBotLocale",
      "output": {
        "shape": "DeleteBotLocaleResponse"
      }
    },
    "DeleteBotVersion": {
      "documentation": "<p>Deletes a specific version of a bot. To delete all version of a bot, use the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DeleteBot.html\">DeleteBot</a> operation.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBotVersionRequest"
      },
      "name": "DeleteBotVersion",
      "output": {
        "shape": "DeleteBotVersionResponse"
      }
    },
    "DeleteCustomVocabulary": {
      "documentation": "<p>Removes a custom vocabulary from the specified locale in the specified bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteCustomVocabularyRequest"
      },
      "name": "DeleteCustomVocabulary",
      "output": {
        "shape": "DeleteCustomVocabularyResponse"
      }
    },
    "DeleteExport": {
      "documentation": "<p>Removes a previous export and the associated files stored in an S3 bucket.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/exports/{exportId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteExportRequest"
      },
      "name": "DeleteExport",
      "output": {
        "shape": "DeleteExportResponse"
      }
    },
    "DeleteImport": {
      "documentation": "<p>Removes a previous import and the associated file stored in an S3 bucket.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/imports/{importId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteImportRequest"
      },
      "name": "DeleteImport",
      "output": {
        "shape": "DeleteImportResponse"
      }
    },
    "DeleteIntent": {
      "documentation": "<p>Removes the specified intent.</p> <p>Deleting an intent also deletes the slots associated with the intent.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntentRequest"
      },
      "name": "DeleteIntent"
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Removes an existing policy from a bot or bot alias. If the resource doesn't have a policy attached, Amazon Lex returns an exception.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteResourcePolicyStatement": {
      "documentation": "<p>Deletes a policy statement from a resource policy. If you delete the last statement from a policy, the policy is deleted. If you specify a statement ID that doesn't exist in the policy, or if the bot or bot alias doesn't have a policy attached, Amazon Lex returns an exception.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policy/{resourceArn}/statements/{statementId}/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteResourcePolicyStatementRequest"
      },
      "name": "DeleteResourcePolicyStatement",
      "output": {
        "shape": "DeleteResourcePolicyStatementResponse"
      }
    },
    "DeleteSlot": {
      "documentation": "<p>Deletes the specified slot from an intent.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSlotRequest"
      },
      "name": "DeleteSlot"
    },
    "DeleteSlotType": {
      "documentation": "<p>Deletes a slot type from a bot locale.</p> <p>If a slot is using the slot type, Amazon Lex throws a <code>ResourceInUseException</code> exception. To avoid the exception, set the <code>skipResourceInUseCheck</code> parameter to <code>true</code>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSlotTypeRequest"
      },
      "name": "DeleteSlotType"
    },
    "DeleteUtterances": {
      "documentation": "<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15 days for use with the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListAggregatedUtterances.html\">ListAggregatedUtterances</a> operation, and then stored indefinitely for use in improving the ability of your bot to respond to user input..</p> <p>Use the <code>DeleteUtterances</code> operation to manually delete utterances for a specific session. When you use the <code>DeleteUtterances</code> operation, utterances stored for improving your bot's ability to respond to user input are deleted immediately. Utterances stored for use with the <code>ListAggregatedUtterances</code> operation are deleted after 15 days.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botId}/utterances/",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteUtterancesRequest"
      },
      "name": "DeleteUtterances",
      "output": {
        "shape": "DeleteUtterancesResponse"
      }
    },
    "DescribeBot": {
      "documentation": "<p>Provides metadata information about a bot. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBotRequest"
      },
      "name": "DescribeBot",
      "output": {
        "shape": "DescribeBotResponse"
      }
    },
    "DescribeBotAlias": {
      "documentation": "<p>Get information about a specific bot alias.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBotAliasRequest"
      },
      "name": "DescribeBotAlias",
      "output": {
        "shape": "DescribeBotAliasResponse"
      }
    },
    "DescribeBotLocale": {
      "documentation": "<p>Describes the settings that a bot has for a specific locale. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBotLocaleRequest"
      },
      "name": "DescribeBotLocale",
      "output": {
        "shape": "DescribeBotLocaleResponse"
      }
    },
    "DescribeBotRecommendation": {
      "documentation": "<p>Provides metadata information about a bot recommendation. This information will enable you to get a description on the request inputs, to download associated transcripts after processing is complete, and to download intents and slot-types generated by the bot recommendation.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBotRecommendationRequest"
      },
      "name": "DescribeBotRecommendation",
      "output": {
        "shape": "DescribeBotRecommendationResponse"
      }
    },
    "DescribeBotVersion": {
      "documentation": "<p>Provides metadata about a version of a bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBotVersionRequest"
      },
      "name": "DescribeBotVersion",
      "output": {
        "shape": "DescribeBotVersionResponse"
      }
    },
    "DescribeCustomVocabularyMetadata": {
      "documentation": "<p>Provides metadata information about a custom vocabulary.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeCustomVocabularyMetadataRequest"
      },
      "name": "DescribeCustomVocabularyMetadata",
      "output": {
        "shape": "DescribeCustomVocabularyMetadataResponse"
      }
    },
    "DescribeExport": {
      "documentation": "<p>Gets information about a specific export.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/exports/{exportId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeExportRequest"
      },
      "name": "DescribeExport",
      "output": {
        "shape": "DescribeExportResponse"
      }
    },
    "DescribeImport": {
      "documentation": "<p>Gets information about a specific import.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/imports/{importId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeImportRequest"
      },
      "name": "DescribeImport",
      "output": {
        "shape": "DescribeImportResponse"
      }
    },
    "DescribeIntent": {
      "documentation": "<p>Returns metadata about an intent.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeIntentRequest"
      },
      "name": "DescribeIntent",
      "output": {
        "shape": "DescribeIntentResponse"
      }
    },
    "DescribeResourcePolicy": {
      "documentation": "<p>Gets the resource policy and policy revision for a bot or bot alias.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeResourcePolicyRequest"
      },
      "name": "DescribeResourcePolicy",
      "output": {
        "shape": "DescribeResourcePolicyResponse"
      }
    },
    "DescribeSlot": {
      "documentation": "<p>Gets metadata information about a slot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSlotRequest"
      },
      "name": "DescribeSlot",
      "output": {
        "shape": "DescribeSlotResponse"
      }
    },
    "DescribeSlotType": {
      "documentation": "<p>Gets metadata information about a slot type.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSlotTypeRequest"
      },
      "name": "DescribeSlotType",
      "output": {
        "shape": "DescribeSlotTypeResponse"
      }
    },
    "ListAggregatedUtterances": {
      "documentation": "<p>Provides a list of utterances that users have sent to the bot.</p> <p>Utterances are aggregated by the text of the utterance. For example, all instances where customers used the phrase \"I want to order pizza\" are aggregated into the same line in the response.</p> <p>You can see both detected utterances and missed utterances. A detected utterance is where the bot properly recognized the utterance and activated the associated intent. A missed utterance was not recognized by the bot and didn't activate an intent.</p> <p>Utterances can be aggregated for a bot alias or for a bot version, but not both at the same time.</p> <p>Utterances statistics are not generated under the following conditions:</p> <ul> <li> <p>The <code>childDirected</code> field was set to true when the bot was created.</p> </li> <li> <p>You are using slot obfuscation with one or more slots.</p> </li> <li> <p>You opted out of participating in improving Amazon Lex.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/aggregatedutterances/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAggregatedUtterancesRequest"
      },
      "name": "ListAggregatedUtterances",
      "output": {
        "shape": "ListAggregatedUtterancesResponse"
      }
    },
    "ListBotAliases": {
      "documentation": "<p>Gets a list of aliases for the specified bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botaliases/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotAliasesRequest"
      },
      "name": "ListBotAliases",
      "output": {
        "shape": "ListBotAliasesResponse"
      }
    },
    "ListBotLocales": {
      "documentation": "<p>Gets a list of locales for the specified bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotLocalesRequest"
      },
      "name": "ListBotLocales",
      "output": {
        "shape": "ListBotLocalesResponse"
      }
    },
    "ListBotRecommendations": {
      "documentation": "<p>Get a list of bot recommendations that meet the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotRecommendationsRequest"
      },
      "name": "ListBotRecommendations",
      "output": {
        "shape": "ListBotRecommendationsResponse"
      }
    },
    "ListBotVersions": {
      "documentation": "<p>Gets information about all of the versions of a bot.</p> <p>The <code>ListBotVersions</code> operation returns a summary of each version of a bot. For example, if a bot has three numbered versions, the <code>ListBotVersions</code> operation returns for summaries, one for each numbered version and one for the <code>DRAFT</code> version.</p> <p>The <code>ListBotVersions</code> operation always returns at least one version, the <code>DRAFT</code> version.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotVersionsRequest"
      },
      "name": "ListBotVersions",
      "output": {
        "shape": "ListBotVersionsResponse"
      }
    },
    "ListBots": {
      "documentation": "<p>Gets a list of available bots.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotsRequest"
      },
      "name": "ListBots",
      "output": {
        "shape": "ListBotsResponse"
      }
    },
    "ListBuiltInIntents": {
      "documentation": "<p>Gets a list of built-in intents provided by Amazon Lex that you can use in your bot. </p> <p>To use a built-in intent as a the base for your own intent, include the built-in intent signature in the <code>parentIntentSignature</code> parameter when you call the <code>CreateIntent</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_CreateIntent.html\">CreateIntent</a>.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/builtins/locales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBuiltInIntentsRequest"
      },
      "name": "ListBuiltInIntents",
      "output": {
        "shape": "ListBuiltInIntentsResponse"
      }
    },
    "ListBuiltInSlotTypes": {
      "documentation": "<p>Gets a list of built-in slot types that meet the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/builtins/locales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBuiltInSlotTypesRequest"
      },
      "name": "ListBuiltInSlotTypes",
      "output": {
        "shape": "ListBuiltInSlotTypesResponse"
      }
    },
    "ListExports": {
      "documentation": "<p>Lists the exports for a bot, bot locale, or custom vocabulary. Exports are kept in the list for 7 days.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/exports/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListExportsRequest"
      },
      "name": "ListExports",
      "output": {
        "shape": "ListExportsResponse"
      }
    },
    "ListImports": {
      "documentation": "<p>Lists the imports for a bot, bot locale, or custom vocabulary. Imports are kept in the list for 7 days.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/imports/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListImportsRequest"
      },
      "name": "ListImports",
      "output": {
        "shape": "ListImportsResponse"
      }
    },
    "ListIntents": {
      "documentation": "<p>Get a list of intents that meet the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIntentsRequest"
      },
      "name": "ListIntents",
      "output": {
        "shape": "ListIntentsResponse"
      }
    },
    "ListRecommendedIntents": {
      "documentation": "<p>Gets a list of recommended intents provided by the bot recommendation that you can use in your bot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/intents",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRecommendedIntentsRequest"
      },
      "name": "ListRecommendedIntents",
      "output": {
        "shape": "ListRecommendedIntentsResponse"
      }
    },
    "ListSlotTypes": {
      "documentation": "<p>Gets a list of slot types that match the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSlotTypesRequest"
      },
      "name": "ListSlotTypes",
      "output": {
        "shape": "ListSlotTypesResponse"
      }
    },
    "ListSlots": {
      "documentation": "<p>Gets a list of slots that match the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSlotsRequest"
      },
      "name": "ListSlots",
      "output": {
        "shape": "ListSlotsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Gets a list of tags associated with a resource. Only bots, bot aliases, and bot channels can have tags associated with them.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "SearchAssociatedTranscripts": {
      "documentation": "<p>Search for associated transcripts that meet the specified criteria.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/associatedtranscripts",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchAssociatedTranscriptsRequest"
      },
      "name": "SearchAssociatedTranscripts",
      "output": {
        "shape": "SearchAssociatedTranscriptsResponse"
      }
    },
    "StartBotRecommendation": {
      "documentation": "<p>Use this to provide your transcript data, and to start the bot recommendation process.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode": 202
      },
      "input": {
        "shape": "StartBotRecommendationRequest"
      },
      "name": "StartBotRecommendation",
      "output": {
        "shape": "StartBotRecommendationResponse"
      }
    },
    "StartImport": {
      "documentation": "<p>Starts importing a bot, bot locale, or custom vocabulary from a zip archive that you uploaded to an S3 bucket.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/imports/",
        "responseCode": 202
      },
      "input": {
        "shape": "StartImportRequest"
      },
      "name": "StartImport",
      "output": {
        "shape": "StartImportResponse"
      }
    },
    "StopBotRecommendation": {
      "documentation": "<p>Stop an already running Bot Recommendation request.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/stopbotrecommendation",
        "responseCode": 202
      },
      "input": {
        "shape": "StopBotRecommendationRequest"
      },
      "name": "StopBotRecommendation",
      "output": {
        "shape": "StopBotRecommendationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified resource. If a tag key already exists, the existing value is replaced with the new value.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a bot, bot alias, or bot channel.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateBot": {
      "documentation": "<p>Updates the configuration of an existing bot. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBotRequest"
      },
      "name": "UpdateBot",
      "output": {
        "shape": "UpdateBotResponse"
      }
    },
    "UpdateBotAlias": {
      "documentation": "<p>Updates the configuration of an existing bot alias.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBotAliasRequest"
      },
      "name": "UpdateBotAlias",
      "output": {
        "shape": "UpdateBotAliasResponse"
      }
    },
    "UpdateBotLocale": {
      "documentation": "<p>Updates the settings that a bot has for a specific locale.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBotLocaleRequest"
      },
      "name": "UpdateBotLocale",
      "output": {
        "shape": "UpdateBotLocaleResponse"
      }
    },
    "UpdateBotRecommendation": {
      "documentation": "<p>Updates an existing bot recommendation request.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateBotRecommendationRequest"
      },
      "name": "UpdateBotRecommendation",
      "output": {
        "shape": "UpdateBotRecommendationResponse"
      }
    },
    "UpdateExport": {
      "documentation": "<p>Updates the password used to protect an export zip archive.</p> <p>The password is not required. If you don't supply a password, Amazon Lex generates a zip file that is not protected by a password. This is the archive that is available at the pre-signed S3 URL provided by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DescribeExport.html\">DescribeExport</a> operation.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/exports/{exportId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateExportRequest"
      },
      "name": "UpdateExport",
      "output": {
        "shape": "UpdateExportResponse"
      }
    },
    "UpdateIntent": {
      "documentation": "<p>Updates the settings for an intent.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIntentRequest"
      },
      "name": "UpdateIntent",
      "output": {
        "shape": "UpdateIntentResponse"
      }
    },
    "UpdateResourcePolicy": {
      "documentation": "<p>Replaces the existing resource policy for a bot or bot alias with a new one. If the policy doesn't exist, Amazon Lex returns an exception.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/policy/{resourceArn}/",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateResourcePolicyRequest"
      },
      "name": "UpdateResourcePolicy",
      "output": {
        "shape": "UpdateResourcePolicyResponse"
      }
    },
    "UpdateSlot": {
      "documentation": "<p>Updates the settings for a slot.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSlotRequest"
      },
      "name": "UpdateSlot",
      "output": {
        "shape": "UpdateSlotResponse"
      }
    },
    "UpdateSlotType": {
      "documentation": "<p>Updates the configuration of an existing slot type.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateSlotTypeRequest"
      },
      "name": "UpdateSlotType",
      "output": {
        "shape": "UpdateSlotTypeResponse"
      }
    }
  },
  "shapes": {
    "AdvancedRecognitionSetting": {
      "documentation": "<p>Provides settings that enable advanced recognition settings for slot values.</p>",
      "members": {
        "audioRecognitionStrategy": {
          "documentation": "<p>Enables using the slot values as a custom vocabulary for recognizing user utterances.</p>",
          "shape": "AudioRecognitionStrategy"
        }
      },
      "type": "structure"
    },
    "AggregatedUtterancesFilter": {
      "documentation": "<p>Filters responses returned by the <code>ListAggregatedUtterances</code> operation.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the field to filter the utterance list.</p>",
          "shape": "AggregatedUtterancesFilterName"
        },
        "operator": {
          "documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the <code>ListAggregatedUtterances</code> operation should return only utterances that equal the specified value. Specify <code>CO</code> when the <code>ListAggregatedUtterances</code> operation should return utterances that contain the specified value.</p>",
          "shape": "AggregatedUtterancesFilterOperator"
        },
        "values": {
          "documentation": "<p>The value to use for filtering the list of bots.</p>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "name",
        "values",
        "operator"
      ],
      "type": "structure"
    },
    "AggregatedUtterancesFilterName": {
      "enum": [
        "Utterance"
      ],
      "type": "string"
    },
    "AggregatedUtterancesFilterOperator": {
      "enum": [
        "CO",
        "EQ"
      ],
      "type": "string"
    },
    "AggregatedUtterancesFilters": {
      "max": 1,
      "member": {
        "shape": "AggregatedUtterancesFilter"
      },
      "min": 1,
      "type": "list"
    },
    "AggregatedUtterancesSortAttribute": {
      "enum": [
        "HitCount",
        "MissedCount"
      ],
      "type": "string"
    },
    "AggregatedUtterancesSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of utterances.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The utterance attribute to sort by.</p>",
          "shape": "AggregatedUtterancesSortAttribute"
        },
        "order": {
          "documentation": "<p>Specifies whether to sort the aggregated utterances in ascending or descending order.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "attribute",
        "order"
      ],
      "type": "structure"
    },
    "AggregatedUtterancesSummary": {
      "documentation": "<p>Provides summary information for aggregated utterances. The <code>ListAggregatedUtterances</code> operations combines all instances of the same utterance into a single aggregated summary.</p>",
      "members": {
        "containsDataFromDeletedResources": {
          "documentation": "<p>Aggregated utterance data may contain utterances from versions of your bot that have since been deleted. When the aggregated contains this kind of data, this field is set to true.</p>",
          "shape": "BoxedBoolean"
        },
        "hitCount": {
          "documentation": "<p>The number of times that the utterance was detected by Amazon Lex during the time period. When an utterance is detected, it activates an intent or a slot.</p>",
          "shape": "HitCount"
        },
        "missedCount": {
          "documentation": "<p>The number of times that the utterance was missed by Amazon Lex An utterance is missed when it doesn't activate an intent or slot.</p>",
          "shape": "MissedCount"
        },
        "utterance": {
          "documentation": "<p>The text of the utterance. If the utterance was used with the <code>RecognizeUtterance</code> operation, the text is the transcription of the audio utterance.</p>",
          "shape": "Utterance"
        },
        "utteranceFirstRecordedInAggregationDuration": {
          "documentation": "<p>The date and time that the utterance was first recorded in the time window for aggregation. An utterance may have been sent to Amazon Lex before that time, but only utterances within the time window are counted.</p>",
          "shape": "Timestamp"
        },
        "utteranceLastRecordedInAggregationDuration": {
          "documentation": "<p>The last date and time that an utterance was recorded in the time window for aggregation. An utterance may be sent to Amazon Lex after that time, but only utterances within the time window are counted.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AggregatedUtterancesSummaryList": {
      "member": {
        "shape": "AggregatedUtterancesSummary"
      },
      "type": "list"
    },
    "AllowedInputTypes": {
      "documentation": "<p>Specifies the allowed input types.</p>",
      "members": {
        "allowAudioInput": {
          "documentation": "<p>Indicates whether audio input is allowed.</p>",
          "shape": "BoxedBoolean"
        },
        "allowDTMFInput": {
          "documentation": "<p>Indicates whether DTMF input is allowed.</p>",
          "shape": "BoxedBoolean"
        }
      },
      "required": [
        "allowAudioInput",
        "allowDTMFInput"
      ],
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociatedTranscript": {
      "documentation": "<p>The object containing information that associates the recommended intent/slot type with a conversation.</p>",
      "members": {
        "transcript": {
          "documentation": "<p>The content of the transcript that meets the search filter criteria. For the JSON format of the transcript, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/designing-output-format.html\">Output transcript format</a>.</p>",
          "shape": "Transcript"
        }
      },
      "type": "structure"
    },
    "AssociatedTranscriptFilter": {
      "documentation": "<p>Filters to search for the associated transcript.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the field to use for filtering. The allowed names are IntentId and SlotTypeId.</p>",
          "shape": "AssociatedTranscriptFilterName"
        },
        "values": {
          "documentation": "<p>The values to use to filter the transcript.</p>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "name",
        "values"
      ],
      "type": "structure"
    },
    "AssociatedTranscriptFilterName": {
      "enum": [
        "IntentId",
        "SlotTypeId"
      ],
      "type": "string"
    },
    "AssociatedTranscriptFilters": {
      "max": 1,
      "member": {
        "shape": "AssociatedTranscriptFilter"
      },
      "min": 1,
      "type": "list"
    },
    "AssociatedTranscriptList": {
      "member": {
        "shape": "AssociatedTranscript"
      },
      "type": "list"
    },
    "AttachmentTitle": {
      "max": 250,
      "min": 1,
      "type": "string"
    },
    "AttachmentUrl": {
      "max": 250,
      "min": 1,
      "type": "string"
    },
    "AudioAndDTMFInputSpecification": {
      "documentation": "<p>Specifies the audio and DTMF input specification.</p>",
      "members": {
        "audioSpecification": {
          "documentation": "<p>Specifies the settings on audio input.</p>",
          "shape": "AudioSpecification"
        },
        "dtmfSpecification": {
          "documentation": "<p>Specifies the settings on DTMF input.</p>",
          "shape": "DTMFSpecification"
        },
        "startTimeoutMs": {
          "documentation": "<p>Time for which a bot waits before assuming that the customer isn't going to speak or press a key. This timeout is shared between Audio and DTMF inputs.</p>",
          "shape": "TimeInMilliSeconds"
        }
      },
      "required": [
        "startTimeoutMs"
      ],
      "type": "structure"
    },
    "AudioLogDestination": {
      "documentation": "<p>The location of audio log files collected when conversation logging is enabled for a bot.</p>",
      "members": {
        "s3Bucket": {
          "documentation": "<p>The Amazon S3 bucket where the audio log files are stored. The IAM role specified in the <code>roleArn</code> parameter of the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_CreateBot.html\">CreateBot</a> operation must have permission to write to this bucket.</p>",
          "shape": "S3BucketLogDestination"
        }
      },
      "required": [
        "s3Bucket"
      ],
      "type": "structure"
    },
    "AudioLogSetting": {
      "documentation": "<p>Settings for logging audio of conversations between Amazon Lex and a user. You specify whether to log audio and the Amazon S3 bucket where the audio file is stored.</p>",
      "members": {
        "destination": {
          "shape": "AudioLogDestination"
        },
        "enabled": {
          "documentation": "<p>Determines whether audio logging in enabled for the bot.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "enabled",
        "destination"
      ],
      "type": "structure"
    },
    "AudioLogSettingsList": {
      "max": 1,
      "member": {
        "shape": "AudioLogSetting"
      },
      "min": 1,
      "type": "list"
    },
    "AudioRecognitionStrategy": {
      "enum": [
        "UseSlotValuesAsCustomVocabulary"
      ],
      "type": "string"
    },
    "AudioSpecification": {
      "documentation": "<p>Specifies the audio input specifications.</p>",
      "members": {
        "endTimeoutMs": {
          "documentation": "<p>Time for which a bot waits after the customer stops speaking to assume the utterance is finished.</p>",
          "shape": "TimeInMilliSeconds"
        },
        "maxLengthMs": {
          "documentation": "<p>Time for how long Amazon Lex waits before speech input is truncated and the speech is returned to application.</p>",
          "shape": "TimeInMilliSeconds"
        }
      },
      "required": [
        "maxLengthMs",
        "endTimeoutMs"
      ],
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BotAliasHistoryEvent": {
      "documentation": "<p>Provides a record of an event that affects a bot alias. For example, when the version of a bot that the alias points to changes.</p>",
      "members": {
        "botVersion": {
          "documentation": "<p>The version of the bot that was used in the event. </p>",
          "shape": "BotVersion"
        },
        "endDate": {
          "documentation": "<p>The date and time that the event ended.</p>",
          "shape": "Timestamp"
        },
        "startDate": {
          "documentation": "<p>The date and time that the event started.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "BotAliasHistoryEventsList": {
      "member": {
        "shape": "BotAliasHistoryEvent"
      },
      "type": "list"
    },
    "BotAliasId": {
      "max": 10,
      "min": 10,
      "pattern": "^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$",
      "type": "string"
    },
    "BotAliasLocaleSettings": {
      "documentation": "<p>Specifies settings that are unique to a locale. For example, you can use different Lambda function depending on the bot's locale.</p>",
      "members": {
        "codeHookSpecification": {
          "documentation": "<p>Specifies the Lambda function that should be used in the locale.</p>",
          "shape": "CodeHookSpecification"
        },
        "enabled": {
          "documentation": "<p>Determines whether the locale is enabled for the bot. If the value is <code>false</code>, the locale isn't available for use.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "enabled"
      ],
      "type": "structure"
    },
    "BotAliasLocaleSettingsMap": {
      "key": {
        "shape": "LocaleId"
      },
      "min": 1,
      "type": "map",
      "value": {
        "shape": "BotAliasLocaleSettings"
      }
    },
    "BotAliasStatus": {
      "enum": [
        "Creating",
        "Available",
        "Deleting",
        "Failed"
      ],
      "type": "string"
    },
    "BotAliasSummary": {
      "documentation": "<p>Summary information about bot aliases returned from the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotAliases.html\">ListBotAliases</a> operation.</p>",
      "members": {
        "botAliasId": {
          "documentation": "<p>The unique identifier assigned to the bot alias. You can use this ID to get detailed information about the alias using the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DescribeBotAlias.html\">DescribeBotAlias</a> operation.</p>",
          "shape": "BotAliasId"
        },
        "botAliasName": {
          "documentation": "<p>The name of the bot alias.</p>",
          "shape": "Name"
        },
        "botAliasStatus": {
          "documentation": "<p>The current state of the bot alias. If the status is <code>Available</code>, the alias is ready for use.</p>",
          "shape": "BotAliasStatus"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot that the bot alias references.</p>",
          "shape": "BotVersion"
        },
        "creationDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot alias was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the bot alias.</p>",
          "shape": "Description"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot alias was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "BotAliasSummaryList": {
      "member": {
        "shape": "BotAliasSummary"
      },
      "type": "list"
    },
    "BotExportSpecification": {
      "documentation": "<p>Provides the identity of a the bot that was exported.</p>",
      "members": {
        "botId": {
          "documentation": "<p>The identifier of the bot assigned by Amazon Lex.</p>",
          "shape": "Id"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot that was exported. This will be either <code>DRAFT</code> or the version number.</p>",
          "shape": "BotVersion"
        }
      },
      "required": [
        "botId",
        "botVersion"
      ],
      "type": "structure"
    },
    "BotFilter": {
      "documentation": "<p>Filters the responses returned by the <code>ListBots</code> operation.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the field to filter the list of bots.</p>",
          "shape": "BotFilterName"
        },
        "operator": {
          "documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the <code>ListBots</code> operation should return only aliases that equal the specified value. Specify <code>CO</code> when the <code>ListBots</code> operation should return aliases that contain the specified value.</p>",
          "shape": "BotFilterOperator"
        },
        "values": {
          "documentation": "<p>The value to use for filtering the list of bots.</p>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "name",
        "values",
        "operator"
      ],
      "type": "structure"
    },
    "BotFilterName": {
      "enum": [
        "BotName"
      ],
      "type": "string"
    },
    "BotFilterOperator": {
      "enum": [
        "CO",
        "EQ"
      ],
      "type": "string"
    },
    "BotFilters": {
      "max": 1,
      "member": {
        "shape": "BotFilter"
      },
      "min": 1,
      "type": "list"
    },
    "BotImportSpecification": {
      "documentation": "<p>Provides the bot parameters required for importing a bot.</p>",
      "members": {
        "botName": {
          "documentation": "<p>The name that Amazon Lex should use for the bot.</p>",
          "shape": "Name"
        },
        "botTags": {
          "documentation": "<p>A list of tags to add to the bot. You can only add tags when you import a bot. You can't use the <code>UpdateBot</code> operation to update tags. To update tags, use the <code>TagResource</code> operation.</p>",
          "shape": "TagMap"
        },
        "dataPrivacy": {
          "shape": "DataPrivacy"
        },
        "idleSessionTTLInSeconds": {
          "documentation": "<p>The time, in seconds, that Amazon Lex should keep information about a user's conversation with the bot. </p> <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Lex deletes any data provided before the timeout.</p> <p>You can specify between 60 (1 minute) and 86,400 (24 hours) seconds.</p>",
          "shape": "SessionTTL"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to build and run the bot.</p>",
          "shape": "RoleArn"
        },
        "testBotAliasTags": {
          "documentation": "<p>A list of tags to add to the test alias for a bot. You can only add tags when you import a bot. You can't use the <code>UpdateAlias</code> operation to update tags. To update tags on the test alias, use the <code>TagResource</code> operation.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "botName",
        "roleArn",
        "dataPrivacy"
      ],
      "type": "structure"
    },
    "BotLocaleExportSpecification": {
      "documentation": "<p>Provides the bot locale parameters required for exporting a bot locale.</p>",
      "members": {
        "botId": {
          "documentation": "<p>The identifier of the bot to create the locale for.</p>",
          "shape": "Id"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot to export.</p>",
          "shape": "BotVersion"
        },
        "localeId": {
          "documentation": "<p>The identifier of the language and locale to export. The string must match one of the locales in the bot.</p>",
          "shape": "LocaleId"
        }
      },
      "required": [
        "botId",
        "botVersion",
        "localeId"
      ],
      "type": "structure"
    },
    "BotLocaleFilter": {
      "documentation": "<p>Filters responses returned by the <code>ListBotLocales</code> operation.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the field to filter the list of bots.</p>",
          "shape": "BotLocaleFilterName"
        },
        "operator": {
          "documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the <code>ListBotLocales</code> operation should return only aliases that equal the specified value. Specify <code>CO</code> when the <code>ListBotLocales</code> operation should return aliases that contain the specified value.</p>",
          "shape": "BotLocaleFilterOperator"
        },
        "values": {
          "documentation": "<p>The value to use for filtering the list of bots.</p>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "name",
        "values",
        "operator"
      ],
      "type": "structure"
    },
    "BotLocaleFilterName": {
      "enum": [
        "BotLocaleName"
      ],
      "type": "string"
    },
    "BotLocaleFilterOperator": {
      "enum": [
        "CO",
        "EQ"
      ],
      "type": "string"
    },
    "BotLocaleFilters": {
      "max": 1,
      "member": {
        "shape": "BotLocaleFilter"
      },
      "min": 1,
      "type": "list"
    },
    "BotLocaleHistoryEvent": {
      "documentation": "<p>Provides information about an event that occurred affecting the bot locale.</p>",
      "members": {
        "event": {
          "documentation": "<p>A description of the event that occurred.</p>",
          "shape": "BotLocaleHistoryEventDescription"
        },
        "eventDate": {
          "documentation": "<p>A timestamp of the date and time that the event occurred.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "event",
        "eventDate"
      ],
      "type": "structure"
    },
    "BotLocaleHistoryEventDescription": {
      "type": "string"
    },
    "BotLocaleHistoryEventsList": {
      "member": {
        "shape": "BotLocaleHistoryEvent"
      },
      "type": "list"
    },
    "BotLocaleImportSpecification": {
      "documentation": "<p>Provides the bot locale parameters required for importing a bot locale.</p>",
      "members": {
        "botId": {
          "documentation": "<p>The identifier of the bot to import the locale to.</p>",
          "shape": "Id"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot to import the locale to. This can only be the <code>DRAFT</code> version of the bot.</p>",
          "shape": "DraftBotVersion"
        },
        "localeId": {
          "documentation": "<p>The identifier of the language and locale that the bot will be used in. The string must match one of the supported locales. All of the intents, slot types, and slots used in the bot must have the same locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
          "shape": "LocaleId"
        },
        "nluIntentConfidenceThreshold": {
          "documentation": "<p>Determines the threshold where Amazon Lex will insert the <code>AMAZON.FallbackIntent</code>, <code>AMAZON.KendraSearchIntent</code>, or both when returning alternative intents. <code>AMAZON.FallbackIntent</code> and <code>AMAZON.KendraSearchIntent</code> are only inserted if they are configured for the bot. </p> <p>For example, suppose a bot is configured with the confidence threshold of 0.80 and the <code>AMAZON.FallbackIntent</code>. Amazon Lex returns three alternative intents with the following confidence scores: IntentA (0.70), IntentB (0.60), IntentC (0.50). The response from the <code>PostText</code> operation would be:</p> <ul> <li> <p> <code>AMAZON.FallbackIntent</code> </p> </li> <li> <p> <code>IntentA</code> </p> </li> <li> <p> <code>IntentB</code> </p> </li> <li> <p> <code>IntentC</code> </p> </li> </ul>",
          "shape": "ConfidenceThreshold"
        },
        "voiceSettings": {
          "shape": "VoiceSettings"
        }
      },
      "required": [
        "botId",
        "botVersion",
        "localeId"
      ],
      "type": "structure"
    },
    "BotLocaleSortAttribute": {
      "enum": [
        "BotLocaleName"
      ],
      "type": "string"
    },
    "BotLocaleSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of bot locales.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The bot locale attribute to sort by.</p>",
          "shape": "BotLocaleSortAttribute"
        },
        "order": {
          "documentation": "<p>Specifies whether to sort the bot locales in ascending or descending order.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "attribute",
        "order"
      ],
      "type": "structure"
    },
    "BotLocaleStatus": {
      "enum": [
        "Creating",
        "Building",
        "Built",
        "ReadyExpressTesting",
        "Failed",
        "Deleting",
        "NotBuilt",
        "Importing",
        "Processing"
      ],
      "type": "string"
    },
    "BotLocaleSummary": {
      "documentation": "<p>Summary information about bot locales returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotLocales.html\">ListBotLocales</a> operation.</p>",
      "members": {
        "botLocaleStatus": {
          "documentation": "<p>The current status of the bot locale. When the status is <code>Built</code> the locale is ready for use.</p>",
          "shape": "BotLocaleStatus"
        },
        "description": {
          "documentation": "<p>The description of the bot locale.</p>",
          "shape": "Description"
        },
        "lastBuildSubmittedDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot locale was last built.</p>",
          "shape": "Timestamp"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot locale was last updated.</p>",
          "shape": "Timestamp"
        },
        "localeId": {
          "documentation": "<p>The language and locale of the bot locale.</p>",
          "shape": "LocaleId"
        },
        "localeName": {
          "documentation": "<p>The name of the bot locale.</p>",
          "shape": "LocaleName"
        }
      },
      "type": "structure"
    },
    "BotLocaleSummaryList": {
      "member": {
        "shape": "BotLocaleSummary"
      },
      "type": "list"
    },
    "BotRecommendationResultStatistics": {
      "documentation": "<p>A statistical summary of the bot recommendation results.</p>",
      "members": {
        "intents": {
          "documentation": "<p>Statistical information about about the intents associated with the bot recommendation results.</p>",
          "shape": "IntentStatistics"
        },
        "slotTypes": {
          "documentation": "<p>Statistical information about the slot types associated with the bot recommendation results.</p>",
          "shape": "SlotTypeStatistics"
        }
      },
      "type": "structure"
    },
    "BotRecommendationResults": {
      "documentation": "<p>The object representing the URL of the bot definition, the URL of the associated transcript, and a statistical summary of the bot recommendation results.</p>",
      "members": {
        "associatedTranscriptsUrl": {
          "documentation": "<p>The presigned url link of the associated transcript.</p>",
          "shape": "PresignedS3Url"
        },
        "botLocaleExportUrl": {
          "documentation": "<p>The presigned URL link of the recommended bot definition.</p>",
          "shape": "PresignedS3Url"
        },
        "statistics": {
          "documentation": "<p>The statistical summary of the bot recommendation results.</p>",
          "shape": "BotRecommendationResultStatistics"
        }
      },
      "type": "structure"
    },
    "BotRecommendationStatus": {
      "enum": [
        "Processing",
        "Deleting",
        "Deleted",
        "Downloading",
        "Updating",
        "Available",
        "Failed",
        "Stopping",
        "Stopped"
      ],
      "type": "string"
    },
    "BotRecommendationSummary": {
      "documentation": "<p>A summary of the bot recommendation.</p>",
      "members": {
        "botRecommendationId": {
          "documentation": "<p>The unique identifier of the bot recommendation to be updated.</p>",
          "shape": "Id"
        },
        "botRecommendationStatus": {
          "documentation": "<p>The status of the bot recommendation.</p> <p>If the status is Failed, then the reasons for the failure are listed in the failureReasons field. </p>",
          "shape": "BotRecommendationStatus"
        },
        "creationDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot recommendation was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>A timestamp of the date and time that the bot recommendation was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "botRecommendationStatus",
        "botRecommendationId"
      ],
      "type": "structure"
    },
    "BotRecommendationSummaryList": {
      "member": {
        "shape": "BotRecommendationSummary"
      },
      "type": "list"
    },
    "BotSortAttribute": {
      "enum": [
        "BotName"
      ],
      "type": "string"
    },
    "BotSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of bots.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The attribute to use to sort the list of bots.</p>",
          "shape": "BotSortAttribute"
        },
        "order": {
          "documentation": "<p>The order to sort the list. You can choose ascending or descending.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "attribute",
        "order"
      ],
      "type": "structure"
    },
    "BotStatus": {
      "enum": [
        "Creating",
        "Available",
        "Inactive",
        "Deleting",
        "Failed",
        "Versioning",
        "Importing"
      ],
      "type": "string"
    },
    "BotSummary": {
      "documentation": "<p>Summary information about a bot returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBots.html\">ListBots</a> operation.</p>",
      "members": {
        "botId": {
          "documentation": "<p>The unique identifier assigned to the bot. Use this ID to get detailed information about the bot with the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DescribeBot.html\">DescribeBot</a> operation.</p>",
          "shape": "Id"
        },
        "botName": {
          "documentation": "<p>The name of the bot.</p>",
          "shape": "Name"
        },
        "botStatus": {
          "documentation": "<p>The current status of the bot. When the status is <code>Available</code> the bot is ready for use.</p>",
          "shape": "BotStatus"
        },
        "description": {
          "documentation": "<p>The description of the bot.</p>",
          "shape": "Description"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time that the bot was last updated.</p>",
          "shape": "Timestamp"
        },
        "latestBotVersion": {
          "documentation": "<p>The latest numerical version in use for the bot.</p>",
          "shape": "NumericalBotVersion"
        }
      },
      "type": "structure"
    },
    "BotSummaryList": {
      "member": {
        "shape": "BotSummary"
      },
      "type": "list"
    },
    "BotVersion": {
      "max": 5,
      "min": 1,
      "pattern": "^(DRAFT|[0-9]+)$",
      "type": "string"
    },
    "BotVersionLocaleDetails": {
      "documentation": "<p>The version of a bot used for a bot locale.</p>",
      "members": {
        "sourceBotVersion": {
          "documentation": "<p>The version of a bot used for a bot locale.</p>",
          "shape": "BotVersion"
        }
      },
      "required": [
        "sourceBotVersion"
      ],
      "type": "structure"
    },
    "BotVersionLocaleSpecification": {
      "key": {
        "shape": "LocaleId"
      },
      "min": 1,
      "type": "map",
      "value": {
        "shape": "BotVersionLocaleDetails"
      }
    },
    "BotVersionSortAttribute": {
      "enum": [
        "BotVersion"
      ],
      "type": "string"
    },
    "BotVersionSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of bot versions.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The attribute to use to sort the list of versions.</p>",
          "shape": "BotVersionSortAttribute"
        },
        "order": {
          "documentation": "<p>The order to sort the list. You can specify ascending or descending order.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "attribute",
        "order"
      ],
      "type": "structure"
    },
    "BotVersionSummary": {
      "documentation": "<p>Summary information about a bot version returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotVersions.html\">ListBotVersions</a> operation.</p>",
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot associated with the version.</p>",
          "shape": "Name"
        },
        "botStatus": {
          "documentation": "<p>The status of the bot. When the status is available, the version of the bot is ready for use.</p>",
          "shape": "BotStatus"
        },
        "botVersion": {
          "documentation": "<p>The numeric version of the bot, or <code>DRAFT</code> to indicate that this is the version of the bot that can be updated..</p>",
          "shape": "BotVersion"
        },
        "creationDateTime": {
          "documentation": "<p>A timestamp of the date and time that the version was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the version.</p>",
          "shape": "Description"
        }
      },
      "type": "structure"
    },
    "BotVersionSummaryList": {
      "member": {
        "shape": "BotVersionSummary"
      },
      "type": "list"
    },
    "BoxedBoolean": {
      "box": true,
      "type": "boolean"
    },
    "BuildBotLocaleRequest": {
      "members": {
        "botId": {
          "documentation": "<p>The identifier of the bot to build. The identifier is returned in the response from the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_CreateBot.html\">CreateBot</a> operation.</p>",
          "location": "uri",
          "locationName": "botId",
          "shape": "Id"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot to build. This can only be the draft version of the bot.</p>",
          "location": "uri",
          "locationName": "botVersion",
          "shape": "DraftBotVersion"
        },
        "localeId": {
          "documentation": "<p>The identifier of the language and locale that the bot will be used in. The string must match one of the supported locales. All of the intents, slot types, and slots used in the bot must have the same locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
          "location": "uri",
          "locationName": "localeId",
          "shape": "LocaleId"
        }
      },
      "required": [
        "botId",
        "botVersion",
        "localeId"
      ],
      "type": "structure"
    },
    "BuildBotLocaleResponse": {
      "members": {
        "botId": {
          "documentation": "<p>The identifier of the specified bot.</p>",
          "shape": "Id"
        },
        "botLocaleStatus": {
          "documentation": "<p>The bot's build status. When the status is <code>ReadyExpressTesting</code> you can test the bot using the utterances defined for the intents and slot types. When the status is <code>Built</code>, the bot is ready for use and can be tested using any utterance.</p>",
          "shape": "BotLocaleStatus"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot that was built. This is only the draft version of the bot.</p>",
          "shape": "DraftBotVersion"
        },
        "lastBuildSubmittedDateTime": {
          "documentation": "<p>A timestamp indicating the date and time that the bot was last built for this locale.</p>",
          "shape": "Timestamp"
        },
        "localeId": {
          "documentation": "<p>The language and locale specified of where the bot can be used.</p>",
          "shape": "LocaleId"
        }
      },
      "type": "structure"
    },
    "BuiltInIntentSortAttribute": {
      "enum": [
        "IntentSignature"
      ],
      "type": "string"
    },
    "BuiltInIntentSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of built-in intents.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The attribute to use to sort the list of built-in intents.</p>",
          "shape": "BuiltInIntentSortAttribute"
        },
        "order": {
          "documentation": "<p>The order to sort the list. You can specify ascending or descending order.</p>",
          "shape": "SortOrder"
        }
      },
      "required": [
        "attribute",
        "order"
      ],
      "type": "structure"
    },
    "BuiltInIntentSummary": {
      "documentation": "<p>Provides summary information about a built-in intent for the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBuiltInIntents.html\"> ListBuiltInIntents </a> operation.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the intent.</p>",
          "shape": "Description"
        },
        "intentSignature": {
          "documentation": "<p>The signature of the built-in intent. Use this to specify the parent intent of a derived intent.</p>",
          "shape": "IntentSignature"
        }
      },
      "type": "structure"
    },
    "BuiltInIntentSummaryList": {
      "member": {
        "shape": "BuiltInIntentSummary"
      },
      "type": "list"
    },
    "BuiltInOrCustomSlotTypeId": {
      "max": 25,
      "min": 1,
      "pattern": "^((AMAZON\\.)[a-zA-Z_]+?|[0-9a-zA-Z]+)$",
      "type": "string"
    },
    "BuiltInSlotTypeSortAttribute": {
      "enum": [
        "SlotTypeSignature"
      ],
      "type": "string"
    },
    "BuiltInSlotTypeSortBy": {
      "documentation": "<p>Specifies attributes for sorting a list of built-in slot types.</p>",
      "members": {
        "attribute": {
[...]
