{
  "documentation": "<p>EC2 Image Builder is a fully managed Amazon Web Services service that makes it easier to automate the creation, management, and deployment of customized, secure, and up-to-date \"golden\" server images that are pre-installed and pre-configured with software and settings to meet specific IT standards.</p>",
  "metadata": {
    "apiVersion": "2019-12-02",
    "endpointPrefix": "imagebuilder",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "imagebuilder",
    "serviceFullName": "EC2 Image Builder",
    "serviceId": "imagebuilder",
    "signatureVersion": "v4",
    "signingName": "imagebuilder",
    "uid": "imagebuilder-2019-12-02"
  },
  "operations": {
    "CancelImageCreation": {
      "documentation": "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CancelImageCreation"
      },
      "input": {
        "shape": "CancelImageCreationRequest"
      },
      "name": "CancelImageCreation",
      "output": {
        "shape": "CancelImageCreationResponse"
      }
    },
    "CreateComponent": {
      "documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your image. The component is based on a YAML document that you specify using exactly one of the following methods:</p> <ul> <li> <p>Inline, using the <code>data</code> property in the request body.</p> </li> <li> <p>A URL that points to a YAML document file stored in Amazon S3, using the <code>uri</code> property in the request body.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateComponent"
      },
      "input": {
        "shape": "CreateComponentRequest"
      },
      "name": "CreateComponent",
      "output": {
        "shape": "CreateComponentResponse"
      }
    },
    "CreateContainerRecipe": {
      "documentation": "<p>Creates a new container recipe. Container recipes define how images are configured, tested, and assessed.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateContainerRecipe"
      },
      "input": {
        "shape": "CreateContainerRecipeRequest"
      },
      "name": "CreateContainerRecipe",
      "output": {
        "shape": "CreateContainerRecipeResponse"
      }
    },
    "CreateDistributionConfiguration": {
      "documentation": "<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateDistributionConfiguration"
      },
      "input": {
        "shape": "CreateDistributionConfigurationRequest"
      },
      "name": "CreateDistributionConfiguration",
      "output": {
        "shape": "CreateDistributionConfigurationResponse"
      }
    },
    "CreateImage": {
      "documentation": "<p> Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. You must specify exactly one recipe for your image, using either a ContainerRecipeArn or an ImageRecipeArn.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImage"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResponse"
      }
    },
    "CreateImagePipeline": {
      "documentation": "<p> Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImagePipeline"
      },
      "input": {
        "shape": "CreateImagePipelineRequest"
      },
      "name": "CreateImagePipeline",
      "output": {
        "shape": "CreateImagePipelineResponse"
      }
    },
    "CreateImageRecipe": {
      "documentation": "<p> Creates a new image recipe. Image recipes define how images are configured, tested, and assessed.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImageRecipe"
      },
      "input": {
        "shape": "CreateImageRecipeRequest"
      },
      "name": "CreateImageRecipe",
      "output": {
        "shape": "CreateImageRecipeResponse"
      }
    },
    "CreateInfrastructureConfiguration": {
      "documentation": "<p> Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateInfrastructureConfiguration"
      },
      "input": {
        "shape": "CreateInfrastructureConfigurationRequest"
      },
      "name": "CreateInfrastructureConfiguration",
      "output": {
        "shape": "CreateInfrastructureConfigurationResponse"
      }
    },
    "DeleteComponent": {
      "documentation": "<p> Deletes a component build version.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteComponent"
      },
      "input": {
        "shape": "DeleteComponentRequest"
      },
      "name": "DeleteComponent",
      "output": {
        "shape": "DeleteComponentResponse"
      }
    },
    "DeleteContainerRecipe": {
      "documentation": "<p>Deletes a container recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteContainerRecipe"
      },
      "input": {
        "shape": "DeleteContainerRecipeRequest"
      },
      "name": "DeleteContainerRecipe",
      "output": {
        "shape": "DeleteContainerRecipeResponse"
      }
    },
    "DeleteDistributionConfiguration": {
      "documentation": "<p> Deletes a distribution configuration.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteDistributionConfiguration"
      },
      "input": {
        "shape": "DeleteDistributionConfigurationRequest"
      },
      "name": "DeleteDistributionConfiguration",
      "output": {
        "shape": "DeleteDistributionConfigurationResponse"
      }
    },
    "DeleteImage": {
      "documentation": "<p>Deletes an Image Builder image resource. This does not delete any EC2 AMIs or ECR container images that are created during the image build process. You must clean those up separately, using the appropriate Amazon EC2 or Amazon ECR console actions, or API or CLI commands.</p> <ul> <li> <p>To deregister an EC2 Linux AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/deregister-ami.html\">Deregister your Linux AMI</a> in the <i> <i>Amazon EC2 User Guide</i> </i>.</p> </li> <li> <p>To deregister an EC2 Windows AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/deregister-ami.html\">Deregister your Windows AMI</a> in the <i> <i>Amazon EC2 Windows Guide</i> </i>.</p> </li> <li> <p>To delete a container image from Amazon ECR, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/delete_image.html\">Deleting an image</a> in the <i>Amazon ECR User Guide</i>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImage"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResponse"
      }
    },
    "DeleteImagePipeline": {
      "documentation": "<p> Deletes an image pipeline.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImagePipeline"
      },
      "input": {
        "shape": "DeleteImagePipelineRequest"
      },
      "name": "DeleteImagePipeline",
      "output": {
        "shape": "DeleteImagePipelineResponse"
      }
    },
    "DeleteImageRecipe": {
      "documentation": "<p> Deletes an image recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImageRecipe"
      },
      "input": {
        "shape": "DeleteImageRecipeRequest"
      },
      "name": "DeleteImageRecipe",
      "output": {
        "shape": "DeleteImageRecipeResponse"
      }
    },
    "DeleteInfrastructureConfiguration": {
      "documentation": "<p> Deletes an infrastructure configuration.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteInfrastructureConfiguration"
      },
      "input": {
        "shape": "DeleteInfrastructureConfigurationRequest"
      },
      "name": "DeleteInfrastructureConfiguration",
      "output": {
        "shape": "DeleteInfrastructureConfigurationResponse"
      }
    },
    "GetComponent": {
      "documentation": "<p> Gets a component object.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetComponent"
      },
      "input": {
        "shape": "GetComponentRequest"
      },
      "name": "GetComponent",
      "output": {
        "shape": "GetComponentResponse"
      }
    },
    "GetComponentPolicy": {
      "documentation": "<p> Gets a component policy.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetComponentPolicy"
      },
      "input": {
        "shape": "GetComponentPolicyRequest"
      },
      "name": "GetComponentPolicy",
      "output": {
        "shape": "GetComponentPolicyResponse"
      }
    },
    "GetContainerRecipe": {
      "documentation": "<p>Retrieves a container recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetContainerRecipe"
      },
      "input": {
        "shape": "GetContainerRecipeRequest"
      },
      "name": "GetContainerRecipe",
      "output": {
        "shape": "GetContainerRecipeResponse"
      }
    },
    "GetContainerRecipePolicy": {
      "documentation": "<p>Retrieves the policy for a container recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetContainerRecipePolicy"
      },
      "input": {
        "shape": "GetContainerRecipePolicyRequest"
      },
      "name": "GetContainerRecipePolicy",
      "output": {
        "shape": "GetContainerRecipePolicyResponse"
      }
    },
    "GetDistributionConfiguration": {
      "documentation": "<p> Gets a distribution configuration.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetDistributionConfiguration"
      },
      "input": {
        "shape": "GetDistributionConfigurationRequest"
      },
      "name": "GetDistributionConfiguration",
      "output": {
        "shape": "GetDistributionConfigurationResponse"
      }
    },
    "GetImage": {
      "documentation": "<p> Gets an image.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImage"
      },
      "input": {
        "shape": "GetImageRequest"
      },
      "name": "GetImage",
      "output": {
        "shape": "GetImageResponse"
      }
    },
    "GetImagePipeline": {
      "documentation": "<p> Gets an image pipeline.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePipeline"
      },
      "input": {
        "shape": "GetImagePipelineRequest"
      },
      "name": "GetImagePipeline",
      "output": {
        "shape": "GetImagePipelineResponse"
      }
    },
    "GetImagePolicy": {
      "documentation": "<p> Gets an image policy.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePolicy"
      },
      "input": {
        "shape": "GetImagePolicyRequest"
      },
      "name": "GetImagePolicy",
      "output": {
        "shape": "GetImagePolicyResponse"
      }
    },
    "GetImageRecipe": {
      "documentation": "<p> Gets an image recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipe"
      },
      "input": {
        "shape": "GetImageRecipeRequest"
      },
      "name": "GetImageRecipe",
      "output": {
        "shape": "GetImageRecipeResponse"
      }
    },
    "GetImageRecipePolicy": {
      "documentation": "<p> Gets an image recipe policy.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipePolicy"
      },
      "input": {
        "shape": "GetImageRecipePolicyRequest"
      },
      "name": "GetImageRecipePolicy",
      "output": {
        "shape": "GetImageRecipePolicyResponse"
      }
    },
    "GetInfrastructureConfiguration": {
      "documentation": "<p> Gets an infrastructure configuration.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetInfrastructureConfiguration"
      },
      "input": {
        "shape": "GetInfrastructureConfigurationRequest"
      },
      "name": "GetInfrastructureConfiguration",
      "output": {
        "shape": "GetInfrastructureConfigurationResponse"
      }
    },
    "ImportComponent": {
      "documentation": "<p>Imports a component and transforms its data into a component document.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/ImportComponent"
      },
      "input": {
        "shape": "ImportComponentRequest"
      },
      "name": "ImportComponent",
      "output": {
        "shape": "ImportComponentResponse"
      }
    },
    "ImportVmImage": {
      "documentation": "<p>When you export your virtual machine (VM) from its virtualization environment, that process creates a set of one or more disk container files that act as snapshots of your VM\u2019s environment, settings, and data. The Amazon EC2 API <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ImportImage.html\">ImportImage</a> action uses those files to import your VM and create an AMI. To import using the CLI command, see <a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/import-image.html\">import-image</a> </p> <p>You can reference the task ID from the VM import to pull in the AMI that the import created as the base image for your Image Builder recipe.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/ImportVmImage"
      },
      "input": {
        "shape": "ImportVmImageRequest"
      },
      "name": "ImportVmImage",
      "output": {
        "shape": "ImportVmImageResponse"
      }
    },
    "ListComponentBuildVersions": {
      "documentation": "<p> Returns the list of component build versions for the specified semantic version.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListComponentBuildVersions"
      },
      "input": {
        "shape": "ListComponentBuildVersionsRequest"
      },
      "name": "ListComponentBuildVersions",
      "output": {
        "shape": "ListComponentBuildVersionsResponse"
      }
    },
    "ListComponents": {
      "documentation": "<p>Returns the list of component build versions for the specified semantic version.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListComponents"
      },
      "input": {
        "shape": "ListComponentsRequest"
      },
      "name": "ListComponents",
      "output": {
        "shape": "ListComponentsResponse"
      }
    },
    "ListContainerRecipes": {
      "documentation": "<p>Returns a list of container recipes.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListContainerRecipes"
      },
      "input": {
        "shape": "ListContainerRecipesRequest"
      },
      "name": "ListContainerRecipes",
      "output": {
        "shape": "ListContainerRecipesResponse"
      }
    },
    "ListDistributionConfigurations": {
      "documentation": "<p>Returns a list of distribution configurations.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListDistributionConfigurations"
      },
      "input": {
        "shape": "ListDistributionConfigurationsRequest"
      },
      "name": "ListDistributionConfigurations",
      "output": {
        "shape": "ListDistributionConfigurationsResponse"
      }
    },
    "ListImageBuildVersions": {
      "documentation": "<p> Returns a list of image build versions.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImageBuildVersions"
      },
      "input": {
        "shape": "ListImageBuildVersionsRequest"
      },
      "name": "ListImageBuildVersions",
      "output": {
        "shape": "ListImageBuildVersionsResponse"
      }
    },
    "ListImagePackages": {
      "documentation": "<p>List the Packages that are associated with an Image Build Version, as determined by Amazon Web Services Systems Manager Inventory at build time.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImagePackages"
      },
      "input": {
        "shape": "ListImagePackagesRequest"
      },
      "name": "ListImagePackages",
      "output": {
        "shape": "ListImagePackagesResponse"
      }
    },
    "ListImagePipelineImages": {
      "documentation": "<p> Returns a list of images created by the specified pipeline.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImagePipelineImages"
      },
      "input": {
        "shape": "ListImagePipelineImagesRequest"
      },
      "name": "ListImagePipelineImages",
      "output": {
        "shape": "ListImagePipelineImagesResponse"
      }
    },
    "ListImagePipelines": {
      "documentation": "<p>Returns a list of image pipelines.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImagePipelines"
      },
      "input": {
        "shape": "ListImagePipelinesRequest"
      },
      "name": "ListImagePipelines",
      "output": {
        "shape": "ListImagePipelinesResponse"
      }
    },
    "ListImageRecipes": {
      "documentation": "<p> Returns a list of image recipes.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImageRecipes"
      },
      "input": {
        "shape": "ListImageRecipesRequest"
      },
      "name": "ListImageRecipes",
      "output": {
        "shape": "ListImageRecipesResponse"
      }
    },
    "ListImages": {
      "documentation": "<p> Returns the list of images that you have access to.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImages"
      },
      "input": {
        "shape": "ListImagesRequest"
      },
      "name": "ListImages",
      "output": {
        "shape": "ListImagesResponse"
      }
    },
    "ListInfrastructureConfigurations": {
      "documentation": "<p> Returns a list of infrastructure configurations.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListInfrastructureConfigurations"
      },
      "input": {
        "shape": "ListInfrastructureConfigurationsRequest"
      },
      "name": "ListInfrastructureConfigurations",
      "output": {
        "shape": "ListInfrastructureConfigurationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Returns the list of tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutComponentPolicy": {
      "documentation": "<p> Applies a policy to a component. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutComponentPolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutComponentPolicy"
      },
      "input": {
        "shape": "PutComponentPolicyRequest"
      },
      "name": "PutComponentPolicy",
      "output": {
        "shape": "PutComponentPolicyResponse"
      }
    },
    "PutContainerRecipePolicy": {
      "documentation": "<p>Applies a policy to a container image. We recommend that you call the RAM API CreateResourceShare (https://docs.aws.amazon.com//ram/latest/APIReference/API_CreateResourceShare.html) to share resources. If you call the Image Builder API <code>PutContainerImagePolicy</code>, you must also call the RAM API PromoteResourceShareCreatedFromPolicy (https://docs.aws.amazon.com//ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html) in order for the resource to be visible to all principals with whom the resource is shared.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutContainerRecipePolicy"
      },
      "input": {
        "shape": "PutContainerRecipePolicyRequest"
      },
      "name": "PutContainerRecipePolicy",
      "output": {
        "shape": "PutContainerRecipePolicyResponse"
      }
    },
    "PutImagePolicy": {
      "documentation": "<p>Applies a policy to an image. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutImagePolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutImagePolicy"
      },
      "input": {
        "shape": "PutImagePolicyRequest"
      },
      "name": "PutImagePolicy",
      "output": {
        "shape": "PutImagePolicyResponse"
      }
    },
    "PutImageRecipePolicy": {
      "documentation": "<p> Applies a policy to an image recipe. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutImageRecipePolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutImageRecipePolicy"
      },
      "input": {
        "shape": "PutImageRecipePolicyRequest"
      },
      "name": "PutImageRecipePolicy",
      "output": {
        "shape": "PutImageRecipePolicyResponse"
      }
    },
    "StartImagePipelineExecution": {
      "documentation": "<p> Manually triggers a pipeline to create an image.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/StartImagePipelineExecution"
      },
      "input": {
        "shape": "StartImagePipelineExecutionRequest"
      },
      "name": "StartImagePipelineExecution",
      "output": {
        "shape": "StartImagePipelineExecutionResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Adds a tag to a resource.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Removes a tag from a resource.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDistributionConfiguration": {
      "documentation": "<p> Updates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateDistributionConfiguration"
      },
      "input": {
        "shape": "UpdateDistributionConfigurationRequest"
      },
      "name": "UpdateDistributionConfiguration",
      "output": {
        "shape": "UpdateDistributionConfigurationResponse"
      }
    },
    "UpdateImagePipeline": {
      "documentation": "<p> Updates an image pipeline. Image pipelines enable you to automate the creation and distribution of images.</p> <note> <p>UpdateImagePipeline does not support selective updates for the pipeline. You must specify all of the required properties in the update request, not just the properties that have changed.</p> </note>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateImagePipeline"
      },
      "input": {
        "shape": "UpdateImagePipelineRequest"
      },
      "name": "UpdateImagePipeline",
      "output": {
        "shape": "UpdateImagePipelineResponse"
      }
    },
    "UpdateInfrastructureConfiguration": {
      "documentation": "<p> Updates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateInfrastructureConfiguration"
      },
      "input": {
        "shape": "UpdateInfrastructureConfigurationRequest"
      },
      "name": "UpdateInfrastructureConfiguration",
      "output": {
        "shape": "UpdateInfrastructureConfigurationResponse"
      }
    }
  },
  "shapes": {
    "AccountId": {
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "AccountList": {
      "max": 1536,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AdditionalInstanceConfiguration": {
      "documentation": "<p>In addition to your infrastruction configuration, these settings provide an extra layer of control over your build instances. For instances where Image Builder installs the Systems Manager agent, you can choose whether to keep it for the AMI that you create. You can also specify commands to run on launch for all of your build instances.</p>",
      "members": {
        "systemsManagerAgent": {
          "documentation": "<p>Contains settings for the Systems Manager agent on your build instance.</p>",
          "shape": "SystemsManagerAgent"
        },
        "userDataOverride": {
          "documentation": "<p>Use this property to provide commands or a command script to run when you launch your build instance.</p> <p>The userDataOverride property replaces any commands that Image Builder might have added to ensure that Systems Manager is installed on your Linux build instance. If you override the user data, make sure that you add commands to install Systems Manager, if it is not pre-installed on your base image.</p> <note> <p>The user data is always base 64 encoded. For example, the following commands are encoded as <code>IyEvYmluL2Jhc2gKbWtkaXIgLXAgL3Zhci9iYi8KdG91Y2ggL3Zhci$</code>:</p> <p> <i>#!/bin/bash</i> </p> <p>mkdir -p /var/bb/</p> <p>touch /var</p> </note>",
          "shape": "UserDataOverride"
        }
      },
      "type": "structure"
    },
    "Ami": {
      "documentation": "<p> Details of an Amazon EC2 AMI.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The account ID of the owner of the AMI.</p>",
          "shape": "NonEmptyString"
        },
        "description": {
          "documentation": "<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>",
          "shape": "NonEmptyString"
        },
        "image": {
          "documentation": "<p>The AMI ID of the Amazon EC2 AMI.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the Amazon EC2 AMI.</p>",
          "shape": "NonEmptyString"
        },
        "region": {
          "documentation": "<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>",
          "shape": "NonEmptyString"
        },
        "state": {
          "shape": "ImageState"
        }
      },
      "type": "structure"
    },
    "AmiDistributionConfiguration": {
      "documentation": "<p> Define and configure the output AMIs of the pipeline.</p>",
      "members": {
        "amiTags": {
          "documentation": "<p>The tags to apply to AMIs distributed to this Region.</p>",
          "shape": "TagMap"
        },
        "description": {
          "documentation": "<p>The description of the AMI distribution configuration. Minimum and maximum length are in characters.</p>",
          "shape": "NonEmptyString"
        },
        "kmsKeyId": {
          "documentation": "<p>The KMS key identifier used to encrypt the distributed image.</p>",
          "shape": "NonEmptyString"
        },
        "launchPermission": {
          "documentation": "<p> Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to launch instances.</p>",
          "shape": "LaunchPermissionConfiguration"
        },
        "name": {
          "documentation": "<p>The name of the output AMI.</p>",
          "shape": "AmiNameString"
        },
        "targetAccountIds": {
          "documentation": "<p>The ID of an account to which you want to distribute an image.</p>",
          "shape": "AccountList"
        }
      },
      "type": "structure"
    },
    "AmiList": {
      "member": {
        "shape": "Ami"
      },
      "type": "list"
    },
    "AmiNameString": {
      "max": 127,
      "min": 1,
      "pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$",
      "type": "string"
    },
    "Arn": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BuildType": {
      "enum": [
        "USER_INITIATED",
        "SCHEDULED",
        "IMPORT"
      ],
      "type": "string"
    },
    "CallRateLimitExceededException": {
      "documentation": "<p>You have exceeded the permitted request rate for the specific operation.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CancelImageCreationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation you want to cancel.</p>",
          "shape": "ImageBuildVersionArn"
        }
      },
      "required": [
        "imageBuildVersionArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CancelImageCreationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token that was used for this request.</p>",
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation has been cancelled.</p>",
          "shape": "ImageBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ClientException": {
      "documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 36,
      "min": 1,
      "type": "string"
    },
    "Component": {
      "documentation": "<p>A detailed view of a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ImageBuilderArn"
        },
        "changeDescription": {
          "documentation": "<p>The change description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "data": {
          "documentation": "<p>Component data contains the YAML document content for the component.</p>",
          "shape": "ComponentData"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "encrypted": {
          "documentation": "<p>The encryption status of the component.</p>",
          "shape": "NullableBoolean"
        },
        "kmsKeyId": {
          "documentation": "<p>The KMS key identifier used to encrypt the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "parameters": {
          "documentation": "<p>Contains parameter details for each of the parameters that are defined for the component.</p>",
          "shape": "ComponentParameterDetailList"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "state": {
          "documentation": "<p>Describes the current status of the component. This is used for components that are no longer active.</p>",
          "shape": "ComponentState"
        },
        "supportedOsVersions": {
          "documentation": "<p>The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>",
          "shape": "OsVersionList"
        },
        "tags": {
          "documentation": "<p>The tags associated with the component.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentBuildVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$",
      "type": "string"
    },
    "ComponentConfiguration": {
      "documentation": "<p> Configuration details of the component.</p>",
      "members": {
        "componentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ComponentVersionArnOrBuildVersionArn"
        },
        "parameters": {
          "documentation": "<p>A group of parameter settings that are used to configure the component for a specific recipe.</p>",
          "shape": "ComponentParameterList"
        }
      },
      "required": [
        "componentArn"
      ],
      "type": "structure"
    },
    "ComponentConfigurationList": {
      "member": {
        "shape": "ComponentConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "ComponentData": {
      "type": "string"
    },
    "ComponentFormat": {
      "enum": [
        "SHELL"
      ],
      "type": "string"
    },
    "ComponentParameter": {
      "documentation": "<p>Contains a key/value pair that sets the named component parameter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the component parameter to set.</p>",
          "shape": "ComponentParameterName"
        },
        "value": {
          "documentation": "<p>Sets the value for the named component parameter.</p>",
          "shape": "ComponentParameterValueList"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "ComponentParameterDescription": {
      "max": 1024,
      "min": 1,
      "pattern": "[^\\x00]+",
      "type": "string"
    },
    "ComponentParameterDetail": {
      "documentation": "<p>Defines a parameter that is used to provide configuration details for the component.</p>",
      "members": {
        "defaultValue": {
          "documentation": "<p>The default value of this parameter if no input is provided.</p>",
          "shape": "ComponentParameterValueList"
        },
        "description": {
          "documentation": "<p>Describes this parameter.</p>",
          "shape": "ComponentParameterDescription"
        },
        "name": {
          "documentation": "<p>The name of this input parameter.</p>",
          "shape": "ComponentParameterName"
        },
        "type": {
          "documentation": "<p>The type of input this parameter provides. The currently supported value is \"string\".</p>",
          "shape": "ComponentParameterType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "ComponentParameterDetailList": {
      "member": {
        "shape": "ComponentParameterDetail"
      },
      "type": "list"
    },
    "ComponentParameterList": {
      "member": {
        "shape": "ComponentParameter"
      },
      "min": 1,
      "type": "list"
    },
    "ComponentParameterName": {
      "max": 256,
      "min": 1,
      "pattern": "[^\\x00]+",
      "type": "string"
    },
    "ComponentParameterType": {
      "max": 20,
      "min": 1,
      "pattern": "^String|Integer|Boolean|StringList$",
      "type": "string"
    },
    "ComponentParameterValue": {
      "min": 0,
      "pattern": "[^\\x00]*",
      "type": "string"
    },
    "ComponentParameterValueList": {
      "member": {
        "shape": "ComponentParameterValue"
      },
      "type": "list"
    },
    "ComponentState": {
      "documentation": "<p>A group of fields that describe the current status of components that are no longer active.</p>",
      "members": {
        "reason": {
          "documentation": "<p>Describes how or why the component changed state.</p>",
          "shape": "NonEmptyString"
        },
        "status": {
          "documentation": "<p>The current state of the component.</p>",
          "shape": "ComponentStatus"
        }
      },
      "type": "structure"
    },
    "ComponentStatus": {
      "enum": [
        "DEPRECATED"
      ],
      "type": "string"
    },
    "ComponentSummary": {
      "documentation": "<p>A high-level summary of a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ImageBuilderArn"
        },
        "changeDescription": {
          "documentation": "<p>The change description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "state": {
          "documentation": "<p>Describes the current status of the component.</p>",
          "shape": "ComponentState"
        },
        "supportedOsVersions": {
          "documentation": "<p>The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>",
          "shape": "OsVersionList"
        },
        "tags": {
          "documentation": "<p>The tags associated with the component.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentSummaryList": {
      "member": {
        "shape": "ComponentSummary"
      },
      "type": "list"
    },
    "ComponentType": {
      "enum": [
        "BUILD",
        "TEST"
      ],
      "type": "string"
    },
    "ComponentVersion": {
      "documentation": "<p>The defining characteristics of a specific version of an Amazon Web Services TOE component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p> <note> <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), at the level that applies to that object as follows:</p> <ol> <li> <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are either left off entirely, or they are specified as wildcards, for example: x.x.x.</p> </li> <li> <p>Version ARNs have only the first three nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</p> </li> <li> <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p> </li> </ol> </note>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "supportedOsVersions": {
          "documentation": "<p>he operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>",
          "shape": "OsVersionList"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The semantic version of the component.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$",
      "type": "string"
    },
    "ComponentVersionArnOrBuildVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$",
      "type": "string"
    },
    "ComponentVersionList": {
      "member": {
        "shape": "ComponentVersion"
      },
      "type": "list"
    },
    "Container": {
      "documentation": "<p>A container encapsulates the runtime environment for an application.</p>",
      "members": {
        "imageUris": {
          "documentation": "<p>A list of URIs for containers created in the context Region.</p>",
          "shape": "StringList"
        },
        "region": {
          "documentation": "<p>Containers and container images are Region-specific. This is the Region context for the container.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ContainerDistributionConfiguration": {
      "documentation": "<p>Container distribution settings for encryption, licensing, and sharing in a specific Region.</p>",
      "members": {
        "containerTags": {
          "documentation": "<p>Tags that are attached to the container distribution configuration.</p>",
          "shape": "StringList"
        },
        "description": {
          "documentation": "<p>The description of the container distribution configuration.</p>",
          "shape": "NonEmptyString"
        },
        "targetRepository": {
          "documentation": "<p>The destination repository for the container distribution configuration.</p>",
          "shape": "TargetContainerRepository"
        }
      },
      "required": [
        "targetRepository"
      ],
      "type": "structure"
    },
    "ContainerList": {
      "member": {
        "shape": "Container"
      },
      "type": "list"
    },
    "ContainerRecipe": {
      "documentation": "<p>A container recipe.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p> <note> <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), at the level that applies to that object as follows:</p> <ol> <li> <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are either left off entirely, or they are specified as wildcards, for example: x.x.x.</p> </li> <li> <p>Version ARNs have only the first three nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</p> </li> <li> <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p> </li> </ol> </note>",
          "shape": "ImageBuilderArn"
        },
        "components": {
          "documentation": "<p>Components for build and test that are included in the container recipe.</p>",
          "shape": "ComponentConfigurationList"
        },
        "containerType": {
          "documentation": "<p>Specifies the type of container, such as Docker.</p>",
          "shape": "ContainerType"
        },
        "dateCreated": {
          "documentation": "<p>The date when this container recipe was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "dockerfileTemplateData": {
          "documentation": "<p>Dockerfiles are text documents that are used to build Docker containers, and ensure that they contain all of the elements required by the application running inside. The template data consists of contextual variables where Image Builder places build information or scripts, based on your container image recipe.</p>",
          "shape": "DockerFileTemplate"
        },
        "encrypted": {
          "documentation": "<p>A flag that indicates if the target container is encrypted.</p>",
          "shape": "NullableBoolean"
        },
        "instanceConfiguration": {
          "documentation": "<p>A group of options that can be used to configure an instance for building and testing container images.</p>",
          "shape": "InstanceConfiguration"
        },
        "kmsKeyId": {
          "documentation": "<p>Identifies which KMS key is used to encrypt the container image for distribution to the target Region.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the container recipe.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "parentImage": {
          "documentation": "<p>The base image for the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The system platform for the container, such as Windows or Linux.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>Tags that are attached to the container recipe.</p>",
          "shape": "TagMap"
        },
        "targetRepository": {
          "documentation": "<p>The destination repository for the container image.</p>",
          "shape": "TargetContainerRepository"
        },
        "version": {
          "documentation": "<p>The semantic version of the container recipe.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>",
          "shape": "VersionNumber"
        },
        "workingDirectory": {
          "documentation": "<p>The working directory for use during build and test workflows.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ContainerRecipeArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):container-recipe/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$",
      "type": "string"
    },
    "ContainerRecipeSummary": {
      "documentation": "<p>A summary of a container recipe</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>",
          "shape": "ImageBuilderArn"
        },
        "containerType": {
          "documentation": "<p>Specifies the type of container, such as \"Docker\".</p>",
          "shape": "ContainerType"
        },
        "dateCreated": {
          "documentation": "<p>The date when this container recipe was created.</p>",
          "shape": "DateTime"
        },
        "name": {
          "documentation": "<p>The name of the container recipe.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "parentImage": {
          "documentation": "<p>The base image for the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The system platform for the container, such as Windows or Linux.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>Tags that are attached to the container recipe.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ContainerRecipeSummaryList": {
      "member": {
        "shape": "ContainerRecipeSummary"
      },
      "type": "list"
    },
    "ContainerRepositoryService": {
      "enum": [
        "ECR"
      ],
      "type": "string"
    },
    "ContainerType": {
      "enum": [
        "DOCKER"
      ],
      "type": "string"
    },
    "CreateComponentRequest": {
      "members": {
        "changeDescription": {
          "documentation": "<p>The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of this component.</p>",
          "shape": "NonEmptyString"
        },
        "clientToken": {
          "documentation": "<p>The idempotency token of the component.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "data": {
          "documentation": "<p>Component <code>data</code> contains inline YAML document content for the component. Alternatively, you can specify the <code>uri</code> of a YAML document file stored in Amazon S3. However, you cannot specify both properties.</p>",
          "shape": "InlineComponentData"
        },
        "description": {
          "documentation": "<p>The description of the component. Describes the contents of the component.</p>",
          "shape": "NonEmptyString"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key that should be used to encrypt this component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "semanticVersion": {
          "documentation": "<p>The semantic version of the component. This version follows the semantic version syntax.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> </note>",
          "shape": "VersionNumber"
        },
        "supportedOsVersions": {
          "documentation": "<p> The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>",
          "shape": "OsVersionList"
        },
        "tags": {
          "documentation": "<p>The tags of the component.</p>",
          "shape": "TagMap"
        },
        "uri": {
          "documentation": "<p>The <code>uri</code> of a YAML component document file. This must be an S3 URL (<code>s3://bucket/key</code>), and the requester must have permission to access the S3 bucket it points to. If you use Amazon S3, you can specify component content up to your service quota.</p> <p>Alternatively, you can specify the YAML document inline, using the component <code>data</code> property. You cannot specify both properties.</p>",
          "shape": "Uri"
        }
      },
      "required": [
        "name",
        "semanticVersion",
        "platform",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateComponentResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "componentBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component that was created by this request.</p>",
          "shape": "ComponentBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateContainerRecipeRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>The client token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "components": {
          "documentation": "<p>Components for build and test that are included in the container recipe.</p>",
          "shape": "ComponentConfigurationList"
        },
        "containerType": {
          "documentation": "<p>The type of container to create.</p>",
          "shape": "ContainerType"
        },
        "description": {
          "documentation": "<p>The description of the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "dockerfileTemplateData": {
          "documentation": "<p>The Dockerfile template used to build your image as an inline data blob.</p>",
          "shape": "InlineDockerFileTemplate"
        },
        "dockerfileTemplateUri": {
          "documentation": "<p>The Amazon S3 URI for the Dockerfile that will be used to build your container image.</p>",
          "shape": "Uri"
        },
        "imageOsVersionOverride": {
          "documentation": "<p>Specifies the operating system version for the base image.</p>",
          "shape": "NonEmptyString"
        },
        "instanceConfiguration": {
          "documentation": "<p>A group of options that can be used to configure an instance for building and testing container images.</p>",
          "shape": "InstanceConfiguration"
        },
        "kmsKeyId": {
          "documentation": "<p>Identifies which KMS key is used to encrypt the container image.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the container recipe.</p>",
          "shape": "ResourceName"
        },
        "parentImage": {
          "documentation": "<p>The base image for the container recipe.</p>",
          "shape": "NonEmptyString"
        },
        "platformOverride": {
          "documentation": "<p>Specifies the operating system platform when you use a custom base image.</p>",
          "shape": "Platform"
        },
        "semanticVersion": {
          "documentation": "<p>The semantic version of the container recipe. This version follows the semantic version syntax.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> </note>",
          "shape": "VersionNumber"
        },
        "tags": {
          "documentation": "<p>Tags that are attached to the container recipe.</p>",
          "shape": "TagMap"
        },
        "targetRepository": {
          "documentation": "<p>The destination repository for the container image.</p>",
          "shape": "TargetContainerRepository"
        },
        "workingDirectory": {
          "documentation": "<p>The working directory for use during build and test workflows.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "containerType",
        "name",
        "semanticVersion",
        "components",
        "parentImage",
        "targetRepository",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateContainerRecipeResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The client token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "containerRecipeArn": {
          "documentation": "<p>Returns the Amazon Resource Name (ARN) of the container recipe that the request created.</p>",
          "shape": "ContainerRecipeArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateDistributionConfigurationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token of the distribution configuration.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p> The description of the distribution configuration.</p>",
          "shape": "NonEmptyString"
        },
        "distributions": {
          "documentation": "<p> The distributions of the distribution configuration.</p>",
          "shape": "DistributionList"
        },
        "name": {
          "documentation": "<p> The name of the distribution configuration.</p>",
          "shape": "ResourceName"
        },
        "tags": {
          "documentation": "<p> The tags of the distribution configuration.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "distributions",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateDistributionConfigurationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that was created by this request.</p>",
          "shape": "DistributionConfigurationArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImagePipelineRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "containerRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that is used to configure images created by this container pipeline.</p>",
          "shape": "ContainerRecipeArn"
        },
        "description": {
          "documentation": "<p> The description of the image pipeline.</p>",
          "shape": "NonEmptyString"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that will be used to configure and distribute images created by this image pipeline.</p>",
          "shape": "DistributionConfigurationArn"
        },
        "enhancedImageMetadataEnabled": {
          "documentation": "<p> Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default.</p>",
          "shape": "NullableBoolean"
        },
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that will be used to configure images created by this image pipeline.</p>",
          "shape": "ImageRecipeArn"
        },
        "imageTestsConfiguration": {
          "documentation": "<p> The image test configuration of the image pipeline.</p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to build images created by this image pipeline.</p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "name": {
          "documentation": "<p> The name of the image pipeline.</p>",
          "shape": "ResourceName"
        },
        "schedule": {
          "documentation": "<p> The schedule of the image pipeline.</p>",
          "shape": "Schedule"
        },
        "status": {
          "documentation": "<p> The status of the image pipeline.</p>",
          "shape": "PipelineStatus"
        },
        "tags": {
          "documentation": "<p> The tags of the image pipeline.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "infrastructureConfigurationArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImagePipelineResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "imagePipelineArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that was created by this request.</p>",
          "shape": "ImagePipelineArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImageRecipeRequest": {
      "members": {
        "additionalInstanceConfiguration": {
          "documentation": "<p>Specify additional settings and launch scripts for your build instances.</p>",
          "shape": "AdditionalInstanceConfiguration"
        },
        "blockDeviceMappings": {
          "documentation": "<p>The block device mappings of the image recipe.</p>",
          "shape": "InstanceBlockDeviceMappings"
        },
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "components": {
          "documentation": "<p>The components of the image recipe.</p>",
          "shape": "ComponentConfigurationList"
        },
        "description": {
          "documentation": "<p> The description of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p> The name of the image recipe.</p>",
          "shape": "ResourceName"
        },
        "parentImage": {
          "documentation": "<p>The base image of the image recipe. The value of the string can be the ARN of the base image or an AMI ID. The format for the ARN follows this example: <code>arn:aws:imagebuilder:us-west-2:aws:image/windows-server-2016-english-full-base-x86/x.x.x</code>. You can provide the specific version that you want to use, or you can use a wildcard in all of the fields. If you enter an AMI ID for the string value, you must have access to the AMI, and the AMI must be in the same Region in which you are using Image Builder.</p>",
          "shape": "NonEmptyString"
        },
        "semanticVersion": {
          "documentation": "<p>The semantic version of the image recipe. This version follows the semantic version syntax.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> </note>",
          "shape": "VersionNumber"
        },
        "tags": {
          "documentation": "<p> The tags of the image recipe.</p>",
          "shape": "TagMap"
        },
        "workingDirectory": {
          "documentation": "<p>The working directory used during build and test workflows.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "name",
        "semanticVersion",
        "components",
        "parentImage",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImageRecipeResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "imageRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was created by this request.</p>",
          "shape": "ImageRecipeArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImageRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "containerRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that defines how images are configured and tested.</p>",
          "shape": "ContainerRecipeArn"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that defines and configures the outputs of your pipeline.</p>",
          "shape": "DistributionConfigurationArn"
        },
        "enhancedImageMetadataEnabled": {
          "documentation": "<p> Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default.</p>",
          "shape": "NullableBoolean"
        },
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that defines how images are configured, tested, and assessed.</p>",
          "shape": "ImageRecipeArn"
        },
        "imageTestsConfiguration": {
          "documentation": "<p> The image tests configuration of the image.</p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that defines the environment in which your image will be built and tested.</p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "tags": {
          "documentation": "<p> The tags of the image.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "infrastructureConfigurationArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImageResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image that was created by this request.</p>",
          "shape": "ImageBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateInfrastructureConfigurationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
[...]
