{
  "documentation": "<p>Amazon EMR is a web service that makes it easier to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several Amazon Web Services services to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehouse management.</p>",
  "metadata": {
    "apiVersion": "2009-03-31",
    "endpointPrefix": "elasticmapreduce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon EMR",
    "serviceFullName": "Amazon EMR",
    "serviceId": "EMR",
    "signatureVersion": "v4",
    "targetPrefix": "ElasticMapReduce",
    "uid": "elasticmapreduce-2009-03-31"
  },
  "operations": {
    "AddInstanceFleet": {
      "documentation": "<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddInstanceFleetInput"
      },
      "name": "AddInstanceFleet",
      "output": {
        "shape": "AddInstanceFleetOutput"
      }
    },
    "AddInstanceGroups": {
      "documentation": "<p>Adds one or more instance groups to a running cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddInstanceGroupsInput"
      },
      "name": "AddInstanceGroups",
      "output": {
        "shape": "AddInstanceGroupsOutput"
      }
    },
    "AddJobFlowSteps": {
      "documentation": "<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p> <note> <p>The string values passed into <code>HadoopJarStep</code> object cannot exceed a total of 10240 characters.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddJobFlowStepsInput"
      },
      "name": "AddJobFlowSteps",
      "output": {
        "shape": "AddJobFlowStepsOutput"
      }
    },
    "AddTags": {
      "documentation": "<p>Adds tags to an Amazon EMR resource, such as a cluster or an Amazon EMR Studio. Tags make it easier to associate resources in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsInput"
      },
      "name": "AddTags",
      "output": {
        "shape": "AddTagsOutput"
      }
    },
    "CancelSteps": {
      "documentation": "<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee that a step will be canceled, even if the request is successfully submitted. When you use Amazon EMR versions 5.28.0 and later, you can cancel steps that are in a <code>PENDING</code> or <code>RUNNING</code> state. In earlier versions of Amazon EMR, you can only cancel steps that are in a <code>PENDING</code> state. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelStepsInput"
      },
      "name": "CancelSteps",
      "output": {
        "shape": "CancelStepsOutput"
      }
    },
    "CreateSecurityConfiguration": {
      "documentation": "<p>Creates a security configuration, which is stored in the service and can be specified when a cluster is created.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSecurityConfigurationInput"
      },
      "name": "CreateSecurityConfiguration",
      "output": {
        "shape": "CreateSecurityConfigurationOutput"
      }
    },
    "CreateStudio": {
      "documentation": "<p>Creates a new Amazon EMR Studio.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStudioInput"
      },
      "name": "CreateStudio",
      "output": {
        "shape": "CreateStudioOutput"
      }
    },
    "CreateStudioSessionMapping": {
      "documentation": "<p>Maps a user or group to the Amazon EMR Studio specified by <code>StudioId</code>, and applies a session policy to refine Studio permissions for that user or group. Use <code>CreateStudioSessionMapping</code> to assign users to a Studio when you use Amazon Web Services SSO authentication. For instructions on how to assign users to a Studio when you use IAM authentication, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-manage-users.html#emr-studio-assign-users-groups\">Assign a user or group to your EMR Studio</a>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStudioSessionMappingInput"
      },
      "name": "CreateStudioSessionMapping"
    },
    "DeleteSecurityConfiguration": {
      "documentation": "<p>Deletes a security configuration.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSecurityConfigurationInput"
      },
      "name": "DeleteSecurityConfiguration",
      "output": {
        "shape": "DeleteSecurityConfigurationOutput"
      }
    },
    "DeleteStudio": {
      "documentation": "<p>Removes an Amazon EMR Studio from the Studio metadata store.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStudioInput"
      },
      "name": "DeleteStudio"
    },
    "DeleteStudioSessionMapping": {
      "documentation": "<p>Removes a user or group from an Amazon EMR Studio.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStudioSessionMappingInput"
      },
      "name": "DeleteStudioSessionMapping"
    },
    "DescribeCluster": {
      "documentation": "<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClusterInput"
      },
      "name": "DescribeCluster",
      "output": {
        "shape": "DescribeClusterOutput"
      }
    },
    "DescribeJobFlows": {
      "deprecated": true,
      "documentation": "<p>This API is no longer supported and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeJobFlowsInput"
      },
      "name": "DescribeJobFlows",
      "output": {
        "shape": "DescribeJobFlowsOutput"
      }
    },
    "DescribeNotebookExecution": {
      "documentation": "<p>Provides details of a notebook execution.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotebookExecutionInput"
      },
      "name": "DescribeNotebookExecution",
      "output": {
        "shape": "DescribeNotebookExecutionOutput"
      }
    },
    "DescribeReleaseLabel": {
      "documentation": "<p>Provides EMR release label details, such as releases available the region where the API request is run, and the available applications for a specific EMR release label. Can also list EMR release versions that support a specified version of Spark.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReleaseLabelInput"
      },
      "name": "DescribeReleaseLabel",
      "output": {
        "shape": "DescribeReleaseLabelOutput"
      }
    },
    "DescribeSecurityConfiguration": {
      "documentation": "<p>Provides the details of a security configuration by returning the configuration JSON.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityConfigurationInput"
      },
      "name": "DescribeSecurityConfiguration",
      "output": {
        "shape": "DescribeSecurityConfigurationOutput"
      }
    },
    "DescribeStep": {
      "documentation": "<p>Provides more detail about the cluster step.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStepInput"
      },
      "name": "DescribeStep",
      "output": {
        "shape": "DescribeStepOutput"
      }
    },
    "DescribeStudio": {
      "documentation": "<p>Returns details for the specified Amazon EMR Studio including ID, Name, VPC, Studio access URL, and so on.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStudioInput"
      },
      "name": "DescribeStudio",
      "output": {
        "shape": "DescribeStudioOutput"
      }
    },
    "GetAutoTerminationPolicy": {
      "documentation": "<p>Returns the auto-termination policy for an Amazon EMR cluster.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAutoTerminationPolicyInput"
      },
      "name": "GetAutoTerminationPolicy",
      "output": {
        "shape": "GetAutoTerminationPolicyOutput"
      }
    },
    "GetBlockPublicAccessConfiguration": {
      "documentation": "<p>Returns the Amazon EMR block public access configuration for your Amazon Web Services account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlockPublicAccessConfigurationInput"
      },
      "name": "GetBlockPublicAccessConfiguration",
      "output": {
        "shape": "GetBlockPublicAccessConfigurationOutput"
      }
    },
    "GetManagedScalingPolicy": {
      "documentation": "<p>Fetches the attached managed scaling policy for an Amazon EMR cluster. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetManagedScalingPolicyInput"
      },
      "name": "GetManagedScalingPolicy",
      "output": {
        "shape": "GetManagedScalingPolicyOutput"
      }
    },
    "GetStudioSessionMapping": {
      "documentation": "<p>Fetches mapping details for the specified Amazon EMR Studio and identity (user or group).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetStudioSessionMappingInput"
      },
      "name": "GetStudioSessionMapping",
      "output": {
        "shape": "GetStudioSessionMappingOutput"
      }
    },
    "ListBootstrapActions": {
      "documentation": "<p>Provides information about the bootstrap actions associated with a cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBootstrapActionsInput"
      },
      "name": "ListBootstrapActions",
      "output": {
        "shape": "ListBootstrapActionsOutput"
      }
    },
    "ListClusters": {
      "documentation": "<p>Provides the status of all clusters visible to this Amazon Web Services account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters in unsorted order per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListClustersInput"
      },
      "name": "ListClusters",
      "output": {
        "shape": "ListClustersOutput"
      }
    },
    "ListInstanceFleets": {
      "documentation": "<p>Lists all available details about the instance fleets in a cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstanceFleetsInput"
      },
      "name": "ListInstanceFleets",
      "output": {
        "shape": "ListInstanceFleetsOutput"
      }
    },
    "ListInstanceGroups": {
      "documentation": "<p>Provides all available details about the instance groups in a cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstanceGroupsInput"
      },
      "name": "ListInstanceGroups",
      "output": {
        "shape": "ListInstanceGroupsOutput"
      }
    },
    "ListInstances": {
      "documentation": "<p>Provides information for all active EC2 instances and EC2 instances terminated in the last 30 days, up to a maximum of 2,000. EC2 instances in any of the following states are considered active: AWAITING_FULFILLMENT, PROVISIONING, BOOTSTRAPPING, RUNNING.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstancesInput"
      },
      "name": "ListInstances",
      "output": {
        "shape": "ListInstancesOutput"
      }
    },
    "ListNotebookExecutions": {
      "documentation": "<p>Provides summaries of all notebook executions. You can filter the list based on multiple criteria such as status, time range, and editor id. Returns a maximum of 50 notebook executions and a marker to track the paging of a longer notebook execution list across multiple <code>ListNotebookExecution</code> calls.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNotebookExecutionsInput"
      },
      "name": "ListNotebookExecutions",
      "output": {
        "shape": "ListNotebookExecutionsOutput"
      }
    },
    "ListReleaseLabels": {
      "documentation": "<p>Retrieves release labels of EMR services in the region where the API is called.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReleaseLabelsInput"
      },
      "name": "ListReleaseLabels",
      "output": {
        "shape": "ListReleaseLabelsOutput"
      }
    },
    "ListSecurityConfigurations": {
      "documentation": "<p>Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSecurityConfigurationsInput"
      },
      "name": "ListSecurityConfigurations",
      "output": {
        "shape": "ListSecurityConfigurationsOutput"
      }
    },
    "ListSteps": {
      "documentation": "<p>Provides a list of steps for the cluster in reverse order unless you specify <code>stepIds</code> with the request or filter by <code>StepStates</code>. You can specify a maximum of 10 <code>stepIDs</code>. The CLI automatically paginates results to return a list greater than 50 steps. To return more than 50 steps using the CLI, specify a <code>Marker</code>, which is a pagination token that indicates the next set of steps to retrieve.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStepsInput"
      },
      "name": "ListSteps",
      "output": {
        "shape": "ListStepsOutput"
      }
    },
    "ListStudioSessionMappings": {
      "documentation": "<p>Returns a list of all user or group session mappings for the Amazon EMR Studio specified by <code>StudioId</code>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStudioSessionMappingsInput"
      },
      "name": "ListStudioSessionMappings",
      "output": {
        "shape": "ListStudioSessionMappingsOutput"
      }
    },
    "ListStudios": {
      "documentation": "<p>Returns a list of all Amazon EMR Studios associated with the Amazon Web Services account. The list includes details such as ID, Studio Access URL, and creation time for each Studio.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStudiosInput"
      },
      "name": "ListStudios",
      "output": {
        "shape": "ListStudiosOutput"
      }
    },
    "ModifyCluster": {
      "documentation": "<p>Modifies the number of steps that can be executed concurrently for the cluster specified using ClusterID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyClusterInput"
      },
      "name": "ModifyCluster",
      "output": {
        "shape": "ModifyClusterOutput"
      }
    },
    "ModifyInstanceFleet": {
      "documentation": "<p>Modifies the target On-Demand and target Spot capacities for the instance fleet with the specified InstanceFleetID within the cluster specified using ClusterID. The call either succeeds or fails atomically.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyInstanceFleetInput"
      },
      "name": "ModifyInstanceFleet"
    },
    "ModifyInstanceGroups": {
      "documentation": "<p>ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyInstanceGroupsInput"
      },
      "name": "ModifyInstanceGroups"
    },
    "PutAutoScalingPolicy": {
      "documentation": "<p>Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAutoScalingPolicyInput"
      },
      "name": "PutAutoScalingPolicy",
      "output": {
        "shape": "PutAutoScalingPolicyOutput"
      }
    },
    "PutAutoTerminationPolicy": {
      "documentation": "<note> <p>Auto-termination is supported in Amazon EMR versions 5.30.0 and 6.1.0 and later. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-auto-termination-policy.html\">Using an auto-termination policy</a>.</p> </note> <p>Creates or updates an auto-termination policy for an Amazon EMR cluster. An auto-termination policy defines the amount of idle time in seconds after which a cluster automatically terminates. For alternative cluster termination options, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-termination.html\">Control cluster termination</a>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAutoTerminationPolicyInput"
      },
      "name": "PutAutoTerminationPolicy",
      "output": {
        "shape": "PutAutoTerminationPolicyOutput"
      }
    },
    "PutBlockPublicAccessConfiguration": {
      "documentation": "<p>Creates or updates an Amazon EMR block public access configuration for your Amazon Web Services account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutBlockPublicAccessConfigurationInput"
      },
      "name": "PutBlockPublicAccessConfiguration",
      "output": {
        "shape": "PutBlockPublicAccessConfigurationOutput"
      }
    },
    "PutManagedScalingPolicy": {
      "documentation": "<p>Creates or updates a managed scaling policy for an Amazon EMR cluster. The managed scaling policy defines the limits for resources, such as EC2 instances that can be added or terminated from a cluster. The policy only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutManagedScalingPolicyInput"
      },
      "name": "PutManagedScalingPolicy",
      "output": {
        "shape": "PutManagedScalingPolicyOutput"
      }
    },
    "RemoveAutoScalingPolicy": {
      "documentation": "<p>Removes an automatic scaling policy from a specified instance group within an EMR cluster.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveAutoScalingPolicyInput"
      },
      "name": "RemoveAutoScalingPolicy",
      "output": {
        "shape": "RemoveAutoScalingPolicyOutput"
      }
    },
    "RemoveAutoTerminationPolicy": {
      "documentation": "<p>Removes an auto-termination policy from an Amazon EMR cluster.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveAutoTerminationPolicyInput"
      },
      "name": "RemoveAutoTerminationPolicy",
      "output": {
        "shape": "RemoveAutoTerminationPolicyOutput"
      }
    },
    "RemoveManagedScalingPolicy": {
      "documentation": "<p> Removes a managed scaling policy from a specified EMR cluster. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveManagedScalingPolicyInput"
      },
      "name": "RemoveManagedScalingPolicy",
      "output": {
        "shape": "RemoveManagedScalingPolicyOutput"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes tags from an Amazon EMR resource, such as a cluster or Amazon EMR Studio. Tags make it easier to associate resources in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsInput"
      },
      "name": "RemoveTags",
      "output": {
        "shape": "RemoveTagsOutput"
      }
    },
    "RunJobFlow": {
      "documentation": "<p>RunJobFlow creates and starts running a new cluster (job flow). The cluster runs the steps specified. After the steps complete, the cluster stops and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the cluster transitions to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the cluster and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>For long running clusters, we recommend that you periodically store your results.</p> <note> <p>The instance fleets configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions. The RunJobFlow request can contain InstanceFleets parameters or InstanceGroups parameters, but not both.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RunJobFlowInput"
      },
      "name": "RunJobFlow",
      "output": {
        "shape": "RunJobFlowOutput"
      }
    },
    "SetTerminationProtection": {
      "documentation": "<p>SetTerminationProtection locks a cluster (job flow) so the EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling <code>SetTerminationProtection</code> on a cluster is similar to calling the Amazon EC2 <code>DisableAPITermination</code> API on all EC2 instances in a cluster.</p> <p> <code>SetTerminationProtection</code> is used to prevent accidental termination of a cluster and to ensure that in the event of an error, the instances persist so that you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a cluster that has been locked by setting <code>SetTerminationProtection</code> to <code>true</code>, you must first unlock the job flow by a subsequent call to <code>SetTerminationProtection</code> in which you set the value to <code>false</code>. </p> <p> For more information, see<a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html\">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTerminationProtectionInput"
      },
      "name": "SetTerminationProtection"
    },
    "SetVisibleToAllUsers": {
      "documentation": "<important> <p>The SetVisibleToAllUsers parameter is no longer supported. Your cluster may be visible to all users in your account. To restrict cluster access using an IAM policy, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-access-iam.html\">Identity and Access Management for EMR</a>. </p> </important> <p>Sets the <a>Cluster$VisibleToAllUsers</a> value for an EMR cluster. When <code>true</code>, IAM principals in the Amazon Web Services account can perform EMR cluster actions that their IAM policies allow. When <code>false</code>, only the IAM principal that created the cluster and the Amazon Web Services account root user can perform EMR actions on the cluster, regardless of IAM permissions policies attached to other IAM principals.</p> <p>This action works on running clusters. When you create a cluster, use the <a>RunJobFlowInput$VisibleToAllUsers</a> parameter.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/security_iam_emr-with-iam.html#security_set_visible_to_all_users\">Understanding the EMR Cluster VisibleToAllUsers Setting</a> in the <i>Amazon EMRManagement Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetVisibleToAllUsersInput"
      },
      "name": "SetVisibleToAllUsers"
    },
    "StartNotebookExecution": {
      "documentation": "<p>Starts a notebook execution.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartNotebookExecutionInput"
      },
      "name": "StartNotebookExecution",
      "output": {
        "shape": "StartNotebookExecutionOutput"
      }
    },
    "StopNotebookExecution": {
      "documentation": "<p>Stops a notebook execution.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopNotebookExecutionInput"
      },
      "name": "StopNotebookExecution"
    },
    "TerminateJobFlows": {
      "documentation": "<p>TerminateJobFlows shuts a list of clusters (job flows) down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the cluster is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the cluster was created.</p> <p>The maximum number of clusters allowed is 10. The call to <code>TerminateJobFlows</code> is asynchronous. Depending on the configuration of the cluster, it may take up to 1-5 minutes for the cluster to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateJobFlowsInput"
      },
      "name": "TerminateJobFlows"
    },
    "UpdateStudio": {
      "documentation": "<p>Updates an Amazon EMR Studio configuration, including attributes such as name, description, and subnets.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStudioInput"
      },
      "name": "UpdateStudio"
    },
    "UpdateStudioSessionMapping": {
      "documentation": "<p>Updates the session policy attached to the user or group for the specified Amazon EMR Studio.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStudioSessionMappingInput"
      },
      "name": "UpdateStudioSessionMapping"
    }
  },
  "shapes": {
    "ActionOnFailure": {
      "enum": [
        "TERMINATE_JOB_FLOW",
        "TERMINATE_CLUSTER",
        "CANCEL_AND_WAIT",
        "CONTINUE"
      ],
      "type": "string"
    },
    "AddInstanceFleetInput": {
      "members": {
        "ClusterId": {
          "documentation": "<p>The unique identifier of the cluster.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "InstanceFleet": {
          "documentation": "<p>Specifies the configuration of the instance fleet.</p>",
          "shape": "InstanceFleetConfig"
        }
      },
      "required": [
        "ClusterId",
        "InstanceFleet"
      ],
      "type": "structure"
    },
    "AddInstanceFleetOutput": {
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "ClusterId": {
          "documentation": "<p>The unique identifier of the cluster.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "InstanceFleetId": {
          "documentation": "<p>The unique identifier of the instance fleet.</p>",
          "shape": "InstanceFleetId"
        }
      },
      "type": "structure"
    },
    "AddInstanceGroupsInput": {
      "documentation": "<p>Input to an AddInstanceGroups call.</p>",
      "members": {
        "InstanceGroups": {
          "documentation": "<p>Instance groups to add.</p>",
          "shape": "InstanceGroupConfigList"
        },
        "JobFlowId": {
          "documentation": "<p>Job flow in which to add the instance groups.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "InstanceGroups",
        "JobFlowId"
      ],
      "type": "structure"
    },
    "AddInstanceGroupsOutput": {
      "documentation": "<p>Output from an AddInstanceGroups call.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "InstanceGroupIds": {
          "documentation": "<p>Instance group IDs of the newly created instance groups.</p>",
          "shape": "InstanceGroupIdsList"
        },
        "JobFlowId": {
          "documentation": "<p>The job flow ID in which the instance groups are added.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "type": "structure"
    },
    "AddJobFlowStepsInput": {
      "documentation": "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>",
      "members": {
        "ExecutionRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the runtime role for a step on the cluster. The runtime role can be a cross-account IAM role. The runtime role ARN is a combination of account ID, role name, and role type using the following format: <code>arn:partition:service:region:account:resource</code>. </p> <p>For example, <code>arn:aws:iam::1234567890:role/ReadOnly</code> is a correctly formatted runtime role ARN.</p>",
          "shape": "ArnType"
        },
        "JobFlowId": {
          "documentation": "<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>",
          "shape": "XmlStringMaxLen256"
        },
        "Steps": {
          "documentation": "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
          "shape": "StepConfigList"
        }
      },
      "required": [
        "JobFlowId",
        "Steps"
      ],
      "type": "structure"
    },
    "AddJobFlowStepsOutput": {
      "documentation": "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>",
      "members": {
        "StepIds": {
          "documentation": "<p>The identifiers of the list of steps added to the job flow.</p>",
          "shape": "StepIdsList"
        }
      },
      "type": "structure"
    },
    "AddTagsInput": {
      "documentation": "<p>This input identifies an Amazon EMR resource and a list of tags to attach.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>The Amazon EMR resource identifier to which tags will be added. For example, a cluster identifier or an Amazon EMR Studio ID.</p>",
          "shape": "ResourceId"
        },
        "Tags": {
          "documentation": "<p>A list of tags to associate with a resource. Tags are user-defined key-value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceId",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsOutput": {
      "documentation": "<p>This output indicates the result of adding tags to a resource.</p>",
      "members": {},
      "type": "structure"
    },
    "AdjustmentType": {
      "enum": [
        "CHANGE_IN_CAPACITY",
        "PERCENT_CHANGE_IN_CAPACITY",
        "EXACT_CAPACITY"
      ],
      "type": "string"
    },
    "Application": {
      "documentation": "<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is the application name. To pass arguments to applications, you use configuration classifications specified using configuration JSON objects. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p> <p>With earlier Amazon EMR releases, the application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument.</p>",
      "members": {
        "AdditionalInfo": {
          "documentation": "<p>This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.</p>",
          "shape": "StringMap"
        },
        "Args": {
          "documentation": "<p>Arguments for Amazon EMR to pass to the application.</p>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "String"
        },
        "Version": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApplicationList": {
      "member": {
        "shape": "Application"
      },
      "type": "list"
    },
    "ArnType": {
      "max": 2048,
      "min": 20,
      "type": "string"
    },
    "AuthMode": {
      "enum": [
        "SSO",
        "IAM"
      ],
      "type": "string"
    },
    "AutoScalingPolicy": {
      "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>",
      "members": {
        "Constraints": {
          "documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>",
          "shape": "ScalingConstraints"
        },
        "Rules": {
          "documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
          "shape": "ScalingRuleList"
        }
      },
      "required": [
        "Constraints",
        "Rules"
      ],
      "type": "structure"
    },
    "AutoScalingPolicyDescription": {
      "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>",
      "members": {
        "Constraints": {
          "documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>",
          "shape": "ScalingConstraints"
        },
        "Rules": {
          "documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
          "shape": "ScalingRuleList"
        },
        "Status": {
          "documentation": "<p>The status of an automatic scaling policy. </p>",
          "shape": "AutoScalingPolicyStatus"
        }
      },
      "type": "structure"
    },
    "AutoScalingPolicyState": {
      "enum": [
        "PENDING",
        "ATTACHING",
        "ATTACHED",
        "DETACHING",
        "DETACHED",
        "FAILED"
      ],
      "type": "string"
    },
    "AutoScalingPolicyStateChangeReason": {
      "documentation": "<p>The reason for an <a>AutoScalingPolicyStatus</a> change.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.</p>",
          "shape": "AutoScalingPolicyStateChangeReasonCode"
        },
        "Message": {
          "documentation": "<p>A friendly, more verbose message that accompanies an automatic scaling policy state change.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AutoScalingPolicyStateChangeReasonCode": {
      "enum": [
        "USER_REQUEST",
        "PROVISION_FAILURE",
        "CLEANUP_FAILURE"
      ],
      "type": "string"
    },
    "AutoScalingPolicyStatus": {
      "documentation": "<p>The status of an automatic scaling policy. </p>",
      "members": {
        "State": {
          "documentation": "<p>Indicates the status of the automatic scaling policy.</p>",
          "shape": "AutoScalingPolicyState"
        },
        "StateChangeReason": {
          "documentation": "<p>The reason for a change in status.</p>",
          "shape": "AutoScalingPolicyStateChangeReason"
        }
      },
      "type": "structure"
    },
    "AutoTerminationPolicy": {
      "documentation": "<p>An auto-termination policy for an Amazon EMR cluster. An auto-termination policy defines the amount of idle time in seconds after which a cluster automatically terminates. For alternative cluster termination options, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-termination.html\">Control cluster termination</a>.</p>",
      "members": {
        "IdleTimeout": {
          "documentation": "<p>Specifies the amount of idle time in seconds after which the cluster automatically terminates. You can specify a minimum of 60 seconds and a maximum of 604800 seconds (seven days).</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "BlockPublicAccessConfiguration": {
      "documentation": "<p>A configuration for Amazon EMR block public access. When <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster's security groups has a rule that allows inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>",
      "members": {
        "BlockPublicSecurityGroupRules": {
          "documentation": "<p>Indicates whether Amazon EMR block public access is enabled (<code>true</code>) or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts that have created EMR clusters before July 2019. For accounts created after this, the default is <code>true</code>.</p>",
          "shape": "Boolean"
        },
        "PermittedPublicSecurityGroupRuleRanges": {
          "documentation": "<p>Specifies ports and port ranges that are permitted to have security group rules that allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR allows cluster creation if a security group associated with the cluster has a rule that allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the source.</p> <p>By default, Port 22, which is used for SSH access to the cluster EC2 instances, is in the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>",
          "shape": "PortRanges"
        }
      },
      "required": [
        "BlockPublicSecurityGroupRules"
      ],
      "type": "structure"
    },
    "BlockPublicAccessConfigurationMetadata": {
      "documentation": "<p>Properties that describe the Amazon Web Services principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>",
      "members": {
        "CreatedByArn": {
          "documentation": "<p>The Amazon Resource Name that created or last modified the configuration.</p>",
          "shape": "ArnType"
        },
        "CreationDateTime": {
          "documentation": "<p>The date and time that the configuration was created.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "CreationDateTime",
        "CreatedByArn"
      ],
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BootstrapActionConfig": {
      "documentation": "<p>Configuration of a bootstrap action.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the bootstrap action.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "ScriptBootstrapAction": {
          "documentation": "<p>The script run by the bootstrap action.</p>",
          "shape": "ScriptBootstrapActionConfig"
        }
      },
      "required": [
        "Name",
        "ScriptBootstrapAction"
      ],
      "type": "structure"
    },
    "BootstrapActionConfigList": {
      "member": {
        "shape": "BootstrapActionConfig"
      },
      "type": "list"
    },
    "BootstrapActionDetail": {
      "documentation": "<p>Reports the configuration of a bootstrap action in a cluster (job flow).</p>",
      "members": {
        "BootstrapActionConfig": {
          "documentation": "<p>A description of the bootstrap action.</p>",
          "shape": "BootstrapActionConfig"
        }
      },
      "type": "structure"
    },
    "BootstrapActionDetailList": {
      "member": {
        "shape": "BootstrapActionDetail"
      },
      "type": "list"
    },
    "CancelStepsInfo": {
      "documentation": "<p>Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.</p>",
      "members": {
        "Reason": {
          "documentation": "<p>The reason for the failure if the CancelSteps request fails.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.</p>",
          "shape": "CancelStepsRequestStatus"
        },
        "StepId": {
          "documentation": "<p>The encrypted StepId of a step.</p>",
          "shape": "StepId"
        }
      },
      "type": "structure"
    },
    "CancelStepsInfoList": {
      "member": {
        "shape": "CancelStepsInfo"
      },
      "type": "list"
    },
    "CancelStepsInput": {
      "documentation": "<p>The input argument to the <a>CancelSteps</a> operation.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The <code>ClusterID</code> for the specified steps that will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. </p>",
          "shape": "XmlStringMaxLen256"
        },
        "StepCancellationOption": {
          "documentation": "<p>The option to choose to cancel <code>RUNNING</code> steps. By default, the value is <code>SEND_INTERRUPT</code>.</p>",
          "shape": "StepCancellationOption"
        },
        "StepIds": {
          "documentation": "<p>The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.</p>",
          "shape": "StepIdsList"
        }
      },
      "required": [
        "ClusterId",
        "StepIds"
      ],
      "type": "structure"
    },
    "CancelStepsOutput": {
      "documentation": "<p> The output for the <a>CancelSteps</a> operation. </p>",
      "members": {
        "CancelStepsInfoList": {
          "documentation": "<p>A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.</p>",
          "shape": "CancelStepsInfoList"
        }
      },
      "type": "structure"
    },
    "CancelStepsRequestStatus": {
      "enum": [
        "SUBMITTED",
        "FAILED"
      ],
      "type": "string"
    },
    "CloudWatchAlarmDefinition": {
      "documentation": "<p>The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.</p>",
      "members": {
        "ComparisonOperator": {
          "documentation": "<p>Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.</p>",
          "shape": "ComparisonOperator"
        },
        "Dimensions": {
          "documentation": "<p>A CloudWatch metric dimension.</p>",
          "shape": "MetricDimensionList"
        },
        "EvaluationPeriods": {
          "documentation": "<p>The number of periods, in five-minute increments, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.</p>",
          "shape": "Integer"
        },
        "MetricName": {
          "documentation": "<p>The name of the CloudWatch metric that is watched to determine an alarm condition.</p>",
          "shape": "String"
        },
        "Namespace": {
          "documentation": "<p>The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.</p>",
          "shape": "String"
        },
        "Period": {
          "documentation": "<p>The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified, specify <code>300</code>.</p>",
          "shape": "Integer"
        },
        "Statistic": {
          "documentation": "<p>The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.</p>",
          "shape": "Statistic"
        },
        "Threshold": {
          "documentation": "<p>The value against which the specified statistic is compared.</p>",
          "shape": "NonNegativeDouble"
        },
        "Unit": {
          "documentation": "<p>The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.</p>",
          "shape": "Unit"
        }
      },
      "required": [
        "ComparisonOperator",
        "MetricName",
        "Period",
        "Threshold"
      ],
      "type": "structure"
    },
    "Cluster": {
      "documentation": "<p>The detailed description of the cluster.</p>",
      "members": {
        "Applications": {
          "documentation": "<p>The applications installed on this cluster.</p>",
          "shape": "ApplicationList"
        },
        "AutoScalingRole": {
          "documentation": "<p>An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate EC2 instances in an instance group.</p>",
          "shape": "XmlString"
        },
        "AutoTerminate": {
          "documentation": "<p>Specifies whether the cluster should terminate after completing all steps.</p>",
          "shape": "Boolean"
        },
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "Configurations": {
          "documentation": "<p>Applies only to Amazon EMR releases 4.x and later. The list of Configurations supplied to the EMR cluster.</p>",
          "shape": "ConfigurationList"
        },
        "CustomAmiId": {
          "documentation": "<p>Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "EbsRootVolumeSize": {
          "documentation": "<p>The size, in GiB, of the Amazon EBS root device volume of the Linux AMI that is used for each EC2 instance. Available in Amazon EMR version 4.x and later.</p>",
          "shape": "Integer"
        },
        "Ec2InstanceAttributes": {
          "documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>",
          "shape": "Ec2InstanceAttributes"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the cluster.</p>",
          "shape": "ClusterId"
        },
        "InstanceCollectionType": {
          "documentation": "<note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>",
          "shape": "InstanceCollectionType"
        },
        "KerberosAttributes": {
          "documentation": "<p>Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use Kerberos Authentication</a> in the <i>Amazon EMR Management Guide</i>.</p>",
          "shape": "KerberosAttributes"
        },
        "LogEncryptionKmsKeyId": {
          "documentation": "<p> The KMS key used for encrypting log files. This attribute is only available with EMR version 5.30.0 and later, excluding EMR 6.0.0. </p>",
          "shape": "String"
        },
        "LogUri": {
          "documentation": "<p>The path to the Amazon S3 location where logs for this cluster are stored.</p>",
          "shape": "String"
        },
        "MasterPublicDnsName": {
          "documentation": "<p>The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "String"
        },
        "NormalizedInstanceHours": {
          "documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>",
          "shape": "Integer"
        },
        "OSReleaseLabel": {
          "documentation": "<p>The Amazon Linux release specified in a cluster launch RunJobFlow request. If no Amazon Linux release was specified, the default Amazon Linux release is shown in the response.</p>",
          "shape": "String"
        },
        "OutpostArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>",
          "shape": "OptionalArnType"
        },
        "PlacementGroups": {
          "documentation": "<p>Placement group configured for an Amazon EMR cluster.</p>",
          "shape": "PlacementGroupConfigList"
        },
        "ReleaseLabel": {
          "documentation": "<p>The Amazon EMR release label, which determines the version of open-source application packages installed on the cluster. Release labels are in the form <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as <code>emr-5.14.0</code>. For more information about Amazon EMR release versions and included application versions and features, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/\">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.</p>",
          "shape": "String"
        },
        "RepoUpgradeOnBoot": {
          "documentation": "<p>Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that are applied from the Amazon Linux AMI package repositories when an instance boots using the AMI.</p>",
          "shape": "RepoUpgradeOnBoot"
        },
        "RequestedAmiVersion": {
          "documentation": "<p>The AMI version requested for this cluster.</p>",
          "shape": "String"
        },
        "RunningAmiVersion": {
          "documentation": "<p>The AMI version running on this cluster.</p>",
          "shape": "String"
        },
        "ScaleDownBehavior": {
          "documentation": "<p>The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR adds nodes to a deny list and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.</p>",
          "shape": "ScaleDownBehavior"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The name of the security configuration applied to the cluster.</p>",
          "shape": "XmlString"
        },
        "ServiceRole": {
          "documentation": "<p>The IAM role that Amazon EMR assumes in order to access Amazon Web Services resources on your behalf.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The current status details about the cluster.</p>",
          "shape": "ClusterStatus"
        },
        "StepConcurrencyLevel": {
          "documentation": "<p>Specifies the number of steps that can be executed concurrently.</p>",
          "shape": "Integer"
        },
        "Tags": {
          "documentation": "<p>A list of tags associated with a cluster.</p>",
          "shape": "TagList"
        },
        "TerminationProtected": {
          "documentation": "<p>Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.</p>",
          "shape": "Boolean"
        },
        "VisibleToAllUsers": {
          "documentation": "<p>Indicates whether the cluster is visible to IAM principals in the Amazon Web Services account associated with the cluster. When <code>true</code>, IAM principals in the Amazon Web Services account can perform EMR cluster actions on the cluster that their IAM policies allow. When <code>false</code>, only the IAM principal that created the cluster and the Amazon Web Services account root user can perform EMR actions, regardless of IAM permissions policies attached to other IAM principals.</p> <p>The default value is <code>true</code> if a value is not provided when creating a cluster using the EMR API <a>RunJobFlow</a> command, the CLI <a href=\"https://docs.aws.amazon.com/cli/latest/reference/emr/create-cluster.html\">create-cluster</a> command, or the Amazon Web Services Management Console.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ClusterId": {
      "type": "string"
    },
    "ClusterState": {
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "TERMINATING",
        "TERMINATED",
        "TERMINATED_WITH_ERRORS"
      ],
      "type": "string"
    },
    "ClusterStateChangeReason": {
      "documentation": "<p>The reason that the cluster changed to its current state.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The programmatic code for the state change reason.</p>",
          "shape": "ClusterStateChangeReasonCode"
        },
        "Message": {
          "documentation": "<p>The descriptive message for the state change reason.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ClusterStateChangeReasonCode": {
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "INSTANCE_FLEET_TIMEOUT",
        "BOOTSTRAP_FAILURE",
        "USER_REQUEST",
        "STEP_FAILURE",
        "ALL_STEPS_COMPLETED"
      ],
      "type": "string"
    },
    "ClusterStateList": {
      "member": {
        "shape": "ClusterState"
      },
      "type": "list"
    },
    "ClusterStatus": {
      "documentation": "<p>The detailed status of the cluster.</p>",
      "members": {
        "State": {
          "documentation": "<p>The current state of the cluster.</p>",
          "shape": "ClusterState"
        },
        "StateChangeReason": {
          "documentation": "<p>The reason for the cluster status change.</p>",
          "shape": "ClusterStateChangeReason"
        },
        "Timeline": {
          "documentation": "<p>A timeline that represents the status of a cluster over the lifetime of the cluster.</p>",
          "shape": "ClusterTimeline"
        }
      },
      "type": "structure"
    },
    "ClusterSummary": {
      "documentation": "<p>The summary description of the cluster.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the cluster.</p>",
          "shape": "ClusterId"
        },
        "Name": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "String"
        },
        "NormalizedInstanceHours": {
          "documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>",
          "shape": "Integer"
        },
        "OutpostArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>",
          "shape": "OptionalArnType"
        },
        "Status": {
          "documentation": "<p>The details about the current status of the cluster.</p>",
          "shape": "ClusterStatus"
        }
      },
      "type": "structure"
    },
    "ClusterSummaryList": {
      "member": {
        "shape": "ClusterSummary"
      },
      "type": "list"
    },
    "ClusterTimeline": {
      "documentation": "<p>Represents the timeline of the cluster's lifecycle.</p>",
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The creation date and time of the cluster.</p>",
          "shape": "Date"
        },
        "EndDateTime": {
          "documentation": "<p>The date and time when the cluster was terminated.</p>",
          "shape": "Date"
        },
        "ReadyDateTime": {
          "documentation": "<p>The date and time when the cluster was ready to run steps.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "Command": {
      "documentation": "<p>An entity describing an executable that runs on a cluster.</p>",
      "members": {
        "Args": {
          "documentation": "<p>Arguments for Amazon EMR to pass to the command for execution.</p>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>The name of the command.</p>",
          "shape": "String"
        },
        "ScriptPath": {
          "documentation": "<p>The Amazon S3 location of the command script.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CommandList": {
      "member": {
        "shape": "Command"
      },
      "type": "list"
    },
    "ComparisonOperator": {
      "enum": [
        "GREATER_THAN_OR_EQUAL",
        "GREATER_THAN",
        "LESS_THAN",
        "LESS_THAN_OR_EQUAL"
      ],
      "type": "string"
    },
    "ComputeLimits": {
      "documentation": "<p> The EC2 unit limits for a managed scaling policy. The managed scaling activity of a cluster can not be above or below these limits. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>",
      "members": {
        "MaximumCapacityUnits": {
          "documentation": "<p> The upper boundary of EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. Managed scaling activities are not allowed beyond this boundary. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>",
          "shape": "Integer"
        },
        "MaximumCoreCapacityUnits": {
          "documentation": "<p> The upper boundary of EC2 units for core node type in a cluster. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. The core units are not allowed to scale beyond this boundary. The parameter is used to split capacity allocation between core and task nodes. </p>",
          "shape": "Integer"
        },
        "MaximumOnDemandCapacityUnits": {
          "documentation": "<p> The upper boundary of On-Demand EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. The On-Demand units are not allowed to scale beyond this boundary. The parameter is used to split capacity allocation between On-Demand and Spot Instances. </p>",
          "shape": "Integer"
        },
        "MinimumCapacityUnits": {
          "documentation": "<p> The lower boundary of EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. Managed scaling activities are not allowed beyond this boundary. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>",
          "shape": "Integer"
        },
        "UnitType": {
          "documentation": "<p> The unit type used for specifying a managed scaling policy. </p>",
          "shape": "ComputeLimitsUnitType"
        }
      },
      "required": [
        "UnitType",
        "MinimumCapacityUnits",
        "MaximumCapacityUnits"
      ],
      "type": "structure"
    },
    "ComputeLimitsUnitType": {
      "enum": [
        "InstanceFleetUnits",
        "Instances",
        "VCPU"
      ],
      "type": "string"
    },
    "Configuration": {
      "documentation": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>",
      "members": {
        "Classification": {
          "documentation": "<p>The classification within a configuration.</p>",
          "shape": "String"
        },
        "Configurations": {
          "documentation": "<p>A list of additional configurations to apply within a configuration object.</p>",
          "shape": "ConfigurationList"
        },
        "Properties": {
          "documentation": "<p>A set of properties specified within a configuration classification.</p>",
          "shape": "StringMap"
        }
      },
      "type": "structure"
    },
    "ConfigurationList": {
      "member": {
        "shape": "Configuration"
      },
      "type": "list"
    },
    "CreateSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The security configuration details in JSON format. For JSON parameters and examples, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "SecurityConfiguration"
      ],
      "type": "structure"
    },
    "CreateSecurityConfigurationOutput": {
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The date and time the security configuration was created.</p>",
          "shape": "Date"
        },
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name",
        "CreationDateTime"
      ],
      "type": "structure"
    },
    "CreateStudioInput": {
      "members": {
        "AuthMode": {
          "documentation": "<p>Specifies whether the Studio authenticates users using IAM or Amazon Web Services SSO.</p>",
          "shape": "AuthMode"
        },
        "DefaultS3Location": {
          "documentation": "<p>The Amazon S3 location to back up Amazon EMR Studio Workspaces and notebook files.</p>",
          "shape": "XmlString"
        },
        "Description": {
          "documentation": "<p>A detailed description of the Amazon EMR Studio.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "EngineSecurityGroupId": {
          "documentation": "<p>The ID of the Amazon EMR Studio Engine security group. The Engine security group allows inbound network traffic from the Workspace security group, and it must be in the same VPC specified by <code>VpcId</code>.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "IdpAuthUrl": {
          "documentation": "<p>The authentication endpoint of your identity provider (IdP). Specify this value when you use IAM authentication and want to let federated users log in to a Studio with the Studio URL and credentials from your IdP. Amazon EMR Studio redirects users to this endpoint to enter credentials.</p>",
          "shape": "XmlString"
        },
        "IdpRelayStateParameterName": {
          "documentation": "<p>The name that your identity provider (IdP) uses for its <code>RelayState</code> parameter. For example, <code>RelayState</code> or <code>TargetSource</code>. Specify this value when you use IAM authentication and want to let federated users log in to a Studio using the Studio URL. The <code>RelayState</code> parameter differs by IdP.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "Name": {
          "documentation": "<p>A descriptive name for the Amazon EMR Studio.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "ServiceRole": {
          "documentation": "<p>The IAM role that the Amazon EMR Studio assumes. The service role provides a way for Amazon EMR Studio to interoperate with other Amazon Web Services services.</p>",
          "shape": "XmlString"
        },
        "SubnetIds": {
          "documentation": "<p>A list of subnet IDs to associate with the Amazon EMR Studio. A Studio can have a maximum of 5 subnets. The subnets must belong to the VPC specified by <code>VpcId</code>. Studio users can create a Workspace in any of the specified subnets.</p>",
          "shape": "SubnetIdList"
        },
        "Tags": {
          "documentation": "<p>A list of tags to associate with the Amazon EMR Studio. Tags are user-defined key-value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
          "shape": "TagList"
        },
        "UserRole": {
          "documentation": "<p>The IAM user role that users and groups assume when logged in to an Amazon EMR Studio. Only specify a <code>UserRole</code> when you use Amazon Web Services SSO authentication. The permissions attached to the <code>UserRole</code> can be scoped down for each user or group using session policies.</p>",
          "shape": "XmlString"
        },
        "VpcId": {
          "documentation": "<p>The ID of the Amazon Virtual Private Cloud (Amazon VPC) to associate with the Studio.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "WorkspaceSecurityGroupId": {
          "documentation": "<p>The ID of the Amazon EMR Studio Workspace security group. The Workspace security group allows outbound network traffic to resources in the Engine security group, and it must be in the same VPC specified by <code>VpcId</code>.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "Name",
        "AuthMode",
        "VpcId",
        "SubnetIds",
        "ServiceRole",
        "WorkspaceSecurityGroupId",
        "EngineSecurityGroupId",
        "DefaultS3Location"
      ],
      "type": "structure"
    },
    "CreateStudioOutput": {
      "members": {
        "StudioId": {
          "documentation": "<p>The ID of the Amazon EMR Studio.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "Url": {
          "documentation": "<p>The unique Studio access URL.</p>",
          "shape": "XmlString"
        }
      },
      "type": "structure"
    },
    "CreateStudioSessionMappingInput": {
      "members": {
        "IdentityId": {
          "documentation": "<p>The globally unique identifier (GUID) of the user or group from the Amazon Web Services SSO Identity Store. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>Amazon Web Services SSO Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified, but not both.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "IdentityName": {
          "documentation": "<p>The name of the user or group. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>Amazon Web Services SSO Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified, but not both.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "IdentityType": {
          "documentation": "<p>Specifies whether the identity to map to the Amazon EMR Studio is a user or a group.</p>",
          "shape": "IdentityType"
        },
        "SessionPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the session policy that will be applied to the user or group. You should specify the ARN for the session policy that you want to apply, not the ARN of your user role. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-user-role.html\">Create an EMR Studio User Role with Session Policies</a>.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "StudioId": {
          "documentation": "<p>The ID of the Amazon EMR Studio to which the user or group will be mapped.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "StudioId",
        "IdentityType",
        "SessionPolicyArn"
      ],
      "type": "structure"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteSecurityConfigurationOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteStudioInput": {
      "members": {
        "StudioId": {
          "documentation": "<p>The ID of the Amazon EMR Studio.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "StudioId"
      ],
      "type": "structure"
    },
    "DeleteStudioSessionMappingInput": {
      "members": {
        "IdentityId": {
          "documentation": "<p>The globally unique identifier (GUID) of the user or group to remove from the Amazon EMR Studio. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>Amazon Web Services SSO Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "IdentityName": {
          "documentation": "<p>The name of the user name or group to remove from the Amazon EMR Studio. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>Amazon Web Services SSO Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "IdentityType": {
          "documentation": "<p>Specifies whether the identity to delete from the Amazon EMR Studio is a user or a group.</p>",
          "shape": "IdentityType"
        },
        "StudioId": {
          "documentation": "<p>The ID of the Amazon EMR Studio.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "StudioId",
        "IdentityType"
      ],
      "type": "structure"
    },
    "DescribeClusterInput": {
      "documentation": "<p>This input determines which cluster to describe.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier of the cluster to describe.</p>",
          "shape": "ClusterId"
        }
      },
      "required": [
        "ClusterId"
      ],
      "type": "structure"
    },
    "DescribeClusterOutput": {
      "documentation": "<p>This output contains the description of the cluster.</p>",
      "members": {
        "Cluster": {
          "documentation": "<p>This output contains the details for the requested cluster.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "DescribeJobFlowsInput": {
      "documentation": "<p> The input for the <a>DescribeJobFlows</a> operation. </p>",
      "members": {
        "CreatedAfter": {
          "documentation": "<p>Return only job flows created after this date and time.</p>",
          "shape": "Date"
        },
        "CreatedBefore": {
          "documentation": "<p>Return only job flows created before this date and time.</p>",
          "shape": "Date"
        },
        "JobFlowIds": {
          "documentation": "<p>Return only job flows whose job flow ID is contained in this list.</p>",
          "shape": "XmlStringList"
        },
        "JobFlowStates": {
          "documentation": "<p>Return only job flows whose state is contained in this list.</p>",
          "shape": "JobFlowExecutionStateList"
        }
      },
      "type": "structure"
    },
    "DescribeJobFlowsOutput": {
      "documentation": "<p> The output for the <a>DescribeJobFlows</a> operation. </p>",
      "members": {
        "JobFlows": {
          "documentation": "<p>A list of job flows matching the parameters supplied.</p>",
          "shape": "JobFlowDetailList"
        }
      },
      "type": "structure"
    },
    "DescribeNotebookExecutionInput": {
      "members": {
        "NotebookExecutionId": {
          "documentation": "<p>The unique identifier of the notebook execution.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "NotebookExecutionId"
      ],
      "type": "structure"
    },
    "DescribeNotebookExecutionOutput": {
      "members": {
        "NotebookExecution": {
          "documentation": "<p>Properties of the notebook execution.</p>",
          "shape": "NotebookExecution"
        }
      },
      "type": "structure"
    },
    "DescribeReleaseLabelInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Reserved for future use. Currently set to null.</p>",
          "shape": "MaxResultsNumber"
        },
        "NextToken": {
          "documentation": "<p>The pagination token. Reserved for future use. Currently set to null.</p>",
          "shape": "String"
        },
        "ReleaseLabel": {
          "documentation": "<p>The target release label to be described.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeReleaseLabelOutput": {
      "members": {
        "Applications": {
          "documentation": "<p>The list of applications available for the target release label. <code>Name</code> is the name of the application. <code>Version</code> is the concise version of the application.</p>",
          "shape": "SimplifiedApplicationList"
        },
        "AvailableOSReleases": {
          "documentation": "<p>The list of available Amazon Linux release versions for an Amazon EMR release. Contains a Label field that is formatted as shown in <a href=\"https://docs.aws.amazon.com/AL2/latest/relnotes/relnotes-al2.html\"> <i>Amazon Linux 2 Release Notes</i> </a>. For example, <a href=\"https://docs.aws.amazon.com/AL2/latest/relnotes/relnotes-20220218.html\">2.0.20220218.1</a>.</p>",
          "shape": "OSReleaseList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token. Reserved for future use. Currently set to null.</p>",
          "shape": "String"
        },
        "ReleaseLabel": {
          "documentation": "<p>The target release label described in the response.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeSecurityConfigurationOutput": {
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The date and time the security configuration was created</p>",
          "shape": "Date"
        },
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The security configuration details in JSON format.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeStepInput": {
      "documentation": "<p>This input determines which step to describe.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier of the cluster with steps to describe.</p>",
          "shape": "ClusterId"
        },
        "StepId": {
          "documentation": "<p>The identifier of the step to describe.</p>",
          "shape": "StepId"
        }
      },
      "required": [
        "ClusterId",
        "StepId"
      ],
      "type": "structure"
    },
    "DescribeStepOutput": {
      "documentation": "<p>This output contains the description of the cluster step.</p>",
      "members": {
        "Step": {
          "documentation": "<p>The step details for the requested step identifier.</p>",
          "shape": "Step"
        }
      },
      "type": "structure"
    },
    "DescribeStudioInput": {
      "members": {
        "StudioId": {
          "documentation": "<p>The Amazon EMR Studio ID.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "StudioId"
      ],
      "type": "structure"
    },
    "DescribeStudioOutput": {
      "members": {
        "Studio": {
          "documentation": "<p>The Amazon EMR Studio details.</p>",
          "shape": "Studio"
        }
      },
      "type": "structure"
    },
    "EC2InstanceIdsList": {
      "member": {
        "shape": "InstanceId"
      },
      "type": "list"
    },
    "EC2InstanceIdsToTerminateList": {
      "member": {
        "shape": "InstanceId"
      },
      "type": "list"
    },
    "EbsBlockDevice": {
      "documentation": "<p>Configuration of requested EBS block device associated with the instance group.</p>",
      "members": {
        "Device": {
          "documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>",
          "shape": "String"
        },
        "VolumeSpecification": {
          "documentation": "<p>EBS volume specifications such as volume type, IOPS, size (GiB) and throughput (MiB/s) that are requested for the EBS volume attached to an EC2 instance in the cluster.</p>",
          "shape": "VolumeSpecification"
        }
      },
      "type": "structure"
    },
    "EbsBlockDeviceConfig": {
      "documentation": "<p>Configuration of requested EBS block device associated with the instance group with count of volumes that are associated to every instance.</p>",
      "members": {
        "VolumeSpecification": {
          "documentation": "<p>EBS volume specifications such as volume type, IOPS, size (GiB) and throughput (MiB/s) that are requested for the EBS volume attached to an EC2 instance in the cluster.</p>",
          "shape": "VolumeSpecification"
        },
        "VolumesPerInstance": {
          "documentation": "<p>Number of EBS volumes with a specific volume configuration that are associated with every instance in the instance group</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "VolumeSpecification"
      ],
      "type": "structure"
    },
    "EbsBlockDeviceConfigList": {
      "member": {
        "shape": "EbsBlockDeviceConfig"
      },
      "type": "list"
    },
    "EbsBlockDeviceList": {
      "member": {
        "shape": "EbsBlockDevice"
      },
      "type": "list"
    },
    "EbsConfiguration": {
      "documentation": "<p>The Amazon EBS configuration of a cluster instance.</p>",
      "members": {
        "EbsBlockDeviceConfigs": {
          "documentation": "<p>An array of Amazon EBS volume specifications attached to a cluster instance.</p>",
          "shape": "EbsBlockDeviceConfigList"
        },
        "EbsOptimized": {
          "documentation": "<p>Indicates whether an Amazon EBS volume is EBS-optimized.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "EbsVolume": {
      "documentation": "<p>EBS block device that's attached to an EC2 instance.</p>",
      "members": {
        "Device": {
          "documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>",
          "shape": "String"
        },
        "VolumeId": {
          "documentation": "<p>The volume identifier of the EBS volume.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EbsVolumeList": {
      "member": {
        "shape": "EbsVolume"
      },
      "type": "list"
    },
    "Ec2InstanceAttributes": {
      "documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>",
      "members": {
        "AdditionalMasterSecurityGroups": {
          "documentation": "<p>A list of additional Amazon EC2 security group IDs for the master node.</p>",
          "shape": "StringList"
        },
        "AdditionalSlaveSecurityGroups": {
          "documentation": "<p>A list of additional Amazon EC2 security group IDs for the core and task nodes.</p>",
          "shape": "StringList"
        },
        "Ec2AvailabilityZone": {
          "documentation": "<p>The Availability Zone in which the cluster will run. </p>",
          "shape": "String"
        },
        "Ec2KeyName": {
          "documentation": "<p>The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named \"hadoop\".</p>",
          "shape": "String"
        },
        "Ec2SubnetId": {
          "documentation": "<p>Set this parameter to the identifier of the Amazon VPC subnet where you want the cluster to launch. If you do not specify this value, and your account supports EC2-Classic, the cluster launches in EC2-Classic.</p>",
          "shape": "String"
        },
        "EmrManagedMasterSecurityGroup": {
          "documentation": "<p>The identifier of the Amazon EC2 security group for the master node.</p>",
          "shape": "String"
        },
        "EmrManagedSlaveSecurityGroup": {
          "documentation": "<p>The identifier of the Amazon EC2 security group for the core and task nodes.</p>",
          "shape": "String"
        },
        "IamInstanceProfile": {
          "documentation": "<p>The IAM role that was specified when the cluster was launched. The EC2 instances of the cluster assume this role.</p>",
          "shape": "String"
        },
        "RequestedEc2AvailabilityZones": {
[...]
