{
  "documentation": "<p>Amazon Web Services Billing Conductor is a fully managed service that you can use to customize a <a href=\"https://docs.aws.amazon.com/enterprisebilling/6b7c01c5-b592-467e-9769-90052eaf359c/userguide/understanding-eb.html#eb-other-definitions\">pro forma</a> version of your billing data each month, to accurately show or chargeback your end customers. Amazon Web Services Billing Conductor doesn't change the way you're billed by Amazon Web Services each month by design. Instead, it provides you with a mechanism to configure, generate, and display rates to certain customers over a given billing period. You can also analyze the difference between the rates you apply to your accounting groupings relative to your actual rates from Amazon Web Services. As a result of your Amazon Web Services Billing Conductor configuration, the payer account can also see the custom rate applied on the billing details page of the <a href=\"https://console.aws.amazon.com/billing\">Amazon Web Services Billing console</a>, or configure a cost and usage report per billing group.</p> <p>This documentation shows how you can configure Amazon Web Services Billing Conductor using its API. For more information about using the <a href=\"https://console.aws.amazon.com/enterprisebilling/\">Amazon Web Services Billing Conductor</a> user interface, see the <a href=\"https://docs.aws.amazon.com/enterprisebilling/6b7c01c5-b592-467e-9769-90052eaf359c/userguide/what-is-enterprisebilling.html\"> Amazon Web Services Enterprise Billing Console User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2021-07-30",
    "endpointPrefix": "billingconductor",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWSBillingConductor",
    "serviceId": "billingconductor",
    "signatureVersion": "v4",
    "signingName": "billingconductor",
    "uid": "billingconductor-2021-07-30"
  },
  "operations": {
    "AssociateAccounts": {
      "documentation": "<p>Connects an array of account IDs in a consolidated billing family to a predefined billing group. The account IDs must be a part of the consolidated billing family during the current month, and not already associated with another billing group. The maximum number of accounts that can be associated in one call is 30. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/associate-accounts",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateAccountsInput"
      },
      "name": "AssociateAccounts",
      "output": {
        "shape": "AssociateAccountsOutput"
      }
    },
    "AssociatePricingRules": {
      "documentation": "<p>Connects an array of <code>PricingRuleArns</code> to a defined <code>PricingPlan</code>. The maximum number <code>PricingRuleArn</code> that can be associated in one call is 30. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/associate-pricing-rules",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociatePricingRulesInput"
      },
      "name": "AssociatePricingRules",
      "output": {
        "shape": "AssociatePricingRulesOutput"
      }
    },
    "BatchAssociateResourcesToCustomLineItem": {
      "documentation": "<p> Associates a batch of resources to a percentage custom line item. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/batch-associate-resources-to-custom-line-item",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchAssociateResourcesToCustomLineItemInput"
      },
      "name": "BatchAssociateResourcesToCustomLineItem",
      "output": {
        "shape": "BatchAssociateResourcesToCustomLineItemOutput"
      }
    },
    "BatchDisassociateResourcesFromCustomLineItem": {
      "documentation": "<p> Disassociates a batch of resources from a percentage custom line item. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/batch-disassociate-resources-from-custom-line-item",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchDisassociateResourcesFromCustomLineItemInput"
      },
      "name": "BatchDisassociateResourcesFromCustomLineItem",
      "output": {
        "shape": "BatchDisassociateResourcesFromCustomLineItemOutput"
      }
    },
    "CreateBillingGroup": {
      "documentation": "<p> Creates a billing group that resembles a consolidated billing family that Amazon Web Services charges, based off of the predefined pricing plan computation. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-billing-group",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBillingGroupInput"
      },
      "name": "CreateBillingGroup",
      "output": {
        "shape": "CreateBillingGroupOutput"
      }
    },
    "CreateCustomLineItem": {
      "documentation": "<p> Creates a custom line item that can be used to create a one-time fixed charge that can be applied to a single billing group for the current or previous billing period. The one-time fixed charge is either a fee or discount. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-custom-line-item",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCustomLineItemInput"
      },
      "name": "CreateCustomLineItem",
      "output": {
        "shape": "CreateCustomLineItemOutput"
      }
    },
    "CreatePricingPlan": {
      "documentation": "<p>Creates a pricing plan that is used for computing Amazon Web Services charges for billing groups. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-pricing-plan",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreatePricingPlanInput"
      },
      "name": "CreatePricingPlan",
      "output": {
        "shape": "CreatePricingPlanOutput"
      }
    },
    "CreatePricingRule": {
      "documentation": "<p> Creates a pricing rule can be associated to a pricing plan, or a set of pricing plans. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/create-pricing-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreatePricingRuleInput"
      },
      "name": "CreatePricingRule",
      "output": {
        "shape": "CreatePricingRuleOutput"
      }
    },
    "DeleteBillingGroup": {
      "documentation": "<p> Deletes a billing group. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-billing-group",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBillingGroupInput"
      },
      "name": "DeleteBillingGroup",
      "output": {
        "shape": "DeleteBillingGroupOutput"
      }
    },
    "DeleteCustomLineItem": {
      "documentation": "<p> Deletes the custom line item identified by the given ARN in the current, or previous billing period. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-custom-line-item",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteCustomLineItemInput"
      },
      "name": "DeleteCustomLineItem",
      "output": {
        "shape": "DeleteCustomLineItemOutput"
      }
    },
    "DeletePricingPlan": {
      "documentation": "<p>Deletes a pricing plan. The pricing plan must not be associated with any billing groups to delete successfully.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-pricing-plan",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePricingPlanInput"
      },
      "name": "DeletePricingPlan",
      "output": {
        "shape": "DeletePricingPlanOutput"
      }
    },
    "DeletePricingRule": {
      "documentation": "<p> Deletes the pricing rule identified by the input Amazon Resource Name (ARN). </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/delete-pricing-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePricingRuleInput"
      },
      "name": "DeletePricingRule",
      "output": {
        "shape": "DeletePricingRuleOutput"
      }
    },
    "DisassociateAccounts": {
      "documentation": "<p>Removes the specified list of account IDs from the given billing group. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/disassociate-accounts",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateAccountsInput"
      },
      "name": "DisassociateAccounts",
      "output": {
        "shape": "DisassociateAccountsOutput"
      }
    },
    "DisassociatePricingRules": {
      "documentation": "<p> Disassociates a list of pricing rules from a pricing plan. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/disassociate-pricing-rules",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociatePricingRulesInput"
      },
      "name": "DisassociatePricingRules",
      "output": {
        "shape": "DisassociatePricingRulesOutput"
      }
    },
    "ListAccountAssociations": {
      "documentation": "<p> <i> <b>Amazon Web Services Billing Conductor is in beta release and is subject to change. Your use of Amazon Web Services Billing Conductor is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b> </i> </p> <p> This is a paginated call to list linked accounts that are linked to the payer account for the specified time period. If no information is provided, the current billing period is used. The response will optionally include the billing group associated with the linked account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-account-associations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAccountAssociationsInput"
      },
      "name": "ListAccountAssociations",
      "output": {
        "shape": "ListAccountAssociationsOutput"
      }
    },
    "ListBillingGroupCostReports": {
      "documentation": "<p>A paginated call to retrieve a summary report of actual Amazon Web Services charges and the calculated Amazon Web Services charges based on the associated pricing plan of a billing group.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-billing-group-cost-reports",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBillingGroupCostReportsInput"
      },
      "name": "ListBillingGroupCostReports",
      "output": {
        "shape": "ListBillingGroupCostReportsOutput"
      }
    },
    "ListBillingGroups": {
      "documentation": "<p>A paginated call to retrieve a list of billing groups for the given billing period. If you don't provide a billing group, the current billing period is used.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-billing-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBillingGroupsInput"
      },
      "name": "ListBillingGroups",
      "output": {
        "shape": "ListBillingGroupsOutput"
      }
    },
    "ListCustomLineItems": {
      "documentation": "<p> A paginated call to get a list of all custom line items (FFLIs) for the given billing period. If you don't provide a billing period, the current billing period is used. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-custom-line-items",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCustomLineItemsInput"
      },
      "name": "ListCustomLineItems",
      "output": {
        "shape": "ListCustomLineItemsOutput"
      }
    },
    "ListPricingPlans": {
      "documentation": "<p>A paginated call to get pricing plans for the given billing period. If you don't provide a billing period, the current billing period is used. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-pricing-plans",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPricingPlansInput"
      },
      "name": "ListPricingPlans",
      "output": {
        "shape": "ListPricingPlansOutput"
      }
    },
    "ListPricingPlansAssociatedWithPricingRule": {
      "documentation": "<p> A list of the pricing plans associated with a pricing rule. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-pricing-plans-associated-with-pricing-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPricingPlansAssociatedWithPricingRuleInput"
      },
      "name": "ListPricingPlansAssociatedWithPricingRule",
      "output": {
        "shape": "ListPricingPlansAssociatedWithPricingRuleOutput"
      }
    },
    "ListPricingRules": {
      "documentation": "<p> Describes a pricing rule that can be associated to a pricing plan, or set of pricing plans. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-pricing-rules",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPricingRulesInput"
      },
      "name": "ListPricingRules",
      "output": {
        "shape": "ListPricingRulesOutput"
      }
    },
    "ListPricingRulesAssociatedToPricingPlan": {
      "documentation": "<p> Lists the pricing rules associated with a pricing plan. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-pricing-rules-associated-to-pricing-plan",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPricingRulesAssociatedToPricingPlanInput"
      },
      "name": "ListPricingRulesAssociatedToPricingPlan",
      "output": {
        "shape": "ListPricingRulesAssociatedToPricingPlanOutput"
      }
    },
    "ListResourcesAssociatedToCustomLineItem": {
      "documentation": "<p> List the resources associated to a custom line item. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-resources-associated-to-custom-line-item",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResourcesAssociatedToCustomLineItemInput"
      },
      "name": "ListResourcesAssociatedToCustomLineItem",
      "output": {
        "shape": "ListResourcesAssociatedToCustomLineItemOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> A list the tags for a resource. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Deletes specified tags from a resource. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateBillingGroup": {
      "documentation": "<p>This updates an existing billing group. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-billing-group",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateBillingGroupInput"
      },
      "name": "UpdateBillingGroup",
      "output": {
        "shape": "UpdateBillingGroupOutput"
      }
    },
    "UpdateCustomLineItem": {
      "documentation": "<p> Update an existing custom line item in the current or previous billing period. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/update-custom-line-item",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateCustomLineItemInput"
      },
      "name": "UpdateCustomLineItem",
      "output": {
        "shape": "UpdateCustomLineItemOutput"
      }
    },
    "UpdatePricingPlan": {
      "documentation": "<p>This updates an existing pricing plan. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/update-pricing-plan",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePricingPlanInput"
      },
      "name": "UpdatePricingPlan",
      "output": {
        "shape": "UpdatePricingPlanOutput"
      }
    },
    "UpdatePricingRule": {
      "documentation": "<p> Updates an existing pricing rule. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/update-pricing-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePricingRuleInput"
      },
      "name": "UpdatePricingRule",
      "output": {
        "shape": "UpdatePricingRuleOutput"
      }
    }
  },
  "shapes": {
    "AWSCost": {
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action. </p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AccountAssociationsList": {
      "member": {
        "shape": "AccountAssociationsListElement"
      },
      "type": "list"
    },
    "AccountAssociationsListElement": {
      "documentation": "<p> <i> <b>Amazon Web Services Billing Conductor is in beta release and is subject to change. Your use of Amazon Web Services Billing Conductor is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b> </i> </p> <p> A representation of a linked account. </p>",
      "members": {
        "AccountEmail": {
          "documentation": "<p> The Amazon Web Services account email. </p>",
          "shape": "AccountEmail"
        },
        "AccountId": {
          "documentation": "<p> The associating array of account IDs. </p>",
          "shape": "AccountId"
        },
        "AccountName": {
          "documentation": "<p> The Amazon Web Services account name. </p>",
          "shape": "AccountName"
        },
        "BillingGroupArn": {
          "documentation": "<p> The Billing Group Arn that the linked account is associated to. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "type": "structure"
    },
    "AccountEmail": {
      "sensitive": true,
      "type": "string"
    },
    "AccountGrouping": {
      "documentation": "<p> The set of accounts that will be under the billing group. The set of accounts resemble the linked accounts in a consolidated family. </p>",
      "members": {
        "LinkedAccountIds": {
          "documentation": "<p> The account IDs that make up the billing group. Account IDs must be a part of the consolidated billing family, and not associated with another billing group. </p>",
          "shape": "AccountIdList"
        }
      },
      "required": [
        "LinkedAccountIds"
      ],
      "type": "structure"
    },
    "AccountId": {
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "AccountIdList": {
      "max": 30,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountName": {
      "sensitive": true,
      "type": "string"
    },
    "Arn": {
      "max": 100,
      "min": 0,
      "pattern": "arn:aws(-cn)?:billingconductor::[0-9]{12}:billinggroup/?[0-9]{12}$|^arn:aws(-cn)?:billingconductor::[0-9]{12}:pricingplan/[a-zA-Z0-9]{10}$|^arn:aws(-cn)?:billingconductor::[0-9]{12}:pricingrule/[a-zA-Z0-9]{10}$|^(arn:aws(-cn)?:billingconductor::[0-9]{12}:customlineitem/)?[a-zA-Z0-9]{10}",
      "type": "string"
    },
    "AssociateAccountsInput": {
      "members": {
        "AccountIds": {
          "documentation": "<p> The associating array of account IDs. </p>",
          "shape": "AccountIdList"
        },
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the billing group that associates the array of account IDs. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "required": [
        "Arn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "AssociateAccountsOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the billing group that associates the array of account IDs. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "type": "structure"
    },
    "AssociatePricingRulesInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The <code>PricingPlanArn</code> that the <code>PricingRuleArns</code> are associated with. </p>",
          "shape": "PricingPlanArn"
        },
        "PricingRuleArns": {
          "documentation": "<p> The <code>PricingRuleArns</code> that are associated with the Pricing Plan. </p>",
          "shape": "PricingRuleArnsNonEmptyInput"
        }
      },
      "required": [
        "Arn",
        "PricingRuleArns"
      ],
      "type": "structure"
    },
    "AssociatePricingRulesOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The <code>PricingPlanArn</code> that the <code>PricingRuleArns</code> are associated with. </p>",
          "shape": "PricingPlanArn"
        }
      },
      "type": "structure"
    },
    "AssociateResourceError": {
      "documentation": "<p> A representation of a resource association error. </p>",
      "members": {
        "Message": {
          "documentation": "<p> The reason the resource association failed. </p>",
          "shape": "String"
        },
        "Reason": {
          "documentation": "<p> A static error code that used to classify the type of failure. </p>",
          "shape": "AssociateResourceErrorReason"
        }
      },
      "type": "structure"
    },
    "AssociateResourceErrorReason": {
      "enum": [
        "INVALID_ARN",
        "SERVICE_LIMIT_EXCEEDED",
        "ILLEGAL_CUSTOMLINEITEM",
        "INTERNAL_SERVER_EXCEPTION"
      ],
      "type": "string"
    },
    "AssociateResourceResponseElement": {
      "documentation": "<p> A resource association result for a percentage custom line item. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The resource ARN that was associated to the custom line item. </p>",
          "shape": "CustomLineItemArn"
        },
        "Error": {
          "documentation": "<p> An <code>AssociateResourceError</code> that will populate if the resource association fails. </p>",
          "shape": "AssociateResourceError"
        }
      },
      "type": "structure"
    },
    "AssociateResourcesResponseList": {
      "member": {
        "shape": "AssociateResourceResponseElement"
      },
      "type": "list"
    },
    "Association": {
      "pattern": "((arn:aws:billingconductor::[0-9]{12}:billinggroup/)?[0-9]{12}|MONITORED|UNMONITORED)",
      "type": "string"
    },
    "BatchAssociateResourcesToCustomLineItemInput": {
      "members": {
        "BillingPeriodRange": {
          "shape": "CustomLineItemBillingPeriodRange"
        },
        "ResourceArns": {
          "documentation": "<p> A list containing the ARNs of the resources to be associated. </p>",
          "shape": "CustomLineItemBatchAssociationsList"
        },
        "TargetArn": {
          "documentation": "<p> A percentage custom line item ARN to associate the resources to. </p>",
          "shape": "CustomLineItemArn"
        }
      },
      "required": [
        "TargetArn",
        "ResourceArns"
      ],
      "type": "structure"
    },
    "BatchAssociateResourcesToCustomLineItemOutput": {
      "members": {
        "FailedAssociatedResources": {
          "documentation": "<p> A list of <code>AssociateResourceResponseElement</code> for each resource that failed association to a percentage custom line item. </p>",
          "shape": "AssociateResourcesResponseList"
        },
        "SuccessfullyAssociatedResources": {
          "documentation": "<p> A list of <code>AssociateResourceResponseElement</code> for each resource that's been associated to a percentage custom line item successfully. </p>",
          "shape": "AssociateResourcesResponseList"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateResourcesFromCustomLineItemInput": {
      "members": {
        "BillingPeriodRange": {
          "shape": "CustomLineItemBillingPeriodRange"
        },
        "ResourceArns": {
          "documentation": "<p> A list containing the ARNs of resources to be disassociated. </p>",
          "shape": "CustomLineItemBatchDisassociationsList"
        },
        "TargetArn": {
          "documentation": "<p> A percentage custom line item ARN to disassociate the resources from. </p>",
          "shape": "CustomLineItemArn"
        }
      },
      "required": [
        "TargetArn",
        "ResourceArns"
      ],
      "type": "structure"
    },
    "BatchDisassociateResourcesFromCustomLineItemOutput": {
      "members": {
        "FailedDisassociatedResources": {
          "documentation": "<p> A list of <code>DisassociateResourceResponseElement</code> for each resource that failed disassociation from a percentage custom line item. </p>",
          "shape": "DisassociateResourcesResponseList"
        },
        "SuccessfullyDisassociatedResources": {
          "documentation": "<p> A list of <code>DisassociateResourceResponseElement</code> for each resource that's been disassociated from a percentage custom line item successfully. </p>",
          "shape": "DisassociateResourcesResponseList"
        }
      },
      "type": "structure"
    },
    "BillingGroupArn": {
      "pattern": "(arn:aws:billingconductor::[0-9]{12}:billinggroup/)?[0-9]{12}",
      "type": "string"
    },
    "BillingGroupArnList": {
      "max": 100,
      "member": {
        "shape": "BillingGroupArn"
      },
      "min": 1,
      "type": "list"
    },
    "BillingGroupCostReportElement": {
      "documentation": "<p>A summary report of actual Amazon Web Services charges and calculated Amazon Web Services charges, based on the associated pricing plan of a billing group. </p>",
      "members": {
        "AWSCost": {
          "documentation": "<p>The actual Amazon Web Services charges for the billing group. </p>",
          "shape": "AWSCost"
        },
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a billing group. </p>",
          "shape": "BillingGroupArn"
        },
        "Currency": {
          "documentation": "<p>The displayed currency. </p>",
          "shape": "Currency"
        },
        "Margin": {
          "documentation": "<p> The billing group margin. </p>",
          "shape": "Margin"
        },
        "MarginPercentage": {
          "documentation": "<p> The percentage of billing group margin. </p>",
          "shape": "MarginPercentage"
        },
        "ProformaCost": {
          "documentation": "<p>The hypothetical Amazon Web Services charges based on the associated pricing plan of a billing group. </p>",
          "shape": "ProformaCost"
        }
      },
      "type": "structure"
    },
    "BillingGroupCostReportList": {
      "member": {
        "shape": "BillingGroupCostReportElement"
      },
      "type": "list"
    },
    "BillingGroupDescription": {
      "max": 1024,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "BillingGroupFullArn": {
      "pattern": "arn:aws:billingconductor::[0-9]{12}:billinggroup/[0-9]{12}",
      "type": "string"
    },
    "BillingGroupList": {
      "member": {
        "shape": "BillingGroupListElement"
      },
      "type": "list"
    },
    "BillingGroupListElement": {
      "documentation": "<p>A representation of a billing group. </p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Number (ARN) that can be used to uniquely identify the billing group. </p>",
          "shape": "BillingGroupArn"
        },
        "ComputationPreference": {
          "shape": "ComputationPreference"
        },
        "CreationTime": {
          "documentation": "<p> The time the billing group was created. </p>",
          "shape": "Instant"
        },
        "Description": {
          "documentation": "<p>The billing group description. </p>",
          "shape": "BillingGroupDescription"
        },
        "LastModifiedTime": {
          "documentation": "<p> The most recent time the billing group was modified. </p>",
          "shape": "Instant"
        },
        "Name": {
          "documentation": "<p>The billing group's name. </p>",
          "shape": "BillingGroupName"
        },
        "PrimaryAccountId": {
          "documentation": "<p>The account ID that serves as the main account in a billing group. </p>",
          "shape": "AccountId"
        },
        "Size": {
          "documentation": "<p>The number of accounts in the particular billing group. </p>",
          "shape": "NumberOfAccounts"
        },
        "Status": {
          "documentation": "<p>The billing group status. Only one of the valid values can be used. </p>",
          "shape": "BillingGroupStatus"
        },
        "StatusReason": {
          "documentation": "<p>The reason why the billing group is in its current status. </p>",
          "shape": "BillingGroupStatusReason"
        }
      },
      "type": "structure"
    },
    "BillingGroupName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\+=\\.\\-@]+",
      "sensitive": true,
      "type": "string"
    },
    "BillingGroupStatus": {
      "enum": [
        "ACTIVE",
        "PRIMARY_ACCOUNT_MISSING"
      ],
      "type": "string"
    },
    "BillingGroupStatusReason": {
      "type": "string"
    },
    "BillingPeriod": {
      "pattern": "\\d{4}-(0?[1-9]|1[012])",
      "type": "string"
    },
    "ClientToken": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9-]+",
      "type": "string"
    },
    "ComputationPreference": {
      "documentation": "<p> The preferences and settings that will be used to compute the Amazon Web Services charges for a billing group. </p>",
      "members": {
        "PricingPlanArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan used to compute the Amazon Web Services charges for a billing group. </p>",
          "shape": "PricingPlanFullArn"
        }
      },
      "required": [
        "PricingPlanArn"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>You can cause an inconsistent state by updating or deleting a resource. </p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "<p>Identifier of the resource in use. </p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Type of the resource in use. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "CreateBillingGroupInput": {
      "members": {
        "AccountGrouping": {
          "documentation": "<p> The set of accounts that will be under the billing group. The set of accounts resemble the linked accounts in a consolidated family. </p>",
          "shape": "AccountGrouping"
        },
        "ClientToken": {
          "documentation": "<p> The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "ComputationPreference": {
          "documentation": "<p> The preferences and settings that will be used to compute the Amazon Web Services charges for a billing group. </p>",
          "shape": "ComputationPreference"
        },
        "Description": {
          "documentation": "<p>The billing group description. </p>",
          "shape": "BillingGroupDescription"
        },
        "Name": {
          "documentation": "<p> The billing group name. The names must be unique. </p>",
          "shape": "BillingGroupName"
        },
        "PrimaryAccountId": {
          "documentation": "<p> The account ID that serves as the main account in a billing group. </p>",
          "shape": "AccountId"
        },
        "Tags": {
          "documentation": "<p> A map that contains tag keys and tag values that are attached to a billing group. This feature isn't available during the beta. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "Name",
        "AccountGrouping",
        "ComputationPreference"
      ],
      "type": "structure"
    },
    "CreateBillingGroupOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the created billing group. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "type": "structure"
    },
    "CreateCustomLineItemInput": {
      "members": {
        "BillingGroupArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) that references the billing group where the custom line item applies to. </p>",
          "shape": "BillingGroupArn"
        },
        "BillingPeriodRange": {
          "documentation": "<p> A time range for which the custom line item is effective. </p>",
          "shape": "CustomLineItemBillingPeriodRange"
        },
        "ChargeDetails": {
          "documentation": "<p> A <code>CustomLineItemChargeDetails</code> that describes the charge details for a custom line item. </p>",
          "shape": "CustomLineItemChargeDetails"
        },
        "ClientToken": {
          "documentation": "<p> The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p> The description of the custom line item. This is shown on the Bills page in association with the charge value. </p>",
          "shape": "CustomLineItemDescription"
        },
        "Name": {
          "documentation": "<p> The name of the custom line item. </p>",
          "shape": "CustomLineItemName"
        },
        "Tags": {
          "documentation": "<p> A map that contains tag keys and tag values that are attached to a custom line item. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "Name",
        "Description",
        "BillingGroupArn",
        "ChargeDetails"
      ],
      "type": "structure"
    },
    "CreateCustomLineItemOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the created custom line item. </p>",
          "shape": "CustomLineItemArn"
        }
      },
      "type": "structure"
    },
    "CreatePricingPlanInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p> The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>The pricing plan description. </p>",
          "shape": "PricingPlanDescription"
        },
        "Name": {
          "documentation": "<p>The pricing plan name. The names must be unique to each pricing plan. </p>",
          "shape": "PricingPlanName"
        },
        "PricingRuleArns": {
          "documentation": "<p> A list of Amazon Resource Names (ARNs) that define the pricing plan parameters. </p>",
          "shape": "PricingRuleArnsInput"
        },
        "Tags": {
          "documentation": "<p> A map that contains tag keys and tag values that are attached to a pricing plan. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreatePricingPlanOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the created pricing plan.</p>",
          "shape": "PricingPlanArn"
        }
      },
      "type": "structure"
    },
    "CreatePricingRuleInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p> The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. </p>",
          "idempotencyToken": true,
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p> The pricing rule description. </p>",
          "shape": "PricingRuleDescription"
        },
        "ModifierPercentage": {
          "documentation": "<p> A percentage modifier applied on the public pricing rates. </p>",
          "shape": "ModifierPercentage"
        },
        "Name": {
          "documentation": "<p> The pricing rule name. The names must be unique to each pricing rule. </p>",
          "shape": "PricingRuleName"
        },
        "Scope": {
          "documentation": "<p> The scope of pricing rule that indicates if it is globally applicable, or is service-specific. </p>",
          "shape": "PricingRuleScope"
        },
        "Service": {
          "documentation": "<p> If the <code>Scope</code> attribute is set to <code>SERVICE</code>, the attribute indicates which service the <code>PricingRule</code> is applicable for. </p>",
          "shape": "Service"
        },
        "Tags": {
          "documentation": "<p> A map that contains tag keys and tag values that are attached to a pricing rule. </p>",
          "shape": "TagMap"
        },
        "Type": {
          "documentation": "<p> The type of pricing rule. </p>",
          "shape": "PricingRuleType"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Type",
        "ModifierPercentage"
      ],
      "type": "structure"
    },
    "CreatePricingRuleOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the created pricing rule. </p>",
          "shape": "PricingRuleArn"
        }
      },
      "type": "structure"
    },
    "Currency": {
      "type": "string"
    },
    "CurrencyCode": {
      "enum": [
        "USD",
        "CNY"
      ],
      "type": "string"
    },
    "CustomLineItemArn": {
      "pattern": "(arn:aws:billingconductor::[0-9]{12}:customlineitem/)?[a-zA-Z0-9]{10}",
      "type": "string"
    },
    "CustomLineItemArns": {
      "max": 100,
      "member": {
        "shape": "CustomLineItemArn"
      },
      "min": 1,
      "type": "list"
    },
    "CustomLineItemAssociationElement": {
      "pattern": "(arn:aws:billingconductor::[0-9]{12}:(customlineitem|billinggroup)/)?[a-zA-Z0-9]{10,12}",
      "type": "string"
    },
    "CustomLineItemAssociationsList": {
      "max": 5,
      "member": {
        "shape": "CustomLineItemAssociationElement"
      },
      "min": 0,
      "type": "list"
    },
    "CustomLineItemBatchAssociationsList": {
      "max": 30,
      "member": {
        "shape": "CustomLineItemAssociationElement"
      },
      "min": 1,
      "type": "list"
    },
    "CustomLineItemBatchDisassociationsList": {
      "max": 30,
      "member": {
        "shape": "CustomLineItemAssociationElement"
      },
      "min": 1,
      "type": "list"
    },
    "CustomLineItemBillingPeriodRange": {
      "documentation": "<p> The billing period range in which the custom line item request will be applied. </p>",
      "members": {
        "ExclusiveEndBillingPeriod": {
          "documentation": "<p> The inclusive end billing period that defines a billing period range where a custom line is applied. </p>",
          "shape": "BillingPeriod"
        },
        "InclusiveStartBillingPeriod": {
          "documentation": "<p> The inclusive start billing period that defines a billing period range where a custom line is applied. </p>",
          "shape": "BillingPeriod"
        }
      },
      "required": [
        "InclusiveStartBillingPeriod",
        "ExclusiveEndBillingPeriod"
      ],
      "type": "structure"
    },
    "CustomLineItemChargeDetails": {
      "documentation": "<p> The charge details of a custom line item. It should contain only one of <code>Flat</code> or <code>Percentage</code>. </p>",
      "members": {
        "Flat": {
          "documentation": "<p> A <code>CustomLineItemFlatChargeDetails</code> that describes the charge details of a flat custom line item. </p>",
          "shape": "CustomLineItemFlatChargeDetails"
        },
        "Percentage": {
          "documentation": "<p> A <code>CustomLineItemPercentageChargeDetails</code> that describes the charge details of a percentage custom line item. </p>",
          "shape": "CustomLineItemPercentageChargeDetails"
        },
        "Type": {
          "documentation": "<p> The type of the custom line item that indicates whether the charge is a fee or credit. </p>",
          "shape": "CustomLineItemType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "CustomLineItemChargeValue": {
      "box": true,
      "max": 1000000,
      "min": 0,
      "type": "double"
    },
    "CustomLineItemDescription": {
      "max": 255,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "CustomLineItemFlatChargeDetails": {
      "documentation": "<p> A representation of the charge details associated with a flat custom line item. </p>",
      "members": {
        "ChargeValue": {
          "documentation": "<p> The custom line item's fixed charge value in USD. </p>",
          "shape": "CustomLineItemChargeValue"
        }
      },
      "required": [
        "ChargeValue"
      ],
      "type": "structure"
    },
    "CustomLineItemList": {
      "member": {
        "shape": "CustomLineItemListElement"
      },
      "type": "list"
    },
    "CustomLineItemListElement": {
      "documentation": "<p> A representation of a custom line item. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Names (ARNs) for custom line items. </p>",
          "shape": "CustomLineItemArn"
        },
        "AssociationSize": {
          "documentation": "<p> The number of resources that are associated to the custom line item. </p>",
          "shape": "NumberOfAssociations"
        },
        "BillingGroupArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) that references the billing group where the custom line item applies to. </p>",
          "shape": "BillingGroupArn"
        },
        "ChargeDetails": {
          "documentation": "<p> A <code>ListCustomLineItemChargeDetails</code> that describes the charge details of a custom line item. </p>",
          "shape": "ListCustomLineItemChargeDetails"
        },
        "CreationTime": {
          "documentation": "<p> The time created. </p>",
          "shape": "Instant"
        },
        "CurrencyCode": {
          "documentation": "<p> The custom line item's charge value currency. Only one of the valid values can be used. </p>",
          "shape": "CurrencyCode"
        },
        "Description": {
          "documentation": "<p> The custom line item's description. This is shown on the Bills page in association with the charge value. </p>",
          "shape": "CustomLineItemDescription"
        },
        "LastModifiedTime": {
          "documentation": "<p> The most recent time the custom line item was modified. </p>",
          "shape": "Instant"
        },
        "Name": {
          "documentation": "<p> The custom line item's name. </p>",
          "shape": "CustomLineItemName"
        },
        "ProductCode": {
          "documentation": "<p> The product code associated with the custom line item. </p>",
          "shape": "CustomLineItemProductCode"
        }
      },
      "type": "structure"
    },
    "CustomLineItemName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\+=\\.\\-@]+",
      "sensitive": true,
      "type": "string"
    },
    "CustomLineItemNameList": {
      "max": 100,
      "member": {
        "shape": "CustomLineItemName"
      },
      "min": 1,
      "type": "list"
    },
    "CustomLineItemPercentageChargeDetails": {
      "documentation": "<p> A representation of the charge details associated with a percentage custom line item. </p>",
      "members": {
        "AssociatedValues": {
          "documentation": "<p> A list of resource ARNs to associate to the percentage custom line item. </p>",
          "shape": "CustomLineItemAssociationsList"
        },
        "PercentageValue": {
          "documentation": "<p> The custom line item's percentage value. This will be multiplied against the combined value of its associated resources to determine its charge value. </p>",
          "shape": "CustomLineItemPercentageChargeValue"
        }
      },
      "required": [
        "PercentageValue"
      ],
      "type": "structure"
    },
    "CustomLineItemPercentageChargeValue": {
      "box": true,
      "max": 10000,
      "min": 0,
      "type": "double"
    },
    "CustomLineItemProductCode": {
      "max": 29,
      "min": 1,
      "type": "string"
    },
    "CustomLineItemRelationship": {
      "enum": [
        "PARENT",
        "CHILD"
      ],
      "type": "string"
    },
    "CustomLineItemType": {
      "enum": [
        "CREDIT",
        "FEE"
      ],
      "type": "string"
    },
    "DeleteBillingGroupInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the billing group you're deleting.</p>",
          "shape": "BillingGroupArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeleteBillingGroupOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deleted billing group.</p>",
          "shape": "BillingGroupArn"
        }
      },
      "type": "structure"
    },
    "DeleteCustomLineItemInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The ARN of the custom line item to be deleted. </p>",
          "shape": "CustomLineItemArn"
        },
        "BillingPeriodRange": {
          "shape": "CustomLineItemBillingPeriodRange"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeleteCustomLineItemOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> Then ARN of the deleted custom line item. </p>",
          "shape": "CustomLineItemArn"
        }
      },
      "type": "structure"
    },
    "DeletePricingPlanInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the pricing plan you're deleting. </p>",
          "shape": "PricingPlanArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeletePricingPlanOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the deleted pricing plan. </p>",
          "shape": "PricingPlanArn"
        }
      },
      "type": "structure"
    },
    "DeletePricingRuleInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing rule you are deleting. </p>",
          "shape": "PricingRuleArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeletePricingRuleOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the deleted pricing rule. </p>",
          "shape": "PricingRuleArn"
        }
      },
      "type": "structure"
    },
    "DisassociateAccountsInput": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The array of account IDs to disassociate. </p>",
          "shape": "AccountIdList"
        },
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the billing group that the array of account IDs will disassociate from. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "required": [
        "Arn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "DisassociateAccountsOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the billing group that the array of account IDs is disassociated from. </p>",
          "shape": "BillingGroupArn"
        }
      },
      "type": "structure"
    },
    "DisassociatePricingRulesInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The pricing plan Amazon Resource Name (ARN) to disassociate pricing rules from. </p>",
          "shape": "PricingPlanArn"
        },
        "PricingRuleArns": {
          "documentation": "<p> A list containing the Amazon Resource Name (ARN) of the pricing rules that will be disassociated. </p>",
          "shape": "PricingRuleArnsNonEmptyInput"
        }
      },
      "required": [
        "Arn",
        "PricingRuleArns"
      ],
      "type": "structure"
    },
    "DisassociatePricingRulesOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan that the pricing rules successfully disassociated from. </p>",
          "shape": "PricingPlanArn"
        }
      },
      "type": "structure"
    },
    "DisassociateResourceResponseElement": {
      "documentation": "<p> A resource disassociation result for a percentage custom line item. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The resource ARN that was disassociated from the custom line item. </p>",
          "shape": "CustomLineItemArn"
        },
        "Error": {
          "documentation": "<p> An <code>AssociateResourceError</code> shown if the resource disassociation fails. </p>",
          "shape": "AssociateResourceError"
        }
      },
      "type": "structure"
    },
    "DisassociateResourcesResponseList": {
      "member": {
        "shape": "DisassociateResourceResponseElement"
      },
      "type": "list"
    },
    "Instant": {
      "type": "long"
    },
    "InternalServerException": {
      "documentation": "<p>An unexpected error occurred while processing a request. </p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "RetryAfterSeconds": {
          "documentation": "<p>Number of seconds you can retry after the call. </p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "RetryAfterSeconds"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ListAccountAssociationsFilter": {
      "documentation": "<p>The filter on the account ID of the linked account, or any of the following:</p> <p> <code>MONITORED</code>: linked accounts that are associated to billing groups.</p> <p> <code>UNMONITORED</code>: linked accounts that are not associated to billing groups.</p> <p> <code>Billing Group Arn</code>: linked accounts that are associated to the provided Billing Group Arn. </p>",
      "members": {
        "AccountId": {
          "documentation": "<p> The Amazon Web Services account ID to filter on. </p>",
          "shape": "AccountId"
        },
        "Association": {
          "documentation": "<p> <code>MONITORED</code>: linked accounts that are associated to billing groups.</p> <p> <code>UNMONITORED</code>: linked accounts that are not associated to billing groups.</p> <p> <code>Billing Group Arn</code>: linked accounts that are associated to the provided Billing Group Arn. </p>",
          "shape": "Association"
        }
      },
      "type": "structure"
    },
    "ListAccountAssociationsInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The preferred billing period to get account associations. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p>The filter on the account ID of the linked account, or any of the following:</p> <p> <code>MONITORED</code>: linked accounts that are associated to billing groups.</p> <p> <code>UNMONITORED</code>: linked accounts that are not associated to billing groups.</p> <p> <code>Billing Group Arn</code>: linked accounts that are associated to the provided billing group Arn. </p>",
          "shape": "ListAccountAssociationsFilter"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent calls to retrieve accounts. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListAccountAssociationsOutput": {
      "members": {
        "LinkedAccounts": {
          "documentation": "<p> The list of linked accounts in the payer account. </p>",
          "shape": "AccountAssociationsList"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent calls to get accounts. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupCostReportsFilter": {
      "documentation": "<p>The filter used to retrieve specific <code>BillingGroupCostReportElements</code>. </p>",
      "members": {
        "BillingGroupArns": {
          "documentation": "<p>The list of Amazon Resource Names (ARNs) used to filter billing groups to retrieve reports. </p>",
          "shape": "BillingGroupArnList"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupCostReportsInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p>The preferred billing period for your report. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p>A <code>ListBillingGroupCostReportsFilter</code> to specify billing groups to retrieve reports from. </p>",
          "shape": "ListBillingGroupCostReportsFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of reports to retrieve. </p>",
          "shape": "MaxBillingGroupResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent calls to get reports. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupCostReportsOutput": {
      "members": {
        "BillingGroupCostReports": {
          "documentation": "<p>A list of <code>BillingGroupCostReportElement</code> retrieved. </p>",
          "shape": "BillingGroupCostReportList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent calls to get reports. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupsFilter": {
      "documentation": "<p>The filter that specifies the billing groups and pricing plans to retrieve billing group information. </p>",
      "members": {
        "Arns": {
          "documentation": "<p>The list of billing group Amazon Resource Names (ARNs) to retrieve information. </p>",
          "shape": "BillingGroupArnList"
        },
        "PricingPlan": {
          "documentation": "<p>The pricing plan Amazon Resource Names (ARNs) to retrieve information. </p>",
          "shape": "PricingPlanFullArn"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupsInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p>The preferred billing period to get billing groups. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p>A <code>ListBillingGroupsFilter</code> that specifies the billing group and pricing plan to retrieve billing group information. </p>",
          "shape": "ListBillingGroupsFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of billing groups to retrieve. </p>",
          "shape": "MaxBillingGroupResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent calls to get billing groups. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListBillingGroupsOutput": {
      "members": {
        "BillingGroups": {
          "documentation": "<p>A list of <code>BillingGroupListElement</code> retrieved. </p>",
          "shape": "BillingGroupList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent calls to get billing groups. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListCustomLineItemChargeDetails": {
      "documentation": "<p> A representation of the charge details of a custom line item. </p>",
      "members": {
        "Flat": {
          "documentation": "<p> A <code>ListCustomLineItemFlatChargeDetails</code> that describes the charge details of a flat custom line item. </p>",
          "shape": "ListCustomLineItemFlatChargeDetails"
        },
        "Percentage": {
          "documentation": "<p> A <code>ListCustomLineItemPercentageChargeDetails</code> that describes the charge details of a percentage custom line item. </p>",
          "shape": "ListCustomLineItemPercentageChargeDetails"
        },
        "Type": {
          "documentation": "<p> The type of the custom line item that indicates whether the charge is a <code>fee</code> or <code>credit</code>. </p>",
          "shape": "CustomLineItemType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "ListCustomLineItemFlatChargeDetails": {
      "documentation": "<p> A representation of the charge details associated with a flat custom line item. </p>",
      "members": {
        "ChargeValue": {
          "documentation": "<p> The custom line item's fixed charge value in USD. </p>",
          "shape": "CustomLineItemChargeValue"
        }
      },
      "required": [
        "ChargeValue"
      ],
      "type": "structure"
    },
    "ListCustomLineItemPercentageChargeDetails": {
      "documentation": "<p> A representation of the charge details associated with a percentage custom line item. </p>",
      "members": {
        "PercentageValue": {
          "documentation": "<p> The custom line item's percentage value. This will be multiplied against the combined value of its associated resources to determine its charge value. </p>",
          "shape": "CustomLineItemPercentageChargeValue"
        }
      },
      "required": [
        "PercentageValue"
      ],
      "type": "structure"
    },
    "ListCustomLineItemsFilter": {
      "documentation": "<p> A filter that specifies the custom line items and billing groups to retrieve FFLI information. </p>",
      "members": {
        "Arns": {
          "documentation": "<p> A list of custom line item ARNs to retrieve information. </p>",
          "shape": "CustomLineItemArns"
        },
        "BillingGroups": {
          "documentation": "<p> The billing group Amazon Resource Names (ARNs) to retrieve information. </p>",
          "shape": "BillingGroupArnList"
        },
        "Names": {
          "documentation": "<p> A list of custom line items to retrieve information. </p>",
          "shape": "CustomLineItemNameList"
        }
      },
      "type": "structure"
    },
    "ListCustomLineItemsInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The preferred billing period to get custom line items (FFLIs). </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p>A <code>ListCustomLineItemsFilter</code> that specifies the custom line item names and/or billing group Amazon Resource Names (ARNs) to retrieve FFLI information.</p>",
          "shape": "ListCustomLineItemsFilter"
        },
        "MaxResults": {
          "documentation": "<p> The maximum number of billing groups to retrieve. </p>",
          "shape": "MaxBillingGroupResults"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent calls to get custom line items (FFLIs). </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListCustomLineItemsOutput": {
      "members": {
        "CustomLineItems": {
          "documentation": "<p> A list of <code>FreeFormLineItemListElements</code> received. </p>",
          "shape": "CustomLineItemList"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent calls to get custom line items (FFLIs). </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPricingPlansAssociatedWithPricingRuleInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The pricing plan billing period for which associations will be listed. </p>",
          "shape": "BillingPeriod"
        },
        "MaxResults": {
          "documentation": "<p> The optional maximum number of pricing rule associations to retrieve. </p>",
          "shape": "MaxPricingRuleResults"
        },
        "NextToken": {
          "documentation": "<p> The optional pagination token returned by a previous call. </p>",
          "shape": "Token"
        },
        "PricingRuleArn": {
          "documentation": "<p> The pricing rule Amazon Resource Name (ARN) for which associations will be listed. </p>",
          "shape": "PricingRuleArn"
        }
      },
      "required": [
        "PricingRuleArn"
      ],
      "type": "structure"
    },
    "ListPricingPlansAssociatedWithPricingRuleOutput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The pricing plan billing period for which associations will be listed. </p>",
          "shape": "BillingPeriod"
        },
        "NextToken": {
          "documentation": "<p> The pagination token to be used on subsequent calls. </p>",
          "shape": "Token"
        },
        "PricingPlanArns": {
          "documentation": "<p> The list containing pricing plans associated with the requested pricing rule. </p>",
          "shape": "PricingPlanArns"
        },
        "PricingRuleArn": {
          "documentation": "<p> The pricing rule Amazon Resource Name (ARN) for which associations will be listed. </p>",
          "shape": "PricingRuleArn"
        }
      },
      "type": "structure"
    },
    "ListPricingPlansFilter": {
      "documentation": "<p>The filter that specifies the Amazon Resource Names (ARNs) of pricing plans, to retrieve pricing plan information. </p>",
      "members": {
        "Arns": {
          "documentation": "<p>A list of pricing plan Amazon Resource Names (ARNs) to retrieve information. </p>",
          "shape": "PricingPlanArns"
        }
      },
      "type": "structure"
    },
    "ListPricingPlansInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p>The preferred billing period to get pricing plan. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p>A <code>ListPricingPlansFilter</code> that specifies the Amazon Resource Name (ARNs) of pricing plans to retrieve pricing plans information.</p>",
          "shape": "ListPricingPlansFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of pricing plans to retrieve.</p>",
          "shape": "MaxPricingPlanResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent call to get pricing plans. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPricingPlansOutput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The billing period for which the described pricing plans are applicable. </p>",
          "shape": "BillingPeriod"
        },
        "NextToken": {
          "documentation": "<p>The pagination token used on subsequent calls to get pricing plans. </p>",
          "shape": "Token"
        },
        "PricingPlans": {
          "documentation": "<p>A list of <code>PricingPlanListElement</code> retrieved. </p>",
          "shape": "PricingPlanList"
        }
      },
      "type": "structure"
    },
    "ListPricingRulesAssociatedToPricingPlanInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The billing period for which the pricing rule associations are to be listed. </p>",
          "shape": "BillingPeriod"
        },
        "MaxResults": {
          "documentation": "<p>The optional maximum number of pricing rule associations to retrieve.</p>",
          "shape": "MaxPricingPlanResults"
        },
        "NextToken": {
          "documentation": "<p> The optional pagination token returned by a previous call. </p>",
          "shape": "Token"
        },
        "PricingPlanArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan for which associations are to be listed.</p>",
          "shape": "PricingPlanArn"
        }
      },
      "required": [
        "PricingPlanArn"
      ],
      "type": "structure"
    },
    "ListPricingRulesAssociatedToPricingPlanOutput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The billing period for which the pricing rule associations are listed. </p>",
          "shape": "BillingPeriod"
        },
        "NextToken": {
          "documentation": "<p> The pagination token to be used on subsequent calls. </p>",
          "shape": "Token"
        },
        "PricingPlanArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan for which associations are listed.</p>",
          "shape": "PricingPlanArn"
        },
        "PricingRuleArns": {
          "documentation": "<p> A list containing pricing rules associated with the requested pricing plan. </p>",
          "shape": "PricingRuleArns"
        }
      },
      "type": "structure"
    },
    "ListPricingRulesFilter": {
      "documentation": "<p> The filter that specifies criteria that the pricing rules returned by the <code>ListPricingRules</code> API will adhere to. </p>",
      "members": {
        "Arns": {
          "documentation": "<p> A list containing the pricing rule Amazon Resource Names (ARNs) to include in the API response. </p>",
          "shape": "PricingRuleArns"
        }
      },
      "type": "structure"
    },
    "ListPricingRulesInput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The preferred billing period to get the pricing plan. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p> A <code>DescribePricingRuleFilter</code> that specifies the Amazon Resource Name (ARNs) of pricing rules to retrieve pricing rules information. </p>",
          "shape": "ListPricingRulesFilter"
        },
        "MaxResults": {
          "documentation": "<p> The maximum number of pricing rules to retrieve. </p>",
          "shape": "MaxPricingRuleResults"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent call to get pricing rules. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListPricingRulesOutput": {
      "members": {
        "BillingPeriod": {
          "documentation": "<p> The billing period for which the described pricing rules are applicable. </p>",
          "shape": "BillingPeriod"
        },
        "NextToken": {
          "documentation": "<p> The pagination token used on subsequent calls to get pricing rules. </p>",
          "shape": "Token"
        },
        "PricingRules": {
          "documentation": "<p> A list containing the described pricing rules. </p>",
          "shape": "PricingRuleList"
        }
      },
      "type": "structure"
    },
    "ListResourcesAssociatedToCustomLineItemFilter": {
      "documentation": "<p> A filter that specifies the type of resource associations that should be retrieved for a custom line item. </p>",
      "members": {
        "Relationship": {
          "documentation": "<p> The type of relationship between the custom line item and the associated resource. </p>",
          "shape": "CustomLineItemRelationship"
        }
      },
      "type": "structure"
    },
    "ListResourcesAssociatedToCustomLineItemInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The ARN of the custom line item for which the resource associations will be listed. </p>",
          "shape": "CustomLineItemArn"
        },
        "BillingPeriod": {
          "documentation": "<p> The billing period for which the resource associations will be listed. </p>",
          "shape": "BillingPeriod"
        },
        "Filters": {
          "documentation": "<p> (Optional) A <code>ListResourcesAssociatedToCustomLineItemFilter</code> that can specify the types of resources that should be retrieved. </p>",
          "shape": "ListResourcesAssociatedToCustomLineItemFilter"
        },
        "MaxResults": {
          "documentation": "<p> (Optional) The maximum number of resource associations to be retrieved. </p>",
          "shape": "MaxCustomLineItemResults"
        },
        "NextToken": {
          "documentation": "<p> (Optional) The pagination token returned by a previous request. </p>",
          "shape": "Token"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "ListResourcesAssociatedToCustomLineItemOutput": {
      "members": {
        "Arn": {
          "documentation": "<p> The custom line item ARN for which the resource associations are listed. </p>",
          "shape": "CustomLineItemArn"
        },
        "AssociatedResources": {
          "documentation": "<p> A list of <code>ListResourcesAssociatedToCustomLineItemResponseElement</code> for each resource association retrieved. </p>",
          "shape": "ListResourcesAssociatedToCustomLineItemResponseList"
        },
        "NextToken": {
          "documentation": "<p> The pagination token to be used in subsequent requests to retrieve additional results. </p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListResourcesAssociatedToCustomLineItemResponseElement": {
      "documentation": "<p> A representation of a resource association for a custom line item. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The ARN of the associated resource. </p>",
          "shape": "CustomLineItemAssociationElement"
        },
        "Relationship": {
          "documentation": "<p> The type of relationship between the custom line item and the associated resource. </p>",
          "shape": "CustomLineItemRelationship"
        }
      },
      "type": "structure"
    },
    "ListResourcesAssociatedToCustomLineItemResponseList": {
      "member": {
        "shape": "ListResourcesAssociatedToCustomLineItemResponseElement"
      },
      "type": "list"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) that identifies the resource to list the tags. </p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p> The tags for the resource. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "Margin": {
      "type": "string"
    },
    "MarginPercentage": {
      "type": "string"
    },
    "MaxBillingGroupResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxCustomLineItemResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxPricingPlanResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxPricingRuleResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ModifierPercentage": {
      "box": true,
      "min": 0,
      "type": "double"
    },
    "NumberOfAccounts": {
      "min": 0,
      "type": "long"
    },
    "NumberOfAssociatedPricingRules": {
      "min": 1,
      "type": "long"
    },
    "NumberOfAssociations": {
      "min": 0,
      "type": "long"
    },
    "NumberOfPricingPlansAssociatedWith": {
      "min": 0,
      "type": "long"
    },
    "PricingPlanArn": {
      "pattern": "(arn:aws:billingconductor::[0-9]{12}:pricingplan/)?[a-zA-Z0-9]{10}",
      "type": "string"
    },
    "PricingPlanArns": {
      "max": 100,
      "member": {
        "shape": "PricingPlanArn"
      },
      "min": 1,
      "type": "list"
    },
    "PricingPlanDescription": {
      "max": 1024,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "PricingPlanFullArn": {
      "pattern": "arn:aws:billingconductor::[0-9]{12}:pricingplan/[a-zA-Z0-9]{10}",
      "type": "string"
    },
    "PricingPlanList": {
      "member": {
        "shape": "PricingPlanListElement"
      },
      "type": "list"
    },
    "PricingPlanListElement": {
      "documentation": "<p>A representation of a pricing plan. </p>",
      "members": {
        "Arn": {
          "documentation": "<p>The pricing plan Amazon Resource Names (ARN). This can be used to uniquely identify a pricing plan. </p>",
          "shape": "PricingPlanArn"
        },
        "CreationTime": {
          "documentation": "<p> The time the pricing plan was created. </p>",
          "shape": "Instant"
        },
        "Description": {
          "documentation": "<p>The pricing plan description. </p>",
          "shape": "PricingPlanDescription"
        },
        "LastModifiedTime": {
          "documentation": "<p> The most recent time the pricing plan was modified. </p>",
          "shape": "Instant"
        },
        "Name": {
          "documentation": "<p>The name of a pricing plan. </p>",
          "shape": "PricingPlanName"
        },
        "Size": {
          "documentation": "<p> The pricing rules count currently associated with this pricing plan list element. </p>",
          "shape": "NumberOfAssociatedPricingRules"
        }
      },
      "type": "structure"
    },
    "PricingPlanName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\+=\\.\\-@]+",
      "sensitive": true,
      "type": "string"
    },
    "PricingRuleArn": {
      "pattern": "(arn:aws:billingconductor::[0-9]{12}:pricingrule/)?[a-zA-Z0-9]{10}",
      "type": "string"
    },
    "PricingRuleArns": {
      "max": 100,
      "member": {
        "shape": "PricingRuleArn"
      },
      "min": 1,
      "type": "list"
    },
    "PricingRuleArnsInput": {
      "max": 30,
      "member": {
        "shape": "PricingRuleArn"
      },
      "min": 0,
      "type": "list"
    },
    "PricingRuleArnsNonEmptyInput": {
      "max": 30,
      "member": {
        "shape": "PricingRuleArn"
      },
      "min": 1,
      "type": "list"
    },
    "PricingRuleDescription": {
      "max": 1024,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "PricingRuleList": {
      "member": {
        "shape": "PricingRuleListElement"
      },
      "type": "list"
    },
    "PricingRuleListElement": {
      "documentation": "<p> A representation of a pricing rule. </p>",
      "members": {
        "Arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) used to uniquely identify a pricing rule. </p>",
          "shape": "PricingRuleArn"
        },
        "AssociatedPricingPlanCount": {
          "documentation": "<p> The pricing plans count that this pricing rule is associated with. </p>",
          "shape": "NumberOfPricingPlansAssociatedWith"
        },
        "CreationTime": {
          "documentation": "<p> The time the pricing rule was created. </p>",
          "shape": "Instant"
        },
        "Description": {
          "documentation": "<p> The pricing rule description. </p>",
          "shape": "PricingRuleDescription"
        },
        "LastModifiedTime": {
          "documentation": "<p> The most recent time the pricing rule was modified. </p>",
          "shape": "Instant"
        },
        "ModifierPercentage": {
          "documentation": "<p> A percentage modifier applied on the public pricing rates. </p>",
          "shape": "ModifierPercentage"
        },
        "Name": {
          "documentation": "<p> The name of a pricing rule. </p>",
          "shape": "PricingRuleName"
        },
        "Scope": {
          "documentation": "<p> The scope of pricing rule that indicates if it is globally applicable, or if it is service-specific. </p>",
          "shape": "PricingRuleScope"
        },
        "Service": {
          "documentation": "<p> If the <code>Scope</code> attribute is <code>SERVICE</code>, this attribute indicates which service the <code>PricingRule</code> is applicable for. </p>",
          "shape": "Service"
        },
        "Type": {
          "documentation": "<p> The type of pricing rule. </p>",
          "shape": "PricingRuleType"
        }
      },
      "type": "structure"
    },
    "PricingRuleName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\+=\\.\\-@]+",
      "sensitive": true,
      "type": "string"
    },
    "PricingRuleScope": {
      "enum": [
        "GLOBAL",
        "SERVICE"
      ],
      "type": "string"
    },
    "PricingRuleType": {
      "enum": [
        "MARKUP",
        "DISCOUNT"
      ],
      "type": "string"
    },
    "ProformaCost": {
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The request references a resource that doesn't exist. </p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "<p>Resource identifier that was not found. </p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Resource type that was not found. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "RetryAfterSeconds": {
      "type": "integer"
    },
    "Service": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9]+",
      "type": "string"
    },
    "ServiceLimitExceededException": {
      "documentation": "<p>The request would cause a service limit to exceed. </p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "LimitCode": {
          "documentation": "<p>The unique code identifier of the service limit that is being exceeded. </p>",
          "shape": "String"
        },
        "Message": {
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "<p>Identifier of the resource affected. </p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Type of the resource affected. </p>",
          "shape": "String"
        },
        "ServiceCode": {
          "documentation": "<p>The unique code for the service of the limit that is being exceeded. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Message",
        "LimitCode",
        "ServiceCode"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 200,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the resource to which to add tags. </p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        },
        "Tags": {
          "documentation": "<p> The tags to add to the resource as a list of key-value pairs. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling. </p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "RetryAfterSeconds": {
          "documentation": "<p>Number of seconds you can safely retry after the call. </p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "RetryAfterSeconds"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Token": {
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the resource to which to delete tags. </p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        },
        "TagKeys": {
          "documentation": "<p> The tags to delete from the resource as a list of key-value pairs. </p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateBillingGroupInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the billing group being updated. </p>",
          "shape": "BillingGroupArn"
        },
        "ComputationPreference": {
          "documentation": "<p> The preferences and settings that will be used to compute the Amazon Web Services charges for a billing group. </p>",
          "shape": "ComputationPreference"
        },
        "Description": {
          "documentation": "<p>A description of the billing group. </p>",
          "shape": "BillingGroupDescription"
        },
        "Name": {
          "documentation": "<p>The name of the billing group. The names must be unique to each billing group. </p>",
          "shape": "BillingGroupName"
        },
        "Status": {
          "documentation": "<p>The status of the billing group. Only one of the valid values can be used. </p>",
          "shape": "BillingGroupStatus"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "UpdateBillingGroupOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the billing group that was updated. </p>",
          "shape": "BillingGroupArn"
        },
        "Description": {
          "documentation": "<p> A description of the billing group. </p>",
          "shape": "BillingGroupDescription"
        },
        "LastModifiedTime": {
          "documentation": "<p> The most recent time the billing group was modified. </p>",
          "shape": "Instant"
        },
        "Name": {
          "documentation": "<p> The name of the billing group. The names must be unique to each billing group. </p>",
          "shape": "BillingGroupName"
        },
        "PricingPlanArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan to compute Amazon Web Services charges for the billing group. </p>",
          "shape": "PricingPlanArn"
        },
        "PrimaryAccountId": {
          "documentation": "<p> The account ID that serves as the main account in a billing group. </p>",
          "shape": "AccountId"
        },
        "Size": {
          "documentation": "<p> The number of accounts in the particular billing group. </p>",
          "shape": "NumberOfAccounts"
        },
        "Status": {
          "documentation": "<p> The status of the billing group. Only one of the valid values can be used. </p>",
          "shape": "BillingGroupStatus"
        },
        "StatusReason": {
          "documentation": "<p> The reason why the billing group is in its current status. </p>",
          "shape": "BillingGroupStatusReason"
        }
      },
      "type": "structure"
    },
    "UpdateCustomLineItemChargeDetails": {
      "documentation": "<p> A representation of the new charge details of a custom line item. This should contain only one of <code>Flat</code> or <code>Percentage</code>. </p>",
      "members": {
        "Flat": {
          "documentation": "<p> An <code>UpdateCustomLineItemFlatChargeDetails</code> that describes the new charge details of a flat custom line item. </p>",
          "shape": "UpdateCustomLineItemFlatChargeDetails"
        },
        "Percentage": {
          "documentation": "<p> An <code>UpdateCustomLineItemPercentageChargeDetails</code> that describes the new charge details of a percentage custom line item. </p>",
          "shape": "UpdateCustomLineItemPercentageChargeDetails"
        }
      },
      "type": "structure"
    },
    "UpdateCustomLineItemFlatChargeDetails": {
      "documentation": "<p> A representation of the new charge details associated with a flat custom line item. </p>",
      "members": {
        "ChargeValue": {
          "documentation": "<p> The custom line item's new fixed charge value in USD. </p>",
          "shape": "CustomLineItemChargeValue"
        }
      },
      "required": [
        "ChargeValue"
      ],
      "type": "structure"
    },
    "UpdateCustomLineItemInput": {
      "members": {
        "Arn": {
          "documentation": "<p> The ARN of the custom line item to be updated. </p>",
          "shape": "CustomLineItemArn"
        },
[...]
