{
  "documentation": "<fullname>Cloud Map</fullname> <p>With Cloud Map, you can configure public DNS, private DNS, or HTTP namespaces that your microservice applications run in. When an instance becomes available, you can call the Cloud Map API to register the instance with Cloud Map. For public or private DNS namespaces, Cloud Map automatically creates DNS records and an optional health check. Clients that submit public or private DNS queries, or HTTP requests, for the service receive an answer that contains up to eight healthy records. </p>",
  "metadata": {
    "apiVersion": "2017-03-14",
    "endpointPrefix": "servicediscovery",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ServiceDiscovery",
    "serviceFullName": "AWS Cloud Map",
    "serviceId": "ServiceDiscovery",
    "signatureVersion": "v4",
    "targetPrefix": "Route53AutoNaming_v20170314",
    "uid": "servicediscovery-2017-03-14"
  },
  "operations": {
    "CreateHttpNamespace": {
      "documentation": "<p>Creates an HTTP namespace. Service instances registered using an HTTP namespace can be discovered using a <code>DiscoverInstances</code> request but can't be discovered using DNS.</p> <p>For the current quota on the number of namespaces that you can create using the same Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the <i>Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHttpNamespaceRequest"
      },
      "name": "CreateHttpNamespace",
      "output": {
        "shape": "CreateHttpNamespaceResponse"
      }
    },
    "CreatePrivateDnsNamespace": {
      "documentation": "<p>Creates a private namespace based on DNS, which is visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service is <code>backend.example.com</code>. Service instances that are registered using a private DNS namespace can be discovered using either a <code>DiscoverInstances</code> request or using DNS. For the current quota on the number of namespaces that you can create using the same Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the <i>Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePrivateDnsNamespaceRequest"
      },
      "name": "CreatePrivateDnsNamespace",
      "output": {
        "shape": "CreatePrivateDnsNamespaceResponse"
      }
    },
    "CreatePublicDnsNamespace": {
      "documentation": "<p>Creates a public namespace based on DNS, which is visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service is <code>backend.example.com</code>. You can discover instances that were registered with a public DNS namespace by using either a <code>DiscoverInstances</code> request or using DNS. For the current quota on the number of namespaces that you can create using the same Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the <i>Cloud Map Developer Guide</i>.</p> <important> <p>The <code>CreatePublicDnsNamespace</code> API operation is not supported in the Amazon Web Services GovCloud (US) Regions.</p> </important>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePublicDnsNamespaceRequest"
      },
      "name": "CreatePublicDnsNamespace",
      "output": {
        "shape": "CreatePublicDnsNamespaceResponse"
      }
    },
    "CreateService": {
      "documentation": "<p>Creates a service. This action defines the configuration for the following entities:</p> <ul> <li> <p>For public and private DNS namespaces, one of the following combinations of DNS records in Amazon Route\u00a053:</p> <ul> <li> <p> <code>A</code> </p> </li> <li> <p> <code>AAAA</code> </p> </li> <li> <p> <code>A</code> and <code>AAAA</code> </p> </li> <li> <p> <code>SRV</code> </p> </li> <li> <p> <code>CNAME</code> </p> </li> </ul> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, and Cloud Map uses the values in the configuration to create the specified entities.</p> <p>For the current quota on the number of instances that you can register using the same namespace and using the same service, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the <i>Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ServiceAlreadyExists"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceRequest"
      },
      "name": "CreateService",
      "output": {
        "shape": "CreateServiceResponse"
      }
    },
    "DeleteNamespace": {
      "documentation": "<p>Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNamespaceRequest"
      },
      "name": "DeleteNamespace",
      "output": {
        "shape": "DeleteNamespaceResponse"
      }
    },
    "DeleteService": {
      "documentation": "<p>Deletes a specified service. If the service still contains one or more registered instances, the request fails.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceRequest"
      },
      "name": "DeleteService",
      "output": {
        "shape": "DeleteServiceResponse"
      }
    },
    "DeregisterInstance": {
      "documentation": "<p>Deletes the Amazon Route\u00a053 DNS records and health check, if any, that Cloud Map created for the specified instance.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterInstanceRequest"
      },
      "name": "DeregisterInstance",
      "output": {
        "shape": "DeregisterInstanceResponse"
      }
    },
    "DiscoverInstances": {
      "documentation": "<p>Discovers registered instances for a specified namespace and service. You can use <code>DiscoverInstances</code> to discover instances for any type of namespace. For public and private DNS namespaces, you can also use DNS queries to discover instances.</p>",
      "endpoint": {
        "hostPrefix": "data-"
      },
      "errors": [
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "RequestLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DiscoverInstancesRequest"
      },
      "name": "DiscoverInstances",
      "output": {
        "shape": "DiscoverInstancesResponse"
      }
    },
    "GetInstance": {
      "documentation": "<p>Gets information about a specified instance.</p>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceRequest"
      },
      "name": "GetInstance",
      "output": {
        "shape": "GetInstanceResponse"
      }
    },
    "GetInstancesHealthStatus": {
      "documentation": "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p> <note> <p>There's a brief delay between when you register an instance and when the health status for the instance is available. </p> </note>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstancesHealthStatusRequest"
      },
      "name": "GetInstancesHealthStatus",
      "output": {
        "shape": "GetInstancesHealthStatusResponse"
      }
    },
    "GetNamespace": {
      "documentation": "<p>Gets information about a namespace.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNamespaceRequest"
      },
      "name": "GetNamespace",
      "output": {
        "shape": "GetNamespaceResponse"
      }
    },
    "GetOperation": {
      "documentation": "<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request.</p> <note> <p>To get a list of operations that match specified criteria, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_ListOperations.html\">ListOperations</a>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationRequest"
      },
      "name": "GetOperation",
      "output": {
        "shape": "GetOperationResponse"
      }
    },
    "GetService": {
      "documentation": "<p>Gets the settings for a specified service.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceRequest"
      },
      "name": "GetService",
      "output": {
        "shape": "GetServiceResponse"
      }
    },
    "ListInstances": {
      "documentation": "<p>Lists summary information about the instances that you registered by using a specified service.</p>",
      "errors": [
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstancesRequest"
      },
      "name": "ListInstances",
      "output": {
        "shape": "ListInstancesResponse"
      }
    },
    "ListNamespaces": {
      "documentation": "<p>Lists summary information about the namespaces that were created by the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNamespacesRequest"
      },
      "name": "ListNamespaces",
      "output": {
        "shape": "ListNamespacesResponse"
      }
    },
    "ListOperations": {
      "documentation": "<p>Lists operations that match the criteria that you specify.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOperationsRequest"
      },
      "name": "ListOperations",
      "output": {
        "shape": "ListOperationsResponse"
      }
    },
    "ListServices": {
      "documentation": "<p>Lists summary information for all the services that are associated with one or more specified namespaces.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicesRequest"
      },
      "name": "ListServices",
      "output": {
        "shape": "ListServicesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RegisterInstance": {
      "documentation": "<p>Creates or updates one or more records and, optionally, creates a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, the following occurs:</p> <ul> <li> <p>For each DNS record that you define in the service that's specified by <code>ServiceId</code>, a record is created or updated in the hosted zone that's associated with the corresponding namespace.</p> </li> <li> <p>If the service includes <code>HealthCheckConfig</code>, a health check is created based on the settings in the health check configuration.</p> </li> <li> <p>The health check, if any, is associated with each of the new or updated records.</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service ID and instance ID.</p> </important> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html\">CreateService</a>.</p> <p>When Cloud Map receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the records</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the applicable value for the last healthy instance</p> </li> <li> <p> <b>If you didn't specify a health check configuration</b>: returns all the records</p> </li> </ul> <p>For the current quota on the number of instances that you can register using the same namespace and using the same service, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">Cloud Map quotas</a> in the <i>Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterInstanceRequest"
      },
      "name": "RegisterInstance",
      "output": {
        "shape": "RegisterInstanceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateHttpNamespace": {
      "documentation": "<p>Updates an HTTP namespace.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateHttpNamespaceRequest"
      },
      "name": "UpdateHttpNamespace",
      "output": {
        "shape": "UpdateHttpNamespaceResponse"
      }
    },
    "UpdateInstanceCustomHealthStatus": {
      "documentation": "<p>Submits a request to change the health status of a custom health check to healthy or unhealthy.</p> <p>You can use <code>UpdateInstanceCustomHealthStatus</code> to change the status only for custom health checks, which you define using <code>HealthCheckCustomConfig</code> when you create a service. You can't use it to change the status for Route\u00a053 health checks, which you define using <code>HealthCheckConfig</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_HealthCheckCustomConfig.html\">HealthCheckCustomConfig</a>.</p>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "CustomHealthNotFound"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateInstanceCustomHealthStatusRequest"
      },
      "name": "UpdateInstanceCustomHealthStatus"
    },
    "UpdatePrivateDnsNamespace": {
      "documentation": "<p>Updates a private DNS namespace.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePrivateDnsNamespaceRequest"
      },
      "name": "UpdatePrivateDnsNamespace",
      "output": {
        "shape": "UpdatePrivateDnsNamespaceResponse"
      }
    },
    "UpdatePublicDnsNamespace": {
      "documentation": "<p>Updates a public DNS namespace.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePublicDnsNamespaceRequest"
      },
      "name": "UpdatePublicDnsNamespace",
      "output": {
        "shape": "UpdatePublicDnsNamespaceResponse"
      }
    },
    "UpdateService": {
      "documentation": "<p>Submits a request to perform the following operations:</p> <ul> <li> <p>Update the TTL setting for existing <code>DnsRecords</code> configurations</p> </li> <li> <p>Add, update, or delete <code>HealthCheckConfig</code> for a specified service</p> <note> <p>You can't add, update, or delete a <code>HealthCheckCustomConfig</code> configuration.</p> </note> </li> </ul> <p>For public and private DNS namespaces, note the following:</p> <ul> <li> <p>If you omit any existing <code>DnsRecords</code> or <code>HealthCheckConfig</code> configurations from an <code>UpdateService</code> request, the configurations are deleted from the service.</p> </li> <li> <p>If you omit an existing <code>HealthCheckCustomConfig</code> configuration from an <code>UpdateService</code> request, the configuration isn't deleted from the service.</p> </li> </ul> <p>When you update settings for a service, Cloud Map also updates the corresponding settings in all the records and health checks that were created by using the specified service.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceRequest"
      },
      "name": "UpdateService",
      "output": {
        "shape": "UpdateServiceResponse"
      }
    }
  },
  "shapes": {
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "Arn": {
      "max": 255,
      "type": "string"
    },
    "AttrKey": {
      "max": 255,
      "pattern": "^[a-zA-Z0-9!-~]+$",
      "type": "string"
    },
    "AttrValue": {
      "max": 1024,
      "pattern": "^([a-zA-Z0-9!-~][ \\ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$",
      "type": "string"
    },
    "Attributes": {
      "key": {
        "shape": "AttrKey"
      },
      "type": "map",
      "value": {
        "shape": "AttrValue"
      }
    },
    "Code": {
      "type": "string"
    },
    "CreateHttpNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateHttpNamespace</code> requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a date/time stamp).</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace.</p>",
          "shape": "NamespaceNameHttp"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you define. Tags keys can be up to 128 characters in length, and tag values can be up to 256 characters in length.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateHttpNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreatePrivateDnsNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code> requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a date/timestamp).</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace. When you create a private DNS namespace, Cloud Map automatically creates an Amazon Route\u00a053 private hosted zone that has the same name as the namespace.</p>",
          "shape": "NamespaceNamePrivate"
        },
        "Properties": {
          "documentation": "<p>Properties for the private DNS namespace.</p>",
          "shape": "PrivateDnsNamespaceProperties"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you define. Tags keys can be up to 128 characters in length, and tag values can be up to 256 characters in length.</p>",
          "shape": "TagList"
        },
        "Vpc": {
          "documentation": "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Name",
        "Vpc"
      ],
      "type": "structure"
    },
    "CreatePrivateDnsNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreatePublicDnsNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code> requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a date/timestamp).</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace.</p> <note> <p>Do not include sensitive information in the name. The name is publicly available using DNS queries.</p> </note>",
          "shape": "NamespaceNamePublic"
        },
        "Properties": {
          "documentation": "<p>Properties for the public DNS namespace.</p>",
          "shape": "PublicDnsNamespaceProperties"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the namespace. Each tag consists of a key and an optional value that you define. Tags keys can be up to 128 characters in length, and tag values can be up to 256 characters in length.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreatePublicDnsNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreateServiceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateService</code> requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string (for example, a date/timestamp).</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the service.</p>",
          "shape": "ResourceDescription"
        },
        "DnsConfig": {
          "documentation": "<p>A complex type that contains information about the Amazon Route\u00a053 records that you want Cloud Map to create when you register an instance. </p>",
          "shape": "DnsConfig"
        },
        "HealthCheckConfig": {
          "documentation": "<p> <i>Public DNS and HTTP namespaces only.</i> A complex type that contains settings for an optional Route\u00a053 health check. If you specify settings for a health check, Cloud Map associates the health check with all the Route\u00a053 DNS records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/cloud-map/pricing/\">Cloud Map Pricing</a>.</p>",
          "shape": "HealthCheckConfig"
        },
        "HealthCheckCustomConfig": {
          "documentation": "<p>A complex type that contains information about an optional custom health check.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>You can't add, update, or delete a <code>HealthCheckCustomConfig</code> configuration from an existing service.</p>",
          "shape": "HealthCheckCustomConfig"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to the service.</p> <note> <p>Do not include sensitive information in the name if the namespace is discoverable by public DNS queries.</p> </note> <p>If you want Cloud Map to create an <code>SRV</code> record when you register an instance and you're using a system that requires a specific <code>SRV</code> format, such as <a href=\"http://www.haproxy.org/\">HAProxy</a>, specify the following for <code>Name</code>:</p> <ul> <li> <p>Start the name with an underscore (_), such as <code>_exampleservice</code>.</p> </li> <li> <p>End the name with <i>._protocol</i>, such as <code>._tcp</code>.</p> </li> </ul> <p>When you register an instance, Cloud Map creates an <code>SRV</code> record and assigns a name to the record by concatenating the service name and the namespace name (for example,</p> <p> <code>_exampleservice._tcp.example.com</code>).</p> <note> <p>For services that are accessible by DNS queries, you can't create multiple services with names that differ only by case (such as EXAMPLE and example). Otherwise, these services have the same DNS name and can't be distinguished. However, if you use a namespace that's only accessible by API calls, then you can create services that with names that differ only by case.</p> </note>",
          "shape": "ServiceName"
        },
        "NamespaceId": {
          "documentation": "<p>The ID of the namespace that you want to use to create the service. The namespace ID must be specified, but it can be specified either here or in the <code>DnsConfig</code> object.</p>",
          "shape": "ResourceId"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the service. Each tag consists of a key and an optional value that you define. Tags keys can be up to 128 characters in length, and tag values can be up to 256 characters in length.</p>",
          "shape": "TagList"
        },
        "Type": {
          "documentation": "<p>If present, specifies that the service instances are only discoverable using the <code>DiscoverInstances</code> API operation. No DNS records is registered for the service instances. The only valid value is <code>HTTP</code>.</p>",
          "shape": "ServiceTypeOption"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateServiceResponse": {
      "members": {
        "Service": {
          "documentation": "<p>A complex type that contains information about the new service.</p>",
          "shape": "Service"
        }
      },
      "type": "structure"
    },
    "CustomHealthNotFound": {
      "documentation": "<p>The health check for the instance that's specified by <code>ServiceId</code> and <code>InstanceId</code> isn't a custom health check. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CustomHealthStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "DeleteNamespaceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the namespace that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "DeleteServiceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the service that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteServiceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeregisterInstanceRequest": {
      "members": {
        "InstanceId": {
          "documentation": "<p>The value that you specified for <code>Id</code> in the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request.</p>",
          "shape": "ResourceId"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId",
        "InstanceId"
      ],
      "type": "structure"
    },
    "DeregisterInstanceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_GetOperation.html\">GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "DiscoverInstancesRequest": {
      "members": {
        "HealthStatus": {
          "documentation": "<p>The health status of the instances that you want to discover. This parameter is ignored for services that don't have a health check configured, and all instances are returned.</p> <dl> <dt>HEALTHY</dt> <dd> <p>Returns healthy instances.</p> </dd> <dt>UNHEALTHY</dt> <dd> <p>Returns unhealthy instances.</p> </dd> <dt>ALL</dt> <dd> <p>Returns all instances.</p> </dd> <dt>HEALTHY_OR_ELSE_ALL</dt> <dd> <p>Returns healthy instances, unless none are reporting a healthy state. In that case, return all instances. This is also called failing open.</p> </dd> </dl>",
          "shape": "HealthStatusFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a <code>DiscoverInstances</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>",
          "shape": "DiscoverMaxResults"
        },
        "NamespaceName": {
          "documentation": "<p>The <code>HttpName</code> name of the namespace. It's found in the <code>HttpProperties</code> member of the <code>Properties</code> member of the namespace.</p>",
          "shape": "NamespaceName"
        },
        "OptionalParameters": {
          "documentation": "<p>Opportunistic filters to scope the results based on custom attributes. If there are instances that match both the filters specified in both the <code>QueryParameters</code> parameter and this parameter, all of these instances are returned. Otherwise, the filters are ignored, and only instances that match the filters that are specified in the <code>QueryParameters</code> parameter are returned.</p>",
          "shape": "Attributes"
        },
        "QueryParameters": {
          "documentation": "<p>Filters to scope the results based on custom attributes for the instance (for example, <code>{version=v1, az=1a}</code>). Only instances that match all the specified key-value pairs are returned.</p>",
          "shape": "Attributes"
        },
        "ServiceName": {
          "documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
          "shape": "ServiceName"
        }
      },
      "required": [
        "NamespaceName",
        "ServiceName"
      ],
      "type": "structure"
    },
    "DiscoverInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>A complex type that contains one <code>HttpInstanceSummary</code> for each registered instance.</p>",
          "shape": "HttpInstanceSummaryList"
        }
      },
      "type": "structure"
    },
    "DiscoverMaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "DnsConfig": {
      "documentation": "<p>A complex type that contains information about the Amazon Route\u00a053 DNS records that you want Cloud Map to create when you register an instance.</p> <important> <p>The record types of a service can only be changed by deleting the service and recreating it with a new <code>Dnsconfig</code>.</p> </important>",
      "members": {
        "DnsRecords": {
          "documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route\u00a053 DNS record that you want Cloud Map to create when you register an instance.</p>",
          "shape": "DnsRecordList"
        },
        "NamespaceId": {
          "deprecated": true,
          "deprecatedMessage": "Top level attribute in request should be used to reference namespace-id",
          "documentation": "<p> <i>Use NamespaceId in <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_Service.html\">Service</a> instead.</i> </p> <p>The ID of the namespace to use for DNS configuration.</p>",
          "shape": "ResourceId"
        },
        "RoutingPolicy": {
          "documentation": "<p>The routing policy that you want to apply to all Route\u00a053 DNS records that Cloud Map creates when you register an instance and specify this service.</p> <note> <p>If you want to use this service to register instances that create alias records, specify <code>WEIGHTED</code> for the routing policy.</p> </note> <p>You can specify the following values:</p> <dl> <dt>MULTIVALUE</dt> <dd> <p>If you define a health check for the service and the health check is healthy, Route\u00a053 returns the applicable value for up to eight instances.</p> <p>For example, suppose that the service includes configurations for one <code>A</code> record and a health check. You use the service to register 10 instances. Route\u00a053 responds to DNS queries with IP addresses for up to eight healthy instances. If fewer than eight instances are healthy, Route\u00a053 responds to every DNS query with the IP addresses for all of the healthy instances.</p> <p>If you don't define a health check for the service, Route\u00a053 assumes that all instances are healthy and returns the values for up to eight instances.</p> <p>For more information about the multivalue routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue Answer Routing</a> in the <i>Route\u00a053 Developer Guide</i>.</p> </dd> <dt>WEIGHTED</dt> <dd> <p>Route\u00a053 returns the applicable value from one randomly selected instance from among the instances that you registered using the same service. Currently, all records have the same weight, so you can't route more or less traffic to any instances.</p> <p>For example, suppose that the service includes configurations for one <code>A</code> record and a health check. You use the service to register 10 instances. Route\u00a053 responds to DNS queries with the IP address for one randomly selected instance from among the healthy instances. If no instances are healthy, Route\u00a053 responds to DNS queries as if all of the instances were healthy.</p> <p>If you don't define a health check for the service, Route\u00a053 assumes that all instances are healthy and returns the applicable value for one randomly selected instance.</p> <p>For more information about the weighted routing policy, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted Routing</a> in the <i>Route\u00a053 Developer Guide</i>.</p> </dd> </dl>",
          "shape": "RoutingPolicy"
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "structure"
    },
    "DnsConfigChange": {
      "documentation": "<p>A complex type that contains information about changes to the Route\u00a053 DNS records that Cloud Map creates when you register an instance.</p>",
      "members": {
        "DnsRecords": {
          "documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route\u00a053 record that you want Cloud Map to create when you register an instance.</p>",
          "shape": "DnsRecordList"
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "structure"
    },
    "DnsProperties": {
      "documentation": "<p>A complex type that contains the ID for the Route\u00a053 hosted zone that Cloud Map creates when you create a namespace.</p>",
      "members": {
        "HostedZoneId": {
          "documentation": "<p>The ID for the Route\u00a053 hosted zone that Cloud Map creates when you create a namespace.</p>",
          "shape": "ResourceId"
        },
        "SOA": {
          "documentation": "<p>Start of Authority (SOA) record for the hosted zone.</p>",
          "shape": "SOA"
        }
      },
      "type": "structure"
    },
    "DnsRecord": {
      "documentation": "<p>A complex type that contains information about the Route\u00a053 DNS records that you want Cloud Map to create when you register an instance.</p>",
      "members": {
        "TTL": {
          "documentation": "<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this record.</p> <note> <p>Alias records don't include a TTL because Route\u00a053 uses the TTL for the Amazon Web Services resource that an alias record routes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request, the <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service to register instances that create either alias or non-alias records.</p> </note>",
          "shape": "RecordTTL"
        },
        "Type": {
          "documentation": "<p>The type of the resource, which indicates the type of value that Route\u00a053 returns in response to DNS queries. You can specify values for <code>Type</code> in the following combinations:</p> <ul> <li> <p> <b> <code>A</code> </b> </p> </li> <li> <p> <b> <code>AAAA</code> </b> </p> </li> <li> <p> <b> <code>A</code> </b> and <b> <code>AAAA</code> </b> </p> </li> <li> <p> <b> <code>SRV</code> </b> </p> </li> <li> <p> <b> <code>CNAME</code> </b> </p> </li> </ul> <p>If you want Cloud Map to create a Route\u00a053 alias record when you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p> <p>You specify other settings, such as the IP address for <code>A</code> and <code>AAAA</code> records, when you register an instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p> <p>The following values are supported:</p> <dl> <dt>A</dt> <dd> <p>Route\u00a053 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> </dd> <dt>AAAA</dt> <dd> <p>Route\u00a053 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> </dd> <dt>CNAME</dt> <dd> <p>Route\u00a053 returns the domain name of the resource, such as www.example.com. Note the following:</p> <ul> <li> <p>You specify the domain name that you want to route traffic to when you register an instance. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html#cloudmap-RegisterInstance-request-Attributes\">Attributes</a> in the topic <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a>.</p> </li> <li> <p>You must specify <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p> </li> <li> <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings for <code>HealthCheckConfig</code>. If you do, the request will fail with an <code>InvalidInput</code> error.</p> </li> </ul> </dd> <dt>SRV</dt> <dd> <p>Route\u00a053 returns the value for an <code>SRV</code> record. The value for an <code>SRV</code> record uses the following values:</p> <p> <code>priority weight port service-hostname</code> </p> <p>Note the following about the values:</p> <ul> <li> <p>The values of <code>priority</code> and <code>weight</code> are both set to <code>1</code> and can't be changed. </p> </li> <li> <p>The value of <code>port</code> comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute when you submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_RegisterInstance.html\">RegisterInstance</a> request.</p> </li> <li> <p>The value of <code>service-hostname</code> is a concatenation of the following values:</p> <ul> <li> <p>The value that you specify for <code>InstanceId</code> when you register an instance.</p> </li> <li> <p>The name of the service.</p> </li> <li> <p>The name of the namespace. </p> </li> </ul> <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of the service is <code>backend</code>, and the name of the namespace is <code>example.com</code>, the value of <code>service-hostname</code> is the following:</p> <p> <code>test.backend.example.com</code> </p> </li> </ul> <p>If you specify settings for an <code>SRV</code> record, note the following:</p> <ul> <li> <p>If you specify values for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request, Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have the same name as the value of <code>service-hostname</code> in the <code>SRV</code> record. You can ignore these records.</p> </li> <li> <p>If you're using a system that requires a specific <code>SRV</code> format, such as HAProxy, see the <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_CreateService.html#cloudmap-CreateService-request-Name\">Name</a> element in the documentation about <code>CreateService</code> for information about how to specify the correct name format.</p> </li> </ul> </dd> </dl>",
          "shape": "RecordType"
        }
      },
      "required": [
        "Type",
        "TTL"
      ],
      "type": "structure"
    },
    "DnsRecordList": {
      "member": {
        "shape": "DnsRecord"
      },
      "type": "list"
    },
    "DuplicateRequest": {
      "documentation": "<p>The operation is already in progress.</p>",
      "exception": true,
      "members": {
        "DuplicateOperationId": {
          "documentation": "<p>The ID of the operation that's already in progress.</p>",
          "shape": "ResourceId"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailureThreshold": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "FilterCondition": {
      "enum": [
        "EQ",
        "IN",
        "BETWEEN",
        "BEGINS_WITH"
      ],
      "type": "string"
    },
    "FilterValue": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "FilterValues": {
      "member": {
        "shape": "FilterValue"
      },
      "type": "list"
    },
    "GetInstanceRequest": {
      "members": {
        "InstanceId": {
          "documentation": "<p>The ID of the instance that you want to get information about.</p>",
          "shape": "ResourceId"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId",
        "InstanceId"
      ],
      "type": "structure"
    },
    "GetInstanceResponse": {
      "members": {
        "Instance": {
          "documentation": "<p>A complex type that contains information about a specified instance.</p>",
          "shape": "Instance"
        }
      },
      "type": "structure"
    },
    "GetInstancesHealthStatusRequest": {
      "members": {
        "Instances": {
          "documentation": "<p>An array that contains the IDs of all the instances that you want to get the health status for.</p> <p>If you omit <code>Instances</code>, Cloud Map returns the health status for all the instances that are associated with the specified service.</p> <note> <p>To get the IDs for the instances that you've registered by using a specified service, submit a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_ListInstances.html\">ListInstances</a> request.</p> </note>",
          "shape": "InstanceIdList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a <code>GetInstancesHealthStatus</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId"
      ],
      "type": "structure"
    },
    "GetInstancesHealthStatusResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "Status": {
          "documentation": "<p>A complex type that contains the IDs and the health status of the instances that you specified in the <code>GetInstancesHealthStatus</code> request.</p>",
          "shape": "InstanceHealthStatusMap"
        }
      },
      "type": "structure"
    },
    "GetNamespaceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the namespace that you want to get information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetNamespaceResponse": {
      "members": {
        "Namespace": {
          "documentation": "<p>A complex type that contains information about the specified namespace.</p>",
          "shape": "Namespace"
        }
      },
      "type": "structure"
    },
    "GetOperationRequest": {
      "members": {
        "OperationId": {
          "documentation": "<p>The ID of the operation that you want to get more information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "GetOperationResponse": {
      "members": {
        "Operation": {
          "documentation": "<p>A complex type that contains information about the operation.</p>",
          "shape": "Operation"
        }
      },
      "type": "structure"
    },
    "GetServiceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the service that you want to get settings for.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetServiceResponse": {
      "members": {
        "Service": {
          "documentation": "<p>A complex type that contains information about the service.</p>",
          "shape": "Service"
        }
      },
      "type": "structure"
    },
    "HealthCheckConfig": {
      "documentation": "<p> <i>Public DNS and HTTP namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, Cloud Map associates the health check with the records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>Health checks are basic Route\u00a053 health checks that monitor an Amazon Web Services endpoint. For information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route\u00a053 Pricing</a>.</p> <p>Note the following about configuring health checks.</p> <dl> <dt>A and AAAA records</dt> <dd> <p>If <code>DnsConfig</code> includes configurations for both <code>A</code> and <code>AAAA</code> records, Cloud Map creates a health check that uses the IPv4 address to check the health of the resource. If the endpoint tthat's specified by the IPv4 address is unhealthy, Route\u00a053 considers both the <code>A</code> and <code>AAAA</code> records to be unhealthy. </p> </dd> <dt>CNAME records</dt> <dd> <p>You can't specify settings for <code>HealthCheckConfig</code> when the <code>DNSConfig</code> includes <code>CNAME</code> for the value of <code>Type</code>. If you do, the <code>CreateService</code> request will fail with an <code>InvalidInput</code> error.</p> </dd> <dt>Request interval</dt> <dd> <p>A Route\u00a053 health checker in each health-checking Amazon Web Services Region sends a health check request to an endpoint every 30 seconds. On average, your endpoint receives a health check request about every two seconds. However, health checkers don't coordinate with one another. Therefore, you might sometimes see several requests in one second that's followed by a few seconds with no health checks at all.</p> </dd> <dt>Health checking regions</dt> <dd> <p>Health checkers perform checks from all Route\u00a053 health-checking Regions. For a list of the current Regions, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions\">Regions</a>.</p> </dd> <dt>Alias records</dt> <dd> <p>When you register an instance, if you include the <code>AWS_ALIAS_DNS_NAME</code> attribute, Cloud Map creates a Route\u00a053 alias record. Note the following:</p> <ul> <li> <p>Route\u00a053 automatically sets <code>EvaluateTargetHealth</code> to true for alias records. When <code>EvaluateTargetHealth</code> is true, the alias record inherits the health of the referenced Amazon Web Services resource. such as an ELB load balancer. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth\">EvaluateTargetHealth</a>.</p> </li> <li> <p>If you include <code>HealthCheckConfig</code> and then use the service to register an instance that creates an alias record, Route\u00a053 doesn't create the health check.</p> </li> </ul> </dd> <dt>Charges for health checks</dt> <dd> <p>Health checks are basic Route\u00a053 health checks that monitor an Amazon Web Services endpoint. For information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route\u00a053 Pricing</a>.</p> </dd> </dl>",
      "members": {
        "FailureThreshold": {
          "documentation": "<p>The number of consecutive health checks that an endpoint must pass or fail for Route\u00a053 to change the current status of the endpoint from unhealthy to healthy or the other way around. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route\u00a053 Determines Whether an Endpoint Is Healthy</a> in the <i>Route\u00a053 Developer Guide</i>.</p>",
          "shape": "FailureThreshold"
        },
        "ResourcePath": {
          "documentation": "<p>The path that you want Route\u00a053 to request when performing health checks. The path can be any value that your endpoint returns an HTTP status code of a 2xx or 3xx format for when the endpoint is healthy. An example file is <code>/docs/route53-health-check.html</code>. Route\u00a053 automatically adds the DNS name for the service. If you don't specify a value for <code>ResourcePath</code>, the default value is <code>/</code>.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, you must <i>not</i> specify a value for <code>ResourcePath</code>.</p>",
          "shape": "ResourcePath"
        },
        "Type": {
          "documentation": "<p>The type of health check that you want to create, which indicates how Route\u00a053 determines whether an endpoint is healthy.</p> <important> <p>You can't change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Route\u00a053 tries to establish a TCP connection. If successful, Route\u00a053 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Route\u00a053 tries to establish a TCP connection. If successful, Route\u00a053 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>: Route\u00a053 tries to establish a TCP connection.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, don't specify a value for <code>ResourcePath</code>.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route\u00a053 Determines Whether an Endpoint Is Healthy</a> in the <i>Route\u00a053 Developer Guide</i>.</p>",
          "shape": "HealthCheckType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "HealthCheckCustomConfig": {
      "documentation": "<p>A complex type that contains information about an optional custom health check. A custom health check, which requires that you use a third-party health checker to evaluate the health of your resources, is useful in the following circumstances:</p> <ul> <li> <p>You can't use a health check that's defined by <code>HealthCheckConfig</code> because the resource isn't available over the internet. For example, you can use a custom health check when the instance is in an Amazon VPC. (To check the health of resources in a VPC, the health checker must also be in the VPC.)</p> </li> <li> <p>You want to use a third-party health checker regardless of where your resources are located.</p> </li> </ul> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>To change the status of a custom health check, submit an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map doesn't monitor the status of the resource, it just keeps a record of the status specified in the most recent <code>UpdateInstanceCustomHealthStatus</code> request.</p> <p>Here's how custom health checks work:</p> <ol> <li> <p>You create a service.</p> </li> <li> <p>You register an instance.</p> </li> <li> <p>You configure a third-party health checker to monitor the resource that's associated with the new instance. </p> <note> <p>Cloud Map doesn't check the health of the resource directly. </p> </note> </li> <li> <p>The third-party health-checker determines that the resource is unhealthy and notifies your application.</p> </li> <li> <p>Your application submits an <code>UpdateInstanceCustomHealthStatus</code> request.</p> </li> <li> <p>Cloud Map waits for 30 seconds.</p> </li> <li> <p>If another <code>UpdateInstanceCustomHealthStatus</code> request doesn't arrive during that time to change the status back to healthy, Cloud Map stops routing traffic to the resource.</p> </li> </ol>",
      "members": {
        "FailureThreshold": {
          "deprecated": true,
          "deprecatedMessage": "Configurable FailureThreshold of HealthCheckCustomConfig is deprecated.  It will always have value 1.",
          "documentation": "<important> <p>This parameter is no longer supported and is always set to 1. Cloud Map waits for approximately 30 seconds after receiving an <code>UpdateInstanceCustomHealthStatus</code> request before changing the status of the service instance.</p> </important> <p>The number of 30-second intervals that you want Cloud Map to wait after receiving an <code>UpdateInstanceCustomHealthStatus</code> request before it changes the health status of a service instance.</p> <p>Sending a second or subsequent <code>UpdateInstanceCustomHealthStatus</code> request with the same value before 30 seconds has passed doesn't accelerate the change. Cloud Map still waits <code>30</code> seconds after the first request to make the change.</p>",
          "shape": "FailureThreshold"
        }
      },
      "type": "structure"
    },
    "HealthCheckType": {
      "enum": [
        "HTTP",
        "HTTPS",
        "TCP"
      ],
      "type": "string"
    },
    "HealthStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "HealthStatusFilter": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "ALL",
        "HEALTHY_OR_ELSE_ALL"
      ],
      "type": "string"
    },
    "HttpInstanceSummary": {
      "documentation": "<p>In a response to a <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DiscoverInstances.html\">DiscoverInstances</a> request, <code>HttpInstanceSummary</code> contains information about one instance that matches the values that you specified in the request.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>If you included any attributes when you registered the instance, the values of those attributes.</p>",
          "shape": "Attributes"
        },
        "HealthStatus": {
          "documentation": "<p>If you configured health checking in the service, the current health status of the service instance.</p>",
          "shape": "HealthStatus"
        },
        "InstanceId": {
          "documentation": "<p>The ID of an instance that matches the values that you specified in the request.</p>",
          "shape": "ResourceId"
        },
        "NamespaceName": {
          "documentation": "<p> <code/> <code/> <code/> </p> <p>The <code>HttpName</code> name of the namespace. It's found in the <code>HttpProperties</code> member of the <code>Properties</code> member of the namespace.</p>",
          "shape": "NamespaceNameHttp"
        },
        "ServiceName": {
          "documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "HttpInstanceSummaryList": {
      "member": {
        "shape": "HttpInstanceSummary"
      },
      "type": "list"
    },
    "HttpNamespaceChange": {
      "documentation": "<p>Updated properties for the HTTP namespace.</p>",
      "members": {
        "Description": {
          "documentation": "<p>An updated description for the HTTP namespace.</p>",
          "shape": "ResourceDescription"
        }
      },
      "required": [
        "Description"
      ],
      "type": "structure"
    },
    "HttpProperties": {
      "documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>",
      "members": {
        "HttpName": {
          "documentation": "<p>The name of an HTTP namespace.</p>",
          "shape": "NamespaceName"
        }
      },
      "type": "structure"
    },
    "Instance": {
      "documentation": "<p>A complex type that contains information about an instance that Cloud Map creates when you submit a <code>RegisterInstance</code> request.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A string map that contains the following information for the service that you specify in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <note> <p>Do not include sensitive information in the attributes if the namespace is discoverable by public DNS queries.</p> </note> <p>Supported attribute keys include the following:</p> <dl> <dt>AWS_ALIAS_DNS_NAME</dt> <dd> <p>If you want Cloud Map to create a Route\u00a053 alias record that routes traffic to an Elastic Load Balancing load balancer, specify the DNS name that's associated with the load balancer. For information about how to get the DNS name, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-DNSName\">AliasTarget-&gt;DNSName</a> in the <i>Route\u00a053 API Reference</i>.</p> <p>Note the following:</p> <ul> <li> <p>The configuration for the service that's specified by <code>ServiceId</code> must include settings for an <code>A</code> record, an <code>AAAA</code> record, or both.</p> </li> <li> <p>In the service that's specified by <code>ServiceId</code>, the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li> <li> <p>If the service that's specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code> settings, Cloud Map creates the health check, but it won't associate the health check with the alias record.</p> </li> <li> <p>Auto naming currently doesn't support creating alias records that route traffic to Amazon Web Services resources other than ELB load balancers.</p> </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul> </dd> <dt>AWS_EC2_INSTANCE_ID</dt> <dd> <p> <i>HTTP namespaces only.</i> The Amazon EC2 instance ID for the instance. The <code>AWS_INSTANCE_IPV4</code> attribute contains the primary private IPv4 address.</p> </dd> <dt>AWS_INIT_HEALTH_STATUS</dt> <dd> <p>If the service configuration includes <code>HealthCheckCustomConfig</code>, you can optionally use <code>AWS_INIT_HEALTH_STATUS</code> to specify the initial status of the custom health check, <code>HEALTHY</code> or <code>UNHEALTHY</code>. If you don't specify a value for <code>AWS_INIT_HEALTH_STATUS</code>, the initial status is <code>HEALTHY</code>.</p> </dd> <dt>AWS_INSTANCE_CNAME</dt> <dd> <p>If the service configuration includes a <code>CNAME</code> record, the domain name that you want Route\u00a053 to return in response to DNS queries (for example, <code>example.com</code>).</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an <code>CNAME</code> record.</p> </dd> <dt>AWS_INSTANCE_IPV4</dt> <dd> <p>If the service configuration includes an <code>A</code> record, the IPv4 address that you want Route\u00a053 to return in response to DNS queries (for example, <code>192.0.2.44</code>).</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an <code>A</code> record. If the service includes settings for an <code>SRV</code> record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> </dd> <dt>AWS_INSTANCE_IPV6</dt> <dd> <p>If the service configuration includes an <code>AAAA</code> record, the IPv6 address that you want Route\u00a053 to return in response to DNS queries (for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>).</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an <code>AAAA</code> record. If the service includes settings for an <code>SRV</code> record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> </dd> <dt>AWS_INSTANCE_PORT</dt> <dd> <p>If the service includes an <code>SRV</code> record, the value that you want Route\u00a053 to return for the port.</p> <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you want Route\u00a053 to send requests to. </p> <p>This value is required if you specified settings for an <code>SRV</code> record or a Route\u00a053 health check when you created the service.</p> </dd> </dl>",
          "shape": "Attributes"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>RegisterInstance</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code> request if you're registering additional instances for the same namespace and service. <code>CreatorRequestId</code> can be any unique string (for example, a date/time stamp).</p>",
          "shape": "ResourceId"
        },
        "Id": {
          "documentation": "<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>If the service that's specified by <code>ServiceId</code> includes settings for an <code>SRV</code> record, the value of <code>InstanceId</code> is automatically included as part of the value for the <code>SRV</code> record. For more information, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DnsRecord.html#cloudmap-Type-DnsRecord-Type\">DnsRecord &gt; Type</a>.</p> </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that's unique among instances that you register by using the same service. </p> </li> <li> <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, Cloud Map updates the existing DNS records. If there's also an existing health check, Cloud Map deletes the old health check and creates a new one. </p> <note> <p>The health check isn't deleted immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code> request, for example.</p> </note> </li> </ul>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "InstanceHealthStatusMap": {
      "key": {
        "shape": "ResourceId"
      },
      "type": "map",
      "value": {
        "shape": "HealthStatus"
      }
    },
    "InstanceId": {
      "max": 64,
      "pattern": "^[0-9a-zA-Z_/:.@-]+$",
      "type": "string"
    },
    "InstanceIdList": {
      "member": {
        "shape": "ResourceId"
      },
      "min": 1,
      "type": "list"
    },
    "InstanceNotFound": {
      "documentation": "<p>No instance exists with the specified ID, or the instance was recently registered, and information about the instance hasn't propagated yet.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InstanceSummary": {
      "documentation": "<p>A complex type that contains information about the instances that you registered by using a specified service.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A string map that contains the following information:</p> <ul> <li> <p>The attributes that are associated with the instance. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <dl> <dt>AWS_ALIAS_DNS_NAME</dt> <dd> <p>For an alias record that routes traffic to an Elastic Load Balancing load balancer, the DNS name that's associated with the load balancer. </p> </dd> <dt>AWS_EC2_INSTANCE_ID (HTTP namespaces only)</dt> <dd> <p>The Amazon EC2 instance ID for the instance. When the <code>AWS_EC2_INSTANCE_ID</code> attribute is specified, then the <code>AWS_INSTANCE_IPV4</code> attribute contains the primary private IPv4 address.</p> </dd> <dt>AWS_INIT_HEALTH_STATUS</dt> <dd> <p>If the service configuration includes <code>HealthCheckCustomConfig</code>, you can optionally use <code>AWS_INIT_HEALTH_STATUS</code> to specify the initial status of the custom health check, <code>HEALTHY</code> or <code>UNHEALTHY</code>. If you don't specify a value for <code>AWS_INIT_HEALTH_STATUS</code>, the initial status is <code>HEALTHY</code>.</p> </dd> <dt>AWS_INSTANCE_CNAME</dt> <dd> <p>For a <code>CNAME</code> record, the domain name that Route\u00a053 returns in response to DNS queries (for example, <code>example.com</code>).</p> </dd> <dt>AWS_INSTANCE_IPV4</dt> <dd> <p>For an <code>A</code> record, the IPv4 address that Route\u00a053 returns in response to DNS queries (for example, <code>192.0.2.44</code>).</p> </dd> <dt>AWS_INSTANCE_IPV6</dt> <dd> <p>For an <code>AAAA</code> record, the IPv6 address that Route\u00a053 returns in response to DNS queries (for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>).</p> </dd> <dt>AWS_INSTANCE_PORT</dt> <dd> <p>For an <code>SRV</code> record, the value that Route\u00a053 returns for the port. In addition, if the service includes <code>HealthCheckConfig</code>, the port on the endpoint that Route\u00a053 sends requests to.</p> </dd> </dl>",
          "shape": "Attributes"
        },
        "Id": {
          "documentation": "<p>The ID for an instance that you created by using a specified service.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "InstanceSummaryList": {
      "member": {
        "shape": "InstanceSummary"
      },
      "type": "list"
    },
    "InvalidInput": {
      "documentation": "<p>One or more specified values aren't valid. For example, a required value might be missing, a numeric value might be outside the allowed range, or a string value might exceed length constraints.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListInstancesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a <code>ListInstances</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListInstances</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that you want to list instances for.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId"
      ],
      "type": "structure"
    },
    "ListInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>Summary information about the instances that are associated with the specified service.</p>",
          "shape": "InstanceSummaryList"
        },
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNamespacesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the namespaces that you want to list.</p> <p>If you specify more than one filter, a namespace must match all filters to be returned by <code>ListNamespaces</code>.</p>",
          "shape": "NamespaceFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of namespaces that you want Cloud Map to return in the response to a <code>ListNamespaces</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 namespaces.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListNamespaces</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNamespacesResponse": {
      "members": {
        "Namespaces": {
          "documentation": "<p>An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.</p>",
          "shape": "NamespaceSummariesList"
        },
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOperationsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started between a specified start date and end date.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>",
          "shape": "OperationFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of items that you want Cloud Map to return in the response to a <code>ListOperations</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 operations.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListOperations</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOperationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>",
          "shape": "NextToken"
        },
        "Operations": {
          "documentation": "<p>Summary information about the operations that match the specified criteria.</p>",
          "shape": "OperationSummaryList"
        }
      },
      "type": "structure"
    },
    "ListServicesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the namespaces that you want to list services for. </p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>",
          "shape": "ServiceFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of services that you want Cloud Map to return in the response to a <code>ListServices</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 services.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListServices</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListServicesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>",
          "shape": "NextToken"
        },
        "Services": {
          "documentation": "<p>An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.</p>",
          "shape": "ServiceSummariesList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource that you want to retrieve tags for.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags that are assigned to the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "Namespace": {
      "documentation": "<p>A complex type that contains information about a specified namespace.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that Cloud Map assigns to the namespace when you create it.</p>",
          "shape": "Arn"
        },
        "CreateDate": {
          "documentation": "<p>The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running an operation twice. </p>",
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>The description that you specify for the namespace when you create it.</p>",
          "shape": "ResourceDescription"
        },
        "Id": {
          "documentation": "<p>The ID of a namespace.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name of the namespace, such as <code>example.com</code>.</p>",
          "shape": "NamespaceName"
        },
        "Properties": {
          "documentation": "<p>A complex type that contains information that's specific to the type of the namespace.</p>",
          "shape": "NamespaceProperties"
        },
        "ServiceCount": {
          "documentation": "<p>The number of services that are associated with the namespace.</p>",
          "shape": "ResourceCount"
        },
        "Type": {
          "documentation": "<p>The type of the namespace. The methods for discovering instances depends on the value that you specify:</p> <dl> <dt>HTTP</dt> <dd> <p>Instances can be discovered only programmatically, using the Cloud Map <code>DiscoverInstances</code> API.</p> </dd> <dt>DNS_PUBLIC</dt> <dd> <p>Instances can be discovered using public DNS queries and using the <code>DiscoverInstances</code> API.</p> </dd> <dt>DNS_PRIVATE</dt> <dd> <p>Instances can be discovered using DNS queries in VPCs and using the <code>DiscoverInstances</code> API.</p> </dd> </dl>",
          "shape": "NamespaceType"
        }
      },
      "type": "structure"
    },
    "NamespaceAlreadyExists": {
      "documentation": "<p>The namespace that you're trying to create already exists.</p>",
      "exception": true,
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>The <code>CreatorRequestId</code> that was used to create the namespace.</p>",
          "shape": "ResourceId"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "NamespaceId": {
          "documentation": "<p>The ID of the existing namespace.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NamespaceFilter": {
      "documentation": "<p>A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.</p>",
      "members": {
        "Condition": {
          "documentation": "<p>Specify the operator that you want to use to determine whether a namespace matches the specified value. Valid values for <code>Condition</code> are one of the following.</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for <code>Condition</code>, you can specify only one value. <code>EQ</code> is supported for <code>TYPE</code>, <code>NAME</code>, and <code>HTTP_NAME</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>BEGINS_WITH</code>: When you specify <code>BEGINS_WITH</code> for <code>Condition</code>, you can specify only one value. <code>BEGINS_WITH</code> is supported for <code>TYPE</code>, <code>NAME</code>, and <code>HTTP_NAME</code>.</p> </li> </ul>",
          "shape": "FilterCondition"
        },
        "Name": {
          "documentation": "<p>Specify the namespaces that you want to get using one of the following.</p> <ul> <li> <p> <code>TYPE</code>: Gets the namespaces of the specified type.</p> </li> <li> <p> <code>NAME</code>: Gets the namespaces with the specified name.</p> </li> <li> <p> <code>HTTP_NAME</code>: Gets the namespaces with the specified HTTP name.</p> </li> </ul>",
          "shape": "NamespaceFilterName"
        },
        "Values": {
          "documentation": "<p>Specify the values that are applicable to the value that you specify for <code>Name</code>.</p> <ul> <li> <p> <code>TYPE</code>: Specify <code>HTTP</code>, <code>DNS_PUBLIC</code>, or <code>DNS_PRIVATE</code>.</p> </li> <li> <p> <code>NAME</code>: Specify the name of the namespace, which is found in <code>Namespace.Name</code>.</p> </li> <li> <p> <code>HTTP_NAME</code>: Specify the HTTP name of the namespace, which is found in <code>Namespace.Properties.HttpProperties.HttpName</code>.</p> </li> </ul>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "NamespaceFilterName": {
      "enum": [
        "TYPE",
        "NAME",
        "HTTP_NAME"
      ],
      "type": "string"
    },
    "NamespaceFilters": {
      "member": {
        "shape": "NamespaceFilter"
      },
      "type": "list"
    },
    "NamespaceName": {
      "max": 1024,
      "type": "string"
    },
    "NamespaceNameHttp": {
      "max": 1024,
      "pattern": "^[!-~]{1,1024}$",
      "type": "string"
    },
    "NamespaceNamePrivate": {
      "max": 253,
      "pattern": "^[!-~]{1,253}$",
      "type": "string"
    },
    "NamespaceNamePublic": {
      "max": 253,
      "pattern": "^([a-zA-Z0-9]([a-zA-Z0-9\\-]{0,61}[a-zA-Z0-9])?\\.)+[a-zA-Z0-9]([a-zA-Z0-9\\-]{0,61}[a-zA-Z0-9])?$",
      "type": "string"
    },
    "NamespaceNotFound": {
      "documentation": "<p>No namespace exists with the specified ID.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NamespaceProperties": {
      "documentation": "<p>A complex type that contains information that's specific to the namespace type.</p>",
      "members": {
        "DnsProperties": {
          "documentation": "<p>A complex type that contains the ID for the Route\u00a053 hosted zone that Cloud Map creates when you create a namespace.</p>",
          "shape": "DnsProperties"
        },
        "HttpProperties": {
          "documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>",
          "shape": "HttpProperties"
        }
      },
      "type": "structure"
    },
    "NamespaceSummariesList": {
      "member": {
        "shape": "NamespaceSummary"
      },
      "type": "list"
    },
    "NamespaceSummary": {
      "documentation": "<p>A complex type that contains information about a namespace.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that Cloud Map assigns to the namespace when you create it.</p>",
          "shape": "Arn"
        },
        "CreateDate": {
          "documentation": "<p>The date and time that the namespace was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Id": {
          "documentation": "<p>The ID of the namespace.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name of the namespace. When you create a namespace, Cloud Map automatically creates a Route\u00a053 hosted zone that has the same name as the namespace.</p>",
          "shape": "NamespaceName"
        },
        "Properties": {
          "documentation": "<p>The properties of the namespace.</p>",
          "shape": "NamespaceProperties"
        },
        "ServiceCount": {
          "documentation": "<p>The number of services that were created using the namespace.</p>",
          "shape": "ResourceCount"
        },
        "Type": {
          "documentation": "<p>The type of the namespace, either public or private.</p>",
          "shape": "NamespaceType"
        }
      },
      "type": "structure"
    },
    "NamespaceType": {
      "enum": [
        "DNS_PUBLIC",
        "DNS_PRIVATE",
        "HTTP"
      ],
      "type": "string"
    },
    "NextToken": {
      "max": 4096,
      "type": "string"
    },
    "Operation": {
      "documentation": "<p>A complex type that contains information about a specified operation.</p>",
      "members": {
        "CreateDate": {
          "documentation": "<p>The date and time that the request was submitted, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        },
        "ErrorCode": {
          "documentation": "<p>The code associated with <code>ErrorMessage</code>. Values for <code>ErrorCode</code> include the following:</p> <ul> <li> <p> <code>ACCESS_DENIED</code> </p> </li> <li> <p> <code>CANNOT_CREATE_HOSTED_ZONE</code> </p> </li> <li> <p> <code>EXPIRED_TOKEN</code> </p> </li> <li> <p> <code>HOSTED_ZONE_NOT_FOUND</code> </p> </li> <li> <p> <code>INTERNAL_FAILURE</code> </p> </li> <li> <p> <code>INVALID_CHANGE_BATCH</code> </p> </li> <li> <p> <code>THROTTLED_REQUEST</code> </p> </li> </ul>",
          "shape": "Code"
        },
        "ErrorMessage": {
          "documentation": "<p>If the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation failed.</p>",
          "shape": "Message"
        },
        "Id": {
          "documentation": "<p>The ID of the operation that you want to get information about.</p>",
          "shape": "OperationId"
        },
        "Status": {
          "documentation": "<p>The status of the operation. Values include the following:</p> <dl> <dt>SUBMITTED</dt> <dd> <p>This is the initial state that occurs immediately after you submit a request.</p> </dd> <dt>PENDING</dt> <dd> <p>Cloud Map is performing the operation.</p> </dd> <dt>SUCCESS</dt> <dd> <p>The operation succeeded.</p> </dd> <dt>FAIL</dt> <dd> <p>The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </dd> </dl>",
          "shape": "OperationStatus"
        },
        "Targets": {
          "documentation": "<p>The name of the target entity that's associated with the operation:</p> <dl> <dt>NAMESPACE</dt> <dd> <p>The namespace ID is returned in the <code>ResourceId</code> property.</p> </dd> <dt>SERVICE</dt> <dd> <p>The service ID is returned in the <code>ResourceId</code> property.</p> </dd> <dt>INSTANCE</dt> <dd> <p>The instance ID is returned in the <code>ResourceId</code> property.</p> </dd> </dl>",
          "shape": "OperationTargetsMap"
        },
        "Type": {
          "documentation": "<p>The name of the operation that's associated with the specified ID.</p>",
          "shape": "OperationType"
        },
        "UpdateDate": {
          "documentation": "<p>The date and time that the value of <code>Status</code> changed to the current value, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>UpdateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "OperationFilter": {
      "documentation": "<p>A complex type that lets you select the operations that you want to list.</p>",
      "members": {
        "Condition": {
[...]
