{
  "documentation": "<fullname>Amazon API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
  "metadata": {
    "apiVersion": "2015-07-09",
    "endpointPrefix": "apigateway",
    "protocol": "rest-json",
    "serviceFullName": "Amazon API Gateway",
    "serviceId": "API Gateway",
    "signatureVersion": "v4",
    "uid": "apigateway-2015-07-09"
  },
  "operations": {
    "CreateApiKey": {
      "documentation": "<p>Create an ApiKey resource. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apikeys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiKeyRequest"
      },
      "name": "CreateApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "CreateAuthorizer": {
      "documentation": "<p>Adds a new Authorizer resource to an existing RestApi resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/authorizers",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAuthorizerRequest"
      },
      "name": "CreateAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "CreateBasePathMapping": {
      "documentation": "<p>Creates a new BasePathMapping resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/domainnames/{domain_name}/basepathmappings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBasePathMappingRequest"
      },
      "name": "CreateBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "CreateDeployment": {
      "documentation": "<p>Creates a Deployment resource, which makes a specified RestApi callable over the internet.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/deployments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "CreateDocumentationPart": {
      "documentation": "<p>Creates a documentation part.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/documentation/parts",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDocumentationPartRequest"
      },
      "name": "CreateDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "CreateDocumentationVersion": {
      "documentation": "<p>Creates a documentation version</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/documentation/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDocumentationVersionRequest"
      },
      "name": "CreateDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "CreateDomainName": {
      "documentation": "<p>Creates a new domain name.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/domainnames",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDomainNameRequest"
      },
      "name": "CreateDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "CreateModel": {
      "documentation": "<p>Adds a new Model resource to an existing RestApi resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/models",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "shape": "Model"
      }
    },
    "CreateRequestValidator": {
      "documentation": "<p>Creates a RequestValidator of a given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/requestvalidators",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRequestValidatorRequest"
      },
      "name": "CreateRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "CreateResource": {
      "documentation": "<p>Creates a Resource resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/resources/{parent_id}",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateResourceRequest"
      },
      "name": "CreateResource",
      "output": {
        "shape": "Resource"
      }
    },
    "CreateRestApi": {
      "documentation": "<p>Creates a new RestApi resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRestApiRequest"
      },
      "name": "CreateRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "CreateStage": {
      "documentation": "<p>Creates a new Stage resource that references a pre-existing Deployment for the API. </p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/stages",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStageRequest"
      },
      "name": "CreateStage",
      "output": {
        "shape": "Stage"
      }
    },
    "CreateUsagePlan": {
      "documentation": "<p>Creates a usage plan with the throttle and quota limits, as well as the associated API stages, specified in the payload. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/usageplans",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUsagePlanRequest"
      },
      "name": "CreateUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "CreateUsagePlanKey": {
      "documentation": "<p>Creates a usage plan key for adding an existing API key to a usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/usageplans/{usageplanId}/keys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUsagePlanKeyRequest"
      },
      "name": "CreateUsagePlanKey",
      "output": {
        "shape": "UsagePlanKey"
      }
    },
    "CreateVpcLink": {
      "documentation": "<p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/vpclinks",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateVpcLinkRequest"
      },
      "name": "CreateVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    },
    "DeleteApiKey": {
      "documentation": "<p>Deletes the ApiKey resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apikeys/{api_Key}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteApiKeyRequest"
      },
      "name": "DeleteApiKey"
    },
    "DeleteAuthorizer": {
      "documentation": "<p>Deletes an existing Authorizer resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteAuthorizerRequest"
      },
      "name": "DeleteAuthorizer"
    },
    "DeleteBasePathMapping": {
      "documentation": "<p>Deletes the BasePathMapping resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBasePathMappingRequest"
      },
      "name": "DeleteBasePathMapping"
    },
    "DeleteClientCertificate": {
      "documentation": "<p>Deletes the ClientCertificate resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/clientcertificates/{clientcertificate_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteClientCertificateRequest"
      },
      "name": "DeleteClientCertificate"
    },
    "DeleteDeployment": {
      "documentation": "<p>Deletes a Deployment resource. Deleting a deployment will only succeed if there are no Stage resources associated with it.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDeploymentRequest"
      },
      "name": "DeleteDeployment"
    },
    "DeleteDocumentationPart": {
      "documentation": "<p>Deletes a documentation part</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDocumentationPartRequest"
      },
      "name": "DeleteDocumentationPart"
    },
    "DeleteDocumentationVersion": {
      "documentation": "<p>Deletes a documentation version.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDocumentationVersionRequest"
      },
      "name": "DeleteDocumentationVersion"
    },
    "DeleteDomainName": {
      "documentation": "<p>Deletes the DomainName resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/domainnames/{domain_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDomainNameRequest"
      },
      "name": "DeleteDomainName"
    },
    "DeleteGatewayResponse": {
      "documentation": "<p>Clears any customization of a GatewayResponse of a specified response type on the given RestApi and resets it with the default settings.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteGatewayResponseRequest"
      },
      "name": "DeleteGatewayResponse"
    },
    "DeleteIntegration": {
      "documentation": "<p>Represents a delete integration.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationRequest"
      },
      "name": "DeleteIntegration"
    },
    "DeleteIntegrationResponse": {
      "documentation": "<p>Represents a delete integration response.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationResponseRequest"
      },
      "name": "DeleteIntegrationResponse"
    },
    "DeleteMethod": {
      "documentation": "<p>Deletes an existing Method resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMethodRequest"
      },
      "name": "DeleteMethod"
    },
    "DeleteMethodResponse": {
      "documentation": "<p>Deletes an existing MethodResponse resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMethodResponseRequest"
      },
      "name": "DeleteMethodResponse"
    },
    "DeleteModel": {
      "documentation": "<p>Deletes a model.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel"
    },
    "DeleteRequestValidator": {
      "documentation": "<p>Deletes a RequestValidator of a given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteRequestValidatorRequest"
      },
      "name": "DeleteRequestValidator"
    },
    "DeleteResource": {
      "documentation": "<p>Deletes a Resource resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteResourceRequest"
      },
      "name": "DeleteResource"
    },
    "DeleteRestApi": {
      "documentation": "<p>Deletes the specified API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteRestApiRequest"
      },
      "name": "DeleteRestApi"
    },
    "DeleteStage": {
      "documentation": "<p>Deletes a Stage resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteStageRequest"
      },
      "name": "DeleteStage"
    },
    "DeleteUsagePlan": {
      "documentation": "<p>Deletes a usage plan of a given plan Id.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/usageplans/{usageplanId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUsagePlanRequest"
      },
      "name": "DeleteUsagePlan"
    },
    "DeleteUsagePlanKey": {
      "documentation": "<p>Deletes a usage plan key and remove the underlying API key from the associated usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUsagePlanKeyRequest"
      },
      "name": "DeleteUsagePlanKey"
    },
    "DeleteVpcLink": {
      "documentation": "<p>Deletes an existing VpcLink of a specified identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/vpclinks/{vpclink_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVpcLinkRequest"
      },
      "name": "DeleteVpcLink"
    },
    "FlushStageAuthorizersCache": {
      "documentation": "<p>Flushes all authorizer cache entries on a stage.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/cache/authorizers",
        "responseCode": 202
      },
      "input": {
        "shape": "FlushStageAuthorizersCacheRequest"
      },
      "name": "FlushStageAuthorizersCache"
    },
    "FlushStageCache": {
      "documentation": "<p>Flushes a stage's cache.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/cache/data",
        "responseCode": 202
      },
      "input": {
        "shape": "FlushStageCacheRequest"
      },
      "name": "FlushStageCache"
    },
    "GenerateClientCertificate": {
      "documentation": "<p>Generates a ClientCertificate resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/clientcertificates",
        "responseCode": 201
      },
      "input": {
        "shape": "GenerateClientCertificateRequest"
      },
      "name": "GenerateClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "GetAccount": {
      "documentation": "<p>Gets information about the current Account resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/account"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "Account"
      }
    },
    "GetApiKey": {
      "documentation": "<p>Gets information about the current ApiKey resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apikeys/{api_Key}"
      },
      "input": {
        "shape": "GetApiKeyRequest"
      },
      "name": "GetApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "GetApiKeys": {
      "documentation": "<p>Gets information about the current ApiKeys resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apikeys"
      },
      "input": {
        "shape": "GetApiKeysRequest"
      },
      "name": "GetApiKeys",
      "output": {
        "shape": "ApiKeys"
      }
    },
    "GetAuthorizer": {
      "documentation": "<p>Describe an existing Authorizer resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "GetAuthorizerRequest"
      },
      "name": "GetAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "GetAuthorizers": {
      "documentation": "<p>Describe an existing Authorizers resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/authorizers"
      },
      "input": {
        "shape": "GetAuthorizersRequest"
      },
      "name": "GetAuthorizers",
      "output": {
        "shape": "Authorizers"
      }
    },
    "GetBasePathMapping": {
      "documentation": "<p>Describe a BasePathMapping resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}"
      },
      "input": {
        "shape": "GetBasePathMappingRequest"
      },
      "name": "GetBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "GetBasePathMappings": {
      "documentation": "<p>Represents a collection of BasePathMapping resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}/basepathmappings"
      },
      "input": {
        "shape": "GetBasePathMappingsRequest"
      },
      "name": "GetBasePathMappings",
      "output": {
        "shape": "BasePathMappings"
      }
    },
    "GetClientCertificate": {
      "documentation": "<p>Gets information about the current ClientCertificate resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/clientcertificates/{clientcertificate_id}"
      },
      "input": {
        "shape": "GetClientCertificateRequest"
      },
      "name": "GetClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "GetClientCertificates": {
      "documentation": "<p>Gets a collection of ClientCertificate resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/clientcertificates"
      },
      "input": {
        "shape": "GetClientCertificatesRequest"
      },
      "name": "GetClientCertificates",
      "output": {
        "shape": "ClientCertificates"
      }
    },
    "GetDeployment": {
      "documentation": "<p>Gets information about a Deployment resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input": {
        "shape": "GetDeploymentRequest"
      },
      "name": "GetDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "GetDeployments": {
      "documentation": "<p>Gets information about a Deployments collection.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/deployments"
      },
      "input": {
        "shape": "GetDeploymentsRequest"
      },
      "name": "GetDeployments",
      "output": {
        "shape": "Deployments"
      }
    },
    "GetDocumentationPart": {
      "documentation": "<p>Gets a documentation part.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}"
      },
      "input": {
        "shape": "GetDocumentationPartRequest"
      },
      "name": "GetDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "GetDocumentationParts": {
      "documentation": "<p>Gets documentation parts.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/parts"
      },
      "input": {
        "shape": "GetDocumentationPartsRequest"
      },
      "name": "GetDocumentationParts",
      "output": {
        "shape": "DocumentationParts"
      }
    },
    "GetDocumentationVersion": {
      "documentation": "<p>Gets a documentation version.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}"
      },
      "input": {
        "shape": "GetDocumentationVersionRequest"
      },
      "name": "GetDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "GetDocumentationVersions": {
      "documentation": "<p>Gets documentation versions.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/versions"
      },
      "input": {
        "shape": "GetDocumentationVersionsRequest"
      },
      "name": "GetDocumentationVersions",
      "output": {
        "shape": "DocumentationVersions"
      }
    },
    "GetDomainName": {
      "documentation": "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}"
      },
      "input": {
        "shape": "GetDomainNameRequest"
      },
      "name": "GetDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "GetDomainNames": {
      "documentation": "<p>Represents a collection of DomainName resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames"
      },
      "input": {
        "shape": "GetDomainNamesRequest"
      },
      "name": "GetDomainNames",
      "output": {
        "shape": "DomainNames"
      }
    },
    "GetExport": {
      "documentation": "<p>Exports a deployed version of a RestApi in a specified format.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/exports/{export_type}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExportRequest"
      },
      "name": "GetExport",
      "output": {
        "shape": "ExportResponse"
      }
    },
    "GetGatewayResponse": {
      "documentation": "<p>Gets a GatewayResponse of a specified response type on the given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}"
      },
      "input": {
        "shape": "GetGatewayResponseRequest"
      },
      "name": "GetGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "GetGatewayResponses": {
      "documentation": "<p>Gets the GatewayResponses collection on the given RestApi. If an API developer has not added any definitions for gateway responses, the result will be the API Gateway-generated default GatewayResponses collection for the supported response types.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses"
      },
      "input": {
        "shape": "GetGatewayResponsesRequest"
      },
      "name": "GetGatewayResponses",
      "output": {
        "shape": "GatewayResponses"
      }
    },
    "GetIntegration": {
      "documentation": "<p>Get the integration settings.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input": {
        "shape": "GetIntegrationRequest"
      },
      "name": "GetIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "GetIntegrationResponse": {
      "documentation": "<p>Represents a get integration response.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}"
      },
      "input": {
        "shape": "GetIntegrationResponseRequest"
      },
      "name": "GetIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "GetMethod": {
      "documentation": "<p>Describe an existing Method resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "GetMethodRequest"
      },
      "name": "GetMethod",
      "output": {
        "shape": "Method"
      }
    },
    "GetMethodResponse": {
      "documentation": "<p>Describes a MethodResponse resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input": {
        "shape": "GetMethodResponseRequest"
      },
      "name": "GetMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "GetModel": {
      "documentation": "<p>Describes an existing model defined for a RestApi resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}"
      },
      "input": {
        "shape": "GetModelRequest"
      },
      "name": "GetModel",
      "output": {
        "shape": "Model"
      }
    },
    "GetModelTemplate": {
      "documentation": "<p>Generates a sample mapping template that can be used to transform a payload into the structure of a model.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}/default_template"
      },
      "input": {
        "shape": "GetModelTemplateRequest"
      },
      "name": "GetModelTemplate",
      "output": {
        "shape": "Template"
      }
    },
    "GetModels": {
      "documentation": "<p>Describes existing Models defined for a RestApi resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models"
      },
      "input": {
        "shape": "GetModelsRequest"
      },
      "name": "GetModels",
      "output": {
        "shape": "Models"
      }
    },
    "GetRequestValidator": {
      "documentation": "<p>Gets a RequestValidator of a given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}"
      },
      "input": {
        "shape": "GetRequestValidatorRequest"
      },
      "name": "GetRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "GetRequestValidators": {
      "documentation": "<p>Gets the RequestValidators collection of a given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/requestvalidators"
      },
      "input": {
        "shape": "GetRequestValidatorsRequest"
      },
      "name": "GetRequestValidators",
      "output": {
        "shape": "RequestValidators"
      }
    },
    "GetResource": {
      "documentation": "<p>Lists information about a resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}"
      },
      "input": {
        "shape": "GetResourceRequest"
      },
      "name": "GetResource",
      "output": {
        "shape": "Resource"
      }
    },
    "GetResources": {
      "documentation": "<p>Lists information about a collection of Resource resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources"
      },
      "input": {
        "shape": "GetResourcesRequest"
      },
      "name": "GetResources",
      "output": {
        "shape": "Resources"
      }
    },
    "GetRestApi": {
      "documentation": "<p>Lists the RestApi resource in the collection.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "GetRestApiRequest"
      },
      "name": "GetRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "GetRestApis": {
      "documentation": "<p>Lists the RestApis resources for your collection.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis"
      },
      "input": {
        "shape": "GetRestApisRequest"
      },
      "name": "GetRestApis",
      "output": {
        "shape": "RestApis"
      }
    },
    "GetSdk": {
      "documentation": "<p>Generates a client SDK for a RestApi and Stage.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/sdks/{sdk_type}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSdkRequest"
      },
      "name": "GetSdk",
      "output": {
        "shape": "SdkResponse"
      }
    },
    "GetSdkType": {
      "documentation": "<p>Gets an SDK type.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sdktypes/{sdktype_id}"
      },
      "input": {
        "shape": "GetSdkTypeRequest"
      },
      "name": "GetSdkType",
      "output": {
        "shape": "SdkType"
      }
    },
    "GetSdkTypes": {
      "documentation": "<p>Gets SDK types</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sdktypes"
      },
      "input": {
        "shape": "GetSdkTypesRequest"
      },
      "name": "GetSdkTypes",
      "output": {
        "shape": "SdkTypes"
      }
    },
    "GetStage": {
      "documentation": "<p>Gets information about a Stage resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input": {
        "shape": "GetStageRequest"
      },
      "name": "GetStage",
      "output": {
        "shape": "Stage"
      }
    },
    "GetStages": {
      "documentation": "<p>Gets information about one or more Stage resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages"
      },
      "input": {
        "shape": "GetStagesRequest"
      },
      "name": "GetStages",
      "output": {
        "shape": "Stages"
      }
    },
    "GetTags": {
      "documentation": "<p>Gets the Tags collection for a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource_arn}"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "Tags"
      }
    },
    "GetUsage": {
      "documentation": "<p>Gets the usage data of a usage plan in a specified time interval.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/usage"
      },
      "input": {
        "shape": "GetUsageRequest"
      },
      "name": "GetUsage",
      "output": {
        "shape": "Usage"
      }
    },
    "GetUsagePlan": {
      "documentation": "<p>Gets a usage plan of a given plan identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}"
      },
      "input": {
        "shape": "GetUsagePlanRequest"
      },
      "name": "GetUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "GetUsagePlanKey": {
      "documentation": "<p>Gets a usage plan key of a given key identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsagePlanKeyRequest"
      },
      "name": "GetUsagePlanKey",
      "output": {
        "shape": "UsagePlanKey"
      }
    },
    "GetUsagePlanKeys": {
      "documentation": "<p>Gets all the usage plan keys representing the API keys added to a specified usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/keys"
      },
      "input": {
        "shape": "GetUsagePlanKeysRequest"
      },
      "name": "GetUsagePlanKeys",
      "output": {
        "shape": "UsagePlanKeys"
      }
    },
    "GetUsagePlans": {
      "documentation": "<p>Gets all the usage plans of the caller's account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans"
      },
      "input": {
        "shape": "GetUsagePlansRequest"
      },
      "name": "GetUsagePlans",
      "output": {
        "shape": "UsagePlans"
      }
    },
    "GetVpcLink": {
      "documentation": "<p>Gets a specified VPC link under the caller's account in a region.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/vpclinks/{vpclink_id}"
      },
      "input": {
        "shape": "GetVpcLinkRequest"
      },
      "name": "GetVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    },
    "GetVpcLinks": {
      "documentation": "<p>Gets the VpcLinks collection under the caller's account in a selected region.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/vpclinks"
      },
      "input": {
        "shape": "GetVpcLinksRequest"
      },
      "name": "GetVpcLinks",
      "output": {
        "shape": "VpcLinks"
      }
    },
    "ImportApiKeys": {
      "documentation": "<p>Import API keys from an external source, such as a CSV-formatted file.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apikeys?mode=import",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportApiKeysRequest"
      },
      "name": "ImportApiKeys",
      "output": {
        "shape": "ApiKeyIds"
      }
    },
    "ImportDocumentationParts": {
      "documentation": "<p>Imports documentation parts</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/documentation/parts"
      },
      "input": {
        "shape": "ImportDocumentationPartsRequest"
      },
      "name": "ImportDocumentationParts",
      "output": {
        "shape": "DocumentationPartIds"
      }
    },
    "ImportRestApi": {
      "documentation": "<p>A feature of the API Gateway control service for creating a new API from an external API definition file.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis?mode=import",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportRestApiRequest"
      },
      "name": "ImportRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "PutGatewayResponse": {
      "documentation": "<p>Creates a customization of a GatewayResponse of a specified response type and status code on the given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutGatewayResponseRequest"
      },
      "name": "PutGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "PutIntegration": {
      "documentation": "<p>Sets up a method's integration.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 201
      },
      "input": {
        "shape": "PutIntegrationRequest"
      },
      "name": "PutIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "PutIntegrationResponse": {
      "documentation": "<p>Represents a put integration.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutIntegrationResponseRequest"
      },
      "name": "PutIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "PutMethod": {
      "documentation": "<p>Add a method to an existing Resource resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutMethodRequest"
      },
      "name": "PutMethod",
      "output": {
        "shape": "Method"
      }
    },
    "PutMethodResponse": {
      "documentation": "<p>Adds a MethodResponse to an existing Method resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutMethodResponseRequest"
      },
      "name": "PutMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "PutRestApi": {
      "documentation": "<p>A feature of the API Gateway control service for updating an existing API with an input of external API definitions. The update can take the form of merging the supplied definition into the existing API or overwriting the existing API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "PutRestApiRequest"
      },
      "name": "PutRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or updates a tag on a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/tags/{resource_arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "TestInvokeAuthorizer": {
      "documentation": "<p>Simulate the execution of an Authorizer in your RestApi with headers, parameters, and an incoming request body.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "TestInvokeAuthorizerRequest"
      },
      "name": "TestInvokeAuthorizer",
      "output": {
        "shape": "TestInvokeAuthorizerResponse"
      }
    },
    "TestInvokeMethod": {
      "documentation": "<p>Simulate the invocation of a Method in your RestApi with headers, parameters, and an incoming request body.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "TestInvokeMethodRequest"
      },
      "name": "TestInvokeMethod",
      "output": {
        "shape": "TestInvokeMethodResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource_arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAccount": {
      "documentation": "<p>Changes information about the current Account resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/account"
      },
      "input": {
        "shape": "UpdateAccountRequest"
      },
      "name": "UpdateAccount",
      "output": {
        "shape": "Account"
      }
    },
    "UpdateApiKey": {
      "documentation": "<p>Changes information about an ApiKey resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/apikeys/{api_Key}"
      },
      "input": {
        "shape": "UpdateApiKeyRequest"
      },
      "name": "UpdateApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "UpdateAuthorizer": {
      "documentation": "<p>Updates an existing Authorizer resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "UpdateAuthorizerRequest"
      },
      "name": "UpdateAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "UpdateBasePathMapping": {
      "documentation": "<p>Changes information about the BasePathMapping resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}"
      },
      "input": {
        "shape": "UpdateBasePathMappingRequest"
      },
      "name": "UpdateBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "UpdateClientCertificate": {
      "documentation": "<p>Changes information about an ClientCertificate resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/clientcertificates/{clientcertificate_id}"
      },
      "input": {
        "shape": "UpdateClientCertificateRequest"
      },
      "name": "UpdateClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "UpdateDeployment": {
      "documentation": "<p>Changes information about a Deployment resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input": {
        "shape": "UpdateDeploymentRequest"
      },
      "name": "UpdateDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "UpdateDocumentationPart": {
      "documentation": "<p>Updates a documentation part.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}"
      },
      "input": {
        "shape": "UpdateDocumentationPartRequest"
      },
      "name": "UpdateDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "UpdateDocumentationVersion": {
      "documentation": "<p>Updates a documentation version.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}"
      },
      "input": {
        "shape": "UpdateDocumentationVersionRequest"
      },
      "name": "UpdateDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "UpdateDomainName": {
      "documentation": "<p>Changes information about the DomainName resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/domainnames/{domain_name}"
      },
      "input": {
        "shape": "UpdateDomainNameRequest"
      },
      "name": "UpdateDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "UpdateGatewayResponse": {
      "documentation": "<p>Updates a GatewayResponse of a specified response type on the given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}"
      },
      "input": {
        "shape": "UpdateGatewayResponseRequest"
      },
      "name": "UpdateGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "UpdateIntegration": {
      "documentation": "<p>Represents an update integration.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input": {
        "shape": "UpdateIntegrationRequest"
      },
      "name": "UpdateIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "UpdateIntegrationResponse": {
      "documentation": "<p>Represents an update integration response.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}"
      },
      "input": {
        "shape": "UpdateIntegrationResponseRequest"
      },
      "name": "UpdateIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "UpdateMethod": {
      "documentation": "<p>Updates an existing Method resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "UpdateMethodRequest"
      },
      "name": "UpdateMethod",
      "output": {
        "shape": "Method"
      }
    },
    "UpdateMethodResponse": {
      "documentation": "<p>Updates an existing MethodResponse resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "UpdateMethodResponseRequest"
      },
      "name": "UpdateMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "UpdateModel": {
      "documentation": "<p>Changes information about a model.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}"
      },
      "input": {
        "shape": "UpdateModelRequest"
      },
      "name": "UpdateModel",
      "output": {
        "shape": "Model"
      }
    },
    "UpdateRequestValidator": {
      "documentation": "<p>Updates a RequestValidator of a given RestApi.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}"
      },
      "input": {
        "shape": "UpdateRequestValidatorRequest"
      },
      "name": "UpdateRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "UpdateResource": {
      "documentation": "<p>Changes information about a Resource resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}"
      },
      "input": {
        "shape": "UpdateResourceRequest"
      },
      "name": "UpdateResource",
      "output": {
        "shape": "Resource"
      }
    },
    "UpdateRestApi": {
      "documentation": "<p>Changes information about the specified API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "UpdateRestApiRequest"
      },
      "name": "UpdateRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "UpdateStage": {
      "documentation": "<p>Changes information about a Stage resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input": {
        "shape": "UpdateStageRequest"
      },
      "name": "UpdateStage",
      "output": {
        "shape": "Stage"
      }
    },
    "UpdateUsage": {
      "documentation": "<p>Grants a temporary extension to the remaining quota of a usage plan associated with a specified API key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}/usage"
      },
      "input": {
        "shape": "UpdateUsageRequest"
      },
      "name": "UpdateUsage",
      "output": {
        "shape": "Usage"
      }
    },
    "UpdateUsagePlan": {
      "documentation": "<p>Updates a usage plan of a given plan Id.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/usageplans/{usageplanId}"
      },
      "input": {
        "shape": "UpdateUsagePlanRequest"
      },
      "name": "UpdateUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "UpdateVpcLink": {
      "documentation": "<p>Updates an existing VpcLink of a specified identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/vpclinks/{vpclink_id}"
      },
      "input": {
        "shape": "UpdateVpcLinkRequest"
      },
      "name": "UpdateVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    }
  },
  "shapes": {
    "AccessLogSettings": {
      "documentation": "<p>Access log settings, including the access log format and access log destination ARN.</p>",
      "members": {
        "destinationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch Logs log group or Kinesis Data Firehose delivery stream to receive access logs. If you specify a Kinesis Data Firehose delivery stream, the stream name must begin with <code>amazon-apigateway-</code>.</p>",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>A single line format of the access logs of data, as specified by selected $context variables. The format must include at least <code>$context.requestId</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Account": {
      "documentation": "<p>Represents an AWS account that is associated with API Gateway.</p>",
      "members": {
        "apiKeyVersion": {
          "documentation": "<p>The version of the API keys used for the account.</p>",
          "shape": "String"
        },
        "cloudwatchRoleArn": {
          "documentation": "<p>The ARN of an Amazon CloudWatch role for the current Account. </p>",
          "shape": "String"
        },
        "features": {
          "documentation": "<p>A list of features supported for the account. When usage plans are enabled, the features list will include an entry of <code>\"UsagePlans\"</code>.</p>",
          "shape": "ListOfString"
        },
        "throttleSettings": {
          "documentation": "<p>Specifies the API request limits configured for the current Account.</p>",
          "shape": "ThrottleSettings"
        }
      },
      "type": "structure"
    },
    "ApiKey": {
      "documentation": "<p>A resource that can be distributed to callers for executing Method resources that require an API key. API keys can be mapped to any Stage on any RestApi, which indicates that the callers with the API key can make requests to that stage.</p>",
      "members": {
        "createdDate": {
          "documentation": "<p>The timestamp when the API Key was created.</p>",
          "shape": "Timestamp"
        },
        "customerId": {
          "documentation": "<p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the API Key.</p>",
          "shape": "String"
        },
        "enabled": {
          "documentation": "<p>Specifies whether the API Key can be used by callers.</p>",
          "shape": "Boolean"
        },
        "id": {
          "documentation": "<p>The identifier of the API Key.</p>",
          "shape": "String"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The timestamp when the API Key was last updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the API Key.</p>",
          "shape": "String"
        },
        "stageKeys": {
          "documentation": "<p>A list of Stage resources that are associated with the ApiKey resource.</p>",
          "shape": "ListOfString"
        },
        "tags": {
          "documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>",
          "shape": "MapOfStringToString"
        },
        "value": {
          "documentation": "<p>The value of the API Key.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiKeyIds": {
      "documentation": "<p>The identifier of an ApiKey used in a UsagePlan.</p>",
      "members": {
        "ids": {
          "documentation": "<p>A list of all the ApiKey identifiers.</p>",
          "shape": "ListOfString"
        },
        "warnings": {
          "documentation": "<p>A list of warning messages.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "ApiKeySourceType": {
      "enum": [
        "HEADER",
        "AUTHORIZER"
      ],
      "type": "string"
    },
    "ApiKeys": {
      "documentation": "<p>Represents a collection of API keys as represented by an ApiKeys resource.</p>",
      "members": {
        "items": {
          "documentation": "<p>The current page of elements from this collection.</p>",
          "locationName": "item",
          "shape": "ListOfApiKey"
        },
        "position": {
          "shape": "String"
        },
        "warnings": {
          "documentation": "<p>A list of warning messages logged during the import of API keys when the <code>failOnWarnings</code> option is set to true.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "ApiKeysFormat": {
      "enum": [
        "csv"
      ],
      "type": "string"
    },
    "ApiStage": {
      "documentation": "<p>API stage name of the associated API stage in a usage plan.</p>",
      "members": {
        "apiId": {
          "documentation": "<p>API Id of the associated API stage in a usage plan.</p>",
          "shape": "String"
        },
        "stage": {
          "documentation": "<p>API stage name of the associated API stage in a usage plan.</p>",
          "shape": "String"
        },
        "throttle": {
          "documentation": "<p>Map containing method level throttling information for API stage in a usage plan.</p>",
          "shape": "MapOfApiStageThrottleSettings"
        }
      },
      "type": "structure"
    },
    "Authorizer": {
      "documentation": "<p>Represents an authorization layer for methods. If enabled on a method, API Gateway will activate the authorizer when a client calls the method.</p>",
      "members": {
        "authType": {
          "documentation": "<p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>",
          "shape": "String"
        },
        "authorizerCredentials": {
          "documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>",
          "shape": "String"
        },
        "authorizerResultTtlInSeconds": {
          "documentation": "<p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>",
          "shape": "NullableInteger"
        },
        "authorizerUri": {
          "documentation": "<p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The identifier for the authorizer resource.</p>",
          "shape": "String"
        },
        "identitySource": {
          "documentation": "<p>The identity source for which authorization is requested. For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is <code>method.request.header.Auth</code>. For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth</code>, <code>method.request.querystring.Name</code>. These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional. </p>",
          "shape": "String"
        },
        "identityValidationExpression": {
[...]
