{
  "documentation": "<important> <p> <b>Product update</b> </p> <p>We recommend <a href=\"http://aws.amazon.com/application-migration-service\">Amazon Web Services Application Migration Service</a> (Amazon Web Services MGN) as the primary migration service for lift-and-shift migrations. If Amazon Web Services MGN is unavailable in a specific Amazon Web Services Region, you can use the Server Migration Service APIs through March 2023.</p> </important> <p>Server Migration Service (Server Migration Service) makes it easier and faster for you to migrate your on-premises workloads to Amazon Web Services. To learn more about Server Migration Service, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/server-migration-service/\">Server Migration Service product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/\">Server Migration Service User Guide</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2016-10-24",
    "endpointPrefix": "sms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SMS",
    "serviceFullName": "AWS Server Migration Service",
    "serviceId": "SMS",
    "signatureVersion": "v4",
    "targetPrefix": "AWSServerMigrationService_V2016_10_24",
    "uid": "sms-2016-10-24"
  },
  "operations": {
    "CreateApp": {
      "documentation": "<p>Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "name": "CreateApp",
      "output": {
        "shape": "CreateAppResponse"
      }
    },
    "CreateReplicationJob": {
      "documentation": "<p>Creates a replication job. The replication job schedules periodic replication runs to replicate your server to Amazon Web Services. Each replication run creates an Amazon Machine Image (AMI).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerCannotBeReplicatedException"
        },
        {
          "shape": "ReplicationJobAlreadyExistsException"
        },
        {
          "shape": "NoConnectorsAvailableException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "TemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationJobRequest"
      },
      "name": "CreateReplicationJob",
      "output": {
        "shape": "CreateReplicationJobResponse"
      }
    },
    "DeleteApp": {
      "documentation": "<p>Deletes the specified application. Optionally deletes the launched stack associated with the application and all Server Migration Service replication jobs for servers in the application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "name": "DeleteApp",
      "output": {
        "shape": "DeleteAppResponse"
      }
    },
    "DeleteAppLaunchConfiguration": {
      "documentation": "<p>Deletes the launch configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppLaunchConfigurationRequest"
      },
      "name": "DeleteAppLaunchConfiguration",
      "output": {
        "shape": "DeleteAppLaunchConfigurationResponse"
      }
    },
    "DeleteAppReplicationConfiguration": {
      "documentation": "<p>Deletes the replication configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppReplicationConfigurationRequest"
      },
      "name": "DeleteAppReplicationConfiguration",
      "output": {
        "shape": "DeleteAppReplicationConfigurationResponse"
      }
    },
    "DeleteAppValidationConfiguration": {
      "documentation": "<p>Deletes the validation configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppValidationConfigurationRequest"
      },
      "name": "DeleteAppValidationConfiguration",
      "output": {
        "shape": "DeleteAppValidationConfigurationResponse"
      }
    },
    "DeleteReplicationJob": {
      "documentation": "<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. Amazon Web Services deletes the contents of the Amazon S3 bucket used to store Server Migration Service artifacts. The AMIs created by the replication runs are not deleted.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ReplicationJobNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationJobRequest"
      },
      "name": "DeleteReplicationJob",
      "output": {
        "shape": "DeleteReplicationJobResponse"
      }
    },
    "DeleteServerCatalog": {
      "documentation": "<p>Deletes all servers from your server catalog.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServerCatalogRequest"
      },
      "name": "DeleteServerCatalog",
      "output": {
        "shape": "DeleteServerCatalogResponse"
      }
    },
    "DisassociateConnector": {
      "documentation": "<p>Disassociates the specified connector from Server Migration Service.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>",
      "errors": [
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateConnectorRequest"
      },
      "name": "DisassociateConnector",
      "output": {
        "shape": "DisassociateConnectorResponse"
      }
    },
    "GenerateChangeSet": {
      "documentation": "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer\u2019s Amazon S3 bucket.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateChangeSetRequest"
      },
      "name": "GenerateChangeSet",
      "output": {
        "shape": "GenerateChangeSetResponse"
      }
    },
    "GenerateTemplate": {
      "documentation": "<p>Generates an CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer\u2019s Amazon S3 bucket.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateTemplateRequest"
      },
      "name": "GenerateTemplate",
      "output": {
        "shape": "GenerateTemplateResponse"
      }
    },
    "GetApp": {
      "documentation": "<p>Retrieve information about the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppRequest"
      },
      "name": "GetApp",
      "output": {
        "shape": "GetAppResponse"
      }
    },
    "GetAppLaunchConfiguration": {
      "documentation": "<p>Retrieves the application launch configuration associated with the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppLaunchConfigurationRequest"
      },
      "name": "GetAppLaunchConfiguration",
      "output": {
        "shape": "GetAppLaunchConfigurationResponse"
      }
    },
    "GetAppReplicationConfiguration": {
      "documentation": "<p>Retrieves the application replication configuration associated with the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppReplicationConfigurationRequest"
      },
      "name": "GetAppReplicationConfiguration",
      "output": {
        "shape": "GetAppReplicationConfigurationResponse"
      }
    },
    "GetAppValidationConfiguration": {
      "documentation": "<p>Retrieves information about a configuration for validating an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppValidationConfigurationRequest"
      },
      "name": "GetAppValidationConfiguration",
      "output": {
        "shape": "GetAppValidationConfigurationResponse"
      }
    },
    "GetAppValidationOutput": {
      "documentation": "<p>Retrieves output from validating an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppValidationOutputRequest"
      },
      "name": "GetAppValidationOutput",
      "output": {
        "shape": "GetAppValidationOutputResponse"
      }
    },
    "GetConnectors": {
      "documentation": "<p>Describes the connectors registered with the Server Migration Service.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectorsRequest"
      },
      "name": "GetConnectors",
      "output": {
        "shape": "GetConnectorsResponse"
      }
    },
    "GetReplicationJobs": {
      "documentation": "<p>Describes the specified replication job or all of your replication jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReplicationJobsRequest"
      },
      "name": "GetReplicationJobs",
      "output": {
        "shape": "GetReplicationJobsResponse"
      }
    },
    "GetReplicationRuns": {
      "documentation": "<p>Describes the replication runs for the specified replication job.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReplicationRunsRequest"
      },
      "name": "GetReplicationRuns",
      "output": {
        "shape": "GetReplicationRunsResponse"
      }
    },
    "GetServers": {
      "documentation": "<p>Describes the servers in your server catalog.</p> <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServersRequest"
      },
      "name": "GetServers",
      "output": {
        "shape": "GetServersResponse"
      }
    },
    "ImportAppCatalog": {
      "documentation": "<p>Allows application import from Migration Hub.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportAppCatalogRequest"
      },
      "name": "ImportAppCatalog",
      "output": {
        "shape": "ImportAppCatalogResponse"
      }
    },
    "ImportServerCatalog": {
      "documentation": "<p>Gathers a complete list of on-premises servers. Connectors must be installed and monitoring all servers to import.</p> <p>This call returns immediately, but might take additional time to retrieve all the servers.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "NoConnectorsAvailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportServerCatalogRequest"
      },
      "name": "ImportServerCatalog",
      "output": {
        "shape": "ImportServerCatalogResponse"
      }
    },
    "LaunchApp": {
      "documentation": "<p>Launches the specified application as a stack in CloudFormation.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchAppRequest"
      },
      "name": "LaunchApp",
      "output": {
        "shape": "LaunchAppResponse"
      }
    },
    "ListApps": {
      "documentation": "<p>Retrieves summaries for all applications.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAppsRequest"
      },
      "name": "ListApps",
      "output": {
        "shape": "ListAppsResponse"
      }
    },
    "NotifyAppValidationOutput": {
      "documentation": "<p>Provides information to Server Migration Service about whether application validation is successful.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NotifyAppValidationOutputRequest"
      },
      "name": "NotifyAppValidationOutput",
      "output": {
        "shape": "NotifyAppValidationOutputResponse"
      }
    },
    "PutAppLaunchConfiguration": {
      "documentation": "<p>Creates or updates the launch configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppLaunchConfigurationRequest"
      },
      "name": "PutAppLaunchConfiguration",
      "output": {
        "shape": "PutAppLaunchConfigurationResponse"
      }
    },
    "PutAppReplicationConfiguration": {
      "documentation": "<p>Creates or updates the replication configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppReplicationConfigurationRequest"
      },
      "name": "PutAppReplicationConfiguration",
      "output": {
        "shape": "PutAppReplicationConfigurationResponse"
      }
    },
    "PutAppValidationConfiguration": {
      "documentation": "<p>Creates or updates a validation configuration for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppValidationConfigurationRequest"
      },
      "name": "PutAppValidationConfiguration",
      "output": {
        "shape": "PutAppValidationConfigurationResponse"
      }
    },
    "StartAppReplication": {
      "documentation": "<p>Starts replicating the specified application by creating replication jobs for each server in the application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAppReplicationRequest"
      },
      "name": "StartAppReplication",
      "output": {
        "shape": "StartAppReplicationResponse"
      }
    },
    "StartOnDemandAppReplication": {
      "documentation": "<p>Starts an on-demand replication run for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartOnDemandAppReplicationRequest"
      },
      "name": "StartOnDemandAppReplication",
      "output": {
        "shape": "StartOnDemandAppReplicationResponse"
      }
    },
    "StartOnDemandReplicationRun": {
      "documentation": "<p>Starts an on-demand replication run for the specified replication job. This replication run starts immediately. This replication run is in addition to the ones already scheduled.</p> <p>There is a limit on the number of on-demand replications runs that you can request in a 24-hour period.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ReplicationRunLimitExceededException"
        },
        {
          "shape": "DryRunOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartOnDemandReplicationRunRequest"
      },
      "name": "StartOnDemandReplicationRun",
      "output": {
        "shape": "StartOnDemandReplicationRunResponse"
      }
    },
    "StopAppReplication": {
      "documentation": "<p>Stops replicating the specified application by deleting the replication job for each server in the application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopAppReplicationRequest"
      },
      "name": "StopAppReplication",
      "output": {
        "shape": "StopAppReplicationResponse"
      }
    },
    "TerminateApp": {
      "documentation": "<p>Terminates the stack for the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateAppRequest"
      },
      "name": "TerminateApp",
      "output": {
        "shape": "TerminateAppResponse"
      }
    },
    "UpdateApp": {
      "documentation": "<p>Updates the specified application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAppRequest"
      },
      "name": "UpdateApp",
      "output": {
        "shape": "UpdateAppResponse"
      }
    },
    "UpdateReplicationJob": {
      "documentation": "<p>Updates the specified settings for the specified replication job.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "ServerCannotBeReplicatedException"
        },
        {
          "shape": "ReplicationJobNotFoundException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "TemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateReplicationJobRequest"
      },
      "name": "UpdateReplicationJob",
      "output": {
        "shape": "UpdateReplicationJobResponse"
      }
    }
  },
  "shapes": {
    "AmiId": {
      "type": "string"
    },
    "AppDescription": {
      "type": "string"
    },
    "AppId": {
      "type": "string"
    },
    "AppIdWithValidation": {
      "pattern": "^app-[0-9a-f]{17}$",
      "type": "string"
    },
    "AppIds": {
      "member": {
        "shape": "AppId"
      },
      "type": "list"
    },
    "AppLaunchConfigurationStatus": {
      "enum": [
        "NOT_CONFIGURED",
        "CONFIGURED"
      ],
      "type": "string"
    },
    "AppLaunchStatus": {
      "enum": [
        "READY_FOR_CONFIGURATION",
        "CONFIGURATION_IN_PROGRESS",
        "CONFIGURATION_INVALID",
        "READY_FOR_LAUNCH",
        "VALIDATION_IN_PROGRESS",
        "LAUNCH_PENDING",
        "LAUNCH_IN_PROGRESS",
        "LAUNCHED",
        "PARTIALLY_LAUNCHED",
        "DELTA_LAUNCH_IN_PROGRESS",
        "DELTA_LAUNCH_FAILED",
        "LAUNCH_FAILED",
        "TERMINATE_IN_PROGRESS",
        "TERMINATE_FAILED",
        "TERMINATED"
      ],
      "type": "string"
    },
    "AppLaunchStatusMessage": {
      "type": "string"
    },
    "AppName": {
      "type": "string"
    },
    "AppReplicationConfigurationStatus": {
      "enum": [
        "NOT_CONFIGURED",
        "CONFIGURED"
      ],
      "type": "string"
    },
    "AppReplicationStatus": {
      "enum": [
        "READY_FOR_CONFIGURATION",
        "CONFIGURATION_IN_PROGRESS",
        "CONFIGURATION_INVALID",
        "READY_FOR_REPLICATION",
        "VALIDATION_IN_PROGRESS",
        "REPLICATION_PENDING",
        "REPLICATION_IN_PROGRESS",
        "REPLICATED",
        "PARTIALLY_REPLICATED",
        "DELTA_REPLICATION_IN_PROGRESS",
        "DELTA_REPLICATED",
        "DELTA_REPLICATION_FAILED",
        "REPLICATION_FAILED",
        "REPLICATION_STOPPING",
        "REPLICATION_STOP_FAILED",
        "REPLICATION_STOPPED"
      ],
      "type": "string"
    },
    "AppReplicationStatusMessage": {
      "type": "string"
    },
    "AppStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "DELETED",
        "DELETE_FAILED"
      ],
      "type": "string"
    },
    "AppStatusMessage": {
      "type": "string"
    },
    "AppSummary": {
      "documentation": "<p>Information about the application.</p>",
      "members": {
        "appId": {
          "documentation": "<p>The unique ID of the application.</p>",
          "shape": "AppId"
        },
        "creationTime": {
          "documentation": "<p>The creation time of the application.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the application.</p>",
          "shape": "AppDescription"
        },
        "importedAppId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "ImportedAppId"
        },
        "lastModified": {
          "documentation": "<p>The last modified time of the application.</p>",
          "shape": "Timestamp"
        },
        "latestReplicationTime": {
          "documentation": "<p>The timestamp of the application's most recent successful replication.</p>",
          "shape": "Timestamp"
        },
        "launchConfigurationStatus": {
          "documentation": "<p>Status of the launch configuration.</p>",
          "shape": "AppLaunchConfigurationStatus"
        },
        "launchDetails": {
          "documentation": "<p>Details about the latest launch of the application.</p>",
          "shape": "LaunchDetails"
        },
        "launchStatus": {
          "documentation": "<p>The launch status of the application.</p>",
          "shape": "AppLaunchStatus"
        },
        "launchStatusMessage": {
          "documentation": "<p>A message related to the launch status of the application.</p>",
          "shape": "AppLaunchStatusMessage"
        },
        "name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "AppName"
        },
        "replicationConfigurationStatus": {
          "documentation": "<p>Status of the replication configuration.</p>",
          "shape": "AppReplicationConfigurationStatus"
        },
        "replicationStatus": {
          "documentation": "<p>The replication status of the application.</p>",
          "shape": "AppReplicationStatus"
        },
        "replicationStatusMessage": {
          "documentation": "<p>A message related to the replication status of the application.</p>",
          "shape": "AppReplicationStatusMessage"
        },
        "roleName": {
          "documentation": "<p>The name of the service role in the customer's account used by Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "status": {
          "documentation": "<p>Status of the application.</p>",
          "shape": "AppStatus"
        },
        "statusMessage": {
          "documentation": "<p>A message related to the status of the application</p>",
          "shape": "AppStatusMessage"
        },
        "totalServerGroups": {
          "documentation": "<p>The number of server groups present in the application.</p>",
          "shape": "TotalServerGroups"
        },
        "totalServers": {
          "documentation": "<p>The number of servers present in the application.</p>",
          "shape": "TotalServers"
        }
      },
      "type": "structure"
    },
    "AppValidationConfiguration": {
      "documentation": "<p>Configuration for validating an application.</p>",
      "members": {
        "appValidationStrategy": {
          "documentation": "<p>The validation strategy.</p>",
          "shape": "AppValidationStrategy"
        },
        "name": {
          "documentation": "<p>The name of the configuration.</p>",
          "shape": "NonEmptyStringWithMaxLen255"
        },
        "ssmValidationParameters": {
          "documentation": "<p>The validation parameters.</p>",
          "shape": "SSMValidationParameters"
        },
        "validationId": {
          "documentation": "<p>The ID of the validation.</p>",
          "shape": "ValidationId"
        }
      },
      "type": "structure"
    },
    "AppValidationConfigurations": {
      "member": {
        "shape": "AppValidationConfiguration"
      },
      "type": "list"
    },
    "AppValidationOutput": {
      "documentation": "<p>Output from validating an application.</p>",
      "members": {
        "ssmOutput": {
          "documentation": "<p>Output from using SSM to validate the application.</p>",
          "shape": "SSMOutput"
        }
      },
      "type": "structure"
    },
    "AppValidationStrategy": {
      "enum": [
        "SSM"
      ],
      "type": "string"
    },
    "Apps": {
      "member": {
        "shape": "AppSummary"
      },
      "type": "list"
    },
    "AssociatePublicIpAddress": {
      "type": "boolean"
    },
    "AutoLaunch": {
      "type": "boolean"
    },
    "BucketName": {
      "type": "string"
    },
    "ClientToken": {
      "type": "string"
    },
    "Command": {
      "max": 64000,
      "min": 1,
      "type": "string"
    },
    "Connector": {
      "documentation": "<p>Represents a connector.</p>",
      "members": {
        "associatedOn": {
          "documentation": "<p>The time the connector was associated.</p>",
          "shape": "Timestamp"
        },
        "capabilityList": {
          "documentation": "<p>The capabilities of the connector.</p>",
          "shape": "ConnectorCapabilityList"
        },
        "connectorId": {
          "documentation": "<p>The ID of the connector.</p>",
          "shape": "ConnectorId"
        },
        "ipAddress": {
          "documentation": "<p>The IP address of the connector.</p>",
          "shape": "IpAddress"
        },
        "macAddress": {
          "documentation": "<p>The MAC address of the connector.</p>",
          "shape": "MacAddress"
        },
        "status": {
          "documentation": "<p>The status of the connector.</p>",
          "shape": "ConnectorStatus"
        },
        "version": {
          "documentation": "<p>The connector version.</p>",
          "shape": "ConnectorVersion"
        },
        "vmManagerId": {
          "documentation": "<p>The ID of the VM manager.</p>",
          "shape": "VmManagerId"
        },
        "vmManagerName": {
          "documentation": "<p>The name of the VM manager.</p>",
          "shape": "VmManagerName"
        },
        "vmManagerType": {
          "documentation": "<p>The VM management product.</p>",
          "shape": "VmManagerType"
        }
      },
      "type": "structure"
    },
    "ConnectorCapability": {
      "enum": [
        "VSPHERE",
        "SCVMM",
        "HYPERV-MANAGER",
        "SNAPSHOT_BATCHING",
        "SMS_OPTIMIZED"
      ],
      "type": "string"
    },
    "ConnectorCapabilityList": {
      "member": {
        "shape": "ConnectorCapability"
      },
      "type": "list"
    },
    "ConnectorId": {
      "type": "string"
    },
    "ConnectorList": {
      "member": {
        "shape": "Connector"
      },
      "type": "list"
    },
    "ConnectorStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "ConnectorVersion": {
      "type": "string"
    },
    "CreateAppRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of application creation.</p>",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>The description of the new application</p>",
          "shape": "AppDescription"
        },
        "name": {
          "documentation": "<p>The name of the new application.</p>",
          "shape": "AppName"
        },
        "roleName": {
          "documentation": "<p>The name of the service role in the customer's account to be used by Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "serverGroups": {
          "documentation": "<p>The server groups to include in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>The tags to be associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>A summary description of the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>The server groups included in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>The tags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateReplicationJobRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>Indicates whether the replication job produces encrypted AMIs.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. This value can be any of the following:</p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to the KMS key ID</p> </li> <li> <p>ARN referring to the KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key ID is not specified, the customer's default KMS key for Amazon EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest is deleted after the maximum number is reached and a new AMI is created.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by the Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "runOnce": {
          "documentation": "<p>Indicates whether to run the replication job one time.</p>",
          "shape": "RunOnce"
        },
        "seedReplicationTime": {
          "documentation": "<p>The seed replication time.</p>",
          "shape": "Timestamp"
        },
        "serverId": {
          "documentation": "<p>The ID of the server.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "serverId",
        "seedReplicationTime"
      ],
      "type": "structure"
    },
    "CreateReplicationJobResponse": {
      "members": {
        "replicationJobId": {
          "documentation": "<p>The unique identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "type": "structure"
    },
    "DeleteAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "DeleteAppLaunchConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "DeleteAppReplicationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "forceStopAppReplication": {
          "documentation": "<p>Indicates whether to stop all replication jobs corresponding to the servers in the application while deleting the application.</p>",
          "shape": "ForceStopAppReplication"
        },
        "forceTerminateApp": {
          "documentation": "<p>Indicates whether to terminate the stack corresponding to the application while deleting the application.</p>",
          "shape": "ForceTerminateApp"
        }
      },
      "type": "structure"
    },
    "DeleteAppResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAppValidationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppIdWithValidation"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "DeleteAppValidationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteReplicationJobRequest": {
      "members": {
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "DeleteReplicationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteServerCatalogRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteServerCatalogResponse": {
      "members": {},
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DisassociateConnectorRequest": {
      "members": {
        "connectorId": {
          "documentation": "<p>The ID of the connector.</p>",
          "shape": "ConnectorId"
        }
      },
      "required": [
        "connectorId"
      ],
      "type": "structure"
    },
    "DisassociateConnectorResponse": {
      "members": {},
      "type": "structure"
    },
    "DryRunOperationException": {
      "documentation": "<p>The user has the required permissions, so the request would have succeeded, but a dry run was performed.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "EC2KeyName": {
      "type": "string"
    },
    "Encrypted": {
      "type": "boolean"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ExecutionTimeoutSeconds": {
      "max": 28800,
      "min": 60,
      "type": "integer"
    },
    "ForceStopAppReplication": {
      "type": "boolean"
    },
    "ForceTerminateApp": {
      "type": "boolean"
    },
    "Frequency": {
      "type": "integer"
    },
    "GenerateChangeSetRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application associated with the change set.</p>",
          "shape": "AppId"
        },
        "changesetFormat": {
          "documentation": "<p>The format for the change set.</p>",
          "shape": "OutputFormat"
        }
      },
      "type": "structure"
    },
    "GenerateChangeSetResponse": {
      "members": {
        "s3Location": {
          "documentation": "<p>The location of the Amazon S3 object.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "GenerateTemplateRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application associated with the CloudFormation template.</p>",
          "shape": "AppId"
        },
        "templateFormat": {
          "documentation": "<p>The format for generating the CloudFormation template.</p>",
          "shape": "OutputFormat"
        }
      },
      "type": "structure"
    },
    "GenerateTemplateResponse": {
      "members": {
        "s3Location": {
          "documentation": "<p>The location of the Amazon S3 object.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "GetAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppLaunchConfigurationResponse": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "autoLaunch": {
          "documentation": "<p>Indicates whether the application is configured to launch automatically after replication is complete.</p>",
          "shape": "AutoLaunch"
        },
        "roleName": {
          "documentation": "<p>The name of the service role in the customer's account that CloudFormation uses to launch the application.</p>",
          "shape": "RoleName"
        },
        "serverGroupLaunchConfigurations": {
          "documentation": "<p>The launch configurations for server groups in this application.</p>",
          "shape": "ServerGroupLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "GetAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppReplicationConfigurationResponse": {
      "members": {
        "serverGroupReplicationConfigurations": {
          "documentation": "<p>The replication configurations associated with server groups in this application.</p>",
          "shape": "ServerGroupReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "GetAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>Information about the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>The server groups that belong to the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>The tags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "GetAppValidationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppIdWithValidation"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "GetAppValidationConfigurationResponse": {
      "members": {
        "appValidationConfigurations": {
          "documentation": "<p>The configuration for application validation.</p>",
          "shape": "AppValidationConfigurations"
        },
        "serverGroupValidationConfigurations": {
          "documentation": "<p>The configuration for instance validation.</p>",
          "shape": "ServerGroupValidationConfigurations"
        }
      },
      "type": "structure"
    },
    "GetAppValidationOutputRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppIdWithValidation"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "GetAppValidationOutputResponse": {
      "members": {
        "validationOutputList": {
          "documentation": "<p>The validation output.</p>",
          "shape": "ValidationOutputList"
        }
      },
      "type": "structure"
    },
    "GetConnectorsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetConnectorsResponse": {
      "members": {
        "connectorList": {
          "documentation": "<p>Information about the registered connectors.</p>",
          "shape": "ConnectorList"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetReplicationJobsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "type": "structure"
    },
    "GetReplicationJobsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "replicationJobList": {
          "documentation": "<p>Information about the replication jobs.</p>",
          "shape": "ReplicationJobList"
        }
      },
      "type": "structure"
    },
    "GetReplicationRunsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "GetReplicationRunsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "replicationJob": {
          "documentation": "<p>Information about the replication job.</p>",
          "shape": "ReplicationJob"
        },
        "replicationRunList": {
          "documentation": "<p>Information about the replication runs.</p>",
          "shape": "ReplicationRunList"
        }
      },
      "type": "structure"
    },
    "GetServersRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "vmServerAddressList": {
          "documentation": "<p>The server addresses.</p>",
          "shape": "VmServerAddressList"
        }
      },
      "type": "structure"
    },
    "GetServersResponse": {
      "members": {
        "lastModifiedOn": {
          "documentation": "<p>The time when the server was last modified.</p>",
          "shape": "Timestamp"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "serverCatalogStatus": {
          "documentation": "<p>The status of the server catalog.</p>",
          "shape": "ServerCatalogStatus"
        },
        "serverList": {
          "documentation": "<p>Information about the servers.</p>",
          "shape": "ServerList"
        }
      },
      "type": "structure"
    },
    "ImportAppCatalogRequest": {
      "members": {
        "roleName": {
          "documentation": "<p>The name of the service role. If you omit this parameter, we create a service-linked role for Migration Hub in your account. Otherwise, the role that you provide must have the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/new-customer-setup.html#sms-managed\">policy and trust policy</a> described in the <i>Migration Hub User Guide</i>.</p>",
          "shape": "RoleName"
        }
      },
      "type": "structure"
    },
    "ImportAppCatalogResponse": {
      "members": {},
      "type": "structure"
    },
    "ImportServerCatalogRequest": {
      "members": {},
      "type": "structure"
    },
    "ImportServerCatalogResponse": {
      "members": {},
      "type": "structure"
    },
    "ImportedAppId": {
      "type": "string"
    },
    "InstanceId": {
      "pattern": "(^i-(\\w{8}|\\w{17})$)|(^mi-\\w{17}$)",
      "type": "string"
    },
    "InstanceType": {
      "type": "string"
    },
    "InternalError": {
      "documentation": "<p>An internal error occurred.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>A specified parameter is not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "IpAddress": {
      "type": "string"
    },
    "KmsKeyId": {
      "type": "string"
    },
    "LaunchAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "LaunchAppResponse": {
      "members": {},
      "type": "structure"
    },
    "LaunchDetails": {
      "documentation": "<p>Details about the latest launch of an application.</p>",
      "members": {
        "latestLaunchTime": {
          "documentation": "<p>The latest time that this application was launched successfully.</p>",
          "shape": "Timestamp"
        },
        "stackId": {
          "documentation": "<p>The ID of the latest stack launched for this application.</p>",
          "shape": "StackId"
        },
        "stackName": {
          "documentation": "<p>The name of the latest stack launched for this application.</p>",
          "shape": "StackName"
        }
      },
      "type": "structure"
    },
    "LaunchOrder": {
      "type": "integer"
    },
    "LicenseType": {
      "enum": [
        "AWS",
        "BYOL"
      ],
      "type": "string"
    },
    "ListAppsRequest": {
      "members": {
        "appIds": {
          "documentation": "<p>The unique application IDs.</p>",
          "shape": "AppIds"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 100. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppsResponse": {
      "members": {
        "apps": {
          "documentation": "<p>The application summaries.</p>",
          "shape": "Apps"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "LogicalId": {
      "type": "string"
    },
    "MacAddress": {
      "type": "string"
    },
    "MaxResults": {
      "type": "integer"
    },
    "MissingRequiredParameterException": {
      "documentation": "<p>A required parameter is missing.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "type": "string"
    },
    "NoConnectorsAvailableException": {
      "documentation": "<p>There are no connectors available.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NonEmptyStringWithMaxLen255": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\S]+$",
      "type": "string"
    },
    "NotificationContext": {
      "documentation": "<p>Contains the status of validating an application.</p>",
      "members": {
        "status": {
          "documentation": "<p>The status of the validation.</p>",
          "shape": "ValidationStatus"
        },
        "statusMessage": {
          "documentation": "<p>The status message.</p>",
          "shape": "ValidationStatusMessage"
        },
        "validationId": {
          "documentation": "<p>The ID of the validation.</p>",
          "shape": "ValidationId"
        }
      },
      "type": "structure"
    },
    "NotifyAppValidationOutputRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppIdWithValidation"
        },
        "notificationContext": {
          "documentation": "<p>The notification information.</p>",
          "shape": "NotificationContext"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "NotifyAppValidationOutputResponse": {
      "members": {},
      "type": "structure"
    },
    "NumberOfRecentAmisToKeep": {
      "type": "integer"
    },
    "OperationNotPermittedException": {
      "documentation": "<p>This operation is not allowed.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "OutputFormat": {
      "enum": [
        "JSON",
        "YAML"
      ],
      "type": "string"
    },
    "PutAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "autoLaunch": {
          "documentation": "<p>Indicates whether the application is configured to launch automatically after replication is complete.</p>",
          "shape": "AutoLaunch"
        },
        "roleName": {
          "documentation": "<p>The name of service role in the customer's account that CloudFormation uses to launch the application.</p>",
          "shape": "RoleName"
        },
        "serverGroupLaunchConfigurations": {
          "documentation": "<p>Information about the launch configurations for server groups in the application.</p>",
          "shape": "ServerGroupLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "PutAppLaunchConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "PutAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "serverGroupReplicationConfigurations": {
          "documentation": "<p>Information about the replication configurations for server groups in the application.</p>",
          "shape": "ServerGroupReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "PutAppReplicationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "PutAppValidationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppIdWithValidation"
        },
        "appValidationConfigurations": {
          "documentation": "<p>The configuration for application validation.</p>",
          "shape": "AppValidationConfigurations"
        },
        "serverGroupValidationConfigurations": {
          "documentation": "<p>The configuration for instance validation.</p>",
          "shape": "ServerGroupValidationConfigurations"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "PutAppValidationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "ReplicationJob": {
      "documentation": "<p>Represents a replication job.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>Indicates whether the replication job should produce encrypted AMIs.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. This value can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to the KMS key ID</p> </li> <li> <p>ARN referring to the KMS key alias</p> </li> </ul> <p>If encrypted is enabled but a KMS key ID is not specified, the customer's default KMS key for Amazon EBS is used.</p>",
          "shape": "KmsKeyId"
        },
        "latestAmiId": {
          "documentation": "<p>The ID of the latest Amazon Machine Image (AMI).</p>",
          "shape": "AmiId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "nextReplicationRunStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The number of recent AMIs to keep in the customer's account for a replication job. By default, the value is set to zero, meaning that all AMIs are kept.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "replicationRunList": {
          "documentation": "<p>Information about the replication runs.</p>",
          "shape": "ReplicationRunList"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "runOnce": {
          "documentation": "<p>Indicates whether to run the replication job one time.</p>",
          "shape": "RunOnce"
        },
        "seedReplicationTime": {
          "documentation": "<p>The seed replication time.</p>",
          "shape": "Timestamp"
        },
        "serverId": {
          "documentation": "<p>The ID of the server.</p>",
          "shape": "ServerId"
        },
        "serverType": {
          "documentation": "<p>The type of server.</p>",
          "shape": "ServerType"
        },
        "state": {
          "documentation": "<p>The state of the replication job.</p>",
          "shape": "ReplicationJobState"
        },
        "statusMessage": {
          "documentation": "<p>The description of the current status of the replication job.</p>",
          "shape": "ReplicationJobStatusMessage"
        },
        "vmServer": {
          "documentation": "<p>Information about the VM server.</p>",
          "shape": "VmServer"
        }
      },
      "type": "structure"
    },
    "ReplicationJobAlreadyExistsException": {
      "documentation": "<p>The specified replication job already exists.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationJobId": {
      "type": "string"
    },
    "ReplicationJobList": {
      "member": {
        "shape": "ReplicationJob"
      },
      "type": "list"
    },
    "ReplicationJobNotFoundException": {
      "documentation": "<p>The specified replication job does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationJobState": {
      "enum": [
        "PENDING",
        "ACTIVE",
        "FAILED",
        "DELETING",
        "DELETED",
        "COMPLETED",
        "PAUSED_ON_FAILURE",
        "FAILING"
      ],
      "type": "string"
    },
    "ReplicationJobStatusMessage": {
      "type": "string"
    },
    "ReplicationJobTerminated": {
      "type": "boolean"
    },
    "ReplicationRun": {
      "documentation": "<p>Represents a replication run.</p>",
      "members": {
        "amiId": {
          "documentation": "<p>The ID of the Amazon Machine Image (AMI) from the replication run.</p>",
          "shape": "AmiId"
        },
        "completedTime": {
          "documentation": "<p>The completion time of the last replication run.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the replication run.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>Indicates whether the replication run should produce an encrypted AMI.</p>",
          "shape": "Encrypted"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. This value can be any of the following:</p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to the KMS key ID</p> </li> <li> <p>ARN referring to the KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key ID is not specified, the customer's default KMS key for Amazon EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "replicationRunId": {
          "documentation": "<p>The ID of the replication run.</p>",
          "shape": "ReplicationRunId"
        },
        "scheduledStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "stageDetails": {
          "documentation": "<p>Details about the current stage of the replication run.</p>",
          "shape": "ReplicationRunStageDetails"
        },
        "state": {
          "documentation": "<p>The state of the replication run.</p>",
          "shape": "ReplicationRunState"
        },
        "statusMessage": {
          "documentation": "<p>The description of the current status of the replication job.</p>",
          "shape": "ReplicationRunStatusMessage"
        },
        "type": {
          "documentation": "<p>The type of replication run.</p>",
          "shape": "ReplicationRunType"
        }
      },
      "type": "structure"
    },
    "ReplicationRunId": {
      "type": "string"
    },
    "ReplicationRunLimitExceededException": {
      "documentation": "<p>You have exceeded the number of on-demand replication runs you can request in a 24-hour period.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationRunList": {
      "member": {
        "shape": "ReplicationRun"
      },
      "type": "list"
    },
    "ReplicationRunStage": {
      "type": "string"
    },
    "ReplicationRunStageDetails": {
      "documentation": "<p>Details of the current stage of a replication run.</p>",
      "members": {
        "stage": {
          "documentation": "<p>The current stage of a replication run.</p>",
          "shape": "ReplicationRunStage"
        },
        "stageProgress": {
          "documentation": "<p>The progress of the current stage of a replication run.</p>",
          "shape": "ReplicationRunStageProgress"
        }
      },
      "type": "structure"
    },
    "ReplicationRunStageProgress": {
      "type": "string"
    },
    "ReplicationRunState": {
      "enum": [
        "PENDING",
        "MISSED",
        "ACTIVE",
        "FAILED",
        "COMPLETED",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "ReplicationRunStatusMessage": {
      "type": "string"
    },
    "ReplicationRunType": {
      "enum": [
        "ON_DEMAND",
        "AUTOMATIC"
      ],
      "type": "string"
    },
    "RoleName": {
      "type": "string"
    },
    "RunOnce": {
      "type": "boolean"
    },
    "S3BucketName": {
      "max": 63,
      "min": 3,
      "type": "string"
    },
    "S3KeyName": {
      "max": 1024,
      "type": "string"
    },
    "S3Location": {
      "documentation": "<p>Location of an Amazon S3 object.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>The Amazon S3 bucket name.</p>",
          "shape": "S3BucketName"
        },
        "key": {
          "documentation": "<p>The Amazon S3 bucket key.</p>",
          "shape": "S3KeyName"
        }
      },
      "type": "structure"
    },
    "SSMOutput": {
      "documentation": "<p>Contains the location of validation output.</p>",
      "members": {
        "s3Location": {
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "SSMValidationParameters": {
      "documentation": "<p>Contains validation parameters.</p>",
      "members": {
        "command": {
          "documentation": "<p>The command to run the validation script.</p>",
          "shape": "Command"
        },
        "executionTimeoutSeconds": {
          "documentation": "<p>The timeout interval, in seconds.</p>",
          "shape": "ExecutionTimeoutSeconds"
        },
        "instanceId": {
          "documentation": "<p>The ID of the instance. The instance must have the following tag: UserForSMSApplicationValidation=true.</p>",
          "shape": "InstanceId"
        },
        "outputS3BucketName": {
          "documentation": "<p>The name of the S3 bucket for output.</p>",
          "shape": "BucketName"
        },
        "scriptType": {
          "documentation": "<p>The type of validation script.</p>",
          "shape": "ScriptType"
        },
        "source": {
          "documentation": "<p>The location of the validation script.</p>",
          "shape": "Source"
        }
      },
      "type": "structure"
    },
    "ScriptType": {
      "enum": [
        "SHELL_SCRIPT",
        "POWERSHELL_SCRIPT"
      ],
      "type": "string"
    },
    "SecurityGroup": {
      "type": "string"
    },
    "Server": {
      "documentation": "<p>Represents a server.</p>",
      "members": {
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "replicationJobTerminated": {
          "documentation": "<p>Indicates whether the replication job is deleted or failed.</p>",
          "shape": "ReplicationJobTerminated"
        },
        "serverId": {
          "documentation": "<p>The ID of the server.</p>",
          "shape": "ServerId"
        },
        "serverType": {
          "documentation": "<p>The type of server.</p>",
          "shape": "ServerType"
        },
        "vmServer": {
          "documentation": "<p>Information about the VM server.</p>",
          "shape": "VmServer"
        }
      },
      "type": "structure"
    },
    "ServerCannotBeReplicatedException": {
      "documentation": "<p>The specified server cannot be replicated.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ServerCatalogStatus": {
      "enum": [
        "NOT_IMPORTED",
        "IMPORTING",
        "AVAILABLE",
        "DELETED",
        "EXPIRED"
      ],
      "type": "string"
    },
    "ServerGroup": {
      "documentation": "<p>Logical grouping of servers.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of a server group.</p>",
          "shape": "ServerGroupName"
        },
        "serverGroupId": {
          "documentation": "<p>The ID of a server group.</p>",
          "shape": "ServerGroupId"
        },
        "serverList": {
          "documentation": "<p>The servers that belong to a server group.</p>",
          "shape": "ServerList"
        }
      },
      "type": "structure"
    },
    "ServerGroupId": {
      "type": "string"
    },
    "ServerGroupLaunchConfiguration": {
      "documentation": "<p>Launch configuration for a server group.</p>",
      "members": {
        "launchOrder": {
          "documentation": "<p>The launch order of servers in the server group.</p>",
          "shape": "LaunchOrder"
        },
        "serverGroupId": {
          "documentation": "<p>The ID of the server group with which the launch configuration is associated.</p>",
          "shape": "ServerGroupId"
        },
        "serverLaunchConfigurations": {
          "documentation": "<p>The launch configuration for servers in the server group.</p>",
          "shape": "ServerLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "ServerGroupLaunchConfigurations": {
      "member": {
        "shape": "ServerGroupLaunchConfiguration"
      },
      "type": "list"
    },
    "ServerGroupName": {
      "type": "string"
    },
    "ServerGroupReplicationConfiguration": {
      "documentation": "<p>Replication configuration for a server group.</p>",
      "members": {
        "serverGroupId": {
          "documentation": "<p>The ID of the server group with which this replication configuration is associated.</p>",
          "shape": "ServerGroupId"
        },
        "serverReplicationConfigurations": {
          "documentation": "<p>The replication configuration for servers in the server group.</p>",
          "shape": "ServerReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "ServerGroupReplicationConfigurations": {
      "member": {
        "shape": "ServerGroupReplicationConfiguration"
      },
      "type": "list"
    },
    "ServerGroupValidationConfiguration": {
      "documentation": "<p>Configuration for validating an instance.</p>",
      "members": {
        "serverGroupId": {
          "documentation": "<p>The ID of the server group.</p>",
          "shape": "ServerGroupId"
        },
        "serverValidationConfigurations": {
          "documentation": "<p>The validation configuration.</p>",
          "shape": "ServerValidationConfigurations"
        }
      },
      "type": "structure"
    },
    "ServerGroupValidationConfigurations": {
      "member": {
        "shape": "ServerGroupValidationConfiguration"
      },
      "type": "list"
    },
    "ServerGroups": {
      "member": {
        "shape": "ServerGroup"
      },
      "type": "list"
    },
    "ServerId": {
      "type": "string"
    },
    "ServerLaunchConfiguration": {
      "documentation": "<p>Launch configuration for a server.</p>",
      "members": {
        "associatePublicIpAddress": {
          "documentation": "<p>Indicates whether a publicly accessible IP address is created when launching the server.</p>",
          "shape": "AssociatePublicIpAddress"
        },
        "configureScript": {
          "shape": "S3Location"
        },
        "configureScriptType": {
          "documentation": "<p>The type of configuration script.</p>",
          "shape": "ScriptType"
        },
        "ec2KeyName": {
          "documentation": "<p>The name of the Amazon EC2 SSH key to be used for connecting to the launched server.</p>",
          "shape": "EC2KeyName"
        },
        "iamInstanceProfileName": {
          "documentation": "<p>The name of the IAM instance profile.</p>",
          "shape": "RoleName"
        },
        "instanceType": {
          "documentation": "<p>The instance type to use when launching the server.</p>",
          "shape": "InstanceType"
        },
        "logicalId": {
          "documentation": "<p>The logical ID of the server in the CloudFormation template.</p>",
          "shape": "LogicalId"
        },
        "securityGroup": {
          "documentation": "<p>The ID of the security group that applies to the launched server.</p>",
          "shape": "SecurityGroup"
        },
        "server": {
          "documentation": "<p>The ID of the server with which the launch configuration is associated.</p>",
          "shape": "Server"
        },
        "subnet": {
          "documentation": "<p>The ID of the subnet the server should be launched into.</p>",
          "shape": "Subnet"
        },
        "userData": {
          "documentation": "<p>Location of the user-data script to be executed when launching the server.</p>",
          "shape": "UserData"
        },
        "vpc": {
          "documentation": "<p>The ID of the VPC into which the server should be launched.</p>",
          "shape": "VPC"
        }
      },
      "type": "structure"
    },
    "ServerLaunchConfigurations": {
      "member": {
        "shape": "ServerLaunchConfiguration"
      },
      "type": "list"
    },
    "ServerList": {
      "member": {
        "shape": "Server"
      },
      "type": "list"
    },
    "ServerReplicationConfiguration": {
      "documentation": "<p>Replication configuration of a server.</p>",
      "members": {
        "server": {
          "documentation": "<p>The ID of the server with which this replication configuration is associated.</p>",
          "shape": "Server"
        },
        "serverReplicationParameters": {
          "documentation": "<p>The parameters for replicating the server.</p>",
          "shape": "ServerReplicationParameters"
        }
      },
      "type": "structure"
    },
    "ServerReplicationConfigurations": {
      "member": {
        "shape": "ServerReplicationConfiguration"
      },
      "type": "list"
    },
    "ServerReplicationParameters": {
      "documentation": "<p>The replication parameters for replicating a server.</p>",
      "members": {
        "encrypted": {
          "documentation": "<p>Indicates whether the replication job produces encrypted AMIs.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The frequency of creating replication jobs for the server.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. This value can be any of the following:</p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to the KMS key ID</p> </li> <li> <p>ARN referring to the KMS key alias</p> </li> </ul> <p>If encrypted is enabled but a KMS key ID is not specified, the customer's default KMS key for Amazon EBS is used.</p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>The license type for creating a replication job for the server.</p>",
          "shape": "LicenseType"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The number of recent AMIs to keep when creating a replication job for this server.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "runOnce": {
          "documentation": "<p>Indicates whether to run the replication job one time.</p>",
          "shape": "RunOnce"
        },
        "seedTime": {
          "documentation": "<p>The seed time for creating a replication job for the server.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ServerType": {
      "enum": [
        "VIRTUAL_MACHINE"
      ],
      "type": "string"
    },
    "ServerValidationConfiguration": {
      "documentation": "<p>Configuration for validating an instance.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the configuration.</p>",
          "shape": "NonEmptyStringWithMaxLen255"
        },
        "server": {
          "shape": "Server"
        },
        "serverValidationStrategy": {
          "documentation": "<p>The validation strategy.</p>",
          "shape": "ServerValidationStrategy"
        },
        "userDataValidationParameters": {
          "documentation": "<p>The validation parameters.</p>",
          "shape": "UserDataValidationParameters"
        },
        "validationId": {
          "documentation": "<p>The ID of the validation.</p>",
          "shape": "ValidationId"
        }
      },
      "type": "structure"
    },
    "ServerValidationConfigurations": {
      "member": {
        "shape": "ServerValidationConfiguration"
      },
      "type": "list"
    },
    "ServerValidationOutput": {
      "documentation": "<p>Contains output from validating an instance.</p>",
      "members": {
        "server": {
          "shape": "Server"
        }
      },
      "type": "structure"
    },
    "ServerValidationStrategy": {
      "enum": [
        "USERDATA"
      ],
      "type": "string"
    },
    "Source": {
      "documentation": "<p>Contains the location of a validation script.</p>",
      "members": {
        "s3Location": {
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "StackId": {
      "type": "string"
    },
    "StackName": {
      "type": "string"
    },
    "StartAppReplicationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "StartAppReplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "StartOnDemandAppReplicationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "description": {
          "documentation": "<p>The description of the replication run.</p>",
          "shape": "Description"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "StartOnDemandAppReplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "StartOnDemandReplicationRunRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication run.</p>",
          "shape": "Description"
        },
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "StartOnDemandReplicationRunResponse": {
      "members": {
        "replicationRunId": {
          "documentation": "<p>The ID of the replication run.</p>",
          "shape": "ReplicationRunId"
        }
      },
      "type": "structure"
    },
    "StopAppReplicationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "StopAppReplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "Subnet": {
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>Key/value pair that can be assigned to an application.</p>",
      "members": {
        "key": {
          "documentation": "<p>The tag key.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The tag value.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "type": "string"
    },
    "TagValue": {
      "type": "string"
    },
    "Tags": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TemporarilyUnavailableException": {
      "documentation": "<p>The service is temporarily unavailable.</p>",
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "TerminateAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "TerminateAppResponse": {
      "members": {},
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TotalServerGroups": {
      "type": "integer"
    },
    "TotalServers": {
      "type": "integer"
    },
    "UnauthorizedOperationException": {
      "documentation": "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UpdateAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>The ID of the application.</p>",
          "shape": "AppId"
        },
        "description": {
          "documentation": "<p>The new description of the application.</p>",
          "shape": "AppDescription"
        },
        "name": {
          "documentation": "<p>The new name of the application.</p>",
          "shape": "AppName"
        },
        "roleName": {
          "documentation": "<p>The name of the service role in the customer's account used by Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "serverGroups": {
          "documentation": "<p>The server groups in the application to update.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>The tags to associate with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>A summary description of the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>The updated server groups in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>The tags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateReplicationJobRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>When true, the replication job produces encrypted AMIs. For more information, <code>KmsKeyId</code>.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key for replication jobs that produce encrypted AMIs. This value can be any of the following:</p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to the KMS key ID</p> </li> <li> <p>ARN referring to the KMS key alias</p> </li> </ul> <p>If encrypted is enabled but a KMS key ID is not specified, the customer's default KMS key for Amazon EBS is used.</p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "nextReplicationRunStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest is deleted after the maximum number is reached and a new AMI is created.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "replicationJobId": {
          "documentation": "<p>The ID of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by Server Migration Service.</p>",
          "shape": "RoleName"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "UpdateReplicationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "UserData": {
      "documentation": "<p>A script that runs on first launch of an Amazon EC2 instance. Used for configuring the server during launch.</p>",
      "members": {
        "s3Location": {
          "documentation": "<p>Amazon S3 location of the user-data script.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "UserDataValidationParameters": {
      "documentation": "<p>Contains validation parameters.</p>",
      "members": {
        "scriptType": {
          "documentation": "<p>The type of validation script.</p>",
          "shape": "ScriptType"
        },
        "source": {
          "documentation": "<p>The location of the validation script.</p>",
          "shape": "Source"
        }
      },
      "type": "structure"
    },
    "VPC": {
      "type": "string"
    },
    "ValidationId": {
      "pattern": "^val-[0-9a-f]{17}$",
      "type": "string"
    },
    "ValidationOutput": {
      "documentation": "<p>Contains validation output.</p>",
      "members": {
        "appValidationOutput": {
          "documentation": "<p>The output from validating an application.</p>",
          "shape": "AppValidationOutput"
        },
        "latestValidationTime": {
          "documentation": "<p>The latest time that the validation was performed.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the validation.</p>",
          "shape": "NonEmptyStringWithMaxLen255"
        },
        "serverValidationOutput": {
          "documentation": "<p>The output from validation an instance.</p>",
          "shape": "ServerValidationOutput"
        },
        "status": {
          "documentation": "<p>The status of the validation.</p>",
          "shape": "ValidationStatus"
        },
        "statusMessage": {
          "documentation": "<p>The status message.</p>",
          "shape": "ValidationStatusMessage"
        },
        "validationId": {
          "documentation": "<p>The ID of the validation.</p>",
          "shape": "ValidationId"
        }
      },
      "type": "structure"
    },
    "ValidationOutputList": {
      "member": {
        "shape": "ValidationOutput"
      },
      "type": "list"
    },
    "ValidationStatus": {
      "enum": [
        "READY_FOR_VALIDATION",
        "PENDING",
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "ValidationStatusMessage": {
      "max": 2500,
      "type": "string"
    },
    "VmId": {
      "type": "string"
    },
    "VmManagerId": {
      "type": "string"
    },
    "VmManagerName": {
      "type": "string"
    },
    "VmManagerType": {
      "enum": [
        "VSPHERE",
        "SCVMM",
        "HYPERV-MANAGER"
      ],
      "type": "string"
    },
    "VmName": {
      "type": "string"
    },
    "VmPath": {
      "type": "string"
    },
    "VmServer": {
      "documentation": "<p>Represents a VM server.</p>",
      "members": {
        "vmManagerName": {
          "documentation": "<p>The name of the VM manager.</p>",
          "shape": "VmManagerName"
        },
        "vmManagerType": {
          "documentation": "<p>The type of VM management product.</p>",
          "shape": "VmManagerType"
        },
        "vmName": {
          "documentation": "<p>The name of the VM.</p>",
          "shape": "VmName"
        },
        "vmPath": {
          "documentation": "<p>The VM folder path in the vCenter Server virtual machine inventory tree.</p>",
          "shape": "VmPath"
        },
        "vmServerAddress": {
          "documentation": "<p>The VM server location.</p>",
          "shape": "VmServerAddress"
        }
      },
      "type": "structure"
    },
    "VmServerAddress": {
      "documentation": "<p>Represents a VM server location.</p>",
      "members": {
        "vmId": {
          "documentation": "<p>The ID of the VM.</p>",
          "shape": "VmId"
        },
        "vmManagerId": {
          "documentation": "<p>The ID of the VM manager.</p>",
          "shape": "VmManagerId"
        }
      },
      "type": "structure"
    },
    "VmServerAddressList": {
      "member": {
        "shape": "VmServerAddress"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
