{
  "documentation": "<p>This is the <i>Recycle Bin API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in Recycle Bin.</p> <p>Recycle Bin is a resource recovery feature that enables you to restore accidentally deleted snapshots and EBS-backed AMIs. When using Recycle Bin, if your resources are deleted, they are retained in the Recycle Bin for a time period that you specify.</p> <p>You can restore a resource from the Recycle Bin at any time before its retention period expires. After you restore a resource from the Recycle Bin, the resource is removed from the Recycle Bin, and you can then use it in the same way you use any other resource of that type in your account. If the retention period expires and the resource is not restored, the resource is permanently deleted from the Recycle Bin and is no longer available for recovery. For more information about Recycle Bin, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-recycle-bin.html\"> Recycle Bin</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2021-06-15",
    "endpointPrefix": "rbin",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Recycle Bin",
    "serviceId": "rbin",
    "signatureVersion": "v4",
    "signingName": "rbin",
    "uid": "rbin-2021-06-15"
  },
  "operations": {
    "CreateRule": {
      "documentation": "<p>Creates a Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-create-rule\"> Create Recycle Bin retention rules</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rules",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRuleRequest"
      },
      "name": "CreateRule",
      "output": {
        "shape": "CreateRuleResponse"
      }
    },
    "DeleteRule": {
      "documentation": "<p>Deletes a Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-delete-rule\"> Delete Recycle Bin retention rules</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/rules/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRuleRequest"
      },
      "name": "DeleteRule",
      "output": {
        "shape": "DeleteRuleResponse"
      }
    },
    "GetRule": {
      "documentation": "<p>Gets information about a Recycle Bin retention rule.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/rules/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRuleRequest"
      },
      "name": "GetRule",
      "output": {
        "shape": "GetRuleResponse"
      }
    },
    "ListRules": {
      "documentation": "<p>Lists the Recycle Bin retention rules in the Region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/list-rules",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRulesRequest"
      },
      "name": "ListRules",
      "output": {
        "shape": "ListRulesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags assigned to a retention rule.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns tags to the specified retention rule.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 201
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Unassigns a tag from a retention rule.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateRule": {
      "documentation": "<p>Updates an existing Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-update-rule\"> Update Recycle Bin retention rules</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/rules/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRuleRequest"
      },
      "name": "UpdateRule",
      "output": {
        "shape": "UpdateRuleResponse"
      }
    }
  },
  "shapes": {
    "CreateRuleRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "ResourceTags": {
          "documentation": "<p>Specifies the resource tags to use to identify resources that are to be retained by a tag-level retention rule. For tag-level retention rules, only deleted resources, of the specified resource type, that have one or more of the specified tag key and value pairs are retained. If a resource is deleted, but it does not have any of the specified tag key and value pairs, it is immediately deleted without being retained by the retention rule.</p> <p>You can add the same tag key and value pair to a maximum or five retention rules.</p> <p>To create a Region-level retention rule, omit this parameter. A Region-level retention rule does not have any resource tags specified. It retains all deleted resources of the specified resource type in the Region in which the rule is created, even if the resources are not tagged.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type to be retained by the retention rule. Currently, only Amazon EBS snapshots and EBS-backed AMIs are supported. To retain snapshots, specify <code>EBS_SNAPSHOT</code>. To retain EBS-backed AMIs, specify <code>EC2_IMAGE</code>.</p>",
          "shape": "ResourceType"
        },
        "RetentionPeriod": {
          "documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
          "shape": "RetentionPeriod"
        },
        "Tags": {
          "documentation": "<p>Information about the tags to assign to the retention rule.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "RetentionPeriod",
        "ResourceType"
      ],
      "type": "structure"
    },
    "CreateRuleResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "shape": "RuleIdentifier"
        },
        "ResourceTags": {
          "documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention rule.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type retained by the retention rule.</p>",
          "shape": "ResourceType"
        },
        "RetentionPeriod": {
          "shape": "RetentionPeriod"
        },
        "Status": {
          "documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain resources.</p>",
          "shape": "RuleStatus"
        },
        "Tags": {
          "documentation": "<p>Information about the tags assigned to the retention rule.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "DeleteRuleRequest": {
      "members": {
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "location": "uri",
          "locationName": "identifier",
          "shape": "RuleIdentifier"
        }
      },
      "required": [
        "Identifier"
      ],
      "type": "structure"
    },
    "DeleteRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "Description": {
      "pattern": "^[\\S ]{0,255}$",
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "GetRuleRequest": {
      "members": {
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "location": "uri",
          "locationName": "identifier",
          "shape": "RuleIdentifier"
        }
      },
      "required": [
        "Identifier"
      ],
      "type": "structure"
    },
    "GetRuleResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "shape": "RuleIdentifier"
        },
        "ResourceTags": {
          "documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention rule.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type retained by the retention rule.</p>",
          "shape": "ResourceType"
        },
        "RetentionPeriod": {
          "documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
          "shape": "RetentionPeriod"
        },
        "Status": {
          "documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain resources.</p>",
          "shape": "RuleStatus"
        }
      },
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>The service could not respond to the request due to an internal problem.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListRulesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "NextToken"
        },
        "ResourceTags": {
          "documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention rule.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type retained by the retention rule. Only retention rules that retain the specified resource type are listed. Currently, only Amazon EBS snapshots and EBS-backed AMIs are supported. To list retention rules that retain snapshots, specify <code>EBS_SNAPSHOT</code>. To list retention rules that retain EBS-backed AMIs, specify <code>EC2_IMAGE</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "ResourceType"
      ],
      "type": "structure"
    },
    "ListRulesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "Rules": {
          "documentation": "<p>Information about the retention rules.</p>",
          "shape": "RuleSummaryList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the retention rule.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "RuleArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>Information about the tags assigned to the retention rule.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "pattern": "^[A-Za-z0-9+/=]{1,2048}$",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ResourceNotFoundExceptionReason"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundExceptionReason": {
      "enum": [
        "RULE_NOT_FOUND"
      ],
      "type": "string"
    },
    "ResourceTag": {
      "documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention rule.</p>",
      "members": {
        "ResourceTagKey": {
          "documentation": "<p>The tag key.</p>",
          "shape": "ResourceTagKey"
        },
        "ResourceTagValue": {
          "documentation": "<p>The tag value.</p>",
          "shape": "ResourceTagValue"
        }
      },
      "required": [
        "ResourceTagKey"
      ],
      "type": "structure"
    },
    "ResourceTagKey": {
      "pattern": "^[\\S\\s]{1,128}$",
      "type": "string"
    },
    "ResourceTagValue": {
      "pattern": "^[\\S\\s]{0,256}$",
      "type": "string"
    },
    "ResourceTags": {
      "max": 50,
      "member": {
        "shape": "ResourceTag"
      },
      "min": 0,
      "type": "list"
    },
    "ResourceType": {
      "enum": [
        "EBS_SNAPSHOT",
        "EC2_IMAGE"
      ],
      "type": "string"
    },
    "RetentionPeriod": {
      "documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
      "members": {
        "RetentionPeriodUnit": {
          "documentation": "<p>The unit of time in which the retention period is measured. Currently, only <code>DAYS</code> is supported.</p>",
          "shape": "RetentionPeriodUnit"
        },
        "RetentionPeriodValue": {
          "documentation": "<p>The period value for which the retention rule is to retain resources. The period is measured using the unit specified for <b>RetentionPeriodUnit</b>.</p>",
          "shape": "RetentionPeriodValue"
        }
      },
      "required": [
        "RetentionPeriodValue",
        "RetentionPeriodUnit"
      ],
      "type": "structure"
    },
    "RetentionPeriodUnit": {
      "enum": [
        "DAYS"
      ],
      "type": "string"
    },
    "RetentionPeriodValue": {
      "max": 3650,
      "min": 1,
      "type": "integer"
    },
    "RuleArn": {
      "max": 1011,
      "min": 0,
      "pattern": "^arn:aws(-[a-z]{1,3}){0,2}:rbin:[a-z\\-0-9]{0,63}:[0-9]{12}:rule/[0-9a-zA-Z]{11}{0,1011}$",
      "type": "string"
    },
    "RuleIdentifier": {
      "pattern": "[0-9a-zA-Z]{11}",
      "type": "string"
    },
    "RuleStatus": {
      "enum": [
        "pending",
        "available"
      ],
      "type": "string"
    },
    "RuleSummary": {
      "documentation": "<p>Information about a Recycle Bin retention rule.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "shape": "RuleIdentifier"
        },
        "RetentionPeriod": {
          "documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
          "shape": "RetentionPeriod"
        }
      },
      "type": "structure"
    },
    "RuleSummaryList": {
      "member": {
        "shape": "RuleSummary"
      },
      "type": "list"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The request would cause a service quota for the number of tags per resource to be exceeded.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ServiceQuotaExceededExceptionReason"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededExceptionReason": {
      "enum": [
        "SERVICE_QUOTA_EXCEEDED"
      ],
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>Information about the tags to assign to the retention rule.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The tag key.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The tag value.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the retention rule.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "RuleArn"
        },
        "Tags": {
          "documentation": "<p>Information about the tags to assign to the retention rule.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the retention rule.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "RuleArn"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys of the tags to unassign. All tags that have the specified tag key are unassigned.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateRuleRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "location": "uri",
          "locationName": "identifier",
          "shape": "RuleIdentifier"
        },
        "ResourceTags": {
          "documentation": "<p>Specifies the resource tags to use to identify resources that are to be retained by a tag-level retention rule. For tag-level retention rules, only deleted resources, of the specified resource type, that have one or more of the specified tag key and value pairs are retained. If a resource is deleted, but it does not have any of the specified tag key and value pairs, it is immediately deleted without being retained by the retention rule.</p> <p>You can add the same tag key and value pair to a maximum or five retention rules.</p> <p>To create a Region-level retention rule, omit this parameter. A Region-level retention rule does not have any resource tags specified. It retains all deleted resources of the specified resource type in the Region in which the rule is created, even if the resources are not tagged.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type to be retained by the retention rule. Currently, only Amazon EBS snapshots and EBS-backed AMIs are supported. To retain snapshots, specify <code>EBS_SNAPSHOT</code>. To retain EBS-backed AMIs, specify <code>EC2_IMAGE</code>.</p>",
          "shape": "ResourceType"
        },
        "RetentionPeriod": {
          "documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
          "shape": "RetentionPeriod"
        }
      },
      "required": [
        "Identifier"
      ],
      "type": "structure"
    },
    "UpdateRuleResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The retention rule description.</p>",
          "shape": "Description"
        },
        "Identifier": {
          "documentation": "<p>The unique ID of the retention rule.</p>",
          "shape": "RuleIdentifier"
        },
        "ResourceTags": {
          "documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention rule.</p>",
          "shape": "ResourceTags"
        },
        "ResourceType": {
          "documentation": "<p>The resource type retained by the retention rule.</p>",
          "shape": "ResourceType"
        },
        "RetentionPeriod": {
          "shape": "RetentionPeriod"
        },
        "Status": {
          "documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain resources.</p>",
          "shape": "RuleStatus"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>One or more of the parameters in the request is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "Reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ValidationExceptionReason"
        }
      },
      "type": "structure"
    },
    "ValidationExceptionReason": {
      "enum": [
        "INVALID_PAGE_TOKEN",
        "INVALID_PARAMETER_VALUE"
      ],
      "type": "string"
    }
  },
  "version": "2.0"
}
