{
  "documentation": "\n               <p>The operations for managing an Amazon MSK cluster.</p>\n            ",
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "kafka",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Kafka",
    "serviceFullName": "Managed Streaming for Kafka",
    "serviceId": "Kafka",
    "signatureVersion": "v4",
    "signingName": "kafka",
    "uid": "kafka-2018-11-14"
  },
  "operations": {
    "BatchAssociateScramSecret": {
      "documentation": "\n            <p>Associates one or more Scram Secrets with an Amazon MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchAssociateScramSecretRequest"
      },
      "name": "BatchAssociateScramSecret",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "BatchAssociateScramSecretResponse"
      }
    },
    "BatchDisassociateScramSecret": {
      "documentation": "\n            <p>Disassociates one or more Scram Secrets from an Amazon MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDisassociateScramSecretRequest"
      },
      "name": "BatchDisassociateScramSecret",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "BatchDisassociateScramSecretResponse"
      }
    },
    "CreateCluster": {
      "documentation": "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "name": "CreateCluster",
      "output": {
        "shape": "CreateClusterResponse"
      }
    },
    "CreateClusterV2": {
      "documentation": "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/api/v2/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterV2Request"
      },
      "name": "CreateClusterV2",
      "output": {
        "shape": "CreateClusterV2Response"
      }
    },
    "CreateConfiguration": {
      "documentation": "\n            <p>Creates a new MSK configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfigurationRequest"
      },
      "name": "CreateConfiguration",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "CreateConfigurationResponse"
      }
    },
    "DeleteCluster": {
      "documentation": "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "name": "DeleteCluster",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DeleteClusterResponse"
      }
    },
    "DeleteConfiguration": {
      "documentation": "\n            <p>Deletes an MSK Configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteConfigurationRequest"
      },
      "name": "DeleteConfiguration",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DeleteConfigurationResponse"
      }
    },
    "DescribeCluster": {
      "documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterRequest"
      },
      "name": "DescribeCluster",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DescribeClusterResponse"
      }
    },
    "DescribeClusterOperation": {
      "documentation": "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/operations/{clusterOperationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterOperationRequest"
      },
      "name": "DescribeClusterOperation",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeClusterOperationResponse"
      }
    },
    "DescribeClusterV2": {
      "documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterV2Request"
      },
      "name": "DescribeClusterV2",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DescribeClusterV2Response"
      }
    },
    "DescribeConfiguration": {
      "documentation": "\n            <p>Returns a description of this MSK configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRequest"
      },
      "name": "DescribeConfiguration",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeConfigurationResponse"
      }
    },
    "DescribeConfigurationRevision": {
      "documentation": "\n            <p>Returns a description of this revision of the configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRevisionRequest"
      },
      "name": "DescribeConfigurationRevision",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeConfigurationRevisionResponse"
      }
    },
    "GetBootstrapBrokers": {
      "documentation": "\n            <p>A list of brokers that a client application can use to bootstrap.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBootstrapBrokersRequest"
      },
      "name": "GetBootstrapBrokers",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "GetBootstrapBrokersResponse"
      }
    },
    "GetCompatibleKafkaVersions": {
      "documentation": "\n            <p>Gets the Apache Kafka versions to which you can update the MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>n            ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>n            ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>n            ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "n            <p>Access forbidden. Check your credentials and then retry your request.</p>n            ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>n            ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "n            <p>503 response</p>n            ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "n            <p>429 response</p>n            ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/compatible-kafka-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCompatibleKafkaVersionsRequest"
      },
      "name": "GetCompatibleKafkaVersions",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "GetCompatibleKafkaVersionsResponse"
      }
    },
    "ListClusterOperations": {
      "documentation": "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/operations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClusterOperationsRequest"
      },
      "name": "ListClusterOperations",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListClusterOperationsResponse"
      }
    },
    "ListClusters": {
      "documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "name": "ListClusters",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListClustersResponse"
      }
    },
    "ListClustersV2": {
      "documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersV2Request"
      },
      "name": "ListClustersV2",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListClustersV2Response"
      }
    },
    "ListConfigurationRevisions": {
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationRevisionsRequest"
      },
      "name": "ListConfigurationRevisions",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "ListConfigurationRevisionsResponse"
      }
    },
    "ListConfigurations": {
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationsRequest"
      },
      "name": "ListConfigurations",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "ListConfigurationsResponse"
      }
    },
    "ListKafkaVersions": {
      "documentation": "\n            <p>Returns a list of Apache Kafka versions.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/kafka-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListKafkaVersionsRequest"
      },
      "name": "ListKafkaVersions",
      "output": {
        "shape": "ListKafkaVersionsResponse"
      }
    },
    "ListNodes": {
      "documentation": "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/nodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNodesRequest"
      },
      "name": "ListNodes",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListNodesResponse"
      }
    },
    "ListScramSecrets": {
      "documentation": "\n            <p>Returns a list of the Scram Secrets associated with an Amazon MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListScramSecretsRequest"
      },
      "name": "ListScramSecrets",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "ListScramSecretsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "\n            <p>Success response.</p>\n         ",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RebootBroker": {
      "documentation": "Reboots brokers.",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n            ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/reboot-broker",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootBrokerRequest"
      },
      "name": "RebootBroker",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "RebootBrokerResponse"
      }
    },
    "TagResource": {
      "documentation": "\n            <p>Adds tags to the specified MSK resource.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateBrokerCount": {
      "documentation": "\n            <p>Updates the number of broker nodes in the cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/count",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerCountRequest"
      },
      "name": "UpdateBrokerCount",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateBrokerCountResponse"
      }
    },
    "UpdateBrokerStorage": {
      "documentation": "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/storage",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerStorageRequest"
      },
      "name": "UpdateBrokerStorage",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateBrokerStorageResponse"
      }
    },
    "UpdateBrokerType": {
      "documentation": "\n            <p>Updates EC2 instance type.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n            ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n            ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/type",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerTypeRequest"
      },
      "name": "UpdateBrokerType",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateBrokerTypeResponse"
      }
    },
    "UpdateClusterConfiguration": {
      "documentation": "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClusterConfigurationRequest"
      },
      "name": "UpdateClusterConfiguration",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateClusterConfigurationResponse"
      }
    },
    "UpdateClusterKafkaVersion": {
      "documentation": "\n            <p>Updates the Apache Kafka version for the cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n            ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n            ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/version",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClusterKafkaVersionRequest"
      },
      "name": "UpdateClusterKafkaVersion",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n            ",
        "shape": "UpdateClusterKafkaVersionResponse"
      }
    },
    "UpdateConfiguration": {
      "documentation": "\n            <p>Updates an MSK configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfigurationRequest"
      },
      "name": "UpdateConfiguration",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "UpdateConfigurationResponse"
      }
    },
    "UpdateConnectivity": {
      "documentation": "\n            <p>Updates the cluster's connectivity configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/connectivity",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectivityRequest"
      },
      "name": "UpdateConnectivity",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateConnectivityResponse"
      }
    },
    "UpdateMonitoring": {
      "documentation": "\n            <p>Updates the monitoring settings for the cluster. You can use this operation to specify which Apache Kafka metrics you want Amazon MSK to send to Amazon CloudWatch. You can also specify settings for open monitoring with Prometheus.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/monitoring",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMonitoringRequest"
      },
      "name": "UpdateMonitoring",
      "output": {
        "documentation": "\n            <p>HTTP Status Code 200: OK.</p>\n         ",
        "shape": "UpdateMonitoringResponse"
      }
    },
    "UpdateSecurity": {
      "documentation": "\n            <p>Updates the security settings for the cluster. You can use this operation to specify encryption and authentication on existing clusters.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The service cannot complete the request.</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request throughput limit was exceeded.</p>\n         ",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/security",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSecurityRequest"
      },
      "name": "UpdateSecurity",
      "output": {
        "shape": "UpdateSecurityResponse"
      }
    },
    "UpdateStorage": {
      "documentation": "Updates cluster broker volume size (or) sets cluster storage mode to TIERED.",
      "errors": [
        {
          "documentation": "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "HTTP Status Code 429: Limit exceeded. Resource limit reached.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/storage",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStorageRequest"
      },
      "name": "UpdateStorage",
      "output": {
        "documentation": "HTTP Status Code 200: OK.",
        "shape": "UpdateStorageResponse"
      }
    }
  },
  "shapes": {
    "BadRequestException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BatchAssociateScramSecretRequest": {
      "documentation": "\n            <p>Associates sasl scram secrets to cluster.</p>\n         ",
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "SecretArnList": {
          "documentation": "\n            <p>List of AWS Secrets Manager secret ARNs.</p>\n         ",
          "locationName": "secretArnList",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "ClusterArn",
        "SecretArnList"
      ],
      "type": "structure"
    },
    "BatchAssociateScramSecretResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "UnprocessedScramSecrets": {
          "documentation": "\n            <p>List of errors when associating secrets to cluster.</p>\n         ",
          "locationName": "unprocessedScramSecrets",
          "shape": "__listOfUnprocessedScramSecret"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateScramSecretRequest": {
      "documentation": "\n            <p>Disassociates sasl scram secrets to cluster.</p>\n         ",
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "SecretArnList": {
          "documentation": "\n            <p>List of AWS Secrets Manager secret ARNs.</p>\n         ",
          "locationName": "secretArnList",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "ClusterArn",
        "SecretArnList"
      ],
      "type": "structure"
    },
    "BatchDisassociateScramSecretResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "UnprocessedScramSecrets": {
          "documentation": "\n            <p>List of errors when disassociating secrets to cluster.</p>\n         ",
          "locationName": "unprocessedScramSecrets",
          "shape": "__listOfUnprocessedScramSecret"
        }
      },
      "type": "structure"
    },
    "BrokerAZDistribution": {
      "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
      "enum": [
        "DEFAULT"
      ],
      "type": "string"
    },
    "BrokerEBSVolumeInfo": {
      "documentation": "\n            <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>\n         ",
      "members": {
        "KafkaBrokerNodeId": {
          "documentation": "\n            <p>The ID of the broker to update.</p>\n         ",
          "locationName": "kafkaBrokerNodeId",
          "shape": "__string"
        },
        "ProvisionedThroughput": {
          "documentation": "\n            <p>EBS volume provisioned throughput information.</p>\n         ",
          "locationName": "provisionedThroughput",
          "shape": "ProvisionedThroughput"
        },
        "VolumeSizeGB": {
          "documentation": "\n            <p>Size of the EBS volume to update.</p>\n         ",
          "locationName": "volumeSizeGB",
          "shape": "__integer"
        }
      },
      "required": [
        "KafkaBrokerNodeId"
      ],
      "type": "structure"
    },
    "BrokerLogs": {
      "members": {
        "CloudWatchLogs": {
          "locationName": "cloudWatchLogs",
          "shape": "CloudWatchLogs"
        },
        "Firehose": {
          "locationName": "firehose",
          "shape": "Firehose"
        },
        "S3": {
          "locationName": "s3",
          "shape": "S3"
        }
      },
      "type": "structure"
    },
    "BrokerNodeGroupInfo": {
      "documentation": "\n            <p>Describes the setup to be used for Apache Kafka broker nodes in the cluster.</p>\n         ",
      "members": {
        "BrokerAZDistribution": {
          "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
          "locationName": "brokerAZDistribution",
          "shape": "BrokerAZDistribution"
        },
        "ClientSubnets": {
          "documentation": "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't occupy the Availability Zone with ID use use1-az3.</p>\n         ",
          "locationName": "clientSubnets",
          "shape": "__listOf__string"
        },
        "ConnectivityInfo": {
          "documentation": "\n            <p>Information about the broker access configuration.</p>\n         ",
          "locationName": "connectivityInfo",
          "shape": "ConnectivityInfo"
        },
        "InstanceType": {
          "documentation": "\n            <p>The type of Amazon EC2 instances to use for Apache Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         ",
          "locationName": "instanceType",
          "shape": "__stringMin5Max32"
        },
        "SecurityGroups": {
          "documentation": "\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         ",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageInfo": {
          "documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         ",
          "locationName": "storageInfo",
          "shape": "StorageInfo"
        }
      },
      "required": [
        "ClientSubnets",
        "InstanceType"
      ],
      "type": "structure"
    },
    "BrokerNodeInfo": {
      "documentation": "\n            <p>BrokerNodeInfo</p>\n         ",
      "members": {
        "AttachedENIId": {
          "documentation": "\n            <p>The attached elastic network interface of the broker.</p>\n         ",
          "locationName": "attachedENIId",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "\n            <p>The ID of the broker.</p>\n         ",
          "locationName": "brokerId",
          "shape": "__double"
        },
        "ClientSubnet": {
          "documentation": "\n            <p>The client subnet to which this broker node belongs.</p>\n         ",
          "locationName": "clientSubnet",
          "shape": "__string"
        },
        "ClientVpcIpAddress": {
          "documentation": "\n            <p>The virtual private cloud (VPC) of the client.</p>\n         ",
          "locationName": "clientVpcIpAddress",
          "shape": "__string"
        },
        "CurrentBrokerSoftwareInfo": {
          "documentation": "\n            <p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>\n         ",
          "locationName": "currentBrokerSoftwareInfo",
          "shape": "BrokerSoftwareInfo"
        },
        "Endpoints": {
          "documentation": "\n            <p>Endpoints for accessing the broker.</p>\n         ",
          "locationName": "endpoints",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "BrokerSoftwareInfo": {
      "documentation": "\n            <p>Information about the current software installed on the cluster.</p>\n         ",
      "members": {
        "ConfigurationArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>\n         ",
          "locationName": "configurationArn",
          "shape": "__string"
        },
        "ConfigurationRevision": {
          "documentation": "\n            <p>The revision of the configuration to use. This field isn't visible in this preview release.</p>\n         ",
          "locationName": "configurationRevision",
          "shape": "__long"
        },
        "KafkaVersion": {
          "documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
          "locationName": "kafkaVersion",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClientAuthentication": {
      "documentation": "\n            <p>Includes all client authentication information.</p>\n         ",
      "members": {
        "Sasl": {
          "documentation": "\n            <p>Details for ClientAuthentication using SASL.</p>\n         ",
          "locationName": "sasl",
          "shape": "Sasl"
        },
        "Tls": {
          "documentation": "\n            <p>Details for ClientAuthentication using TLS.</p>\n         ",
          "locationName": "tls",
          "shape": "Tls"
        },
        "Unauthenticated": {
          "documentation": "\n            <p>Contains information about unauthenticated traffic to the cluster.</p>\n         ",
          "locationName": "unauthenticated",
          "shape": "Unauthenticated"
        }
      },
      "type": "structure"
    },
    "ClientBroker": {
      "documentation": "\n            <p>Client-broker encryption in transit setting.</p>\n         ",
      "enum": [
        "TLS",
        "TLS_PLAINTEXT",
        "PLAINTEXT"
      ],
      "type": "string"
    },
    "CloudWatchLogs": {
      "members": {
        "Enabled": {
          "locationName": "enabled",
          "shape": "__boolean"
        },
        "LogGroup": {
          "locationName": "logGroup",
          "shape": "__string"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "Cluster": {
      "documentation": "\n            <p>Returns information about a cluster.</p>\n         ",
      "members": {
        "ActiveOperationArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies a cluster operation.</p>\n         ",
          "locationName": "activeOperationArn",
          "shape": "__string"
        },
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "ClusterType": {
          "documentation": "\n            <p>Cluster Type.</p>\n         ",
          "locationName": "clusterType",
          "shape": "ClusterType"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the cluster was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
          "locationName": "currentVersion",
          "shape": "__string"
        },
        "Provisioned": {
          "documentation": "\n            <p>Information about the provisioned cluster.</p>\n         ",
          "locationName": "provisioned",
          "shape": "Provisioned"
        },
        "Serverless": {
          "documentation": "\n            <p>Information about the serverless cluster.</p>\n         ",
          "locationName": "serverless",
          "shape": "Serverless"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        },
        "StateInfo": {
          "documentation": "\n            <p>State Info for the Amazon MSK cluster.</p>\n         ",
          "locationName": "stateInfo",
          "shape": "StateInfo"
        },
        "Tags": {
          "documentation": "\n            <p>Tags attached to the cluster.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "type": "structure"
    },
    "ClusterInfo": {
      "documentation": "\n            <p>Returns information about a cluster.</p>\n         ",
      "members": {
        "ActiveOperationArn": {
          "documentation": "\n            <p>Arn of active cluster operation.</p>\n         ",
          "locationName": "activeOperationArn",
          "shape": "__string"
        },
        "BrokerNodeGroupInfo": {
          "documentation": "\n            <p>Information about the broker nodes.</p>\n         ",
          "locationName": "brokerNodeGroupInfo",
          "shape": "BrokerNodeGroupInfo"
        },
        "ClientAuthentication": {
          "documentation": "\n            <p>Includes all client authentication information.</p>\n         ",
          "locationName": "clientAuthentication",
          "shape": "ClientAuthentication"
        },
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the cluster was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "CurrentBrokerSoftwareInfo": {
          "documentation": "\n            <p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>\n         ",
          "locationName": "currentBrokerSoftwareInfo",
          "shape": "BrokerSoftwareInfo"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
          "locationName": "currentVersion",
          "shape": "__string"
        },
        "EncryptionInfo": {
          "documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
          "locationName": "encryptionInfo",
          "shape": "EncryptionInfo"
        },
        "EnhancedMonitoring": {
          "documentation": "\n            <p>Specifies which metrics are gathered for the MSK cluster. This property has the following possible values: DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION. For a list of the metrics associated with each of these levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>\n         ",
          "locationName": "enhancedMonitoring",
          "shape": "EnhancedMonitoring"
        },
        "LoggingInfo": {
          "locationName": "loggingInfo",
          "shape": "LoggingInfo"
        },
        "NumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
          "locationName": "numberOfBrokerNodes",
          "shape": "__integer"
        },
        "OpenMonitoring": {
          "documentation": "\n            <p>Settings for open monitoring using Prometheus.</p>\n         ",
          "locationName": "openMonitoring",
          "shape": "OpenMonitoring"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        },
        "StateInfo": {
          "locationName": "stateInfo",
          "shape": "StateInfo"
        },
        "StorageMode": {
          "documentation": "\n            <p>This controls storage mode for supported storage tiers.</p>\n         ",
          "locationName": "storageMode",
          "shape": "StorageMode"
        },
        "Tags": {
          "documentation": "\n            <p>Tags attached to the cluster.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "ZookeeperConnectString": {
          "documentation": "\n            <p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>\n         ",
          "locationName": "zookeeperConnectString",
          "shape": "__string"
        },
        "ZookeeperConnectStringTls": {
          "documentation": "\n            <p>The connection string to use to connect to zookeeper cluster on Tls port.</p>\n         ",
          "locationName": "zookeeperConnectStringTls",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClusterOperationInfo": {
      "documentation": "\n            <p>Returns information about a cluster operation.</p>\n         ",
      "members": {
        "ClientRequestId": {
          "documentation": "\n            <p>The ID of the API request that triggered this operation.</p>\n         ",
          "locationName": "clientRequestId",
          "shape": "__string"
        },
        "ClusterArn": {
          "documentation": "\n            <p>ARN of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time that the operation was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "EndTime": {
          "documentation": "\n            <p>The time at which the operation finished.</p>\n         ",
          "locationName": "endTime",
          "shape": "__timestampIso8601"
        },
        "ErrorInfo": {
          "documentation": "\n            <p>Describes the error if the operation fails.</p>\n         ",
          "locationName": "errorInfo",
          "shape": "ErrorInfo"
        },
        "OperationArn": {
          "documentation": "\n            <p>ARN of the cluster operation.</p>\n         ",
          "locationName": "operationArn",
          "shape": "__string"
        },
        "OperationState": {
          "documentation": "\n            <p>State of the cluster operation.</p>\n         ",
          "locationName": "operationState",
          "shape": "__string"
        },
        "OperationSteps": {
          "documentation": "\n            <p>Steps completed during the operation.</p>\n         ",
          "locationName": "operationSteps",
          "shape": "__listOfClusterOperationStep"
        },
        "OperationType": {
          "documentation": "\n            <p>Type of the cluster operation.</p>\n         ",
          "locationName": "operationType",
          "shape": "__string"
        },
        "SourceClusterInfo": {
          "documentation": "\n            <p>Information about cluster attributes before a cluster is updated.</p>\n         ",
          "locationName": "sourceClusterInfo",
          "shape": "MutableClusterInfo"
        },
        "TargetClusterInfo": {
          "documentation": "\n            <p>Information about cluster attributes after a cluster is updated.</p>\n         ",
          "locationName": "targetClusterInfo",
          "shape": "MutableClusterInfo"
        }
      },
      "type": "structure"
    },
    "ClusterOperationStep": {
      "documentation": "\n            <p>Step taken during a cluster operation.</p>\n         ",
      "members": {
        "StepInfo": {
          "documentation": "\n            <p>Information about the step and its status.</p>\n         ",
          "locationName": "stepInfo",
          "shape": "ClusterOperationStepInfo"
        },
        "StepName": {
          "documentation": "\n            <p>The name of the step.</p>\n         ",
          "locationName": "stepName",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClusterOperationStepInfo": {
      "documentation": "\n            <p>State information about the operation step.</p>\n         ",
      "members": {
        "StepStatus": {
          "documentation": "\n            <p>The steps current status.</p>\n         ",
          "locationName": "stepStatus",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClusterState": {
      "documentation": "\n            <p>The state of the Apache Kafka cluster.</p>\n         ",
      "enum": [
        "ACTIVE",
        "CREATING",
        "DELETING",
        "FAILED",
        "HEALING",
        "MAINTENANCE",
        "REBOOTING_BROKER",
        "UPDATING"
      ],
      "type": "string"
    },
    "ClusterType": {
      "documentation": "\n            <p>The type of cluster.</p>\n         ",
      "enum": [
        "PROVISIONED",
        "SERVERLESS"
      ],
      "type": "string"
    },
    "CompatibleKafkaVersion": {
      "documentation": "\n            <p>Contains source Apache Kafka versions and compatible target Apache Kafka versions.</p>\n        ",
      "members": {
        "SourceVersion": {
          "documentation": "\n            <p>An Apache Kafka version.</p>\n            ",
          "locationName": "sourceVersion",
          "shape": "__string"
        },
        "TargetVersions": {
          "documentation": "\n            <p>A list of Apache Kafka versions.</p>\n            ",
          "locationName": "targetVersions",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "Configuration": {
      "documentation": "\n            <p>Represents an MSK Configuration.</p>\n         ",
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "KafkaVersions": {
          "documentation": "\n            <p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>\n         ",
          "locationName": "kafkaVersions",
          "shape": "__listOf__string"
        },
        "LatestRevision": {
          "documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>\n         ",
          "locationName": "state",
          "shape": "ConfigurationState"
        }
      },
      "required": [
        "Description",
        "LatestRevision",
        "CreationTime",
        "KafkaVersions",
        "Arn",
        "Name",
        "State"
      ],
      "type": "structure"
    },
    "ConfigurationInfo": {
      "documentation": "\n            <p>Specifies the configuration to use for the brokers.</p>\n         ",
      "members": {
        "Arn": {
          "documentation": "\n            <p>ARN of the configuration to use.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>The revision of the configuration to use.</p>\n         ",
          "locationName": "revision",
          "shape": "__long"
        }
      },
      "required": [
        "Revision",
        "Arn"
      ],
      "type": "structure"
    },
    "ConfigurationRevision": {
      "documentation": "\n            <p>Describes a configuration revision.</p>\n         ",
      "members": {
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration revision was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration revision.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>The revision number.</p>\n         ",
          "locationName": "revision",
          "shape": "__long"
        }
      },
      "required": [
        "Revision",
        "CreationTime"
      ],
      "type": "structure"
    },
    "ConfigurationState": {
      "documentation": "\n            <p>The state of a configuration.</p>\n         ",
      "enum": [
        "ACTIVE",
        "DELETING",
        "DELETE_FAILED"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ConnectivityInfo": {
      "documentation": "\n            <p>Information about the broker access configuration.</p>\n         ",
      "members": {
        "PublicAccess": {
          "documentation": "\n            <p>Public access control for brokers.</p>\n         ",
          "locationName": "publicAccess",
          "shape": "PublicAccess"
        }
      },
      "type": "structure"
    },
    "CreateClusterRequest": {
      "members": {
        "BrokerNodeGroupInfo": {
          "documentation": "\n            <p>Information about the broker nodes in the cluster.</p>\n         ",
          "locationName": "brokerNodeGroupInfo",
          "shape": "BrokerNodeGroupInfo"
        },
        "ClientAuthentication": {
          "documentation": "\n            <p>Includes all client authentication related information.</p>\n         ",
          "locationName": "clientAuthentication",
          "shape": "ClientAuthentication"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__stringMin1Max64"
        },
        "ConfigurationInfo": {
          "documentation": "\n            <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>\n         ",
          "locationName": "configurationInfo",
          "shape": "ConfigurationInfo"
        },
        "EncryptionInfo": {
          "documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
          "locationName": "encryptionInfo",
          "shape": "EncryptionInfo"
        },
        "EnhancedMonitoring": {
          "documentation": "\n            <p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION.</p>\n         ",
          "locationName": "enhancedMonitoring",
          "shape": "EnhancedMonitoring"
        },
        "KafkaVersion": {
          "documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
          "locationName": "kafkaVersion",
          "shape": "__stringMin1Max128"
        },
        "LoggingInfo": {
          "locationName": "loggingInfo",
          "shape": "LoggingInfo"
        },
        "NumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
          "locationName": "numberOfBrokerNodes",
          "shape": "__integerMin1Max15"
        },
        "OpenMonitoring": {
          "documentation": "\n            <p>The settings for open monitoring.</p>\n         ",
          "locationName": "openMonitoring",
          "shape": "OpenMonitoringInfo"
        },
        "StorageMode": {
          "documentation": "\n            <p>This controls storage mode for supported storage tiers.</p>\n         ",
          "locationName": "storageMode",
          "shape": "StorageMode"
        },
        "Tags": {
          "documentation": "\n            <p>Create tags when creating the cluster.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "BrokerNodeGroupInfo",
        "KafkaVersion",
        "NumberOfBrokerNodes",
        "ClusterName"
      ],
      "type": "structure"
    },
    "CreateClusterResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the MSK cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        }
      },
      "type": "structure"
    },
    "CreateClusterV2Request": {
      "members": {
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__stringMin1Max64"
        },
        "Provisioned": {
          "documentation": "\n            <p>Information about the provisioned cluster.</p>\n         ",
          "locationName": "provisioned",
          "shape": "ProvisionedRequest"
        },
        "Serverless": {
          "documentation": "\n            <p>Information about the serverless cluster.</p>\n         ",
          "locationName": "serverless",
          "shape": "ServerlessRequest"
        },
        "Tags": {
          "documentation": "\n            <p>A map of tags that you want the cluster to have.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "CreateClusterV2Response": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the MSK cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "ClusterType": {
          "documentation": "\n            <p>The type of the cluster. The possible states are PROVISIONED or SERVERLESS.</p>\n         ",
          "locationName": "clusterType",
          "shape": "ClusterType"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        }
      },
      "type": "structure"
    },
    "CreateConfigurationRequest": {
      "members": {
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "KafkaVersions": {
          "documentation": "\n            <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>\n         ",
          "locationName": "kafkaVersions",
          "shape": "__listOf__string"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        },
        "ServerProperties": {
          "documentation": "\n            <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>\n         ",
          "locationName": "serverProperties",
          "shape": "__blob"
        }
      },
      "required": [
        "ServerProperties",
        "Name"
      ],
      "type": "structure"
    },
    "CreateConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "LatestRevision": {
          "documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>\n         ",
          "locationName": "state",
          "shape": "ConfigurationState"
        }
      },
      "type": "structure"
    },
    "DeleteClusterRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
          "location": "querystring",
          "locationName": "currentVersion",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "DeleteClusterResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        }
      },
      "type": "structure"
    },
    "DeleteConfigurationRequest": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>\n         ",
          "location": "uri",
          "locationName": "arn",
          "shape": "__string"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeleteConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>\n         ",
          "locationName": "state",
[...]
