{
  "documentation": "<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows or Amazon Linux desktops for your users, known as <i>WorkSpaces</i>. WorkSpaces eliminates the need to procure and deploy hardware or install complex software. You can quickly add or remove users as your needs change. Users can access their virtual desktops from multiple devices or web browsers.</p> <p>This API Reference provides detailed information about the actions, data types, parameters, and errors of the WorkSpaces service. For more information about the supported Amazon Web Services Regions, endpoints, and service quotas of the Amazon WorkSpaces service, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/wsp.html\">WorkSpaces endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>You can also manage your WorkSpaces resources using the WorkSpaces console, Command Line Interface (CLI), and SDKs. For more information about administering WorkSpaces, see the <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/\">Amazon WorkSpaces Administration Guide</a>. For more information about using the Amazon WorkSpaces client application or web browser to access provisioned WorkSpaces, see the <a href=\"https://docs.aws.amazon.com/workspaces/latest/userguide/\">Amazon WorkSpaces User Guide</a>. For more information about using the CLI to manage your WorkSpaces resources, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/workspaces/index.html\">WorkSpaces section of the CLI Reference</a>.</p>",
  "metadata": {
    "apiVersion": "2015-04-08",
    "endpointPrefix": "workspaces",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkSpaces",
    "serviceId": "WorkSpaces",
    "signatureVersion": "v4",
    "targetPrefix": "WorkspacesService",
    "uid": "workspaces-2015-04-08"
  },
  "operations": {
    "AssociateConnectionAlias": {
      "documentation": "<p>Associates the specified connection alias with the specified directory to enable cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateConnectionAliasRequest"
      },
      "name": "AssociateConnectionAlias",
      "output": {
        "shape": "AssociateConnectionAliasResult"
      }
    },
    "AssociateIpGroups": {
      "documentation": "<p>Associates the specified IP access control group with the specified directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateIpGroupsRequest"
      },
      "name": "AssociateIpGroups",
      "output": {
        "shape": "AssociateIpGroupsResult"
      }
    },
    "AuthorizeIpRules": {
      "documentation": "<p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeIpRulesRequest"
      },
      "name": "AuthorizeIpRules",
      "output": {
        "shape": "AuthorizeIpRulesResult"
      }
    },
    "CopyWorkspaceImage": {
      "documentation": "<p>Copies the specified image from the specified Region to the current Region. For more information about copying images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/copy-custom-image.html\"> Copy a Custom WorkSpaces Image</a>.</p> <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p> <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web Services Support.</p> <important> <p>Before copying a shared image, be sure to verify that it has been shared from the correct Amazon Web Services account. To determine if an image has been shared and to see the ID of the Amazon Web Services account that owns an image, use the <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">DescribeWorkSpaceImages</a> and <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImagePermissions.html\">DescribeWorkspaceImagePermissions</a> API operations. </p> </important>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyWorkspaceImageRequest"
      },
      "name": "CopyWorkspaceImage",
      "output": {
        "shape": "CopyWorkspaceImageResult"
      }
    },
    "CreateConnectClientAddIn": {
      "documentation": "<p>Creates a client-add-in for Amazon Connect within a directory. You can create only one Amazon Connect client add-in within a directory.</p> <p>This client add-in allows WorkSpaces users to seamlessly connect to Amazon Connect.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceCreationFailedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectClientAddInRequest"
      },
      "name": "CreateConnectClientAddIn",
      "output": {
        "shape": "CreateConnectClientAddInResult"
      }
    },
    "CreateConnectionAlias": {
      "documentation": "<p>Creates the specified connection alias for use with cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectionAliasRequest"
      },
      "name": "CreateConnectionAlias",
      "output": {
        "shape": "CreateConnectionAliasResult"
      }
    },
    "CreateIpGroup": {
      "documentation": "<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don't associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceCreationFailedException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIpGroupRequest"
      },
      "name": "CreateIpGroup",
      "output": {
        "shape": "CreateIpGroupResult"
      }
    },
    "CreateTags": {
      "documentation": "<p>Creates the specified tags for the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "name": "CreateTags",
      "output": {
        "shape": "CreateTagsResult"
      }
    },
    "CreateUpdatedWorkspaceImage": {
      "documentation": "<p>Creates a new updated WorkSpace image based on the specified source image. The new updated WorkSpace image has the latest drivers and other updates required by the Amazon WorkSpaces components.</p> <p>To determine which WorkSpace images need to be updated with the latest Amazon WorkSpaces requirements, use <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\"> DescribeWorkspaceImages</a>.</p> <note> <ul> <li> <p>Only Windows 10, Windows Sever 2016, and Windows Server 2019 WorkSpace images can be programmatically updated at this time.</p> </li> <li> <p>Microsoft Windows updates and other application updates are not included in the update process.</p> </li> <li> <p>The source WorkSpace image is not deleted. You can delete the source image after you've verified your new updated image and created a new bundle. </p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUpdatedWorkspaceImageRequest"
      },
      "name": "CreateUpdatedWorkspaceImage",
      "output": {
        "shape": "CreateUpdatedWorkspaceImageResult"
      }
    },
    "CreateWorkspaceBundle": {
      "documentation": "<p>Creates the specified WorkSpace bundle. For more information about creating WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/create-custom-bundle.html\"> Create a Custom WorkSpaces Image and Bundle</a>.</p>",
      "errors": [
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkspaceBundleRequest"
      },
      "name": "CreateWorkspaceBundle",
      "output": {
        "shape": "CreateWorkspaceBundleResult"
      }
    },
    "CreateWorkspaceImage": {
      "documentation": "<p>Creates a new WorkSpace image from an existing WorkSpace.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkspaceImageRequest"
      },
      "name": "CreateWorkspaceImage",
      "output": {
        "shape": "CreateWorkspaceImageResult"
      }
    },
    "CreateWorkspaces": {
      "documentation": "<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p> <note> <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces Core. Contact your account team to be allow-listed to use this value. For more information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces Core</a>.</p> </note>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkspacesRequest"
      },
      "name": "CreateWorkspaces",
      "output": {
        "shape": "CreateWorkspacesResult"
      }
    },
    "DeleteClientBranding": {
      "documentation": "<p>Deletes customized client branding. Client branding allows you to customize your WorkSpace's client login portal. You can tailor your login portal company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <p>After you delete your customized client branding, your login portal reverts to the default client branding.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteClientBrandingRequest"
      },
      "name": "DeleteClientBranding",
      "output": {
        "shape": "DeleteClientBrandingResult"
      }
    },
    "DeleteConnectClientAddIn": {
      "documentation": "<p>Deletes a client-add-in for Amazon Connect that is configured within a directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectClientAddInRequest"
      },
      "name": "DeleteConnectClientAddIn",
      "output": {
        "shape": "DeleteConnectClientAddInResult"
      }
    },
    "DeleteConnectionAlias": {
      "documentation": "<p>Deletes the specified connection alias. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <important> <p> <b>If you will no longer be using a fully qualified domain name (FQDN) as the registration code for your WorkSpaces users, you must take certain precautions to prevent potential security issues.</b> For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html#cross-region-redirection-security-considerations\"> Security Considerations if You Stop Using Cross-Region Redirection</a>.</p> </important> <note> <p>To delete a connection alias that has been shared, the shared account must first disassociate the connection alias from any directories it has been associated with. Then you must unshare the connection alias from the account it has been shared with. You can delete a connection alias only after it is no longer shared with any accounts or associated with any directories.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionAliasRequest"
      },
      "name": "DeleteConnectionAlias",
      "output": {
        "shape": "DeleteConnectionAliasResult"
      }
    },
    "DeleteIpGroup": {
      "documentation": "<p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIpGroupRequest"
      },
      "name": "DeleteIpGroup",
      "output": {
        "shape": "DeleteIpGroupResult"
      }
    },
    "DeleteTags": {
      "documentation": "<p>Deletes the specified tags from the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "name": "DeleteTags",
      "output": {
        "shape": "DeleteTagsResult"
      }
    },
    "DeleteWorkspaceBundle": {
      "documentation": "<p>Deletes the specified WorkSpace bundle. For more information about deleting WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete_bundle.html\"> Delete a Custom WorkSpaces Bundle or Image</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkspaceBundleRequest"
      },
      "name": "DeleteWorkspaceBundle",
      "output": {
        "shape": "DeleteWorkspaceBundleResult"
      }
    },
    "DeleteWorkspaceImage": {
      "documentation": "<p>Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image and unshare the image if it is shared with other accounts. </p>",
      "errors": [
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkspaceImageRequest"
      },
      "name": "DeleteWorkspaceImage",
      "output": {
        "shape": "DeleteWorkspaceImageResult"
      }
    },
    "DeregisterWorkspaceDirectory": {
      "documentation": "<p>Deregisters the specified directory. This operation is asynchronous and returns before the WorkSpace directory is deregistered. If any WorkSpaces are registered to this directory, you must remove them before you can deregister the directory.</p> <note> <p>Simple AD and AD Connector are made available to you free of charge to use with WorkSpaces. If there are no WorkSpaces being used with your Simple AD or AD Connector directory for 30 consecutive days, this directory will be automatically deregistered for use with Amazon WorkSpaces, and you will be charged for this directory as per the <a href=\"http://aws.amazon.com/directoryservice/pricing/\">Directory Service pricing terms</a>.</p> <p>To delete empty directories, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete-workspaces-directory.html\"> Delete the Directory for Your WorkSpaces</a>. If you delete your Simple AD or AD Connector directory, you can always create a new one when you want to start using WorkSpaces again.</p> </note>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterWorkspaceDirectoryRequest"
      },
      "name": "DeregisterWorkspaceDirectory",
      "output": {
        "shape": "DeregisterWorkspaceDirectoryResult"
      }
    },
    "DescribeAccount": {
      "documentation": "<p>Retrieves a list that describes the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountRequest"
      },
      "name": "DescribeAccount",
      "output": {
        "shape": "DescribeAccountResult"
      }
    },
    "DescribeAccountModifications": {
      "documentation": "<p>Retrieves a list that describes modifications to the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountModificationsRequest"
      },
      "name": "DescribeAccountModifications",
      "output": {
        "shape": "DescribeAccountModificationsResult"
      }
    },
    "DescribeClientBranding": {
      "documentation": "<p>Describes the specified client branding. Client branding allows you to customize the log in page of various device types for your users. You can add your company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <note> <p>Only device types that have branding information configured will be shown in the response.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClientBrandingRequest"
      },
      "name": "DescribeClientBranding",
      "output": {
        "shape": "DescribeClientBrandingResult"
      }
    },
    "DescribeClientProperties": {
      "documentation": "<p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClientPropertiesRequest"
      },
      "name": "DescribeClientProperties",
      "output": {
        "shape": "DescribeClientPropertiesResult"
      }
    },
    "DescribeConnectClientAddIns": {
      "documentation": "<p>Retrieves a list of Amazon Connect client add-ins that have been created.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectClientAddInsRequest"
      },
      "name": "DescribeConnectClientAddIns",
      "output": {
        "shape": "DescribeConnectClientAddInsResult"
      }
    },
    "DescribeConnectionAliasPermissions": {
      "documentation": "<p>Describes the permissions that the owner of a connection alias has granted to another Amazon Web Services account for the specified connection alias. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionAliasPermissionsRequest"
      },
      "name": "DescribeConnectionAliasPermissions",
      "output": {
        "shape": "DescribeConnectionAliasPermissionsResult"
      }
    },
    "DescribeConnectionAliases": {
      "documentation": "<p>Retrieves a list that describes the connection aliases used for cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionAliasesRequest"
      },
      "name": "DescribeConnectionAliases",
      "output": {
        "shape": "DescribeConnectionAliasesResult"
      }
    },
    "DescribeIpGroups": {
      "documentation": "<p>Describes one or more of your IP access control groups.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIpGroupsRequest"
      },
      "name": "DescribeIpGroups",
      "output": {
        "shape": "DescribeIpGroupsResult"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the specified tags for the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsRequest"
      },
      "name": "DescribeTags",
      "output": {
        "shape": "DescribeTagsResult"
      }
    },
    "DescribeWorkspaceBundles": {
      "documentation": "<p>Retrieves a list that describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceBundlesRequest"
      },
      "name": "DescribeWorkspaceBundles",
      "output": {
        "shape": "DescribeWorkspaceBundlesResult"
      }
    },
    "DescribeWorkspaceDirectories": {
      "documentation": "<p>Describes the available directories that are registered with Amazon WorkSpaces.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceDirectoriesRequest"
      },
      "name": "DescribeWorkspaceDirectories",
      "output": {
        "shape": "DescribeWorkspaceDirectoriesResult"
      }
    },
    "DescribeWorkspaceImagePermissions": {
      "documentation": "<p>Describes the permissions that the owner of an image has granted to other Amazon Web Services accounts for an image.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceImagePermissionsRequest"
      },
      "name": "DescribeWorkspaceImagePermissions",
      "output": {
        "shape": "DescribeWorkspaceImagePermissionsResult"
      }
    },
    "DescribeWorkspaceImages": {
      "documentation": "<p>Retrieves a list that describes one or more specified images, if the image identifiers are provided. Otherwise, all images in the account are described. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceImagesRequest"
      },
      "name": "DescribeWorkspaceImages",
      "output": {
        "shape": "DescribeWorkspaceImagesResult"
      }
    },
    "DescribeWorkspaceSnapshots": {
      "documentation": "<p>Describes the snapshots for the specified WorkSpace.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceSnapshotsRequest"
      },
      "name": "DescribeWorkspaceSnapshots",
      "output": {
        "shape": "DescribeWorkspaceSnapshotsResult"
      }
    },
    "DescribeWorkspaces": {
      "documentation": "<p>Describes the specified WorkSpaces.</p> <p>You can filter the results by using the bundle identifier, directory identifier, or owner, but you can specify only one filter at a time.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspacesRequest"
      },
      "name": "DescribeWorkspaces",
      "output": {
        "shape": "DescribeWorkspacesResult"
      }
    },
    "DescribeWorkspacesConnectionStatus": {
      "documentation": "<p>Describes the connection status of the specified WorkSpaces.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspacesConnectionStatusRequest"
      },
      "name": "DescribeWorkspacesConnectionStatus",
      "output": {
        "shape": "DescribeWorkspacesConnectionStatusResult"
      }
    },
    "DisassociateConnectionAlias": {
      "documentation": "<p>Disassociates a connection alias from a directory. Disassociating a connection alias disables cross-Region redirection between two directories in different Regions. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </note>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateConnectionAliasRequest"
      },
      "name": "DisassociateConnectionAlias",
      "output": {
        "shape": "DisassociateConnectionAliasResult"
      }
    },
    "DisassociateIpGroups": {
      "documentation": "<p>Disassociates the specified IP access control group from the specified directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateIpGroupsRequest"
      },
      "name": "DisassociateIpGroups",
      "output": {
        "shape": "DisassociateIpGroupsResult"
      }
    },
    "ImportClientBranding": {
      "documentation": "<p>Imports client branding. Client branding allows you to customize your WorkSpace's client login portal. You can tailor your login portal company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <p>After you import client branding, the default branding experience for the specified platform type is replaced with the imported experience</p> <note> <ul> <li> <p>You must specify at least one platform type when importing client branding.</p> </li> <li> <p>You can import up to 6 MB of data with each request. If your request exceeds this limit, you can import client branding for different platform types using separate requests.</p> </li> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive. You can specify only one parameter for each platform type, but not both.</p> </li> <li> <p>Imported data can take up to a minute to appear in the WorkSpaces client.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportClientBrandingRequest"
      },
      "name": "ImportClientBranding",
      "output": {
        "shape": "ImportClientBrandingResult"
      }
    },
    "ImportWorkspaceImage": {
      "documentation": "<p>Imports the specified Windows 10 Bring Your Own License (BYOL) or Windows Server 2016 BYOL image into Amazon WorkSpaces. The image must be an already licensed Amazon EC2 image that is in your Amazon Web Services account, and you must own the image. For more information about creating BYOL images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.html\"> Bring Your Own Windows Desktop Licenses</a>.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportWorkspaceImageRequest"
      },
      "name": "ImportWorkspaceImage",
      "output": {
        "shape": "ImportWorkspaceImageResult"
      }
    },
    "ListAvailableManagementCidrRanges": {
      "documentation": "<p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use for the network management interface when you enable Bring Your Own License (BYOL). </p> <p>This operation can be run only by Amazon Web Services accounts that are enabled for BYOL. If your account isn't enabled for BYOL, you'll receive an <code>AccessDeniedException</code> error.</p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableManagementCidrRangesRequest"
      },
      "name": "ListAvailableManagementCidrRanges",
      "output": {
        "shape": "ListAvailableManagementCidrRangesResult"
      }
    },
    "MigrateWorkspace": {
      "documentation": "<p>Migrates a WorkSpace from one operating system or bundle type to another, while retaining the data on the user volume.</p> <p>The migration process recreates the WorkSpace by using a new root volume from the target bundle image and the user volume from the last available snapshot of the original WorkSpace. During migration, the original <code>D:\\Users\\%USERNAME%</code> user profile folder is renamed to <code>D:\\Users\\%USERNAME%MMddyyTHHmmss%.NotMigrated</code>. A new <code>D:\\Users\\%USERNAME%\\</code> folder is generated by the new OS. Certain files in the old user profile are moved to the new user profile.</p> <p>For available migration scenarios, details about what happens during migration, and best practices, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/migrate-workspaces.html\">Migrate a WorkSpace</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "MigrateWorkspaceRequest"
      },
      "name": "MigrateWorkspace",
      "output": {
        "shape": "MigrateWorkspaceResult"
      }
    },
    "ModifyAccount": {
      "documentation": "<p>Modifies the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyAccountRequest"
      },
      "name": "ModifyAccount",
      "output": {
        "shape": "ModifyAccountResult"
      }
    },
    "ModifyClientProperties": {
      "documentation": "<p>Modifies the properties of the specified Amazon WorkSpaces clients.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyClientPropertiesRequest"
      },
      "name": "ModifyClientProperties",
      "output": {
        "shape": "ModifyClientPropertiesResult"
      }
    },
    "ModifySamlProperties": {
      "documentation": "<p>Modifies multiple properties related to SAML 2.0 authentication, including the enablement status, user access URL, and relay state parameter name that are used for configuring federation with an SAML 2.0 identity provider.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifySamlPropertiesRequest"
      },
      "name": "ModifySamlProperties",
      "output": {
        "shape": "ModifySamlPropertiesResult"
      }
    },
    "ModifySelfservicePermissions": {
      "documentation": "<p>Modifies the self-service WorkSpace management capabilities for your users. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/enable-user-self-service-workspace-management.html\">Enable Self-Service WorkSpace Management Capabilities for Your Users</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifySelfservicePermissionsRequest"
      },
      "name": "ModifySelfservicePermissions",
      "output": {
        "shape": "ModifySelfservicePermissionsResult"
      }
    },
    "ModifyWorkspaceAccessProperties": {
      "documentation": "<p>Specifies which devices and operating systems users can use to access their WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html#control-device-access\"> Control Device Access</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceAccessPropertiesRequest"
      },
      "name": "ModifyWorkspaceAccessProperties",
      "output": {
        "shape": "ModifyWorkspaceAccessPropertiesResult"
      }
    },
    "ModifyWorkspaceCreationProperties": {
      "documentation": "<p>Modify the default properties used to create WorkSpaces.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceCreationPropertiesRequest"
      },
      "name": "ModifyWorkspaceCreationProperties",
      "output": {
        "shape": "ModifyWorkspaceCreationPropertiesResult"
      }
    },
    "ModifyWorkspaceProperties": {
      "documentation": "<p>Modifies the specified WorkSpace properties. For important information about how to modify the size of the root and user volumes, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/modify-workspaces.html\"> Modify a WorkSpace</a>. </p> <note> <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces Core. Contact your account team to be allow-listed to use this value. For more information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces Core</a>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "UnsupportedWorkspaceConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspacePropertiesRequest"
      },
      "name": "ModifyWorkspaceProperties",
      "output": {
        "shape": "ModifyWorkspacePropertiesResult"
      }
    },
    "ModifyWorkspaceState": {
      "documentation": "<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, rebuild, or restore. An AutoStop WorkSpace in this state is not stopped. Users cannot log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceStateRequest"
      },
      "name": "ModifyWorkspaceState",
      "output": {
        "shape": "ModifyWorkspaceStateResult"
      }
    },
    "RebootWorkspaces": {
      "documentation": "<p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or <code>UNHEALTHY</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootWorkspacesRequest"
      },
      "name": "RebootWorkspaces",
      "output": {
        "shape": "RebootWorkspacesResult"
      }
    },
    "RebuildWorkspaces": {
      "documentation": "<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, <code>STOPPED</code>, or <code>REBOOTING</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebuildWorkspacesRequest"
      },
      "name": "RebuildWorkspaces",
      "output": {
        "shape": "RebuildWorkspacesResult"
      }
    },
    "RegisterWorkspaceDirectory": {
      "documentation": "<p>Registers the specified directory. This operation is asynchronous and returns before the WorkSpace directory is registered. If this is the first time you are registering a directory, you will need to create the workspaces_DefaultRole role before you can register a directory. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspaces-access-control.html#create-default-role\"> Creating the workspaces_DefaultRole Role</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "WorkspacesDefaultRoleNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "UnsupportedNetworkConfigurationException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterWorkspaceDirectoryRequest"
      },
      "name": "RegisterWorkspaceDirectory",
      "output": {
        "shape": "RegisterWorkspaceDirectoryResult"
      }
    },
    "RestoreWorkspace": {
      "documentation": "<p>Restores the specified WorkSpace to its last known healthy state.</p> <p>You cannot restore a WorkSpace unless its state is <code> AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, or <code>STOPPED</code>.</p> <p>Restoring a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/restore-workspace.html\">Restore a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpace is completely restored.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreWorkspaceRequest"
      },
      "name": "RestoreWorkspace",
      "output": {
        "shape": "RestoreWorkspaceResult"
      }
    },
    "RevokeIpRules": {
      "documentation": "<p>Removes one or more rules from the specified IP access control group.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeIpRulesRequest"
      },
      "name": "RevokeIpRules",
      "output": {
        "shape": "RevokeIpRulesResult"
      }
    },
    "StartWorkspaces": {
      "documentation": "<p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartWorkspacesRequest"
      },
      "name": "StartWorkspaces",
      "output": {
        "shape": "StartWorkspacesResult"
      }
    },
    "StopWorkspaces": {
      "documentation": "<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopWorkspacesRequest"
      },
      "name": "StopWorkspaces",
      "output": {
        "shape": "StopWorkspacesResult"
      }
    },
    "TerminateWorkspaces": {
      "documentation": "<p>Terminates the specified WorkSpaces.</p> <important> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is destroyed. If you need to archive any user data, contact Amazon Web Services Support before terminating the WorkSpace.</p> </important> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated. After a WorkSpace is terminated, the <code>TERMINATED</code> state is returned only briefly before the WorkSpace directory metadata is cleaned up, so this state is rarely returned. To confirm that a WorkSpace is terminated, check for the WorkSpace ID by using <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaces.html\"> DescribeWorkSpaces</a>. If the WorkSpace ID isn't returned, then the WorkSpace has been successfully terminated.</p> <note> <p>Simple AD and AD Connector are made available to you free of charge to use with WorkSpaces. If there are no WorkSpaces being used with your Simple AD or AD Connector directory for 30 consecutive days, this directory will be automatically deregistered for use with Amazon WorkSpaces, and you will be charged for this directory as per the <a href=\"http://aws.amazon.com/directoryservice/pricing/\">Directory Service pricing terms</a>.</p> <p>To delete empty directories, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete-workspaces-directory.html\"> Delete the Directory for Your WorkSpaces</a>. If you delete your Simple AD or AD Connector directory, you can always create a new one when you want to start using WorkSpaces again.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateWorkspacesRequest"
      },
      "name": "TerminateWorkspaces",
      "output": {
        "shape": "TerminateWorkspacesResult"
      }
    },
    "UpdateConnectClientAddIn": {
      "documentation": "<p>Updates a Amazon Connect client add-in. Use this action to update the name and endpoint URL of a Amazon Connect client add-in.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConnectClientAddInRequest"
      },
      "name": "UpdateConnectClientAddIn",
      "output": {
        "shape": "UpdateConnectClientAddInResult"
      }
    },
    "UpdateConnectionAliasPermission": {
      "documentation": "<p>Shares or unshares a connection alias with one account by specifying whether that account has permission to associate the connection alias with a directory. If the association permission is granted, the connection alias is shared with that account. If the association permission is revoked, the connection alias is unshared with the account. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <ul> <li> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </li> <li> <p>To delete a connection alias that has been shared, the shared account must first disassociate the connection alias from any directories it has been associated with. Then you must unshare the connection alias from the account it has been shared with. You can delete a connection alias only after it is no longer shared with any accounts or associated with any directories.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConnectionAliasPermissionRequest"
      },
      "name": "UpdateConnectionAliasPermission",
      "output": {
        "shape": "UpdateConnectionAliasPermissionResult"
      }
    },
    "UpdateRulesOfIpGroup": {
      "documentation": "<p>Replaces the current rules of the specified IP access control group with the specified rules.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRulesOfIpGroupRequest"
      },
      "name": "UpdateRulesOfIpGroup",
      "output": {
        "shape": "UpdateRulesOfIpGroupResult"
      }
    },
    "UpdateWorkspaceBundle": {
      "documentation": "<p>Updates a WorkSpace bundle with a new image. For more information about updating WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-custom-bundle.html\"> Update a Custom WorkSpaces Bundle</a>.</p> <important> <p>Existing WorkSpaces aren't automatically updated when you update the bundle that they're based on. To update existing WorkSpaces that are based on a bundle that you've updated, you must either rebuild the WorkSpaces or delete and recreate them.</p> </important>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkspaceBundleRequest"
      },
      "name": "UpdateWorkspaceBundle",
      "output": {
        "shape": "UpdateWorkspaceBundleResult"
      }
    },
    "UpdateWorkspaceImagePermission": {
      "documentation": "<p>Shares or unshares an image with one account in the same Amazon Web Services Region by specifying whether that account has permission to copy the image. If the copy image permission is granted, the image is shared with that account. If the copy image permission is revoked, the image is unshared with the account.</p> <p>After an image has been shared, the recipient account can copy the image to other Regions as needed.</p> <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p> <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web Services Support.</p> <p>For more information about sharing images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/share-custom-image.html\"> Share or Unshare a Custom WorkSpaces Image</a>.</p> <note> <ul> <li> <p>To delete an image that has been shared, you must unshare the image before you delete it.</p> </li> <li> <p>Sharing Bring Your Own License (BYOL) images across Amazon Web Services accounts isn't supported at this time in Amazon Web Services GovCloud (US). To share BYOL images across accounts in Amazon Web Services GovCloud (US), contact Amazon Web Services Support.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkspaceImagePermissionRequest"
      },
      "name": "UpdateWorkspaceImagePermission",
      "output": {
        "shape": "UpdateWorkspaceImagePermissionResult"
      }
    }
  },
  "shapes": {
    "ARN": {
      "pattern": "^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>The user is not authorized to access a resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccessPropertyValue": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "AccountModification": {
      "documentation": "<p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the specified account. </p>",
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "documentation": "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
          "shape": "DedicatedTenancyManagementCidrRange"
        },
        "DedicatedTenancySupport": {
          "documentation": "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
          "shape": "DedicatedTenancySupportResultEnum"
        },
        "ErrorCode": {
          "documentation": "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>",
          "shape": "WorkspaceErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>",
          "shape": "Description"
        },
        "ModificationState": {
          "documentation": "<p>The state of the modification to the configuration of BYOL.</p>",
          "shape": "DedicatedTenancyModificationStateEnum"
        },
        "StartTime": {
          "documentation": "<p>The timestamp when the modification of the BYOL configuration was started.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AccountModificationList": {
      "member": {
        "shape": "AccountModification"
      },
      "type": "list"
    },
    "AddInName": {
      "max": 64,
      "min": 1,
      "pattern": "^.*$",
      "type": "string"
    },
    "AddInUrl": {
      "max": 1024,
      "min": 1,
      "pattern": "^(http|https)\\://\\S+",
      "type": "string"
    },
    "Alias": {
      "type": "string"
    },
    "AmazonUuid": {
      "max": 36,
      "min": 36,
      "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}",
      "type": "string"
    },
    "Application": {
      "enum": [
        "Microsoft_Office_2016",
        "Microsoft_Office_2019"
      ],
      "type": "string"
    },
    "ApplicationList": {
      "max": 5,
      "member": {
        "shape": "Application"
      },
      "min": 1,
      "type": "list"
    },
    "AssociateConnectionAliasRequest": {
      "members": {
        "AliasId": {
          "documentation": "<p>The identifier of the connection alias.</p>",
          "shape": "ConnectionAliasId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the directory to associate the connection alias with.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "AliasId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "AssociateConnectionAliasResult": {
      "members": {
        "ConnectionIdentifier": {
          "documentation": "<p>The identifier of the connection alias association. You use the connection identifier in the DNS TXT record when you're configuring your DNS routing policies. </p>",
          "shape": "ConnectionIdentifier"
        }
      },
      "type": "structure"
    },
    "AssociateIpGroupsRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "GroupIds": {
          "documentation": "<p>The identifiers of one or more IP access control groups.</p>",
          "shape": "IpGroupIdList"
        }
      },
      "required": [
        "DirectoryId",
        "GroupIds"
      ],
      "type": "structure"
    },
    "AssociateIpGroupsResult": {
      "members": {},
      "type": "structure"
    },
    "AssociationStatus": {
      "enum": [
        "NOT_ASSOCIATED",
        "ASSOCIATED_WITH_OWNER_ACCOUNT",
        "ASSOCIATED_WITH_SHARED_ACCOUNT",
        "PENDING_ASSOCIATION",
        "PENDING_DISASSOCIATION"
      ],
      "type": "string"
    },
    "AuthorizeIpRulesRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        },
        "UserRules": {
          "documentation": "<p>The rules to add to the group.</p>",
          "shape": "IpRuleList"
        }
      },
      "required": [
        "GroupId",
        "UserRules"
      ],
      "type": "structure"
    },
    "AuthorizeIpRulesResult": {
      "members": {},
      "type": "structure"
    },
    "AwsAccount": {
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BundleId": {
      "pattern": "^wsb-[0-9a-z]{8,63}$",
      "type": "string"
    },
    "BundleIdList": {
      "max": 25,
      "member": {
        "shape": "BundleId"
      },
      "min": 1,
      "type": "list"
    },
    "BundleList": {
      "member": {
        "shape": "WorkspaceBundle"
      },
      "type": "list"
    },
    "BundleOwner": {
      "type": "string"
    },
    "ClientDeviceType": {
      "enum": [
        "DeviceTypeWindows",
        "DeviceTypeOsx",
        "DeviceTypeAndroid",
        "DeviceTypeIos",
        "DeviceTypeLinux",
        "DeviceTypeWeb"
      ],
      "type": "string"
    },
    "ClientDeviceTypeList": {
      "max": 6,
      "member": {
        "shape": "ClientDeviceType"
      },
      "min": 1,
      "type": "list"
    },
    "ClientEmail": {
      "max": 64,
      "min": 6,
      "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$",
      "type": "string"
    },
    "ClientLocale": {
      "max": 5,
      "min": 5,
      "pattern": "^[a-z]{2}_[A-Z]{2}$",
      "type": "string"
    },
    "ClientLoginMessage": {
      "max": 2000,
      "min": 0,
      "pattern": "^.*$",
      "type": "string"
    },
    "ClientProperties": {
      "documentation": "<p>Describes an Amazon WorkSpaces client.</p>",
      "members": {
        "LogUploadEnabled": {
          "documentation": "<p>Specifies whether users can upload diagnostic log files of Amazon WorkSpaces client directly to WorkSpaces to troubleshoot issues when using the WorkSpaces client. When enabled, the log files will be sent to WorkSpaces automatically and will be applied to all users in the specified directory.</p>",
          "shape": "LogUploadEnum"
        },
        "ReconnectEnabled": {
          "documentation": "<p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client. When enabled, users can choose to reconnect to their WorkSpaces without re-entering their credentials. </p>",
          "shape": "ReconnectEnum"
        }
      },
      "type": "structure"
    },
    "ClientPropertiesList": {
      "member": {
        "shape": "ClientPropertiesResult"
      },
      "type": "list"
    },
    "ClientPropertiesResult": {
      "documentation": "<p>Information about the Amazon WorkSpaces client.</p>",
      "members": {
        "ClientProperties": {
          "documentation": "<p>Information about the Amazon WorkSpaces client.</p>",
          "shape": "ClientProperties"
        },
        "ResourceId": {
          "documentation": "<p>The resource identifier, in the form of a directory ID.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ClientUrl": {
      "max": 200,
      "min": 1,
      "pattern": "^(http|https)\\://\\S+",
      "type": "string"
    },
    "Compute": {
      "enum": [
        "VALUE",
        "STANDARD",
        "PERFORMANCE",
        "POWER",
        "GRAPHICS",
        "POWERPRO",
        "GRAPHICSPRO",
        "GRAPHICS_G4DN",
        "GRAPHICSPRO_G4DN"
      ],
      "type": "string"
    },
    "ComputeType": {
      "documentation": "<p>Describes the compute type of the bundle.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The compute type.</p>",
          "shape": "Compute"
        }
      },
      "type": "structure"
    },
    "ComputerName": {
      "type": "string"
    },
    "ConnectClientAddIn": {
      "documentation": "<p>Describes an Amazon Connect client add-in.</p>",
      "members": {
        "AddInId": {
          "documentation": "<p>The client add-in identifier.</p>",
          "shape": "AmazonUuid"
        },
        "Name": {
          "documentation": "<p>The name of the client add in.</p>",
          "shape": "AddInName"
        },
        "ResourceId": {
          "documentation": "<p>The directory identifier for which the client add-in is configured.</p>",
          "shape": "DirectoryId"
        },
        "URL": {
          "documentation": "<p>The endpoint URL of the client add-in.</p>",
          "shape": "AddInUrl"
        }
      },
      "type": "structure"
    },
    "ConnectClientAddInList": {
      "member": {
        "shape": "ConnectClientAddIn"
      },
      "type": "list"
    },
    "ConnectionAlias": {
      "documentation": "<p>Describes a connection alias. Connection aliases are used for cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "members": {
        "AliasId": {
          "documentation": "<p>The identifier of the connection alias.</p>",
          "shape": "ConnectionAliasId"
        },
        "Associations": {
          "documentation": "<p>The association status of the connection alias.</p>",
          "shape": "ConnectionAliasAssociationList"
        },
        "ConnectionString": {
          "documentation": "<p>The connection string specified for the connection alias. The connection string must be in the form of a fully qualified domain name (FQDN), such as <code>www.example.com</code>.</p>",
          "shape": "ConnectionString"
        },
        "OwnerAccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account that owns the connection alias.</p>",
          "shape": "AwsAccount"
        },
        "State": {
          "documentation": "<p>The current state of the connection alias.</p>",
          "shape": "ConnectionAliasState"
        }
      },
      "type": "structure"
    },
    "ConnectionAliasAssociation": {
      "documentation": "<p>Describes a connection alias association that is used for cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "members": {
        "AssociatedAccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account that associated the connection alias with a directory.</p>",
          "shape": "AwsAccount"
        },
        "AssociationStatus": {
          "documentation": "<p>The association status of the connection alias.</p>",
          "shape": "AssociationStatus"
        },
        "ConnectionIdentifier": {
          "documentation": "<p>The identifier of the connection alias association. You use the connection identifier in the DNS TXT record when you're configuring your DNS routing policies.</p>",
          "shape": "ConnectionIdentifier"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the directory associated with a connection alias.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ConnectionAliasAssociationList": {
      "max": 25,
      "member": {
        "shape": "ConnectionAliasAssociation"
      },
      "min": 1,
      "type": "list"
    },
    "ConnectionAliasId": {
      "max": 68,
      "min": 13,
      "pattern": "^wsca-[0-9a-z]{8,63}$",
      "type": "string"
    },
    "ConnectionAliasIdList": {
      "max": 25,
      "member": {
        "shape": "ConnectionAliasId"
      },
      "min": 1,
      "type": "list"
    },
    "ConnectionAliasList": {
      "max": 25,
      "member": {
        "shape": "ConnectionAlias"
      },
      "min": 1,
      "type": "list"
    },
    "ConnectionAliasPermission": {
      "documentation": "<p>Describes the permissions for a connection alias. Connection aliases are used for cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>",
      "members": {
        "AllowAssociation": {
          "documentation": "<p>Indicates whether the specified Amazon Web Services account is allowed to associate the connection alias with a directory.</p>",
          "shape": "BooleanObject"
        },
        "SharedAccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account that the connection alias is shared with.</p>",
          "shape": "AwsAccount"
        }
      },
      "required": [
        "SharedAccountId",
        "AllowAssociation"
      ],
      "type": "structure"
    },
    "ConnectionAliasPermissions": {
      "max": 25,
      "member": {
        "shape": "ConnectionAliasPermission"
      },
      "min": 1,
      "type": "list"
    },
    "ConnectionAliasState": {
      "enum": [
        "CREATING",
        "CREATED",
        "DELETING"
      ],
      "type": "string"
    },
    "ConnectionIdentifier": {
      "max": 20,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]+$",
      "type": "string"
    },
    "ConnectionState": {
      "enum": [
        "CONNECTED",
        "DISCONNECTED",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "ConnectionString": {
      "max": 255,
      "min": 1,
      "pattern": "^[.0-9a-zA-Z\\-]{1,255}$",
      "type": "string"
    },
    "CopyWorkspaceImageRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the image.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "Name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "WorkspaceImageName"
        },
        "SourceImageId": {
          "documentation": "<p>The identifier of the source image.</p>",
          "shape": "WorkspaceImageId"
        },
        "SourceRegion": {
          "documentation": "<p>The identifier of the source Region.</p>",
          "shape": "Region"
        },
        "Tags": {
          "documentation": "<p>The tags for the image.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "SourceImageId",
        "SourceRegion"
      ],
      "type": "structure"
    },
    "CopyWorkspaceImageResult": {
      "members": {
        "ImageId": {
          "documentation": "<p>The identifier of the image.</p>",
          "shape": "WorkspaceImageId"
        }
      },
      "type": "structure"
    },
    "CreateConnectClientAddInRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the client add-in.</p>",
          "shape": "AddInName"
        },
        "ResourceId": {
          "documentation": "<p>The directory identifier for which to configure the client add-in.</p>",
          "shape": "DirectoryId"
        },
        "URL": {
          "documentation": "<p>The endpoint URL of the Amazon Connect client add-in.</p>",
          "shape": "AddInUrl"
        }
      },
      "required": [
        "ResourceId",
        "Name",
        "URL"
      ],
      "type": "structure"
    },
    "CreateConnectClientAddInResult": {
      "members": {
        "AddInId": {
          "documentation": "<p>The client add-in identifier.</p>",
          "shape": "AmazonUuid"
        }
      },
      "type": "structure"
    },
    "CreateConnectionAliasRequest": {
      "members": {
        "ConnectionString": {
          "documentation": "<p>A connection string in the form of a fully qualified domain name (FQDN), such as <code>www.example.com</code>.</p> <important> <p>After you create a connection string, it is always associated to your Amazon Web Services account. You cannot recreate the same connection string with a different account, even if you delete all instances of it from the original account. The connection string is globally reserved for your account.</p> </important>",
          "shape": "ConnectionString"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the connection alias.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ConnectionString"
      ],
      "type": "structure"
    },
    "CreateConnectionAliasResult": {
      "members": {
        "AliasId": {
          "documentation": "<p>The identifier of the connection alias.</p>",
          "shape": "ConnectionAliasId"
        }
      },
      "type": "structure"
    },
    "CreateIpGroupRequest": {
      "members": {
        "GroupDesc": {
          "documentation": "<p>The description of the group.</p>",
          "shape": "IpGroupDesc"
        },
        "GroupName": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "IpGroupName"
        },
        "Tags": {
          "documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
          "shape": "TagList"
        },
        "UserRules": {
          "documentation": "<p>The rules to add to the group.</p>",
          "shape": "IpRuleList"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "CreateIpGroupResult": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        }
      },
      "type": "structure"
    },
    "CreateTagsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, IP access control groups, and connection aliases.</p>",
          "shape": "NonEmptyString"
        },
        "Tags": {
          "documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceId",
        "Tags"
      ],
      "type": "structure"
    },
    "CreateTagsResult": {
      "members": {},
      "type": "structure"
    },
    "CreateUpdatedWorkspaceImageRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of whether updates for the WorkSpace image are available.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "Name": {
          "documentation": "<p>The name of the new updated WorkSpace image.</p>",
          "shape": "WorkspaceImageName"
        },
        "SourceImageId": {
          "documentation": "<p>The identifier of the source WorkSpace image.</p>",
          "shape": "WorkspaceImageId"
        },
        "Tags": {
          "documentation": "<p>The tags that you want to add to the new updated WorkSpace image.</p> <note> <p>To add tags at the same time when you're creating the updated image, you must create an IAM policy that grants your IAM user permissions to use <code>workspaces:CreateTags</code>. </p> </note>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "Description",
        "SourceImageId"
      ],
      "type": "structure"
    },
    "CreateUpdatedWorkspaceImageResult": {
      "members": {
        "ImageId": {
          "documentation": "<p>The identifier of the new updated WorkSpace image.</p>",
          "shape": "WorkspaceImageId"
        }
      },
      "type": "structure"
    },
    "CreateWorkspaceBundleRequest": {
      "members": {
        "BundleDescription": {
          "documentation": "<p>The description of the bundle.</p>",
          "shape": "WorkspaceBundleDescription"
        },
        "BundleName": {
          "documentation": "<p>The name of the bundle.</p>",
          "shape": "WorkspaceBundleName"
        },
        "ComputeType": {
          "shape": "ComputeType"
        },
        "ImageId": {
          "documentation": "<p>The identifier of the image that is used to create the bundle.</p>",
          "shape": "WorkspaceImageId"
        },
        "RootStorage": {
          "shape": "RootStorage"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the bundle.</p> <note> <p>To add tags at the same time when you're creating the bundle, you must create an IAM policy that grants your IAM user permissions to use <code>workspaces:CreateTags</code>. </p> </note>",
          "shape": "TagList"
        },
        "UserStorage": {
          "shape": "UserStorage"
        }
      },
      "required": [
        "BundleName",
        "BundleDescription",
        "ImageId",
        "ComputeType",
        "UserStorage"
      ],
      "type": "structure"
    },
    "CreateWorkspaceBundleResult": {
      "members": {
        "WorkspaceBundle": {
          "shape": "WorkspaceBundle"
        }
      },
      "type": "structure"
    },
    "CreateWorkspaceImageRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the new WorkSpace image.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "Name": {
          "documentation": "<p>The name of the new WorkSpace image.</p>",
          "shape": "WorkspaceImageName"
        },
        "Tags": {
          "documentation": "<p>The tags that you want to add to the new WorkSpace image. To add tags when you're creating the image, you must create an IAM policy that grants your IAM user permission to use <code>workspaces:CreateTags</code>.</p>",
          "shape": "TagList"
        },
        "WorkspaceId": {
          "documentation": "<p>The identifier of the source WorkSpace</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "Name",
        "Description",
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "CreateWorkspaceImageResult": {
      "members": {
        "Created": {
          "documentation": "<p>The date when the image was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the image.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "ImageId": {
          "documentation": "<p>The identifier of the new WorkSpace image.</p>",
          "shape": "WorkspaceImageId"
        },
        "Name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "WorkspaceImageName"
        },
        "OperatingSystem": {
          "documentation": "<p>The operating system that the image is running.</p>",
          "shape": "OperatingSystem"
        },
        "OwnerAccountId": {
          "documentation": "<p>The identifier of the Amazon Web Services account that owns the image.</p>",
          "shape": "AwsAccount"
        },
        "RequiredTenancy": {
          "documentation": "<p>Specifies whether the image is running on dedicated hardware. When Bring Your Own License (BYOL) is enabled, this value is set to DEDICATED. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.htm\"> Bring Your Own Windows Desktop Images.</a>.</p>",
          "shape": "WorkspaceImageRequiredTenancy"
        },
        "State": {
          "documentation": "<p>The availability status of the image.</p>",
          "shape": "WorkspaceImageState"
        }
      },
      "type": "structure"
    },
    "CreateWorkspacesRequest": {
      "members": {
        "Workspaces": {
          "documentation": "<p>The WorkSpaces to create. You can specify up to 25 WorkSpaces.</p>",
          "shape": "WorkspaceRequestList"
        }
      },
      "required": [
        "Workspaces"
      ],
      "type": "structure"
    },
    "CreateWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be created.</p>",
          "shape": "FailedCreateWorkspaceRequests"
        },
        "PendingRequests": {
          "documentation": "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
          "shape": "WorkspaceList"
        }
      },
      "type": "structure"
    },
    "DedicatedTenancyCidrRangeList": {
      "member": {
        "shape": "DedicatedTenancyManagementCidrRange"
      },
      "type": "list"
    },
    "DedicatedTenancyManagementCidrRange": {
      "pattern": "(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$",
      "type": "string"
    },
    "DedicatedTenancyModificationStateEnum": {
      "enum": [
        "PENDING",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "DedicatedTenancySupportEnum": {
      "enum": [
        "ENABLED"
      ],
      "type": "string"
    },
    "DedicatedTenancySupportResultEnum": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "DefaultClientBrandingAttributes": {
      "documentation": "<p>Returns default client branding attributes that were imported. These attributes display on the client login screen.</p> <important> <p>Client branding attributes are public facing. Ensure that you don't include sensitive information.</p> </important>",
      "members": {
        "ForgotPasswordLink": {
          "documentation": "<p>The forgotten password link. This is the web address that users can go to if they forget the password for their WorkSpace.</p>",
          "shape": "ClientUrl"
        },
        "LoginMessage": {
          "documentation": "<p>The login message. Specified as a key value pair, in which the key is a locale and the value is the localized message for that locale. The only key supported is <code>en_US</code>. The HTML tags supported include the following: <code>a, b, blockquote, br, cite, code, dd, dl, dt, div, em, i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul</code>.</p>",
          "shape": "LoginMessage"
        },
        "LogoUrl": {
          "documentation": "<p>The logo. The only image format accepted is a binary data object that is converted from a <code>.png</code> file.</p>",
          "shape": "ClientUrl"
        },
        "SupportEmail": {
          "documentation": "<p>The support email. The company's customer support email address.</p> <note> <ul> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive. You can specify one parameter for each platform type, but not both.</p> </li> <li> <p>The default email is <code>workspaces-feedback@amazon.com</code>.</p> </li> </ul> </note>",
          "shape": "ClientEmail"
        },
        "SupportLink": {
          "documentation": "<p>The support link. The link for the company's customer support page for their WorkSpace.</p> <note> <ul> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive.You can specify one parameter for each platform type, but not both.</p> </li> <li> <p>The default support link is <code>workspaces-feedback@amazon.com</code>.</p> </li> </ul> </note>",
          "shape": "ClientUrl"
        }
      },
      "type": "structure"
    },
    "DefaultImportClientBrandingAttributes": {
      "documentation": "<p>The default client branding attributes to be imported. These attributes display on the client login screen.</p> <important> <p>Client branding attributes are public facing. Ensure that you do not include sensitive information.</p> </important>",
      "members": {
        "ForgotPasswordLink": {
          "documentation": "<p>The forgotten password link. This is the web address that users can go to if they forget the password for their WorkSpace.</p>",
          "shape": "ClientUrl"
        },
        "LoginMessage": {
          "documentation": "<p>The login message. Specified as a key value pair, in which the key is a locale and the value is the localized message for that locale. The only key supported is <code>en_US</code>. The HTML tags supported include the following: <code>a, b, blockquote, br, cite, code, dd, dl, dt, div, em, i, li, ol, p, pre, q, small, span, strike, strong, sub, sup, u, ul</code>.</p>",
          "shape": "LoginMessage"
        },
        "Logo": {
          "documentation": "<p>The logo. The only image format accepted is a binary data object that is converted from a <code>.png</code> file.</p>",
          "shape": "DefaultLogo"
        },
        "SupportEmail": {
          "documentation": "<p>The support email. The company's customer support email address.</p> <note> <ul> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive. You can specify one parameter for each platform type, but not both.</p> </li> <li> <p>The default email is <code>workspaces-feedback@amazon.com</code>.</p> </li> </ul> </note>",
          "shape": "ClientEmail"
        },
        "SupportLink": {
          "documentation": "<p>The support link. The link for the company's customer support page for their WorkSpace.</p> <note> <ul> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive. You can specify one parameter for each platform type, but not both.</p> </li> <li> <p>The default support link is <code>workspaces-feedback@amazon.com</code>.</p> </li> </ul> </note>",
          "shape": "ClientUrl"
        }
      },
      "type": "structure"
    },
    "DefaultLogo": {
      "max": 1500000,
      "min": 1,
      "type": "blob"
    },
    "DefaultOu": {
      "type": "string"
    },
    "DefaultWorkspaceCreationProperties": {
      "documentation": "<p>Describes the default values that are used to create WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html\">Update Directory Details for Your WorkSpaces</a>.</p>",
      "members": {
        "CustomSecurityGroupId": {
          "documentation": "<p>The identifier of the default security group to apply to WorkSpaces when they are created. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-security-groups.html\"> Security Groups for Your WorkSpaces</a>.</p>",
          "shape": "SecurityGroupId"
        },
        "DefaultOu": {
          "documentation": "<p>The organizational unit (OU) in the directory for the WorkSpace machine accounts.</p>",
          "shape": "DefaultOu"
        },
        "EnableInternetAccess": {
          "documentation": "<p>Specifies whether to automatically assign an Elastic public IP address to WorkSpaces in this directory by default. If enabled, the Elastic public IP address allows outbound internet access from your WorkSpaces when you\u2019re using an internet gateway in the Amazon VPC in which your WorkSpaces are located. If you're using a Network Address Translation (NAT) gateway for outbound internet access from your VPC, or if your WorkSpaces are in public subnets and you manually assign them Elastic IP addresses, you should disable this setting. This setting applies to new WorkSpaces that you launch or to existing WorkSpaces that you rebuild. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-vpc.html\"> Configure a VPC for Amazon WorkSpaces</a>.</p>",
          "shape": "BooleanObject"
        },
        "EnableMaintenanceMode": {
          "documentation": "<p>Specifies whether maintenance mode is enabled for WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspace-maintenance.html\">WorkSpace Maintenance</a>.</p>",
          "shape": "BooleanObject"
        },
        "EnableWorkDocs": {
          "documentation": "<p>Specifies whether the directory is enabled for Amazon WorkDocs.</p>",
          "shape": "BooleanObject"
        },
        "UserEnabledAsLocalAdministrator": {
          "documentation": "<p>Specifies whether WorkSpace users are local administrators on their WorkSpaces.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "DeletableSamlPropertiesList": {
      "member": {
        "shape": "DeletableSamlProperty"
      },
      "type": "list"
    },
    "DeletableSamlProperty": {
      "enum": [
        "SAML_PROPERTIES_USER_ACCESS_URL",
        "SAML_PROPERTIES_RELAY_STATE_PARAMETER_NAME"
      ],
      "type": "string"
    },
    "DeleteClientBrandingRequest": {
      "members": {
        "Platforms": {
          "documentation": "<p>The device type for which you want to delete client branding.</p>",
          "shape": "ClientDeviceTypeList"
        },
        "ResourceId": {
          "documentation": "<p>The directory identifier of the WorkSpace for which you want to delete client branding.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "ResourceId",
        "Platforms"
      ],
      "type": "structure"
    },
    "DeleteClientBrandingResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteConnectClientAddInRequest": {
      "members": {
        "AddInId": {
          "documentation": "<p>The identifier of the client add-in to delete.</p>",
          "shape": "AmazonUuid"
        },
        "ResourceId": {
          "documentation": "<p>The directory identifier for which the client add-in is configured.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "AddInId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "DeleteConnectClientAddInResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteConnectionAliasRequest": {
      "members": {
        "AliasId": {
          "documentation": "<p>The identifier of the connection alias to delete.</p>",
          "shape": "ConnectionAliasId"
        }
      },
      "required": [
        "AliasId"
      ],
      "type": "structure"
    },
    "DeleteConnectionAliasResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteIpGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the IP access control group.</p>",
          "shape": "IpGroupId"
        }
      },
      "required": [
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteIpGroupResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteTagsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, IP access control groups, and connection aliases.</p>",
          "shape": "NonEmptyString"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceId",
        "TagKeys"
      ],
      "type": "structure"
    },
    "DeleteTagsResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteWorkspaceBundleRequest": {
      "members": {
        "BundleId": {
          "documentation": "<p>The identifier of the bundle.</p>",
          "shape": "BundleId"
        }
      },
      "type": "structure"
    },
[...]
