{
  "documentation": "<p>App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and control microservices. App Mesh standardizes how your microservices communicate, giving you end-to-end visibility and helping to ensure high availability for your applications.</p> <p>App Mesh gives you consistent visibility and network traffic controls for every microservice in an application. You can use App Mesh with Amazon Web Services Fargate, Amazon ECS, Amazon EKS, Kubernetes on Amazon Web Services, and Amazon EC2.</p> <note> <p>App Mesh supports microservice applications that use service discovery naming for their components. For more information about service discovery on Amazon ECS, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS for Services and Pods</a> in the Kubernetes documentation.</p> </note>",
  "metadata": {
    "apiVersion": "2019-01-25",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2019-01-25"
  },
  "operations": {
    "CreateGatewayRoute": {
      "documentation": "<p>Creates a gateway route.</p> <p>A gateway route is attached to a virtual gateway and routes traffic to an existing virtual service. If a route matches a request, it can distribute traffic to a target virtual service.</p> <p>For more information about gateway routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/gateway-routes.html\">Gateway routes</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateGatewayRouteInput"
      },
      "name": "CreateGatewayRoute",
      "output": {
        "shape": "CreateGatewayRouteOutput"
      }
    },
    "CreateMesh": {
      "documentation": "<p>Creates a service mesh.</p> <p> A service mesh is a logical boundary for network traffic between services that are represented by resources within the mesh. After you create your service mesh, you can create virtual services, virtual nodes, virtual routers, and routes to distribute traffic between the applications in your mesh.</p> <p>For more information about service meshes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/meshes.html\">Service meshes</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateMeshInput"
      },
      "name": "CreateMesh",
      "output": {
        "shape": "CreateMeshOutput"
      }
    },
    "CreateRoute": {
      "documentation": "<p>Creates a route that is associated with a virtual router.</p> <p> You can route several different protocols and define a retry policy for a route. Traffic can be routed to one or more virtual nodes.</p> <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRouteInput"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteOutput"
      }
    },
    "CreateVirtualGateway": {
      "documentation": "<p>Creates a virtual gateway.</p> <p>A virtual gateway allows resources outside your mesh to communicate to resources that are inside your mesh. The virtual gateway represents an Envoy proxy running in an Amazon ECS task, in a Kubernetes service, or on an Amazon EC2 instance. Unlike a virtual node, which represents an Envoy running with an application, a virtual gateway represents Envoy deployed by itself.</p> <p>For more information about virtual gateways, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_gateways.html\">Virtual gateways</a>. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualGatewayInput"
      },
      "name": "CreateVirtualGateway",
      "output": {
        "shape": "CreateVirtualGatewayOutput"
      }
    },
    "CreateVirtualNode": {
      "documentation": "<p>Creates a virtual node within a service mesh.</p> <p> A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS service or a Kubernetes deployment. When you create a virtual node, you can specify the service discovery information for your task group, and whether the proxy running in a task group will communicate with other proxies using Transport Layer Security (TLS).</p> <p>You define a <code>listener</code> for any inbound traffic that your virtual node expects. Any virtual service that your virtual node expects to communicate to is specified as a <code>backend</code>.</p> <p>The response metadata for your new virtual node contains the <code>arn</code> that is associated with the virtual node. Set this value to the full ARN; for example, <code>arn:aws:appmesh:us-west-2:123456789012:myMesh/default/virtualNode/myApp</code>) as the <code>APPMESH_RESOURCE_ARN</code> environment variable for your task group's Envoy proxy container in your task definition or pod spec. This is then mapped to the <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p> <note> <p>By default, App Mesh uses the name of the resource you specified in <code>APPMESH_RESOURCE_ARN</code> when Envoy is referring to itself in metrics and traces. You can override this behavior by setting the <code>APPMESH_RESOURCE_CLUSTER</code> environment variable with your own name.</p> </note> <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual nodes</a>. You must be using <code>1.15.0</code> or later of the Envoy image when setting these variables. For more information aboutApp Mesh Envoy variables, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html\">Envoy image</a> in the App Mesh User Guide.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualNodeInput"
      },
      "name": "CreateVirtualNode",
      "output": {
        "shape": "CreateVirtualNodeOutput"
      }
    },
    "CreateVirtualRouter": {
      "documentation": "<p>Creates a virtual router within a service mesh.</p> <p>Specify a <code>listener</code> for any inbound traffic that your virtual router receives. Create a virtual router for each protocol and port that you need to route. Virtual routers handle traffic for one or more virtual services within your mesh. After you create your virtual router, create and associate routes for your virtual router that direct incoming requests to different virtual nodes.</p> <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual routers</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualRouterInput"
      },
      "name": "CreateVirtualRouter",
      "output": {
        "shape": "CreateVirtualRouterOutput"
      }
    },
    "CreateVirtualService": {
      "documentation": "<p>Creates a virtual service within a service mesh.</p> <p>A virtual service is an abstraction of a real service that is provided by a virtual node directly or indirectly by means of a virtual router. Dependent services call your virtual service by its <code>virtualServiceName</code>, and those requests are routed to the virtual node or virtual router that is specified as the provider for the virtual service.</p> <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual services</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualServiceInput"
      },
      "name": "CreateVirtualService",
      "output": {
        "shape": "CreateVirtualServiceOutput"
      }
    },
    "DeleteGatewayRoute": {
      "documentation": "<p>Deletes an existing gateway route.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGatewayRouteInput"
      },
      "name": "DeleteGatewayRoute",
      "output": {
        "shape": "DeleteGatewayRouteOutput"
      }
    },
    "DeleteMesh": {
      "documentation": "<p>Deletes an existing service mesh.</p> <p>You must delete all resources (virtual services, routes, virtual routers, and virtual nodes) in the service mesh before you can delete the mesh itself.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMeshInput"
      },
      "name": "DeleteMesh",
      "output": {
        "shape": "DeleteMeshOutput"
      }
    },
    "DeleteRoute": {
      "documentation": "<p>Deletes an existing route.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRouteInput"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteOutput"
      }
    },
    "DeleteVirtualGateway": {
      "documentation": "<p>Deletes an existing virtual gateway. You cannot delete a virtual gateway if any gateway routes are associated to it.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualGatewayInput"
      },
      "name": "DeleteVirtualGateway",
      "output": {
        "shape": "DeleteVirtualGatewayOutput"
      }
    },
    "DeleteVirtualNode": {
      "documentation": "<p>Deletes an existing virtual node.</p> <p>You must delete any virtual services that list a virtual node as a service provider before you can delete the virtual node itself.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualNodeInput"
      },
      "name": "DeleteVirtualNode",
      "output": {
        "shape": "DeleteVirtualNodeOutput"
      }
    },
    "DeleteVirtualRouter": {
      "documentation": "<p>Deletes an existing virtual router.</p> <p>You must delete any routes associated with the virtual router before you can delete the router itself.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualRouterInput"
      },
      "name": "DeleteVirtualRouter",
      "output": {
        "shape": "DeleteVirtualRouterOutput"
      }
    },
    "DeleteVirtualService": {
      "documentation": "<p>Deletes an existing virtual service.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualServiceInput"
      },
      "name": "DeleteVirtualService",
      "output": {
        "shape": "DeleteVirtualServiceOutput"
      }
    },
    "DescribeGatewayRoute": {
      "documentation": "<p>Describes an existing gateway route.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeGatewayRouteInput"
      },
      "name": "DescribeGatewayRoute",
      "output": {
        "shape": "DescribeGatewayRouteOutput"
      }
    },
    "DescribeMesh": {
      "documentation": "<p>Describes an existing service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMeshInput"
      },
      "name": "DescribeMesh",
      "output": {
        "shape": "DescribeMeshOutput"
      }
    },
    "DescribeRoute": {
      "documentation": "<p>Describes an existing route.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRouteInput"
      },
      "name": "DescribeRoute",
      "output": {
        "shape": "DescribeRouteOutput"
      }
    },
    "DescribeVirtualGateway": {
      "documentation": "<p>Describes an existing virtual gateway.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualGatewayInput"
      },
      "name": "DescribeVirtualGateway",
      "output": {
        "shape": "DescribeVirtualGatewayOutput"
      }
    },
    "DescribeVirtualNode": {
      "documentation": "<p>Describes an existing virtual node.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualNodeInput"
      },
      "name": "DescribeVirtualNode",
      "output": {
        "shape": "DescribeVirtualNodeOutput"
      }
    },
    "DescribeVirtualRouter": {
      "documentation": "<p>Describes an existing virtual router.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualRouterInput"
      },
      "name": "DescribeVirtualRouter",
      "output": {
        "shape": "DescribeVirtualRouterOutput"
      }
    },
    "DescribeVirtualService": {
      "documentation": "<p>Describes an existing virtual service.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualServiceInput"
      },
      "name": "DescribeVirtualService",
      "output": {
        "shape": "DescribeVirtualServiceOutput"
      }
    },
    "ListGatewayRoutes": {
      "documentation": "<p>Returns a list of existing gateway routes that are associated to a virtual gateway.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGatewayRoutesInput"
      },
      "name": "ListGatewayRoutes",
      "output": {
        "shape": "ListGatewayRoutesOutput"
      }
    },
    "ListMeshes": {
      "documentation": "<p>Returns a list of existing service meshes.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeshesInput"
      },
      "name": "ListMeshes",
      "output": {
        "shape": "ListMeshesOutput"
      }
    },
    "ListRoutes": {
      "documentation": "<p>Returns a list of existing routes in a service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutesInput"
      },
      "name": "ListRoutes",
      "output": {
        "shape": "ListRoutesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags for an App Mesh resource.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListVirtualGateways": {
      "documentation": "<p>Returns a list of existing virtual gateways in a service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualGatewaysInput"
      },
      "name": "ListVirtualGateways",
      "output": {
        "shape": "ListVirtualGatewaysOutput"
      }
    },
    "ListVirtualNodes": {
      "documentation": "<p>Returns a list of existing virtual nodes.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualNodesInput"
      },
      "name": "ListVirtualNodes",
      "output": {
        "shape": "ListVirtualNodesOutput"
      }
    },
    "ListVirtualRouters": {
      "documentation": "<p>Returns a list of existing virtual routers in a service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualRoutersInput"
      },
      "name": "ListVirtualRouters",
      "output": {
        "shape": "ListVirtualRoutersOutput"
      }
    },
    "ListVirtualServices": {
      "documentation": "<p>Returns a list of existing virtual services in a service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualServicesInput"
      },
      "name": "ListVirtualServices",
      "output": {
        "shape": "ListVirtualServicesOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource aren't specified in the request parameters, they aren't changed. When a resource is deleted, the tags associated with that resource are also deleted.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/tag",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes specified tags from a resource.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/untag",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateGatewayRoute": {
      "documentation": "<p>Updates an existing gateway route that is associated to a specified virtual gateway in a service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateGatewayRouteInput"
      },
      "name": "UpdateGatewayRoute",
      "output": {
        "shape": "UpdateGatewayRouteOutput"
      }
    },
    "UpdateMesh": {
      "documentation": "<p>Updates an existing service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMeshInput"
      },
      "name": "UpdateMesh",
      "output": {
        "shape": "UpdateMeshOutput"
      }
    },
    "UpdateRoute": {
      "documentation": "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRouteInput"
      },
      "name": "UpdateRoute",
      "output": {
        "shape": "UpdateRouteOutput"
      }
    },
    "UpdateVirtualGateway": {
      "documentation": "<p>Updates an existing virtual gateway in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualGatewayInput"
      },
      "name": "UpdateVirtualGateway",
      "output": {
        "shape": "UpdateVirtualGatewayOutput"
      }
    },
    "UpdateVirtualNode": {
      "documentation": "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualNodeInput"
      },
      "name": "UpdateVirtualNode",
      "output": {
        "shape": "UpdateVirtualNodeOutput"
      }
    },
    "UpdateVirtualRouter": {
      "documentation": "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualRouterInput"
      },
      "name": "UpdateVirtualRouter",
      "output": {
        "shape": "UpdateVirtualRouterOutput"
      }
    },
    "UpdateVirtualService": {
      "documentation": "<p>Updates an existing virtual service in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualServiceInput"
      },
      "name": "UpdateVirtualService",
      "output": {
        "shape": "UpdateVirtualServiceOutput"
      }
    }
  },
  "shapes": {
    "AccessLog": {
      "documentation": "<p>An object that represents the access logging information for a virtual node.</p>",
      "members": {
        "file": {
          "documentation": "<p>The file object to send virtual node access logs to.</p>",
          "shape": "FileAccessLog"
        }
      },
      "type": "structure",
      "union": true
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "type": "string"
    },
    "Arn": {
      "type": "string"
    },
    "AwsCloudMapInstanceAttribute": {
      "documentation": "<p>An object that represents the Cloud Map attribute information for your virtual node.</p> <note> <p>Cloud Map is not available in the eu-south-1 Region.</p> </note>",
      "members": {
        "key": {
          "documentation": "<p>The name of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is returned.</p>",
          "shape": "AwsCloudMapInstanceAttributeKey"
        },
        "value": {
          "documentation": "<p>The value of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is returned.</p>",
          "shape": "AwsCloudMapInstanceAttributeValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "AwsCloudMapInstanceAttributeKey": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9!-~]+$",
      "type": "string"
    },
    "AwsCloudMapInstanceAttributeValue": {
      "max": 1024,
      "min": 1,
      "pattern": "^([a-zA-Z0-9!-~][  a-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$",
      "type": "string"
    },
    "AwsCloudMapInstanceAttributes": {
      "member": {
        "shape": "AwsCloudMapInstanceAttribute"
      },
      "type": "list"
    },
    "AwsCloudMapName": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "AwsCloudMapServiceDiscovery": {
      "documentation": "<p>An object that represents the Cloud Map service discovery information for your virtual node.</p> <note> <p>Cloud Map is not available in the eu-south-1 Region.</p> </note>",
      "members": {
        "attributes": {
          "documentation": "<p>A string map that contains attributes with values that you can use to filter instances by any custom attribute that you specified when you registered the instance. Only instances that match all of the specified key/value pairs will be returned.</p>",
          "shape": "AwsCloudMapInstanceAttributes"
        },
        "ipPreference": {
          "documentation": "<p>The preferred IP version that this virtual node uses. Setting the IP preference on the virtual node only overrides the IP preference set for the mesh on this specific node.</p>",
          "shape": "IpPreference"
        },
        "namespaceName": {
          "documentation": "<p>The name of the Cloud Map namespace to use.</p>",
          "shape": "AwsCloudMapName"
        },
        "serviceName": {
          "documentation": "<p>The name of the Cloud Map service to use.</p>",
          "shape": "AwsCloudMapName"
        }
      },
      "required": [
        "namespaceName",
        "serviceName"
      ],
      "type": "structure"
    },
    "Backend": {
      "documentation": "<p>An object that represents the backends that a virtual node is expected to send outbound traffic to.</p>",
      "members": {
        "virtualService": {
          "documentation": "<p>Specifies a virtual service to use as a backend. </p>",
          "shape": "VirtualServiceBackend"
        }
      },
      "type": "structure",
      "union": true
    },
    "BackendDefaults": {
      "documentation": "<p>An object that represents the default properties for a backend.</p>",
      "members": {
        "clientPolicy": {
          "documentation": "<p>A reference to an object that represents a client policy.</p>",
          "shape": "ClientPolicy"
        }
      },
      "type": "structure"
    },
    "Backends": {
      "member": {
        "shape": "Backend"
      },
      "type": "list"
    },
    "BadRequestException": {
      "documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CertificateAuthorityArns": {
      "max": 3,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "ClientPolicy": {
      "documentation": "<p>An object that represents a client policy.</p>",
      "members": {
        "tls": {
          "documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>",
          "shape": "ClientPolicyTls"
        }
      },
      "type": "structure"
    },
    "ClientPolicyTls": {
      "documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>",
      "members": {
        "certificate": {
          "documentation": "<p>A reference to an object that represents a client's TLS certificate.</p>",
          "shape": "ClientTlsCertificate"
        },
        "enforce": {
          "box": true,
          "documentation": "<p>Whether the policy is enforced. The default is <code>True</code>, if a value isn't specified.</p>",
          "shape": "Boolean"
        },
        "ports": {
          "documentation": "<p>One or more ports that the policy is enforced for.</p>",
          "shape": "PortSet"
        },
        "validation": {
          "documentation": "<p>A reference to an object that represents a TLS validation context.</p>",
          "shape": "TlsValidationContext"
        }
      },
      "required": [
        "validation"
      ],
      "type": "structure"
    },
    "ClientTlsCertificate": {
      "documentation": "<p>An object that represents the client's certificate.</p>",
      "members": {
        "file": {
          "documentation": "<p>An object that represents a local file certificate. The certificate must meet specific requirements and you must have proxy authorization enabled. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/tls.html\">Transport Layer Security (TLS)</a>.</p>",
          "shape": "ListenerTlsFileCertificate"
        },
        "sds": {
          "documentation": "<p>A reference to an object that represents a client's TLS Secret Discovery Service certificate.</p>",
          "shape": "ListenerTlsSdsCertificate"
        }
      },
      "type": "structure",
      "union": true
    },
    "ConflictException": {
      "documentation": "<p>The request contains a client token that was used for a previous update resource call with different specifications. Try the request again with a new client token.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateGatewayRouteInput": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "gatewayRouteName": {
          "documentation": "<p>The name to use for the gateway route.</p>",
          "shape": "ResourceName"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the gateway route in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The gateway route specification to apply.</p>",
          "shape": "GatewayRouteSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the gateway route to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name of the virtual gateway to associate the gateway route with. If the virtual gateway is in a shared mesh, then you must be the owner of the virtual gateway resource.</p>",
          "location": "uri",
          "locationName": "virtualGatewayName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "gatewayRouteName",
        "meshName",
        "spec",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "CreateGatewayRouteOutput": {
      "members": {
        "gatewayRoute": {
          "documentation": "<p>The full description of your gateway route following the create call.</p>",
          "shape": "GatewayRouteData"
        }
      },
      "payload": "gatewayRoute",
      "required": [
        "gatewayRoute"
      ],
      "type": "structure"
    },
    "CreateMeshInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name to use for the service mesh.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The service mesh specification to apply.</p>",
          "shape": "MeshSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the service mesh to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "CreateMeshOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh following the create call.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "CreateRouteInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the route in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name to use for the route.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The route specification to apply.</p>",
          "shape": "RouteSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the route to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router in which to create the route. If the virtual router is in a shared mesh, then you must be the owner of the virtual router resource.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateRouteOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "route": {
          "documentation": "<p>The full description of your mesh following the create call.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "CreateVirtualGatewayInput": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual gateway in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual gateway specification to apply.</p>",
          "shape": "VirtualGatewaySpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual gateway to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name to use for the virtual gateway.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "CreateVirtualGatewayOutput": {
      "members": {
        "virtualGateway": {
          "documentation": "<p>The full description of your virtual gateway following the create call.</p>",
          "shape": "VirtualGatewayData"
        }
      },
      "payload": "virtualGateway",
      "required": [
        "virtualGateway"
      ],
      "type": "structure"
    },
    "CreateVirtualNodeInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual node in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual node specification to apply.</p>",
          "shape": "VirtualNodeSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual node to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualNodeName": {
          "documentation": "<p>The name to use for the virtual node.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "CreateVirtualNodeOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node following the create call.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "CreateVirtualRouterInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual router specification to apply.</p>",
          "shape": "VirtualRouterSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual router to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualRouterName": {
          "documentation": "<p>The name to use for the virtual router.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateVirtualRouterOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router following the create call.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "CreateVirtualServiceInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual service in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual service specification to apply.</p>",
          "shape": "VirtualServiceSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual service to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        },
        "virtualServiceName": {
          "documentation": "<p>The name to use for the virtual service.</p>",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "CreateVirtualServiceOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualService": {
          "documentation": "<p>The full description of your virtual service following the create call.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DefaultGatewayRouteRewrite": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "DeleteGatewayRouteInput": {
      "members": {
        "gatewayRouteName": {
          "documentation": "<p>The name of the gateway route to delete.</p>",
          "location": "uri",
          "locationName": "gatewayRouteName",
          "shape": "ResourceName"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the gateway route from.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name of the virtual gateway to delete the route from.</p>",
          "location": "uri",
          "locationName": "virtualGatewayName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "gatewayRouteName",
        "meshName",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "DeleteGatewayRouteOutput": {
      "members": {
        "gatewayRoute": {
          "documentation": "<p>The gateway route that was deleted.</p>",
          "shape": "GatewayRouteData"
        }
      },
      "payload": "gatewayRoute",
      "required": [
        "gatewayRoute"
      ],
      "type": "structure"
    },
    "DeleteMeshInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DeleteMeshOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "mesh": {
          "documentation": "<p>The service mesh that was deleted.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "DeleteRouteInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the route in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name of the route to delete.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to delete the route in.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteRouteOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "route": {
          "documentation": "<p>The route that was deleted.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "DeleteVirtualGatewayInput": {
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual gateway from.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name of the virtual gateway to delete.</p>",
          "location": "uri",
          "locationName": "virtualGatewayName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "DeleteVirtualGatewayOutput": {
      "members": {
        "virtualGateway": {
          "documentation": "<p>The virtual gateway that was deleted.</p>",
          "shape": "VirtualGatewayData"
        }
      },
      "payload": "virtualGateway",
      "required": [
        "virtualGateway"
      ],
      "type": "structure"
    },
    "DeleteVirtualNodeInput": {
      "documentation": "<p>Deletes a virtual node input.</p>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual node in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to delete.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DeleteVirtualNodeOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualNode": {
          "documentation": "<p>The virtual node that was deleted.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "DeleteVirtualRouterInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to delete.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteVirtualRouterOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The virtual router that was deleted.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "DeleteVirtualServiceInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual service in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualServiceName": {
          "documentation": "<p>The name of the virtual service to delete.</p>",
          "location": "uri",
          "locationName": "virtualServiceName",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "DeleteVirtualServiceOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualService": {
          "documentation": "<p>The virtual service that was deleted.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DescribeGatewayRouteInput": {
      "members": {
        "gatewayRouteName": {
          "documentation": "<p>The name of the gateway route to describe.</p>",
          "location": "uri",
          "locationName": "gatewayRouteName",
          "shape": "ResourceName"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh that the gateway route resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name of the virtual gateway that the gateway route is associated with.</p>",
          "location": "uri",
          "locationName": "virtualGatewayName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "gatewayRouteName",
        "meshName",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "DescribeGatewayRouteOutput": {
      "members": {
        "gatewayRoute": {
          "documentation": "<p>The full description of your gateway route.</p>",
          "shape": "GatewayRouteData"
        }
      },
      "payload": "gatewayRoute",
      "required": [
        "gatewayRoute"
      ],
      "type": "structure"
    },
    "DescribeMeshInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to describe.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DescribeMeshOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "DescribeRouteInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the route resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name of the route to describe.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router that the route is associated with.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeRouteOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "route": {
          "documentation": "<p>The full description of your route.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "DescribeVirtualGatewayInput": {
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the gateway route resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualGatewayName": {
          "documentation": "<p>The name of the virtual gateway to describe.</p>",
          "location": "uri",
          "locationName": "virtualGatewayName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "DescribeVirtualGatewayOutput": {
      "members": {
        "virtualGateway": {
          "documentation": "<p>The full description of your virtual gateway.</p>",
          "shape": "VirtualGatewayData"
        }
      },
      "payload": "virtualGateway",
      "required": [
        "virtualGateway"
      ],
      "type": "structure"
    },
    "DescribeVirtualNodeInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to describe.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DescribeVirtualNodeOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "DescribeVirtualRouterInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to describe.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeVirtualRouterOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "DescribeVirtualServiceInput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualServiceName": {
          "documentation": "<p>The name of the virtual service to describe.</p>",
          "location": "uri",
          "locationName": "virtualServiceName",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "DescribeVirtualServiceOutput": {
      "documentation": "<zonbook></zonbook><xhtml></xhtml>",
      "members": {
        "virtualService": {
          "documentation": "<p>The full description of your virtual service.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DnsResponseType": {
      "enum": [
        "LOADBALANCER",
        "ENDPOINTS"
      ],
      "type": "string"
    },
    "DnsServiceDiscovery": {
      "documentation": "<p>An object that represents the DNS service discovery information for your virtual node.</p>",
      "members": {
        "hostname": {
          "documentation": "<p>Specifies the DNS service discovery hostname for the virtual node. </p>",
          "shape": "Hostname"
        },
        "ipPreference": {
          "documentation": "<p>The preferred IP version that this virtual node uses. Setting the IP preference on the virtual node only overrides the IP preference set for the mesh on this specific node.</p>",
          "shape": "IpPreference"
        },
        "responseType": {
          "documentation": "<p>Specifies the DNS response type for the virtual node.</p>",
          "shape": "DnsResponseType"
        }
      },
      "required": [
        "hostname"
      ],
      "type": "structure"
    },
    "Duration": {
      "documentation": "<p>An object that represents a duration of time.</p>",
      "members": {
        "unit": {
          "documentation": "<p>A unit of time.</p>",
          "shape": "DurationUnit"
        },
        "value": {
          "documentation": "<p>A number of time units.</p>",
          "shape": "DurationValue"
        }
      },
      "type": "structure"
    },
    "DurationUnit": {
      "enum": [
        "s",
        "ms"
      ],
      "type": "string"
    },
    "DurationValue": {
      "box": true,
      "min": 0,
      "type": "long"
    },
    "EgressFilter": {
      "documentation": "<p>An object that represents the egress filter rules for a service mesh.</p>",
      "members": {
        "type": {
          "documentation": "<p>The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows egress only from virtual nodes to other defined resources in the service mesh (and any traffic to <code>*.amazonaws.com</code> for Amazon Web Services API calls). You can set the egress filter type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the service mesh.</p>",
          "shape": "EgressFilterType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "EgressFilterType": {
      "enum": [
        "ALLOW_ALL",
        "DROP_ALL"
      ],
      "type": "string"
    },
    "ExactHostName": {
      "max": 253,
      "min": 1,
      "type": "string"
    },
    "FileAccessLog": {
      "documentation": "<p>An object that represents an access log file.</p>",
      "members": {
        "format": {
          "documentation": "<p>The specified format for the logs. The format is either <code>json_format</code> or <code>text_format</code>.</p>",
          "shape": "LoggingFormat"
        },
        "path": {
          "documentation": "<p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send access logs to standard out and configure your Envoy container to use a log driver, such as <code>awslogs</code>, to export the access logs to a log storage service such as Amazon CloudWatch Logs. You can also specify a path in the Envoy container's file system to write the files to disk.</p> <pre><code> &lt;note&gt; &lt;p&gt;The Envoy process must have write permissions to the path that you specify here. Otherwise, Envoy fails to bootstrap properly.&lt;/p&gt; &lt;/note&gt; </code></pre>",
          "shape": "FilePath"
        }
      },
      "required": [
        "path"
      ],
      "type": "structure"
    },
    "FilePath": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ForbiddenException": {
      "documentation": "<p>You don't have permissions to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GatewayRouteData": {
      "documentation": "<p>An object that represents a gateway route returned by a describe operation.</p>",
      "members": {
        "gatewayRouteName": {
          "documentation": "<p>The name of the gateway route.</p>",
          "shape": "ResourceName"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh that the resource resides in. </p>",
          "shape": "ResourceName"
        },
        "metadata": {
          "shape": "ResourceMetadata"
        },
        "spec": {
          "documentation": "<p>The specifications of the gateway route.</p>",
          "shape": "GatewayRouteSpec"
        },
        "status": {
          "documentation": "<p>The status of the gateway route.</p>",
          "shape": "GatewayRouteStatus"
        },
        "virtualGatewayName": {
          "documentation": "<p>The virtual gateway that the gateway route is associated with.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "gatewayRouteName",
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "GatewayRouteHostnameMatch": {
      "documentation": "<p>An object representing the gateway route host name to match.</p>",
      "members": {
        "exact": {
          "documentation": "<p>The exact host name to match on.</p>",
          "shape": "ExactHostName"
        },
        "suffix": {
          "documentation": "<p>The specified ending characters of the host name to match on.</p>",
          "shape": "SuffixHostname"
        }
      },
      "type": "structure"
    },
    "GatewayRouteHostnameRewrite": {
      "documentation": "<p>An object representing the gateway route host name to rewrite.</p>",
      "members": {
        "defaultTargetHostname": {
          "documentation": "<p>The default target host name to write to.</p>",
          "shape": "DefaultGatewayRouteRewrite"
        }
      },
      "type": "structure"
    },
    "GatewayRouteList": {
      "member": {
        "shape": "GatewayRouteRef"
      },
      "type": "list"
    },
    "GatewayRoutePriority": {
      "box": true,
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "GatewayRouteRef": {
      "documentation": "<p>An object that represents a gateway route returned by a list operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) for the gateway route.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
          "shape": "Timestamp"
        },
        "gatewayRouteName": {
          "documentation": "<p>The name of the gateway route.</p>",
          "shape": "ResourceName"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was last updated.</p>",
          "shape": "Timestamp"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh that the resource resides in. </p>",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "shape": "AccountId"
        },
        "resourceOwner": {
          "documentation": "<p>The Amazon Web Services IAM account ID of the resource owner. If the account ID is not your own, then it's the ID of the mesh owner or of another account that the mesh is shared with. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "shape": "AccountId"
        },
        "version": {
          "documentation": "<p>The version of the resource. Resources are created at version 1, and this version is incremented each time that they're updated.</p>",
          "shape": "Long"
        },
        "virtualGatewayName": {
          "documentation": "<p>The virtual gateway that the gateway route is associated with.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "arn",
        "createdAt",
        "gatewayRouteName",
        "lastUpdatedAt",
        "meshName",
        "meshOwner",
        "resourceOwner",
        "version",
        "virtualGatewayName"
      ],
      "type": "structure"
    },
    "GatewayRouteSpec": {
      "documentation": "<p>An object that represents a gateway route specification. Specify one gateway route type.</p>",
      "members": {
        "grpcRoute": {
          "documentation": "<p>An object that represents the specification of a gRPC gateway route.</p>",
          "shape": "GrpcGatewayRoute"
        },
        "http2Route": {
          "documentation": "<p>An object that represents the specification of an HTTP/2 gateway route.</p>",
          "shape": "HttpGatewayRoute"
        },
        "httpRoute": {
          "documentation": "<p>An object that represents the specification of an HTTP gateway route.</p>",
          "shape": "HttpGatewayRoute"
        },
        "priority": {
          "documentation": "<p>The ordering of the gateway routes spec.</p>",
          "shape": "GatewayRoutePriority"
        }
      },
      "type": "structure"
    },
    "GatewayRouteStatus": {
      "documentation": "<p>An object that represents the current status of a gateway route.</p>",
      "members": {
        "status": {
          "documentation": "<p>The current status for the gateway route.</p>",
          "shape": "GatewayRouteStatusCode"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "GatewayRouteStatusCode": {
      "enum": [
        "ACTIVE",
        "INACTIVE",
        "DELETED"
      ],
      "type": "string"
    },
    "GatewayRouteTarget": {
      "documentation": "<p>An object that represents a gateway route target.</p>",
      "members": {
        "port": {
          "documentation": "<p>The port number of the gateway route target.</p>",
          "shape": "ListenerPort"
        },
        "virtualService": {
          "documentation": "<p>An object that represents a virtual service gateway route target.</p>",
          "shape": "GatewayRouteVirtualService"
        }
      },
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "GatewayRouteVirtualService": {
      "documentation": "<p>An object that represents the virtual service that traffic is routed to.</p>",
      "members": {
        "virtualServiceName": {
          "documentation": "<p>The name of the virtual service that traffic is routed to.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "GrpcGatewayRoute": {
      "documentation": "<p>An object that represents a gRPC gateway route.</p>",
      "members": {
        "action": {
          "documentation": "<p>An object that represents the action to take if a match is determined.</p>",
          "shape": "GrpcGatewayRouteAction"
        },
        "match": {
          "documentation": "<p>An object that represents the criteria for determining a request match.</p>",
          "shape": "GrpcGatewayRouteMatch"
        }
      },
      "required": [
        "action",
        "match"
      ],
      "type": "structure"
    },
    "GrpcGatewayRouteAction": {
[...]
