{
  "documentation": "<p>Amazon Kinesis Data Analytics is a fully managed service that you can use to process and analyze streaming data using Java, SQL, or Scala. The service enables you to quickly author and run Java, SQL, or Scala code against streaming sources to perform time series analytics, feed real-time dashboards, and create real-time metrics.</p>",
  "metadata": {
    "apiVersion": "2018-05-23",
    "endpointPrefix": "kinesisanalytics",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Kinesis Analytics V2",
    "serviceFullName": "Amazon Kinesis Analytics",
    "serviceId": "Kinesis Analytics V2",
    "signatureVersion": "v4",
    "signingName": "kinesisanalytics",
    "targetPrefix": "KinesisAnalytics_20180523",
    "uid": "kinesisanalyticsv2-2018-05-23"
  },
  "operations": {
    "AddApplicationCloudWatchLoggingOption": {
      "documentation": "<p>Adds an Amazon CloudWatch log stream to monitor application configuration errors.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "AddApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "AddApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "AddApplicationInput": {
      "documentation": "<p> Adds a streaming source to your SQL-based Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputRequest"
      },
      "name": "AddApplicationInput",
      "output": {
        "shape": "AddApplicationInputResponse"
      }
    },
    "AddApplicationInputProcessingConfiguration": {
      "documentation": "<p>Adds an <a>InputProcessingConfiguration</a> to a SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://docs.aws.amazon.com/lambda/\">Amazon Lambda</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputProcessingConfigurationRequest"
      },
      "name": "AddApplicationInputProcessingConfiguration",
      "output": {
        "shape": "AddApplicationInputProcessingConfigurationResponse"
      }
    },
    "AddApplicationOutput": {
      "documentation": "<p>Adds an external destination to your SQL-based Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an Amazon Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationOutputRequest"
      },
      "name": "AddApplicationOutput",
      "output": {
        "shape": "AddApplicationOutputResponse"
      }
    },
    "AddApplicationReferenceDataSource": {
      "documentation": "<p>Adds a reference data source to an existing SQL-based Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationReferenceDataSourceRequest"
      },
      "name": "AddApplicationReferenceDataSource",
      "output": {
        "shape": "AddApplicationReferenceDataSourceResponse"
      }
    },
    "AddApplicationVpcConfiguration": {
      "documentation": "<p>Adds a Virtual Private Cloud (VPC) configuration to the application. Applications can use VPCs to store and access resources securely.</p> <p>Note the following about VPC configurations for Kinesis Data Analytics applications:</p> <ul> <li> <p>VPC configurations are not supported for SQL applications.</p> </li> <li> <p>When a VPC is added to a Kinesis Data Analytics application, the application can no longer be accessed from the Internet directly. To enable Internet access to the application, add an Internet gateway to your VPC.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationVpcConfigurationRequest"
      },
      "name": "AddApplicationVpcConfiguration",
      "output": {
        "shape": "AddApplicationVpcConfigurationResponse"
      }
    },
    "CreateApplication": {
      "documentation": "<p>Creates a Kinesis Data Analytics application. For information about creating a Kinesis Data Analytics application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/getting-started.html\">Creating an Application</a>.</p>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "CreateApplicationPresignedUrl": {
      "documentation": "<p>Creates and returns a URL that you can use to connect to an application's extension. Currently, the only available extension is the Apache Flink dashboard.</p> <p>The IAM role or user used to call this API defines the permissions to access the extension. After the presigned URL is created, no additional permission is required to access this URL. IAM authorization policies for this API are also enforced for every HTTP request that attempts to connect to the extension. </p> <p>You control the amount of time that the URL will be valid using the <code>SessionExpirationDurationInSeconds</code> parameter. If you do not provide this parameter, the returned URL is valid for twelve hours.</p> <note> <p>The URL that you get from a call to CreateApplicationPresignedUrl must be used within 3 minutes to be valid. If you first try to use the URL after the 3-minute limit expires, the service returns an HTTP 403 Forbidden error.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationPresignedUrlRequest"
      },
      "name": "CreateApplicationPresignedUrl",
      "output": {
        "shape": "CreateApplicationPresignedUrlResponse"
      }
    },
    "CreateApplicationSnapshot": {
      "documentation": "<p>Creates a snapshot of the application's state data.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationSnapshotRequest"
      },
      "name": "CreateApplicationSnapshot",
      "output": {
        "shape": "CreateApplicationSnapshotResponse"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "DeleteApplicationCloudWatchLoggingOption": {
      "documentation": "<p>Deletes an Amazon CloudWatch log stream from an Kinesis Data Analytics application. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "DeleteApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "DeleteApplicationInputProcessingConfiguration": {
      "documentation": "<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationInputProcessingConfigurationRequest"
      },
      "name": "DeleteApplicationInputProcessingConfiguration",
      "output": {
        "shape": "DeleteApplicationInputProcessingConfigurationResponse"
      }
    },
    "DeleteApplicationOutput": {
      "documentation": "<p>Deletes the output destination configuration from your SQL-based Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationOutputRequest"
      },
      "name": "DeleteApplicationOutput",
      "output": {
        "shape": "DeleteApplicationOutputResponse"
      }
    },
    "DeleteApplicationReferenceDataSource": {
      "documentation": "<p>Deletes a reference data source configuration from the specified SQL-based Kinesis Data Analytics application's configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationReferenceDataSourceRequest"
      },
      "name": "DeleteApplicationReferenceDataSource",
      "output": {
        "shape": "DeleteApplicationReferenceDataSourceResponse"
      }
    },
    "DeleteApplicationSnapshot": {
      "documentation": "<p>Deletes a snapshot of application state.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationSnapshotRequest"
      },
      "name": "DeleteApplicationSnapshot",
      "output": {
        "shape": "DeleteApplicationSnapshotResponse"
      }
    },
    "DeleteApplicationVpcConfiguration": {
      "documentation": "<p>Removes a VPC configuration from a Kinesis Data Analytics application.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationVpcConfigurationRequest"
      },
      "name": "DeleteApplicationVpcConfiguration",
      "output": {
        "shape": "DeleteApplicationVpcConfigurationResponse"
      }
    },
    "DescribeApplication": {
      "documentation": "<p>Returns information about a specific Kinesis Data Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationRequest"
      },
      "name": "DescribeApplication",
      "output": {
        "shape": "DescribeApplicationResponse"
      }
    },
    "DescribeApplicationSnapshot": {
      "documentation": "<p>Returns information about a snapshot of application state data.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationSnapshotRequest"
      },
      "name": "DescribeApplicationSnapshot",
      "output": {
        "shape": "DescribeApplicationSnapshotResponse"
      }
    },
    "DescribeApplicationVersion": {
      "documentation": "<p>Provides a detailed description of a specified version of the application. To see a list of all the versions of an application, invoke the <a>ListApplicationVersions</a> operation.</p> <note> <p>This operation is supported only for Amazon Kinesis Data Analytics for Apache Flink.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationVersionRequest"
      },
      "name": "DescribeApplicationVersion",
      "output": {
        "shape": "DescribeApplicationVersionResponse"
      }
    },
    "DiscoverInputSchema": {
      "documentation": "<p>Infers a schema for a SQL-based Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnableToDetectSchemaException"
        },
        {
          "shape": "ResourceProvisionedThroughputExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DiscoverInputSchemaRequest"
      },
      "name": "DiscoverInputSchema",
      "output": {
        "shape": "DiscoverInputSchemaResponse"
      }
    },
    "ListApplicationSnapshots": {
      "documentation": "<p>Lists information about the current application snapshots.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationSnapshotsRequest"
      },
      "name": "ListApplicationSnapshots",
      "output": {
        "shape": "ListApplicationSnapshotsResponse"
      }
    },
    "ListApplicationVersions": {
      "documentation": "<p>Lists all the versions for the specified application, including versions that were rolled back. The response also includes a summary of the configuration associated with each version.</p> <p>To get the complete description of a specific application version, invoke the <a>DescribeApplicationVersion</a> operation.</p> <note> <p>This operation is supported only for Amazon Kinesis Data Analytics for Apache Flink.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationVersionsRequest"
      },
      "name": "ListApplicationVersions",
      "output": {
        "shape": "ListApplicationVersionsResponse"
      }
    },
    "ListApplications": {
      "documentation": "<p>Returns a list of Kinesis Data Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of key-value tags assigned to the application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RollbackApplication": {
      "documentation": "<p>Reverts the application to the previous running version. You can roll back an application if you suspect it is stuck in a transient status. </p> <p>You can roll back an application only if it is in the <code>UPDATING</code> or <code>AUTOSCALING</code> status.</p> <p>When you rollback an application, it loads state data from the last successful snapshot. If the application has no snapshots, Kinesis Data Analytics rejects the rollback request.</p> <p>This action is not supported for Kinesis Data Analytics for SQL applications.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RollbackApplicationRequest"
      },
      "name": "RollbackApplication",
      "output": {
        "shape": "RollbackApplicationResponse"
      }
    },
    "StartApplication": {
      "documentation": "<p>Starts the specified Kinesis Data Analytics application. After creating an application, you must exclusively call this operation to start your application.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartApplicationRequest"
      },
      "name": "StartApplication",
      "output": {
        "shape": "StartApplicationResponse"
      }
    },
    "StopApplication": {
      "documentation": "<p>Stops the application from processing data. You can stop an application only if it is in the running status, unless you set the <code>Force</code> parameter to <code>true</code>.</p> <p>You can use the <a>DescribeApplication</a> operation to find the application status. </p> <p>Kinesis Data Analytics takes a snapshot when the application is stopped, unless <code>Force</code> is set to <code>true</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopApplicationRequest"
      },
      "name": "StopApplication",
      "output": {
        "shape": "StopApplicationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more key-value tags to a Kinesis Data Analytics application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a Kinesis Data Analytics application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates an existing Kinesis Data Analytics application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update your application. </p> <note> <p>You cannot update the <code>RuntimeEnvironment</code> of an existing application. If you need to update an application's <code>RuntimeEnvironment</code>, you must delete the application and create it again.</p> </note>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    },
    "UpdateApplicationMaintenanceConfiguration": {
      "documentation": "<p>Updates the maintenance configuration of the Kinesis Data Analytics application. </p> <p>You can invoke this operation on an application that is in one of the two following states: <code>READY</code> or <code>RUNNING</code>. If you invoke it when the application is in a state other than these two states, it throws a <code>ResourceInUseException</code>. The service makes use of the updated configuration the next time it schedules maintenance for the application. If you invoke this operation after the service schedules maintenance, the service will apply the configuration update the next time it schedules maintenance for the application. This means that you might not see the maintenance configuration update applied to the maintenance process that follows a successful invocation of this operation, but to the following maintenance process instead.</p> <p>To see the current maintenance configuration of your application, invoke the <a>DescribeApplication</a> operation.</p> <p>For information about application maintenance, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/maintenance.html\">Kinesis Data Analytics for Apache Flink Maintenance</a>.</p> <note> <p>This operation is supported only for Amazon Kinesis Data Analytics for Apache Flink.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationMaintenanceConfigurationRequest"
      },
      "name": "UpdateApplicationMaintenanceConfiguration",
      "output": {
        "shape": "UpdateApplicationMaintenanceConfigurationResponse"
      }
    }
  },
  "shapes": {
    "AddApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The Kinesis Data Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOption": {
          "documentation": "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
          "shape": "CloudWatchLoggingOption"
        },
        "ConditionalToken": {
          "documentation": "<p>A value you use to implement strong concurrency for application updates. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ConditionalToken"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the Kinesis Data Analytics application. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>.You can retrieve the application version ID using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CloudWatchLoggingOption"
      ],
      "type": "structure"
    },
    "AddApplicationCloudWatchLoggingOptionResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application's ARN.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which you want to add the input processing configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>",
          "shape": "Id"
        },
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>",
          "shape": "InputProcessingConfiguration"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId",
        "InputProcessingConfiguration"
      ],
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version. </p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns to each input configuration that you add to your application.</p>",
          "shape": "Id"
        },
        "InputProcessingConfigurationDescription": {
          "documentation": "<p>The description of the preprocessor that executes on records in this input before the application's code is run.</p>",
          "shape": "InputProcessingConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "AddApplicationInputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of your existing application to which you want to add the streaming source.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current version of your application. You must provide the <code>ApplicationVersionID</code> or the <code>ConditionalToken</code>.You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "Input": {
          "documentation": "<p>The <a>Input</a> to add.</p>",
          "shape": "Input"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Input"
      ],
      "type": "structure"
    },
    "AddApplicationInputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputDescriptions": {
          "documentation": "<p>Describes the application input configuration. </p>",
          "shape": "InputDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationOutputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which you want to add the output configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "Output": {
          "documentation": "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an Amazon Lambda function), and record the formation to use when writing to the destination.</p>",
          "shape": "Output"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Output"
      ],
      "type": "structure"
    },
    "AddApplicationOutputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.</p>",
          "shape": "ApplicationVersionId"
        },
        "OutputDescriptions": {
          "documentation": "<p>Describes the application output configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. </p>",
          "shape": "OutputDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceDataSource": {
          "documentation": "<p>The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. </p>",
          "shape": "ReferenceDataSource"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceDataSource"
      ],
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceDataSourceDescriptions": {
          "documentation": "<p>Describes reference data sources configured for the application. </p>",
          "shape": "ReferenceDataSourceDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationVpcConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "ConditionalToken": {
          "documentation": "<p>A value you use to implement strong concurrency for application updates. You must provide the <code>ApplicationVersionID</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ConditionalToken"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the VPC configuration. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfiguration": {
          "documentation": "<p>Description of the VPC to add to the application.</p>",
          "shape": "VpcConfiguration"
        }
      },
      "required": [
        "ApplicationName",
        "VpcConfiguration"
      ],
      "type": "structure"
    },
    "AddApplicationVpcConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the ApplicationVersionId each time you update the application.</p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfigurationDescription": {
          "documentation": "<p>The parameters of the new VPC configuration.</p>",
          "shape": "VpcConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "ApplicationCodeConfiguration": {
      "documentation": "<p>Describes code configuration for an application.</p>",
      "members": {
        "CodeContent": {
          "documentation": "<p>The location and type of the application code.</p>",
          "shape": "CodeContent"
        },
        "CodeContentType": {
          "documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
          "shape": "CodeContentType"
        }
      },
      "required": [
        "CodeContentType"
      ],
      "type": "structure"
    },
    "ApplicationCodeConfigurationDescription": {
      "documentation": "<p>Describes code configuration for an application.</p>",
      "members": {
        "CodeContentDescription": {
          "documentation": "<p>Describes details about the location and format of the application code.</p>",
          "shape": "CodeContentDescription"
        },
        "CodeContentType": {
          "documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
          "shape": "CodeContentType"
        }
      },
      "required": [
        "CodeContentType"
      ],
      "type": "structure"
    },
    "ApplicationCodeConfigurationUpdate": {
      "documentation": "<p>Describes code configuration updates for an application. This is supported for a Flink-based Kinesis Data Analytics application or a SQL-based Kinesis Data Analytics application.</p>",
      "members": {
        "CodeContentTypeUpdate": {
          "documentation": "<p>Describes updates to the code content type.</p>",
          "shape": "CodeContentType"
        },
        "CodeContentUpdate": {
          "documentation": "<p>Describes updates to the code content of an application.</p>",
          "shape": "CodeContentUpdate"
        }
      },
      "type": "structure"
    },
    "ApplicationConfiguration": {
      "documentation": "<p>Specifies the creation parameters for a Kinesis Data Analytics application.</p>",
      "members": {
        "ApplicationCodeConfiguration": {
          "documentation": "<p>The code location and type parameters for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationCodeConfiguration"
        },
        "ApplicationSnapshotConfiguration": {
          "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfiguration"
        },
        "EnvironmentProperties": {
          "documentation": "<p>Describes execution properties for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentProperties"
        },
        "FlinkApplicationConfiguration": {
          "documentation": "<p>The creation and update parameters for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "FlinkApplicationConfiguration"
        },
        "SqlApplicationConfiguration": {
          "documentation": "<p>The creation and update parameters for a SQL-based Kinesis Data Analytics application.</p>",
          "shape": "SqlApplicationConfiguration"
        },
        "VpcConfigurations": {
          "documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurations"
        },
        "ZeppelinApplicationConfiguration": {
          "documentation": "<p>The configuration parameters for a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "ZeppelinApplicationConfiguration"
        }
      },
      "type": "structure"
    },
    "ApplicationConfigurationDescription": {
      "documentation": "<p>Describes details about the application code and starting parameters for a Kinesis Data Analytics application.</p>",
      "members": {
        "ApplicationCodeConfigurationDescription": {
          "documentation": "<p>The details about the application code for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationCodeConfigurationDescription"
        },
        "ApplicationSnapshotConfigurationDescription": {
          "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfigurationDescription"
        },
        "EnvironmentPropertyDescriptions": {
          "documentation": "<p>Describes execution properties for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentPropertyDescriptions"
        },
        "FlinkApplicationConfigurationDescription": {
          "documentation": "<p>The details about a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "FlinkApplicationConfigurationDescription"
        },
        "RunConfigurationDescription": {
          "documentation": "<p>The details about the starting properties for a Kinesis Data Analytics application.</p>",
          "shape": "RunConfigurationDescription"
        },
        "SqlApplicationConfigurationDescription": {
          "documentation": "<p>The details about inputs, outputs, and reference data sources for a SQL-based Kinesis Data Analytics application.</p>",
          "shape": "SqlApplicationConfigurationDescription"
        },
        "VpcConfigurationDescriptions": {
          "documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurationDescriptions"
        },
        "ZeppelinApplicationConfigurationDescription": {
          "documentation": "<p>The configuration parameters for a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "ZeppelinApplicationConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "ApplicationConfigurationUpdate": {
      "documentation": "<p>Describes updates to an application's configuration.</p>",
      "members": {
        "ApplicationCodeConfigurationUpdate": {
          "documentation": "<p>Describes updates to an application's code configuration.</p>",
          "shape": "ApplicationCodeConfigurationUpdate"
        },
        "ApplicationSnapshotConfigurationUpdate": {
          "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfigurationUpdate"
        },
        "EnvironmentPropertyUpdates": {
          "documentation": "<p>Describes updates to the environment properties for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentPropertyUpdates"
        },
        "FlinkApplicationConfigurationUpdate": {
          "documentation": "<p>Describes updates to a Flink-based Kinesis Data Analytics application's configuration.</p>",
          "shape": "FlinkApplicationConfigurationUpdate"
        },
        "SqlApplicationConfigurationUpdate": {
          "documentation": "<p>Describes updates to a SQL-based Kinesis Data Analytics application's configuration.</p>",
          "shape": "SqlApplicationConfigurationUpdate"
        },
        "VpcConfigurationUpdates": {
          "documentation": "<p>Updates to the array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurationUpdates"
        },
        "ZeppelinApplicationConfigurationUpdate": {
          "documentation": "<p>Updates to the configuration of a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "ZeppelinApplicationConfigurationUpdate"
        }
      },
      "type": "structure"
    },
    "ApplicationDescription": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "ApplicationDetail": {
      "documentation": "<p>Describes the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configurations.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationConfigurationDescription": {
          "documentation": "<p>Describes details about the application code and starting parameters for a Kinesis Data Analytics application.</p>",
          "shape": "ApplicationConfigurationDescription"
        },
        "ApplicationDescription": {
          "documentation": "<p>The description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationMaintenanceConfigurationDescription": {
          "documentation": "<p>The details of the maintenance configuration for the application.</p>",
          "shape": "ApplicationMaintenanceConfigurationDescription"
        },
        "ApplicationMode": {
          "documentation": "<p>To create a Kinesis Data Analytics Studio notebook, you must set the mode to <code>INTERACTIVE</code>. However, for a Kinesis Data Analytics for Apache Flink application, the mode is optional.</p>",
          "shape": "ApplicationMode"
        },
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update the application.</p>",
          "shape": "ApplicationVersionId"
        },
        "ApplicationVersionRolledBackFrom": {
          "documentation": "<p>If you reverted the application using <a>RollbackApplication</a>, the application version when <code>RollbackApplication</code> was called.</p>",
          "shape": "ApplicationVersionId"
        },
        "ApplicationVersionRolledBackTo": {
          "documentation": "<p>The version to which you want to roll back the application.</p>",
          "shape": "ApplicationVersionId"
        },
        "ApplicationVersionUpdatedFrom": {
          "documentation": "<p>The previous application version before the latest application update. <a>RollbackApplication</a> reverts the application to this version.</p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>Describes the application Amazon CloudWatch logging options.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        },
        "ConditionalToken": {
          "documentation": "<p>A value you use to implement strong concurrency for application updates.</p>",
          "shape": "ConditionalToken"
        },
        "CreateTimestamp": {
          "documentation": "<p>The current timestamp when the application was created.</p>",
          "shape": "Timestamp"
        },
        "LastUpdateTimestamp": {
          "documentation": "<p>The current timestamp when the application was last updated.</p>",
          "shape": "Timestamp"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application (<code>SQL-1_0</code>, <code>FLINK-1_6</code>, <code>FLINK-1_8</code>, or <code>FLINK-1_11</code>).</p>",
          "shape": "RuntimeEnvironment"
        },
        "ServiceExecutionRole": {
          "documentation": "<p>Specifies the IAM role that the application uses to access external resources.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ApplicationARN",
        "ApplicationName",
        "RuntimeEnvironment",
        "ApplicationStatus",
        "ApplicationVersionId"
      ],
      "type": "structure"
    },
    "ApplicationMaintenanceConfigurationDescription": {
      "documentation": "<p>The details of the maintenance configuration for the application.</p>",
      "members": {
        "ApplicationMaintenanceWindowEndTime": {
          "documentation": "<p>The end time for the maintenance window.</p>",
          "shape": "ApplicationMaintenanceWindowEndTime"
        },
        "ApplicationMaintenanceWindowStartTime": {
          "documentation": "<p>The start time for the maintenance window.</p>",
          "shape": "ApplicationMaintenanceWindowStartTime"
        }
      },
      "required": [
        "ApplicationMaintenanceWindowStartTime",
        "ApplicationMaintenanceWindowEndTime"
      ],
      "type": "structure"
    },
    "ApplicationMaintenanceConfigurationUpdate": {
      "documentation": "<p>Describes the updated maintenance configuration for the application.</p>",
      "members": {
        "ApplicationMaintenanceWindowStartTimeUpdate": {
          "documentation": "<p>The updated start time for the maintenance window.</p>",
          "shape": "ApplicationMaintenanceWindowStartTime"
        }
      },
      "required": [
        "ApplicationMaintenanceWindowStartTimeUpdate"
      ],
      "type": "structure"
    },
    "ApplicationMaintenanceWindowEndTime": {
      "max": 5,
      "min": 5,
      "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]",
      "type": "string"
    },
    "ApplicationMaintenanceWindowStartTime": {
      "max": 5,
      "min": 5,
      "pattern": "([01][0-9]|2[0-3]):[0-5][0-9]",
      "type": "string"
    },
    "ApplicationMode": {
      "enum": [
        "STREAMING",
        "INTERACTIVE"
      ],
      "type": "string"
    },
    "ApplicationName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ApplicationRestoreConfiguration": {
      "documentation": "<p>Specifies the method and snapshot to use when restarting an application using previously saved application state.</p>",
      "members": {
        "ApplicationRestoreType": {
          "documentation": "<p>Specifies how the application should be restored.</p>",
          "shape": "ApplicationRestoreType"
        },
        "SnapshotName": {
          "documentation": "<p>The identifier of an existing snapshot of application state to use to restart an application. The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationRestoreType"
      ],
      "type": "structure"
    },
    "ApplicationRestoreType": {
      "enum": [
        "SKIP_RESTORE_FROM_SNAPSHOT",
        "RESTORE_FROM_LATEST_SNAPSHOT",
        "RESTORE_FROM_CUSTOM_SNAPSHOT"
      ],
      "type": "string"
    },
    "ApplicationSnapshotConfiguration": {
      "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabled": {
          "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabled"
      ],
      "type": "structure"
    },
    "ApplicationSnapshotConfigurationDescription": {
      "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabled": {
          "documentation": "<p>Describes whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabled"
      ],
      "type": "structure"
    },
    "ApplicationSnapshotConfigurationUpdate": {
      "documentation": "<p>Describes updates to whether snapshots are enabled for a Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabledUpdate": {
          "documentation": "<p>Describes updates to whether snapshots are enabled for an application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabledUpdate"
      ],
      "type": "structure"
    },
    "ApplicationStatus": {
      "enum": [
        "DELETING",
        "STARTING",
        "STOPPING",
        "READY",
        "RUNNING",
        "UPDATING",
        "AUTOSCALING",
        "FORCE_STOPPING",
        "ROLLING_BACK",
        "MAINTENANCE",
        "ROLLED_BACK"
      ],
      "type": "string"
    },
    "ApplicationSummaries": {
      "member": {
        "shape": "ApplicationSummary"
      },
      "type": "list"
    },
    "ApplicationSummary": {
      "documentation": "<p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationMode": {
          "documentation": "<p>For a Kinesis Data Analytics for Apache Flink application, the mode is <code>STREAMING</code>. For a Kinesis Data Analytics Studio notebook, it is <code>INTERACTIVE</code>.</p>",
          "shape": "ApplicationMode"
        },
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application.</p>",
          "shape": "RuntimeEnvironment"
        }
      },
      "required": [
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus",
        "ApplicationVersionId",
        "RuntimeEnvironment"
      ],
      "type": "structure"
    },
    "ApplicationVersionId": {
      "max": 999999999,
      "min": 1,
      "type": "long"
    },
    "ApplicationVersionSummaries": {
      "member": {
        "shape": "ApplicationVersionSummary"
      },
      "type": "list"
    },
    "ApplicationVersionSummary": {
      "documentation": "<p>The summary of the application version.</p>",
      "members": {
        "ApplicationStatus": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The ID of the application version. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update the application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationVersionId",
        "ApplicationStatus"
      ],
      "type": "structure"
    },
    "ArtifactType": {
      "enum": [
        "UDF",
        "DEPENDENCY_JAR"
      ],
      "type": "string"
    },
    "AuthorizedUrl": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "BasePath": {
      "max": 1024,
      "min": 1,
      "pattern": "[a-zA-Z0-9/!-_.*'()]+",
      "type": "string"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "CSVMappingParameters": {
      "documentation": "<p>For a SQL-based Kinesis Data Analytics application, provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>'\\n'</i> as the row delimiter and a comma (\",\") as the column delimiter: </p> <p> <code>\"name1\", \"address1\"</code> </p> <p> <code>\"name2\", \"address2\"</code> </p>",
      "members": {
        "RecordColumnDelimiter": {
          "documentation": "<p>The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.</p>",
          "shape": "RecordColumnDelimiter"
        },
        "RecordRowDelimiter": {
          "documentation": "<p>The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.</p>",
          "shape": "RecordRowDelimiter"
        }
      },
      "required": [
        "RecordRowDelimiter",
        "RecordColumnDelimiter"
      ],
      "type": "structure"
    },
    "CatalogConfiguration": {
      "documentation": "<p>The configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Kinesis Data Analytics Studio notebook.</p>",
      "members": {
        "GlueDataCatalogConfiguration": {
          "documentation": "<p>The configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "GlueDataCatalogConfiguration"
        }
      },
      "required": [
        "GlueDataCatalogConfiguration"
      ],
      "type": "structure"
    },
    "CatalogConfigurationDescription": {
      "documentation": "<p>The configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Kinesis Data Analytics Studio notebook.</p>",
      "members": {
        "GlueDataCatalogConfigurationDescription": {
          "documentation": "<p>The configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "GlueDataCatalogConfigurationDescription"
        }
      },
      "required": [
        "GlueDataCatalogConfigurationDescription"
      ],
      "type": "structure"
    },
    "CatalogConfigurationUpdate": {
      "documentation": "<p>Updates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Kinesis Data Analytics Studio notebook.</p>",
      "members": {
        "GlueDataCatalogConfigurationUpdate": {
          "documentation": "<p>Updates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Kinesis Data Analytics Studio notebook.</p>",
          "shape": "GlueDataCatalogConfigurationUpdate"
        }
      },
      "required": [
        "GlueDataCatalogConfigurationUpdate"
      ],
      "type": "structure"
    },
    "CheckpointConfiguration": {
      "documentation": "<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/concepts/programming-model.html#checkpoints-for-fault-tolerance\"> Checkpoints for Fault Tolerance</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/\">Apache Flink Documentation</a>.</p>",
      "members": {
        "CheckpointInterval": {
          "documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabled": {
          "documentation": "<p>Describes whether checkpointing is enabled for a Flink-based Kinesis Data Analytics application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationType": {
          "documentation": "<p>Describes whether the application uses Kinesis Data Analytics' default checkpointing behavior. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters.</p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpoints": {
          "documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. If a checkpoint operation takes longer than the <code>CheckpointInterval</code>, the application otherwise performs continual checkpoint operations. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/ops/state/large_state_tuning.html#tuning-checkpointing\"> Tuning Checkpointing</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/\">Apache Flink Documentation</a>.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "required": [
        "ConfigurationType"
      ],
      "type": "structure"
    },
    "CheckpointConfigurationDescription": {
      "documentation": "<p>Describes checkpointing parameters for a Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointInterval": {
          "documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabled": {
          "documentation": "<p>Describes whether checkpointing is enabled for a Flink-based Kinesis Data Analytics application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationType": {
          "documentation": "<p>Describes whether the application uses the default checkpointing behavior in Kinesis Data Analytics. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpoints": {
          "documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "type": "structure"
    },
    "CheckpointConfigurationUpdate": {
      "documentation": "<p>Describes updates to the checkpointing parameters for a Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointIntervalUpdate": {
          "documentation": "<p>Describes updates to the interval in milliseconds between checkpoint operations.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabledUpdate": {
          "documentation": "<p>Describes updates to whether checkpointing is enabled for an application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationTypeUpdate": {
          "documentation": "<p>Describes updates to whether the application uses the default checkpointing behavior of Kinesis Data Analytics. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpointsUpdate": {
          "documentation": "<p>Describes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "type": "structure"
    },
    "CheckpointInterval": {
      "min": 1,
      "type": "long"
    },
    "CloudWatchLoggingOption": {
      "documentation": "<p>Provides a description of Amazon CloudWatch logging options, including the log stream Amazon Resource Name (ARN). </p>",
      "members": {
        "LogStreamARN": {
          "documentation": "<p>The ARN of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        }
      },
      "required": [
        "LogStreamARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescription": {
      "documentation": "<p>Describes the Amazon CloudWatch logging option.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The ID of the CloudWatch logging option description.</p>",
          "shape": "Id"
        },
        "LogStreamARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>The IAM ARN of the role to use to send application messages. </p> <note> <p>Provided for backward compatibility. Applications created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "LogStreamARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescriptions": {
      "member": {
        "shape": "CloudWatchLoggingOptionDescription"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptionUpdate": {
      "documentation": "<p>Describes the Amazon CloudWatch logging option updates.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The ID of the CloudWatch logging option to update</p>",
          "shape": "Id"
        },
        "LogStreamARNUpdate": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        }
      },
      "required": [
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionUpdates": {
      "member": {
        "shape": "CloudWatchLoggingOptionUpdate"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptions": {
      "member": {
        "shape": "CloudWatchLoggingOption"
      },
      "type": "list"
    },
    "CodeContent": {
      "documentation": "<p>Specifies either the application code, or the location of the application code, for a Flink-based Kinesis Data Analytics application. </p>",
      "members": {
        "S3ContentLocation": {
          "documentation": "<p>Information about the Amazon S3 bucket that contains the application code.</p>",
          "shape": "S3ContentLocation"
        },
        "TextContent": {
          "documentation": "<p>The text-format code for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "TextContent"
        },
        "ZipFileContent": {
          "documentation": "<p>The zip-format code for a Flink-based Kinesis Data Analytics application.</p>",
          "shape": "ZipFileContent"
        }
      },
      "type": "structure"
    },
    "CodeContentDescription": {
      "documentation": "<p>Describes details about the code of a Kinesis Data Analytics application.</p>",
      "members": {
        "CodeMD5": {
          "documentation": "<p>The checksum that can be used to validate zip-format code.</p>",
          "shape": "CodeMD5"
        },
        "CodeSize": {
          "documentation": "<p>The size in bytes of the application code. Can be used to validate zip-format code.</p>",
          "shape": "CodeSize"
        },
        "S3ApplicationCodeLocationDescription": {
          "documentation": "<p>The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application code stored in Amazon S3.</p>",
          "shape": "S3ApplicationCodeLocationDescription"
        },
        "TextContent": {
          "documentation": "<p>The text-format code</p>",
          "shape": "TextContent"
        }
      },
      "type": "structure"
    },
    "CodeContentType": {
      "enum": [
        "PLAINTEXT",
        "ZIPFILE"
      ],
      "type": "string"
    },
    "CodeContentUpdate": {
      "documentation": "<p>Describes an update to the code of an application. Not supported for Apache Zeppelin.</p>",
      "members": {
        "S3ContentLocationUpdate": {
          "documentation": "<p>Describes an update to the location of code for an application.</p>",
          "shape": "S3ContentLocationUpdate"
        },
        "TextContentUpdate": {
          "documentation": "<p>Describes an update to the text code for an application.</p>",
          "shape": "TextContent"
        },
        "ZipFileContentUpdate": {
          "documentation": "<p>Describes an update to the zipped code for an application.</p>",
          "shape": "ZipFileContent"
        }
      },
      "type": "structure"
    },
    "CodeMD5": {
      "max": 128,
      "min": 128,
      "type": "string"
    },
    "CodeSize": {
      "max": 52428800,
      "min": 0,
      "type": "long"
    },
    "CodeValidationException": {
      "documentation": "<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConditionalToken": {
      "max": 512,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_+/=]+",
      "type": "string"
    },
    "ConfigurationType": {
      "enum": [
        "DEFAULT",
        "CUSTOM"
      ],
      "type": "string"
    },
    "CreateApplicationPresignedUrlRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "SessionExpirationDurationInSeconds": {
          "documentation": "<p>The duration in seconds for which the returned URL will be valid.</p>",
          "shape": "SessionExpirationDurationInSeconds"
        },
        "UrlType": {
          "documentation": "<p>The type of the extension for which to create and return a URL. Currently, the only valid extension URL type is <code>FLINK_DASHBOARD_URL</code>. </p>",
          "shape": "UrlType"
        }
      },
      "required": [
        "ApplicationName",
        "UrlType"
      ],
      "type": "structure"
    },
    "CreateApplicationPresignedUrlResponse": {
      "members": {
        "AuthorizedUrl": {
          "documentation": "<p>The URL of the extension.</p>",
          "shape": "AuthorizedUrl"
        }
      },
      "type": "structure"
    },
    "CreateApplicationRequest": {
      "members": {
        "ApplicationConfiguration": {
          "documentation": "<p>Use this parameter to configure the application.</p>",
          "shape": "ApplicationConfiguration"
        },
        "ApplicationDescription": {
          "documentation": "<p>A summary description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationMode": {
          "documentation": "<p>Use the <code>STREAMING</code> mode to create a Kinesis Data Analytics Studio notebook. To create a Kinesis Data Analytics Studio notebook, use the <code>INTERACTIVE</code> mode.</p>",
          "shape": "ApplicationMode"
        },
        "ApplicationName": {
          "documentation": "<p>The name of your application (for example, <code>sample-app</code>).</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>Use this parameter to configure an Amazon CloudWatch log stream to monitor application configuration errors. </p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application (<code>SQL-1_0</code>, <code>FLINK-1_6</code>, <code>FLINK-1_8</code>, or <code>FLINK-1_11</code>).</p>",
          "shape": "RuntimeEnvironment"
        },
        "ServiceExecutionRole": {
          "documentation": "<p>The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose delivery streams, Amazon S3 objects, and other external resources.</p>",
          "shape": "RoleARN"
        },
        "Tags": {
          "documentation": "<p>A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ApplicationName",
        "RuntimeEnvironment",
        "ServiceExecutionRole"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "members": {
        "ApplicationDetail": {
          "documentation": "<p>In response to your <code>CreateApplication</code> request, Kinesis Data Analytics returns a response with details of the application it created.</p>",
          "shape": "ApplicationDetail"
        }
      },
      "required": [
        "ApplicationDetail"
      ],
      "type": "structure"
    },
    "CreateApplicationSnapshotRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application</p>",
          "shape": "ApplicationName"
        },
        "SnapshotName": {
          "documentation": "<p>An identifier for the application snapshot.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationName",
        "SnapshotName"
      ],
      "type": "structure"
    },
    "CreateApplicationSnapshotResponse": {
      "members": {},
      "type": "structure"
    },
    "CustomArtifactConfiguration": {
      "documentation": "<p>Specifies dependency JARs, as well as JAR files that contain user-defined functions (UDF).</p>",
      "members": {
        "ArtifactType": {
          "documentation": "<p> <code>UDF</code> stands for user-defined functions. This type of artifact must be in an S3 bucket. A <code>DEPENDENCY_JAR</code> can be in either Maven or an S3 bucket.</p>",
          "shape": "ArtifactType"
        },
        "MavenReference": {
          "documentation": "<p>The parameters required to fully specify a Maven reference.</p>",
          "shape": "MavenReference"
        },
        "S3ContentLocation": {
          "shape": "S3ContentLocation"
        }
      },
      "required": [
        "ArtifactType"
      ],
      "type": "structure"
    },
    "CustomArtifactConfigurationDescription": {
      "documentation": "<p>Specifies a dependency JAR or a JAR of user-defined functions.</p>",
      "members": {
        "ArtifactType": {
          "documentation": "<p> <code>UDF</code> stands for user-defined functions. This type of artifact must be in an S3 bucket. A <code>DEPENDENCY_JAR</code> can be in either Maven or an S3 bucket.</p>",
          "shape": "ArtifactType"
        },
        "MavenReferenceDescription": {
          "documentation": "<p>The parameters that are required to specify a Maven dependency.</p>",
          "shape": "MavenReference"
        },
        "S3ContentLocationDescription": {
          "shape": "S3ContentLocation"
        }
      },
      "type": "structure"
    },
    "CustomArtifactsConfigurationDescriptionList": {
      "max": 50,
      "member": {
        "shape": "CustomArtifactConfigurationDescription"
      },
      "type": "list"
    },
    "CustomArtifactsConfigurationList": {
      "max": 50,
      "member": {
        "shape": "CustomArtifactConfiguration"
      },
      "type": "list"
    },
    "DatabaseARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "DeleteApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. </p>",
          "shape": "Id"
        },
        "ConditionalToken": {
          "documentation": "<p>A value you use to implement strong concurrency for application updates. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ConditionalToken"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the application. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You can retrieve the application version ID using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "DeleteApplicationCloudWatchLoggingOptionResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application's Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The version ID of the application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.</p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>The descriptions of the remaining CloudWatch logging options for the application.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The current application version ID.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationOutputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "OutputId": {
          "documentation": "<p>The ID of the configuration to delete. Each output configuration that is added to the application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "OutputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationOutputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The current application version ID.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceId": {
          "documentation": "<p>The ID of the reference data source. When you add a reference data source to your application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to get the reference ID. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceId"
      ],
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated version ID of the application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to delete.</p>",
          "shape": "ApplicationName"
        },
        "CreateTimestamp": {
          "documentation": "<p>Use the <code>DescribeApplication</code> operation to get this value.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "ApplicationName",
        "CreateTimestamp"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationSnapshotRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "SnapshotCreationTimestamp": {
          "documentation": "<p>The creation timestamp of the application snapshot to delete. You can retrieve this value using or .</p>",
          "shape": "Timestamp"
        },
        "SnapshotName": {
          "documentation": "<p>The identifier for the snapshot delete.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationName",
        "SnapshotName",
        "SnapshotCreationTimestamp"
      ],
      "type": "structure"
    },
    "DeleteApplicationSnapshotResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationVpcConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "ConditionalToken": {
          "documentation": "<p>A value you use to implement strong concurrency for application updates. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ConditionalToken"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current application version ID. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You can retrieve the application version ID using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfigurationId": {
          "documentation": "<p>The ID of the VPC configuration to delete.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "VpcConfigurationId"
      ],
      "type": "structure"
    },
    "DeleteApplicationVpcConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the Kinesis Data Analytics application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated version ID of the application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeployAsApplicationConfiguration": {
[...]
