{
  "documentation": "<fullname>Amazon AppStream 2.0</fullname> <p>This is the <i>Amazon AppStream 2.0 API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in AppStream 2.0. AppStream 2.0 is a fully managed, secure application streaming service that lets you stream desktop applications to users without rewriting applications. AppStream 2.0 manages the AWS resources that are required to host and run your applications, scales automatically, and provides access to your users on demand. </p> <note> <p>You can call the AppStream 2.0 API operations by using an interface VPC endpoint (interface endpoint). For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/access-api-cli-through-interface-vpc-endpoint.html\">Access AppStream 2.0 API Operations and CLI Commands Through an Interface VPC Endpoint</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p> </note> <p>To learn more about AppStream 2.0, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/appstream2\">Amazon AppStream 2.0 product page</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/documentation/appstream2\">Amazon AppStream 2.0 documentation</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "appstream2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon AppStream",
    "serviceId": "AppStream",
    "signatureVersion": "v4",
    "signingName": "appstream",
    "targetPrefix": "PhotonAdminProxyService",
    "uid": "appstream-2016-12-01"
  },
  "operations": {
    "AssociateApplicationFleet": {
      "documentation": "<p>Associates the specified application with the specified fleet. This is only supported for Elastic fleets.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateApplicationFleetRequest"
      },
      "name": "AssociateApplicationFleet",
      "output": {
        "shape": "AssociateApplicationFleetResult"
      }
    },
    "AssociateApplicationToEntitlement": {
      "documentation": "<p>Associates an application to entitle.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateApplicationToEntitlementRequest"
      },
      "name": "AssociateApplicationToEntitlement",
      "output": {
        "shape": "AssociateApplicationToEntitlementResult"
      }
    },
    "AssociateFleet": {
      "documentation": "<p>Associates the specified fleet with the specified stack.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateFleetRequest"
      },
      "name": "AssociateFleet",
      "output": {
        "shape": "AssociateFleetResult"
      }
    },
    "BatchAssociateUserStack": {
      "documentation": "<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchAssociateUserStackRequest"
      },
      "name": "BatchAssociateUserStack",
      "output": {
        "shape": "BatchAssociateUserStackResult"
      }
    },
    "BatchDisassociateUserStack": {
      "documentation": "<p>Disassociates the specified users from the specified stacks.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDisassociateUserStackRequest"
      },
      "name": "BatchDisassociateUserStack",
      "output": {
        "shape": "BatchDisassociateUserStackResult"
      }
    },
    "CopyImage": {
      "documentation": "<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyImageRequest"
      },
      "name": "CopyImage",
      "output": {
        "shape": "CopyImageResponse"
      }
    },
    "CreateAppBlock": {
      "documentation": "<p>Creates an app block.</p> <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the virtual hard disk in an S3 bucket. It also stores the setup script with details about how to mount the virtual hard disk. The virtual hard disk includes the application binaries and other files necessary to launch your applications. Multiple applications can be assigned to a single app block.</p> <p>This is only supported for Elastic fleets.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppBlockRequest"
      },
      "name": "CreateAppBlock",
      "output": {
        "shape": "CreateAppBlockResult"
      }
    },
    "CreateApplication": {
      "documentation": "<p>Creates an application.</p> <p>Applications are an Amazon AppStream 2.0 resource that stores the details about how to launch applications on Elastic fleet streaming instances. An application consists of the launch details, icon, and display name. Applications are associated with an app block that contains the application binaries and other files. The applications assigned to an Elastic fleet are the applications users can launch. </p> <p>This is only supported for Elastic fleets.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResult"
      }
    },
    "CreateDirectoryConfig": {
      "documentation": "<p>Creates a Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectoryConfigRequest"
      },
      "name": "CreateDirectoryConfig",
      "output": {
        "shape": "CreateDirectoryConfigResult"
      }
    },
    "CreateEntitlement": {
      "documentation": "<p>Creates a new entitlement. Entitlements control access to specific applications within a stack, based on user attributes. Entitlements apply to SAML 2.0 federated user identities. Amazon AppStream 2.0 user pool and streaming URL users are entitled to all applications in a stack. Entitlements don't apply to the desktop stream view application, or to applications managed by a dynamic app provider using the Dynamic Application Framework.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntitlementAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEntitlementRequest"
      },
      "name": "CreateEntitlement",
      "output": {
        "shape": "CreateEntitlementResult"
      }
    },
    "CreateFleet": {
      "documentation": "<p>Creates a fleet. A fleet consists of streaming instances that your users access for their applications and desktops.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "RequestLimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFleetRequest"
      },
      "name": "CreateFleet",
      "output": {
        "shape": "CreateFleetResult"
      }
    },
    "CreateImageBuilder": {
      "documentation": "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "RequestLimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageBuilderRequest"
      },
      "name": "CreateImageBuilder",
      "output": {
        "shape": "CreateImageBuilderResult"
      }
    },
    "CreateImageBuilderStreamingURL": {
      "documentation": "<p>Creates a URL to start an image builder streaming session.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageBuilderStreamingURLRequest"
      },
      "name": "CreateImageBuilderStreamingURL",
      "output": {
        "shape": "CreateImageBuilderStreamingURLResult"
      }
    },
    "CreateStack": {
      "documentation": "<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStackRequest"
      },
      "name": "CreateStack",
      "output": {
        "shape": "CreateStackResult"
      }
    },
    "CreateStreamingURL": {
      "documentation": "<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStreamingURLRequest"
      },
      "name": "CreateStreamingURL",
      "output": {
        "shape": "CreateStreamingURLResult"
      }
    },
    "CreateUpdatedImage": {
      "documentation": "<p>Creates a new image with the latest Windows operating system updates, driver updates, and AppStream 2.0 agent software.</p> <p>For more information, see the \"Update an Image by Using Managed AppStream 2.0 Image Updates\" section in <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/administer-images.html\">Administer Your AppStream 2.0 Images</a>, in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "IncompatibleImageException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUpdatedImageRequest"
      },
      "name": "CreateUpdatedImage",
      "output": {
        "shape": "CreateUpdatedImageResult"
      }
    },
    "CreateUsageReportSubscription": {
      "documentation": "<p>Creates a usage report subscription. Usage reports are generated daily.</p>",
      "errors": [
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUsageReportSubscriptionRequest"
      },
      "name": "CreateUsageReportSubscription",
      "output": {
        "shape": "CreateUsageReportSubscriptionResult"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a new user in the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResult"
      }
    },
    "DeleteAppBlock": {
      "documentation": "<p>Deletes an app block.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppBlockRequest"
      },
      "name": "DeleteAppBlock",
      "output": {
        "shape": "DeleteAppBlockResult"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes an application.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResult"
      }
    },
    "DeleteDirectoryConfig": {
      "documentation": "<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectoryConfigRequest"
      },
      "name": "DeleteDirectoryConfig",
      "output": {
        "shape": "DeleteDirectoryConfigResult"
      }
    },
    "DeleteEntitlement": {
      "documentation": "<p>Deletes the specified entitlement.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEntitlementRequest"
      },
      "name": "DeleteEntitlement",
      "output": {
        "shape": "DeleteEntitlementResult"
      }
    },
    "DeleteFleet": {
      "documentation": "<p>Deletes the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFleetRequest"
      },
      "name": "DeleteFleet",
      "output": {
        "shape": "DeleteFleetResult"
      }
    },
    "DeleteImage": {
      "documentation": "<p>Deletes the specified image. You cannot delete an image when it is in use. After you delete an image, you cannot provision new capacity using the image.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteImageBuilder": {
      "documentation": "<p>Deletes the specified image builder and releases the capacity.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageBuilderRequest"
      },
      "name": "DeleteImageBuilder",
      "output": {
        "shape": "DeleteImageBuilderResult"
      }
    },
    "DeleteImagePermissions": {
      "documentation": "<p>Deletes permissions for the specified private image. After you delete permissions for an image, AWS accounts to which you previously granted these permissions can no longer use the image.</p>",
      "errors": [
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImagePermissionsRequest"
      },
      "name": "DeleteImagePermissions",
      "output": {
        "shape": "DeleteImagePermissionsResult"
      }
    },
    "DeleteStack": {
      "documentation": "<p>Deletes the specified stack. After the stack is deleted, the application streaming environment provided by the stack is no longer available to users. Also, any reservations made for application streaming sessions for the stack are released.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStackRequest"
      },
      "name": "DeleteStack",
      "output": {
        "shape": "DeleteStackResult"
      }
    },
    "DeleteUsageReportSubscription": {
      "documentation": "<p>Disables usage report generation.</p>",
      "errors": [
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUsageReportSubscriptionRequest"
      },
      "name": "DeleteUsageReportSubscription",
      "output": {
        "shape": "DeleteUsageReportSubscriptionResult"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a user from the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResult"
      }
    },
    "DescribeAppBlocks": {
      "documentation": "<p>Retrieves a list that describes one or more app blocks.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAppBlocksRequest"
      },
      "name": "DescribeAppBlocks",
      "output": {
        "shape": "DescribeAppBlocksResult"
      }
    },
    "DescribeApplicationFleetAssociations": {
      "documentation": "<p>Retrieves a list that describes one or more application fleet associations. Either ApplicationArn or FleetName must be specified.</p>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationFleetAssociationsRequest"
      },
      "name": "DescribeApplicationFleetAssociations",
      "output": {
        "shape": "DescribeApplicationFleetAssociationsResult"
      }
    },
    "DescribeApplications": {
      "documentation": "<p>Retrieves a list that describes one or more applications.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationsRequest"
      },
      "name": "DescribeApplications",
      "output": {
        "shape": "DescribeApplicationsResult"
      }
    },
    "DescribeDirectoryConfigs": {
      "documentation": "<p>Retrieves a list that describes one or more specified Directory Config objects for AppStream 2.0, if the names for these objects are provided. Otherwise, all Directory Config objects in the account are described. These objects include the configuration information required to join fleets and image builders to Microsoft Active Directory domains. </p> <p>Although the response syntax in this topic includes the account password, this password is not returned in the actual response.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectoryConfigsRequest"
      },
      "name": "DescribeDirectoryConfigs",
      "output": {
        "shape": "DescribeDirectoryConfigsResult"
      }
    },
    "DescribeEntitlements": {
      "documentation": "<p>Retrieves a list that describes one of more entitlements.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntitlementsRequest"
      },
      "name": "DescribeEntitlements",
      "output": {
        "shape": "DescribeEntitlementsResult"
      }
    },
    "DescribeFleets": {
      "documentation": "<p>Retrieves a list that describes one or more specified fleets, if the fleet names are provided. Otherwise, all fleets in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFleetsRequest"
      },
      "name": "DescribeFleets",
      "output": {
        "shape": "DescribeFleetsResult"
      }
    },
    "DescribeImageBuilders": {
      "documentation": "<p>Retrieves a list that describes one or more specified image builders, if the image builder names are provided. Otherwise, all image builders in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImageBuildersRequest"
      },
      "name": "DescribeImageBuilders",
      "output": {
        "shape": "DescribeImageBuildersResult"
      }
    },
    "DescribeImagePermissions": {
      "documentation": "<p>Retrieves a list that describes the permissions for shared AWS account IDs on a private image that you own. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImagePermissionsRequest"
      },
      "name": "DescribeImagePermissions",
      "output": {
        "shape": "DescribeImagePermissionsResult"
      }
    },
    "DescribeImages": {
      "documentation": "<p>Retrieves a list that describes one or more specified images, if the image names or image ARNs are provided. Otherwise, all images in the account are described.</p>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeSessions": {
      "documentation": "<p>Retrieves a list that describes the streaming sessions for a specified stack and fleet. If a UserId is provided for the stack and fleet, only streaming sessions for that user are described. If an authentication type is not provided, the default is to authenticate users using a streaming URL.</p>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSessionsRequest"
      },
      "name": "DescribeSessions",
      "output": {
        "shape": "DescribeSessionsResult"
      }
    },
    "DescribeStacks": {
      "documentation": "<p>Retrieves a list that describes one or more specified stacks, if the stack names are provided. Otherwise, all stacks in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStacksRequest"
      },
      "name": "DescribeStacks",
      "output": {
        "shape": "DescribeStacksResult"
      }
    },
    "DescribeUsageReportSubscriptions": {
      "documentation": "<p>Retrieves a list that describes one or more usage report subscriptions.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccountStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUsageReportSubscriptionsRequest"
      },
      "name": "DescribeUsageReportSubscriptions",
      "output": {
        "shape": "DescribeUsageReportSubscriptionsResult"
      }
    },
    "DescribeUserStackAssociations": {
      "documentation": "<p>Retrieves a list that describes the UserStackAssociation objects. You must specify either or both of the following:</p> <ul> <li> <p>The stack name</p> </li> <li> <p>The user name (email address of the user associated with the stack) and the authentication type for the user</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserStackAssociationsRequest"
      },
      "name": "DescribeUserStackAssociations",
      "output": {
        "shape": "DescribeUserStackAssociationsResult"
      }
    },
    "DescribeUsers": {
      "documentation": "<p>Retrieves a list that describes one or more specified users in the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUsersRequest"
      },
      "name": "DescribeUsers",
      "output": {
        "shape": "DescribeUsersResult"
      }
    },
    "DisableUser": {
      "documentation": "<p>Disables the specified user in the user pool. Users can't sign in to AppStream 2.0 until they are re-enabled. This action does not delete the user. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableUserRequest"
      },
      "name": "DisableUser",
      "output": {
        "shape": "DisableUserResult"
      }
    },
    "DisassociateApplicationFleet": {
      "documentation": "<p>Disassociates the specified application from the fleet.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateApplicationFleetRequest"
      },
      "name": "DisassociateApplicationFleet",
      "output": {
        "shape": "DisassociateApplicationFleetResult"
      }
    },
    "DisassociateApplicationFromEntitlement": {
      "documentation": "<p>Deletes the specified application from the specified entitlement.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateApplicationFromEntitlementRequest"
      },
      "name": "DisassociateApplicationFromEntitlement",
      "output": {
        "shape": "DisassociateApplicationFromEntitlementResult"
      }
    },
    "DisassociateFleet": {
      "documentation": "<p>Disassociates the specified fleet from the specified stack.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateFleetRequest"
      },
      "name": "DisassociateFleet",
      "output": {
        "shape": "DisassociateFleetResult"
      }
    },
    "EnableUser": {
      "documentation": "<p>Enables a user in the user pool. After being enabled, users can sign in to AppStream 2.0 and open applications from the stacks to which they are assigned.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccountStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableUserRequest"
      },
      "name": "EnableUser",
      "output": {
        "shape": "EnableUserResult"
      }
    },
    "ExpireSession": {
      "documentation": "<p>Immediately stops the specified streaming session.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExpireSessionRequest"
      },
      "name": "ExpireSession",
      "output": {
        "shape": "ExpireSessionResult"
      }
    },
    "ListAssociatedFleets": {
      "documentation": "<p>Retrieves the name of the fleet that is associated with the specified stack.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociatedFleetsRequest"
      },
      "name": "ListAssociatedFleets",
      "output": {
        "shape": "ListAssociatedFleetsResult"
      }
    },
    "ListAssociatedStacks": {
      "documentation": "<p>Retrieves the name of the stack with which the specified fleet is associated.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociatedStacksRequest"
      },
      "name": "ListAssociatedStacks",
      "output": {
        "shape": "ListAssociatedStacksResult"
      }
    },
    "ListEntitledApplications": {
      "documentation": "<p>Retrieves a list of entitled applications.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntitledApplicationsRequest"
      },
      "name": "ListEntitledApplications",
      "output": {
        "shape": "ListEntitledApplicationsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves a list of all tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartFleet": {
      "documentation": "<p>Starts the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "RequestLimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartFleetRequest"
      },
      "name": "StartFleet",
      "output": {
        "shape": "StartFleetResult"
      }
    },
    "StartImageBuilder": {
      "documentation": "<p>Starts the specified image builder.</p>",
      "errors": [
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartImageBuilderRequest"
      },
      "name": "StartImageBuilder",
      "output": {
        "shape": "StartImageBuilderResult"
      }
    },
    "StopFleet": {
      "documentation": "<p>Stops the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopFleetRequest"
      },
      "name": "StopFleet",
      "output": {
        "shape": "StopFleetResult"
      }
    },
    "StopImageBuilder": {
      "documentation": "<p>Stops the specified image builder.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopImageBuilderRequest"
      },
      "name": "StopImageBuilder",
      "output": {
        "shape": "StopImageBuilderResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Disassociates one or more specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates the specified application.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResult"
      }
    },
    "UpdateDirectoryConfig": {
      "documentation": "<p>Updates the specified Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDirectoryConfigRequest"
      },
      "name": "UpdateDirectoryConfig",
      "output": {
        "shape": "UpdateDirectoryConfigResult"
      }
    },
    "UpdateEntitlement": {
      "documentation": "<p>Updates the specified entitlement.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntitlementNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEntitlementRequest"
      },
      "name": "UpdateEntitlement",
      "output": {
        "shape": "UpdateEntitlementResult"
      }
    },
    "UpdateFleet": {
      "documentation": "<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name.</p> <p>If the fleet is in the <code>RUNNING</code> state, you can update the following based on the fleet type:</p> <ul> <li> <p>Always-On and On-Demand fleet types</p> <p>You can update the <code>DisplayName</code>, <code>ComputeCapacity</code>, <code>ImageARN</code>, <code>ImageName</code>, <code>IdleDisconnectTimeoutInSeconds</code>, and <code>DisconnectTimeoutInSeconds</code> attributes.</p> </li> <li> <p>Elastic fleet type</p> <p>You can update the <code>DisplayName</code>, <code>IdleDisconnectTimeoutInSeconds</code>, <code>DisconnectTimeoutInSeconds</code>, <code>MaxConcurrentSessions</code>, <code>SessionScriptS3Location</code> and <code>UsbDeviceFilterStrings</code> attributes.</p> </li> </ul> <p>If the fleet is in the <code>STARTING</code> or <code>STOPPED</code> state, you can't update it.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "RequestLimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFleetRequest"
      },
      "name": "UpdateFleet",
      "output": {
        "shape": "UpdateFleetResult"
      }
    },
    "UpdateImagePermissions": {
      "documentation": "<p>Adds or updates permissions for the specified private image. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateImagePermissionsRequest"
      },
      "name": "UpdateImagePermissions",
      "output": {
        "shape": "UpdateImagePermissionsResult"
      }
    },
    "UpdateStack": {
      "documentation": "<p>Updates the specified fields for the specified stack.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStackRequest"
      },
      "name": "UpdateStack",
      "output": {
        "shape": "UpdateStackResult"
      }
    }
  },
  "shapes": {
    "AccessEndpoint": {
      "documentation": "<p>Describes an interface VPC endpoint (interface endpoint) that lets you create a private connection between the virtual private cloud (VPC) that you specify and AppStream 2.0. When you specify an interface endpoint for a stack, users of the stack can connect to AppStream 2.0 only through that endpoint. When you specify an interface endpoint for an image builder, administrators can connect to the image builder only through that endpoint.</p>",
      "members": {
        "EndpointType": {
          "documentation": "<p>The type of interface endpoint.</p>",
          "shape": "AccessEndpointType"
        },
        "VpceId": {
          "documentation": "<p>The identifier (ID) of the VPC in which the interface endpoint is used.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointType"
      ],
      "type": "structure"
    },
    "AccessEndpointList": {
      "max": 4,
      "member": {
        "shape": "AccessEndpoint"
      },
      "min": 1,
      "type": "list"
    },
    "AccessEndpointType": {
      "enum": [
        "STREAMING"
      ],
      "type": "string"
    },
    "AccountName": {
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "AccountPassword": {
      "max": 127,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "Action": {
      "enum": [
        "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
        "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
        "FILE_UPLOAD",
        "FILE_DOWNLOAD",
        "PRINTING_TO_LOCAL_DEVICE",
        "DOMAIN_PASSWORD_SIGNIN",
        "DOMAIN_SMART_CARD_SIGNIN"
      ],
      "type": "string"
    },
    "AppBlock": {
      "documentation": "<p>Describes an app block.</p> <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the virtual hard disk in an S3 bucket. It also stores the setup script with details about how to mount the virtual hard disk. The virtual hard disk includes the application binaries and other files necessary to launch your applications. Multiple applications can be assigned to a single app block.</p> <p>This is only supported for Elastic fleets.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the app block.</p>",
          "shape": "Arn"
        },
        "CreatedTime": {
          "documentation": "<p>The created time of the app block.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the app block.</p>",
          "shape": "String"
        },
        "DisplayName": {
          "documentation": "<p>The display name of the app block.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the app block.</p>",
          "shape": "String"
        },
        "SetupScriptDetails": {
          "documentation": "<p>The setup script details of the app block.</p>",
          "shape": "ScriptDetails"
        },
        "SourceS3Location": {
          "documentation": "<p>The source S3 location of the app block.</p>",
          "shape": "S3Location"
        }
      },
      "required": [
        "Name",
        "Arn",
        "SetupScriptDetails"
      ],
      "type": "structure"
    },
    "AppBlocks": {
      "member": {
        "shape": "AppBlock"
      },
      "type": "list"
    },
    "AppVisibility": {
      "enum": [
        "ALL",
        "ASSOCIATED"
      ],
      "type": "string"
    },
    "Application": {
      "documentation": "<p>Describes an application in the application catalog.</p>",
      "members": {
        "AppBlockArn": {
          "documentation": "<p>The app block ARN of the application.</p>",
          "shape": "Arn"
        },
        "Arn": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "Arn"
        },
        "CreatedTime": {
          "documentation": "<p>The time at which the application was created within the app block.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the application.</p>",
          "shape": "String"
        },
        "DisplayName": {
          "documentation": "<p>The application name to display.</p>",
          "shape": "String"
        },
        "Enabled": {
          "documentation": "<p>If there is a problem, the application can be disabled after image creation.</p>",
          "shape": "Boolean"
        },
        "IconS3Location": {
          "documentation": "<p>The S3 location of the application icon.</p>",
          "shape": "S3Location"
        },
        "IconURL": {
          "documentation": "<p>The URL for the application icon. This URL might be time-limited.</p>",
          "shape": "String"
        },
        "InstanceFamilies": {
          "documentation": "<p>The instance families for the application.</p>",
          "shape": "StringList"
        },
        "LaunchParameters": {
          "documentation": "<p>The arguments that are passed to the application at launch.</p>",
          "shape": "String"
        },
        "LaunchPath": {
          "documentation": "<p>The path to the application executable in the instance.</p>",
          "shape": "String"
        },
        "Metadata": {
          "documentation": "<p>Additional attributes that describe the application.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "String"
        },
        "Platforms": {
          "documentation": "<p>The platforms on which the application can run.</p>",
          "shape": "Platforms"
        },
        "WorkingDirectory": {
          "documentation": "<p>The working directory for the application.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApplicationAttribute": {
      "enum": [
        "LAUNCH_PARAMETERS",
        "WORKING_DIRECTORY"
      ],
      "type": "string"
    },
    "ApplicationAttributes": {
      "max": 2,
      "member": {
        "shape": "ApplicationAttribute"
      },
      "type": "list"
    },
    "ApplicationFleetAssociation": {
      "documentation": "<p>Describes the application fleet association.</p>",
      "members": {
        "ApplicationArn": {
          "documentation": "<p>The ARN of the application associated with the fleet.</p>",
          "shape": "Arn"
        },
        "FleetName": {
          "documentation": "<p>The name of the fleet associated with the application.</p>",
          "shape": "String"
        }
      },
      "required": [
        "FleetName",
        "ApplicationArn"
      ],
      "type": "structure"
    },
    "ApplicationFleetAssociationList": {
      "max": 25,
      "member": {
        "shape": "ApplicationFleetAssociation"
      },
      "min": 1,
      "type": "list"
    },
    "ApplicationSettings": {
      "documentation": "<p>The persistent application settings for users of a stack.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enables or disables persistent application settings for users during their streaming sessions. </p>",
          "shape": "Boolean"
        },
        "SettingsGroup": {
          "documentation": "<p>The path prefix for the S3 bucket where users\u2019 persistent application settings are stored. You can allow the same persistent application settings to be used across multiple stacks by specifying the same settings group for each stack. </p>",
          "shape": "SettingsGroup"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "ApplicationSettingsResponse": {
      "documentation": "<p>Describes the persistent application settings for users of a stack.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Specifies whether persistent application settings are enabled for users during their streaming sessions.</p>",
          "shape": "Boolean"
        },
        "S3BucketName": {
          "documentation": "<p>The S3 bucket where users\u2019 persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an AWS Region, an S3 bucket is created. The bucket is unique to the AWS account and the Region. </p>",
          "shape": "String"
        },
        "SettingsGroup": {
          "documentation": "<p>The path prefix for the S3 bucket where users\u2019 persistent application settings are stored.</p>",
          "shape": "SettingsGroup"
        }
      },
      "type": "structure"
    },
    "Applications": {
      "member": {
        "shape": "Application"
      },
      "type": "list"
    },
    "AppstreamAgentVersion": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "Arn": {
      "pattern": "^arn:aws(?:\\-cn|\\-iso\\-b|\\-iso|\\-us\\-gov)?:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.\\\\-]{0,1023}$",
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AssociateApplicationFleetRequest": {
      "members": {
        "ApplicationArn": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "Arn"
        },
        "FleetName": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "FleetName",
        "ApplicationArn"
      ],
      "type": "structure"
    },
    "AssociateApplicationFleetResult": {
      "members": {
        "ApplicationFleetAssociation": {
          "documentation": "<p>If fleet name is specified, this returns the list of applications that are associated to it. If application ARN is specified, this returns the list of fleets to which it is associated.</p>",
          "shape": "ApplicationFleetAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateApplicationToEntitlementRequest": {
      "members": {
        "ApplicationIdentifier": {
          "documentation": "<p>The identifier of the application.</p>",
          "shape": "String"
        },
        "EntitlementName": {
          "documentation": "<p>The name of the entitlement.</p>",
          "shape": "Name"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "StackName",
        "EntitlementName",
        "ApplicationIdentifier"
      ],
      "type": "structure"
    },
    "AssociateApplicationToEntitlementResult": {
      "members": {},
      "type": "structure"
    },
    "AssociateFleetRequest": {
      "members": {
        "FleetName": {
          "documentation": "<p>The name of the fleet. </p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        }
      },
      "required": [
        "FleetName",
        "StackName"
      ],
      "type": "structure"
    },
    "AssociateFleetResult": {
      "members": {},
      "type": "structure"
    },
    "AuthenticationType": {
      "enum": [
        "API",
        "SAML",
        "USERPOOL",
        "AWS_AD"
      ],
      "type": "string"
    },
    "AwsAccountId": {
      "pattern": "^\\d+$",
      "type": "string"
    },
    "AwsAccountIdList": {
      "max": 5,
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 1,
      "type": "list"
    },
    "BatchAssociateUserStackRequest": {
      "members": {
        "UserStackAssociations": {
          "documentation": "<p>The list of UserStackAssociation objects.</p>",
          "shape": "UserStackAssociationList"
        }
      },
      "required": [
        "UserStackAssociations"
      ],
      "type": "structure"
    },
    "BatchAssociateUserStackResult": {
      "members": {
        "errors": {
          "documentation": "<p>The list of UserStackAssociationError objects.</p>",
          "shape": "UserStackAssociationErrorList"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateUserStackRequest": {
      "members": {
        "UserStackAssociations": {
          "documentation": "<p>The list of UserStackAssociation objects.</p>",
          "shape": "UserStackAssociationList"
        }
      },
      "required": [
        "UserStackAssociations"
      ],
      "type": "structure"
    },
    "BatchDisassociateUserStackResult": {
      "members": {
        "errors": {
          "documentation": "<p>The list of UserStackAssociationError objects.</p>",
          "shape": "UserStackAssociationErrorList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "CertificateBasedAuthProperties": {
      "documentation": "<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity Provider (IdP) user identities to Active Directory domain-joined streaming instances. Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD domain password if certificate-based authentication is unsuccessful, or to unlock a desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based authentication, but does not allow users to log in using their AD domain password. Users will be disconnected to re-authenticate using certificates.</p>",
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The ARN of the AWS Certificate Manager Private CA resource.</p>",
          "shape": "Arn"
        },
        "Status": {
          "documentation": "<p>The status of the certificate-based authentication properties.</p>",
          "shape": "CertificateBasedAuthStatus"
        }
      },
      "type": "structure"
    },
    "CertificateBasedAuthStatus": {
      "enum": [
        "DISABLED",
        "ENABLED",
        "ENABLED_NO_DIRECTORY_LOGIN_FALLBACK"
      ],
      "type": "string"
    },
    "ComputeCapacity": {
      "documentation": "<p>Describes the capacity for a fleet.</p>",
      "members": {
        "DesiredInstances": {
          "documentation": "<p>The desired number of streaming instances.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "DesiredInstances"
      ],
      "type": "structure"
    },
    "ComputeCapacityStatus": {
      "documentation": "<p>Describes the capacity status for a fleet.</p>",
      "members": {
        "Available": {
          "documentation": "<p>The number of currently available instances that can be used to stream sessions.</p>",
          "shape": "Integer"
        },
        "Desired": {
          "documentation": "<p>The desired number of streaming instances.</p>",
          "shape": "Integer"
        },
        "InUse": {
          "documentation": "<p>The number of instances in use for streaming.</p>",
          "shape": "Integer"
        },
        "Running": {
          "documentation": "<p>The total number of simultaneous streaming instances that are running.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "Desired"
      ],
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>An API error occurred. Wait a few minutes and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CopyImageRequest": {
      "members": {
        "DestinationImageDescription": {
          "documentation": "<p>The description that the image will have when it is copied to the destination.</p>",
          "shape": "Description"
        },
        "DestinationImageName": {
          "documentation": "<p>The name that the image will have when it is copied to the destination.</p>",
          "shape": "Name"
        },
        "DestinationRegion": {
          "documentation": "<p>The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.</p>",
          "shape": "RegionName"
        },
        "SourceImageName": {
          "documentation": "<p>The name of the image to copy.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "SourceImageName",
        "DestinationImageName",
        "DestinationRegion"
      ],
      "type": "structure"
    },
    "CopyImageResponse": {
      "members": {
        "DestinationImageName": {
          "documentation": "<p>The name of the destination image.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "CreateAppBlockRequest": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the app block.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The display name of the app block. This is not displayed to the user.</p>",
          "shape": "DisplayName"
        },
        "Name": {
          "documentation": "<p>The name of the app block.</p>",
          "shape": "Name"
        },
        "SetupScriptDetails": {
          "documentation": "<p>The setup script details of the app block.</p>",
          "shape": "ScriptDetails"
        },
        "SourceS3Location": {
          "documentation": "<p>The source S3 location of the app block.</p>",
          "shape": "S3Location"
        },
        "Tags": {
          "documentation": "<p>The tags assigned to the app block.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Name",
        "SourceS3Location",
        "SetupScriptDetails"
      ],
      "type": "structure"
    },
    "CreateAppBlockResult": {
      "members": {
        "AppBlock": {
          "documentation": "<p>The app block.</p>",
          "shape": "AppBlock"
        }
      },
      "type": "structure"
    },
    "CreateApplicationRequest": {
      "members": {
        "AppBlockArn": {
          "documentation": "<p>The app block ARN to which the application should be associated</p>",
          "shape": "Arn"
        },
        "Description": {
          "documentation": "<p>The description of the application.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The display name of the application. This name is visible to users in the application catalog.</p>",
          "shape": "DisplayName"
        },
        "IconS3Location": {
          "documentation": "<p>The location in S3 of the application icon.</p>",
          "shape": "S3Location"
        },
        "InstanceFamilies": {
          "documentation": "<p>The instance families the application supports. Valid values are GENERAL_PURPOSE and GRAPHICS_G4.</p>",
          "shape": "StringList"
        },
        "LaunchParameters": {
          "documentation": "<p>The launch parameters of the application.</p>",
          "shape": "String"
        },
        "LaunchPath": {
          "documentation": "<p>The launch path of the application.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the application. This name is visible to users when display name is not specified.</p>",
          "shape": "Name"
        },
        "Platforms": {
          "documentation": "<p>The platforms the application supports. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic fleets.</p>",
          "shape": "Platforms"
        },
        "Tags": {
          "documentation": "<p>The tags assigned to the application.</p>",
          "shape": "Tags"
        },
        "WorkingDirectory": {
          "documentation": "<p>The working directory of the application.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "IconS3Location",
        "LaunchPath",
        "Platforms",
        "InstanceFamilies",
        "AppBlockArn"
      ],
      "type": "structure"
    },
    "CreateApplicationResult": {
      "members": {
        "Application": {
          "shape": "Application"
        }
      },
      "type": "structure"
    },
    "CreateDirectoryConfigRequest": {
      "members": {
        "CertificateBasedAuthProperties": {
          "documentation": "<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity Provider (IdP) user identities to Active Directory domain-joined streaming instances. Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD domain password if certificate-based authentication is unsuccessful, or to unlock a desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based authentication, but does not allow users to log in using their AD domain password. Users will be disconnected to re-authenticate using certificates.</p>",
          "shape": "CertificateBasedAuthProperties"
        },
        "DirectoryName": {
          "documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
          "shape": "DirectoryName"
        },
        "OrganizationalUnitDistinguishedNames": {
          "documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>",
          "shape": "OrganizationalUnitDistinguishedNamesList"
        },
        "ServiceAccountCredentials": {
          "documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>",
          "shape": "ServiceAccountCredentials"
        }
      },
      "required": [
        "DirectoryName",
        "OrganizationalUnitDistinguishedNames"
      ],
      "type": "structure"
    },
    "CreateDirectoryConfigResult": {
      "members": {
        "DirectoryConfig": {
          "documentation": "<p>Information about the directory configuration.</p>",
          "shape": "DirectoryConfig"
        }
      },
      "type": "structure"
    },
    "CreateEntitlementRequest": {
      "members": {
        "AppVisibility": {
          "documentation": "<p>Specifies whether all or selected apps are entitled.</p>",
          "shape": "AppVisibility"
        },
        "Attributes": {
          "documentation": "<p>The attributes of the entitlement.</p>",
          "shape": "EntitlementAttributeList"
        },
        "Description": {
          "documentation": "<p>The description of the entitlement.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the entitlement.</p>",
          "shape": "Name"
        },
        "StackName": {
          "documentation": "<p>The name of the stack with which the entitlement is associated.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "Name",
        "StackName",
        "AppVisibility",
        "Attributes"
      ],
      "type": "structure"
    },
    "CreateEntitlementResult": {
      "members": {
        "Entitlement": {
          "documentation": "<p>The entitlement.</p>",
          "shape": "Entitlement"
        }
      },
      "type": "structure"
    },
    "CreateFleetRequest": {
      "members": {
        "ComputeCapacity": {
          "documentation": "<p>The desired capacity for the fleet. This is not allowed for Elastic fleets. For Elastic fleets, specify MaxConcurrentSessions instead.</p>",
          "shape": "ComputeCapacity"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that a streaming session remains active after users disconnect. If users try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance. </p> <p>Specify a value between 60 and 360000.</p>",
          "shape": "Integer"
        },
        "DisplayName": {
          "documentation": "<p>The fleet name to display.</p>",
          "shape": "DisplayName"
        },
        "DomainJoinInfo": {
          "documentation": "<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. This is not allowed for Elastic fleets. </p>",
          "shape": "DomainJoinInfo"
        },
        "EnableDefaultInternetAccess": {
          "documentation": "<p>Enables or disables default internet access for the fleet.</p>",
          "shape": "BooleanObject"
        },
        "FleetType": {
          "documentation": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>",
          "shape": "FleetType"
        },
        "IamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the fleet. To assume a role, a fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Arn"
        },
        "IdleDisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time interval begins. Users are notified before they are disconnected due to inactivity. If they try to reconnect to the streaming session before the time interval specified in <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their previous session. Users are considered idle when they stop providing keyboard or mouse input during their streaming session. File uploads and downloads, audio in, audio out, and pixels changing do not qualify as user activity. If users continue to be idle after the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are disconnected.</p> <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 3600. The default value is 0.</p> <note> <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p> </note>",
          "shape": "Integer"
        },
        "ImageArn": {
          "documentation": "<p>The ARN of the public, private, or shared image to use.</p>",
          "shape": "Arn"
        },
        "ImageName": {
          "documentation": "<p>The name of the image used to create the fleet.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.standard.xlarge</p> </li> <li> <p>stream.standard.2xlarge</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.memory.z1d.large</p> </li> <li> <p>stream.memory.z1d.xlarge</p> </li> <li> <p>stream.memory.z1d.2xlarge</p> </li> <li> <p>stream.memory.z1d.3xlarge</p> </li> <li> <p>stream.memory.z1d.6xlarge</p> </li> <li> <p>stream.memory.z1d.12xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.xlarge</p> </li> <li> <p>stream.graphics.g4dn.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.4xlarge</p> </li> <li> <p>stream.graphics.g4dn.8xlarge</p> </li> <li> <p>stream.graphics.g4dn.12xlarge</p> </li> <li> <p>stream.graphics.g4dn.16xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul> <p>The following instance types are available for Elastic fleets:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.standard.xlarge</p> </li> <li> <p>stream.standard.2xlarge</p> </li> </ul>",
          "shape": "String"
        },
        "MaxConcurrentSessions": {
          "documentation": "<p>The maximum concurrent sessions of the Elastic fleet. This is required for Elastic fleets, and not allowed for other fleet types.</p>",
          "shape": "Integer"
        },
        "MaxUserDurationInSeconds": {
          "documentation": "<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance.</p> <p>Specify a value between 600 and 360000.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>A unique name for the fleet.</p>",
          "shape": "Name"
        },
        "Platform": {
          "documentation": "<p>The fleet platform. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic fleets. </p>",
          "shape": "PlatformType"
        },
        "SessionScriptS3Location": {
          "documentation": "<p>The S3 location of the session scripts configuration zip file. This only applies to Elastic fleets.</p>",
          "shape": "S3Location"
        },
        "StreamView": {
          "documentation": "<p>The AppStream 2.0 view that is displayed to your users when they stream from the fleet. When <code>APP</code> is specified, only the windows of applications opened by users display. When <code>DESKTOP</code> is specified, the standard desktop that is provided by the operating system displays.</p> <p>The default value is <code>APP</code>.</p>",
          "shape": "StreamView"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "UsbDeviceFilterStrings": {
          "documentation": "<p>The USB device filter strings that specify which USB devices a user can redirect to the fleet streaming session, when using the Windows native client. This is allowed but not required for Elastic fleets.</p>",
          "shape": "UsbDeviceFilterStrings"
        },
        "VpcConfig": {
          "documentation": "<p>The VPC configuration for the fleet. This is required for Elastic fleets, but not required for other fleet types. Elastic fleets require that you specify at least two subnets in different availability zones.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "Name",
        "InstanceType"
      ],
      "type": "structure"
    },
    "CreateFleetResult": {
      "members": {
        "Fleet": {
          "documentation": "<p>Information about the fleet.</p>",
          "shape": "Fleet"
        }
      },
      "type": "structure"
    },
    "CreateImageBuilderRequest": {
      "members": {
        "AccessEndpoints": {
          "documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the image builder only through the specified endpoints.</p>",
          "shape": "AccessEndpointList"
        },
        "AppstreamAgentVersion": {
          "documentation": "<p>The version of the AppStream 2.0 agent to use for this image builder. To use the latest version of the AppStream 2.0 agent, specify [LATEST]. </p>",
          "shape": "AppstreamAgentVersion"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The image builder name to display.</p>",
          "shape": "DisplayName"
        },
        "DomainJoinInfo": {
          "documentation": "<p>The name of the directory and organizational unit (OU) to use to join the image builder to a Microsoft Active Directory domain. </p>",
          "shape": "DomainJoinInfo"
        },
        "EnableDefaultInternetAccess": {
          "documentation": "<p>Enables or disables default internet access for the image builder.</p>",
          "shape": "BooleanObject"
        },
        "IamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the image builder. To assume a role, the image builder calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Arn"
        },
        "ImageArn": {
          "documentation": "<p>The ARN of the public, private, or shared image to use.</p>",
          "shape": "Arn"
        },
        "ImageName": {
          "documentation": "<p>The name of the image used to create the image builder.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The instance type to use when launching the image builder. The following instance types are available:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.memory.z1d.large</p> </li> <li> <p>stream.memory.z1d.xlarge</p> </li> <li> <p>stream.memory.z1d.2xlarge</p> </li> <li> <p>stream.memory.z1d.3xlarge</p> </li> <li> <p>stream.memory.z1d.6xlarge</p> </li> <li> <p>stream.memory.z1d.12xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.xlarge</p> </li> <li> <p>stream.graphics.g4dn.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.4xlarge</p> </li> <li> <p>stream.graphics.g4dn.8xlarge</p> </li> <li> <p>stream.graphics.g4dn.12xlarge</p> </li> <li> <p>stream.graphics.g4dn.16xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>A unique name for the image builder.</p>",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the image builder. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "VpcConfig": {
          "documentation": "<p>The VPC configuration for the image builder. You can specify only one subnet.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "Name",
        "InstanceType"
      ],
      "type": "structure"
    },
    "CreateImageBuilderResult": {
      "members": {
        "ImageBuilder": {
          "documentation": "<p>Information about the image builder.</p>",
          "shape": "ImageBuilder"
        }
      },
      "type": "structure"
    },
    "CreateImageBuilderStreamingURLRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the image builder.</p>",
          "shape": "String"
        },
        "Validity": {
          "documentation": "<p>The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 3600 seconds.</p>",
          "shape": "Long"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateImageBuilderStreamingURLResult": {
      "members": {
        "Expires": {
          "documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>",
          "shape": "Timestamp"
        },
        "StreamingURL": {
          "documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateStackRequest": {
      "members": {
        "AccessEndpoints": {
          "documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Users of the stack can connect to AppStream 2.0 only through the specified endpoints.</p>",
          "shape": "AccessEndpointList"
        },
        "ApplicationSettings": {
          "documentation": "<p>The persistent application settings for users of a stack. When these settings are enabled, changes that users make to applications and Windows settings are automatically saved after each session and applied to the next session.</p>",
          "shape": "ApplicationSettings"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The stack name to display.</p>",
          "shape": "DisplayName"
        },
        "EmbedHostDomains": {
          "documentation": "<p>The domains where AppStream 2.0 streaming sessions can be embedded in an iframe. You must approve the domains that you want to host embedded AppStream 2.0 streaming sessions. </p>",
          "shape": "EmbedHostDomains"
        },
        "FeedbackURL": {
          "documentation": "<p>The URL that users are redirected to after they click the Send Feedback link. If no URL is specified, no Send Feedback link is displayed.</p>",
          "shape": "FeedbackURL"
        },
        "Name": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "Name"
        },
        "RedirectURL": {
          "documentation": "<p>The URL that users are redirected to after their streaming session ends.</p>",
          "shape": "RedirectURL"
        },
        "StorageConnectors": {
          "documentation": "<p>The storage connectors to enable.</p>",
          "shape": "StorageConnectorList"
        },
        "StreamingExperienceSettings": {
          "documentation": "<p>The streaming protocol you want your stack to prefer. This can be UDP or TCP. Currently, UDP is only supported in the Windows native client.</p>",
          "shape": "StreamingExperienceSettings"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the stack. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "UserSettings": {
          "documentation": "<p>The actions that are enabled or disabled for users during their streaming sessions. By default, these actions are enabled. </p>",
          "shape": "UserSettingList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateStackResult": {
      "members": {
        "Stack": {
          "documentation": "<p>Information about the stack.</p>",
          "shape": "Stack"
        }
      },
      "type": "structure"
    },
    "CreateStreamingURLRequest": {
      "members": {
        "ApplicationId": {
          "documentation": "<p>The name of the application to launch after the session starts. This is the name that you specified as <b>Name</b> in the Image Assistant. If your fleet is enabled for the <b>Desktop</b> stream view, you can also choose to launch directly to the operating system desktop. To do so, specify <b>Desktop</b>.</p>",
          "shape": "String"
        },
        "FleetName": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "String"
        },
        "SessionContext": {
          "documentation": "<p>The session context. For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session Context</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        },
        "UserId": {
          "documentation": "<p>The identifier of the user.</p>",
          "shape": "StreamingUrlUserId"
        },
        "Validity": {
          "documentation": "<p>The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 60 seconds.</p>",
          "shape": "Long"
        }
      },
      "required": [
        "StackName",
        "FleetName",
        "UserId"
      ],
      "type": "structure"
    },
    "CreateStreamingURLResult": {
      "members": {
        "Expires": {
          "documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>",
          "shape": "Timestamp"
        },
        "StreamingURL": {
          "documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateUpdatedImageRequest": {
      "members": {
        "dryRun": {
          "documentation": "<p>Indicates whether to display the status of image update availability before AppStream 2.0 initiates the process of creating a new updated image. If this value is set to <code>true</code>, AppStream 2.0 displays whether image updates are available. If this value is set to <code>false</code>, AppStream 2.0 initiates the process of creating a new updated image without displaying whether image updates are available.</p>",
          "shape": "Boolean"
        },
        "existingImageName": {
          "documentation": "<p>The name of the image to update.</p>",
          "shape": "Name"
        },
        "newImageDescription": {
          "documentation": "<p>The description to display for the new image.</p>",
          "shape": "Description"
        },
        "newImageDisplayName": {
          "documentation": "<p>The name to display for the new image.</p>",
          "shape": "DisplayName"
        },
        "newImageName": {
          "documentation": "<p>The name of the new image. The name must be unique within the AWS account and Region.</p>",
          "shape": "Name"
        },
        "newImageTags": {
          "documentation": "<p>The tags to associate with the new image. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "existingImageName",
        "newImageName"
      ],
      "type": "structure"
    },
    "CreateUpdatedImageResult": {
      "members": {
        "canUpdateImage": {
          "documentation": "<p>Indicates whether a new image can be created.</p>",
          "shape": "Boolean"
        },
        "image": {
          "shape": "Image"
        }
      },
      "type": "structure"
    },
    "CreateUsageReportSubscriptionRequest": {
      "members": {},
      "type": "structure"
    },
    "CreateUsageReportSubscriptionResult": {
      "members": {
        "S3BucketName": {
          "documentation": "<p>The Amazon S3 bucket where generated reports are stored.</p> <p>If you enabled on-instance session scripts and Amazon S3 logging for your session script configuration, AppStream 2.0 created an S3 bucket to store the script output. The bucket is unique to your account and Region. When you enable usage reporting in this case, AppStream 2.0 uses the same bucket to store your usage reports. If you haven't already enabled on-instance session scripts, when you enable usage reports, AppStream 2.0 creates a new S3 bucket.</p>",
          "shape": "String"
        },
        "Schedule": {
          "documentation": "<p>The schedule for generating usage reports.</p>",
          "shape": "UsageReportSchedule"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user. You must specify USERPOOL. </p>",
          "shape": "AuthenticationType"
        },
        "FirstName": {
          "documentation": "<p>The first name, or given name, of the user.</p>",
          "shape": "UserAttributeValue"
[...]
