{
  "documentation": "<fullname>Amazon CloudFront</fullname> <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers who need detailed information about CloudFront API actions, data types, and errors. For detailed information about CloudFront features, see the <i>Amazon CloudFront Developer Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2020-05-31",
    "endpointPrefix": "cloudfront",
    "globalEndpoint": "cloudfront.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "CloudFront",
    "serviceFullName": "Amazon CloudFront",
    "serviceId": "CloudFront",
    "signatureVersion": "v4",
    "uid": "cloudfront-2020-05-31"
  },
  "operations": {
    "AssociateAlias": {
      "documentation": "<p>Associates an alias (also known as a CNAME or an alternate domain name) with a CloudFront distribution.</p> <p>With this operation you can move an alias that\u2019s already in use on a CloudFront distribution to a different distribution in one step. This prevents the downtime that could occur if you first remove the alias from one distribution and then separately add the alias to another distribution.</p> <p>To use this operation to associate an alias with a distribution, you provide the alias and the ID of the target distribution for the alias. For more information, including how to set up the target distribution, prerequisites that you must complete, and other restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2020-05-31/distribution/{TargetDistributionId}/associate-alias",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateAliasRequest"
      },
      "name": "AssociateAlias2020_05_31"
    },
    "CreateCachePolicy": {
      "documentation": "<p>Creates a cache policy.</p> <p>After you create a cache policy, you can attach it to one or more cache behaviors. When it\u2019s attached to a cache behavior, the cache policy determines the following:</p> <ul> <li> <p>The values that CloudFront includes in the <i>cache key</i>. These values can include HTTP headers, cookies, and URL query strings. CloudFront uses the cache key to find an object in its cache that it can return to the viewer.</p> </li> <li> <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay in the CloudFront cache.</p> </li> </ul> <p>The headers, cookies, and query strings that are included in the cache key are automatically included in requests that CloudFront sends to the origin. CloudFront sends a request when it can\u2019t find an object in its cache that matches the request\u2019s cache key. If you want to send values to the origin but <i>not</i> include them in the cache key, use <code>OriginRequestPolicy</code>.</p> <p>For more information about cache policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html\">Controlling the cache key</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "CachePolicyAlreadyExists"
        },
        {
          "shape": "TooManyCachePolicies"
        },
        {
          "shape": "TooManyHeadersInCachePolicy"
        },
        {
          "shape": "TooManyCookiesInCachePolicy"
        },
        {
          "shape": "TooManyQueryStringsInCachePolicy"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/cache-policy",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCachePolicyRequest"
      },
      "name": "CreateCachePolicy2020_05_31",
      "output": {
        "shape": "CreateCachePolicyResult"
      }
    },
    "CreateCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can use an origin access identity to require users to access your content using a CloudFront URL instead of the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "CloudFrontOriginAccessIdentityAlreadyExists"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyCloudFrontOriginAccessIdentities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "CreateCloudFrontOriginAccessIdentity2020_05_31",
      "output": {
        "shape": "CreateCloudFrontOriginAccessIdentityResult"
      }
    },
    "CreateDistribution": {
      "documentation": "<p>Creates a new web distribution. You create a CloudFront distribution to tell CloudFront where you want content to be delivered from, and the details about how to track and manage content delivery. Send a <code>POST</code> request to the <code>/<i>CloudFront API version</i>/distribution</code>/<code>distribution ID</code> resource.</p> <important> <p>When you update a distribution, there are more required fields than when you create a distribution. When you update your distribution by using <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>, follow the steps included in the documentation to get the current configuration and then make your updates. This helps to make sure that you include all of the required fields. To view a summary, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-overview-required-fields.html\">Required Fields for Create Distribution and Update Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> </important>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "DistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "InvalidOriginAccessControl"
        },
        {
          "shape": "IllegalOriginAccessConfiguration"
        },
        {
          "shape": "TooManyDistributionsAssociatedToOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InvalidViewerCertificate"
        },
        {
          "shape": "InvalidMinimumProtocolVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "TooManyDistributions"
        },
        {
          "shape": "InvalidDefaultRootObject"
        },
        {
          "shape": "InvalidRelativePath"
        },
        {
          "shape": "InvalidErrorCode"
        },
        {
          "shape": "InvalidResponseCode"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidRequiredProtocol"
        },
        {
          "shape": "NoSuchOrigin"
        },
        {
          "shape": "TooManyOrigins"
        },
        {
          "shape": "TooManyOriginGroupsPerDistribution"
        },
        {
          "shape": "TooManyCacheBehaviors"
        },
        {
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "shape": "InvalidForwardCookies"
        },
        {
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "TooManyCertificates"
        },
        {
          "shape": "InvalidLocationCode"
        },
        {
          "shape": "InvalidGeoRestrictionParameter"
        },
        {
          "shape": "InvalidProtocolSettings"
        },
        {
          "shape": "InvalidTTLOrder"
        },
        {
          "shape": "InvalidWebACLId"
        },
        {
          "shape": "TooManyOriginCustomHeaders"
        },
        {
          "shape": "TooManyQueryStringParameters"
        },
        {
          "shape": "InvalidQueryStringParameters"
        },
        {
          "shape": "TooManyDistributionsWithLambdaAssociations"
        },
        {
          "shape": "TooManyDistributionsWithSingleFunctionARN"
        },
        {
          "shape": "TooManyLambdaFunctionAssociations"
        },
        {
          "shape": "InvalidLambdaFunctionAssociation"
        },
        {
          "shape": "TooManyDistributionsWithFunctionAssociations"
        },
        {
          "shape": "TooManyFunctionAssociations"
        },
        {
          "shape": "InvalidFunctionAssociation"
        },
        {
          "shape": "InvalidOriginReadTimeout"
        },
        {
          "shape": "InvalidOriginKeepaliveTimeout"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "shape": "TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToCachePolicy"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToResponseHeadersPolicy"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToOriginRequestPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToKeyGroup"
        },
        {
          "shape": "TooManyKeyGroupsAssociatedToDistribution"
        },
        {
          "shape": "TrustedKeyGroupDoesNotExist"
        },
        {
          "shape": "NoSuchRealtimeLogConfig"
        },
        {
          "shape": "RealtimeLogConfigOwnerMismatch"
        },
        {
          "shape": "InvalidDomainNameForOriginAccessControl"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/distribution",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDistributionRequest"
      },
      "name": "CreateDistribution2020_05_31",
      "output": {
        "shape": "CreateDistributionResult"
      }
    },
    "CreateDistributionWithTags": {
      "documentation": "<p>Create a new distribution with tags.</p>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "DistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "InvalidOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InvalidViewerCertificate"
        },
        {
          "shape": "InvalidMinimumProtocolVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "TooManyDistributions"
        },
        {
          "shape": "InvalidDefaultRootObject"
        },
        {
          "shape": "InvalidRelativePath"
        },
        {
          "shape": "InvalidErrorCode"
        },
        {
          "shape": "InvalidResponseCode"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidRequiredProtocol"
        },
        {
          "shape": "NoSuchOrigin"
        },
        {
          "shape": "TooManyOrigins"
        },
        {
          "shape": "TooManyOriginGroupsPerDistribution"
        },
        {
          "shape": "TooManyCacheBehaviors"
        },
        {
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "shape": "InvalidForwardCookies"
        },
        {
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "TooManyCertificates"
        },
        {
          "shape": "InvalidLocationCode"
        },
        {
          "shape": "InvalidGeoRestrictionParameter"
        },
        {
          "shape": "InvalidProtocolSettings"
        },
        {
          "shape": "InvalidTTLOrder"
        },
        {
          "shape": "InvalidWebACLId"
        },
        {
          "shape": "TooManyOriginCustomHeaders"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "TooManyQueryStringParameters"
        },
        {
          "shape": "InvalidQueryStringParameters"
        },
        {
          "shape": "TooManyDistributionsWithLambdaAssociations"
        },
        {
          "shape": "TooManyDistributionsWithSingleFunctionARN"
        },
        {
          "shape": "TooManyLambdaFunctionAssociations"
        },
        {
          "shape": "InvalidLambdaFunctionAssociation"
        },
        {
          "shape": "TooManyDistributionsWithFunctionAssociations"
        },
        {
          "shape": "TooManyFunctionAssociations"
        },
        {
          "shape": "InvalidFunctionAssociation"
        },
        {
          "shape": "InvalidOriginReadTimeout"
        },
        {
          "shape": "InvalidOriginKeepaliveTimeout"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "shape": "TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToCachePolicy"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToResponseHeadersPolicy"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToOriginRequestPolicy"
        },
        {
          "shape": "TooManyDistributionsAssociatedToKeyGroup"
        },
        {
          "shape": "TooManyKeyGroupsAssociatedToDistribution"
        },
        {
          "shape": "TrustedKeyGroupDoesNotExist"
        },
        {
          "shape": "NoSuchRealtimeLogConfig"
        },
        {
          "shape": "RealtimeLogConfigOwnerMismatch"
        },
        {
          "shape": "InvalidDomainNameForOriginAccessControl"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/distribution?WithTags",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDistributionWithTagsRequest"
      },
      "name": "CreateDistributionWithTags2020_05_31",
      "output": {
        "shape": "CreateDistributionWithTagsResult"
      }
    },
    "CreateFieldLevelEncryptionConfig": {
      "documentation": "<p>Create a new field-level encryption configuration.</p>",
      "errors": [
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "FieldLevelEncryptionConfigAlreadyExists"
        },
        {
          "shape": "TooManyFieldLevelEncryptionConfigs"
        },
        {
          "shape": "TooManyFieldLevelEncryptionQueryArgProfiles"
        },
        {
          "shape": "TooManyFieldLevelEncryptionContentTypeProfiles"
        },
        {
          "shape": "QueryArgProfileEmpty"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/field-level-encryption",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFieldLevelEncryptionConfigRequest"
      },
      "name": "CreateFieldLevelEncryptionConfig2020_05_31",
      "output": {
        "shape": "CreateFieldLevelEncryptionConfigResult"
      }
    },
    "CreateFieldLevelEncryptionProfile": {
      "documentation": "<p>Create a field-level encryption profile.</p>",
      "errors": [
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "FieldLevelEncryptionProfileAlreadyExists"
        },
        {
          "shape": "FieldLevelEncryptionProfileSizeExceeded"
        },
        {
          "shape": "TooManyFieldLevelEncryptionProfiles"
        },
        {
          "shape": "TooManyFieldLevelEncryptionEncryptionEntities"
        },
        {
          "shape": "TooManyFieldLevelEncryptionFieldPatterns"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/field-level-encryption-profile",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFieldLevelEncryptionProfileRequest"
      },
      "name": "CreateFieldLevelEncryptionProfile2020_05_31",
      "output": {
        "shape": "CreateFieldLevelEncryptionProfileResult"
      }
    },
    "CreateFunction": {
      "documentation": "<p>Creates a CloudFront function.</p> <p>To create a function, you provide the function code and some configuration information about the function. The response contains an Amazon Resource Name (ARN) that uniquely identifies the function.</p> <p>When you create a function, it\u2019s in the <code>DEVELOPMENT</code> stage. In this stage, you can test the function with <code>TestFunction</code>, and update it with <code>UpdateFunction</code>.</p> <p>When you\u2019re ready to use your function with a CloudFront distribution, use <code>PublishFunction</code> to copy the function from the <code>DEVELOPMENT</code> stage to <code>LIVE</code>. When it\u2019s live, you can attach the function to a distribution\u2019s cache behavior, using the function\u2019s ARN.</p>",
      "errors": [
        {
          "shape": "TooManyFunctions"
        },
        {
          "shape": "FunctionAlreadyExists"
        },
        {
          "shape": "FunctionSizeLimitExceeded"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/function",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateFunctionRequest",
        "shape": "CreateFunctionRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "CreateFunction2020_05_31",
      "output": {
        "shape": "CreateFunctionResult"
      }
    },
    "CreateInvalidation": {
      "documentation": "<p>Create a new invalidation. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "BatchTooLarge"
        },
        {
          "shape": "TooManyInvalidationsInProgress"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/distribution/{DistributionId}/invalidation",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInvalidationRequest"
      },
      "name": "CreateInvalidation2020_05_31",
      "output": {
        "shape": "CreateInvalidationResult"
      }
    },
    "CreateKeyGroup": {
      "documentation": "<p>Creates a key group that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">CloudFront signed URLs and signed cookies</a>.</p> <p>To create a key group, you must specify at least one public key for the key group. After you create a key group, you can reference it from one or more cache behaviors. When you reference a key group in a cache behavior, CloudFront requires signed URLs or signed cookies for all requests that match the cache behavior. The URLs or cookies must be signed with a private key whose corresponding public key is in the key group. The signed URL or cookie contains information about which public key CloudFront should use to verify the signature. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving private content</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "KeyGroupAlreadyExists"
        },
        {
          "shape": "TooManyKeyGroups"
        },
        {
          "shape": "TooManyPublicKeysInKeyGroup"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/key-group",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateKeyGroupRequest"
      },
      "name": "CreateKeyGroup2020_05_31",
      "output": {
        "shape": "CreateKeyGroupResult"
      }
    },
    "CreateMonitoringSubscription": {
      "documentation": "<p>Enables additional CloudWatch metrics for the specified CloudFront distribution. The additional metrics incur an additional cost.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/viewing-cloudfront-metrics.html#monitoring-console.distributions-additional\">Viewing additional CloudFront distribution metrics</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "MonitoringSubscriptionAlreadyExists"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input": {
        "shape": "CreateMonitoringSubscriptionRequest"
      },
      "name": "CreateMonitoringSubscription2020_05_31",
      "output": {
        "shape": "CreateMonitoringSubscriptionResult"
      }
    },
    "CreateOriginAccessControl": {
      "documentation": "<p>Creates a new origin access control in CloudFront. After you create an origin access control, you can add it to an origin in a CloudFront distribution so that CloudFront sends authenticated (signed) requests to the origin.</p> <p>For an Amazon S3 origin, this makes it possible to block public access to the Amazon S3 bucket so that viewers (users) can access the content in the bucket only through CloudFront.</p> <p>For more information about using a CloudFront origin access control, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html\">Restricting access to an Amazon S3 origin</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "OriginAccessControlAlreadyExists"
        },
        {
          "shape": "TooManyOriginAccessControls"
        },
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/origin-access-control",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateOriginAccessControlRequest"
      },
      "name": "CreateOriginAccessControl2020_05_31",
      "output": {
        "shape": "CreateOriginAccessControlResult"
      }
    },
    "CreateOriginRequestPolicy": {
      "documentation": "<p>Creates an origin request policy.</p> <p>After you create an origin request policy, you can attach it to one or more cache behaviors. When it\u2019s attached to a cache behavior, the origin request policy determines the values that CloudFront includes in requests that it sends to the origin. Each request that CloudFront sends to the origin includes the following:</p> <ul> <li> <p>The request body and the URL path (without the domain name) from the viewer request.</p> </li> <li> <p>The headers that CloudFront automatically includes in every origin request, including <code>Host</code>, <code>User-Agent</code>, and <code>X-Amz-Cf-Id</code>.</p> </li> <li> <p>All HTTP headers, cookies, and URL query strings that are specified in the cache policy or the origin request policy. These can include items from the viewer request and, in the case of headers, additional ones that are added by CloudFront.</p> </li> </ul> <p>CloudFront sends a request when it can\u2019t find a valid object in its cache that matches the request. If you want to send values to the origin and also include them in the cache key, use <code>CachePolicy</code>.</p> <p>For more information about origin request policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html\">Controlling origin requests</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "OriginRequestPolicyAlreadyExists"
        },
        {
          "shape": "TooManyOriginRequestPolicies"
        },
        {
          "shape": "TooManyHeadersInOriginRequestPolicy"
        },
        {
          "shape": "TooManyCookiesInOriginRequestPolicy"
        },
        {
          "shape": "TooManyQueryStringsInOriginRequestPolicy"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/origin-request-policy",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateOriginRequestPolicyRequest"
      },
      "name": "CreateOriginRequestPolicy2020_05_31",
      "output": {
        "shape": "CreateOriginRequestPolicyResult"
      }
    },
    "CreatePublicKey": {
      "documentation": "<p>Uploads a public key to CloudFront that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">signed URLs and signed cookies</a>, or with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/field-level-encryption.html\">field-level encryption</a>.</p>",
      "errors": [
        {
          "shape": "PublicKeyAlreadyExists"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "TooManyPublicKeys"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/public-key",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePublicKeyRequest"
      },
      "name": "CreatePublicKey2020_05_31",
      "output": {
        "shape": "CreatePublicKeyResult"
      }
    },
    "CreateRealtimeLogConfig": {
      "documentation": "<p>Creates a real-time log configuration.</p> <p>After you create a real-time log configuration, you can attach it to one or more cache behaviors to send real-time log data to the specified Amazon Kinesis data stream.</p> <p>For more information about real-time log configurations, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/real-time-logs.html\">Real-time logs</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "RealtimeLogConfigAlreadyExists"
        },
        {
          "shape": "TooManyRealtimeLogConfigs"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/realtime-log-config",
        "responseCode": 201
      },
      "input": {
        "locationName": "CreateRealtimeLogConfigRequest",
        "shape": "CreateRealtimeLogConfigRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "CreateRealtimeLogConfig2020_05_31",
      "output": {
        "shape": "CreateRealtimeLogConfigResult"
      }
    },
    "CreateResponseHeadersPolicy": {
      "documentation": "<p>Creates a response headers policy.</p> <p>A response headers policy contains information about a set of HTTP response headers and their values. To create a response headers policy, you provide some metadata about the policy, and a set of configurations that specify the response headers.</p> <p>After you create a response headers policy, you can use its ID to attach it to one or more cache behaviors in a CloudFront distribution. When it\u2019s attached to a cache behavior, CloudFront adds the headers in the policy to HTTP responses that it sends for requests that match the cache behavior.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "ResponseHeadersPolicyAlreadyExists"
        },
        {
          "shape": "TooManyResponseHeadersPolicies"
        },
        {
          "shape": "TooManyCustomHeadersInResponseHeadersPolicy"
        },
        {
          "shape": "TooLongCSPInResponseHeadersPolicy"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/response-headers-policy",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateResponseHeadersPolicyRequest"
      },
      "name": "CreateResponseHeadersPolicy2020_05_31",
      "output": {
        "shape": "CreateResponseHeadersPolicyResult"
      }
    },
    "CreateStreamingDistribution": {
      "documentation": "<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "StreamingDistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "InvalidOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "shape": "TooManyStreamingDistributions"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/streaming-distribution",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStreamingDistributionRequest"
      },
      "name": "CreateStreamingDistribution2020_05_31",
      "output": {
        "shape": "CreateStreamingDistributionResult"
      }
    },
    "CreateStreamingDistributionWithTags": {
      "documentation": "<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "StreamingDistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "InvalidOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "shape": "TooManyStreamingDistributions"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidTagging"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/streaming-distribution?WithTags",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStreamingDistributionWithTagsRequest"
      },
      "name": "CreateStreamingDistributionWithTags2020_05_31",
      "output": {
        "shape": "CreateStreamingDistributionWithTagsResult"
      }
    },
    "DeleteCachePolicy": {
      "documentation": "<p>Deletes a cache policy.</p> <p>You cannot delete a cache policy if it\u2019s attached to a cache behavior. First update your distributions to remove the cache policy from all cache behaviors, then delete the cache policy.</p> <p>To delete a cache policy, you must provide the policy\u2019s identifier and version. To get these values, you can use <code>ListCachePolicies</code> or <code>GetCachePolicy</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "IllegalDelete"
        },
        {
          "shape": "CachePolicyInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/cache-policy/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCachePolicyRequest"
      },
      "name": "DeleteCachePolicy2020_05_31"
    },
    "DeleteCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Delete an origin access identity. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "CloudFrontOriginAccessIdentityInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "name": "DeleteCloudFrontOriginAccessIdentity2020_05_31"
    },
    "DeleteDistribution": {
      "documentation": "<p>Delete a distribution. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "DistributionNotDisabled"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDistributionRequest"
      },
      "name": "DeleteDistribution2020_05_31"
    },
    "DeleteFieldLevelEncryptionConfig": {
      "documentation": "<p>Remove a field-level encryption configuration.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "FieldLevelEncryptionConfigInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/field-level-encryption/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFieldLevelEncryptionConfigRequest"
      },
      "name": "DeleteFieldLevelEncryptionConfig2020_05_31"
    },
    "DeleteFieldLevelEncryptionProfile": {
      "documentation": "<p>Remove a field-level encryption profile.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "FieldLevelEncryptionProfileInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/field-level-encryption-profile/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFieldLevelEncryptionProfileRequest"
      },
      "name": "DeleteFieldLevelEncryptionProfile2020_05_31"
    },
    "DeleteFunction": {
      "documentation": "<p>Deletes a CloudFront function.</p> <p>You cannot delete a function if it\u2019s associated with a cache behavior. First, update your distributions to remove the function association from all cache behaviors, then delete the function.</p> <p>To delete a function, you must provide the function\u2019s name and version (<code>ETag</code> value). To get these values, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>",
      "errors": [
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFunctionExists"
        },
        {
          "shape": "FunctionInUse"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/function/{Name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFunctionRequest"
      },
      "name": "DeleteFunction2020_05_31"
    },
    "DeleteKeyGroup": {
      "documentation": "<p>Deletes a key group.</p> <p>You cannot delete a key group that is referenced in a cache behavior. First update your distributions to remove the key group from all cache behaviors, then delete the key group.</p> <p>To delete a key group, you must provide the key group\u2019s identifier and version. To get these values, use <code>ListKeyGroups</code> followed by <code>GetKeyGroup</code> or <code>GetKeyGroupConfig</code>.</p>",
      "errors": [
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchResource"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/key-group/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteKeyGroupRequest"
      },
      "name": "DeleteKeyGroup2020_05_31"
    },
    "DeleteMonitoringSubscription": {
      "documentation": "<p>Disables additional CloudWatch metrics for the specified CloudFront distribution.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "NoSuchMonitoringSubscription"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input": {
        "shape": "DeleteMonitoringSubscriptionRequest"
      },
      "name": "DeleteMonitoringSubscription2020_05_31",
      "output": {
        "shape": "DeleteMonitoringSubscriptionResult"
      }
    },
    "DeleteOriginAccessControl": {
      "documentation": "<p>Deletes a CloudFront origin access control.</p> <p>You cannot delete an origin access control if it's in use. First, update all distributions to remove the origin access control from all origins, then delete the origin access control.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchOriginAccessControl"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "OriginAccessControlInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/origin-access-control/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteOriginAccessControlRequest"
      },
      "name": "DeleteOriginAccessControl2020_05_31"
    },
    "DeleteOriginRequestPolicy": {
      "documentation": "<p>Deletes an origin request policy.</p> <p>You cannot delete an origin request policy if it\u2019s attached to any cache behaviors. First update your distributions to remove the origin request policy from all cache behaviors, then delete the origin request policy.</p> <p>To delete an origin request policy, you must provide the policy\u2019s identifier and version. To get the identifier, you can use <code>ListOriginRequestPolicies</code> or <code>GetOriginRequestPolicy</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "IllegalDelete"
        },
        {
          "shape": "OriginRequestPolicyInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/origin-request-policy/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteOriginRequestPolicyRequest"
      },
      "name": "DeleteOriginRequestPolicy2020_05_31"
    },
    "DeletePublicKey": {
      "documentation": "<p>Remove a public key you previously added to CloudFront.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "PublicKeyInUse"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/public-key/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePublicKeyRequest"
      },
      "name": "DeletePublicKey2020_05_31"
    },
    "DeleteRealtimeLogConfig": {
      "documentation": "<p>Deletes a real-time log configuration.</p> <p>You cannot delete a real-time log configuration if it\u2019s attached to a cache behavior. First update your distributions to remove the real-time log configuration from all cache behaviors, then delete the real-time log configuration.</p> <p>To delete a real-time log configuration, you can provide the configuration\u2019s name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to delete.</p>",
      "errors": [
        {
          "shape": "NoSuchRealtimeLogConfig"
        },
        {
          "shape": "RealtimeLogConfigInUse"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/delete-realtime-log-config/",
        "responseCode": 204
      },
      "input": {
        "locationName": "DeleteRealtimeLogConfigRequest",
        "shape": "DeleteRealtimeLogConfigRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "DeleteRealtimeLogConfig2020_05_31"
    },
    "DeleteResponseHeadersPolicy": {
      "documentation": "<p>Deletes a response headers policy.</p> <p>You cannot delete a response headers policy if it\u2019s attached to a cache behavior. First update your distributions to remove the response headers policy from all cache behaviors, then delete the response headers policy.</p> <p>To delete a response headers policy, you must provide the policy\u2019s identifier and version. To get these values, you can use <code>ListResponseHeadersPolicies</code> or <code>GetResponseHeadersPolicy</code>. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "IllegalDelete"
        },
        {
          "shape": "ResponseHeadersPolicyInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/response-headers-policy/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteResponseHeadersPolicyRequest"
      },
      "name": "DeleteResponseHeadersPolicy2020_05_31"
    },
    "DeleteStreamingDistribution": {
      "documentation": "<p>Delete a streaming distribution. To delete an RTMP distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete an RTMP distribution using the CloudFront API</b>:</p> <ol> <li> <p>Disable the RTMP distribution.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution. </p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Streaming Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Streaming Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Then set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Streaming Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Streaming Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to your <code>DELETE Streaming Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "StreamingDistributionNotDisabled"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2020-05-31/streaming-distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteStreamingDistributionRequest"
      },
      "name": "DeleteStreamingDistribution2020_05_31"
    },
    "DescribeFunction": {
      "documentation": "<p>Gets configuration information and metadata about a CloudFront function, but not the function\u2019s code. To get a function\u2019s code, use <code>GetFunction</code>.</p> <p>To get configuration information and metadata about a function, you must provide the function\u2019s name and stage. To get these values, you can use <code>ListFunctions</code>.</p>",
      "errors": [
        {
          "shape": "NoSuchFunctionExists"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/function/{Name}/describe"
      },
      "input": {
        "shape": "DescribeFunctionRequest"
      },
      "name": "DescribeFunction2020_05_31",
      "output": {
        "shape": "DescribeFunctionResult"
      }
    },
    "GetCachePolicy": {
      "documentation": "<p>Gets a cache policy, including the following metadata:</p> <ul> <li> <p>The policy\u2019s identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get a cache policy, you must provide the policy\u2019s identifier. If the cache policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchCachePolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/cache-policy/{Id}"
      },
      "input": {
        "shape": "GetCachePolicyRequest"
      },
      "name": "GetCachePolicy2020_05_31",
      "output": {
        "shape": "GetCachePolicyResult"
      }
    },
    "GetCachePolicyConfig": {
      "documentation": "<p>Gets a cache policy configuration.</p> <p>To get a cache policy configuration, you must provide the policy\u2019s identifier. If the cache policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchCachePolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/cache-policy/{Id}/config"
      },
      "input": {
        "shape": "GetCachePolicyConfigRequest"
      },
      "name": "GetCachePolicyConfig2020_05_31",
      "output": {
        "shape": "GetCachePolicyConfigResult"
      }
    },
    "GetCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Get the information about an origin access identity. </p>",
      "errors": [
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront/{Id}"
      },
      "input": {
        "shape": "GetCloudFrontOriginAccessIdentityRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentity2020_05_31",
      "output": {
        "shape": "GetCloudFrontOriginAccessIdentityResult"
      }
    },
    "GetCloudFrontOriginAccessIdentityConfig": {
      "documentation": "<p>Get the configuration information about an origin access identity. </p>",
      "errors": [
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "shape": "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentityConfig2020_05_31",
      "output": {
        "shape": "GetCloudFrontOriginAccessIdentityConfigResult"
      }
    },
    "GetDistribution": {
      "documentation": "<p>Get the information about a distribution.</p>",
      "errors": [
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distribution/{Id}"
      },
      "input": {
        "shape": "GetDistributionRequest"
      },
      "name": "GetDistribution2020_05_31",
      "output": {
        "shape": "GetDistributionResult"
      }
    },
    "GetDistributionConfig": {
      "documentation": "<p>Get the configuration information about a distribution. </p>",
      "errors": [
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distribution/{Id}/config"
      },
      "input": {
        "shape": "GetDistributionConfigRequest"
      },
      "name": "GetDistributionConfig2020_05_31",
      "output": {
        "shape": "GetDistributionConfigResult"
      }
    },
    "GetFieldLevelEncryption": {
      "documentation": "<p>Get the field-level encryption configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption/{Id}"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionRequest"
      },
      "name": "GetFieldLevelEncryption2020_05_31",
      "output": {
        "shape": "GetFieldLevelEncryptionResult"
      }
    },
    "GetFieldLevelEncryptionConfig": {
      "documentation": "<p>Get the field-level encryption configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption/{Id}/config"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionConfigRequest"
      },
      "name": "GetFieldLevelEncryptionConfig2020_05_31",
      "output": {
        "shape": "GetFieldLevelEncryptionConfigResult"
      }
    },
    "GetFieldLevelEncryptionProfile": {
      "documentation": "<p>Get the field-level encryption profile information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption-profile/{Id}"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionProfileRequest"
      },
      "name": "GetFieldLevelEncryptionProfile2020_05_31",
      "output": {
        "shape": "GetFieldLevelEncryptionProfileResult"
      }
    },
    "GetFieldLevelEncryptionProfileConfig": {
      "documentation": "<p>Get the field-level encryption profile configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption-profile/{Id}/config"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionProfileConfigRequest"
      },
      "name": "GetFieldLevelEncryptionProfileConfig2020_05_31",
      "output": {
        "shape": "GetFieldLevelEncryptionProfileConfigResult"
      }
    },
    "GetFunction": {
      "documentation": "<p>Gets the code of a CloudFront function. To get configuration information and metadata about a function, use <code>DescribeFunction</code>.</p> <p>To get a function\u2019s code, you must provide the function\u2019s name and stage. To get these values, you can use <code>ListFunctions</code>.</p>",
      "errors": [
        {
          "shape": "NoSuchFunctionExists"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/function/{Name}"
      },
      "input": {
        "shape": "GetFunctionRequest"
      },
      "name": "GetFunction2020_05_31",
      "output": {
        "shape": "GetFunctionResult"
      }
    },
    "GetInvalidation": {
      "documentation": "<p>Get the information about an invalidation. </p>",
      "errors": [
        {
          "shape": "NoSuchInvalidation"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input": {
        "shape": "GetInvalidationRequest"
      },
      "name": "GetInvalidation2020_05_31",
      "output": {
        "shape": "GetInvalidationResult"
      }
    },
    "GetKeyGroup": {
      "documentation": "<p>Gets a key group, including the date and time when the key group was last modified.</p> <p>To get a key group, you must provide the key group\u2019s identifier. If the key group is referenced in a distribution\u2019s cache behavior, you can get the key group\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>",
      "errors": [
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/key-group/{Id}"
      },
      "input": {
        "shape": "GetKeyGroupRequest"
      },
      "name": "GetKeyGroup2020_05_31",
      "output": {
        "shape": "GetKeyGroupResult"
      }
    },
    "GetKeyGroupConfig": {
      "documentation": "<p>Gets a key group configuration.</p> <p>To get a key group configuration, you must provide the key group\u2019s identifier. If the key group is referenced in a distribution\u2019s cache behavior, you can get the key group\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>",
      "errors": [
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/key-group/{Id}/config"
      },
      "input": {
        "shape": "GetKeyGroupConfigRequest"
      },
      "name": "GetKeyGroupConfig2020_05_31",
      "output": {
        "shape": "GetKeyGroupConfigResult"
      }
    },
    "GetMonitoringSubscription": {
      "documentation": "<p>Gets information about whether additional CloudWatch metrics are enabled for the specified CloudFront distribution.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "NoSuchMonitoringSubscription"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributions/{DistributionId}/monitoring-subscription/"
      },
      "input": {
        "shape": "GetMonitoringSubscriptionRequest"
      },
      "name": "GetMonitoringSubscription2020_05_31",
      "output": {
        "shape": "GetMonitoringSubscriptionResult"
      }
    },
    "GetOriginAccessControl": {
      "documentation": "<p>Gets a CloudFront origin access control, including its unique identifier.</p>",
      "errors": [
        {
          "shape": "NoSuchOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-control/{Id}"
      },
      "input": {
        "shape": "GetOriginAccessControlRequest"
      },
      "name": "GetOriginAccessControl2020_05_31",
      "output": {
        "shape": "GetOriginAccessControlResult"
      }
    },
    "GetOriginAccessControlConfig": {
      "documentation": "<p>Gets a CloudFront origin access control configuration.</p>",
      "errors": [
        {
          "shape": "NoSuchOriginAccessControl"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-control/{Id}/config"
      },
      "input": {
        "shape": "GetOriginAccessControlConfigRequest"
      },
      "name": "GetOriginAccessControlConfig2020_05_31",
      "output": {
        "shape": "GetOriginAccessControlConfigResult"
      }
    },
    "GetOriginRequestPolicy": {
      "documentation": "<p>Gets an origin request policy, including the following metadata:</p> <ul> <li> <p>The policy\u2019s identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get an origin request policy, you must provide the policy\u2019s identifier. If the origin request policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-request-policy/{Id}"
      },
      "input": {
        "shape": "GetOriginRequestPolicyRequest"
      },
      "name": "GetOriginRequestPolicy2020_05_31",
      "output": {
        "shape": "GetOriginRequestPolicyResult"
      }
    },
    "GetOriginRequestPolicyConfig": {
      "documentation": "<p>Gets an origin request policy configuration.</p> <p>To get an origin request policy configuration, you must provide the policy\u2019s identifier. If the origin request policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-request-policy/{Id}/config"
      },
      "input": {
        "shape": "GetOriginRequestPolicyConfigRequest"
      },
      "name": "GetOriginRequestPolicyConfig2020_05_31",
      "output": {
        "shape": "GetOriginRequestPolicyConfigResult"
      }
    },
    "GetPublicKey": {
      "documentation": "<p>Gets a public key.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchPublicKey"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/public-key/{Id}"
      },
      "input": {
        "shape": "GetPublicKeyRequest"
      },
      "name": "GetPublicKey2020_05_31",
      "output": {
        "shape": "GetPublicKeyResult"
      }
    },
    "GetPublicKeyConfig": {
      "documentation": "<p>Gets a public key configuration.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchPublicKey"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/public-key/{Id}/config"
      },
      "input": {
        "shape": "GetPublicKeyConfigRequest"
      },
      "name": "GetPublicKeyConfig2020_05_31",
      "output": {
        "shape": "GetPublicKeyConfigResult"
      }
    },
    "GetRealtimeLogConfig": {
      "documentation": "<p>Gets a real-time log configuration.</p> <p>To get a real-time log configuration, you can provide the configuration\u2019s name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to get.</p>",
      "errors": [
        {
          "shape": "NoSuchRealtimeLogConfig"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/get-realtime-log-config/"
      },
      "input": {
        "locationName": "GetRealtimeLogConfigRequest",
        "shape": "GetRealtimeLogConfigRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "GetRealtimeLogConfig2020_05_31",
      "output": {
        "shape": "GetRealtimeLogConfigResult"
      }
    },
    "GetResponseHeadersPolicy": {
      "documentation": "<p>Gets a response headers policy, including metadata (the policy\u2019s identifier and the date and time when the policy was last modified).</p> <p>To get a response headers policy, you must provide the policy\u2019s identifier. If the response headers policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/response-headers-policy/{Id}"
      },
      "input": {
        "shape": "GetResponseHeadersPolicyRequest"
      },
      "name": "GetResponseHeadersPolicy2020_05_31",
      "output": {
        "shape": "GetResponseHeadersPolicyResult"
      }
    },
    "GetResponseHeadersPolicyConfig": {
      "documentation": "<p>Gets a response headers policy configuration.</p> <p>To get a response headers policy configuration, you must provide the policy\u2019s identifier. If the response headers policy is attached to a distribution\u2019s cache behavior, you can get the policy\u2019s identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/response-headers-policy/{Id}/config"
      },
      "input": {
        "shape": "GetResponseHeadersPolicyConfigRequest"
      },
      "name": "GetResponseHeadersPolicyConfig2020_05_31",
      "output": {
        "shape": "GetResponseHeadersPolicyConfigResult"
      }
    },
    "GetStreamingDistribution": {
      "documentation": "<p>Gets information about a specified RTMP distribution, including the distribution configuration.</p>",
      "errors": [
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/streaming-distribution/{Id}"
      },
      "input": {
        "shape": "GetStreamingDistributionRequest"
      },
      "name": "GetStreamingDistribution2020_05_31",
      "output": {
        "shape": "GetStreamingDistributionResult"
      }
    },
    "GetStreamingDistributionConfig": {
      "documentation": "<p>Get the configuration information about a streaming distribution. </p>",
      "errors": [
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/streaming-distribution/{Id}/config"
      },
      "input": {
        "shape": "GetStreamingDistributionConfigRequest"
      },
      "name": "GetStreamingDistributionConfig2020_05_31",
      "output": {
        "shape": "GetStreamingDistributionConfigResult"
      }
    },
    "ListCachePolicies": {
      "documentation": "<p>Gets a list of cache policies.</p> <p>You can optionally apply a filter to return only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/cache-policy"
      },
      "input": {
        "shape": "ListCachePoliciesRequest"
      },
      "name": "ListCachePolicies2020_05_31",
      "output": {
        "shape": "ListCachePoliciesResult"
      }
    },
    "ListCloudFrontOriginAccessIdentities": {
      "documentation": "<p>Lists origin access identities.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront"
      },
      "input": {
        "shape": "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "name": "ListCloudFrontOriginAccessIdentities2020_05_31",
      "output": {
        "shape": "ListCloudFrontOriginAccessIdentitiesResult"
      }
    },
    "ListConflictingAliases": {
      "documentation": "<p>Gets a list of aliases (also called CNAMEs or alternate domain names) that conflict or overlap with the provided alias, and the associated CloudFront distributions and Amazon Web Services accounts for each conflicting alias. In the returned list, the distribution and account IDs are partially hidden, which allows you to identify the distributions and accounts that you own, but helps to protect the information of ones that you don\u2019t own.</p> <p>Use this operation to find aliases that are in use in CloudFront that conflict or overlap with the provided alias. For example, if you provide <code>www.example.com</code> as input, the returned list can include <code>www.example.com</code> and the overlapping wildcard alternate domain name (<code>*.example.com</code>), if they exist. If you provide <code>*.example.com</code> as input, the returned list can include <code>*.example.com</code> and any alternate domain names covered by that wildcard (for example, <code>www.example.com</code>, <code>test.example.com</code>, <code>dev.example.com</code>, and so on), if they exist.</p> <p>To list conflicting aliases, you provide the alias to search and the ID of a distribution in your account that has an attached SSL/TLS certificate that includes the provided alias. For more information, including how to set up the distribution and certificate, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/conflicting-alias",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConflictingAliasesRequest"
      },
      "name": "ListConflictingAliases2020_05_31",
      "output": {
        "shape": "ListConflictingAliasesResult"
      }
    },
    "ListDistributions": {
      "documentation": "<p>List CloudFront distributions.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distribution"
      },
      "input": {
        "shape": "ListDistributionsRequest"
      },
      "name": "ListDistributions2020_05_31",
      "output": {
        "shape": "ListDistributionsResult"
      }
    },
    "ListDistributionsByCachePolicyId": {
      "documentation": "<p>Gets a list of distribution IDs for distributions that have a cache behavior that\u2019s associated with the specified cache policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributionsByCachePolicyId/{CachePolicyId}"
      },
      "input": {
        "shape": "ListDistributionsByCachePolicyIdRequest"
      },
      "name": "ListDistributionsByCachePolicyId2020_05_31",
      "output": {
        "shape": "ListDistributionsByCachePolicyIdResult"
      }
    },
    "ListDistributionsByKeyGroup": {
      "documentation": "<p>Gets a list of distribution IDs for distributions that have a cache behavior that references the specified key group.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "NoSuchResource"
        },
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributionsByKeyGroupId/{KeyGroupId}"
      },
      "input": {
        "shape": "ListDistributionsByKeyGroupRequest"
      },
      "name": "ListDistributionsByKeyGroup2020_05_31",
      "output": {
        "shape": "ListDistributionsByKeyGroupResult"
      }
    },
    "ListDistributionsByOriginRequestPolicyId": {
      "documentation": "<p>Gets a list of distribution IDs for distributions that have a cache behavior that\u2019s associated with the specified origin request policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "NoSuchOriginRequestPolicy"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributionsByOriginRequestPolicyId/{OriginRequestPolicyId}"
      },
      "input": {
        "shape": "ListDistributionsByOriginRequestPolicyIdRequest"
      },
      "name": "ListDistributionsByOriginRequestPolicyId2020_05_31",
      "output": {
        "shape": "ListDistributionsByOriginRequestPolicyIdResult"
      }
    },
    "ListDistributionsByRealtimeLogConfig": {
      "documentation": "<p>Gets a list of distributions that have a cache behavior that\u2019s associated with the specified real-time log configuration.</p> <p>You can specify the real-time log configuration by its name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to list distributions for.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/distributionsByRealtimeLogConfig/"
      },
      "input": {
        "locationName": "ListDistributionsByRealtimeLogConfigRequest",
        "shape": "ListDistributionsByRealtimeLogConfigRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "ListDistributionsByRealtimeLogConfig2020_05_31",
      "output": {
        "shape": "ListDistributionsByRealtimeLogConfigResult"
      }
    },
    "ListDistributionsByResponseHeadersPolicyId": {
      "documentation": "<p>Gets a list of distribution IDs for distributions that have a cache behavior that\u2019s associated with the specified response headers policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "NoSuchResponseHeadersPolicy"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributionsByResponseHeadersPolicyId/{ResponseHeadersPolicyId}"
      },
      "input": {
        "shape": "ListDistributionsByResponseHeadersPolicyIdRequest"
      },
      "name": "ListDistributionsByResponseHeadersPolicyId2020_05_31",
      "output": {
        "shape": "ListDistributionsByResponseHeadersPolicyIdResult"
      }
    },
    "ListDistributionsByWebACLId": {
      "documentation": "<p>List the distributions that are associated with a specified WAF web ACL.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidWebACLId"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distributionsByWebACLId/{WebACLId}"
      },
      "input": {
        "shape": "ListDistributionsByWebACLIdRequest"
      },
      "name": "ListDistributionsByWebACLId2020_05_31",
      "output": {
        "shape": "ListDistributionsByWebACLIdResult"
      }
    },
    "ListFieldLevelEncryptionConfigs": {
      "documentation": "<p>List all field-level encryption configurations that have been created in CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption"
      },
      "input": {
        "shape": "ListFieldLevelEncryptionConfigsRequest"
      },
      "name": "ListFieldLevelEncryptionConfigs2020_05_31",
      "output": {
        "shape": "ListFieldLevelEncryptionConfigsResult"
      }
    },
    "ListFieldLevelEncryptionProfiles": {
      "documentation": "<p>Request a list of field-level encryption profiles that have been created in CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/field-level-encryption-profile"
      },
      "input": {
        "shape": "ListFieldLevelEncryptionProfilesRequest"
      },
      "name": "ListFieldLevelEncryptionProfiles2020_05_31",
      "output": {
        "shape": "ListFieldLevelEncryptionProfilesResult"
      }
    },
    "ListFunctions": {
      "documentation": "<p>Gets a list of all CloudFront functions in your Amazon Web Services account.</p> <p>You can optionally apply a filter to return only the functions that are in the specified stage, either <code>DEVELOPMENT</code> or <code>LIVE</code>.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/function"
      },
      "input": {
        "shape": "ListFunctionsRequest"
      },
      "name": "ListFunctions2020_05_31",
      "output": {
        "shape": "ListFunctionsResult"
      }
    },
    "ListInvalidations": {
      "documentation": "<p>Lists invalidation batches. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/distribution/{DistributionId}/invalidation"
      },
      "input": {
        "shape": "ListInvalidationsRequest"
      },
      "name": "ListInvalidations2020_05_31",
      "output": {
        "shape": "ListInvalidationsResult"
      }
    },
    "ListKeyGroups": {
      "documentation": "<p>Gets a list of key groups.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/key-group"
      },
      "input": {
        "shape": "ListKeyGroupsRequest"
      },
      "name": "ListKeyGroups2020_05_31",
      "output": {
        "shape": "ListKeyGroupsResult"
      }
    },
    "ListOriginAccessControls": {
      "documentation": "<p>Gets the list of CloudFront origin access controls in this Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send another request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the next request.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-access-control"
      },
      "input": {
        "shape": "ListOriginAccessControlsRequest"
      },
      "name": "ListOriginAccessControls2020_05_31",
      "output": {
        "shape": "ListOriginAccessControlsResult"
      }
    },
    "ListOriginRequestPolicies": {
      "documentation": "<p>Gets a list of origin request policies.</p> <p>You can optionally apply a filter to return only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchOriginRequestPolicy"
        },
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/origin-request-policy"
      },
      "input": {
        "shape": "ListOriginRequestPoliciesRequest"
      },
      "name": "ListOriginRequestPolicies2020_05_31",
      "output": {
        "shape": "ListOriginRequestPoliciesResult"
      }
    },
    "ListPublicKeys": {
      "documentation": "<p>List all public keys that have been added to CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/public-key"
      },
      "input": {
        "shape": "ListPublicKeysRequest"
      },
      "name": "ListPublicKeys2020_05_31",
      "output": {
        "shape": "ListPublicKeysResult"
      }
    },
    "ListRealtimeLogConfigs": {
      "documentation": "<p>Gets a list of real-time log configurations.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchRealtimeLogConfig"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/realtime-log-config"
      },
      "input": {
        "shape": "ListRealtimeLogConfigsRequest"
      },
      "name": "ListRealtimeLogConfigs2020_05_31",
      "output": {
        "shape": "ListRealtimeLogConfigsResult"
      }
    },
    "ListResponseHeadersPolicies": {
      "documentation": "<p>Gets a list of response headers policies.</p> <p>You can optionally apply a filter to get only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchResponseHeadersPolicy"
        },
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/response-headers-policy"
      },
      "input": {
        "shape": "ListResponseHeadersPoliciesRequest"
      },
      "name": "ListResponseHeadersPolicies2020_05_31",
      "output": {
        "shape": "ListResponseHeadersPoliciesResult"
      }
    },
    "ListStreamingDistributions": {
      "documentation": "<p>List streaming distributions. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/streaming-distribution"
      },
      "input": {
        "shape": "ListStreamingDistributionsRequest"
      },
      "name": "ListStreamingDistributions2020_05_31",
      "output": {
        "shape": "ListStreamingDistributionsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List tags for a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2020-05-31/tagging"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource2020_05_31",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "PublishFunction": {
      "documentation": "<p>Publishes a CloudFront function by copying the function code from the <code>DEVELOPMENT</code> stage to <code>LIVE</code>. This automatically updates all cache behaviors that are using this function to use the newly published copy in the <code>LIVE</code> stage.</p> <p>When a function is published to the <code>LIVE</code> stage, you can attach the function to a distribution\u2019s cache behavior, using the function\u2019s Amazon Resource Name (ARN).</p> <p>To publish a function, you must provide the function\u2019s name and version (<code>ETag</code> value). To get these values, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFunctionExists"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/function/{Name}/publish"
      },
      "input": {
        "shape": "PublishFunctionRequest"
      },
      "name": "PublishFunction2020_05_31",
      "output": {
        "shape": "PublishFunctionResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/tagging?Operation=Tag",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource2020_05_31"
    },
    "TestFunction": {
      "documentation": "<p>Tests a CloudFront function.</p> <p>To test a function, you provide an <i>event object</i> that represents an HTTP request or response that your CloudFront distribution could receive in production. CloudFront runs the function, passing it the event object that you provided, and returns the function\u2019s result (the modified event object) in the response. The response also contains function logs and error messages, if any exist. For more information about testing functions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/managing-functions.html#test-function\">Testing functions</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p>To test a function, you provide the function\u2019s name and version (<code>ETag</code> value) along with the event object. To get the function\u2019s name and version, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFunctionExists"
        },
        {
          "shape": "TestFunctionFailed"
        },
        {
          "shape": "UnsupportedOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/function/{Name}/test"
      },
      "input": {
        "locationName": "TestFunctionRequest",
        "shape": "TestFunctionRequest",
        "xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        }
      },
      "name": "TestFunction2020_05_31",
      "output": {
        "shape": "TestFunctionResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2020-05-31/tagging?Operation=Untag",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource2020_05_31"
    },
    "UpdateCachePolicy": {
      "documentation": "<p>Updates a cache policy configuration.</p> <p>When you update a cache policy configuration, all the fields are updated with the values provided in the request. You cannot update some fields independent of others. To update a cache policy configuration:</p> <ol> <li> <p>Use <code>GetCachePolicyConfig</code> to get the current configuration.</p> </li> <li> <p>Locally modify the fields in the cache policy configuration that you want to update.</p> </li> <li> <p>Call <code>UpdateCachePolicy</code> by providing the entire cache policy configuration, including the fields that you modified and those that you didn\u2019t.</p> </li> </ol>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchCachePolicy"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "CachePolicyAlreadyExists"
        },
        {
          "shape": "TooManyHeadersInCachePolicy"
        },
        {
          "shape": "TooManyCookiesInCachePolicy"
        },
        {
          "shape": "TooManyQueryStringsInCachePolicy"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2020-05-31/cache-policy/{Id}"
      },
      "input": {
        "shape": "UpdateCachePolicyRequest"
      },
      "name": "UpdateCachePolicy2020_05_31",
      "output": {
        "shape": "UpdateCachePolicyResult"
      }
    },
    "UpdateCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Update an origin access identity. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2020-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "shape": "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "UpdateCloudFrontOriginAccessIdentity2020_05_31",
      "output": {
        "shape": "UpdateCloudFrontOriginAccessIdentityResult"
      }
    },
    "UpdateDistribution": {
[...]
