{
  "documentation": "API for AWS Elemental MediaLive",
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaLive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "signatureVersion": "v4",
    "signingName": "medialive",
    "uid": "medialive-2017-10-14"
  },
  "operations": {
    "AcceptInputDeviceTransfer": {
      "documentation": "Accept an incoming input device transfer. The ownership of the device will transfer to your AWS account.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Transfer operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to accept input device transfers.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on transfer device calls to the input device service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Input device transfer could not be accepted.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInputDeviceTransferRequest"
      },
      "name": "AcceptInputDeviceTransfer",
      "output": {
        "documentation": "Your request to accept this device transfer has succeeded.",
        "shape": "AcceptInputDeviceTransferResponse"
      }
    },
    "BatchDelete": {
      "documentation": "Starts delete of resources.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete the resources.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The resources you're requesting to delete do not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete resources calls.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The resources are unable to delete.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteRequest"
      },
      "name": "BatchDelete",
      "output": {
        "documentation": "Delete was successfully initiated.",
        "shape": "BatchDeleteResponse"
      }
    },
    "BatchStart": {
      "documentation": "Starts existing resources",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to start the resources.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The resources you're requesting to start do not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start resources calls to resource service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The resources are unable to start.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/start",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStartRequest"
      },
      "name": "BatchStart",
      "output": {
        "documentation": "Successfully initiated start of resources.",
        "shape": "BatchStartResponse"
      }
    },
    "BatchStop": {
      "documentation": "Stops running resources",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to stop the resources.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The resources you're requesting to stop do not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on stop resources.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The resources are unable to stop.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStopRequest"
      },
      "name": "BatchStop",
      "output": {
        "documentation": "Successfully initiated stop of the resources.",
        "shape": "BatchStopResponse"
      }
    },
    "BatchUpdateSchedule": {
      "documentation": "Update a channel schedule",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The update schedule request failed validation.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The specified channel id does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on update schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateScheduleRequest"
      },
      "name": "BatchUpdateSchedule",
      "output": {
        "documentation": "Successful update of the schedule.",
        "shape": "BatchUpdateScheduleResponse"
      }
    },
    "CancelInputDeviceTransfer": {
      "documentation": "Cancel an input device transfer that you have requested.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Transfer operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to cancel input device transfers.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on transfer device calls to the input device service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Input device transfer could not be canceled.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
        "responseCode": 200
      },
      "input": {
        "shape": "CancelInputDeviceTransferRequest"
      },
      "name": "CancelInputDeviceTransfer",
      "output": {
        "documentation": "Your cancel request has succeeded.",
        "shape": "CancelInputDeviceTransferResponse"
      }
    },
    "ClaimDevice": {
      "documentation": "Send a request to claim an AWS Elemental device that you have purchased from a third-party vendor. After the request succeeds, you will own the device.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Claim operation failed, device id could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have the IAM access permissions to claim this device. You must have permission for the WriteClaim operation.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Device not found or you called an unsupported region.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Bad gateway error. Try again.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded. Your have sent this request too many times. There might be a bug in your API client.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/claimDevice",
        "responseCode": 200
      },
      "input": {
        "shape": "ClaimDeviceRequest"
      },
      "name": "ClaimDevice",
      "output": {
        "documentation": "Your request to claim this device has succeeded.",
        "shape": "ClaimDeviceResponse"
      }
    },
    "CreateChannel": {
      "documentation": "Creates a new channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Channel failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to create the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to create due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "name": "CreateChannel",
      "output": {
        "documentation": "Creation of channel is started.",
        "shape": "CreateChannelResponse"
      }
    },
    "CreateInput": {
      "documentation": "Create an input",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "name": "CreateInput",
      "output": {
        "documentation": "Successfully created the input.",
        "shape": "CreateInputResponse"
      }
    },
    "CreateInputSecurityGroup": {
      "documentation": "Creates a Input Security Group",
      "errors": [
        {
          "documentation": "The request to create an Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to create an Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "name": "CreateInputSecurityGroup",
      "output": {
        "documentation": "Successfully created the Input Security Group.",
        "shape": "CreateInputSecurityGroupResponse"
      }
    },
    "CreateMultiplex": {
      "documentation": "Create a new multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Multiplex failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to create the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to create due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexRequest"
      },
      "name": "CreateMultiplex",
      "output": {
        "documentation": "Creation of the multiplex is in progress.",
        "shape": "CreateMultiplexResponse"
      }
    },
    "CreateMultiplexProgram": {
      "documentation": "Create a new program in the multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Multiplex program failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to create a program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex program is unable to create due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexProgramRequest"
      },
      "name": "CreateMultiplexProgram",
      "output": {
        "documentation": "Creation of the program is in progress.",
        "shape": "CreateMultiplexProgramResponse"
      }
    },
    "CreatePartnerInput": {
      "documentation": "Create a partner input",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs/{inputId}/partners",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePartnerInputRequest"
      },
      "name": "CreatePartnerInput",
      "output": {
        "documentation": "Successfully created the input.",
        "shape": "CreatePartnerInputResponse"
      }
    },
    "CreateTags": {
      "documentation": "Create tags for a resource",
      "errors": [
        {
          "documentation": "The arn was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "name": "CreateTags"
    },
    "DeleteChannel": {
      "documentation": "Starts deletion of channel. The associated outputs are also deleted.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to delete does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to delete due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "name": "DeleteChannel",
      "output": {
        "documentation": "Deletion was successfully initiated.",
        "shape": "DeleteChannelResponse"
      }
    },
    "DeleteInput": {
      "documentation": "Deletes the input end point",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Resource conflict",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "name": "DeleteInput",
      "output": {
        "documentation": "Successful deletion",
        "shape": "DeleteInputResponse"
      }
    },
    "DeleteInputSecurityGroup": {
      "documentation": "Deletes an Input Security Group",
      "errors": [
        {
          "documentation": "The request to delete the Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to delete this Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input Security Group not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "name": "DeleteInputSecurityGroup",
      "output": {
        "documentation": "An Input Security Group",
        "shape": "DeleteInputSecurityGroupResponse"
      }
    },
    "DeleteMultiplex": {
      "documentation": "Delete a multiplex. The multiplex must be idle.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to delete the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to delete doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to delete due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteMultiplexRequest"
      },
      "name": "DeleteMultiplex",
      "output": {
        "documentation": "Deletion of the multiplex is in progress.",
        "shape": "DeleteMultiplexResponse"
      }
    },
    "DeleteMultiplexProgram": {
      "documentation": "Delete a program from a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to delete the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The program that you are trying to delete doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex program is unable to delete due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMultiplexProgramRequest"
      },
      "name": "DeleteMultiplexProgram",
      "output": {
        "documentation": "Deletion of the program is in progress.",
        "shape": "DeleteMultiplexProgramResponse"
      }
    },
    "DeleteReservation": {
      "documentation": "Delete an expired reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation you're attempting to delete does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete reservation request",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The reservation could not be deleted because it is currently active.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReservationRequest"
      },
      "name": "DeleteReservation",
      "output": {
        "documentation": "Deleted reservation",
        "shape": "DeleteReservationResponse"
      }
    },
    "DeleteSchedule": {
      "documentation": "Delete all schedule actions on a channel.",
      "errors": [
        {
          "documentation": "This request to delete the schedule on this channel was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The specified channel does not exist to have its schedule deleted.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteScheduleRequest"
      },
      "name": "DeleteSchedule",
      "output": {
        "documentation": "Successful delete of the schedule.",
        "shape": "DeleteScheduleResponse"
      }
    },
    "DeleteTags": {
      "documentation": "Removes tags for a resource",
      "errors": [
        {
          "documentation": "The arn was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "name": "DeleteTags"
    },
    "DescribeChannel": {
      "documentation": "Gets details about a channel",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to describe does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe channel calls to channel service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "name": "DescribeChannel",
      "output": {
        "documentation": "Channel details",
        "shape": "DescribeChannelResponse"
      }
    },
    "DescribeInput": {
      "documentation": "Produces details about an input",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "name": "DescribeInput",
      "output": {
        "documentation": "Input details",
        "shape": "DescribeInputResponse"
      }
    },
    "DescribeInputDevice": {
      "documentation": "Gets the details for the input device",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe the input device.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The input device you're requesting to describe does not exist. Check the ID.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceRequest"
      },
      "name": "DescribeInputDevice",
      "output": {
        "documentation": "Details for the input device.",
        "shape": "DescribeInputDeviceResponse"
      }
    },
    "DescribeInputDeviceThumbnail": {
      "documentation": "Get the latest thumbnail data for the input device.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe input device thumbnail.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on get thumbnail calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceThumbnailRequest"
      },
      "name": "DescribeInputDeviceThumbnail",
      "output": {
        "documentation": "Latest InputDevice Thumbnail",
        "shape": "DescribeInputDeviceThumbnailResponse"
      }
    },
    "DescribeInputSecurityGroup": {
      "documentation": "Produces a summary of an Input Security Group",
      "errors": [
        {
          "documentation": "The request to describe an Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to describe this Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input Security Group not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "name": "DescribeInputSecurityGroup",
      "output": {
        "documentation": "An Input Security Group",
        "shape": "DescribeInputSecurityGroupResponse"
      }
    },
    "DescribeMultiplex": {
      "documentation": "Gets details about a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to describe the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to describe doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexRequest"
      },
      "name": "DescribeMultiplex",
      "output": {
        "documentation": "Details for one multiplex.",
        "shape": "DescribeMultiplexResponse"
      }
    },
    "DescribeMultiplexProgram": {
      "documentation": "Get the details for a program in a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to describe the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't describe the program. The multiplex or the program that you specified doesn\u2019t exist. Check the IDs and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexProgramRequest"
      },
      "name": "DescribeMultiplexProgram",
      "output": {
        "documentation": "The details of one program.",
        "shape": "DescribeMultiplexProgramResponse"
      }
    },
    "DescribeOffering": {
      "documentation": "Get details for an offering.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe offering",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Offering you're attempting to describe does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe offering request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "name": "DescribeOffering",
      "output": {
        "documentation": "Offering details",
        "shape": "DescribeOfferingResponse"
      }
    },
    "DescribeReservation": {
      "documentation": "Get details for a reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation you're attempting to describe does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe reservation request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "name": "DescribeReservation",
      "output": {
        "documentation": "Reservation details",
        "shape": "DescribeReservationResponse"
      }
    },
    "DescribeSchedule": {
      "documentation": "Get a channel schedule",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting a schedule describe for does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeScheduleRequest"
      },
      "name": "DescribeSchedule",
      "output": {
        "documentation": "An array of channel schedule actions.",
        "shape": "DescribeScheduleResponse"
      }
    },
    "ListChannels": {
      "documentation": "Produces list of channels that have been created",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list channels.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list channel calls to channel service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "name": "ListChannels",
      "output": {
        "documentation": "An array of channels",
        "shape": "ListChannelsResponse"
      }
    },
    "ListInputDeviceTransfers": {
      "documentation": "List input devices that are currently being transferred. List input devices that you are transferring from your AWS account or input devices that another AWS account is transferring to you.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Transfer operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list transferring devices.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list devices calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDeviceTransfers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDeviceTransfersRequest"
      },
      "name": "ListInputDeviceTransfers",
      "output": {
        "documentation": "An array of input devices that are currently being transferred.",
        "shape": "ListInputDeviceTransfersResponse"
      }
    },
    "ListInputDevices": {
      "documentation": "List input devices",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list input devices.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list devices calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDevicesRequest"
      },
      "name": "ListInputDevices",
      "output": {
        "documentation": "An array of input devices.",
        "shape": "ListInputDevicesResponse"
      }
    },
    "ListInputSecurityGroups": {
      "documentation": "Produces a list of Input Security Groups for an account",
      "errors": [
        {
          "documentation": "The request to list Input Security Groups was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to call ListInputSecurityGroups",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "name": "ListInputSecurityGroups",
      "output": {
        "documentation": "An array of Input Security Groups",
        "shape": "ListInputSecurityGroupsResponse"
      }
    },
    "ListInputs": {
      "documentation": "Produces list of inputs that have been created",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "name": "ListInputs",
      "output": {
        "documentation": "An array of inputs",
        "shape": "ListInputsResponse"
      }
    },
    "ListMultiplexPrograms": {
      "documentation": "List the programs that currently exist for a specific multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list multiplex programs.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't provide the list of programs. The multiplex that you specified doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexProgramsRequest"
      },
      "name": "ListMultiplexPrograms",
      "output": {
        "documentation": "An array of the programs for one multiplex.",
        "shape": "ListMultiplexProgramsResponse"
      }
    },
    "ListMultiplexes": {
      "documentation": "Retrieve a list of the existing multiplexes.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to list multiplexes.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexesRequest"
      },
      "name": "ListMultiplexes",
      "output": {
        "documentation": "An array of multiplexes.",
        "shape": "ListMultiplexesResponse"
      }
    },
    "ListOfferings": {
      "documentation": "List offerings available for purchase.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list offerings",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list offerings request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "name": "ListOfferings",
      "output": {
        "documentation": "List of offerings",
        "shape": "ListOfferingsResponse"
      }
    },
    "ListReservations": {
      "documentation": "List purchased reservations.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list reservations",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list reservations request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "name": "ListReservations",
      "output": {
        "documentation": "List of reservations",
        "shape": "ListReservationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "Produces list of tags that have been created for a resource",
      "errors": [
        {
          "documentation": "The arn was not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "An array of tags",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PurchaseOffering": {
      "documentation": "Purchase an offering and create a reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to purchase the offering",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Offering you're attempting to purchase does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on purchase offering request",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Offering purchase prevented by service resource issue",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "name": "PurchaseOffering",
      "output": {
        "documentation": "Purchased reservation",
        "shape": "PurchaseOfferingResponse"
      }
    },
    "RebootInputDevice": {
      "documentation": "Send a reboot command to the specified input device. The device will begin rebooting within a few seconds of sending the command. When the reboot is complete, the device\u2019s connection status will change to connected.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Reboot operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to reboot input device.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on reboot device calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reboot",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootInputDeviceRequest"
      },
      "name": "RebootInputDevice",
      "output": {
        "documentation": "Your reboot request has succeeded.",
        "shape": "RebootInputDeviceResponse"
      }
    },
    "RejectInputDeviceTransfer": {
      "documentation": "Reject the transfer of the specified input device to your AWS account.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Transfer operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to reject input device transfers.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on transfer device calls to the input device service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Input device transfer could not be rejected.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reject",
        "responseCode": 200
      },
      "input": {
        "shape": "RejectInputDeviceTransferRequest"
      },
      "name": "RejectInputDeviceTransfer",
      "output": {
        "documentation": "Your reject request has succeeded.",
        "shape": "RejectInputDeviceTransferResponse"
      }
    },
    "StartChannel": {
      "documentation": "Starts an existing channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to start the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to start does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to start due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "name": "StartChannel",
      "output": {
        "documentation": "Successfully initiated start of the channel.",
        "shape": "StartChannelResponse"
      }
    },
    "StartInputDeviceMaintenanceWindow": {
      "documentation": "Start a maintenance window for the specified input device. Starting a maintenance window will give the device up to two hours to install software. If the device was streaming prior to the maintenance, it will resume streaming when the software is fully installed. Devices automatically install updates while they are powered on and their MediaLive channels are stopped. A maintenance window allows you to update a device without having to stop MediaLive channels that use the device. The device must remain powered on and connected to the internet for the duration of the maintenance.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Start maintenance window operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to start a maintenance window for this input device.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start maintenance window calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/startInputDeviceMaintenanceWindow",
        "responseCode": 200
      },
      "input": {
        "shape": "StartInputDeviceMaintenanceWindowRequest"
      },
      "name": "StartInputDeviceMaintenanceWindow",
      "output": {
        "documentation": "Your start maintenance window request has succeeded.",
        "shape": "StartInputDeviceMaintenanceWindowResponse"
      }
    },
    "StartMultiplex": {
      "documentation": "Start (run) the multiplex. Starting the multiplex does not start the channels. You must explicitly start each channel.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to start the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to start doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to start due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMultiplexRequest"
      },
      "name": "StartMultiplex",
      "output": {
        "documentation": "The action to start the multiplex is in progress.",
        "shape": "StartMultiplexResponse"
      }
    },
    "StopChannel": {
      "documentation": "Stops a running channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to stop the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to stop does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on stop channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to stop due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "name": "StopChannel",
      "output": {
        "documentation": "Successfully initiated stop of the channel.",
        "shape": "StopChannelResponse"
      }
    },
    "StopMultiplex": {
      "documentation": "Stops a running multiplex. If the multiplex isn't running, this action has no effect.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to stop the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to stop doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on stop multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to stop due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopMultiplexRequest"
      },
      "name": "StopMultiplex",
      "output": {
        "documentation": "The action to stop the multiplex is in progress.",
        "shape": "StopMultiplexResponse"
      }
    },
    "TransferInputDevice": {
      "documentation": "Start an input device transfer to another AWS account. After you make the request, the other account must accept or reject the transfer.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Transfer operation failed, input could not be validated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to transfer input devices.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input device not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on transfer device calls to the input device service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Input device could not be transferred.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/transfer",
        "responseCode": 200
      },
      "input": {
        "shape": "TransferInputDeviceRequest"
      },
      "name": "TransferInputDevice",
      "output": {
        "documentation": "The device transfer request has started.",
        "shape": "TransferInputDeviceResponse"
      }
    },
    "UpdateChannel": {
      "documentation": "Updates a channel.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The channel configuration failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The channel is unable to update due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "name": "UpdateChannel",
      "output": {
        "documentation": "Channel is successfully updated.",
        "shape": "UpdateChannelResponse"
      }
    },
    "UpdateChannelClass": {
      "documentation": "Changes the class of the channel.",
      "errors": [
        {
          "documentation": "This request to update the channel class was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The channel configuration failed validation when attempting to update the channel class.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the class of this channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're trying to update the class on does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on update channel class calls.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel class cannot be updated due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelClassRequest"
      },
      "name": "UpdateChannelClass",
      "output": {
        "documentation": "The class of the channel has been successfully updated.",
        "shape": "UpdateChannelClassResponse"
      }
    },
    "UpdateInput": {
      "documentation": "Updates an input.",
      "errors": [
        {
          "documentation": "This request to update the input was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to update an input.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The input was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The input was unable to be updated at this time due to an issue with input resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "name": "UpdateInput",
      "output": {
        "documentation": "The input update is successfully initiated.",
        "shape": "UpdateInputResponse"
      }
    },
    "UpdateInputDevice": {
      "documentation": "Updates the parameters for the input device.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Input device failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the input device.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The input device you're requesting to  does not exist. Check the ID.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on update calls to the input device service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputDeviceRequest"
      },
      "name": "UpdateInputDevice",
      "output": {
        "documentation": "Input device update is in progress.",
        "shape": "UpdateInputDeviceResponse"
      }
    },
    "UpdateInputSecurityGroup": {
      "documentation": "Update an Input Security Group's Whilelists.",
      "errors": [
        {
          "documentation": "The request to update the Input Security Group was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to update an Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The Input Security Group was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The Input Security Group was unable to be updated due to an issue with input security group resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "name": "UpdateInputSecurityGroup",
      "output": {
        "documentation": "Successfully initiated the update of the Input Security Group.",
        "shape": "UpdateInputSecurityGroupResponse"
      }
    },
    "UpdateMultiplex": {
      "documentation": "Updates a multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The multiplex configuration failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to update the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to update doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The multiplex is unable to update due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexRequest"
      },
      "name": "UpdateMultiplex",
      "output": {
        "documentation": "The update to the multiplex has succeeded.",
        "shape": "UpdateMultiplexResponse"
      }
    },
    "UpdateMultiplexProgram": {
      "documentation": "Update a program in a multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The multiplex program failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to update the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't update the program. The multiplex or the program that you specified doesn\u2019t exist. Check the IDs and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The multiplex program is unable to update due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexProgramRequest"
      },
      "name": "UpdateMultiplexProgram",
      "output": {
        "documentation": "The update to the program has succeeded.",
        "shape": "UpdateMultiplexProgramResponse"
      }
    },
    "UpdateReservation": {
      "documentation": "Update reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The reservation could not be updated",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReservationRequest"
      },
      "name": "UpdateReservation",
      "output": {
        "documentation": "Updated reservation",
        "shape": "UpdateReservationResponse"
      }
    }
  },
  "shapes": {
    "AacCodingMode": {
      "documentation": "Aac Coding Mode",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ],
      "type": "string"
    },
    "AacInputType": {
      "documentation": "Aac Input Type",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ],
      "type": "string"
    },
    "AacProfile": {
      "documentation": "Aac Profile",
      "enum": [
        "HEV1",
        "HEV2",
        "LC"
      ],
      "type": "string"
    },
    "AacRateControlMode": {
      "documentation": "Aac Rate Control Mode",
      "enum": [
        "CBR",
        "VBR"
      ],
      "type": "string"
    },
    "AacRawFormat": {
      "documentation": "Aac Raw Format",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ],
      "type": "string"
    },
    "AacSettings": {
      "documentation": "Aac Settings",
      "members": {
        "Bitrate": {
          "documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile.",
          "locationName": "bitrate",
          "shape": "__double"
        },
        "CodingMode": {
          "documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
          "locationName": "codingMode",
          "shape": "AacCodingMode"
        },
        "InputType": {
          "documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD.",
          "locationName": "inputType",
          "shape": "AacInputType"
        },
        "Profile": {
          "documentation": "AAC Profile.",
          "locationName": "profile",
          "shape": "AacProfile"
        },
        "RateControlMode": {
          "documentation": "Rate Control Mode.",
          "locationName": "rateControlMode",
          "shape": "AacRateControlMode"
        },
        "RawFormat": {
          "documentation": "Sets LATM / LOAS AAC output for raw containers.",
          "locationName": "rawFormat",
          "shape": "AacRawFormat"
        },
        "SampleRate": {
          "documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
          "locationName": "sampleRate",
          "shape": "__double"
        },
        "Spec": {
          "documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
          "locationName": "spec",
          "shape": "AacSpec"
        },
        "VbrQuality": {
          "documentation": "VBR Quality Level - Only used if rateControlMode is VBR.",
          "locationName": "vbrQuality",
          "shape": "AacVbrQuality"
        }
      },
      "type": "structure"
    },
    "AacSpec": {
      "documentation": "Aac Spec",
      "enum": [
        "MPEG2",
        "MPEG4"
      ],
      "type": "string"
    },
    "AacVbrQuality": {
      "documentation": "Aac Vbr Quality",
      "enum": [
        "HIGH",
        "LOW",
        "MEDIUM_HIGH",
        "MEDIUM_LOW"
      ],
      "type": "string"
    },
    "Ac3BitstreamMode": {
      "documentation": "Ac3 Bitstream Mode",
      "enum": [
        "COMMENTARY",
        "COMPLETE_MAIN",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ],
      "type": "string"
    },
    "Ac3CodingMode": {
      "documentation": "Ac3 Coding Mode",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ],
      "type": "string"
    },
    "Ac3DrcProfile": {
      "documentation": "Ac3 Drc Profile",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3LfeFilter": {
      "documentation": "Ac3 Lfe Filter",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "Ac3MetadataControl": {
      "documentation": "Ac3 Metadata Control",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "Ac3Settings": {
      "documentation": "Ac3 Settings",
      "members": {
        "Bitrate": {
          "documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode.",
          "locationName": "bitrate",
          "shape": "__double"
        },
        "BitstreamMode": {
          "documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.",
          "locationName": "bitstreamMode",
          "shape": "Ac3BitstreamMode"
        },
        "CodingMode": {
          "documentation": "Dolby Digital coding mode. Determines number of channels.",
          "locationName": "codingMode",
          "shape": "Ac3CodingMode"
        },
        "Dialnorm": {
          "documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.",
          "locationName": "dialnorm",
          "shape": "__integerMin1Max31"
        },
        "DrcProfile": {
          "documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
          "locationName": "drcProfile",
          "shape": "Ac3DrcProfile"
        },
        "LfeFilter": {
          "documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.",
          "locationName": "lfeFilter",
          "shape": "Ac3LfeFilter"
        },
        "MetadataControl": {
          "documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
          "locationName": "metadataControl",
          "shape": "Ac3MetadataControl"
        }
      },
      "type": "structure"
    },
    "AcceptHeader": {
      "documentation": "The HTTP Accept header. Indicates the requested type fothe thumbnail.",
      "enum": [
        "image/jpeg"
      ],
      "type": "string"
    },
    "AcceptInputDeviceTransferRequest": {
      "documentation": "Placeholder documentation for AcceptInputDeviceTransferRequest",
      "members": {
        "InputDeviceId": {
          "documentation": "The unique ID of the input device to accept. For example, hd-123456789abcdef.",
          "location": "uri",
          "locationName": "inputDeviceId",
          "shape": "__string"
        }
      },
      "required": [
        "InputDeviceId"
      ],
      "type": "structure"
    },
    "AcceptInputDeviceTransferResponse": {
      "documentation": "Placeholder documentation for AcceptInputDeviceTransferResponse",
      "members": {},
      "type": "structure"
    },
    "AccessDenied": {
      "documentation": "Placeholder documentation for AccessDenied",
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "AccessibilityType": {
      "documentation": "Accessibility Type",
      "enum": [
        "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES",
        "IMPLEMENTS_ACCESSIBILITY_FEATURES"
      ],
      "type": "string"
    },
    "AfdSignaling": {
      "documentation": "Afd Signaling",
      "enum": [
        "AUTO",
        "FIXED",
        "NONE"
      ],
      "type": "string"
    },
    "AncillarySourceSettings": {
      "documentation": "Ancillary Source Settings",
      "members": {
        "SourceAncillaryChannelNumber": {
          "documentation": "Specifies the number (1 to 4) of the captions channel you want to extract from the ancillary captions. If you plan to convert the ancillary captions to another format, complete this field. If you plan to choose Embedded as the captions destination in the output (to pass through all the channels in the ancillary captions), leave this field blank because MediaLive ignores the field.",
          "locationName": "sourceAncillaryChannelNumber",
          "shape": "__integerMin1Max4"
        }
      },
      "type": "structure"
    },
    "ArchiveCdnSettings": {
      "documentation": "Archive Cdn Settings",
      "members": {
        "ArchiveS3Settings": {
          "locationName": "archiveS3Settings",
          "shape": "ArchiveS3Settings"
        }
      },
      "type": "structure"
    },
    "ArchiveContainerSettings": {
      "documentation": "Archive Container Settings",
      "members": {
        "M2tsSettings": {
          "locationName": "m2tsSettings",
          "shape": "M2tsSettings"
        },
        "RawSettings": {
          "locationName": "rawSettings",
          "shape": "RawSettings"
        }
      },
      "type": "structure"
    },
    "ArchiveGroupSettings": {
      "documentation": "Archive Group Settings",
      "members": {
        "ArchiveCdnSettings": {
          "documentation": "Parameters that control interactions with the CDN.",
          "locationName": "archiveCdnSettings",
          "shape": "ArchiveCdnSettings"
        },
        "Destination": {
          "documentation": "A directory and base filename where archive files should be written.",
          "locationName": "destination",
          "shape": "OutputLocationRef"
        },
        "RolloverInterval": {
          "documentation": "Number of seconds to write to archive file before closing and starting a new one.",
          "locationName": "rolloverInterval",
          "shape": "__integerMin1"
        }
      },
      "required": [
        "Destination"
      ],
      "type": "structure"
    },
    "ArchiveOutputSettings": {
      "documentation": "Archive Output Settings",
      "members": {
        "ContainerSettings": {
          "documentation": "Settings specific to the container type of the file.",
          "locationName": "containerSettings",
          "shape": "ArchiveContainerSettings"
        },
        "Extension": {
          "documentation": "Output file extension. If excluded, this will be auto-selected from the container type.",
          "locationName": "extension",
          "shape": "__string"
        },
        "NameModifier": {
[...]
