{
  "documentation": "<fullname>IoT Secure Tunneling</fullname> <p>IoT Secure Tunneling creates remote connections to devices deployed in the field.</p> <p>For more information about how IoT Secure Tunneling works, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/secure-tunneling.html\">IoT Secure Tunneling</a>.</p>",
  "metadata": {
    "apiVersion": "2018-10-05",
    "endpointPrefix": "api.tunneling.iot",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS IoT Secure Tunneling",
    "serviceId": "IoTSecureTunneling",
    "signatureVersion": "v4",
    "signingName": "IoTSecuredTunneling",
    "targetPrefix": "IoTSecuredTunneling",
    "uid": "iotsecuretunneling-2018-10-05"
  },
  "operations": {
    "CloseTunnel": {
      "documentation": "<p>Closes a tunnel identified by the unique tunnel id. When a <code>CloseTunnel</code> request is received, we close the WebSocket connections between the client and proxy server so no data can be transmitted.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">CloseTunnel</a> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CloseTunnelRequest"
      },
      "name": "CloseTunnel",
      "output": {
        "shape": "CloseTunnelResponse"
      }
    },
    "DescribeTunnel": {
      "documentation": "<p>Gets information about a tunnel identified by the unique tunnel id.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">DescribeTunnel</a> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTunnelRequest"
      },
      "name": "DescribeTunnel",
      "output": {
        "shape": "DescribeTunnelResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTunnels": {
      "documentation": "<p>List all tunnels for an Amazon Web Services account. Tunnels are listed by creation time in descending order, newer tunnels will be listed before older tunnels.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">ListTunnels</a> action.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTunnelsRequest"
      },
      "name": "ListTunnels",
      "output": {
        "shape": "ListTunnelsResponse"
      }
    },
    "OpenTunnel": {
      "documentation": "<p>Creates a new tunnel, and returns two client access tokens for clients to use to connect to the IoT Secure Tunneling proxy server.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">OpenTunnel</a> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "OpenTunnelRequest"
      },
      "name": "OpenTunnel",
      "output": {
        "shape": "OpenTunnelResponse"
      }
    },
    "RotateTunnelAccessToken": {
      "documentation": "<p>Revokes the current client access token (CAT) and returns new CAT for clients to use when reconnecting to secure tunneling to access the same tunnel.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">RotateTunnelAccessToken</a> action.</p> <note> <p>Rotating the CAT doesn't extend the tunnel duration. For example, say the tunnel duration is 12 hours and the tunnel has already been open for 4 hours. When you rotate the access tokens, the new tokens that are generated can only be used for the remaining 8 hours.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RotateTunnelAccessTokenRequest"
      },
      "name": "RotateTunnelAccessToken",
      "output": {
        "shape": "RotateTunnelAccessTokenResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>A resource tag.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "ClientAccessToken": {
      "sensitive": true,
      "type": "string"
    },
    "ClientMode": {
      "enum": [
        "SOURCE",
        "DESTINATION",
        "ALL"
      ],
      "type": "string"
    },
    "CloseTunnelRequest": {
      "members": {
        "delete": {
          "box": true,
          "documentation": "<p>When set to true, IoT Secure Tunneling deletes the tunnel data immediately.</p>",
          "shape": "DeleteFlag"
        },
        "tunnelId": {
          "documentation": "<p>The ID of the tunnel to close.</p>",
          "shape": "TunnelId"
        }
      },
      "required": [
        "tunnelId"
      ],
      "type": "structure"
    },
    "CloseTunnelResponse": {
      "members": {},
      "type": "structure"
    },
    "ConnectionState": {
      "documentation": "<p>The state of a connection.</p>",
      "members": {
        "lastUpdatedAt": {
          "documentation": "<p>The last time the connection status was updated.</p>",
          "shape": "DateType"
        },
        "status": {
          "documentation": "<p>The connection status of the tunnel. Valid values are <code>CONNECTED</code> and <code>DISCONNECTED</code>.</p>",
          "shape": "ConnectionStatus"
        }
      },
      "type": "structure"
    },
    "ConnectionStatus": {
      "enum": [
        "CONNECTED",
        "DISCONNECTED"
      ],
      "type": "string"
    },
    "DateType": {
      "type": "timestamp"
    },
    "DeleteFlag": {
      "type": "boolean"
    },
    "DescribeTunnelRequest": {
      "members": {
        "tunnelId": {
          "documentation": "<p>The tunnel to describe.</p>",
          "shape": "TunnelId"
        }
      },
      "required": [
        "tunnelId"
      ],
      "type": "structure"
    },
    "DescribeTunnelResponse": {
      "members": {
        "tunnel": {
          "documentation": "<p>The tunnel being described.</p>",
          "shape": "Tunnel"
        }
      },
      "type": "structure"
    },
    "Description": {
      "pattern": "[^\\p{C}]{1,2048}",
      "type": "string"
    },
    "DestinationConfig": {
      "documentation": "<p>The destination configuration.</p>",
      "members": {
        "services": {
          "documentation": "<p>A list of service names that identify the target application. The IoT client running on the destination device reads this value and uses it to look up a port or an IP address and a port. The IoT client instantiates the local proxy, which uses this information to connect to the destination application.</p>",
          "shape": "ServiceList"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT thing to which you want to connect.</p>",
          "shape": "ThingName"
        }
      },
      "required": [
        "services"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>Thrown when a tunnel limit is exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags for the specified resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTunnelsRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return at once.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>To retrieve the next set of results, the nextToken value from a previous response; otherwise null to receive the first set of results.</p>",
          "shape": "NextToken"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT thing associated with the destination device.</p>",
          "shape": "ThingName"
        }
      },
      "type": "structure"
    },
    "ListTunnelsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to get the next set of results, or null if there are no additional results.</p>",
          "shape": "NextToken"
        },
        "tunnelSummaries": {
          "documentation": "<p>A short description of the tunnels in an Amazon Web Services account.</p>",
          "shape": "TunnelSummaryList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "pattern": "[a-zA-Z0-9_=-]{1,4096}",
      "type": "string"
    },
    "OpenTunnelRequest": {
      "members": {
        "description": {
          "documentation": "<p>A short text description of the tunnel. </p>",
          "shape": "Description"
        },
        "destinationConfig": {
          "documentation": "<p>The destination configuration for the OpenTunnel request.</p>",
          "shape": "DestinationConfig"
        },
        "tags": {
          "documentation": "<p>A collection of tag metadata.</p>",
          "shape": "TagList"
        },
        "timeoutConfig": {
          "documentation": "<p>Timeout configuration for a tunnel.</p>",
          "shape": "TimeoutConfig"
        }
      },
      "type": "structure"
    },
    "OpenTunnelResponse": {
      "members": {
        "destinationAccessToken": {
          "documentation": "<p>The access token the destination local proxy uses to connect to IoT Secure Tunneling.</p>",
          "shape": "ClientAccessToken"
        },
        "sourceAccessToken": {
          "documentation": "<p>The access token the source local proxy uses to connect to IoT Secure Tunneling.</p>",
          "shape": "ClientAccessToken"
        },
        "tunnelArn": {
          "documentation": "<p>The Amazon Resource Name for the tunnel.</p>",
          "shape": "TunnelArn"
        },
        "tunnelId": {
          "documentation": "<p>A unique alpha-numeric tunnel ID.</p>",
          "shape": "TunnelId"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Thrown when an operation is attempted on a resource that does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "RotateTunnelAccessTokenRequest": {
      "members": {
        "clientMode": {
          "documentation": "<p>The mode of the client that will use the client token, which can be either the source or destination, or both source and destination.</p>",
          "shape": "ClientMode"
        },
        "destinationConfig": {
          "shape": "DestinationConfig"
        },
        "tunnelId": {
          "documentation": "<p>The tunnel for which you want to rotate the access tokens.</p>",
          "shape": "TunnelId"
        }
      },
      "required": [
        "tunnelId",
        "clientMode"
      ],
      "type": "structure"
    },
    "RotateTunnelAccessTokenResponse": {
      "members": {
        "destinationAccessToken": {
          "documentation": "<p>The client access token that the destination local proxy uses to connect to IoT Secure Tunneling.</p>",
          "shape": "ClientAccessToken"
        },
        "sourceAccessToken": {
          "documentation": "<p>The client access token that the source local proxy uses to connect to IoT Secure Tunneling.</p>",
          "shape": "ClientAccessToken"
        },
        "tunnelArn": {
          "documentation": "<p>The Amazon Resource Name for the tunnel.</p>",
          "shape": "TunnelArn"
        }
      },
      "type": "structure"
    },
    "Service": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9:_-]+",
      "type": "string"
    },
    "ServiceList": {
      "member": {
        "shape": "Service"
      },
      "min": 1,
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>An arbitary key/value pair used to add searchable metadata to secure tunnel resources.</p>",
      "members": {
        "key": {
          "documentation": "<p>The key of the tag.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "shape": "AmazonResourceName"
        },
        "tags": {
          "documentation": "<p>The tags for the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "ThingName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9:_-]+",
      "type": "string"
    },
    "TimeoutConfig": {
      "documentation": "<p>Tunnel timeout configuration.</p>",
      "members": {
        "maxLifetimeTimeoutMinutes": {
          "box": true,
          "documentation": "<p>The maximum amount of time (in minutes) a tunnel can remain open. If not specified, maxLifetimeTimeoutMinutes defaults to 720 minutes. Valid values are from 1 minute to 12 hours (720 minutes) </p>",
          "shape": "TimeoutInMin"
        }
      },
      "type": "structure"
    },
    "TimeoutInMin": {
      "max": 720,
      "min": 1,
      "type": "integer"
    },
    "Tunnel": {
      "documentation": "<p>A connection between a source computer and a destination device.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The time when the tunnel was created.</p>",
          "shape": "DateType"
        },
        "description": {
          "documentation": "<p>A description of the tunnel.</p>",
          "shape": "Description"
        },
        "destinationConfig": {
          "documentation": "<p>The destination configuration that specifies the thing name of the destination device and a service name that the local proxy uses to connect to the destination application.</p>",
          "shape": "DestinationConfig"
        },
        "destinationConnectionState": {
          "documentation": "<p>The connection state of the destination application.</p>",
          "shape": "ConnectionState"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The last time the tunnel was updated.</p>",
          "shape": "DateType"
        },
        "sourceConnectionState": {
          "documentation": "<p>The connection state of the source application.</p>",
          "shape": "ConnectionState"
        },
        "status": {
          "documentation": "<p>The status of a tunnel. Valid values are: Open and Closed.</p>",
          "shape": "TunnelStatus"
        },
        "tags": {
          "documentation": "<p>A list of tag metadata associated with the secure tunnel.</p>",
          "shape": "TagList"
        },
        "timeoutConfig": {
          "documentation": "<p>Timeout configuration for the tunnel.</p>",
          "shape": "TimeoutConfig"
        },
        "tunnelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a tunnel.</p>",
          "shape": "TunnelArn"
        },
        "tunnelId": {
          "documentation": "<p>A unique alpha-numeric ID that identifies a tunnel.</p>",
          "shape": "TunnelId"
        }
      },
      "type": "structure"
    },
    "TunnelArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "TunnelId": {
      "pattern": "[a-zA-Z0-9_\\-+=:]{1,128}",
      "type": "string"
    },
    "TunnelStatus": {
      "enum": [
        "OPEN",
        "CLOSED"
      ],
      "type": "string"
    },
    "TunnelSummary": {
      "documentation": "<p>Information about the tunnel.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The time the tunnel was created.</p>",
          "shape": "DateType"
        },
        "description": {
          "documentation": "<p>A description of the tunnel.</p>",
          "shape": "Description"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time the tunnel was last updated.</p>",
          "shape": "DateType"
        },
        "status": {
          "documentation": "<p>The status of a tunnel. Valid values are: Open and Closed.</p>",
          "shape": "TunnelStatus"
        },
        "tunnelArn": {
          "documentation": "<p>The Amazon Resource Name of the tunnel. </p>",
          "shape": "TunnelArn"
        },
        "tunnelId": {
          "documentation": "<p>The unique alpha-numeric identifier for the tunnel.</p>",
          "shape": "TunnelId"
        }
      },
      "type": "structure"
    },
    "TunnelSummaryList": {
      "member": {
        "shape": "TunnelSummary"
      },
      "type": "list"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "tagKeys": {
          "documentation": "<p>The keys of the tags to remove.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    }
  },
  "version": "2.0"
}
