{
  "documentation": "<p>Recovery Control Configuration API Reference for Amazon Route 53 Application Recovery Controller</p>",
  "metadata": {
    "apiVersion": "2020-11-02",
    "endpointPrefix": "route53-recovery-control-config",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Route53 Recovery Control Config",
    "serviceId": "Route53 Recovery Control Config",
    "signatureVersion": "v4",
    "signingName": "route53-recovery-control-config",
    "uid": "route53-recovery-control-config-2020-11-02"
  },
  "operations": {
    "CreateCluster": {
      "documentation": "<p>Create a new cluster. A cluster is a set of redundant Regional endpoints against which you can run API calls to update or get the state of one or more routing controls. Each cluster has a name, status, Amazon Resource Name (ARN), and an array of the five cluster endpoints (one for each supported Amazon Web Services Region) that you can use with API calls to the cluster data plane.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cluster",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "name": "CreateCluster",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "CreateClusterResponse"
      }
    },
    "CreateControlPanel": {
      "documentation": "<p>Creates a new control panel. A control panel represents a group of routing controls that can be changed together in a single transaction. You can use a control panel to centrally view the operational status of applications across your organization, and trigger multi-app failovers in a single transaction, for example, to fail over an Availability Zone or Amazon Web Services Region.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/controlpanel",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateControlPanelRequest"
      },
      "name": "CreateControlPanel",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "CreateControlPanelResponse"
      }
    },
    "CreateRoutingControl": {
      "documentation": "<p>Creates a new routing control.</p> <p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/routingcontrol",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateRoutingControlRequest"
      },
      "name": "CreateRoutingControl",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "CreateRoutingControlResponse"
      }
    },
    "CreateSafetyRule": {
      "documentation": "<p>Creates a safety rule in a control panel. Safety rules let you add safeguards around changing routing control states, and for enabling and disabling routing controls, to help prevent unexpected outcomes.</p> <p>There are two types of safety rules: assertion rules and gating rules.</p> <p>Assertion rule: An assertion rule enforces that, when you change a routing control state, that a certain criteria is met. For example, the criteria might be that at least one routing control state is On after the transation so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p> <p>Gating rule: A gating rule lets you configure a gating routing control as an overall \"on/off\" switch for a group of routing controls. Or, you can configure more complex gating scenarios, for example by configuring multiple gating routing controls.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.safety-rules.html\">Safety rules</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/safetyrule",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSafetyRuleRequest"
      },
      "name": "CreateSafetyRule",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "CreateSafetyRuleResponse"
      }
    },
    "DeleteCluster": {
      "documentation": "<p>Delete a cluster.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/cluster/{ClusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "name": "DeleteCluster",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DeleteClusterResponse"
      }
    },
    "DeleteControlPanel": {
      "documentation": "<p>Deletes a control panel.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/controlpanel/{ControlPanelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteControlPanelRequest"
      },
      "name": "DeleteControlPanel",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DeleteControlPanelResponse"
      }
    },
    "DeleteRoutingControl": {
      "documentation": "<p>Deletes a routing control.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/routingcontrol/{RoutingControlArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRoutingControlRequest"
      },
      "name": "DeleteRoutingControl",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DeleteRoutingControlResponse"
      }
    },
    "DeleteSafetyRule": {
      "documentation": "<p>Deletes a safety rule.</p>/&gt;",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/safetyrule/{SafetyRuleArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSafetyRuleRequest"
      },
      "name": "DeleteSafetyRule",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DeleteSafetyRuleResponse"
      }
    },
    "DescribeCluster": {
      "documentation": "<p>Display the details about a cluster. The response includes the cluster name, endpoints, status, and Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/cluster/{ClusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterRequest"
      },
      "name": "DescribeCluster",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DescribeClusterResponse"
      }
    },
    "DescribeControlPanel": {
      "documentation": "<p>Displays details about a control panel.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeControlPanelRequest"
      },
      "name": "DescribeControlPanel",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DescribeControlPanelResponse"
      }
    },
    "DescribeRoutingControl": {
      "documentation": "<p>Displays details about a routing control. A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/routingcontrol/{RoutingControlArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRoutingControlRequest"
      },
      "name": "DescribeRoutingControl",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DescribeRoutingControlResponse"
      }
    },
    "DescribeSafetyRule": {
      "documentation": "<p>Returns information about a safety rule.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/safetyrule/{SafetyRuleArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSafetyRuleRequest"
      },
      "name": "DescribeSafetyRule",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "DescribeSafetyRuleResponse"
      }
    },
    "ListAssociatedRoute53HealthChecks": {
      "documentation": "<p>Returns an array of all Amazon Route 53 health checks associated with a specific routing control.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAssociatedRoute53HealthChecksRequest"
      },
      "name": "ListAssociatedRoute53HealthChecks",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListAssociatedRoute53HealthChecksResponse"
      }
    },
    "ListClusters": {
      "documentation": "<p>Returns an array of all the clusters in an account.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/cluster",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "name": "ListClusters",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListClustersResponse"
      }
    },
    "ListControlPanels": {
      "documentation": "<p>Returns an array of control panels in an account or in a cluster.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/controlpanels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListControlPanelsRequest"
      },
      "name": "ListControlPanels",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListControlPanelsResponse"
      }
    },
    "ListRoutingControls": {
      "documentation": "<p>Returns an array of routing controls for a control panel. A routing control is an Amazon Route 53 Application Recovery Controller construct that has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutingControlsRequest"
      },
      "name": "ListRoutingControls",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListRoutingControlsResponse"
      }
    },
    "ListSafetyRules": {
      "documentation": "<p>List the safety rules (the assertion rules and gating rules) that you've defined for the routing controls in a control panel.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSafetyRulesRequest"
      },
      "name": "ListSafetyRules",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListSafetyRulesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for a resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds a tag to a resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from a resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateControlPanel": {
      "documentation": "<p>Updates a control panel. The only update you can make to a control panel is to change the name of the control panel.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/controlpanel",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateControlPanelRequest"
      },
      "name": "UpdateControlPanel",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "UpdateControlPanelResponse"
      }
    },
    "UpdateRoutingControl": {
      "documentation": "<p>Updates a routing control. You can only update the name of the routing control. To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
      "errors": [
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/routingcontrol",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRoutingControlRequest"
      },
      "name": "UpdateRoutingControl",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "UpdateRoutingControlResponse"
      }
    },
    "UpdateSafetyRule": {
      "documentation": "<p>Update a safety rule (an assertion rule or gating rule). You can only update the name and the waiting period for a safety rule. To make other updates, delete the safety rule and create a new one.</p>",
      "errors": [
        {
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/safetyrule",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSafetyRuleRequest"
      },
      "name": "UpdateSafetyRule",
      "output": {
        "documentation": "<p>200 response - Success.</p>",
        "shape": "UpdateSafetyRuleResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>403 response - You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AssertionRule": {
      "documentation": "<p>An assertion rule enforces that, when you change a routing control state, that the criteria that you set in the rule configuration is met. Otherwise, the change to the routing control is not accepted. For example, the criteria might be that at least one routing control state is On after the transation so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p>",
      "members": {
        "AssertedControls": {
          "documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Name": {
          "documentation": "<p>Name of the assertion rule. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RuleConfig": {
          "documentation": "<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
          "shape": "RuleConfig"
        },
        "SafetyRuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Status": {
          "documentation": "<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "shape": "Status"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "Status",
        "ControlPanelArn",
        "SafetyRuleArn",
        "AssertedControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "AssertionRuleUpdate": {
      "documentation": "<p>An update to an assertion rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "SafetyRuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "SafetyRuleArn",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "Cluster": {
      "documentation": "<p>A set of five redundant Regional endpoints against which you can execute API calls to update or get the state of routing controls. You can host multiple control panels and routing controls on one cluster.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "ClusterEndpoints": {
          "documentation": "<p>Endpoints for a cluster. Specify one of these endpoints when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Routing Control Actions.</p>",
          "shape": "__listOfClusterEndpoint"
        },
        "Name": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "Status": {
          "documentation": "<p>Deployment status of a resource. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "ClusterEndpoint": {
      "documentation": "<p>A cluster endpoint. Specify an endpoint when you want to set or retrieve a routing control state in the cluster.</p>",
      "members": {
        "Endpoint": {
          "documentation": "<p>A cluster endpoint. Specify an endpoint and Amazon Web Services Region when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Routing Control Actions.</p>",
          "shape": "__stringMin1Max128PatternAZaZ09"
        },
        "Region": {
          "documentation": "<p>The Amazon Web Services Region for a cluster endpoint.</p>",
          "shape": "__stringMin1Max32PatternS"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ControlPanel": {
      "documentation": "<p>A control panel represents a group of routing controls that can be changed together in a single transaction.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "DefaultControlPanel": {
          "documentation": "<p>A flag that Amazon Route 53 Application Recovery Controller sets to true to designate the default control panel for a cluster. When you create a cluster, Amazon Route 53 Application Recovery Controller creates a control panel, and sets this flag for that control panel. If you create a control panel yourself, this flag is set to false.</p>",
          "shape": "__boolean"
        },
        "Name": {
          "documentation": "<p>The name of the control panel. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RoutingControlCount": {
          "documentation": "<p>The number of routing controls in the control panel.</p>",
          "shape": "__integer"
        },
        "Status": {
          "documentation": "<p>The deployment status of control panel. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CreateClusterRequest": {
      "documentation": "<p>Creates a cluster.</p>",
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin1Max64PatternS"
        },
        "ClusterName": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the cluster.</p>",
          "shape": "__mapOf__stringMin0Max256PatternS"
        }
      },
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "CreateClusterResponse": {
      "members": {
        "Cluster": {
          "documentation": "<p>The cluster that was created.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "CreateControlPanelRequest": {
      "documentation": "<p>The details of the control panel that you're creating.</p>",
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin1Max64PatternS"
        },
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster for the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelName": {
          "documentation": "<p>The name of the control panel.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the control panel.</p>",
          "shape": "__mapOf__stringMin0Max256PatternS"
        }
      },
      "required": [
        "ClusterArn",
        "ControlPanelName"
      ],
      "type": "structure"
    },
    "CreateControlPanelResponse": {
      "members": {
        "ControlPanel": {
          "documentation": "<p>Information about a control panel.</p>",
          "shape": "ControlPanel"
        }
      },
      "type": "structure"
    },
    "CreateRoutingControlRequest": {
      "documentation": "<p>The details of the routing control that you're creating.</p>",
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin1Max64PatternS"
        },
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the routing control.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "RoutingControlName": {
          "documentation": "<p>The name of the routing control.</p>",
          "shape": "__stringMin1Max64PatternS"
        }
      },
      "required": [
        "ClusterArn",
        "RoutingControlName"
      ],
      "type": "structure"
    },
    "CreateRoutingControlResponse": {
      "members": {
        "RoutingControl": {
          "documentation": "<p>The routing control that is created.</p>",
          "shape": "RoutingControl"
        }
      },
      "type": "structure"
    },
    "CreateSafetyRuleRequest": {
      "documentation": "<p>The request body that you include when you create a safety rule.</p>",
      "members": {
        "AssertionRule": {
          "documentation": "<p>The assertion rule requested.</p>",
          "shape": "NewAssertionRule"
        },
        "ClientToken": {
          "documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin1Max64PatternS"
        },
        "GatingRule": {
          "documentation": "<p>The gating rule requested.</p>",
          "shape": "NewGatingRule"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the safety rule.</p>",
          "shape": "__mapOf__stringMin0Max256PatternS"
        }
      },
      "type": "structure"
    },
    "CreateSafetyRuleResponse": {
      "members": {
        "AssertionRule": {
          "documentation": "<p>The assertion rule created.</p>",
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "documentation": "<p>The gating rule created.</p>",
          "shape": "GatingRule"
        }
      },
      "type": "structure"
    },
    "DeleteClusterRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that you're deleting.</p>",
          "location": "uri",
          "locationName": "ClusterArn",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "DeleteClusterResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteControlPanelRequest": {
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "shape": "__string"
        }
      },
      "required": [
        "ControlPanelArn"
      ],
      "type": "structure"
    },
    "DeleteControlPanelResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRoutingControlRequest": {
      "members": {
        "RoutingControlArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control that you're deleting.</p>",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "shape": "__string"
        }
      },
      "required": [
        "RoutingControlArn"
      ],
      "type": "structure"
    },
    "DeleteRoutingControlResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSafetyRuleRequest": {
      "members": {
        "SafetyRuleArn": {
          "documentation": "<p>The ARN of the safety rule.</p>",
          "location": "uri",
          "locationName": "SafetyRuleArn",
          "shape": "__string"
        }
      },
      "required": [
        "SafetyRuleArn"
      ],
      "type": "structure"
    },
    "DeleteSafetyRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeClusterRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
          "location": "uri",
          "locationName": "ClusterArn",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "DescribeClusterResponse": {
      "members": {
        "Cluster": {
          "documentation": "<p>The cluster for the DescribeCluster request.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "DescribeControlPanelRequest": {
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "shape": "__string"
        }
      },
      "required": [
        "ControlPanelArn"
      ],
      "type": "structure"
    },
    "DescribeControlPanelResponse": {
      "members": {
        "ControlPanel": {
          "documentation": "<p>Information about the control panel.</p>",
          "shape": "ControlPanel"
        }
      },
      "type": "structure"
    },
    "DescribeRoutingControlRequest": {
      "members": {
        "RoutingControlArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "shape": "__string"
        }
      },
      "required": [
        "RoutingControlArn"
      ],
      "type": "structure"
    },
    "DescribeRoutingControlResponse": {
      "members": {
        "RoutingControl": {
          "documentation": "<p>Information about the routing control.</p>",
          "shape": "RoutingControl"
        }
      },
      "type": "structure"
    },
    "DescribeSafetyRuleRequest": {
      "members": {
        "SafetyRuleArn": {
          "documentation": "<p>The ARN of the safety rule.</p>",
          "location": "uri",
          "locationName": "SafetyRuleArn",
          "shape": "__string"
        }
      },
      "required": [
        "SafetyRuleArn"
      ],
      "type": "structure"
    },
    "DescribeSafetyRuleResponse": {
      "members": {
        "AssertionRule": {
          "documentation": "<p>The assertion rule in the response.</p>",
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "documentation": "<p>The gating rule in the response.</p>",
          "shape": "GatingRule"
        }
      },
      "type": "structure"
    },
    "GatingRule": {
      "documentation": "<p>A gating rule verifies that a gating routing control or set of gating rounting controls, evaluates as true, based on a rule configuration that you specify, which allows a set of routing control state changes to complete.</p> <p>For example, if you specify one gating routing control and you set the Type in the rule configuration to OR, that indicates that you must set the gating routing control to On for the rule to evaluate as true; that is, for the gating control \"switch\" to be \"On\". When you do that, then you can update the routing control states for the target routing controls that you specify in the gating rule.</p>",
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "GatingControls": {
          "documentation": "<p>An array of gating routing control Amazon Resource Names (ARNs). For a simple \"on/off\" switch, specify the ARN for one routing control. The gating routing controls are evaluated by the rule configuration that you specify to determine if the target routing control states can be changed.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "Name": {
          "documentation": "<p>The name for the gating rule. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RuleConfig": {
          "documentation": "<p>The criteria that you set for gating routing controls that designates how many of the routing control states must be ON to allow you to update target routing control states.</p>",
          "shape": "RuleConfig"
        },
        "SafetyRuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Status": {
          "documentation": "<p>The deployment status of a gating rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "shape": "Status"
        },
        "TargetControls": {
          "documentation": "<p>An array of target routing control Amazon Resource Names (ARNs) for which the states can only be updated if the rule configuration that you specify evaluates to true for the gating routing control. As a simple example, if you have a single gating control, it acts as an overall \"on/off\" switch for a set of target routing controls. You can use this to manually override automated fail over, for example.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "Status",
        "TargetControls",
        "ControlPanelArn",
        "SafetyRuleArn",
        "GatingControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "GatingRuleUpdate": {
      "documentation": "<p>Update to a gating rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name for the gating rule. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "SafetyRuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "SafetyRuleArn",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ListAssociatedRoute53HealthChecksRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of objects that you want to return with this call.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "__string"
        },
        "RoutingControlArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "shape": "__string"
        }
      },
      "required": [
        "RoutingControlArn"
      ],
      "type": "structure"
    },
    "ListAssociatedRoute53HealthChecksResponse": {
      "members": {
        "HealthCheckIds": {
          "documentation": "<p>Identifiers for the health checks.</p>",
          "shape": "__listOf__stringMax36PatternS"
        },
        "NextToken": {
          "documentation": "<p>Next token for listing health checks.</p>",
          "shape": "__stringMin1Max8096PatternS"
        }
      },
      "type": "structure"
    },
    "ListClustersRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of objects that you want to return with this call.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListClustersResponse": {
      "members": {
        "Clusters": {
          "documentation": "<p>An array of the clusters in an account.</p>",
          "shape": "__listOfCluster"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "shape": "__stringMin1Max8096PatternS"
        }
      },
      "type": "structure"
    },
    "ListControlPanelsRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a cluster.</p>",
          "location": "querystring",
          "locationName": "ClusterArn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The number of objects that you want to return with this call.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListControlPanelsResponse": {
      "members": {
        "ControlPanels": {
          "documentation": "<p>The result of a successful ListControlPanel request.</p>",
          "shape": "__listOfControlPanel"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "shape": "__stringMin1Max8096PatternS"
        }
      },
      "type": "structure"
    },
    "ListRoutingControlsRequest": {
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The number of objects that you want to return with this call.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "__string"
        }
      },
      "required": [
        "ControlPanelArn"
      ],
      "type": "structure"
    },
    "ListRoutingControlsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "shape": "__stringMin1Max8096PatternS"
        },
        "RoutingControls": {
          "documentation": "<p>An array of routing controls.</p>",
          "shape": "__listOfRoutingControl"
        }
      },
      "type": "structure"
    },
    "ListSafetyRulesRequest": {
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The number of objects that you want to return with this call.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "__string"
        }
      },
      "required": [
        "ControlPanelArn"
      ],
      "type": "structure"
    },
    "ListSafetyRulesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>",
          "shape": "__stringMin1Max8096PatternS"
        },
        "SafetyRules": {
          "documentation": "<p>The list of safety rules in a control panel.</p>",
          "shape": "__listOfRule"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that's tagged.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags associated with the resource.</p>",
          "shape": "__mapOf__stringMin0Max256PatternS"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "NewAssertionRule": {
      "documentation": "<p>A new assertion rule for a control panel.</p>",
      "members": {
        "AssertedControls": {
          "documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Name": {
          "documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RuleConfig": {
          "documentation": "<p>The criteria that you set for specific assertion controls (routing controls) that designate how many control states must be ON as the result of a transaction. For example, if you have three assertion controls, you might specify ATLEAST 2for your rule configuration. This means that at least two assertion controls must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
          "shape": "RuleConfig"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "ControlPanelArn",
        "AssertedControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "NewGatingRule": {
      "documentation": "<p>A new gating rule for a control panel.</p>",
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "GatingControls": {
          "documentation": "<p>The gating controls for the new gating rule. That is, routing controls that are evaluated by the rule configuration that you specify.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "Name": {
          "documentation": "<p>The name for the new gating rule.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RuleConfig": {
          "documentation": "<p>The criteria that you set for specific gating controls (routing controls) that designates how many control states must be ON to allow you to change (set or unset) the target control states.</p>",
          "shape": "RuleConfig"
        },
        "TargetControls": {
          "documentation": "<p>Routing controls that can only be set or unset if the specified RuleConfig evaluates to true for the specified GatingControls. For example, say you have three gating controls, one for each of three Amazon Web Services Regions. Now you specify AtLeast 2 as your RuleConfig. With these settings, you can only change (set or unset) the routing controls that you have specified as TargetControls if that rule evaluates to true.</p> <p>In other words, your ability to change the routing controls that you have specified as TargetControls is gated by the rule that you set for the routing controls in GatingControls.</p>",
          "shape": "__listOf__stringMin1Max256PatternAZaZ09"
        },
        "WaitPeriodMs": {
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
          "shape": "__integer"
        }
      },
      "required": [
        "TargetControls",
        "ControlPanelArn",
        "GatingControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found..</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "RoutingControl": {
      "documentation": "<p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p>",
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Name": {
          "documentation": "<p>The name of the routing control.</p>",
          "shape": "__stringMin1Max64PatternS"
        },
        "RoutingControlArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "Status": {
          "documentation": "<p>The deployment status of a routing control. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "Rule": {
      "documentation": "<p>A safety rule. A safety rule can be an assertion rule or a gating rule.</p>",
      "members": {
        "ASSERTION": {
          "documentation": "<p>An assertion rule enforces that, when a routing control state is changed, the criteria set by the rule configuration is met. Otherwise, the change to the routing control state is not accepted. For example, the criteria might be that at least one routing control state is On after the transation so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p>",
          "shape": "AssertionRule"
        },
        "GATING": {
          "documentation": "<p>A gating rule verifies that a gating routing control or set of gating rounting controls, evaluates as true, based on a rule configuration that you specify, which allows a set of routing control state changes to complete.</p> <p>For example, if you specify one gating routing control and you set the Type in the rule configuration to OR, that indicates that you must set the gating routing control to On for the rule to evaluate as true; that is, for the gating control \"switch\" to be \"On\". When you do that, then you can update the routing control states for the target routing controls that you specify in the gating rule.</p>",
          "shape": "GatingRule"
        }
      },
      "type": "structure"
    },
    "RuleConfig": {
      "documentation": "<p>The rule configuration for an assertion rule. That is, the criteria that you set for specific assertion controls (routing controls) that specify how many control states must be ON after a transaction completes.</p>",
      "members": {
        "Inverted": {
          "documentation": "<p>Logical negation of the rule. If the rule would usually evaluate true, it's evaluated as false, and vice versa.</p>",
          "shape": "__boolean"
        },
        "Threshold": {
          "documentation": "<p>The value of N, when you specify an ATLEAST rule type. That is, Threshold is the number of controls that must be set when you specify an ATLEAST type.</p>",
          "shape": "__integer"
        },
        "Type": {
          "documentation": "<p>A rule can be one of the following: ATLEAST, AND, or OR.</p>",
          "shape": "RuleType"
        }
      },
      "required": [
        "Type",
        "Inverted",
        "Threshold"
      ],
      "type": "structure"
    },
    "RuleType": {
      "documentation": "<p>An enumerated type that determines how the evaluated rules are processed. RuleType can be one of the following:</p> <p>ATLEAST - At least N routing controls must be set. You specify N as the Threshold in the rule configuration.</p> <p>AND - All routing controls must be set. This is a shortcut for \"At least N,\" where N is the total number of controls in the rule.</p> <p>OR - Any control must be set. This is a shortcut for \"At least N,\" where N is 1.</p>",
      "enum": [
        "ATLEAST",
        "AND",
        "OR"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>402 response - You attempted to create more resources than the service allows based on service quotas.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Status": {
      "documentation": "<p>The deployment status of a resource. Status can be one of the following:</p> <p>PENDING: Amazon Route 53 Application Recovery Controller is creating the resource.</p> <p>DEPLOYED: The resource is deployed and ready to use.</p> <p>PENDING_DELETION: Amazon Route 53 Application Recovery Controller is deleting the resource.</p>",
      "enum": [
        "PENDING",
        "DEPLOYED",
        "PENDING_DELETION"
      ],
      "type": "string"
    },
    "TagResourceRequest": {
      "documentation": "<p>Request of adding tag to the resource</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that's tagged.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the resource.</p>",
          "shape": "__mapOf__stringMin0Max256PatternS"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "ThrottlingException": {
      "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that's tagged.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "__string"
        },
        "TagKeys": {
          "documentation": "<p>Keys for the tags to be removed.</p>",
          "location": "querystring",
          "locationName": "TagKeys",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateControlPanelRequest": {
      "documentation": "<p>The details of the control panel that you're updating.</p>",
      "members": {
        "ControlPanelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "ControlPanelName": {
          "documentation": "<p>The name of the control panel.</p>",
          "shape": "__stringMin1Max64PatternS"
        }
      },
      "required": [
        "ControlPanelArn",
        "ControlPanelName"
      ],
      "type": "structure"
    },
    "UpdateControlPanelResponse": {
      "members": {
        "ControlPanel": {
          "documentation": "<p>The control panel to update.</p>",
          "shape": "ControlPanel"
        }
      },
      "type": "structure"
    },
    "UpdateRoutingControlRequest": {
      "documentation": "<p>The details of the routing control that you're updating.</p>",
      "members": {
        "RoutingControlArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
          "shape": "__stringMin1Max256PatternAZaZ09"
        },
        "RoutingControlName": {
          "documentation": "<p>The name of the routing control.</p>",
          "shape": "__stringMin1Max64PatternS"
        }
      },
      "required": [
        "RoutingControlName",
        "RoutingControlArn"
      ],
      "type": "structure"
    },
    "UpdateRoutingControlResponse": {
      "members": {
        "RoutingControl": {
          "documentation": "<p>The routing control that was updated.</p>",
          "shape": "RoutingControl"
        }
      },
      "type": "structure"
    },
    "UpdateSafetyRuleRequest": {
      "documentation": "<p>A rule that you add to Application Recovery Controller to ensure that recovery actions don't accidentally impair your application's availability.</p>",
      "members": {
        "AssertionRuleUpdate": {
          "documentation": "<p>The assertion rule to update.</p>",
          "shape": "AssertionRuleUpdate"
        },
        "GatingRuleUpdate": {
          "documentation": "<p>The gating rule to update.</p>",
          "shape": "GatingRuleUpdate"
        }
      },
      "type": "structure"
    },
    "UpdateSafetyRuleResponse": {
      "members": {
        "AssertionRule": {
          "documentation": "<p>The assertion rule updated.</p>",
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "documentation": "<p>The gating rule updated.</p>",
          "shape": "GatingRule"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you might have used parameters together incorrectly.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "__boolean": {
      "type": "boolean"
    },
    "__double": {
      "type": "double"
    },
    "__integer": {
      "type": "integer"
    },
    "__listOfCluster": {
      "member": {
        "shape": "Cluster"
      },
      "type": "list"
    },
    "__listOfClusterEndpoint": {
      "member": {
        "shape": "ClusterEndpoint"
      },
      "type": "list"
    },
    "__listOfControlPanel": {
      "member": {
        "shape": "ControlPanel"
      },
      "type": "list"
    },
    "__listOfRoutingControl": {
      "member": {
        "shape": "RoutingControl"
      },
      "type": "list"
    },
    "__listOfRule": {
      "member": {
        "shape": "Rule"
      },
      "type": "list"
    },
    "__listOf__string": {
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "__listOf__stringMax36PatternS": {
      "member": {
        "shape": "__stringMax36PatternS"
      },
      "type": "list"
    },
    "__listOf__stringMin1Max256PatternAZaZ09": {
      "member": {
        "shape": "__stringMin1Max256PatternAZaZ09"
      },
      "type": "list"
    },
    "__long": {
      "type": "long"
    },
    "__mapOf__stringMin0Max256PatternS": {
      "key": {
        "shape": "__string"
      },
      "type": "map",
      "value": {
        "shape": "__stringMin0Max256PatternS"
      }
    },
    "__string": {
      "type": "string"
    },
    "__stringMax36PatternS": {
      "max": 36,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "__stringMin0Max256PatternS": {
      "max": 256,
      "min": 0,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "__stringMin1Max128PatternAZaZ09": {
      "max": 128,
      "min": 1,
      "pattern": "^[A-Za-z0-9:.\\/_-]*$",
      "type": "string"
    },
    "__stringMin1Max256PatternAZaZ09": {
      "max": 256,
      "min": 1,
      "pattern": "^[A-Za-z0-9:\\/_-]*$",
      "type": "string"
    },
    "__stringMin1Max32PatternS": {
      "max": 32,
      "min": 1,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "__stringMin1Max64PatternS": {
      "max": 64,
      "min": 1,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "__stringMin1Max8096PatternS": {
      "max": 8096,
      "min": 1,
      "pattern": "[\\S]*",
      "type": "string"
    },
    "__timestampIso8601": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "__timestampUnix": {
      "timestampFormat": "unixTimestamp",
      "type": "timestamp"
    }
  }
}
