{
  "documentation": "<p>This is the <i>Private Certificate Authority (PCA) API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types involved in creating and managing a private certificate authority (CA) for your organization.</p> <p>The documentation for each action shows the API request parameters and the JSON response. Alternatively, you can use one of the Amazon Web Services SDKs to access an API that is tailored to the programming language or platform that you prefer. For more information, see <a href=\"https://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p> <p>Each ACM Private CA API operation has a quota that determines the number of times the operation can be called per second. ACM Private CA throttles API requests at different rates depending on the operation. Throttling means that ACM Private CA rejects an otherwise valid request because the request exceeds the operation's quota for the number of requests per second. When a request is throttled, ACM Private CA returns a <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/CommonErrors.html\">ThrottlingException</a> error. ACM Private CA does not guarantee a minimum request rate for APIs. </p> <p>To see an up-to-date list of your ACM Private CA quotas, or to request a quota increase, log into your Amazon Web Services account and visit the <a href=\"https://console.aws.amazon.com/servicequotas/\">Service Quotas</a> console.</p>",
  "metadata": {
    "apiVersion": "2017-08-22",
    "endpointPrefix": "acm-pca",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ACM-PCA",
    "serviceFullName": "AWS Certificate Manager Private Certificate Authority",
    "serviceId": "ACM PCA",
    "signatureVersion": "v4",
    "targetPrefix": "ACMPrivateCA",
    "uid": "acm-pca-2017-08-22"
  },
  "operations": {
    "CreateCertificateAuthority": {
      "documentation": "<p>Creates a root or subordinate private certificate authority (CA). You must specify the CA configuration, an optional configuration for Online Certificate Status Protocol (OCSP) and/or a certificate revocation list (CRL), the CA type, and an optional idempotency token to avoid accidental creation of multiple CAs. The CA configuration specifies the name of the algorithm and key size to be used to create the CA private key, the type of signing algorithm that the CA uses, and X.500 subject information. The OCSP configuration can optionally specify a custom URL for the OCSP responder. The CRL configuration specifies the CRL expiration period in days (the validity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME alias for the S3 bucket that is included in certificates issued by the CA. If successful, this action returns the Amazon Resource Name (ARN) of the CA.</p> <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#crl-encryption\">Encrypting Your CRLs</a>.</p> <note> <p>Both PCA and the IAM principal must have permission to write to the S3 bucket that you specify. If the IAM principal making the call does not have permission to write to the bucket, then an exception is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html#s3-policies\">Access policies for CRLs in Amazon S3</a>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "InvalidPolicyException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateCertificateAuthorityRequest"
      },
      "name": "CreateCertificateAuthority",
      "output": {
        "shape": "CreateCertificateAuthorityResponse"
      }
    },
    "CreateCertificateAuthorityAuditReport": {
      "documentation": "<p>Creates an audit report that lists every time that your CA private key is used. The report is saved in the Amazon S3 bucket that you specify on input. The <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> and <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RevokeCertificate.html\">RevokeCertificate</a> actions use the private key. </p> <note> <p>Both PCA and the IAM principal must have permission to write to the S3 bucket that you specify. If the IAM principal making the call does not have permission to write to the bucket, then an exception is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html#s3-policies\">Access policies for CRLs in Amazon S3</a>.</p> </note> <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaAuditReport.html#audit-report-encryption\">Encrypting Your Audit Reports</a>.</p> <note> <p>You can generate a maximum of one report every 30 minutes.</p> </note>",
      "errors": [
        {
          "shape": "RequestInProgressException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateCertificateAuthorityAuditReportRequest"
      },
      "name": "CreateCertificateAuthorityAuditReport",
      "output": {
        "shape": "CreateCertificateAuthorityAuditReportResponse"
      }
    },
    "CreatePermission": {
      "documentation": "<p>Grants one or more permissions on a private CA to the Certificate Manager (ACM) service principal (<code>acm.amazonaws.com</code>). These permissions allow ACM to issue and renew ACM certificates that reside in the same Amazon Web Services account as the CA.</p> <p>You can list current permissions with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListPermissions.html\">ListPermissions</a> action and revoke them with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePermission.html\">DeletePermission</a> action.</p> <p class=\"title\"> <b>About Permissions</b> </p> <ul> <li> <p>If the private CA and the certificates it issues reside in the same account, you can use <code>CreatePermission</code> to grant permissions for ACM to carry out automatic certificate renewals.</p> </li> <li> <p>For automatic certificate renewal to succeed, the ACM service principal needs permissions to create, retrieve, and list certificates.</p> </li> <li> <p>If the private CA and the ACM certificates reside in different accounts, then permissions cannot be used to enable automatic renewals. Instead, the ACM certificate owner must set up a resource-based policy to enable cross-account issuance and renewals. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "PermissionAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "RequestFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePermissionRequest"
      },
      "name": "CreatePermission"
    },
    "DeleteCertificateAuthority": {
      "documentation": "<p>Deletes a private certificate authority (CA). You must provide the Amazon Resource Name (ARN) of the private CA that you want to delete. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. </p> <note> <p>Deleting a CA will invalidate other CAs and certificates below it in your CA hierarchy.</p> </note> <p>Before you can delete a CA that you have created and activated, you must disable it. To do this, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action and set the <b>CertificateAuthorityStatus</b> parameter to <code>DISABLED</code>. </p> <p>Additionally, you can delete a CA if you are waiting for it to be created (that is, the status of the CA is <code>CREATING</code>). You can also delete it if the CA has been created but you haven't yet imported the signed certificate into ACM Private CA (that is, the status of the CA is <code>PENDING_CERTIFICATE</code>). </p> <p>When you successfully call <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeleteCertificateAuthority.html\">DeleteCertificateAuthority</a>, the CA's status changes to <code>DELETED</code>. However, the CA won't be permanently deleted until the restoration period has passed. By default, if you do not set the <code>PermanentDeletionTimeInDays</code> parameter, the CA remains restorable for 30 days. You can set the parameter from 7 to 30 days. The <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DescribeCertificateAuthority.html\">DescribeCertificateAuthority</a> action returns the time remaining in the restoration window of a private CA in the <code>DELETED</code> state. To restore an eligible CA, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RestoreCertificateAuthority.html\">RestoreCertificateAuthority</a> action.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCertificateAuthorityRequest"
      },
      "name": "DeleteCertificateAuthority"
    },
    "DeletePermission": {
      "documentation": "<p>Revokes permissions on a private CA granted to the Certificate Manager (ACM) service principal (acm.amazonaws.com). </p> <p>These permissions allow ACM to issue and renew ACM certificates that reside in the same Amazon Web Services account as the CA. If you revoke these permissions, ACM will no longer renew the affected certificates automatically.</p> <p>Permissions can be granted with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreatePermission.html\">CreatePermission</a> action and listed with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListPermissions.html\">ListPermissions</a> action. </p> <p class=\"title\"> <b>About Permissions</b> </p> <ul> <li> <p>If the private CA and the certificates it issues reside in the same account, you can use <code>CreatePermission</code> to grant permissions for ACM to carry out automatic certificate renewals.</p> </li> <li> <p>For automatic certificate renewal to succeed, the ACM service principal needs permissions to create, retrieve, and list certificates.</p> </li> <li> <p>If the private CA and the ACM certificates reside in different accounts, then permissions cannot be used to enable automatic renewals. Instead, the ACM certificate owner must set up a resource-based policy to enable cross-account issuance and renewals. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "RequestFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionRequest"
      },
      "name": "DeletePermission"
    },
    "DeletePolicy": {
      "documentation": "<p>Deletes the resource-based policy attached to a private CA. Deletion will remove any access that the policy has granted. If there is no policy attached to the private CA, this action will return successful.</p> <p>If you delete a policy that was applied through Amazon Web Services Resource Access Manager (RAM), the CA will be removed from all shares in which it was included. </p> <p>The Certificate Manager Service Linked Role that the policy supports is not affected when you delete the policy. </p> <p>The current policy can be shown with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetPolicy.html\">GetPolicy</a> and updated with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_PutPolicy.html\">PutPolicy</a>.</p> <p class=\"title\"> <b>About Policies</b> </p> <ul> <li> <p>A policy grants access on a private CA to an Amazon Web Services customer account, to Amazon Web Services Organizations, or to an Amazon Web Services Organizations unit. Policies are under the control of a CA administrator. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> <li> <p>A policy permits a user of Certificate Manager (ACM) to issue ACM certificates signed by a CA in another account.</p> </li> <li> <p>For ACM to manage automatic renewal of these certificates, the ACM user must configure a Service Linked Role (SLR). The SLR allows the ACM service to assume the identity of the user, subject to confirmation against the ACM Private CA policy. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-slr.html\">Using a Service Linked Role with ACM</a>.</p> </li> <li> <p>Updates made in Amazon Web Services Resource Manager (RAM) are reflected in policies. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account Access</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "LockoutPreventedException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "name": "DeletePolicy"
    },
    "DescribeCertificateAuthority": {
      "documentation": "<p>Lists information about your private certificate authority (CA) or one that has been shared with you. You specify the private CA on input by its ARN (Amazon Resource Name). The output contains the status of your CA. This can be any of the following: </p> <ul> <li> <p> <code>CREATING</code> - ACM Private CA is creating your private certificate authority.</p> </li> <li> <p> <code>PENDING_CERTIFICATE</code> - The certificate is pending. You must use your ACM Private CA-hosted or on-premises root or subordinate CA to sign your private CA CSR and then import it into PCA. </p> </li> <li> <p> <code>ACTIVE</code> - Your private CA is active.</p> </li> <li> <p> <code>DISABLED</code> - Your private CA has been disabled.</p> </li> <li> <p> <code>EXPIRED</code> - Your private CA certificate has expired.</p> </li> <li> <p> <code>FAILED</code> - Your private CA has failed. Your CA can fail because of problems such a network outage or back-end Amazon Web Services failure or other errors. A failed CA can never return to the pending state. You must create a new CA. </p> </li> <li> <p> <code>DELETED</code> - Your private CA is within the restoration period, after which it is permanently deleted. The length of time remaining in the CA's restoration period is also included in this action's output.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificateAuthorityRequest"
      },
      "name": "DescribeCertificateAuthority",
      "output": {
        "shape": "DescribeCertificateAuthorityResponse"
      }
    },
    "DescribeCertificateAuthorityAuditReport": {
      "documentation": "<p>Lists information about a specific audit report created by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action. Audit information is created every time the certificate authority (CA) private key is used. The private key is used when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> action or the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RevokeCertificate.html\">RevokeCertificate</a> action. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidArgsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificateAuthorityAuditReportRequest"
      },
      "name": "DescribeCertificateAuthorityAuditReport",
      "output": {
        "shape": "DescribeCertificateAuthorityAuditReportResponse"
      }
    },
    "GetCertificate": {
      "documentation": "<p>Retrieves a certificate from your private CA or one that has been shared with you. The ARN of the certificate is returned when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> action. You must specify both the ARN of your private CA and the ARN of the issued certificate when calling the <b>GetCertificate</b> action. You can retrieve the certificate if it is in the <b>ISSUED</b> state. You can call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action to create a report that contains information about all of the certificates issued and revoked by your private CA. </p>",
      "errors": [
        {
          "shape": "RequestInProgressException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCertificateRequest"
      },
      "name": "GetCertificate",
      "output": {
        "shape": "GetCertificateResponse"
      }
    },
    "GetCertificateAuthorityCertificate": {
      "documentation": "<p>Retrieves the certificate and certificate chain for your private certificate authority (CA) or one that has been shared with you. Both the certificate and the chain are base64 PEM-encoded. The chain does not include the CA certificate. Each certificate in the chain signs the one before it. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCertificateAuthorityCertificateRequest"
      },
      "name": "GetCertificateAuthorityCertificate",
      "output": {
        "shape": "GetCertificateAuthorityCertificateResponse"
      }
    },
    "GetCertificateAuthorityCsr": {
      "documentation": "<p>Retrieves the certificate signing request (CSR) for your private certificate authority (CA). The CSR is created when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. Sign the CSR with your ACM Private CA-hosted or on-premises root or subordinate CA. Then import the signed certificate back into ACM Private CA by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action. The CSR is returned as a base64 PEM-encoded string. </p>",
      "errors": [
        {
          "shape": "RequestInProgressException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCertificateAuthorityCsrRequest"
      },
      "name": "GetCertificateAuthorityCsr",
      "output": {
        "shape": "GetCertificateAuthorityCsrResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p>Retrieves the resource-based policy attached to a private CA. If either the private CA resource or the policy cannot be found, this action returns a <code>ResourceNotFoundException</code>. </p> <p>The policy can be attached or updated with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_PutPolicy.html\">PutPolicy</a> and removed with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePolicy.html\">DeletePolicy</a>.</p> <p class=\"title\"> <b>About Policies</b> </p> <ul> <li> <p>A policy grants access on a private CA to an Amazon Web Services customer account, to Amazon Web Services Organizations, or to an Amazon Web Services Organizations unit. Policies are under the control of a CA administrator. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> <li> <p>A policy permits a user of Certificate Manager (ACM) to issue ACM certificates signed by a CA in another account.</p> </li> <li> <p>For ACM to manage automatic renewal of these certificates, the ACM user must configure a Service Linked Role (SLR). The SLR allows the ACM service to assume the identity of the user, subject to confirmation against the ACM Private CA policy. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-slr.html\">Using a Service Linked Role with ACM</a>.</p> </li> <li> <p>Updates made in Amazon Web Services Resource Manager (RAM) are reflected in policies. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account Access</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "ImportCertificateAuthorityCertificate": {
      "documentation": "<p>Imports a signed private CA certificate into ACM Private CA. This action is used when you are using a chain of trust whose root is located outside ACM Private CA. Before you can call this action, the following preparations must in place:</p> <ol> <li> <p>In ACM Private CA, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action to create the private CA that you plan to back with the imported certificate.</p> </li> <li> <p>Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetCertificateAuthorityCsr.html\">GetCertificateAuthorityCsr</a> action to generate a certificate signing request (CSR).</p> </li> <li> <p>Sign the CSR using a root or intermediate CA hosted by either an on-premises PKI hierarchy or by a commercial CA.</p> </li> <li> <p>Create a certificate chain and copy the signed certificate and the certificate chain to your working directory.</p> </li> </ol> <p>ACM Private CA supports three scenarios for installing a CA certificate:</p> <ul> <li> <p>Installing a certificate for a root CA hosted by ACM Private CA.</p> </li> <li> <p>Installing a subordinate CA certificate whose parent authority is hosted by ACM Private CA.</p> </li> <li> <p>Installing a subordinate CA certificate whose parent authority is externally hosted.</p> </li> </ul> <p>The following additional requirements apply when you import a CA certificate.</p> <ul> <li> <p>Only a self-signed certificate can be imported as a root CA.</p> </li> <li> <p>A self-signed certificate cannot be imported as a subordinate CA.</p> </li> <li> <p>Your certificate chain must not include the private CA certificate that you are importing.</p> </li> <li> <p>Your root CA must be the last certificate in your chain. The subordinate certificate, if any, that your root CA signed must be next to last. The subordinate certificate signed by the preceding subordinate CA must come next, and so on until your chain is built. </p> </li> <li> <p>The chain must be PEM-encoded.</p> </li> <li> <p>The maximum allowed size of a certificate is 32 KB.</p> </li> <li> <p>The maximum allowed size of a certificate chain is 2 MB.</p> </li> </ul> <p> <i>Enforcement of Critical Constraints</i> </p> <p>ACM Private CA allows the following extensions to be marked critical in the imported CA certificate or chain.</p> <ul> <li> <p>Basic constraints (<i>must</i> be marked critical)</p> </li> <li> <p>Subject alternative names</p> </li> <li> <p>Key usage</p> </li> <li> <p>Extended key usage</p> </li> <li> <p>Authority key identifier</p> </li> <li> <p>Subject key identifier</p> </li> <li> <p>Issuer alternative name</p> </li> <li> <p>Subject directory attributes</p> </li> <li> <p>Subject information access</p> </li> <li> <p>Certificate policies</p> </li> <li> <p>Policy mappings</p> </li> <li> <p>Inhibit anyPolicy</p> </li> </ul> <p>ACM Private CA rejects the following extensions when they are marked critical in an imported CA certificate or chain.</p> <ul> <li> <p>Name constraints</p> </li> <li> <p>Policy constraints</p> </li> <li> <p>CRL distribution points</p> </li> <li> <p>Authority information access</p> </li> <li> <p>Freshest CRL</p> </li> <li> <p>Any other extension</p> </li> </ul>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "RequestInProgressException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "MalformedCertificateException"
        },
        {
          "shape": "CertificateMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportCertificateAuthorityCertificateRequest"
      },
      "name": "ImportCertificateAuthorityCertificate"
    },
    "IssueCertificate": {
      "documentation": "<p>Uses your private certificate authority (CA), or one that has been shared with you, to issue a client certificate. This action returns the Amazon Resource Name (ARN) of the certificate. You can retrieve the certificate by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetCertificate.html\">GetCertificate</a> action and specifying the ARN. </p> <note> <p>You cannot use the ACM <b>ListCertificateAuthorities</b> action to retrieve the ARNs of the certificates that you issue by using ACM Private CA.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "MalformedCSRException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "IssueCertificateRequest"
      },
      "name": "IssueCertificate",
      "output": {
        "shape": "IssueCertificateResponse"
      }
    },
    "ListCertificateAuthorities": {
      "documentation": "<p>Lists the private certificate authorities that you created by using the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCertificateAuthoritiesRequest"
      },
      "name": "ListCertificateAuthorities",
      "output": {
        "shape": "ListCertificateAuthoritiesResponse"
      }
    },
    "ListPermissions": {
      "documentation": "<p>List all permissions on a private CA, if any, granted to the Certificate Manager (ACM) service principal (acm.amazonaws.com). </p> <p>These permissions allow ACM to issue and renew ACM certificates that reside in the same Amazon Web Services account as the CA. </p> <p>Permissions can be granted with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreatePermission.html\">CreatePermission</a> action and revoked with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePermission.html\">DeletePermission</a> action.</p> <p class=\"title\"> <b>About Permissions</b> </p> <ul> <li> <p>If the private CA and the certificates it issues reside in the same account, you can use <code>CreatePermission</code> to grant permissions for ACM to carry out automatic certificate renewals.</p> </li> <li> <p>For automatic certificate renewal to succeed, the ACM service principal needs permissions to create, retrieve, and list certificates.</p> </li> <li> <p>If the private CA and the ACM certificates reside in different accounts, then permissions cannot be used to enable automatic renewals. Instead, the ACM certificate owner must set up a resource-based policy to enable cross-account issuance and renewals. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "RequestFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPermissionsRequest"
      },
      "name": "ListPermissions",
      "output": {
        "shape": "ListPermissionsResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Lists the tags, if any, that are associated with your private CA or one that has been shared with you. Tags are labels that you can use to identify and organize your CAs. Each tag consists of a key and an optional value. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_TagCertificateAuthority.html\">TagCertificateAuthority</a> action to add one or more tags to your CA. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UntagCertificateAuthority.html\">UntagCertificateAuthority</a> action to remove tags. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "PutPolicy": {
      "documentation": "<p>Attaches a resource-based policy to a private CA. </p> <p>A policy can also be applied by sharing a private CA through Amazon Web Services Resource Access Manager (RAM). For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account Access</a>.</p> <p>The policy can be displayed with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetPolicy.html\">GetPolicy</a> and removed with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePolicy.html\">DeletePolicy</a>.</p> <p class=\"title\"> <b>About Policies</b> </p> <ul> <li> <p>A policy grants access on a private CA to an Amazon Web Services customer account, to Amazon Web Services Organizations, or to an Amazon Web Services Organizations unit. Policies are under the control of a CA administrator. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p> </li> <li> <p>A policy permits a user of Certificate Manager (ACM) to issue ACM certificates signed by a CA in another account.</p> </li> <li> <p>For ACM to manage automatic renewal of these certificates, the ACM user must configure a Service Linked Role (SLR). The SLR allows the ACM service to assume the identity of the user, subject to confirmation against the ACM Private CA policy. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-slr.html\">Using a Service Linked Role with ACM</a>.</p> </li> <li> <p>Updates made in Amazon Web Services Resource Manager (RAM) are reflected in policies. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account Access</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidPolicyException"
        },
        {
          "shape": "LockoutPreventedException"
        },
        {
          "shape": "RequestFailedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPolicyRequest"
      },
      "name": "PutPolicy"
    },
    "RestoreCertificateAuthority": {
      "documentation": "<p>Restores a certificate authority (CA) that is in the <code>DELETED</code> state. You can restore a CA during the period that you defined in the <b>PermanentDeletionTimeInDays</b> parameter of the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeleteCertificateAuthority.html\">DeleteCertificateAuthority</a> action. Currently, you can specify 7 to 30 days. If you did not specify a <b>PermanentDeletionTimeInDays</b> value, by default you can restore the CA at any time in a 30 day period. You can check the time remaining in the restoration period of a private CA in the <code>DELETED</code> state by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DescribeCertificateAuthority.html\">DescribeCertificateAuthority</a> or <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> actions. The status of a restored CA is set to its pre-deletion status when the <b>RestoreCertificateAuthority</b> action returns. To change its status to <code>ACTIVE</code>, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action. If the private CA was in the <code>PENDING_CERTIFICATE</code> state at deletion, you must use the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action to import a certificate authority into the private CA before it can be activated. You cannot restore a CA after the restoration period has ended.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreCertificateAuthorityRequest"
      },
      "name": "RestoreCertificateAuthority"
    },
    "RevokeCertificate": {
      "documentation": "<p>Revokes a certificate that was issued inside ACM Private CA. If you enable a certificate revocation list (CRL) when you create or update your private CA, information about the revoked certificates will be included in the CRL. ACM Private CA writes the CRL to an S3 bucket that you specify. A CRL is typically updated approximately 30 minutes after a certificate is revoked. If for any reason the CRL update fails, ACM Private CA attempts makes further attempts every 15 minutes. With Amazon CloudWatch, you can create alarms for the metrics <code>CRLGenerated</code> and <code>MisconfiguredCRLBucket</code>. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCloudWatch.html\">Supported CloudWatch Metrics</a>.</p> <note> <p>Both PCA and the IAM principal must have permission to write to the S3 bucket that you specify. If the IAM principal making the call does not have permission to write to the bucket, then an exception is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html#s3-policies\">Access policies for CRLs in Amazon S3</a>.</p> </note> <p>ACM Private CA also writes revocation information to the audit report. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a>.</p> <note> <p>You cannot revoke a root CA self-signed certificate.</p> </note>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "RequestAlreadyProcessedException"
        },
        {
          "shape": "RequestInProgressException"
        },
        {
          "shape": "RequestFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeCertificateRequest"
      },
      "name": "RevokeCertificate"
    },
    "TagCertificateAuthority": {
      "documentation": "<p>Adds one or more tags to your private CA. Tags are labels that you can use to identify and organize your Amazon Web Services resources. Each tag consists of a key and an optional value. You specify the private CA on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. You can apply a tag to just one private CA if you want to identify a specific characteristic of that CA, or you can apply the same tag to multiple private CAs if you want to filter for a common relationship among those CAs. To remove one or more tags, use the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UntagCertificateAuthority.html\">UntagCertificateAuthority</a> action. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListTags.html\">ListTags</a> action to see what tags are associated with your CA. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagCertificateAuthorityRequest"
      },
      "name": "TagCertificateAuthority"
    },
    "UntagCertificateAuthority": {
      "documentation": "<p>Remove one or more tags from your private CA. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this action, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value. To add tags to a private CA, use the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_TagCertificateAuthority.html\">TagCertificateAuthority</a>. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListTags.html\">ListTags</a> action to see what tags are associated with your CA. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagCertificateAuthorityRequest"
      },
      "name": "UntagCertificateAuthority"
    },
    "UpdateCertificateAuthority": {
      "documentation": "<p>Updates the status or configuration of a private certificate authority (CA). Your private CA must be in the <code>ACTIVE</code> or <code>DISABLED</code> state before you can update it. You can disable a private CA that is in the <code>ACTIVE</code> state or make a CA that is in the <code>DISABLED</code> state active again.</p> <note> <p>Both PCA and the IAM principal must have permission to write to the S3 bucket that you specify. If the IAM principal making the call does not have permission to write to the bucket, then an exception is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html#s3-policies\">Access policies for CRLs in Amazon S3</a>.</p> </note>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgsException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InvalidPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCertificateAuthorityRequest"
      },
      "name": "UpdateCertificateAuthority"
    }
  },
  "shapes": {
    "ASN1PrintableString64": {
      "max": 64,
      "min": 0,
      "pattern": "[a-zA-Z0-9'()+-.?:/= ]*",
      "type": "string"
    },
    "ASN1Subject": {
      "documentation": "<p>Contains information about the certificate subject. The <code>Subject</code> field in the certificate identifies the entity that owns or controls the public key in the certificate. The entity can be a user, computer, device, or service. The <code>Subject </code>must contain an X.500 distinguished name (DN). A DN is a sequence of relative distinguished names (RDNs). The RDNs are separated by commas in the certificate.</p>",
      "members": {
        "CommonName": {
          "documentation": "<p>For CA and end-entity certificates in a private PKI, the common name (CN) can be any string within the length limit. </p> <p>Note: In publicly trusted certificates, the common name must be a fully qualified domain name (FQDN) associated with the certificate subject.</p>",
          "shape": "String64"
        },
        "Country": {
          "documentation": "<p>Two-digit code that specifies the country in which the certificate subject located.</p>",
          "shape": "CountryCodeString"
        },
        "CustomAttributes": {
          "documentation": "<p/> <p>Contains a sequence of one or more X.500 relative distinguished names (RDNs), each of which consists of an object identifier (OID) and a value. For more information, see NIST\u2019s definition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier (OID)</a>.</p> <note> <p>Custom attributes cannot be used in combination with standard attributes.</p> </note>",
          "shape": "CustomAttributeList"
        },
        "DistinguishedNameQualifier": {
          "documentation": "<p>Disambiguating information for the certificate subject.</p>",
          "shape": "ASN1PrintableString64"
        },
        "GenerationQualifier": {
          "documentation": "<p>Typically a qualifier appended to the name of an individual. Examples include Jr. for junior, Sr. for senior, and III for third.</p>",
          "shape": "String3"
        },
        "GivenName": {
          "documentation": "<p>First name.</p>",
          "shape": "String16"
        },
        "Initials": {
          "documentation": "<p>Concatenation that typically contains the first letter of the <b>GivenName</b>, the first letter of the middle name if one exists, and the first letter of the <b>Surname</b>.</p>",
          "shape": "String5"
        },
        "Locality": {
          "documentation": "<p>The locality (such as a city or town) in which the certificate subject is located.</p>",
          "shape": "String128"
        },
        "Organization": {
          "documentation": "<p>Legal name of the organization with which the certificate subject is affiliated. </p>",
          "shape": "String64"
        },
        "OrganizationalUnit": {
          "documentation": "<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>",
          "shape": "String64"
        },
        "Pseudonym": {
          "documentation": "<p>Typically a shortened version of a longer <b>GivenName</b>. For example, Jonathan is often shortened to John. Elizabeth is often shortened to Beth, Liz, or Eliza.</p>",
          "shape": "String128"
        },
        "SerialNumber": {
          "documentation": "<p>The certificate serial number.</p>",
          "shape": "ASN1PrintableString64"
        },
        "State": {
          "documentation": "<p>State in which the subject of the certificate is located.</p>",
          "shape": "String128"
        },
        "Surname": {
          "documentation": "<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>",
          "shape": "String40"
        },
        "Title": {
          "documentation": "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>",
          "shape": "String64"
        }
      },
      "type": "structure"
    },
    "AWSPolicy": {
      "max": 20480,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "type": "string"
    },
    "AccessDescription": {
      "box": true,
      "documentation": "<p>Provides access information used by the <code>authorityInfoAccess</code> and <code>subjectInfoAccess</code> extensions described in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280\">RFC 5280</a>.</p>",
      "members": {
        "AccessLocation": {
          "documentation": "<p>The location of <code>AccessDescription</code> information.</p>",
          "shape": "GeneralName"
        },
        "AccessMethod": {
          "documentation": "<p>The type and format of <code>AccessDescription</code> information.</p>",
          "shape": "AccessMethod"
        }
      },
      "required": [
        "AccessMethod",
        "AccessLocation"
      ],
      "type": "structure"
    },
    "AccessDescriptionList": {
      "member": {
        "shape": "AccessDescription"
      },
      "type": "list"
    },
    "AccessMethod": {
      "documentation": "<p>Describes the type and format of extension access. Only one of <code>CustomObjectIdentifier</code> or <code>AccessMethodType</code> may be provided. Providing both results in <code>InvalidArgsException</code>.</p>",
      "members": {
        "AccessMethodType": {
          "documentation": "<p>Specifies the <code>AccessMethod</code>.</p>",
          "shape": "AccessMethodType"
        },
        "CustomObjectIdentifier": {
          "documentation": "<p>An object identifier (OID) specifying the <code>AccessMethod</code>. The OID must satisfy the regular expression shown below. For more information, see NIST's definition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier (OID)</a>.</p>",
          "shape": "CustomObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "AccessMethodType": {
      "enum": [
        "CA_REPOSITORY",
        "RESOURCE_PKI_MANIFEST",
        "RESOURCE_PKI_NOTIFY"
      ],
      "type": "string"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "ActionList": {
      "max": 3,
      "member": {
        "shape": "ActionType"
      },
      "min": 1,
      "type": "list"
    },
    "ActionType": {
      "enum": [
        "IssueCertificate",
        "GetCertificate",
        "ListPermissions"
      ],
      "type": "string"
    },
    "ApiPassthrough": {
      "documentation": "<p>Contains X.509 certificate information to be placed in an issued certificate. An <code>APIPassthrough</code> or <code>APICSRPassthrough</code> template variant must be selected, or else this parameter is ignored. </p> <p>If conflicting or duplicate certificate information is supplied from other sources, ACM Private CA applies <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html#template-order-of-operations\">order of operation rules</a> to determine what information is used.</p>",
      "members": {
        "Extensions": {
          "documentation": "<p>Specifies X.509 extension information for a certificate.</p>",
          "shape": "Extensions"
        },
        "Subject": {
          "shape": "ASN1Subject"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "max": 200,
      "min": 5,
      "pattern": "arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*",
      "type": "string"
    },
    "AuditReportId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}",
      "type": "string"
    },
    "AuditReportResponseFormat": {
      "enum": [
        "JSON",
        "CSV"
      ],
      "type": "string"
    },
    "AuditReportStatus": {
      "enum": [
        "CREATING",
        "SUCCESS",
        "FAILED"
      ],
      "type": "string"
    },
    "Base64String1To4096": {
      "max": 4096,
      "min": 1,
      "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CertificateAuthorities": {
      "member": {
        "shape": "CertificateAuthority"
      },
      "type": "list"
    },
    "CertificateAuthority": {
      "documentation": "<p>Contains information about your private certificate authority (CA). Your private CA can issue and revoke X.509 digital certificates. Digital certificates verify that the entity named in the certificate <b>Subject</b> field owns or controls the public key contained in the <b>Subject Public Key Info</b> field. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action to create your private CA. You must then call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetCertificateAuthorityCertificate.html\">GetCertificateAuthorityCertificate</a> action to retrieve a private CA certificate signing request (CSR). Sign the CSR with your ACM Private CA-hosted or on-premises root or subordinate CA certificate. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action to import the signed certificate into Certificate Manager (ACM). </p>",
      "members": {
        "Arn": {
          "documentation": "<p>Amazon Resource Name (ARN) for your private certificate authority (CA). The format is <code> <i>12345678-1234-1234-1234-123456789012</i> </code>.</p>",
          "shape": "Arn"
        },
        "CertificateAuthorityConfiguration": {
          "documentation": "<p>Your private CA configuration.</p>",
          "shape": "CertificateAuthorityConfiguration"
        },
        "CreatedAt": {
          "documentation": "<p>Date and time at which your private CA was created.</p>",
          "shape": "TStamp"
        },
        "FailureReason": {
          "documentation": "<p>Reason the request to create your private CA failed.</p>",
          "shape": "FailureReason"
        },
        "KeyStorageSecurityStandard": {
          "documentation": "<p>Defines a cryptographic key management compliance standard used for handling CA keys. </p> <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p> <p>Note: Amazon Web Services Region ap-northeast-3 supports only FIPS_140_2_LEVEL_2_OR_HIGHER. You must explicitly specify this parameter and value when creating a CA in that Region. Specifying a different value (or no value) results in an <code>InvalidArgsException</code> with the message \"A certificate authority cannot be created in this region with the specified security standard.\"</p>",
          "shape": "KeyStorageSecurityStandard"
        },
        "LastStateChangeAt": {
          "documentation": "<p>Date and time at which your private CA was last updated.</p>",
          "shape": "TStamp"
        },
        "NotAfter": {
          "documentation": "<p>Date and time after which your private CA certificate is not valid.</p>",
          "shape": "TStamp"
        },
        "NotBefore": {
          "documentation": "<p>Date and time before which your private CA certificate is not valid.</p>",
          "shape": "TStamp"
        },
        "OwnerAccount": {
          "documentation": "<p>The Amazon Web Services account ID that owns the certificate authority.</p>",
          "shape": "AccountId"
        },
        "RestorableUntil": {
          "documentation": "<p>The period during which a deleted CA can be restored. For more information, see the <code>PermanentDeletionTimeInDays</code> parameter of the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeleteCertificateAuthorityRequest.html\">DeleteCertificateAuthorityRequest</a> action. </p>",
          "shape": "TStamp"
        },
        "RevocationConfiguration": {
          "documentation": "<p>Information about the Online Certificate Status Protocol (OCSP) configuration or certificate revocation list (CRL) created and maintained by your private CA. </p>",
          "shape": "RevocationConfiguration"
        },
        "Serial": {
          "documentation": "<p>Serial number of your private CA.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>Status of your private CA.</p>",
          "shape": "CertificateAuthorityStatus"
        },
        "Type": {
          "documentation": "<p>Type of your private CA.</p>",
          "shape": "CertificateAuthorityType"
        },
        "UsageMode": {
          "documentation": "<p>Specifies whether the CA issues general-purpose certificates that typically require a revocation mechanism, or short-lived certificates that may optionally omit revocation because they expire quickly. Short-lived certificate validity is limited to seven days.</p> <p>The default value is GENERAL_PURPOSE.</p>",
          "shape": "CertificateAuthorityUsageMode"
        }
      },
      "type": "structure"
    },
    "CertificateAuthorityConfiguration": {
      "documentation": "<p>Contains configuration information for your private certificate authority (CA). This includes information about the class of public key algorithm and the key pair that your private CA creates when it issues a certificate. It also includes the signature algorithm that it uses when issuing certificates, and its X.500 distinguished name. You must specify this information when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. </p>",
      "members": {
        "CsrExtensions": {
          "documentation": "<p>Specifies information to be added to the extension section of the certificate signing request (CSR).</p>",
          "shape": "CsrExtensions"
        },
        "KeyAlgorithm": {
          "documentation": "<p>Type of the public key algorithm and size, in bits, of the key pair that your CA creates when it issues a certificate. When you create a subordinate CA, you must use a key algorithm supported by the parent CA.</p>",
          "shape": "KeyAlgorithm"
        },
        "SigningAlgorithm": {
          "documentation": "<p>Name of the algorithm your private CA uses to sign certificate requests.</p> <p>This parameter should not be confused with the <code>SigningAlgorithm</code> parameter used to sign certificates when they are issued.</p>",
          "shape": "SigningAlgorithm"
        },
        "Subject": {
          "documentation": "<p>Structure that contains X.500 distinguished name information for your private CA.</p>",
          "shape": "ASN1Subject"
        }
      },
      "required": [
        "KeyAlgorithm",
        "SigningAlgorithm",
        "Subject"
      ],
      "type": "structure"
    },
    "CertificateAuthorityStatus": {
      "enum": [
        "CREATING",
        "PENDING_CERTIFICATE",
        "ACTIVE",
        "DELETED",
        "DISABLED",
        "EXPIRED",
        "FAILED"
      ],
      "type": "string"
    },
    "CertificateAuthorityType": {
      "enum": [
        "ROOT",
        "SUBORDINATE"
      ],
      "type": "string"
    },
    "CertificateAuthorityUsageMode": {
      "enum": [
        "GENERAL_PURPOSE",
        "SHORT_LIVED_CERTIFICATE"
      ],
      "type": "string"
    },
    "CertificateBody": {
      "type": "string"
    },
    "CertificateBodyBlob": {
      "max": 32768,
      "min": 1,
      "type": "blob"
    },
    "CertificateChain": {
      "type": "string"
    },
    "CertificateChainBlob": {
      "max": 2097152,
      "min": 0,
      "type": "blob"
    },
    "CertificateMismatchException": {
      "documentation": "<p>The certificate authority certificate you are importing does not comply with conditions specified in the certificate that signed it.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CertificatePolicyList": {
      "max": 20,
      "member": {
        "shape": "PolicyInformation"
      },
      "min": 1,
      "type": "list"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>A previous update to your private CA is still ongoing.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CountryCodeString": {
      "max": 2,
      "min": 2,
      "pattern": "[A-Za-z]{2}",
      "type": "string"
    },
    "CreateCertificateAuthorityAuditReportRequest": {
      "members": {
        "AuditReportResponseFormat": {
          "documentation": "<p>The format in which to create the report. This can be either <b>JSON</b> or <b>CSV</b>.</p>",
          "shape": "AuditReportResponseFormat"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CA to be audited. This is of the form:</p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>.</p>",
          "shape": "Arn"
        },
        "S3BucketName": {
          "documentation": "<p>The name of the S3 bucket that will contain the audit report.</p>",
          "shape": "S3BucketName"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "S3BucketName",
        "AuditReportResponseFormat"
      ],
      "type": "structure"
    },
    "CreateCertificateAuthorityAuditReportResponse": {
      "members": {
        "AuditReportId": {
          "documentation": "<p>An alphanumeric string that contains a report identifier.</p>",
          "shape": "AuditReportId"
        },
        "S3Key": {
          "documentation": "<p>The <b>key</b> that uniquely identifies the report file in your S3 bucket.</p>",
          "shape": "S3Key"
        }
      },
      "type": "structure"
    },
    "CreateCertificateAuthorityRequest": {
      "members": {
        "CertificateAuthorityConfiguration": {
          "documentation": "<p>Name and bit size of the private key algorithm, the name of the signing algorithm, and X.500 certificate subject information.</p>",
          "shape": "CertificateAuthorityConfiguration"
        },
        "CertificateAuthorityType": {
          "documentation": "<p>The type of the certificate authority.</p>",
          "shape": "CertificateAuthorityType"
        },
        "IdempotencyToken": {
          "documentation": "<p>Custom string that can be used to distinguish between calls to the <b>CreateCertificateAuthority</b> action. Idempotency tokens for <b>CreateCertificateAuthority</b> time out after five minutes. Therefore, if you call <b>CreateCertificateAuthority</b> multiple times with the same idempotency token within five minutes, ACM Private CA recognizes that you are requesting only certificate authority and will issue only one. If you change the idempotency token for each call, PCA recognizes that you are requesting multiple certificate authorities.</p>",
          "shape": "IdempotencyToken"
        },
        "KeyStorageSecurityStandard": {
          "documentation": "<p>Specifies a cryptographic key management compliance standard used for handling CA keys.</p> <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p> <p> <i>Note:</i> <code>FIPS_140_2_LEVEL_3_OR_HIGHER</code> is not supported in the following Regions:</p> <ul> <li> <p>ap-northeast-3</p> </li> <li> <p>ap-southeast-3</p> </li> </ul> <p>When creating a CA in these Regions, you must provide <code>FIPS_140_2_LEVEL_2_OR_HIGHER</code> as the argument for <code>KeyStorageSecurityStandard</code>. Failure to do this results in an <code>InvalidArgsException</code> with the message, \"A certificate authority cannot be created in this region with the specified security standard.\"</p>",
          "shape": "KeyStorageSecurityStandard"
        },
        "RevocationConfiguration": {
          "documentation": "<p>Contains information to enable Online Certificate Status Protocol (OCSP) support, to enable a certificate revocation list (CRL), to enable both, or to enable neither. The default is for both certificate validation mechanisms to be disabled. For more information, see the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_OcspConfiguration.html\">OcspConfiguration</a> and <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CrlConfiguration.html\">CrlConfiguration</a> types.</p>",
          "shape": "RevocationConfiguration"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs that will be attached to the new private CA. You can associate up to 50 tags with a private CA. For information using tags with IAM to manage permissions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p>",
          "shape": "TagList"
        },
        "UsageMode": {
          "documentation": "<p>Specifies whether the CA issues general-purpose certificates that typically require a revocation mechanism, or short-lived certificates that may optionally omit revocation because they expire quickly. Short-lived certificate validity is limited to seven days.</p> <p>The default value is GENERAL_PURPOSE.</p>",
          "shape": "CertificateAuthorityUsageMode"
        }
      },
      "required": [
        "CertificateAuthorityConfiguration",
        "CertificateAuthorityType"
      ],
      "type": "structure"
    },
    "CreateCertificateAuthorityResponse": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>If successful, the Amazon Resource Name (ARN) of the certificate authority (CA). This is of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreatePermissionRequest": {
      "members": {
        "Actions": {
          "documentation": "<p>The actions that the specified Amazon Web Services service principal can use. These include <code>IssueCertificate</code>, <code>GetCertificate</code>, and <code>ListPermissions</code>.</p>",
          "shape": "ActionList"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CA that grants the permissions. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. This must have the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        },
        "Principal": {
          "documentation": "<p>The Amazon Web Services service or identity that receives the permission. At this time, the only valid principal is <code>acm.amazonaws.com</code>.</p>",
          "shape": "Principal"
        },
        "SourceAccount": {
          "documentation": "<p>The ID of the calling account.</p>",
          "shape": "AccountId"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Principal",
        "Actions"
      ],
      "type": "structure"
    },
    "CrlConfiguration": {
      "documentation": "<p>Contains configuration information for a certificate revocation list (CRL). Your private certificate authority (CA) creates base CRLs. Delta CRLs are not supported. You can enable CRLs for your new or an existing private CA by setting the <b>Enabled</b> parameter to <code>true</code>. Your private CA writes CRLs to an S3 bucket that you specify in the <b>S3BucketName</b> parameter. You can hide the name of your bucket by specifying a value for the <b>CustomCname</b> parameter. Your private CA copies the CNAME or the S3 bucket name to the <b>CRL Distribution Points</b> extension of each certificate it issues. Your S3 bucket policy must give write permission to ACM Private CA. </p> <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#crl-encryption\">Encrypting Your CRLs</a>.</p> <p>Your private CA uses the value in the <b>ExpirationInDays</b> parameter to calculate the <b>nextUpdate</b> field in the CRL. The CRL is refreshed prior to a certificate's expiration date or when a certificate is revoked. When a certificate is revoked, it appears in the CRL until the certificate expires, and then in one additional CRL after expiration, and it always appears in the audit report.</p> <p>A CRL is typically updated approximately 30 minutes after a certificate is revoked. If for any reason a CRL update fails, ACM Private CA makes further attempts every 15 minutes.</p> <p>CRLs contain the following fields:</p> <ul> <li> <p> <b>Version</b>: The current version number defined in RFC 5280 is V2. The integer value is 0x1. </p> </li> <li> <p> <b>Signature Algorithm</b>: The name of the algorithm used to sign the CRL.</p> </li> <li> <p> <b>Issuer</b>: The X.500 distinguished name of your private CA that issued the CRL.</p> </li> <li> <p> <b>Last Update</b>: The issue date and time of this CRL.</p> </li> <li> <p> <b>Next Update</b>: The day and time by which the next CRL will be issued.</p> </li> <li> <p> <b>Revoked Certificates</b>: List of revoked certificates. Each list item contains the following information.</p> <ul> <li> <p> <b>Serial Number</b>: The serial number, in hexadecimal format, of the revoked certificate.</p> </li> <li> <p> <b>Revocation Date</b>: Date and time the certificate was revoked.</p> </li> <li> <p> <b>CRL Entry Extensions</b>: Optional extensions for the CRL entry.</p> <ul> <li> <p> <b>X509v3 CRL Reason Code</b>: Reason the certificate was revoked.</p> </li> </ul> </li> </ul> </li> <li> <p> <b>CRL Extensions</b>: Optional extensions for the CRL.</p> <ul> <li> <p> <b>X509v3 Authority Key Identifier</b>: Identifies the public key associated with the private key used to sign the certificate.</p> </li> <li> <p> <b>X509v3 CRL Number:</b>: Decimal sequence number for the CRL.</p> </li> </ul> </li> <li> <p> <b>Signature Algorithm</b>: Algorithm used by your private CA to sign the CRL.</p> </li> <li> <p> <b>Signature Value</b>: Signature computed over the CRL.</p> </li> </ul> <p>Certificate revocation lists created by ACM Private CA are DER-encoded. You can use the following OpenSSL command to list a CRL.</p> <p> <code>openssl crl -inform DER -text -in <i>crl_path</i> -noout</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html\">Planning a certificate revocation list (CRL)</a> in the <i>Private Certificate Authority (PCA) User Guide</i> </p>",
      "members": {
        "CustomCname": {
          "documentation": "<p>Name inserted into the certificate <b>CRL Distribution Points</b> extension that enables the use of an alias for the CRL distribution point. Use this value if you don't want the name of your S3 bucket to be public.</p>",
          "shape": "String253"
        },
        "Enabled": {
          "box": true,
          "documentation": "<p>Boolean value that specifies whether certificate revocation lists (CRLs) are enabled. You can use this value to enable certificate revocation for a new CA when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action or for an existing CA when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action. </p>",
          "shape": "Boolean"
        },
        "ExpirationInDays": {
          "box": true,
          "documentation": "<p>Validity period of the CRL in days.</p>",
          "shape": "Integer1To5000"
        },
        "S3BucketName": {
          "documentation": "<p>Name of the S3 bucket that contains the CRL. If you do not provide a value for the <b>CustomCname</b> argument, the name of your S3 bucket is placed into the <b>CRL Distribution Points</b> extension of the issued certificate. You can change the name of your bucket by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> operation. You must specify a <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#s3-policies\">bucket policy</a> that allows ACM Private CA to write the CRL to your bucket.</p>",
          "shape": "String3To255"
        },
        "S3ObjectAcl": {
          "documentation": "<p>Determines whether the CRL will be publicly readable or privately held in the CRL Amazon S3 bucket. If you choose PUBLIC_READ, the CRL will be accessible over the public internet. If you choose BUCKET_OWNER_FULL_CONTROL, only the owner of the CRL S3 bucket can access the CRL, and your PKI clients may need an alternative method of access. </p> <p>If no value is specified, the default is <code>PUBLIC_READ</code>.</p> <p> <i>Note:</i> This default can cause CA creation to fail in some circumstances. If you have have enabled the Block Public Access (BPA) feature in your S3 account, then you must specify the value of this parameter as <code>BUCKET_OWNER_FULL_CONTROL</code>, and not doing so results in an error. If you have disabled BPA in S3, then you can specify either <code>BUCKET_OWNER_FULL_CONTROL</code> or <code>PUBLIC_READ</code> as the value.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#s3-bpa\">Blocking public access to the S3 bucket</a>.</p>",
          "shape": "S3ObjectAcl"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "CsrBlob": {
      "max": 32768,
      "min": 1,
      "type": "blob"
    },
    "CsrBody": {
      "type": "string"
    },
    "CsrExtensions": {
      "documentation": "<p>Describes the certificate extensions to be added to the certificate signing request (CSR).</p>",
      "members": {
        "KeyUsage": {
          "documentation": "<p>Indicates the purpose of the certificate and of the key contained in the certificate.</p>",
          "shape": "KeyUsage"
        },
        "SubjectInformationAccess": {
          "documentation": "<p>For CA certificates, provides a path to additional information pertaining to the CA, such as revocation and policy. For more information, see <a href=\"https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.2.2\">Subject Information Access</a> in RFC 5280.</p>",
          "shape": "AccessDescriptionList"
        }
      },
      "type": "structure"
    },
    "CustomAttribute": {
      "documentation": "<p>Defines the X.500 relative distinguished name (RDN).</p>",
      "members": {
        "ObjectIdentifier": {
          "documentation": "<p>Specifies the object identifier (OID) of the attribute type of the relative distinguished name (RDN).</p>",
          "shape": "CustomObjectIdentifier"
        },
        "Value": {
          "documentation": "<p/> <p>Specifies the attribute value of relative distinguished name (RDN).</p>",
          "shape": "String1To256"
        }
      },
      "required": [
        "ObjectIdentifier",
        "Value"
      ],
      "type": "structure"
    },
    "CustomAttributeList": {
      "max": 30,
      "member": {
        "shape": "CustomAttribute"
      },
      "min": 1,
      "type": "list"
    },
    "CustomExtension": {
      "documentation": "<p/> <p>Specifies the X.509 extension information for a certificate.</p> <p>Extensions present in <code>CustomExtensions</code> follow the <code>ApiPassthrough</code> <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html#template-order-of-operations\">template rules</a>. </p>",
      "members": {
        "Critical": {
          "box": true,
          "documentation": "<p/> <p>Specifies the critical flag of the X.509 extension.</p>",
          "shape": "Boolean"
        },
        "ObjectIdentifier": {
          "documentation": "<p/> <p>Specifies the object identifier (OID) of the X.509 extension. For more information, see the <a href=\"https://oidref.com/2.5.29\">Global OID reference database.</a> </p>",
          "shape": "CustomObjectIdentifier"
        },
        "Value": {
          "documentation": "<p/> <p>Specifies the base64-encoded value of the X.509 extension.</p>",
          "shape": "Base64String1To4096"
        }
      },
      "required": [
        "ObjectIdentifier",
        "Value"
      ],
      "type": "structure"
    },
    "CustomExtensionList": {
      "max": 20,
      "member": {
        "shape": "CustomExtension"
      },
      "min": 1,
      "type": "list"
    },
    "CustomObjectIdentifier": {
      "max": 64,
      "min": 0,
      "pattern": "^([0-2])\\.([0-9]|([0-3][0-9]))((\\.([0-9]+)){0,126})$",
      "type": "string"
    },
    "DeleteCertificateAuthorityRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must have the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        },
        "PermanentDeletionTimeInDays": {
          "documentation": "<p>The number of days to make a CA restorable after it has been deleted. This can be anywhere from 7 to 30 days, with 30 being the default.</p>",
          "shape": "PermanentDeletionTimeInDays"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "structure"
    },
    "DeletePermissionRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the private CA that issued the permissions. You can find the CA's ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. This must have the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        },
        "Principal": {
          "documentation": "<p>The Amazon Web Services service or identity that will have its CA permissions revoked. At this time, the only valid service principal is <code>acm.amazonaws.com</code> </p>",
          "shape": "Principal"
        },
        "SourceAccount": {
          "documentation": "<p>The Amazon Web Services account that calls this action.</p>",
          "shape": "AccountId"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Principal"
      ],
      "type": "structure"
    },
    "DeletePolicyRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the private CA that will have its policy deleted. You can find the CA's ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. The ARN value must have the form <code>arn:aws:acm-pca:region:account:certificate-authority/01234567-89ab-cdef-0123-0123456789ab</code>. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DescribeCertificateAuthorityAuditReportRequest": {
      "members": {
        "AuditReportId": {
          "documentation": "<p>The report ID returned by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action.</p>",
          "shape": "AuditReportId"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the private CA. This must be of the form:</p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "AuditReportId"
      ],
      "type": "structure"
    },
    "DescribeCertificateAuthorityAuditReportResponse": {
      "members": {
        "AuditReportStatus": {
          "documentation": "<p>Specifies whether report creation is in progress, has succeeded, or has failed.</p>",
          "shape": "AuditReportStatus"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time at which the report was created.</p>",
          "shape": "TStamp"
        },
        "S3BucketName": {
          "documentation": "<p>Name of the S3 bucket that contains the report.</p>",
          "shape": "S3BucketName"
        },
        "S3Key": {
          "documentation": "<p>S3 <b>key</b> that uniquely identifies the report file in your S3 bucket.</p>",
          "shape": "S3Key"
        }
      },
      "type": "structure"
    },
    "DescribeCertificateAuthorityRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "structure"
    },
    "DescribeCertificateAuthorityResponse": {
      "members": {
        "CertificateAuthority": {
          "documentation": "<p>A <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CertificateAuthority.html\">CertificateAuthority</a> structure that contains information about your private CA.</p>",
          "shape": "CertificateAuthority"
        }
      },
      "type": "structure"
    },
    "EdiPartyName": {
      "documentation": "<p>Describes an Electronic Data Interchange (EDI) entity as described in as defined in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280\">Subject Alternative Name</a> in RFC 5280.</p>",
      "members": {
        "NameAssigner": {
          "documentation": "<p>Specifies the name assigner.</p>",
          "shape": "String256"
        },
        "PartyName": {
          "documentation": "<p>Specifies the party name.</p>",
          "shape": "String256"
        }
      },
      "required": [
        "PartyName"
      ],
      "type": "structure"
    },
    "ExtendedKeyUsage": {
      "documentation": "<p>Specifies additional purposes for which the certified public key may be used other than basic purposes indicated in the <code>KeyUsage</code> extension.</p>",
      "members": {
        "ExtendedKeyUsageObjectIdentifier": {
          "documentation": "<p>Specifies a custom <code>ExtendedKeyUsage</code> with an object identifier (OID).</p>",
          "shape": "CustomObjectIdentifier"
        },
        "ExtendedKeyUsageType": {
          "documentation": "<p>Specifies a standard <code>ExtendedKeyUsage</code> as defined as in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.12\">RFC 5280</a>.</p>",
          "shape": "ExtendedKeyUsageType"
        }
      },
      "type": "structure"
    },
    "ExtendedKeyUsageList": {
      "max": 20,
      "member": {
        "shape": "ExtendedKeyUsage"
      },
      "min": 1,
      "type": "list"
    },
    "ExtendedKeyUsageType": {
      "enum": [
        "SERVER_AUTH",
        "CLIENT_AUTH",
        "CODE_SIGNING",
        "EMAIL_PROTECTION",
        "TIME_STAMPING",
        "OCSP_SIGNING",
        "SMART_CARD_LOGIN",
        "DOCUMENT_SIGNING",
        "CERTIFICATE_TRANSPARENCY"
      ],
      "type": "string"
    },
    "Extensions": {
      "documentation": "<p>Contains X.509 extension information for a certificate.</p>",
      "members": {
        "CertificatePolicies": {
          "documentation": "<p>Contains a sequence of one or more policy information terms, each of which consists of an object identifier (OID) and optional qualifiers. For more information, see NIST's definition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier (OID)</a>.</p> <p>In an end-entity certificate, these terms indicate the policy under which the certificate was issued and the purposes for which it may be used. In a CA certificate, these terms limit the set of policies for certification paths that include this certificate.</p>",
          "shape": "CertificatePolicyList"
        },
        "CustomExtensions": {
          "documentation": "<p/> <p>Contains a sequence of one or more X.509 extensions, each of which consists of an object identifier (OID), a base64-encoded value, and the critical flag. For more information, see the <a href=\"https://oidref.com/2.5.29\">Global OID reference database.</a> </p>",
          "shape": "CustomExtensionList"
        },
        "ExtendedKeyUsage": {
          "documentation": "<p>Specifies additional purposes for which the certified public key may be used other than basic purposes indicated in the <code>KeyUsage</code> extension.</p>",
          "shape": "ExtendedKeyUsageList"
        },
        "KeyUsage": {
          "shape": "KeyUsage"
        },
        "SubjectAlternativeNames": {
          "documentation": "<p>The subject alternative name extension allows identities to be bound to the subject of the certificate. These identities may be included in addition to or in place of the identity in the subject field of the certificate.</p>",
          "shape": "GeneralNameList"
        }
      },
      "type": "structure"
    },
    "FailureReason": {
      "enum": [
        "REQUEST_TIMED_OUT",
        "UNSUPPORTED_ALGORITHM",
        "OTHER"
      ],
      "type": "string"
    },
    "GeneralName": {
      "documentation": "<p>Describes an ASN.1 X.400 <code>GeneralName</code> as defined in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280\">RFC 5280</a>. Only one of the following naming options should be provided. Providing more than one option results in an <code>InvalidArgsException</code> error.</p>",
      "members": {
        "DirectoryName": {
          "shape": "ASN1Subject"
        },
        "DnsName": {
          "documentation": "<p>Represents <code>GeneralName</code> as a DNS name.</p>",
          "shape": "String253"
        },
        "EdiPartyName": {
          "documentation": "<p>Represents <code>GeneralName</code> as an <code>EdiPartyName</code> object.</p>",
          "shape": "EdiPartyName"
        },
        "IpAddress": {
          "documentation": "<p>Represents <code>GeneralName</code> as an IPv4 or IPv6 address.</p>",
          "shape": "String39"
        },
        "OtherName": {
          "documentation": "<p>Represents <code>GeneralName</code> using an <code>OtherName</code> object.</p>",
          "shape": "OtherName"
        },
        "RegisteredId": {
          "documentation": "<p> Represents <code>GeneralName</code> as an object identifier (OID).</p>",
          "shape": "CustomObjectIdentifier"
        },
        "Rfc822Name": {
          "documentation": "<p>Represents <code>GeneralName</code> as an <a href=\"https://datatracker.ietf.org/doc/html/rfc822\">RFC 822</a> email address.</p>",
          "shape": "String256"
        },
        "UniformResourceIdentifier": {
          "documentation": "<p>Represents <code>GeneralName</code> as a URI.</p>",
          "shape": "String253"
        }
      },
      "type": "structure"
    },
    "GeneralNameList": {
      "max": 20,
      "member": {
        "shape": "GeneralName"
      },
      "min": 1,
      "type": "list"
    },
    "GetCertificateAuthorityCertificateRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of your private CA. This is of the form:</p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "structure"
    },
    "GetCertificateAuthorityCertificateResponse": {
      "members": {
        "Certificate": {
          "documentation": "<p>Base64-encoded certificate authority (CA) certificate.</p>",
          "shape": "CertificateBody"
        },
        "CertificateChain": {
          "documentation": "<p>Base64-encoded certificate chain that includes any intermediate certificates and chains up to root certificate that you used to sign your private CA certificate. The chain does not include your private CA certificate. If this is a root CA, the value will be null.</p>",
          "shape": "CertificateChain"
        }
      },
      "type": "structure"
    },
    "GetCertificateAuthorityCsrRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. This must be of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CertificateAuthorityArn"
      ],
      "type": "structure"
    },
    "GetCertificateAuthorityCsrResponse": {
      "members": {
        "Csr": {
          "documentation": "<p>The base64 PEM-encoded certificate signing request (CSR) for your private CA certificate.</p>",
          "shape": "CsrBody"
        }
      },
      "type": "structure"
    },
    "GetCertificateRequest": {
      "members": {
        "CertificateArn": {
          "documentation": "<p>The ARN of the issued certificate. The ARN contains the certificate serial number and must be in the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i> </code> </p>",
          "shape": "Arn"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "CertificateArn"
      ],
      "type": "structure"
    },
    "GetCertificateResponse": {
      "members": {
        "Certificate": {
          "documentation": "<p>The base64 PEM-encoded certificate specified by the <code>CertificateArn</code> parameter.</p>",
          "shape": "CertificateBody"
        },
        "CertificateChain": {
          "documentation": "<p>The base64 PEM-encoded certificate chain that chains up to the root CA certificate that you used to sign your private CA certificate. </p>",
          "shape": "CertificateChain"
        }
      },
      "type": "structure"
    },
    "GetPolicyRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the private CA that will have its policy retrieved. You can find the CA's ARN by calling the ListCertificateAuthorities action. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "GetPolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>The policy attached to the private CA as a JSON document.</p>",
          "shape": "AWSPolicy"
        }
      },
      "type": "structure"
    },
    "IdempotencyToken": {
      "max": 36,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*",
      "type": "string"
    },
    "ImportCertificateAuthorityCertificateRequest": {
      "members": {
        "Certificate": {
          "documentation": "<p>The PEM-encoded certificate for a private CA. This may be a self-signed certificate in the case of a root CA, or it may be signed by another CA that you control.</p>",
          "shape": "CertificateBodyBlob"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>",
          "shape": "Arn"
        },
        "CertificateChain": {
          "documentation": "<p>A PEM-encoded file that contains all of your certificates, other than the certificate you're importing, chaining up to your root CA. Your ACM Private CA-hosted or on-premises root certificate is the last in the chain, and each certificate in the chain signs the one preceding. </p> <p>This parameter must be supplied when you import a subordinate CA. When you import a root CA, there is no chain.</p>",
          "shape": "CertificateChainBlob"
        }
      },
      "required": [
        "CertificateAuthorityArn",
        "Certificate"
      ],
      "type": "structure"
    },
    "Integer1To5000": {
      "max": 5000,
      "min": 1,
      "type": "integer"
    },
    "InvalidArgsException": {
      "documentation": "<p>One or more of the specified arguments was not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidArnException": {
      "documentation": "<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The token specified in the <code>NextToken</code> argument is not valid. Use the token returned from your previous call to <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidPolicyException": {
      "documentation": "<p>The resource policy is invalid or is missing a required statement. For general information about IAM policy and statement structure, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json\">Overview of JSON Policies</a>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request action cannot be performed or is prohibited.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidStateException": {
      "documentation": "<p>The state of the private CA does not allow this action to occur.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidTagException": {
      "documentation": "<p>The tag associated with the CA is not valid. The invalid argument is contained in the message field.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "IssueCertificateRequest": {
      "members": {
        "ApiPassthrough": {
          "documentation": "<p>Specifies X.509 certificate information to be included in the issued certificate. An <code>APIPassthrough</code> or <code>APICSRPassthrough</code> template variant must be selected, or else this parameter is ignored. For more information about using these templates, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html\">Understanding Certificate Templates</a>.</p> <p>If conflicting or duplicate certificate information is supplied during certificate issuance, ACM Private CA applies <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html#template-order-of-operations\">order of operation rules</a> to determine what information is used.</p>",
          "shape": "ApiPassthrough"
        },
        "CertificateAuthorityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form:</p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>",
          "shape": "Arn"
        },
        "Csr": {
[...]
