{
  "documentation": "<p>SageMaker Edge Manager dataplane service for communicating with active agents.</p>",
  "metadata": {
    "apiVersion": "2020-09-23",
    "endpointPrefix": "edge.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Sagemaker Edge Manager",
    "serviceId": "Sagemaker Edge",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "uid": "sagemaker-edge-2020-09-23"
  },
  "operations": {
    "GetDeployments": {
      "documentation": "<p>Use to get the active deployments from a device.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetDeployments"
      },
      "input": {
        "shape": "GetDeploymentsRequest"
      },
      "name": "GetDeployments",
      "output": {
        "shape": "GetDeploymentsResult"
      }
    },
    "GetDeviceRegistration": {
      "documentation": "<p>Use to check if a device is registered with SageMaker Edge Manager.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetDeviceRegistration"
      },
      "input": {
        "shape": "GetDeviceRegistrationRequest"
      },
      "name": "GetDeviceRegistration",
      "output": {
        "shape": "GetDeviceRegistrationResult"
      }
    },
    "SendHeartbeat": {
      "documentation": "<p>Use to get the current status of devices registered on SageMaker Edge Manager.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/SendHeartbeat"
      },
      "input": {
        "shape": "SendHeartbeatRequest"
      },
      "name": "SendHeartbeat"
    }
  },
  "shapes": {
    "CacheTTLSeconds": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Checksum": {
      "documentation": "<p>Information about the checksum of a model deployed on a device.</p>",
      "members": {
        "Sum": {
          "documentation": "<p>The checksum of the model.</p>",
          "shape": "ChecksumString"
        },
        "Type": {
          "documentation": "<p>The type of the checksum.</p>",
          "shape": "ChecksumType"
        }
      },
      "type": "structure"
    },
    "ChecksumString": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-z0-9](-*[a-z0-9])*$",
      "type": "string"
    },
    "ChecksumType": {
      "enum": [
        "SHA1"
      ],
      "type": "string"
    },
    "Definition": {
      "documentation": "<p/>",
      "members": {
        "Checksum": {
          "documentation": "<p>The checksum information of the model.</p>",
          "shape": "Checksum"
        },
        "ModelHandle": {
          "documentation": "<p>The unique model handle.</p>",
          "shape": "EntityName"
        },
        "S3Url": {
          "documentation": "<p>The absolute S3 location of the model.</p>",
          "shape": "S3Uri"
        },
        "State": {
          "documentation": "<p>The desired state of the model.</p>",
          "shape": "ModelState"
        }
      },
      "type": "structure"
    },
    "Definitions": {
      "member": {
        "shape": "Definition"
      },
      "type": "list"
    },
    "DeploymentModel": {
      "documentation": "<p/>",
      "members": {
        "DesiredState": {
          "documentation": "<p>The desired state of the model.</p>",
          "shape": "ModelState"
        },
        "ModelHandle": {
          "documentation": "<p>The unique handle of the model.</p>",
          "shape": "EntityName"
        },
        "ModelName": {
          "documentation": "<p>The name of the model.</p>",
          "shape": "ModelName"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model.</p>",
          "shape": "Version"
        },
        "RollbackFailureReason": {
          "documentation": "<p>Returns the error message if there is a rollback.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>Returns the current state of the model.</p>",
          "shape": "ModelState"
        },
        "Status": {
          "documentation": "<p>Returns the deployment status of the model.</p>",
          "shape": "DeploymentStatus"
        },
        "StatusReason": {
          "documentation": "<p>Returns the error message for the deployment status result.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeploymentModels": {
      "member": {
        "shape": "DeploymentModel"
      },
      "type": "list"
    },
    "DeploymentResult": {
      "documentation": "<p>Information about the result of a deployment on an edge device that is registered with SageMaker Edge Manager.</p>",
      "members": {
        "DeploymentEndTime": {
          "documentation": "<p>The timestamp of when the deployment was ended, and the agent got the deployment results.</p>",
          "shape": "Timestamp"
        },
        "DeploymentModels": {
          "documentation": "<p>Returns a list of models deployed on the agent.</p>",
          "shape": "DeploymentModels"
        },
        "DeploymentName": {
          "documentation": "<p>The name and unique ID of the deployment.</p>",
          "shape": "EntityName"
        },
        "DeploymentStartTime": {
          "documentation": "<p>The timestamp of when the deployment was started on the agent.</p>",
          "shape": "Timestamp"
        },
        "DeploymentStatus": {
          "documentation": "<p>Returns the bucket error code.</p>",
          "shape": "EntityName"
        },
        "DeploymentStatusMessage": {
          "documentation": "<p>Returns the detailed error message.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeploymentStatus": {
      "enum": [
        "SUCCESS",
        "FAIL"
      ],
      "type": "string"
    },
    "DeploymentType": {
      "enum": [
        "Model"
      ],
      "type": "string"
    },
    "DeviceFleetName": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*_*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "DeviceName": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*_*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "DeviceRegistration": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Dimension": {
      "max": 1000,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9\\/])*$",
      "type": "string"
    },
    "EdgeDeployment": {
      "documentation": "<p>Information about a deployment on an edge device that is registered with SageMaker Edge Manager.</p>",
      "members": {
        "Definitions": {
          "documentation": "<p>Returns a list of Definition objects.</p>",
          "shape": "Definitions"
        },
        "DeploymentName": {
          "documentation": "<p>The name and unique ID of the deployment.</p>",
          "shape": "EntityName"
        },
        "FailureHandlingPolicy": {
          "documentation": "<p>Determines whether to rollback to previous configuration if deployment fails.</p>",
          "shape": "FailureHandlingPolicy"
        },
        "Type": {
          "documentation": "<p>The type of the deployment.</p>",
          "shape": "DeploymentType"
        }
      },
      "type": "structure"
    },
    "EdgeDeployments": {
      "member": {
        "shape": "EdgeDeployment"
      },
      "type": "list"
    },
    "EdgeMetric": {
      "documentation": "<p>Information required for edge device metrics.</p>",
      "members": {
        "Dimension": {
          "documentation": "<p>The dimension of metrics published.</p>",
          "shape": "Dimension"
        },
        "MetricName": {
          "documentation": "<p>Returns the name of the metric.</p>",
          "shape": "Metric"
        },
        "Timestamp": {
          "documentation": "<p>Timestamp of when the metric was requested.</p>",
          "shape": "Timestamp"
        },
        "Value": {
          "documentation": "<p>Returns the value of the metric.</p>",
          "shape": "Value"
        }
      },
      "type": "structure"
    },
    "EdgeMetrics": {
      "member": {
        "shape": "EdgeMetric"
      },
      "type": "list"
    },
    "EntityName": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailureHandlingPolicy": {
      "enum": [
        "ROLLBACK_ON_FAILURE",
        "DO_NOTHING"
      ],
      "type": "string"
    },
    "GetDeploymentsRequest": {
      "members": {
        "DeviceFleetName": {
          "documentation": "<p>The name of the fleet that the device belongs to.</p>",
          "shape": "DeviceFleetName"
        },
        "DeviceName": {
          "documentation": "<p>The unique name of the device you want to get the configuration of active deployments from.</p>",
          "shape": "DeviceName"
        }
      },
      "required": [
        "DeviceName",
        "DeviceFleetName"
      ],
      "type": "structure"
    },
    "GetDeploymentsResult": {
      "members": {
        "Deployments": {
          "documentation": "<p>Returns a list of the configurations of the active deployments on the device.</p>",
          "shape": "EdgeDeployments"
        }
      },
      "type": "structure"
    },
    "GetDeviceRegistrationRequest": {
      "members": {
        "DeviceFleetName": {
          "documentation": "<p>The name of the fleet that the device belongs to.</p>",
          "shape": "DeviceFleetName"
        },
        "DeviceName": {
          "documentation": "<p>The unique name of the device you want to get the registration status from.</p>",
          "shape": "DeviceName"
        }
      },
      "required": [
        "DeviceName",
        "DeviceFleetName"
      ],
      "type": "structure"
    },
    "GetDeviceRegistrationResult": {
      "members": {
        "CacheTTL": {
          "documentation": "<p>The amount of time, in seconds, that the registration status is stored on the device\u2019s cache before it is refreshed.</p>",
          "shape": "CacheTTLSeconds"
        },
        "DeviceRegistration": {
          "documentation": "<p>Describes if the device is currently registered with SageMaker Edge Manager.</p>",
          "shape": "DeviceRegistration"
        }
      },
      "type": "structure"
    },
    "InternalServiceException": {
      "documentation": "<p>An internal failure occurred. Try your request again. If the problem persists, contact Amazon Web Services customer support.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Metric": {
      "max": 100,
      "min": 4,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "Model": {
      "documentation": "<p>Information about a model deployed on an edge device that is registered with SageMaker Edge Manager.</p>",
      "members": {
        "LatestInference": {
          "documentation": "<p>The timestamp of the last inference that was made.</p>",
          "shape": "Timestamp"
        },
        "LatestSampleTime": {
          "documentation": "<p>The timestamp of the last data sample taken.</p>",
          "shape": "Timestamp"
        },
        "ModelMetrics": {
          "documentation": "<p>Information required for model metrics.</p>",
          "shape": "EdgeMetrics"
        },
        "ModelName": {
          "documentation": "<p>The name of the model.</p>",
          "shape": "ModelName"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "ModelName": {
      "max": 255,
      "min": 4,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ModelState": {
      "enum": [
        "DEPLOY",
        "UNDEPLOY"
      ],
      "type": "string"
    },
    "Models": {
      "member": {
        "shape": "Model"
      },
      "type": "list"
    },
    "S3Uri": {
      "max": 1024,
      "pattern": "^s3://([^/]+)/?(.*)$",
      "type": "string"
    },
    "SendHeartbeatRequest": {
      "members": {
        "AgentMetrics": {
          "documentation": "<p>For internal use. Returns a list of SageMaker Edge Manager agent operating metrics.</p>",
          "shape": "EdgeMetrics"
        },
        "AgentVersion": {
          "documentation": "<p>Returns the version of the agent.</p>",
          "shape": "Version"
        },
        "DeploymentResult": {
          "documentation": "<p>Returns the result of a deployment on the device.</p>",
          "shape": "DeploymentResult"
        },
        "DeviceFleetName": {
          "documentation": "<p>The name of the fleet that the device belongs to.</p>",
          "shape": "DeviceFleetName"
        },
        "DeviceName": {
          "documentation": "<p>The unique name of the device.</p>",
          "shape": "DeviceName"
        },
        "Models": {
          "documentation": "<p>Returns a list of models deployed on the the device.</p>",
          "shape": "Models"
        }
      },
      "required": [
        "AgentVersion",
        "DeviceName",
        "DeviceFleetName"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Value": {
      "type": "double"
    },
    "Version": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9\\ \\_\\.]+",
      "type": "string"
    }
  },
  "version": "2.0"
}
