{
  "documentation": "<p>When you create a VPC using Amazon VPC, you automatically get DNS resolution within the VPC from Route 53 Resolver. By default, Resolver answers DNS queries for VPC domain names such as domain names for EC2 instances or Elastic Load Balancing load balancers. Resolver performs recursive lookups against public name servers for all other domain names.</p> <p>You can also configure DNS resolution between your VPC and your network over a Direct Connect or VPN connection:</p> <p> <b>Forward DNS queries from resolvers on your network to Route 53 Resolver</b> </p> <p>DNS resolvers on your network can forward DNS queries to Resolver in a specified VPC. This allows your DNS resolvers to easily resolve domain names for Amazon Web Services resources such as EC2 instances or records in a Route 53 private hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resolver.html#resolver-overview-forward-network-to-vpc\">How DNS Resolvers on Your Network Forward DNS Queries to Route 53 Resolver</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p> <b>Conditionally forward queries from a VPC to resolvers on your network</b> </p> <p>You can configure Resolver to forward queries that it receives from EC2 instances in your VPCs to DNS resolvers on your network. To forward selected queries, you create Resolver rules that specify the domain names for the DNS queries that you want to forward (such as example.com), and the IP addresses of the DNS resolvers on your network that you want to forward the queries to. If a query matches multiple rules (example.com, acme.example.com), Resolver chooses the rule with the most specific match (acme.example.com) and forwards the query to the IP addresses that you specified in that rule. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/resolver.html#resolver-overview-forward-vpc-to-network\">How Route 53 Resolver Forwards DNS Queries from Your VPCs to Your Network</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Like Amazon VPC, Resolver is Regional. In each Region where you have VPCs, you can choose whether to forward queries from your VPCs to your network (outbound queries), from your network to your VPCs (inbound queries), or both.</p>",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "route53resolver",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Route53Resolver",
    "serviceFullName": "Amazon Route 53 Resolver",
    "serviceId": "Route53Resolver",
    "signatureVersion": "v4",
    "targetPrefix": "Route53Resolver",
    "uid": "route53resolver-2018-04-01"
  },
  "operations": {
    "AssociateFirewallRuleGroup": {
      "documentation": "<p>Associates a <a>FirewallRuleGroup</a> with a VPC, to provide DNS filtering for the VPC. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateFirewallRuleGroupRequest"
      },
      "name": "AssociateFirewallRuleGroup",
      "output": {
        "shape": "AssociateFirewallRuleGroupResponse"
      }
    },
    "AssociateResolverEndpointIpAddress": {
      "documentation": "<p>Adds IP addresses to an inbound or an outbound Resolver endpoint. If you want to add more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverEndpointIpAddress.html\">DisassociateResolverEndpointIpAddress</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateResolverEndpointIpAddressRequest"
      },
      "name": "AssociateResolverEndpointIpAddress",
      "output": {
        "shape": "AssociateResolverEndpointIpAddressResponse"
      }
    },
    "AssociateResolverQueryLogConfig": {
      "documentation": "<p>Associates an Amazon VPC with a specified query logging configuration. Route 53 Resolver logs DNS queries that originate in all of the Amazon VPCs that are associated with a specified query logging configuration. To associate more than one VPC with a configuration, submit one <code>AssociateResolverQueryLogConfig</code> request for each VPC.</p> <note> <p>The VPCs that you associate with a query logging configuration must be in the same Region as the configuration.</p> </note> <p>To remove a VPC from a query logging configuration, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateResolverQueryLogConfigRequest"
      },
      "name": "AssociateResolverQueryLogConfig",
      "output": {
        "shape": "AssociateResolverQueryLogConfigResponse"
      }
    },
    "AssociateResolverRule": {
      "documentation": "<p>Associates a Resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverRule.html\">CreateResolverRule</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateResolverRuleRequest"
      },
      "name": "AssociateResolverRule",
      "output": {
        "shape": "AssociateResolverRuleResponse"
      }
    },
    "CreateFirewallDomainList": {
      "documentation": "<p>Creates an empty firewall domain list for use in DNS Firewall rules. You can populate the domains for the new list with a file, using <a>ImportFirewallDomains</a>, or with domain strings, using <a>UpdateFirewallDomains</a>. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFirewallDomainListRequest"
      },
      "name": "CreateFirewallDomainList",
      "output": {
        "shape": "CreateFirewallDomainListResponse"
      }
    },
    "CreateFirewallRule": {
      "documentation": "<p>Creates a single DNS Firewall rule in the specified rule group, using the specified domain list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFirewallRuleRequest"
      },
      "name": "CreateFirewallRule",
      "output": {
        "shape": "CreateFirewallRuleResponse"
      }
    },
    "CreateFirewallRuleGroup": {
      "documentation": "<p>Creates an empty DNS Firewall rule group for filtering DNS network traffic in a VPC. You can add rules to the new rule group by calling <a>CreateFirewallRule</a>. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFirewallRuleGroupRequest"
      },
      "name": "CreateFirewallRuleGroup",
      "output": {
        "shape": "CreateFirewallRuleGroupResponse"
      }
    },
    "CreateResolverEndpoint": {
      "documentation": "<p>Creates a Resolver endpoint. There are two types of Resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound Resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network.</p> </li> <li> <p>An <i>outbound Resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResolverEndpointRequest"
      },
      "name": "CreateResolverEndpoint",
      "output": {
        "shape": "CreateResolverEndpointResponse"
      }
    },
    "CreateResolverQueryLogConfig": {
      "documentation": "<p>Creates a Resolver query logging configuration, which defines where you want Resolver to save DNS query logs that originate in your VPCs. Resolver can log queries only for VPCs that are in the same Region as the query logging configuration.</p> <p>To specify which VPCs you want to log queries for, you use <code>AssociateResolverQueryLogConfig</code>. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverQueryLogConfig.html\">AssociateResolverQueryLogConfig</a>. </p> <p>You can optionally use Resource Access Manager (RAM) to share a query logging configuration with other Amazon Web Services accounts. The other accounts can then associate VPCs with the configuration. The query logs that Resolver creates for a configuration include all DNS queries that originate in all VPCs that are associated with the configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResolverQueryLogConfigRequest"
      },
      "name": "CreateResolverQueryLogConfig",
      "output": {
        "shape": "CreateResolverQueryLogConfigResponse"
      }
    },
    "CreateResolverRule": {
      "documentation": "<p>For DNS queries that originate in your VPCs, specifies which Resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResolverRuleRequest"
      },
      "name": "CreateResolverRule",
      "output": {
        "shape": "CreateResolverRuleResponse"
      }
    },
    "DeleteFirewallDomainList": {
      "documentation": "<p>Deletes the specified domain list. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallDomainListRequest"
      },
      "name": "DeleteFirewallDomainList",
      "output": {
        "shape": "DeleteFirewallDomainListResponse"
      }
    },
    "DeleteFirewallRule": {
      "documentation": "<p>Deletes the specified firewall rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallRuleRequest"
      },
      "name": "DeleteFirewallRule",
      "output": {
        "shape": "DeleteFirewallRuleResponse"
      }
    },
    "DeleteFirewallRuleGroup": {
      "documentation": "<p>Deletes the specified firewall rule group. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallRuleGroupRequest"
      },
      "name": "DeleteFirewallRuleGroup",
      "output": {
        "shape": "DeleteFirewallRuleGroupResponse"
      }
    },
    "DeleteResolverEndpoint": {
      "documentation": "<p>Deletes a Resolver endpoint. The effect of deleting a Resolver endpoint depends on whether it's an inbound or an outbound Resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResolverEndpointRequest"
      },
      "name": "DeleteResolverEndpoint",
      "output": {
        "shape": "DeleteResolverEndpointResponse"
      }
    },
    "DeleteResolverQueryLogConfig": {
      "documentation": "<p>Deletes a query logging configuration. When you delete a configuration, Resolver stops logging DNS queries for all of the Amazon VPCs that are associated with the configuration. This also applies if the query logging configuration is shared with other Amazon Web Services accounts, and the other accounts have associated VPCs with the shared configuration.</p> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.</p> <p>If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, you must stop sharing the configuration before you can delete a configuration. The accounts that you shared the configuration with can first disassociate VPCs that they associated with the configuration, but that's not necessary. If you stop sharing the configuration, those VPCs are automatically disassociated from the configuration.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResolverQueryLogConfigRequest"
      },
      "name": "DeleteResolverQueryLogConfig",
      "output": {
        "shape": "DeleteResolverQueryLogConfigResponse"
      }
    },
    "DeleteResolverRule": {
      "documentation": "<p>Deletes a Resolver rule. Before you can delete a Resolver rule, you must disassociate it from all the VPCs that you associated the Resolver rule with. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverRule.html\">DisassociateResolverRule</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResolverRuleRequest"
      },
      "name": "DeleteResolverRule",
      "output": {
        "shape": "DeleteResolverRuleResponse"
      }
    },
    "DisassociateFirewallRuleGroup": {
      "documentation": "<p>Disassociates a <a>FirewallRuleGroup</a> from a VPC, to remove DNS filtering from the VPC. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateFirewallRuleGroupRequest"
      },
      "name": "DisassociateFirewallRuleGroup",
      "output": {
        "shape": "DisassociateFirewallRuleGroupResponse"
      }
    },
    "DisassociateResolverEndpointIpAddress": {
      "documentation": "<p>Removes IP addresses from an inbound or an outbound Resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverEndpointIpAddress.html\">AssociateResolverEndpointIpAddress</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateResolverEndpointIpAddressRequest"
      },
      "name": "DisassociateResolverEndpointIpAddress",
      "output": {
        "shape": "DisassociateResolverEndpointIpAddressResponse"
      }
    },
    "DisassociateResolverQueryLogConfig": {
      "documentation": "<p>Disassociates a VPC from a query logging configuration.</p> <note> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, VPCs can be disassociated from the configuration in the following ways:</p> <ul> <li> <p>The accounts that you shared the configuration with can disassociate VPCs from the configuration.</p> </li> <li> <p>You can stop sharing the configuration.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateResolverQueryLogConfigRequest"
      },
      "name": "DisassociateResolverQueryLogConfig",
      "output": {
        "shape": "DisassociateResolverQueryLogConfigResponse"
      }
    },
    "DisassociateResolverRule": {
      "documentation": "<p>Removes the association between a specified Resolver rule and a specified VPC.</p> <important> <p>If you disassociate a Resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the Resolver rule. </p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateResolverRuleRequest"
      },
      "name": "DisassociateResolverRule",
      "output": {
        "shape": "DisassociateResolverRuleResponse"
      }
    },
    "GetFirewallConfig": {
      "documentation": "<p>Retrieves the configuration of the firewall behavior provided by DNS Firewall for a single VPC from Amazon Virtual Private Cloud (Amazon VPC). </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFirewallConfigRequest"
      },
      "name": "GetFirewallConfig",
      "output": {
        "shape": "GetFirewallConfigResponse"
      }
    },
    "GetFirewallDomainList": {
      "documentation": "<p>Retrieves the specified firewall domain list.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFirewallDomainListRequest"
      },
      "name": "GetFirewallDomainList",
      "output": {
        "shape": "GetFirewallDomainListResponse"
      }
    },
    "GetFirewallRuleGroup": {
      "documentation": "<p>Retrieves the specified firewall rule group. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFirewallRuleGroupRequest"
      },
      "name": "GetFirewallRuleGroup",
      "output": {
        "shape": "GetFirewallRuleGroupResponse"
      }
    },
    "GetFirewallRuleGroupAssociation": {
      "documentation": "<p>Retrieves a firewall rule group association, which enables DNS filtering for a VPC with one rule group. A VPC can have more than one firewall rule group association, and a rule group can be associated with more than one VPC.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFirewallRuleGroupAssociationRequest"
      },
      "name": "GetFirewallRuleGroupAssociation",
      "output": {
        "shape": "GetFirewallRuleGroupAssociationResponse"
      }
    },
    "GetFirewallRuleGroupPolicy": {
      "documentation": "<p>Returns the Identity and Access Management (Amazon Web Services IAM) policy for sharing the specified rule group. You can use the policy to share the rule group using Resource Access Manager (RAM). </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetFirewallRuleGroupPolicyRequest"
      },
      "name": "GetFirewallRuleGroupPolicy",
      "output": {
        "shape": "GetFirewallRuleGroupPolicyResponse"
      }
    },
    "GetResolverConfig": {
      "documentation": "<p>Retrieves the behavior configuration of Route 53 Resolver behavior for a single VPC from Amazon Virtual Private Cloud.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverConfigRequest"
      },
      "name": "GetResolverConfig",
      "output": {
        "shape": "GetResolverConfigResponse"
      }
    },
    "GetResolverDnssecConfig": {
      "documentation": "<p>Gets DNSSEC validation information for a specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverDnssecConfigRequest"
      },
      "name": "GetResolverDnssecConfig",
      "output": {
        "shape": "GetResolverDnssecConfigResponse"
      }
    },
    "GetResolverEndpoint": {
      "documentation": "<p>Gets information about a specified Resolver endpoint, such as whether it's an inbound or an outbound Resolver endpoint, and the current status of the endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverEndpointRequest"
      },
      "name": "GetResolverEndpoint",
      "output": {
        "shape": "GetResolverEndpointResponse"
      }
    },
    "GetResolverQueryLogConfig": {
      "documentation": "<p>Gets information about a specified Resolver query logging configuration, such as the number of VPCs that the configuration is logging queries for and the location that logs are sent to. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverQueryLogConfigRequest"
      },
      "name": "GetResolverQueryLogConfig",
      "output": {
        "shape": "GetResolverQueryLogConfigResponse"
      }
    },
    "GetResolverQueryLogConfigAssociation": {
      "documentation": "<p>Gets information about a specified association between a Resolver query logging configuration and an Amazon VPC. When you associate a VPC with a query logging configuration, Resolver logs DNS queries that originate in that VPC.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverQueryLogConfigAssociationRequest"
      },
      "name": "GetResolverQueryLogConfigAssociation",
      "output": {
        "shape": "GetResolverQueryLogConfigAssociationResponse"
      }
    },
    "GetResolverQueryLogConfigPolicy": {
      "documentation": "<p>Gets information about a query logging policy. A query logging policy specifies the Resolver query logging operations and resources that you want to allow another Amazon Web Services account to be able to use.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverQueryLogConfigPolicyRequest"
      },
      "name": "GetResolverQueryLogConfigPolicy",
      "output": {
        "shape": "GetResolverQueryLogConfigPolicyResponse"
      }
    },
    "GetResolverRule": {
      "documentation": "<p>Gets information about a specified Resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound Resolver endpoint that the rule is associated with.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRuleRequest"
      },
      "name": "GetResolverRule",
      "output": {
        "shape": "GetResolverRuleResponse"
      }
    },
    "GetResolverRuleAssociation": {
      "documentation": "<p>Gets information about an association between a specified Resolver rule and a VPC. You associate a Resolver rule and a VPC using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverRule.html\">AssociateResolverRule</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRuleAssociationRequest"
      },
      "name": "GetResolverRuleAssociation",
      "output": {
        "shape": "GetResolverRuleAssociationResponse"
      }
    },
    "GetResolverRulePolicy": {
      "documentation": "<p>Gets information about the Resolver rule policy for a specified rule. A Resolver rule policy includes the rule that you want to share with another account, the account that you want to share the rule with, and the Resolver operations that you want to allow the account to use. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRulePolicyRequest"
      },
      "name": "GetResolverRulePolicy",
      "output": {
        "shape": "GetResolverRulePolicyResponse"
      }
    },
    "ImportFirewallDomains": {
      "documentation": "<p>Imports domain names from a file into a domain list, for use in a DNS firewall rule group. </p> <p>Each domain specification in your domain list must satisfy the following requirements: </p> <ul> <li> <p>It can optionally start with <code>*</code> (asterisk).</p> </li> <li> <p>With the exception of the optional starting asterisk, it must only contain the following characters: <code>A-Z</code>, <code>a-z</code>, <code>0-9</code>, <code>-</code> (hyphen).</p> </li> <li> <p>It must be from 1-255 characters in length. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportFirewallDomainsRequest"
      },
      "name": "ImportFirewallDomains",
      "output": {
        "shape": "ImportFirewallDomainsResponse"
      }
    },
    "ListFirewallConfigs": {
      "documentation": "<p>Retrieves the firewall configurations that you have defined. DNS Firewall uses the configurations to manage firewall behavior for your VPCs. </p> <p>A single call might return only a partial list of the configurations. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallConfigsRequest"
      },
      "name": "ListFirewallConfigs",
      "output": {
        "shape": "ListFirewallConfigsResponse"
      }
    },
    "ListFirewallDomainLists": {
      "documentation": "<p>Retrieves the firewall domain lists that you have defined. For each firewall domain list, you can retrieve the domains that are defined for a list by calling <a>ListFirewallDomains</a>. </p> <p>A single call to this list operation might return only a partial list of the domain lists. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallDomainListsRequest"
      },
      "name": "ListFirewallDomainLists",
      "output": {
        "shape": "ListFirewallDomainListsResponse"
      }
    },
    "ListFirewallDomains": {
      "documentation": "<p>Retrieves the domains that you have defined for the specified firewall domain list. </p> <p>A single call might return only a partial list of the domains. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallDomainsRequest"
      },
      "name": "ListFirewallDomains",
      "output": {
        "shape": "ListFirewallDomainsResponse"
      }
    },
    "ListFirewallRuleGroupAssociations": {
      "documentation": "<p>Retrieves the firewall rule group associations that you have defined. Each association enables DNS filtering for a VPC with one rule group. </p> <p>A single call might return only a partial list of the associations. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallRuleGroupAssociationsRequest"
      },
      "name": "ListFirewallRuleGroupAssociations",
      "output": {
        "shape": "ListFirewallRuleGroupAssociationsResponse"
      }
    },
    "ListFirewallRuleGroups": {
      "documentation": "<p>Retrieves the minimal high-level information for the rule groups that you have defined. </p> <p>A single call might return only a partial list of the rule groups. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallRuleGroupsRequest"
      },
      "name": "ListFirewallRuleGroups",
      "output": {
        "shape": "ListFirewallRuleGroupsResponse"
      }
    },
    "ListFirewallRules": {
      "documentation": "<p>Retrieves the firewall rules that you have defined for the specified firewall rule group. DNS Firewall uses the rules in a rule group to filter DNS network traffic for a VPC. </p> <p>A single call might return only a partial list of the rules. For information, see <code>MaxResults</code>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallRulesRequest"
      },
      "name": "ListFirewallRules",
      "output": {
        "shape": "ListFirewallRulesResponse"
      }
    },
    "ListResolverConfigs": {
      "documentation": "<p>Retrieves the Resolver configurations that you have defined. Route 53 Resolver uses the configurations to manage DNS resolution behavior for your VPCs.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverConfigsRequest"
      },
      "name": "ListResolverConfigs",
      "output": {
        "shape": "ListResolverConfigsResponse"
      }
    },
    "ListResolverDnssecConfigs": {
      "documentation": "<p>Lists the configurations for DNSSEC validation that are associated with the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverDnssecConfigsRequest"
      },
      "name": "ListResolverDnssecConfigs",
      "output": {
        "shape": "ListResolverDnssecConfigsResponse"
      }
    },
    "ListResolverEndpointIpAddresses": {
      "documentation": "<p>Gets the IP addresses for a specified Resolver endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverEndpointIpAddressesRequest"
      },
      "name": "ListResolverEndpointIpAddresses",
      "output": {
        "shape": "ListResolverEndpointIpAddressesResponse"
      }
    },
    "ListResolverEndpoints": {
      "documentation": "<p>Lists all the Resolver endpoints that were created using the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverEndpointsRequest"
      },
      "name": "ListResolverEndpoints",
      "output": {
        "shape": "ListResolverEndpointsResponse"
      }
    },
    "ListResolverQueryLogConfigAssociations": {
      "documentation": "<p>Lists information about associations between Amazon VPCs and query logging configurations.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverQueryLogConfigAssociationsRequest"
      },
      "name": "ListResolverQueryLogConfigAssociations",
      "output": {
        "shape": "ListResolverQueryLogConfigAssociationsResponse"
      }
    },
    "ListResolverQueryLogConfigs": {
      "documentation": "<p>Lists information about the specified query logging configurations. Each configuration defines where you want Resolver to save DNS query logs and specifies the VPCs that you want to log queries for.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverQueryLogConfigsRequest"
      },
      "name": "ListResolverQueryLogConfigs",
      "output": {
        "shape": "ListResolverQueryLogConfigsResponse"
      }
    },
    "ListResolverRuleAssociations": {
      "documentation": "<p>Lists the associations that were created between Resolver rules and VPCs using the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverRuleAssociationsRequest"
      },
      "name": "ListResolverRuleAssociations",
      "output": {
        "shape": "ListResolverRuleAssociationsResponse"
      }
    },
    "ListResolverRules": {
      "documentation": "<p>Lists the Resolver rules that were created using the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverRulesRequest"
      },
      "name": "ListResolverRules",
      "output": {
        "shape": "ListResolverRulesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that you associated with the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutFirewallRuleGroupPolicy": {
      "documentation": "<p>Attaches an Identity and Access Management (Amazon Web Services IAM) policy for sharing the rule group. You can use the policy to share the rule group using Resource Access Manager (RAM). </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutFirewallRuleGroupPolicyRequest"
      },
      "name": "PutFirewallRuleGroupPolicy",
      "output": {
        "shape": "PutFirewallRuleGroupPolicyResponse"
      }
    },
    "PutResolverQueryLogConfigPolicy": {
      "documentation": "<p>Specifies an Amazon Web Services account that you want to share a query logging configuration with, the query logging configuration that you want to share, and the operations that you want the account to be able to perform on the configuration.</p>",
      "errors": [
        {
          "shape": "InvalidPolicyDocument"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResolverQueryLogConfigPolicyRequest"
      },
      "name": "PutResolverQueryLogConfigPolicy",
      "output": {
        "shape": "PutResolverQueryLogConfigPolicyResponse"
      }
    },
    "PutResolverRulePolicy": {
      "documentation": "<p>Specifies an Amazon Web Services rule that you want to share with another account, the account that you want to share the rule with, and the operations that you want the account to be able to perform on the rule.</p>",
      "errors": [
        {
          "shape": "InvalidPolicyDocument"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResolverRulePolicyRequest"
      },
      "name": "PutResolverRulePolicy",
      "output": {
        "shape": "PutResolverRulePolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to a specified resource.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateFirewallConfig": {
      "documentation": "<p>Updates the configuration of the firewall behavior provided by DNS Firewall for a single VPC from Amazon Virtual Private Cloud (Amazon VPC). </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallConfigRequest"
      },
      "name": "UpdateFirewallConfig",
      "output": {
        "shape": "UpdateFirewallConfigResponse"
      }
    },
    "UpdateFirewallDomains": {
      "documentation": "<p>Updates the firewall domain list from an array of domain specifications. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallDomainsRequest"
      },
      "name": "UpdateFirewallDomains",
      "output": {
        "shape": "UpdateFirewallDomainsResponse"
      }
    },
    "UpdateFirewallRule": {
      "documentation": "<p>Updates the specified firewall rule. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallRuleRequest"
      },
      "name": "UpdateFirewallRule",
      "output": {
        "shape": "UpdateFirewallRuleResponse"
      }
    },
    "UpdateFirewallRuleGroupAssociation": {
      "documentation": "<p>Changes the association of a <a>FirewallRuleGroup</a> with a VPC. The association enables DNS filtering for the VPC. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallRuleGroupAssociationRequest"
      },
      "name": "UpdateFirewallRuleGroupAssociation",
      "output": {
        "shape": "UpdateFirewallRuleGroupAssociationResponse"
      }
    },
    "UpdateResolverConfig": {
      "documentation": "<p>Updates the behavior configuration of Route 53 Resolver behavior for a single VPC from Amazon Virtual Private Cloud.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverConfigRequest"
      },
      "name": "UpdateResolverConfig",
      "output": {
        "shape": "UpdateResolverConfigResponse"
      }
    },
    "UpdateResolverDnssecConfig": {
      "documentation": "<p>Updates an existing DNSSEC validation configuration. If there is no existing DNSSEC validation configuration, one is created.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverDnssecConfigRequest"
      },
      "name": "UpdateResolverDnssecConfig",
      "output": {
        "shape": "UpdateResolverDnssecConfigResponse"
      }
    },
    "UpdateResolverEndpoint": {
      "documentation": "<p>Updates the name of an inbound or an outbound Resolver endpoint. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverEndpointRequest"
      },
      "name": "UpdateResolverEndpoint",
      "output": {
        "shape": "UpdateResolverEndpointResponse"
      }
    },
    "UpdateResolverRule": {
      "documentation": "<p>Updates settings for a specified Resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don't specify a parameter, it retains its current value.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverRuleRequest"
      },
      "name": "UpdateResolverRule",
      "output": {
        "shape": "UpdateResolverRuleResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccountId": {
      "max": 32,
      "min": 12,
      "type": "string"
    },
    "Action": {
      "enum": [
        "ALLOW",
        "BLOCK",
        "ALERT"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "AssociateFirewallRuleGroupRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken": true,
          "shape": "CreatorRequestId"
        },
        "FirewallRuleGroupId": {
          "documentation": "<p>The unique identifier of the firewall rule group. </p>",
          "shape": "ResourceId"
        },
        "MutationProtection": {
          "box": true,
          "documentation": "<p>If enabled, this setting disallows modification or removal of the association, to help prevent against accidentally altering DNS firewall protections. When you create the association, the default setting is <code>DISABLED</code>. </p>",
          "shape": "MutationProtectionStatus"
        },
        "Name": {
          "documentation": "<p>A name that lets you identify the association, to manage and use it.</p>",
          "shape": "Name"
        },
        "Priority": {
          "documentation": "<p>The setting that determines the processing order of the rule group among the rule groups that you associate with the specified VPC. DNS Firewall filters VPC traffic starting from the rule group with the lowest numeric priority setting. </p> <p>You must specify a unique priority for each rule group that you associate with a single VPC. To make it easier to insert rule groups later, leave space between the numbers, for example, use 101, 200, and so on. You can change the priority setting for a rule group association after you create it.</p> <p>The allowed values for <code>Priority</code> are between 100 and 9900.</p>",
          "shape": "Priority"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the rule group association. </p>",
          "shape": "TagList"
        },
        "VpcId": {
          "documentation": "<p>The unique identifier of the VPC that you want to associate with the rule group. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "CreatorRequestId",
        "FirewallRuleGroupId",
        "VpcId",
        "Priority",
        "Name"
      ],
      "type": "structure"
    },
    "AssociateFirewallRuleGroupResponse": {
      "members": {
        "FirewallRuleGroupAssociation": {
          "documentation": "<p>The association that you just created. The association has an ID that you can use to identify it in other requests, like update and delete.</p>",
          "shape": "FirewallRuleGroupAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateResolverEndpointIpAddressRequest": {
      "members": {
        "IpAddress": {
          "documentation": "<p>Either the IPv4 address that you want to add to a Resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
          "shape": "IpAddressUpdate"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId",
        "IpAddress"
      ],
      "type": "structure"
    },
    "AssociateResolverEndpointIpAddressResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "AssociateResolverQueryLogConfigRequest": {
      "members": {
        "ResolverQueryLogConfigId": {
          "documentation": "<p>The ID of the query logging configuration that you want to associate a VPC with.</p>",
          "shape": "ResourceId"
        },
        "ResourceId": {
          "documentation": "<p>The ID of an Amazon VPC that you want this query logging configuration to log queries for.</p> <note> <p>The VPCs and the query logging configuration must be in the same Region.</p> </note>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverQueryLogConfigId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "AssociateResolverQueryLogConfigResponse": {
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "documentation": "<p>A complex type that contains settings for a specified association between an Amazon VPC and a query logging configuration.</p>",
          "shape": "ResolverQueryLogConfigAssociation"
        }
      },
      "type": "structure"
    },
    "AssociateResolverRuleRequest": {
      "members": {
        "Name": {
          "documentation": "<p>A name for the association that you're creating between a Resolver rule and a VPC.</p>",
          "shape": "Name"
        },
        "ResolverRuleId": {
          "documentation": "<p>The ID of the Resolver rule that you want to associate with the VPC. To list the existing Resolver rules, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>.</p>",
          "shape": "ResourceId"
        },
        "VPCId": {
          "documentation": "<p>The ID of the VPC that you want to associate the Resolver rule with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId",
        "VPCId"
      ],
      "type": "structure"
    },
    "AssociateResolverRuleResponse": {
      "members": {
        "ResolverRuleAssociation": {
          "documentation": "<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRuleAssociation"
        }
      },
      "type": "structure"
    },
    "AutodefinedReverseFlag": {
      "enum": [
        "ENABLE",
        "DISABLE"
      ],
      "type": "string"
    },
    "BlockOverrideDnsType": {
      "enum": [
        "CNAME"
      ],
      "type": "string"
    },
    "BlockOverrideDomain": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "BlockOverrideTtl": {
      "max": 604800,
      "min": 0,
      "type": "integer"
    },
    "BlockResponse": {
      "enum": [
        "NODATA",
        "NXDOMAIN",
        "OVERRIDE"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ConflictException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Count": {
      "type": "integer"
    },
    "CreateFirewallDomainListRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows you to retry failed requests without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken": true,
          "shape": "CreatorRequestId"
        },
        "Name": {
          "documentation": "<p>A name that lets you identify the domain list to manage and use it.</p>",
          "shape": "Name"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the domain list. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "CreatorRequestId",
        "Name"
      ],
      "type": "structure"
    },
    "CreateFirewallDomainListResponse": {
      "members": {
        "FirewallDomainList": {
          "documentation": "<p>The domain list that you just created.</p>",
          "shape": "FirewallDomainList"
        }
      },
      "type": "structure"
    },
    "CreateFirewallRuleGroupRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string defined by you to identify the request. This allows you to retry failed requests without the risk of running the operation twice. This can be any unique string, for example, a timestamp. </p>",
          "idempotencyToken": true,
          "shape": "CreatorRequestId"
        },
        "Name": {
          "documentation": "<p>A name that lets you identify the rule group, to manage and use it.</p>",
          "shape": "Name"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the rule group. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "CreatorRequestId",
        "Name"
      ],
      "type": "structure"
    },
    "CreateFirewallRuleGroupResponse": {
      "members": {
        "FirewallRuleGroup": {
          "documentation": "<p>A collection of rules used to filter DNS network traffic. </p>",
          "shape": "FirewallRuleGroup"
        }
      },
      "type": "structure"
    },
    "CreateFirewallRuleRequest": {
      "members": {
        "Action": {
          "documentation": "<p>The action that DNS Firewall should take on a DNS query when it matches one of the domains in the rule's domain list:</p> <ul> <li> <p> <code>ALLOW</code> - Permit the request to go through.</p> </li> <li> <p> <code>ALERT</code> - Permit the request and send metrics and logs to Cloud Watch.</p> </li> <li> <p> <code>BLOCK</code> - Disallow the request. This option requires additional details in the rule's <code>BlockResponse</code>. </p> </li> </ul>",
          "shape": "Action"
        },
        "BlockOverrideDnsType": {
          "box": true,
          "documentation": "<p>The DNS record's type. This determines the format of the record value that you provided in <code>BlockOverrideDomain</code>. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "shape": "BlockOverrideDnsType"
        },
        "BlockOverrideDomain": {
          "box": true,
          "documentation": "<p>The custom DNS record to send back in response to the query. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "shape": "BlockOverrideDomain"
        },
        "BlockOverrideTtl": {
          "box": true,
          "documentation": "<p>The recommended amount of time, in seconds, for the DNS resolver or web browser to cache the provided override record. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "shape": "BlockOverrideTtl"
        },
        "BlockResponse": {
          "box": true,
          "documentation": "<p>The way that you want DNS Firewall to block the request, used with the rule action setting <code>BLOCK</code>. </p> <ul> <li> <p> <code>NODATA</code> - Respond indicating that the query was successful, but no response is available for it.</p> </li> <li> <p> <code>NXDOMAIN</code> - Respond indicating that the domain name that's in the query doesn't exist.</p> </li> <li> <p> <code>OVERRIDE</code> - Provide a custom override in the response. This option requires custom handling details in the rule's <code>BlockOverride*</code> settings. </p> </li> </ul> <p>This setting is required if the rule action setting is <code>BLOCK</code>.</p>",
          "shape": "BlockResponse"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows you to retry failed requests without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken": true,
          "shape": "CreatorRequestId"
        },
        "FirewallDomainListId": {
          "documentation": "<p>The ID of the domain list that you want to use in the rule. </p>",
          "shape": "ResourceId"
        },
        "FirewallRuleGroupId": {
          "documentation": "<p>The unique identifier of the firewall rule group where you want to create the rule. </p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>A name that lets you identify the rule in the rule group.</p>",
          "shape": "Name"
        },
        "Priority": {
          "documentation": "<p>The setting that determines the processing order of the rule in the rule group. DNS Firewall processes the rules in a rule group by order of priority, starting from the lowest setting.</p> <p>You must specify a unique priority for each rule in a rule group. To make it easier to insert rules later, leave space between the numbers, for example, use 100, 200, and so on. You can change the priority setting for the rules in a rule group at any time.</p>",
          "shape": "Priority"
        }
      },
      "required": [
        "CreatorRequestId",
        "FirewallRuleGroupId",
        "FirewallDomainListId",
        "Priority",
        "Action",
        "Name"
      ],
      "type": "structure"
    },
    "CreateFirewallRuleResponse": {
      "members": {
        "FirewallRule": {
          "documentation": "<p>The firewall rule that you just created. </p>",
          "shape": "FirewallRule"
        }
      },
      "type": "structure"
    },
    "CreateResolverEndpointRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "shape": "CreatorRequestId"
        },
        "Direction": {
          "documentation": "<p>Specify the applicable value:</p> <ul> <li> <p> <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network</p> </li> <li> <p> <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network</p> </li> </ul>",
          "shape": "ResolverEndpointDirection"
        },
        "IpAddresses": {
          "documentation": "<p>The subnets and IP addresses in your VPC that DNS queries originate from (for outbound endpoints) or that you forward DNS queries to (for inbound endpoints). The subnet ID uniquely identifies a VPC. </p>",
          "shape": "IpAddressesRequest"
        },
        "Name": {
          "documentation": "<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>",
          "shape": "Name"
        },
        "SecurityGroupIds": {
          "box": true,
          "documentation": "<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify must include one or more inbound rules (for inbound Resolver endpoints) or outbound rules (for outbound Resolver endpoints). Inbound and outbound rules must allow TCP and UDP access. For inbound access, open port 53. For outbound access, open the port that you're using for DNS queries on your network.</p>",
          "shape": "SecurityGroupIds"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "CreatorRequestId",
        "SecurityGroupIds",
        "Direction",
        "IpAddresses"
      ],
      "type": "structure"
    },
    "CreateResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "CreateResolverQueryLogConfigRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken": true,
          "shape": "CreatorRequestId"
        },
        "DestinationArn": {
          "documentation": "<p>The ARN of the resource that you want Resolver to send query logs. You can send query logs to an S3 bucket, a CloudWatch Logs log group, or a Kinesis Data Firehose delivery stream. Examples of valid values include the following:</p> <ul> <li> <p> <b>S3 bucket</b>: </p> <p> <code>arn:aws:s3:::examplebucket</code> </p> <p>You can optionally append a file prefix to the end of the ARN.</p> <p> <code>arn:aws:s3:::examplebucket/development/</code> </p> </li> <li> <p> <b>CloudWatch Logs log group</b>: </p> <p> <code>arn:aws:logs:us-west-1:123456789012:log-group:/mystack-testgroup-12ABC1AB12A1:*</code> </p> </li> <li> <p> <b>Kinesis Data Firehose delivery stream</b>:</p> <p> <code>arn:aws:kinesis:us-east-2:0123456789:stream/my_stream_name</code> </p> </li> </ul>",
          "shape": "DestinationArn"
        },
        "Name": {
          "documentation": "<p>The name that you want to give the query logging configuration.</p>",
          "shape": "ResolverQueryLogConfigName"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the query logging configuration.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "DestinationArn",
        "CreatorRequestId"
      ],
      "type": "structure"
    },
    "CreateResolverQueryLogConfigResponse": {
      "members": {
        "ResolverQueryLogConfig": {
          "documentation": "<p>Information about the <code>CreateResolverQueryLogConfig</code> request, including the status of the request.</p>",
          "shape": "ResolverQueryLogConfig"
        }
      },
      "type": "structure"
    },
    "CreateResolverRuleRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "shape": "CreatorRequestId"
        },
        "DomainName": {
          "documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches multiple Resolver rules (example.com and www.example.com), outbound DNS queries are routed using the Resolver rule that contains the most specific domain name (www.example.com).</p>",
          "shape": "DomainName"
        },
        "Name": {
          "documentation": "<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>",
          "shape": "Name"
        },
        "ResolverEndpointId": {
          "box": true,
          "documentation": "<p>The ID of the outbound Resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.</p>",
          "shape": "ResourceId"
        },
        "RuleType": {
          "documentation": "<p>When you want to forward DNS queries for specified domain name to resolvers on your network, specify <code>FORWARD</code>.</p> <p>When you have a forwarding rule to forward DNS queries for a domain to your network and you want Resolver to process queries for a subdomain of that domain, specify <code>SYSTEM</code>.</p> <p>For example, to forward DNS queries for example.com to resolvers on your network, you create a rule and specify <code>FORWARD</code> for <code>RuleType</code>. To then have Resolver process queries for apex.example.com, you create a rule and specify <code>SYSTEM</code> for <code>RuleType</code>.</p> <p>Currently, only Resolver can create rules that have a value of <code>RECURSIVE</code> for <code>RuleType</code>.</p>",
          "shape": "RuleTypeOption"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "shape": "TagList"
        },
        "TargetIps": {
          "box": true,
          "documentation": "<p>The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a space.</p> <p> <code>TargetIps</code> is available only when the value of <code>Rule type</code> is <code>FORWARD</code>.</p>",
          "shape": "TargetList"
        }
      },
      "required": [
        "CreatorRequestId",
        "RuleType",
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    },
    "CreatorRequestId": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DeleteFirewallDomainListRequest": {
      "members": {
        "FirewallDomainListId": {
          "documentation": "<p>The ID of the domain list that you want to delete. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "FirewallDomainListId"
      ],
      "type": "structure"
    },
    "DeleteFirewallDomainListResponse": {
      "members": {
        "FirewallDomainList": {
          "documentation": "<p>The domain list that you just deleted. </p>",
          "shape": "FirewallDomainList"
        }
      },
      "type": "structure"
    },
    "DeleteFirewallRuleGroupRequest": {
      "members": {
        "FirewallRuleGroupId": {
          "documentation": "<p>The unique identifier of the firewall rule group that you want to delete. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "FirewallRuleGroupId"
      ],
      "type": "structure"
    },
    "DeleteFirewallRuleGroupResponse": {
      "members": {
        "FirewallRuleGroup": {
          "documentation": "<p>A collection of rules used to filter DNS network traffic. </p>",
          "shape": "FirewallRuleGroup"
        }
      },
      "type": "structure"
    },
    "DeleteFirewallRuleRequest": {
      "members": {
        "FirewallDomainListId": {
          "documentation": "<p>The ID of the domain list that's used in the rule. </p>",
          "shape": "ResourceId"
        },
        "FirewallRuleGroupId": {
          "documentation": "<p>The unique identifier of the firewall rule group that you want to delete the rule from. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "FirewallRuleGroupId",
        "FirewallDomainListId"
      ],
      "type": "structure"
    },
    "DeleteFirewallRuleResponse": {
      "members": {
        "FirewallRule": {
          "documentation": "<p>The specification for the firewall rule that you just deleted.</p>",
          "shape": "FirewallRule"
        }
      },
      "type": "structure"
    },
    "DeleteResolverEndpointRequest": {
      "members": {
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the Resolver endpoint that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId"
      ],
      "type": "structure"
    },
    "DeleteResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "DeleteResolverQueryLogConfigRequest": {
      "members": {
        "ResolverQueryLogConfigId": {
          "documentation": "<p>The ID of the query logging configuration that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverQueryLogConfigId"
      ],
      "type": "structure"
    },
    "DeleteResolverQueryLogConfigResponse": {
      "members": {
        "ResolverQueryLogConfig": {
          "documentation": "<p>Information about the query logging configuration that you deleted, including the status of the request.</p>",
          "shape": "ResolverQueryLogConfig"
        }
      },
      "type": "structure"
    },
    "DeleteResolverRuleRequest": {
      "members": {
        "ResolverRuleId": {
          "documentation": "<p>The ID of the Resolver rule that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId"
      ],
      "type": "structure"
    },
    "DeleteResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    },
    "DestinationArn": {
      "max": 600,
      "min": 1,
      "type": "string"
    },
    "DisassociateFirewallRuleGroupRequest": {
      "members": {
        "FirewallRuleGroupAssociationId": {
          "documentation": "<p>The identifier of the <a>FirewallRuleGroupAssociation</a>. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "FirewallRuleGroupAssociationId"
      ],
      "type": "structure"
    },
    "DisassociateFirewallRuleGroupResponse": {
      "members": {
        "FirewallRuleGroupAssociation": {
          "documentation": "<p>The firewall rule group association that you just removed. </p>",
          "shape": "FirewallRuleGroupAssociation"
        }
      },
      "type": "structure"
    },
    "DisassociateResolverEndpointIpAddressRequest": {
      "members": {
        "IpAddress": {
          "documentation": "<p>The IPv4 address that you want to remove from a Resolver endpoint.</p>",
          "shape": "IpAddressUpdate"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the Resolver endpoint that you want to disassociate an IP address from.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId",
        "IpAddress"
      ],
      "type": "structure"
    },
    "DisassociateResolverEndpointIpAddressResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "DisassociateResolverQueryLogConfigRequest": {
      "members": {
        "ResolverQueryLogConfigId": {
          "documentation": "<p>The ID of the query logging configuration that you want to disassociate a specified VPC from.</p>",
          "shape": "ResourceId"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the Amazon VPC that you want to disassociate from a specified query logging configuration.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverQueryLogConfigId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "DisassociateResolverQueryLogConfigResponse": {
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "documentation": "<p>A complex type that contains settings for the association that you deleted between an Amazon VPC and a query logging configuration.</p>",
          "shape": "ResolverQueryLogConfigAssociation"
        }
      },
      "type": "structure"
    },
    "DisassociateResolverRuleRequest": {
      "members": {
        "ResolverRuleId": {
          "documentation": "<p>The ID of the Resolver rule that you want to disassociate from the specified VPC.</p>",
          "shape": "ResourceId"
        },
        "VPCId": {
          "documentation": "<p>The ID of the VPC that you want to disassociate the Resolver rule from.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "VPCId",
        "ResolverRuleId"
      ],
      "type": "structure"
    },
    "DisassociateResolverRuleResponse": {
      "members": {
        "ResolverRuleAssociation": {
          "documentation": "<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRuleAssociation"
        }
      },
      "type": "structure"
    },
    "DomainListFileUrl": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "DomainName": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "Filter": {
      "documentation": "<p>For Resolver list operations (<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>), and <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverDnssecConfigs.html\">ListResolverDnssecConfigs</a>), an optional specification to return a subset of objects.</p> <p>To filter objects, such as Resolver endpoints or Resolver rules, you specify <code>Name</code> and <code>Values</code>. For example, to list only inbound Resolver endpoints, specify <code>Direction</code> for <code>Name</code> and specify <code>INBOUND</code> for <code>Values</code>. </p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the parameter that you want to use to filter objects.</p> <p>The valid values for <code>Name</code> depend on the action that you're including the filter in, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>, or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>.</p> <note> <p>In early versions of Resolver, values for <code>Name</code> were listed as uppercase, with underscore (_) delimiters. For example, <code>CreatorRequestId</code> was originally listed as <code>CREATOR_REQUEST_ID</code>. Uppercase values for <code>Name</code> are still supported.</p> </note> <p> <b>ListResolverEndpoints</b> </p> <p>Valid values for <code>Name</code> include the following:</p> <ul> <li> <p> <code>CreatorRequestId</code>: The value that you specified when you created the Resolver endpoint.</p> </li> <li> <p> <code>Direction</code>: Whether you want to return inbound or outbound Resolver endpoints. If you specify <code>DIRECTION</code> for <code>Name</code>, specify <code>INBOUND</code> or <code>OUTBOUND</code> for <code>Values</code>.</p> </li> <li> <p> <code>HostVPCId</code>: The ID of the VPC that inbound DNS queries pass through on the way from your network to your VPCs in a region, or the VPC that outbound queries pass through on the way from your VPCs to your network. In a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverEndpoint.html\">CreateResolverEndpoint</a> request, <code>SubnetId</code> indirectly identifies the VPC. In a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a> request, the VPC ID for a Resolver endpoint is returned in the <code>HostVPCId</code> element. </p> </li> <li> <p> <code>IpAddressCount</code>: The number of IP addresses that you have associated with the Resolver endpoint.</p> </li> <li> <p> <code>Name</code>: The name of the Resolver endpoint.</p> </li> <li> <p> <code>SecurityGroupIds</code>: The IDs of the VPC security groups that you specified when you created the Resolver endpoint.</p> </li> <li> <p> <code>Status</code>: The status of the Resolver endpoint. If you specify <code>Status</code> for <code>Name</code>, specify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>OPERATIONAL</code>, <code>UPDATING</code>, <code>AUTO_RECOVERING</code>, <code>ACTION_NEEDED</code>, or <code>DELETING</code>. For more information, see <code>Status</code> in <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverEndpoint.html\">ResolverEndpoint</a>.</p> </li> </ul> <p> <b>ListResolverRules</b> </p> <p>Valid values for <code>Name</code> include the following:</p> <ul> <li> <p> <code>CreatorRequestId</code>: The value that you specified when you created the Resolver rule.</p> </li> <li> <p> <code>DomainName</code>: The domain name for which Resolver is forwarding DNS queries to your network. In the value that you specify for <code>Values</code>, include a trailing dot (.) after the domain name. For example, if the domain name is example.com, specify the following value. Note the \".\" after <code>com</code>:</p> <p> <code>example.com.</code> </p> </li> <li> <p> <code>Name</code>: The name of the Resolver rule.</p> </li> <li> <p> <code>ResolverEndpointId</code>: The ID of the Resolver endpoint that the Resolver rule is associated with.</p> <note> <p>You can filter on the Resolver endpoint only for rules that have a value of <code>FORWARD</code> for <code>RuleType</code>.</p> </note> </li> <li> <p> <code>Status</code>: The status of the Resolver rule. If you specify <code>Status</code> for <code>Name</code>, specify one of the following status codes for <code>Values</code>: <code>COMPLETE</code>, <code>DELETING</code>, <code>UPDATING</code>, or <code>FAILED</code>.</p> </li> <li> <p> <code>Type</code>: The type of the Resolver rule. If you specify <code>TYPE</code> for <code>Name</code>, specify <code>FORWARD</code> or <code>SYSTEM</code> for <code>Values</code>.</p> </li> </ul> <p> <b>ListResolverRuleAssociations</b> </p> <p>Valid values for <code>Name</code> include the following:</p> <ul> <li> <p> <code>Name</code>: The name of the Resolver rule association.</p> </li> <li> <p> <code>ResolverRuleId</code>: The ID of the Resolver rule that is associated with one or more VPCs.</p> </li> <li> <p> <code>Status</code>: The status of the Resolver rule association. If you s
[...]
