{
  "authorizers": {
    "authorization_strategy": {
      "name": "authorization_strategy",
      "placement": {
        "location": "header",
        "name": "Authorization"
      },
      "type": "provided"
    }
  },
  "documentation": "<p>Amazon MQ is a managed message broker service for Apache ActiveMQ and RabbitMQ that makes it easy to set up and operate message brokers in the cloud. A message broker allows software applications and components to communicate using various programming languages, operating systems, and formal messaging protocols.</p>",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "mq",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AmazonMQ",
    "serviceId": "mq",
    "signatureVersion": "v4",
    "signingName": "mq",
    "uid": "mq-2017-11-27"
  },
  "operations": {
    "CreateBroker": {
      "documentation": "<p>Creates a broker. Note: This API is asynchronous.</p> <p>To create a broker, you must either use the AmazonMQFullAccess IAM policy or include the following EC2 permissions in your IAM policy.</p> <ul><li><p>ec2:CreateNetworkInterface</p> <p>This permission is required to allow Amazon MQ to create an elastic network interface (ENI) on behalf of your account.</p></li> <li><p>ec2:CreateNetworkInterfacePermission</p> <p>This permission is required to attach the ENI to the broker instance.</p></li> <li><p>ec2:DeleteNetworkInterface</p></li> <li><p>ec2:DeleteNetworkInterfacePermission</p></li> <li><p>ec2:DetachNetworkInterface</p></li> <li><p>ec2:DescribeInternetGateways</p></li> <li><p>ec2:DescribeNetworkInterfaces</p></li> <li><p>ec2:DescribeNetworkInterfacePermissions</p></li> <li><p>ec2:DescribeRouteTables</p></li> <li><p>ec2:DescribeSecurityGroups</p></li> <li><p>ec2:DescribeSubnets</p></li> <li><p>ec2:DescribeVpcs</p></li></ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/amazon-mq-setting-up.html#create-iam-user\">Create an IAM User and Get Your AWS Credentials</a> and <a href=\"https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/connecting-to-amazon-mq.html#never-modify-delete-elastic-network-interface\">Never Modify or Delete the Amazon MQ Elastic Network Interface</a> in the <i>Amazon MQ Developer Guide</i>.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateBrokerRequest"
      },
      "name": "CreateBroker",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "CreateBrokerResponse"
      }
    },
    "CreateConfiguration": {
      "documentation": "<p>Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfigurationRequest"
      },
      "name": "CreateConfiguration",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "CreateConfigurationResponse"
      }
    },
    "CreateTags": {
      "documentation": "<p>Add a tag to a resource.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "name": "CreateTags"
    },
    "CreateUser": {
      "documentation": "<p>Creates an ActiveMQ user.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "CreateUserResponse"
      }
    },
    "DeleteBroker": {
      "documentation": "<p>Deletes a broker. Note: This API is asynchronous.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteBrokerRequest"
      },
      "name": "DeleteBroker",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DeleteBrokerResponse"
      }
    },
    "DeleteTags": {
      "documentation": "<p>Removes a tag from a resource.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "name": "DeleteTags"
    },
    "DeleteUser": {
      "documentation": "<p>Deletes an ActiveMQ user.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DeleteUserResponse"
      }
    },
    "DescribeBroker": {
      "documentation": "<p>Returns information about the specified broker.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBrokerRequest"
      },
      "name": "DescribeBroker",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeBrokerResponse"
      }
    },
    "DescribeBrokerEngineTypes": {
      "documentation": "<p>Describe available engine types and versions.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/broker-engine-types",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBrokerEngineTypesRequest"
      },
      "name": "DescribeBrokerEngineTypes",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeBrokerEngineTypesResponse"
      }
    },
    "DescribeBrokerInstanceOptions": {
      "documentation": "<p>Describe available broker instance options.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/broker-instance-options",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBrokerInstanceOptionsRequest"
      },
      "name": "DescribeBrokerInstanceOptions",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeBrokerInstanceOptionsResponse"
      }
    },
    "DescribeConfiguration": {
      "documentation": "<p>Returns information about the specified configuration.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRequest"
      },
      "name": "DescribeConfiguration",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeConfigurationResponse"
      }
    },
    "DescribeConfigurationRevision": {
      "documentation": "<p>Returns the specified configuration revision for the specified configuration.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions/{configuration-revision}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRevisionRequest"
      },
      "name": "DescribeConfigurationRevision",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeConfigurationRevisionResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Returns information about an ActiveMQ user.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "DescribeUserResponse"
      }
    },
    "ListBrokers": {
      "documentation": "<p>Returns a list of all brokers.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBrokersRequest"
      },
      "name": "ListBrokers",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "ListBrokersResponse"
      }
    },
    "ListConfigurationRevisions": {
      "documentation": "<p>Returns a list of all revisions for the specified configuration.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{configuration-id}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationRevisionsRequest"
      },
      "name": "ListConfigurationRevisions",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "ListConfigurationRevisionsResponse"
      }
    },
    "ListConfigurations": {
      "documentation": "<p>Returns a list of all configurations.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationsRequest"
      },
      "name": "ListConfigurations",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "ListConfigurationsResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Lists tags for a resource.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "ListTagsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Returns a list of all ActiveMQ users.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/brokers/{broker-id}/users",
        "responseCode": 200
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "ListUsersResponse"
      }
    },
    "RebootBroker": {
      "documentation": "<p>Reboots a broker. Note: This API is asynchronous.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/brokers/{broker-id}/reboot",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootBrokerRequest"
      },
      "name": "RebootBroker",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "RebootBrokerResponse"
      }
    },
    "UpdateBroker": {
      "documentation": "<p>Adds a pending configuration change to a broker.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerRequest"
      },
      "name": "UpdateBroker",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "UpdateBrokerResponse"
      }
    },
    "UpdateConfiguration": {
      "documentation": "<p>Updates the specified configuration.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{configuration-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfigurationRequest"
      },
      "name": "UpdateConfiguration",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "UpdateConfigurationResponse"
      }
    },
    "UpdateUser": {
      "documentation": "<p>Updates the information for an ActiveMQ user.</p>",
      "errors": [
        {
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>HTTP Status Code 409: Conflict. This broker name already exists. Retry your request with another name.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/brokers/{broker-id}/users/{username}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateUserRequest"
      },
      "name": "UpdateUser",
      "output": {
        "documentation": "<p>HTTP Status Code 200: OK.</p>",
        "shape": "UpdateUserResponse"
      }
    }
  },
  "shapes": {
    "ActionRequired": {
      "documentation": "<p>The action required to resolve a broker issue when the broker is in a CRITICAL_ACTION_REQUIRED state.</p>",
      "members": {
        "ActionRequiredCode": {
          "documentation": "<p>The code you can use to resolve your broker issue when the broker is in a CRITICAL_ACTION_REQUIRED state. You can find instructions by choosing the link for your code from the list of action required codes in <a href=\"https://docs.aws.amazon.com//latest/developer-guide/troubleshooting-action-required-codes.html\">Amazon MQ action required codes</a>. Each code references a topic with detailed information, instructions, and recommendations for how to resolve the issue and prevent future occurrences.</p>",
          "locationName": "actionRequiredCode",
          "shape": "__string"
        },
        "ActionRequiredInfo": {
          "documentation": "<p>Information about the action required to resolve your broker issue when the broker is in a CRITICAL_ACTION_REQUIRED state.</p>",
          "locationName": "actionRequiredInfo",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "AuthenticationStrategy": {
      "documentation": "<p>Optional. The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
      "enum": [
        "SIMPLE",
        "LDAP"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>Name of the availability zone.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Id for the availability zone.</p>",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>Returns information about an error.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "ErrorAttribute": {
          "documentation": "<p>The attribute which caused the error.</p>",
          "locationName": "errorAttribute",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The explanation of the error.</p>",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BrokerEngineType": {
      "documentation": "<p>Types of broker engines.</p>",
      "members": {
        "EngineType": {
          "documentation": "<p>The broker's engine type.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersions": {
          "documentation": "<p>The list of engine versions.</p>",
          "locationName": "engineVersions",
          "shape": "__listOfEngineVersion"
        }
      },
      "type": "structure"
    },
    "BrokerEngineTypeOutput": {
      "documentation": "<p>Returns a list of broker engine type.</p>",
      "members": {
        "BrokerEngineTypes": {
          "documentation": "<p>List of available engine types and versions.</p>",
          "locationName": "brokerEngineTypes",
          "shape": "__listOfBrokerEngineType"
        },
        "MaxResults": {
          "documentation": "<p>Required. The maximum number of engine types that can be returned per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "locationName": "maxResults",
          "shape": "__integerMin5Max100"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "MaxResults"
      ],
      "type": "structure"
    },
    "BrokerInstance": {
      "documentation": "<p>Returns information about all brokers.</p>",
      "members": {
        "ConsoleURL": {
          "documentation": "<p>The brokers web console URL.</p>",
          "locationName": "consoleURL",
          "shape": "__string"
        },
        "Endpoints": {
          "documentation": "<p>The broker's wire-level protocol endpoints.</p>",
          "locationName": "endpoints",
          "shape": "__listOf__string"
        },
        "IpAddress": {
          "documentation": "<p>The IP address of the Elastic Network Interface (ENI) attached to the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "ipAddress",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BrokerInstanceOption": {
      "documentation": "<p>Option for host instance type.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The list of available az.</p>",
          "locationName": "availabilityZones",
          "shape": "__listOfAvailabilityZone"
        },
        "EngineType": {
          "documentation": "<p>The broker's engine type.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "HostInstanceType": {
          "documentation": "<p>The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "StorageType": {
          "documentation": "<p>The broker's storage type.</p>",
          "locationName": "storageType",
          "shape": "BrokerStorageType"
        },
        "SupportedDeploymentModes": {
          "documentation": "<p>The list of supported deployment modes.</p>",
          "locationName": "supportedDeploymentModes",
          "shape": "__listOfDeploymentMode"
        },
        "SupportedEngineVersions": {
          "documentation": "<p>The list of supported engine versions.</p>",
          "locationName": "supportedEngineVersions",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "BrokerInstanceOptionsOutput": {
      "documentation": "<p>Returns a list of broker instance options.</p>",
      "members": {
        "BrokerInstanceOptions": {
          "documentation": "<p>List of available broker instance options.</p>",
          "locationName": "brokerInstanceOptions",
          "shape": "__listOfBrokerInstanceOption"
        },
        "MaxResults": {
          "documentation": "<p>Required. The maximum number of instance options that can be returned per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "locationName": "maxResults",
          "shape": "__integerMin5Max100"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "MaxResults"
      ],
      "type": "structure"
    },
    "BrokerState": {
      "documentation": "<p>The broker's status.</p>",
      "enum": [
        "CREATION_IN_PROGRESS",
        "CREATION_FAILED",
        "DELETION_IN_PROGRESS",
        "RUNNING",
        "REBOOT_IN_PROGRESS",
        "CRITICAL_ACTION_REQUIRED"
      ],
      "type": "string"
    },
    "BrokerStorageType": {
      "documentation": "<p>The broker's storage type.</p> <important><p>EFS is not supported for RabbitMQ engine type.</p></important>",
      "enum": [
        "EBS",
        "EFS"
      ],
      "type": "string"
    },
    "BrokerSummary": {
      "documentation": "<p>Returns information about all brokers.</p>",
      "members": {
        "BrokerArn": {
          "documentation": "<p>The broker's Amazon Resource Name (ARN).</p>",
          "locationName": "brokerArn",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        },
        "BrokerName": {
          "documentation": "<p>The broker's name. This value is unique in your AWS account, 1-50 characters long, and containing only letters, numbers, dashes, and underscores, and must not contain white spaces, brackets, wildcard characters, or special characters.</p>",
          "locationName": "brokerName",
          "shape": "__string"
        },
        "BrokerState": {
          "documentation": "<p>The broker's status.</p>",
          "locationName": "brokerState",
          "shape": "BrokerState"
        },
        "Created": {
          "documentation": "<p>The time when the broker was created.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "DeploymentMode": {
          "documentation": "<p>The broker's deployment mode.</p>",
          "locationName": "deploymentMode",
          "shape": "DeploymentMode"
        },
        "EngineType": {
          "documentation": "<p>The type of broker engine.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "HostInstanceType": {
          "documentation": "<p>The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        }
      },
      "required": [
        "DeploymentMode",
        "EngineType"
      ],
      "type": "structure"
    },
    "ChangeType": {
      "documentation": "<p>The type of change pending for the ActiveMQ user.</p>",
      "enum": [
        "CREATE",
        "UPDATE",
        "DELETE"
      ],
      "type": "string"
    },
    "Configuration": {
      "documentation": "<p>Returns information about all configurations.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>Required. The ARN of the configuration.</p>",
          "locationName": "arn",
          "shape": "__string"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration revision.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "<p>Required. The description of the configuration.</p>",
          "locationName": "description",
          "shape": "__string"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see, <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "Id": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "id",
          "shape": "__string"
        },
        "LatestRevision": {
          "documentation": "<p>Required. The latest revision of the configuration.</p>",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>The list of all tags associated with this configuration.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "Description",
        "EngineVersion",
        "LatestRevision",
        "AuthenticationStrategy",
        "EngineType",
        "Id",
        "Arn",
        "Name",
        "Created"
      ],
      "type": "structure"
    },
    "ConfigurationId": {
      "documentation": "<p>A list of information about the configuration.</p> <important><p>Does not apply to RabbitMQ brokers.</p></important>",
      "members": {
        "Id": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "id",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "<p>The revision number of the configuration.</p>",
          "locationName": "revision",
          "shape": "__integer"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "ConfigurationRevision": {
      "documentation": "<p>Returns information about the specified configuration revision.</p>",
      "members": {
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration revision.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "<p>The description of the configuration revision.</p>",
          "locationName": "description",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "<p>Required. The revision number of the configuration.</p>",
          "locationName": "revision",
          "shape": "__integer"
        }
      },
      "required": [
        "Revision",
        "Created"
      ],
      "type": "structure"
    },
    "Configurations": {
      "documentation": "<p>Broker configuration information</p>",
      "members": {
        "Current": {
          "documentation": "<p>The broker's current configuration.</p>",
          "locationName": "current",
          "shape": "ConfigurationId"
        },
        "History": {
          "documentation": "<p>The history of configurations applied to the broker.</p>",
          "locationName": "history",
          "shape": "__listOfConfigurationId"
        },
        "Pending": {
          "documentation": "<p>The broker's pending configuration.</p>",
          "locationName": "pending",
          "shape": "ConfigurationId"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>Returns information about an error.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "ErrorAttribute": {
          "documentation": "<p>The attribute which caused the error.</p>",
          "locationName": "errorAttribute",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The explanation of the error.</p>",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateBrokerInput": {
      "documentation": "<p>Creates a broker.</p>",
      "members": {
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Enables automatic upgrades to new minor versions for brokers, as new versions are released and supported by Amazon MQ. Automatic upgrades occur during the scheduled maintenance window of the broker or after a manual broker reboot. Set to true by default, if no value is specified.</p>",
          "locationName": "autoMinorVersionUpgrade",
          "shape": "__boolean"
        },
        "BrokerName": {
          "documentation": "<p>Required. The broker's name. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain white spaces, brackets, wildcard characters, or special characters.</p>",
          "locationName": "brokerName",
          "shape": "__string"
        },
        "Configuration": {
          "documentation": "<p>A list of information about the configuration.</p>",
          "locationName": "configuration",
          "shape": "ConfigurationId"
        },
        "CreatorRequestId": {
          "documentation": "<p>The unique ID that the requester receives for the created broker. Amazon MQ passes your ID with the API action. Note: We recommend using a Universally Unique Identifier (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application doesn't require idempotency.</p>",
          "idempotencyToken": true,
          "locationName": "creatorRequestId",
          "shape": "__string"
        },
        "DeploymentMode": {
          "documentation": "<p>Required. The broker's deployment mode.</p>",
          "locationName": "deploymentMode",
          "shape": "DeploymentMode"
        },
        "EncryptionOptions": {
          "documentation": "<p>Encryption options for the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "encryptionOptions",
          "shape": "EncryptionOptions"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "HostInstanceType": {
          "documentation": "<p>Required. The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "LdapServerMetadata": {
          "documentation": "<p>Optional. The metadata of the LDAP server used to authenticate and authorize connections to the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "ldapServerMetadata",
          "shape": "LdapServerMetadataInput"
        },
        "Logs": {
          "documentation": "<p>Enables Amazon CloudWatch logging for brokers.</p>",
          "locationName": "logs",
          "shape": "Logs"
        },
        "MaintenanceWindowStartTime": {
          "documentation": "<p>The parameters that determine the WeeklyStartTime.</p>",
          "locationName": "maintenanceWindowStartTime",
          "shape": "WeeklyStartTime"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Enables connections from applications outside of the VPC that hosts the broker's subnets. Set to false by default, if no value is provided.</p>",
          "locationName": "publiclyAccessible",
          "shape": "__boolean"
        },
        "SecurityGroups": {
          "documentation": "<p>The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.</p>",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageType": {
          "documentation": "<p>The broker's storage type.</p>",
          "locationName": "storageType",
          "shape": "BrokerStorageType"
        },
        "SubnetIds": {
          "documentation": "<p>The list of groups that define which subnets and IP ranges the broker can use from different Availability Zones. If you specify more than one subnet, the subnets must be in different Availability Zones. Amazon MQ will not be able to create VPC endpoints for your broker with multiple subnets in the same Availability Zone. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ Amazon MQ for ActiveMQ deployment requires two subnets. A CLUSTER_MULTI_AZ Amazon MQ for RabbitMQ deployment has no subnet requirements when deployed with public accessibility. Deployment without public accessibility requires at least one subnet.</p> <important><p>If you specify subnets in a <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-sharing.html\">shared VPC</a> for a RabbitMQ broker, the associated VPC to which the specified subnets belong must be owned by your AWS account. Amazon MQ will not be able to create VPC endpoints in VPCs that are not owned by your AWS account.</p></important>",
          "locationName": "subnetIds",
          "shape": "__listOf__string"
        },
        "Tags": {
          "documentation": "<p>Create tags when creating the broker.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "Users": {
          "documentation": "<p>Required. The list of broker users (persons or applications) who can access queues and topics. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p> <important><title>Amazon MQ for RabbitMQ</title> <p>When you create an Amazon MQ for RabbitMQ broker, one and only one administrative user is accepted and created when a broker is first provisioned. All subsequent broker users are created by making RabbitMQ API calls directly to brokers or via the RabbitMQ web console.</p></important>",
          "locationName": "users",
          "shape": "__listOfUser"
        }
      },
      "required": [
        "EngineVersion",
        "HostInstanceType",
        "AutoMinorVersionUpgrade",
        "Users",
        "BrokerName",
        "DeploymentMode",
        "EngineType",
        "PubliclyAccessible"
      ],
      "type": "structure"
    },
    "CreateBrokerOutput": {
      "documentation": "<p>Returns information about the created broker.</p>",
      "members": {
        "BrokerArn": {
          "documentation": "<p>The broker's Amazon Resource Name (ARN).</p>",
          "locationName": "brokerArn",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateBrokerRequest": {
      "documentation": "<p>Creates a broker using the specified properties.</p>",
      "members": {
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Enables automatic upgrades to new minor versions for brokers, as new versions are released and supported by Amazon MQ. Automatic upgrades occur during the scheduled maintenance window of the broker or after a manual broker reboot. Set to true by default, if no value is specified.</p>",
          "locationName": "autoMinorVersionUpgrade",
          "shape": "__boolean"
        },
        "BrokerName": {
          "documentation": "<p>Required. The broker's name. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain white spaces, brackets, wildcard characters, or special characters.</p>",
          "locationName": "brokerName",
          "shape": "__string"
        },
        "Configuration": {
          "documentation": "<p>A list of information about the configuration.</p>",
          "locationName": "configuration",
          "shape": "ConfigurationId"
        },
        "CreatorRequestId": {
          "documentation": "<p>The unique ID that the requester receives for the created broker. Amazon MQ passes your ID with the API action. Note: We recommend using a Universally Unique Identifier (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application doesn't require idempotency.</p>",
          "idempotencyToken": true,
          "locationName": "creatorRequestId",
          "shape": "__string"
        },
        "DeploymentMode": {
          "documentation": "<p>Required. The broker's deployment mode.</p>",
          "locationName": "deploymentMode",
          "shape": "DeploymentMode"
        },
        "EncryptionOptions": {
          "documentation": "<p>Encryption options for the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "encryptionOptions",
          "shape": "EncryptionOptions"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "HostInstanceType": {
          "documentation": "<p>Required. The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "LdapServerMetadata": {
          "documentation": "<p>Optional. The metadata of the LDAP server used to authenticate and authorize connections to the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "ldapServerMetadata",
          "shape": "LdapServerMetadataInput"
        },
        "Logs": {
          "documentation": "<p>Enables Amazon CloudWatch logging for brokers.</p>",
          "locationName": "logs",
          "shape": "Logs"
        },
        "MaintenanceWindowStartTime": {
          "documentation": "<p>The parameters that determine the WeeklyStartTime.</p>",
          "locationName": "maintenanceWindowStartTime",
          "shape": "WeeklyStartTime"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Enables connections from applications outside of the VPC that hosts the broker's subnets. Set to false by default, if no value is provided.</p>",
          "locationName": "publiclyAccessible",
          "shape": "__boolean"
        },
        "SecurityGroups": {
          "documentation": "<p>The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.</p>",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageType": {
          "documentation": "<p>The broker's storage type.</p>",
          "locationName": "storageType",
          "shape": "BrokerStorageType"
        },
        "SubnetIds": {
          "documentation": "<p>The list of groups that define which subnets and IP ranges the broker can use from different Availability Zones. If you specify more than one subnet, the subnets must be in different Availability Zones. Amazon MQ will not be able to create VPC endpoints for your broker with multiple subnets in the same Availability Zone. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ Amazon MQ for ActiveMQ deployment requires two subnets. A CLUSTER_MULTI_AZ Amazon MQ for RabbitMQ deployment has no subnet requirements when deployed with public accessibility. Deployment without public accessibility requires at least one subnet.</p> <important><p>If you specify subnets in a <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/vpc-sharing.html\">shared VPC</a> for a RabbitMQ broker, the associated VPC to which the specified subnets belong must be owned by your AWS account. Amazon MQ will not be able to create VPC endpoints in VPCs that are not owned by your AWS account.</p></important>",
          "locationName": "subnetIds",
          "shape": "__listOf__string"
        },
        "Tags": {
          "documentation": "<p>Create tags when creating the broker.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "Users": {
          "documentation": "<p>Required. The list of broker users (persons or applications) who can access queues and topics. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p> <important><title>Amazon MQ for RabbitMQ</title> <p>When you create an Amazon MQ for RabbitMQ broker, one and only one administrative user is accepted and created when a broker is first provisioned. All subsequent broker users are created by making RabbitMQ API calls directly to brokers or via the RabbitMQ web console.</p></important>",
          "locationName": "users",
          "shape": "__listOfUser"
        }
      },
      "required": [
        "EngineVersion",
        "HostInstanceType",
        "AutoMinorVersionUpgrade",
        "Users",
        "BrokerName",
        "DeploymentMode",
        "EngineType",
        "PubliclyAccessible"
      ],
      "type": "structure"
    },
    "CreateBrokerResponse": {
      "members": {
        "BrokerArn": {
          "documentation": "<p>The broker's Amazon Resource Name (ARN).</p>",
          "locationName": "brokerArn",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateConfigurationInput": {
      "documentation": "<p>Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).</p>",
      "members": {
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Create tags when creating the configuration.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "EngineVersion",
        "EngineType",
        "Name"
      ],
      "type": "structure"
    },
    "CreateConfigurationOutput": {
      "documentation": "<p>Returns information about the created configuration.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>Required. The Amazon Resource Name (ARN) of the configuration.</p>",
          "locationName": "arn",
          "shape": "__string"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Id": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "id",
          "shape": "__string"
        },
        "LatestRevision": {
          "documentation": "<p>The latest revision of the configuration.</p>",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "required": [
        "AuthenticationStrategy",
        "Id",
        "Arn",
        "Name",
        "Created"
      ],
      "type": "structure"
    },
    "CreateConfigurationRequest": {
      "documentation": "<p>Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).</p>",
      "members": {
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Create tags when creating the configuration.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "EngineVersion",
        "EngineType",
        "Name"
      ],
      "type": "structure"
    },
    "CreateConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>Required. The Amazon Resource Name (ARN) of the configuration.</p>",
          "locationName": "arn",
          "shape": "__string"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Id": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "id",
          "shape": "__string"
        },
        "LatestRevision": {
          "documentation": "<p>The latest revision of the configuration.</p>",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateTagsRequest": {
      "documentation": "<p>A map of the key-value pairs for the resource tag.</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource tag.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>The key-value pair for the resource tag.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "CreateUserInput": {
      "documentation": "<p>Creates a new ActiveMQ user.</p>",
      "members": {
        "ConsoleAccess": {
          "documentation": "<p>Enables access to the ActiveMQ Web Console for the ActiveMQ user.</p>",
          "locationName": "consoleAccess",
          "shape": "__boolean"
        },
        "Groups": {
          "documentation": "<p>The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "locationName": "groups",
          "shape": "__listOf__string"
        },
        "Password": {
          "documentation": "<p>Required. The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas, colons, or equal signs (,:=).</p>",
          "locationName": "password",
          "shape": "__string"
        }
      },
      "required": [
        "Password"
      ],
      "type": "structure"
    },
    "CreateUserRequest": {
      "documentation": "<p>Creates a new ActiveMQ user.</p>",
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "location": "uri",
          "locationName": "broker-id",
          "shape": "__string"
        },
        "ConsoleAccess": {
          "documentation": "<p>Enables access to the ActiveMQ Web Console for the ActiveMQ user.</p>",
          "locationName": "consoleAccess",
          "shape": "__boolean"
        },
        "Groups": {
          "documentation": "<p>The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "locationName": "groups",
          "shape": "__listOf__string"
        },
        "Password": {
          "documentation": "<p>Required. The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas, colons, or equal signs (,:=).</p>",
          "locationName": "password",
          "shape": "__string"
        },
        "Username": {
          "documentation": "<p>The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "location": "uri",
          "locationName": "username",
          "shape": "__string"
        }
      },
      "required": [
        "Username",
        "BrokerId",
        "Password"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DayOfWeek": {
      "enum": [
        "MONDAY",
        "TUESDAY",
        "WEDNESDAY",
        "THURSDAY",
        "FRIDAY",
        "SATURDAY",
        "SUNDAY"
      ],
      "type": "string"
    },
    "DeleteBrokerOutput": {
      "documentation": "<p>Returns information about the deleted broker.</p>",
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DeleteBrokerRequest": {
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "location": "uri",
          "locationName": "broker-id",
          "shape": "__string"
        }
      },
      "required": [
        "BrokerId"
      ],
      "type": "structure"
    },
    "DeleteBrokerResponse": {
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DeleteTagsRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource tag.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "TagKeys": {
          "documentation": "<p>An array of tag keys to delete</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "TagKeys",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "location": "uri",
          "locationName": "broker-id",
          "shape": "__string"
        },
        "Username": {
          "documentation": "<p>The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "location": "uri",
          "locationName": "username",
          "shape": "__string"
        }
      },
      "required": [
        "Username",
        "BrokerId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DeploymentMode": {
      "documentation": "<p>The broker's deployment mode.</p>",
      "enum": [
        "SINGLE_INSTANCE",
        "ACTIVE_STANDBY_MULTI_AZ",
        "CLUSTER_MULTI_AZ"
      ],
      "type": "string"
    },
    "DescribeBrokerEngineTypesRequest": {
      "members": {
        "EngineType": {
          "documentation": "<p>Filter response by engine type.</p>",
          "location": "querystring",
          "locationName": "engineType",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of brokers that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeBrokerEngineTypesResponse": {
      "members": {
        "BrokerEngineTypes": {
          "documentation": "<p>List of available engine types and versions.</p>",
          "locationName": "brokerEngineTypes",
          "shape": "__listOfBrokerEngineType"
        },
        "MaxResults": {
          "documentation": "<p>Required. The maximum number of engine types that can be returned per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "locationName": "maxResults",
          "shape": "__integerMin5Max100"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeBrokerInstanceOptionsRequest": {
      "members": {
        "EngineType": {
          "documentation": "<p>Filter response by engine type.</p>",
          "location": "querystring",
          "locationName": "engineType",
          "shape": "__string"
        },
        "HostInstanceType": {
          "documentation": "<p>Filter response by host instance type.</p>",
          "location": "querystring",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of brokers that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "StorageType": {
          "documentation": "<p>Filter response by storage type.</p>",
          "location": "querystring",
          "locationName": "storageType",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeBrokerInstanceOptionsResponse": {
      "members": {
        "BrokerInstanceOptions": {
          "documentation": "<p>List of available broker instance options.</p>",
          "locationName": "brokerInstanceOptions",
          "shape": "__listOfBrokerInstanceOption"
        },
        "MaxResults": {
          "documentation": "<p>Required. The maximum number of instance options that can be returned per page (20 by default). This value must be an integer from 5 to 100.</p>",
          "locationName": "maxResults",
          "shape": "__integerMin5Max100"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.</p>",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeBrokerOutput": {
      "documentation": "<p>Returns information about the specified broker.</p>",
      "members": {
        "ActionsRequired": {
          "documentation": "<p>A list of actions required for a broker.</p>",
          "locationName": "actionsRequired",
          "shape": "__listOfActionRequired"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Enables automatic upgrades to new minor versions for brokers, as new versions are released and supported by Amazon MQ. Automatic upgrades occur during the scheduled maintenance window of the broker or after a manual broker reboot.</p>",
          "locationName": "autoMinorVersionUpgrade",
          "shape": "__boolean"
        },
        "BrokerArn": {
          "documentation": "<p>The broker's Amazon Resource Name (ARN).</p>",
          "locationName": "brokerArn",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        },
        "BrokerInstances": {
          "documentation": "<p>A list of information about allocated brokers.</p>",
          "locationName": "brokerInstances",
          "shape": "__listOfBrokerInstance"
        },
        "BrokerName": {
          "documentation": "<p>The broker's name. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain white spaces, brackets, wildcard characters, or special characters.</p>",
          "locationName": "brokerName",
          "shape": "__string"
        },
        "BrokerState": {
          "documentation": "<p>The broker's status.</p>",
          "locationName": "brokerState",
          "shape": "BrokerState"
        },
        "Configurations": {
          "documentation": "<p>The list of all revisions for the specified configuration.</p>",
          "locationName": "configurations",
          "shape": "Configurations"
        },
        "Created": {
          "documentation": "<p>The time when the broker was created.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "DeploymentMode": {
          "documentation": "<p>The broker's deployment mode.</p>",
          "locationName": "deploymentMode",
          "shape": "DeploymentMode"
        },
        "EncryptionOptions": {
          "documentation": "<p>Encryption options for the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "encryptionOptions",
          "shape": "EncryptionOptions"
        },
        "EngineType": {
          "documentation": "<p>The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "HostInstanceType": {
          "documentation": "<p>The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "LdapServerMetadata": {
          "documentation": "<p>The metadata of the LDAP server used to authenticate and authorize connections to the broker.</p>",
          "locationName": "ldapServerMetadata",
          "shape": "LdapServerMetadataOutput"
        },
        "Logs": {
          "documentation": "<p>The list of information about logs currently enabled and pending to be deployed for the specified broker.</p>",
          "locationName": "logs",
          "shape": "LogsSummary"
        },
        "MaintenanceWindowStartTime": {
          "documentation": "<p>The parameters that determine the WeeklyStartTime.</p>",
          "locationName": "maintenanceWindowStartTime",
          "shape": "WeeklyStartTime"
        },
        "PendingAuthenticationStrategy": {
          "documentation": "<p>The authentication strategy that will be applied when the broker is rebooted. The default is SIMPLE.</p>",
          "locationName": "pendingAuthenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "PendingEngineVersion": {
          "documentation": "<p>The broker engine version to upgrade to. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "pendingEngineVersion",
          "shape": "__string"
        },
        "PendingHostInstanceType": {
          "documentation": "<p>The broker's host instance type to upgrade to. For a list of supported instance types, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker.html#broker-instance-types\">Broker instance types</a>.</p>",
          "locationName": "pendingHostInstanceType",
          "shape": "__string"
        },
        "PendingLdapServerMetadata": {
          "documentation": "<p>The metadata of the LDAP server that will be used to authenticate and authorize connections to the broker after it is rebooted.</p>",
          "locationName": "pendingLdapServerMetadata",
          "shape": "LdapServerMetadataOutput"
        },
        "PendingSecurityGroups": {
          "documentation": "<p>The list of pending security groups to authorize connections to brokers.</p>",
          "locationName": "pendingSecurityGroups",
          "shape": "__listOf__string"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Enables connections from applications outside of the VPC that hosts the broker's subnets.</p>",
          "locationName": "publiclyAccessible",
          "shape": "__boolean"
        },
        "SecurityGroups": {
          "documentation": "<p>The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.</p>",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageType": {
          "documentation": "<p>The broker's storage type.</p>",
          "locationName": "storageType",
          "shape": "BrokerStorageType"
        },
        "SubnetIds": {
          "documentation": "<p>The list of groups that define which subnets and IP ranges the broker can use from different Availability Zones.</p>",
          "locationName": "subnetIds",
          "shape": "__listOf__string"
        },
        "Tags": {
          "documentation": "<p>The list of all tags associated with this broker.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "Users": {
          "documentation": "<p>The list of all broker usernames for the specified broker.</p>",
          "locationName": "users",
          "shape": "__listOfUserSummary"
        }
      },
      "required": [
        "DeploymentMode",
        "EngineType",
        "AutoMinorVersionUpgrade",
        "PubliclyAccessible"
      ],
      "type": "structure"
    },
    "DescribeBrokerRequest": {
      "members": {
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "location": "uri",
          "locationName": "broker-id",
          "shape": "__string"
        }
      },
      "required": [
        "BrokerId"
      ],
      "type": "structure"
    },
    "DescribeBrokerResponse": {
      "members": {
        "ActionsRequired": {
          "documentation": "<p>A list of actions required for a broker.</p>",
          "locationName": "actionsRequired",
          "shape": "__listOfActionRequired"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>The authentication strategy used to secure the broker. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Enables automatic upgrades to new minor versions for brokers, as new versions are released and supported by Amazon MQ. Automatic upgrades occur during the scheduled maintenance window of the broker or after a manual broker reboot.</p>",
          "locationName": "autoMinorVersionUpgrade",
          "shape": "__boolean"
        },
        "BrokerArn": {
          "documentation": "<p>The broker's Amazon Resource Name (ARN).</p>",
          "locationName": "brokerArn",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        },
        "BrokerInstances": {
          "documentation": "<p>A list of information about allocated brokers.</p>",
          "locationName": "brokerInstances",
          "shape": "__listOfBrokerInstance"
        },
        "BrokerName": {
          "documentation": "<p>The broker's name. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain white spaces, brackets, wildcard characters, or special characters.</p>",
          "locationName": "brokerName",
          "shape": "__string"
        },
        "BrokerState": {
          "documentation": "<p>The broker's status.</p>",
          "locationName": "brokerState",
          "shape": "BrokerState"
        },
        "Configurations": {
          "documentation": "<p>The list of all revisions for the specified configuration.</p>",
          "locationName": "configurations",
          "shape": "Configurations"
        },
        "Created": {
          "documentation": "<p>The time when the broker was created.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "DeploymentMode": {
          "documentation": "<p>The broker's deployment mode.</p>",
          "locationName": "deploymentMode",
          "shape": "DeploymentMode"
        },
        "EncryptionOptions": {
          "documentation": "<p>Encryption options for the broker. Does not apply to RabbitMQ brokers.</p>",
          "locationName": "encryptionOptions",
          "shape": "EncryptionOptions"
        },
        "EngineType": {
          "documentation": "<p>The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>The broker engine's version. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "HostInstanceType": {
          "documentation": "<p>The broker's instance type.</p>",
          "locationName": "hostInstanceType",
          "shape": "__string"
        },
        "LdapServerMetadata": {
          "documentation": "<p>The metadata of the LDAP server used to authenticate and authorize connections to the broker.</p>",
          "locationName": "ldapServerMetadata",
          "shape": "LdapServerMetadataOutput"
        },
        "Logs": {
          "documentation": "<p>The list of information about logs currently enabled and pending to be deployed for the specified broker.</p>",
          "locationName": "logs",
          "shape": "LogsSummary"
        },
        "MaintenanceWindowStartTime": {
          "documentation": "<p>The parameters that determine the WeeklyStartTime.</p>",
          "locationName": "maintenanceWindowStartTime",
          "shape": "WeeklyStartTime"
        },
        "PendingAuthenticationStrategy": {
          "documentation": "<p>The authentication strategy that will be applied when the broker is rebooted. The default is SIMPLE.</p>",
          "locationName": "pendingAuthenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "PendingEngineVersion": {
          "documentation": "<p>The broker engine version to upgrade to. For a list of supported engine versions, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "pendingEngineVersion",
          "shape": "__string"
        },
        "PendingHostInstanceType": {
          "documentation": "<p>The broker's host instance type to upgrade to. For a list of supported instance types, see <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker.html#broker-instance-types\">Broker instance types</a>.</p>",
          "locationName": "pendingHostInstanceType",
          "shape": "__string"
        },
        "PendingLdapServerMetadata": {
          "documentation": "<p>The metadata of the LDAP server that will be used to authenticate and authorize connections to the broker after it is rebooted.</p>",
          "locationName": "pendingLdapServerMetadata",
          "shape": "LdapServerMetadataOutput"
        },
        "PendingSecurityGroups": {
          "documentation": "<p>The list of pending security groups to authorize connections to brokers.</p>",
          "locationName": "pendingSecurityGroups",
          "shape": "__listOf__string"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Enables connections from applications outside of the VPC that hosts the broker's subnets.</p>",
          "locationName": "publiclyAccessible",
          "shape": "__boolean"
        },
        "SecurityGroups": {
          "documentation": "<p>The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.</p>",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageType": {
          "documentation": "<p>The broker's storage type.</p>",
          "locationName": "storageType",
          "shape": "BrokerStorageType"
        },
        "SubnetIds": {
          "documentation": "<p>The list of groups that define which subnets and IP ranges the broker can use from different Availability Zones.</p>",
          "locationName": "subnetIds",
          "shape": "__listOf__string"
        },
        "Tags": {
          "documentation": "<p>The list of all tags associated with this broker.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "Users": {
          "documentation": "<p>The list of all broker usernames for the specified broker.</p>",
          "locationName": "users",
          "shape": "__listOfUserSummary"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationRequest": {
      "members": {
        "ConfigurationId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the configuration.</p>",
          "location": "uri",
          "locationName": "configuration-id",
          "shape": "__string"
        }
      },
      "required": [
        "ConfigurationId"
      ],
      "type": "structure"
    },
    "DescribeConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>Required. The ARN of the configuration.</p>",
          "locationName": "arn",
          "shape": "__string"
        },
        "AuthenticationStrategy": {
          "documentation": "<p>Optional. The authentication strategy associated with the configuration. The default is SIMPLE.</p>",
          "locationName": "authenticationStrategy",
          "shape": "AuthenticationStrategy"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration revision.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "<p>Required. The description of the configuration.</p>",
          "locationName": "description",
          "shape": "__string"
        },
        "EngineType": {
          "documentation": "<p>Required. The type of broker engine. Currently, Amazon MQ supports ACTIVEMQ and RABBITMQ.</p>",
          "locationName": "engineType",
          "shape": "EngineType"
        },
        "EngineVersion": {
          "documentation": "<p>Required. The broker engine's version. For a list of supported engine versions, see, <a href=\"https://docs.aws.amazon.com//amazon-mq/latest/developer-guide/broker-engine.html\">Supported engines</a>.</p>",
          "locationName": "engineVersion",
          "shape": "__string"
        },
        "Id": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "id",
          "shape": "__string"
        },
        "LatestRevision": {
          "documentation": "<p>Required. The latest revision of the configuration.</p>",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "<p>Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.</p>",
          "locationName": "name",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>The list of all tags associated with this configuration.</p>",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationRevisionOutput": {
      "documentation": "<p>Returns the specified configuration revision for the specified configuration.</p>",
      "members": {
        "ConfigurationId": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "configurationId",
          "shape": "__string"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Data": {
          "documentation": "<p>Required. The base64-encoded XML configuration.</p>",
          "locationName": "data",
          "shape": "__string"
        },
        "Description": {
          "documentation": "<p>The description of the configuration.</p>",
          "locationName": "description",
          "shape": "__string"
        }
      },
      "required": [
        "Data",
        "ConfigurationId",
        "Created"
      ],
      "type": "structure"
    },
    "DescribeConfigurationRevisionRequest": {
      "members": {
        "ConfigurationId": {
          "documentation": "<p>The unique ID that Amazon MQ generates for the configuration.</p>",
          "location": "uri",
          "locationName": "configuration-id",
          "shape": "__string"
        },
        "ConfigurationRevision": {
          "documentation": "<p>The revision of the configuration.</p>",
          "location": "uri",
          "locationName": "configuration-revision",
          "shape": "__string"
        }
      },
      "required": [
        "ConfigurationRevision",
        "ConfigurationId"
      ],
      "type": "structure"
    },
    "DescribeConfigurationRevisionResponse": {
      "members": {
        "ConfigurationId": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the configuration.</p>",
          "locationName": "configurationId",
          "shape": "__string"
        },
        "Created": {
          "documentation": "<p>Required. The date and time of the configuration.</p>",
          "locationName": "created",
          "shape": "__timestampIso8601"
        },
        "Data": {
          "documentation": "<p>Required. The base64-encoded XML configuration.</p>",
          "locationName": "data",
          "shape": "__string"
        },
        "Description": {
          "documentation": "<p>The description of the configuration.</p>",
          "locationName": "description",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeUserOutput": {
      "documentation": "<p>Returns information about an ActiveMQ user.</p>",
      "members": {
        "BrokerId": {
          "documentation": "<p>Required. The unique ID that Amazon MQ generates for the broker.</p>",
          "locationName": "brokerId",
          "shape": "__string"
        },
        "ConsoleAccess": {
          "documentation": "<p>Enables access to the the ActiveMQ Web Console for the ActiveMQ user.</p>",
          "locationName": "consoleAccess",
          "shape": "__boolean"
        },
        "Groups": {
          "documentation": "<p>The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "locationName": "groups",
          "shape": "__listOf__string"
        },
        "Pending": {
          "documentation": "<p>The status of the changes pending for the ActiveMQ user.</p>",
          "locationName": "pending",
          "shape": "UserPendingChanges"
        },
        "Username": {
          "documentation": "<p>Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.</p>",
          "locationName": "username",
          "shape": "__string"
        }
      },
      "required": [
[...]
