{
  "documentation": "<p>Amazon Connect Voice ID provides real-time caller authentication and fraud screening. This guide describes the APIs used for this service. </p>",
  "metadata": {
    "apiVersion": "2021-09-27",
    "endpointPrefix": "voiceid",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "Amazon Voice ID",
    "serviceId": "Voice ID",
    "signatureVersion": "v4",
    "signingName": "voiceid",
    "targetPrefix": "VoiceID",
    "uid": "voice-id-2021-09-27"
  },
  "operations": {
    "CreateDomain": {
      "documentation": "<p>Creates a domain that contains all Amazon Connect Voice ID data, such as speakers, fraudsters, customer audio, and voiceprints. </p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateDomainRequest"
      },
      "name": "CreateDomain",
      "output": {
        "shape": "CreateDomainResponse"
      }
    },
    "DeleteDomain": {
      "documentation": "<p>Deletes the specified domain from Voice ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "name": "DeleteDomain"
    },
    "DeleteFraudster": {
      "documentation": "<p>Deletes the specified fraudster from Voice ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFraudsterRequest"
      },
      "name": "DeleteFraudster"
    },
    "DeleteSpeaker": {
      "documentation": "<p>Deletes the specified speaker from Voice ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSpeakerRequest"
      },
      "name": "DeleteSpeaker"
    },
    "DescribeDomain": {
      "documentation": "<p>Describes the specified domain.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainRequest"
      },
      "name": "DescribeDomain",
      "output": {
        "shape": "DescribeDomainResponse"
      }
    },
    "DescribeFraudster": {
      "documentation": "<p>Describes the specified fraudster.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFraudsterRequest"
      },
      "name": "DescribeFraudster",
      "output": {
        "shape": "DescribeFraudsterResponse"
      }
    },
    "DescribeFraudsterRegistrationJob": {
      "documentation": "<p>Describes the specified fraudster registration job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFraudsterRegistrationJobRequest"
      },
      "name": "DescribeFraudsterRegistrationJob",
      "output": {
        "shape": "DescribeFraudsterRegistrationJobResponse"
      }
    },
    "DescribeSpeaker": {
      "documentation": "<p>Describes the specified speaker.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSpeakerRequest"
      },
      "name": "DescribeSpeaker",
      "output": {
        "shape": "DescribeSpeakerResponse"
      }
    },
    "DescribeSpeakerEnrollmentJob": {
      "documentation": "<p>Describes the specified speaker enrollment job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSpeakerEnrollmentJobRequest"
      },
      "name": "DescribeSpeakerEnrollmentJob",
      "output": {
        "shape": "DescribeSpeakerEnrollmentJobResponse"
      }
    },
    "EvaluateSession": {
      "documentation": "<p>Evaluates a specified session based on audio data accumulated during a streaming Amazon Connect Voice ID call.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EvaluateSessionRequest"
      },
      "name": "EvaluateSession",
      "output": {
        "shape": "EvaluateSessionResponse"
      }
    },
    "ListDomains": {
      "documentation": "<p>Lists all the domains in the Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDomainsRequest"
      },
      "name": "ListDomains",
      "output": {
        "shape": "ListDomainsResponse"
      }
    },
    "ListFraudsterRegistrationJobs": {
      "documentation": "<p>Lists all the fraudster registration jobs in the domain with the given <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all fraudster registration jobs in the given domain. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFraudsterRegistrationJobsRequest"
      },
      "name": "ListFraudsterRegistrationJobs",
      "output": {
        "shape": "ListFraudsterRegistrationJobsResponse"
      }
    },
    "ListSpeakerEnrollmentJobs": {
      "documentation": "<p>Lists all the speaker enrollment jobs in the domain with the specified <code>JobStatus</code>. If <code>JobStatus</code> is not provided, this lists all jobs with all possible speaker enrollment job statuses.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSpeakerEnrollmentJobsRequest"
      },
      "name": "ListSpeakerEnrollmentJobs",
      "output": {
        "shape": "ListSpeakerEnrollmentJobsResponse"
      }
    },
    "ListSpeakers": {
      "documentation": "<p>Lists all speakers in a specified domain.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSpeakersRequest"
      },
      "name": "ListSpeakers",
      "output": {
        "shape": "ListSpeakersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with a specified Voice ID resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "OptOutSpeaker": {
      "documentation": "<p>Opts out a speaker from Voice ID. A speaker can be opted out regardless of whether or not they already exist in Voice ID. If they don't yet exist, a new speaker is created in an opted out state. If they already exist, their existing status is overridden and they are opted out. Enrollment and evaluation authentication requests are rejected for opted out speakers, and opted out speakers have no voice embeddings stored in Voice ID.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "OptOutSpeakerRequest"
      },
      "name": "OptOutSpeaker",
      "output": {
        "shape": "OptOutSpeakerResponse"
      }
    },
    "StartFraudsterRegistrationJob": {
      "documentation": "<p>Starts a new batch fraudster registration job using provided details.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartFraudsterRegistrationJobRequest"
      },
      "name": "StartFraudsterRegistrationJob",
      "output": {
        "shape": "StartFraudsterRegistrationJobResponse"
      }
    },
    "StartSpeakerEnrollmentJob": {
      "documentation": "<p>Starts a new batch speaker enrollment job using specified details.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartSpeakerEnrollmentJobRequest"
      },
      "name": "StartSpeakerEnrollmentJob",
      "output": {
        "shape": "StartSpeakerEnrollmentJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Tags a Voice ID resource with the provided list of tags.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes specified tags from a specified Amazon Connect Voice ID resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDomain": {
      "documentation": "<p>Updates the specified domain. This API has clobber behavior, and clears and replaces all attributes. If an optional field, such as 'Description' is not provided, it is removed from the domain.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainRequest"
      },
      "name": "UpdateDomain",
      "output": {
        "shape": "UpdateDomainResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient permissions to perform this action. Check the error message and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "pattern": "^arn:aws(-[^:]+)?:voiceid.+:[0-9]{12}:domain/[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "Arn": {
      "pattern": "^arn:aws(-[^:]+)?:voiceid.+:[0-9]{12}:domain/[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "AuthenticationConfiguration": {
      "documentation": "<p>The configuration used to authenticate a speaker during a session.</p>",
      "members": {
        "AcceptanceThreshold": {
          "documentation": "<p>The minimum threshold needed to successfully authenticate a speaker.</p>",
          "shape": "Score"
        }
      },
      "required": [
        "AcceptanceThreshold"
      ],
      "type": "structure"
    },
    "AuthenticationDecision": {
      "enum": [
        "ACCEPT",
        "REJECT",
        "NOT_ENOUGH_SPEECH",
        "SPEAKER_NOT_ENROLLED",
        "SPEAKER_OPTED_OUT",
        "SPEAKER_ID_NOT_PROVIDED",
        "SPEAKER_EXPIRED"
      ],
      "type": "string"
    },
    "AuthenticationResult": {
      "documentation": "<p>The authentication result produced by Voice ID, processed against the current session state and streamed audio of the speaker.</p>",
      "members": {
        "AudioAggregationEndedAt": {
          "documentation": "<p>A timestamp indicating when audio aggregation ended for this authentication result.</p>",
          "shape": "Timestamp"
        },
        "AudioAggregationStartedAt": {
          "documentation": "<p>A timestamp indicating when audio aggregation started for this authentication result.</p>",
          "shape": "Timestamp"
        },
        "AuthenticationResultId": {
          "documentation": "<p>The unique identifier for this authentication result. Because there can be multiple authentications for a given session, this field helps to identify if the returned result is from a previous streaming activity or a new result. Note that in absence of any new streaming activity, <code>AcceptanceThreshold</code> changes, or <code>SpeakerId</code> changes, Voice ID always returns cached Authentication Result for this API.</p>",
          "shape": "UniqueIdLarge"
        },
        "Configuration": {
          "documentation": "<p>The <code>AuthenticationConfiguration</code> used to generate this authentication result.</p>",
          "shape": "AuthenticationConfiguration"
        },
        "CustomerSpeakerId": {
          "documentation": "<p>The client-provided identifier for the speaker whose authentication result is produced. Only present if a <code>SpeakerId</code> is provided for the session.</p>",
          "shape": "CustomerSpeakerId"
        },
        "Decision": {
          "documentation": "<p>The authentication decision produced by Voice ID, processed against the current session state and streamed audio of the speaker.</p>",
          "shape": "AuthenticationDecision"
        },
        "GeneratedSpeakerId": {
          "documentation": "<p>The service-generated identifier for the speaker whose authentication result is produced.</p>",
          "shape": "GeneratedSpeakerId"
        },
        "Score": {
          "documentation": "<p>The authentication score for the speaker whose authentication result is produced. This value is only present if the authentication decision is either <code>ACCEPT</code> or <code>REJECT</code>.</p>",
          "shape": "Score"
        }
      },
      "type": "structure"
    },
    "ClientTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-_]+$",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The request failed due to a conflict. Check the <code>ConflictType</code> and error message for more details.</p>",
      "exception": true,
      "members": {
        "ConflictType": {
          "documentation": "<p>The type of conflict which caused a ConflictException. Possible types and the corresponding error messages are as follows:</p> <ul> <li> <p> <code>DOMAIN_NOT_ACTIVE</code>: The domain is not active.</p> </li> <li> <p> <code>CANNOT_CHANGE_SPEAKER_AFTER_ENROLLMENT</code>: You cannot change the speaker ID after an enrollment has been requested.</p> </li> <li> <p> <code>ENROLLMENT_ALREADY_EXISTS</code>: There is already an enrollment for this session.</p> </li> <li> <p> <code>SPEAKER_NOT_SET</code>: You must set the speaker ID before requesting an enrollment.</p> </li> <li> <p> <code>SPEAKER_OPTED_OUT</code>: You cannot request an enrollment for an opted out speaker.</p> </li> <li> <p> <code>CONCURRENT_CHANGES</code>: The request could not be processed as the resource was modified by another request during execution.</p> </li> </ul>",
          "shape": "ConflictType"
        },
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ConflictType": {
      "enum": [
        "ANOTHER_ACTIVE_STREAM",
        "DOMAIN_NOT_ACTIVE",
        "CANNOT_CHANGE_SPEAKER_AFTER_ENROLLMENT",
        "ENROLLMENT_ALREADY_EXISTS",
        "SPEAKER_NOT_SET",
        "SPEAKER_OPTED_OUT",
        "CONCURRENT_CHANGES",
        "DOMAIN_LOCKED_FROM_ENCRYPTION_UPDATES"
      ],
      "type": "string"
    },
    "CreateDomainRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for creating a new domain. If not provided, Amazon Web Services SDK populates this field.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "Description": {
          "documentation": "<p>A brief description of the domain.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the domain.</p>",
          "shape": "DomainName"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The configuration, containing the KMS key identifier, to be used by Voice ID for the server-side encryption of your data. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/encryption-at-rest.html#encryption-at-rest-voiceid\"> Amazon Connect Voice ID encryption at rest</a> for more details on how the KMS key is used. </p>",
          "shape": "ServerSideEncryptionConfiguration"
        },
        "Tags": {
          "documentation": "<p>A list of tags you want added to the domain.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "ServerSideEncryptionConfiguration"
      ],
      "type": "structure"
    },
    "CreateDomainResponse": {
      "members": {
        "Domain": {
          "documentation": "<p>Information about the newly created domain.</p>",
          "shape": "Domain"
        }
      },
      "type": "structure"
    },
    "CustomerSpeakerId": {
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "sensitive": true,
      "type": "string"
    },
    "DeleteDomainRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain you want to delete.</p>",
          "shape": "DomainId"
        }
      },
      "required": [
        "DomainId"
      ],
      "type": "structure"
    },
    "DeleteFraudsterRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster.</p>",
          "shape": "DomainId"
        },
        "FraudsterId": {
          "documentation": "<p>The identifier of the fraudster you want to delete.</p>",
          "shape": "FraudsterId"
        }
      },
      "required": [
        "DomainId",
        "FraudsterId"
      ],
      "type": "structure"
    },
    "DeleteSpeakerRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the speaker.</p>",
          "shape": "DomainId"
        },
        "SpeakerId": {
          "documentation": "<p>The identifier of the speaker you want to delete.</p>",
          "shape": "SpeakerId"
        }
      },
      "required": [
        "DomainId",
        "SpeakerId"
      ],
      "type": "structure"
    },
    "DescribeDomainRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain you are describing.</p>",
          "shape": "DomainId"
        }
      },
      "required": [
        "DomainId"
      ],
      "type": "structure"
    },
    "DescribeDomainResponse": {
      "members": {
        "Domain": {
          "documentation": "<p>Information about the specified domain.</p>",
          "shape": "Domain"
        }
      },
      "type": "structure"
    },
    "DescribeFraudsterRegistrationJobRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier for the domain containing the fraudster registration job.</p>",
          "shape": "DomainId"
        },
        "JobId": {
          "documentation": "<p>The identifier for the fraudster registration job you are describing.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "DomainId",
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeFraudsterRegistrationJobResponse": {
      "members": {
        "Job": {
          "documentation": "<p>Contains details about the specified fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJob"
        }
      },
      "type": "structure"
    },
    "DescribeFraudsterRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster.</p>",
          "shape": "DomainId"
        },
        "FraudsterId": {
          "documentation": "<p>The identifier of the fraudster you are describing.</p>",
          "shape": "FraudsterId"
        }
      },
      "required": [
        "DomainId",
        "FraudsterId"
      ],
      "type": "structure"
    },
    "DescribeFraudsterResponse": {
      "members": {
        "Fraudster": {
          "documentation": "<p>Information about the specified fraudster.</p>",
          "shape": "Fraudster"
        }
      },
      "type": "structure"
    },
    "DescribeSpeakerEnrollmentJobRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the speaker enrollment job.</p>",
          "shape": "DomainId"
        },
        "JobId": {
          "documentation": "<p>The identifier of the speaker enrollment job you are describing.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "DomainId",
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeSpeakerEnrollmentJobResponse": {
      "members": {
        "Job": {
          "documentation": "<p>Contains details about the specified speaker enrollment job.</p>",
          "shape": "SpeakerEnrollmentJob"
        }
      },
      "type": "structure"
    },
    "DescribeSpeakerRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker.</p>",
          "shape": "DomainId"
        },
        "SpeakerId": {
          "documentation": "<p>The identifier of the speaker you are describing.</p>",
          "shape": "SpeakerId"
        }
      },
      "required": [
        "DomainId",
        "SpeakerId"
      ],
      "type": "structure"
    },
    "DescribeSpeakerResponse": {
      "members": {
        "Speaker": {
          "documentation": "<p>Information about the specified speaker.</p>",
          "shape": "Speaker"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 1024,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "sensitive": true,
      "type": "string"
    },
    "Domain": {
      "documentation": "<p>Contains all the information about a domain.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the domain.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp at which the domain is created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The client-provided description of the domain.</p>",
          "shape": "Description"
        },
        "DomainId": {
          "documentation": "<p>The service-generated identifier for the domain.</p>",
          "shape": "DomainId"
        },
        "DomainStatus": {
          "documentation": "<p>The current status of the domain.</p>",
          "shape": "DomainStatus"
        },
        "Name": {
          "documentation": "<p>The client-provided name for the domain.</p>",
          "shape": "DomainName"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The server-side encryption configuration containing the KMS key identifier you want Voice ID to use to encrypt your data.</p>",
          "shape": "ServerSideEncryptionConfiguration"
        },
        "ServerSideEncryptionUpdateDetails": {
          "documentation": "<p>Details about the most recent server-side encryption configuration update. When the server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is complete, the domain's data can only be accessed using the new KMS key.</p>",
          "shape": "ServerSideEncryptionUpdateDetails"
        },
        "UpdatedAt": {
          "documentation": "<p>The timestamp showing the domain's last update.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DomainId": {
      "max": 22,
      "min": 22,
      "pattern": "^[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "DomainName": {
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "sensitive": true,
      "type": "string"
    },
    "DomainStatus": {
      "enum": [
        "ACTIVE",
        "PENDING",
        "SUSPENDED"
      ],
      "type": "string"
    },
    "DomainSummaries": {
      "member": {
        "shape": "DomainSummary"
      },
      "type": "list"
    },
    "DomainSummary": {
      "documentation": "<p>Contains a summary of information about a domain.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the domain.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The timestamp showing when the domain is created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The client-provided description of the domain.</p>",
          "shape": "Description"
        },
        "DomainId": {
          "documentation": "<p>The service-generated identifier for the domain.</p>",
          "shape": "DomainId"
        },
        "DomainStatus": {
          "documentation": "<p>The current status of the domain.</p>",
          "shape": "DomainStatus"
        },
        "Name": {
          "documentation": "<p>The client-provided name for the domain.</p>",
          "shape": "DomainName"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The server-side encryption configuration containing the KMS key identifier you want Voice ID to use to encrypt your data.</p>",
          "shape": "ServerSideEncryptionConfiguration"
        },
        "ServerSideEncryptionUpdateDetails": {
          "documentation": "<p>Details about the most recent server-side encryption configuration update. When the server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is complete, the domain's data can only be accessed using the new KMS key.</p>",
          "shape": "ServerSideEncryptionUpdateDetails"
        },
        "UpdatedAt": {
          "documentation": "<p>The timestamp showing the domain's last update.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DuplicateRegistrationAction": {
      "enum": [
        "SKIP",
        "REGISTER_AS_NEW"
      ],
      "type": "string"
    },
    "EnrollmentConfig": {
      "documentation": "<p>Contains configurations defining enrollment behavior for the batch job.</p>",
      "members": {
        "ExistingEnrollmentAction": {
          "documentation": "<p> The action to take when the specified speaker is already enrolled in the specified domain. The default value is <code>SKIP</code>, which skips the enrollment for the existing speaker. Setting the value to <code>OVERWRITE</code> replaces the existing voice prints and enrollment audio stored for that speaker with new data generated from the latest audio.</p>",
          "shape": "ExistingEnrollmentAction"
        },
        "FraudDetectionConfig": {
          "documentation": "<p>The fraud detection configuration to use for the speaker enrollment job.</p>",
          "shape": "EnrollmentJobFraudDetectionConfig"
        }
      },
      "type": "structure"
    },
    "EnrollmentJobFraudDetectionConfig": {
      "documentation": "<p>The configuration defining the action to take when a speaker is flagged by the fraud detection system during a batch speaker enrollment job, and the risk threshold to use for identification.</p>",
      "members": {
        "FraudDetectionAction": {
          "documentation": "<p>The action to take when the given speaker is flagged by the fraud detection system. The default value is <code>FAIL</code>, which fails the speaker enrollment. Changing this value to <code>IGNORE</code> results in the speaker being enrolled even if they are flagged by the fraud detection system.</p>",
          "shape": "FraudDetectionAction"
        },
        "RiskThreshold": {
          "documentation": "<p>Threshold value for determining whether the speaker is a high risk to be fraudulent. If the detected risk score calculated by Voice ID is greater than or equal to the threshold, the speaker is considered a fraudster.</p>",
          "shape": "Score"
        }
      },
      "type": "structure"
    },
    "EvaluateSessionRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain where the session started.</p>",
          "shape": "DomainId"
        },
        "SessionNameOrId": {
          "documentation": "<p>The session identifier, or name of the session, that you want to evaluate. In Voice ID integration, this is the Contact-Id.</p>",
          "shape": "SessionNameOrId"
        }
      },
      "required": [
        "DomainId",
        "SessionNameOrId"
      ],
      "type": "structure"
    },
    "EvaluateSessionResponse": {
      "members": {
        "AuthenticationResult": {
          "documentation": "<p>Details resulting from the authentication process, such as authentication decision and authentication score.</p>",
          "shape": "AuthenticationResult"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the session.</p>",
          "shape": "DomainId"
        },
        "FraudDetectionResult": {
          "documentation": "<p>Details resulting from the fraud detection process, such as fraud detection decision and risk score.</p>",
          "shape": "FraudDetectionResult"
        },
        "SessionId": {
          "documentation": "<p>The service-generated identifier of the session.</p>",
          "shape": "SessionId"
        },
        "SessionName": {
          "documentation": "<p>The client-provided name of the session.</p>",
          "shape": "SessionName"
        },
        "StreamingStatus": {
          "documentation": "<p>The current status of audio streaming for this session. This field is useful to infer next steps when the Authentication or Fraud Detection results are empty or the decision is <code>NOT_ENOUGH_SPEECH</code>. In this situation, if the <code>StreamingStatus</code> is <code>ONGOING/PENDING_CONFIGURATION</code>, it can mean that the client should call the API again later, after Voice ID has enough audio to produce a result. If the decision remains <code>NOT_ENOUGH_SPEECH</code> even after <code>StreamingStatus</code> is <code>ENDED</code>, it means that the previously streamed session did not have enough speech to perform evaluation, and a new streaming session is needed to try again.</p>",
          "shape": "StreamingStatus"
        }
      },
      "type": "structure"
    },
    "ExistingEnrollmentAction": {
      "enum": [
        "SKIP",
        "OVERWRITE"
      ],
      "type": "string"
    },
    "FailureDetails": {
      "documentation": "<p>Contains error details for a failed batch job.</p>",
      "members": {
        "Message": {
          "documentation": "<p>A description of the error that caused the batch job failure.</p>",
          "shape": "String"
        },
        "StatusCode": {
          "documentation": "<p>An HTTP status code representing the nature of the error.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "FraudDetectionAction": {
      "enum": [
        "IGNORE",
        "FAIL"
      ],
      "type": "string"
    },
    "FraudDetectionConfiguration": {
      "documentation": "<p>The configuration used for performing fraud detection over a speaker during a session.</p>",
      "members": {
        "RiskThreshold": {
          "documentation": "<p>Threshold value for determining whether the speaker is a fraudster. If the detected risk score calculated by Voice ID is higher than the threshold, the speaker is considered a fraudster.</p>",
          "shape": "Score"
        }
      },
      "required": [
        "RiskThreshold"
      ],
      "type": "structure"
    },
    "FraudDetectionDecision": {
      "enum": [
        "HIGH_RISK",
        "LOW_RISK",
        "NOT_ENOUGH_SPEECH"
      ],
      "type": "string"
    },
    "FraudDetectionReason": {
      "enum": [
        "KNOWN_FRAUDSTER",
        "VOICE_SPOOFING"
      ],
      "type": "string"
    },
    "FraudDetectionReasons": {
      "max": 3,
      "member": {
        "shape": "FraudDetectionReason"
      },
      "min": 0,
      "type": "list"
    },
    "FraudDetectionResult": {
      "documentation": "<p>The fraud detection result produced by Voice ID, processed against the current session state and streamed audio of the speaker.</p>",
      "members": {
        "AudioAggregationEndedAt": {
          "documentation": "<p>A timestamp indicating when audio aggregation ended for this fraud detection result.</p>",
          "shape": "Timestamp"
        },
        "AudioAggregationStartedAt": {
          "documentation": "<p>A timestamp indicating when audio aggregation started for this fraud detection result.</p>",
          "shape": "Timestamp"
        },
        "Configuration": {
          "documentation": "<p>The <code>FraudDetectionConfiguration</code> used to generate this fraud detection result.</p>",
          "shape": "FraudDetectionConfiguration"
        },
        "Decision": {
          "documentation": "<p>The fraud detection decision produced by Voice ID, processed against the current session state and streamed audio of the speaker.</p>",
          "shape": "FraudDetectionDecision"
        },
        "FraudDetectionResultId": {
          "documentation": "<p>The unique identifier for this fraud detection result. Given there can be multiple fraud detections for a given session, this field helps in identifying if the returned result is from previous streaming activity or a new result. Note that in the absence of any new streaming activity or risk threshold changes, Voice ID always returns cached Fraud Detection result for this API.</p>",
          "shape": "UniqueIdLarge"
        },
        "Reasons": {
          "documentation": "<p>The reason speaker was flagged by the fraud detection system. This is only be populated if fraud detection Decision is <code>HIGH_RISK</code>, and the following possible values: <code>KNOWN_FRAUDSTER</code> and <code>VOICE_SPOOFING</code>.</p>",
          "shape": "FraudDetectionReasons"
        },
        "RiskDetails": {
          "documentation": "<p>Details about each risk analyzed for this speaker. Currently, this contains KnownFraudsterRisk and VoiceSpoofingRisk details.</p>",
          "shape": "FraudRiskDetails"
        }
      },
      "type": "structure"
    },
    "FraudRiskDetails": {
      "documentation": "<p>Details regarding various fraud risk analyses performed against the current session state and streamed audio of the speaker.</p>",
      "members": {
        "KnownFraudsterRisk": {
          "documentation": "<p>The details resulting from 'Known Fraudster Risk' analysis of the speaker.</p>",
          "shape": "KnownFraudsterRisk"
        },
        "VoiceSpoofingRisk": {
          "documentation": "<p>The details resulting from 'Voice Spoofing Risk' analysis of the speaker.</p>",
          "shape": "VoiceSpoofingRisk"
        }
      },
      "required": [
        "KnownFraudsterRisk",
        "VoiceSpoofingRisk"
      ],
      "type": "structure"
    },
    "Fraudster": {
      "documentation": "<p>Contains all the information about a fraudster.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The timestamp when Voice ID identified the fraudster.</p>",
          "shape": "Timestamp"
        },
        "DomainId": {
          "documentation": "<p>The identifier for the domain containing the fraudster.</p>",
          "shape": "DomainId"
        },
        "GeneratedFraudsterId": {
          "documentation": "<p>The service-generated identifier for the fraudster.</p>",
          "shape": "GeneratedFraudsterId"
        }
      },
      "type": "structure"
    },
    "FraudsterId": {
      "max": 25,
      "min": 25,
      "pattern": "^id#[a-zA-Z0-9]{22}$",
      "sensitive": true,
      "type": "string"
    },
    "FraudsterRegistrationJob": {
      "documentation": "<p>Contains all the information about a fraudster registration job.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing the creation time of the fraudster registration job.</p>",
          "shape": "Timestamp"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access customer's buckets to read the input manifest file and write the job output file.</p>",
          "shape": "IamRoleArn"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster registration job.</p>",
          "shape": "DomainId"
        },
        "EndedAt": {
          "documentation": "<p>A timestamp showing when the fraudster registration job ended.</p>",
          "shape": "Timestamp"
        },
        "FailureDetails": {
          "documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of individual registration job failures, the batch job as a whole doesn't fail; it is completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can use the job output file to identify the individual registration requests that failed.</p>",
          "shape": "FailureDetails"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data config containing an S3 URI for the input manifest file that contains the list of fraudster registration job requests.</p>",
          "shape": "InputDataConfig"
        },
        "JobId": {
          "documentation": "<p>The service-generated identifier for the fraudster registration job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The client-provided name for the fraudster registration job.</p>",
          "shape": "JobName"
        },
        "JobProgress": {
          "documentation": "<p>Shows the completed percentage of registration requests listed in the input file.</p>",
          "shape": "JobProgress"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJobStatus"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data config containing the S3 location where you want Voice ID to write your job output file; you must also include a KMS key ID in order to encrypt the file.</p>",
          "shape": "OutputDataConfig"
        },
        "RegistrationConfig": {
          "documentation": "<p>The registration config containing details such as the action to take when a duplicate fraudster is detected, and the similarity threshold to use for detecting a duplicate fraudster.</p>",
          "shape": "RegistrationConfig"
        }
      },
      "type": "structure"
    },
    "FraudsterRegistrationJobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED"
      ],
      "type": "string"
    },
    "FraudsterRegistrationJobSummaries": {
      "member": {
        "shape": "FraudsterRegistrationJobSummary"
      },
      "type": "list"
    },
    "FraudsterRegistrationJobSummary": {
      "documentation": "<p>Contains a summary of information about a fraudster registration job.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing when the fraudster registration job is created. </p>",
          "shape": "Timestamp"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster registration job.</p>",
          "shape": "DomainId"
        },
        "EndedAt": {
          "documentation": "<p>A timestamp showing when the fraudster registration job ended.</p>",
          "shape": "Timestamp"
        },
        "FailureDetails": {
          "documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of individual registration job failures, the batch job as a whole doesn't fail; it is completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can use the job output file to identify the individual registration requests that failed.</p>",
          "shape": "FailureDetails"
        },
        "JobId": {
          "documentation": "<p>The service-generated identifier for the fraudster registration job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The client-provided name for the fraudster registration job.</p>",
          "shape": "JobName"
        },
        "JobProgress": {
          "documentation": "<p>Shows the completed percentage of registration requests listed in the input file.</p>",
          "shape": "JobProgress"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJobStatus"
        }
      },
      "type": "structure"
    },
    "GeneratedFraudsterId": {
      "max": 25,
      "min": 25,
      "pattern": "^id#[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "GeneratedSpeakerId": {
      "max": 25,
      "min": 25,
      "pattern": "^id#[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "IamRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$",
      "type": "string"
    },
    "InputDataConfig": {
      "documentation": "<p>The configuration containing input file information for a batch job.</p>",
      "members": {
        "S3Uri": {
          "documentation": "<p>The S3 location for the input manifest file that contains the list of individual enrollment or registration job requests.</p>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "structure"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>The request failed due to an unknown error on the server side.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "JobId": {
      "max": 22,
      "min": 22,
      "pattern": "^[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "JobName": {
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "sensitive": true,
      "type": "string"
    },
    "JobProgress": {
      "documentation": "<p>Indicates the completion progress for a batch job.</p>",
      "members": {
        "PercentComplete": {
          "documentation": "<p>Shows the completed percentage of enrollment or registration requests listed in the input file.</p>",
          "shape": "Score"
        }
      },
      "type": "structure"
    },
    "KmsKeyId": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "KnownFraudsterRisk": {
      "documentation": "<p>Contains details produced as a result of performing known fraudster risk analysis on a speaker.</p>",
      "members": {
        "GeneratedFraudsterId": {
          "documentation": "<p>The identifier of the fraudster that is the closest match to the speaker. If there are no fraudsters registered in a given domain, or if there are no fraudsters with a non-zero RiskScore, this value is <code>null</code>.</p>",
          "shape": "GeneratedFraudsterId"
        },
        "RiskScore": {
          "documentation": "<p>The score indicating the likelihood the speaker is a known fraudster.</p>",
          "shape": "Score"
        }
      },
      "required": [
        "RiskScore"
      ],
      "type": "structure"
    },
    "ListDomainsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of domains to list per API call.</p>",
          "shape": "MaxResultsForListDomainFe"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDomainsResponse": {
      "members": {
        "DomainSummaries": {
          "documentation": "<p>A list containing details about each domain in the Amazon Web Services account.</p>",
          "shape": "DomainSummaries"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListFraudsterRegistrationJobsRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster registration Jobs.</p>",
          "shape": "DomainId"
        },
        "JobStatus": {
          "documentation": "<p>Provides the status of your fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJobStatus"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>NextToken</code> to obtain further pages of results. The default is 100; the maximum allowed page size is also 100. </p>",
          "shape": "MaxResultsForList"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainId"
      ],
      "type": "structure"
    },
    "ListFraudsterRegistrationJobsResponse": {
      "members": {
        "JobSummaries": {
          "documentation": "<p>A list containing details about each specified fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJobSummaries"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSpeakerEnrollmentJobsRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the speaker enrollment jobs.</p>",
          "shape": "DomainId"
        },
        "JobStatus": {
          "documentation": "<p>Provides the status of your speaker enrollment Job.</p>",
          "shape": "SpeakerEnrollmentJobStatus"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>NextToken</code> to obtain further pages of results. The default is 100; the maximum allowed page size is also 100. </p>",
          "shape": "MaxResultsForList"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainId"
      ],
      "type": "structure"
    },
    "ListSpeakerEnrollmentJobsResponse": {
      "members": {
        "JobSummaries": {
          "documentation": "<p>A list containing details about each specified speaker enrollment job.</p>",
          "shape": "SpeakerEnrollmentJobSummaries"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListSpeakersRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain.</p>",
          "shape": "DomainId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>NextToken</code> to obtain further pages of results. The default is 100; the maximum allowed page size is also 100. </p>",
          "shape": "MaxResultsForList"
        },
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainId"
      ],
      "type": "structure"
    },
    "ListSpeakersResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If <code>NextToken</code> is returned, there are more results available. The value of <code>NextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. </p>",
          "shape": "String"
        },
        "SpeakerSummaries": {
          "documentation": "<p>A list containing details about each speaker in the Amazon Web Services account. </p>",
          "shape": "SpeakerSummaries"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Voice ID resource for which you want to list the tags.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The list of tags associated with the specified resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResultsForList": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxResultsForListDomainFe": {
      "box": true,
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 8192,
      "min": 0,
      "pattern": "^\\p{ASCII}{0,8192}$",
      "type": "string"
    },
    "OptOutSpeakerRequest": {
      "members": {
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the speaker.</p>",
          "shape": "DomainId"
        },
        "SpeakerId": {
          "documentation": "<p>The identifier of the speaker you want opted-out.</p>",
          "shape": "SpeakerId"
        }
      },
      "required": [
        "DomainId",
        "SpeakerId"
      ],
      "type": "structure"
    },
    "OptOutSpeakerResponse": {
      "members": {
        "Speaker": {
          "documentation": "<p>Details about the opted-out speaker.</p>",
          "shape": "Speaker"
        }
      },
      "type": "structure"
    },
    "OutputDataConfig": {
      "documentation": "<p>The configuration containing output file information for a batch job.</p>",
      "members": {
        "KmsKeyId": {
          "documentation": "<p>The identifier of the KMS key you want Voice ID to use to encrypt the output file of a speaker enrollment job/fraudster registration job. </p>",
          "shape": "KmsKeyId"
        },
        "S3Uri": {
          "documentation": "<p>The S3 path of the folder where Voice ID writes the job output file. It has a <code>*.out</code> extension. For example, if the input file name is <code>input-file.json</code> and the output folder path is <code>s3://output-bucket/output-folder</code>, the full output file path is <code>s3://output-bucket/output-folder/job-Id/input-file.json.out</code>.</p>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "structure"
    },
    "RegistrationConfig": {
      "documentation": "<p>The configuration defining the action to take when a duplicate fraudster is detected, and the similarity threshold to use for detecting a duplicate fraudster during a batch fraudster registration job.</p>",
      "members": {
        "DuplicateRegistrationAction": {
          "documentation": "<p>The action to take when a fraudster is identified as a duplicate. The default action is <code>SKIP</code>, which skips registering the duplicate fraudster. Setting the value to <code>REGISTER_AS_NEW</code> always registers a new fraudster into the specified domain.</p>",
          "shape": "DuplicateRegistrationAction"
        },
        "FraudsterSimilarityThreshold": {
          "documentation": "<p>The minimum similarity score between the new and old fraudsters in order to consider the new fraudster a duplicate.</p>",
          "shape": "Score"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource cannot be found. Check the <code>ResourceType</code> and error message for more details.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>The type of resource which cannot not be found. Possible types are <code>BATCH_JOB</code>, <code>COMPLIANCE_CONSENT</code>, <code>DOMAIN</code>, <code>FRAUDSTER</code>, <code>SESSION</code> and <code>SPEAKER</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "BATCH_JOB",
        "COMPLIANCE_CONSENT",
        "DOMAIN",
        "FRAUDSTER",
        "SESSION",
        "SPEAKER"
      ],
      "type": "string"
    },
    "S3Uri": {
      "max": 1024,
      "min": 0,
      "pattern": "^s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?$",
      "type": "string"
    },
    "Score": {
      "box": true,
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "ServerSideEncryptionConfiguration": {
      "documentation": "<p>The configuration containing information about the customer managed key used for encrypting customer data.</p>",
      "members": {
        "KmsKeyId": {
          "documentation": "<p>The identifier of the KMS key to use to encrypt data stored by Voice ID. Voice ID doesn't support asymmetric customer managed keys. </p>",
          "shape": "KmsKeyId"
        }
      },
      "required": [
        "KmsKeyId"
      ],
      "type": "structure"
    },
    "ServerSideEncryptionUpdateDetails": {
      "documentation": "<p>Details about the most recent server-side encryption configuration update. When the server-side encryption configuration is changed, dependency on the old KMS key is removed through an asynchronous process. When this update is complete, the domain\u2019s data can only be accessed using the new KMS key.</p>",
      "members": {
        "Message": {
          "documentation": "<p>Message explaining the current UpdateStatus. When the UpdateStatus is FAILED, this message explains the cause of the failure.</p>",
          "shape": "String"
        },
        "OldKmsKeyId": {
          "documentation": "<p>The previous KMS key ID the domain was encrypted with, before ServerSideEncryptionConfiguration was updated to a new KMS key ID.</p>",
          "shape": "KmsKeyId"
        },
        "UpdateStatus": {
          "documentation": "<p>Status of the server-side encryption update. During an update, if there is an issue with the domain's current or old KMS key ID, such as an inaccessible or disabled key, then the status is FAILED. In order to resolve this, the key needs to be made accessible, and then an UpdateDomain call with the existing server-side encryption configuration will re-attempt this update process.</p>",
          "shape": "ServerSideEncryptionUpdateStatus"
        }
      },
      "type": "structure"
    },
    "ServerSideEncryptionUpdateStatus": {
      "enum": [
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The request exceeded the service quota. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#voiceid-quotas\">Voice ID Service Quotas</a> and try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SessionId": {
      "max": 25,
      "min": 25,
      "pattern": "^id#[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "SessionName": {
      "max": 36,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "type": "string"
    },
    "SessionNameOrId": {
      "max": 36,
      "min": 1,
      "pattern": "^(id#[a-zA-Z0-9]{22}|[a-zA-Z0-9][a-zA-Z0-9_-]*)$",
      "type": "string"
    },
    "Speaker": {
      "documentation": "<p>Contains all the information about a speaker.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing when the speaker is created. </p>",
          "shape": "Timestamp"
        },
        "CustomerSpeakerId": {
          "documentation": "<p>The client-provided identifier for the speaker.</p>",
          "shape": "CustomerSpeakerId"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker.</p>",
          "shape": "DomainId"
        },
        "GeneratedSpeakerId": {
          "documentation": "<p>The service-generated identifier for the speaker.</p>",
          "shape": "GeneratedSpeakerId"
        },
        "LastAccessedAt": {
          "documentation": "<p>The timestamp when the speaker was last accessed for enrollment, re-enrollment or a successful authentication. This timestamp is accurate to one hour.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The current status of the speaker.</p>",
          "shape": "SpeakerStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>A timestamp showing the speaker's last update.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "SpeakerEnrollmentJob": {
      "documentation": "<p>Contains all the information about a speaker enrollment job.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing the creation of the speaker enrollment job.</p>",
          "shape": "Timestamp"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access customer's buckets to read the input manifest file and write the job output file.</p>",
          "shape": "IamRoleArn"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker enrollment job.</p>",
          "shape": "DomainId"
        },
        "EndedAt": {
          "documentation": "<p>A timestamp showing when the speaker enrollment job ended. </p>",
          "shape": "Timestamp"
        },
        "EnrollmentConfig": {
          "documentation": "<p>The configuration that defines the action to take when the speaker is already enrolled in Voice ID, and the <code>FraudDetectionConfig</code> to use.</p>",
          "shape": "EnrollmentConfig"
        },
        "FailureDetails": {
          "documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of individual registration job failures, the batch job as a whole doesn't fail; it is completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can use the job output file to identify the individual registration requests that failed.</p>",
          "shape": "FailureDetails"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data config containing an S3 URI for the input manifest file that contains the list of speaker enrollment job requests.</p>",
          "shape": "InputDataConfig"
        },
        "JobId": {
          "documentation": "<p>The service-generated identifier for the speaker enrollment job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The client-provided name for the speaker enrollment job.</p>",
          "shape": "JobName"
        },
        "JobProgress": {
          "documentation": "<p>Provides details on job progress. This field shows the completed percentage of registration requests listed in the input file.</p>",
          "shape": "JobProgress"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the speaker enrollment job.</p>",
          "shape": "SpeakerEnrollmentJobStatus"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data config containing the S3 location where Voice ID writes the job output file; you must also include a KMS key ID to encrypt the file.</p>",
          "shape": "OutputDataConfig"
        }
      },
      "type": "structure"
    },
    "SpeakerEnrollmentJobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED"
      ],
      "type": "string"
    },
    "SpeakerEnrollmentJobSummaries": {
      "member": {
        "shape": "SpeakerEnrollmentJobSummary"
      },
      "type": "list"
    },
    "SpeakerEnrollmentJobSummary": {
      "documentation": "<p>Contains a summary of information about a speaker enrollment job.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing the creation time of the speaker enrollment job.</p>",
          "shape": "Timestamp"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker enrollment job.</p>",
          "shape": "DomainId"
        },
        "EndedAt": {
          "documentation": "<p>A timestamp showing when the speaker enrollment job ended.</p>",
          "shape": "Timestamp"
        },
        "FailureDetails": {
          "documentation": "<p>Contains details that are populated when an entire batch job fails. In cases of individual registration job failures, the batch job as a whole doesn't fail; it is completed with a <code>JobStatus</code> of <code>COMPLETED_WITH_ERRORS</code>. You can use the job output file to identify the individual registration requests that failed.</p>",
          "shape": "FailureDetails"
        },
        "JobId": {
          "documentation": "<p>The service-generated identifier for the speaker enrollment job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The client-provided name for the speaker enrollment job.</p>",
          "shape": "JobName"
        },
        "JobProgress": {
          "documentation": "<p>Provides details regarding job progress. This field shows the completed percentage of enrollment requests listed in the input file.</p>",
          "shape": "JobProgress"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the speaker enrollment job.</p>",
          "shape": "SpeakerEnrollmentJobStatus"
        }
      },
      "type": "structure"
    },
    "SpeakerId": {
      "max": 256,
      "min": 1,
      "pattern": "^(id#[a-zA-Z0-9]{22}|[a-zA-Z0-9][a-zA-Z0-9_-]*)$",
      "sensitive": true,
      "type": "string"
    },
    "SpeakerStatus": {
      "enum": [
        "ENROLLED",
        "EXPIRED",
        "OPTED_OUT",
        "PENDING"
      ],
      "type": "string"
    },
    "SpeakerSummaries": {
      "member": {
        "shape": "SpeakerSummary"
      },
      "type": "list"
    },
    "SpeakerSummary": {
      "documentation": "<p>Contains a summary of information about a speaker.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>A timestamp showing the speaker's creation time. </p>",
          "shape": "Timestamp"
        },
        "CustomerSpeakerId": {
          "documentation": "<p>The client-provided identifier for the speaker.</p>",
          "shape": "CustomerSpeakerId"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker.</p>",
          "shape": "DomainId"
        },
        "GeneratedSpeakerId": {
          "documentation": "<p>The service-generated identifier for the speaker. </p>",
          "shape": "GeneratedSpeakerId"
        },
        "LastAccessedAt": {
          "documentation": "<p>The timestamp when the speaker was last accessed for enrollment, re-enrollment or a successful authentication. This timestamp is accurate to one hour.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The current status of the speaker.</p>",
          "shape": "SpeakerStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>A timestamp showing the speaker's last update.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "StartFraudsterRegistrationJobRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for starting a new fraudster registration job. If not provided, Amazon Web Services SDK populates this field.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access customer's buckets to read the input manifest file and write the Job output file. Refer to the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/voiceid-fraudster-watchlist.html\">Create and edit a fraudster watchlist</a> documentation for the permissions needed in this role.</p>",
          "shape": "IamRoleArn"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain containing the fraudster registration job and in which the fraudsters are registered.</p>",
          "shape": "DomainId"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data config containing an S3 URI for the input manifest file that contains the list of fraudster registration requests.</p>",
          "shape": "InputDataConfig"
        },
        "JobName": {
          "documentation": "<p>The name of the new fraudster registration job.</p>",
          "shape": "JobName"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data config containing the S3 location where Voice ID writes the job output file; you must also include a KMS key ID to encrypt the file.</p>",
          "shape": "OutputDataConfig"
        },
        "RegistrationConfig": {
          "documentation": "<p>The registration config containing details such as the action to take when a duplicate fraudster is detected, and the similarity threshold to use for detecting a duplicate fraudster. </p>",
          "shape": "RegistrationConfig"
        }
      },
      "required": [
        "DataAccessRoleArn",
        "DomainId",
        "InputDataConfig",
        "OutputDataConfig"
      ],
      "type": "structure"
    },
    "StartFraudsterRegistrationJobResponse": {
      "members": {
        "Job": {
          "documentation": "<p>Details about the started fraudster registration job.</p>",
          "shape": "FraudsterRegistrationJob"
        }
      },
      "type": "structure"
    },
    "StartSpeakerEnrollmentJobRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for starting a new speaker enrollment Job. If not provided, Amazon Web Services SDK populates this field.</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The IAM role Amazon Resource Name (ARN) that grants Voice ID permissions to access customer's buckets to read the input manifest file and write the job output file. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/voiceid-batch-enrollment.html\">Batch enrollment using audio data from prior calls</a> for the permissions needed in this role.</p>",
          "shape": "IamRoleArn"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain that contains the speaker enrollment job and in which the speakers are enrolled. </p>",
          "shape": "DomainId"
        },
        "EnrollmentConfig": {
          "documentation": "<p>The enrollment config that contains details such as the action to take when a speaker is already enrolled in Voice ID or when a speaker is identified as a fraudster.</p>",
          "shape": "EnrollmentConfig"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data config containing the S3 location for the input manifest file that contains the list of speaker enrollment requests.</p>",
          "shape": "InputDataConfig"
        },
        "JobName": {
          "documentation": "<p>A name for your speaker enrollment job.</p>",
          "shape": "JobName"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data config containing the S3 location where Voice ID writes the job output file; you must also include a KMS key ID to encrypt the file.</p>",
          "shape": "OutputDataConfig"
        }
      },
      "required": [
        "DataAccessRoleArn",
        "DomainId",
        "InputDataConfig",
        "OutputDataConfig"
      ],
      "type": "structure"
    },
    "StartSpeakerEnrollmentJobResponse": {
      "members": {
        "Job": {
          "documentation": "<p>Details about the started speaker enrollment job.</p>",
          "shape": "SpeakerEnrollmentJob"
        }
      },
      "type": "structure"
    },
    "StreamingStatus": {
      "enum": [
        "PENDING_CONFIGURATION",
        "ONGOING",
        "ENDED"
      ],
      "type": "string"
    },
    "String": {
      "min": 1,
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>The tags used to organize, track, or control access for this resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The first part of a key:value pair that forms a tag associated with a given resource. For example, in the tag 'Department':'Sales', the key is 'Department'. </p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The second part of a key:value pair that forms a tag associated with a given resource. For example, in the tag 'Department':'Sales', the value is 'Sales'. </p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "sensitive": true,
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Voice ID resource you want to tag.</p>",
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "documentation": "<p>The list of tags to assign to the specified resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "sensitive": true,
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling. Please slow down your request rate. Refer to <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html##voiceid-api-quotas\"> Amazon Connect Voice ID Service API throttling quotas </a> and try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UniqueIdLarge": {
      "max": 22,
      "min": 22,
      "pattern": "^[a-zA-Z0-9]{22}$",
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Voice ID resource you want to remove tags from.</p>",
          "shape": "AmazonResourceName"
        },
        "TagKeys": {
          "documentation": "<p>The list of tag keys you want to remove from the specified resource.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateDomainRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A brief description of the domain.</p>",
          "shape": "Description"
        },
        "DomainId": {
          "documentation": "<p>The identifier of the domain to be updated.</p>",
          "shape": "DomainId"
        },
        "Name": {
          "documentation": "<p>The name of the domain.</p>",
          "shape": "DomainName"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The configuration, containing the KMS key identifier, to be used by Voice ID for the server-side encryption of your data. Changing the domain's associated KMS key immediately triggers an asynchronous process to remove dependency on the old KMS key, such that the domain's data can only be accessed using the new KMS key. The domain's <code>ServerSideEncryptionUpdateDetails</code> contains the details for this process.</p>",
          "shape": "ServerSideEncryptionConfiguration"
        }
      },
      "required": [
        "DomainId",
        "Name",
        "ServerSideEncryptionConfiguration"
      ],
      "type": "structure"
    },
    "UpdateDomainResponse": {
      "members": {
        "Domain": {
          "documentation": "<p>Details about the updated domain</p>",
          "shape": "Domain"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The request failed one or more validations; check the error message for more details.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "VoiceSpoofingRisk": {
      "documentation": "<p>The details resulting from 'Voice Spoofing Risk' analysis of the speaker.</p>",
      "members": {
        "RiskScore": {
          "documentation": "<p>The score indicating the likelihood of speaker\u2019s voice being spoofed.</p>",
          "shape": "Score"
        }
      },
      "required": [
        "RiskScore"
      ],
      "type": "structure"
    }
  },
  "version": "2.0"
}
