{
  "documentation": "<fullname>Health</fullname> <p>The Health API provides programmatic access to the Health information that appears in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">Personal Health Dashboard</a>. You can use the API operations to get information about events that might affect your Amazon Web Services services and resources.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> </li> <li> <p>You can use the Health endpoint health.us-east-1.amazonaws.com (HTTPS) to call the Health API operations. Health supports a multi-Region application architecture and has two regional endpoints in an active-passive configuration. You can use the high availability endpoint example to determine which Amazon Web Services Region is active, so that you can get the latest information from the API. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/health-api.html\">Accessing the Health API</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note> <p>For authentication of requests, Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>If your Amazon Web Services account is part of Organizations, you can use the Health organizational view feature. This feature provides a centralized view of Health events across all accounts in your organization. You can aggregate Health events in real time to identify accounts in your organization that are affected by an operational event or get notified of security vulnerabilities. Use the organizational view API operations to enable this feature and return event information. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <note> <p>When you use the Health API operations to return Health events, see the following recommendations:</p> <ul> <li> <p>Use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a> parameter to specify whether to return Health events that are public or account-specific.</p> </li> <li> <p>Use pagination to view all events from the response. For example, if you call the <code>DescribeEventsForOrganization</code> operation to get all events in your organization, you might receive several page results. Specify the <code>nextToken</code> in the next request to return more results.</p> </li> </ul> </note>",
  "metadata": {
    "apiVersion": "2016-08-04",
    "endpointPrefix": "health",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWSHealth",
    "serviceFullName": "AWS Health APIs and Notifications",
    "serviceId": "Health",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHealth_20160804",
    "uid": "health-2016-08-04"
  },
  "operations": {
    "DescribeAffectedAccountsForOrganization": {
      "documentation": "<p>Returns a list of accounts in the organization from Organizations that are affected by the provided event. For more information about the different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>. </p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeAffectedAccountsForOrganizationRequest"
      },
      "name": "DescribeAffectedAccountsForOrganization",
      "output": {
        "shape": "DescribeAffectedAccountsForOrganizationResponse"
      }
    },
    "DescribeAffectedEntities": {
      "documentation": "<p>Returns a list of entities that have been affected by the specified events, based on the specified filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the Amazon Web Services service. Events that have impact beyond that of the affected entities, or where the extent of impact is unknown, include at least one entity indicating this.</p> <p>At least one event ARN is required.</p> <note> <ul> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> <li> <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        },
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeAffectedEntitiesRequest"
      },
      "name": "DescribeAffectedEntities",
      "output": {
        "shape": "DescribeAffectedEntitiesResponse"
      }
    },
    "DescribeAffectedEntitiesForOrganization": {
      "documentation": "<p>Returns a list of entities that have been affected by one or more events for one or more accounts in your organization in Organizations, based on the filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the Amazon Web Services service.</p> <p>At least one event Amazon Resource Name (ARN) and account ID are required.</p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <ul> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> <li> <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        },
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeAffectedEntitiesForOrganizationRequest"
      },
      "name": "DescribeAffectedEntitiesForOrganization",
      "output": {
        "shape": "DescribeAffectedEntitiesForOrganizationResponse"
      }
    },
    "DescribeEntityAggregates": {
      "documentation": "<p>Returns the number of entities that are affected by each of the specified events.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEntityAggregatesRequest"
      },
      "name": "DescribeEntityAggregates",
      "output": {
        "shape": "DescribeEntityAggregatesResponse"
      }
    },
    "DescribeEventAggregates": {
      "documentation": "<p>Returns the number of events of each event type (issue, scheduled change, and account notification). If no filter is specified, the counts of all events in each category are returned.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventAggregatesRequest"
      },
      "name": "DescribeEventAggregates",
      "output": {
        "shape": "DescribeEventAggregatesResponse"
      }
    },
    "DescribeEventDetails": {
      "documentation": "<p>Returns detailed information about one or more specified events. Information includes standard event data (Amazon Web Services Region, service, and so on, as returned by <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a>), a detailed event description, and possible additional metadata that depends upon the nature of the event. Affected entities are not included. To retrieve the entities, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operation.</p> <p>If a specified event can't be retrieved, an error message is returned for that event.</p> <note> <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventDetailsRequest"
      },
      "name": "DescribeEventDetails",
      "output": {
        "shape": "DescribeEventDetailsResponse"
      }
    },
    "DescribeEventDetailsForOrganization": {
      "documentation": "<p>Returns detailed information about one or more specified events for one or more Amazon Web Services accounts in your organization. This information includes standard event data (such as the Amazon Web Services Region and service), an event description, and (depending on the event) possible metadata. This operation doesn't return affected entities, such as the resources related to the event. To return affected entities, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> operation.</p> <note> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> </note> <p>When you call the <code>DescribeEventDetailsForOrganization</code> operation, specify the <code>organizationEventDetailFilters</code> object in the request. Depending on the Health event type, note the following differences:</p> <ul> <li> <p>To return event details for a public event, you must specify a null value for the <code>awsAccountId</code> parameter. If you specify an account ID for a public event, Health returns an error message because public events aren't specific to an account.</p> </li> <li> <p>To return event details for an event that is specific to an account in your organization, you must specify the <code>awsAccountId</code> parameter in the request. If you don't specify an account ID, Health returns an error message because the event is specific to an account in your organization. </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p> <note> <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventDetailsForOrganizationRequest"
      },
      "name": "DescribeEventDetailsForOrganization",
      "output": {
        "shape": "DescribeEventDetailsForOrganizationResponse"
      }
    },
    "DescribeEventTypes": {
      "documentation": "<p>Returns the event types that meet the specified filter criteria. You can use this API operation to find information about the Health event, such as the category, Amazon Web Services service, and event code. The metadata for each event appears in the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventType.html\">EventType</a> object. </p> <p>If you don't specify a filter criteria, the API operation returns all event types, in no particular order. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        },
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventTypesRequest"
      },
      "name": "DescribeEventTypes",
      "output": {
        "shape": "DescribeEventTypesResponse"
      }
    },
    "DescribeEvents": {
      "documentation": "<p> Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event.</p> <note> <ul> <li> <p>When you call the <code>DescribeEvents</code> operation and specify an entity for the <code>entityValues</code> parameter, Health might return public events that aren't specific to that resource. For example, if you call <code>DescribeEvents</code> and specify an ID for an Amazon Elastic Compute Cloud (Amazon EC2) instance, Health might return events that aren't specific to that resource or service. To get events that are specific to a service, use the <code>services</code> parameter in the <code>filter</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p> </li> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        },
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventsRequest"
      },
      "name": "DescribeEvents",
      "output": {
        "shape": "DescribeEventsResponse"
      }
    },
    "DescribeEventsForOrganization": {
      "documentation": "<p>Returns information about events across your organization in Organizations. You can use the<code>filters</code> parameter to specify the events that you want to return. Events are returned in a summary form and don't include the affected accounts, detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the following operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedAccountsForOrganization.html\">DescribeAffectedAccountsForOrganization</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> </p> </li> </ul> <p>If you don't specify a <code>filter</code>, the <code>DescribeEventsForOrganizations</code> returns all events across your organization. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event. </p> <p>For more information about the different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
      "errors": [
        {
          "shape": "InvalidPaginationToken"
        },
        {
          "shape": "UnsupportedLocale"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventsForOrganizationRequest"
      },
      "name": "DescribeEventsForOrganization",
      "output": {
        "shape": "DescribeEventsForOrganizationResponse"
      }
    },
    "DescribeHealthServiceStatusForOrganization": {
      "documentation": "<p>This operation provides status information on enabling or disabling Health to work with your organization. To call this operation, you must sign in as an IAM user, assume an IAM role, or sign in as the root user (not recommended) in the organization's management account.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "name": "DescribeHealthServiceStatusForOrganization",
      "output": {
        "shape": "DescribeHealthServiceStatusForOrganizationResponse"
      }
    },
    "DisableHealthServiceAccessForOrganization": {
      "documentation": "<p>Disables Health from working with Organizations. To call this operation, you must sign in as an Identity and Access Management (IAM) user, assume an IAM role, or sign in as the root user (not recommended) in the organization's management account. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <p>This operation doesn't remove the service-linked role from the management account in your organization. You must use the IAM console, API, or Command Line Interface (CLI) to remove the service-linked role. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html#delete-service-linked-role\">Deleting a Service-Linked Role</a> in the <i>IAM User Guide</i>.</p> <note> <p>You can also disable the organizational feature by using the Organizations <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_DisableAWSServiceAccess.html\">DisableAWSServiceAccess</a> API operation. After you call this operation, Health stops aggregating events for all other Amazon Web Services accounts in your organization. If you call the Health API operations for organizational view, Health returns an error. Health continues to aggregate health events for your Amazon Web Services account.</p> </note>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "name": "DisableHealthServiceAccessForOrganization"
    },
    "EnableHealthServiceAccessForOrganization": {
      "documentation": "<p>Enables Health to work with Organizations. You can use the organizational view feature to aggregate events from all Amazon Web Services accounts in your organization in a centralized location. </p> <p>This operation also creates a service-linked role for the management account in the organization. </p> <note> <p>To call this operation, you must meet the following requirements:</p> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> </li> <li> <p>You must have permission to call this operation from the organization's management account. For example IAM policies, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html\">Health identity-based policy examples</a>.</p> </li> </ul> </note> <p>If you don't have the required support plan, you can instead use the Health console to enable the organizational view feature. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "name": "EnableHealthServiceAccessForOrganization"
    }
  },
  "shapes": {
    "AffectedEntity": {
      "documentation": "<p>Information about an entity that is affected by a Health event.</p>",
      "members": {
        "awsAccountId": {
          "documentation": "<p>The 12-digit Amazon Web Services account number that contains the affected entity.</p>",
          "shape": "accountId"
        },
        "entityArn": {
          "documentation": "<p>The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i> </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code> </p>",
          "shape": "entityArn"
        },
        "entityUrl": {
          "documentation": "<p>The URL of the affected entity.</p>",
          "shape": "entityUrl"
        },
        "entityValue": {
          "documentation": "<p>The ID of the affected entity.</p>",
          "shape": "entityValue"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        },
        "lastUpdatedTime": {
          "documentation": "<p>The most recent time that the entity was updated.</p>",
          "shape": "timestamp"
        },
        "statusCode": {
          "documentation": "<p>The most recent status of the entity affected by the event. The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.</p>",
          "shape": "entityStatusCode"
        },
        "tags": {
          "documentation": "<p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>",
          "shape": "tagSet"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> is already in progress. Wait for the action to complete before trying again. To get the current status, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeHealthServiceStatusForOrganization.html\">DescribeHealthServiceStatusForOrganization</a> operation.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DateTimeRange": {
      "documentation": "<p>A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.</p>",
      "members": {
        "from": {
          "documentation": "<p>The starting date and time of a time range.</p>",
          "shape": "timestamp"
        },
        "to": {
          "documentation": "<p>The ending date and time of a time range.</p>",
          "shape": "timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeAffectedAccountsForOrganizationRequest": {
      "members": {
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResults"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "required": [
        "eventArn"
      ],
      "type": "structure"
    },
    "DescribeAffectedAccountsForOrganizationResponse": {
      "members": {
        "affectedAccounts": {
          "documentation": "<p>A JSON set of elements of the affected accounts.</p>",
          "shape": "affectedAccountsList"
        },
        "eventScopeCode": {
          "documentation": "<p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>",
          "shape": "eventScopeCode"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeAffectedEntitiesForOrganizationFailedSet": {
      "member": {
        "shape": "OrganizationAffectedEntitiesErrorItem"
      },
      "type": "list"
    },
    "DescribeAffectedEntitiesForOrganizationRequest": {
      "members": {
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResultsLowerRange"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        },
        "organizationEntityFilters": {
          "documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and the <code>eventArn</code>.</p>",
          "shape": "OrganizationEntityFiltersList"
        }
      },
      "required": [
        "organizationEntityFilters"
      ],
      "type": "structure"
    },
    "DescribeAffectedEntitiesForOrganizationResponse": {
      "members": {
        "entities": {
          "documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and its <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>, <code>lastUpdatedTime</code>, and <code>statusCode</code>.</p>",
          "shape": "EntityList"
        },
        "failedSet": {
          "documentation": "<p>A JSON set of elements of the failed response, including the <code>awsAccountId</code>, <code>errorMessage</code>, <code>errorName</code>, and <code>eventArn</code>.</p>",
          "shape": "DescribeAffectedEntitiesForOrganizationFailedSet"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeAffectedEntitiesRequest": {
      "members": {
        "filter": {
          "documentation": "<p>Values to narrow the results returned. At least one event ARN is required.</p>",
          "shape": "EntityFilter"
        },
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResults"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "required": [
        "filter"
      ],
      "type": "structure"
    },
    "DescribeAffectedEntitiesResponse": {
      "members": {
        "entities": {
          "documentation": "<p>The entities that match the filter criteria.</p>",
          "shape": "EntityList"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEntityAggregatesRequest": {
      "members": {
        "eventArns": {
          "documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> </p>",
          "shape": "EventArnsList"
        }
      },
      "type": "structure"
    },
    "DescribeEntityAggregatesResponse": {
      "members": {
        "entityAggregates": {
          "documentation": "<p>The number of entities that are affected by each of the specified events.</p>",
          "shape": "EntityAggregateList"
        }
      },
      "type": "structure"
    },
    "DescribeEventAggregatesRequest": {
      "members": {
        "aggregateField": {
          "documentation": "<p>The only currently supported value is <code>eventTypeCategory</code>.</p>",
          "shape": "eventAggregateField"
        },
        "filter": {
          "documentation": "<p>Values to narrow the results returned.</p>",
          "shape": "EventFilter"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResults"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "required": [
        "aggregateField"
      ],
      "type": "structure"
    },
    "DescribeEventAggregatesResponse": {
      "members": {
        "eventAggregates": {
          "documentation": "<p>The number of events in each category that meet the optional filter criteria.</p>",
          "shape": "EventAggregateList"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventDetailsFailedSet": {
      "member": {
        "shape": "EventDetailsErrorItem"
      },
      "type": "list"
    },
    "DescribeEventDetailsForOrganizationFailedSet": {
      "member": {
        "shape": "OrganizationEventDetailsErrorItem"
      },
      "type": "list"
    },
    "DescribeEventDetailsForOrganizationRequest": {
      "members": {
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "organizationEventDetailFilters": {
          "documentation": "<p>A set of JSON elements that includes the <code>awsAccountId</code> and the <code>eventArn</code>.</p>",
          "shape": "OrganizationEventDetailFiltersList"
        }
      },
      "required": [
        "organizationEventDetailFilters"
      ],
      "type": "structure"
    },
    "DescribeEventDetailsForOrganizationResponse": {
      "members": {
        "failedSet": {
          "documentation": "<p>Error messages for any events that could not be retrieved.</p>",
          "shape": "DescribeEventDetailsForOrganizationFailedSet"
        },
        "successfulSet": {
          "documentation": "<p>Information about the events that could be retrieved.</p>",
          "shape": "DescribeEventDetailsForOrganizationSuccessfulSet"
        }
      },
      "type": "structure"
    },
    "DescribeEventDetailsForOrganizationSuccessfulSet": {
      "member": {
        "shape": "OrganizationEventDetails"
      },
      "type": "list"
    },
    "DescribeEventDetailsRequest": {
      "members": {
        "eventArns": {
          "documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> </p>",
          "shape": "eventArnList"
        },
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        }
      },
      "required": [
        "eventArns"
      ],
      "type": "structure"
    },
    "DescribeEventDetailsResponse": {
      "members": {
        "failedSet": {
          "documentation": "<p>Error messages for any events that could not be retrieved.</p>",
          "shape": "DescribeEventDetailsFailedSet"
        },
        "successfulSet": {
          "documentation": "<p>Information about the events that could be retrieved.</p>",
          "shape": "DescribeEventDetailsSuccessfulSet"
        }
      },
      "type": "structure"
    },
    "DescribeEventDetailsSuccessfulSet": {
      "member": {
        "shape": "EventDetails"
      },
      "type": "list"
    },
    "DescribeEventTypesRequest": {
      "members": {
        "filter": {
          "documentation": "<p>Values to narrow the results returned.</p>",
          "shape": "EventTypeFilter"
        },
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResults"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventTypesResponse": {
      "members": {
        "eventTypes": {
          "documentation": "<p>A list of event types that match the filter criteria. Event types have a category (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>), a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>",
          "shape": "EventTypeList"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventsForOrganizationRequest": {
      "members": {
        "filter": {
          "documentation": "<p>Values to narrow the results returned.</p>",
          "shape": "OrganizationEventFilter"
        },
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResultsLowerRange"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventsForOrganizationResponse": {
      "members": {
        "events": {
          "documentation": "<p>The events that match the specified filter criteria.</p>",
          "shape": "OrganizationEventList"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventsRequest": {
      "members": {
        "filter": {
          "documentation": "<p>Values to narrow the results returned.</p>",
          "shape": "EventFilter"
        },
        "locale": {
          "documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>",
          "shape": "locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>",
          "shape": "maxResults"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventsResponse": {
      "members": {
        "events": {
          "documentation": "<p>The events that match the specified filter criteria.</p>",
          "shape": "EventList"
        },
        "nextToken": {
          "documentation": "<p>If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "DescribeHealthServiceStatusForOrganizationResponse": {
      "members": {
        "healthServiceAccessStatusForOrganization": {
          "documentation": "<p>Information about the status of enabling or disabling the Health organizational view feature in your organization.</p> <p>Valid values are <code>ENABLED | DISABLED | PENDING</code>. </p>",
          "shape": "healthServiceAccessStatusForOrganization"
        }
      },
      "type": "structure"
    },
    "EntityAggregate": {
      "documentation": "<p>The number of entities that are affected by one or more events. Returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEntityAggregates.html\">DescribeEntityAggregates</a> operation.</p>",
      "members": {
        "count": {
          "documentation": "<p>The number of entities that match the criteria for the specified events.</p>",
          "shape": "count"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        }
      },
      "type": "structure"
    },
    "EntityAggregateList": {
      "member": {
        "shape": "EntityAggregate"
      },
      "type": "list"
    },
    "EntityFilter": {
      "documentation": "<p>The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operation.</p>",
      "members": {
        "entityArns": {
          "documentation": "<p>A list of entity ARNs (unique identifiers).</p>",
          "shape": "entityArnList"
        },
        "entityValues": {
          "documentation": "<p>A list of IDs for affected entities.</p>",
          "shape": "entityValueList"
        },
        "eventArns": {
          "documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> </p>",
          "shape": "eventArnList"
        },
        "lastUpdatedTimes": {
          "documentation": "<p>A list of the most recent dates and times that the entity was updated.</p>",
          "shape": "dateTimeRangeList"
        },
        "statusCodes": {
          "documentation": "<p>A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or <code>UNKNOWN</code>).</p>",
          "shape": "entityStatusCodeList"
        },
        "tags": {
          "documentation": "<p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>",
          "shape": "tagFilter"
        }
      },
      "required": [
        "eventArns"
      ],
      "type": "structure"
    },
    "EntityList": {
      "member": {
        "shape": "AffectedEntity"
      },
      "type": "list"
    },
    "Event": {
      "documentation": "<p>Summary information about an Health event.</p> <p>Health events can be public or account-specific:</p> <ul> <li> <p> <i>Public events</i> might be service events that are not specific to an Amazon Web Services account. For example, if there is an issue with an Amazon Web Services Region, Health provides information about the event, even if you don't use services or resources in that Region.</p> </li> <li> <p> <i>Account-specific</i> events are specific to either your Amazon Web Services account or an account in your organization. For example, if there's an issue with Amazon Elastic Compute Cloud in a Region that you use, Health provides information about the event and the affected resources in the account.</p> </li> </ul> <p>You can determine if an event is public or account-specific by using the <code>eventScopeCode</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a>.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        },
        "availabilityZone": {
          "documentation": "<p>The Amazon Web Services Availability Zone of the event. For example, us-east-1a.</p>",
          "shape": "availabilityZone"
        },
        "endTime": {
          "documentation": "<p>The date and time that the event ended.</p>",
          "shape": "timestamp"
        },
        "eventScopeCode": {
          "documentation": "<p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>",
          "shape": "eventScopeCode"
        },
        "eventTypeCategory": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "eventTypeCategory"
        },
        "eventTypeCode": {
          "documentation": "<p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>",
          "shape": "eventTypeCode"
        },
        "lastUpdatedTime": {
          "documentation": "<p>The most recent date and time that the event was updated.</p>",
          "shape": "timestamp"
        },
        "region": {
          "documentation": "<p>The Amazon Web Services Region name of the event.</p>",
          "shape": "region"
        },
        "service": {
          "documentation": "<p>The Amazon Web Services service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>",
          "shape": "service"
        },
        "startTime": {
          "documentation": "<p>The date and time that the event began.</p>",
          "shape": "timestamp"
        },
        "statusCode": {
          "documentation": "<p>The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.</p>",
          "shape": "eventStatusCode"
        }
      },
      "type": "structure"
    },
    "EventAccountFilter": {
      "documentation": "<p>The values used to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> operations.</p>",
      "members": {
        "awsAccountId": {
          "documentation": "<p>The 12-digit Amazon Web Services account numbers that contains the affected entities.</p>",
          "shape": "accountId"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        }
      },
      "required": [
        "eventArn"
      ],
      "type": "structure"
    },
    "EventAggregate": {
      "documentation": "<p>The number of events of each issue type. Returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html\">DescribeEventAggregates</a> operation.</p>",
      "members": {
        "aggregateValue": {
          "documentation": "<p>The issue type for the associated count.</p>",
          "shape": "aggregateValue"
        },
        "count": {
          "documentation": "<p>The number of events of the associated issue type.</p>",
          "shape": "count"
        }
      },
      "type": "structure"
    },
    "EventAggregateList": {
      "member": {
        "shape": "EventAggregate"
      },
      "type": "list"
    },
    "EventArnsList": {
      "max": 50,
      "member": {
        "shape": "eventArn"
      },
      "min": 1,
      "type": "list"
    },
    "EventDescription": {
      "documentation": "<p>The detailed description of the event. Included in the information returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> operation.</p>",
      "members": {
        "latestDescription": {
          "documentation": "<p>The most recent description of the event.</p>",
          "shape": "eventDescription"
        }
      },
      "type": "structure"
    },
    "EventDetails": {
      "documentation": "<p>Detailed information about an event. A combination of an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a> object, an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html\">EventDescription</a> object, and additional metadata about the event. Returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> operation.</p>",
      "members": {
        "event": {
          "documentation": "<p>Summary information about the event.</p>",
          "shape": "Event"
        },
        "eventDescription": {
          "documentation": "<p>The most recent description of the event.</p>",
          "shape": "EventDescription"
        },
        "eventMetadata": {
          "documentation": "<p>Additional metadata about the event.</p>",
          "shape": "eventMetadata"
        }
      },
      "type": "structure"
    },
    "EventDetailsErrorItem": {
      "documentation": "<p>Error information returned when a <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> operation can't find a specified event.</p>",
      "members": {
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p>",
          "shape": "string"
        },
        "errorName": {
          "documentation": "<p>The name of the error.</p>",
          "shape": "string"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        }
      },
      "type": "structure"
    },
    "EventFilter": {
      "documentation": "<p>The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html\">DescribeEventAggregates</a> operations.</p>",
      "members": {
        "availabilityZones": {
          "documentation": "<p>A list of Amazon Web Services Availability Zones.</p>",
          "shape": "availabilityZones"
        },
        "endTimes": {
          "documentation": "<p>A list of dates and times that the event ended.</p>",
          "shape": "dateTimeRangeList"
        },
        "entityArns": {
          "documentation": "<p>A list of entity ARNs (unique identifiers).</p>",
          "shape": "entityArnList"
        },
        "entityValues": {
          "documentation": "<p>A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>).</p>",
          "shape": "entityValueList"
        },
        "eventArns": {
          "documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> </p>",
          "shape": "eventArnList"
        },
        "eventStatusCodes": {
          "documentation": "<p>A list of event status codes.</p>",
          "shape": "eventStatusCodeList"
        },
        "eventTypeCategories": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "eventTypeCategoryList"
        },
        "eventTypeCodes": {
          "documentation": "<p>A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code> </p>",
          "shape": "eventTypeList"
        },
        "lastUpdatedTimes": {
          "documentation": "<p>A list of dates and times that the event was last updated.</p>",
          "shape": "dateTimeRangeList"
        },
        "regions": {
          "documentation": "<p>A list of Amazon Web Services Regions.</p>",
          "shape": "regionList"
        },
        "services": {
          "documentation": "<p>The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>",
          "shape": "serviceList"
        },
        "startTimes": {
          "documentation": "<p>A list of dates and times that the event began.</p>",
          "shape": "dateTimeRangeList"
        },
        "tags": {
          "documentation": "<p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>",
          "shape": "tagFilter"
        }
      },
      "type": "structure"
    },
    "EventList": {
      "member": {
        "shape": "Event"
      },
      "type": "list"
    },
    "EventType": {
      "documentation": "<p>Contains the metadata about a type of event that is reported by Health. The <code>EventType</code> shows the category, service, and the event type code of the event. For example, an <code>issue</code> might be the category, <code>EC2</code> the service, and <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code> the event type code.</p> <p>You can use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html\">DescribeEventTypes</a> API operation to return this information about an event.</p> <p>You can also use the Amazon CloudWatch Events console to create a rule so that you can get notified or take action when Health delivers a specific event to your Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/cloudwatch-events-health.html\">Monitor for Health events with Amazon CloudWatch Events</a> in the <i>Health User Guide</i>.</p>",
      "members": {
        "category": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "eventTypeCategory"
        },
        "code": {
          "documentation": "<p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>",
          "shape": "eventTypeCode"
        },
        "service": {
          "documentation": "<p>The Amazon Web Services service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>",
          "shape": "service"
        }
      },
      "type": "structure"
    },
    "EventTypeCategoryList": {
      "max": 10,
      "member": {
        "shape": "eventTypeCategory"
      },
      "min": 1,
      "type": "list"
    },
    "EventTypeCodeList": {
      "max": 10,
      "member": {
        "shape": "eventTypeCode"
      },
      "min": 1,
      "type": "list"
    },
    "EventTypeFilter": {
      "documentation": "<p>The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html\">DescribeEventTypes</a> operation.</p>",
      "members": {
        "eventTypeCategories": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "EventTypeCategoryList"
        },
        "eventTypeCodes": {
          "documentation": "<p>A list of event type codes.</p>",
          "shape": "EventTypeCodeList"
        },
        "services": {
          "documentation": "<p>The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>",
          "shape": "serviceList"
        }
      },
      "type": "structure"
    },
    "EventTypeList": {
      "member": {
        "shape": "EventType"
      },
      "type": "list"
    },
    "InvalidPaginationToken": {
      "documentation": "<p>The specified pagination token (<code>nextToken</code>) is not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "OrganizationAffectedEntitiesErrorItem": {
      "documentation": "<p>Error information returned when a <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> operation can't find or process a specific entity.</p>",
      "members": {
        "awsAccountId": {
          "documentation": "<p>The 12-digit Amazon Web Services account numbers that contains the affected entities.</p>",
          "shape": "accountId"
        },
        "errorMessage": {
          "documentation": "<p>The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>",
          "shape": "string"
        },
        "errorName": {
          "documentation": "<p>The name of the error.</p>",
          "shape": "string"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        }
      },
      "type": "structure"
    },
    "OrganizationEntityFiltersList": {
      "max": 10,
      "member": {
        "shape": "EventAccountFilter"
      },
      "min": 1,
      "type": "list"
    },
    "OrganizationEvent": {
      "documentation": "<p>Summary information about an event, returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html\">DescribeEventsForOrganization</a> operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        },
        "endTime": {
          "documentation": "<p>The date and time that the event ended.</p>",
          "shape": "timestamp"
        },
        "eventScopeCode": {
          "documentation": "<p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>",
          "shape": "eventScopeCode"
        },
        "eventTypeCategory": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "eventTypeCategory"
        },
        "eventTypeCode": {
          "documentation": "<p>The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>",
          "shape": "eventTypeCode"
        },
        "lastUpdatedTime": {
          "documentation": "<p>The most recent date and time that the event was updated.</p>",
          "shape": "timestamp"
        },
        "region": {
          "documentation": "<p>The Amazon Web Services Region name of the event.</p>",
          "shape": "region"
        },
        "service": {
          "documentation": "<p>The Amazon Web Services service that is affected by the event, such as EC2 and RDS.</p>",
          "shape": "service"
        },
        "startTime": {
          "documentation": "<p>The date and time that the event began.</p>",
          "shape": "timestamp"
        },
        "statusCode": {
          "documentation": "<p>The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.</p>",
          "shape": "eventStatusCode"
        }
      },
      "type": "structure"
    },
    "OrganizationEventDetailFiltersList": {
      "max": 10,
      "member": {
        "shape": "EventAccountFilter"
      },
      "min": 1,
      "type": "list"
    },
    "OrganizationEventDetails": {
      "documentation": "<p>Detailed information about an event. A combination of an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a> object, an <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html\">EventDescription</a> object, and additional metadata about the event. Returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> operation.</p>",
      "members": {
        "awsAccountId": {
          "documentation": "<p>The 12-digit Amazon Web Services account numbers that contains the affected entities.</p>",
          "shape": "accountId"
        },
        "event": {
          "shape": "Event"
        },
        "eventDescription": {
          "shape": "EventDescription"
        },
        "eventMetadata": {
          "documentation": "<p>Additional metadata about the event.</p>",
          "shape": "eventMetadata"
        }
      },
      "type": "structure"
    },
    "OrganizationEventDetailsErrorItem": {
      "documentation": "<p>Error information returned when a <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> operation can't find a specified event.</p>",
      "members": {
        "awsAccountId": {
          "documentation": "<p>Error information returned when a <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> operation can't find a specified event.</p>",
          "shape": "accountId"
        },
        "errorMessage": {
          "documentation": "<p>A message that describes the error.</p> <p>If you call the <code>DescribeEventDetailsForOrganization</code> operation and receive one of the following errors, follow the recommendations in the message:</p> <ul> <li> <p>We couldn't find a public event that matches your request. To find an event that is account specific, you must enter an Amazon Web Services account ID in the request.</p> </li> <li> <p>We couldn't find an account specific event for the specified Amazon Web Services account. To find an event that is public, you must enter a null value for the Amazon Web Services account ID in the request.</p> </li> <li> <p>Your Amazon Web Services account doesn't include the Amazon Web Services Support plan required to use the Health API. You must have either a Business, Enterprise On-Ramp, or Enterprise Support plan.</p> </li> </ul>",
          "shape": "string"
        },
        "errorName": {
          "documentation": "<p>The name of the error.</p>",
          "shape": "string"
        },
        "eventArn": {
          "documentation": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>",
          "shape": "eventArn"
        }
      },
      "type": "structure"
    },
    "OrganizationEventFilter": {
      "documentation": "<p>The values to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html\">DescribeEventsForOrganization</a> operation.</p>",
      "members": {
        "awsAccountIds": {
          "documentation": "<p>A list of 12-digit Amazon Web Services account numbers that contains the affected entities.</p>",
          "shape": "awsAccountIdsList"
        },
        "endTime": {
          "shape": "DateTimeRange"
        },
        "entityArns": {
          "documentation": "<p>A list of entity ARNs (unique identifiers).</p>",
          "shape": "entityArnList"
        },
        "entityValues": {
          "documentation": "<p>A list of entity identifiers, such as EC2 instance IDs (i-34ab692e) or EBS volumes (vol-426ab23e).</p>",
          "shape": "entityValueList"
        },
        "eventStatusCodes": {
          "documentation": "<p>A list of event status codes.</p>",
          "shape": "eventStatusCodeList"
        },
        "eventTypeCategories": {
          "documentation": "<p>A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.</p>",
          "shape": "eventTypeCategoryList"
        },
        "eventTypeCodes": {
          "documentation": "<p>A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code> </p>",
          "shape": "eventTypeList"
        },
        "lastUpdatedTime": {
          "shape": "DateTimeRange"
        },
        "regions": {
          "documentation": "<p>A list of Amazon Web Services Regions.</p>",
          "shape": "regionList"
        },
        "services": {
          "documentation": "<p>The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>",
          "shape": "serviceList"
        },
        "startTime": {
          "shape": "DateTimeRange"
        }
      },
      "type": "structure"
    },
    "OrganizationEventList": {
      "member": {
        "shape": "OrganizationEvent"
      },
      "type": "list"
    },
    "UnsupportedLocale": {
      "documentation": "<p>The specified locale is not supported.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "accountId": {
      "max": 12,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "affectedAccountsList": {
      "member": {
        "shape": "accountId"
      },
      "type": "list"
    },
    "aggregateValue": {
      "type": "string"
    },
    "availabilityZone": {
      "max": 18,
      "min": 6,
      "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
      "type": "string"
    },
    "availabilityZones": {
      "member": {
        "shape": "availabilityZone"
      },
      "type": "list"
    },
    "awsAccountIdsList": {
      "max": 50,
      "member": {
        "shape": "accountId"
      },
      "min": 1,
      "type": "list"
    },
    "count": {
      "type": "integer"
    },
    "dateTimeRangeList": {
      "max": 10,
      "member": {
        "shape": "DateTimeRange"
      },
      "min": 1,
      "type": "list"
    },
    "entityArn": {
      "max": 1600,
      "pattern": ".{0,1600}",
      "type": "string"
    },
    "entityArnList": {
      "max": 99,
      "member": {
        "shape": "entityArn"
      },
      "min": 1,
      "type": "list"
    },
    "entityStatusCode": {
      "enum": [
        "IMPAIRED",
        "UNIMPAIRED",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "entityStatusCodeList": {
      "max": 3,
      "member": {
        "shape": "entityStatusCode"
      },
      "min": 1,
      "type": "list"
    },
    "entityUrl": {
      "type": "string"
    },
    "entityValue": {
      "max": 1224,
      "pattern": ".{0,1224}",
      "type": "string"
    },
    "entityValueList": {
      "max": 99,
      "member": {
        "shape": "entityValue"
      },
      "min": 1,
      "type": "list"
    },
    "eventAggregateField": {
      "enum": [
        "eventTypeCategory"
      ],
      "type": "string"
    },
    "eventArn": {
      "max": 1600,
      "pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
      "type": "string"
    },
    "eventArnList": {
      "max": 10,
      "member": {
        "shape": "eventArn"
      },
      "min": 1,
      "type": "list"
    },
    "eventDescription": {
      "type": "string"
    },
    "eventMetadata": {
      "key": {
        "shape": "metadataKey"
      },
      "type": "map",
      "value": {
        "shape": "metadataValue"
      }
    },
    "eventScopeCode": {
      "enum": [
        "PUBLIC",
        "ACCOUNT_SPECIFIC",
        "NONE"
      ],
      "type": "string"
    },
    "eventStatusCode": {
      "enum": [
        "open",
        "closed",
        "upcoming"
      ],
      "type": "string"
    },
    "eventStatusCodeList": {
      "max": 6,
      "member": {
        "shape": "eventStatusCode"
      },
      "min": 1,
      "type": "list"
    },
    "eventType": {
      "max": 100,
      "min": 3,
      "pattern": "[^:/]{3,100}",
      "type": "string"
    },
    "eventTypeCategory": {
      "enum": [
        "issue",
        "accountNotification",
        "scheduledChange",
        "investigation"
      ],
      "max": 255,
      "min": 3,
      "type": "string"
    },
    "eventTypeCategoryList": {
      "max": 10,
      "member": {
        "shape": "eventTypeCategory"
      },
      "min": 1,
      "type": "list"
    },
    "eventTypeCode": {
      "max": 100,
      "min": 3,
      "pattern": "[a-zA-Z0-9\\_\\-]{3,100}",
      "type": "string"
    },
    "eventTypeList": {
      "max": 10,
      "member": {
        "shape": "eventType"
      },
      "min": 1,
      "type": "list"
    },
    "healthServiceAccessStatusForOrganization": {
      "type": "string"
    },
    "locale": {
      "max": 256,
      "min": 2,
      "pattern": ".{2,256}",
      "type": "string"
    },
    "maxResults": {
      "max": 100,
      "min": 10,
      "type": "integer"
    },
    "maxResultsLowerRange": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "metadataKey": {
      "max": 32766,
      "type": "string"
    },
    "metadataValue": {
      "max": 32766,
      "type": "string"
    },
    "nextToken": {
      "max": 10000,
      "min": 4,
      "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
      "type": "string"
    },
    "region": {
      "max": 25,
      "min": 2,
      "pattern": "[^:/]{2,25}",
      "type": "string"
    },
    "regionList": {
      "max": 10,
      "member": {
        "shape": "region"
      },
      "min": 1,
      "type": "list"
    },
    "service": {
      "max": 30,
      "min": 2,
      "pattern": "[^:/]{2,30}",
      "type": "string"
    },
    "serviceList": {
      "max": 10,
      "member": {
        "shape": "service"
      },
      "min": 1,
      "type": "list"
    },
    "string": {
      "type": "string"
    },
    "tagFilter": {
      "max": 50,
      "member": {
        "shape": "tagSet"
      },
      "type": "list"
    },
    "tagKey": {
      "max": 127,
      "pattern": ".{0,127}",
      "type": "string"
    },
    "tagSet": {
      "key": {
        "shape": "tagKey"
      },
      "max": 50,
      "type": "map",
      "value": {
        "shape": "tagValue"
      }
    },
    "tagValue": {
      "max": 255,
      "pattern": ".{0,255}",
      "type": "string"
    },
    "timestamp": {
      "type": "timestamp"
    }
  },
  "version": "2.0"
}
