{
  "documentation": "<fullname>WAF</fullname> <note> <p>This is the latest version of the <b>WAF</b> API, released in November, 2019. The names of the entities that you use to access this API, like endpoints and namespaces, all have the versioning information added, like \"V2\" or \"v2\", to distinguish from the prior version. We recommend migrating your resources to this version, because it has a number of significant improvements.</p> <p>If you used WAF prior to this release, you can't use this WAFV2 API to access any WAF resources that you created before. You can access your old rules, web ACLs, and other WAF resources only through the WAF Classic APIs. The WAF Classic APIs have retained the prior names, endpoints, and namespaces. </p> <p>For information, including how to migrate your WAF resources to this version, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p> </note> <p>WAF is a web application firewall that lets you monitor the HTTP and HTTPS requests that are forwarded to Amazon CloudFront, an Amazon API Gateway REST API, an Application Load Balancer, an AppSync GraphQL API, or an Amazon Cognito user pool. WAF also lets you control access to your content. Based on conditions that you specify, such as the IP addresses that requests originate from or the values of query strings, the Amazon API Gateway REST API, CloudFront distribution, the Application Load Balancer, the AppSync GraphQL API, or the Amazon Cognito user pool responds to requests either with the requested content or with an HTTP 403 status code (Forbidden). You also can configure CloudFront to return a custom error page when a request is blocked.</p> <p>This API guide is for developers who need detailed information about WAF API actions, data types, and errors. For detailed information about WAF features and an overview of how to use WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/what-is-aws-waf.html\">WAF Developer Guide</a>.</p> <p>You can make calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/waf.html\">WAF endpoints and quotas</a>. </p> <ul> <li> <p>For regional applications, you can use any of the endpoints in the list. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> </li> <li> <p>For Amazon CloudFront applications, you must use the API endpoint listed for US East (N. Virginia): us-east-1.</p> </li> </ul> <p>Alternatively, you can use one of the Amazon Web Services SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p> <p>We currently provide two versions of the WAF API: this API and the prior versions, the classic WAF APIs. This new API provides the same functionality as the older versions, with the following major improvements:</p> <ul> <li> <p>You use one API for both global and regional applications. Where you need to distinguish the scope, you specify a <code>Scope</code> parameter and set it to <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p> </li> <li> <p>You can define a web ACL or rule group with a single call, and update it with a single call. You define all rule specifications in JSON format, and pass them to your rule group or web ACL calls.</p> </li> <li> <p>The limits WAF places on the use of rules more closely reflects the cost of running each type of rule. Rule groups include capacity settings, so you know the maximum cost of a rule group when you use it.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2019-07-29",
    "endpointPrefix": "wafv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAFV2",
    "serviceFullName": "AWS WAFV2",
    "serviceId": "WAFV2",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_20190729",
    "uid": "wafv2-2019-07-29"
  },
  "operations": {
    "AssociateWebACL": {
      "documentation": "<p>Associates a web ACL with a regional application resource, to protect the resource. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> <p>For Amazon CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To associate a web ACL, in the CloudFront call <code>UpdateDistribution</code>, set the web ACL ID to the Amazon Resource Name (ARN) of the web ACL. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p> <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateWebACLRequest"
      },
      "name": "AssociateWebACL",
      "output": {
        "shape": "AssociateWebACLResponse"
      }
    },
    "CheckCapacity": {
      "documentation": "<p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. You can use this to check the capacity requirements for the rules you want to use in a <a>RuleGroup</a> or <a>WebACL</a>. </p> <p>WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFExpiredManagedRuleGroupVersionException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckCapacityRequest"
      },
      "name": "CheckCapacity",
      "output": {
        "shape": "CheckCapacityResponse"
      }
    },
    "CreateIPSet": {
      "documentation": "<p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure WAF to block them using an IPSet that lists those IP addresses. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIPSetRequest"
      },
      "name": "CreateIPSet",
      "output": {
        "shape": "CreateIPSetResponse"
      }
    },
    "CreateRegexPatternSet": {
      "documentation": "<p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have WAF inspect a web request component for the specified patterns.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRegexPatternSetRequest"
      },
      "name": "CreateRegexPatternSet",
      "output": {
        "shape": "CreateRegexPatternSetResponse"
      }
    },
    "CreateRuleGroup": {
      "documentation": "<p>Creates a <a>RuleGroup</a> per the specifications provided. </p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleGroupRequest"
      },
      "name": "CreateRuleGroup",
      "output": {
        "shape": "CreateRuleGroupResponse"
      }
    },
    "CreateWebACL": {
      "documentation": "<p>Creates a <a>WebACL</a> per the specifications provided.</p> <p> A web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a web ACL with one or more Amazon Web Services resources to protect. The resources can be an Amazon CloudFront distribution, an Amazon API Gateway REST API, an Application Load Balancer, an AppSync GraphQL API, or an Amazon Cognito user pool. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFConfigurationWarningException"
        },
        {
          "shape": "WAFExpiredManagedRuleGroupVersionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWebACLRequest"
      },
      "name": "CreateWebACL",
      "output": {
        "shape": "CreateWebACLResponse"
      }
    },
    "DeleteFirewallManagerRuleGroups": {
      "documentation": "<p>Deletes all rule groups that are managed by Firewall Manager for the specified web ACL. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallManagerRuleGroupsRequest"
      },
      "name": "DeleteFirewallManagerRuleGroups",
      "output": {
        "shape": "DeleteFirewallManagerRuleGroupsResponse"
      }
    },
    "DeleteIPSet": {
      "documentation": "<p>Deletes the specified <a>IPSet</a>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIPSetRequest"
      },
      "name": "DeleteIPSet",
      "output": {
        "shape": "DeleteIPSetResponse"
      }
    },
    "DeleteLoggingConfiguration": {
      "documentation": "<p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoggingConfigurationRequest"
      },
      "name": "DeleteLoggingConfiguration",
      "output": {
        "shape": "DeleteLoggingConfigurationResponse"
      }
    },
    "DeletePermissionPolicy": {
      "documentation": "<p>Permanently deletes an IAM policy from the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionPolicyRequest"
      },
      "name": "DeletePermissionPolicy",
      "output": {
        "shape": "DeletePermissionPolicyResponse"
      }
    },
    "DeleteRegexPatternSet": {
      "documentation": "<p>Deletes the specified <a>RegexPatternSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRegexPatternSetRequest"
      },
      "name": "DeleteRegexPatternSet",
      "output": {
        "shape": "DeleteRegexPatternSetResponse"
      }
    },
    "DeleteRuleGroup": {
      "documentation": "<p>Deletes the specified <a>RuleGroup</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleGroupRequest"
      },
      "name": "DeleteRuleGroup",
      "output": {
        "shape": "DeleteRuleGroupResponse"
      }
    },
    "DeleteWebACL": {
      "documentation": "<p>Deletes the specified <a>WebACL</a>. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p> <note> <p>Before deleting any web ACL, first disassociate it from all resources.</p> <ul> <li> <p>To retrieve a list of the resources that are associated with a web ACL, use the following calls:</p> <ul> <li> <p>For regional resources, call <a>ListResourcesForWebACL</a>.</p> </li> <li> <p>For Amazon CloudFront distributions, use the CloudFront call <code>ListDistributionsByWebACLId</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_ListDistributionsByWebACLId.html\">ListDistributionsByWebACLId</a>.</p> </li> </ul> </li> <li> <p>To disassociate a resource from a web ACL, use the following calls:</p> <ul> <li> <p>For regional resources, call <a>DisassociateWebACL</a>.</p> </li> <li> <p>For Amazon CloudFront distributions, provide an empty web ACL ID in the CloudFront call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p> </li> </ul> </li> </ul> </note>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebACLRequest"
      },
      "name": "DeleteWebACL",
      "output": {
        "shape": "DeleteWebACLResponse"
      }
    },
    "DescribeManagedRuleGroup": {
      "documentation": "<p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFExpiredManagedRuleGroupVersionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeManagedRuleGroupRequest"
      },
      "name": "DescribeManagedRuleGroup",
      "output": {
        "shape": "DescribeManagedRuleGroupResponse"
      }
    },
    "DisassociateWebACL": {
      "documentation": "<p>Disassociates the specified regional application resource from any existing web ACL association. A resource can have at most one web ACL association. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> <p>For Amazon CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To disassociate a web ACL, provide an empty web ACL ID in the CloudFront call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateWebACLRequest"
      },
      "name": "DisassociateWebACL",
      "output": {
        "shape": "DisassociateWebACLResponse"
      }
    },
    "GenerateMobileSdkReleaseUrl": {
      "documentation": "<p>Generates a presigned download URL for the specified release of the mobile SDK.</p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateMobileSdkReleaseUrlRequest"
      },
      "name": "GenerateMobileSdkReleaseUrl",
      "output": {
        "shape": "GenerateMobileSdkReleaseUrlResponse"
      }
    },
    "GetIPSet": {
      "documentation": "<p>Retrieves the specified <a>IPSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetIPSetRequest"
      },
      "name": "GetIPSet",
      "output": {
        "shape": "GetIPSetResponse"
      }
    },
    "GetLoggingConfiguration": {
      "documentation": "<p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoggingConfigurationRequest"
      },
      "name": "GetLoggingConfiguration",
      "output": {
        "shape": "GetLoggingConfigurationResponse"
      }
    },
    "GetManagedRuleSet": {
      "documentation": "<p>Retrieves the specified managed rule set. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetManagedRuleSetRequest"
      },
      "name": "GetManagedRuleSet",
      "output": {
        "shape": "GetManagedRuleSetResponse"
      }
    },
    "GetMobileSdkRelease": {
      "documentation": "<p>Retrieves information for the specified mobile SDK release, including release notes and tags.</p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMobileSdkReleaseRequest"
      },
      "name": "GetMobileSdkRelease",
      "output": {
        "shape": "GetMobileSdkReleaseResponse"
      }
    },
    "GetPermissionPolicy": {
      "documentation": "<p>Returns the IAM policy that is attached to the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPermissionPolicyRequest"
      },
      "name": "GetPermissionPolicy",
      "output": {
        "shape": "GetPermissionPolicyResponse"
      }
    },
    "GetRateBasedStatementManagedKeys": {
      "documentation": "<p>Retrieves the keys that are currently blocked by a rate-based rule instance. The maximum number of managed keys that can be blocked for a single rate-based rule instance is 10,000. If more than 10,000 addresses exceed the rate limit, those with the highest rates are blocked.</p> <p>For a rate-based rule that you've defined inside a rule group, provide the name of the rule group reference statement in your request, in addition to the rate-based rule name and the web ACL name. </p> <p>WAF monitors web requests and manages keys independently for each unique combination of web ACL, optional rule group, and rate-based rule. For example, if you define a rate-based rule inside a rule group, and then use the rule group in a web ACL, WAF monitors web requests and manages keys for that web ACL, rule group reference statement, and rate-based rule instance. If you use the same rule group in a second web ACL, WAF monitors web requests and manages keys for this second usage completely independent of your first. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRateBasedStatementManagedKeysRequest"
      },
      "name": "GetRateBasedStatementManagedKeys",
      "output": {
        "shape": "GetRateBasedStatementManagedKeysResponse"
      }
    },
    "GetRegexPatternSet": {
      "documentation": "<p>Retrieves the specified <a>RegexPatternSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegexPatternSetRequest"
      },
      "name": "GetRegexPatternSet",
      "output": {
        "shape": "GetRegexPatternSetResponse"
      }
    },
    "GetRuleGroup": {
      "documentation": "<p>Retrieves the specified <a>RuleGroup</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRuleGroupRequest"
      },
      "name": "GetRuleGroup",
      "output": {
        "shape": "GetRuleGroupResponse"
      }
    },
    "GetSampledRequests": {
      "documentation": "<p>Gets detailed information about a specified number of requests--a sample--that WAF randomly selects from among the first 5,000 requests that your Amazon Web Services resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which WAF selected the requests in the sample.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSampledRequestsRequest"
      },
      "name": "GetSampledRequests",
      "output": {
        "shape": "GetSampledRequestsResponse"
      }
    },
    "GetWebACL": {
      "documentation": "<p>Retrieves the specified <a>WebACL</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLRequest"
      },
      "name": "GetWebACL",
      "output": {
        "shape": "GetWebACLResponse"
      }
    },
    "GetWebACLForResource": {
      "documentation": "<p>Retrieves the <a>WebACL</a> for the specified resource. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLForResourceRequest"
      },
      "name": "GetWebACLForResource",
      "output": {
        "shape": "GetWebACLForResourceResponse"
      }
    },
    "ListAvailableManagedRuleGroupVersions": {
      "documentation": "<p>Returns a list of the available versions for the specified managed rule group. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableManagedRuleGroupVersionsRequest"
      },
      "name": "ListAvailableManagedRuleGroupVersions",
      "output": {
        "shape": "ListAvailableManagedRuleGroupVersionsResponse"
      }
    },
    "ListAvailableManagedRuleGroups": {
      "documentation": "<p>Retrieves an array of managed rule groups that are available for you to use. This list includes all Amazon Web Services Managed Rules rule groups and all of the Amazon Web Services Marketplace managed rule groups that you're subscribed to.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableManagedRuleGroupsRequest"
      },
      "name": "ListAvailableManagedRuleGroups",
      "output": {
        "shape": "ListAvailableManagedRuleGroupsResponse"
      }
    },
    "ListIPSets": {
      "documentation": "<p>Retrieves an array of <a>IPSetSummary</a> objects for the IP sets that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIPSetsRequest"
      },
      "name": "ListIPSets",
      "output": {
        "shape": "ListIPSetsResponse"
      }
    },
    "ListLoggingConfigurations": {
      "documentation": "<p>Retrieves an array of your <a>LoggingConfiguration</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLoggingConfigurationsRequest"
      },
      "name": "ListLoggingConfigurations",
      "output": {
        "shape": "ListLoggingConfigurationsResponse"
      }
    },
    "ListManagedRuleSets": {
      "documentation": "<p>Retrieves the managed rule sets that you own. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListManagedRuleSetsRequest"
      },
      "name": "ListManagedRuleSets",
      "output": {
        "shape": "ListManagedRuleSetsResponse"
      }
    },
    "ListMobileSdkReleases": {
      "documentation": "<p>Retrieves a list of the available releases for the mobile SDK and the specified device platform. </p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMobileSdkReleasesRequest"
      },
      "name": "ListMobileSdkReleases",
      "output": {
        "shape": "ListMobileSdkReleasesResponse"
      }
    },
    "ListRegexPatternSets": {
      "documentation": "<p>Retrieves an array of <a>RegexPatternSetSummary</a> objects for the regex pattern sets that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRegexPatternSetsRequest"
      },
      "name": "ListRegexPatternSets",
      "output": {
        "shape": "ListRegexPatternSetsResponse"
      }
    },
    "ListResourcesForWebACL": {
      "documentation": "<p>Retrieves an array of the Amazon Resource Names (ARNs) for the regional resources that are associated with the specified web ACL. If you want the list of Amazon CloudFront resources, use the CloudFront call <code>ListDistributionsByWebACLId</code>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesForWebACLRequest"
      },
      "name": "ListResourcesForWebACL",
      "output": {
        "shape": "ListResourcesForWebACLResponse"
      }
    },
    "ListRuleGroups": {
      "documentation": "<p>Retrieves an array of <a>RuleGroupSummary</a> objects for the rule groups that you manage. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRuleGroupsRequest"
      },
      "name": "ListRuleGroups",
      "output": {
        "shape": "ListRuleGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the <a>TagInfoForResource</a> for the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through WAF: web ACLs, rule groups, IP sets, and regex pattern sets. You can't manage or view tags through the WAF console. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWebACLs": {
      "documentation": "<p>Retrieves an array of <a>WebACLSummary</a> objects for the web ACLs that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWebACLsRequest"
      },
      "name": "ListWebACLs",
      "output": {
        "shape": "ListWebACLsResponse"
      }
    },
    "PutLoggingConfiguration": {
      "documentation": "<p>Enables the specified <a>LoggingConfiguration</a>, to start logging from a web ACL, according to the configuration provided. </p> <note> <p>You can define one logging destination per web ACL.</p> </note> <p>You can access information about the traffic that WAF inspects using the following steps:</p> <ol> <li> <p>Create your logging destination. You can use an Amazon CloudWatch Logs log group, an Amazon Simple Storage Service (Amazon S3) bucket, or an Amazon Kinesis Data Firehose. For information about configuring logging destinations and the permissions that are required for each, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging web ACL traffic information</a> in the <i>WAF Developer Guide</i>.</p> </li> <li> <p>Associate your logging destination to your web ACL using a <code>PutLoggingConfiguration</code> request.</p> </li> </ol> <p>When you successfully enable logging using a <code>PutLoggingConfiguration</code> request, WAF creates an additional role or policy that is required to write logs to the logging destination. For an Amazon CloudWatch Logs log group, WAF creates a resource policy on the log group. For an Amazon S3 bucket, WAF creates a bucket policy. For an Amazon Kinesis Data Firehose, WAF creates a service-linked role.</p> <p>For additional information about web ACL logging, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging web ACL traffic information</a> in the <i>WAF Developer Guide</i>.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the logging configuration with the ones that you provide to this call. To modify the logging configuration, retrieve it by calling <a>GetLoggingConfiguration</a>, update the settings as needed, and then provide the complete logging configuration specification to this call.</p> </note>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFServiceLinkedRoleErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFLogDestinationPermissionIssueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLoggingConfigurationRequest"
      },
      "name": "PutLoggingConfiguration",
      "output": {
        "shape": "PutLoggingConfigurationResponse"
      }
    },
    "PutManagedRuleSetVersions": {
      "documentation": "<p>Defines the versions of your managed rule set that you are offering to the customers. Customers see your offerings as managed rule groups with versioning.</p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note> <p>Customers retrieve their managed rule group list by calling <a>ListAvailableManagedRuleGroups</a>. The name that you provide here for your managed rule set is the name the customer sees for the corresponding managed rule group. Customers can retrieve the available versions for a managed rule group by calling <a>ListAvailableManagedRuleGroupVersions</a>. You provide a rule group specification for each version. For each managed rule set, you must specify a version that you recommend using. </p> <p>To initiate the expiration of a managed rule group version, use <a>UpdateManagedRuleSetVersionExpiryDate</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutManagedRuleSetVersionsRequest"
      },
      "name": "PutManagedRuleSetVersions",
      "output": {
        "shape": "PutManagedRuleSetVersionsResponse"
      }
    },
    "PutPermissionPolicy": {
      "documentation": "<p>Attaches an IAM policy to the specified resource. Use this to share a rule group across accounts.</p> <p>You must be the owner of the rule group to perform this operation.</p> <p>This action is subject to the following restrictions:</p> <ul> <li> <p>You can attach only one policy with each <code>PutPermissionPolicy</code> request.</p> </li> <li> <p>The ARN in the request must be a valid WAF <a>RuleGroup</a> ARN and the rule group must exist in the same Region.</p> </li> <li> <p>The user making the request must be the owner of the rule group.</p> </li> </ul>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidPermissionPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPermissionPolicyRequest"
      },
      "name": "PutPermissionPolicy",
      "output": {
        "shape": "PutPermissionPolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates tags with the specified Amazon Web Services resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through WAF: web ACLs, rule groups, IP sets, and regex pattern sets. You can't manage or view tags through the WAF console. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Disassociates tags from an Amazon Web Services resource. Tags are key:value pairs that you can associate with Amazon Web Services resources. For example, the tag key might be \"customer\" and the tag value might be \"companyA.\" You can specify one or more tags to add to each container. You can add up to 50 tags to each Amazon Web Services resource.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateIPSet": {
      "documentation": "<p>Updates the specified <a>IPSet</a>. </p> <note> <p>This operation completely replaces the mutable specifications that you already have for the IP set with the ones that you provide to this call. To modify the IP set, retrieve it by calling <a>GetIPSet</a>, update the settings as needed, and then provide the complete IP set specification to this call.</p> </note> <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIPSetRequest"
      },
      "name": "UpdateIPSet",
      "output": {
        "shape": "UpdateIPSetResponse"
      }
    },
    "UpdateManagedRuleSetVersionExpiryDate": {
      "documentation": "<p>Updates the expiration information for your managed rule set. Use this to initiate the expiration of a managed rule group version. After you initiate expiration for a version, WAF excludes it from the response to <a>ListAvailableManagedRuleGroupVersions</a> for the managed rule group. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateManagedRuleSetVersionExpiryDateRequest"
      },
      "name": "UpdateManagedRuleSetVersionExpiryDate",
      "output": {
        "shape": "UpdateManagedRuleSetVersionExpiryDateResponse"
      }
    },
    "UpdateRegexPatternSet": {
      "documentation": "<p>Updates the specified <a>RegexPatternSet</a>.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the regex pattern set with the ones that you provide to this call. To modify the regex pattern set, retrieve it by calling <a>GetRegexPatternSet</a>, update the settings as needed, and then provide the complete regex pattern set specification to this call.</p> </note> <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRegexPatternSetRequest"
      },
      "name": "UpdateRegexPatternSet",
      "output": {
        "shape": "UpdateRegexPatternSetResponse"
      }
    },
    "UpdateRuleGroup": {
      "documentation": "<p>Updates the specified <a>RuleGroup</a>.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the rule group with the ones that you provide to this call. To modify the rule group, retrieve it by calling <a>GetRuleGroup</a>, update the settings as needed, and then provide the complete rule group specification to this call.</p> </note> <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFConfigurationWarningException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleGroupRequest"
      },
      "name": "UpdateRuleGroup",
      "output": {
        "shape": "UpdateRuleGroupResponse"
      }
    },
    "UpdateWebACL": {
      "documentation": "<p>Updates the specified <a>WebACL</a>. While updating a web ACL, WAF provides continuous coverage to the resources that you have associated with the web ACL. </p> <p>When you make changes to web ACLs or web ACL components, like rules and rule groups, WAF propagates the changes everywhere that the web ACL and its components are stored and used. Your changes are applied within seconds, but there might be a brief period of inconsistency when the changes have arrived in some places and not in others. So, for example, if you change a rule action setting, the action might be the old action in one area and the new action in another area. Or if you add an IP address to an IP set used in a blocking rule, the new address might briefly be blocked in one area while still allowed in another. This temporary inconsistency can occur when you first associate a web ACL with an Amazon Web Services resource and when you change a web ACL that is already associated with a resource. Generally, any inconsistencies of this type last only a few seconds.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the web ACL with the ones that you provide to this call. To modify the web ACL, retrieve it by calling <a>GetWebACL</a>, update the settings as needed, and then provide the complete web ACL specification to this call.</p> </note> <p> A web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a web ACL with one or more Amazon Web Services resources to protect. The resources can be an Amazon CloudFront distribution, an Amazon API Gateway REST API, an Application Load Balancer, an AppSync GraphQL API, or an Amazon Cognito user pool. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFExpiredManagedRuleGroupVersionException"
        },
        {
          "shape": "WAFConfigurationWarningException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWebACLRequest"
      },
      "name": "UpdateWebACL",
      "output": {
        "shape": "UpdateWebACLResponse"
      }
    }
  },
  "shapes": {
    "AWSManagedRulesBotControlRuleSet": {
      "documentation": "<p>Details for your use of the Bot Control managed rule group, used in <code>ManagedRuleGroupConfig</code>. </p>",
      "members": {
        "InspectionLevel": {
          "documentation": "<p>The inspection level to use for the Bot Control rule group. The common level is the least expensive. The targeted level includes all common level rules and adds rules with more advanced inspection criteria. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-bot.html\">WAF Bot Control rule group</a>.</p>",
          "shape": "InspectionLevel"
        }
      },
      "required": [
        "InspectionLevel"
      ],
      "type": "structure"
    },
    "Action": {
      "type": "string"
    },
    "ActionCondition": {
      "documentation": "<p>A single action condition for a <a>Condition</a> in a logging filter.</p>",
      "members": {
        "Action": {
          "documentation": "<p>The action setting that a log record must contain in order to meet the condition. This is the action that WAF applied to the web request. </p> <p>For rule groups, this is either the configured rule action setting, or if you've applied a rule action override to the rule, it's the override action. The value <code>EXCLUDED_AS_COUNT</code> matches on excluded rules and also on rules that have a rule action override of Count. </p>",
          "shape": "ActionValue"
        }
      },
      "required": [
        "Action"
      ],
      "type": "structure"
    },
    "ActionValue": {
      "enum": [
        "ALLOW",
        "BLOCK",
        "COUNT",
        "CAPTCHA",
        "CHALLENGE",
        "EXCLUDED_AS_COUNT"
      ],
      "type": "string"
    },
    "All": {
      "documentation": "<p>Inspect all of the elements that WAF has parsed and extracted from the web request component that you've identified in your <a>FieldToMatch</a> specifications. </p> <p>This is used only in the <a>FieldToMatch</a> specification for some web request component types. </p> <p>JSON specification: <code>\"All\": {}</code> </p>",
      "members": {},
      "type": "structure"
    },
    "AllQueryArguments": {
      "documentation": "<p>Inspect all query arguments of the web request. </p> <p>This is used only in the <a>FieldToMatch</a> specification for some web request component types. </p> <p>JSON specification: <code>\"AllQueryArguments\": {}</code> </p>",
      "members": {},
      "type": "structure"
    },
    "AllowAction": {
      "documentation": "<p>Specifies that WAF should allow the request and optionally defines additional custom handling for the request.</p> <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {
        "CustomRequestHandling": {
          "documentation": "<p>Defines custom handling for the web request.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
          "shape": "CustomRequestHandling"
        }
      },
      "type": "structure"
    },
    "AndStatement": {
      "documentation": "<p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>",
      "members": {
        "Statements": {
          "documentation": "<p>The statements to combine with AND logic. You can use any statements that can be nested. </p>",
          "shape": "Statements"
        }
      },
      "required": [
        "Statements"
      ],
      "type": "structure"
    },
    "AssociateWebACLRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p> <p>The ARN must be in one of the following formats:</p> <ul> <li> <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i> </code> </p> </li> <li> <p>For an Amazon API Gateway REST API: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i> </code> </p> </li> <li> <p>For an AppSync GraphQL API: <code>arn:aws:appsync:<i>region</i>:<i>account-id</i>:apis/<i>GraphQLApiId</i> </code> </p> </li> <li> <p>For an Amazon Cognito user pool: <code>arn:aws:cognito-idp:<i>region</i>:<i>account-id</i>:userpool/<i>user-pool-id</i> </code> </p> </li> </ul>",
          "shape": "ResourceArn"
        },
        "WebACLArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the web ACL that you want to associate with the resource.</p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "WebACLArn",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "AssociateWebACLResponse": {
      "members": {},
      "type": "structure"
    },
    "BlockAction": {
      "documentation": "<p>Specifies that WAF should block the request and optionally defines additional custom handling for the response to the web request.</p> <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {
        "CustomResponse": {
          "documentation": "<p>Defines a custom response for the web request.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
          "shape": "CustomResponse"
        }
      },
      "type": "structure"
    },
    "Body": {
      "documentation": "<p>Inspect the body of the web request. The body immediately follows the request headers.</p> <p>This is used to indicate the web request component to inspect, in the <a>FieldToMatch</a> specification. </p>",
      "members": {
        "OversizeHandling": {
          "documentation": "<p>What WAF should do if the body is larger than WAF can inspect. WAF does not support inspecting the entire contents of the body of a web request when the body exceeds 8 KB (8192 bytes). Only the first 8 KB of the request body are forwarded to WAF by the underlying host service. </p> <p>The options for oversize handling are the following:</p> <ul> <li> <p> <code>CONTINUE</code> - Inspect the body normally, according to the rule inspection criteria. </p> </li> <li> <p> <code>MATCH</code> - Treat the web request as matching the rule statement. WAF applies the rule action to the request.</p> </li> <li> <p> <code>NO_MATCH</code> - Treat the web request as not matching the rule statement.</p> </li> </ul> <p>You can combine the <code>MATCH</code> or <code>NO_MATCH</code> settings for oversize handling with your rule and web ACL action settings, so that you block any request whose body is over 8 KB. </p> <p>Default: <code>CONTINUE</code> </p>",
          "shape": "OversizeHandling"
        }
      },
      "type": "structure"
    },
    "BodyParsingFallbackBehavior": {
      "enum": [
        "MATCH",
        "NO_MATCH",
        "EVALUATE_AS_STRING"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ByteMatchStatement": {
      "documentation": "<p>A rule statement that defines a string match search for WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the WAF console and the developer guide, this is called a string match statement.</p>",
      "members": {
        "FieldToMatch": {
          "documentation": "<p>The part of the web request that you want WAF to inspect. </p>",
          "shape": "FieldToMatch"
        },
        "PositionalConstraint": {
          "documentation": "<p>The area within the portion of the web request that you want WAF to search for <code>SearchString</code>. Valid values include the following:</p> <p> <b>CONTAINS</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, but the location doesn't matter.</p> <p> <b>CONTAINS_WORD</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, and <code>SearchString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>SearchString</code> must be a word, which means that both of the following are true:</p> <ul> <li> <p> <code>SearchString</code> is at the beginning of the specified part of the web request or is preceded by a character other than an alphanumeric character or underscore (_). Examples include the value of a header and <code>;BadBot</code>.</p> </li> <li> <p> <code>SearchString</code> is at the end of the specified part of the web request or is followed by a character other than an alphanumeric character or underscore (_), for example, <code>BadBot;</code> and <code>-BadBot;</code>.</p> </li> </ul> <p> <b>EXACTLY</b> </p> <p>The value of the specified part of the web request must exactly match the value of <code>SearchString</code>.</p> <p> <b>STARTS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the beginning of the specified part of the web request.</p> <p> <b>ENDS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the end of the specified part of the web request.</p>",
          "shape": "PositionalConstraint"
        },
        "SearchString": {
          "documentation": "<p>A string value that you want WAF to search for. WAF searches only in the part of web requests that you designate for inspection in <a>FieldToMatch</a>. The maximum length of the value is 50 bytes.</p> <p>Valid values depend on the component that you specify for inspection in <code>FieldToMatch</code>:</p> <ul> <li> <p> <code>Method</code>: The HTTP method that you want WAF to search for. This indicates the type of operation specified in the request. </p> </li> <li> <p> <code>UriPath</code>: The value that you want WAF to search for in the URI path, for example, <code>/images/daily-ad.jpg</code>. </p> </li> </ul> <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p> <p> <b>If you're using the WAF API</b> </p> <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p> <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value of <code>Data</code> is <code>User-Agent</code>. If you want to search the <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode <code>BadBot</code> using MIME base64-encoding and include the resulting value, <code>QmFkQm90</code>, in the value of <code>SearchString</code>.</p> <p> <b>If you're using the CLI or one of the Amazon Web Services SDKs</b> </p> <p>The value that you want WAF to search for. The SDK automatically base64 encodes the value.</p>",
          "shape": "SearchString"
        },
        "TextTransformations": {
          "documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. If you specify one or more transformations in a rule statement, WAF performs all transformations on the content of the request component identified by <code>FieldToMatch</code>, starting from the lowest priority setting, before inspecting the content for a match.</p>",
          "shape": "TextTransformations"
        }
      },
      "required": [
        "SearchString",
        "FieldToMatch",
        "TextTransformations",
        "PositionalConstraint"
      ],
      "type": "structure"
    },
    "CapacityUnit": {
      "min": 1,
      "type": "long"
    },
    "CaptchaAction": {
      "documentation": "<p>Specifies that WAF should run a <code>CAPTCHA</code> check against the request: </p> <ul> <li> <p>If the request includes a valid, unexpired <code>CAPTCHA</code> token, WAF applies any custom request handling and labels that you've configured and then allows the web request inspection to proceed to the next rule, similar to a <code>CountAction</code>. </p> </li> <li> <p>If the request doesn't include a valid, unexpired token, WAF discontinues the web ACL evaluation of the request and blocks it from going to its intended destination.</p> <p>WAF generates a response that it sends back to the client, which includes the following: </p> <ul> <li> <p>The header <code>x-amzn-waf-action</code> with a value of <code>captcha</code>. </p> </li> <li> <p>The HTTP status code <code>405 Method Not Allowed</code>. </p> </li> <li> <p>If the request contains an <code>Accept</code> header with a value of <code>text/html</code>, the response includes a <code>CAPTCHA</code> JavaScript page interstitial. </p> </li> </ul> </li> </ul> <p>You can configure the expiration time in the <code>CaptchaConfig</code> <code>ImmunityTimeProperty</code> setting at the rule and web ACL level. The rule setting overrides the web ACL setting. </p> <p>This action option is available for rules. It isn't available for web ACL default actions. </p>",
      "members": {
        "CustomRequestHandling": {
          "documentation": "<p>Defines custom handling for the web request, used when the <code>CAPTCHA</code> inspection determines that the request's token is valid and unexpired.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
          "shape": "CustomRequestHandling"
        }
      },
      "type": "structure"
    },
    "CaptchaConfig": {
      "documentation": "<p>Specifies how WAF should handle <code>CAPTCHA</code> evaluations. This is available at the web ACL level and in each rule. </p>",
      "members": {
        "ImmunityTimeProperty": {
          "documentation": "<p>Determines how long a <code>CAPTCHA</code> timestamp in the token remains valid after the client successfully solves a <code>CAPTCHA</code> puzzle. </p>",
          "shape": "ImmunityTimeProperty"
        }
      },
      "type": "structure"
    },
    "CaptchaResponse": {
      "documentation": "<p>The result from the inspection of the web request for a valid <code>CAPTCHA</code> token. </p>",
      "members": {
        "FailureReason": {
          "documentation": "<p>The reason for failure, populated when the evaluation of the token fails.</p>",
          "shape": "FailureReason"
        },
        "ResponseCode": {
          "documentation": "<p>The HTTP response code indicating the status of the <code>CAPTCHA</code> token in the web request. If the token is missing, invalid, or expired, this code is <code>405 Method Not Allowed</code>.</p>",
          "shape": "ResponseCode"
        },
        "SolveTimestamp": {
          "documentation": "<p>The time that the <code>CAPTCHA</code> was last solved for the supplied token. </p>",
          "shape": "SolveTimestamp"
        }
      },
      "type": "structure"
    },
    "ChallengeAction": {
      "documentation": "<p>Specifies that WAF should run a <code>Challenge</code> check against the request to verify that the request is coming from a legitimate client session: </p> <ul> <li> <p>If the request includes a valid, unexpired challenge token, WAF applies any custom request handling and labels that you've configured and then allows the web request inspection to proceed to the next rule, similar to a <code>CountAction</code>. </p> </li> <li> <p>If the request doesn't include a valid, unexpired challenge token, WAF discontinues the web ACL evaluation of the request and blocks it from going to its intended destination.</p> <p>WAF then generates a challenge response that it sends back to the client, which includes the following: </p> <ul> <li> <p>The header <code>x-amzn-waf-action</code> with a value of <code>challenge</code>. </p> </li> <li> <p>The HTTP status code <code>202 Request Accepted</code>. </p> </li> <li> <p>If the request contains an <code>Accept</code> header with a value of <code>text/html</code>, the response includes a JavaScript page interstitial with a challenge script. </p> </li> </ul> <p>Challenges run silent browser interrogations in the background, and don't generally affect the end user experience. </p> <p>A challenge enforces token acquisition using an interstitial JavaScript challenge that inspects the client session for legitimate behavior. The challenge blocks bots or at least increases the cost of operating sophisticated bots. </p> <p>After the client session successfully responds to the challenge, it receives a new token from WAF, which the challenge script uses to resubmit the original request. </p> </li> </ul> <p>You can configure the expiration time in the <code>ChallengeConfig</code> <code>ImmunityTimeProperty</code> setting at the rule and web ACL level. The rule setting overrides the web ACL setting. </p> <p>This action option is available for rules. It isn't available for web ACL default actions. </p>",
      "members": {
        "CustomRequestHandling": {
          "documentation": "<p>Defines custom handling for the web request, used when the challenge inspection determines that the request's token is valid and unexpired.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
          "shape": "CustomRequestHandling"
        }
      },
      "type": "structure"
    },
    "ChallengeConfig": {
      "documentation": "<p>Specifies how WAF should handle <code>Challenge</code> evaluations. This is available at the web ACL level and in each rule. </p>",
      "members": {
        "ImmunityTimeProperty": {
          "documentation": "<p>Determines how long a challenge timestamp in the token remains valid after the client successfully responds to a challenge. </p>",
          "shape": "ImmunityTimeProperty"
        }
      },
      "type": "structure"
    },
    "ChallengeResponse": {
      "documentation": "<p>The result from the inspection of the web request for a valid challenge token. </p>",
      "members": {
        "FailureReason": {
          "documentation": "<p>The reason for failure, populated when the evaluation of the token fails.</p>",
          "shape": "FailureReason"
        },
        "ResponseCode": {
          "documentation": "<p>The HTTP response code indicating the status of the challenge token in the web request. If the token is missing, invalid, or expired, this code is <code>202 Request Accepted</code>.</p>",
          "shape": "ResponseCode"
        },
        "SolveTimestamp": {
          "documentation": "<p>The time that the challenge was last solved for the supplied token. </p>",
          "shape": "SolveTimestamp"
        }
      },
      "type": "structure"
    },
    "CheckCapacityRequest": {
      "members": {
        "Rules": {
          "documentation": "<p>An array of <a>Rule</a> that you're configuring to use in a rule group or web ACL. </p>",
          "shape": "Rules"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Scope",
        "Rules"
      ],
      "type": "structure"
    },
    "CheckCapacityResponse": {
      "members": {
        "Capacity": {
          "documentation": "<p>The capacity required by the rules and scope.</p>",
          "shape": "ConsumedCapacity"
        }
      },
      "type": "structure"
    },
    "ComparisonOperator": {
      "enum": [
        "EQ",
        "NE",
        "LE",
        "LT",
        "GE",
        "GT"
      ],
      "type": "string"
    },
    "Condition": {
      "documentation": "<p>A single match condition for a <a>Filter</a>.</p>",
      "members": {
        "ActionCondition": {
          "documentation": "<p>A single action condition. This is the action setting that a log record must contain in order to meet the condition.</p>",
          "shape": "ActionCondition"
        },
        "LabelNameCondition": {
          "documentation": "<p>A single label name condition. This is the fully qualified label name that a log record must contain in order to meet the condition. Fully qualified labels have a prefix, optional namespaces, and label name. The prefix identifies the rule group or web ACL context of the rule that added the label. </p>",
          "shape": "LabelNameCondition"
        }
      },
      "type": "structure"
    },
    "Conditions": {
      "member": {
        "shape": "Condition"
      },
      "min": 1,
      "type": "list"
    },
    "ConsumedCapacity": {
      "min": 0,
      "type": "long"
    },
    "CookieMatchPattern": {
      "documentation": "<p>The filter to use to identify the subset of cookies to inspect in a web request. </p> <p>You must specify exactly one setting: either <code>All</code>, <code>IncludedCookies</code>, or <code>ExcludedCookies</code>.</p> <p>Example JSON: <code>\"MatchPattern\": { \"IncludedCookies\": {\"KeyToInclude1\", \"KeyToInclude2\", \"KeyToInclude3\"} }</code> </p>",
      "members": {
        "All": {
          "documentation": "<p>Inspect all cookies. </p>",
          "shape": "All"
        },
        "ExcludedCookies": {
          "documentation": "<p>Inspect only the cookies whose keys don't match any of the strings specified here. </p>",
          "shape": "CookieNames"
        },
        "IncludedCookies": {
          "documentation": "<p>Inspect only the cookies that have a key that matches one of the strings specified here. </p>",
          "shape": "CookieNames"
        }
      },
      "type": "structure"
    },
    "CookieNames": {
      "max": 199,
      "member": {
        "shape": "SingleCookieName"
      },
      "min": 1,
      "type": "list"
    },
    "Cookies": {
      "documentation": "<p>Inspect the cookies in the web request. You can specify the parts of the cookies to inspect and you can narrow the set of cookies to inspect by including or excluding specific keys.</p> <p>This is used to indicate the web request component to inspect, in the <a>FieldToMatch</a> specification. </p> <p>Example JSON: <code>\"Cookies\": { \"MatchPattern\": { \"All\": {} }, \"MatchScope\": \"KEY\", \"OversizeHandling\": \"MATCH\" }</code> </p>",
      "members": {
        "MatchPattern": {
          "documentation": "<p>The filter to use to identify the subset of cookies to inspect in a web request. </p> <p>You must specify exactly one setting: either <code>All</code>, <code>IncludedCookies</code>, or <code>ExcludedCookies</code>.</p> <p>Example JSON: <code>\"MatchPattern\": { \"IncludedCookies\": {\"KeyToInclude1\", \"KeyToInclude2\", \"KeyToInclude3\"} }</code> </p>",
          "shape": "CookieMatchPattern"
        },
        "MatchScope": {
          "documentation": "<p>The parts of the cookies to inspect with the rule inspection criteria. If you specify <code>All</code>, WAF inspects both keys and values. </p>",
          "shape": "MapMatchScope"
        },
        "OversizeHandling": {
          "documentation": "<p>What WAF should do if the cookies of the request are larger than WAF can inspect. WAF does not support inspecting the entire contents of request cookies when they exceed 8 KB (8192 bytes) or 200 total cookies. The underlying host service forwards a maximum of 200 cookies and at most 8 KB of cookie contents to WAF. </p> <p>The options for oversize handling are the following:</p> <ul> <li> <p> <code>CONTINUE</code> - Inspect the cookies normally, according to the rule inspection criteria. </p> </li> <li> <p> <code>MATCH</code> - Treat the web request as matching the rule statement. WAF applies the rule action to the request.</p> </li> <li> <p> <code>NO_MATCH</code> - Treat the web request as not matching the rule statement.</p> </li> </ul>",
          "shape": "OversizeHandling"
        }
      },
      "required": [
        "MatchPattern",
        "MatchScope",
        "OversizeHandling"
      ],
      "type": "structure"
    },
    "CountAction": {
      "documentation": "<p>Specifies that WAF should count the request. Optionally defines additional custom handling for the request.</p> <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {
        "CustomRequestHandling": {
          "documentation": "<p>Defines custom handling for the web request.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>",
          "shape": "CustomRequestHandling"
        }
      },
      "type": "structure"
    },
    "Country": {
      "type": "string"
    },
    "CountryCode": {
      "enum": [
        "AF",
        "AX",
        "AL",
        "DZ",
        "AS",
        "AD",
        "AO",
        "AI",
        "AQ",
        "AG",
        "AR",
        "AM",
        "AW",
        "AU",
        "AT",
        "AZ",
        "BS",
        "BH",
        "BD",
        "BB",
        "BY",
        "BE",
        "BZ",
        "BJ",
        "BM",
        "BT",
        "BO",
        "BQ",
        "BA",
        "BW",
        "BV",
        "BR",
        "IO",
        "BN",
        "BG",
        "BF",
        "BI",
        "KH",
        "CM",
        "CA",
        "CV",
        "KY",
        "CF",
        "TD",
        "CL",
        "CN",
        "CX",
        "CC",
        "CO",
        "KM",
        "CG",
        "CD",
        "CK",
        "CR",
        "CI",
        "HR",
        "CU",
        "CW",
        "CY",
        "CZ",
        "DK",
        "DJ",
        "DM",
        "DO",
        "EC",
        "EG",
        "SV",
        "GQ",
        "ER",
        "EE",
        "ET",
        "FK",
        "FO",
        "FJ",
        "FI",
        "FR",
        "GF",
        "PF",
        "TF",
        "GA",
        "GM",
        "GE",
        "DE",
        "GH",
        "GI",
        "GR",
        "GL",
        "GD",
        "GP",
        "GU",
        "GT",
        "GG",
        "GN",
        "GW",
        "GY",
        "HT",
        "HM",
        "VA",
        "HN",
        "HK",
        "HU",
        "IS",
        "IN",
        "ID",
        "IR",
        "IQ",
        "IE",
        "IM",
        "IL",
        "IT",
        "JM",
        "JP",
        "JE",
        "JO",
        "KZ",
        "KE",
        "KI",
        "KP",
        "KR",
        "KW",
        "KG",
        "LA",
        "LV",
        "LB",
        "LS",
        "LR",
        "LY",
        "LI",
        "LT",
        "LU",
        "MO",
        "MK",
        "MG",
        "MW",
        "MY",
        "MV",
        "ML",
        "MT",
        "MH",
        "MQ",
        "MR",
        "MU",
        "YT",
        "MX",
        "FM",
        "MD",
        "MC",
        "MN",
        "ME",
        "MS",
        "MA",
        "MZ",
        "MM",
        "NA",
        "NR",
        "NP",
        "NL",
        "NC",
        "NZ",
        "NI",
        "NE",
        "NG",
        "NU",
        "NF",
        "MP",
        "NO",
        "OM",
        "PK",
        "PW",
        "PS",
        "PA",
        "PG",
        "PY",
        "PE",
        "PH",
        "PN",
        "PL",
        "PT",
        "PR",
        "QA",
        "RE",
        "RO",
        "RU",
        "RW",
        "BL",
        "SH",
        "KN",
        "LC",
        "MF",
        "PM",
        "VC",
        "WS",
        "SM",
        "ST",
        "SA",
        "SN",
        "RS",
        "SC",
        "SL",
        "SG",
        "SX",
        "SK",
        "SI",
        "SB",
        "SO",
        "ZA",
        "GS",
        "SS",
        "ES",
        "LK",
        "SD",
        "SR",
        "SJ",
        "SZ",
        "SE",
        "CH",
        "SY",
        "TW",
        "TJ",
        "TZ",
        "TH",
        "TL",
        "TG",
        "TK",
        "TO",
        "TT",
        "TN",
        "TR",
        "TM",
        "TC",
        "TV",
        "UG",
        "UA",
        "AE",
        "GB",
        "US",
        "UM",
        "UY",
        "UZ",
        "VU",
        "VE",
        "VN",
        "VG",
        "VI",
        "WF",
        "EH",
        "YE",
        "ZM",
        "ZW",
        "XK"
      ],
      "type": "string"
    },
    "CountryCodes": {
      "member": {
        "shape": "CountryCode"
      },
      "min": 1,
      "type": "list"
    },
    "CreateIPSetRequest": {
      "members": {
        "Addresses": {
          "documentation": "<p>Contains an array of strings that specifies zero or more IP addresses or blocks of IP addresses. All addresses must be specified using Classless Inter-Domain Routing (CIDR) notation. WAF supports all IPv4 and IPv6 CIDR ranges except for <code>/0</code>. </p> <p>Example address strings: </p> <ul> <li> <p>To configure WAF to allow, block, or count requests that originated from the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p> </li> <li> <p>To configure WAF to allow, block, or count requests that originated from IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p> </li> <li> <p>To configure WAF to allow, block, or count requests that originated from the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p> </li> <li> <p>To configure WAF to allow, block, or count requests that originated from IP addresses 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p> </li> </ul> <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p> <p>Example JSON <code>Addresses</code> specifications: </p> <ul> <li> <p>Empty array: <code>\"Addresses\": []</code> </p> </li> <li> <p>Array with one address: <code>\"Addresses\": [\"192.0.2.44/32\"]</code> </p> </li> <li> <p>Array with three addresses: <code>\"Addresses\": [\"192.0.2.44/32\", \"192.0.2.0/24\", \"192.0.0.0/16\"]</code> </p> </li> <li> <p>INVALID specification: <code>\"Addresses\": [\"\"]</code> INVALID </p> </li> </ul>",
          "shape": "IPAddresses"
        },
        "Description": {
          "documentation": "<p>A description of the IP set that helps with identification. </p>",
          "shape": "EntityDescription"
        },
        "IPAddressVersion": {
          "documentation": "<p>The version of the IP addresses, either <code>IPV4</code> or <code>IPV6</code>. </p>",
          "shape": "IPAddressVersion"
        },
        "Name": {
          "documentation": "<p>The name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "Scope",
        "IPAddressVersion",
        "Addresses"
      ],
      "type": "structure"
    },
    "CreateIPSetResponse": {
      "members": {
        "Summary": {
          "documentation": "<p>High-level information about an <a>IPSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage an <code>IPSet</code>, and the ARN, that you provide to the <a>IPSetReferenceStatement</a> to use the address set in a <a>Rule</a>.</p>",
          "shape": "IPSetSummary"
        }
      },
      "type": "structure"
    },
    "CreateRegexPatternSetRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the set that helps with identification. </p>",
          "shape": "EntityDescription"
        },
        "Name": {
          "documentation": "<p>The name of the set. You cannot change the name after you create the set.</p>",
          "shape": "EntityName"
        },
        "RegularExpressionList": {
          "documentation": "<p>Array of regular expression strings. </p>",
          "shape": "RegularExpressionList"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an Amazon CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB), an Amazon API Gateway REST API, an AppSync GraphQL API, or an Amazon Cognito user pool. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "Scope",
        "RegularExpressionList"
      ],
      "type": "structure"
    },
    "CreateRegexPatternSetResponse": {
      "members": {
        "Summary": {
[...]
