{
  "documentation": "<p>WorkMail is a secure, managed business email and calendaring service with support for existing desktop and mobile email clients. You can access your email, contacts, and calendars using Microsoft Outlook, your browser, or other native iOS and Android email applications. You can integrate WorkMail with your existing corporate directory and control both the keys that encrypt your data and the location in which your data is stored.</p> <p>The WorkMail API is designed for the following scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul> <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li> </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All WorkMail API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the WorkMail site, the IAM user gains full administrative visibility into the entire WorkMail organization (or as set in the IAM policy). This includes, but is not limited to, the ability to create, update, and delete users, groups, and resources. This allows developers to perform the scenarios listed above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
  "metadata": {
    "apiVersion": "2017-10-01",
    "endpointPrefix": "workmail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkMail",
    "serviceId": "WorkMail",
    "signatureVersion": "v4",
    "targetPrefix": "WorkMailService",
    "uid": "workmail-2017-10-01"
  },
  "operations": {
    "AssociateDelegateToResource": {
      "documentation": "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateDelegateToResourceRequest"
      },
      "name": "AssociateDelegateToResource",
      "output": {
        "shape": "AssociateDelegateToResourceResponse"
      }
    },
    "AssociateMemberToGroup": {
      "documentation": "<p>Adds a member (user or group) to the group's set.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToGroupRequest"
      },
      "name": "AssociateMemberToGroup",
      "output": {
        "shape": "AssociateMemberToGroupResponse"
      }
    },
    "AssumeImpersonationRole": {
      "documentation": "<p>Assumes an impersonation role for the given WorkMail organization. This method returns an authentication token you can use to make impersonated calls.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssumeImpersonationRoleRequest"
      },
      "name": "AssumeImpersonationRole",
      "output": {
        "shape": "AssumeImpersonationRoleResponse"
      }
    },
    "CancelMailboxExportJob": {
      "documentation": "<p>Cancels a mailbox export job.</p> <note> <p>If the mailbox export job is near completion, it might not be possible to cancel it.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CancelMailboxExportJobRequest"
      },
      "name": "CancelMailboxExportJob",
      "output": {
        "shape": "CancelMailboxExportJobResponse"
      }
    },
    "CreateAlias": {
      "documentation": "<p>Adds an alias to the set of a given member (user or group) of WorkMail.</p>",
      "errors": [
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAliasRequest"
      },
      "name": "CreateAlias",
      "output": {
        "shape": "CreateAliasResponse"
      }
    },
    "CreateAvailabilityConfiguration": {
      "documentation": "<p>Creates an <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAvailabilityConfigurationRequest"
      },
      "name": "CreateAvailabilityConfiguration",
      "output": {
        "shape": "CreateAvailabilityConfigurationResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a group that can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateImpersonationRole": {
      "documentation": "<p>Creates an impersonation role for the given WorkMail organization.</p> <p> <i>Idempotency</i> ensures that an API request completes no more than one time. With an idempotent request, if the original request completes successfully, any subsequent retries also complete successfully without performing any further actions.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImpersonationRoleRequest"
      },
      "name": "CreateImpersonationRole",
      "output": {
        "shape": "CreateImpersonationRoleResponse"
      }
    },
    "CreateMobileDeviceAccessRule": {
      "documentation": "<p>Creates a new mobile device access rule for the specified WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMobileDeviceAccessRuleRequest"
      },
      "name": "CreateMobileDeviceAccessRule",
      "output": {
        "shape": "CreateMobileDeviceAccessRuleResponse"
      }
    },
    "CreateOrganization": {
      "documentation": "<p>Creates a new WorkMail organization. Optionally, you can choose to associate an existing AWS Directory Service directory with your organization. If an AWS Directory Service directory ID is specified, the organization alias must match the directory alias. If you choose not to associate an existing directory with your organization, then we create a new WorkMail directory for you. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_new_organization.html\">Adding an organization</a> in the <i>WorkMail Administrator Guide</i>.</p> <p>You can associate multiple email domains with an organization, then choose your default email domain from the WorkMail console. You can also associate a domain that is managed in an Amazon Route 53 public hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html\">Adding a domain</a> and <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/default_domain.html\">Choosing the default domain</a> in the <i>WorkMail Administrator Guide</i>.</p> <p>Optionally, you can use a customer managed key from AWS Key Management Service (AWS KMS) to encrypt email for your organization. If you don't associate an AWS KMS key, WorkMail creates a default, AWS managed key for you.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "DirectoryInUseException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NameAvailabilityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateOrganizationRequest"
      },
      "name": "CreateOrganization",
      "output": {
        "shape": "CreateOrganizationResponse"
      }
    },
    "CreateResource": {
      "documentation": "<p>Creates a new WorkMail resource.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateResourceRequest"
      },
      "name": "CreateResource",
      "output": {
        "shape": "CreateResourceResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user who can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "DeleteAccessControlRule": {
      "documentation": "<p>Deletes an access control rule for the specified WorkMail organization.</p> <note> <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessControlRuleRequest"
      },
      "name": "DeleteAccessControlRule",
      "output": {
        "shape": "DeleteAccessControlRuleResponse"
      }
    },
    "DeleteAlias": {
      "documentation": "<p>Remove one or more specified aliases from a set of aliases for a given user.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAliasRequest"
      },
      "name": "DeleteAlias",
      "output": {
        "shape": "DeleteAliasResponse"
      }
    },
    "DeleteAvailabilityConfiguration": {
      "documentation": "<p>Deletes the <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAvailabilityConfigurationRequest"
      },
      "name": "DeleteAvailabilityConfiguration",
      "output": {
        "shape": "DeleteAvailabilityConfigurationResponse"
      }
    },
    "DeleteEmailMonitoringConfiguration": {
      "documentation": "<p>Deletes the email monitoring configuration for a specified organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEmailMonitoringConfigurationRequest"
      },
      "name": "DeleteEmailMonitoringConfiguration",
      "output": {
        "shape": "DeleteEmailMonitoringConfigurationResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group from WorkMail.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteImpersonationRole": {
      "documentation": "<p>Deletes an impersonation role for the given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImpersonationRoleRequest"
      },
      "name": "DeleteImpersonationRole",
      "output": {
        "shape": "DeleteImpersonationRoleResponse"
      }
    },
    "DeleteMailboxPermissions": {
      "documentation": "<p>Deletes permissions granted to a member (user or group).</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMailboxPermissionsRequest"
      },
      "name": "DeleteMailboxPermissions",
      "output": {
        "shape": "DeleteMailboxPermissionsResponse"
      }
    },
    "DeleteMobileDeviceAccessOverride": {
      "documentation": "<p>Deletes the mobile device access override for the given WorkMail organization, user, and device.</p> <note> <p>Deleting already deleted and non-existing overrides does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMobileDeviceAccessOverrideRequest"
      },
      "name": "DeleteMobileDeviceAccessOverride",
      "output": {
        "shape": "DeleteMobileDeviceAccessOverrideResponse"
      }
    },
    "DeleteMobileDeviceAccessRule": {
      "documentation": "<p>Deletes a mobile device access rule for the specified WorkMail organization.</p> <note> <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMobileDeviceAccessRuleRequest"
      },
      "name": "DeleteMobileDeviceAccessRule",
      "output": {
        "shape": "DeleteMobileDeviceAccessRuleResponse"
      }
    },
    "DeleteOrganization": {
      "documentation": "<p>Deletes an WorkMail organization and all underlying AWS resources managed by WorkMail as part of the organization. You can choose whether to delete the associated directory. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/remove_organization.html\">Removing an organization</a> in the <i>WorkMail Administrator Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteOrganizationRequest"
      },
      "name": "DeleteOrganization",
      "output": {
        "shape": "DeleteOrganizationResponse"
      }
    },
    "DeleteResource": {
      "documentation": "<p>Deletes the specified resource.</p>",
      "errors": [
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteResourceRequest"
      },
      "name": "DeleteResource",
      "output": {
        "shape": "DeleteResourceResponse"
      }
    },
    "DeleteRetentionPolicy": {
      "documentation": "<p>Deletes the specified retention policy from the specified organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRetentionPolicyRequest"
      },
      "name": "DeleteRetentionPolicy",
      "output": {
        "shape": "DeleteRetentionPolicyResponse"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a user from WorkMail and all subsequent systems. Before you can delete a user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to confirm the user state.</p> <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DeregisterFromWorkMail": {
      "documentation": "<p>Mark a user, group, or resource as no longer used in WorkMail. This action disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days before they are permanently removed. The functionality in the console is <i>Disable</i>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeregisterFromWorkMailRequest"
      },
      "name": "DeregisterFromWorkMail",
      "output": {
        "shape": "DeregisterFromWorkMailResponse"
      }
    },
    "DeregisterMailDomain": {
      "documentation": "<p>Removes a domain from WorkMail, stops email routing to WorkMail, and removes the authorization allowing WorkMail use. SES keeps the domain because other applications may use it. You must first remove any email address used by WorkMail entities before you remove the domain.</p>",
      "errors": [
        {
          "shape": "MailDomainInUseException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidCustomSesConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeregisterMailDomainRequest"
      },
      "name": "DeregisterMailDomain",
      "output": {
        "shape": "DeregisterMailDomainResponse"
      }
    },
    "DescribeEmailMonitoringConfiguration": {
      "documentation": "<p>Describes the current email monitoring configuration for a specified organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEmailMonitoringConfigurationRequest"
      },
      "name": "DescribeEmailMonitoringConfiguration",
      "output": {
        "shape": "DescribeEmailMonitoringConfigurationResponse"
      }
    },
    "DescribeGroup": {
      "documentation": "<p>Returns the data available for the group.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "name": "DescribeGroup",
      "output": {
        "shape": "DescribeGroupResponse"
      }
    },
    "DescribeInboundDmarcSettings": {
      "documentation": "<p>Lists the settings in a DMARC policy for a specified organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeInboundDmarcSettingsRequest"
      },
      "name": "DescribeInboundDmarcSettings",
      "output": {
        "shape": "DescribeInboundDmarcSettingsResponse"
      }
    },
    "DescribeMailboxExportJob": {
      "documentation": "<p>Describes the current status of a mailbox export job.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeMailboxExportJobRequest"
      },
      "name": "DescribeMailboxExportJob",
      "output": {
        "shape": "DescribeMailboxExportJobResponse"
      }
    },
    "DescribeOrganization": {
      "documentation": "<p>Provides more information regarding a given organization based on its identifier.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeOrganizationRequest"
      },
      "name": "DescribeOrganization",
      "output": {
        "shape": "DescribeOrganizationResponse"
      }
    },
    "DescribeResource": {
      "documentation": "<p>Returns the data available for the resource.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeResourceRequest"
      },
      "name": "DescribeResource",
      "output": {
        "shape": "DescribeResourceResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Provides information regarding the user.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "DisassociateDelegateFromResource": {
      "documentation": "<p>Removes a member from the resource's set of delegates.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateDelegateFromResourceRequest"
      },
      "name": "DisassociateDelegateFromResource",
      "output": {
        "shape": "DisassociateDelegateFromResourceResponse"
      }
    },
    "DisassociateMemberFromGroup": {
      "documentation": "<p>Removes a member from a group.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromGroupRequest"
      },
      "name": "DisassociateMemberFromGroup",
      "output": {
        "shape": "DisassociateMemberFromGroupResponse"
      }
    },
    "GetAccessControlEffect": {
      "documentation": "<p>Gets the effects of an organization's access control rules as they apply to a specified IPv4 address, access protocol action, and user ID or impersonation role ID. You must provide either the user ID or impersonation role ID. Impersonation role ID can only be used with Action EWS.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccessControlEffectRequest"
      },
      "name": "GetAccessControlEffect",
      "output": {
        "shape": "GetAccessControlEffectResponse"
      }
    },
    "GetDefaultRetentionPolicy": {
      "documentation": "<p>Gets the default retention policy details for the specified organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetDefaultRetentionPolicyRequest"
      },
      "name": "GetDefaultRetentionPolicy",
      "output": {
        "shape": "GetDefaultRetentionPolicyResponse"
      }
    },
    "GetImpersonationRole": {
      "documentation": "<p>Gets the impersonation role details for the given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetImpersonationRoleRequest"
      },
      "name": "GetImpersonationRole",
      "output": {
        "shape": "GetImpersonationRoleResponse"
      }
    },
    "GetImpersonationRoleEffect": {
      "documentation": "<p>Tests whether the given impersonation role can impersonate a target user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetImpersonationRoleEffectRequest"
      },
      "name": "GetImpersonationRoleEffect",
      "output": {
        "shape": "GetImpersonationRoleEffectResponse"
      }
    },
    "GetMailDomain": {
      "documentation": "<p>Gets details for a mail domain, including domain records required to configure your domain with recommended security.</p>",
      "errors": [
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetMailDomainRequest"
      },
      "name": "GetMailDomain",
      "output": {
        "shape": "GetMailDomainResponse"
      }
    },
    "GetMailboxDetails": {
      "documentation": "<p>Requests a user's mailbox details for a specified organization and user.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetMailboxDetailsRequest"
      },
      "name": "GetMailboxDetails",
      "output": {
        "shape": "GetMailboxDetailsResponse"
      }
    },
    "GetMobileDeviceAccessEffect": {
      "documentation": "<p>Simulates the effect of the mobile device access rules for the given attributes of a sample access event. Use this method to test the effects of the current set of mobile device access rules for the WorkMail organization for a particular user's attributes.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMobileDeviceAccessEffectRequest"
      },
      "name": "GetMobileDeviceAccessEffect",
      "output": {
        "shape": "GetMobileDeviceAccessEffectResponse"
      }
    },
    "GetMobileDeviceAccessOverride": {
      "documentation": "<p>Gets the mobile device access override for the given WorkMail organization, user, and device.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMobileDeviceAccessOverrideRequest"
      },
      "name": "GetMobileDeviceAccessOverride",
      "output": {
        "shape": "GetMobileDeviceAccessOverrideResponse"
      }
    },
    "ListAccessControlRules": {
      "documentation": "<p>Lists the access control rules for the specified organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessControlRulesRequest"
      },
      "name": "ListAccessControlRules",
      "output": {
        "shape": "ListAccessControlRulesResponse"
      }
    },
    "ListAliases": {
      "documentation": "<p>Creates a paginated call to list the aliases associated with a given entity.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListAliasesRequest"
      },
      "name": "ListAliases",
      "output": {
        "shape": "ListAliasesResponse"
      }
    },
    "ListAvailabilityConfigurations": {
      "documentation": "<p>List all the <code>AvailabilityConfiguration</code>'s for the given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailabilityConfigurationsRequest"
      },
      "name": "ListAvailabilityConfigurations",
      "output": {
        "shape": "ListAvailabilityConfigurationsResponse"
      }
    },
    "ListGroupMembers": {
      "documentation": "<p>Returns an overview of the members of a group. Users and groups can be members of a group.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListGroupMembersRequest"
      },
      "name": "ListGroupMembers",
      "output": {
        "shape": "ListGroupMembersResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Returns summaries of the organization's groups.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListImpersonationRoles": {
      "documentation": "<p>Lists all the impersonation roles for the given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListImpersonationRolesRequest"
      },
      "name": "ListImpersonationRoles",
      "output": {
        "shape": "ListImpersonationRolesResponse"
      }
    },
    "ListMailDomains": {
      "documentation": "<p>Lists the mail domains in a given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListMailDomainsRequest"
      },
      "name": "ListMailDomains",
      "output": {
        "shape": "ListMailDomainsResponse"
      }
    },
    "ListMailboxExportJobs": {
      "documentation": "<p>Lists the mailbox export jobs started for the specified organization within the last seven days.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListMailboxExportJobsRequest"
      },
      "name": "ListMailboxExportJobs",
      "output": {
        "shape": "ListMailboxExportJobsResponse"
      }
    },
    "ListMailboxPermissions": {
      "documentation": "<p>Lists the mailbox permissions associated with a user, group, or resource mailbox.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListMailboxPermissionsRequest"
      },
      "name": "ListMailboxPermissions",
      "output": {
        "shape": "ListMailboxPermissionsResponse"
      }
    },
    "ListMobileDeviceAccessOverrides": {
      "documentation": "<p>Lists all the mobile device access overrides for any given combination of WorkMail organization, user, or device.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMobileDeviceAccessOverridesRequest"
      },
      "name": "ListMobileDeviceAccessOverrides",
      "output": {
        "shape": "ListMobileDeviceAccessOverridesResponse"
      }
    },
    "ListMobileDeviceAccessRules": {
      "documentation": "<p>Lists the mobile device access rules for the specified WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMobileDeviceAccessRulesRequest"
      },
      "name": "ListMobileDeviceAccessRules",
      "output": {
        "shape": "ListMobileDeviceAccessRulesResponse"
      }
    },
    "ListOrganizations": {
      "documentation": "<p>Returns summaries of the customer's organizations.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListOrganizationsRequest"
      },
      "name": "ListOrganizations",
      "output": {
        "shape": "ListOrganizationsResponse"
      }
    },
    "ListResourceDelegates": {
      "documentation": "<p>Lists the delegates associated with a resource. Users and groups can be resource delegates and answer requests on behalf of the resource.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListResourceDelegatesRequest"
      },
      "name": "ListResourceDelegates",
      "output": {
        "shape": "ListResourceDelegatesResponse"
      }
    },
    "ListResources": {
      "documentation": "<p>Returns summaries of the organization's resources.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListResourcesRequest"
      },
      "name": "ListResources",
      "output": {
        "shape": "ListResourcesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags applied to an WorkMail organization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Returns summaries of the organization's users.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "PutAccessControlRule": {
      "documentation": "<p>Adds a new access control rule for the specified organization. The rule allows or denies access to the organization for the specified IPv4 addresses, access protocol actions, user IDs and impersonation IDs. Adding a new rule with the same name as an existing rule replaces the older rule.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAccessControlRuleRequest"
      },
      "name": "PutAccessControlRule",
      "output": {
        "shape": "PutAccessControlRuleResponse"
      }
    },
    "PutEmailMonitoringConfiguration": {
      "documentation": "<p>Creates or updates the email monitoring configuration for a specified organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutEmailMonitoringConfigurationRequest"
      },
      "name": "PutEmailMonitoringConfiguration",
      "output": {
        "shape": "PutEmailMonitoringConfigurationResponse"
      }
    },
    "PutInboundDmarcSettings": {
      "documentation": "<p>Enables or disables a DMARC policy for a given organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutInboundDmarcSettingsRequest"
      },
      "name": "PutInboundDmarcSettings",
      "output": {
        "shape": "PutInboundDmarcSettingsResponse"
      }
    },
    "PutMailboxPermissions": {
      "documentation": "<p>Sets permissions for a user, group, or resource. This replaces any pre-existing permissions.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutMailboxPermissionsRequest"
      },
      "name": "PutMailboxPermissions",
      "output": {
        "shape": "PutMailboxPermissionsResponse"
      }
    },
    "PutMobileDeviceAccessOverride": {
      "documentation": "<p>Creates or updates a mobile device access override for the given WorkMail organization, user, and device.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutMobileDeviceAccessOverrideRequest"
      },
      "name": "PutMobileDeviceAccessOverride",
      "output": {
        "shape": "PutMobileDeviceAccessOverrideResponse"
      }
    },
    "PutRetentionPolicy": {
      "documentation": "<p>Puts a retention policy to the specified organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutRetentionPolicyRequest"
      },
      "name": "PutRetentionPolicy",
      "output": {
        "shape": "PutRetentionPolicyResponse"
      }
    },
    "RegisterMailDomain": {
      "documentation": "<p>Registers a new domain in WorkMail and SES, and configures it for use by WorkMail. Emails received by SES for this domain are routed to the specified WorkMail organization, and WorkMail has permanent permission to use the specified domain for sending your users' emails.</p>",
      "errors": [
        {
          "shape": "MailDomainInUseException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RegisterMailDomainRequest"
      },
      "name": "RegisterMailDomain",
      "output": {
        "shape": "RegisterMailDomainResponse"
      }
    },
    "RegisterToWorkMail": {
      "documentation": "<p>Registers an existing and disabled user, group, or resource for WorkMail use by associating a mailbox and calendaring capabilities. It performs no change if the user, group, or resource is enabled and fails if the user, group, or resource is deleted. This operation results in the accumulation of costs. For more information, see <a href=\"https://aws.amazon.com/workmail/pricing\">Pricing</a>. The equivalent console functionality for this operation is <i>Enable</i>.</p> <p>Users can either be created by calling the <a>CreateUser</a> API operation or they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "EntityAlreadyRegisteredException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RegisterToWorkMailRequest"
      },
      "name": "RegisterToWorkMail",
      "output": {
        "shape": "RegisterToWorkMailResponse"
      }
    },
    "ResetPassword": {
      "documentation": "<p>Allows the administrator to reset the password for a user.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ResetPasswordRequest"
      },
      "name": "ResetPassword",
      "output": {
        "shape": "ResetPasswordResponse"
      }
    },
    "StartMailboxExportJob": {
      "documentation": "<p>Starts a mailbox export job to export MIME-format email messages and calendar items from the specified mailbox to the specified Amazon Simple Storage Service (Amazon S3) bucket. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/mail-export.html\">Exporting mailbox content</a> in the <i>WorkMail Administrator Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartMailboxExportJobRequest"
      },
      "name": "StartMailboxExportJob",
      "output": {
        "shape": "StartMailboxExportJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies the specified tags to the specified WorkMailorganization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "TestAvailabilityConfiguration": {
      "documentation": "<p>Performs a test on an availability provider to ensure that access is allowed. For EWS, it verifies the provided credentials can be used to successfully log in. For Lambda, it verifies that the Lambda function can be invoked and that the resource access policy was configured to deny anonymous access. An anonymous invocation is one done without providing either a <code>SourceArn</code> or <code>SourceAccount</code> header.</p> <note> <p>The request must contain either one provider definition (<code>EwsProvider</code> or <code>LambdaProvider</code>) or the <code>DomainName</code> parameter. If the <code>DomainName</code> parameter is provided, the configuration stored under the <code>DomainName</code> will be tested.</p> </note>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestAvailabilityConfigurationRequest"
      },
      "name": "TestAvailabilityConfiguration",
      "output": {
        "shape": "TestAvailabilityConfigurationResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Untags the specified tags from the specified WorkMail organization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAvailabilityConfiguration": {
      "documentation": "<p>Updates an existing <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateAvailabilityConfigurationRequest"
      },
      "name": "UpdateAvailabilityConfiguration",
      "output": {
        "shape": "UpdateAvailabilityConfigurationResponse"
      }
    },
    "UpdateDefaultMailDomain": {
      "documentation": "<p>Updates the default mail domain for an organization. The default mail domain is used by the WorkMail AWS Console to suggest an email address when enabling a mail user. You can only have one default domain.</p>",
      "errors": [
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateDefaultMailDomainRequest"
      },
      "name": "UpdateDefaultMailDomain",
      "output": {
        "shape": "UpdateDefaultMailDomainResponse"
      }
    },
    "UpdateImpersonationRole": {
      "documentation": "<p>Updates an impersonation role for the given WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateImpersonationRoleRequest"
      },
      "name": "UpdateImpersonationRole",
      "output": {
        "shape": "UpdateImpersonationRoleResponse"
      }
    },
    "UpdateMailboxQuota": {
      "documentation": "<p>Updates a user's current mailbox quota for a specified organization and user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMailboxQuotaRequest"
      },
      "name": "UpdateMailboxQuota",
      "output": {
        "shape": "UpdateMailboxQuotaResponse"
      }
    },
    "UpdateMobileDeviceAccessRule": {
      "documentation": "<p>Updates a mobile device access rule for the specified WorkMail organization.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateMobileDeviceAccessRuleRequest"
      },
      "name": "UpdateMobileDeviceAccessRule",
      "output": {
        "shape": "UpdateMobileDeviceAccessRuleResponse"
      }
    },
    "UpdatePrimaryEmailAddress": {
      "documentation": "<p>Updates the primary email for a user, group, or resource. The current email is moved into the list of aliases (or swapped between an existing alias and the current primary email), and the email provided in the input is promoted as the primary.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePrimaryEmailAddressRequest"
      },
      "name": "UpdatePrimaryEmailAddress",
      "output": {
        "shape": "UpdatePrimaryEmailAddressResponse"
      }
    },
    "UpdateResource": {
      "documentation": "<p>Updates data for the resource. To have the latest information, it must be preceded by a <a>DescribeResource</a> call. The dataset in the request should be the one expected when performing another <code>DescribeResource</code> call.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidConfigurationException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateResourceRequest"
      },
      "name": "UpdateResource",
      "output": {
        "shape": "UpdateResourceResponse"
      }
    }
  },
  "shapes": {
    "AccessControlRule": {
      "documentation": "<p>A rule that controls access to an WorkMail organization.</p>",
      "members": {
        "Actions": {
          "documentation": "<p>Access protocol actions to include in the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "DateCreated": {
          "documentation": "<p>The date that the rule was created.</p>",
          "shape": "Timestamp"
        },
        "DateModified": {
          "documentation": "<p>The date that the rule was modified.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The rule description.</p>",
          "shape": "AccessControlRuleDescription"
        },
        "Effect": {
          "documentation": "<p>The rule effect.</p>",
          "shape": "AccessControlRuleEffect"
        },
        "ImpersonationRoleIds": {
          "documentation": "<p>Impersonation role IDs to include in the rule.</p>",
          "shape": "ImpersonationRoleIdList"
        },
        "IpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to include in the rule.</p>",
          "shape": "IpRangeList"
        },
        "Name": {
          "documentation": "<p>The rule name.</p>",
          "shape": "AccessControlRuleName"
        },
        "NotActions": {
          "documentation": "<p>Access protocol actions to exclude from the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "NotImpersonationRoleIds": {
          "documentation": "<p>Impersonation role IDs to exclude from the rule.</p>",
          "shape": "ImpersonationRoleIdList"
        },
        "NotIpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to exclude from the rule.</p>",
          "shape": "IpRangeList"
        },
        "NotUserIds": {
          "documentation": "<p>User IDs to exclude from the rule.</p>",
          "shape": "UserIdList"
        },
        "UserIds": {
          "documentation": "<p>User IDs to include in the rule.</p>",
          "shape": "UserIdList"
        }
      },
      "type": "structure"
    },
    "AccessControlRuleAction": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z]+",
      "type": "string"
    },
    "AccessControlRuleDescription": {
      "max": 255,
      "min": 0,
      "pattern": "[\\u0020-\\u00FF]+",
      "type": "string"
    },
    "AccessControlRuleEffect": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "AccessControlRuleName": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "AccessControlRuleNameList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRuleName"
      },
      "min": 0,
      "type": "list"
    },
    "AccessControlRulesList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRule"
      },
      "min": 0,
      "type": "list"
    },
    "AccessEffect": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "ActionsList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRuleAction"
      },
      "min": 0,
      "type": "list"
    },
    "Aliases": {
      "member": {
        "shape": "EmailAddress"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociateDelegateToResourceRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The member (user or group) to associate to the resource.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the resource exists.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The resource for which members (users or groups) are associated.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "type": "structure"
    },
    "AssociateDelegateToResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateMemberToGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The group to which the member (user or group) is associated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MemberId": {
          "documentation": "<p>The member (user or group) to associate to the group.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the group exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "AssociateMemberToGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "AssumeImpersonationRoleRequest": {
      "members": {
        "ImpersonationRoleId": {
          "documentation": "<p>The impersonation role ID to assume.</p>",
          "shape": "ImpersonationRoleId"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization under which the impersonation role will be assumed.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "ImpersonationRoleId"
      ],
      "type": "structure"
    },
    "AssumeImpersonationRoleResponse": {
      "members": {
        "ExpiresIn": {
          "documentation": "<p>The authentication token's validity, in seconds.</p>",
          "shape": "ExpiresIn"
        },
        "Token": {
          "documentation": "<p>The authentication token for the impersonation role.</p>",
          "shape": "ImpersonationToken"
        }
      },
      "type": "structure"
    },
    "AvailabilityConfiguration": {
      "documentation": "<p>List all the <code>AvailabilityConfiguration</code>'s for the given WorkMail organization.</p>",
      "members": {
        "DateCreated": {
          "documentation": "<p>The date and time at which the availability configuration was created.</p>",
          "shape": "Timestamp"
        },
        "DateModified": {
          "documentation": "<p>The date and time at which the availability configuration was last modified.</p>",
          "shape": "Timestamp"
        },
        "DomainName": {
          "documentation": "<p>Displays the domain to which the provider applies.</p>",
          "shape": "DomainName"
        },
        "EwsProvider": {
          "documentation": "<p>If <code>ProviderType</code> is <code>EWS</code>, then this field contains <code>RedactedEwsAvailabilityProvider</code>. Otherwise, it is not required.</p>",
          "shape": "RedactedEwsAvailabilityProvider"
        },
        "LambdaProvider": {
          "documentation": "<p>If ProviderType is <code>LAMBDA</code> then this field contains <code>LambdaAvailabilityProvider</code>. Otherwise, it is not required.</p>",
          "shape": "LambdaAvailabilityProvider"
        },
        "ProviderType": {
          "documentation": "<p>Displays the provider type that applies to this domain.</p>",
          "shape": "AvailabilityProviderType"
        }
      },
      "type": "structure"
    },
    "AvailabilityConfigurationList": {
      "member": {
        "shape": "AvailabilityConfiguration"
      },
      "type": "list"
    },
    "AvailabilityProviderType": {
      "enum": [
        "EWS",
        "LAMBDA"
      ],
      "type": "string"
    },
    "BookingOptions": {
      "documentation": "<p>At least one delegate must be associated to the resource to disable automatic replies from the resource.</p>",
      "members": {
        "AutoAcceptRequests": {
          "documentation": "<p>The resource's ability to automatically reply to requests. If disabled, delegates must be associated to the resource.</p>",
          "shape": "Boolean"
        },
        "AutoDeclineConflictingRequests": {
          "documentation": "<p>The resource's ability to automatically decline any conflicting requests.</p>",
          "shape": "Boolean"
        },
        "AutoDeclineRecurringRequests": {
          "documentation": "<p>The resource's ability to automatically decline any recurring requests.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "CancelMailboxExportJobRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for the client request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "JobId": {
          "documentation": "<p>The job ID.</p>",
          "shape": "MailboxExportJobId"
        },
        "OrganizationId": {
          "documentation": "<p>The organization ID.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "ClientToken",
        "JobId",
        "OrganizationId"
      ],
      "type": "structure"
    },
    "CancelMailboxExportJobResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateAliasRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The alias to add to the member set.</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The member (user or group) to which this alias is added.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the member (user or group) exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "type": "structure"
    },
    "CreateAliasResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateAvailabilityConfigurationRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>An idempotent token that ensures that an API request is executed only once.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "DomainName": {
          "documentation": "<p>The domain to which the provider applies.</p>",
          "shape": "DomainName"
        },
        "EwsProvider": {
          "documentation": "<p>Exchange Web Services (EWS) availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>",
          "shape": "EwsAvailabilityProvider"
        },
        "LambdaProvider": {
          "documentation": "<p>Lambda availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>",
          "shape": "LambdaAvailabilityProvider"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be created.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateAvailabilityConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "GroupName"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the group is to be created.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "Name"
      ],
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "type": "structure"
    },
    "CreateImpersonationRoleRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for the client request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "Description": {
          "documentation": "<p>The description of the new impersonation role.</p>",
          "shape": "ImpersonationRoleDescription"
        },
        "Name": {
          "documentation": "<p>The name of the new impersonation role.</p>",
          "shape": "ImpersonationRoleName"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization to create the new impersonation role within.</p>",
          "shape": "OrganizationId"
        },
        "Rules": {
          "documentation": "<p>The list of rules for the impersonation role.</p>",
          "shape": "ImpersonationRuleList"
        },
        "Type": {
          "documentation": "<p>The impersonation role's type. The available impersonation role types are <code>READ_ONLY</code> or <code>FULL_ACCESS</code>.</p>",
          "shape": "ImpersonationRoleType"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "Type",
        "Rules"
      ],
      "type": "structure"
    },
    "CreateImpersonationRoleResponse": {
      "members": {
        "ImpersonationRoleId": {
          "documentation": "<p>The new impersonation role ID.</p>",
          "shape": "ImpersonationRoleId"
        }
      },
      "type": "structure"
    },
    "CreateMobileDeviceAccessRuleRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for the client request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "Description": {
          "documentation": "<p>The rule description.</p>",
          "shape": "MobileDeviceAccessRuleDescription"
        },
        "DeviceModels": {
          "documentation": "<p>Device models that the rule will match.</p>",
          "shape": "DeviceModelList"
        },
        "DeviceOperatingSystems": {
          "documentation": "<p>Device operating systems that the rule will match.</p>",
          "shape": "DeviceOperatingSystemList"
        },
        "DeviceTypes": {
          "documentation": "<p>Device types that the rule will match.</p>",
          "shape": "DeviceTypeList"
        },
        "DeviceUserAgents": {
          "documentation": "<p>Device user agents that the rule will match.</p>",
          "shape": "DeviceUserAgentList"
        },
        "Effect": {
          "documentation": "<p>The effect of the rule when it matches. Allowed values are <code>ALLOW</code> or <code>DENY</code>.</p>",
          "shape": "MobileDeviceAccessRuleEffect"
        },
        "Name": {
          "documentation": "<p>The rule name.</p>",
          "shape": "MobileDeviceAccessRuleName"
        },
        "NotDeviceModels": {
          "documentation": "<p>Device models that the rule <b>will not</b> match. All other device models will match.</p>",
          "shape": "DeviceModelList"
        },
        "NotDeviceOperatingSystems": {
          "documentation": "<p>Device operating systems that the rule <b>will not</b> match. All other device operating systems will match.</p>",
          "shape": "DeviceOperatingSystemList"
        },
        "NotDeviceTypes": {
          "documentation": "<p>Device types that the rule <b>will not</b> match. All other device types will match.</p>",
          "shape": "DeviceTypeList"
        },
        "NotDeviceUserAgents": {
          "documentation": "<p>Device user agents that the rule <b>will not</b> match. All other device user agents will match.</p>",
          "shape": "DeviceUserAgentList"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization under which the rule will be created.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "Effect"
      ],
      "type": "structure"
    },
    "CreateMobileDeviceAccessRuleResponse": {
      "members": {
        "MobileDeviceAccessRuleId": {
          "documentation": "<p>The identifier for the newly created mobile device access rule.</p>",
          "shape": "MobileDeviceAccessRuleId"
        }
      },
      "type": "structure"
    },
    "CreateOrganizationRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The organization alias.</p>",
          "shape": "OrganizationName"
        },
        "ClientToken": {
          "documentation": "<p>The idempotency token associated with the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "DirectoryId": {
          "documentation": "<p>The AWS Directory Service directory ID.</p>",
          "shape": "DirectoryId"
        },
        "Domains": {
          "documentation": "<p>The email domains to associate with the organization.</p>",
          "shape": "Domains"
        },
        "EnableInteroperability": {
          "documentation": "<p>When <code>true</code>, allows organization interoperability between WorkMail and Microsoft Exchange. If <code>true</code>, you must include a AD Connector directory ID in the request.</p>",
          "shape": "Boolean"
        },
        "KmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a customer managed key from AWS KMS.</p>",
          "shape": "KmsKeyArn"
        }
      },
      "required": [
        "Alias"
      ],
      "type": "structure"
    },
    "CreateOrganizationResponse": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The organization ID.</p>",
          "shape": "OrganizationId"
        }
      },
      "type": "structure"
    },
    "CreateResourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the new resource.</p>",
          "shape": "ResourceName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization for which the resource is created.</p>",
          "shape": "OrganizationId"
        },
        "Type": {
          "documentation": "<p>The type of the new resource. The available types are <code>equipment</code> and <code>room</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "CreateResourceResponse": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the new resource.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "DisplayName": {
          "documentation": "<p>The display name for the new user.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name for the new user. WorkMail directory user names have a maximum length of 64. All others have a maximum length of 20.</p>",
          "shape": "UserName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization for which the user is created.</p>",
          "shape": "OrganizationId"
        },
        "Password": {
          "documentation": "<p>The password for the new user.</p>",
          "shape": "Password"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "DisplayName",
        "Password"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "UserId": {
          "documentation": "<p>The identifier for the new user.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "type": "structure"
    },
    "Delegate": {
      "documentation": "<p>The name of the attribute, which is one of the values defined in the UserAttribute enumeration.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The identifier for the user or group associated as the resource's delegate.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The type of the delegate: user or group.</p>",
          "shape": "MemberType"
        }
      },
      "required": [
        "Id",
        "Type"
      ],
      "type": "structure"
    },
    "DeleteAccessControlRuleRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the access control rule.</p>",
          "shape": "AccessControlRuleName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "Name"
      ],
      "type": "structure"
    },
    "DeleteAccessControlRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAliasRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the list are collapsed into single entries (the list is transformed into a set).</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The identifier for the member (user or group) from which to have the aliases removed.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the user exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "type": "structure"
    },
    "DeleteAliasResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAvailabilityConfigurationRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>The domain for which the <code>AvailabilityConfiguration</code> will be deleted.</p>",
          "shape": "DomainName"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be deleted.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "DomainName"
      ],
      "type": "structure"
    },
    "DeleteAvailabilityConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteEmailMonitoringConfigurationRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The ID of the organization from which the email monitoring configuration is deleted.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "DeleteEmailMonitoringConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group to be deleted.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization that contains the group.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteImpersonationRoleRequest": {
      "members": {
        "ImpersonationRoleId": {
          "documentation": "<p>The ID of the impersonation role to delete.</p>",
          "shape": "ImpersonationRoleId"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization from which to delete the impersonation role.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "ImpersonationRoleId"
      ],
      "type": "structure"
    },
    "DeleteImpersonationRoleResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteMailboxPermissionsRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier of the member (user or group) that owns the mailbox.</p>",
          "shape": "WorkMailIdentifier"
        },
        "GranteeId": {
          "documentation": "<p>The identifier of the member (user or group) for which to delete granted permissions.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization under which the member (user or group) exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "GranteeId"
      ],
      "type": "structure"
    },
    "DeleteMailboxPermissionsResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteMobileDeviceAccessOverrideRequest": {
      "members": {
        "DeviceId": {
          "documentation": "<p>The mobile device for which you delete the override. <code>DeviceId</code> is case insensitive.</p>",
          "shape": "DeviceId"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization for which the access override will be deleted.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The WorkMail user for which you want to delete the override. Accepts the following types of user identities:</p> <ul> <li> <p>User ID: <code>12345678-1234-1234-1234-123456789012</code> or <code>S-1-1-12-1234567890-123456789-123456789-1234</code> </p> </li> <li> <p>Email address: <code>user@domain.tld</code> </p> </li> <li> <p>User name: <code>user</code> </p> </li> </ul>",
          "shape": "EntityIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId",
        "DeviceId"
      ],
      "type": "structure"
    },
    "DeleteMobileDeviceAccessOverrideResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteMobileDeviceAccessRuleRequest": {
      "members": {
        "MobileDeviceAccessRuleId": {
          "documentation": "<p>The identifier of the rule to be deleted.</p>",
          "shape": "MobileDeviceAccessRuleId"
        },
        "OrganizationId": {
          "documentation": "<p>The WorkMail organization under which the rule will be deleted.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "MobileDeviceAccessRuleId"
      ],
      "type": "structure"
    },
    "DeleteMobileDeviceAccessRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteOrganizationRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token associated with the request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyClientToken"
        },
        "DeleteDirectory": {
          "documentation": "<p>If true, deletes the AWS Directory Service directory associated with the organization.</p>",
          "shape": "Boolean"
        },
        "OrganizationId": {
          "documentation": "<p>The organization ID.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "DeleteDirectory"
      ],
      "type": "structure"
    },
    "DeleteOrganizationResponse": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The organization ID.</p>",
          "shape": "OrganizationId"
        },
        "State": {
          "documentation": "<p>The state of the organization.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteResourceRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization from which the resource is deleted.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the resource to be deleted.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "DeleteResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRetentionPolicyRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The retention policy ID.</p>",
          "shape": "ShortString"
        },
        "OrganizationId": {
          "documentation": "<p>The organization ID.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "Id"
      ],
      "type": "structure"
    },
    "DeleteRetentionPolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The organization that contains the user to be deleted.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The identifier of the user to be deleted.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DeregisterFromWorkMailRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier for the member (user or group) to be updated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the WorkMail entity exists.</p>",
[...]
