{
  "documentation": "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in RAM. RAM is a service that helps you securely share your Amazon Web Services resources across Amazon Web Services accounts. If you have multiple Amazon Web Services accounts, you can use RAM to share those resources with other accounts. If you use Organizations to manage your accounts, then you share your resources with your organization or organizational units (OUs). For supported resource types, you can also share resources with individual Identity and Access Management (IAM) roles an users. </p> <p>To learn more about RAM, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User Guide</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2018-01-04",
    "endpointPrefix": "ram",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "RAM",
    "serviceFullName": "AWS Resource Access Manager",
    "serviceId": "RAM",
    "signatureVersion": "v4",
    "uid": "ram-2018-01-04"
  },
  "operations": {
    "AcceptResourceShareInvitation": {
      "documentation": "<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the invitation, the resources included in the resource share are available to interact with in the relevant Amazon Web Services Management Consoles and tools.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceShareInvitationArnNotFoundException"
        },
        {
          "shape": "ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "shape": "ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "shape": "ResourceShareInvitationExpiredException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/acceptresourceshareinvitation"
      },
      "input": {
        "shape": "AcceptResourceShareInvitationRequest"
      },
      "name": "AcceptResourceShareInvitation",
      "output": {
        "shape": "AcceptResourceShareInvitationResponse"
      }
    },
    "AssociateResourceShare": {
      "documentation": "<p>Adds the specified list of principals and list of resources to a resource share. Principals that already have access to this resource share immediately receive access to the added resources. Newly added principals immediately receive access to the resources shared in this resource share. </p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "ResourceShareLimitExceededException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/associateresourceshare"
      },
      "input": {
        "shape": "AssociateResourceShareRequest"
      },
      "name": "AssociateResourceShare",
      "output": {
        "shape": "AssociateResourceShareResponse"
      }
    },
    "AssociateResourceSharePermission": {
      "documentation": "<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can have exactly one permission associated with each resource type in the resource share. You can add a new RAM permission only if there are currently no resources of that resource type currently in the resource share.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/associateresourcesharepermission"
      },
      "input": {
        "shape": "AssociateResourceSharePermissionRequest"
      },
      "name": "AssociateResourceSharePermission",
      "output": {
        "shape": "AssociateResourceSharePermissionResponse"
      }
    },
    "CreateResourceShare": {
      "documentation": "<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you want to share, a list of principals you want to share the resources with, and the permissions to grant those principals.</p> <note> <p>Sharing a resource makes it available for use by principals outside of the Amazon Web Services account that created the resource. Sharing doesn't change any permissions or quotas that apply to the resource in the account that created it.</p> </note>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceShareLimitExceededException"
        },
        {
          "shape": "TagPolicyViolationException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createresourceshare"
      },
      "input": {
        "shape": "CreateResourceShareRequest"
      },
      "name": "CreateResourceShare",
      "output": {
        "shape": "CreateResourceShareResponse"
      }
    },
    "DeleteResourceShare": {
      "documentation": "<p>Deletes the specified resource share. This doesn't delete any of the resources that were associated with the resource share; it only stops the sharing of those resources outside of the Amazon Web Services account that created them.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/deleteresourceshare"
      },
      "input": {
        "shape": "DeleteResourceShareRequest"
      },
      "name": "DeleteResourceShare",
      "output": {
        "shape": "DeleteResourceShareResponse"
      }
    },
    "DisassociateResourceShare": {
      "documentation": "<p>Disassociates the specified principals or resources from the specified resource share.</p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ResourceShareLimitExceededException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnknownResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/disassociateresourceshare"
      },
      "input": {
        "shape": "DisassociateResourceShareRequest"
      },
      "name": "DisassociateResourceShare",
      "output": {
        "shape": "DisassociateResourceShareResponse"
      }
    },
    "DisassociateResourceSharePermission": {
      "documentation": "<p>Disassociates an RAM permission from a resource share. Permission changes take effect immediately. You can remove a RAM permission from a resource share only if there are currently no resources of the relevant resource type currently attached to the resource share.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidStateTransitionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/disassociateresourcesharepermission"
      },
      "input": {
        "shape": "DisassociateResourceSharePermissionRequest"
      },
      "name": "DisassociateResourceSharePermission",
      "output": {
        "shape": "DisassociateResourceSharePermissionResponse"
      }
    },
    "EnableSharingWithAwsOrganization": {
      "documentation": "<p>Enables resource sharing within your organization in Organizations. Calling this operation enables RAM to retrieve information about the organization and its structure. This lets you share resources with all of the accounts in an organization by specifying the organization's ID, or all of the accounts in an organizational unit (OU) by specifying the OU's ID. Until you enable sharing within the organization, you can specify only individual Amazon Web Services accounts, or for supported resource types, IAM users and roles.</p> <p>You must call this operation from an IAM user or role in the organization's management account.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/enablesharingwithawsorganization"
      },
      "input": {
        "shape": "EnableSharingWithAwsOrganizationRequest"
      },
      "name": "EnableSharingWithAwsOrganization",
      "output": {
        "shape": "EnableSharingWithAwsOrganizationResponse"
      }
    },
    "GetPermission": {
      "documentation": "<p>Gets the contents of an RAM permission in JSON format.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getpermission"
      },
      "input": {
        "shape": "GetPermissionRequest"
      },
      "name": "GetPermission",
      "output": {
        "shape": "GetPermissionResponse"
      }
    },
    "GetResourcePolicies": {
      "documentation": "<p>Retrieves the resource policies for the specified resources that you own and have shared.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceArnNotFoundException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getresourcepolicies"
      },
      "input": {
        "shape": "GetResourcePoliciesRequest"
      },
      "name": "GetResourcePolicies",
      "output": {
        "shape": "GetResourcePoliciesResponse"
      }
    },
    "GetResourceShareAssociations": {
      "documentation": "<p>Retrieves the resource and principal associations for resource shares that you own.</p>",
      "errors": [
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getresourceshareassociations"
      },
      "input": {
        "shape": "GetResourceShareAssociationsRequest"
      },
      "name": "GetResourceShareAssociations",
      "output": {
        "shape": "GetResourceShareAssociationsResponse"
      }
    },
    "GetResourceShareInvitations": {
      "documentation": "<p>Retrieves details about invitations that you have received for resource shares.</p>",
      "errors": [
        {
          "shape": "ResourceShareInvitationArnNotFoundException"
        },
        {
          "shape": "InvalidMaxResultsException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getresourceshareinvitations"
      },
      "input": {
        "shape": "GetResourceShareInvitationsRequest"
      },
      "name": "GetResourceShareInvitations",
      "output": {
        "shape": "GetResourceShareInvitationsResponse"
      }
    },
    "GetResourceShares": {
      "documentation": "<p>Retrieves details about the resource shares that you own or that are shared with you.</p>",
      "errors": [
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/getresourceshares"
      },
      "input": {
        "shape": "GetResourceSharesRequest"
      },
      "name": "GetResourceShares",
      "output": {
        "shape": "GetResourceSharesResponse"
      }
    },
    "ListPendingInvitationResources": {
      "documentation": "<p>Lists the resources in a resource share that is shared with you but for which the invitation is still <code>PENDING</code>. That means that you haven't accepted or rejected the invitation and the invitation hasn't expired.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceShareInvitationArnNotFoundException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "shape": "ResourceShareInvitationExpiredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listpendinginvitationresources"
      },
      "input": {
        "shape": "ListPendingInvitationResourcesRequest"
      },
      "name": "ListPendingInvitationResources",
      "output": {
        "shape": "ListPendingInvitationResourcesResponse"
      }
    },
    "ListPermissionVersions": {
      "documentation": "<p>Lists the available versions of the specified RAM permission.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listpermissionversions"
      },
      "input": {
        "shape": "ListPermissionVersionsRequest"
      },
      "name": "ListPermissionVersions",
      "output": {
        "shape": "ListPermissionVersionsResponse"
      }
    },
    "ListPermissions": {
      "documentation": "<p>Retrieves a list of available RAM permissions that you can use for the supported resource types. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listpermissions"
      },
      "input": {
        "shape": "ListPermissionsRequest"
      },
      "name": "ListPermissions",
      "output": {
        "shape": "ListPermissionsResponse"
      }
    },
    "ListPrincipals": {
      "documentation": "<p>Lists the principals that you are sharing resources with or that are sharing resources with you.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listprincipals"
      },
      "input": {
        "shape": "ListPrincipalsRequest"
      },
      "name": "ListPrincipals",
      "output": {
        "shape": "ListPrincipalsResponse"
      }
    },
    "ListResourceSharePermissions": {
      "documentation": "<p>Lists the RAM permissions that are associated with a resource share.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listresourcesharepermissions"
      },
      "input": {
        "shape": "ListResourceSharePermissionsRequest"
      },
      "name": "ListResourceSharePermissions",
      "output": {
        "shape": "ListResourceSharePermissionsResponse"
      }
    },
    "ListResourceTypes": {
      "documentation": "<p>Lists the resource types that can be shared by RAM.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listresourcetypes"
      },
      "input": {
        "shape": "ListResourceTypesRequest"
      },
      "name": "ListResourceTypes",
      "output": {
        "shape": "ListResourceTypesResponse"
      }
    },
    "ListResources": {
      "documentation": "<p>Lists the resources that you added to a resource share or the resources that are shared with you.</p>",
      "errors": [
        {
          "shape": "InvalidResourceTypeException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listresources"
      },
      "input": {
        "shape": "ListResourcesRequest"
      },
      "name": "ListResources",
      "output": {
        "shape": "ListResourcesResponse"
      }
    },
    "PromoteResourceShareCreatedFromPolicy": {
      "documentation": "<p>When you attach a resource-based permission policy to a resource, it automatically creates a resource share. However, resource shares created this way are visible only to the resource share owner, and the resource share can't be modified in RAM.</p> <p>You can use this operation to promote the resource share to a full RAM resource share. When you promote a resource share, you can then manage the resource share in RAM and it becomes visible to all of the principals you shared it with.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "ResourceShareLimitExceededException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnknownResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/promoteresourcesharecreatedfrompolicy"
      },
      "input": {
        "shape": "PromoteResourceShareCreatedFromPolicyRequest"
      },
      "name": "PromoteResourceShareCreatedFromPolicy",
      "output": {
        "shape": "PromoteResourceShareCreatedFromPolicyResponse"
      }
    },
    "RejectResourceShareInvitation": {
      "documentation": "<p>Rejects an invitation to a resource share from another Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceShareInvitationArnNotFoundException"
        },
        {
          "shape": "ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "shape": "ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "shape": "ResourceShareInvitationExpiredException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rejectresourceshareinvitation"
      },
      "input": {
        "shape": "RejectResourceShareInvitationRequest"
      },
      "name": "RejectResourceShareInvitation",
      "output": {
        "shape": "RejectResourceShareInvitationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tag keys and values to the specified resource share. The tags are attached only to the resource share, not to the resources that are in the resource share.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "ResourceArnNotFoundException"
        },
        {
          "shape": "TagPolicyViolationException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tagresource"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tag key and value pairs from the specified resource share.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/untagresource"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateResourceShare": {
      "documentation": "<p>Modifies some of the properties of the specified resource share.</p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "MalformedArnException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateresourceshare"
      },
      "input": {
        "shape": "UpdateResourceShareRequest"
      },
      "name": "UpdateResourceShare",
      "output": {
        "shape": "UpdateResourceShareResponse"
      }
    }
  },
  "shapes": {
    "AcceptResourceShareInvitationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "resourceShareInvitationArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareInvitationArn"
      ],
      "type": "structure"
    },
    "AcceptResourceShareInvitationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "resourceShareInvitation": {
          "documentation": "<p>An object that contains information about the specified invitation.</p>",
          "shape": "ResourceShareInvitation"
        }
      },
      "type": "structure"
    },
    "AssociateResourceSharePermissionRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "permissionArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the RAM permission to associate with the resource share. To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and then choose the name of the permission. The ARN is displayed on the detail page.</p>",
          "shape": "String"
        },
        "permissionVersion": {
          "documentation": "<p>Specifies the version of the RAM permission to associate with the resource share. If you don't specify this parameter, the operation uses the version designated as the default. You can use the <a>ListPermissionVersions</a> operation to discover the available versions of a permission.</p>",
          "shape": "Integer"
        },
        "replace": {
          "documentation": "<p>Specifies whether the specified permission should replace or add to the existing permission associated with the resource share. Use <code>true</code> to replace the current permissions. Use <code>false</code> to add the permission to the current permission. The default value is <code>false</code>.</p> <note> <p>A resource share can have only one permission per resource type. If a resource share already has a permission for the specified resource type and you don't set <code>replace</code> to <code>true</code> then the operation returns an error. This helps prevent accidental overwriting of a permission.</p> </note>",
          "shape": "Boolean"
        },
        "resourceShareArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to which you want to add or replace permissions.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn",
        "permissionArn"
      ],
      "type": "structure"
    },
    "AssociateResourceSharePermissionResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "returnValue": {
          "documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AssociateResourceShareRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "principals": {
          "documentation": "<p>Specifies a list of principals to whom you want to the resource share. This can be <code>null</code> if you want to add only resources.</p> <p>What the principals can do with the resources in the share is determined by the RAM permissions that you associate with the resource share. See <a>AssociateResourceSharePermission</a>.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>",
          "shape": "PrincipalArnOrIdList"
        },
        "resourceArns": {
          "documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources that you want to share. This can be <code>null</code> if you want to add only principals.</p>",
          "shape": "ResourceArnList"
        },
        "resourceShareArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to add principals or resources to.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn"
      ],
      "type": "structure"
    },
    "AssociateResourceShareResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "resourceShareAssociations": {
          "documentation": "<p>An array of objects that contain information about the associations.</p>",
          "shape": "ResourceShareAssociationList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CreateResourceShareRequest": {
      "members": {
        "allowExternalPrincipals": {
          "documentation": "<p>Specifies whether principals outside your organization in Organizations can be associated with a resource share. A value of <code>true</code> lets you share with individual Amazon Web Services accounts that are <i>not</i> in your organization. A value of <code>false</code> only has meaning if your account is a member of an Amazon Web Services Organization. The default value is <code>true</code>.</p>",
          "shape": "Boolean"
        },
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>Specifies the name of the resource share.</p>",
          "shape": "String"
        },
        "permissionArns": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the RAM permission to associate with the resource share. If you do not specify an ARN for the permission, RAM automatically attaches the default version of the permission for each resource type. You can associate only one permission with each resource type included in the resource share.</p>",
          "shape": "PermissionArnList"
        },
        "principals": {
          "documentation": "<p>Specifies a list of one or more principals to associate with the resource share.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>",
          "shape": "PrincipalArnOrIdList"
        },
        "resourceArns": {
          "documentation": "<p>Specifies a list of one or more ARNs of the resources to associate with the resource share.</p>",
          "shape": "ResourceArnList"
        },
        "tags": {
          "documentation": "<p>Specifies one or more tags to attach to the resource share itself. It doesn't attach the tags to the resources associated with the resource share.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateResourceShareResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "resourceShare": {
          "documentation": "<p>An object with information about the new resource share.</p>",
          "shape": "ResourceShare"
        }
      },
      "type": "structure"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeleteResourceShareRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "String"
        },
        "resourceShareArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to delete.</p>",
          "location": "querystring",
          "locationName": "resourceShareArn",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn"
      ],
      "type": "structure"
    },
    "DeleteResourceShareResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "returnValue": {
          "documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "DisassociateResourceSharePermissionRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "permissionArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission to disassociate from the resource share. Changes to permissions take effect immediately.</p>",
          "shape": "String"
        },
        "resourceShareArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share from which you want to disassociate a permission.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn",
        "permissionArn"
      ],
      "type": "structure"
    },
    "DisassociateResourceSharePermissionResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "returnValue": {
          "documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "DisassociateResourceShareRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "principals": {
          "documentation": "<p>Specifies a list of one or more principals that no longer are to have access to the resources in this resource share.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>",
          "shape": "PrincipalArnOrIdList"
        },
        "resourceArns": {
          "documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for one or more resources that you want to remove from the resource share. After the operation runs, these resources are no longer shared with principals outside of the Amazon Web Services account that created the resources.</p>",
          "shape": "ResourceArnList"
        },
        "resourceShareArn": {
          "documentation": "<p>Specifies <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to remove resources from.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn"
      ],
      "type": "structure"
    },
    "DisassociateResourceShareResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "resourceShareAssociations": {
          "documentation": "<p>An array of objects that contain information about the updated associations for this resource share.</p>",
          "shape": "ResourceShareAssociationList"
        }
      },
      "type": "structure"
    },
    "EnableSharingWithAwsOrganizationRequest": {
      "members": {},
      "type": "structure"
    },
    "EnableSharingWithAwsOrganizationResponse": {
      "members": {
        "returnValue": {
          "documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "GetPermissionRequest": {
      "members": {
        "permissionArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission whose contents you want to retrieve. To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and then choose the name of the permission. The ARN is displayed on the detail page.</p>",
          "shape": "String"
        },
        "permissionVersion": {
          "documentation": "<p>Specifies identifier for the version of the RAM permission to retrieve. If you don't specify this parameter, the operation retrieves the default version.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "permissionArn"
      ],
      "type": "structure"
    },
    "GetPermissionResponse": {
      "members": {
        "permission": {
          "documentation": "<p>An object that contains information about the permission.</p>",
          "shape": "ResourceSharePermissionDetail"
        }
      },
      "type": "structure"
    },
    "GetResourcePoliciesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "principal": {
          "documentation": "<p>Specifies the principal.</p>",
          "shape": "String"
        },
        "resourceArns": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources whose policies you want to retrieve.</p>",
          "shape": "ResourceArnList"
        }
      },
      "required": [
        "resourceArns"
      ],
      "type": "structure"
    },
    "GetResourcePoliciesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "policies": {
          "documentation": "<p>An array of resource policy documents in JSON format.</p>",
          "shape": "PolicyList"
        }
      },
      "type": "structure"
    },
    "GetResourceShareAssociationsRequest": {
      "members": {
        "associationStatus": {
          "documentation": "<p>Specifies that you want to retrieve only associations with this status.</p>",
          "shape": "ResourceShareAssociationStatus"
        },
        "associationType": {
          "documentation": "<p>Specifies whether you want to retrieve the associations that involve a specified resource or principal.</p> <ul> <li> <p> <code>PRINCIPAL</code> \u2013 list the principals that are associated with the specified resource share.</p> </li> <li> <p> <code>RESOURCE</code> \u2013 list the resources that are associated with the specified resource share.</p> </li> </ul>",
          "shape": "ResourceShareAssociationType"
        },
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "principal": {
          "documentation": "<p>Specifies the ID of the principal whose resource shares you want to retrieve. This can be an Amazon Web Services account ID, an organization ID, an organizational unit ID, or the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an individual IAM user or role.</p> <p>You cannot specify this parameter if the association type is <code>RESOURCE</code>.</p>",
          "shape": "String"
        },
        "resourceArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource whose resource shares you want to retrieve.</p> <p>You cannot specify this parameter if the association type is <code>PRINCIPAL</code>.</p>",
          "shape": "String"
        },
        "resourceShareArns": {
          "documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share whose associations you want to retrieve.</p>",
          "shape": "ResourceShareArnList"
        }
      },
      "required": [
        "associationType"
      ],
      "type": "structure"
    },
    "GetResourceShareAssociationsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resourceShareAssociations": {
          "documentation": "<p>An array of objects that contain the details about the associations.</p>",
          "shape": "ResourceShareAssociationList"
        }
      },
      "type": "structure"
    },
    "GetResourceShareInvitationsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "resourceShareArns": {
          "documentation": "<p>Specifies that you want details about invitations only for the resource shares described by this list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> </p>",
          "shape": "ResourceShareArnList"
        },
        "resourceShareInvitationArns": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share invitations you want information about.</p>",
          "shape": "ResourceShareInvitationArnList"
        }
      },
      "type": "structure"
    },
    "GetResourceShareInvitationsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resourceShareInvitations": {
          "documentation": "<p>An array of objects that contain the details about the invitations.</p>",
          "shape": "ResourceShareInvitationList"
        }
      },
      "type": "structure"
    },
    "GetResourceSharesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "name": {
          "documentation": "<p>Specifies the name of an individual resource share that you want to retrieve details about.</p>",
          "shape": "String"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "permissionArn": {
          "documentation": "<p>Specifies that you want to retrieve details of only those resource shares that use the RAM permission with this <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a>.</p>",
          "shape": "String"
        },
        "resourceOwner": {
          "documentation": "<p>Specifies that you want to retrieve details of only those resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> \u2013 resource shares that your account shares with other accounts</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> \u2013 resource shares that other accounts share with your account</p> </li> </ul>",
          "shape": "ResourceOwner"
        },
        "resourceShareArns": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of individual resource shares that you want information about.</p>",
          "shape": "ResourceShareArnList"
        },
        "resourceShareStatus": {
          "documentation": "<p>Specifies that you want to retrieve details of only those resource shares that have this status.</p>",
          "shape": "ResourceShareStatus"
        },
        "tagFilters": {
          "documentation": "<p>Specifies that you want to retrieve details of only those resource shares that match the specified tag keys and values.</p>",
          "shape": "TagFilters"
        }
      },
      "required": [
        "resourceOwner"
      ],
      "type": "structure"
    },
    "GetResourceSharesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resourceShares": {
          "documentation": "<p>An array of objects that contain the information about the resource shares.</p>",
          "shape": "ResourceShareList"
        }
      },
      "type": "structure"
    },
    "IdempotentParameterMismatchException": {
      "documentation": "<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidClientTokenException": {
      "documentation": "<p>The client token is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidMaxResultsException": {
      "documentation": "<p>The specified value for <code>MaxResults</code> is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The specified value for <code>NextToken</code> is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>A parameter is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidResourceTypeException": {
      "documentation": "<p>The specified resource type is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidStateTransitionException": {
      "documentation": "<p>The requested state transition is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ListPendingInvitationResourcesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "resourceRegionScope": {
          "documentation": "<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> \u2013 the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> \u2013 the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> \u2013 the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>",
          "shape": "ResourceRegionScopeFilter"
        },
        "resourceShareInvitationArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation. You can use <a>GetResourceShareInvitations</a> to find the ARN of the invitation.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareInvitationArn"
      ],
      "type": "structure"
    },
    "ListPendingInvitationResourcesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resources": {
          "documentation": "<p>An array of objects that contain the information about the resources included the specified resource share.</p>",
          "shape": "ResourceList"
        }
      },
      "type": "structure"
    },
    "ListPermissionVersionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "permissionArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the RAM permission whose versions you want to list. You can use the <code>permissionVersion</code> parameter on the <a>AssociateResourceSharePermission</a> operation to specify a non-default version to attach.</p>",
          "shape": "String"
        }
      },
      "required": [
        "permissionArn"
      ],
      "type": "structure"
    },
    "ListPermissionVersionsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "permissions": {
          "documentation": "<p>An array of objects that contain details for each of the available versions.</p>",
          "shape": "ResourceSharePermissionList"
        }
      },
      "type": "structure"
    },
    "ListPermissionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>Specifies that you want to list permissions for only the specified resource type. For example, to list only permissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>. You can use the <a>ListResourceTypes</a> operation to get the specific string required.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListPermissionsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "permissions": {
          "documentation": "<p>An array of objects with information about the permissions.</p>",
          "shape": "ResourceSharePermissionList"
        }
      },
      "type": "structure"
    },
    "ListPrincipalsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "principals": {
          "documentation": "<p>Specifies that you want to list information for only the listed principals.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>",
          "shape": "PrincipalArnOrIdList"
        },
        "resourceArn": {
          "documentation": "<p>Specifies that you want to list principal information for the resource share with the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a>.</p>",
          "shape": "String"
        },
        "resourceOwner": {
          "documentation": "<p>Specifies that you want to list information for only resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> \u2013 principals that your account is sharing resources with</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> \u2013 principals that are sharing resources with your account</p> </li> </ul>",
          "shape": "ResourceOwner"
        },
        "resourceShareArns": {
          "documentation": "<p>Specifies that you want to list information for only principals associated with the resource shares specified by a list the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
          "shape": "ResourceShareArnList"
        },
        "resourceType": {
          "documentation": "<p>Specifies that you want to list information for only principals associated with resource shares that include the specified resource type.</p> <p>For a list of valid values, query the <a>ListResourceTypes</a> operation.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceOwner"
      ],
      "type": "structure"
    },
    "ListPrincipalsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "principals": {
          "documentation": "<p>An array of objects that contain the details about the principals.</p>",
          "shape": "PrincipalList"
        }
      },
      "type": "structure"
    },
    "ListResourceSharePermissionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "resourceShareArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share for which you want to retrieve the associated permissions.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn"
      ],
      "type": "structure"
    },
    "ListResourceSharePermissionsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "permissions": {
          "documentation": "<p>An array of objects that describe the permissions associated with the resource share.</p>",
          "shape": "ResourceSharePermissionList"
        }
      },
      "type": "structure"
    },
    "ListResourceTypesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "resourceRegionScope": {
          "documentation": "<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> \u2013 the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> \u2013 the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> \u2013 the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>",
          "shape": "ResourceRegionScopeFilter"
        }
      },
      "type": "structure"
    },
    "ListResourceTypesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resourceTypes": {
          "documentation": "<p>An array of objects that contain information about the resource types that can be shared using RAM.</p>",
          "shape": "ServiceNameAndResourceTypeList"
        }
      },
      "type": "structure"
    },
    "ListResourcesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>",
          "shape": "String"
        },
        "principal": {
          "documentation": "<p>Specifies that you want to list only the resource shares that are associated with the specified principal.</p>",
          "shape": "String"
        },
        "resourceArns": {
          "documentation": "<p>Specifies that you want to list only the resource shares that include resources with the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
          "shape": "ResourceArnList"
        },
        "resourceOwner": {
          "documentation": "<p>Specifies that you want to list only the resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> \u2013 resources that your account shares with other accounts</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> \u2013 resources that other accounts share with your account</p> </li> </ul>",
          "shape": "ResourceOwner"
        },
        "resourceRegionScope": {
          "documentation": "<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> \u2013 the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> \u2013 the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> \u2013 the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>",
          "shape": "ResourceRegionScopeFilter"
        },
        "resourceShareArns": {
          "documentation": "<p>Specifies that you want to list only resources in the resource shares identified by the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
          "shape": "ResourceShareArnList"
        },
        "resourceType": {
          "documentation": "<p>Specifies that you want to list only the resource shares that include resources of the specified resource type.</p> <p>For valid values, query the <a>ListResourceTypes</a> operation.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceOwner"
      ],
      "type": "structure"
    },
    "ListResourcesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>",
          "shape": "String"
        },
        "resources": {
          "documentation": "<p>An array of objects that contain information about the resources.</p>",
          "shape": "ResourceList"
        }
      },
      "type": "structure"
    },
    "MalformedArnException": {
      "documentation": "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "max": 500,
      "min": 1,
      "type": "integer"
    },
    "MissingRequiredParameterException": {
      "documentation": "<p>A required input parameter is missing.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "OperationNotPermittedException": {
      "documentation": "<p>The requested operation is not permitted.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "PermissionArnList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Policy": {
      "type": "string"
    },
    "PolicyList": {
      "member": {
        "shape": "Policy"
      },
      "type": "list"
    },
    "Principal": {
      "documentation": "<p>Describes a principal for use with Resource Access Manager.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The date and time when the principal was associated with the resource share.</p>",
          "shape": "DateTime"
        },
        "external": {
          "documentation": "<p>Indicates whether the principal belongs to the same organization in Organizations as the Amazon Web Services account that owns the resource share.</p>",
          "shape": "Boolean"
        },
        "id": {
          "documentation": "<p>The ID of the principal.</p>",
          "shape": "String"
        },
        "lastUpdatedTime": {
          "documentation": "<p>The date and time when the association was last updated.</p>",
          "shape": "DateTime"
        },
        "resourceShareArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of a resource share the principal is associated with.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PrincipalArnOrIdList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "PrincipalList": {
      "member": {
        "shape": "Principal"
      },
      "type": "list"
    },
    "PromoteResourceShareCreatedFromPolicyRequest": {
      "members": {
        "resourceShareArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to promote.</p>",
          "location": "querystring",
          "locationName": "resourceShareArn",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareArn"
      ],
      "type": "structure"
    },
    "PromoteResourceShareCreatedFromPolicyResponse": {
      "members": {
        "returnValue": {
          "documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "RejectResourceShareInvitationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "shape": "String"
        },
        "resourceShareInvitationArn": {
          "documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to reject.</p>",
          "shape": "String"
        }
      },
      "required": [
        "resourceShareInvitationArn"
      ],
      "type": "structure"
    },
    "RejectResourceShareInvitationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>",
          "shape": "String"
        },
        "resourceShareInvitation": {
          "documentation": "<p>An object that contains the details about the rejected invitation.</p>",
          "shape": "ResourceShareInvitation"
        }
      },
      "type": "structure"
    },
    "Resource": {
      "documentation": "<p>Describes a resource associated with a resource share in RAM.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource.</p>",
          "shape": "String"
        },
        "creationTime": {
          "documentation": "<p>The date and time when the resource was associated with the resource share.</p>",
          "shape": "DateTime"
        },
        "lastUpdatedTime": {
          "documentation": "<p>The date an time when the association was last updated.</p>",
          "shape": "DateTime"
        },
        "resourceGroupArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource group. This value is available only if the resource is part of a resource group.</p>",
          "shape": "String"
        },
        "resourceRegionScope": {
          "documentation": "<p>Specifies the scope of visibility of this resource:</p> <ul> <li> <p> <b>REGIONAL</b> \u2013 The resource can be accessed only by using requests that target the Amazon Web Services Region in which the resource exists.</p> </li> <li> <p> <b>GLOBAL</b> \u2013 The resource can be accessed from any Amazon Web Services Region.</p> </li> </ul>",
          "shape": "ResourceRegionScope"
        },
        "resourceShareArn": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share this resource is associated with.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The current status of the resource.</p>",
          "shape": "ResourceStatus"
        },
        "statusMessage": {
          "documentation": "<p>A message about the status of the resource.</p>",
          "shape": "String"
        },
        "type": {
          "documentation": "<p>The resource type. This takes the form of: <code>service-code</code>:<code>resource-code</code> </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceArnList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ResourceArnNotFoundException": {
      "documentation": "<p>The specified Amazon Resource Name (ARN) was not found.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ResourceList": {
      "member": {
        "shape": "Resource"
      },
      "type": "list"
    },
    "ResourceOwner": {
      "enum": [
        "SELF",
        "OTHER-ACCOUNTS"
      ],
      "type": "string"
    },
    "ResourceRegionScope": {
      "enum": [
        "REGIONAL",
        "GLOBAL"
      ],
      "type": "string"
    },
    "ResourceRegionScopeFilter": {
      "enum": [
        "ALL",
        "REGIONAL",
        "GLOBAL"
      ],
      "type": "string"
    },
    "ResourceShare": {
      "documentation": "<p>Describes a resource share in RAM.</p>",
      "members": {
        "allowExternalPrincipals": {
[...]
