{
  "documentation": "<fullname>Amazon QuickSight API Reference</fullname> <p>Amazon QuickSight is a fully managed, serverless business intelligence service for the Amazon Web Services Cloud that makes it easy to extend data and insights to every user in your organization. This API reference contains documentation for a programming interface that you can use to manage Amazon QuickSight. </p>",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "quicksight",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceFullName": "Amazon QuickSight",
    "serviceId": "QuickSight",
    "signatureVersion": "v4",
    "uid": "quicksight-2018-04-01"
  },
  "operations": {
    "CancelIngestion": {
      "documentation": "<p>Cancels an ongoing ingestion of data into SPICE.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "CancelIngestionRequest"
      },
      "name": "CancelIngestion",
      "output": {
        "shape": "CancelIngestionResponse"
      }
    },
    "CreateAccountCustomization": {
      "documentation": "<p>Creates Amazon QuickSight customizations for the current Amazon Web Services Region. Currently, you can add a custom default theme by using the <code>CreateAccountCustomization</code> or <code>UpdateAccountCustomization</code> API operation. To further customize Amazon QuickSight by removing Amazon QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide.</i> </p> <p>You can create customizations for your Amazon Web Services account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace always override customizations that apply to an Amazon Web Services account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation.</p> <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme as the namespace default, make sure that you first share the theme with the namespace. If you don't share it with the namespace, the theme isn't visible to your users even if you make it the default theme. To check if the theme is shared, view the current permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeThemePermissions.html\">DescribeThemePermissions</a> </code> API operation. To share the theme, grant permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateThemePermissions.html\">UpdateThemePermissions</a> </code> API operation. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "shape": "CreateAccountCustomizationRequest"
      },
      "name": "CreateAccountCustomization",
      "output": {
        "shape": "CreateAccountCustomizationResponse"
      }
    },
    "CreateAccountSubscription": {
      "documentation": "<p>Creates an Amazon QuickSight account, or subscribes to Amazon QuickSight Q.</p> <p>The Amazon Web Services Region for the account is derived from what is configured in the CLI or SDK. This operation isn't supported in the US East (Ohio) Region, South America (Sao Paulo) Region, or Asia Pacific (Singapore) Region. </p> <p>Before you use this operation, make sure that you can connect to an existing Amazon Web Services account. If you don't have an Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/setting-up-aws-sign-up.html\">Sign up for Amazon Web Services</a> in the <i>Amazon QuickSight User Guide</i>. The person who signs up for Amazon QuickSight needs to have the correct Identity and Access Management (IAM) permissions. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/iam-policy-examples.html\">IAM Policy Examples for Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>If your IAM policy includes both the <code>Subscribe</code> and <code>CreateAccountSubscription</code> actions, make sure that both actions are set to <code>Allow</code>. If either action is set to <code>Deny</code>, the <code>Deny</code> action prevails and your API call fails.</p> <p>You can't pass an existing IAM role to access other Amazon Web Services services using this API operation. To pass your existing IAM role to Amazon QuickSight, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/security_iam_service-with-iam.html#security-create-iam-role\">Passing IAM roles to Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>You can't set default resource access on the new account from the Amazon QuickSight API. Instead, add default resource access from the Amazon QuickSight console. For more information about setting default resource access to Amazon Web Services services, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/scoping-policies-defaults.html\">Setting default resource access to Amazon Web Services services</a> in the <i>Amazon QuickSight User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "shape": "CreateAccountSubscriptionRequest"
      },
      "name": "CreateAccountSubscription",
      "output": {
        "shape": "CreateAccountSubscriptionResponse"
      }
    },
    "CreateAnalysis": {
      "documentation": "<p>Creates an analysis in Amazon QuickSight.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "shape": "CreateAnalysisRequest"
      },
      "name": "CreateAnalysis",
      "output": {
        "shape": "CreateAnalysisResponse"
      }
    },
    "CreateDashboard": {
      "documentation": "<p>Creates a dashboard from a template. To first create a template, see the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a> </code> API operation.</p> <p>A dashboard is an entity in Amazon QuickSight that identifies Amazon QuickSight reports, created from analyses. You can share Amazon QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. If you have the correct permissions, you can create a dashboard from a template that exists in a different Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "CreateDashboardRequest"
      },
      "name": "CreateDashboard",
      "output": {
        "shape": "CreateDashboardResponse"
      }
    },
    "CreateDataSet": {
      "documentation": "<p>Creates a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "shape": "CreateDataSetRequest"
      },
      "name": "CreateDataSet",
      "output": {
        "shape": "CreateDataSetResponse"
      }
    },
    "CreateDataSource": {
      "documentation": "<p>Creates a data source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "name": "CreateDataSource",
      "output": {
        "shape": "CreateDataSourceResponse"
      }
    },
    "CreateFolder": {
      "documentation": "<p>Creates an empty shared folder.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "shape": "CreateFolderRequest"
      },
      "name": "CreateFolder",
      "output": {
        "shape": "CreateFolderResponse"
      }
    },
    "CreateFolderMembership": {
      "documentation": "<p>Adds an asset, such as a dashboard, analysis, or dataset into a folder.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "shape": "CreateFolderMembershipRequest"
      },
      "name": "CreateFolderMembership",
      "output": {
        "shape": "CreateFolderMembershipResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Use the <code>CreateGroup</code> operation to create a group in Amazon QuickSight. You can create up to 10,000 groups in a namespace. If you want to create more than 10,000 groups in a namespace, contact AWS Support.</p> <p>The permissions resource is <code>arn:aws:quicksight:&lt;your-region&gt;:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateGroupMembership": {
      "documentation": "<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "shape": "CreateGroupMembershipRequest"
      },
      "name": "CreateGroupMembership",
      "output": {
        "shape": "CreateGroupMembershipResponse"
      }
    },
    "CreateIAMPolicyAssignment": {
      "documentation": "<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name (ARN). This policy assignment is attached to the specified groups or users of Amazon QuickSight. Assignment names are unique per Amazon Web Services account. To avoid overwriting rules in other namespaces, use assignment names that are unique.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input": {
        "shape": "CreateIAMPolicyAssignmentRequest"
      },
      "name": "CreateIAMPolicyAssignment",
      "output": {
        "shape": "CreateIAMPolicyAssignmentResponse"
      }
    },
    "CreateIngestion": {
      "documentation": "<p>Creates and starts a new SPICE ingestion for a dataset. You can manually refresh datasets in an Enterprise edition account 32 times in a 24-hour period. You can manually refresh datasets in a Standard edition account 8 times in a 24-hour period. Each 24-hour period is measured starting 24 hours before the current date and time.</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access control. For an example, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a> in the Amazon Web Services Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "CreateIngestionRequest"
      },
      "name": "CreateIngestion",
      "output": {
        "shape": "CreateIngestionResponse"
      }
    },
    "CreateNamespace": {
      "documentation": "<p>(Enterprise edition only) Creates a new namespace for you to use with Amazon QuickSight.</p> <p>A namespace allows you to isolate the Amazon QuickSight users and groups that are registered for that namespace. Users that access the namespace can share assets only with other users or groups in the same namespace. They can't see users and groups in other namespaces. You can create a namespace after your Amazon Web Services account is subscribed to Amazon QuickSight. The namespace must be unique within the Amazon Web Services account. By default, there is a limit of 100 namespaces per Amazon Web Services account. To increase your limit, create a ticket with Amazon Web Services Support. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}"
      },
      "input": {
        "shape": "CreateNamespaceRequest"
      },
      "name": "CreateNamespace",
      "output": {
        "shape": "CreateNamespaceResponse"
      }
    },
    "CreateTemplate": {
      "documentation": "<p>Creates a template from an existing Amazon QuickSight analysis or template. You can use the resulting template to create a dashboard.</p> <p>A <i>template</i> is an entity in Amazon QuickSight that encapsulates the metadata required to create an analysis and that you can use to create s dashboard. A template adds a layer of abstraction by using placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets that follow the same schema that was used to create the source analysis and template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "CreateTemplateRequest"
      },
      "name": "CreateTemplate",
      "output": {
        "shape": "CreateTemplateResponse"
      }
    },
    "CreateTemplateAlias": {
      "documentation": "<p>Creates a template alias for a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "CreateTemplateAliasRequest"
      },
      "name": "CreateTemplateAlias",
      "output": {
        "shape": "CreateTemplateAliasResponse"
      }
    },
    "CreateTheme": {
      "documentation": "<p>Creates a theme.</p> <p>A <i>theme</i> is set of configuration options for color and layout. Themes apply to analyses and dashboards. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/themes-in-quicksight.html\">Using Themes in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "shape": "CreateThemeRequest"
      },
      "name": "CreateTheme",
      "output": {
        "shape": "CreateThemeResponse"
      }
    },
    "CreateThemeAlias": {
      "documentation": "<p>Creates a theme alias for a theme.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "CreateThemeAliasRequest"
      },
      "name": "CreateThemeAlias",
      "output": {
        "shape": "CreateThemeAliasResponse"
      }
    },
    "DeleteAccountCustomization": {
      "documentation": "<p>Deletes all Amazon QuickSight customizations in this Amazon Web Services Region for the specified Amazon Web Services account and Amazon QuickSight namespace.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "shape": "DeleteAccountCustomizationRequest"
      },
      "name": "DeleteAccountCustomization",
      "output": {
        "shape": "DeleteAccountCustomizationResponse"
      }
    },
    "DeleteAnalysis": {
      "documentation": "<p>Deletes an analysis from Amazon QuickSight. You can optionally include a recovery window during which you can restore the analysis. If you don't specify a recovery window value, the operation defaults to 30 days. Amazon QuickSight attaches a <code>DeletionTime</code> stamp to the response that specifies the end of the recovery window. At the end of the recovery window, Amazon QuickSight deletes the analysis permanently.</p> <p>At any time before recovery window ends, you can use the <code>RestoreAnalysis</code> API operation to remove the <code>DeletionTime</code> stamp and cancel the deletion of the analysis. The analysis remains visible in the API until it's deleted, so you can describe it but you can't make a template from it.</p> <p>An analysis that's scheduled for deletion isn't accessible in the Amazon QuickSight console. To access it in the console, restore it. Deleting an analysis doesn't delete the dashboards that you publish from it.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "shape": "DeleteAnalysisRequest"
      },
      "name": "DeleteAnalysis",
      "output": {
        "shape": "DeleteAnalysisResponse"
      }
    },
    "DeleteDashboard": {
      "documentation": "<p>Deletes a dashboard.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "DeleteDashboardRequest"
      },
      "name": "DeleteDashboard",
      "output": {
        "shape": "DeleteDashboardResponse"
      }
    },
    "DeleteDataSet": {
      "documentation": "<p>Deletes a dataset.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "shape": "DeleteDataSetRequest"
      },
      "name": "DeleteDataSet",
      "output": {
        "shape": "DeleteDataSetResponse"
      }
    },
    "DeleteDataSource": {
      "documentation": "<p>Deletes the data source permanently. This operation breaks all the datasets that reference the deleted data source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "name": "DeleteDataSource",
      "output": {
        "shape": "DeleteDataSourceResponse"
      }
    },
    "DeleteFolder": {
      "documentation": "<p>Deletes an empty folder.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "shape": "DeleteFolderRequest"
      },
      "name": "DeleteFolder",
      "output": {
        "shape": "DeleteFolderResponse"
      }
    },
    "DeleteFolderMembership": {
      "documentation": "<p>Removes an asset, such as a dashboard, analysis, or dataset, from a folder.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input": {
        "shape": "DeleteFolderMembershipRequest"
      },
      "name": "DeleteFolderMembership",
      "output": {
        "shape": "DeleteFolderMembershipResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Removes a user group from Amazon QuickSight. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteGroupMembership": {
      "documentation": "<p>Removes a user from a group so that the user is no longer a member of the group.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "shape": "DeleteGroupMembershipRequest"
      },
      "name": "DeleteGroupMembership",
      "output": {
        "shape": "DeleteGroupMembershipResponse"
      }
    },
    "DeleteIAMPolicyAssignment": {
      "documentation": "<p>Deletes an existing IAM policy assignment.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "shape": "DeleteIAMPolicyAssignmentRequest"
      },
      "name": "DeleteIAMPolicyAssignment",
      "output": {
        "shape": "DeleteIAMPolicyAssignmentResponse"
      }
    },
    "DeleteNamespace": {
      "documentation": "<p>Deletes a namespace and the users and groups that are associated with the namespace. This is an asynchronous process. Assets including dashboards, analyses, datasets and data sources are not deleted. To delete these assets, you use the API operations for the relevant asset. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "shape": "DeleteNamespaceRequest"
      },
      "name": "DeleteNamespace",
      "output": {
        "shape": "DeleteNamespaceResponse"
      }
    },
    "DeleteTemplate": {
      "documentation": "<p>Deletes a template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "DeleteTemplateRequest"
      },
      "name": "DeleteTemplate",
      "output": {
        "shape": "DeleteTemplateResponse"
      }
    },
    "DeleteTemplateAlias": {
      "documentation": "<p>Deletes the item that the specified template alias points to. If you provide a specific alias, you delete the version of the template that the alias points to.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DeleteTemplateAliasRequest"
      },
      "name": "DeleteTemplateAlias",
      "output": {
        "shape": "DeleteTemplateAliasResponse"
      }
    },
    "DeleteTheme": {
      "documentation": "<p>Deletes a theme.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "shape": "DeleteThemeRequest"
      },
      "name": "DeleteTheme",
      "output": {
        "shape": "DeleteThemeResponse"
      }
    },
    "DeleteThemeAlias": {
      "documentation": "<p>Deletes the version of the theme that the specified theme alias points to. If you provide a specific alias, you delete the version of the theme that the alias points to.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DeleteThemeAliasRequest"
      },
      "name": "DeleteThemeAlias",
      "output": {
        "shape": "DeleteThemeAliasResponse"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes the Amazon QuickSight user that is associated with the identity of the Identity and Access Management (IAM) user or role that's making the call. The IAM user isn't deleted as a result of this call. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DeleteUserByPrincipalId": {
      "documentation": "<p>Deletes a user identified by its principal ID. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input": {
        "shape": "DeleteUserByPrincipalIdRequest"
      },
      "name": "DeleteUserByPrincipalId",
      "output": {
        "shape": "DeleteUserByPrincipalIdResponse"
      }
    },
    "DescribeAccountCustomization": {
      "documentation": "<p>Describes the customizations associated with the provided Amazon Web Services account and Amazon Amazon QuickSight namespace in an Amazon Web Services Region. The Amazon QuickSight console evaluates which customizations to apply by running this API operation with the <code>Resolved</code> flag included. </p> <p>To determine what customizations display when you run this command, it can help to visualize the relationship of the entities involved. </p> <ul> <li> <p> <code>Amazon Web Services account</code> - The Amazon Web Services account exists at the top of the hierarchy. It has the potential to use all of the Amazon Web Services Regions and Amazon Web Services Services. When you subscribe to Amazon QuickSight, you choose one Amazon Web Services Region to use as your home Region. That's where your free SPICE capacity is located. You can use Amazon QuickSight in any supported Amazon Web Services Region. </p> </li> <li> <p> <code>Amazon Web Services Region</code> - In each Amazon Web Services Region where you sign in to Amazon QuickSight at least once, Amazon QuickSight acts as a separate instance of the same service. If you have a user directory, it resides in us-east-1, which is the US East (N. Virginia). Generally speaking, these users have access to Amazon QuickSight in any Amazon Web Services Region, unless they are constrained to a namespace. </p> <p>To run the command in a different Amazon Web Services Region, you change your Region settings. If you're using the CLI, you can use one of the following options:</p> <ul> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-options.html\">command line options</a>. </p> </li> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html\">named profiles</a>. </p> </li> <li> <p>Run <code>aws configure</code> to change your default Amazon Web Services Region. Use Enter to key the same settings for your keys. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html\">Configuring the CLI</a>.</p> </li> </ul> </li> <li> <p> <code>Namespace</code> - A QuickSight namespace is a partition that contains users and assets (data sources, datasets, dashboards, and so on). To access assets that are in a specific namespace, users and groups must also be part of the same namespace. People who share a namespace are completely isolated from users and assets in other namespaces, even if they are in the same Amazon Web Services account and Amazon Web Services Region.</p> </li> <li> <p> <code>Applied customizations</code> - Within an Amazon Web Services Region, a set of Amazon QuickSight customizations can apply to an Amazon Web Services account or to a namespace. Settings that you apply to a namespace override settings that you apply to an Amazon Web Services account. All settings are isolated to a single Amazon Web Services Region. To apply them in other Amazon Web Services Regions, run the <code>CreateAccountCustomization</code> command in each Amazon Web Services Region where you want to apply the same customizations. </p> </li> </ul>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/customizations"
      },
      "input": {
        "shape": "DescribeAccountCustomizationRequest"
      },
      "name": "DescribeAccountCustomization",
      "output": {
        "shape": "DescribeAccountCustomizationResponse"
      }
    },
    "DescribeAccountSettings": {
      "documentation": "<p>Describes the settings that were used when your Amazon QuickSight subscription was first created in this Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/settings"
      },
      "input": {
        "shape": "DescribeAccountSettingsRequest"
      },
      "name": "DescribeAccountSettings",
      "output": {
        "shape": "DescribeAccountSettingsResponse"
      }
    },
    "DescribeAccountSubscription": {
      "documentation": "<p>Use the DescribeAccountSubscription operation to receive a description of a Amazon QuickSight account's subscription. A successful API call returns an <code>AccountInfo</code> object that includes an account's name, subscription status, authentication type, edition, and notification email address.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/account/{AwsAccountId}"
      },
      "input": {
        "shape": "DescribeAccountSubscriptionRequest"
      },
      "name": "DescribeAccountSubscription",
      "output": {
        "shape": "DescribeAccountSubscriptionResponse"
      }
    },
    "DescribeAnalysis": {
      "documentation": "<p>Provides a summary of the metadata for an analysis.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input": {
        "shape": "DescribeAnalysisRequest"
      },
      "name": "DescribeAnalysis",
      "output": {
        "shape": "DescribeAnalysisResponse"
      }
    },
    "DescribeAnalysisPermissions": {
      "documentation": "<p>Provides the read and write permissions for an analysis.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input": {
        "shape": "DescribeAnalysisPermissionsRequest"
      },
      "name": "DescribeAnalysisPermissions",
      "output": {
        "shape": "DescribeAnalysisPermissionsResponse"
      }
    },
    "DescribeDashboard": {
      "documentation": "<p>Provides a summary for a dashboard.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input": {
        "shape": "DescribeDashboardRequest"
      },
      "name": "DescribeDashboard",
      "output": {
        "shape": "DescribeDashboardResponse"
      }
    },
    "DescribeDashboardPermissions": {
      "documentation": "<p>Describes read and write permissions for a dashboard.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input": {
        "shape": "DescribeDashboardPermissionsRequest"
      },
      "name": "DescribeDashboardPermissions",
      "output": {
        "shape": "DescribeDashboardPermissionsResponse"
      }
    },
    "DescribeDataSet": {
      "documentation": "<p>Describes a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input": {
        "shape": "DescribeDataSetRequest"
      },
      "name": "DescribeDataSet",
      "output": {
        "shape": "DescribeDataSetResponse"
      }
    },
    "DescribeDataSetPermissions": {
      "documentation": "<p>Describes the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input": {
        "shape": "DescribeDataSetPermissionsRequest"
      },
      "name": "DescribeDataSetPermissions",
      "output": {
        "shape": "DescribeDataSetPermissionsResponse"
      }
    },
    "DescribeDataSource": {
      "documentation": "<p>Describes a data source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input": {
        "shape": "DescribeDataSourceRequest"
      },
      "name": "DescribeDataSource",
      "output": {
        "shape": "DescribeDataSourceResponse"
      }
    },
    "DescribeDataSourcePermissions": {
      "documentation": "<p>Describes the resource permissions for a data source.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input": {
        "shape": "DescribeDataSourcePermissionsRequest"
      },
      "name": "DescribeDataSourcePermissions",
      "output": {
        "shape": "DescribeDataSourcePermissionsResponse"
      }
    },
    "DescribeFolder": {
      "documentation": "<p>Describes a folder.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input": {
        "shape": "DescribeFolderRequest"
      },
      "name": "DescribeFolder",
      "output": {
        "shape": "DescribeFolderResponse"
      }
    },
    "DescribeFolderPermissions": {
      "documentation": "<p>Describes permissions for a folder.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input": {
        "shape": "DescribeFolderPermissionsRequest"
      },
      "name": "DescribeFolderPermissions",
      "output": {
        "shape": "DescribeFolderPermissionsResponse"
      }
    },
    "DescribeFolderResolvedPermissions": {
      "documentation": "<p>Describes the folder resolved permissions. Permissions consists of both folder direct permissions and the inherited permissions from the ancestor folders.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input": {
        "shape": "DescribeFolderResolvedPermissionsRequest"
      },
      "name": "DescribeFolderResolvedPermissions",
      "output": {
        "shape": "DescribeFolderResolvedPermissionsResponse"
      }
    },
    "DescribeGroup": {
      "documentation": "<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "name": "DescribeGroup",
      "output": {
        "shape": "DescribeGroupResponse"
      }
    },
    "DescribeGroupMembership": {
      "documentation": "<p>Use the <code>DescribeGroupMembership</code> operation to determine if a user is a member of the specified group. If the user exists and is a member of the specified group, an associated <code>GroupMember</code> object is returned.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input": {
        "shape": "DescribeGroupMembershipRequest"
      },
      "name": "DescribeGroupMembership",
      "output": {
        "shape": "DescribeGroupMembershipResponse"
      }
    },
    "DescribeIAMPolicyAssignment": {
      "documentation": "<p>Describes an existing IAM policy assignment, as specified by the assignment name.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input": {
        "shape": "DescribeIAMPolicyAssignmentRequest"
      },
      "name": "DescribeIAMPolicyAssignment",
      "output": {
        "shape": "DescribeIAMPolicyAssignmentResponse"
      }
    },
    "DescribeIngestion": {
      "documentation": "<p>Describes a SPICE ingestion.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input": {
        "shape": "DescribeIngestionRequest"
      },
      "name": "DescribeIngestion",
      "output": {
        "shape": "DescribeIngestionResponse"
      }
    },
    "DescribeIpRestriction": {
      "documentation": "<p>Provides a summary and status of IP rules.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/ip-restriction"
      },
      "input": {
        "shape": "DescribeIpRestrictionRequest"
      },
      "name": "DescribeIpRestriction",
      "output": {
        "shape": "DescribeIpRestrictionResponse"
      }
    },
    "DescribeNamespace": {
      "documentation": "<p>Describes the current namespace.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input": {
        "shape": "DescribeNamespaceRequest"
      },
      "name": "DescribeNamespace",
      "output": {
        "shape": "DescribeNamespaceResponse"
      }
    },
    "DescribeTemplate": {
      "documentation": "<p>Describes a template's metadata.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input": {
        "shape": "DescribeTemplateRequest"
      },
      "name": "DescribeTemplate",
      "output": {
        "shape": "DescribeTemplateResponse"
      }
    },
    "DescribeTemplateAlias": {
      "documentation": "<p>Describes the template alias for a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DescribeTemplateAliasRequest"
      },
      "name": "DescribeTemplateAlias",
      "output": {
        "shape": "DescribeTemplateAliasResponse"
      }
    },
    "DescribeTemplatePermissions": {
      "documentation": "<p>Describes read and write permissions on a template.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input": {
        "shape": "DescribeTemplatePermissionsRequest"
      },
      "name": "DescribeTemplatePermissions",
      "output": {
        "shape": "DescribeTemplatePermissionsResponse"
      }
    },
    "DescribeTheme": {
      "documentation": "<p>Describes a theme.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input": {
        "shape": "DescribeThemeRequest"
      },
      "name": "DescribeTheme",
      "output": {
        "shape": "DescribeThemeResponse"
      }
    },
    "DescribeThemeAlias": {
      "documentation": "<p>Describes the alias for a theme.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input": {
        "shape": "DescribeThemeAliasRequest"
      },
      "name": "DescribeThemeAlias",
      "output": {
        "shape": "DescribeThemeAliasResponse"
      }
    },
    "DescribeThemePermissions": {
      "documentation": "<p>Describes the read and write permissions for a theme.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input": {
        "shape": "DescribeThemePermissionsRequest"
      },
      "name": "DescribeThemePermissions",
      "output": {
        "shape": "DescribeThemePermissionsResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Returns information about a user, given the user name. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "GenerateEmbedUrlForAnonymousUser": {
      "documentation": "<p>Generates an embed URL that you can use to embed an Amazon QuickSight dashboard or visual in your website, without having to register any reader users. Before you use this action, make sure that you have configured the dashboards and permissions.</p> <p>The following rules apply to the generated URL:</p> <ul> <li> <p>It contains a temporary bearer token. It is valid for 5 minutes after it is generated. Once redeemed within this period, it cannot be re-used again.</p> </li> <li> <p>The URL validity period should not be confused with the actual session lifetime that can be customized using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_GenerateEmbedUrlForAnonymousUser.html#QS-GenerateEmbedUrlForAnonymousUser-request-SessionLifetimeInMinutes\">SessionLifetimeInMinutes</a> </code> parameter. The resulting user session is valid for 15 minutes (minimum) to 10 hours (maximum). The default session duration is 10 hours.</p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "SessionLifetimeInMinutesInvalidException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "UnsupportedPricingPlanException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input": {
        "shape": "GenerateEmbedUrlForAnonymousUserRequest"
      },
      "name": "GenerateEmbedUrlForAnonymousUser",
      "output": {
        "shape": "GenerateEmbedUrlForAnonymousUserResponse"
      }
    },
    "GenerateEmbedUrlForRegisteredUser": {
      "documentation": "<p>Generates an embed URL that you can use to embed an Amazon QuickSight experience in your website. This action can be used for any type of user registered in an Amazon QuickSight account. Before you use this action, make sure that you have configured the relevant Amazon QuickSight resource and permissions.</p> <p>The following rules apply to the generated URL:</p> <ul> <li> <p>It contains a temporary bearer token. It is valid for 5 minutes after it is generated. Once redeemed within this period, it cannot be re-used again.</p> </li> <li> <p>The URL validity period should not be confused with the actual session lifetime that can be customized using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_GenerateEmbedUrlForRegisteredUser.html#QS-GenerateEmbedUrlForRegisteredUser-request-SessionLifetimeInMinutes\">SessionLifetimeInMinutes</a> </code> parameter.</p> <p>The resulting user session is valid for 15 minutes (minimum) to 10 hours (maximum). The default session duration is 10 hours.</p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "QuickSightUserNotFoundException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "SessionLifetimeInMinutesInvalidException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "UnsupportedPricingPlanException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input": {
        "shape": "GenerateEmbedUrlForRegisteredUserRequest"
      },
      "name": "GenerateEmbedUrlForRegisteredUser",
      "output": {
        "shape": "GenerateEmbedUrlForRegisteredUserResponse"
      }
    },
    "GetDashboardEmbedUrl": {
      "documentation": "<p>Generates a temporary session URL and authorization code(bearer token) that you can use to embed an Amazon QuickSight read-only dashboard in your website or application. Before you use this command, make sure that you have configured the dashboards and permissions. </p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user's browser. The following rules apply to the generated URL:</p> <ul> <li> <p>They must be used together.</p> </li> <li> <p>They can be used one time only.</p> </li> <li> <p>They are valid for 5 minutes after you run this command.</p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> <li> <p>The resulting user session is valid for 15 minutes (default) up to 10 hours (maximum). You can use the optional <code>SessionLifetimeInMinutes</code> parameter to customize session duration.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics-deprecated.html\">Embedding Analytics Using GetDashboardEmbedUrl</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "DomainNotWhitelistedException"
        },
        {
          "shape": "QuickSightUserNotFoundException"
        },
        {
          "shape": "IdentityTypeNotSupportedException"
        },
        {
          "shape": "SessionLifetimeInMinutesInvalidException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "UnsupportedPricingPlanException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input": {
        "shape": "GetDashboardEmbedUrlRequest"
      },
      "name": "GetDashboardEmbedUrl",
      "output": {
        "shape": "GetDashboardEmbedUrlResponse"
      }
    },
    "GetSessionEmbedUrl": {
      "documentation": "<p>Generates a session URL and authorization code that you can use to embed the Amazon Amazon QuickSight console in your web server code. Use <code>GetSessionEmbedUrl</code> where you want to provide an authoring portal that allows users to create data sources, datasets, analyses, and dashboards. The users who access an embedded Amazon QuickSight console need belong to the author or admin security cohort. If you want to restrict permissions to some of these features, add a custom permissions profile to the user with the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateUser.html\">UpdateUser</a> </code> API operation. Use <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_RegisterUser.html\">RegisterUser</a> </code> API operation to add a new user with a custom permission profile attached. For more information, see the following sections in the <i>Amazon QuickSight User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedding Analytics</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-permissions-to-the-quicksight-console.html\">Customizing Access to the Amazon QuickSight Console</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "QuickSightUserNotFoundException"
        },
        {
          "shape": "SessionLifetimeInMinutesInvalidException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/session-embed-url"
      },
      "input": {
        "shape": "GetSessionEmbedUrlRequest"
      },
      "name": "GetSessionEmbedUrl",
      "output": {
        "shape": "GetSessionEmbedUrlResponse"
      }
    },
    "ListAnalyses": {
      "documentation": "<p>Lists Amazon QuickSight analyses that exist in the specified Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/analyses"
      },
      "input": {
        "shape": "ListAnalysesRequest"
      },
      "name": "ListAnalyses",
      "output": {
        "shape": "ListAnalysesResponse"
      }
    },
    "ListDashboardVersions": {
      "documentation": "<p>Lists all the versions of the dashboards in the Amazon QuickSight subscription.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input": {
        "shape": "ListDashboardVersionsRequest"
      },
      "name": "ListDashboardVersions",
      "output": {
        "shape": "ListDashboardVersionsResponse"
      }
    },
    "ListDashboards": {
      "documentation": "<p>Lists dashboards in an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/dashboards"
      },
      "input": {
        "shape": "ListDashboardsRequest"
      },
      "name": "ListDashboards",
      "output": {
        "shape": "ListDashboardsResponse"
      }
    },
    "ListDataSets": {
      "documentation": "<p>Lists all of the datasets belonging to the current Amazon Web Services account in an Amazon Web Services Region.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/*</code>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets"
      },
      "input": {
        "shape": "ListDataSetsRequest"
      },
      "name": "ListDataSets",
      "output": {
        "shape": "ListDataSetsResponse"
      }
    },
    "ListDataSources": {
      "documentation": "<p>Lists data sources in current Amazon Web Services Region that belong to this Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sources"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListFolderMembers": {
      "documentation": "<p>List all assets (<code>DASHBOARD</code>, <code>ANALYSIS</code>, and <code>DATASET</code>) in a folder. </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders/{FolderId}/members"
      },
      "input": {
        "shape": "ListFolderMembersRequest"
      },
      "name": "ListFolderMembers",
      "output": {
        "shape": "ListFolderMembersResponse"
      }
    },
    "ListFolders": {
      "documentation": "<p>Lists all folders in an account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/folders"
      },
      "input": {
        "shape": "ListFoldersRequest"
      },
      "name": "ListFolders",
      "output": {
        "shape": "ListFoldersResponse"
      }
    },
    "ListGroupMemberships": {
      "documentation": "<p>Lists member users in a group.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input": {
        "shape": "ListGroupMembershipsRequest"
      },
      "name": "ListGroupMemberships",
      "output": {
        "shape": "ListGroupMembershipsResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Lists all user groups in Amazon QuickSight. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListIAMPolicyAssignments": {
      "documentation": "<p>Lists IAM policy assignments in the current Amazon QuickSight account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input": {
        "shape": "ListIAMPolicyAssignmentsRequest"
      },
      "name": "ListIAMPolicyAssignments",
      "output": {
        "shape": "ListIAMPolicyAssignmentsResponse"
      }
    },
    "ListIAMPolicyAssignmentsForUser": {
      "documentation": "<p>Lists all the IAM policy assignments, including the Amazon Resource Names (ARNs) for the IAM policies assigned to the specified user and group or groups that the user belongs to.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConcurrentUpdatingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input": {
        "shape": "ListIAMPolicyAssignmentsForUserRequest"
      },
      "name": "ListIAMPolicyAssignmentsForUser",
      "output": {
        "shape": "ListIAMPolicyAssignmentsForUserResponse"
      }
    },
    "ListIngestions": {
      "documentation": "<p>Lists the history of SPICE ingestions for a dataset.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input": {
        "shape": "ListIngestionsRequest"
      },
      "name": "ListIngestions",
      "output": {
        "shape": "ListIngestionsResponse"
      }
    },
    "ListNamespaces": {
      "documentation": "<p>Lists the namespaces for the specified Amazon Web Services account. This operation doesn't list deleted namespaces.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces"
      },
      "input": {
        "shape": "ListNamespacesRequest"
      },
      "name": "ListNamespaces",
      "output": {
        "shape": "ListNamespacesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags assigned to a resource.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{ResourceArn}/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTemplateAliases": {
      "documentation": "<p>Lists all the aliases of a template.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input": {
        "shape": "ListTemplateAliasesRequest"
      },
      "name": "ListTemplateAliases",
      "output": {
        "shape": "ListTemplateAliasesResponse"
      }
    },
    "ListTemplateVersions": {
      "documentation": "<p>Lists all the versions of the templates in the current Amazon QuickSight account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input": {
        "shape": "ListTemplateVersionsRequest"
      },
      "name": "ListTemplateVersions",
      "output": {
        "shape": "ListTemplateVersionsResponse"
      }
    },
    "ListTemplates": {
      "documentation": "<p>Lists all the templates in the current Amazon QuickSight account.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/templates"
      },
      "input": {
        "shape": "ListTemplatesRequest"
      },
      "name": "ListTemplates",
      "output": {
        "shape": "ListTemplatesResponse"
      }
    },
    "ListThemeAliases": {
      "documentation": "<p>Lists all the aliases of a theme.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input": {
        "shape": "ListThemeAliasesRequest"
      },
      "name": "ListThemeAliases",
      "output": {
        "shape": "ListThemeAliasesResponse"
      }
    },
    "ListThemeVersions": {
      "documentation": "<p>Lists all the versions of the themes in the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input": {
        "shape": "ListThemeVersionsRequest"
      },
      "name": "ListThemeVersions",
      "output": {
        "shape": "ListThemeVersionsResponse"
      }
    },
    "ListThemes": {
      "documentation": "<p>Lists all the themes in the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedUserEditionException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/themes"
      },
      "input": {
        "shape": "ListThemesRequest"
      },
      "name": "ListThemes",
      "output": {
        "shape": "ListThemesResponse"
      }
    },
    "ListUserGroups": {
      "documentation": "<p>Lists the Amazon QuickSight groups that an Amazon QuickSight user is a member of.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input": {
        "shape": "ListUserGroupsRequest"
      },
      "name": "ListUserGroups",
      "output": {
        "shape": "ListUserGroupsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Returns a list of all of the Amazon QuickSight users belonging to this account. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "RegisterUser": {
      "documentation": "<p>Creates an Amazon QuickSight user, whose identity is associated with the Identity and Access Management (IAM) identity or role specified in the request. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
[...]
