{
  "documentation": "<p>This is the API Reference for Network Firewall. This guide is for developers who need detailed information about the Network Firewall API actions, data types, and errors. </p> <ul> <li> <p>The REST API requires you to handle connection details, such as calculating signatures, handling request retries, and error handling. For general information about using the Amazon Web Services REST APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-apis.html\">Amazon Web Services APIs</a>. </p> <p>To access Network Firewall using the REST API endpoint: <code>https://network-firewall.&lt;region&gt;.amazonaws.com </code> </p> </li> <li> <p>Alternatively, you can use one of the Amazon Web Services SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p> </li> <li> <p>For descriptions of Network Firewall features, including and step-by-step instructions on how to use them through the Network Firewall console, see the <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/\">Network Firewall Developer Guide</a>.</p> </li> </ul> <p>Network Firewall is a stateful, managed, network firewall and intrusion detection and prevention service for Amazon Virtual Private Cloud (Amazon VPC). With Network Firewall, you can filter traffic at the perimeter of your VPC. This includes filtering traffic going to and coming from an internet gateway, NAT gateway, or over VPN or Direct Connect. Network Firewall uses rules that are compatible with Suricata, a free, open source network analysis and threat detection engine. Network Firewall supports Suricata version 5.0.2. For information about Suricata, see the <a href=\"https://suricata.io/\">Suricata website</a>.</p> <p>You can use Network Firewall to monitor and protect your VPC traffic in a number of ways. The following are just a few examples: </p> <ul> <li> <p>Allow domains or IP addresses for known Amazon Web Services service endpoints, such as Amazon S3, and block all other forms of traffic.</p> </li> <li> <p>Use custom lists of known bad domains to limit the types of domain names that your applications can access.</p> </li> <li> <p>Perform deep packet inspection on traffic entering or leaving your VPC.</p> </li> <li> <p>Use stateful protocol detection to filter protocols like HTTPS, regardless of the port used.</p> </li> </ul> <p>To enable Network Firewall for your VPCs, you perform steps in both Amazon VPC and in Network Firewall. For information about using Amazon VPC, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/\">Amazon VPC User Guide</a>.</p> <p>To start using Network Firewall, do the following: </p> <ol> <li> <p>(Optional) If you don't already have a VPC that you want to protect, create it in Amazon VPC. </p> </li> <li> <p>In Amazon VPC, in each Availability Zone where you want to have a firewall endpoint, create a subnet for the sole use of Network Firewall. </p> </li> <li> <p>In Network Firewall, create stateless and stateful rule groups, to define the components of the network traffic filtering behavior that you want your firewall to have. </p> </li> <li> <p>In Network Firewall, create a firewall policy that uses your rule groups and specifies additional default traffic filtering behavior. </p> </li> <li> <p>In Network Firewall, create a firewall and specify your new firewall policy and VPC subnets. Network Firewall creates a firewall endpoint in each subnet that you specify, with the behavior that's defined in the firewall policy.</p> </li> <li> <p>In Amazon VPC, use ingress routing enhancements to route traffic through the new firewall endpoints.</p> </li> </ol>",
  "metadata": {
    "apiVersion": "2020-11-12",
    "endpointPrefix": "network-firewall",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "Network Firewall",
    "serviceFullName": "AWS Network Firewall",
    "serviceId": "Network Firewall",
    "signatureVersion": "v4",
    "signingName": "network-firewall",
    "targetPrefix": "NetworkFirewall_20201112",
    "uid": "network-firewall-2020-11-12"
  },
  "operations": {
    "AssociateFirewallPolicy": {
      "documentation": "<p>Associates a <a>FirewallPolicy</a> to a <a>Firewall</a>. </p> <p>A firewall policy defines how to monitor and manage your VPC network traffic, using a collection of inspection rule groups and other settings. Each firewall requires one firewall policy association, and you can use the same firewall policy for multiple firewalls. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateFirewallPolicyRequest"
      },
      "name": "AssociateFirewallPolicy",
      "output": {
        "shape": "AssociateFirewallPolicyResponse"
      }
    },
    "AssociateSubnets": {
      "documentation": "<p>Associates the specified subnets in the Amazon VPC to the firewall. You can specify one subnet for each of the Availability Zones that the VPC spans. </p> <p>This request creates an Network Firewall firewall endpoint in each of the subnets. To enable the firewall's protections, you must also modify the VPC's route tables for each subnet's Availability Zone, to redirect the traffic that's coming into and going out of the zone through the firewall endpoint. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InsufficientCapacityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSubnetsRequest"
      },
      "name": "AssociateSubnets",
      "output": {
        "shape": "AssociateSubnetsResponse"
      }
    },
    "CreateFirewall": {
      "documentation": "<p>Creates an Network Firewall <a>Firewall</a> and accompanying <a>FirewallStatus</a> for a VPC. </p> <p>The firewall defines the configuration settings for an Network Firewall firewall. The settings that you can define at creation include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p> <p>After you create a firewall, you can provide additional settings, like the logging configuration. </p> <p>To update the settings for a firewall, you use the operations that apply to the settings themselves, for example <a>UpdateLoggingConfiguration</a>, <a>AssociateSubnets</a>, and <a>UpdateFirewallDeleteProtection</a>. </p> <p>To manage a firewall's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p> <p>To retrieve information about firewalls, use <a>ListFirewalls</a> and <a>DescribeFirewall</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InsufficientCapacityException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFirewallRequest"
      },
      "name": "CreateFirewall",
      "output": {
        "shape": "CreateFirewallResponse"
      }
    },
    "CreateFirewallPolicy": {
      "documentation": "<p>Creates the firewall policy for the firewall according to the specifications. </p> <p>An Network Firewall firewall policy defines the behavior of a firewall, in a collection of stateless and stateful rule groups and other settings. You can use one firewall policy for multiple firewalls. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InsufficientCapacityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFirewallPolicyRequest"
      },
      "name": "CreateFirewallPolicy",
      "output": {
        "shape": "CreateFirewallPolicyResponse"
      }
    },
    "CreateRuleGroup": {
      "documentation": "<p>Creates the specified stateless or stateful rule group, which includes the rules for network traffic inspection, a capacity setting, and tags. </p> <p>You provide your rule group specification in your request using either <code>RuleGroup</code> or <code>Rules</code>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InsufficientCapacityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleGroupRequest"
      },
      "name": "CreateRuleGroup",
      "output": {
        "shape": "CreateRuleGroupResponse"
      }
    },
    "DeleteFirewall": {
      "documentation": "<p>Deletes the specified <a>Firewall</a> and its <a>FirewallStatus</a>. This operation requires the firewall's <code>DeleteProtection</code> flag to be <code>FALSE</code>. You can't revert this operation. </p> <p>You can check whether a firewall is in use by reviewing the route tables for the Availability Zones where you have firewall subnet mappings. Retrieve the subnet mappings by calling <a>DescribeFirewall</a>. You define and update the route tables through Amazon VPC. As needed, update the route tables for the zones to remove the firewall endpoints. When the route tables no longer use the firewall endpoints, you can remove the firewall safely.</p> <p>To delete a firewall, remove the delete protection if you need to using <a>UpdateFirewallDeleteProtection</a>, then delete the firewall by calling <a>DeleteFirewall</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallRequest"
      },
      "name": "DeleteFirewall",
      "output": {
        "shape": "DeleteFirewallResponse"
      }
    },
    "DeleteFirewallPolicy": {
      "documentation": "<p>Deletes the specified <a>FirewallPolicy</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallPolicyRequest"
      },
      "name": "DeleteFirewallPolicy",
      "output": {
        "shape": "DeleteFirewallPolicyResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidResourcePolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteRuleGroup": {
      "documentation": "<p>Deletes the specified <a>RuleGroup</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleGroupRequest"
      },
      "name": "DeleteRuleGroup",
      "output": {
        "shape": "DeleteRuleGroupResponse"
      }
    },
    "DescribeFirewall": {
      "documentation": "<p>Returns the data objects for the specified firewall. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFirewallRequest"
      },
      "name": "DescribeFirewall",
      "output": {
        "shape": "DescribeFirewallResponse"
      }
    },
    "DescribeFirewallPolicy": {
      "documentation": "<p>Returns the data objects for the specified firewall policy. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFirewallPolicyRequest"
      },
      "name": "DescribeFirewallPolicy",
      "output": {
        "shape": "DescribeFirewallPolicyResponse"
      }
    },
    "DescribeLoggingConfiguration": {
      "documentation": "<p>Returns the logging configuration for the specified firewall. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoggingConfigurationRequest"
      },
      "name": "DescribeLoggingConfiguration",
      "output": {
        "shape": "DescribeLoggingConfigurationResponse"
      }
    },
    "DescribeResourcePolicy": {
      "documentation": "<p>Retrieves a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourcePolicyRequest"
      },
      "name": "DescribeResourcePolicy",
      "output": {
        "shape": "DescribeResourcePolicyResponse"
      }
    },
    "DescribeRuleGroup": {
      "documentation": "<p>Returns the data objects for the specified rule group. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRuleGroupRequest"
      },
      "name": "DescribeRuleGroup",
      "output": {
        "shape": "DescribeRuleGroupResponse"
      }
    },
    "DescribeRuleGroupMetadata": {
      "documentation": "<p>High-level information about a rule group, returned by operations like create and describe. You can use the information provided in the metadata to retrieve and manage a rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRuleGroupMetadataRequest"
      },
      "name": "DescribeRuleGroupMetadata",
      "output": {
        "shape": "DescribeRuleGroupMetadataResponse"
      }
    },
    "DisassociateSubnets": {
      "documentation": "<p>Removes the specified subnet associations from the firewall. This removes the firewall endpoints from the subnets and removes any network filtering protections that the endpoints were providing. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSubnetsRequest"
      },
      "name": "DisassociateSubnets",
      "output": {
        "shape": "DisassociateSubnetsResponse"
      }
    },
    "ListFirewallPolicies": {
      "documentation": "<p>Retrieves the metadata for the firewall policies that you have defined. Depending on your setting for max results and the number of firewall policies, a single call might not return the full list. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallPoliciesRequest"
      },
      "name": "ListFirewallPolicies",
      "output": {
        "shape": "ListFirewallPoliciesResponse"
      }
    },
    "ListFirewalls": {
      "documentation": "<p>Retrieves the metadata for the firewalls that you have defined. If you provide VPC identifiers in your request, this returns only the firewalls for those VPCs.</p> <p>Depending on your setting for max results and the number of firewalls, a single call might not return the full list. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFirewallsRequest"
      },
      "name": "ListFirewalls",
      "output": {
        "shape": "ListFirewallsResponse"
      }
    },
    "ListRuleGroups": {
      "documentation": "<p>Retrieves the metadata for the rule groups that you have defined. Depending on your setting for max results and the number of rule groups, a single call might not return the full list. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRuleGroupsRequest"
      },
      "name": "ListRuleGroups",
      "output": {
        "shape": "ListRuleGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the tags associated with the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Creates or updates an IAM policy for your rule group or firewall policy. Use this to share rule groups and firewall policies between accounts. This operation works in conjunction with the Amazon Web Services Resource Access Manager (RAM) service to manage resource sharing for Network Firewall. </p> <p>Use this operation to create or update a resource policy for your rule group or firewall policy. In the policy, you specify the accounts that you want to share the resource with and the operations that you want the accounts to be able to perform. </p> <p>When you add an account in the resource policy, you then run the following Resource Access Manager (RAM) operations to access and accept the shared rule group or firewall policy. </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_GetResourceShareInvitations.html\">GetResourceShareInvitations</a> - Returns the Amazon Resource Names (ARNs) of the resource share invitations. </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_AcceptResourceShareInvitation.html\">AcceptResourceShareInvitation</a> - Accepts the share invitation for a specified resource share. </p> </li> </ul> <p>For additional information about resource sharing using RAM, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/what-is.html\">Resource Access Manager User Guide</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidResourcePolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the tags with the specified keys from the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can manage tags for the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateFirewallDeleteProtection": {
      "documentation": "<p>Modifies the flag, <code>DeleteProtection</code>, which indicates whether it is possible to delete the firewall. If the flag is set to <code>TRUE</code>, the firewall is protected against deletion. This setting helps protect against accidentally deleting a firewall that's in use. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "ResourceOwnerCheckException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallDeleteProtectionRequest"
      },
      "name": "UpdateFirewallDeleteProtection",
      "output": {
        "shape": "UpdateFirewallDeleteProtectionResponse"
      }
    },
    "UpdateFirewallDescription": {
      "documentation": "<p>Modifies the description for the specified firewall. Use the description to help you identify the firewall when you're working with it. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallDescriptionRequest"
      },
      "name": "UpdateFirewallDescription",
      "output": {
        "shape": "UpdateFirewallDescriptionResponse"
      }
    },
    "UpdateFirewallEncryptionConfiguration": {
      "documentation": "<p>A complex type that contains settings for encryption of your firewall resources.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "ResourceOwnerCheckException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallEncryptionConfigurationRequest"
      },
      "name": "UpdateFirewallEncryptionConfiguration",
      "output": {
        "shape": "UpdateFirewallEncryptionConfigurationResponse"
      }
    },
    "UpdateFirewallPolicy": {
      "documentation": "<p>Updates the properties of the specified firewall policy.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallPolicyRequest"
      },
      "name": "UpdateFirewallPolicy",
      "output": {
        "shape": "UpdateFirewallPolicyResponse"
      }
    },
    "UpdateFirewallPolicyChangeProtection": {
      "documentation": "<p>Modifies the flag, <code>ChangeProtection</code>, which indicates whether it is possible to change the firewall. If the flag is set to <code>TRUE</code>, the firewall is protected from changes. This setting helps protect against accidentally changing a firewall that's in use.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "ResourceOwnerCheckException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFirewallPolicyChangeProtectionRequest"
      },
      "name": "UpdateFirewallPolicyChangeProtection",
      "output": {
        "shape": "UpdateFirewallPolicyChangeProtectionResponse"
      }
    },
    "UpdateLoggingConfiguration": {
      "documentation": "<p>Sets the logging configuration for the specified firewall. </p> <p>To change the logging configuration, retrieve the <a>LoggingConfiguration</a> by calling <a>DescribeLoggingConfiguration</a>, then change it and provide the modified object to this update call. You must change the logging configuration one <a>LogDestinationConfig</a> at a time inside the retrieved <a>LoggingConfiguration</a> object. </p> <p>You can perform only one of the following actions in any call to <code>UpdateLoggingConfiguration</code>: </p> <ul> <li> <p>Create a new log destination object by adding a single <code>LogDestinationConfig</code> array element to <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Delete a log destination object by removing a single <code>LogDestinationConfig</code> array element from <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Change the <code>LogDestination</code> setting in a single <code>LogDestinationConfig</code> array element.</p> </li> </ul> <p>You can't change the <code>LogDestinationType</code> or <code>LogType</code> in a <code>LogDestinationConfig</code>. To change these settings, delete the existing <code>LogDestinationConfig</code> object and create a new one, using two separate calls to this update operation.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "LogDestinationPermissionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateLoggingConfigurationRequest"
      },
      "name": "UpdateLoggingConfiguration",
      "output": {
        "shape": "UpdateLoggingConfigurationResponse"
      }
    },
    "UpdateRuleGroup": {
      "documentation": "<p>Updates the rule settings for the specified rule group. You use a rule group by reference in one or more firewall policies. When you modify a rule group, you modify all firewall policies that use the rule group. </p> <p>To update a rule group, first call <a>DescribeRuleGroup</a> to retrieve the current <a>RuleGroup</a> object, update the object as needed, and then provide the updated object to this call. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleGroupRequest"
      },
      "name": "UpdateRuleGroup",
      "output": {
        "shape": "UpdateRuleGroupResponse"
      }
    },
    "UpdateSubnetChangeProtection": {
      "documentation": "<p/>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidTokenException"
        },
        {
          "shape": "ResourceOwnerCheckException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSubnetChangeProtectionRequest"
      },
      "name": "UpdateSubnetChangeProtection",
      "output": {
        "shape": "UpdateSubnetChangeProtectionResponse"
      }
    }
  },
  "shapes": {
    "ActionDefinition": {
      "documentation": "<p>A custom action to use in stateless rule actions settings. This is used in <a>CustomAction</a>.</p>",
      "members": {
        "PublishMetricAction": {
          "documentation": "<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the matching packet. This setting defines a CloudWatch dimension value to be published.</p> <p>You can pair this custom action with any of the standard stateless rule actions. For example, you could pair this in a rule action with the standard action that forwards the packet for stateful inspection. Then, when a packet matches the rule, Network Firewall publishes metrics for the packet and forwards it. </p>",
          "shape": "PublishMetricAction"
        }
      },
      "type": "structure"
    },
    "ActionName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9]+$",
      "type": "string"
    },
    "Address": {
      "documentation": "<p>A single IP address specification. This is used in the <a>MatchAttributes</a> source and destination specifications.</p>",
      "members": {
        "AddressDefinition": {
          "documentation": "<p>Specify an IP address or a block of IP addresses in Classless Inter-Domain Routing (CIDR) notation. Network Firewall supports all address ranges for IPv4. </p> <p>Examples: </p> <ul> <li> <p>To configure Network Firewall to inspect for the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p> </li> <li> <p>To configure Network Firewall to inspect for IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p> </li> </ul> <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p>",
          "shape": "AddressDefinition"
        }
      },
      "required": [
        "AddressDefinition"
      ],
      "type": "structure"
    },
    "AddressDefinition": {
      "max": 255,
      "min": 1,
      "pattern": "^([a-fA-F\\d:\\.]+($|/\\d{1,3}))$",
      "type": "string"
    },
    "Addresses": {
      "member": {
        "shape": "Address"
      },
      "type": "list"
    },
    "AssociateFirewallPolicyRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>",
          "shape": "ResourceArn"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "FirewallPolicyArn"
      ],
      "type": "structure"
    },
    "AssociateFirewallPolicyResponse": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        },
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>",
          "shape": "ResourceArn"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "type": "structure"
    },
    "AssociateSubnetsRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "SubnetMappings": {
          "documentation": "<p>The IDs of the subnets that you want to associate with the firewall. </p>",
          "shape": "SubnetMappings"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "SubnetMappings"
      ],
      "type": "structure"
    },
    "AssociateSubnetsResponse": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        },
        "SubnetMappings": {
          "documentation": "<p>The IDs of the subnets that are associated with the firewall. </p>",
          "shape": "SubnetMappings"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "type": "structure"
    },
    "Attachment": {
      "documentation": "<p>The configuration and status for a single subnet that you've specified for use by the Network Firewall firewall. This is part of the <a>FirewallStatus</a>.</p>",
      "members": {
        "EndpointId": {
          "documentation": "<p>The identifier of the firewall endpoint that Network Firewall has instantiated in the subnet. You use this to identify the firewall endpoint in the VPC route tables, when you redirect the VPC traffic through the endpoint. </p>",
          "shape": "EndpointId"
        },
        "Status": {
          "documentation": "<p>The current status of the firewall endpoint in the subnet. This value reflects both the instantiation of the endpoint in the VPC subnet and the sync states that are reported in the <code>Config</code> settings. When this value is <code>READY</code>, the endpoint is available and configured properly to handle network traffic. When the endpoint isn't available for traffic, this value will reflect its state, for example <code>CREATING</code>, <code>DELETING</code>, or <code>FAILED</code>.</p>",
          "shape": "AttachmentStatus"
        },
        "SubnetId": {
          "documentation": "<p>The unique identifier of the subnet that you've specified to be used for a firewall endpoint. </p>",
          "shape": "AzSubnet"
        }
      },
      "type": "structure"
    },
    "AttachmentStatus": {
      "enum": [
        "CREATING",
        "DELETING",
        "SCALING",
        "READY"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AzSubnet": {
      "max": 128,
      "min": 1,
      "pattern": "^subnet-[0-9a-f]+$",
      "type": "string"
    },
    "AzSubnets": {
      "member": {
        "shape": "AzSubnet"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CIDRCount": {
      "max": 1000000,
      "min": 0,
      "type": "integer"
    },
    "CIDRSummary": {
      "documentation": "<p>Summarizes the CIDR blocks used by the IP set references in a firewall. Network Firewall calculates the number of CIDRs by taking an aggregated count of all CIDRs used by the IP sets you are referencing.</p>",
      "members": {
        "AvailableCIDRCount": {
          "documentation": "<p>The number of CIDR blocks available for use by the IP set references in a firewall.</p>",
          "shape": "CIDRCount"
        },
        "IPSetReferences": {
          "documentation": "<p>The list of the IP set references used by a firewall.</p>",
          "shape": "IPSetMetadataMap"
        },
        "UtilizedCIDRCount": {
          "documentation": "<p>The number of CIDR blocks used by the IP set references in a firewall.</p>",
          "shape": "CIDRCount"
        }
      },
      "type": "structure"
    },
    "CapacityUsageSummary": {
      "documentation": "<p>The capacity usage summary of the resources used by the <a>ReferenceSets</a> in a firewall.</p>",
      "members": {
        "CIDRs": {
          "documentation": "<p>Describes the capacity usage of the CIDR blocks used by the IP set references in a firewall.</p>",
          "shape": "CIDRSummary"
        }
      },
      "type": "structure"
    },
    "CollectionMember_String": {
      "type": "string"
    },
    "ConfigurationSyncState": {
      "enum": [
        "PENDING",
        "IN_SYNC",
        "CAPACITY_CONSTRAINED"
      ],
      "type": "string"
    },
    "CreateFirewallPolicyRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the firewall policy.</p>",
          "shape": "Description"
        },
        "DryRun": {
          "documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p> <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully, but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have the required permissions to run the request and that your request parameters are valid. </p> <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>",
          "shape": "Boolean"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>A complex type that contains settings for encryption of your firewall policy resources.</p>",
          "shape": "EncryptionConfiguration"
        },
        "FirewallPolicy": {
          "documentation": "<p>The rule groups and policy actions to use in the firewall policy.</p>",
          "shape": "FirewallPolicy"
        },
        "FirewallPolicyName": {
          "documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
          "shape": "ResourceName"
        },
        "Tags": {
          "documentation": "<p>The key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "FirewallPolicyName",
        "FirewallPolicy"
      ],
      "type": "structure"
    },
    "CreateFirewallPolicyResponse": {
      "members": {
        "FirewallPolicyResponse": {
          "documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
          "shape": "FirewallPolicyResponse"
        },
        "UpdateToken": {
          "documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p> <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "UpdateToken",
        "FirewallPolicyResponse"
      ],
      "type": "structure"
    },
    "CreateFirewallRequest": {
      "members": {
        "DeleteProtection": {
          "documentation": "<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates that the firewall is protected against deletion. Use this setting to protect against accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "Description": {
          "documentation": "<p>A description of the firewall.</p>",
          "shape": "Description"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>A complex type that contains settings for encryption of your firewall resources.</p>",
          "shape": "EncryptionConfiguration"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        },
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the <a>FirewallPolicy</a> that you want to use for the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallPolicyChangeProtection": {
          "documentation": "<p>A setting indicating whether the firewall is protected against a change to the firewall policy association. Use this setting to protect against accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "SubnetChangeProtection": {
          "documentation": "<p>A setting indicating whether the firewall is protected against changes to the subnet associations. Use this setting to protect against accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "SubnetMappings": {
          "documentation": "<p>The public subnets to use for your Network Firewall firewalls. Each subnet must belong to a different Availability Zone in the VPC. Network Firewall creates a firewall endpoint in each subnet. </p>",
          "shape": "SubnetMappings"
        },
        "Tags": {
          "documentation": "<p>The key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        },
        "VpcId": {
          "documentation": "<p>The unique identifier of the VPC where Network Firewall should create the firewall. </p> <p>You can't change this setting after you create the firewall. </p>",
          "shape": "VpcId"
        }
      },
      "required": [
        "FirewallName",
        "FirewallPolicyArn",
        "VpcId",
        "SubnetMappings"
      ],
      "type": "structure"
    },
    "CreateFirewallResponse": {
      "members": {
        "Firewall": {
          "documentation": "<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>",
          "shape": "Firewall"
        },
        "FirewallStatus": {
          "documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>",
          "shape": "FirewallStatus"
        }
      },
      "type": "structure"
    },
    "CreateRuleGroupRequest": {
      "members": {
        "Capacity": {
          "documentation": "<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation. When you update a rule group, you are limited to this capacity. When you reference a rule group from a firewall policy, Network Firewall reserves this capacity for the rule group. </p> <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p> <note> <p>You can't change or exceed this capacity when you update the rule group, so leave room for your rule group to grow. </p> </note> <p> <b>Capacity for a stateless rule group</b> </p> <p>For a stateless rule group, the capacity required is the sum of the capacity requirements of the individual rules that you expect to have in the rule group. </p> <p>To calculate the capacity requirement of a single rule, multiply the capacity requirement values of each of the rule's match settings:</p> <ul> <li> <p>A match setting with no criteria specified has a value of 1. </p> </li> <li> <p>A match setting with <code>Any</code> specified has a value of 1. </p> </li> <li> <p>All other match settings have a value equal to the number of elements provided in the setting. For example, a protocol setting [\"UDP\"] and a source setting [\"10.0.0.0/24\"] each have a value of 1. A protocol setting [\"UDP\",\"TCP\"] has a value of 2. A source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"] has a value of 3. </p> </li> </ul> <p>A rule with no criteria specified in any of its match settings has a capacity requirement of 1. A rule with protocol setting [\"UDP\",\"TCP\"], source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"], and a single specification or no specification for each of the other match settings has a capacity requirement of 6. </p> <p> <b>Capacity for a stateful rule group</b> </p> <p>For a stateful rule group, the minimum capacity required is the number of individual rules that you expect to have in the rule group. </p>",
          "shape": "RuleCapacity"
        },
        "Description": {
          "documentation": "<p>A description of the rule group. </p>",
          "shape": "Description"
        },
        "DryRun": {
          "documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p> <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully, but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have the required permissions to run the request and that your request parameters are valid. </p> <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>",
          "shape": "Boolean"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>A complex type that contains settings for encryption of your rule group resources.</p>",
          "shape": "EncryptionConfiguration"
        },
        "RuleGroup": {
          "documentation": "<p>An object that defines the rule group rules. </p> <note> <p>You must provide either this rule group setting or a <code>Rules</code> setting, but not both. </p> </note>",
          "shape": "RuleGroup"
        },
        "RuleGroupName": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>",
          "shape": "ResourceName"
        },
        "Rules": {
          "documentation": "<p>A string containing stateful rule group rules specifications in Suricata flat format, with one rule per line. Use this to import your existing Suricata compatible rule groups. </p> <note> <p>You must provide either this rules setting or a populated <code>RuleGroup</code> setting, but not both. </p> </note> <p>You can provide your rule group specification in Suricata flat format through this setting when you create or update your rule group. The call response returns a <a>RuleGroup</a> object that Network Firewall has populated from your string. </p>",
          "shape": "RulesString"
        },
        "SourceMetadata": {
          "documentation": "<p>A complex type that contains metadata about the rule group that your own rule group is copied from. You can use the metadata to keep track of updates made to the originating rule group.</p>",
          "shape": "SourceMetadata"
        },
        "Tags": {
          "documentation": "<p>The key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        },
        "Type": {
          "documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p>",
          "shape": "RuleGroupType"
        }
      },
      "required": [
        "RuleGroupName",
        "Type",
        "Capacity"
      ],
      "type": "structure"
    },
    "CreateRuleGroupResponse": {
      "members": {
        "RuleGroupResponse": {
          "documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
          "shape": "RuleGroupResponse"
        },
        "UpdateToken": {
          "documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p> <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "UpdateToken",
        "RuleGroupResponse"
      ],
      "type": "structure"
    },
    "CustomAction": {
      "documentation": "<p>An optional, non-standard action to use for stateless packet handling. You can define this in addition to the standard action that you must specify. </p> <p>You define and name the custom actions that you want to be able to use, and then you reference them by name in your actions settings. </p> <p>You can use custom actions in the following places: </p> <ul> <li> <p>In a rule group's <a>StatelessRulesAndCustomActions</a> specification. The custom actions are available for use by name inside the <code>StatelessRulesAndCustomActions</code> where you define them. You can use them for your stateless rule actions to specify what to do with a packet that matches the rule's match attributes. </p> </li> <li> <p>In a <a>FirewallPolicy</a> specification, in <code>StatelessCustomActions</code>. The custom actions are available for use inside the policy where you define them. You can use them for the policy's default stateless actions settings to specify what to do with packets that don't match any of the policy's stateless rules. </p> </li> </ul>",
      "members": {
        "ActionDefinition": {
          "documentation": "<p>The custom action associated with the action name.</p>",
          "shape": "ActionDefinition"
        },
        "ActionName": {
          "documentation": "<p>The descriptive name of the custom action. You can't change the name of a custom action after you create it.</p>",
          "shape": "ActionName"
        }
      },
      "required": [
        "ActionName",
        "ActionDefinition"
      ],
      "type": "structure"
    },
    "CustomActions": {
      "member": {
        "shape": "CustomAction"
      },
      "type": "list"
    },
    "DeleteFirewallPolicyRequest": {
      "members": {
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallPolicyName": {
          "documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "DeleteFirewallPolicyResponse": {
      "members": {
        "FirewallPolicyResponse": {
          "documentation": "<p>The object containing the definition of the <a>FirewallPolicyResponse</a> that you asked to delete. </p>",
          "shape": "FirewallPolicyResponse"
        }
      },
      "required": [
        "FirewallPolicyResponse"
      ],
      "type": "structure"
    },
    "DeleteFirewallRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "DeleteFirewallResponse": {
      "members": {
        "Firewall": {
          "shape": "Firewall"
        },
        "FirewallStatus": {
          "shape": "FirewallStatus"
        }
      },
      "type": "structure"
    },
    "DeleteResourcePolicyRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule group or firewall policy whose resource policy you want to delete. </p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRuleGroupRequest": {
      "members": {
        "RuleGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule group.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "RuleGroupName": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "Type": {
          "documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p> <note> <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p> </note>",
          "shape": "RuleGroupType"
        }
      },
      "type": "structure"
    },
    "DeleteRuleGroupResponse": {
      "members": {
        "RuleGroupResponse": {
          "documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
          "shape": "RuleGroupResponse"
        }
      },
      "required": [
        "RuleGroupResponse"
      ],
      "type": "structure"
    },
    "DescribeFirewallPolicyRequest": {
      "members": {
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallPolicyName": {
          "documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "DescribeFirewallPolicyResponse": {
      "members": {
        "FirewallPolicy": {
          "documentation": "<p>The policy for the specified firewall policy. </p>",
          "shape": "FirewallPolicy"
        },
        "FirewallPolicyResponse": {
          "documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
          "shape": "FirewallPolicyResponse"
        },
        "UpdateToken": {
          "documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p> <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "UpdateToken",
        "FirewallPolicyResponse"
      ],
      "type": "structure"
    },
    "DescribeFirewallRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "DescribeFirewallResponse": {
      "members": {
        "Firewall": {
          "documentation": "<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>",
          "shape": "Firewall"
        },
        "FirewallStatus": {
          "documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>",
          "shape": "FirewallStatus"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "type": "structure"
    },
    "DescribeLoggingConfigurationRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "DescribeLoggingConfigurationResponse": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "LoggingConfiguration": {
          "shape": "LoggingConfiguration"
        }
      },
      "type": "structure"
    },
    "DescribeResourcePolicyRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule group or firewall policy whose resource policy you want to retrieve. </p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DescribeResourcePolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>The IAM policy for the resource. </p>",
          "shape": "PolicyString"
        }
      },
      "type": "structure"
    },
    "DescribeRuleGroupMetadataRequest": {
      "members": {
        "RuleGroupArn": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "RuleGroupName": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "Type": {
          "documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p> <note> <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p> </note>",
          "shape": "RuleGroupType"
        }
      },
      "type": "structure"
    },
    "DescribeRuleGroupMetadataResponse": {
      "members": {
        "Capacity": {
          "documentation": "<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation. When you update a rule group, you are limited to this capacity. When you reference a rule group from a firewall policy, Network Firewall reserves this capacity for the rule group. </p> <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p>",
          "shape": "RuleCapacity"
        },
        "Description": {
          "documentation": "<p>Returns the metadata objects for the specified rule group. </p>",
          "shape": "Description"
        },
        "LastModifiedTime": {
          "documentation": "<p>The last time that the rule group was changed.</p>",
          "shape": "LastUpdateTime"
        },
        "RuleGroupArn": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "RuleGroupName": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "StatefulRuleOptions": {
          "shape": "StatefulRuleOptions"
        },
        "Type": {
          "documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p> <note> <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p> </note>",
          "shape": "RuleGroupType"
        }
      },
      "required": [
        "RuleGroupArn",
        "RuleGroupName"
      ],
      "type": "structure"
    },
    "DescribeRuleGroupRequest": {
      "members": {
        "RuleGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule group.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "RuleGroupName": {
          "documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "Type": {
          "documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p> <note> <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p> </note>",
          "shape": "RuleGroupType"
        }
      },
      "type": "structure"
    },
    "DescribeRuleGroupResponse": {
      "members": {
        "RuleGroup": {
          "documentation": "<p>The object that defines the rules in a rule group. This, along with <a>RuleGroupResponse</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p> <p>Network Firewall uses a rule group to inspect and control network traffic. You define stateless rule groups to inspect individual packets and you define stateful rule groups to inspect packets in the context of their traffic flow. </p> <p>To use a rule group, you include it by reference in an Network Firewall firewall policy, then you use the policy in a firewall. You can reference a rule group from more than one firewall policy, and you can use a firewall policy in more than one firewall. </p>",
          "shape": "RuleGroup"
        },
        "RuleGroupResponse": {
          "documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
          "shape": "RuleGroupResponse"
        },
        "UpdateToken": {
          "documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p> <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "UpdateToken",
        "RuleGroupResponse"
      ],
      "type": "structure"
    },
    "Description": {
      "max": 512,
      "pattern": "^.*$",
      "type": "string"
    },
    "Destination": {
      "max": 1024,
      "min": 1,
      "pattern": "^.*$",
      "type": "string"
    },
    "Dimension": {
      "documentation": "<p>The value to use in an Amazon CloudWatch custom metric dimension. This is used in the <code>PublishMetrics</code> <a>CustomAction</a>. A CloudWatch custom metric dimension is a name/value pair that's part of the identity of a metric. </p> <p>Network Firewall sets the dimension name to <code>CustomAction</code> and you provide the dimension value. </p> <p>For more information about CloudWatch custom metric dimensions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html#usingDimensions\">Publishing Custom Metrics</a> in the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p>",
      "members": {
        "Value": {
          "documentation": "<p>The value to use in the custom metric dimension.</p>",
          "shape": "DimensionValue"
        }
      },
      "required": [
        "Value"
      ],
      "type": "structure"
    },
    "DimensionValue": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-_ ]+$",
      "type": "string"
    },
    "Dimensions": {
      "max": 1,
      "member": {
        "shape": "Dimension"
      },
      "min": 1,
      "type": "list"
    },
    "DisassociateSubnetsRequest": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>",
          "shape": "ResourceName"
        },
        "SubnetIds": {
          "documentation": "<p>The unique identifiers for the subnets that you want to disassociate. </p>",
          "shape": "AzSubnets"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "required": [
        "SubnetIds"
      ],
      "type": "structure"
    },
    "DisassociateSubnetsResponse": {
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        },
        "SubnetMappings": {
          "documentation": "<p>The IDs of the subnets that are associated with the firewall. </p>",
          "shape": "SubnetMappings"
        },
        "UpdateToken": {
          "documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>",
          "shape": "UpdateToken"
        }
      },
      "type": "structure"
    },
    "EncryptionConfiguration": {
      "documentation": "<p>A complex type that contains optional Amazon Web Services Key Management Service (KMS) encryption settings for your Network Firewall resources. Your data is encrypted by default with an Amazon Web Services owned key that Amazon Web Services owns and manages for you. You can use either the Amazon Web Services owned key, or provide your own customer managed key. To learn more about KMS encryption of your Network Firewall resources, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-encryption-at-rest.html\">Encryption at rest with Amazon Web Services Key Managment Service</a> in the <i>Network Firewall Developer Guide</i>.</p>",
      "members": {
        "KeyId": {
          "documentation": "<p>The ID of the Amazon Web Services Key Management Service (KMS) customer managed key. You can use any of the key identifiers that KMS supports, unless you're using a key that's managed by another account. If you're using a key managed by another account, then specify the key ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id\">Key ID</a> in the <i>Amazon Web Services KMS Developer Guide</i>.</p>",
          "shape": "KeyId"
        },
        "Type": {
          "documentation": "<p>The type of Amazon Web Services KMS key to use for encryption of your Network Firewall resources.</p>",
          "shape": "EncryptionType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "EncryptionType": {
      "enum": [
        "CUSTOMER_KMS",
        "AWS_OWNED_KMS_KEY"
      ],
      "type": "string"
    },
    "EndpointId": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Firewall": {
      "documentation": "<p>The firewall defines the configuration settings for an Network Firewall firewall. These settings include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p> <p>The status of the firewall, for example whether it's ready to filter network traffic, is provided in the corresponding <a>FirewallStatus</a>. You can retrieve both objects by calling <a>DescribeFirewall</a>.</p>",
      "members": {
        "DeleteProtection": {
          "documentation": "<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates that the firewall is protected against deletion. Use this setting to protect against accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "Description": {
          "documentation": "<p>A description of the firewall.</p>",
          "shape": "Description"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>A complex type that contains the Amazon Web Services KMS encryption configuration settings for your firewall.</p>",
          "shape": "EncryptionConfiguration"
        },
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallId": {
          "documentation": "<p>The unique identifier for the firewall. </p>",
          "shape": "ResourceId"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        },
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p> <p>The relationship of firewall to firewall policy is many to one. Each firewall requires one firewall policy association, and you can use the same firewall policy for multiple firewalls. </p>",
          "shape": "ResourceArn"
        },
        "FirewallPolicyChangeProtection": {
          "documentation": "<p>A setting indicating whether the firewall is protected against a change to the firewall policy association. Use this setting to protect against accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "SubnetChangeProtection": {
          "documentation": "<p>A setting indicating whether the firewall is protected against changes to the subnet associations. Use this setting to protect against accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>",
          "shape": "Boolean"
        },
        "SubnetMappings": {
          "documentation": "<p>The public subnets that Network Firewall is using for the firewall. Each subnet must belong to a different Availability Zone. </p>",
          "shape": "SubnetMappings"
        },
        "Tags": {
          "documentation": "<p/>",
          "shape": "TagList"
        },
        "VpcId": {
          "documentation": "<p>The unique identifier of the VPC where the firewall is in use. </p>",
          "shape": "VpcId"
        }
      },
      "required": [
        "FirewallPolicyArn",
        "VpcId",
        "SubnetMappings",
        "FirewallId"
      ],
      "type": "structure"
    },
    "FirewallMetadata": {
      "documentation": "<p>High-level information about a firewall, returned by operations like create and describe. You can use the information provided in the metadata to retrieve and manage a firewall.</p>",
      "members": {
        "FirewallArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
          "shape": "ResourceArn"
        },
        "FirewallName": {
          "documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "FirewallPolicies": {
      "member": {
        "shape": "FirewallPolicyMetadata"
      },
      "type": "list"
    },
    "FirewallPolicy": {
      "documentation": "<p>The firewall policy defines the behavior of a firewall using a collection of stateless and stateful rule groups and other settings. You can use one firewall policy for multiple firewalls. </p> <p>This, along with <a>FirewallPolicyResponse</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>.</p>",
      "members": {
        "StatefulDefaultActions": {
          "documentation": "<p>The default actions to take on a packet that doesn't match any stateful rules. The stateful default action is optional, and is only valid when using the strict rule order.</p> <p>Valid values of the stateful default action:</p> <ul> <li> <p>aws:drop_strict</p> </li> <li> <p>aws:drop_established</p> </li> <li> <p>aws:alert_strict</p> </li> <li> <p>aws:alert_established</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/suricata-rule-evaluation-order.html#suricata-strict-rule-evaluation-order.html\">Strict evaluation order</a> in the <i>Network Firewall Developer Guide</i>. </p>",
          "shape": "StatefulActions"
        },
        "StatefulEngineOptions": {
          "documentation": "<p>Additional options governing how Network Firewall handles stateful rules. The stateful rule groups that you use in your policy must have stateful rule options settings that are compatible with these settings.</p>",
          "shape": "StatefulEngineOptions"
        },
        "StatefulRuleGroupReferences": {
          "documentation": "<p>References to the stateful rule groups that are used in the policy. These define the inspection criteria in stateful rules. </p>",
          "shape": "StatefulRuleGroupReferences"
        },
        "StatelessCustomActions": {
          "documentation": "<p>The custom action definitions that are available for use in the firewall policy's <code>StatelessDefaultActions</code> setting. You name each custom action that you define, and then you can use it by name in your default actions specifications.</p>",
          "shape": "CustomActions"
        },
        "StatelessDefaultActions": {
          "documentation": "<p>The actions to take on a packet if it doesn't match any of the stateless rules in the policy. If you want non-matching packets to be forwarded for stateful inspection, specify <code>aws:forward_to_sfe</code>. </p> <p>You must specify one of the standard actions: <code>aws:pass</code>, <code>aws:drop</code>, or <code>aws:forward_to_sfe</code>. In addition, you can specify custom actions that are compatible with your standard section choice.</p> <p>For example, you could specify <code>[\"aws:pass\"]</code> or you could specify <code>[\"aws:pass\", \u201ccustomActionName\u201d]</code>. For information about compatibility, see the custom action descriptions under <a>CustomAction</a>.</p>",
          "shape": "StatelessActions"
        },
        "StatelessFragmentDefaultActions": {
          "documentation": "<p>The actions to take on a fragmented UDP packet if it doesn't match any of the stateless rules in the policy. Network Firewall only manages UDP packet fragments and silently drops packet fragments for other protocols. If you want non-matching fragmented UDP packets to be forwarded for stateful inspection, specify <code>aws:forward_to_sfe</code>. </p> <p>You must specify one of the standard actions: <code>aws:pass</code>, <code>aws:drop</code>, or <code>aws:forward_to_sfe</code>. In addition, you can specify custom actions that are compatible with your standard section choice.</p> <p>For example, you could specify <code>[\"aws:pass\"]</code> or you could specify <code>[\"aws:pass\", \u201ccustomActionName\u201d]</code>. For information about compatibility, see the custom action descriptions under <a>CustomAction</a>.</p>",
          "shape": "StatelessActions"
        },
        "StatelessRuleGroupReferences": {
          "documentation": "<p>References to the stateless rule groups that are used in the policy. These define the matching criteria in stateless rules. </p>",
          "shape": "StatelessRuleGroupReferences"
        }
      },
      "required": [
        "StatelessDefaultActions",
        "StatelessFragmentDefaultActions"
      ],
      "type": "structure"
    },
    "FirewallPolicyMetadata": {
      "documentation": "<p>High-level information about a firewall policy, returned by operations like create and describe. You can use the information provided in the metadata to retrieve and manage a firewall policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>",
          "shape": "ResourceArn"
        },
        "Name": {
          "documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "FirewallPolicyResponse": {
      "documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
      "members": {
        "ConsumedStatefulRuleCapacity": {
          "documentation": "<p>The number of capacity units currently consumed by the policy's stateful rules.</p>",
          "shape": "RuleCapacity"
        },
        "ConsumedStatelessRuleCapacity": {
          "documentation": "<p>The number of capacity units currently consumed by the policy's stateless rules.</p>",
          "shape": "RuleCapacity"
        },
        "Description": {
          "documentation": "<p>A description of the firewall policy.</p>",
          "shape": "Description"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>A complex type that contains the Amazon Web Services KMS encryption configuration settings for your firewall policy.</p>",
          "shape": "EncryptionConfiguration"
        },
        "FirewallPolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p> <note> <p>If this response is for a create request that had <code>DryRun</code> set to <code>TRUE</code>, then this ARN is a placeholder that isn't attached to a valid resource.</p> </note>",
          "shape": "ResourceArn"
        },
        "FirewallPolicyId": {
          "documentation": "<p>The unique identifier for the firewall policy. </p>",
          "shape": "ResourceId"
        },
        "FirewallPolicyName": {
          "documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
          "shape": "ResourceName"
        },
        "FirewallPolicyStatus": {
          "documentation": "<p>The current status of the firewall policy. You can retrieve this for a firewall policy by calling <a>DescribeFirewallPolicy</a> and providing the firewall policy's name or ARN.</p>",
          "shape": "ResourceStatus"
        },
        "LastModifiedTime": {
          "documentation": "<p>The last time that the firewall policy was changed.</p>",
          "shape": "LastUpdateTime"
        },
        "NumberOfAssociations": {
          "documentation": "<p>The number of firewalls that are associated with this firewall policy.</p>",
          "shape": "NumberOfAssociations"
        },
        "Tags": {
          "documentation": "<p>The key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "FirewallPolicyName",
        "FirewallPolicyArn",
        "FirewallPolicyId"
      ],
      "type": "structure"
    },
    "FirewallStatus": {
      "documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>",
      "members": {
        "CapacityUsageSummary": {
          "documentation": "<p>Describes the capacity usage of the resources contained in a firewall's reference sets. Network Firewall calclulates the capacity usage by taking an aggregated count of all of the resources used by all of the reference sets in a firewall.</p>",
          "shape": "CapacityUsageSummary"
        },
        "ConfigurationSyncStateSummary": {
          "documentation": "<p>The configuration sync state for the firewall. This summarizes the sync states reported in the <code>Config</code> settings for all of the Availability Zones where you have configured the firewall. </p> <p>When you create a firewall or update its configuration, for example by adding a rule group to its firewall policy, Network Firewall distributes the configuration changes to all zones where the firewall is in use. This summary indicates whether the configuration changes have been applied everywhere. </p> <p>This status must be <code>IN_SYNC</code> for the firewall to be ready for use, but it doesn't indicate that the firewall is ready. The <code>Status</code> setting indicates firewall readiness.</p>",
          "shape": "ConfigurationSyncState"
        },
        "Status": {
[...]
