{
  "documentation": "<p>Amazon Web Services X-Ray provides APIs for managing debug traces and retrieving service maps and other data created by processing those traces.</p>",
  "metadata": {
    "apiVersion": "2016-04-12",
    "endpointPrefix": "xray",
    "protocol": "rest-json",
    "serviceFullName": "AWS X-Ray",
    "serviceId": "XRay",
    "signatureVersion": "v4",
    "uid": "xray-2016-04-12"
  },
  "operations": {
    "BatchGetTraces": {
      "documentation": "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a list of trace IDs.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Traces"
      },
      "input": {
        "shape": "BatchGetTracesRequest"
      },
      "name": "BatchGetTraces",
      "output": {
        "shape": "BatchGetTracesResult"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a group resource with a name and a filter expression. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateGroup"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResult"
      }
    },
    "CreateSamplingRule": {
      "documentation": "<p>Creates a rule to control sampling behavior for instrumented applications. Services retrieve rules with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingRules.html\">GetSamplingRules</a>, and evaluate each rule in ascending order of <i>priority</i> for each request. If a rule matches, the service records a trace, borrowing it from the reservoir size. After 10 seconds, the service reports back to X-Ray with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingTargets.html\">GetSamplingTargets</a> to get updated versions of each in-use rule. The updated rule contains a trace quota that the service can use instead of borrowing from the reservoir.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "RuleLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateSamplingRule"
      },
      "input": {
        "shape": "CreateSamplingRuleRequest"
      },
      "name": "CreateSamplingRule",
      "output": {
        "shape": "CreateSamplingRuleResult"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteGroup"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResult"
      }
    },
    "DeleteSamplingRule": {
      "documentation": "<p>Deletes a sampling rule.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteSamplingRule"
      },
      "input": {
        "shape": "DeleteSamplingRuleRequest"
      },
      "name": "DeleteSamplingRule",
      "output": {
        "shape": "DeleteSamplingRuleResult"
      }
    },
    "GetEncryptionConfig": {
      "documentation": "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/EncryptionConfig"
      },
      "input": {
        "shape": "GetEncryptionConfigRequest"
      },
      "name": "GetEncryptionConfig",
      "output": {
        "shape": "GetEncryptionConfigResult"
      }
    },
    "GetGroup": {
      "documentation": "<p>Retrieves group resource details.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetGroup"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResult"
      }
    },
    "GetGroups": {
      "documentation": "<p>Retrieves all active group details.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Groups"
      },
      "input": {
        "shape": "GetGroupsRequest"
      },
      "name": "GetGroups",
      "output": {
        "shape": "GetGroupsResult"
      }
    },
    "GetInsight": {
      "documentation": "<p>Retrieves the summary information of an insight. This includes impact to clients and root cause services, the top anomalous services, the category, the state of the insight, and the start and end time of the insight.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Insight"
      },
      "input": {
        "shape": "GetInsightRequest"
      },
      "name": "GetInsight",
      "output": {
        "shape": "GetInsightResult"
      }
    },
    "GetInsightEvents": {
      "documentation": "<p>X-Ray reevaluates insights periodically until they're resolved, and records each intermediate state as an event. You can review an insight's events in the Impact Timeline on the Inspect page in the X-Ray console.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/InsightEvents"
      },
      "input": {
        "shape": "GetInsightEventsRequest"
      },
      "name": "GetInsightEvents",
      "output": {
        "shape": "GetInsightEventsResult"
      }
    },
    "GetInsightImpactGraph": {
      "documentation": "<p>Retrieves a service graph structure filtered by the specified insight. The service graph is limited to only structural information. For a complete service graph, use this API with the GetServiceGraph API.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/InsightImpactGraph"
      },
      "input": {
        "shape": "GetInsightImpactGraphRequest"
      },
      "name": "GetInsightImpactGraph",
      "output": {
        "shape": "GetInsightImpactGraphResult"
      }
    },
    "GetInsightSummaries": {
      "documentation": "<p>Retrieves the summaries of all insights in the specified group matching the provided filter values.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/InsightSummaries"
      },
      "input": {
        "shape": "GetInsightSummariesRequest"
      },
      "name": "GetInsightSummaries",
      "output": {
        "shape": "GetInsightSummariesResult"
      }
    },
    "GetSamplingRules": {
      "documentation": "<p>Retrieves all sampling rules.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetSamplingRules"
      },
      "input": {
        "shape": "GetSamplingRulesRequest"
      },
      "name": "GetSamplingRules",
      "output": {
        "shape": "GetSamplingRulesResult"
      }
    },
    "GetSamplingStatisticSummaries": {
      "documentation": "<p>Retrieves information about recent sampling results for all sampling rules.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/SamplingStatisticSummaries"
      },
      "input": {
        "shape": "GetSamplingStatisticSummariesRequest"
      },
      "name": "GetSamplingStatisticSummaries",
      "output": {
        "shape": "GetSamplingStatisticSummariesResult"
      }
    },
    "GetSamplingTargets": {
      "documentation": "<p>Requests a sampling quota for rules that the service is using to sample requests. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/SamplingTargets"
      },
      "input": {
        "shape": "GetSamplingTargetsRequest"
      },
      "name": "GetSamplingTargets",
      "output": {
        "shape": "GetSamplingTargetsResult"
      }
    },
    "GetServiceGraph": {
      "documentation": "<p>Retrieves a document that describes services that process incoming requests, and downstream services that they call as a result. Root services process incoming requests and make calls to downstream services. Root services are applications that use the <a href=\"https://docs.aws.amazon.com/xray/index.html\">Amazon Web Services X-Ray SDK</a>. Downstream services can be other applications, Amazon Web Services resources, HTTP web APIs, or SQL databases.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ServiceGraph"
      },
      "input": {
        "shape": "GetServiceGraphRequest"
      },
      "name": "GetServiceGraph",
      "output": {
        "shape": "GetServiceGraphResult"
      }
    },
    "GetTimeSeriesServiceStatistics": {
      "documentation": "<p>Get an aggregation of service statistics defined by a specific time range.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TimeSeriesServiceStatistics"
      },
      "input": {
        "shape": "GetTimeSeriesServiceStatisticsRequest"
      },
      "name": "GetTimeSeriesServiceStatistics",
      "output": {
        "shape": "GetTimeSeriesServiceStatisticsResult"
      }
    },
    "GetTraceGraph": {
      "documentation": "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceGraph"
      },
      "input": {
        "shape": "GetTraceGraphRequest"
      },
      "name": "GetTraceGraph",
      "output": {
        "shape": "GetTraceGraphResult"
      }
    },
    "GetTraceSummaries": {
      "documentation": "<p>Retrieves IDs and annotations for traces available for a specified time frame using an optional filter. To get the full traces, pass the trace IDs to <code>BatchGetTraces</code>.</p> <p>A filter expression can target traced requests that hit specific service nodes or edges, have errors, or come from a known user. For example, the following filter expression targets traces that pass through <code>api.example.com</code>:</p> <p> <code>service(\"api.example.com\")</code> </p> <p>This filter expression finds traces that have an annotation named <code>account</code> with the value <code>12345</code>:</p> <p> <code>annotation.account = \"12345\"</code> </p> <p>For a full list of indexed fields and keywords that you can use in filter expressions, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-console-filters.html\">Using Filter Expressions</a> in the <i>Amazon Web Services X-Ray Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceSummaries"
      },
      "input": {
        "shape": "GetTraceSummariesRequest"
      },
      "name": "GetTraceSummaries",
      "output": {
        "shape": "GetTraceSummariesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of tags that are applied to the specified Amazon Web Services X-Ray group or sampling rule.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListTagsForResource"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutEncryptionConfig": {
      "documentation": "<p>Updates the encryption configuration for X-Ray data.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/PutEncryptionConfig"
      },
      "input": {
        "shape": "PutEncryptionConfigRequest"
      },
      "name": "PutEncryptionConfig",
      "output": {
        "shape": "PutEncryptionConfigResult"
      }
    },
    "PutTelemetryRecords": {
      "documentation": "<p>Used by the Amazon Web Services X-Ray daemon to upload telemetry.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TelemetryRecords"
      },
      "input": {
        "shape": "PutTelemetryRecordsRequest"
      },
      "name": "PutTelemetryRecords",
      "output": {
        "shape": "PutTelemetryRecordsResult"
      }
    },
    "PutTraceSegments": {
      "documentation": "<p>Uploads segment documents to Amazon Web Services X-Ray. The <a href=\"https://docs.aws.amazon.com/xray/index.html\">X-Ray SDK</a> generates segment documents and sends them to the X-Ray daemon, which uploads them in batches. A segment document can be a completed segment, an in-progress segment, or an array of subsegments.</p> <p>Segments must include the following fields. For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">Amazon Web Services X-Ray Segment Documents</a> in the <i>Amazon Web Services X-Ray Developer Guide</i>.</p> <p class=\"title\"> <b>Required segment document fields</b> </p> <ul> <li> <p> <code>name</code> - The name of the service that handled the request.</p> </li> <li> <p> <code>id</code> - A 64-bit identifier for the segment, unique among segments in the same trace, in 16 hexadecimal digits.</p> </li> <li> <p> <code>trace_id</code> - A unique identifier that connects all segments and subsegments originating from a single client request.</p> </li> <li> <p> <code>start_time</code> - Time the segment or subsegment was created, in floating point seconds in epoch time, accurate to milliseconds. For example, <code>1480615200.010</code> or <code>1.480615200010E9</code>.</p> </li> <li> <p> <code>end_time</code> - Time the segment or subsegment was closed. For example, <code>1480615200.090</code> or <code>1.480615200090E9</code>. Specify either an <code>end_time</code> or <code>in_progress</code>.</p> </li> <li> <p> <code>in_progress</code> - Set to <code>true</code> instead of specifying an <code>end_time</code> to record that a segment has been started, but is not complete. Send an in-progress segment when your application receives a request that will take a long time to serve, to trace that the request was received. When the response is sent, send the complete segment to overwrite the in-progress segment.</p> </li> </ul> <p>A <code>trace_id</code> consists of three numbers separated by hyphens. For example, 1-58406520-a006649127e371903a2de979. This includes:</p> <p class=\"title\"> <b>Trace ID Format</b> </p> <ul> <li> <p>The version number, for instance, <code>1</code>.</p> </li> <li> <p>The time of the original request, in Unix epoch time, in 8 hexadecimal digits. For example, 10:00AM December 2nd, 2016 PST in epoch time is <code>1480615200</code> seconds, or <code>58406520</code> in hexadecimal.</p> </li> <li> <p>A 96-bit identifier for the trace, globally unique, in 24 hexadecimal digits.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceSegments"
      },
      "input": {
        "shape": "PutTraceSegmentsRequest"
      },
      "name": "PutTraceSegments",
      "output": {
        "shape": "PutTraceSegmentsResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies tags to an existing Amazon Web Services X-Ray group or sampling rule.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TagResource"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from an Amazon Web Services X-Ray group or sampling rule. You cannot edit or delete system tags (those with an <code>aws:</code> prefix).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UntagResource"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateGroup": {
      "documentation": "<p>Updates a group resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateGroup"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupResult"
      }
    },
    "UpdateSamplingRule": {
      "documentation": "<p>Modifies a sampling rule's configuration.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateSamplingRule"
      },
      "input": {
        "shape": "UpdateSamplingRuleRequest"
      },
      "name": "UpdateSamplingRule",
      "output": {
        "shape": "UpdateSamplingRuleResult"
      }
    }
  },
  "shapes": {
    "Alias": {
      "documentation": "<p>An alias for an edge.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The canonical name of the alias.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A list of names for the alias, including the canonical name.</p>",
          "shape": "AliasNames"
        },
        "Type": {
          "documentation": "<p>The type of the alias.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AliasList": {
      "member": {
        "shape": "Alias"
      },
      "type": "list"
    },
    "AliasNames": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AnnotationKey": {
      "type": "string"
    },
    "AnnotationValue": {
      "documentation": "<p>Value of a segment annotation. Has one of three value types: Number, Boolean, or String.</p>",
      "members": {
        "BooleanValue": {
          "documentation": "<p>Value for a Boolean annotation.</p>",
          "shape": "NullableBoolean"
        },
        "NumberValue": {
          "documentation": "<p>Value for a Number annotation.</p>",
          "shape": "NullableDouble"
        },
        "StringValue": {
          "documentation": "<p>Value for a String annotation.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Annotations": {
      "key": {
        "shape": "AnnotationKey"
      },
      "type": "map",
      "value": {
        "shape": "ValuesWithServiceIds"
      }
    },
    "AnomalousService": {
      "documentation": "<p>The service within the service graph that has anomalously high fault rates. </p>",
      "members": {
        "ServiceId": {
          "shape": "ServiceId"
        }
      },
      "type": "structure"
    },
    "AnomalousServiceList": {
      "member": {
        "shape": "AnomalousService"
      },
      "type": "list"
    },
    "AttributeKey": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "AttributeMap": {
      "key": {
        "shape": "AttributeKey"
      },
      "max": 5,
      "type": "map",
      "value": {
        "shape": "AttributeValue"
      }
    },
    "AttributeValue": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "AvailabilityZoneDetail": {
      "documentation": "<p>A list of Availability Zones corresponding to the segments in a trace.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of a corresponding Availability Zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BackendConnectionErrors": {
      "documentation": "<p/>",
      "members": {
        "ConnectionRefusedCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "HTTPCode4XXCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "HTTPCode5XXCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "OtherCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "TimeoutCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "UnknownHostCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        }
      },
      "type": "structure"
    },
    "BatchGetTracesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TraceIds": {
          "documentation": "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
          "shape": "TraceIdList"
        }
      },
      "required": [
        "TraceIds"
      ],
      "type": "structure"
    },
    "BatchGetTracesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Traces": {
          "documentation": "<p>Full traces for the specified requests.</p>",
          "shape": "TraceList"
        },
        "UnprocessedTraceIds": {
          "documentation": "<p>Trace IDs of requests that haven't been processed.</p>",
          "shape": "UnprocessedTraceIdList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BorrowCount": {
      "min": 0,
      "type": "integer"
    },
    "ClientID": {
      "max": 24,
      "min": 24,
      "type": "string"
    },
    "CreateGroupRequest": {
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining criteria by which to group traces.</p>",
          "shape": "FilterExpression"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the new group. Default is a reserved name and names must be unique.</p>",
          "shape": "GroupName"
        },
        "InsightsConfiguration": {
          "documentation": "<p>The structure containing configurations related to insights.</p> <ul> <li> <p>The InsightsEnabled boolean can be set to true to enable insights for the new group or false to disable insights for the new group.</p> </li> <li> <p>The NotifcationsEnabled boolean can be set to true to enable insights notifications for the new group. Notifications may only be enabled on a group with InsightsEnabled set to true.</p> </li> </ul>",
          "shape": "InsightsConfiguration"
        },
        "Tags": {
          "documentation": "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray group. For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>The following restrictions apply to tags:</p> <ul> <li> <p>Maximum number of user-applied tags per resource: 50</p> </li> <li> <p>Maximum tag key length: 128 Unicode characters</p> </li> <li> <p>Maximum tag value length: 256 Unicode characters</p> </li> <li> <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . : / = + - and @</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services use.</p> </li> </ul>",
          "shape": "TagList"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "CreateGroupResult": {
      "members": {
        "Group": {
          "documentation": "<p>The group that was created. Contains the name of the group that was created, the Amazon Resource Name (ARN) of the group that was generated based on the group name, the filter expression, and the insight configuration that was assigned to the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "CreateSamplingRuleRequest": {
      "members": {
        "SamplingRule": {
          "documentation": "<p>The rule definition.</p>",
          "shape": "SamplingRule"
        },
        "Tags": {
          "documentation": "<p>A map that contains one or more tag keys and tag values to attach to an X-Ray sampling rule. For more information about ways to use tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>The following restrictions apply to tags:</p> <ul> <li> <p>Maximum number of user-applied tags per resource: 50</p> </li> <li> <p>Maximum tag key length: 128 Unicode characters</p> </li> <li> <p>Maximum tag value length: 256 Unicode characters</p> </li> <li> <p>Valid values for key and value: a-z, A-Z, 0-9, space, and the following characters: _ . : / = + - and @</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Don't use <code>aws:</code> as a prefix for keys; it's reserved for Amazon Web Services use.</p> </li> </ul>",
          "shape": "TagList"
        }
      },
      "required": [
        "SamplingRule"
      ],
      "type": "structure"
    },
    "CreateSamplingRuleResult": {
      "members": {
        "SamplingRuleRecord": {
          "documentation": "<p>The saved rule definition and metadata.</p>",
          "shape": "SamplingRuleRecord"
        }
      },
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupARN": {
          "documentation": "<p>The ARN of the group that was generated on creation.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "DeleteGroupResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteSamplingRuleRequest": {
      "members": {
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteSamplingRuleResult": {
      "members": {
        "SamplingRuleRecord": {
          "documentation": "<p>The deleted rule definition and metadata.</p>",
          "shape": "SamplingRuleRecord"
        }
      },
      "type": "structure"
    },
    "Double": {
      "type": "double"
    },
    "EC2InstanceId": {
      "max": 20,
      "type": "string"
    },
    "Edge": {
      "documentation": "<p>Information about a connection between two services.</p>",
      "members": {
        "Aliases": {
          "documentation": "<p>Aliases for the edge.</p>",
          "shape": "AliasList"
        },
        "EndTime": {
          "documentation": "<p>The end time of the last segment on the edge.</p>",
          "shape": "Timestamp"
        },
        "ReferenceId": {
          "documentation": "<p>Identifier of the edge. Unique within a service map.</p>",
          "shape": "NullableInteger"
        },
        "ResponseTimeHistogram": {
          "documentation": "<p>A histogram that maps the spread of client response times on an edge.</p>",
          "shape": "Histogram"
        },
        "StartTime": {
          "documentation": "<p>The start time of the first segment on the edge.</p>",
          "shape": "Timestamp"
        },
        "SummaryStatistics": {
          "documentation": "<p>Response statistics for segments on the edge.</p>",
          "shape": "EdgeStatistics"
        }
      },
      "type": "structure"
    },
    "EdgeList": {
      "member": {
        "shape": "Edge"
      },
      "type": "list"
    },
    "EdgeStatistics": {
      "documentation": "<p>Response statistics for an edge.</p>",
      "members": {
        "ErrorStatistics": {
          "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
          "shape": "ErrorStatistics"
        },
        "FaultStatistics": {
          "documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>",
          "shape": "FaultStatistics"
        },
        "OkCount": {
          "documentation": "<p>The number of requests that completed with a 2xx Success status code.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of completed requests.</p>",
          "shape": "NullableLong"
        },
        "TotalResponseTime": {
          "documentation": "<p>The aggregate response time of completed requests.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "EncryptionConfig": {
      "documentation": "<p>A configuration document that specifies encryption configuration settings.</p>",
      "members": {
        "KeyId": {
          "documentation": "<p>The ID of the KMS key used for encryption, if applicable.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.</p>",
          "shape": "EncryptionStatus"
        },
        "Type": {
          "documentation": "<p>The type of encryption. Set to <code>KMS</code> for encryption with KMS keys. Set to <code>NONE</code> for default encryption.</p>",
          "shape": "EncryptionType"
        }
      },
      "type": "structure"
    },
    "EncryptionKeyId": {
      "max": 3000,
      "min": 1,
      "type": "string"
    },
    "EncryptionStatus": {
      "enum": [
        "UPDATING",
        "ACTIVE"
      ],
      "type": "string"
    },
    "EncryptionType": {
      "enum": [
        "NONE",
        "KMS"
      ],
      "type": "string"
    },
    "EntitySelectorExpression": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorRootCause": {
      "documentation": "<p>The root cause of a trace summary error.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of services corresponding to an error. A service identifies a segment and it contains a name, account ID, type, and inferred flag.</p>",
          "shape": "ErrorRootCauseServices"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary error.</p>",
      "members": {
        "Exceptions": {
          "documentation": "<p>The types and messages of the exceptions.</p>",
          "shape": "RootCauseExceptions"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseEntityPath": {
      "member": {
        "shape": "ErrorRootCauseEntity"
      },
      "type": "list"
    },
    "ErrorRootCauseService": {
      "documentation": "<p>A collection of fields identifying the services in a trace summary error.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "ErrorRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseServices": {
      "member": {
        "shape": "ErrorRootCauseService"
      },
      "type": "list"
    },
    "ErrorRootCauses": {
      "member": {
        "shape": "ErrorRootCause"
      },
      "type": "list"
    },
    "ErrorStatistics": {
      "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
      "members": {
        "OtherCount": {
          "documentation": "<p>The number of requests that failed with untracked 4xx Client Error status codes.</p>",
          "shape": "NullableLong"
        },
        "ThrottleCount": {
          "documentation": "<p>The number of requests that failed with a 419 throttling status code.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of requests that failed with a 4xx Client Error status code.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "EventSummaryText": {
      "type": "string"
    },
    "FaultRootCause": {
      "documentation": "<p>The root cause information for a trace summary fault.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of corresponding services. A service identifies a segment and it contains a name, account ID, type, and inferred flag.</p>",
          "shape": "FaultRootCauseServices"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary fault error.</p>",
      "members": {
        "Exceptions": {
          "documentation": "<p>The types and messages of the exceptions.</p>",
          "shape": "RootCauseExceptions"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseEntityPath": {
      "member": {
        "shape": "FaultRootCauseEntity"
      },
      "type": "list"
    },
    "FaultRootCauseService": {
      "documentation": "<p>A collection of fields identifying the services in a trace summary fault.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "FaultRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseServices": {
      "member": {
        "shape": "FaultRootCauseService"
      },
      "type": "list"
    },
    "FaultRootCauses": {
      "member": {
        "shape": "FaultRootCause"
      },
      "type": "list"
    },
    "FaultStatistics": {
      "documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>",
      "members": {
        "OtherCount": {
          "documentation": "<p>The number of requests that failed with untracked 5xx Server Error status codes.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of requests that failed with a 5xx Server Error status code.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "FilterExpression": {
      "type": "string"
    },
    "FixedRate": {
      "max": 1,
      "min": 0,
      "type": "double"
    },
    "ForecastStatistics": {
      "documentation": "<p>The predicted high and low fault count. This is used to determine if a service has become anomalous and if an insight should be created.</p>",
      "members": {
        "FaultCountHigh": {
          "documentation": "<p>The upper limit of fault counts for a service.</p>",
          "shape": "NullableLong"
        },
        "FaultCountLow": {
          "documentation": "<p>The lower limit of fault counts for a service.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "GetEncryptionConfigRequest": {
      "members": {},
      "type": "structure"
    },
    "GetEncryptionConfigResult": {
      "members": {
        "EncryptionConfig": {
          "documentation": "<p>The encryption configuration document.</p>",
          "shape": "EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "GetGroupRequest": {
      "members": {
        "GroupARN": {
          "documentation": "<p>The ARN of the group that was generated on creation.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "GetGroupResult": {
      "members": {
        "Group": {
          "documentation": "<p>The group that was requested. Contains the name of the group, the ARN of the group, the filter expression, and the insight configuration assigned to the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "GetGroupsNextToken": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "GetGroupsRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "GetGroupsNextToken"
        }
      },
      "type": "structure"
    },
    "GetGroupsResult": {
      "members": {
        "Groups": {
          "documentation": "<p>The collection of all active groups.</p>",
          "shape": "GroupSummaryList"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetInsightEventsMaxResults": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "GetInsightEventsRequest": {
      "members": {
        "InsightId": {
          "documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
          "shape": "InsightId"
        },
        "MaxResults": {
          "documentation": "<p>Used to retrieve at most the specified value of events.</p>",
          "shape": "GetInsightEventsMaxResults"
        },
        "NextToken": {
          "documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of events. </p>",
          "shape": "Token"
        }
      },
      "required": [
        "InsightId"
      ],
      "type": "structure"
    },
    "GetInsightEventsResult": {
      "members": {
        "InsightEvents": {
          "documentation": "<p>A detailed description of the event. This includes the time of the event, client and root cause impact statistics, and the top anomalous service at the time of the event.</p>",
          "shape": "InsightEventList"
        },
        "NextToken": {
          "documentation": "<p>Use this token to retrieve the next page of insight events.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "GetInsightImpactGraphRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The estimated end time of the insight, in Unix time seconds. The EndTime is exclusive of the value provided. The time range between the start time and end time can't be more than six hours. </p>",
          "shape": "Timestamp"
        },
        "InsightId": {
          "documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
          "shape": "InsightId"
        },
        "NextToken": {
          "documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of results. </p>",
          "shape": "Token"
        },
        "StartTime": {
          "documentation": "<p>The estimated start time of the insight, in Unix time seconds. The StartTime is inclusive of the value provided and can't be more than 30 days old.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "InsightId",
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetInsightImpactGraphResult": {
      "members": {
        "EndTime": {
          "documentation": "<p>The provided end time. </p>",
          "shape": "Timestamp"
        },
        "InsightId": {
          "documentation": "<p>The insight's unique identifier.</p>",
          "shape": "InsightId"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "Token"
        },
        "ServiceGraphEndTime": {
          "documentation": "<p>The time, in Unix seconds, at which the service graph ended.</p>",
          "shape": "Timestamp"
        },
        "ServiceGraphStartTime": {
          "documentation": "<p>The time, in Unix seconds, at which the service graph started.</p>",
          "shape": "Timestamp"
        },
        "Services": {
          "documentation": "<p>The Amazon Web Services instrumented services related to the insight.</p>",
          "shape": "InsightImpactGraphServiceList"
        },
        "StartTime": {
          "documentation": "<p>The provided start time.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetInsightRequest": {
      "members": {
        "InsightId": {
          "documentation": "<p>The insight's unique identifier. Use the GetInsightSummaries action to retrieve an InsightId.</p>",
          "shape": "InsightId"
        }
      },
      "required": [
        "InsightId"
      ],
      "type": "structure"
    },
    "GetInsightResult": {
      "members": {
        "Insight": {
          "documentation": "<p>The summary information of an insight.</p>",
          "shape": "Insight"
        }
      },
      "type": "structure"
    },
    "GetInsightSummariesMaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "GetInsightSummariesRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time frame in which the insights ended. The end time can't be more than 30 days old.</p>",
          "shape": "Timestamp"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the group. Required if the GroupName isn't provided.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The name of the group. Required if the GroupARN isn't provided.</p>",
          "shape": "GroupName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to display.</p>",
          "shape": "GetInsightSummariesMaxResults"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "Token"
        },
        "StartTime": {
          "documentation": "<p>The beginning of the time frame in which the insights started. The start time can't be more than 30 days old.</p>",
          "shape": "Timestamp"
        },
        "States": {
          "documentation": "<p>The list of insight states. </p>",
          "shape": "InsightStateList"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetInsightSummariesResult": {
      "members": {
        "InsightSummaries": {
          "documentation": "<p>The summary of each insight within the group matching the provided filters. The summary contains the InsightID, start and end time, the root cause service, the root cause and client impact statistics, the top anomalous services, and the status of the insight.</p>",
          "shape": "InsightSummaryList"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "GetSamplingRulesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSamplingRulesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "SamplingRuleRecords": {
          "documentation": "<p>Rule definitions and metadata.</p>",
          "shape": "SamplingRuleRecordList"
        }
      },
      "type": "structure"
    },
    "GetSamplingStatisticSummariesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSamplingStatisticSummariesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "SamplingStatisticSummaries": {
          "documentation": "<p>Information about the number of requests instrumented for each sampling rule.</p>",
          "shape": "SamplingStatisticSummaryList"
        }
      },
      "type": "structure"
    },
    "GetSamplingTargetsRequest": {
      "members": {
        "SamplingStatisticsDocuments": {
          "documentation": "<p>Information about rules that the service is using to sample requests.</p>",
          "shape": "SamplingStatisticsDocumentList"
        }
      },
      "required": [
        "SamplingStatisticsDocuments"
      ],
      "type": "structure"
    },
    "GetSamplingTargetsResult": {
      "members": {
        "LastRuleModification": {
          "documentation": "<p>The last time a user changed the sampling rule configuration. If the sampling rule configuration changed since the service last retrieved it, the service should call <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingRules.html\">GetSamplingRules</a> to get the latest version.</p>",
          "shape": "Timestamp"
        },
        "SamplingTargetDocuments": {
          "documentation": "<p>Updated rules that the service should use to sample requests.</p>",
          "shape": "SamplingTargetDocumentList"
        },
        "UnprocessedStatistics": {
          "documentation": "<p>Information about <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_SamplingStatisticsDocument.html\">SamplingStatisticsDocument</a> that X-Ray could not process.</p>",
          "shape": "UnprocessedStatisticsList"
        }
      },
      "type": "structure"
    },
    "GetServiceGraphRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the timeframe for which to generate a graph.</p>",
          "shape": "Timestamp"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a group based on which you want to generate a graph.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The name of a group based on which you want to generate a graph.</p>",
          "shape": "GroupName"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to generate a graph.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetServiceGraphResult": {
      "members": {
        "ContainsOldGroupVersions": {
          "documentation": "<p>A flag indicating whether the group's filter expression has been consistent, or if the returned service graph may show traces from an older version of the group's filter expression.</p>",
          "shape": "Boolean"
        },
        "EndTime": {
          "documentation": "<p>The end of the time frame for which the graph was generated.</p>",
          "shape": "Timestamp"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Services": {
          "documentation": "<p>The services that have processed a traced request during the specified time frame.</p>",
          "shape": "ServiceList"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which the graph was generated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetTimeSeriesServiceStatisticsRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time frame for which to aggregate statistics.</p>",
          "shape": "Timestamp"
        },
        "EntitySelectorExpression": {
          "documentation": "<p>A filter expression defining entities that will be aggregated for statistics. Supports ID, service, and edge functions. If no selector expression is specified, edge statistics are returned. </p>",
          "shape": "EntitySelectorExpression"
        },
        "ForecastStatistics": {
          "documentation": "<p>The forecasted high and low fault count values. Forecast enabled requests require the EntitySelectorExpression ID be provided.</p>",
          "shape": "NullableBoolean"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the group for which to pull statistics from.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group for which to pull statistics from.</p>",
          "shape": "GroupName"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Period": {
          "documentation": "<p>Aggregation period in seconds.</p>",
          "shape": "NullableInteger"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to aggregate statistics.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetTimeSeriesServiceStatisticsResult": {
      "members": {
        "ContainsOldGroupVersions": {
          "documentation": "<p>A flag indicating whether or not a group's filter expression has been consistent, or if a returned aggregation might show statistics from an older version of the group's filter expression.</p>",
          "shape": "Boolean"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TimeSeriesServiceStatistics": {
          "documentation": "<p>The collection of statistics.</p>",
          "shape": "TimeSeriesServiceStatisticsList"
        }
      },
      "type": "structure"
    },
    "GetTraceGraphRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TraceIds": {
          "documentation": "<p>Trace IDs of requests for which to generate a service graph.</p>",
          "shape": "TraceIdList"
        }
      },
      "required": [
        "TraceIds"
      ],
      "type": "structure"
    },
    "GetTraceGraphResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Services": {
          "documentation": "<p>The services that have processed one of the specified requests.</p>",
          "shape": "ServiceList"
        }
      },
      "type": "structure"
    },
    "GetTraceSummariesRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time frame for which to retrieve traces.</p>",
          "shape": "Timestamp"
        },
        "FilterExpression": {
          "documentation": "<p>Specify a filter expression to retrieve trace summaries for services or requests that meet certain requirements.</p>",
          "shape": "FilterExpression"
        },
        "NextToken": {
          "documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of results.</p>",
          "shape": "String"
        },
        "Sampling": {
          "documentation": "<p>Set to <code>true</code> to get summaries for only a subset of available traces.</p>",
          "shape": "NullableBoolean"
        },
        "SamplingStrategy": {
          "documentation": "<p>A parameter to indicate whether to enable sampling on trace summaries. Input parameters are Name and Value.</p>",
          "shape": "SamplingStrategy"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to retrieve traces.</p>",
          "shape": "Timestamp"
        },
        "TimeRangeType": {
          "documentation": "<p>A parameter to indicate whether to query trace summaries by TraceId or Event time.</p>",
          "shape": "TimeRangeType"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetTraceSummariesResult": {
      "members": {
        "ApproximateTime": {
          "documentation": "<p>The start time of this page of results.</p>",
          "shape": "Timestamp"
        },
        "NextToken": {
          "documentation": "<p>If the requested time frame contained more than one page of results, you can use this token to retrieve the next page. The first page contains the most recent results, closest to the end of the time frame.</p>",
          "shape": "String"
        },
        "TraceSummaries": {
          "documentation": "<p>Trace IDs and annotations for traces that were found in the specified time frame.</p>",
          "shape": "TraceSummaryList"
        },
        "TracesProcessedCount": {
          "documentation": "<p>The total number of traces processed, including traces that did not match the specified filter expression.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>Details and metadata for a group.</p>",
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining the parameters to include traces.</p>",
          "shape": "String"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the group generated based on the GroupName.</p>",
          "shape": "String"
        },
        "GroupName": {
          "documentation": "<p>The unique case-sensitive name of the group.</p>",
          "shape": "String"
        },
        "InsightsConfiguration": {
          "documentation": "<p>The structure containing configurations related to insights.</p> <ul> <li> <p>The InsightsEnabled boolean can be set to true to enable insights for the group or false to disable insights for the group.</p> </li> <li> <p>The NotificationsEnabled boolean can be set to true to enable insights notifications through Amazon EventBridge for the group.</p> </li> </ul>",
          "shape": "InsightsConfiguration"
        }
      },
      "type": "structure"
    },
    "GroupARN": {
      "max": 400,
      "min": 1,
      "type": "string"
    },
    "GroupName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "GroupSummary": {
      "documentation": "<p>Details for a group without metadata.</p>",
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining the parameters to include traces.</p>",
          "shape": "String"
        },
        "GroupARN": {
          "documentation": "<p>The ARN of the group generated based on the GroupName.</p>",
          "shape": "String"
        },
        "GroupName": {
          "documentation": "<p>The unique case-sensitive name of the group.</p>",
          "shape": "String"
        },
        "InsightsConfiguration": {
          "documentation": "<p>The structure containing configurations related to insights.</p> <ul> <li> <p>The InsightsEnabled boolean can be set to true to enable insights for the group or false to disable insights for the group.</p> </li> <li> <p>The NotificationsEnabled boolean can be set to true to enable insights notifications. Notifications can only be enabled on a group with InsightsEnabled set to true.</p> </li> </ul>",
          "shape": "InsightsConfiguration"
        }
      },
      "type": "structure"
    },
    "GroupSummaryList": {
      "member": {
        "shape": "GroupSummary"
      },
      "type": "list"
    },
    "HTTPMethod": {
      "max": 10,
      "type": "string"
    },
    "Histogram": {
      "member": {
        "shape": "HistogramEntry"
      },
      "type": "list"
    },
    "HistogramEntry": {
      "documentation": "<p>An entry in a histogram for a statistic. A histogram maps the range of observed values on the X axis, and the prevalence of each value on the Y axis.</p>",
      "members": {
        "Count": {
          "documentation": "<p>The prevalence of the entry.</p>",
          "shape": "Integer"
        },
        "Value": {
          "documentation": "<p>The value of the entry.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "Host": {
      "max": 64,
      "type": "string"
    },
    "Hostname": {
      "max": 255,
      "type": "string"
    },
    "Http": {
      "documentation": "<p>Information about an HTTP request.</p>",
      "members": {
        "ClientIp": {
          "documentation": "<p>The IP address of the requestor.</p>",
          "shape": "String"
        },
        "HttpMethod": {
          "documentation": "<p>The request method.</p>",
          "shape": "String"
        },
        "HttpStatus": {
          "documentation": "<p>The response status.</p>",
          "shape": "NullableInteger"
        },
        "HttpURL": {
          "documentation": "<p>The request URL.</p>",
          "shape": "String"
        },
        "UserAgent": {
          "documentation": "<p>The request's user agent string.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Insight": {
      "documentation": "<p>When fault rates go outside of the expected range, X-Ray creates an insight. Insights tracks emergent issues within your applications.</p>",
      "members": {
        "Categories": {
          "documentation": "<p>The categories that label and describe the type of insight.</p>",
          "shape": "InsightCategoryList"
        },
        "ClientRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the client side service. This includes the number of requests to the client service and whether the requests were faults or okay.</p>",
          "shape": "RequestImpactStatistics"
        },
        "EndTime": {
          "documentation": "<p>The time, in Unix seconds, at which the insight ended.</p>",
          "shape": "Timestamp"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the group that the insight belongs to.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The name of the group that the insight belongs to.</p>",
          "shape": "GroupName"
        },
        "InsightId": {
          "documentation": "<p>The insights unique identifier. </p>",
          "shape": "InsightId"
        },
        "RootCauseServiceId": {
          "shape": "ServiceId"
        },
        "RootCauseServiceRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to the client service and whether the requests were faults or okay.</p>",
          "shape": "RequestImpactStatistics"
        },
        "StartTime": {
          "documentation": "<p>The time, in Unix seconds, at which the insight began.</p>",
          "shape": "Timestamp"
        },
        "State": {
          "documentation": "<p>The current state of the insight.</p>",
          "shape": "InsightState"
        },
        "Summary": {
          "documentation": "<p>A brief description of the insight.</p>",
          "shape": "InsightSummaryText"
        },
        "TopAnomalousServices": {
          "documentation": "<p>The service within the insight that is most impacted by the incident.</p>",
          "shape": "AnomalousServiceList"
        }
      },
      "type": "structure"
    },
    "InsightCategory": {
      "enum": [
        "FAULT"
      ],
      "type": "string"
    },
    "InsightCategoryList": {
      "member": {
        "shape": "InsightCategory"
      },
      "type": "list"
    },
    "InsightEvent": {
      "documentation": "<p>X-Ray reevaluates insights periodically until they are resolved, and records each intermediate state in an event. You can review incident events in the Impact Timeline on the Inspect page in the X-Ray console.</p>",
      "members": {
        "ClientRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the client side service. This includes the number of requests to the client service and whether the requests were faults or okay.</p>",
          "shape": "RequestImpactStatistics"
        },
        "EventTime": {
          "documentation": "<p>The time, in Unix seconds, at which the event was recorded.</p>",
          "shape": "Timestamp"
        },
        "RootCauseServiceRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to the client service and whether the requests were faults or okay.</p>",
          "shape": "RequestImpactStatistics"
        },
        "Summary": {
          "documentation": "<p>A brief description of the event.</p>",
          "shape": "EventSummaryText"
        },
        "TopAnomalousServices": {
          "documentation": "<p>The service during the event that is most impacted by the incident.</p>",
          "shape": "AnomalousServiceList"
        }
      },
      "type": "structure"
    },
    "InsightEventList": {
      "member": {
        "shape": "InsightEvent"
      },
      "type": "list"
    },
    "InsightId": {
      "pattern": "[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}",
      "type": "string"
    },
    "InsightImpactGraphEdge": {
      "documentation": "<p>The connection between two service in an insight impact graph.</p>",
      "members": {
        "ReferenceId": {
          "documentation": "<p>Identifier of the edge. Unique within a service map.</p>",
          "shape": "NullableInteger"
        }
      },
      "type": "structure"
    },
    "InsightImpactGraphEdgeList": {
      "member": {
        "shape": "InsightImpactGraphEdge"
      },
      "type": "list"
    },
    "InsightImpactGraphService": {
      "documentation": "<p>Information about an application that processed requests, users that made requests, or downstream services, resources, and applications that an application used. </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>Identifier of the Amazon Web Services account in which the service runs.</p>",
          "shape": "String"
        },
        "Edges": {
          "documentation": "<p>Connections to downstream services.</p>",
          "shape": "InsightImpactGraphEdgeList"
        },
        "Name": {
          "documentation": "<p>The canonical name of the service.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A list of names for the service, including the canonical name.</p>",
          "shape": "ServiceNames"
        },
        "ReferenceId": {
          "documentation": "<p>Identifier for the service. Unique within the service map.</p>",
          "shape": "NullableInteger"
        },
        "Type": {
          "documentation": "<p>Identifier for the service. Unique within the service map.</p> <ul> <li> <p>Amazon Web Services Resource - The type of an Amazon Web Services resource. For example, AWS::EC2::Instance for an application running on Amazon EC2 or AWS::DynamoDB::Table for an Amazon DynamoDB table that the application used. </p> </li> <li> <p>Amazon Web Services Service - The type of an Amazon Web Services service. For example, AWS::DynamoDB for downstream calls to Amazon DynamoDB that didn't target a specific table. </p> </li> <li> <p>Amazon Web Services Service - The type of an Amazon Web Services service. For example, AWS::DynamoDB for downstream calls to Amazon DynamoDB that didn't target a specific table. </p> </li> <li> <p>remote - A downstream service of indeterminate type.</p> </li> </ul>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InsightImpactGraphServiceList": {
      "member": {
        "shape": "InsightImpactGraphService"
      },
      "type": "list"
    },
    "InsightState": {
      "enum": [
        "ACTIVE",
        "CLOSED"
      ],
      "type": "string"
    },
    "InsightStateList": {
      "max": 1,
      "member": {
        "shape": "InsightState"
      },
      "min": 0,
      "type": "list"
    },
    "InsightSummary": {
      "documentation": "<p>Information that describes an insight.</p>",
      "members": {
        "Categories": {
          "documentation": "<p> Categories The categories that label and describe the type of insight.</p>",
          "shape": "InsightCategoryList"
        },
        "ClientRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the client side service. This includes the number of requests to the client service and whether the requests were faults or okay. </p>",
          "shape": "RequestImpactStatistics"
        },
        "EndTime": {
          "documentation": "<p>The time, in Unix seconds, at which the insight ended.</p>",
          "shape": "Timestamp"
        },
        "GroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the group that the insight belongs to.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The name of the group that the insight belongs to.</p>",
          "shape": "GroupName"
        },
        "InsightId": {
          "documentation": "<p>The insights unique identifier. </p>",
          "shape": "InsightId"
        },
        "LastUpdateTime": {
          "documentation": "<p>The time, in Unix seconds, that the insight was last updated.</p>",
          "shape": "Timestamp"
        },
        "RootCauseServiceId": {
          "shape": "ServiceId"
        },
        "RootCauseServiceRequestImpactStatistics": {
          "documentation": "<p>The impact statistics of the root cause service. This includes the number of requests to the client service and whether the requests were faults or okay. </p>",
          "shape": "RequestImpactStatistics"
        },
        "StartTime": {
          "documentation": "<p>The time, in Unix seconds, at which the insight began.</p>",
          "shape": "Timestamp"
        },
        "State": {
          "documentation": "<p>The current state of the insight.</p>",
          "shape": "InsightState"
        },
        "Summary": {
          "documentation": "<p>A brief description of the insight.</p>",
          "shape": "InsightSummaryText"
        },
        "TopAnomalousServices": {
          "documentation": "<p>The service within the insight that is most impacted by the incident.</p>",
          "shape": "AnomalousServiceList"
        }
      },
      "type": "structure"
    },
    "InsightSummaryList": {
      "member": {
        "shape": "InsightSummary"
      },
      "type": "list"
    },
    "InsightSummaryText": {
      "type": "string"
    },
    "InsightsConfiguration": {
      "documentation": "<p>The structure containing configurations related to insights.</p>",
      "members": {
        "InsightsEnabled": {
          "documentation": "<p>Set the InsightsEnabled value to true to enable insights or false to disable insights.</p>",
          "shape": "NullableBoolean"
        },
        "NotificationsEnabled": {
          "documentation": "<p>Set the NotificationsEnabled value to true to enable insights notifications. Notifications can only be enabled on a group with InsightsEnabled set to true.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "InstanceIdDetail": {
      "documentation": "<p>A list of EC2 instance IDs corresponding to the segments in a trace. </p>",
      "members": {
        "Id": {
          "documentation": "<p>The ID of a corresponding EC2 instance.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request is missing required parameters or has invalid parameters.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>A pagination token. If multiple pages of results are returned, use the <code>NextToken</code> value returned with the current page of results as the value of this parameter to get the next page of results.</p>",
          "shape": "String"
        },
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Number (ARN) of an X-Ray group or sampling rule.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A pagination token. If multiple pages of results are returned, use the <code>NextToken</code> value returned with the current page of results to get the next page of results.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>A list of tags, as key and value pairs, that is associated with the specified X-Ray group or sampling rule.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "NullableBoolean": {
      "type": "boolean"
    },
    "NullableDouble": {
      "type": "double"
    },
    "NullableInteger": {
      "type": "integer"
    },
    "NullableLong": {
      "type": "long"
    },
    "Priority": {
      "max": 9999,
      "min": 1,
      "type": "integer"
    },
    "PutEncryptionConfigRequest": {
      "members": {
        "KeyId": {
          "documentation": "<p>An Amazon Web Services KMS key in one of the following formats:</p> <ul> <li> <p> <b>Alias</b> - The name of the key. For example, <code>alias/MyKey</code>.</p> </li> <li> <p> <b>Key ID</b> - The KMS key ID of the key. For example, <code>ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. Amazon Web Services X-Ray does not support asymmetric KMS keys.</p> </li> <li> <p> <b>ARN</b> - The full Amazon Resource Name of the key ID or alias. For example, <code>arn:aws:kms:us-east-2:123456789012:key/ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. Use this format to specify a key in a different account.</p> </li> </ul> <p>Omit this key if you set <code>Type</code> to <code>NONE</code>.</p>",
          "shape": "EncryptionKeyId"
        },
        "Type": {
          "documentation": "<p>The type of encryption. Set to <code>KMS</code> to use your own key for encryption. Set to <code>NONE</code> for default encryption.</p>",
          "shape": "EncryptionType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "PutEncryptionConfigResult": {
      "members": {
        "EncryptionConfig": {
          "documentation": "<p>The new encryption configuration.</p>",
          "shape": "EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "PutTelemetryRecordsRequest": {
      "members": {
        "EC2InstanceId": {
          "documentation": "<p/>",
          "shape": "EC2InstanceId"
        },
        "Hostname": {
          "documentation": "<p/>",
          "shape": "Hostname"
        },
        "ResourceARN": {
          "documentation": "<p/>",
          "shape": "ResourceARN"
        },
        "TelemetryRecords": {
          "documentation": "<p/>",
          "shape": "TelemetryRecordList"
        }
      },
      "required": [
        "TelemetryRecords"
      ],
      "type": "structure"
    },
    "PutTelemetryRecordsResult": {
      "members": {},
      "type": "structure"
    },
    "PutTraceSegmentsRequest": {
      "members": {
        "TraceSegmentDocuments": {
          "documentation": "<p>A string containing a JSON document defining one or more segments or subsegments.</p>",
          "shape": "TraceSegmentDocumentList"
        }
      },
      "required": [
        "TraceSegmentDocuments"
      ],
      "type": "structure"
    },
    "PutTraceSegmentsResult": {
      "members": {
        "UnprocessedTraceSegments": {
          "documentation": "<p>Segments that failed processing.</p>",
          "shape": "UnprocessedTraceSegmentList"
        }
      },
      "type": "structure"
    },
    "RequestCount": {
      "min": 0,
      "type": "integer"
    },
    "RequestImpactStatistics": {
      "documentation": "<p>Statistics that describe how the incident has impacted a service.</p>",
      "members": {
        "FaultCount": {
          "documentation": "<p>The number of requests that have resulted in a fault,</p>",
          "shape": "NullableLong"
        },
        "OkCount": {
          "documentation": "<p>The number of successful requests.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of requests to the service.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "ReservoirSize": {
      "min": 0,
      "type": "integer"
    },
    "ResourceARN": {
      "max": 500,
      "type": "string"
    },
    "ResourceARNDetail": {
      "documentation": "<p>A list of resources ARNs corresponding to the segments in a trace.</p>",
      "members": {
        "ARN": {
          "documentation": "<p>The ARN of a corresponding resource.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource was not found. Verify that the name or Amazon Resource Name (ARN) of the resource is correct.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        },
        "ResourceName": {
          "shape": "AmazonResourceName"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCause": {
      "documentation": "<p>The root cause information for a response time warning.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of corresponding services. A service identifies a segment and contains a name, account ID, type, and inferred flag.</p>",
          "shape": "ResponseTimeRootCauseServices"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a response time warning.</p>",
      "members": {
        "Coverage": {
          "documentation": "<p>The type and messages of the exceptions.</p>",
          "shape": "NullableDouble"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseEntityPath": {
      "member": {
        "shape": "ResponseTimeRootCauseEntity"
      },
      "type": "list"
    },
    "ResponseTimeRootCauseService": {
      "documentation": "<p>A collection of fields identifying the service in a response time warning.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "ResponseTimeRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseServices": {
      "member": {
        "shape": "ResponseTimeRootCauseService"
      },
      "type": "list"
    },
    "ResponseTimeRootCauses": {
      "member": {
        "shape": "ResponseTimeRootCause"
      },
      "type": "list"
    },
    "RootCauseException": {
      "documentation": "<p>The exception associated with a root cause.</p>",
      "members": {
        "Message": {
          "documentation": "<p>The message of the exception.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the exception.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RootCauseExceptions": {
      "member": {
        "shape": "RootCauseException"
      },
      "type": "list"
    },
    "RuleLimitExceededException": {
      "documentation": "<p>You have reached the maximum number of sampling rules.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "RuleName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "SampledCount": {
      "min": 0,
      "type": "integer"
    },
    "SamplingRule": {
      "documentation": "<p>A sampling rule that services use to decide whether to instrument a request. Rule fields can match properties of the service, or properties of a request. The service can ignore rules that don't match its properties.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Matches attributes derived from the request.</p>",
          "shape": "AttributeMap"
        },
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "FixedRate"
        },
        "HTTPMethod": {
          "documentation": "<p>Matches the HTTP method of a request.</p>",
          "shape": "HTTPMethod"
        },
        "Host": {
          "documentation": "<p>Matches the hostname from a request URL.</p>",
          "shape": "Host"
        },
        "Priority": {
          "documentation": "<p>The priority of the sampling rule.</p>",
          "shape": "Priority"
        },
        "ReservoirSize": {
          "documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>",
          "shape": "ReservoirSize"
        },
        "ResourceARN": {
          "documentation": "<p>Matches the ARN of the Amazon Web Services resource on which the service runs.</p>",
          "shape": "ResourceARN"
        },
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "RuleName"
        },
        "ServiceName": {
          "documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>",
          "shape": "ServiceName"
        },
        "ServiceType": {
          "documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>",
          "shape": "ServiceType"
        },
        "URLPath": {
          "documentation": "<p>Matches the path from a request URL.</p>",
          "shape": "URLPath"
        },
        "Version": {
          "documentation": "<p>The version of the sampling rule format (<code>1</code>).</p>",
          "shape": "Version"
        }
      },
      "required": [
        "ResourceARN",
        "Priority",
        "FixedRate",
        "ReservoirSize",
        "ServiceName",
        "ServiceType",
        "Host",
        "HTTPMethod",
        "URLPath",
        "Version"
      ],
      "type": "structure"
    },
    "SamplingRuleRecord": {
      "documentation": "<p>A <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_SamplingRule.html\">SamplingRule</a> and its metadata.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>When the rule was created.</p>",
          "shape": "Timestamp"
        },
        "ModifiedAt": {
          "documentation": "<p>When the rule was last modified.</p>",
          "shape": "Timestamp"
        },
        "SamplingRule": {
          "documentation": "<p>The sampling rule.</p>",
          "shape": "SamplingRule"
        }
      },
      "type": "structure"
    },
    "SamplingRuleRecordList": {
      "member": {
        "shape": "SamplingRuleRecord"
      },
      "type": "list"
    },
    "SamplingRuleUpdate": {
      "documentation": "<p>A document specifying changes to a sampling rule's configuration.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Matches attributes derived from the request.</p>",
          "shape": "AttributeMap"
        },
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "NullableDouble"
        },
        "HTTPMethod": {
          "documentation": "<p>Matches the HTTP method of a request.</p>",
          "shape": "HTTPMethod"
        },
        "Host": {
          "documentation": "<p>Matches the hostname from a request URL.</p>",
          "shape": "Host"
        },
        "Priority": {
          "documentation": "<p>The priority of the sampling rule.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirSize": {
          "documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>",
          "shape": "NullableInteger"
        },
        "ResourceARN": {
          "documentation": "<p>Matches the ARN of the Amazon Web Services resource on which the service runs.</p>",
          "shape": "ResourceARN"
        },
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "RuleName"
        },
        "ServiceName": {
          "documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>",
          "shape": "ServiceName"
        },
        "ServiceType": {
          "documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>",
          "shape": "ServiceType"
        },
        "URLPath": {
          "documentation": "<p>Matches the path from a request URL.</p>",
          "shape": "URLPath"
        }
      },
      "type": "structure"
    },
    "SamplingStatisticSummary": {
      "documentation": "<p>Aggregated request sampling data for a sampling rule across all services for a 10-second window.</p>",
      "members": {
        "BorrowCount": {
          "documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>",
          "shape": "Integer"
        },
        "RequestCount": {
          "documentation": "<p>The number of requests that matched the rule.</p>",
          "shape": "Integer"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "String"
        },
        "SampledCount": {
          "documentation": "<p>The number of requests recorded.</p>",
          "shape": "Integer"
        },
        "Timestamp": {
          "documentation": "<p>The start time of the reporting window.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "SamplingStatisticSummaryList": {
      "member": {
        "shape": "SamplingStatisticSummary"
      },
      "type": "list"
    },
    "SamplingStatisticsDocument": {
      "documentation": "<p>Request sampling results for a single rule from a service. Results are for the last 10 seconds unless the service has been assigned a longer reporting interval after a previous call to <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingTargets.html\">GetSamplingTargets</a>.</p>",
      "members": {
        "BorrowCount": {
          "documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>",
          "shape": "BorrowCount"
        },
        "ClientID": {
          "documentation": "<p>A unique identifier for the service in hexadecimal.</p>",
          "shape": "ClientID"
        },
        "RequestCount": {
          "documentation": "<p>The number of requests that matched the rule.</p>",
          "shape": "RequestCount"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "RuleName"
        },
        "SampledCount": {
          "documentation": "<p>The number of requests recorded.</p>",
          "shape": "SampledCount"
        },
        "Timestamp": {
          "documentation": "<p>The current time.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "RuleName",
        "ClientID",
        "Timestamp",
        "RequestCount",
        "SampledCount"
      ],
      "type": "structure"
    },
    "SamplingStatisticsDocumentList": {
      "max": 25,
      "member": {
        "shape": "SamplingStatisticsDocument"
      },
      "type": "list"
    },
    "SamplingStrategy": {
      "documentation": "<p>The name and value of a sampling rule to apply to a trace summary.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of a sampling rule.</p>",
          "shape": "SamplingStrategyName"
        },
        "Value": {
          "documentation": "<p>The value of a sampling rule.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "SamplingStrategyName": {
      "enum": [
        "PartialScan",
        "FixedRate"
      ],
      "type": "string"
    },
    "SamplingTargetDocument": {
      "documentation": "<p>Temporary changes to a sampling rule configuration. To meet the global sampling target for a rule, X-Ray calculates a new reservoir for each service based on the recent sampling results of all services that called <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_GetSamplingTargets.html\">GetSamplingTargets</a>.</p>",
      "members": {
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "Double"
        },
        "Interval": {
          "documentation": "<p>The number of seconds for the service to wait before getting sampling targets again.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirQuota": {
          "documentation": "<p>The number of requests per second that X-Ray allocated for this service.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirQuotaTTL": {
          "documentation": "<p>When the reservoir quota expires.</p>",
          "shape": "Timestamp"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SamplingTargetDocumentList": {
      "member": {
        "shape": "SamplingTargetDocument"
      },
      "type": "list"
    },
    "Segment": {
      "documentation": "<p>A segment from a trace that has been ingested by the X-Ray service. The segment can be compiled from documents uploaded with <a href=\"https://docs.aws.amazon.com/xray/latest/api/API_PutTraceSegments.html\">PutTraceSegments</a>, or an <code>inferred</code> segment for a downstream service, generated from a subsegment sent by the service that called it.</p> <p>For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">Amazon Web Services X-Ray Segment Documents</a> in the <i>Amazon Web Services X-Ray Developer Guide</i>.</p>",
      "members": {
        "Document": {
          "documentation": "<p>The segment document.</p>",
          "shape": "SegmentDocument"
        },
        "Id": {
          "documentation": "<p>The segment's ID.</p>",
          "shape": "SegmentId"
        }
      },
      "type": "structure"
    },
    "SegmentDocument": {
      "min": 1,
      "type": "string"
    },
    "SegmentId": {
      "type": "string"
    },
    "SegmentList": {
      "member": {
        "shape": "Segment"
      },
      "type": "list"
    },
    "Service": {
      "documentation": "<p>Information about an application that processed requests, users that made requests, or downstream services, resources, and applications that an application used.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>Identifier of the Amazon Web Services account in which the service runs.</p>",
          "shape": "String"
        },
        "DurationHistogram": {
          "documentation": "<p>A histogram that maps the spread of service durations.</p>",
          "shape": "Histogram"
        },
        "Edges": {
          "documentation": "<p>Connections to downstream services.</p>",
          "shape": "EdgeList"
        },
        "EndTime": {
          "documentation": "<p>The end time of the last segment that the service generated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The canonical name of the service.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A list of names for the service, including the canonical name.</p>",
          "shape": "ServiceNames"
        },
        "ReferenceId": {
          "documentation": "<p>Identifier for the service. Unique within the service map.</p>",
          "shape": "NullableInteger"
        },
        "ResponseTimeHistogram": {
          "documentation": "<p>A histogram that maps the spread of service response times.</p>",
          "shape": "Histogram"
        },
        "Root": {
          "documentation": "<p>Indicates that the service was the first service to process a request.</p>",
          "shape": "NullableBoolean"
        },
        "StartTime": {
          "documentation": "<p>The start time of the first segment that the service generated.</p>",
          "shape": "Timestamp"
        },
        "State": {
          "documentation": "<p>The service's state.</p>",
          "shape": "String"
        },
        "SummaryStatistics": {
          "documentation": "<p>Aggregated statistics for the service.</p>",
          "shape": "ServiceStatistics"
        },
        "Type": {
          "documentation": "<p>The type of service.</p> <ul> <li> <p>Amazon Web Services Resource - The type of an Amazon Web Services resource. For example, <code>AWS::EC2::Instance</code> for an application running on Amazon EC2 or <code>AWS::DynamoDB::Table</code> for an Amazon DynamoDB table that the application used.</p> </li> <li> <p>Amazon Web Services Service - The type of an Amazon Web Services service. For example, <code>AWS::DynamoDB</code> for downstream calls to Amazon DynamoDB that didn't target a specific table.</p> </li> <li> <p> <code>client</code> - Represents the clients that sent requests to a root service.</p> </li> <li> <p> <code>remote</code> - A downstream service of indeterminate type.</p> </li> </ul>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ServiceId": {
      "documentation": "<p/>",
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p/>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p/>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ServiceIds": {
      "member": {
        "shape": "ServiceId"
      },
      "type": "list"
    },
    "ServiceList": {
      "member": {
        "shape": "Service"
      },
      "type": "list"
    },
    "ServiceName": {
      "max": 64,
      "type": "string"
    },
    "ServiceNames": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ServiceStatistics": {
      "documentation": "<p>Response statistics for a service.</p>",
      "members": {
        "ErrorStatistics": {
          "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
          "shape": "ErrorStatistics"
        },
        "FaultStatistics": {
[...]
