{
  "documentation": "<p>Amazon EventBridge Schema Registry</p>",
  "metadata": {
    "apiVersion": "2019-12-02",
    "endpointPrefix": "schemas",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Schemas",
    "serviceId": "schemas",
    "signatureVersion": "v4",
    "signingName": "schemas",
    "uid": "schemas-2019-12-02"
  },
  "operations": {
    "CreateDiscoverer": {
      "documentation": "<p>Creates a discoverer.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/discoverers",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDiscovererRequest"
      },
      "name": "CreateDiscoverer",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateDiscovererResponse"
      }
    },
    "CreateRegistry": {
      "documentation": "<p>Creates a registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/registries/name/{registryName}",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRegistryRequest"
      },
      "name": "CreateRegistry",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateRegistryResponse"
      }
    },
    "CreateSchema": {
      "documentation": "<p>Creates a schema definition.</p> <note><p>Inactive schemas will be deleted after two years.</p></note>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSchemaRequest"
      },
      "name": "CreateSchema",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateSchemaResponse"
      }
    },
    "DeleteDiscoverer": {
      "documentation": "<p>Deletes a discoverer.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/discoverers/id/{discovererId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDiscovererRequest"
      },
      "name": "DeleteDiscoverer"
    },
    "DeleteRegistry": {
      "documentation": "<p>Deletes a Registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/registries/name/{registryName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRegistryRequest"
      },
      "name": "DeleteRegistry"
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Delete the resource-based policy attached to the specified registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/policy",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy"
    },
    "DeleteSchema": {
      "documentation": "<p>Delete a schema definition.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSchemaRequest"
      },
      "name": "DeleteSchema"
    },
    "DeleteSchemaVersion": {
      "documentation": "<p>Delete the schema version definition</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/version/{schemaVersion}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSchemaVersionRequest"
      },
      "name": "DeleteSchemaVersion"
    },
    "DescribeCodeBinding": {
      "documentation": "<p>Describe the code binding URI.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeCodeBindingRequest"
      },
      "name": "DescribeCodeBinding",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "DescribeCodeBindingResponse"
      }
    },
    "DescribeDiscoverer": {
      "documentation": "<p>Describes the discoverer.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/discoverers/id/{discovererId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeDiscovererRequest"
      },
      "name": "DescribeDiscoverer",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "DescribeDiscovererResponse"
      }
    },
    "DescribeRegistry": {
      "documentation": "<p>Describes the registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRegistryRequest"
      },
      "name": "DescribeRegistry",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "DescribeRegistryResponse"
      }
    },
    "DescribeSchema": {
      "documentation": "<p>Retrieve the schema definition.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSchemaRequest"
      },
      "name": "DescribeSchema",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "DescribeSchemaResponse"
      }
    },
    "ExportSchema": {
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/export",
        "responseCode": 200
      },
      "input": {
        "shape": "ExportSchemaRequest"
      },
      "name": "ExportSchema",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ExportSchemaResponse"
      }
    },
    "GetCodeBindingSource": {
      "documentation": "<p>Get the code binding source URI.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}/source",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCodeBindingSourceRequest"
      },
      "name": "GetCodeBindingSource",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetCodeBindingSourceResponse"
      }
    },
    "GetDiscoveredSchema": {
      "documentation": "<p>Get the discovered schema that was generated based on sampled events.</p>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/discover",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDiscoveredSchemaRequest"
      },
      "name": "GetDiscoveredSchema",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetDiscoveredSchemaResponse"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p>Retrieves the resource-based policy attached to a given registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "documentation": "<p>Get Resource-Based Policy Response</p>",
        "shape": "GetResourcePolicyResponse"
      }
    },
    "ListDiscoverers": {
      "documentation": "<p>List the discoverers.</p>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/discoverers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDiscoverersRequest"
      },
      "name": "ListDiscoverers",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListDiscoverersResponse"
      }
    },
    "ListRegistries": {
      "documentation": "<p>List the registries.</p>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRegistriesRequest"
      },
      "name": "ListRegistries",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListRegistriesResponse"
      }
    },
    "ListSchemaVersions": {
      "documentation": "<p>Provides a list of the schema versions and related information.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSchemaVersionsRequest"
      },
      "name": "ListSchemaVersions",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListSchemaVersionsResponse"
      }
    },
    "ListSchemas": {
      "documentation": "<p>List the schemas.</p>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSchemasRequest"
      },
      "name": "ListSchemas",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListSchemasResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Get tags for resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutCodeBinding": {
      "documentation": "<p>Put code binding URI</p>",
      "errors": [
        {
          "documentation": "<p>410 response</p>",
          "shape": "GoneException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}/language/{language}",
        "responseCode": 202
      },
      "input": {
        "shape": "PutCodeBindingRequest"
      },
      "name": "PutCodeBinding",
      "output": {
        "documentation": "<p>202 response</p>",
        "shape": "PutCodeBindingResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>The name of the policy.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>412 response</p>",
          "shape": "PreconditionFailedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "PutResourcePolicyResponse"
      }
    },
    "SearchSchemas": {
      "documentation": "<p>Search the schemas</p>",
      "errors": [
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/registries/name/{registryName}/schemas/search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchSchemasRequest"
      },
      "name": "SearchSchemas",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "SearchSchemasResponse"
      }
    },
    "StartDiscoverer": {
      "documentation": "<p>Starts the discoverer</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/discoverers/id/{discovererId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartDiscovererRequest"
      },
      "name": "StartDiscoverer",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "StartDiscovererResponse"
      }
    },
    "StopDiscoverer": {
      "documentation": "<p>Stops the discoverer</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/discoverers/id/{discovererId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopDiscovererRequest"
      },
      "name": "StopDiscoverer",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "StopDiscovererResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to a resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a resource.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateDiscoverer": {
      "documentation": "<p>Updates the discoverer</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/discoverers/id/{discovererId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDiscovererRequest"
      },
      "name": "UpdateDiscoverer",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateDiscovererResponse"
      }
    },
    "UpdateRegistry": {
      "documentation": "<p>Updates a registry.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>401 response</p>",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/registries/name/{registryName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRegistryRequest"
      },
      "name": "UpdateRegistry",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateRegistryResponse"
      }
    },
    "UpdateSchema": {
      "documentation": "<p>Updates the schema definition</p> <note><p>Inactive schemas will be deleted after two years.</p></note>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>503 response</p>",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/registries/name/{registryName}/schemas/name/{schemaName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSchemaRequest"
      },
      "name": "UpdateSchema",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateSchemaResponse"
      }
    }
  },
  "shapes": {
    "BadRequestException": {
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "Body": {
      "type": "blob"
    },
    "CodeBindingOutput": {
      "members": {
        "CreationDate": {
          "documentation": "<p>The time and date that the code binding was created.</p>",
          "shape": "__timestampIso8601"
        },
        "LastModified": {
          "documentation": "<p>The date and time that code bindings were modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema.</p>",
          "shape": "__string"
        },
        "Status": {
          "documentation": "<p>The current status of code binding generation.</p>",
          "shape": "CodeGenerationStatus"
        }
      },
      "type": "structure"
    },
    "CodeGenerationStatus": {
      "enum": [
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "CREATE_FAILED"
      ],
      "type": "string"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "CreateDiscovererInput": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true).</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>A description for the discoverer.</p>",
          "shape": "__stringMin0Max256"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__stringMin20Max1600"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "required": [
        "SourceArn"
      ],
      "type": "structure"
    },
    "CreateDiscovererRequest": {
      "documentation": "",
      "members": {
        "CrossAccount": {
          "documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true).</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>A description for the discoverer.</p>",
          "shape": "__stringMin0Max256"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__stringMin20Max1600"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "required": [
        "SourceArn"
      ],
      "type": "structure"
    },
    "CreateDiscovererResponse": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererArn": {
          "documentation": "<p>The ARN of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateRegistryInput": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the registry to be created.</p>",
          "shape": "__stringMin0Max256"
        },
        "Tags": {
          "documentation": "<p>Tags to associate with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateRegistryRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the registry to be created.</p>",
          "shape": "__stringMin0Max256"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags to associate with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "required": [
        "RegistryName"
      ],
      "type": "structure"
    },
    "CreateRegistryResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry.</p>",
          "shape": "__string"
        },
        "RegistryArn": {
          "documentation": "<p>The ARN of the registry.</p>",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateSchemaInput": {
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__stringMin1Max100000"
        },
        "Description": {
          "documentation": "<p>A description of the schema.</p>",
          "shape": "__stringMin0Max256"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the schema.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of schema.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "Type",
        "Content"
      ],
      "type": "structure"
    },
    "CreateSchemaRequest": {
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__stringMin1Max100000"
        },
        "Description": {
          "documentation": "<p>A description of the schema.</p>",
          "shape": "__stringMin0Max256"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the schema.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of schema.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName",
        "Type",
        "Content"
      ],
      "type": "structure"
    },
    "CreateSchemaResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__string"
        },
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Tags": {
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of the schema.</p>",
          "shape": "__string"
        },
        "VersionCreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        }
      },
      "type": "structure"
    },
    "DeleteDiscovererRequest": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "location": "uri",
          "locationName": "discovererId",
          "shape": "__string"
        }
      },
      "required": [
        "DiscovererId"
      ],
      "type": "structure"
    },
    "DeleteRegistryRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "querystring",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DeleteSchemaRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName"
      ],
      "type": "structure"
    },
    "DeleteSchemaVersionRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "The version number of the schema",
          "location": "uri",
          "locationName": "schemaVersion",
          "shape": "__string"
        }
      },
      "required": [
        "SchemaVersion",
        "RegistryName",
        "SchemaName"
      ],
      "type": "structure"
    },
    "DescribeCodeBindingRequest": {
      "members": {
        "Language": {
          "documentation": "<p>The language of the code binding.</p>",
          "location": "uri",
          "locationName": "language",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>Specifying this limits the results to only this schema version.</p>",
          "location": "querystring",
          "locationName": "schemaVersion",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName",
        "Language"
      ],
      "type": "structure"
    },
    "DescribeCodeBindingResponse": {
      "members": {
        "CreationDate": {
          "documentation": "<p>The time and date that the code binding was created.</p>",
          "shape": "__timestampIso8601"
        },
        "LastModified": {
          "documentation": "<p>The date and time that code bindings were modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema.</p>",
          "shape": "__string"
        },
        "Status": {
          "documentation": "<p>The current status of code binding generation.</p>",
          "shape": "CodeGenerationStatus"
        }
      },
      "type": "structure"
    },
    "DescribeDiscovererRequest": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "location": "uri",
          "locationName": "discovererId",
          "shape": "__string"
        }
      },
      "required": [
        "DiscovererId"
      ],
      "type": "structure"
    },
    "DescribeDiscovererResponse": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererArn": {
          "documentation": "<p>The ARN of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "DescribeRegistryRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName"
      ],
      "type": "structure"
    },
    "DescribeRegistryResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry.</p>",
          "shape": "__string"
        },
        "RegistryArn": {
          "documentation": "<p>The ARN of the registry.</p>",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "DescribeSchemaOutput": {
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__string"
        },
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__string"
        },
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of the schema.</p>",
          "shape": "__string"
        },
        "VersionCreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        }
      },
      "type": "structure"
    },
    "DescribeSchemaRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>Specifying this limits the results to only this schema version.</p>",
          "location": "querystring",
          "locationName": "schemaVersion",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName"
      ],
      "type": "structure"
    },
    "DescribeSchemaResponse": {
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__string"
        },
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__string"
        },
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of the schema.</p>",
          "shape": "__string"
        },
        "VersionCreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        }
      },
      "type": "structure"
    },
    "DiscovererOutput": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererArn": {
          "documentation": "<p>The ARN of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "DiscovererState": {
      "enum": [
        "STARTED",
        "STOPPED"
      ],
      "type": "string"
    },
    "DiscovererStateOutput": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        }
      },
      "type": "structure"
    },
    "DiscovererSummary": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>",
          "shape": "__boolean"
        },
        "DiscovererArn": {
          "documentation": "<p>The ARN of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ErrorOutput": {
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "ExportSchemaOutput": {
      "members": {
        "Content": {
          "shape": "__string"
        },
        "SchemaArn": {
          "shape": "__string"
        },
        "SchemaName": {
          "shape": "__string"
        },
        "SchemaVersion": {
          "shape": "__string"
        },
        "Type": {
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ExportSchemaRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>Specifying this limits the results to only this schema version.</p>",
          "location": "querystring",
          "locationName": "schemaVersion",
          "shape": "__string"
        },
        "Type": {
          "location": "querystring",
          "locationName": "type",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName",
        "Type"
      ],
      "type": "structure"
    },
    "ExportSchemaResponse": {
      "members": {
        "Content": {
          "shape": "__string"
        },
        "SchemaArn": {
          "shape": "__string"
        },
        "SchemaName": {
          "shape": "__string"
        },
        "SchemaVersion": {
          "shape": "__string"
        },
        "Type": {
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ForbiddenException": {
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "GetCodeBindingSourceOutput": {
      "type": "string"
    },
    "GetCodeBindingSourceRequest": {
      "members": {
        "Language": {
          "documentation": "<p>The language of the code binding.</p>",
          "location": "uri",
          "locationName": "language",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>Specifying this limits the results to only this schema version.</p>",
          "location": "querystring",
          "locationName": "schemaVersion",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName",
        "Language"
      ],
      "type": "structure"
    },
    "GetCodeBindingSourceResponse": {
      "members": {
        "Body": {
          "shape": "Body"
        }
      },
      "payload": "Body",
      "type": "structure"
    },
    "GetDiscoveredSchemaInput": {
      "members": {
        "Events": {
          "documentation": "<p>An array of strings where each string is a JSON event. These are the events that were used to generate the schema. The array includes a single type of event and has a maximum size of 10 events.</p>",
          "shape": "__listOfGetDiscoveredSchemaVersionItemInput"
        },
        "Type": {
          "documentation": "<p>The type of event.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "Type",
        "Events"
      ],
      "type": "structure"
    },
    "GetDiscoveredSchemaOutput": {
      "documentation": "<p></p>",
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GetDiscoveredSchemaRequest": {
      "members": {
        "Events": {
          "documentation": "<p>An array of strings where each string is a JSON event. These are the events that were used to generate the schema. The array includes a single type of event and has a maximum size of 10 events.</p>",
          "shape": "__listOfGetDiscoveredSchemaVersionItemInput"
        },
        "Type": {
          "documentation": "<p>The type of event.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "Type",
        "Events"
      ],
      "type": "structure"
    },
    "GetDiscoveredSchemaResponse": {
      "members": {
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GetDiscoveredSchemaVersionItemInput": {
      "max": 100000,
      "min": 1,
      "type": "string"
    },
    "GetResourcePolicyOutput": {
      "documentation": "<p>Information about the policy.</p>",
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GetResourcePolicyRequest": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "querystring",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GetResourcePolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GoneException": {
      "error": {
        "httpStatusCode": 410
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "InternalServerErrorException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "Limit": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListDiscoverersOutput": {
      "members": {
        "Discoverers": {
          "documentation": "<p>An array of DiscovererSummary information.</p>",
          "shape": "__listOfDiscovererSummary"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListDiscoverersRequest": {
      "members": {
        "DiscovererIdPrefix": {
          "documentation": "<p>Specifying this limits the results to only those discoverer IDs that start with the specified prefix.</p>",
          "location": "querystring",
          "locationName": "discovererIdPrefix",
          "shape": "__string"
        },
        "Limit": {
          "location": "querystring",
          "locationName": "limit",
          "shape": "__integer"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "SourceArnPrefix": {
          "documentation": "<p>Specifying this limits the results to only those ARNs that start with the specified prefix.</p>",
          "location": "querystring",
          "locationName": "sourceArnPrefix",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListDiscoverersResponse": {
      "members": {
        "Discoverers": {
          "documentation": "<p>An array of DiscovererSummary information.</p>",
          "shape": "__listOfDiscovererSummary"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListRegistriesOutput": {
      "documentation": "<p>List the registries.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Registries": {
          "documentation": "<p>An array of registry summaries.</p>",
          "shape": "__listOfRegistrySummary"
        }
      },
      "type": "structure"
    },
    "ListRegistriesRequest": {
      "members": {
        "Limit": {
          "location": "querystring",
          "locationName": "limit",
          "shape": "__integer"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RegistryNamePrefix": {
          "documentation": "<p>Specifying this limits the results to only those registry names that start with the specified prefix.</p>",
          "location": "querystring",
          "locationName": "registryNamePrefix",
          "shape": "__string"
        },
        "Scope": {
          "documentation": "<p>Can be set to Local or AWS to limit responses to your custom registries, or the ones provided by AWS.</p>",
          "location": "querystring",
          "locationName": "scope",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListRegistriesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Registries": {
          "documentation": "<p>An array of registry summaries.</p>",
          "shape": "__listOfRegistrySummary"
        }
      },
      "type": "structure"
    },
    "ListSchemaVersionsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "SchemaVersions": {
          "documentation": "<p>An array of schema version summaries.</p>",
          "shape": "__listOfSchemaVersionSummary"
        }
      },
      "type": "structure"
    },
    "ListSchemaVersionsRequest": {
      "members": {
        "Limit": {
          "location": "querystring",
          "locationName": "limit",
          "shape": "__integer"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName"
      ],
      "type": "structure"
    },
    "ListSchemaVersionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "SchemaVersions": {
          "documentation": "<p>An array of schema version summaries.</p>",
          "shape": "__listOfSchemaVersionSummary"
        }
      },
      "type": "structure"
    },
    "ListSchemasOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Schemas": {
          "documentation": "<p>An array of schema summaries.</p>",
          "shape": "__listOfSchemaSummary"
        }
      },
      "type": "structure"
    },
    "ListSchemasRequest": {
      "members": {
        "Limit": {
          "location": "querystring",
          "locationName": "limit",
          "shape": "__integer"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaNamePrefix": {
          "documentation": "<p>Specifying this limits the results to only those schema names that start with the specified prefix.</p>",
          "location": "querystring",
          "locationName": "schemaNamePrefix",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName"
      ],
      "type": "structure"
    },
    "ListSchemasResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Schemas": {
          "documentation": "<p>An array of schema summaries.</p>",
          "shape": "__listOfSchemaSummary"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "Tags": {
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "NotFoundException": {
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "PreconditionFailedException": {
      "error": {
        "httpStatusCode": 412
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "PutCodeBindingRequest": {
      "members": {
        "Language": {
          "documentation": "<p>The language of the code binding.</p>",
          "location": "uri",
          "locationName": "language",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>Specifying this limits the results to only this schema version.</p>",
          "location": "querystring",
          "locationName": "schemaVersion",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName",
        "Language"
      ],
      "type": "structure"
    },
    "PutCodeBindingResponse": {
      "members": {
        "CreationDate": {
          "documentation": "<p>The time and date that the code binding was created.</p>",
          "shape": "__timestampIso8601"
        },
        "LastModified": {
          "documentation": "<p>The date and time that code bindings were modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema.</p>",
          "shape": "__string"
        },
        "Status": {
          "documentation": "<p>The current status of code binding generation.</p>",
          "shape": "CodeGenerationStatus"
        }
      },
      "type": "structure"
    },
    "PutResourcePolicyInput": {
      "documentation": "<p>Only update the policy if the revision ID matches the ID that's specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>",
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID of the policy.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Policy"
      ],
      "type": "structure"
    },
    "PutResourcePolicyOutput": {
      "documentation": "<p>The resource-based policy.</p>",
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID of the policy.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "PutResourcePolicyRequest": {
      "documentation": "<p>The name of the policy.</p>",
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "querystring",
          "locationName": "registryName",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID of the policy.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Policy"
      ],
      "type": "structure"
    },
    "PutResourcePolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>The resource-based policy.</p>",
          "jsonvalue": true,
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The revision ID of the policy.</p>",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "RegistryOutput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry.</p>",
          "shape": "__string"
        },
        "RegistryArn": {
          "documentation": "<p>The ARN of the registry.</p>",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "RegistrySummary": {
      "members": {
        "RegistryArn": {
          "documentation": "<p>The ARN of the registry.</p>",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "SchemaOutput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__string"
        },
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Tags": {
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of the schema.</p>",
          "shape": "__string"
        },
        "VersionCreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        }
      },
      "type": "structure"
    },
    "SchemaSummary": {
      "documentation": "<p>A summary of schema details.</p>",
      "members": {
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the schema.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "VersionCount": {
          "documentation": "<p>The number of versions available for the schema.</p>",
          "shape": "__long"
        }
      },
      "type": "structure"
    },
    "SchemaVersionSummary": {
      "members": {
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema version.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema.</p>",
          "shape": "__string"
        },
        "Type": {
          "documentation": "<p>The type of schema.</p>",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "SearchSchemaSummary": {
      "members": {
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersions": {
          "documentation": "<p>An array of schema version summaries.</p>",
          "shape": "__listOfSearchSchemaVersionSummary"
        }
      },
      "type": "structure"
    },
    "SearchSchemaVersionSummary": {
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Type": {
          "documentation": "<p>The type of schema.</p>",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "SearchSchemasOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Schemas": {
          "documentation": "<p>An array of SearchSchemaSummary information.</p>",
          "shape": "__listOfSearchSchemaSummary"
        }
      },
      "type": "structure"
    },
    "SearchSchemasRequest": {
      "members": {
        "Keywords": {
          "documentation": "<p>Specifying this limits the results to only schemas that include the provided keywords.</p>",
          "location": "querystring",
          "locationName": "keywords",
          "shape": "__string"
        },
        "Limit": {
          "location": "querystring",
          "locationName": "limit",
          "shape": "__integer"
        },
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName",
        "Keywords"
      ],
      "type": "structure"
    },
    "SearchSchemasResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token that specifies the next page of results to return. To request the first page, leave NextToken empty. The token will expire in 24 hours, and cannot be shared with other accounts.</p>",
          "shape": "__string"
        },
        "Schemas": {
          "documentation": "<p>An array of SearchSchemaSummary information.</p>",
          "shape": "__listOfSearchSchemaSummary"
        }
      },
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "StartDiscovererRequest": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "location": "uri",
          "locationName": "discovererId",
          "shape": "__string"
        }
      },
      "required": [
        "DiscovererId"
      ],
      "type": "structure"
    },
    "StartDiscovererResponse": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        }
      },
      "type": "structure"
    },
    "StopDiscovererRequest": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "location": "uri",
          "locationName": "discovererId",
          "shape": "__string"
        }
      },
      "required": [
        "DiscovererId"
      ],
      "type": "structure"
    },
    "StopDiscovererResponse": {
      "members": {
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        }
      },
      "type": "structure"
    },
    "TagResourceInput": {
      "members": {
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "required": [
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceRequest": {
      "documentation": "<p></p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "Tags": {
      "documentation": "<p>Key-value pairs associated with a resource.</p>",
      "key": {
        "shape": "__string"
      },
      "type": "map",
      "value": {
        "shape": "__string"
      }
    },
    "TooManyRequestsException": {
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "Type": {
      "enum": [
        "OpenApi3",
        "JSONSchemaDraft4"
      ],
      "type": "string"
    },
    "UnauthorizedException": {
      "error": {
        "httpStatusCode": 401
      },
      "exception": true,
      "members": {
        "Code": {
          "documentation": "<p>The error code.</p>",
          "shape": "__string"
        },
        "Message": {
          "documentation": "<p>The message string of the error output.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "TagKeys": {
          "documentation": "<p>Keys of key-value pairs.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "TagKeys",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "UpdateDiscovererInput": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true)</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer to update.</p>",
          "shape": "__stringMin0Max256"
        }
      },
      "type": "structure"
    },
    "UpdateDiscovererRequest": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>Support discovery of schemas in events sent to the bus from another account. (default: true)</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer to update.</p>",
          "shape": "__stringMin0Max256"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "location": "uri",
          "locationName": "discovererId",
          "shape": "__string"
        }
      },
      "required": [
        "DiscovererId"
      ],
      "type": "structure"
    },
    "UpdateDiscovererResponse": {
      "members": {
        "CrossAccount": {
          "documentation": "<p>The Status if the discoverer will discover schemas from events sent from another account.</p>",
          "shape": "__boolean"
        },
        "Description": {
          "documentation": "<p>The description of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererArn": {
          "documentation": "<p>The ARN of the discoverer.</p>",
          "shape": "__string"
        },
        "DiscovererId": {
          "documentation": "<p>The ID of the discoverer.</p>",
          "shape": "__string"
        },
        "SourceArn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "__string"
        },
        "State": {
          "documentation": "<p>The state of the discoverer.</p>",
          "shape": "DiscovererState"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateRegistryInput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry to update.</p>",
          "shape": "__stringMin0Max256"
        }
      },
      "type": "structure"
    },
    "UpdateRegistryRequest": {
      "documentation": "<p>Updates the registry.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry to update.</p>",
          "shape": "__stringMin0Max256"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        }
      },
      "required": [
        "RegistryName"
      ],
      "type": "structure"
    },
    "UpdateRegistryResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the registry.</p>",
          "shape": "__string"
        },
        "RegistryArn": {
          "documentation": "<p>The ARN of the registry.</p>",
          "shape": "__string"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the registry.</p>",
          "locationName": "tags",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateSchemaInput": {
      "members": {
        "ClientTokenId": {
          "documentation": "<p>The ID of the client token.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin0Max36"
        },
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__stringMin1Max100000"
        },
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__stringMin0Max256"
        },
        "Type": {
          "documentation": "<p>The schema type for the events schema.</p>",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "UpdateSchemaRequest": {
      "members": {
        "ClientTokenId": {
          "documentation": "<p>The ID of the client token.</p>",
          "idempotencyToken": true,
          "shape": "__stringMin0Max36"
        },
        "Content": {
          "documentation": "<p>The source of the schema definition.</p>",
          "shape": "__stringMin1Max100000"
        },
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__stringMin0Max256"
        },
        "RegistryName": {
          "documentation": "<p>The name of the registry.</p>",
          "location": "uri",
          "locationName": "registryName",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "location": "uri",
          "locationName": "schemaName",
          "shape": "__string"
        },
        "Type": {
          "documentation": "<p>The schema type for the events schema.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "RegistryName",
        "SchemaName"
      ],
      "type": "structure"
    },
    "UpdateSchemaResponse": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the schema.</p>",
          "shape": "__string"
        },
        "LastModified": {
          "documentation": "<p>The date and time that schema was modified.</p>",
          "shape": "__timestampIso8601"
        },
        "SchemaArn": {
          "documentation": "<p>The ARN of the schema.</p>",
          "shape": "__string"
        },
        "SchemaName": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "__string"
        },
        "SchemaVersion": {
          "documentation": "<p>The version number of the schema</p>",
          "shape": "__string"
        },
        "Tags": {
          "locationName": "tags",
          "shape": "Tags"
        },
        "Type": {
          "documentation": "<p>The type of the schema.</p>",
          "shape": "__string"
        },
        "VersionCreatedDate": {
          "documentation": "<p>The date the schema version was created.</p>",
          "shape": "__timestampIso8601"
        }
      },
      "type": "structure"
    },
    "__boolean": {
      "type": "boolean"
    },
    "__double": {
      "type": "double"
    },
    "__integer": {
      "type": "integer"
    },
    "__integerMin1Max29000": {
      "max": 29000,
      "min": 1,
      "type": "integer"
    },
    "__listOfDiscovererSummary": {
      "member": {
        "shape": "DiscovererSummary"
      },
      "type": "list"
    },
    "__listOfGetDiscoveredSchemaVersionItemInput": {
      "max": 10,
      "member": {
        "shape": "GetDiscoveredSchemaVersionItemInput"
      },
      "min": 1,
      "type": "list"
    },
    "__listOfRegistrySummary": {
      "member": {
        "shape": "RegistrySummary"
      },
      "type": "list"
    },
    "__listOfSchemaSummary": {
      "member": {
        "shape": "SchemaSummary"
      },
      "type": "list"
    },
    "__listOfSchemaVersionSummary": {
      "member": {
        "shape": "SchemaVersionSummary"
      },
      "type": "list"
    },
    "__listOfSearchSchemaSummary": {
      "member": {
        "shape": "SearchSchemaSummary"
      },
      "type": "list"
    },
    "__listOfSearchSchemaVersionSummary": {
      "member": {
        "shape": "SearchSchemaVersionSummary"
      },
      "type": "list"
    },
    "__listOf__string": {
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "__long": {
      "type": "long"
    },
    "__string": {
      "type": "string"
    },
    "__stringMin0Max256": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "__stringMin0Max36": {
      "max": 36,
      "min": 0,
      "type": "string"
    },
    "__stringMin1Max100000": {
      "max": 100000,
      "min": 1,
      "type": "string"
    },
    "__stringMin1Max1600": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "__stringMin20Max1600": {
      "max": 1600,
      "min": 20,
      "type": "string"
    },
    "__timestampIso8601": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "__timestampUnix": {
      "timestampFormat": "unixTimestamp",
      "type": "timestamp"
    }
  }
}
