{
  "documentation": "<p>Amazon Macie is a fully managed data security and data privacy service that uses machine learning and pattern matching to discover and protect your sensitive data in AWS. Macie automates the discovery of sensitive data, such as PII and intellectual property, to provide you with insight into the data that your organization stores in AWS. Macie also provides an inventory of your Amazon S3 buckets, which it continually monitors for you. If Macie detects sensitive data or potential data access issues, it generates detailed findings for you to review and act upon as necessary.</p>",
  "metadata": {
    "apiVersion": "2020-01-01",
    "endpointPrefix": "macie2",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Macie 2",
    "serviceId": "Macie2",
    "signatureVersion": "v4",
    "signingName": "macie2",
    "uid": "macie2-2020-01-01"
  },
  "operations": {
    "AcceptInvitation": {
      "documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "AcceptInvitationResponse"
      }
    },
    "BatchGetCustomDataIdentifiers": {
      "documentation": "<p>Retrieves information about one or more custom data identifiers.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/get",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetCustomDataIdentifiersRequest"
      },
      "name": "BatchGetCustomDataIdentifiers",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "BatchGetCustomDataIdentifiersResponse"
      }
    },
    "CreateAllowList": {
      "documentation": "<p>Creates and defines the settings for an allow list.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/allow-lists",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAllowListRequest"
      },
      "name": "CreateAllowList",
      "output": {
        "documentation": "<p>The request succeeded. The specified allow list was created.</p>",
        "shape": "CreateAllowListResponse"
      }
    },
    "CreateClassificationJob": {
      "documentation": "<p>Creates and defines the settings for a classification job.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClassificationJobRequest"
      },
      "name": "CreateClassificationJob",
      "output": {
        "documentation": "<p>The request succeeded. The specified job was created.</p>",
        "shape": "CreateClassificationJobResponse"
      }
    },
    "CreateCustomDataIdentifier": {
      "documentation": "<p>Creates and defines the criteria and other settings for a custom data identifier.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCustomDataIdentifierRequest"
      },
      "name": "CreateCustomDataIdentifier",
      "output": {
        "documentation": "<p>The request succeeded. The specified custom data identifier was created.</p>",
        "shape": "CreateCustomDataIdentifierResponse"
      }
    },
    "CreateFindingsFilter": {
      "documentation": "<p>Creates and defines the criteria and other settings for a findings filter.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFindingsFilterRequest"
      },
      "name": "CreateFindingsFilter",
      "output": {
        "shape": "CreateFindingsFilterResponse"
      }
    },
    "CreateInvitations": {
      "documentation": "<p>Sends an Amazon Macie membership invitation to one or more accounts.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInvitationsRequest"
      },
      "name": "CreateInvitations",
      "output": {
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>",
        "shape": "CreateInvitationsResponse"
      }
    },
    "CreateMember": {
      "documentation": "<p>Associates an account with an Amazon Macie administrator account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMemberRequest"
      },
      "name": "CreateMember",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "CreateMemberResponse"
      }
    },
    "CreateSampleFindings": {
      "documentation": "<p>Creates sample findings.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings/sample",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSampleFindingsRequest"
      },
      "name": "CreateSampleFindings",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "CreateSampleFindingsResponse"
      }
    },
    "DeclineInvitations": {
      "documentation": "<p>Declines Amazon Macie membership invitations that were received from specific accounts.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline",
        "responseCode": 200
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "name": "DeclineInvitations",
      "output": {
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>",
        "shape": "DeclineInvitationsResponse"
      }
    },
    "DeleteAllowList": {
      "documentation": "<p>Deletes an allow list.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/allow-lists/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAllowListRequest"
      },
      "name": "DeleteAllowList",
      "output": {
        "documentation": "<p>The request succeeded. The allow list was deleted and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DeleteAllowListResponse"
      }
    },
    "DeleteCustomDataIdentifier": {
      "documentation": "<p>Soft deletes a custom data identifier.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCustomDataIdentifierRequest"
      },
      "name": "DeleteCustomDataIdentifier",
      "output": {
        "documentation": "<p>The request succeeded. The specified custom data identifier was deleted and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DeleteCustomDataIdentifierResponse"
      }
    },
    "DeleteFindingsFilter": {
      "documentation": "<p>Deletes a findings filter.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFindingsFilterRequest"
      },
      "name": "DeleteFindingsFilter",
      "output": {
        "documentation": "<p>The request succeeded. The specified findings filter was deleted and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DeleteFindingsFilterResponse"
      }
    },
    "DeleteInvitations": {
      "documentation": "<p>Deletes Amazon Macie membership invitations that were received from specific accounts.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "name": "DeleteInvitations",
      "output": {
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>",
        "shape": "DeleteInvitationsResponse"
      }
    },
    "DeleteMember": {
      "documentation": "<p>Deletes the association between an Amazon Macie administrator account and an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMemberRequest"
      },
      "name": "DeleteMember",
      "output": {
        "documentation": "<p>The request succeeded. The association was deleted and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DeleteMemberResponse"
      }
    },
    "DescribeBuckets": {
      "documentation": " <p>Retrieves (queries) statistical data and other information about one or more S3 buckets that Amazon Macie monitors and analyzes.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBucketsRequest"
      },
      "name": "DescribeBuckets",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "DescribeBucketsResponse"
      }
    },
    "DescribeClassificationJob": {
      "documentation": "<p>Retrieves the status and settings for a classification job.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClassificationJobRequest"
      },
      "name": "DescribeClassificationJob",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "DescribeClassificationJobResponse"
      }
    },
    "DescribeOrganizationConfiguration": {
      "documentation": "<p>Retrieves the Amazon Macie configuration settings for an organization in Organizations.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "name": "DescribeOrganizationConfiguration",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "DescribeOrganizationConfigurationResponse"
      }
    },
    "DisableMacie": {
      "documentation": "<p>Disables Amazon Macie and deletes all settings and resources for a Macie account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableMacieRequest"
      },
      "name": "DisableMacie",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DisableMacieResponse"
      }
    },
    "DisableOrganizationAdminAccount": {
      "documentation": "<p>Disables an account as the delegated Amazon Macie administrator account for an organization in Organizations.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "name": "DisableOrganizationAdminAccount",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DisableOrganizationAdminAccountResponse"
      }
    },
    "DisassociateFromAdministratorAccount": {
      "documentation": "<p>Disassociates a member account from its Amazon Macie administrator account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/administrator/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromAdministratorAccountRequest"
      },
      "name": "DisassociateFromAdministratorAccount",
      "output": {
        "shape": "DisassociateFromAdministratorAccountResponse"
      }
    },
    "DisassociateFromMasterAccount": {
      "documentation": "<p>(Deprecated) Disassociates a member account from its Amazon Macie administrator account. This operation has been replaced by the <link  linkend=\"DisassociateFromAdministratorAccount\">DisassociateFromAdministratorAccount</link> operation.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "name": "DisassociateFromMasterAccount",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "DisassociateFromMasterAccountResponse"
      }
    },
    "DisassociateMember": {
      "documentation": "<p>Disassociates an Amazon Macie administrator account from a member account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateMemberRequest"
      },
      "name": "DisassociateMember",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "DisassociateMemberResponse"
      }
    },
    "EnableMacie": {
      "documentation": "<p>Enables Amazon Macie and specifies the configuration settings for a Macie account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableMacieRequest"
      },
      "name": "EnableMacie",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "EnableMacieResponse"
      }
    },
    "EnableOrganizationAdminAccount": {
      "documentation": "<p>Designates an account as the delegated Amazon Macie administrator account for an organization in Organizations.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "name": "EnableOrganizationAdminAccount",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "EnableOrganizationAdminAccountResponse"
      }
    },
    "GetAdministratorAccount": {
      "documentation": "<p>Retrieves information about the Amazon Macie administrator account for an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/administrator",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdministratorAccountRequest"
      },
      "name": "GetAdministratorAccount",
      "output": {
        "shape": "GetAdministratorAccountResponse"
      }
    },
    "GetAllowList": {
      "documentation": "<p>Retrieves the settings and status of an allow list.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/allow-lists/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAllowListRequest"
      },
      "name": "GetAllowList",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetAllowListResponse"
      }
    },
    "GetBucketStatistics": {
      "documentation": "<p>Retrieves (queries) aggregated statistical data about S3 buckets that Amazon Macie monitors and analyzes.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBucketStatisticsRequest"
      },
      "name": "GetBucketStatistics",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetBucketStatisticsResponse"
      }
    },
    "GetClassificationExportConfiguration": {
      "documentation": "<p>Retrieves the configuration settings for storing data classification results.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClassificationExportConfigurationRequest"
      },
      "name": "GetClassificationExportConfiguration",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetClassificationExportConfigurationResponse"
      }
    },
    "GetCustomDataIdentifier": {
      "documentation": "<p>Retrieves the criteria and other settings for a custom data identifier.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCustomDataIdentifierRequest"
      },
      "name": "GetCustomDataIdentifier",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetCustomDataIdentifierResponse"
      }
    },
    "GetFindingStatistics": {
      "documentation": " <p>Retrieves (queries) aggregated statistical data about findings.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingStatisticsRequest"
      },
      "name": "GetFindingStatistics",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetFindingStatisticsResponse"
      }
    },
    "GetFindings": {
      "documentation": "<p>Retrieves the details of one or more findings.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings/describe",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "name": "GetFindings",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetFindingsResponse"
      }
    },
    "GetFindingsFilter": {
      "documentation": "<p>Retrieves the criteria and other settings for a findings filter.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsFilterRequest"
      },
      "name": "GetFindingsFilter",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetFindingsFilterResponse"
      }
    },
    "GetFindingsPublicationConfiguration": {
      "documentation": "<p>Retrieves the configuration settings for publishing findings to Security Hub.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findings-publication-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsPublicationConfigurationRequest"
      },
      "name": "GetFindingsPublicationConfiguration",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetFindingsPublicationConfigurationResponse"
      }
    },
    "GetInvitationsCount": {
      "documentation": "<p>Retrieves the count of Amazon Macie membership invitations that were received by an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "name": "GetInvitationsCount",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetInvitationsCountResponse"
      }
    },
    "GetMacieSession": {
      "documentation": "<p>Retrieves the current status and configuration settings for an Amazon Macie account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMacieSessionRequest"
      },
      "name": "GetMacieSession",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetMacieSessionResponse"
      }
    },
    "GetMasterAccount": {
      "documentation": "<p>(Deprecated) Retrieves information about the Amazon Macie administrator account for an account. This operation has been replaced by the <link  linkend=\"GetAdministratorAccount\">GetAdministratorAccount</link> operation.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/master",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "name": "GetMasterAccount",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetMasterAccountResponse"
      }
    },
    "GetMember": {
      "documentation": "<p>Retrieves information about an account that's associated with an Amazon Macie administrator account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMemberRequest"
      },
      "name": "GetMember",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetMemberResponse"
      }
    },
    "GetRevealConfiguration": {
      "documentation": "<p>Retrieves the status and configuration settings for retrieving occurrences of sensitive data reported by findings.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/reveal-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRevealConfigurationRequest"
      },
      "name": "GetRevealConfiguration",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetRevealConfigurationResponse"
      }
    },
    "GetSensitiveDataOccurrences": {
      "documentation": "<p>Retrieves occurrences of sensitive data reported by a finding.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains instructions that Amazon Macie can't process (Unprocessable Entity).</p>",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findings/{findingId}/reveal",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSensitiveDataOccurrencesRequest"
      },
      "name": "GetSensitiveDataOccurrences",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetSensitiveDataOccurrencesResponse"
      }
    },
    "GetSensitiveDataOccurrencesAvailability": {
      "documentation": "<p>Checks whether occurrences of sensitive data can be retrieved for a finding.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findings/{findingId}/reveal/availability",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSensitiveDataOccurrencesAvailabilityRequest"
      },
      "name": "GetSensitiveDataOccurrencesAvailability",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetSensitiveDataOccurrencesAvailabilityResponse"
      }
    },
    "GetUsageStatistics": {
      "documentation": "<p>Retrieves (queries) quotas and aggregated usage data for one or more accounts.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageStatisticsRequest"
      },
      "name": "GetUsageStatistics",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetUsageStatisticsResponse"
      }
    },
    "GetUsageTotals": {
      "documentation": "<p>Retrieves (queries) aggregated usage data for an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usage",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageTotalsRequest"
      },
      "name": "GetUsageTotals",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "GetUsageTotalsResponse"
      }
    },
    "ListAllowLists": {
      "documentation": "<p>Retrieves a subset of information about all the allow lists for an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/allow-lists",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAllowListsRequest"
      },
      "name": "ListAllowLists",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListAllowListsResponse"
      }
    },
    "ListClassificationJobs": {
      "documentation": "<p>Retrieves a subset of information about one or more classification jobs.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/jobs/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClassificationJobsRequest"
      },
      "name": "ListClassificationJobs",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListClassificationJobsResponse"
      }
    },
    "ListCustomDataIdentifiers": {
      "documentation": "<p>Retrieves a subset of information about all the custom data identifiers for an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCustomDataIdentifiersRequest"
      },
      "name": "ListCustomDataIdentifiers",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListCustomDataIdentifiersResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Retrieves a subset of information about one or more findings.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListFindingsResponse"
      }
    },
    "ListFindingsFilters": {
      "documentation": "<p>Retrieves a subset of information about all the findings filters for an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsFiltersRequest"
      },
      "name": "ListFindingsFilters",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListFindingsFiltersResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Retrieves information about the Amazon Macie membership invitations that were received by an account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListInvitationsResponse"
      }
    },
    "ListManagedDataIdentifiers": {
      "documentation": "<p>Retrieves information about all the managed data identifiers that Amazon Macie currently provides.</p>",
      "errors": [],
      "http": {
        "method": "POST",
        "requestUri": "/managed-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListManagedDataIdentifiersRequest"
      },
      "name": "ListManagedDataIdentifiers",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListManagedDataIdentifiersResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Retrieves information about the accounts that are associated with an Amazon Macie administrator account.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListMembersResponse"
      }
    },
    "ListOrganizationAdminAccounts": {
      "documentation": "<p>Retrieves information about the delegated Amazon Macie administrator account for an organization in Organizations.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "name": "ListOrganizationAdminAccounts",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListOrganizationAdminAccountsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the tags (keys and values) that are associated with an Amazon Macie resource.</p>",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutClassificationExportConfiguration": {
      "documentation": "<p>Creates or updates the configuration settings for storing data classification results.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutClassificationExportConfigurationRequest"
      },
      "name": "PutClassificationExportConfiguration",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "PutClassificationExportConfigurationResponse"
      }
    },
    "PutFindingsPublicationConfiguration": {
      "documentation": "<p>Updates the configuration settings for publishing findings to Security Hub.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/findings-publication-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFindingsPublicationConfigurationRequest"
      },
      "name": "PutFindingsPublicationConfiguration",
      "output": {
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>",
        "shape": "PutFindingsPublicationConfigurationResponse"
      }
    },
    "SearchResources": {
      "documentation": "<p>Retrieves (queries) statistical data and other information about Amazon Web Services resources that Amazon Macie monitors and analyzes.</p>",
      "errors": [
        {
          "documentation": "<p>The request failed because it contains a syntax error.</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>",
          "shape": "ServiceQuotaExceededException"
        },
        {
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datasources/search-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchResourcesRequest"
      },
      "name": "SearchResources",
      "output": {
        "documentation": "<p>The request succeeded.</p>",
        "shape": "SearchResourcesResponse"
      }
    },
    "TagResource": {
[...]
