{
  "documentation": "<fullname>CodeBuild</fullname> <p>CodeBuild is a fully managed build service in the cloud. CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in CodeBuild to use your own build tools. CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about CodeBuild, see the <i> <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/welcome.html\">CodeBuild User Guide</a>.</i> </p>",
  "metadata": {
    "apiVersion": "2016-10-06",
    "endpointPrefix": "codebuild",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS CodeBuild",
    "serviceId": "CodeBuild",
    "signatureVersion": "v4",
    "targetPrefix": "CodeBuild_20161006",
    "uid": "codebuild-2016-10-06"
  },
  "operations": {
    "BatchDeleteBuilds": {
      "documentation": "<p>Deletes one or more builds.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteBuildsInput"
      },
      "name": "BatchDeleteBuilds",
      "output": {
        "shape": "BatchDeleteBuildsOutput"
      }
    },
    "BatchGetBuildBatches": {
      "documentation": "<p>Retrieves information about one or more batch builds.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetBuildBatchesInput"
      },
      "name": "BatchGetBuildBatches",
      "output": {
        "shape": "BatchGetBuildBatchesOutput"
      }
    },
    "BatchGetBuilds": {
      "documentation": "<p>Gets information about one or more builds.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetBuildsInput"
      },
      "name": "BatchGetBuilds",
      "output": {
        "shape": "BatchGetBuildsOutput"
      }
    },
    "BatchGetProjects": {
      "documentation": "<p>Gets information about one or more build projects.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetProjectsInput"
      },
      "name": "BatchGetProjects",
      "output": {
        "shape": "BatchGetProjectsOutput"
      }
    },
    "BatchGetReportGroups": {
      "documentation": "<p> Returns an array of report groups. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetReportGroupsInput"
      },
      "name": "BatchGetReportGroups",
      "output": {
        "shape": "BatchGetReportGroupsOutput"
      }
    },
    "BatchGetReports": {
      "documentation": "<p> Returns an array of reports. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetReportsInput"
      },
      "name": "BatchGetReports",
      "output": {
        "shape": "BatchGetReportsOutput"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProjectInput"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectOutput"
      }
    },
    "CreateReportGroup": {
      "documentation": "<p> Creates a report group. A report group contains a collection of reports. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReportGroupInput"
      },
      "name": "CreateReportGroup",
      "output": {
        "shape": "CreateReportGroupOutput"
      }
    },
    "CreateWebhook": {
      "documentation": "<p>For an existing CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an CodeBuild project, and the project is used as a build step in CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using CodePipeline, we recommend that you disable webhooks in CodeBuild. In the CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project's Settings</a>.</p> </important>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OAuthProviderException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWebhookInput"
      },
      "name": "CreateWebhook",
      "output": {
        "shape": "CreateWebhookOutput"
      }
    },
    "DeleteBuildBatch": {
      "documentation": "<p>Deletes a batch build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBuildBatchInput"
      },
      "name": "DeleteBuildBatch",
      "output": {
        "shape": "DeleteBuildBatchOutput"
      }
    },
    "DeleteProject": {
      "documentation": "<p> Deletes a build project. When you delete a project, its builds are not deleted. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProjectInput"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectOutput"
      }
    },
    "DeleteReport": {
      "documentation": "<p> Deletes a report. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReportInput"
      },
      "name": "DeleteReport",
      "output": {
        "shape": "DeleteReportOutput"
      }
    },
    "DeleteReportGroup": {
      "documentation": "<p>Deletes a report group. Before you delete a report group, you must delete its reports. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReportGroupInput"
      },
      "name": "DeleteReportGroup",
      "output": {
        "shape": "DeleteReportGroupOutput"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p> Deletes a resource policy that is identified by its resource ARN. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyInput"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyOutput"
      }
    },
    "DeleteSourceCredentials": {
      "documentation": "<p> Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSourceCredentialsInput"
      },
      "name": "DeleteSourceCredentials",
      "output": {
        "shape": "DeleteSourceCredentialsOutput"
      }
    },
    "DeleteWebhook": {
      "documentation": "<p>For an existing CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OAuthProviderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebhookInput"
      },
      "name": "DeleteWebhook",
      "output": {
        "shape": "DeleteWebhookOutput"
      }
    },
    "DescribeCodeCoverages": {
      "documentation": "<p>Retrieves one or more code coverage reports.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCodeCoveragesInput"
      },
      "name": "DescribeCodeCoverages",
      "output": {
        "shape": "DescribeCodeCoveragesOutput"
      }
    },
    "DescribeTestCases": {
      "documentation": "<p> Returns a list of details about test cases for a report. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTestCasesInput"
      },
      "name": "DescribeTestCases",
      "output": {
        "shape": "DescribeTestCasesOutput"
      }
    },
    "GetReportGroupTrend": {
      "documentation": "<p>Analyzes and accumulates test report values for the specified test reports.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReportGroupTrendInput"
      },
      "name": "GetReportGroupTrend",
      "output": {
        "shape": "GetReportGroupTrendOutput"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p> Gets a resource policy that is identified by its resource ARN. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePolicyInput"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyOutput"
      }
    },
    "ImportSourceCredentials": {
      "documentation": "<p> Imports the source repository credentials for an CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccountLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportSourceCredentialsInput"
      },
      "name": "ImportSourceCredentials",
      "output": {
        "shape": "ImportSourceCredentialsOutput"
      }
    },
    "InvalidateProjectCache": {
      "documentation": "<p>Resets the cache for a project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InvalidateProjectCacheInput"
      },
      "name": "InvalidateProjectCache",
      "output": {
        "shape": "InvalidateProjectCacheOutput"
      }
    },
    "ListBuildBatches": {
      "documentation": "<p>Retrieves the identifiers of your build batches in the current region.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildBatchesInput"
      },
      "name": "ListBuildBatches",
      "output": {
        "shape": "ListBuildBatchesOutput"
      }
    },
    "ListBuildBatchesForProject": {
      "documentation": "<p>Retrieves the identifiers of the build batches for a specific project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildBatchesForProjectInput"
      },
      "name": "ListBuildBatchesForProject",
      "output": {
        "shape": "ListBuildBatchesForProjectOutput"
      }
    },
    "ListBuilds": {
      "documentation": "<p>Gets a list of build IDs, with each build ID representing a single build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildsInput"
      },
      "name": "ListBuilds",
      "output": {
        "shape": "ListBuildsOutput"
      }
    },
    "ListBuildsForProject": {
      "documentation": "<p>Gets a list of build identifiers for the specified build project, with each build identifier representing a single build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildsForProjectInput"
      },
      "name": "ListBuildsForProject",
      "output": {
        "shape": "ListBuildsForProjectOutput"
      }
    },
    "ListCuratedEnvironmentImages": {
      "documentation": "<p>Gets information about Docker images that are managed by CodeBuild.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCuratedEnvironmentImagesInput"
      },
      "name": "ListCuratedEnvironmentImages",
      "output": {
        "shape": "ListCuratedEnvironmentImagesOutput"
      }
    },
    "ListProjects": {
      "documentation": "<p>Gets a list of build project names, with each build project name representing a single build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProjectsInput"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsOutput"
      }
    },
    "ListReportGroups": {
      "documentation": "<p> Gets a list ARNs for the report groups in the current Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportGroupsInput"
      },
      "name": "ListReportGroups",
      "output": {
        "shape": "ListReportGroupsOutput"
      }
    },
    "ListReports": {
      "documentation": "<p> Returns a list of ARNs for the reports in the current Amazon Web Services account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportsInput"
      },
      "name": "ListReports",
      "output": {
        "shape": "ListReportsOutput"
      }
    },
    "ListReportsForReportGroup": {
      "documentation": "<p> Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportsForReportGroupInput"
      },
      "name": "ListReportsForReportGroup",
      "output": {
        "shape": "ListReportsForReportGroupOutput"
      }
    },
    "ListSharedProjects": {
      "documentation": "<p> Gets a list of projects that are shared with other Amazon Web Services accounts or users. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSharedProjectsInput"
      },
      "name": "ListSharedProjects",
      "output": {
        "shape": "ListSharedProjectsOutput"
      }
    },
    "ListSharedReportGroups": {
      "documentation": "<p> Gets a list of report groups that are shared with other Amazon Web Services accounts or users. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSharedReportGroupsInput"
      },
      "name": "ListSharedReportGroups",
      "output": {
        "shape": "ListSharedReportGroupsOutput"
      }
    },
    "ListSourceCredentials": {
      "documentation": "<p> Returns a list of <code>SourceCredentialsInfo</code> objects. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSourceCredentialsInput"
      },
      "name": "ListSourceCredentials",
      "output": {
        "shape": "ListSourceCredentialsOutput"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p> Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyInput"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyOutput"
      }
    },
    "RetryBuild": {
      "documentation": "<p>Restarts a build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetryBuildInput"
      },
      "name": "RetryBuild",
      "output": {
        "shape": "RetryBuildOutput"
      }
    },
    "RetryBuildBatch": {
      "documentation": "<p>Restarts a failed batch build. Only batch builds that have failed can be retried.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetryBuildBatchInput"
      },
      "name": "RetryBuildBatch",
      "output": {
        "shape": "RetryBuildBatchOutput"
      }
    },
    "StartBuild": {
      "documentation": "<p>Starts running a build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartBuildInput"
      },
      "name": "StartBuild",
      "output": {
        "shape": "StartBuildOutput"
      }
    },
    "StartBuildBatch": {
      "documentation": "<p>Starts a batch build for a project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartBuildBatchInput"
      },
      "name": "StartBuildBatch",
      "output": {
        "shape": "StartBuildBatchOutput"
      }
    },
    "StopBuild": {
      "documentation": "<p>Attempts to stop running a build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopBuildInput"
      },
      "name": "StopBuild",
      "output": {
        "shape": "StopBuildOutput"
      }
    },
    "StopBuildBatch": {
      "documentation": "<p>Stops a running batch build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopBuildBatchInput"
      },
      "name": "StopBuildBatch",
      "output": {
        "shape": "StopBuildBatchOutput"
      }
    },
    "UpdateProject": {
      "documentation": "<p>Changes the settings of a build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProjectInput"
      },
      "name": "UpdateProject",
      "output": {
        "shape": "UpdateProjectOutput"
      }
    },
    "UpdateProjectVisibility": {
      "documentation": "<p>Changes the public visibility for a project. The project's build results, logs, and artifacts are available to the general public. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/public-builds.html\">Public build projects</a> in the <i>CodeBuild User Guide</i>.</p> <important> <p>The following should be kept in mind when making your projects public:</p> <ul> <li> <p>All of a project's build results, logs, and artifacts, including builds that were run when the project was private, are available to the general public.</p> </li> <li> <p>All build logs and artifacts are available to the public. Environment variables, source code, and other sensitive information may have been output to the build logs and artifacts. You must be careful about what information is output to the build logs. Some best practice are:</p> <ul> <li> <p>Do not store sensitive values, especially Amazon Web Services access key IDs and secret access keys, in environment variables. We recommend that you use an Amazon EC2 Systems Manager Parameter Store or Secrets Manager to store sensitive values.</p> </li> <li> <p>Follow <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/webhooks.html#webhook-best-practices\">Best practices for using webhooks</a> in the <i>CodeBuild User Guide</i> to limit which entities can trigger a build, and do not store the buildspec in the project itself, to ensure that your webhooks are as secure as possible.</p> </li> </ul> </li> <li> <p>A malicious user can use public builds to distribute malicious artifacts. We recommend that you review all pull requests to verify that the pull request is a legitimate change. We also recommend that you validate any artifacts with their checksums to make sure that the correct artifacts are being downloaded.</p> </li> </ul> </important>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProjectVisibilityInput"
      },
      "name": "UpdateProjectVisibility",
      "output": {
        "shape": "UpdateProjectVisibilityOutput"
      }
    },
    "UpdateReportGroup": {
      "documentation": "<p> Updates a report group. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateReportGroupInput"
      },
      "name": "UpdateReportGroup",
      "output": {
        "shape": "UpdateReportGroupOutput"
      }
    },
    "UpdateWebhook": {
      "documentation": "<p> Updates the webhook associated with an CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OAuthProviderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWebhookInput"
      },
      "name": "UpdateWebhook",
      "output": {
        "shape": "UpdateWebhookOutput"
      }
    }
  },
  "shapes": {
    "AccountLimitExceededException": {
      "documentation": "<p>An Amazon Web Services service limit was exceeded for the calling Amazon Web Services account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ArtifactNamespace": {
      "enum": [
        "NONE",
        "BUILD_ID"
      ],
      "type": "string"
    },
    "ArtifactPackaging": {
      "enum": [
        "NONE",
        "ZIP"
      ],
      "type": "string"
    },
    "ArtifactsType": {
      "enum": [
        "CODEPIPELINE",
        "S3",
        "NO_ARTIFACTS"
      ],
      "type": "string"
    },
    "AuthType": {
      "enum": [
        "OAUTH",
        "BASIC_AUTH",
        "PERSONAL_ACCESS_TOKEN"
      ],
      "type": "string"
    },
    "BatchDeleteBuildsInput": {
      "members": {
        "ids": {
          "documentation": "<p>The IDs of the builds to delete.</p>",
          "shape": "BuildIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchDeleteBuildsOutput": {
      "members": {
        "buildsDeleted": {
          "documentation": "<p>The IDs of the builds that were successfully deleted.</p>",
          "shape": "BuildIds"
        },
        "buildsNotDeleted": {
          "documentation": "<p>Information about any builds that could not be successfully deleted.</p>",
          "shape": "BuildsNotDeleted"
        }
      },
      "type": "structure"
    },
    "BatchGetBuildBatchesInput": {
      "members": {
        "ids": {
          "documentation": "<p>An array that contains the batch build identifiers to retrieve.</p>",
          "shape": "BuildBatchIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchGetBuildBatchesOutput": {
      "members": {
        "buildBatches": {
          "documentation": "<p>An array of <code>BuildBatch</code> objects that represent the retrieved batch builds.</p>",
          "shape": "BuildBatches"
        },
        "buildBatchesNotFound": {
          "documentation": "<p>An array that contains the identifiers of any batch builds that are not found.</p>",
          "shape": "BuildBatchIds"
        }
      },
      "type": "structure"
    },
    "BatchGetBuildsInput": {
      "members": {
        "ids": {
          "documentation": "<p>The IDs of the builds.</p>",
          "shape": "BuildIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchGetBuildsOutput": {
      "members": {
        "builds": {
          "documentation": "<p>Information about the requested builds.</p>",
          "shape": "Builds"
        },
        "buildsNotFound": {
          "documentation": "<p>The IDs of builds for which information could not be found.</p>",
          "shape": "BuildIds"
        }
      },
      "type": "structure"
    },
    "BatchGetProjectsInput": {
      "members": {
        "names": {
          "documentation": "<p>The names or ARNs of the build projects. To get information about a project shared with your Amazon Web Services account, its ARN must be specified. You cannot specify a shared project using its name.</p>",
          "shape": "ProjectNames"
        }
      },
      "required": [
        "names"
      ],
      "type": "structure"
    },
    "BatchGetProjectsOutput": {
      "members": {
        "projects": {
          "documentation": "<p>Information about the requested build projects.</p>",
          "shape": "Projects"
        },
        "projectsNotFound": {
          "documentation": "<p>The names of build projects for which information could not be found.</p>",
          "shape": "ProjectNames"
        }
      },
      "type": "structure"
    },
    "BatchGetReportGroupsInput": {
      "members": {
        "reportGroupArns": {
          "documentation": "<p> An array of report group ARNs that identify the report groups to return. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "required": [
        "reportGroupArns"
      ],
      "type": "structure"
    },
    "BatchGetReportGroupsOutput": {
      "members": {
        "reportGroups": {
          "documentation": "<p> The array of report groups returned by <code>BatchGetReportGroups</code>. </p>",
          "shape": "ReportGroups"
        },
        "reportGroupsNotFound": {
          "documentation": "<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "type": "structure"
    },
    "BatchGetReportsInput": {
      "members": {
        "reportArns": {
          "documentation": "<p> An array of ARNs that identify the <code>Report</code> objects to return. </p>",
          "shape": "ReportArns"
        }
      },
      "required": [
        "reportArns"
      ],
      "type": "structure"
    },
    "BatchGetReportsOutput": {
      "members": {
        "reports": {
          "documentation": "<p> The array of <code>Report</code> objects returned by <code>BatchGetReports</code>. </p>",
          "shape": "Reports"
        },
        "reportsNotFound": {
          "documentation": "<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>. </p>",
          "shape": "ReportArns"
        }
      },
      "type": "structure"
    },
    "BatchReportModeType": {
      "enum": [
        "REPORT_INDIVIDUAL_BUILDS",
        "REPORT_AGGREGATED_BATCH"
      ],
      "type": "string"
    },
    "BatchRestrictions": {
      "documentation": "<p>Specifies restrictions for the batch build.</p>",
      "members": {
        "computeTypesAllowed": {
          "documentation": "<p>An array of strings that specify the compute types that are allowed for the batch build. See <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html\">Build environment compute types</a> in the <i>CodeBuild User Guide</i> for these values. </p>",
          "shape": "ComputeTypesAllowed"
        },
        "maximumBuildsAllowed": {
          "documentation": "<p>Specifies the maximum number of builds allowed.</p>",
          "shape": "WrapperInt"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketOwnerAccess": {
      "documentation": "<p>Specifies the bucket owner's access for objects that another account uploads to their Amazon S3 bucket. By default, only the account that uploads the objects to the bucket has access to these objects. This property allows you to give the bucket owner access to these objects.</p> <note> <p>To use this property, your CodeBuild service role must have the <code>s3:PutBucketAcl</code> permission. This permission allows CodeBuild to modify the access control list for the bucket.</p> </note> <p>This property can be one of the following values:</p> <dl> <dt>NONE</dt> <dd> <p>The bucket owner does not have access to the objects. This is the default.</p> </dd> <dt>READ_ONLY</dt> <dd> <p>The bucket owner has read-only access to the objects. The uploading account retains ownership of the objects.</p> </dd> <dt>FULL</dt> <dd> <p>The bucket owner has full access to the objects. Object ownership is determined by the following criteria:</p> <ul> <li> <p>If the bucket is configured with the <b>Bucket owner preferred</b> setting, the bucket owner owns the objects. The uploading account will have object access as specified by the bucket's policy.</p> </li> <li> <p>Otherwise, the uploading account retains ownership of the objects.</p> </li> </ul> <p>For more information about Amazon S3 object ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html\">Controlling ownership of uploaded objects using S3 Object Ownership</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> </dd> </dl>",
      "enum": [
        "NONE",
        "READ_ONLY",
        "FULL"
      ],
      "type": "string"
    },
    "Build": {
      "documentation": "<p>Information about a build.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the build.</p>",
          "shape": "NonEmptyString"
        },
        "artifacts": {
          "documentation": "<p>Information about the output artifacts for the build.</p>",
          "shape": "BuildArtifacts"
        },
        "buildBatchArn": {
          "documentation": "<p>The ARN of the batch build that this build is a member of, if applicable.</p>",
          "shape": "String"
        },
        "buildComplete": {
          "documentation": "<p>Whether the build is complete. True if complete; otherwise, false.</p>",
          "shape": "Boolean"
        },
        "buildNumber": {
          "documentation": "<p>The number of the build. For each project, the <code>buildNumber</code> of its first build is <code>1</code>. The <code>buildNumber</code> of each subsequent build is incremented by <code>1</code>. If a build is deleted, the <code>buildNumber</code> of other builds does not change.</p>",
          "shape": "WrapperLong"
        },
        "buildStatus": {
          "documentation": "<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>",
          "shape": "StatusType"
        },
        "cache": {
          "documentation": "<p>Information about the cache for the build.</p>",
          "shape": "ProjectCache"
        },
        "currentPhase": {
          "documentation": "<p>The current build phase.</p>",
          "shape": "String"
        },
        "debugSession": {
          "documentation": "<p>Contains information about the debug session for this build.</p>",
          "shape": "DebugSession"
        },
        "encryptionKey": {
          "documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>).</p>",
          "shape": "NonEmptyString"
        },
        "endTime": {
          "documentation": "<p>When the build process ended, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "environment": {
          "documentation": "<p>Information about the build environment for this build.</p>",
          "shape": "ProjectEnvironment"
        },
        "exportedEnvironmentVariables": {
          "documentation": "<p>A list of exported environment variables for this build.</p> <p>Exported environment variables are used in conjunction with CodePipeline to export environment variables from the current build stage to subsequent stages in the pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/actions-variables.html\">Working with variables</a> in the <i>CodePipeline User Guide</i>.</p>",
          "shape": "ExportedEnvironmentVariables"
        },
        "fileSystemLocations": {
          "documentation": "<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "id": {
          "documentation": "<p>The unique ID for the build.</p>",
          "shape": "NonEmptyString"
        },
        "initiator": {
          "documentation": "<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an IAM user started the build, the user's name (for example, <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>",
          "shape": "String"
        },
        "logs": {
          "documentation": "<p>Information about the build's logs in CloudWatch Logs.</p>",
          "shape": "LogsLocation"
        },
        "networkInterface": {
          "documentation": "<p>Describes a network interface.</p>",
          "shape": "NetworkInterface"
        },
        "phases": {
          "documentation": "<p>Information about all previous build phases that are complete and information about any current build phase that is not yet complete.</p>",
          "shape": "BuildPhases"
        },
        "projectName": {
          "documentation": "<p>The name of the CodeBuild project.</p>",
          "shape": "NonEmptyString"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>",
          "shape": "WrapperInt"
        },
        "reportArns": {
          "documentation": "<p> An array of the ARNs associated with this build's reports. </p>",
          "shape": "BuildReportArns"
        },
        "resolvedSourceVersion": {
          "documentation": "<p> An identifier for the version of this build's source code. </p> <ul> <li> <p> For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p> </li> <li> <p> For CodePipeline, the source revision provided by CodePipeline. </p> </li> <li> <p> For Amazon S3, this does not apply. </p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "secondaryArtifacts": {
          "documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>",
          "shape": "BuildArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p> An array of <code>ProjectSource</code> objects. </p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The name of a service role used for this build.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "documentation": "<p>Information about the source code to be built.</p>",
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p>Any version identifier for the version of the source code to be built. If <code>sourceVersion</code> is specified at the project level, then this <code>sourceVersion</code> (at the build level) takes precedence. </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>CodeBuild User Guide</i>. </p>",
          "shape": "NonEmptyString"
        },
        "startTime": {
          "documentation": "<p>When the build process started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "timeoutInMinutes": {
          "documentation": "<p>How long, in minutes, for CodeBuild to wait before timing out this build if it does not get marked as completed.</p>",
          "shape": "WrapperInt"
        },
        "vpcConfig": {
          "documentation": "<p>If your CodeBuild project accesses resources in an Amazon VPC, you provide this parameter that identifies the VPC ID and the list of security group IDs and subnet IDs. The security groups and subnets must belong to the same VPC. You must provide at least one security group and one subnet ID.</p>",
          "shape": "VpcConfig"
        }
      },
      "type": "structure"
    },
    "BuildArtifacts": {
      "documentation": "<p>Information about build output artifacts.</p>",
      "members": {
        "artifactIdentifier": {
          "documentation": "<p> An identifier for this artifact definition. </p>",
          "shape": "String"
        },
        "bucketOwnerAccess": {
          "shape": "BucketOwnerAccess"
        },
        "encryptionDisabled": {
          "documentation": "<p> Information that tells you if encryption for build artifacts is disabled. </p>",
          "shape": "WrapperBoolean"
        },
        "location": {
          "documentation": "<p>Information about the location of the build artifacts.</p>",
          "shape": "String"
        },
        "md5sum": {
          "documentation": "<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
          "shape": "String"
        },
        "overrideArtifactName": {
          "documentation": "<p> If this flag is set, a name specified in the buildspec file overrides the artifact name. The name specified in a buildspec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. </p>",
          "shape": "WrapperBoolean"
        },
        "sha256sum": {
          "documentation": "<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuildArtifactsList": {
      "max": 12,
      "member": {
        "shape": "BuildArtifacts"
      },
      "min": 0,
      "type": "list"
    },
    "BuildBatch": {
      "documentation": "<p>Contains information about a batch build.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the batch build.</p>",
          "shape": "NonEmptyString"
        },
        "artifacts": {
          "documentation": "<p>A <code>BuildArtifacts</code> object the defines the build artifacts for this batch build.</p>",
          "shape": "BuildArtifacts"
        },
        "buildBatchConfig": {
          "shape": "ProjectBuildBatchConfig"
        },
        "buildBatchNumber": {
          "documentation": "<p>The number of the batch build. For each project, the <code>buildBatchNumber</code> of its first batch build is <code>1</code>. The <code>buildBatchNumber</code> of each subsequent batch build is incremented by <code>1</code>. If a batch build is deleted, the <code>buildBatchNumber</code> of other batch builds does not change.</p>",
          "shape": "WrapperLong"
        },
        "buildBatchStatus": {
          "documentation": "<p>The status of the batch build.</p>",
          "shape": "StatusType"
        },
        "buildGroups": {
          "documentation": "<p>An array of <code>BuildGroup</code> objects that define the build groups for the batch build.</p>",
          "shape": "BuildGroups"
        },
        "buildTimeoutInMinutes": {
          "documentation": "<p>Specifies the maximum amount of time, in minutes, that the build in a batch must be completed in.</p>",
          "shape": "WrapperInt"
        },
        "cache": {
          "shape": "ProjectCache"
        },
        "complete": {
          "documentation": "<p>Indicates if the batch build is complete.</p>",
          "shape": "Boolean"
        },
        "currentPhase": {
          "documentation": "<p>The current phase of the batch build.</p>",
          "shape": "String"
        },
        "debugSessionEnabled": {
          "documentation": "<p>Specifies if session debugging is enabled for this batch build. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/session-manager.html\">Viewing a running build in Session Manager</a>. Batch session debugging is not supported for matrix batch builds.</p>",
          "shape": "WrapperBoolean"
        },
        "encryptionKey": {
          "documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the batch build output artifacts.</p> <note> <p>You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>).</p>",
          "shape": "NonEmptyString"
        },
        "endTime": {
          "documentation": "<p>The date and time that the batch build ended.</p>",
          "shape": "Timestamp"
        },
        "environment": {
          "shape": "ProjectEnvironment"
        },
        "fileSystemLocations": {
          "documentation": "<p>An array of <code>ProjectFileSystemLocation</code> objects for the batch build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "id": {
          "documentation": "<p>The identifier of the batch build.</p>",
          "shape": "NonEmptyString"
        },
        "initiator": {
          "documentation": "<p>The entity that started the batch build. Valid values include:</p> <ul> <li> <p>If CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an IAM user started the build, the user's name.</p> </li> <li> <p>If the Jenkins plugin for CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>",
          "shape": "String"
        },
        "logConfig": {
          "shape": "LogsConfig"
        },
        "phases": {
          "documentation": "<p>An array of <code>BuildBatchPhase</code> objects the specify the phases of the batch build.</p>",
          "shape": "BuildBatchPhases"
        },
        "projectName": {
          "documentation": "<p>The name of the batch build project.</p>",
          "shape": "NonEmptyString"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p>Specifies the amount of time, in minutes, that the batch build is allowed to be queued before it times out.</p>",
          "shape": "WrapperInt"
        },
        "resolvedSourceVersion": {
          "documentation": "<p>The identifier of the resolved version of this batch build's source code.</p> <ul> <li> <p>For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID.</p> </li> <li> <p>For CodePipeline, the source revision provided by CodePipeline.</p> </li> <li> <p>For Amazon S3, this does not apply.</p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "secondaryArtifacts": {
          "documentation": "<p>An array of <code>BuildArtifacts</code> objects the define the build artifacts for this batch build.</p>",
          "shape": "BuildArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p>An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p>An array of <code>ProjectSource</code> objects that define the sources for the batch build.</p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The name of a service role used for builds in the batch.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p>The identifier of the version of the source code to be built.</p>",
          "shape": "NonEmptyString"
        },
        "startTime": {
          "documentation": "<p>The date and time that the batch build started.</p>",
          "shape": "Timestamp"
        },
        "vpcConfig": {
          "shape": "VpcConfig"
        }
      },
      "type": "structure"
    },
    "BuildBatchFilter": {
      "documentation": "<p>Specifies filters when retrieving batch builds.</p>",
      "members": {
        "status": {
          "documentation": "<p>The status of the batch builds to retrieve. Only batch builds that have this status will be retrieved.</p>",
          "shape": "StatusType"
        }
      },
      "type": "structure"
    },
    "BuildBatchIds": {
      "max": 100,
      "member": {
        "shape": "NonEmptyString"
      },
      "min": 0,
      "type": "list"
    },
    "BuildBatchPhase": {
      "documentation": "<p>Contains information about a stage for a batch build.</p>",
      "members": {
        "contexts": {
          "documentation": "<p>Additional information about the batch build phase. Especially to help troubleshoot a failed batch build.</p>",
          "shape": "PhaseContexts"
        },
        "durationInSeconds": {
          "documentation": "<p>How long, in seconds, between the starting and ending times of the batch build's phase.</p>",
          "shape": "WrapperLong"
        },
        "endTime": {
          "documentation": "<p>When the batch build phase ended, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "phaseStatus": {
          "documentation": "<p>The current status of the batch build phase. Valid values include:</p> <dl> <dt>FAILED</dt> <dd> <p>The build phase failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build phase faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build phase is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build phase stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build phase succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build phase timed out.</p> </dd> </dl>",
          "shape": "StatusType"
        },
        "phaseType": {
          "documentation": "<p>The name of the batch build phase. Valid values include:</p> <dl> <dt>COMBINE_ARTIFACTS</dt> <dd> <p>Build output artifacts are being combined and uploaded to the output location.</p> </dd> <dt>DOWNLOAD_BATCHSPEC</dt> <dd> <p>The batch build specification is being downloaded.</p> </dd> <dt>FAILED</dt> <dd> <p>One or more of the builds failed.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The batch build is in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The batch build was stopped.</p> </dd> <dt>SUBMITTED</dt> <dd> <p>The btach build has been submitted.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The batch build succeeded.</p> </dd> </dl>",
          "shape": "BuildBatchPhaseType"
        },
        "startTime": {
          "documentation": "<p>When the batch build phase started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "BuildBatchPhaseType": {
      "enum": [
        "SUBMITTED",
        "DOWNLOAD_BATCHSPEC",
        "IN_PROGRESS",
        "COMBINE_ARTIFACTS",
        "SUCCEEDED",
        "FAILED",
        "STOPPED"
      ],
      "type": "string"
    },
    "BuildBatchPhases": {
      "member": {
        "shape": "BuildBatchPhase"
      },
      "type": "list"
    },
    "BuildBatches": {
      "max": 100,
      "member": {
        "shape": "BuildBatch"
      },
      "min": 0,
      "type": "list"
    },
    "BuildGroup": {
      "documentation": "<p>Contains information about a batch build build group. Build groups are used to combine builds that can run in parallel, while still being able to set dependencies on other build groups.</p>",
      "members": {
        "currentBuildSummary": {
          "documentation": "<p>A <code>BuildSummary</code> object that contains a summary of the current build group.</p>",
          "shape": "BuildSummary"
        },
        "dependsOn": {
          "documentation": "<p>An array of strings that contain the identifiers of the build groups that this build group depends on.</p>",
          "shape": "Identifiers"
        },
        "identifier": {
          "documentation": "<p>Contains the identifier of the build group.</p>",
          "shape": "String"
        },
        "ignoreFailure": {
          "documentation": "<p>Specifies if failures in this build group can be ignored.</p>",
          "shape": "Boolean"
        },
        "priorBuildSummaryList": {
          "documentation": "<p>An array of <code>BuildSummary</code> objects that contain summaries of previous build groups.</p>",
          "shape": "BuildSummaries"
        }
      },
      "type": "structure"
    },
    "BuildGroups": {
      "member": {
        "shape": "BuildGroup"
      },
      "type": "list"
    },
    "BuildIds": {
      "max": 100,
      "member": {
        "shape": "NonEmptyString"
      },
      "min": 1,
      "type": "list"
    },
    "BuildNotDeleted": {
      "documentation": "<p>Information about a build that could not be successfully deleted.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the build that could not be successfully deleted.</p>",
          "shape": "NonEmptyString"
        },
        "statusCode": {
          "documentation": "<p>Additional information about the build that could not be successfully deleted.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuildPhase": {
      "documentation": "<p>Information about a stage for a build.</p>",
      "members": {
        "contexts": {
          "documentation": "<p>Additional information about a build phase, especially to help troubleshoot a failed build.</p>",
          "shape": "PhaseContexts"
        },
        "durationInSeconds": {
          "documentation": "<p>How long, in seconds, between the starting and ending times of the build's phase.</p>",
          "shape": "WrapperLong"
        },
        "endTime": {
          "documentation": "<p>When the build phase ended, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "phaseStatus": {
          "documentation": "<p>The current status of the build phase. Valid values include:</p> <dl> <dt>FAILED</dt> <dd> <p>The build phase failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build phase faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build phase is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build phase stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build phase succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build phase timed out.</p> </dd> </dl>",
          "shape": "StatusType"
        },
        "phaseType": {
          "documentation": "<p>The name of the build phase. Valid values include:</p> <dl> <dt>BUILD</dt> <dd> <p>Core build activities typically occur in this build phase.</p> </dd> <dt>COMPLETED</dt> <dd> <p>The build has been completed.</p> </dd> <dt>DOWNLOAD_SOURCE</dt> <dd> <p>Source code is being downloaded in this build phase.</p> </dd> <dt>FINALIZING</dt> <dd> <p>The build process is completing in this build phase.</p> </dd> <dt>INSTALL</dt> <dd> <p>Installation activities typically occur in this build phase.</p> </dd> <dt>POST_BUILD</dt> <dd> <p>Post-build activities typically occur in this build phase.</p> </dd> <dt>PRE_BUILD</dt> <dd> <p>Pre-build activities typically occur in this build phase.</p> </dd> <dt>PROVISIONING</dt> <dd> <p>The build environment is being set up.</p> </dd> <dt>QUEUED</dt> <dd> <p>The build has been submitted and is queued behind other submitted builds.</p> </dd> <dt>SUBMITTED</dt> <dd> <p>The build has been submitted.</p> </dd> <dt>UPLOAD_ARTIFACTS</dt> <dd> <p>Build output artifacts are being uploaded to the output location.</p> </dd> </dl>",
          "shape": "BuildPhaseType"
        },
        "startTime": {
          "documentation": "<p>When the build phase started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "BuildPhaseType": {
      "enum": [
        "SUBMITTED",
        "QUEUED",
        "PROVISIONING",
        "DOWNLOAD_SOURCE",
        "INSTALL",
        "PRE_BUILD",
        "BUILD",
        "POST_BUILD",
        "UPLOAD_ARTIFACTS",
        "FINALIZING",
        "COMPLETED"
      ],
      "type": "string"
    },
    "BuildPhases": {
      "member": {
        "shape": "BuildPhase"
      },
      "type": "list"
    },
    "BuildReportArns": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "BuildStatusConfig": {
      "documentation": "<p>Contains information that defines how the CodeBuild build project reports the build status to the source provider. </p>",
      "members": {
        "context": {
          "documentation": "<p>Specifies the context of the build status CodeBuild sends to the source provider. The usage of this parameter depends on the source provider.</p> <dl> <dt>Bitbucket</dt> <dd> <p>This parameter is used for the <code>name</code> parameter in the Bitbucket commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p> </dd> <dt>GitHub/GitHub Enterprise Server</dt> <dd> <p>This parameter is used for the <code>context</code> parameter in the GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p> </dd> </dl>",
          "shape": "String"
        },
        "targetUrl": {
          "documentation": "<p>Specifies the target url of the build status CodeBuild sends to the source provider. The usage of this parameter depends on the source provider.</p> <dl> <dt>Bitbucket</dt> <dd> <p>This parameter is used for the <code>url</code> parameter in the Bitbucket commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p> </dd> <dt>GitHub/GitHub Enterprise Server</dt> <dd> <p>This parameter is used for the <code>target_url</code> parameter in the GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p> </dd> </dl>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuildSummaries": {
      "member": {
        "shape": "BuildSummary"
      },
      "type": "list"
    },
    "BuildSummary": {
      "documentation": "<p>Contains summary information about a batch build group.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The batch build ARN.</p>",
          "shape": "String"
        },
        "buildStatus": {
          "documentation": "<p>The status of the build group.</p> <dl> <dt>FAILED</dt> <dd> <p>The build group failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build group faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build group is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build group stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build group succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build group timed out.</p> </dd> </dl>",
          "shape": "StatusType"
        },
        "primaryArtifact": {
          "documentation": "<p>A <code>ResolvedArtifact</code> object that represents the primary build artifacts for the build group.</p>",
          "shape": "ResolvedArtifact"
        },
        "requestedOn": {
          "documentation": "<p>When the build was started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "secondaryArtifacts": {
          "documentation": "<p>An array of <code>ResolvedArtifact</code> objects that represents the secondary build artifacts for the build group.</p>",
          "shape": "ResolvedSecondaryArtifacts"
        }
      },
      "type": "structure"
    },
    "Builds": {
      "member": {
        "shape": "Build"
      },
      "type": "list"
    },
    "BuildsNotDeleted": {
      "member": {
        "shape": "BuildNotDeleted"
      },
      "type": "list"
    },
    "CacheMode": {
      "enum": [
        "LOCAL_DOCKER_LAYER_CACHE",
        "LOCAL_SOURCE_CACHE",
        "LOCAL_CUSTOM_CACHE"
      ],
      "type": "string"
    },
    "CacheType": {
      "enum": [
        "NO_CACHE",
        "S3",
        "LOCAL"
      ],
      "type": "string"
    },
    "CloudWatchLogsConfig": {
      "documentation": "<p> Information about CloudWatch Logs for a build project. </p>",
      "members": {
        "groupName": {
          "documentation": "<p> The group name of the logs in CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The current status of the logs in CloudWatch Logs for a build project. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: CloudWatch Logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: CloudWatch Logs are not enabled for this build project.</p> </li> </ul>",
          "shape": "LogsConfigStatusType"
        },
        "streamName": {
          "documentation": "<p> The prefix of the stream name of the CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>",
          "shape": "String"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "CodeCoverage": {
      "documentation": "<p>Contains code coverage report information.</p> <p>Line coverage measures how many statements your tests cover. A statement is a single instruction, not including comments, conditionals, etc.</p> <p>Branch coverage determines if your tests cover every possible branch of a control structure, such as an <code>if</code> or <code>case</code> statement.</p>",
      "members": {
        "branchCoveragePercentage": {
          "documentation": "<p>The percentage of branches that are covered by your tests.</p>",
          "shape": "Percentage"
        },
        "branchesCovered": {
          "documentation": "<p>The number of conditional branches that are covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "branchesMissed": {
          "documentation": "<p>The number of conditional branches that are not covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "expired": {
          "documentation": "<p>The date and time that the tests were run.</p>",
          "shape": "Timestamp"
        },
        "filePath": {
          "documentation": "<p>The path of the test report file.</p>",
          "shape": "NonEmptyString"
        },
        "id": {
          "documentation": "<p>The identifier of the code coverage report.</p>",
          "shape": "NonEmptyString"
        },
        "lineCoveragePercentage": {
          "documentation": "<p>The percentage of lines that are covered by your tests.</p>",
          "shape": "Percentage"
        },
        "linesCovered": {
          "documentation": "<p>The number of lines that are covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "linesMissed": {
          "documentation": "<p>The number of lines that are not covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "reportARN": {
          "documentation": "<p>The ARN of the report.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CodeCoverageReportSummary": {
      "documentation": "<p>Contains a summary of a code coverage report.</p> <p>Line coverage measures how many statements your tests cover. A statement is a single instruction, not including comments, conditionals, etc.</p> <p>Branch coverage determines if your tests cover every possible branch of a control structure, such as an <code>if</code> or <code>case</code> statement.</p>",
      "members": {
        "branchCoveragePercentage": {
          "documentation": "<p>The percentage of branches that are covered by your tests.</p>",
          "shape": "Percentage"
        },
        "branchesCovered": {
          "documentation": "<p>The number of conditional branches that are covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "branchesMissed": {
          "documentation": "<p>The number of conditional branches that are not covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "lineCoveragePercentage": {
          "documentation": "<p>The percentage of lines that are covered by your tests.</p>",
          "shape": "Percentage"
        },
        "linesCovered": {
          "documentation": "<p>The number of lines that are covered by your tests.</p>",
          "shape": "NonNegativeInt"
        },
        "linesMissed": {
          "documentation": "<p>The number of lines that are not covered by your tests.</p>",
          "shape": "NonNegativeInt"
        }
      },
      "type": "structure"
    },
    "CodeCoverages": {
      "member": {
        "shape": "CodeCoverage"
      },
      "type": "list"
    },
    "ComputeType": {
      "enum": [
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE",
        "BUILD_GENERAL1_2XLARGE"
      ],
      "type": "string"
    },
    "ComputeTypesAllowed": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "CreateProjectInput": {
      "members": {
        "artifacts": {
          "documentation": "<p>Information about the build output artifacts for the build project.</p>",
          "shape": "ProjectArtifacts"
        },
        "badgeEnabled": {
          "documentation": "<p>Set this to true to generate a publicly accessible URL for your project's build badge.</p>",
          "shape": "WrapperBoolean"
        },
        "buildBatchConfig": {
          "documentation": "<p>A <a>ProjectBuildBatchConfig</a> object that defines the batch build options for the project.</p>",
          "shape": "ProjectBuildBatchConfig"
        },
        "cache": {
          "documentation": "<p>Stores recently used information so that it can be quickly accessed at a later time.</p>",
          "shape": "ProjectCache"
        },
        "concurrentBuildLimit": {
          "documentation": "<p>The maximum number of concurrent builds that are allowed for this project.</p> <p>New builds are only started if the current number of builds is less than or equal to this limit. If the current build count meets this limit, new builds are throttled and are not run.</p>",
          "shape": "WrapperInt"
        },
        "description": {
          "documentation": "<p>A description that makes the build project easy to identify.</p>",
          "shape": "ProjectDescription"
        },
        "encryptionKey": {
          "documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p>You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>). </p>",
          "shape": "NonEmptyString"
        },
        "environment": {
          "documentation": "<p>Information about the build environment for the build project.</p>",
          "shape": "ProjectEnvironment"
        },
        "fileSystemLocations": {
          "documentation": "<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "logsConfig": {
          "documentation": "<p>Information about logs for the build project. These can be logs in CloudWatch Logs, logs uploaded to a specified S3 bucket, or both. </p>",
          "shape": "LogsConfig"
        },
        "name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "ProjectName"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p>The number of minutes a build is allowed to be queued before it times out. </p>",
          "shape": "TimeOut"
        },
        "secondaryArtifacts": {
          "documentation": "<p>An array of <code>ProjectArtifacts</code> objects. </p>",
          "shape": "ProjectArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p>An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take precedence over these <code>secondarySourceVersions</code> (at the project level). </p>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p>An array of <code>ProjectSource</code> objects. </p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The ARN of the IAM role that enables CodeBuild to interact with dependent Amazon Web Services services on behalf of the Amazon Web Services account.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "documentation": "<p>Information about the build input source code for the build project.</p>",
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p>A version of the build input to be built for this project. If not specified, the latest version is used. If specified, it must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p>If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level). </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>CodeBuild User Guide</i>. </p>",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>A list of tag key and value pairs associated with this build project.</p> <p>These tags are available for use by Amazon Web Services services that support CodeBuild build project tags.</p>",
          "shape": "TagList"
        },
        "timeoutInMinutes": {
          "documentation": "<p>How long, in minutes, from 5 to 480 (8 hours), for CodeBuild to wait before it times out any build that has not been marked as completed. The default is 60 minutes.</p>",
          "shape": "TimeOut"
        },
        "vpcConfig": {
          "documentation": "<p>VpcConfig enables CodeBuild to access resources in an Amazon VPC.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "name",
        "source",
        "artifacts",
        "environment",
        "serviceRole"
      ],
      "type": "structure"
    },
    "CreateProjectOutput": {
      "members": {
        "project": {
          "documentation": "<p>Information about the build project that was created.</p>",
          "shape": "Project"
        }
      },
      "type": "structure"
    },
    "CreateReportGroupInput": {
      "members": {
        "exportConfig": {
          "documentation": "<p> A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported. </p>",
          "shape": "ReportExportConfig"
        },
        "name": {
          "documentation": "<p> The name of the report group. </p>",
          "shape": "ReportGroupName"
        },
        "tags": {
          "documentation": "<p> A list of tag key and value pairs associated with this report group. </p> <p>These tags are available for use by Amazon Web Services services that support CodeBuild report group tags.</p>",
          "shape": "TagList"
        },
        "type": {
          "documentation": "<p> The type of report group. </p>",
          "shape": "ReportType"
        }
      },
      "required": [
        "name",
        "type",
        "exportConfig"
      ],
      "type": "structure"
    },
    "CreateReportGroupOutput": {
      "members": {
        "reportGroup": {
          "documentation": "<p> Information about the report group that was created. </p>",
          "shape": "ReportGroup"
        }
      },
      "type": "structure"
    },
    "CreateWebhookInput": {
      "members": {
        "branchFilter": {
          "documentation": "<p>A regular expression used to determine which repository branches are built when a webhook is triggered. If the name of a branch matches the regular expression, then it is built. If <code>branchFilter</code> is empty, then all branches are built.</p> <note> <p>It is recommended that you use <code>filterGroups</code> instead of <code>branchFilter</code>. </p> </note>",
          "shape": "String"
        },
        "buildType": {
          "documentation": "<p>Specifies the type of build this webhook will trigger.</p>",
          "shape": "WebhookBuildType"
        },
        "filterGroups": {
          "documentation": "<p>An array of arrays of <code>WebhookFilter</code> objects used to determine which webhooks are triggered. At least one <code>WebhookFilter</code> in the array must specify <code>EVENT</code> as its <code>type</code>. </p> <p>For a build to be triggered, at least one filter group in the <code>filterGroups</code> array must pass. For a filter group to pass, each of its filters must pass. </p>",
          "shape": "FilterGroups"
        },
        "projectName": {
          "documentation": "<p>The name of the CodeBuild project.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "CreateWebhookOutput": {
      "members": {
        "webhook": {
          "documentation": "<p>Information about a webhook that connects repository events to a build project in CodeBuild.</p>",
          "shape": "Webhook"
        }
      },
      "type": "structure"
    },
    "CredentialProviderType": {
      "enum": [
        "SECRETS_MANAGER"
      ],
      "type": "string"
    },
    "DebugSession": {
      "documentation": "<p>Contains information about the debug session for a build. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/session-manager.html\">Viewing a running build in Session Manager</a>.</p>",
      "members": {
        "sessionEnabled": {
          "documentation": "<p>Specifies if session debugging is enabled for this build.</p>",
          "shape": "WrapperBoolean"
        },
        "sessionTarget": {
          "documentation": "<p>Contains the identifier of the Session Manager session used for the build. To work with the paused build, you open this session to examine, control, and resume the build.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteBuildBatchInput": {
      "members": {
        "id": {
          "documentation": "<p>The identifier of the batch build to delete.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteBuildBatchOutput": {
      "members": {
        "buildsDeleted": {
          "documentation": "<p>An array of strings that contain the identifiers of the builds that were deleted.</p>",
          "shape": "BuildIds"
        },
        "buildsNotDeleted": {
          "documentation": "<p>An array of <code>BuildNotDeleted</code> objects that specify the builds that could not be deleted.</p>",
          "shape": "BuildsNotDeleted"
        },
        "statusCode": {
          "documentation": "<p>The status code.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteProjectInput": {
      "members": {
        "name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteProjectOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteReportGroupInput": {
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the report group to delete. </p>",
          "shape": "NonEmptyString"
        },
        "deleteReports": {
          "documentation": "<p>If <code>true</code>, deletes any reports that belong to a report group before deleting the report group. </p> <p>If <code>false</code>, you must delete any reports in the report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_ListReportsForReportGroup.html\">ListReportsForReportGroup</a> to get the reports in a report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_DeleteReport.html\">DeleteReport</a> to delete the reports. If you call <code>DeleteReportGroup</code> for a report group that contains one or more reports, an exception is thrown. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteReportGroupOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteReportInput": {
      "members": {
        "arn": {
          "documentation": "<p> The ARN of the report to delete. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteReportOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteResourcePolicyInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The ARN of the resource that is associated with the resource policy. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteSourceCredentialsInput": {
      "members": {
        "arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the token.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteSourceCredentialsOutput": {
      "members": {
        "arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the token. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteWebhookInput": {
      "members": {
        "projectName": {
          "documentation": "<p>The name of the CodeBuild project.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "DeleteWebhookOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeCodeCoveragesInput": {
      "members": {
        "maxLineCoveragePercentage": {
          "documentation": "<p>The maximum line coverage percentage to report.</p>",
          "shape": "Percentage"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "PageSize"
        },
        "minLineCoveragePercentage": {
          "documentation": "<p>The minimum line coverage percentage to report.</p>",
          "shape": "Percentage"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous call to <code>DescribeCodeCoverages</code>. This specifies the next item to return. To return the beginning of the list, exclude this parameter.</p>",
          "shape": "String"
        },
        "reportArn": {
          "documentation": "<p> The ARN of the report for which test cases are returned. </p>",
          "shape": "NonEmptyString"
        },
        "sortBy": {
          "documentation": "<p>Specifies how the results are sorted. Possible values are:</p> <dl> <dt>FILE_PATH</dt> <dd> <p>The results are sorted by file path.</p> </dd> <dt>LINE_COVERAGE_PERCENTAGE</dt> <dd> <p>The results are sorted by the percentage of lines that are covered.</p> </dd> </dl>",
          "shape": "ReportCodeCoverageSortByType"
        },
        "sortOrder": {
          "documentation": "<p>Specifies if the results are sorted in ascending or descending order.</p>",
          "shape": "SortOrderType"
        }
      },
      "required": [
        "reportArn"
      ],
      "type": "structure"
    },
    "DescribeCodeCoveragesOutput": {
      "members": {
        "codeCoverages": {
          "documentation": "<p>An array of <code>CodeCoverage</code> objects that contain the results.</p>",
          "shape": "CodeCoverages"
        },
        "nextToken": {
          "documentation": "<p>If there are more items to return, this contains a token that is passed to a subsequent call to <code>DescribeCodeCoverages</code> to retrieve the next set of items.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeTestCasesInput": {
      "members": {
        "filter": {
          "documentation": "<p> A <code>TestCaseFilter</code> object used to filter the returned reports. </p>",
          "shape": "TestCaseFilter"
        },
        "maxResults": {
          "documentation": "<p> The maximum number of paginated test cases returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>TestCase</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reportArn": {
          "documentation": "<p> The ARN of the report for which test cases are returned. </p>",
          "shape": "String"
        }
      },
      "required": [
        "reportArn"
      ],
      "type": "structure"
    },
    "DescribeTestCasesOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "testCases": {
          "documentation": "<p> The returned list of test cases. </p>",
          "shape": "TestCases"
        }
      },
      "type": "structure"
    },
    "EnvironmentImage": {
      "documentation": "<p>Information about a Docker image that is managed by CodeBuild.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the Docker image.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the Docker image.</p>",
          "shape": "String"
        },
        "versions": {
          "documentation": "<p>A list of environment image versions.</p>",
          "shape": "ImageVersions"
        }
      },
      "type": "structure"
    },
    "EnvironmentImages": {
      "member": {
        "shape": "EnvironmentImage"
      },
      "type": "list"
    },
    "EnvironmentLanguage": {
      "documentation": "<p>A set of Docker images that are related by programming language and are managed by CodeBuild.</p>",
      "members": {
        "images": {
          "documentation": "<p>The list of Docker images that are related by the specified programming language.</p>",
          "shape": "EnvironmentImages"
        },
        "language": {
          "documentation": "<p>The programming language for the Docker images.</p>",
          "shape": "LanguageType"
        }
      },
      "type": "structure"
    },
    "EnvironmentLanguages": {
      "member": {
        "shape": "EnvironmentLanguage"
      },
      "type": "list"
    },
    "EnvironmentPlatform": {
      "documentation": "<p>A set of Docker images that are related by platform and are managed by CodeBuild.</p>",
      "members": {
        "languages": {
          "documentation": "<p>The list of programming languages that are available for the specified platform.</p>",
          "shape": "EnvironmentLanguages"
        },
        "platform": {
          "documentation": "<p>The platform's name.</p>",
          "shape": "PlatformType"
        }
      },
      "type": "structure"
    },
    "EnvironmentPlatforms": {
      "member": {
        "shape": "EnvironmentPlatform"
      },
      "type": "list"
    },
    "EnvironmentType": {
      "enum": [
        "WINDOWS_CONTAINER",
        "LINUX_CONTAINER",
        "LINUX_GPU_CONTAINER",
        "ARM_CONTAINER",
        "WINDOWS_SERVER_2019_CONTAINER"
      ],
      "type": "string"
    },
    "EnvironmentVariable": {
      "documentation": "<p>Information about an environment variable for a build project or a build.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name or key of the environment variable.</p>",
          "shape": "NonEmptyString"
        },
        "type": {
          "documentation": "<p>The type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>: An environment variable stored in Systems Manager Parameter Store. To learn how to specify a parameter store environment variable, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#build-spec.env.parameter-store\">env/parameter-store</a> in the <i>CodeBuild User Guide</i>.</p> </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plain text format. This is the default value.</p> </li> <li> <p> <code>SECRETS_MANAGER</code>: An environment variable stored in Secrets Manager. To learn how to specify a secrets manager environment variable, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-spec-ref.html#build-spec.env.secrets-manager\">env/secrets-manager</a> in the <i>CodeBuild User Guide</i>.</p> </li> </ul>",
          "shape": "EnvironmentVariableType"
        },
        "value": {
          "documentation": "<p>The value of the environment variable.</p> <important> <p>We strongly discourage the use of <code>PLAINTEXT</code> environment variables to store sensitive values, especially Amazon Web Services secret key IDs and secret access keys. <code>PLAINTEXT</code> environment variables can be displayed in plain text using the CodeBuild console and the CLI. For sensitive values, we recommend you use an environment variable of type <code>PARAMETER_STORE</code> or <code>SECRETS_MANAGER</code>. </p> </important>",
          "shape": "String"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "EnvironmentVariableType": {
      "enum": [
        "PLAINTEXT",
        "PARAMETER_STORE",
        "SECRETS_MANAGER"
      ],
      "type": "string"
    },
    "EnvironmentVariables": {
      "member": {
        "shape": "EnvironmentVariable"
      },
      "type": "list"
    },
    "ExportedEnvironmentVariable": {
      "documentation": "<p>Contains information about an exported environment variable. </p> <p>Exported environment variables are used in conjunction with CodePipeline to export environment variables from the current build stage to subsequent stages in the pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/actions-variables.html\">Working with variables</a> in the <i>CodePipeline User Guide</i>.</p> <note> <p> During a build, the value of a variable is available starting with the <code>install</code> phase. It can be updated between the start of the <code>install</code> phase and the end of the <code>post_build</code> phase. After the <code>post_build</code> phase ends, the value of exported variables cannot change.</p> </note>",
      "members": {
        "name": {
          "documentation": "<p>The name of the exported environment variable.</p>",
          "shape": "NonEmptyString"
        },
        "value": {
          "documentation": "<p>The value assigned to the exported environment variable.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ExportedEnvironmentVariables": {
      "member": {
        "shape": "ExportedEnvironmentVariable"
      },
      "type": "list"
    },
    "FileSystemType": {
      "enum": [
        "EFS"
      ],
      "type": "string"
    },
    "FilterGroup": {
      "member": {
        "shape": "WebhookFilter"
      },
      "type": "list"
    },
    "FilterGroups": {
      "member": {
        "shape": "FilterGroup"
      },
      "type": "list"
    },
    "GetReportGroupTrendInput": {
      "members": {
        "numOfReports": {
          "documentation": "<p>The number of reports to analyze. This operation always retrieves the most recent reports.</p> <p>If this parameter is omitted, the most recent 100 reports are analyzed.</p>",
          "shape": "PageSize"
        },
        "reportGroupArn": {
          "documentation": "<p>The ARN of the report group that contains the reports to analyze.</p>",
          "shape": "NonEmptyString"
        },
        "trendField": {
          "documentation": "<p>The test report value to accumulate. This must be one of the following values:</p> <dl> <dt>Test reports:</dt> <dd> <dl> <dt>DURATION</dt> <dd> <p>Accumulate the test run times for the specified reports.</p> </dd> <dt>PASS_RATE</dt> <dd> <p>Accumulate the percentage of tests that passed for the specified test reports.</p> </dd> <dt>TOTAL</dt> <dd> <p>Accumulate the total number of tests for the specified test reports.</p> </dd> </dl> </dd> </dl> <dl> <dt>Code coverage reports:</dt> <dd> <dl> <dt>BRANCH_COVERAGE</dt> <dd> <p>Accumulate the branch coverage percentages for the specified test reports.</p> </dd> <dt>BRANCHES_COVERED</dt> <dd> <p>Accumulate the branches covered values for the specified test reports.</p> </dd> <dt>BRANCHES_MISSED</dt> <dd> <p>Accumulate the branches missed values for the specified test reports.</p> </dd> <dt>LINE_COVERAGE</dt> <dd> <p>Accumulate the line coverage percentages for the specified test reports.</p> </dd> <dt>LINES_COVERED</dt> <dd> <p>Accumulate the lines covered values for the specified test reports.</p> </dd> <dt>LINES_MISSED</dt> <dd> <p>Accumulate the lines not covered values for the specified test reports.</p> </dd> </dl> </dd> </dl>",
          "shape": "ReportGroupTrendFieldType"
        }
      },
      "required": [
        "reportGroupArn",
        "trendField"
      ],
      "type": "structure"
    },
    "GetReportGroupTrendOutput": {
      "members": {
        "rawData": {
          "documentation": "<p>An array that contains the raw data for each report.</p>",
          "shape": "ReportGroupTrendRawDataList"
        },
        "stats": {
          "documentation": "<p>Contains the accumulated trend data.</p>",
          "shape": "ReportGroupTrendStats"
        }
      },
      "type": "structure"
    },
    "GetResourcePolicyInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The ARN of the resource that is associated with the resource policy. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetResourcePolicyOutput": {
      "members": {
        "policy": {
          "documentation": "<p> The resource policy for the resource identified by the input ARN parameter. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GitCloneDepth": {
[...]
