{
  "documentation": "<p><fullname>Amazon Web Services Support App in Slack</fullname> <p>You can use the Amazon Web Services Support App in Slack API to manage your support cases in Slack for your Amazon Web Services account. After you configure your Slack workspace and channel with the Amazon Web Services Support App, you can perform the following tasks directly in your Slack channel:</p> <ul> <li> <p>Create, search, update, and resolve your support cases</p> </li> <li> <p>Request service quota increases for your account</p> </li> <li> <p>Invite Amazon Web Services Support agents to your channel so that you can chat directly about your support cases</p> </li> </ul> <p>For more information about how to perform these actions in Slack, see the following documentation in the <i>Amazon Web Services Support User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/aws-support-app-for-slack.html\">Amazon Web Services Support App in Slack</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/joining-a-live-chat-session.html\">Joining a live chat session with Amazon Web Services Support</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/service-quota-increase.html\">Requesting service quota increases</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-commands.html\">Amazon Web Services Support App commands in Slack</a> </p> </li> </ul> <p>You can also use the Amazon Web Services Management Console instead of the Amazon Web Services Support App API to manage your Slack configurations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/authorize-slack-workspace.html\">Authorize a Slack workspace to enable the Amazon Web Services Support App</a>.</p> <note> <ul> <li> <p>You must have a Business or Enterprise Support plan to use the Amazon Web Services Support App API. </p> </li> <li> <p>For more information about the Amazon Web Services Support App endpoints, see the <a href=\"https://docs.aws.amazon.com/general/latest/gr/awssupport.html#awssupport_app_region\">Amazon Web Services Support App in Slack endpoints</a> in the <i>Amazon Web Services General Reference</i>.</p> </li> </ul> </note></p>",
  "metadata": {
    "apiVersion": "2021-08-20",
    "endpointPrefix": "supportapp",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "SupportApp",
    "serviceFullName": "AWS Support App",
    "serviceId": "Support App",
    "signatureVersion": "v4",
    "signingName": "supportapp",
    "uid": "support-app-2021-08-20"
  },
  "operations": {
    "CreateSlackChannelConfiguration": {
      "documentation": "<p>Creates a Slack channel configuration for your Amazon Web Services account.</p> <note> <ul> <li> <p>You can add up to 5 Slack workspaces for your account.</p> </li> <li> <p>You can add up to 20 Slack channels for your account.</p> </li> </ul> </note> <p>A Slack channel can have up to 100 Amazon Web Services accounts. This means that only 100 accounts can add the same Slack channel to the Amazon Web Services Support App. We recommend that you only add the accounts that you need to manage support cases for your organization. This can reduce the notifications about case updates that you receive in the Slack channel.</p> <note> <p>We recommend that you choose a private Slack channel so that only members in that channel have read and write access to your support cases. Anyone in your Slack channel can create, update, or resolve support cases for your account. Users require an invitation to join private channels. </p> </note>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/create-slack-channel-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSlackChannelConfigurationRequest"
      },
      "name": "CreateSlackChannelConfiguration",
      "output": {
        "shape": "CreateSlackChannelConfigurationResult"
      }
    },
    "DeleteAccountAlias": {
      "documentation": "<p>Deletes an alias for an Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/delete-account-alias",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAccountAliasRequest"
      },
      "name": "DeleteAccountAlias",
      "output": {
        "shape": "DeleteAccountAliasResult"
      }
    },
    "DeleteSlackChannelConfiguration": {
      "documentation": "<p>Deletes a Slack channel configuration from your Amazon Web Services account. This operation doesn't delete your Slack channel.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/delete-slack-channel-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSlackChannelConfigurationRequest"
      },
      "name": "DeleteSlackChannelConfiguration",
      "output": {
        "shape": "DeleteSlackChannelConfigurationResult"
      }
    },
    "DeleteSlackWorkspaceConfiguration": {
      "documentation": "<p>Deletes a Slack workspace configuration from your Amazon Web Services account. This operation doesn't delete your Slack workspace.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/delete-slack-workspace-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSlackWorkspaceConfigurationRequest"
      },
      "name": "DeleteSlackWorkspaceConfiguration",
      "output": {
        "shape": "DeleteSlackWorkspaceConfigurationResult"
      }
    },
    "GetAccountAlias": {
      "documentation": "<p>Retrieves the alias from an Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/get-account-alias",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAccountAliasRequest"
      },
      "name": "GetAccountAlias",
      "output": {
        "shape": "GetAccountAliasResult"
      }
    },
    "ListSlackChannelConfigurations": {
      "documentation": "<p>Lists the Slack channel configurations for an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/list-slack-channel-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSlackChannelConfigurationsRequest"
      },
      "name": "ListSlackChannelConfigurations",
      "output": {
        "shape": "ListSlackChannelConfigurationsResult"
      }
    },
    "ListSlackWorkspaceConfigurations": {
      "documentation": "<p>Lists the Slack workspace configurations for an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/list-slack-workspace-configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSlackWorkspaceConfigurationsRequest"
      },
      "name": "ListSlackWorkspaceConfigurations",
      "output": {
        "shape": "ListSlackWorkspaceConfigurationsResult"
      }
    },
    "PutAccountAlias": {
      "documentation": "<p>Creates or updates an individual alias for each Amazon Web Services account ID. The alias appears in the Amazon Web Services Support App page of the Amazon Web Services Support Center. The alias also appears in Slack messages from the Amazon Web Services Support App.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/put-account-alias",
        "responseCode": 200
      },
      "input": {
        "shape": "PutAccountAliasRequest"
      },
      "name": "PutAccountAlias",
      "output": {
        "shape": "PutAccountAliasResult"
      }
    },
    "RegisterSlackWorkspaceForOrganization": {
      "documentation": "<p>Registers a Slack workspace for your Amazon Web Services account. To call this API, your account must be part of an organization in Organizations.</p> <p>If you're the <i>management account</i> and you want to register Slack workspaces for your organization, you must complete the following tasks:</p> <ol> <li> <p>Sign in to the <a href=\"https://console.aws.amazon.com/support/app\">Amazon Web Services Support Center</a> and authorize the Slack workspaces where you want your organization to have access to. See <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/authorize-slack-workspace.html\">Authorize a Slack workspace</a> in the <i>Amazon Web Services Support User Guide</i>.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API to authorize each Slack workspace for the organization.</p> </li> </ol> <p>After the management account authorizes the Slack workspace, member accounts can call this API to authorize the same Slack workspace for their individual accounts. Member accounts don't need to authorize the Slack workspace manually through the <a href=\"https://console.aws.amazon.com/support/app\">Amazon Web Services Support Center</a>.</p> <p>To use the Amazon Web Services Support App, each account must then complete the following tasks:</p> <ul> <li> <p>Create an Identity and Access Management (IAM) role with the required permission. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a>.</p> </li> <li> <p>Configure a Slack channel to use the Amazon Web Services Support App for support cases for that account. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/add-your-slack-channel.html\">Configuring a Slack channel</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/register-slack-workspace-for-organization",
        "responseCode": 200
      },
      "input": {
        "shape": "RegisterSlackWorkspaceForOrganizationRequest"
      },
      "name": "RegisterSlackWorkspaceForOrganization",
      "output": {
        "shape": "RegisterSlackWorkspaceForOrganizationResult"
      }
    },
    "UpdateSlackChannelConfiguration": {
      "documentation": "<p>Updates the configuration for a Slack channel, such as case update notifications.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/control/update-slack-channel-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSlackChannelConfigurationRequest"
      },
      "name": "UpdateSlackChannelConfiguration",
      "output": {
        "shape": "UpdateSlackChannelConfigurationResult"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You don't have sufficient permission to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "AccountType": {
      "enum": [
        "management",
        "member"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>Your request has a conflict. For example, you might receive this error if you try the following:</p> <ul> <li> <p>Add, update, or delete a Slack channel configuration before you add a Slack workspace to your Amazon Web Services account.</p> </li> <li> <p>Add a Slack channel configuration that already exists in your Amazon Web Services account.</p> </li> <li> <p>Delete a Slack channel configuration for a live chat channel.</p> </li> <li> <p>Delete a Slack workspace from your Amazon Web Services account that has an active live chat channel.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from an Amazon Web Services account that doesn't belong to an organization.</p> </li> <li> <p>Call the <code>RegisterSlackWorkspaceForOrganization</code> API from a member account, but the management account hasn't registered that workspace yet for the organization.</p> </li> </ul>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CreateSlackChannelConfigurationRequest": {
      "members": {
        "channelId": {
          "documentation": "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "shape": "channelId"
        },
        "channelName": {
          "documentation": "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
          "shape": "channelName"
        },
        "channelRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "shape": "roleArn"
        },
        "notifyOnAddCorrespondenceToCase": {
          "documentation": "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "shape": "booleanValue"
        },
        "notifyOnCaseSeverity": {
          "documentation": "<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, you must specify <code>true</code> for at least one of the following parameters:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, the following parameters must be null or <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, they default to <code>false</code>.</p> </note>",
          "shape": "NotificationSeverityLevel"
        },
        "notifyOnCreateOrReopenCase": {
          "documentation": "<p>Whether you want to get notified when a support case is created or reopened.</p>",
          "shape": "booleanValue"
        },
        "notifyOnResolveCase": {
          "documentation": "<p>Whether you want to get notified when a support case is resolved.</p>",
          "shape": "booleanValue"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "channelId",
        "channelRoleArn",
        "notifyOnCaseSeverity",
        "teamId"
      ],
      "type": "structure"
    },
    "CreateSlackChannelConfigurationResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteAccountAliasRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteAccountAliasResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteSlackChannelConfigurationRequest": {
      "members": {
        "channelId": {
          "documentation": "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "shape": "channelId"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "channelId",
        "teamId"
      ],
      "type": "structure"
    },
    "DeleteSlackChannelConfigurationResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteSlackWorkspaceConfigurationRequest": {
      "members": {
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "teamId"
      ],
      "type": "structure"
    },
    "DeleteSlackWorkspaceConfigurationResult": {
      "members": {},
      "type": "structure"
    },
    "GetAccountAliasRequest": {
      "members": {},
      "type": "structure"
    },
    "GetAccountAliasResult": {
      "members": {
        "accountAlias": {
          "documentation": "<p>An alias or short name for an Amazon Web Services account.</p>",
          "shape": "awsAccountAlias"
        }
      },
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "<p>We can\u2019t process your request right now because of a server issue. Try again later.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListSlackChannelConfigurationsRequest": {
      "members": {
        "nextToken": {
          "documentation": "<p>If the results of a search are large, the API only returns a portion of the results and includes a <code>nextToken</code> pagination token in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When the API returns the last set of results, the response doesn't include a pagination token value.</p>",
          "shape": "paginationToken"
        }
      },
      "type": "structure"
    },
    "ListSlackChannelConfigurationsResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The point where pagination should resume when the response returns only partial results.</p>",
          "shape": "paginationToken"
        },
        "slackChannelConfigurations": {
          "documentation": "<p>The configurations for a Slack channel.</p>",
          "shape": "slackChannelConfigurationList"
        }
      },
      "required": [
        "slackChannelConfigurations"
      ],
      "type": "structure"
    },
    "ListSlackWorkspaceConfigurationsRequest": {
      "members": {
        "nextToken": {
          "documentation": "<p>If the results of a search are large, the API only returns a portion of the results and includes a <code>nextToken</code> pagination token in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When the API returns the last set of results, the response doesn't include a pagination token value.</p>",
          "shape": "paginationToken"
        }
      },
      "type": "structure"
    },
    "ListSlackWorkspaceConfigurationsResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The point where pagination should resume when the response returns only partial results.</p>",
          "shape": "paginationToken"
        },
        "slackWorkspaceConfigurations": {
          "documentation": "<p>The configurations for a Slack workspace.</p>",
          "shape": "SlackWorkspaceConfigurationList"
        }
      },
      "type": "structure"
    },
    "NotificationSeverityLevel": {
      "enum": [
        "none",
        "all",
        "high"
      ],
      "type": "string"
    },
    "PutAccountAliasRequest": {
      "members": {
        "accountAlias": {
          "documentation": "<p>An alias or short name for an Amazon Web Services account.</p>",
          "shape": "awsAccountAlias"
        }
      },
      "required": [
        "accountAlias"
      ],
      "type": "structure"
    },
    "PutAccountAliasResult": {
      "members": {},
      "type": "structure"
    },
    "RegisterSlackWorkspaceForOrganizationRequest": {
      "members": {
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>. Specify the Slack workspace that you want to use for your organization.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "teamId"
      ],
      "type": "structure"
    },
    "RegisterSlackWorkspaceForOrganizationResult": {
      "members": {
        "accountType": {
          "documentation": "<p>Whether the Amazon Web Services account is a management or member account that's part of an organization in Organizations.</p>",
          "shape": "AccountType"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        },
        "teamName": {
          "documentation": "<p>The name of the Slack workspace.</p>",
          "shape": "teamName"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource is missing or doesn't exist, such as an account alias, Slack channel configuration, or Slack workspace configuration.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Your Service Quotas request exceeds the quota for the service. For example, your Service Quotas request to Amazon Web Services Support App might exceed the maximum number of workspaces or channels per account, or the maximum number of accounts per Slack channel.</p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "SlackChannelConfiguration": {
      "documentation": "<p>The configuration for a Slack channel that you added for your Amazon Web Services account.</p>",
      "members": {
        "channelId": {
          "documentation": "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "shape": "channelId"
        },
        "channelName": {
          "documentation": "<p>The name of the Slack channel that you configured with the Amazon Web Services Support App for your Amazon Web Services account.</p>",
          "shape": "channelName"
        },
        "channelRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "shape": "roleArn"
        },
        "notifyOnAddCorrespondenceToCase": {
          "documentation": "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "shape": "booleanValue"
        },
        "notifyOnCaseSeverity": {
          "documentation": "<p>The case severity for a support case that you want to receive notifications.</p>",
          "shape": "NotificationSeverityLevel"
        },
        "notifyOnCreateOrReopenCase": {
          "documentation": "<p>Whether you want to get notified when a support case is created or reopened.</p>",
          "shape": "booleanValue"
        },
        "notifyOnResolveCase": {
          "documentation": "<p>Whether you want to get notified when a support case is resolved.</p>",
          "shape": "booleanValue"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "channelId",
        "teamId"
      ],
      "type": "structure"
    },
    "SlackWorkspaceConfiguration": {
      "documentation": "<p>The configuration for a Slack workspace that you added to an Amazon Web Services account.</p>",
      "members": {
        "allowOrganizationMemberAccount": {
          "documentation": "<p>Whether to allow member accounts to authorize Slack workspaces. Member accounts must be part of an organization in Organizations.</p>",
          "shape": "booleanValue"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        },
        "teamName": {
          "documentation": "<p>The name of the Slack workspace.</p>",
          "shape": "teamName"
        }
      },
      "required": [
        "teamId"
      ],
      "type": "structure"
    },
    "SlackWorkspaceConfigurationList": {
      "member": {
        "shape": "SlackWorkspaceConfiguration"
      },
      "type": "list"
    },
    "UpdateSlackChannelConfigurationRequest": {
      "members": {
        "channelId": {
          "documentation": "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "shape": "channelId"
        },
        "channelName": {
          "documentation": "<p>The Slack channel name that you want to update.</p>",
          "shape": "channelName"
        },
        "channelRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "shape": "roleArn"
        },
        "notifyOnAddCorrespondenceToCase": {
          "documentation": "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "shape": "booleanValue"
        },
        "notifyOnCaseSeverity": {
          "documentation": "<p>The case severity for a support case that you want to receive notifications.</p> <p>If you specify <code>high</code> or <code>all</code>, at least one of the following parameters must be <code>true</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <p>If you specify <code>none</code>, any of the following parameters that you specify in your request must be <code>false</code>:</p> <ul> <li> <p> <code>notifyOnAddCorrespondenceToCase</code> </p> </li> <li> <p> <code>notifyOnCreateOrReopenCase</code> </p> </li> <li> <p> <code>notifyOnResolveCase</code> </p> </li> </ul> <note> <p>If you don't specify these parameters in your request, the Amazon Web Services Support App uses the current values by default.</p> </note>",
          "shape": "NotificationSeverityLevel"
        },
        "notifyOnCreateOrReopenCase": {
          "documentation": "<p>Whether you want to get notified when a support case is created or reopened.</p>",
          "shape": "booleanValue"
        },
        "notifyOnResolveCase": {
          "documentation": "<p>Whether you want to get notified when a support case is resolved.</p>",
          "shape": "booleanValue"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "required": [
        "channelId",
        "teamId"
      ],
      "type": "structure"
    },
    "UpdateSlackChannelConfigurationResult": {
      "members": {
        "channelId": {
          "documentation": "<p>The channel ID in Slack. This ID identifies a channel within a Slack workspace.</p>",
          "shape": "channelId"
        },
        "channelName": {
          "documentation": "<p>The name of the Slack channel that you configure for the Amazon Web Services Support App.</p>",
          "shape": "channelName"
        },
        "channelRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that you want to use to perform operations on Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/support-app-permissions.html\">Managing access to the Amazon Web Services Support App</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
          "shape": "roleArn"
        },
        "notifyOnAddCorrespondenceToCase": {
          "documentation": "<p>Whether you want to get notified when a support case has a new correspondence.</p>",
          "shape": "booleanValue"
        },
        "notifyOnCaseSeverity": {
          "documentation": "<p>The case severity for a support case that you want to receive notifications.</p>",
          "shape": "NotificationSeverityLevel"
        },
        "notifyOnCreateOrReopenCase": {
          "documentation": "<p>Whether you want to get notified when a support case is created or reopened.</p>",
          "shape": "booleanValue"
        },
        "notifyOnResolveCase": {
          "documentation": "<p>Whether you want to get notified when a support case is resolved.</p>",
          "shape": "booleanValue"
        },
        "teamId": {
          "documentation": "<p>The team ID in Slack. This ID uniquely identifies a Slack workspace, such as <code>T012ABCDEFG</code>.</p>",
          "shape": "teamId"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>Your request input doesn't meet the constraints that the Amazon Web Services Support App specifies.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "awsAccountAlias": {
      "max": 30,
      "min": 1,
      "pattern": "^[\\w\\- ]+$",
      "type": "string"
    },
    "booleanValue": {
      "box": true,
      "type": "boolean"
    },
    "channelId": {
      "max": 256,
      "min": 1,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "channelName": {
      "max": 256,
      "min": 1,
      "pattern": "^.+$",
      "type": "string"
    },
    "errorMessage": {
      "type": "string"
    },
    "paginationToken": {
      "max": 256,
      "min": 1,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "roleArn": {
      "max": 2048,
      "min": 31,
      "pattern": "^arn:aws:iam::[0-9]{12}:role/(.+)$",
      "type": "string"
    },
    "slackChannelConfigurationList": {
      "member": {
        "shape": "SlackChannelConfiguration"
      },
      "type": "list"
    },
    "teamId": {
      "max": 256,
      "min": 1,
      "pattern": "^\\S+$",
      "type": "string"
    },
    "teamName": {
      "max": 256,
      "min": 1,
      "pattern": "^.+$",
      "type": "string"
    }
  },
  "version": "2.0"
}
