{
  "documentation": "<p>AWS Elastic Disaster Recovery Service.</p>",
  "metadata": {
    "apiVersion": "2020-02-26",
    "endpointPrefix": "drs",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "drs",
    "serviceFullName": "Elastic Disaster Recovery Service",
    "serviceId": "drs",
    "signatureVersion": "v4",
    "signingName": "drs",
    "uid": "drs-2020-02-26"
  },
  "operations": {
    "CreateExtendedSourceServer": {
      "documentation": "<p>Create an extended source server in the target Account based on the source server in staging account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateExtendedSourceServer",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateExtendedSourceServerRequest"
      },
      "name": "CreateExtendedSourceServer",
      "output": {
        "shape": "CreateExtendedSourceServerResponse"
      }
    },
    "CreateReplicationConfigurationTemplate": {
      "documentation": "<p>Creates a new ReplicationConfigurationTemplate.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateReplicationConfigurationTemplate",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateReplicationConfigurationTemplateRequest"
      },
      "name": "CreateReplicationConfigurationTemplate",
      "output": {
        "shape": "ReplicationConfigurationTemplate"
      }
    },
    "DeleteJob": {
      "documentation": "<p>Deletes a single Job by ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteJob",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob",
      "output": {
        "shape": "DeleteJobResponse"
      }
    },
    "DeleteRecoveryInstance": {
      "documentation": "<p>Deletes a single Recovery Instance by ID. This deletes the Recovery Instance resource from Elastic Disaster Recovery. The Recovery Instance must be disconnected first in order to delete it.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteRecoveryInstance",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRecoveryInstanceRequest"
      },
      "name": "DeleteRecoveryInstance"
    },
    "DeleteReplicationConfigurationTemplate": {
      "documentation": "<p>Deletes a single Replication Configuration Template by ID</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteReplicationConfigurationTemplate",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReplicationConfigurationTemplateRequest"
      },
      "name": "DeleteReplicationConfigurationTemplate",
      "output": {
        "shape": "DeleteReplicationConfigurationTemplateResponse"
      }
    },
    "DeleteSourceServer": {
      "documentation": "<p>Deletes a single Source Server by ID. The Source Server must be disconnected first.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteSourceServer",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSourceServerRequest"
      },
      "name": "DeleteSourceServer",
      "output": {
        "shape": "DeleteSourceServerResponse"
      }
    },
    "DescribeJobLogItems": {
      "documentation": "<p>Retrieves a detailed Job log with pagination.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeJobLogItems",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeJobLogItemsRequest"
      },
      "name": "DescribeJobLogItems",
      "output": {
        "shape": "DescribeJobLogItemsResponse"
      }
    },
    "DescribeJobs": {
      "documentation": "<p>Returns a list of Jobs. Use the JobsID and fromDate and toDate filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are created by the StartRecovery, TerminateRecoveryInstances and StartFailbackLaunch APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeJobs",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeJobsRequest"
      },
      "name": "DescribeJobs",
      "output": {
        "shape": "DescribeJobsResponse"
      }
    },
    "DescribeRecoveryInstances": {
      "documentation": "<p>Lists all Recovery Instances or multiple Recovery Instances by ID.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeRecoveryInstances",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRecoveryInstancesRequest"
      },
      "name": "DescribeRecoveryInstances",
      "output": {
        "shape": "DescribeRecoveryInstancesResponse"
      }
    },
    "DescribeRecoverySnapshots": {
      "documentation": "<p>Lists all Recovery Snapshots for a single Source Server.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeRecoverySnapshots",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRecoverySnapshotsRequest"
      },
      "name": "DescribeRecoverySnapshots",
      "output": {
        "shape": "DescribeRecoverySnapshotsResponse"
      }
    },
    "DescribeReplicationConfigurationTemplates": {
      "documentation": "<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeReplicationConfigurationTemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReplicationConfigurationTemplatesRequest"
      },
      "name": "DescribeReplicationConfigurationTemplates",
      "output": {
        "shape": "DescribeReplicationConfigurationTemplatesResponse"
      }
    },
    "DescribeSourceServers": {
      "documentation": "<p>Lists all Source Servers or multiple Source Servers filtered by ID.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeSourceServers",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSourceServersRequest"
      },
      "name": "DescribeSourceServers",
      "output": {
        "shape": "DescribeSourceServersResponse"
      }
    },
    "DisconnectRecoveryInstance": {
      "documentation": "<p>Disconnect a Recovery Instance from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Recovery Instance will be terminated / deleted within 90 minutes. If the agent on the Recovery Instance has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the Recovery Instance will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DisconnectRecoveryInstance",
        "responseCode": 200
      },
      "input": {
        "shape": "DisconnectRecoveryInstanceRequest"
      },
      "name": "DisconnectRecoveryInstance"
    },
    "DisconnectSourceServer": {
      "documentation": "<p>Disconnects a specific Source Server from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Source Server will be terminated / deleted within 90 minutes. You cannot disconnect a Source Server if it has a Recovery Instance. If the agent on the Source Server has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DisconnectSourceServer",
        "responseCode": 200
      },
      "input": {
        "shape": "DisconnectSourceServerRequest"
      },
      "name": "DisconnectSourceServer",
      "output": {
        "shape": "SourceServer"
      }
    },
    "GetFailbackReplicationConfiguration": {
      "documentation": "<p>Lists all Failback ReplicationConfigurations, filtered by Recovery Instance ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetFailbackReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFailbackReplicationConfigurationRequest"
      },
      "name": "GetFailbackReplicationConfiguration",
      "output": {
        "shape": "GetFailbackReplicationConfigurationResponse"
      }
    },
    "GetLaunchConfiguration": {
      "documentation": "<p>Gets a LaunchConfiguration, filtered by Source Server IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetLaunchConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLaunchConfigurationRequest"
      },
      "name": "GetLaunchConfiguration",
      "output": {
        "shape": "LaunchConfiguration"
      }
    },
    "GetReplicationConfiguration": {
      "documentation": "<p>Gets a ReplicationConfiguration, filtered by Source Server ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReplicationConfigurationRequest"
      },
      "name": "GetReplicationConfiguration",
      "output": {
        "shape": "ReplicationConfiguration"
      }
    },
    "InitializeService": {
      "documentation": "<p>Initialize Elastic Disaster Recovery.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/InitializeService",
        "responseCode": 204
      },
      "input": {
        "shape": "InitializeServiceRequest"
      },
      "name": "InitializeService",
      "output": {
        "shape": "InitializeServiceResponse"
      }
    },
    "ListExtensibleSourceServers": {
      "documentation": "<p>Returns a list of source servers on a staging account that are extensible, which means that: a. The source server is not already extended into this Account. b. The source server on the Account we\u2019re reading from is not an extension of another source server. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListExtensibleSourceServers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListExtensibleSourceServersRequest"
      },
      "name": "ListExtensibleSourceServers",
      "output": {
        "shape": "ListExtensibleSourceServersResponse"
      }
    },
    "ListStagingAccounts": {
      "documentation": "<p>Returns an array of staging accounts for existing extended source servers.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/ListStagingAccounts",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStagingAccountsRequest"
      },
      "name": "ListStagingAccounts",
      "output": {
        "shape": "ListStagingAccountsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List all tags for your Elastic Disaster Recovery resources.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RetryDataReplication": {
      "documentation": "<p>Causes the data replication initiation sequence to begin immediately upon next Handshake for the specified Source Server ID, regardless of when the previous initiation started. This command will work only if the Source Server is stalled or is in a DISCONNECTED or STOPPED state.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/RetryDataReplication",
        "responseCode": 200
      },
      "input": {
        "shape": "RetryDataReplicationRequest"
      },
      "name": "RetryDataReplication",
      "output": {
        "shape": "SourceServer"
      }
    },
    "StartFailbackLaunch": {
      "documentation": "<p>Initiates a Job for launching the machine that is being failed back to from the specified Recovery Instance. This will run conversion on the failback client and will reboot your machine, thus completing the failback process.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/StartFailbackLaunch",
        "responseCode": 200
      },
      "input": {
        "shape": "StartFailbackLaunchRequest"
      },
      "name": "StartFailbackLaunch",
      "output": {
        "shape": "StartFailbackLaunchResponse"
      }
    },
    "StartRecovery": {
      "documentation": "<p>Launches Recovery Instances for the specified Source Servers. For each Source Server you may choose a point in time snapshot to launch from, or use an on demand snapshot.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/StartRecovery",
        "responseCode": 202
      },
      "input": {
        "shape": "StartRecoveryRequest"
      },
      "name": "StartRecovery",
      "output": {
        "shape": "StartRecoveryResponse"
      }
    },
    "StopFailback": {
      "documentation": "<p>Stops the failback process for a specified Recovery Instance. This changes the Failback State of the Recovery Instance back to FAILBACK_NOT_STARTED.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/StopFailback",
        "responseCode": 200
      },
      "input": {
        "shape": "StopFailbackRequest"
      },
      "name": "StopFailback"
    },
    "TagResource": {
      "documentation": "<p>Adds or overwrites only the specified tags for the specified Elastic Disaster Recovery resource or resources. When you specify an existing tag key, the value is overwritten with the new value. Each resource can have a maximum of 50 tags. Each tag consists of a key and optional value.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "TerminateRecoveryInstances": {
      "documentation": "<p>Initiates a Job for terminating the EC2 resources associated with the specified Recovery Instances, and then will delete the Recovery Instances from the Elastic Disaster Recovery service.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TerminateRecoveryInstances",
        "responseCode": 200
      },
      "input": {
        "shape": "TerminateRecoveryInstancesRequest"
      },
      "name": "TerminateRecoveryInstances",
      "output": {
        "shape": "TerminateRecoveryInstancesResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes the specified set of tags from the specified set of Elastic Disaster Recovery resources.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateFailbackReplicationConfiguration": {
      "documentation": "<p>Allows you to update the failback replication configuration of a Recovery Instance by ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateFailbackReplicationConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFailbackReplicationConfigurationRequest"
      },
      "name": "UpdateFailbackReplicationConfiguration"
    },
    "UpdateLaunchConfiguration": {
      "documentation": "<p>Updates a LaunchConfiguration by Source Server ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateLaunchConfiguration",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateLaunchConfigurationRequest"
      },
      "name": "UpdateLaunchConfiguration",
      "output": {
        "shape": "LaunchConfiguration"
      }
    },
    "UpdateReplicationConfiguration": {
      "documentation": "<p>Allows you to update a ReplicationConfiguration by Source Server ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateReplicationConfiguration",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateReplicationConfigurationRequest"
      },
      "name": "UpdateReplicationConfiguration",
      "output": {
        "shape": "ReplicationConfiguration"
      }
    },
    "UpdateReplicationConfigurationTemplate": {
      "documentation": "<p>Updates a ReplicationConfigurationTemplate by ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "UninitializedAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateReplicationConfigurationTemplate",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReplicationConfigurationTemplateRequest"
      },
      "name": "UpdateReplicationConfigurationTemplate",
      "output": {
        "shape": "ReplicationConfigurationTemplate"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 2048,
      "min": 20,
      "pattern": "^arn:.{16,2044}$",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "code": {
          "shape": "LargeBoundedString"
        },
        "message": {
          "shape": "LargeBoundedString"
        }
      },
      "type": "structure"
    },
    "Account": {
      "documentation": "<p>AWS account.</p>",
      "members": {
        "accountID": {
          "documentation": "<p>Account ID of AWS account.</p>",
          "shape": "AccountID"
        }
      },
      "type": "structure"
    },
    "AccountID": {
      "max": 12,
      "min": 12,
      "pattern": "[0-9]{12,}",
      "type": "string"
    },
    "AccountIDs": {
      "max": 200,
      "member": {
        "shape": "AccountID"
      },
      "min": 0,
      "type": "list"
    },
    "Accounts": {
      "max": 50,
      "member": {
        "shape": "Account"
      },
      "min": 0,
      "type": "list"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "BoundedString": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "CPU": {
      "documentation": "<p>Information about a server's CPU.</p>",
      "members": {
        "cores": {
          "documentation": "<p>The number of CPU cores.</p>",
          "shape": "PositiveInteger"
        },
        "modelName": {
          "documentation": "<p>The model name of the CPU.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "code": {
          "shape": "LargeBoundedString"
        },
        "message": {
          "shape": "LargeBoundedString"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "LargeBoundedString"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "LargeBoundedString"
        }
      },
      "type": "structure"
    },
    "ConversionMap": {
      "key": {
        "shape": "ebsSnapshot"
      },
      "type": "map",
      "value": {
        "shape": "ebsSnapshot"
      }
    },
    "ConversionProperties": {
      "documentation": "<p>Properties of a conversion job</p>",
      "members": {
        "dataTimestamp": {
          "documentation": "<p>The timestamp of when the snapshot being converted was taken</p>",
          "shape": "LargeBoundedString"
        },
        "forceUefi": {
          "documentation": "<p>Whether the volume being converted uses UEFI or not</p>",
          "shape": "Boolean"
        },
        "rootVolumeName": {
          "documentation": "<p>The root volume name of a conversion job</p>",
          "shape": "LargeBoundedString"
        },
        "volumeToConversionMap": {
          "documentation": "<p>A mapping between the volumes being converted and the converted snapshot ids</p>",
          "shape": "VolumeToConversionMap"
        },
        "volumeToVolumeSize": {
          "documentation": "<p>A mapping between the volumes and their sizes</p>",
          "shape": "VolumeToSizeMap"
        }
      },
      "type": "structure"
    },
    "Cpus": {
      "max": 256,
      "member": {
        "shape": "CPU"
      },
      "min": 0,
      "type": "list"
    },
    "CreateExtendedSourceServerRequest": {
      "members": {
        "sourceServerArn": {
          "documentation": "<p>This defines the ARN of the source server in staging Account based on which you want to create an extended source server.</p>",
          "shape": "SourceServerARN"
        },
        "tags": {
          "documentation": "<p>A list of tags associated with the extended source server.</p>",
          "shape": "TagsMap"
        }
      },
      "required": [
        "sourceServerArn"
      ],
      "type": "structure"
    },
    "CreateExtendedSourceServerResponse": {
      "members": {
        "sourceServer": {
          "documentation": "<p>Created extended source server.</p>",
          "shape": "SourceServer"
        }
      },
      "type": "structure"
    },
    "CreateReplicationConfigurationTemplateRequest": {
      "members": {
        "associateDefaultSecurityGroup": {
          "documentation": "<p>Whether to associate the default Elastic Disaster Recovery Security group with the Replication Configuration Template.</p>",
          "shape": "Boolean"
        },
        "bandwidthThrottling": {
          "documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Source Server in Mbps.</p>",
          "shape": "PositiveInteger"
        },
        "createPublicIP": {
          "documentation": "<p>Whether to create a Public IP for the Recovery Instance by default.</p>",
          "shape": "Boolean"
        },
        "dataPlaneRouting": {
          "documentation": "<p>The data plane routing mechanism that will be used for replication.</p>",
          "shape": "ReplicationConfigurationDataPlaneRouting"
        },
        "defaultLargeStagingDiskType": {
          "documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
          "shape": "ReplicationConfigurationDefaultLargeStagingDiskType"
        },
        "ebsEncryption": {
          "documentation": "<p>The type of EBS encryption to be used during replication.</p>",
          "shape": "ReplicationConfigurationEbsEncryption"
        },
        "ebsEncryptionKeyArn": {
          "documentation": "<p>The ARN of the EBS encryption key to be used during replication.</p>",
          "shape": "ARN"
        },
        "pitPolicy": {
          "documentation": "<p>The Point in time (PIT) policy to manage snapshots taken during replication.</p>",
          "shape": "PITPolicy"
        },
        "replicationServerInstanceType": {
          "documentation": "<p>The instance type to be used for the replication server.</p>",
          "shape": "EC2InstanceType"
        },
        "replicationServersSecurityGroupsIDs": {
          "documentation": "<p>The security group IDs that will be used by the replication server.</p>",
          "shape": "ReplicationServersSecurityGroupsIDs"
        },
        "stagingAreaSubnetId": {
          "documentation": "<p>The subnet to be used by the replication staging area.</p>",
          "shape": "SubnetID"
        },
        "stagingAreaTags": {
          "documentation": "<p>A set of tags to be associated with all resources created in the replication staging area: EC2 replication server, EBS volumes, EBS snapshots, etc.</p>",
          "shape": "TagsMap"
        },
        "tags": {
          "documentation": "<p>A set of tags to be associated with the Replication Configuration Template resource.</p>",
          "shape": "TagsMap"
        },
        "useDedicatedReplicationServer": {
          "documentation": "<p>Whether to use a dedicated Replication Server in the replication staging area.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "associateDefaultSecurityGroup",
        "bandwidthThrottling",
        "createPublicIP",
        "dataPlaneRouting",
        "defaultLargeStagingDiskType",
        "ebsEncryption",
        "pitPolicy",
        "replicationServerInstanceType",
        "replicationServersSecurityGroupsIDs",
        "stagingAreaSubnetId",
        "stagingAreaTags",
        "useDedicatedReplicationServer"
      ],
      "type": "structure"
    },
    "DataReplicationError": {
      "documentation": "<p>Error in data replication.</p>",
      "members": {
        "error": {
          "documentation": "<p>Error in data replication.</p>",
          "shape": "DataReplicationErrorString"
        },
        "rawError": {
          "documentation": "<p>Error in data replication.</p>",
          "shape": "LargeBoundedString"
        }
      },
      "type": "structure"
    },
    "DataReplicationErrorString": {
      "enum": [
        "AGENT_NOT_SEEN",
        "SNAPSHOTS_FAILURE",
        "NOT_CONVERGING",
        "UNSTABLE_NETWORK",
        "FAILED_TO_CREATE_SECURITY_GROUP",
        "FAILED_TO_LAUNCH_REPLICATION_SERVER",
        "FAILED_TO_BOOT_REPLICATION_SERVER",
        "FAILED_TO_AUTHENTICATE_WITH_SERVICE",
        "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE",
        "FAILED_TO_CREATE_STAGING_DISKS",
        "FAILED_TO_ATTACH_STAGING_DISKS",
        "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT",
        "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER",
        "FAILED_TO_START_DATA_TRANSFER"
      ],
      "type": "string"
    },
    "DataReplicationInfo": {
      "documentation": "<p>Information about Data Replication</p>",
      "members": {
        "dataReplicationError": {
          "documentation": "<p>Error in data replication.</p>",
          "shape": "DataReplicationError"
        },
        "dataReplicationInitiation": {
          "documentation": "<p>Information about whether the data replication has been initiated.</p>",
          "shape": "DataReplicationInitiation"
        },
        "dataReplicationState": {
          "documentation": "<p>The state of the data replication.</p>",
          "shape": "DataReplicationState"
        },
        "etaDateTime": {
          "documentation": "<p>An estimate of when the data replication will be completed.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "lagDuration": {
          "documentation": "<p>Data replication lag duration.</p>",
          "shape": "ISO8601DurationString"
        },
        "replicatedDisks": {
          "documentation": "<p>The disks that should be replicated.</p>",
          "shape": "DataReplicationInfoReplicatedDisks"
        }
      },
      "type": "structure"
    },
    "DataReplicationInfoReplicatedDisk": {
      "documentation": "<p>A disk that should be replicated.</p>",
      "members": {
        "backloggedStorageBytes": {
          "documentation": "<p>The size of the replication backlog in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "deviceName": {
          "documentation": "<p>The name of the device.</p>",
          "shape": "BoundedString"
        },
        "replicatedStorageBytes": {
          "documentation": "<p>The amount of data replicated so far in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "rescannedStorageBytes": {
          "documentation": "<p>The amount of data to be rescanned in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "totalStorageBytes": {
          "documentation": "<p>The total amount of data to be replicated in bytes.</p>",
          "shape": "PositiveInteger"
        }
      },
      "type": "structure"
    },
    "DataReplicationInfoReplicatedDisks": {
      "max": 60,
      "member": {
        "shape": "DataReplicationInfoReplicatedDisk"
      },
      "min": 0,
      "type": "list"
    },
    "DataReplicationInitiation": {
      "documentation": "<p>Data replication initiation.</p>",
      "members": {
        "nextAttemptDateTime": {
          "documentation": "<p>The date and time of the next attempt to initiate data replication.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "startDateTime": {
          "documentation": "<p>The date and time of the current attempt to initiate data replication.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "steps": {
          "documentation": "<p>The steps of the current attempt to initiate data replication.</p>",
          "shape": "DataReplicationInitiationSteps"
        }
      },
      "type": "structure"
    },
    "DataReplicationInitiationStep": {
      "documentation": "<p>Data replication initiation step.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "DataReplicationInitiationStepName"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "DataReplicationInitiationStepStatus"
        }
      },
      "type": "structure"
    },
    "DataReplicationInitiationStepName": {
      "enum": [
        "WAIT",
        "CREATE_SECURITY_GROUP",
        "LAUNCH_REPLICATION_SERVER",
        "BOOT_REPLICATION_SERVER",
        "AUTHENTICATE_WITH_SERVICE",
        "DOWNLOAD_REPLICATION_SOFTWARE",
        "CREATE_STAGING_DISKS",
        "ATTACH_STAGING_DISKS",
        "PAIR_REPLICATION_SERVER_WITH_AGENT",
        "CONNECT_AGENT_TO_REPLICATION_SERVER",
        "START_DATA_TRANSFER"
      ],
      "type": "string"
    },
    "DataReplicationInitiationStepStatus": {
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ],
      "type": "string"
    },
    "DataReplicationInitiationSteps": {
      "member": {
        "shape": "DataReplicationInitiationStep"
      },
      "type": "list"
    },
    "DataReplicationState": {
      "enum": [
        "STOPPED",
        "INITIATING",
        "INITIAL_SYNC",
        "BACKLOG",
        "CREATING_SNAPSHOT",
        "CONTINUOUS",
        "PAUSED",
        "RESCAN",
        "STALLED",
        "DISCONNECTED"
      ],
      "type": "string"
    },
    "DeleteJobRequest": {
      "members": {
        "jobID": {
          "documentation": "<p>The ID of the Job to be deleted.</p>",
          "shape": "JobID"
        }
      },
      "required": [
        "jobID"
      ],
      "type": "structure"
    },
    "DeleteJobResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRecoveryInstanceRequest": {
      "members": {
        "recoveryInstanceID": {
          "documentation": "<p>The ID of the Recovery Instance to be deleted.</p>",
          "shape": "RecoveryInstanceID"
        }
      },
      "required": [
        "recoveryInstanceID"
      ],
      "type": "structure"
    },
    "DeleteReplicationConfigurationTemplateRequest": {
      "members": {
        "replicationConfigurationTemplateID": {
          "documentation": "<p>The ID of the Replication Configuration Template to be deleted.</p>",
          "shape": "ReplicationConfigurationTemplateID"
        }
      },
      "required": [
        "replicationConfigurationTemplateID"
      ],
      "type": "structure"
    },
    "DeleteReplicationConfigurationTemplateResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSourceServerRequest": {
      "members": {
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server to be deleted.</p>",
          "shape": "SourceServerID"
        }
      },
      "required": [
        "sourceServerID"
      ],
      "type": "structure"
    },
    "DeleteSourceServerResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeJobLogItemsRequest": {
      "members": {
        "jobID": {
          "documentation": "<p>The ID of the Job for which Job log items will be retrieved.</p>",
          "shape": "JobID"
        },
        "maxResults": {
          "documentation": "<p>Maximum number of Job log items to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Job log items to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "jobID"
      ],
      "type": "structure"
    },
    "DescribeJobLogItemsResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Job log items.</p>",
          "shape": "JobLogs"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Job log items to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeJobsRequest": {
      "members": {
        "filters": {
          "documentation": "<p>A set of filters by which to return Jobs.</p>",
          "shape": "DescribeJobsRequestFilters"
        },
        "maxResults": {
          "documentation": "<p>Maximum number of Jobs to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Job to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeJobsRequestFilters": {
      "documentation": "<p>A set of filters by which to return Jobs.</p>",
      "members": {
        "fromDate": {
          "documentation": "<p>The start date in a date range query.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "jobIDs": {
          "documentation": "<p>An array of Job IDs that should be returned. An empty array means all jobs.</p>",
          "shape": "DescribeJobsRequestFiltersJobIDs"
        },
        "toDate": {
          "documentation": "<p>The end date in a date range query.</p>",
          "shape": "ISO8601DatetimeString"
        }
      },
      "type": "structure"
    },
    "DescribeJobsRequestFiltersJobIDs": {
      "max": 1000,
      "member": {
        "shape": "JobID"
      },
      "min": 0,
      "type": "list"
    },
    "DescribeJobsResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Jobs.</p>",
          "shape": "JobsList"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Job to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeRecoveryInstancesItems": {
      "member": {
        "shape": "RecoveryInstance"
      },
      "type": "list"
    },
    "DescribeRecoveryInstancesRequest": {
      "members": {
        "filters": {
          "documentation": "<p>A set of filters by which to return Recovery Instances.</p>",
          "shape": "DescribeRecoveryInstancesRequestFilters"
        },
        "maxResults": {
          "documentation": "<p>Maximum number of Recovery Instances to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Recovery Instance to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeRecoveryInstancesRequestFilters": {
      "documentation": "<p>A set of filters by which to return Recovery Instances.</p>",
      "members": {
        "recoveryInstanceIDs": {
          "documentation": "<p>An array of Recovery Instance IDs that should be returned. An empty array means all Recovery Instances.</p>",
          "shape": "RecoveryInstanceIDs"
        },
        "sourceServerIDs": {
          "documentation": "<p>An array of Source Server IDs for which associated Recovery Instances should be returned.</p>",
          "shape": "SourceServerIDs"
        }
      },
      "type": "structure"
    },
    "DescribeRecoveryInstancesResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Recovery Instances.</p>",
          "shape": "DescribeRecoveryInstancesItems"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Recovery Instance to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeRecoverySnapshotsRequest": {
      "members": {
        "filters": {
          "documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>",
          "shape": "DescribeRecoverySnapshotsRequestFilters"
        },
        "maxResults": {
          "documentation": "<p>Maximum number of Recovery Snapshots to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>",
          "shape": "PaginationToken"
        },
        "order": {
          "documentation": "<p>The sorted ordering by which to return Recovery Snapshots.</p>",
          "shape": "RecoverySnapshotsOrder"
        },
        "sourceServerID": {
          "documentation": "<p>Filter Recovery Snapshots by Source Server ID.</p>",
          "shape": "SourceServerID"
        }
      },
      "required": [
        "sourceServerID"
      ],
      "type": "structure"
    },
    "DescribeRecoverySnapshotsRequestFilters": {
      "documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>",
      "members": {
        "fromDateTime": {
          "documentation": "<p>The start date in a date range query.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "toDateTime": {
          "documentation": "<p>The end date in a date range query.</p>",
          "shape": "ISO8601DatetimeString"
        }
      },
      "type": "structure"
    },
    "DescribeRecoverySnapshotsResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Recovery Snapshots.</p>",
          "shape": "RecoverySnapshotsList"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationConfigurationTemplatesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Maximum number of Replication Configuration Templates to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>",
          "shape": "PaginationToken"
        },
        "replicationConfigurationTemplateIDs": {
          "documentation": "<p>The IDs of the Replication Configuration Templates to retrieve. An empty list means all Replication Configuration Templates.</p>",
          "shape": "ReplicationConfigurationTemplateIDs"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationConfigurationTemplatesResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Replication Configuration Templates.</p>",
          "shape": "ReplicationConfigurationTemplates"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeSourceServersRequest": {
      "members": {
        "filters": {
          "documentation": "<p>A set of filters by which to return Source Servers.</p>",
          "shape": "DescribeSourceServersRequestFilters"
        },
        "maxResults": {
          "documentation": "<p>Maximum number of Source Servers to retrieve.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Source Server to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeSourceServersRequestFilters": {
      "documentation": "<p>A set of filters by which to return Source Servers.</p>",
      "members": {
        "hardwareId": {
          "documentation": "<p>An ID that describes the hardware of the Source Server. This is either an EC2 instance id, a VMware uuid or a mac address.</p>",
          "shape": "BoundedString"
        },
        "sourceServerIDs": {
          "documentation": "<p>An array of Source Servers IDs that should be returned. An empty array means all Source Servers.</p>",
          "shape": "DescribeSourceServersRequestFiltersIDs"
        },
        "stagingAccountIDs": {
          "documentation": "<p>An array of staging account IDs that extended source servers belong to. An empty array means all source servers will be shown.</p>",
          "shape": "AccountIDs"
        }
      },
      "type": "structure"
    },
    "DescribeSourceServersRequestFiltersIDs": {
      "max": 200,
      "member": {
        "shape": "SourceServerID"
      },
      "min": 0,
      "type": "list"
    },
    "DescribeSourceServersResponse": {
      "members": {
        "items": {
          "documentation": "<p>An array of Source Servers.</p>",
          "shape": "SourceServersList"
        },
        "nextToken": {
          "documentation": "<p>The token of the next Source Server to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DisconnectRecoveryInstanceRequest": {
      "members": {
        "recoveryInstanceID": {
          "documentation": "<p>The ID of the Recovery Instance to disconnect.</p>",
          "shape": "RecoveryInstanceID"
        }
      },
      "required": [
        "recoveryInstanceID"
      ],
      "type": "structure"
    },
    "DisconnectSourceServerRequest": {
      "members": {
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server to disconnect.</p>",
          "shape": "SourceServerID"
        }
      },
      "required": [
        "sourceServerID"
      ],
      "type": "structure"
    },
    "Disk": {
      "documentation": "<p>An object representing a data storage device on a server.</p>",
      "members": {
        "bytes": {
          "documentation": "<p>The amount of storage on the disk in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "deviceName": {
          "documentation": "<p>The disk or device name.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "Disks": {
      "max": 1000,
      "member": {
        "shape": "Disk"
      },
      "min": 0,
      "type": "list"
    },
    "EC2InstanceID": {
      "max": 255,
      "min": 0,
      "pattern": "^i-[0-9a-fA-F]{8,}$",
      "type": "string"
    },
    "EC2InstanceState": {
      "enum": [
        "PENDING",
        "RUNNING",
        "STOPPING",
        "STOPPED",
        "SHUTTING-DOWN",
        "TERMINATED",
        "NOT_FOUND"
      ],
      "type": "string"
    },
    "EC2InstanceType": {
      "max": 255,
      "min": 0,
      "type": "string"
    },
    "EbsSnapshotsList": {
      "member": {
        "shape": "ebsSnapshot"
      },
      "type": "list"
    },
    "EbsVolumeID": {
      "max": 19,
      "min": 10,
      "pattern": "^vol-([0-9a-fA-F]{8}|[0-9a-fA-F]{17})$",
      "type": "string"
    },
    "ExtensionStatus": {
      "enum": [
        "EXTENDED",
        "EXTENSION_ERROR",
        "NOT_EXTENDED"
      ],
      "type": "string"
    },
    "FailbackReplicationError": {
      "enum": [
        "AGENT_NOT_SEEN",
        "FAILBACK_CLIENT_NOT_SEEN",
        "NOT_CONVERGING",
        "UNSTABLE_NETWORK",
        "FAILED_TO_ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION",
        "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT",
        "FAILED_TO_CONFIGURE_REPLICATION_SOFTWARE",
        "FAILED_TO_PAIR_AGENT_WITH_REPLICATION_SOFTWARE",
        "FAILED_TO_ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION"
      ],
      "type": "string"
    },
    "FailbackState": {
      "enum": [
        "FAILBACK_NOT_STARTED",
        "FAILBACK_IN_PROGRESS",
        "FAILBACK_READY_FOR_LAUNCH",
        "FAILBACK_COMPLETED",
        "FAILBACK_ERROR"
      ],
      "type": "string"
    },
    "GetFailbackReplicationConfigurationRequest": {
      "members": {
        "recoveryInstanceID": {
          "documentation": "<p>The ID of the Recovery Instance whose failback replication configuration should be returned.</p>",
          "shape": "RecoveryInstanceID"
        }
      },
      "required": [
        "recoveryInstanceID"
      ],
      "type": "structure"
    },
    "GetFailbackReplicationConfigurationResponse": {
      "members": {
        "bandwidthThrottling": {
          "documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Recovery Instance in Mbps.</p>",
          "shape": "PositiveInteger"
        },
        "name": {
          "documentation": "<p>The name of the Failback Replication Configuration.</p>",
          "shape": "BoundedString"
        },
        "recoveryInstanceID": {
          "documentation": "<p>The ID of the Recovery Instance.</p>",
          "shape": "RecoveryInstanceID"
        },
        "usePrivateIP": {
          "documentation": "<p>Whether to use Private IP for the failback replication of the Recovery Instance.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "recoveryInstanceID"
      ],
      "type": "structure"
    },
    "GetLaunchConfigurationRequest": {
      "members": {
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server that we want to retrieve a Launch Configuration for.</p>",
          "shape": "SourceServerID"
        }
      },
      "required": [
        "sourceServerID"
      ],
      "type": "structure"
    },
    "GetReplicationConfigurationRequest": {
      "members": {
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Serve for this Replication Configuration.r</p>",
          "shape": "SourceServerID"
        }
      },
      "required": [
        "sourceServerID"
      ],
      "type": "structure"
    },
    "IPsList": {
      "member": {
        "shape": "BoundedString"
      },
      "type": "list"
    },
    "ISO8601DatetimeString": {
      "max": 32,
      "min": 19,
      "pattern": "^[1-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\\.[0-9]+)?Z$",
      "type": "string"
    },
    "ISO8601DurationString": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "IdentificationHints": {
      "documentation": "<p>Hints used to uniquely identify a machine.</p>",
      "members": {
        "awsInstanceID": {
          "documentation": "<p>AWS Instance ID identification hint.</p>",
          "shape": "EC2InstanceID"
        },
        "fqdn": {
          "documentation": "<p>Fully Qualified Domain Name identification hint.</p>",
          "shape": "BoundedString"
        },
        "hostname": {
          "documentation": "<p>Hostname identification hint.</p>",
          "shape": "BoundedString"
        },
        "vmWareUuid": {
          "documentation": "<p>vCenter VM path identification hint.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "InitializeServiceRequest": {
      "members": {},
      "type": "structure"
    },
    "InitializeServiceResponse": {
      "members": {},
      "type": "structure"
    },
    "InitiatedBy": {
      "enum": [
        "START_RECOVERY",
        "START_DRILL",
        "FAILBACK",
        "DIAGNOSTIC",
        "TERMINATE_RECOVERY_INSTANCES",
        "TARGET_ACCOUNT"
      ],
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "LargeBoundedString"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The number of seconds after which the request should be safe to retry.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "PositiveInteger"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Job": {
      "documentation": "<p>A job is an asynchronous workflow.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of a Job.</p>",
          "shape": "ARN"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time of when the Job was created.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "endDateTime": {
          "documentation": "<p>The date and time of when the Job ended.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "initiatedBy": {
          "documentation": "<p>A string representing who initiated the Job.</p>",
          "shape": "InitiatedBy"
        },
        "jobID": {
          "documentation": "<p>The ID of the Job.</p>",
          "shape": "JobID"
        },
        "participatingServers": {
          "documentation": "<p>A list of servers that the Job is acting upon.</p>",
          "shape": "ParticipatingServers"
        },
        "status": {
          "documentation": "<p>The status of the Job.</p>",
          "shape": "JobStatus"
        },
        "tags": {
          "documentation": "<p>A list of tags associated with the Job.</p>",
          "shape": "TagsMap"
        },
        "type": {
          "documentation": "<p>The type of the Job.</p>",
          "shape": "JobType"
        }
      },
      "required": [
        "jobID"
      ],
      "type": "structure"
    },
    "JobID": {
      "max": 24,
      "min": 24,
      "pattern": "^drsjob-[0-9a-zA-Z]{17}$",
      "type": "string"
    },
    "JobLog": {
      "documentation": "<p>A log outputted by a Job.</p>",
      "members": {
        "event": {
          "documentation": "<p>The event represents the type of a log.</p>",
          "shape": "JobLogEvent"
        },
        "eventData": {
          "documentation": "<p>Metadata associated with a Job log.</p>",
          "shape": "JobLogEventData"
        },
        "logDateTime": {
          "documentation": "<p>The date and time the log was taken.</p>",
          "shape": "ISO8601DatetimeString"
        }
      },
      "type": "structure"
    },
    "JobLogEvent": {
      "enum": [
        "JOB_START",
        "SERVER_SKIPPED",
        "CLEANUP_START",
        "CLEANUP_END",
        "CLEANUP_FAIL",
        "SNAPSHOT_START",
        "SNAPSHOT_END",
        "SNAPSHOT_FAIL",
        "USING_PREVIOUS_SNAPSHOT",
        "USING_PREVIOUS_SNAPSHOT_FAILED",
        "CONVERSION_START",
        "CONVERSION_END",
        "CONVERSION_FAIL",
        "LAUNCH_START",
        "LAUNCH_FAILED",
        "JOB_CANCEL",
        "JOB_END"
      ],
      "type": "string"
    },
    "JobLogEventData": {
      "documentation": "<p>Metadata associated with a Job log.</p>",
      "members": {
        "conversionProperties": {
          "documentation": "<p>Properties of a conversion job</p>",
          "shape": "ConversionProperties"
        },
        "conversionServerID": {
          "documentation": "<p>The ID of a conversion server.</p>",
          "shape": "EC2InstanceID"
        },
        "rawError": {
          "documentation": "<p>A string representing a job error.</p>",
          "shape": "LargeBoundedString"
        },
        "sourceServerID": {
          "documentation": "<p>The ID of a Source Server.</p>",
          "shape": "SourceServerID"
        },
        "targetInstanceID": {
          "documentation": "<p>The ID of a Recovery Instance.</p>",
          "shape": "EC2InstanceID"
        }
      },
      "type": "structure"
    },
    "JobLogs": {
      "member": {
        "shape": "JobLog"
      },
      "type": "list"
    },
    "JobStatus": {
      "enum": [
        "PENDING",
        "STARTED",
        "COMPLETED"
      ],
      "type": "string"
    },
    "JobType": {
      "enum": [
        "LAUNCH",
        "TERMINATE",
        "CREATE_CONVERTED_SNAPSHOT"
      ],
      "type": "string"
    },
    "JobsList": {
      "member": {
        "shape": "Job"
      },
      "type": "list"
    },
    "LargeBoundedString": {
      "max": 65536,
      "min": 0,
      "type": "string"
    },
    "LastLaunchResult": {
      "enum": [
        "NOT_STARTED",
        "PENDING",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "LastLaunchType": {
      "enum": [
        "RECOVERY",
        "DRILL"
      ],
      "type": "string"
    },
    "LaunchConfiguration": {
      "members": {
        "copyPrivateIp": {
          "documentation": "<p>Whether we should copy the Private IP of the Source Server to the Recovery Instance.</p>",
          "shape": "Boolean"
        },
        "copyTags": {
          "documentation": "<p>Whether we want to copy the tags of the Source Server to the EC2 machine of the Recovery Instance.</p>",
          "shape": "Boolean"
        },
        "ec2LaunchTemplateID": {
          "documentation": "<p>The EC2 launch template ID of this launch configuration.</p>",
          "shape": "BoundedString"
        },
        "launchDisposition": {
          "documentation": "<p>The state of the Recovery Instance in EC2 after the recovery operation.</p>",
          "shape": "LaunchDisposition"
        },
        "licensing": {
          "documentation": "<p>The licensing configuration to be used for this launch configuration.</p>",
          "shape": "Licensing"
        },
        "name": {
          "documentation": "<p>The name of the launch configuration.</p>",
          "shape": "SmallBoundedString"
        },
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server for this launch configuration.</p>",
          "shape": "SourceServerID"
        },
        "targetInstanceTypeRightSizingMethod": {
          "documentation": "<p>Whether Elastic Disaster Recovery should try to automatically choose the instance type that best matches the OS, CPU, and RAM of your Source Server.</p>",
          "shape": "TargetInstanceTypeRightSizingMethod"
        }
      },
      "type": "structure"
    },
    "LaunchDisposition": {
      "enum": [
        "STOPPED",
        "STARTED"
      ],
      "type": "string"
    },
    "LaunchStatus": {
      "enum": [
        "PENDING",
        "IN_PROGRESS",
        "LAUNCHED",
        "FAILED",
        "TERMINATED"
      ],
      "type": "string"
    },
    "Licensing": {
      "documentation": "<p>Configuration of a machine's license.</p>",
      "members": {
        "osByol": {
          "documentation": "<p>Whether to enable \"Bring your own license\" or not.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "LifeCycle": {
      "documentation": "<p>An object representing the Source Server Lifecycle.</p>",
      "members": {
        "addedToServiceDateTime": {
          "documentation": "<p>The date and time of when the Source Server was added to the service.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "elapsedReplicationDuration": {
          "documentation": "<p>The amount of time that the Source Server has been replicating for.</p>",
          "shape": "ISO8601DurationString"
        },
        "firstByteDateTime": {
          "documentation": "<p>The date and time of the first byte that was replicated from the Source Server.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "lastLaunch": {
          "documentation": "<p>An object containing information regarding the last launch of the Source Server.</p>",
          "shape": "LifeCycleLastLaunch"
        },
        "lastSeenByServiceDateTime": {
          "documentation": "<p>The date and time this Source Server was last seen by the service.</p>",
          "shape": "ISO8601DatetimeString"
        }
      },
      "type": "structure"
    },
    "LifeCycleLastLaunch": {
      "documentation": "<p>An object containing information regarding the last launch of a Source Server.</p>",
      "members": {
        "initiated": {
          "documentation": "<p>An object containing information regarding the initiation of the last launch of a Source Server.</p>",
          "shape": "LifeCycleLastLaunchInitiated"
        }
      },
      "type": "structure"
    },
    "LifeCycleLastLaunchInitiated": {
      "documentation": "<p>An object containing information regarding the initiation of the last launch of a Source Server.</p>",
      "members": {
        "apiCallDateTime": {
          "documentation": "<p>The date and time the last Source Server launch was initiated.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "jobID": {
          "documentation": "<p>The ID of the Job that was used to last launch the Source Server.</p>",
          "shape": "JobID"
        },
        "type": {
          "documentation": "<p>The Job type that was used to last launch the Source Server.</p>",
          "shape": "LastLaunchType"
        }
      },
      "type": "structure"
    },
    "ListExtensibleSourceServersRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of extensible source servers to retrieve.</p>",
          "shape": "MaxResultsReplicatingSourceServers"
        },
        "nextToken": {
          "documentation": "<p>The token of the next extensible source server to retrieve.</p>",
          "shape": "PaginationToken"
        },
        "stagingAccountID": {
          "documentation": "<p>The Id of the staging Account to retrieve extensible source servers from.</p>",
          "shape": "AccountID"
        }
      },
      "required": [
        "stagingAccountID"
      ],
      "type": "structure"
    },
    "ListExtensibleSourceServersResponse": {
      "members": {
        "items": {
          "documentation": "<p>A list of source servers on a staging Account that are extensible.</p>",
          "shape": "StagingSourceServersList"
        },
        "nextToken": {
          "documentation": "<p>The token of the next extensible source server to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListStagingAccountsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of staging Accounts to retrieve.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListStagingAccountsRequestMaxResultsInteger"
        },
        "nextToken": {
          "documentation": "<p>The token of the next staging Account to retrieve.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListStagingAccountsRequestMaxResultsInteger": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListStagingAccountsResponse": {
      "members": {
        "accounts": {
          "documentation": "<p>An array of staging AWS Accounts.</p>",
          "shape": "Accounts"
        },
        "nextToken": {
          "documentation": "<p>The token of the next staging Account to retrieve.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource whose tags should be returned.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ARN"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags of the requested resource.</p>",
          "shape": "TagsMap"
        }
      },
      "type": "structure"
    },
    "MaxResultsReplicatingSourceServers": {
      "max": 300,
      "min": 1,
      "type": "integer"
    },
    "NetworkInterface": {
      "documentation": "<p>Network interface.</p>",
      "members": {
        "ips": {
          "documentation": "<p>Network interface IPs.</p>",
          "shape": "IPsList"
        },
        "isPrimary": {
          "documentation": "<p>Whether this is the primary network interface.</p>",
          "shape": "Boolean"
        },
        "macAddress": {
          "documentation": "<p>The MAC address of the network interface.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "NetworkInterfaces": {
      "max": 32,
      "member": {
        "shape": "NetworkInterface"
      },
      "min": 0,
      "type": "list"
    },
    "OS": {
      "documentation": "<p>Operating System.</p>",
      "members": {
        "fullString": {
          "documentation": "<p>The long name of the Operating System.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "PITPolicy": {
      "max": 10,
      "member": {
        "shape": "PITPolicyRule"
      },
      "min": 1,
      "type": "list"
    },
    "PITPolicyRule": {
      "documentation": "<p>A rule in the Point in Time (PIT) policy representing when to take snapshots and how long to retain them for.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>Whether this rule is enabled or not.</p>",
          "shape": "Boolean"
        },
        "interval": {
          "documentation": "<p>How often, in the chosen units, a snapshot should be taken.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "retentionDuration": {
          "documentation": "<p>The duration to retain a snapshot for, in the chosen units.</p>",
          "shape": "StrictlyPositiveInteger"
        },
        "ruleID": {
          "documentation": "<p>The ID of the rule.</p>",
          "shape": "PositiveInteger"
        },
        "units": {
          "documentation": "<p>The units used to measure the interval and retentionDuration.</p>",
          "shape": "PITPolicyRuleUnits"
        }
      },
      "required": [
        "interval",
        "retentionDuration",
        "units"
      ],
      "type": "structure"
    },
    "PITPolicyRuleUnits": {
      "enum": [
        "MINUTE",
        "HOUR",
        "DAY"
      ],
      "type": "string"
    },
    "PaginationToken": {
      "max": 2048,
      "min": 0,
      "type": "string"
    },
    "ParticipatingServer": {
      "documentation": "<p>Represents a server participating in an asynchronous Job.</p>",
      "members": {
        "launchStatus": {
          "documentation": "<p>The launch status of a participating server.</p>",
          "shape": "LaunchStatus"
        },
        "recoveryInstanceID": {
          "documentation": "<p>The Recovery Instance ID of a participating server.</p>",
          "shape": "RecoveryInstanceID"
        },
        "sourceServerID": {
          "documentation": "<p>The Source Server ID of a participating server.</p>",
          "shape": "SourceServerID"
        }
      },
      "type": "structure"
    },
    "ParticipatingServers": {
      "member": {
        "shape": "ParticipatingServer"
      },
      "type": "list"
    },
    "PositiveInteger": {
      "min": 0,
      "type": "long"
    },
    "RecoveryInstance": {
      "documentation": "<p>A Recovery Instance is a replica of a Source Server running on EC2.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the Recovery Instance.</p>",
          "shape": "ARN"
        },
        "dataReplicationInfo": {
          "documentation": "<p>The Data Replication Info of the Recovery Instance.</p>",
          "shape": "RecoveryInstanceDataReplicationInfo"
        },
        "ec2InstanceID": {
          "documentation": "<p>The EC2 instance ID of the Recovery Instance.</p>",
          "shape": "EC2InstanceID"
        },
        "ec2InstanceState": {
          "documentation": "<p>The state of the EC2 instance for this Recovery Instance.</p>",
          "shape": "EC2InstanceState"
        },
        "failback": {
          "documentation": "<p>An object representing failback related information of the Recovery Instance.</p>",
          "shape": "RecoveryInstanceFailback"
        },
        "isDrill": {
          "documentation": "<p>Whether this Recovery Instance was created for a drill or for an actual Recovery event.</p>",
          "shape": "Boolean"
        },
        "jobID": {
          "documentation": "<p>The ID of the Job that created the Recovery Instance.</p>",
          "shape": "JobID"
        },
        "pointInTimeSnapshotDateTime": {
          "documentation": "<p>The date and time of the Point in Time (PIT) snapshot that this Recovery Instance was launched from.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "recoveryInstanceID": {
          "documentation": "<p>The ID of the Recovery Instance.</p>",
          "shape": "RecoveryInstanceID"
        },
        "recoveryInstanceProperties": {
          "documentation": "<p>Properties of the Recovery Instance machine.</p>",
          "shape": "RecoveryInstanceProperties"
        },
        "sourceServerID": {
          "documentation": "<p>The Source Server ID that this Recovery Instance is associated with.</p>",
          "shape": "SourceServerID"
        },
        "tags": {
          "documentation": "<p>An array of tags that are associated with the Recovery Instance.</p>",
          "shape": "TagsMap"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationError": {
      "documentation": "<p>Error in data replication.</p>",
      "members": {
        "error": {
          "documentation": "<p>Error in data replication.</p>",
          "shape": "FailbackReplicationError"
        },
        "rawError": {
          "documentation": "<p>Error in data replication.</p>",
          "shape": "LargeBoundedString"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationInfo": {
      "documentation": "<p>Information about Data Replication</p>",
      "members": {
        "dataReplicationError": {
          "documentation": "<p>Information about Data Replication</p>",
          "shape": "RecoveryInstanceDataReplicationError"
        },
        "dataReplicationInitiation": {
          "documentation": "<p>Information about whether the data replication has been initiated.</p>",
          "shape": "RecoveryInstanceDataReplicationInitiation"
        },
        "dataReplicationState": {
          "documentation": "<p>The state of the data replication.</p>",
          "shape": "RecoveryInstanceDataReplicationState"
        },
        "etaDateTime": {
          "documentation": "<p>An estimate of when the data replication will be completed.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "lagDuration": {
          "documentation": "<p>Data replication lag duration.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "replicatedDisks": {
          "documentation": "<p>The disks that should be replicated.</p>",
          "shape": "RecoveryInstanceDataReplicationInfoReplicatedDisks"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationInfoReplicatedDisk": {
      "documentation": "<p>A disk that should be replicated.</p>",
      "members": {
        "backloggedStorageBytes": {
          "documentation": "<p>The size of the replication backlog in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "deviceName": {
          "documentation": "<p>The name of the device.</p>",
          "shape": "BoundedString"
        },
        "replicatedStorageBytes": {
          "documentation": "<p>The amount of data replicated so far in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "rescannedStorageBytes": {
          "documentation": "<p>The amount of data to be rescanned in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "totalStorageBytes": {
          "documentation": "<p>The total amount of data to be replicated in bytes.</p>",
          "shape": "PositiveInteger"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationInfoReplicatedDisks": {
      "max": 60,
      "member": {
        "shape": "RecoveryInstanceDataReplicationInfoReplicatedDisk"
      },
      "min": 0,
      "type": "list"
    },
    "RecoveryInstanceDataReplicationInitiation": {
      "documentation": "<p>Data replication initiation.</p>",
      "members": {
        "startDateTime": {
          "documentation": "<p>The date and time of the current attempt to initiate data replication.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "steps": {
          "documentation": "<p>The steps of the current attempt to initiate data replication.</p>",
          "shape": "RecoveryInstanceDataReplicationInitiationSteps"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationInitiationStep": {
      "documentation": "<p>Data replication initiation step.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the step.</p>",
          "shape": "RecoveryInstanceDataReplicationInitiationStepName"
        },
        "status": {
          "documentation": "<p>The status of the step.</p>",
          "shape": "RecoveryInstanceDataReplicationInitiationStepStatus"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDataReplicationInitiationStepName": {
      "enum": [
        "LINK_FAILBACK_CLIENT_WITH_RECOVERY_INSTANCE",
        "COMPLETE_VOLUME_MAPPING",
        "ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION",
        "DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT",
        "CONFIGURE_REPLICATION_SOFTWARE",
        "PAIR_AGENT_WITH_REPLICATION_SOFTWARE",
        "ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION"
      ],
      "type": "string"
    },
    "RecoveryInstanceDataReplicationInitiationStepStatus": {
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ],
      "type": "string"
    },
    "RecoveryInstanceDataReplicationInitiationSteps": {
      "member": {
        "shape": "RecoveryInstanceDataReplicationInitiationStep"
      },
      "type": "list"
    },
    "RecoveryInstanceDataReplicationState": {
      "enum": [
        "STOPPED",
        "INITIATING",
        "INITIAL_SYNC",
        "BACKLOG",
        "CREATING_SNAPSHOT",
        "CONTINUOUS",
        "PAUSED",
        "RESCAN",
        "STALLED",
        "DISCONNECTED"
      ],
      "type": "string"
    },
    "RecoveryInstanceDisk": {
      "documentation": "<p>An object representing a block storage device on the Recovery Instance.</p>",
      "members": {
        "bytes": {
          "documentation": "<p>The amount of storage on the disk in bytes.</p>",
          "shape": "PositiveInteger"
        },
        "ebsVolumeID": {
          "documentation": "<p>The EBS Volume ID of this disk.</p>",
          "shape": "EbsVolumeID"
        },
        "internalDeviceName": {
          "documentation": "<p>The internal device name of this disk. This is the name that is visible on the machine itself and not from the EC2 console.</p>",
          "shape": "BoundedString"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceDisks": {
      "max": 1000,
      "member": {
        "shape": "RecoveryInstanceDisk"
      },
      "min": 0,
      "type": "list"
    },
    "RecoveryInstanceFailback": {
      "documentation": "<p>An object representing failback related information of the Recovery Instance.</p>",
      "members": {
        "agentLastSeenByServiceDateTime": {
          "documentation": "<p>The date and time the agent on the Recovery Instance was last seen by the service.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "elapsedReplicationDuration": {
          "documentation": "<p>The amount of time that the Recovery Instance has been replicating for.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "failbackClientID": {
          "documentation": "<p>The ID of the failback client that this Recovery Instance is associated with.</p>",
          "shape": "BoundedString"
        },
        "failbackClientLastSeenByServiceDateTime": {
          "documentation": "<p>The date and time that the failback client was last seen by the service.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "failbackInitiationTime": {
          "documentation": "<p>The date and time that the failback initiation started.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "failbackJobID": {
          "documentation": "<p>The Job ID of the last failback log for this Recovery Instance.</p>",
          "shape": "JobID"
        },
        "failbackToOriginalServer": {
          "documentation": "<p>Whether we are failing back to the original Source Server for this Recovery Instance.</p>",
          "shape": "Boolean"
        },
        "firstByteDateTime": {
          "documentation": "<p>The date and time of the first byte that was replicated from the Recovery Instance.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "state": {
          "documentation": "<p>The state of the failback process that this Recovery Instance is in.</p>",
          "shape": "FailbackState"
        }
      },
      "type": "structure"
    },
    "RecoveryInstanceID": {
      "max": 19,
      "min": 10,
      "pattern": "^i-[0-9a-fA-F]{8,}$",
      "type": "string"
    },
    "RecoveryInstanceIDs": {
      "max": 200,
      "member": {
        "shape": "RecoveryInstanceID"
      },
      "min": 0,
      "type": "list"
    },
    "RecoveryInstanceProperties": {
      "documentation": "<p>Properties of the Recovery Instance machine.</p>",
      "members": {
        "cpus": {
          "documentation": "<p>An array of CPUs.</p>",
          "shape": "Cpus"
        },
        "disks": {
          "documentation": "<p>An array of disks.</p>",
          "shape": "RecoveryInstanceDisks"
        },
        "identificationHints": {
          "documentation": "<p>Hints used to uniquely identify a machine.</p>",
          "shape": "IdentificationHints"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time the Recovery Instance properties were last updated on.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "networkInterfaces": {
          "documentation": "<p>An array of network interfaces.</p>",
          "shape": "NetworkInterfaces"
        },
        "os": {
          "documentation": "<p>Operating system.</p>",
          "shape": "OS"
        },
        "ramBytes": {
          "documentation": "<p>The amount of RAM in bytes.</p>",
          "shape": "PositiveInteger"
        }
      },
      "type": "structure"
    },
    "RecoveryInstancesForTerminationRequest": {
      "max": 200,
      "member": {
        "shape": "RecoveryInstanceID"
      },
      "min": 1,
      "type": "list"
    },
    "RecoverySnapshot": {
      "documentation": "<p>A snapshot of a Source Server used during recovery.</p>",
      "members": {
        "ebsSnapshots": {
          "documentation": "<p>A list of EBS snapshots.</p>",
          "shape": "EbsSnapshotsList"
        },
        "expectedTimestamp": {
          "documentation": "<p>The timestamp of when we expect the snapshot to be taken.</p>",
          "shape": "ISO8601DatetimeString"
        },
        "snapshotID": {
          "documentation": "<p>The ID of the Recovery Snapshot.</p>",
          "shape": "RecoverySnapshotID"
        },
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server that the snapshot was taken for.</p>",
          "shape": "SourceServerID"
        },
        "timestamp": {
          "documentation": "<p>The actual timestamp that the snapshot was taken.</p>",
          "shape": "ISO8601DatetimeString"
        }
      },
      "required": [
        "expectedTimestamp",
        "snapshotID",
        "sourceServerID"
      ],
      "type": "structure"
    },
    "RecoverySnapshotID": {
      "max": 21,
      "min": 21,
      "pattern": "^pit-[0-9a-zA-Z]{17}$",
      "type": "string"
    },
    "RecoverySnapshotsList": {
      "member": {
        "shape": "RecoverySnapshot"
      },
      "type": "list"
    },
    "RecoverySnapshotsOrder": {
      "enum": [
        "ASC",
        "DESC"
      ],
      "type": "string"
    },
    "ReplicationConfiguration": {
      "members": {
        "associateDefaultSecurityGroup": {
          "documentation": "<p>Whether to associate the default Elastic Disaster Recovery Security group with the Replication Configuration.</p>",
          "shape": "Boolean"
        },
        "bandwidthThrottling": {
          "documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Source Server in Mbps.</p>",
          "shape": "PositiveInteger"
        },
        "createPublicIP": {
          "documentation": "<p>Whether to create a Public IP for the Recovery Instance by default.</p>",
          "shape": "Boolean"
        },
        "dataPlaneRouting": {
          "documentation": "<p>The data plane routing mechanism that will be used for replication.</p>",
          "shape": "ReplicationConfigurationDataPlaneRouting"
        },
        "defaultLargeStagingDiskType": {
          "documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
          "shape": "ReplicationConfigurationDefaultLargeStagingDiskType"
        },
        "ebsEncryption": {
          "documentation": "<p>The type of EBS encryption to be used during replication.</p>",
          "shape": "ReplicationConfigurationEbsEncryption"
        },
        "ebsEncryptionKeyArn": {
          "documentation": "<p>The ARN of the EBS encryption key to be used during replication.</p>",
          "shape": "ARN"
        },
        "name": {
          "documentation": "<p>The name of the Replication Configuration.</p>",
          "shape": "SmallBoundedString"
        },
        "pitPolicy": {
          "documentation": "<p>The Point in time (PIT) policy to manage snapshots taken during replication.</p>",
          "shape": "PITPolicy"
        },
        "replicatedDisks": {
          "documentation": "<p>The configuration of the disks of the Source Server to be replicated.</p>",
          "shape": "ReplicationConfigurationReplicatedDisks"
        },
        "replicationServerInstanceType": {
          "documentation": "<p>The instance type to be used for the replication server.</p>",
          "shape": "EC2InstanceType"
        },
        "replicationServersSecurityGroupsIDs": {
          "documentation": "<p>The security group IDs that will be used by the replication server.</p>",
          "shape": "ReplicationServersSecurityGroupsIDs"
        },
        "sourceServerID": {
          "documentation": "<p>The ID of the Source Server for this Replication Configuration.</p>",
          "shape": "SourceServerID"
        },
        "stagingAreaSubnetId": {
          "documentation": "<p>The subnet to be used by the replication staging area.</p>",
          "shape": "SubnetID"
        },
        "stagingAreaTags": {
          "documentation": "<p>A set of tags to be associated with all resources created in the replication staging area: EC2 replication server, EBS volumes, EBS snapshots, etc.</p>",
          "shape": "TagsMap"
        },
        "useDedicatedReplicationServer": {
          "documentation": "<p>Whether to use a dedicated Replication Server in the replication staging area.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ReplicationConfigurationDataPlaneRouting": {
      "enum": [
        "PRIVATE_IP",
        "PUBLIC_IP"
      ],
      "type": "string"
    },
    "ReplicationConfigurationDefaultLargeStagingDiskType": {
      "enum": [
        "GP2",
        "GP3",
        "ST1",
        "AUTO"
      ],
      "type": "string"
    },
    "ReplicationConfigurationEbsEncryption": {
      "enum": [
        "DEFAULT",
        "CUSTOM"
      ],
      "type": "string"
    },
    "ReplicationConfigurationReplicatedDisk": {
      "documentation": "<p>The configuration of a disk of the Source Server to be replicated.</p>",
      "members": {
        "deviceName": {
          "documentation": "<p>The name of the device.</p>",
          "shape": "BoundedString"
        },
        "iops": {
          "documentation": "<p>The requested number of I/O operations per second (IOPS).</p>",
          "shape": "PositiveInteger"
        },
        "isBootDisk": {
          "documentation": "<p>Whether to boot from this disk or not.</p>",
          "shape": "Boolean"
        },
        "optimizedStagingDiskType": {
          "documentation": "<p>The Staging Disk EBS volume type to be used during replication when <code>stagingDiskType</code> is set to Auto. This is a read-only field.</p>",
          "shape": "ReplicationConfigurationReplicatedDiskStagingDiskType"
        },
        "stagingDiskType": {
          "documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
          "shape": "ReplicationConfigurationReplicatedDiskStagingDiskType"
        },
        "throughput": {
          "documentation": "<p>The throughput to use for the EBS volume in MiB/s. This parameter is valid only for gp3 volumes.</p>",
          "shape": "PositiveInteger"
        }
      },
      "type": "structure"
    },
    "ReplicationConfigurationReplicatedDiskStagingDiskType": {
      "enum": [
        "AUTO",
        "GP2",
        "GP3",
        "IO1",
        "SC1",
        "ST1",
        "STANDARD"
      ],
      "type": "string"
    },
    "ReplicationConfigurationReplicatedDisks": {
      "max": 60,
      "member": {
        "shape": "ReplicationConfigurationReplicatedDisk"
      },
      "min": 0,
      "type": "list"
    },
    "ReplicationConfigurationTemplate": {
      "members": {
        "arn": {
          "documentation": "<p>The Replication Configuration Template ARN.</p>",
          "shape": "ARN"
        },
        "associateDefaultSecurityGroup": {
          "documentation": "<p>Whether to associate the default Elastic Disaster Recovery Security group with the Replication Configuration Template.</p>",
          "shape": "Boolean"
        },
        "bandwidthThrottling": {
          "documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Source Server in Mbps.</p>",
          "shape": "PositiveInteger"
        },
        "createPublicIP": {
          "documentation": "<p>Whether to create a Public IP for the Recovery Instance by default.</p>",
          "shape": "Boolean"
        },
        "dataPlaneRouting": {
          "documentation": "<p>The data plane routing mechanism that will be used for replication.</p>",
          "shape": "ReplicationConfigurationDataPlaneRouting"
        },
        "defaultLargeStagingDiskType": {
          "documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
          "shape": "ReplicationConfigurationDefaultLargeStagingDiskType"
        },
        "ebsEncryption": {
          "documentation": "<p>The type of EBS encryption to be used during replication.</p>",
          "shape": "ReplicationConfigurationEbsEncryption"
        },
        "ebsEncryptionKeyArn": {
          "documentation": "<p>The ARN of the EBS encryption key to be used during replication.</p>",
          "shape": "ARN"
        },
        "pitPolicy": {
          "documentation": "<p>The Point in time (PIT) policy to manage snapshots taken during replication.</p>",
          "shape": "PITPolicy"
        },
        "replicationConfigurationTemplateID": {
          "documentation": "<p>The Replication Configuration Template ID.</p>",
          "shape": "ReplicationConfigurationTemplateID"
        },
        "replicationServerInstanceType": {
          "documentation": "<p>The instance type to be used for the replication server.</p>",
          "shape": "EC2InstanceType"
        },
        "replicationServersSecurityGroupsIDs": {
          "documentation": "<p>The security group IDs that will be used by the replication server.</p>",
          "shape": "ReplicationServersSecurityGroupsIDs"
        },
        "stagingAreaSubnetId": {
          "documentation": "<p>The subnet to be used by the replication staging area.</p>",
          "shape": "SubnetID"
        },
        "stagingAreaTags": {
          "documentation": "<p>A set of tags to be associated with all resources created in the replication staging area: EC2 replication server, EBS volumes, EBS snapshots, etc.</p>",
          "shape": "TagsMap"
        },
        "tags": {
          "documentation": "<p>A set of tags to be associated with the Replication Configuration Template resource.</p>",
          "shape": "TagsMap"
        },
        "useDedicatedReplicationServer": {
          "documentation": "<p>Whether to use a dedicated Replication Server in the replication staging area.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "replicationConfigurationTemplateID"
      ],
      "type": "structure"
    },
    "ReplicationConfigurationTemplateID": {
      "max": 21,
      "min": 21,
      "pattern": "^rct-[0-9a-zA-Z]{17}$",
      "type": "string"
    },
    "ReplicationConfigurationTemplateIDs": {
      "max": 200,
      "member": {
        "shape": "ReplicationConfigurationTemplateID"
      },
      "min": 0,
      "type": "list"
    },
    "ReplicationConfigurationTemplates": {
      "member": {
        "shape": "ReplicationConfigurationTemplate"
      },
      "type": "list"
    },
    "ReplicationServersSecurityGroupsIDs": {
      "max": 32,
      "member": {
        "shape": "SecurityGroupID"
      },
      "min": 0,
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource for this operation was not found.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "code": {
          "shape": "LargeBoundedString"
        },
        "message": {
          "shape": "LargeBoundedString"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "LargeBoundedString"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "LargeBoundedString"
[...]
