{
  "documentation": "<p>Amazon GuardDuty is a continuous security monitoring service that analyzes and processes the following data sources: VPC flow logs, Amazon Web Services CloudTrail management event logs, CloudTrail S3 data event logs, EKS audit logs, and DNS logs. It uses threat intelligence feeds (such as lists of malicious IPs and domains) and machine learning to identify unexpected, potentially unauthorized, and malicious activity within your Amazon Web Services environment. This can include issues like escalations of privileges, uses of exposed credentials, or communication with malicious IPs, URLs, or domains. For example, GuardDuty can detect compromised EC2 instances that serve malware or mine bitcoin. </p> <p>GuardDuty also monitors Amazon Web Services account access behavior for signs of compromise. Some examples of this are unauthorized infrastructure deployments such as EC2 instances deployed in a Region that has never been used, or unusual API calls like a password policy change to reduce password strength. </p> <p>GuardDuty informs you of the status of your Amazon Web Services environment by producing security findings that you can view in the GuardDuty console or through Amazon CloudWatch events. For more information, see the <i> <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/what-is-guardduty.html\">Amazon GuardDuty User Guide</a> </i>. </p>",
  "metadata": {
    "apiVersion": "2017-11-28",
    "endpointPrefix": "guardduty",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon GuardDuty",
    "serviceId": "GuardDuty",
    "signatureVersion": "v4",
    "signingName": "guardduty",
    "uid": "guardduty-2017-11-28"
  },
  "operations": {
    "AcceptAdministratorInvitation": {
      "documentation": "<p>Accepts the invitation to be a member account and get monitored by a GuardDuty administrator account that sent the invitation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/administrator",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptAdministratorInvitationRequest"
      },
      "name": "AcceptAdministratorInvitation",
      "output": {
        "shape": "AcceptAdministratorInvitationResponse"
      }
    },
    "AcceptInvitation": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use AcceptAdministratorInvitation instead",
      "documentation": "<p>Accepts the invitation to be monitored by a GuardDuty administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/master",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation",
      "output": {
        "shape": "AcceptInvitationResponse"
      }
    },
    "ArchiveFindings": {
      "documentation": "<p>Archives GuardDuty findings that are specified by the list of finding IDs.</p> <note> <p>Only the administrator account can archive findings. Member accounts don't have permission to archive findings from their accounts.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/archive",
        "responseCode": 200
      },
      "input": {
        "shape": "ArchiveFindingsRequest"
      },
      "name": "ArchiveFindings",
      "output": {
        "shape": "ArchiveFindingsResponse"
      }
    },
    "CreateDetector": {
      "documentation": "<p>Creates a single Amazon GuardDuty detector. A detector is a resource that represents the GuardDuty service. To start using GuardDuty, you must create a detector in each Region where you enable the service. You can have only one detector per account per Region. All data sources are enabled in a new detector by default.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDetectorRequest"
      },
      "name": "CreateDetector",
      "output": {
        "shape": "CreateDetectorResponse"
      }
    },
    "CreateFilter": {
      "documentation": "<p>Creates a filter using the specified finding criteria.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/filter",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFilterRequest"
      },
      "name": "CreateFilter",
      "output": {
        "shape": "CreateFilterResponse"
      }
    },
    "CreateIPSet": {
      "documentation": "<p>Creates a new IPSet, which is called a trusted IP list in the console user interface. An IPSet is a list of IP addresses that are trusted for secure communication with Amazon Web Services infrastructure and applications. GuardDuty doesn't generate findings for IP addresses that are included in IPSets. Only users from the administrator account can use this operation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/ipset",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIPSetRequest"
      },
      "name": "CreateIPSet",
      "output": {
        "shape": "CreateIPSetResponse"
      }
    },
    "CreateMembers": {
      "documentation": "<p>Creates member accounts of the current Amazon Web Services account by specifying a list of Amazon Web Services account IDs. This step is a prerequisite for managing the associated member accounts either by invitation or through an organization.</p> <p>When using <code>Create Members</code> as an organizations delegated administrator this action will enable GuardDuty in the added member accounts, with the exception of the organization delegated administrator account, which must enable GuardDuty prior to being added as a member.</p> <p>If you are adding accounts by invitation use this action after GuardDuty has been enabled in potential member accounts and before using <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_InviteMembers.html\"> <code>Invite Members</code> </a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "name": "CreateMembers",
      "output": {
        "shape": "CreateMembersResponse"
      }
    },
    "CreatePublishingDestination": {
      "documentation": "<p>Creates a publishing destination to export findings to. The resource to export findings to must exist before you use this operation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/publishingDestination",
        "responseCode": 200
      },
      "input": {
        "shape": "CreatePublishingDestinationRequest"
      },
      "name": "CreatePublishingDestination",
      "output": {
        "shape": "CreatePublishingDestinationResponse"
      }
    },
    "CreateSampleFindings": {
      "documentation": "<p>Generates example findings of types specified by the list of finding types. If 'NULL' is specified for <code>findingTypes</code>, the API generates example findings of all supported finding types.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/create",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSampleFindingsRequest"
      },
      "name": "CreateSampleFindings",
      "output": {
        "shape": "CreateSampleFindingsResponse"
      }
    },
    "CreateThreatIntelSet": {
      "documentation": "<p>Creates a new ThreatIntelSet. ThreatIntelSets consist of known malicious IP addresses. GuardDuty generates findings based on ThreatIntelSets. Only users of the administrator account can use this operation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/threatintelset",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateThreatIntelSetRequest"
      },
      "name": "CreateThreatIntelSet",
      "output": {
        "shape": "CreateThreatIntelSetResponse"
      }
    },
    "DeclineInvitations": {
      "documentation": "<p>Declines invitations sent to the current member account by Amazon Web Services accounts specified by their account IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitation/decline",
        "responseCode": 200
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "name": "DeclineInvitations",
      "output": {
        "shape": "DeclineInvitationsResponse"
      }
    },
    "DeleteDetector": {
      "documentation": "<p>Deletes an Amazon GuardDuty detector that is specified by the detector ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteDetectorRequest"
      },
      "name": "DeleteDetector",
      "output": {
        "shape": "DeleteDetectorResponse"
      }
    },
    "DeleteFilter": {
      "documentation": "<p>Deletes the filter specified by the filter name.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/filter/{filterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFilterRequest"
      },
      "name": "DeleteFilter",
      "output": {
        "shape": "DeleteFilterResponse"
      }
    },
    "DeleteIPSet": {
      "documentation": "<p>Deletes the IPSet specified by the <code>ipSetId</code>. IPSets are called trusted IP lists in the console user interface.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteIPSetRequest"
      },
      "name": "DeleteIPSet",
      "output": {
        "shape": "DeleteIPSetResponse"
      }
    },
    "DeleteInvitations": {
      "documentation": "<p>Deletes invitations sent to the current member account by Amazon Web Services accounts specified by their account IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitation/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "name": "DeleteInvitations",
      "output": {
        "shape": "DeleteInvitationsResponse"
      }
    },
    "DeleteMembers": {
      "documentation": "<p>Deletes GuardDuty member accounts (to the current GuardDuty administrator account) specified by the account IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "name": "DeleteMembers",
      "output": {
        "shape": "DeleteMembersResponse"
      }
    },
    "DeletePublishingDestination": {
      "documentation": "<p>Deletes the publishing definition with the specified <code>destinationId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeletePublishingDestinationRequest"
      },
      "name": "DeletePublishingDestination",
      "output": {
        "shape": "DeletePublishingDestinationResponse"
      }
    },
    "DeleteThreatIntelSet": {
      "documentation": "<p>Deletes the ThreatIntelSet specified by the ThreatIntelSet ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteThreatIntelSetRequest"
      },
      "name": "DeleteThreatIntelSet",
      "output": {
        "shape": "DeleteThreatIntelSetResponse"
      }
    },
    "DescribeMalwareScans": {
      "documentation": "<p>Returns a list of malware scans. Each member account can view the malware scans for their own accounts. An administrator can view the malware scans for all the member accounts.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/malware-scans",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMalwareScansRequest"
      },
      "name": "DescribeMalwareScans",
      "output": {
        "shape": "DescribeMalwareScansResponse"
      }
    },
    "DescribeOrganizationConfiguration": {
      "documentation": "<p>Returns information about the account selected as the delegated administrator for GuardDuty.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "name": "DescribeOrganizationConfiguration",
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse"
      }
    },
    "DescribePublishingDestination": {
      "documentation": "<p>Returns information about the publishing destination specified by the provided <code>destinationId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribePublishingDestinationRequest"
      },
      "name": "DescribePublishingDestination",
      "output": {
        "shape": "DescribePublishingDestinationResponse"
      }
    },
    "DisableOrganizationAdminAccount": {
      "documentation": "<p>Disables an Amazon Web Services account within the Organization as the GuardDuty delegated administrator.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/admin/disable",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "name": "DisableOrganizationAdminAccount",
      "output": {
        "shape": "DisableOrganizationAdminAccountResponse"
      }
    },
    "DisassociateFromAdministratorAccount": {
      "documentation": "<p>Disassociates the current GuardDuty member account from its administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/administrator/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromAdministratorAccountRequest"
      },
      "name": "DisassociateFromAdministratorAccount",
      "output": {
        "shape": "DisassociateFromAdministratorAccountResponse"
      }
    },
    "DisassociateFromMasterAccount": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use DisassociateFromAdministratorAccount instead",
      "documentation": "<p>Disassociates the current GuardDuty member account from its administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "name": "DisassociateFromMasterAccount",
      "output": {
        "shape": "DisassociateFromMasterAccountResponse"
      }
    },
    "DisassociateMembers": {
      "documentation": "<p>Disassociates GuardDuty member accounts (to the current administrator account) specified by the account IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateMembersRequest"
      },
      "name": "DisassociateMembers",
      "output": {
        "shape": "DisassociateMembersResponse"
      }
    },
    "EnableOrganizationAdminAccount": {
      "documentation": "<p>Enables an Amazon Web Services account within the organization as the GuardDuty delegated administrator.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/admin/enable",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "name": "EnableOrganizationAdminAccount",
      "output": {
        "shape": "EnableOrganizationAdminAccountResponse"
      }
    },
    "GetAdministratorAccount": {
      "documentation": "<p>Provides the details for the GuardDuty administrator account associated with the current GuardDuty member account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/administrator",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdministratorAccountRequest"
      },
      "name": "GetAdministratorAccount",
      "output": {
        "shape": "GetAdministratorAccountResponse"
      }
    },
    "GetDetector": {
      "documentation": "<p>Retrieves an Amazon GuardDuty detector specified by the detectorId.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDetectorRequest"
      },
      "name": "GetDetector",
      "output": {
        "shape": "GetDetectorResponse"
      }
    },
    "GetFilter": {
      "documentation": "<p>Returns the details of the filter specified by the filter name.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/filter/{filterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFilterRequest"
      },
      "name": "GetFilter",
      "output": {
        "shape": "GetFilterResponse"
      }
    },
    "GetFindings": {
      "documentation": "<p>Describes Amazon GuardDuty findings specified by finding IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "name": "GetFindings",
      "output": {
        "shape": "GetFindingsResponse"
      }
    },
    "GetFindingsStatistics": {
      "documentation": "<p>Lists Amazon GuardDuty findings statistics for the specified detector ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsStatisticsRequest"
      },
      "name": "GetFindingsStatistics",
      "output": {
        "shape": "GetFindingsStatisticsResponse"
      }
    },
    "GetIPSet": {
      "documentation": "<p>Retrieves the IPSet specified by the <code>ipSetId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIPSetRequest"
      },
      "name": "GetIPSet",
      "output": {
        "shape": "GetIPSetResponse"
      }
    },
    "GetInvitationsCount": {
      "documentation": "<p>Returns the count of all GuardDuty membership invitations that were sent to the current member account except the currently accepted invitation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitation/count",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "name": "GetInvitationsCount",
      "output": {
        "shape": "GetInvitationsCountResponse"
      }
    },
    "GetMalwareScanSettings": {
      "documentation": "<p>Returns the details of the malware scan settings.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/malware-scan-settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMalwareScanSettingsRequest"
      },
      "name": "GetMalwareScanSettings",
      "output": {
        "shape": "GetMalwareScanSettingsResponse"
      }
    },
    "GetMasterAccount": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use GetAdministratorAccount instead",
      "documentation": "<p>Provides the details for the GuardDuty administrator account associated with the current GuardDuty member account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/master",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "name": "GetMasterAccount",
      "output": {
        "shape": "GetMasterAccountResponse"
      }
    },
    "GetMemberDetectors": {
      "documentation": "<p>Describes which data sources are enabled for the member account's detector.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/detector/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMemberDetectorsRequest"
      },
      "name": "GetMemberDetectors",
      "output": {
        "shape": "GetMemberDetectorsResponse"
      }
    },
    "GetMembers": {
      "documentation": "<p>Retrieves GuardDuty member accounts (of the current GuardDuty administrator account) specified by the account IDs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "name": "GetMembers",
      "output": {
        "shape": "GetMembersResponse"
      }
    },
    "GetRemainingFreeTrialDays": {
      "documentation": "<p>Provides the number of days left for each data source used in the free trial period.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/freeTrial/daysRemaining",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRemainingFreeTrialDaysRequest"
      },
      "name": "GetRemainingFreeTrialDays",
      "output": {
        "shape": "GetRemainingFreeTrialDaysResponse"
      }
    },
    "GetThreatIntelSet": {
      "documentation": "<p>Retrieves the ThreatIntelSet that is specified by the ThreatIntelSet ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetThreatIntelSetRequest"
      },
      "name": "GetThreatIntelSet",
      "output": {
        "shape": "GetThreatIntelSetResponse"
      }
    },
    "GetUsageStatistics": {
      "documentation": "<p>Lists Amazon GuardDuty usage statistics over the last 30 days for the specified detector ID. For newly enabled detectors or data sources, the cost returned will include only the usage so far under 30 days. This may differ from the cost metrics in the console, which project usage over 30 days to provide a monthly cost estimate. For more information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/monitoring_costs.html#usage-calculations\">Understanding How Usage Costs are Calculated</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageStatisticsRequest"
      },
      "name": "GetUsageStatistics",
      "output": {
        "shape": "GetUsageStatisticsResponse"
      }
    },
    "InviteMembers": {
      "documentation": "<p>Invites other Amazon Web Services accounts (created as members of the current Amazon Web Services account by CreateMembers) to enable GuardDuty, and allow the current Amazon Web Services account to view and manage these accounts' findings on their behalf as the GuardDuty administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/invite",
        "responseCode": 200
      },
      "input": {
        "shape": "InviteMembersRequest"
      },
      "name": "InviteMembers",
      "output": {
        "shape": "InviteMembersResponse"
      }
    },
    "ListDetectors": {
      "documentation": "<p>Lists detectorIds of all the existing Amazon GuardDuty detector resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDetectorsRequest"
      },
      "name": "ListDetectors",
      "output": {
        "shape": "ListDetectorsResponse"
      }
    },
    "ListFilters": {
      "documentation": "<p>Returns a paginated list of the current filters.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/filter",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFiltersRequest"
      },
      "name": "ListFilters",
      "output": {
        "shape": "ListFiltersResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Lists Amazon GuardDuty findings for the specified detector ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "shape": "ListFindingsResponse"
      }
    },
    "ListIPSets": {
      "documentation": "<p>Lists the IPSets of the GuardDuty service specified by the detector ID. If you use this operation from a member account, the IPSets returned are the IPSets from the associated administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/ipset",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIPSetsRequest"
      },
      "name": "ListIPSets",
      "output": {
        "shape": "ListIPSetsResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Lists all GuardDuty membership invitations that were sent to the current Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitation",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "shape": "ListInvitationsResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Lists details about all member accounts for the current GuardDuty administrator account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/member",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersResponse"
      }
    },
    "ListOrganizationAdminAccounts": {
      "documentation": "<p>Lists the accounts configured as GuardDuty delegated administrators.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "name": "ListOrganizationAdminAccounts",
      "output": {
        "shape": "ListOrganizationAdminAccountsResponse"
      }
    },
    "ListPublishingDestinations": {
      "documentation": "<p>Returns a list of publishing destinations associated with the specified <code>detectorId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/publishingDestination",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPublishingDestinationsRequest"
      },
      "name": "ListPublishingDestinations",
      "output": {
        "shape": "ListPublishingDestinationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists tags for a resource. Tagging is currently supported for detectors, finding filters, IP sets, and threat intel sets, with a limit of 50 tags per resource. When invoked, this operation returns all assigned tags for a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListThreatIntelSets": {
      "documentation": "<p>Lists the ThreatIntelSets of the GuardDuty service specified by the detector ID. If you use this operation from a member account, the ThreatIntelSets associated with the administrator account are returned.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector/{detectorId}/threatintelset",
        "responseCode": 200
      },
      "input": {
        "shape": "ListThreatIntelSetsRequest"
      },
      "name": "ListThreatIntelSets",
      "output": {
        "shape": "ListThreatIntelSetsResponse"
      }
    },
    "StartMonitoringMembers": {
      "documentation": "<p>Turns on GuardDuty monitoring of the specified member accounts. Use this operation to restart monitoring of accounts that you stopped monitoring with the <code>StopMonitoringMembers</code> operation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartMonitoringMembersRequest"
      },
      "name": "StartMonitoringMembers",
      "output": {
        "shape": "StartMonitoringMembersResponse"
      }
    },
    "StopMonitoringMembers": {
      "documentation": "<p>Stops GuardDuty monitoring for the specified member accounts. Use the <code>StartMonitoringMembers</code> operation to restart monitoring for those accounts.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopMonitoringMembersRequest"
      },
      "name": "StopMonitoringMembers",
      "output": {
        "shape": "StopMonitoringMembersResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds tags to a resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UnarchiveFindings": {
      "documentation": "<p>Unarchives GuardDuty findings specified by the <code>findingIds</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/unarchive",
        "responseCode": 200
      },
      "input": {
        "shape": "UnarchiveFindingsRequest"
      },
      "name": "UnarchiveFindings",
      "output": {
        "shape": "UnarchiveFindingsResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDetector": {
      "documentation": "<p>Updates the Amazon GuardDuty detector specified by the detectorId.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDetectorRequest"
      },
      "name": "UpdateDetector",
      "output": {
        "shape": "UpdateDetectorResponse"
      }
    },
    "UpdateFilter": {
      "documentation": "<p>Updates the filter specified by the filter name.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/filter/{filterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFilterRequest"
      },
      "name": "UpdateFilter",
      "output": {
        "shape": "UpdateFilterResponse"
      }
    },
    "UpdateFindingsFeedback": {
      "documentation": "<p>Marks the specified GuardDuty findings as useful or not useful.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/findings/feedback",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFindingsFeedbackRequest"
      },
      "name": "UpdateFindingsFeedback",
      "output": {
        "shape": "UpdateFindingsFeedbackResponse"
      }
    },
    "UpdateIPSet": {
      "documentation": "<p>Updates the IPSet specified by the IPSet ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/ipset/{ipSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIPSetRequest"
      },
      "name": "UpdateIPSet",
      "output": {
        "shape": "UpdateIPSetResponse"
      }
    },
    "UpdateMalwareScanSettings": {
      "documentation": "<p>Updates the malware scan settings.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/malware-scan-settings",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMalwareScanSettingsRequest"
      },
      "name": "UpdateMalwareScanSettings",
      "output": {
        "shape": "UpdateMalwareScanSettingsResponse"
      }
    },
    "UpdateMemberDetectors": {
      "documentation": "<p>Contains information on member accounts to be updated.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/member/detector/update",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMemberDetectorsRequest"
      },
      "name": "UpdateMemberDetectors",
      "output": {
        "shape": "UpdateMemberDetectorsResponse"
      }
    },
    "UpdateOrganizationConfiguration": {
      "documentation": "<p>Updates the delegated administrator account with the values provided.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateOrganizationConfigurationRequest"
      },
      "name": "UpdateOrganizationConfiguration",
      "output": {
        "shape": "UpdateOrganizationConfigurationResponse"
      }
    },
    "UpdatePublishingDestination": {
      "documentation": "<p>Updates information about the publishing destination specified by the <code>destinationId</code>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/publishingDestination/{destinationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePublishingDestinationRequest"
      },
      "name": "UpdatePublishingDestination",
      "output": {
        "shape": "UpdatePublishingDestinationResponse"
      }
    },
    "UpdateThreatIntelSet": {
      "documentation": "<p>Updates the ThreatIntelSet specified by the ThreatIntelSet ID.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector/{detectorId}/threatintelset/{threatIntelSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateThreatIntelSetRequest"
      },
      "name": "UpdateThreatIntelSet",
      "output": {
        "shape": "UpdateThreatIntelSetResponse"
      }
    }
  },
  "shapes": {
    "AcceptAdministratorInvitationRequest": {
      "members": {
        "AdministratorId": {
          "documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're accepting.</p>",
          "locationName": "administratorId",
          "shape": "String"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "InvitationId": {
          "documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
          "locationName": "invitationId",
          "shape": "String"
        }
      },
      "required": [
        "DetectorId",
        "AdministratorId",
        "InvitationId"
      ],
      "type": "structure"
    },
    "AcceptAdministratorInvitationResponse": {
      "members": {},
      "type": "structure"
    },
    "AcceptInvitationRequest": {
      "deprecated": true,
      "deprecatedMessage": "This input is deprecated, use AcceptAdministratorInvitationRequest instead",
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "InvitationId": {
          "documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
          "locationName": "invitationId",
          "shape": "String"
        },
        "MasterId": {
          "documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're accepting.</p>",
          "locationName": "masterId",
          "shape": "String"
        }
      },
      "required": [
        "DetectorId",
        "MasterId",
        "InvitationId"
      ],
      "type": "structure"
    },
    "AcceptInvitationResponse": {
      "deprecated": true,
      "deprecatedMessage": "This output is deprecated, use AcceptAdministratorInvitationResponse instead",
      "members": {},
      "type": "structure"
    },
    "AccessControlList": {
      "documentation": "<p>Contains information on the current access control policies for the bucket.</p>",
      "members": {
        "AllowsPublicReadAccess": {
          "documentation": "<p>A value that indicates whether public read access for the bucket is enabled through an Access Control List (ACL).</p>",
          "locationName": "allowsPublicReadAccess",
          "shape": "Boolean"
        },
        "AllowsPublicWriteAccess": {
          "documentation": "<p>A value that indicates whether public write access for the bucket is enabled through an Access Control List (ACL).</p>",
          "locationName": "allowsPublicWriteAccess",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AccessKeyDetails": {
      "documentation": "<p>Contains information about the access keys.</p>",
      "members": {
        "AccessKeyId": {
          "documentation": "<p>The access key ID of the user.</p>",
          "locationName": "accessKeyId",
          "shape": "String"
        },
        "PrincipalId": {
          "documentation": "<p>The principal ID of the user.</p>",
          "locationName": "principalId",
          "shape": "String"
        },
        "UserName": {
          "documentation": "<p>The name of the user.</p>",
          "locationName": "userName",
          "shape": "String"
        },
        "UserType": {
          "documentation": "<p>The type of the user.</p>",
          "locationName": "userType",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AccountDetail": {
      "documentation": "<p>Contains information about the account.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The member account ID.</p>",
          "locationName": "accountId",
          "shape": "AccountId"
        },
        "Email": {
          "documentation": "<p>The email address of the member account.</p>",
          "locationName": "email",
          "shape": "Email"
        }
      },
      "required": [
        "AccountId",
        "Email"
      ],
      "type": "structure"
    },
    "AccountDetails": {
      "max": 50,
      "member": {
        "shape": "AccountDetail"
      },
      "min": 1,
      "type": "list"
    },
    "AccountFreeTrialInfo": {
      "documentation": "<p>Provides details of the GuardDuty member account that uses a free trial service.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account identifier of the GuardDuty member account.</p>",
          "locationName": "accountId",
          "shape": "String"
        },
        "DataSources": {
          "documentation": "<p>Describes the data source enabled for the GuardDuty member account.</p>",
          "locationName": "dataSources",
          "shape": "DataSourcesFreeTrial"
        }
      },
      "type": "structure"
    },
    "AccountFreeTrialInfos": {
      "member": {
        "shape": "AccountFreeTrialInfo"
      },
      "type": "list"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "type": "string"
    },
    "AccountIds": {
      "max": 50,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountLevelPermissions": {
      "documentation": "<p>Contains information about the account level permissions on the S3 bucket.</p>",
      "members": {
        "BlockPublicAccess": {
          "documentation": "<p>Describes the S3 Block Public Access settings of the bucket's parent account.</p>",
          "locationName": "blockPublicAccess",
          "shape": "BlockPublicAccess"
        }
      },
      "type": "structure"
    },
    "Action": {
      "documentation": "<p>Contains information about actions.</p>",
      "members": {
        "ActionType": {
          "documentation": "<p>The GuardDuty finding activity type.</p>",
          "locationName": "actionType",
          "shape": "String"
        },
        "AwsApiCallAction": {
          "documentation": "<p>Information about the AWS_API_CALL action described in this finding.</p>",
          "locationName": "awsApiCallAction",
          "shape": "AwsApiCallAction"
        },
        "DnsRequestAction": {
          "documentation": "<p>Information about the DNS_REQUEST action described in this finding.</p>",
          "locationName": "dnsRequestAction",
          "shape": "DnsRequestAction"
        },
        "KubernetesApiCallAction": {
          "documentation": "<p>Information about the Kubernetes API call action described in this finding.</p>",
          "locationName": "kubernetesApiCallAction",
          "shape": "KubernetesApiCallAction"
        },
        "NetworkConnectionAction": {
          "documentation": "<p>Information about the NETWORK_CONNECTION action described in this finding.</p>",
          "locationName": "networkConnectionAction",
          "shape": "NetworkConnectionAction"
        },
        "PortProbeAction": {
          "documentation": "<p>Information about the PORT_PROBE action described in this finding.</p>",
          "locationName": "portProbeAction",
          "shape": "PortProbeAction"
        }
      },
      "type": "structure"
    },
    "AdminAccount": {
      "documentation": "<p>The account within the organization specified as the GuardDuty delegated administrator.</p>",
      "members": {
        "AdminAccountId": {
          "documentation": "<p>The Amazon Web Services account ID for the account.</p>",
          "locationName": "adminAccountId",
          "shape": "String"
        },
        "AdminStatus": {
          "documentation": "<p>Indicates whether the account is enabled as the delegated administrator.</p>",
          "locationName": "adminStatus",
          "shape": "AdminStatus"
        }
      },
      "type": "structure"
    },
    "AdminAccounts": {
      "max": 1,
      "member": {
        "shape": "AdminAccount"
      },
      "min": 0,
      "type": "list"
    },
    "AdminStatus": {
      "enum": [
        "ENABLED",
        "DISABLE_IN_PROGRESS"
      ],
      "max": 300,
      "min": 1,
      "type": "string"
    },
    "Administrator": {
      "documentation": "<p>Contains information about the administrator account and invitation.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of the account used as the administrator account.</p>",
          "locationName": "accountId",
          "shape": "AccountId"
        },
        "InvitationId": {
          "documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
          "locationName": "invitationId",
          "shape": "String"
        },
        "InvitedAt": {
          "documentation": "<p>The timestamp when the invitation was sent.</p>",
          "locationName": "invitedAt",
          "shape": "String"
        },
        "RelationshipStatus": {
          "documentation": "<p>The status of the relationship between the administrator and member accounts.</p>",
          "locationName": "relationshipStatus",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AffectedResources": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "ArchiveFindingsRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings you want to archive.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "FindingIds": {
          "documentation": "<p>The IDs of the findings that you want to archive.</p>",
          "locationName": "findingIds",
          "shape": "FindingIds"
        }
      },
      "required": [
        "DetectorId",
        "FindingIds"
      ],
      "type": "structure"
    },
    "ArchiveFindingsResponse": {
      "members": {},
      "type": "structure"
    },
    "AwsApiCallAction": {
      "documentation": "<p>Contains information about the API action.</p>",
      "members": {
        "AffectedResources": {
          "documentation": "<p>The details of the Amazon Web Services account that made the API call. This field identifies the resources that were affected by this API call.</p>",
          "locationName": "affectedResources",
          "shape": "AffectedResources"
        },
        "Api": {
          "documentation": "<p>The Amazon Web Services API name.</p>",
          "locationName": "api",
          "shape": "String"
        },
        "CallerType": {
          "documentation": "<p>The Amazon Web Services API caller type.</p>",
          "locationName": "callerType",
          "shape": "String"
        },
        "DomainDetails": {
          "documentation": "<p>The domain information for the Amazon Web Services API call.</p>",
          "locationName": "domainDetails",
          "shape": "DomainDetails"
        },
        "ErrorCode": {
          "documentation": "<p>The error code of the failed Amazon Web Services API action.</p>",
          "locationName": "errorCode",
          "shape": "String"
        },
        "RemoteAccountDetails": {
          "documentation": "<p>The details of the Amazon Web Services account that made the API call. This field appears if the call was made from outside your account.</p>",
          "locationName": "remoteAccountDetails",
          "shape": "RemoteAccountDetails"
        },
        "RemoteIpDetails": {
          "documentation": "<p>The remote IP information of the connection that initiated the Amazon Web Services API call.</p>",
          "locationName": "remoteIpDetails",
          "shape": "RemoteIpDetails"
        },
        "ServiceName": {
          "documentation": "<p>The Amazon Web Services service name whose API was invoked.</p>",
          "locationName": "serviceName",
          "shape": "String"
        },
        "UserAgent": {
          "documentation": "<p>The agent through which the API request was made.</p>",
          "locationName": "userAgent",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>A bad request exception object.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The error message.</p>",
          "locationName": "message",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The error type.</p>",
          "locationName": "__type",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BlockPublicAccess": {
      "documentation": "<p>Contains information on how the bucker owner's S3 Block Public Access settings are being applied to the S3 bucket. See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">S3 Block Public Access</a> for more information. </p>",
      "members": {
        "BlockPublicAcls": {
          "documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicAcls</code>.</p>",
          "locationName": "blockPublicAcls",
          "shape": "Boolean"
        },
        "BlockPublicPolicy": {
          "documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicPolicy</code>.</p>",
          "locationName": "blockPublicPolicy",
          "shape": "Boolean"
        },
        "IgnorePublicAcls": {
          "documentation": "<p>Indicates if S3 Block Public Access is set to <code>IgnorePublicAcls</code>.</p>",
          "locationName": "ignorePublicAcls",
          "shape": "Boolean"
        },
        "RestrictPublicBuckets": {
          "documentation": "<p>Indicates if S3 Block Public Access is set to <code>RestrictPublicBuckets</code>.</p>",
          "locationName": "restrictPublicBuckets",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketLevelPermissions": {
      "documentation": "<p>Contains information about the bucket level permissions for the S3 bucket.</p>",
      "members": {
        "AccessControlList": {
          "documentation": "<p>Contains information on how Access Control Policies are applied to the bucket.</p>",
          "locationName": "accessControlList",
          "shape": "AccessControlList"
        },
        "BlockPublicAccess": {
          "documentation": "<p>Contains information on which account level S3 Block Public Access settings are applied to the S3 bucket.</p>",
          "locationName": "blockPublicAccess",
          "shape": "BlockPublicAccess"
        },
        "BucketPolicy": {
          "documentation": "<p>Contains information on the bucket policies for the S3 bucket.</p>",
          "locationName": "bucketPolicy",
          "shape": "BucketPolicy"
        }
      },
      "type": "structure"
    },
    "BucketPolicy": {
      "documentation": "<p>Contains information on the current bucket policies for the S3 bucket.</p>",
      "members": {
        "AllowsPublicReadAccess": {
          "documentation": "<p>A value that indicates whether public read access for the bucket is enabled through a bucket policy.</p>",
          "locationName": "allowsPublicReadAccess",
          "shape": "Boolean"
        },
        "AllowsPublicWriteAccess": {
          "documentation": "<p>A value that indicates whether public write access for the bucket is enabled through a bucket policy.</p>",
          "locationName": "allowsPublicWriteAccess",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "City": {
      "documentation": "<p>Contains information about the city associated with the IP address.</p>",
      "members": {
        "CityName": {
          "documentation": "<p>The city name of the remote IP address.</p>",
          "locationName": "cityName",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 64,
      "min": 0,
      "type": "string"
    },
    "CloudTrailConfigurationResult": {
      "documentation": "<p>Contains information on the status of CloudTrail as a data source for the detector.</p>",
      "members": {
        "Status": {
          "documentation": "<p>Describes whether CloudTrail is enabled as a data source for the detector.</p>",
          "locationName": "status",
          "shape": "DataSourceStatus"
        }
      },
      "required": [
        "Status"
      ],
      "type": "structure"
    },
    "Condition": {
      "documentation": "<p>Contains information about the condition.</p>",
      "members": {
        "Eq": {
          "deprecated": true,
          "documentation": "<p>Represents the <i>equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "eq",
          "shape": "Eq"
        },
        "Equals": {
          "documentation": "<p>Represents an <i>equal</i> <b/> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "equals",
          "shape": "Equals"
        },
        "GreaterThan": {
          "documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "greaterThan",
          "shape": "Long"
        },
        "GreaterThanOrEqual": {
          "documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "greaterThanOrEqual",
          "shape": "Long"
        },
        "Gt": {
          "deprecated": true,
          "documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "gt",
          "shape": "Integer"
        },
        "Gte": {
          "deprecated": true,
          "documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "gte",
          "shape": "Integer"
        },
        "LessThan": {
          "documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "lessThan",
          "shape": "Long"
        },
        "LessThanOrEqual": {
          "documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "lessThanOrEqual",
          "shape": "Long"
        },
        "Lt": {
          "deprecated": true,
          "documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "lt",
          "shape": "Integer"
        },
        "Lte": {
          "deprecated": true,
          "documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "lte",
          "shape": "Integer"
        },
        "Neq": {
          "deprecated": true,
          "documentation": "<p>Represents the <i>not equal</i> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "neq",
          "shape": "Neq"
        },
        "NotEquals": {
          "documentation": "<p>Represents a <i>not equal</i> <b/> condition to be applied to a single field when querying for findings.</p>",
          "locationName": "notEquals",
          "shape": "NotEquals"
        }
      },
      "type": "structure"
    },
    "Container": {
      "documentation": "<p>Details of a container.</p>",
      "members": {
        "ContainerRuntime": {
          "documentation": "<p>The container runtime (such as, Docker or containerd) used to run the container.</p>",
          "locationName": "containerRuntime",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>Container ID.</p>",
          "locationName": "id",
          "shape": "String"
        },
        "Image": {
          "documentation": "<p>Container image.</p>",
          "locationName": "image",
          "shape": "String"
        },
        "ImagePrefix": {
          "documentation": "<p>Part of the image name before the last slash. For example, imagePrefix for public.ecr.aws/amazonlinux/amazonlinux:latest would be public.ecr.aws/amazonlinux. If the image name is relative and does not have a slash, this field is empty.</p>",
          "locationName": "imagePrefix",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>Container name.</p>",
          "locationName": "name",
          "shape": "String"
        },
        "SecurityContext": {
          "documentation": "<p>Container security context.</p>",
          "locationName": "securityContext",
          "shape": "SecurityContext"
        },
        "VolumeMounts": {
          "documentation": "<p>Container volume mounts.</p>",
          "locationName": "volumeMounts",
          "shape": "VolumeMounts"
        }
      },
      "type": "structure"
    },
    "Containers": {
      "member": {
        "shape": "Container"
      },
      "type": "list"
    },
    "CountBySeverity": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Integer"
      }
    },
    "Country": {
      "documentation": "<p>Contains information about the country where the remote IP address is located.</p>",
      "members": {
        "CountryCode": {
          "documentation": "<p>The country code of the remote IP address.</p>",
          "locationName": "countryCode",
          "shape": "String"
        },
        "CountryName": {
          "documentation": "<p>The country name of the remote IP address.</p>",
          "locationName": "countryName",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateDetectorRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for the create request.</p>",
          "idempotencyToken": true,
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "DataSources": {
          "documentation": "<p>Describes which data sources will be enabled for the detector.</p>",
          "locationName": "dataSources",
          "shape": "DataSourceConfigurations"
        },
        "Enable": {
          "documentation": "<p>A Boolean value that specifies whether the detector is to be enabled.</p>",
          "locationName": "enable",
          "shape": "Boolean"
        },
        "FindingPublishingFrequency": {
          "documentation": "<p>A value that specifies how frequently updated findings are exported.</p>",
          "locationName": "findingPublishingFrequency",
          "shape": "FindingPublishingFrequency"
        },
        "Tags": {
          "documentation": "<p>The tags to be added to a new detector resource.</p>",
          "locationName": "tags",
          "shape": "TagMap"
        }
      },
      "required": [
        "Enable"
      ],
      "type": "structure"
    },
    "CreateDetectorResponse": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the created detector.</p>",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "UnprocessedDataSources": {
          "documentation": "<p>Specifies the data sources that couldn't be enabled when GuardDuty was enabled for the first time.</p>",
          "locationName": "unprocessedDataSources",
          "shape": "UnprocessedDataSourcesResult"
        }
      },
      "type": "structure"
    },
    "CreateFilterRequest": {
      "members": {
        "Action": {
          "documentation": "<p>Specifies the action that is to be applied to the findings that match the filter.</p>",
          "locationName": "action",
          "shape": "FilterAction"
        },
        "ClientToken": {
          "documentation": "<p>The idempotency token for the create request.</p>",
          "idempotencyToken": true,
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>The description of the filter.</p>",
          "locationName": "description",
          "shape": "FilterDescription"
        },
        "DetectorId": {
          "documentation": "<p>The ID of the detector belonging to the GuardDuty account that you want to create a filter for.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "FindingCriteria": {
          "documentation": "<p>Represents the criteria to be used in the filter for querying findings.</p> <p>You can only use the following attributes to query findings:</p> <ul> <li> <p>accountId</p> </li> <li> <p>region</p> </li> <li> <p>confidence</p> </li> <li> <p>id</p> </li> <li> <p>resource.accessKeyDetails.accessKeyId</p> </li> <li> <p>resource.accessKeyDetails.principalId</p> </li> <li> <p>resource.accessKeyDetails.userName</p> </li> <li> <p>resource.accessKeyDetails.userType</p> </li> <li> <p>resource.instanceDetails.iamInstanceProfile.id</p> </li> <li> <p>resource.instanceDetails.imageId</p> </li> <li> <p>resource.instanceDetails.instanceId</p> </li> <li> <p>resource.instanceDetails.outpostArn</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.ipv6Addresses</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.privateIpAddresses.privateIpAddress</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.publicDnsName</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.publicIp</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.securityGroups.groupId</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.securityGroups.groupName</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.subnetId</p> </li> <li> <p>resource.instanceDetails.networkInterfaces.vpcId</p> </li> <li> <p>resource.instanceDetails.tags.key</p> </li> <li> <p>resource.instanceDetails.tags.value</p> </li> <li> <p>resource.resourceType</p> </li> <li> <p>service.action.actionType</p> </li> <li> <p>service.action.awsApiCallAction.api</p> </li> <li> <p>service.action.awsApiCallAction.callerType</p> </li> <li> <p>service.action.awsApiCallAction.errorCode</p> </li> <li> <p>service.action.awsApiCallAction.userAgent</p> </li> <li> <p>service.action.awsApiCallAction.remoteIpDetails.city.cityName</p> </li> <li> <p>service.action.awsApiCallAction.remoteIpDetails.country.countryName</p> </li> <li> <p>service.action.awsApiCallAction.remoteIpDetails.ipAddressV4</p> </li> <li> <p>service.action.awsApiCallAction.remoteIpDetails.organization.asn</p> </li> <li> <p>service.action.awsApiCallAction.remoteIpDetails.organization.asnOrg</p> </li> <li> <p>service.action.awsApiCallAction.serviceName</p> </li> <li> <p>service.action.dnsRequestAction.domain</p> </li> <li> <p>service.action.networkConnectionAction.blocked</p> </li> <li> <p>service.action.networkConnectionAction.connectionDirection</p> </li> <li> <p>service.action.networkConnectionAction.localPortDetails.port</p> </li> <li> <p>service.action.networkConnectionAction.protocol</p> </li> <li> <p>service.action.networkConnectionAction.localIpDetails.ipAddressV4</p> </li> <li> <p>service.action.networkConnectionAction.remoteIpDetails.city.cityName</p> </li> <li> <p>service.action.networkConnectionAction.remoteIpDetails.country.countryName</p> </li> <li> <p>service.action.networkConnectionAction.remoteIpDetails.ipAddressV4</p> </li> <li> <p>service.action.networkConnectionAction.remoteIpDetails.organization.asn</p> </li> <li> <p>service.action.networkConnectionAction.remoteIpDetails.organization.asnOrg</p> </li> <li> <p>service.action.networkConnectionAction.remotePortDetails.port</p> </li> <li> <p>service.additionalInfo.threatListName</p> </li> <li> <p>resource.s3BucketDetails.publicAccess.effectivePermissions</p> </li> <li> <p>resource.s3BucketDetails.name</p> </li> <li> <p>resource.s3BucketDetails.tags.key</p> </li> <li> <p>resource.s3BucketDetails.tags.value</p> </li> <li> <p>resource.s3BucketDetails.type</p> </li> <li> <p>service.archived</p> <p>When this attribute is set to TRUE, only archived findings are listed. When it's set to FALSE, only unarchived findings are listed. When this attribute is not set, all existing findings are listed.</p> </li> <li> <p>service.resourceRole</p> </li> <li> <p>severity</p> </li> <li> <p>type</p> </li> <li> <p>updatedAt</p> <p>Type: ISO 8601 string format: YYYY-MM-DDTHH:MM:SS.SSSZ or YYYY-MM-DDTHH:MM:SSZ depending on whether the value contains milliseconds.</p> </li> </ul>",
          "locationName": "findingCriteria",
          "shape": "FindingCriteria"
        },
        "Name": {
          "documentation": "<p>The name of the filter. Minimum length of 3. Maximum length of 64. Valid characters include alphanumeric characters, dot (.), underscore (_), and dash (-). Spaces are not allowed.</p>",
          "locationName": "name",
          "shape": "FilterName"
        },
        "Rank": {
          "documentation": "<p>Specifies the position of the filter in the list of current filters. Also specifies the order in which this filter is applied to the findings.</p>",
          "locationName": "rank",
          "shape": "FilterRank"
        },
        "Tags": {
          "documentation": "<p>The tags to be added to a new filter resource.</p>",
          "locationName": "tags",
          "shape": "TagMap"
        }
      },
      "required": [
        "DetectorId",
        "Name",
        "FindingCriteria"
      ],
      "type": "structure"
    },
    "CreateFilterResponse": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the successfully created filter.</p>",
          "locationName": "name",
          "shape": "FilterName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateIPSetRequest": {
      "members": {
        "Activate": {
          "documentation": "<p>A Boolean value that indicates whether GuardDuty is to start using the uploaded IPSet.</p>",
          "locationName": "activate",
          "shape": "Boolean"
        },
        "ClientToken": {
          "documentation": "<p>The idempotency token for the create request.</p>",
          "idempotencyToken": true,
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to create an IPSet for.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "Format": {
          "documentation": "<p>The format of the file that contains the IPSet.</p>",
          "locationName": "format",
          "shape": "IpSetFormat"
        },
        "Location": {
          "documentation": "<p>The URI of the file that contains the IPSet. </p>",
          "locationName": "location",
          "shape": "Location"
        },
        "Name": {
          "documentation": "<p>The user-friendly name to identify the IPSet.</p> <p> Allowed characters are alphanumerics, spaces, hyphens (-), and underscores (_).</p>",
          "locationName": "name",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>The tags to be added to a new IP set resource.</p>",
          "locationName": "tags",
          "shape": "TagMap"
        }
      },
      "required": [
        "DetectorId",
        "Name",
        "Format",
        "Location",
        "Activate"
      ],
      "type": "structure"
    },
    "CreateIPSetResponse": {
      "members": {
        "IpSetId": {
          "documentation": "<p>The ID of the IPSet resource.</p>",
          "locationName": "ipSetId",
          "shape": "String"
        }
      },
      "required": [
        "IpSetId"
      ],
      "type": "structure"
    },
    "CreateMembersRequest": {
      "members": {
        "AccountDetails": {
          "documentation": "<p>A list of account ID and email address pairs of the accounts that you want to associate with the GuardDuty administrator account.</p>",
          "locationName": "accountDetails",
          "shape": "AccountDetails"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to associate member accounts with.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId",
        "AccountDetails"
      ],
      "type": "structure"
    },
    "CreateMembersResponse": {
      "members": {
        "UnprocessedAccounts": {
          "documentation": "<p>A list of objects that include the <code>accountIds</code> of the unprocessed accounts and a result string that explains why each was unprocessed.</p>",
          "locationName": "unprocessedAccounts",
          "shape": "UnprocessedAccounts"
        }
      },
      "required": [
        "UnprocessedAccounts"
      ],
      "type": "structure"
    },
    "CreatePublishingDestinationRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>The idempotency token for the request.</p>",
          "idempotencyToken": true,
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "DestinationProperties": {
          "documentation": "<p>The properties of the publishing destination, including the ARNs for the destination and the KMS key used for encryption.</p>",
          "locationName": "destinationProperties",
          "shape": "DestinationProperties"
        },
        "DestinationType": {
          "documentation": "<p>The type of resource for the publishing destination. Currently only Amazon S3 buckets are supported.</p>",
          "locationName": "destinationType",
          "shape": "DestinationType"
        },
        "DetectorId": {
          "documentation": "<p>The ID of the GuardDuty detector associated with the publishing destination.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId",
        "DestinationType",
        "DestinationProperties"
      ],
      "type": "structure"
    },
    "CreatePublishingDestinationResponse": {
      "members": {
        "DestinationId": {
          "documentation": "<p>The ID of the publishing destination that is created.</p>",
          "locationName": "destinationId",
          "shape": "String"
        }
      },
      "required": [
        "DestinationId"
      ],
      "type": "structure"
    },
    "CreateSampleFindingsRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The ID of the detector to create sample findings for.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "FindingTypes": {
          "documentation": "<p>The types of sample findings to generate.</p>",
          "locationName": "findingTypes",
          "shape": "FindingTypes"
        }
      },
      "required": [
        "DetectorId"
      ],
      "type": "structure"
    },
    "CreateSampleFindingsResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateThreatIntelSetRequest": {
      "members": {
        "Activate": {
          "documentation": "<p>A Boolean value that indicates whether GuardDuty is to start using the uploaded ThreatIntelSet.</p>",
          "locationName": "activate",
          "shape": "Boolean"
        },
        "ClientToken": {
          "documentation": "<p>The idempotency token for the create request.</p>",
          "idempotencyToken": true,
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to create a threatIntelSet for.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "Format": {
          "documentation": "<p>The format of the file that contains the ThreatIntelSet.</p>",
          "locationName": "format",
          "shape": "ThreatIntelSetFormat"
        },
        "Location": {
          "documentation": "<p>The URI of the file that contains the ThreatIntelSet. </p>",
          "locationName": "location",
          "shape": "Location"
        },
        "Name": {
          "documentation": "<p>A user-friendly ThreatIntelSet name displayed in all findings that are generated by activity that involves IP addresses included in this ThreatIntelSet.</p>",
          "locationName": "name",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>The tags to be added to a new threat list resource.</p>",
          "locationName": "tags",
          "shape": "TagMap"
        }
      },
      "required": [
        "DetectorId",
        "Name",
        "Format",
        "Location",
        "Activate"
      ],
      "type": "structure"
    },
    "CreateThreatIntelSetResponse": {
      "members": {
        "ThreatIntelSetId": {
          "documentation": "<p>The ID of the ThreatIntelSet resource.</p>",
          "locationName": "threatIntelSetId",
          "shape": "String"
        }
      },
      "required": [
        "ThreatIntelSetId"
      ],
      "type": "structure"
    },
    "Criterion": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Condition"
      }
    },
    "CriterionKey": {
      "enum": [
        "EC2_INSTANCE_ARN",
        "SCAN_ID",
        "ACCOUNT_ID",
        "GUARDDUTY_FINDING_ID",
        "SCAN_START_TIME",
        "SCAN_STATUS"
      ],
      "type": "string"
    },
    "DNSLogsConfigurationResult": {
      "documentation": "<p>Contains information on the status of DNS logs as a data source.</p>",
      "members": {
        "Status": {
          "documentation": "<p>Denotes whether DNS logs is enabled as a data source.</p>",
          "locationName": "status",
          "shape": "DataSourceStatus"
        }
      },
      "required": [
        "Status"
      ],
      "type": "structure"
    },
    "DataSource": {
      "enum": [
        "FLOW_LOGS",
        "CLOUD_TRAIL",
        "DNS_LOGS",
        "S3_LOGS",
        "KUBERNETES_AUDIT_LOGS",
        "EC2_MALWARE_SCAN"
      ],
      "type": "string"
    },
    "DataSourceConfigurations": {
      "documentation": "<p>Contains information about which data sources are enabled.</p>",
      "members": {
        "Kubernetes": {
          "documentation": "<p>Describes whether any Kubernetes logs are enabled as data sources.</p>",
          "locationName": "kubernetes",
          "shape": "KubernetesConfiguration"
        },
        "MalwareProtection": {
          "documentation": "<p>Describes whether Malware Protection is enabled as a data source.</p>",
          "locationName": "malwareProtection",
          "shape": "MalwareProtectionConfiguration"
        },
        "S3Logs": {
          "documentation": "<p>Describes whether S3 data event logs are enabled as a data source.</p>",
          "locationName": "s3Logs",
          "shape": "S3LogsConfiguration"
        }
      },
      "type": "structure"
    },
    "DataSourceConfigurationsResult": {
      "documentation": "<p>Contains information on the status of data sources for the detector.</p>",
      "members": {
        "CloudTrail": {
          "documentation": "<p>An object that contains information on the status of CloudTrail as a data source.</p>",
          "locationName": "cloudTrail",
          "shape": "CloudTrailConfigurationResult"
        },
        "DNSLogs": {
          "documentation": "<p>An object that contains information on the status of DNS logs as a data source.</p>",
          "locationName": "dnsLogs",
          "shape": "DNSLogsConfigurationResult"
        },
        "FlowLogs": {
          "documentation": "<p>An object that contains information on the status of VPC flow logs as a data source.</p>",
          "locationName": "flowLogs",
          "shape": "FlowLogsConfigurationResult"
        },
        "Kubernetes": {
          "documentation": "<p>An object that contains information on the status of all Kubernetes data sources.</p>",
          "locationName": "kubernetes",
          "shape": "KubernetesConfigurationResult"
        },
        "MalwareProtection": {
          "documentation": "<p>Describes the configuration of Malware Protection data sources.</p>",
          "locationName": "malwareProtection",
          "shape": "MalwareProtectionConfigurationResult"
        },
        "S3Logs": {
          "documentation": "<p>An object that contains information on the status of S3 Data event logs as a data source.</p>",
          "locationName": "s3Logs",
          "shape": "S3LogsConfigurationResult"
        }
      },
      "required": [
        "CloudTrail",
        "DNSLogs",
        "FlowLogs",
        "S3Logs"
      ],
      "type": "structure"
    },
    "DataSourceFreeTrial": {
      "documentation": "<p>Contains information about which data sources are enabled for the GuardDuty member account.</p>",
      "members": {
        "FreeTrialDaysRemaining": {
          "documentation": "<p>A value that specifies the number of days left to use each enabled data source.</p>",
          "locationName": "freeTrialDaysRemaining",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "DataSourceList": {
      "member": {
        "shape": "DataSource"
      },
      "type": "list"
    },
    "DataSourceStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "max": 300,
      "min": 1,
      "type": "string"
    },
    "DataSourcesFreeTrial": {
      "documentation": "<p>Contains information about which data sources are enabled for the GuardDuty member account.</p>",
      "members": {
        "CloudTrail": {
          "documentation": "<p>Describes whether any Amazon Web Services CloudTrail management event logs are enabled as data sources.</p>",
          "locationName": "cloudTrail",
          "shape": "DataSourceFreeTrial"
        },
        "DnsLogs": {
          "documentation": "<p>Describes whether any DNS logs are enabled as data sources.</p>",
          "locationName": "dnsLogs",
          "shape": "DataSourceFreeTrial"
        },
        "FlowLogs": {
          "documentation": "<p>Describes whether any VPC Flow logs are enabled as data sources.</p>",
          "locationName": "flowLogs",
          "shape": "DataSourceFreeTrial"
        },
        "Kubernetes": {
          "documentation": "<p>Describes whether any Kubernetes logs are enabled as data sources.</p>",
          "locationName": "kubernetes",
          "shape": "KubernetesDataSourceFreeTrial"
        },
        "MalwareProtection": {
          "documentation": "<p>Describes whether Malware Protection is enabled as a data source.</p>",
          "locationName": "malwareProtection",
          "shape": "MalwareProtectionDataSourceFreeTrial"
        },
        "S3Logs": {
          "documentation": "<p>Describes whether any S3 data event logs are enabled as data sources.</p>",
          "locationName": "s3Logs",
          "shape": "DataSourceFreeTrial"
        }
      },
      "type": "structure"
    },
    "DeclineInvitationsRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>A list of account IDs of the Amazon Web Services accounts that sent invitations to the current member account that you want to decline invitations from.</p>",
          "locationName": "accountIds",
          "shape": "AccountIds"
        }
      },
      "required": [
        "AccountIds"
      ],
      "type": "structure"
    },
    "DeclineInvitationsResponse": {
      "members": {
        "UnprocessedAccounts": {
          "documentation": "<p>A list of objects that contain the unprocessed account and a result string that explains why it was unprocessed.</p>",
          "locationName": "unprocessedAccounts",
          "shape": "UnprocessedAccounts"
        }
      },
      "required": [
        "UnprocessedAccounts"
      ],
      "type": "structure"
    },
    "DefaultServerSideEncryption": {
      "documentation": "<p>Contains information on the server side encryption method used in the S3 bucket. See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/serv-side-encryption.html\">S3 Server-Side Encryption</a> for more information.</p>",
      "members": {
        "EncryptionType": {
          "documentation": "<p>The type of encryption used for objects within the S3 bucket.</p>",
          "locationName": "encryptionType",
          "shape": "String"
        },
        "KmsMasterKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the KMS encryption key. Only available if the bucket <code>EncryptionType</code> is <code>aws:kms</code>.</p>",
          "locationName": "kmsMasterKeyArn",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteDetectorRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector that you want to delete.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId"
      ],
      "type": "structure"
    },
    "DeleteDetectorResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteFilterRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector that the filter is associated with.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "FilterName": {
          "documentation": "<p>The name of the filter that you want to delete.</p>",
          "location": "uri",
          "locationName": "filterName",
          "shape": "String"
        }
      },
      "required": [
        "DetectorId",
        "FilterName"
      ],
      "type": "structure"
    },
    "DeleteFilterResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteIPSetRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector associated with the IPSet.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "IpSetId": {
          "documentation": "<p>The unique ID of the IPSet to delete.</p>",
          "location": "uri",
          "locationName": "ipSetId",
          "shape": "String"
        }
      },
      "required": [
        "DetectorId",
        "IpSetId"
      ],
      "type": "structure"
    },
    "DeleteIPSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteInvitationsRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>A list of account IDs of the Amazon Web Services accounts that sent invitations to the current member account that you want to delete invitations from.</p>",
          "locationName": "accountIds",
          "shape": "AccountIds"
        }
      },
      "required": [
        "AccountIds"
      ],
      "type": "structure"
    },
    "DeleteInvitationsResponse": {
      "members": {
        "UnprocessedAccounts": {
          "documentation": "<p>A list of objects that contain the unprocessed account and a result string that explains why it was unprocessed.</p>",
          "locationName": "unprocessedAccounts",
          "shape": "UnprocessedAccounts"
        }
      },
      "required": [
        "UnprocessedAccounts"
      ],
      "type": "structure"
    },
    "DeleteMembersRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>A list of account IDs of the GuardDuty member accounts that you want to delete.</p>",
          "locationName": "accountIds",
          "shape": "AccountIds"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector of the GuardDuty account whose members you want to delete.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId",
        "AccountIds"
      ],
      "type": "structure"
    },
    "DeleteMembersResponse": {
      "members": {
        "UnprocessedAccounts": {
          "documentation": "<p>The accounts that could not be processed.</p>",
          "locationName": "unprocessedAccounts",
          "shape": "UnprocessedAccounts"
        }
      },
      "required": [
        "UnprocessedAccounts"
      ],
      "type": "structure"
    },
    "DeletePublishingDestinationRequest": {
      "members": {
        "DestinationId": {
          "documentation": "<p>The ID of the publishing destination to delete.</p>",
          "location": "uri",
          "locationName": "destinationId",
          "shape": "String"
        },
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector associated with the publishing destination to delete.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId",
        "DestinationId"
      ],
      "type": "structure"
    },
    "DeletePublishingDestinationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteThreatIntelSetRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector that the threatIntelSet is associated with.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "ThreatIntelSetId": {
          "documentation": "<p>The unique ID of the threatIntelSet that you want to delete.</p>",
          "location": "uri",
          "locationName": "threatIntelSetId",
          "shape": "String"
        }
      },
      "required": [
        "DetectorId",
        "ThreatIntelSetId"
      ],
      "type": "structure"
    },
    "DeleteThreatIntelSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeMalwareScansRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The unique ID of the detector that the request is associated with.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        },
        "FilterCriteria": {
          "documentation": "<p>Represents the criteria to be used in the filter for describing scan entries.</p>",
          "locationName": "filterCriteria",
          "shape": "FilterCriteria"
        },
        "MaxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items that you want in the response. The default value is 50. The maximum value is 50.</p>",
          "locationName": "maxResults",
          "shape": "IntegerValueWithMax"
        },
        "NextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the list action. For subsequent calls to the action, fill nextToken in the request with the value of NextToken from the previous response to continue listing data.</p>",
          "locationName": "nextToken",
          "shape": "String"
        },
        "SortCriteria": {
          "documentation": "<p>Represents the criteria used for sorting scan entries.</p>",
          "locationName": "sortCriteria",
          "shape": "SortCriteria"
        }
      },
      "required": [
        "DetectorId"
      ],
      "type": "structure"
    },
    "DescribeMalwareScansResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination parameter to be used on the next list operation to retrieve more items.</p>",
          "locationName": "nextToken",
          "shape": "String"
        },
        "Scans": {
          "documentation": "<p>Contains information about malware scans.</p>",
          "locationName": "scans",
          "shape": "Scans"
        }
      },
      "required": [
        "Scans"
      ],
      "type": "structure"
    },
    "DescribeOrganizationConfigurationRequest": {
      "members": {
        "DetectorId": {
          "documentation": "<p>The ID of the detector to retrieve information about the delegated administrator from.</p>",
          "location": "uri",
          "locationName": "detectorId",
          "shape": "DetectorId"
        }
      },
      "required": [
        "DetectorId"
      ],
      "type": "structure"
    },
    "DescribeOrganizationConfigurationResponse": {
      "members": {
        "AutoEnable": {
          "documentation": "<p>Indicates whether GuardDuty is automatically enabled for accounts added to the organization.</p>",
          "locationName": "autoEnable",
          "shape": "Boolean"
        },
        "DataSources": {
[...]
