{
  "documentation": "<fullname>Amazon Data Lifecycle Manager</fullname> <p>With Amazon Data Lifecycle Manager, you can manage the lifecycle of your Amazon Web Services resources. You create lifecycle policies, which are used to automate operations on the specified resources.</p> <p>Amazon Data Lifecycle Manager supports Amazon EBS volumes and snapshots. For information about using Amazon Data Lifecycle Manager with Amazon EBS, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\"> Amazon Data Lifecycle Manager</a> in the <i>Amazon EC2 User Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2018-01-12",
    "endpointPrefix": "dlm",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amazon DLM",
    "serviceFullName": "Amazon Data Lifecycle Manager",
    "serviceId": "DLM",
    "signatureVersion": "v4",
    "signingName": "dlm",
    "uid": "dlm-2018-01-12"
  },
  "operations": {
    "CreateLifecyclePolicy": {
      "documentation": "<p>Creates a policy to manage the lifecycle of the specified Amazon Web Services resources. You can create up to 100 lifecycle policies.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policies"
      },
      "input": {
        "shape": "CreateLifecyclePolicyRequest"
      },
      "name": "CreateLifecyclePolicy",
      "output": {
        "shape": "CreateLifecyclePolicyResponse"
      }
    },
    "DeleteLifecyclePolicy": {
      "documentation": "<p>Deletes the specified lifecycle policy and halts the automated operations that the policy specified.</p> <p>For more information about deleting a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#delete\">Delete lifecycle policies</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policies/{policyId}/"
      },
      "input": {
        "shape": "DeleteLifecyclePolicyRequest"
      },
      "name": "DeleteLifecyclePolicy",
      "output": {
        "shape": "DeleteLifecyclePolicyResponse"
      }
    },
    "GetLifecyclePolicies": {
      "documentation": "<p>Gets summary information about all or the specified data lifecycle policies.</p> <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policies"
      },
      "input": {
        "shape": "GetLifecyclePoliciesRequest"
      },
      "name": "GetLifecyclePolicies",
      "output": {
        "shape": "GetLifecyclePoliciesResponse"
      }
    },
    "GetLifecyclePolicy": {
      "documentation": "<p>Gets detailed information about the specified lifecycle policy.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policies/{policyId}/"
      },
      "input": {
        "shape": "GetLifecyclePolicyRequest"
      },
      "name": "GetLifecyclePolicy",
      "output": {
        "shape": "GetLifecyclePolicyResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateLifecyclePolicy": {
      "documentation": "<p>Updates the specified lifecycle policy.</p> <p>For more information about updating a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#modify\">Modify lifecycle policies</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/policies/{policyId}"
      },
      "input": {
        "shape": "UpdateLifecyclePolicyRequest"
      },
      "name": "UpdateLifecyclePolicy",
      "output": {
        "shape": "UpdateLifecyclePolicyResponse"
      }
    }
  },
  "shapes": {
    "Action": {
      "documentation": "<p> <b>[Event-based policies only]</b> Specifies an action for an event-based policy.</p>",
      "members": {
        "CrossRegionCopy": {
          "documentation": "<p>The rule for copying shared snapshots across Regions.</p>",
          "shape": "CrossRegionCopyActionList"
        },
        "Name": {
          "documentation": "<p>A descriptive name for the action.</p>",
          "shape": "ActionName"
        }
      },
      "required": [
        "Name",
        "CrossRegionCopy"
      ],
      "type": "structure"
    },
    "ActionList": {
      "max": 1,
      "member": {
        "shape": "Action"
      },
      "min": 1,
      "type": "list"
    },
    "ActionName": {
      "max": 120,
      "min": 0,
      "pattern": "[0-9A-Za-z _-]+",
      "type": "string"
    },
    "ArchiveRetainRule": {
      "documentation": "<p> <b>[Snapshot policies only]</b> Specifies information about the archive storage tier retention period.</p>",
      "members": {
        "RetentionArchiveTier": {
          "documentation": "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon EBS snapshots</a>.</p>",
          "shape": "RetentionArchiveTier"
        }
      },
      "required": [
        "RetentionArchiveTier"
      ],
      "type": "structure"
    },
    "ArchiveRule": {
      "documentation": "<p> <b>[Snapshot policies only]</b> Specifies a snapshot archiving rule for a schedule.</p>",
      "members": {
        "RetainRule": {
          "documentation": "<p>Information about the retention period for the snapshot archiving rule.</p>",
          "shape": "ArchiveRetainRule"
        }
      },
      "required": [
        "RetainRule"
      ],
      "type": "structure"
    },
    "AvailabilityZone": {
      "max": 16,
      "min": 0,
      "pattern": "([a-z]+-){2,3}\\d[a-z]",
      "type": "string"
    },
    "AvailabilityZoneList": {
      "max": 10,
      "member": {
        "shape": "AvailabilityZone"
      },
      "min": 1,
      "type": "list"
    },
    "AwsAccountId": {
      "max": 12,
      "min": 12,
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "CmkArn": {
      "max": 2048,
      "min": 0,
      "pattern": "arn:aws(-[a-z]{1,3}){0,2}:kms:([a-z]+-){2,3}\\d:\\d+:key/.*",
      "type": "string"
    },
    "CopyTags": {
      "type": "boolean"
    },
    "CopyTagsNullable": {
      "type": "boolean"
    },
    "Count": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "CreateLifecyclePolicyRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.</p>",
          "shape": "PolicyDescription"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
          "shape": "ExecutionRoleArn"
        },
        "PolicyDetails": {
          "documentation": "<p>The configuration details of the lifecycle policy.</p>",
          "shape": "PolicyDetails"
        },
        "State": {
          "documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>",
          "shape": "SettablePolicyStateValues"
        },
        "Tags": {
          "documentation": "<p>The tags to apply to the lifecycle policy during creation.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ExecutionRoleArn",
        "Description",
        "State",
        "PolicyDetails"
      ],
      "type": "structure"
    },
    "CreateLifecyclePolicyResponse": {
      "members": {
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "shape": "PolicyId"
        }
      },
      "type": "structure"
    },
    "CreateRule": {
      "documentation": "<p> <b>[Snapshot and AMI policies only]</b> Specifies when the policy should create snapshots or AMIs.</p> <note> <ul> <li> <p>You must specify either <b>CronExpression</b>, or <b>Interval</b>, <b>IntervalUnit</b>, and <b>Times</b>.</p> </li> <li> <p>If you need to specify an <a>ArchiveRule</a> for the schedule, then you must specify a creation frequency of at least 28 days.</p> </li> </ul> </note>",
      "members": {
        "CronExpression": {
          "documentation": "<p>The schedule, as a Cron expression. The schedule interval must be between 1 hour and 1 year. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions\">Cron expressions</a> in the <i>Amazon CloudWatch User Guide</i>.</p>",
          "shape": "CronExpression"
        },
        "Interval": {
          "documentation": "<p>The interval between snapshots. The supported values are 1, 2, 3, 4, 6, 8, 12, and 24.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The interval unit.</p>",
          "shape": "IntervalUnitValues"
        },
        "Location": {
          "documentation": "<p> <b>[Snapshot policies only]</b> Specifies the destination for snapshots created by the policy. To create snapshots in the same Region as the source resource, specify <code>CLOUD</code>. To create snapshots on the same Outpost as the source resource, specify <code>OUTPOST_LOCAL</code>. If you omit this parameter, <code>CLOUD</code> is used by default.</p> <p>If the policy targets resources in an Amazon Web Services Region, then you must create snapshots in the same Region as the source resource. If the policy targets resources on an Outpost, then you can create snapshots on the same Outpost as the source resource, or in the Region of that Outpost.</p>",
          "shape": "LocationValues"
        },
        "Times": {
          "documentation": "<p>The time, in UTC, to start the operation. The supported format is hh:mm.</p> <p>The operation occurs within a one-hour window following the specified time. If you do not specify a time, Amazon Data Lifecycle Manager selects a time within the next 24 hours.</p>",
          "shape": "TimesList"
        }
      },
      "type": "structure"
    },
    "CronExpression": {
      "max": 106,
      "min": 17,
      "pattern": "cron\\([^\\n]{11,100}\\)",
      "type": "string"
    },
    "CrossRegionCopyAction": {
      "documentation": "<p> <b>[Event-based policies only]</b> Specifies a cross-Region copy action for event-based policies.</p> <note> <p>To specify a cross-Region copy rule for snapshot and AMI policies, use <a>CrossRegionCopyRule</a>.</p> </note>",
      "members": {
        "EncryptionConfiguration": {
          "documentation": "<p>The encryption settings for the copied snapshot.</p>",
          "shape": "EncryptionConfiguration"
        },
        "RetainRule": {
          "shape": "CrossRegionCopyRetainRule"
        },
        "Target": {
          "documentation": "<p>The target Region.</p>",
          "shape": "Target"
        }
      },
      "required": [
        "Target",
        "EncryptionConfiguration"
      ],
      "type": "structure"
    },
    "CrossRegionCopyActionList": {
      "max": 3,
      "member": {
        "shape": "CrossRegionCopyAction"
      },
      "min": 0,
      "type": "list"
    },
    "CrossRegionCopyDeprecateRule": {
      "documentation": "<p> <b>[AMI policies only]</b> Specifies an AMI deprecation rule for cross-Region AMI copies created by an AMI policy.</p>",
      "members": {
        "Interval": {
          "documentation": "<p>The period after which to deprecate the cross-Region AMI copies. The period must be less than or equal to the cross-Region AMI copy retention period, and it can't be greater than 10 years. This is equivalent to 120 months, 520 weeks, or 3650 days.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time in which to measure the <b>Interval</b>. For example, to deprecate a cross-Region AMI copy after 3 months, specify <code>Interval=3</code> and <code>IntervalUnit=MONTHS</code>.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "type": "structure"
    },
    "CrossRegionCopyRetainRule": {
      "documentation": "<p>Specifies a retention rule for cross-Region snapshot copies created by snapshot or event-based policies, or cross-Region AMI copies created by AMI policies. After the retention period expires, the cross-Region copy is deleted.</p>",
      "members": {
        "Interval": {
          "documentation": "<p>The amount of time to retain a cross-Region snapshot or AMI copy. The maximum is 100 years. This is equivalent to 1200 months, 5200 weeks, or 36500 days.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time for time-based retention. For example, to retain a cross-Region copy for 3 months, specify <code>Interval=3</code> and <code>IntervalUnit=MONTHS</code>.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "type": "structure"
    },
    "CrossRegionCopyRule": {
      "documentation": "<p> <b>[Snapshot and AMI policies only]</b> Specifies a cross-Region copy rule for snapshot and AMI policies.</p> <note> <p>To specify a cross-Region copy action for event-based polices, use <a>CrossRegionCopyAction</a>.</p> </note>",
      "members": {
        "CmkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If this parameter is not specified, the default KMS key for the account is used.</p>",
          "shape": "CmkArn"
        },
        "CopyTags": {
          "documentation": "<p>Indicates whether to copy all user-defined tags from the source snapshot or AMI to the cross-Region copy.</p>",
          "shape": "CopyTagsNullable"
        },
        "DeprecateRule": {
          "documentation": "<p> <b>[AMI policies only]</b> The AMI deprecation rule for cross-Region AMI copies created by the rule.</p>",
          "shape": "CrossRegionCopyDeprecateRule"
        },
        "Encrypted": {
          "documentation": "<p>To encrypt a copy of an unencrypted snapshot if encryption by default is not enabled, enable encryption using this parameter. Copies of encrypted snapshots are encrypted, even if this parameter is false or if encryption by default is not enabled.</p>",
          "shape": "Encrypted"
        },
        "RetainRule": {
          "documentation": "<p>The retention rule that indicates how long the cross-Region snapshot or AMI copies are to be retained in the destination Region.</p>",
          "shape": "CrossRegionCopyRetainRule"
        },
        "Target": {
          "documentation": "<p>The target Region or the Amazon Resource Name (ARN) of the target Outpost for the snapshot copies.</p> <p>Use this parameter instead of <b>TargetRegion</b>. Do not specify both.</p>",
          "shape": "Target"
        },
        "TargetRegion": {
          "documentation": "<note> <p>Avoid using this parameter when creating new policies. Instead, use <b>Target</b> to specify a target Region or a target Outpost for snapshot copies.</p> <p>For policies created before the <b>Target</b> parameter was introduced, this parameter indicates the target Region for snapshot copies.</p> </note>",
          "shape": "TargetRegion"
        }
      },
      "required": [
        "Encrypted"
      ],
      "type": "structure"
    },
    "CrossRegionCopyRules": {
      "max": 3,
      "member": {
        "shape": "CrossRegionCopyRule"
      },
      "min": 0,
      "type": "list"
    },
    "DeleteLifecyclePolicyRequest": {
      "members": {
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "location": "uri",
          "locationName": "policyId",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "DeleteLifecyclePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeprecateRule": {
      "documentation": "<p> <b>[AMI policies only]</b> Specifies an AMI deprecation rule for AMIs created by an AMI lifecycle policy.</p> <p>For age-based schedules, you must specify <b>Interval</b> and <b>IntervalUnit</b>. For count-based schedules, you must specify <b>Count</b>.</p>",
      "members": {
        "Count": {
          "documentation": "<p>If the schedule has a count-based retention rule, this parameter specifies the number of oldest AMIs to deprecate. The count must be less than or equal to the schedule's retention count, and it can't be greater than 1000.</p>",
          "shape": "Count"
        },
        "Interval": {
          "documentation": "<p>If the schedule has an age-based retention rule, this parameter specifies the period after which to deprecate AMIs created by the schedule. The period must be less than or equal to the schedule's retention period, and it can't be greater than 10 years. This is equivalent to 120 months, 520 weeks, or 3650 days.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time in which to measure the <b>Interval</b>.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "type": "structure"
    },
    "DescriptionRegex": {
      "max": 1000,
      "min": 0,
      "pattern": "[\\p{all}]*",
      "type": "string"
    },
    "Encrypted": {
      "type": "boolean"
    },
    "EncryptionConfiguration": {
      "documentation": "<p> <b>[Event-based policies only]</b> Specifies the encryption settings for cross-Region snapshot copies created by event-based policies.</p>",
      "members": {
        "CmkArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If this parameter is not specified, the default KMS key for the account is used.</p>",
          "shape": "CmkArn"
        },
        "Encrypted": {
          "documentation": "<p>To encrypt a copy of an unencrypted snapshot when encryption by default is not enabled, enable encryption using this parameter. Copies of encrypted snapshots are encrypted, even if this parameter is false or when encryption by default is not enabled.</p>",
          "shape": "Encrypted"
        }
      },
      "required": [
        "Encrypted"
      ],
      "type": "structure"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventParameters": {
      "documentation": "<p> <b>[Event-based policies only]</b> Specifies an event that activates an event-based policy.</p>",
      "members": {
        "DescriptionRegex": {
          "documentation": "<p>The snapshot description that can trigger the policy. The description pattern is specified using a regular expression. The policy runs only if a snapshot with a description that matches the specified pattern is shared with your account.</p> <p>For example, specifying <code>^.*Created for policy: policy-1234567890abcdef0.*$</code> configures the policy to run only if snapshots created by policy <code>policy-1234567890abcdef0</code> are shared with your account.</p>",
          "shape": "DescriptionRegex"
        },
        "EventType": {
          "documentation": "<p>The type of event. Currently, only snapshot sharing events are supported.</p>",
          "shape": "EventTypeValues"
        },
        "SnapshotOwner": {
          "documentation": "<p>The IDs of the Amazon Web Services accounts that can trigger policy by sharing snapshots with your account. The policy only runs if one of the specified Amazon Web Services accounts shares a snapshot with your account.</p>",
          "shape": "SnapshotOwnerList"
        }
      },
      "required": [
        "EventType",
        "SnapshotOwner",
        "DescriptionRegex"
      ],
      "type": "structure"
    },
    "EventSource": {
      "documentation": "<p> <b>[Event-based policies only]</b> Specifies an event that activates an event-based policy.</p>",
      "members": {
        "Parameters": {
          "documentation": "<p>Information about the event.</p>",
          "shape": "EventParameters"
        },
        "Type": {
          "documentation": "<p>The source of the event. Currently only managed CloudWatch Events rules are supported.</p>",
          "shape": "EventSourceValues"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "EventSourceValues": {
      "enum": [
        "MANAGED_CWE"
      ],
      "type": "string"
    },
    "EventTypeValues": {
      "enum": [
        "shareSnapshot"
      ],
      "type": "string"
    },
    "ExcludeBootVolume": {
      "type": "boolean"
    },
    "ExcludeDataVolumeTagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "ExecutionRoleArn": {
      "max": 2048,
      "min": 0,
      "pattern": "arn:aws(-[a-z]{1,3}){0,2}:iam::\\d+:role/.*",
      "type": "string"
    },
    "FastRestoreRule": {
      "documentation": "<p> <b>[Snapshot policies only]</b> Specifies a rule for enabling fast snapshot restore for snapshots created by snapshot policies. You can enable fast snapshot restore based on either a count or a time interval.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The Availability Zones in which to enable fast snapshot restore.</p>",
          "shape": "AvailabilityZoneList"
        },
        "Count": {
          "documentation": "<p>The number of snapshots to be enabled with fast snapshot restore.</p>",
          "shape": "Count"
        },
        "Interval": {
          "documentation": "<p>The amount of time to enable fast snapshot restore. The maximum is 100 years. This is equivalent to 1200 months, 5200 weeks, or 36500 days.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time for enabling fast snapshot restore.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "required": [
        "AvailabilityZones"
      ],
      "type": "structure"
    },
    "GetLifecyclePoliciesRequest": {
      "members": {
        "PolicyIds": {
          "documentation": "<p>The identifiers of the data lifecycle policies.</p>",
          "location": "querystring",
          "locationName": "policyIds",
          "shape": "PolicyIdList"
        },
        "ResourceTypes": {
          "documentation": "<p>The resource type.</p>",
          "location": "querystring",
          "locationName": "resourceTypes",
          "shape": "ResourceTypeValuesList"
        },
        "State": {
          "documentation": "<p>The activation state.</p>",
          "location": "querystring",
          "locationName": "state",
          "shape": "GettablePolicyStateValues"
        },
        "TagsToAdd": {
          "documentation": "<p>The tags to add to objects created by the policy.</p> <p>Tags are strings in the format <code>key=value</code>.</p> <p>These user-defined tags are added in addition to the Amazon Web Services-added lifecycle tags.</p>",
          "location": "querystring",
          "locationName": "tagsToAdd",
          "shape": "TagsToAddFilterList"
        },
        "TargetTags": {
          "documentation": "<p>The target tag for a policy.</p> <p>Tags are strings in the format <code>key=value</code>.</p>",
          "location": "querystring",
          "locationName": "targetTags",
          "shape": "TargetTagsFilterList"
        }
      },
      "type": "structure"
    },
    "GetLifecyclePoliciesResponse": {
      "members": {
        "Policies": {
          "documentation": "<p>Summary information about the lifecycle policies.</p>",
          "shape": "LifecyclePolicySummaryList"
        }
      },
      "type": "structure"
    },
    "GetLifecyclePolicyRequest": {
      "members": {
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "location": "uri",
          "locationName": "policyId",
          "shape": "PolicyId"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "GetLifecyclePolicyResponse": {
      "members": {
        "Policy": {
          "documentation": "<p>Detailed information about the lifecycle policy.</p>",
          "shape": "LifecyclePolicy"
        }
      },
      "type": "structure"
    },
    "GettablePolicyStateValues": {
      "enum": [
        "ENABLED",
        "DISABLED",
        "ERROR"
      ],
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>The service failed in an unexpected way.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Interval": {
      "min": 1,
      "type": "integer"
    },
    "IntervalUnitValues": {
      "enum": [
        "HOURS"
      ],
      "type": "string"
    },
    "InvalidRequestException": {
      "documentation": "<p>Bad request. The request is missing required parameters or has invalid parameters.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "MutuallyExclusiveParameters": {
          "documentation": "<p>The request included parameters that cannot be provided together.</p>",
          "shape": "ParameterList"
        },
        "RequiredParameters": {
          "documentation": "<p>The request omitted one or more required parameters.</p>",
          "shape": "ParameterList"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicy": {
      "documentation": "<p> <b>[All policy types]</b> Detailed information about a snapshot, AMI, or event-based lifecycle policy.</p>",
      "members": {
        "DateCreated": {
          "documentation": "<p>The local date and time when the lifecycle policy was created.</p>",
          "shape": "Timestamp"
        },
        "DateModified": {
          "documentation": "<p>The local date and time when the lifecycle policy was last modified.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the lifecycle policy.</p>",
          "shape": "PolicyDescription"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
          "shape": "ExecutionRoleArn"
        },
        "PolicyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>",
          "shape": "PolicyArn"
        },
        "PolicyDetails": {
          "documentation": "<p>The configuration of the lifecycle policy</p>",
          "shape": "PolicyDetails"
        },
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "shape": "PolicyId"
        },
        "State": {
          "documentation": "<p>The activation state of the lifecycle policy.</p>",
          "shape": "GettablePolicyStateValues"
        },
        "StatusMessage": {
          "documentation": "<p>The description of the status.</p>",
          "shape": "StatusMessage"
        },
        "Tags": {
          "documentation": "<p>The tags.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicySummary": {
      "documentation": "<p>Summary information about a lifecycle policy.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the lifecycle policy.</p>",
          "shape": "PolicyDescription"
        },
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "shape": "PolicyId"
        },
        "PolicyType": {
          "documentation": "<p>The type of policy. <code>EBS_SNAPSHOT_MANAGEMENT</code> indicates that the policy manages the lifecycle of Amazon EBS snapshots. <code>IMAGE_MANAGEMENT</code> indicates that the policy manages the lifecycle of EBS-backed AMIs. <code>EVENT_BASED_POLICY</code> indicates that the policy automates cross-account snapshot copies for snapshots that are shared with your account.</p>",
          "shape": "PolicyTypeValues"
        },
        "State": {
          "documentation": "<p>The activation state of the lifecycle policy.</p>",
          "shape": "GettablePolicyStateValues"
        },
        "Tags": {
          "documentation": "<p>The tags.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicySummaryList": {
      "member": {
        "shape": "LifecyclePolicySummary"
      },
      "type": "list"
    },
    "LimitExceededException": {
      "documentation": "<p>The request failed because a limit was exceeded.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "ResourceType": {
          "documentation": "<p>Value is the type of resource for which a limit was exceeded.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "PolicyArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>Information about the tags.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "LocationValues": {
      "enum": [
        "CLOUD",
        "OUTPOST_LOCAL"
      ],
      "type": "string"
    },
    "NoReboot": {
      "type": "boolean"
    },
    "Parameter": {
      "type": "string"
    },
    "ParameterList": {
      "member": {
        "shape": "Parameter"
      },
      "type": "list"
    },
    "Parameters": {
      "documentation": "<p> <b>[Snapshot and AMI policies only]</b> Specifies optional parameters for snapshot and AMI policies. The set of valid parameters depends on the combination of policy type and target resource type.</p> <p>If you choose to exclude boot volumes and you specify tags that consequently exclude all of the additional data volumes attached to an instance, then Amazon Data Lifecycle Manager will not create any snapshots for the affected instance, and it will emit a <code>SnapshotsCreateFailed</code> Amazon CloudWatch metric. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/monitor-dlm-cw-metrics.html\">Monitor your policies using Amazon CloudWatch</a>.</p>",
      "members": {
        "ExcludeBootVolume": {
          "documentation": "<p> <b>[Snapshot policies that target instances only]</b> Indicates whether to exclude the root volume from multi-volume snapshot sets. The default is <code>false</code>. If you specify <code>true</code>, then the root volumes attached to targeted instances will be excluded from the multi-volume snapshot sets created by the policy.</p>",
          "shape": "ExcludeBootVolume"
        },
        "ExcludeDataVolumeTags": {
          "documentation": "<p> <b>[Snapshot policies that target instances only]</b> The tags used to identify data (non-root) volumes to exclude from multi-volume snapshot sets.</p> <p>If you create a snapshot lifecycle policy that targets instances and you specify tags for this parameter, then data volumes with the specified tags that are attached to targeted instances will be excluded from the multi-volume snapshot sets created by the policy.</p>",
          "shape": "ExcludeDataVolumeTagList"
        },
        "NoReboot": {
          "documentation": "<p> <b>[AMI policies only]</b> Indicates whether targeted instances are rebooted when the lifecycle policy runs. <code>true</code> indicates that targeted instances are not rebooted when the policy runs. <code>false</code> indicates that target instances are rebooted when the policy runs. The default is <code>true</code> (instances are not rebooted).</p>",
          "shape": "NoReboot"
        }
      },
      "type": "structure"
    },
    "PolicyArn": {
      "max": 2048,
      "min": 0,
      "pattern": "^arn:aws(-[a-z]{1,3}){0,2}:dlm:[A-Za-z0-9_/.-]{0,63}:\\d+:policy/[0-9A-Za-z_-]{1,128}$",
      "type": "string"
    },
    "PolicyDescription": {
      "max": 500,
      "min": 0,
      "pattern": "[0-9A-Za-z _-]+",
      "type": "string"
    },
    "PolicyDetails": {
      "documentation": "<p> <b>[All policy types]</b> Specifies the configuration of a lifecycle policy.</p>",
      "members": {
        "Actions": {
          "documentation": "<p> <b>[Event-based policies only]</b> The actions to be performed when the event-based policy is activated. You can specify only one action per policy.</p>",
          "shape": "ActionList"
        },
        "EventSource": {
          "documentation": "<p> <b>[Event-based policies only]</b> The event that activates the event-based policy.</p>",
          "shape": "EventSource"
        },
        "Parameters": {
          "documentation": "<p> <b>[Snapshot and AMI policies only]</b> A set of optional parameters for snapshot and AMI lifecycle policies. </p> <note> <p>If you are modifying a policy that was created or previously modified using the Amazon Data Lifecycle Manager console, then you must include this parameter and specify either the default values or the new values that you require. You can't omit this parameter or set its values to null.</p> </note>",
          "shape": "Parameters"
        },
        "PolicyType": {
          "documentation": "<p> <b>[All policy types]</b> The valid target resource types and actions a policy can manage. Specify <code>EBS_SNAPSHOT_MANAGEMENT</code> to create a lifecycle policy that manages the lifecycle of Amazon EBS snapshots. Specify <code>IMAGE_MANAGEMENT</code> to create a lifecycle policy that manages the lifecycle of EBS-backed AMIs. Specify <code>EVENT_BASED_POLICY </code> to create an event-based policy that performs specific actions when a defined event occurs in your Amazon Web Services account.</p> <p>The default is <code>EBS_SNAPSHOT_MANAGEMENT</code>.</p>",
          "shape": "PolicyTypeValues"
        },
        "ResourceLocations": {
          "documentation": "<p> <b>[Snapshot and AMI policies only]</b> The location of the resources to backup. If the source resources are located in an Amazon Web Services Region, specify <code>CLOUD</code>. If the source resources are located on an Outpost in your account, specify <code>OUTPOST</code>.</p> <p>If you specify <code>OUTPOST</code>, Amazon Data Lifecycle Manager backs up all resources of the specified type with matching target tags across all of the Outposts in your account.</p>",
          "shape": "ResourceLocationList"
        },
        "ResourceTypes": {
          "documentation": "<p> <b>[Snapshot policies only]</b> The target resource type for snapshot and AMI lifecycle policies. Use <code>VOLUME </code>to create snapshots of individual volumes or use <code>INSTANCE</code> to create multi-volume snapshots from the volumes for an instance.</p>",
          "shape": "ResourceTypeValuesList"
        },
        "Schedules": {
          "documentation": "<p> <b>[Snapshot and AMI policies only]</b> The schedules of policy-defined actions for snapshot and AMI lifecycle policies. A policy can have up to four schedules\u2014one mandatory schedule and up to three optional schedules.</p>",
          "shape": "ScheduleList"
        },
        "TargetTags": {
          "documentation": "<p> <b>[Snapshot and AMI policies only]</b> The single tag that identifies targeted resources for this policy.</p>",
          "shape": "TargetTagList"
        }
      },
      "type": "structure"
    },
    "PolicyId": {
      "max": 64,
      "min": 0,
      "pattern": "policy-[A-Za-z0-9]+",
      "type": "string"
    },
    "PolicyIdList": {
      "member": {
        "shape": "PolicyId"
      },
      "type": "list"
    },
    "PolicyTypeValues": {
      "enum": [
        "EBS_SNAPSHOT_MANAGEMENT",
        "IMAGE_MANAGEMENT",
        "EVENT_BASED_POLICY"
      ],
      "type": "string"
    },
    "ResourceLocationList": {
      "max": 1,
      "member": {
        "shape": "ResourceLocationValues"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceLocationValues": {
      "enum": [
        "CLOUD",
        "OUTPOST"
      ],
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>A requested resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "ResourceIds": {
          "documentation": "<p>Value is a list of resource IDs that were not found.</p>",
          "shape": "PolicyIdList"
        },
        "ResourceType": {
          "documentation": "<p>Value is the type of resource that was not found.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceTypeValues": {
      "enum": [
        "VOLUME",
        "INSTANCE"
      ],
      "type": "string"
    },
    "ResourceTypeValuesList": {
      "max": 1,
      "member": {
        "shape": "ResourceTypeValues"
      },
      "min": 1,
      "type": "list"
    },
    "RetainRule": {
      "documentation": "<p> <b>[Snapshot and AMI policies only]</b> Specifies a retention rule for snapshots created by snapshot policies, or for AMIs created by AMI policies.</p> <note> <p>For snapshot policies that have an <a>ArchiveRule</a>, this retention rule applies to standard tier retention. When the retention threshold is met, snapshots are moved from the standard to the archive tier.</p> <p>For snapshot policies that do not have an <b>ArchiveRule</b>, snapshots are permanently deleted when this retention threshold is met.</p> </note> <p>You can retain snapshots based on either a count or a time interval.</p> <ul> <li> <p> <b>Count-based retention</b> </p> <p>You must specify <b>Count</b>. If you specify an <a>ArchiveRule</a> for the schedule, then you can specify a retention count of <code>0</code> to archive snapshots immediately after creation. If you specify a <a>FastRestoreRule</a>, <a>ShareRule</a>, or a <a>CrossRegionCopyRule</a>, then you must specify a retention count of <code>1</code> or more.</p> </li> <li> <p> <b>Age-based retention</b> </p> <p>You must specify <b>Interval</b> and <b>IntervalUnit</b>. If you specify an <a>ArchiveRule</a> for the schedule, then you can specify a retention interval of <code>0</code> days to archive snapshots immediately after creation. If you specify a <a>FastRestoreRule</a>, <a>ShareRule</a>, or a <a>CrossRegionCopyRule</a>, then you must specify a retention interval of <code>1</code> day or more.</p> </li> </ul>",
      "members": {
        "Count": {
          "documentation": "<p>The number of snapshots to retain for each volume, up to a maximum of 1000. For example if you want to retain a maximum of three snapshots, specify <code>3</code>. When the fourth snapshot is created, the oldest retained snapshot is deleted, or it is moved to the archive tier if you have specified an <a>ArchiveRule</a>.</p>",
          "shape": "StandardTierRetainRuleCount"
        },
        "Interval": {
          "documentation": "<p>The amount of time to retain each snapshot. The maximum is 100 years. This is equivalent to 1200 months, 5200 weeks, or 36500 days.</p>",
          "shape": "StandardTierRetainRuleInterval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time for time-based retention. For example, to retain snapshots for 3 months, specify <code>Interval=3</code> and <code>IntervalUnit=MONTHS</code>. Once the snapshot has been retained for 3 months, it is deleted, or it is moved to the archive tier if you have specified an <a>ArchiveRule</a>.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "type": "structure"
    },
    "RetentionArchiveTier": {
      "documentation": "<p> <b>[Snapshot policies only]</b> Describes the retention rule for archived snapshots. Once the archive retention threshold is met, the snapshots are permanently deleted from the archive tier.</p> <note> <p>The archive retention rule must retain snapshots in the archive tier for a minimum of 90 days.</p> </note> <p>For <b>count-based schedules</b>, you must specify <b>Count</b>. For <b>age-based schedules</b>, you must specify <b>Interval</b> and <b> IntervalUnit</b>.</p> <p>For more information about using snapshot archiving, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-ami-policy.html#dlm-archive\">Considerations for snapshot lifecycle policies</a>.</p>",
      "members": {
        "Count": {
          "documentation": "<p>The maximum number of snapshots to retain in the archive storage tier for each volume. The count must ensure that each snapshot remains in the archive tier for at least 90 days. For example, if the schedule creates snapshots every 30 days, you must specify a count of 3 or more to ensure that each snapshot is archived for at least 90 days.</p>",
          "shape": "Count"
        },
        "Interval": {
          "documentation": "<p>Specifies the period of time to retain snapshots in the archive tier. After this period expires, the snapshot is permanently deleted.</p>",
          "shape": "Interval"
        },
        "IntervalUnit": {
          "documentation": "<p>The unit of time in which to measure the <b>Interval</b>. For example, to retain a snapshots in the archive tier for 6 months, specify <code>Interval=6</code> and <code>IntervalUnit=MONTHS</code>.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "type": "structure"
    },
    "RetentionIntervalUnitValues": {
      "enum": [
        "DAYS",
        "WEEKS",
        "MONTHS",
        "YEARS"
      ],
      "type": "string"
    },
    "Schedule": {
      "documentation": "<p> <b>[Snapshot and AMI policies only]</b> Specifies a schedule for a snapshot or AMI lifecycle policy.</p>",
      "members": {
        "ArchiveRule": {
          "documentation": "<p> <b>[Snapshot policies that target volumes only]</b> The snapshot archiving rule for the schedule. When you specify an archiving rule, snapshots are automatically moved from the standard tier to the archive tier once the schedule's retention threshold is met. Snapshots are then retained in the archive tier for the archive retention period that you specify. </p> <p>For more information about using snapshot archiving, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-ami-policy.html#dlm-archive\">Considerations for snapshot lifecycle policies</a>.</p>",
          "shape": "ArchiveRule"
        },
        "CopyTags": {
          "documentation": "<p>Copy all user-defined tags on a source volume to snapshots of the volume created by this policy.</p>",
          "shape": "CopyTags"
        },
        "CreateRule": {
          "documentation": "<p>The creation rule.</p>",
          "shape": "CreateRule"
        },
        "CrossRegionCopyRules": {
          "documentation": "<p>Specifies a rule for copying snapshots or AMIs across regions.</p> <note> <p>You can't specify cross-Region copy rules for policies that create snapshots on an Outpost. If the policy creates snapshots in a Region, then snapshots can be copied to up to three Regions or Outposts.</p> </note>",
          "shape": "CrossRegionCopyRules"
        },
        "DeprecateRule": {
          "documentation": "<p> <b>[AMI policies only]</b> The AMI deprecation rule for the schedule.</p>",
          "shape": "DeprecateRule"
        },
        "FastRestoreRule": {
          "documentation": "<p> <b>[Snapshot policies only]</b> The rule for enabling fast snapshot restore.</p>",
          "shape": "FastRestoreRule"
        },
        "Name": {
          "documentation": "<p>The name of the schedule.</p>",
          "shape": "ScheduleName"
        },
        "RetainRule": {
          "documentation": "<p>The retention rule for snapshots or AMIs created by the policy.</p>",
          "shape": "RetainRule"
        },
        "ShareRules": {
          "documentation": "<p> <b>[Snapshot policies only]</b> The rule for sharing snapshots with other Amazon Web Services accounts.</p>",
          "shape": "ShareRules"
        },
        "TagsToAdd": {
          "documentation": "<p>The tags to apply to policy-created resources. These user-defined tags are in addition to the Amazon Web Services-added lifecycle tags.</p>",
          "shape": "TagsToAddList"
        },
        "VariableTags": {
          "documentation": "<p> <b>[AMI policies and snapshot policies that target instances only]</b> A collection of key/value pairs with values determined dynamically when the policy is executed. Keys may be any valid Amazon EC2 tag key. Values must be in one of the two following formats: <code>$(instance-id)</code> or <code>$(timestamp)</code>. Variable tags are only valid for EBS Snapshot Management \u2013 Instance policies.</p>",
          "shape": "VariableTagsList"
        }
      },
      "type": "structure"
    },
    "ScheduleList": {
      "max": 4,
      "member": {
        "shape": "Schedule"
      },
      "min": 1,
      "type": "list"
    },
    "ScheduleName": {
      "max": 120,
      "min": 0,
      "pattern": "[0-9A-Za-z _-]+",
      "type": "string"
    },
    "SettablePolicyStateValues": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "ShareRule": {
      "documentation": "<p> <b>[Snapshot policies only]</b> Specifies a rule for sharing snapshots across Amazon Web Services accounts.</p>",
      "members": {
        "TargetAccounts": {
          "documentation": "<p>The IDs of the Amazon Web Services accounts with which to share the snapshots.</p>",
          "shape": "ShareTargetAccountList"
        },
        "UnshareInterval": {
          "documentation": "<p>The period after which snapshots that are shared with other Amazon Web Services accounts are automatically unshared.</p>",
          "shape": "Interval"
        },
        "UnshareIntervalUnit": {
          "documentation": "<p>The unit of time for the automatic unsharing interval.</p>",
          "shape": "RetentionIntervalUnitValues"
        }
      },
      "required": [
        "TargetAccounts"
      ],
      "type": "structure"
    },
    "ShareRules": {
      "max": 1,
      "member": {
        "shape": "ShareRule"
      },
      "min": 0,
      "type": "list"
    },
    "ShareTargetAccountList": {
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 1,
      "type": "list"
    },
    "SnapshotOwnerList": {
      "max": 50,
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 0,
      "type": "list"
    },
    "StandardTierRetainRuleCount": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "StandardTierRetainRuleInterval": {
      "min": 0,
      "type": "integer"
    },
    "StatusMessage": {
      "max": 500,
      "min": 0,
      "pattern": "[\\p{all}]*",
      "type": "string"
    },
    "String": {
      "max": 500,
      "min": 0,
      "pattern": "[\\p{all}]*",
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>Specifies a tag for a resource.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The tag key.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The tag value.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagFilter": {
      "max": 256,
      "min": 0,
      "pattern": "[\\p{all}]*",
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 200,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "PolicyArn"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "pattern": "[\\p{all}]*",
      "type": "string"
    },
    "TagsToAddFilterList": {
      "max": 50,
      "member": {
        "shape": "TagFilter"
      },
      "min": 0,
      "type": "list"
    },
    "TagsToAddList": {
      "max": 45,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "Target": {
      "max": 2048,
      "min": 0,
      "pattern": "^[\\w:\\-\\/\\*]+$",
      "type": "string"
    },
    "TargetRegion": {
      "max": 16,
      "min": 0,
      "pattern": "([a-z]+-){2,3}\\d",
      "type": "string"
    },
    "TargetTagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TargetTagsFilterList": {
      "max": 50,
      "member": {
        "shape": "TagFilter"
      },
      "min": 1,
      "type": "list"
    },
    "Time": {
      "max": 5,
      "min": 5,
      "pattern": "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$",
      "type": "string"
    },
    "TimesList": {
      "max": 1,
      "member": {
        "shape": "Time"
      },
      "type": "list"
    },
    "Timestamp": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "PolicyArn"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateLifecyclePolicyRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the lifecycle policy.</p>",
          "shape": "PolicyDescription"
        },
        "ExecutionRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by the lifecycle policy.</p>",
          "shape": "ExecutionRoleArn"
        },
        "PolicyDetails": {
          "documentation": "<p>The configuration of the lifecycle policy. You cannot update the policy type or the resource type.</p>",
          "shape": "PolicyDetails"
        },
        "PolicyId": {
          "documentation": "<p>The identifier of the lifecycle policy.</p>",
          "location": "uri",
          "locationName": "policyId",
          "shape": "PolicyId"
        },
        "State": {
          "documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>",
          "shape": "SettablePolicyStateValues"
        }
      },
      "required": [
        "PolicyId"
      ],
      "type": "structure"
    },
    "UpdateLifecyclePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "VariableTagsList": {
      "max": 45,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    }
  },
  "version": "2.0"
}
