{
  "documentation": "<p>With Amazon CloudWatch RUM, you can perform real-user monitoring to collect client-side data about your web application performance from actual user sessions in real time. The data collected includes page load times, client-side errors, and user behavior. When you view this data, you can see it all aggregated together and also see breakdowns by the browsers and devices that your customers use.</p> <pre><code> &lt;p&gt;You can use the collected data to quickly identify and debug client-side performance issues. CloudWatch RUM helps you visualize anomalies in your application performance and find relevant debugging data such as error messages, stack traces, and user sessions. You can also use RUM to understand the range of end-user impact including the number of users, geolocations, and browsers used.&lt;/p&gt; </code></pre>",
  "metadata": {
    "apiVersion": "2018-05-10",
    "endpointPrefix": "rum",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "CloudWatch RUM",
    "serviceId": "RUM",
    "signatureVersion": "v4",
    "signingName": "rum",
    "uid": "rum-2018-05-10"
  },
  "operations": {
    "BatchCreateRumMetricDefinitions": {
      "documentation": "<p>Specifies the extended metrics that you want a CloudWatch RUM app monitor to send to a destination. Valid destinations include CloudWatch and Evidently.</p> <p>By default, RUM app monitors send some metrics to CloudWatch. These default metrics are listed in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-metrics.html\">CloudWatch metrics that you can collect with CloudWatch RUM</a>.</p> <p>If you also send extended metrics, you can send metrics to Evidently as well as CloudWatch, and you can also optionally send the metrics with additional dimensions. The valid dimension names for the additional dimensions are <code>BrowserName</code>, <code>CountryCode</code>, <code>DeviceType</code>, <code>FileType</code>, <code>OSName</code>, and <code>PageId</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\"> Extended metrics that you can send to CloudWatch and CloudWatch Evidently</a>.</p> <p>The maximum number of metric definitions that you can specify in one <code>BatchCreateRumMetricDefinitions</code> operation is 200.</p> <pre><code> &lt;p&gt;The maximum number of metric definitions that one destination can contain is 2000.&lt;/p&gt; &lt;p&gt;Extended metrics sent are charged as CloudWatch custom metrics. Each combination of additional dimension name and dimension value counts as a custom metric. For more information, see &lt;a href=&quot;https://aws.amazon.com/cloudwatch/pricing/&quot;&gt;Amazon CloudWatch Pricing&lt;/a&gt;.&lt;/p&gt; &lt;p&gt;You must have already created a destination for the metrics before you send them. For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html&quot;&gt;PutRumMetricsDestination&lt;/a&gt;.&lt;/p&gt; &lt;p&gt;If some metric definitions specified in a &lt;code&gt;BatchCreateRumMetricDefinitions&lt;/code&gt; operations are not valid, those metric definitions fail and return errors, but all valid metric definitions in the same operation still succeed.&lt;/p&gt; </code></pre>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rummetrics/{AppMonitorName}/metrics",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchCreateRumMetricDefinitionsRequest"
      },
      "name": "BatchCreateRumMetricDefinitions",
      "output": {
        "shape": "BatchCreateRumMetricDefinitionsResponse"
      }
    },
    "BatchDeleteRumMetricDefinitions": {
      "documentation": "<p>Removes the specified metrics from being sent to an extended metrics destination.</p> <p>If some metric definition IDs specified in a <code>BatchDeleteRumMetricDefinitions</code> operations are not valid, those metric definitions fail and return errors, but all valid metric definition IDs in the same operation are still deleted.</p> <p>The maximum number of metric definitions that you can specify in one <code>BatchDeleteRumMetricDefinitions</code> operation is 200.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/rummetrics/{AppMonitorName}/metrics",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchDeleteRumMetricDefinitionsRequest"
      },
      "name": "BatchDeleteRumMetricDefinitions",
      "output": {
        "shape": "BatchDeleteRumMetricDefinitionsResponse"
      }
    },
    "BatchGetRumMetricDefinitions": {
      "documentation": "<p>Retrieves the list of metrics and dimensions that a RUM app monitor is sending to a single destination.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/rummetrics/{AppMonitorName}/metrics",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetRumMetricDefinitionsRequest"
      },
      "name": "BatchGetRumMetricDefinitions",
      "output": {
        "shape": "BatchGetRumMetricDefinitionsResponse"
      }
    },
    "CreateAppMonitor": {
      "documentation": "<p>Creates a Amazon CloudWatch RUM app monitor, which collects telemetry data from your application and sends that data to RUM. The data includes performance and reliability information such as page load time, client-side errors, and user behavior.</p> <p>You use this operation only to create a new app monitor. To update an existing app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_UpdateAppMonitor.html\">UpdateAppMonitor</a> instead.</p> <p>After you create an app monitor, sign in to the CloudWatch RUM console to get the JavaScript code snippet to add to your web application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-find-code-snippet.html\">How do I find a code snippet that I've already generated?</a> </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/appmonitor",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAppMonitorRequest"
      },
      "name": "CreateAppMonitor",
      "output": {
        "shape": "CreateAppMonitorResponse"
      }
    },
    "DeleteAppMonitor": {
      "documentation": "<p>Deletes an existing app monitor. This immediately stops the collection of data.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAppMonitorRequest"
      },
      "name": "DeleteAppMonitor",
      "output": {
        "shape": "DeleteAppMonitorResponse"
      }
    },
    "DeleteRumMetricsDestination": {
      "documentation": "<p>Deletes a destination for CloudWatch RUM extended metrics, so that the specified app monitor stops sending extended metrics to that destination.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRumMetricsDestinationRequest"
      },
      "name": "DeleteRumMetricsDestination",
      "output": {
        "shape": "DeleteRumMetricsDestinationResponse"
      }
    },
    "GetAppMonitor": {
      "documentation": "<p>Retrieves the complete configuration information for one app monitor.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppMonitorRequest"
      },
      "name": "GetAppMonitor",
      "output": {
        "shape": "GetAppMonitorResponse"
      }
    },
    "GetAppMonitorData": {
      "documentation": "<p>Retrieves the raw performance events that RUM has collected from your web application, so that you can do your own processing or analysis of this data.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/appmonitor/{Name}/data",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppMonitorDataRequest"
      },
      "name": "GetAppMonitorData",
      "output": {
        "shape": "GetAppMonitorDataResponse"
      }
    },
    "ListAppMonitors": {
      "documentation": "<p>Returns a list of the Amazon CloudWatch RUM app monitors in the account.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/appmonitors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppMonitorsRequest"
      },
      "name": "ListAppMonitors",
      "output": {
        "shape": "ListAppMonitorsResponse"
      }
    },
    "ListRumMetricsDestinations": {
      "documentation": "<p>Returns a list of destinations that you have created to receive RUM extended metrics, for the specified app monitor.</p> <p>For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_AddRumMetrcs.html\">AddRumMetrics</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRumMetricsDestinationsRequest"
      },
      "name": "ListRumMetricsDestinations",
      "output": {
        "shape": "ListRumMetricsDestinationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Displays the tags associated with a CloudWatch RUM resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutRumEvents": {
      "documentation": "<p>Sends telemetry events about your application performance and user behavior to CloudWatch RUM. The code snippet that RUM generates for you to add to your application includes <code>PutRumEvents</code> operations to send this data to RUM.</p> <p>Each <code>PutRumEvents</code> operation can send a batch of events from one user session.</p>",
      "endpoint": {
        "hostPrefix": "dataplane."
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/appmonitors/{Id}/",
        "responseCode": 200
      },
      "input": {
        "shape": "PutRumEventsRequest"
      },
      "name": "PutRumEvents",
      "output": {
        "shape": "PutRumEventsResponse"
      }
    },
    "PutRumMetricsDestination": {
      "documentation": "<p>Creates or updates a destination to receive extended metrics from CloudWatch RUM. You can send extended metrics to CloudWatch or to a CloudWatch Evidently experiment.</p> <p>For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_AddRumMetrics.html\">AddRumMetrics</a>.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rummetrics/{AppMonitorName}/metricsdestination",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutRumMetricsDestinationRequest"
      },
      "name": "PutRumMetricsDestination",
      "output": {
        "shape": "PutRumMetricsDestinationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch RUM resource. Currently, the only resources that can be tagged app monitors.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAppMonitor": {
      "documentation": "<p>Updates the configuration of an existing app monitor. When you use this operation, only the parts of the app monitor configuration that you specify in this operation are changed. For any parameters that you omit, the existing values are kept.</p> <p>You can't use this operation to change the tags of an existing app monitor. To change the tags of an existing app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_TagResource.html\">TagResource</a>.</p> <p>To create a new app monitor, use <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_CreateAppMonitor.html\">CreateAppMonitor</a>.</p> <p>After you update an app monitor, sign in to the CloudWatch RUM console to get the updated JavaScript code snippet to add to your web application. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-find-code-snippet.html\">How do I find a code snippet that I've already generated?</a> </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/appmonitor/{Name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAppMonitorRequest"
      },
      "name": "UpdateAppMonitor",
      "output": {
        "shape": "UpdateAppMonitorResponse"
      }
    },
    "UpdateRumMetricDefinition": {
      "documentation": "<p>Modifies one existing metric definition for CloudWatch RUM extended metrics. For more information about extended metrics, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchCreateRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a>.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/rummetrics/{AppMonitorName}/metrics",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRumMetricDefinitionRequest"
      },
      "name": "UpdateRumMetricDefinition",
      "output": {
        "shape": "UpdateRumMetricDefinitionResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AppMonitor": {
      "documentation": "<p>A RUM app monitor collects telemetry data from your application and sends that data to RUM. The data includes performance and reliability information such as page load time, client-side errors, and user behavior.</p>",
      "members": {
        "AppMonitorConfiguration": {
          "documentation": "<p>A structure that contains much of the configuration data for the app monitor.</p>",
          "shape": "AppMonitorConfiguration"
        },
        "Created": {
          "documentation": "<p>The date and time that this app monitor was created.</p>",
          "shape": "ISOTimestampString"
        },
        "DataStorage": {
          "documentation": "<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>",
          "shape": "DataStorage"
        },
        "Domain": {
          "documentation": "<p>The top-level internet domain name for which your application has administrative authority.</p>",
          "shape": "AppMonitorDomain"
        },
        "Id": {
          "documentation": "<p>The unique ID of this app monitor.</p>",
          "shape": "AppMonitorId"
        },
        "LastModified": {
          "documentation": "<p>The date and time of the most recent changes to this app monitor's configuration.</p>",
          "shape": "ISOTimestampString"
        },
        "Name": {
          "documentation": "<p>The name of the app monitor.</p>",
          "shape": "AppMonitorName"
        },
        "State": {
          "documentation": "<p>The current state of the app monitor.</p>",
          "shape": "StateEnum"
        },
        "Tags": {
          "documentation": "<p>The list of tag keys and values associated with this app monitor.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "AppMonitorConfiguration": {
      "documentation": "<p>This structure contains much of the configuration data for the app monitor.</p>",
      "members": {
        "AllowCookies": {
          "documentation": "<p>If you set this to <code>true</code>, the RUM web client sets two cookies, a session cookie and a user cookie. The cookies allow the RUM web client to collect data relating to the number of users an application has and the behavior of the application across a sequence of events. Cookies are stored in the top-level domain of the current page.</p>",
          "shape": "Boolean"
        },
        "EnableXRay": {
          "documentation": "<p>If you set this to <code>true</code>, RUM enables X-Ray tracing for the user sessions that RUM samples. RUM adds an X-Ray trace header to allowed HTTP requests. It also records an X-Ray segment for allowed HTTP requests. You can see traces and segments from these user sessions in the X-Ray console and the CloudWatch ServiceLens console. For more information, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/aws-xray.html\">What is X-Ray?</a> </p>",
          "shape": "Boolean"
        },
        "ExcludedPages": {
          "documentation": "<p>A list of URLs in your website or application to exclude from RUM data collection.</p> <p>You can't include both <code>ExcludedPages</code> and <code>IncludedPages</code> in the same operation.</p>",
          "shape": "Pages"
        },
        "FavoritePages": {
          "documentation": "<p>A list of pages in your application that are to be displayed with a \"favorite\" icon in the CloudWatch RUM console.</p>",
          "shape": "FavoritePages"
        },
        "GuestRoleArn": {
          "documentation": "<p>The ARN of the guest IAM role that is attached to the Amazon Cognito identity pool that is used to authorize the sending of data to RUM.</p>",
          "shape": "Arn"
        },
        "IdentityPoolId": {
          "documentation": "<p>The ID of the Amazon Cognito identity pool that is used to authorize the sending of data to RUM.</p>",
          "shape": "IdentityPoolId"
        },
        "IncludedPages": {
          "documentation": "<p>If this app monitor is to collect data from only certain pages in your application, this structure lists those pages. </p> <pre><code> &lt;p&gt;You can't include both &lt;code&gt;ExcludedPages&lt;/code&gt; and &lt;code&gt;IncludedPages&lt;/code&gt; in the same operation.&lt;/p&gt; </code></pre>",
          "shape": "Pages"
        },
        "SessionSampleRate": {
          "documentation": "<p>Specifies the portion of user sessions to use for RUM data collection. Choosing a higher portion gives you more data but also incurs more costs.</p> <p>The range for this value is 0 to 1 inclusive. Setting this to 1 means that 100% of user sessions are sampled, and setting it to 0.1 means that 10% of user sessions are sampled.</p> <p>If you omit this parameter, the default of 0.1 is used, and 10% of sessions will be sampled.</p>",
          "shape": "SessionSampleRate"
        },
        "Telemetries": {
          "documentation": "<p>An array that lists the types of telemetry data that this app monitor is to collect.</p> <ul> <li> <p> <code>errors</code> indicates that RUM collects data about unhandled JavaScript errors raised by your application.</p> </li> <li> <p> <code>performance</code> indicates that RUM collects performance data about how your application and its resources are loaded and rendered. This includes Core Web Vitals.</p> </li> <li> <p> <code>http</code> indicates that RUM collects data about HTTP errors thrown by your application.</p> </li> </ul>",
          "shape": "Telemetries"
        }
      },
      "type": "structure"
    },
    "AppMonitorDetails": {
      "documentation": "<p>A structure that contains information about the RUM app monitor.</p>",
      "members": {
        "id": {
          "documentation": "<p>The unique ID of the app monitor.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the app monitor.</p>",
          "shape": "String"
        },
        "version": {
          "documentation": "<p>The version of the app monitor.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AppMonitorDomain": {
      "max": 253,
      "min": 1,
      "pattern": "^(localhost)|^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$|^(?![-.])([A-Za-z0-9-\\.\\-]{0,63})((?![-])([a-zA-Z0-9]{1}|^[a-zA-Z0-9]{0,1}))\\.(?![-])[A-Za-z-0-9]{1,63}((?![-])([a-zA-Z0-9]{1}|^[a-zA-Z0-9]{0,1}))|^(\\*\\.)(?![-.])([A-Za-z0-9-\\.\\-]{0,63})((?![-])([a-zA-Z0-9]{1}|^[a-zA-Z0-9]{0,1}))\\.(?![-])[A-Za-z-0-9]{1,63}((?![-])([a-zA-Z0-9]{1}|^[a-zA-Z0-9]{0,1}))",
      "type": "string"
    },
    "AppMonitorId": {
      "max": 36,
      "min": 36,
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
      "type": "string"
    },
    "AppMonitorName": {
      "max": 255,
      "min": 1,
      "pattern": "^(?!\\.)[\\.\\-_#A-Za-z0-9]+$",
      "type": "string"
    },
    "AppMonitorSummary": {
      "documentation": "<p>A structure that includes some data about app monitors and their settings.</p>",
      "members": {
        "Created": {
          "documentation": "<p>The date and time that the app monitor was created.</p>",
          "shape": "ISOTimestampString"
        },
        "Id": {
          "documentation": "<p>The unique ID of this app monitor.</p>",
          "shape": "AppMonitorId"
        },
        "LastModified": {
          "documentation": "<p>The date and time of the most recent changes to this app monitor's configuration.</p>",
          "shape": "ISOTimestampString"
        },
        "Name": {
          "documentation": "<p>The name of this app monitor.</p>",
          "shape": "AppMonitorName"
        },
        "State": {
          "documentation": "<p>The current state of this app monitor.</p>",
          "shape": "StateEnum"
        }
      },
      "type": "structure"
    },
    "AppMonitorSummaryList": {
      "member": {
        "shape": "AppMonitorSummary"
      },
      "type": "list"
    },
    "Arn": {
      "pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*",
      "type": "string"
    },
    "BatchCreateRumMetricDefinitionsError": {
      "documentation": "<p>A structure that defines one error caused by a <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchCreateRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a> operation.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "String"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message for this metric definition.</p>",
          "shape": "String"
        },
        "MetricDefinition": {
          "documentation": "<p>The metric definition that caused this error.</p>",
          "shape": "MetricDefinitionRequest"
        }
      },
      "required": [
        "ErrorCode",
        "ErrorMessage",
        "MetricDefinition"
      ],
      "type": "structure"
    },
    "BatchCreateRumMetricDefinitionsErrors": {
      "member": {
        "shape": "BatchCreateRumMetricDefinitionsError"
      },
      "type": "list"
    },
    "BatchCreateRumMetricDefinitionsRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the CloudWatch RUM app monitor that is to send the metrics.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>The destination to send the metrics to. Valid values are <code>CloudWatch</code> and <code>Evidently</code>. If you specify <code>Evidently</code>, you must also specify the ARN of the CloudWatchEvidently experiment that will receive the metrics and an IAM role that has permission to write to the experiment.</p>",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter.</p> <p>This parameter specifies the ARN of the Evidently experiment that is to receive the metrics. You must have already defined this experiment as a valid destination. For more information, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html\">PutRumMetricsDestination</a>.</p>",
          "shape": "DestinationArn"
        },
        "MetricDefinitions": {
          "documentation": "<p>An array of structures which define the metrics that you want to send.</p>",
          "shape": "MetricDefinitionsRequest"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination",
        "MetricDefinitions"
      ],
      "type": "structure"
    },
    "BatchCreateRumMetricDefinitionsResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>An array of error objects, if the operation caused any errors.</p>",
          "shape": "BatchCreateRumMetricDefinitionsErrors"
        },
        "MetricDefinitions": {
          "documentation": "<p>An array of structures that define the extended metrics.</p>",
          "shape": "MetricDefinitions"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "BatchDeleteRumMetricDefinitionsError": {
      "documentation": "<p>A structure that defines one error caused by a <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_BatchDeleteRumMetricsDefinitions.html\">BatchCreateRumMetricsDefinitions</a> operation.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "String"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message for this metric definition.</p>",
          "shape": "String"
        },
        "MetricDefinitionId": {
          "documentation": "<p>The ID of the metric definition that caused this error.</p>",
          "shape": "MetricDefinitionId"
        }
      },
      "required": [
        "ErrorCode",
        "ErrorMessage",
        "MetricDefinitionId"
      ],
      "type": "structure"
    },
    "BatchDeleteRumMetricDefinitionsErrors": {
      "member": {
        "shape": "BatchDeleteRumMetricDefinitionsError"
      },
      "type": "list"
    },
    "BatchDeleteRumMetricDefinitionsRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the CloudWatch RUM app monitor that is sending these metrics.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>Defines the destination where you want to stop sending the specified metrics. Valid values are <code>CloudWatch</code> and <code>Evidently</code>. If you specify <code>Evidently</code>, you must also specify the ARN of the CloudWatchEvidently experiment that is to be the destination and an IAM role that has permission to write to the experiment.</p>",
          "location": "querystring",
          "locationName": "destination",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter. </p> <p>This parameter specifies the ARN of the Evidently experiment that was receiving the metrics that are being deleted.</p>",
          "location": "querystring",
          "locationName": "destinationArn",
          "shape": "DestinationArn"
        },
        "MetricDefinitionIds": {
          "documentation": "<p>An array of structures which define the metrics that you want to stop sending.</p>",
          "location": "querystring",
          "locationName": "metricDefinitionIds",
          "shape": "MetricDefinitionIds"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination",
        "MetricDefinitionIds"
      ],
      "type": "structure"
    },
    "BatchDeleteRumMetricDefinitionsResponse": {
      "members": {
        "Errors": {
          "documentation": "<p>An array of error objects, if the operation caused any errors.</p>",
          "shape": "BatchDeleteRumMetricDefinitionsErrors"
        },
        "MetricDefinitionIds": {
          "documentation": "<p>The IDs of the metric definitions that were deleted.</p>",
          "shape": "MetricDefinitionIds"
        }
      },
      "required": [
        "Errors"
      ],
      "type": "structure"
    },
    "BatchGetRumMetricDefinitionsRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the CloudWatch RUM app monitor that is sending the metrics.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>The type of destination that you want to view metrics for. Valid values are <code>CloudWatch</code> and <code>Evidently</code>.</p>",
          "location": "querystring",
          "locationName": "destination",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter.</p> <p>This parameter specifies the ARN of the Evidently experiment that corresponds to the destination.</p>",
          "location": "querystring",
          "locationName": "destinationArn",
          "shape": "DestinationArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can specify is 100.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination"
      ],
      "type": "structure"
    },
    "BatchGetRumMetricDefinitionsResponse": {
      "members": {
        "MetricDefinitions": {
          "documentation": "<p>An array of structures that display information about the metrics that are sent by the specified app monitor to the specified destination.</p>",
          "shape": "MetricDefinitions"
        },
        "NextToken": {
          "documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ConflictException": {
      "documentation": "<p>This operation attempted to create a resource that already exists.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceName": {
          "documentation": "<p>The name of the resource that is associated with the error.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that is associated with the error.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceName"
      ],
      "type": "structure"
    },
    "CreateAppMonitorRequest": {
      "members": {
        "AppMonitorConfiguration": {
          "documentation": "<p>A structure that contains much of the configuration data for the app monitor. If you are using Amazon Cognito for authorization, you must include this structure in your request, and it must include the ID of the Amazon Cognito identity pool to use for authorization. If you don't include <code>AppMonitorConfiguration</code>, you must set up your own authorization method. For more information, see <a href=\"https://docs.aws.amazon.com/monitoring/CloudWatch-RUM-get-started-authorization.html\">Authorize your application to send data to Amazon Web Services</a>.</p> <p>If you omit this argument, the sample rate used for RUM is set to 10% of the user sessions.</p>",
          "shape": "AppMonitorConfiguration"
        },
        "CwLogEnabled": {
          "documentation": "<p>Data collected by RUM is kept by RUM for 30 days and then deleted. This parameter specifies whether RUM sends a copy of this telemetry data to Amazon CloudWatch Logs in your account. This enables you to keep the telemetry data for more than 30 days, but it does incur Amazon CloudWatch Logs charges.</p> <p>If you omit this parameter, the default is <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "Domain": {
          "documentation": "<p>The top-level internet domain name for which your application has administrative authority.</p>",
          "shape": "AppMonitorDomain"
        },
        "Name": {
          "documentation": "<p>A name for the app monitor.</p>",
          "shape": "AppMonitorName"
        },
        "Tags": {
          "documentation": "<p>Assigns one or more tags (key-value pairs) to the app monitor.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <pre><code> &lt;p&gt;You can associate as many as 50 tags with an app monitor.&lt;/p&gt; &lt;p&gt;For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html&quot;&gt;Tagging Amazon Web Services resources&lt;/a&gt;.&lt;/p&gt; </code></pre>",
          "shape": "TagMap"
        }
      },
      "required": [
        "Domain",
        "Name"
      ],
      "type": "structure"
    },
    "CreateAppMonitorResponse": {
      "members": {
        "Id": {
          "documentation": "<p>The unique ID of the new app monitor.</p>",
          "shape": "AppMonitorId"
        }
      },
      "type": "structure"
    },
    "CwLog": {
      "documentation": "<p>A structure that contains the information about whether the app monitor stores copies of the data that RUM collects in CloudWatch Logs. If it does, this structure also contains the name of the log group.</p>",
      "members": {
        "CwLogEnabled": {
          "documentation": "<p>Indicated whether the app monitor stores copies of the data that RUM collects in CloudWatch Logs.</p>",
          "shape": "Boolean"
        },
        "CwLogGroup": {
          "documentation": "<p>The name of the log group where the copies are stored.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DataStorage": {
      "documentation": "<p>A structure that contains information about whether this app monitor stores a copy of the telemetry data that RUM collects using CloudWatch Logs.</p>",
      "members": {
        "CwLog": {
          "documentation": "<p>A structure that contains the information about whether the app monitor stores copies of the data that RUM collects in CloudWatch Logs. If it does, this structure also contains the name of the log group.</p>",
          "shape": "CwLog"
        }
      },
      "type": "structure"
    },
    "DeleteAppMonitorRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the app monitor to delete.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "AppMonitorName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteAppMonitorResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRumMetricsDestinationRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the app monitor that is sending metrics to the destination that you want to delete.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>The type of destination to delete. Valid values are <code>CloudWatch</code> and <code>Evidently</code>.</p>",
          "location": "querystring",
          "locationName": "destination",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter. This parameter specifies the ARN of the Evidently experiment that corresponds to the destination to delete.</p>",
          "location": "querystring",
          "locationName": "destinationArn",
          "shape": "DestinationArn"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination"
      ],
      "type": "structure"
    },
    "DeleteRumMetricsDestinationResponse": {
      "members": {},
      "type": "structure"
    },
    "DestinationArn": {
      "max": 2048,
      "min": 0,
      "pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*",
      "type": "string"
    },
    "DimensionKey": {
      "max": 280,
      "min": 1,
      "type": "string"
    },
    "DimensionKeysMap": {
      "key": {
        "shape": "DimensionKey"
      },
      "type": "map",
      "value": {
        "shape": "DimensionName"
      }
    },
    "DimensionName": {
      "max": 255,
      "min": 1,
      "pattern": "^(?!:).*[^\\s].*",
      "type": "string"
    },
    "EventData": {
      "type": "string"
    },
    "EventDataList": {
      "member": {
        "shape": "EventData"
      },
      "type": "list"
    },
    "EventPattern": {
      "max": 4000,
      "min": 0,
      "type": "string"
    },
    "FavoritePages": {
      "max": 50,
      "member": {
        "shape": "String"
      },
      "min": 0,
      "type": "list"
    },
    "GetAppMonitorDataRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of structures that you can use to filter the results to those that match one or more sets of key-value pairs that you specify.</p>",
          "shape": "QueryFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in one operation. </p>",
          "shape": "MaxQueryResults"
        },
        "Name": {
          "documentation": "<p>The name of the app monitor that collected the data that you want to retrieve.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "AppMonitorName"
        },
        "NextToken": {
          "documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
          "shape": "Token"
        },
        "TimeRange": {
          "documentation": "<p>A structure that defines the time range that you want to retrieve results from.</p>",
          "shape": "TimeRange"
        }
      },
      "required": [
        "Name",
        "TimeRange"
      ],
      "type": "structure"
    },
    "GetAppMonitorDataResponse": {
      "members": {
        "Events": {
          "documentation": "<p>The events that RUM collected that match your request.</p>",
          "shape": "EventDataList"
        },
        "NextToken": {
          "documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "GetAppMonitorRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The app monitor to retrieve information for.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "AppMonitorName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetAppMonitorResponse": {
      "members": {
        "AppMonitor": {
          "documentation": "<p>A structure containing all the configuration information for the app monitor.</p>",
          "shape": "AppMonitor"
        }
      },
      "type": "structure"
    },
    "ISOTimestampString": {
      "max": 19,
      "min": 19,
      "type": "string"
    },
    "IamRoleArn": {
      "pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*",
      "type": "string"
    },
    "IdentityPoolId": {
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+",
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Internal service exception.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The value of a parameter in the request caused an error.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "JsonValue": {
      "type": "string"
    },
    "ListAppMonitorsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can specify is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListAppMonitorsResponse": {
      "members": {
        "AppMonitorSummaries": {
          "documentation": "<p>An array of structures that contain information about the returned app monitors.</p>",
          "shape": "AppMonitorSummaryList"
        },
        "NextToken": {
          "documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListRumMetricsDestinationsRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the app monitor associated with the destinations that you want to retrieve.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in one operation. The default is 50. The maximum that you can specify is 100.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "AppMonitorName"
      ],
      "type": "structure"
    },
    "ListRumMetricsDestinationsResponse": {
      "members": {
        "Destinations": {
          "documentation": "<p>The list of CloudWatch RUM extended metrics destinations associated with the app monitor that you specified.</p>",
          "shape": "MetricDestinationSummaryList"
        },
        "NextToken": {
          "documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource that you want to see the tags of.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the resource that you are viewing.</p>",
          "shape": "Arn"
        },
        "Tags": {
          "documentation": "<p>The list of tag keys and values associated with the resource you specified.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "MaxQueryResults": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "MaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MetricDefinition": {
      "documentation": "<p>A structure that displays the definition of one extended metric that RUM sends to CloudWatch or CloudWatch Evidently. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\"> Additional metrics that you can send to CloudWatch and CloudWatch Evidently</a>.</p>",
      "members": {
        "DimensionKeys": {
          "documentation": "<p>This field is a map of field paths to dimension names. It defines the dimensions to associate with this metric in CloudWatch The value of this field is used only if the metric destination is <code>CloudWatch</code>. If the metric destination is <code>Evidently</code>, the value of <code>DimensionKeys</code> is ignored.</p>",
          "shape": "DimensionKeysMap"
        },
        "EventPattern": {
          "documentation": "<p>The pattern that defines the metric. RUM checks events that happen in a user's session against the pattern, and events that match the pattern are sent to the metric destination.</p> <p>If the metrics destination is <code>CloudWatch</code> and the event also matches a value in <code>DimensionKeys</code>, then the metric is published with the specified dimensions. </p>",
          "shape": "EventPattern"
        },
        "MetricDefinitionId": {
          "documentation": "<p>The ID of this metric definition.</p>",
          "shape": "MetricDefinitionId"
        },
        "Name": {
          "documentation": "<p>The name of the metric that is defined in this structure.</p>",
          "shape": "MetricName"
        },
        "UnitLabel": {
          "documentation": "<p>Use this field only if you are sending this metric to CloudWatch. It defines the CloudWatch metric unit that this metric is measured in. </p>",
          "shape": "UnitLabel"
        },
        "ValueKey": {
          "documentation": "<p>The field within the event object that the metric value is sourced from.</p>",
          "shape": "ValueKey"
        }
      },
      "required": [
        "MetricDefinitionId",
        "Name"
      ],
      "type": "structure"
    },
    "MetricDefinitionId": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "MetricDefinitionIds": {
      "member": {
        "shape": "MetricDefinitionId"
      },
      "type": "list"
    },
    "MetricDefinitionRequest": {
      "documentation": "<p>Use this structure to define one extended metric that RUM will send to CloudWatch or CloudWatch Evidently. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-RUM-vended-metrics.html\"> Additional metrics that you can send to CloudWatch and CloudWatch Evidently</a>.</p> <p>Only certain combinations of values for <code>Name</code>, <code>ValueKey</code>, and <code>EventPattern</code> are valid. In addition to what is displayed in the list below, the <code>EventPattern</code> can also include information used by the <code>DimensionKeys</code> field.</p> <ul> <li> <p>If <code>Name</code> is <code>PerformanceNavigationDuration</code>, then <code>ValueKey</code>must be <code>event_details.duration</code> and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.performance_navigation_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>PerformanceResourceDuration</code>, then <code>ValueKey</code>must be <code>event_details.duration</code> and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.performance_resource_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>NavigationSatisfiedTransaction</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{ \"event_type\": [\"com.amazon.rum.performance_navigation_event\"], \"event_details\": { \"duration\": [{ \"numeric\": [\"&gt;\",2000] }] } }</code> </p> </li> <li> <p>If <code>Name</code> is <code>NavigationToleratedTransaction</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{ \"event_type\": [\"com.amazon.rum.performance_navigation_event\"], \"event_details\": { \"duration\": [{ \"numeric\": [\"&gt;=\",2000,\"&lt;\"8000] }] } }</code> </p> </li> <li> <p>If <code>Name</code> is <code>NavigationFrustratedTransaction</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{ \"event_type\": [\"com.amazon.rum.performance_navigation_event\"], \"event_details\": { \"duration\": [{ \"numeric\": [\"&gt;=\",8000] }] } }</code> </p> </li> <li> <p>If <code>Name</code> is <code>WebVitalsCumulativeLayoutShift</code>, then <code>ValueKey</code>must be <code>event_details.value</code> and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.cumulative_layout_shift_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>WebVitalsFirstInputDelay</code>, then <code>ValueKey</code>must be <code>event_details.value</code> and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.first_input_delay_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>WebVitalsLargestContentfulPaint</code>, then <code>ValueKey</code>must be <code>event_details.value</code> and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.largest_contentful_paint_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>JsErrorCount</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.js_error_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>HttpErrorCount</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.http_event\"]}</code> </p> </li> <li> <p>If <code>Name</code> is <code>SessionCount</code>, then <code>ValueKey</code>must be null and the <code>EventPattern</code> must include <code>{\"event_type\":[\"com.amazon.rum.session_start_event\"]}</code> </p> </li> </ul>",
      "members": {
        "DimensionKeys": {
          "documentation": "<p>Use this field only if you are sending the metric to CloudWatch.</p> <p>This field is a map of field paths to dimension names. It defines the dimensions to associate with this metric in CloudWatch. Valid values for the entries in this field are the following:</p> <ul> <li> <p> <code>\"metadata.pageId\": \"PageId\"</code> </p> </li> <li> <p> <code>\"metadata.browserName\": \"BrowserName\"</code> </p> </li> <li> <p> <code>\"metadata.deviceType\": \"DeviceType\"</code> </p> </li> <li> <p> <code>\"metadata.osName\": \"OSName\"</code> </p> </li> <li> <p> <code>\"metadata.countryCode\": \"CountryCode\"</code> </p> </li> <li> <p> <code>\"event_details.fileType\": \"FileType\"</code> </p> </li> </ul> <pre><code> &lt;p&gt; All dimensions listed in this field must also be included in &lt;code&gt;EventPattern&lt;/code&gt;.&lt;/p&gt; </code></pre>",
          "shape": "DimensionKeysMap"
        },
        "EventPattern": {
          "documentation": "<p>The pattern that defines the metric, specified as a JSON object. RUM checks events that happen in a user's session against the pattern, and events that match the pattern are sent to the metric destination.</p> <p>When you define extended metrics, the metric definition is not valid if <code>EventPattern</code> is omitted.</p> <p>Example event patterns:</p> <ul> <li> <p> <code>'{ \"event_type\": [\"com.amazon.rum.js_error_event\"], \"metadata\": { \"browserName\": [ \"Chrome\", \"Safari\" ], } }'</code> </p> </li> <li> <p> <code>'{ \"event_type\": [\"com.amazon.rum.performance_navigation_event\"], \"metadata\": { \"browserName\": [ \"Chrome\", \"Firefox\" ] }, \"event_details\": { \"duration\": [{ \"numeric\": [ \"&lt;\", 2000 ] }] } }'</code> </p> </li> <li> <p> <code>'{ \"event_type\": [\"com.amazon.rum.performance_navigation_event\"], \"metadata\": { \"browserName\": [ \"Chrome\", \"Safari\" ], \"countryCode\": [ \"US\" ] }, \"event_details\": { \"duration\": [{ \"numeric\": [ \"&gt;=\", 2000, \"&lt;\", 8000 ] }] } }'</code> </p> </li> </ul> <p>If the metrics destination' is <code>CloudWatch</code> and the event also matches a value in <code>DimensionKeys</code>, then the metric is published with the specified dimensions. </p>",
          "shape": "EventPattern"
        },
        "Name": {
          "documentation": "<p>The name for the metric that is defined in this structure. Valid values are the following:</p> <ul> <li> <p> <code>PerformanceNavigationDuration</code> </p> </li> <li> <p> <code>PerformanceResourceDuration </code> </p> </li> <li> <p> <code>NavigationSatisfiedTransaction</code> </p> </li> <li> <p> <code>NavigationToleratedTransaction</code> </p> </li> <li> <p> <code>NavigationFrustratedTransaction</code> </p> </li> <li> <p> <code>WebVitalsCumulativeLayoutShift</code> </p> </li> <li> <p> <code>WebVitalsFirstInputDelay</code> </p> </li> <li> <p> <code>WebVitalsLargestContentfulPaint</code> </p> </li> <li> <p> <code>JsErrorCount</code> </p> </li> <li> <p> <code>HttpErrorCount</code> </p> </li> <li> <p> <code>SessionCount</code> </p> </li> </ul>",
          "shape": "MetricName"
        },
        "UnitLabel": {
          "documentation": "<p>The CloudWatch metric unit to use for this metric. If you omit this field, the metric is recorded with no unit.</p>",
          "shape": "UnitLabel"
        },
        "ValueKey": {
          "documentation": "<p>The field within the event object that the metric value is sourced from.</p> <p>If you omit this field, a hardcoded value of 1 is pushed as the metric value. This is useful if you just want to count the number of events that the filter catches. </p> <p>If this metric is sent to CloudWatch Evidently, this field will be passed to Evidently raw and Evidently will handle data extraction from the event.</p>",
          "shape": "ValueKey"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "MetricDefinitions": {
      "member": {
        "shape": "MetricDefinition"
      },
      "type": "list"
    },
    "MetricDefinitionsRequest": {
      "member": {
        "shape": "MetricDefinitionRequest"
      },
      "type": "list"
    },
    "MetricDestination": {
      "enum": [
        "CloudWatch",
        "Evidently"
      ],
      "type": "string"
    },
    "MetricDestinationSummary": {
      "documentation": "<p>A structure that displays information about one destination that CloudWatch RUM sends extended metrics to.</p>",
      "members": {
        "Destination": {
          "documentation": "<p>Specifies whether the destination is <code>CloudWatch</code> or <code>Evidently</code>.</p>",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>If the destination is <code>Evidently</code>, this specifies the ARN of the Evidently experiment that receives the metrics.</p>",
          "shape": "DestinationArn"
        },
        "IamRoleArn": {
          "documentation": "<p>This field appears only when the destination is <code>Evidently</code>. It specifies the ARN of the IAM role that is used to write to the Evidently experiment that receives the metrics.</p>",
          "shape": "IamRoleArn"
        }
      },
      "type": "structure"
    },
    "MetricDestinationSummaryList": {
      "member": {
        "shape": "MetricDestinationSummary"
      },
      "type": "list"
    },
    "MetricName": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Pages": {
      "max": 50,
      "member": {
        "shape": "Url"
      },
      "min": 0,
      "type": "list"
    },
    "PutRumEventsRequest": {
      "members": {
        "AppMonitorDetails": {
          "documentation": "<p>A structure that contains information about the app monitor that collected this telemetry information.</p>",
          "shape": "AppMonitorDetails"
        },
        "BatchId": {
          "documentation": "<p>A unique identifier for this batch of RUM event data.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>The ID of the app monitor that is sending this data.</p>",
          "location": "uri",
          "locationName": "Id",
          "shape": "AppMonitorId"
        },
        "RumEvents": {
          "documentation": "<p>An array of structures that contain the telemetry event data.</p>",
          "shape": "RumEventList"
        },
        "UserDetails": {
          "documentation": "<p>A structure that contains information about the user session that this batch of events was collected from.</p>",
          "shape": "UserDetails"
        }
      },
      "required": [
        "AppMonitorDetails",
        "BatchId",
        "Id",
        "RumEvents",
        "UserDetails"
      ],
      "type": "structure"
    },
    "PutRumEventsResponse": {
      "members": {},
      "type": "structure"
    },
    "PutRumMetricsDestinationRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the CloudWatch RUM app monitor that will send the metrics.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>Defines the destination to send the metrics to. Valid values are <code>CloudWatch</code> and <code>Evidently</code>. If you specify <code>Evidently</code>, you must also specify the ARN of the CloudWatchEvidently experiment that is to be the destination and an IAM role that has permission to write to the experiment.</p>",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>Use this parameter only if <code>Destination</code> is <code>Evidently</code>. This parameter specifies the ARN of the Evidently experiment that will receive the extended metrics.</p>",
          "shape": "DestinationArn"
        },
        "IamRoleArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter.</p> <p>This parameter specifies the ARN of an IAM role that RUM will assume to write to the Evidently experiment that you are sending metrics to. This role must have permission to write to that experiment.</p>",
          "shape": "IamRoleArn"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination"
      ],
      "type": "structure"
    },
    "PutRumMetricsDestinationResponse": {
      "members": {},
      "type": "structure"
    },
    "QueryFilter": {
      "documentation": "<p>A structure that defines a key and values that you can use to filter the results. The only performance events that are returned are those that have values matching the ones that you specify in one of your <code>QueryFilter</code> structures.</p> <p>For example, you could specify <code>Browser</code> as the <code>Name</code> and specify <code>Chrome,Firefox</code> as the <code>Values</code> to return events generated only from those browsers.</p> <p>Specifying <code>Invert</code> as the <code>Name</code> works as a \"not equal to\" filter. For example, specify <code>Invert</code> as the <code>Name</code> and specify <code>Chrome</code> as the value to return all events except events from user sessions with the Chrome browser.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of a key to search for. The filter returns only the events that match the <code>Name</code> and <code>Values</code> that you specify. </p> <p>Valid values for <code>Name</code> are <code>Browser</code> | <code>Device</code> | <code>Country</code> | <code>Page</code> | <code>OS</code> | <code>EventType</code> | <code>Invert</code> </p>",
          "shape": "QueryFilterKey"
        },
        "Values": {
          "documentation": "<p>The values of the <code>Name</code> that are to be be included in the returned results.</p>",
          "shape": "QueryFilterValueList"
        }
      },
      "type": "structure"
    },
    "QueryFilterKey": {
      "type": "string"
    },
    "QueryFilterValue": {
      "type": "string"
    },
    "QueryFilterValueList": {
      "member": {
        "shape": "QueryFilterValue"
      },
      "type": "list"
    },
    "QueryFilters": {
      "member": {
        "shape": "QueryFilter"
      },
      "type": "list"
    },
    "QueryTimestamp": {
      "type": "long"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Resource not found.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceName": {
          "documentation": "<p>The name of the resource that is associated with the error.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that is associated with the error.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceName"
      ],
      "type": "structure"
    },
    "RumEvent": {
      "documentation": "<p>A structure that contains the information for one performance event that RUM collects from a user session with your application.</p>",
      "members": {
        "details": {
          "documentation": "<p>A string containing details about the event.</p>",
          "jsonvalue": true,
          "shape": "JsonValue"
        },
        "id": {
          "documentation": "<p>A unique ID for this event.</p>",
          "shape": "String"
        },
        "metadata": {
          "documentation": "<p>Metadata about this event, which contains a JSON serialization of the identity of the user for this session. The user information comes from information such as the HTTP user-agent request header and document interface.</p>",
          "jsonvalue": true,
          "shape": "JsonValue"
        },
        "timestamp": {
          "documentation": "<p>The exact time that this event occurred.</p>",
          "shape": "Timestamp"
        },
        "type": {
          "documentation": "<p>The JSON schema that denotes the type of event this is, such as a page load or a new session.</p>",
          "shape": "String"
        }
      },
      "required": [
        "details",
        "id",
        "timestamp",
        "type"
      ],
      "type": "structure"
    },
    "RumEventList": {
      "member": {
        "shape": "RumEvent"
      },
      "type": "list"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>This request exceeds a service quota.</p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "SessionSampleRate": {
      "max": 1,
      "min": 0,
      "type": "double"
    },
    "StateEnum": {
      "enum": [
        "CREATED",
        "DELETING",
        "ACTIVE"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the CloudWatch RUM resource that you're adding tags to.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs to associate with the resource.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Telemetries": {
      "member": {
        "shape": "Telemetry"
      },
      "type": "list"
    },
    "Telemetry": {
      "enum": [
        "errors",
        "performance",
        "http"
      ],
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was throttled because of quota limits.</p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "quotaCode": {
          "documentation": "<p>The ID of the service quota that was exceeded.</p>",
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The value of a parameter in the request caused an error.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        },
        "serviceCode": {
          "documentation": "<p>The ID of the service that is associated with the error.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "retryable": {
        "throttling": true
      },
      "type": "structure"
    },
    "TimeRange": {
      "documentation": "<p>A structure that defines the time range that you want to retrieve results from.</p>",
      "members": {
        "After": {
          "documentation": "<p>The beginning of the time range to retrieve performance events from.</p>",
          "shape": "QueryTimestamp"
        },
        "Before": {
          "documentation": "<p>The end of the time range to retrieve performance events from. If you omit this, the time range extends to the time that this operation is performed.</p>",
          "shape": "QueryTimestamp"
        }
      },
      "required": [
        "After"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Token": {
      "type": "string"
    },
    "UnitLabel": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the CloudWatch RUM resource that you're removing tags from.</p>",
          "location": "uri",
          "locationName": "ResourceArn",
          "shape": "Arn"
        },
        "TagKeys": {
          "documentation": "<p>The list of tag keys to remove from the resource.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateAppMonitorRequest": {
      "members": {
        "AppMonitorConfiguration": {
          "documentation": "<p>A structure that contains much of the configuration data for the app monitor. If you are using Amazon Cognito for authorization, you must include this structure in your request, and it must include the ID of the Amazon Cognito identity pool to use for authorization. If you don't include <code>AppMonitorConfiguration</code>, you must set up your own authorization method. For more information, see <a href=\"https://docs.aws.amazon.com/monitoring/CloudWatch-RUM-get-started-authorization.html\">Authorize your application to send data to Amazon Web Services</a>.</p>",
          "shape": "AppMonitorConfiguration"
        },
        "CwLogEnabled": {
          "documentation": "<p>Data collected by RUM is kept by RUM for 30 days and then deleted. This parameter specifies whether RUM sends a copy of this telemetry data to Amazon CloudWatch Logs in your account. This enables you to keep the telemetry data for more than 30 days, but it does incur Amazon CloudWatch Logs charges.</p>",
          "shape": "Boolean"
        },
        "Domain": {
          "documentation": "<p>The top-level internet domain name for which your application has administrative authority.</p>",
          "shape": "AppMonitorDomain"
        },
        "Name": {
          "documentation": "<p>The name of the app monitor to update.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "AppMonitorName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "UpdateAppMonitorResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateRumMetricDefinitionRequest": {
      "members": {
        "AppMonitorName": {
          "documentation": "<p>The name of the CloudWatch RUM app monitor that sends these metrics.</p>",
          "location": "uri",
          "locationName": "AppMonitorName",
          "shape": "AppMonitorName"
        },
        "Destination": {
          "documentation": "<p>The destination to send the metrics to. Valid values are <code>CloudWatch</code> and <code>Evidently</code>. If you specify <code>Evidently</code>, you must also specify the ARN of the CloudWatchEvidently experiment that will receive the metrics and an IAM role that has permission to write to the experiment.</p>",
          "shape": "MetricDestination"
        },
        "DestinationArn": {
          "documentation": "<p>This parameter is required if <code>Destination</code> is <code>Evidently</code>. If <code>Destination</code> is <code>CloudWatch</code>, do not use this parameter.</p> <p>This parameter specifies the ARN of the Evidently experiment that is to receive the metrics. You must have already defined this experiment as a valid destination. For more information, see <a href=\"https://docs.aws.amazon.com/cloudwatchrum/latest/APIReference/API_PutRumMetricsDestination.html\">PutRumMetricsDestination</a>.</p>",
          "shape": "DestinationArn"
        },
        "MetricDefinition": {
          "documentation": "<p>A structure that contains the new definition that you want to use for this metric.</p>",
          "shape": "MetricDefinitionRequest"
        },
        "MetricDefinitionId": {
          "documentation": "<p>The ID of the metric definition to update.</p>",
          "shape": "MetricDefinitionId"
        }
      },
      "required": [
        "AppMonitorName",
        "Destination",
        "MetricDefinition",
        "MetricDefinitionId"
      ],
      "type": "structure"
    },
    "UpdateRumMetricDefinitionResponse": {
      "members": {},
      "type": "structure"
    },
    "Url": {
      "max": 1260,
      "min": 1,
      "pattern": "https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}\\b([-a-zA-Z0-9()@:%_\\+.~#?&*//=]*)",
      "type": "string"
    },
    "UserDetails": {
      "documentation": "<p>A structure that contains information about the user session that this batch of events was collected from.</p>",
      "members": {
        "sessionId": {
          "documentation": "<p>The session ID that the performance events are from.</p>",
          "shape": "String"
        },
        "userId": {
          "documentation": "<p>The ID of the user for this user session. This ID is generated by RUM and does not include any personally identifiable information about the user.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>One of the arguments for the request is not valid.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ValueKey": {
      "max": 280,
      "min": 1,
      "type": "string"
    }
  },
  "version": "2.0"
}
