{
  "documentation": "<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify anomalies in machines from sensor data for use in predictive maintenance. </p>",
  "metadata": {
    "apiVersion": "2020-12-15",
    "endpointPrefix": "lookoutequipment",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "LookoutEquipment",
    "serviceFullName": "Amazon Lookout for Equipment",
    "serviceId": "LookoutEquipment",
    "signatureVersion": "v4",
    "targetPrefix": "AWSLookoutEquipmentFrontendService",
    "uid": "lookoutequipment-2020-12-15"
  },
  "operations": {
    "CreateDataset": {
      "documentation": "<p>Creates a container for a collection of data being ingested for analysis. The dataset contains the metadata describing where the data is and what the data actually looks like. In other words, it contains the location of the data source, the data schema, and other information. A dataset also contains any tags associated with the ingested data. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateInferenceScheduler": {
      "documentation": "<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous real-time inference plan to analyze new measurement data. When setting up the schedule, you provide an S3 bucket location for the input data, assign it a delimiter between separate entries in the data, set an offset delay if desired, and set the frequency of inferencing. You must also provide an S3 bucket location for the output data. </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInferenceSchedulerRequest"
      },
      "name": "CreateInferenceScheduler",
      "output": {
        "shape": "CreateInferenceSchedulerResponse"
      }
    },
    "CreateLabel": {
      "documentation": "<p> Creates a label for an event. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLabelRequest"
      },
      "name": "CreateLabel",
      "output": {
        "shape": "CreateLabelResponse"
      }
    },
    "CreateLabelGroup": {
      "documentation": "<p> Creates a group of labels. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLabelGroupRequest"
      },
      "name": "CreateLabelGroup",
      "output": {
        "shape": "CreateLabelGroupResponse"
      }
    },
    "CreateModel": {
      "documentation": "<p>Creates an ML model for data inference. </p> <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data. In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and detects abnormal behavior that could be potential equipment failure (or maintenance events). The models are made by analyzing normal data and abnormalities in machine behavior that have already occurred.</p> <p>Your model is trained using a portion of the data from your dataset and uses that data to learn patterns of normal behavior and abnormal patterns that lead to equipment failure. Another portion of the data is used to evaluate the model's accuracy. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "shape": "CreateModelResponse"
      }
    },
    "DeleteDataset": {
      "documentation": "<p> Deletes a dataset and associated artifacts. The operation will check to see if any inference scheduler or data ingestion job is currently using the dataset, and if there isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted. This does not affect any models that used this dataset for training and evaluation, but does prevent it from being used in the future. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset"
    },
    "DeleteInferenceScheduler": {
      "documentation": "<p>Deletes an inference scheduler that has been set up. Already processed output results are not affected. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInferenceSchedulerRequest"
      },
      "name": "DeleteInferenceScheduler"
    },
    "DeleteLabel": {
      "documentation": "<p> Deletes a label. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLabelRequest"
      },
      "name": "DeleteLabel"
    },
    "DeleteLabelGroup": {
      "documentation": "<p> Deletes a group of labels. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLabelGroupRequest"
      },
      "name": "DeleteLabelGroup"
    },
    "DeleteModel": {
      "documentation": "<p>Deletes an ML model currently available for Amazon Lookout for Equipment. This will prevent it from being used with an inference scheduler, even one that is already set up. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel"
    },
    "DescribeDataIngestionJob": {
      "documentation": "<p>Provides information on a specific data ingestion job such as creation time, dataset ARN, and status.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDataIngestionJobRequest"
      },
      "name": "DescribeDataIngestionJob",
      "output": {
        "shape": "DescribeDataIngestionJobResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Provides a JSON description of the data in each time series dataset, including names, column names, and data types.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeInferenceScheduler": {
      "documentation": "<p> Specifies information about the inference scheduler being used, including name, model, status, and associated metadata </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInferenceSchedulerRequest"
      },
      "name": "DescribeInferenceScheduler",
      "output": {
        "shape": "DescribeInferenceSchedulerResponse"
      }
    },
    "DescribeLabel": {
      "documentation": "<p> Returns the name of the label. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLabelRequest"
      },
      "name": "DescribeLabel",
      "output": {
        "shape": "DescribeLabelResponse"
      }
    },
    "DescribeLabelGroup": {
      "documentation": "<p> Returns information about the label group. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLabelGroupRequest"
      },
      "name": "DescribeLabelGroup",
      "output": {
        "shape": "DescribeLabelGroupResponse"
      }
    },
    "DescribeModel": {
      "documentation": "<p>Provides a JSON containing the overall information about a specific ML model, including model name and ARN, dataset, training and evaluation information, status, and so on. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelRequest"
      },
      "name": "DescribeModel",
      "output": {
        "shape": "DescribeModelResponse"
      }
    },
    "ListDataIngestionJobs": {
      "documentation": "<p>Provides a list of all data ingestion jobs, including dataset name and ARN, S3 location of the input data, status, and so on. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataIngestionJobsRequest"
      },
      "name": "ListDataIngestionJobs",
      "output": {
        "shape": "ListDataIngestionJobsResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Lists all datasets currently available in your account, filtering on the dataset name. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "shape": "ListDatasetsResponse"
      }
    },
    "ListInferenceEvents": {
      "documentation": "<p> Lists all inference events that have been found for the specified inference scheduler. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInferenceEventsRequest"
      },
      "name": "ListInferenceEvents",
      "output": {
        "shape": "ListInferenceEventsResponse"
      }
    },
    "ListInferenceExecutions": {
      "documentation": "<p> Lists all inference executions that have been performed by the specified inference scheduler. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInferenceExecutionsRequest"
      },
      "name": "ListInferenceExecutions",
      "output": {
        "shape": "ListInferenceExecutionsResponse"
      }
    },
    "ListInferenceSchedulers": {
      "documentation": "<p>Retrieves a list of all inference schedulers currently available for your account. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInferenceSchedulersRequest"
      },
      "name": "ListInferenceSchedulers",
      "output": {
        "shape": "ListInferenceSchedulersResponse"
      }
    },
    "ListLabelGroups": {
      "documentation": "<p> Returns a list of the label groups. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLabelGroupsRequest"
      },
      "name": "ListLabelGroups",
      "output": {
        "shape": "ListLabelGroupsResponse"
      }
    },
    "ListLabels": {
      "documentation": "<p> Provides a list of labels. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLabelsRequest"
      },
      "name": "ListLabels",
      "output": {
        "shape": "ListLabelsResponse"
      }
    },
    "ListModels": {
      "documentation": "<p>Generates a list of all models in the account, including model name and ARN, dataset, and status. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListModelsRequest"
      },
      "name": "ListModels",
      "output": {
        "shape": "ListModelsResponse"
      }
    },
    "ListSensorStatistics": {
      "documentation": "<p> Lists statistics about the data collected for each of the sensors that have been successfully ingested in the particular dataset. Can also be used to retreive Sensor Statistics for a previous ingestion job. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSensorStatisticsRequest"
      },
      "name": "ListSensorStatistics",
      "output": {
        "shape": "ListSensorStatisticsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all the tags for a specified resource, including key and value. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartDataIngestionJob": {
      "documentation": "<p>Starts a data ingestion job. Amazon Lookout for Equipment returns the job status. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDataIngestionJobRequest"
      },
      "name": "StartDataIngestionJob",
      "output": {
        "shape": "StartDataIngestionJobResponse"
      }
    },
    "StartInferenceScheduler": {
      "documentation": "<p>Starts an inference scheduler. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartInferenceSchedulerRequest"
      },
      "name": "StartInferenceScheduler",
      "output": {
        "shape": "StartInferenceSchedulerResponse"
      }
    },
    "StopInferenceScheduler": {
      "documentation": "<p>Stops an inference scheduler. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopInferenceSchedulerRequest"
      },
      "name": "StopInferenceScheduler",
      "output": {
        "shape": "StopInferenceSchedulerResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a given tag to a resource in your account. A tag is a key-value pair which can be added to an Amazon Lookout for Equipment resource as metadata. Tags can be used for organizing your resources as well as helping you to search and filter by tag. Multiple tags can be added to a resource, either when you create it, or later. Up to 50 tags can be associated with each resource. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a specific tag from a given resource. The tag is specified by its key. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateInferenceScheduler": {
      "documentation": "<p>Updates an inference scheduler. </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateInferenceSchedulerRequest"
      },
      "name": "UpdateInferenceScheduler"
    },
    "UpdateLabelGroup": {
      "documentation": "<p> Updates the label group. </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateLabelGroupRequest"
      },
      "name": "UpdateLabelGroup"
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>The request could not be completed because you do not have access to the resource. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "AmazonResourceArn": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoundedLengthString": {
      "max": 5000,
      "min": 1,
      "pattern": "[\\P{M}\\p{M}]{1,5000}",
      "type": "string"
    },
    "CategoricalValues": {
      "documentation": "<p> Entity that comprises information on categorical values in data. </p>",
      "members": {
        "NumberOfCategory": {
          "documentation": "<p> Indicates the number of categories in the data. </p>",
          "shape": "Integer"
        },
        "Status": {
          "documentation": "<p> Indicates whether there is a potential data issue related to categorical values. </p>",
          "shape": "StatisticalIssueStatus"
        }
      },
      "required": [
        "Status"
      ],
      "type": "structure"
    },
    "Comments": {
      "max": 2560,
      "min": 1,
      "pattern": "[\\P{M}\\p{M}]{1,2560}",
      "type": "string"
    },
    "ComponentName": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z._\\-]{1,200}$",
      "type": "string"
    },
    "ComponentTimestampDelimiter": {
      "max": 1,
      "min": 0,
      "pattern": "^(\\-|\\_|\\s)?$",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "CountPercent": {
      "documentation": "<p> Entity that comprises information of count and percentage. </p>",
      "members": {
        "Count": {
          "documentation": "<p> Indicates the count of occurences of the given statistic. </p>",
          "shape": "Integer"
        },
        "Percentage": {
          "documentation": "<p> Indicates the percentage of occurances of the given statistic. </p>",
          "shape": "Float"
        }
      },
      "required": [
        "Count",
        "Percentage"
      ],
      "type": "structure"
    },
    "CreateDatasetRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken": true,
          "shape": "IdempotenceToken"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset being created. </p>",
          "shape": "DatasetName"
        },
        "DatasetSchema": {
          "documentation": "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "shape": "DatasetSchema"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout for Equipment. </p>",
          "shape": "NameOrArn"
        },
        "Tags": {
          "documentation": "<p>Any tags associated with the ingested data described in the dataset. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DatasetName",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateDatasetResponse": {
      "members": {
        "DatasetArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the dataset being created. </p>",
          "shape": "DatasetArn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset being created. </p>",
          "shape": "DatasetName"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the <code>CreateDataset</code> operation. </p>",
          "shape": "DatasetStatus"
        }
      },
      "type": "structure"
    },
    "CreateInferenceSchedulerRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken": true,
          "shape": "IdempotenceToken"
        },
        "DataDelayOffsetInMinutes": {
          "documentation": "<p>The interval (in minutes) of planned delay at the start of each inference segment. For example, if inference is set to run every ten minutes, the delay is set to five minutes and the time is 09:08. The inference scheduler will wake up at the configured interval (which, without a delay configured, would be 09:10) plus the additional five minute delay time (so 09:15) to check your Amazon S3 bucket. The delay provides a buffer for you to upload data at the same frequency, so that you don't have to stop and restart the scheduler when uploading new data.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding the inference process</a>.</p>",
          "shape": "DataDelayOffsetInMinutes"
        },
        "DataInputConfiguration": {
          "documentation": "<p>Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>",
          "shape": "InferenceInputConfiguration"
        },
        "DataOutputConfiguration": {
          "documentation": "<p>Specifies configuration information for the output results for the inference scheduler, including the S3 location for the output. </p>",
          "shape": "InferenceOutputConfiguration"
        },
        "DataUploadFrequency": {
          "documentation": "<p> How often data is uploaded to the source Amazon S3 bucket for the input data. The value chosen is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment runs inference on your data.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding the inference process</a>.</p>",
          "shape": "DataUploadFrequency"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler being created. </p>",
          "shape": "InferenceSchedulerName"
        },
        "ModelName": {
          "documentation": "<p>The name of the previously trained ML model being used to create the inference scheduler. </p>",
          "shape": "ModelName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source being used for the inference. </p>",
          "shape": "IamRoleArn"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by Amazon Lookout for Equipment. </p>",
          "shape": "NameOrArn"
        },
        "Tags": {
          "documentation": "<p>Any tags associated with the inference scheduler. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ModelName",
        "InferenceSchedulerName",
        "DataUploadFrequency",
        "DataInputConfiguration",
        "DataOutputConfiguration",
        "RoleArn",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateInferenceSchedulerResponse": {
      "members": {
        "InferenceSchedulerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the inference scheduler being created. </p>",
          "shape": "InferenceSchedulerArn"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of inference scheduler being created. </p>",
          "shape": "InferenceSchedulerName"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the <code>CreateInferenceScheduler</code> operation. </p>",
          "shape": "InferenceSchedulerStatus"
        }
      },
      "type": "structure"
    },
    "CreateLabelGroupRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A unique identifier for the request to create a label group. If you do not set the client request token, Lookout for Equipment generates one. </p>",
          "idempotencyToken": true,
          "shape": "IdempotenceToken"
        },
        "FaultCodes": {
          "documentation": "<p> The acceptable fault codes (indicating the type of anomaly associated with the label) that can be used with this label group.</p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "FaultCodes"
        },
        "LabelGroupName": {
          "documentation": "<p> Names a group of labels.</p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "LabelGroupName"
        },
        "Tags": {
          "documentation": "<p> Tags that provide metadata about the label group you are creating. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "LabelGroupName",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateLabelGroupResponse": {
      "members": {
        "LabelGroupArn": {
          "documentation": "<p> The ARN of the label group that you have created. </p>",
          "shape": "LabelGroupArn"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of the label group that you have created. Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "LabelGroupName"
        }
      },
      "type": "structure"
    },
    "CreateLabelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p> A unique identifier for the request to create a label. If you do not set the client request token, Lookout for Equipment generates one. </p>",
          "idempotencyToken": true,
          "shape": "IdempotenceToken"
        },
        "EndTime": {
          "documentation": "<p> The end time of the labeled event. </p>",
          "shape": "Timestamp"
        },
        "Equipment": {
          "documentation": "<p> Indicates that a label pertains to a particular piece of equipment. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "Equipment"
        },
        "FaultCode": {
          "documentation": "<p> Provides additional information about the label. The fault code must be defined in the FaultCodes attribute of the label group.</p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "FaultCode"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of a group of labels. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "LabelGroupName"
        },
        "Notes": {
          "documentation": "<p> Metadata providing additional information about the label. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "Comments"
        },
        "Rating": {
          "documentation": "<p> Indicates whether a labeled event represents an anomaly. </p>",
          "shape": "LabelRating"
        },
        "StartTime": {
          "documentation": "<p> The start time of the labeled event. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "LabelGroupName",
        "StartTime",
        "EndTime",
        "Rating",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateLabelResponse": {
      "members": {
        "LabelId": {
          "documentation": "<p> The ID of the label that you have created. </p>",
          "shape": "LabelId"
        }
      },
      "type": "structure"
    },
    "CreateModelRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken": true,
          "shape": "IdempotenceToken"
        },
        "DataPreProcessingConfiguration": {
          "documentation": "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>",
          "shape": "DataPreProcessingConfiguration"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset for the ML model being created. </p>",
          "shape": "DatasetIdentifier"
        },
        "DatasetSchema": {
          "documentation": "<p>The data schema for the ML model being created. </p>",
          "shape": "DatasetSchema"
        },
        "EvaluationDataEndTime": {
          "documentation": "<p> Indicates the time reference in the dataset that should be used to end the subset of evaluation data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "EvaluationDataStartTime": {
          "documentation": "<p>Indicates the time reference in the dataset that should be used to begin the subset of evaluation data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "LabelsInputConfiguration": {
          "documentation": "<p>The input configuration for the labels being used for the ML model that's being created. </p>",
          "shape": "LabelsInputConfiguration"
        },
        "ModelName": {
          "documentation": "<p>The name for the ML model to be created.</p>",
          "shape": "ModelName"
        },
        "OffCondition": {
          "documentation": "<p>Indicates that the asset associated with this sensor has been shut off. As long as this condition is met, Lookout for Equipment will not use data from this asset for training, evaluation, or inference.</p>",
          "shape": "OffCondition"
        },
        "RoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source being used to create the ML model. </p>",
          "shape": "IamRoleArn"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout for Equipment. </p>",
          "shape": "NameOrArn"
        },
        "Tags": {
          "documentation": "<p> Any tags associated with the ML model being created. </p>",
          "shape": "TagList"
        },
        "TrainingDataEndTime": {
          "documentation": "<p>Indicates the time reference in the dataset that should be used to end the subset of training data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "TrainingDataStartTime": {
          "documentation": "<p>Indicates the time reference in the dataset that should be used to begin the subset of training data for the ML model. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "ModelName",
        "DatasetName",
        "ClientToken"
      ],
      "type": "structure"
    },
    "CreateModelResponse": {
      "members": {
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the model being created. </p>",
          "shape": "ModelArn"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the <code>CreateModel</code> operation. </p>",
          "shape": "ModelStatus"
        }
      },
      "type": "structure"
    },
    "DataDelayOffsetInMinutes": {
      "max": 60,
      "min": 0,
      "type": "long"
    },
    "DataIngestionJobSummaries": {
      "member": {
        "shape": "DataIngestionJobSummary"
      },
      "type": "list"
    },
    "DataIngestionJobSummary": {
      "documentation": "<p>Provides information about a specified data ingestion job, including dataset information, data ingestion configuration, and status. </p>",
      "members": {
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset used in the data ingestion job. </p>",
          "shape": "DatasetArn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset used for the data ingestion job. </p>",
          "shape": "DatasetName"
        },
        "IngestionInputConfiguration": {
          "documentation": "<p> Specifies information for the input data for the data inference job, including data Amazon S3 location parameters. </p>",
          "shape": "IngestionInputConfiguration"
        },
        "JobId": {
          "documentation": "<p>Indicates the job ID of the data ingestion job. </p>",
          "shape": "IngestionJobId"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the data ingestion job. </p>",
          "shape": "IngestionJobStatus"
        }
      },
      "type": "structure"
    },
    "DataPreProcessingConfiguration": {
      "documentation": "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>",
      "members": {
        "TargetSamplingRate": {
          "documentation": "<p>The sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>",
          "shape": "TargetSamplingRate"
        }
      },
      "type": "structure"
    },
    "DataQualitySummary": {
      "documentation": "<p> DataQualitySummary gives aggregated statistics over all the sensors about a completed ingestion job. It primarily gives more information about statistics over different incorrect data like MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats, InsufficientSensorData, DuplicateTimeStamps. </p>",
      "members": {
        "DuplicateTimestamps": {
          "documentation": "<p> Parameter that gives information about duplicate timestamps in the input data. </p>",
          "shape": "DuplicateTimestamps"
        },
        "InsufficientSensorData": {
          "documentation": "<p> Parameter that gives information about insufficient data for sensors in the dataset. This includes information about those sensors that have complete data missing and those with a short date range. </p>",
          "shape": "InsufficientSensorData"
        },
        "InvalidSensorData": {
          "documentation": "<p> Parameter that gives information about data that is invalid over all the sensors in the input data. </p>",
          "shape": "InvalidSensorData"
        },
        "MissingSensorData": {
          "documentation": "<p> Parameter that gives information about data that is missing over all the sensors in the input data. </p>",
          "shape": "MissingSensorData"
        },
        "UnsupportedTimestamps": {
          "documentation": "<p> Parameter that gives information about unsupported timestamps in the input data. </p>",
          "shape": "UnsupportedTimestamps"
        }
      },
      "required": [
        "InsufficientSensorData",
        "MissingSensorData",
        "InvalidSensorData",
        "UnsupportedTimestamps",
        "DuplicateTimestamps"
      ],
      "type": "structure"
    },
    "DataSizeInBytes": {
      "min": 0,
      "type": "long"
    },
    "DataUploadFrequency": {
      "enum": [
        "PT5M",
        "PT10M",
        "PT15M",
        "PT30M",
        "PT1H"
      ],
      "type": "string"
    },
    "DatasetArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:dataset\\/.+",
      "type": "string"
    },
    "DatasetIdentifier": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_-]{1,200}$",
      "type": "string"
    },
    "DatasetName": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_-]{1,200}$",
      "type": "string"
    },
    "DatasetSchema": {
      "documentation": "<p>Provides information about the data schema used with the given dataset. </p>",
      "members": {
        "InlineDataSchema": {
          "documentation": "<p> </p>",
          "jsonvalue": true,
          "shape": "InlineDataSchema"
        }
      },
      "type": "structure"
    },
    "DatasetStatus": {
      "enum": [
        "CREATED",
        "INGESTION_IN_PROGRESS",
        "ACTIVE"
      ],
      "type": "string"
    },
    "DatasetSummaries": {
      "member": {
        "shape": "DatasetSummary"
      },
      "type": "list"
    },
    "DatasetSummary": {
      "documentation": "<p>Contains information about the specific data set, including name, ARN, and status. </p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The time at which the dataset was created in Amazon Lookout for Equipment. </p>",
          "shape": "Timestamp"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the specified dataset. </p>",
          "shape": "DatasetArn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset. </p>",
          "shape": "DatasetName"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the dataset. </p>",
          "shape": "DatasetStatus"
        }
      },
      "type": "structure"
    },
    "DeleteDatasetRequest": {
      "members": {
        "DatasetName": {
          "documentation": "<p>The name of the dataset to be deleted. </p>",
          "shape": "DatasetIdentifier"
        }
      },
      "required": [
        "DatasetName"
      ],
      "type": "structure"
    },
    "DeleteInferenceSchedulerRequest": {
      "members": {
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler to be deleted. </p>",
          "shape": "InferenceSchedulerIdentifier"
        }
      },
      "required": [
        "InferenceSchedulerName"
      ],
      "type": "structure"
    },
    "DeleteLabelGroupRequest": {
      "members": {
        "LabelGroupName": {
          "documentation": "<p> The name of the label group that you want to delete. Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "LabelGroupName"
        }
      },
      "required": [
        "LabelGroupName"
      ],
      "type": "structure"
    },
    "DeleteLabelRequest": {
      "members": {
        "LabelGroupName": {
          "documentation": "<p> The name of the label group that contains the label that you want to delete. Data in this field will be retained for service usage. Follow best practices for the security of your data. </p>",
          "shape": "LabelGroupName"
        },
        "LabelId": {
          "documentation": "<p> The ID of the label that you want to delete. </p>",
          "shape": "LabelId"
        }
      },
      "required": [
        "LabelGroupName",
        "LabelId"
      ],
      "type": "structure"
    },
    "DeleteModelRequest": {
      "members": {
        "ModelName": {
          "documentation": "<p>The name of the ML model to be deleted. </p>",
          "shape": "ModelName"
        }
      },
      "required": [
        "ModelName"
      ],
      "type": "structure"
    },
    "DescribeDataIngestionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The job ID of the data ingestion job. </p>",
          "shape": "IngestionJobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeDataIngestionJobResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>The time at which the data ingestion job was created. </p>",
          "shape": "Timestamp"
        },
        "DataEndTime": {
          "documentation": "<p> Indicates the latest timestamp corresponding to data that was successfully ingested during this specific ingestion job. </p>",
          "shape": "Timestamp"
        },
        "DataQualitySummary": {
          "documentation": "<p> Gives statistics about a completed ingestion job. These statistics primarily relate to quantifying incorrect data such as MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats, InsufficientSensorData, and DuplicateTimeStamps. </p>",
          "shape": "DataQualitySummary"
        },
        "DataStartTime": {
          "documentation": "<p> Indicates the earliest timestamp corresponding to data that was successfully ingested during this specific ingestion job. </p>",
          "shape": "Timestamp"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset being used in the data ingestion job. </p>",
          "shape": "DatasetArn"
        },
        "FailedReason": {
          "documentation": "<p>Specifies the reason for failure when a data ingestion job has failed. </p>",
          "shape": "BoundedLengthString"
        },
        "IngestedDataSize": {
          "documentation": "<p> Indicates the size of the ingested dataset. </p>",
          "shape": "DataSizeInBytes"
        },
        "IngestedFilesSummary": {
          "shape": "IngestedFilesSummary"
        },
        "IngestionInputConfiguration": {
          "documentation": "<p>Specifies the S3 location configuration for the data input for the data ingestion job. </p>",
          "shape": "IngestionInputConfiguration"
        },
        "JobId": {
          "documentation": "<p>Indicates the job ID of the data ingestion job. </p>",
          "shape": "IngestionJobId"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to access the data source being ingested. </p>",
          "shape": "IamRoleArn"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the <code>DataIngestionJob</code> operation. </p>",
          "shape": "IngestionJobStatus"
        },
        "StatusDetail": {
          "documentation": "<p> Provides details about status of the ingestion job that is currently in progress. </p>",
          "shape": "BoundedLengthString"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "members": {
        "DatasetName": {
          "documentation": "<p>The name of the dataset to be described. </p>",
          "shape": "DatasetIdentifier"
        }
      },
      "required": [
        "DatasetName"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>Specifies the time the dataset was created in Lookout for Equipment. </p>",
          "shape": "Timestamp"
        },
        "DataEndTime": {
          "documentation": "<p> Indicates the latest timestamp corresponding to data that was successfully ingested during the most recent ingestion of this particular dataset. </p>",
          "shape": "Timestamp"
        },
        "DataQualitySummary": {
          "documentation": "<p> Gives statistics associated with the given dataset for the latest successful associated ingestion job id. These statistics primarily relate to quantifying incorrect data such as MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats, InsufficientSensorData, and DuplicateTimeStamps. </p>",
          "shape": "DataQualitySummary"
        },
        "DataStartTime": {
          "documentation": "<p> Indicates the earliest timestamp corresponding to data that was successfully ingested during the most recent ingestion of this particular dataset. </p>",
          "shape": "Timestamp"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset being described. </p>",
          "shape": "DatasetArn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset being described. </p>",
          "shape": "DatasetName"
        },
        "IngestedFilesSummary": {
          "documentation": "<p> IngestedFilesSummary associated with the given dataset for the latest successful associated ingestion job id. </p>",
          "shape": "IngestedFilesSummary"
        },
        "IngestionInputConfiguration": {
          "documentation": "<p>Specifies the S3 location configuration for the data input for the data ingestion job. </p>",
          "shape": "IngestionInputConfiguration"
        },
        "LastUpdatedAt": {
          "documentation": "<p>Specifies the time the dataset was last updated, if it was. </p>",
          "shape": "Timestamp"
        },
        "RoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the IAM role that you are using for this the data ingestion job. </p>",
          "shape": "IamRoleArn"
        },
        "Schema": {
          "documentation": "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "jsonvalue": true,
          "shape": "InlineDataSchema"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout for Equipment. </p>",
          "shape": "KmsKeyArn"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the dataset. </p>",
          "shape": "DatasetStatus"
        }
      },
      "type": "structure"
    },
    "DescribeInferenceSchedulerRequest": {
      "members": {
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler being described. </p>",
          "shape": "InferenceSchedulerIdentifier"
        }
      },
      "required": [
        "InferenceSchedulerName"
      ],
      "type": "structure"
    },
    "DescribeInferenceSchedulerResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>Specifies the time at which the inference scheduler was created. </p>",
          "shape": "Timestamp"
        },
        "DataDelayOffsetInMinutes": {
          "documentation": "<p> A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if you select an offset delay time of five minutes, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data.</p>",
          "shape": "DataDelayOffsetInMinutes"
        },
        "DataInputConfiguration": {
          "documentation": "<p> Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>",
          "shape": "InferenceInputConfiguration"
        },
        "DataOutputConfiguration": {
          "documentation": "<p> Specifies information for the output results for the inference scheduler, including the output S3 location. </p>",
          "shape": "InferenceOutputConfiguration"
        },
        "DataUploadFrequency": {
          "documentation": "<p>Specifies how often data is uploaded to the source S3 bucket for the input data. This value is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>",
          "shape": "DataUploadFrequency"
        },
        "InferenceSchedulerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the inference scheduler being described. </p>",
          "shape": "InferenceSchedulerArn"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler being described. </p>",
          "shape": "InferenceSchedulerName"
        },
        "LatestInferenceResult": {
          "documentation": "<p>Indicates whether the latest execution for the inference scheduler was Anomalous (anomalous events found) or Normal (no anomalous events found).</p>",
          "shape": "LatestInferenceResult"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the ML model of the inference scheduler being described. </p>",
          "shape": "ModelArn"
        },
        "ModelName": {
          "documentation": "<p>The name of the ML model of the inference scheduler being described. </p>",
          "shape": "ModelName"
        },
        "RoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the inference scheduler being described. </p>",
          "shape": "IamRoleArn"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by Amazon Lookout for Equipment. </p>",
          "shape": "KmsKeyArn"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the inference scheduler. </p>",
          "shape": "InferenceSchedulerStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>Specifies the time at which the inference scheduler was last updated, if it was. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeLabelGroupRequest": {
      "members": {
        "LabelGroupName": {
          "documentation": "<p> Returns the name of the label group. </p>",
          "shape": "LabelGroupName"
        }
      },
      "required": [
        "LabelGroupName"
      ],
      "type": "structure"
    },
    "DescribeLabelGroupResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p> The time at which the label group was created. </p>",
          "shape": "Timestamp"
        },
        "FaultCodes": {
          "documentation": "<p> Codes indicating the type of anomaly associated with the labels in the lagbel group. </p>",
          "shape": "FaultCodes"
        },
        "LabelGroupArn": {
          "documentation": "<p> The ARN of the label group. </p>",
          "shape": "LabelGroupArn"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of the label group. </p>",
          "shape": "LabelGroupName"
        },
        "UpdatedAt": {
          "documentation": "<p> The time at which the label group was updated. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeLabelRequest": {
      "members": {
        "LabelGroupName": {
          "documentation": "<p> Returns the name of the group containing the label. </p>",
          "shape": "LabelGroupName"
        },
        "LabelId": {
          "documentation": "<p> Returns the ID of the label. </p>",
          "shape": "LabelId"
        }
      },
      "required": [
        "LabelGroupName",
        "LabelId"
      ],
      "type": "structure"
    },
    "DescribeLabelResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p> The time at which the label was created. </p>",
          "shape": "Timestamp"
        },
        "EndTime": {
          "documentation": "<p> The end time of the requested label. </p>",
          "shape": "Timestamp"
        },
        "Equipment": {
          "documentation": "<p> Indicates that a label pertains to a particular piece of equipment. </p>",
          "shape": "Equipment"
        },
        "FaultCode": {
          "documentation": "<p> Indicates the type of anomaly associated with the label. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "FaultCode"
        },
        "LabelGroupArn": {
          "documentation": "<p> The ARN of the requested label group. </p>",
          "shape": "LabelGroupArn"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of the requested label group. </p>",
          "shape": "LabelGroupName"
        },
        "LabelId": {
          "documentation": "<p> The ID of the requested label. </p>",
          "shape": "LabelId"
        },
        "Notes": {
          "documentation": "<p>Metadata providing additional information about the label.</p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "Comments"
        },
        "Rating": {
          "documentation": "<p> Indicates whether a labeled event represents an anomaly. </p>",
          "shape": "LabelRating"
        },
        "StartTime": {
          "documentation": "<p> The start time of the requested label. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeModelRequest": {
      "members": {
        "ModelName": {
          "documentation": "<p>The name of the ML model to be described. </p>",
          "shape": "ModelName"
        }
      },
      "required": [
        "ModelName"
      ],
      "type": "structure"
    },
    "DescribeModelResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>Indicates the time and date at which the ML model was created. </p>",
          "shape": "Timestamp"
        },
        "DataPreProcessingConfiguration": {
          "documentation": "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>",
          "shape": "DataPreProcessingConfiguration"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resouce Name (ARN) of the dataset used to create the ML model being described. </p>",
          "shape": "DatasetArn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset being used by the ML being described. </p>",
          "shape": "DatasetName"
        },
        "EvaluationDataEndTime": {
          "documentation": "<p> Indicates the time reference in the dataset that was used to end the subset of evaluation data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "EvaluationDataStartTime": {
          "documentation": "<p> Indicates the time reference in the dataset that was used to begin the subset of evaluation data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "FailedReason": {
          "documentation": "<p>If the training of the ML model failed, this indicates the reason for that failure. </p>",
          "shape": "BoundedLengthString"
        },
        "LabelsInputConfiguration": {
          "documentation": "<p>Specifies configuration information about the labels input, including its S3 location. </p>",
          "shape": "LabelsInputConfiguration"
        },
        "LastUpdatedTime": {
          "documentation": "<p>Indicates the last time the ML model was updated. The type of update is not specified. </p>",
          "shape": "Timestamp"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the ML model being described. </p>",
          "shape": "ModelArn"
        },
        "ModelMetrics": {
          "documentation": "<p>The Model Metrics show an aggregated summary of the model's performance within the evaluation time range. This is the JSON content of the metrics created when evaluating the model. </p>",
          "jsonvalue": true,
          "shape": "ModelMetrics"
        },
        "ModelName": {
          "documentation": "<p>The name of the ML model being described. </p>",
          "shape": "ModelName"
        },
        "OffCondition": {
          "documentation": "<p>Indicates that the asset associated with this sensor has been shut off. As long as this condition is met, Lookout for Equipment will not use data from this asset for training, evaluation, or inference.</p>",
          "shape": "OffCondition"
        },
        "RoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the ML model being described. </p>",
          "shape": "IamRoleArn"
        },
        "Schema": {
          "documentation": "<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "jsonvalue": true,
          "shape": "InlineDataSchema"
        },
        "ServerSideKmsKeyId": {
          "documentation": "<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout for Equipment. </p>",
          "shape": "KmsKeyArn"
        },
        "Status": {
          "documentation": "<p>Specifies the current status of the model being described. Status describes the status of the most recent action of the model. </p>",
          "shape": "ModelStatus"
        },
        "TrainingDataEndTime": {
          "documentation": "<p> Indicates the time reference in the dataset that was used to end the subset of training data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "TrainingDataStartTime": {
          "documentation": "<p> Indicates the time reference in the dataset that was used to begin the subset of training data for the ML model. </p>",
          "shape": "Timestamp"
        },
        "TrainingExecutionEndTime": {
          "documentation": "<p>Indicates the time at which the training of the ML model was completed. </p>",
          "shape": "Timestamp"
        },
        "TrainingExecutionStartTime": {
          "documentation": "<p>Indicates the time at which the training of the ML model began. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DuplicateTimestamps": {
      "documentation": "<p> Entity that comprises information abount duplicate timestamps in the dataset. </p>",
      "members": {
        "TotalNumberOfDuplicateTimestamps": {
          "documentation": "<p> Indicates the total number of duplicate timestamps. </p>",
          "shape": "Integer"
        }
      },
      "required": [
        "TotalNumberOfDuplicateTimestamps"
      ],
      "type": "structure"
    },
    "Equipment": {
      "max": 200,
      "min": 1,
      "pattern": "[\\P{M}\\p{M}]{1,200}",
      "type": "string"
    },
    "EventDurationInSeconds": {
      "min": 0,
      "type": "long"
    },
    "FaultCode": {
      "max": 100,
      "min": 1,
      "pattern": "[\\P{M}\\p{M}]{1,100}",
      "type": "string"
    },
    "FaultCodes": {
      "max": 50,
      "member": {
        "shape": "FaultCode"
      },
      "min": 0,
      "type": "list"
    },
    "FileNameTimestampFormat": {
      "pattern": "^EPOCH|yyyy-MM-dd-HH-mm-ss|yyyyMMddHHmmss$",
      "type": "string"
    },
    "Float": {
      "type": "float"
    },
    "IamRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "IdempotenceToken": {
      "max": 256,
      "min": 1,
      "pattern": "\\p{ASCII}{1,256}",
      "type": "string"
    },
    "InferenceEventSummaries": {
      "member": {
        "shape": "InferenceEventSummary"
      },
      "type": "list"
    },
    "InferenceEventSummary": {
      "documentation": "<p>Contains information about the specific inference event, including start and end time, diagnostics information, event duration and so on.</p>",
      "members": {
        "Diagnostics": {
          "documentation": "<p> An array which specifies the names and values of all sensors contributing to an inference event.</p>",
          "shape": "ModelMetrics"
        },
        "EventDurationInSeconds": {
          "documentation": "<p> Indicates the size of an inference event in seconds. </p>",
          "shape": "EventDurationInSeconds"
        },
        "EventEndTime": {
          "documentation": "<p>Indicates the ending time of an inference event. </p>",
          "shape": "Timestamp"
        },
        "EventStartTime": {
          "documentation": "<p>Indicates the starting time of an inference event. </p>",
          "shape": "Timestamp"
        },
        "InferenceSchedulerArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the inference scheduler being used for the inference event. </p>",
          "shape": "InferenceSchedulerArn"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler being used for the inference events. </p>",
          "shape": "InferenceSchedulerName"
        }
      },
      "type": "structure"
    },
    "InferenceExecutionStatus": {
      "enum": [
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED"
      ],
      "type": "string"
    },
    "InferenceExecutionSummaries": {
      "member": {
        "shape": "InferenceExecutionSummary"
      },
      "type": "list"
    },
    "InferenceExecutionSummary": {
      "documentation": "<p>Contains information about the specific inference execution, including input and output data configuration, inference scheduling information, status, and so on. </p>",
      "members": {
        "CustomerResultObject": {
          "documentation": "<p> </p>",
          "shape": "S3Object"
        },
        "DataEndTime": {
          "documentation": "<p>Indicates the time reference in the dataset at which the inference execution stopped. </p>",
          "shape": "Timestamp"
        },
        "DataInputConfiguration": {
          "documentation": "<p> Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>",
          "shape": "InferenceInputConfiguration"
        },
        "DataOutputConfiguration": {
          "documentation": "<p> Specifies configuration information for the output results from for the inference execution, including the output Amazon S3 location. </p>",
          "shape": "InferenceOutputConfiguration"
        },
        "DataStartTime": {
          "documentation": "<p>Indicates the time reference in the dataset at which the inference execution began. </p>",
          "shape": "Timestamp"
        },
        "FailedReason": {
          "documentation": "<p> Specifies the reason for failure when an inference execution has failed. </p>",
          "shape": "BoundedLengthString"
        },
        "InferenceSchedulerArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the inference scheduler being used for the inference execution. </p>",
          "shape": "InferenceSchedulerArn"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler being used for the inference execution. </p>",
          "shape": "InferenceSchedulerName"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the ML model used for the inference execution. </p>",
          "shape": "ModelArn"
        },
        "ModelName": {
          "documentation": "<p>The name of the ML model being used for the inference execution. </p>",
          "shape": "ModelName"
        },
        "ScheduledStartTime": {
          "documentation": "<p>Indicates the start time at which the inference scheduler began the specific inference execution. </p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the inference execution. </p>",
          "shape": "InferenceExecutionStatus"
        }
      },
      "type": "structure"
    },
    "InferenceInputConfiguration": {
      "documentation": "<p>Specifies configuration information for the input data for the inference, including Amazon S3 location of input data.. </p>",
      "members": {
        "InferenceInputNameConfiguration": {
          "documentation": "<p>Specifies configuration information for the input data for the inference, including timestamp format and delimiter. </p>",
          "shape": "InferenceInputNameConfiguration"
        },
        "InputTimeZoneOffset": {
          "documentation": "<p>Indicates the difference between your time zone and Coordinated Universal Time (UTC).</p>",
          "shape": "TimeZoneOffset"
        },
        "S3InputConfiguration": {
          "documentation": "<p> Specifies configuration information for the input data for the inference, including Amazon S3 location of input data.</p>",
          "shape": "InferenceS3InputConfiguration"
        }
      },
      "type": "structure"
    },
    "InferenceInputNameConfiguration": {
      "documentation": "<p>Specifies configuration information for the input data for the inference, including timestamp format and delimiter. </p>",
      "members": {
        "ComponentTimestampDelimiter": {
          "documentation": "<p>Indicates the delimiter character used between items in the data. </p>",
          "shape": "ComponentTimestampDelimiter"
        },
        "TimestampFormat": {
          "documentation": "<p>The format of the timestamp, whether Epoch time, or standard, with or without hyphens (-). </p>",
          "shape": "FileNameTimestampFormat"
        }
      },
      "type": "structure"
    },
    "InferenceOutputConfiguration": {
      "documentation": "<p> Specifies configuration information for the output results from for the inference, including KMS key ID and output S3 location. </p>",
      "members": {
        "KmsKeyId": {
          "documentation": "<p>The ID number for the AWS KMS key used to encrypt the inference output. </p>",
          "shape": "NameOrArn"
        },
        "S3OutputConfiguration": {
          "documentation": "<p> Specifies configuration information for the output results from for the inference, output S3 location. </p>",
          "shape": "InferenceS3OutputConfiguration"
        }
      },
      "required": [
        "S3OutputConfiguration"
      ],
      "type": "structure"
    },
    "InferenceS3InputConfiguration": {
      "documentation": "<p> Specifies configuration information for the input data for the inference, including input data S3 location. </p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The bucket containing the input dataset for the inference. </p>",
          "shape": "S3Bucket"
        },
        "Prefix": {
          "documentation": "<p>The prefix for the S3 bucket used for the input data for the inference. </p>",
          "shape": "S3Prefix"
        }
      },
      "required": [
        "Bucket"
      ],
      "type": "structure"
    },
    "InferenceS3OutputConfiguration": {
      "documentation": "<p> Specifies configuration information for the output results from the inference, including output S3 location. </p>",
      "members": {
        "Bucket": {
          "documentation": "<p> The bucket containing the output results from the inference </p>",
          "shape": "S3Bucket"
        },
        "Prefix": {
          "documentation": "<p> The prefix for the S3 bucket used for the output results from the inference. </p>",
          "shape": "S3Prefix"
        }
      },
      "required": [
        "Bucket"
      ],
      "type": "structure"
    },
    "InferenceSchedulerArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:inference-scheduler\\/.+",
      "type": "string"
    },
    "InferenceSchedulerIdentifier": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_-]{1,200}$",
      "type": "string"
    },
    "InferenceSchedulerName": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_-]{1,200}$",
      "type": "string"
    },
    "InferenceSchedulerStatus": {
      "enum": [
        "PENDING",
        "RUNNING",
        "STOPPING",
        "STOPPED"
      ],
      "type": "string"
    },
    "InferenceSchedulerSummaries": {
      "member": {
        "shape": "InferenceSchedulerSummary"
      },
      "type": "list"
    },
    "InferenceSchedulerSummary": {
      "documentation": "<p>Contains information about the specific inference scheduler, including data delay offset, model name and ARN, status, and so on. </p>",
      "members": {
        "DataDelayOffsetInMinutes": {
          "documentation": "<p>A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if an offset delay time of five minutes was selected, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data. </p>",
          "shape": "DataDelayOffsetInMinutes"
        },
        "DataUploadFrequency": {
          "documentation": "<p>How often data is uploaded to the source S3 bucket for the input data. This value is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>",
          "shape": "DataUploadFrequency"
        },
        "InferenceSchedulerArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the inference scheduler. </p>",
          "shape": "InferenceSchedulerArn"
        },
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler. </p>",
          "shape": "InferenceSchedulerName"
        },
        "LatestInferenceResult": {
          "documentation": "<p>Indicates whether the latest execution for the inference scheduler was Anomalous (anomalous events found) or Normal (no anomalous events found).</p>",
          "shape": "LatestInferenceResult"
        },
        "ModelArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the ML model used by the inference scheduler. </p>",
          "shape": "ModelArn"
        },
        "ModelName": {
          "documentation": "<p>The name of the ML model used for the inference scheduler. </p>",
          "shape": "ModelName"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the inference scheduler. </p>",
          "shape": "InferenceSchedulerStatus"
        }
      },
      "type": "structure"
    },
    "IngestedFilesSummary": {
      "documentation": "<p>Gives statistics about how many files have been ingested, and which files have not been ingested, for a particular ingestion job.</p>",
      "members": {
        "DiscardedFiles": {
          "documentation": "<p>Indicates the number of files that were discarded. A file could be discarded because its format is invalid (for example, a jpg or pdf) or not readable.</p>",
          "shape": "ListOfDiscardedFiles"
        },
        "IngestedNumberOfFiles": {
          "documentation": "<p>Indicates the number of files that were successfully ingested.</p>",
          "shape": "Integer"
        },
        "TotalNumberOfFiles": {
          "documentation": "<p>Indicates the total number of files that were submitted for ingestion.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "TotalNumberOfFiles",
        "IngestedNumberOfFiles"
      ],
      "type": "structure"
    },
    "IngestionInputConfiguration": {
      "documentation": "<p> Specifies configuration information for the input data for the data ingestion job, including input data S3 location. </p>",
      "members": {
        "S3InputConfiguration": {
          "documentation": "<p>The location information for the S3 bucket used for input data for the data ingestion. </p>",
          "shape": "IngestionS3InputConfiguration"
        }
      },
      "required": [
        "S3InputConfiguration"
      ],
      "type": "structure"
    },
    "IngestionJobId": {
      "max": 32,
      "pattern": "[A-Fa-f0-9]{0,32}",
      "type": "string"
    },
    "IngestionJobStatus": {
      "enum": [
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED"
      ],
      "type": "string"
    },
    "IngestionS3InputConfiguration": {
      "documentation": "<p> Specifies S3 configuration information for the input data for the data ingestion job. </p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The name of the S3 bucket used for the input data for the data ingestion. </p>",
          "shape": "S3Bucket"
        },
        "KeyPattern": {
          "documentation": "<p> Pattern for matching the Amazon S3 files which will be used for ingestion. If no KeyPattern is provided, we will use the default hierarchy file structure, which is same as KeyPattern {prefix}/{component_name}/* </p>",
          "shape": "KeyPattern"
        },
        "Prefix": {
          "documentation": "<p>The prefix for the S3 location being used for the input data for the data ingestion. </p>",
          "shape": "S3Prefix"
        }
      },
      "required": [
        "Bucket"
      ],
      "type": "structure"
    },
    "InlineDataSchema": {
      "max": 1000000,
      "min": 1,
      "type": "string"
    },
    "InsufficientSensorData": {
      "documentation": "<p> Entity that comprises aggregated information on sensors having insufficient data. </p>",
      "members": {
        "MissingCompleteSensorData": {
          "documentation": "<p> Parameter that describes the total number of sensors that have data completely missing for it. </p>",
          "shape": "MissingCompleteSensorData"
        },
        "SensorsWithShortDateRange": {
          "documentation": "<p> Parameter that describes the total number of sensors that have a short date range of less than 90 days of data overall. </p>",
          "shape": "SensorsWithShortDateRange"
        }
      },
      "required": [
        "MissingCompleteSensorData",
        "SensorsWithShortDateRange"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "InvalidSensorData": {
      "documentation": "<p> Entity that comprises aggregated information on sensors having insufficient data. </p>",
      "members": {
        "AffectedSensorCount": {
          "documentation": "<p> Indicates the number of sensors that have at least some invalid values. </p>",
          "shape": "Integer"
        },
        "TotalNumberOfInvalidValues": {
          "documentation": "<p> Indicates the total number of invalid values across all the sensors. </p>",
          "shape": "Integer"
        }
      },
      "required": [
        "AffectedSensorCount",
        "TotalNumberOfInvalidValues"
      ],
      "type": "structure"
    },
    "KeyPattern": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "KmsKeyArn": {
      "max": 1024,
      "min": 1,
      "pattern": "arn:aws[a-z\\-]*:kms:[a-z0-9\\-]*:\\d{12}:[\\w\\-\\/]+",
      "type": "string"
    },
    "LabelGroupArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:label-group\\/.+",
      "type": "string"
    },
    "LabelGroupName": {
      "max": 200,
      "min": 1,
      "pattern": "^[0-9a-zA-Z_-]{1,200}$",
      "type": "string"
    },
    "LabelGroupSummaries": {
      "member": {
        "shape": "LabelGroupSummary"
      },
      "type": "list"
    },
    "LabelGroupSummary": {
      "documentation": "<p> Contains information about the label group. </p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p> The time at which the label group was created. </p>",
          "shape": "Timestamp"
        },
        "LabelGroupArn": {
          "documentation": "<p> The ARN of the label group. </p>",
          "shape": "LabelGroupArn"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of the label group. </p>",
          "shape": "LabelGroupName"
        },
        "UpdatedAt": {
          "documentation": "<p> The time at which the label group was updated. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "LabelId": {
      "max": 32,
      "pattern": "[A-Fa-f0-9]{0,32}",
      "type": "string"
    },
    "LabelRating": {
      "enum": [
        "ANOMALY",
        "NO_ANOMALY",
        "NEUTRAL"
      ],
      "type": "string"
    },
    "LabelSummaries": {
      "member": {
        "shape": "LabelSummary"
      },
      "type": "list"
    },
    "LabelSummary": {
      "documentation": "<p> Information about the label. </p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p> The time at which the label was created. </p>",
          "shape": "Timestamp"
        },
        "EndTime": {
          "documentation": "<p> The timestamp indicating the end of the label. </p>",
          "shape": "Timestamp"
        },
        "Equipment": {
          "documentation": "<p> Indicates that a label pertains to a particular piece of equipment. </p>",
          "shape": "Equipment"
        },
        "FaultCode": {
          "documentation": "<p> Indicates the type of anomaly associated with the label. </p> <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>",
          "shape": "FaultCode"
        },
        "LabelGroupArn": {
          "documentation": "<p> The ARN of the label group. </p>",
          "shape": "LabelGroupArn"
        },
        "LabelGroupName": {
          "documentation": "<p> The name of the label group. </p>",
          "shape": "LabelGroupName"
        },
        "LabelId": {
          "documentation": "<p> The ID of the label. </p>",
          "shape": "LabelId"
        },
        "Rating": {
          "documentation": "<p> Indicates whether a labeled event represents an anomaly. </p>",
          "shape": "LabelRating"
        },
        "StartTime": {
          "documentation": "<p> The timestamp indicating the start of the label. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "LabelsInputConfiguration": {
      "documentation": "<p>Contains the configuration information for the S3 location being used to hold label data. </p>",
      "members": {
        "LabelGroupName": {
          "documentation": "<p> The name of the label group to be used for label data. </p>",
          "shape": "LabelGroupName"
        },
        "S3InputConfiguration": {
          "documentation": "<p>Contains location information for the S3 location being used for label data. </p>",
          "shape": "LabelsS3InputConfiguration"
        }
      },
      "type": "structure"
    },
    "LabelsS3InputConfiguration": {
      "documentation": "<p>The location information (prefix and bucket name) for the s3 location being used for label data. </p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The name of the S3 bucket holding the label data. </p>",
          "shape": "S3Bucket"
        },
        "Prefix": {
          "documentation": "<p> The prefix for the S3 bucket used for the label data. </p>",
          "shape": "S3Prefix"
        }
      },
      "required": [
        "Bucket"
      ],
      "type": "structure"
    },
    "LargeTimestampGaps": {
      "documentation": "<p> Entity that comprises information on large gaps between consecutive timestamps in data. </p>",
      "members": {
        "MaxTimestampGapInDays": {
          "documentation": "<p> Indicates the size of the largest timestamp gap, in days. </p>",
          "shape": "Integer"
        },
        "NumberOfLargeTimestampGaps": {
          "documentation": "<p> Indicates the number of large timestamp gaps, if there are any. </p>",
          "shape": "Integer"
        },
        "Status": {
          "documentation": "<p> Indicates whether there is a potential data issue related to large gaps in timestamps. </p>",
          "shape": "StatisticalIssueStatus"
        }
      },
      "required": [
        "Status"
      ],
      "type": "structure"
    },
    "LatestInferenceResult": {
      "enum": [
        "ANOMALOUS",
        "NORMAL"
      ],
      "type": "string"
    },
    "ListDataIngestionJobsRequest": {
      "members": {
        "DatasetName": {
          "documentation": "<p>The name of the dataset being used for the data ingestion job. </p>",
          "shape": "DatasetName"
        },
        "MaxResults": {
          "documentation": "<p> Specifies the maximum number of data ingestion jobs to list. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque pagination token indicating where to continue the listing of data ingestion jobs. </p>",
          "shape": "NextToken"
        },
        "Status": {
          "documentation": "<p>Indicates the status of the data ingestion job. </p>",
          "shape": "IngestionJobStatus"
        }
      },
      "type": "structure"
    },
    "ListDataIngestionJobsResponse": {
      "members": {
        "DataIngestionJobSummaries": {
          "documentation": "<p>Specifies information about the specific data ingestion job, including dataset name and status. </p>",
          "shape": "DataIngestionJobSummaries"
        },
        "NextToken": {
          "documentation": "<p> An opaque pagination token indicating where to continue the listing of data ingestion jobs. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetsRequest": {
      "members": {
        "DatasetNameBeginsWith": {
          "documentation": "<p>The beginning of the name of the datasets to be listed. </p>",
          "shape": "DatasetName"
        },
        "MaxResults": {
          "documentation": "<p> Specifies the maximum number of datasets to list. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p> An opaque pagination token indicating where to continue the listing of datasets. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetsResponse": {
      "members": {
        "DatasetSummaries": {
          "documentation": "<p>Provides information about the specified dataset, including creation time, dataset ARN, and status. </p>",
          "shape": "DatasetSummaries"
        },
        "NextToken": {
          "documentation": "<p> An opaque pagination token indicating where to continue the listing of datasets. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListInferenceEventsRequest": {
      "members": {
        "InferenceSchedulerName": {
          "documentation": "<p>The name of the inference scheduler for the inference events listed. </p>",
          "shape": "InferenceSchedulerIdentifier"
        },
        "IntervalEndTime": {
          "documentation": "<p>Returns all the inference events with an end start time equal to or greater than less than the end time given</p>",
          "shape": "Timestamp"
        },
        "IntervalStartTime": {
          "documentation": "<p> Lookout for Equipment will return all the inference events with an end time equal to or greater than the start time given.</p>",
          "shape": "Timestamp"
        },
        "MaxResults": {
          "documentation": "<p>Specifies the maximum number of inference events to list. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque pagination token indicating where to continue the listing of inference events.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "InferenceSchedulerName",
        "IntervalStartTime",
        "IntervalEndTime"
      ],
      "type": "structure"
    },
    "ListInferenceEventsResponse": {
      "members": {
        "InferenceEventSummaries": {
          "documentation": "<p>Provides an array of information about the individual inference events returned from the <code>ListInferenceEvents</code> operation, including scheduler used, event start time, event end time, diagnostics, and so on. </p>",
          "shape": "InferenceEventSummaries"
        },
        "NextToken": {
          "documentation": "<p>An opaque pagination token indicating where to continue the listing of inference executions. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListInferenceExecutionsRequest": {
      "members": {
        "DataEndTimeBefore": {
          "documentation": "<p>The time reference in the inferenced dataset before which Amazon Lookout for Equipment stopped the inference execution. </p>",
          "shape": "Timestamp"
        },
        "DataStartTimeAfter": {
[...]
