{
  "documentation": "<p>For more information about Amazon Web Services Cloud Control API, see the <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/what-is-cloudcontrolapi.html\">Amazon Web Services Cloud Control API User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2021-09-30",
    "endpointPrefix": "cloudcontrolapi",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "CloudControlApi",
    "serviceFullName": "AWS Cloud Control API",
    "serviceId": "CloudControl",
    "signatureVersion": "v4",
    "signingName": "cloudcontrolapi",
    "targetPrefix": "CloudApiService",
    "uid": "cloudcontrol-2021-09-30"
  },
  "operations": {
    "CancelResourceRequest": {
      "documentation": "<p>Cancels the specified resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-cancel\">Canceling resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>Only resource operations requests with a status of <code>PENDING</code> or <code>IN_PROGRESS</code> can be canceled.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "RequestTokenNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CancelResourceRequestInput"
      },
      "name": "CancelResourceRequest",
      "output": {
        "shape": "CancelResourceRequestOutput"
      }
    },
    "CreateResource": {
      "documentation": "<p>Creates the specified resource. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html\">Creating a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource creation request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> type returned by <code>CreateResource</code>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "HandlerInternalFailureException"
        },
        {
          "shape": "GeneralServiceException"
        },
        {
          "shape": "NotUpdatableException"
        },
        {
          "shape": "TypeNotFoundException"
        },
        {
          "shape": "ConcurrentOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "PrivateTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NetworkFailureException"
        },
        {
          "shape": "UnsupportedActionException"
        },
        {
          "shape": "NotStabilizedException"
        },
        {
          "shape": "ServiceInternalErrorException"
        },
        {
          "shape": "HandlerFailureException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InvalidCredentialsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ClientTokenConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceInput"
      },
      "name": "CreateResource",
      "output": {
        "shape": "CreateResourceOutput"
      }
    },
    "DeleteResource": {
      "documentation": "<p>Deletes the specified resource. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-delete.html\">Deleting a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource deletion request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>DeleteResource</code>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "HandlerInternalFailureException"
        },
        {
          "shape": "GeneralServiceException"
        },
        {
          "shape": "NotUpdatableException"
        },
        {
          "shape": "TypeNotFoundException"
        },
        {
          "shape": "ConcurrentOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "PrivateTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NetworkFailureException"
        },
        {
          "shape": "UnsupportedActionException"
        },
        {
          "shape": "NotStabilizedException"
        },
        {
          "shape": "ServiceInternalErrorException"
        },
        {
          "shape": "HandlerFailureException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InvalidCredentialsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ClientTokenConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceInput"
      },
      "name": "DeleteResource",
      "output": {
        "shape": "DeleteResourceOutput"
      }
    },
    "GetResource": {
      "documentation": "<p>Returns information about the current state of the specified resource. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-read.html\">Reading a resource's current state</a>.</p> <p>You can use this action to return information about an existing resource in your account and Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "HandlerInternalFailureException"
        },
        {
          "shape": "GeneralServiceException"
        },
        {
          "shape": "NotUpdatableException"
        },
        {
          "shape": "TypeNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "PrivateTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NetworkFailureException"
        },
        {
          "shape": "UnsupportedActionException"
        },
        {
          "shape": "NotStabilizedException"
        },
        {
          "shape": "ServiceInternalErrorException"
        },
        {
          "shape": "HandlerFailureException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InvalidCredentialsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourceInput"
      },
      "name": "GetResource",
      "output": {
        "shape": "GetResourceOutput"
      }
    },
    "GetResourceRequestStatus": {
      "documentation": "<p>Returns the current status of a resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-track\">Tracking the progress of resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
      "errors": [
        {
          "shape": "RequestTokenNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourceRequestStatusInput"
      },
      "name": "GetResourceRequestStatus",
      "output": {
        "shape": "GetResourceRequestStatusOutput"
      }
    },
    "ListResourceRequests": {
      "documentation": "<p>Returns existing resource operation requests. This includes requests of all status types. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html#resource-operations-manage-requests-list\">Listing active resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <note> <p>Resource operation requests expire after 7 days.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceRequestsInput"
      },
      "name": "ListResourceRequests",
      "output": {
        "shape": "ListResourceRequestsOutput"
      }
    },
    "ListResources": {
      "documentation": "<p>Returns information about the specified resources. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-list.html\">Discovering resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>You can use this action to return information about existing resources in your account and Amazon Web Services Region, whether those resources were provisioned using Cloud Control API.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "HandlerInternalFailureException"
        },
        {
          "shape": "GeneralServiceException"
        },
        {
          "shape": "NotUpdatableException"
        },
        {
          "shape": "TypeNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "PrivateTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NetworkFailureException"
        },
        {
          "shape": "UnsupportedActionException"
        },
        {
          "shape": "NotStabilizedException"
        },
        {
          "shape": "ServiceInternalErrorException"
        },
        {
          "shape": "HandlerFailureException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InvalidCredentialsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesInput"
      },
      "name": "ListResources",
      "output": {
        "shape": "ListResourcesOutput"
      }
    },
    "UpdateResource": {
      "documentation": "<p>Updates the specified property values in the resource.</p> <p>You specify your resource property updates as a list of patch operations contained in a JSON patch document that adheres to the <a href=\"https://datatracker.ietf.org/doc/html/rfc6902\"> <i>RFC 6902 - JavaScript Object Notation (JSON) Patch</i> </a> standard.</p> <p>For details on how Cloud Control API performs resource update operations, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-update.html\">Updating a resource</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p> <p>After you have initiated a resource update request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>UpdateResource</code>.</p> <p>For more information about the properties of a specific resource, refer to the related topic for the resource in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Resource and property types reference</a> in the <i>CloudFormation Users Guide</i>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "HandlerInternalFailureException"
        },
        {
          "shape": "GeneralServiceException"
        },
        {
          "shape": "NotUpdatableException"
        },
        {
          "shape": "TypeNotFoundException"
        },
        {
          "shape": "ConcurrentOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "PrivateTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NetworkFailureException"
        },
        {
          "shape": "UnsupportedActionException"
        },
        {
          "shape": "NotStabilizedException"
        },
        {
          "shape": "ServiceInternalErrorException"
        },
        {
          "shape": "HandlerFailureException"
        },
        {
          "shape": "ServiceLimitExceededException"
        },
        {
          "shape": "InvalidCredentialsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ClientTokenConflictException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResourceInput"
      },
      "name": "UpdateResource",
      "output": {
        "shape": "UpdateResourceOutput"
      }
    }
  },
  "shapes": {
    "AlreadyExistsException": {
      "documentation": "<p>The resource with the name requested already exists.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CancelResourceRequestInput": {
      "members": {
        "RequestToken": {
          "documentation": "<p>The <code>RequestToken</code> of the <code>ProgressEvent</code> object returned by the resource operation request.</p>",
          "shape": "RequestToken"
        }
      },
      "required": [
        "RequestToken"
      ],
      "type": "structure"
    },
    "CancelResourceRequestOutput": {
      "members": {
        "ProgressEvent": {
          "shape": "ProgressEvent"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 128,
      "min": 1,
      "pattern": "[-A-Za-z0-9+/=]+",
      "type": "string"
    },
    "ClientTokenConflictException": {
      "documentation": "<p>The specified client token has already been used in another resource request.</p> <p>It's best practice for client tokens to be unique for each resource operation request. However, client token expire after 36 hours.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>The resource is currently being modified by another operation.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConcurrentOperationException": {
      "documentation": "<p>Another resource operation is currently being performed on this resource.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateResourceInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "DesiredState": {
          "documentation": "<p>Structured data format representing the desired state of the resource, consisting of that resource's properties and their desired values.</p> <note> <p>Cloud Control API currently supports JSON as a structured data format.</p> </note> <pre><code> &lt;p&gt;Specify the desired state as one of the following:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;A JSON blob&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;A local path containing the desired state in JSON data format&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt;For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-create.html#resource-operations-create-desiredstate&quot;&gt;Composing the desired state of the resource&lt;/a&gt; in the &lt;i&gt;Amazon Web Services Cloud Control API User Guide&lt;/i&gt;.&lt;/p&gt; &lt;p&gt;For more information about the properties of a specific resource, refer to the related topic for the resource in the &lt;a href=&quot;https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html&quot;&gt;Resource and property types reference&lt;/a&gt; in the &lt;i&gt;CloudFormation Users Guide&lt;/i&gt;.&lt;/p&gt; </code></pre>",
          "shape": "Properties"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "RoleArn"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        },
        "TypeVersionId": {
          "documentation": "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "shape": "TypeVersionId"
        }
      },
      "required": [
        "TypeName",
        "DesiredState"
      ],
      "type": "structure"
    },
    "CreateResourceOutput": {
      "members": {
        "ProgressEvent": {
          "documentation": "<p>Represents the current status of the resource creation request.</p> <p>After you have initiated a resource creation request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>CreateResource</code>.</p>",
          "shape": "ProgressEvent"
        }
      },
      "type": "structure"
    },
    "DeleteResourceInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "Identifier": {
          "documentation": "<p>The identifier for the resource.</p> <p>You can specify the primary identifier, or any secondary identifier defined for the resource type in its resource schema. You can only specify one identifier. Primary identifiers can be specified as a string or JSON; secondary identifiers must be specified as JSON.</p> <p>For compound primary identifiers (that is, one that consists of multiple resource properties strung together), to specify the primary identifier as a string, list the property values <i>in the order they are specified</i> in the primary identifier definition, separated by <code>|</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "Identifier"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "RoleArn"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        },
        "TypeVersionId": {
          "documentation": "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "shape": "TypeVersionId"
        }
      },
      "required": [
        "TypeName",
        "Identifier"
      ],
      "type": "structure"
    },
    "DeleteResourceOutput": {
      "members": {
        "ProgressEvent": {
          "documentation": "<p>Represents the current status of the resource deletion request.</p> <p>After you have initiated a resource deletion request, you can monitor the progress of your request by calling <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> using the <code>RequestToken</code> of the <code>ProgressEvent</code> returned by <code>DeleteResource</code>.</p>",
          "shape": "ProgressEvent"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 1024,
      "min": 1,
      "pattern": ".+",
      "type": "string"
    },
    "GeneralServiceException": {
      "documentation": "<p>The resource handler has returned that the downstream service generated an error that doesn't map to any other handler error code.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "GetResourceInput": {
      "members": {
        "Identifier": {
          "documentation": "<p>The identifier for the resource.</p> <p>You can specify the primary identifier, or any secondary identifier defined for the resource type in its resource schema. You can only specify one identifier. Primary identifiers can be specified as a string or JSON; secondary identifiers must be specified as JSON.</p> <p>For compound primary identifiers (that is, one that consists of multiple resource properties strung together), to specify the primary identifier as a string, list the property values <i>in the order they are specified</i> in the primary identifier definition, separated by <code>|</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "Identifier"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "RoleArn"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        },
        "TypeVersionId": {
          "documentation": "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "shape": "TypeVersionId"
        }
      },
      "required": [
        "TypeName",
        "Identifier"
      ],
      "type": "structure"
    },
    "GetResourceOutput": {
      "members": {
        "ResourceDescription": {
          "shape": "ResourceDescription"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        }
      },
      "type": "structure"
    },
    "GetResourceRequestStatusInput": {
      "members": {
        "RequestToken": {
          "documentation": "<p>A unique token used to track the progress of the resource operation request.</p> <p>Request tokens are included in the <code>ProgressEvent</code> type returned by a resource operation request.</p>",
          "shape": "RequestToken"
        }
      },
      "required": [
        "RequestToken"
      ],
      "type": "structure"
    },
    "GetResourceRequestStatusOutput": {
      "members": {
        "ProgressEvent": {
          "documentation": "<p>Represents the current status of the resource operation request.</p>",
          "shape": "ProgressEvent"
        }
      },
      "type": "structure"
    },
    "HandlerErrorCode": {
      "enum": [
        "NotUpdatable",
        "InvalidRequest",
        "AccessDenied",
        "InvalidCredentials",
        "AlreadyExists",
        "NotFound",
        "ResourceConflict",
        "Throttling",
        "ServiceLimitExceeded",
        "NotStabilized",
        "GeneralServiceException",
        "ServiceInternalError",
        "ServiceTimeout",
        "NetworkFailure",
        "InternalFailure"
      ],
      "type": "string"
    },
    "HandlerFailureException": {
      "documentation": "<p>The resource handler has failed without a returning a more specific error code. This can include timeouts.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "HandlerInternalFailureException": {
      "documentation": "<p>The resource handler has returned that an unexpected error occurred within the resource handler.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "HandlerNextToken": {
      "max": 2048,
      "min": 1,
      "pattern": ".+",
      "type": "string"
    },
    "Identifier": {
      "max": 1024,
      "min": 1,
      "pattern": ".+",
      "type": "string"
    },
    "InvalidCredentialsException": {
      "documentation": "<p>The resource handler has returned that the credentials provided by the user are invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The resource handler has returned that invalid input from the user has generated a generic exception.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListResourceRequestsInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to be returned with a single call. If the number of available results exceeds this maximum, the response includes a <code>NextToken</code> value that you can assign to the <code>NextToken</code> request parameter to get the next set of results.</p> <p>The default is <code>20</code>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If the previous paginated request didn't return all of the remaining results, the response object's <code>NextToken</code> parameter value is set to a token. To retrieve the next set of results, call this action again and assign that token to the request object's <code>NextToken</code> parameter. If there are no remaining results, the previous response object's <code>NextToken</code> parameter is set to <code>null</code>.</p>",
          "shape": "NextToken"
        },
        "ResourceRequestStatusFilter": {
          "documentation": "<p>The filter criteria to apply to the requests returned.</p>",
          "shape": "ResourceRequestStatusFilter"
        }
      },
      "type": "structure"
    },
    "ListResourceRequestsOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the request doesn't return all of the remaining results, <code>NextToken</code> is set to a token. To retrieve the next set of results, call <code>ListResources</code> again and assign that token to the request object's <code>NextToken</code> parameter. If the request returns all results, <code>NextToken</code> is set to null.</p>",
          "shape": "NextToken"
        },
        "ResourceRequestStatusSummaries": {
          "documentation": "<p>The requests that match the specified filter criteria.</p>",
          "shape": "ResourceRequestStatusSummaries"
        }
      },
      "type": "structure"
    },
    "ListResourcesInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Reserved.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If the previous paginated request didn't return all of the remaining results, the response object's <code>NextToken</code> parameter value is set to a token. To retrieve the next set of results, call this action again and assign that token to the request object's <code>NextToken</code> parameter. If there are no remaining results, the previous response object's <code>NextToken</code> parameter is set to <code>null</code>.</p>",
          "shape": "HandlerNextToken"
        },
        "ResourceModel": {
          "documentation": "<p>The resource model to use to select the resources to return.</p>",
          "shape": "Properties"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "RoleArn"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        },
        "TypeVersionId": {
          "documentation": "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "shape": "TypeVersionId"
        }
      },
      "required": [
        "TypeName"
      ],
      "type": "structure"
    },
    "ListResourcesOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the request doesn't return all of the remaining results, <code>NextToken</code> is set to a token. To retrieve the next set of results, call <code>ListResources</code> again and assign that token to the request object's <code>NextToken</code> parameter. If the request returns all results, <code>NextToken</code> is set to null.</p>",
          "shape": "HandlerNextToken"
        },
        "ResourceDescriptions": {
          "documentation": "<p>Information about the specified resources, including primary identifier and resource model.</p>",
          "shape": "ResourceDescriptions"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "NetworkFailureException": {
      "documentation": "<p>The resource handler has returned that the request couldn't be completed due to networking issues, such as a failure to receive a response from the server.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "pattern": "[-A-Za-z0-9+/=]+",
      "type": "string"
    },
    "NotStabilizedException": {
      "documentation": "<p>The resource handler has returned that the downstream resource failed to complete all of its ready-state checks.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NotUpdatableException": {
      "documentation": "<p>One or more properties included in this resource operation are defined as create-only, and therefore can't be updated.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Operation": {
      "enum": [
        "CREATE",
        "DELETE",
        "UPDATE"
      ],
      "type": "string"
    },
    "OperationStatus": {
      "enum": [
        "PENDING",
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED",
        "CANCEL_IN_PROGRESS",
        "CANCEL_COMPLETE"
      ],
      "type": "string"
    },
    "OperationStatuses": {
      "member": {
        "shape": "OperationStatus"
      },
      "type": "list"
    },
    "Operations": {
      "member": {
        "shape": "Operation"
      },
      "type": "list"
    },
    "PatchDocument": {
      "max": 65536,
      "min": 1,
      "pattern": "[\\s\\S]*",
      "sensitive": true,
      "type": "string"
    },
    "PrivateTypeException": {
      "documentation": "<p>Cloud Control API hasn't received a valid response from the resource handler, due to a configuration error. This includes issues such as the resource handler returning an invalid response, or timing out.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ProgressEvent": {
      "documentation": "<p>Represents the current status of a resource operation request. For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-manage-requests.html\">Managing resource operation requests</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>For requests with a status of <code>FAILED</code>, the associated error code.</p> <p>For error code definitions, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-test-contract-errors.html\">Handler error codes</a> in the <i>CloudFormation Command Line Interface User Guide for Extension Development</i>.</p>",
          "shape": "HandlerErrorCode"
        },
        "EventTime": {
          "documentation": "<p>When the resource operation request was initiated.</p>",
          "shape": "Timestamp"
        },
        "Identifier": {
          "documentation": "<p>The primary identifier for the resource.</p> <note> <p>In some cases, the resource identifier may be available before the resource operation has reached a status of <code>SUCCESS</code>.</p> </note>",
          "shape": "Identifier"
        },
        "Operation": {
          "documentation": "<p>The resource operation type.</p>",
          "shape": "Operation"
        },
        "OperationStatus": {
          "documentation": "<p>The current status of the resource operation request.</p> <ul> <li> <p> <code>PENDING</code>: The resource operation hasn't yet started.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The resource operation is currently in progress.</p> </li> <li> <p> <code>SUCCESS</code>: The resource operation has successfully completed.</p> </li> <li> <p> <code>FAILED</code>: The resource operation has failed. Refer to the error code and status message for more information.</p> </li> <li> <p> <code>CANCEL_IN_PROGRESS</code>: The resource operation is in the process of being canceled.</p> </li> <li> <p> <code>CANCEL_COMPLETE</code>: The resource operation has been canceled.</p> </li> </ul>",
          "shape": "OperationStatus"
        },
        "RequestToken": {
          "documentation": "<p>The unique token representing this resource operation request.</p> <p>Use the <code>RequestToken</code> with <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> to return the current status of a resource operation request.</p>",
          "shape": "RequestToken"
        },
        "ResourceModel": {
          "documentation": "<p>A JSON string containing the resource model, consisting of each resource property and its current value.</p>",
          "shape": "Properties"
        },
        "RetryAfter": {
          "documentation": "<p>When to next request the status of this resource operation request.</p>",
          "shape": "Timestamp"
        },
        "StatusMessage": {
          "documentation": "<p>Any message explaining the current status.</p>",
          "shape": "StatusMessage"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type used in the operation.</p>",
          "shape": "TypeName"
        }
      },
      "type": "structure"
    },
    "Properties": {
      "max": 65536,
      "min": 1,
      "pattern": "[\\s\\S]*",
      "sensitive": true,
      "type": "string"
    },
    "RequestToken": {
      "max": 128,
      "min": 1,
      "pattern": "[-A-Za-z0-9+/=]+",
      "type": "string"
    },
    "RequestTokenNotFoundException": {
      "documentation": "<p>A resource operation with the specified request token can't be found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceConflictException": {
      "documentation": "<p>The resource is temporarily unavailable to be acted upon. For example, if the resource is currently undergoing an operation and can't be acted upon until that operation is finished.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceDescription": {
      "documentation": "<p>Represents information about a provisioned resource.</p>",
      "members": {
        "Identifier": {
          "documentation": "<p>The primary identifier for the resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "Identifier"
        },
        "Properties": {
          "documentation": "<p>A list of the resource properties and their current values.</p>",
          "shape": "Properties"
        }
      },
      "type": "structure"
    },
    "ResourceDescriptions": {
      "member": {
        "shape": "ResourceDescription"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>A resource with the specified identifier can't be found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceRequestStatusFilter": {
      "documentation": "<p>The filter criteria to use in determining the requests returned.</p>",
      "members": {
        "OperationStatuses": {
          "documentation": "<p>The operation statuses to include in the filter.</p> <ul> <li> <p> <code>PENDING</code>: The operation has been requested, but not yet initiated.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The operation is in progress.</p> </li> <li> <p> <code>SUCCESS</code>: The operation completed.</p> </li> <li> <p> <code>FAILED</code>: The operation failed.</p> </li> <li> <p> <code>CANCEL_IN_PROGRESS</code>: The operation is in the process of being canceled.</p> </li> <li> <p> <code>CANCEL_COMPLETE</code>: The operation has been canceled.</p> </li> </ul>",
          "shape": "OperationStatuses"
        },
        "Operations": {
          "documentation": "<p>The operation types to include in the filter.</p>",
          "shape": "Operations"
        }
      },
      "type": "structure"
    },
    "ResourceRequestStatusSummaries": {
      "member": {
        "shape": "ProgressEvent"
      },
      "type": "list"
    },
    "RoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:.+:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "ServiceInternalErrorException": {
      "documentation": "<p>The resource handler has returned that the downstream service returned an internal error, typically with a <code>5XX HTTP</code> status code.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ServiceLimitExceededException": {
      "documentation": "<p>The resource handler has returned that a non-transient resource limit was reached on the service side.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StatusMessage": {
      "max": 1024,
      "min": 0,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TypeName": {
      "max": 196,
      "min": 10,
      "pattern": "[A-Za-z0-9]{2,64}::[A-Za-z0-9]{2,64}::[A-Za-z0-9]{2,64}",
      "type": "string"
    },
    "TypeNotFoundException": {
      "documentation": "<p>The specified extension doesn't exist in the CloudFormation registry.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "TypeVersionId": {
      "max": 128,
      "min": 1,
      "pattern": "[A-Za-z0-9-]+",
      "type": "string"
    },
    "UnsupportedActionException": {
      "documentation": "<p>The specified resource doesn't support this resource operation.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UpdateResourceInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier to ensure the idempotency of the resource request. As a best practice, specify this token to ensure idempotency, so that Amazon Web Services Cloud Control API can accurately distinguish between request retries and new resource requests. You might retry a resource request to ensure that it was successfully received.</p> <p>A client token is valid for 36 hours once used. After that, a resource request with the same client token is treated as a new request.</p> <p>If you do not specify a client token, one is generated for inclusion in the request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-idempotency\">Ensuring resource operation requests are unique</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "Identifier": {
          "documentation": "<p>The identifier for the resource.</p> <p>You can specify the primary identifier, or any secondary identifier defined for the resource type in its resource schema. You can only specify one identifier. Primary identifiers can be specified as a string or JSON; secondary identifiers must be specified as JSON.</p> <p>For compound primary identifiers (that is, one that consists of multiple resource properties strung together), to specify the primary identifier as a string, list the property values <i>in the order they are specified</i> in the primary identifier definition, separated by <code>|</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-identifier.html\">Identifying resources</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "Identifier"
        },
        "PatchDocument": {
          "documentation": "<p>A JavaScript Object Notation (JSON) document listing the patch operations that represent the updates to apply to the current resource properties. For details, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations-update.html#resource-operations-update-patch\">Composing the patch document</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "PatchDocument"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role for Cloud Control API to use when performing this resource operation. The role specified must have the permissions required for this operation. The necessary permissions for each event handler are defined in the <code> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html#schema-properties-handlers\">handlers</a> </code> section of the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-schema.html\">resource type definition schema</a>.</p> <p>If you do not specify a role, Cloud Control API uses a temporary session created using your Amazon Web Services user credentials.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/resource-operations.html#resource-operations-permissions\">Specifying credentials</a> in the <i>Amazon Web Services Cloud Control API User Guide</i>.</p>",
          "shape": "RoleArn"
        },
        "TypeName": {
          "documentation": "<p>The name of the resource type.</p>",
          "shape": "TypeName"
        },
        "TypeVersionId": {
          "documentation": "<p>For private resource types, the type version to use in this resource operation. If you do not specify a resource version, CloudFormation uses the default version.</p>",
          "shape": "TypeVersionId"
        }
      },
      "required": [
        "TypeName",
        "Identifier",
        "PatchDocument"
      ],
      "type": "structure"
    },
    "UpdateResourceOutput": {
      "members": {
        "ProgressEvent": {
          "documentation": "<p>Represents the current status of the resource update request.</p> <p>Use the <code>RequestToken</code> of the <code>ProgressEvent</code> with <a href=\"https://docs.aws.amazon.com/cloudcontrolapi/latest/APIReference/API_GetResourceRequestStatus.html\">GetResourceRequestStatus</a> to return the current status of a resource operation request.</p>",
          "shape": "ProgressEvent"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
