{
  "documentation": "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need detailed information about Amazon Fraud Detector API actions, data types, and errors. For more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p> <p>We provide the Query API as well as AWS software development kits (SDK) for Amazon Fraud Detector in Java and Python programming languages.</p> <p>The Amazon Fraud Detector Query API provides HTTPS requests that use the HTTP verb GET or POST and a Query parameter <code>Action</code>. AWS SDK provides libraries, sample code, tutorials, and other resources for software developers who prefer to build applications using language-specific APIs instead of submitting a request over HTTP or HTTPS. These libraries provide basic functions that automatically take care of tasks such as cryptographically signing your requests, retrying requests, and handling error responses, so that it is easier for you to get started. For more information about the AWS SDKs, see <a href=\"https://docs.aws.amazon.com/https:/aws.amazon.com/tools/\">Tools to build on AWS</a>. </p>",
  "metadata": {
    "apiVersion": "2019-11-15",
    "endpointPrefix": "frauddetector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Fraud Detector",
    "serviceId": "FraudDetector",
    "signatureVersion": "v4",
    "targetPrefix": "AWSHawksNestServiceFacade",
    "uid": "frauddetector-2019-11-15"
  },
  "operations": {
    "BatchCreateVariable": {
      "documentation": "<p>Creates a batch of variables.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchCreateVariableRequest"
      },
      "name": "BatchCreateVariable",
      "output": {
        "shape": "BatchCreateVariableResult"
      }
    },
    "BatchGetVariable": {
      "documentation": "<p>Gets a batch of variables.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetVariableRequest"
      },
      "name": "BatchGetVariable",
      "output": {
        "shape": "BatchGetVariableResult"
      }
    },
    "CancelBatchImportJob": {
      "documentation": "<p> Cancels an in-progress batch import job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelBatchImportJobRequest"
      },
      "name": "CancelBatchImportJob",
      "output": {
        "shape": "CancelBatchImportJobResult"
      }
    },
    "CancelBatchPredictionJob": {
      "documentation": "<p>Cancels the specified batch prediction job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelBatchPredictionJobRequest"
      },
      "name": "CancelBatchPredictionJob",
      "output": {
        "shape": "CancelBatchPredictionJobResult"
      }
    },
    "CreateBatchImportJob": {
      "documentation": "<p>Creates a batch import job. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBatchImportJobRequest"
      },
      "name": "CreateBatchImportJob",
      "output": {
        "shape": "CreateBatchImportJobResult"
      }
    },
    "CreateBatchPredictionJob": {
      "documentation": "<p>Creates a batch prediction job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBatchPredictionJobRequest"
      },
      "name": "CreateBatchPredictionJob",
      "output": {
        "shape": "CreateBatchPredictionJobResult"
      }
    },
    "CreateDetectorVersion": {
      "documentation": "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDetectorVersionRequest"
      },
      "name": "CreateDetectorVersion",
      "output": {
        "shape": "CreateDetectorVersionResult"
      }
    },
    "CreateModel": {
      "documentation": "<p>Creates a model using the specified model type.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "shape": "CreateModelResult"
      }
    },
    "CreateModelVersion": {
      "documentation": "<p>Creates a version of the model using the specified model type and model id. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateModelVersionRequest"
      },
      "name": "CreateModelVersion",
      "output": {
        "shape": "CreateModelVersionResult"
      }
    },
    "CreateRule": {
      "documentation": "<p>Creates a rule for use with the specified detector. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleRequest"
      },
      "name": "CreateRule",
      "output": {
        "shape": "CreateRuleResult"
      }
    },
    "CreateVariable": {
      "documentation": "<p>Creates a variable.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVariableRequest"
      },
      "name": "CreateVariable",
      "output": {
        "shape": "CreateVariableResult"
      }
    },
    "DeleteBatchImportJob": {
      "documentation": "<p>Deletes the specified batch import job ID record. This action does not delete the data that was batch imported. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBatchImportJobRequest"
      },
      "name": "DeleteBatchImportJob",
      "output": {
        "shape": "DeleteBatchImportJobResult"
      }
    },
    "DeleteBatchPredictionJob": {
      "documentation": "<p>Deletes a batch prediction job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBatchPredictionJobRequest"
      },
      "name": "DeleteBatchPredictionJob",
      "output": {
        "shape": "DeleteBatchPredictionJobResult"
      }
    },
    "DeleteDetector": {
      "documentation": "<p>Deletes the detector. Before deleting a detector, you must first delete all detector versions and rule versions associated with the detector.</p> <p>When you delete a detector, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDetectorRequest"
      },
      "name": "DeleteDetector",
      "output": {
        "shape": "DeleteDetectorResult"
      }
    },
    "DeleteDetectorVersion": {
      "documentation": "<p>Deletes the detector version. You cannot delete detector versions that are in <code>ACTIVE</code> status.</p> <p>When you delete a detector version, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDetectorVersionRequest"
      },
      "name": "DeleteDetectorVersion",
      "output": {
        "shape": "DeleteDetectorVersionResult"
      }
    },
    "DeleteEntityType": {
      "documentation": "<p>Deletes an entity type.</p> <p>You cannot delete an entity type that is included in an event type.</p> <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEntityTypeRequest"
      },
      "name": "DeleteEntityType",
      "output": {
        "shape": "DeleteEntityTypeResult"
      }
    },
    "DeleteEvent": {
      "documentation": "<p>Deletes the specified event.</p> <p>When you delete an event, Amazon Fraud Detector permanently deletes that event and the event data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventRequest"
      },
      "name": "DeleteEvent",
      "output": {
        "shape": "DeleteEventResult"
      }
    },
    "DeleteEventType": {
      "documentation": "<p>Deletes an event type.</p> <p>You cannot delete an event type that is used in a detector or a model.</p> <p>When you delete an event type, Amazon Fraud Detector permanently deletes that event type and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventTypeRequest"
      },
      "name": "DeleteEventType",
      "output": {
        "shape": "DeleteEventTypeResult"
      }
    },
    "DeleteEventsByEventType": {
      "documentation": "<p>Deletes all events of a particular event type.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventsByEventTypeRequest"
      },
      "name": "DeleteEventsByEventType",
      "output": {
        "shape": "DeleteEventsByEventTypeResult"
      }
    },
    "DeleteExternalModel": {
      "documentation": "<p>Removes a SageMaker model from Amazon Fraud Detector.</p> <p>You can remove an Amazon SageMaker model if it is not associated with a detector version. Removing a SageMaker model disconnects it from Amazon Fraud Detector, but the model remains available in SageMaker.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExternalModelRequest"
      },
      "name": "DeleteExternalModel",
      "output": {
        "shape": "DeleteExternalModelResult"
      }
    },
    "DeleteLabel": {
      "documentation": "<p>Deletes a label.</p> <p>You cannot delete labels that are included in an event type in Amazon Fraud Detector.</p> <p>You cannot delete a label assigned to an event ID. You must first delete the relevant event ID.</p> <p>When you delete a label, Amazon Fraud Detector permanently deletes that label and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLabelRequest"
      },
      "name": "DeleteLabel",
      "output": {
        "shape": "DeleteLabelResult"
      }
    },
    "DeleteModel": {
      "documentation": "<p>Deletes a model.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model, Amazon Fraud Detector permanently deletes that model and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel",
      "output": {
        "shape": "DeleteModelResult"
      }
    },
    "DeleteModelVersion": {
      "documentation": "<p>Deletes a model version.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model version, Amazon Fraud Detector permanently deletes that model version and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteModelVersionRequest"
      },
      "name": "DeleteModelVersion",
      "output": {
        "shape": "DeleteModelVersionResult"
      }
    },
    "DeleteOutcome": {
      "documentation": "<p>Deletes an outcome.</p> <p>You cannot delete an outcome that is used in a rule version.</p> <p>When you delete an outcome, Amazon Fraud Detector permanently deletes that outcome and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOutcomeRequest"
      },
      "name": "DeleteOutcome",
      "output": {
        "shape": "DeleteOutcomeResult"
      }
    },
    "DeleteRule": {
      "documentation": "<p>Deletes the rule. You cannot delete a rule if it is used by an <code>ACTIVE</code> or <code>INACTIVE</code> detector version.</p> <p>When you delete a rule, Amazon Fraud Detector permanently deletes that rule and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleRequest"
      },
      "name": "DeleteRule",
      "output": {
        "shape": "DeleteRuleResult"
      }
    },
    "DeleteVariable": {
      "documentation": "<p>Deletes a variable.</p> <p>You can't delete variables that are included in an event type in Amazon Fraud Detector.</p> <p>Amazon Fraud Detector automatically deletes model output variables and SageMaker model output variables when you delete the model. You can't delete these variables manually.</p> <p>When you delete a variable, Amazon Fraud Detector permanently deletes that variable and the data is no longer stored in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVariableRequest"
      },
      "name": "DeleteVariable",
      "output": {
        "shape": "DeleteVariableResult"
      }
    },
    "DescribeDetector": {
      "documentation": "<p>Gets all versions for a specified detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDetectorRequest"
      },
      "name": "DescribeDetector",
      "output": {
        "shape": "DescribeDetectorResult"
      }
    },
    "DescribeModelVersions": {
      "documentation": "<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeModelVersionsRequest"
      },
      "name": "DescribeModelVersions",
      "output": {
        "shape": "DescribeModelVersionsResult"
      }
    },
    "GetBatchImportJobs": {
      "documentation": "<p>Gets all batch import jobs or a specific job of the specified ID. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 50 records per page. If you provide a <code>maxResults</code>, the value must be between 1 and 50. To get the next page results, provide the pagination token from the <code>GetBatchImportJobsResponse</code> as part of your request. A null pagination token fetches the records from the beginning.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBatchImportJobsRequest"
      },
      "name": "GetBatchImportJobs",
      "output": {
        "shape": "GetBatchImportJobsResult"
      }
    },
    "GetBatchPredictionJobs": {
      "documentation": "<p>Gets all batch prediction jobs or a specific job if you specify a job ID. This is a paginated API. If you provide a null maxResults, this action retrieves a maximum of 50 records per page. If you provide a maxResults, the value must be between 1 and 50. To get the next page results, provide the pagination token from the GetBatchPredictionJobsResponse as part of your request. A null pagination token fetches the records from the beginning.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBatchPredictionJobsRequest"
      },
      "name": "GetBatchPredictionJobs",
      "output": {
        "shape": "GetBatchPredictionJobsResult"
      }
    },
    "GetDeleteEventsByEventTypeStatus": {
      "documentation": "<p>Retrieves the status of a <code>DeleteEventsByEventType</code> action.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeleteEventsByEventTypeStatusRequest"
      },
      "name": "GetDeleteEventsByEventTypeStatus",
      "output": {
        "shape": "GetDeleteEventsByEventTypeStatusResult"
      }
    },
    "GetDetectorVersion": {
      "documentation": "<p>Gets a particular detector version. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDetectorVersionRequest"
      },
      "name": "GetDetectorVersion",
      "output": {
        "shape": "GetDetectorVersionResult"
      }
    },
    "GetDetectors": {
      "documentation": "<p>Gets all detectors or a single detector if a <code>detectorId</code> is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetDetectorsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDetectorsRequest"
      },
      "name": "GetDetectors",
      "output": {
        "shape": "GetDetectorsResult"
      }
    },
    "GetEntityTypes": {
      "documentation": "<p>Gets all entity types or a specific entity type if a name is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEntityTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEntityTypesRequest"
      },
      "name": "GetEntityTypes",
      "output": {
        "shape": "GetEntityTypesResult"
      }
    },
    "GetEvent": {
      "documentation": "<p>Retrieves details of events stored with Amazon Fraud Detector. This action does not retrieve prediction results.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEventRequest"
      },
      "name": "GetEvent",
      "output": {
        "shape": "GetEventResult"
      }
    },
    "GetEventPrediction": {
      "documentation": "<p>Evaluates an event against a detector version. If a version ID is not provided, the detector\u2019s (<code>ACTIVE</code>) version is used.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEventPredictionRequest"
      },
      "name": "GetEventPrediction",
      "output": {
        "shape": "GetEventPredictionResult"
      }
    },
    "GetEventPredictionMetadata": {
      "documentation": "<p> Gets details of the past fraud predictions for the specified event ID, event type, detector ID, and detector version ID that was generated in the specified time period. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEventPredictionMetadataRequest"
      },
      "name": "GetEventPredictionMetadata",
      "output": {
        "shape": "GetEventPredictionMetadataResult"
      }
    },
    "GetEventTypes": {
      "documentation": "<p>Gets all event types or a specific event type if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEventTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEventTypesRequest"
      },
      "name": "GetEventTypes",
      "output": {
        "shape": "GetEventTypesResult"
      }
    },
    "GetExternalModels": {
      "documentation": "<p>Gets the details for one or more Amazon SageMaker models that have been imported into the service. This is a paginated API. If you provide a null <code>maxResults</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetExternalModelsResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetExternalModelsRequest"
      },
      "name": "GetExternalModels",
      "output": {
        "shape": "GetExternalModelsResult"
      }
    },
    "GetKMSEncryptionKey": {
      "documentation": "<p>Gets the encryption key if a KMS key has been specified to be used to encrypt content in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GetKMSEncryptionKey",
      "output": {
        "shape": "GetKMSEncryptionKeyResult"
      }
    },
    "GetLabels": {
      "documentation": "<p>Gets all labels or a specific label if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 50 records per page. If you provide a <code>maxResults</code>, the value must be between 10 and 50. To get the next page results, provide the pagination token from the <code>GetGetLabelsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLabelsRequest"
      },
      "name": "GetLabels",
      "output": {
        "shape": "GetLabelsResult"
      }
    },
    "GetModelVersion": {
      "documentation": "<p>Gets the details of the specified model version.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetModelVersionRequest"
      },
      "name": "GetModelVersion",
      "output": {
        "shape": "GetModelVersionResult"
      }
    },
    "GetModels": {
      "documentation": "<p>Gets one or more models. Gets all models for the Amazon Web Services account if no model type and no model id provided. Gets all models for the Amazon Web Services account and model type, if the model type is specified but model id is not provided. Gets a specific model if (model type, model id) tuple is specified. </p> <p>This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 1 and 10. To get the next page results, provide the pagination token from the response as part of your request. A null pagination token fetches the records from the beginning.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetModelsRequest"
      },
      "name": "GetModels",
      "output": {
        "shape": "GetModelsResult"
      }
    },
    "GetOutcomes": {
      "documentation": "<p>Gets one or more outcomes. This is a paginated API. If you provide a null <code>maxResults</code>, this actions retrieves a maximum of 100 records per page. If you provide a <code>maxResults</code>, the value must be between 50 and 100. To get the next page results, provide the pagination token from the <code>GetOutcomesResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOutcomesRequest"
      },
      "name": "GetOutcomes",
      "output": {
        "shape": "GetOutcomesResult"
      }
    },
    "GetRules": {
      "documentation": "<p>Get all rules for a detector (paginated) if <code>ruleId</code> and <code>ruleVersion</code> are not specified. Gets all rules for the detector and the <code>ruleId</code> if present (paginated). Gets a specific rule if both the <code>ruleId</code> and the <code>ruleVersion</code> are specified.</p> <p>This is a paginated API. Providing null maxResults results in retrieving maximum of 100 records per page. If you provide maxResults the value must be between 50 and 100. To get the next page result, a provide a pagination token from GetRulesResult as part of your request. Null pagination token fetches the records from the beginning.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRulesRequest"
      },
      "name": "GetRules",
      "output": {
        "shape": "GetRulesResult"
      }
    },
    "GetVariables": {
      "documentation": "<p>Gets all of the variables or the specific variable. This is a paginated API. Providing null <code>maxSizePerPage</code> results in retrieving maximum of 100 records per page. If you provide <code>maxSizePerPage</code> the value must be between 50 and 100. To get the next page result, a provide a pagination token from <code>GetVariablesResult</code> as part of your request. Null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetVariablesRequest"
      },
      "name": "GetVariables",
      "output": {
        "shape": "GetVariablesResult"
      }
    },
    "ListEventPredictions": {
      "documentation": "<p>Gets a list of past predictions. The list can be filtered by detector ID, detector version ID, event ID, event type, or by specifying a time period. If filter is not specified, the most recent prediction is returned.</p> <p>For example, the following filter lists all past predictions for <code>xyz</code> event type - <code>{ \"eventType\":{ \"value\": \"xyz\" }\u201d } </code> </p> <p>This is a paginated API. If you provide a null <code>maxResults</code>, this action will retrieve a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 50 and 100. To get the next page results, provide the <code>nextToken</code> from the response as part of your request. A null <code>nextToken</code> fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEventPredictionsRequest"
      },
      "name": "ListEventPredictions",
      "output": {
        "shape": "ListEventPredictionsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with the resource. This is a paginated API. To get the next page results, provide the pagination token from the response as part of your request. A null pagination token fetches the records from the beginning. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "PutDetector": {
      "documentation": "<p>Creates or updates a detector. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDetectorRequest"
      },
      "name": "PutDetector",
      "output": {
        "shape": "PutDetectorResult"
      }
    },
    "PutEntityType": {
      "documentation": "<p>Creates or updates an entity type. An entity represents who is performing the event. As part of a fraud prediction, you pass the entity ID to indicate the specific entity who performed the event. An entity type classifies the entity. Example classifications include customer, merchant, or account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutEntityTypeRequest"
      },
      "name": "PutEntityType",
      "output": {
        "shape": "PutEntityTypeResult"
      }
    },
    "PutEventType": {
      "documentation": "<p>Creates or updates an event type. An event is a business activity that is evaluated for fraud risk. With Amazon Fraud Detector, you generate fraud predictions for events. An event type defines the structure for an event sent to Amazon Fraud Detector. This includes the variables sent as part of the event, the entity performing the event (such as a customer), and the labels that classify the event. Example event types include online payment transactions, account registrations, and authentications.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutEventTypeRequest"
      },
      "name": "PutEventType",
      "output": {
        "shape": "PutEventTypeResult"
      }
    },
    "PutExternalModel": {
      "documentation": "<p>Creates or updates an Amazon SageMaker model endpoint. You can also use this action to update the configuration of the model endpoint, including the IAM role and/or the mapped variables. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutExternalModelRequest"
      },
      "name": "PutExternalModel",
      "output": {
        "shape": "PutExternalModelResult"
      }
    },
    "PutKMSEncryptionKey": {
      "documentation": "<p>Specifies the KMS key to be used to encrypt content in Amazon Fraud Detector.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutKMSEncryptionKeyRequest"
      },
      "name": "PutKMSEncryptionKey",
      "output": {
        "shape": "PutKMSEncryptionKeyResult"
      }
    },
    "PutLabel": {
      "documentation": "<p>Creates or updates label. A label classifies an event as fraudulent or legitimate. Labels are associated with event types and used to train supervised machine learning models in Amazon Fraud Detector. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLabelRequest"
      },
      "name": "PutLabel",
      "output": {
        "shape": "PutLabelResult"
      }
    },
    "PutOutcome": {
      "documentation": "<p>Creates or updates an outcome. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutOutcomeRequest"
      },
      "name": "PutOutcome",
      "output": {
        "shape": "PutOutcomeResult"
      }
    },
    "SendEvent": {
      "documentation": "<p>Stores events in Amazon Fraud Detector without generating fraud predictions for those events. For example, you can use <code>SendEvent</code> to upload a historical dataset, which you can then later use to train a model.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendEventRequest"
      },
      "name": "SendEvent",
      "output": {
        "shape": "SendEventResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns tags to a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    },
    "UpdateDetectorVersion": {
      "documentation": "<p> Updates a detector version. The detector version attributes that you can update include models, external model endpoints, rules, rule execution mode, and description. You can only update a <code>DRAFT</code> detector version.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDetectorVersionRequest"
      },
      "name": "UpdateDetectorVersion",
      "output": {
        "shape": "UpdateDetectorVersionResult"
      }
    },
    "UpdateDetectorVersionMetadata": {
      "documentation": "<p>Updates the detector version's description. You can update the metadata for any detector version (<code>DRAFT, ACTIVE,</code> or <code>INACTIVE</code>). </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDetectorVersionMetadataRequest"
      },
      "name": "UpdateDetectorVersionMetadata",
      "output": {
        "shape": "UpdateDetectorVersionMetadataResult"
      }
    },
    "UpdateDetectorVersionStatus": {
      "documentation": "<p>Updates the detector version\u2019s status. You can perform the following promotions or demotions using <code>UpdateDetectorVersionStatus</code>: <code>DRAFT</code> to <code>ACTIVE</code>, <code>ACTIVE</code> to <code>INACTIVE</code>, and <code>INACTIVE</code> to <code>ACTIVE</code>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDetectorVersionStatusRequest"
      },
      "name": "UpdateDetectorVersionStatus",
      "output": {
        "shape": "UpdateDetectorVersionStatusResult"
      }
    },
    "UpdateEventLabel": {
      "documentation": "<p>Updates the specified event with a new label.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEventLabelRequest"
      },
      "name": "UpdateEventLabel",
      "output": {
        "shape": "UpdateEventLabelResult"
      }
    },
    "UpdateModel": {
      "documentation": "<p>Updates model description.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateModelRequest"
      },
      "name": "UpdateModel",
      "output": {
        "shape": "UpdateModelResult"
      }
    },
    "UpdateModelVersion": {
      "documentation": "<p>Updates a model version. Updating a model version retrains an existing model version using updated training data and produces a new minor version of the model. You can update the training data set location and data access role attributes using this action. This action creates and trains a new minor version of the model, for example version 1.01, 1.02, 1.03.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateModelVersionRequest"
      },
      "name": "UpdateModelVersion",
      "output": {
        "shape": "UpdateModelVersionResult"
      }
    },
    "UpdateModelVersionStatus": {
      "documentation": "<p>Updates the status of a model version.</p> <p>You can perform the following status updates:</p> <ol> <li> <p>Change the <code>TRAINING_IN_PROGRESS</code> status to <code>TRAINING_CANCELLED</code>.</p> </li> <li> <p>Change the <code>TRAINING_COMPLETE</code> status to <code>ACTIVE</code>.</p> </li> <li> <p>Change <code>ACTIVE</code> to <code>INACTIVE</code>.</p> </li> </ol>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateModelVersionStatusRequest"
      },
      "name": "UpdateModelVersionStatus",
      "output": {
        "shape": "UpdateModelVersionStatusResult"
      }
    },
    "UpdateRuleMetadata": {
      "documentation": "<p>Updates a rule's metadata. The description attribute can be updated.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleMetadataRequest"
      },
      "name": "UpdateRuleMetadata",
      "output": {
        "shape": "UpdateRuleMetadataResult"
      }
    },
    "UpdateRuleVersion": {
      "documentation": "<p>Updates a rule version resulting in a new rule version. Updates a rule version resulting in a new rule version (version 1, 2, 3 ...). </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleVersionRequest"
      },
      "name": "UpdateRuleVersion",
      "output": {
        "shape": "UpdateRuleVersionResult"
      }
    },
    "UpdateVariable": {
      "documentation": "<p>Updates a variable.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateVariableRequest"
      },
      "name": "UpdateVariable",
      "output": {
        "shape": "UpdateVariableResult"
      }
    }
  },
  "shapes": {
    "ATIMetricDataPoint": {
      "documentation": "<p> The Account Takeover Insights (ATI) model performance metrics data points. </p>",
      "members": {
        "adr": {
          "documentation": "<p> The anomaly discovery rate. This metric quantifies the percentage of anomalies that can be detected by the model at the selected score threshold. A lower score threshold increases the percentage of anomalies captured by the model, but would also require challenging a larger percentage of login events, leading to a higher customer friction. </p>",
          "shape": "float"
        },
        "atodr": {
          "documentation": "<p> The account takeover discovery rate. This metric quantifies the percentage of account compromise events that can be detected by the model at the selected score threshold. This metric is only available if 50 or more entities with at-least one labeled account takeover event is present in the ingested dataset. </p>",
          "shape": "float"
        },
        "cr": {
          "documentation": "<p> The challenge rate. This indicates the percentage of login events that the model recommends to challenge such as one-time password, multi-factor authentication, and investigations. </p>",
          "shape": "float"
        },
        "threshold": {
          "documentation": "<p> The model's threshold that specifies an acceptable fraud capture rate. For example, a threshold of 500 means any model score 500 or above is labeled as fraud. </p>",
          "shape": "float"
        }
      },
      "type": "structure"
    },
    "ATIMetricDataPointsList": {
      "member": {
        "shape": "ATIMetricDataPoint"
      },
      "type": "list"
    },
    "ATIModelPerformance": {
      "documentation": "<p> The Account Takeover Insights (ATI) model performance score. </p>",
      "members": {
        "asi": {
          "documentation": "<p> The anomaly separation index (ASI) score. This metric summarizes the overall ability of the model to separate anomalous activities from the normal behavior. Depending on the business, a large fraction of these anomalous activities can be malicious and correspond to the account takeover attacks. A model with no separability power will have the lowest possible ASI score of 0.5, whereas the a model with a high separability power will have the highest possible ASI score of 1.0 </p>",
          "shape": "float"
        }
      },
      "type": "structure"
    },
    "ATITrainingMetricsValue": {
      "documentation": "<p> The Account Takeover Insights (ATI) model training metric details. </p>",
      "members": {
        "metricDataPoints": {
          "documentation": "<p> The model's performance metrics data points. </p>",
          "shape": "ATIMetricDataPointsList"
        },
        "modelPerformance": {
          "documentation": "<p> The model's overall performance scores. </p>",
          "shape": "ATIModelPerformance"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AggregatedLogOddsMetric": {
      "documentation": "<p>The log odds metric details.</p> <p>Account Takeover Insights (ATI) model uses event variables from the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>",
      "members": {
        "aggregatedVariablesImportance": {
          "documentation": "<p> The relative importance of the variables in the list to the other event variable. </p>",
          "shape": "float"
        },
        "variableNames": {
          "documentation": "<p> The names of all the variables. </p>",
          "shape": "ListOfStrings"
        }
      },
      "required": [
        "variableNames",
        "aggregatedVariablesImportance"
      ],
      "type": "structure"
    },
    "AggregatedVariablesImpactExplanation": {
      "documentation": "<p> The details of the impact of aggregated variables on the prediction score. </p> <p>Account Takeover Insights (ATI) model uses the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, the model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>",
      "members": {
        "eventVariableNames": {
          "documentation": "<p> The names of all the event variables that were used to derive the aggregated variables. </p>",
          "shape": "ListOfStrings"
        },
        "logOddsImpact": {
          "documentation": "<p> The raw, uninterpreted value represented as log-odds of the fraud. These values are usually between -10 to +10, but range from -infinity to +infinity.</p> <ul> <li> <p>A positive value indicates that the variables drove the risk score up.</p> </li> <li> <p>A negative value indicates that the variables drove the risk score down.</p> </li> </ul>",
          "shape": "float"
        },
        "relativeImpact": {
          "documentation": "<p> The relative impact of the aggregated variables in terms of magnitude on the prediction scores. </p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "AggregatedVariablesImportanceMetrics": {
      "documentation": "<p>The details of the relative importance of the aggregated variables.</p> <p>Account Takeover Insights (ATI) model uses event variables from the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>",
      "members": {
        "logOddsMetrics": {
          "documentation": "<p> List of variables' metrics. </p>",
          "shape": "ListOfAggregatedLogOddsMetrics"
        }
      },
      "type": "structure"
    },
    "AsyncJobStatus": {
      "enum": [
        "IN_PROGRESS_INITIALIZING",
        "IN_PROGRESS",
        "CANCEL_IN_PROGRESS",
        "CANCELED",
        "COMPLETE",
        "FAILED"
      ],
      "type": "string"
    },
    "BatchCreateVariableError": {
      "documentation": "<p>Provides the error of the batch create variable API.</p>",
      "members": {
        "code": {
          "documentation": "<p>The error code. </p>",
          "shape": "integer"
        },
        "message": {
          "documentation": "<p>The error message.</p>",
          "shape": "string"
        },
        "name": {
          "documentation": "<p>The name.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BatchCreateVariableErrorList": {
      "member": {
        "shape": "BatchCreateVariableError"
      },
      "type": "list"
    },
    "BatchCreateVariableRequest": {
      "members": {
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        },
        "variableEntries": {
          "documentation": "<p>The list of variables for the batch create variable request.</p>",
          "shape": "VariableEntryList"
        }
      },
      "required": [
        "variableEntries"
      ],
      "type": "structure"
    },
    "BatchCreateVariableResult": {
      "members": {
        "errors": {
          "documentation": "<p>Provides the errors for the <code>BatchCreateVariable</code> request.</p>",
          "shape": "BatchCreateVariableErrorList"
        }
      },
      "type": "structure"
    },
    "BatchGetVariableError": {
      "documentation": "<p>Provides the error of the batch get variable API.</p>",
      "members": {
        "code": {
          "documentation": "<p>The error code. </p>",
          "shape": "integer"
        },
        "message": {
          "documentation": "<p>The error message.</p>",
          "shape": "string"
        },
        "name": {
          "documentation": "<p>The error name. </p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BatchGetVariableErrorList": {
      "member": {
        "shape": "BatchGetVariableError"
      },
      "type": "list"
    },
    "BatchGetVariableRequest": {
      "members": {
        "names": {
          "documentation": "<p>The list of variable names to get.</p>",
          "shape": "NameList"
        }
      },
      "required": [
        "names"
      ],
      "type": "structure"
    },
    "BatchGetVariableResult": {
      "members": {
        "errors": {
          "documentation": "<p>The errors from the request.</p>",
          "shape": "BatchGetVariableErrorList"
        },
        "variables": {
          "documentation": "<p>The returned variables.</p>",
          "shape": "VariableList"
        }
      },
      "type": "structure"
    },
    "BatchImport": {
      "documentation": "<p>The batch import job details.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the batch import job.</p>",
          "shape": "fraudDetectorArn"
        },
        "completionTime": {
          "documentation": "<p>Timestamp of when batch import job completed.</p>",
          "shape": "time"
        },
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        },
        "failedRecordsCount": {
          "documentation": "<p>The number of records that failed to import. </p>",
          "shape": "Integer"
        },
        "failureReason": {
          "documentation": "<p>The reason batch import job failed.</p>",
          "shape": "string"
        },
        "iamRoleArn": {
          "documentation": "<p>The ARN of the IAM role to use for this job request.</p>",
          "shape": "iamRoleArn"
        },
        "inputPath": {
          "documentation": "<p>The Amazon S3 location of your data file for batch import.</p>",
          "shape": "s3BucketLocation"
        },
        "jobId": {
          "documentation": "<p>The ID of the batch import job. </p>",
          "shape": "identifier"
        },
        "outputPath": {
          "documentation": "<p>The Amazon S3 location of your output file.</p>",
          "shape": "s3BucketLocation"
        },
        "processedRecordsCount": {
          "documentation": "<p>The number of records processed by batch import job.</p>",
          "shape": "Integer"
        },
        "startTime": {
          "documentation": "<p>Timestamp of when the batch import job started.</p>",
          "shape": "time"
        },
        "status": {
          "documentation": "<p>The status of the batch import job.</p>",
          "shape": "AsyncJobStatus"
        },
        "totalRecordsCount": {
          "documentation": "<p>The total number of records in the batch import job.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchImportList": {
      "member": {
        "shape": "BatchImport"
      },
      "type": "list"
    },
    "BatchPrediction": {
      "documentation": "<p>The batch prediction details.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of batch prediction job.</p>",
          "shape": "fraudDetectorArn"
        },
        "completionTime": {
          "documentation": "<p>Timestamp of when the batch prediction job completed.</p>",
          "shape": "time"
        },
        "detectorName": {
          "documentation": "<p>The name of the detector.</p>",
          "shape": "identifier"
        },
        "detectorVersion": {
          "documentation": "<p>The detector version. </p>",
          "shape": "floatVersionString"
        },
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        },
        "failureReason": {
          "documentation": "<p>The reason a batch prediction job failed.</p>",
          "shape": "string"
        },
        "iamRoleArn": {
          "documentation": "<p>The ARN of the IAM role to use for this job request.</p>",
          "shape": "iamRoleArn"
        },
        "inputPath": {
          "documentation": "<p>The Amazon S3 location of your training file.</p>",
          "shape": "s3BucketLocation"
        },
        "jobId": {
          "documentation": "<p>The job ID for the batch prediction.</p>",
          "shape": "identifier"
        },
        "lastHeartbeatTime": {
          "documentation": "<p>Timestamp of most recent heartbeat indicating the batch prediction job was making progress.</p>",
          "shape": "time"
        },
        "outputPath": {
          "documentation": "<p>The Amazon S3 location of your output file.</p>",
          "shape": "s3BucketLocation"
        },
        "processedRecordsCount": {
          "documentation": "<p>The number of records processed by the batch prediction job.</p>",
          "shape": "Integer"
        },
        "startTime": {
          "documentation": "<p>Timestamp of when the batch prediction job started.</p>",
          "shape": "time"
        },
        "status": {
          "documentation": "<p>The batch prediction status.</p>",
          "shape": "AsyncJobStatus"
        },
        "totalRecordsCount": {
          "documentation": "<p>The total number of records in the batch prediction job.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchPredictionList": {
      "member": {
        "shape": "BatchPrediction"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelBatchImportJobRequest": {
      "members": {
        "jobId": {
          "documentation": "<p> The ID of an in-progress batch import job to cancel. </p> <p>Amazon Fraud Detector will throw an error if the batch import job is in <code>FAILED</code>, <code>CANCELED</code>, or <code>COMPLETED</code> state.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelBatchImportJobResult": {
      "members": {},
      "type": "structure"
    },
    "CancelBatchPredictionJobRequest": {
      "members": {
        "jobId": {
          "documentation": "<p>The ID of the batch prediction job to cancel.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelBatchPredictionJobResult": {
      "members": {},
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>An exception indicating there was a conflict during a delete operation.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CreateBatchImportJobRequest": {
      "members": {
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        },
        "iamRoleArn": {
          "documentation": "<p>The ARN of the IAM role created for Amazon S3 bucket that holds your data file.</p> <p>The IAM role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket. For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the <i>Amazon S3 User Guide</i>.</p>",
          "shape": "iamRoleArn"
        },
        "inputPath": {
          "documentation": "<p>The URI that points to the Amazon S3 location of your data file.</p>",
          "shape": "s3BucketLocation"
        },
        "jobId": {
          "documentation": "<p>The ID of the batch import job. The ID cannot be of a past job, unless the job exists in <code>CREATE_FAILED</code> state.</p>",
          "shape": "identifier"
        },
        "outputPath": {
          "documentation": "<p>The URI that points to the Amazon S3 location for storing your results. </p>",
          "shape": "s3BucketLocation"
        },
        "tags": {
          "documentation": "<p>A collection of key-value pairs associated with this request. </p>",
          "shape": "tagList"
        }
      },
      "required": [
        "jobId",
        "inputPath",
        "outputPath",
        "eventTypeName",
        "iamRoleArn"
      ],
      "type": "structure"
    },
    "CreateBatchImportJobResult": {
      "members": {},
      "type": "structure"
    },
    "CreateBatchPredictionJobRequest": {
      "members": {
        "detectorName": {
          "documentation": "<p>The name of the detector.</p>",
          "shape": "identifier"
        },
        "detectorVersion": {
          "documentation": "<p>The detector version.</p>",
          "shape": "wholeNumberVersionString"
        },
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        },
        "iamRoleArn": {
          "documentation": "<p>The ARN of the IAM role to use for this job request.</p> <p>The IAM Role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket. For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the <i>Amazon S3 User Guide</i>.</p>",
          "shape": "iamRoleArn"
        },
        "inputPath": {
          "documentation": "<p>The Amazon S3 location of your training file.</p>",
          "shape": "s3BucketLocation"
        },
        "jobId": {
          "documentation": "<p>The ID of the batch prediction job.</p>",
          "shape": "identifier"
        },
        "outputPath": {
          "documentation": "<p>The Amazon S3 location of your output file.</p>",
          "shape": "s3BucketLocation"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "jobId",
        "inputPath",
        "outputPath",
        "eventTypeName",
        "detectorName",
        "iamRoleArn"
      ],
      "type": "structure"
    },
    "CreateBatchPredictionJobResult": {
      "members": {},
      "type": "structure"
    },
    "CreateDetectorVersionRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the detector version.</p>",
          "shape": "description"
        },
        "detectorId": {
          "documentation": "<p>The ID of the detector under which you want to create a new version.</p>",
          "shape": "identifier"
        },
        "externalModelEndpoints": {
          "documentation": "<p>The Amazon Sagemaker model endpoints to include in the detector version.</p>",
          "shape": "ListOfStrings"
        },
        "modelVersions": {
          "documentation": "<p>The model versions to include in the detector version.</p>",
          "shape": "ListOfModelVersions"
        },
        "ruleExecutionMode": {
          "documentation": "<p>The rule execution mode for the rules included in the detector version.</p> <p>You can define and edit the rule mode at the detector version level, when it is in draft status.</p> <p>If you specify <code>FIRST_MATCHED</code>, Amazon Fraud Detector evaluates rules sequentially, first to last, stopping at the first matched rule. Amazon Fraud dectector then provides the outcomes for that single rule.</p> <p>If you specifiy <code>ALL_MATCHED</code>, Amazon Fraud Detector evaluates all rules and returns the outcomes for all matched rules. </p> <p>The default behavior is <code>FIRST_MATCHED</code>.</p>",
          "shape": "RuleExecutionMode"
        },
        "rules": {
          "documentation": "<p>The rules to include in the detector version.</p>",
          "shape": "RuleList"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "detectorId",
        "rules"
      ],
      "type": "structure"
    },
    "CreateDetectorVersionResult": {
      "members": {
        "detectorId": {
          "documentation": "<p>The ID for the created version's parent detector.</p>",
          "shape": "identifier"
        },
        "detectorVersionId": {
          "documentation": "<p>The ID for the created detector. </p>",
          "shape": "wholeNumberVersionString"
        },
        "status": {
          "documentation": "<p>The status of the detector version.</p>",
          "shape": "DetectorVersionStatus"
        }
      },
      "type": "structure"
    },
    "CreateModelRequest": {
      "members": {
        "description": {
          "documentation": "<p>The model description. </p>",
          "shape": "description"
        },
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "string"
        },
        "modelId": {
          "documentation": "<p>The model ID.</p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type. </p>",
          "shape": "ModelTypeEnum"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "modelId",
        "modelType",
        "eventTypeName"
      ],
      "type": "structure"
    },
    "CreateModelResult": {
      "members": {},
      "type": "structure"
    },
    "CreateModelVersionRequest": {
      "members": {
        "externalEventsDetail": {
          "documentation": "<p>Details of the external events data used for model version training. Required if <code>trainingDataSource</code> is <code>EXTERNAL_EVENTS</code>.</p>",
          "shape": "ExternalEventsDetail"
        },
        "ingestedEventsDetail": {
          "documentation": "<p>Details of the ingested events data used for model version training. Required if <code>trainingDataSource</code> is <code>INGESTED_EVENTS</code>.</p>",
          "shape": "IngestedEventsDetail"
        },
        "modelId": {
          "documentation": "<p>The model ID. </p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type.</p>",
          "shape": "ModelTypeEnum"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        },
        "trainingDataSchema": {
          "documentation": "<p>The training data schema.</p>",
          "shape": "TrainingDataSchema"
        },
        "trainingDataSource": {
          "documentation": "<p>The training data source location in Amazon S3. </p>",
          "shape": "TrainingDataSourceEnum"
        }
      },
      "required": [
        "modelId",
        "modelType",
        "trainingDataSource",
        "trainingDataSchema"
      ],
      "type": "structure"
    },
    "CreateModelVersionResult": {
      "members": {
        "modelId": {
          "documentation": "<p>The model ID.</p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type.</p>",
          "shape": "ModelTypeEnum"
        },
        "modelVersionNumber": {
          "documentation": "<p>The model version number of the model version created.</p>",
          "shape": "floatVersionString"
        },
        "status": {
          "documentation": "<p>The model version status. </p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CreateRuleRequest": {
      "members": {
        "description": {
          "documentation": "<p>The rule description.</p>",
          "shape": "description"
        },
        "detectorId": {
          "documentation": "<p>The detector ID for the rule's parent detector.</p>",
          "shape": "identifier"
        },
        "expression": {
          "documentation": "<p>The rule expression.</p>",
          "shape": "ruleExpression"
        },
        "language": {
          "documentation": "<p>The language of the rule.</p>",
          "shape": "Language"
        },
        "outcomes": {
          "documentation": "<p>The outcome or outcomes returned when the rule expression matches.</p>",
          "shape": "NonEmptyListOfStrings"
        },
        "ruleId": {
          "documentation": "<p>The rule ID.</p>",
          "shape": "identifier"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "ruleId",
        "detectorId",
        "expression",
        "language",
        "outcomes"
      ],
      "type": "structure"
    },
    "CreateRuleResult": {
      "members": {
        "rule": {
          "documentation": "<p>The created rule.</p>",
          "shape": "Rule"
        }
      },
      "type": "structure"
    },
    "CreateVariableRequest": {
      "members": {
        "dataSource": {
          "documentation": "<p>The source of the data.</p>",
          "shape": "DataSource"
        },
        "dataType": {
          "documentation": "<p>The data type.</p>",
          "shape": "DataType"
        },
        "defaultValue": {
          "documentation": "<p>The default value for the variable when no value is received.</p>",
          "shape": "string"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "string"
        },
        "name": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "string"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "tagList"
        },
        "variableType": {
          "documentation": "<p>The variable type. For more information see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/create-a-variable.html#variable-types\">Variable types</a>. </p> <p>Valid Values: <code>AUTH_CODE | AVS | BILLING_ADDRESS_L1 | BILLING_ADDRESS_L2 | BILLING_CITY | BILLING_COUNTRY | BILLING_NAME | BILLING_PHONE | BILLING_STATE | BILLING_ZIP | CARD_BIN | CATEGORICAL | CURRENCY_CODE | EMAIL_ADDRESS | FINGERPRINT | FRAUD_LABEL | FREE_FORM_TEXT | IP_ADDRESS | NUMERIC | ORDER_ID | PAYMENT_TYPE | PHONE_NUMBER | PRICE | PRODUCT_CATEGORY | SHIPPING_ADDRESS_L1 | SHIPPING_ADDRESS_L2 | SHIPPING_CITY | SHIPPING_COUNTRY | SHIPPING_NAME | SHIPPING_PHONE | SHIPPING_STATE | SHIPPING_ZIP | USERAGENT</code> </p>",
          "shape": "string"
        }
      },
      "required": [
        "name",
        "dataType",
        "dataSource",
        "defaultValue"
      ],
      "type": "structure"
    },
    "CreateVariableResult": {
      "members": {},
      "type": "structure"
    },
    "CsvIndexToVariableMap": {
      "key": {
        "shape": "string"
      },
      "type": "map",
      "value": {
        "shape": "string"
      }
    },
    "DataSource": {
      "enum": [
        "EVENT",
        "MODEL_SCORE",
        "EXTERNAL_MODEL_SCORE"
      ],
      "type": "string"
    },
    "DataType": {
      "enum": [
        "STRING",
        "INTEGER",
        "FLOAT",
        "BOOLEAN"
      ],
      "type": "string"
    },
    "DataValidationMetrics": {
      "documentation": "<p>The model training data validation metrics.</p>",
      "members": {
        "fieldLevelMessages": {
          "documentation": "<p>The field-specific model training validation messages.</p>",
          "shape": "fieldValidationMessageList"
        },
        "fileLevelMessages": {
          "documentation": "<p>The file-specific model training data validation messages.</p>",
          "shape": "fileValidationMessageList"
        }
      },
      "type": "structure"
    },
    "DeleteAuditHistory": {
      "type": "boolean"
    },
    "DeleteBatchImportJobRequest": {
      "members": {
        "jobId": {
          "documentation": "<p>The ID of the batch import job to delete. </p>",
          "shape": "identifier"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "DeleteBatchImportJobResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteBatchPredictionJobRequest": {
      "members": {
        "jobId": {
          "documentation": "<p>The ID of the batch prediction job to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "DeleteBatchPredictionJobResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteDetectorRequest": {
      "members": {
        "detectorId": {
          "documentation": "<p>The ID of the detector to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "detectorId"
      ],
      "type": "structure"
    },
    "DeleteDetectorResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteDetectorVersionRequest": {
      "members": {
        "detectorId": {
          "documentation": "<p>The ID of the parent detector for the detector version to delete.</p>",
          "shape": "identifier"
        },
        "detectorVersionId": {
          "documentation": "<p>The ID of the detector version to delete.</p>",
          "shape": "wholeNumberVersionString"
        }
      },
      "required": [
        "detectorId",
        "detectorVersionId"
      ],
      "type": "structure"
    },
    "DeleteDetectorVersionResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteEntityTypeRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the entity type to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteEntityTypeResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteEventRequest": {
      "members": {
        "deleteAuditHistory": {
          "documentation": "<p>Specifies whether or not to delete any predictions associated with the event.</p>",
          "shape": "DeleteAuditHistory"
        },
        "eventId": {
          "documentation": "<p>The ID of the event to delete.</p>",
          "shape": "identifier"
        },
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "eventId",
        "eventTypeName"
      ],
      "type": "structure"
    },
    "DeleteEventResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteEventTypeRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the event type to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteEventTypeResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteEventsByEventTypeRequest": {
      "members": {
        "eventTypeName": {
          "documentation": "<p>The name of the event type.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "eventTypeName"
      ],
      "type": "structure"
    },
    "DeleteEventsByEventTypeResult": {
      "members": {
        "eventTypeName": {
          "documentation": "<p>Name of event type for which to delete the events.</p>",
          "shape": "identifier"
        },
        "eventsDeletionStatus": {
          "documentation": "<p>The status of the delete request.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DeleteExternalModelRequest": {
      "members": {
        "modelEndpoint": {
          "documentation": "<p>The endpoint of the Amazon Sagemaker model to delete.</p>",
          "shape": "sageMakerEndpointIdentifier"
        }
      },
      "required": [
        "modelEndpoint"
      ],
      "type": "structure"
    },
    "DeleteExternalModelResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteLabelRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the label to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteLabelResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteModelRequest": {
      "members": {
        "modelId": {
          "documentation": "<p>The model ID of the model to delete.</p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type of the model to delete.</p>",
          "shape": "ModelTypeEnum"
        }
      },
      "required": [
        "modelId",
        "modelType"
      ],
      "type": "structure"
    },
    "DeleteModelResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteModelVersionRequest": {
      "members": {
        "modelId": {
          "documentation": "<p>The model ID of the model version to delete.</p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type of the model version to delete.</p>",
          "shape": "ModelTypeEnum"
        },
        "modelVersionNumber": {
          "documentation": "<p>The model version number of the model version to delete.</p>",
          "shape": "floatVersionString"
        }
      },
      "required": [
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "type": "structure"
    },
    "DeleteModelVersionResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteOutcomeRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the outcome to delete.</p>",
          "shape": "identifier"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteOutcomeResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteRuleRequest": {
      "members": {
        "rule": {
          "shape": "Rule"
        }
      },
      "required": [
        "rule"
      ],
      "type": "structure"
    },
    "DeleteRuleResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteVariableRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the variable to delete.</p>",
          "shape": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteVariableResult": {
      "members": {},
      "type": "structure"
    },
    "DescribeDetectorRequest": {
      "members": {
        "detectorId": {
          "documentation": "<p>The detector ID.</p>",
          "shape": "identifier"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return for the request.</p>",
          "shape": "DetectorVersionMaxResults"
        },
        "nextToken": {
          "documentation": "<p>The next token from the previous response.</p>",
          "shape": "string"
        }
      },
      "required": [
        "detectorId"
      ],
      "type": "structure"
    },
    "DescribeDetectorResult": {
      "members": {
        "arn": {
          "documentation": "<p>The detector ARN.</p>",
          "shape": "fraudDetectorArn"
        },
        "detectorId": {
          "documentation": "<p>The detector ID.</p>",
          "shape": "identifier"
        },
        "detectorVersionSummaries": {
          "documentation": "<p>The status and description for each detector version.</p>",
          "shape": "DetectorVersionSummaryList"
        },
        "nextToken": {
          "documentation": "<p>The next token to be used for subsequent requests.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DescribeModelVersionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "modelsMaxPageSize"
        },
        "modelId": {
          "documentation": "<p>The model ID.</p>",
          "shape": "modelIdentifier"
        },
        "modelType": {
          "documentation": "<p>The model type.</p>",
          "shape": "ModelTypeEnum"
        },
        "modelVersionNumber": {
          "documentation": "<p>The model version number.</p>",
          "shape": "floatVersionString"
        },
        "nextToken": {
          "documentation": "<p>The next token from the previous results.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DescribeModelVersionsResult": {
      "members": {
        "modelVersionDetails": {
          "documentation": "<p>The model version details.</p>",
          "shape": "modelVersionDetailList"
        },
        "nextToken": {
          "documentation": "<p>The next token.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "Detector": {
      "documentation": "<p>The detector.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The detector ARN.</p>",
          "shape": "fraudDetectorArn"
        },
        "createdTime": {
          "documentation": "<p>Timestamp of when the detector was created.</p>",
          "shape": "time"
        },
        "description": {
          "documentation": "<p>The detector description.</p>",
          "shape": "description"
        },
        "detectorId": {
          "documentation": "<p>The detector ID.</p>",
[...]
